[2018-12-13 19:04] mairaw commented on #9587
@leecow @vivmishra can you take a look at this issue? Where should we move this too?

[2018-12-13 19:12] StingyJack commented on #9577
It was not going to get support for TLS 1.2.

From https://blogs.msdn.microsoft.com/sqlreleaseservices/tls-1-2-support-for-sql-server-2008-2008-r2-2012-and-2014/
![image](https://user-images.githubusercontent.com/15381181/49961096-ca4ce800-fedf-11e8-9187-a8c49379d781.png)

I went looking again just now, and I've found  ["Yes it is possible"](https://support.microsoft.com/en-us/help/3135244/tls-1-2

[2018-12-13 19:12] #9577 closed

[2018-12-13 19:12] madamakis opened #9589 "do not use CAS"
Is there something wrong with CAS. A 2017 Microsoft article is all about using CAS. I'm confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f89dddf-e9b5-b7c6-9ecc-a67b94f4412a
* Version Independent ID: d44fe46d-fce9-c72e-d035-a0c9c7f09353
* Content: [Secure coding guidelines for .NET](https://docs.microsoft.com/e

[2018-12-13 19:51] leecow commented on #9587
Just tested fine with a clean 18.04 Docker image.

@evermeire - The repo registration information will be hiding in /etc/apt/sources.list.d. If you performed the repo registration steps detailed at https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current then you should find a microsoft-prod.list file that has a single line: `deb [arch=amd64] https://packages.microsoft.c

[2018-12-13 20:00] regal60740 opened #9591 "To restore the PIA dependency"
Microsoft.Office.Interop.Word is in the list of assemblies even after setting Embed Interop Types property from True to False.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f0293f1-9cc7-1c81-351b-4f37784dd39d
* Version Independent ID: 5925edd7-d9bb-80d4-c722-922ef3cbc1a3
* Content: [Walkthrough: Office Programming (C

[2018-12-13 20:43] BillWagner commented on #9517
Closing this based on above discussion and issue.

[2018-12-13 21:22] evermeire commented on #9587
In the /etc/apt/sources.list.d I had the following two files:
- microsoft-prod.list.distUpgrade
- microsoft-prod.list.save

The both contain the line:
deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main

I created a third file with the following:
sudo cp microsoft-prod.list.save microsoft-prod.list

Still the same issue when attempting to install 2.2.

I had a co-worker w

[2018-12-13 21:49] #9562 closed

[2018-12-13 22:44] regal60740 opened #9595 "Calling a Dynamic Language Library"
First thing I had to do was to set the DynamicIronPythonSample project to the start up project. Next, I had to change the file path to @"\IronPython 2.7\Lib". The last step I had to perform was to copy the IronPython 2.7 folder from programs folder to programs (x86) folder because the error I received in the console showed me the program was looking in that folder and could not find the file. Once

[2018-12-13 23:13] #9476 closed

[2018-12-13 23:48] rpetrusha commented on #9514
This was addressed in #9557,

[2018-12-13 23:48] #9514 closed

[2018-12-14 03:10] jmarkman commented on #9102
Although it's not an urgent priority, I was interested in trying my hand at this.

[2018-12-14 05:30] JRAlexander commented on #9552
Thanks @nschonni! This has been fixed in https://github.com/dotnet/docs/pull/9371.

[2018-12-14 05:31] #9552 closed

[2018-12-14 07:16] baruchiro opened #9598 "What is the different bitween nuget package and nuget tool?"
If both are a nuget, so every tool is also can be imported as nuget?

I have a library I want to publish as nuget, and I want to publish a tool that uses this nuget. What should I do?
Create two projects in one solution, one project for nuget and one project for the tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-14 09:40] f2calv commented on #8647
Ditto - "dotnet published\aspnetapp.dll" (windows) and "dotnet published/aspnetapp.dll" (linux) need to be amended to "dotnet aspnetapp\published\aspnetapp.dll" & "dotnet aspnetapp/published/aspnetapp.dll"

[2018-12-14 10:31] hoksource opened #9601 "Is there a similar version of this for adding .dll? or nuget package?"
I like to distribute a project without the source code, for simplicity. Is there a dotnet add reference my.dll
or dotnet add package my.nupkg?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ab77c3-eba6-e947-8ffa-0fcda722f34b
* Version Independent ID: 48bbcb58-cfd1-b3d3-7a2a-319716541362
* Content: [dotnet-add referen

[2018-12-14 12:52] volkan-yazilim commented on #9581
Sorry. My bad.

[2018-12-14 12:52] #9581 closed

[2018-12-14 15:12] Loves2Code opened #9604 "Code is incorrect"
Though the example Console app is conceptually correct, the "return;" statement needs to return something convertible to a StreamWriter or "null;"

Incorrect code:

static StreamWriter OpenStream(string path)
   {
        if (path is null) {
            Console.WriteLine("You did not supply a file path.");
            return;
        }

Possible correct code:

static StreamWriter OpenStream(string

[2018-12-14 15:12] #8941 closed

[2018-12-14 15:35] Mcgrady2009 commented on #9184
[https://github.com/dotnet/docs/issues/9278](url)
you can see this url

[2018-12-14 16:15] mikkelbu commented on #9565
The page states
[code]

[2018-12-14 16:17] bkietz opened #9605 "Running scripts using vsdevcmd"
I'd like to use VsDevCmd to to run other scripts, but (for example) VsDevCmd.bat /k myscript.bat doesn't work. How should this be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a1428fb-1282-c537-8714-29cf2ccb0446
* Version Independent ID: d329fbf9-0b17-e4e4-733f-9b9c96eb46bd
* Content: [Developer Command Prompt

[2018-12-14 17:14] pappukr opened #9606 "How to use RDLC in .Net core 2.0 to export report."
**Before you open an issue**

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, consider asking on a support forum site.
- A site design concern, create an issue at [MicrosoftDocs/feedback](https://github.com/MicrosoftDocs

[2018-12-14 17:16] pappukr opened #9607 "How to use RDLC in .Net core 2.0 ."
How to use RDLC in .Net core 2.0 to export report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49bc05d-7c8e-5f89-aac5-d133225da4d5
* Version Independent ID: 2f831fc9-dfe6-15db-4ec6-00f59c2dacc2
* Content: [.NET Core Guide](https://docs.microsoft.com/en-us/dotnet/core/#support)
* Content Source: [docs/core/index.md]

[2018-12-14 17:51] mairaw commented on #9607
I don’t think RDLC is supported on .NET Core but you can follow the discussion about this at https://github.com/aspnet/AspNetCore/issues/1528. Since this is more of a product question, I’ll be closing this issue.

[2018-12-14 17:51] #9607 closed

[2018-12-14 18:44] #8179 closed

[2018-12-14 18:44] regal60740 opened #9608 "Using the Inherited Control on a Form"
Everything worked fine until I got to this step. The trouble began when I got to this particular step: In the Toolbox, expand the ctlClockLib Components node. Well, when I did step 2: Add a new Windows Application project to the solution, and name it Test., I did a search in VS 2017 for Windows Application and at the top of the list was WPF App so I added this project. When I tried to expand the c

[2018-12-14 19:32] Thraka commented on #9547
I feel like (based on the feedback and the searches coming in to the page) people  are visiting the page because they want to validate an email and want a solution. Therefor, they don't read the page really and probably just skim straight down to the code.

Comparing it to the other example regex pages, none of them have any negative votes. This is the only one. And based on the feedback, it's bec

[2018-12-14 19:41] Thraka commented on #9598
@baruchiro Hi!

Your tool project would reference the NuGet package that contains the library you're using. When you then build the NuGet package for the tool, it will know the dependency on the other NuGet package and when you install the tool, the install system will automatically pull down the dependency NuGet package along with the tool NuGet package.

This is **if** you want to have your libr

[2018-12-14 20:25] coreys079 opened #9609 "How do you know which access modifier to use?"
I am struggling with this as to which access modifier to use for each class. Can anyone possibly explain this to me?

[2018-12-14 21:41] regal60740 commented on #9608
I finally got it working. I used a Windows Form Application and fixed some code problems and it now works.

[2018-12-14 22:12] Jarak-Jakar commented on #666
Was discussing the first example from this page on the F# Foundation's Slack (starting at [here](https://fsharp.slack.com/archives/C1R558VK7/p1544822388537500)) with a couple of other people - someone was trying it out and it wasn't working for them, as the `AsyncDownloadString` method on WebClient didn't seem to exist.  We eventually found it at [this page](https://msdn.microsoft.com/en-us/visual

[2018-12-14 22:12] mattias-m-andersson opened #9610 "What about the client side?"
How is authentication used from HttpClient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf15d8f-56c9-61ea-9801-2d4049400f4a
* Version Independent ID: 390671d2-7d1b-48c8-bad4-b967559706af
* Content: [Understanding HTTP Authentication](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/understandin

[2018-12-14 22:13] erikness commented on #9295
See this comment about the implementation: https://github.com/dotnet/corefx/issues/11224#issuecomment-289141149

Relevant portion:

[2018-12-14 22:32] Thraka commented on #9609
@coreys079 Hi!

It depends on what your intent for the class is. Are you making a library for others to use? You'll probably be making a lot of  `public` classes then. In the library, are there things you need to hide from outside users but you will be using throughout the library for yourself? Then `internal` is what you want.

You can review the modifiers here: https://docs.microsoft.com/en-us/d

[2018-12-14 22:32] #9609 closed

[2018-12-14 22:35] #9598 closed

[2018-12-14 22:37] coreys079 commented on #9609
I have one more question if I may ask? In Web Api Under;
Public class WebApplication2Controller : ApiController

Is there a default code configuration that goes under it, because different examples I have seen looks different, and some use valuecontrollers. Does it depend on the project your doing?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

____________________

[2018-12-14 23:08] jasonxz opened #9613 "What does it mean?"
It would be really nice if there were an explanation of how one might interpret the results of this method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 853fc221-061c-6388-afd2-7d8b7a9b31d8
* Version Independent ID: 757fd3a3-1621-19ee-abd5-994968986b35
* Content: [LinearPredictor.GetFeatureWeights(VBuffer&lt;Single&g

[2018-12-15 00:53] jpeinelt opened #9614 "Unable to find tests"
I followed the tutorial (using netcore 2.0) and I followed also the naming scheme ./&lt;Name&gt;/&lt;Name&gt;.fsproj and ./&lt;Name&gt;.Tests/&lt;Name&gt;.Tests.fsproj but I get System.IO.FileNotFoundException: Unable to find tests for.... so something seems off...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c617a

[2018-12-15 00:59] #9614 closed

[2018-12-15 00:59] jpeinelt commented on #9614
I should try to learn new stuff when I'm tired...

[2018-12-15 01:16] Thraka commented on #9609
I don't know, you would be better off asking in that forum or stack overflow area, or even reading up on the ApiController documentation.

[2018-12-15 01:24] Thraka opened #9615 "How to port a framework winforms app to Core 3.0"
Customers need to know the steps required to port a .NET Framework Winforms app to .NET Core 3.0.

Visual Studio does not currently migrate for you and you must do this by hand.

[2018-12-15 03:59] glenn-slayden opened #9617 "typo: extra close-paren"
...in line "  new PermissionSet(PermissionState.Unrestricted)).Assert()  "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505d926-b70e-94df-d4ef-1d70737d0353
* Version Independent ID: 1bf0791b-8627-9113-a0b3-e52987bd4d59
* Content: [How to: Run Partially Trusted Code in a Sandbox](https://docs.microsoft.com/en-us/dotn

[2018-12-15 16:47] baruchiro commented on #9598
I think you answer the question.

But just for validating- the best practice for publishing both library and tool is to separate them, and let the tool to use the nuget?

[2018-12-15 21:34] Neme12 opened #9619 "It's not clear whether == and != operators use ordinal comparison"
The "Default ordinal comparisons" section makes it clear that string.Equals uses an ordinal comparison, but there's no information about what the behavior of C#'s builtin == and != operators is. Do they use ordinal comparison too?

The only time the operators are mentioned is here:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-12-15 21:51] pkulikov commented on #9619
@Neme12 the "Default ordinal comparisons" mentions that the [equality operator](https://docs.microsoft.com/en-us/dotnet/api/system.string.op_equality?view=netframework-4.7.2) uses ordinal comparison. Though, it doesn't name it "== operator", but "String.Equality". Do you think it should be stated in a clearer way.

By the way, the updated article of the `==` operator is synced with this how-to art

[2018-12-16 00:16] Neme12 commented on #9619
I see, sorry. It didn't occur to me that `Equality` was actually the operator, so my mind just skipped that when reading, assuming it's some other method I don't know and don't care about.

[2018-12-16 04:41] RayMMond opened #9621 "Sample link is not available."
At the end of doc, the link to complete sample: https://go.microsoft.com/fwlink/?LinkID=160013 is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bd0892f-7da6-17f8-efa2-3127f3597042
* Version Independent ID: e0b27f87-e253-738f-569f-e854094f1471
* Content: [How to: Create a Custom View Mode for a ListView

[2018-12-16 10:41] DickBaker commented on #5975
It would be useful to explicitly mention the VS project properties page (Build tab) that includes a checkbox next to the "XML documentation file" text. If this is set then CS1591 warnings will appear. This corresponds to the .csproj file having a related non-blank text in e.g. <DocumentationFile>bin\DickProj.xml</DocumentationFile>

I inherited a project where previous developer had started the XM

[2018-12-16 12:24] nlivaic opened #9625 "System.Linq.Enumerable+WhereSelectEnumerableIterator instead of IEnumerable<>"
**Issue description**

In example "Compound from clauses", code section labeled as "// Rest the mouse pointer on scoreQuery in the following line to " - the type is different then it is claimed in the article. For me, it shows:

**Target framework**

- .NET Core

**Code editor**

- Visual Studio Code

<details>
<summary><strong>dotnet --info output</strong></summary>

[code]
</details>

edit by @m

[2018-12-16 19:35] sackbut opened #9628 "Typical Microsoft Rubbish"
What the Walk Through says and what VS17 show on the screen bear no relation to each other. It may not matter - but beginners need 1:1 correspondence until they are more familiar with what is happening.

Have abandoned the MS walkthroughs. Will find some other tuition on the internet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-12-17 03:27] JohnMarsing opened #9630 "c# expression body constructor with multiple assignment expressions"
For constructors, how would you do make multiple assignment expressions like for example a logger.

in the constructor example above you have this

private string locationName;

but what if you have this as well?

private readonly ILogger log;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 874ea00d-6ec4-55f4-f0e3-e818d

[2018-12-17 09:08] mr5z commented on #6472
This would also throw an exception when you try to register to OnDraw if PreDrawEvent is still empty. An awful fix would be to initialize the PreDrawEvent with an empty delegate.

[2018-12-17 09:40] mfe- commented on #8266
This confuses me. @arnonax From my knowledgebase you would write first a failing unittest and then write the implementation. To get the unit test failing it must be compileable. Shouldn't be that the case?

[2018-12-17 12:20] satrapu commented on #7568
I'm publishing a .NET Core 2.1 app via GitLab and this is how I state the desired version details:
[code]

The versioning related build properties have been set to specific values following semantic versioning guidelines (https://semver.org/):
*  /p:VersionPrefix - see https://semver.org/#spec-item-2
* /p:VersionSuffix - see https://semver.org/#spec-item-9
* /p:InformationalVersion - represents th

[2018-12-17 13:01] meraydin opened #9633 "Anomaly detection sample (timeseries?)"
It would be great if you provide a sample regarding the following scenario: Suppose we have a text file containing information regarding when a user logged on to his/her machine. The file has the following columns:
* EventTime (datetime)
* UserId (string)
* MachineName (string)
* IpAddress (string)

SCENARIO:

"John" logs on to his machine regularly at 08:00am-08:30, from his personal laptop (John

[2018-12-17 13:14] imba-tjd commented on #9630
You can use a normal approach, that is `{ }`
[code]

[2018-12-17 13:39] BillWagner commented on #9630
You can also use tuples + expression bodied members, as follows:

[code]

There is an example in the [tuples article](https://docs.microsoft.com/dotnet/csharp/tuples#deconstruction).

Closing this as an answered question.

[2018-12-17 13:39] #9630 closed

[2018-12-17 15:58] #9604 closed

[2018-12-17 16:04] #9617 closed

[2018-12-17 16:05] #9621 closed

[2018-12-17 16:45] rpetrusha commented on #9606
Thanks for the new topic suggestion, @pappukr. We've added it to our backlog, as well as to our community contributor's project.

[2018-12-17 18:34] CeciAc opened #9634 "we always need simple examples"
@SKSON commented on [Sun Dec 16 2018](https://github.com/dotnet/docs.ko-kr/issues/86)

there are only partial explanation, or too complicated full example..?
we need simple example, which we can understand easy.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 925c8fe9-ba0b-bd2c-cea0-9d851ece8825
* Version Independent ID: 41cafff5-6418-2e54-3a0d-ee29fb1fca1f

[2018-12-17 18:36] CeciAc commented on #9634
Hi team,
I'm moving this here since the reported issue is on the source documentation

Kind regards,
Microsoft DOCS International Team

[2018-12-17 19:05] mairaw commented on #9606
Actually, I'm closing this one as a duplicate of #9607.

[2018-12-17 19:05] #9606 closed

[2018-12-17 19:13] mairaw commented on #7919
We're working on getting to onboarding the UWP as a target in the .NET API Browser, but moving this into a future sprint because of other priorities going on right now.

[2018-12-17 19:21] mairaw commented on #7864
The latest CI run seems to have fixed that 🎆 closing this one!

[2018-12-17 19:21] #7864 closed

[2018-12-17 19:24] mairaw commented on #8988
Still waiting for confirmation on this one.

[2018-12-17 19:30] mairaw commented on #7922
@gewarren this was assigned to sprint 144. Is this done already or should I move?

[2018-12-17 19:51] gewarren commented on #7922
Oops this fell off my radar. I can do it this week.

[2018-12-17 19:55] zoehart opened #9635 "Command failed - docker exec aspnetcore_sample ipconfig"
I could not get this sample to work. I cloned the sample app and ran it locally. And I was able to build it and run it in Docker for Windows. docker ps shows that it's running, but the command to determine the container's IP address fails. When I run 'docker exec aspnetcore_sample ipconfig' I get 'OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "exec

[2018-12-17 20:03] DickBaker opened #9636 "File.FileOptions.Asynchronous purpose ?"
The File.Create etc docs show some method signatures requiring FileOptions although the examples here make no such demands. So what is optional/mandatory significance of this flag setting, and what disaster would befall if it was not specified when you then invoke those async stream method calls ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-12-17 20:08] DickBaker opened #9637 "See also links to vintage content"
the "Asynchronous Programming with Async and Await" links takes user into flat-earth land of outdated content. =bad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90c1b292-9f8a-d512-e780-24cb865a2da2
* Version Independent ID: 731858ee-ae76-9477-2ddf-40277bf1bd71
* Content: [Asynchronous File I/O](https://docs.microsoft

[2018-12-17 20:28] CeciAc opened #9638 "4th bullet at "Add a class" topic"
@aylingumus  commented an hour ago — with docs.microsoft.com •

There is need to add HelloWorld namespace as "using HelloWorld;" to second line to call the method of Class1.

It should be like this:
[code]

Best regards,
Aylin

---
#### Belge Ayrıntıları

⚠ *Bu bölümü düzenlemeyin. docs.microsoft.com ➟ GitHub sorunu bağlantısı için gereklidir.*

* ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c
* Version

[2018-12-17 20:48] MisinformedDNA opened #9639 "Reverse Package Search is outdated"
The document links users to [Reverse Package Search](https://packagesearch.azurewebsites.net/), but this tool isn't really useful anymore. It still thinks .NET Core's moniker is 'netcore50', so we can't see packages that were made for released/latest versions of .NET Core.

This link should be removed until the external app is updated.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-12-17 20:58] gewarren commented on #7922
@merriemcgaw I assume this is the setting in Tools > Options > Windows Forms Designer?

![image](https://user-images.githubusercontent.com/24882762/50115183-81f13b00-01fb-11e9-81fd-57023f5a810e.png)

[2018-12-17 21:00] merriemcgaw commented on #7922
@gewarren , you are correct. @KlausLoeffelmann  can answer any technical questions you may have.

[2018-12-17 21:06] BillWagner commented on #4141
Ping @terrajobst Any chance this happens by the end of this sprint?

[2018-12-17 21:42] kendrahavens commented on #9638
Since these classes share the same namespace you shouldn't need to add a using directive to Program.cs. It's good to note that the namespace in your Program.cs file is automatically set to the containing folder name. Meaning, if you started the tutorial in a folder not named "HelloWorld" then the copied Class.cs file won't have the same namespace as your Program.cs file. In that case, you would ne

[2018-12-17 22:09] mairaw commented on #8691
@Rick-Anderson should I just update the link target then? I have permissions to do that.

[2018-12-17 22:10] mairaw commented on #9278
Duplicate of #9184

[2018-12-17 22:10] #9278 closed

[2018-12-17 22:12] mairaw commented on #9184
Thanks for your feedback @Nepomuceno.
@sfilipi @JRAlexander the duplicate item of this issue had quite a few thumbs-up. Is that something you can add /// comments for?

[2018-12-17 22:19] mairaw commented on #9276
@noahfalk @vancem is this something you or your team could come up with a draft and we would help polish it?

[2018-12-17 22:20] vancem commented on #9276
Yes, that is the plan.

[2018-12-17 22:20] mairaw commented on #9276
Also, for the second bullet about how to go async, @BillWagner is driving a whole project about async best practices, etc. that you can see here:
https://github.com/dotnet/docs/projects/42

[2018-12-17 22:22] mairaw commented on #9263
The following topic that is linked from the see also section covers the security measures:
https://docs.microsoft.com/en-us/dotnet/standard/security/secure-coding-guidelines#securing-resource-access

[2018-12-17 22:22] #9263 closed

[2018-12-17 22:23] JamesNK commented on #8368
There aren't any changes I want to make to the .NET lib guidance for this. The current recommendation to use it if you can, or use a nuspec for other projects. I think that is fine.

[2018-12-17 22:35] mairaw commented on #8371
Thanks @simshaun, that's a great suggestion! Would you like to submit a pull request for this?

We explain how to do that in the following article:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2018-12-17 22:38] mairaw commented on #8799
Thanks for your feedback @maverickelementalch. @BillWagner will be working on a big review of the async/await docs and we'll be reviewing this issue as part of that.

[2018-12-17 22:41] mairaw commented on #8980
Thanks for your feedback @martingbrown. I think it makes sense to add that.
@KathleenDollard is msbuild-sdks part of the official schema for global.json?

[2018-12-17 22:45] LiveLikeLastDay opened #9643 "Could you provide full code in a console application?"
I'm a little bit lost.

Also is there a problem with the code "public Comparison&lt;T&gt; comparator;"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dcd91a4-603a-feb9-cff2-94f1985417fc
* Version Independent ID: a86cde90-1eba-e1d5-2b42-2a3cd37f5499
* Content: [System.Delegate and the `delegate` keyword](https://docs.

[2018-12-17 22:47] mairaw commented on #9589
@madamakis if you're talking about topics such as https://docs.microsoft.com/en-us/dotnet/framework/misc/code-access-security, they have been updated recently to have that big red warning about the dangers of using CAS. So the guidance about not using CAS for enforcement of varying levels of trust is correct in this topic. For this reason, I'm closing this issue. But please let me know if there's

[2018-12-17 22:47] #9589 closed

[2018-12-17 22:51] Rick-Anderson commented on #8691
@mairaw 	yes

@aeslinger0
No need to unload the project before editing - otherwise your steps are correct.

[2018-12-17 22:52] mairaw commented on #9196
Thanks for the feedback @TobiasKnauss and @sitefinitySDK. From what I can see, VS 2017 comes with 4.6.1 by default if you install the workload, so it doesn't come completely by default anymore.
So we should note that as well.

[2018-12-17 22:54] Rick-Anderson commented on #8691
Not sure what you need, the doc is very clear

### Recommendations
Since `Microsoft.NETCore.App` or `NetStandard.Library` metapackages are implicitly referenced, the following are our recommended best practices:

* When targeting .NET Core or .NET Standard, never have an explicit reference to the `Microsoft.NETCore.App` or `NetStandard.Library` metapackages via a `<PackageReference>` item in your

[2018-12-17 22:54] mairaw commented on #8647
@richlander @spboyer can you help to fix this topic or at least validate the proposed solution is correct?

[2018-12-17 22:56] mairaw commented on #8641
@CESARDELATORRE @mvelosop it seems that this guidance needs to be reviewed for ASP.NET Core 2.2. Please take a look.

[2018-12-17 22:59] mairaw commented on #8896
@JamesNK @terrajobst can you guys comment on this feedback?

We also have PR #9033 which is related to this that hasn't been merged yet.

[2018-12-17 22:59] MNF opened #9645 "ASP.NET Core Images starting from 2.1 included in microsoft/dotnet"
Please update, that Latest ASP.NET Core Images  for 2.1 and newer are now available on microsoft/dotnet. https://hub.docker.com/r/microsoft/aspnetcore/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b69a4b5-2003-e7a5-97a3-59e3737ea1ef
* Version Independent ID: 0df5f0d7-a2b4-e9b3-9f34-d66cedf418a3
* Content: [Developme

[2018-12-17 23:00] JamesNK commented on #8896
@terrajobst is the person to talk to on this one

[2018-12-17 23:04] CESARDELATORRE commented on #8641
Sure, we're already working on that update as part of a major update targeting .NET Core 2.2 for this guidance. 👍
The code is already implemented in eShopOnContainers and will be merged into DEV pretty soon, too.

[2018-12-17 23:09] CESARDELATORRE commented on #9645
Adding @mvelosop

[2018-12-17 23:19] mairaw commented on #9638
Closing as by design then. @aylingumus please let us know if there is a step that is not clear.

[2018-12-17 23:19] #9638 closed

[2018-12-18 01:03] rpetrusha commented on #9547
The more we simplify the article and the regex, the less perfect it becomes. The only major simplification that I can think of is to remove support for punycode,, and I'm not really sure that it helps all that much, since the punycode portion of the validation is handled in a separate method.

I think that negative votes is likely to be the nature of the beast here. All of the how to regexes are i

[2018-12-18 01:42] cartermp commented on #666
#9648 is a WIP that addresses the original issue and the samples issue mentioned by @Jarak-Jakar. @Ytrog, I'll see what I can do about a C# comparison, but I do view that as a secondary priority. I want to make sure the article conveys the right things from an F# perspective before diving into C# comparisons.

[2018-12-18 02:14] terrajobst commented on #8896
@ghelyar I'm not sure I follow.

NuGet considers .NET Framework 4.6.1 compatible with .NET Standard 2.0, so if a package offers both, .NET Standard 1.x and 2.0, it will prefer the 2.0 asset. So providing a `net461` specific binary should not bring .NET Standard 1.x assets.

I'd generally expect the source code for .NET Standard 2.0 and .NET Framework 4.6.1 to be identical. You are correct in the o

[2018-12-18 02:20] mairaw commented on #9547
There some interesting things to consider as well:
- The top keyword searches for the topics listed as related articles have nothing to do with how to validate email so I don't think they're fair comparisons.
- SkyRay shows 100% CSAT for this topic for the past month. How far are we looking back to consider deleting this one?
- If you look for C# valid email for example, this topic is the only art

[2018-12-18 03:41] mairaw commented on #9636
The example is using the overload that accepts only a string parameter:
https://docs.microsoft.com/en-us/dotnet/api/system.io.file.create?view=netframework-4.7.2#System_IO_File_Create_System_String_

The remarks of that overload explain what's the behavior for that particular API.

I hope that helps clarify things.

[2018-12-18 03:41] #9636 closed

[2018-12-18 05:18] jmagosta opened #9650 "ClalssLibDemo fails"
Just following the steps in this guide, creating a project in VSCode fails with these errors when either "Start Debugging" or "Start without Debugging" is run:
Project parsing failed: ClassLibraryDemo.fsproj
Unable to open 'tasks.json': File not found.

Both fsi and fsc run from the command line, and Ionide has been uninstalled and reinstalled.

---
#### Document Details

⚠ *Do not edit this secti

[2018-12-18 09:13] laohur opened #9654 "it is better to keep one consistent address"
The previous service address is "http://localhost:8000/GettingStarted/CalculatorService", so it is better to keep current service address in client fixed. And chang the .NET version  to v4.0 to run sucessfullly in first time.

"      &lt;endpoint address="http://localhost:8000/GettingStarted/CalculatorService"
"
"    &lt;supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Clien

[2018-12-18 09:36] sheng-jie opened #9655 "It's confusing about 'transformer.'"
Transformer : A transformer is a component that takes data, does some work on it, and returns new transformed data.
Estimator：This is an object that learns from data. The result of the learning is a transformer.
-----

I think it should be better to change the 'transformer' in Estimator to 'model'.

[AB#1530397](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/15303

[2018-12-18 12:43] Happypig375 opened #9656 "Markdown table is broken"
It doesn't show as a proper table, but as source, which is very ugly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a917d2-b43a-acb0-045b-a3453b59c523
* Version Independent ID: 096cb62e-292a-c107-04cd-16fabee5a3f1
* Content: [Signature files (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/sig

[2018-12-18 12:58] PQMISSCMP commented on #9519
r

[2018-12-18 13:01] imba-tjd commented on #9636
@You may want to read this: https://stackoverflow.com/questions/13299705/fileoptions-asynchronous-causes-filestream-beginread-to-block

[2018-12-18 13:40] PeterPann23 opened #9658 "Provide reasons why to chose the enum value"
I think that for the majority of all users they will find it helpful if these enums are documented a bit better. When would one chose one over the other, also not all trainers work well on negative values, pointing that out would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87174b51-7fce-54b7-c116-88eedf4ffc03

[2018-12-18 13:42] fredrikhaglund commented on #6484
Partly agree. When you add a WCF Service Library, Visual Studio can host it for you when you debug by starting a service host.

This is enabled or disabled in **Project Properties > WCF Options > Start WCF Service Host when debugging**.

A real world service needs some sort of host so I think this step is relevant, possibly other types of hosting should be mentioned and linked in See also section.

[2018-12-18 13:46] jepp commented on #6484
Yes, if I was writing this again, I'd word it differently. I've learned a lot about WCF since then, but this tutorial wasn't the source of most of it.

[2018-12-18 14:50] Faizansoft commented on #9278
With regards to:
 TS= TimeSpan
        DT= DateTime
        DZ= DateTimeOffset
Could anyone give some examples of data that would work with these types? I had some issue using them, when i tried ML.net with my own data.

[2018-12-18 16:20] #9656 closed

[2018-12-18 16:35] julealgon commented on #8727
I think there was a big mistake in updating the code like that. Now, the example makes no sense whatsoever in that context as it doesn't show the usage of the `_` discard pattern in conjunction with the `is` or `switch`.

 I see 3 valid options here:
- Put the example back as is was. Even if confusing, it was at least showcasing the feature being discussed.
- Change the example to be less confusin

[2018-12-18 16:41] ibm5155 opened #9660 "wrong input at city var"
Person p = new Person("John", "Quincy", "Adams", "Boston", "MA");
       var (fName, _, city, _) = p;// city = "Adams"
should be
       Person p = new Person("John", "Quincy", "Adams", "Boston", "MA");
       var (fName, _, _, city, _) = p;// city = "Boston

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8047b417-55af-c

[2018-12-18 17:08] regal60740 opened #9661 "Getting Error"
base.Initialize(component); gives me this error: 	The name 'component' does not exist in the current context	MarqueeControlLibrary	C:\Users\Joe\source\repos\MarqueeControlTest\MarqueeControlLibrary\Design\MarqueeControlRootDesigner.cs	21	Active

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6f328c-9e30-729a-663b-f58a

[2018-12-18 17:17] RicoSuter opened #9662 "Reflect nullability with new C# 8 feature"
How can we reflect over the nullability of props, params etc e.g. for `string` vs `string?` with the new C# 8 nullability output? Is there a new api for that?

See https://blog.rsuter.com/the-output-of-nullable-reference-types-and-how-to-reflect-it/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f96935-2039-9c62-9a91

[2018-12-18 17:56] mairaw commented on #9660
Thanks for your feedback @ibm5155 but the code is correct.

It uses the `Deconstruct` method with 4 parameters:

[code]

So your change wouldn't even compile without adding a Deconstruct that looks like this:

[code]

I hope this helps!

[2018-12-18 17:56] #9660 closed

[2018-12-18 19:38] mairaw commented on #8691
I just had a quick call with @Rick-Anderson to discuss this. I think there are two issues here:
- The target of the https://aka.ms/sdkimplicitrefs link doesn't cover the Microsoft.AspNetCore.All and Microsoft.AspNetCore.App scenarios when you get that error message and people don't know what to do
- However, it seems that not specifying the version for those metapackages shouldn't reuse the link o

[2018-12-18 21:22] peteralbanese commented on #7776
Thank you for the clarification Sir.

[2018-12-18 21:59] mairaw commented on #5893
I'm closing this one. If you find a new repro, please let us know @pkulikov!

[2018-12-18 21:59] #5893 closed

[2018-12-18 23:02] mairaw commented on #5315
Closing this issue due to the lack of response.

[2018-12-18 23:02] #5315 closed

[2018-12-18 23:04] mairaw commented on #5352
Closing this one since https://github.com/dotnet/roslyn/issues/27645 is tracking this work item.

[2018-12-18 23:04] #5352 closed

[2018-12-18 23:04] mairaw commented on #5353
Closing as this work item is being tracked at https://github.com/dotnet/roslyn/issues/27645

[2018-12-18 23:04] #5353 closed

[2018-12-18 23:05] mairaw commented on #5999
Closing due to the lack of response.

[2018-12-18 23:05] #5999 closed

[2018-12-18 23:06] mairaw commented on #6779
Closing due to the lack of response.

[2018-12-18 23:06] #6779 closed

[2018-12-18 23:07] DickBaker commented on #9636
Thanks for that link. I will need to read thoroughly and probably review the source code too (now it is all OSS)

Dick

From: 谭九鼎 [mailto:notifications@github.com]
Sent: 18 December 2018 13:02
To: dotnet/docs
Cc: Dick Baker; Author
Subject: Re: [dotnet/docs] File.FileOptions.Asynchronous purpose ? (#9636)

@you <https://github.com/you>  may want to read this: https://stackoverflow.com/questions/13

[2018-12-18 23:07] mairaw commented on #7120
@jcouv @jaredpar it seems we're waiting for your feedback on this issue

/cc @BillWagner

[2018-12-18 23:11] mairaw commented on #7776
Ok to close this @peteralbanese?

[2018-12-18 23:18] mairaw commented on #7135
@yapusitohe have you supplied the file name and is still not working? Can you show how you're making the call to the UploadFile method?
I don't think this is the same as asking to press a key to continue when the keyboard stops working.

#please-translate

/cc @DavidPrio

[2018-12-18 23:19] mairaw commented on #9507
Closing due to the lack of response.

[2018-12-18 23:19] #9507 closed

[2018-12-18 23:22] mairaw commented on #9426
Ok, thanks for getting back to us. If that's the case, I'd suggest you to file a product bug at https://developercommunity.visualstudio.com/spaces/61/index.html instead. Feel free to get back to us if you ever hear back from the dev team and if there are any content updates you feel we should make.

[2018-12-18 23:22] #9426 closed

[2018-12-19 00:52] jcouv commented on #7120
My inclination is to not document. I'll let @jaredpar confirm

[2018-12-19 01:43] ricobbe opened #9665 "No docs for C# compiler error CS1648"
Unable to find documentation for C# compiler error CS1648: "Members of readonly field 'Container.st' cannot be modified (except in a constructor or a variable initializer)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc586192-534e-0108-d265-c4f2f6947c57
* Version Independent ID: 4d39f536-5d78-335b-3525-d4b581c28fdc

[2018-12-19 07:38] mikkelbu commented on #9665
It can be found here https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1648. It is probably due to this issue #1491 that the content is not found with the other errors.

[2018-12-19 09:19] salixzs opened #9669 "WCF basicHttpBinfing configuration description is missing default value for transferMode"
Basically all attributes for WCF basicHttpBindings have mentioned their default values.
transferMode attribute is missing one. I suspect it is "Buffered", but it could be good to officially confirm it :-)
Thanks for great docs!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0f13fe3-fc19-5741-40fc-a650ca68fb1a
* Versio

[2018-12-19 10:00] dxmi opened #9671 "On quotation marks syntax"
**Edit:**
The "the quotation marks themselves, as well as the equals sign, do not require escaping" statement is confusing. Moreover, the subsequent example is invalid. At least, my experiments with the parser used by SqlConnection show the following:
[code]

It seems that quotation marks can be used within a value unless they appear at the start or at the end of the value. In other scenarios, the

[2018-12-19 14:31] BillWagner commented on #9665
Thanks for pointing this out @ricobbe

As @mikkelbu points out, our articles on errors and warnings are currently in two different directories due to a couple migration processes.

#1491 details the work to reconcile these two locations.

Closing as no further action is needed.

[2018-12-19 14:31] #9665 closed

[2018-12-19 15:02] mikkelbu opened #9676 "Remarks sections under SemanticModel.cs are not formatted correctly"
Sometimes it looks like this https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.semanticmodel.lookuplabels?view=roslyn-dotnet

![image](https://user-images.githubusercontent.com/1007631/50227587-58c0de00-03a6-11e9-941f-3513f3eadfb5.png)

where the it looks like the text is just taken as it is from the [source code](https://github.com/dotnet/roslyn/blob/38718c45ef8add102834a42d96830

[2018-12-19 15:16] jmarkman commented on #4686
I did WHAT

[2018-12-19 15:22] jpreese opened #9677 "Unit testing best practices and AAA comments"
I noticed on the Unit testing best practices document, AAA comments were added to each test via PR https://github.com/dotnet/samples/pull/379

My concern with this is that I believe it promotes the use of physically commenting each section with their Arrange, Act, and Assert sections. I personally disagree with this approach, and favor just breaking each section up via a newline as originally writ

[2018-12-19 16:44] CeciAc commented on #7135
@mairaw translation:

@yapusitohe, ¿has especificado el nombre de archivo y sigue sin funcionar? ¿Puedes mostrarme cómo haces la llamada al método UploadFile?
No creo que esto sea lo mismo que presionar una tecla para continuar cuando el teclado deja de funcionar.

[2018-12-19 16:45] binki opened #9678 "The LINQ to XML link links to “previous version” documentation"
When I follow the link to [LINQ to XML](https://msdn.microsoft.com/library/f0fe21e9-ee43-4a55-b91a-0800e5782c13) in this document, I enter the “previous version” style documentation with this header:

&gt;  We're no longer updating this content regularly. Check the [Microsoft Product Lifecycle](https://support.microsoft.com/en-us/lifecycle/selectindex) for information about how this product, servi

[2018-12-19 17:21] susilj commented on #9264
https://github.com/susilj/SentimentAnalysis

[2018-12-19 17:50] #7922 closed

[2018-12-19 18:11] binki opened #9680 "Missing discussion on how to roundtrip XML with carriage return entities"
If I have XML that looks like this:

[code]

and then parse it with `XDocument.Parse()`, I get this string as expected for the value of the root node (`XDocument.Root.Value`): `"a\r\nb\nc\r"`. But if I reserialize it—even with `SaveOptions.DisableFormatting` (which makes no difference since I set `xml:space="preserve"` in the document itself)—I get a different document out:

[code]

…and upon repa

[2018-12-19 19:02] mairaw commented on #9678
Thanks for your feedback @binki. This issue touches on a lot of migration efforts that are going on at the moment.
The most relevant related issue would be the following: https://github.com/dotnet/docs/issues/4728. Once we add that new set of docs, then the links would be revised with that effort.

[2018-12-19 19:11] CeciAc opened #9681 "No longer necessary to get ip address of windows container to browse it"
@matteopessina commented on [Wed Dec 19 2018](https://github.com/dotnet/docs.it-it/issues/56)

It seems that is no longer necessary to get the ip address of the windows container to browse the aspnetcore app, as stated in the following link
https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/aspnetcore-docker-windows.md

---
#### Dettagli del documento

⚠ *Non modificare questa s

[2018-12-19 19:12] CeciAc commented on #9681
Hi team,
Please check the contributor comments on this issue

Kind regards,
Microsoft DOCS International Team

[2018-12-19 20:09] mccalljd opened #9686 "VB forgotten"
Halfway through this walkthrough, the corresponding VB code was left out.  It was annoying but a good way to learn.

Also, when the background image was downloaded, there was no instruction on where it should be saved, or how to actually access it.  The code would always hit an exception on loading the image.

In addition, when many of the empty code shells were run, Symantec Endpoint Protection w

[2018-12-19 20:22] #9391 closed

[2018-12-19 20:45] #8143 closed

[2018-12-19 21:01] jons opened #9688 "Possible error in example from using x?.y"
I followed this example for a left join, but an expression in my code that is of the form `subpet?.Name` produces the compiler error "An expression tree lambda may not contain a null propagating operator."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d433265d-15f4-bd2e-a3d1-8148a3968783
* Version Independent ID: 75d2

[2018-12-19 21:45] mikkelbu commented on #9688
I just tried the example and it worked here. Could the problem be that you are using something , see https://stackoverflow.com/a/44681421 for more info.

[2018-12-19 22:32] jaredpar commented on #7120
Agree do not document this switch.

Now I need to go and read up on whath this switch is. In the 10+ years I've been on this team we've never used it to my understanding.

[2018-12-19 23:15] mccalljd opened #9689 "documentation incomplete?"
I am really frustrated.  None of the examples I have found on line (and I have been reading them all day) tell me how to get this Class into my code.  Visual Studio lists FolderBrowserDialog as undefined.  If I try to import System.Windows.Forms it is tagged as "imports statement unnecessary."   It would be nice if the documentation would include how these classes are intended to be implemented.

[2018-12-19 23:22] mairaw commented on #7120
Thank you for confirming @jcouv and @jaredpar. Closing this issue then.

[2018-12-19 23:22] #7120 closed

[2018-12-20 00:41] Berrysoft opened #9690 "Missing NameOf in Visual Basic Language Reference"
The NameOf keyword is missing in the keyword page, and according to [#366](https://github.com/dotnet/vblang/issues/366), the keyword is missing in the language reference.

The Visual Basic What's New topic should also be updated to link to this topic for detailed information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-20 01:13] mati23 commented on #8558
I agree.  There is a good explanation  about the topic but no good examples of how to use it.

[2018-12-20 04:09] philcarbone commented on #6068
uhhhhhh - Posted in June ;)

[2018-12-20 06:17] saadsaeed01 opened #9693 "Asynchronous Client Socket"
Hello,
I have two questions related to BeginReceive method.
1) Let suppose my client is connecting to multiple servers at a time. When I call  BeginRecieve like this:
               " // Begin receiving the data from the remote device.
               client.BeginReceive( state.buffer, 0, StateObject.BufferSize, 0,   new
               AsyncCallback(ReceiveCallback), state);"
For every new connecti

[2018-12-20 07:49] radu99999 commented on #9587
My machine runs Ubuntu 18.04 and I cannot  install .net core SDK 2.2. It is only 2.1 which is available. I followed https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.2.101 and I've selected Ubuntu 18.04.

[2018-12-20 08:00] gabehollombe-aws opened #9694 "Possibly missing step to instruct sending the PigLatin module to FSI"
"Next, in the FSI window, call the function with the PigLatin module that you defined earlier:"

Following along, I tried using `PigLatin.toPigLatin "banana";;` in the FSI window after moving `toPigLatin` into a `PigLatin` module in `ClassLibraryDemo.fs` but it didn't seem to work until I selected the entire module and did another `Alt+Enter` to get the contents sent to FSI.

Did I miss a step in

[2018-12-20 08:06] mairaw commented on #9587
@leecow @richlander should I move this issue to https://github.com/dotnet/core/?

[2018-12-20 08:14] Szer commented on #9563
@cartermp
PR for docs
https://github.com/dotnet/docs/pull/9695
PR for snippets
https://github.com/dotnet/samples/pull/531

[2018-12-20 08:19] qqqbbb opened #9696 "Bad grammar"
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/inheritance
"A class or struct can implement one more interfaces."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e813a38-d487-25dc-b70d-23fca9c47221
* Version Independent ID: 92fb3bd2-56a5-e060-8056-491aab145d26
* Content: [Inheritance in C#](https://docs.micro

[2018-12-20 08:46] mairaw commented on #9696
Thanks for your feedback @qqqbbb. Would you like to create a pull request to fix this?

The process is explained here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2018-12-20 08:55] mairaw commented on #9676
Thanks @mikkelbu for your feedback.

This content is auto-generated from source so we'll need to investigate what is causing this.

It seems that mdoc should be extracting these comments without the indentation that is causing that content to render as code.

/cc @dend @joelmartinez

[2018-12-20 08:56] mairaw commented on #6527
Closing due to the lack of response.

[2018-12-20 08:56] #6527 closed

[2018-12-20 08:57] mairaw commented on #6110
Closing this since we haven't heard back from the original author.

[2018-12-20 08:57] #6110 closed

[2018-12-20 08:58] mairaw commented on #6852
Closing since we'd need to see the code to be able to help more.

[2018-12-20 08:58] #6852 closed

[2018-12-20 08:58] mairaw commented on #7745
Closing due to the lack of response

[2018-12-20 08:58] #7745 closed

[2018-12-20 09:01] mairaw commented on #8701
Closing due to the lack of response. Please let us know if you can share more information about what you'd like to see on this page.

[2018-12-20 09:01] #8701 closed

[2018-12-20 09:01] mairaw commented on #7848
Closing due to the lack of response.

[2018-12-20 09:01] #7848 closed

[2018-12-20 09:03] mairaw commented on #9210
Closing due to the lack of response.

[2018-12-20 09:03] mairaw commented on #9350
Closing due to the lack of response.

[2018-12-20 09:03] #9350 closed

[2018-12-20 09:35] Mizux commented on #8473
@jherby2k why don't using a multiple nuget runtime package approach (e.g. `runtime.linux-x64.Company.Project.nupkg`, `runtime.osx-x64.Company.Project`) **and** with a meta nuget package (e.g. `Company.Project`)

see https://github.com/google/or-tools/tree/master/ortools/dotnet for working examples

[2018-12-20 09:41] #9696 closed

[2018-12-20 16:02] mingtong commented on #9412
Unfortunately, I cannot uninstall dotnet-sdk-1.0.0-preview-xxx-version.
Even I install 2.2.1, then I run dotnet --info, still showed 1.0.
My OS is CentOS 7 x64.

[2018-12-20 16:16] zawor commented on #9412
@mingtong have a look here ([dotnet/cli#9222](https://github.com/dotnet/cli/issues/9222#issuecomment-420617509)) as it may be related

[2018-12-20 16:51] amirgra opened #9699 "How to install dotnet core runtime on many remote machines?"
How to install dotnet core runtime on many remote machines?
With PowerShell remoting I tried downloading the installer and run it but it didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0f01627e
* Content: [Prerequisit

[2018-12-20 17:09] #9563 closed

[2018-12-20 17:10] cartermp commented on #9563
Thanks a bunch @Szer

[2018-12-20 17:25] piBoss opened #9700 "No Reference Documentation for Console Apps"
I've searched online and in my offline documentation and can't find a topic on Console Applications, other then this one paragraph page of nothing.
For example, I simply desire to execute a command as though I opened a Command windows; "ipconfig /all" and can't find a single document on this, or any other Console application technologies.

Thank you for any help!

---
#### Document Details

⚠ *Do

[2018-12-20 17:33] kgilmer commented on #6927
IMHO the section about mocks vs stubs in the documentation, while relevant, takes on more importance than seems necessary.  Also, how is the statement "By renaming the class to FakeOrder, you've made the class a lot more generic,..." qualified?  TBH it seems like someone's pet issue made maybe a bigger impact than is appropriate.

[2018-12-20 18:19] mairaw commented on #9699
@leecow @richlander can you help with this question? Is this something we need to cover in the docs?

[2018-12-20 20:03] casterle opened #9702 "Windows Installer option appears to be depreciated"
The linked page contains a "product lifecycle" warning at the top. Is this solution going away, or can you point to a more recent page on the topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf77b0f-5062-0a1a-c172-821d24a378a4
* Version Independent ID: f67b80a0-9126-40c8-a8c7-c6a5c6efdff5
* Content: [Deploying a

[2018-12-20 20:07] casterle opened #9703 "Following up on the Windows Installer page"
The recommendation to use InstallShield is not available to VS Community Edition users - Pro and up only even for the light version. So MS has no traditional-installer solution for VS CE users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf77b0f-5062-0a1a-c172-821d24a378a4
* Version Independent ID: f67b80a0-9126-40

[2018-12-20 21:35] #8551 closed

[2018-12-20 22:12] mairaw commented on #9703
I believe all the options available are listed at https://docs.microsoft.com/en-us/visualstudio/deployment/deploying-applications-services-and-components?view=vs-2017#create-an-installer-package-windows-client

/cc @gewarren @Mikejo5000

[2018-12-20 22:12] #9703 closed

[2018-12-20 22:18] mairaw commented on #9702
Thanks for your feedback @casterle. I imagine you're talking about the Windows Installer Deployment link, correct?

I almost feel like we should remove this topic and link to https://docs.microsoft.com/en-us/visualstudio/deployment/deploying-applications-services-and-components since this topic is very outdated.

Thoughts @OliaG @gewarren @Mikejo5000?

[2018-12-20 22:40] OliaG commented on #9702
Agree. The new link looks much better. We need to explicitly add WinForms and WPF words. Also we might want to point out what is available in Framework and in Core.

[2018-12-20 23:33] mairaw commented on #8691
@livarcocc any suggestions on where this message is coming from so I can request the error message to be changed in this ASP.NET scenario?

[2018-12-21 01:13] softuse opened #9706 "the accessable of the key word "protected" may be wrong"
Example
A protected member of a base class is accessible in a derived class only if the access occurs through the derived class type. For example, consider the following code segment:

C#

Copy
class A
{
    protected int x = 123;
}

class B : A
{
    static void Main()
    {
        A a = new A();
        B b = new B();

        // Error CS1540, because x can only be accessed by
        // classe

[2018-12-21 01:30] livarcocc commented on #8691
@dsplaisted This comes from the sdk itself.

[2018-12-21 01:54] abelbraaksma opened #9707 "Example with object expressions with IFormattable does not work as intended and gives a wrong example"
The example code with the object expression for `IFormattable` doesn't work, for instance, in FSI, it prints the following:

&gt; "{FSI_0002+Delimiter@1}"

The reason this happens is the wrong assumption that the this-qualifier holds anything useful (like a string or a number) but since object expressions aren't assignable, as written it is a poor example of showcasing the usefulness.

In fact, I

[2018-12-21 04:59] sjetha commented on #9694
Just ran into this same issue myself. There's definitely something missing.

[2018-12-21 06:49] #9706 closed

[2018-12-21 12:40] abelbraaksma opened #9712 "Object expressions explanation should mention its limitations"
As in the title, I'm thinking of:

* Cannot be used with sealed types
* Cannot be used with value types
* Cannot be used with types that do not have a constructor
* Cannot be used with discriminated unions
* Cannot be used with record types
* Cannot be used with structs

Also:

* Can only be used to override existing members in the base class
* Members can be defined using either `member` or `over

[2018-12-21 15:03] Belorus opened #9713 "Copying structs during when their methods are invoked"
Could you please help me with the following sentence from the text above
"This behavior includes copying the value of this when calling members of a value type."

It looks like author was describing behavior of structs that are stored in readonly fields.
Normally structs are not copied then their methods are called.

WDYT?

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это нео

[2018-12-21 15:15] alexpanter opened #9714 "More examples on checked with different data types"
I would like to see more documentation about types of overflow that are being checked (both unsigned and signed),
and a list of data types that overflow works on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a452ea4c-e4a7-72c4-1406-f6a892459a24
* Version Independent ID: 4b5ea953-a804-4887-1891-3a46ebdc6814
* Content:

[2018-12-21 19:52] mairaw opened #9716 "Issue parsing the italics"
Not sure if this is a parser problem or what, but in some cases our italic formatting is actually rendering. It seems to work when there's a space after the formatting.

Compare:
![image](https://user-images.githubusercontent.com/12971179/50360953-becc7300-0516-11e9-9e48-4a08934cae60.png)

![image](https://user-images.githubusercontent.com/12971179/50360959-c68c1780-0516-11e9-9bad-9c655408d9cc.png

[2018-12-21 20:51] THammond9 opened #9717 "Visual Studio does not prompt to fix binding errors when double click"
The last section seems to be incorrect. When I double click the output warning or click the warning and press enter nothing happens. Either this documentation is incorrect or there is a bug in visual studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62b2e725-23a6-e54d-7afb-28448cf7a869
* Version Independent ID: 38

[2018-12-21 21:22] #5094 closed

[2018-12-21 23:13] mjrousos commented on #4909
I can take a look at this.

[2018-12-22 10:16] mvelosop commented on #9645
Hi @MNF, @CESARDELATORRE, this has been already addressed, it's in the process to be merged into master with PR #7943, so I´m closing this issue now. will reopen if needed.

[2018-12-22 10:16] #9645 closed

[2018-12-22 11:05] mvelosop commented on #9324
Hi @mairaw, @Ponant,

Actually, IMHO, I do think the first paragraph is appropriate and not misleading, just because the justification for a microservices architecture comes **mostly** from the back-end, considering issues like scalability and maintainability. However the **often** part just doesn't preclude any other consideration, it's just "most of the time".

As of technology, I just don't see

[2018-12-22 20:14] StasBalia commented on #9694
Same thing, only if i select module PigLatin from start to end and press Alt+Enter, then i can use PigLatin.toPigLatin in FSI.

[2018-12-22 21:39] GLComputing opened #9722 "Which versions will this repair?"
The other pages in this guide talk about 4.7.2 but the official download (1.3) only goes up to 4.6.

Which version is this link and which Frameworks does it repair?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567666ce-6b1c-ea9b-aa9e-eae9da4f9485
* Version Independent ID: f2e94c72-459b-c8f1-7eec-73e7d4197f4d
* Conten

[2018-12-23 02:43] weitzhandler opened #9724 "What happened to TestHost?"
Can't find it on NuGet, is it retired?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ea389-75e9-1321-3be4-dc8d8e47a925
* Version Independent ID: 5aac1345-20a9-d6b5-b4d8-203f5d80bfa0
* Content: [Testing ASP.NET Core services and web apps](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/mu

[2018-12-23 09:45] jnsn commented on #9724
@weitzhandler As far as I can tell, it's still available: https://www.nuget.org/packages/Microsoft.AspNetCore.TestHost

[2018-12-23 19:36] DylanFPS opened #9728 "FDE needs documentation"
The Framework-Dependent Executables need documentation on how to deploy them as the other deployment options have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a17d5d-5f6e-d6bc-324b-af411a42ccb8
* Version Independent ID: f58588d7-70f6-aa32-5c6d-ac3e7d72d87c
* Content: [.NET Core Application Deployment - .NET Core](

[2018-12-23 23:43] leobarbastefano opened #9729 "command line dotnet new mvc"
I have "netcoreapp2.2" and "AspNetCore version 2.2.0" and when I run "dotnet new mvc" it is not installing bootstrap and bower. Is there any extra command to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a960-abec-255dd907d04d
* Cont

[2018-12-24 01:50] justinormont opened #9730 "Update ML.NET docs to remove `runtime` in namespaces"
In https://github.com/dotnet/machinelearning/pull/1956, we removed `runtime` from the namespaces.

Now we have to update the ML.NET example code.

For example, we moved:
* `Microsoft.ML.Runtime.Data` to `Microsoft.ML.Data`
* `Microsoft.ML.Runtime.TimeSeriesProcessing` to `using Microsoft.ML.TimeSeriesProcessing`
* `Microsoft.ML.Runtime.Learners` to `Microsoft.ML.Learners`

cc: @JRAlexander

Cross

[2018-12-24 04:53] noursicain opened #9731 "More info"
The topic is Ok if you try to build an .exe. However i am trying to build a dll and i have this error. A link to the way of specifying dll or exe would have been nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcc1ba33-60dd-1e44-2498-eb76f0d964c1
* Version Independent ID: a1404161-c48b-564b-03ea-d4340fe28c53
* Con

[2018-12-24 05:30] #9724 closed

[2018-12-24 08:25] viveleltsi opened #9732 "IsNullOrWhiteSpace with capital S not a "s"."
Hello
I think there's a mistake on the RegexUtilities class.
"
if (string.IsNullOrWhitespace(email))
            return false;
"
string.IsNullOrWhitespace(email) should be string.IsNullOrWhiteSpace(email) with a capital "S" at space not a "s").

I hope my comment will help.

Best regards

Dan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-12-24 10:17] ghelyar commented on #8896
If a library is netstandard only, net472 will pick that. If a library has _any_ net framework targets, net472 will pick that instead.

The problem I had with an existing nuget package was that it had both netfx and netstandard targets, and the netfx target had a dependency on Microsoft.Extensions.Configuration < 2.0. I wanted to use the netstandard2.0 target, which had a dependency on >= 2.0 but I

[2018-12-24 14:04] bugaevski opened #9733 "Test Your Solution"
Did anybody from Microsoft try to use the suggested code for Default.aspx?
It does not even compile..
The subject of that article - is extremely important. BUT - it is absolutely useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8056ac34-1796-8082-572a-bb75f2af6395
* Version Independent ID: f382bce9-6e5b-cb9f-7e0

[2018-12-24 19:16] NextTurn opened #9735 "Broken links"
The following links are broken:

https://github.com/dotnet/docs/blob/b9eedefad6fa764329276665148d104d3a3a94f2/docs/standard/modernize-with-azure-and-containers/lift-and-shift-existing-apps-azure-iaas.md#L86
http://azuremigrationcenter.com/

https://github.com/dotnet/docs/blob/b9eedefad6fa764329276665148d104d3a3a94f2/docs/framework/winforms/controls/creating-a-wf-control-design-time-features.md#L64

[2018-12-25 08:58] rendmath opened #9736 "C# 7.3 and [field:] attributes"
"Attributes are permitted on auto-implemented properties but obviously not on the backing fields since those are not accessible from your source code. If you must use an attribute on the backing field of a property, just create a regular property."

This is now obsolete as of C# 7.3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-12-25 12:19] johnkellyoxford opened #9737 "What's new in C# 7.3 - incorrect statement in document"
[Enter feedback here]

-
![image](https://user-images.githubusercontent.com/32420055/50422088-98704580-083e-11e9-8b02-fe6c90d620e0.png)
That code does not compile in a safe context, it clearly has the unsafe keyword in it
--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddcaa6a52
* Version Indepe

[2018-12-25 17:50] changov opened #9739 "Not clear what the default mode for Server GC is"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcebd46-8a64-9531-f6e1-3a330b61bb0f
* Version Independent ID: 7538a252-8fa8-4615-92df-f1c6d7d6a3e4
* Content: [Latency Modes](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/latency)
* Content Source: [docs/standard/garbage-collection/latency.md](htt

[2018-12-25 23:45] seanpo opened #9742 "Is component a string literal?"
In the example for "Resource file in versioned referenced assembly" it is unclear whether or not "component" is a string literal. It may be better if the documentation can point out what are string literals, and what aren't.

It also isn't clear how to write the ReferencedAssembly. It would just be the assembly name, when you look at the properties of the project, correct?

---
#### Document Detai

[2018-12-26 03:06] donhuvy opened #9743 "Need update document to .NET Core SDK 2.2"
at here https://docs.microsoft.com/en-us/dotnet/core/#download-net-core-21 and
https://docs.microsoft.com/en-us/dotnet/core/#net-core-21

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49bc05d-7c8e-5f89-aac5-d133225da4d5
* Version Independent ID: 2f831fc9-dfe6-15db-4ec6-00f59c2dacc2
* Content: [.NET Core Guide](https:/

[2018-12-26 13:17] spboyer commented on #8647
@regal60740 & @f2calv

In the step -> https://docs.microsoft.com/en-us/dotnet/core/docker/building-net-docker-images#run-the-aspnet-app-locally

The instructions state to change directory into `aspnetapp` prior to building and running the commands. The command assumes you are currently in the `aspnetapp` directory.

[code]

[2018-12-26 14:20] nxtn opened #9744 "Fix XML code blocks"
Some hand-written XML code blocks contain mistakes. I tried to find them out with `XmlReader`.

The output is [here](https://gist.github.com/NextTurn/a1445dfee1b8e51d5890c9b886a3fbf1) with a few false positives.

[2018-12-26 21:10] Thraka commented on #9744
Thank you for tackling this. I'm assigning this to you and I'll put it in our current project/milestone. Please let me know when you've finished (it seems like you're going to do multiple PRs?) and I'll close this.

[2018-12-26 21:31] #8959 closed

[2018-12-26 21:38] #9694 closed

[2018-12-27 04:00] danmosemsft opened #9750 "Roll CoreFX PInvoke guidance into docs"
The CoreFX repo has a document with a fair bit of useful guidance about effective use of PInvoke. Some or all of this could be rolled into the MSDN docs here, as it is not CoreFX specific.

Document is [interop-pinvokes](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/interop-pinvokes.md
) also a section in general [interop](https://github.com/dotnet/corefx/blob/master

[2018-12-27 12:02] Mandated opened #9752 "Instance Constructor as Static member?"
In Function Member Invocation it lists Instance Constructor as a Static Member.  Just wanted to check and see if that is right.
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#function-member-invocation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e783650c-e063-e26

[2018-12-27 12:08] maryob77062 opened #9753 "Bad link"
Troubleshooting Data Types. https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/programming-guide/language-features/data-types/troubleshooting-data-types
Produces 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1297ceea-f38a-44c7-f275-2c1e6def3fe7
* Version Independent ID: ce852873-7679-26

[2018-12-27 12:57] testnar2019 opened #9754 "How to compile in localhost?"
Hello :

I would like to participate in this project but I do not know how to compile it so that the localhost shows me the files.

Thank you!!!

[2018-12-27 16:13] NextTurn opened #9755 "Extra double spaces"
Why are there extra double spaces at the end of each line in some files?

[2018-12-27 18:07] RupendraDhillon opened #9756 "Question related to is pattern expression"
The description of the is pattern expression says the following: "The is pattern expression extends the familiar is operator to query an object beyond its type."

Could you show an example where the is operator is used to query an object other than it's type ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc229b53-a54

[2018-12-27 18:45] ocdtrekkie opened #9757 "Missing VB samples should fall back to C#, not C++"
**Issue description**

So I was looking at a sample of the System.Net.Mail.Attachment class (I previously discovered this hole in the VB samples here: https://github.com/dotnet/docs/issues/6129#issuecomment-401176644), and with my docs view set to VB, I found it extremely odd I was looking at C++ code, rather than at the very least, C# code, which I am more likely to expect. From issues like #8555

[2018-12-27 18:55] Narvey opened #9758 "GUIDs are a mess"
There is a serious mess going on with your documentation IDs. You generate way too many GUIDs per doc, and none of them line up.

For instance (using [this example doc](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference)), when using the link to leave feedback [directly on GitHub](https://github.com/dotnet/docs/issues/new?title=&body=%0A%0A%5BEn

[2018-12-27 21:23] zackbiernat opened #9762 "XmlDocument naming"
The name of the XmlDocument in Step 3 is different in the subsequent steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d033ccb-b2fa-384d-2bf6-c51a951d8ee4
* Version Independent ID: b56ee08f-c576-9491-4e20-a40d0a82b818
* Content: [How to: Verify the Digital Signatures of XML Documents](https://docs.microsoft.com/en

[2018-12-27 22:06] AaronRobinsonMSFT commented on #9750
@jkoritzinsky is this something we could fold into some of the samples we want to create for P/Invokes?

[2018-12-28 02:31] NextTurn commented on #9735
The first one could be replaced with https://azure.microsoft.com/en-us/services/azure-migrate/ or https://azure.microsoft.com/en-us/migration/.

[2018-12-28 02:41] mairaw commented on #9755
The script used to migrate the content from MSDN to docs did that.
It creates a new line. We’re removing those when updating the articles.

[2018-12-28 07:41] volkan-yazilim opened #9765 "Prefix for octal literal"
Has ever been a prefix for octal literal in C# history ?

Something like 0o, 0O or just 0...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaecbd7-3fd4-ceca-9d12-48b3f4bf3677
* Version Independent ID: 01405e94-c064-9c7a-ed63-b0b440b9d2e5
* Content: [byte - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/

[2018-12-28 07:55] volkan-yazilim opened #9766 "double is missing."
There is not 'double' in the list. It is necessary to explain why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86308a57-1418-cf16-94f7-d840d56f6dda
* Version Independent ID: cdb096f4-7498-2db7-ad2d-cd7c794b0bee
* Content: [Implicit numeric conversions table - C# Reference](https://docs.microsoft.com/en-us/dotnet/csh

[2018-12-28 12:12] imba-tjd commented on #9766
`double` can not **implicit** convert to other types.

[2018-12-28 12:53] AlexanderDerck commented on #9185
To my understanding there is ASP.NET MVC (built on top of the .NET Framework) and ASP.NET Core MVC (built on top of .NET Framework **and** .NET Core) which are 2 different frameworks so I guess it's not an error.

[2018-12-28 13:58] mlibner commented on #9169
The statement about removing the spaces in between the hex numbers was very valuable info. Thank you!

[2018-12-28 14:57] andreireiand opened #9768 "would be great to undersand how can the client be setup without a Web Reference (which might not be added for one or another reason)"
Example: I'm working on a solution that comes pre-packed with a product, and that allows customization up to a certain degree ... however adding Web Service references doesn't work. I can add DLL references fine though.
Best practices on this would be appreciated. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2018-12-28 15:04] andreireiand opened #9769 "if WCF(using app.config) is not allowed on the client side, can one use simpler concepts (such as HttpClient objects) to consume such services?"
And is there an example of that?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c27c6cc-63c8-5c3d-f344-228f8ad86c90
* Version Independent ID: d560cf6a-e9bd-95e5-ce15-a08a5778181a
* Content: [How to: Create a Windows Communication Foundation Client](https://docs.microsoft.com/en-us/dotnet/framework/wcf/how-to-c

[2018-12-28 16:05] BillWagner commented on #9752
Thanks for spotting this and pointing out the issue @Mandated

I've submitted a PR with the fix:  dotnet/csharplang#2111

[2018-12-28 18:36] JasonCard opened #9770 "CONTRIBUTING.md is written for contribution toward English repo only"
**Issue description**

[CONTRIBUTING.md](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md) is written for contribution toward English repo only, so when it was localized, it caused confusion for contributor toward localized repo.
Here is the GitHub Issue raised for reference: [https://github.com/dotnet/docs.ja-jp/issues/275](https://github.com/dotnet/docs.ja-jp/issues/275)

The sentence

[2018-12-28 18:43] andreireiand opened #9771 "running this example without the app.config (which proves troublesome to include into some apps) will be helpful"
Some apps just don't have appetite for app.config file ... I know there are ways to programmatically add app.config content straight into code - it would be great to understand how that can be done. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c27c6cc-63c8-5c3d-f344-228f8ad86c90
* Version Independent ID: d560

[2018-12-28 18:53] andreireiand opened #9772 "how can we actually avoid using the app.config file?"
We've got:

Edit App.config in GettingStartedLib to reflect the changes made in code:

    Change line 14 to &lt;service name="GettingStartedLib.CalculatorService"&gt;
    Change line 17 to &lt;add baseAddress = "http://localhost:8000/GettingStarted/CalculatorService" /&gt;
    Change line 22 to &lt;endpoint address="" binding="wsHttpBinding" contract="GettingStartedLib.ICalculator"&gt;

is there

[2018-12-28 19:41] andreireiand opened #9773 "removing the endpoint section from the App.config errors out"
with error:

System.InvalidOperationException: Service 'GettingStartedLib.CalculatorService' has zero application (non-infrastructure) endpoints. This might be because no configuration file was found for your application, or because no service element matching the service name could be found in the configuration file, or because no endpoints were defined in the service element.
   at System.Servic

[2018-12-28 19:47] IainMcCracken opened #9774 "Signed or unsigned?"
This article claims to be about unsigned assemblies, but uses the words signed and unsigned interchangeably. First example code is referred to as friend_signed_A.cs in the text, but has a comment at the top saying friend_unsigned_A.cs. Step 3 mentions friend_signed_A.cs in the text but the example compiles friend_unsigned_A.cs. And so on. I was able to figure out that all instances should say unsi

[2018-12-28 21:45] andreireiand opened #9775 "would need to be a bit more clear"
Let's start from your own example under:
https://docs.microsoft.com/en-us/dotnet/framework/wcf/how-to-create-a-wcf-client

Host side:
What's the equivalent of the host App.config in terms of c# code:

&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;configuration&gt;

  &lt;appSettings&gt;
    &lt;add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /&gt;
  &lt;/appSettings&gt;
  &

[2018-12-28 23:43] Belorus commented on #9713
Could you please explain what does "copying value of this means" from x86 ASM perspective and how does it relate for example to full struct copy when it is passed in args, and why it should be mentioned in docs ?

Code shows that instance method invocation in structs is very cheap and absolutely no copying of anything happens (address is passed in register, but this happens with ref-types as well,

[2018-12-29 02:21] EliteLoser commented on #7607
If anyone's interested, here's a thorough version of the PowerShell approach..: https://github.com/EliteLoser/DotNetVersionLister

[2018-12-29 04:09] maryob77062 commented on #9753
I was on the page Boolean Data Type (Visual Basic) https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference//data-types/boolean-data-type <https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/data-types/boolean-data-type>  I clicked on the link  <https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/programming-guide/language-features/data-types/

[2018-12-29 08:01] saadsaeed01 opened #9778 "Contents of byte array[] being converted into twos compliment"
I have a byte array.
byte[] myArray={0x10,0x14,0x01}
Now if I print the contents of byte array e.g.
Console.WriteLine(myArray[0]);
I am getting this:
16(Which is two compliment of 0x10).
What I am doing wrong here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaecbd7-3fd4-ceca-9d12-48b3f4bf3677
* Version Independent

[2018-12-29 08:59] mikedn commented on #9778
What do you mean? 0x10 is the hexadecimal representation of 16, it has nothing to do with two's complement.

[2018-12-29 10:25] DickBaker opened #9779 "Error CS5001 on code example(s)"
The "Creating a continuation for a single antecedent" example gives error
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS5001	Program does not contain a static 'Main' method suitable for an entry point	TaskExplore	C:\Users\DickB\source\repos\TaskExplore\TaskExplore\CSC	1	Active

whether I use Console(Framework) or Console(Core) project templates, despite my having VS2019 (16

[2018-12-29 11:01] DickBaker commented on #9779
before my previous posting I had omitted to change the Advanced settings to force C# to v7.1 or later (code as existing docs then works ok), but imho would be helpful to instruct readers that if the get CS5001 how to fix it. If OP are on C# 7.0 or earlier (i.e. before the $MainEntrypoint$ wrapper) then the docs code will not work and OP would need the traditional workaround as given.

[2018-12-29 13:59] nicoleta-scrimint commented on #5998
Thank you for the clarification!

[2018-12-29 14:45] jamieomaguire commented on #9635
zoehart, if you are using a Linux container (even on a Windows machine with Docker for Windows) then I don't think you need to/can run the ipconfig command. That tutorial step is part of running the app in a Windows container. Apologies if I'm mistaken!

[2018-12-29 16:01] andreireiand opened #9780 "get access to the return from within the console application?"
Take for example, this basic service exemplified here.
How would one grab hold of the addition result from within the:

    static void Main(string[] args)

function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c8cbb16-05b1-a5f2-9031-1d7beb52efea
* Version Independent ID: 98092a9f-c19a-cca9-75d6-75b9c3d4cc0b
* Cont

[2018-12-30 04:02] NextTurn opened #9781 "Dispose IDisposable objects in examples"
The same as dotnet/dotnet-api-docs#1491

We should call `Dispose` on objects that implement `IDisposable` in examples.

For example

[code]

can be changed to

[code]

[2018-12-30 07:34] NextTurn commented on #9781
Moved to dotnet/dotnet-api-docs#1491

[2018-12-30 09:44] imba-tjd commented on #9766
Personally I would -1 because explicit conversion is just below this one.

[2018-12-30 10:43] jagorochi opened #9782 "KISS"
I actually understood what is an attached property from the WPF overview page :
https://docs.microsoft.com/en-us/visualstudio/designers/introduction-to-wpf?view=vs-2017

Note :
"A property that's implemented by a parent control for use by child controls is a WPF construct called an attached property."

It's probably a personal feeling but the whole MSDN documentation is a reason why the WPF learni

[2018-12-30 10:46] EliteLoser commented on #9174
I know this isn't what you want, but at least I handle the "convoluted logic" in this function: https://github.com/EliteLoser/DotNetVersionLister -- For Microsoft: Maybe a "registry folder" with version numbers mapped to .NET framework names in a human-readable format, and the greatest number is the latest version.. something like that - give it some thought. :)

[2018-12-30 11:43] EliteLoser commented on #5120
I'm trying to keep this PowerShell function that handles the logic updated: https://github.com/EliteLoser/DotNetVersionLister - and it's … on GitHub, so feel free to let me know when I'm out-of-date. ;) I wove to defend the .NET version listing to my grave! (hm)

[2018-12-30 15:43] manuela1994 opened #9783 "xsl-xml_html_css"
i want add a tag of link for my path.css to xsl code but it still invalide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56eb39a3-d417-0ca8-1bd4-a866a0866f98
* Version Independent ID: 0afa841d-721e-016f-2510-e5115072d20e
* Content: [XML documentation parse error: Start tag '&lt;tag&gt;' doesn't have a matching end tag

[2018-12-30 21:58] guardrex opened #9785 "dotnet test from the solution directory"
The current topic (for xUnit, perhaps NUnit and MSTest as well) remark that the `dotnet test` command must be executed from the test project's folder, which **was true** prior to the release of 15.9.

https://youtu.be/9Bhp8tw9wEw?t=818

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39c2f1b-f41a-bdf9-2646-09379941453d

[2018-12-30 22:45] beautifullife commented on #7613
Nice Framework!

[2018-12-30 23:00] zenith85 commented on #9121
**Attention** "save the noobs"
This code doesn't work out of the BOX , there is a hidden error , the client will simply closes up the console without a successful attempt of connection.

Solution:
Line 40 . change
IPHostEntry ipHostInfo = Dns.GetHostEntry("host.contoso.com");
Into
IPHostEntry ipHostInfo = Dns.GetHostEntry(Dns.GetHostName());

**Attention "is over"**

P. S. for this thread owner ,

[2018-12-31 06:09] RAJU2529 commented on #8270
I recommend to upload videos for best instructions

[2018-12-31 06:12] RAJU2529 opened #9787 "need registry keys"
This article is good for programmer .
I could Not able to understand fully because its very faraway than my knowledge

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da2b7d0-720c-31de-ab73-a088feebd9b4
* Version Independent ID: 7275f5b4-9def-16e5-a6c6-6d01230be338
* Content: [Animation Tips and Tricks](https://docs.mic

[2018-12-31 10:00] RAJU2529 opened #9788 "any registry settings"
may i get any registry keys to this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8183e7b4-f634-fccd-e8fd-8edab6032ad8
* Version Independent ID: 33e3eeaf-533f-3848-97e9-18dd44652181
* Content: [Animation and Timing System Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/anima

[2018-12-31 10:38] Alex0x1 opened #9789 "A problem regarding balancing group definitions"
The balancing group definition uses name2 as a stack. The beginning character of each nested construct is placed in the group and in its Group.Captures collection. When the closing character is matched, its corresponding opening character is removed from the group, and the Captures collection is decreased by one. After the opening and closing characters of all nested constructs have been matched,

[2018-12-31 11:29] paulomorgado opened #9790 "ProduceReferenceAssembly"
This article should mention that the `/refout` switch can be set with the MSBuild property `ProduceReferenceAssembly` - see https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cfe451-fe25-39c9-cf32-f5a434008a01
* Version Independent ID

[2018-12-31 17:37] KathleenDollard commented on #9753
@maryob77062

Sorry, I wasn't clear. I need help from the docs team on this. I really appreciate you reporting it.

Let me add some cc's
cc: @rpetrusha, @BillWagner, @mairaw

[2018-12-31 20:52] regal60740 opened #9791 "Control Not Shown in Toolbox"
When I get to this step: "Find the new tab called DebugControlLibrary Components and click to select it." The tab and control are not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87c96e6-c511-60c5-84a8-93762499c5d7
* Version Independent ID: 24faa21d-a6b8-5626-1979-542c08b5a8f4
* Content: [Walkthrough: Debuggi

[2018-12-31 20:54] regal60740 commented on #9791
Also, I'm not seeing instructions for a reference to DebugControlLibrary project.

[2018-12-31 21:12] regal60740 commented on #9791
I was able to add the control by right clicking on the toolbox and browsing to the assembly for the control.

[2018-12-31 21:59] regal60740 commented on #9791
When I get to this step: "Open Form1 in the Forms Designer and select the DebugControl control.", I can't get to the DebugControl. Visual Studio hits the break point in the debugging instance and won't let me get to the other instance. It just keeps pulling me back to the debugging instance.

[2019-01-01 15:33] geometrikal opened #9792 "Is this the correct template for a ToggleButton?"
Is has x:Key="ComboBoxToggleButton" and when I use it has a dropdown arrow ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4880a7f-9dc1-8e3e-a7e5-e15d26e93979
* Version Independent ID: 9cd19b10-8e43-651a-6cc2-04a9f0e9917c
* Content: [ToggleButton Syles and Templates](https://docs.microsoft.com/en-us/dotnet/framewor

[2019-01-01 17:35] volkan-yazilim commented on #9766
#9793

[2019-01-01 18:01] #9765 closed

[2019-01-01 21:20] CeciAc opened #9794 "Parameters not documented"
@agowa338 commented on [Tue Jan 01 2019](https://github.com/dotnet/docs.de-de/issues/118)

Parameters are not documented (output of `dotnet msbuild /help`)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a9083568-6c58-1c1b-0062-10632e61a88d
* Version Independent ID: a1d47471-9482-9f69-f1

[2019-01-01 21:20] CeciAc commented on #9794
Hi team,
I'm moving this here since the user is reporting missing documentation

[2019-01-01 21:57] MusorGaming commented on #6184
The documentation also says nothing about whether it does or doesn't zero memory.
In theory or practice.
This is absolutely CRUCIAL to get right. Including the Span<T> and how that affects zeroing memory or not.

This is crazy, are people now supposed to deduce how language features work by random github discussions/posts?

[2019-01-01 22:27] txwizard opened #9796 "What About Spy++ Rectangles?"
I came to this page in search of help determining the relationship between the rectangle coordinates reported by the Properties dialog box with respect to a control (window) selected on a Windows Forms application. It's great to be able to convert client coordinates to screen coordinates within an application, but that is no help when I have a set of coordinates reported by Spy++ that I need to co

[2019-01-02 01:56] #9558 closed

[2019-01-02 01:57] mairaw commented on #9753
Do you remember how did you land on that page @maryob77062?
The page you were visiting somehow has a double // after language-reference, which makes the relative URLs break.

https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference//data-types/boolean-data-type

If you visit the “right” page, that doesn’t happen:
https://docs.microsoft.com/en-us/dotnet/visual-basic/language-referenc

[2019-01-02 07:40] maryob77062 commented on #9753
I cannot remember. Many times I come to Microsoft docs from Google.

From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, January 1, 2019 7:58 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: maryob77062 <maryob77062@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Bad link (#9753)

Do you remember how did you land on that page @maryob77062 <https://github.com/ma

[2019-01-02 08:12] VaraneFC opened #9797 "vh,k"
hv,v

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ed0851-104b-e65b-21bb-e59541e2b113
* Version Independent ID: 9c6481ef-659e-a7d3-e8a8-05dcc5f48a7c
* Content: [Implicit conversion from '&lt;typename1&gt;' to '&lt;typename2&gt;' in copying the value of 'ByRef' parameter '&lt;parametername&gt;' back to the matching a

[2019-01-02 09:25] MizardX opened #9798 "Markdown quoted backtick"
The rendering of ``<code>$`</code>`` differs slightly between GitHub (GFM) and docs-site (Markdig). GitHub renders the page as intended, but the docs site messes up when rendering the unescaped backtick under Substitutions.
A better way to format the code is to use double backticks (``` `` ```).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-02 10:28] DickBaker opened #9800 "async void BAD"
We are constantly hearing "async void" is bad [except for event handlers], yet this doc on files espouses ProcessRead() and ProcessWriteMult() examples. This implies fire-and-forget and the caller has no idea if/when the work finishes or if any exception occured. I suggest that you at least change the return type from void to Task to encourage calling code to be responsible !

---
#### Document De

[2019-01-02 13:42] zoehart commented on #9635
Yes, I think that the root of my problem was that I _thought_ Docker for Windows had created a Windows container, not a Linux container. When I installed Docker for Windows, I checked an option that said something like "Use Windows containers instead of Linux containers". Based on that, I thought/assumed that my containers would be Windows containers. I ended up going into settings and changing it

[2019-01-02 18:01] Powerhelmsman opened #9801 "code does not compile"
This issue was submitted by @bugaevski from https://github.com/MicrosoftDocs/feedback/issues/991.
Please contact the user for more details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8056ac34-1796-8082-572a-bb75f2af6395
* Version Independent ID: f382bce9-6e5b-cb9f-7e01-e2f55786b042
* Content: [How To: Build Claims-

[2019-01-02 18:15] CeciAc opened #9802 "Wrong example code in "Discards - C# Guide""
@sopepos commented on [Wed Jan 02 2019](https://github.com/dotnet/docs.ko-kr/issues/88)

There's no "switch" statement in example code of "Pattern matching with switch and is" section.

[code]

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 8047b417-55af-c6df-9333-f1e1c428e594
* Version Independent ID: 8bcc16bb-c2d8-0b6d-af20-6958964efe9e
* Content: [무시 항목

[2019-01-02 18:16] CeciAc commented on #9802
Hi team,
I'm moving this here since the suggestion is about the code
best regards

[2019-01-02 18:53] glenn-slayden opened #9803 "Volume GUID path format?"
Only because this page is so comprehensive, I should mention the **_one_** file system path naming format which is **_not_** mentioned, namely the so-called **volume GUID** syntax, which looks like this: (e.g.)

<pre>\\?\Volume{30d23498-b8e0-42cb-912d-851eb0fffc7b}\</pre>

As with other types of paths, additional path specification(s) can be appended to further navigate to some directory or file o

[2019-01-02 19:55] DickBaker opened #9804 "when type.property==0 are poor examples"
in ComputeArea_Version4 [and others] there are various tests is some property of the matched type equals zero, and in this case the constant zero is returned. I dislike such examples becasuse
1. the when condition code is likely more expensive than the simple expression specific to particular shape
 (if that property is zero the the expression result will also be zero)
2. having such conditions co

[2019-01-02 20:05] mavasani commented on #8463
Tagging @sharwell @gpetrou @duracellko as we hit this issue in https://github.com/dotnet/roslyn-analyzers/issues/1950

CA1063 FxCop analyzer tried to aggressively flag all derived types overriding the destructor/finalizer and suggested to remove them, which caused CA1063 to fire on the documentation snippet cited here.

As we concluded in https://github.com/dotnet/roslyn-analyzers/issues/1950 and

[2019-01-02 20:09] frankhaugen opened #9805 "Horrible grammar"
The grammar in this article needs serious improvements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310bd372c
* Version Independent ID: 266d08ae-344a-683b-11e2-143b704e21a8
* Content: [Open-source .NET library guidance](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/)
* C

[2019-01-02 21:00] regal60740 opened #9806 "A C# code file generated from the Northwind database."
When I try to run this command from a VS Command Prompt as administrator, I get this error: "Error : A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: SQL Network Interfaces, error: 26 -

[2019-01-02 21:11] regal60740 commented on #9806
I was able to create the file by using "sqlmetal /server:myservername /code:"c:\linqtest6\northwind.cs" /language:csharp "C:\linqtest6\northwnd.mdf" /pluralize".

[2019-01-02 22:20] sharwell commented on #8463
I disagree with item 3 in the original list. I am not aware of a circumstance where a user needs to write a finalizer. If a user reaches a step where they are writing a finalizer, they have already made a mistake in an earlier step.

[2019-01-02 22:35] regal60740 commented on #9806
Now when I run the program, I get an exception at this line in the code: "foreach (var c in db.Customers.Where(cust => cust.CustomerID.Contains("CA")))". The exception is "instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connectio

[2019-01-02 22:38] bartonjs commented on #8463
@sharwell Most of that guidance is in direct disagreement with the established rules (and guidance published in Framework Design Guidelines).

If nothing else, doing a 180 on the guidance would make for a very hard universe to understand, so I don't see us rewriting them as you suggested.

[2019-01-02 23:09] priyanka-gomatam opened #9807 "Review links to MSDN blogs"
Resolving file references in team build link does not exist. Please update to a working link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0067cc97-4a34-364c-ff91-7864bca5c3e1
* Version Independent ID: 902901c2-f8b6-c58c-c2e8-f93aab2487c9
* Content: [Compiler Error CS0246](https://docs.microsoft.com/en-us/dotnet/cshar

[2019-01-03 01:07] noahfalk commented on #9512
Sorry I've been on vacation and just getting back now. Logically the controller is always in one of two states, running or stopped. Stopped means that the debugger has suspended all managed code execution, running means the debugger is not doing that (which is to say, the code still might not be running, but it isn't the debugger that is preventing that from occurring). Starting from a running sta

[2019-01-03 05:12] BrunoJuchli commented on #8463
@sharwell @stephentoub

Quoting @stephentoub

(Context: need for finalizers *outside* of `SafeHandle`s)

- Since documentation is now much more "alive" would it be an option to omit the 1% case untill someone comes up with a strong point (e.g. files a new issue in the future)? At that time we might better know how to deal with this.
- Does it make sense to "blow up" documentation just for the 1% c

[2019-01-03 06:08] BrunoJuchli commented on #8463
@bartonjs

Could you elaborate on that? Personally I find it a very hard universe to understand where documentation is illogical and pointing me in the wrong direction (and, as a result, over the years I've had repeated discussions about this specific topic with many a co worker). Are you sure the universe is easier to understand when documentation is "wrong" as when it's "right" but it's more com

[2019-01-03 06:34] sharwell commented on #8463
@bartonjs I agree, and I've been an ardent supporter of the established rules for more than a decade. However, there are two issues that came to light over the past two years which eventually resulted in me changing my mind:

1. No one outside of @stephentoub should be writing finalizers (he works on the core runtime where finalization support underneath APIs like `SafeHandle` is implemented). It

[2019-01-03 09:01] deap82 opened #9808 "file or filename? Show file included docs in intellisense?"
In the example for using a separate xml file, the attribute `file` is used, but in the text after `filename` is used. It should be `file`.

Is there any way to get docs included this way to show up as "intellisense" in VS 2017, as it does when the comments are directly in the code file? For example when hovering a member at the point of use. It does not work for me when the doc is in a referenced

[2019-01-03 15:09] cihanyakar commented on #9184
A small info:
U means unsigned => in c# U1:byte, U2:ushort, U4:uint, U8:ulong UG or U16:Microsoft.ML.Data.RowId
I means signed Integer => in c# I1:sbyte, I2:short, I4:int, I8: long
R means real numbers => in c# R4 or Num:float, R8:double
TX, TXT, Text => in c# string or ReadOnlyMemory<char>
BL,Bool => in c# bool
TS,TimeSpan => in c# TimeSpan
DT => in c# DateTime
DZ => in c# DateTimeOffset

[2019-01-03 16:53] bartonjs commented on #8463
I write finalizers all the time, they're useful in tracing object lifetimes.  They don't release, but they do get written...

The current rule bullets from FDG:

9.4 (Dispose Pattern)
* DO implement the Basic Dispose Patten on types containing instances of disposable types
  * bartonjs summary: If you hold a disposable thing, be disposable.
* DO implement the Basic Dispose Pattern and provide a fi

[2019-01-03 16:58] stephentoub commented on #8463
No, they all won't.

Here are just a few examples off the top of my head (I'm sure there are more):
- HttpConnection (https://github.com/dotnet/corefx/blob/5c55936c24bb6a2038d3eb5a68d4a51011d02284/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L1648-L1655). In SocketsHttpHandler, we need to be able to support MaxConnectionsPerServer, which means we need to be able to

[2019-01-03 20:04] #9798 closed

[2019-01-03 20:33] piksel opened #9812 "Document PackageLicenseExpression"
The properties for outputting the new &lt;license type="..."&gt; nuget properties is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj format for .NET Core - .NET Core CLI](https

[2019-01-03 21:59] sharwell commented on #8463
@bartonjs I don't know enough about your application to know why you are tracing lifetimes in this way. However, when (rarely) faced with similar situations in the past, I've always found alternative solutions viable (typically event tracing / profiling, but could also be dependent objects).

@stephentoub Your examples are fascinating, but to me they highlight how far the core framework goes out o

[2019-01-03 22:07] stephentoub commented on #8463
It doesn't have an IntPtr handle.  So this is just another way of writing a finalizer (a harder way), because you have to override everything to do with that handle, instead of just writing a finalizer.  Why?

That then requires way more boilerplate, doesn't work well with nesting (which these do), etc.  Your suggesting a workaround for something that doesn't need a workaround.

You're very focuse

[2019-01-03 22:23] sharwell commented on #8463
My claim is the current guidance for disposable objects is a large cognitive overhead, and that the cognitive overhead is substantially reduced by disallowing a specific construct (finalizers). I further claim that this is reasonable because both of the following are true:

1. Cases where custom finalizers are needed because they serve a purpose are exceedingly rare.
2. Even within the set of case

[2019-01-03 22:50] stephentoub commented on #8463
We should not be "disallowing" finalizers; they are a valuable and viable tool.  And I agree with @bartonjs on the guidance:
- Have native resources you need to free?  Use SafeHandle if at all possible, starting with built-in ones and writing your own if they don't suffice.
- Have to do some other kind of clean-up that's not as clean as calling some function to close/clear an IntPtr?  Here's how t

[2019-01-04 00:11] weitzhandler opened #9815 "How to register an async call upon cancellation?"
Hi,

I need to to be able to wait for users cancellation, and then call another 'clean-up' method, that is also asynchronous.

In the WebClient example [above](https://docs.microsoft.com/en-us/dotnet/standard/threading/cancellation-in-managed-threads#listening-by-registering-a-callback), a call to an async method is called without `async`/`await`.

What is the right way to register an async cancel

[2019-01-04 00:14] manvendrapundir opened #9816 "Wrong Code Snippet"
In section “Setting Client Credential Values”, code snippet uses service host. Why would client uses service host. It would be either ClientBase&lt;T&gt;, ChannelFactory or Proxy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01a1c95-4ff5-8ded-8436-11887c843130
* Version Independent ID: 4a6f70dd-e7fd-7ec0-9432-eec48e

[2019-01-04 03:31] msschl commented on #9554
I fixed all issues.

PR dotnet/dotnet-api-docs#1516

[2019-01-04 03:34] francisco-chavez opened #9819 "Program Language Selection"
What's the point of having that Language Selection drop-down at the top if it's going to be giving us both C# and VB code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0dc39f7-b153-a46c-3b88-07c8ed2c71bc
* Version Independent ID: 78a14535-9703-e2af-4451-783a7c4c10be
* Content: [Create a WPF application in Vi

[2019-01-04 03:59] LJ9999 opened #9821 "I have no idea what this doc is saying."
Why does my application require an Association Set? I'm writing EF applications just fine and they are replete with Association and Navigation properties, all without knowledge of an Association Set. Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9eca91-e9dd-cba3-1705-7ae86074531f
* Version Independent I

[2019-01-04 05:03] MuhammadKaleemUllah commented on #7218
{date:d} and {time:t} are little bit confusing. Beginner

[2019-01-04 05:12] MuhammadKaleemUllah commented on #7218
We can use date only to show date and time
or
date:d & time:t to tell that the time and date was this ;)

[2019-01-04 08:01] LJ9999 opened #9822 "So what does navigation do for me?"
You described the setup. But what on earth would I use this for? I can't read your mind. Don't assume people know what you know when writing these docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c68a641-b25c-5d34-ace8-01efccc90cfe
* Version Independent ID: 4c80c392-2eeb-e456-5b3c-a3d6443c2a06
* Content: [navigati

[2019-01-04 08:38] BrunoJuchli commented on #8463
@stephentoub

I tried searching github for C# code containing ": IDisposable" and "~". Unfortunately the search ignores both ":" and "~". So it's a bit hard to get unbiased data.
So all i've got is annecdotal data:  In 10 years of development I encountered exactly one finalizer implementation not part of the .Net Framework. It was in MahApps.Metro and it was faulty - the only reason it got relevan

[2019-01-04 12:31] imba-tjd commented on #9819
It can not distinguish C# XAML from VB XAML, but it's valid for normal c# and vb codes.

[2019-01-04 13:43] candritzky opened #9826 "Bug in Announcement sample?"
I think it should read
    serviceHost.Description.Behaviors.Add(discoveryBehavior);
instead of
    serviceHost.Description.Behaviors.Add(new ServiceDiscoveryBehavior());

Otherwise it will ignore the UdpAnnouncementEndpoint which is later added to the discoveryBehavior instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-04 15:32] #9736 closed

[2019-01-04 15:36] #9192 closed

[2019-01-04 15:37] #8705 closed

[2019-01-04 15:55] fruex commented on #9717
I can reproduce this problem VS 15.9.4.

[2019-01-04 15:57] #9402 closed

[2019-01-04 16:12] BillWagner commented on #9677
@jpreese Thanks for writing this up.  I've been thinking a bit over the holiday break about the best resolution.  I whole-heartedly agree with not having "arrange, act, assert" sections labeled in production code. And, our tutorials should teach the processes for production code.

However, the tutorials aren't production code, but instead are learning resources. The labels can be helpful for devel

[2019-01-04 16:15] regal60740 opened #9827 "To execute the query"
I had to use:
Northwnd nw = new Northwnd("Database=Northwind;Server=DESKTOP-DJQKSJN;Integrated Security=SSPI");

            // Get a typed table to run queries.
            Table&lt;Customer&gt; Customers = nw.GetTable&lt;Customer&gt;();

            // Attach the log to show generated SQL.
            nw.Log = Console.Out;

and:
private class Northwnd : System.Data.Linq.DataContext
        {

[2019-01-04 16:37] #8722 closed

[2019-01-04 17:05] BillWagner commented on #9770
@JasonCard

Should the PRs on localized repos target the live branch, or should those repos be reconfigured to edit on the master branch?  It's a one-line [config change](https://github.com/dotnet/docs/blob/master/.openpublishing.publish.config.json#L6)

Which is the preferred fix?

[2019-01-04 17:14] regal60740 opened #9831 "Prerequisites"
I had to add /server:myservername to "sqlmetal /server:myservername /code:"c:\linqtest7\northwind.cs" /language:csharp "c:\linqtest7\northwnd.mdf" /sprocs /functions /pluralize".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbd60b1-cc83-1759-e31d-9fdddb994804
* Version Independent ID: c8fde3b5-9555-c540-443f-922068e

[2019-01-04 17:41] JasonCard commented on #9770
Hi @BillWagner

PRs on localized repos should target the live branch as they are setup now.
Setup for loc repos are different from en-us repo because for most loc repos, we only use live branch to automatically publish localized handback files live. We want to avoid the extra step from having to merge from master to live for loc.
So could we update CONTRIBUTING.md to clarify this difference?

[2019-01-04 18:04] jpreese commented on #9677
I agree with this approach. I'll whip up a PR sometime today.

Thanks for the feedback!

[2019-01-04 18:45] CeciAc commented on #7135
Hola, @yapusito

Esta es una continuación de nuestro comentario anterior. Necesitamos más información para poder encargarnos de sus comentarios. ¿Puede proporcionar información más detallada y aclarar el comentario?

Atentamente,
Equipo internacional de Microsoft DOCS

[2019-01-04 19:19] jpreese commented on #9677
https://github.com/dotnet/samples/pull/549

[2019-01-04 19:24] regal60740 commented on #9831
Testing the Application

I also had to use "Northwnd db = new Northwnd("Database=Northwind;Server=MyServerName;Integrated Security=SSPI");" in order to connect to the Northwind database.

[2019-01-04 19:30] JunTaoLuo opened #9834 "Scope of pattern matched variable inside if statements"
Is this still true? While reviewing code I noticed that the scope of the assigned variable goes beyond the if statement:
[code]
The above code compiles and seems to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3126aaa9-8f5f-04f3-2d75-96477b6273cd
* Version Independent ID: 3f4b3eac-11eb-2dd6-4f27-b24537367288
*

[2019-01-04 19:37] GrantMeStrength opened #9835 "Please rename the regular method"
Using the name "Double" is confusing e.g. static double Double(double input) has three "doubles" in a row.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9eba9bb-8296-b41c-f8f3-4cebe488722e
* Version Independent ID: 95b1655b-a782-02b1-ca0c-14f1b95bf5a5
* Content: [delegate - C# Reference](https://docs.microsoft.com/en

[2019-01-04 21:47] msschl commented on #8364
There are still some absolute links pointing to `https://docs.microsoft.com/dotnet/api/...`.

I don't know whether these links could be changed to relative links as well.

[2019-01-04 23:02] #9677 closed

[2019-01-05 00:06] Thraka commented on #9826
You're right! Thank you for filing this bug. I'll add it to the backlog and add flag the community to fix it. If you would like, you too could quickly fix it by editing the article. See the [contributors guide](https://review.docs.microsoft.com/en-us/help/contribute/?branch=master) for more information about making a quick edit.

[2019-01-05 01:56] dhmorrison opened #9840 "Dokyoomintashun? I'm not playin' no mo'. Get Down To O'Shack Hennessy's Office..."
**The project was restored using Microsoft.NETCore.App version blah, but with current settings, version blah would be used instead**

Really?? I am saddened that this is the best guidance you can provide.  Why do you struggle so to provide useful troubleshooting information?

_The cream RISES to the top._

https://youtu.be/rWrlAmT4jyA

Oh yeah, Nothing Means NOTHING. Bad documentation means NOTHIN

[2019-01-05 01:58] #9766 closed

[2019-01-05 04:13] kims07231992 opened #9844 "Duplicated sentence"
This paragraph used twice.

The API Gateway products usually act like a reverse proxy for ingress communication, where you can also filter the APIs from the internal microservices plus apply authorization to the published APIs in this single tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5a3c5f2-59c1-d0f1-15f5-4

[2019-01-05 04:16] kims07231992 commented on #9844
Sorry, it's not duplicated but the author wrote a quite similar sentence twice.

 These products act like a reverse proxy for ingress communication, where you can also filter the APIs from the internal microservices and apply authorization to the published APIs in this single tier.

The API Gateway products usually act like a reverse proxy for ingress communication, where you can also filter the A

[2019-01-05 04:55] jamieyello opened #9845 "Auto formatting issue in VB"
When using the example code in a place where File is already being used for its static methods, VS doesn't differentiate the object 'file' and the class 'File' and throws an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a619af2e-3561-968c-f48c-c16812f90787
* Version Independent ID: e3bc516e-bfc9-7903-0897-cf911

[2019-01-05 14:15] msschl commented on #9434
@rpetrusha What would you suggest?

Splitting the example of the "f", "ff", "fff", "ffff", "fffff", "ffffff" and "fffffff" custom format specifier into its own examples, or linking form the "ff", "fff", "ffff", "fffff", "ffffff" and "fffffff" custom format specifier to the "f" custom format specifier section for an gerneric example.

[2019-01-05 15:39] msschl commented on #8330
@BillWagner What do you think about adding your eample from the PR#9319 to the [docs](https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/types/boxing-and-unboxing.md)?

[code]

[2019-01-05 16:19] volkan-yazilim opened #9849 ""A constant or type declaration is implicitly a static member.""
Kindly asking for more detailed explanation or a sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97db038-978f-fff3-4e68-110619dc86f2
* Version Independent ID: 3c933595-0ec1-2632-55c9-934af6e72f5d
* Content: [static modifier - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywor

[2019-01-05 16:33] volkan-yazilim opened #9850 ""Virtual properties behave like abstract methods, except for the differences in declaration and invocation syntax.""
I kindly ask you what else there is similar between virtual properties' and abstract methods' behaviors except declaration and invocation syntax.

"Virtual properties behave like abstract methods, except for the differences in declaration and invocation syntax."

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89

[2019-01-05 19:38] volkan-yazilim opened #9856 "It would be great if every code in docs get runned like here."
It is nice to play with code without worry.
If it is possible, of course.
Thanks for your efforts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 039d1d42-5786-1d6b-92b3-cb8fbea5a78c
* Version Independent ID: f62b2fcf-1b18-77a1-dae5-b821e681b110
* Content: [while - C# Reference](https://docs.microsoft.com/en-us/dotnet/

[2019-01-05 19:39] volkan-yazilim opened #9857 "Please consider to put 'while' at the top"
Both in this page and in the menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a02f9ec-957b-e05f-36b7-f4ae5521606e
* Version Independent ID: 6cf01121-3d2d-8825-bd74-6f785a0da7d6
* Content: [Iteration Statements - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/iteration-stat

[2019-01-05 22:35] #9185 closed

[2019-01-06 00:33] Arithmomaniac commented on #9434
I like the latter.

[2019-01-06 00:50] JediSQL opened #9861 "Should Include a "Grouping Constructs" Topic."
The match operators (-match and -notmatch) (https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_comparison_operators?view=powershell-6) make use of "Grouping Constructs" (https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference#grouping-constructs) add elements to the $Matches array. This page should describe group

[2019-01-06 00:51] JediSQL commented on #9861
oops, wrong RegEx topic. please ignore.

[2019-01-06 00:53] chould58 opened #9862 "VB.NET code lacking"
Great example.
But I'm disappointed about VB.NET code lacking for this example.
I notice there is a lot of docs in your database, where you show example with C# code only .
With this fact, are you in the act to tell us you will be relinquishing VB.NET development ?

A worried Basic developer from 70's,

Christian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-06 08:56] suhastjs opened #9863 "Business usecase is missing"
All most all pages explain how to use it. Can we include one business case on when to use this feature? it will be helpful in deeper understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f86ebf5-b5c0-324a-43df-c17015729d01
* Version Independent ID: 8ce4ad4a-3dbd-42dc-bae3-230900097299
* Content: [What's new in

[2019-01-06 16:27] chrisnas opened #9864 "Wrong ID for ContentionStop event"
Change the ContentionStop event ID from 81 to 91
look at https://github.com/dotnet/coreclr/blob/master/src/vm/ClrEtwAll.man#L2874

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1857c71e-e89a-e7c7-9633-4c1b6e731983
* Version Independent ID: 654e5569-24d2-4656-e65f-140d1dd38b6e
* Content: [Contention ETW Events](https://

[2019-01-06 17:01] NextTurn opened #9865 "Sync localized docs"
Some of the problems fixed in this repo also appear in any other localized docs.

When will these fixes be synced? Shall I create pull requests in those repos?

[2019-01-06 18:33] volkan-yazilim commented on #5816
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/try-catch#example-2

[2019-01-06 22:22] #8330 closed

[2019-01-06 22:31] #8958 closed

[2019-01-06 22:31] #9578 closed

[2019-01-07 08:59] RickyLin opened #9868 "Does Architecture parameter support "arm"?"
The document said architecture parameter supports `auto`, `x64` and `x86`, I wonder if it supports `arm`? I want to install .net core runtime via powershell on Windows 10 IoT and Raspberry Pi 2.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7ca

[2019-01-07 09:39] alikemalden opened #9869 "Detemining developer pack version only"
We try to determine which version of developer pack is installed on the server, but registry value are the same for both runtime version and developer pack version. Is there a way to determine developer pack version?
We need to check developer pack because we run this check before running msbuild. If you say that runtime version is enough to build .net projects, then we don't need to determine spe

[2019-01-07 13:57] danstur commented on #9728
At least a very short description of how we're supposed to create FDEs in this issue would be quite lovely as a starter before we get a complete documentation.

As far as I can see Microsoft went through the effort to implement the new feature and advertise it, but then didn't think to mention how to use it absolutely *anywhere*.

The commandline tool also doesn't mention it anywhere in its help e

[2019-01-07 14:17] sylvain-guillet opened #9870 "Unavailable additional resources"
Links provided to VaughnVernon web site are unavailable.
Howewer you can use these links from ddd community :
http://dddcommunity.org/wp-content/uploads/files/pdf_articles/Vernon_2011_1.pdf
http://dddcommunity.org/wp-content/uploads/files/pdf_articles/Vernon_2011_2.pdf
http://dddcommunity.org/wp-content/uploads/files/pdf_articles/Vernon_2011_3.pdf

---
#### Document Details

⚠ *Do not edit this se

[2019-01-07 16:07] BillWagner commented on #8117
We can also have one per language and use the tabs for the different unit testing frameworks:

[code]

[2019-01-07 16:12] BillWagner commented on #8330
@msschl I like that idea.  I want to be careful of the language used to describe the conversions that are allowed. It's hard to make sure it's accurate.

[2019-01-07 17:53] #9826 closed

[2019-01-07 18:32] Thraka commented on #9547
This was opened just due to when an issue gets opened on this article, it becomes extremely hard to address. The regex is so complex that it requires a lot of parsing, testing, and re-familiarizing oneself with regex.

For CSAT I always use 3 months. Of course, Dec is a hard month to include because of the nature of the holidays. I think I'm going to settle on this solution previously mentioned:

[2019-01-07 19:12] #5169 closed

[2019-01-07 20:07] DickBaker opened #9874 "avoid compiler warnings ("wolf, wolf")"
earlier stated that marking a method with async tag but not having an await is not wrong but compiler spits out a warning.
OK but I don't think the code should encourage such noise so my beef is with this line in the "Complete example" listing
async Task Task_MethodAsync()

so imho you should drop that worthless async token here

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-01-07 20:09] DickBaker commented on #9874
actually in the "Return types and parameters" listing

[2019-01-07 20:14] DickBaker opened #9875 "method call incomplete without input parameter"
in "Async methods are easier to write" section: collapsing the earlier lines into
string urlContents = await client.GetStringAsync();
is incomplete as you still need the string/Uri parameter, so should read
string urlContents = await client.GetStringAsync("https://msdn.microsoft.com");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-01-07 20:18] DickBaker commented on #9874
sorry I hit the wrong button and closed ### issue instead of updating as I had intended so should read

Docs earlier stated that marking a method with async tag but not having an await is not wrong, but compiler spits out a warning.
OK but I don't think the code should encourage such noise so my beef is with this line in the "Return types and parameters" listing
async Task Task_MethodAsync()
so im

[2019-01-07 21:32] #5816 closed

[2019-01-07 22:03] mairaw commented on #9865
Hi @NextTurn, it takes a while for the issues fixed here to show up in the localized repos. The content needs to go through the localization pipeline first, Sometimes it might take days or even weeks. @JasonCard can probably explain how the process works better but I'm closing this since this behavior is by design.

[2019-01-07 22:03] #9865 closed

[2019-01-07 22:11] mairaw commented on #8825
The book covers coding conventions for public API design, not local or private fields.

Our team adopted the convention of camelCase for such cases.

[2019-01-07 22:11] #8825 closed

[2019-01-07 22:13] mairaw commented on #9728
Thanks for your feedback @DylanFPS. We'll update the docs to include that hopefully this sprint.

[2019-01-07 22:17] mairaw commented on #9797
Closing due to the lack of actual feedback.

[2019-01-07 22:17] #9797 closed

[2019-01-07 22:22] JasonCard commented on #9865
Hi @NextTurn,

There is no need to create pull requests in localized repos for fixes in English repo to be synced.
Typically, changes made to English repo should be synced within two weeks, depending on the timing and number of changes made.

cc @mairaw

[2019-01-07 22:32] mairaw commented on #8997
@terrajobst is there a quick explanation here you can add on why we're recommending this?

[2019-01-07 22:35] mairaw commented on #9173
Is this still happening @MarcinSommer? I can't repro. Please give more details on which links are not working.

[2019-01-07 22:54] mairaw commented on #9077
@CESARDELATORRE @mvelosop can you comment on this issue?

[2019-01-07 22:57] mairaw commented on #9789
Thanks for your feedback @Alex0x1. We'll have to investigate this issue. We've assigned it to a future sprint.

[2019-01-07 23:08] mairaw commented on #9755
Given this doesn't really cause any issues and we're slowly removing them as we go, I'll be closing this one.

See an example here of a PR that did remove those:
https://github.com/dotnet/docs/pull/9629/files

And we have issues like the following to change sections that rely on that extra double space in the end:
https://github.com/dotnet/docs/issues/6923

[2019-01-07 23:08] #9755 closed

[2019-01-07 23:47] JasonCard commented on #9865
If English and localized content is in sync, but there are issues that only appear in localized docs, such as untranslated content, then please do open GitHub Issue or PR for the localized repo.

[2019-01-07 23:51] CESARDELATORRE commented on #9077
Well, I agree, we can add "**,meaning that queries are side-effect free.**" or similar at the end of that sentence. 👍
I just added a small PR for that. 👍

[2019-01-07 23:55] 4Matt opened #9879 "Add framework-dependent executable deployment (FDE) instructions"
Please add framework-dependent executable (FDE)-specific instructions to this 'Deploy apps with CLI tools' page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee36626-0fc2-20d8-81c5-a3cd212244b2
* Version Independent ID: 044ba93c-9ad9-80c7-dc5c-27a80c9bd921
* Content: [Deploy .NET Core apps with command-line interfac

[2019-01-07 23:57] JamesNK commented on #8416
I tried to come up with a quick way to describe libraries that are released publicly and this guidance should be applied to, vs a C# libraries that are internal to an app and most of this guidance doesn't matter.

"Open source libraries" is the best descriptor I could think of to differentiate the two.

[2019-01-08 00:13] CESARDELATORRE opened #9880 "A better approach might be to use the read-to-use class ObjectPool coming in Microsoft.Extensions"
ObjectPool class, part of “Microsoft.Extensions”:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.objectpool.objectpool-1?view=aspnetcore-2.2

Or also another new class is System.Buffers.ArrayPool<T>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e05147c-bb78-2dbf-c6a6-b296f4407871
* Version Independe

[2019-01-08 01:12] CESARDELATORRE opened #9881 "Or also another new class is System.Buffers.ArrayPool<T>"
A better approach might be to use the read-to-use class System.Buffers.ArrayPool&lt;T&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e05147c-bb78-2dbf-c6a6-b296f4407871
* Version Independent ID: 88893e2c-575f-9c30-1aa3-d1158efac25c
* Content: [How to: Create an Object Pool by Using a ConcurrentBag](https://docs.mi

[2019-01-08 03:07] noahfalk commented on #8847
Adding @gregg-miskelly and @mikem8361

My understanding is that VS 2017 does not support using SOS in the intermediate window, only earlier VS versions support it.

[2019-01-08 03:09] noahfalk commented on #8847
If it helps you can still use SOS from windbg as always, and you can non-invasively attach windbg to the same debuggee that VS is debugging. If you do that you have to detach windbg before debuggee execution can resume.

[2019-01-08 03:13] mingtong commented on #9412
I solved by manually deleted the installation files in the path, thank you.

[2019-01-08 03:32] gregg-miskelly commented on #8847
Noah is correct

[2019-01-08 08:11] mhamri commented on #5321
@brentschmaltz I checked all the samples and in all of them they are working with azure! the sample for a simple web api with angular frontend that doesn't need azure backend is missing. special parts that i was looking for was token generation and user sign-in. in all the scenario, samples are delegating this tak to a third party issuer (azure/oAuth2) which both is not working for me.

[2019-01-08 11:41] Neutrino-Sunset opened #9884 "Suggested improvements"
The section '.NET Standard' explicitly states that target framework 'netstandard' implicitly references NETStandard.Library, but the section '.NET Core Application' doesn't state that target framework 'netcoreapp' implicitly references anything at all, I would have thought that would have been one of the key points that this document was supposed to clarify.

Also I believe there are differences i

[2019-01-08 13:02] volkan-yazilim opened #9885 ""Often, the set accessor consists of a single statement that returns a value, ""
Please, check this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a05cb6c-7bdd-0777-7228-49aab2cb2894
* Version Independent ID: 6039d03d-7247-cfca-7d89-2af7c301a026
* Content: [set keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/set)
* Content Source: [docs/csharp/la

[2019-01-08 13:36] NextTurn commented on #9744
You could remove `doc-bug` label and add an `up-for-grabs`.

[2019-01-08 14:20] hzexe opened #9889 "How to build for android"
[Enter feedback here]
The RIDs is contain andorid,but no core sdk on android or cross build for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://docs.micr

[2019-01-08 15:14] DotNetDev1 opened #9890 "OmitXmlDeclaration not working with Web Api 5.2.7"
When I set System.Web.Http.HttpConfiguration.Formatters.XmlFormatter.WriterSettings.OmitXmlDeclaration to "True" Web Api still includes the xml declaration line at the beginning of the my Http Response.  How can I force Web Api to exclude the declaration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aa994d4-9987-58a

[2019-01-08 15:56] DotNetDev1 commented on #9890
I figured out the issue...I'm overriding XmlMediaTypeFormatter.WriteToStreamAsync and my override was ignoring the inherited classes properties, specifically OmitXmlDeclaration.

[2019-01-08 16:55] BillWagner commented on #9532
I shared this with internal folks, and here are thoughts for what content should be created.

Performance guidance and raising visibility on the changes made are two pretty different topics. In some cases, they coincide like ValueTask<T>, Pipelines and IAsyncEnumerable<T>. These things should be in different sections not try to put them in the same doc.

This comes down to fundamental improvements

[2019-01-08 17:42] mairaw commented on #9744
Done @NextTurn

[2019-01-08 18:34] MadMathMike commented on #9879
If there are any actions I can take to give this issue more visibility, let me know. I would really like to use this new feature (framework-dependent executable), but I have no idea how. I'll admit I _may_ be missing something obvious, but some explicit instructions would be very welcome.

[2019-01-08 18:46] mairaw commented on #9735
Thanks for your feedback @NextTurn. @CESARDELATORRE for the first one, should we use the same link being used throughout the article: https://aka.ms/azuremigrate?

[2019-01-08 18:57] mairaw commented on #9879
Thanks for your feedback @4Matt and @MadMathMike. I'm closing this as a duplicate of the following issue that we have triaged yesterday: https://github.com/dotnet/docs/issues/9728

[2019-01-08 18:57] #9879 closed

[2019-01-08 18:57] mairaw commented on #9879
/cc @Thraka

[2019-01-08 19:42] CeciAc commented on #7135
Hola, @yapusito

Gracias nuevamente por su comentario.

Lamentablemente, aún nos falta información y no podemos procesar sus comentarios. En este momento, cerraremos este problema de GitHub, pero le animamos a enviar más comentarios en el futuro.

Atentamente,
Equipo internacional de Microsoft DOCS

[2019-01-08 19:48] mairaw commented on #8125
Thank you @msschl!

[2019-01-08 19:48] Thraka opened #9893 "Update CLI ref for 3.0/3.1"
CLI reference hasn't been updated for 3.0. This should be updated.

This issue applies to all dotnet command articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET Core CLI](https://do

[2019-01-08 19:54] KathleenDollard commented on #9845
@jamieyello Are you just pointing out that "file" may not be a good variable name here?

[2019-01-08 21:03] Const-me opened #9894 "Make default values more obvious"
The article has a title "Default Marshaling for Strings".

In the content, it lists options, but fails to say which one is the default, for all cases except COM interfaces. What's the default for Platform Invoke? What's the default for structures? Does the default depend on OS? No answers...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-08 21:32] rpetrusha commented on #9885
I've opened PR #9895 to change "returns" to "assigns", @volkan-yazilim

[2019-01-08 21:43] pkulikov opened #9896 "Different views on the effect of the Thread.Start call on a thread state"
The dotnet/dotnet-api-docs#1527 updated the [ThreadState enum](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadstate?view=netframework-4.7.2) reference such that the conceptual [Managed Thread States](https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-thread-states) article now duplicates the API reference page and can be removed.

Almost duplicates, though.

The

[2019-01-08 21:55] rpetrusha commented on #9861
There is a Grouping Constructs topic at <https://docs.microsoft.com/en-us/dotnet/standard/base-types/grouping-constructs-in-regular-expressions>? Were you expecting something different, @JediSQL.

In the meantime, closing this issue as Not Repro.

[2019-01-08 21:55] #9861 closed

[2019-01-08 22:21] #9885 closed

[2019-01-08 22:22] productinfo opened #9897 "Any plans to support POS.Net with .net core?"
What is the future of POS for .Net with .net core?

[2019-01-08 23:30] 9ParsonsB opened #9899 "BigInteger example does not compile"
the BigInterger example does not run via the ".NET Editor" with the Output:

(8,19): error CS0103: The name 'BigInteger' does not exist in the current context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ae38fce-fc98-9420-6b0b-ceee4e885f2d
* Version Independent ID: f23035e0-f271-b48c-f9a9-8582be80b4ad
* Content: [St

[2019-01-08 23:46] rpetrusha commented on #8800
Thanks for submitting your comment, @thomb1. The documentation for CharSet, ExactSpelling, and CallingConvention can be found in the [DllImportAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.dllimportattribute) documentation.

For calls to standard Windows DLLs, there's rarely a need to set any field other than CharSet.Unicode, since the default values used wi

[2019-01-08 23:46] #8800 closed

[2019-01-08 23:48] mairaw commented on #9897
@terrajobst @karelz are you guys familiar with POS.NET?

It seems that UWP has some POS support: https://docs.microsoft.com/en-us/uwp/api/Windows.Devices.PointOfService

[2019-01-09 01:00] karelz commented on #9897
Not familiar with POS.NET. No plans AFAIK cc @danmosemsft
@productinfo what kind of support would you expect? What would be the value?

[2019-01-09 01:13] paulbatum commented on #8416
It makes sense, I just feel like most of this guidance is applicable to anything published to NuGet, regardless of whether its open source or not! There are a few exceptions (source linking, how to handle strong name key) but they seem relatively minor. Its great guidance and I'd like to make sure its as broadly discovered and internalized by the .NET community as possible. If you're not comfortab

[2019-01-09 01:15] mairaw commented on #8416
So, maybe something as "Public .NET libraries guidance"?

[2019-01-09 01:31] LadyNaggaga commented on #9899
try.net does support BigInteger but, I believe the docs samples are pointing to scripting workspaces. Is that still the case @BillWagner ?

[2019-01-09 01:32] mairaw commented on #9868
@johnbeisner can you confirm?

This is same list of supported values as listed at https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1#L35.

However, the switch at https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1#L161 seems to indicate the list should actually be
auto, amd64, x86, arm, and arm64.

[2019-01-09 01:35] mairaw commented on #9881
Edited issue #9880 to include the second case, Closing this as duplicate.

[2019-01-09 01:35] #9881 closed

[2019-01-09 01:37] mairaw commented on #9880
@BillWagner would this belong in the [Async, await, tasks, and parallel programming in .NET](https://github.com/dotnet/docs/projects/42) project?

[2019-01-09 01:38] mairaw commented on #9856
Thanks for your feedback @volkan-yazilim and we're glad to hear that you like the interactive content. We're planning to expand that feature into more topics.

[2019-01-09 01:38] #9856 closed

[2019-01-09 01:49] BillWagner commented on #9880
@mairaw Yes. I added it to that project.

[2019-01-09 01:54] mairaw commented on #9233
@wadepickett any updates on this?

[2019-01-09 01:56] BillWagner commented on #9899
Adding @dend

I think most of the docs samples still use the scripting workspace. Den can confirm / clarify.

[2019-01-09 02:40] BillWagner commented on #808
closing, as this is being updated as we update individual topics.

[2019-01-09 02:40] #808 closed

[2019-01-09 02:40] BillWagner commented on #972
closing due to scheduling priorities.

[2019-01-09 02:41] BillWagner commented on #1002
closing as below the bar.

[2019-01-09 02:41] #1002 closed

[2019-01-09 02:44] BillWagner commented on #1745
closed due to lack of action.

[2019-01-09 02:44] #1745 closed

[2019-01-09 02:45] BillWagner commented on #1693
closing as much of this is added in .NET standard discussions.

[2019-01-09 02:45] #1693 closed

[2019-01-09 02:48] BillWagner commented on #2156
closed due to lack of action.

[2019-01-09 02:48] #2156 closed

[2019-01-09 02:49] BillWagner commented on #3682
closing as done based on above referenced PRs

[2019-01-09 04:00] mairaw commented on #3682
There are still 23 results from my query above. I’ll try to wrap this up this quarter.

[2019-01-09 07:38] volkan-yazilim commented on #9857
It is not nice neither polite to delete comments.

[2019-01-09 07:41] nishanil commented on #9844
hey! @kims07231992 Great catch! Thank you for letting us know.
@mairaw I've updated the .NET 2.2 PR https://github.com/dotnet/docs/pull/9873 to include this fix.

[2019-01-09 10:04] hlabadi opened #9903 "C# 7.0 redundant "Ref locals and returns" in doc"
On https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-version-history
Ref locals and returns is listed as general feature and as other feature. The links point to the same article.

[2019-01-09 12:22] danstur commented on #9879
@MadMathMike I had the same problem and created [this](https://stackoverflow.com/questions/54075591/how-to-create-framework-dependent-executables-with-net-core-2-2) StackOverflow post and answered my own question after figuring it out.

Should be a good start for getting FDEs to work.

[2019-01-09 12:41] Gammerz26 opened #9904 "Floats and Double Don't Show Negative Ranges"
Floats and Double don't show the negative ranges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9770af4-de82-7034-a56b-c68a6b5c55e5
* Version Independent ID: 6bd64fcc-5c84-e541-12f4-0cdcfe4f5dd2
* Content: [C# Types and Variables - A tour of the C# language](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csha

[2019-01-09 13:03] juniormayhe opened #9905 "Could you provide more command line samples?"
It would be nice to have practical examples of how to read a specific appSettings.json, or appSettings.Debug.json, appSettings.Release.json... Also would be nice to know if we can pass command line arguments that could be read by tests at runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c7

[2019-01-09 13:05] BillWagner commented on #9857
@volkan-yazilim I agree, and we don't delete comments. We closed this issue because we don't plan to address it. It's still visible. If you and others feel strongly, you can advocate for the change, and we'll reconsider.

[2019-01-09 13:40] HarshitShukla opened #9906 ""WeightColumn" in Trainers"
I am working on the regression trainers for my Model.
I have to tell my model to take priority on a few numerical columns and then take the rest numerical column to predict some value. I tried searching for an example of weight. I haven't found any example of weight. Can you please send some example or how to solve the above problem using ML.Net.

If 'weight column' has some different purpose can

[2019-01-09 14:22] Gammerz26 opened #9907 "Links to reference material needed."
All the expressions in the list need links to the relevant reference material. As this is only an overview with the briefest of details, programmers may need to look into more detail for new concepts (e.g. delegates, lambda expressions, the 'await' command).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d7bc71-c69e-

[2019-01-09 15:30] wgv-srsedate opened #9909 "Reinstall Packages Using dotnet CLI"
With packages targeting .NET Framework, we could run "Update-Package -Reinstall" to reinstall all packages for all projects in a solution.  This does not run against projects targeting .NET Standard or .NET Core.  How can we use the "dotnet" CLI to reinstall packages using their current versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-01-09 16:09] MikeRosoft opened #9910 "Changing one specific autogenerated binding redirect"
As a workaround for third-party library used by our application, I want to change one of the autogenerated binding redirects:
[code]
to
[code]

Is there any way to do that, except by creating a post-build action and manually modifying the redirect? When I add the binding redirect to app.config, Visual Studio does not respect it and replaces it with the autogenerated one. (Note: I don't want to tur

[2019-01-09 16:41] productinfo commented on #9897
Thank you for the link @mairaw
@mairaw @karelz @danmosemsft it seems future improvements of POS for .Net would be part of UWP windows device framework, not part of net core/iOT core.
But, is there a way to connect external hardware from net core application on linux/raspberry, which already works with windows using POS for .Net.

[2019-01-09 17:55] fridoo opened #9912 "2 Links are dead"
2 links in the 'See Also' section are dead:

*FTP Client Technology Sample
*FTP Explorer Technology Sample

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b9294af6-b587-a35a-09b5-1605f626574e
* Version Independent ID: 5b00d11d-89c8-aee7-167b-592e28203b5a
* Content: [FTP](https://docs.mic

[2019-01-09 18:20] mairaw commented on #9912
Thanks @fridoo for your feedback. I'll remove the broken links in the English docs and then the localized version will be updated subsequently.

[2019-01-09 18:50] Tourbill0n opened #9915 "Naming conventions aren't always being followed in examples"
For example, "public int salary;" should be "public int Salary;" and constructor parameters should be in camel hump notation:
"public Manager(int initialdata)" should be "public Manager(int initialData)"

Please keep in mind that people who visit these pages are likely newbies so even though this page isn't about naming conventions, it could cause confusion for those of us that are in the process

[2019-01-09 19:48] #8952 closed

[2019-01-09 19:49] #9037 closed

[2019-01-09 19:54] #9050 closed

[2019-01-09 20:02] #9104 closed

[2019-01-09 20:13] #9849 closed

[2019-01-09 20:13] #9903 closed

[2019-01-09 20:13] eidylon opened #9918 "Wrong."
I just tried to convert a field coming out of the db as a Sql DECIMAL to a .NET Decimal in C#, and it crashed with "Specified cast is not valid." So this chart seems to be out of date / incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9e9123-02f7-6c1f-f3c3-7643e01049b8
* Version Independent ID: 123a516c-9e5b

[2019-01-09 20:15] #9918 closed

[2019-01-09 20:17] #9850 closed

[2019-01-09 20:59] karelz commented on #9897
Isn't POS Windows specific? If yes, I would not expect that to light up on Linux.
We are investing into GPIO for Linux - would that help you?

[2019-01-09 21:40] #9912 closed

[2019-01-09 21:50] pkulikov commented on #9896
@rpetrusha to my understanding, that part is common for both variants.

What confuses me is *when* does `Thread.Start` return and what is the state of the thread then?

The API docs say that `Thread.Start` returns only after the thread started running (I guess that also means, it's in the `Running` state).

As for the conceptual docs, I've interpreted them as the `Thread.Start` call might return w

[2019-01-09 23:42] baronfel opened #9919 "Document the signature and behavior of the `Quote` CE member"
There's some confusion on the F# Org slack about the purpose/usage of this member, and this document would be a great place to polish that up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247c440d-b855-0df1-f2db-076cd3393a0b
* Version Independent ID: 1cbccd4d-1721-e14f-7546-8fa868c965b1
* Content: [Computation Expres

[2019-01-10 00:00] cartermp commented on #9919
In the [34th Restaurant & Bar](https://www.radissonblu.com/en/plazahotel-oslo/bars) near midnight in Oslo last year, @dsyme is on record saying, "Yeah, I put that baby in there" when @tpetricek added it to an insane CE we were creating for fun.

I cannot say I understand its purpose, as it literally doesn't matter what you say the body of it is. For example:

[code]

Gives:

[code]

So I'm not sur

[2019-01-10 09:04] willemodendaal opened #9926 "No info on nuget packages or workspace samples"
I need to get started with Workspaces, but there are no code samples to demonstrate how these are used. There is also no info on which Nuget packages to install.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4bd716a-906d-983b-141c-4a4e2e2a79ec
* Version Independent ID: debed50c-98ce-ec0e-bcf6-0170a4e60fcc
* Content:

[2019-01-10 09:35] jaypatrick commented on #6361
While I realize from reading these comments that continuing to support this project would be quite expensive, it's unfortunate that this is what's happening. What's even more unfortunate is that nothing is coming along to replace it, b/c DbC is a very powerful coding and architecture paradigm. Is anything going to replace CC? Using it has been invaluable for me in the past.

[2019-01-10 11:27] vovikdrg opened #9927 "How to run dotnet watch run with iis?"
1. How to run dotnet watch with iis?
2. How to run dotnet with iis and targeting .net framework

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c
* Version Independent ID: 25a4c9b9-2808-e296-df03-5837000dcbad
* Content: [Get started with C# and Visual Studio Code - .NET Core](https://d

[2019-01-10 13:38] CeciAc opened #9928 "Please add complete example for callback"
@miya898 commented on [Thu Jan 10 2019](https://github.com/dotnet/docs.zh-cn/issues/319)

On https://docs.microsoft.com/zh-cn/dotnet/standard/native-interop, can you also add the C/C++ code part in above examples for readers to better understand callback methods?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: bfe2d36f-8718-cf05-adf9-55725c959388
* Version Independen

[2019-01-10 13:39] CeciAc commented on #9928
Hi team,
I'm moving this here since the suggestion is about the code
best regards

[2019-01-10 15:24] tsahi opened #9929 "Dynamically construct expressions"
The examples on this page are relatively simple, and assume a certain knowledge on the values used to construct the filter. But what if you have to add `GradeLevel.FifthYear`? You'll have to change your code. To have a truly dynamic filter, you'll have to construct an expression using the static methods on `System.Linq.Expressions.Expression`, based on arbitrary input, and feed it to the `.Where()

[2019-01-10 17:05] #9554 closed

[2019-01-10 17:22] Jesse-Hufstetler opened #9931 "Inheriting IDisposable is OK"
I don't believe [this section of this page](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#implementing-the-dispose-pattern-for-a-derived-class) should start by saying

That makes it sound like if you inherit from an `IDisposable` you're doing something wrong. Instead, it seems that it should say

(i.e., don't be redundant). Or perhaps,

(i.e., don't be ca

[2019-01-10 17:42] #9567 closed

[2019-01-10 17:54] mairaw commented on #9927
We don't cover the dotnet-watch tool in this repo @vovikdrg.

You can find a topic on docs about it at https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch.

And the product repo is located here if you have product questions: https://github.com/aspnet/AspNetCore/tree/master/src/Tools/dotnet-watch

[2019-01-10 17:54] #9927 closed

[2019-01-10 18:57] terrajobst commented on #6361
We only have a replacement for non-null.

[2019-01-10 19:17] DaveInCaz opened #9933 "/chainingpackage description is incorrect or at least confusing"
In Appendix / Command-line options it says:

/chainingpackage packageName	Specifies the name of the executable that is doing the chaining.

But everywhere else on this page the examples show not an *executable* but just a string name for your package.  I assume the latter is correct, but the "executable" statement should be clarified or corrected. Thanks

---
#### Document Details

⚠ *Do not edit

[2019-01-10 19:58] davidkaya opened #9934 "X509CertificateUI in .NET Core and .NET Standard examples"
**Issue description**

I've noticed that a lot of documentation related to System.Security.Cryptography.X509Certificates contains `X509CertificateUI` in the examples even though that is available only in .NET Framework - e.g. https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x500distinguishedname?view=netcore-2.2

**Target framework**

- [X] .NET Core
- [ ]

[2019-01-10 20:46] jackbond opened #9935 "Example uses the obsolete parameter. Please change it to the supported parameter."
So you say SharedRuntime is obsolete, but then in the Examples section you provide an example for the obsolete flag, but not its replacement???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install sc

[2019-01-10 21:00] pkulikov commented on #5440
This issue is also fixed.

[2019-01-10 21:58] rpetrusha commented on #9934
Thanks for pointing this out, @davidkaya. We've added it to our backlog, as well as to the community contributor's project. This issue affects the following files, all in the dotnet/samples repo:

snippets\csharp\VS_Snippets_CLR\CertSelect\CS\certselect.cs
snippets\visualbasic\VS_Snippets_CLR\CertSelect\VB\certselect.vb

snippets\csharp\VS_Snippets_CLR\Cryptography.AsnEncodedData\CS\asnencodeddata

[2019-01-10 22:19] bkqc commented on #6361
Another missing feature since CC is not conitnuing is the documentation benefit it gave (both in SandCastle and with the VS addon in C#). Please bring back something similar that would, using a single line, validate and generate doc (for min, max, returns, ...).

[2019-01-10 23:58] brentschmaltz commented on #5321
@mhamri can you remind me of what you are looking for?

[2019-01-11 03:03] NextTurn commented on #8364
@rpetrusha

I would suggest a supplement to the issue description:

Prefer `../` to `~/` in links for files in the same repo, as described in [styleguide/template.md](https://github.com/dotnet/docs/blob/master/styleguide/template.md#internal-links).

[2019-01-11 04:41] jaypatrick commented on #6361
I started going through the code today, it is WAY above my mathematical skills. I can see why nobody wants to take this over within Microsoft now. Oh well, it was fun while it lasted. That being said, something like this wouldn't be too hard to implement with the new Roslyn API's...I hope Microsoft gives this another visit sometime in the future, because the value-add is tremendously beneficial, e

[2019-01-11 07:14] jamieyello commented on #9845
Basically. It throws an error when used alongside a static File.Method().

[2019-01-11 07:46] sebwills opened #9942 "Should explain how to install NUnit3.DotNetNew.Template"
In my dotnet SDK 2.1 installation (installed by VSCode on macos), the NUnit3 template was not automatically installed. I had to run `dotnet new -i NUnit3.DotNetNew.Template` before `dotnet new unit`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0063ceb-57ea-f30c-efed-b2a36314ccaa
* Version Independent ID: bd9a321e-2e

[2019-01-11 11:33] stanuku opened #9943 "A great reference"
Nice work, hope to see an update for v2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea0ea53-3bb6-a0ea-9674-384c68a77c2e
* Version Independent ID: 58e80b9e-a005-7f7b-98d6-bc8fe31998c0
* Content: [Seedwork (reusable base classes and interfaces for your domain model)](https://docs.microsoft.com/en-us/dotnet/standard

[2019-01-11 11:59] dsyme commented on #9919
Yes, the method is defined simply by its presence.  It is used in the implementation of `query { ... }`, e.g.

[code]

We could have cut this other ways, e.g. by using a `ReflectedDefinition` attribute on the parameter to `Run`, but, well, this is how we did it.

[2019-01-11 13:55] XamlBrewer opened #9944 "Duplicate link"
Hi,
The MissingValueIndicatorTransform appears twice in the Missing Values table.
Kind regards,
Diederik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4185570-21cc-dcdb-62fd-d05bceb62f81
* Version Independent ID: 4f0fe52a-a771-d044-593d-2bb65df15e0d
* Content: [Machine learning data transforms - ML.NET](https://docs.

[2019-01-11 15:25] CeciAc opened #9945 "Example fails to run, imbalanced stack exception"
@lgilson commented on [Fri Jan 11 2019](https://github.com/dotnet/docs.de-de/issues/121)

The first example on this page fails with a imbalanced stack exception at

int res = LibWrap.TestStructInStruct(ref personAll);

on the CS side. I'm using VS2017, x86 Release mode for all projects involved (as the x64 mode does not even load the dll). I guess it could be any of the C++ compiler settings. Is i

[2019-01-11 15:49] Bluesman74 opened #9946 "Walkthrough Steps Incomplete"
This walkthrough is very confusing how do the following 2 lines work?

 WmpAxLib.AxWindowsMediaPlayer axWmp = new WmpAxLib.AxWindowsMediaPlayer();
  axWmp.URL = @"C:\Windows\Media\tada.wav";

In the walkthrough inside WmpAxLib we have created WmpAxControl as the very first step, but this is the control that hosts the Windows Media Player ActiveX and as such it doesn't have a URL property because t

[2019-01-11 16:59] CeciAc opened #9947 "Color design absents in blocks with code"
@PeskovV commented on [Fri Jan 11 2019](https://github.com/dotnet/docs.ru-ru/issues/163)

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 3b792311-e336-3237-65b9-a8cebc835448
* Version Independent ID: 48df4b5a-6b9d-1dd2-eaa4-80ab7f8223cf
* Content: [Пошаговое руководство. Создание кнопк

[2019-01-11 17:04] mihalicsb opened #9948 "Example not working correctly - solution below"
In this line: memoryGraphics.CopyFromScreen(this.Location.X, this.Location.Y, 0, 0, s);  the Form's location coordinates are wrong, and the created bitmap is a picture from the screen ( every opened window can be seen on it).
A working solution to this problem:
        private void CaptureScreen()
        {
            memoryImage = new Bitmap(this.Width, this.Height);
            this.DrawToBitma

[2019-01-11 17:09] CeciAc commented on #9947
hi team,
I'm moving this here since the user is reporting missing data in the code

best

[2019-01-11 17:10] mihalicsb commented on #9948
Sorry: change this.DrawToBitmap(memoryImage, new Rectangle(0, 0, panel1.Width, panel1.Height));
 to
panel1.DrawToBitmap(memoryImage, new Rectangle(0, 0, panel1.Width, panel1.Height));

[2019-01-11 17:21] productinfo commented on #9897
thanks for the info..

[2019-01-11 17:21] #9897 closed

[2019-01-11 17:49] mairaw commented on #9944
Thanks for your feedback @XamlBrewer. Would you like to submit a fix for this?
You can see how to do this at
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-01-11 17:53] mairaw commented on #9943
Thanks for your feedback @stanuku. We have some open pull requests at the moment to start updating the book for 2.2. /cc @nishanil

[2019-01-11 18:36] rpetrusha commented on #9700
Thanks for your feedback, @piBoss. Most of the documentation on controlling the console is contained in the [System.Console](https://docs.microsoft.com/dotnet/api/system.console) API reference documentation. To execute a command such as **ipconfig** within a console application, call the [Process.Start(ProcessStartInfo)](https://docs.microsoft.com/dotnet/api/system.diagnostics.process.start#System

[2019-01-11 18:36] #9700 closed

[2019-01-11 18:55] XamlBrewer commented on #9944
Thanks for that link. PR done: #9950.

[2019-01-11 18:57] rpetrusha commented on #9947
I've addressed this by adding the `xaml` language identifiers to code blocks where they're missing, but inadvertently merged directly to live without opening a PR. Therefore, I'm closing this issue.

Спасибо, @PeskovV.

[2019-01-11 18:57] #9947 closed

[2019-01-11 19:59] xavierjohn opened #9951 "What nuget packages are part of .net core 2.2 runtime?"
**Issue description**

When developing a class library that targets .net standard 2.0, I would like to know what nuget packages are part of the .net core 2.2 runtime so that I can prefer those packages and reduce my footprint.
In other words, if my library is smart about the nuget packages it uses, the app using my library has to ship less assemblies when the target machine has .net core runtime 2

[2019-01-11 20:52] KathleenDollard commented on #9845
Are you surprised by the behavior?

I am not sure what I'm overlooking here, but this feels like basic VB behavior and I'm not sure what we should change in this article.

Sorry if I am being dense here.

[2019-01-11 21:05] rpetrusha commented on #7244
Take that back. Closing this issue. If we receive customer feedback about long filenames, we'll reopen and schedule it.

[2019-01-11 21:05] #7244 closed

[2019-01-11 21:17] #9944 closed

[2019-01-12 01:33] mairaw commented on #1008
Closing this one since this is not related to our content but to the site experience and they closed this one as won't fix:
https://github.com/MicrosoftDocs/feedback/issues/278

[2019-01-12 01:33] #1008 closed

[2019-01-12 10:56] ChrisMaddock commented on #9942
Hey @sebwills. I think NUnit templates were added to the .NET SDK in June 2018 in SDK 2.1.400. Could you take a look at which version you have installed?

cc @kendrahavens - who knows much more than I do about this!

[2019-01-12 11:02] ChrisMaddock opened #9958 "Inconsistent formatting of command line flags"
**Issue description**

The [Sn.exe](https://docs.microsoft.com/en-us/dotnet/framework/tools/sn-exe-strong-name-tool) docs have inconsistent formatting of the command line flags.

![image](https://user-images.githubusercontent.com/4837132/51072467-29298c80-1659-11e9-9cae-a180d891c855.png)

Looking around, this seems inconsistent through all the [.NET Framework Tools](https://docs.microsoft.com/en-u

[2019-01-12 15:29] JacquesValois opened #9959 "Text could be clearer and more consistent"
sbyte: 8 bits, range from -128 - 127
short: 16 bits, range from -32,768 - 32,767
int : 32 bits, range from -2,147,483,648 - 2,147,483,647
long : 64 bits, range from –9,223,372,036,854,775,808 to 9,223,372,036,854,775,807

I am assuming that sbyte: 8 bits, range from -128 - 127 is stands for -128 to +127 as for long : 64 bits. Using the "-"  seperator for value ranges is not clear but still underst

[2019-01-12 17:20] binki commented on #5815
This sounds like a VS Code bug rather than a documentation issue.

[2019-01-12 18:10] MadMathMike commented on #9879
That post was exactly what I needed! Thanks, @danstur! And thanks, @mairaw, for pointing me to the other issue. I'm glad it's being work on. :-)

[2019-01-12 18:19] SubasishMohapatra commented on #5666
Why is the state parameter always returning null thereby getting all claims every time from database?
public bool Evaluate(EvaluationContext evaluationContext, ref object state)

[2019-01-12 19:14] mikkelbu commented on #9942
The hint to install the template was removed as part of #7204, see e.g. the diff here
https://github.com/dotnet/docs/pull/7318/files#diff-99cce5dbaee58bb65a75f26df1fb31c6L41

[2019-01-12 19:37] alexhiggins732 opened #9961 "Links broken"
This link to the github sample in this article (and several other docs) are all broken. Can they be updated so they don't point to 404?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1fb0dd-648b-26e9-7e4e-48824ab94160
* Version Independent ID: 689b6488-dadc-fd39-c432-ebf095a0299a
* Content: [Determine the feature imp

[2019-01-12 19:38] alexhiggins732 commented on #9961
Additional, broken link on this page: https://blogs.msdn.microsoft.com/dotnet/2018/12/04/announcing-ml-net-0-8-machine-learning-for-net/

[2019-01-12 19:54] sebwills commented on #9942
Yeah, sorry, I was on 2.1.200. Now upgraded.

[2019-01-12 19:54] #9942 closed

[2019-01-12 21:58] doveraudio commented on #7589
Hey , @SimpleSamples, can i get a link to that example?

[2019-01-12 22:08] svick commented on #9959
I agree that it would be better the way you suggest. Do you want to submit a Pull Request with those changes? If you do and don't know how, you can follow [this guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents).

I also noticed that the `long` line incorrectly uses the en dash character instead of minus. I think that should be fixed too.

[2019-01-12 22:09] SamHobbsOrg commented on #7589
Look at my initial post here. Click on the link. Then click to go one level up. I think that is the sample. If not then I will look later.

[2019-01-12 22:30] fedoranimus opened #9962 "Understanding multi-column vectors"
Is there a difference between using a single vector to represent multiple columns opposed to having each column be separately defined?

For example, as the documentation shows:
`new TextLoader.Column("FeatureVector", DataKind.R4, 0, 9),`

Would this be different to something like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-01-13 01:05] philtsmith570 opened #9964 "Migrating from Power Pack code"
Since Power Packs are no longer supported ans are considered as is, Does MS have any input on migrating code using these functions?  Any alternatives? Methodology?

Bests,
-phil s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f021e2-2a1d-362a-96ac-e6c011a22905
* Version Independent ID: 379d2a59-2d89-4fda-9b3f-3b3de7

[2019-01-13 04:58] WenningQiu opened #9965 "AsyncLocal<T> to let programmer clone the value in the old thread context"
In .NET Framework CallContext is the mechanism for applications to have ambient data that flow with the execution even if thread context changes. In certain slots of CallContext, if the data type implements IClonable,  the object is cloned right before the thread context is switched. Such mechanism is necessary for applications that need the old and new thread contexts to use separate copies of th

[2019-01-13 09:51] cremor opened #9966 "Update SourceLink guidance for NuGet symbol server"
The [main NuGet guidance page](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/nuget#symbol-packages) was updated for the new NuGet symbol servers, but the [page about SourceLink](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink) wasn't. Although the recommendation seems to be still the same (include pdb files in main NuGet package), the reason is now

[2019-01-13 11:59] MrM40 opened #9967 "Not supported in .Net Standard 2.0"
When you try to compile:
error BC37234: Like operator is not supported in current project type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec570c0-3c04-a8d1-9f13-1696f93080a3
* Version Independent ID: ce60c1cc-649a-5bef-28b2-ac34108d9483
* Content: [Like Operator (Visual Basic)](https://docs.microsoft.com/en-us/do

[2019-01-13 12:06] NextTurn opened #9968 "Replace `~/docs` links with `../` relative links"
There are a number of links starting with `~/` in the `dotnet/docs` repo that point to files in the repo itself. These can be replaced with relative links starting with `../`.

As described in [styleguide/template.md#internal-links](https://github.com/dotnet/docs/blob/master/styleguide/template.md#internal-links)

Related to #8364

[2019-01-13 15:48] WalrusPenguins opened #9969 "Example 1 throws error"
Cat does not have a constructor which takes string name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0efd6a6a-b52a-f6a2-d98b-f245b55115ff
* Version Independent ID: 95025282-20a0-ded8-c6d2-3b8ffff600c4
* Content: [Object and Collection Initializers - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp

[2019-01-13 16:18] cremor opened #9970 "Mention required version to consume symbol packages"
According to the [official announcement](https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html) you need Visual Studio 2017 15.9 to consume .snupkg files from the NuGet symbol server. I think this should be mentioned on the page. Although it doesn't change the current recommendation (which is to embed the symbol file in the main NuGet packag

[2019-01-13 22:51] matgrioni opened #9972 "IEquatable should not be used on both parent and child"
IEquatable should not be used on both the parent and child class definitions. This will lead to nasty results, and bugs for clients. For example, if we define pointE as (3, 4, 6), now all of a sudden pointE equals any other compile time 2D point with (3, 4) as the first two coordinates, if pointE's compile time type is 2D point.

IEquatable should only be used on child, sealed classes so that poly

[2019-01-14 01:08] NextTurn commented on #9969
Fixed in dotnet/samples#550

[2019-01-14 04:54] AteCoder opened #9973 "Cross threading"
Is this code safe for cross threading implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c0b0cc-a295-daca-b3d8-802b1cf871f0
* Version Independent ID: ab826459-c149-5925-1360-3fa8bb3de7c9
* Content: [How to: Implement the INotifyPropertyChanged Interface](https://docs.microsoft.com/en-us/dotnet/framework/w

[2019-01-14 07:00] Hsiaolyn-Zhou opened #9974 "ReceiveTimeout is used."
ReceiveTimeout is absolutely used,  why you say it's not used. Try following code:
var channelFactory = new ChannelFactory&lt;IXxxxService&gt;(.......use NetTcpBinding....);
var proxy = channelFactory.CreateChannel();
proxy.MethodA();
Thread.Sleep(1000 * 6 * 11 );
//then call MethodA() again
proxy.MethodA();
you will get socket aborted error if binding receiveTimeout is configured to 10 min.

---

[2019-01-14 08:52] camiteca opened #9975 "Figure 4-28 description is wrong"
The description says:

&gt;Figure 4-28: Enabling Docker Compose support on a .NET Framework web app project in Visual Studio 2017

I've tried to add support to a .net framework project and the option isn't there in VS2017 15.9.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf20f50-2d15-1744-386d-1d05ff9931fb
* Versi

[2019-01-14 10:23] Smedjebacka opened #9976 "Make each headline independent"
Make each headlined section independent, i.e. put the `dotnet publish` info also in the "Self-contained deployment with third-party dependencies" section, not only in the "... without third-party..." section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee36626-0fc2-20d8-81c5-a3cd212244b2
* Version Independent ID: 0

[2019-01-14 11:20] raghavan-mk opened #9977 "Please provide namespaces"
It'll be really helpful code snippets have namespaces at least for something as esoteric like workflow foundation

--
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cabb3c30-3935-e5c5-d159-dfc0cefcb9d0
* Version Independent ID: 0396a511-adae-eff9-4e25-3e7e5a10330e
* Content: [Variables and Arguments](https://doc

[2019-01-14 12:39] PatrickRyder opened #9978 "Link to Formatting Characters Would be Helpful"
In the above example, the speed of light is formatted using ":N3". A link to all the possible format specifiers that can be used would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0665571-35b7-0841-5719-b69456b35cfb
* Version Independent ID: 0410420b-3b12-6d96-40cf-56f22ac19a1d
* Content: [$ - string inter

[2019-01-14 15:50] david1995 opened #9979 "Windows default directory path for DOTNET_PACKAGES is wrong"
I think the default Windows path for DOTNET_PACKAGES is wrong. As far as I know it should be ``%userprofile%\.nuget\packages``.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET Core CLI](h

[2019-01-14 16:24] #8663 closed

[2019-01-14 16:58] JRAlexander commented on #9961
Thanks, @alexhiggins732! I've added this to the backlog and submitted a PR here: https://github.com/dotnet/docs/pull/9980

[2019-01-14 17:01] #9310 closed

[2019-01-14 17:03] #7757 closed

[2019-01-14 17:05] JRAlexander commented on #8769
Closing as I believe it's been resolved. If that isn't the case, please reopen. Thanks!

[2019-01-14 17:05] #8769 closed

[2019-01-14 17:11] JRAlexander commented on #9633
An anomaly detection sample is coming soon [here](https://github.com/dotnet/machinelearning-samples) with a tutorial or how-to to follow after that in docs. Thanks!

[2019-01-14 17:11] JRAlexander commented on #9633
Closing as I believe this is now resolved. Please reopen if needed.  Thanks!

[2019-01-14 17:11] #9633 closed

[2019-01-14 17:18] pkulikov commented on #9978
@PatrickRyder #9981 adds the link to the table, which lists format specifiers for numeric types.

Given that, the table in the [Structure of an interpolated string](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated#structure-of-an-interpolated-string) section contains the link to the [Format String Component](https://docs.microsoft.com/en-us/dotnet/standard/base

[2019-01-14 17:23] CESARDELATORRE commented on #7757
Yes, this can be closed. 👍

[2019-01-14 19:04] #9978 closed

[2019-01-14 19:08] Thraka commented on #9979
You're correct. Thanks for discovering and reporting this. @mairaw Do you want to do this as part of your 2.2 CLI update?

[2019-01-14 19:41] ascott18 opened #9984 "Dead link "ref directory""
&gt; The official specification is a set of .cs files that define the APIs that are part of the standard. The ref directory in the dotnet/standard repository defines the .NET Standard APIs.

The link to "ref directory" is a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Versi

[2019-01-14 19:42] ascott18 commented on #9984
https://github.com/dotnet/standard/tree/master/netstandard/ref is the exact link that is 404ing

[2019-01-14 20:43] mairaw commented on #9984
Thaks for your feedback @ascott18. I've opened https://github.com/dotnet/docs/pull/9985 to fix this.

[2019-01-14 20:56] mairaw commented on #9979
Sure @Thraka!

[2019-01-14 21:31] mairaw commented on #1904
Sorry @svick, I keep losing track of this one. If this is still an issue, can you please log an issue at https://github.com/microsoftdocs/feedback since this is something for the docs engineering team to look at?

[2019-01-14 21:31] #1904 closed

[2019-01-14 22:02] mairaw commented on #9968
Thanks @NextTurn for filing this issue. I've added this issue to our backlog and our community project.

We prefer the relative links because they work on GH preview too but the ~ works fine for the content.

[2019-01-14 22:04] mairaw commented on #9967
Hi @MrM40, thanks for your feedback. We'll need more information about your project and how you're building it to be able to better assist you. I'm wondering if this could be related to the following issue: https://github.com/dotnet/sdk/issues/1622

[2019-01-14 22:08] mairaw commented on #9845
Should we then just change the variable name @KathleenDollard as you suggested earlier?

[2019-01-14 22:11] mairaw commented on #9964
@KathleenDollard can you comment on this issue? I'm wondering if we should retire this whole section on Power Packs controls and redirect them to the previous-versions content that is archived and no longer maintained - https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2010/cc488277(v=vs.100)?

[2019-01-14 22:13] mairaw commented on #9783
Hi @manuela1994, can you show the code you're using that is causing this error?

[2019-01-14 22:15] mairaw commented on #9753
Interesting. Google indeed has that extra / in the path. I'll check with our engineering team if there's a way for us to fix this. Not sure if the site map we're sending them is wrong.
I just tried searching for https://www.google.com/search?q=Boolean+Data+Type+(Visual+Basic).

[2019-01-14 22:16] rpetrusha commented on #9945
@lgilson, thanks for the feedback. I can't reproduce this, though. Given the unmanaged DLL PInvokeLib.dll, the existing code runs successfully without specifying the CallingConvention field. It fails (and throws a BadImageFormatException) only if the platform of the source and the unmanaged library are different.

What platform are you trying to run the sample on?

[2019-01-14 22:22] mairaw commented on #9690
@KathleenDollard since you commented on the spec issue too, can you triage this one here too?

[2019-01-14 22:23] BillWagner commented on #9211
Transferring to MicrosoftDocs/Feedback.

Closing as transferred to MicrosoftDocs/Feedback#1046

[2019-01-14 22:23] #9211 closed

[2019-01-14 22:31] BillWagner commented on #9566
@ryanwebjackson You are correct.

Is there more information that you need for this than what is available in the 2nd sample? That `break` breaks out of the inner loop, but not the outer loop.

[2019-01-14 22:31] mairaw commented on #8921
I can't understand this issue even with the help of Google translator. Closing.

[2019-01-14 22:34] mairaw commented on #8924
This is caused by the same issue as #9753. Google has the wrong URL indexed. I'll close this one as duplicate.

[2019-01-14 22:34] #8924 closed

[2019-01-14 22:37] JamesNK commented on #9970
Sure, it would be worth adding a note that Visual Studio 2017 15.9 or above is required to use the new symbol package format.

[2019-01-14 22:39] BillWagner commented on #9576
Thanks for writing this up @Mandated

This is on our list for updates.

[2019-01-14 22:41] BillWagner commented on #9595
Thanks for taking such careful notes on the changes you needed to make to complete this walkthrough.

I've added this to our backlog to address when we update this document.

[2019-01-14 22:43] MrM40 commented on #9967
It's a VB.Net Standard 2.0 project.
You cannot use the Like operator. It seems it has not been implemented (yet) in VB.Net Standard.
This is more a remark on the documentation page.
But if you thinking of implementing it, that would be great! :-)
Let me know if you need more info.

[2019-01-14 22:43] BillWagner commented on #9619
cc @dend @joelmartinez for the most recent comment.

[2019-01-14 22:47] BillWagner commented on #9662
Thanks for bringing this to our attention @RSuter It's a very good point.

Preview 1 is a bit early for this content, as some details are still being discussed and subject to change.  I've tagged it for the .NET Core 3 release, and added a milestone to make sure we cover this in one of the later previews.

[2019-01-14 22:52] BillWagner commented on #9688
Thanks for writing this @jons

Some language features are not supported in IQueryable implementations. That may be the difference between the two samples.

I've added this to make sure we address it when we update LINQ content.

[2019-01-14 22:54] BillWagner commented on #9731
@noursicain Can you post a smaller example somewhere? You should not get this error if you are building a DLL instead of an exe. (A DLL should not need an entry point).

[2019-01-14 22:58] Rick-Anderson commented on #7516
@KPixel 	are you still interested in writing this doc?

[2019-01-14 22:59] BillWagner commented on #9737
@johnkellyoxford Thanks for pointing this out.

The examples you want are on the reference page for the [`is` operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/is#pattern-matching-with-is)

This page should be updated with a link to that content. I've added the "up for grabs" label to this issue, and added it to our community contribution project.

[2019-01-14 23:04] rpetrusha commented on #8407
Thanks for the suggestion, @brandonh-msft. We've added it to our backlog, as well as to our community contributor's project.

[2019-01-14 23:07] Rick-Anderson commented on #7516
@BillWagner 	https://github.com/KPixel/Prototypes/tree/master/Pipelines was reviewed by the PU in https://github.com/aspnet/Docs/issues/5521
Seems like a fantastic opportunity to get this great content added to the docs.

[2019-01-14 23:10] BillWagner commented on #9756
@johnkellyoxford Thanks for pointing this out.

The examples you want are on the reference page for the [`is` operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/is#pattern-matching-with-is)

This page should be updated with a link to that content. I've added the "up for grabs" label to this issue, and added it to our community contribution project.

[2019-01-14 23:13] rpetrusha commented on #9732
Thanks for your comment, @viveleltsi. In the C# code, the method call appears as is `string.IsNullOrWhiteSpace(email)`. Whether the type name is capitalized (`String`) or not (`string`) is a matter of coding style, since the C# `string` keyword is an alias for the .NET `String` class. Either form compiles successfully.
I'll close this issue as By Design.

[2019-01-14 23:38] rpetrusha commented on #9325
Thanks for your feedback, @berkarslan-cs. As the documentation indicates, the problem with making a mutable type read-only is that, although the List\<string> in your example can't be assigned a different List<String> instance, an individual element in the collection can be modified. So in this case, `readonly` makes the developer's design intent clear, it doesn't fully enforce the rule that the m

[2019-01-14 23:38] #9325 closed

[2019-01-14 23:58] #8417 closed

[2019-01-14 23:59] rpetrusha commented on #9762
Thanks for pointing out the incorrect variable name, @zackbiernat. We've corrected it in dotnet/samples#566.

[2019-01-15 00:16] rpetrusha commented on #9805
Thanks for your feedback, @frankhaugen. Would you like to submit a pull request to improve the article? See the [Contributor's guide](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md) for more information.

[2019-01-15 00:42] KPixel commented on #7516
Yes, I'm just looking for some guidance on how to move forward.
Do I make a pull request with that article as-is? (I can make some minor improvements [based on the other discussion](https://github.com/aspnet/Docs/issues/5521))
Where does it go in the overall doc?

[2019-01-15 00:55] #9762 closed

[2019-01-15 01:06] #9984 closed

[2019-01-15 01:20] JRAlexander commented on #9962
@asthana86,  @CESARDELATORRE, @sfilipi - Any thoughts?

[2019-01-15 02:15] Rick-Anderson commented on #7516
@BillWagner, @mairaw, or @rpetrusha should be able to help. Ping me back in 48 hours if you don't get a response.

[2019-01-15 03:36] NextTurn commented on #9945
@rpetrusha

I can reproduce this on Windows. You will need to enable MDA.

https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/pinvokestackimbalance-mda

[2019-01-15 04:04] #9970 closed

[2019-01-15 05:51] viveleltsi commented on #9732
I was talking to the name of the method not the string class. IsNullOrWhitespace do not work.

[2019-01-15 07:43] #9966 closed

[2019-01-15 08:12] presleyy commented on #9753
@mairaw are you still able to see the extra / when searching for https://www.google.com/search?q=Boolean+Data+Type+(Visual+Basic)? I just tried it, the search results have the correct URL (https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/data-types/boolean-data-type) without any extra /

[2019-01-15 08:16] mairaw commented on #9753
Yes @presleyy

![image](https://user-images.githubusercontent.com/12971179/51167209-d1f30a00-185a-11e9-9661-eb8d1d554917.png)

[2019-01-15 08:17] StephaneMartignier commented on #9732
I agree with viveleltsi, the example is not working because there is a typo in the method name 'string.IsNullOrWhiteSpace(email)'. It's writtent 'IsNullOrWhitespace', missing the capital 'S' to 'space'.

He is not talking about the class name string.

[2019-01-15 08:58] lgilson commented on #9945
I checked and seem to have MDA on. It runs as-is with MDA off.

Isn't MDA clean code required for stable operation?

Windows 10 64Bit, VS 2017, whatever the current update is. Setting the solution (composed of a C++ and a CS project) from "Any cpu" to x64 does not change the CS project because "prefer 32bit" is checked by default in the CS project. It does however change the C++ project leading to

[2019-01-15 09:03] NextTurn commented on #9945
I agree that `CallingConvention = CallingConvention.Cdecl` should be added in every `DllImport` attribute for custom libraries.

[2019-01-15 10:12] johnmelodyme commented on #9559
Mr @BillWagner  , I had fixed that.

[2019-01-15 10:12] #9559 closed

[2019-01-15 10:33] RSuter commented on #9662
Is there already some discussions, description, info about that? Can you provide some links e.g. to GitHub issues?

[2019-01-15 12:45] ViktorHofer commented on #2816
Please document `AssetTargetFallback` as soon as time allows.

[2019-01-15 14:31] seanlin-larc opened #9994 "The operations about Solution Explorer are different from my Visual Studio interface"
Some operations are actually under "File" tab and could not achieve from Solution Explorer window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c598765c-1c4d-bf43-f5c6-a894f3af37ea
* Version Independent ID: 3b77a3ea-1d26-a462-05c5-40bb61919c97
* Content: [Building a Visual Basic .NET Core class library in Visual Stud

[2019-01-15 14:38] seanlin-larc opened #9995 "Operations about Solution Explorer are different from my Visual Studio Interface"
Having been directed from "Getting Started - Build a class library with Visual Basic and the .NET Core SDK in Visual Studio 2017", the exercise could not continue after #5 of "Creating a unit test project" as there is no check-able item in the reference manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 579d660a-e

[2019-01-15 14:41] seanlin-larc opened #9996 "Build Solution ended up creating a .dll file instead of an executable"
As title, "Build Solution" is actually "Build {filename}" in my Visual Studio interface and it built a .dll file instead of a .exe executable as described in the tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10fd8911-61a3-05cb-4f72-ff128be2a632
* Version Independent ID: 9b8e4ffe-d069-f6f3-a326-c33c03f365b4
*

[2019-01-15 15:38] CeciAc opened #9997 "Create a TileBrush and align its content to the bottom-right of its tile."
@lienonegithub commented on [Mon Jan 14 2019](https://github.com/dotnet/docs.zh-cn/issues/322)

bottomRightAlignedTileBrush.Stretch should be [Strech.Uniform]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 9aab7b5b-f348-ccbf-01cc-23b60ab063e3
* Version Independent ID: f28e8c3f-6e94-9025-18ec-dd7852be01c1
* Content: [如何：设置 TileBrush 的水平对齐方式和垂直对齐方式](https://docs.micro

[2019-01-15 15:39] CeciAc commented on #9997
Hi team,
I'm moving this here since the contributor is reporting an issue on the code

best regards

[2019-01-15 16:00] LinkGarden commented on #2816
To help with the right content here:

Projects have one or more targetframeworks.

The target framework determines:
- whether a project reference will be compatible with the hosting project.
- whether a package will be compatible with the hosting project.

If targetframework compatibility rules fail to allow a project reference or a package (via package reference or older techniques), then the sys

[2019-01-15 16:23] rrelyea commented on #2816
Created a PR to add some details of AssetTargetFallback to NuGet docs:
https://github.com/NuGet/docs.microsoft.com-nuget/pull/1264

[2019-01-15 16:51] wuidakaiser opened #9998 "Visual Studio on Mac"
Hello,
I used Visual Basic on Windows and want now to move to Mac. I installed Visual Studio for Mac, can take over from Windows some  console apps but not Form-based projects. When I try building a new Windows based project I'm missing a toolbox with all the gages I found under Windows. What do I need to do to be able to create a Form-based program under Visual Basic?
Thanks in advance!
Wuidakais

[2019-01-15 17:56] mairaw commented on #9998
Hi @wuidakaiser! Are you talking about Windows Forms projects? If so, you can't develop that on Visual Studio for Mac.
See this topic for more information:
https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2017-compatibility-mac#feature-summary

For that reason, I'm closing this issue. But if for some reason, I misunderstood your question, please let us know.

[2019-01-15 17:56] #9998 closed

[2019-01-15 18:06] mairaw commented on #9996
Hi @seanlin-larc! Thanks for your feedback.

Where are you seeing "Build {filename}"? This is what I see on the Build menu:
![image](https://user-images.githubusercontent.com/12971179/51199773-908b4a80-18ac-11e9-852e-b6c43b600430.png)
![image](https://user-images.githubusercontent.com/12971179/51199802-9ed96680-18ac-11e9-8918-2df9cf52ae3f.png)

I don't we mention in the tutorial that you get an .e

[2019-01-15 18:07] mairaw commented on #9996
And this topic might be helpful: https://docs.microsoft.com/en-us/dotnet/core/deploying/

[2019-01-15 18:11] rpetrusha commented on #9996
Thanks for your feedback, @seanlin-larc.

The first option on the Visual Studio **Build** menu, as well as the first option on the context menu displayed if you right-click on the solution in **Solution Explorer** is **Build Solution**. Is that not what you're seeing? Do you have both a solution file and a project file?

The tutorial does not suggest that an executable is output by the build proce

[2019-01-15 18:21] mairaw commented on #9753
That is weird @presleyy! Thanks for looking into this.

[2019-01-15 18:37] mairaw commented on #9732
Thank you for clarifying the issue. Reopening this.

[2019-01-15 18:45] seanlin-larc commented on #9996
Hi Ron,

This is what I saw on my screen.

[image: screenshot 201901151043.png]

On Tue, Jan 15, 2019 at 10:12 AM Ron Petrusha <notifications@github.com>
wrote:

[2019-01-15 18:47] Pangar commented on #9774
I was just looking at that as well.  I think it was a simple mistake.  You can submit on github to make a change.

[2019-01-15 18:50] mairaw commented on #9996
We can't see screenshots on reply by e-mails @seanlin-larc. Can you post it via GitHub UI?

[2019-01-15 18:51] Pangar commented on #9774
I submitted the change on github to change all that say signed to unsigned.

[2019-01-15 19:07] seanlin-larc commented on #9996
Thanks for the clarification about .dll and .exe

As for my "Build" menu, basically I do not have the first 3 items of yours. Attached is my screenshot
![screenshot 201901151043](https://user-images.githubusercontent.com/24693273/51203304-933e6d80-18b5-11e9-8634-22a2d0bd203a.png)

[2019-01-15 19:12] mairaw commented on #9996
Thanks for posting the image here @seanlin-larc. Can you confirm which version of VS you have? Maybe the different editions have different behaviors so I wanna make sure I test it on the same edition you're using.

[2019-01-15 19:18] seanlin-larc commented on #9996
Microsoft Visual Studio Community 2017 version 15.9.5
Screenshot and detail follow:

![screenshot 201901151053](https://user-images.githubusercontent.com/24693273/51203920-288e3180-18b7-11e9-939d-01adab3f1061.png)

Microsoft Visual Studio Community 2017
Version 15.9.5
VisualStudio.15.Release/15.9.5+28307.280
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Community

Visual C++ 2017

[2019-01-15 21:36] #9732 closed

[2019-01-15 23:20] volkan-yazilim opened #10005 "Why are addresses of a and b not equal? Need some more explanation."
If I add these lines to the end of the code, below, it prints "true".
string c = "hello";
Console.WriteLine((object)a == (object)c);

I understand it as CLR assigned the very same address for string variables which are initially assigned with the same content. But it did not assign the same address for string variables which modified to the same content.
I kindly ask for some deeper explanation wh

[2019-01-15 23:45] rpetrusha commented on #9996
Here is the default Build menu from the Community Edition:

![image](https://user-images.githubusercontent.com/10886961/51217202-0bb82500-18dc-11e9-8e11-2f3b55763879.png)

Have you by any chance customized your menu, @seanlin-larc?

[2019-01-15 23:55] rpetrusha commented on #9995
Thanks for your feedback, @seanlin-larc. I'm having difficulty reproducing this. Could you include a screen capture of your Solution Explorer, please?

[2019-01-15 23:57] rpetrusha commented on #9994
Can you be more specific, @seanlin-larc? What operations were on the File tab instead of the Solution Explorer window? Thanks.

[2019-01-16 01:06] seanlin-larc commented on #9994
As the screenshot, the first step of tutorial says "1.In Solution Explorer, open the context menu for the ClassLibraryProjects solution node and select Add > New Project." However, I couldn't find such option in my context menu in Solution Explorer. I could start a new project as step 2 described from the File tab, but I found no check-able item in step 5.

I'm using Visual Studio 2017 Community E

[2019-01-16 03:12] mjrousos commented on #7537
I'll take a look.

[2019-01-16 03:16] mjrousos commented on #7536
Good feedback, @wschin. The version and culture are part of the [managed assembly name](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/assembly-names). It could also include public key token or target architecture. I'll add a comment explaining that better.

Also, good suggestion to use `GetLastError`. I'll add that.

[2019-01-16 06:02] Xertz-TheOriginal commented on #7380
Ok so i'm pretty new to the world of encryption/decryption so take whatever I say with the possibility of being wrong. I noticed a function called "TruncateHash" which as the name implies, might truncate, or cut off the end of the password. Because the encrypted text is so short, the password might be cut off from a very short amount as well. So because the true password, and the false one both be

[2019-01-16 12:18] wuidakaiser commented on #9998
Hello,
Reading the Info from the  link you gave me I learned that I have to use Xamarin/Xcode in order to create a UI for my app. Thus I have to learn how to use a new tool and a new language (C#). A good task for the new year!
Thanks and have a good time!
Ernst

[2019-01-16 14:32] brandon34343 opened #10011 "Organization"
The list is alphabetical, it would be helpful if there was a guided path we can follow. Emphasize which one to start with and then a "next" link to the article that would logically be next.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79095336-671c-ea61-f907-cc928fa66884
* Version Independent ID: d48a2bca-bccc-6c57-3

[2019-01-16 14:47] hobbit125 opened #10012 "Missing creation of TrainFinalModel method"
This line occurs in this document:

"To save your model to a .zip file before returning, add the following code to call the SaveModelAsFile method as the next line in TrainFinalModel:"

And there is no prior instruction to create or call a TrainFinalModel method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-

[2019-01-16 15:00] NextTurn opened #10013 "Broken links"
https://github.com/dotnet/docs/blob/d16d413a0699ece88058c2a3790b749011472344/docs/project-json.md#L20

[2019-01-16 16:05] laura-rodriguez commented on #5321
Hi @brentsmaltz,
As per [OpenId Connect spec](https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation):
_The `alg` value SHOULD be the default of RS256 or the algorithm sent by the Client in the id_token_signed_response_alg parameter during Registration._
Where exactly is this validated? In my case, I want to accept only tokens with `alg` equals to `RS256`.
Can you please point me

[2019-01-16 16:26] pressacco commented on #7582
IMHO: I think a fair number of developers miss the subtleties of concurrent programming (even more so with `async/await`), and they are unknowingly introducing potential race conditions / deadlocks.

To help curb this, it would be nice if the documentation included guidance on how to keep `async/await` "contained".  Once introduced, `async/await` has a way of spreading throughout the code base.