[2019-08-06 01:28] rpetrusha opened #13734 "[Code Gallery] Migrate Simple Calculator MEF Application"
## [Code Gallery] Simple Calculator MEF Application

**Sample URL**

<docs\framework\mef\index.md>

**Sample information**

38,931 downloads, with 5.0 rating (6 reviewers)

**Usage (in GitHub repos)**

- docs\framework\mef\index.md

[2019-08-06 01:53] mairaw commented on #13470
I can't see the edited marker either.

[2019-08-06 02:03] mairaw commented on #13734
Is this a duplicate of #13733?

[2019-08-06 07:27] awarberg opened #13738 "Address type (IP address or DNS name)?"
According to the &lt;add&gt; tag documentation the "address" attribute is an "IP address or DNS name". However, in the example you provide a URI "http://www.contoso.com". Does this mean that the connection is limited by the host (DNS name) of the URI, or does it apply to the path segment of the URI as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-08-06 09:34] shreyas-github commented on #8802
how did you get it to work?

[2019-08-06 09:40] shreyas-github commented on #8802
safsad

[2019-08-06 12:47] seppo498573908457 opened #13740 "Expression-bodied local functions"
It should be explicitly and clearly stated if local function definitions can be expression-bodied (arrow functions) or not, since the risk of confusion with lamda expressions is great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a70d19-0d23-f877-8860-df514cec3c40
* Version Independent ID: 942dbec3-a753-733f-c551-0

[2019-08-06 13:58] serhioV commented on #11912
Is to say that the "current directory" sentence has no sense...

Probably replace with "your project's directory", or the "directory containing the .*proj file" would have some sense...

[2019-08-06 14:01] serhioV commented on #11912
If I am newbie I don't see it at all...  Or the article is written only for the experts of the dotnet run command?

[2019-08-06 14:21] Kiba-kun opened #13741 ""Get Started with the Management Libraries for .NET" link (https://msdn.microsoft.com/library/dn722415.aspx) is not working"
"Get Started with the Management Libraries for .NET" link (https://msdn.microsoft.com/library/dn722415.aspx)
contained in "Deploying and Managing Azure Resources with F# Scripts" section seems not to be relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45bbacb9-52da-4b4e-1c68-2e582aab477d
* Version Independent I

[2019-08-06 15:49] w5m opened #13742 "Bullet points and diagram don't seem to match"
The "Microservices" bullet point suggests "Azure Web Apps for Containers" as a suitable platform for microservices. However, the diagram doesn't show a tick for using "Azure App Service" as a suitable platform for a Cloud-Native (Microservices architecture) application architecture. Is this a mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-06 18:22] rpetrusha commented on #13470
Nor can I. Possibly what I thought were edits were lost when my laptop dropped my wireless Internet connection, which it does all too frequently. I've made some very minor edits now.

[2019-08-06 18:30] rpetrusha commented on #13734
Yes it is a duplicate. I have no idea of how that might have happened. I'll close this one.

[2019-08-06 18:30] #13734 closed

[2019-08-06 18:36] Siddhu-cs commented on #12730
@parnesen essential truth of async in its purest form: There is no thread
check out this link https://blog.stephencleary.com/2013/11/there-is-no-thread.html

[2019-08-06 18:42] Siddhu-cs commented on #12691
@Askyous @Mackiovello Let's say you have started 10 tasks which return same data from different source. Now you want result from any of these 10, whoever gives you result first, for this purpose you can you Task.WhenAny(). If you want to wait for all task to complete then you can use Task.WhenAll()

[2019-08-06 20:15] rpetrusha opened #13745 "[Code Gallery] Migrate 101 LINQ Samples"
## [Code Gallery] Migrate 101 LINQ Samples

**Sample URL**

<https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b>

**Sample information**

The sample has 345,699 downloads and a 5.0 rating (82 reviewers) as of 8/6/2019.

It was last updated on 9/27/2011.

**Usage**

- docs\standard\using-linq.md

[2019-08-06 20:21] joebates25 opened #13746 ""Security Overview1" in page title"
"Security Overview1" appears in the page title. The "1" should not be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54a2fcb-daad-26d9-5af8-4c648c602b92
* Version Independent ID: d397c914-11f1-4249-fc55-34cfa3f969f6
* Content: [Security Overview1](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-de

[2019-08-06 20:36] Thraka commented on #11912
There is no visual studio involved in the command line tools, so it's implied you're using a terminal of some sort and in the terminal you're always in some directory. The current directory is searched for a solution or project and is run if found, if not found it tells you:

Where `XXXX` actually prints out the current directory.

[2019-08-06 20:46] Thraka commented on #13746
Thank you, I'll fix this up real fast.

[2019-08-06 20:53] Thraka commented on #13741
I'm not sure I see the reason for having that entire paragraph. VMs is already covered at the top for one, and the 2nd link can be rolled into the next paragraph.

@cartermp what do you think? Do you still work on this stuff? Is @sylvanc the appropriate person to contact?

[2019-08-06 21:44] rpetrusha commented on #13548
I've made some edits, @GrabYourPitchforks. Could you review them, please?

[2019-08-06 21:47] rpetrusha commented on #13598
I've made some minor changes, @bartonjs. Could you review them, please?

[2019-08-06 21:51] rpetrusha commented on #13670
I've made some changes to the issue, @cston. Could you review them, please?

[2019-08-06 21:58] #13746 closed

[2019-08-06 22:00] rpetrusha commented on #13693
Could you review this please, @tarekgh. I've made some changes to the issue.

[2019-08-06 22:00] cston commented on #13670
@rpetrusha, the **Change description** looks good, thanks.

[2019-08-06 23:51] yshpakov opened #13749 "dotnet test --filter FullyQualifiedName fails to work with generic test classes"
`dotnet test --filter "FullyQualifiedName=MyNamespace.MyTestsClass<ParameterType1,ParameterType2>.MyTestMethod"
`
Error message:
[code]

There is no way to escape comma. So there is no way to pass full qualified name if the tests class is generic with multiple parameter types.
Either put into documentation the explanation how to accomplish that, or report a bug to .NET Core developers team.

I nee

[2019-08-07 02:16] bartonjs commented on #13470
Edited version looks good to me, too :smile:

[2019-08-07 06:14] bartonjs commented on #13598
LGTM

[2019-08-07 06:38] ohelin2 opened #13751 "Wrong notes in "Required UI Automation Control Patterns" > "ControlPattern" > "ITextProvider""
Hello,
The description of "ITextProvider" is the same as "IScrollProvider".
Thanks & regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d47c7fe7-1981-ea27-bea2-90f692ff2288
* Version Independent ID: d4e86ad9-7914-6799-4fbb-0f8ded0b2c68
* Content: [UI Automation Support for the Document Control Type](https://docs.m

[2019-08-07 06:55] mikeminutillo opened #13752 "This page should mention handedness"
We have had a long-standing issue with some drop-downs appearing in the wrong place on some machines and eventually we figured out it was related to the handedness setting found under Control Panel -&gt; Tablet PC Settings -&gt; Other -&gt; Handedness.

As this page has a table and lots of examples showing all of the  placement options and how they work, it should mention handedness and how that e

[2019-08-07 09:37] lukepuplett opened #13753 "Consider retiring or reducing this page and pointing people at another"
To DRY up the docs and clear down some of the outstanding open issues, perhaps just point readers to this page?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 24434

[2019-08-07 12:45] fleed commented on #11928
Any news?

[2019-08-07 16:38] tarekgh commented on #13693
This behavior will be applied on Windows systems too.

other than that, LGTM.

[2019-08-07 16:56] 333fred commented on #13227
@BillWagner we should just remove any references to safeonly, as it's no longer a valid option.

[2019-08-07 17:08] JustAnotherG opened #13756 "A single minus is not the Decrement Operator"
A minus sign is not equivalent to the decrement operator. The decrement operator, to me anyway, is a double minus (--).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5dba5b-eabc-8202-2854-6b1f4a7f971a
* Version Independent ID: 8b2e46f0-6d12-6ce9-944d-b883dcbe0808
* Content: [Using Delegates - C# Programming Guide](h

[2019-08-07 17:10] Yashuaaa commented on #10344
Also, what about Azure. Can I use this with a Azure Storage Account?

[2019-08-07 17:17] JustAnotherG opened #13757 "Purpose?"
MathClass m = new MathClass();
What's the purpose of the above line of code in the example? Couldn't you have more easily just typed:
Del d = this.MultiplyNumbers;
or even:
Del d = MultiplyNumbers;

Please explain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 495dca2a-dcd9-892f-21f0-e970589b543d
* Version Independent

[2019-08-07 17:49] mvelosop commented on #10439
Hi @maulik-modi, I'm sorry for the delay, you can find the code here: https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Ordering/Ordering.BackgroundTasks/Tasks/GracePeriodManagerTask.cs

[2019-08-07 17:50] mvelosop commented on #10439
Closing this issue now as the original question was answered, but feel free to comment, will reopen if needed.

[2019-08-07 17:50] #10439 closed

[2019-08-07 17:56] mvelosop commented on #6749
Hi @mairaw, yes it's ok to just close it, so doing it now!

[2019-08-07 17:56] #6749 closed

[2019-08-07 20:29] #13756 closed

[2019-08-07 23:58] agaures opened #13762 "OpenFile example does not use OpenFile"
I believe the second example is meant to be:
using (Stream s = openFileDialog1.OpenFile())

Also, the initialisation of 'openFileDialog1' includes an erroneous semicolon as well as the 'FileName' property having incorrect capitalisation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9db6b2-ee5e-dffb-94ea-3c56ed18e34

[2019-08-08 00:57] #12735 closed

[2019-08-08 02:03] JustAnotherG opened #13764 "Article Contradicts Itself"
"Note that expression can be a statement expression only if the member's return type is void, or if the member is a constructor, a finalizer, or a property set accessor."

And yet, in the above example, an expression bodied statement is used to define a member method that returns a string? Clarification is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-08 05:32] pkulikov commented on #13764
@JustAnotherG good catch, thanks!

[2019-08-08 06:32] rpetrusha opened #13767 "[Code Gallery] Migrate HttpClient Sample"
## [Code Gallery] Migrate HttpClient Sample

**Sample URL**

<https://code.msdn.microsoft.com/windowsapps/HttpClient-sample-55700664>

**Sample information**

The sample has 68,801 downloads and a rating of 4.0 (20 ratings)

It was last updated on 5/13/2014.

**Usage**

- docs/framework/network-programming/index.md
- docs\framework\wcf\whats-new.md
- docs\framework\network-programming\network-prog

[2019-08-08 07:49] WoodpeckerBaby opened #13768 "This line is wrong grammatically and doesn't make any sense"
"However, the called method can use the address to access the class members that both the original address and the copy reference."

FYI

URL:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/how-to-know-the-difference-passing-a-struct-and-passing-a-class-to-a-method

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-08 09:08] wrkettlitz opened #13769 "Realistic example"
Would be nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47acd93c-2f52-dc26-8fba-cfbd41c748e1
* Version Independent ID: ebbbba0b-6ac3-b636-6564-e8a597498e7b
* Content: [Example COM Class - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interop/example-com-class)
* Content Sou

[2019-08-08 10:44] specialwork commented on #6927
Is it bad practice, using the DisplaName Property of the FactAttribute to describe, what a test does, instead of using very long unreadable Method Name?

[2019-08-08 11:05] mikehadlow opened #13770 "Consider using EasyNetQ for connecting to RabbitMQ"
Implementing a reliable client for RabbitMQ is not-trivial. The open source EasyNetQ project provides a battle-tested client library that you can use in your application. Check out http://easynetq.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f590167-a388-94ac-e39b-463978a761b0
* Version Independent ID: 7f36b050

[2019-08-08 11:05] mvelosop commented on #13753
Hi @lukepuplett, thanks for your feedback!

The page makes sense as an introduction to the `HttpClientFactory` in the context of the Microservices Architecture guide.

This is also used to generate the related e-book (https://aka.ms/microservicesebook), where it's even more important for a unified content, so a simple link would juts not be enough.

However, the content will be improved based on t

[2019-08-08 11:38] mvelosop commented on #11064
Hi @matteocontrini, thanks for the feedback.

I would've thought that just by saying "add a reference to XXX package" would make it clear that it's a NuGet package, but it looks like it's not, from the amount of thumbs up.

Will reword the mention.

[2019-08-08 11:47] matteocontrini commented on #11064
Thanks!

It's been some time but I remember that while reading it, the article gave the impression that it was a new feature of the framework, while it's actually a library that you need to install manually.

New users of the ecosystem might not know that the framework is extensible through Nuget packages, so saying it explicitly can't be bad :)

[2019-08-08 12:38] mvelosop commented on #10309
Hi, thanks for your feedback.

Regrettably (or not) there's no `IHttpClient` in .NET  so there's not much we can do in that direction.

You can use the option that @jstafford5380 mentions, however it might be a bit cumbersome to setup.

I've used another approach that I've found to be quite simple to mock and, IMHO, much more clear than using `HttpClient`.

Just so you might give it a try:

1. Cre

[2019-08-08 13:25] mvelosop commented on #10146
Hi @IanKemp, will improve this article and include the suggested mentions.

[2019-08-08 13:43] mvelosop commented on #10309
Hey @jstafford5380, just learned about [Simmy](http://www.thepollyproject.org/2019/06/27/simmy-the-monkey-for-making-chaos/) a Polly companion to test for resiliency.

This looks quite interesting!

Although, at least for some initial testing, it's perhaps better to have some "deterministic" failures.

Cheers.

[2019-08-08 14:59] mvelosop commented on #13695
Closing as duplicate of https://github.com/dotnet-architecture/eShopOnContainers/issues/1111

[2019-08-08 14:59] #13695 closed

[2019-08-08 15:54] kduenke opened #13772 "Old Terminology"
This document still references Document DB instead of the new Cosmos DB terminology.
https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps#azure-documentdb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e1a443c-c3dd-b865-58b2-0ff0902308ce
* Version Independent I

[2019-08-08 16:14] rcollina opened #13773 "Nested Classes?"
I might have missed this, but I wonder if this new feature also supports Nested Classes.
I would like to define input and output POCOs as part of a contract.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790425e-da4e-9a75-6a11-f72109ce8d6a
* Version Independent ID: 09298e41-8f5a-c3c3-a849-8de67f8efba1
* Content: [Saf

[2019-08-08 17:17] ericmutta commented on #13542
No worries, I totally understand and wish to extend my thanks to you and the rest of the docs team for the great work you are doing!

[2019-08-08 17:18] ericmutta commented on #13542
Can this issue be assigned to me so I can work on it when I get a chance?

[2019-08-08 17:53] mvelosop commented on #13718
Hi @nujyp10, thanks for the heads up!

Will fix the image.

Cheers.

[2019-08-08 17:55] CeciAc opened #13775 "BypassNGenAttribute needs AttributeTargetsAttribute"
@johannesvogel1 commented on [Thu Aug 08 2019](https://github.com/dotnet/docs.de-de/issues/148)

The Codesample for the BypassNGenAttribute is not valid, because the AttributeTarget is missing.

namespace System.Runtime
{
    **[AttributeUsage(AttributeTargets.Method)]**
    public class BypassNGenAttribute
        : Attribute
    {
    }
}

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Absch

[2019-08-08 17:55] CeciAc commented on #13775
Hi team,
I'm moving this here because the user is reporting an omision in the code sample
best regards

[2019-08-08 18:02] Thraka opened #13776 "[desktop-guide wpf] Doc getting started tutorial"
Related to #10649

Doc the following set of articles:

- Windows Presentation Foundation
  - Overview
  - Getting started
    - [x] Create a WPF app (Supplied by Visual Studio team)
      _Source material_
      [Get started with WPF](https://docs.microsoft.com/en-us/visualstudio/designers/getting-started-with-wpf?view=vs-2019)
      [Walkthrough 1st app](https://docs.microsoft.com/en-us/dotnet/fr

[2019-08-08 18:13] Thraka opened #13778 "[desktop-guide wpf] Create working branch + TOC edits"
Related to #10649

We'll need a working branch to start putting all of the content together for the WPF desktop guide.

Related to #12395

[2019-08-08 18:25] #13718 closed

[2019-08-08 19:14] scottrudy opened #13779 "No mention of new project file convention"
I think it's worth mentioning the simple convention in dotnet core project files:

`&lt;GenerateDocumentationFile&gt;true&lt;/GenerateDocumentationFile&gt;`

This basically gives you the same as &lt;DocumentationFile&gt;bin\$(Configuration)\$(TargetFramework)\$(AssemblyName).xml&lt;/DocumentationFile&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-08-08 19:26] mvelosop commented on #10095
Closing this issue as answered/stale, but fell free to comment, will reopen if needed.

[2019-08-08 19:26] #10095 closed

[2019-08-08 19:46] mvelosop commented on #8552
There are no references (at least couldn't find them) to the docker-compose.ci.build.yml file. I remember there was a reference in an image, but it was updated in the last large review.

Closing this issue now, but feel free to comment, will reopen if needed.

[2019-08-08 19:46] #8552 closed

[2019-08-08 19:50] mvelosop commented on #6215
Closing this issue as both articles are pretty much the same, just image style and minor wording differences.

[2019-08-08 19:50] #6215 closed

[2019-08-08 19:53] Thraka commented on #13778
Created the [desktop-guide-wpf](https://github.com/dotnet/docs/tree/desktop-guide-wpf/docs/desktop) branch and opened PR for staging previews #13780

[2019-08-08 19:53] #13778 closed

[2019-08-08 19:56] mvelosop commented on #11111
Closing this issue as stale but feel free to comment, will reopen if needed.

[2019-08-08 19:56] #11111 closed

[2019-08-08 20:04] mvelosop commented on #10552
Hi @martinkotula, thanks for the heads up!

You're right, that code snippet is obsolete will update it in a few days.

[2019-08-08 21:32] Thraka commented on #13461
This content is in the wpf branch. Will close this out when I file a PR for review and edits on that article.

[2019-08-08 21:40] rpetrusha commented on #13775
Thanks for moving this issue, @CeciAc. I've opened dotnet/samples#1148 to address it.

[2019-08-08 21:46] JustinD85 commented on #13345
Hey all,

    Just wanted to chime in. Although you closed the issue, there is still a problem with the disconnect between what the first line of that tutorial is asking a new person to do and the label of `Enter focus mode`. What is focus mode? Why do I need to enter it? I would recommend simply relabeling the button to `Enter interactive window`, with that small change it is very clear that this

[2019-08-08 22:02] rpetrusha commented on #13542
I've assigned it to you, @ericmutta. Thanks for volunteering to work on it.

[2019-08-08 22:42] douglasg14b commented on #12091
@jackalvrus What is your proposed implementation?

[2019-08-08 22:51] Thraka commented on #13345
Hi @JustinD85 thank you for commenting here. Having a second person validate what @IamThePeter helps. I'll let @BillWagner decide how he wants to proceed. But I see a few things that could help

1. When you first enter the tutorial, it should default to the interactive pane being open and ready to run. I really don't understand why we should require a user to click another link just to start the t

[2019-08-08 22:53] mairaw commented on #13772
Thank you for your feedback @kduenke. There are other 4 articles in our repo (most from the e-books) that use that old terminology @mvelosop:
https://github.com/dotnet/docs/search?q=documentdb&unscoped_q=documentdb

[2019-08-08 23:43] jackalvrus commented on #12091
@douglasg14b  There are a number of well-designed algorithms out there. Here is an article that compares several (and demonstrates why XOR is not ideal): http://myeyesareblind.com/2017/02/06/Combine-hash-values/

These days I typically use `ValueTuple.GetHashCode` because it uses one of the good algorithms. For example:

[code]

[2019-08-09 00:36] douglasg14b commented on #12091
Thanks!

Would you consider it acceptable to instead use prime number multiplication?

**Example:**

[code]

____________________________________________________________________

**LINQ Version:**

[code]

[2019-08-09 01:06] ahsonkhan commented on #13513
It's also worth mentioning that `JsonEncodedText` is a new type as part of .NET Core 3.0 and the breaking change described here is only breaking between **3.0 preview 7** and **3.0 preview8+** (and not between previous .NET Core versions that shipped and 3.0).

Similar to https://github.com/dotnet/docs/issues/13469

[2019-08-09 01:07] mairaw commented on #13513
We don't document breaking changes between previews.

[2019-08-09 01:07] ahsonkhan commented on #13469
The last API can now be linked to the docs site:
[Utf8JsonWriter.WritePropertyName(string)](
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonwriter.writepropertyname?view=netcore-3.0_)

[2019-08-09 01:09] ahsonkhan commented on #13513
preview 7 was considered "go-live", so I was told we should document breaking changes between it and 3.0 RTM.

[2019-08-09 01:12] mairaw commented on #13513
Ok, I'll leave this to @rpetrusha to comment here since he's more familiar with this process than I am.

[2019-08-09 01:14] mairaw commented on #13469
Ok, I've added the link. I also don't see any edits from @rpetrusha.

[2019-08-09 03:14] AskYous commented on #12691
Thanks @Siddhu-cs. Very clear!

[2019-08-09 05:46] henke37 commented on #11994
Looks clear enough to me, if you read the earlier section that has this text:

That both gives an example of an API that throws and states what to throw. The only thing missing is the capability api.

[2019-08-09 06:38] mairaw commented on #8860
Thanks for the feedback @zivkan and apologies on the delay on getting this triaged. I'm going through the issues for dotnet pack as I'm making some updates to it at the moment. @KathleenDollard @livarcocc `dotnet pack --help` also states that only projects are accepted. So should I open a bug in the CLI repo too for this?

[2019-08-09 06:40] mairaw commented on #9354
@KathleenDollard @livarcocc friendly ping on this one

[2019-08-09 06:47] mairaw commented on #10265
Thank you for your feedback @ugumba. I'm including this fix as part of some updates I'm making to the dotnet pack article.

[2019-08-09 07:27] mairaw commented on #8860
I just confirmed it works with solution files as well, so I'm adding that to the docs.

[2019-08-09 07:43] mairaw commented on #13281
Thanks for your feedback @tpeiffer. @karann-msft @rohit21agrawal can you help with this request? Is the command we have for dotnet pack invalid here?

Also, can you check that the article referenced here (https://docs.microsoft.com/nuget/reference/msbuild-targets#packing-using-a-nuspec) is correct when it comes to NuspecProperties?

I'm taking care of the first issue, to make the option consistent

[2019-08-09 07:55] mvelosop commented on #13772
Thanks @mairaw, will check with @ardalis, he may be updating some of these e-books/guides.

[2019-08-09 10:47] huanbd opened #13786 "[Question] How to analyze sentiment comment that is from other language not english?"
Can you help me, how to use ML.NET to analyze text, that is from other language not english (vietnamese). With my knowledge, I think have to preprocess data before train.
Can help me the steps to do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0b

[2019-08-09 12:10] jozefizso opened #13787 "The ServicePointManager security protocol does not work on Windows 7"
&gt; If your app targets .NET Framework 4.7 or later versions
&gt; The following sections show how to verify you're not using a specific TLS or SSL version.

&gt; For HTTP networking
&gt; ServicePointManager, using .NET Framework 4.7 and later versions, defaults to the OS choosing the best security protocol and version. To get the default OS best choice, if possible, don't set a value for the Secu

[2019-08-09 13:10] qbit86 opened #13788 "LoadData() is called twice"
`LoadData(mlContext)` is called twice here:
[code]
It's better to init both `trainingDataView` and `testDataView` in one call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0888bc80-798f-ebdd-459a-7543be1efdad
* Version Independent ID: c24ded82-d56c-e8c7-fd6a-e39929227177
* Content: [Tutorial: Build a movie recommende

[2019-08-09 13:48] brunomartinspro opened #13789 "dotnet restore not working as specified (feature or bug)"
Currently in AzureDevOps (at least on Premises) with latest version of the SDK and AzureDevOps, the command Restore -s does not override the config file as stated in "This setting overrides all of the sources specified in the nuget.config files".

YAML:
- task: DotNetCoreCLI@2
  displayName: "ProvisionRestoreProjects"
  inputs:
    command: 'restore'
    projects: '${{ parameters.projects }}'

[2019-08-09 15:26] svick commented on #12439
See also https://github.com/dotnet/core/issues/2213.

[2019-08-09 15:44] #13775 closed

[2019-08-09 15:50] luisquintanilla commented on #13710
Hi @jack0x539 ,

Thanks for the feedback. Happy to hear you found it useful. Were there any parts in particular where you felt it could be improved?

[2019-08-09 15:57] luisquintanilla commented on #13786
Hi @huanbd ,

Thank you for your question. Since this is more of a product question, I'd encourage you to raise an issue on the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo.

[2019-08-09 15:57] #13786 closed

[2019-08-09 16:39] Thraka commented on #13789
@nkolev92 Can you comment on this?

[2019-08-09 16:48] Thraka commented on #13787
Is `TLS 1.2` enabled by default for your Windows 7 install? I've looked around online and on forums and it doesn't seem to indicate this is the default for the OS.

[2019-08-09 16:51] Thraka commented on #13779
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-09 16:57] Thraka commented on #13768
Thank you for opening this issue. I'll get this fixed up. I think it's missing a few key words that will make it clearer. I've **emphasized** the added words:

Does that make more sense?

[2019-08-09 17:04] jozefizso commented on #13787
This is a fully patched Windows 7 SP1 machine which can correctly load TLS 1.2 sites.

PS: documentation clearly states it will select the most secure protocol version.

[2019-08-09 17:21] KathleenDollard commented on #8860
And please open an issue on dotnet/cli

[2019-08-09 17:39] nkolev92 commented on #13789
@Thraka
This has to do with the Azure DevOps tasks, I don't have any expertise on that.

[2019-08-09 17:52] Thraka commented on #13787
I just noticed that the article has a link to a specific issue to discuss this. At the end of the issue is a recent comment: https://github.com/dotnet/docs/issues/4675#issuecomment-498772703

This states that even though TLS 1.2 is supported, its not set as the _default_ by the Windows 7 OS (probably so as to not instantly break all existing apps that expect a lower TLS?) and you'll still have to

[2019-08-09 17:58] Thraka commented on #13787
Specifically though, there is an engineer or support person on that linked thread, I would post there for help or clarification. They can also update the documentation if something isn't as clear as it should.

[2019-08-09 18:11] jozefizso commented on #13787
This is **utterly frustrating**. A simple, two line code will not work **by default** on Windows 7. Yet you document everywhere that .NET 4.7 is supposed to fix this mess.

Explanation why it does not work is nice, but in real world, it **just does not work** and that's totally stupid. A fix will make application **less** secure on all platforms, as TLS 1.2 may not be the default in the future.

I

[2019-08-09 18:15] jozefizso commented on #13787
This is your guidance:

Yet, this does not work!

[2019-08-09 18:19] VineST commented on #8105
I experienced this as well, with NHibernate.

[2019-08-09 18:27] jozefizso commented on #4675
This is **not** true!

A simple two line code will fail on fully patched Windows 7 SP1 with .NET Framework 4.7.2 application:

[code]

[2019-08-09 18:29] davidsh commented on #4675
@jozefizso Unfortunately, Windows 7 is the exception here.  See my comment above (https://github.com/dotnet/docs/issues/4675#issuecomment-498772703).

[2019-08-09 18:30] jozefizso commented on #4675
This is completely false for windows 7:

[2019-08-09 18:33] jozefizso commented on #4675
@davidsh well, that does not help us writing secure applications. We are now forced to always set the TLS 1.2 in .NET application and it forbids us from using any better protocol.

[2019-08-09 18:33] mairaw commented on #13789
@KathleenDollard @livarcocc this seems like a product bug. Should we move it to the CLI repo?

[2019-08-09 18:34] mairaw commented on #13738
@davidsh @karelz can you help with this question?

[2019-08-09 18:36] Thraka commented on #4675
Although Win 7 SP1 falls out of extended support in 5 months @davidsh Is there anything you can update in the docs to help clarify this? https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-net-framework-47-or-later-versions

[2019-08-09 18:45] jozefizso commented on #4675
.NET 4.7.1 was release in October 2017! We hit this bug in production almost two years ago! Making it an issue with OS which will not be supported in 5 months is silly.

[2019-08-09 19:02] Thraka commented on #4675
..If I understand everything correctly..

@jozefizso I don't think the fault is with .NET Framework. In the whats new for 4.7 it says

![image](https://user-images.githubusercontent.com/2672110/62801966-b6bc4600-ba9b-11e9-873e-5f35d3207004.png)

Meaning that the option to use the default OS protocol instead of hardcoding it as you used to have to do. If you configure .NET to use the OS default, it

[2019-08-09 19:10] mamccrea commented on #13681
Thank you, @david-c-hunn! I have updated the doc.

[2019-08-09 19:10] #13681 closed

[2019-08-09 19:11] jozefizso commented on #4675
This totally contradicts the **Developers need no longer hard-code a TLS version** - we **must** hard code it for our apps to work on Windows.

This also contradicts the [KB3140245](https://support.microsoft.com/en-gb/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-default-secure-protocols-in-wi) which changes default protocol to TLS 1.2

[2019-08-09 19:22] ghogen opened #13795 "offline book - C# content missing"
The offline book in VS 2019 for C# is missing some of the C# reference content. This is because the TOC is in a form that the offline book build tool doesn't know how to deal with. The issue to be avoided is that when a parent TOC node references a topic in a sub-TOC in order to pull in the sub-TOC, the referenced topic must be the root node of the sub-TOC.

So the fix here is to change the C# ref

[2019-08-09 19:23] ghogen commented on #13795
@BillWagner I have a PR to address this and will mention you on it.

[2019-08-09 19:24] jozefizso commented on #4675
Another statement which is false, from https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls

It **will not** use what **OS supports** - it will use insecure default!!!

[2019-08-09 19:35] ghogen commented on #13795
@rpetrusha @Thraka

[2019-08-09 19:42] livarcocc commented on #13789
I don't think this belongs in the CLI either. I see @nkolev92 from NuGet is on the thread. It is either in NuGet or Azure DevOps.

[2019-08-09 19:44] nkolev92 commented on #13789
Start with ADO.
From the logs it's suggesting that the correct command was not run.

[2019-08-09 19:57] davidsh commented on #13738
The path segment of the URI is ignored. It is only the authority portion of the URI (i.e. the host name).

[2019-08-09 20:07] davidsh commented on #13738
And to be more specific, the scheme, host and port (if present) is used as the unique key.  So, for example, the following would be valid in the config section:

[code]

So, these are separate limits:

* "http://www.contoso.com" maxconnection = "4"
* "https://www.contoso.com" maxconnection = "5"
* "http://www.contoso.com:8080" maxconnection = "6"

[2019-08-09 21:07] mairaw commented on #13786
You used to have a separate project for ML.NET. Fine by me either way, just wanted to check which one you should be using. I think the August one for ML wasn't created yet. /cc @natke

[2019-08-09 21:47] mamccrea commented on #13347
Thanks @trongnguyenbinh - I have added this guidance to the docs.

[2019-08-09 21:47] #13347 closed

[2019-08-09 22:31] mairaw commented on #13789
Any suggestions where I'd file such a bug for ADO?

[2019-08-09 22:44] nkolev92 commented on #13789
I'm not 100% confident, but I think https://github.com/microsoft/azure-pipelines-tasks is a good start.
if need they cna forward from there.

[2019-08-10 00:09] #9276 closed

[2019-08-10 00:38] mosri commented on #11103
It means the same thing, but parameter is actually the correct term. Since in the implementation of the method, the argument may undergo change. The argument at the end of the method may not be the same as it was at the input. Parameter is more appropriate since it may be dynamically changing.

[2019-08-10 00:45] Thraka commented on #4675
@jozefizso If you add these registry settings to your Windows 7 install, TLS 1.2 works by default. I just created an Azure VM with Windows 7, installed Visual Studio, created a sample app, validated it didn't work, set these registry keys, validated it did work.

Here is a .reg file that sets the key

[code]

[2019-08-10 01:57] jwood803 opened #13800 "Missing data loading code?"
The document mentions to "load the data into an `IDataView`". Is it missing the code that does this step?

[AB#1579020](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1579020)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1fb0dd-648b-26e9-7e4e-48824ab94160
* Version Independent ID:

[2019-08-10 13:30] svick commented on #9121
The sibling article, [Asynchronous Server Socket Example](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/asynchronous-server-socket-example) should also be updated to use `async`-`await` instead of APM.

[2019-08-10 15:36] Thraka commented on #13787
Posting this here also in case others look at the thread. The issue is solved by following the "SystemDefault" registry key values. I created an Azure VM with Windows 7, installed Visual Studio, created a sample app, validated it didn't work, set these registry keys, validated it did work.

Here is a .reg file that sets the keys

[code]

[2019-08-10 15:39] Thraka commented on #7903
Closing this due to suggestion that this not be implemented.

[2019-08-10 15:39] #7903 closed

[2019-08-10 15:45] #13725 closed

[2019-08-10 16:28] jozefizso commented on #4675
I don't think it is acceptable to modify registry this way on customers' devices.

The documentation is clear: **.NET Framework applications should use the TLS version the operating system (OS) supports**

Windows 7 SP1 **supports** TLS v1.2 therefore this is a bug in the .NET Framework. This issue did not exist in .NET Framework up to v4.7.1

[2019-08-10 16:33] jozefizso commented on #4675
Let's say the server support TLS 1.0, 1.1 and 1.2 connections.

.NET applications targeting up to 4.6 will correctly connect using TLS 1.2 on Windows 7 SP1.

Retarget the application to .NET 4.7.1 and you have suddenly security hole in your application as it will connect with TLS 1.0!!! **This is security issue!**

[2019-08-10 17:45] svick commented on #12994
I believe it is a PowerShell feature that you can shorten parameter names, as long as that shortening is still unique within that command. Though I couldn't find any official documentation about this.

[2019-08-11 09:57] svick commented on #6803
@dhowes The watermark.png link at https://github.com/microsoft/WPF-Samples/tree/master/Getting%20Started/WalkthroughFirstWPFApp/csharp leads to a HTML page that shows the image and its git metadata. If you want to actually get the image, you have to go to that page and click the Download link.

I have created a PR (https://github.com/dotnet/docs/pull/13804) that bypasses all this and links directl

[2019-08-11 14:09] RudolfJan opened #13805 "Missing a working example"
I would appreciate to see a working example here. It is a bit hard to put all code fragments at the right spot. Also using two unrelated examples is not very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63d74a1-0927-dc90-71dc-a1a3afe829f1
* Version Independent ID: c3fda648-bd5e-a753-212b-f98e871b94cb
* Cont

[2019-08-11 14:51] A7250AG opened #13806 "Issue with markdown link to GitHub repo on this page"
You can see the entire finished code in our [samples repo on GitHub](You can get the starter application on our samples repo on GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790425e-da4e-9a75-6a11-f72109ce8d6a
* Version Independent ID: 09298e41-8f5a-c3c3-a849-8de67f8efba1
* Content: [Safely update interfaces

[2019-08-11 21:19] caesar9319 opened #13810 "movie recommendation system based location"
How can I implement a recommendation system based location in C# based this form, calculate the similarity whether cosine or pearson and how to predict
And show for example 5 movies based on recommendation

[AB#1579020](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1579020)

[2019-08-11 21:24] caesar9319 commented on #13788
How can loadData more than one in training  trainingDataView such as "movie.csv , rating.csv , user.csv"

[2019-08-11 23:49] ComSpex opened #13811 "Superb!! This is what I've long wanted to do on my own since 25 more years ago."
Many customers of mine must have long wanted this to be realized much sooner.  However, I'm now turning 62 and almost retired as my every day is now almost like everybody's holiday ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12

[2019-08-12 03:49] Thraka opened #13813 "[desktop-guide wpf] Scrub+port the XAML-Services documentation"
Related to #10649

XAML services doc set is used a lot throughout the existing documentation. As the existing documentation is ported to the Desktop Guide, the XAML Services docset continues to be referenced.

- The XAML Services probably doesn't need the term ".NET Framework" should be replaced with ".NET" to make it generic.

Steps:

- [x] Move articles from Framework to Desktop-WPF (#16193)
- [

[2019-08-12 05:16] Thraka commented on #13787
Additionally, the difference between .NET Framework 4.6 vs 4.7 is that the default of ` ServicePointManager.SecurityProtocol` changed to a new value the causes .NET Framework to default to the OS and allow the OS to tell it what security protocol to use. To replicate the 4.6 behavior, set the application to explicitly use TLS 1.0-1.2

[code]

[2019-08-12 06:46] jozefizso commented on #13787
The obvious point here is to **not** set TLS protocol versions in the application. How the application will support TLS 1.3 this way??

[2019-08-12 06:48] jozefizso commented on #13787
This is a real breaking change which makes applications to silently switch to insecure TLS protocol just by re-targeting to .NET 4.7.1.

[2019-08-12 06:49] jozefizso commented on #4675
@david1995 so what happens if we install support for TLS 1.3 on Windows 7/8/10?

The default protocol is TLS 1.0, 1.2, 1.2 respectively and supported will be 1.3, 1.3, 1.3. Yet with this behavior, .NET will choose TLS 1.0, 1.2, 1.2

[2019-08-12 08:10] jozefizso commented on #13787
This is **false** - .NET 4.7.x app will **ignore** supported TLS protocols and it will connect **only** using the default protocol.

[2019-08-12 10:08] mol opened #13818 "IndexOutOfRangeException in MessageSecurityOverHttpElement when creating WCF client from service reference"
I have a normal WCF service reference created using 'Add Service Reference' in an application used by thousands of people.

An instance of the client is created using `new MyServiceClient()` and it works 99% of the time, but for some users it can fail with an `IndexOutOfRangeException`. I have been unable to reproduce, but from my error reports it seems it might only happen when the application is

[2019-08-12 12:19] aubiyko opened #13820 "WCF Peer Channel is obsolete"
Apparently, WCF Peer Channel ([NetPeerTcpBinding](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.netpeertcpbinding?view=netframework-4.8) and related) is obsolete. I think this should be mentioned somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2007482-e488-432e-341d-35f475941487
* Version I

[2019-08-12 13:33] markus27183 opened #13821 "missing function definitions"
It would help if you provided function definitions since this doens't compile. e.g. FryEggsAsync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us

[2019-08-12 15:40] #6803 closed

[2019-08-12 16:10] #13806 closed

[2019-08-12 19:08] thepirat000 opened #13822 "Throwing exceptions on IDisposable.Dispose"
So you throw exceptions on Dispose, even when you recommend not to do that: _A System.IDisposable.Dispose method should not throw an exception_ ?
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1065-do-not-raise-exceptions-in-unexpected-locations?view=vs-2019#dispose-methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-08-12 19:18] terrajobst commented on #11994
The idea is to offer a Boolean API that allows you write code that checks for that up front. For example, ideally `Registry` would have a static Boolean property `IsSupported` so you can avoid having to catch the exception or (worse) trying to do the check yourself (like checking for the OS). I'll submit a PR.

[2019-08-12 19:34] terrajobst commented on #11994
Submitted #13824 to address this.

[2019-08-12 19:55] #13764 closed

[2019-08-12 20:58] rpetrusha commented on #13469
This time my edits should be here, although they're minor, @bartonjs.

[2019-08-12 21:25] BillWagner commented on #13391
I'm going to close this, as the table is the best information.

[2019-08-12 21:25] #13391 closed

[2019-08-12 21:28] BillWagner commented on #13511
Ping @jcouv

Are there optimizations in place for the behavior described above?

I'm hesitant to update this article *unless* those optimizations are something we want to guarantee in future versions. Thoughts?

[2019-08-12 21:29] BillWagner commented on #13537
Thanks for spotting this and reporting it.

I've added it to our backlog to fix when we next update this article.

[2019-08-12 21:29] Thraka commented on #13705
Hello! Thank you for opening this issue. Can you tell me what version of Visual Studio you're using? Can you attach some screenshots

[2019-08-12 21:47] jcouv commented on #13511
Tagging @rikkigibson

[2019-08-12 21:47] mairaw commented on #13810
This seems a question regarding ML.NET. @natke can you take a look?

[2019-08-12 21:52] Thraka commented on #13805
Thank you for opening this issue. I'll add it to the backlog. We're currently reworking a lot of WPF content for .NET Core WPF and this is something we can look at when we get to data. I'm afraid this won't be anytime soon but the feedback is valuable. Thanks again.

Thanks again!

[2019-08-12 21:53] RikkiGibson commented on #13511
https://github.com/dotnet/csharplang/blob/1f8c618f4ba42e8962bd1acb5f18bf36c2c550a1/proposals/csharp-8.0/readonly-instance-members.md

This only applies when the project is built with C# 8 or later. Perhaps we should also revise the spec to be clear about this.

[2019-08-12 21:54] mairaw commented on #13805
The article has a link to the [Sorting and Filtering Items in a View Sample](https://go.microsoft.com/fwlink/?LinkID=160040) that shows the first complete sample. The second one would be at https://github.com/microsoft/WPF-Samples/tree/master/Sample%20Applications/DataBindingDemo.

[2019-08-12 21:55] natke commented on #13810
Hi @caesar9319, can you provide us a little more information about what you are trying to achieve? Have you looked at the movie recommender tutorial? https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/movie-recommendation

[2019-08-12 22:03] mairaw commented on #13578
Yes, you need Visual Studio to develop WinForms applications. It's been available for many versions of Visual Studio if you want to use .NET Framework for your development. We're revisiting the WinForms documentation for the next release of .NET Core, so the prerequisites should be made more clear as well as having better get started materials.

For new development though, we do recommend that peo

[2019-08-12 22:06] mairaw commented on #13566
As the article states in the introduction:
"Visual Basic does not allow you to author methods with reference return values, but it does allow you to consume reference return values. "

So there's no VB equivalent for that.

[2019-08-12 22:06] #13566 closed

[2019-08-12 22:07] Thraka commented on #13752
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-12 22:15] mairaw commented on #13818
Thanks for your feedback @mol but what you're describing seems like a product issue. Please report products bugs at https://developercommunity.visualstudio.com/spaces/61/index.html.

[2019-08-12 22:15] #13818 closed

[2019-08-12 22:15] mairaw commented on #13795
Does your PR closes this issue or is there more @ghogen?

[2019-08-12 22:18] mairaw commented on #13352
The only article I found that had such a section was a ML.NET one @natke. So I've added the article details here.

[2019-08-12 22:18] rpetrusha commented on #13762
Thanks, @agaures, for pointing out these issues with the example. We've opened dotnet/samples#1156 to address them.

[2019-08-12 22:25] ghogen commented on #13795
I would like to keep this open until we rebuild the book and verify that our fix worked.

[2019-08-12 22:34] Thraka commented on #12994
Correct, PowerShell will match a partial parameters as long as it can only resolve to a single parameter.

[2019-08-12 23:15] mairaw commented on #13340
@kburgoyne a .NET Core dependency would be called "NETCoreApp" like you can see in the following package: https://www.nuget.org/packages/System.IO.Pipelines/

As shown in the following article:
https://docs.microsoft.com/en-us/dotnet/standard/frameworks#supported-target-framework-versions, netcore50 represents UWP. I don't know the reasoning behind these naming conventions. Perhaps @terrajobst or

[2019-08-12 23:26] mairaw commented on #13279
@MashaMSFT sorry for the delay but I don't know how the SQL Server .NET SDK process works.

You can find the right repo and source file by right clicking any Docs article and viewing source. The original_content_git_url metadata value will contain the location. Now whether this is hand-authored or self-generated I can't tell. We first need to find the owner to tell us that.

[2019-08-13 00:10] BillWagner commented on #13683
@gojanpaolo I tested the project with the latest VS 2019 build, and it works for me. Did you install the MakeConst analyzer as an add in? Or did you try the debug option to launch a second VS instance?

[2019-08-13 00:12] BillWagner commented on #13686
Thanks for spotting this and writing the issue. I have added this to our milestone / project so that it will be done by the time C# 8 ships in its final form.

[2019-08-13 00:14] #13279 closed

[2019-08-13 00:18] #11841 closed

[2019-08-13 00:21] BillWagner commented on #13720
Thanks for spotting this and creating the issue @cremor

In addition, a new page should be added in the language reference section for [generic constraint keywords](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/where-generic-type-constraint)

[2019-08-13 00:23] mairaw commented on #13388
Thank you for your feedback @zecarlos2000. I've added this to our backlog.

If anyone wants to fix this, the source files are located at:
https://github.com/dotnet/samples/blob/master/snippets/winforms/thread-safe/example1/cs/form1.cs
https://github.com/dotnet/samples/blob/master/snippets/winforms/thread-safe/example1/vb/form1.vb

[2019-08-13 00:25] BillWagner commented on #13740
Thanks for creating this. I've added it to our backlog for the next update to this article.

[2019-08-13 00:25] mairaw commented on #9193
Thanks for your feedback @maryob77062. This article has been update in PR #10761 so this section no longer exists. If you continue to have issues with this article, please open a new issue for us to investigate.

[2019-08-13 00:25] #9193 closed

[2019-08-13 00:32] BillWagner commented on #13757
Thanks for writing this @JustAnotherG  We should update this for a better sample.

The purpose is to demonstrate that delegates can be created from static methods or instance methods. A better instance method should be used for this example.

I've added it to our backlog for the next update to this article.

[2019-08-13 00:41] eugenern opened #13826 "Formatting of "this" in Indexers section"
It may make sense for the word "this" in the sentence "An indexer is declared like a property except that the name of the member is this followed by…" to be formatted as code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8181f41d-b6ce-ad66-084e-8d2b514b87e2
* Version Independent ID: 494c4344-b752-4f86-5b66-1ef4b81c1e

[2019-08-13 00:43] mairaw commented on #13749
@rainersigwald @livarcocc can you help with this question about dotnet test?

[2019-08-13 00:46] mairaw commented on #13505
This sounds like a product bug and not a content issue @divyarahavan. This repository is only about feedback for content hosted under https://docs.microsoft.com/en-us/dotnet/.

Product bugs should be filed under https://developercommunity.visualstudio.com/spaces/61/index.html.

[2019-08-13 00:46] #13505 closed

[2019-08-13 00:56] mairaw commented on #13238
Hello! Thanks for contacting us @sandyaveas. This sounds like a general question about Windows Services. While we try to look at and respond to all issues, for questions like this we recommend posting to a community support group like [Stack Overflow](https://stackoverflow.com).

[2019-08-13 00:56] #13238 closed

[2019-08-13 01:03] BillWagner commented on #13769
We can improve this example, we do want to keep it small and focused.

I've added this to our backlog for when we next update this topic.

[2019-08-13 01:04] BillWagner commented on #13811
Thank you for the compliments.

Closing as kudos.

[2019-08-13 01:04] #13811 closed

[2019-08-13 01:07] mairaw commented on #13033
Hello @hiskensullivan! Thanks for creating an issue. Even though you have specifically asked us not to reference another issue and we try to answer all issues, this repo is not really for asking support or general .NET Core questions.

A few pointers that are related to your problem that could help you:
https://stackoverflow.com/questions/53720678/netsdk1061-the-project-was-restored-using-microsof

[2019-08-13 01:07] #13033 closed

[2019-08-13 01:08] kburgoyne commented on #13340
@mairaw -- Thanks for the links. Those will also likely be useful for anyone finding their way to this thread in the future.

For myself, my intention was just to provide examples to show why some kind of centralized cross-referencing is needed.  Superficially at least, it seems like these cross-references could be expressed and maintained within a tiny SQL database, and then a web page created wh

[2019-08-13 01:09] BillWagner commented on #13821
All the code is in our [samples repository](https://github.com/dotnet/samples/tree/master/snippets/csharp/tour-of-async)

Can you tell me which version doesn't compile? It would if it matches the samples repository.

[2019-08-13 01:12] BillWagner commented on #13826
Thanks for pointing this out @eugenern

I've created #13827 to fix this issue.

[2019-08-13 01:15] mairaw commented on #13821
@BillWagner my interpretation of this is that @markus27183 is asking to see the FryEggsAsync definition like declared at https://github.com/dotnet/samples/blob/master/snippets/csharp/tour-of-async/AsyncBreakfast-V3/Program.cs#L73 or https://github.com/dotnet/samples/blob/master/snippets/csharp/tour-of-async/AsyncBreakfast-final/Program.cs#L84.

Not sure if this implementation is not show on purpos

[2019-08-13 01:21] #13826 closed

[2019-08-13 01:41] hiskensullivan commented on #13033
Hi @mairaw, thanks for getting back to me. Apologies, I didn't know you had to be a member to raise an issue. For anyone who might read this having a similar issue, I managed to get it built with a  repair of the .net framework and set the runtimeframeworkversion to <RuntimeFrameworkVersion>2.1.0</RuntimeFrameworkVersion> and ensured I had 2.2.104 SDK installed!

Doesn't sound like a buggy or wonk

[2019-08-13 07:07] mairaw commented on #13033
No, you don't have to be a member at all! But unfortunately we have limited resources and can't help diagnose product issues.

But I'm glad to heard you fixed your issue!

[2019-08-13 07:16] mairaw commented on #13795
Sounds good! 👍

[2019-08-13 07:25] #8225 closed

[2019-08-13 07:25] gmanvel commented on #13511
@RikkiGibson thanks for reference. From what I understand it applies to projects built with C# 8 or later, I can see this behavior in the .NET Core 2.1 project built with C# 7.3.

Reproducible code in [sharplab.io.](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAmARgFgAofAAhwIHZSBvU8pyggNkoBZyBZCNAOwAUVAAwBtALrkICAOZQAlKQCQDEsw3kAbjPIAHAPYCYBcgF5y/OAHceAVxgRgGOAAUj/GAGYAIoJFI5AFBCgDcjJpMOgj6

[2019-08-13 09:51] willemgons commented on #9142
The writing of a WCF Service / Client combination and local testing is EASY. Then come the ifs and buts. In our case we have 4 servers carrying approx 60 client webs and Databases in total. This is the first time that we decided to write WCF to publish only to those IIS / Server combinations that needed it. Typing endpoints is NOT the answer. The answer is probably in adding the config items into

[2019-08-13 10:48] svick commented on #13511
@gmanvel As I understand it, the copy is avoided if the *struct* was compiled using C# 8.0.

E.g.:

[code]

If I compile lib with C# 8.0 and app with C# 7.3, the IL for `M` is:

[code]

If I compile lib with C# 7.3 and app with C# 8.0, the IL is:

[code]

Maybe that's the situation you're in? If not, can you provide repro code? (SharpLab master uses C# 8.0, so that doesn't count.)

[2019-08-13 12:02] LambertWM opened #13830 "Confusing text"
The phrases "a delegate from the main thread" and "a delegate created in the main thread" are confusing, and incorrect : in the example, the "SafeCallDelegate" delegate is not created the main thread, but on the thread that is created in the "click" handler)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7944fe-6db1-

[2019-08-13 12:05] gmanvel commented on #13511
@svick no, not the same situation.

To reproduce:
Visual Studio Professional 2019 (version 16.1.6)
Create a new .NET Core 2.1 console application, set language to 7.3 (Project Properties -> Build -> Advanced -> Language version: C# 7.3)

[code]

Generated IL I see (for _Release_ build):
[code]

![screenshot](https://user-images.githubusercontent.com/11509911/62940127-28b1c980-bdd3-11e9-9b7e-1408c9

[2019-08-13 13:15] svick commented on #13511
@gmanvel Ok, I can reproduce that with Roslyn 3.1.0 (which is the version used by VS 16.1), but not in Roslyn 3.2.0 (which is used by VS 16.2).

As far as I can tell, this is a bug that was fixed by @RikkiGibson in https://github.com/dotnet/roslyn/pull/35213. If you want to see the correct behavior, you should update your version of Visual Studio.

[2019-08-13 13:48] dgbrown opened #13831 "/namespace flag references fix for name collisions but I'm confused"
The description for the /namespace flag says "To make sure that the message contract name does not collide with operation name, you should either qualify the type reference with ::, or make sure the names are unique." but I don't understand how/where I'd qualify the type reference. Do you mean in the WSDL? What if its outside of my control? Do you mean to edit the proxy after its been generated? I

[2019-08-13 13:53] gmanvel commented on #13511
@svick thank you, updating VS now shows the correct behavior.
Closing the ticket.

[2019-08-13 13:53] #13511 closed

[2019-08-13 14:48] bartonjs commented on #13469
LGTM

[2019-08-13 15:05] bartonjs opened #13832 "Better argument validation in the Pkcs8PrivateKeyInfo constructor"
## Better argument validation in the Pkcs8PrivateKeyInfo constructor

Before .NET Core 3.0 Preview 9 the `Pkcs8PrivateKeyInfo` constructor did not validate the `algorithmParameters` parameter.  When this parameter represented an invalid value the constructor would succeed, but a call to any of the `Encode`, `TryEncode`, `Encrypt`, or `TryEncrypt` methods would throw either an `ArgumentException` f

[2019-08-13 15:37] mol commented on #13818
I feel like if this was a Visual Studio issue it wouldn't work 99% of the time. The race condition has to be in .NET in relation to Windows, but I reported it here and then we'll see:
https://developercommunity.visualstudio.com/content/problem/692599/indexoutofrangeexception-in-messagesecurityoverhtt.html

[2019-08-13 15:45] rainersigwald commented on #13749
There is a way to [escape](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-escape-special-characters-in-msbuild?view=vs-2019) the comma in MSBuild command-line property definitions: replace it with `%2C`.

[code]

It would be nice if `dotnet test` did this automatically when handling the `--filter` argument. I filed dotnet/cli#12233 to track that.

[2019-08-13 17:45] #13762 closed

[2019-08-13 18:15] Lemmingh commented on #9889
## What I've found

I found the following RIDs in the [`runtime.json`](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json)

* `android`
* `android-arm`
* `android-arm64`
* `android.21`
* `android.21-arm`
* `android.21-arm64`

They were added at *125bc42* by merging pull request dotnet/corefx#16729 on 2017-03-07.
They were last modified at *81ba628* by merging

[2019-08-13 18:38] #11994 closed

[2019-08-13 19:38] BillWagner commented on #13423
Fixed in #13659

[2019-08-13 19:38] #13423 closed

[2019-08-13 19:40] BillWagner commented on #13417
Fixed in #13659

[2019-08-13 19:40] #13417 closed

[2019-08-13 19:42] BillWagner opened #13838 "Cover readonly members"
This will affect the `readonly` reference page, and the articles that relate to passing `struct` arguments by `ref` or `in`.

[2019-08-13 20:59] #13696 closed

[2019-08-13 21:00] marian-margeta opened #13840 "Disable default executables"
Is there any option to disable 'default executables' feature? `dotent build` and `dotnet publish` produces an executable that matches the platform of the SDK. But I build projects on Windows and run on Linux, thus such executables are useless and quite large.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb

[2019-08-13 22:09] itowlson opened #13841 "`readonly set` example is a confusing practice"
The following example confused a colleague:

[code]

The mutation of the contents of the `_store` member is certainly legal, because the `_store` reference itself is not changed.  But there is a sense in which a setter like this is changing the _content_ (value) of the object.  I would suggest:

1. A bit of explanatory text explaining why it is legal for a `readonly` member to call a mutating meth

[2019-08-13 23:12] terrajobst commented on #13340
`netcore50` was a very unfortuanted naming convention that originated before we launched .NET Core 1.0. `netcore45` was the API surface for UWP in Windows 8.

@kburgoyne is it fair to say that your issue is mostly about UWP and now it maps to .NET Core then?

[2019-08-14 00:51] domingoladron opened #13842 "Provide details on docker and docker-compose version compatibility"
[Enter feedback here]
While I love the page, I also feel it could benefit from more concrete definition (or a link to said definition) of what versions of Docker and docker-compse are compatible with VS 2017 and VS 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf20f50-2d15-1744-386d-1d05ff9931fb
* Version Indepe

[2019-08-14 06:08] willemgons commented on #9142
Turns out that the correct answer for us is to use web.config transforms.

[2019-08-14 14:17] kburgoyne commented on #13340
@terrajobst -- I'm just trying to suggest that a cross-reference web page documenting the relationships between standards versions, package versions, etc, for the various platforms would be very useful for developers.  See my comment above.

[2019-08-14 16:30] Thraka commented on #13841
FYI @BillWagner this article isn't in the TOC.

[2019-08-14 16:43] rpetrusha commented on #13840
Thanks for your question, @marian-margeta. You'll find the information that you need to target Linux only in the [.NET Core application deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/) article.

[2019-08-14 16:44] #13840 closed

[2019-08-14 16:44] SittenSpynne opened #13850 "Point out this only serves users of the MS DI container or ASP .NET Core."
The only way to configure HttpClientFactory is through the MS DI container. If you are using any other DI container, that container is forced to support the MS DI container infrastructure or there is no way for you to use IHttpClientFactory yourself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b57

[2019-08-14 16:45] SittenSpynne commented on #13850
Documentation around the type frequently says it's for ".NET Core applications" but it specifically means ".NET Core applications that specifically use the Microsoft DI container."

[2019-08-14 18:47] marian-margeta commented on #13840
But I don't want to target Linux only. I want to keep it cross-platform but publish it without additional executable. In [this](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0) documentation, there is a following paragraph:

I'd like to keep previous behavior, especially for `dotnet publish`. Because now - in dotnet core 3.0, two executables are generated - dll that is cross

[2019-08-14 21:20] terrajobst commented on #13340
Since .NET Core 2.0/.NET Standard 2.0 we've removed the platform packages from the developer experience (they are implied). Projects shouldn't explicitly reference of them.

UWP is the outlier because their version of .NET Core (.NET Native) has snapped to an earlier build environment where these features still don't exist, hence my question.

[2019-08-14 21:40] Thraka commented on #13830
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-14 21:45] Thraka commented on #13820
Thank you for opening this issue. I'll add it to the backlog.

@HongGit Perhaps you guys want to add something in here about it? Also, the https://docs.microsoft.com/en-us/dotnet/framework/wcf/system-provided-bindings section probably needs an update. I'll set this as P2 and put it on the backlog for when you have cycles to update this documentation.

[2019-08-15 13:13] BillWagner commented on #13841
I'll handle this as part of the project to update and publish the remaining C# 8 specs.

[2019-08-15 15:00] JaimeStill commented on #13710
I just finished going through it, and would agree with @jack0x539. When I hit the `DrawBoundingBox` method in **Program.cs**, I immediately skipped to building out things in this order:

* `YoloParser` infrastructure
* `OnnxModelScorer`

Once I had all of this in place, all of the logic defined in `Program` was available and made more sense.

[2019-08-15 18:24] mikewesthad opened #13863 "Broken link"
Looks like the link for Custom Radial Panel Sample (https://archive.msdn.microsoft.com/Project/Download/FileDownload.aspx?ProjectName=wpfsamples&DownloadId=7785) is broken. A quick Google for "Custom Radial Panel Sample" didn't turn up any msdn links that looked like the correct link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-15 21:16] ghost opened #13864 "Debian / Raspbian dependencies"
Hi,

The following section could be added to the Linux distribution dependencies part. The dependencies are very similar but not the same as the Ubuntu ones. The Raspberry Pi (with Raspbian, based on Debian) is also great for running .NET Core.

While I think placing the codename behind the version (jessie, stretch & buster) makes it a bit ugly/crowded, it makes it easier to identify the correct v

[2019-08-15 22:01] dagood opened #19271 "Move explanation of host MSI always copying files to default location into a referenceable doc"
This description is useful, but not easy to find or point people to. It should live in a Markdown file or something:

https://github.com/dotnet/core-setup/blob/e8cef8ea52a98092cc3c4fc252e611d88be29222/src/pkg/projects/Microsoft.NETCore.DotNetHost/host.wxs#L10-L21

[2019-08-16 00:52] pgpnw opened #13865 "Incorrect word used in article"
It's "modulo arithmetic", not "modulus arithmetic".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ed2fd25-d48c-103d-b813-e70c7ee620c9
* Version Independent ID: 96224599-fea8-90f7-17ae-b88bce79e7de
* Content: [Operator Precedence in Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/

[2019-08-16 00:55] pgpnw commented on #13865
... or perhaps even more correctly: "modular arithmetic"!

[2019-08-16 07:43] cypressious opened #13868 "`readonly ref` is written as `ref readonly` multiple times"
According to Visual Studio 2019, `ref readonly struct` does not compile, only `readonly ref struct`.

![grafik](https://user-images.githubusercontent.com/1191816/63151565-153c7380-c00a-11e9-9325-6a897a2f8595.png)

The documentation contains multiple instances of `ref readonly`, they should probably be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-08-16 08:53] DrEight commented on #13352
@mairaw  sorry I opened the git ticket from the documentation page and I thought that the reference was added automatically.
Yes the article is the one you added.

[2019-08-16 11:20] nfnpmc opened #13869 "Other Estimators and trainers"
Any thing other than mlContext.Regression.Trainers?
Give us a clue.

[AB#1579020](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1579020)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 784daf15-838b-a41d-98f3-779ac307745f
* Version Independent ID: ddc8c98a-f8f8-f35b-0677-4c8f77c54236
*

[2019-08-16 11:25] M-Lipin opened #13870 "WinForms Accessibility Documentation"
**WinForms Accessibility Documentation needs to be added**

- Need to add the description of new accessibility features, behavior changes and improvements added to .NET Core 3.0 WinForms.
- At this moment there is a documentation about WinForms Accessibility features compatibility in https://github.com/microsoft/dotnet/tree/master/Documentation/compatibility documents regarding changes in .NET Fra

[2019-08-16 12:07] svick commented on #13868
You're right. Do you want to submit a Pull Request to fix this issue? (You can use the Edit button to make that easier, if you want to.)

[2019-08-16 13:10] cypressious commented on #13868
@svick done

[2019-08-16 14:54] luisquintanilla commented on #13869
Hi @nfnpmc ,

Thank you for your question. Regression is just one of the many model types supported by ML.NET. This sample is illustrating how to load / save models which is supported by the other model types. You may find the following resources helpful:

https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-choose-an-ml-net-algorithm

https://docs.microsoft.com/en-us/dotnet/api/microso

[2019-08-16 14:54] #13869 closed

[2019-08-16 15:04] luisquintanilla commented on #13800
Hi @jwood803 ,

Thanks for the feedback. No missing code. This was done to leave it up to the user to load the data in whichever manner they prefer (file, from enumerable) although I can see how the wording can be confusing. Closing this issue and opening a new one to address similar language across the how-to guides to provide clarity.

[2019-08-16 15:04] #13800 closed

[2019-08-16 15:07] luisquintanilla opened #13873 "Clarify Load IDataView language in how-to guides"
Follow-up from #13800 .

Current language to load data in how-to guides may be confusing. Clarify this is only sample data that the user can load from a source of their choosing.

[AB#1579020](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1579020)

[2019-08-16 15:09] luisquintanilla commented on #13710
Thanks for the additional feedback @JaimeStill . That makes sense. We'll take that feedback and re-work the ordering to make it flow smoother.

[2019-08-16 16:48] lostmsu opened #13874 "Does ConfigureAwait(false) make sense for async streams?"
The examples with `await foreach` do not show if `ConfigureAwait` can be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What's New in C# 8.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/wh

[2019-08-16 17:10] #13868 closed

[2019-08-16 17:15] ianfallon opened #13875 "Intermittent "An existing connection was forcibly closed by the remote host""
I'm using this example code as the basis for a very simple client - server socket application (64 bit .NET Framework v4.6.1, C#) but I am seeing intermittent exceptions from the BeginSend() call.

I have been looking at the thread IDs of the handling code. The only pattern of failure I can see is it appears to fail if the async socket handling ends up handling a 2nd message on the _same_ thread ra

[2019-08-16 18:13] taquion87 opened #13877 "No info about ref extension methods"
There is no info here about the new feature regarding ref extension methods for structs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f86ebf5-b5c0-324a-43df-c17015729d01
* Version Independent ID: 8ce4ad4a-3dbd-42dc-bae3-230900097299
* Content: [What's new in C# 7.2](https://docs.microsoft.com/en-us/dotnet/csharp/what

[2019-08-16 18:22] pcleckler opened #13878 "Example Logic Error"
Variable "students2" is ever used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e35585-87f4-f2da-1aa3-5a6b2182f45e
* Version Independent ID: d9b333b1-7e9b-2efe-3284-43ad82826820
* Content: [How to initialize a dictionary with a collection initializer - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/c

[2019-08-16 19:02] nfnpmc commented on #13869
Hi Luis,Thanks for your prompt response.I guess I wasn't very specific. I was looking at
Working with separate data preparation and model pipelines
My estimator chain (called pipline) is for a Tensorflow model and if I doTransformerChain<Microsoft.ML.Transforms.KeyToValueMappingTransformer> transformer = pipeline.Fit(data);I think I end up with a trained model (transformer )?
If not and I wanted t

[2019-08-16 19:24] bamurtaugh opened #13880 "Missing ML Tasks"
This page should include all the ML tasks supported by ML.NET. For instance, Time Series, Anomaly Detection.

[AB#1596627](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596627)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd15175c-5b7d-4310-ecf5-32ffc7bc588b
* Version Independent I

[2019-08-16 22:11] DavidHogue opened #13883 "Meta description typo"
The meta description doesn't match the content of the page. When I paste the link into Slack for example, I see this typo: "Data sovereignty per microservice is one of the kay point of microservices."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81283b66-f8c6-4d93-73c8-551e1681f51e
* Version Independent ID: c637cf8d-

[2019-08-16 22:17] rladuca opened #13884 "Update documentation related to CSPROJ Format to Include WPF Default Items"
Updates for the following document:
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects

There need to be a new section for WPF projects on .NET Core.  In this section, we should expose the default items specific to WPF and what switches control them.

In the same vein as the `Default compilation includes .NET Core projects` section, probably

[2019-08-16 22:30] mairaw commented on #13883
Thank you for your feedback @DavidHogue. I've opened PR #13885 to fix this.

[2019-08-16 22:50] JaimeStill opened #13886 "Serve Model in ASP.NET Core Web API - PowerShell Body Correction"
In the [Serve a Model in ASP.NET Core Web API](https://github.com/dotnet/docs/blob/master/docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md) doc, the property set in the `-Body` argument of the PowerShell command should be `SentimentText`, not `Text`.

[code]

Sending the above as `Text` populates `null` into the `SentimentText` property of the serialized `SentimentData` object, wh

[2019-08-16 23:55] #13883 closed

[2019-08-17 08:01] TeddyAlbina commented on #6361
Code contract was a killer feature.

[2019-08-17 08:28] mwwhited commented on #6361
Should be even easier with Roslyn... still a shame we didn’t get the compiler pipeline.

[2019-08-17 16:10] rpetrusha opened #13893 "Need to create a Windows Forms guide for .NET Core"
## Need to create a Windows Forms guide for .NET Core

Currently, we don't have a place for .NET Core-specific content related to Windows Forms. One should be created. There are several existing candidates for inclusion:
- [Accessibility improvements in Windows Forms controls for .NET Core 3.0](https://github.com/dotnet/docs/blob/master/docs/framework/winforms/windows-forms-accessibility-improveme

[2019-08-17 18:37] nfnpmc opened #13895 "Copy and paste with a shotgun"
Would it be possible to put this page in the correct order?
For instance, in "Create a display utility method", there is a sentence
"The Transform() method populated ImagePath in ImagePrediction along with the predicted fields."
We have, at that point, not seen the Transform() method, nor ImagePrediction.
This is not about the sentence in particular, but the whole structure(sic) of the page, which

[2019-08-17 21:43] MiguelSilva96 commented on #13388
Hi, I will fix this :)

[2019-08-17 23:39] jwood803 opened #13898 "Error when retraining model"
When calling the `Fit` method with the original model parameters to retrain a model, I get the below error message. I'm not quite sure if I did something incorrect to cause this or if it is from something else.

[code]

I did have to use the `LinearModelParameters` when casting the `Model` parameter on the loaded model file. This was because, if casting as `LinearRegressionModelParameters`, it wou

[2019-08-18 09:02] valakiBF opened #13903 "Function list incomplete"
There are additional string functions in the String module (class)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b539a9b-fd9c-f976-39eb-f9ec93af4577
* Version Independent ID: e31c7343-4126-81b8-b976-5b7bb7d81a39
* Content: [String Functions (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-basic/language

[2019-08-18 13:50] MV10 commented on #6050
It's correct. This isn't synchronous code you're looking at. The use of `Task.Run` means it'll execute on another thread, so while the download operation is running, the console will display the prompt to cancel, and as long as the download is still in progress the user can interrupt it. Once the download is completed, there isn't anything left to cancel, so you'd want to unregister it.

[2019-08-18 14:58] robloo opened #13906 "Article doesn't follow important event conventions"
Please implement the requirements from your other article https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event in this one. This article does not follow a few important conventions.

The problem starts in the first code snipped below. This has the name "On"EventRaised which should NOT be for the delegate "On" SHOULD be for the protected virtual method to raise each event.

[cod

[2019-08-18 15:00] robloo commented on #10852
I've made a new issue as well. This article does not follow the event conventions in .net (links below). The delegate name is very misleading and events are invoked directly instead of used an "OnFileFound" method for derived classes.

https://docs.microsoft.com/en-us/dotnet/standard/events/
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/event

[2019-08-18 16:53] bacar commented on #6050
This is very much my point - the `DownloadStringAsync` is _not_ awaited so it’s possible - maybe even likely - that the download has not even begun, let alone completed, before the callback is unregistered.

[2019-08-18 18:44] MV10 commented on #6050
Ah, good point!

[2019-08-19 01:51] heatherzurek opened #13907 "Missing variable assignment"
In your completed code showing ExploreIf(), c is never assigned a value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1138d70-1d83-a7e5-8549-72bf80dc5834
* Version Independent ID: 0811beda-ff7e-353a-aeb2-6bebe8947bcf
* Content: [Branches and loops - Introduction to C# tutorial](https://docs.microsoft.com/en-us/dotne

[2019-08-19 02:10] heatherzurek opened #13908 "Missing data type"
The do .. while loop is missing the int on counter, its shown as counter = 0; but should be int counter = 0;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1138d70-1d83-a7e5-8549-72bf80dc5834
* Version Independent ID: 0811beda-ff7e-353a-aeb2-6bebe8947bcf
* Content: [Branches and loops - Introduction to C# tutorial](ht

[2019-08-19 12:33] Youssef1313 commented on #13908
I've opened a PR https://github.com/dotnet/docs/pull/13911 for that.

[2019-08-19 12:43] Youssef1313 opened #13912 "ByVal in VB samples"
I think specifying `ByVal` for method arguments makes the code look noisy. It will be much cleaner to write:

[code]
instead of:

[code]

There are many code samples I've seen so far that has `ByVal` specified for method arguments.
Should you consider updating these samples ?

[2019-08-19 14:12] #13878 closed

[2019-08-19 14:54] BenjaminCharlton opened #13914 "Please document the correct procedures for using C# 8's non-nullable reference types in EntityFramework and IOptions"
I was reading about the C# 8 language feature that allows you to specify whether a reference type variable expects null values or not, right here:

https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/upgrade-to-nullable-references

I liked the idea of getting compile-time warnings based on whether a type was intended to be nullable or not. I immediately started migrating my projects to C# 8 a

[2019-08-19 15:27] #13908 closed

[2019-08-19 15:27] #13907 closed

[2019-08-19 15:42] #13388 closed

[2019-08-19 15:57] Adriien-M commented on #10149
I'm creating dynamic assemblies too but they are never collected...
I tried this very simple example in a test project, it doesn't work either:
[code]
Indeed the `WeakReference` is still alive...
@JiriCepelkaFirstLineSoftware did you solved this issue or is it a bug from .NET Core?
I saw that a class AssemblyLoadContext exists however, it is not possible to create a dynamic assembly elsewhere that

[2019-08-19 16:08] fivepoint-0 commented on #6655
Can an example be put on the page? How do I invoke the service properly? How do I know if my WSDL warnings will impact the service I'm implementing/invoking? I would feel more confident I'm doing things correctly for the first part of the implementation if there was information on utilizing an example sample service in code.

[2019-08-19 17:21] Thraka commented on #13864
@rowanmiller @richlander

You two know more about this than I, I think :) Can you comment?

[2019-08-19 17:36] gzinger commented on #12486
if output folder is specified for a solution all the outputs get dumped into that single folder. Previously, it would do each project into separate folder.

[2019-08-19 17:36] gzinger commented on #10127
yes, especially with the -output parameter

[2019-08-19 20:17] jlviveiros opened #13918 "Task<TResult> was replaced with Var ?"
No explanation given for this switch. And wanted to know the meaning of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/prog

[2019-08-19 20:30] nemrism commented on #9968
I think I've covered all the `~/docs/` links with those PRs.
Do you think it should be useful to replace other kind of `~/` links?

[2019-08-19 20:31] luisquintanilla commented on #13898
Hi @jwood803 ,

Thanks for your question. The model parameter type is dependent on the model that is being trained. Try changing `LinearModelParameters` to `PoissonRegressionModelParameters`. A good way to tell is by inspecting the [API documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.lbfgspoissonregressiontrainer?view=ml-dotnet).

This is the signature for the `Lbf

[2019-08-19 20:31] #13898 closed

[2019-08-19 21:01] rpetrusha opened #13921 "Migrating Code Gallery examples to the Samples Browser"
## Migrating Code Galley examples to the Samples Browser

At some future point, [Code Gallery](https://code.msdn.microsoft.com/) will be retired. Samples that I worth preserving should be migrated to the new [Samples Browser](https://docs.microsoft.com/samples/browse). This issue outlines the steps in the migration.

All samples should be migrated as **.NET Core applications** rather than .NET Fra

[2019-08-19 21:02] rpetrusha commented on #13921
//cc @KathleenDollard

[2019-08-19 21:08] rpetrusha commented on #13912
Since `ByVal` is the default, it doesn't have to be explicitly specified. I agree with you, @Youssef1313, that is noisy. It also has the unfortunate effect, in my experience, of causing the occasional `ByRef` keyword to be overlooked. So it would be useful to remove it.
I'll add this item to our backlog and the Community Contributor's project. If you're interested in removing ByVal from some or al

[2019-08-19 21:16] Thraka commented on #13893
@rpetrusha Issue #10648 is the planning issue for WinForms. Marked as on hold until the winforms designers are done.

[2019-08-19 21:41] rpetrusha commented on #13863
Thanks for pointing out the broken link, @mikewesthad. I can't find the example either, so I've opened #13924 to remove it.

[2019-08-19 21:49] mairaw commented on #13268
Is this related to .NET Core 3.0 @sdmaclea?

[2019-08-19 21:50] mairaw commented on #13267
Who could confirm this @sdmaclea?

[2019-08-19 21:51] mairaw commented on #13228
@JamesNK @terrajobst can you help with this feedback related to strong naming? Thanks!

[2019-08-19 21:53] Thraka commented on #13689
I believe so. Perhaps this explains it better?

[2019-08-19 21:54] JamesNK commented on #13228
All the information you should know is already in the article.

There are reason you should strong name, and some reason why you shouldn't. The end decision on strong naming up to you which is why the recommendation is **consider** rather than **should**.

[2019-08-19 21:58] Thraka commented on #13918
We try to program with var as much as possible to implicitly type the variable. For more information, see [Implicitly typed local variables](https://docs.microsoft.com/dotnet/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables).

[2019-08-19 21:59] Thraka commented on #13918
I hope this answers your question. If not, please let me know. Thanks.

[2019-08-19 21:59] #13918 closed

[2019-08-19 22:09] mairaw commented on #12189
I believe you're correct but I'm adding @Maoni0 to confirm this.

[2019-08-19 22:22] terrajobst commented on #13228
Yes.

[2019-08-19 22:23] terrajobst commented on #13228
@mairaw I'm open to suggestions on how we could make this clearer. I second @JamesNK comment that the guidance should be clear.

[2019-08-19 22:27] Thraka commented on #13535
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-19 22:36] yshpakov commented on #13749
We probably need to leave some comments or references about special characters limitation / escaping into existing Documentation online.

[2019-08-19 22:45] rowanmiller commented on #13864
+ @leecow

[2019-08-19 22:58] Maoni0 commented on #12189
correct

[2019-08-19 23:00] mikewesthad commented on #13863
@rpetrusha thanks!

[2019-08-19 23:00] #12189 closed

[2019-08-19 23:01] mairaw commented on #12189
Thanks @Maoni0!

[2019-08-19 23:25] jwood803 commented on #13898
Hey, @luisquintanilla. Thank you for the detailed reply! Casting to `PoissonRegressionModelParameters` was able to get the correct object. Unfortunately, during the below code to the `Fit` method, I still get the "Optimizer unable to proceed with loss function yielding Infinity" error.

[code]

Thanks for the help!

[2019-08-19 23:29] sdmaclea commented on #13267
@mairaw I didn't work on MetadataLoadContext.  I think it was in progress when I joined Microsoft. I was under the impression that Assembly.ReflectionOnlyLoadFrom wasn't supported on .NET Core. MetaDataLoadContext was preferred because it worked efficiently on all .NET Standard platforms. As we were working through the .NET Core 3.0 ApDomain replacement story I had assumed `MetaDataLoadContext` wa

[2019-08-19 23:34] sdmaclea commented on #13268
It was added orthogonal to .NET Core 3.0, but in my mind it was added to provide a portable solution for reflection only load.

@vitek-karas @jkotas Can you confirm?

[2019-08-20 01:57] NextTurn commented on #9968
Thanks a lot for your contributions @nemrism.

This issue could be better described as "Replace `~/docs` links". It is fine to close it when your PRs are merged.

[2019-08-20 02:10] jkotas commented on #13268
MetadataLoadContext is a new API added in .NET Core 3.0 wave. It is a netstandard NuGet package.

I agree that it would be a good idea to mention it in this doc topic.

[2019-08-20 02:15] jkotas commented on #13267
ReflectionOnlyLoadFrom is not supported in .NET Core. MetaDataLoadContext is the recommended replacement technology for ReflectionOnlyLoadFrom API in .NET Core.

[2019-08-20 02:25] mairaw commented on #9968
I changed the title then to cover that. Let's close this issue once all PRs are merged. Thank you so much @nemrism!

[2019-08-20 03:26] adjit commented on #13689
Yeah, I guess that makes more sense. Because you are using a different synch primitive it allows access to the resource in different ways that would not necessarily be allowed by a single primitive.

[2019-08-20 04:35] zspitz commented on #13745
The current sample shows LINQ to SQL. Would it make sense as part of the migration to add samples of LINQ to Entity Framework (Core or 6)?

Showing LINQ to EF with a provider other than SQL Server (SQLite? SQL Server CE?) would mean the samples don't require a full installation of SQL Server.

[2019-08-20 04:54] UweKeim opened #13932 "Approx. half of the linked user stories result in 404 errors"
Looking at the user stories/customer stories over at [dotnet.microsoft.com/platform/customers](https://dotnet.microsoft.com/platform/customers), I discovered that approx. half of them lead to 404 pages.

E. g.:

- https://customers.microsoft.com/story/stacked-for-speed
- https://customers.microsoft.com/story/age-of-ascent-an-ultra-mmo-game-powered-by-azure

and possibly others. They all end on a p

[2019-08-20 06:40] paul1956 commented on #13921
Looking for VB Samples to port and having trouble finding them, the link above takes you back to this page.

[2019-08-20 06:47] paul1956 commented on #13912
There should be a CodeFix for removing ByVal and there may be third party tools that can do it for a whole project.

[2019-08-20 08:13] centreboard commented on #13305
Could this statement about framework/core versions please be added to the text on the page?

[2019-08-20 08:42] marsti commented on #7366
Using: Windows 10 and WCF Test Client 16.0.28522.59 (Visual Studio 2019)

Still the same problem.

[2019-08-20 08:51] mohag commented on #12486
@gzinger I was kind of wondering about that... Haven't tested that, we mostly build the `.csproj`s directly...

[2019-08-20 09:00] Youssef1313 commented on #13912
@paul1956 , I thought of that. but I'm not sure if unintended removal could be done in an automated solution. For example, the ByVal article itself has a code example, `ByVal` should NOT be removed there.
I'm not sure if there could be other places where `ByVal` shouldn't be removed.

[2019-08-20 09:26] vitek-karas commented on #13267
`Assembly.ReflectionOnlyLoadFrom` will always throw on .NET Core. Is there a way to make this document show different content based on selection of .NET Core versus .NET Framework - or do we simply add two sections explicitly stating the difference?

[2019-08-20 13:25] fleed commented on #11928
Running again in the same issues from an Azure DevOps pipeline. I would appreciate an update, at least understanding if it is a real problem or just an error from my side.

[2019-08-20 13:50] jlterheide opened #13937 "Language version Visual Studio 2017-2019"
The default has changed from latestMinor to latestMajor in VS 2019. This is a breaking change, Jenkins  build failed on c# 7.3 features.
If I change the version to 'latest major' in the project build properties the value in the project file is 'latestmajor' (note the lowercase 'm') but Jenkins recognizes neither casing.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-08-20 14:13] BillWagner opened #13939 "The 'Create Lists' tutorial doesn't specify import"
@google-mac commented on [Tue Aug 13 2019](https://github.com/dotnet/try/issues/371)

When going through the [Create Lists](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/list-collection?tutorial-step=1) tutorial, my code would not run until I added `using System.Collections.Generic` to the top of my file. This was not specified in the tutorial.

This error occurred in my

[2019-08-20 14:50] KalleOlaviNiemitalo opened #13940 "WCF StreamBodyWriter 4.0-4.5 retargeting change"
Please add the following to the list of migration issues.

If an implementation of `System.ServiceModel.Channels.BodyWriter.OnWriteBodyContents(XmlDictionaryWriter writer)` intends to output a stream, it must call `writer.WriteStartElement("Binary")`, `writer.WriteBase64(buffer, offset, count)`, and perhaps eventually `writer.WriteEndElement`. So the message body is conceptually XML `<Binary>…base

[2019-08-20 15:11] #3623 closed

[2019-08-20 15:37] CeciAc opened #13946 "Can not find the official download address of locbaml tool, the link inside is wrong!"
@jasonfint commented on [Tue Aug 20 2019](https://github.com/dotnet/docs.zh-cn/issues/435)

[Enter feedback here]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 72e544a8-3979-26ea-39fb-316eafa71cdb
* Version Independent ID: 5b84e3b3-e09f-be5d-8936-ed1ceb81203c
* Content: [如何：对应用程序进行本地化](https://docs.microsoft.com/zh-cn/dotnet/framework/wpf/advanced/how-to-localize-a

[2019-08-20 15:38] CeciAc commented on #13946
Hi team,
the reported link is also broken in the en-us version
(The comment was Machine translated from zh-CN)

[2019-08-20 15:44] luisquintanilla commented on #13886
Good catch @JaimeStill . Put in a PR for it and the changes should be reflected shortly. Thanks for bringing it up.

[2019-08-20 15:52] pkulikov commented on #13946
Fixed by #13934

[2019-08-20 16:20] KalleOlaviNiemitalo commented on #13940
A related Stack Overflow question: [Breaking change in class XmlWriterBackedStream with KB2901983](https://stackoverflow.com/questions/28068944/breaking-change-in-class-xmlwriterbackedstream-with-kb2901983)

It refers to [KB2901983: The Microsoft .NET Framework 4.5.2 for Windows and the corresponding language packs are available](https://support.microsoft.com/en-us/help/2901983/the-microsoft-net-f

[2019-08-20 17:09] paul1956 commented on #13912
A CodeFix only operates on "Code" and is smart enough to do the right thing, it can also be interactive.

[2019-08-20 17:13] the-Arioch opened #13949 "#pragma warning - what is the COMPLETE list of possible values for the third term?"
This page claims that there is only a binary choice of options

* #pragma warning disable NNNNN
* #pragma warning restore NNNNN

and there is no any other option for the third term neither given nor referenced outward.
So, the wording is that the choice is binary and no other options are allowed.

However https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references

In that article we also s

[2019-08-20 17:39] #13946 closed

[2019-08-20 17:40] stoksc opened #13951 "Why do you change the handler lifetime?"
The line in the first code block under the section "Configure a client with Polly’s Retry policy, in Startup" `.SetHandlerLifetime(TimeSpan.FromMinutes(5))  //Set lifetime to five minutes`, I'm not sure why it's needed. If it is, could there be a line explaining why, if not maybe remove it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-20 18:09] Thraka commented on #12486
@gzinger Please file a bug on the CLI code repo: https://github.com/dotnet/cli

[2019-08-20 18:41] #13689 closed

[2019-08-20 19:04] colin-higgins opened #13957 "IMetaDataAssemblyImport::FindAssembliesByName - Usable or deprecated?"
**Issue description**

Is the IMetaDataAssemblyImport::FindAssembliesByName method in a usable state or is it something that can't be relied on?
For context, this is on net45 and above that I have seen this behavior, but also netcore2.1

https://github.com/dotnet/docs/blob/master/docs/framework/unmanaged-api/metadata/imetadataassemblyimport-findassembliesbyname-method.md

In trying to call it in n

[2019-08-20 19:21] rpetrusha commented on #13921
The **To migrate** column of the [Code Gallery Migration project](https://github.com/dotnet/docs/projects/88) contains samples that we'd like to see migrated to the dotnet/samples repo, @paul1956.

[2019-08-20 21:23] #13267 closed

[2019-08-20 21:23] #13268 closed

[2019-08-20 21:32] #13886 closed

[2019-08-20 21:49] #13865 closed

[2019-08-20 21:56] #13863 closed

[2019-08-20 22:11] sdmaclea commented on #13157
I didn't move this as part of #13799, but they probably belong in the same place.

[2019-08-20 22:15] sdmaclea commented on #13169
I looked at this again. This doesn't seem important. Closing issue.

[2019-08-20 22:16] mairaw commented on #13884
I feel this is related to P0 backlog item to document all the csproj tags not just for WPF: https://github.com/dotnet/docs/issues/2642

@Thraka I wouldn't like to add any more content to this current page and instead start the work to document the SDK-style project reference as we previously discussed.

Make sure you set priorities and milestone here since you've assigned this to yourself already.

[2019-08-20 22:17] mairaw commented on #13884
But it's fine to add here in this topic the default glob values.

[2019-08-20 22:29] sdmaclea commented on #13153
This seems adequately documented

[2019-08-20 22:29] #13153 closed

[2019-08-20 22:31] mairaw commented on #13169
Reopening since we do need to talk about 2.1 in there for the next release.

[2019-08-20 22:38] sdmaclea commented on #13158
The `code verification` section also only applies to .NET Framework. That feature was removed from .NET Core.

[2019-08-20 23:06] yshpakov opened #13963 "dotnet test --filter FullyQualifiedName fails to work with parameterized test cases"
Using NUnit 3.12.0,

Trying to run something like this:
[code]
When I specify full test case name without parameters like:
`dotnet test --filter "FullyQualifiedName=MyNamespace.MyTestClass.LoginAsGuest"
`
it throws an error:
`No test matches the given testcase filter `FullyQualifiedName=MyNamespace.MyTestClass.LoginAsGuest` in C:\MyTestsProject\bin\Debug\netcoreapp2.2\MyTestAssembly.dll
`
When I s

[2019-08-20 23:24] JohnTortugo commented on #6706
What's the default list of feeds the `dotnet tool` search the package on?

[2019-08-21 00:16] yannduran commented on #6927
@specialwork, no it wouldn't be bad practice to do that. It's exactly why `DisplayAttribute` exists.

[2019-08-21 04:02] RandyDaddis commented on #8691
@Bartolomeus-649  I ran into a similar situation creating a new xUnit Test Project (.NET Core). When I added a reference to an existing  ASP.NET Core Web App project, I got:

I eliminated these version conflicts by adding the `Microsoft.AspNetCore.App` to my xUnit Test project.

At this point, I started getting the explicit version reference warning (**NETSDK1071**).

@perezdev NuGet Package Manag

[2019-08-21 06:50] xenogew commented on #13864
Still got "No usable version of the libssl was found"

What should I fix?
I try to use it to copy "work.log" file into Azure File, and do it with gitlab-ci job with "image: python:3.7" (which base on Debian buster).

All I did is following your guide and install what you told me to install but still got the same message. Do you plan to upgrade use other version of libssl like 1.1+?

[2019-08-21 11:37] puppetSpace opened #13975 "JsonSerializer Parse()/ToString() renamed"
It seems the Parse() and ToString() methods on JsonSerializer have been renamed to Deserialize() and Serialize().

https://github.com/dotnet/corefx/pull/38933

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [Wh

[2019-08-21 14:13] #6981 closed

[2019-08-21 14:58] #13331 closed

[2019-08-21 16:38] CeciAc opened #13979 "Reversed translation"
@NextTurn commented on [Mon Aug 19 2019](https://github.com/dotnet/docs.zh-cn/issues/432)

https://docs.microsoft.com/zh-cn/dotnet/standard/base-types/regular-expression-language-quick-reference

https://github.com/dotnet/docs.zh-cn/blob/live/docs/standard/base-types/regular-expression-language-quick-reference.md

https://github.com/dotnet/docs.zh-cn/blob/a5269e6005f5b3f8771f39bf6574bca1fb1ae867/d

[2019-08-21 16:51] CeciAc commented on #13979
Hi team,
the reported error was found in the zh-CN page but it could be also present in the source
can you please check this?
thanks in advance

[2019-08-21 17:23] jeffschwMSFT opened #13980 "We should expand the existing documentation to include the new publish msbuild properties and their options"
We should add details about the three new publishing options:
  &lt;PropertyGroup&gt;
    &lt;PublishTrimmed&gt;true&lt;/PublishTrimmed&gt;
    &lt;PublishReadyToRun&gt;true&lt;/PublishReadyToRun&gt;
    &lt;PublishSingleFile&gt;true&lt;/PublishSingleFile&gt;
  &lt;/PropertyGroup&gt;

In addition we should include all the optional configuration settings as well.
https://github.com/dotnet/designs/b

[2019-08-21 17:46] mairaw commented on #13279
@MashaMSFT the change you did is live (thanks @rothja for the help with publishing!).

I just noticed that the change was only done to the C# version of the sample. You might want to fix the VB one too.

[2019-08-21 17:53] Youssef1313 commented on #13912
@paul1956 , I'll try to do that soon when I get free time and see if I could get good results.

[2019-08-21 18:04] Thraka commented on #13975
Thanks for letting me know. I'll get this fixed.

[2019-08-21 18:33] nmain commented on #9662
Related https://github.com/dotnet/corefx/issues/38087

[2019-08-21 19:15] swaroop-sridhar commented on #13980
https://github.com/dotnet/docs/issues/13149

[2019-08-21 22:57] MashaMSFT commented on #13279
@mairaw , i did a quick scan of the VB script and did not notice the issue but maybe I missed it.. Did you see it?

Thanks!

[2019-08-21 22:58] mairaw commented on #13979
@CeciAc the text is correct in English so I'll close this one by design.

It seems this is purely a translation issue since you reverse some but not all strings? I can't read Chinese so I don't know what the translation means.

![image](https://user-images.githubusercontent.com/12971179/63474054-81fda680-c42c-11e9-88ed-acd09d031579.png)

[2019-08-21 22:59] #13979 closed

[2019-08-21 23:00] nerobianchi opened #13985 "Resource Name - Correction"
Not Charles Richardson, Chris Richardson is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5a3c5f2-59c1-d0f1-15f5-446f81d36d2b
* Version Independent ID: b409992c-312e-639d-182b-2067e3561273
* Content: [The API gateway pattern versus the direct client-to-microservice communication](https://docs.microsoft.com/e

[2019-08-21 23:04] mairaw commented on #13957
@noahfalk can you help with this question?

[2019-08-21 23:07] mairaw commented on #13985
Thank you for your feedback @nerobianchi. I've opened PR #13986 to fix this.

You can also edit our articles when you find something wrong. For more information about this, see https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2019-08-21 23:10] mairaw commented on #13980
It's fine @swaroop-sridhar. I'll review this article next as I update the CLI reference docs and then we can check what's left on the original issue.

[2019-08-21 23:12] imba-tjd commented on #13979
What his `Reversed` means is that he fixed this once, but the translation team broke this again.

[2019-08-21 23:16] mairaw commented on #13979
Thanks @imba-tjd for the clarification. Still I cannot do anything in the source to fix this. The localization team needs to fix this issue. /cc @JasonCard

[2019-08-21 23:17] mairaw commented on #13279
Yep
![image](https://user-images.githubusercontent.com/12971179/63474776-2bde3280-c42f-11e9-858b-99a56210d6b7.png)

[2019-08-21 23:29] #13975 closed

[2019-08-21 23:31] mairaw commented on #8860
Ok. I've actually opened a PR for that @KathleenDollard https://github.com/dotnet/cli/pull/12331

[2019-08-21 23:35] mairaw commented on #9702
I'm moving this to the backlog. @Thraka I think would be good to take a look at the deployment story for desktop as whole along with the VS docs team (/cc @gewarren)

[2019-08-21 23:39] #13985 closed

[2019-08-21 23:41] mairaw commented on #11215
Contacted the engineering team to see how we can archive this content.

[2019-08-21 23:56] MashaMSFT commented on #13279
thanks for catching that! I have no idea how I missed it :) it's been fixed... Thanks!

[2019-08-22 00:41] usptact commented on #13453
I strongly suggest you to go through the Infer.NET 101 PDF document. This should cover the basic building blocks. Also, a number of simpler examples are discussed in greater detail.

[2019-08-22 01:11] NextTurn commented on #13979
I believe that I've fixed this several times.

[2019-08-22 01:18] paul1956 commented on #13912
I would be happy to post/contribute a standalone remove ByVal analyzer and refactoring if you think its interesting. It is very small.

[2019-08-22 02:47] asasine commented on #12486
I have always wondered, what is the motivation for the --output flag being relative to the .csproj instead of the current working directory? It has always been a "gotcha" for me since no other CLI I've used treats paths that way.

[2019-08-22 04:37] CoolBots opened #13991 "Confusing generic parameter name for `Unsubscriber<BaggageInfo>`"
The generic parameter name for class `Unsubscriber<BaggageInfo>` is, unfortunately (and, likely, inadvertently) named the same as the class `BaggageInfo`. To alleviate any confusion, may I suggest changing the generic parameter to `T`, or even to `TBaggageInfo`, if it is semantically important to show that the type is in fact meant to be of type `BaggageInfo` (although the `Unsubscriber<T>` looks

[2019-08-22 07:45] IanKemp commented on #13324
*deathly silence from Microsoft intensifies*

[2019-08-22 08:22] IanKemp commented on #8860
It would also be very helpful to explain what `dotnet pack <sln>` does behind the scenes (i.e. how it figures out what to pack), since `nuget pack` doesn't support packing a solution file.

[2019-08-22 08:40] Youssef1313 commented on #13912
Well, you can start that anytime and submit a **small** PRs ( as suggested by @rpetrusha ) if you want and they will review it, @paul1956 .

[2019-08-22 09:27] paul1956 commented on #13912
I would like to start with correctly documenting line continuation in VB 16 I looked at the special character $ and has a line [!CODE-vb[interpolated-string-symbol](../../../../samples/snippets/visualbasic/language-reference/special-characters/dollar-sign1.vb)] which seems to do no where in the Doc GitHub repo. does [!Code-vb have some special meaning?

[2019-08-22 09:39] paulomorgado opened #13994 "What "runtime exception will occur"?"
&gt; If any code ever attempts to directly access the value-type member of such an object across an application domain, a runtime exception will occur.

What "runtime exception will occur"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7096ed39-e853-1bc5-e09b-ef7a8ddc0b7f
* Version Independent ID: 799c8d45-8770-6eaf-9

[2019-08-22 10:32] paulomorgado opened #13996 "Missing documentation for CS1974"
### Docs / .NET / C# Guide / Language reference / Compiler errors
- C# compiler warning: CS1974
- Title:

[2019-08-22 10:53] Youssef1313 commented on #13912
[!code-lang....] is used in .md files to include a code sample.
That is how to refer to a code in the samples repo from the docs repo.
but I don't think you will find any [!code-lang...] in the samples repo. (Not very sure)

[2019-08-22 11:05] paul1956 commented on #13912
Tried doing a Pull Request and I get Error 500
![image](https://user-images.githubusercontent.com/12789369/63509873-10584380-c492-11e9-89fd-052e8bc05388.png)

[2019-08-22 11:11] paul1956 commented on #13912
I was working on the Doc Repo because I didn't see any VB code that needs work, The Doc's need updating for VB 16 and Core 3.0 and it seemed like a good place to start since there are lots of examples.

[2019-08-22 11:14] paul1956 commented on #13912
Which Repo should I be looking at to find the VB code that needs moving? Can you provide a URL for the repo with 100  files that need ByVal removed it will only take a few minutes to do using a code fix I have.

[2019-08-22 12:57] Youssef1313 commented on #13912
I think you may start with [samples](https://github.com/dotnet/samples/) repo, surely it has more than 100 files containing `ByVal`. But the work can be splitted into multiple PRs, each has about 100 files changed as suggested by @rpetrusha

[2019-08-22 13:50] KalleOlaviNiemitalo commented on #13994
Normative text in ECMA-335 6th edition subclause III.4.11 (ldflda - load field address) says this instruction throws System.InvalidOperationException if attempting to load the address of a field of an object in another application domain.

Informative text in II.14.4 (Pointer types) also mentions that.

[2019-08-22 14:24] paulomorgado commented on #13994
Shouldn't this be added to the warning documentation, @KalleOlaviNiemitalo?

[2019-08-22 14:39] KalleOlaviNiemitalo commented on #13994
I don't know.  The warning itself is perhaps becoming obsolete, because .NET Core does not support remoting; it provides a MarshalByRefObject class for compatibility but you cannot get a transparent proxy that would cause a field access to throw the exception.

[2019-08-22 16:47] #9968 closed

[2019-08-22 16:56] kateract opened #13998 "Null Forgiveness Operator not Explained"
Under Examine Survey Results, the null forgiveness operator is used but not explained.  It is easy to miss the existence of the null forgiving operator if you use this document alone as a guide for using NRT, leading to issues where you have to use it (such as entity framework) and don't know about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-22 17:46] nemrism commented on #9968
There are still some `~/docs` links into `includes` root folder.
As it is supposed to be included files, I don't know if they need to be changed.

cc @rpetrusha @mairaw @NextTurn

[2019-08-22 17:52] bender2k14 opened #13999 "What warnings are off for version 4.x?"
&gt; In F# 3.0, only the 1182 (unused variables) warning is off by default.

What about version 4.x of F#?  I think it also has 1182 off by default.  Are there any others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c40365d-5626-9a4f-4de3-15d14c40af2b
* Version Independent ID: 8fecd942-bbd7-7e61-092d-084896250876
*

[2019-08-22 19:12] michael-hawker commented on #13239
It'd be nice to have a second example that shows some other SomethingAsync method that returns some other type of Task<T> result as Task.Run is a bit contrived.

In addition to having more detailed information on how the behavior of exceptions work when using discard from async methods.  Especially if that method call is also wrapped in a try/catch block.

Thanks!

[2019-08-22 19:13] michael-hawker commented on #13239
For reference, this is a real-world example/discussion/debate we were having on this exact topic: https://github.com/windows-toolkit/WindowsCommunityToolkit/pull/2895/files#r276820784

[2019-08-22 20:34] khellang opened #14005 "System.Text.Json - Exception type changed from `JsonException` to `NotSupportedException`"
## System.Text.Json - Exception type changed from `JsonException` to `NotSupportedException`

In .NET Core 3.0 Preview 6 through 8, the serializer would throw a `JsonException` when encountering an unsupported collection type. Starting in .NET Core 3.0 Preview 9, the serializer will throw a `NotSupportedException` instead.

### Version introduced

3.0 Preview 9

### Change description

#### Old be

[2019-08-22 20:54] jmoralesv opened #14006 "Why is Newtonsoft.Json mentioned when discussing self-contained deployment with third-party dependencies?"
Hello,
I'd like to know why Newtonsoft.Json is mentioned in the step 2, regarding self-contained deployments with third-party dependencies. Is that required in order to do a .NET Core self-contained app? When reading the phrase "with third-party dependencies", I think of Nuget packages that my .NET Core app depends on, is that what you meant here? If so, then Newtonsoft.Json is just an example and

[2019-08-22 21:20] WAARHEID commented on #13345
Would like to second " IamThePeter " and " JustinD85 " on the confusing language re the "interactive window"/"focus mode". I came to this page with >zero< coding experience/background (ostensibly the precise target demo for this tutorial). Per the directions, I spun my wheels for quite some time looking in vain for something (anything!) labeled "interactive window" or a clickable 'button' anywhere

[2019-08-22 22:00] mairaw commented on #11215
Archival tool is not ready yet. Pushing this to next month.

[2019-08-22 22:28] mairaw commented on #14006
Yes, Newtonsoft is just an example and you're correct that we could be more explicit about that. Adding this to our backlog.

[2019-08-22 22:40] KathleenDollard commented on #6706
@JohnTortugo

Internally, this uses standard NuGet restore. It uses the normal NuGet.config (or it's default)

@wli3 for more nuance if needed.

[2019-08-22 23:02] noahfalk commented on #13957
It appears [unsupported]( https://github.com/dotnet/coreclr/blob/ef7767a3ba1c0a34b55cbd5496b799b17218ca14/src/md/compiler/assemblymd.cpp#L718) but I think @sergiy-k or @jeffschwMSFT teams would own that area and may know more details.

[2019-08-22 23:18] jeffschwMSFT commented on #13957
@colin-higgins do you have a small repro that we could take a look at?  What is the interaction with .NET Core - is the assembly you are looking for built targeting .NET Core?  Thanks

[2019-08-23 01:07] NextTurn commented on #9968
@nemrism No, we don't need to replace those `~/` links in *includes* directory.

[2019-08-23 01:09] mairaw commented on #9968
Correct. Inside the includes folder, it's fine to keep them because they can be used in any article, so we don't know the path.

[2019-08-23 02:37] paul1956 commented on #13912
Many of the sample use older project formats, is it OK to upgrade to latest format? Eventually to get on Core will require format changes anyway.

[2019-08-23 02:48] terrajobst commented on #12346
The decision that we landed on is indeed PascalCase.

[2019-08-23 02:49] terrajobst commented on #11903
Looks like this can be closed now.

[2019-08-23 02:49] #11903 closed

[2019-08-23 03:16] InteXX opened #14010 "Usage Example"
Could you include a brief usage example for the included code, e.g. to demonstrate whether a separate instantiation step is required for a Structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e33df7ee-9a59-acb5-e036-fa634d98d261
* Version Independent ID: b70e8969-67b3-76bf-225c-4a2435a988bf
* Content: [Structure S

[2019-08-23 12:42] Science-and-Motion-Sports opened #14013 "Dead link"
The Link "Advanced COM Interoperability in .NET Framework" under "See also" does not work (404 - Page not found).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42777759-58fd-e99a-6c02-cb0d40abe879
* Version Independent ID: 8502b0df-6352-cd0f-49ea-9a0a68283131
* Content: [COM Wrappers](https://docs.microsoft.com/en-us/

[2019-08-23 12:52] Science-and-Motion-Sports opened #14014 "Link does not work"
The link "Type Library to Assembly Conversion Summary" under "See also" does not work (404 - Page not found).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e12a8d-3503-db34-df9a-84ef6037e86d
* Version Independent ID: 964eee24-e711-8c41-b145-35948c20e774
* Content: [Runtime Callable Wrapper](https://docs.microsoft.co

[2019-08-23 16:29] Youssef1313 commented on #14014
Works for me
![image](https://user-images.githubusercontent.com/31348972/63607914-e9098f80-c5d3-11e9-9c9d-e325baec1ee9.png)

[2019-08-23 16:30] Youssef1313 commented on #14013
Works for me
![image](https://user-images.githubusercontent.com/31348972/63607961-0a6a7b80-c5d4-11e9-9ce8-12644a7d87ed.png)

[2019-08-23 16:40] Micteu opened #14017 "Curly braces in the example code appear to violate C# conventions"
This is the example for using the `when` keyword with catching exceptions from the page linked at the bottom of this post:

    using System;
    using System.Net.Http;
    using System.Threading.Tasks;

    class Program
    {
       static void Main()
       {
          Console.WriteLine(MakeRequest().Result);
       }

       public static async Task<string> MakeRequest()
       {
           va

[2019-08-23 16:44] Thraka commented on #14013
It works for me too. @Science-and-Motion-Sports what locale are you browsing in? I'm on english, perhaps there is a broken link in the translation or something?

[2019-08-23 16:45] Thraka commented on #14017
Indeed! Thanks for letting us know. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-23 16:48] Science-and-Motion-Sports commented on #14014
Oh, it was caused by the "MicrosoftDocsLanguageChanger" addon for Firefox. it works when I disable it. Seems like this addon has issues with URLs that contain **/previous-versions/** instead of the language **/en-us/**.

[2019-08-23 16:48] #14014 closed

[2019-08-23 16:49] Youssef1313 commented on #14017
I think also there is a redundant `System.Net.Http` in http client declaration, as this namespace is imported by `using` statement. I'll fix both problems and submit PR.

[2019-08-23 16:53] natke commented on #13810
Closing as no response from @caesar9319. Please follow up again if you need more info.

[2019-08-23 16:53] #13810 closed

[2019-08-23 16:53] Science-and-Motion-Sports commented on #14013
Sorry, it was caused by a Firefox addon: https://github.com/Arasz/MicrosoftDocsLanguageChanger/issues/7

[2019-08-23 16:53] #14013 closed

[2019-08-23 17:00] natke commented on #13732
Add to overview doc, and resources.

[2019-08-23 17:02] natke commented on #13590
Thanks for the feedback @MichaelSimons. We have added this to our backlog.

[2019-08-23 17:04] #14017 closed

[2019-08-23 17:04] natke commented on #13481
Thanks @colbylwilliams. We will add this as part of the updates for  #13880

[2019-08-23 17:07] natke commented on #13453
Thanks @LanderVe. We do have updates for the Infer.NET documentation on our backlog. We will update this issue again when we are actively working in that area.

[2019-08-23 17:07] #13453 closed

[2019-08-23 17:09] Thraka commented on #13932
Thank you for reporting. I've sent an email asking for this to be investigated.

[2019-08-23 17:09] natke commented on #12656
@marchy The sample is up here: https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/Ranking_Web

[2019-08-23 17:09] #12656 closed

[2019-08-23 17:40] Thraka commented on #13937
Please file a request with the [Visual Studio 2019 feedback](https://developercommunity.visualstudio.com/content/problem/689165/feedback-visual-studio-community-2019.html) and Jenkins.

@BillWagner Bill, would it be useful to list Visual Studio defaults? The support table is probably using .NET Core template defaults.

[2019-08-23 17:43] Thraka commented on #13906
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-08-23 18:30] #13266 closed

[2019-08-23 18:33] Thraka commented on #13914
This seems like an important scenario to document, thank you for pointing it out.

[2019-08-23 18:52] Thraka commented on #13949
Hello.

According to #13227 it looks like the safeonly stuff is no longer supported.

Are you asking what is available to put in the NNNNN part of your quote?

[2019-08-23 19:29] BillWagner commented on #12383
Closing based on work in [dotnet/try-samples](https://github.com/dotnet/try-samples).  See https://github.com/dotnet/try-samples/tree/master/csharp8 for details.

[2019-08-23 19:29] #12383 closed

[2019-08-23 20:17] #13146 closed

[2019-08-23 21:32] tdykstra commented on #13850
cc @rynowak

[2019-08-23 21:35] ijosee opened #14020 "broken link"
https://archive.msdn.microsoft.com/wpfsamples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4baeeb7d-bba4-c8c5-6f54-97dc68a59aef
* Version Independent ID: d248598d-5657-1a8c-3f91-b37384243eff
* Content: [WPF Globalization and Localization Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/wpf-glo

[2019-08-23 21:48] rpetrusha commented on #13940
@mconnew, can you confirm that this should be added to the compatibility documentation?

[2019-08-23 23:00] mairaw commented on #14020
Thank you for letting us know. I fixed the target of that link to go to the right place.

[2019-08-23 23:00] #14020 closed

[2019-08-24 00:45] Thraka commented on #13345
@WAARHEID Sorry about that. I'm continuing to forward this info on. Thank you for the feedback.

[2019-08-24 00:46] Thraka commented on #13345
Whoops didn't mean to hit that CLOSE button.

[2019-08-24 04:16] rowanmiller commented on #13932
This is now resolved. Many thanks for reporting it.

[2019-08-24 05:02] Thraka commented on #13932
Thanks everyone

[2019-08-24 05:04] #13932 closed

[2019-08-24 05:49] mconnew commented on #13940
The behavior change is correct. I'll need to spend some time validating the exact details of the code change required in customer code, but from memory I believe it's correct. I'll update next week whether it's good as is or if any changes are needed.

[2019-08-25 09:37] IslamRefaei commented on #11928
Kindly, I have the same issue through Azure DevOps. any suggestion ?

[2019-08-25 21:04] mikekidder opened #14027 "Modification to Dockerfile"
Nice tutorial on tutorial on Docker w/ dotnet
If you have issues, updating the Copy path relative to working directory worked for me:

COPY ./bin/Release/netcoreapp2.2/publish/ app/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version Independent ID: 58d57b81-4ca6-6536-8788-f212

[2019-08-25 21:30] #14027 closed

[2019-08-26 07:32] 3bdulra7eem commented on #10550
I suddenly faced the problem during working on the project

I already added some web services earlier but now I can't add any and getting the same error
I updated my sdk to latest (I'm using .net core 2.1)

.NET Core SDK (reflecting any global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         w

[2019-08-26 18:33] suwyace opened #14029 "Asynchronous rollback."
Hi - Is there any time line on when a asynchronous rollback can be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776eaf68-72b6-5016-da55-0f328868cb47
* Version Independent ID: 2bdbad74-ffd7-d251-7af6-80ba1d754cae
* Content: [Implementing an Explicit Transaction using CommittableTransaction](https://docs.mic

[2019-08-27 06:36] ahmediddma opened #14034 "Sign an XML file example from microsoft documention doesn't work"
the example work fine on dot netframework 4.0 but with 4.5 and later will crush

[code]

at that line

` signedXml.ComputeSignature();`

with exception

putting it in a dot net framework 4.0 own project and calling it from 4.5+ project will not trigger this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e583e0de-c711-8

[2019-08-27 07:49] KalleOlaviNiemitalo commented on #13940
I suspect this part of the migration advice is not necessary and Base64 implementations of `BodyWriter.OnWriteBodyContents` can unconditionally write the `Binary` element. I intend to verify that before 2019-09-02.

This part is OK.

[2019-08-27 10:47] KalleOlaviNiemitalo opened #14040 "Is csc -baseaddress useful with ASLR?"
Is the `-baseaddress` option of the C# compiler at all useful nowadays, when Address Space Layout Randomization (ASLR) will relocate DLLs anyhow? The linked weblog does not mention ASLR; it was written in 2004, and ASLR was released with Windows Vista in 2007.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52af077e-f7e

[2019-08-27 11:16] SperoSophia opened #14041 "ImageType"
Can this also work with ImageType as input instead of Path, so we can work with in-memory images?

[AB#1579020](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1579020)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version Independent ID: c8a996eb

[2019-08-27 14:12] devel112 commented on #12207
Can the default be to not **mangle** property names on serialization (keep whatever case the properties have)? Or at least make it really easy to set without fidling with varied option objects

[2019-08-27 15:20] remids opened #14048 "As of what version of C# and .Net framework does this apply?"
I've used some tuple deconstruction, but I'm getting syntax errors currently using this feature. It's probably because some aspect of the feature isn't available given the version of C#/.Net Framework I'm using, but given the info on this page, I've no way to figure that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-27 16:12] KalleOlaviNiemitalo commented on #13994
On the other hand, because ECMA-335 stipulates the type of the exception, it is not an implementation detail of .NET Framework and is unlikely to be ever changed, so there should be no problem with documenting it here too.

[2019-08-27 17:06] githubsnk commented on #9689
Hello,
what i have to do for insert a control that verify that the path exist like C:/Programs,  and is not like  a fake directory C:/Programs/wrongdirectory ... ?

[2019-08-27 19:34] KalleOlaviNiemitalo opened #14057 "Dead link to Dr. Watson"
That link redirects to &lt;https://support.microsoft.com/en-us/help/308538&gt;, which says "Sorry, page not found".

Searching for Dr. Watson in Microsoft Support finds these other pages:

- ["How to troubleshoot program faults with Dr. Watson"](https://support.microsoft.com/en-us/help/275481/how-to-troubleshoot-program-faults-with-dr-watson) discusses "Microsoft Windows 98, Windows 98 Second Edit

[2019-08-27 19:52] KalleOlaviNiemitalo commented on #13949
Support for `#pragma warning enable` was removed in <https://github.com/dotnet/roslyn/pull/37192>.

[2019-08-27 20:36] KalleOlaviNiemitalo commented on #13940
@mconnew, I don't currently have a test app that I could share, and I'm not sure I will create one.

Earlier, I tested that the `writer.WriteString("")` workaround fixes the problem, when targeting .NET Framework 4.5.2 and running on .NET Framework 4.8. This was server-side WCF with `WebHttpBinding`, `transferMode="Buffered"`, `WebInvokeAttribute.ResponseFormat` = `WebMessageFormat.Json`, and an `

[2019-08-27 20:57] KalleOlaviNiemitalo commented on #13937
@jlterheide, I am curious how you can get an error where "Jenkins recognizes neither casing".  In our CI setup, Jenkins locates and runs MSBuild but does not itself attempt to recognize the language version settings in the C# project files.

[2019-08-27 22:39] mariombaltazar commented on #12841
Hi,
can someone close this issue? this is resolved.

[2019-08-28 01:25] jason-hess opened #14060 "Grammatical Error"
I think the text "By default, an attribute applies to the element that it precedes." should be "By default, an attribute applies to the element that follows it."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c570f1-2f76-be1b-410a-ed4bd67e33cc
* Version Independent ID: dd329ad3-ca29-61e5-8753-d57792a88516
* Content:

[2019-08-28 02:23] singsong2016 opened #14061 "available problem"
system.range and system.index is only available in .net core 3.0 now, not in .net framework 4.8, why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdddc9e-3060-4a72-95fa-93f8a4b6b741
* Version Independent ID: a70329e0-1d30-2e54-e8b8-22f9733bd09f
* Content: [Ranges - C# 8.0 language proposals](https://docs.mi

[2019-08-28 06:39] keni1 opened #14062 "MouseEventArgs and KeyEventArgs are not base types of EventArgs"
This page says: "This example demonstrates how delegates can be used with methods that have parameters of a type that are base types of the delegate signature parameter type"

But neither MouseEventArgs or KeyEventArgs are base types of EventArgs, but the opposite is true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-28 09:03] nemrism commented on #10653
For the [framework] section, here is the remaining work:

Links | Files | Directory
------|-------|----------
2795 | 735 | ./docs/framework/unmanaged-api/debugging
533 | 182 | ./docs/framework/unmanaged-api/diagnostics
2578 | 461 | ./docs/framework/unmanaged-api/hosting
1233 | 284 | ./docs/framework/unmanaged-api/metadata
1810 | 288 | ./docs/framework/unmanaged-api/profiling
1686 | 417 | ./docs/fr

[2019-08-28 09:30] NextTurn commented on #10653
@mairaw If we adopt an automated approach to complete the work, do you just need to review the scripts instead of the changes?

[2019-08-28 10:00] imba-tjd opened #14065 "archive.msdn and fwlink"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2662c2f7-e074-225a-d878-9e3cb6b9ff90
* Version Independent ID: 9f333c5a-3e53-5abf-8c09-d5f1f5b7c59b
* Content: [Network Programming in the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/)
* Content Source: [docs/framework/netwo

[2019-08-28 13:57] jlterheide commented on #13937
I wil try to clarify:

What we had (VS 2019) was:
                var resultaat = insertActionlog(AvgLoggingActie.RelatieAanmaken,
                               medewerkernummer, gebruikersnaam: medewerkernummer.HasValue ? "vkg" : gebruikersnaam,
                               tekst,
                               adviseurnummer,
                               relatienummer);

This is a c# 7.2 fe

[2019-08-28 14:17] KalleOlaviNiemitalo commented on #13937
@jlterheide, I don't use the [MSBuild plugin for Jenkins](https://plugins.jenkins.io/msbuild), originally because of [JENKINS-26948](https://issues.jenkins-ci.org/browse/JENKINS-26948 "\[JENKINS-26948\] Workflow compatibility for MsBuildBuilder - Jenkins JIRA"). Instead, I use a Jenkinsfile that runs vswhere.exe, reads the installation directory from the output, and runs MSBuild.exe from there. If

[2019-08-28 14:20] phlegethon opened #14066 "Modify example to call ConcurrentDictionary<TKey,TValue>.TryRemove"
No content on removing items

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d05753-640a-9bb9-d548-77bc9e82616d
* Version Independent ID: 72d44346-2d65-2e97-75a5-7d6f7f5012e6
* Content: [How to: Add and Remove Items from a ConcurrentDictionary](https://docs.microsoft.com/en-us/dotnet/standard/collections/thread-safe/h

[2019-08-28 15:51] svick commented on #14062
I think the page is correct: in the example, the method in question is:

[code]

And the delegate signatures are:

[code]

So it's saying that `EventArgs` is the base type of `KeyEventArgs` and `MouseEventArgs`, which is correct.

Maybe the use of plural and singular is confusing? The text talks about "methods" and "delegate signature", but the example has a single method and multiple delegate sig

[2019-08-28 17:30] obewan opened #14070 "switch default to _ ? So disturbing."
Since switch exists, we always use the "default" keywords for default case. Switching "default" to '_' is very disturbing, specially when still using the "switch" keywords. In C, default is "default", since always, in C++ default is "default", in Java default is... "default" (amazing), in C# 1 to 7 too, same in Javascript,  Php, Go...
There is some language that doesn't use 'default' keywords, but

[2019-08-28 18:29] svick commented on #14070
I think the difference is that in a `switch` statement, you either write <code>case <em>pattern</em></code> or `default`, while in a `switch` expression, you only write <code><em>pattern</em></code>. So it makes sense to use the discard pattern for the default, since using `default` would not actually be consistent.

Though C# 8.0 is going to be released very soon, so it's too late now to change t

[2019-08-28 20:44] briangithex opened #14074 "Slightly dirty explanation of null.Equals(null)"
The top of the guide has the following statement:
5.  x.Equals(null) returns false. However, null.Equals(null) throws an exception; it does not obey rule number two above.

This suffers from a few problems:

- `null.Equals(null)` is an example of a violation of rule 1.  An example of a violation of rule 2 is `null.Equals(x)`.
- `null.Equals(null)` won't even compile, unless the left side accessed

[2019-08-29 01:06] BillWagner commented on #10469
This has been fixed. The links are correct now.

[2019-08-29 01:14] BillWagner opened #14077 "The links to ECMA specs should be on the .NET docs pages"
The links to the pertinent ECMA specs for the C# language and CLI are currently found on the [Visual Studio product site](https://visualstudio.microsoft.com/license-terms/ecma-c-common-language-infrastructure-standards/). This is not the best location. These links should be somewhere on the .NET docs site.

There are a couple open questions:

- [ ] Where should the CLI spec be linked from? Is the

[2019-08-29 01:22] terrajobst commented on #14077
I think after our big repo merge the obvious home would be dotnet/platform repo. However, we should also link to it from dotnet/docs.

[2019-08-29 01:26] BillWagner commented on #14077
@terrajobst

Yes, but from what page?

[2019-08-29 01:31] goigle commented on #13864
@xenogew The fix that worked for me was in this thread:
https://github.com/dotnet/corefx/issues/33179#issuecomment-509384528

`export CLR_OPENSSL_VERSION_OVERRIDE=1.1`
This forces it to use libssl1.1

[2019-08-29 01:33] terrajobst commented on #14077
I'd probably mention it here: https://docs.microsoft.com/en-us/dotnet/standard/components

[2019-08-29 01:54] KexyBiscuit commented on #10469
The file in Microsoft Implementation Specific Version paragraph requires Corporate account, is that expected?

[2019-08-29 02:15] thurstylark commented on #8804
I have a very similar issue with these docs. Specifically:

https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml#L180-181

This is the only explanation of what a double-precision number is, and it contains a subset of the term itself! What does "precision" mean in this context? What's "double" about it? What uses are suited to using double-precisio

[2019-08-29 02:39] thurstylark opened #14078 "Expand explanation on how to use the interactive code editor"
There lacks a clear set of instructions on how to open and use the code editor. A user might find their way into the editor if they have interacted with similar features before, but [as stated on the Intro to C# index page:](https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/intro-to-csharp/index.md#L15)

The first mention of using the code editor is here: https://github.com/dotnet/d

[2019-08-29 03:28] mairaw commented on #10469
I don't think so @KexyBiscuit. I'm following up with the team.

[2019-08-29 03:46] mairaw commented on #12439
Since there's a issue tracking that update in the dotnet/core repo, I'll close this issue on docs. PR #14076 has updated the topic to include the latest data available and we hope to post those now on a regular cadence.

/cc @KathleenDollard

[2019-08-29 03:46] #12439 closed

[2019-08-29 03:50] CarolEidt commented on #10469
The file should be accessible to all - I presume it just needs to be relocated to a public location.

[2019-08-29 03:53] CarolEidt commented on #14077
What @terrajobst suggests makes sense to me, and in any event I defer to his judgment on this.

[2019-08-29 08:12] andyste1 opened #14082 "Confusing article text"
Near the start of the section "Examine Survey Responses", the article states "Because surveyResponses is a non-nullable reference type, no checks are necessary before de-referencing it", however surveyResponses *has* been declared as nullable in an earlier code snippet. This also means that the second line in the code snippet ("public string Answer(int index) =&gt; surveyResponses.GetValueOrDefaul

[2019-08-29 08:30] hanisani opened #14083 "Explanation"
The information provided on this page is sufficient enough to understand on how to override ToString() method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd498a64-2c80-fe2f-4c27-19d8cf74730c
* Version Independent ID: b7461ce2-b286-3f6b-c87c-3d662a57fd53
* Content: [How to: Override the ToString Method - C# Programm

[2019-08-29 10:42] obewan opened #14084 "[^x] "end of" will be confused with ^x regex that mean at "start of", the inverse."
Hi,

The ^ "endof" operator will be confused with the regex ^ "startof" operator. Consider an expression like "^word[^0]" that will mean "something that start with the end of..." (and it's a simple example, I guess some regex experts can find something more crazy).
This is absolute confusing.
Please consider use standards meanings when introducing semantics, not the inverse meaning. Should be bett

[2019-08-29 12:34] BillWagner commented on #14084
Thanks for the feedback @obewan

This has already been decided, and won't be changed. Among other considerations, the `$` token is used for a string interpolation expression.

The article correctly describes the current behavior.

As you encounter other language design considerations, you should post those issues on the dotnet/csharplang repo. That's where language design discussions take place.

[2019-08-29 12:34] #14084 closed

[2019-08-29 13:10] GitMarJansen commented on #10309
I am using RichardSzalay.MockHttp for this.

            // Arrange
            var mockHttpMessageHandler = new MockHttpMessageHandler();
            var request = mockHttpMessageHandler.When("http://example.com/api/doMagic").Respond(HttpStatusCode.OK);

            var mockHttpClient = mockHttpMessageHandler.ToHttpClient();
            mockHttpClient.BaseAddress = new Uri("http://example.com");

[2019-08-29 14:16] Youssef1313 commented on #14057
Not sure if that helps, but here is the content of that dead link.

![image](https://user-images.githubusercontent.com/31348972/63948051-5015c100-ca78-11e9-9cf8-29ccdea172ea.png)

[2019-08-29 14:38] KalleOlaviNiemitalo commented on #14057
Huh, now that I look at the Roslyn source, the `-errorreport` option seems to have no effect at all; it does not even parse the argument. https://github.com/dotnet/roslyn/blob/5010ecae8b4890e4a655959e2b2612c33eb2bd7c/src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs#L1180-L1181

Indeed, if I create an empty `hah.cs` and run `csc -errorreport:bogus -target:library hah.cs` in Deve

[2019-08-29 14:53] Youssef1313 opened #14085 "Coding Style"
I don't see many of these [coding style](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) from corefx repo anywhere in the docs. Shouldn't they be added somewhere ?
Whether in the [Coding Conventions](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions) article or another separate article ?

/cc @rpetrush

[2019-08-29 15:09] Boggin commented on #7613
System.Composition (MEF v2) is in need of some examples. In fact, it could do with some documentation on how to use it as there's none available.

[2019-08-29 15:30] layomia commented on #14005
Thank for filing this! Please modify:

[code]

The serializer was already throwing `NotSupportedException` for unsupported non-"implementing-types" e.g.  `Dictionary<int, string>`.

[2019-08-29 16:29] #10741 closed

[2019-08-29 16:29] #11889 closed

[2019-08-29 17:33] luisquintanilla commented on #14041
Hi @SperoSophia ,

It should be doable. See this sample for reference.

https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/ObjectDetection-Onnx/OnnxObjectDetectionWeb

[Input data class (schema)](https://github.com/dotnet/machinelearning-samples/blob/8d396bae84b8cf659a63bb04a2a62b3bb29427b8/samples/csharp/end-to-end-apps/ObjectDetection-Onnx/OnnxObjectDete

[2019-08-29 17:33] #14041 closed

[2019-08-29 19:15] #14062 closed

[2019-08-29 19:35] jamesjl opened #14089 "Line doesn't compile when calling DetectIidSpike"
All,

The line

var iidSpikeEstimator = mlContext.Transforms.DetectIidSpike(outputColumnName: nameof(ProductSalesPrediction.Prediction), inputColumnName: nameof(ProductSalesData.numSales), confidence: 95, pvalueHistoryLength: docSize / 4);

in method DetectSpike doesn't compile.  There is no method DetectIidSpike in the Transforms property of mlContext.  I copied directly from this page into VS.

[2019-08-29 21:55] #13873 closed

[2019-08-29 22:58] MadsTorgersen commented on #14077
I too am happy with @terrajobst's suggestion.

[2019-08-29 23:26] terrajobst commented on #14077
Awwww. "...in *any* event...". I think I'll add this to my business card ❤

[2019-08-29 23:34] rskar-git commented on #13680
@rpetrusha

I have done a migration of this for visual basic - project is named AsyncFirstExampleVB.

It is placed under samples\concepts\asynchronous-programming\vb

Pull request: https://github.com/dotnet/samples/pull/1380

[2019-08-30 04:43] pkulikov commented on #13686
@BillWagner could you please assign this issue to me.

[2019-08-30 05:02] pkulikov opened #14100 "C# 8.0 - verbatim interpolated string can start with @$"
Starting with C# 8.0, the order of `@` and `$` in verbatim interpolated strings doesn't matter.

@BillWagner this is for the [C# 8 docs project](https://github.com/dotnet/docs/projects/58).
Could you please assign this issue to me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0665571-35b7-0841-5719-b69456b35cfb
* Ve

[2019-08-30 05:05] pkulikov opened #14101 "C# 8.0 - unmanaged constructed types"
dotnet/csharplang#1937

@BillWagner this is for the [C# 8 docs project](https://github.com/dotnet/docs/projects/58).
Could you please assign this issue to me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93e5d75f-07a3-e7ee-2842-ac754bdd2e41
* Version Independent ID: 4a3622fb-7d09-78ec-ba38-b88001475018
* Content: [Un

[2019-08-30 05:53] jamesjl commented on #14089
Apologies.  I'd skipped over installing the NuGet package:

Microsoft.ML.TimeSeries

All seems ok now.

[2019-08-30 07:13] Padanian opened #14858 "formatting-utility sample in wrong directory"
Formatting-utility sample is in directory winforms instead of windowsforms

[2019-08-30 13:11] SalFicara opened #14103 "Incorrect examples"
This statement could be extremely confusing to new comers as it doesn't make sense in the context in which it is used: Logger.WriteMessage += LogToConsole;

It should be: Logger.WriteMessage += Logger.LogToConsole;

Also, In general these examples are confusing and lack essential information in both description and example content.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-08-30 13:42] luisquintanilla commented on #14089
Great to hear it's working for you now @jamesjl.

[2019-08-30 13:42] #14089 closed

[2019-08-30 14:28] SalFicara commented on #10852
I agree with the other comments and the example isn't even correct as stated by robloo. Almost better to just remove it in the short-term.

[2019-08-30 16:35] CeciAc opened #14109 "No such sdk"
Hi team,
I'm moving this from here: https://github.com/dotnet/docs.zh-cn/issues/458
The user reports there's inconsistent instructions regarding this issue (as I understood)
*The following comments were Machine Translated.*

@xyfy commented 8 hours ago — with docs.microsoft.com

I installed vs, did not show very many runtimes and sdk in the control panel

----------------------------

@xyfy commen

[2019-08-30 17:15] BillWagner commented on #14101
Done. Thanks for helping to get these done.

[2019-08-30 19:36] PhilT opened #14111 "Should UnionCaseName be Union case identifier?"
Under the section **Unwrapping Discriminated Unions**

[code]

Is `UnionCaseName` previously referred to as *case identifier*? If so, it might be best to stick with the same term.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6020749e-d91e-8a1b-5366-25b212baa31d
* Version Independent ID: 0f28f508-dc0f-c272-383e-ec7687

[2019-08-30 22:16] mikernet opened #14117 "CultureInfo constructor / CreateSpecificCulture docs are misleading or incorrect"
**Issue description**

[`CultureInfo` constructor](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.-ctor?view=netframework-4.8#System_Globalization_CultureInfo__ctor_System_String_) and [`CultureInfo.CreateSpecificCulture()`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.createspecificculture?view=netframework-4.8) documentation is highly

[2019-08-30 23:49] #14111 closed

[2019-08-31 00:05] mairaw commented on #11890
Thanks for your feedback @qwertie. I'll address this once next time I update this page. But yes, it's looking for an entry point to run the app, which in the case of console apps is the `Main` method.

[2019-08-31 00:06] #12543 closed

[2019-08-31 00:08] mairaw opened #14122 "Split dotnet command options into SDK and runtime options like --help does"
From @KathleenDollard on https://github.com/dotnet/docs/issues/12543#issuecomment-499729753

The docs should split up runtime and sdk options in the way the help does. Strictly speaking the last four of the sdk-options are not executed by the SDK, but the muxor, so the real difference is that the "runtime-options" are that, and we list everything else under sdk-options. We might want to be a bit c

[2019-08-31 00:33] shunluo opened #14123 "Code sample is wrong"
[Enter feedback here]
First line of code below should be
**[DeveloperAttribute("Joan Smith", "1")]**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7645edc8-46ad-431f-4f91-e77ba3941f17
* Version Independent ID: ff721860-b8e8-3c3d-aefa-f1ec3e00fa69
* Content: [Writing Custom Attributes](https://docs.microsoft.com/en-us/

[2019-08-31 00:47] mairaw commented on #14123
Thank you for your feedback @shunluo. But as the article states:

"You can apply this attribute using the full name, DeveloperAttribute, or using the abbreviated name, Developer,"

You can see more information about this and more examples that use the abbreviated name at https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/attributes/#using-attributes.

[2019-08-31 00:47] #14123 closed

[2019-08-31 00:50] mairaw commented on #14109
@xyfy we'll need a little bit more information from you in order to try to help you.

Can you type dotnet --list-sdks on your console and tell us what you get?

Can you paste here what you get when you filter the SDKs you have installed in the Add/Remove programs? For example:
![image](https://user-images.githubusercontent.com/12971179/64057176-a2291600-cb4e-11e9-985c-55ce1ff53f2b.png)

[2019-08-31 01:01] mairaw commented on #13671
Closing due to the lack of response.

[2019-08-31 01:01] #13671 closed

[2019-08-31 01:03] mairaw commented on #13713
Closing due to the lack of response.

[2019-08-31 01:03] #13713 closed

[2019-08-31 01:10] mairaw commented on #14065
Thanks for your feedback @imba-tjd. We already have a PR open that will take care of this.

[2019-08-31 01:11] mairaw commented on #13683
Closing due to the lack of response.

[2019-08-31 01:11] #13683 closed

[2019-08-31 01:21] xyfy commented on #14109
OK，l will try&nbsp;to capture the screenshot&nbsp; for&nbsp; you next Monday

---Original---
From: "Maira Wenzel"<notifications@github.com&gt;
Date: Sat, Aug 31, 2019 08:51 AM
To: "dotnet/docs"<docs@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"xyfy"<benguahao@foxmail.com&gt;;
Subject: Re: [dotnet/docs] No such sdk (#14109)

@xyfy we'll need a little bit more information fr

[2019-08-31 02:47] mairaw commented on #14109
No rush! Have a great weekend!

[2019-08-31 05:19] #8393 closed

[2019-08-31 06:26] shunluo commented on #14123
My point is that according to description:

"in one of the following ways."
But actually both ways listed are the same. The sample is to demostrate the usage of full name or abbreviated name, however the sample all use abbreviated name.

[**Developer**("Joan Smith", "1")]
-or-
[**Developer**("Joan Smith", "1", Reviewed = true)]

[2019-08-31 08:47] Youssef1313 commented on #14123
@shunluo , The two examples are meant to show the usage with only required parameters, and another time with both required and optional parameters.
And this statement:

demonstrates that the usage of attribute with required params only or with both optional and required params can be done with either the full name or the abbreviated one.

[2019-08-31 13:02] damirarh opened #14127 "Invoking default interface method implementation from a selected interface"
Let's say I have the following rather contrived scenario:

[code]

Now I want a class to implement both I1 and I2:

[code]

As expected, I get the following compiler error:

&gt; Interface member 'I0.Method()' does not have a most specific implementation. Neither 'I1.I0.Method()', nor 'I2.I0.Method()' are most specific.

I can resolve this if I provide my own implementation. Inside it, how could I

[2019-08-31 19:31] jonlave opened #14129 "No Step Option for Ranges?"
Maybe I'm missing something, but there's no mention of specifying a step or interval for a range. In F#, you could do 1..2..10 which produces {1, 3, 5, 7, 9}. How to accomplish that with the new Range?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118

[2019-08-31 20:25] wadepickett opened #14130 "New Get Started tab needed for .NET/ASP.NET/C# Hub"
For the hub page here:  https://docs.microsoft.com/en-us/dotnet/

A new Get Started tab is needed for the hub page representing all .NET areas including ASP.NET, C# etc. Currently 40+ links are shown representing all the guides, API ref and architecture content in what is essentially a guide tab. It should be 2 or three at the most that are recommended as starting point. Scott Hanselman and other

[2019-09-01 06:34] svick commented on #14129
You can't, no such syntax will be supported by C# 8.0. Though there is a proposal to add it to a future version of C#: https://github.com/dotnet/csharplang/issues/2562.

[2019-09-01 15:52] mikhail-putilov opened #14134 "A question about cost savings"
[code]

Could somebody explain this to me? I don't see cost savings by this explanation.

Let's say I have a monolith that is similar to Google Stadia. It allows users to play Witcher and Counter-strike. So monolith incorporates both games on the same computing machine. Every time when there is a big demand, I can spin more instances of the same monolith.

But what if I had 2 microservices for Wit

[2019-09-01 16:46] Youssef1313 commented on #6598
@rpetrusha , I've started writing the article, but not sure if I can write a good article suitable to be published. Can you please have a look at what I've so far ?
https://github.com/Youssef1313/test/blob/master/README.md

[2019-09-01 16:47] mikhail-putilov commented on #12793
My opinion:

I would say, it is a database which must ensure data integrity and it is up to the developer to decide what to do if the database throws an exception. Must be evaluated case by case.

Prior databases people used plain files on a filesystem which wasn't secure enough. As far as I remember, Splunk doesn't use a database, they decided to write everything to a plain file.

[2019-09-01 17:38] dinobu opened #14135 "Fix the formatting, make examples simpler to follow"
Examples are so over polluted by unnecessary detail, the formatting makes it even more difficult to see entire text.  So much needless scrolling for nothing.  Very poor explanation of problem by polluting example by irrelevant details, horrible formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be073b14-6d0b-60

[2019-09-01 18:07] jonlave commented on #14129
That would explain it. I figured that most other languages that have Ranges/Sequences also have a step option, so it's odd that they couldn't get it in together with Ranges.

[2019-09-01 20:25] meziantou opened #14136 "Sample link is invalid"
The link for "NumericUpDown Custom Control with Theme and UI Automation Support Sample" (https://go.microsoft.com/fwlink/?LinkID=160025) is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082db11-a47c-222d-e0d4-112b9033249b
* Version Independent ID: 401d14cf-63e7-7fd1-618a-a7aca0f205cb
* Content: [UI Automatio

[2019-09-01 23:11] coffeecoder3peat opened #14137 "csproj XML snippet needs to be updated"
XML shows
[code]
Should show

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3343b35c-90c1-2e11-498d-ee1d4eb409f6
* Version Independent ID: f2eda261-d4c3-c90a-1294-dfe11e55c341
* Content: [Get started with .NET Core on macOS - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-macos#feedb

[2019-09-02 05:54] xyfy commented on #14109
I saw it,

the sdk is has error info with 3.0 only .

but if I want to uninstall the runtimes ,how can I do it ?

------------------ 原始邮件 ------------------
发件人: "Maira Wenzel"<notifications@github.com>;
发送时间: 2019年8月31日(星期六) 上午10:48
收件人: "dotnet/docs"<docs@noreply.github.com>;
抄送: "哈哈"<benguahao@foxmail.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [dotnet/docs] No such sdk (#14109)

No ru

[2019-09-02 05:55] xyfy commented on #14109
![image](https://user-images.githubusercontent.com/7838147/64093025-5f06b700-cd89-11e9-9210-f3ea227de48e.png)

[2019-09-02 09:02] Youssef1313 commented on #14136
I'm not familiar with that topic, so not sure if [This sample](https://github.com/dotnet/samples/tree/master/snippets/csharp/VS_Snippets_Wpf/CustomControlNumericUpDown/CSharp) is the one meant by that link.

[2019-09-02 11:07] AzmL opened #14142 "Incomplete example and possible mixup in recommended naming"
Referring to the recommended test suite at the end of this article (GetDiscountedPrice_ByDefault_ReturnsFullPrice and GetDiscountedPrice_OnTuesday_ReturnsHalfPrice).

It would be useful to show how Mock&lt;T&gt; is implemented, notably the code behind the .Setup() method.

Also, at the beginning of this article you explain a Mock is a Fake that becomes a Mock when it is used to validate the test.

[2019-09-02 11:37] RussKie opened #14143 "[WinForms] `Control.Defaultfont` changed"
## [Change Title]

`Control.Defaultfont` changed to `Segoe UI 9pt` to align with [Windows UX guidelines](https://docs.microsoft.com/en-us/windows/win32/uxguide/vis-fonts#fonts-and-colors).

### Version introduced

3.0

### Old behavior

`Control.Defaultfont` was set to `Microsoft Sans Serif 8pt`.

### New behavior

`Control.Defaultfont` is now set to `Segoe UI 9pt` (the same as `SystemFonts.Messag

[2019-09-02 11:37] RussKie commented on #14143
/cc: @OliaG @merriemcgaw

[2019-09-02 11:56] RussKie commented on #14134
I venture to say you may not understand what microservices are. Microservices perform a small independent unit of work (e.g. a single responsibility principle).

A gaming monolith is in fact consists of many components, such as a registration service and its database, a session management service, queuing service, a download service, blob storages etc.
When a new game or an update is released, the

[2019-09-02 12:12] mikhail-putilov commented on #14134
Thanks for the answer. May I ask you one more detail? I still can't wrap my mind about this.

In a way, I deliberately chose an example of a monolith with just two games without any fancy stuff like registration/chat/customer service features to show that if you have a monolith that can run two processes of two games and there is a high demand in one game, than monolith just spends more time runni

[2019-09-02 13:57] codeganesh opened #14146 "CS0837 applies to method groups as well?"
In Visual Studio 2019, when I used a method group on the left hand side of "is",I got a compiler error "The first operand of an 'is' or 'as' operator may not be a lambda expression, anonymous method, or **method group**". Is this new in this current version of C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 946a6568

[2019-09-02 14:50] intelisofts opened #14148 ".net core 2.1 doesn't support XslCompiledTransform.Load(typeof(Transform))"
[throws below exception
Could not load file or assembly 'System.Data.SqlXml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f147e9-9514-5507-ab52-d8fdb8bff053
* Version Independent ID: 753bfb60-0d0b-35dc-4a

[2019-09-02 15:14] intelisofts commented on #14148
after adding missing assembly getting below
{"Cannot bind to the target method because its signature or security transparency is not compatible with that of the delegate type."}

[2019-09-02 17:16] RussKie commented on #14134
Running two (or more) independent processes (i.e. two different game servers) in the same container is a very poor architectural decision as it goes against single responsibility principle.

What if one game server process crashes and brings the whole container down? What if one process requires 32G of RAM and 4CPUs and another process requires only 16G of RAM and 2 CPUs? What if... what if... wha

[2019-09-02 17:42] Science-and-Motion-Sports opened #14152 "runtimeVersion needs to include magic string for .NET >= 4.0"
I took me one hour to find out the reason why CoGetClassObject returned 0x8013101B (COR_E_NEWER_RUNTIME). The reason is that when you omit the runtimeVersion attribute of the &lt;clrClass&gt; element then COM starts the .NET 2.0 runtime in the C++ COM client process, even if the C# COM-Server-DLL was compiled for .NET v4.7. This documentation page does not tell you the magic strings required to sp

[2019-09-02 18:28] RussKie opened #14153 "[WinForms] Modernize `FolderBrowserDialog`"
## Modernize `FolderBrowserDialog`

Use a newer COM-based `FolderBrowserDialog` that was introduced in Windows Vista.

### Version introduced

3.0 Preview1

### Old behavior

.NET Framework folder browser dialog:
![image](https://user-images.githubusercontent.com/1427284/49414964-2d51b880-f743-11e8-933d-f6c6bdda3cc9.png)

### New behavior

The Vista-style dialog:
![image](https://user-images.githu

[2019-09-02 18:29] RussKie commented on #14153
/cc: @OliaG @merriemcgaw

[2019-09-02 18:41] RussKie opened #14155 "[WinForms] Deprecate `Switch.System.Windows.Forms.UseLegacyImages` quirk"
## Deprecate `Switch.System.Windows.Forms.UseLegacyImages` quirk

Deprecate `Switch.System.Windows.Forms.UseLegacyImages` quirk

### Version introduced

3.0 Preview9

### Old behavior

`Switch.System.Windows.Forms.UseLegacyImages` was introduced in .NET Framework 4.8 to address possible image scaling issues in ClickOnce scenarios in high DPI environments.
For more information please refer to https

[2019-09-02 18:41] RussKie commented on #14155
/cc: @OliaG @merriemcgaw

[2019-09-02 18:49] RussKie opened #14156 "[WinForms] Deprecate `Switch.System.Windows.Forms.EnableVisualStyleValidation` quirk"
## Deprecate `Switch.System.Windows.Forms.EnableVisualStyleValidation` quirk

Deprecate `Switch.System.Windows.Forms.EnableVisualStyleValidation` quirk

### Version introduced

3.0 Preview9

### Old behavior

The quirk allowed to opt-out of validation of visual styles supplied in a numeric form.

### New behavior

The switch is deprecated, and no alternative functionality is available.

### Reason

[2019-09-02 18:50] RussKie commented on #14156
/cc: @OliaG @merriemcgaw

[2019-09-02 18:56] RussKie opened #14157 "[WinForms] Deprecate `Switch.System.Windows.Forms.DontSupportReentrantFilterMessage` quirk"
## Deprecate `Switch.System.Windows.Forms.DontSupportReentrantFilterMessage` quirk

Deprecate `Switch.System.Windows.Forms.DontSupportReentrantFilterMessage` quirk

### Version introduced

3.0 Preview9

### Old behavior

`Switch.System.Windows.Forms.DontSupportReentrantFilterMessage` was introduced in .NET Framework 4.6.1 to address possible `IndexOutOfRangeException` exceptions when the `Applicat

[2019-09-02 18:56] RussKie commented on #14157
/cc: @OliaG @merriemcgaw

[2019-09-02 19:04] RussKie opened #14158 "[WinForms] Deprecate `Switch.System.Windows.Forms.AllowUpdateChildControlIndexForTabControls` quirk"
## Deprecate `Switch.System.Windows.Forms.AllowUpdateChildControlIndexForTabControls` quirk

Deprecate `Switch.System.Windows.Forms.AllowUpdateChildControlIndexForTabControls` quirk

### Version introduced

3.0 Preview9

### Old behavior

`TabControl` for re-orders the its `ControlCollection` when a tab is selected.
In some special cases such behavior was undesired and a `Switch.System.Windows.For

[2019-09-02 19:04] RussKie commented on #14158
/cc: @OliaG @merriemcgaw

[2019-09-02 19:16] RussKie opened #14160 "[WinForms] Deprecate `Switch.System.Windows.Forms.DomainUpDown.UseLegacyScrolling` quirk"
## Deprecate `Switch.System.Windows.Forms.DomainUpDown.UseLegacyScrolling` quirk

Deprecate `Switch.System.Windows.Forms.DomainUpDown.UseLegacyScrolling` quirk

### Version introduced

3.0 Preview9

### Old behavior

In the .NET Framework 4.7.1 and previous versions the `DomainUpDown` control's `UpButton` action is ignored when control text is present, and the developer was required to use `DownBu

[2019-09-02 19:16] RussKie commented on #14160
/cc: @OliaG @merriemcgaw

[2019-09-02 20:09] gladium-software commented on #12469
Hi Dismissile and Jwisener,

It might seem at odds, and if you’re taking DRY to the fullest extent you’ll probably not like what I tend to implement.

As stated in the article, to keep the services fully decoupled you don’t want to share a Contract library between the services - doing so intrinsically ties the services together - got the T-Shirt on that one.

What you’re best doing is thinking as

[2019-09-02 20:22] mikhail-putilov commented on #14134
No offense, you are trying to argue with a straw man. I didn't say anything against microservices or any other detail of microservices except cost savings and at this point I feel like I mislead this conversation a little.

I honestly don't understand how come having two instances of microservices that can run two games independently is more cost-efficient than having two instances of a monolith t

[2019-09-02 21:57] jstafford5380 commented on #10309
At the time of my suggestion, I hadn't been using `.AddHttpClient<T>`. That said, I actually found out later on that there is a MS package for Polly with a method that can be chained off of that AddHttpClient registration, allowing you to add a policy to the client.

https://www.nuget.org/packages/Microsoft.Extensions.Http.Polly/

Under the hood, it basically does what I was recommending which was

[2019-09-03 00:54] BillWagner commented on #12487
moving this to the backlog.

This is not a primary scenario for default interface members. We'll keep the issue open, in case others have compelling scenarios using traits with DIM.

[2019-09-03 00:59] BillWagner commented on #13795
The referenced PR did fix this. We didn't close it in in a timely fashion.

Closing now.  /cc @ghogen

[2019-09-03 00:59] #13795 closed

[2019-09-03 01:12] BillWagner commented on #10454
This was fixed by #10383

[2019-09-03 01:12] #10454 closed

[2019-09-03 01:20] BillWagner commented on #13227
Closing, as we're already tracking removing "safeonly" in another issue.

[2019-09-03 03:24] jwisener commented on #12469
My apologies it’s been close to 4 months since i posted that comment and completely forgot about it. I am not for copying and pasting that duplicate class definitions across our various projects. For me, Integration means exactly what it’s name implies, an agreement between two or more systems, in order for that to happen they have to agree upon a contract, I just prefer to not copy and paste it e

[2019-09-03 06:35] IanKemp opened #14163 "nologo inconsistency"
The synopsis says the switch is `--nologo`.

The arguments say it's only available since .NET Core 3.0, but `-nologo` (note single dash) works using .NET Core 2.2.6.

The arguments say it's `--no-logo` (note extra dash), but that doesn't work in any version (tested on 2.2.6 and 3.0.0 preview 8).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-03 07:00] stribizhev opened #14164 "Typo in "Static Regular Expressions" section"
I think that "instance method calls" should read as "static method calls" in "Static regular expression methods are recommended as an alternative to repeatedly instantiating a regular expression object with the same regular expression. Unlike regular expression patterns used by regular expression objects, either the operation codes or the compiled Microsoft intermediate language (MSIL) from patter

[2019-09-03 08:08] IanKemp opened #14165 "--include-source doesn't seem to work as documented if the package symbol format is snupkg"
Reference: https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

If I run `dotnet pack MyPackage.csproj -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg --include-source` then the size of my snupkg is the same as if I ran `dotnet pack MyPackage.csproj -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg`, which implies to me that sources are **not** being embedded even

[2019-09-03 08:56] nemrism commented on #2038
These PRs should fix the issue for the whole configuration docs pages

[2019-09-03 08:56] nemrism commented on #2149
These PRs should fix the issue for the whole configuration section pages

[2019-09-03 10:01] gladium-software commented on #12469
Hey - and this is why I love software development, if you find something that works and works well, stick with it!

I should have chosen my words a little more carefully as I didn’t want to suggest another way is wrong - purely giving an insight on how I've implemented this before.

I completely agree on the contract side of things i.e. the two services need a contract. When defining the contract

[2019-09-03 10:56] gsantopaolo opened #14166 "Update .NET implementation support table"
If would be useful if you can update the .NET implementation support table. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standa

[2019-09-03 13:03] nemrism commented on #12224
The samples actually work if you either:
- update the project to target .NET Framework 4.6 or newer.
- or specify to use TLS 1.2 as default connection with the following line of code:
`System.Net.ServicePointManager.SecurityProtocol |= System.Net.SecurityProtocolType.Tls12;`

[2019-09-03 13:28] RussKie opened #14170 "[WinForms] Deprecate `Switch.System.Windows.Forms.UseLegacyContextMenuStripSourceControlValue` quirk"
## Deprecate `Switch.System.Windows.Forms.UseLegacyContextMenuStripSourceControlValue` quirk

Deprecate `Switch.System.Windows.Forms.UseLegacyContextMenuStripSourceControlValues` quirk

### Version introduced

3.0 Preview9

### Old behavior

Prior to .NET Framework 4.7.2 `ContextMenuStrip`'s `SourceControl` property returned `null` for a source control when a user opened a menu from a nested `Tool

[2019-09-03 13:29] RussKie commented on #14170
/cc: @OliaG @merriemcgaw

[2019-09-03 13:36] DonaldRich opened #14172 "DecryptFile incorrect Read lengths"
The DecryptFile method reads only three bytes when reading the key and IV lengths but EncryptFile writes 4 bytes. This does not break because the fourth byte is zero with the values used, but it forces the use of Seeks where none are needed.

EncryptFile:

            outFs.Write(LenK, 0, 4);
            outFs.Write(LenIV, 0, 4);

DecryptFile:

        inFs.Seek(0, SeekOrigin.Begin);
        inFs.

[2019-09-03 13:43] RussKie opened #14173 "[WinForms] Deprecate `Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl` quirk"
## Deprecate `Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl` quirk

Deprecate `Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl` quirk

### Version introduced

3.0 Preview9

### Old behavior

In the .NET Framework 4.6.2 and previous versions the `RichTextBox` control would instantiate the Win32 RichEdit control v3.0 ([versions differences](https://docs.microsoft.com/en-us/wi

[2019-09-03 13:44] RussKie commented on #14173
/cc: @OliaG  @merriemcgaw

[2019-09-03 13:50] RussKie opened #14174 "[WinForms] Deprecate `Switch.System.Windows.Forms.DoNotSupportSelectAllShortcutInMultilineTextBox` quirk"
## Deprecate `Switch.System.Windows.Forms.DoNotSupportSelectAllShortcutInMultilineTextBox` quirk

Deprecate `Switch.System.Windows.Forms.DoNotSupportSelectAllShortcutInMultilineTextBox` quirk

### Version introduced

3.0

### Old behavior

Prior to .NET Framework 4.6.1 the <kbd>Ctrl</kbd> + <kbd>A</kbd> shortcut key in a `TextBox` failed to select all text when the `ShortcutsEnabled` and `Multilin

[2019-09-03 13:50] RussKie commented on #14174
/cc: @OliaG @merriemcgaw

[2019-09-03 13:54] BillWagner commented on #13227
My mistake on closing this. It's not a duplicate.

[2019-09-03 14:04] RussKie opened #14175 "[WinForms] Removing `SerializableAttribute` on Windows Forms classes"
## Remove `SerializableAttribute` from types that don't have known binary serialization scenarios

A number of Windows Forms classes are no longer decorated with `SerializableAttribute`.

### Version introduced

3.0 Preview9

### Old behavior

Not all types that were `SerializableAttribute` in .NET Framework need to be serializable in .NET Core.
### New behavior

Removed `SerializableAttribute` fr

[2019-09-03 14:05] RussKie commented on #14175
/cc: @OliaG @merriemcgaw

[2019-09-03 15:11] #14100 closed

[2019-09-03 17:06] #13720 closed

[2019-09-03 19:43] #12994 closed

[2019-09-03 20:46] BillWagner commented on #12853
ping @GrabYourPitchforks

[2019-09-03 20:48] BillWagner commented on #13874
That's a good question @lostmsu

@stephentoub Do you have guiidance here?

[2019-09-03 20:50] stephentoub commented on #13874
It does make sense, and it can be used.  But because the underlying tasks returned from MoveNextAsync and DisposeAsync aren't directly available, you employ ConfigureAwait using the ConfigureAwait extension method on `IAsyncEnumerable<T>`:
https://github.com/dotnet/corefx/blob/f9c848d6ad5415c1fa844f5403ea8ef78c408f9a/src/System.Threading.Tasks/ref/System.Threading.Tasks.cs#L78
e.g.
[code]

[2019-09-03 20:58] BillWagner commented on #13877
According to my tests, this feature is available in C# 7.0 (It's not mentioned in that article either, so scheduling this for October).

[2019-09-03 21:09] BillWagner commented on #13994
I'm fine adding the details of `InvalidOperationException` to this warning. I agree that it's unlikely to change.

I've added this to our backlog, and added the "up for grabs" label, if someone wants to submit a PR.

[2019-09-03 21:12] BillWagner commented on #13996
Thanks for writing this @paulomorgado This is a known area that we haven't invested in well.

We're several releases behind in these messages, and we're honestly not able to address all of them. I've left this in the backlog to consider.

[2019-09-03 21:15] BillWagner commented on #13998
THanks for writing this @kateract

We agree! This issue is a duplicate of #13420

Closing as a duplicate. (When fixing #13420, this article should link to that update).

[2019-09-03 21:15] #13998 closed

[2019-09-03 21:15] rpetrusha commented on #14164
Thank you for pointing this out, @stribizhev. The sentence should indeed read "static method calls" instead of "instance method calls". We've opened #14185 to correct the documentation.

[2019-09-03 21:17] BillWagner commented on #14040
That's a good question @KalleOlaviNiemitalo

@jcouv @jaredpar Do you know the answer, or where to track this information down?

[2019-09-03 21:22] BillWagner commented on #14048
Thanks for updating this @remids

Yes, you'll need the `System.ValueTuple` package when targeting older versions of the .NET Framework. We do have that information in the [main article on tuples](https://docs.microsoft.com/dotnet/csharp/tuples), which is linked from this one.

I'd like to know how you landed on this page without seeing that information first. That way we can make sure it's easier

[2019-09-03 21:25] BillWagner commented on #14057
Thanks for reporting this @KalleOlaviNiemitalo

That link should be removed. It isn't really relevant to how this option works. I've added ti to our backlog, and added the "up for grabs" label if you want to submit a PR that removes the link.

[2019-09-03 21:29] mairaw commented on #14109
Thanks @xyfy.

@KathleenDollard I think this is the issue with the SDK install that we discussed no?

[2019-09-03 21:30] BillWagner commented on #14060
Thanks for writing this @jason-hess

I think both wordings are correct, but your suggestion is more clear.

I've added this to our backlog to address when we next update this article.

In the meantime, if you want to submit a PR with your suggestion, I'll watch for it.

[2019-09-03 21:35] mairaw commented on #13705
Closing due to the lack of response.

[2019-09-03 21:35] #13705 closed

[2019-09-03 21:36] mairaw commented on #5989
@cartermp what should we do about this issue?

[2019-09-03 21:38] rpetrusha commented on #13903
Thanks for submitting your feedback, @valakiBF. Other than [GetChar](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.strings.getchar), what are the additional missing string functions?

[2019-09-03 21:40] BillWagner commented on #14061
Thanks for the feedback @singsong2016

The team has discussed this in various forums and presentations, and the documents are correct.

I'll close this.

[2019-09-03 21:40] #14061 closed

[2019-09-03 21:45] rpetrusha commented on #14136
It's a version of it, @Youssef1313. Thanks for finding it!

[2019-09-03 21:49] Youssef1313 commented on #14136
@rpetrusha, Thanks for confirming. I've opened https://github.com/dotnet/docs/pull/14188 to fix it.

[2019-09-03 21:49] BillWagner commented on #14074
Thanks for writing this @briangithex Yes, that fifth point introduces a number of issues. I'll propose a different solution:

1. Add a statement before any guarantees: That says: "For the following rules, assume that `x`, `y` and `z` are not null.
1. Describe null separately as follows: "Any non-null value is not equal to null. However, the CLR checks for null on all method calls and throws a `Nul

[2019-09-03 21:52] BillWagner commented on #14083
Thanks for writing this @hanisani

I'm glad this worked for you.  Closing as kudos.

[2019-09-03 21:52] #14083 closed

[2019-09-03 21:55] BillWagner commented on #14078
Thanks for writing this up @thurstylark

I've added this to our October milestone to address.

[2019-09-03 21:58] BillWagner commented on #14082
Thanks for writing this up @andyste1

You're correct, this portion of the article does need to change. I've added it to this month's sprint.

[2019-09-03 21:58] tdykstra commented on #10061
@nsuchy Good question -- per the [.NET Glossary](https://docs.microsoft.com/en-us/dotnet/standard/glossary#platform), a platform is "An operating system and the hardware it runs on, such as Windows, macOS, Linux, iOS, and Android." The [.NET Core guide](https://docs.microsoft.com/dotnet/core/) clarifies that the platforms that support .NET Core are Windows, macOS, and Linux.

[2019-09-03 21:59] briangithex commented on #14074
Phrases like "the `this` reference" and "the CLR" strike me as more technical than the rest of that page.

[2019-09-03 22:00] mairaw commented on #14136
Thanks @Youssef1313. I've also updated the internal fwlink to point to the same location.

[2019-09-03 22:00] Youssef1313 commented on #14057
@BillWagner, opened #14190 to fix that and remove extra whitespaces.

[2019-09-03 22:01] BillWagner commented on #14085
I think this should be discussed before making these changes.  It may be wise to link to the CoreFx repo's coding style, but I don't think we should replicate them in the docs.

Thoughts?

[2019-09-03 22:03] Youssef1313 commented on #14085
Linking to the corefx coding style seems good I think.

[2019-09-03 22:04] BillWagner commented on #13949
This is an area that hasn't been updated as well as we could. I've added to a project we're using to track requests and come up with a plan.

[2019-09-03 22:15] tdykstra commented on #10033
@BDTomasz The [how to write text to a file](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-write-text-to-a-file) doc has information about how to specify the path - what is it missing?

[2019-09-03 22:17] #10061 closed

[2019-09-03 22:51] mairaw commented on #1815
I've opened PR #14192 to fix the redirections on the homepage.

I think most of the other redirections and broken links were already fixed throughout the years.
The only exception I found is the last bullet:
* How to: Call a Web Service Asynchronously (Visual Basic) links to http://www.xmethods.net/, which seems to be down.

But I'd prefer if we open a separate issue for that alone so that we can

[2019-09-03 22:58] mairaw opened #14193 "Some VB error messages are missing the "To correct this error" info"
The full list of topics is:

https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc36613
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc31538
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc36614
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc31537
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc31199
https://docs.microsoft.com/en-us/dotnet/v

[2019-09-03 23:11] #14164 closed

[2019-09-03 23:19] #14057 closed

[2019-09-04 00:14] mairaw commented on #2195
Closing this one. No longer applicable and temporary hidden link was permanently removed.

[2019-09-04 00:14] #2195 closed

[2019-09-04 00:20] mairaw commented on #14136
Closing this one as fixed as seen on the following commit:
https://github.com/dotnet/docs/commit/240050fd40de6381f109d82788d6bf3dea5aeeeb#diff-8ad728aa3a36c439a0448df0c0182ad5

[2019-09-04 00:20] #14136 closed

[2019-09-04 00:23] mairaw commented on #9753
Thanks for letting us know @presleyy. I can verify the fix.

[2019-09-04 00:23] #9753 closed

[2019-09-04 00:28] mairaw commented on #14137
You're right @coffeecoder3peat. Latest SDKs produce a 2.0 output. Opened PR #14137 to fix this.

[2019-09-04 00:31] mairaw commented on #10286
Indeed, that is correct @SurlyMae. Only the contents of the Main method should be replaced, not the entire Program.cs.

[2019-09-04 00:31] #10286 closed

[2019-09-04 00:49] mairaw commented on #13335
Saw on an internal forum that there's a way to escape the $ sign. Testing that with PR #14196.

[2019-09-04 01:21] mairaw commented on #9585
@natke who can take a look at this feedback?

[2019-09-04 01:23] mairaw commented on #9613
This page no longer exists. Closing.

[2019-09-04 01:23] #9613 closed

[2019-09-04 01:24] mairaw commented on #9294
@natke who can take a look at this API feedback?

[2019-09-04 01:26] mairaw commented on #9293
It seems this API no longer exists. Closing. FYI @natke

[2019-09-04 01:26] #9293 closed

[2019-09-04 01:27] mairaw commented on #9184
Closing this one since issue opened by @sfilipi also got closed.

API docs is now at https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.data.datakind?view=ml-dotnet.

[2019-09-04 01:27] #9184 closed

[2019-09-04 01:29] mairaw commented on #7775
Closing since this API no longer exists. /cc @natke

[2019-09-04 01:29] #7775 closed

[2019-09-04 01:30] mairaw commented on #7774
Closing since this API no longer exists. /cc @natke

[2019-09-04 01:30] #7774 closed

[2019-09-04 01:30] mairaw commented on #7773
Closing since this API no longer exists. /cc @natke

[2019-09-04 01:30] #7773 closed

[2019-09-04 01:31] mairaw commented on #6590
Closing this since this API no longer exists. /cc @natke

[2019-09-04 01:31] #6590 closed

[2019-09-04 01:32] mairaw commented on #5765
Closing since this API no longer exists. /cc @natke

[2019-09-04 01:32] #5765 closed

[2019-09-04 07:39] IanKemp commented on #13324
Ugh, wait, the behaviour I'm seeing is completely consistent with the "Matching rules" section. Glob support would remove all of this confusion...

[2019-09-04 08:24] paulomorgado commented on #13994
This is the subject of other discussions, but here goes: is this a "runtime" error, a "run time" error or a "run-time" error?

[2019-09-04 08:25] paulomorgado commented on #13996
This is the subject of other discussions, but here goes: is this a "runtime" error, a "run time" error or a "run-time" error?

[2019-09-04 08:27] Youssef1313 commented on #14193
Also the bc30981 & bc31538 are missing the error id inside the article.

[2019-09-04 09:04] MSDN-WhiteKnight commented on #14146
This is certainly not new. In fact, in the addition of "method group" in this message was already there in the [first roslyn sources instance](https://github.com/dotnet/roslyn/blob/e315208fe33d43964fb649935e3bbff2275fa101/src/Compilers/CSharp/Portable/CSharpResources.resx#L2121) on Github (Jan 2015). VS 2017 outputs the same as well. But VS2012 with c# 5.0 compiles `if (Main is Delegate )`, just o

[2019-09-04 09:47] MSDN-WhiteKnight commented on #13994
[Style Guide](https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/r/runtime) uses "runtime".

[2019-09-04 10:54] valakiBF commented on #13903
There are some functions in the String class of the System namespace that are more straightforward and easier to use than some corresponding functions in the Strings Module of the Microsoft.VisualBasic namespace. Namely:
IndexOfAny(Char(),...), LastIndexOfAny(Char(),...), Split(Char(),...), Split(String(),...), Trim/TrimEnd/TrimStart(Char())

[2019-09-04 11:10] codeganesh commented on #14146
Thank you for the clarification!

[2019-09-04 11:10] #14146 closed

[2019-09-04 14:22] #9731 closed

[2019-09-04 14:23] #14060 closed

[2019-09-04 15:13] MV10 opened #14203 "Minor - incorrect Figure number"
Second paragraph under "Stateless vs stateful microservices" references Figure 4-30 but the image is labeled 4-15.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1af44678-d848-00e7-6aed-ff3319f60395
* Version Independent ID: 1a4f5af6-0ce0-7946-6482-a3d15927a8b2
* Content: [Orchestrating microservices and multi-containe

[2019-09-04 15:17] luisquintanilla commented on #13898
@jwood803 If you try to retrain the model locally (not using Azure Functions and Storage Blob), do you still get the same error?

[2019-09-04 16:23] natke commented on #9294
I've assigned it to myself

[2019-09-04 16:52] #6409 closed

[2019-09-04 17:25] #14137 closed

[2019-09-04 17:45] svick commented on #13877
@BillWagner When I compile the following code with `<LangVersion>7.0</LangVersion>`:

[code]

I get the error:

So I don't think it's a C# 7.0 feature.

[2019-09-04 17:48] BillWagner commented on #13877
@svick  Thanks for checking. I tried the same thing on a preview build and it worked. I'll check again.

[2019-09-04 18:04] mairaw commented on #14203
Thanks for your feedback @MV10. I've opened #14205 to fix this.

You can also edit our content when you find issues like that:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-09-04 18:08] mairaw opened #14206 "Image has red squiggles and wrong branding"
@nishanil I don't have access to the image sources (maybe it's from a PowerPoint) to be able to easily edit those.
But I've noticed the following problems with figure 4-14:

- It has red squiggles under db
- Database acronym should be DB
- NoSQL is the right name, not No-SQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-04 18:10] mairaw commented on #14166
It was updated last week. What do you think it's missing @gsantopaolo?

[2019-09-04 18:13] taquion87 commented on #13877
@BillWagner, it compiles in 7.0 if you change the order of the method parameter modifiers. But if you want to consume the extension method you get a compile error:

So, the only way to use the extension method is as a static helper method:
[code]

[2019-09-04 19:19] paulomorgado commented on #13994
I'm not a native English speaker, but that's just wrong! And with the added cost of making translations also wrong.

[2019-09-04 19:33] mairaw commented on #13994
Let's start a thread with the folks from the Microsoft style guide @paulomorgado.

[2019-09-04 20:02] Astrophizz commented on #13593
Interestingly the NuGet task does have the option to skip publishing duplicate packages.

[2019-09-04 20:03] svick commented on #13877
I thought this odd behavior was worth reporting to Roslyn, so I did so: https://github.com/dotnet/roslyn/issues/38486.

[2019-09-04 21:01] mairaw commented on #13394
This was fixed. Related issue: https://github.com/dotnet/cli/issues/11940

[2019-09-04 21:01] #13394 closed

[2019-09-04 21:02] mairaw commented on #12440
No, it's not possible and there are no plans to support that, according to @johnbeisner. If you'd like to propose that, file an issue at https://github.com/dotnet/cli/issues.

[2019-09-04 21:02] #12440 closed

[2019-09-04 21:06] mairaw commented on #12229
This is a hard problem to solve and it's been a known problem. The best advice we can give you right now is to wait about 15 minutes after using the product to modify it. If you'd like to discuss this in more detail with the product team, file an issue at https://github.com/dotnet/cli/issues.

[2019-09-04 21:06] #12229 closed

[2019-09-04 21:09] mairaw commented on #10818
Thanks @shirhatti. I'll review the docs to add some explanation about this next time I review it.

[2019-09-04 21:27] mairaw commented on #6873
Met with @johnbeisner today about this. There's not much we can do since this is a constraint from the environment you run the script. Hopefully the workaround to force PS to use TLS 1.2 provided by @MikkelHegn can help in this scenario.

[2019-09-04 21:27] #6873 closed

[2019-09-04 21:29] VictorioBerra commented on #13593
Task for what?

[2019-09-04 22:07] Thraka commented on #10550
@3bdulra7eem I discovered the team that made this tool has a repository at https://github.com/dotnet/wcf/issues where you could get help about this tool.

[2019-09-04 22:10] #13455 closed

[2019-09-04 22:14] #13655 closed

[2019-09-04 23:17] #14203 closed

[2019-09-04 23:23] mairaw commented on #10447
@natenho we'd need a bit more information in order to investigate this issue properly.

1. Is the first issue still happening? If so, which command exactly are you using? For product issues like that, it's probably easier to file an issue at https://github.com/dotnet/cli/issues, where the product team reviews them.
2. I cannot repro the issue of seeing this page over the marketing site results on

[2019-09-05 00:15] rpetrusha commented on #13903
Thanks for the response and the clarification, @valakiBF. I've opened #14213 to clarify the focus of the article and link to System.String and its methods.

[2019-09-05 00:22] mairaw commented on #4589
Sorry for only noticing your comment now @eriawan. You're correct. We have issue #3391 covering this.

[2019-09-05 00:23] mairaw commented on #4415
@rpetrusha would this be fixed with the vendor work that we're doing?

[2019-09-05 00:35] natenho commented on #10447
1. Yes it is, I've just checked, here is the output:

[code]

2. I could not reproduce the search engine behavior anymore. The first result is going to https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current

I think the description in the document could emphasize that the "regular way" of installing dotnet on linux and link to the download website.

The current text of

[2019-09-05 02:04] mairaw opened #14215 "Update for What's new in .NET Core 3.0 Preview 9"
Article needs to be updated for Preview 9 that went out today

https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-9/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NET Core 3

[2019-09-05 02:06] mairaw opened #14216 "Update for What's new in .NET Core 3.0 GA"
One last pass to review this article, remove preview links, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NET Core 3.0](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-

[2019-09-05 02:09] mairaw opened #14217 "Update pre-reqs topics for .NET Core 3.0"
Review all three topics:

- [x] Windows
- [x] macOS
- [x] Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0f01627e
* Content: [Prerequisites for .NET Core on Windows](https://docs.microsoft.com/en-us/dotnet/core/windows-prer

[2019-09-05 02:12] mairaw opened #14218 "Add migration doc from .NET Core 2.2 to 3.1"
Similar to what we had from 2.0 -> 2.1
https://docs.microsoft.com/en-us/dotnet/core/migration/20-21

[2019-09-05 02:15] mairaw opened #14219 "Review updateeachrelease topics for .NET Core 3.0 release"
Check topics that have ms.custom updateeachrelease to see which ones need updates.

[2019-09-05 02:21] mairaw commented on #11929
Can this be closed @Thraka? @tdykstra is already working on #12207 which will cover the basic JSON scenarios and the APIs have basic docs already.

Other than that, samples for the APIs and all should be handled through new individual issues in the https://github.com/dotnet/dotnet-api-docs repo.

[2019-09-05 02:24] mairaw commented on #11256
@JamesNK @terrajobst do we have this diagram handy somewhere that can be easily updated? I imagine it probably lives in a PowerPoint somewhere. It would be nice to get this updated.

[2019-09-05 02:24] mairaw commented on #11256
Also pinging @BethMassi - she might be able to help

[2019-09-05 02:25] mairaw commented on #10678
This has been an ongoing task for each preview.

[2019-09-05 02:38] JamesNK commented on #11256
I got it off an old blog post that I can't remember.

[2019-09-05 03:18] terrajobst commented on #11256
One thing we could do is use the slide the Hunter used at Build:

![image](https://user-images.githubusercontent.com/5169960/64309376-26193e80-cf51-11e9-882b-11efdfcd1b96.png)

[2019-09-05 04:14] Thraka commented on #11929
Sounds good.

[2019-09-05 04:14] #11929 closed

[2019-09-05 08:13] MSDN-WhiteKnight commented on #13994
Why do you think so? And what exactly is "added cost"? For one, "runtime" when used as adjective seems to be more popular then other variants in internet, software GUI captions, etc. (I could understand "run time" if it were used like "exception happens at run time"). For a second, in russian version of article, this phrase is translated pretty OK. Actually, "run time" might be harder for machine

[2019-09-05 08:46] markpevans opened #14223 "Soap versions supported"
In the syntax section it has:-
envelopeVersion="None/Soap11/Soap12"
Whereas in the Attributes section it has:-
envelopeVersion	Specifies the version of SOAP that is used for messages that are processed by this binding. The only valid value is Soap11.
Clearly these both cannot be true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-05 09:53] martingbrown opened #14224 "Whats the default value for transferMode?"
All the other attributes have their default value stated, but transferMode does not. I assume it is Buffered but I don't know for sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 783b3c43-7fe5-5023-69e9-20b3f69ef548
* Version Independent ID: af2b80ce-e052-deaa-43a8-fcb0e5b062b7
* Content: [&lt;netTcpBinding&gt;](ht

[2019-09-05 10:06] martingbrown opened #14225 "Does this also have an enables attribute?"
According to Visual Studio's intelisense this element also has an enabled attribute which this page does not mention. I'd like to know if that attribute is required and what the default value is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12300eca-40bd-35ad-8ba6-582084c62f22
* Version Independent ID: 4a4f2890-be60-

[2019-09-05 11:06] DavidS opened #14226 "C# 6 tutorial: missing require in `nameof` step"
https://docs.microsoft.com/en-gb/dotnet/csharp/tutorials/exploration/csharp-6?tutorial-step=8 requires an additional `require System.Collections.Generic` to work:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3686c2-4c73-5686-0da9-abc38c74aeec
* Version Independent ID: ca995f80-9375-e9ca-b855-6e6893581e23
*