[2016-11-13 18:13] eriawan commented on #1086
@cartermp  thanks! I'll create a WIP PR for F# type signature tomorrow 😄

[2016-11-13 18:49] BillWagner commented on #488
@eriawan We do accept pull requests from anyone. (I see you're working with @cartermp on some F# content). This content would work the same: start writing, open a PR, and we'll review. When ready, we'll merge it in.

However, GitHub only supports assigning issues to people that have direct commit access.

So, as a workaround, when someone says the will work on something, we assign it to one of the

[2016-11-13 20:54] #961 closed

[2016-11-14 03:42] eriawan commented on #488
@BillWagner
Ok, I understand it now. 👍
I was thinking that in order to have contributions, I have to be member of the team based on your previous comments.
I think I'll also submit comments on this C# lambda as well 😄

Thanks for clearing my confusion, @BillWagner !

[2016-11-14 23:02] #1141 closed

[2016-11-16 00:07] #955 closed

[2016-11-16 07:43] cartermp opened #1244 "Remove some of the marketing speak in Core vs Framework article"
#1239 merges an article which provides some guidance for using either .NET Core or .NET Framework for server applications.  It was adapted from an internal whitepaper, and thus has a bit of a marketing feel to it.  We should rewrite some of the pieces which feel like they're attempting to sell the technology, particularly .NET Core.

[2016-11-16 08:03] mairaw commented on #1205
@blackdwarf do you know?

[2016-11-16 08:07] #956 closed

[2016-11-16 08:07] #957 closed

[2016-11-16 08:09] mairaw commented on #1230
yes @cartermp

[2016-11-16 08:10] mairaw commented on #1213
can we close this @rpetrusha?

[2016-11-16 08:17] cartermp commented on #1230
Awesome.  Closing this for now, @SpaceShot, since we are migrating over the ADO.NET documentation.

[2016-11-16 08:17] #1230 closed

[2016-11-16 14:47] blackdwarf commented on #1205
@svick we should probably change the links to not point to rel/1.0.0 but to rel/1.0.0-preview2.

In Preview 3, the `dotnet test` has been significantly changed and the test protocol is different. Until I have a full document describing it, I think that for Preview 3 bits we should remove it (which is what I did in my PR #1233 ).

[2016-11-16 17:44] rpetrusha commented on #1213
@mairaw Yes. I'm closing it now.

[2016-11-16 17:44] #1213 closed

[2016-11-16 22:31] mairaw opened #1253 "Move include files to a central location"
The export tool for the migrated content from MSDN had a weird behavior on where it'd put the include (token) files on the folder where the text was first used. We need to move the include files to a central location to be easier to find and use them.

[2016-11-16 22:33] mairaw opened #1254 "Need to review ms.prod/ms.technology metadata values"
We need to make sure our content is tagged properly for BI reporting purposes and so forth.

[2016-11-16 22:57] #958 closed

[2016-11-16 22:57] #959 closed

[2016-11-16 23:17] mairaw opened #1255 "Move snippets to the snippets location"
The snippets that were migrated were put in subfolders inside the content and broken down in several small snippets.
In order to get CI working and all, our snippet files need to be moved as a whole (like the original ones) to the [snippets folder](https://github.com/dotnet/samples/tree/master/snippets).

Query to find out how many are still left:
https://github.com/dotnet/docs/search?q=codesnippe

[2016-11-17 00:36] mairaw opened #1257 "Review Preview 3 docs and add links between Preview 2 and Preview 3 docs"
Need to review the [Preview 3 docs](https://github.com/dotnet/docs/tree/master/docs/core/preview3) and make sure that the topics can be easily differentiated (including metadata) with links between the two versions.

[2016-11-17 03:51] svick opened #1261 "PDF does not show wrenches correctly"
I just noticed that the documentation can be [downloaded as PDF](https://opbuildstorageprod.blob.core.windows.net/output-pdf-files/en-us/VS.core-docs/live/articles.pdf). When I opened that PDF, the first thing I noticed is that the wrench symbol does not show correctly.

Here is how it looks in Firefox:

![](http://imgur.com/zkTcGKX.png)

Here is how it looks in TWINUI:

![](http://imgur.com/aZP8M

[2016-11-17 04:00] mairaw commented on #1261
@dend can you look at this?

[2016-11-17 16:12] BillWagner opened #1264 "The structs topic in the "Tour of C#" should explain the restrictions on default ctors"
This was reported by one of our customers.

The `structs` topic under "A Tour of C#" does not explain all the restrictions (and the reasoning behind them) for default constructors and structs.

This should discuss how the default ctor is generated by the compiler, why the compiler generates it (arrays and other similar idioms), and how it cannot be hidden by defining other constructors.

[2016-11-17 16:34] svick commented on #822
It seems to me both issues are fixed now:

![](http://imgur.com/n2jrtBL.png)

The date is shown to me in a format that's readable to me and the date shown corresponds to `ms.date` from metadata.

[2016-11-17 16:34] #822 closed

[2016-11-18 11:06] ovidiaconescu commented on #1190
I ran into the same issue while upgrading a netcoreapp1.0 to netcoreapp1.1 from Nuget as well as manually changing the frameworks section to
`"frameworks": {
    "netcoreapp1.1": {
		  "dependencies": {
			  "Microsoft.NETCore.App": {
			    "type": "platform",
			    "version": "1.1.0"
			  }
		  },
      "imports": [
        "dotnet5.6",
        "portable-net45+win8"
      ]
    }
  },`

I was l

[2016-11-18 11:09] sguryev commented on #1190
@ovidiaconescu agree with you. I did the same.

[2016-11-18 18:56] BrianPeek opened #1269 "VB Refactoring docs no longer valid for VS2017"
Please point to [Refactoring (VB) - https://docs.microsoft.com/en-us/visualstudio/vb-ide/refactoring-vb](https://docs.microsoft.com/en-us/visualstudio/vb-ide/refactoring-vb)

[2016-11-18 18:57] BrianPeek opened #1270 "VB Code Generation docs should be added for VS2017"
VS2017 adds new code generation tooling to VB, docs for which can be found here:  [Code Generation (VB) - https://docs.microsoft.com/en-us/visualstudio/vb-ide/code-generation-vb](https://docs.microsoft.com/en-us/visualstudio/vb-ide/code-generation-vb)

[2016-11-19 18:19] raffaeler commented on #1002
@stephentoub What about Reverse PInvoke? (the ability to call a .NET class method from a native program)
And how can I load the NetCore CLR if the process is bootstrapping from C / C++?
My target is to make this work x-plat.
Thank you

[2016-11-20 01:09] #1205 closed

[2016-11-20 05:25] stephentoub commented on #1002
Reverse P/Invoke works on unix.

The unixcorerun/coreconsole utilities here:
https://github.com/dotnet/coreclr/tree/master/src/coreclr/hosts
are examples of C/C++ programs that host coreclr.

[2016-11-20 21:13] raffaeler commented on #1002
Thank you @stephentoub
I could successfully host the CLR and invoke the delegate for my function from C++.

How you compare the hosting solution to the Reverse P/Invoke? Which one is most convenient?

I also found [NativeCallableAttribute](https://github.com/dotnet/coreclr/blob/release/1.1.0/src/mscorlib/src/System/Runtime/InteropServices/NativeCallableAttribute.cs) which should ease the Reverse P

[2016-11-21 02:24] BillWagner opened #1277 "What's new in C# 7 needs update for RC"
The "What's new in C# 7 topic does not include two features that have been added in the RC release:
. Expression Bodied 'everything'
. Throw expressions.

[2016-11-21 22:04] stevehoag commented on #490
I'll take this one.

[2016-11-21 22:11] mairaw commented on #490
We already brought up some of the LINQ content from MSDN now, so we actually need to review what we have.

[2016-11-21 23:04] mairaw opened #1279 "Fix TOC"
Something broke the TOC since there are some sections now missing from the C# guide. We need to fix this.

[2016-11-21 23:55] dend commented on #1261
Am currently looking at this, thank you for bringing this to my attention.

[2016-11-22 08:49] mairaw commented on #1062
@svick the internal bug was resolved as fixed. can you please check if it still repros? thanks!

[2016-11-22 15:58] svick commented on #1062
It still repros for me. Though the version of Chrome I'm using is ancient, so I'm not sure how important it is to fix this.

I tried to see how it looks on other devices using browserstack.com and it seems many older devices still have this issue: https://www.browserstack.com/screenshots/d344d829081ca69b3cb90984249b91d87368eb0d.

[2016-11-22 18:44] cartermp commented on #490
Also note that we have an article in the .NET Platform Guide: https://docs.microsoft.com/en-us/dotnet/articles/standard/using-linq

[2016-11-22 19:19] #1279 closed

[2016-11-22 19:22] svick opened #1283 "TOC unusable in deeply nested articles"
Some of the recently imported articles are nested very deeply in the TOC structure, which makes the TOC unusable for them.

For example, this happens with the article [How to: Generate XML from CSV Files (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/programming-guide/concepts/linq/how-to-generate-xml-from-csv-files):

![](http://imgur.com/6JhPNAz.png)

The article i

[2016-11-22 20:43] mairaw commented on #1283
I agree with you @svick. We haven't had time to review the TOC during the migration. @BillWagner, @stevehoag is that something you guys want to split between C# and VB and figure out what's best for those areas? I migrated the TOC as-is from MSDN.

[2016-11-22 21:08] stevehoag commented on #1283
Yes, thanks for pointing this out @svick . Looks like we need to flatten the TOC - what is the optimum number of levels to provide a good experience? We should set a standard and add it to the contributing guide.

[2016-11-22 21:31] mairaw commented on #1062
This site is awesome. I didn't know about it!

[2016-11-23 19:28] BillWagner commented on #1283
Yes, this needs to change.

I can take on the C# portion.

[2016-11-23 19:46] stevehoag commented on #1283
And I'll take on VB.

[2016-11-24 12:49] lextm commented on #386
Now I can see the localization repos at GitHub like [this one for Simplified Chinese](https://github.com/dotnet/docs.zh-cn/issues/2) Thanks for the efforts, guys.

[2016-11-24 23:23] heavenwing commented on #386
Cool.

发送自我的 Windows 10 手机

发件人: Lex Li<mailto:notifications@github.com>
发送时间: 2016年11月24日 20:49
收件人: dotnet/docs<mailto:docs@noreply.github.com>
抄送: heavenwing<mailto:heavenwing@msn.com>; Mention<mailto:mention@noreply.github.com>
主题: Re: [dotnet/docs] How to contribute localization content (#386)

Now I can see the localization repos at GitHub like this one for Simplified Chinese<https://github.

[2016-11-28 11:52] tommed opened #1292 "docs/docs/core/testing/ needs information on running msbuild-based unit test projects from dotnet core cli"
# dotnet test and testing the new msbuild csproj projects

Running `dotnet test` against a csproj file, targeting __netcoreapp1.0__ doesn't work. I suspect there is a workaround, but the documentation doesn't not cover how to do this.

This is required as part of a CI/CD pipeline where Visual Studios is not present and entire process needs to be done from a cli. For example, we build our code from

[2016-11-28 13:15] svick commented on #1292
How exactly does it not work? What is the error you're getting? Could you post your csproj?

Also, there is already [a tutorial about testing with preview3/msbuild](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tutorials/using-with-xplat-cli-msbuild-folders#testing-your-console-app). Does that help?

[2016-11-28 15:30] tommed commented on #1292
[code]

The csproj file looks like this:
[code]

[2016-11-28 15:31] tommed commented on #1292
dotnet-test-xunit is also installed via nuget version __2.2.0-preview2-build1029__

[2016-11-28 22:47] stevehoag commented on #490
Plan is to update existing content from the C# Programming Guide (brought over from MSDN) - improve readability, update examples, replace LINQ to SQL with LINQ to EF.

[2016-11-29 15:24] tommed commented on #1292
Interestingly, this may be environmental, because the example in your link also doesn't work:

1. dotnet new -t Xunittest
2. dotnet restore
3. dotnet build
4. dotnet test

Error:

[code]

[2016-11-29 16:01] svick commented on #1292
That is a known issue in preview3, it's already fixed in the latest version of preview4: https://github.com/dotnet/cli/issues/4744.

(Though it's not listed among the [major known issues of preview3](https://github.com/dotnet/core/blob/master/cli/known-issues.md#preview-3-tooling-known-issues).)

[2016-11-29 17:14] svick opened #1294 "TOC filter does not seem to work"
When I type something into the TOC filter, the result is always "No results", it seems it does not work at all.

![](http://imgur.com/sxtOLTX.png)

I have tried it on Firefox 50 and Edge 38.

[2016-11-29 19:10] mairaw commented on #1294
Yep, I can repro that. It used to work. @dend @DuncanmaMSFT who should look at this issue?

[2016-11-29 19:10] tommed commented on #1292
Apologies, I've just also been pointed to https://github.com/dotnet/cli/issues/4832 which is the same kind of thing. Thank you!

[2016-11-29 19:10] #1292 closed

[2016-11-29 22:47] #1113 closed

[2016-11-30 21:12] mairaw commented on #211
@cartermp do we still have this issue?

[2016-11-30 21:13] #229 closed

[2016-11-30 21:13] #226 closed

[2016-11-30 21:13] #223 closed

[2016-11-30 22:55] stevehoag commented on #1283
Have we decided on a standard for number of TOC levels?

[2016-12-01 01:15] mairaw commented on #443
Is this done @rpetrusha?

[2016-12-01 01:41] cartermp commented on #211
Not anymore, no.  We can close this.

[2016-12-01 01:41] #211 closed

[2016-12-01 01:43] cartermp commented on #443
This is covered a bit here: https://docs.microsoft.com/en-us/dotnet/articles/standard/components

There may be a need for a more low-level article.

[2016-12-01 06:55] mairaw commented on #1294
This is now working for me again. Is it working for you again @svick ?

[2016-12-01 11:06] svick commented on #1294
Yeah, it is. Closing.

[2016-12-01 11:06] #1294 closed

[2016-12-01 16:06] BillWagner commented on #90
@stevehoag Will this issue be handled by what you're doing for #490?  If so, do you want to assign it to yourself and we'll close it when we get that PR

[2016-12-01 16:15] BillWagner commented on #608
Closing this, as I think the "Tour of C#" covers all of this area. https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/

[2016-12-01 16:15] #608 closed

[2016-12-01 19:11] BillWagner commented on #221
I reviewed the ported content today.

Under https://github.com/dotnet/docs/tree/master/docs/csharp/programming-guide/delegates everything can be removed and re-directed to https://github.com/dotnet/docs/blob/master/docs/csharp/delegates-overview.md or one of the later articles.

Under https://github.com/dotnet/docs/tree/master/docs/csharp/programming-guide/events everything can be removed except f

[2016-12-01 19:13] BillWagner commented on #219
Closing after migrating the existing C# MSDN content.

[2016-12-01 19:13] #219 closed

[2016-12-01 19:18] BillWagner commented on #488
@rpetrusha Are you working on this at the moment?

[2016-12-01 19:26] BillWagner commented on #489
closed via migrating the existing MSDN content.

[2016-12-01 19:26] #489 closed

[2016-12-01 21:50] rpetrusha commented on #488
@BillWagner No. I worked on the revision to the lambda expressions overview. At the moment, I'm working on an inheritance tutorial.

[2016-12-01 21:58] BillWagner commented on #488
@rpetrusha Thanks. I was concerned that you and @eriawan might be working on the same content. Glad I was wrong.

[2016-12-02 02:41] BillWagner commented on #1283
@stevehoag I don't think so. I proposed 3 levels which is clearly not sufficient. 6 (which we have now in some places) is too deep.

[2016-12-02 13:23] #492 closed

[2016-12-02 13:23] #962 closed

[2016-12-02 13:24] BillWagner commented on #487
Fixed in PR #1298

[2016-12-02 13:24] #487 closed

[2016-12-02 13:25] BillWagner commented on #967
Fixed in PR #1298

[2016-12-02 13:25] #967 closed

[2016-12-02 13:26] BillWagner commented on #490
I had the wrong issue number in PR #1298.  Reopening.

[2016-12-02 16:46] cartermp commented on #1283
The F# content is nested 3 deep at most, and it's pretty workable.  Maybe it's worth trying to get the language references of C# and VB flattened?  Since they're the worst offenders in this case, flattening them similar to how F# does it might be worthwhile.

[2016-12-02 19:40] mairaw commented on #386
I'm closing this one now that we have the localized repos. There's a new issue in the Chinese docs repo asking for a contributing guide and that would be important to have:
https://github.com/dotnet/docs.zh-cn/issues/2

For example, customers are not supposed to fix the content on the localized repos, they should only fix translation issues.

/cc @ericvt @nokura @SonjaSaltzman

[2016-12-02 19:40] #386 closed

[2016-12-05 02:54] BillWagner commented on #1283
I'd like to get the levels to 3, for many good reasons. We're at 6 levels with C# after the migration, so that's a lot of flattening.

Because topics that aren't in the TOC are excluded from PDF download, I'd like to keep as many topics in the TOC as possible.

[2016-12-05 18:16] BillWagner commented on #1253
This is marked as blocked because we are hoping an upgraded export tool can bulk move all the included snippets into the proper location.

[2016-12-05 18:25] mairaw commented on #1204
We have added some guidelines to the style guide but we still need to talk about the snippet inclusion guidelines such as line highlighting, using ranges, line numbers, etc.

[2016-12-06 15:45] BillWagner opened #1305 "[Project]: Create C# 7 content"
This is a meta-issue that manages [C# 7 content that is part of this project](https://github.com/dotnet/docs/projects/2).

Subtasks are:

- [x] Create the What's New in C# 7 content: #961
- [x] Create the deep dive topic on Tuples: #1113
- [x] Create the deep dive topic on Pattern Matching: #1114
- [x] Update the What's New in C# 7 content for VS 2017 RC: #1277

Comment below to suggest more topic

[2016-12-06 16:23] BillWagner opened #1306 "[Project]: Update and enhance "Getting Started" topics"
This is a meta-issue for the [Getting Started content that is part of this project](https://github.com/dotnet/docs/projects/3).

Subtasks will be defined as this project is planned in full.

Comment below to suggest new content, or updates to existing content.

[2016-12-06 21:06] rpetrusha opened #1308 "`keywords` metadata item not created in migration"
# `keywords` metdata item not created in migration

## General
When VB and C# content was migrated to docs.microsoft.com, a `keywords` metadata field was not created. Since `keywords` is a field used by SEO, the result is that some VB and C# language topics do not surface even for very focused searches. For example, searching for "this keyword", 'this C#", or "this keyword C#" does not surface the

[2016-12-06 23:52] mairaw opened #1311 "Retire topic: Packages, Metapackages and Frameworks"
Topic URL: https://docs.microsoft.com/en-us/dotnet/articles/core/packages

Comments on this topic indicate that people are confused and they don't understand the terminology used and the concepts introduced.

[2016-12-07 18:14] mairaw commented on #1143
@cartermp should this be a project? and what's the target milestone?

[2016-12-07 18:16] mairaw commented on #1138
Is there anything else to be done in addition to renaming the folder @cartermp when we get the proper redirects in place? We settled on the .NET Platform Guide for the common pieces.

[2016-12-07 18:21] mairaw commented on #1054
@davidsh is there any plan to make this behavior consistent across platforms? I can change the default value for now on docs, but once we have all the .NET docs in one place, we need to able to explain how this works to users.

[2016-12-07 18:26] BillWagner commented on #817
@EisenbergEffect I think this request would might be addressed by some of the different ideas you have in the design backlog.  Would you like to comment?

[2016-12-07 18:27] cartermp commented on #1138
Nope.

[2016-12-07 18:27] cartermp commented on #1143
Milestone is backlog.  Yes, a project would be appropriate.

[2016-12-07 18:27] davidsh commented on #1054
cc: @stephentoub @weshaggard @ericstj

At the time we first did .NET Core, we made we made a conscious decision to change the default from .NET Framework to be more useful which is why it is not `None`.  I know this makes the docs difficult especially since System.Net.Http OOB's on Desktop.  Customer feedback has been positive so far on this change so, we aren't thinking that we would roll it back

[2016-12-07 18:30] mairaw commented on #807
@richlander is this the kind of topic you had in mind for this issue:
https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/with-visual-studio-code?

[2016-12-07 18:33] mairaw commented on #806
@spboyer @richlander what else is left to do here? Should this become a project?

[2016-12-07 18:38] BillWagner commented on #803
This should be part of the work to update the experience with the new build tools. All the samples will have the project.json format throughout the topic and the samples. This should be a reminder that all those should be updated so that the files generated by the tools match the text shown in the topic.

[2016-12-07 18:42] spboyer commented on #806
@mairaw Yes this needs to be a project. I have an outline of topics. @kendrahavens is also working on the samples repo.

@richlander @SteveLasker

[2016-12-07 21:34] EisenbergEffect commented on #817
Two points related to this:

* We currently have a feature to improve the ToC so that it remains always in view and automatically scrolls the current article into view. So, no more need to scroll to top. The feature is implemented but still needs final review. I'm hopeful that it will go out soon.
* For next and back buttons specifically, we have some other features that we're working on related s

[2016-12-07 22:05] reyou commented on #817
@EisenbergEffect
I would recommend navigation buttons for docs.
Unfortunately, automatic scrolling will not fix issue for users who are on their phones.  Since navigation bar will be hidden from small screens, navigating to next section creates a little hassle. And, for fresh-new developers, who will start reading docs, after 5 chapters, they would want to bookmark page and continue reading from t

[2016-12-07 23:14] mairaw commented on #1054
Ok, thanks @davidsh. I'm making the updates to current docs now to display the .NET Core behavior and it should be published shortly. However, I'll leave this one blocked and open so we don't forget to revisit this later.

[2016-12-07 23:52] EisenbergEffect commented on #817
If the problem is primarily related to navigation between docs on a mobile device, we are planning to completely re-design the mobile UX. We were actually just discussing that yesterday :)

[2016-12-08 00:23] kendrahavens commented on #807
I definitely want to add the Debug section to that doc now.

[2016-12-08 01:47] mairaw commented on #807
@kendrahavens cool! I'm wondering if that should be in a separate topic though.

[2016-12-09 16:29] mgroves commented on #275
I'm going to take a crack at this

[2016-12-09 18:16] BillWagner commented on #275
@mgroves That page does provide the reference information for the feature. We would still like a tutorial that shows different ways to use the feature, and some of the concepts that people new to C# often miss.  These would include features like using expressions, or the result of computations in an interpolated string, using format strings in interpolated strings, and so on.

If you want to work

[2016-12-09 18:21] mgroves commented on #275
Oh, I see. So something in https://github.com/dotnet/docs/tree/master/docs/csharp/tutorials, then? Yeah I can work on that.

[2016-12-09 18:25] BillWagner commented on #275
@mgroves Yes, exactly.  Thanks!

[2016-12-09 19:44] mgroves commented on #275
Well, I took a crack at it. Hopefully it's good enough for a start (at least)

[2016-12-09 20:40] #1254 closed

[2016-12-10 00:20] kendrahavens opened #1321 "Move Step-by-Step Install Instructions for .NET Core to Docs"
# Move Step-by-Step Install Instructions for .NET Core to Docs

While the [install page for .NET Core](https://www.microsoft.com/net/core) provides a good landing site, users should have a place to look for more descriptive instructions on the basic installation process. These docs will also be a helpful place to provide better context on our tools.

# General

- Provides every subdivision of the

[2016-12-12 18:07] #711 closed

[2016-12-12 18:07] BillWagner commented on #806
We have some history and ideas here. Let's continue to use this issue as the tracking issue for the Docker E2E project. Add links between this issue and the project when that is created.

[2016-12-12 18:07] #742 closed

[2016-12-12 18:09] cartermp commented on #790
Since we basically have a good TOC and URL structure/model, we're closing this.

[2016-12-12 18:09] #790 closed

[2016-12-12 18:16] BillWagner commented on #786
This will affect fewer customers over time as the .NET Standard 2 story emerges. Putting this in the backlog for that reason.

[2016-12-12 18:20] cartermp commented on #764
Closing, as the VS tooling is changing to support P2P references, and all xproj projects are automatically migrated.

[2016-12-12 18:20] #764 closed

[2016-12-12 18:25] BillWagner commented on #763
We need to determine how this will work in the .NET Standard 2.0 world.

@richlander who owns these types?

[2016-12-12 18:25] cartermp commented on #762
Moving to backlog for now until we get more clarification on API changes.

[2016-12-12 18:35] BillWagner commented on #759
Closing this. The links are now part of the chrome for docs.

[2016-12-12 18:35] #759 closed

[2016-12-12 18:35] #758 closed

[2016-12-12 18:39] BillWagner commented on #509
We should determine what happens here with the new project model.

[2016-12-12 20:44] spboyer commented on #806
Project created https://github.com/dotnet/docs/projects/4
@BillWagner @mairaw @richlander

[2016-12-12 22:01] BillWagner commented on #490
Closed per PR #1302

[2016-12-12 22:18] stevehoag commented on #490
Reopening - #1302 only addresses the basic LINQ content. We still need to address the remaining LINQ content in the Programming Guide.

[2016-12-13 14:50] spboyer commented on #806
Outline of topics that has been circulating

- [ ] Hello World – Basic – File -> New Project using VS2017 Docker Tools for VS
- [ ] Using Docker for Console Applications (WebJobs)
- [ ] Web Application using multiple containers
- [ ] Scaling Using Compose
- [ ] Building Applications using Microservices
         * Web Application
         * Web API Container
         * Database
         * Redis / C

[2016-12-13 18:42] cartermp opened #1330 "Migrating from `dotnet` and all other .NET Core project types"
We had multiple ways to create .NET Core projects prior to the MSBuild/csproj-based assets that are shipping for RTM of .NET Core tooling.  There were different project types in VS (xproj, PCL csproj with some packages) and different TFMs.  We need a doc which explains how each of the project types are obsolete, and what the upgrade path looks like for them.

This is motivated by a bug in TFS wher

[2016-12-14 06:45] garrardkitchen opened #1333 "No mention of installing Microsoft.WindowsAzure.ConfigurationManager package for Azure Storage in doc"
Hi,

The documentation for all F# Storage (e.g. https://docs.microsoft.com/en-us/dotnet/articles/fsharp/using-fsharp-on-azure/table-storage) does not include anything regarding the installing of the Microsoft.WindowsAzure.ConfigurationManager package. This must be installed for CloudConfigurationManager to be available.  This is true for VSCode and f# console app and VS f# console app.

[code]

Wa

[2016-12-14 15:37] BillWagner opened #1335 "LINQ Tutorial: Add instructions to iterate the initial sequence"
In this tutorial section https://docs.microsoft.com/en-us/dotnet/articles/csharp/tutorials/working-with-linq#creating-the-data-set there are no instructions to enumerate the initial card deck.  The foreach loop from the final code should be added.

[2016-12-14 18:11] mairaw commented on #1333
@cartermp can you take a look at this one?

[2016-12-14 18:13] mairaw commented on #739
@blackdwarf can you take a look at this?

[2016-12-14 18:14] mairaw commented on #726
This has been fixed a while back. Closing this one.

[2016-12-14 18:14] #726 closed

[2016-12-14 18:15] mairaw commented on #714
@blackdwarf @kendrahavens is this related to the deployment instructions we'll be adding here?

[2016-12-14 18:17] mairaw commented on #683
@cartermp should we add this to Getting Started improvements project?

[2016-12-14 18:19] mairaw commented on #678
@kraigb would this be something that would be covered in the NuGet docs instead?

[2016-12-14 18:21] mairaw commented on #674
@richlander can you clarify here what you want to see? Is this about building your own version of .NET Core/.NET Framework?

[2016-12-14 18:23] mairaw commented on #662
@Rick-Anderson @tdykstra this seems to be something that would be covered in your docs. Should we open an issue on your repo?

[2016-12-14 18:25] mairaw commented on #654
@richlander can you elaborate on what you'd like to see in this topic?

[2016-12-14 18:26] mairaw commented on #623
do we still need this @Rick-Anderson?

[2016-12-14 18:32] kraigb commented on #678
Yes, I think this would be appropriate under Finding and Choosing Packages, http://docs.nuget.org/ndocs/consume-packages/finding-and-choosing-packages. I'll create an issue in the NuGet repo for that.

[2016-12-14 18:38] BillWagner commented on #678
Closed, as this will be handled in the NuGet Repo. See https://github.com/NuGet/Home/issues/4109

[2016-12-14 18:38] #678 closed

[2016-12-14 18:54] tdykstra commented on #662
@mairaw Seems a better fit for the Azure repo, which already has ASP.NET docs which will eventually need to be updated to ASP.NET Core.  Easy auth itself is not framework-specific.

cc @cephalin @rachelappel

[2016-12-14 18:55] blackdwarf commented on #714
@mairaw we should, actually. I think we should cover these in the installation as well.

[2016-12-14 19:06] cartermp commented on #1333
Thanks for the report, @garrardkitchen.  I'll take a look.

[2016-12-14 19:08] cartermp commented on #683
Yep, we could so something like this.  I think the issue is that this represents new content entirely and we'll have to think about where it can best exist.  Right now we have getting started material for VS, VS ode, and the .NET CLI, but not MonoDevelop or VS for Mac.

[2016-12-14 19:23] Rick-Anderson commented on #623
@danroth27  @cesarbs  do we need doc on migrating dnx unit test projects to dotnet unit test projects

[2016-12-14 21:03] #265 closed

[2016-12-15 06:50] danroth27 commented on #623
At this point I believe this is low priority and is just going to get to less important. I think we should just close this one out.

[2016-12-15 07:30] #623 closed

[2016-12-15 16:47] blackdwarf opened #1339 "Add more documentation for dotnet test and dotnet vstest for Preview 3+ bits"
There are certain features that do not exist in the `dotnet test` and `dotnet vstest` docs that need to be added, such as the ability to use .runsettings files, how filtering of tests work etc.

/cc @mairaw

[2016-12-15 17:13] mgroves commented on #275
When this gets merged into master, does it get published somewhere? Where? Is it published automatically?

[2016-12-15 18:20] BillWagner commented on #275
@mgroves I'm really glad you asked that. See the comments I just added to PR #1317

Once it's merged, after we do a nightly build and deploy, it will show up under http://docs.microsoft.com/dotnet/articles/csharp/tutorials/

[2016-12-15 18:47] BillWagner commented on #275
Fixed in #1317

[2016-12-15 18:47] #275 closed

[2016-12-15 21:41] kendrahavens commented on #806
This list looks good.

These could use the samples we already have on docker hub and gh below:
- [ ] Docker on Windows
  * [.NET Core on Nano Server](https://github.com/dotnet/dotnet-docker-samples)
  * [.NET 4.6 Applications](https://github.com/Microsoft/dotnet-framework-docker-samples/tree/master/dotnetapp-4.6.2)

For these, I'm working on something with the SQL Server Team that overlaps this to

[2016-12-16 20:15] rachelappel commented on #662
@tdykstra @mairaw @richlander Yes, this should go in the Azure repo

[2016-12-16 22:31] mairaw commented on #1062
@svick can you please test this again? Team says they have fixed this now.

[2016-12-16 23:24] svick commented on #1062
Yes, it works fine for me now. Thanks to the team for making it work.

[2016-12-16 23:24] #1062 closed

[2016-12-17 02:01] mairaw commented on #1069
@badersur can you test this again? The engineering team resolved our internal bug as fixed and we also have a new home page since last month. Thanks!

[2016-12-17 16:18] badersur commented on #1069
@mairaw Your new home page is awesome! Thanks for letting me know about it :)

[2016-12-17 18:47] mairaw commented on #1069
You're welcome! I'm glad you like it. I'm closing this issue then.

[2016-12-17 18:47] #1069 closed

[2016-12-19 12:37] DanielStolt commented on #1311
Indeed. I think the main sources of confusion are:

- the meaning of the word "framework"
- the distinction between "framework" and "package based framework"
- above all, the apparent circular definition, how can a framework both *define* and *be defined by* the set of packages which target it

[2016-12-19 15:55] BillWagner commented on #1283
See PR #1318 for the C# changes.

[2016-12-20 08:43] tmds opened #1345 "Document including runtime specific packages via runtime.json"
From https://github.com/dotnet/cli/issues/5038#issuecomment-267517531:

There is no documentation for this. It could be added to: https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries

[2016-12-20 19:18] mairaw commented on #1257
We also need to make sure they work with Preview 4 and name them that way

[2016-12-20 20:44] BillWagner opened #1347 "Extend REST client tutorial to include a POST example"
The REST client tutorial has gotten really good feedback. One of the requests is to add a section (or a new tutorial) that shows how to POST data as well as receive it.

We need a good example to use for a service where we can post data that doesn't change important live information.

[2016-12-22 21:39] #1277 closed

[2016-12-26 20:25] cartermp opened #1359 "Roadmap: I need to do X, what do I target?"
This is inspired from this long thread: https://twitter.com/Aaronontheweb/status/812383534744682496

We have a large base of developers who are familiar with .NET Framework, but the new world of .NET might be confusing to them.  They're not beginners in the sense that they do not have a blank slate, but they are likely to be unfamiliar enough with .NET Standard and .NET Core that everything could

[2016-12-27 18:32] BillWagner commented on #1359
This is a great observation. Let's start with a list of potential scenarios for "I need to do `X`".

1. Build a new library that runs on all supported .NET platforms.
2. Update an existing Windows only .NET library to run on all platforms.
3. Update a UWP library to a library that depends only on .NET Standard.
4. Repackage an existing application into libraries so that different apps can be built

[2016-12-28 00:52] cartermp commented on #1359
That's a good list.  I'll add "I need to run my server app cross-platform".  I think that we can break it up into four sections:

1. New to .NET
2. Familiar with the .NET Framework, but new to .NET Core and .NET Standard
3. Familiar with Xamarin, but new to .NET Core and .NET Standard
4. Familiar with the .NET Framework, Xamarin, .NET Core, and .NET Standard

Each can have subsections. that includ

[2016-12-28 20:54] BillWagner opened #1362 "Create API topic for System.ValueTuple"
There are a set of ValueTuple generic structures that are required to support the C# 7 Tuple language feature. These are currently delivered with the System.ValueTuple NuGet package. However, this assembly will be part of the application meta packages delivered with the RTM release of C# 7.

This may be just a placeholder to ensure that we pull this class into the docs when we create the final API

[2016-12-28 20:58] BillWagner opened #1363 "Create API Topic for System.ValueTask"
The System.ValueTask generic structure is one easy way to use the C# 7 generalized async return feature. It is currently delivered with the System.Threading.Tasks.Extensions NuGet package. However, this assembly will be part of the application meta packages delivered with the RTM release of C# 7.

This may be just a placeholder to ensure that we pull this class into the docs when we create the fin

[2016-12-28 20:59] BillWagner opened #1364 "C# Language keywords: when"
Added in C# 6 for Exception filters.
Updated in C# 7 for pattern matching switch statements.

The migrated C# Language reference does not contain this keyword.

In addition, the C# Language programming guide incorrectly states that exception filters are not supported in C#

[2016-12-28 21:00] BillWagner opened #1365 "C# Language Keywords: is"
The `is` C# language keyword documents that have been migrated do not include the updated features in C# 7 for pattern matching.

[2016-12-28 21:01] BillWagner opened #1366 "C# Language keywords: ; nameof"
The migrated C# Reference documentation does not include the nameof keyword. Added in C# 6 for name of a symbol.

What needs to happen here to support F1 support in Visual Studio or VS Code? /cc @pilchie @dustincampbell.

[2016-12-28 21:05] BillWagner opened #1367 "C# Language keywords: using static"
The C# language reference for `using` and for `static` does not include the features added in C# 6. Need to update the using keyword, and the static keyword.

Should F1 help go to a new page for 'using static' when that entire phrase is selected in a C# code file in Visual Studio? /cc @pilchie

[2016-12-28 21:07] BillWagner opened #1368 "C# Language operators: ?. Null Conditional operator"
The migrated content does not include the `?.` operator added in C# 6. The result is null if the LHS is null, right if LHS is not null.

[2016-12-28 21:07] BillWagner opened #1369 "C# Language keywords: get."
The read only auto implemented property feature added in C# 6 is not discussed in the migrated content.

[2016-12-28 21:08] BillWagner opened #1370 "C# Language Reference: Operator $"
The migrated C# language reference content does not include the `$` operator added in C# 6 for string interpolation.

[2016-12-28 21:09] BillWagner opened #1371 "C# Language reference keywords: await"
Await is now allowed in catch and finally blocks. The migrated content incorrectly disallows this.

[2016-12-28 21:11] BillWagner opened #1372 "C# Language Reference keywords: async"
Starting in C# 7, async methods can now return types other than Task and Task<T>. (The contract is to have an accessible GetAwaiter() method). The System.ValueTask type is one example of this.

[2016-12-28 21:12] BillWagner opened #1373 "C# Language Reference expressions: throw"
Starting in C# 7, `throw` can now be an expression as well as a statement.

[2016-12-28 21:13] BillWagner commented on #1373
@madstorgersen Is it correct to say that `throw` can be used both as a statement or an expression, or is it always an expression starting in C# 7?

[2016-12-28 21:14] BillWagner opened #1374 "C# Language Reference statements: local function declarations"
The migrated content does not include this feature. This is a new statement type in C# 7. In enables declaring functions nested inside other functions.

[2016-12-28 21:15] BillWagner opened #1375 "C# Language Reference keywords: ref"
Starting in C# 7, the `ref` keyword can be used on local variables and method returns, in addition to method parameters and arguments.

[2016-12-28 21:17] BillWagner opened #1376 "C# Language reference statements: switch, case"
The migrated content does not include the new features for `switch` and `case` that relate to C# 7 pattern matching expressions.

This may be a higher priority than the other reference material. The `switch` and `case` statement page is one of the most popular on the C# section of MSDN.

[2016-12-28 21:18] BillWagner opened #1377 "C# Language Reference keywords is"
In C# 7, this now supports assignment in pattern matching expressions.

The migrated content does not include this usage.

[2016-12-28 21:18] BillWagner opened #1378 "C# Language reference keywords: out"
Out variables can be declared where they are first used rather than on a separate statement, starting in C# 7.

[2016-12-28 21:18] Pilchie commented on #1367
Currently, F1 help basically ignores the selection, and just uses the [position of it's start](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.CSharp/LanguageService/CSharpHelpContextService.cs,52) to trigger help.  We'd have do something to fix that if we were to address this.

[2016-12-28 21:20] BillWagner opened #1379 "C# Programming Guide: Extension Add in Collection Initializers"
Collection Initialization statements can now make use of an accessible extension method. (Prior to C# 6, the Add method was required to be a member).

This may also need to be updated in the reference section on initialization statements.

[2016-12-31 20:24] GuardRex opened #1381 "Question on instructions for smaller footprint self-contained app"
@blackdwarf @mairaw

In ...

https://github.com/dotnet/docs/blob/master/docs/core/preview3/deploying/index.md#deploying-a-self-contained-deployment-with-a-smaller-footprint

... where it discusses changing ...
[code]
[Note: My test app is 1.1, so I changed that :point_up: to 1.1 over what's in the doc.]
... to ...
[code]

I published the app both ways ... with the `TargetFramework` set to `netstan

[2017-01-02 02:42] GuardRex commented on #1381
This question is premature: There's still some work being done on this right now (https://github.com/dotnet/sdk/pull/450#issuecomment-269839148). I'll reopen later if needed.

[2017-01-02 05:27] dsplaisted commented on #1381
I think the reason you aren't seeing a size difference is because your app is referencing ASP.NET MVC, which probably brings in most everything that you could cut out by switching to the "smaller" footprint method.  Try it on a "Hello World" console app and you should probably see a size difference.

[2017-01-02 19:24] GuardRex commented on #1381
This subject makes more sense to me now. It's been explained to me that currently there is no difference between `netstandard*` and `netcoreapp*`. In the future, they may diverge. If they do, then a difference in app size might be seen if the `TargetFramework` is changed ... maybe.

There is a problem here (or a pair of problems).

The words "using" and "includes" in the first part of the statemen

[2017-01-03 14:59] blackdwarf commented on #1381
/cc @rpetrusha

[2017-01-03 19:26] MadsTorgersen commented on #1373
I believe we keep separate notions of throw expressions and throw statements. @gafter may be able to elaborate.

[2017-01-03 20:15] gafter commented on #1373
Yes, it is separately a statement and expression. The reason we keep the statement form is that it has unique reachability behavior that is different from other expression-statements. Specifically, its endpoint is not reachable.

[2017-01-03 22:12] mairaw commented on #1366
And you need the F1 metadata added to the docs too.

[2017-01-04 16:03] #1190 closed

[2017-01-04 20:31] svick commented on #1368
Isn't [this](https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/operators/null-conditional-operators) that article? Though it could use cleanup to be consistent with the other operator articles. And probably splitting into a C# and a VB article. And possibly also splitting `?.` and `?[`.

[2017-01-04 20:43] svick opened #1387 "Some C# operator articles have incorrect titles, file names and TOC entries"
It seems that when the content was migrated, some [C# Operators](https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/operators/) articles didn't have their titles, file names and TOC entries migrated properly. Specifically (empty cells are fine):

| Operator | Title | File name | TOC entry |
|---|---|---|---|
| `[]` | Operator | | Operator1 |
| `-` | | | - Operator2 |
| `/`

[2017-01-04 22:00] svick commented on #1387
Looks like VB is even worse, [its `\=` is very broken](https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/language-reference/operators/subtraction-assignment-operator).

[2017-01-06 16:23] BillWagner commented on #1368
@svick I also want to make sure that `??` is covered, or at least linked to as well.

[2017-01-06 16:27] #1387 closed

[2017-01-06 16:43] BillWagner commented on #1387
Adding @stevehoag for the VB discussion. Should we open a new issue for the VB.NET operator titles?

[2017-01-06 17:02] svick commented on #1387
@BillWagner Since #1389 is already merged, I don't see why (unless I missed something in that PR).

[2017-01-06 17:31] BillWagner commented on #1387
@svick I didn't see changes on the VB operator titles in this PR.  Did I miss them?

[2017-01-06 18:06] svick commented on #1387
@BillWagner I created two PRs: #1388 for C#, which you merged and #1389 for VB, which was merged by @stevehoag. So I think there's nothing else to do here, unless I am the one who is missing something.

[2017-01-06 19:05] BillWagner commented on #1387
@svick Thanks. I had not looked at #1389 and that's why I wondered. I'm glad it's all good

[2017-01-09 17:18] #56 closed

[2017-01-09 18:15] mairaw commented on #470
We already have this one for class libraries: https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/library-with-visual-studio-2017

[2017-01-09 18:26] mairaw commented on #551
Closing as dupe of #1120

[2017-01-09 18:26] #551 closed

[2017-01-09 18:30] mairaw commented on #547
@dend @bradygaster this is still an issue and we should discuss how we handle differences in hierarchy in the future when the content is merged. With .NET Standard 2.0, the difference might be smaller but we still need to know how to handle those.

[2017-01-09 20:43] Rick-Anderson opened #1397 "Guidelines for security administration"
_From @PeteX on January 9, 2017 17:46_

When we deploy an application, we also set up a maintenance process for it, because forgotten applications can easily turn into a security risk.  The main thing we're looking at is the application's third party dependencies.  These need to be updated if they have released security patches since our application was written.

The .NET Core documentation is ver

[2017-01-09 20:45] #470 closed

[2017-01-09 20:45] Rick-Anderson commented on #1397
To get you started, see the [.NET Core Support Lifecycle Fact Sheet](https://www.microsoft.com/net/core/support)
cc @richlander

[2017-01-09 21:51] rpetrusha commented on #1362
[ValueTuple](https://msdnstage.redmond.corp.microsoft.com/en-us/library/system.valuetuple(v=vs.110).aspx), along with the generic [ValueType<>](https://msdnstage.redmond.corp.microsoft.com/en-us/library/system(v=vs.110).aspx) structures, are documented for the .NET Framework on the MSDN staging server. We should be able to migrate this content.

/cc @mairaw @rpetrusha @terrajobst

[2017-01-10 00:19] spboyer commented on #806
@kendrahavens any progress on the item you mentioned for Microservices?

[2017-01-10 00:46] kendrahavens commented on #806
@LuisBosquez is working the [Database scenario](https://github.com/LuisBosquez/docker-mssql-samples)
I've worked on a very simple [Web Application for ASP.NET Core](https://github.com/kendrahavens/dockerize-dotnet-app).

The Web API Container and Redis/Cache topics would still be up for grabs.

[2017-01-10 01:44] mairaw opened #1398 "Enhance breadcrumb functionality for .NET docs"
Our breadcrumb for .NET docs is very simple and only goes to 3 levels (https://github.com/dotnet/docs/blob/master/toc.yml). Ideally, our breadcrumb would match our TOC nodes similar to what VS docs have (https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference).

[2017-01-10 12:57] PeteX commented on #1397
Thanks for the link; that document is a good start.  Is the idea that security exposures in any part of .NET Core will be fixed by a point release of the whole platform?  For example, in aspnet/Announcements/issues/203 a security issue with ASP.NET was fixed as part of the .NET Core 1.0.1 point release.  Can we assume that this will always be the case, rather than you releasing for example Microso

[2017-01-11 18:11] mairaw commented on #1397
/cc @richlander @staceyhaffner @leecow

any thoughts on this?

[2017-01-11 18:13] BillWagner commented on #1397
This is older, but I think this relates to the topic: https://blogs.msdn.microsoft.com/dotnet/2014/01/22/net-4-5-1-supports-microsoft-security-updates-for-net-nuget-libraries/

[2017-01-11 18:15] BillWagner commented on #469
See also #1397

[2017-01-11 18:15] BillWagner commented on #1397
See also #469

[2017-01-11 18:20] mairaw commented on #443
@rpetrusha is there more work here? I know we need to update that topic for enhancements and changes, but I'm wondering if the basics are already covered.

[2017-01-11 18:41] mairaw commented on #303
This is related to moving .NET Framework to .NET Core using NuGet.

[2017-01-11 18:44] mairaw commented on #97
@stevehoag is there anything else to be done here? I know you've recently worked on some LINQ content.

[2017-01-11 18:46] rpetrusha commented on #443
@mairaw No, I think that the basics are already covered. I'll close this.

[2017-01-11 18:46] #443 closed

[2017-01-11 19:17] stevehoag commented on #97
This is from before the LINQ topics for VB were moved over from MSDN, so I'm guessing this is no longer a priority.

[2017-01-11 22:47] PeteX commented on #1397
The technique described in @BillWagner's link sounds interesting, but we're wanting to deploy on Linux, so that wouldn't help us directly.

Something similar but cross-platform would be very useful, though probably a significant amount of work for you.  For now, it would be fine if we just had instructions about what to check when we do our maintenance.

(If you can make the maintenance process sm

[2017-01-11 22:55] BillWagner commented on #1397
@PeteX Thanks for the additional clarification.  We know we need more content here. We're investigating what the right answers are, and once we have the guidance, we'll get this done.

[2017-01-14 02:53] mairaw opened #1408 "Fix product name on title for SEO purposes"
On a meeting today with the SEO team, they've determined that the correct name to show up after the | in our title metadata is  | Microsoft Docs. This is to help the site reputation of docs.microsoft.com with search engines. Our older content didn't follow this and our style guide also needs to mention this.

[2017-01-17 20:40] Treit opened #1415 "Code example for topic 'Classes and Structs' is wrong"
On the following page there is a section called 'Example' that is wrong:
https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/classes-and-structs/index.md

The text of the topic says the following:

The code sample that is linked to, however, is the following:
https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/index_1

[2017-01-17 20:43] rpetrusha commented on #1415
@Treit I'll take care of fixing it. Thanks for noticing it.

[2017-01-18 17:24] #1415 closed

[2017-01-18 18:48] mairaw opened #1418 "Move csproj-based topics to the main path and redirect preview3 topics"
With the migration of .NET Core projects from project.json to the csproj format, we need to restructure the content to no longer have the two paths (preview 2 and preview3+). So the content on the [preview3](https://github.com/dotnet/docs/tree/master/docs/core/preview3) folder need to be moved to its final location and the preview 3 files will be redirected to that place.

[2017-01-18 20:13] rpetrusha opened #1420 "Remove "RC" from Visual Studio 2017 product name"
(Search reveals 13 occurrences)

[2017-01-18 21:09] rpetrusha opened #1422 "Redirect Visual Studio 2015 tutorials to Visual Studio 2017 versions."
The C# Getting Started topics for Visual Studio 2015 should all redirect to the Visual Studio 2017 version of the topic.

[2017-01-19 00:10] rpetrusha opened #1425 "Update Publishing your Hello World application with Visual Studio 2017 to reflect publishing from Visual Studio UI"
The Publishing feature had not been implemented in Visual Studio 2017 RC, so the topic currently shows how to publish from the command line.

[2017-01-19 00:27] mairaw opened #1426 "Update links to NuGet and ASP.NET Core docs"
NuGet and ASP.NET Core content has moved to docs.microsoft.com. Right now, there's individual topic redirects but this is not long term (at least for NuGet). So we should update the docs to link to the new targets.

[2017-01-19 16:59] mgroves commented on #71
I'd be interested in writing this tutorial. Anything in particular that needs to be covered? The basics of how to write one, conventions, and how to use it?

Attributes really don't do anything by themselves (with some exceptions like CallerMemberName, CallerFilePath, and some others that I can't think of right now). So this would be a reflection-heavy tutorial?

Certainly a lot of tools/framework

[2017-01-20 22:36] AbhimanyuAryan opened #1433 "Project not build in active configuration Visual Studio MacOS .net Core"
I have created an Console Application(.Net Core) in Visual Studios MacOS Preview. In the project solution I don't see my program.cs also other things are not available it says *Project not built in active configuration*

[![enter image description here][1]][1]

whereas the project solution should look something like this

 [![enter image description here][2]][2]

I have installed [.net core for ma

[2017-01-20 23:35] rpetrusha opened #1435 "Convert some project.json samples #1"
./samples/csharp/getting-started/console-teleprompter/project.json

./samples/csharp/getting-started/console-linq/project.json

[2017-01-21 00:25] rpetrusha opened #1437 "Convert project.json to csproj: ./samples/snippets/csharp/tour/"
11 projects under this

[2017-01-21 07:55] #1257 closed

[2017-01-21 07:55] #1426 closed

[2017-01-21 08:34] mairaw commented on #1433
@richlander @blackdwarf I think this issue would be more appropriate on a different repo since it's not related to the docs per se. Any suggestion where we should move this? Or do you know why this happen?

[2017-01-21 08:36] AbhimanyuAryan commented on #1433
Yes I would like to know where to move this issue @mairaw

[2017-01-21 09:12] mairaw commented on #652
Moving to backlog since @conniey is updating the usage instructions with PR #1434. Let's coordinate on moving the content over here if that's still desired.

[2017-01-21 17:40] blackdwarf commented on #1433
The reinstall of openssl error simply says that that version or a newer one is present and that if the user wants that particular one, the `--force` switch to `brew install` will install it. It is not needed, if you have openssl 1.1 installed, all should be fine.

For the VS for Mac issue, I would need more data:

1. What is the version?
2. Can it build at all?
3. Can it run?
4. Can we see the pro

[2017-01-21 17:40] blackdwarf commented on #1433
Also, @AbhimanyuAryan if you want you can move this issue to dotnet/core and we can continue the discussion there.

[2017-01-21 18:01] cartermp opened #1439 "Search doesn't work for symbols"
Search in the .NET Docs for `||>`.

Expected: [F# Symbol and Operator Reference](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/symbol-and-operator-reference/) is in the results.

Actual: No results.  See: https://docs.microsoft.com/en-us/search/index?search=%7C%7C%3E&scope=.NET

Background:

Someone trying F# for the first time reported in the Functional Programming Sl

[2017-01-21 20:05] AbhimanyuAryan commented on #1433
This issue is fixed http://stackoverflow.com/questions/41773344/project-not-build-in-active-configuration-visual-studio-macos-net-core

[2017-01-21 20:05] #1433 closed

[2017-01-21 21:10] mairaw commented on #1439
We probably need to file an internal bug for this one.

I've seen other issues with search that would be good to follow-up.

/cc @EisenbergEffect @dend @bradygaster

[2017-01-22 21:31] BillWagner commented on #71
@mgroves Thanks for wanting to take this on! I apologize for the slightly late reply. I was traveling.

I think this should cover:

1. How to add attributes to code.
2. How to create new attribute types.
3. How to restrict attribute usage to Class, Method, etc.
4. How to find Attributes attached to a code element (which would use reflection.)
5. Examples of a few common attributes in the BCL (obso

[2017-01-22 21:34] mgroves commented on #71
Sounds great. Should I just submit pull request for your review/feedback?

[2017-01-22 22:36] BillWagner commented on #71
That would be great. Just @ - message me when you submit it.

[2017-01-22 23:24] EisenbergEffect commented on #1439
I'll create a bug to track this.

[2017-01-23 20:00] EisenbergEffect commented on #1439
I've created the bug in our system and alerted the engineering team that works on search of the issue. @cartermp Thanks for alerting us of the issue!

[2017-01-23 20:02] cartermp commented on #1439
Thanks!

[2017-01-24 04:15] BillWagner opened #1445 "[Project] Update project.json content to msbuild projects"
This is a meta-issue for the [Update from project.json based projects to csproj based projects](https://github.com/dotnet/docs/projects/5) project.

Subtasks will be defined as this project is planned in full.

Comment below to suggest new content, or updates to existing content.

[2017-01-24 15:32] blackdwarf opened #1448 "Document `dotnet sln` command"

[2017-01-24 15:36] blackdwarf opened #1449 "Update the csproj reference to be aligned with the latest csproj templates"
The current one in Preview 3 is out of date with respect to some things, especially the use of metadata as attributes instead of child elements.

[2017-01-24 15:37] blackdwarf opened #1450 "Documentation for new dotnet new"
In RC3 we have added `dotnet new3` which will, in RTW, become `dotnet new`. It is a new way to create templates, much more powerful than previous `new`.

[2017-01-24 15:37] blackdwarf opened #1451 "Document CRUD command for package references (dotnet add/remove/list package)"

[2017-01-24 15:37] blackdwarf opened #1452 "Document CRUD command for project references (dotnet add/remove/list project)"

[2017-01-24 15:42] blackdwarf opened #1453 "Document the base CRUD commands (add/list/remove)"
The convention we have is to have `dotnet add/list/remove/update` verbs followed by a noun that "specifies"  what the verb will operate on. I think we should cover this convention somehow and explain it to people.

[2017-01-24 15:44] blackdwarf opened #1454 "Clean up the CI document"

[2017-01-24 15:44] blackdwarf opened #1455 "Add dotnet clean as a command"

[2017-01-24 15:44] blackdwarf opened #1456 "Create a document that outlines the mapping of significant concepts between project.json and csproj"

[2017-01-25 05:43] GuardRex commented on #1381
I think this should go back to closed for now. I'll check again when 2.0 lands. If I can't get the small-footprint self-contained app working, I'll reopen at that time.

[2017-01-25 05:43] #1381 closed

[2017-01-26 21:49] squillace commented on #806
Hey, all, from the linux/mac side of the house, anything that can streamline the CI/CD scenario with non-M$ tools/services is great stuff. pain points ARE definitely those that are hard to "get". I'd be onboard with making sure it all works from linux/mac and _through_ any kubernetes/dcos/swarm scenario, especially on Azure (but not explicitly). I've written for dcos.io and docker and soon will be

[2017-01-27 08:41] MurtuzaTravadi commented on #1292
i am not getting this can any one explain..
in my application i getting this same error
PM> Add-Migration MyFirstMigration
dotnet exec needs a managed .dll or .exe extension. The application specified was 'D:\Murtuza_Travadi\WebApplication2\src\WebApplication2\bin\Debug\netcoreapp1.0\WebApplication2.runtimeconfig.json'
Process finished with non-zero exit code

[2017-01-27 17:33] mairaw commented on #1292
@MurtuzaTravadi what version of the tooling you have installed?

[2017-01-28 06:00] MurtuzaTravadi commented on #1292
Thank you @mairaw for your response its version just framework issue. i have updated ef to 1.1 but i haven't select target framework in project properties Thank you again

[2017-01-28 14:25] MurtuzaTravadi commented on #1292
@mairaw can you please loot at issue #7506
Thank you

[2017-01-28 17:54] mairaw commented on #1292
I'm glad you figured out what was wrong. We don't have that issue number in our documentation repo. Are you talking about an issue in different repo?

[2017-01-29 05:35] MurtuzaTravadi commented on #1292
I have create one project in .net core version1.1 and default .net framework 6.2

when i saved and exit program after that i reopen that same project i am getting this error
"Value cannot be null parameter name key"

=====================

Recoverable
System.AggregateException: One or more errors occurred. ---> System.ArgumentNullException: Value cannot be null.
Parameter name: key
   at System.Co

[2017-01-30 18:06] #1425 closed

[2017-01-30 18:29] mairaw commented on #1140
The new version of the CLI topic has already been simplified and broken down into two:
https://github.com/dotnet/docs/blob/master/docs/core/preview3/tutorials/using-with-xplat-cli-msbuild.md
https://github.com/dotnet/docs/blob/master/docs/core/preview3/tutorials/using-with-xplat-cli-msbuild-folders.md

Just need to review them to make sure they're easy to understand for a beginner user.

[2017-01-30 18:31] BillWagner opened #1467 "Update Unit Testing using mstest with csproj based builds"
docs/core/testing/unit-testing-with-dotnet-test.md
docs/core/testing/using-mstest-on-windows.md

[2017-01-30 18:33] BillWagner opened #1468 "Unit testing using xUnit with core: project.json to csproj"
./samples/core/getting-started/unit-testing-using-dotnet-test/global.json
getting-started/unit-testing-using-dotnet-test/src/PrimeService/project.json
getting-started/unit-testing-using-dotnet-test/test/PrimeService.Tests/project.json

[2017-01-30 18:54] BillWagner commented on #1420
Fixed in PR #1421
/cc @rpetrusha

[2017-01-30 18:54] #1420 closed

[2017-01-30 18:56] BillWagner commented on #1422
Fixed in PR #1423
cc @rpetrusha

[2017-01-30 18:56] #1422 closed

[2017-01-31 00:48] rpetrusha opened #1470 "docs/csharp/getting-started/with-visual-studio-code.md"

[2017-01-31 03:10] mairaw opened #1472 "Fix parameter names for dotnet test command"
There are several argument names that have the incorrect name listed for this topic:
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-test

[2017-01-31 18:08] BillWagner opened #1477 "We need to cover code coverage on core in our unit testing"
Reported in our verbatims (work item 873286, and 873328, and 873642)

Our topics on unit testing currently don't cover code coverage for .net core.

We should address that, using both xUnit or MSTest.

[2017-01-31 21:25] BillWagner opened #1479 "Pattern Matching: Check the vocabulary for "switch pattern expressions". The 'switch expression' term may be wrong in the What's new article"
The correct terms should be "Switch Statement" and "Match Expression" for the new syntax on the case statements.

[2017-01-31 21:28] mairaw opened #1480 "Review topics that use Visual Studio 2017 RC"
Some screenshots and instructions might have changed with the RC3 release.

[2017-01-31 22:39] morrisjoe opened #1482 "Documentation provided in the "More information" link of the "One-Way Upgrade" dialog is inaccurate in the context of .NET Core and ASP.NET Core projects"
Copied over from https://github.com/dotnet/roslyn-project-system/issues/967

Fix here is to add a pj->csproj migration related blurb to https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects and cross-link it to more info in .NET Core docs.

Suggest reviewers @morrisjoe

[2017-01-31 23:43] mairaw commented on #1482
@morrisjoe by reading the issue https://github.com/dotnet/roslyn-project-system/issues/967, it seems you want to actually update the docs for VS, not .NET, correct? If so, the appropriate place to file this would be: https://github.com/Microsoft/visualstudio-docs

/cc @ghogen

[2017-01-31 23:56] morrisjoe commented on #1482
I did. See https://github.com/Microsoft/visualstudio-docs/issues/30
But please note that there are 2 parts...Part1, which is a blurb the vsdocs will need to add to their content. Part2, which is a topic in .NET Core focused on IDE migration which vsdocs will link to from their content.
So until Part2 is done, please don't close this issue in dotnetdocs

[2017-01-31 23:59] mairaw commented on #1482
Ah, gotcha!

[2017-02-01 00:24] morrisjoe opened #1483 "Document default compiler defines"
Moved from https://github.com/dotnet/sdk/issues/694

Suggest reviewers @morrisjoe @ blackdwarf

[2017-02-01 01:18] cartermp commented on #1483
Note that there is a table [here](https://github.com/dotnet/docs/blob/master/docs/core/tutorials/libraries.md#how-to-multitarget) which could likely be used.

[2017-02-01 01:36] johnsimons opened #1484 "Menu wrapping too much"
![image](https://cloud.githubusercontent.com/assets/122651/22491910/7acf818c-e872-11e6-91ef-cc16162d6787.png)

I tried it in IE and Chrome

[2017-02-01 01:43] mairaw commented on #1484
Thank you @johnsimons! We're aware of this issue and working to fix this. I'm going to close this one as a duplicate of #1283.

[2017-02-01 01:43] #1484 closed

[2017-02-01 08:22] wallymathieugarantibil commented on #1454
[I wrote about](http://assertfail.gewalli.se/2017/01/29/Running-dotnet-core-11-on-appveyor-and-travis.html) the experience trying to get stuff running on travis with .net 1.1.
It would be nice if we could have some accessible documentation about what the different preview versions for instance:
1.0.0-preview2.1-003177
1.0.0-preview2.1-003155
et.c. maps to. Or is this due to the fact that the curre

[2017-02-01 18:36] #1437 closed

[2017-02-01 18:43] rpetrusha opened #1485 "docs/csharp/tutorials/ csproj conversion"
project.json-specific references should be removed from the following topics:
console-webapiclient.md
microservices.md
string-interpolation.md

[2017-02-01 18:45] #1470 closed

[2017-02-02 01:17] mairaw opened #1489 "Running selective unit tests in VS using TestCaseFilter"
the dotnet test command links to https://aka.ms/vstest-filtering for more info on filtering support which is an old blog post (VS2012 timeframe) about using filters. We should have this information in our docs instead. Either as a new topic or as part of the dotnet test topic itself.

[2017-02-02 16:27] BillWagner commented on #1485
Fixed in #1488

[2017-02-02 16:27] #1485 closed

[2017-02-02 17:02] BillWagner opened #1491 "Duplication of C# and VB compiler messages and folders"
The C# compiler error messages are located in two different directories.

/docs/csharp/misc and /docs/csharp/language-reference/compiler-messages.

They should all be in the 2nd directory, and we need to update the F1 help for Visual Studio to point to the correct location.

The same is true for VB:

/docs/visual-basic/misc

/docs/visual-basic/language-reference/error-messages

/cc @Pilchie

[2017-02-02 17:04] Pilchie commented on #1491
VS doesn't point to a directory - we just push the error message id, and the F1 help service does a lookup on the server.

[2017-02-02 19:31] mairaw commented on #1491
It would be interesting to talk with Bill Chiles and see if he knows why this was split. I see some that are in misc and not in compiler-messages and vice-versa. F1 help should just work since the F1 metadata is already present in the topics.

[2017-02-02 22:17] BillWagner opened #1494 "update the webapi client tutorial for CS Proj"
./samples/csharp/getting-started/WeatherMicroservice/project.json

./samples/csharp/getting-started/console-webapiclieent/project.json

[2017-02-02 22:19] BillWagner opened #1495 "Update C# Docker microservices tutorial for .csproj instead of project.json."
(http://docs.microsoft.com/dotnet/articles/csharp/tutorials/microservices)

At the same time, check the webapiclient tutorial:
(http://docs.microsoft.com/dotnet/articles/csharp/tutorials/console-webapiclient)

[2017-02-03 06:27] Rick-Anderson opened #1498 "Document Visual Studio 2017 edit of .csproj"
@mairaw  assign to me and let me know where it should go

[2017-02-03 14:06] BillWagner commented on #1494
This is a duplicate of #1485, which was fixed in #1488

[2017-02-03 14:06] #1494 closed

[2017-02-03 17:55] mairaw commented on #1498
None of the existing topics seem to fit this scenario. Maybe it should be a standalone tutorial? It'll be short though.

[2017-02-03 21:27] paulkling opened #1505 "Use internal certificate authority on Linux"
# Use internal certificate authority on Linux

I want to configure dotnet (c#) to trust a internal CA. The command dotnet is being executed on linux centos computer.

I need to be pointed in a direction on how to do this?

[2017-02-04 00:48] mairaw commented on #1456
Let's work on the outline for this one so we can be on the same page of what's expected:
- We can use what @natemcmaster has written in his blog post to see a before and after the migration:
http://www.natemcmaster.com/blog/2017/01/19/project-json-to-csproj/
- I think we also need a "reference" topic explaining all the different elements you can use for .NET Core projects, what they mean and defau

[2017-02-04 09:03] mairaw opened #1506 "Update getting started with CLI to match new dotnet new command and templates"
Update the topic https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tutorials/using-with-xplat-cli-msbuild and its accompanying samples.

[2017-02-05 01:28] Joe-K-Sewell opened #1508 ""Tour of .NET" page should not imply C#'s "using" statement relates to managed garbage collection"
[The "Automatic memory management" section of the "Tour of .NET" page](https://docs.microsoft.com/en-us/dotnet/articles/standard/tour#automatic-memory-management) contains the following passage:

This implies that the `using` statement is responsible for the `stream` object being garbage after the block closes. However, [the `using` statement instead deals with the cleanup of *unmanaged* resources

[2017-02-06 06:06] Petermarcu opened #1509 "Need to clear up confusion around run, build, and publish"
Our topics on how to build apps all need to be clearer that `dotnet build` and `dotnet run` just get you an intermediate outputs that are good for running on your local machine in development mode only. They are not meant to build a final output to run in production. We need to find a way to make that really clear and point people to how to publish their assets from the command line, in VS, and in

[2017-02-06 17:18] blackdwarf commented on #1456
@mairaw for sure, @natemcmaster has created a great doc for this so we will use it. We already have a `csproj` reference in the works as part of the RC3 docs, so that needs to be updated.

[2017-02-06 17:20] blackdwarf commented on #1453
@mairaw I was thinking that we may need several topics for this:

* A general introduction to the fact that CLI now offers CRUD commands and explaining the convention
* A reference for each command

Thoughts?

[2017-02-06 18:20] blackdwarf opened #1512 "Merge the migrating from DNX topic with overall migration to csproj topic"
We need to have an overall migration document that explains the process and whatnot. The DNX migration should become part of this and change to be how to migrate DNX project.jsons to Preview 2 project.jsons and then to csproj.

[2017-02-06 18:21] blackdwarf opened #1513 "Remove docs/core/tools/project-json.md"

[2017-02-06 18:21] blackdwarf opened #1514 "update docs/fsharp/tutorials/getting-started-command-line.md"

[2017-02-06 18:22] blackdwarf opened #1515 "Add a document explaining RC csproj migrations"

[2017-02-06 18:23] blackdwarf opened #1516 "Update extensibility model CLI document to the latest version of the csproj"

[2017-02-06 18:25] blackdwarf opened #1517 "Remove test protocol document from the docs"
This one is not needed anymore.

[2017-02-06 18:47] blackdwarf opened #1518 "Fix the index.md page for the Core tools"
We need to make the following changes:

* List out the other commands (CRUD, SLN)
* List out the advanced commands and explain what they are
* Remove the section about migrating from DNX

@mairaw anything else?

[2017-02-06 22:21] mairaw commented on #1515
what exactly are you thinking for this one?

[2017-02-06 23:32] blackdwarf commented on #1515
I believe the idea here is to document what is needed to migrate various states of pre-RC3 csproj formats to the final one.

[2017-02-07 01:30] mairaw commented on #1518
Ok, so we should be working on this version of the topic that doesn't mention DNX anymore:
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/

also, is there any path to update from post-preview2 topics to the latest?

[2017-02-07 02:24] blackdwarf commented on #1518
@mairaw not sure what you mean by the post-preview2 topics to the latest?

[2017-02-07 02:28] mairaw commented on #1518
@blackdwarf Preview3 to RC4 for example. hasn't csproj format changed in between releases?

[2017-02-07 02:35] mairaw commented on #1518
I think we should also enhance this section to introduce the two new terms and what they're about in a short form: https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/#types-of-application-portability

[2017-02-07 02:40] mairaw commented on #1515
Ok, so this is probably what I was asking in #1518

[2017-02-07 18:32] spboyer commented on #1451
doc title/name?

`dotnet-crud-package`
`dotnet-add-remove-list-package`

@blackdwarf  @mairaw

[2017-02-07 19:47] BillWagner opened #1522 "docs/core/tutorials/"
There are several related tutorials that need updating:

- [x] target-dotnet-core-with-msbuild.
- [x] using-on-macos.md #1535
- [x] using-on-windows.md
- [x] using-with-xplat-cli.md #1506 (See PR #1507)

[2017-02-07 22:50] #1513 closed

[2017-02-07 23:06] mairaw commented on #1509
That's a good point @Petermarcu! So for topics such as the one I'm working on for PR #1507 (Getting Started with CLI), should we have dotnet publish in that topic or create a new topic on how to deploy .NET Core apps?

/cc @blackdwarf

[2017-02-07 23:51] mairaw commented on #1522
The one I'm updating with PR #1507 is the one under preview3 folder which in csproj should be redirected to the one you list above. So once that PR is merged, I can switch things around in csproj.

[2017-02-07 23:56] #1455 closed

[2017-02-07 23:56] #1516 closed

[2017-02-08 01:23] mairaw opened #1523 "Review CLI commands to make sure synopses are consistent"
With PR #1519, for commands that have multiple usage options like dotnet sln and dotnet new, we're going to list them individually in separate lines to show the different usage options per individual command, such as

[code]

This issue is to review all the CLI command pages to make sure we're being consistent about this,

[2017-02-08 01:56] blackdwarf commented on #1509
We already have a topic on how to deploy .NET Core apps. But we should start stringing this together. For instance, in the getting started, we should add that in order to get an app that runs on another machine, you should use publish. For full docs, please refer to deployment topic. And the like.

Another thing we need to add is the overall table that has a split between dev-time and production-t

[2017-02-08 02:15] mairaw commented on #1509
I see now that the [deploying topic](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/) has both the overview and step-by-step instructions.
But what I was thinking was more along the lines of continuing to build up on the Getting Started, similar to what was done for the VS topics: https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/publishing-with-visu

[2017-02-08 02:16] mairaw commented on #1509
And I'll something about publishing to my PR pointing to the deployment topic for now.

[2017-02-08 02:18] Petermarcu commented on #1509
Ideally there is at least one place that takes me through all the way to the point where the app in my output folder is a real app that looks like an app I could run somewhere else. Not the one without my dependencies locally and depending on the nuget cache.

[2017-02-08 21:26] rpetrusha opened #1529 "samples/framework/libraries/README.md"

[2017-02-09 21:35] BillWagner opened #1535 "update Getting Started on Mac OS for csproj"
[This article](https://github.com/dotnet/docs/blob/master/docs/core/tutorials/using-on-macos.md) and the [associated code](https://github.com/dotnet/docs/tree/master/samples/core/getting-started/golden)
needs to be updated from project.json to csproj.

This is a sub-issue for #1522

[2017-02-10 22:16] cartermp commented on #1359
I took a slightly different approach in my PR.

[2017-02-11 00:37] rpetrusha opened #1542 "docs/csharp/codedoc.md"

[2017-02-11 06:50] mairaw opened #1543 "Document why you might get “No executable found matching command “dotnet-migrate” error"
If you get an error, “No executable found matching command `dotnet-migrate`:
Run dotnet --version to see which version you are using. `dotnet-migrate` requires .NET Core CLI  RC3 or higher.
You’ll get this error if you have a global.json file in the current or parent directory and the “sdk” version set to an older version.

/cc @blackdwarf @Rick-Anderson

[2017-02-13 16:26] blackdwarf commented on #1543
@mairaw should this be a part of the overall migration docs?

[2017-02-13 17:06] #71 closed

[2017-02-13 18:01] mairaw commented on #1543
Yes @blackdwarf. I envision this being part of the migration topic on a section about FAQ/commons issues/etc.

[2017-02-13 18:02] #1472 closed

[2017-02-13 18:16] #1435 closed

[2017-02-13 18:21] mairaw commented on #1505
/cc @blackdwarf can you help with this?

[2017-02-13 18:23] mairaw commented on #1498
@TerryGLee are you covering this in the VS docs?

[2017-02-13 18:24] mairaw commented on #1498
For us, we could probably add a sentence in the migration topic where we talk about migrating your project in VS and how you can edit the csproj.

[2017-02-13 18:30] mairaw opened #1549 "Move code from docs/csharp/codedoc.md to snippets folder"
Code for topic https://github.com/dotnet/docs/blob/master/docs/csharp/codedoc.md is all inline. It should be moved to the snippets folder instead.

[2017-02-13 22:31] rpetrusha opened #1550 "./samples/csharp/indexers/project.json"
./samples/csharp/iterators/project.json

[2017-02-13 23:17] rpetrusha opened #1552 "./samples/core/libraries/new-library/global.json"
core/libraries/new-library/src/DependencyLibrary/project.json
core/libraries/new-library/src/Library/project.json
core/libraries/new-library/test/LibraryTests/project.json

[2017-02-13 23:27] rpetrusha commented on #1552
This is handled by PR #1546

[2017-02-14 15:33] #1114 closed

[2017-02-14 16:29] #1550 closed

[2017-02-14 16:34] #1552 closed

[2017-02-14 17:05] #1535 closed

[2017-02-14 17:21] #1542 closed

[2017-02-14 18:25] stevehoag commented on #1283
Fixed all except language reference in #1348

[2017-02-14 21:58] mairaw opened #1557 "TOC order for CLI tools"
What should be the order we list the CLI commands on the TOC?

This is the current version:
![image](https://cloud.githubusercontent.com/assets/12971179/22951287/7bbc2316-f2bd-11e6-8e88-cd77a28e3585.png)
If I want to add dotnet-sln to this TOC, I don't know where to place it.

Should we instead list the tools alphabetically?
![image](https://cloud.githubusercontent.com/assets/12971179/22951322/9c8

[2017-02-14 22:31] #1448 closed

[2017-02-14 23:38] blackdwarf commented on #1557
We should, I think, list the commands in their invocation order. So, `dotnet-new`, followed by `dotnet-restore` and then `dotnet-build` and all of that. Then we can put all of the CRUD commands, including the SLN command, after the "inner loop" ones.

[2017-02-15 00:04] mairaw commented on #1557
I just have a hard time sometimes trying to find the right command page. I think if it was alphabetical would make that easier.

[2017-02-15 00:13] blackdwarf commented on #1557
Can you not use the filter command for that?

[2017-02-15 00:46] mairaw commented on #1557
Yes, I use the filter when I'm not finding it.

[2017-02-15 01:02] mairaw commented on #1283
@stevehoag I checked the link that @svick pointed out in the issue above on staging and that topic has no TOC now. Can you check?
https://review.docs.microsoft.com/en-us/dotnet/articles/visual-basic/programming-guide/concepts/linq/how-to-generate-xml-from-csv-files?branch=master

[2017-02-15 16:10] BillWagner opened #1561 "Incorporate VBLang and C# Lang specs in Markdown"
Our current docs describe how to download the C# and VB Language specifications:

See /docs/csharp/language-reference/language-specification.md and /docs/visual-basic/reference/language-specification.md

The language teams have published those specifications in the new language repositories:
[C# Specification in Markdown](https://github.com/dotnet/csharplang/tree/master/spec)
[VB Specification in

[2017-02-15 16:12] BillWagner opened #1562 "Publish VB Spec in Markdown"
This is a sub-issue for #1561

The VB Team has published the language specification in markdown format [here](https://github.com/dotnet/vblang/tree/master/spec)

We should publish this version in docs.microsoft.com

/cc @stevehoag @AnthonyDGreen

[2017-02-15 16:14] BillWagner opened #1563 "Publish Markdown version of the C# Specification"
This is a sub-issue for #1561

The C# language team has published the language spec in markdown format [here](https://github.com/dotnet/csharplang/tree/master/spec)

We should publish that specification on docs.microsoft.com

/cc @madstorgersen @scottdorman

[2017-02-15 18:52] scottdorman commented on #1561
Yes, I think the downloaded (offline) versions should be considered deprecated/out of date.

As for the constraints listed:

1. Yes, developers are going to want to see the specification for a given language version and be able to move freely between them.  I think some of this discussion is also in https://github.com/dotnet/csharplang/issues/64.
2. What benefit would numbering the sections provid

[2017-02-15 19:00] ljw1004 commented on #1561
ANTLR: What I did was (1) have a separate standalone ANTLR file for the entire grammar, (2) copy+paste segments into the grammar sections of the spec.

It was useful to have the grammar in a single file since that let me use common ANTLR tools while authoring it, to detect errors. I did detect a few errors. The most errors were in the newly minted spec (e.g. string interpolation). On the one hand

[2017-02-15 19:06] scottdorman commented on #1561
I think this is important and, going forward, the grammars should be written using just standard syntax. Yes, I think converting the grammars to proper BNF form so tools like antlr can work with them is a pain, but it's a one-time thing. Once it's properly converted, and only new language features are being added it's not as painful.

[2017-02-15 20:52] blackdwarf commented on #1453
@spboyer are you working on this?

[2017-02-15 21:01] spboyer commented on #1453
I was working on the doc(s) for `reference` and `package` not the overall one.

[2017-02-15 23:58] #1450 closed

[2017-02-16 01:29] mairaw commented on #1283
Submitted #1565 with some fixes to the TOC for that topic to see if that addresses the issue of that not being hooked up to the TOC anymore

[2017-02-16 08:14] mairaw commented on #1008
/cc @EisenbergEffect

[2017-02-16 17:01] EisenbergEffect commented on #1008
The sticky ToC and scrolling has been implemented and released. We are already tracking a feature request for H3 to be added to the "In This Article" UI. It's a bit lower priority right now due to the importance of other ship-blocking features that the engineering team is working on. It also received heavy push-back from the design team. I think it's something that's should be considered again tho

[2017-02-16 17:37] #1269 closed

[2017-02-16 17:37] #1270 closed

[2017-02-16 18:25] spboyer commented on #1451
TOC adds
[code]

[2017-02-16 18:39] blackdwarf commented on #1451
Yup, these should get us a well structured TOC from a consumption standpoint. So, LGTM.

[2017-02-17 00:39] rpetrusha commented on #1557
I'd prefer alphabetical. They're simply harder to scan if listed in any other order, and (unless you're familiar with all of the commands and their order of invocation) any other order just seems random.

[2017-02-17 03:04] BillWagner commented on #1557
I'd use alphabetical.  The 'inner loop' order can be highlighted in the main index file.

[2017-02-17 03:45] blackdwarf commented on #1557
OK, downvoted here. :) Alphabetical it is.

[2017-02-17 03:48] mairaw commented on #1557
Thanks for the feedback guys. I'll submit a PR then.

[2017-02-17 07:06] #1398 closed

[2017-02-17 18:44] #1506 closed

[2017-02-17 19:42] mairaw opened #1574 "Revisit topics that show how to use just `dotnet new` to create a project"
There are still a few topics that show how to use simply `dotnet new` to create your basic app. We need to review those to use the new syntax:

Changes to be done in the master branch:
- [x] https://github.com/dotnet/docs/blob/master/docs/core/preview3/deploying/index.md
- [x] https://github.com/dotnet/docs/blob/master/docs/core/preview3/tools/dependencies.md
- [x] https://github.com/dotnet/docs/b

[2017-02-19 01:42] BillWagner opened #1575 "C# Conceptual: Tuples vs. ValueTuples vs. Anonymous Types vs. Struct vs Class"
There are several different syntax elements developers can use to create types. An important question for developers is when to choose which syntax.

This can be especially difficult with syntax elements that create very similar types (like anonymous types and Value Tuples).

See the comment on [this topic](https://docs.microsoft.com/en-us/dotnet/articles/csharp/csharp-7#tuples) for a direct custo

[2017-02-19 01:47] somewhatabstract commented on #1575
It is unclear to me if, in the light of the new tuple feature, anonymous types have any value at all. From what I can tell, tuples are superior in every way; no new type, can be returned from methods, etc.

So, are anonymous types preferred over C#7 tuples in any scenario? If so, what scenarios and why?

[2017-02-19 02:18] BillWagner commented on #1561
The ECMA spec uses numbered sections, so it would be a benefit to generate the same format. I would like to see this done with extensions to markdown that enabled the numbering. /cc @eisenbergeffect

Yes. Thanks @ljw1004 for all the details above. Our current build processes enables us to include lines from code samples. That could be extended to antlr.

We could trigger updates based on a branch

[2017-02-19 02:57] EisenbergEffect commented on #1561
@BillWagner Can you send me email regarding the extension feature request? I *think* I understand what you need but I'm not feeling 100% confident. I'm happy to work with you to nail down the details and put together a spec. Thanks!

[2017-02-19 15:22] svick commented on #1561
I think GitHub branches (or tags) in spec repos should work fine for that.

@scottdorman

When I reference the spec, I like to use both section numbers and section names. Section numbers are useful, because section names are not always unique. For example, the C# 4.0 spec (which I keep using, because the HTML version is most convenient for me) has 4 different sections named *Attributes*:

* §1.12

[2017-02-20 04:47] cartermp commented on #1575
F# has a similar relationship w.r.t tuples, struct tuples, and records.  From the [F# Component Design Guidelines](http://fsharp.org/specs/component-design-guidelines/#-do-use-tuples-when-appropriate-for-return-values):

That roughly breaks down to:

* Tuples (or struct tuples) for an implementation detail/ad-hoc grouping of values, or something small and only intended for consumption in F#
* Anyt

[2017-02-21 18:23] #1557 closed

[2017-02-21 18:44] BillWagner commented on #1575
I'm not sure if anonymous types are going to be relegated. I've been thinking along those lines as well, and trying to come up with use cases where they may be a better choice than Tuples.

The only one I've come up with is if a compound type is used as a key in some hash based container. Would the immutability of anonymous types mean they would be a better choice than Tuples?

[2017-02-21 18:59] mairaw commented on #1575
That content will be brought over with the Framework docs migration @cartermp. But we can't make updates to that content since it's copyrighted material.

[2017-02-21 19:07] cartermp commented on #1575
Don't we own the copyright though?...

[2017-02-21 19:31] rpetrusha commented on #1575
@cartertmp No, the copyright is owned by Addison-Wesley.

[2017-02-22 01:36] somewhatabstract commented on #1575
@BillWagner It's a marginally better choice given the immutability, but given it is barely an advantage it still seems like we could manage entirely without anonymous types. I am still struggling to find a scenario where I'd wholeheartedly recommend them over tuples. I mean, in the case of using things in hash-based containers, the overwhelmingly better choice than both tuples and anonymous types

[2017-02-22 21:34] rpetrusha opened #1583 "Conceptual: Discuss compile-time and runtime types"
# Conceptual: Discuss compile-time and runtime types

# General

The .NET Core/.NET Framework and the C# documentation don't define a compile-time type and a runtime type. This information should be added somewhere in both the framework documentation and the language documentation.

[2017-02-23 01:05] paulomorgado opened #1585 "Wrong information about pattern matching switch statement"
In [https://docs.microsoft.com/en-us/dotnet/articles/csharp/csharp-7#pattern-matching], the documentation states that:

Switching the `case 0` with `case int val` will be a `CS8120 The switch case has already been handled by a previous case.`

What works is adding the guard `when val != 0` to `case int val`.

[2017-02-23 01:08] johnsimons opened #1586 "Voice tone doco"
Hi

I have read your [Voice and tone Guidelines](https://github.com/dotnet/docs/blob/master/styleguide/voice-tone.md) and I really like it. I like it so much that I would really love to use it for our own guidelines at https://github.com/octopusdeploy/docs.

Do you see any issues with us coping/pasting (modify ".NET core" with our own product name) the guidelines and publish as our own ? We would

[2017-02-23 15:36] BillWagner opened #1591 "Unit Test tutorials need better description to get started"
Both of the unit testing tutorials for .NET Core start 'hot', without providing a good introduction on how to start working on the tutorial.

The affected files are https://github.com/dotnet/docs/blob/master/docs/core/testing/unit-testing-with-dotnet-test.md and https://github.com/dotnet/docs/blob/master/docs/core/testing/using-mstest-on-windows.md

The new introduction should show:
1. How to star

[2017-02-23 15:42] BillWagner commented on #1575
@somewhatabstract I agree that it's a small difference. Right now, I'm taking notes on any differences I find between ValueTuple and anonymous types. I want to be really sure we've thought of all the ramifications before providing guidance that Anonymous types are not a good idea.

To that end, I thought of one other major difference: Reflection and field/property names:  Anonymous types have sema

[2017-02-23 15:43] blackdwarf commented on #1518
We also need to add muxer options and general options to this page.

@mairaw will be you be able to do this or do you want me to take a stab at it?

[2017-02-23 18:43] mairaw commented on #1518
I've started the changes here: https://github.com/dotnet/docs/blob/tools-index-page/docs/core/preview3/tools/index.md
But not done yet.

[2017-02-23 19:36] blackdwarf commented on #1518
OK, so @mairaw you will do this then. :)

[2017-02-23 20:20] rpetrusha opened #1593 "C# Compiler error: CS7003 is undocumented"
# C# Compiler error: CS7003 is undocumented

# General

The compiler error: `error CS7003: Unexpected use of an unbound generic name`

[2017-02-23 20:20] srikarplus opened #1594 "Wrong code snippet (or example) found in the Indexers (C# programming guide)"
While going through the documentation on Indexers topic at docs.microsoft.com I found that the wrong code snippet was used. On further inspection I found that, correct code snippet was used on msdn.microsoft.com . Might be an error occured during migrating from msdn.microsoft to docs.microsoft.

I will correct this issue asap.

[2017-02-23 22:41] #1594 closed

[2017-02-23 23:31] srikarplus opened #1597 "[WIP] Issues in the code snippets in Interfaces and Indexers C# programming guide"
1. Interfaces( C# programming guide) code snippets were missing but were linked to the Indexers at docs.microsoft.com
2. Indexers code snippets containing code for Interfaces.

Further inspection revealed that this might be because of issues in migrating from msdn.microsoft to docs.microsft.
I will resolve this issues at the earliest.

[2017-02-25 00:14] BillWagner commented on #1586
@johnsimons Thank you for the kind words. I'm glad you liked it.  I've started an internal discussion to see what we can do here. I'll report back as soon as I can.

[2017-02-25 01:57] johnsimons commented on #1586
@billwagner here is what we are proposing https://github.com/OctopusDeploy/docs/pull/25

[2017-02-25 05:46] #1456 closed

[2017-02-27 18:06] BillWagner commented on #1597
Closed as it was fixed in PR #1598

[2017-02-27 18:06] #1597 closed

[2017-02-27 18:09] #1529 closed

[2017-02-27 18:11] #1377 closed

[2017-02-27 18:12] BillWagner commented on #1283
Closed in #1318 and #1348 and #1565

[2017-02-27 18:12] #1283 closed

[2017-02-27 19:28] rpetrusha commented on #948
This issue is addressed with the set of topics at [Building a C# Hello World Application with .NET Core in Visual Studio 2015](https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/with-visual-studio) and [Building a C# Hello World application with .NET Core in Visual Studio 2017 RC](https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/with-visual-studio-2017).

[2017-02-27 19:28] #948 closed

[2017-02-28 20:11] mairaw commented on #1523
We should also make sure the commands page list all the options according to the latest CLI/SDK version.

[2017-03-01 01:45] mairaw commented on #1453
Should we remove this issue from PR #1569? Maybe this issue here can be covered with the additional updates we need to make to the main dotnet page?

[2017-03-01 02:10] spboyer commented on #1453
I'll defer to @blackdwarf

[2017-03-01 18:11] BillWagner commented on #1586
@johnsimons I like what you've written, and I've gotten the OK that you can use what we've published.

Thank you for asking.  I'll close this as resolved.

[2017-03-01 18:11] #1586 closed

[2017-03-01 18:13] mairaw commented on #1514
@spboyer already updated this topic on the csproj branch with PR #1521

[2017-03-01 18:14] #1514 closed

[2017-03-01 18:20] mairaw commented on #1522
The two remaining topics should just be redirected. We had done the redirection for some in csproj but somehow lost it.

[2017-03-01 18:25] BillWagner commented on #1495
This is addressed in #1503, which needs to be rebased.

[2017-03-02 18:33] mairaw commented on #1453
I've removed it from the PR for now. I'll discuss this with @blackdwarf offline.

[2017-03-02 18:38] mairaw opened #1610 "Link to more info when we mention globbing"
Some users might not be familiar with what a globbing pattern is. We could link to some page explaining the concept, it doesn't have to be in our docs.

Suggestions:
- https://en.wikipedia.org/wiki/Glob_(programming)
- http://man7.org/linux/man-pages/man7/glob.7.html

[2017-03-02 18:39] #1451 closed

[2017-03-02 18:39] #1452 closed

[2017-03-02 21:34] mairaw commented on #1467
can we close this one @BillWagner? PR seems to be merged into csproj

[2017-03-02 21:39] BillWagner commented on #1467
@mairaw Thanks for spotting.  Closing now.

This was fixed in PR# 1531

[2017-03-02 21:39] #1467 closed

[2017-03-03 08:04] mairaw opened #1617 "Update dotnet-install topic"
Topic: https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-install-script

Latest version is still linking to preview2 version.
It also seems to be missing some parameters.

[2017-03-03 16:59] sayedihashimi commented on #1450
That’s not 100% accurate. The user has to run dotnet restore before it’s ready to be compiled.

This should be changed to “dotnet new --list”

In the article I don’t see any usage of project template specific help. For example dotnet new mvc --help. We should include that.

[2017-03-03 19:52] mairaw commented on #1450
This is issue is already closed @sayedihashimi. can you open a new one please?

[2017-03-03 20:06] rpetrusha commented on #1366
The C# reference documentation now does include `nameof``. However, it is a combined C#/VB topic. They should be separated into separate topics.
I have, however, added the F1 metadata and opened a PR.

[2017-03-03 20:49] rpetrusha opened #1622 "Replace ./samples/snippets/csharp/new-in-6/project.json"

[2017-03-03 21:04] sayedihashimi opened #1623 "Feedback on existing dotnet new docs"
@mairaw

Original feedback issue is at https://github.com/dotnet/docs/issues/1450

That’s not 100% accurate. The user has to run dotnet restore before it’s ready to be compiled.

This should be changed to “dotnet new --list”

In the article I don’t see any usage of project template specific help. For example dotnet new mvc --help. We should include that.

[2017-03-03 21:04] sayedihashimi commented on #1450
@mairaw https://github.com/dotnet/docs/issues/1623

[2017-03-03 21:18] mairaw commented on #1623
Thanks for opening a new one so we can discuss some of your suggestions @sayedihashimi and work a bit more on this topic.

Well, the compilation process is a 2-step process, where you first need to restore then build. I can try to change the wording to make it a bit more clear but the project is actually ready to be compiled.

Well, both commands give almost the same exact output with the differen

[2017-03-03 21:34] sayedihashimi commented on #1623
@mairaw

With a statement like "the project is ready to be compiled", gives me the impression that I can execute `dotnet build` which won't work in this case.

`dotnet new --help` will be updated to tell users to run `dotnet new --list` to see the template list. Please change this to `dotnet new --list` so that the docs are future proof.

Sorry I may not have been clear. Templates can have specifi

[2017-03-03 21:48] mairaw commented on #1623
We have two copies of the article right now. This will change once we release VS 2017 RTM.

Are you looking at [this page](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-new)? There is a section about template options: https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-new#template-options

[2017-03-03 21:51] rpetrusha opened #1624 "Golden console app: Change project.json to csproj project files"
./samples/core/getting-started/golden/global.json
./samples/core/getting-started/golden/src/app/project.json
./samples/core/getting-started/golden/src/library/project.json
./samples/core/getting-started/golden/test/test-library/project.json

[2017-03-03 22:13] sayedihashimi commented on #1623
Sorry I missed the Template Options section.

[2017-03-03 22:26] rpetrusha opened #1626 "csproj migration: docs/standard/library.md"

[2017-03-04 00:17] Rick-Anderson opened #1627 "New topic: Debugging .NET Core on Unix over SSH"
Need doc covering content on [team blog on this topic](https://blogs.msdn.microsoft.com/visualstudioalm/2017/01/26/debugging-net-core-on-unix-over-ssh/).

The blog states:  *you need to install the ‘ASP.NET and web development’ workload*
Is that still true?

Show how to debug a console app - shouldn't need ASP.NET Core.

@mairaw @Andrew-MSFT please review
Per Andrew: it would be good to add doc’in

[2017-03-04 00:26] rpetrusha opened #1628 "csproj conversion: docs/core/packages.md"

[2017-03-04 01:09] rpetrusha opened #1630 "csproj migration: docs/core/versions/index.md"

[2017-03-04 01:16] mairaw commented on #1627
I think it's a good idea. If it's a console application, what you need is the .NET Core cross-platform development workload.

[2017-03-04 01:23] mairaw commented on #1627
Never mind what I said earlier about the workload. I don't know the requirements for this particular scenario. I'll leave it up to @Andrew-MSFT. But it's a good topic, I think.

[2017-03-04 01:27] mairaw opened #1631 "migrate testing topic to the latest csproj template"
https://github.com/dotnet/docs/blob/master/docs/core/tutorials/testing-with-cli.md

This one uses a pre-RTM version of csproj

[2017-03-04 05:50] Andrew-MSFT commented on #1627
You need either the ASP.NET and web development workload or the .NET Core cross platform workload installed

[2017-03-05 02:41] mairaw opened #1634 "Remove warnings and links in between versions of the same topic for .NET Core"
Topics that are duplicated between core and preview3 have a warning to take users from one topic to the other. For example:

https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-new
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-new

We need to remove those warnings and links.

[2017-03-05 02:42] mairaw commented on #1449
Can you give more details on this one? I'm not exactly sure which topic you're talking about here.

[2017-03-05 03:46] mairaw commented on #1623
No problem. Another thing I've noticed:
If you have a project in the folder when you're running `dotnet new --list`, you won't get all templates. So I'm guessing we should change that sentence to say `dotnet new -all`.

[2017-03-05 06:26] sayedihashimi commented on #1623
The behavior of --list is changing to always show all templates, unless the user passes in another parameter indicating project/item.

[2017-03-05 17:45] blackdwarf commented on #1449
@mairaw the csproj reference/additions document. I think we fixed this one in the latest batch of fixes.

[2017-03-06 02:27] rpetrusha opened #1635 "./samples/core/console-apps/NewTypes/global.json"
console-apps/Hello/project.json
console-apps/HelloNative/project.json
console-apps/NewTypes/src/NewTypes/project.json
console-apps/NewTypes/test/NewTypesTests/project.json

[2017-03-06 07:22] mairaw commented on #1449
That's what I thought. Thanks for confirming @blackdwarf.

[2017-03-06 07:27] mairaw commented on #1623
Will this come with the next release or later @sayedihashimi? If later, I'd prefer to edit the topic in the future to show `--list` instead of `-all`; otherwise, people can get confused.

[2017-03-06 09:54] mairaw commented on #1449
Fixed with #1553

[2017-03-06 09:54] #1449 closed

[2017-03-06 20:45] #1479 closed

[2017-03-06 20:45] #1585 closed

[2017-03-06 20:58] Rick-Anderson opened #1644 "Need: Instructions on how to download samples"
The problem: We tell customers to download the sample. We provide a link to the sample, but you can't download from the sample link. You need to figure out:

Navigate to repro.
Download the entire repro (and probably unzip)
navigate to the sample
ACOM had re-usable sections - How did ACOM migrate without shared/included sections. That's what we need here. Should we request this feature? Until it c

[2017-03-06 21:45] BillWagner opened #1645 "Future: 'out' and 'ref' overload clarification in the C# spec"
There is a proposal in the next version of the C# spec that clarifies the distinction between `out` and `ref` and how they work with overloads.

In /docs/csharp/language-reference/keywords/out-parameter-modifier.md there is text that says:

That is changing, because they *are* part of the signature: C# allows overloading for a method that has a `ref` argument vs. one where neither `ref` nor `out`

[2017-03-06 22:58] GuardRex opened #1646 "Update tutorials/libraries.md for MSBuild/csproj"
Developing Libraries with Cross Platform Tools
* https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries
* https://github.com/dotnet/docs/blob/master/docs/core/tutorials/libraries.md

xref https://github.com/dotnet/docs/issues/1574

[2017-03-06 23:03] mairaw commented on #1646
@cartermp @terrajobst hey guys, wondering if any of you would have some bandwidth to update this guidance this month?

We should also move that .NET Standard table to an include file so that we only have to update one place when updating that table since the same info is also found at https://docs.microsoft.com/en-us/dotnet/articles/standard/library.

[2017-03-06 23:18] cartermp commented on #1646
I should be able to dedicate some time to this, yes.

[2017-03-07 00:04] #1373 closed

[2017-03-07 00:06] #1624 closed

[2017-03-07 00:08] GuardRex opened #1648 "Update tutorials/using-on-macos.md for MSBuild/csproj"
Getting started with .NET Core on macOS, using Visual Studio Code
* https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-macos
* https://github.com/dotnet/docs/blob/master/docs/core/tutorials/using-on-macos.md

xref https://github.com/dotnet/docs/issues/1574 (includes `dotnet new` commands)

[2017-03-07 00:26] #1378 closed

[2017-03-07 02:40] mairaw commented on #1648
I'm thinking that this topic should later be broken into sections similar to what we did with the Visual Studio topics @BillWagner. What do you think? I can open a new issue for our backlog for that work.

[2017-03-07 02:45] BillWagner commented on #1648
@mairaw Yes, I agree. As part of updating the Getting Started topics, we should make them smaller and easier to consume.

[2017-03-07 02:49] mairaw commented on #1648
Ok, awesome. I'll open a new issue for the Getting Started experience!

[2017-03-07 02:57] mairaw opened #1651 "Break down the VS Code tutorial into several topics"
Topic: https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-macos

There's also this topic on a similar subject:
https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/with-visual-studio-code

We should follow a similar pattern we did for the VS topics: https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/with-visual-studio-2017

---
#### Doc

[2017-03-07 02:59] mairaw commented on #1321
@kendrahavens I'll also close the issue and we can always reopen this one if plans change.

[2017-03-07 02:59] #1321 closed

[2017-03-07 03:09] #1517 closed

[2017-03-07 04:18] #1626 closed

[2017-03-07 09:09] #1574 closed

[2017-03-07 11:26] #1418 closed

[2017-03-07 11:26] #1634 closed

[2017-03-07 12:37] #1509 closed

[2017-03-07 12:37] #1512 closed

[2017-03-07 12:37] #1515 closed

[2017-03-07 12:37] #1543 closed

[2017-03-07 13:09] #1648 closed

[2017-03-07 13:10] #1495 closed

[2017-03-07 13:10] #1468 closed

[2017-03-07 14:19] GuardRex opened #1656 "Fixup dotnet command line syntax"
Notation | Description
--- | ---
Text without brackets or braces | Items you must type as shown
\<Text inside angle brackets\> | Placeholder for which you must supply a value
[Text inside square brackets] | Optional items
{Text inside braces} | Set of required items; choose one
Vertical bar (\|) | Separator for mutually exclusive items; choose one
Ellipsis (…) | Items that can be repeated

https:/

[2017-03-07 14:27] GuardRex commented on #1480
@GuardRex: `csharp/getting-started/` but not `csharp/getting-started/with-visual-studio-2017`

[2017-03-07 15:05] #1364 closed

[2017-03-07 15:07] #1376 closed

[2017-03-07 15:18] #1617 closed

[2017-03-07 16:00] #1623 closed

[2017-03-07 19:51] GuardRex commented on #1480
@mairaw I'm ready to engage on this one at 12 noon PST. Is the renaming work on [VS2017 RTM initial update (#1663)](https://github.com/dotnet/docs/pull/1663/) done, or should I hold off this for a bit and work on [Fixup dotnet command line syntax (#1656)](https://github.com/dotnet/docs/issues/1656)?

[2017-03-07 20:10] mairaw commented on #1480
I've only renamed the topic I was touching and the images that it was using. You can rename the others on yours or I can rename all in mine and you make the other updates. Please let me know how you prefer @GuardRex. Thanks!

[2017-03-07 20:44] GuardRex commented on #1480
@mariraw *Deal!* 🤝 ... I'll take care of the rest of the VS2017 updates under `csharp/getting-started/` following your lead from #1663.

[2017-03-07 22:20] mairaw commented on #838
@dend @adkinn

[2017-03-07 23:19] #1628 closed

[2017-03-08 00:52] mairaw commented on #1630
Should we close this @rpetrusha? What's the PR number?

[2017-03-08 00:52] mairaw commented on #1635
Should we close this @rpetrusha? What's the PR number?

[2017-03-08 01:25] mairaw commented on #1522
can you check if this one is now done @BillWagner?

[2017-03-08 02:32] BillWagner commented on #1522
Closing.  The old topics are both redirecting correctly.

[2017-03-08 02:32] #1522 closed

[2017-03-08 04:11] #1508 closed

[2017-03-08 04:43] richlander opened #1669 "Document Roslyn Diagnostics Security Analyzers"
Real mail from a customer today:

Our docs need to answer this question. This is our guidance: https://blogs.msdn.microsoft.com/secdevblog/2016/03/30/roslyn-diagnostics-security-analyzers-overview/

[2017-03-08 08:18] mairaw commented on #1117
Issue not needed anymore.

[2017-03-08 17:56] rpetrusha commented on #1630
@mairaw This was addressed in PR #1629

[2017-03-08 17:56] #1630 closed

[2017-03-08 18:19] rpetrusha commented on #1635
@mairaw This is addressed by PR #1639

[2017-03-08 18:19] #1635 closed

[2017-03-08 18:26] #1305 closed

[2017-03-08 18:27] mairaw commented on #53
Duplicate of #942

[2017-03-08 18:27] #53 closed

[2017-03-08 18:33] GuardRex opened #1675 "Add stroke outlines to images"
* docs/csharp/getting-started/with-visual-studio.md
* https://github.com/dotnet/docs/pull/1663

[2017-03-08 18:55] cartermp opened #1677 "Update F# Language Reference for F# 4.1 constructs"
F# 4.1 adds a lot of smaller things, mostly augmenting existing features.  There were also changes in the core library, but those are not documented here because they are part of an API reference.

### Struct stuff

- [x] Struct Tuples - https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/tuples
- [x] Struct Records - https://docs.microsoft.com/en-us/dotnet/articles/fsharp/l

[2017-03-08 21:53] mairaw opened #1680 "update organizing your code topic to VS 2017"
The topic https://docs.microsoft.com/en-us/dotnet/articles/core/porting/project-structure still talks about xproj and VS 2015.

@conniey is that something you can help to update?

[2017-03-09 00:53] lindexi commented on #493
I want know :

1.  what is reflection

2. What the reflection can help us to programming

3. How about the safe of reflection

1. How to use reflection

1. What is the disadvantages about reflection.

[2017-03-09 01:42] mairaw opened #1682 "Merge the what's new in C# topics"
We currently have two what's new topics:
- https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/whats-new (migrated from msdn, not hookedup to the toc)
- https://docs.microsoft.com/en-us/dotnet/articles/csharp/whats-new (new one created for the site)

We should merge the content of the two into the second one.

[2017-03-09 02:00] mairaw commented on #1680
And these are the related samples:
- https://github.com/dotnet/docs/tree/master/samples/framework/libraries/migrate-library/ (upgrade to VS 2017?)
- https://github.com/dotnet/docs/tree/master/samples/framework/libraries/migrate-library-xproj/
- https://github.com/dotnet/docs/tree/master/samples/framework/libraries/migrate-library-xproj-keep-csproj/
- https://github.com/dotnet/docs/tree/master/samp

[2017-03-09 02:01] saurabhchoudhury opened #1684 "a"

[2017-03-09 02:01] #1684 closed

[2017-03-09 02:16] saurabhchoudhury opened #1685 "[Testing] #WrongScreenshot The screenshot provided is incorrect"
Testing

#1313
[https://docs.microsoft.com/en-us/dotnet/articles/standard/library](url)

Feedback
#WrongScreenshot The screenshot provided is incorrect

[2017-03-09 02:25] #1685 closed

[2017-03-09 02:29] mairaw commented on #1685
what is this @saurabhchoudhury? I've seen a notification for a LiveFyre comment that says this the other day, couldn't find the comment and this topic doesn't have any screenshots.

[2017-03-09 02:48] saurabhchoudhury commented on #1685
Please ignore this.

I am looking into overall feedback and livefyre comments from our customers so I am trying different stuff. Ignore it please.

Saurabh

From: Maira Wenzel [mailto:notifications@github.com]
Sent: Wednesday, March 8, 2017 6:30 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Saurabh Choudhury <saurabhc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/doc

[2017-03-09 05:24] conniey commented on #1680
Hi @mairaw , is there a deadline for this document? I am currently working on a couple of other tasks but I can definitely update this.

[2017-03-09 08:06] mairaw commented on #1339
is this partly covered here: https://aka.ms/vstest-filtering? I also noticed that we don't have dotnet vstest documented. I'll add a new issue for that.

[2017-03-09 08:10] mairaw opened #1692 "Add documentation for dotnet vstest"
We're missing a page for this command. It should be with the other CLI commands under https://docs.microsoft.com/en-us/dotnet/articles/core/tools/

[2017-03-09 08:17] mairaw commented on #1680
No, there's not a specific deadline. We're just trying to get everything moved to VS 2017/csproj land throughout the site. I can add a warning at the top of the page for now to say this hasn't been updated yet to the latest tooling. And please let me know if anything changes re. your availability. Thanks!

[2017-03-09 09:17] tmds opened #1693 "Provide guidelines for choosing RIDs when building a library"
The section "How to use native dependencies" at https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries says:

with a reference to the RID catalog: https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog.

Some things worth covering are.
- packages with native dependencies should use an rid that includes an architecture (e.g osx-x64, not osx)
- users should try to targe

[2017-03-09 09:18] mairaw opened #1694 "Add more information to the Frameworks and Targets topic"
Topic: https://docs.microsoft.com/en-us/dotnet/articles/standard/frameworks

Proposal:
Rename that topic to Target Frameworks
Add list of supported TFMs (similar to what we have in this topic over in the [NuGet docs](https://docs.microsoft.com/en-us/nuget/schema/target-frameworks))
Link to this topic where we mention the target framework, TFMs, etc. For example, a bunch of commands like dotnet-bui

[2017-03-09 18:11] rpetrusha commented on #493
This isn't really a C# issue, since support for reflection comes from the framework and particularly the types in `System.Reflection`. Once the .NET Framework documentation is migrated, there will be a sizable doc set that centers on reflection available on docs.microsoft.com. It would be a mistake to have a standalone C# reflection topic or section that duplicates content.
At the same time, the o

[2017-03-10 01:22] lindexi commented on #493
Thx @rpetrusha  for the .NET Framework documentation bring me to https://docs.microsoft.com/en-us/dotnet/articles/csharp/reflection but cant find any thing.

[2017-03-10 10:27] cmaneu commented on #397
There, From what I see here (https://github.com/dotnet/docs/blob/master/license.txt), the license has been updated, but this issue hasn't been updated.
@Thibaut is there sufficent for you to include .net documentation into DevDocs ?

[2017-03-10 16:20] #1367 closed

[2017-03-10 18:05] rpetrusha commented on #493
Sorry that I wasn't completely clear, @lindexi. The reflection documentation doesn't exist yet on docs.microsoft.com.  It can be found on MSDN at [Reflection in the .NET Framework](https://msdn.microsoft.com/en-us/library/f7ykdhsy(v=vs.110).aspx). That documentation set will be migrated to docs.microsoft.com in the near future, and will form the basis of the new reflection documentation set.

[2017-03-10 18:18] #1369 closed

[2017-03-10 19:30] mairaw commented on #1622
This is done.

[2017-03-10 19:30] #1622 closed

[2017-03-10 19:47] GuardRex commented on #1694
@mairaw

Just the topic title, correct? I can leave the file name (`frameworks.md`) as it is, correct?

Assuming the file name and URL don't change here (just the title), would you like me to run back over to #1705 and add links to this doc before that PR goes in? If so, I'll do that first (now).

[2017-03-10 21:51] rpetrusha opened #1709 "Support for binary value assignments (e.g., x = 0b01;)"
The documentation should note how to create numeric values not only from decimal literals, but also from hexadecimal and (starting in C# 7) binary literals.

[2017-03-11 01:06] lindexi commented on #493
My search engine bring me to docs.microsoft.com but not found the documentation and thank you @rpetrusha  to give the MSDN site.

[2017-03-11 04:46] richlander opened #1711 "Document Assembly Loading for Core"
There are several scenarios.

- Dynamic loading from bin directory
- Dynamic loading from other locations
- AssemblyLoadContext.Default.Resolving

See: https://github.com/dotnet/core/issues/290

[2017-03-11 04:46] richlander opened #16060 "Document Assembly Loading for Core"
There are several scenarios.

- Dynamic loading from bin directory
- Dynamic loading from other locations
- AssemblyLoadContext.Default.Resolving

See: https://github.com/dotnet/core/issues/290

[2017-03-11 06:14] GuardRex opened #1713 "Add dotnet-vstest to dotnet command topic"
Blocked by #1698 (`dotnet-vstest.md` doesn't exist yet) & #1705 (`dotnet.md` is undergoing revision)

[2017-03-11 06:35] mairaw commented on #1713
This kind of merge conflict would be easy to solve if you wanna handle that in the vstest PR

[2017-03-11 06:36] #1713 closed

[2017-03-11 06:46] GuardRex commented on #1713
"Famous last words?" :grinning: ... I must be getting "conflict averse" in my old age. lol

[2017-03-11 14:46] jskeet commented on #1362
Given that C# 7 has now fully shipped with VS 2017, I'd suggest expediting this migration.
(This has absolutely *nothing* to do with trying to write the 4th edition of C# in Depth and finding documentation easier to read than ildasm, of course. Perish the thought.)

[2017-03-12 16:52] Thibaut commented on #397
@cmaneu see my comment above. The .NET API docs are currently [not part of this repo](https://github.com/dotnet/docs/tree/master/api). AFAICT they're unlicensed / subject to docs.microsoft.com's [terms of use](https://docs.microsoft.com/en-us/legal/termsofuse), which prohibit redistribution.

[2017-03-12 22:17] richlander commented on #397
The API docs will be made open relatively soon, I expect in H1 2017. This is a strong goal of ours.

[2017-03-13 06:45] mairaw opened #1718 "Fix migrated topics that have missing samples"
When we migrated the content for C#/VB from MSDN, there were some samples that were not exported correctly and instead a `<CodeContentPlaceHolder>` is present:
https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=CodeContentPlaceHolder

Sai has re-exported the content for us in this branch:
https://github.com/dotnet/docs/tree/migration_csharpvb

I checked one of the topics and the issue seems to

[2017-03-13 08:04] mairaw commented on #1591
@GuardRex I think this is a good one for you to work on next!

[2017-03-13 17:08] mairaw commented on #1709
@rpetrusha are you working on this already? If so, can you please assign this to you and add the milestone?

[2017-03-13 17:12] BillWagner commented on #1682
When you merge, let's keep this in reverse order: newest at the top, and previous versions below.

We should also move (and redirect) all those files to a 'whats-new' directory. (We should do this when we re-organize content and incorporate the migrated MSDN content).

[2017-03-13 17:17] rpetrusha commented on #1709
@mairaw Done.

[2017-03-13 17:18] mairaw commented on #1644
Do we have a feature request tracking this internally? Otherwise, it's not on their radar.

/cc @dend @Rick-Anderson

[2017-03-13 17:22] mairaw commented on #1627
If the common scenario is ASP.NET, should we move this to aspnet then @Rick-Anderson?

[2017-03-13 18:30] Rick-Anderson commented on #1627
Moved to https://github.com/aspnet/Docs/issues/2960

[2017-03-13 18:30] #1627 closed

[2017-03-13 18:31] Rick-Anderson commented on #1644
No. Should I create one?

[2017-03-14 01:22] mairaw commented on #1646
Assigning to you then @cartermp. #1693 is also related to this topic. Thanks!

[2017-03-14 03:30] mairaw commented on #1644
@dend @EisenbergEffect can you guys comment if this is something that you already have in the backlog in terms of feature requests for docs?

[2017-03-14 03:35] EisenbergEffect commented on #1644
@dend is the best person to address that.

[2017-03-14 20:23] GuardRex opened #1730 "NuGet.config: globalPackagesFolder coverage"
Opened per https://github.com/dotnet/docs/pull/1725

Per @Redgwell: Adds a new *NuGet.Config* section which includes the otherwise undocumented behaviour of `dotnet restore` with the `globalPackagesFolder` setting.

This is an alternative to users who rely upon the previous repositoryPath behaviour.

[code]

We prob need a better spot for NuGet.config documentation than added to the end of the `do

[2017-03-14 20:35] Redgwell commented on #1730
I'm happy to write this up in an appropriate place - just let me know where it should go.

[2017-03-14 20:38] GuardRex commented on #1730
@Redgwell I've spent more time with the ASP.NET Core docs, so I'm just getting my bearings over here. @mairaw will definitely know if/where we have anything on *NuGet.config* or if there's a plan to get something over here on it. In the end, this might end up right back where you had it, but let's see if there's a good spot (or a spot coming up with a new doc in the future).

[2017-03-14 23:31] #1610 closed

[2017-03-15 00:06] mairaw commented on #1730
There is a doc on that file on the Nuget docs: https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file

I think we should mention that the behavior of the `dotnet restore` command can be affected by the settings on that file and link to that topic?

@blackdwarf any thoughts on that?

[2017-03-15 00:09] Redgwell commented on #1730
In addition, in that linked doc it states:

So that should probably be amended.

[2017-03-15 00:10] mairaw commented on #1730
I'll open an issue for that one in their repo.

[2017-03-15 00:26] GuardRex commented on #1730
@mairaw @blackdwarf If you decide you like this link/comment in the `dotnet restore` doc, I can still squeeze it in on the commands PR.

[2017-03-15 00:39] Redgwell commented on #1730
I've created a PR for that issue raised against the docs.microsoft.com-nuget repo.

[2017-03-15 06:31] mairaw commented on #1482
@morrisjoe can we close this one now?

[2017-03-15 15:54] morrisjoe commented on #1482
@balachir is the one who raised this issue and it's best if he close this.

[2017-03-15 20:02] GuardRex commented on #1730
https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file will get updated from PJ to csproj soon-ish I imagine.

@mairaw Do you want me to add a reference to the `globalPackagesFolder` to `dotnet restore` command now while we still have the commands PR in the bullpen?

It'll get an issue closed here if we do. :+1:

[2017-03-15 23:13] mairaw opened #1737 "Replace language identifier to use the supported ones for OPS"
We need to add the list of supported language to our [style guide](https://github.com/dotnet/docs/blob/master/styleguide/template.md#inline-code-blocks-with-language-identifier) and replace the alternative ones currently in use in our repo to the officially supported ones, since new features will be done based on those.

For example, replace \`\`\`cs with \`\`\`csharp, \`\`\`fs with \`\`\`fsharp,

[2017-03-16 00:45] svick commented on #1737
How hard would it be to support the alternative language names? That way, contributors would have one less thing to worry about.

[2017-03-16 13:25] mairaw commented on #1737
@adkinn can you please address this question?

[2017-03-17 00:36] tompratt-AQ commented on #1737
Here is some more information on this issue based searches of [our docs ](https://github.com/dotnet/docs/tree/master/docs ) and a comparison of the [Markdown Labels in the GFM list](https://github.com/jmm/gfm-lang-ids/wiki/GitHub-Flavored-Markdown-(GFM)-language-IDs )  that we currently endorse, and our internal list of [Supported Languages ](https://review.docs.microsoft.com/en-us/csi/msdocs/code

[2017-03-17 00:57] svick commented on #1737
@tompratt-AQ Thank you for considering my suggestion.

I think staying close to the GFM list makes sense, but it doesn't have to exact.

Adding languages on the GFM list that are currently not supported doesn't make much sense, considering that most of them will likely never be used on docs.ms. And I don't see any issue with supporting languages not on the GFM list, or having a specific version fo

[2017-03-17 03:03] mairaw commented on #1737
I'll keep discussing this with the team @svick. I agree with you that supporting cs and fs for example would be the most convenient. I need to file a request for them to also support newer identifiers like xml or sql. So I'll keep you posted, Thanks!

[2017-03-17 03:05] mairaw commented on #808
@tompratt-AQ once you're done with your tasks, let's take a look at this one. A co-worker shared a script that could help us do that. Thanks!

[2017-03-17 03:59] cartermp commented on #1646
FYI, I'm midway through this.  Lots of fundamental changes have to be made to this article, unfortunately.  It's coming along.

[2017-03-17 05:13] GuardRex opened #1743 "Building .NET Core solutions using Visual Studio for Mac"
* Prerequisites for .NET Core on Mac
* Getting started with .NET Core on macOS using Visual Studio for Mac
* Building a complete .NET Core solution on macOS using Visual Studio for Mac

[2017-03-17 07:33] mairaw opened #1745 "Update reducing package dependencies for csproj or remove it?"
I was looking at a tweet from a customer about this topic:
https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/reducing-dependencies
and I've noticed this article has been completely out of the radar because it wasn't linked from the TOC.

This needs to be updated for csproj and added to TOC, or removed.

@dsplaisted @livarcocc who could help with this? is it still applicable given the

[2017-03-17 07:44] mairaw commented on #1518
@GuardRex since I'm tied up with other things at the moment, please work on this one next. Thanks!

[2017-03-17 08:04] #1718 closed

[2017-03-18 00:43] livarcocc commented on #1745
This is for project.json, so I don't think we should do anything about it. As for msbuild and 2.0. The packages won't be metapackages anymore.

[2017-03-18 22:50] richlander opened #1752 "xunit dotnet core page should point to dotnet docs"
This is the "home page" for xUnit for .NET Core. It should point to docs.

https://xunit.github.io/docs/getting-started-dotnet-core.html

Linked from: https://github.com/xunit/xunit/blob/master/README.md

We should ensure that we have a page that Brad and co would be happy linking to and then ask them to do that from the page linked above.

/cc @bleroy

[2017-03-20 00:53] BillWagner opened #1756 "C# Guide: Tutorial for writing generalized async return types"
C# 7 relaxes the rules on the return types for async methods. These new rules are demonstrated by the ValueTask type in the latest framework. That handles some of the most likely scenarios.

However, we should write a tutorial that shows readers how to create their own types that satisfy the pattern for a return type from async methods.

[2017-03-20 05:17] AlirezaHaghshenas commented on #1756
Ok I'll share my scenario, it may be useful for the tutorial:

Like most other developers, I have my own way of making use of technology. In using webapi, I create a generic result class that will tell the client if the execution was successful, contains the result if so, and information about the problem if not. Something like this:

    public class Result<T>
    {
        public bool Succeeded

[2017-03-20 17:35] #1709 closed

[2017-03-20 17:43] GuardRex commented on #1518
@mairaw I have an open PR that touches this doc for `dotnet vstest`, which includes enhancing the OOB command list. Any objection to rolling these changes into that PR?

[2017-03-20 18:31] mairaw commented on #1745
@livarcocc We're removing or upgrading all topics related to project.json from our docs. So I'm guessing we should remove this one then.

[2017-03-20 18:52] mairaw commented on #1523
Fixed with #1649

[2017-03-20 18:52] #1523 closed

[2017-03-20 18:55] mairaw commented on #1482
@balachir I believe this work item is done. https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects has been updated and has a link to our topic about migration: https://docs.microsoft.com/en-us/dotnet/articles/core/migration/#visual-studio-2017

[2017-03-20 18:55] #1482 closed

[2017-03-20 21:37] #1743 closed

[2017-03-20 22:13] #1591 closed

[2017-03-20 23:23] GuardRex commented on #1518
@mairaw @blackdwarf

RE: The update to include #1518

AFAICT the commands `index` doc only indirectly pertains to app types via the language on using the `dotnet` command to launch framework-dependent apps. That's documented here with a link to the app types doc. If you want more, let me know what you want and how you want it worked in here.

I need clarification on what else is required to cover

[2017-03-21 00:22] BillWagner commented on #1756
@AlirezaHaghshenas That's a really useful scenario. We'll triage this issue and we'd appreciate any help putting it together.

[2017-03-21 01:33] BillWagner commented on #1362
@jskeet This would probably be easier than ILDASM: https://github.com/dotnet/corefx/tree/master/src/System.ValueTuple/src/System/ValueTuple

[2017-03-21 01:40] BillWagner opened #1758 "ValueTask example is not thread safe"
The method that starts [here](https://github.com/dotnet/docs/blob/master/samples/snippets/csharp/new-in-7/AsyncWork.cs#L80) is not thread safe.

From a customer comment:

[2017-03-21 02:03] BillWagner opened #1760 "C# Guide: Explain the language dependency on framework types"
This stems from comments [here](https://docs.microsoft.com/en-us/dotnet/articles/csharp/csharp-7) regarding the necessity of including the System.ValueTask NuGet package. In particular, this comment:

The mental model should be that the compiler knows how to generate code for all the features. However, some features rely on particular classes or methods in a library. The NuGet packages enable deve

[2017-03-21 06:59] jskeet commented on #1362
Thanks on both counts :)

[2017-03-21 08:00] AlirezaHaghshenas commented on #1756
As I read the sources for `ValueTask<>`, I noticed that my scenario can be easily handled by creating a class that wraps `Task<Result<T>>` and another one that wraps `Task<Result<IEnumerable<T>>`.

Do you have a scenario in mind that requires creating a class from scratch, totally separate from `Task<T>`?

[2017-03-21 17:14] RichardD2 opened #1763 "Local functions vs Lambda expressions: Incorrect information"
https://docs.microsoft.com/en-us/dotnet/articles/csharp/local-functions-vs-lambdas
https://github.com/dotnet/docs/blob/master/docs/csharp/local-functions-vs-lambdas.md

The first difference states:

However, the compiler has to do *exactly* the same thing for local functions.

[2017-03-21 17:15] richlander opened #1764 "Sprinkle ".NET Core CLI" throughout .NET Core Tools docs"
A user said that they searched on ".NET CLI" and didn't find the right docs. We don't use this term much in the docs, but we do in other places. I don't suggest moving to this term, generally. It's essentially a colloquial term. It is however, a good idea, to conservatively (as opposed to liberally) sprinkle it in some key docs that that people searching for it are more likely to get to some usefu

[2017-03-21 17:17] mairaw commented on #1764
We do have CLI in the keywords metadata, but I think we could actually add that to the title of the .NET Core CLI commands.

For example:
dotnet-migrate command | Microsoft Docs ->
dotnet-migrate command - .NET Core CLI | Microsoft Docs

[2017-03-21 17:26] #1656 closed

[2017-03-21 17:43] svick commented on #1763
Not really. There are cases where the compiler can create an anonymous *struct* for a local function, even though it would have to create a class for a lambda, thus avoiding a heap allocation.

Though [looking at the decompiled code](https://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcBYAUKSWRFDAOgBUALAJ1QEMATQiukAaxB1zwjvVRAAHOgGNUMCKgDuAfUgyA7HgDeeGOpiDgAIwA2YETBG7WIGAEEQC

[2017-03-21 17:52] RichardD2 commented on #1763
That's interesting - I didn't know it could do that. 👍

But, as you say, this example isn't one of those cases. Perhaps it would be better to have an example where that *does* happen. :)

[2017-03-21 20:30] danmosemsft opened #1767 "Documentation Duplication Between .NET Projects"
Porting https://github.com/dotnet/corefx/issues/5899

- Move dotnet/corefx/Documentation/project-docs/glossary.md to dotnet/core-docs
- Follow @cartermp's advice and add new TOC entry "Glossary" under "Understanding the .NET Platform"

@cartermp

[2017-03-21 20:30] danmosemsft commented on #1767
@blackdwarf

[2017-03-21 21:18] mairaw commented on #1142
Both topics have been updated,

[2017-03-21 21:18] #1142 closed

[2017-03-21 21:32] GuardRex opened #1770 "Update VS for Mac tutorial unit testing guidance"
Current unit testing guidance is to run the tests via the command line instead of from within the IDE and to run the project directly as opposed to using the Play button. The doc makes these compromises due to the inability of xUnit to discover tests properly. The doc should be updated to run the tests and run the project from the IDE.

[2017-03-21 22:10] bleroy opened #1771 "Add guidance for unit test debugging in VS Code"
We currently have topics on getting started with unit testing using [xUnit](https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-dotnet-test) and [MS Test](https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-mstest), but those topics don't explain how to debug tests. Doing so with Visual Studio is not particularly hard, so could be explained s

[2017-03-21 22:14] bleroy opened #1772 "Multitargeting topic should include guidance on testing and debugging against a specific target"
The [multitargeting topic](https://docs.microsoft.com/en-us/dotnet/articles/core/porting/project-structure) currently has no information on how to debug or test against a specific target. While the Visual Studio support for the feature doesn't exist yet, it would still be good to explain what the behavior in VS is (the first specified TFM is picked for F5 and testing). The topic should be expanded

[2017-03-21 22:14] bleroy commented on #1771
Related: #1772

[2017-03-21 23:07] mairaw opened #1773 "Remove redirected files from repo"
We have some topics in the repo that are no longer applicable. Instead of keeping them in the repo, the redirection metadata should be moved to the [.openpublishing.redirection.json](https://github.com/dotnet/docs/blob/master/.openpublishing.redirection.json) file and the files deleted.

[2017-03-22 00:15] GuardRex commented on #1489
@mairaw Not an easy call ... It's an awful lot of content (long examples) to tack on to the command doc; and as a separate doc, where does it go? ... under `dotnet test` as a sub-doc?

What do you prefer?

[2017-03-22 00:38] #1518 closed

[2017-03-22 00:38] #1692 closed

[2017-03-22 04:09] Redgwell commented on #1730
The nuget docs have been [updated with my PR](https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file).

[2017-03-22 16:51] karelz opened #1778 "dotnet core api documentation is a huge step backward"
_From @MarkPflug on March 20, 2017 19:28_

It is my opinion that the high quality of the documentation provided for the .NET BCL has always been one of its strong points. Pressing F1 in Visual Studio would usually provide you with great detail about how to use an API. With VS2017 and the new .NET Core help system I feel there has been a massive step backwards in the value provided by the documenta

[2017-03-22 16:51] karelz commented on #1778
_From @svick on March 20, 2017 23:44_

I agree that this is currently the biggest issue with the .Net Core docs.

That being said, documentation issues belong in [the docs repo](https://github.com/dotnet/docs) and this is a known issue. For example, see https://github.com/dotnet/docs/issues/307 (created over a year ago by me).

[2017-03-22 16:51] karelz commented on #1778
_From @dend on March 22, 2017 7:4_

@MarkPflug thank you so much for the feedback! My team and I are working on ensuring that we improve that experience. Stay tuned - we have significant improvements coming to the docs site in the .NET area shortly.

[2017-03-22 16:51] karelz commented on #1778
_From @SolderedMushroom on March 22, 2017 16:10_

Agreed about remarks, but I've always found the example section of MSDN documentation to be at best useless, if not outright detrimental. Usually the samples are five times longer than they need to be and won't help you understand the actual method supposedly being documented, unless you carefully scrutinize the entire example and have foreknowledg

[2017-03-22 16:51] karelz commented on #1778
_From @svick on March 22, 2017 16:37_

@SolderedMushroom Well, once that part of the docs becomes open source (I'm assuming that's part of those coming "significant improvements"), you'll be able to improve them yourself.

[2017-03-22 17:38] guardrex opened #1780 "[2.0] Revert note on regression of CLI for dotnet run "-p" option"
Note added with https://github.com/dotnet/docs/pull/1779

[2017-03-22 17:46] dend commented on #1778
@svick @solderedmushroom Yes, that is indeed part of the significant improvements timeline.

[2017-03-22 18:06] mairaw commented on #1778
I'll close this one since we're using #307 to track this issue. Feel free to comment there.

It's a pain point we're working towards to resolve soon. But we'd love to hear your feedback when the new experience is released. Thanks!

[2017-03-22 18:06] #1778 closed

[2017-03-22 21:06] tompratt-AQ commented on #1773
@mairaw I can take this one on.
From what I can see, all of the redirected files have a "redirect_url:" in their metadata (and usually no other content beyond the metadata). I can make the appropriate entries in .openpublishing.redirection.json and delete the files.

[2017-03-22 21:07] mairaw commented on #1773
Thanks @tompratt-AQ. I've assigned this one to you.

[2017-03-22 22:00] guardrex opened #1785 "Document NUnit in .NET Core Guide > Unit Testing"
#@VitalyLitvinuk asks on [Unit testing with MSTest and .NET Core](https://docs.microsoft.com/en-us/dotnet/articles/core/testing/unit-testing-with-mstest) ...

A doc covering NUnit might be temporarily blocked by https://github.com/nunit/nunit3-vs-adapter/issues/297, and commentary in https://github.com/nunit/nunit3-vs-adapter/issues/308 indicates on-going work.

cc/ @rprouse

[EDIT] Note to self:

[2017-03-22 22:42] #1764 closed

[2017-03-22 22:43] dmccaffery commented on #1339
Is code coverage supported outside of windows yet? thats another good thing to know.

[2017-03-23 02:09] mairaw opened #1787 "Remove/redirect NIB links from the content"
We have several old links that go to retired topics that will start with NIB or Not in Build. We should review the content to see whether those links should be removed or replaced.

- [ ] https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=nib&type= (current count: 439)
- [ ] https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=notinbuild&type= (current count 15)
- [ ] https://github.com/dotn

[2017-03-23 02:31] mairaw commented on #797
No longer applicable.

[2017-03-23 02:31] #797 closed

[2017-03-23 02:35] mairaw commented on #840
No longer applicable. This article no longer exists.

[2017-03-23 02:35] #840 closed

[2017-03-23 02:36] mairaw commented on #799
No longer applicable.

[2017-03-23 02:36] #799 closed

[2017-03-23 02:47] mairaw opened #1788 "Fix code snippet references missing language identifier"
I've noticed that a few files are not using the language identifier when referencing a code snippet which causes the snippets to not have a language identifier or be colorized appropriately:

![image](https://cloud.githubusercontent.com/assets/12971179/24229605/abb7520c-0f37-11e7-9418-75219a4e63cc.png)

For example:
`[!CODE [csSnippets.Lambdas](../../samples/snippets/csharp/concepts/lambda-express

[2017-03-23 16:26] rpetrusha commented on #1787
In addition to removing or replacing the links, a third option is to restore the original topic. In some cases, the decision to remove a topic from the doc set was based purely on page views over a specified time period, which is not necessarily a very good way to assess the importance of a topic.

[2017-03-23 17:23] rpetrusha opened #1789 "Separate topic on expression-bodied members; should be linked to from all topics that can be expression-bodied"

[2017-03-24 04:25] cartermp commented on #1339
@dmccaffery No, I don't believe it is.

[2017-03-24 12:44] rprouse commented on #1785
I am working on support in the NUnit adapter, although we don't have an issue yet to track adding templates. At the moment, the only way to run NUnit .NET Core tests that have been converted to CSPROJ is to convert them to NUnitLite self-executing tests, but that shouldn't be documented.

[2017-03-24 16:32] GuardRex commented on #1785
@rprouse Thanks. I'll keep an eye on progress. If this doc is approved later by management, someone will get right on it when you're ready and they pull the trigger.

[2017-03-24 17:41] raffaeler commented on #1711
I opened a similar discussion here:
[https://github.com/dotnet/core-setup/issues/1810](https://github.com/dotnet/core-setup/issues/1810)

[2017-03-24 17:46] agocke commented on #1760
Regarding

This isn't quite correct. True, Roslyn is open source and you can write your own language features, but they still need to be included in the compiler and can't be added via NuGet package. You can add your own _diagnostics_ (warnings/errors) via a [Roslyn analyzer](https://msdn.microsoft.com/en-us/library/mt162308.aspx) NuGet package, but those won't generate any additional code or add

[2017-03-24 17:57] mairaw commented on #1730
The topic in NuGet is still mentioning project.json and the row for the globalPackagesFolder still says project.json only. @kraigb are you guys removing project.json references from the NuGet docs?

Let's add some info with a link to that topic in NuGet from dotnet restore @GuardRex. Thanks!

[2017-03-24 19:00] mairaw opened #1795 "Review outdated content mentioning old versions of VS"
There are a lot of topics that still mention old versions of Visual Studio.

For example, see this query for Visual Studio 2010:
https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=visual+studio+2010&type=

When we can, we should avoid talking about a specific version unless we're saying when a feature was introduced or showing version history.

Also note that topics can be using the token file

[2017-03-24 19:04] mairaw commented on #1483
@morrisjoe can we sync to understand what exactly needs to be done here and where is the best place to put this information?

[2017-03-24 19:05] mairaw commented on #1445
Project is close to being done.

[2017-03-24 19:08] #1730 closed

[2017-03-24 19:10] GuardRex commented on #1730
@Redgwell Thanks for flagging us on this! :rocket:

[2017-03-24 19:40] mairaw opened #1797 "Split mixed C# and VB topics"
On MSDN, there were topics for C# and VB that were combined: https://msdn.microsoft.com/en-us/library/hh334523.aspx

There was a big effort to split them but some continue to be mixed even though they're under a specific guide. For example: [Null-conditional Operators (C# and Visual Basic)](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/operators/null-conditional-operato

[2017-03-24 19:48] tompratt-AQ commented on #1797
If the goal is to completely split these topics into both languages, then it makes sense to review each one and do that. What is the argument for not doing it? Is there a worry that it will lead to too much duplication? Or, there won't be enough content for one language vs. the other?

[2017-03-24 20:14] rpetrusha commented on #1797
I don't think that we need to review each topic separately -- or, to put it another way, the review in the PR should be adequate. We mostly need to identify them.
I've also added an [interpolated string identifier](https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/tokens/interpolated) topic for C# that should have a VB equivalent but doesn't. The topics would be identical

[2017-03-24 21:00] mairaw commented on #1797
Ok, so let's work on putting a list together first.

[2017-03-24 21:01] #1737 closed

[2017-03-24 22:12] BillWagner opened #1800 "Document the C# compiler /pathmap command line flag"
Replacing https://github.com/dotnet/roslyn/issues/18071

Please see that issue for details on the new flag.

The new documentation should be under this directory https://github.com/dotnet/docs/tree/master/docs/csharp/language-reference/compiler-options

/cc @gafter

[2017-03-25 01:13] mairaw commented on #320
@dend we do have an internal feature request tracking this right?

[2017-03-27 04:59] dmccaffery commented on #1339
@cartermp :feelsgood:

[2017-03-27 15:38] BillWagner opened #1803 "C# ref local and returns are not allowed on async methods"
This follows the same logic as why ref and out arguments are not allowed on async methods, but we should state it explicitly in the "what's new in C# 7" topic, and where we describe the `ref` keyword.

/cc @rpetrusha

[2017-03-27 15:45] BillWagner commented on #945
@tompratt-AQ I just assigned this one to you. Let me know if you have a Mac to work with. If not, we'll move the issue.

[2017-03-27 15:46] BillWagner commented on #944
@tompratt-AQ I just assigned this to you. Let me know if you need help finding the VS Code extensions for C#.

[2017-03-27 15:48] BillWagner commented on #942
@tompratt-AQ Putting all of this under your umbrella. Let me know if you need more information than the notes on these issues.

[2017-03-27 15:49] BillWagner commented on #1375
@rpetrusha Is this one done already? Can we close it?

[2017-03-27 15:57] BillWagner commented on #1797
There's another project underneath (and later) under this. The migration split the topic, but copied them into both destination trees. I think we'll see C# explanations in the VB version and vice-versa in the markdown text. While less of a problem, that should eventually be addressed.

The first batch should be identifying where a topic moved to one guide but did not make it into the other languag

[2017-03-27 20:24] GuardRex opened #1808 "Update 'Whats new for C#/VB' docs to reflect latest version of VS"
https://docs.microsoft.com/en-us/dotnet/articles/csharp/getting-started/whats-new
https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/getting-started/whats-new

https://github.com/dotnet/docs/blob/90fe68f7f3c4b46502b5d3770b1a2d57c6af748a/docs/csharp/getting-started/whats-new.md
https://github.com/dotnet/docs/blob/90fe68f7f3c4b46502b5d3770b1a2d57c6af748a/docs/visual-basic/getting-started/

[2017-03-27 21:17] kraigb commented on #1730
We'll be maintaining project.json for the foreseeable future, because it's still used in legacy project types and the NuGet docs need to cover all versions.

[2017-03-27 21:27] SamuelEnglard opened #1809 "Move docs repos to their own org"
Because of all the language versions of the docs (docs.zh-CN for example) the docs repos are taking over the dotnet org. I suggest moving them to their own org.

[2017-03-27 23:04] GuardRex commented on #1730
@kraigb The spot in the table where it states "(`project.json` only)" ... should that say something like "(`project.json` and VS 2017 projects only)"?

[2017-03-28 01:38] GuardRex commented on #1795
**WIP** until a final pass is made after the three PR's are merged.

[2017-03-28 02:12] richlander commented on #1809
Good issue.

We had the same problem in the Microsoft org. All of those docs repos moved out into their own org for this same reason. I'd like to see this repo stay in the dotnet org and for all the others to move out. If they need to move all together, then this repo can be forked into that org.

Thoughts @mairaw ?

[2017-03-28 02:16] mairaw commented on #1809
@EisenbergEffect I thought we were looking into solutions to minimize the number of localization repos needed. Is that something we still want to pursue or do we need to move the docs to a different place?

/cc @nokura

[2017-03-28 03:37] EisenbergEffect commented on #1809
Please email me and I'll fill you in.

[2017-03-28 12:06] MichaelPuckett2 commented on #1760
That does help and I appreciate the clarification.  It makes better sense also; I got wrapped up in other discussions and somewhere in the mix my thinking was thrown off course.  Thanks.

[2017-03-28 15:15] BillWagner commented on #1682
Closing per PR #1757

[2017-03-28 15:15] #1682 closed

[2017-03-28 17:55] svick opened #1815 "Broken links"
While trying to fix broken links (https://github.com/dotnet/docs/pull/1814), I encountered several that I couldn't fix. Either their targets should be fixed, or the links should be removed.

* [Additional Resources for Visual Basic Programmers](https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/getting-started/additional-resources) links to http://msdn.microsoft.com/practices/default.as

[2017-03-28 18:16] richlander commented on #1809
From a process standpoint, we need an answer (and positive outcome) to this quite legitimate question from the community. That doesn't have to happen today, but we do need to report back on this issue in the foreseeable future.

[2017-03-28 18:20] GuardRex commented on #1815
Side Note: I never got around to it over in the ASP.NET Core docs, but there were quite a few 301 redirects over there (e.g., `http://twitter.com` should be `https://twitter.com`). I haven't done the analysis over here for redirects. It's a separate issue perhaps, but I was just wondering if when you did your broken link analysis if you witnessed a lot of 301's as well?

[2017-03-28 18:59] svick commented on #1815
@GuardRex Looking at it now, there seems to be a lot of 301s, starting with 23 of them just on [the main page](https://docs.microsoft.com/en-us/dotnet/). And the vast majority of those are due to a missing trailing slash (e.g. https://docs.microsoft.com/en-us/dotnet/articles/core is 301 pointing to https://docs.microsoft.com/en-us/dotnet/articles/core/). Personally I don't think those are worth fi

[2017-03-28 19:08] GuardRex commented on #1815
*Roundtrips suck!* lol :grinning: I'd fix all of them. I'm a bit of speed freak, so I don't like anything that slows anything down.

Ah ... that's very interesting. I use [Xanu](http://home.snafu.de/tilman/xenulink.html) ... must be their :alien: influences :smile:, but I look forward to taking a closer look at your `DotnetCoreDocsWalker`.

@mairaw If you'd like an issue to fix 301's, let me know

[2017-03-28 20:31] #1808 closed

[2017-03-28 21:26] mairaw commented on #1815
@GuardRex can't we use this issue for that? I personally prefer going straight to the topic avoiding 301 redirects, if possible.

@mikeblome are you guys deleting content without establishing 301 redirects for them in the VS docs?

[2017-03-28 21:32] GuardRex commented on #1815
Sure. I just didn't know if it was something you wanted to table for a later date.

Yes, indeed on 301's ... eee ... yuck! :grinning: ... and they have quite a few over in ASP.NET Core docs IIRC. I'll check both sets of docs and talk to Tom about the ones over there and report back here what I find out.

[2017-03-28 21:36] mairaw commented on #1815
Yes, it could go to the backlog. I recently had to add all the pages where we missed the 301 redirects in our repo. They do run reports and open bugs for those internally and also on 404's (although I haven't seen a recent version of a 404 report).

[2017-03-28 21:37] mikeblome commented on #1815
I'm not aware of any deletions. +Mike and Kemp

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Luke Latham <notifications@github.com>
Sent: Tuesday, March 28, 2017 2:32:31 PM
To: dotnet/docs
Cc: Michael Blome; Mention
Subject: Re: [dotnet/docs] Broken links (#1815)

Sure. I just didn't know if it was something you wanted to table for a later date.

Yes, indeed

[2017-03-28 21:39] mairaw commented on #1815
@mikeblome this is the commit that @svick pointed to in the VS repo: https://github.com/Microsoft/visualstudio-docs/commit/c2afa3e2f52109eb01e47f1731a19f9f74810c6d

This broken a bunch of our links to the VS docs.

[2017-03-28 21:49] mikeblome commented on #1815
ah ok. darn. These topics were removed in CAPS last year, but we stashed them in NOT in TOC rather than Retired Contents as a hack to get around some CAPS issue. So they got migrated to docs. I'll create redirects.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, March 28, 2017 2:39:11 PM
To: dotnet/docs
Cc:

[2017-03-28 21:55] mairaw commented on #1745
@ericstj would you know? should https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/reducing-dependencies be replaced with what's in this topic https://github.com/dotnet/standard/blob/master/Microsoft.Packaging.Tools/docs/trimming.md?

[2017-03-29 00:24] mairaw commented on #1797
@tompratt-AQ let's first come up with the list of articles for the first batch and work on those!

[2017-03-29 00:34] #888 closed

[2017-03-29 00:45] guardrex opened #1821 "Merge expression tree sections"
Merge sections ...

https://docs.microsoft.com/en-us/dotnet/articles/csharp/expression-trees
https://github.com/dotnet/docs/blob/master/docs/csharp/expression-trees.md

and

https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/concepts/expression-trees/
https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/concepts/expression-trees/index.md

[2017-03-29 00:50] #1335 closed

[2017-03-29 01:07] mairaw commented on #1821
Just to be clear, we need to merge those two sections. @BillWagner should the final destination be the programming guide one?

[2017-03-29 01:15] BillWagner commented on #1821
I'd prefer moving topics out of the migrated Programming Guide section into a new tree.

However, the new topics are all in one directory, which won't work as more content is updated. So, I'd like put this in a /concepts directory under the chsarp directory when it's updated.

Does that make sense?

[2017-03-29 01:26] mairaw commented on #1821
Yep, at least to me. 😄

[2017-03-29 02:23] GuardRex commented on #1815
Took a look. I see a bunch. To get an accurate count, I'd need to factor out the 301's for localization. However, a bunch jump right out (this is just a sample) ...

https://docs.microsoft.com/en-us/dotnet/articles/core/
http://asp.net/ :point_right: https://asp.net/

https://docs.microsoft.com/en-us/dotnet/articles/core/macos-prerequisites
http://brew.sh/ :point_right: https://brew.sh/

https://d

[2017-03-29 12:00] svick opened #1823 "Weird &lrm; in the TOC for articles ending with #"
I see a weird `&lrm;` sequence (HTML character reference for the left-to-right mark character) in the TOC for the articles *Tour of C#* and *What's new in C#*:

![](https://cloud.githubusercontent.com/assets/287848/24453154/fe021fd4-1486-11e7-9a79-899e813097e5.png)

This seems to be affecting all articles whose titles end with # (a few more examples are under the *Using F# on Azure* node).

[2017-03-29 14:21] BillWagner commented on #1823
@DuncanmaMSFT This is new.  Is this a regression in the most recent build?

[2017-03-29 14:29] DuncanmaMSFT commented on #1823
It is a new bug in our template. We had to add a bunch of logic to treat # special to avoid it being treated like punctuation when viewing the page in right-to-left languages. Seems like it has an issue.

On Mar 29, 2017 7:21 AM, Bill Wagner <notifications@github.com> wrote:

@DuncanmaMSFT<https://github.com/DuncanmaMSFT> This is new. Is this a regression in the most recent build?

—
You are recei

[2017-03-29 15:18] geoffrk00 commented on #1823
Is there a url that we can look at that has this problem? I am not able to reproduce this locally.

[2017-03-29 15:47] BillWagner commented on #1823
@geoffrk00 Here are a couple: https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/
https://docs.microsoft.com/en-us/dotnet/articles/csharp/whats-new/

Look at the first TOC node. You'll find this anywhere an H1 header ends in '#' C# and F# docs do that a lot.  /cc @cartermp

[2017-03-29 18:29] geoffrk00 commented on #1823
thank you for the link.
We have fixed this and it will be deployed soon

[2017-03-29 18:55] BillWagner commented on #942
The topics under the current csharp/getting-started are really centered on .NET Core as a platform. In fact, all the tutorials focus on building an assembly (library, or executable) for .NET Core. They also cover unit testing (if only briefly).

So, what should happen is this:

1. The existing topics, which focus on .NET Core as a platform should find a new location under [getting-started with .NE

[2017-03-29 19:18] GuardRex commented on #943
How does https://github.com/dotnet/docs/pull/1679 fit into the picture? ... or has the direction changed? If so, should that PR be closed?

[2017-03-29 20:24] BillWagner commented on #943
@GuardRex I don't think PR #1679 should be closed. There's a lot of good work there that improves the content we have. Maybe we move this topic into April, and start with the other sub-tasks in #942 first. Then, this can get merged, and it would be easier to move the parts focused on core to the getting started directory under core.

@mairaw what's your opinion?

[2017-03-29 21:06] GuardRex commented on #943
We all see that there's a major challenge here: .NET Core, tooling, and language are somewhat strongly linked at a high level (i.e., the level of introductory docs). It's difficult to concentrate on one without muddying it up with the other two.

The sub-tasks look like bits of the Core tutorials, except for the difference that they'll have a better example than *Hello World!*, which is what we ha

[2017-03-29 21:49] rpetrusha commented on #943
There's still a major difference, though, between a C# tutorial that uses .NET Core and a .NET Core tutorial that uses C#. Assuming that the languages were supported, each of the existing C# tutorials, for example, could be converted to a VB or even a C++ tutorial without actually changing any text. (There may be some incidental text changes, but that's about all.) So the focus here is really, giv

[2017-03-29 21:55] GuardRex commented on #943
... which is what I think of when I think of a C# (or 'name your language') "getting started" doc. I was wondering why tooling would appear in the C# guide other than CLI commands and screenshots of console apps. I presume this has all been worked out by the team, so I just need to know if I should follow the sub-tasks as written. If so, I'm ready to get crank'in on them.

[2017-03-29 22:53] GuardRex commented on #943
If #1679 is going in, can #1686 go in as well?

[2017-03-29 23:10] mairaw commented on #943
I don't wanna lose the changes you made for those PRs but I haven't had time to review them yet. 😢

For example. for the class library topic, do we want to show how to create .NET Core libraries or .NET Standard libraries and where would the topic live if it was the second choice?

The duplication was not a decision made, it just happened. That's why when I think of that macOS VS Code tutorial, I

[2017-03-29 23:38] rpetrusha commented on #294
This is documented in [.NET Core Application Deployment](https://www.github.com/dotnet/docs/tree/master/docs/core/deploying/index.md).

[2017-03-29 23:38] #294 closed

[2017-03-30 09:00] lostmsu commented on #1745
@mairaw Microsoft.Packaging.Tools does not seem to be available in Nuget.org

[2017-03-30 10:05] svick opened #1827 "Could review.docs.microsoft.com become public?"
As far as I can tell, CI in this repo publishes each PR to https://review.docs.microsoft.com/, where it presumably looks the same as it will look on https://docs.microsoft.com/. This would be especially useful, since building with `docfx` locally has issues (the template is very different; getting API reference right is hard; it's slow).

But, it's not accessible to me (and I assume everyone else

[2017-03-30 13:17] mvacha opened #1828 "ICryptoTransform.TransformBlock does not mention that inputCount has to be a multiple of InputBlockSize"
I think it's pretty important information, because the method throws exeption if the condition is not satisfied. The only place you can find out about it is in the [ICryptoTransform source](https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/ICryptoTransform.cs/#L29).

I wasn't able to locate the correct .md doccument wit

[2017-03-30 17:06] BillWagner commented on #943
Is this expanding into a project? It feels like this is expanding in scope.

In the fullness of time, we want great "getting started" content around the tools, the libraries and platforms, and the programming languages. The sample will be simple, and could be largely shared among the different topics.

What's different is the main focus of the text: what the reader will learn from reading and foll

[2017-03-30 17:13] mairaw commented on #1828
Thanks for your feedback @mvacha. Yes, that page is still generated from the old docs but soon we'll ship a new API ref experience and we'll open source that content too.

[2017-03-30 17:18] GuardRex commented on #943
We just chatted briefly about it. Yes, let's please get those two prior PR's merged first (or decide to close them and refactor the content for Core getting started/tutorials). They may not mostly affect this work, but they're in that section of the docs with TOC churn. I'd like to see what things look like when the dust settles wherever they land. That can't happen until next week at the soonest.

[2017-03-30 17:19] mairaw commented on #1827
I understand your frustration @svick. Yes, that site only works with Microsoft credentials.
We've had discussions around this internally but not sure if we made any decisions or progress on that. I'll follow-up with the team.

/cc @dend @Rick-Anderson @danroth27

[2017-03-30 17:25] BillWagner commented on #1827
Also, @richlander was part of those discussions as well.

[2017-03-30 17:44] GuardRex commented on #1827
The docs build locally on the ASP.NET Core side. Is it just a tweak to make them build over here? I'd love to be able to build locally ... it is sooooooo much faster 🏃 over there when you want to see what they look like to build locally.

[2017-03-30 19:18] tompratt-AQ commented on #1797
I created the attached list by looking at all C# files that contained Visual Basic, VB, or ```vb, all Visual Basic files that contained C# or ```csharp, and all files that contained "C# and Visual Basic".

From those I came up with the following sections in this spreadsheet: Two files that give us a clue to files we should look at for separation, the "first batch" as described in this PR, files th

[2017-03-30 19:56] mairaw commented on #1644
@Rick-Anderson for the article itself, did you think about having an actual topic on docs or just an article in our styleguide section on GH for example?

[2017-03-30 20:06] GuardRex commented on #1644
We've decided to add a short instruction section ("get the repo to get the sample") to the bottom of [Samples and Tutorials](https://docs.microsoft.com/en-us/dotnet/articles/samples-and-tutorials/). Where samples are mentioned across the repo, I'll add a link to this section. When the process changes later (e.g., they can download a zipped sample or something), we'll just update the instruction.

[2017-03-30 20:11] Rick-Anderson commented on #1644
I think It should be an include that every article that has code can include. cc @tdykstra

[2017-03-30 20:12] GuardRex commented on #1644
Add the entire instruction as an include ... or just the link to the instruction?

[2017-03-30 20:13] GuardRex commented on #1644
If I can craft a tight instruction, we could just add (via include) to each spot. I'll float language here first if that's what you were thinking.

[2017-03-30 20:13] Rick-Anderson commented on #1644
I think an include is better so you're not sending them off to another article.

[2017-03-30 20:14] GuardRex commented on #1644
ok ... let me see if I can word something short and sweet for it here.

[2017-03-30 20:19] Rick-Anderson commented on #1644
@mairaw  @tdykstra  how would you like to do download instructions?
@GuardRex  - @mairaw  @tdykstra might have different (better) ideas.

[2017-03-30 20:20] GuardRex commented on #1644
@mairaw and I discussed it offline, which is why I was proceeding.

[2017-03-30 20:20] mairaw commented on #1644
adding @BillWagner to the discussion too. I think that a link might be better. I don't think I want to add the entire instruction every time I link to a sample.

[2017-03-30 20:25] Rick-Anderson commented on #1644
@mairaw You're right, many times we don't want full blown instructions.  Maybe link for now and we can think about include later on.

[2017-03-30 20:25] GuardRex commented on #1644
1. The [source|sample] for this topic is available on [GitHub](#) ([Download instructions](#)).
2. The [source|sample] for this topic is available on [GitHub](#) ([Instructions](#)).
3. The [source|sample] for this topic is available on [GitHub](#). For information on downloading the [source|sample], see [Samples and Tutorials](#).

[2017-03-30 20:27] GuardRex commented on #1644
Which one tho? ... I was going to go thru and update all of our sample mentions.

[2017-03-30 20:45] #858 closed

[2017-03-30 20:45] tdykstra commented on #1644
How about

See the [sample app for this topic](#).  For information about how to download it, see [Samples and Tutorials](#).

Accessibility rule for link text is it should describe what you're getting -- "GitHub" is suboptimal

"sample app" would have to change where all we have are isolated code files.

[2017-03-30 21:07] rpetrusha commented on #1797
@tompratt-AQ I commented on the items in your spreadsheet but wasn't able to add it to your existing spreadsheet, so I'm attaching it here.
[First.Batch.and.Beyond Comments.xlsx](https://github.com/dotnet/docs/files/883803/First.Batch.and.Beyond.Comments.xlsx)

[2017-03-30 21:09] GuardRex commented on #1644
They'll see it in the topic, and I'm a little concerned that many will take that as a clear instruction to "see it" before seeing it in the topic. My suggestion is to clearly identify this link for downloading the sample.

I agree on the link text. The sentence (or that format) I show :point_up: is common in the docs.

I prefer "on" ... IIRC "about" means "generally pertaining," while "on" means "

[2017-03-30 21:15] tdykstra commented on #1644
Looks good.  Let's be sure to tell them in the instructions in Samples and Tutorials that if they just want to look at the code they don't have to download.

[2017-03-30 21:18] GuardRex commented on #1644
We got some serious word-craft'in going on up here. Shakespeare would be proud ...

*To the lark at break of day arising*
*From sullen earth sings hymns at heaven's gate*
*For thy sweet love of .NET documentation brings*
*That then I scorn to change my state with kings*

[I added the bit about *documentation*. Artistic license! :grinning: ... I hope Bill doesn't mind.]

[2017-03-30 22:31] mairaw commented on #1797
A few additional comments (some refer to @rpetrusha's comments):
- https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/keywords/nameof still has VB in it
- https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/interop/walkthrough-office-programming: perhaps should this be moved to [vsto](https://docs.microsoft.com/en-us/visualstudio/vsto/create-vsto-add-i

[2017-03-30 22:41] rpetrusha opened #1830 "Add WinForms sizing and layout topics back to documentation set"
# Add WinForms sizing and layout topics back to documentation set

Prior to CAPS migration, most of the topics in the [Getting Started with Windows Forms](https://msdn.microsoft.com/en-us/library/ms229601(v=vs.100).aspx) section of the Windows Forms documentation were removed from the documentation set. Some of the topics, particularly those related to form layout and sizing, continue to remain im

[2017-03-30 23:50] mairaw commented on #1830
Can you add a few examples @rpetrusha?

[2017-03-31 03:07] GuardRex commented on #1644
@Rick-Anderson Is your intention to point aspnet/core doc visitors over to this instruction for aspnet/core samples? I detect that's what you want to do in your OP. The instruction might not go so well in the [Samples and tutorials](https://docs.microsoft.com/en-us/dotnet/articles/samples-and-tutorials/) doc in that case. Should the instructions be its own doc?

[2017-03-31 17:01] rpetrusha commented on #1830
I've updated my original comment to reflect some of the deleted topics.

[2017-04-01 12:44] mklement0 opened #1837 "Clarify the behavior of Encoding.RegisterProvider with respect to multiple providers and defaults"
Note: Currently, only the Framework docs at https://msdn.microsoft.com/en-us/library/system.text.encoding.registerprovider(v=vs.110).aspx have a description of the method (quoted below), but I expect that to become the content at https://docs.microsoft.com/en-us/dotnet/core/api/system.text.encoding

* It seems that calling Encoding.RegisterProvider not only makes additional code pages available, b

[2017-04-02 16:41] majkinetor commented on #1311
That topic needs **serious and complete** rewrite. It is the serious problem that the basics can't be outlined right.

[2017-04-03 15:15] cartermp commented on #1745
We should just remove it.  It's unlinked from the TOC anyways because it's a somewhat controversial topic.

[2017-04-03 16:19] #235 closed

[2017-04-03 16:59] rpetrusha commented on #1837
@tarekgh Could you review this, please?

[2017-04-03 17:21] tarekgh commented on #1837
For Encoding.GetEncoding(0) we need to clarify that when there is no registered provider, we return UTF8 encoding. when a provider is register, the provider can return different Encoding than UTF8. I would avoid mentioning the word "Default" because this will confuse it with the property Encoding.Default. Also it is worth mentioning when using the provider from System.Text.Encoding.Codepages, Enco

[2017-04-03 17:44] rpetrusha commented on #1837
Thanks @tarekgh. And thanks, @mklement0, for opening this issue. I've assigned it to myself, and will update the docs.

[2017-04-04 02:05] mklement0 commented on #1837
Thanks, @rpetrusha.

Honestly, even after reading this I'm slightly confused, so I'll try to summarize the rules here - please tell me if that covers all aspects:

* By default, `Encoding.GetEncoding(0)` -  code page ID `0` signifying a default value of sorts -
 reports the same value as `Encoding.Default`.

* Once an encoding provider has been registered, `Encoding.GetEncoding(0)` reports _that p

[2017-04-04 11:56] sbaid commented on #1339
https://aka.ms/vstest-filtering links now points to a doc page now /cc @samadala

[2017-04-04 16:04] tarekgh commented on #1837
reports the same value as Encoding.Default.

This is no true any more after registering the providers. this is why I mentioned try to avoid the word default. initially we didn't expose Encoding.Default because of the confusion but we had to expose it after the change in the plans to cover all desktop APIs in the net core. so please don't tie Encoding.GetEncoding(0) with Encoding.Default

it is up

[2017-04-04 16:16] mklement0 commented on #1837
That clears it all up; thanks, @tarekgh.

As a result:

* other places in the documentation need updating (see below)

* it raises the question how to _reframe_ code-page identifier `0` in the docs - effectively, it is the _last_ registered _encoding provider's_  default (definition of of `0`). As stated, however, that concept loses its usefulness with _multiple_ registered providers.
Perhaps `0`

[2017-04-04 16:44] tarekgh commented on #1837
@mklement0 I agree and thanks for your feedback. it is useful to reduce the confusion to the users.

[2017-04-05 17:47] tdykstra opened #1843 "News section of Welcome page is out of date"
The [Welcome page](https://docs.microsoft.com/en-us/dotnet/articles/welcome) has a "News" section that still lists 1.0 announcements as news and doesn't list 1.1:

![news](https://cloud.githubusercontent.com/assets/1569635/24719051/29c665ba-19ed-11e7-94c7-4d443e690dc9.png)

[2017-04-05 18:19] tdykstra opened #1844 "Combine existing Framework Libraries doc with migrated equivalent doc"
Existing doc: https://docs.microsoft.com/dotnet/articles/standard/framework-libraries
Equivalent doc being migrated will be at: https://docs.microsoft.com/dotnet/articles/standard/class-library-overview

- [ ] Incorporate content from the migrated doc in the existing one
- [ ] Retire the migrated doc

[2017-04-05 20:52] BillWagner opened #1845 "[C# Guide] Explain that `null` is a constant pattern, and won't match any type"
Our samples on pattern matching are correct, and we mention that `null` doesn't match any type in an `is` or `case` pattern matching expression.

[this topic](https://github.com/dotnet/docs/blob/master/docs/csharp/pattern-matching.md) should add a paragraph or two explaining the behavior for `null`. We can expand with the justifications:

1. The existing `is` expression always returned `false` for

[2017-04-05 20:57] BillWagner opened #1846 "[C# Guide] `goto` in switch statement patterns must go to a constant label"
This restriction seemed arbitrary to people. It feels like an arbitrary restriction.

But, it becomes hard to understand what it would actually mean to `goto` a non-constant label. It seems arbitrary, and could inadvertently cause coding errors, including infinite loops.

We should clearly state that this isn't allowed, and have a brief explanation about why

[2017-04-05 22:03] svick opened #1848 ".Net Framework docs don't have correct TOCs"
It seems docs.ms contains a new set of .Net Framework documentation, but the TOC does not behave correctly for them:

For the [main article](https://docs.microsoft.com/en-us/dotnet/articles/framework/index), the TOC shows only the pre-existing Docker articles:

![](https://cloud.githubusercontent.com/assets/287848/24728888/291d8a98-1a5c-11e7-86b4-741b00330738.png)

For other articles, like [Gettin

[2017-04-05 22:05] BillWagner commented on #1848
@svick Thanks for pointing this out.

The changes for that didn't make the last publishing wave. They are coming soon.

[2017-04-05 22:34] svick opened #1849 "API reference doesn't show members for .Net Standard types not referenced from NETStandard.Library"
For types that have .Net Standard packages, but are not part of `NETStandard.Library`, it seems the new API reference behaves as if those types did not have .Net Standard versions at all (i.e. it hides all their members).

For example, this happens for [`XmlNode`](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlnode?view=netstandard-1.6) (the URL says `netstandard-1.6`, but it seems it c

[2017-04-05 22:49] mairaw commented on #1849
@dend can you look at this? It seems that selecting .NET standard is not sticky.

[2017-04-06 10:18] svick opened #1850 "There is no reason for constructors to have two TOC entries in API reference"
It seems the TOC for members of a type in the new API reference is always two levels: first level for the kind of member (properties, methods, etc.) and second level for distinct names of mebers (if the member has overloads, they share a single page and thus also a second-level TOC entry).

This makes sense for members with actual names, but I think it doesn't make sense for constructors. Construc

[2017-04-06 13:32] svick opened #1851 "\n in MSDN example turns into newline in API reference"
[The example for `Activator.CreateInstance(Type)` on MSDN](https://msdn.microsoft.com/en-us/library/wccyzw83(v=vs.110).aspx#Anchor_3) contains this code:

[code]

[The same example in the new API reference](https://docs.microsoft.com/en-us/dotnet/api/system.activator.createinstance?view=netframework-4.7#System_Activator_CreateInstance_System_Type_) contains instead:

[code]

It looks like `\n`s in

[2017-04-06 13:49] svick opened #1852 "Where is the link to PDF download?"
I don't remember having issues finding the link to PDF download of the docs when it was first introduced. But now I can't find it at all. Is it hidden somewhere? Has it been removed? Or am I just not seeing it (which could still be an issue, if it's not discoverable enough)?

[2017-04-06 13:52] svick commented on #1852
I guess I found the answer, [it's gone for now](https://www.reddit.com/r/programming/comments/63oaj7/announcing_a_new_way_to_easily_find_net_api_docs/dfw548g/):

[2017-04-06 13:52] #1852 closed

[2017-04-06 16:08] rpetrusha commented on #1851
@svick Thanks so much for noticing this. I've opened a bug with the build team. So that we can track it, the internal bug number is #9653451 -- '"\n" character combination rendered as a line feed in source code"

[2017-04-06 16:23] rpetrusha commented on #1850
I agree with you, @svick. Thanks for opening this issue. I've created an internal feature request -- #965346: "Remove extra constructor-related entry from TOC", which will allow us to track the issue internally.

[2017-04-07 00:42] #1680 closed

[2017-04-07 02:54] mairaw commented on #307
With the launch of [API Browser](https://docs.microsoft.com/en-us/dotnet/api/) yesterday, we can finally close this one. 🎆

Now, the docs for the .NET API reference don't come directly from the /// comments in the source code. So in some cases we might need to revisit the docs to add the information that is present in the source code.

We'll be bringing those docs over here pretty shortly, so ever

[2017-04-07 02:54] #307 closed

[2017-04-07 16:05] bleroy opened #1855 "Write documentation for the runtime package cache feature"
See core-proposal CR 42

[2017-04-07 16:52] MarkPflug commented on #307
These new API docs look fantastic!

Question: how do these new docs align with the documentation that "ships" with Visual Studio? Meaning the documentation that you can install and view in the Microsoft Help Viewer. Will contributions to the new documentation system eventually end up in there as well?

I always preferred the Help Viewer because it was faster to find (via the Index) what I was look

[2017-04-07 17:18] rpetrusha commented on #1362
These are now document on [docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-1.1.0&term=valuetuple).

[2017-04-07 17:18] #1362 closed

[2017-04-09 10:04] cartermp commented on #1845
What about the default case?

[code]

[2017-04-09 20:25] BillWagner commented on #1845
There might be different semantics. We should discuss to make sure we point out the distinctions.

Consider this (very contrived) C#:

[code]

[2017-04-11 14:14] svick opened #1875 "Add discards to What's new in C# 7"
When looking at the code of [What's new in C# 7](https://docs.microsoft.com/en-us/dotnet/articles/csharp/whats-new/csharp-7), I noticed this comment:

[code]

Since wildcards (renamed to discards) are in C# 7, I think they should be included in the article.

cc: @BillWagner

[2017-04-11 14:22] BillWagner commented on #1875
@svick Yes, this needs to be added.  If you want to add it in your current PR, I would appreciate it.

If not, I'll get to it soon.

[2017-04-11 14:35] PashaPash opened #1876 "System.Net.Mail.SmtpClient is marked as obsolete in docs, but not in the source code"
[System.Net.Mail.SmtpClient class page](https://docs.microsoft.com/en-us/dotnet/api/System.Net.Mail.SmtpClient?view=netframework-4.7) is currently states that class is obsolete, and offers https://github.com/jstedfast/MailKit as a replacement.

[code]

That class has no `Obsolete` attribute in both [Reference Source for 4.7](https://referencesource.microsoft.com/#System/net/System/Net/mail/SmtpCli

[2017-04-11 14:55] svick opened #1877 "Definition of a type should not contain namespaces in API reference"
The definition of a type in API reference is too verbose because it includes all namespaces.

For example, [`Dictionary`](https://docs.microsoft.com/en-us/dotnet/api/System.Collections.Generic.Dictionary-2?view=netframework-4.7#definition):

[code]

This would have been much easier to understand if it was just:

[code]

[2017-04-11 15:02] svick opened #1878 "Definition of a type should include links to implemented interfaces in API reference"
Currently, it seems the definition of a type contains links to base types, derived types and attributes. Those are all nice, but what's missing is links to interfaces the type implements.

For example, the links for [`Dictionary`](https://docs.microsoft.com/en-us/dotnet/api/System.Collections.Generic.Dictionary-2?view=netframework-4.7#definition):

![](https://cloud.githubusercontent.com/assets/28

[2017-04-11 16:41] jstedfast commented on #1876
Sssshhhhhh!!!! This is epic for MimeKit and MailKit 😃

[2017-04-11 18:24] #1788 closed

[2017-04-11 21:28] rpetrusha commented on #1876
Thanks, @PashaPash, for pointing this out and providing context on how it might have happened.
Obsolete information (types and members tagged with the Obsolete attribute) is generated by reflection, so we can't simply remove it; this points to some false assumptions in the reflection process. I've opened an internal bug, #968551, to track the issue.

[2017-04-12 11:31] #1758 closed

[2017-04-12 15:04] atifaziz commented on #1745
@cartermp Care to expand on the why?

[2017-04-12 16:54] svick opened #1887 "Overload: links render incorrecectly in API reference"
The description of [the `EventSource.WriteEventCore` method](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventsource.writeeventcore?view=netframework-4.7#System_Diagnostics_Tracing_EventSource_WriteEventCore_System_Int32_System_Int32_System_Diagnostics_Tracing_EventSource_EventData__) says:

The [source code](https://github.com/dotnet/docs/blob/9f5b8eb/xml/System.Diagnos

[2017-04-12 16:55] danmosemsft opened #1888 "Buffer.BlockCopy data corruption on last byte when used with char arrays"
@gwicksted commented on [Sun Nov 20 2016](https://github.com/dotnet/coreclr/issues/8214)

NOTE: I know using `Buffer.BlockCopy` for copying `char`s like this is a bad idea (especially since the stream was UTF-8) -- this was a mistake after changing my file reading function to use a `TextReader` instead of a `Stream`.  However, all chars were within ASCII (7 bit) range with the only non-printables

[2017-04-12 17:05] ericstj commented on #1745
We do plan to release some version of Microsoft.Packaging.Tools along with NETCore 2.0.  Eventually it will get better with some of the linker work that's going on, which may impact how you interact with it in the future.
@Petermarcu do you think we should put the docs for trimming on docs.microsoft.com?

[2017-04-12 18:44] #1644 closed

[2017-04-12 19:30] BillWagner opened #1889 "[Bug] Clarifications to What's New in C# 7 and Tuples topics"
@richlander suggested several updates to the What's new in C# 7 topic [here](https://github.com/dotnet/docs/pull/1842#issuecomment-293363377)  That PR has a tighter focus (how to describe the dependency on .NET 4.7, or the `System.ValueTuple` package).

A summary of the changes requested are:

- [x] Move the dependency on `ValueTuple` and `ValueTask` to opening of the *Tuples* and *generalized asy

[2017-04-12 21:40] rpetrusha commented on #1887
Thanks, @svick, for opening the issue and bringing this to our attention. I'm not sure how extensive it is yet, but we'll investigate and correct all the occurrences.

[2017-04-12 22:22] rpetrusha commented on #1888
I've opened PR #1891 to correct the documentation. I've also changed the documentation on MSDN; those changes are now live for both [StreamReader.ReadAsync](https://msdn.microsoft.com/en-us/library/system.io.streamreader.readasync(v=vs.110).aspx) and [StreamReader.ReadBlockAsync(https://msdn.microsoft.com/en-us/library/system.io.streamreader.readblockasync(v=vs.110).aspx).

[2017-04-12 22:24] stephentoub commented on #1888
Thanks, @rpetrusha.

[2017-04-13 15:22] #1888 closed

[2017-04-13 15:56] leftler commented on #1745
@cartermp the page might not be in the TOC but it is linked to from https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/managing-package-dependency-versions in the section "Are you trimming your NETStandard.Library or Microsoft.NETCore.App metapackage dependencies?" and that managing versions page is highly ranked on google.

[2017-04-13 18:24] svick opened #1896 "API reference for type should include namespace"
The API reference page for a type does not mention the namespace of the type clearly. For example, [`XPathExpression`](https://docs.microsoft.com/en-us/dotnet/api/System.Xml.XPath.XPathExpression?view=netframework-4.7):

![](https://cloud.githubusercontent.com/assets/287848/25018095/6d619c5a-2086-11e7-94cb-276f5e830423.png)

The above screenshot does not mention the namespace at all. It is mention

[2017-04-13 18:33] rpetrusha commented on #1896
@svick, you're quite correct. Currently, namespace information is available for type topics only on the breadcrumb (where almost no one will notice it), while assembly information is unavailable. Both namespace and assembly information are only available for type members.
We've opened an internal bug (#970251) to include namespace and assembly information for each type topic.

[2017-04-13 21:10] #1093 closed

[2017-04-13 22:28] bleroy commented on #1855
Also update [dotnet publish documentation](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-publish) to include the new `--target` option.

[2017-04-13 23:03] svick opened #1897 "Member links should include type in API reference"
Currently, it seems that standard links to type members in API reference render as just the method name, which can cause confusion.

For example, consider [the `Regex.Split(string, string)` method in docs.ms](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.split?view=netframework-4.7#System_Text_RegularExpressions_Regex_Split_System_String_System_String_):

![](htt

[2017-04-13 23:55] rpetrusha commented on #1897
Thanks for noticing this, @svick. This is a rendering bug. The spec for the `<xref>` tag, which is used to define API links, supports a `displayProperty=fullName` key/value pair to control the display of the API. In the case of the RegexSplit overloads, the <xref> tags for Regex.Split and String.Split that are correctly formed (in three overloads, they are not -- I'll correct them) all contain the

[2017-04-14 12:01] svick opened #1902 "Method signature in API reference missing params"
It seems that when a method has a `params` parameter, this is not reflected in its signature.

Compare [`Task.WhenAll()` on docs.ms](https://docs.microsoft.com/en-us/dotnet/api/System.Threading.Tasks.Task.WhenAll?view=netframework-4.7#System_Threading_Tasks_Task_WhenAll_System_Threading_Tasks_Task___):

![](https://cloud.githubusercontent.com/assets/287848/25042741/9a3bb1ae-211a-11e7-822d-a6cc7141

[2017-04-14 12:11] svick opened #1903 "Generic and non-generic overloads of the same method have separate pages"
If a method has multiple overloads, some generic and some non-generic, it seems the generic overloads are put on one page and the non-generic overloads on another page.

For example, this happens with `Task.WhenAll`:

* [Non-generic overloads](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.whenall?view=netframework-4.7)
* [Generic overloads](https://docs.microsoft.com/en-u

[2017-04-14 12:29] svick opened #1904 "Consider adding word breaks in signatures in methods table"
If a method has a long name and long type of its first parameter, the result is that in the Methods table for a type, it will be shown with a line break inside a word. For example, this happens for [`Task.ContinueWith`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task?view=netframework-4.7#methods_):

![](https://cloud.githubusercontent.com/assets/287848/25043063/69e846ae-21

[2017-04-14 13:04] svick opened #1905 "Type parameters of methods are not described"
The documentation for generic methods does not seem to document their type parameters. For example, consider [`ExpressionVisitor.VisitAndConvert<T>(ReadOnlyCollection<T>, String)`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expressionvisitor.visitandconvert--1?view=netframework-4.7#System_Linq_Expressions_ExpressionVisitor_VisitAndConvert__1_System_Collections_ObjectModel_

[2017-04-14 13:06] svick opened #1906 "The language combobox shouldn't be shown if it doesn't do anything"
In API reference, it seems the combobox to choose between C#, VB and C++ is always shown, but doesn't seem to do anything.

If there are pages where the combobox works, it should be shown only on those pages, but nowhere else.

[2017-04-14 14:14] svick opened #1908 "API reference search should be smarter for common names"
When using the API reference search for simple, relatively common names, the ordering of the results tends to be pretty bad. The item I am most likely looking for tends to be in the top 10, but I think that's not good enough.

Some specific examples:

| Search term | Expected top result | Actual position |
| --- | --- | --- |
| [dictionary](https://docs.microsoft.com/en-us/dotnet/api/index?view=ne

[2017-04-14 15:28] rpetrusha opened #1909 "System.Text.RegularExpressions.Regex link targets are incorrect"
# System.Text.RegularExpressions.Regex link targets are incorrect

# General
Attempting to follow a link to any member of the Regex class appears to always lead to a single topic, [Regex.System.Runtime.Serialization.ISerializable.GetObjectData](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.system-runtime-serialization-iserializable-getobjectdata?view=netframework

[2017-04-14 15:40] svick opened #1910 "API reference for many types is broken"
When I go the API reference page for [`System.Windows.Controls.CheckBox`](https://docs.microsoft.com/en-us/dotnet/api/System.Windows.Controls.CheckBox?view=netframework-4.7) and click on the link to the `ToggleButton` type in the inheritance chain, lots of weird things happen:

* The URL and the linked page are actually about `ToggleButton.ToString`.
* The TOC seems to indicate this page is for `T

[2017-04-14 15:52] svick commented on #1910
Turns out this affects even types that worked fine few hours ago, like [`Regex`](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.system-runtime-serialization-iserializable-getobjectdata?view=netframework-4.7).

[2017-04-14 15:53] svick commented on #1910
And I was too slow, this is a duplicate of https://github.com/dotnet/docs/issues/1909.

[2017-04-14 15:56] svick commented on #1909
It's not just `Regex`, it affects many other types. And I'm pretty sure this wasn't an issue few hours ago (at least for `Regex`). Some more information is in my duplicate issue https://github.com/dotnet/docs/issues/1910.

[2017-04-14 15:58] svick commented on #1897
It looks like this was changed, but now the links include the namespace, which I don't think is necessary:

![](https://cloud.githubusercontent.com/assets/287848/25048270/d0611df2-213b-11e7-92b0-84b50400a0aa.png)

[2017-04-14 16:32] rpetrusha commented on #1910
Thanks, @svick. I'm going to reopen this issue, since it illustrates that the problem is not confined to Regex. Also, thank you so very much for all the hard work you've put in to combing through docs.microsoft.com and identifying issues and bugs. I can't even begin to tell you how much we appreciate your effort.

[2017-04-14 16:46] svick commented on #1910
@rpetrusha You're welcome 🙂 .

[2017-04-14 17:01] mduberstein opened #1911 "TimeZoneInfo url is incorrect, points to the wrong document"
## Issues with Existing Topics
Need to find help on TimeZoneInfo structure
https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.system-runtime-serialization-iserializable-getobjectdata?view=netframework-4.7

TimeZoneInfo.System.Runtime.Serialization.ISerializable.GetObjectData Method

is not TimeZoneInfo

[2017-04-14 17:21] rpetrusha commented on #1910
This issue also affects TimeZoneInfo; see #1911. It almost certainly affects numerous other types as well.
/cc @mduberstein

[2017-04-14 17:23] rpetrusha commented on #1911
@mduberstein, thanks for opening this issue and reporting the problem with TimeZoneInfo. I've noted it in #1910, so I'm closing this issue.

[2017-04-14 17:23] #1911 closed

[2017-04-15 02:51] pblasucci commented on #1677
In the discussion on structs, it might be worth noting when one can, or can _not_, explicitly control the layout of the struct. This technique is often used when inter-operating with unmanaged code (i.e. Platform/Invoke). It also makes for a very simple binary (de)serializer. From my informal tests, this is mostly a "gotcha" with multiple-case struct unions (as reported in #2647). However, I've no

[2017-04-16 21:56] AndreasHassing commented on #971
Should this guide explain how to use the [Mono REPL](http://www.mono-project.com/docs/tools+libraries/tools/repl/)? I'm guessing not, but until https://github.com/dotnet/roslyn/issues/17666 is closed, what is the alternative?

[2017-04-17 14:28] cilerler opened #1925 "Provide a code that uses Dependency Injection with MSTEST sample for DOTNET CORE"
The samples provided in _MSTEST_ is extremely high level.  Common usage usually based on **Dependency Injection** and would like to see a full sample that covers it.

Reference https://github.com/dotnet/docs/blob/master/docs/core/testing/unit-testing-with-mstest.md

[2017-04-17 14:50] BillWagner commented on #1902
@DuncanmaMSFT Can you look into this?  It looks like something that happened during the migration.

[2017-04-17 16:27] garfbradaz commented on #1311
Agree wholeheartedly. We now have .NET Framework, .NET Core and now .NET Srandards. To make matters worse, we now can reference bits and pieces of these together. My head hurts reading the above link.

[2017-04-17 16:58] rpetrusha commented on #1910
All of the types for which this behavior is reported now appear to work as expected; I can no longer reproduce this behavior anywhere in our doc set. I'm closing this issue.

[2017-04-17 16:58] #1910 closed

[2017-04-17 17:00] rpetrusha commented on #1909
This issue has evidently been addressed; I can't repro this behavior for any of the types for which it was previously reported. Closing this issue.

[2017-04-17 17:00] #1909 closed

[2017-04-17 18:56] danmosemsft opened #1929 "Why does System.IO.MemoryStream.Read returns 0 if no more bytes are available?"
@JonasZ95 commented on [Tue Mar 07 2017](https://github.com/dotnet/corefx/issues/16813)

I think that's something which makes streams very inconsistent.

System.Net.Sockets.NetworkStream.Read may return 0 if there is no data available right now but there may be some data available in the future.

If you look how System.IO.BinaryReader uses Read you see how It wraps around this inconsistency.

http

[2017-04-17 20:22] mairaw commented on #1773
@tompratt-AQ let us know when you can work on this.

[2017-04-17 20:32] svick opened #1931 "Incorrectly rendered xref link"
[The remarks for `MethodBase.Invoke(Object, Object[])`](https://docs.microsoft.com/en-us/dotnet/api/System.Reflection.MethodBase.Invoke?view=netframework-4.7#System_Reflection_MethodBase_Invoke_System_Object_System_Object___) contain an `xref` link to the other overload (`MethodBase.Invoke(Object, BindingFlags, Binder, Object[], CultureInfo)`), but it renders as:

![](https://cloud.githubuserconte

[2017-04-17 20:48] svick opened #1932 "Link that should be to an enum field is to the enum instead"
It seems that during API reference migration, some links to enum fields were changed to links to the enum type itself.

For example, compare the documentation for `MethodBase.Invoke(Object, Object[])` [on MSDN](https://msdn.microsoft.com/en-us/library/a89hcwhh(v=vs.110).aspx#Remarks), which talks about the `BindingFlags.Default` field as "Default":

![](https://cloud.githubusercontent.com/assets/2

[2017-04-17 20:55] svick opened #1934 "Issues with enum pages in API reference"
Looking at [the API reference page for the `BindingFlags` enum](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.bindingflags?view=netframework-4.7), I have noticed two issues:

1. The list of fields is at the very bottom of the page, after examples and remarks. This might make sense for classes, but I think it's not appropriate for enums, where the list of fields and their meaning is

[2017-04-17 20:58] mairaw commented on #1929
I'm back today 😄

@karelz @danmosemsft thanks for transferring this over here. We were discussing this today and decided that it's better to move doc issues here so we have a centralized place to triage and prioritize doc issues.

[2017-04-17 21:02] svick commented on #1906
It looks like the combobox does switch the language used in examples, but not in definition. Is that how it should behave?

[2017-04-17 21:07] mairaw commented on #1906
For now, we only support the C# definition, so that's why the definition language is not changed when you select a different language. Support for other languages in the definition is coming on a later date.

/cc @dend