[2018-02-15 03:22] svick opened #4408 "What is the point of the mdoc document?"
[Building documentation with mdoc](https://docs.microsoft.com/en-us/dotnet/standard/mdoc/) says:

That's it, that's the whole document. I think on its own, this document is not useful at all, since it doesn't really explain anything. In fact, I think it's actively harmful: it takes up space in the TOC and in Google search results (<span>#</span>1 for "mdoc .net"), but doesn't provide any useful in

[2018-02-15 04:24] mairaw commented on #4408
That was supposed to be finished right after the stub was created. @dend last I checked with you, you were going to work on this over the holidays. I agree with @svick that in its current state, it’s better to pull it off.

[2018-02-15 15:49] doctordns opened #4413 "DES Sample uses Incorrect Class"
# Issue Title

The sample for System.Security.Cryptography.DES uses TripleDES class not DES class

# General

Looking at the sample on https://docs.microsoft.com/en-gb/dotnet/api/system.security.cryptography.des?view=netframework-4.7.1 - this sample used the TripleDES class, not the DES class.

[2018-02-15 17:57] mairaw opened #4415 "Reorganize TOC for app domains section"
Based on @rpetrusha [comment](https://github.com/dotnet/docs/pull/4410#pullrequestreview-96907063):

https://docs.microsoft.com/en-us/dotnet/framework/app-domains/

"the TOC is very poorly organized -- you'd expect all app domain and all assembly topics to be together, but they're not. I think that we should address this eventually"

[2018-02-15 19:56] rpetrusha commented on #4392
Thanks for opening this issue and identifying an information gap in the documentation, @ocdtrekkie. Feel free to open an issue when you notice missing, incomplete, or inaccurate information. If you're interested in addressing the issue yourself, you can also open a pull request.

We'll add information on padding a string whose length already exceeds the padded length in the near future.

[2018-02-15 20:13] #459 closed

[2018-02-15 22:02] BillWagner commented on #1080
I'm not sure how relevant this still is given all the investments made since it was written.

@josalem Do you think this is still needed? If not, can you close it?

[2018-02-15 23:59] dend commented on #4408
There will be content by EOW @svick @mairaw

[2018-02-16 00:02] mairaw commented on #4408
Thanks @dend! I’ll assign this issue to you then.

[2018-02-16 01:06] kendrahavens commented on #714
Adding @KathleenDollard.

I don't think we should only have these instructions in the Docker docs because it is also relevant outside container scenarios. Interested users may not think to look in the Docker docs on how to deploy your app and run on a server with only the runtime installed (and not the .NET sdk). I don't think this capability is super clear in our deployment doc: https://docs.micr

[2018-02-16 01:36] mairaw commented on #4386
Thanks @viertaxa. You're right, the topic is quite outdated. I'm trying to locate the owner of the tool to identify when the changes were made, so you can call out versions appropriately.

For now, I'd recommend that you use the command help for that.

[2018-02-16 01:39] mairaw commented on #4365
Can you set milestone and priority @rpetrusha? Thanks.

[2018-02-16 02:10] JRAlexander commented on #714
I believe it is covered in the Docker docs, but I will verify. Agree with @kendrahavens. It's not super clear.

[2018-02-16 02:22] iUnknwn commented on #3583
Any update on this issue? This ended up forcing us to switch from the built in zip library to a third party tar library in our project - having a note in the docs that this is the behavior from the start would be incredibly helpful.

[2018-02-16 15:12] KathleenDollard commented on #4352
If we were to write a blog post explaining it, would you be able to link to it?

I feel like it is easier to say "we tried something and it didn't work" in a blog post.
________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, February 13, 2018 11:42 AM
To: dotnet/docs
Cc: Kathleen Dollard; Mention
Subject: Re: [dotnet/docs] Are the runtime and SDK versions supp

[2018-02-16 15:29] KathleenDollard commented on #4352
@mairaw

Are you looking for the older proposal that said we were doing semantic versioning that explains the version numbers explained here? I can look for that if it helps. This interim version was a committed strategy, we just realized we were committed to the wrong strategy.

[2018-02-16 16:48] KathleenDollard commented on #714
@leecow can we chat next week on what we need here?

[2018-02-16 17:52] pkulikov commented on #4191
@mairaw that link to Web settings schema says (emphasis is added by me):

At the same time the broken link is in the section about [application configuration files](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/#application-configuration-files). In the context of ASP.NET I'd expect that link first lead to description of application-level Web.config file (plus the root Web.config

[2018-02-16 18:17] leecow commented on #714
@KathleenDollard ... book it :-)

[2018-02-16 19:37] #4349 closed

[2018-02-16 23:54] ocdtrekkie opened #4428 "Environment.OSVersion has misleading notes on 8/10 compatibility"
_I have a headless machine which I want to report its Windows version so I know if the machine is up to date, and Environment.OSVersion has been very frustrating. After learning about everything I've learned, it still doesn't do what I need, because I need the full revision number. (i.e. 10.0.16299.192) and OSVersion insists on a .0 at the end. I'm using a WMI call instead._ But anyways, Docs bug:

[2018-02-17 09:23] pkulikov opened #4433 "String concatenation with string.Join"
[The How-To on string concatenation](https://docs.microsoft.com/en-us/dotnet/csharp/how-to/concatenate-multiple-strings) doesn't mention [String.Join](https://docs.microsoft.com/en-us/dotnet/api/system.string.join?view=netframework-4.7.1) method. One might say that it is not pure concatenation as we use separator, but the last paragraph uses LINQ to join string with space separator. Performance-wi

[2018-02-18 21:54] JRAlexander commented on #714
@KathleenDollard, @leecow Would you all mind if I join you for that?

[2018-02-19 09:37] shahid-pk commented on #714
I think the docs should say something on the lines of  "For production environments you only need the run time in case of shared apps. Standalone apps has the run time deployed with them. The sdk package is not required for production servers"
We can take example from mono. In case of mono for production only the mono-runtime package is required for development mono-complete package is required.

[2018-02-19 13:26] andriysavin commented on #3907
I have another question on the topic, which I'll rephrase from what I've already asked at the docs page.
Consider the following `struct`:
[code]
Here I use primitive type for a filed, but still get defensive copies when calling methods on that primitive type. That obviously happens because `Int32` structure is not marked as readonly. Thus, readonly structs have a limitation which may not be appare

[2018-02-20 08:20] wstaelens opened #4439 "inconsistent use of white-space/white space"
https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-options

white-space characters
white space character
**white-space vs white space (" " vs "-")**

inconsistent use of white-space/white space ?

This work can be addressed in individual PRs, as follows:

- [x] docs/core
- [x] docs/csharp
- [x] docs/framework
- [x] docs/fsharp
- [x] docs/standard
- [x] docs/visual-basic

[2018-02-20 15:20] BillWagner commented on #674
[This page](https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts) should provide ample source material. cc

[2018-02-20 15:36] davidfowl commented on #4400
/cc @KrzysztofCwalina @stephentoub @jkotas @benaadms

[2018-02-20 16:11] BillWagner opened #4441 "Request for clarification on readonly struct"
From a livefyre comment on [this article](https://docs.microsoft.com/dotnet/csharp/reference-semantics-with-value-types).

I'm wondering, if my read-only struct contains a value type field, and that value type (struct) is NOT readonly, will in that case compiler still do defensive copies when I call methods on such fields (remember, the fields are forced to be readonly)? Is there any difference wi

[2018-02-20 18:02] #4359 closed

[2018-02-20 18:27] mairaw commented on #4439
HI @wstaelens. The only difference I'm seeing is when white space is used as a noun (two words) vs. an adjective (hyphened), so I believe this is by design. @rpetrusha can you take a look?

[2018-02-20 18:48] wstaelens commented on #4439
OH ok. Not native English speaker. Thought this was a mistake. My bad.

[2018-02-20 19:13] BillWagner commented on #4433
That is a great idea, @pkulikov I'd be happy to have you update the How-to so that it includes string.Join.

I've assigned this to you, and set it in the backlog milestone. @- mention me when you have a PR, and I'll review it.

[2018-02-20 19:17] mairaw commented on #4428
Thanks for your feedback @ocdtrekkie. We'll investigate. @karelz who owns System.Environment that could help here too?

[2018-02-20 19:20] mairaw commented on #4413
Thanks @doctordns. Given that we're doing a security review project and DES should not be used (https://github.com/dotnet/docs/projects/33), I'll pull that sample out.

[2018-02-20 19:45] doctordns commented on #4413
Is MSFT taking out this class totally?

[2018-02-20 20:04] mairaw commented on #4413
Sounds good @doctordns. I was just going to say that I don't think it's worth adding a new sample if we're recommending folks not to use that algorithm anymore.

[2018-02-20 20:04] BillWagner commented on #4367
I think the link above should be [this topic](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/threading/thread-pooling#thread-pool-parameters-and-return-values)  @user135711 Can you confirm that we have that right?

[2018-02-20 20:10] rpetrusha commented on #4439
Thanks for pointing this out, @wstaelens. The general convention is that the noun should appear as **white space** and the adjective should appear as **white-space** (with a hyphen).  For the most part, the documentation is consistent, although over all the occurrences of this phrase in our documentation set, there are also numerous inconsistencies.
We've classified this as an up-for-grabs backlog

[2018-02-20 20:46] user135711 commented on #4367
@BillWagner That's correct.

[2018-02-20 20:56] andriysavin commented on #4441
Thanks for creating the issue. I also commented about that in another issue: https://github.com/dotnet/docs/issues/3907#issuecomment-366692500

[2018-02-20 21:42] joshfree commented on #4400
@ahsonkhan @GrabYourPitchforks

[2018-02-20 22:50] KathleenDollard commented on #3818
Let's not document those environment variables (https://github.com/dotnet/docs/issues/3818#issuecomment-347732803) since they are used internally

[2018-02-20 23:16] rpetrusha commented on #4379
Thanks for opening this issues, @spottedmahn. This is indeed an important issue and should be added to both the C# and VB language documentation (for the async keyword particularly, as well as to the Asynchronous programming topic that you suggested), and to the documentation for the task-based asynchronous pattern in the .NET Guide.
In addition, some other important information is missing that is

[2018-02-20 23:24] spottedmahn commented on #4379
Good links btw, just found [this nugget](https://channel9.msdn.com/Series/Three-Essential-Tips-for-Async/Async-Library-Methods-Shouldn-t-Lie):

[2018-02-20 23:28] spottedmahn commented on #4379
It sure would be nice if [that word doc](https://www.microsoft.com/en-us/download/details.aspx?id=19957) just loaded in the browser via Word Web App.  It would eliminate the go to page, download it, open it, wait for word to open.

Not your issue but just some food for thought.

[2018-02-21 02:24] #3336 closed

[2018-02-21 02:52] #3818 closed

[2018-02-21 06:23] mairaw commented on #4072
Discussed this with @KathleenDollard today, so here's the plan:
- For multi-language topics, let's use dash
- We should add a note to [Visual Basic Command-Line Compiler](https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/command-line-compiler/) to call out that the option is available in two forms similar to the [C# version](https://docs.microsoft.com/en-us/dotnet/csharp/language-refe

[2018-02-21 14:02] #4433 closed

[2018-02-21 17:58] mairaw opened #4450 "VB compiler switch usage"
Recently we found out that our [C# compiler options articles](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/listed-alphabetically) were not using a consistent switch for those pages. Sometimes it would use - and sometimes it would use /, since both are accepted.

We asked the C# community and the overwhelming majority voted in issue #4072 to use - for the compi

[2018-02-21 23:11] BillWagner commented on #1306
This project has been closed. Closing the associated issue.

[2018-02-21 23:11] #1306 closed

[2018-02-22 03:35] #4413 closed

[2018-02-22 06:06] obelink commented on #4450
👎(-)

[2018-02-22 09:25] reduckted commented on #4450
I don't recall ever calling the VB compiler directly (or needing to look at the compiler arguments very often), so I'm not too concerned which one is used, but I think [this comment](https://github.com/dotnet/docs/issues/4072#issuecomment-355994104) from #4072 makes a compelling argument for `-`:

That's definitely a good idea. Plus, consistency between the VB and C# docs would be good.

And from

[2018-02-22 13:35] heckler commented on #4450
Agreed, if for no other reason, because `-` is more portable than `/` for the most part

[2018-02-22 15:58] biltongza opened #4461 "Dead link in WIF WCF Docs"
On https://github.com/dotnet/docs/blob/master/docs/framework/security/building-my-first-claims-aware-wcf-service.md, the last link in the doc, "To build your first claims-aware WCF service using WIF, see How To: Build Claims-Aware WCF Service Using WIF." is dead.

[2018-02-22 16:05] biltongza opened #4462 "WIF docs out of date"
The docs describing enabling WIF for a WCF service are out of date and don't actually describe what to do other than use a tool that can only be used in VS2012. https://github.com/dotnet/docs/blob/master/docs/framework/security/how-to-enable-wif-for-a-wcf-web-service-application.md

It would be great if the docs explained what the tool actually did or if the tool were updated to support newer vers

[2018-02-22 16:22] tverweij commented on #4450
👎(-)

[2018-02-22 17:14] tverweij commented on #2228
The Visual Basic Language specification contains almost 4 full pages with constructor documentation (9.3).

[2018-02-22 17:43] #3424 closed

[2018-02-22 18:04] pkulikov commented on #3391
@mairaw csharp folder is cleaned and #3424 is closed, so the corresponding point might be checked in the checklist of this issue.

Meanwhile, #3425 (standard folder) should be reopened: I've found 58 entries with the PowerShell `@(Get-ChildItem -recurse | Select-String -pattern "fwlink").Count` call in **docs/standard** folder

[2018-02-22 18:07] mairaw commented on #3391
Thanks for your help on working through this issue @pkulikov. Done.

[2018-02-22 18:38] BillWagner opened #4466 "Numbers tutorial should mention that double and decimal have no implicit conversions"
Taken from dotnet/try#53.

This challenge should be done using the double type.

[2018-02-22 18:39] BillWagner commented on #4466
Tagging @ga69russ to follow the conversation here.

[2018-02-22 19:10] AdamSpeight2008 commented on #4450
Go with `-` as `/` is consistent with C#, and doesn't need to remember if it needs escaping or not.

[2018-02-22 19:54] mairaw commented on #4450
I like consistency, so it's awesome to get the feedback from everyone! Thanks for the comments so far.

[2018-02-22 20:25] ga69russ commented on #4466
I appreciate your help, Bill, but I had all variables declared as double and it still flagged the error. I have been working with C# with various self-studies and personal projects so I am aware of some the problems with implicit conversions.

Glenn

From: Bill Wagner [mailto:notifications@github.com]
Sent: Thursday, February 22, 2018 10:40 AM
To: dotnet/docs
Cc: Glenn A. Russell; Mention
Subject:

[2018-02-22 21:00] svick commented on #4466
@ga69russ In that case, I think we would have to see your code to figure out what went wrong. You said in the other issue that you don't have it anymore. Would you be willing to recreate it and see if you encounter the same issue?

[2018-02-22 21:49] rpetrusha opened #4469 "InvalidOperationException for some LINQ SingleOrDefault overloads is not documented"
# InvalidOperationException for some LINQ SingleOrDefault overloads is not documented

## General

This issue is ported from [Issue 630 in the Microsoft/dotnet repo](https://github.com/Microsoft/dotnet/issues/630).

## Issues with Existing Topics

@dmitrykorolevlighting commented that, "The version of SingleOrDefault() without a predicate throws InvalidOperationException when The input sequence co

[2018-02-22 22:24] mairaw commented on #4399
Opened internal bug to track this: 1191597

[2018-02-22 22:36] BillWagner commented on #1669
It's probably not a P0, but the PR is already there.

[2018-02-23 00:04] OdaShinsuke opened #4474 "date of SQL Server data type don’t work System.Data.DbType. modify documents?"
[Can’t set SqlParameter.DbType to Date](https://github.com/dotnet/corefx/issues/21279)

this problem not fixed.
https://github.com/dotnet/corefx/issues/21279#issuecomment-365087011

modify two documents?
* https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-data-type-mappings
* https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/date-and-time-data

[2018-02-23 00:06] AnthonyDGreen commented on #4450
I prefer `/` because that's what I'm most used to on Windows and `-` doesn't work on all other Windows command-line programs, e.g. `dir -s -b` or `dir -ogen` doesn't work, `rmdir -q -s` doesn't work. So, the question isn't consistency but with what to be consistent. If the majority of docs readers are on Windows where none of the basic file i/o commands work with `-` then it's going to be an incon

[2018-02-23 00:39] mairaw commented on #4474
Adding @douglaslMS to take a look at this.

[2018-02-23 01:40] ga69russ commented on #4466
Here is the code. It works fine now. However, there is an error flag under the period between Console.Writeline. I typed println at first and it was flagged so I corrected it to Writeline. On the previous coding I had corrected the types from decimal to double. I think the problem is that the corrections are not recognized by the error checker and it continues to flag error after they have been co

[2018-02-23 01:42] ga69russ commented on #4466
Sorry, I forgot to include the code.

double radius = 2.50;

double c = radius * radius * Math.PI;

Console.WriteLine(c);

Glenn Russell

From: Petr Onderka [mailto:notifications@github.com]
Sent: Thursday, February 22, 2018 1:01 PM
To: dotnet/docs
Cc: Glenn A. Russell; Mention
Subject: Re: [dotnet/docs] Numbers tutorial should mention that double and decimal have no implicit conversions (#4466)

[2018-02-23 01:49] BillWagner commented on #4466
I may have figured it out.

If you didn't remove the code from the previous step, you would end up with something like this:

[code]

That would produce this error:

[code]

Does that look like what's happening?

[2018-02-23 01:53] svick commented on #4466
Yeah, I can reproduce this in Edge (this is after running the code after fixing it):

![](https://user-images.githubusercontent.com/287848/36574160-948a250c-1844-11e8-9f38-f41ae3f31c03.png)

[2018-02-23 02:54] ga69russ commented on #4466
Yes and no. I had removed the previous sample before coding the challenge but when I corrected the types on the variables the flagging persisted.  I figured out what was happening when the flagging persisted on the example I sent your colleague.

Glenn

From: Bill Wagner [mailto:notifications@github.com]
Sent: Thursday, February 22, 2018 5:49 PM
To: dotnet/docs
Cc: Glenn A. Russell; Mention
Subjec

[2018-02-23 04:00] franzalex commented on #4450
Like @AnthonyDGreen, I also prefer the `/` since it is more consistent with command line switches used in the Windows operating system. My question though is, can't the compiler support both even if the docs use just one or three other?

Then again I must admit I don't directly invoke the compiler in everyday situations so I don't really mind what the final decision is as long as it's documented w

[2018-02-23 07:34] reduckted commented on #4450
@franzalex yes the compiler already supports both. This issue is just about what the docs should use for consistency.

[2018-02-23 07:40] obelink commented on #4450
I don't use the VB compiler switches often (can't remember the last time), but al the command line experiences I have from the past years use a '-', like EF Code First and NuGet... For me a / feels very unnatural.

And as @reduckted  already mentioned: it's a documentation thing, the compiler supports already both.

[2018-02-23 14:31] TylerBrinkley commented on #3825
`HttpClientHandler.SslProtocols` and `HttpClientHandler.CheckCertificateRevocationList` both throw `PlatformNotSupportedException` in .NET 4.7.1 and thus should be documented as such.

[2018-02-23 17:36] ericmutta commented on #4450
In the years since 2001 when I first tried VB.NET **I can't remember a single time I ever invoked the compiler on the command line**! However if I ever had to, I would use / since that is what I use when on the Windows command line (e.g `dir /s` to get a full directory listing).

I have also started using Ubuntu for my back-ends lately, but that is such a foreign environment, my brain does a compl

[2018-02-23 17:46] #4207 closed

[2018-02-23 17:57] mairaw commented on #4450
@ericmutta the C# docs were using a mix of both so we wanted to be consistent and started the discussion. With that, the question came up of what we wanted to do for VB. With Markdown. it's not hard to change them.

[2018-02-23 18:11] ericmutta commented on #4450
I see, well in that case my vote is to use whatever the majority wanted on the C# side. Since many of us don't ever touch the command line compiler, it won't really matter, but the consistency between languages will be a bonus for the people who deal with both (e.g I am writing a lot of C# now because Xamarin requires it...and it's just awesome to find consistency between the languages, e.g interp

[2018-02-23 18:57] mairaw commented on #4450
The overwhelming majority voted for dash in issue #4072. And it seems that's the preference here too.

And thanks for the feedback regarding the issue on the dotnet/vblang repo. It made my day @ericmutta! I hope to you see you more around here. 😄

[2018-02-23 22:39] mairaw commented on #4386
This is what I got from @deskin:

"The flags were for a feature that we ended up choosing to not ship or support. They're intentionally undocumented."

But we'll review the docs in the future to see what is missing like the remove command.

[2018-02-23 22:51] Leon99 commented on #1575
Until https://github.com/dotnet/roslyn/issues/12897 is implemented, we're stuck with anonymous types.

[2018-02-24 00:08] mattifestation commented on #4386
Interesting. In the mean time, there is some public info regarding sealing since Microsoft is choosing not to document it publicly currently. https://vcsjones.com/2016/12/30/authenticode-sealing/

[2018-02-24 00:55] #4350 closed

[2018-02-24 11:11] chucklu opened #4487 "What kind of media type does StringContent constructor support?"
[StringContent(String, Encoding, String)](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.stringcontent.-ctor?view=netframework-4.7#System_Net_Http_StringContent__ctor_System_String_System_Text_Encoding_System_String_)
The third parameter is  mediaType  String
The media type to use for the content.

When I pass "application/base64" as the mediaType, I got the following error message.
[

[2018-02-24 14:32] svick commented on #4487
The error message talks about overload resolution, which means you're using `dynamic` and types of parameters you passed in couldn't be matched to any overload of the `StringContent` constructor.

I'm pretty sure this is because `fileContent` is not a `string`, which it has to be according to the method signature. This has nothing to do with the `mediaType` you used.

[2018-02-24 15:59] aakarshit commented on #3285
This seems like a good issue to start contributing.

I believe you are referring to the comment asking what `item.Name,-15`does. I see that the [topic](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings) does talk about the structure of an interpolated string being: `$"<text> {<interpolated-expression> [,<field-width>] [:<format-string>] } <text> ..." `

[2018-02-24 20:35] BillWagner commented on #3285
@aakarshit Thanks for volunteering. We'd appreciate the contributions.

I agree that what's missing is examples that show usages of field width and format strings.  It would be great to add those.

If you want to *really* improve the topic, there are a couple other changes we've found that visitors have really appreciated:

- [ ] Putting the snippets in a single downloadable sample project for rea

[2018-02-25 15:49] pkulikov opened #4490 "C# documentation: two "entry points" for async programming"
While .NET Standard documentation has one [entry point](https://docs.microsoft.com/en-us/dotnet/standard/async) for asynchronous programming, the C# part of docs has two:
- [Asynchronous programming](https://docs.microsoft.com/en-us/dotnet/csharp/async) which is mostly about `async` and `await`
- [Asynchronous programming with async and await (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/pr

[2018-02-26 01:45] chucklu commented on #4487
@svick  Thanks, I forgot to convert dynamic type to string.

[2018-02-26 01:45] #4487 closed

[2018-02-26 07:42] pkulikov commented on #3285
Oh! Last week I've thought about and looked on interpolated string coverage in docs as well.
@aakarshit @BillWagner there are examples, maybe not good ones:
- [Tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/string-interpolation)
- [Quick-start](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/interpolated-strings)
- [Local quick-start](https://docs.microsoft.com/en-u

[2018-02-26 14:46] BillWagner commented on #3285
I'd add one more sample on culture: How to use a specific culture. The scenario is something like "my server is in the US and a visitor from Germany is looking at the numeric data. I want to format numbers like "1.000.000,234" instead of "1,000,000.234".

I have an example from a talk that I will find and add as a comment or gist here.

[2018-02-26 16:47] CliffAgius opened #4492 "REPL Issue in Edge"
Edge Browser the REPL styling on the page is causing an issue.

Using the EDGE Browser while completing the C# Getting started "Hello World!" with my son's Yr6 Class (10/11 year olds) the school laptops are locked to Edge for online security reasons.

The kids tried to enter the code but the REPL had the Line 1 in the Editor behind the Bar with the Run button so it could not be seen.

Got permissi

[2018-02-26 16:49] CliffAgius opened #4493 "REPL Clear Button"
Completing the C# Getting started "Hello World!" with my son's Yr6 Class (10/11 year olds) and a suggestion from one of the kids was why is there no Clear button to empty the Editor window?

Suggest this would not be a big one to add, also from another child there is a way to copy the code from the code block using the Copy  button but no Paste button.  I told her she had to type the code which wa

[2018-02-26 17:49] pkulikov commented on #3285
@BillWagner as for an example, the [current version, (see point 2)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings#implicit-conversions) already has it as well; though with currency, but update-able for numeric data. I'd remove reflection on `IFormattable` and sample is ready.

[2018-02-26 20:39] rpetrusha commented on #1117
Closing, since porting is complete and #3819 covers revisions necessitated by porting/migration.

[2018-02-26 20:39] #1117 closed

[2018-02-26 20:58] rpetrusha opened #4494 "[Revision] Consolidate and revise Assemblies documentation"
# Consolidate and revise Assemblies documentation

In migrating documentation from MSDN to docs.microsoft.com, we've managed to create virtually identical documentation on assemblies in three separate sections of the documentation: for C#, for Visual Basic, and for the .NET Framework. However, aside from an **assembly** keyword that indicates that a program element such as an attribute applies to

[2018-02-26 21:09] BillWagner commented on #2720
closed after looking at PRs referenced above.

[2018-02-26 21:09] #2720 closed

[2018-02-26 21:20] BillWagner commented on #4408
Ping @dend Any updates here?

[2018-02-26 21:29] BillWagner commented on #4461
Thanks for pointing this out.  We've added it to the backlog. If you have thoughts on the correct link, do you want to submit a PR for this?

[2018-02-26 21:33] BillWagner commented on #4466
Ping @LadyNaggaga is this an issue with the intellisense display?

[2018-02-26 21:39] BillWagner commented on #4493
ping @yunyunyunyun Is this an issue with the REPL engine?

[2018-02-26 21:40] BillWagner commented on #4492
ping @yunyunyunyun Is this an issue with the REPL engine?

[2018-02-26 21:40] BillWagner commented on #4492
@CliffAgius Do you know the screen resolution for this issue? That might be relevant here.

[2018-02-27 00:01] mairaw commented on #4461
Perhaps we should link to this topic instead:
https://docs.microsoft.com/en-us/dotnet/framework/security/how-to-enable-wif-for-a-wcf-web-service-application

[2018-02-27 00:15] rpetrusha commented on #4490
Thanks for opening this issue, @pkulikov. This is indeed a good opportunity to revise content. The revision, though, is likely to be less than straightforward, since the second entry point, [Asynchronous programming with async and await](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/), is a result of migrating a combined Visual Basic/C# doc set into separate Visua

[2018-02-27 00:17] rpetrusha commented on #1116
This content has been ported (see [Task-based asynchronous programming](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-based-asynchronous-programming), but there still is a need for revision.

[2018-02-27 00:28] rpetrusha commented on #4461
That's probably the best option.

[2018-02-27 00:29] mairaw commented on #4428
I just tested this on .NET Core and .NET Framework. It seems that .NET Framework does return the correct value when the application manifest targets the OS, but Core doesn't seem to do that.

We should probably add the information from here too: https://github.com/dotnet/platform-compat/blob/master/docs/DE0009.md

/cc @pjanotti @terrajobst any comments?

[2018-02-27 00:56] karelz commented on #4428
The type is in System.Runtime.Extensions - @joperezr (per [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) page)

[2018-02-27 01:02] pjanotti commented on #4428
In the context of CoreFX it seems reasonable to continue with current recommendation of DE0009.  https://github.com/dotnet/platform-compat/issues/58 has the reasoning for that.

[2018-02-27 01:21] #4408 closed

[2018-02-27 01:43] #1669 closed

[2018-02-27 02:04] #4178 closed

[2018-02-27 02:13] ocdtrekkie commented on #4428
As noted in my case, I check the version to see if my computer is up to date, since the computer is rarely online and cannot necessarily check for itself. (Right now, I know my home PC is on 15063.909, but my car PC, through my .NET app, says it's on 15063.786, ergo, I know it's out of date!)

I totally understand the desire for people not to use it for compatibility checks (given I have software

[2018-02-27 04:33] pjanotti commented on #4428
Thanks for the detailed feedback @ocdtrekkie we do appreciate it.

The docs definitely should be updated, the rule recommendation on the analyzer mentioned above is based that we see more cases of misuse then good use of the API. So let's update the docs but keep the current recommendation on the analyzer (it links to the doc for more info anyway).

[2018-02-27 06:04] mairaw opened #4502 "New offline books released for Visual Studio 2017"
Earlier this month, we released an update to Offline Books for the Visual Studio 2017 Help Viewer.

This release includes new .NET books, including .NET Core Guide, .NET Guide, .NET Framework Guide and the .NET API Reference. It also includes the latest content for Visual Studio 2017 version 15.5, the latest updates to Visual Basic, C# (7.1 and 7.2), F#, ASP.NET Core, NuGet, SQL Server, and the Un

[2018-02-27 07:41] mairaw opened #4504 "Use https instead of http for links whenever possible"
See https://twitter.com/Duncanma/status/968369013234569216 for background info

Anyone jumping on this issue should break the PR into multiple smaller PRs so we're not overwhelmed to review this. An example can be seen with PR #4506 that only contains the links in the F# folder.

[2018-02-27 12:07] CliffAgius commented on #4492
@BillWagner Just heard back from the school the laptops are HP machines with a screen resolution of 1920 x 1080.

I must admit I didn't think to try changing the browser size it was just full screen (Not full screen like F11 mode).

However one question about the REPL could it not be made such that it can be made to pop out into another window so that the Editor and Output windows will the new win

[2018-02-27 13:16] svick commented on #2729
[This document in the coreclr repo](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md) can probably be used as the base for this topic. Also, [the API reference for `AssemblyLoadContext`](https://docs.microsoft.com/en-gb/dotnet/api/system.runtime.loader.assemblyloadcontext?view=netcore-2.0) should be filled in too.

[2018-02-27 14:29] SamuelEnglard commented on #4502
Can I download the books external to the help viewer?

[2018-02-27 14:58] jkotas commented on #2982
https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md is the design document for this.

[2018-02-27 15:13] eduard-malakhov opened #4505 "The unobvious implicit cast in foreach statements"
Today, I've run against a quiet unobvious behavior of the C# compiler that I believe deserves to be documented. I've submitted an issue to the roslyn team (dotnet/roslyn#25080), but it looks like this behavior is considered correct (although I can't even find proper words to express how I disagree).

There's a detailed description in the issue, in short: when the C# compiler has to process a state

[2018-02-27 15:45] svick commented on #4505
In which article would you expect to find this information?

[2018-02-27 18:25] pkulikov commented on #4505
[This section on `foreach`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/statements#the-foreach-statement) tries to show how that statement is compiled.
A quote from there:

[code]

[code]

Can it be a good place to mention `InvalidCastException`?

[2018-02-27 18:36] pkulikov commented on #4493
@CliffAgius I agree it's strange that there is no Paste button or Paste option in the right-click menu. As an interim solution Ctrl+V keyboard shortcut might work to paste copied content.

[2018-02-27 18:36] svick commented on #4505
@pkulikov That's the specification. If you can get though all of the preceding text, then I think it can be assumed that you don't need a reminder that a cast can throw.

[2018-02-27 18:37] eduard-malakhov commented on #4505
@svick I think it would be nice **to be able to find it** somewhere. That's the key, Google does a good job of indexing the docs as well as the rest of the web, we just need to pick a good place. I am not familiar with the entire structure of the docs, so I'd like to hear suggestions from the team.

One place I could think of (definitely questionable) is the [foreach, in](https://docs.microsoft.co

[2018-02-27 18:39] pkulikov commented on #4505
What about [this page in language reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/foreach-in)?

[2018-02-27 18:43] eduard-malakhov commented on #4505
@pkulikov I would agree with @svick here. Specification is great to understand how things work, but I'd prefer it more adapted to an average developer. Many people I think won't read the specification even if they are able to find the right article.

[2018-02-27 18:46] pkulikov commented on #4505
@eduard-malakhov @svick you are right, I agree with suggestion of @eduard-malakhov to update keyword reference page with one or two more examples. So far it looks the best place.

[2018-02-27 19:24] eduard-malakhov commented on #4505
@pkulikov ok, thank you for participating. I will then create some examples, submit a PR to update keyword reference, and we'll see where it goes.

[2018-02-27 19:31] mairaw commented on #4505
The proposal looks good to me. But I'd prefer to have @BillWagner input on this one.

[2018-02-27 22:27] JRAlexander opened #4508 "[Feature] Tensor<T>"
#  Tensor\<T\>

Tensor is an exchange type for homogenous multi-dimensional data for 1 to N dimensions. The motivation behind introducing Tensor<T> is to make it easy for Machine Learning library vendors like CNTK, Tensorflow, Caffe, Scikit-Learn to port their libraries over to .NET with minimal dependencies in place.

[More information: Introducing Tensor for multi-dimensional Machine Learning an

[2018-02-27 22:32] JRAlexander opened #4509 ".NET Core Global Tools Part 1: Global tools overview, sdk commands, how to use it"
This Part 1 of 3 topics will address the .NET Core Global Tools. .NET Core now has a new deployment and extensibility mechanism for tools. This new experience is very similar to and was inspired by NPM global tools.
Part 1: global tools overview, sdk commands, how to use it - This Topic
Part 2: how to create new global tools - #6016
Part 3: update extensibility topic - #6017

[2018-02-27 23:03] BillWagner opened #4510 "Improve the community experience for PRs and issues"
Our contributor guide has not kept up with any recent GitHub features. Also, other teams have adopted practices that we can use to improve. I propose making these updates:

1. The PR template recommends @- mentioning team members to review PRs. We can now use the "Request review" feature, which is easier for us to search on. We should update with that recommendation.
1. We can help our community t

[2018-02-27 23:08] #3331 closed

[2018-02-27 23:35] mairaw commented on #4510
I wouldn't add product members as potential reviewers. I think we should ping them as needed.

I also think we should have the same templates between aspnet/docs and dotnet/docs. I like the fact that aspnet/docs has a shorter template since a lot of folks seem to ignore the template anyway.

For detailed, I think that Guide level and/or major sections make sense. It depends on the area. Languages

[2018-02-28 00:14] rpetrusha commented on #4510
I agree with @mairaw that we shouldn't add product members as reviewers, nor is it necessary that community contributors do; we can either @ ping them or add them as reviewers on an ad hoc basis.

[2018-02-28 00:15] richlander commented on #4509
Here is some starter content: https://github.com/dotnet/core/tree/master/samples/dotnetsay

[2018-02-28 01:14] mairaw commented on #4509
Cool. I'm meeting with @KathleenDollard tomorrow to discuss this.

It seems that we need to at least:
- document dotnet install
- update the [extensibility topic](https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility) to cover global tools
- perhaps a new how-to or tutorial on creating and installing global tools?

Thoughts?

[2018-02-28 01:31] KathleenDollard commented on #4509
Maybe we need an hour :)

[2018-02-28 01:33] BillWagner commented on #4505
This is a good proposal.

I'll add some details to your example that should be part of the explanation. Let's start with your original example:

[code]

One of the commenters on your roslyn issue pointed out that it does not compile if `SomeType` is sealed. It only compiles when `SomeType` could have derived classes.

Aha!

In that case, the actual objects in the collection may not be `SomeType` b

[2018-02-28 02:44] Rick-Anderson commented on #4510
For the ASP.NET Repo, we removed @- mentioning team members to review PRs
Because typo PR's would come in with lots of dev mentions, PM mentions, too many mentions. We triage PR's quickly and we know who to mention.
Removing that advice was a big improvement for us.

I would say 90% ignore it.

[2018-02-28 09:11] lttr opened #4513 "Example of TryParse method result is a little confusing"
The TryParse methods (e.g. [Int32.TryParse](https://docs.microsoft.com/en-us/dotnet/api/system.int32.tryparse?view=netframework-4.7.1#System_Int32_TryParse_System_String_System_Int32__), [Char.TryParse](https://docs.microsoft.com/en-us/dotnet/api/system.char.tryparse?view=netframework-4.7.1#System_Char_TryParse_System_String_System_Char__)) have second parameter `out result`. However in the accomp

[2018-02-28 13:47] #4246 closed

[2018-02-28 17:02] jeffschwMSFT opened #4514 "Broken Interop links on docs.*"
The following three links are broken:

Source: https://docs.microsoft.com/en-us/dotnet/framework/interop/default-marshaling-behavior
Context: Marshaling of generic types is not supported. For more information see, Interoperating Using Generic Types.
Broken link: Interoperating Using Generic Types --> https://msdn.microsoft.com/library/26b88e03-085b-4b53-94ba-a5a9c709ce58

Source: https://docs.micr

[2018-02-28 17:05] jeffschwMSFT opened #4517 "Using 'int' as a representation of a pointer"
The following document has an example of how delegates are represented in the type library:

https://docs.microsoft.com/en-us/dotnet/framework/interop/default-marshaling-behavior

Consider the following example code in which the methods of DelegateTestInterface are exported to a COM type library. Notice that only delegates marked with the ref (or ByRef) keyword are passed as In/Out parameters.

[c

[2018-02-28 17:32] mairaw commented on #4514
Thanks @jeffschwMSFT. We're trying to clean up all these links over time.

@rpetrusha what do you think? It seems that the interop area had a bunch of content restructuring in the past. Should we change the links to point to the archive version or start removing these interop links?

[2018-02-28 17:50] mairaw commented on #4428
For sure, we need to improve those docs @ocdtrekkie since the information there is not correct and not complete. I was just trying to confirm if there was anything else I was missing.

@rpetrusha @merriemcgaw should we also update the high DPI article to show how to check for versions using [RuntimeInformation.IsOSPlatform(OSPlatform)](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.int

[2018-02-28 19:32] rpetrusha commented on #4514
I think that we should point to the archive version, @mairaw. The interop documentation wasn't so much restructured as topics were removed wholesale in preparation for the migration to CAPS based purely on page views. The result is that the doc set was pared down far too much, and some essential topics were removed. I don't think that it's really possible to do interop successfully without the ful

[2018-02-28 19:40] mairaw commented on #4514
Ok @rpetrusha, thanks for sharing the history on those topics here. So let's adjust them to point to the archive version on msdn. Once they move to docs, we can decide to bring them back to live if we have time and demand for that.

[2018-02-28 19:44] rpetrusha commented on #4514
That sounds good, @mairaw. At some point, I'd really like to evaluate what we should bring back into the doc set and what we should leave archived.

[2018-02-28 21:39] rpetrusha commented on #787
@mairaw, since we're using the xref: syntax, should this issue be closed?

[2018-02-28 21:46] cartermp commented on #1333
Yep!

[2018-02-28 21:46] #1333 closed

[2018-02-28 21:51] rpetrusha commented on #90
The LINQ tutorial is [Working with LINQ](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/working-with-linq). Closing this issue.

[2018-02-28 21:51] #90 closed

[2018-02-28 22:09] BillWagner commented on #3949
I'm going to expand the scope of this somewhat. Looking at the content, I believe a number of locations were missed when `in` was added as a modifier to method arguments. I'll update those to mention `in`, and update the language reference on `in` and `ref` to explain the tiebreaker rule (and note that the rule only applies as of 7.3. In 7.2 the method call is ambiguous.

[2018-02-28 22:43] mairaw commented on #787
@rpetrusha I'll assign this to myself to finish. It's only 4 files left.

[2018-02-28 22:50] isaac2004 commented on #787
Oh no, I totally forgot about this one. Thanks for being great @mairaw!

[2018-02-28 22:52] mairaw commented on #787
We did too @isaac2004. No worries!

[2018-03-01 08:09] pkulikov commented on #3285
@aakarshit regardless of the above messages, I think merely adding links to pages on formatting and improving existing code samples would be a big improvement of existing content. So, don't hesitate to go ahead with it if you have time.  If a bigger clean-up of the topic seems too large or time-consuming, I can do that in the middle of March.

[2018-03-01 16:22] aakarshit commented on #3285
@pkulikov @BillWagner, had a very busy week at work. I'd certainly like to do the bigger cleanup. I'll probably have time tomorrow to evaluate how much I can take up.

[2018-03-01 19:10] #877 closed

[2018-03-01 19:16] #4356 closed

[2018-03-01 20:26] #4133 closed

[2018-03-02 00:04] rpetrusha opened #4536 "Revise How to: Use Selected Value... topic to display all XAML"
# Revise How to: Use Selected Value... topic to display all XAML

## General

See Issue #4526

The [How to: Use Selected Value, SelectedValuePath, and SelectedItem](https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/how-to-use-selectedvalue-selectedvaluepath-and-selecteditem) topic needs to be prevised to present the entire contents of the [window1.xaml](https://docs.microsoft.com/en-u

[2018-03-02 01:35] BillWagner commented on #2044
We've  got three topics starting [here](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-fsharp-with-dotnet-test) so I will close this.

[2018-03-02 01:35] #2044 closed

[2018-03-02 01:38] BillWagner commented on #2105
Both the internal bugs reference above are completed, so I'm closing this.

[2018-03-02 01:38] #2105 closed

[2018-03-02 12:32] ManGupt commented on #4536
I agree with @BillWagner on updating the XAML code. Here is my suggestion:
changing <HierarchicalDataTemplate DataType="EmployeeInfo"
to <HierarchicalDataTemplate x:Key="SampleTemplate" DataType="EmployeeInfo"
and
changing <TreeView ItemsSource.../>
to <TreeView ItemTemplate="{StaticResource SampleTemplate}" ItemsSource.../>

What do you think?

[2018-03-02 16:14] #4474 closed

[2018-03-02 17:10] JRAlexander commented on #4155
Closed based on feedback that this is covered by existing articles.

[2018-03-02 17:10] #4155 closed

[2018-03-02 17:12] BillWagner commented on #3949
PR #4534 does the background work to add discussion of the `in` modifier where previously the `out` and `ref` modifiers were discussed without mention of `in`.

The new tiebreaker rule will come in a separate PR.

[2018-03-02 17:46] JRAlexander opened #4540 "[Feature] Runtime and SDK Minor Version Roll-forward"
# Runtime and SDK Minor Version Roll-forward

You will now be able to run .NET Core applications on later runtime versions, within the same major version range. For example, you will be able to run .NET Core 2.0 applications on .NET Core 2.1 or .NET Core 2.1 applications on .NET Core 2.5 (if we ever ship such a version). The roll-forward behavior is for minor versions only.

This will cover both *

[2018-03-02 18:41] BillWagner commented on #3962
The following files will need to be updated for this feature:

docs/csharp/properties.md
docs/csharp/programming-guide/concepts/attributes/attributeusage.md
docs/csharp/programming-guide/concepts/attributes/index.md
docs/csharp/programming-guide/concepts/serialization/walkthrough-persisting-an-object-in-visual-studio.md
docs/csharp/programming-guide/concepts/serialization/index.md

[2018-03-02 19:26] JRAlexander opened #4541 "[Feature] HttpClient Listener rewritten for performance"
# HttpClient Listener rewritten for performance

For HttpClient, we built a new from-the-ground-up managed HttpClientHandler called SocketHttpHandler. As you can likely guess, it’s a C# implementation of HttpClient based on .NET sockets and Span<T>.

The biggest win of SocketHttpHandler is performance. It is a lot faster than the existing implementation. There are other benefits:

Elimination of p

[2018-03-02 22:14] Narvey opened #4543 "when keyword (at least as used with catch) could bear more details"
https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/keywords/when.md Doesn't give any sort of indication of the very important fact that "the When expression is evaluated before the callstack is unwound to the Catch block" ([source](https://stackoverflow.com/a/116424/1739000)). Now, yes, StackOverflow serves as the unofficial documentation for undocumented things in .NET, but

[2018-03-02 22:33] #787 closed

[2018-03-02 22:56] danroth27 opened #4545 "Update dotnet new -i docs to document `{package-id}::{version}` syntax for installing specific template package versions"
If you want to install a prerelease version of a template package you need to specify the version. By default `dotnet new` passes `*` for the version, which will only consider stable package versions. So you need to do something like `dotnet new -i Foo.Templates::0.1.0-*`.

[2018-03-02 23:18] mairaw commented on #4545
Thanks @danroth27. This works with 2.0 too?

[2018-03-02 23:32] mairaw commented on #3452
It seems there are only 3 links left to be done: https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=%22https%3A%2F%2Fazure.microsoft.com%2Fdocumentation%22&type=

[2018-03-03 00:18] danroth27 commented on #4545
Yes.

/cc @mlorbetske

[2018-03-03 18:25] ChrisMaddock opened #4554 "Horizontal scroll on narrow screens cuts off table content"
See image below:

![image](https://user-images.githubusercontent.com/4837132/36937732-bc653df6-1f0f-11e8-8735-81d31409cddc.png)

Seen on https://docs.microsoft.com/en-us/dotnet/standard/exceptions/

On a narrow screen, the main content panel has a slight horizontal scroll bar, but it doesn't scroll far enough to view all content, the ends of lines inside the table are still cut off.

My screen is

[2018-03-03 21:21] lucasnobredev commented on #4439
@rpetrusha I'd like to correct these inconsistencies. Can you help me to begin the work?

[2018-03-04 04:40] ManGupt commented on #4536
@rpetrusha I would love to do the modification. Just guide me as I am new.

[2018-03-05 17:38] #4461 closed

[2018-03-05 19:25] ateoi opened #4560 "Update System.Exception.StackTrace remark to reflect the new behavior for rethrown exceptions"
The line below needs to be updated to reflect the fix for dotnet/coreclr#15780 and implemented by dotnet/coreclr#16464. This change is expected to be included in .NET Core 2.1 - https://github.com/dotnet/coreclr/issues/15780#issuecomment-368585175.

This is the new behavior for rethrown exceptions:

1. **Exception rethrown in a method different than the method where it was originally thrown:** the

[2018-03-05 21:36] BillWagner commented on #4466
After investigation, I'm going to close this, as it appears to be a duplicate of dotnet/try#41

@ga69russ If it shows up again, please reopen and include the code.

[2018-03-05 21:36] #4466 closed

[2018-03-05 21:55] rpetrusha commented on #4554
Portions of the table also appear to be inaccurate and need careful review.

[2018-03-05 21:56] BillWagner commented on #4554
There are other issues with this table:

1. The second column is misleading.  Many of the exceptions listed have intervening base classes between the type in the 1st column and the type listed in the 2nd column.
1. The Example column may be too broad in recommending that some of the types not be used at all.

[2018-03-05 22:00] ga69russ commented on #4466
I’m sorry you are still seeing this. I no longer have interest in the subject. Go ahead and close it.

Glenn Russell

From: Bill Wagner [mailto:notifications@github.com]
Sent: Monday, March 5, 2018 1:37 PM
To: dotnet/docs
Cc: Glenn A. Russell; Mention
Subject: Re: [dotnet/docs] Numbers tutorial should mention that double and decimal have no implicit conversions (#4466)

After investigation, I'm go

[2018-03-06 00:10] BillWagner commented on #2363
I'll add one more recommendation:

I don't think we have all the warning and errors messages documented. I believe some of the most recent additions are not included.

[2018-03-06 00:12] BillWagner commented on #2508
Setting the priority to P2, as the top two results are the docs C# Guide, followed by the docs C# Programming guide. Not perfect, but much better.

[2018-03-06 00:30] BillWagner commented on #2808
Ping @rlordcardano Are you still seeing this? Did you try the solution @shrah mentioned?

[2018-03-06 18:36] svick opened #4561 "Do not claim that structs are on the stack"
[The *new Operator* article](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/new-operator) says:

Depending on how you understand it, this claim could be considered true, if you consider that value types are *created* on the stack, but then can be copied to the heap.

But I think it's still too confusing and too close to the common misconception of "value types are store

[2018-03-06 20:53] rpetrusha opened #4563 "Improve System.ComponentModel.BackgroundWorker-related documentation"
# Improve System.ComponentModel.BackgroundWorker-related documentation

## General

See PR #4548

## Issues with Existing Topics

The documentation for all [System.ComponentModel.BackgroundWorker](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.backgroundworker?view=netframework-4.7.1) types is lacking in detail and in need of revision. This includes the following types:

- [Back

[2018-03-06 22:06] rpetrusha commented on #4439
Thanks for volunteering, @lucasnobredev. We really appreciate your help.

Two immediate questions come to mind:
- How to identify what should be fixed.
- How to break down the work into manageable units.

The correct usage is "white space" for a noun, "white-space" for an adjective. I'm sure that there are cases in the documentation of "white space" used  an adjective and "white-space used as a no

[2018-03-06 22:11] rpetrusha commented on #4439
One additional detail that I forgot to mention, @lucasnobredev. One you get started and decide exactly how to approach splitting up the PRs, we can add a task item for each PR that will be submitted to the issue description. That will allow us to see exactly what's been done and what work remains to be done.

[2018-03-07 02:11] scottaddie opened #4564 "Old screenshots for using .NET Core CLI with VSTS"
https://docs.microsoft.com/en-us/dotnet/core/tools/using-ci-with-cli#visual-studio-team-services-vsts

The VSTS build definition screenshots and instructions are dated.

[2018-03-07 14:45] petroemil opened #4567 "Docs for Microsoft.Extensions (Configuration, Dependency Injection, Logging) packages"
As of now, I believe these packages are maintained by the ASP.NET team and their documentation is also only available inside the ASP.NET Core section ([Configuration](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/configuration), [Dependency Injection](https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/dependency-injection), [Logging](https://docs.microsoft.com/en-gb/aspnet/core/

[2018-03-07 15:20] BillWagner commented on #4561
I'd like to start a discussion on this issue.

First, this is much larger than a single topic. A search of the repo for the phrase ["on the stack"](https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=%22on+the+stack%22&type=) produces more than 100 occurrences. Some are correct, in that they refer to a Stack collection. Most refer to the common inaccurate phrase that value types are "on the sta

[2018-03-07 15:43] dopare commented on #4561
I would suggest to add clear note that value types are not restricted to stack storage instead of removing all descriptions about stack storage.

[2018-03-07 16:12] jskeet commented on #4561
While I'm always nervous about disagreeing with Bill, I'd argue that `ref struct` makes the stack/heap distinction more relevant than ever before. The rules around what you can do with a `ref struct` are designed to avoid it escaping the stack. (The implementation details of captured variables etc then definitely leak into the language.)

I think it would make sense to start with the "copy by valu

[2018-03-07 16:23] BillWagner opened #4571 "Poll: Should runnable samples include output as comments?"
[this comment](https://github.com/dotnet/docs/pull/4519#discussion_r172756393) highlights a question we've been wrestling with: should runnable samples include the output as comments or not?

The advantage of including comments is that you can see what code should do without running it. The advantage of not including the comments is that the samples take less space, and after running them, you can

[2018-03-07 16:46] KathleenDollard commented on #3943
Yes, it is now finalized. Sorry for the delay

[2018-03-07 17:12] BillWagner commented on #3943
@KathleenDollard Just to verify: We should go forward with the decision [posted in the VB LDM notes](https://github.com/dotnet/vblang/blob/127d7ad74b5ff1eab07c7b873625613ac6bd1f97/meetings/2018/vbldm-notes-2018.02.21.md#private-protected---discussion).

Is that correct?

[2018-03-07 17:15] bryanjhogan commented on #4571
I like seeing the output because I often look at the code snippets to help me decide what method to use. Knowing the output makes that decision easier and quicker.

Think of the docs explaining how to format a date, much better if the output is shown.

[2018-03-07 17:36] bryanjhogan commented on #4571
I like seeing the comments because it lets me quickly see the output of some method and there might be many examples on a page. Sometimes I just want to glance at the docs to help choose between a few alternatives, e.g. the date formatting.

Suggestions - would it be possible to leave the comments in, but as soon as a user edits the code or runs the sample, then remove the block of comments from t

[2018-03-07 17:55] svick commented on #4571
I think being able to see the output without running the code makes sense when the specific string matters, like with `Console.WriteLine(dat1.ToString(CultureInfo.InvariantCulture));`. But in general, I think it's mostly unnecessary, like with `Console.WriteLine(dat1.Equals(DateTime.MinValue));` or the `foreach` loop.

[2018-03-07 17:57] Powerhelmsman opened #4572 "Keep left menu consistent of C# Guide TOC"
I click on "Getting Started" under the C# Guide heading and all the higher level links in that menu then disappear. If I click on "What's new in C#" then the left menu stays consistent. I can't imagine that is deliberate.

⚠ Idea migrated from UserVoice
Created By: James Urry
Created On: 2017/03/13 11:31:55 +0000
Votes at Migration: 2
Supporters at Migration: 2

This issue is created on MicrosoftD

[2018-03-07 19:41] KathleenDollard commented on #3943
Yes, and I apologize that I didn't get this message to you sooner. I wanted to make sure the VB MVPs didn't have a strong negative reaction yesterday. We are going forward with Private Protected.
________________________________
From: Bill Wagner <notifications@github.com>
Sent: Wednesday, March 7, 2018 9:12 AM
To: dotnet/docs
Cc: Kathleen Dollard; Mention
Subject: Re: [dotnet/docs] VB: private pr

[2018-03-07 23:13] ericlippert commented on #4561
This is indeed a tricky topic with over a decade of misinformation and confusing documentation muddying the waters.  So indeed, first, do no further harm!

The situation is further complicated by the fact that most people still reason from the perspective that coroutines or closures don't even exist, even though they've been in C# for well over a decade.

If I had the opportunity to do it all over

[2018-03-08 06:52] dasMulli commented on #4390
Is there a plan to start an area or branch with preview docs for 2.1 already? Some of the work items may be helpful during the preview timeframe (e.g. global tools, versioning, roll-forward) to help (and even make) ppl try out preview features.

[2018-03-08 06:58] dasMulli commented on #4509
Since the topic of copy&pasting from blogs has come up on asp.net, happy to help/allow copying from https://dasmulli.blog/2018/01/23/exploring-global-net-core-tools/ ([the blog content is MIT already](https://github.com/dasMulli/dasmulli.github.io/blob/develop/LICENSE))

[2018-03-08 14:48] svick opened #4577 "Instance methods from object shouldn't show on static classes"
API reference for static classes includes instance methods inherited from `object`. They technically do exist on those types (since static classes are actually abstract sealed classes that derive from `object`), but cannot be used in any reasonable way, so I think they shouldn't be shown in API reference.

For example, look at `Console`. Its [list of methods on docs.MS](https://docs.microsoft.com/

[2018-03-08 15:18] BillWagner commented on #4561
@jskeet This is a great discussion.

Consider this explanation of `ref struct`:

A `ref struct` must have a known short lifetime (to use Eric's term above). It follows that `ref struct` types can only be local variables of methods that are not coroutines, or members of another `ref struct`. They cannot be members of a `class` or a `struct`. They cannot be return values (see note below). They canno

[2018-03-08 15:31] jskeet commented on #4561
I'd say that "on the stack" is more "the usual implementation of variables known to have a short lifetime" - which ties in with Eric's description. On the other hand, by the time we start talking about the amount of memory available for short-lived variables, we're into implementation details anyway.

I think there's more to using stack/heap than just the age of C# and the amount of existing docum

[2018-03-08 15:44] BillWagner commented on #4561
Both of us missed the full list, which is [here as a proposal in the csharplang repo](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/span-safety.md#language-constraints)

To your bullet list:

The third bullet item in the proposal indicates that ref structs should be legal in async methods, as long as they are not in scope at the `await` expression.

Yes, I updated my commen

[2018-03-08 15:57] jskeet commented on #4561
I didn't miss the proposal - it's just it's inaccurate, in my experience :) Sample code:

[code]

The error message for the last part is unhelpful too:

The part about lambda expressions is definitely not true for local variables...

I've been assuming that the C# team is on the case in terms of tightening up the spec language, error messages, and actual error cases. If you think I've discovered a

[2018-03-08 15:59] BillWagner commented on #4561
ping @VSadov @jcouv Should Jon file issues based on the above?

[2018-03-08 18:52] VSadov commented on #4561
I think allowing ref structs "between yields" in iterators is a bug.
We catch the violation when it is time to capture, so it is safe, but capturing is an implementation detail.

FWIW which and how locals are captured depends on the precision of flow analysis. It gets refined with almost every major release. It may also be reasonable to capture _all_ locals in Debug - so that you would not lose th

[2018-03-08 19:32] VSadov commented on #4561
Re: "structs on the stack"

Structs vs. classes distinction is mostly defined in terms of value/reference semantics. Structs certainly do not need to be on stack.

The lifetime of variables (not just locals) is tied to scoping. As long as variable can be accessed, it must exist. Therefore, for example, when a variable is accessible from a nested method which may outlive the outer method where the

[2018-03-08 21:45] ericlippert commented on #4561
I agree with VSadov; the simpler rule is the better rule. An interesting question though is should this be illegal? Suppose Whatever() returns ref int.  This is legal:

    yield return foo;
    Whatever() = 123;
    yield return bar;

It seems slightly odd that this is legal, but making the ref int explicit in the source code by introducing an explanatory local variable makes it illegal.

[2018-03-08 21:52] VSadov commented on #4561
Not much different from the following being legal

[code]
And the following is not.

[code]

[2018-03-08 22:31] VSadov commented on #4561
The most obscure case IMO is the stack spilling. That is where we have to produce an error even if no locals were involved:

[code]

The case is nontrivial and rare. It is not even considered a language/binding error, but just a known limitation of lowering strategy - it observably does not impact lambda inference for example.

[2018-03-08 22:56] BillWagner commented on #2951
@mgwalm Is this still an issue? Do you have a repo you can share?

[2018-03-08 22:56] BillWagner commented on #2951
@mairaw I cleared this from the backlog so we look at it and triage again. If there's no repo, we may want to close the issue.

[2018-03-08 22:57] BillWagner commented on #2973
@abelbraaksma Do you still have plans to submit a PR on this? If not, we'll unassign and open it up for others to work on.

[2018-03-08 23:06] ChrisMaddock opened #4585 "dotnet nuget push docs query"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push

This page confused me a little. The docs had this synopsis:

[code]

And then state for `ROOT`:
[code]

However all the examples pass the api key under the `-k` flag. I can't see how it could be passed additionally with the filepath in the ROOT parameter - is this a documentation error, or just an undocumented syntax instead?

[2018-03-08 23:12] ChrisMaddock commented on #4571
Option 3: it would be really cool if the page could load in this state in the first place! Presumably sample outputs could be cached?

This option requires some development, of course. 😄

![image](https://user-images.githubusercontent.com/4837132/37181729-1c2507f2-2326-11e8-88f4-bbe9b8564b83.png)

[2018-03-08 23:43] #4191 closed

[2018-03-09 00:25] mairaw commented on #4191
We just switched to the older version of that topic for now @pkulikov. I think we need to create an issue to review the ASP.NET config section more extensively. /cc @csharpfritz

[2018-03-09 01:15] mairaw commented on #4513
I think that's a great suggestion @lttr. We've added this to our community project for folks who want to submit a PR for this change. Thanks!

[2018-03-09 05:17] mairaw commented on #4585
@karann-msft can you look at this question?

[2018-03-09 05:27] mairaw commented on #4577
We should open an internal bug for this @BillWagner. We had a similar bug before where we were showing static members as inherited members. This is related but slightly different.

Also @svick, now that our feedback for Docs moved to GitHub issues as well, we should start filing these kind of bugs that we usually flagged as external here before using the Feedback link from Docs (https://aka.ms/sit

[2018-03-09 05:37] karann-msft commented on #4585
It is a documentation error. Root is the only required parameter. Let's update it to only say "specify the path to the package."
cc: @anangaur

[2018-03-09 06:09] mairaw commented on #4577
Opened internal bug #1203839. Marked as blocking @dend since behavior is correct on MSDN.

[2018-03-09 06:20] mairaw opened #4589 "How to: Implement Binding Validation is missing the VB sample"
Topic: https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-implement-binding-validation

A recent PR (#4584) made me realize that the sample being changed wasn't used anywhere. The C# version of that sample is present here: https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-implement-binding-validation

We should add a VB version that matches the C# version. The origin

[2018-03-09 10:55] svick commented on #4577
@mairaw Understood. Feel free to move the issue if you want.

[2018-03-09 12:35] svick opened #4591 "Move F# samples from CodePlex"
I noticed that the article [Tutorial: Creating a Type Provider](https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/type-providers/creating-a-type-provider) says:

But CodePlex has been archived, so I think the sample code should be moved somewhere else, possibly to this repo or to [FSharp.TypeProviders.SDK/examples](https://github.com/fsprojects/FSharp.TypeProviders.SDK/tree/master/examples)

[2018-03-09 20:07] pkulikov commented on #4571
@ChrisMaddock that would be perfect! Then one can edit code immediately, without the necessity to run it first as it is now.

[2018-03-09 20:23] mairaw commented on #4571
Adding @LadyNaggaga and @yunyunyunyun here for some suggestions on the interactive sample experience.

[2018-03-09 20:30] LadyNaggaga commented on #4571
@ChrisMaddock  I like the idea of preloading the output.  However I am worried that people might run the code.
@BillWagner  I am okay with  the comments in the output because you also let the user know they can run the code.  Have user not responded well to it ?

[2018-03-09 20:34] BillWagner commented on #4571
@LadyNaggaga The small sample in the votes above mirrors the responses I've gotten every time I show this in a conference: it's almost exactly split evenly for "I'd rather run the code" and "i'd like to know what it does when the page loads".  No consensus is emerging. 😕

I like @ChrisMaddock 's idea if we can implement it. It would give users both in a way.

If that proves really difficult to imp

[2018-03-09 20:57] ChrisMaddock commented on #4585
Thanks both - PR submitted!

[2018-03-09 21:29] sputier commented on #4571
**TL;DR;**  I think we should keep comments

As a developer with a bit of experience, the comments in think the comments in 101 samples are "distracting", and I appreciate them in the advanced code samples.

... But 101 samples are not designed for those who already know the language : beginners probably need comments in basic code samples as much as I appreciate comments in advanced samples.

[2018-03-09 21:36] mairaw commented on #4297
Team has fixed the issue. Thanks for reporting it @rigdern!

[2018-03-09 21:36] #4297 closed

[2018-03-09 21:41] #4585 closed

[2018-03-09 21:43] SpaceShot commented on #4571
At first I was going to come in here and say obviously Yes.  Then I tried both interactive samples and I'm definitely more undecided.  Removing the comments tidies the overall length of the document, and running the code is "cool".  However, after that wears off, the seasoned dev might want to just see the output and get back to work.  Sure it's just a few seconds but I see that angle too.

[2018-03-09 21:48] jkaster commented on #4571
I'm a **huge** fan of documentation, code comments, and reference implementations for users. However, this site provides the `Run` button in situ, so the user can look at the sample, mentally challenge themselves to see if they understand it, then hit `Run`. Or, just hit `Run` to see the output anyway. So I think omitting the comments when the output can be shown directly below the sample is the w

[2018-03-09 22:04] scottaddie commented on #4571
My thoughts mirror those of @sputier. ☝️ I do, however, think there's a point at which the comments become unnecessarily noisy. We should always try to limit the number of them.

[2018-03-09 22:16] nemec commented on #4571
I vote for, at the very least, caching the response 😐
![Service Unavailable message](https://i.imgur.com/QrZhDEA.png)

Until Blazor launches and we can run the samples client-side!

[2018-03-09 22:27] Rick-Anderson opened #4598 "XmlDsigXPathTransform sample fails"
See [XmlDsigXPathTransform Class
](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.xmldsigxpathtransform?view=netframework-4.7)

test sample.  Copy from [this bug](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/200269)

-----------------------
Problem Description
-----------------------
Description: After MS16-035 security update this code fro

[2018-03-09 22:50] sputier commented on #276
@jfversluis Have you started working on this one ? Do you need any help ?

[2018-03-10 02:04] rkeithhill commented on #4571
One thing I don't like about the commented output is that the copy button copies the code and the commented output.  That is just more lines of code I have to delete.

[2018-03-10 05:01] SeanKilleen commented on #4571
It's a tough call for sure. My instinct is to recommend removing comments. I know that they can be helpful, especially for beginners, but I think losing them is the right way to go because:

* The concept of clicking a green "run" button doesn't seem to be a far-removed concept that would confuse people
* Those who are beginners may not be in such a hurry that they would need to see comments at a

[2018-03-10 10:49] mairaw commented on #4390
Hi @dasMulli, some we might start working on that soon like global tools. I think we won’t create a different folder/area for 2.1. We’ll add things as they make sense in the TOC. We’ll go through a prioritization exercise for our 2.1 work vs. remaining 2.0 work as well to see what to work on next.

[2018-03-10 12:09] aakarshit commented on #3285
@pkulikov @BillWagner I started working on consolidating all info into one "How To" article as suggested, but can't seem to build a local version correctly. When I serve using docfx on my mac, I don't see a "How To" topic. I see others and on drilling down I could only find media files. I looked through issues and did find a similar issue but didn't have much time to follow it through. Are you fam

[2018-03-10 15:35] cce32 commented on #4571
👍prefer the compact look without the comments.

[2018-03-10 16:54] syfhu commented on #4571
I vote for @ChrisMaddock option 3. If that’s not an option I‘d go for 👎 at least until the run button works reliably in all browsers.

[2018-03-10 18:38] bryanjhogan commented on #4571
@BillWagner this post [http://www.felienne.com/archives/5947]( http://www.felienne.com/archives/5947), by Felienne Hermans is interesting, it discusses how children learn to program and the particular difficulties they have with the meaning of symbols.

It leads me to a few questions -

-    who is the primary audience for runnable samples?
-    do their needs outweigh the needs of the other audie

[2018-03-10 19:21] lucasnobredev commented on #4439
Thanks for the tips, @rpetrusha . I agree with your approach. I already 'forked' the project and I'm looking for these errors. I'll open first PR as soon as I can.

[2018-03-10 19:25] yasirbhutta opened #4604 "How to: Display Windows Forms in the Designer is not working for current version"
How to: Display Windows Forms in the Designer **link** is not working for current version

see the following article for above mentioned issue.
https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/how-to-add-controls-to-windows-forms

[2018-03-10 19:31] Felienne commented on #4571
Thanks @bryanjhogan for sharing our work!

Please do include the example outputs. I understand it will make the code longer, but for novices this is of very high importance. One of the activities that makes learners better at programming is 'tracing' which basically entails executing the code in your brain and predicting the outcome. The example output helps with that a lot!

And yes there is the

[2018-03-10 22:13] guntbert commented on #4571
Being able to check my results against the "correct" results is well worth some effort (IMO).
Thats why I'd prefer comments even to @ChrisMaddock's excellent idea.
One thing comes to my mind: make displaying the expected results quasi optional by
- providing them as a "tooltip", shown on hover or
- having a section of the page fold/unfold (UX hint: down arrow or plus sign)

[2018-03-11 00:27] sputier commented on #2192
I took a bit time of time this evening to add missing language identifiers to code blocks located in docs/csharp/misc (C# compiler errors). Result : 666 files modified. That would be a very, very large PR... How many PR would you get for this ?

[2018-03-11 01:30] BillWagner commented on #2192
@sputier How about do them in blocks of 50. Since the changes are straightforward, they should be quick to review.

[2018-03-11 05:26] lucasnobredev commented on #4439
I opened a [PR](https://github.com/dotnet/docs/pull/4605) with fixes to docs/standard section.

After that, I'll do in alphabetical order (core, csharp, framework, etc.).

I just have one question:
We have in [this page](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions) a "whitespace". I wasn't sure if I should fix it or not. Can you help me?

[2018-03-11 08:00] lucasnobredev commented on #4513
I think the explanation for parameter result is kind of confusing...

**Suggestion**

I also noted some repetitive content. Examples: explanation of parameter result; explanation about the difference between TryParse and Parse. I don't wanna be that annoying guy.. hahaha But I believe we can have a better and objective article.

@mairaw I'd love to submit a PR for this change.

[2018-03-11 12:58] crowcoder commented on #4571
Agree with @guntbert , I'd like to see how the output in a folding section looks.

[2018-03-11 13:31] svick commented on #4604
What exactly do you mean by "not working"?

[2018-03-11 14:59] yasirbhutta commented on #4604
**## Following link is not working for current version of dot net.**
![image](https://user-images.githubusercontent.com/12986974/37254884-455ff50e-2566-11e8-80af-20bc2c54b484.png)
error after opening above mentioned link .......
![image](https://user-images.githubusercontent.com/12986974/37254907-8e006a1e-2566-11e8-8002-2824f5d3a407.png)

[2018-03-11 18:21] pkulikov commented on #3285
@aakarshit that's fine, I'll work on this in March.

As for testing on local machine, I don't use docfx at all as it takes too long to build and final result doesn't look properly. I use Visual Studio Code to edit Markdown files and preview them (.NET docs-specific stuff is not rendered properly, of course, but that's fine). As for the code examples, I've noticed that @BillWagner creates one stati

[2018-03-11 19:28] jfversluis commented on #276
Hi @sputier I'm so sorry, this totally got away from me! But maybe we could have a little chat on tips and best practices if you have some experience?

[2018-03-11 19:31] mika76 commented on #4571
I vote keep the comments. Quicker to see and react. Lots of times I just need a refresher on exact output, and comments would be much quicker to see.

[2018-03-11 19:38] rkeithhill commented on #4571
How about always showing the output pane but prepopulated with the expected output **until** the user presses the `Run` button?  When the Run button is pressed the new output overwrites the comment output.

![image](https://user-images.githubusercontent.com/5177512/37257608-87ad00b2-2531-11e8-93a5-a65bbf6211d0.png)

[2018-03-11 20:08] sputier commented on #276
Hi @jfversluis ! Of course, if I can help you, I will ! For this first contribution, I would only suggest you to keep things simple : explain everything thinking a beginner could read and understand what you wrote :-)

Feel free to ping me (here or on twitter : Same @) if you have any question. If I have the answer you need, I'll be glad to give it to you !

[2018-03-12 08:06] jfversluis commented on #276
First idea for an outline below.

# Null coalescing and operator

## Introduction

### Null coalescing (??)

#### Sample

#### Remarks

### Null operator (?.)

#### Sample

#### Remarkts

## Conclusion

I don't think there is much more to it? Or am I missing anything?

[2018-03-12 09:52] sputier commented on #276
@jfversluis If you don't omit comparing **if** syntax with each of these operators before introducing the samples, it think this outline will be a good start for the article. Feel free to update it if you notice anything that should be highlighted (language version ?).

If you feel a bit insecure about what you wrote, you can create a WIP (work in progress) PR (i.e. labeled "[WIP] ...."), so the c

[2018-03-12 09:53] sputier commented on #276
@jfversluis If you don't omit comparing **if** syntax with each of these operators before introducing the samples, I think this outline will be a good start for the article. Feel free to update it if you notice anything that should be highlighted (language version ?).

If you feel a bit insecure about what you wrote, you can create a WIP (work in progress) PR (i.e. labeled "[WIP] ...."), so the co

[2018-03-12 15:44] ericstj opened #4625 "Add documentation for -publicsign compiler switch"
# Issue Title

The csc switch `-publicsign` is missing documentation.

# General

This switch is used to apply a public key without actually signing it, like `-delaysign` but unlike `-delaysign`, `-publicsign` sets a bit in the assembly file that tells the runtime that the file is actually signed.
This switch was added with https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/

[2018-03-12 17:22] pkulikov commented on #3285
@BillWagner I'll follow the plan discussed earlier in this thread to update the content. Now I would like to agree about changes in doc structure.

I aim to merge these two pages:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/string-interpolation

(By the way, the address of the former page c

[2018-03-12 18:12] mairaw opened #4626 "Dotnet new: documentation on template parameter defaults"
From @seancpeters on https://github.com/MicrosoftDocs/Docs/issues/67

When a parameter does not specify a default value, what occurs is not intuitive to authors or users. When this is the case, the "replaces" value is used as the default unless the parameter is marked as required. In most cases during template invocation, this will quietly do what would be expected, but not always. For example, fo

[2018-03-12 18:46] Mike-EEE commented on #3907
***bump*** and +1 to the notion/ask of optimizing the use of `in` for readonly structs.  Seems like there should be a way to check this and add it automatically.  Yeah I hear that it's complicated to do, but WE'RE DEVELOPERS MAN THIS IS WHAT WE DO!! 😄

Especially when you consider how oft-used `ValueTuple` is (or will be used), it seems like this should be a problem to solve to transparently add b

[2018-03-12 18:46] JRAlexander opened #4627 "[Feature] Revisit and revise .NET Core SDK Commands"
# Revisit and revise .NET Core SDK Commands

Revise .NET Core SDK Commands for .NET Core 2.1.

edit by @mairaw: removed TOC and content type from still needed. Most of the SDK commands already exist under https://docs.microsoft.com/en-us/dotnet/core/tools/.

[2018-03-12 18:51] JRAlexander commented on #4626
@mairaw, Is this for 2.1?

[2018-03-12 18:54] JRAlexander opened #4628 "[Feature] Windows Compatibility Pack Updates"
# Windows Compatibility Pack Updates
Revise current Windows Compatibility Pack topic with updates in .NET Core 2.1.

*Still Needed:*
- [x] Prioritization

[2018-03-12 19:20] mairaw commented on #4628
We already have a topic for this here: https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack

@terrajobst do you foresee any updates to that topic for the 2.1 timeframe? Should we add a few more details about how to use it, like the question from that customer about having to reference it from the consumer project too?

[2018-03-12 19:44] mairaw commented on #2192
This is awesome! I can run our QA tool again after these batches are done and published to identify how many topics still have the issue throughout the repo (some are by design though).

[2018-03-12 19:46] seancpeters commented on #4626
This has been the behavior for quite a while, but the behavior hasn't ever been clearly spelled out. It would definitely be applicable to 2.1, and most older versions. But, the way that the problem was reported in older versions when invoking or displaying may be different in older versions.

[2018-03-12 20:21] mairaw commented on #4625
@ericstj does this apply to VB as well?

[2018-03-12 20:22] mairaw commented on #4604
We should change the link to go to the previous version: https://msdn.microsoft.com/en-us/library/bf3f1e5b-ea07-4529-85c6-6af3ded0cec5(v=vs.100)

[2018-03-12 20:23] sputier commented on #2192
As always, I'll be glad to help adding these identifiers wherever I can :-)

If you get any result from the QA tool which could help me finding the relevant spots in the docs, they are welcome !

[2018-03-12 20:26] mairaw commented on #4591
@cartermp I remember we talked about this specific link recently but I can't remember the details. Can you comment here?

[2018-03-12 20:38] mairaw commented on #4567
Thanks @petroemil for your feedback. @Rick-Anderson @csharpfritz what do you guys think?

[2018-03-12 20:48] mairaw commented on #2951
Let's close it for now since we can't reproduce this issue. @mgwalm feel free to reopen if you have a repro you can share with us. Thanks!

[2018-03-12 20:48] #2951 closed

[2018-03-12 20:54] mairaw opened #4630 "Update VS screenshots for .NET Core/.NET Standard articles"
Visual Studio 15.6 updated the File -> New project dialog, to no longer show a .NET Framework version when you select .NET Core, .NET Standard and other project types:
![image](https://user-images.githubusercontent.com/12971179/37309000-c7228322-25fc-11e8-994d-2a264b872193.png)

So we need to update our tutorials to reflect that change.

[2018-03-12 20:58] Rick-Anderson commented on #4567
@petroemil  sounds like a good idea. After the .NET Core version were written, we could refactor the ASP.NET Core versions.

[2018-03-12 20:58] sputier commented on #2712
Alright, I'm in for this one !

[2018-03-12 20:58] chwarr commented on #4625
Looks like VB support for public signing was added in commit https://github.com/dotnet/roslyn/commit/4aea4e0ed26dafb23152ad50c1620bb73d749635, and overall public sign work was tracked by the now-closed https://github.com/dotnet/roslyn/issues/6915

[2018-03-12 21:09] mairaw commented on #2192
We really appreciate the help @sputier!

[2018-03-12 22:15] mairaw commented on #4577
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/213

[2018-03-12 22:15] #4577 closed

[2018-03-12 22:18] mairaw commented on #4493
Moved the issue to the more general site feedback repo: https://github.com/MicrosoftDocs/feedback/issues/214

[2018-03-12 22:18] #4493 closed

[2018-03-12 22:21] mairaw commented on #4492
Moved this issue to the more general site feedback repo: https://github.com/MicrosoftDocs/feedback/issues/215

[2018-03-12 22:21] #4492 closed

[2018-03-12 22:24] mairaw commented on #4399
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/216

[2018-03-12 22:24] #4399 closed

[2018-03-12 22:27] mairaw commented on #4333
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/217

[2018-03-12 22:27] #4333 closed

[2018-03-12 22:29] mairaw commented on #4304
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/218

[2018-03-12 22:29] #4304 closed

[2018-03-12 22:29] BillWagner commented on #3447
close as a duplicate of #4571

[2018-03-12 22:29] #3447 closed

[2018-03-12 22:33] mairaw commented on #4075
Moved issue to https://github.com/MicrosoftDocs/feedback/issues/219

[2018-03-12 22:33] #4075 closed

[2018-03-12 22:35] BillWagner commented on #3928
Assigning P1 to this because the process for international PRs needs to be fixed.

[2018-03-12 22:39] mairaw commented on #3319
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/220

[2018-03-12 22:39] #3319 closed

[2018-03-12 22:42] mairaw commented on #2791
I'm closing this one given that we have issue https://github.com/dotnet/cli/issues/7291 tracking this work. I'm not aware of any work items for the docs team re. man pages at the moment.

/cc @livarcocc @KathleenDollard

[2018-03-12 22:42] #2791 closed

[2018-03-12 22:43] mairaw commented on #2692
For which repo is this work @JRAlexander? VS? Should we file an issue there instead?

[2018-03-12 22:44] pkulikov commented on #3907
Whoever is interested in `in` modifier and readonly structs might find [this blog post](https://blogs.msdn.microsoft.com/seteplia/2018/03/07/the-in-modifier-and-the-readonly-structs-in-c/) from [Sergey Teplyakov](https://social.msdn.microsoft.com/profile/Sergey+Teplyakov) interesting as well.

Quote conclusions from there:

[2018-03-12 22:50] mairaw commented on #2540
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/221

[2018-03-12 22:50] #2540 closed

[2018-03-12 22:53] mairaw commented on #2541
I just checked and both issues were resolved. Thanks @svick for reporting these issues!

[2018-03-12 22:53] #2541 closed

[2018-03-12 22:54] JRAlexander commented on #2692
Yes, probably so. Visual Studio is where it should be. I can file.

[2018-03-12 23:01] mairaw commented on #2692
Cool. Thanks @JRAlexander!

[2018-03-12 23:05] mairaw commented on #2311
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/222

[2018-03-12 23:05] #2311 closed

[2018-03-12 23:08] mairaw commented on #2136
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/223

[2018-03-12 23:08] #2136 closed

[2018-03-12 23:21] mgwalm commented on #2951
Thanks. It was too complex to get a repo. However in later versions of dotnet the problem has gone away and it is now working as expected.

[2018-03-12 23:21] mairaw commented on #1904
Can you still repro this @svick?

[2018-03-12 23:23] mairaw commented on #2951
Thanks for letting us know @mgwalm. I'm glad it's working now for you.

[2018-03-12 23:24] mairaw commented on #1877
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/225

[2018-03-12 23:24] #1877 closed

[2018-03-12 23:29] mairaw commented on #1175
Moved issue to https://github.com/MicrosoftDocs/feedback/issues/227

[2018-03-12 23:35] mairaw commented on #1439
Issue moved to https://github.com/MicrosoftDocs/feedback/issues/228

[2018-03-12 23:35] #1439 closed

[2018-03-12 23:40] mairaw commented on #1063
I can't find the bug anymore and I also cannot repro this. Maybe it was fixed. Can you still repro @svick?

[2018-03-12 23:43] mairaw commented on #1059
Bug is not fixed yet and I can still repro. Issue moved to https://github.com/MicrosoftDocs/feedback/issues/229.

[2018-03-12 23:44] #1059 closed

[2018-03-13 01:20] jaredpar commented on #3907
Overall I think that's a pretty reasonable set of recommendations.

[2018-03-13 06:34] mairaw commented on #4450
@rpetrusha assigned this to you, removed up-for-grabs label and set it to the current milestone given you're working on a PR already.

[2018-03-13 11:26] svick commented on #1904
@mairaw It's better, but I think it could still be improved. What I see now is:

![](https://user-images.githubusercontent.com/287848/37338668-6b4fb260-26b8-11e8-93f2-d4b79208dcac.png)

Notice how the line breaks are often inside a name, even though it's not necessary.

The HTML currently is (after JS runs, i.e. you can see it in F12 tools, but not in View source):

[code]

When I think it would b

[2018-03-13 11:33] lindexi opened #4633 "The Variable Names in samples is very bad"
https://github.com/dotnet/docs/blob/3835a255541723fb0a2e57b5858ae33ab8dde55d/samples/snippets/csharp/VS_Snippets_Wpf/scrollchangedeventargsLayout/CSharp/Window1.xaml#L30

 I see the Variable Names is so bad in samples.

[2018-03-13 12:07] DualBrain commented on #4450
@AnthonyDGreen said basically what I would have said...

[2018-03-13 12:07] svick commented on #1063
No, I can't repro this anymore, so I'm closing this.

[2018-03-13 12:07] #1063 closed

[2018-03-13 13:28] omajid commented on #2791
Would it be possible to keep this open? I agree that there is no well defined work at the moment and docs team may not be responsible for this, but having severely out of date man pages is an issue and it needs to be (somehow) addressed.

[2018-03-13 15:10] JRAlexander commented on #2692
Refiled in VS repo. https://github.com/MicrosoftDocs/visualstudio-docs/issues/688 Closing this issue.

[2018-03-13 15:10] #2692 closed

[2018-03-13 15:11] BillWagner commented on #3285
@pkulikov I'd like to take a different direction on your plan:

Those should stay separate. Think of the language reference as a complete description of the feature. The tutorial is a guided tour where the emphasis is on understanding the breadth of scenarios for a set of features.

The "How to" section contains short articles to get developers un-stuck. In a sense, they are like tutorials, but sh

[2018-03-13 15:30] kasper3 commented on #2791
@mairaw, @mmitche, can dotnet-bot send followup PRs to dotnet/docs repos after something is merged by contributors?

The packaging team can then pick up the manpage changes. With all the cool features @dotnet-bot is bringing via https://github.com/dotnet/dotnet-ci, this seems like a very simple / low-cost thing with huge advantage for Unix consumers.

Using PowerShell:

[code]

[2018-03-13 17:32] rpetrusha commented on #4450
We've opened PR #4632 to change documentation for Visual Basic compiler switches to use `-` rather than `/`, for those who would like to review it.

[2018-03-13 17:56] #3388 closed

[2018-03-13 19:56] BillWagner commented on #3329
This was fixed in #4519

[2018-03-13 19:56] #3329 closed

[2018-03-13 20:54] schwack commented on #666
So, a year and a half later, how relevant is the notice in the book?  "Some inaccuracies have been discovered in this article. It is being rewritten. See Issue #666 to learn about the changes."

Is ' inaccuracies' appropriate?  The last thing I think anyone wants is to learn ' inaccurate' information, but it sounds like that is not actually the case.  Obviously rewriting the article is not a prior

[2018-03-13 21:33] rpetrusha opened #4637 "PathTooLongException information is inaccurate"
# PathTooLongException information is inaccurate

.NET Framework apps running on Windows 10 or later support long paths. Although this is documented for the [PathTooLongException](https://review.docs.microsoft.com/dotnet/api/system.io.pathtoolongexception) documentation, is it not noted in the documentation for the individual methods that throw the exception. For many or most of these, the documen

[2018-03-13 21:49] pkulikov commented on #3285
@BillWagner that's true, description of a feature and examples of using a feature should be separate articles. One is more theoretical, while another one provides replies to numerous "how to..." googles.

Description of a feature. I'll merge the [keyword topic](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings) into the [token page](https://docs.micros

[2018-03-13 22:03] JRAlexander opened #4638 "[High traffic Low CSAT] Where is Command prompt in Visual Studio?"
Topic: https://docs.microsoft.com/en-us/dotnet/framework/tools/developer-command-prompt-for-vs  has good SEO but very poor rating.

http://stackoverflow.com/questions/21476588/where-is-developer-command-prompt-for-vs2013 2600 PV
http://forums.asp.net/t/1964531.aspx?where+is+developer+command+prompt+for+vs+2013+
http://blog.meidianto.com/2010/06/24/where-the-heck-is-visual-studio-command-prompt/

e

[2018-03-13 22:44] BillWagner commented on #4536
@ManGupt I just noticed your previous comment. Most of our team was involved with the MVP summit last week, and missed some GitHub notifications.

What can we do to help you get started?

[2018-03-13 23:41] mairaw commented on #4023
Hey @BillWagner, thanks for the offer. I'm not particularly attached to this issue, so feel free to take over if you'd like.

[2018-03-14 13:52] BillWagner commented on #3285
@pkulikov That's perfect. Yes, "string interpolation" is the right link text.

The "tutorial" "how to" and "quick start" are fuzzy distinctions. I think of them like this:
Quick Start is for a beginner audience. It's all 100 level content.
How To is very focused. If you're stuck and want an answer to one thing, you want to land at a "how to" article.
Tutorials are longer and more focused on learni

[2018-03-14 18:20] rpetrusha opened #4649 "Identify archived interop topics to migrate back to docs.microsoft.com"
# Identify archived interop topics to migrate back to docs.microsoft.com

Several years ago, as part of an attempt to reduce the number of topics before migrating to a new authoring and publishing platform, interop topics were removed from the documentation set purely on the basis of page views over a limited time frame. These topics are currently [archived on MSDN](https://msdn.microsoft.com/libr

[2018-03-14 18:29] #4023 closed

[2018-03-14 19:17] rpetrusha commented on #4392
The [MSDN link](https://msdn.microsoft.com/library/system.string.padright(v=vs.110).aspx?f=255&MSPPError=-2147217396) is to the overload list page, which is intended to contain minimal information. Since the overload list page does not exist on docs.microsoft.com, the documentation for both overloads of [String.PadLeft](https://docs.microsoft.com/dotnet/api/system.string.padleft?view=netframework-

[2018-03-14 19:23] ocdtrekkie commented on #4392
Ah! I do see the answer if I click on one of the overloads in the MSDN link, and on the respective String.PadLeft/Right pages on Docs. I guess I didn't dig deep enough! Your modification to the Padding Strings in .NET page should definitely help though, thank you.

[2018-03-14 21:03] BillWagner commented on #4561
Thanks for the very thoughtful discussion.  I thought a lot about how to explain this and have a proposal.

**- We explain that structs follow value semantics as their main feature.
- We mention that structs may be known to have lifetimes are known to end when they go out of scope so storage can be reclaimed more effectively. This feature is mentioned when appropriate to the topic.
- We mention th

[2018-03-14 21:10] jskeet commented on #4561
Just two comments after skimming:

- I didn't think `ref struct` types actually followed reference semantics. They're still copied by value, it's more restrictions around where they can escape that are important, isn't it?
- I think blurring the line between "reference type" and "by-reference argument passing" by talking about "reference semantics" may cause some conceptual problems for people. In

[2018-03-14 21:39] VSadov commented on #4561
I agree with Jon here. `ref struct` is mostly about constraints on their use. They also may optionally contain other ref structs as instance fields.
Some ref structs (like `Span<T>`) may internally contain direct references to other data, but that is a bit of implementation detail. Ordinary struct that contains an `{array, index}` tuple and a `ref` indexer could come very close in functionality to

[2018-03-14 21:59] ghogen opened #4654 "Socket.EndSend reference doc inaccuracy"
This issue was reported by a .NET user a while ago via a different channel:

Hi alll, no authoritative response has been given on this in several discussions in the past, so I decided to report this as a documentation bug, because there is an obvious conflict in the documentation of the Socket.BeginSend and Socket.EndSend methods even in the latest .NET framework version. MSDN says in Socket.Begin

[2018-03-14 22:05] #4514 closed

[2018-03-14 23:46] mairaw commented on #4654
Thaks @ghogen. @davidsh can you take a look at this? It's feedback regarding https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.beginsend and https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.endsend. Thanks!

[2018-03-14 23:48] davidsh commented on #4654
cc: @stephentoub @rmkerr @karelz

[2018-03-15 00:17] ghogen opened #4656 "Possibly incorrect or confusing reference in System.ServiceModel.InstanceContextMode doc"
Regarding

https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.instancecontextmode?view=netframework-4.7.1

On http://msdn.microsoft.com/en-us/library/system.servicemodel.instancecontextmode%28v=vs.110%29.aspx, the sentence "If the channel does not create a session this value behaves as if it were PerCall." does not make sense in the "PerCall" row.

(This is originally a customer issue

[2018-03-15 00:18] mairaw opened #4657 "Update Target frameworks topic"
Topic: https://docs.microsoft.com/en-us/dotnet/standard/frameworks

There are a couple of different issues with this topic:
1 - it's missing a couple of TFMs such as new uap values or Xamarin
2 - It has misleading information about which TFMs are actually supported by .NET Core SDK vs. NuGet
3 - The .NET Core SDK doesn't support building projects with TFMs such as 'uap10.0'. The only way to achiev

[2018-03-15 00:22] ghogen opened #4659 "Possible error in System.Diagnostics.ProcessWindowStyle docs"
In these topics:
MSDN: https://msdn.microsoft.com/en-us/library/system.diagnostics.processwindowstyle(v=vs.110).aspx
docs: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processwindowstyle?view=netframework-4.7.1

It says "To use ProcessWindowStyle.Hidden, the ProcessStartInfo.UseShellExecute property must be false." This is wrong. It should say that it must be true.

more info [he

[2018-03-15 00:48] mairaw commented on #4659
Thanks @ghogen. A long time ago, I checked with @weshaggard regarding that bug and then forgot to work on it apparently. 😢

This is what he had to say:

From a quick look at the [code](https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/Process.cs,2223), it does appear that we only ever use the Hidden enum value when ShellExecute is set to true. I would say you sh

[2018-03-15 04:14] ManGupt commented on #4536
How do I download the code "samples/snippets/csharp/VS_Snippets_Wpf/TreeViewSelectedValue/CS" to check the changes that I have made?

[2018-03-15 04:21] ManGupt commented on #4536
How can I add reviewers to my pull request #4662 ?

[2018-03-15 04:25] Petermarcu opened #4663 "Missing How-To: Installing .NET Core runtime on Raspbian (Raspberry Pi 3)"
@SuperJMN commented on [Wed Mar 14 2018](https://github.com/dotnet/core/issues/1348)

# Issue Title

Cannot find install instructions to install .NET Core runtime on Raspbian (Raspberry Pi 3)

# General

I haven't found in the whole site information about how to install the .NET Core (2.0) runtime in Raspbian. I have successfully followed the instructions off-site, concretely, in this post: https:

[2018-03-15 04:44] mairaw commented on #4663
Thanks @Petermarcu. Is this an officially supported scenario now? I remember that in the past was more of an experimental thing, no?

@JRAlexander can you take a look at this issue? It seems to align with the other prerequisites topics that you now own.

[2018-03-15 04:46] Petermarcu commented on #4663
We're officially supporting ARM32 in .NET Core 2.1. Having instructions for the Raspberry Pi would be great for getting started with it. People will then likely use it in other places. We may also want to add instructions for using Docker on the Pi as well. @richlander

[2018-03-15 10:13] dsidirop commented on #3708
Can confirm that this bug affects Web.config files of ASP.NET MVC5 projects target .net4.7.1

[2018-03-15 10:56] svick commented on #4536
@ManGupt

You have to download the whole repository and then find the directory there. To download the repository, you have two choices:

1. Use git. This is the common approach that lets you keep an up-to-date local copy of the repository and also perform other operations.

    To do this, go to the main page of the repository, click *Clone or download* and either select *Open in …* if you want t

[2018-03-15 13:34] nietras commented on #3964
Isn't "blittable" constraint called `unmanaged`, it would be good to lose "blittable" wording as it is not exact and confusing.

[2018-03-15 13:45] BillWagner commented on #3964
@nietras I create placeholder tasks based on proposals. I do update the titles and notes after the syntax is finalized and before I start writing the documentation. I'll update many of the 7.3 tasks early next week, when I go through all the updated proposals, many of which now have initial implementations.

[2018-03-15 14:59] #4536 closed

[2018-03-15 15:15] #4469 closed

[2018-03-15 16:01] #4392 closed

[2018-03-15 17:27] dasMulli commented on #2642
ad SKSs: I guess this is about web vs non-web `Sdk=` project elements.

People editing the csproj by hand seem to get bitten by the different globs in these two since they have different globs for things like json files..

is there a structure proposal yet? single page or a "customize your build" node?

Topics that have come up across repos and stack overflow a lot and would potentially be useful

[2018-03-15 18:08] dasMulli commented on #2642
From feedbacks via other channels: Incremental builds are only sparsely documented. I strongly agree since I recently needed to look at msbuild source code for an edge case that wasn't documented (this SO question).
But I guess this is more VS docs than .NET docs or does anyone want to see a "good example" of an incrementally buildable target? (I can't think of a good example use case off the top

[2018-03-15 18:16] dasMulli commented on #2642
Missed `DefaultItemExcludes` (and `DefaultItemExcludesInProjectFolder`) which would be a good fit for https://github.com/dotnet/docs/blob/master/docs/core/tools/csproj.md which already has `EnableDefaultItems` and `EnableDefaultCompileItems`. Thanks to @DanielTheCoder for reminding me!
There are some more details on the various switches for default globs. There is also a VS issue for compile items

[2018-03-15 19:14] Zastai commented on #2642
`$SourceLink` and `@EmbeddedSource`, to control pdb contents perhaps also deserve a mention?

And this is definitely VS rather than msbuild, but it would be good to get a clear idea of what is and is not done when VS determines a project is up to date. It seems to (re)copy the binaries from obj to bin, apparently without going through msbuild at all - but that erases any changes made by an assembl

[2018-03-15 19:41] pkulikov opened #4674 "Page display does not match its source"
The page about [`in` keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/in) shows content that differs from the corresponding Markdown file.

What I see:
![image](https://user-images.githubusercontent.com/15279990/37486947-5828410a-2890-11e8-941e-2f85367e9bc5.png)

What I see after clicking **Edit** link on that page:
![image](https://user-images.githubusercontent.

[2018-03-15 19:43] BillWagner commented on #4674
Thanks for pointing this out. I'll look at the most recent builds and see what happened.

We publish from the 'live' branch, but we work on the 'master' branch. I'll figure out why those changes didn't make it to the most recent publish.

[2018-03-15 19:44] dasMulli commented on #2642
@johnkors mentioned `IsTransformWebConfigDisabled`.
Maybe some more interesting things turn up in the web publish targets.

ad web targets: Been asked about automatic type script compilation a few times which can also be disabled in csproj so VS doesn't do it automatically.

[2018-03-15 19:51] Rick-Anderson opened #4675 "Transport Layer Security (TLS) best practices with the .NET Framework"
Use this issue to ask questions about the [Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls)  document.

[2018-03-15 19:57] BillWagner commented on #4674
It was a publish / build that failed due to a resource allocation problem. I've started a new build. I will validate this once the build finishes and we get a new build published.

[2018-03-15 20:30] BillWagner commented on #4674
@pkulikov If you are looking to modify this page, you may want to wait. I'm in the process of updating it for the 7.2 tie breaker change for `in` and by value parameters. I'll open the PR later today, and I'd appreciate your feedback.

[2018-03-15 20:54] pkulikov commented on #4674
@BillWagner the feedback to this page: `in` is not a contextual keyword, but a reserved modifier, so I wanted to remove *contextual* word from the first line. The same is true for [out keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/out)

[2018-03-15 21:00] BillWagner commented on #4674
@pkulikov Thanks for the heads up. I just checked the spec, and both are listed as "keywords", so I'll use that notation in both topics.

[2018-03-15 22:06] dasMulli commented on #2642
As a user on SO just re-iterated a few hours ago, it isn't properly documented in one place how to work the Item syntax - Build Actions, Include/Update/Remove, Exclude.

https://stackoverflow.com/questions/49302063/reference-for-msbuild-itemgroup-content

Also, Update isn't supported in targets. It works but will update all(!) items, a `Condition` is needed to filter. `Update="…"` in targets is co

[2018-03-16 02:25] mairaw commented on #4628
@terrajobst should we also change the topic https://docs.microsoft.com/en-us/dotnet/standard/choosing-core-framework-server to mention the Windows Compability pack?

[2018-03-16 02:43] terrajobst commented on #4628
No major feature additions over what's already in it; the primary change is that the package will be marked as stable.

Yes, we probably should. How do you want me to handle this? Can I just give you bullet points and you wave your magic wand and turn it readable text? :-)

Good call!

[2018-03-16 04:22] Petermarcu opened #4684 "Need more about usage of documentation of runtimeconfig.json"
@vulcanlee commented on [Fri Dec 22 2017](https://github.com/dotnet/core/issues/1180)

Where can I find the detail usage and configuration content of runtimeconfig.json?

What about more detail of runtimeOptions, configProperties, applyPatches?

[2018-03-16 06:29] mairaw commented on #4684
Duplicate of #2645

[2018-03-16 06:29] #4684 closed

[2018-03-16 12:49] svick opened #4686 "Document nested object initializers"
[The *C# Programming Guide* article *Object and Collection Initializers*](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/object-and-collection-initializers) does not mention nested object initializers (e.g. ` new Person { Cat = { Name = "Fluffy" } }`) or nested collection initializers (e.g. `new Person { Cats = { new Cat() } }`. This syntax can be confusing, t

[2018-03-16 12:56] wstaelens opened #4687 "wpf browser app"
https://docs.microsoft.com/en-us/dotnet/framework/wpf/app-development/wpf-xaml-browser-applications-overview#comments-container

this information still talks about vs2010.
current version is vs2017. could use some updates...

[2018-03-16 15:49] BillWagner commented on #4674
Closing as the build finished correctly and the pages now match.

PR #4677 address the other concern @pkulikov brought up.

[2018-03-16 15:49] #4674 closed

[2018-03-16 16:52] guardrex opened #4688 "Clarification on Windows prereqs"
I was just addressing our (slightly variable) prereq story in the aspnet/Docs, and I noticed that the Windows topic in dotnet/docs is calling for the 2.0 SDK after the VS install. Looks like the topic needs an update for VS's latest install behavior. Note that the workload claims that it will install the **.NET Core 1.0 - 1.1 development tools**. I wish it said "SDK." My machine has had all of thi

[2018-03-16 18:11] mairaw commented on #4688
@JRAlexander can you take a look at this one?

@KathleenDollard FYI on a feedback about the VS installer

[2018-03-16 18:49] guardrex commented on #2642
Here's another one that just popped up on the radar. It isn't available yet, but it will be ... https://github.com/aspnet/Docs/issues/5599#issuecomment-373808943

[2018-03-16 20:14] JRAlexander commented on #4688
Yeah, but it will need to be next sprint. :)

[2018-03-16 20:28] guardrex commented on #4688
Sorry for all the noise :ear: over here. I'm trying to clean up our prereqs story in aspnet/Docs. I've created a set of three INCLUDES (Windows, macOS, VSC) to standardize what we show in many topics. They can't be used in all topics because some of the topics have particular combos of installers to run. The includes will show ...

### Windows

\[Visual Studio for Windows](https://www.microsoft.co

[2018-03-16 20:30] mairaw commented on #4688
Didn't say it had to be done today 😄

[2018-03-16 21:33] JRAlexander commented on #4688
Let's not remove the version references.

[2018-03-16 21:54] guardrex commented on #4688
I don't think it's critical, since they're going to be given one option on the downloads page, the latest stable. The purpose of removing it is to simplify the versioning by not describing it where it has no real bearing.

However, I'm cool with \[.NET Core SDK 2.0 or later](https://www.microsoft.com/net/download) ... they're still only going to get one option the the download page. They'll have t

[2018-03-16 22:36] JRAlexander commented on #1143
This isn't a project.

[2018-03-16 23:15] cartermp commented on #1143
A bit, yes. I plan on rewriting this in about two weeks when I'm traveling.

[2018-03-18 20:08] dasMulli commented on #2642
Since I'm already very deep into this, I'd volunteer to work on this

[2018-03-18 20:26] rlordcardano commented on #2808
@shrah @BillWagner @mairaw Apologies for late reply, I didn't spot this one in the many messages I get from GitHub. I just tried the suggested solution, it works perfectly now!

[2018-03-18 20:27] BillWagner commented on #2642
Thanks @dasMulli Let us know if we can help

[2018-03-18 20:31] guardrex commented on #2642
@dasMulli Suggestion: Float your outline here when you have it. I'd like to see how you plan to structure the sections/content.

[2018-03-19 17:32] SwooshyCueb opened #4696 "Default value not documented for XmlWriterSettings.DoNotEscapeUriAttributes"
Apologies if this has already been fixed in the repo or in a pull request somewhere.

The default value for `XmlWriterSettings.DoNotEscapeUriAttributes` is not present in the documentation:
https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlwritersettings.donotescapeuriattributes?view=netframework-4.7.1

Additionally, it looks like there may be a typo or grammatical error in the property va

[2018-03-19 18:44] mairaw commented on #4696
Thanks for the feedback @SwooshyCueb. This has not been taken care yet.

Would you like to try to submit a PR for this? You're right that the sentence should say does instead of do.

[2018-03-19 19:28] BillWagner opened #4698 "Search optimizations need to be improved for C# and VB compiler messages"
The docs pages for compiler errors and warnings are lower than they should be. Often, users include the message with the error code, which lowers the docs search in favor of other discussion sites.

We propose adding the message text to the title and the H1 for each message.

For example, the error message for [CS1513](https://docs.microsoft.com/dotnet/csharp/misc/cs1513) should include "} expecte

[2018-03-19 19:37] mairaw commented on #4698
I think we can choose to add that to either title or H1. I don't think we need in both places.

title metadata might be better since that's what users see in search results. I'd also add C# to the title, such as "C# compiler error CS1513 - } expected".

[2018-03-19 20:09] mairaw commented on #4567
@richlander any thoughts on this request?

[2018-03-19 20:13] mairaw commented on #4591
Marking as external since this is about moving the sample code to a new place. @cartermp can you take a look at this request?

[2018-03-19 20:17] BillWagner commented on #4633
Thanks for pointing this out @lindexi

We know we have a lot of these from legacy samples.

We've tagged this as an up-for-grabs issue, and whenever anyone in the community sees a sample that can be improved, they can file a PR to help us get to that point.

[2018-03-19 20:24] mairaw commented on #4656
@zhenlan can you help with this bug? Should this say PerSession instead?

[2018-03-19 20:28] mairaw commented on #4502
No @SamuelEnglard. The only option right now that is external to the help viewer are the PDF files on docs.microsoft.com .

[2018-03-19 20:31] cartermp commented on #4591
@dsyme how do you feel about taking some of those samples and moving them to the TPSDK repo? Long-term we want to rewrite these anyways (they show older Type Providers that customers shouldn't be using anymore), but some of them could make it over.

Realistically, I don't think I'd get to this until after I clean up more of our getting started material.

[2018-03-19 20:32] BillWagner commented on #4686
Thanks for pointing this out @svick

It's in the backlog, so I can find it easily when there are other updates in that area.

[2018-03-19 20:33] zhenlan commented on #4656
Indeed a bit confusing. @mconnew can you please confirm?

[2018-03-19 20:36] mairaw commented on #4687
Thanks for your feedback @wstaelens. We probably have a lot of topics that haven't been reviewed for the latest versions of VS. I'll open a generic issue to cover that as well.

In regards to this particular topic, @SamBent are XBAPs still a supported scenario in newer versions of VS?

[2018-03-19 20:50] abelbraaksma commented on #2973
@BillWagner, I actually forgot about this. Thanks for the pointer. Yes, I can work on this, in a few weeks I've finished a big project and I should have more time on my hands. Of course, if meanwhile someone else wants to start on it, by all means, don't let me stop you ;).

[2018-03-19 20:53] mconnew commented on #4656
This is what it should read:

Member name | Description
--- | ---
PerCall | A new InstanceContext object is created prior to and recycled subsequent to each call.
PerSession | A new InstanceContext object is created for each session. If the channel does not create a session this value behaves as if it were PerCall.
Single | Only one InstanceContext object is used for all incoming calls and is not

[2018-03-19 21:04] SamBent commented on #4687
XBAPs are supported in newer versions of .Net.

I’m pretty sure they’re supported in VS too, but you should check with the VS team to be sure.   @DoRon Motter<mailto:doronm@microsoft.com> ?

From: Maira Wenzel <notifications@github.com>
Sent: Monday, March 19, 2018 1:36 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Sam Bent <Sam.Bent@microsoft.com>; Mention <mention@noreply.github.com>
Subject:

[2018-03-19 21:32] dsyme commented on #4591
Hes, that sample should be moved to the TPSDK repo.  Keep this bug open so we can track updating the docs when it is done.  I can move it over.

[2018-03-20 00:06] SwooshyCueb commented on #4696
Sure thing, I'll submit one tomorrow once I've had a chance to poke at it and see what the default value is.

[2018-03-20 00:13] mairaw commented on #4696
Cool! These links might help:
https://referencesource.microsoft.com/#System.Xml/System/Xml/Core/XmlWriterSettings.cs,695
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Core/XmlWriterSettings.cs#L748

[2018-03-20 00:22] mairaw commented on #2902
I'm working on this right now. One behavior I've observed is that if I specify a patch version that is greater than the latest installed version, latest is used.

e.g. if I specify 2.1.4 and the latest version I have is 2.1.300-preview1-008174, latest is used (something like roll backward along patch). By design?

/cc @KathleenDollard

[2018-03-20 00:37] dsplaisted commented on #2902
@mairaw That sounds like this issue: https://github.com/dotnet/core-setup/issues/3805

[2018-03-20 00:45] mairaw commented on #2902
That's correct @dsplaisted!

[2018-03-20 00:59] mairaw commented on #2902
I've read the info @nguerrera about the VS/MSBuild case and it's not super clear to me what happens when with the multiple possible combinations (VS versions earlier than 15.3 and later, SDK 1.1, SDK 2.0, etc.)

Can someone please summarize that please?

[2018-03-20 01:13] maryamariyan opened #4705 "Documentation issue on SmtpClass page"
# SmtpClass

In  https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient?view=netcore-2.0 it says

the description below is wrong and doesn't apply to Core.
[code]

In order to specify default host, port, and credentials values, we need to set the relevant properties on SmtpClient directly.

More info [here](https://github.com/dotnet/corefx/issues/25127)

cc: @mairaw

[2018-03-20 01:46] mairaw commented on #4591
Sounds good. Thanks @dsyme.

[2018-03-20 08:19] gulbanana commented on #2642
i could probably review this kind of stuff if you need a reviewer on it

[2018-03-20 16:23] #4696 closed

[2018-03-20 17:29] jcouv commented on #4176
From my experimentation, it looks like VS supports `langword` (it is offered as completion, it has its own completion list and it is displayed nicely in QuickInfo).
For `href`, there doesn't seem to be any support at the moment (C#/VB compilers or VS). If other tools support it, then we should file a request in Roslyn repo to support in IDE).

[2018-03-20 18:43] KathleenDollard commented on #4176
Do we know anything about how much usage Doxygen and Sandcastle each get?

I am a bit hesitant to include a feature that will be ignored by some tools.

[2018-03-20 18:49] BillWagner commented on #4176
No, and I'm not sure how we could get reliable info on their usage.

[2018-03-20 18:55] #4656 closed

[2018-03-20 21:05] jeffschwMSFT opened #4718 "Broken link on type-equivalence-and-embedded-interop-types"
The "Using COM Types in Managed Code" link is broken on this msdn page:

https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types

See Also
IsEquivalentTo
Using COM Types in Managed Code <-- https://msdn.microsoft.com/library/1a95a8ca-c8b8-4464-90b0-5ee1a1135b66
Importing a Type Library as an Assembly

[2018-03-20 22:40] ChrisMaddock commented on #4504
This sounded like a fun little scripting task. 😄

I started with the low-hanging fruit, and wrote a tool that changes the URL to https if and only if https is supported, _and_ there's no redirection involved. I restricted it to just the `docs/standard` subdir, and still ended up with 245 changes across 162 files.

I did a check through those initial 245, and they looked good - but manually reviewi

[2018-03-20 22:43] BillWagner commented on #4504
@ChrisMaddock Thanks for working on this.  I like the process you've taken.

We do the same internally: reviewing script code, and then comparing output. If you can put the code in a gist, or somewhere else where it is publicly available, we'll review it, spot check the output, and then merge it.

Thanks again for the continued involvement.

[2018-03-20 22:47] ChrisMaddock commented on #4504
Great, thanks @BillWagner 😄

Wasn't expecting such a quick response - I'd like to tidy it up a little first, and am out of time for tonight. I'll come back to this in the next couple of days and put it in a PR. Thanks!

[2018-03-20 22:48] BillWagner commented on #4504
You happened to catch me online. 😸

[2018-03-20 22:52] mairaw commented on #4504
No rush @ChrisMaddock! Excellent way to approach this. My approach had some issues on the F# PR. 😢

It would be interesting to look at the ones that redirect on a later pass too.

[2018-03-20 23:02] #4450 closed

[2018-03-20 23:10] mairaw commented on #666
@cartermp can you comment on this? The sample code also seems not to work on this topic.

[2018-03-21 00:37] svick opened #4721 "Should API reference keep including permission information?"
Many API reference pages include section on "security", which explains which `SecurityAction` is required to use them. As far as I know, using `System.Security.Permissions` is discouraged on .Net Framework and they are not used on .Net Core at all.

Is there a reason why this information should still be included or can it be removed wholesale?

[2018-03-21 04:24] Rick-Anderson commented on #4688
That's what I thought  too, but `@rowanmiller` did extensive testing and found it it only confuses newbies. See https://www.microsoft.com/net/learn/apps/web/get-started/windows

At least for the most introductory tutorials, an install link w/o version is simpler. For the other tutorials, it might be best to have a version number.

[2018-03-21 13:35] ChrisMaddock commented on #4504
Absolutely! I wanted to keep this review-simple to start with however, given there's so many of them. 😄

I think the next pass I'd want to do would be to update all the fwlinks/msdn links that redirect to a `docs.microsoft.com` page - as I think that's a fairly large amount, and they would be nice to get sorted.

[2018-03-21 14:10] BillWagner commented on #4571
First of all, thank you to everyone that responded. The votes, ideas, and comments have given us a lot to think about.

One clear message is that this question isn's so simple as always display comments, or never display comments.
The right choice depends on several factors:

1. The intended audience
1. The goal of the article
1. The nature of the output

There are likely other factors we haven't

[2018-03-21 16:15] JRAlexander commented on #4688
We need to consider more than getting started scenarios. If someone is on an older version, they see a prereq for .NET Core w/o version number, but the tutorial requires, for example, 2.1 or higher, the experience will be negative. How do you solve that without version number?

@Rick-Anderson - Can you send me the thread from Rowan about the testing? I'd really like to read that and learn more.

[2018-03-21 17:58] rpetrusha opened #4727 "Note that compiler switches support `-` and `/`"
# Note that compiler switches support `-` and `/`

The documentation for the C# and Visual Basic compilers uses a hyphen (`-`) to specify a compiler option, but both hyphen and slash (`/`) are supported. The top-level compiler topics for [C#](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/) and [Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/

[2018-03-21 18:04] rpetrusha commented on #4439
Sorry, @lucasnobredev, that I didn't respond earlier to your question.  The "whitespace" and its variations on the page are intended to indicate how to use "white space" as an identifier (a variable name, a type name, a parameter name) and so are necessarily one word. So those occurrences of "whitespace" are correct in their context.

[2018-03-21 18:35] lucasnobredev commented on #4439
Very well. In next few days I'll open a new PR to continue our task.

[2018-03-21 18:56] rpetrusha opened #4728 "[Revision] Consolidate LINQ to XML documentation"
# Consolidate and revise LINQ to XML documentation

There are separate LINQ to XML documentation sets for [C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/linq-to-xml) and [Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/linq/linq-to-xml). Most of these topics are language-independent. That is, the topic themselves ar

[2018-03-21 19:01] #4705 closed

[2018-03-21 19:44] rpetrusha commented on #4439
That sounds good. We appreciate your doing this work, @lucasnobredev.

[2018-03-21 20:09] rpetrusha opened #4729 "Create topic on compiler overload resolution"
# Create topic on compiler overload resolution

Our documentation set does not discuss compiler overload resolution -- how a compiler goes about matching the arguments supplied in a method call to the parameters in a method signature. Typically, this operation is transparent to the developer, so that compiler overload resolution is a kind of "black box" with which developers needn't concern themse

[2018-03-21 20:29] rpetrusha commented on #4571
There's also one other issue that's emerged recently as a result of your PR on string comparison, @BillWagner. For culture-sensitive comparison, .NET relies on information supplied by the operating system, which can be very different across particularly .NET Core versions. In that case, it would seem, output either shouldn't be included, or should be included only with the caveat that it reflects

[2018-03-21 22:36] JRAlexander opened #4731 "Update Docker Articles"
# Update Docker Articles

Update Docker articles

4. Suggest reviewers

    - If you know someone who can provide feedback, use '@' to ask them to review.

[2018-03-21 22:58] alfredmyers opened #4732 "What's New in Windows Communication Foundation *after* 4.5"
From what can be seen from the [Reference Source](https://github.com/Microsoft/referencesource), WCF has been receiving updates.
Anything worth mentioning on [What's New in Windows Communication Foundation --4.5--](https://docs.microsoft.com/en-us/dotnet/framework/wcf/whats-new)?

[2018-03-22 00:16] mairaw commented on #4732
Thaks @alfredmyers. Adding @zhenlan. I'm wondering if we remove that topic and actually just redirect it to our general what's new topic that covers all technologies and improvements (https://docs.microsoft.com/en-us/dotnet/framework/whats-new)?

[2018-03-22 00:39] alfredmyers commented on #4732
@mairaw :

What would be really nice would be to use includes so the text for what's new in each version could be written only once and included in the [general](https://docs.microsoft.com/en-us/dotnet/framework/whats-new) and [WCF](https://docs.microsoft.com/en-us/dotnet/framework/wcf/whats-new)'s "What's New?" at the same time.

[2018-03-22 02:06] zhenlan commented on #4732
For many BCL level .NET components, it does not make sense for each of them to have a separate page of "what's new", so the all-inclusive .NET "what's new" page is necessary. WCF as a framework by itself, I see it can be useful for people who are interested in WCF technology, so I agree with @alfredmyers to keep the separate "what's new" page. This does bring in a maintenance problem. Not sure if

[2018-03-22 02:07] alfredmyers commented on #4732
@zhenlan What about markdown includes?

[2018-03-22 02:20] zhenlan commented on #4732
It will be cool if we can include a section of a markdown in another markdown. Not sure if this works. @mairaw may know.

[2018-03-22 04:33] mairaw commented on #4732
Yes @zhenlan, it is supported. We can move the WCF text from the general what’s new into includes if that’s what you want. We do tag topics that we need to review for each release with a special value (updateeachrelease), so remembering to update shouldn’t be an issue. But if you’d like more content than what we do for the what’s new, we'd need help from your team. Makes sense?

[2018-03-22 04:39] mairaw commented on #2642
Awesome! Contributions and reviews are super appreciated. @dasMulli let us know if you have any questions and feel free to ping me offline. We can start a WIP PR to get the basic outline defined and go from there.

[2018-03-22 13:32] alfredmyers opened #4740 "Wrongly duplicated text on What's new (WCF section)"
On https://github.com/dotnet/docs/edit/master/docs/framework/whats-new/index.md, lines 561-563...

... seem to have been duplicated from the previous item (lines 535-537) and doesn't correspond to the item being described starting at line 539:

Ordinarily, when the <xref:System.Xml.Serialization.XmlSerializer> class is used to serialize a UTC <xref:System.DateTime> value, it creates a serialized t

[2018-03-22 17:33] #4718 closed

[2018-03-22 17:35] mairaw opened #4744 "Review options for dotnet new on 1.x SDK"
Topic: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new

On PR #4703, @mlorbetske mentioned that some of the options were available before .NET Core SDK 2.0.

We need to review the options for earlier versions of the SDK to see if they match versions 1.0 and 1.1.

[2018-03-22 18:52] JRAlexander commented on #2702
I agree. I think we could create a new doc that specifically addresses that scenario, but looks very similar to the current one.

[2018-03-22 19:00] mairaw commented on #2728
@richlander @terrajobst do you still see this as a valid scenario?

[2018-03-22 19:07] mairaw commented on #2718
Perhaps we should move the topic https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio to here.

[2018-03-22 20:36] mairaw commented on #4740
@rpetrusha can you look at this one?

[2018-03-22 20:50] #3829 closed

[2018-03-22 22:53] mairaw commented on #3825
@TylerBrinkley can you open a new issue for us to investigate this? Or if you prefer to just go ahead and open a PR, we welcome contributions. Thanks!

[2018-03-23 03:25] zhenlan commented on #4732
Sounds great! Yes, we will help if we want more content.

What would be the next step to bring current WCF what'new doc update-to-date?

[2018-03-23 10:21] gldraphael opened #4754 "Use Path.Combine instead of doing it manually"
This [documentation page](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-write-text-to-a-file) manually concatenates paths in the code examples. It should probably use `Path.Combine()` instead.

[2018-03-23 12:26] #4142 closed

[2018-03-23 15:57] tarekgh opened #4756 "Update Task.IsCancelled documentation to add other cases cause the Task is cancelled."
# Issue Title

We want to add to the Task.IsCancelled documentation the other cases when the Task can be marked as canceled.

The comments

https://github.com/dotnet/corefx/issues/26691#issuecomment-364512993
https://github.com/dotnet/corefx/issues/26691#issuecomment-375533450

have the needed information

## Issues with Existing Topics

https://github.com/dotnet/corefx/issues/26691

[2018-03-23 16:13] BillWagner opened #4757 "C# Language reference: 'in' disambiguation topic is in LINQ section"
The `in` keyword is used in a number of places:
- from-in clauses in LINQ
- foreach-in statements
- in generic modifier
- in method parameters.

The 'in' topic disambiguates between those and provides links. But, that topic is listed in the LINQ section, which is wrong. To fix this, the following should happen:

- [ ] The `in` disambiguating topic should be removed from the TOC. It should only be

[2018-03-23 17:06] #3907 closed

[2018-03-23 17:06] #3949 closed

[2018-03-23 21:36] dangi12012 commented on #3964
Blittable/unmanaged needs to happen! Maybe even contraints for operators and casts? Since operators cannot be added in an interface I cannot add 2 generic Variables together. Would be cool for a generic math library where we dont want a class for every single valuetype.

where T : blittable,
where T : ValueType (int, byte, long, etc. but no generic struct so we know it is a framework type)
where T

[2018-03-26 00:39] BillWagner commented on #3964
The proposal has been updated and is posted [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/blittable.md)

[2018-03-26 00:40] BillWagner commented on #3961
Updated proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/ref-local-reassignment.md)

[2018-03-26 00:44] BillWagner opened #4772 "Extend array initializers to stackalloc arrays"
This feature enables array initializer syntax to be used with stackalloc arrays:

[code]

The proposal for this feature is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/stackalloc-array-initializers.md)

[2018-03-26 00:52] BillWagner opened #4773 "Explain capability to access fixed fields without pinning"
This is a small fix that enables the following code to compile:

[code]

The proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/indexing-movable-fixed-fields.md)

[2018-03-26 00:58] BillWagner opened #4774 "Cover pattern-based fixed statement"
The earlier restrictions for `fixed` relied on a known set of types. That does not extend to new types like `ImmutableArray<T>` or `Span<T>` and the like.

This features will enable types that match a "fixed" API pattern to be the target of a `fixed` statement.

The proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/pattern-based-fixed.md)

[2018-03-26 01:05] BillWagner opened #4775 "Check overload resolution docs against new rules"
There are three new steps to overload resolution that are documented [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/improved-overload-candidates.md)

My first reading gives me the impression that the 1st rule doesn't change any observable behavior. My first read says the 2nd and 3rd would result in a better method being found in some instances where pre 7.3 versions w

[2018-03-26 01:09] BillWagner commented on #3963
The updated proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/expression-variables-in-initializers.md)

[2018-03-26 01:10] BillWagner commented on #3965
The updated proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/tuple-equality.md)

[2018-03-26 01:11] BillWagner commented on #3962
The updated proposal is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/auto-prop-field-attrs.md)

[2018-03-26 01:12] BillWagner commented on #3958
This is being done in a community PR dotnet/roslyn#23533

[2018-03-26 09:50] eriawan commented on #4604
@mairaw
Could I create a new page for this with the content from the MSDN link for VS 2010?

Imho, it deserves its own page in docs instead of linking back to older MSDN link.
Because I need to update the links inside the MSDN link to sync with the contents on docs, because the links in the old MSDN points to other older MSDN links.

For example, the link of "Event Handler Overview" link in this p

[2018-03-26 11:21] eriawan commented on #4589
@mairaw

Pardon if this a little bit OOT, but the link on the docs page that points to WPF-Samples is using MS redirect url link (fwlink): http://go.microsoft.com/fwlink/?LinkID=159972

We should use direct docs link.

[2018-03-26 15:06] rabanti-github commented on #3623
Hi
I found the original source code of the locbaml tool on github. However, I am not sure whether the author published these sources on behalf of Microsoft or “by accident”. I don’t want to get this person into trouble by pointing at him/her. Therefore, just search for “locbaml” in github and you find it.

Is there a license for the locbaml tool? The source files are only annotated with “Copyright

[2018-03-26 16:53] pkulikov opened #4778 "'Un-obsolete' XslTransform class"
During discussion at the PR #4529 it was figured out that [XslTransform class](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xsl.xsltransform?view=netframework-4.7.1) is not so obsolete as it seems.

More background: https://github.com/dotnet/corefx/issues/25874

While 'un-obsoleting' this class numerous notes should be removed, for example, in those articles:
https://docs.microsoft.com/e

[2018-03-26 16:53] pkulikov opened #16059 "'Un-obsolete' XslTransform class"
During discussion at the PR dotnet/docs#4529 it was figured out that [XslTransform class](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xsl.xsltransform?view=netframework-4.7.1) is not so obsolete as it seems.

More background: https://github.com/dotnet/corefx/issues/25874

While 'un-obsoleting' this class numerous notes should be removed, for example, in those articles:
https://docs.micr

[2018-03-26 18:13] mairaw commented on #3623
@rabanti-github if you're talking about the one I pointed earlier (https://github.com/Microsoft/WPF-Samples/tree/master/Globalization%20and%20Localization/BAML%20Loc), that repo has an MIT license.

The one I could find on GitHub (https://github.com/JeremyDurnell/locbaml) doesn't seem official.

@SamBent can you confirm which link should we use to replace https://archive.msdn.microsoft.com/Project

[2018-03-26 18:57] rabanti-github commented on #3623
The unofficial project seems to be originating from Microsoft. I assume it was the old locBaml sample project mentioned (among others) in: [https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/how-to-localize-an-application](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/how-to-localize-an-application). All described features in this tutorial seems to be implemented in th

[2018-03-26 20:07] mairaw commented on #4778
@pjanotti is this for 2.1 right?

[2018-03-26 20:32] mairaw commented on #4721
@karelz @weshaggard @terrajobst can you guys comment on this one? Thanks!

[2018-03-26 20:42] mairaw commented on #4637
Note to use includes for the text, if possible.

[2018-03-26 20:50] mairaw commented on #4176
Moving this to the backlog until this is officially supported in VS. /cc @BillWagner

[2018-03-26 21:13] #4269 closed

[2018-03-26 21:24] karelz commented on #4721
@bartonjs @GrabYourPitchforks will be the right experts I think.

[2018-03-26 21:47] #3037 closed

[2018-03-26 21:51] pkulikov opened #4784 "Improve operators TOC for null-conditional operators"
The [operators overview page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/index) has the following comment:

I think the first point is a good observation and easy to fix by updating TOC. I suggest to add two entries to the TOC: "?. Operator" and "?[ Operator" - at the same level as other operators. And keep "Null-conditional Operators" entry, as folks might not kno

[2018-03-26 23:58] rpetrusha opened #4785 "Change VB, C# compiler switch in examples"
# Change VB, C# compiler switch in examples

The compiler documentation for both C# and Visual Basic uses the hyphen (`-`) to indicate compiler options when illustrating compiler syntax. All command line compiler examples in the MarkDown file in the repo were modified, as far as we know.

However, compiler switches used in source code files (*.cs or *.vb files) remain to be changed.

See #4138, #4

[2018-03-27 00:38] mairaw commented on #4784
What about just adding the two operators after the TOC title and even the topic title. Something like
"Null-conditional Operators (?. and ?[)"

That would bring up the operator in the filter. Thoughts @BillWagner?

We should also add dev_langs to this topic to make the filter appear like this in metadata section:

[code]

And for help viewer to work, we need to add the help viewer metadata similar

[2018-03-27 01:21] BillWagner opened #4788 "tabify the Roslyn Visualizer article"
Noticed in #4579

the [Roslyn Syntax Visualizer](https://github.com/dotnet/docs/tree/master/docs/csharp/roslyn-sdk/syntax-visualizer.md) article would benefit from having tabbed view for C# and VB.

[2018-03-27 06:08] pkulikov commented on #4784
If we go this way:

"Null-conditional Operators (?. and ?[)"

I suggest name "?. and ?[ null-conditional Operators":
- to be consistent with other TOC entries
- to make question marks 'catchier' for eyes when scanning TOC

[2018-03-27 06:39] mairaw commented on #4788
The media files were also not put in the right folder.

[2018-03-27 07:27] mairaw opened #4789 ":warning: Repo freeze - Content split is underway"
The dotnet/docs repository is a huge repository and contains all the .NET conceptual articles, samples and API reference docs. There are several disadvantages to that including:
- repo size
- build times
- new features built for docs.microsoft.com require conceptual and reference content to be on different repos, including conceptual versioning, API content localization and replacing LiveFyre comm

[2018-03-27 13:53] BillWagner commented on #4784
/cc @MadsTorgersen  The draft C# 6.0 specification doesn't call out the `?.` or `?[` operators in the opening table on operators. I was thinking that whatever we do here should conform to the language spec, so I'd like your opinion.

I'd agree with "?. and ?[ null-conditional operators" (Or simply use "?. ?[ Operators" to be consistent with other entries.

I'd also move it up in the TOC because th

[2018-03-27 14:44] bartonjs commented on #4721
I don't know that I would remove it from .NET Framework documentation since it still describes exceptions which can be thrown.

[2018-03-27 17:05] svick commented on #4721
@bartonjs I'm not talking about removing `SecurityException` from the Exceptions section, e.g.:

![](https://user-images.githubusercontent.com/287848/37982501-031e4d20-31f1-11e8-8ab9-0f576cfdfbc0.png)

I'm talking about the separate Security section:

![](https://user-images.githubusercontent.com/287848/37982549-27ec35b8-31f1-11e8-9f0e-667dd0095269.png)

Sorry if that wasn't clear.

(These example

[2018-03-27 17:26] JRAlexander commented on #4663
@mairaw - Yes, I'll take a look. Also added to the .NET Core 2.1 backlog.

[2018-03-27 17:26] mairaw commented on #4504
That's fine @ChrisMaddock! We'll be splitting issues too 😆

[2018-03-27 17:35] mairaw opened #4792 "[Project] .NET Framework 4.7.2"
This is a meta-issue for the .NET Framework 4.7.2 project.

Comment below to suggest new content, or updates to existing content.

Work items:

- [x] What's new in .NET Framework 4.7.2 #4793
- [x] What's new in accessibility in the .NET Framework 4.7.2 #4818
- [x] What's obsolete #4794
- [x] Migration Guide updates #4795
- [x] Installation Guide updates #4796
- [x] Deployment Guide updates
- [x] R

[2018-03-27 17:42] mairaw opened #4793 "What's new in .NET Framework 4.7.2"
We need to document the new features available in the .NET Framework 4.7.2 release at https://docs.microsoft.com/en-us/dotnet/framework/whats-new/

A couple of related blog posts:
- https://blogs.msdn.microsoft.com/dotnet/2018/03/08/net-framework-4-7-2-developer-pack-early-access-build-3056-is-available/
- https://blogs.msdn.microsoft.com/dotnet/2018/02/05/announcing-net-framework-4-7-2-early-acce

[2018-03-27 17:50] mairaw opened #4794 "Update What's obsolete in the .NET Framework Class Library topics"
Research and find out if there are any obsolete types and/or members that should be added to the list of obsolete  topics:

- https://docs.microsoft.com/en-us/dotnet/framework/whats-new/obsolete-types
- https://docs.microsoft.com/en-us/dotnet/framework/whats-new/obsolete-members

At least, we should remove the language from those topics that indicate those are only for versions 4.5 and 4.6, since

[2018-03-27 18:09] mairaw opened #4795 "Update Migration guide to include runtime/retargeting changes for 4.7.2"
Topics to update:
- https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/
- Version selector: https://github.com/dotnet/docs/blob/master/includes/migration-guide/runtime/versionselector.md

Create new topics for the diff.

/cc @rpetrusha

[2018-03-27 18:23] mairaw opened #4796 ".NET Framework Installation Guide updates"
Topics to update:
- https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-10
- https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-8-1
- https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-8
- https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-7
- https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers
- http

[2018-03-27 18:30] rowanmiller commented on #4796
The latest version of .NET Framework is still listed on the download page (under the "Run apps" toggle) - https://www.microsoft.com/net/download/Windows/run.

BTW we're going to make changes to the download page, as the current design has issues (e.g. the toggle to Run Apps to get .NET Framework is not obvious)

[2018-03-27 18:33] mairaw commented on #4796
I missed that @rowanmiller! But since we're specifically talking about a list of all versions when using that link, I think changing the link is good. I'll follow up with you offline re. the changes to the download page.

[2018-03-27 18:51] rowanmiller commented on #4796
Sounds good. You're input would be great to get to feed into fixing the design. Happy to do something to fix the issue for the meantime too.

[2018-03-27 18:52] rowanmiller commented on #4796
Actually... is this page useful https://www.microsoft.com/net/download/dotnet-framework-runtime. It's for capturing search traffic for end users wanting to download .NET Framework (and we have some in-product popups that send folks there to).

[2018-03-27 19:49] BillWagner commented on #3964
There are three new constraints that are enabled by this feature:

1. `System.Enum` is no longer disallowed as a base class constraint
1. `System.Delegate` and `System.MulticastDelegate` are no longer disallowed as a base class constraint
1. The new token `unmanaged` specifies the new "blittable" types constraint.

The following documents would need updates:

- [ ] [where generic type constraint](

[2018-03-27 20:53] rpetrusha opened #4801 "Replace simple tokens with their text"
# Replace simple tokens with their text

In numerous places in the documentation in the dotnet/docs repo, tokens are used to provide text that may change. At build time, the token's text is inserted into a topic. In many cases, however, tokens are used to insert simple static text that will not change. In these cases, the token offers no advantages, and the presence of the
token (a file reference

[2018-03-27 21:35] bartonjs commented on #4721
It seems fine to remove it (and the exception-ref) from .NET Core; but I don't know it's worth the documentation shear right now.  But for Framework since we should continue to document the SecurityException (because it can be thrown) we should continue to document the things that cause the SecurityException to be thrown.

I don't really have a strong opinion about keeping a separate section vs fo

[2018-03-27 21:38] pkulikov commented on #4801
May I suggest more?
- crabout-md.md (token text: For more information about)
- crdefault-md.md (token text: For more information, see)
- crexample-md.md (token text: For an example of)
- crlist-md.md (token text: For a list of) - *only two uses*
- indigo1-md.md (token text: Windows Communication Foundation (WCF))
- indigo2-md.md (token text: WCF)
- null-md.md (token text: null) - *only two uses*

[2018-03-27 21:43] mairaw commented on #4721
Thanks for your input @bartonjs. Core specific classes don't have this information, so we're good on that front.
I can check with the engineering team if we could display or hide that section based on the moniker selected. /cc @dend

[2018-03-27 21:43] rpetrusha commented on #4801
Thanks, @pkulikov. Of course you can suggest more. I'd focused on product names (though I'd missed the WCF tokens that you listed).

[2018-03-27 21:58] rpetrusha commented on #4318
This issue was addressed in PR #4748

[2018-03-27 21:58] #4318 closed

[2018-03-27 22:30] rpetrusha commented on #4721
We could just merge the section into the Exceptions section (and qualify it as being for the .NET Framework only). I suspect that having it in a separate Security (or Permissions) section also made it less noticeable.

[2018-03-28 01:22] MadsTorgersen commented on #4784
The draft spec lists `x.y` and `a[x]` as primary expressions in its [operator overview table](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#operators), which are mirrored by showing `.` and `[]` in your TOC.

Similarly, the spec would probably list `x?.y` and `a?[x]` as unary operators in the same table, and by analogy those should be listed a

[2018-03-28 01:24] MadsTorgersen commented on #4784
Note that this is a small lie, since the null-conditional expressions gobble up any subsequent indexing and dotting, effectively inverting the precedence. But I think that's alright to gloss over in the TOC. :-)

[2018-03-28 05:00] pkulikov commented on #4789
@mairaw how are [include files](https://github.com/dotnet/docs/tree/master/includes) treated by the split? Some of them are used both by conceptual content in MarkDown files and by API content in xml files.

[2018-03-28 05:57] mairaw commented on #4789
Initially, they're going to be duplicated. Each repo will have its own set of include files. With #4801 and probably a new backlog item to remove unused tokens after the split, we'll start cleaning up those.

[2018-03-28 06:25] mairaw commented on #2642
Another scenario to cover: how to reference DLLs in your csproj
https://medium.com/@tonerdo/referencing-a-net-dll-directly-using-the-net-core-toolchain-16f0af46a4dc

via @tonerdo

[2018-03-28 08:51] tonerdo commented on #2642
Woah

[2018-03-28 08:55] dasMulli commented on #2642
DLL references have a few odd behaviours.. one of them is `Reference` vs `ReferencePath` behavior which got a bit more complicated with the introduction of the build-using-reference-assemblies feature. Then RAR also uses None/Content items as inputs to look for things. But I guess that is probably better done in VS docs..

[2018-03-28 09:15] tonerdo commented on #2642
@dasMulli just a thought, if referencing dlls is documented in the VS docs, doesn't it make it slightly harder for Mac and Linux devs to find. Granted it's not a very common scenario but if they ever run into it I'm guessing the `csproj` documentation will be the first place they'll look.

[2018-03-28 09:32] dasMulli commented on #2642
Yes I agree the basic scenario needs to be in in there, already amended the list above.

[2018-03-28 23:57] dotMorten commented on #2723
.NET Core SDK is 2.1.101 by now
![image](https://user-images.githubusercontent.com/1378165/38062488-007df5c6-32a9-11e8-9fec-1eb2bccfdb62.png)

[2018-03-29 00:20] mairaw commented on #2723
We're aware of that @dotMorten. We're behind on finishing our backlog for 2.0 and we are also planning 2.1 content already, among other releases. This topic will get updated as part of this effort.

[2018-03-29 01:39] cartermp opened #4810 "Remove the old Type Provider docs"
https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/type-providers/

Nearly everything here is old, probably won't work with a new VS 2017 install, and has better community alternatives. I should remove them and add a section which lays out the basics of each OSS Type Provider, to offer a quick guide on which to use based on which data problem someone has.

[2018-03-29 08:42] Ytrog commented on #666
As someone with a `C#` background with an Interest in `F#` I would like to see more info about the difference between the `async/await` (or `Task.ContinueWith`) and async in `F#`.

[2018-03-29 12:33] poizan42 opened #4814 "Edit links are broken"
The edit links on https://docs.microsoft.com/en-us/dotnet/api goes to https://github.com/dotnet/dotnet-api-docs/blob/master/xml/... instead of https://github.com/dotnet/docs/blob/master/xml/... - e.g. https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.networkstream.write?view=netframework-4.7.1 has an Edit link to https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Net.Soc

[2018-03-29 12:53] BillWagner commented on #4814
Thanks for reporting this @poizan42   The current situation is because of the work for #4789

I expect this will be fixed when that infrastructure work is done, which should be soon.  I'll check again once that work finishes to ensure it fixes it, and there are no other issues.

[2018-03-29 14:48] BillWagner commented on #3961
The article affected by this language feature is the [ref locals and returns](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/ref-returns) article in the programming guide. It doesn't explicitly say that ref local reassignment is not allowed, it doesn't explain it either.

I also reviewed the `ref` keyword article section on [ref locals](https://docs.microsoft.

[2018-03-29 17:09] rpetrusha opened #4818 "What's new in accessibility in the .NET Framework 4.7.2"
# What's new in accessibility in the .NET Framework 4.7.2

We need to add new accessibility features for .NET Framework 4.7.2 to [What's new in accessibility in the .NET Framework.](https://docs.microsoft.com/en-us/dotnet/framework/whats-new/whats-new-in-accessibility).

Information on accessibility changes is available in:
- [.NET Framework 4.7.2 Developer Pack Early Access build 3056 is availabl

[2018-03-29 20:13] mairaw opened #4821 "404 error on link to solution"
@dreyses11 commented on [Thu Mar 29 2018](https://github.com/dotnet/docs.de-de/issues/74)

In docs.de-de/blob/live/docs/csharp/quick-starts/branches-and-loops-local.md is a link to an solution, but the solution doesn‘t exist (or is wrong linked), so you are recieving an 404 error, when you try to open the link and get to the solution.
![image](https://user-images.githubusercontent.com/33466028/381

[2018-03-29 20:16] mairaw commented on #4821
@dreyses11 Thanks for reporting this issue and apologies for the inconvenience. The current situation is because of the work for #4789.

We'll update the links to the correct samples once that's done. It should be fixed soon. Thanks!

[2018-03-29 20:18] BillWagner commented on #4821
@mairaw

Yes, I should have it tonight or tomorrow morning.

[2018-03-29 20:19] mairaw commented on #4821
Cool. Thanks! I'm hoping we can be open for business by tomorrow.

[2018-03-29 21:26] joshfree opened #4823 "Create usage guidelines for lifetime management of System.Memory<T>"
Memory, and OwnedMemory are new types shipping in .NET Core 2.1.  Memory/OwnedMemory need  "rules of the road" usage guidance in order to write code that doesn't cause use-after-free bugs.

https://github.com/dotnet/corefx/issues/23863

https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md

https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md

(The below is edited by @

[2018-03-29 23:17] gewarren opened #4826 "Specifying neutral language in VS"
Topic: https://docs.microsoft.com/en-us/dotnet/framework/resources/creating-resource-files-for-desktop-apps#resource-files-in-visual-studio

In the section that describes specifying the neutral language, it is correct for non-.NET Core and .NET Standard projects. But for .NET Core and .NET Standard projects, the language drop-down is on the **Package** tab, not the **Application** tab.

[2018-03-30 04:53] aaronfranke opened #4827 "The % (Remainder) operator is named incorrectly in the docs"
https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/operators/modulus-operator.md

https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/operators/index.md

This operator is named incorrectly in the documentation. It should be "Remainder" not "Modulus".

In C#, the functionality of the `%` operator is the Remainder function. The Remainder function returns

[2018-03-30 11:17] pkulikov commented on #4827
@aaronfranke you are right, thank you for reporing the issue.While the operator page itself doesn't mention *modulus*, the URL address might be misleading (I would rename the filename). The description in the operators table should be fixed. I am willing to update both pages to add clarifications.

[2018-03-30 11:32] svick commented on #4827
I'm not sure the terminology is as clear as you imply:

* Eric Lippert is very careful in his article to use the term *canonical modulus*, which is not the same as just "modulus".
* The Wikipedia article about this issue, [*Modulo operation*](https://en.wikipedia.org/wiki/Modulo_operation) says "modulus" is a synonym of "modulo", which covers all the options. And it describes the two options as "r

[2018-03-30 13:12] pkulikov commented on #4827
It's confusing now, because both names are used in docs. We should select only one.

[2018-03-30 15:48] LadyNaggaga opened #4828 "C# Quick Start to First App"
## Quick Start to First App

The quick starts have been really popular. @BillWagner and I had a quick chat on  next steps.  What kind of apps can we teach someone to build in the browser?  We came up with a few ideas but ideas but, we would appreciate your input.  Please remember that users are coming from the[ C# quick starts ](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-wor

[2018-03-30 15:56] dotMorten commented on #2723
@mairaw Not trying to rush you :) Just wanted to make sure this one was handled as part of the issue (the issue is a little vague wrt which ones needs fixing).

[2018-03-30 17:07] aaronfranke commented on #4827
Regardless of what the mathematical definition is, nearly every programming language defines Remainder and Modulus this way. Plus we don't have to mention the term "Modulus" unless we want to add a clarification like "The Remainder operator is not to be confused with canonical Modulus"

[2018-03-30 19:11] fragmer opened #4830 "Broken reference links in "Advanced (Windows Presentation Foundation)" guide"
The majority of reference links in the [_Advanced (Windows Presentation Foundation)_ guide](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/) have been broken for some time.

For a specific example, reference links on [_Input (WPF)_ page](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/input-wpf#reference) lead to missing URLs such as [`https://docs.microsoft.com/en-u

[2018-03-30 20:44] BillWagner opened #4831 ".NET Compiler Platform SDK Tutorial: Build your first analyzer."
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/5)

This should be as simple as possible. `if` without brackets might be good.

Add unit tests for test cases for code.

---

@MaStr11 commented on [Tue Mar 27 2018](https://github.com/dotnet/roslyn-api-docs/issues/5#issuecomment-376443507)

These articles might be a good source for this

Roslyn Wiki [How T

[2018-03-30 20:45] BillWagner opened #4832 "Quick Start: Build your first Code Fix"
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/6)

Build on the analyzer to fix it.  Make sure to add unit tests around representative code.

[2018-03-30 20:45] BillWagner opened #4833 ".NET Compiler Platform SDK Tutorial: Deploy your analyzer as a VSIX"
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/7)

Deploy the analyzer in the quick start

[2018-03-30 20:46] BillWagner opened #4834 ".NET Compiler Platform SDK Tutorial: Deploy your analyzer as a NuGet Package"
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/8)

Deploy the analyzer in the quick start

[2018-03-30 20:46] BillWagner opened #4835 ".NET Compiler Platform SDK Tutorial: Get started with syntax transformation"
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/11)

This will be adapted from here: https://github.com/dotnet/roslyn/wiki/Samples-and-Walkthroughs

[2018-03-30 20:46] BillWagner opened #4836 ".NET Compiler Platform SDK Tutorial: Get started writing custom analyzers and code fixes."
@BillWagner commented on [Mon Jul 17 2017](https://github.com/dotnet/roslyn-api-docs/issues/12)

This will be adapted from here: https://github.com/dotnet/roslyn/wiki/Samples-and-Walkthroughs

[2018-03-30 20:47] BillWagner opened #4837 ".NET Compiler SDK APIs: Create Namespace nodes"
@BillWagner commented on [Fri Jul 28 2017](https://github.com/dotnet/roslyn-api-docs/issues/15)

The Mdoc process does not create summary pages for namespaces. These must be created by hand.

The source for the .NET Compiler Platform SDK sources need these added for each namespace that is part of the .NET Compiler Platform SDK meta package.

[2018-03-30 20:54] mairaw commented on #4830
We’re investigating this issue right now. It should be related to the work we’re doing for #4789

[2018-03-31 00:34] mairaw commented on #4830
We found the root cause, which was unrelated to the work being done for #4789, and the problem is now fixed. The issue only started this morning. Thanks for letting us know, @fragmer.

[2018-03-31 00:34] #4830 closed

[2018-03-31 00:59] mairaw commented on #4821
Reopening until all PRs are merged

[2018-03-31 03:06] mairaw commented on #4814
This should be working now @poizan42. Thanks for your patience while we are reorganizing the content.

[2018-03-31 03:06] #4814 closed

[2018-03-31 03:16] #4788 closed

[2018-03-31 03:19] #4571 closed

[2018-03-31 03:27] #4740 closed

[2018-03-31 04:32] mairaw commented on #4821
All PRs are merged now. Still need to fix the vb zip link and wanna do a pass to make sure we didn't miss any.

[2018-03-31 06:31] mairaw commented on #4828
There was someone asking for a lesson on events in one of the comments @LadyNaggaga. I'll see if I can find where it was.

[2018-03-31 19:21] mairaw commented on #4789
Split is almost finished and you might have noticed that I just did a one-time force push to both master and live branches on this repo.

I'll make a post detailing some of the consequences of the split and some of the options for you to update your fork.

We'll be updating contributing guide, readme files, etc. and cleaning up branches here in this repo as well in the coming days.

The content th

[2018-04-02 14:20] #4784 closed

[2018-04-02 17:09] pkulikov commented on #4827
I think both @aaronfranke and @svick are right.

While for mathematicians, *modulus* is clear and coincides with the *canonical modulus* term, and they build the [whole world](https://en.wikipedia.org/wiki/Modular_arithmetic) of it, in computing, people like to argue about the definition of *modulus* as the Wiki article referenced by @svick demonstrates. The dangerous part with using *modulus* ter

[2018-04-02 18:25] BillWagner opened #4854 "Issues with C# 6.0 examples"
From a LiveFyre comment: This is on the [what's new in C# 6"](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-6)

The examples to catch HttpRequestException and filter for redirect in message will never work
HttpClient by default respects redirects and will return the resource at the redirected location

To have HttpClient throw on redirects you need to create it like this
[code]

[2018-04-02 19:07] BillWagner commented on #4827
@aaronfranke @pkulikov @svick Cool discussion

I checked the official ECMA spec proposal for C# 5, and the draft C# 6.0 specification. Both use [Remainder](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#remainder-operator) exclusively.

I propose we adopt the same in docs: **remainder** is the preferred term.

There are two locations where this could be problematic, or needs

[2018-04-02 20:14] mairaw commented on #4826
Hi @gewarren, as of right now, those topics are specific to .NET Framework. We'll need to move them out of the Framework path and rework all of those articles to see what's applicable to Core and Standard when it comes to resource files.

[2018-04-02 20:26] mairaw commented on #4778
PIng @pjanotti

[2018-04-03 11:55] svick commented on #4827
@pkulikov @BillWagner Consistently using "remainder" sounds good to me.

[2018-04-03 16:24] pkulikov commented on #1255
@mairaw please update the link to the snippets folder, as it's different after the repo split.

[2018-04-03 16:34] dend commented on #4837
Today, `mdoc` will generate the namespace stubs, but will not put any information there because C# does not support handling namespace descriptions. At this time, namespace information can be introduced manually. We would need a compiler change to ensure that namespace comments can be supported.

[2018-04-03 17:53] mairaw commented on #4821
I think this one can be closed now. Thanks @BillWagner!

[2018-04-03 17:53] #4821 closed

[2018-04-03 18:07] mairaw commented on #1255
Done @pkulikov. Thanks!

[2018-04-04 06:06] pkulikov commented on #964
@BillWagner the first link looks to be broken, while the second link redirects to the https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/index

Can this issue be closed then?

[2018-04-04 06:13] pkulikov commented on #1195
The current version of docs has the C# history article added in September 2017:
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-version-history

[2018-04-04 11:41] BillWagner commented on #964
@pkulikov

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/classes
https://docs.microsoft.com/en-us/dotnet/csharp/classes

Yes, combining these two topics into the first is the correct fix.

[2018-04-04 11:44] BillWagner commented on #1195
@pkulikov Let's make the task to look at the reference from the csharplang repo and make sure nothing is missing from the topic you noted.  If nothing is missing, we can close this.

[2018-04-04 14:30] jinek opened #4870 "Remove or replace catch blocks that handle Exception"
There are a lot of examples demonstrating the use of "**catch(Exception)**" or "**catch{}**" that leads application to unexpected behavior.
Literally such catch block says "whatever happened lets do one thing". In most cases it does not make sense.

For example, on this [page](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient.-ctor?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquer

[2018-04-04 15:17] scottaddie opened #4871 "Add RIDs doc link to dotnet store doc"
The **Required options** section of the [dotnet store doc](https://docs.microsoft.com/dotnet/core/tools/dotnet-store#required-options) doesn't link to the [RIDs doc](https://docs.microsoft.com/dotnet/core/rid-catalog) when talking about the *-r* option. We should assume not all readers are familiar with RIDs and link to the doc in this location. The following Livefyre comment indicates this confus

[2018-04-04 15:35] scottaddie opened #4873 "Explain how to define multiple RIDs in the project file"
The [RIDs doc](https://docs.microsoft.com/dotnet/core/rid-catalog) doesn't mention the `<RuntimeIdentifiers>` element of the project file. This is used to define multiple RIDs.

[2018-04-04 16:24] #4873 closed

[2018-04-04 18:38] mairaw opened #4876 "Document new .NET Framework 4.7.2 APIs"

[2018-04-05 11:18] BillWagner opened #4884 "VB: Modulus operator should be referred to as Remainder"
See #4860

The operator referred to as "modulus" performs a "remainder" operation. There are subtle differences, primarily with negative numbers.

As pointed out in the PR, the `Mod` operator name complicates this.  (Similarly `op_Modulus` in IL complicates the explanation as well.

[2018-04-05 17:58] pjanotti commented on #4778
Yes, this is for CoreFx 2.1.

[2018-04-06 16:58] Shawn1874 opened #4893 "Broken links to string marshaling examples"
Within this topic all of the links to examples are broken.  I needed to see an example of marshaling a string by reference.  Unfortunately the documentation is severely broken.  I tried several links, and it always results in a page no longer available error.

https://github.com/dotnet/docs/blob/master/docs/framework/interop/marshaling-strings.md

[2018-04-06 17:28] pkulikov commented on #4893
@Shawn1874 thank you for submitting the issue.

If you still need to see examples, try the following workaround before the docs are fixed. If you get the page with the message **This topic is no longer available**, there should be the drop-down *Other Versions* under the message. Select another version, let's say for Framework 4.

[2018-04-06 17:29] mairaw commented on #4893
Thanks @pkulikov. That's what I was going to say @Shawn1874. But I'll fix this page but there are many others like this and we're fixing them over time.

[2018-04-07 17:36] karelz opened #4900 "HttpClient remark is not applicable to .NET Core"
One [HttpClient Remarks](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netcore-2.0#remarks) paragraph is specific to .NET Framework/Mono:

_By default, HttpWebRequest will be used to send requests to the server. This behavior can be modified by specifying a different channel in one of the constructor overloads taking a HttpMessageHandler instance as parameter. If feat

[2018-04-08 01:14] lindexi commented on #4633
@BillWagner Do you mean we are encouraged to modify it?

[2018-04-08 01:24] lindexi commented on #4633
@BillWagner Thx.

[2018-04-08 15:51] jurajplavcan opened #4902 "Inappropriate name of function in an example (F# unittesting) - sumOfSquares"
# Inappropriate name of function in an example - sumOfSquares

https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-fsharp-with-dotnet-test

In the example unit tests are written for a `MyMath.sumOfSquares` function in a TDD fashion. As I read through the document the name of the function appeared rather inaccurate.

## Possible fix

Based on the last test:

[code]

I would suggest ca

[2018-04-08 15:52] jurajplavcan commented on #4902
I can submit a PR if you consider this worth changing.

[2018-04-09 06:02] pkulikov commented on #4902
@jurajplavcan your proposed change is one way to fix the article. In that case this sentence from the article:

should be updated as well.

Another way to make this topic correct is to provide the correct implementation and tests for `sumOfSquares` (or consider renaming to `sumOfSquaresOfOdds`) that would return a scalar value rather than a sequence.

/cc: @cartermp

[2018-04-09 07:45] pkulikov commented on #4902
@cartermp what is preferred fix:
- update requirement statement and function name to match implementation and tests OR
- fix implementation and tests to match requirements?

[2018-04-09 14:52] jinek commented on #4828
Project is not provided. What browser?)

[2018-04-09 14:54] jinek commented on #4828
What's about to count all digit symbols in a given string?

[2018-04-09 15:27] Narvey opened #4906 "Good, Better, Best Practices for Exceptions"
The [Best Practices for Exceptions](https://github.com/dotnet/docs/blob/master/docs/standard/exceptions/best-practices-for-exceptions.md) are good, but they could be better.

First, it should be explicitly called out to never use `throw ex;` to rethrow an exception. However, one of the the methods recommended (`throw;`) [can also mess up line numbers](https://weblogs.asp.net/fmarguerie/rethrowing-

[2018-04-09 15:36] #4827 closed

[2018-04-09 16:02] jurajplavcan commented on #4902
@pkulikov @cartermp I chose the first option: update the requirement statement and function name

[2018-04-09 16:31] #964 closed

[2018-04-09 21:03] SamVanheer opened #4909 "Bug in hosting sample with unsigned type and loop"
The hosting sample has a bug with the loop that locates the directory that contains the target app: https://github.com/dotnet/samples/blob/master/core/hosting/host.cpp#L63

`i` is a `size_t`, which is an unsigned integral type. The loop checks if `i >= 0`, but this condition can never be false. In the event that a path is passed that does not contain a backslash, it will attempt to read a possibly

[2018-04-10 00:34] JimBobSquarePants commented on #4400
Current 2.0 Docs are picking up on the obsolete attribute which is causing confusion.

https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-2.0

[2018-04-10 01:16] mairaw commented on #4400
Thanks @JimBobSquarePants. This seems related to the following issues that we're tracking:
https://github.com/dotnet/docs/issues/1876
https://github.com/mono/api-doc-tools/issues/76

@weshaggard I see that the obsolete attribute was added with the addition of the .NET Core 2.1 reference assemblies. Is Span<T> really marked as obsolete in 2.1?

[2018-04-10 01:27] JimBobSquarePants commented on #4400
@mairaw See the below link for reasoning behind the obsolete attribute

https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/span-safety.md#metadata-representation-or-ref-like-structs

[2018-04-10 01:28] ahsonkhan commented on #4400
cc @VSadov

[2018-04-10 04:46] mairaw commented on #3338
@JRAlexander since you now own the prereqs, I'm assigning this one to you. I changed milestone to Q2.

[2018-04-10 08:54] migueldeicaza commented on #3857
A very brief history of Mono’s C# compiler is here:

https://www.mono-project.com/docs/about-mono/languages/csharp/

[2018-04-10 17:15] rpetrusha commented on #4870
Thanks for opening this issue, @jinek. This is a problem throughout the documentation set, so I've added it to the [.NET Community Contributors project.](https://github.com/dotnet/docs/projects/35). So if anyone would like to work on this, please let us know.
The handling of Exception is particularly widespread in legacy code (that is, examples written for .NET Framework 1.0, 1.1, and 2.0 that hav

[2018-04-10 18:15] joshfree opened #4912 "MemoryMarshal class needs concept doc explaining dangers and safety requirements"
We should make sure that all MemoryMarshal APIs have good doc comments explaining the dangers and requirements for using the APIs safely/correctly.

Related:
- https://github.com/dotnet/core/blob/master/release-notes/2.1/api-diff/preview2/2.1-preview2_System.Runtime.InteropServices.md
- Make CreateFromPinnedArray visible and move it to MemoryMarshal https://github.com/dotnet/corefx/issues/28954
-

[2018-04-10 18:31] mairaw commented on #4810
@cartermp can we close this one?

[2018-04-10 19:18] jinek commented on #4870
I would like to work on it

[2018-04-10 19:36] rpetrusha opened #4914 "Add detailed information to GC documentation on Large Object Heap"
# Add detailed information to GC documentation on Large Object Heap

Our doc set contains relatively little information on the Large Object Heap (LOH). One of the major sources of information on the LOH was MSDN article that is no longer available online. It has been made available on [Maoni's WebLog](https://blogs.msdn.microsoft.com/maoni/2016/05/31/large-object-heap-uncovered-from-an-old-msdn-ar

[2018-04-10 20:55] BillWagner commented on #4154
As a work around, you can add an error pragma to the source to print the version:

[code]

This cause the compiler to print its version (the compiler software version, not the project LangVersion) to the console. It also causes the build to fail.

[2018-04-10 21:18] KathleenDollard commented on #4884
For reference: [Eric Lippert explains modulus vs remainder](https://blogs.msdn.microsoft.com/ericlippert/2011/12/05/whats-the-difference-remainder-vs-modulus/)

I believe the word "modulus" in common usage is remainder, and the conversations I found regarding it's use in the sense Eric uses it is all around congruence, and this is an arithmetic operator.

Overall the VB page does a great job expla

[2018-04-10 23:45] aaronfranke commented on #4884
@KathleenDollard I would use smaller numbers for a more clear example:

For reference, here's the new C# definition, adjusted\* for VB, with `%` replaced with `MOD`:

\* I don't know VB, so there may be syntax errors here...

[2018-04-10 23:53] #4893 closed

[2018-04-11 11:00] dasMulli commented on #4154
cross-linking https://github.com/dotnet/cli/issues/8042 which raised some other questions in the process:

* How do I know what things I have in my .NET Core SDK (NuGet, MSBuild etc., not relevant here)
* How do I know which Roslyn version number corresponds to which C# version <-- hard part
(https://github.com/dotnet/cli/issues/8042#issuecomment-356638924)

Same probably goes for F# since it now

[2018-04-11 11:07] svick commented on #4154
@dasMulli

This is documented in [the Roslyn repo wiki article *NuGet packages*](https://github.com/dotnet/roslyn/wiki/NuGet-packages#versioning). Though including that information somewhere in docs.MS is probably a good idea.

[2018-04-11 14:14] BillWagner commented on #4154
@KathleenDollard said:

I'd suggest either the .NET Core "What's new" page, or coordinating with the ongoing versioning work.

[2018-04-11 15:16] #4902 closed

[2018-04-11 18:16] #3961 closed

[2018-04-11 21:42] rpetrusha commented on #4870
Thank you so much for your offer to help with addressing exception handling in the doc set, @jinek! I'll respond by tomorrow with a detailed plan for reviewing the examples that will help to get you started.

[2018-04-11 21:49] #3338 closed

[2018-04-12 08:18] imba-tjd commented on #4795
@mairaw versionselector doesn't work in any other language.
![qq 20180412161736](https://user-images.githubusercontent.com/24759802/38664739-0b120cbe-3e6d-11e8-96b4-272c25316b6d.png)

[2018-04-12 13:44] #4772 closed

[2018-04-12 13:58] BillWagner opened #4927 "Request for more details on `in` parameters and defensive copies"
From a LiveFyre comment on [Reference semantics with value types](https://docs.microsoft.com/dotnet/csharp/reference-semantics-with-value-types)

Could you give a little bit more details on how the defensive copy system works? Especially is it systematic for each property or member function call of a not-readonly struct?

If it the case doesn't it make the usage of the 'in' keyword very limited an

[2018-04-12 17:13] rpetrusha opened #4931 "Network Programming Samples topic: All links are broken"
# Network Programming Samples topic: All links are broken

## Links are broken

All of the links to samples in the [Network Programming Samples](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/network-programming-samples) topic are broken.

All links are FWLinks that no longer work. To the extent that I've looked, the targets are archived on MSDN. For example, the first link

[2018-04-12 18:19] mairaw commented on #4390
You can create a new issue for that @ChrisMaddock. There are quite a few undocumented APIs for the .NET reference and an ongoing project for filling those gaps: https://github.com/dotnet/docs/projects/15.

We also created an internal report to discover all those. But the ones captured here were the ones considered high-priority for the release. Makes sense?

[2018-04-12 18:25] mairaw commented on #4795
Thank you for letting us know @imba-tjd. I'll create an internal issue to investigate that.

[2018-04-12 18:33] mairaw commented on #4795
Internal issue created: [1234884](https://mseng.visualstudio.com/CSI/_workitems/edit/1234884)

/cc @nokura

[2018-04-12 19:20] JRAlexander opened #4933 "What's new in .NET Core 2.1"
We need a topic that addresses "What's new in .NET Core 2.1

[2018-04-12 21:35] ChrisMaddock opened #4936 "Document System.Hashcode in .NET Core 2.1 API"
https://docs.microsoft.com/en-gb/dotnet/api/system.hashcode?view=netcore-2.1

New API which is currently undocumented.

[2018-04-12 21:35] ChrisMaddock commented on #4390
Thanks @mairaw - I've moved it here: https://github.com/dotnet/docs/issues/4936

[2018-04-13 01:15] mairaw commented on #4936
Thanks for filing this @ChrisMaddock.

Related notes: https://github.com/dotnet/corefx/issues/14354

@karelz do you know who owns this? And do you think it would be possible to get the dev team to help fill out the "To be added" segments [here](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/HashCode.xml) with some basic comments?

[2018-04-13 11:36] RamanBut-Husaim commented on #4675
@Rick-Anderson @mairaw hello.

Would like to clarify the information present in the following section - https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-wcf-using-net-framework-35---452-using-tcp-transport-security-with-certificate-credentials.

Do I understand correctly that it covers the case with basic http binding that uses certificate for authentication on the tra

[2018-04-13 14:35] molinch commented on #3966
@BillHiebert is it still planned for 7.3 or postponed?

[2018-04-13 14:53] BillWagner commented on #3966
@molinch the last information I have is that this feature didn't make the 7.3 deadline. The proposal referenced in this issue's description has the latest LDM discussion links.

[2018-04-13 16:41] ChrisMaddock opened #4940 "Undocumented exceptions thrown by System.Windows.Media.ColorConverter.ConvertFromString()"
https://docs.microsoft.com/en-gb/dotnet/api/system.windows.media.colorconverter.convertfromstring?view=netframework-4.7.1#System_Windows_Media_ColorConverter_ConvertFromString_System_String_

The `ConvertFromString(String)` method isn't documented as throwing any exceptions, but at least throws a `FormatException` for invalid input. I haven't done a PR, as I don't know what exceptions are thrown b

[2018-04-13 20:42] mconnew commented on #4675
Hi @RamanBut-Husaim. The section which you quoted only applies to using the TCP transport in WCF. For the HTTP transport with a WCF client doesn't do anything specific. Internally we use HttpWebRequest so we will just have the behavior that HttpWebRequest will have. For the HTTP transport with a WCF client, we have the behavior that the OS components IIS or HTTP.SYS are configured to use.

[2018-04-14 07:06] sabarnett commented on #4828
Build a calculator. Expand it to be a scientific calculator. Give it a programmer mode so calculating in hex and binary. Expand it to record the steps in your calculation. Allow it to unwind back through that history, undoing parts of the calculation. Allow it to store calculations. Introduce variables into the calculations that have to be entered when the calculation is replayed. Perhaps end up w

[2018-04-14 10:01] xyfoo commented on #4828
An app that group list of grocery to a summary,  calculate the total price, and give discount if total exceed certain amount.

a, b, c, a, d, d, d -> 2 a, 1 b, 1 c,  3 d

[2018-04-14 11:27] sonergonul commented on #4828
Basic calculator can be nice. Small, easy to learn, easy to solve problems.

But thinking to build a "specific" app, I think it would be better to have interactive windows like [Khan Academy](https://www.khanacademy.org). First you watch the introduction video, then you interact with the same window to solve a specific problem after you learn it.

After that, small exercises would be nice. Such an

[2018-04-14 12:31] RamanBut-Husaim commented on #4675
@mconnew Understood. Thanks a lot for the quick reply!

[2018-04-14 17:16] karelz commented on #4936
@morganbr was championing the change - he should be able to help / recommend others.

[2018-04-16 04:49] lucasnobredev commented on #4439
Guys, just an update for what I did so far:

**Pull request opened and merged**
- docs/csharp
- docs/standard

**There's not a whitespace word**
- docs/core

I'll review in this week _docs/framework_. If there's nothing, I'll see the next one and I'll update here too.

[2018-04-16 16:58] mairaw commented on #4900
Hi @karelz, sorry for the delay. What we've been doing is to call out in the text to which platform the comment is applicable.

[2018-04-16 18:45] JRAlexander commented on #4390
Thanks, @ChrisMaddock, I've added it in this issue above, and also in the [.NET Core 2.1 project] (https://github.com/dotnet/docs/projects/34).

[2018-04-16 20:08] mairaw commented on #4940
Thanks @ChrisMaddock. You can see the source for that at https://referencesource.microsoft.com/#System/compmod/system/componentmodel/TypeConverter.cs. We're adding this to our backlog but feel free to jump in.

[2018-04-16 20:31] BillWagner commented on #3857
Thanks for the discussion.  What should happen now is to update [the current history topic]()https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-version-history) and reconcile the Mono history and the C# Lang history docs with the current topic.  In the end, we should have one page (the current one) that includes the information for the Microsoft compiler and the Mono compiler.

[2018-04-16 21:23] mairaw opened #4946 "Add API docs for ReadOnlySpan<T>"
Docs page: https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1

Source has /// comments that could be leveraged for this: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/ReadOnlySpan.cs

[2018-04-16 21:41] #3505 closed

[2018-04-17 00:53] morganbr commented on #4936
I'm willing to help out. What do you need for this?

[2018-04-17 01:33] mairaw commented on #4936
Awesome @morganbr! The doc source for this is in this other repo:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/HashCode.xml

Basically, where you see a To be added string, we need to replace that with actual content (remarks are optional).

[2018-04-17 04:54] richlander commented on #4154
I think we need two things:

- An entry in "What's new".
- a decorder ring table that explains what's in each release. This can go in docs or in a repo. It is probably best put in dotnet/core in release notes. Yes?

[2018-04-17 07:14] mairaw commented on #4400
I've created a workaround PR to fix the obsolete attribute issue while the true fix is being worked out:
https://github.com/dotnet/dotnet-api-docs/pull/49

[2018-04-17 11:28] Mackiovello commented on #4801
I'd be happy to take care of this one.

[2018-04-17 21:34] jsturtevant opened #4954 "How does EventSource relate to ETW"
## Issues with Existing Topics

How does ETW relate to EventSource? I thought event source was a simpler way to create ETW events but it was pointed out [in this thread](https://github.com/Azure/diagnostics-eventflow/issues/199#issuecomment-382087171) the docs on [EventSource](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventsource?view=netframework-4.7) are miss leading

[2018-04-18 10:28] Linadam commented on #3134
I want to use xml file containing test datas. thank s

[2018-04-18 12:31] ChrisMaddock commented on #4504
@mairaw - Now the code's been reviewed and the first batch merged - I'd like to run this across the rest of the repo. (if that's a useful contribution!)

I've just done this in dotnet-api-docs, and it's made changes 1611 files. What's the easiest way for me push that - as a single PR, or in batches of e.g. 100? Or are we better just leaving things as they are, given the number of changes needed -

[2018-04-18 17:42] vancem commented on #4954
I agree that EventSource can be improved.

Logically EventSources talk to EventListeners.    Thus EventSources 'publish' or declare that they are the source for some information.      After an EventListener is created, it can either discover what EventSources already exist (EventSource.GetSources()., and/or get a callback when any new EventSource gets created (EventListener.OnEventSourceCreated).

[2018-04-18 20:54] omajid opened #4959 "Bad examples under Remarks for SecurityElement.Escape"
The table under "Remarks" for [SecurityElement.Escape](https://docs.microsoft.com/en-us/dotnet/api/system.security.securityelement.escape?view=netcore-2.0#remarks) is showing examples that make no sense.

For example, it shows that escaping replaces `&` with `&`. That sounds entirely incorrectly. The source document of that page says it replaces `&` with `&amp;` which seems much more accurate. Tha

[2018-04-19 03:48] cnayan opened #4961 "Class name mistake in documentation of Using Activity Delegates"
# Class name correction required

In documentation [Using Activity Delegates](https://github.com/dotnet/docs/blob/master/docs/framework/windows-workflow-foundation/using-activity-delegates.md), under section Using **ActivityFunc** there is small text mistake. This statement:

The class name mentioned **WriteRandomText** should actually be **WriteFillerText**.

[2018-04-19 16:29] #4961 closed

[2018-04-19 16:53] kasper3 commented on #4959
I think the correction would be to use grave accent character instead of double quote around those.

[2018-04-19 17:01] mairaw commented on #4959
Thanks @omajid. I see this is a migration issue since MSDN looks fine: https://msdn.microsoft.com/en-us/library/system.security.securityelement.escape(v=vs.110).aspx

Yeah, putting that inside backticks should fix the issue.

[2018-04-19 17:28] omajid commented on #4959
Thanks for the quick fix!

[2018-04-19 20:56] stakx opened #4969 ".NET Core / Standard API docs: Hyperlinks in <see> XML doc tag render incorrectly in VisualStudio IntelliSense tooltips"
(I am not sure I am posting in the correct repository&mdash;if not, please direct me to the right place.)

I've noticed an issue with .NET Core & .NET Standard API documentation. Hyperlinks end up being rendered incorrectly in Visual Studio IntelliSense tooltips.

I'll demonstrate this by example of the `<summary>` for the `System.FormatException` class.

### Documentation in the .NET Framework (c

[2018-04-19 21:54] #4731 closed

[2018-04-20 01:43] BillWagner opened #4973 "New topics: A guided tour of the Task Asynchronous Protocol (TAP)"
Async programming is a complicated topic. While `async`, `await` and the `Task` based protocols do a lot to make it more approachable, as developers get beyond the basic scenarios. MicrosoftDocs/azure-docs#5963 has a lengthy discussion that surfaces many of the questions developers have about async and await:

1. The distinctions between a synchronous method that returns an awaitable object (like

[2018-04-20 05:58] pkulikov opened #4974 "Full type name in the xref-link is not displayed, though requested"
[Passing a URI to the Windows Runtime](https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/passing-a-uri-to-the-windows-runtime) topic discusses `Windows.Foundation.Uri` and `System.Uri` types. While in the Markdown of the first paragraph both types are xref-ed in the following way:

only `System.Uri` is displayed with a namespace, and `Windows.Foundation.Uri` as just `Uri`:

![image](

[2018-04-20 06:47] Mike-EEE commented on #4973
Awesome, thank you @BillWagner for creating this.  I will start out with my own list of identified grievances which have been captured in a (well-ignored :wink) [UserVoice vote here](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/9126493-improve-asynchronous-programming-model).  This will save me a lot of typing here.  Yeah, I'm lazy, deal with it. 😆

My primary con

[2018-04-20 06:54] Mike-EEE commented on #4973
Actually @BillWagner I shouldn't be so weary of sharing that vote here.  In addition to the items listed in the vote, I have kept track within the comments a running tally of all the instances where I have found TAP-based confusion caused in the MSFT ecosystem... even by [MSFT employees, themselves](https://twitter.com/Nick_Craver/status/799304014001270784).

[2018-04-20 10:13] ShalokShalom opened #4975 "CoreCLR is written in C#/C++"
Your current [text](https://docs.microsoft.com/en-us/dotnet/core/index) says it is written in C/C++

[2018-04-20 10:20] ShalokShalom opened #4976 "A similarity is not a difference"
You write:

[code]

Plus:

[code]

This is also true for .Net Core

And the real technical differences between .Net Core and both, Mono/.Net are also not mentioned at all.

[2018-04-20 12:28] BillWagner commented on #4973
One clarification:

This issue is about the [Task - based Asynchronous Pattern (TAP)](https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/task-based-asynchronous-pattern-tap), not the [Task Parallel Library (TPL)](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-parallel-library-tpl).

[2018-04-20 13:40] Mike-EEE commented on #4973
Ah, right.  I think that speaks to items 2 and 3 in your list, @BillWagner. The `Task` is located in the `System.Threading.Tasks` namespace, and the first sentence out of TPL is "The Task Parallel Library (TPL) is a set of public types and APIs in the System.Threading and System.Threading.Tasks namespaces."

So it would seem that TAP is a subset of the TPL?  We are calling it a "pattern" but it se

[2018-04-20 13:46] svick commented on #4973
@Mike-EEE

Stephen Cleary wrote [a whole blog post on this topic](http://blog.stephencleary.com/2016/12/eliding-async-await.html), where he argues the opposite. The performance gains from avoiding `async`-`await` are relatively small and don't outweigh the pitfalls in the common case.

And even if the conclusion was that avoiding `async`-`await` should be recommended, I think the wording should be

[2018-04-20 14:04] svick commented on #4975
I think it depends on what you consider to be "CoreCLR".

If you count everything that's in the coreclr repo, then it indeed includes code written in C#.

But if you only include the actual runtime (and exclude core libraries), then I think it's fair to say that CoreCLR is written in C++.

Considering that this is just an example and not some in-depth description of what CoreCLR is, I think not me

[2018-04-20 14:41] Mike-EEE commented on #4973
LOL @svick that article is awesome.  Thank you for sharing it in addition to the great information about .NET Core and benchmarks.  I laugh here because apparently I have already read that article, posting a comment under it while complaining about async then as much as I am now. 🤣

I hope everyone here can appreciate the sheer amount of documentation, discussion, dissent, and confusion this topic

[2018-04-20 15:03] ShalokShalom commented on #4976
Oh, sorry and thank you ^-^

[2018-04-20 15:04] ShalokShalom commented on #4975
Which is what I mean, see the name of the issue. I consider C#/C++ also as correct :slightly_smiling_face:

[2018-04-20 15:06] ShalokShalom commented on #4975
I guess the person who wrote this, intended to spell C#/C++, so its probably a typo.

[2018-04-20 16:25] pkulikov commented on #4975
Yes, most probably, it's a typo. The full sentence:

with the link to the [CoreCLR repo](https://github.com/dotnet/coreclr) that contains 65% C# and 30% C++.

Though, I don't understand *... is platform-specific by construction.* @ShalokShalom @svick could please explain that.

[2018-04-20 16:34] rpetrusha commented on #4801
Thanks, @Mackiovello. Since this is a fairly substantial amount of work, the best way to approach this is to submit a separate PR for each token.

[2018-04-20 17:01] svick commented on #4973
@Mike-EEE

No, `async` is not magic and it's not really related to parallelism either. If you have a framework like ASP.NET, that can execute your methods in parallel (e.g. because multiple requests arrive at the same time), then it usually supports parallelism whether you use `async`, `Task`, or neither. It's just that when you use `async` properly, the degree of parallelism can be higher, becaus

[2018-04-20 17:32] ShalokShalom commented on #4975
I guess it means platform-independent?

[2018-04-20 17:42] #4959 closed

[2018-04-20 17:42] ShalokShalom commented on #4976
I guess they all for Windows only?

[2018-04-20 17:44] ShalokShalom commented on #4976
I am aware that some Windows exclusive libraries are not ported on .Net Core, this is why I write `OS-independent`

[2018-04-20 19:19] ShalokShalom commented on #4976
I see, thanks a lot.

[2018-04-20 23:06] bcumberledge commented on #3708
will this be fixed?

[2018-04-20 23:24] mairaw commented on #4801
should we just check off when both repos have been updated @rpetrusha? or maybe track each entry for each repo?

[2018-04-21 08:35] Mackiovello commented on #4801
Created eight pull requests. Will continue once those are approved and merged.

[2018-04-22 04:08] nhwilly commented on #4973
+1 for Cleary. Definitely "clearied" it up for me. 😀

Best explanation I've seen.