[2018-08-15 21:10] LisandroSu commented on #7035
Hi team,

The user created this issue because the document makes them create a folder called "Data" and then write some example code with that fact in mind.

But the word is not locked in the document so it's translated to Portuguese making it inconsistent with the code example.

Perhaps you can use `Data` every time the the word is used to refer to the directory so it can be locked.

Thanks!

[2018-08-15 21:34] pkulikov commented on #7024
@GalOshri the code uses [TextFeaturizer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.textfeaturizer?view=ml-dotnet) that seems to have been influenced by dotnet/machinelearning#548 (am I correct here?). So, two sets of numerical features produced by 0.3 and 0.4 versions might be different. Thus, trained models differ. Is my understanding correct?

[2018-08-15 21:36] JRAlexander commented on #6998
This appears to be resolved and will be closed. If that is not the case, @higtrollers, please reopen. Thanks, @svick, for your answer.

[2018-08-15 21:36] #6998 closed

[2018-08-15 21:42] JRAlexander commented on #6957
Thanks for the feedback, @RoswellMiller. This item has been added to the backlog.

[2018-08-15 22:11] GalOshri commented on #7024
Good point. It seems like the implementation changed which likely affects the predictions. @zeahmed, can you please verify this?

[2018-08-15 23:04] mairaw commented on #7035
I'll have to discuss this with the team @LisandroSu. When started the migration to docs, we standardized on using italic for paths. I know that backticks guarantee that the word is locked for translation, but using backticks for everything might make the topic look and feel heavy. We already use for so many things.

[2018-08-15 23:13] lukeperkins opened #7036 "Rewrite page for Linux"
Please provide the "deb" line so that I can update my "/etc/apt/sources.list". Then provide the "apt-get download" command line so that I can install this product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cfd5cf0-f28e-be49-227a-c2bbe4e57b8d
* Version Independent ID: 016b2a9c-d1c9-6909-df3e-a49db60b7654
* Content

[2018-08-16 00:00] MarqueIV opened #7038 "Your example code appears to be wrong."
Reading your example code for the void return type, I'm not sure it does what you think.  If you add that to a console app and run it, you get wildly inaccurate results.  Resetting the counter in the 'event handler' (while declaring an actual event handler that has nothing to do with the code) is just confusing.  I would revisit it with a better example. It doesn't clearly show what you think it d

[2018-08-16 00:10] EbrahimMajdey opened #7039 "Doesn't work with Zip64 files"
The ZipArchive can't read any entry that is larger than 4,294,967,295 bytes .. which is the old limit for zip files although the OS can read this.. would appreciate if such capabilities is enabled instead of using other packages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a46d025-34f1-9ac4-6d29-a8e527cc5f91
* Versi

[2018-08-16 00:33] zeahmed commented on #7024
Due the change in https://github.com/dotnet/machinelearning/pull/548, one of the prediction changed.

Previously, it was `12/18 = 0.666666`
No, it is `11/18 = 0.61111`

The dataset is so small to make any conclusion. However, @justinormont may help us on this.
@justinormont, Do we have benchmarks for it? Can you confirm if the change in TextFeaturizer has adversely effected the benchmarks?

[2018-08-16 01:04] gholliday opened #7040 "SchUseStrongCrypto and SystemDefaultTlsVersions registry keys are not retained after Windows 10 upgrades"
If the `SchUseStrongCrypto` or `SystemDefaultTlsVersions` registry keys are set on a machine running a particular version of Windows 10 (e.g. v1709), and that machine is then upgraded to v1803, those registry keys are not retained and are no longer set.

It would probably be best for customers if these registry key settings were retained/migrated between Windows versions.

In the absence of that,

[2018-08-16 01:31] blowdart commented on #7040
It's on the to be fixed list, as I'm sure you're aware.

[2018-08-16 02:04] gholliday commented on #7040
The docs are going to be updated, or the registry keys are going to be retained?

[2018-08-16 02:19] GalaxyFour opened #7041 "help"
how to select data when table is inserted with sqltransactions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fdf0875-ec95-805c-d1eb-774bb032822b
* Version Independent ID: 8facbdab-29f6-e657-460c-18b4346757e3
* Content: [SqlTransaction Class (System.Data.SqlClient)](https://docs.microsoft.com/en-us/dotnet/api/system.d

[2018-08-16 02:31] killaboy26 opened #7042 "First timer!"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-16 02:34] blowdart commented on #7040
The registry keys are getting listed so they are retained.

[2018-08-16 04:00] lindexi commented on #5319
We can only install dotnet framework 4.6.2 to win7 but we can install dotnet framework 4.7.2 in win7 sp1.

[2018-08-16 05:05] mairaw commented on #7042
Welcome! Since there are no issue reported here, I’m just closing this.

[2018-08-16 05:05] #7042 closed

[2018-08-16 06:01] pkulikov commented on #7024
@zeahmed is [this file](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/SentimentPredictionTests.cs) considered as benchmarks? That file was changed as part of dotnet/machinelearning#548 as well.

[2018-08-16 06:41] zeahmed commented on #7024
@pkulikov, no these are just tests. Benchmarks are different.

[2018-08-16 07:23] Kornelis opened #7044 "Error in the Stub static references "better" example?"
Hi,

shouldn't the optimized example of the `GetDiscountedPrice()` Method use `dateTimeProvider.DayOfWeek()` instead of `DateTime.Now`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51947dc8-9ae8-21fa-13db-a7ffb3f9bc0e
* Version Independent ID: be661bf5-6f6e-cd18-344b-253edf5751ae
* Content: [Best practices for writin

[2018-08-16 08:15] 0ndrej opened #7045 "Examples needed"
There is no example for such complex problem like setting ACL for folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cea9204-8831-ce57-c43b-8bf75fe65802
* Version Independent ID: ef7a786f-d2e0-5272-9aa1-fd3a4c8b8f49
* Content: [FileSystemSecurity.SetAccessRule(FileSystemAccessRule) Method (System.Security.AccessCo

[2018-08-16 08:31] AizazAZ opened #7046 ".Net supported version missing"
If I have to update so I have to see which .Net version is required for this control.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79395f69-e1fe-02ce-9687-923b42b96326
* Version Independent ID: de462407-3129-4299-6892-8106bf4823a7
* Content: [Differences Between the Windows Forms DataGridView and DataGrid Controls](h

[2018-08-16 08:57] TiltonJH opened #7047 "ECDsaCng(Int32 keySize) with 256, 384, and 521??"
ECDsaCng(Int32 keySize) with  256, 384, and 521??

There seems to be a typo: "521" should be "512".

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a06b91d3-b356-a754-757e-f90aeadebbad
* Version Independent ID: 4164272f-5b56-2cd0-7a42-62b2457ce860
* Content: [ECDsaCng Constructor (System

[2018-08-16 09:07] TiltonJH commented on #7047
Well I am wrong! Everything is korrekt. :-)

[2018-08-16 09:07] #7047 closed

[2018-08-16 09:11] lfr opened #7048 "It would be nice to get the C# releases in the form of a feed"
This way I could have C# releases and their descriptions appear in my news aggregator!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's New in C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/cshar

[2018-08-16 12:43] KlausLoeffelmann commented on #6525
A value different from its Parent is only stored on assignment. When there is no dedicated value set, the Parent's property value is taken in the Get Accessor from the Ambient's property.

Usually, for example with the Font property, you can set the value to null (Nothing in VB) to reset it to the Parent's value. For Color Properties, you could set the Properties to Color.Empty. Rule of thumb here

[2018-08-16 12:52] BillWagner commented on #7044
Thanks for reporting this @Kornelis  We appreciate it.  You are correct, the final version of the code under test should make use of the `IDateTimeProvider` object.

@jpreese Do you want to submit the fix, or should I?

[2018-08-16 12:57] BillWagner commented on #7048
@dend I thought this was implemented, but I can't find the widget. Do you remember?

[2018-08-16 13:01] svick commented on #7039
First, this repo is for feedback on the documentation, so I think this issue doesn't belong here, unless you think this is something that should be pointed out in the documentation.

Second, as far as I can tell from https://github.com/dotnet/corefx/issues/9925, .Net Core does support Zip64 files. .Net Core improvements are sometimes ported to .Net Framework, though I'm not sure how likely is that

[2018-08-16 14:24] ravidw opened #7051 "bcdc.Method1();"
It is not clear why "bcdc.Method1();" returns "Derived - Method1" after using overide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4702e20f-4482-e0ce-bf61-784d436b64d5
* Version Independent ID: c88cfd2b-fdee-64eb-c26c-4d808e82e8b6
* Content: [Knowing When to Use Override and New Keywords (C# Programming Guide)](http

[2018-08-16 14:26] #7030 closed

[2018-08-16 14:41] michaelbaranov opened #7052 "Section ".NET Framework version earlier than 4.7" misses 4.5.2 version"
There is information for 4.6 - 4.6.2 and 3.5 - 4.5.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7341fa0a-f474-6c2d-d3c0-7e2df12fbb65
* Version Independent ID: e99c489a-7518-d293-ad93-7eaca8b7191a
* Content: [Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotn

[2018-08-16 14:45] blowdart commented on #7052
@mairaw @Rick-Anderson 4.5.2 would just be the same as 4.5.1, so where it currently says 4,5.1 replace with .2

[2018-08-16 14:50] ygoe opened #7053 "Exception already being thrown"
So the Parallel class looks at the CancellationToken [from time to time, that's not specified] to prematurely end the loop. But what happens if the OperationCanceledException was already thrown from within the code executed in parallel, using the same CancellationToken? Will it be caught and handled properly? Or will it be passed on in some form of AggregateException just like any other exception

[2018-08-16 14:55] jpreese commented on #7044
Good catch @Kornelis! I've added a PR for this, @BillWagner.

[2018-08-16 15:02] #6507 closed

[2018-08-16 15:05] #7044 closed

[2018-08-16 15:09] LisandroSu commented on #7035
Hi @mairaw

Thanks for the answer!

[2018-08-16 15:11] LisandroSu commented on #7035
Hi @mairaw

Thanks for the answer. We will also process the PR you requested as soon as possible.

CC: @Sara-Nicolini

[2018-08-16 15:24] LisandroSu opened #7055 "文章中改突出的行没有突出"
@hjkl950217 commented on [Wed Aug 15 2018](https://github.com/dotnet/docs.zh-cn/issues/187)

文章中有提到“请注意突出的行”。但是实现显示时，代码中并没有看到有突出行

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 36115425-3181-1363-dcbd-42e48db8613c
* Version Independent ID: 57ca5426-2ae3-7260-cef9-e92dc9d4e856
* Content: [委托和 lambda](https://docs.microsoft.com/zh-cn/dotnet/standard/delegates-lambdas#

[2018-08-16 15:27] JRAlexander commented on #7055
@LisandroSu, can you please translate?

[2018-08-16 15:27] LisandroSu commented on #7055
Hi team,

The issue created by the user is about the documentation saying there are some "highlighted" lines of code but there's no highlighted code in the examples.

I checked the localized and source documents and neither have any highlighted lines of code. Could you help us out with this?

Thanks!

[2018-08-16 15:29] #6620 closed

[2018-08-16 15:29] spottedmahn commented on #7013
Hi @mairaw - sorry, I went too fast.

I was referring to switching an ASP.NET Core project to run on .NET Core to .NET Full Framework or vice versa.

[2018-08-16 15:39] JRAlexander commented on #7036
@lukeperkins Click on the appropriate install link and it will take you to the download page which has those instructions.

[2018-08-16 15:40] JRAlexander commented on #7036
Closing as this appears resolved.

[2018-08-16 15:40] #7036 closed

[2018-08-16 16:08] rickfleischer opened #7056 "Error in example"
counter = ++counter + numberOfEmployees; // logic is wrong; should be
counter = ++numberOfEmployees; // add a few employees and you will see

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8e455c-1162-d046-ed70-22dfe96cbbad
* Version Independent ID: 9448a018-a06c-0ae5-049b-c4c424d1df9a
* Content: [Interface Properties

[2018-08-16 16:35] danmosemsft opened #7057 ".NET Core samples should not include CAS elements"
In .NET Core, CAS types (like `FileIOPermission`, etc) and Security Transparency types are stubbed only. CAS is not supported. Therefore the samples in .NET Core topics should not include use of them.

For example, in the [AppDomain.UnhandledException topic](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.unhandledexception?redirectedfrom=MSDN&view=netcore-2.1) for .NET Core 2.1 it ha

[2018-08-16 17:15] douglaslMS commented on #7041
@GalaxyFour Can you please clarify the case that you're asking about? Do you mean, how to select data when you have _created_ the table inside a transaction, or how to select data when you have _inserted the data_ inside a transaction? Are you running into a specific error or failure that you're trying to resolve?

[2018-08-16 17:34] BillWagner commented on #7056
Thanks for pointing this out @rickfleischer

I've added it to our backlog.

If you'd like to submit a PR, I'll look at it and approve it.

[2018-08-16 18:19] cosminpopescu opened #7059 "The internal class example is wrong"
The internal class example is wrong, it should be:
cd.TypeAttributes = (cd.TypeAttributes & ~TypeAttributes.VisibilityMask) | TypeAttributes.NestedAssembly;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c5c2594-2426-4d75-667d-021257a805db
* Version Independent ID: 48d7c991-161d-4601-8c49-975109680e2e
* Content: [Code

[2018-08-16 19:18] boskjoett opened #7062 "Broken link"
First link under Related Resources is broken.
URL: https://github.com/dotnet/dotnet-docker-samples/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ef1481-3b6f-30bf-330d-45400c0a349c
* Version Independent ID: 03a156f7-b178-4d54-503d-26d229f89dcd
* Content: [Learn Docker Basics with .NET Core](https://docs.mic

[2018-08-16 20:07] mairaw commented on #7062
Thanks for reporting the issue @boskjoett. I've opened a PR to fix this.

[2018-08-16 20:17] mairaw commented on #7052
There's also a PR from @karelz that I just couldn't get to finish yet (#4807) where he was trying to reorganize the section to have the information better organized.

[2018-08-16 20:37] JRAlexander commented on #7046
Hi, @AizazAZ, You can click on the DataGridView link in the article, which will take you to the API page. On the right-hand side, click on the Applies To link, which will show you the applicable versions.  I've also included the link [here](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagridview?view=netframework-4.7.2#applies-to). Closing this item as I believe it is resolve

[2018-08-16 20:37] #7046 closed

[2018-08-16 20:38] MelbourneDeveloper opened #7064 "docs/docs/core/tools/csproj.md Missing NuGet Summary"
There is no metadata field for NuGet Summary

EDIT by Thraka to add in the docs header info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj format for .NET Core - .NET Core CLI](https:/

[2018-08-16 20:42] #7062 closed

[2018-08-16 20:45] mairaw commented on #7057
Thanks @danmosemsft. I've added this issue to our security review project. We're hoping to get started on this soon.

[2018-08-16 20:49] fhaag opened #7065 "Docs on Configuration.GetSection do not specify what happens if section does not exist"
The documentation on Configuration.GetSection indicates the method returns a configuration section by its name.

If the supplied section name is not found, is the behavior really undefined? Or will the method return null or throw an exception?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

*

[2018-08-16 20:57] mairaw commented on #7065
Thanks for your question @fhaag. We'll need  to investigate the behavior but it's good info to be on the docs. For now, we added to our backlog.

[2018-08-16 21:07] mairaw commented on #7013
@Rick-Anderson @scottaddie do we have any guidance on that?

[2018-08-16 21:12] cartermp commented on #7013
In general, I would not recommend switching back and forth.

Unless you have a hard requirement to run on Windows and .NET Framework. If that's not a requirement, then running against .NET Core is probably preferable.

[2018-08-16 21:45] JRAlexander commented on #6664
@bartonjs, has this been resolved? Thanks!

[2018-08-16 21:48] bartonjs commented on #6664
It's resolved in master, but not in the wild.

[2018-08-16 21:48] JRAlexander commented on #6503
@GalOshri - Is this due to the small training dataset, or something else?

[2018-08-16 21:50] JRAlexander commented on #6664
Ok, I'll leave this open, then. Thanks!

[2018-08-16 21:52] bartonjs commented on #6664
@JRAlexander  Oh, I interpreted the question wrong :).  I don't know that we want a docs change, since it's tracked as a product bug.

[2018-08-17 01:12] BillWagner commented on #7038
Thanks for pointing this out @MarqueIV

I've added it to our backlog, and our project to improve the async docs in general.

[2018-08-17 01:39] Xenoprimate commented on #5763
Hopefully I'm not too late but there's an example where volatile makes a difference (the last time I tested with x64 Release .NET Framework anyway) at http://benbowen.blog/post/cmmics_iii/variable_caching_example.html

The loop can fail to terminate at all if `cancelLoop` is not marked `volatile`.

[2018-08-17 04:25] vargonian opened #7071 ""// Set every third value to 255. A 24bpp bitmap will look red." ?"
If it's R-G-B, and you set every third value to 255, woudn't the image look Blue instead since you're maximizing the B component?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db2910e8-eec8-8481-4e6c-5b6ae92b4ec2
* Version Independent ID: 86aadb11-92ea-2fbe-c511-c310b68a24c0
* Content: [Bitmap.LockBits Method (System.

[2018-08-17 05:54] vertxxyz opened #7072 "Incorrect documentation formatting:"
"For example, when embedded in a block of text, the characters &lt; and &gt; are encoded as &lt; and &gt; for HTTP transmission."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e426331-b0f4-6ea3-4ffd-b7420243e533
* Version Independent ID: f5a3e4c9-bff0-3e43-3006-4bb272873b63
* Content: [WebUtility.HtmlEncode Method (S

[2018-08-17 05:59] mairaw commented on #6945
If you'd like it to stand out, then yes! Otherwise, just regular text on the Remarks section @pjanotti. Thanks!

[2018-08-17 07:04] horizonshd commented on #6971
System.TypeLoadException:“Could not load type 'System.Runtime.Remoting.Messaging.IRemotingFormatter' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.”

[2018-08-17 07:19] heartlocker opened #7073 "This value will also throw PathToolong Exception."
why don't mention it in the doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe9762a-d3f4-4052-8b1b-f040e0964703
* Version Independent ID: 9545fb5a-e7b1-9aff-4384-723e27a49f17
* Content: [FileInfo.Directory Property (System.IO)](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileinfo.directory?view=netframew

[2018-08-17 11:08] adrianoc opened #7074 "Incomplete documentatoin"
Please, add a remark that you need to pass *FileShare.Delete*  for files open with *DeleteOnClose* if that file is intended to be opened by other processes. I only figure that out after reading CreateFile() Win32 function docs (https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-createfilew)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-08-17 13:38] JRAlexander commented on #7035
This is also an issue in https://docs.microsoft.com/pt-br/dotnet/machine-learning/tutorials/sentiment-analysis.

[2018-08-17 13:39] spottedmahn commented on #7013
Hi @scottaddie - the other way 😢.  I started an ASP.NET Core 2.1 app **targeting Core** and then needed to reference `System.Data.OleDb` which apparently is a Windows only thing.

At that point, I needed to **switch** to targeting the full framework.  I ended up creating a new project and copied the `.csproj` contents to my original project.

I also learned about this along the way: [Windows Compa

[2018-08-17 13:44] #7072 closed

[2018-08-17 13:59] ahockersten opened #7075 "requestValidationMode=0.0 undocumented"
It seems, according to the reference source code (https://github.com/Microsoft/referencesource/blob/master/System.Web/HttpRequest.cs), that it is possible to set requestValidationMode="0.0", to disable validation completely. In fact, looking at that code (and my own experiments) setting it to "2.0" will not disable request validation completely, only setting it to "0.0" will do that.

This also me

[2018-08-17 14:09] LogOg commented on #7029
Hi Guys,

As this is the first people will see when investigating ML. Net I think it
is worth getting better samples, You probably need more like 5000 samples
and rather shorter less obscure samples. The model can then really train
properly and would be great if the example allowed typing in sentiments for
prediction even in razor but adding or changing in code is also fine.

Thx,

Logan

On Wed,

[2018-08-17 14:28] JRAlexander commented on #6664
Ah, ok. I'll close this, then. Thanks!

[2018-08-17 14:28] #6664 closed

[2018-08-17 14:40] NishantThakkar opened #7077 "Unable to build Project"
# Unable to build Project
Getting error message: CS5001 Program does not contain a static 'Main' method suitable for an entry point.

![2018-08-17_20-06-55](https://user-images.githubusercontent.com/5793534/44272063-6ed45b80-a259-11e8-82be-6a439e0169e8.png)

[2018-08-17 14:54] JRAlexander commented on #7077
Hi, @NishantThakkar, did you download the sample or work through the tutorial?

[2018-08-17 14:57] JRAlexander commented on #7045
@0ndrej, I think this is what you are looking for: https://docs.microsoft.com/en-us/dotnet/api/system.security.accesscontrol.directorysecurity?view=netframework-4.7.2

[2018-08-17 14:59] JRAlexander commented on #7045
@0ndrej, I believe this is resolved, so I'm closing it. If this isn't the case, please reopen.

[2018-08-17 14:59] #7045 closed

[2018-08-17 15:04] NishantThakkar commented on #7077
@JRAlexander, I have work through the tutorial not downloaded tutorial.

[2018-08-17 15:13] JRAlexander commented on #7077
Check your properties on Program.cs. Sounds like you may have changed the build action. Should be "C# compiler".

[2018-08-17 15:30] scottaddie commented on #7013
@spottedmahn See https://github.com/dotnet/corefx/issues/23542 for a discussion on this. I recommend joining the conversation over there.

[2018-08-17 15:57] ahaleiii opened #7078 "Socket.HttpHandler.PooledConnectionIdleTimeout - Description"
The description for this property is empty. What does it do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60aa45a1-13df-651d-a76e-272340101889
* Version Independent ID: 625861ca-de59-a421-bbd5-de2bae9f4f52
* Content: [SocketsHttpHandler.PooledConnectionIdleTimeout Property (System.Net.Http)](https://docs.microsoft.co

[2018-08-17 16:40] mairaw commented on #6971
Yes, I can repro that.

The issue is that our site still cannot handle the attributes per platform. The attribute is not quite the same.
On the source you can see that some should be applied to .NET Framework and some to .NET Core:
![image](https://user-images.githubusercontent.com/12971179/44278007-808a1480-a201-11e8-9d2b-9b9cefc3ba98.png)

/cc @dend

@horizonshd I don't understand your comment t

[2018-08-17 17:36] mairaw commented on #7078
The SocketsHttpHandler is a new class in 2.1 and we haven't documented yet @ahaleiii. @karelz @davidsh can your team provide us some basic descriptions for the APIs in this class so we can get the docs done?

[2018-08-17 17:46] JRAlexander commented on #7077
@NishantThakkar, closing this as it appears to be resolved.

[2018-08-17 17:46] #7077 closed

[2018-08-17 18:02] mairaw commented on #6525
Thanks Klaus. @KlausLoeffelmann do you think we need to improve the docs in respect to that?

[2018-08-17 18:30] NetMage opened #7079 "Paging Methods description poor"
Paging Methods says they return a single, specific element, but then includes methods like Skip, Take and TakeWhile that return multiple elements, and also TakeWhile is unsupported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeb5d98e-7ea1-6cad-8cb3-7c4a2495eb9a
* Version Independent ID: c3347c02-11ea-79f2-35cd-abf8

[2018-08-17 20:18] xdvarpunen commented on #7013
@spottedmahn You might not need OleDb. I had to query data from Access `.mdb` and utilizing System DNS with `Windows Compatibility Pack for .NET Core` given `System.Data.Odbc` and installing Access database 64-bit drivers separately for that worked fine in .NET Core 2.1 👍 But spending 99% time in documentation is not fun 😢

[2018-08-17 20:45] shatl commented on #6881
@crtjr64  please read carefully https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creating-and-throwing-exceptions#things-to-avoid-when-throwing-exceptions :)

[2018-08-17 20:55] mairaw commented on #7075
Thanks for your feedback @ahockersten. @scottaddie @Rick-Anderson can one of you look at this?

[2018-08-17 20:58] spottedmahn commented on #7013
Oh, nice, thanks @xdvarpunen!

We're working to query Visual FoxPro 🙀 which seems to [only support this OleDb provider.](https://www.microsoft.com/en-us/download/details.aspx?id=14839)

[2018-08-17 20:59] BillWagner commented on #6881
I read @shatl 's original issue as recommending against throwing `System.Exception`. Is that what you meant?

@crtjr64 did you think he was recommending against throwing *any* exception?

[2018-08-17 21:07] BillWagner commented on #6893
The conventions for this issue need to be something that can't be handled with [editorconfig](https://docs.microsoft.com/visualstudio/ide/editorconfig-naming-conventions). And, as part of the tutorial this needs to explain that for scenarios supported by editorconfig rules, editorconfig is a better choice.

[2018-08-17 21:45] kwalker360 opened #7083 "Inaccuracies on ManualResetEvent page"
I see two issues here:
(1) The C# code showing the class definition shows ManualResetEvent inherits from EventWaitHandle, but the Inheritence section shows it inherits from WaitHandle.
{2} The Reset() method is missing from the list of methods. (Fortunately it is discussed in the Remarks section and the link there works.)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-17 22:03] mairaw commented on #7013
@divega can you comment here?

[2018-08-17 22:27] mairaw commented on #7083
Thanks @kwalker360 for your feedback. It seems that our reflection tooling understands there differences between versions but then the UI doesn't know how to handle that:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Threading/ManualResetEvent.xml#L27

Given that this issue requires engineering work, I'm moving this to https://github.com/MicrosoftDocs/feedback/issues/616

/cc @d

[2018-08-17 22:27] #7083 closed

[2018-08-17 23:00] kwalker360 commented on #7083
Okay, thanks!

[2018-08-17 23:44] divega commented on #7013
I have not used this but an ODBC driver for Visual Fox Pro exists: https://docs.microsoft.com/en-us/sql/odbc/microsoft/visual-foxpro-odbc-driver?view=sql-server-2017. If you try that, it would be great to hear how it goes.

[2018-08-18 06:55] johnkors commented on #6706
@KathleenDollard / @JRAlexander , I came here for the same thing. Might be useful to addition to the docs. Currently the `--tool-path` is documented, but it would be even clearer if you had a specific "How to test your tools locally" section.

[2018-08-18 12:16] svick opened #7086 "Documentation for CodePagesEncodingProvider is out of date"
This page has several issues:

1. It claims `CodePagesEncodingProvider` is not available for .Net Core 2.1, which is not true. (In fact, it's a NuGet package, so AFAIK it's not part of any .Net TFM, but works in any .Net Standard 1.3+ TFM, if installed. But I think that's a larger issue that's out of scope here.)
2. It claims it's only relevant for .Net Native. That's not true, `CodePagesEncodingP

[2018-08-18 15:33] spottedmahn commented on #7013
Oh, nice, we'll have to try it out, thanks @divega!  And the documentation looks very thorough (unlike the zero documentation on the OleDb provider)!

[2018-08-18 15:35] spottedmahn commented on #7013
Hi @mairaw - so back to my original issue... how would one switch between the full framework and core and vice versa?

Is there any guidance/documentation already on this topic?  Thanks!

[2018-08-18 16:06] ghost opened #7095 "checksum usage"
In which ASP.NET project file are we supposed to use the #pragma checksum directive?

I created a ASP.NET project and I did not find a checksum nor a .aspx file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 210e00ee-38fd-1392-c684-8a340e6b9df6
* Version Independent ID: af2c6344-1de0-ecb5-10c3-c6ccf238e372
* Content:

[2018-08-18 16:12] ghost opened #7096 "target framework preprocessor symbols"
If those preprocessor symbols are predefined, why can't I use them?

For example, I created a console app  that targets the .Net Framework 4.7.2.

I would expect that the NET472 symbol would be defined but it isn't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a331b150-4033-7629-75ad-9f9ea74f3ce5
* Version Independen

[2018-08-18 16:24] LambertWM opened #7098 "Incorrect?"
The page with title "ToolStripLayoutStyle Enum" contradicts the statement that "Table" is the default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b11141f0-dc8e-f533-3057-d41ac21d8e9b
* Version Independent ID: 821e80b7-e61e-28ab-4e1b-624f27cc3d2b
* Content: [StatusStrip.LayoutStyle Property (System.Windows.Forms)](h

[2018-08-18 18:29] simonpapworth6742 opened #7099 "Also see Intersect which does the opposite."
Also see Intersect which does the opposite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fb66fb-9a33-2550-2783-7ce2a4760219
* Version Independent ID: 2e80b927-7888-1fc8-7db9-d052b33ac87a
* Content: [Enumerable.Except Method (System.Linq)](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.except?vie

[2018-08-18 18:29] simonpapworth6742 opened #7100 "Also see Except which does the opposite."
Also see Except which does the opposite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 722d6038-c75b-426d-5344-c9b91e525453
* Version Independent ID: 32b9aa16-56a7-4c9a-f71a-b594a2df9e61
* Content: [Enumerable.Intersect Method (System.Linq)](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.intersect?

[2018-08-18 19:36] shatl commented on #6881
@billwagner exactly

[2018-08-18 21:24] dansiegel opened #7101 "GeneratePackageOnBuild missing from docs"
There doesn't seem to be any reference here (which there should be IMO) to the GeneratePackageOnBuild property. It would be great to have it added to the docs particularly with an explanation of how it works with IsPackable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version In

[2018-08-19 01:00] leecow opened #7103 "Alpine Linux installation links are wrong"
https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites

All links point to the SLES install page rather than the Alpine pages. Should be:

* Runtime - https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.1.2-linux-x64-alpine-binaries
* SDK - https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.400-linux-x64-alpine-binaries

Other available versions can be seen on

[2018-08-19 07:05] raych1 opened #7106 "Switch.System.Net.DontEnableSchUseStrongCrypto and Switch.System.Net.DontEnableSystemDefaultTlsVersions not working in web.config"
It works when I set them in app.config for console application. However, it doesn't work when set them in web.config for website project.
This is the settings I add.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e59350ee-7837-34f8-b50e-c9c136720155
* Version Independent ID: 19747ce7-da26-bf2e-5066-1df11e61b0d0

[2018-08-19 09:38] su8898 opened #7107 "Incorrect variable name"
In the "Creating a continuation for a single antecedent" example, variable `taskB` is mentioned in the description but its not named accordingly in the code sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be073b14-6d0b-60be-7dff-4674bcb6c674
* Version Independent ID: a5fa3e78-73de-3360-1253-00545a2b4ef2
* Conten

[2018-08-19 10:39] xdvarpunen commented on #7013
@spottedmahn To convert to full framework change `<TargetFrameworkVersion>net471</TargetFrameworkVersion>` in .csproj, reinstall existing and check nugets compatibility. Going back to Core is done same way.

Changing targetframework documentation can be found [here.](https://docs.microsoft.com/en-us/dotnet/standard/frameworks)

[2018-08-19 11:06] fredlllll opened #7108 "UdpState class does not exist but is used in example"
There is no such class as UdpState. where the hell does this come from? the example is not working with that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1939bdd8-db2d-c0af-0e4d-121c9abf261f
* Version Independent ID: fab051cf-b3ec-889e-8b2b-2c41473084ea
* Content: [UdpClient.BeginReceive(AsyncCallback, Object) Method

[2018-08-19 11:51] Brutiful-Games commented on #7108
It is a user-defined class according to MSDN Help.  This is according to bensari's response in this post:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/4c2a3db7-5f82-4cae-9589-ad720b8efb64/where-can-i-find-udpstate-udp-programming-problem?forum=csharpgeneral

[2018-08-19 12:01] fredlllll commented on #7108
then that should be inside the example. though i am still wondering how i can cast a System.Net.Sockets.OriginalAddressOverlappedAsyncResult (which is what i get when debugging) to a custom type that has nothing to do with it. especially as the mentioned type is an internal one.

[2018-08-19 14:12] spottedmahn commented on #7013
Nice, thanks @xdvarpunen!

What about a link to that page on "this" page?  Thoughts? 💭

![image](https://user-images.githubusercontent.com/14079228/44309680-57e85300-a398-11e8-9550-8d0fca994c39.png)

[2018-08-19 14:29] sulustart opened #7111 "Step 1 of "To Change Appearance of Characters" is wrong"
The original text says, "Set the SelectionFont property to an appropriate font." But the correct property name in Visual Studio 2017 for a Windows Forms RichTextBox is "Font" property. There is no "SelectionFont" property. (-sulu@startmail.com)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

When I said above "Visual Studio 2

[2018-08-19 20:15] james-k-polk commented on #5361
I'm afraid these rules are somewhat inadequate because they fail to account for a large class of legitimate RSA parameters that might be generated by other software. In particular, the restriction of P and Q to lengths of **exactly** half the modulus length is too restrictive. Consider the following 1024-bit example: the prime P is about 512.1 bits, and the prime Q is about 511.1 bits. Their produ

[2018-08-19 20:54] stevehtml opened #7112 "Docs for Dummies !"
Been to many sites have excellent explanations miles over my head , or examples I need a degree in computer science to follow so this is very refreshing Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e002f1d1-62ea-2075-f223-3da0afa9a779
* Version Independent ID: 1e082b3e-0d02-f6f0-90bb-5de3980b07fe
* Conten

[2018-08-19 22:53] skylord-a52 commented on #6218
Rather/as well as than using shell commands, which may be confusing to those new to Visual Studio (like myself), I'd recommend including in-GUI ways to do the same thing.

`dotnet new -i NUnit3.DotNetNew.Template` can be avoided by installing the NUnit VS Packages from the Marketplace within Visual Studio, for example, and adding new solutions and linking references are fairly simple to do from wi

[2018-08-20 01:47] raych1 commented on #6966
Related to [Microsoft/dotnet#816](https://github.com/Microsoft/dotnet/issues/816)

[2018-08-20 01:48] raych1 commented on #7106
Related to [Microsoft/dotnet#816](https://github.com/Microsoft/dotnet/issues/816)

[2018-08-20 05:29] BKSpurgeon opened #7114 "Further Implementation details would be nice"
Would like to see how Create(String, Int32, FileOptions) and Create(String, Int32, FileOptions, FileSecurity) is implemented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d94a8d-341c-5f29-7640-704144f60b69
* Version Independent ID: bb63691f-ecc3-0e26-3297-32b6e329d06a
* Content: [File.Create Method (System.IO)](htt

[2018-08-20 12:28] boskjoett opened #7115 "Not supported on .NET Core 2.x"
This method, and ToXmlString, is not supported on .NET Core 2.x so .NET Core 2.0/2.1 should not be mentioned in Applies To section.
See: https://github.com/dotnet/corefx/issues/23686

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e4d7732-8ac1-09f6-a2b4-859e1eeb405e
* Version Independent ID: a51533e9-699e-cf31-aca6-2a8

[2018-08-20 12:56] eladpotok opened #7116 "chain of owner window"
assume that I have a chain of WPF windows which have an ownership.
window1 is owner of window2.
windo2 is owner of window3 and etc.

I found out that the ownership is broken at the 50s window.
does anyone know why and how can I solve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e12b63-d52c-fa7a-2af6-bcdcd1c35

[2018-08-20 13:50] paultechguy opened #7118 "Incorrect | (logical OR) symbol in example"
else if (b1 == null | b2 == null)

should be:

else if (b1 == null || b2 == null)

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.iequalitycomparer-1?redirectedfrom=MSDN&view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a605459-4c87-84d5-56d5-e6b43c42c9c2
* Version Independ

[2018-08-20 14:59] johnnyagerard opened #7120 "missing command?"
Using the C# compiler help in the command line (by typing "csc /?", I can see that this compiler option is unlisted.
Furthermore, I get the following result:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be33a52b-a760-85f8-c17c-0f183284569e
* Version Independent ID: eca8e682-35f9-d939-5fd1-c2b44614c19a
* Conten

[2018-08-20 15:01] johnnyagerard commented on #7120
first line of console code is:
C:\Users\johnn\source\repos\Test>csc *cs /bugreport:name

[2018-08-20 15:11] anaki99 commented on #5360
Not working with DownloadFileAsync.

[2018-08-20 15:38] JRAlexander commented on #7077
That's good to hear!

[2018-08-20 15:44] BillWagner commented on #5763
@Xenoprimate I used your sample code on .NET Core and .NET Framework on a PC (64 bit) and .NET Core on Mac. It ran to completion in all cases, with or without the `volatile` keyword.

I still think the right answer is to remove the sample.

[2018-08-20 15:48] JRAlexander commented on #7103
Thanks, @leecow. I'll get it updated straightaway!

[2018-08-20 15:49] #6988 closed

[2018-08-20 16:06] jahbenjah opened #7123 "How can I use C# version 7.3?"
I'm running this example with dotnet version 2.1.400 in VSCode and get the warning  "CS8371: Field-targeted attributes on auto-properties are not supported in language version 7.0. Please use language version 7.3 or greater."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7bc5cfb-d247-62c8-2173-9403efe72b16
* Version

[2018-08-20 16:13] BKSpurgeon commented on #7114
That's correct.

Thank you for the link.

A simple Google search didn't yield the source code.

rgds

[2018-08-20 16:13] #7114 closed

[2018-08-20 16:29] jahbenjah commented on #7123
Here is the answer [Select C # language version] (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version) but I think these documents should be linked in some way.

[2018-08-20 16:30] douglaslMS commented on #7041
@GalaxyFour Can you please clarify your question? See my comment from last week. Thanks.

[2018-08-20 17:32] #7013 closed

[2018-08-20 17:36] Xenoprimate commented on #5763
@BillWagner I think unfortunately that's the nefarious nature of multithreading issues. Especially with something like `volatile` it's basically a gamble each time whether or not your failure condition will show up; and may depend on the platform, build type, cpu architecture, time of day, number of butterflies nearby...

I still think having a small example of a case where `volatile` makes a diff

[2018-08-20 17:46] douglaslMS commented on #7079
Based on [Supported and Unsupported LINQ Methods (LINQ to Entities) | Paging Methods](Paging Methods), it seems that the only supported methods are: **First, FirstOrDefault, Single, SingleOrDefault, Skip, Take**. So it seems that this list needs other corrections in addition to the corrections you're suggesting. Do you agree?

[2018-08-20 17:51] spottedmahn commented on #7013
Thank you so much to everyone in this thread!!

[2018-08-20 17:58] scottaddie commented on #7013
@spottedmahn Thank you for helping us improve the docs.

[2018-08-20 18:01] Rick-Anderson commented on #7075
@danroth27  who can review this?

[2018-08-20 18:15] danroth27 commented on #7075
@Eilon ?

[2018-08-20 18:15] Rick-Anderson commented on #7075
@HongGit can you answer this?

[2018-08-20 18:27] rpetrusha commented on #6979
Thanks for pointing this out, @ChrisMaddock. I'll investigate and update the documentation.

[2018-08-20 18:28] rpetrusha commented on #7112
Thanks for the positive feedback, @stevehtml. We're pleased that you found this content to be helpful and accessible.

[2018-08-20 18:28] #7112 closed

[2018-08-20 18:43] brian-thompson opened #7126 "Are there actually any unsupported platforms?"
The documentation states that Environment.GetFolderPath can throw a PlatformNotSupportedException.  Are there actually any platforms that will trigger this exception?

If so, they ought to be listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab867d87-5271-6b58-dbbd-f8e9d08a0f86
* Version Independent ID: f7951

[2018-08-20 19:00] mairaw commented on #7126
It seems to be based on a Windows native error code:
https://referencesource.microsoft.com/#mscorlib/system/environment.cs,1522

Not sure if we can call out which platforms can trigger that exception. @karelz who could help with this question?

[2018-08-20 19:09] mairaw commented on #7100
Thanks @simonpapworth6742. Are you suggesting that we add a See also to Except?

[2018-08-20 19:16] rpetrusha commented on #7111
Thanks for your comment, @sulustart. Applying a font or color to selected text is very different from applying it to all text in the text box, which is what the Font property does. The SelectionFont property is not visible in the Visual Studio properties window, since the presence of selected text is a runtime-only characteristic. The SelectionFont and SelectionColor property values can only be se

[2018-08-20 19:16] #7111 closed

[2018-08-20 19:39] HongGit commented on #7075
@ahockersten what you have observed is correct.
Setting _requestValidationMode="0.0"_ will completely disable request validation in an application.
Setting _requestValidationMode="2.0"_ will revert back to the original behavior.

This change was added in .NET 4.6 and above.

@Rick-Anderson could you please help us to get the documentation updated?

[2018-08-20 20:09] rpetrusha commented on #7116
Thanks for your comment, @eladpotok. This is a good question to ask on [StackOverflow](https://www.stackoverflow.com).

[2018-08-20 20:09] #7116 closed

[2018-08-20 20:10] simonpapworth6742 commented on #7100
Hi, yes just need a reference to the related function

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Monday, August 20, 2018 8:09:08 PM
To: dotnet/docs
Cc: simonpapworth6742; Mention
Subject: Re: [dotnet/docs] Also see Except which does the opposite. (#7100)

Thanks @simonpapworth6742<https://github.com/simonpap

[2018-08-20 20:13] rpetrusha commented on #7053
Thanks, @ygoe, for your comment. We've added this issue to our backlog.

[2018-08-20 20:17] rpetrusha commented on #7000
Thanks for pointing out the duplication, @vladkolodka. We'll remove one of the topics in the near future.

[2018-08-20 20:25] rpetrusha commented on #7001
Thanks for your question, @breyed. We'll investigate and update this issue.

[2018-08-20 20:29] mairaw commented on #5875
Moving this to our backlog for now.

[2018-08-20 20:30] rpetrusha commented on #7002
Thanks, @svick, for pointing out the issues with this topic. We'll investigate and update this issue. @cartermp, do you have any context on this code?

[2018-08-20 20:33] rpetrusha commented on #7107
Thanks for pointing out the incorrect variable name, @su8898. We'll correct the error in the near future.

[2018-08-20 20:36] rpetrusha commented on #7099
Thanks for noting the missing cross-reference, @simonpapworth6742. We've noticed that cross-references are generally missing from the Enumerable documentation. Might you be interested in submitting a PR to address this issue?

[2018-08-20 20:39] rpetrusha commented on #7014
@Lxiamail @mconnew can you comment on this issue?

[2018-08-20 20:47] rpetrusha commented on #7115
Thanks for pointing this out, @boskjoett. We'll modify the documentation to note that a method call on .NET Copre throws a not supported exception.

[2018-08-20 20:53] rpetrusha commented on #7118
Thanks for your comment, @paultechguy. Would you like to submit a PR to address this issue?

[2018-08-20 20:57] rpetrusha commented on #4649
Closing, since there's been no discussion, which suggests that the additional interop topics do not need to be migrated.

[2018-08-20 20:58] rpetrusha commented on #7012
@davidsh, can you comment on this issue?

[2018-08-20 21:00] mairaw commented on #6722
Thanks @pkulikov. This seems the same issue as https://github.com/MicrosoftDocs/feedback/issues/616, so I'm closing this one as duplicate.

[2018-08-20 21:00] #6722 closed

[2018-08-20 21:15] rpetrusha commented on #7098
Thanks for pointing out the contradiction, @LambertWM. Evidently, the ToolStripLayoutStyle enumeration documentation was written under the assumption either that ToolStrip was the only control that a LayoutStyle property or that no derived class of ToolStrip overrode the property value.

We've addressed this issue in dotnet/dotnet-api-docs#446.

[2018-08-20 21:40] mconnew commented on #7014
All the timeouts close the session once the specified time has elapsed. The existing description is accurate as "when no messages have been received for a while" is another way of saying the same thing as the existing description.

[2018-08-20 21:54] gosali opened #7135 "La dirección de UploadFile necesita incluir un nombre de archivo. Al cargar archivos con el método UploadFile , debe proporcionar un nombre de archivo en la ruta de acceso de destino."
@yapusito commented on [Sat Aug 18 2018](https://github.com/dotnet/docs.es-es/issues/52)

Esa respuesta la hizo el mismo de: el teclado dejó de funcionar, presione una tecla para continuar"

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: b160765f-ed50-e0a8-a0b5-0295f91e8463
* Version Independent ID: 44084b

[2018-08-20 21:57] gosali commented on #7135
Hi Team,

The end user claims that the instructions are unclear or and useless.
![image](https://user-images.githubusercontent.com/16022575/44368935-e3ea9f80-a4aa-11e8-97e1-6766b5957935.png)

Could you please check it can be improved?

Back Translation:
"That answer was made by the same: the keyboard stopped working, press a key to continue ""

[2018-08-20 21:59] davidsh commented on #7012
The caller does not have permission to connect to the requested URI or a URI that the request is redirected to.

A "Security Exception" is thrown only if this application is running on .NET Framework and is using less than "full-trust" security profile.

CAS (Code Access Security) is a concept that allows for applications to be hosted that don't have full privileges on the machine.  This was frequ

[2018-08-20 22:20] rpetrusha commented on #7108
Thanks for your comments, @fredlllll and @Brutiful-Games. I've opened PR dotnet/samples#249 to add the source for `UdpState` to the example.

[2018-08-20 22:29] #7107 closed

[2018-08-20 23:33] mairaw commented on #7135
We'd need more information from @yapusito in order to repro his issue. Has he supplied the file name and is still not working? Can he show how he's making the call to the UploadFile method?
I don't think this is the same as asking to press a key to continue when the keyboard stops working.

[2018-08-20 23:44] karelz commented on #7126
@pjanotti @joperezr can you please help?
Quick scan of the code didn't reveal anything obvious that would throw PlatformNotSupportedException. Is it maybe for iOS/Android platforms?

[2018-08-20 23:51] karelz commented on #5360
@anaki99 can you please be more specific? Do you have minimal repro showing what exactly doesn't work?

[2018-08-21 00:29] adnamsale opened #7138 "Is this 0-based or 1-based?"
It would be helpful for the doc to specify whether the first line is considered to be line 0 or line 1. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7133853b-6b83-a1bc-e424-1de544434876
* Version Independent ID: 9af40356-c4be-fd22-2120-0ea49186fbaa
* Content: [XmlException.LineNumber Property (System.Xml)](ht

[2018-08-21 01:05] PHuhn opened #7140 "Not !!!"
Intelli-sense says
byte[]  System.Web.HttpServerUtility.UrlTokenDecode(string)
So what is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a625c136-577d-4872-de63-ec982e3fa173
* Version Independent ID: c0047e8a-d89b-d6ac-5387-ad0e1a0211f4
* Content: [HttpServerUtility.UrlDecode Method (System.Web)](https://docs.micro

[2018-08-21 01:40] mairaw commented on #7075
@Rick-Anderson has created PR https://github.com/dotnet/dotnet-api-docs/pull/447 for this. @HongGit please help review it.

[2018-08-21 01:57] #7041 closed

[2018-08-21 01:59] GalaxyFour commented on #7041
i use trans = con.BeginTransaction(IsolationLevel.ReadUncommitted, "transInsert")
to edit or select inserted data in transaction

[2018-08-21 02:04] BillWagner commented on #7140
@PHuhn The description of the issue mentions the [`UrlTokenDecode`](https://docs.microsoft.com/dotnet/api/system.web.httpserverutility.urltokendecode) method, but the source field is the [`UrlDecode`(https://docs.microsoft.com/dotnet/api/system.web.httpserverutility.urldecode) method.

Those two methods differ in the return type in exactly the way you describe. Is the MSDN redirection going to the

[2018-08-21 03:07] mairaw commented on #7140
I just tested http://msdn.microsoft.com/en-us/library/system.web.httpserverutility.urltokendecode.aspx and it’s going to the right place. IntelliSense is generated from the docs, so the only differences you should see is when we make updates. The online version gets updated more frequently than IntelliSense.

[2018-08-21 03:49] mgregory22 commented on #7012
Thanks!

[2018-08-21 05:04] NetMage commented on #7079
Yes, Last and LastOrDefault are also not supported.

[2018-08-21 05:05] hankir opened #7142 "Not all tables described"
All tables list:
DefinitionIdentityTable
IdentityOwnerTable
InstanceMetadataChangesTable
InstancePromotedPropertiesTable
InstancesTable
KeysTable
LockOwnersTable
RunnableInstancesTable
ServiceDeploymentsTable
SqlWorkflowInstanceStoreVersionTable

Very interest how KeysTable used and other tables too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-08-21 05:40] dgamma3 opened #7143 "step 2"
It is stated:
"Sign the assembly that contains the hosting class", In order to sign the assembly, follow this youtube: https://youtu.be/p6u7n_BPcVw?t=8m48s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505d926-b70e-94df-d4ef-1d70737d0353
* Version Independent ID: 1bf0791b-8627-9113-a0b3-e52987bd4d59
* Content: [How t

[2018-08-21 05:41] #7143 closed

[2018-08-21 05:41] dgamma3 opened #7144 "step 2, signing the assembly"
It is stated:
"Sign the assembly that contains the hosting class", In order to sign the assembly, follow this youtube: https://youtu.be/p6u7n_BPcVw?t=8m48s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505d926-b70e-94df-d4ef-1d70737d0353
* Version Independent ID: 1bf0791b-8627-9113-a0b3-e52987bd4d59
* Content: [How t

[2018-08-21 06:30] Hypenate opened #7145 "Typing mistake in the 'Note section': "...or the ,...""
In the 'Note section' something is missing:
...included in the .NET for Windows Store apps or the , but it is thrown...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 755290c0-3433-0678-6092-acf8fbb17260
* Version Independent ID: 2d41ec17-adb8-91b7-ffbd-b5d42e0841d0
* Content: [MissingMethodException Class (System)](ht

[2018-08-21 07:41] vlesierse opened #7146 "Push multiple package is not supprted"
It appears that NuGet currently not support pushing multiple packages by using a glob pattern. Don't know if this is a bug or intentional. `dotnet nuget push *.nupkg` should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b363ab07-ea19-574f-e0db-25fd5702255d
* Version Independent ID: 6fa9479a-85db-5498-6b7e-

[2018-08-21 07:46] IanKemp opened #7147 "Broken link"
"Support for .NET Framework libraries" section has a link to "compatibility shim" which 404s - I'm not sure where that link should point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de130a75-fed2-0567-6e3d-07a384900eec
* Version Independent ID: a2993c26-93f8-7281-d6ca-5fcc899e95f3
* Content: [What's new in the .NET

[2018-08-21 09:33] svick commented on #7147
I have looked at [the history of that document](https://github.com/dotnet/standard/commits/master/docs/netstandard-20/README.md) and found where it was moved to, so I have opened a Pull Request that fixes the link: https://github.com/dotnet/docs/pull/7148.

[2018-08-21 11:15] astmehalthakor opened #7150 "Anomaly Detection and Recommendation"
As I understand, PcaAnomaly detector is available in ML.Net 0.4. Can you please suggest when the Recommendation is planned to be a part of ML.Net? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd15175c-5b7d-4310-ecf5-32ffc7bc588b
* Version Independent ID: 38adc676-934e-0ff9-c868-527f075c96df
* Content: [Machin

[2018-08-21 13:05] martin-frydl opened #7153 "RSACryptoServiceProvider in sample code instead of RSA"
The documentation says Key property contains instance of RSA or DSA object. However, the sample code still uses RSACryptoServiceProvider type cast as was used in "old" .NET. This is very confusing for the users.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16afc3e9-947b-e39d-fe6a-12be630c986f
* Version Indepen

[2018-08-21 14:03] sulustart commented on #7111
Thank you Ron!
I really appreciate your thoughtful email explaining how this works.

-sulu
 
On 8/20/18, 12:16 PM, Ron Petrusha <notifications@github.com> wrote:
 

[2018-08-21 15:00] JRAlexander commented on #7144
Thanks for your feedback, @dgamma3!

[2018-08-21 15:00] #7144 closed

[2018-08-21 15:02] JRAlexander commented on #7146
@KathleenDollard, any thoughts?

[2018-08-21 15:06] MikeRosoft opened #7155 "Bilisecond (long-lasting bug in documentation)"
There is no such thing as a bilisecond., and the 'bilisecond' parameter actually represents a number of microseconds (millionth of a second). A billionth of a second would be a nanosecond.

The statement new System.Data.SqlTypes.SqlDateTime(2018,1,1,10,0,0,500000) returns a value with 500 milliseconds.
The statement new System.Data.SqlTypes.SqlDateTime(2018,1,1,10,0,0,2000000) throws a SqlTypeExce

[2018-08-21 15:26] breyed opened #7156 "No detection instructions for 4.6.1"
There are no instructions for detecting if version 4.6.1 is installed. In general, the columns look misaligned for that version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fe5242-e3b2-6cfe-5308-63fc96272657
* Version Independent ID: 1abaaeb7-d7ed-5522-c16f-409f22a074cc
* Content: [.NET Framework Versions and Depe

[2018-08-21 15:28] pjanotti commented on #7126
As you saw core doesn't raise that, as @mairaw pointed this seems some possibility for mscorlib in netfx. Grepping the sources I see that it was possible for some special folder constants in NDP/unix/pal but I don't know if that was ever deployed anywhere... perhaps @JeremyKuhne knows some of the history here...

[2018-08-21 15:31] svick opened #7157 "Should C# guide contain this article on AttributeUsage?"
This article documents the AttributeUsage attribute. That is useful information, but I think it should be included in [the API reference article about `AttributeUsageAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.attributeusageattribute), not in the C# guide.

I think most of the information in this article is not C#-specific, so moving it to the API reference should be fine. It co

[2018-08-21 15:32] Benexx opened #7158 "The address regex also matches the scheme"
When using the regex for matching the address it failed when using a start-of-line sign (^). The description says it should match an IP address or host name but the test string also includes the scheme. So "^mydomain\.com$" failes while "^https://mydomain\.com$" works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9885

[2018-08-21 16:05] teo-tsirpanis opened #7159 "What about the accessibility rules when inside a namespace instead of a module?"
This file seems to raise no errors for example:

[code]

But is it a bug or not? The type `MyPreciousSecret` is not inside the `Foo` module. In C# for example, this code would break encapsulatin rules.

The docs say that each file is implicitly a module. Does that hold even when it declares a _namespace_?

Shouldn't the docs be updated?

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-08-21 16:12] teo-tsirpanis opened #7160 "With the power pack being deprecated, the units are now in the core library's FSharp.Data.UnitSystems.SI."
The docs should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4daf5fa-0a65-0f33-371e-2f6ffe9829d0
* Version Independent ID: 140f7aba-3cb3-f74b-09c1-514ee278f6c0
* Content: [Units of Measure (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/units-of-measure#units-of-measure-in-the-f-p

[2018-08-21 16:34] abmadmin1 opened #7162 "Implementing the dispose pattern for a base class"
The documentation says you should call the base Dispose method with true for the disposing parameter but the example shows passing the disposing parameter. In this situation, the base class doesn't free up managed resources and depending on your situation, the derived class could get an error if a base resource is still in use.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-21 16:36] rpetrusha commented on #7157
Thanks for raising this issue, @svick. I think that this is actually a larger problem -- that the C# [Attributes](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/attributes/) section and the Visual Basic [Attributes](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/attributes/) sections are largely duplicated, and some of their supposedly la

[2018-08-21 16:53] rpetrusha commented on #7156
Thank you so much for reporting this, @breyed. I've opened PR #7163 to remove an extraneous blank column that caused the version detection information to not display.

[2018-08-21 17:12] #7098 closed

[2018-08-21 17:33] KathleenDollard commented on #7146
@livarcocc @rrelyea Should this work?

[2018-08-21 17:37] livarcocc commented on #7146
@vlesierse what error do you get when this happens? On which operating system? And on which version of dotnet?

Also, globbing is not something that the dotnet does by itself, it is actually supported by the underlying shell.

I will let @rrelyea comment on whether or not multiple nupkg publishing is supported or not, independent of globbing.

[2018-08-21 17:55] rpetrusha opened #7166 "Provide more detail on Visual Basic naming conventions"
# Provide more detail on Visual Basic naming conventions

The only information on Visual Basic identifiers is found in [Visual Basic Naming Conventions](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/program-structure/naming-conventions), which notes that identifiers can begin with an underscore. The topic should be revised to provide as much information on identifiers as t

[2018-08-21 17:56] #7156 closed

[2018-08-21 18:07] JeremyKuhne commented on #7126
We didn't support it prior to Core 2.0 for UAP. Windows actually added features to make it possible. (The existing Win32 APIs for getting known folders aren't allowed on UAP.)

[2018-08-21 18:31] rpetrusha commented on #7145
Thanks for pointing out that text is missing, @Hypenate.  We'll open a PR to restore the missing text shortly.

[2018-08-21 18:37] #7103 closed

[2018-08-21 19:11] rpetrusha commented on #7145
We've opened PR dotnet/dotnet-api-docs#450 to restore the missing text for this and a number of other files. Again, thanks for letting us know, @Hypenate.

[2018-08-21 19:33] vlesierse commented on #7146
@livarcocc It's not an error. It just pushed the first package it finds. All examples only includes one package, so it looks like it's working.

[2018-08-21 19:35] #7108 closed

[2018-08-21 19:44] #7075 closed

[2018-08-21 20:20] eltiare commented on #6284
I came here looking for the same. Seems like a stub article.

[2018-08-21 20:34] #7079 closed

[2018-08-21 20:40] BillWagner commented on #6335
Note that the PR is in the dotnet/csharplang repo.

[2018-08-21 21:12] michael-hawker opened #7170 "If whoever adds a method to my event makes it async, how can my parent method await?"
It'd be great to see a code sample for this async eventing paradigm.  Currently, if you just use the event and call it with the new EventName?.Invoke(this, args) paradigm, it'll blow through it if you make your method async...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f782a9c5-2dc8-d8d1-b17d-246ab8524863
* Version

[2018-08-21 21:13] douglaslMS commented on #7155
@MikeRosoft You're right that "nanosecond" would be correct here. However these API reference docs are autogenerated from code comments, and the code itself uses the unfortunate "bilisecond." If I update the doc page manually, it's only a matter of weeks before my fix is overwritten by an autogenerated sync to the code. In other words, fixing this would require a code bug, which (frankly) would pr

[2018-08-21 21:46] svick commented on #7155
@douglaslMS

No, "microsecond" would be correct. And I think the documentation should use that name to describe the value here.

Another way to verify that is to look at [the source code](https://referencesource.microsoft.com/#System.Data/System/Data/SQLTypes/SQLDateTime.cs,9d88dbb7fc25c26f): the `bilisecond` value is divided by 1000 and the result is passed to the `double millisecond` parameter o

[2018-08-21 21:54] mairaw commented on #7155
You can update the non-automated parts @douglaslMS. The .NET reference is not auto-generated from /// comments. Just the skeleton of the page is auto-generated.

[2018-08-21 21:56] pkulikov commented on #7155
@douglaslMS while the signature cannot be changed, the description of both the constructor and the argument can be updated to use the word "microsecond" (as @mairaw has just mentioned).

[2018-08-21 22:03] paultechguy commented on #7118
Done.

https://github.com/dotnet/samples/pull/252

/paul

On Mon, Aug 20, 2018 at 2:53 PM Ron Petrusha <notifications@github.com>
wrote:

[2018-08-21 22:27] gewarren opened #7172 "Update topics that reference previous versions of Visual Studio"
This is the master issue to update all topics that refer to older versions of Visual Studio.

This is related to #6832.

[2018-08-21 22:42] douglaslMS commented on #7155
@svick @pkulikov Thank you for explaining what's in the source code. I have made the suggested corrections.

[2018-08-21 23:28] #7155 closed

[2018-08-21 23:30] rpetrusha commented on #7158
I'm not quite sure that I understand your comment, @Benexx. The example doesn't use the `^` anchor, and it's not clear to me why you'd want to use it. Also, how did you test the bypass list?

[2018-08-22 01:12] BillWagner commented on #6303
Unassigning myself. dotnet/samples#250 had the wrong issue mentioned. (I fixed that PR comment.

[2018-08-22 01:13] #6306 closed

[2018-08-22 01:29] Mahoufluk opened #7173 "on"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-22 01:30] Mahoufluk opened #7174 "on@"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-22 01:44] zhiliangxu opened #7175 "H1 title overlap with in-page navigation column"
https://docs.microsoft.com/en-us/dotnet/api/system.func-17?view=netframework-4.7.2
Title is long: Func&lt;T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,TResult&gt;
It overlaps with "in this article"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95cd525-746d-313d-b7f9-4d442d2319df
* Version Independent ID: 93

[2018-08-22 01:45] zhiliangxu commented on #7175
![image](https://user-images.githubusercontent.com/2852646/44438080-1f42b680-a5f0-11e8-84aa-4a8eaa3cb3ce.png)

[2018-08-22 02:06] mairaw commented on #7175
Thanks @zhiliangxu for reporting this issue. Given this is a problem with the docs platform, I've moved this to https://github.com/MicrosoftDocs/feedback/issues/622.

[2018-08-22 02:06] #7175 closed

[2018-08-22 02:06] mairaw commented on #7174
I don't see any issue reported here @Mahoufluk, so closing this.

[2018-08-22 02:06] #7174 closed

[2018-08-22 02:07] mairaw commented on #7173
I don't see any issue reported here @Mahoufluk, so closing this.

[2018-08-22 02:07] #7173 closed

[2018-08-22 02:27] michael-hawker opened #7177 "It'd be nice to see the FirstName field for C# 3.0 example to contrast the shortcut for the C# 6 usage"
The initialization example stands alone and references the previous example, but is adding a new property.  It should instead show the same property but now with less code due to the initialization shortcut.  This would help highlight the difference and show the benefit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2018-08-22 04:08] InteXX opened #7178 "New documentation style is wanting"
In the old documentation, there were links we could click to find details about associated types, e.g. `DataGridViewCellEventArgs`. This important capability seems to be omitted in the new style.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d45d09e-a1e8-3003-df43-e507dd599252
* Version Independent ID: 1b863e97-077b-

[2018-08-22 05:13] force2reckin opened #7180 "HACKED"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-22 05:16] force2reckin opened #7181 "Hackered"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-22 06:13] mairaw commented on #7180
Not exactly sure what you're trying to achieve here @force2reckin , so closing this.

[2018-08-22 06:13] #7180 closed

[2018-08-22 06:13] mairaw commented on #7181
Not exactly sure what you're trying to achieve here @force2reckin , so closing this.

[2018-08-22 06:13] #7181 closed

[2018-08-22 07:21] Mizux opened #7183 "sn.exe not available on unix"
Binary `sn.exe` is not provided by `.Net Core SDK 2.1.302` on unix (but it is by mono...)
IMHO dotnet/cli should be a standalone replacement for mono (when migrating to netstandard2.0/netcoreapp2.1) so needing mono to get the `sn.exe` binary to be able to sign seems odd to me...

My current workaround is to create a `CreateSigningKey.csproj` project targeting `netcoreapp2.1` (since there are issue

[2018-08-22 08:46] angularsen opened #7184 "What RFC does it conform to?"
If I understand correctly, there are multiple RFC's defining what is a valid email address and parts of the address such as domain names. Comparing MailAddress to various online validators give different results and I don't know which are correct.

https://en.wikipedia.org/wiki/Email_address#Syntax
https://tools.ietf.org/html/rfc5322

For instance, these addresses should be invalid but are valid b

[2018-08-22 10:11] Benexx commented on #7158
The example is working correctly but the description states you can use a regex to match the domain or IP address. For example when I want to match `www.domain.com` and not `anotherwww.domain.com` I cannot use the regex `www\.domain\.com$` because that will test valid on both domains. If I read the description I would expect that the correct regex for matching exacly the url should be  `^www\.doma

[2018-08-22 11:52] jnad72 opened #7187 "Delegates and generic types"
If I have a delegate sub like this:

[code]

How to do the declaration using this delegate?

[code]

Edit by @billwagner to add code formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1388f63d-1c05-2eb6-e505-67140b165d0c
* Version Independent ID: 41ccef34-e68c-dba3-2129-9ed720197257
* Content: [Anonymous Functi

[2018-08-22 12:19] johnnyagerard opened #7189 "round-off error"
&gt;Note the round-off errors associated with the double type.

What round-off error?
I don't see any.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227f6a03-7076-a47a-24de-a2c3c31a90b5
* Version Independent ID: 8538cb70-a092-1166-1cd9-b77f5e6a80d4
* Content: [% Operator (C# Reference)](https://docs.microsoft.com/en-u

[2018-08-22 12:33] johnnyagerard opened #7190 "canonical modulus"
"However, the behavior is the same for positive dividends."
 What behavior?
Can someone clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227f6a03-7076-a47a-24de-a2c3c31a90b5
* Version Independent ID: 8538cb70-a092-1166-1cd9-b77f5e6a80d4
* Content: [% Operator (C# Reference)](https://docs.microsoft.com/en-us/dotn

[2018-08-22 12:40] Styxxy opened #7191 "Document LinkBase"
Maybe also document the new LinkBase?
See for discussion: https://github.com/dotnet/sdk/pull/1246 .

This feature is available (according the above link) since dotnet 2.0.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d

[2018-08-22 12:40] Styxxy commented on #7191
Possible duplicate with #2642 .

[2018-08-22 12:51] moyanming opened #7192 "The string key of the Add(string, string) method is not case sensitive!"
If I Add("A","1") and Add("a","2"), there is only one key "A" and this key have value "1,2". But [a] is "1,2" which is same as [A]="1,2".
I need case sensitive, that means the value of the key "A" is "1", the value of the key "a" is "2". How to fix this?
Best regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d196

[2018-08-22 13:09] rajancrp opened #7193 "Introduction to Containers and dockers"
Good explanation for newbies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba2da58-10b2-ac3d-83ea-df35ebe776dc
* Version Independent ID: 19de8e78-b0be-988e-fdff-22ed585297c8
* Content: [Introduction to Containers and Docker](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/container-docker-

[2018-08-22 13:27] #6575 closed

[2018-08-22 14:17] #7118 closed

[2018-08-22 14:39] zhongyi91 commented on #5267
Following these steps, my test project cannot access the Thing class in the Library. It's only works if I use the .net core class library.
Did I missed something?
Thanks!

[2018-08-22 15:19] NinjaCross opened #7195 "Broken link to Union File System"
The given link to Union File System is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f05fc76-7ca5-424d-63b5-f22e389e370b
* Version Independent ID: df2c93e2-a21f-455c-0f32-2ae15aa3df60
* Content: [State and data in Docker applications](https://docs.microsoft.com/en-us/dotnet/standard/containerized-lifecycle-arc

[2018-08-22 15:47] JRAlexander commented on #7193
Thanks for the feedback, @rajancrp!

[2018-08-22 15:47] #7193 closed

[2018-08-22 16:01] JRAlexander commented on #7195
Thanks for your feedback, @NinjaCross. I've created a PR with the correct link. After it gets reviewed and approved, I'll merge and the changes will show up within a few days.

[2018-08-22 16:54] JRAlexander commented on #7159
@cartermp, any thoughts?

[2018-08-22 17:00] #6604 closed

[2018-08-22 17:06] scottaddie opened #7201 "Markdig migration preparation - master issue - round 2"
The docs below, in the *master* branch, were flagged during the test run of the Markdig migration. Refer to the spreadsheet's *DifferenceAfterMigration* tab for more details, and apply the following column filter:

- *Migrated* = True

The *SourceMarkdown* column contains the offending Markdown. Changes can be validated in the *markdig-migration* branch. Refer to [Markdig Migration Information](ht

[2018-08-22 17:49] jkotas opened #7203 "TargetedPatchingOptOut attributes are irrelevant for the documentation"
The documentation should not include TargetedPatchingOptOut attributes on API signatures. These attributes were internal implementation plumbing for .NET Framework. They do not exist in .NET Core at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb7b63ce-50ba-fdb1-a002-58e127ecf4e1
* Version Independent ID: 38a2e5

[2018-08-22 17:51] mairaw commented on #7203
Thanks @jkotas. We have a PR already trying to remove that: https://github.com/dotnet/dotnet-api-docs/pull/439

[2018-08-22 17:54] kendrahavens opened #7204 "Update NUnit .NET Core get started"
# NUnit template is now in dotnet CLI

Update https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-nunit#install-the-nunit-project-template

# General

Adding the package ```dotnet new -i NUnit3.DotNetNew.Template``` is no longer required since the template is pre-installed.

## Issues with Existing Topics

- Will probably need the screen shot discussed in https://github.com/dotn

[2018-08-22 17:55] mairaw commented on #7203
Also, showing the right attributes for the different implementations is on the pipeline of the engineering team. That will happen in a few months.

[2018-08-22 18:11] svick commented on #7187
@jnad72

What kind of declaration do you want to make? If you want a field, then it could be something like:

[code]

Also, I'm not sure why are you looking for information about VB syntax in the C# Guide and not in [the VB Guide](https://docs.microsoft.com/en-us/dotnet/visual-basic/).

[2018-08-22 18:26] rpetrusha commented on #7192
Thanks for your question, @moyanming. If you don't explicitly specify a comparer when instantiating the NameValueCollection object and don't copy from an existing NameValueCollection object, comparisons by default are case-insensitive. For a NameValueCollection object that automatically performs case-sensitive comparisons, call the [NameValueCollection(IEqualityComparer)](https://docs.microsoft.co

[2018-08-22 18:29] MichaelSimons opened #7207 "Document packages required for using non-mainline apis"
@jugglingthebits commented on [Wed Aug 08 2018](https://github.com/dotnet/dotnet-docker/issues/649)

## Steps to reproduce the issue
1. Create a C# project
2. Reference [Aspose.Slides.NET](https://www.nuget.org/packages/Aspose.Slides.NET/)
3. Create method that opens some PowerPoint presentation using `new Apose.Slides.Presentation(..)`
3. Create a Docker image for this project based on `microsoft

[2018-08-22 18:36] rpetrusha commented on #7189
You're right, @johnnyagerard. There is no "error" associated with the double type. It would be useful, though, to add an instance of "error" caused by double imprecision to the example. For example, `        Console.WriteLine(.41 % .2);` produces a result of 0.00999999999999995 instead of the expected .01. Would you like to open a PR to make the change, or would you like us to?

[2018-08-22 18:47] johnnyagerard commented on #7189
@rpetrusha I opened PR #7208.

[2018-08-22 19:16] rpetrusha commented on #7158
@davidsh, can you help with this?

[2018-08-22 19:22] AluminumChassis opened #7210 "This is great!"
One typo I found : you misspelled "ctrl" at the end of the paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b706537-d756-dae3-1e3f-979e840f8eaf
* Version Independent ID: db32bdba-1019-db26-dc4d-3dceb4bb3f34
* Content: [How to: Determine Which Modifier Key Was Pressed](https://docs.microsoft.com/en-us/dotnet/f

[2018-08-22 19:53] JeffWhitledge opened #7211 "CanStop details"
In a service that inherits from ServiceBase, what is the default value of CanStop? Does it default to true? Is it based on the presence of an OnStop() override? Do we ever need to set this value, other than setting it to false for a service that can't stop?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 986d4f38-1158-a

[2018-08-22 19:58] JeffWhitledge opened #7212 "OnShutdown details"
If the computer is shutting down, does the OnStop() method also get called? If so, which is called first? If not, is it good practice to implement OnShutdown() with the same code as OnStop()? If we override OnShutdown(), but don't set CanShutdown to true, would the OnShutdown() method never get called?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-22 20:51] Dc9894 opened #7213 "What Regex expresion does this Attribute use?"
Hi,

Should a Regex appear here in order to see how does this attribute actually validate a phone number? If not where could I find how does this attributes actually validate a field?

Thanks for the help!

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 15724c53-7b55-e20f-f1e5-62c51cb57dfe
* Version Indepe

[2018-08-22 20:55] JRAlexander commented on #7210
Thanks for your feedback, @AluminumChassis! Good catch!  We can make the change or would you like to make the change and submit a PR?

[2018-08-22 21:30] ocdtrekkie opened #7217 "Clarify how SendMailAsync handles multiple messages"
So, the older function, SendAsync, specifies "After calling SendAsync, you must wait for the email transmission to complete before attempting to send another email message using Send or SendAsync." I've been using Send synchronously instead to avoid this problem.

SendMailAsync doesn't specify in the documentation how it handles multiple SendMailAsyncs, it simply states that it sends as an asychro

[2018-08-22 21:35] ocdtrekkie commented on #7217
I did find some SendMailAsync code here: https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/consuming-the-task-based-asynchronous-pattern#using-the-built-in-task-based-combinators which kinda suggests I can just throw mail at SendMailAsync and it should handle it correctly, but it isn't super clear on this point.

[2018-08-22 21:43] UmarAlFarooq opened #7218 "Additional Instructions"
You'd do well to explain the use of \n escape characters as well as the use of $ sign in your documentation. This is an article for beginners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80f18fa-e6d2-50f6-dc08-a2ab5ba9f89a
* Version Independent ID: 5bebc66b-956a-47c7-7472-07967256be0c
* Content: [Building a Hello W

[2018-08-22 22:03] mairaw commented on #7201
Not too bad. I did the core folder already and will look into the VB folder next.

[2018-08-22 22:07] mairaw commented on #7213
I'd consider this an implementation detail. But you can see the source at https://referencesource.microsoft.com/#System.ComponentModel.DataAnnotations/DataAnnotations/PhoneAttribute.cs.

[2018-08-22 22:07] #7213 closed

[2018-08-22 22:37] #7056 closed

[2018-08-22 22:41] #7189 closed

[2018-08-22 23:30] cartermp commented on #7159
This code is (roughly) equivalent to:

[code]

Which is fine, because the DU itself is public. If you change this to:

[code]

You will get an error:

`The type 'MyPreciousSecret' is less accessible than the value, member or type 'val getMPS : MyPreciousSecret -> string' it is used in.`

This line in the docs:

Is a bit misleading, since you can do that, but it doesn't make the individual case les

[2018-08-22 23:32] cartermp commented on #7159
#7221

[2018-08-23 00:27] mairaw commented on #5379
@TechnikEmpire as far as I know, ML.NET still doesn't support image recognition, so that's why I tagged as blocked. @CESARDELATORRE @asthana86 can you confirm that's still the case? Thanks!

[2018-08-23 00:30] TechnikEmpire commented on #5379
@mairaw Ok thanks for clarifying, I interpreted [blocked] to mean there was some other numbered issue that this feature was waiting on to be resolved.

[2018-08-23 00:39] rpetrusha commented on #7190
What it intends to say, @johnnyagerard, is that the remainder operation produces the same result as the modulus operation for positive dividends, but a different result for negative dividends.

[2018-08-23 03:57] moyanming commented on #7192
Hi @rpetrusha , yes, the NameValueCollection(IEqualityComparer) constructor overload with StringComparer which implements the IEqulityComparer is what I want.
I am sorry for the less read about the NameValueCollection doc [here](https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.namevaluecollection?view=netframework-4.7.2).
Thank you for your answer!

[2018-08-23 06:36] kp101090 opened #7226 "Does this method get called in X509Store Dispose()?"
As per remark here (https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509store?redirectedfrom=MSDN&view=netframework-4.7.2#remarks): Starting with the .NET Framework 4.6, this type implements the IDisposable interface. When you have finished using the type, you should dispose of it either directly or indirectly

Are we required to call this method if we are

[2018-08-23 07:03] toburger opened #7227 "Formatting/indentation of multiline arguments"
Sometimes the argument list can become quite wide (especially with type annotations in place) and I start to split each argument into a separate line. I couldn't find a good advice of how to indent the arguments though so I wonder whats the official guideline for this scenario?

I normally indent the arguments by two tabs (technically 8 spaces) to have a visual distinction between arguments and fu

[2018-08-23 07:55] #7203 closed

[2018-08-23 07:57] MikeRosoft opened #7229 "Multidimensional arrays in ArrayList?"
The documentation says: "Using multidimensional arrays as elements in an ArrayList collection is not supported." What exactly does this mean? The following code:

var arrayList = new System.Collections.ArrayList();
var item = new int[2, 2] { { 1, 2 }, { 3, 4 } };
arrayList.Add(item);

... normally adds the array to the list. The parameter of ArrayList.Add(value) is object, so it supports adding an

[2018-08-23 08:46] jo0ls opened #7230 "cookieless"
What are the correct values for cookieless in 2018?
True/False  or
UseCookes, UseUri, UseDeviceProfile and AutoDetect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7b70865-7f42-aceb-6554-5bbbbdf8d9ca
* Version Independent ID: a9422e8c-d713-59b8-ddb6-bd3f90cad9f1
* Content: [HttpSessionState.IsCookieless Property (Sy

[2018-08-23 09:00] NoelWidmer opened #7231 "NO-BREAK SPACE (U+00A0) is in the "Space Separator Category""
The NO-BREAK SPACE character does not appear in the list of characters with special treatment as correctly described in IsWhiteSpace(String, Int32) and IsWhiteSpace(Char). But in the "Remarks" section it is listed as a special character even if it is already included in the Space Seperator category as defined by Unicode. This is redundant information which should be removed becasue it can cause co

[2018-08-23 09:09] adamstony3333 opened #7233 "public static System.Security.Cryptography.ECDiffieHellman Create (string algorithm);"
public static System.Security.Cryptography.ECDiffieHellman Create (string algorithm);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78070333-386c-50fb-ce5d-23a141f1209f
* Version Independent ID: 2e8b59b8-3cc2-60f5-cfeb-fbfdcedc890f
* Content: [ECDiffieHellman.Create Method (System.Security.Cryptography)](https://docs.

[2018-08-23 10:52] cppxaxa opened #7234 "Properly summed up contents"
Nice format for exposing the information about the feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc06ead-fe51-85db-1340-87f6473db769
* Version Independent ID: 4f2c312e-609c-a643-4af6-c12c6cf74738
* Content: [Indexers](https://docs.microsoft.com/en-us/dotnet/csharp/indexers)
* Content Source: [docs/csharp/inde

[2018-08-23 10:58] johnye2e opened #7235 "Typo in Remarks section"
"Use the XmlMapping class instead of deriving a class directly from XmlMapping."

Maybe you wanted to write "Use the XmlTypeMapping class instead..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b0c295b-6527-b0f2-3abb-179a7f2431c4
* Version Independent ID: 25408c54-c557-eccc-0505-b4bbb21fd4ff
* Content: [XmlMapping

[2018-08-23 12:33] jormundgand opened #7236 ""Delegates are like C++ function pointers but are type safe." is misleading"
The sentence "Delegates are like C++ function pointers but are type safe. " insunates that C++ function pointers are not typesafe. They most certainly are. C function pointers are not, but that's an entirely different language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e3cfc0-21d1-a453-94f2-52c86c926117
* Versio

[2018-08-23 12:34] Askjensen opened #7237 "grouping of trainers based on type"
Hi, it would be very helpful to have trainers grouped  by their type, e.g. regressor, clustering, classification(binary or multilabel) etc. Is this in the pipeline or is there a specific reason for having them all under ml.trainers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a058f7f4-11de-762a-166e-2ac0ecdb6280
* V

[2018-08-23 12:35] hjkl950217 commented on #7055
I can watch the issues~

[2018-08-23 12:38] pkulikov commented on #7237
@Askjensen I think it's work in progress and will be covered in the docs when #5698 is finished.

[2018-08-23 12:48] johnnyagerard commented on #7190
@rpetrusha @pkulikov Ok, thanks.

[2018-08-23 15:36] #7159 closed

[2018-08-23 15:44] rpetrusha commented on #7234
Thank you for letting us know that you found the article helpful, @cppxaxa!

[2018-08-23 15:44] #7234 closed

[2018-08-23 15:46] owlstead opened #7238 "Doesn't clearly specify output format"
Unclear if the linked private key is included, if the output is DER / binary or PEM. We are Mickeysoft, we ignore Developers, Developers, Developers, Developers, Developers!!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c1f644-9a56-288e-57e5-5a2f0bfad9ec
* Version Independent ID: 14e4cad7-910c-5be6-8e5e-8098b34c

[2018-08-23 15:48] rpetrusha commented on #7233
Did you want to provide feedback about this method overload, @adamstony3333?

[2018-08-23 17:13] rpetrusha commented on #7231
I agree; it is confusing, @NoelWidmer. Thanks for reporting this issue. I've address it in dotnet/dotnet-api-docs#461.

[2018-08-23 17:26] rpetrusha commented on #7192
You're welcome, @moyanming. And thanks for responding. It strikes me that the [NameValueCollection class](https://docs.microsoft.com/dotnet/api/system.collections.specialized.namevaluecollection)  documentation might be enhanced by noting how to specify something other than the default case-insensitive comparison. I'll schedule some time to do this in the near future.

[2018-08-23 18:35] #6731 closed

[2018-08-23 19:36] rpetrusha commented on #7226
No, you don't have to call it directly if you're using a `using` statement, @kp101090. The `using` statement wraps a call to IDisposable.Dispose.

[2018-08-23 19:36] #7226 closed

[2018-08-23 20:03] rpetrusha opened #7242 "Note use of ICU libraries"
# Note use of ICU libraries

On non-Windows platforms, .NET relies on [ICU libraries](http"//icu-project.org) for its string comparison and sorting information as well as for categorizing characters. It is not mentioned in the existing documentation. This requires two kinds of revisions.

## Note use of ICU libraries where Unicode is discussed

We should not the use of ICU libraries in a number of

[2018-08-23 20:12] nemrism commented on #7025
@JatinSanghvi, the samples are in a separate repository here: [dotnet/samples](https://github.com/dotnet/samples)

[2018-08-23 21:29] rpetrusha commented on #7190
I think at a minimum that we eliminate the ambiguity of "the behavior is the same for positive dividends". I'll assign this to myself for a future sprint. If either of you would like to do it in the meantime, @pkulikov and @johnnyagerard, please go ahead.

[2018-08-23 21:30] mjwills commented on #5914
Does `reader` really need to be `Close`d **and** `Dispose`d, as shown in this sample?

[2018-08-23 21:40] douglaslMS commented on #5914
@mjwills You're correct that Dispose calls Close (although the inverse is not true - Close does not call Dispose).

[2018-08-23 21:45] mairaw commented on #7115
Just to clarify one aspect of the docs is that the Applies to section infers that information from the reference assemblies and that API exists in .NET Core 2.0+. The fact that it doesn't have an implementation is something that we need to manually call out.

[2018-08-23 21:59] mairaw commented on #7115
@pjanotti @kouvel for the [wiki page](https://github.com/dotnet/corefx/wiki/ApiCompat) page, can we have the specific APIs called out? For example, We have FromXmlString called out for the AsymmetricAlgorithm, but we don't have a specific one for RSA. Sure, RSA inherits from AsymmetricAlgorithm, but it won't be obvious as we try to document the exceptions.

[2018-08-23 22:36] kouvel commented on #7115
The [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) would be able to clarify.

CC @bartonjs @GrabYourPitchforks

[2018-08-23 22:45] rpetrusha opened #7244 "Shorten long filenames"
# Shorten long filenames

There recently was a case of cloning a repo resulting in a file too long error. The complete local file path was 222 characters for the file ~/samples//snippets/csharp/VS_Snippets_CodeAnalysis/fxcop.security.ca2138.transparentmethodsmustnotcallsuppressunmanagedcodesecuritymethods/cs/ca2138 - transparentmethodsmustnotcallsuppressunmanagedcodesecuritymethods.cs. This sugges

[2018-08-23 22:51] rpetrusha commented on #7235
I suspect that it actually intended to say "Use the XmlTypeMapping and XmlMemberMapping classes instead...", @johnye2e. It's also not true that it exposes no public or protected members.

[2018-08-23 22:59] rpetrusha commented on #7235
I've opened dotnet/dotnet-api-docs#465 to address this issue. Thanks for pointing it out, @johnye2e.

[2018-08-24 01:30] DL444 opened #7247 "Link broken"
The "How to: Remove a Storyboard" link under Performance part is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da2b7d0-720c-31de-ab73-a088feebd9b4
* Version Independent ID: 7275f5b4-9def-16e5-a6c6-6d01230be338
* Content: [Animation Tips and Tricks](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphic

[2018-08-24 02:02] mairaw commented on #7126
So is there anything else we can say about this exception on the docs? It's not clear to me.

[2018-08-24 03:44] JeremyKuhne commented on #7126
The desktop code you linked to is a little misleading. It isn't the OS throwing it, it was the runtime PAL for Unix. That predates this functionality showing up in .NET Core. It might have been for Silverlight, or perhaps just the Shared Source CLI. I don't know (or think) that you can actually get this exception anywhere that we've publicly exposed the method that we currently document.

[2018-08-24 04:40] assafY opened #7252 "Broken tools links"
All tool github links are broken in this article.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b8c5e38-18e4-644b-996b-6b5f189e9d5a
* Version Independent ID: 5f4f24db-41f5-d6a9-e504-ea7ecb927c49
* Content: [Migrate from .NET Core 2.0 to 2.1](https://docs.microsoft.com/en-gb/dotnet/core/migration/20-21)
* Content Sour

[2018-08-24 05:37] cartermp commented on #7227
There isn't an official guideline for this scenario, but I do like indenting one scope further than the body of the function. Would you feel comfortable submitting a PR that explains this and provides an example? I'd definitely take it.

[2018-08-24 06:16] crazygao opened #7253 "Example 1 simply not working."
Now TPL just create a short-running thread or it doesn't really treat it as an async one.
Or the continue doesn't work well when the task is already completed.
The delegate of Console.WriteLine doesn't work as expected.

[2018-08-24 06:18] crazygao commented on #7253
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks

[2018-08-24 06:31] Askjensen commented on #7237
Alright, thx for the reply

On Thu, 23 Aug 2018 at 14:38, Petr Kulikov <notifications@github.com> wrote:

[2018-08-24 08:17] jhgann opened #7255 "Explanations don't line up with code samples"
There are references to line numbers in code samples, but the lines are not numbered.
There are references to highlighted lines of code, but there are no highlighted lines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36115425-3181-1363-dcbd-42e48db8613c
* Version Independent ID: 57ca5426-2ae3-7260-cef9-e92dc9d4e856

[2018-08-24 09:01] imba-tjd commented on #7255
The second point is the same as https://github.com/dotnet/docs/issues/7055

[2018-08-24 10:34] umarmohammed opened #7257 "Using a ValueTuple to Create Hash Code"
Can we use a ValueTuple for creating a hash code. So instead of
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e3cf3f3-9e8f-1c90-968b-a96ef6cb9d34
* Version Independent ID: 5f0e9dde-3253-ad99-c858-f061e61daa3f
* Content: [Object.GetHashCode Method (System)](https://docs.microsoft.com/en-us/dotnet/api/sys

[2018-08-24 12:05] StingyJack opened #7258 "Is this intended to be used like one would use `netsh`?"
As in `netsh http add urlacl url=http://localhost:1234/wcfService user=Everyone`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540a3f30-d598-0223-2e92-b1f50b2b793e
* Version Independent ID: 1cfd217d-bf73-763c-40de-bb18777c66c1
* Content: [SocketPermission Class (System.Net)](https://docs.microsoft.com/en-us/dotnet/ap

[2018-08-24 13:16] corcus opened #7260 "The four parameter constructor is not accompanied by a good example"
The "CreateNode(XmlNodeType, String, String, String)" constructor has an example that does not explain the functionality of the prefix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caecb334-2c0e-8c42-f1af-5391a36236c4
* Version Independent ID: 6e62a120-287b-f53f-dd35-21b7b427c92f
* Content: [XmlDocument.CreateNode Met

[2018-08-24 13:55] dhcgn opened #7261 "Coding style for named tuple fields"
What is the coding style for named tuple fields?

This coding style is not named here:
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

Because an unnamed tuples has fields named `Item*` I would deduce PascalCasing but the sample from https://docs.microsoft.com/en-us/dotnet/csharp/tuples contains a mixed style.

For example:

[code]

---
#### Document D

[2018-08-24 14:11] ScottShingler opened #7262 "Inconsistent spacing and lack of guidelines around type annotation colon"
There seems to be no clear guidance on how spacing should appear around the `:` symbol used in type annotations. In fact, there are a couple of different styles used within this document:

Under the section "Use PascalCase for type declarations, members, and labels" we see `Member: type` with a space to the right of the `:`:

[code]

Under "Formatting record declarations", we see a different forma

[2018-08-24 14:15] MarqueIV commented on #7038
No worries, and thanks. I had decided to dive into the Async features and was relying on this documentation and the more I read it and tried to apply it to my code, the more confusing it got. It wasn't until I created a new project myself with that sample code that the issues with the code started to reveal itself.  In a way the time I took to unwind that code, then play around with it until it ac

[2018-08-24 14:40] Hummer311 opened #7263 "Model introspection?"
Hi. I followed along the tutorial without major issues. Thanks for providing those! They're really helpful.

I'm wondering if there exists a way to look "into" the trained model? I'm basically trying to figure out the key feature, i.e., the feature that has the biggest impact on the trained model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-08-24 15:58] gdiazderadaa opened #7264 "Localized date format"
Why the date pattern properties like ShortDatePattern are not localized? E.g dd/mm/aa for Spain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9a48625-dd1f-2e35-019c-a0512870ca0a
* Version Independent ID: f6fb08e6-d534-a324-83c1-ea9672079173
* Content: [DateTimeFormatInfo Class (System.Globalization)](https://docs.mic

[2018-08-24 16:20] #7252 closed

[2018-08-24 17:05] pkulikov commented on #7190
@rpetrusha I would like to update the article next week, if @johnnyagerard is fine with that.

[2018-08-24 17:06] rpetrusha commented on #7264
They are localized, @gdiazderadaa. What do you expect the short date pattern for es-ES to be? (I'm wondering if you expect the month to be a Roman numeral. If that's the case, only U+0030 through U+0039 are supported as numeric digits.)

[2018-08-24 17:33] rpetrusha commented on #7190
Thanks, @pkulikov. I've assigned the issue to you.

[2018-08-24 17:47] JRAlexander commented on #7263
@GalOshri, any thoughts?

[2018-08-24 17:51] JRAlexander commented on #7237
Yup, its still in progress. Hope to finish soon.

[2018-08-24 17:52] JRAlexander commented on #7237
Thanks for the question, @Askjensen! Closing this as it will be taken care of by #5698.

[2018-08-24 17:52] #7237 closed

[2018-08-24 17:56] JRAlexander commented on #7218
Thanks for your feedback, @UmarAlFarooq. This has been added to the backlog.

[2018-08-24 18:01] JRAlexander commented on #7230
@jo0ls, IsCookieless returns a boolean. true if the session is embedded in the URL; otherwise, false.

[2018-08-24 18:01] #7230 closed

[2018-08-24 18:10] Thraka commented on #7201
Grabbing docs/framework

[2018-08-24 19:22] aldav82 opened #7270 "The code sample does not cover all the switch clauses"
The current code sample should be modified so the clause

    case Square sq when sq.Area > 0:

can be accessed. Currently, the first item in the sample collection passed is an object  of type Square (...new Square(10)...), but the current order of the case statements

      switch (obj)
      {
         case Shape shape when shape.Area == 0:
             ...
         case Rectangle r when r.Area

[2018-08-24 19:59] #7195 closed

[2018-08-24 20:11] drwebmonkey opened #7271 "Format of input must be MM/DD/YYYY!"
Format of input must be MM/DD/YYYY!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0968b5c6-69dd-0573-bd10-810d65b8f57f
* Version Independent ID: 9e66f17a-0d64-07a3-0313-e64a0c2074c3
* Content: [RangeValidator.MaximumValue Property (System.Web.UI.WebControls)](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.w

[2018-08-24 20:37] jestellon opened #7272 "Inheritance illustrations missing Description property"
I believe that "Description" was left out of the graphic illustration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81800f-976a-b7a9-e202-5e34fd2c9c67
* Version Independent ID: 801d99f4-b1f5-3e42-ae4e-ba18200577f0
* Content: [Inheritance (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/program

[2018-08-24 20:54] rpetrusha commented on #5440
Incidentally, @dmackersie, the C# examples now run in the context of the current culture. This change addresses some of the issues you reported, like unexpected date and time formatting and an incorrect currency symbol.

[2018-08-24 21:20] JRAlexander commented on #7025
Actually, I misread it. The templates are applied in step 4, and also appear to be in the code.
        <DataGridTextColumn Header="ExpenseType" Binding="{Binding XPath=@ExpenseType}"  />
        <DataGridTextColumn Header="Amount" Binding="{Binding XPath=@ExpenseAmount}" />

[2018-08-24 21:44] GaTechThomas opened #7275 "Dark theme issues"
With the docs.microsoft.com dark theme enabled, the images on the page are difficult to see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49346f80-1204-08d7-df5e-3495c2404eca
* Version Independent ID: bcba2429-f5ab-0b27-6780-95155f27f142
* Content: [Designing a microservice-oriented application](https://docs.microsof

[2018-08-24 21:58] JatinSanghvi commented on #7025
@JRAlexander, in its existing state, the following code snippet can be removed without any side effect since the `DataGridTextColumn` binds directly to the `XPath` expression, not the data templates.

[code]

I am still learning WPF. I guess the `DataGridTestColumn` elements under step 4 needs to be replaced with `DataGridTemplateColumn` to be able to used the defined data templates, something sim

[2018-08-25 00:53] JRAlexander commented on #7025
@JatinSanghvi, your changes are correct. The samples are in a few different spots for VB and C# in the dotnet/samples repo.
 [C# ExpenseReportPage.xaml](https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Wpf/ExpenseIt/CSharp/ExpenseIt9/ExpenseReportPage.xaml)
[VB ExpenseReportPage.xaml](https://github.com/dotnet/samples/blob/master/snippets/visualbasic/VS_Snippets_Wpf/Expens

[2018-08-25 02:44] nelfer opened #7280 "Misspelled "especially""
There's a misspelled word "expecially" in the last paragraph of this section: https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure#a-model-used-by-mongodb-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f1e64c7-90e1-baec

[2018-08-25 03:03] mairaw commented on #7280
Thanks for pointing that out @nelfer. Would you like to submit a pull request for this fix?

[2018-08-25 03:05] mairaw commented on #7275
Thanks for your feedback @GaTechThomas. I'm closing this as duplicate of #6547 since this occurs in the entire microservices book.

[2018-08-25 03:05] nelfer commented on #7280
hehe... if I knew how to do that, I would :)

[2018-08-25 03:06] mairaw commented on #7275
Duplicate of #6547

[2018-08-25 03:06] #7275 closed

[2018-08-25 03:07] mairaw commented on #6547
@CESARDELATORRE where we can get new images from? We need to make sure that the images for docs are generated with a background to not cause issues with dark theme. It has been a consistent feedback for the e-book on docs.

[2018-08-25 10:09] pkulikov commented on #7280
@nelfer try to follow this procedure:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2018-08-25 10:18] adrianwadey opened #7281 "Misleading comment"
The comment in the code incorrectly says asynchronously when it is synchronous:
// Speak the contents of the prompt asynchronously.
      synth.SpeakSsml(str);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c495e9b5-a28f-8a6a-46da-1125291bf21c
* Version Independent ID: a7931045-5198-fd4d-6879-d896b09ebb86
* Content: [S

[2018-08-25 11:42] jmroyb opened #7282 "Error Message: Late bound resolution"
Who to resolve when late-dounding is mandatory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8707a00d-9032-fde4-530f-6359dac34c65
* Version Independent ID: a8e7a82d-26c4-e765-a139-4fac1d880b66
* Content: [Late bound resolution; runtime errors could occur](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-r

[2018-08-25 16:11] gmanvel opened #7285 "Include details on operation complexity (Big O notation)"
Why there is no information on operation complexity (Big O notation) ?
Seems like previously such information was provided - https://stackoverflow.com/questions/2533007/add-to-sortedsett-and-its-complexity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c9e1ef8-e19b-5627-3f53-a68c9f41142c
* Version Independent ID: 6da0

[2018-08-25 16:58] cliwontea opened #7286 "Kliwon Jagung"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-25 17:33] pkulikov opened #7288 "Compiler error example generates another compiler error"
Presented code example generates (in Visual Studio 15.8.1, Roslyn C# Compiler version 2.9.0.63208):
[code]

and not CS4009.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6873762-e2d6-1b55-d0cb-f623814d5a3f
* Version Independent ID: 13f25457-7546-1cc6-22e5-95519d2c395d
* Content: [Compiler Error CS4009](https://docs.m

[2018-08-25 17:57] nelfer commented on #7280
That was easy! It's done

[2018-08-25 19:54] mairaw commented on #7280
Thanks @pkulikov for the help and @nelfer for your first contribution to our docs. I’m glad you found it easy!

[2018-08-25 20:27] pkulikov commented on #7280
@nelfer @mairaw then this issue can be closed :).

[2018-08-25 20:46] garg000dhruv commented on #6317
@BillWagner I ran into the same issue. I can fix it in the docs if it's still open.

[2018-08-25 20:46] mairaw commented on #7280
Oh yeah. The fixes in the PR had a word in there so it didn’t close automatically.

[2018-08-25 20:46] #7280 closed

[2018-08-25 21:26] amis92 opened #7292 "dotnet cli Project Tools - prefercliruntime"
There is no documentation for the file `prefercliruntime` which affects DotNet CLI Project Tools.

I've tried searching for it on the docs webpage: https://docs.microsoft.com/en-us/search/index?search=prefercliruntime

There's no results there, neither are there any in this repo.

I believe it should be a part of this sub-topic: https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility#buil

[2018-08-25 22:10] simeyla opened #7293 "Need more detail on docker commands"
This document literally spends more time explaining what a `using` statement and a .NET namespace are than explaining the docker commands. Surely if someone is working with docker they already know the language?

The following needs *much* more explanation:

&gt; docker build -t dotnetapp-dev .
&gt; docker run --rm dotnetapp-dev Hello from Docker

* Where do I run this command from?
* What exactly

[2018-08-25 23:02] ig16022 commented on #5331
I don't see a response to this question, and I think its an important question to answer. Additionally, even though there is an 'await' on await _mediator.DispatchDomainEventsAsync(this);
within the context's SaveEntitiesAsync() method and the base.SaveChanges() will clearly wait for the domain event handlers to complete their work, I also see
await _buyerRepository.UnitOfWork
                .Sav

[2018-08-26 00:41] dawnchan030920 opened #7294 "PROBLEM: 样式数据和数据模板"
第2步是直接把代码写在&lt;page&gt;标签里面吗？为什么提示“已多次设置属性Content”？

Translation: Is step 2 of [Style data with data templates](https://docs.microsoft.com/en-us/dotnet/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application#style-data-with-data-templates) written directly in the `<page>` tag? Why prompt "Property Content has been set more than once"?

---
#### Document Details

⚠ *Do not edit t

[2018-08-26 03:43] mairaw commented on #7286
@cliwontea I don’t see any problem reported so closing this issue.

[2018-08-26 03:43] #7286 closed

[2018-08-26 03:45] mairaw commented on #6317
Still open @garg000dhruv. Feel free to submit a PR.

[2018-08-26 03:57] mairaw commented on #7292
Thanks for letting me know about this @amis92. Somehow I missed the tag last year and no one ever brought the need for docs for that before.

@livarcocc @KathleenDollard we’ll need more info about this and what’s the current state of tools

[2018-08-26 09:30] StevenLiekens commented on #6547
Suggestion: fix it with a style instead of replacing all the images.

[code]

[2018-08-26 17:04] garg000dhruv commented on #6692
@mairaw I'd like to do this.

[2018-08-26 17:11] garg000dhruv commented on #6337
@BillWagner I can make the necessary change here.

[2018-08-26 17:14] garg000dhruv commented on #6487
I can take a look at this.

[2018-08-26 17:42] EddieLotter opened #7298 "Grammar"
In the Remarks section, the phrase "When using a format that is not send the data chunked or raw" needs to be rewritten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13570492-1390-5720-3870-90aa16f98386
* Version Independent ID: f429f4b0-fc9b-1622-b33a-a160db594f84
* Content: [HttpListenerResponse.ContentLength64 Pro

[2018-08-26 19:24] thphan75 opened #7299 "Spaghetti code"
ProcessStartInfo startInfo = new ProcessStartInfo();  (new is not needed here)

 startInfo = new ProcessStartInfo(fileName); (should check to see if file exists before this step)
                if (File.Exists(fileName))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80042e9e-4961-6cef-0413-6b252be97bd3
* Version Inde

[2018-08-27 03:54] GalaxyFour opened #7300 "vb.net transaction"
its can sorry for ask.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d8f20a6-35f8-4d05-cc5f-c6c40342828b
* Version Independent ID: d71b4a30-acde-ed5a-cbcc-48299cc8d626
* Content: [SqlTransaction.Commit Method (System.Data.SqlClient)](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqltransaction.com

[2018-08-27 05:07] #7300 closed

[2018-08-27 06:59] Excelan opened #7301 "Error in description"
There is an error in "locked" argument description.
It actually returns &lt;true&gt; if session is locked by another request, not "if a lock is successfully obtained".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d6d398-ec87-a2bf-206c-5bdaaafcc282
* Version Independent ID: 8a2afa44-2376-71d5-6ed9-0b1b22b0bdcc
* Con

[2018-08-27 07:08] Excelan opened #7302 "Error in description"
&gt;&gt; Returns __read-only__ session-state data from the session data store.
It actually obtains exclusive (i.e. "read-write") access to session-state data.
Copy-paste from "GetItem" method description detected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d6d398-ec87-a2bf-206c-5bdaaafcc282
* Version Independent

[2018-08-27 07:19] ohadbitt opened #7303 "Confusing"
You call the parameter  "index" - "The starting point in chars from which to begin writing."
While it is where you begin reading from buffer, not writing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9f85f1f-b853-fd00-36ac-f9b0439afb5d
* Version Independent ID: bfe5659e-18eb-887e-034b-da20ca551ca3
* Content: [Binary

[2018-08-27 07:41] mikkelbu commented on #7281
Should be corrected by dotnet/dotnet-api-docs#471,

[2018-08-27 11:40] devlead opened #7305 "Clarify guidance .NET Standard 2.0 supported frameworks"
Regarding https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support

Currently .NET 4.6.1 is listed as a recommended  minimum framework for .NET Standard 2.0

As per below recent tweet from @terrajobst , the recommendation is

https://twitter.com/terrajobst/status/1031999730320986112

I can do the work and send a PR to update, just want to make sure if `4.7.2` is the

[2018-08-27 11:48] devlead commented on #7305
Also get this guidance might need to be reved

* https://github.com/dotnet/standard/blob/master/docs/versions/netstandard2.0.md#platform-support
* http://immo.landwerth.net/netstandard-versions/# (link from https://github.com/dotnet/standard/blob/master/docs/faq.md#as-a-library-author-which-version-of-net-standard-should-i-target)
* https://github.com/dotnet/standard/blob/master/docs/planning/nets

[2018-08-27 14:02] PeterOeClausen opened #7306 "Not all installed voices can be used?"
"Microsoft Helle", a Danish text-to-speech voice, is installed on my Windows PC among others.
I have the English, Danish and Spanish language packs installed on my PC (including text-to-speak and speech recognition), but only few voice options shows up with the call "GetInstalledVoices()", namely:
Microsoft David Desktop
Microsoft Hazel Desktop
Microsoft Zira Desktop
Microsoft Helena Desktop

Davi

[2018-08-27 15:19] churstz opened #7307 "FromAsync Tasks For Only the End Method Example needs HELP!"
the section "FromAsync Tasks For Only the End Method" talks about more than 3, ref and out parameters but the example has NONE of these and no declaration.  This example is basically worthless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a2d4f3-d369-9945-79d1-31efea2f06cc
* Version Independent ID: 3004dcc5-a1d4-ba

[2018-08-27 15:22] andrePKI opened #7308 "Dead link: azuremigrationcenter.com website expired?"
Dead link: azuremigrationcenter.com website expired?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2c0df0-a19f-b03c-c614-31a2dc068729
* Version Independent ID: 96844a08-f041-4cab-a1e2-0905f7a3a63f
* Content: [Lift and shift existing .NET apps to Azure IaaS (Cloud Infrastructure-Ready)](https://docs.microsoft.com/en-

[2018-08-27 15:29] LisandroSu opened #7309 "Exception!"
@1277201882 commented on [Sun Aug 26 2018](https://github.com/dotnet/docs.zh-cn/issues/192)

In file ExpenseItHome.xaml.cs
InitializeComponent() is wrong and give me an exception.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: b0dc39f7-b153-a46c-3b88-07c8ed2c71bc
* Version Independent ID: 78a14535-9703-e2af-4451-783a7c4c10be
* Content: [在 Visual Studio 中创建一个 WPF 应用程

[2018-08-27 15:29] LisandroSu commented on #7309
Hi Team,

Can you check on this issue reported by the user?

Thanks!

[2018-08-27 16:29] LisandroSu commented on #7309
Hello, @1277201882

Can you provide us more information regarding the issue?

Thanks!

[2018-08-27 16:47] JRAlexander commented on #7308
Thanks, @andrePKI, for the heads up! Checking on it now.

[2018-08-27 17:55] rpetrusha commented on #7281
Closing since dotnet/dotnet-api-docs#471 has merged.

[2018-08-27 17:55] #7281 closed

[2018-08-27 18:30] lmolkova opened #7311 "Add information about EventSource, Diagnostic Source and System.Diagnostics.Activity"
.NET added DiagnosticSource and Activity APIs to help with distributed tracing and correlation. The document should mention them.

EventSource is another way for production/in-field monitoring https://blogs.msdn.microsoft.com/vancem/2012/08/13/windows-high-speed-logging-etw-in-c-net-using-system-diagnostics-tracing-eventsource/

The document should cover where TraceSource vs EventSource vs Diagnos

[2018-08-27 19:02] LisandroSu opened #7312 "Infinite loop in the code"
@sublee commented on [Mon Aug 13 2018](https://github.com/dotnet/docs.ko-kr/issues/59)

`Conceptual.RegularExpressions.Backtracking#3` 예제코드에서 한 번이라도 타임아웃이 발생하면 무한루프에 빠집니다.

[code]

한 번 `true`로 설정된 `timedOut`이 `false`로 되돌아오지 않기 때문인데요, `try` 블록 안에서 `timedOut` 변수를 `false`로 조정하면 해결될 것 같습니다.

[code]

예제코드가 관리되는 저장소를 찾지 못 해서 이 곳에 이슈로 남깁니다.

---

@LisandroSu commented on [Tue Aug 14 2018](https://github.

[2018-08-27 19:04] LisandroSu commented on #7312
Hi team,

I moved this issue here because the user provided us this link https://docs.microsoft.com/en-us/dotnet/standard/base-types/backtracking-in-regular-expressions as the source of their issue. This is a rough translation of the issue: _In the example code, once a timeout occurs, it will end up in an infinite loop.

This is because once timedOut set to true does not return false, adjusting th

[2018-08-27 19:29] #7247 closed

[2018-08-27 19:38] rpetrusha commented on #7303
Thanks for pointing this out, @ohadbitt. I agree that this is confusing; the documentation makes it sound as if index identifies a position in the stream, rather than the index from which data is to be read.

[2018-08-27 19:48] rpetrusha commented on #7303
We've corrected the parameter description for the two overloads of the Write method that write a portion of an array to the stream in dotnet/dotnet-api-docs#472, @ohadbitt.

[2018-08-27 20:02] rpetrusha commented on #7299
You're right, @thphan75. This is indeed poorly written code. There's an unnecessary object instantiation, and the file check is performed much too late and, if it's performed earlier, eliminates the need to test for `null`. We'll revise it in the near future.

[2018-08-27 20:03] mairaw commented on #7302
Thanks for the feedback @Excelan. We'll have to look into this. If you'd like to submit a PR, we can review it.

[2018-08-27 20:06] rpetrusha commented on #7288
Fixed in PR #7287. Closing.

[2018-08-27 20:09] pkulikov commented on #7288
@rpetrusha sorry, but #7287 doesn't fix this issue. This issue is about the fact that the code given in the **CS4009** article produces **CS5001** compiler error.

[2018-08-27 20:12] mairaw commented on #7271
@Rick-Anderson @scottaddie can you follow up on this feedback? A format of MM/DD/YYYY woulnd't be culture neutral though.

[2018-08-27 20:13] JRAlexander commented on #7207
Thanks, @jugglingthebits, and @MichaelSimons for your feedback. We are investigating and have added to the backlog.

[2018-08-27 20:14] mairaw commented on #7204
Thanks @kendrahavens. We're adding this to our backlog of .NET Core items. If you'd like to submit a PR, we'll gladly review it.

[2018-08-27 20:16] Rick-Anderson commented on #7271
@drwebmonkey can you clarify what the problem is with this doc?
Hardcoding dates into validation is problematic and is discouraged.

[2018-08-27 20:18] mairaw commented on #7270
Thanks @aldav82 for the feedback. Would you like to submit a pull request for this?

[2018-08-27 20:26] mairaw commented on #7301
Thanks @Excelan. We'll have to investigate this. If you'd like to submit a Pull Request with this fix, we can review it sooner.

[2018-08-27 20:29] mairaw commented on #7258
Thanks @StingyJack for your comment. @davidsh can you help with this question about SocketPermission?

[2018-08-27 20:33] mairaw commented on #5969
Thanks @Tragedian for your suggestion. We've added this to our backlog. We also accept contributions if you'd like to submit a pull request with this change.

[2018-08-27 20:36] mairaw commented on #6868
Thanks for your comment @StingyJack. We try to make future-proof content, when we know the changes are introduced at a certain version but this article probably hasn't been reviewed in a long time. So the most typical case will be "Starting with version X.X of ..."

@karelz can you point someone who could help us understand what has changed since with that area?

[2018-08-27 20:39] mairaw commented on #6443
@davidsh can you provide some insight into this?

[2018-08-27 20:46] mairaw commented on #6506
Thanks for your feedback @DavidThi808. @Maoni0 do you see anything that we could add to that topic to make it more helpful?

[2018-08-27 20:47] migueldeicaza opened #7313 "While the API is available in Xamarin, it is a no-op in that platform."
While the attribute is surfaced on Xamarin, it has no effect on the search paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8c01d3-a82d-9d24-bfd7-f0bd7bc0bec3
* Version Independent ID: 241aa35d-5227-df46-a3c3-7dccc427adb0
* Content: [DefaultDllImportSearchPathsAttribute Class (System.Runtime.InteropServices)](ht

[2018-08-27 20:49] mairaw commented on #7229
@safern, @ianhays can you comment on this? Are multidimensional arrays supported but not recommended?

[2018-08-27 20:53] mairaw commented on #6898
Thanks for your feedback @alphaleonis. We'll investigate this and address it a future sprint.

[2018-08-27 20:55] zxs731 opened #7314 "any code share？"
is there any code share？where we can get the code mentioned in this article？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c1c070c-b2ff-f29d-21df-bcc7bf9dd39d
* Version Independent ID: 02ba7d88-65d4-b492-880c-4bc8c044b34e
* Content: [Implementing the infrastructure persistence layer with Entity Framework Core](https:

[2018-08-27 20:56] pkulikov commented on #6506
@DavidThi808 is the following link useful?
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals#workstation-and-server-garbage-collection

and its subsection:
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals#comparing-workstation-and-server-garbage-collection

[2018-08-27 20:56] mairaw commented on #7306
@karelz would you know who owns Speech APIs that could with this?

[2018-08-27 21:01] mairaw commented on #5872
That is actually correct @Katie-Van. I recommend you read more about events at this section of the docs: https://docs.microsoft.com/en-us/dotnet/standard/events/.

So closing this. But let us know if find other issues as you're trying to learn!

[2018-08-27 21:01] #5872 closed

[2018-08-27 21:04] mairaw commented on #6959
Thanks @Andikki for your feedback. You're right. We should look into that and see how we can make the TOC and the experience better.

[2018-08-27 21:15] bartonjs commented on #7238
I don't know that the description for the enum fields can be any better.  If `X509Certificate2.GetCertContentType(data)` returns `X509ContentType.Pkcs12` there's nothing saying that there's a private key in it.  Or a public certificate.  Just that the blob is a PKCS12 blob (aka a PFX).  It also doesn't indicate BER, DER, PEM-BER, PEM-DER, or "opaque"

For X509Certificate.Export, based on the diffe

[2018-08-27 21:29] StingyJack commented on #6868
I think you are saying the sentences should begin as "Starting with..." rather than "In...", right?

[2018-08-27 21:31] rpetrusha commented on #7261
Thanks for the question, @dhcgn. The Tuple* and ValueTuple* types use PascalCasing because they are members of the type's public interface. Typically, unnamed and named tuples in C# are a convenience feature that are used internally only and are not publicly exposed; as the Conclusion section of the [C# tuple types](https://docs.microsoft.com/en-us/dotnet/csharp/tuples#conclusion) article notes, t

[2018-08-27 21:31] #7261 closed

[2018-08-27 21:34] mairaw commented on #7313
Thanks @migueldeicaza. We can add a note to the remarks section talking about this. What would be the appropriate thing to say here? That the attribute is not supported in Xamarin?

[2018-08-27 21:39] mairaw commented on #7314
We don't have a link to the repo from all topics but it can be found listed at the cover article for the e-book at least: https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/#about-this-guide

The sample location for the microservices book can be found at https://github.com/dotnet-architecture/eShopOnContainers.

[2018-08-27 21:39] #7314 closed

[2018-08-27 21:39] #7038 closed

[2018-08-27 21:43] davidsh commented on #6443
I don't understand the question being asked here.  You can use either Synchronous based Socket APIs or Asynchronous ones to connect to a server. It doesn't matter how the server itself is implemented internally.

[2018-08-27 21:45] kendrahavens commented on #7204
The PR is out https://github.com/dotnet/docs/pull/7318

There was much less to change than I thought there might be since the original topic doesn't actually use any of the NUnit template.

[2018-08-27 21:46] mairaw commented on #6868
Yes, except when we really wanna call out something from a particular version. But I don't know in the case of this particular topic, if the correct thing would be in or starting with. This might have changed a lot since 2.0.

[2018-08-27 21:47] churstz commented on #7307
For starters, define the structure of the DoSomethingAsynchronously method.  Expanding upon this structure with an actual example when calling Task<string>.Factory.FromAsync() including handling the callback and state parameters using a APM methods (i.e. have Begin/End)

1) an example with a ref and/or out parameter
public string DoSomethingAsynchronously(ref int TimesExecuted) { }
public IAsyncRe

[2018-08-27 21:52] mairaw opened #7319 "Notes to inheritors badly formatted"
The Notes to inheritors section of this topic (and possibly others) looks bad:
![image](https://user-images.githubusercontent.com/12971179/44497545-e544d500-a62e-11e8-8fc7-81cbb2e4aaa9.png)

I tried fixing with PR https://github.com/dotnet/dotnet-api-docs/pull/458, but my attempts didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-08-27 21:58] davidsh commented on #7258
No. SocketPermission refers to the use of .NET Framework APIs to grant various permissions to applications.

See: https://docs.microsoft.com/en-us/dotnet/framework/misc/code-access-security-basics

Most .NET Framework applications runs in "full-trust" and so already have all the permissions.  But scenarios such as web hosting can run in "partial-trust" and only have certain permissions.

[2018-08-27 22:13] mairaw commented on #7258
Thanks @davidsh!

[2018-08-27 22:13] #7258 closed

[2018-08-27 22:42] Maoni0 commented on #6506
what @pkulikov said

[2018-08-27 22:46] rpetrusha commented on #7288
Ah. Sorry, I'd missed that, @pkulikov. I'll reopen.

[2018-08-27 22:56] rpetrusha commented on #6692
That would be great, @garg000dhruv. The examples should be committed to the dotnet/samples repo in a directory named samples/snippets/\<language>/api/system.linq.expressions/catchblock/. Don't hesitate to ask if you have any questions.

[2018-08-27 22:58] mairaw commented on #6506
Ok thanks @pkulikov and @Maoni0. See if that would help @DavidThi808 and we could add links to the existing topic from the gcServer element for more info.

[2018-08-27 23:39] rpetrusha commented on #6868
The exception to "starting with" is 1.0 -- since it was the first version, any explicit mention of 1.0 typically means the behavior is limited to 1.0 and was changed in 1.1.

[2018-08-27 23:50] rpetrusha commented on #6443
Thanks, @davidsh. Closing...

[2018-08-27 23:50] #6443 closed

[2018-08-27 23:50] karelz commented on #6868
I am fairly confident, that all comments are meant as "X.Y+", so all can be replaced with "Starting with ..." (except the 1.0 call out from @rpetrusha).
@noahfalk can you (or someone on debugger team) please double check? See [this](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/making-an-image-easier-to-debug) page.

[2018-08-28 00:06] #7235 closed

[2018-08-28 00:07] mairaw commented on #7204
You rock @kendrahavens! I'll get to it ASAP.

[2018-08-28 01:02] Rick-Anderson opened #7321 "Does ASP.NET Core implicit store apply to M.A.App in addition to M.A.All?"
See [ASP.NET Core implicit store](https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store#aspnet-core-implicit-store) on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70e2a4f1-0f8e-0d0f-5c82-f7f3972e238e
* Version Independent ID: 6f43fca9-13cf-67c9-c583-df70ef1a5d44
* Content: [Runtime package

[2018-08-28 01:03] Rick-Anderson commented on #7321
@natemcmaster can you answer this?

[2018-08-28 01:14] Rick-Anderson commented on #6510
@leecow  can you answer this?

[2018-08-28 01:37] natemcmaster commented on #7321
Not anymore. The implicit store only applies to ASP.NET Core 2.0. In 2.1, introduced the Microsoft.AspNetCore.App shared framework and stopped using the runtime store feature altogether. We also converted M.A.All to a shared framework.

[2018-08-28 02:18] DavidThi808 commented on #6506
You provide a lot of useful information if someone wants to learn all the nuances of the garbage collector. And that's good.

But what is not there is someone who wants a very quick answer. Granted, that answer may not fit any situation. But still, many people don't want to invest the time to learn all about this.

So maybe something at the top like "For most (not all!) cases, server mode is break

[2018-08-28 02:18] #6506 closed

[2018-08-28 07:29] imba-tjd opened #7325 "cref summary text won't show in .NET API Browser Description"
For example, searching `missing`:
![qq 20180828152637](https://user-images.githubusercontent.com/24759802/44707339-d64e9e80-aad6-11e8-9131-aa67244fbc91.png)
![default](https://user-images.githubusercontent.com/24759802/44707364-e5355100-aad6-11e8-8d0b-047f090acd3f.png)
Source: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Reflection/Missing.xml#L49

[2018-08-28 07:39] mairaw commented on #7325
I can repro this issue. Since content looks good and it seems to be a general site issue on how the API browser behaves, I've moved this feedback to https://github.com/MicrosoftDocs/feedback/issues/637. Thanks for reporting it @imba-tjd.

[2018-08-28 07:39] #7325 closed

[2018-08-28 09:04] mairaw commented on #7040
Ok, so do we want to add anything to the docs for now @blowdart?

[2018-08-28 09:30] jjpepper commented on #7146
@vlesierse that doesn't seem right, the doco right here above states:

"Pushes all .nupkg files in the current directory to the default push source:
dotnet nuget push *.nupkg", so it should work.

[2018-08-28 09:31] moyanming commented on #7192
@rpetrusha , if I add twice value "1" to the same key "A" as follow:
Add("A","1");
Add("A","1");
there are two values ("1,1") of the key "A", ["A"]="1,1", why the same value still add to the same key?
Best regards.

[2018-08-28 09:41] NineBerry opened #7326 "Misspelling"
The name "EnumMemberAtttribute" has one t too many.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c1e9c4a-10f7-a423-90f7-769e18666fa8
* Version Independent ID: 4e434bf9-705c-d508-9ead-bd1752796074
* Content: [Data Contract Versioning](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/data-contract

[2018-08-28 09:44] vlesierse commented on #7146
@jjpepper Except it doesn't.

[code]

[code]

[2018-08-28 10:13] jjpepper commented on #7146
Yes, so they need to fix it or fix the doco.

On Tue, 28 Aug 2018 at 5:44 pm, Vincent Lesierse <notifications@github.com>
wrote:

[2018-08-28 10:35] arnonax opened #7327 ""Use try/catch/finally blocks around code that can potentially generate an exception" - bad advice"
IMHO the first advice that is mentioned: "Use try/catch/finally blocks around code that can potentially generate an exception" is a bad one. Instead, I would say: "Don't catch exceptions if you don't have something useful to do with them".
One of the most common problems that I see in junior's code is that they wrap everything with try/catch because they're "afraid" that exceptions will be thrown

[2018-08-28 11:00] af4jm commented on #1876
I'm seeing this in .NET Core 2.1.2 today... `warning DE0005: SmtpClient is deprecated`... does that mean there's also a bug in `<PackageReference Include="Microsoft.DotNet.Analyzers.Compatibility" Version="0.2.12-alpha" PrivateAssets="All" />`?

[2018-08-28 11:54] Shah-Nisarg opened #7328 "Syntax highlighting is inconsistent for Class names"
I saw this in one of the examples:

![image](https://user-images.githubusercontent.com/20351320/44721132-8bd51e00-aae6-11e8-93f0-007197fe164e.png)

Notice the highlighting on constructors of `XElement`; two of them are highlighted in lighter blue color, while the rest are in black color.

I noticed that you are using [highlight.js](https://highlightjs.org/) v9.12.0. So let me know if I should rais

[2018-08-28 12:43] Shah-Nisarg opened #7331 "C# support for LINQ article improvements"
The page title is "C# Features That Support LINQ". However looking at some of the sections in the page, I am puzzled as to how they relate to the topic.

For example:
1. Object and Collection Initializers
    I can't think of any way in which the section relates to LINQ. It doesn't explain that either.

2. Auto-Implemented Properties
    Again, I'm not sure how this section is relevant to LINQ, an

[2018-08-28 13:50] pianoman4873 opened #7333 "multiple connections with SQL SERVER 2016"
Hi ,
What about opening multiple (concurrent ) connections to the same database server ( SQL SERVER 2016 )  - Should this NOT be escalated to MSDTC ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b50cb51-1aa0-1871-960c-03c22bdd0c96
* Version Independent ID: b282ca42-c163-dbe9-dc1e-49f110f17511
* Content: [Transaction

[2018-08-28 14:47] aldav82 commented on #7270
Sure, I just can't quite figure out the location of the file needed to be changed. It is not [docs/csharp/language-reference/keywords/when.md](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/keywords/when.md), it is the c# code sample referenced at the end of that file, but I can't quite find out where in the repository is that file.

[2018-08-28 15:07] aldav82 commented on #7270
Ok, I just realized the modifications should be done on the [dotnet/samples](https://github.com/dotnet/samples) repository. A [PR](https://github.com/dotnet/samples/pull/266) was created. Thanks.

[2018-08-28 15:08] briandunnington commented on #7270
PR here: https://github.com/dotnet/samples/pull/267

[2018-08-28 15:26] monty241 opened #7336 "Raises questions about meaning"
The explanation of a flag like 'Use key information from the current key.' makes me wonder about the semantics. Some additional links for the flag values to supporting documentation might improve accessibility and therefore improve both the number and quality of implementations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-28 15:30] pianoman4873 opened #7337 "two transactionScopes enclosing one another"
Hi,
If a transactionScope with TransactionScopeOption.Required , encloses another transactionScode with TransactionScopeOption.RequiresNew ,

Would this necessarily mean MSDTC will escalate this as a distributed transaction ?
(assuming the connection strings used by the queries used in both scopes are to the same database server )

thanks

[2018-08-28 16:07] #7326 closed

[2018-08-28 16:16] MrExplode opened #7339 "Feedback"
I have .NET 4.7.2 installed. Howewer, VS still says there is no namespace like System.Web.ClientServices.Providers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221496a6-b61f-967d-9765-b2fb47204aa7
* Version Independent ID: b3e1fb61-c336-a64f-2ea8-33bd1840eb7c
* Content: [How to: Implement User Login with Client Appli

[2018-08-28 16:36] #6952 closed

[2018-08-28 17:03] Dirkster99 opened #7340 "Override is not working for me because binding is ignorred :-("
I have this project where I am trying to use a templated class to inherite properties in an
inheriting class and I am failing to overwrite the default values in an inheriting class:

https://github.com/Dirkster99/NumericUpDownLib/tree/master/source/NumericUpDownLib

- base class: AbstractBaseUpDown&lt;T&gt;
- inheriting class, for example: ByteUpDown

When I overwrite MinValue and MaxValue depende

[2018-08-28 17:05] #7270 closed

[2018-08-28 17:19] lisaguthrie opened #7341 "Documentation needs to be updated to reflect VS 15.8+"
This documentation is out of date. VS 15.8+ no longer create a docker-compose project, just a Dockerfile. Also, the VS 2015 tools for Docker are no longer supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf20f50-2d15-1744-386d-1d05ff9931fb
* Version Independent ID: b07f881a-4b4e-9db5-9eb6-c83cf0fba6b2
* Conte

[2018-08-28 18:37] rpetrusha commented on #7331
Thank,  @Shah-Nisarg, for your comment (as well as for submitting your PR). Object and collection initializers, as the documentation notes, can project the data returned by a query into a new data type; the example included just doesn't provide an illustration, as it should.

In terms of auto-implemented properties, I can't think of how they might be relevant to LINQ queries.

So the example for o

[2018-08-28 19:09] JRAlexander commented on #7321
This looks like it's been resolved. If not, please reopen.

[2018-08-28 19:10] Rick-Anderson commented on #7321
I need to update the doc to state We also converted M.A.All to a shared framework.

[2018-08-28 19:13] rpetrusha commented on #6898
Thanks for pointing out the absence of information on generic types, @alphaleonis. We've scheduled some time to revise this topic to add a section on generic type names.

[2018-08-28 19:19] Rick-Anderson commented on #7321
@natemcmaster should I update this something like the following?

**ASP.NET Core implicit store**

The ASP.NET Core implicit store was used by ASP.NET Core 2.0 until version 2.0.x? Or is still used when you target 2.0?

We strongly recommend updating to ASP.NET Core 2.1 or later which doesn't use the runtime store. ASP.NET Core 2.1 and later use the [shared framework](https://github.com/dotnet/doc

[2018-08-28 19:57] natemcmaster commented on #7321
The implicit store is used for all ASP.NET Core 2.0.x releases. It is always used when you reference the Microsoft.AspNetCore.All 2.0.x package.

And yes, we strongly recommend moving to ASP.NET Core 2.1. .NET Core 2.0 will not be supported after Oct. 1. See https://blogs.msdn.microsoft.com/dotnet/2018/06/20/net-core-2-0-will-reach-end-of-life-on-september-1-2018/

[2018-08-28 21:15] #7160 closed

[2018-08-28 21:40] blowdart commented on #7040
@BrettLopez can make a decision

[2018-08-28 21:41] rpetrusha commented on #7264
Not completely, @gdiazderadaa. "aaaa" is not a recognized custom format string. What happens when you run the following C# code?
[code]

The result should be dd/MM/yyyy for both cultures.

[2018-08-28 21:43] JRAlexander commented on #6801
@christianenriquez, I'm going to close this as there has been no activity, and assume this is resolved. Please  reopen if this isn't the case.

[2018-08-28 21:43] #6801 closed

[2018-08-28 21:46] JRAlexander commented on #5722
@raghumuttana, I'm going to close this as there has been no activity, and assume this is resolved. Please reopen if this isn't the case.

[2018-08-28 21:46] #5722 closed

[2018-08-28 22:11] rpetrusha commented on #7192
It happens because the NameValueCollection stores multiple values to the same key. If that's not the behavior that you want -- that is, if you only want one value per key -- use the [Dictionary\<TKey, TValue>](https://docs.microsoft.com/dotnet/api/system.collections.generic.dictionary-2) class.

[2018-08-28 22:12] svick commented on #7264
What would be advantage of having localized custom format strings like that? Are you showing the format strings to your users?

[2018-08-28 22:36] DougSchmidt-AI opened #7351 "Update/remove the .NET 4 note saying "<generatePublisherEvidence>" has no effect on assembly load times."
In the [Remarks](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/generatepublisherevidence-element#remarks) section of the `generatePublisherEvidence` element page. there is a big blue warning note saying "`In the .NET Framework 4 and later, this element has no effect on assembly load times.`"

That statement is not true (or at least, is not always true).

In o

[2018-08-28 22:44] mairaw commented on #7339
Have you referenced the assembly needed in your project like System.Web.Extensions.dll?

[2018-08-28 22:48] mairaw commented on #7341
Thanks @lisaguthrie. I just pinged you on a PR with the updates to this topic. Please take a look.

[2018-08-28 22:55] #5885 closed

[2018-08-28 23:10] rpetrusha commented on #7264
Thanks, @svick. I realize that I was misunderstanding the question. @gdiazderadaa. the custom date and time format strings are predefined language elements (very much like the name of a class, such as **System.String**, or the name of a language keyword, such as **foreach**). They cannot be localized.

The idea here is that the format strings provide a standardized grammar that supports output tha

[2018-08-28 23:10] rpetrusha commented on #7264
I hope that this finally answers your question, @gdiazderadaa. Under the assumption that it does, I'll close this issue. If not, feel free to respond.

[2018-08-28 23:10] #7264 closed

[2018-08-28 23:54] #6337 closed

[2018-08-29 00:36] noahfalk commented on #6868
yeah that seems accurate to me

[2018-08-29 01:54] YdrMaster opened #7353 "Where is F#？"
I really need to know how to convert unmanaged type to byte array in F#, so I find this topic. But there are no F# actually.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 4bcc0965-1e51-9447-2ff3-6ad1e97fa23c
* Version Independent ID: 51e00825-652a-db1c-9706-f056f2412cab
* Content: [BitConverter Class (System)](https://docs.microsoft.com/zh-cn/dotnet/api/system.bitc

[2018-08-29 02:15] migueldeicaza commented on #7313
I think this would work:

"This attribute has no effect on the Xamarin platforms or the Mono runtime"

[2018-08-29 02:29] atif-shamim opened #7356 ".Net Core Cross Platform"
Hi There,

Can anyone answer my question that What makes .NET Core Cross Platform and what are its different with previous .Net Framework which makes it cross platform

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581f6cbb-c666-87ee-ab0c-f131baca403c
* Version Independent ID: 9205f603-e1d4-e0eb-1273-f176fcbf520f
* Con

[2018-08-29 06:09] mairaw commented on #7356
Hi @atif-shamim, .NET Core is cross platform because it runs on Windows, macOS and Linux while .NET Framework is Windows only. .NET Core has a different implementation which allows the code to run on these different platforms.

This StackOverflow question covers a similar question:
https://stackoverflow.com/questions/38063837/whats-the-difference-between-net-core-net-framework-and-xamarin

I hope

[2018-08-29 06:09] #7356 closed

[2018-08-29 06:10] mairaw commented on #7353
@cartermp would you be able to help with this question?

[2018-08-29 06:15] mairaw commented on #7328
Thank you for your feedback @Shah-Nisarg. Given this is about the site experience and not the content itself, I've moved the feedback to https://github.com/MicrosoftDocs/feedback/issues/641. Someone from the engineering team should follow up on that.

[2018-08-29 06:15] #7328 closed

[2018-08-29 06:28] mairaw commented on #7305
Thanks @devlead. Adding @terrajobst here to comment on this request. Agreed that if we review the guidance, all those pointers should be updated as well.

See his comment from a similar request here:
https://github.com/dotnet/docs/issues/5915#issuecomment-406438591

If now is not the right time yet to change those cells to 4.7.2, we could also add a warning for now to the topic about the recommend

[2018-08-29 06:42] mairaw commented on #7039
@ianhays can you help with this question? Is there something we should add to the docs? Thanks!

[2018-08-29 07:02] mairaw commented on #5976
Thank you for your feedback @dparvin. Indeed, it's not very helpful to have the same example for all overloads. We added this to our backlog and as a community project, if anyone would like to submit a fix for this.

[2018-08-29 07:06] davidbozjak opened #7357 "Please provide the output that the example prints to console"
In most of the examples we see on docs we also see na output that the sample would print. This is missing on the page below. Please add it to make the article more useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f081c486-54a2-aee0-dc80-6cb3a658c67d
* Version Independent ID: c4cafc4d-797c-4f93-6318-84b16438a833
*

[2018-08-29 07:16] mairaw commented on #6321
Thank you @markleebrian for your feedback and apologies for not getting to this sooner.

I'd typically ask if you'd like to open the pull request yourself, but I've done this now due to the delay:
https://github.com/dotnet/samples/pull/271

[2018-08-29 07:18] FvantHoff opened #7358 "Determine PowerShell version"
Great code to retrieve the DOT NET version:
Get-ChildItem "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\" | Get-ItemPropertyValue -Name Release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c991-ab7382025406
* Content: [How to

[2018-08-29 07:50] boskjoett opened #7359 "Wrong type in description"
The description for CreateSerializer says "Returns a derivation of the XmlSerializerFactory class ..." in many places. It should be "Returns a derivation of the XmlSerializer class ..." in all places.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c41a03a1-fb09-d61a-35f7-5faf83e4cd41
* Version Independent ID: 880b85fa-

[2018-08-29 08:01] roel4ez commented on #7260
I created a PR to help clarify this. Hope this helps!

[2018-08-29 08:04] boskjoett opened #7360 "Unclear statement"
What do you exactly mean by this statement:
"This API supports the product infrastructure and is not intended to be used directly from your code."
Should this class not be used to create an XmlSerializer? If not, then please explain why not, and provide a link to the recommended alternative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-08-29 08:38] PavlinStefanov commented on #6503
I also did the tests.  I did the tests with a small list, a medium-sized list, a large size list,
 then changed the version of the library from 0.3 to 0.4 and vice versa, but the result is the same as for @ OnlyChildRecords.
 In my opinion, it is currently risky to use Sentiment Analysis in a real environment

[2018-08-29 09:29] OnlyChildRecords commented on #6503
I think it maybe to do with the training data.  It's hard to guess if 0 or 1 represents a positive or negative comment because there are both positive and negative comments with 0's and 1' s and there is no explanation in the tutorial a to tell us if 1 or 0 represents positive or negative.  For example:

1	 ::::: Why are you threatening me? I'm not being disruptive, its you who is being disruptive

[2018-08-29 09:57] Shah-Nisarg opened #7361 "Link takes me to MSDN"
In the first section there is a link: `How to: Generate XML from CSV Files`, which takes me to [MSDN](https://msdn.microsoft.com/library/dd7bab8c-96fa-4343-94d0-9739dd6a74fd), and after I choose C#, back to docs: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/how-to-generate-xml-from-csv-files.

The issue is similar to: https://github.com/dotnet/docs/issues/6955

--

[2018-08-29 10:02] Shah-Nisarg opened #7362 "Ambiguous wording: Split or Split"
In the first section, one of the paragraph states:

Notice that while reading it is unclear which `Split` methods are being referenced. Hovering on the links does reveal the class-namespaces being referenced.

I would suggest rewording the sentence as following to improve readability:

There is a similar instance in section "Querying a Block of Text". So that one would also require rewording.

---

[2018-08-29 10:13] gdiazderadaa commented on #7264
@svick @rpetrusha the main purpose of this is to show a localized placeholder in a DOB field for a multilanguage website.

[2018-08-29 10:31] svick commented on #7264
@gdiazderadaa

First, are you sure your users would understand what the placeholders mean? Isn't there a better way to explain that to them?

If you still think this would be useful, I think it would have to be a new API. You can propose new .Net APIs by creating an issue in [the corefx repo](https://github.com/dotnet/corefx), ideally following [their API review process](https://github.com/dotnet/

[2018-08-29 11:58] NiPfi opened #7365 ".NET Core: Behavior on non-Windows machines?"
The documentation mentions that "The initial value of this property is derived from the settings in the Region and Language item in Control Panel", but that offers no insight as to what the behavior is on Linux  (for example in a cloud environment). Please specify how the defaults are set in those cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-08-29 12:14] #7115 closed

[2018-08-29 12:16] marsti opened #7366 "WCF Test Client and TLS 1.2"
Using: Windows 10 with .NET Framework 4.7.2 and WCF Test Client 15.0.27825.0

I am trying to get the WCF Test Client to connect with a web server that only supports TLS 1.2.

Is this supported or do I have to do any changes in e.g. WcfTestClient.exe.config ?

[2018-08-29 13:05] stevehtml opened #7367 "Docs for Dummies ( or "This is how we do it ! " )"
Icing on the cake , entire topic comes as PDF ! THANK You , so hard a time with so basic a skill. From what I've read so far you've made it very simple & uncomplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301116d4-ff88-c411-e0e3-ba8b552fc6ee
* Version Independent ID: 586f81d7-d9df-95f7-d73f-7d7b6db198a5
* Co

[2018-08-29 14:52] SteveGoodman opened #7370 "Second and Third code examples are around the wrong way."
Please swap the code samples for example 2 and 3 as they are currently around the wrong way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316c9bfd-da1c-0f69-7314-6bfb5caa42e5
* Version Independent ID: 457cdce2-b90e-4dfb-318f-895357738f1f
* Content: [How to: Create a Custom Security Token Authenticator](https://docs.m

[2018-08-29 15:00] gsegalerba opened #7371 "Java Client for Transport Security with Windows Authentication"
I'm currently trying to consume a web service which has security binding:
     <security >
        <transport mode="Message" clientCredentialType="Windows" proxyCredentialType="None"
            realm="" />
        <message clientCredentialType="Windows" negotiateServiceCredential="true"
            algorithmSuite="Default" />
      </security>

Is it possible to do it from a java application that

[2018-08-29 15:00] gsegalerba commented on #7371
[code]

[2018-08-29 15:01] MrExplode commented on #7339
Well, no. Then probably that will be the problem, thanks

[2018-08-29 15:39] subsembly opened #7372 ".NET Core special requirements for client certificates"
The special requirements for client certificates explained here https://github.com/dotnet/corefx/issues/30483 should be observed. Otherwise the client certificate will not be sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224238c-48a5-5e97-4bcd-03288ccb73dd
* Version Independent ID: 7daf43e2-3a0f-f41a-07df-7c4a0

[2018-08-29 16:10] mairaw commented on #7339
Closing this issue then.

[2018-08-29 16:10] #7339 closed

[2018-08-29 16:12] mairaw commented on #7367
Thank you for your comments @stevehtml. We're glad you liked the topic and the new functionalities we're adding to our new docs site.

[2018-08-29 16:12] #7367 closed

[2018-08-29 16:21] djmarcus1 opened #7373 "Where is PeekByte() ?"
The class supports a PeekChar() but not PeekByte().

Given that is supports byte operations, then PeekByte() should have been there!.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85fe2be8-c1a2-75a5-2308-8e7572b647fb
* Version Independent ID: 84c4bc98-3b95-8502-3bb5-6591b49713d2
* Content: [BinaryReader Class (System.

[2018-08-29 16:26] mairaw commented on #7362
Thanks for your feedback @Shah-Nisarg. I've opened a PR to fix this:
https://github.com/dotnet/docs/pull/7374

[2018-08-29 16:30] mairaw commented on #7373
Thanks for your feedback @djmarcus1. This repository is for content feedback only.

@JeremyKuhne, @pjanotti can comment on this product request and whether I should move to another repo.

[2018-08-29 16:48] mairaw commented on #7361
We have a whole issue to review the MSDN links (#2037). You can see we're making progress towards that.

But for this one in particular, I ended up already fixing that when I was addressing the other issue you reported:
https://github.com/dotnet/docs/pull/7374

[2018-08-29 16:55] Shah-Nisarg commented on #7361
@mairaw Thanks for letting me know. I assume that I don't need to report MSDN routing related issues separately.

[2018-08-29 18:09] Lordzalo commented on #6892
I tried to install my service in the comand promt (as an administrator) a box pops up telling me that i require a pasword and username. Could someone answer why do I have to do?

[2018-08-29 18:10] Lordzalo commented on #6892
using* the comand promt

[2018-08-29 18:24] wjsiv opened #7376 "What do I do when the form is on the Master Page?"
Is there an alternate way to set the Accept Button?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 774a513f-39a8-4488-5b53-77b310c475a2
* Version Independent ID: 336c36af-663d-ab49-29d1-ce9ec5485f38
* Content: [How to: Designate a Windows Forms Button as the Accept Button Using the Designer](https://docs.microsoft.com/

[2018-08-29 18:34] Lordzalo opened #7377 "the pasword/username box that appears everytime I try to install the service."
I tried to install my service using the comand promt (as an administrator) a box pops up telling me that I need
 pasword and username. Could someone answer why, and what do I have to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3ba0-c606-25ada7347b22
* Version Independent ID: e797ddfe-a9d3-93a4-61bd

[2018-08-29 18:36] mairaw commented on #7373
Thanks @JeremyKuhne. @djmarcus1 please submit your API suggestion at
https://github.com/dotnet/corefx.

[2018-08-29 18:36] #7373 closed

[2018-08-29 18:38] astidham2003 opened #7378 "yield is a contextual keyword"
The first sentence says yield is a keyword.  Would it be clearer to describe yield as a 'contextual keyword' to make it clear that it is a valid variable name and not the same as a 'reserved word'?  Source:  https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-08-29 18:45] #7361 closed

[2018-08-29 18:45] #7362 closed

[2018-08-29 19:00] BenjaminChambers commented on #6210
I assume it's just for simplicity. Any stream would work, a memory stream is simply the easiest.

[2018-08-29 19:12] JeremyKuhne opened #7379 "Need to update Path.Combine docs when we get Path.Join filled in"
The rooting behavior of Path.Combine is often surprising, so Path.Join is the recommended API if targeting supported platforms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19662048-a464-45f5-46db-be0a6ce7a97d
* Version Independent ID: d6735548-9307-8093-3939-da3f65df15bd
* Content: [Path.Join Method (System.IO)](htt

[2018-08-29 19:17] JMW62 opened #7380 "RE: Encrypting and Decrypting?"
Hi Maira and Matt! Enjoyed your walkthrough! Built the app and it appears to be working. However, I tested the program in 4 different ways: 1. Just to check the program was working, inserted "Test001" as the Plain Text input (I presume this would be synonymous with Username?) and "pass001" as the Password. This produces a cipher code. Decoding produces the Plain Text(PT) result - "Test001";  2. Pl

[2018-08-29 19:54] #7321 closed

[2018-08-29 20:41] rpetrusha commented on #7370
Thanks for pointing this out, @SteveGoodman. I've opened PR #7381 to correct it.

[2018-08-29 20:59] rpetrusha commented on #7359
Thanks for pointing this out, @boskjoett. We've corrected the erroneous description in dotnet/docs#478.

[2018-08-29 21:25] rpetrusha commented on #7357
Thanks for your feedback, @davidbozjak. We've added output for the examples in dotnet/samples#274.

[2018-08-29 22:49] kbdguy opened #7384 "why not link?"
"see the Query by Example overview topic"  Great!  WHERE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cf2d222-8338-1896-c9ab-48ad9bab0c0f
* Version Independent ID: 305a5a1b-7f2d-cba3-a2a5-1586cd477dfa
* Content: [PrincipalSearcher.QueryFilter Property (System.DirectoryServices.AccountManagement)](https://docs.micro

[2018-08-30 01:06] #7359 closed

[2018-08-30 01:11] rpetrusha commented on #7384
I'm apologize for this inconvenience, @kbdguy, that there was no link to the topic. It seems to have been removed from our documentation set; in any case, search hasn't succeeded in finding it. I've opened PR dotnet/dotnet-api-docs#480 to remove it.

[2018-08-30 01:33] atif-shamim commented on #7356
Hi @mairaw My Question was different what exactly there is difference  in implementation in .Net Core and .Net Framework which makes .Net Core Cross platform.

I understand since .Net Core runs on Windows, macOS and Linux that's why its Cross Platform but what exactly the implementation of .Net Core makes it Cross Platform.

Also one more question what exact implementation makes .Net Core high per

[2018-08-30 02:45] Buzzardbait opened #7388 "Shift Operators in VB"
The left shift operator (&lt;&lt;) fails in Visual Basic with "expected expression" error.
Syntax precisely as shown in the examples. Data type is Byte.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17bb40a2-e717-801b-0d3c-f93aaa928da6
* Version Independent ID: 3032bdf1-eec5-ea63-6175-2ad8855e9ce0
* Content: [&lt;&lt;

[2018-08-30 05:33] ghost opened #7389 "b"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-08-30 06:10] #7389 closed

[2018-08-30 06:15] daiyoshi opened #7390 "Azure Guest OS registry settings"
&gt;&gt;The Azure Guest OS image for Azure Cloud Services already has the SchUseStrongCrypto registry key set to a value of 1.
In Azure Cloud Services' Azure guest OS image, the value of SchUseStrongCrypto registry key is not set to 1.
Therefore, if you do not do anything, you get an error and you can not connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-08-30 06:42] davidbozjak commented on #7357
Thanks, looking forward to it being deployed.

[2018-08-30 06:42] #7357 closed

[2018-08-30 08:06] gdiazderadaa commented on #7264
It's current functionality on a live website so can't change it but just wondering if there was any better way to do it rather than a custom lookup function which uses the culture name and returns the placeholder

[2018-08-30 10:48] savbace opened #7392 "Microsoft.Extensions.Configuration.DockerSecrets link is broken"
Navigating https://github.com/aspnet/Configuration/tree/dev/src/Microsoft.Extensions.Configuration.DockerSecrets gives 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523be1c3-4079-4f28-13ab-353b7a116c98
* Version Independent ID: 78a37644-6ecc-3752-38ee-4eb18819bc9b
* Content: [Using Azure Key Vault to protect secr

[2018-08-30 11:31] mahspiir opened #7393 "When adding cookie to cookie container, domain is invalid"
Hi,

When adding a cookie to a CookieContainer the VerifySetDefaults method will throw a CookieException with message "The 'Domain'='https://somedomain.com' part of the cookie is invalid." when using the example given because the protocol is included.

The correct format for domain seems to be "somedomain.com"

See this fiddle for reference
https://dotnetfiddle.net/KaT5DQ

---
#### Document Detail

[2018-08-30 12:41] svick commented on #7356
@atif-shamin

I'd say the biggest difference is that whenever .Net Core needs some service from the operating system (like allocating memory or opening files), it goes though a Platform Abstraction Layer (PAL), which means each OS can have a different implementation.

There is no single thing that does that. When you want to make a high performance framework, pretty much every component has to be

[2018-08-30 12:50] mausch opened #7395 ""exception escalation policy""
It would be nice to link to a detailed explanation for the "exception escalation policy" mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 580df2e4-74f2-38e0-884c-a6e1443e2083
* Version Independent ID: 16b84bbc-e4ad-1b22-6980-522b48cb8ca4
* Content: [UnobservedTaskExceptionEventArgs.SetObserved Method (Sys

[2018-08-30 15:54] SamuelEnglard opened #7397 "Order of TElements in ILookup<TKey, TElement>"
`GroupBy` explicitly states the order of the elements in each `IGroup&lt;TKey, TElement&gt;`

&gt; The IGrouping&lt;TKey,TElement&gt; objects are yielded in an order based on the order of the elements in source that produced the first key of each IGrouping&lt;TKey,TElement&gt;. Elements in a grouping are yielded in the order that the elements that produced them appear in source.

What is the order

[2018-08-30 15:59] david-mitchell opened #7398 "Misleading documentation about `Close` and `Abort`"
The remarks for this class discuss Close and Abort as if they are operations that can be performed directly on the `HttpListenerContext`, but these are methods are instead declared on `HttpListenerResponse`.

It *appears* that the caller of `HttpListener.GetContext` (or one of its asynchronous variants) is responsible for calling one of `Dispose`/`Close`/`Abort` on the `Response` in order to ensur

[2018-08-30 16:46] salavatov opened #7400 "Setting Timeout more than once is not supported"
Even with now ongoing requests it will produce
"System.InvalidOperationException: 'This instance has already started one or more requests. Properties can only be modified before sending the first request.'" exception.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 498a07e4-a734-4344-3e48-e90f80c4e016
* Version Independ

[2018-08-30 17:04] #7201 closed

[2018-08-30 17:47] rpetrusha commented on #7388
I can't reproduce this behavior, @Buzzardbait. Can you reply with your code that is producing the error?

[2018-08-30 17:51] #6335 closed

[2018-08-30 18:16] Buzzardbait commented on #7388
I think I understand the problem. I'm using Office 365 VB For Applications. Microsoft co mingles all languages in their VB Programming Reference which is a bad idea. Usually examples will show C++ at the top if it applies to C++ but this one didn't.  I don't think VBA has the << or >> operator. I converted to string and did it that way to solve the problem. Anyway, the code was exactly like the ex

[2018-08-30 19:36] #7303 closed

[2018-08-30 19:51] #7260 closed

[2018-08-30 20:08] rpetrusha commented on #7388
I think that's the problem, @Buzzardbait. I may be wrong, but I *think* that the right and left-shift operators were added to Visual Basic .NET only in .NET Framework 2.0. They definitely were not included in VBA or Visual Basic 6.0 and earlier.

Thanks for your comment, though. I'll close this issue.

[2018-08-30 20:08] #7388 closed

[2018-08-30 20:12] rpetrusha commented on #7264
A custom lookup based on culture name is probably the best way to do it, @gdiazderadaa.

[2018-08-30 20:43] mvelosop commented on #5437
The [pdf eBook](https://aka.ms/microservicesebook) update was just updated a few days ago, just starting the process of updating in docs.microsoft.com.

[2018-08-30 20:43] JeremyKuhne commented on #7379
We should extend this to document how to safely check for path containment (as we've done for the example for [ExtractToFile](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfileextensions.extracttofile?view=netcore-2.1#System_IO_Compression_ZipFileExtensions_ExtractToFile_System_IO_Compression_ZipArchiveEntry_System_String_System_Boolean_), etc.)

Maybe a linked article from

[2018-08-30 20:45] Protiguous opened #7406 "Longer C# example please."
A longer C# example would be more helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eb5036e-ef53-4f8e-c15d-3a7829fbe049
* Version Independent ID: 62552b5f-9427-92c3-af97-ec76e1992222
* Content: [Adding DataRelations](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/dataset-datatable-dataview/adding-

[2018-08-30 20:51] dsplaisted opened #7407 "Document Visual Basic runtime embedding behavior in Sdk-style projects"
With Sdk-style projects, the default is for the Visual Basic runtime to be embedded, which is different from the default for classic style projects.  This means that certain types from the VB runtime aren't available.

It is possible to use the old behavior by setting the following property: `<VBRuntime>Default</VBRuntime>`

It would be a good idea to document this behavior in some way.

See https

[2018-08-30 20:59] rpetrusha commented on #6510
@chakrabar, I can't reproduce this behavior. Can you check your *.csproj file to make certain that it doesn't define any runtimes? In terms of assembly differences, they're to be expected when implementations vary by underlying platform or wrap calls to platform APIs.

[2018-08-30 21:04] jstefanelli opened #7408 "Broken link to "Default WPF Themes""
http://go.microsoft.com/fwlink/?LinkID=158252 is broken (redirects to archive.msdn.microsoft.com)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2271374f-b0a0-c7f6-121f-3b56f4d140ec
* Version Independent ID: 12639a1d-ef4e-86d8-bab6-43fe83425eb2
* Content: [Control Styles and Templates](https://docs.microsoft.com/en-us/

[2018-08-30 21:09] mvelosop commented on #5331
Just for the record, this was answered on issue dotnet-architecture/eshoponcontainers#721 (it's a bug).

[2018-08-30 21:46] douglaslMS commented on #7406
@Protiguous What would you expect to see in a longer C# example? The article provides a good, short C# example of creating a DataRelation. Any further examples are going to look almost identical.

[2018-08-30 22:32] Thraka commented on #7319
@rpetrusha No worries buddy!

[2018-08-30 23:36] #7392 closed

[2018-08-30 23:43] mairaw commented on #7408
Thanks for your feedback @jstefanelli. @sambent is there a good replacement for this link?

[2018-08-30 23:48] mairaw commented on #7408
Actually, I found an old issue reporting the same problem, so I'll be closing this one as duplicate.

[2018-08-30 23:49] mairaw commented on #7408
Duplicate of #6831

[2018-08-30 23:49] #7408 closed

[2018-08-30 23:50] mairaw commented on #6831
@SamBent if you can let us know in this issue instead if there's a good replacement for that link, it would be great.

[2018-08-30 23:56] mairaw commented on #6610
Thanks you for letting us know @ryancrawcour. I've opened PR #7409 to fix this.

[2018-08-31 00:11] mairaw commented on #7400
It seems that would be design. @davidsh can you comment?

[2018-08-31 00:45] avifarah commented on #6981
Ex 1.
a == b == c;
The == operator has a right-to-left associativity making the previous statement equivalent to a == (b == c);

Ex 2:
On the other hand
a && b && c;
The && operator has a left-to-right associativity making the previous statement equivalent to (a && b) && c;

Thank you for your attention.

[2018-08-31 01:00] chrishiestand opened #7410 "Documentation for flags needs to be updated"
In particular the script now says that --shared-runtime is deprecated and to use --runtime instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts](https://docs.microsoft.com/en-us/dotne

[2018-08-31 01:14] #6868 closed

[2018-08-31 07:03] dasMulli opened #7413 "API browser: navigating to an overload from search result is difficult"
# Issue Title

Navigating to an overload that only exists in .NET Core 2.1 is impossible from search result as the framework switches from "all" in search to .NET 4.7.2 in the API browser.

Scenario:
* Search for Path.GetFullPath
* Click on the (String, String) overload
* Be disappointed that you get to a page that doesn't contain the (String, String) overload
* Know that this is only available in

[2018-08-31 09:54] Alumniminium opened #7416 "TestRef example is missleading and pointless."
arrays are reference types, passing them with `ref ` changes nothing. You can remove the `ref ` from `static void FillArray(ref int[] arr)` and from `FillArray(ref theArray);` and the result will be the same. This is very very confusing to people trying to learn from the official docs.

With and without using `ref ` the following output is achieved:

**Output:**
Array elements are:
1111 2 3 4 5555

[2018-08-31 10:32] johnye2e opened #7417 "Missing WebHttpBinding binding features"
WebHttpBinding is missing from the second table (Binding Features)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684169cb-54a5-7351-3f62-2375fac8a73d
* Version Independent ID: 100e1821-3d93-6f8d-fe33-d58b0b5e87d1
* Content: [Configuring System-Provided Bindings](https://docs.microsoft.com/en-us/dotnet/framework/wcf/fe

[2018-08-31 13:57] dwhipps opened #7418 "Broken sample code links."
Broken sample code links. Broken sample code links everywhere!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da5474c-bcac-8de8-b0ec-9d9e8f2bd22a
* Version Independent ID: 6c809d60-8df1-61e6-ae67-47c7f0c08536
* Content: [Walkthrough: Hosting WPF Content in Win32](https://docs.microsoft.com/en-us/dotnet/framework/wpf/a

[2018-08-31 14:51] tscott98 opened #7419 "Document exit code values for ngen.exe"
It would be helpful to document whether ngen.exe sets an EXIT CODE upon termination or not, and if the exit code has any meaning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 085ecaf8-233f-82eb-c564-b05137c899b9
* Version Independent ID: e2088737-ec20-b083-0a26-c041003d12dd
* Content: [Ngen.exe (Native Image Generato

[2018-08-31 15:05] #7384 closed

[2018-08-31 15:41] pkulikov commented on #7416
@Alumniminium

passing with `ref` changes a lot :) if you pass with `ref` you can change to **what** reference references. Consider the following example code (I've already put outputs into comments, however you might just copy it and run in [try.dot.net](https://try.dot.net/)):

[code]

Note that `ClearArrayRef` and `ClearArrayAsIfRef` differ only by `ref`, however, they behave very differently.

[2018-08-31 15:46] douglaslMS commented on #7406
@Protiguous Help me understand what you're looking for in a longer example of adding a DataRelation. FYI I'll be away for two weeks so it will be a while before I comment again.

[2018-08-31 15:53] JesseChisholm opened #7420 "Doc issue: Process.PrivateMemorySize64 Property"
The example code documenting the use of **Process.PrivateMemorySize64 Property** does not even demonstrate **PrivateMemorySize64**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca9b1cbd-fea8-24c5-2141-29d95503a99d
* Version Independent ID: 568fb704-6832-56b2-ddec-91bdc7c48614
* Content: [Process.PrivateMemorySize64 P

[2018-08-31 16:10] mgregory22 commented on #7327
I would say it is incomplete advice rather than bad.  You are supposed to catch exceptions and handle them in a way that cleans up inconsistent state and makes it easy for the developer or end user to troubleshoot the error.  E.g. an error message that provides relevant details about what could have happened, printing the value of a bad parameter in addition to the call stack, or maybe hiding the

[2018-08-31 16:50] markolbert opened #7422 "EF Core Tools Not Updating"
I have a newly-created ASPNet Core v2.1 app which includes a separate project for an EF Core 2.1 SqlServer database.

When I run dotnet ef commands, I get a warning that I'm using an outdated version of the ef core tools (2.1.1-rtm-30846). There is no global.json file in my solution directory. I've installed the latest Net Core SDK 2.1. Why am I still getting this warning message? How do I get rid

[2018-08-31 18:26] #7231 closed

[2018-08-31 18:31] rpetrusha commented on #7420
Thanks for pointing out that the example doesn't actually retrieve the value of Process.PrivateMemorySize64, @JesseChisholm. We've added the issue to the backlog and to the community contributor's project.

[2018-08-31 19:26] markolbert commented on #7422
The first link you provided ("here (second one)") took me to an Office Xml page. I don't think that's what you meant, but, in any event, I didn't see anything pertaining to the problem I encountered.

Yes, I followed the instructions in the migration/20-21 link.

Here is the csproj file for the project containing the EF Core context definition and migrations (apologies for not including it in the

[2018-08-31 19:27] mairaw commented on #7419
Thanks for your feddback @tscott98. @noahfalk is this something your team can help with?

[2018-08-31 19:36] mairaw commented on #7418
Yes, unfortunately when they shut down the archive site, the links in the docs weren't updated. A lot of the WPF samples were migrated to https://github.com/Microsoft/WPF-Samples. I think I found the right replacement and I've updated that FwLink. Thanks for letting us know @dwhipps!

[2018-08-31 19:36] #7418 closed

[2018-08-31 19:51] mairaw commented on #7422
Argh, working on too many things. Fixed the link now. It should have been https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#troubleshooting-build-warnings.

[2018-08-31 19:53] arnonax commented on #7327
That's better, though typically mostly cleanup should be done in a `finally` block rather than in the catch block.
All other cases and examples you gave fall into my proposed advise: "only if you have something useful to do with that". What I'm saying is that the way the advice is given in the article implies that you should *always* catch *every* exception (e.g. in every method), and IMHO that's

[2018-08-31 19:55] #6321 closed

[2018-08-31 20:01] mlongint commented on #7309
I think I'm running into the same issue. When I try to build and run the application per Step 8 of "Add an image and a title," the debugger throws an IOException saying it "Cannot locate resource 'watermark.png'. I assume I missed something in the earlier step when I added the image to the project but I don't know what that may be since there were only two seemingly straightforward steps.

[2018-08-31 20:04] mlongint commented on #7309
FYI, the watermark.png file shows up under the Solution Items tab in the Solution Explorer after I added the image if that is relevant.

[2018-08-31 20:14] #6695 closed

[2018-08-31 20:38] noahfalk commented on #7419
Adding @sergiy-k

[2018-08-31 21:28] breyed opened #7427 "Document why dropped"
The .NET Core 2.1 docs in the "Applies to" section state that WinHttpHandler applies only to 2.0, 1.1, 1.0. Likewise, navigating to the .NET Core 2.1 page for WinHttpHandler redirects to the .NET Core 2.0 page with this message:

Thus, the docs are saying that WinHttpHandler has been dropped. If that's true, some background about how to deal with the missing feature should be included. Or if WinHt

[2018-08-31 21:34] breyed opened #7428 "Purpose of SocketsHttpHandler not documented"
The page mentions the transition to SocketsHttpHandler, but doesn't say why. SocketsHttpHandler doesn't even have a summary among its docs. Both pages should make it easy to discover how SocketsHttpHandler differs from HttpClientHandler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a3e40bf-b267-b3b4-5b59-81c8f345c64

[2018-08-31 21:41] breyed opened #7429 "HttpMessageHandler description typo"
Intended as "A simple class to derive from..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3caad5a-9fd8-ad87-b411-96d8a1b75585
* Version Independent ID: f8f9eb44-41a7-86ca-3146-60ccad61e35e
* Content: [HttpMessageHandler Class (System.Net.Http)](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpmessa

[2018-08-31 21:48] breyed opened #7430 "HTTP version support?"
The [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient) docs say that WinHttpHandler is HTTP 2.0 capable. Unfortunately, the WinHttpHandler docs don't say anything about HTTP 2.0. Instead, they should go into detail about its HTTP 2.0 support, especially regarding to operating system version requirements.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-08-31 21:49] markolbert commented on #7422
No worries. I appreciate all you folks are doing to move things forward, and patch bugs...even if I sometimes run afoul of them :)

Here's the exact warning I'm getting (should've included this in the original post, too):

However, I just noticed that depending upon how I invoke the migration tool, I either get or don't get the warning. Let me explain.

My solution holds two projects, RideMonitorS

[2018-08-31 21:54] markolbert commented on #7422
I just tried manually specifying version 2.1.3 on the Microsoft.AspNetCore.App PackageReference entry, and that didn't work. But now, after removing an explicit version, I have a yellow/black exclamation warning in the dependencies related to Microsoft.AspNetCore.App.

[2018-08-31 22:09] mlongint commented on #7309
Resolved it. I clicked and dragged the watermark.png file from the Solution Items on the Solution Explorer and dropped it under the C# ExpenseIt item and the application ran without issues.

[2018-08-31 22:35] markolbert commented on #7422
Hmm, restarting VS made the warning icons go away. But I still get that warning if I run the tools from within the AspNetCore project.

[2018-08-31 22:40] mairaw commented on #6218
Thanks for your feedback @rstannard. I'm adding this to our backlog. We usually start the topics with the CLI version since it's cross-platform, but indeed topics using VS would also be useful.

/cc @BillWagner

[2018-08-31 23:05] divega commented on #7422
@markolbert @mairaw from what I remember this is a known issue we discovered with the patch. The guidance is to ignore the warning. However I can't remember how/if this was documented.

cc @ajcvickers, @bricelam and @natemcmaster, in case on of them can point us somewhere.

[2018-08-31 23:08] markolbert commented on #7422
Okay, fair enough. It is just a warning, after all :). Although I have to admit I'm curious as to what's causing the problem.

I'm fine with closing this as an issue if you want.

[2018-08-31 23:41] Crono1981 opened #7431 "Visual Basic compiler error and warning numbers should be listed in one place"
It would kind of be useful. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1d424b-3af3-79ad-d782-b1886027fc3c
* Version Independent ID: d56626d1-8885-b7ca-4417-fe2d6dde438f
* Content: [-nowarn](https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/command-line-compiler/nowarn)
* Content Source: [docs/visu

[2018-08-31 23:51] natemcmaster commented on #7422
This is a known issue in 2.1.3. See https://github.com/aspnet/Home/releases/tag/2.1.3#known-issues

[2018-08-31 23:56] mairaw commented on #7422
Thanks @natemcmaster. Closing this issue then.

[2018-08-31 23:56] #7422 closed

[2018-09-01 04:04] markolbert commented on #7422
BTW, the second workaround in the link -- update the version to 2.1.3 -- does not work. The warning still appears. You might want to update the release notes re: known issues.

[2018-09-01 05:28] joshudson opened #7435 "Behavior difference between Framework and Core not documented here despite document claiming to cover both"
See https://github.com/dotnet/coreclr/pull/614
Use of identical documentation for .NET Framework and .NET Core is misleading here. On .NET Framework, GetLastWin32Error() retains its value from one P/Invoke call to the next. On .NET Core, it is cleared for every P/Invoke call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-09-01 06:35] imba-tjd opened #7436 "Broken links"
see https://docs.microsoft.com/en-us/dotnet/api/system.reflection.fieldinfo.setvalue?view=netcore-2.1#System_Reflection_FieldInfo_SetValue_System_Object_System_Object_

[code]

This seems to be qualified markdown text, but the released article doesn't recognize.
Note this paragraph also shows in other places.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 7602f051-e

[2018-09-01 08:03] jbstcyr opened #7437 "There is no Visual Basic version of the information and examples."
There is no Visual Basic version of the information and examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed708103-f358-d0a6-e2c0-e2caa5b27694
* Version Independent ID: 67f0f12b-645d-591e-f6d8-5786aa4bddb1
* Content: [UdpClient.EndReceive(IAsyncResult, IPEndPoint) Method (System.Net.Sockets)](https://docs.micros

[2018-09-01 08:04] jbstcyr opened #7438 "The example of the EndReceive Method doesn't actually use the EndReceive Method."
The example of the EndReceive Method doesn't actually use the EndReceive Method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed708103-f358-d0a6-e2c0-e2caa5b27694
* Version Independent ID: 67f0f12b-645d-591e-f6d8-5786aa4bddb1
* Content: [UdpClient.EndReceive(IAsyncResult, IPEndPoint) Method (System.Net.Sockets)](http

[2018-09-01 08:11] #7438 closed

[2018-09-01 08:12] jbstcyr commented on #7438
Sorry. I went back and reread the example. It does use EndReceive.  It's late and I use Visual Basic not C#

[2018-09-01 09:03] tapiov opened #7439 "Exception: Cannot find resource named 'nameItemTemplate'. Resource names are case sensitive."
Hello,

On last build & launch, I get the following exception:
--------------
System.Windows.Markup.XamlParseException: ''Provide value on 'System.Windows.StaticResourceExtension' threw an exception.' Line number '38' and line position '55'.'

Exception: Cannot find resource named 'nameItemTemplate'. Resource names are case sensitive.
--------------

nameItemTemplate is found in two places within

[2018-09-01 15:11] StingyJack opened #7440 "A link to how to configure this ..."
... to replace existing datacontractserializer/xml based wcf services would be good to have here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36986f04-8737-6bc4-d700-ff571f6b6de2
* Version Independent ID: e6d91a92-c577-954e-1405-825ce6b31ccf
* Content: [DataContractJsonSerializer Class (System.Runtime.Serialization.

[2018-09-02 08:37] mshwf opened #7441 "The key variable should be renamed to rsaKey"
# The key variable should be renamed to rsaKey in the "How to: Sign XML Documents with Digital Signatures"

In this [doc](https://docs.microsoft.com/en-us/dotnet/standard/security/how-to-sign-xml-documents-with-digital-signatures), there's a typo in the line:
`signedXml.SigningKey = key;
`
it should be
`signedXml.SigningKey = rsaKey;
`

[2018-09-02 11:25] mrmsbarnes opened #7442 "So show me an example"
I can guess what ICollection&lt;KeyValue Pair&lt;TKey,TValue&gt;.CopyTo does but some description would help, and an example would be worth a thousand hints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad31693-1bb9-dc6b-e501-70e64dbeae92
* Version Independent ID: 1372b861-5a15-856f-2b7c-9ec939f0ba0f
* Content: [Sor

[2018-09-02 13:13] zizuke opened #7443 "Zero clue as to what's going on."
I came from https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/interpolated-strings?tutorial-step=2 to here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de53e91d-edee-d4db-a731-b7ad9677cf9c
* Version Independent ID: bcee3fe6-8e5e-38f9-173b-2595b08c827a
* Content: [get (C# Reference)](https://docs.microsoft.

[2018-09-02 14:43] glachancecmaisonneuve opened #7444 "needs rephrasing."
&gt; **When** you use the Verbs property, you must include the file name extension **when** you set the value of the FileName property.

The **when =&gt; when** makes very hard to understand.  Can I suggest to replace with this alternative (or any you see fit):
[code]
To the reviewer, [here is the relevant code](https://referencesource.microsoft.com/System/services/monitoring/system/diagnosticts/P

[2018-09-02 16:03] pkulikov commented on #7443
@zizuke could you please provide more information about how you've got to this page. The [source page](https://github.com/dotnet/docs/blob/master/docs/csharp/quick-starts/interpolated-strings.yml) of the interpolated strings quickstart doesn't contain the link to the [get keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/get) page.

[2018-09-02 22:03] cartermp commented on #7353
@YdrMaster we'd welcome a pull request for an F# sample in the `BitConverter.xml` file. But in general, API samples are in C#, so you'll have to convert that into equivalent F#.

[2018-09-02 22:12] hexalm commented on #5347
Hey @johntempest There's actually no other mapping required--if you've defined MaxNumber as an "In" argument in the workflow, passing it in this line allows the workflow to access the variable:
`WorkflowApplication wfApp =
                new WorkflowApplication(new StateMachineNumberGuessWorkflow(), inputs);`

I suggest checking the spelling and type of the argument on the workflow activity you'r

[2018-09-03 01:12] sunredsky opened #7447 "Incorrect output in "Characters and character categories""
You say that this string: ` String s = "The car drove down the narrow, secluded road.";`
leads to this output:
[code]
Looks like "red" was removed at some point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99ff3bc8-8697-ea86-0cf2-fcec9db6785c
* Version Independent ID: 6cf719d3-4563-78a7-151d-3a5b1bbc4752
* Content:

[2018-09-03 09:29] pappasa opened #7449 "UUID version"
Does NewGuid() produce a UUID version 4 according to RFC4122?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c02116-1b9d-69f5-7446-76e2f756207f
* Version Independent ID: 2c3d5439-e4d0-fcf1-dbb1-b5cf14abfdd7
* Content: [Guid.NewGuid Method (System)](https://docs.microsoft.com/en-us/dotnet/api/system.guid.newguid?view=

[2018-09-03 11:55] alper4 commented on #6002
The terms used on this page (built-in type, complex type, numeric type, custom type, etc) are highly incompatible with the terms used on Tour of C# > Types and Variables page (value type, reference type, integral type, simple type, etc)  at https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/types-and-variables
Could you please avoid terminology soup and streamline this content in sync w

[2018-09-03 12:05] alper4 commented on #6002
The terms used on this page (built-in type, complex type, numeric type, custom type, etc) are highly incompatible with the terms used on Tour of C# > Types and Variables page (value type, reference type, integral type, simple type, etc) at https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/types-and-variables
Could you please avoid terminology soup and streamline this content in sync wi

[2018-09-03 13:13] johnnyagerard commented on #6002
@alper4 Hi, you should open a new issue for your request because this one is closed.

[2018-09-03 14:00] jiimaho opened #7450 "Timeouts"
"SendTimeout, OpenTimeout, CloseTimeout are the same as on the client."
Does this mean that they *should* be the same as on the client, or that setting them on the service has no value, since they will inherit them from the client anyway? The .NET SDK is very unclear, since the binding classes are the same for client/service.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-09-03 15:46] nemrism commented on #6923
Last 5 PRs cover the end of /docs/csharp/** folders

[2018-09-03 16:55] NathanJPhillips opened #7457 "Error in code example"
The second code block intializes the resource outside the try block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent ID: e186d0c4-523e-38f7-2cde-d00109ea784b
* Content: [using Statement (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-refe