[2019-10-22 14:34] BillWagner commented on #13914
tagging @ajcvickers @smitpatel and @roji

Should this be addressed in the C# docs under nullable reference types, or in the EF Core docs? It's an important scenario, and we should address guidance based on plans for the evolution of the tools.

[2019-10-22 14:41] smitpatel commented on #13914
We have article in EF Core docs about NRT and guidance. https://docs.microsoft.com/en-us/ef/core/miscellaneous/nullable-reference-types

Any feedback to improve it is welcomed. 😃

[2019-10-22 14:52] BillWagner commented on #13914
Thanks @smitpatel That article does answer all the questions I've seen related to NRT and EF Core.  The article referenced in this issue should link to [the EF guidance](https://docs.microsoft.com/ef/core/miscellaneous/nullable-reference-types) (Note the removal of the "en-us" locale so links direct readers to the correct culture for all readers.

I've added the "up for grabs" label for community

[2019-10-22 14:52] #15222 closed

[2019-10-22 14:55] tdykstra commented on #14034
@ahmediddma Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-22 14:55] #14034 closed

[2019-10-22 15:08] lucasnobredev commented on #4494
@BillWagner about the closed PR, honestly, I didn't ask because it was really clear to me the location of new article and the issue seems to be ready. Actually, I already merged it before in #6181.

You said that you're discussing about organization of articles. So this issue is really not ready to contribute? Please, share with community when you know how to proceed.

[2019-10-22 15:31] BillWagner commented on #4494
@lucasnobredev Thanks for understanding. We recognize that we need to do this better. It's a challenge now because we've only started thinking about what the journey to .NET 5 looks like.

We'll continue to improve, and we appreciate everyone that is helping us get there.

[2019-10-22 15:37] ajcvickers commented on #13914
@BillWagner Note that statement 1 above is incorrect. EF Core supports parameterized constructors, although with some limitations.

What are the questions you have seen that are not addressed?

[2019-10-22 15:57] Thraka commented on #15133
Thank you for the reply. I'm going to close this.

[2019-10-22 15:57] #15133 closed

[2019-10-22 16:06] BillWagner commented on #13914
The most common question I received was relating to initializing the `DbContext` and `DbSet` in scenarios where developers are enabling NRT on an existing application. [This section](https://docs.microsoft.com/ef/core/miscellaneous/nullable-reference-types#dbcontext-and-dbset) in the article @smitpatel referenced answers it well.

[2019-10-22 16:20] #14985 closed

[2019-10-22 16:20] #14609 closed

[2019-10-22 17:08] Thraka commented on #15261
It doesn't seem so. I would merge those into a single file. I think you will have a better chance of getting your question answered if you post it on a forum such as StackOverflow.

I'm going to close the issue.

Thanks.

[2019-10-22 17:08] #15261 closed

[2019-10-22 17:37] acsteitz commented on #8011
OK, so you won't open source it.  Please add "Simple, inanely basic features like alphabetic sorting and filtering of endpoint names".

[2019-10-22 17:51] zspitz commented on #6288
Perhaps the sample should be re-implemented as a method that takes various parameters: a search string, and `bool?` to order by ascending, descending, or not at all.

[2019-10-22 17:56] #14823 closed

[2019-10-22 17:58] KathleenDollard commented on #7668
It appears to be redirecting the process - an issue with Calculator.EXE as best as I can tell.

[2019-10-22 18:30] amirxnz commented on #6131
@mvelosop I guess that was my mistake because it makes no sense for visual studio to block the sigterm but apparently it does

[2019-10-22 18:37] mairaw commented on #7668
I've opened a PR to change this to Notepad then since we don't know what's going on with the calculator app being redirected on Windows 10
https://github.com/dotnet/samples/pull/1664

[2019-10-22 19:09] #14616 closed

[2019-10-22 19:21] #14662 closed

[2019-10-22 19:32] jzabroski commented on #14616
Thank you

On Tue, Oct 22, 2019, 3:09 PM Phillip Carter <notifications@github.com>
wrote:

[2019-10-22 22:16] scout208 commented on #8804
I think the idea is to not over-saturate the reader with too much information that's not absolutely necessary and maintain the scope of these docs to C#. You don't need to know why the `M` suffix is used to indicate `decimal` type to write C# code. Or how double-precision is actually implemented to know that `double` can hold a larger value than `single`. So as much as you might like to know the "

[2019-10-22 22:16] mairaw commented on #3391
Yes, we've been updating those too.

[2019-10-22 22:40] natke commented on #15348
Thank you for pointing this out @dieselbanger. The location of the assets zip file has been upated in #15357

[2019-10-22 23:22] #15348 closed

[2019-10-23 00:56] BillWagner commented on #15284
I made two updates tonight:

1. The "C# / VB Diagnostics" is the label we've been using for compiler warnings / errors and command line args for both C# and VB. This should stay.
1. Instead of removing "new-content", we propose removing "doc-idea" and using "new content" for issues that create new articles.

[2019-10-23 01:07] BillWagner commented on #2016
This article was published in 2018. Closing.

[2019-10-23 01:07] #2016 closed

[2019-10-23 01:10] BillWagner commented on #2018
We've created several tutorials in [this section](https://docs.microsoft.com/en-us/dotnet/fsharp/introduction-to-functional-programming/).

Closing as complete.

[2019-10-23 01:10] #2018 closed

[2019-10-23 03:05] lucasnobredev commented on #14103
@BillWagner so should we change the code or explanation?

[2019-10-23 03:10] nemrism commented on #14103
As the code is correct, we should rephrase the explanation only

[2019-10-23 03:26] RussKie opened #15361 "[WinForms] `DataGridView.CellFormatting` event not raised if a tooltip is shown"
## [Change Title]

To meet accessibility standards `DataGridView` now shows cell's text and errors as tooltips when navigated by both mouse and keyboard (.e.g tab/arrow navigation, hotkeys).
![NH5SSK7eId](https://user-images.githubusercontent.com/49272759/63585587-2821eb80-c5a8-11e9-9f09-7ea2c0a216e0.gif)

### Version introduced

3.1

### Old behavior

Previously `DataGridView` would only show cel

[2019-10-23 03:28] RussKie commented on #15361
@vladimir-krestov @Amy-Li02 please let me know if I missed anything

[2019-10-23 03:37] captivemother commented on #9722
windows 10 microsoft egde 10

[2019-10-23 05:49] mairaw commented on #3015
This is really low priority and we don't have any feedback around this. So closing.

[2019-10-23 05:49] #3015 closed

[2019-10-23 05:53] mairaw commented on #15284
My two cents:

- Love the idea of **bulk-changes** instead of **multiple topics**. I think it has a more clear intent.
- Older releases: the two issues from 2.2 are currently in progress. I'd keep it until the two issues are finished. 2.1, 4.7.2 and 4.8 ok to delete.
- **backlog**: given that every new issue comes with the label not triaged, we could assume that something that was not added to a m

[2019-10-23 08:05] Legends opened #15364 "Question"
When creating these two projects `server` and `client` I only have to start the `server` project as its `exe` calls the `client` process (client.exe).

The `client` process is the `child` process in my case, but this console app is not visible during execution, therefore the above sentence makes no sense here:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-10-23 08:56] runceel opened #15365 ""List of behavioral changes/compat breaks and deprecated/legacy APIs at GitHub" haven't been provided"
CoreFx team decided to remove the document from them repo.
So, the link is breaking.

https://github.com/dotnet/corefx/issues/36057

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e44818-fc25-7210-c430-7c87b84825eb
* Version Independent ID: 2f40ef4c-ea4b-ccb5-3b7f-9d02c3b7ab82
* Content: [.NET Framework technologies u

[2019-10-23 09:05] Legends opened #15367 "Error when running this example - .NET Core 3.1 console applications"
1. Start named pipe server.
2. Start named pipe client without `args`.

**Console output client process:**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86675e7-4bfb-707d-fe36-c02da2023342
* Version Independent ID: ee821843-1cad-0455-f278-1194b88dd0b0
* Content: [How to: Use Named Pipes for Network Interproce

[2019-10-23 09:27] Legends commented on #15367
I solved the error above by adding an app.config file to my client project:

[code]

**But now I get:**

[2019-10-23 10:04] Legends commented on #15367
Installing `System.Runtime v.4.3.1.0` and adding this `app.config` to my client project also didn't help:

[code]

[2019-10-23 10:24] MSDN-WhiteKnight opened #15368 "PreserveCompilationContext project property should be documented"
There's a .NET Core-specific project property `PreserveCompilationContext`. It causes publish operation to copy used reference assemblies for the target platform into *ref* subdirectory of output directory (via SDK target [Microsoft.NET.PreserveCompilationContext.targets](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.PreserveCompilationContext.

[2019-10-23 10:51] mvelosop commented on #6131
Well, didn't now that either but it's good to know!

Glad you could solve this 😊

[2019-10-23 10:56] pleonex opened #15369 ".NET Framework Add-in model seems to be deprecated"
This guidelines says _Consider Using the .NET Framework Add-In Model_ but in the link provided ([this](https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/bb384200(v=vs.100))) it says that API is already deprecated (I guess in favor of MEF2). I think it should be updated or removed.

By reading the whole guideline, I have the feeling there is no solution to implement the use

[2019-10-23 11:20] eashi commented on #4870
Is there a reason why this issue is still open when the changes have already been made and merged? What am I missing?

[2019-10-23 11:55] DavidKlempfner opened #15370 "Unchecked and Decimal/BigInteger"
Unchecked doesn't work for decimal and BigInteger, this should be mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a452ea4c-e4a7-72c4-1406-f6a892459a24
* Version Independent ID: 4b5ea953-a804-4887-1891-3a46ebdc6814
* Content: [unchecked keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/cshar

[2019-10-23 12:27] NextTurn commented on #4649
Many of the contents in the archived articles are not covered in the new .NET Guide. What do you think of this @jkoritzinsky ?

[2019-10-23 12:43] hochl opened #15371 "Thread-safe delegate invocation fix."
I think the following example needs a fix:

var handler = this.PropertyChanged;
if (handler != null)
{
    handler.Invoke(...); // was: handler(…);
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a25abe4-2b4e-119e-85e9-af19ed06e8c0
* Version Independent ID: 682b8c86-e49a-1d6d-8562-c9f919082bdc
* Content: [Member acce

[2019-10-23 13:58] pkulikov commented on #15371
`handler.Invoke(...)` is correct, but `handler(...)` is also correct and a shorter alternative. I believe if one doesn't use the null-conditional operator one usually uses the shorter syntax, as if calling a method or function

[2019-10-23 15:26] roberto-t92 opened #15372 "WASM Description is wrong"
wasm isn't a javascript library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad8df5d-9295-d659-a561-ec9cabd5b61f
* Version Independent ID: 7ee71103-d997-140e-2d35-d9f2a3913e09
* Content: [Choose between traditional web apps and single page apps](https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-az

[2019-10-23 16:09] tdykstra commented on #15364
@Legends The child process does not get a separate console, it uses the console of the parent process.  I just now ran the example to verify that it does work as described. I'm closing this issue now, but feel free to reopen if you have additional questions.

[2019-10-23 16:09] #15364 closed

[2019-10-23 16:22] tdykstra commented on #15367
@JeremyKuhne, @carlossanlop Can you advise how to run this example?

[2019-10-23 16:54] vashisthaa opened #15376 "DoStackSnapshot Support for .NET Core on Linux"
Hi,

Is DoStackSnapshot supported for .NET Core on Linux? If not what is the plan for doing the same?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0d63b1-9436-33c5-6562-3c2821db32f5
* Version Independent ID: 24a21082-b959-d660-2522-32e06e7a307d
* Content: [ICorProfilerInfo2::DoStackSnapshot Method](https://

[2019-10-23 17:13] cartermp commented on #14564
The oddities with offside rules come into play where an accessibility modifier comes after the `=`. Because of that, I'd rather not document that it's possible, since writing code that way is kind of a pit of failure, whereas the way that is currently documented will always work.

[2019-10-23 17:13] #14564 closed

[2019-10-23 17:27] JeremyKuhne commented on #15367
The code needs updated. `Environment.CommandLine` returns the name of the dll on .NET Core. This can be done by adding the following line in the client after getting the command line:

[code]

https://github.com/dotnet/coreclr/issues/20562 and https://github.com/dotnet/corefx/issues/29014 discuss this behavior.

cc: @jkotas

[2019-10-23 17:28] bender2k14 commented on #14564
What about a compromise where the syntax is left as is but properly indented examples containing an accessibility modifier after the `=` are added somewhere on that page?

[2019-10-23 17:34] mairaw commented on #15372
@ardalis @mvelosop can you look at this feedback?

[2019-10-23 17:36] mairaw commented on #15376
Thanks for your question @vashisthaa. @tommcdon this is related to e-mail I sent this morning about ownership and having native APIs identified for Core as well.

[2019-10-23 17:46] mairaw commented on #15365
Thank you for your feedback @runceel. Now that we've added breaking changes to the docs, we can update that link.

[2019-10-23 17:53] Youssef1313 commented on #7668
@mairaw, should an issue be opened in https://github.com/microsoft/calculator ?

[2019-10-23 18:01] mairaw commented on #13000
Thanks @nschonni for bringing awareness to this issue. I'm checking if we have any doc that already follows best practices on this so we can apply this consistently.

@gewarren tagging you since this area was assigned to you.

[2019-10-23 18:01] roberto-t92 commented on #15372
It is enough to just remove the javascript part

[2019-10-23 18:11] #15365 closed

[2019-10-23 18:18] mairaw commented on #7668
Good idea @Youssef1313. I think it would be good to understand what's going on behind the scenes and why the process is being redirected. Do you want to do that?

[2019-10-23 18:22] mairaw commented on #15372
Would you like to submit a pull request to fix that?

Instructions can be found at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2019-10-23 19:04] tdykstra commented on #15367
@Legends Thanks for closing the issue, but I'm going to reopen it to put it on our backlog as a reminder to update the doc.

[2019-10-23 19:46] tommcdon commented on #15376
Adding @davmason who is the owner of the API

[2019-10-23 20:15] HowardWolosky commented on #7668
@mairaw - Notepad isn't going to be a good example for this either, as it has been [moved to the Store in recent Insider builds of Windows 10](https://blogs.windows.com/windowsexperience/2019/08/16/announcing-windows-10-insider-preview-build-18963/#vqlAgDtJUehfexs6.97), and has a similar (but slightly different) redirection process happening there as well.

[2019-10-23 20:31] mairaw commented on #7668
Thanks @HowardWolosky for letting me know. I'll have to think of an alternative for this one then. For now, I think we can ship the Notepad change until I come up with another example. It will work for non-Insider builds for a while.

[2019-10-23 20:58] Thraka commented on #15331
@BillWagner @mairaw Was this label approved? Accidental add by @dsplaisted perhaps?

[2019-10-23 21:01] BillWagner commented on #15331
@Thraka I'm unaware of this label.

[2019-10-23 21:12] dsplaisted commented on #15331
The label is intentional.  The CLI team is going to go through the CLI documentation topics and review them to see if they're up-to-date, accurate, etc.  I discussed using a project in this repo to track this with @mairaw, though I don't know if I specifically discussed creating a new label.

[2019-10-23 22:51] #14859 closed

[2019-10-23 22:51] #15331 closed

[2019-10-24 12:23] CeciAc opened #15383 "Fail to run fsi.exe"
@jkugiya commented on [Thu Oct 24 2019](https://github.com/dotnet/docs.ja-jp/issues/855)

&gt; To run F# Interactive from the console, run fsi.exe.

&gt; Scripts use the file extension .fsx or .fsscript. Instead of compiling source code and then later running the compiled assembly, you can just run fsi.exe

Now you need to use `dotnet fsi`, right? I received the error message `%1 is not a valid wi

[2019-10-24 12:23] CeciAc commented on #15383
Hi team,
I moved this here because it may be related to the original documentation
best

[2019-10-24 13:37] BillWagner commented on #15371
@pkulikov is correct. I'm leaving this open, as a preferred fix would be to use the more recent thread safe `?.` invocation:

[code]

I've added the up-for-grabs label if you want to submit a PR @hochl. We'll help you with the process. Otherwise, I've added this to our backlog to update when we next update this article.

[2019-10-24 14:32] pkulikov commented on #15371
@BillWagner the article uses the thread-safe way. That snippet shows how the things were done before the null-conditional operator. After that, the modern way is presented. I don't think the article needs updates

[2019-10-24 14:35] hochl opened #15384 "inside?"
"where a member is treated like a data item from outside the class, but like a method on the side."

-&gt;

"where a member is treated like a data item from outside the class, but like a method on the inside."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcc06ead-fe51-85db-1340-87f6473db769
* Version Independent ID:

[2019-10-24 14:36] pkulikov commented on #15371
We are talking about this section:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators#thread-safe-delegate-invocation

[2019-10-24 14:53] SparkDustJoe commented on #15013
This has already been closed, but I will say this behavior is consistent with other languages like Python, and in fact this syntax is very Python-like (as is the syntax to reverse-index through a range/array).

[2019-10-24 14:54] cartermp commented on #15383
This will require a bit of a think about how to structure the article, since it was written for a Windows-only/VS-installing audience: https://github.com/dotnet/docs/blob/master/docs/fsharp/tutorials/fsharp-interactive/index.md

[2019-10-24 15:34] KalleOlaviNiemitalo commented on #9355
The [Sandcastle documentation for `<list>`](http://ewsoftware.github.io/XMLCommentsGuide/html/e433d846-db15-4ac8-a5f5-f3428609ae6c.htm) contains examples of two-column and four-column tables. However, [DocFX v2 always translates `<list type="table">` to a two-column HTML table](https://github.com/dotnet/docfx/blob/778444375710572e4ed734ca396e42642336e75e/src/Microsoft.DocAsCode.Metadata.ManagedRef

[2019-10-24 15:47] BillWagner commented on #15371
Thanks @pkulikov (I read the issue, but didn't check back at the content. 😞 )

I'll close this. The current article is correct.

[2019-10-24 15:47] #15371 closed

[2019-10-24 15:56] Thraka commented on #9794
This is sufficiently documented in the MS Build docs, which is linked. @mairaw I think we can close this. I'll defer to you since you own it 😄

[2019-10-24 17:17] rainersigwald commented on #14919
`--configuration X` is a wrapper over specifying `-property:Configuration=X` to MSBuild directly, which sets a global property. Global properties are inherited by default. That's the behavior you're seeing with referenced projects not building in Debug.

There are two main ways to influence the configuration of referenced projects:
1. Build in the context of a solution using a _solution_ configura

[2019-10-24 17:52] Thraka commented on #14919
@rainersigwald Thank you for the info. I was also going to suggest that perhaps a build script would help here too. Keep the projects/solution simple and use a script to build individual projects with configs based on your scenario. That is another option.

@waltdestler I hope this answers your question. Please let us know if you need any more information. I'm going to close this.

[2019-10-24 17:52] #14919 closed

[2019-10-24 17:59] Thraka commented on #8017
I cleaned up this article and the example project. The example project defines a resource named `MyPhotos`.

[2019-10-24 17:59] #8017 closed

[2019-10-24 18:23] tdykstra commented on #11101
@haakoo Thanks for the question.  The ISO 8601 does permit fractions of seconds:

https://en.wikipedia.org/wiki/ISO_8601

We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-24 18:23] #11101 closed

[2019-10-24 18:26] staticdev commented on #12486
This change breaks compatibility with current solutions of continuous integration unnecessarily. I also disagree and this brings no feature or benefits or simplification for end-users.

[2019-10-24 18:37] asasine commented on #12486
I disagree with this claim. @dasMulli [previously commented](#issuecomment-535402683):

Which I do agree with. According to their comment, this change was done entirely for simplification (and consistency) with other tools, tools which end-users are already using.

[2019-10-24 18:59] andrewaggb commented on #15156
I've also run into this same issue and error message trying to use newtonsoft JToken in my interface.

[2019-10-24 19:21] cezarypiatek commented on #15156
@andrewaggb  Here's my current solution. It's working, but I'm not sure if this is the right way to solve that issue:

[code]

[2019-10-24 20:00] jkoritzinsky commented on #15156
@cezarypiatek @andrewaggb quick question for both of you. Is the shared assembly (System.Collections.Immutable or Newtonsoft.Json) in the directory next to your plugin as well as with the product?

If that's the case, then the AssemblyDependencyResolver is resolving those assemblies next to the plugin and loading them, which causes the type in the plugin's interface's method to differ, leading to

[2019-10-24 20:01] BillWagner commented on #15284
@Thraka Did you have more feedback? Or should I un-assign you?

[2019-10-24 20:08] davmason commented on #15376
Hi @vashisthaa,

`DoStackSnapshot` is supported on Linux starting with coreclr 3.0. We added new apis `ICorProfilerInfo10::SuspendRuntime` and `ICorProfilerInfo10::ResumeRuntime` to pause the runtime without doing a GC, which will leave the threads in a walkable state.

The issue on Linux is that there is no equivalent of the `SuspendThread` api on Windows, so you cannot do async sampling in the s

[2019-10-24 20:10] andrewaggb commented on #15156
@jkoritzinsky I reference newtonsoft as a nuget package.  The actual dll is not in the bin/debug/netcoreapp3.0 folder for the plugin.  The only files in that folder are my plugin dll,pdb,deps.json.  The deps.json does have a newtonsoft reference in the deps.json.  I've attached it for reference.

[BusinessRulesPluginDAS.deps.json.zip](https://github.com/dotnet/docs/files/3769300/BusinessRulesPlugi

[2019-10-24 22:07] Thraka commented on #15284
I agree with what Maira said.

[2019-10-24 23:27] jkoritzinsky commented on #15156
If you look at the output directory of the plugin `\PluginArchitectureDemo.SamplePlugins\bin\Debug\netstandard2.0`, you'll see that there's a `System.Collections.Immutable.dll` in that folder. Since that file is there, the AssemblyDependencyResolver sees the file and loads it.

This looks like transitive package dependencies are still copied locally even if they're referenced via a ProjectReferenc

[2019-10-25 01:47] mairaw commented on #14833
Glad it was resolved. I'm still merging my changes since they improve the text a bit regarding self-contained flag.

[2019-10-25 02:43] jaywahr commented on #15372
@mairaw @roberto-t92  saw the `up-for-grabs` label. Can I submit a pull request for `Hacktoberfest`? New to open source.

[2019-10-25 07:22] rookie0jnr opened #15390 "Missing link"
The article refers to "Collections in C#" link, but there isn't such link.
Moreover the next tutorial is not named "Collections in C#".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 356f32d2-2574-9d48-a096-aef9fc21112d
* Version Independent ID: 49ae4e9d-cd57-917c-8795-71ad57858d5d
* Content: [String interpolation - C#

[2019-10-25 07:28] SvendK opened #15391 "Substring()?"
Hi - what about substring?
Substring is a bit the opposite of Remove, as it instead of returning a substring from beginning to a position, it returns a substring from a position to the end (or x characters). But really, why a Remove-function. Substring is pretty known in a lot of languages and it can do the remove function easily.

Also, the paragraph under Remove about Replace, shouldn't this hav

[2019-10-25 08:10] mvelosop opened #15392 "Pending TODO and UPDATE notes"
Hi @markrendle, I was generating the new release for the e-book and found a couple of TODO and UPDATE notes.

Do you want to fix this content before releasing the first non-preview e-book?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 448a3dc3-0e12-cbf8-0d11-8e2cf23377d0
* Version Independent ID: 967c1df2-84af-b31f-4b

[2019-10-25 08:34] PatrickRyder opened #15393 "Which is preferred?"
A link to a best-practises article explaining, say, when to use 'Object' and when to use 'object' would be extremely useful. I was always under the impression the built-in types were preferred unless an explicit type was required (e.g. I get a squiggle under 'String.Empty', telling me to simplify it to 'string.Empty'.  But lately, when Visual Studio inserts code (e.g. for an event handler), it use

[2019-10-25 08:44] dpbeaumont opened #15394 "Great Article"
Covers a lot of bad practices I have seen previously, very informative and easy to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed82a3-99c1-0893-4e81-d095b4757ecc
* Version Independent ID: 3765200b-43e5-441c-b290-709c34dd2f6d
* Content: [Asynchronous programming - C#](https://docs.microsoft.com/en-us/do

[2019-10-25 11:43] dasMulli commented on #12486
@staticdev sorry for causing that trouble. It is always unfortunate when things break. It first broke people with the release of VS 2017 and 1.0 Tooling - everyone using the 1.0.0-preview2* CLIs was then broken with the relative path handling and the WTFs on that behaviour didn't stop. Also constantly needning to explain that the path was relative to projects threw of people off - at least the one

[2019-10-25 13:24] Youssef1313 commented on #15393
It's a matter of style. Just be consistent and stick with one of the two ways.
You can see the styleguide for corefx [here](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md)

[2019-10-25 14:07] Beachj opened #15396 "Is the section on the hi/lo algorithm for EF Core accurate?"
The section about "Hi/Lo" in ef core states:

However after using the same implementation, it seems that this doesn't actually allow you to access the key before committing a transaction (similar to other auto-generation techniques), in this case calling `SaveChanges`.

How would one obtain an incremented key when the object is created, if for example a domain event handler needs that information?

[2019-10-25 15:16] cartermp commented on #15394
Thanks!

[2019-10-25 15:16] #15394 closed

[2019-10-25 15:39] BillWagner commented on #15384
Thanks for spotting this @hochl

I've added it to our backlog to fix when we next update this article.

I've also added the "up for grabs" label. If you'd like, you can submit a PR that fixes this change. You can click the pencil icon on the article, and make edits directly in the browser to submit the fix. For small edits like these, that may be quicker than writing an issue.

[2019-10-25 15:42] BillWagner commented on #15390
thanks for spotting this @rookie0jnr

That link and related sentences should be removed. This tutorial moved from the "introductory" section to the fundamentals sections and those no longer apply.

[2019-10-25 15:47] BillWagner commented on #15393
The style guide @Youssef1313 cites prefers the built-in types to the library names. We generally follow that in our docs. (There are some exceptions where the focus of the article is on the library type).

Tagging @mikadumont on this issue. Should this be an issue on the cited refactoring?

[2019-10-25 16:34] danvanderboom commented on #15219
One approach to this on CodeProject.
https://www.codeproject.com/Articles/1243360/TCP-Socket-Off-the-shelf-Revisited-with-Async-Awai

[2019-10-25 17:33] #15259 closed

[2019-10-25 20:01] tdykstra commented on #15391
@SvendK  Thanks for the question. Substring doesn't fit in this doc because it doesn't remove anything from the source string; it's not a string modification operation.

However Replace does deserve an H2 heading, and I've created a pull request to add that.

[2019-10-25 20:10] tdykstra commented on #8368
@CoolDadTx Thanks for the suggestion, but per the comment from JamesNK I'm closing this issue:

[2019-10-25 20:10] #8368 closed

[2019-10-25 20:15] tdykstra commented on #7021
@moyanming Apologies for late response - do you still need an answer to this question?

[2019-10-25 21:07] scottaddie commented on #14959
@serpent5 Thank you for letting me know. Looking at this right now.

[2019-10-25 22:54] #13838 closed

[2019-10-26 02:44] Grace3579 commented on #15045
Hello @gewarren, how do I update documentation for this issue?

[2019-10-26 15:55] #15391 closed

[2019-10-26 16:07] MeersJohn opened #15413 "Run Time error"
Using this example to decide about using Core3 instead of Framework +MEF.  Wanting to step through the code  to get a  better idea of what goes on but get run time error
"An assembly specified in the application dependencies manifest (AppWithPlugin.deps.json) was not found:
    package: 'PluginBase', version: '1.0.0'
    path: 'PluginBase.dll'"

Compiled with VS2019 16.3 core3.0.100? Net 2.1

Lite

[2019-10-26 16:47] ripebananas opened #15414 "Test data and predictions possible error"
When evaluating the accuracy of the model, aren't the predictions supposed to be created against the test data, i.e. model.Transform(testData) instead of model.Transform(trainingData)?
And when doing so, the sample program throws an exception because of an issue in the test-tags.tsv file. The first test file name there  is broccoli2.png but it should be broccoli2.jpg.

[AB#1608693](https://dev.azu

[2019-10-26 19:36] MeersJohn commented on #15413
Found it.  Message was telling me there was an unwanted dependency not a missing one.  Surprised this was not flagged in build but left to call a runtime error  Lot of new stuff to learn!!

[2019-10-26 19:36] #15413 closed

[2019-10-27 03:22] johnalgo opened #15420 "open statements"
"open Microsoft.Azure.Storage" does not work for me.

"open Microsoft.WindowsAzure.Storage" seems correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 114a6d66-f77b-19a9-4e0d-ff46ced10228
* Version Independent ID: 60721783-7fa5-aed0-d823-3935ebc90b7b
* Content: [Get started with Azure Table storage using F#](https:/

[2019-10-27 05:51] moyanming commented on #7021
Hi @tdykstra,
It is wrong of my code, I should use await to get the stream.

[2019-10-27 05:51] #7021 closed

[2019-10-27 07:44] Youssef1313 commented on #15420
https://github.com/Azure/azure-storage-net/blob/master/Common/changelog.txt#L27

[2019-10-27 07:49] Youssef1313 commented on #15420
I'm not much sure, but I think the error in the article is in the following:

Did you try to install the following packages instead of `WindowsAzure.Storage` ?

[code]

[2019-10-27 07:54] Youssef1313 commented on #15420
/cc @cartermp , It seems that samples were updated in https://github.com/dotnet/samples/commit/eccca4a815bc89fca7bda79f1cbd9af682aeb1dc#diff-a9b38563f46b3c319a05f92eaa68242b but the article wasn't.

[2019-10-27 08:25] Youssef1313 commented on #4589
@mairaw , This was fixed in #14341.

[2019-10-27 08:52] Youssef1313 commented on #8600
The code sample is correct, but the text of the error isn't. I've opened #15422 to fix the error message text.

[2019-10-27 09:00] PeterPann23 opened #15423 "Add parameter for tuning unbalanced datasets on binary and multiclass datasets"
Some things are not addressed as they may not be possible in the current release. I feel that these might be important. 2 things come to mind

1. using the mlnet-cli allows to perform some "brute-force" hyperparameter tuning, however if one has an unbalanced dataset I feel that some options may be explored more efficiently. Having a parameter indicating that an unbalanced dataset is used may be im

[2019-10-27 09:31] SumanjaliDamarla commented on #15367
Hi @tdykstra

I think the code needs to be changed [here](https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_CLR_System/system.IO.Pipes.NamedPipeClientStream_ImpersonationSample1/cs/Program.cs).
Can I proceed with making the changes?

[2019-10-27 10:57] Youssef1313 opened #15431 "Remove useless back to top links"
There are some pages that has Back to top links, see [current search results])https://github.com/dotnet/docs/search?q=Back+to+top&type=Code).

I believe they existed in an old system that didn't have the current side bar that makes it easy to navigate in the article. They're not needed now.

[2019-10-27 11:18] crclz commented on #12514
Having another finer grained data model for reading has many advantages. The way how data is organized in the write data model is good for handling business logic but maybe bad for querying for something you should display on the view (the screen). If you have a finer grained read model, you can implement more complex queries with SQL, you can implement GraphQL (using the read model), you can make

[2019-10-27 12:01] Youssef1313 commented on #9744
@NextTurn, the link in the original issue is dead. May you update the issue with those 280 ?

[2019-10-27 12:19] NextTurn commented on #9744
I'd be glad if you would pick it up. @Youssef1313.

274

https://gist.github.com/NextTurn/a1445dfee1b8e51d5890c9b886a3fbf1

[2019-10-27 16:10] tdykstra commented on #15367
@SumanjaliDamarla Yes, please do, thanks!

[2019-10-27 18:56] mairaw commented on #12596
should this one be assigned to you @BillWagner?

[2019-10-27 19:35] BillWagner opened #15449 "The pattern based using statement only applies to ref struct and readonly ref struct"
The "pattern based using" only applies to `ref struct` types and `readonly ref struct` types. See the [LDM notes](https://github.com/dotnet/csharplang/blob/master/meetings/2018/LDM-2018-12-12.md#when-we-start-recognizing-pattern-dispose-do-we-call-it-in-foreach)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc900853-b

[2019-10-27 21:06] #15384 closed

[2019-10-27 21:22] geronimus opened #15450 "Multiple dotnet test runs produce error"
You might mention that you have to call `dotnet clean $testProjPath` ( - where *$testProjPath* is a variable containing the path to the test `*.csproj` file - ) between each subsequent call to `dotnet test $testProjPath`.

Otherwise, the user will get an error: `error CS0579: Duplicate ‘System.Reflection.AssemblyCompanyAttribute’ attribute`

---
#### Document Details

⚠ *Do not edit this section.

[2019-10-27 21:26] #15330 closed

[2019-10-27 21:35] #8600 closed

[2019-10-27 22:10] mairaw commented on #8980
@nguerrera can you help with this one? Would this be similar to what you said in https://github.com/dotnet/docs/issues/14687#issuecomment-537626540?

[2019-10-27 22:14] mairaw commented on #8720
Thanks for filing this issue @yhvicey. According to the issue you filed in the other repo, it seems that this was a bug on the SDK behavior for previous versions that was rolling backwards, not an issue with docs. So closing this.

[2019-10-27 22:14] #8720 closed

[2019-10-28 02:02] BillWagner commented on #12737
This has been fixed in dotnet/roslyn#36386 and delivered in the latest doc update.

[2019-10-28 02:02] #12737 closed

[2019-10-28 03:26] BillWagner opened #15454 "Add new C# ms.technology values."
The new ms.technology labels for the C# guide have been approved.

These should be added to the docfx.json folder based metadata at the beginning of this sprint.

[2019-10-28 04:39] crclz commented on #6965
No. 'In-process' means the event is handled within the current process, for example, your .NetCore Web api process.

The traditional way of publishing an event is sending it to message services like a message queue. The message service then send the messages to processes that handle the messages.

Data transfers much faster in a process than through a socket. Having your message handled in the cur

[2019-10-28 07:20] #7096 closed

[2019-10-28 07:55] darealagung opened #15455 "error in starting the windows service"
I did compile/publish and install the windows service successfully but when i started it i got the following error:
"Error 2: The System cannot find the file specified"
Also, what is the proper way in setting the eventlog inside appsettings.json? I added the following:
"EventLog": {
      "LogName": "MyLogName",
      "SourceName": "My App"
    }

is this correct?

---
#### Document Details

⚠ *Do

[2019-10-28 09:06] paillave opened #15457 "MEF"
So far I always used MEF, and now I see this very recently updated article that doesn't even mention MEF once whereas it seems way more convenient and easier than what is described here. What is the recommended strategy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06023407-704f-0ace-e89a-eedd9f95a007
* Version Indep

[2019-10-28 13:23] crclz opened #15461 "Using exceptions for flow-control is an anti-pattern"
When an operation fails, you should return an error result instead of throwing an exception.
Business rules are encapsulated in the domain model. When user press a button to buy something, only the domain model layer knows whether he or she is permitted to do it and what should the user do before buying something (such as validating the email). Then the domain model layer should return an error re

[2019-10-28 13:35] crclz opened #15462 "Why there's no Domain Service?"
**This is a rough idea.** My opinion may be wrong.

In my opition, one domain event MUST be in one single transaction, because an event is something happened in the past. To raise an OrderStartedDomainEvent, you should make sure the order aggregate has been persisted in the database. If the data has not been persisted in the database, some sub-events which attempt to get order aggregate from datab

[2019-10-28 13:39] crclz commented on #15462
@mvelosop I was viewing https://github.com/dotnet-architecture/eShopOnContainers/issues/721 and https://github.com/dotnet-architecture/eShopOnContainers/issues/700 and realized the problem may be the lack of domain service. Can you help me?

[2019-10-28 14:39] marekr opened #15463 "C# version 6.0 was released with 2015 not 2013."
&gt;With version 6.0, released with Visual Studio 2013,

AFAI, this was with 2015 not 2013.

https://devblogs.microsoft.com/csharpfaq/new-features-in-c-6/
&gt;C# 6 is the version of C# that ships with VS 2015 Preview.

and even

https://devblogs.microsoft.com/csharpfaq/no-new-c-and-vb-language-features-in-vs-2013/
&gt;No new C# and VB Language Features in VS 2013

---
#### Document Details

⚠ *Do

[2019-10-28 14:44] win32nipuh opened #15464 "Field numbers in message"
Is there really  1 and 1? May be the field numbers should be unique like 1 and 2?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 614ee70b-64d7-47c6-0069-fdc514cf54dc
* Version Independent ID: ccb7f8ce-85cd-f725-2dd9-3244f0da7689
* Content: [Protobuf maps for dictionaries - gRPC for WCF Developers](https://docs.

[2019-10-28 14:48] BillWagner commented on #15463
Thanks for spotting this @marekr

You are correct. I've added this issue to our backlog, and added the "up for grabs" label. If you'd like to make a PR for this fix, I'll watch for it. Otherwise, I'll fix it later this month.

[2019-10-28 14:51] PoulBak opened #15465 "Asp.Net still compiles with C# 7.0, even when .Net 4.8 is installed"
Although .Net 4.8 is installed and it should default to C# 7.3, asp.net still uses C# 7.0 - even in Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* Content: [C# language versioning - C# Guide](https:

[2019-10-28 15:28] #15367 closed

[2019-10-28 15:31] #15463 closed

[2019-10-28 16:42] drdamour commented on #13567
instead of having to implement 4 methods...why not recommend implementors use optional named parameters for cancellationToken (defaulting to https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken.none?view=netframework-4.8) and progress defaulting to null.  These weren't options when this article was written back in older .net versions,  but now it's the easiest way to impl

[2019-10-28 18:11] bryanenroute commented on #15156
I am having a similar issue... here's a link to a sample that reproduces the issue:

[AssemblyLoadContext-Issue](https://github.com/bryanenroute/assemblyloadcontext-issue)

I can load a plugin/module that resides in a basic .NET Core console application assembly, but fails to load a plugin/module that resides in an ASP.NET Core application assembly.

When the ASP.NET Core module goes through assem

[2019-10-28 18:50] #11836 closed

[2019-10-28 19:25] bryanenroute opened #15473 "AssemblyLoadContext failing to load Microsoft.AspNetCore.Components"
Here's a link to the code to reproduce the issue:  https://github.com/bryanenroute/assemblyloadcontext-issue

I can load a plugin (IModule) that resides in a basic .NET Core console application assembly, but fails to load a plugin/module that resides in an ASP.NET Core application assembly.

When the ASP.NET Core module goes through assembly resolution, I get LoaderExceptions:

"Could not load fil

[2019-10-28 19:56] gewarren commented on #15045
The best thing to do would be to fork and clone the repo locally to your machine. That way you can edit more than one file in a single pull request. Otherwise, you'd have to edit each file separately. For example, here is where you'd update the table of contents (TOC) for the topics that are in the .NET Core guide: https://github.com/dotnet/docs/blob/master/docs/core/toc.yml. However, I think that

[2019-10-28 20:10] todarko opened #15474 "Column to Predict (Label) dropdown cannot scroll down"
VS 2019 ASP.NET Core 3.0
ML.NET Model Builder extension

When loading columns you cannot select a few if you have lots of columns that overflow the space viewable by the dropdown. Can't scroll, tab, or use arrow keys to move down the list.

![image](https://user-images.githubusercontent.com/41561202/67713781-be490800-f983-11e9-9017-f2b033f61151.png)

[2019-10-28 20:12] #9770 closed

[2019-10-28 20:18] #9690 closed

[2019-10-28 20:19] #14010 closed

[2019-10-28 20:37] Grace3579 commented on #15045
Thank you very much @gewarren.  I created pull requests for your review and approval. Thank you.

[2019-10-28 20:41] mairaw commented on #15420
Yeah, it seems that the package reference should also be updated. @cartermp would know for sure.

[2019-10-28 20:43] mairaw commented on #15383
Maybe make that clear on the beginning who's your intended audience and what are the prereqs?

[2019-10-28 20:55] #13371 closed

[2019-10-28 21:09] tdykstra commented on #13567
@drdamour Thanks for the suggestion -- I'm adding this to our backlog.

[2019-10-28 21:14] Thraka commented on #15450
@geronimus Hello.

I don't think this is correct. Generally that error is present because you have two things declaring that attribute. Usually this happens when you port a .NET Framework project (which stores these attributes in the *AssemblyInfo.cs* file) to the SDK project-style (which automatically generates these attributes for you)

Can you elaborate on your problem?

[2019-10-28 21:17] Thraka commented on #13339
It does sound like you're running into a conflict where the project name was used during code generation. I would do a FIND IN FILES in visual studio and look for the old project name. A faint memory makes me think that there is something with installing the service (which in debug mode, might happen for testing) and that install procedure creating an event log. When you changed the name, the old

[2019-10-28 21:21] Thraka commented on #13306
@johndaintree Sorry for the delay in addressing this issue. I think you should ask that question at the VSCode community.

[2019-10-28 21:21] #13306 closed

[2019-10-28 21:24] Thraka commented on #13219
Sorry, I don't think we can help you with this question specifically. A lot of the WPF browser technology is built on older web standards and you'll probably need to upgrade to a newer browser control. I do know that if you look around WPF for .NET Core 3.0 you can find newer web browser controls. (at least I think I remember hearing about them)

[2019-10-28 21:24] #13219 closed

[2019-10-28 21:27] Thraka commented on #13240
Hello. I believe the "grant set" represents the permissions applied to the assembly.

[2019-10-28 21:27] #13240 closed

[2019-10-28 21:27] tdykstra commented on #15368
@MSDN-WhiteKnight Thanks for the suggestion -- I'm adding the issue to our backlog.

[2019-10-28 21:30] Thraka commented on #12964
Hello. Sorry for the delay in responding.

It's hard to understand what is missing without fully understanding your scenario. Can you elaborate on "practical info?"

Does the https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/openfiledialog-component-overview-windows-forms article help?

[2019-10-28 21:31] #14946 closed

[2019-10-28 21:35] tdykstra commented on #15369
@karelz Who could help with this issue?

[2019-10-28 22:03] mairaw commented on #15156
I think someone with write permissions on the sdk repo can transfer this one.

[2019-10-28 22:13] luisquintanilla commented on #15474
Hi @todarko,

Sorry to hear you're experiencing this issue. This has already been raised in the model builder repo and the team is currently working on fixing the issue.

Issue Link: dotnet/machinelearning-modelbuilder#252

I suggest you follow the discussion there. Because this is not a documentation related question, in the future, please raise questions/ issues in the [dotnet/machinelearning-mo

[2019-10-28 22:13] #15474 closed

[2019-10-28 22:17] luisquintanilla commented on #15423
Hi @PeterPann23 ,

Great suggestions. Since these comments are more related to the product, I would recommend opening an issue in the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo with these suggestions.

[2019-10-28 22:17] #15423 closed

[2019-10-28 22:19] #15329 closed

[2019-10-28 22:21] mairaw commented on #15473
Thanks for your feedback @bryanenroute. @jkoritzinsky is this similar to issue #15156?

[2019-10-28 22:25] mairaw commented on #4591
@dsyme has this ever been done?

[2019-10-28 22:29] jkoritzinsky commented on #15473
I think this one is different. This failure is because the ASP.NET Core plugin depends on the Microsoft.AspNetCore.App framework, but the core library only depends on the Microsoft.NETCore.App framework. Since the core library only has a framework reference to the Microsoft.NETCore.App framework, the host doesn't look for other frameworks when loading any assemblies.

cc: @vitek-karas we should op

[2019-10-28 22:34] mairaw commented on #6248
I'm closing this feedback since we recently split up the different guides into their own section.

[2019-10-28 22:34] #6248 closed

[2019-10-28 22:34] #8383 closed

[2019-10-28 23:02] #15390 closed

[2019-10-28 23:31] SidShetye opened #15480 "Update for ASP.NET Core 3.x"
Please update for ASP.NET Core 3.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version Independent ID: 58d57b81-4ca6-6536-8788-f212402b41a7
* Content: [Containerize an app with Docker tutorial - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/docker/build-container)
* C

[2019-10-29 00:15] gewarren opened #15482 "Clean up .NET Framework migration guide"
- simplify TOC titles
- add individual migration guides to the TOC
- clarifications

[2019-10-29 00:23] #14538 closed

[2019-10-29 00:35] BillWagner commented on #14078
This can be addressed in the same update as #13345

[2019-10-29 00:47] bender2k14 commented on #15329
I left a comment on your most recently commit
https://github.com/dotnet/docs/commit/140b2328a804fffb16f48d32b51b29d63bd40f88#comments

[2019-10-29 00:57] mairaw commented on #6068
@leecow who owns the .NET Native story? Should these docs simply be archived?

[2019-10-29 01:29] mairaw commented on #15329
I've opened PR https://github.com/dotnet/docs/pull/15483 since the other one had been merged already

[2019-10-29 01:52] #14959 closed

[2019-10-29 02:05] #15454 closed

[2019-10-29 02:22] nemrism commented on #15006
Hi @rpetrusha / @mairaw

Just seen this up-for-grabs labeled work item, and kind of like it. Is there something I could do to help on the subject?

Meaning, I'd like your inputs on how-to proceed with it.
Do I just proceed with scanning the repositories and try to split large examples?

[2019-10-29 02:40] mairaw commented on #15006
@rpetrusha has since retired.

But adding @Thraka and @BillWagner here who have been thinking about the CI aspect of our samples repo and how projects should be structured to best guide you.

[2019-10-29 03:05] #8685 closed

[2019-10-29 06:32] mairaw commented on #15487
@BillWagner what do you think given that 2

[2019-10-29 07:18] mairaw commented on #8521
Apologies for the delay here @tabareh. I believe this can be closed now? Unless I'm misunderstanding the request.

[2019-10-29 07:42] paillave commented on #15457
It does, thanks you. Still, any change to have a proper up to date documentation for MEF somewhere?

[2019-10-29 09:56] borys86 opened #15495 "Version of dotnet project for add command."
Is it possible to specify the version of dotnet core project using dotnet sln[] add project command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b0701a-2043-4ac8-567a-03c1e35161b2
* Version Independent ID: 60d50636-8086-8d92-9ccc-60b7cecd714a
* Content: [dotnet sln command - .NET Core CLI](https://docs.microsoft.c

[2019-10-29 10:34] atifaziz opened #15496 "Important to call out “order of evaluation in pattern-matching”"
I believe this belongs in the [**Switch expressions**](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#switch-expressions) section, but also in [the tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/pattern-matching).

There seems to be a subtle and historical change in how C# respects, or actually _no longer respects_, the _evaluation order_ when using pattern-m

[2019-10-29 10:50] atifaziz commented on #15496
Following is a simpler version of the demo without needing a local function with side-effects. Any object from the BCL with impure methods will do:

[code]

[2019-10-29 11:35] leastprivilege commented on #8896
Could we please confirm if this is the case or not @terrajobst

Our libraries currently target net461 and netstandard2.0 - if the above is true we either need to drop net461 or add net472.

[2019-10-29 12:46] haakoo commented on #11101
It's allowed, yes, but is it sensible? By having so many digits in the decimal the `"o"` option for `\
`DateTime.ToString()` makes it fairly useless. How often do you want 5+ decimal digits for the seconds?

This issue is really about changing the default to something sensible.

[2019-10-29 13:21] ghelyar commented on #8896
You can confirm with this tool https://nugettoolsdev.azurewebsites.net/4.3.0-preview4/get-nearest-framework?project=net472&package=net461%0D%0Anetstandard20

[2019-10-29 14:06] BillWagner commented on #15496
Thanks for bringing this to our attention @atifaziz

I'm adding a couple folks on the C# LDM to discuss how we should explain this behavior.

/cc @gafter @MadsTorgersen

[2019-10-29 14:07] noman9607 opened #15499 "VS2019 makes an additional exe file in the publish folder"
Hi, I went through this three stage tutorial for the fun of it and found that vs2019 works a little differently. The files generated by 'publish' in the new ide include "helloworld.exe" at a humongous size of 156kb! The helloworld dll, which this page says contains the program, is only 5kb. I made another exe using csc that made an exe of only 16kb. Why is the Visual Studio exe fatter than my cat?

[2019-10-29 14:51] gafter commented on #15496
This is a bug.  The tuple expression is required to evaluate its operands in order, and in this case the compiler does not do so.

[2019-10-29 14:51] cartermp commented on #15465
@PoulBak Thanks! You are correct, C# 7.3 should by the default. This sounds like a product bug if it reproduces with new ASP.NET projects - I'm assuming old-style ASP.NET here, since you mention .NET Framework - and the appropriate avenue here would be the Visual Studio Report A Problem tool.

I'd also double-check that you don't have a props file (e.g., `Directory.build.props`) setting the `LangV

[2019-10-29 15:06] #15496 closed

[2019-10-29 15:06] BillWagner commented on #15496
Issue moved to [dotnet/roslyn #39564](https://github.com/dotnet/roslyn/issues/39564) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-29 15:15] #15051 closed

[2019-10-29 15:44] maluoi opened #15502 "runtime.json link is broken"
Links lead to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog#feedback)
* Content Source: [docs/core/

[2019-10-29 16:03] BobMolloy opened #15504 "Really well done"
Thanks for this. I think I'm finally beginning to understand the process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programm

[2019-10-29 16:07] #15414 closed

[2019-10-29 16:55] Thraka commented on #15457
Unfortunately it's not a high priority as we have a lot of other high priority stuff to work on. But we've tracked this request here: #7613

[2019-10-29 17:12] Thraka commented on #15006
@cillroy @rloutlaw This issue is a good example of how we need some good tooling around snippets/samples. It's hard to plan the impact of updating a large file like this, which has multiple snippets, and could be used by anything in the docs repo.

[2019-10-29 18:25] mairaw commented on #15502
Thanks for reporting @maluoi. Some files were moved today in the corefx repo. PR #15497 addresses that issue.

[2019-10-29 19:01] dsplaisted opened #15506 "Review `dotnet` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

[2019-10-29 19:03] dsplaisted opened #15507 "Review `dotnet build-server` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build-server

[2019-10-29 19:04] dsplaisted opened #15508 "Review `dotnet clean` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-clean

[2019-10-29 19:05] dsplaisted opened #15509 "Review `dotnet help` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd894ec4-7531-06dd-9ae8-26b7e6f0dcea
* Version Independent ID: 37b93f10-64fe-bf7a-6cf9-3b7172ebccd1
* Content: [dotnet help command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-hel

[2019-10-29 19:05] dsplaisted opened #15510 "Review `dotnet migrate` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-migrate

[2019-10-29 19:07] dsplaisted opened #15512 "Review `dotnet msbuild` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-msbuild

[2019-10-29 19:07] dsplaisted opened #15513 "Review `dotnet new` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new

[2019-10-29 19:12] mairaw commented on #15513
The person working on this should probably review the article as I have in the following PR when it's ready (it's still WIP):
#14356

[2019-10-29 19:14] dsplaisted opened #15515 "Review `dotnet nuget delete` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-delete

[2019-10-29 19:14] mairaw commented on #15504
Thanks for letting us know @BobMolloy!

[2019-10-29 19:14] #15504 closed

[2019-10-29 19:15] dsplaisted opened #15516 "Review `dotnet nuget locals` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals

[2019-10-29 19:17] dsplaisted opened #15517 "Review `dotnet nuget push` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push

[2019-10-29 19:18] dsplaisted opened #15518 "Review `dotnet pack` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack

[2019-10-29 19:19] dsplaisted opened #15519 "Review `dotnet publish` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish

[2019-10-29 19:21] dsplaisted opened #15520 "Review `dotnet restore` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore

[2019-10-29 19:21] dsplaisted opened #15521 "Review `dotnet run` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run

[2019-10-29 19:22] dsplaisted opened #15522 "Review `dotnet sln` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-sln

[2019-10-29 19:23] dsplaisted opened #15523 "Review `dotnet store` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-store

[2019-10-29 19:24] dsplaisted opened #15524 "Review `dotnet test` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test

[2019-10-29 19:25] #14422 closed

[2019-10-29 19:26] dsplaisted opened #15525 "Review `dotnet tool install` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install

[2019-10-29 19:26] dsplaisted opened #15526 "Review `dotnet tool list` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-list

[2019-10-29 19:27] dsplaisted opened #15527 "Review `dotnet tool uninstall` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-uninstall

[2019-10-29 19:28] dsplaisted opened #15528 "Review `dotnet tool update` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-update

[2019-10-29 19:28] dsplaisted opened #15529 "Review `dotnet vstest` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-vstest

[2019-10-29 19:29] dsplaisted opened #15530 "Review `dotnet-install` script reference"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2019-10-29 19:29] mairaw commented on #15495
Thanks for your question @borys86. The version is specified in the project not in the solution and the project needs to exist already in order for you to add, so the answer to this would be no.

I hope this helps.

[2019-10-29 19:29] #15495 closed

[2019-10-29 19:30] dsplaisted opened #15531 "Title of page should have `dotnet add`, not `dotnet-add`"
Title of page should have `dotnet add`, not `dotnet-add`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ab77c3-eba6-e947-8ffa-0fcda722f34b
* Version Independent ID: 48bbcb58-cfd1-b3d3-7a2a-319716541362
* Content: [dotnet-add reference command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-

[2019-10-29 19:31] dsplaisted opened #15532 "Review `dotnet add reference` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-reference

[2019-10-29 21:05] mthalman opened #15537 "Investigate how we generate support information and dependencies for install docs"
### Type of issue

Other (describe below)

### Description

The documentation at https://github.com/dotnet/docs/blob/master/docs/core/linux-prerequisites.md has a section on Linux distribution dependencies.  The packages that are listed here don't line up with the packages that are specified in the [packaging](https://github.com/dotnet/core-setup/tree/master/src/pkg/packaging) runtime deps.

UPDAT

[2019-10-29 21:16] gafter commented on #15496
@atifaziz If your deconstruct methods and properties on which you are matching are pure, then there should be no observable effect based on the “[Order of evaluation in pattern-matching](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/patterns#order-of-evaluation-in-pattern-matching)” section.

[2019-10-29 21:18] leecow commented on #6068
@jeffschwMSFT and @richlander - Who owns this story?

[2019-10-29 21:18] dsplaisted opened #15539 "Review `dotnet list reference` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-reference

[2019-10-29 21:19] dsplaisted opened #15540 "Review `dotnet remove reference` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-remove-reference

[2019-10-29 21:20] dsplaisted opened #15541 "Review `dotnet add package` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package

[2019-10-29 21:21] dsplaisted opened #15542 "Review `dotnet list package` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-package

[2019-10-29 21:22] dsplaisted opened #15543 "Review `dotnet remove package` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-remove-package

[2019-10-29 21:38] mattleibow commented on #14803
I see I can also do `protected` and `virtual`...

[2019-10-29 21:48] atifaziz commented on #15496
@gafter Yes, I get that but I guess never mind the rest. Now that the bug is clear, I guess worrying about any other edge case seems superficial consider that property getters or `Deconstruct` shouldn't ever be designed with side-effects.

[2019-10-29 21:59] #15531 closed

[2019-10-29 22:04] mairaw commented on #15537
Thanks for your feedback @mthalman.
@leecow Can you please take a look at this issue for Linux prereqs?

[2019-10-29 22:12] rido-min commented on #6068
/cc @diverdan92

[2019-10-29 23:42] dsplaisted commented on #15522
See also https://github.com/dotnet/docs/pull/15545

[2019-10-30 05:57] #15502 closed

[2019-10-30 10:08] mviegas commented on #6027
@mvelosop there is also an option to deploy an application as container within an App Service. Just for check, do you know if, in that case, some kind of "app pool recycling" occurs (I guess that it doesn't make much sense for containers)?

[2019-10-30 10:26] PeterPann23 commented on #15423
actually, I'd like to see these as parameters at the cli, the api already supports it.

[2019-10-30 10:52] DaveSneddon commented on #15465
I have the version "Automatically selected based on framework version" for me which Automatically selects 7.0 and doesn't allow me to change it.  How do I turn this useless "helpful" feature off?  Using VS 2019 16.3.7 with .NET 4.7.2.

[2019-10-30 11:08] #13850 closed

[2019-10-30 11:54] mvelosop commented on #15372
Hi @jaywahr, thanks for the offering and nice that you targeted the `up-for-grabs`

There's already a PR for this issue, but you can always submit a PR for any other issue you feel like working on. They'll all be reviewed, so no need to worry 😉

[2019-10-30 12:43] mvelosop commented on #9975
Hi @camiteca, thanks for your feedback.

However, there's no error here, as the support for Docker is only available for **ASP.NET Core** projects, not for **ASP.NET** (.NET Framework).

That's actually mentioned in the Microservices guide here:

![image](https://user-images.githubusercontent.com/7357806/67858932-4d842600-fb12-11e9-8127-1efb0f8fe9e6.png)

And in the [Visual Studio Container Tools

[2019-10-30 12:44] mvelosop commented on #9975
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-30 12:44] #9975 closed

[2019-10-30 12:46] mvelosop commented on #15226
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-30 12:46] #15226 closed

[2019-10-30 12:55] norvegec opened #15557 "Office COM object disposal when using with dynamic"
The article not elaborate on disposal of dynamic objects when working with interop.

To my understanding either with the use of dynamic or w/o it whenever CLR/DLR resolves an COM object from Excel the RCW increases a referrence counter for it.
When we done dealing with Excel objects, we should manually notify RCW
(with a call to `Marshal.ReleaseComObject(..)` / `Marshal.FinalReleaseComObject(..)`)

[2019-10-30 13:06] mvelosop commented on #9975
Oops, I'm sorry @camiteca, I got confused with the image numbering. It looks like it changed from the version you're using.

I tried what you mentioned in VS 15.9.13 and I do see the option shown (currently) in figure 4-33.

I guess the clarifications I highlighted mean about supporting Linunx "**and**" Windows containers.

One important caveat, it has to be an **ASP.NET** application.

Hope this

[2019-10-30 13:31] PoulBak commented on #15465
@cartermp I don't have a props file. This is not new, it has been like that for several years. Asp.Net uses the 'Latest Major' compiler.
@DaveSneddon The only way to get the C# 7.3 compiler in asp.net is to install 'Microsoft.CodeDom.Providers.DotNetCompilerPlatform' from Github (and distribute it to your server). You must set the langversion in web.config.

[2019-10-30 14:02] mvelosop commented on #6027
Hi @mviegas, app pool recycling is an IIS thing so it shouldn't happen in containers, at least not in Linux containers.

Hope this helps.

[2019-10-30 14:19] #12245 closed

[2019-10-30 14:33] mviegas commented on #6027
That's what I imagined. Thank you very much for the reply and sorry if the
question seems dumb!

Em qua, 30 de out de 2019 às 14:02, Miguel Veloso <notifications@github.com>
escreveu:

--
Att,
Mateus de Carvalho Viegas

*Skype e Facebook: mateuscviegas*

[2019-10-30 15:02] cartermp commented on #15465
I'll defer to ASP.NET folks (such as @danroth27) on whether or not the legacy website project kinds should support later C# versions, but my intuition is no, given the abundance of features that depend on types (and now runtime features with Default Interface Members) that are only available on .NET Core.

[2019-10-30 15:07] #14408 closed

[2019-10-30 15:54] StephenShamakian commented on #12486
I just ran into this same problem! This is a horrible design decision as now its really hard to package up particular projects in a solution in a CI/CD pipeline on the build server....

@dasMulli I will try that workaround. Would you happen to know if that a permanent solution or will it also cease to function in a later version as well?

[2019-10-30 16:04] DaveSneddon commented on #15465
@BillWagner mine is a ASP.NET project.  @PoulBak thanks for your help, I've got it working now.  I already had the latest DotNetCompilerPlatform package but the langversion was set to 'default'.  Changing it to 'latest' fixed the issue. Why 'default' isn't 7.3 doesn't make sense to me.

[2019-10-30 16:35] fwd079 commented on #13381
@stevebogar  then you should close this, confuses readers.

Regards

[2019-10-30 17:11] #14512 closed

[2019-10-30 17:14] BillWagner commented on #13381
Thanks for the comment @fwd079

I'll close as resolved.

[2019-10-30 17:14] #13381 closed

[2019-10-30 17:28] StephenShamakian commented on #12486
@dasMulli recommendation worked for me using both v3.x and v2.x! Thanks! :)

I just hope this is a stable workaround vs. something that may also stop working in a few months.

[2019-10-30 17:45] gewarren opened #15560 "Repo clean up"
- delete orphaned markdown files
- delete orphaned images
- delete orphaned includes
- replace redirected links
- replace site-relative links with file-relative links

[2019-10-30 17:50] dasMulli commented on #12486
I don't think this is likely to change as it would have large implications across the stack. The thing that changed was the translation between the arguments to the `dotnet` CLI and what is passed to MSBuild a layer below (which is what the `-p:` arguments do directly).
Disclaimer: I don't work for MS and i can't promise anything.

(Nearly) Every CLI argument can be translated to MSBuild arguments

[2019-10-30 17:59] walbourn opened #15562 "Install the .NET Framework for developers"
The page *Install the .NET Framework for developers* is missing notes about VS 2017 (and it's updates) and VS 2019 related to which developer pack is supported by which version of VS. There is also missing notes about VS 2015 Update 2.

Visual Studio|.NET version
-- | --
VS 2019 (16.3) | .NET Framework 4.8   .NET Core 3.0
VS 2017 (15.8   update) | .NET Framework   4.7.2
VS 2017 (15.5   update) | .

[2019-10-30 18:01] gewarren opened #15564 "Create a plan for orphaned markdown files"
See comments in #15561.

[2019-10-30 18:21] docs-product commented on #8932
@Thraka we can log an issue internally for this. It seems like this is a re-occurring problem that needs to be addressed by the engineering team.

[2019-10-30 18:47] Thraka opened #15568 "[task] Merge prereqs articles into a single experience"
Related to #14675

We're going to test pivot zones and see how people feel about the prereqs articles being merged into  a single article.

We will further evolve this story into a more role based selection (Developer vs User) with appropriate download/install/deps guides.

Kusto results for last 90 days

|                       | Page views | Visitors | Ratings | CSAT |
| --------------------- |

[2019-10-30 19:18] Thraka commented on #8932
Thanks Den.

[2019-10-30 19:18] #8932 closed

[2019-10-30 19:19] Youssef1313 commented on #15564
For the csharp/vb error messages, there is a plan in #2363.

[2019-10-30 20:22] #6655 closed

[2019-10-30 22:38] gewarren opened #15577 "Sort redirection file automatically"
Figure out a way to sort the .openpublishing.redirection.json file automatically. For example, by using Azure Pipelines to run a sorting script.

[2019-10-30 23:34] Lapwai opened #15579 "Documentation Issue"
Hi there,
I tried several times to reload this page, unfortunately, I am still not able to read this part of the tutorial, please check it.

Best Wishes,
Andy

[2019-10-30 23:37] mairaw commented on #15579
Which tutorial @Lapwai? And which part?

Can you please share a link and a screenshot, if possible?

[2019-10-30 23:55] Lapwai commented on #15579
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/list-collection

[2019-10-31 00:01] mairaw commented on #15562
We do cover that information for .NET Core under https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore30#prerequisites-to-develop-net-core-apps-with-visual-studio since you can't develop with certain versions of .NET Core if you're not on the right version of VS.

But not sure if I understand what this would mean for .NET Framework. /cc @vivmishra

I can develop 4.8 apps

[2019-10-31 01:38] SeanKilleen commented on #14367
I'll take this one on -- seems straight-forward enough. Will open a PR shortly.

[2019-10-31 01:48] #13957 closed

[2019-10-31 03:00] SeanKilleen commented on #8060
Did a quick PR for this, using the suggested language verbatim and but keeping the link to the keyword,

[2019-10-31 07:27] mohag commented on #12486
Back to the actual topic: The documentation still does not seem to mention .NET Core 3.0 at all, even after it has been released.

[2019-10-31 11:11] richardscholten73 opened #15588 "Errors adding/updating service reference since last update"
Warning: Cannot import wsdl:portType
Detail: An exception was thrown while running a WSDL import extension: System.ServiceModel.Description.DataContractSerializerMessageContractImporter
Error: Could not load file or assembly 'System.ServiceModel.Primitives, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
XPath to Error Source: //wsdl:d

[2019-10-31 12:29] KalleOlaviNiemitalo commented on #14541
.NET Core intentionally does not implement BeginInvoke and EndInvoke for delegates. dotnet/corefx#5940, <https://github.com/dotnet/coreclr/blob/922429db0144dd6f3b4324805464dae82857512a/src/vm/comdelegate.cpp#L1996-L2003>

[2019-10-31 12:48] dlidstrom commented on #13770
Yeah, or why not MassTransit (or better yet, NServiceBus)? This sample is trivializing what is really a complex reality (supporting two messaging infrastructures) that anyone following this will soon have to deal with.

[2019-10-31 12:55] dlidstrom opened #15590 "Relationship to App Service"
This page is explaining the containerization technology. This is then compared with virtual machine images, from a resource utilization and process isolation perspective. However, Azure allows other options for hosting ASP.NET Core applications: App Service. I'd love to see a discussion about why we need these small micro operating systems (containers) where we can just avoid the whole operating s

[2019-10-31 13:37] lukos opened #15591 "Missing information about defaults"
Although you specify something about what happens with the project argument is missing, some of the defaults are not obvious. It appears that the default output directory is TestResults or is that just added onto whatever the output directory is set to?

Standard format for any parameter descriptions should include what you already have and also what the default values are. Thx.

---
#### Document

[2019-10-31 13:59] #14367 closed

[2019-10-31 14:25] mzkev commented on #15579
@Lapwai  Please check again as i can read the tutorial in that link. Please see screenshot below.

![image](https://user-images.githubusercontent.com/25280476/67955231-914e5c80-fbf2-11e9-8c95-a7f45a0568f1.png)

[2019-10-31 14:41] tmds opened #15592 ".NET API browser shows incorrect type descriptions"
For example [SequenceReader<T>](https://docs.microsoft.com/en-us/dotnet/api/system.buffers.sequencereader-1?view=netcore-3.0):

[code]

[2019-10-31 14:44] #8060 closed

[2019-10-31 16:21] mvelosop commented on #6511
Hi @ardalis, do you think it's OK to include this reference, considering it's a bit dated now?

[2019-10-31 17:09] mvelosop commented on #6964
Thanks for the feedback @neil-rubens!

Even though it's an old question and it was already answered in SO, it's nice to include the mention in the guide.

[2019-10-31 18:24] dasetser commented on #15588
@richardscholten73 Since this appears to be a product issue rather than a problem with the documentation can you please report this using [Report a Problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)? That helps us gather more information to investigate and track it correctly. When filing the new issue it would be helpful if you could

[2019-10-31 18:30] mvelosop commented on #15462
Hi @crclz, thanks for your feedback.

I don't quite get to see it that way.

Whether several related domain events must be in different or a single transaction is usually context specific, so, as usual, it depends, no golden rules here.

Different transactions, and hence, eventual consistency, with the need to handle compensating action adds a lot of complexity that wasn't deemed necessary here.

[2019-10-31 18:32] CeciAc opened #15599 "Azure Import and Export pricing"
@maku0119 commented on [Thu Oct 31 2019](https://github.com/dotnet/docs.ja-jp/issues/860)

There is "Transaction fee" in "Price details" of Azure import and export, but isn't it wrong for "Transaction fee"? Looks like it costs a special fee.

* Standard storage fee and transaction fee will be charged separately.
https://azure.microsoft.com/ja-jp/pricing/details/storage-import-export/

---

@srvbpi

[2019-10-31 19:15] ardalis commented on #6511
I don't know a better video reference off-hand. If it doesn't have to be video I'd probably just link here:
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0

[2019-10-31 19:56] #15325 closed

[2019-10-31 20:01] luisquintanilla commented on #15423
@CESARDELATORRE is the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo the best place to add these suggestions?

[2019-10-31 20:08] leecow commented on #15537
The problem is that while `packagename*` works when the dependency is expressed in a deb, doing the same from a bash script or directly with the package manager does not work (that I can tell anyway).

For example, attempting `apt-get install libicu*` will literally install every package that starts wtih "libicu".

I'm all for it if there's a way to express this in the docs to simplify things a bi

[2019-10-31 21:08] mthalman commented on #15537
The `*` wasn't meant to be the literal value used in a shell command; it was merely meant to indicate multiple versions (https://github.com/dotnet/core-setup/blob/fd3b3421d7b901aaac28ad34e63b6480f88973d3/src/pkg/packaging/deb/package.targets#L327).

[2019-10-31 21:41] KySpace opened #15607 "Does type conversion preserve each bit?"
I hope the document could specify what exactly does type conversions do. Say, from byte to sbyte, does it preserve all 8 bits or try to convert a uint8 to int8 of the same vale (if not overflowed). How about from sbyte to byte?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 725e0bb1-2dcd-4e9e-2714-f0a56d248992
* Versio

[2019-10-31 21:55] #15588 closed

[2019-10-31 22:10] abelbraaksma opened #15609 "Table comparing SRTP with normal types says that the first cannot be used on types, this is incorrect"
SRTP can be used on types as well. However, they are resolved at compile time. While there isn't any example of this here (or many other examples for that matter) I believe this statement in the table to be incorrect.

One example is given here: https://stackoverflow.com/q/12881828/111575 (another one in my code, I can share if needed).

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-10-31 23:03] Lapwai commented on #15579
Hi, I can read now, thanks.

[2019-11-01 00:13] mairaw opened #15611 "Review article - CSAT OKR"
Article needs to be reviewed because of low CSAT scores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a1428fb-1282-c537-8714-29cf2ccb0446
* Version Independent ID: d329fbf9-0b17-e4e4-733f-9b9c96eb46bd
* Content: [Developer Command Prompt for Visual Studio](https://docs.microsoft.com/en-us/dotnet/framework/tools/deve

[2019-11-01 00:30] SeanKilleen commented on #14103
I attempted to address this in two PRs across the docs & the samples.

* I extracted to a static class called `LoggingMethods` so that we could show the full context of the class within the docs sample.
* Updated the docs to show the new class for the contents of the `LogToConsole` method
* Updated the docs to clearly use the static class
* Added a comment to the first time we reference `LoggingMe

[2019-11-01 00:32] mairaw commented on #15522
The article from the PR above was published so just review the latest published. I'd love to understand though what the new options in 3.0 mean. I didn't really understand their usage.

[2019-11-01 00:35] CESARDELATORRE commented on #15423
This issue should be open at the ML.NET repo:
https://github.com/dotnet/machinelearning/issues

[2019-11-01 00:51] SeanKilleen commented on #13317
I'll take this one on. I like @Thraka's suggestion here. Adding it in a PR along with an explanatory comment.

[2019-11-01 01:05] SeanKilleen commented on #12346
@BillWagner I went through the referenced doc and it appears all of the associated samples are in line with this naming convention guidance as far as I can tell.

Is there anywhere explicitly that you'd like this guidance added additionally? If not, this can likely be closed at this point.

[2019-11-01 01:29] Youssef1313 opened #15614 "title metadata"
In the current template.md, it's said:

I think most articles has the title metadata identical to the H1 heading.

I also don't see the reason for the title metadata to be different than the H1 heading.
Should the articles be updated (or at least making sure that new articles follow this) ? or should the guidelines in template.md be changed ?

[2019-11-01 01:41] #15008 closed

[2019-11-01 02:03] #13937 closed

[2019-11-01 06:34] cskwg opened #15620 "Typo: readonly sturct"
There is a typo: readonly sturct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26899b81-d6f9-534a-83ee-283dd8aae545
* Version Independent ID: 3061125d-7de4-97ef-ccb0-ee792d6f2ae1
* Content: [readonly keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/readonly)
* Content

[2019-11-01 06:48] mairaw commented on #15620
Thank you for your feedback @cskwg. Would you like to submit a pull request to fix this?

The process is explained here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-11-01 07:13] richardscholten73 commented on #15588
Ah, ok.
Thank you @dasetser

For anyone reading this with the same problem, it appears that after the last vs2019 update and .net core 3.0 this error occurs when updating/creating wcf service references in .net core 2.2 (or lower?). Updating your project to .net core 3.0 solves the issue. We were planning this anyway, so not a big issue for us anymore.

[2019-11-01 07:19] auliakhilmi opened #15623 "Code error in TestCase"
PrimeService need to be instanced. You need an additional line to instance it before called it with `var result`.
`PrimeService _primeService = CreatePrimeService();`
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0063ceb-57ea-f30c-efed-b2a36314ccaa
* Version Independent ID: bd9a321e-2ef2-491d-cd37-2d9c66f90cc

[2019-11-01 07:51] DaddyBA opened #15624 "Code example"
The last name chosen here, although it may be a real name, dilutes the professional reputation of Microsoft. Change up the name a little and you have “Is a Bell Butt” which could probably turn up on Urban Dictionary with some lewd definition. Not a good name choice for the code sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-01 08:00] #13772 closed

[2019-11-01 08:02] #15462 closed

[2019-11-01 08:37] frankfru opened #15626 "Misleading function name"
In the last example (validation before calling the asynchronous method) the function is renamed from GetMultipleAsync to GetMultiple: 'static Task&lt;int&gt; GetMultiple(int secondsDelay)'
Why? The function remains async and still returns a Task&lt;int&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a70d19-0d23-f

[2019-11-01 08:54] Youssef1313 commented on #15623
In the samples repo, https://github.com/dotnet/samples/blob/master/core/getting-started/unit-testing-using-nunit/PrimeService.Tests/PrimeService_IsPrimeShould.cs, the `_primeService` already exists as a private global variable, but unfortunately it's not referenced. Would referencing that `_primeService` is a private global variable fix your issue ?

[2019-11-01 09:17] auliakhilmi commented on #15623
Ah, I see. After looking at your overall code, surely it works for me. I just came to https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-nunit then follow the tutorial and I got this issue.

[2019-11-01 09:24] Youssef1313 commented on #15623
@auliakhilmi , When my PR gets reviewed and approved and would reflect the article in the docs.microsoft.com.

I've made a slight edit to the current code in samples repo, you can see it in my branch [here](https://github.com/Youssef1313/samples/blob/patch-3/core/getting-started/unit-testing-using-nunit/PrimeService.Tests/PrimeService_IsPrimeShould.cs)

[2019-11-01 09:35] auliakhilmi commented on #15623
Ok, I think it's clearly resolved. Thank you.

[2019-11-01 09:35] #15623 closed

[2019-11-01 13:11] springy76 commented on #14950
The given link has nothing to do with netcore and points to an archived repo.

[2019-11-01 13:34] SteveSandersonMS commented on #14950
Thanks - fixed.

[2019-11-01 13:48] Youssef1313 commented on #15620
I've opened PR #15630 to address this.

[2019-11-01 14:15] samezyane opened #15631 "Sr Consultant"
Great code snippets and great illustrating examples!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3753657-9f0f-4e68-abde-5f461099cb6e
* Version Independent ID: f7bd9eb0-1653-15fd-5f0e-dc0ee5c3bf88
* Content: [Safely update interfaces using default interface methods in C#](https://docs.microsoft.com/en-us/dotnet/csha

[2019-11-01 15:02] BillWagner commented on #15631
Thanks for the compliments @samezyane I'm glad it helped.

Closing as kudos.

[2019-11-01 15:02] #15631 closed

[2019-11-01 15:07] BillWagner commented on #15624
Thanks for pointing this out @DaddyBA

We'll get this updated.

[2019-11-01 15:22] foundinhim opened #15632 "Title of Page - The .NET Framework Analyzer or The .NET Security Analyzers"
I apperciate the work that goes into this documentation. I know it is challenging to keep updated. :smile:

It seems like this page is broadly about _The .NET Framework Analyzer_, but the HTML \<title\> is _The .NET Security Analyzers - .NET | Microsoft Docs_, and it also reads:

Where is this package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-01 15:24] tdykstra commented on #15614
This guideline is a general rule of thumb that is not intended to apply rigidly to all articles. For some articles, having identical H1 and metadata title is fine. Each instance must be evaluated to determine whether varying the text in these two places has potential to help SEO.

 As we make major updates to existing articles, we may look at updates to improve the findability of an article. Howev

[2019-11-01 15:33] #15614 closed

[2019-11-01 15:40] Dean-NC opened #15633 "When opting-in to .Net 4.7 DPI support for WinForms, what about AutoScaleMode?"
[https://github.com/dotnet/docs/blob/master/docs/framework/winforms/high-dpi-support-in-windows-forms.md](https://github.com/dotnet/docs/blob/master/docs/framework/winforms/high-dpi-support-in-windows-forms.md)

Many of us making high-quality WinForms apps are looking to the above doc for guidance on High DPI support. It already provides great info, but if opting-in to this new support, it doesn't

[2019-11-01 16:17] gewarren commented on #14517
They're unusable in the "high contrast" theme. Black text on a black background.

[2019-11-01 16:18] gewarren opened #15636 "Breaking changes for .NET Core 3.1"
See https://gist.github.com/rpetrusha/89e4068ce667a211ba67927e62ddd2ee for detailed steps on creating the articles.

They go here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/breaking-changes

[2019-11-01 16:19] Thraka commented on #15591
Thank you for filing this issue, we'll add it to the backlog.

[2019-11-01 16:26] Thraka commented on #15592
Thank you for letting us know. We'll investigate this.

[2019-11-01 16:30] Thraka commented on #15599
@CeciAc I think this was added to the wrong repo. This would go to the azure docs repo https://github.com/MicrosoftDocs/azure-docs-pr

[2019-11-01 16:30] #15599 closed

[2019-11-01 16:38] Thraka commented on #15592
This issue was moved to mono/api-doc-tools#444

[2019-11-01 16:38] #15592 closed

[2019-11-01 17:04] Thraka commented on #15632
Good catch. I think that it's the same thing refereed in two different ways. Perhaps in the past it was referred to as the Security Analyzer. Other links going to this page do refer to it as the .NET Framework Analyzer.

We should probably remove reference to it as the .NET Security Analyzer.

https://www.nuget.org/packages/Microsoft.NetFramework.Analyzers/ is the package you're looking for.

[2019-11-01 17:07] Thraka commented on #15633
Hello, I'll see if I can get you an expert.

@OliaG Can you comment on this?

[2019-11-01 18:44] BillWagner commented on #12346
Thanks @SeanKilleen

I'll close this.

[2019-11-01 18:44] #12346 closed

[2019-11-01 18:58] mairaw commented on #15579
Thanks for letting us know. Not sure what was going on.

[2019-11-01 18:58] #15579 closed

[2019-11-01 19:48] CeciAc opened #15648 "Server?"
@realsonic commented on [Fri Nov 01 2019](https://github.com/dotnet/docs.ru-ru/issues/238)

"Configures the local directory for a Simple Mail Transport Protocol (SMTP) server." - as I understand, the configuration is for SMTP client, not a server.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub

[2019-11-01 19:51] mairaw commented on #12486
We're still going through the CLI updates for 3.0.

[2019-11-01 19:52] breyed opened #15649 "Warn that group joins don't work with database"
As discussed in aspnet/EntityFrameworkCore#17068, the examples on this page, while fine with LINQ to objects, don't work with LINQ to SQL because databases don't tend to support this type of query. Group joins kind of worked in older version of EF, but would mysteriously become slow because of silent client-side evaluation. EF Core 3 fortunately provides a runtime error, although its exception is

[2019-11-01 19:53] mairaw commented on #12486
Removing the milestone for now. I'll add this update when I'm making the updates for this page for 3.0.

[2019-11-01 19:57] mairaw commented on #12486
@KathleenDollard should we also have an entry at https://docs.microsoft.com/en-us/dotnet/core/compatibility/breaking-changes for CLI breaking changes? We mostly focus on API compat. Or would things like this be part of the migration work I'm doing for for #14471?

[2019-11-01 20:14] #14103 closed

[2019-11-01 20:17] #15620 closed

[2019-11-01 20:27] BillWagner commented on #15577
The reason we adopted the process of sorting the redirection file alphabetically was that this practice worked well to avoid merge conflicts in the redirection file.

Before adopting this practice, each PR that added a redirection made the addition at the bottom of the file. That practice almost guaranteed merge conflicts.

This issue describes one way to avoid the work of manually sorting the red

[2019-11-01 20:29] BillWagner commented on #15496
The issue is already being address in a PR: dotnet/roslyn#39595. I don't think adding docs in the interim is necessary.

[2019-11-01 20:57] #13317 closed

[2019-11-01 21:35] Thraka commented on #9099
Just noticed this issue and tested the links. They are working OK.

Sorry for the delay.

[2019-11-01 21:35] #9099 closed

[2019-11-01 21:37] Thraka commented on #15562
Looks like .NET 4.6 is the last to mention what Visual Studio version included it. I think this is an update worth making.

![image](https://user-images.githubusercontent.com/2672110/68058049-1c902680-fcb5-11e9-8e66-262669cc1d4a.png)

[2019-11-02 00:14] #15521 closed

[2019-11-02 00:19] Paul-Dempsey opened #15653 "Update for Dotnet core 3.0"
Needs maintenance to bring up to netcore 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a960-abec-255dd907d04d
* Content: [dotnet new command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore22)
*

[2019-11-02 00:20] allisonchou opened #15654 "Documentation incorrectly specifies that local functions cannot be static"
I believe this line is now outdated, since local functions can now be static:

"Including the static keyword generates compiler error CS0106, 'The modifier 'static' is not valid for this item.'".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a70d19-0d23-f877-8860-df514cec3c40
* Version Independent ID: 942dbec3-a753-

[2019-11-02 00:23] Paul-Dempsey commented on #15653
never mind -- I see this is a dupe of #9893, but that issue looks like it has been getting kicked down the road for many months.

[2019-11-02 01:07] Youssef1313 commented on #15654
I think you're correct. https://github.com/dotnet/roslyn/pull/32067

[2019-11-02 01:23] decafbad opened #15656 "dotnet new command looks like it has two dots."
dotnet new console -n NumbersInCSharp -o . comes before sentence ending period. This makes it look like having two dots, therefore works in parent directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb6905a9-e9ec-df6f-5733-dfb25a41b97a
* Version Independent ID: fe0e2716-651b-a883-6371-ded1ace94a11
* Content: [Num

[2019-11-02 02:12] mairaw commented on #15653
And I already have a PR in progress. It's just complicated because I'm redoing the entire article and lots of things going on. But I plan on finishing it soon.

PR #14356

[2019-11-02 02:19] mairaw commented on #15656
Thanks @decafbad for your feedback. I've opened PR #15659 that should help with this.

[2019-11-02 06:50] svick opened #15660 "Collection-Type Dependency Properties presents incorrect code"
As mentioned in @oldnewthing's [article](https://devblogs.microsoft.com/oldnewthing/20191004-00/?p=102964), the page [Collection-Type Dependency Properties](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/collection-type-dependency-properties?source=docs) shows incorrect code first, then explaining why it's wrong and then explaining how to fix it:

This is very confusing, because it

[2019-11-02 09:27] kapiljain-128 opened #15662 "It would be nice to see the entire code as well"
I had some confusion while reading this about which functions were added first to which classes. It would be great if we could see the final code for all the classes along with their members at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3753657-9f0f-4e68-abde-5f461099cb6e
* Version Independent ID: f7bd9eb

[2019-11-02 09:48] pkulikov commented on #15662
@kapiljain-128 The second paragraph from the end contains the links to the full code. Or it's not something you're looking for?

[2019-11-02 10:47] naughtyGitCat opened #15663 "Can I publish to defined platform by using vs for mac?"
It seems the example is using vs for win

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50511188-600e-18f6-6d92-c93b135d3db6
* Version Independent ID: 559262e6-f27b-e581-255f-0967b006a922
* Content: [Deploy .NET Core apps with Visual Studio - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with

[2019-11-02 16:08] StingyJack opened #15664 "This page needs examples of what the project file should look like for each section"
For example, what does a file look like that correctly implements some of the Nuget metadata properties or AssemblyInfo properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj forma

[2019-11-02 16:09] StingyJack commented on #15248
An XSD would probably be useful for this.

[2019-11-02 17:46] Youssef1313 commented on #15662
As @pkulikov stated, the page says:

[2019-11-02 18:34] foundinhim commented on #15632
@Thraka , thank you for the clarification regarding the Security Analyzer.

[2019-11-03 00:33] tamlin-mike commented on #14862
I just wanted to chime in that I have also been bitten by this outdated documentation, spending almost a complete day to get this working, only to finally find this bug issue and the _only_ thing that helped us (remove `DotNetCliToolReference`, submitted in this very bugreport by @tbolon - thanks).

To be blunt: Your outdated documentation is hurting people, Microsoft. Not only that, it displays y

[2019-11-03 09:33] wdicks opened #15670 "GetAll function"
How would the GetAll() function be used in a real example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7c91ccc35779
* Content: [Using Enumeration classes instead of enum types](https://docs.microsoft.com/en-us/dotnet/architecture/

[2019-11-03 10:29] leastprivilege commented on #8896
I believe you - my issue is that the whole netstandard and net framework situation seems to be a never ending source of problems.

As a library author I am trying to do the right thing (read: what I am told by Microsoft how to workaround all those issues). This is new to me - and it is frustrating that there is no official response to this issue + guidance.

[2019-11-03 17:53] tabareh commented on #8521
Yes, I don't use the old surface tablet anyways and if you think it's solved then please go ahead and close it.

[2019-11-03 23:57] tb-mtg opened #15675 "Deserialization without parameterless constructor"
Why is Deserialization to reference types without a parameterless constructor not supported?

Can you please add support for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2a-48d1-0671-a079-b99b9f6bab58
* Content: [How to serialize and deseriali

[2019-11-04 02:33] BillWagner commented on #15649
Thanks for writing this @breyed Your notes are correct. I've added this to our next sprint to address.

If you'd like to submit a PR before then, I'll watch for it.

[2019-11-04 02:35] BillWagner commented on #15662
We do provide links to our samples repo on GitHub. I'll close this as answered.

[2019-11-04 02:35] #15662 closed

[2019-11-04 02:39] BillWagner commented on #15654
Thanks for writing this @allisonchou

I've added this to the task for the next sprint. We should be finishing all the docs for C# 8 features by then.

[2019-11-04 04:04] #15656 closed

[2019-11-04 07:39] kapiljain-128 commented on #15662
Didn't see that, thanks!

[2019-11-04 14:13] PeterLaComb-Availity opened #15678 "Usage inconsistency"
Usage is inconsistent between synopsis and examples. In the synopsis, &lt;CACHE_LOCATION&gt; precedes commands such as --clear, but in the examples it comes after. Both formats work (at least as of 3.0), but some might find this confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5725b81-7ebf-e9c5-51b7-f6d1cf5d5

[2019-11-04 14:37] gplindauer opened #15679 "Typo under Floating point types"
Under Value types, "Floating point types" in the fourth bullet, the phrase "and for double, 0 &lt; m &lt; 2^53 and 1075 &lt;= e &lt;= 970" should presumably read "-1075 &lt;= e &lt;= 970", I think.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de24f644-5e7c-d3de-fd13-5969bb3e4b78
* Version Independent ID: 9173876e-49b

[2019-11-04 15:06] #15654 closed

[2019-11-04 15:54] tdykstra commented on #15675
@tb-mtg The current release of System.Text.Json is the first release, and the dev team focused on maximizing performance over providing a comprehensive feature set. That said, you can work around that limitation by writing a custom converter.  There is an open Pull Request creating an article that explains how to create custom converters: #15113
For more information, see https://github.com/dotnet/

[2019-11-04 15:54] #15675 closed

[2019-11-04 16:03] stagnu-m commented on #13383
./itc is the program you've written

[2019-11-04 16:52] Thraka commented on #13383
For .NET Core 2.2 [the default publishing mode](https://docs.microsoft.com/dotnet/core/deploying/deploy-with-cli) is to generate a cross-platform dll, called a *Framework-dependent deployment*. You start this type of app with calling `dotnet path-to-dll` in this case you would either:

You can publish a **Framework-dependent executable** by either upgrading to .NET Core 3.0 or by calling `dotnet p

[2019-11-04 16:53] #13383 closed

[2019-11-04 17:15] eiriktsarpalis opened #15683 "Code samples defaulting to C++"
![image](https://user-images.githubusercontent.com/2813363/68142070-a98de680-ff26-11e9-91d4-5839cb5e6621.png)

I'm assuming this is unintentional, code samples are now defaulting to C++/CLI.

Example: https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2?view=netcore-3.0

[2019-11-04 17:37] Thraka commented on #15683
Confirmed with in private browsing.

[2019-11-04 17:40] Thraka commented on #15678
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-11-04 18:04] gewarren commented on #15482
This is complete now.

[2019-11-04 18:04] #15482 closed

[2019-11-04 18:15] Thraka commented on #15663
We don't have a lot of documentation here for VS for Mac, something we do want to change. For immediate help, there may be some info in the Visual Studio for Mac IDE documentation here: https://docs.microsoft.com/en-us/visualstudio/mac/projects-and-solutions?view=vsmac-2019

[2019-11-04 18:45] mvelosop commented on #6027
No dumb at all @mviegas, there are very few obvious answers here 😅

[2019-11-04 18:55] mvelosop commented on #6027
@akhilpolineni, I'm sorry, I don't understand the role of the console app here 🤔

Where would it be?

[2019-11-04 19:33] Youssef1313 commented on #6196
@BillWagner, Should the article shows the project creation from the beginning using .NET Core CLI ?

[2019-11-04 19:41] Thraka commented on #15648
I believe this is for the server. When I search for this information on the internet I keep seeing people use this setting to have the **server** load emails to send from this directory.

So I believe the documentation is correct.

Please let me know if you still think otherwise.

[2019-11-04 19:41] #15648 closed

[2019-11-04 20:43] mvelosop commented on #15590
Hi @dlidstrom, thanks for your feedback!

I think you can probably find the information you're looking for in the Azure-specific quick-start guide for .NET developers, you can see in the [.NET & Azure Application Architecture](https://dotnet.microsoft.com/learn/azure/architecture) section from the [.NET Architecture Guides](https://dotnet.microsoft.com/learn/dotnet/architecture-guides) site.

In t

[2019-11-04 20:51] mvelosop commented on #6511
Thanks @ardalis, that's great 😊

Will include both!

[2019-11-04 21:05] aethaniel opened #15691 "dotnet/docs/blob/master/styleguide/template.md is misleading in term of metadata rendering"
**Issue description**

https://github.com/dotnet/docs/blob/master/styleguide/template.md is misleading in term of metadata rendering.
I found this document very useful for my own purpose but in fact it may be outdated on one point:

As you can notice by viewing this file, it seems github renderer saw some unfortunate changes since this document has been written, leading to metadata being rendered

[2019-11-04 22:11] #15691 closed

[2019-11-04 22:40] wadepickett commented on #14237
@mairaw ,  I missed that you were leaving this one for me, sorry. No, I can't get to it, I have a long list I am working through already right now on the AspNetCore.docs repo.  This one is up for grabs.  Sorry I mishandled this one.

[2019-11-04 22:57] aethaniel commented on #15691
Guys, you realize you didn't fix anything to the problem here?
You didn't fix the wrong GitHub renderer by changing a bit the documentation and the metadata is still rendered. Well, that's a kind a fix, though. I would have taken another approach to it.

[2019-11-04 22:58] BillWagner commented on #15679
Thanks for spotting this @gplindauer

I've submitted dotnet/csharplang#2933 to fix this error.

[2019-11-04 23:01] gewarren commented on #10633
@jillre This work should be done in the VS docs. I'm not sure if you want to track it with this issue or create a new issue in the VS repo.

[2019-11-04 23:14] Thraka commented on #15691
Can't. That is the way github renders YAML headers.

[2019-11-04 23:15] aethaniel commented on #15691
Indeed. Makes sense on some manner.
Thanks

[2019-11-04 23:29] Thraka commented on #15691
Really the point about checking both the preview and the source is to understand how the markdown syntax styles the output. The header note was definitely not needed. So thank you for pointing that out. 👍

[2019-11-05 01:08] donhuvy opened #15695 "Java has not Lambda expression, enumeration, delegate, directly access memory are incorrect."
enumerations, delegates, lambda expressions and direct memory access, which are not found in Java.

Java has

- delegates ( not built-in, but can implement https://www.dummies.com/programming/java/how-to-use-the-delegation-pattern-in-java/ )
- enumerations ( https://docs.oracle.com/javase/7/docs/api/java/util/Enumeration.html )
- lambda expression ( https://docs.oracle.com/javase/tutorial/java/jav

[2019-11-05 01:41] BillWagner commented on #15695
Yes @donhuvy You are correct. This page has not been updated for more modern Java features.

Related #14477

For both issues, I think the best plan is to avoid a direct comparison with other languages. As these issues point out, it's hard to ensure we correctly compare all the developments in other languages in a timely fashion.

[2019-11-05 05:12] GreatFireWall commented on #7613
Any exmaples of System.Composition (MEF v2) ? I have read this [article](https://shed.globalgraphics.com/2019/06/14/using-mef-with-net-standard/#comment-78). Can anyone tell me which namespaces are involved in v2?

[2019-11-05 06:33] pkulikov commented on #10726
@BillWagner should this issue to be renamed to *builtin value types*?
Following the consolidation of the nullable value types articles, I'm thinking about the plan how to make further progress for this issue. Are you interested in it?

[2019-11-05 08:08] dlidstrom commented on #15590
I’m reading it now. It is looking very promising, thanks!

[2019-11-05 09:17] bittner opened #15698 "Too long, too little content"
What is a Cloud Native application? - An application that is resilient and can scale.

Resilient = ...
Can scale = ...

(Is this so difficult to get right?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03831099-3360-98e5-d35b-934a024f88e0
* Version Independent ID: 7bf71b44-4b61-9832-28c2-8f4881199829
* Content: [Defi

[2019-11-05 10:48] mu88 opened #15699 "Which .NET runtime version will be chosen?"
It would be great if you could add some more examples:
1 .Let's assume I have an application that targets .NET Framework 4.6.2. The `App.config` contains `&lt;supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /&gt;`. When running the compiled app on a system with .NET Framework 4.6.1, it will fail with an error (according to the documentation). But what happens on a system with .N

[2019-11-05 11:30] ghelyar commented on #8896
My non-Microsoft-approved advice is to either target `netstandard2.0;net461;net472` or only target `netstandard2.0`. The former is better if you want to support net 461-471 and also >= 472. The latter is fine if you don't really care about net461-471 consumers and just want a simpler package to maintain.

If you target netstandard2.0, net461 and net472 and use conditions in the csproj e.g. to chan

[2019-11-05 11:47] joaogomes44033 opened #15700 "The bitwise AND operation example is broken"
The following line of code doesn't work:

`Console.WriteLine($"Thursday {test == true ? "is" : " is not"} a meeting day.");`

The compiler throws the following error:
"a conditional expression cannot be used directly in a string interpolation"

The correct code should be:
`Console.WriteLine($"Thursday {(test == true ? "is" : " is not")} a meeting day.");`

---
#### Document Details

⚠ *Do not edit

[2019-11-05 11:49] leastprivilege commented on #8896
Tomorrow this issue is one year old - I guess "non-Microsoft" approved is all we get ;)

Thanks for your work!

[2019-11-05 13:48] mvelosop commented on #15590
Glad to know that @dlidstrom.

Closing this issue now but feel free to comment, will reopen if needed.

[2019-11-05 13:48] #15590 closed

[2019-11-05 13:51] #15372 closed

[2019-11-05 14:23] shvez opened #15702 "Sample of marshaling techniques"
It would be good to get any references on marshaling techniques for netcore. I'm facing an issue with code which worked fine in .net framework and does not work in .net core. It would be very useful to understand how marshaling can be used in case of type conversion issues

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-05 14:49] onovotny opened #15703 "Process.Start changes"
Process.Start changed too -- on .NET Framework, `UseShellExecute` defaulted to true and on .NET Core, it's false.

This means that programs that used `Process.Start("https://dot.net");` won't work anymore. They now need a `ProcessStartInfo`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f19516-254e-d701-1cd3-d2cf4dd

[2019-11-05 14:52] onovotny opened #15704 "SignedCms.ComputeSignature changes"
The behavior of the default overload of `SignedCms.ComputeSignature(CmsSigner)` changed from .NET Framework to .NET Core. In .NET Framework, that would display a PIN prompt if the provider required it. On .NET Core it does not as the silent context is enforced.

Desktop applications should use `SignedCms.ComputeSignature(SignedCms, false);` to ensure a PIN prompt appears if required. This behavior

[2019-11-05 15:18] #15679 closed

[2019-11-05 15:20] #14726 closed

[2019-11-05 15:22] sdmaclea commented on #15702
/cc @jeffschwMSFT @AaronRobinsonMSFT @jkoritzinsky @vitek-karas @elinor-fung Marshalling and AssemblyLoadContext

[2019-11-05 15:23] BillWagner commented on #10726
@pkulikov Good point. I renamed it.

I've got a number of tasks that need to happen before I'd work on this issue. If you want to start on a plan, go right ahead. I unassigned myself, and assigned this to you.

If the plan changes, let me know.

[2019-11-05 15:28] #15700 closed

[2019-11-05 16:06] jeffschwMSFT commented on #15702
@shvez can you provide a bit more detail on what scenario you are trying to have work on .NET Core?  Can you share a repro?  We have a variety of documented scenarios with samples in interop.

[2019-11-05 16:18] BillWagner commented on #6196
@Youssef1313

This article really needs a complete rewrite. The content is taken from the C# 1.0 Language Specification. It's had minimal updates since then. The tooling has changed, and the features to highlight in the language are very different than when this was written.

One part of that is to use the .NET Core CLI. But that is only one small part.

[2019-11-05 16:44] springy76 commented on #15143
I've reread this section again in again and it comes to no sense. And how does TieredCompilationQuickJit relate to R2R? Can it be combined? Is it mutally exclusive? Anyone knows anything?

[2019-11-05 16:51] Youssef1313 commented on #6196
@BillWagner, Can you point to the parts to consider when rewriting it ?
I *may* give it a try.

[2019-11-05 17:18] shvez commented on #15702
@jeffschwMSFT
so, we have a test assembly that depends on some production assemblies. That production code uses statics. in .netframework code we have created app domain and then using domain.CreateInstanceAndUnwrap(type.Assembly.FullName, type.FullName); we have created some type and could use its methods using class derived from MarshalByRef. Like this:
[code]
Everything was working fine.

Now i

[2019-11-05 17:45] jeffschwMSFT commented on #15702
Thanks for those details.  You are correct that we do not have this area well documented.  The management of separate AssemblyLoadContexts is more complex than Appdomains, but the static isolation, etc. should work in a similar way.  Do you mind sharing the same of your Appdomain code and we can offer some suggestions on how to move to ALCs?

cc @vitek-karas @elinor-fung

[2019-11-05 18:08] shvez commented on #15702
I'll do that tomorrow. that is a lot of work

[2019-11-05 18:09] shvez commented on #15702
@jeffschwMSFT I'll do that tomorrow. I have to admit that is a lot of work

[2019-11-05 18:17] kylejrp opened #15707 "Missing tag in example output"
In the template parameter example component output, it appears to be missing the &lt;p&gt; tag from the item template. I would expect to see ul &gt; li &gt; p instead of ul &gt; li.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c195c0-99f6-64f5-66a3-4e69109dc8ee
* Version Independent ID: 24368808-4b90-f75a-e887-eb72

[2019-11-05 18:30] Thraka commented on #15143
Sending email to @richlander

[2019-11-05 18:59] kouvel commented on #15143
I have put up a PR to clarify the doc: https://github.com/dotnet/docs/pull/15708

Quick JIT produces lower-quality code more quickly, and is enabled by default in .NET Core 3.0 for methods that don't contain loops. It's typically used during startup when the method also does not have R2R code available and has to be jitted, these are typically generics over value types, for example `List<Foo>` whe

[2019-11-05 19:27] twburger opened #15709 "NumberGuessWorkflowActivities section in step 17 is Incorrect"
17. Drag a ReadInt activity from the NumberGuessWorkflowActivities section of the Toolbox and drop it in the Sequence activity so that it follows the WriteLine activity.

It is the "Custom Activities" section when using Visual Studio 2012.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8a93236-b0ab-b367-b086-deadf52a7

[2019-11-05 19:31] #15683 closed

[2019-11-05 19:49] Youssef1313 commented on #15709
I've followed the instructions in the article and it seems the following statement is valid:

![image](https://user-images.githubusercontent.com/31348972/68240675-02887800-0016-11ea-9c4a-b9f5c92d0f38.png)

[2019-11-05 19:59] twburger commented on #15709
Must be the older VS 2012 I'm using

[2019-11-05 20:36] gewarren commented on #15611
Some ideas, based on verbatims I saw:

- add a link to the devenv commands - https://docs.microsoft.com/en-us/visualstudio/ide/reference/devenv-command-line-switches?view=vs-2019
- add a link to the msbuild reference - https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference?view=vs-2019
- add a link to vstest.console.exe reference - https://docs.microsoft.com/en-us/vis

[2019-11-05 20:44] rainersigwald commented on #15507
This looks pretty good for the moment.

[2019-11-05 20:44] #15507 closed

[2019-11-05 21:05] perlmaster opened #15710 "need more information on creating namespaces"
You need to specify in much more detail how to go about creating a C# source code file with my own personal namespace, how to compile it, and finally how to use this compiled namespace file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8208c493-a641-6d18-dcc7-2d6263e2c3d2
* Version Independent ID: 39fad50f-71ea-8e4f-e

[2019-11-05 21:19] deap82 commented on #10633
@gewarren Where can I find the updated docs? Will that also solve my concern in comment from March 5th; https://github.com/dotnet/docs/issues/10633#issuecomment-469544447 ?

[2019-11-05 21:28] natke commented on #12078
Closing this, as this article no longer contains this content.

[2019-11-05 21:28] #12078 closed

[2019-11-05 21:41] perlmaster opened #15712 "need help with compiling and using a C# namespace file"
I am new to C# and I just developed a small CGI program&gt; I would like to create ore CGI programs and in order to keep down the amount of duplicated code I thought I would create a C# namespace file with code that could be used by all of my CGI programs. How do I compile a file without a "Main()" on my Windows 10 system?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-05 21:44] gewarren commented on #10633
Sorry for the confusion; by "should be done" I meant "should happen". That is, it hasn't happened yet...

[2019-11-05 21:53] gewarren commented on #10633
Closing this issue since it's being tracked in the Visual Studio docs repo now. @deap82 You might want to subscribe to notifications on that issue.

![image](https://user-images.githubusercontent.com/24882762/68249424-a6046900-ffd3-11e9-80dc-5f8567f6724c.png)

[2019-11-05 21:53] #10633 closed

[2019-11-05 22:11] richlander commented on #15143
Hi! Great question!

The short story is this:

- tiered compilation has two tiers, tier 0 and tier 1.
- tier 0 is fast for startup but has slower throughout. Tier 1 is the opposite.
- with tiered compilation enabled (the default in 3.0), the runtime prefers tier 0 code at startup and then converts high value code to tier 1 later for faster throughout. That is the whole feature in a nutshell.
- tie

[2019-11-05 22:30] mvelosop commented on #15396
Hi @Beachj, thanks for your feedback.

It's not actually shown in that article but it's on the [eShopOnContainers code](https://github.com/dotnet-architecture/eShopOnContainers).

However, since it's not easy to see that in eShopOnContainers, I set up a small console app to showcase the correct way to use it, with as less clutter as possible.

You can see the app in this repo: <https://github.com/

[2019-11-05 23:02] #15392 closed

[2019-11-06 01:25] perlmaster opened #15715 "need more info"
how do we solve this error ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 672e69a1-80bb-87cd-b3b8-bf104d8aa89e
* Version Independent ID: 1c66477a-2a97-4eff-1cd8-937f4e7880a0
* Content: [Compiler Error CS0120](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0120)
* Content Source:

[2019-11-06 01:51] #7040 closed

[2019-11-06 03:32] RetsamSoft opened #15716 "When publish creates Identity folder in wwwroot"
Hello, sorry for my bad English, when I publish my project I create a folder called "Identity" in the wwwroot folder.
I use my own layout in /Areas/Identity/Pages/_ViewStart.cshtml

[code]

I don't want the "Identity" folder to be created automatically at wwwroot, thx.

- .NET Core 3.0

[2019-11-06 03:58] kouvel commented on #15143
Just to clarify, Quick JIT was not enabled for loops for two main reasons:

[2019-11-06 04:02] #14444 closed

[2019-11-06 04:02] #14445 closed

[2019-11-06 04:06] kouvel commented on #15143
We didn't see any apps behave poorly due to enabling Quick JIT for loops. Most of what we saw was issues in benchmarks. There are more fundamental issues there though, and the choice made I believe was the right one.

[2019-11-06 07:00] pkulikov commented on #10726
Guiding principles of the plan:

- Revise and move the reference pages about the value types to the `language-reference/builtin-types` folder.
- Revise and move the related code samples to the `/csharp/language-reference/builtin-types/` folder of the samples repo.
- Merge the programming guide articles into the reference articles.

The following plan wouldn't fix this issue completely, but rather

[2019-11-06 09:41] Ramin2c opened #15720 "Wrong protobuf files examples"
All the protobuf files miss ; from their first line, version declaration, i.e.:  syntax = "proto3";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a41d02-3084-c31e-98ed-2bd786c7a301
* Version Independent ID: 31a20696-f326-63c3-77d1-f3cfc0aa589c
* Content: [Protobuf scalar data types - gRPC for WCF Developers](https:/

[2019-11-06 10:06] shvez commented on #15702
@jeffschwMSFT here is an example of what we are doing. Of course,  it is very simplified.  But I hope it will give a clue.

[TypeMarshaling.zip](https://github.com/dotnet/docs/files/3813814/TypeMarshaling.zip)

[2019-11-06 14:11] anielsen opened #15721 "Use of arrows a bit confusing"
In figure 5-8 solid arrows represent compile-time dependencies, while dashed arrows represents a runtime-only dependency. In figure 5-9 this is switched around which is a bit confusing :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebf17cd-9d3e-d928-0767-d06e346868bb
* Version Independent ID: b227c667-82ae-97ef-c1

[2019-11-06 14:32] CleytonGoncalves commented on #12713
It would be great to have this info.

[2019-11-06 15:09] rossnoe opened #15722 "Can this approach work for Image Classification of Pretrained Model"
Great article. I did this and got it to work. I tried to adapt this approach to my Image Classification model - which is named dnn_model.zip. For some reason I keep getting an error when I try to load the model. Below is my controller. Please provide recommendations. Thanks.

        [HttpPost]
        public ActionResult&lt;string&gt; Post([FromBody] ImageData input)
        {
            try

[2019-11-06 15:30] BillWagner commented on #15712
@perlmaster

There are two introduction to C# tutorials that I think will answer all your questions.

First, the [introduction to classes](https://docs.microsoft.com/dotnet/csharp/tutorials/intro-to-csharp/introduction-to-classes) provides some of structure of C# programs.

Next, the .NET Core tutorial on [building a class library](https://docs.microsoft.com/dotnet/core/tutorials/library-with-visu

[2019-11-06 15:31] BillWagner commented on #15715
@perlmaster Is this error related to https://github.com/dotnet/docs/issues/15712#issuecomment-550362582? Let us know.

[2019-11-06 15:32] BillWagner commented on #15710
@perlmaster Is this related to the information https://github.com/dotnet/docs/issues/15712#issuecomment-550362582?  Let us know if that information helped.

[2019-11-06 15:46] Thraka commented on #15716
Hello, I think this question is better suited for the ASP.NET Core team.

[2019-11-06 15:46] Thraka commented on #15716
This issue was moved to aspnet/AspNetCore.Docs#15556

[2019-11-06 15:46] #15716 closed

[2019-11-06 16:02] #15248 closed

[2019-11-06 16:27] perlmaster opened #15725 "not the information I need"
All this information was interesting. However, it does not solve my issue. I need to be able to share code among different executable files. Your tutorial does not even generate a .EXE file. I need the EXE file so that I can use it as a CGI script with my Apache web server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-06 16:31] BillWagner commented on #6196
@Youssef1313 I haven't flushed out the full outline, but a top level overview of what this should cover is [in this gist](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd#tour-of-the-c-language)

Now that C# 8 has shipped, the tour should include an overview of pattern matching, and non-OO techniques.  The first step would be to flush out the outline for all the sections that ha

[2019-11-06 16:36] perlmaster opened #15726 "this does not solve my issue of creating a reusable library"
on my windows 10 laptop the visual studio does not behave like the steps described in this tutorial, therefor this tutorial is of no use to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8df4bc4b-88e1-a629-fcbd-6808b4f7308c
* Version Independent ID: 87d3afdd-d7d5-35d7-0718-63dadc4eab1d
* Content: [Build a C# .NET S

[2019-11-06 16:39] BillWagner commented on #15725
@perlmaster To run a .NET Core executable, use the `dotnet run` command. That information is [here](https://docs.microsoft.com/dotnet/core/tools/dotnet-run?tabs=netcore30). You should be able to invoke that from a CGI script.

[2019-11-06 17:18] Youssef1313 commented on #15726
May you point to the exact step that you're facing problems in it ?

[2019-11-06 17:26] DouadyRabbit opened #15727 "Misspelling on index?"
Index reads: Create "mixin" functionality,  the word "mixin" should be "mix in",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 646641fc-f698-5633-5f6b-2eb5f0c03d7f
* Version Independent ID: c6e0d402-962e-4b6c-b1f4-4e91eb585692
* Content: [Create mixin types using default interface methods](https://docs.microsoft.com/e

[2019-11-06 18:07] rgwood opened #15728 "Switch expression arms should use discards when appropriate"
Some of the switch expression arms in this tutorial specify variable names unnecessarily, and this results in compiler warnings.

For example, this arm names the Bus object `b` even though `b` is never referenced:

[code]

In the latest version of VS Code+OmniSharp, that results in the following compiler warning: "Unnecessary assignment of a value to 'b' (IDE0059)"

Changing the arms to use discar

[2019-11-06 18:47] perlmaster commented on #15726
As I stated, when I run the visual studio IDE, the screens I see do not
look like the ones you describe and they DEFINITELY do not act like them.
Since my screens do not look like the information in your tutorial your
tutorial is not very useful for me.,

On Wed, Nov 6, 2019 at 11:18 AM Youssef Victor <notifications@github.com>
wrote:

--

====================

Barry Kimelman
Winnipeg, MB, Canada

[2019-11-06 18:47] #1080 closed

[2019-11-06 19:52] StingyJack commented on #15726
@perlmaster - This tutorial is for VS 2017 which may have received some cosmetic updates since it's initial version. VS 2019 does unquestionably look very different, but much of the same content is still present.  Can you please take a screenshot of what you see when you reach the first step that looks different to you, and share it here?

[2019-11-06 20:18] perlmaster commented on #15726
Here is the screenshot of the IDE screen

[image: image.png]

On Wed, Nov 6, 2019 at 1:52 PM Andrew Stanton <notifications@github.com>
wrote:

--

====================

Barry Kimelman
Winnipeg, MB, Canada

[2019-11-06 20:41] gewarren opened #15731 "Improve the standard/assembly TOC"
Improve the /standard/assembly table of contents:

- shorten titles
- colocate strong named assemblies topics
- differentiate names between expanders and their linked topics
- delete the "Program an assembly" link farm topic
- grammar pass on unloadability.md

[2019-11-06 21:30] mvelosop commented on #15396
Closing this issue now but feel free to comment, will reopen if needed.

[2019-11-06 21:30] #15396 closed

[2019-11-06 22:12] #15731 closed

[2019-11-06 22:37] StingyJack commented on #15725
@perlmaster - I think you should be looking for a .net core 3.0 console application. Those will produce exe files, if you use .net core v1 or v2 it will produce a dll file that you will need to use `dotnet run` to execute.  If you are running on a windows host, you have more choices (and more vetted documentation). Look up .net framework (any version) console applications, they will always produce

[2019-11-06 23:51] perlmaster commented on #15725
Hello,

I am not sure I fully understand your statement, but I shall look into it.

On Wed, Nov 6, 2019 at 4:37 PM Andrew Stanton <notifications@github.com>
wrote:

--

====================

Barry Kimelman
Winnipeg, MB, Canada

[2019-11-07 01:09] luisquintanilla commented on #15722
Hi @rossnoe

It should work. I believe the issue you're facing is you're using the schema from `ImageData` which if you follow the image classification tutorial is meant for images stored on disk. The model expects image to be a `byte[]` so you can do one of two things. Either create a pipeline that includes the `LoadRawImageBytes` transform or convert the image to `byte[]` and use that as input.

[2019-11-07 01:09] #15722 closed

[2019-11-07 01:26] jnm2 opened #15735 "PackageIconUrl is deprecated and should not be recommended"
https://docs.microsoft.com/en-us/nuget/reference/nuspec#iconurl:

Also, https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-an-icon-image-file is helpful on how to do this properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2b4abb-c382-17ef-f1f3-1413ee27aaa0
* Version Independent ID: 4d4bb4d

[2019-11-07 01:52] elinor-fung commented on #15702
As you pointed out the common types do not work for you, another way to achieve this is through reflection. The general idea in that sample would be:
- Load `BaseApp.dll` in the default ALC
- Load each `ProdApp*.dll` in its own ALC
- Call `BaseApp` methods directly
- Call `ProdApp*` methods through reflection

Something like:
[code]

Using common shared types in a shared assembly is generally the

[2019-11-07 04:01] rossnoe commented on #15722
Thanks very much Luis! I will implement the sample tomorrow. It's great to see the improving capabilities of ML.net.

[2019-11-07 08:13] #15568 closed

[2019-11-07 08:40] shvez commented on #15702
@elinor-fung
well, the main issue with type sharing is static members in BaseApp. It is in the sample but I did not add it usage.
Also from your sample, it is not clear how do you share the `BaseApp` type. As is your code will not work. It will fail in this line `BaseApp.BaseApp app1 = (BaseApp.BaseApp)Activator.CreateInstance(t);` during type casting

[2019-11-07 10:04] user2150 opened #15743 "Double setting of the object to be tracked"
"To establish a weak reference with an object, you create a WeakReference using the instance of the object to be tracked. You then set the Target property to that object and set the original reference to the object to null"

Why both passing the object to the WeakReference constructor and then setting the Target property to the same object?
Thanks

---
#### Document Details

⚠ *Do not edit this se

[2019-11-07 10:45] #13345 closed

[2019-11-07 10:45] #14078 closed

[2019-11-07 12:39] StingyJack commented on #15726
@perlmaster - it does not look like that image made it through. Can you edit the post and paste the image in it again?

[2019-11-07 12:58] perlmaster commented on #15726
All I could find was the URL to my original stackoverflow..com post, so I
have attached an image to this email.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

[2019-11-07 13:42] anturom opened #15744 "Generic types"
I'm generating the XML documentation from a C# project with Visual Studio 2019. I have methods that take generic types as parameters, but they appear in the generated XML file other than described on this page. Namely, I was expecting backticks as suggested above, but my methods appear instead as:

`M:SomeLib.SomeClass.someMethod(System.Collections.Generic.List{System.String},System.String)`

---

[2019-11-07 13:48] StingyJack commented on #15726
@perlmaster - please take a look at this post from the GitHub link at the bottom of the email.

[2019-11-07 13:53] Alexei-B opened #15745 "AddAuthorization Suggested Actions do not Work"
In the section "Authorization: AddAuthorization overload moved to different assembly" it is stated that:

    New behavior
    AddAuthorization methods exist in Microsoft.AspNetCore.Authorization.Policy. AddAuthorizationCore is the new name for the old methods.

And that the recommended action is:

    Either add a reference to Microsoft.AspNetCore.Authorization.Policy or use AddAuthorizationCore

[2019-11-07 14:14] Alexei-B commented on #15745
Actually, I just found this function in the github for this package here: https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authorization/Policy/src/PolicyServiceCollectionExtensions.cs#L47

However, despite the fact that I can see class `PolicyServiceCollectionExtensions`, it does not add the `AddAuthorization` method. Is this code not available in version 2.2.0?

[2019-11-07 14:18] rubbalbhusri opened #15746 "Special nature of string variables!"
Though string variables come under the category of "reference types", they behave more or less the same as "value types".
For example if a class object is "passed by value", we can still change members' values of the class object and that change actually reflects even when the scope of the called method finishes, because a copy of the address gets passed and not the copy of the members' data.
Wher

[2019-11-07 14:26] perlmaster commented on #15726
here is a screenshot of my visual studio IDE running on my windows 10 laptop

![vis-studio-ide](https://user-images.githubusercontent.com/36140641/68397072-378ceb80-0138-11ea-81b5-bff6436627e2.jpg)

[2019-11-07 14:42] Alexei-B commented on #15745
Since the suggested workaround isn't working for me, I'm using the following workaround:

[code]

[2019-11-07 15:43] Youssef1313 commented on #15726
It seems that you didn't create a project yet.

The first step says:

The file menu is there at the top-left corner. From there, you should be able to make a new project.

You can follow the steps until you get stuck. Once you get stuck, please tell us at which step you're stuck and post a screenshot where you stuck.

[2019-11-07 15:57] Youssef1313 commented on #15746
First, let me add the code in a proper formatting:

[code]

Back to your problem, you're expecting the following function to reflect in the main method:

[code]

what happens here is that you're NOT modifying the string, you're creating a NEW one. That's the reason the change doesn't get reflected in the main.

[2019-11-07 15:57] perlmaster commented on #15726
On my visual studio IDE after I selected file -> new project

my choices for the new project were "Windows" , "C#" and "Console"

as you can see the "Next" button is still greyed out !!
![vis-studio-ide-new-project](https://user-images.githubusercontent.com/36140641/68405015-036bf780-0145-11ea-803d-04ef74db5949.jpg)

[2019-11-07 16:00] Youssef1313 commented on #15746
You can find a good explanation in more details than mine in this [article](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/passing-reference-type-parameters)

[2019-11-07 16:00] rainersigwald commented on #14986
@selalerer you're right that solution-configuration manipulation isn't supported in `dotnet sln`. There's a feature request for that: dotnet/cli#11679.

[2019-11-07 16:15] #15143 closed

[2019-11-07 16:32] kodybrown opened #15747 "questions about `converting-a-local-time` section..."
When I run the last code example from the `converting-a-local-time` section, I get a different result than what is commented in the code.. And, I cannot figure out the difference between the two DateTimeOffset assignments.. Seriously, what am I missing?

[code]

Comment in example:

[code]

Results when I run the example code:

[code]

[code]

I just want to make sure it is a typo, or figure out w

[2019-11-07 16:39] Youssef1313 commented on #15726
I'm not sure, but did you try to skip creating the solution and create the class library project directly ? it *might* work.

[2019-11-07 16:42] Thraka commented on #15735
@jnm2 Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-11-07 16:48] perlmaster commented on #15726
I am still new to all of this. What do you mean by "skip creating the solution" ? What is a solution ?

What do you mean by "create the class library project directly" ?

[2019-11-07 16:55] Thraka commented on #15726
@perlmaster Hi there, sorry for your troubles. I'm writing a reply but it's taking some time, I just wanted to let you know I'm here doing that :)

[2019-11-07 17:12] OzBob opened #15748 "Protobuf gen from WSDL"
Is there a visual studio 'add Web service reference' that can take a WSDL definition and generate a protobuf and gRPC client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516a948a-db6d-f43f-e75c-54ab2166cf9e
* Version Independent ID: b67707f2-2a86-57de-1092-fb134fec1e40
* Content: [Interface Definition Language - gRP

[2019-11-07 17:20] Thraka commented on #15745
.net standard 2.1 is only supported on core 3.0 so if you build for that target, your library will not work on 2.2

[2019-11-07 17:24] Thraka commented on #15745
You can create a standard 2.0 library and it will work on 3.0 and 2.2, and then I believe you would only need to reference one of the two libraries with the method in it.

[2019-11-07 17:39] Thraka commented on #15745
I opened the library and I can confirm I don't see that method there.

[2019-11-07 17:42] Thraka commented on #15745
Related to #14525

@ajaybhargavb can you comment? I only see `AddAuthorizationPolicyEvaluator` in that library.

[2019-11-07 17:56] cbrit opened #15752 "Confusing to refer users to *Integration* testing for ASP .NET Core when this is a *unit* test page"
The title of this page is "*Unit* testing C# in .NET Core...", but near the top of the page there is a line that reads:

"This article is about testing a .NET Core project. If you're testing an ASP.NET Core project, see [Integration tests in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests#test-app-prerequisites)."

If a user is on this page they are probably looki

[2019-11-07 18:06] ajaybhargavb commented on #15745
@HaoK can you help?

[2019-11-07 18:11] HaoK commented on #15745
So its a breaking change in 3.0, AddAuthorization was moved into the Policy dll.

For 2.2, its still in the base dll, you will need to have a different binary for 2.2 as compared to 3.0

[2019-11-07 18:19] Thraka commented on #13585
This will be fixed as we address #14824

[2019-11-07 18:38] #6511 closed

[2019-11-07 18:54] gewarren commented on #15743
This does seem like a bug in the documentation. Thanks for letting us know!

Code from the [example](https://docs.microsoft.com/en-us/dotnet/api/system.weakreference?view=netframework-4.8#examples) doesn't explicitly set Target:

for (int i = 0; i < count; i++) {
            _cache.Add(i, new WeakReference(new Data(i), false));
        }

[2019-11-07 19:21] Thraka commented on #15465
I'm going to close this since your question seems to be answered on how to enable 7.3. Regarding defaults though, I'm unsure who you should raise this to. https://github.com/aspnet/AspNetWebStack/ perhaps?

[2019-11-07 19:21] #15465 closed

[2019-11-07 19:23] Thraka commented on #13059
Thank you for the question. The point of the article is not to display the image, although it does show that, the point is to learn how to use the types related to decoding and encoding an image in PNG format.

[2019-11-07 19:23] #13059 closed

[2019-11-07 19:28] Thraka commented on #13047
Thank you for the suggestion; we're not currently updating this documentation with screenshots of types.

[2019-11-07 19:28] #13047 closed

[2019-11-07 19:36] gewarren commented on #15747
I agree that the example is a bit confusing and lacks clarity, but I believe that the author intended to show the automatic adjustment for daylight savings time by using one date in summer (June) and one date in winter (November) - if you're in the northern hemisphere. It's possible that your local time zone doesn't use daylight savings time, in which case there wouldn't really be a difference bet

[2019-11-07 19:42] nojaf opened #15755 "Formatting arguments of function declarations and function calls"
Hello, regarding https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#surround-function-arguments-with-white-space

Could some additional samples be provided in this area?
What would the recommended way be to format a single unit argument in a function signature.

F.ex
[code]

or

[code]

And how about calling that function?
Should it be

[code]

or

[code]

And what answer would

[2019-11-07 19:54] StingyJack commented on #15726
@perlmaster - your screenshots are of VS 2019. This means that they will not match up with the screenshots from a VS 2017 guide, but they should be close enough for you to figure out.

That being said, there are better places than a very specific documentation topic page to get the general and common assistance that you need. I have used stackoverflow.com, MSDN forums, and codeproject.com (long ag

[2019-11-07 20:13] perlmaster commented on #15726
I am so new to all of this I do not know what an assembly project is all about. I just need to be able to "share" a library/module of code among multiple projects/programs. On the Windows platform I thought that would mean to somehow build a DLL file and then use a "/reference" option on the "csc" command

[2019-11-07 20:19] Thraka commented on #12954
Hello. I'm trying to close the loop on these older issues. I'm having a hard time understanding what specific part of the documentation you're referring to and what your suggestion is to fix it. Can you help me understand a bit more?

[2019-11-07 20:21] Thraka commented on #12954
@HongGit  Perhaps you or your team can handle this?

[2019-11-07 20:23] #12880 closed

[2019-11-07 20:24] Thraka commented on #12922
Sent email

[2019-11-07 20:26] Thraka commented on #12762
@AskYous I believe you need to open the context menu on the test and select Debug.

This is something we could note in this article though.

[2019-11-07 20:28] Thraka commented on #5926
@jwwicks are you still interested in doing this work?

[2019-11-07 20:29] Thraka commented on #15720
@markrendle can you look at this issue?

[2019-11-07 20:35] jwwicks commented on #5926
Yep, are we ok moving forward? Just catching up I think I missed a
notification.

Jw

On Thu, Nov 7, 2019 at 12:28 PM Andy De George <notifications@github.com>
wrote:

--
John Wicks
Web Application Developer
(916) 538-1857

Without the wind, the grass does not move. Without software, hardware is
useless.

[2019-11-07 20:37] jwwicks commented on #5926
@Thraka I'll get started on it using the Alert suggestion and make it more generic. I'll keep you updated.

[2019-11-07 20:52] elinor-fung commented on #15702
Ah, I missed that the statics that need to be isolated are actually in `BaseApp`. In that case, you wouldn't want `BaseApp` to be shared either.

In the previously posted sample, `BaseApp` is shared since - as you said - the base implementation of `AssemblyLoadContext.Load` returns null, such loading falls back to the default context. The `ProdApp*` assembly is in its own context as it is explicit

[2019-11-07 20:52] Thraka commented on #13515
@benhxy Hi. I'm not seeing this as a requirement. In the other article it demonstrates this: https://docs.microsoft.com/en-us/dotnet/framework/mef/attributed-programming-model-overview-mef

[2019-11-07 20:53] elinor-fung commented on #12974
This experience was improved with #1095.

[2019-11-07 21:02] #13515 closed

[2019-11-07 21:04] #12974 closed

[2019-11-07 21:29] PriyaPurkayastha commented on #13029
I agree with Ron's assessment that this is not a breaking change between .NET 4.6.1 to 4.7.1 based on this resolution provided for GitHub issue dotnet/corefx#32757 mentioned in this issue at the beginning:
The problem here I believe is with the VS tooling when you add the nuget package reference. It shouldn't be adding that extra binding redirect. If you instead migrate your project to use Package

[2019-11-07 21:32] Thraka commented on #13253
@MichMP Thank you for filing this issue. This is indeed the case. I'll put this on the backlog.

[2019-11-07 21:33] Thraka commented on #13495
@tudort-iquest Hello. Sorry for the delay in getting to this issue. Really this article needs to be rewritten for HttpClient. I'm closing this as a duplicate. Thanks!

[2019-11-07 21:33] #13495 closed

[2019-11-07 21:33] Thraka commented on #13495
Duplicate of #13253

[2019-11-07 21:35] Thraka commented on #13248
Thank you for filing this issue. I've added it to our backlog

[2019-11-07 21:36] Thraka commented on #12502
Thank you, I'll update this.

[2019-11-07 22:13] MarqueIV commented on #12502
Glad to hear that. I’m just looking out for other developers. This was something that derailed me literally for a day or two trying to figure out why something wasn’t working when according to the documentation it should have. It wasn’t until digging around through the source code that we figured out the documentation was incorrect. There’s even a question up on stack overflow about this. That’s w

[2019-11-07 22:18] Beachj commented on #15396
Thanks for the update - I was missing the `modelBuilder.HasSequence(...)` piece in the entity configuration. My app was recently migrated to 3.0 and I wanted to avoid using the deprecated ` .ForSqlServerUseSequenceHiLo` call that [eshop uses](https://github.com/dotnet-architecture/eShopOnContainers/blob/dotnet3-migration/dev-dotnet3/src/Services/Ordering/Ordering.Infrastructure/EntityConfiguration

[2019-11-07 22:20] cashgarman opened #15757 "Thanks"
Fantastic summary of an otherwise complex topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f5f4b7-b600-d163-ccef-9cf4b0693419
* Version Independent ID: 6e986136-5b77-4abc-da4c-9366c10826d5
* Content: [How to: Create a Class Using CodeDOM](https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-codedom/h

[2019-11-07 22:21] #15757 closed

[2019-11-07 22:35] #13585 closed

[2019-11-07 22:40] Thraka commented on #15757
You're welcome!

[2019-11-07 22:47] Thraka commented on #12502
It's awesome thanks for pursuing it!

[2019-11-07 23:04] HongGit commented on #12954
@mconnew?

[2019-11-07 23:09] natke commented on #15215
Thank you for the suggestion @revolz. As this is a reference document, we would not generally provide a dataset. However we will look into whether we need more hands-on guidance.

[2019-11-07 23:09] #15215 closed

[2019-11-07 23:09] DickBaker opened #15758 "update to use conditional invoke"
in code example
if (SampleEvent != null)
            SampleEvent(this, new SampleEventArgs("Hello"));
simplify to
            SampleEvent?.Invoke(this, new SampleEventArgs("Hello"));
but also remarks should mention multi-task considerations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f782a9c5-2dc8-d8d1-b17d-246ab852

[2019-11-07 23:24] PeriHartman opened #15759 "foreach on large datasets"
The implication from the above description is that foreach first invokes IEnumerable to build an ordered array. What if your dataset has 10,000 elements ? That would be a horribly inefficient way to implement an iterator. Surely there's a better way. (P.S. I'm new to C#)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2019-11-07 23:34] danmosemsft commented on #15703
This is correct. We did put a note in the API doc [here](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.useshellexecute?view=netcore-3.0#property-value) and it should be in the list of breaks between .NET Framework and .NET Core.

Here's the template:

## Change in default value of UseShellExecute

`UseShellExecute` on the `ProcessStartInfo` class has a default val

[2019-11-07 23:37] natke commented on #12080
Resolved by #15714

[2019-11-07 23:38] #12080 closed

[2019-11-07 23:50] krwq commented on #15704
I can't tell at the moment if this was intentional change or not. Yes, I think we should consider adding back this behavior. @carlossanlop can we move this to corefx?

[2019-11-08 00:55] AskYous commented on #12762
Actually I found out the issue. It's that the sdk does not bring all the results. It only brings, perhaps, page 1 of the results. When I would edit the prompts of a qna set, it would push that qna set to the end of the list, and the SDK only returns page 1 of the list. I have also received the same results the [api console](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136

[2019-11-08 01:51] gewarren commented on #11146
Related to #13425

[2019-11-08 02:48] jtbrower opened #15762 "Great Job"
The documentation and product is great.  I was able to easily replace Newtonsoft without any struggle trying to determine how to handle enums as strings because you documented it so well!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2a-48d1-0671-a07

[2019-11-08 03:00] #12502 closed

[2019-11-08 04:43] canol commented on #14917
One benefit I can think of is that .Net Core has a higher chance of supporting ARM64 Windows compared to .Net Framework, so a WPF app might natively support Windows on ARM in the future if it is ported to .Net Core. But I cannot see an ARM64 Windows package to download currently, so I don't know whether it is in their roadmap to support ARM64 Windows in the future.

[2019-11-08 04:58] ajhmain opened #15763 "Interpreted vs. compiled regular expressions"
The 2 paragraphs under this heading are extremely unclear and I would suggest plain wrong.  Compare these parapgraphs with what is written at: https://docs.microsoft.com/en-us/dotnet/standard/base-types/compilation-and-reuse-in-regular-expressions

The first paragraph here clearly states non-compiled regex are converted to MSIL before executing.  According to the linked page this is plain wrong, n

[2019-11-08 05:01] ajhmain commented on #15763
The second paragraph is not actually correct either  For compiled expressions is says intemediary codes are created, once again according to the linked page, that is not correct, MSIL is generated.

[2019-11-08 06:24] rubbalbhusri commented on #15746
Ok, I got your point, this refers to the immutable nature of strings, which is explained at the following link:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/reference-types

Strings are immutable--the contents of a string object cannot be changed after the object is created, although the syntax makes it appear as if you can do this. For example, when you write th

[2019-11-08 07:43] cremor opened #15765 "Mention the required target framework for C# 8.0"
I've read in some GitHub issue comment (that I sadly can't find any more) that C# 8.0 is only officially supported in .NET Standard 2.1 and .NET Core 3.0 because of the new framework types it requires for some of its features. Also, older target frameworks don't use C# 8.0 by default (see [C# language versioning](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-

[2019-11-08 07:44] Youssef1313 commented on #15746
You got it right.

For your question - If I understood it correctly -, you can do that in an unsafe context (You should compile with `-unsafe` flag). I wrote the following example to show you the details you want, it's pretty long but I hope it will give you the information you need:

[code]

[2019-11-08 07:48] cremor opened #15766 "Document 'await foreach'"
Seems like `await foreach` is not yet documented. I'm not sure where the best place for it would be, but it should be documented _somewhere_.

Possible options that I see:
- [await operator (C# reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/await)
- [foreach, in (C# reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/forea

[2019-11-08 07:56] smoothdeveloper commented on #15755
@nojaf, I authored the section you are refering to.

I personally have those preferences:

* method calls have their parens touching the member name, the same way as indexed properties and due to the fact they aren't succeptible to partial application, this also make the OO code closer to C# defaults, exception is single argument method call where the parens are droped but a space is then required

[2019-11-08 09:49] mcp111 commented on #6510
By default, target runtime is x86. So if I need to run it on a 64 bit system, do I have to change it to x64?
I have published and when I try to run, it keeps giving HTTP Error 502.5 Process Failure error

[2019-11-08 10:15] Alexei-B commented on #15745
Yes. My use case is a library that compiles to both .net standard 2.0 and 2.1 (to use both core SDK 2.2 and 3.0). The conditionally compiled code in my sample that works around the problem only compiles in .net standard 2.1, because that's the only target framework that suffers this problem (it wouldn't compile in net standard 2.0 since AddAuthorizationCore doesn't exist in 2.0).

I don't see AddA

[2019-11-08 11:22] deiruch opened #15769 "Please document: How does the using statement work in combination with closures (e.g. lazy evaluated LINQ)?"
It's not obvious what happens when the using-variable is captured by a closure. For example

using(var a = ...)
  return collection.Where(o =&gt; a.Contains(o));

IMHO, the documentation should discuss the result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent

[2019-11-08 12:04] mvelosop commented on #15396
Glad this could help you!

Yep `UseHiLo` is the new API, will update that in the upcoming .NET Core 3 migration.

Cheers.

[2019-11-08 12:34] mvelosop commented on #15181
Yep, will redo the table in markdown.

This is a good candidate for the complex image tag for alt-text!

[2019-11-08 12:43] mvelosop commented on #15070
Hi @Jeej, thanks for the heads up!

You're right, that's a bug, will remove.

or... you could do it yourself, if you wish, by editing the page and creating a PR! 😉

[2019-11-08 13:12] mvelosop commented on #13770
Thanks for your feedback @mikehadlow, @dlidstrom.

Will include references to production-ready offerings and highlight, once more, this is a learning resource.

This is certainly a complex topic, and the article is mainly educational. It also clearly states that this is for development or testing in the title and the very first paragraph... however it's also quite probable that the message is prob

[2019-11-08 13:29] mvelosop commented on #12344
Will change the link to the brand-new [Cloud Native](https://docs.microsoft.com/dotnet/architecture/cloud-native/definition) guide!

[2019-11-08 13:59] shvez commented on #15702
thank you for the detailed answer. although nothing is clear about marshaling, I managed to extract assembly with shared types and it seems started to work

[2019-11-08 14:36] vitek-karas commented on #15702
.NET Core doesn't have anything like marshaling between load contexts. Typically communication between load contexts is done through shared types. This has the advantage that the calls are very fast - in fact there's no penalty calling between load contexts (because load contexts are only considered when loading assemblies, one loaded - everything is "equal").

The disadvantage is that the communi

[2019-11-08 14:45] kevinoid opened #15770 "Clarify Regex alternation matching order"
After reading [Alternation Constructs in Regular Expressions](https://docs.microsoft.com/en-us/dotnet/standard/base-types/alternation-constructs-in-regular-expressions), it is not clear to me whether the .NET Framework regular expression engine guarantees that the earliest first alternation or longest alternation is matched, or if no guarantees are made.

[Details of Regular Expression Behavior](h

[2019-11-08 14:55] shvez commented on #15702
@vitek-karas thank you

So, it is probably better to remove marshaling from that doc page.
Also I have to say that in my case I'm not able to completely rewrite code to use shared interfaces because we currently forced to support both netframework and netcore versions. And that creates a lot of difficulties especially with the support of old-style configuration

[2019-11-08 14:57] HaoK commented on #15745
As the title of the documentation is breaking change document from 2.2 to 3.0, this change doesn't happen until 3.0

[2019-11-08 15:26] tdykstra commented on #15762
@jtbrower Thanks for the feedback, and please let us know if you run into any scenarios that aren't documented yet!

[2019-11-08 15:26] #15762 closed

[2019-11-08 15:35] sheridanworkshare commented on #7693
<Setter Property="ToolTip"
                    Value="{Binding RelativeSource={RelativeSource Self}, Path=(Validation.Errors)[0].ErrorContent}"/>

This will create an error in the Output window when it attempts to access the first item of the Validation.Errors collection if it is empty. A far superior solution would be to use this code:

<Setter Property="ToolTip"
    Value="{Binding (Validation.E

[2019-11-08 15:50] Thraka commented on #15726
Yes, building a library (dll) will let you reuse that code in another app and/or library. Assembly is a term meaning dll or executable, there isn't much different between the two except that the executable is known by windows as a double-click-to-run type of file. When you compile your project you get an output assembly.

[2019-11-08 15:54] Thraka commented on #15770
@ViktorHofer @maryamariyan Would you be able to answer this question?

[2019-11-08 16:41] Thraka commented on #15745
@HaoK I believe this issue is reporting that the policy library downloaded from nuget doesn't seem to have the method the documentation says it should have. I grabbed it and threw it in a decompiler and I only see `AddAuthorizationPolicyEvaluator` in that library, I don't see `AddAuthorization`.

[2019-11-08 16:42] Thraka commented on #15745
@Alexei-B I'm curious as to why you would want your library compiling both for 2.0 and 2.1 instead of just 2.0?

[2019-11-08 16:48] Thraka commented on #6510
@mcp111

The runtime is not x86 by default. I'm unsure what error you're getting nor what your project is all about :) I suggest you open a new issue. However, please keep in mind that this repo is about the documentation and sometimes it's better to ask for help stackoverflow or a developer community.

[2019-11-08 16:48] #6510 closed

[2019-11-08 16:52] sdmaclea commented on #15702
Marshalling seems to be a poor word choice on my part. We probably need a polished summary this discussion in the doc.

[2019-11-08 17:00] Thraka commented on #15763
After reading it, and having a headache 😉, I agree. It's too verbose and confusing. I'll add this to our backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repos

[2019-11-08 17:20] Thraka commented on #14917
@canol I think that may be a better question for https://github.com/dotnet/coreclr 😄 Anyway, I'm going to close this issue since the original author hasn't responded, I'm assuming the question is answered.

[2019-11-08 17:20] #14917 closed

[2019-11-08 17:29] HaoK commented on #15745
Oh so the issue is really the 3.0 package isn't showing up on nuget

[2019-11-08 18:10] Tratcher commented on #15745
In 3.0 Microsoft.AspNetCore.Authorization.Policy is part of the shared framework. See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference for referencing shared framework APIs from libraries.

[2019-11-08 18:19] Thraka commented on #15745
Perhaps @Alexei-B isn't referencing the `Microsoft.NET.Sdk.Web` SDK and that is why it is missing?

[2019-11-08 18:21] Tratcher commented on #15745
@Thraka right, library developers don't reference the web SDK. That's what the framework reference is for.

[2019-11-08 18:24] Thraka commented on #15728
Thank you for suggesting this. Tagging @BillWagner in case he wants to further categorize this.

If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article fr

[2019-11-08 18:32] Thraka commented on #15744
the backticks represent a type that defines a generic parameter. In this case your method is accepting a type that defines a generic parameter, but you've filled in that parameter with a type. You would see the backticks on when you declare something like:

[code]

This would result in something like:

`M:SomeLib.SomeClass.someMethod``0(System.String,``1)`

Hope this answers your question.

[2019-11-08 18:32] #15744 closed

[2019-11-08 18:38] Thraka commented on #15752
This is true. The ASP.NET docset shouldn't be pulling this article into their TOC and instead should have their own article. /cc @Rick-Anderson

[2019-11-08 18:43] Thraka commented on #15758
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the code. The code is contained in this file:

https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsModifiers/CS/csrefKeywordsModifiers.cs

Thanks again!

[2019-11-08 19:04] Thraka commented on #15759
@PeriHartman Hello. I'm unsure which description you are specifically referring to, but it is possible it **could** be inefficient. The `yield return` solves this problem. For example:

[code]

This code gives you the enumerator used by the foreach. That dataset though isn't fully populated into the enumerator. Each time the foreach loops, the next `yield` statement is processed, returning the val

[2019-11-08 19:04] #15759 closed

[2019-11-08 20:22] vashisthaa commented on #15376
Thank you for the confirmation! I would definitely try with .NET Core 3.0 and let you know if I face any issues.

[2019-11-08 21:17] ardalis commented on #15752
To be fair, there's not much to unit test in an ASP.NET Core app that's specific to ASP.NET Core (not the app's business logic) and which isn't better-tested using integration tests outlined in the referenced doc article.

[2019-11-08 21:29] #15660 closed

[2019-11-08 21:29] Thraka commented on #15745
Oh duh, I missed that part ahahaha

[2019-11-08 21:44] Tratcher commented on #15745
Suggested text:
The core AddAuthorization methods that used to reside in Microsoft.AspNetCore.Authorization were renamed to AddAuthorizationCore. The old AddAuthorization methods still exist, but are in the Microsoft.AspNetCore.Authorization.Policy assembly instead. Apps using both methods should see no impact. Note that Microsoft.AspNetCore.Authorization.Policy now ships in the shared framework r

[2019-11-08 22:07] Thraka commented on #15765
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-11-08 23:00] natke opened #15775 "Update ML.NET AutoML docs with the recommender task"
The recommender task is now supported in the AutoML API: https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.automl.recommendationexperiment?view=ml-dotnet-preview

These docs need to be updated:
- https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/how-to-use-the-automl-api
- https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-cli

[2019-11-08 23:30] vashisthaa commented on #15376
Hi @davmason , I see in another post/issue the attach support is resolved for .NET Core. However we are facing technical challenge. Can you please guide us on the following?
=========================
ReJIT after attach reports a success status but does not trigger a new JIT event for any methods. The new ReJIT API has the same issue.
ngen modules are already loaded which prevents some native metho

[2019-11-09 00:06] davmason commented on #15376
Hi @vashisthaa, I created https://github.com/dotnet/coreclr/issues/27781 to talk about this, the docs repository is not the right place for this conversation but I am happy to help

[2019-11-09 00:21] #15376 closed

[2019-11-09 04:01] #11146 closed

[2019-11-09 04:35] chanmmn opened #15778 "Showing how the same code will previous version looks like and compare why the new syntax helps"
For example,
In the page you have code snippet like
public readonly override string ToString() =&gt; $”({X}, {Y}) is {Distance} from the origin”;
The document should show what is the previous pattern looks like. Will this easier to read than
public override string ToString(){}
Compare and contrast which is easier to read or it provides additional feature.

---
#### Document Details

⚠ *Do not edit

[2019-11-09 09:43] rubbalbhusri commented on #15746
@Youssef1313: Thank you much for explaining in such great detail. Now, this topic has gone in more depths, and this conversation will provide more insights to all the readers like me.

[2019-11-09 10:32] Youssef1313 commented on #15746
@rubbalbhusri, You're welcome :)

[2019-11-09 11:23] PhilT opened #15779 "Move F# Core Library Reference to docs.microsoft.com and update to 4.7"
**Help us make content visible**

I Googled for `NativePtr` which sends you to msdn. However, this is outdated and didn't contain any references to newer functions such as `toVoidPtr`. The GitHub repo for it says it's being migrated to docs.microsoft.com but I've seen no evidence of this.

References to API docs on docs.microsoft.com all point to msdn with a warning saying the doc.microsoft.com re

[2019-11-09 15:16] S7uX opened #15780 "Question"
Is a array of blittable structs blittable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea501d3-d963-c5dc-342d-ee82c92d1850
* Version Independent ID: e58f3d16-8083-0efe-0057-e21dbebb262f
* Content: [Native interoperability best practices - .NET](https://docs.microsoft.com/en-us/dotnet/standard/native-interop/best-pr

[2019-11-09 19:31] dlwiii opened #15782 "need a link to download please"
need a link to download please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf0043f-baf5-d2ab-84a5-718f900c0e25
* Version Independent ID: c3fabde5-775f-63f9-6b22-425435e096d8
* Content: [.NET API analyzer](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer#feedback)
* Content Source: [docs/stand

[2019-11-09 20:26] KoditkarVedant opened #15783 "Code Smell link is broken"
Link given for "Code Smell" is broken - https://deviq.com/code-smells/  - It displays the below error.

![image](https://user-images.githubusercontent.com/18693839/68534630-78654a00-035c-11ea-9904-7cdce05bf836.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent

[2019-11-10 00:47] mairaw opened #15784 "Replace links that go to the MSDN magazine"
Here is the list of articles that link directly to MSDN magazine articles:
https://github.com/dotnet/docs/search?q=%22https%3A%2F%2Fmsdn.microsoft.com%2Fmagazine%22&unscoped_q=%22https%3A%2F%2Fmsdn.microsoft.com%2Fmagazine%22

MSDN magazine articles have been archived.

[2019-11-10 00:50] mairaw commented on #15782
As stated in the article, you need to reference the [Microsoft.DotNet.Analyzers.Compatibility](https://www.nuget.org/packages/Microsoft.DotNet.Analyzers.Compatibility/) package in your project to able to use it. I'll change the instructions a bit to make this a bit more clear.

[2019-11-10 02:12] dlwiii commented on #15782
Thank you.

[2019-11-10 03:48] mairaw commented on #15783
@nishanil @mvelosop it seems that all deviq.com links that you use in the e-books are not working. Not sure if this is a temporary issue or not.

[2019-11-10 06:10] micheleissa opened #15786 "libgdiplus doesn't exist"
when trying to follow instructions regarding the installation of libgdiplus brew gives the following error message:
[code]

So apparently the correct lib is mono-libgdiplus. I think the docs should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86dd5e9-34ef-44b5-242a-709f33bf0e1f
* Version Independent ID:

[2019-11-10 06:55] knocte opened #15787 "first async snippet doesn't compile"
The first async C# snippet is an async Main method:
[code]

If you compile this in a C# console project, you actually get this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous progra

[2019-11-10 07:08] knocte commented on #15787
My bad, I was missing to copy+paste the static keyword.

[2019-11-10 07:08] #15787 closed

[2019-11-10 13:36] StingyJack commented on #15726
@perlmaster are you going to be creating the programs that use this shared code, or will someone else be doing that?

[2019-11-10 15:46] perlmaster commented on #15726
I will be creating all of the code

[2019-11-10 19:42] mmisztal1980 opened #15793 "Script fails with "Syntax error: redirection unexpected""
While trying to use the script in a ubuntu 18.04 based Azure DevOps build agent, the script fails with "Syntax error: redirection" - it was working for me up until a recently (a month ago?) and now started to fail.

[code]

Attempting to execute this using bash results in:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-10 20:43] mmisztal1980 commented on #15793
ok, this is not an issue, the docs indicate that the `curl` instruction should follow redirects. my bad.

[2019-11-10 20:43] #15793 closed

[2019-11-10 21:45] StingyJack commented on #15726
Then start simple with making a single console application (exe) do one of the things you need. When you need to create a second exe, if you find yourself starting to copy+paste code from the first exe, that's probably the time to consider properly sharing code by using a dll (or shared project, or linked code file, or branching).

[2019-11-11 08:52] Alexei-B commented on #15745
My problem is this is documentation that recommends a fix that doesn't exist yet:
![image](https://user-images.githubusercontent.com/876187/68573276-53a5cb00-045f-11ea-9eed-fe5bd5e3120b.png)

Documentation shouldn't recommend suggested workarounds that don't work.

The library adds authorization behavior and policy common to the platform we are developing. Some of our developers will be working wi

[2019-11-11 08:57] Alexei-B commented on #15745
To be more specific, what I'd like to see in the documentation is a notice that the ideal fix of using the policy library isn't available yet, so that other people don't also lose a few hours going down the same rabbit hole I did. It's extremely misleading and quite disheartening.

[2019-11-11 09:12] Alexei-B commented on #15745
While I'm ranting about this, the reason for the change comes off as a bit strange:

This is ambiguous wording, but aside from that, did we really need a breaking change to go from AddAuthorization to AddAuthorizationCore? Sure, maybe AddAuthorization isn't the best possible name. But then how is AddAuthorizationCore more preferable? Something like AddAnAuthorizer isn't really in the naming conven

[2019-11-11 13:59] Hefaistos68 opened #15802 "Should mention that Partial can be used"
The Partial key word can be used on Module's and thus help on splitting code up in various files, doesnt become clear from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2535a80-f87c-4b24-53ab-de64317a4cb9
* Version Independent ID: 4a90fe57-f3bb-78ac-bbe9-7a25ae0e2985
* Content: [Module Statement (Visual Ba

[2019-11-11 14:00] rich-newman opened #15803 "Code Sample Not Working: zip File being Downloaded"
**Issue description**

The URL provided downloads a zip file when used with HttpClient for me.  This means the code sample doesn't work, since it expects plain text.  The URL was updated recently by issue #14911.

Am I missing something or is it broken?

- [X ] .NET Core 3.0
- [X ] .NET Framework 4.8
- [ ] .NET Standard

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not ed

[2019-11-11 15:46] Tratcher commented on #15745
@alexei-B a Microsoft.AspNetCore.Authorization.Policy 3.0 package will not be published to nuget.org. The advice I gave in https://github.com/dotnet/docs/issues/15745#issuecomment-552000932 should already work.

[2019-11-11 15:46] Cylis0509 opened #15804 "Services Wont Start after "Tutorial: Create a Windows service app""
I followed the tutorial: Tutorial: Create a Windows service app from Microsoft and everything worked as it was supposed to but now my windows services will not start. It sits there with "Not Responding".

How do I fix this?

It comes up after about 10 minutes.

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-11-11 15:49] tdykstra opened #15805 "Add scenarios to the System.Text.Json how-to doc"
Related to #12207

* Add a sample of using ArrayBufferWriter&lt;byte&gt; as the output-sink since that helps avoid the extra encoding/allocation when trying to write UTF-8 text to a stream (say FileStream). https://github.com/dotnet/docs/pull/14208/files#r324126902
* Add JsonWriter samples https://github.com/dotnet/docs/pull/14208/files#r324127488
  * Write really large JSON file - say 3 GB.
  * W

[2019-11-11 15:53] Alexei-B commented on #15745
Can you elaborate on the suggestion?

I tried making an ASP.NET application using .NET Core 3.0 using our library without the fix I used and it did not work. I got a missing method exception for `AddAuthorization`.

I also tried simply compiling our library to .NET Standard 2.1, which failed to compile saying that the method `AddAuthorization` did not exist.

If this is part of the shared framewor

[2019-11-11 15:56] Tratcher commented on #15745
Libraries that want to use 3.0 functionality need to cross compile to netcoreapp3.0 and add `<FrameworkReference Include="Microsoft.AspNetCore.App" />`

[2019-11-11 15:57] Alexei-B commented on #15745
OK - so the official line is that it's now not possible to use previously working .NET Standard 2.0 libraries with .NET Core 3.0 if they used any feature that is on the list of breaking changes?

Excellent :|

[2019-11-11 15:58] MrKinetiCat opened #15806 "String List Error"
Im having an issue with the var names = new List&lt;string&gt; line. It keeps saying list&lt;&gt; could not be found, I really hope this is just me being blind and not the program application. Am I supposed to enter a name for the list? Oh by the way I also checked out the local version too, same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-11 16:00] Tratcher commented on #15745
Correct.

[2019-11-11 16:02] Alexei-B commented on #15745
Well, thank you for being straightforwards about it.

I'm dumbfounded that .NET Standard forward compatibility is this fragile.

Since this isn't actually an issue with the documentation and is more an issue with the choice to break forward compatibility, I can't justify holding this issue open.

[2019-11-11 16:02] #15745 closed

[2019-11-11 16:05] Youssef1313 commented on #15806
Make sure you add the following `using` directive:

[code]

[2019-11-11 16:06] Tratcher commented on #15745
Note this is unrelated to .NET standard, these libraries were never part of the .NET standard, they only complied against it. The primary breaking change was when these libraries moved from targeting netstandard2.0 to targeting netcoreapp3.0.

[2019-11-11 16:29] tdykstra opened #15807 "Add supported types article to System.Text.Json documentation"
Create supported types doc similar to what we have [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization#serializable-types) per [suggestion from @ahsonkhan](https://github.com/dotnet/docs/pull/14208#discussion_r324409240):

Related to #12207

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-11 17:36] mvelosop commented on #15783
Thanks for the heads up @KoditkarVedant!

Will e-mail @ardalis about this!

[2019-11-11 18:44] mairaw commented on #15748
@shirhatti can you take a look at this question? Thanks!

[2019-11-11 19:31] Youssef1313 opened #15809 "Wrong Visual Basic snippet"
See https://github.com/dotnet/docs/pull/15800#discussion_r344692255

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d605f11-eaa8-8a0d-1727-8a6d5531d6ba
* Version Independent ID: 69554d83-fede-0a01-2549-d9b51503f781
* Content: [How to: Qualify XML Element and XML Attribute Names](ht

[2019-11-11 19:57] mvelosop commented on #15783
This is fixed thanks to @ardalis!

So I'm closing this now.

[2019-11-11 19:57] #15783 closed

[2019-11-11 20:03] mairaw commented on #15803
Thanks for your feedback @rich-newman. We'll have to look into this issue.

[2019-11-11 20:04] mairaw commented on #15786
Thanks for your feedback @micheleissa. @Thraka you might want to look at this since you're working on this article now. /cc @leecow

[2019-11-11 20:07] mairaw commented on #15804
Thanks for your feedback @Cylis0509. We'd have to investigate what's wrong with the article. This issue is in our backlog for now.

[2019-11-11 20:10] mairaw commented on #15779
Adding @cartermp here. Thanks for your feedback @PhilT.

We should start the migration of the F# MSDN articles soon. As you said, they will be first migrated as-is and then we can start updating the docs.

Thanks for volunteering to help. I think for now it's not needed.

[2019-11-11 20:11] mairaw commented on #15775
Can I mark these as enhancement?

[2019-11-11 20:27] johanwallenborg commented on #15803
@rich-newman I also tried this example out tonight and changed the HttpClient-part to following as a quickfix:

HttpClientHandler handler = new HttpClientHandler()
{
   AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate
};

return await new HttpClient(handler).GetStringAsync(uri);

[2019-11-11 20:36] vitek-karas commented on #15702
Just maybe forgot to clarify for code which needs to support both .NET Framework and .NET Core:
* To create an instance of a type in the isolation AppDomain/AssemblyLoadContext the code for each platform is different. This is basically not possible to share really.
* Once created the communication can be done in a consistent way for both platforms if the objects implement interfaces. On .NET Frame

[2019-11-11 20:44] natke commented on #15775
Sure @mairaw

[2019-11-11 21:03] vitek-karas opened #15811 "Plugins should include ExcludeAssets=runtime for project references to shared assemblies"
The guide along with the sample it uses has this for non-private project references:
[code]

This works for the sample itself, but it doesn't always correctly translate for more complex projects. Specifically if `PluginBase` would have a `PackageReference`, the "Private=false" doesn't correctly propagate over to the `PackageReference` and the output contains "traces" of the NuGet package (in the `

[2019-11-11 21:03] vitek-karas commented on #15811
The change in the sample is tracked by https://github.com/dotnet/samples/issues/1760

[2019-11-11 21:26] CeciAc opened #15812 "For mac it's `brew install mono-libgdiplus` not `brew install libgdiplus`"
@TopGuo commented on [Sat Nov 09 2019](https://github.com/dotnet/docs.zh-cn/issues/498)

For mac it's brew install mono-libgdiplus no brew install libgdiplus,because "brew install libgdiplus" is not found

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: b86dd5e9-34ef-44b5-242a-709f33bf0e1f
* Version Independent ID: 82f8b771-aab3-a14b-7056-7a967f121ab2
* Content: [Mac

[2019-11-11 21:34] #12964 closed

[2019-11-11 21:34] #15450 closed

[2019-11-11 22:48] gewarren commented on #15806
It's working for me in the browser. Does your code look like this?

![image](https://user-images.githubusercontent.com/24882762/68627293-48b85e00-0492-11ea-8977-2f1ba4f35dd7.png)

[2019-11-11 23:01] RussKie commented on #13893
/cc: @OliaG @merriemcgaw

[2019-11-12 00:34] ajhmain commented on #15763
Thanks for the response.  Regex are a major workflow component in our system and performance is very important, hence why I have been reading these articles carefully for learning.  Will see if I can come up with a fix for the wording.

[2019-11-12 00:51] RussKie opened #15813 "[WinForms] deprecated controls removed"
## Removal of deprecated controls

While preparing the support for Windows Forms applications in .NET Core, we've decided to remove a set of controls that are no longer supported and have had replacements since .NET Framework 2.0.  These controls will no longer exist in the .NET Core code base and Windows Forms developers should refer to below for the suitable replacements.

The following types ar

[2019-11-12 00:52] RussKie commented on #15813
/cc: @timheuer @OliaG @merriemcgaw

[2019-11-12 06:49] seantleonard opened #15818 "Download links are dead"
Hello,

The links to all versions of .NET framework on this page, lead to 404 errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9491cf7-9be8-f55d-1e55-cdfb4316fe86
* Version Independent ID: fd533ab6-173d-58a4-dac8-9eb6b5ef7c20
* Content: [Install the .NET Framework on Windows XP](https://docs.microsoft.com/en-us/

[2019-11-12 07:04] Youssef1313 commented on #15818
I think the links should go to:

- For .NET Framework 4.0: <https://dotnet.microsoft.com/download/dotnet-framework/net40>
- For .NET Framework 4.0.3 : <https://www.microsoft.com/download/details.aspx?id=29053>
- For .NET Framework 3.5: <https://www.microsoft.com/download/confirmation.aspx?id=21>

[2019-11-12 07:12] Youssef1313 commented on #15818
I'm seeing something strange:

![image](https://user-images.githubusercontent.com/31348972/68649925-7d78f380-052c-11ea-9915-88ae3f13c828.png)

The same fwlink is linked to .NET Framework 3.5 in an article, and to .NET Framework 4.0 in another article.

[2019-11-12 07:16] Alexei-B commented on #15745
That's definitely a more accurate way of putting it. That said, the effect is still that you can't tell if a .NET Standard 2.0 library will work with a .NET Core 3.0 application until it crashes at runtime, unless you rebuild that library for .NET Standard 2.1, which isn't ideal.

[2019-11-12 14:47] shvez commented on #15702
@vitek-karas that what I kind of realized. So, I managed to extract interfaces to an extra assembly that is shared now. this part is working fine.
the only show stopper for me is the support of legacy configs. Probably It worth it to create a separate issue for that issue. at least I will get more understanding

thank you guys for help

[2019-11-12 15:26] vitek-karas commented on #15702
Would be interested in what legacy configs issues you run into... but I agree it's better done in a separate issue

[2019-11-12 15:33] acodreanu opened #15821 "Grammar issue"
"The handler method typically is the prefix 'On' followed by the event name, as shown above." Instead of *is*, we should use *has* since we're talking about the handler method (3rd person).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2507bc-e567-23f9-aeb9-f7529baa7032
* Version Independent ID: c42718d0-15b4-a87f-4

[2019-11-12 16:29] KoromaruKoruko opened #15824 "MetadataLoadContext is NOT inherent to coreclr however MetaDataReader is"
Target framework: .NET Core 3.0
Doc: https://github.com/dotnet/docs/blob/master/docs/standard/assembly/index.md

The Reference to System.Reflection.MetadataLoadContext is not a part of the .Net Core 3.0 runtime. and as such, I propose that the reference be changed to System.Reflection.MetaData.MetaDataReader or System.Reflection.MetaData.PEReader.

---
#### Document Details

⚠ *Do not edit this se

[2019-11-12 16:59] Thraka commented on #15818
I think we try to avoid FWLinks now. I would just update them to the direct links. It's what the contributors guide says to do.

@Youssef1313 I assigned you since you gathered the information already 😄

[2019-11-12 17:10] #15508 closed

[2019-11-12 17:18] Youssef1313 commented on #15818
@Thraka, In this comment, https://github.com/dotnet/docs/pull/15460#issuecomment-547121654, @mairaw says not to change fwlinks that point to downloads. That's why I suggested to update only the 4.0.3 version not to use fwlink, and keep the others with the fwlink but let you update it internally.

[2019-11-12 18:05] v-maudel opened #15827 "Error in the sample code shown"
Comment below is machine translated:
@JKValero commented on [Mon Nov 11 2019](https://github.com/dotnet/docs.es-es/issues/144)

There are errors of declaration of variables in the code shown as an example, and that before a programmer without much experience, it can cause some problems. I'm working are Option
Strict = On and 8 errors are declared.
Regards.

---
#### Detalles del documento

⚠ *No e

[2019-11-12 18:32] #15812 closed

[2019-11-12 18:32] #15786 closed

[2019-11-12 18:38] #15070 closed

[2019-11-12 19:06] Thraka commented on #15824
@dedady157 Our current guidance is to use MetadataLoadContext as the way to read assembly metadata without fully loading the assembly.

@sdmaclea Would you be able to comment as to why this is preferred?

[2019-11-12 19:42] #14578 closed

[2019-11-12 19:45] sdmaclea commented on #15824
`MetadataLoadContext` was the new technology introduced during the .NET Core 3.0 investment to replace the unsupported `ReflectionOnlyLoad` feature.

`MetadataLoadContext` is a cross platform .NET Standard solution and is a viable technology for .NET Framework, .NET Core, or .NET Standard...

I think the `MetadataLoadContext` interface is a better substitute for the scenarios we saw `ReflectionOnl

[2019-11-12 20:14] #15784 closed

[2019-11-12 21:56] shirhatti commented on #15748
Visual Studio provides no automated way to convert from WSDL to protobuf.

There is design-time tooling to generate a strongly-typed .NET client for gRPC if you already have authored a protobuf file

[2019-11-12 21:56] #15748 closed

[2019-11-12 22:56] #15678 closed

[2019-11-12 23:52] dedady157 commented on #15824
Ye after looking through the meta data reader/pe reader coding style, I would say keep the metadataloadcontext reference however I'd go a step and say that "it is the preferred/optimal method on both. Net Framework and .Net Core (available as platform extension on nuget)"

[2019-11-13 02:36] abelbraaksma commented on #15779
@mairaw, is there by way we can already update the contents? It's hard to remember our keep track of everything one likes to improve and it really blocks us with contributing. In the referenced bug, I mention that both docs and msdn invite you to improve by adding pr's, but this seems to have left us with dozens of requests for msdn hanging in limbo for months.

Also, searching on either site does

[2019-11-13 02:48] akimusume opened #15834 "Not all unmanaged types are unmanaged resources or Unmanaged objects?"
As you say, int is an unmanaged type and generally we need to free unmanaged resources manually. But obviously we can not free an int manually. So what the precise definition of unmanaged resources? Is int one of the unmanaged resources? Is System.Drawing.Image or System.IO.FileStream one of the unmanaged resources? (I know they contains unmanaged resources)

---
#### Document Details

⚠ *Do not e

[2019-11-13 06:31] cremor commented on #15765
I've found some information here: dotnet/csharplang#2877

[2019-11-13 06:45] #15624 closed

[2019-11-13 09:59] meraydin commented on #9633
Why is someone not responding to this request? if this [ML.NET] is not capable of detecting that scenario, tell it.

[2019-11-13 10:11] epic2001 opened #15836 "ASP.NET Core with plugins"
Hi! How can we do plug-in with ASP.NET Core?
I tried this solution: https://github.com/pranavkm/PluginApp
But plug-in dependencies don't work.
I also tried a mix of that solution and this article, but still don't work as described here: https://github.com/pranavkm/PluginApp/issues/2

It will be an article about plug-in with ASP.NET Core?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-13 16:46] Greg-Smulko commented on #12551
Spoiler: when you multitarget a test project, `dotnet test` just runs tests against all targets.

[2019-11-13 17:38] Vinigas opened #15838 "Unmanaged C++ library unloadability in C# example"
It would be great if there was examples not only how to load/unload c# libraries to AssemblyContext, but also how to do it with unmanaged libraries (e.g. written in C, C++, C++/CLI). Maybe including what modifications needs to be done in unmanaged library's source code for this feature to work. Better documentation in this area would open gates for more users to hook existing unmanaged code (which

[2019-11-13 20:41] mairaw commented on #15838
Thanks for your suggestion @Vinigas. @janvorli can you comment on this request?

[2019-11-13 20:43] mairaw commented on #15836
Thanks for your feedback @epic2001. @pranavkm @Rick-Anderson can you take a look at this feedback? Should we move it to the ASP.NET docs repo?

[2019-11-13 20:47] mairaw commented on #15720
Tagging @shirhatti here

[2019-11-13 20:50] mairaw commented on #14729
Thanks for your feedback @akshaymantriwar. This seems like a product question. It would be better to ask this on forums such as Stack Overflow.

[2019-11-13 20:50] #14729 closed

[2019-11-13 20:51] mairaw commented on #14641
Thanks @SQL-MisterMagoo for your feedback.
@danroth27 @guardrex would you be able to help out with this feedback regarding Blazor?

[2019-11-13 20:52] mairaw commented on #14406
Thanks for your feedback @jonnybest. @BillWagner are we adding samples to the Roslyn API docs?

[2019-11-13 20:53] mairaw commented on #14395
Thanks for your feedback @shoop. @mlacouture what do you think of adding this? Can you handle that?

[2019-11-13 20:54] mairaw commented on #14720
Thanks for your feedback @kkadir. @robvet can you look at this feedback for the cloud native book?

[2019-11-13 20:57] mairaw commented on #14310
Thanks @davidsh for filing the issue. Do you have a draft of this that we can help publish?

/cc @karelz

[2019-11-13 20:58] mairaw commented on #14301
Thanks for your feedback @sdg002. We have to make updates to this article for 3.0 and we'll consider your feedback when updating the article.

[2019-11-13 20:59] mairaw commented on #13963
Thanks for your feedback @yshpakov. We have to make updates to this article for 3.0 and we'll consider your feedback when updating the article.

[2019-11-13 20:59] guardrex commented on #14641
I'll yield to DR ... DR, let me know if you want me to help with this.

I'll cross-link our description ...

https://docs.microsoft.com/aspnet/core/blazor/

I recommend that the cross-link go to the *Overview*, not the *Get Started* topic. The *Overview* explains *what* it is much better.

[2019-11-13 21:00] mairaw commented on #13875
Thanks for your feedback @ianfallon. @davidsh is this something you can help with?

[2019-11-13 21:01] pranavkm commented on #15836
Thanks @mairaw. Are you able to transfer this over to the AspNetCore repo? It would be useful to figure out what @epic2001's scenario is and see if we can find a workable solution. We know there are some feature gaps to make the plugins loaded using the load context to work seemlessly.

[2019-11-13 21:02] mairaw commented on #13554
Thanks for your feedback @zodiacon. @tommcdon can you help with this feedback about one of the profiling unmanaged APIs?

[2019-11-13 21:23] gerardgit opened #15841 "Verify single instance of a process"
Verify single instance of a process.

Hello,
I have a desktop application in .net framework 3.5 which runs from a shortcut providing a parameter in the command line.
This command is the full path of an .exe, for example: "c: \ app \ dirpath \ apptest.exe". Several instances of the application can be executed, but with another parameter in the command line.
What I need is to be able to verify that

[2019-11-13 21:47] janvorli commented on #15838
If code loaded into an unloadable context uses pinvokes to call functions in a native shared library and then gets unloaded, the library stays in memory forever.
If you want to be able to unload a native library when you don't need ti anymore, there is a new mechanism for explicit loading and freeing shared libraries and getting symbols from them - see https://docs.microsoft.com/en-us/dotnet/api/s

[2019-11-13 23:16] #9739 closed

[2019-11-14 00:32] Thraka commented on #15834
@akimusume Hello!

You can conceptually think of an unmanaged **type** as different than an unmanaged **resource**. Types such as `System.Drawing.Image` or `System.IO.FileStream` are managed types because they are declared as class. These do specific types do have unmanaged **resources** in them though, which means you have to make sure you tell the object you're done with it so it can release tho

[2019-11-14 00:33] Thraka commented on #15834
I'm going to close this issue as I think this helps you understand it. Feel free to reopen or continue discussing it. Cheers!

[2019-11-14 00:33] #15834 closed

[2019-11-14 00:44] tommcdon commented on #13554
@davmason can you take a look?

[2019-11-14 01:02] Thraka commented on #15752
Yes I know. But with how people find articles and the context they assume they are written in, add in the confusing ASP.NET Core vs .NET Core situation, and we need explicit contextual articles. Even if the only difference is titles and some wording or project names.

(Or have both contexts described in the same article)

[2019-11-14 01:24] Rick-Anderson commented on #15752
**Unit testing C# in .NET Core using dotnet test and xUnit** doesn't belong in our TOC

We do.

That link shouldn't be at the top of the page. At most, it should be at the bottom under **Additional resources**

[2019-11-14 01:24] GrabYourPitchforks opened #15845 "Add conceptual documentation for System.Text.Rune"
We should add conceptual documentation for `System.Text.Rune` (introduced in .NET Core 3) to complement the existing API docs. Such conceptual documentation would cover, briefly:

 * What is the impetus for this type? Where does it fit in the .NET ecosystem?
 * What problems does it set out to solve? What problems does it not solve?
 * Provide code samples demonstrating its usage in various scenar

[2019-11-14 01:25] Rick-Anderson commented on #15752
cc @guardrex

[2019-11-14 01:42] akimusume commented on #15834
Huge thanks to your detailed reply. Now I know their difference. Their names are really confusing.
Maybe you should add some notes to this document and the [Cleaning Up Unmanaged Resources](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/unmanaged) for I can not find any other document mentions "Unmanaged types" except this and nowhere describes the garbage collection for them.