[2020-12-16 18:51] tdykstra commented on #21833
The SDK version doesn't keep pace with the runtime version in the sense of using the same feature band number for a given runtime patch version number. SDK feature bands are independent of runtime patch number. This is illustrated in the "SDK feature change" row of the sample table, where the runtime stays the same at 2.2.1 but a new feature band 2.2.200 is released for the SDK.

[2020-12-16 18:53] Mikejo5000 opened #22041 "For VB Contract.ThrowIfNull does not supress CA1062"
Moved this issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3860](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3860), opened by @paul1956

See issue **3860** for full discussion.

Original comments:

Adding a Code.Contract Precondition as the error/warning instructions say does not suppress CA1062
[code]
The following does work to suppress the warnin

[2020-12-16 18:58] Mikejo5000 opened #22042 "False alarm for generic types - CA2225"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3851](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3851), opened by @koszeggy

The _"Do not suppress a warning from this rule"_ part is way too rigorous this way. Consider the following example:

[code]

As `Range<T>` is generic the "best" solution to satisfy the rule would be two `ToRange` exten

[2020-12-16 19:01] Mikejo5000 opened #22044 "Advice on how to implement comparison operators for a type whose CompareTo is inconsistent with Equals"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3728](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3728), opened by @peteroupc

For full discussion, see **3728**.

This page should include advice on how comparison operators should be implemented in the following circumstance.

- A custom number class (not from the base class library) represent

[2020-12-16 19:08] Mikejo5000 opened #22045 "Advice on CA2225 and operator naming in the face of preexisting conversion methods"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3629](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3629), opened by @peteroupc

This page should include advice on dealing with this rule with a class that implements preexisting methods
that are alternatives to operators, but have different names than suggested.  In my case, this issue occurs wi

[2020-12-16 19:13] Mikejo5000 opened #22046 "Exception with required property"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3228](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3228), opened by @motz-art

For full discussion of issue, see **3228**.

Hi,

I would like to suggest an enhancement for case when Exception must have some properties initialized.

Documentation says that "Failure to provide the full set of const

[2020-12-16 19:16] Mikejo5000 opened #22047 "Poor documentation in CA1814"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/3139](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3139), opened by @johnnyasantoss

For full discussion of the issue, see **3139**.

Poor documentation on the "why" of this rule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-12-16 19:20] Mikejo5000 opened #22048 "[CA2227] Update how to fix it"
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/2548](https://github.com/MicrosoftDocs/visualstudio-docs/issues/2548), opened by @Peppers911

For full discussion of issue, see **2548**.

I would suggest that "How to fix violations" would include other types of fixing this design problem, not just by saying remove "setters".
Other resolutions:
1) Explicitly

[2020-12-16 19:22] tdykstra commented on #17170
Fixed by #21928

[2020-12-16 19:22] #17170 closed

[2020-12-16 19:31] #21619 closed

[2020-12-16 19:47] tarekgh commented on #22008
What options you are talking about here?

[2020-12-16 20:06] JasonCard commented on #21985
Thank you again for your suggestion. We currently do not plan to localize into “Persian (Iran)", but will take this request into consideration for the future.

[2020-12-16 20:11] #21731 closed

[2020-12-16 20:11] #22025 closed

[2020-12-16 20:23] BillWagner opened #22049 "Issue and PR Review may be delayed Dec 19, 2020 - Jan 4, 2021"
This time of the year is holiday season for the .NET content team members in the United States. Many of the team members are taking vacation during the next two weeks.

The result is that PR reviews / merging, and issue response may be delayed during this period.

We wish you all a happy holiday season and hope to see you around here in 2021! 🎆

Thank you for all your contributions in 2020! This c

[2020-12-16 20:23] #21998 closed

[2020-12-16 21:12] tdykstra commented on #21987
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-12-16 21:12] #21987 closed

[2020-12-16 21:13] tdykstra commented on #21967
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-12-16 21:13] #21967 closed

[2020-12-16 21:13] tdykstra commented on #21962
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-12-16 21:13] #21962 closed

[2020-12-16 21:16] canton7 opened #22050 "Document that "F" (and "FF", etc) removes the preceding period if it doesn't print anything"
Document that "F" (and "FF", etc) removes the preceding period if it doesn't print anything.

From the documentation:

[code]

Indeed, there is [code which explicitly removes this decimal point](https://source.dot.net/#System.Private.CoreLib/DateTimeFormat.cs,530).

Would it be worth documenting this behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-12-16 23:19] m-kinchin opened #22052 "String output from code example does not for right of the bat - code example needs to be corrected"
Piece of code below cannot be executed in VSCode
[code]
It does cause an error:
[code]
Problem can be solved like this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b07eeb2-d274-35da-78d4-b7d78c255590
* Version Independent ID: bf145620-7f23-eb4d-376d-f739562d9a79
* Content: [Get Started with F# in Visual Stud

[2020-12-16 23:29] cartermp commented on #22052
Thanks, this is just a typo. Should be quick to resolve

[2020-12-17 02:50] #21969 closed

[2020-12-17 03:02] #21720 closed

[2020-12-17 03:41] StingyJack opened #22058 "This section could probably use some info about testing resiliency via a chaos monkey or other means"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24b7eb80-1995-e5f4-6e1c-1b0eb55d2058
* Version Independent ID: 457443e0-4de3-18fd-f07a-07bbf89a7cbf
* Content: [Implement resilient applications](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/)
* Content Source: [docs/ar

[2020-12-17 07:20] seekasra commented on #21985
Alright. Cheers.

[2020-12-17 07:41] sughosneo commented on #21958
Hi @ronmhii , thank you for your feedback.

[2020-12-17 07:44] sughosneo commented on #21608
Hi @AndiRudi , considering the original issue has been answered. I am closing this issue as of now. Please feel free to reopen it if you have any further questions.

Thank you.

[2020-12-17 07:44] #21608 closed

[2020-12-17 13:27] chucker commented on #13456
If I understand the request correctly, some notion of "or greater" has now been added: https://github.com/dotnet/sdk/issues/14540

[2020-12-17 13:53] Cyl18 opened #22063 "Incorrect line number"
![image](https://user-images.githubusercontent.com/14993992/102495015-84b7ec80-40b0-11eb-90ab-9198ec985566.png)
all line numbers should be added by 1

and I made a fix in #22064
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf08b819-7446-dc6c-8040-d55ecccd317d
* Version Independent ID: 931f4809-51f0-5b61-30ec-760bcfe44

[2020-12-17 15:12] #21958 closed

[2020-12-17 15:54] ddDerelict opened #22067 "Chapeau"
[Dynamite analogy - Big t hanks for clarifying muddy water.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/con

[2020-12-17 17:10] adegeo commented on #22068
Greetings! Thank you for the suggestion. I think at this time we'll leave it as it is. This issue will still be associated with the article though incase we wish to incorporate your suggestion at a future time. Thanks again!

[2020-12-17 17:10] #22068 closed

[2020-12-17 18:31] #22063 closed

[2020-12-17 18:42] #22052 closed

[2020-12-17 18:57] voroninp opened #22069 "Misleading wording for serializer behavior description."
Documentation says:

This creates an impression there exists a way to change the default behavior for _non-public constructors_. I'd completely remove `by default`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca6bfd-1d1f-a53c-2cd0-fa87511d3cb5
* Version Independent ID: 3ffd812b-bddb-9a54-4e22-63e4c76fc5dd
* Conten

[2020-12-17 19:16] #16695 closed

[2020-12-17 19:38] gewarren commented on #22069
@layomia @tdykstra should "by default" be removed from the wording? I'm unsure if the use of a JsonConverter<T> allows the use of a non-public constructor.

[code]

[2020-12-17 19:44] gewarren commented on #22011
@mavasani This should work without having to change the target framework to `net5.0`, correct?

[code]

[2020-12-17 19:46] tdykstra commented on #22069
Same here.

[2020-12-17 19:48] gewarren commented on #22030
@mavasani Can you comment on whether CA1031 can be suppressed for custom TryParse methods?

[2020-12-17 20:21] mavasani commented on #22011
Few things to note:

1. The above settings do not work in .NET 5.0 SDK due to a known bug. You can workaround the bug replacing  `<EnableNETAnalyzers>true</EnableNETAnalyzers>` with `<AnalysisLevel>latest</AnalysisLevel>`
2. Above bug has been fixed for the upcoming 5.0.2xxx release of the SDK. See https://github.com/dotnet/sdk/pull/14767 for details.

[2020-12-17 20:26] gewarren commented on #22031
@DrGriff I'm going to close this issue as answered (i.e. it's not a false positive).

For future reference, you can log issues against analyzers at https://github.com/dotnet/roslyn-analyzers.

[2020-12-17 20:26] #22031 closed

[2020-12-17 20:31] gewarren commented on #22011
Thanks Manish. I'm going to close the issue since the doc will be correct once 5.0.2xx ships.

[2020-12-17 20:31] #22011 closed

[2020-12-17 20:50] #21822 closed

[2020-12-17 21:01] #21504 closed

[2020-12-17 21:01] #21505 closed

[2020-12-17 21:16] tdykstra commented on #21036
@karann-msft When is the `--source` option required?

[2020-12-17 22:20] sywhang commented on #21970
@davmason can you confirm that the handle returned from `GetHandleFromThread` shouldn't be closed?

[2020-12-17 22:32] Mikejo5000 opened #22074 "api_surface of code analyzer rule in .editorconfig can be "none""
Moved issue to .NET
Old issue: [https://github.com/MicrosoftDocs/visualstudio-docs/issues/5838](https://github.com/MicrosoftDocs/visualstudio-docs/issues/5838)

For full discussion, see **5838**

The documentation does not list `none` among the allowable values for `api_surface`. However, the following syntax in .editorconfig seems to effectively disable the code analyzer rule, when using Microsof

[2020-12-17 22:54] #21561 closed

[2020-12-17 22:59] davelowndes opened #22075 "Conflicting advice on Materialized View pattern"
Hi,

In this page you state...

...with a link to https://docs.microsoft.com/en-us/azure/architecture/patterns/materialized-view.

On the linked Materialized View pattern page it states:

This is contradictory and confusing, which doesn't help increase our architectural knowledge.

It would be really good to understand the most common and most well-regarded approaches to the problem of "Challenge

[2020-12-17 23:04] JeremyKuhne commented on #20569
Note that https://support.microsoft.com/en-us/help/4569746/kb4569746-cumulative-update-for-net-framework contains some details on the `Switch.UseLegacyAccessibilityFeatures.4` switch.

[2020-12-17 23:08] davmason commented on #21970
The handle that is returned is owned by the runtime and you should definitely not close it.

[2020-12-17 23:25] #21970 closed

[2020-12-17 23:45] merriemcgaw commented on #20569
I would honestly add the details contained in the doc @JeremyKuhne references to the primary doc about accessibility: [What's New in Accessibility](https://docs.microsoft.com/en-us/dotnet/framework/whats-new/whats-new-in-accessibility)

[2020-12-18 00:07] tdykstra commented on #7292
@wli3 Does the runtime roll forward functionality make prefercliruntime obsolete, or are there still scenarios that require it?

[2020-12-18 00:44] #22033 closed

[2020-12-18 03:26] gewarren commented on #22074
@mavasani Is `none` a supported value for the `api_surface` option?

[2020-12-18 03:28] SogoGolf opened #22078 "how to SET the version of dotnet being used from the command line"
would be great if you could add how to SET the version of dotnet being used from the command line ? so for example if I wanted to use dotnet v3.x instead of dotnet v5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4efe9b33-ff9f-3b37-e8bd-a34c0a77bd1e
* Version Independent ID: 090b8fbd-39e6-b754-e1da-890b1123f2c4
* Cont

[2020-12-18 03:31] mavasani commented on #22074
https://github.com/dotnet/roslyn-analyzers/blob/126490755be34c24351341b896b4efb84a1de1fe/src/Utilities/Compiler/Options/SymbolVisibilityGroup.cs#L19-L24

Yes, it does work, but theoretically if you are configuring the rule to run against `none` configuration then you are turning off the rule itself, which is equivalent to `dotnet_diagnostic.DiagId.severity = none`

[2020-12-18 10:10] Youssef1313 opened #22080 "IDE0043 is not documented"
@mavasani @gewarren

[2020-12-18 10:15] Youssef1313 commented on #22078
You can do this using a global.json config file. See [docs](https://docs.microsoft.com/dotnet/core/tools/global-json) for more information.

[2020-12-18 12:32] mavasani commented on #22080
This was left out because @Evangelink is currently working on a PR to replace this rule with a very similar CA rule, at which point IDE0043 will be removed.

[2020-12-18 12:44] Evangelink commented on #22080
Yeah sorry the PR is open for a long time now but there are a lot of cases to handle + a lot of user options from the IDE and CA I need to include. I will try to have the PR ready before Christmas.

[2020-12-18 13:02] Youssef1313 commented on #22080
Do we need to redirect <https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/ide0043> somewhere? So if someone is working on old version he can find something useful instead of a 404?

Probably redirect to the similar CA rule docs?

[2020-12-18 13:10] Youssef1313 opened #22082 "PRMerger bot overwrites dotnet-bot"
See https://github.com/dotnet/docs/issues/22011 for example. When closing an issue, dotnet-bot is configured to automatically remove "Not triaged" label. But PRMerger adds it again.

This isn't a big or important issue, but reporting anyway.

[2020-12-18 14:30] Youssef1313 commented on #22080
Also note that CA1801 was deprecated recently, but it's still documented.

See https://github.com/dotnet/docs/pull/21882.

[2020-12-18 15:25] #21586 closed

[2020-12-18 15:25] #21968 closed

[2020-12-18 15:25] BillWagner commented on #22082
Adding @adegeo @lamebrain

[2020-12-18 16:27] gewarren commented on #22080
There's only been one page view in the last 90 days, so I don't think it's worth it.

[code]

[2020-12-18 16:32] mavasani commented on #22080
@Youssef1313 I meant documenting IDE0043 is much lower priority. I'll let @gewarren decide if docs team will take a community contribution for IDE0043 doc page.

[2020-12-18 16:37] gewarren commented on #22080
Given the low page views, I don't think this meets the bar, so I'll close the issue.

[2020-12-18 16:37] #22080 closed

[2020-12-18 16:55] Youssef1313 commented on #22080
That must be me :smile:

[2020-12-18 17:18] scottaddie commented on #21698
Fixed in https://dev.azure.com/mseng/TechnicalContent/_git/dotnet-docs-tools/pullrequest/590297

[2020-12-18 17:18] #21698 closed

[2020-12-18 18:24] adegeo commented on #22082
Is PRMerger using some sort of ML to determine what labels should be added?

[2020-12-18 18:26] #18496 closed

[2020-12-18 18:31] adegeo commented on #22078
I'm not sure I understand your question as it relates to uninstalling? There is a link in the first paragraph to [version selection](https://docs.microsoft.com/dotnet/core/versions/selection) when mentioning that removing versions may alter the default.

[2020-12-18 18:31] wli3 commented on #7292
roll forward functionality applies to dotnet tools, prefercliruntime applies to project tools. And dotnet tools is a replacement for project tools.

[2020-12-18 18:56] mavasani opened #22084 "Remove this not yet approved and not yet merged CA rule doc page"
See details at https://github.com/dotnet/roslyn-analyzers/issues/3983#issuecomment-748257032. Seems an external contributor proposed a new rule, created an open PR to implement an analyzer and also submitted a docs PR for the same before the proposed rule OR the PR was even reviewed.

You may want to probably wait for couple of days to get more feedback on https://github.com/dotnet/roslyn-analyzer

[2020-12-18 18:57] mavasani commented on #22084
Also the title for this page seems incorrect - it states `CA1067` instead of `CA1071`

[2020-12-18 19:14] tdykstra commented on #7292
Closing this issue, since project tools are replaced by dotnet tools and prefercliruntime isn't relevant to dotnet tools.

[2020-12-18 19:14] #7292 closed

[2020-12-18 19:34] #22032 closed

[2020-12-18 19:37] gewarren opened #22087 "Link CA rule categories to overview pages"
We should link mentions of CA rule categories to overview pages for that category.

For example, the category is mentioned in the table at the top of each reference article, such as [CA1000](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1000). In addition, the category is often mentioned in the [Configure code to analyze](https://docs.microsoft.com/en-us/dotnet

[2020-12-18 20:23] tdykstra commented on #21777
@layomia or @jozkee can you provide an example suitable for docs for each of these scenarios? Something like the one for [non-custom-converter preserve references](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-preserve-references?pivots=dotnet-5-0) would be more helpful than a converter for `Object`.

I don't see how to adapt this approach to types other than `Obj

[2020-12-18 21:44] #21740 closed

[2020-12-18 21:44] #21757 closed

[2020-12-18 21:47] yac073 opened #22089 "Number formatting rounding discrepancy"
[Enter feedback here]
Tested on .net core runtime 3.1.10

double num = 1234.5;
var str = num.ToString("G4"); (1234, roundingmode.even)

double money = 12.345;
var moneyStr = money .ToString("C"); ($12.35, roundingmode.awayfromzero)

decimal num2 = 1234.5m;
var str2 = num2.ToString("G4"); (1235, roundingmode.awayfromzero)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-12-18 21:49] gewarren commented on #22046
The ask here is what if you implement the required set of exceptions, but they have *additional* parameters. In this case, I'm pretty sure it's safe to suppress the warning.

[2020-12-18 22:22] adegeo commented on #22089
Hello. I can't seem to understand what the issue is. Can you give me a more detailed look of what you have and what you expected?

[2020-12-18 22:27] yac073 commented on #22089
In MS page [Standard numeric format strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings), it claims that ```When precision specifier controls the number of fractional digits in the result string, the result string reflects a number that is rounded to a representable result nearest to the infinitely precise result. If there are two equally near repre

[2020-12-18 22:47] gewarren commented on #22042
@koszeggy I'm a bit confused. According to [this](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators#operator-overloadability), you cannot overload the range operator. Are you overloading the range operator when you get the CA2225 warning?

[2020-12-18 23:14] adegeo commented on #22089
@bartonjs @joperezr would either of you be able to answer this question?

[2020-12-18 23:27] charlesroddie commented on #19460
I'm not sure if this is the best place to comment, but there is a rather strange suggestion that users should switch from `byte[]` serialization to `string` serialization (as the recommended alternatives) for reasons that have something to do with security. That is nonsense of course. You should really include a form of binary serialization as a suggested alternative. CBOR will do well, especially

[2020-12-18 23:52] dlepow opened #22090 "Use image tags from MCR instead of Docker Hub for .NET container images"
This article includes tables listing .NET Framework container image tags hosted in Docker Hub, for example:

microsoft/dotnet-framework:4.x-windowsservercore
microsoft/aspnet:4.x-windowsservercore
microsoft/dotnet:2.0.0-runtime
microsoft/dotnet:2.0.0-runtime-nanoserver

We're developing content guidance to use only tags from Microsoft Container Registry for Microsoft container images referred to i

[2020-12-19 00:59] gewarren commented on #22041
The CA1062 docs do not mention contracts anywhere, so I'm going to close this issue.

[2020-12-19 00:59] #22041 closed

[2020-12-19 01:00] gewarren commented on #22082
It just happened on #22041 as well.

![image](https://user-images.githubusercontent.com/24882762/102676468-8df99580-4152-11eb-946b-b35759eedd82.png)

cc @meganbradley

[2020-12-19 01:19] gewarren commented on #22040
@jameslear [Here is an example](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#implement-the-dispose-pattern-for-a-derived-class). I've also added a "see also" link to the CA1001 reference page.

[2020-12-19 01:19] #22040 closed

[2020-12-19 01:32] gewarren commented on #22038
@nirrave I'm not sure what you're asking for here.

- Are you asking that rule CA1812 doesn't examine the classes you mentioned (e.g. debugger type proxy class and helper class)? - Or are you asking that the documentation specifically mention that it's safe to suppress a CA1812 warning on such classes?
- Or are you asking that (something) doesn't promote converting the class to a module in VB? If

[2020-12-19 07:21] tzehetner commented on #21970
Thanks!

[2020-12-19 09:23] nojaf opened #22095 "Return type placement for long function definitions"
Hello, following up on recent discussions regarding vanity alignments.
I'm looking at the changes in the style guide and I'd like to add a sample when a long function definition has a return type.

[code]

What should it be? The same line as the equals sign or a separate line?

Also, what would happen if this were a tuple?

[code]

[code]

It would be beneficial if all these cases are listed in th

[2020-12-19 10:31] koszeggy commented on #22042
@gewarren Sorry for the confusion. The example is not about the C# 8 range operator feature and its similarly named non-generic `Range` struct but a custom type, which happens to be called [`Range<T>`](https://github.com/koszeggy/KGySoft.CoreLibraries/blob/e7c0c6a9cdc2a6090a966dbfb39fee8ada089445/KGySoft.CoreLibraries/CoreLibraries/_Extensions/_Structs/Range.cs#L32).

And [here](https://github.com

[2020-12-19 23:45] cartermp commented on #22095
I would say as follows

1.

[code]

2.

[code]

3.

[code]

Happy to look at a PR with these additions!

[2020-12-20 07:48] paul1956 opened #22096 "Explain how to use System.Text.Json with VB"
Most article have VB and C# dropdown, this one is missing that and could use it. If this is open source and someone can explain how to do the dropdown I would be willing to convert the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2a-48d1-0671-

[2020-12-20 09:56] unitrix0 opened #22097 "Build or no Build"
Hello,

The option `--no-build` seems confusing to me. If I don't use it the command `dotnet pack` gives me error NU5026 because the project hasn't built yet. So it doesn't seem to build it automatically. And when I use `--no-build` it explicitly doesn't build the Project...

So I have to build it myself anyway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-12-20 11:21] svick commented on #22044
Personally, I think that the guidance should be that `Equals` and `CompareTo` should be consistent. If you choose to make them inconsistent, then you're on your own and you need to decide yourself how to handle that. The documentation shouldn't help you with that.

[2020-12-20 14:34] Youssef1313 commented on #22096
The markdown file for this is <https://github.com/dotnet/docs/blob/master/docs/standard/serialization/system-text-json-how-to.md>, you can submit a PR against it.

In this markdown file, you'll find lines starting with `:::code language="csharp"`, you'll need to add parallel lines under them for vb.

Then you'll need to add a dev_langs metadata.

Adding @tdykstra to confirm whether he wants to add

[2020-12-20 19:58] vwheeler63 opened #22101 "PDF of .NET "Regular Expression Language - Quick Reference" is Failing"
Hi.  The PDF download of the quick reference failed today (20-Dec-2020) on several attempts just before 12:54 Mountain Standard Time.  The resulting download is corrupted and cannot be opened.

The download link is:
    https://download.microsoft.com/download/D/2/4/D240EBF6-A9BA-4E4F-A63F-AEB6DA0B921C/Regular%20expressions%20quick%20reference.pdf

Kind regards,
Vic Wheeler

---
#### Document Detai

[2020-12-20 22:35] paul1956 commented on #22096
@Youssef1313 thanks, I will wait to hear if @tdykstra wants VB samples. I assume if not there is no point in doing a PR. If yes I don't know how to add dev_langs metadata is there a sample?

[2020-12-21 05:50] KalleOlaviNiemitalo commented on #22074
The `severity` configuration requires Visual Studio 2019 version 16.3 or higher; `api_surface` also works with Visual Studio 2017.

[2020-12-21 08:55] vernou opened #22107 "[Documentation] CultureInfo is inacurate"
### Description

In the documentation of the class CultureInfo at the chapter [Culture and threads](https://docs.microsoft.com/en-US/dotnet/api/system.globalization.cultureinfo?view=net-5.0#culture-and-threads), it has this example :
[code]

The starting culture is 'en-US'.

In .NET 4.5, the main thread is set to french culture and the worker thread start with the origin culture.
I get the output

[2020-12-21 09:20] chanmmn opened #22103 "Code syntax error"
I try to edit but I cannot see the C# code.

using FileStream myStream = new FileStream("TestData.txt", FileMode.OpenOrCreate);

The using will create the syntax error I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee15f916-5406-85fa-b7fb-a9e69fcd3efb
* Version Independent ID: b6aae569-8a56-0a44-7b8e-e544914

[2020-12-21 14:49] sughosneo commented on #22090
Hi @dlepow , thank you for the update.

There is an open PR #22104 already to update the content of this eBook to .Net 5.
This PR also contains the respective changes related to the Microsoft Container Registry for the Microsoft Docker images. Here is specific [commit](https://github.com/dotnet/docs/pull/22104/files#diff-5242e6800e3a8032edda63921ebdcaae79a6d213d86f523e46cffe5b9c2d3895) for your re

[2020-12-21 16:03] motz-art commented on #22046
One step further,

May be it is even better to implement a check for read only property initialized from all constructors, so there wouldn't even be a need to suppress it?

[2020-12-21 16:22] gewarren commented on #22046
@motz-art To request updates to the analyzer itself, please log an issue at https://github.com/dotnet/roslyn-analyzers.

[2020-12-21 16:31] #22047 closed

[2020-12-21 16:53] dagood commented on #21878
@adegeo described the current reason to not do this in the thread:

I would characterize the approach taken with the docs so far as extremely conservative: if any customer might want access to the old .NET packages, don't delete information on how to get to them.

You mentioned:

This point seems orthogonal. The docs don't say using an EOL distro version is good. But I agree that having a doc up w

[2020-12-21 17:18] adegeo commented on #21878
@dagood Check out my proposal for simplifying just the Fedora docs. This design might be good for those distros that offer .NET out of the box without adding some sort of additional feed:

[Internal link only](https://review.docs.microsoft.com/dotnet/core/install/linux-fedora?branch=pr-en-us-21946)

[2020-12-21 17:22] Youssef1313 commented on #22103
If you're talking about the using statement syntax, this was a new feature in C# 8.0. See [using statement docs](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement)

[2020-12-21 17:24] adegeo commented on #22101
I just tested and it's working for me. Please verify that it is still broken for you. I'm going to close the issue but feel free to respond.

[2020-12-21 17:24] #22101 closed

[2020-12-21 17:33] mmitche opened #22105 "Remove myget feeds in sample nuget.config files and other doc files"
The myget URIs are now no longer used, and should now be removed from the various files:

Example:
samples/snippets/csharp/events/NuGet.Config:    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />

[2020-12-21 17:58] dagood commented on #21878
I think it's reasonably organized, but it's still overwhelming the happy path for Fedora distro users. There's also some data that needs fixing to apply to only the right places (x64-only vs. x64+arm64, troubleshooting, preview package issues (probably?)), adding 2.1 back in, and detailing the danger/fixes for mixing Microsoft and distro repos. Once that's all resolved, the total amount of info is

[2020-12-21 18:42] tdykstra commented on #22096
Yes, we'd be happy to incorporate VB for the System.Text.Json articles. See this example for dev_langs in the metadata block at the top of the article:  https://raw.githubusercontent.com/dotnet/docs/master/docs/core/tutorials/with-visual-studio.md

[2020-12-21 19:01] tarekgh commented on #22107
Just to mention, we have a config switch on the Full Framework `Switch.System.Globalization.NoAsyncCurrentCulture` which can switch back to old behavior mentioned in the code example.

[2020-12-21 20:49] ROBYER1 opened #22109 "Examples for Yolo v3 (preferably tiny v3) in Detect objects using ONNX in ML.NET docs?"
Please could the docs be updated for more modern yolo versions like v3? Preferably v3/v3 -tiny?

Yolo v3 tiny has 2 outputs rather than 1, the structure of the model is quite different so this tutorial doesn't work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f95783-f8d3-b884-a67e-131eba39f59c
* Version Independen

[2020-12-21 21:33] gewarren commented on #22042
I see, these are [user-defined conversion operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/user-defined-conversion-operators). @mavasani Do you think the text should be updated to:

In general, do not suppress a warning from this rule if you're implementing a shared library. However, for user-defined conversion operators on generic types, it's okay to suppress

[2020-12-21 22:32] gewarren commented on #22107
This issue was moved to dotnet/dotnet-api-docs#5188

[2020-12-21 22:32] #22107 closed

[2020-12-21 22:42] #22095 closed

[2020-12-21 23:01] gewarren commented on #22037
@hugoross I found this info [here](https://gingter.org/2018/07/10/how-to-correctly-normalize-strings-and-how-to-compare-them-in-net/):

"The issue with lowercase normalization is, that there are, again, different cultures where this loses information or ends up in an incorrect representation of the original data. The most prominent example is the Turkish letter İ. This is a I with a dot. This corr

[2020-12-21 23:42] vwheeler63 commented on #22101
Hi!  Thank you for testing it.  I just tried re-downloading it and now Adobe Reader opens it successfully.  However, the .DOCX format shows that page 3 has a couple of sections in it that are missing from the PDF I just downloaded.  I mention it as it might be relevant.  Hope this helps.

[2020-12-21 23:45] vwheeler63 commented on #22101
False alarm:  The last "section" is "To get ... Use Regex API..." in the PDF and that is also the last section in the .DOCX format, so I will assume that is simply how the content "flowed into" the columns.

[2020-12-21 23:54] gewarren commented on #22044
@svick I like that. I'm going to close this issue now.

[2020-12-21 23:54] #22044 closed

[2020-12-22 00:26] theundergroundsorcerer opened #22115 "New features and official documentation?"
Is there a chance that the new features become "first-class citizens" in the official documentation and not merely "proposals"? A normal entry in the docs without "future considerations" left to language designers would be really nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60b6e17-36cf-bd6c-1b76-d38f1760a816

[2020-12-22 01:21] gewarren commented on #22034
@viniciusvillas Could you log a bug at https://github.com/dotnet/roslyn-analyzers? See https://github.com/dotnet/docs/pull/22113#discussion_r546993267.

[2020-12-22 01:21] #22034 closed

[2020-12-22 02:28] chanmmn commented on #22103
Are you saying .NET Framework 4.8 is not supporting C# 8.0? Can you confirm that? Can someone also helps to put this information on the page itself?

![using](https://user-images.githubusercontent.com/33271651/102841510-0a84c080-4440-11eb-96c4-4214623b6b17.PNG)

[2020-12-22 03:29] paul1956 commented on #22096
@tdykstra Some of the features/examples are not compatible with VB but the most useful ones coming from Newtonsoft work correctly in VB, How do you want me to handle that? BTW without this article I would have thought the whole library was broken for VB, it is excellent.

[2020-12-22 04:11] StingyJack commented on #19824
The example cited in the OP is still contrary to the advice above it.

[code]
This is like page 7 of the "C# programming guide" as published by the language's creator.

If you are saying to new c# programmers that they should not trust that the return type from `Convert.ToInt32()` will be an `int`, you are doing everyone a disservice. Please at least choose a better example.

Asking for a PR to cl

[2020-12-22 06:32] sughosneo commented on #20557
Hi @brobbins , just checking if you had a chance to look into this further. Thank you.

[2020-12-22 06:33] sughosneo commented on #21244
Hi @karoldeland  , just checking if you had a chance to look into this further. Thank you.

[2020-12-22 07:25] svick commented on #22115
Are you talking about the specification or the documentation? If it's about the specification (because the proposals serve as temporary replacements for that), then it's being slowly updated and I believe the most recent work on that is here: https://github.com/dotnet-foundation/projects/issues/90. If it's about the documentation, which features specifically are you talking about?

[2020-12-22 09:46] theundergroundsorcerer commented on #22115
I mean documentation, but call it specification if you want. While one can read blog posts, try to make sense of language proposals or just go stack overflow, it is a bad substitute for official documentation.

A simple example? Pattern matching - there is an entry in the docs (C# concepts) written in 2019 that covers it. However, there are many enhancements that came with c# 9. I believe that whe

[2020-12-22 10:23] justin368 opened #22119 "CS1662: Cannot convert lambda expression"
`

    return from word in words.AsParallel()
        let reverse = new string(word.Reverse().ToArray())
        where word != reverse && wordsSet.Contains(reverse)
        select word;`

in Visual Studio 16.9.0 prev 2; .NET v4.8.04161 produces:
`CS1662: Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the de

[2020-12-22 13:40] HugoRoss commented on #22037
Thank you for these explanations.

Does this mean that the opposite is not the case anymore, that lower-case
letters like the German "ß" are converted to "SS" when upper-cased which
then would be lower-cased to "ss"?

[2020-12-22 13:49] jzabroski opened #22120 "Force trailing comma in collection initializer"
https://github.com/dotnet/docs/blob/master/docs/fundamentals/code-analysis/style-rules/formatting-rules.md

Does not mention options for having a trailing comma, as best as I can tell.

This is somewhat surprising to me, as forcing a trailing comma in collection initializers greatly aids in clean future diffs if people add to the diff.

[Edited to add doc details]

---
#### Document Details

⚠ *Do

[2020-12-22 14:51] bairog commented on #20459
@adegeo
Today we again performed a test on our **clean** Windows 7 SP1 x86 (without **any** updates installed):
![image](https://user-images.githubusercontent.com/44995181/102900087-e2678280-447c-11eb-9613-4d8a1bbb5d94.png)
![image](https://user-images.githubusercontent.com/44995181/102900103-e7c4cd00-447c-11eb-9956-83a5e23b7f89.png)
Latest **.NET Desktop Runtime 5.0.1** (windowsdesktop-runtime-5.

[2020-12-22 16:08] outlookhazy opened #22121 "Image classification tutorial issue"
The tutorial has users create a TSV parsing method that never gets used.
mlContext.Data.LoadFromTextFile is called instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version Independent ID: c8a996eb-82ed-a4bd-94d8-ef0b32158c67
* Content: [Tutorial: ML.NET image classification

[2020-12-22 16:38] Evangelink commented on #22046
@gewarren Could you please block the issue and any related PR while the roslyn analyzer ticket is not approved? Thanks.

[2020-12-22 17:00] adegeo commented on #20459
@bairog Thank you very much for this information, I'll pass it on to the team!

[2020-12-22 17:12] Youssef1313 commented on #22103
@chanmmm The default language version for .NET Framework is C# 7.3, you can override that in your csproj file.

[2020-12-22 17:36] adegeo commented on #22082
If I were to venture a guess, the PRMerger bot is receiving the closed event and simply applying the existing labels it detected on the PR (for what reason? I don't know). Our bot happens to remove the label between the time the PRMerger bot starts and ends, hence the Not Triaged label is added back.

[2020-12-22 20:39] gewarren commented on #22037
letters like the German "ß" are converted to "SS" when upper-cased which
then would be lower-cased to "ss"?

It appears that the `ß` character does round-trip correctly.

[code]

Output:

To upper: STRAßE
To lower: straße

[2020-12-22 21:20] TylerBrinkley opened #22123 "OSS Library Multi-Target .NET 5 Guidance"
Is there any guidance as to whether to multi-target .NET 5.0 for libraries even when we're not using new API's when we're already multi-targeting .NET Standard or .NET Core? .NET Standard and .NET Core libs will work in .NET 5.0 so I'm inclined to think the only consideration would be that less informed users would more easily understand compatibility with .NET 5+ if you add a .NET 5.0 target.

--

[2020-12-23 02:29] gewarren commented on #18194
@Zastai you originally requested this [here](https://github.com/dotnet/docs/issues/2642#issuecomment-373491520). It looks to me like the [recommended way to use SourceLink](https://github.com/dotnet/sourcelink/blob/master/README.md#using-source-link-in-net-projects) is by setting a few optional properties and adding a package reference to the SourceLink package. I do see this SO post discussing th

[2020-12-23 02:29] #18194 closed

[2020-12-23 03:05] atrauzzi commented on #22008
@tarekgh... Are you sure you read my description?  I'm worried that you're just skimming what I'm saying, looking for key words to apply a canned response. I've even provided an example of someone else expressing similar confusion.  I invite you to do some very simple google searching, there are several examples out there of people other than myself being confused by "resources" as a concept in .n

[2020-12-23 03:17] gewarren commented on #18946
Helpful links:

https://github.com/dotnet/sdk/pull/633#issuecomment-272515440
https://github.com/dotnet/docs/commit/6e2133811b33efcaf281aa0895c2b75c8f29d6b1

[2020-12-23 03:20] karoldeland commented on #21244
My bad. Just forgot. Added to my to do.

[2020-12-23 04:06] tarekgh commented on #22008
@atrauzzi I read the descriptions and I was just asking for clarification. The link link https://stackoverflow.com/questions/1934826/whats-the-difference-between-a-resource-and-an-embedded-resource-in-a-c-sharp-a is more about WPF resources.
In .NET we have just one way to use resources which is managed resources accessed through ResourceManager using the Embedded resources (and satellite assembli

[2020-12-23 09:11] skrysmanski opened #22134 "Records don't fullfill any requirement of option classes"
The "Options pattern" description contains this part:

Both requirements are **not true** for the specified record example:

The `TransientFaultHandlingOptions` does *not* have a parameterless constructor.

The properties of `TransientFaultHandlingOptions` are read-only - or `init`-only (not read-write).

I haven't checked but I'm assuming that records are supported none the less. It's just that t

[2020-12-23 10:34] skrysmanski opened #22137 "Wrong example code and descriptions in "High-performance logging in .NET""
The "High-performance logging in .NET" has two sections:

1. Define a logger message
2. Define logger message scope

Somehow the example code for "message scope" ended up in the first section (which caused quite the confusion for me because text and sample don't match). The following code snippets are affected:

and:

and:

Also, at least the text from the third snippet doesn't match the example t

[2020-12-23 14:43] chanmmn commented on #22103
Yes, it can build after I added

  <PropertyGroup>
   <LangVersion>8.0</LangVersion>
 </PropertyGroup>

in csproj file.
Thanks

[2020-12-23 14:43] #22103 closed

[2020-12-23 17:11] adegeo commented on #12542
@StingyJack Sure, but this is the language specification article. It details the keywords and how they're used and essentially documents the language syntax.

[2020-12-23 18:54] #18946 closed

[2020-12-23 19:02] tdykstra commented on #22096
For now, just don't make a VB version for a snippet if it doesn't work in VB, and I'll look into how we want to display that (perhaps a standardized VB code block that just says the feature is not available).

FYI You'll find two approaches to presenting code in the docs -- there's a project for the original doc created for 3.1 and there's a project for the 5.0 additions.  The older project uses s

[2020-12-23 19:13] StingyJack commented on #12542
The objection is with using `goto` in examples, because people copy example code from pages like this.

The other note is related to this proposed feature.

[2020-12-23 22:38] dsplaisted commented on #18946
@jnm2 FYI, try using binlogs and MSBuild Structured Log Viewer to investigate this type of thing in the future: https://msbuildlog.com/

[2020-12-23 23:04] jnm2 commented on #18946
@dsplaisted Thanks for the tip! That's actually what I used to generate the log and preprocess.

[2020-12-23 23:46] dsplaisted commented on #18946
@jnm2 With the log viewer, generally I don't need to preprocess a project unless I'm confused about evaluation order.  The "Find in Files" tab usually works well for me for figuring out what a property does or where logic is that does something specific.

[2020-12-24 00:28] jnm2 commented on #18946
How did I never see that tab!? You made my day, thank you!

[2020-12-24 08:21] moyanming opened #22147 "Can't serializ the '\u3000' when using with UnicodeRanges.All"
The '\u3000' seems can't be serialized when using with UnicodeRanges.All.
BTW, I have tested the [UnicodeRanges.CjkSymbolsandPunctuation](https://docs.microsoft.com/en-us/dotnet/api/system.text.unicode.unicoderanges.cjksymbolsandpunctuation?view=net-5.0) and the '\u3000' can't be serialized too.
![QQ截图20201224162108](https://user-images.githubusercontent.com/13234209/103074165-086b5f00-4604-11eb-9

[2020-12-24 09:58] bryht opened #22148 "dotnet-install.sh cannot get sdks after install"
`curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel 3.1`

I try to use this script to install sdk in a docker image, it seems success
![image](https://user-images.githubusercontent.com/2418508/103080442-23bf7580-45d6-11eb-9fec-4f1dbc147182.png)

but when I use `dotnet --info`, it didn`t show sdks..
![image](https://user-images.githubusercontent.com/2418508/103080573-6550208

[2020-12-24 13:11] TysonMN opened #22149 "Classes vs class fields"
I think it is obvious that record fields and _classes_ are different.  Instead, I think the intention here is to contrast record fields with _class fields_.

If this is the intention, then I can create a PR to replace "classes" with "class fields".

[2020-12-24 15:13] svick commented on #22119
When I copy code from the sample that contains that query, it compiles fine for me in VS 16.9 Preview 2 when targeting .Net Framework 4.8. Can you share all the code you're compiling? Do you get any other errors or warnings?

[2020-12-24 19:05] robbell opened #22150 "Delimiter for PackageTags"
The documentation suggests that `PackageTags` should be space delimited, but every example I've seen is semi-colon delimited. Can you confirm which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2b4abb-c382-17ef-f1f3-1413ee27aaa0
* Version Independent ID: 4d4bb4d2-a8f4-f142-7154-40ce7fc7ae32
* Content: [N

[2020-12-24 19:54] robbell commented on #22150
Created PR #22151 to fix. Other documentation suggests that `PackageTags` should be semicolon-delimited: https://docs.microsoft.com/en-us/dotnet/core/tools/csproj

[2020-12-25 04:29] paul1956 commented on #22096
@tyclintw I ported both and if I suppress the Obsolete error, (almost) all the code from both paths run in VB without error, the few that don't are bugs in my port that I need to resolve. Without that suppression very few run at all and would require significate rewriting and probably a different article just focused on how to use the library with VB and many of the performance comments would not

[2020-12-25 05:26] CyrusNajmabadi commented on #22096
We absolutely should not doc this for vb using suppression of the obsolete attribute. That is definitely not at all what we would want people to do. Please do not publish docs that do that under any circumstances.

[2020-12-25 06:28] paul1956 commented on #22096
@tdykstra @CyrusNajmabadi that is why I copied you and based on that I don't think documenting this article for VB is correct either.

[2020-12-25 10:28] MashaSamoylova opened #22155 "Incorrect data from the Microsoft-Windows-DotNETRuntime ETW provider"
**Data sent by the Microsoft-Windows-DotNETRuntime ETW provider doesn't match event description from the [docs]( https://github.com/dotnet/docs/blob/e124c6d528a487a2332c81940ea8a9057f5fc88f/docs/framework/performance/loader-etw-events.md)**

We are trying to read events from the Microsoft-Windows-DotNETRuntime ETW provider via ETW sessions in the following way:
- open Event Trace session and set e

[2020-12-25 10:52] svick opened #22156 "Update Escaping braces with .Net Core 3.0 change"
Because of https://github.com/dotnet/runtime/issues/28649, .Net Core 3.0 changed how braces are escaped, which means that the Escaping Braces section of this article is now outdated and should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b5f5c7-99f8-e112-a3f4-691548e8fc06
* Version Independent ID: e4b0d

[2020-12-25 11:48] PathogenDavid commented on #22156
(See also, related discussion: https://github.com/dotnet/roslyn/issues/50082)

Care should be taken when updating these docs since the old behavior is still required in projects targeting older runtimes or anything that's multi-targeted.

Not sure what the precedent is here (if there even is one), but my gut says that everything following and including "The way escaped braces are interpreted can l

[2020-12-25 12:26] Youssef1313 commented on #22156
@gewarren Plus updating the article, should this also be added to the .NET API breaking changes?

[2020-12-25 12:36] svick commented on #22030
I don't think custom `TryParse`-like methods should catch general `Exception`, because the `Try` pattern doesn't mean converting all exceptions to a `false` return value. For example, [the `int.TryParse (string, NumberStyles, IFormatProvider, out int)` overload](https://docs.microsoft.com/en-us/dotnet/api/system.int32.tryparse?view=net-5.0#System_Int32_TryParse_System_String_System_Globalization_N

[2020-12-25 21:27] ScottStabb opened #22157 "Incorrect code example"
This code example has a small error

foreach (int element in fibNumbers)
{
    count++;
    Console.WriteLine($"Element #{count}: {element}");
}

The output displays Element #1: 0.
This is incorrect as lists are zero based, so this is element 0.

While this seems basic, it threw me as I'm just learning C#, and while I thought lists were zero based, I had to stop and spend time trying to understand

[2020-12-25 21:31] atrauzzi commented on #22008
I think both your points merit investigation.  The first one for sure, with the 2nd idea of introducing a single API & resource concept for all platforms in the .net ecosystem being definitely a good way to go.

Whatever WPF is using and whatever were known as embedded resources prior to it, they've become ambiguous and with the idea that .net 5 is supposed to be a harmonization of all platforms,

[2020-12-25 21:57] HalHaynes opened #22158 "But what happened to my eggs, bacon, and toast?"
In the original synchronous scenario, once our eggs, bacon, and toast had been announced, we actually had some eggs, bacon, and toast to enjoy. By the time we reach the end, we're executing async tasks that return eggs, bacon, and toast, and we announce the readiness of the eggs, bacon, and toast, but once our WhenAny loop is done we find that we've never *retrieved* the eggs, bacon, and toast fro

[2020-12-26 01:31] HalHaynes commented on #22158
Is this the answer? Enhance
[code]
as follows
[code]
? I think this is the answer implied several pages later, [here](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete). Is it that once a Task has completed, it can be `await`ed additional times, still resolving each time to the result already arrived at?

[2020-12-26 05:01] brettrowberry commented on #16177
Hopefully, after #22159 all the instructions needed to contribute will be contained in https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/compiler-messages/ and in this repository itself.

[2020-12-26 12:57] Youssef1313 commented on #22082
In #22158, I noticed it was only labeled after the comment https://github.com/dotnet/docs/issues/22158#issuecomment-751307388. I'm not sure why, but I'd guess it uses ML and was only able to label the issue after that comment.

[2020-12-26 16:07] Youssef1313 opened #22160 "CA1024 example is C#-only"
The last snippet in this docs page is currently C#-only. A parallel VB snippet needs to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a179bb9e-510b-27ca-0bd9-4cca0d253faf
* Version Independent ID: 0fa225dd-442f-0fd6-31ff-f14d8e8c8b22
* Content: [CA1024: Use properties where appropriate (code analysis) - .NET

[2020-12-26 21:27] tdykstra commented on #22096
@paul1956 Do you have the converted VB code in a repository where I can take a look and see what is showing up as obsolete?

[2020-12-26 21:41] paul1956 commented on #22096
I have it on my local machine. I can push in about an hour. I will not do a PR. So it will be on https://github.com/paul1956/docs. There are now VisualBasic directories for both snippets with project files.

[2020-12-26 22:58] paul1956 commented on #22096
@tdykstra I posted it, let me know if you have any questions, just search for
[code]
to see all the places I needed to use the workaround. Most of the examples run a few don't because port is not complete, they pointed too issues with converter that I am fixing and I am not working on this for now because of the Obsolete issue.

[2020-12-26 23:20] kaylumah opened #22161 "EditorConfig Docs differs from VS2019 templates"
Hi,

Not sure if this is the right place to report / ask this question, so perhaps it is better suited as a discussion.
The default .editorconfig different from the one generated by Visual Studio as described here https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2019
Not only the section descriptions and the amount of sections differ, but the settings

[2020-12-27 02:03] tdykstra commented on #22096
@layomia what guidance should we give regarding System.Text.Json use in Visual Basic? Trying to convert existing C# projects to VB results in many BC40000 obsolete warnings (which indicate user-defined types are obsolete, not STJ APIs), some of which seem to result from root cause errors like this one:

Most of the translated code runs successfully when the BC40000 errors are ignored.

[2020-12-27 03:29] paul1956 commented on #22096
@layomia I would say all will work correctly what doesn't currently work is due to translation errors caused by automatic translation. They would need to be manually fixed before I would do a PR (which as of now I am not doing). This was only posted in this state so @tdykstra could review. There are also all kind of formatting issues.

[2020-12-27 05:43] CyrusNajmabadi commented on #22096
Please see: https://github.com/dotnet/docs/issues/22096#issuecomment-751174985

These types are marked as Obsolete precisely so they are not used from languages that we haven't added explicit ref-struct support for.  That includes VB.

Yes.  This is the expected behavior.  These APis are *not* supported from languages that do not have ref-struct support.  We should not doc otherwise as that could

[2020-12-27 10:17] tweing opened #22162 "Please update description to .net 5.0"
Please update to .net 5.0, since it doesn't work the way it is documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version Independent ID: 58d57b81-4ca6-6536-8788-f212402b41a7
* Content: [Containerize an app with Docker tutorial - .NET](https://docs.microsoft.com/en-us

[2020-12-27 10:28] olugt commented on #4973
I followed this from the other issue about Azure Functions. I am commenting only on the aspect about when to use `async` and `await` versus `Task` (with or without async-await).

What I know is that if you're returning `Task.FromResult(somethingToReturn)` the method can simply return `Task<TypeOfSomethingToReturn>` without using `async` and `await` keywords. This is also because not all long-runni

[2020-12-27 16:26] santhoshrajr commented on #17163
Hello. I am planning on picking this issue. I have gone through the discussion and I figured out that I need to add this [link](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/covariance-contravariance/creating-variant-generic-interfaces) about in and out inside the see also section of [Constraints on type parameters - C# Programming Guide](https://docs.microsoft.com/en-u

[2020-12-27 17:46] AgostinoX opened #22163 "type matching, they talk about 4 cases but aren't the 2nd and the 3rd identical?"
They say there are 4 cases for type pattern matching. But the second and the third seem to me to be identical:

2. expr is an instance of a type that derives from type. In other words, the result of expr can be upcast to an instance of type.

3. expr has a compile-time type that is a base class of type, and expr has a runtime type that is type or is derived from type. The compile-time type of a va

[2020-12-27 21:52] tarekgh commented on #22008
I am not sure I agree with your analysis here. It is not a bad thing to offer more fixability by providing more ways to include resources in platforms like WPF. I think it is matter of having a clear guidelines and documentation when to use which type of resources at which time. that is why I moved the issue to the documentation in the first place.

The .NET core resource model is built over the e

[2020-12-28 01:16] tdykstra commented on #22096
@CyrusNajmabadi Thanks for the explanation. It sounds like we should simply advise against using System.Text.Json with VB. For VB users it would be helpful if we could give a better error message than BC40000 obsolete.

[2020-12-28 01:54] CyrusNajmabadi commented on #22096
Agreed. However, this was done to prevent older compilers (including c#) from using these. The only way to get an older compiler to reject it is to use something they recognize is not allowed. In the car 'Obsolete'

[2020-12-28 08:31] ScottFerg56 commented on #11312
I'm trying to work around this problem in a program migration to .NET 5.0 where the output of "-0" to files is an unacceptable compatibility break and displaying "-0" to an end user is unacceptable behavior. I had hoped that a multiple-section custom numeric format would be a viable, albeit costly, solution. From [Custom numeric format strings](https://docs.microsoft.com/en-us/dotnet/standard/base

[2020-12-28 17:12] cdomino opened #22165 "Mention @attribute [Route()] As A Dynamic Alternative to @page"
Good Morning!

Please see the GitHub conversation [here](https://github.com/dotnet/aspnetcore/issues/28827) regarding the ability to use constants in Blazor "page" routing. I think the attribute directive should be mentioned in this doc as it is more dynamic and intuitive for developers to think of these as routable Blazor components than physical pages.

Thanks so much!
---
#### Document Details

[2020-12-28 17:44] Tyrrrz opened #22166 "OSS assembly strong naming: add links to public projects that can be used as reference"
As an open source developer, I want to add strong naming to my library (actually I don't, but my users apparently do). The existing doc at https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming is really nice, but it would be nice if it included some links to existing OSS projects that use strong naming, so that I would be able to see how the `csproj` and devops is set up.

[2020-12-28 20:08] Matti-Koopa commented on #22030
I don't think that's how `Try`-like-methods are used though. Usually they are used especially to make sure it doesn't cause an exception. There are usually normal `Parse`-methods also available. If you only catch exceptions you expect to occur, you leave exception handling to your APIs user again. So the user itself needs to wrap the call in a try-catch. At that point he might as well just use `Pa

[2020-12-28 20:26] svick commented on #22030
@Matti-Koopa You generally don't want to catch exceptions that indicate you have a bug in your code.

[2020-12-29 05:03] darkoverlordofdata opened #22168 "Examples don't woek:"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836d726d-1f95-51e7-c5c3-a7200adc5772
* Version Independent ID: 3e9e6e89-7017-7a7c-faea-4c0e76cef442
* Content: [Get started with F# with command-line tools](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line)
* Content

[2020-12-29 05:04] darkoverlordofdata opened #22169 "examples don't work -"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836d726d-1f95-51e7-c5c3-a7200adc5772
* Version Independent ID: 3e9e6e89-7017-7a7c-faea-4c0e76cef442
* Content: [Get started with F# with command-line tools](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line)
* Content

[2020-12-29 05:05] darkoverlordofdata opened #22170 "example doesn't work"
[Enter feedback here]
[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836d726d-1f95-51e7-c5c3-a7200adc5772
* Version Independent ID: 3e9e6e89-7017-7a7c-faea-4c0e76cef442
* Content: [Get started with F# with command-line tools](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line)
* Conte

[2020-12-29 05:37] cartermp commented on #22169
closing as dupe of https://github.com/dotnet/docs/issues/22170

[2020-12-29 05:37] #22169 closed

[2020-12-29 05:37] cartermp commented on #22168
closing as dupe of https://github.com/dotnet/docs/issues/22170

[2020-12-29 05:37] #22168 closed

[2020-12-29 05:39] cartermp commented on #22170
Are you using the .NET 5 SDK?

[2020-12-29 06:44] sandersaares opened #22171 "How to configure trace switches in ASP.NET Core apps?"
The page on trace switches says to use app.config/web.config. However, this file does not exist in ASP.NET Core and instead we have a completely differently structured appsettings.json by default.

So how is one meant to configure trace switches in ASP.NET Core apps? This is not understandable right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-12-29 11:21] xanatos opened #22173 "Off by one"
This sentence is wrong. The maximum _size_ in any single dimension is... In C# an array of size 10 has indexes 0...9 (included), so the maximum index is the size - 1.

    var test = new byte[2147483591];

works (and has maximum index 2147483590)

    var test = new byte[2147483591 + 1];

throws `OutOfMemoryException`

The same happens for types with bigger size (and that use the other limit):

[2020-12-29 16:57] voltes-five opened #22176 "what worked for me was deleting the obj folder 1st"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d963a62-6144-7ac0-3c60-7ca63dd8da25
* Version Independent ID: d4a572b0-3a21-8d0d-5709-75e4708d7f6c
* Content: [NETSDK1005 and NETSDK1047: Asset file is missing target - .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/sdk-errors/netsdk1005)
* Content Source: [d

[2020-12-29 17:12] justin368 opened #22177 "The following C# snippet, uses ValueTuple<string, long> to project into."
**Issue description**
The code displayed must be incorrect.

Just below: The following C# snippet, uses ValueTuple<string, long> to project into.

The code seems to not reference tuples, or ValueTuples in this case.

[2020-12-29 17:24] StingyJack opened #22178 "Where is the explanation of the severity levels?"
On the TextEditor -> C# -> CodeStyle -> Formatting -> Naming config page there is a “Refactoring Only” option for Severity. What does it do?
![image](https://user-images.githubusercontent.com/15381181/103302098-d0339a00-49d0-11eb-85be-51f7f7cb0fdc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8c8357d-11a6-6f12-b

[2020-12-29 17:35] justin368 commented on #22119
I apologize for the inconvenience but I forgot a 'Many' in the TransformManyBlock code.. no further issue/this should be closed.

[2020-12-29 17:35] #22119 closed

[2020-12-29 18:54] hallambaker opened #22179 "The specification needs a bit more detail on order."
I really like this feature. But I need more details about the order in which module initialization takes place.

In particular, let us say I have a base library that is the same for every system and a separate platform specific library which overrides certain delegates in the base library.

This is a pattern that recurs frequently. I might have a catalog of encryption or compression or document pa

[2020-12-29 20:26] mohafifi opened #22180 "Incorrect example output on page."
The commented output of the second example of continuation with child tasks (detached) is incorrect.
The example shows the following output: (which seems to be just copied by mistake from the previous example)

// The example displays the similar output:
//     Running antecedent task 1...
//     Launching attached child tasks...
//     Finished launching detached child tasks...
//        Attached

[2020-12-29 22:10] ajkimberley opened #22181 "Dynamic Programming in Net Core"
I can't seem to find a similar guide/article on Dynamic Programming in .Net Core. Does one exist? If so, it would be good to provide a link from this article to that one. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6179c09e-4a12-e0bc-a599-bbddad5bbc99
* Version Independent ID: d4baad38-e5e4-e247-9465-ed12580

[2020-12-30 02:26] dennistouchet opened #22183 "Analyzer Project template does not line up with the tutorial."
With a fresh install of Visual Studio Enterprise 2019 Version 16.8.3
on Windows 10 Pro Build 19042.630

When working through the tutorial, I am unable to get it to work after the initial analyzer setup. The test project, especially, looks nothing like what is shown in the tutorial.

Example of template test method (note the asserts at the end, specifically):
![TestMethod](https://user-images.githu

[2020-12-30 07:44] EdmundoMartinez opened #22184 "Hello ML.NET World doesn't specify NuGet requirements"
The Hello ML.NET World example doesn't mention that when using .Net Core the NuGet Microsoft.ML should be installed.
This would sound pretty basic, but having an example that works is very important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edace175-268c-7428-dad5-95cd974422c3
* Version Independent ID: 707aed84-b

[2020-12-30 13:19] sughosneo commented on #22058
Hi @StingyJack , thank you for the feedback and suggestions 👍  We will try to consider this in future updates.

[2020-12-30 21:40] dennistouchet commented on #22178
I will check this out as soon as I have a moment, but maybe it's an option that only appears in the `Context Menu` under `refactor`?

[2020-12-31 01:11] StingyJack opened #22188 "This page discusses TAP, but doesn't use the async keyword"
That would seem to be important, as the return type does not dictate synchrony, only the presence or absence of the `async` modifier.  Suffixing a method name with "Async" that does not have that modifier is misinforming and confusing callers.

Async is recommended in the name because the keyword is not permitted in interface definitions, and it carries a significant shift for non async callers to

[2020-12-31 02:47] AceLearnGit opened #22189 "tooltip placement behavior wrong"
Hi,
I set a tooltip of a ctrl,and set tooltipservice.placement="bottom", as the doc says,  the tooltip should be place at bottom of target and align left with target, but i got wrong display , the tooltip align right with target. I test other placement,it seems left and right are opposite in my pc. More, it looks  correct in design window,but wrong if run my exe.  I run my exe in my friend's pc, h

[2020-12-31 02:55] HailstormShall opened #22190 "Hey，Don't making things more confusing."
You guys are just introducing more chaos than elegance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 874ea00d-6ec4-55f4-f0e3-e818d21454c7
* Version Independent ID: 98072328-af31-5bc6-9ba4-1353328d5f10
* Content: [Expression-bodied members - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programm

[2020-12-31 04:40] gundumon opened #22191 "code smell - invalid link"
The code smell link - https://deviq.com/code-smells/ - returns 404 Not Found. The correct link is https://deviq.com/antipatterns/code-smells.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7c91ccc35779
* Content: [Using Enumeration c

[2020-12-31 07:50] lxman opened #22193 ".NET install on Ubuntu 20.04"
I am not certain about the other distros or even about other versions of Ubuntu, but one of the steps listed in the install process is:

```wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -o packages-microsoft-prod.deb```

running this on Ubuntu server 20.04 ends up producing two files:

```packages-microsoft-prod.deb``` and ```packages-microsoft-products.deb.1`

[2020-12-31 10:48] mberginbh opened #22194 "Document that there are some code style rules that cannot be enforced on build"
Is it worth documenting that there are some code style rules that cannot be enforced on build, even with EnforceCodeStyleInBuild set to true and the severity set appropriately?

See: https://github.com/dotnet/roslyn/issues/50173

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8906b2c-b984-0427-d064-829e7ea2fc55
* Versi

[2020-12-31 12:51] paulomorgado commented on #16084
It has been now more than 1 year since this issue was open.

https://www.microsoft.com/en-us/download/details.aspx?id=16273 is now 404!

[2020-12-31 13:09] Dedigraz opened #22195 "I'm wondering if it's possible to implement a custom algorithm using ml.net"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d25e646e-45cc-2edf-4ba0-9440b80a50a5
* Version Independent ID: fa1051ca-bf71-f12d-1f6c-f43220d460cb
* Content: [How to choose an ML.NET algorithm - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-choose-an-ml-net-algorithm)
* C

[2020-12-31 14:02] Evangelink opened #22196 "Miscellaneous page is missing an overview section/page"
Each sub-category of this page (except the miscellaneous) has an overview page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0a396c1-9c21-75a9-70b5-799cafc941b5
* Version Independent ID: 6d91b560-c12f-6e6d-e92b-1babb27edb67
* Content: [Code style rules overview - .NET](https://docs.microsoft.com/en-us/dotnet/fundame

[2020-12-31 16:41] nojaf opened #22197 "Avoid name-sensitive alignment in pattern match expression"
Hello,

In Fantomas issue https://github.com/fsprojects/fantomas/issues/1303 it was raised that the formatted result was violating the [Avoid name-sensitive alignments](https://github.com/dotnet/docs/blob/master/docs/fsharp/style-guide/formatting.md#avoid-name-sensitive-alignments) rule.

The following code would be violating this rule:

[code]

I would expect that to solve this the same style as

[2021-01-01 08:41] #22176 closed

[2021-01-01 14:29] Youssef1313 commented on #22191
@ardalis, You probably missed a redirect on your website for this.

[2021-01-01 14:33] Youssef1313 commented on #22191
I opened a PR to add redirect for this, we also should update the link here to avoid redirection.

[2021-01-01 23:00] large opened #22200 "Refers to Mutex Constructor that does not exists in .Net 5.0"
Page refers to  Mutex(Boolean, String, Boolean, MutexSecurity), this constructor does not exists in .NET 5.0:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.mutex.-ctor?view=net-5.0#System_Threading_Mutex__ctor_System_Boolean_System_String_System_Boolean__System_Security_AccessControl_MutexSecurity_

All ACL connections on Mutex seems gone in .NET 5.0

---
#### Document Details

⚠ *D

[2021-01-02 01:39] #22038 closed

[2021-01-02 07:55] Arnab-Developer opened #22203 ".NET Core runtime download components in introduction.md file."
**Issue description**

It is clear from the introduction.md documentation file that what is included in SDK download but not clear what is included in runtime download. So it needs to be mentioned in the documentation.

**Target framework**

- [x] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-01-03 07:53] KaiDevrim opened #22204 "byteArray does not exist"
[Enter feedback here]
There is no object called ByteArray. Instead change it to making a new variable of byte[] called byteArray. Many people will thinking that their is a keyword called byteArray and get confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a7ce223-b955-7f50-6b53-15585c68f02d
* Version Independent

[2021-01-03 15:39] mebrein opened #22206 "Type provider example does not seem to work"
Type provider example does not seem to work. It seems to be not compatible with target net5.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3514796-1d23-6213-51c8-a90e399a5afd
* Version Independent ID: 518ea6eb-b99d-deac-eca3-4a2be6b4baa9
* Content: [Query Expressions - F#](https://docs.microsoft.com/en-us/dotnet/fs

[2021-01-03 18:05] ardalis commented on #22191
Thanks for the redirect fix on the site, @Youssef1313 ! I've created a PR to update the link to the new URL.

[2021-01-03 18:43] RobertHenry6bev opened #22208 "Missing word in r2r/aot docs"
In the section https://docs.microsoft.com/en-us/dotnet/core/deploying/ready-to-run#how-is-the-set-of-methods-to-precompile-chosen there's a sentence that reads:

However various reasons it is not expected that using the ReadyToRun feature will result in preventing the JIT from executing.

This sentence does not scan.  Perhaps it would be better: written as: However, for various reasons, it is not

[2021-01-03 19:02] Avispa commented on #20459
I can confirm that the _**security** update_ is still not available.

@adegeo Don't pass it anywhere, just re-upload the file or fix the link.

In case you lost it, you can download it from [web.archive.org](http://web.archive.org). Maybe consider to make a big donation to the [Internet Archive](https://archive.org/donate/) since *they* manage to to keep *your* security patches available and by th

[2021-01-04 11:09] Bip901 opened #22209 "Incomplete list of possible case endings"
The linked document claims that

However, it's also possible to end a case with a `throw`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1f2a2fe-8279-e6b3-93e8-33398167655f
* Version Independent ID: 35191215-988f-3700-1f85-4751711f692e
* Content: [Pattern Matching - C# Guide](https://docs.microsoft.com/en-us/dotnet/c

[2021-01-04 12:55] #21981 closed

[2021-01-04 13:09] IEvangelist commented on #22134
Hi 👋 @skrysmanski
Thank you so much for posting this issue. We really appreciate it. You are correct, I'll update the docs accordingly.

[2021-01-04 13:32] IEvangelist commented on #22137
Hi again @skrysmanski - thank you so much for this, it's much appreciated. I'll work on correcting this straight away.

[2021-01-04 13:57] BillWagner commented on #22049
Thank you to everyone for your patience while we enjoyed a break. Our team sends its heartfelt thanks for our all your contributions, PRs, issues, and comments during the last year. We wish you the best for the coming year.

Most of us are back starting today. Our normal cadence for review, triage and publishing will resume.

Happy new year! 🥳

[2021-01-04 13:57] #22049 closed

[2021-01-04 16:21] BillWagner commented on #21128
Ping @marek-safar for the best person to answer.

[2021-01-04 16:25] BillWagner commented on #21579
@quickbasic22

Can you provide a few examples of what would be helpful here? In general, the powershell examples would be very similar to any other LINQ data access. For that reason, we won't duplicate all the examples and code. Instead, we do want to provide enough context to make it clear how to use LINQ in powershell scripts.

[2021-01-04 16:25] BillWagner commented on #22067
Thanks for the compliments @ddDerelict

Closing as kudos.

[2021-01-04 16:25] #22067 closed

[2021-01-04 16:27] BillWagner commented on #22082
I'll close this. First, @adegeo made some changes to our bot and that fixed many of the timing issues, and added a few other features. There's also an internal work item for the site engineering team on the PRMerger bot not always assigning areas correctly.

[2021-01-04 16:27] #22082 closed

[2021-01-04 16:29] BillWagner commented on #22105
See dotnet/samples#4072 for one example. There are others that still exist in our samples.

[2021-01-04 16:40] BillWagner commented on #22115
Thanks for all the details @theundergroundsorcerer

We are working on this in a few different ways.

(As @svick mentions), the ECMA committee is working to update the official standard from V5.0 to the present. We will be opening a public repo for that soon, and that will provide the definitive source for the language definition. (I'm on that committee as well as being responsible for the docs her

[2021-01-04 16:41] BillWagner commented on #22149
Thanks for spotting this @TysonMN Yes, I'd appreciate a PR to fix this issue.

[2021-01-04 16:44] gewarren commented on #22042
Reopening because the actual OP did respond.

[2021-01-04 16:45] BillWagner commented on #22157
Thanks for noting this @ScottStabb

I just opened PR #22214 to fix this issue.

[2021-01-04 16:47] gewarren commented on #22196
Also, the subpages for Naming rules and Formatting rules should just be moved to their parent node in the TOC.

[2021-01-04 16:50] BillWagner commented on #22158
Thanks for writing this @HalHaynes

Yes, your analysis is correct. The changes you make do retrieve the result (your food) from the completed task. We'll update the article to include this.

[2021-01-04 17:11] gewarren commented on #22178
This info would be more appropriate in the VS docs, perhaps in [this section](https://docs.microsoft.com/en-us/visualstudio/ide/code-styles-and-code-cleanup?toc=%2Fvisualstudio%2Fcode-quality%2Ftoc.json&view=vs-2019#code-styles-in-the-options-dialog-box). Also, there's a link to what severity levels mean in the VS IDE in the green Tip box [here](https://docs.microsoft.com/en-us/dotnet/fundamentals

[2021-01-04 17:15] StingyJack commented on #22178
@gewarren  that page does have some of the info I needed but I still dont see what "Refactoring Only" means or does.  When searching for "Refactoring Only" in all of MS VS IDE documentation this article is the only mention of it.

[2021-01-04 17:29] gewarren commented on #22178
Here's the [VS descriptions](https://github.com/MicrosoftDocs/visualstudio-docs-pr/blob/release-16.7/docs/ide/editorconfig-language-conventions.md#severity-levels) that have since been deleted. The "Refactoring Only" option corresponds to "silent" in this table.

[2021-01-04 17:32] Mikejo5000 commented on #22178
Looks fine to transfer this, Genevieve.

[2021-01-04 17:42] gewarren commented on #22178
This issue was moved to MicrosoftDocs/visualstudio-docs#6263

[2021-01-04 17:42] #22178 closed

[2021-01-04 17:46] BillWagner commented on #22163
Thanks for writing this @AgostinoX They are different cases, but we can explain it better.

The following is an example of case 2:

[code]

The following is an example of case 3:

[code]

I'll leave this in our backlog to make the existing explanation more clear.

[2021-01-04 17:47] BillWagner commented on #22177
Thanks for writing this @justin368

Can you add a link to the specific article you were looking at?

[2021-01-04 18:03] #22149 closed

[2021-01-04 18:08] #18191 closed

[2021-01-04 18:16] BillWagner commented on #22179
Adding @jcouv and @RikkiGibson to verify my thoughts below.

I think the combination of [the runtime spec](https://github.com/dotnet/runtime/blob/master/docs/design/specs/Ecma-335-Augments.md#module-initializer), the C# rules on static constructors, and the module initializer spec provide the behavior you are relying on here.

Your specific question is:

I don't think this is guaranteed, but I'm n

[2021-01-04 18:17] BillWagner commented on #22183
Thanks for noting this @dennistouchet

This article needs to be updated to match the current templates.

[2021-01-04 18:21] BillWagner commented on #22190
I'm closing this, as the article accurately reflects the language features.

@HailstormShall The [dotnet/csharplang](https://github.com/dotnet/csharplang) repository is where discussions on language features take place. This one has already been discussed, approved, and released, so it won't be changing. However, you can add your voice to ongoing discussions for the future.

[2021-01-04 18:21] #22190 closed

[2021-01-04 18:28] BillWagner commented on #22209
Thanks for writing this @Bip901

You're correct. `throw` would also be valid. We'll add this to our backlog to fix.

[2021-01-04 19:47] karelz commented on #22204
It is part of the full example below. Isn't that sufficient?

[2021-01-04 20:31] tdykstra commented on #22148
cc @bozturkMSFT

[2021-01-04 20:39] tdykstra commented on #22147
cc @GrabYourPitchforks

[2021-01-04 21:07] #22157 closed

[2021-01-04 21:13] #22191 closed

[2021-01-04 21:18] tdykstra commented on #22097
@unitrix0 The behavior referred to in https://github.com/nuget/home/issues/6118 is documented in the article after the text that mentions the automatic build:

[code]

[2021-01-04 22:31] tdykstra commented on #22096
@paul1956 I'm sorry about the time you spent converting the snippets to VB - I didn't know about the ref struct issue when I said go ahead.  I've created a PR to add a note that explains the BC40000 errors and advises against using System.Text.Json with VB.

[2021-01-04 23:08] paul1956 commented on #22096
There may be some functions in the library usable by VB but the article would need a rewrite because they are not the high performance ones.

[2021-01-04 23:42] tdykstra commented on #21725
Fix for this was included in #21626

[2021-01-04 23:42] #21725 closed

[2021-01-05 00:04] tdykstra commented on #21597
`ResetConsole` is defined within the `Main` method, so `row` is accessible in it.  Is it possible you placed an extra end curly brace before the `ResetConsole` declaration?

[2021-01-05 01:21] gewarren commented on #22156
https://github.com/dotnet/coreclr/pull/23062 is not labeled as a breaking change, so I don't think so.

[2021-01-05 01:46] gewarren commented on #22161
The example file at https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options?view=vs-2019#example-editorconfig-file should really just show the code style conventions for C# and Visual Basic, as that is the intention of that page. The VS page you linked to is geared more towards the general concept of an EditorConfig file, so I would use that template, especially

[2021-01-05 03:09] Jozkee commented on #21777
Assuming that you wrote a custom converter for `Company` and you don't want to manually serialize the `Supervisor`, which is an `Employee`. you want to delegate that to the Serializer and you also want to preserve the references that you have already saved.
https://gist.github.com/Jozkee/88ac585c1912f6a3c6816254cecc54b5

Assuming that you have a list of `Employee`s and you have to serialize each o

[2021-01-05 04:56] akshaykolhapure995c opened #22223 "Reflection In DotNet"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6179c09e-4a12-e0bc-a599-bbddad5bbc99
* Version Independent ID: d4baad38-e5e4-e247-9465-ed125804dc16
* Content: [Reflection in .NET](https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-codedom/reflection)
* Content Source: [docs/framework/

[2021-01-05 08:13] Youssef1313 commented on #22156
I'm not sure why it wasn't labeled as a breaking change. It *does* seem like a breaking change to me.

The comment https://github.com/dotnet/runtime/issues/28649#issuecomment-469056758 states that this change:

However, it's still a breaking change even if such code isn't likely to exist in real projects.

I'd like the runtime team to review whether this should be doc'ed as breaking change or not.

[2021-01-05 08:36] umutlaguler commented on #6408
You should have an extension about .NET after that you can see the .NET in command pallette. I added .NET Core Extension Pack and my problem solved

[2021-01-05 10:07] tawfik93 opened #22225 "شسي"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c89966aa-b155-c98a-2391-47e01d468236
* Version Independent ID: de902eee-6f6b-3ccd-4dbf-1cc174daa806
* Content: [Troubleshooting 'This application could not be started'](https://docs.microsoft.com/en-us/dotnet/framework/install/application-not-started?

[2021-01-05 11:22] tanveerbadar opened #22226 "Misleading examples"
None of the WCF examples actually show streaming, which would be methods taking and returning Stream objects.

Were the authors actually familiar with WCF at all before birthing this travesty?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe81680b-19cb-100e-65e0-670d5186a555
* Version Independent ID: b60a0691-8c34-d1e

[2021-01-05 12:57] bozturkMSFT commented on #22148
Hi @bryht,
 According to the logs you shared, script is installing the SDK into `/root/.dotnet`. However, when you run `dotnet --info` you are running the executable located under `/usr/share/dotnet`.

 To access the SDK that you installed with the scripts, use `./root/.dotnet/dotnet --info` or manually add `/root/.dotnet` to your PATH.
 Let me know if this helps.

[2021-01-05 13:22] bryht commented on #22148
it works, thank you.

[2021-01-05 13:22] #22148 closed

[2021-01-05 14:14] #21501 closed

[2021-01-05 15:18] #20773 closed

[2021-01-05 16:28] marek-safar commented on #21128
https://www.mono-project.com/docs/about-mono/languages/csharp/ is the most accurate status C# support in mcs (Mono C# compiler). However, recent Mono versions ship with csc (Roslyn C# compiler) as the default C# compiler. You can see which version of Roslyn is available in each Mono release at https://www.mono-project.com/docs/about-mono/versioning/#mono-source-versioning

[2021-01-05 16:59] gewarren commented on #22171
@sandersaares This article applies to .NET Framework and not .NET Core/5. For configuring logging in ASP.NET Core, see [this section](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0#configure-logging). Also tagging @Rick-Anderson in case he has further comment.

[2021-01-05 18:22] gewarren commented on #22173
@xanatos Thank you for logging this. I have a PR to fix it.

[2021-01-05 18:38] jvanlangen opened #22232 "Parallel.ForEach should not be used for IO bound tasks."
I think using Parallel.ForEach on things that uses IO, is not a good example. I would restrict it to CPU bound processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25dcc671-50d5-032b-735c-2ac9b6a21338
* Version Independent ID: c70450e1-1006-7478-fcca-45c8bfbe2c09
* Content: [Write a simple parallel program using

[2021-01-05 18:57] tdykstra commented on #22097
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2021-01-05 18:57] #22097 closed

[2021-01-05 18:58] tdykstra commented on #21833
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2021-01-05 18:58] #21833 closed

[2021-01-05 19:25] adegeo commented on #22193
@lxman You should have a capital `-O` not a lowercase `-o` in that command.

[2021-01-05 19:26] adegeo commented on #22193
I believe this will solve your problem. I'm going to close this issue.

[2021-01-05 19:26] #22193 closed

[2021-01-05 20:00] IEvangelist commented on #22232
Hi @jvanlangen - I agree, the example should be CPU bound and not IO. I'm updating this to be an "up for grabs", feel free to create a pull request changing this and I'll happily review it. Otherwise, I'll try to get to it. Thanks again

[2021-01-05 20:26] maxhamulyak commented on #22161
Thanks for the clarification!

This would mean that after you update it, it no longer matters right? :-)

Regarding the file extensions it was mainly because the VS generated one also targets *, vb csx etc.

Do you know if there is an easy way to discover new setting? Or some feed I can subscribe too? Because especially with the new analyser support I would love to used these more.

[2021-01-05 20:27] maxhamulyak commented on #22161
As an aside, vs2019 also has "plain" template which takes care of XML for example.
Might be worth while to include that for *proj (csproj etc.) as well so the indentation in those files would be correct.

[2021-01-05 21:01] gewarren commented on #22161
To make a suggestion for VS, [this is the best place](https://developercommunity2.visualstudio.com/report?entry=suggestion&space=8).

[2021-01-05 21:02] gewarren commented on #22161
@mavasani Can you answer that question?

[2021-01-05 21:19] mavasani commented on #22161
Tagging @mikadumont - I believe any new code style setting being added is documented with release notes. Additionally, all the supported code style options should also be documented at https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/language-rules#net-style-rules

[2021-01-05 21:26] nkolev92 commented on #21036
I think `https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-push#options` is up to date.

It's required when `defaultPushSource` is not specified in the config files.

https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#config-section

[2021-01-05 21:31] tdykstra commented on #16657
Closing, will replace with individual issues to add samples as we get requests for them.

[2021-01-05 21:31] #16657 closed

[2021-01-05 21:33] tdykstra commented on #15805
Closing, will replace with individual issues to add samples as we get requests for them.

[2021-01-05 21:33] #15805 closed

[2021-01-05 21:54] tdykstra commented on #21036
@nkolev92 Thanks!

[2021-01-05 21:56] gewarren commented on #22225
This appears to be spam. Please let us know if you have specific feedback about an article.

[2021-01-05 21:56] #22225 closed

[2021-01-05 22:04] karelz commented on #14310
FYI: @wfurt

[2021-01-05 22:57] adegeo commented on #20459
I got some clarifications on what has happened. The old patches were removed because they are all signed with SHA-1 certificates, which are no longer secure due to shatter attacks. Microsoft as a whole has moved on to SHA-256 security and thus there was a company-wide effort to remove SHA-1 stuff.

However, there are newer patches which have been reported as including the fixes required to install

[2021-01-06 00:52] gewarren commented on #22200
That constructor as well as GetAccessControl and SetAccessControl don't exist in any .NET Core versions.

[2021-01-06 01:15] gewarren commented on #22189
This issue was moved to dotnet/docs-desktop#165

[2021-01-06 01:15] #22189 closed

[2021-01-06 01:28] gewarren commented on #22181
This is the only article I know about - https://docs.microsoft.com/en-us/dotnet/standard/assembly/inspect-contents-using-metadataloadcontext.

[2021-01-06 01:35] gewarren commented on #22155
@sywhang Do you know who could answer this question about the correct types for NativePdbAge and ManagedPdbAge?

[2021-01-06 01:51] gewarren commented on #22120
If such a a code style analyzer doesn't already exist, you can log an issue [here](https://github.com/dotnet/roslyn-analyzers/issues) to propose creating one.

[2021-01-06 01:51] #22120 closed

[2021-01-06 01:58] sywhang commented on #22155
@gewarren that would be me.

@MashaSamoylova First of all thanks for reporting this issue - NativePdbAge is indeed a UInt32 type. The .NET runtime emits it as a UInt32 type. For reference on .NET ETW event payload types, the docs have the latest up-to-date info as the runtime team is directly updating it as we add/modify events. The ground truth is of course the source that generates these events

[2021-01-06 02:48] #22203 closed

[2021-01-06 11:04] bairog commented on #20459
@adegeo

I've performed a test on our **clean** Windows 7 SP1 x86 (without **any** updates installed). Installing **KB4534310** update results in error:
<a href="https://ibb.co/BnNjJwR"><img src="https://i.ibb.co/xFHGb3Q/Virtual-Box-Windows-7-SP1-x86-06-01-2021-14-03-32.png" alt="Virtual-Box-Windows-7-SP1-x86-06-01-2021-14-03-32" border="0"></a>

[2021-01-06 13:21] lfr opened #22245 "Mistake in this page"
I think the second C# here is supposed to be F#:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a8fbc01-942f-ac15-e06b-2e50c45e8183
* Version Independent ID: 788235a1-2b43-1607-b24b-57c0552fd890
* Content: [XML Documentation - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/xml-documentation)
* C

[2021-01-06 14:10] StingyJack opened #22246 "Shouldnt the custom console logger's IsEnabled function use >= instead of ==?"
Because the text right below it says

Also, what does "higher" mean in this case? I've only ever seen developers only make a LogLevel enum thats like this...

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b609eb80-71e8-7a3c-4c4c-60cf9a315cfb
* Version Independent ID: e111baf5-04b7-c497-ce86-eb687e121751
* Conte

[2021-01-06 17:09] #21036 closed

[2021-01-06 18:12] mavasani commented on #22248
Also tagging @gewarren and @mikadumont

We ship CA code quality analyzers and IDE code style analyzers with .NET SDK, starting version 5.0
The rules shipping in these SDK have specific categories. We have editorconfig support and documentation to enable/disable rules based on categories (see [here](https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope)). With .NE

[2021-01-06 18:54] donslattery opened #22249 "Please include the XML document used in your example"
It would be really helpful to have the XML document you used in your example was visible on the page so we could have some context as to where you're picking up the elements from.  I'm referring specifically to this part of the code:
from item in purchaseOrder.Descendants("Item")
                               select (string) item.Attribute("PartNumber");

---
#### Document Details

⚠ *Do not edit

[2021-01-06 20:28] gewarren commented on #22037
I did some more experimenting and found, at least with the Turkish İ and ı characters, that normalizing using either String.ToUpperInvariant() or String.ToLowerInvariant() is able to roundtrip correctly. I think problems can creep if you use String.ToUpper() and String.ToLower().

Now that this article (CA1308) is linked to https://docs.microsoft.com/en-us/dotnet/standard/base-types/best-practices

[2021-01-06 20:28] #22037 closed

[2021-01-06 20:48] NickStrupat commented on #12304
The `rm` command is not cross-platform (err, not cross-shell). I propose this more portable solution.

[code]

The build properties are (partially?) enumerated here:
https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties?view=vs-2019

[2021-01-06 21:46] gewarren commented on #18190
OutputPath and BaseOutputPath are core MSBuild properties and are documented [here](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-properties).

[2021-01-06 22:16] #15807 closed

[2021-01-06 23:54] #18190 closed

[2021-01-07 00:00] ericstj commented on #22089
cc @tannergooding

[2021-01-07 00:09] tdykstra commented on #21553
@bartonjs Should `buffer.Destroy()` in the pseudo-code example be changed to `buffer.Clear()`?

[2021-01-07 00:11] adegeo commented on #20459
@bairog Thank you for testing and giving me some results. I was able to spin up a test machine today too, a clean Win 7 x64 SP1 from the Visual Studio downloads. I also had that same error on some files but I fixed it by unblocking it in the file properties, was that not the source of the problem?

Your requirement of having a small footprint for distribution is noted. I'm passing that info and th

[2021-01-07 00:15] #18193 closed

[2021-01-07 00:19] tdykstra commented on #21033
Fixed by https://github.com/dotnet/docs/pull/21108

[2021-01-07 00:19] #21033 closed

[2021-01-07 01:40] cartermp commented on #22245
Fixed by https://github.com/dotnet/docs/pull/22256

[2021-01-07 03:12] tannergooding commented on #22089
For 1 and 2, this is by design and expected. For 3 I was not able to reproduce the issue.

For 1 and 2, floating-point literals may not produce exactly the value specified. Instead, the language parses the literal and produces the nearest representable value as per the IEEE 754 rules.

In the case of the first scenario, `1234.5` is exactly representable and so the `5` is treated as a proper midpoi

[2021-01-07 03:20] yac073 commented on #22089
Thanks for the clarification on 1 and 2.
For 3 the screenshot of the sample program and csproj are these.
![image](https://user-images.githubusercontent.com/22502872/103846971-239e8b80-5054-11eb-888e-25d479afe7f0.png)
![image](https://user-images.githubusercontent.com/22502872/103847071-4b8def00-5054-11eb-8eb8-581497f1f5d4.png)

[2021-01-07 06:52] bairog commented on #20459
@adegeo
I can confirm that installing the following:
1. [Microsoft Visual C++ 2015 Redistributable Update 3](https://www.microsoft.com/en-us/download/details.aspx?id=52685)
2. KB3063858 [32-bit](https://www.microsoft.com/en-us/download/details.aspx?id=47409) / [64-bit](https://www.microsoft.com/en-us/download/details.aspx?id=47442)
3.
makes our .NET 5.0 test applications (console/WinForms x86) wor

[2021-01-07 13:37] #22245 closed

[2021-01-07 15:37] RehanSaeed commented on #22248
The documentation should also list which version of Visual Studio you need to use the new severity setting.

[2021-01-07 15:42] #22194 closed

[2021-01-07 15:57] #22180 closed

[2021-01-07 16:06] #22137 closed

[2021-01-07 17:02] gewarren commented on #22249
@donslattery The XML doc is linked in this sentence.

"For example, you might have a typical XML purchase order as described in Sample XML file: Typical purchase order."

[2021-01-07 17:12] gewarren commented on #20372
This BC has been published.

[2021-01-07 17:12] #20372 closed

[2021-01-07 17:31] donslattery commented on #22249
Thanks for pointing that out.  So what you're saying is that including that content on this page would make absolutely no improvement or clarify it at all for casual readers led here by search engines and that the link buried in the middle of multiple lines of text is sufficient to point folks to a critical piece of information about the example?  Nor would it fit into the established examples whe

[2021-01-07 17:43] Thraka commented on #20459
Thanks for the additional information. I cannot get the installers for 2.1 working though so I'm investigating that. Regardless, I'll get this page updated with this information by tomorrow. Thanks again!

[2021-01-07 17:53] bartonjs commented on #21553
Other text doesn't match the example,  e.g. it says it has a `Memory<char>` but the sample uses a conceptual type called `Buffer`.  I think it's intentional that the sample is using concepts instead of concrete types, so perhaps it's the prose that needs to be equally generalized.

@GrabYourPitchforks was this you?

[2021-01-07 17:54] adegeo commented on #20459
Thanks for the additional information. I cannot get the installers for 2.1 working though so I'm investigating that. Regardless, I'll get this page updated with this information by tomorrow. Thanks again!

[2021-01-07 17:57] bairog commented on #20459
What exactly do you mean? .NET Core **2.1** or what?

[2021-01-07 18:02] Thraka commented on #20459
Correct. I just fixed that though. The .NET Core 2.1 installer requires the certificate you linked to. Core 3.1 and .NET 5 don't require the certificate.

[2021-01-07 18:02] adegeo commented on #20459
Correct. I just fixed that though. The .NET Core 2.1 installer requires the certificate you linked to. Core 3.1 and .NET 5 don't require the certificate.

[2021-01-07 18:03] JeremyLikness commented on #19953
@mairaw @guardrex pinging you as you were listed on the document. Do we know who the owner is we can assign this to?

[2021-01-07 18:12] guardrex commented on #19953
Before the doc came in from CAPS, it had @ `JennieHubbard` in the metadata as author. I defer to others beyond that tho. It's going on perhaps four years since I was working in this neck of the woods.

https://github.com/dotnet/docs/blame/319b525bc99bbe4b71024144188a4222265342c7/docs/framework/data/adonet/sql/transaction-and-bulk-copy-operations.md

[2021-01-07 18:41] Scottj1s opened #22260 "Case sensitivity: #pragma warning disable CA1416"
The pragma warning is case sensitive.
This:
  #pragma warning disable ca1416
Should be:
  #pragma warning disable CA1416

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4e96b1b-6d50-71c0-03ea-d6fbeece3061
* Version Independent ID: 8ea821a1-fac8-dcc1-baa1-61228257ae45
* Content: [Platform compatibility analyzer](https:/

[2021-01-07 19:18] mairaw commented on #19953
@stevestein is the current owner of this. You can always select view source on the doc and look at the metadata for author/ms.author to find the latest.

[2021-01-07 19:20] guardrex commented on #19953
I thought they eliminated it on this repo at some point. The current metadata is ...

[code]

[2021-01-07 19:22] mairaw commented on #19953
We eliminated on individual topics because they're set as global metadata on docfx.json. So the published article's source would have the source of truth for the latest.

![image](https://user-images.githubusercontent.com/12971179/103934918-aa964700-50da-11eb-9c05-20a5271fd2fd.png)

[2021-01-07 19:36] cijothomas opened #22261 "Document ActivitySource API"
**Describe the new article**

DiagnosticSource package (5.0) added new capability to Activity API by aligning with OpenTelemetry. The key new feature is the `ActivitySource` class which allows to create Activity in a way compatible with the evolving industry standard for telemetry - OpenTelemetry. However, ActivitySource and its associated mechanisms are *not* documented in .NET docs pages.

Propo

[2021-01-07 19:37] cijothomas commented on #22261
@IEvangelist @shirhatti

[2021-01-07 21:58] gewarren commented on #22249
No, I didn’t intend for you to make those assumptions just by pointing out that the XML was linked. It was unclear whether you’d found the XML or not. We can add this to our backlog or you can submit a pull request that puts the XML inline if you feel it would improve the article.

![image](https://user-images.githubusercontent.com/24882762/103949539-454d5080-50f0-11eb-8734-99a50ee74b78.png)

[2021-01-07 22:09] donslattery commented on #22249
Understood.  Thank you for clarifying.  When I read the article, I overlooked the link to the XML because the narrative is usually less helpful than the code.  My concern is that more people do this than search through the text when coming from a search from a search engine.  In this case, I think including the XML improves the article.  As far as updates, I think it would be better if it was adde

[2021-01-08 00:55] gewarren commented on #5064
Closing due to inactivity and I think this issue is out of date anyway.

[2021-01-08 00:55] #5064 closed

[2021-01-08 01:01] gewarren commented on #7101
Some info is here: https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package-msbuild#automatically-generate-package-on-build

[2021-01-08 01:03] #10272 closed

[2021-01-08 01:07] gewarren commented on #13884
This default include/excludes info now lives here: https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview#default-includes-and-excludes. @adegeo This is assigned to you; do you plan to add it or do you want me to?

[2021-01-08 01:28] cartermp commented on #22197
I think there might be an F# compiler quirk here. Consider the following:

[code]

This doesn't give a warning. But if I just rename `A`, it does:

[code]

I think it's worth at least filing an issue on dotnet/fsharp.

In the interim, I think the former formatting would actually be fine. It's still covering the heart of the guidance - put values on new lines and align them logically and consistent

[2021-01-08 06:44] #20459 closed

[2021-01-08 08:36] perkops opened #22268 "Double sentence in documentation"
In the section "The common type system", before the image, there are two lines, which pretty much describe the same thing:

_The following illustration shows the relationship between value types and reference types in the CTS.

The following image shows value types and reference types in the CTS:_

I would presume, one of these sentences could be removed.

---
#### Document Details

⚠ *Do not edit

[2021-01-08 09:53] nojaf commented on #22197
Well, the name of the union case determines where the `->` will land, and that can be problematic in some scenarios.

For example `Syntax tree` comes to mind, for example:
[code]

Once these things are nested inside inner let bindings people also tend to get upset that the `max_line_length` is not respected.
I'd be in favor of filing an issue on dotnet/fsharp to see why these warnings appear.
If w

[2021-01-08 10:30] bairog commented on #20459
**NB** If is needed to fully automate certificate installation process (i. e. for software installers) - the Certificate Manager utility (**certmgr.exe**) can be used to add the certificate via **admin** command prompt:

More info at [StackOverflow](https://stackoverflow.com/questions/47176239/a-certificate-chain-could-not-be-built-to-a-trusted-root-authority/60812129).

**P. S.** The Certificate

[2021-01-08 11:55] kwaazaar opened #22269 "Autorization"
Authorization on package sources is always an issue. You should describe here how it works. Especially in conjunction with Visual Studio. Eg: in VS the restore of packages from a custom Azure Devops artifact store works flawless, since I'm logged in in VS. When using dotnet restore, I get an authorization error. It seems to use the sources registered in VS, but not the credentials.

---
#### Docum

[2021-01-08 14:26] BillWagner commented on #22268
Thanks for reporting this @perkops

I've submitted PR #22270 to address this issue. When you spot these in the future, you can click the edit button on the article (it looks like a pencil) to submit a PR to make the update. That may streamline the process.

Thanks again!

[2021-01-08 16:04] #22173 closed

[2021-01-08 16:52] BillWagner opened #22271 "Update all sample code to supported .NET Versions - with automation"
Our sample projects in all repos (docs, docs-desktop, samples, dotnet-api-docs) where current when they were first created. We didn't (and don't) have a systematic process to update all those projects as older versions move out of support.

Our samples cover many scenarios, some of which rely on code built with older versions. We have a number of scenarios we should support:

- [x] ***Samples that

[2021-01-08 17:31] spazmodius opened #22272 "Where is the "Protocol-Specific WebResponse"?"
The code sample here does not do what the title says.  Should it at least cast to `HttpWebResponse`, or something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60878ca-ff38-a605-2713-c82f4698cd53
* Version Independent ID: a4ba014d-1106-c9a7-dd9f-4f19ba691e60
* Content: [How to: Retrieve a Protocol-Specific WebRespon

[2021-01-08 17:36] gewarren commented on #13248
This has been documented now.
https://docs.microsoft.com/en-us/dotnet/fundamentals/diagnostics/runtime-thread-events#threadpoolworkerthreadwait-event

[2021-01-08 17:36] #13248 closed

[2021-01-08 17:55] spazmodius opened #22273 "Do I need to call `WebException.Response.Close()` ?"
Other articles here stress the importance of closing the `WebResponse` returned from `WebRequest.GetResponse()`.  However, _this_ article does not mention any such requirement when a `WebException` is thrown.

Is closing the error response taken care of for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304cbc22-b0

[2021-01-08 18:21] BillWagner commented on #22271
/cc @richlander for visibility

[2021-01-08 20:08] vitek-karas commented on #22271
I think most samples should actually specify two versions:
* The minimum version where it worked - if the feature was introduced in 2.0 , it would be 2.0 - regardless whether that version is supported or not.
* The version the sample is built for - this would ideally always be a supported version (unless it's one of the special migration samples)

I think this distinction is important as the "mini

[2021-01-08 20:46] Matayas-B commented on #19614
Hi again @BillWagner

I tested the same code that was written above (the same that is on the official docs), and again I'm not being able to reach the _finally_ block when inside the _catch_ statement the exception is thrown. The only way to reach that finally block is by either returning any value within the function, or avoiding writting any _throw_ statement.

Below my examples:

class Argument

[2021-01-08 23:13] meziantou opened #22279 "see and seealso elements support more than cref but it is not documented"
The documentation for `<see>` and `<seealso>` only mention the `cref` attribute. However, it is possible to use `<seealso href="https://..." />`, `<seealso href="https://...">text</seealso>` or `<see langword="false" />`

Also, there is no mention for a few formatting elements such as `<i>` / `<em>`, `<b>` / `<strong>`, `<u>`, `<br>`, `<a>` that seems to be supported.

---
#### Document Details

⚠

[2021-01-08 23:15] gewarren commented on #20963
This issue was moved to NuGet/docs.microsoft.com-nuget#2274

[2021-01-08 23:15] #20963 closed

[2021-01-08 23:16] gewarren commented on #20963
We are removing this file in our repo with #22277 . NuGet license info will be in the NuGet docs instead.

[2021-01-09 00:28] jnm2 opened #22280 "The ContinuousIntegrationBuild csproj property is not documented"
https://docs.microsoft.com/en-us/dotnet/core/tools/using-ci-with-cli is another place this should probably be mentioned.

References:
- https://devblogs.microsoft.com/dotnet/producing-packages-with-source-link/#deterministic-builds
- https://github.com/tmat/repository-info/blob/master/docs/Readme.md#continuousintegrationbuild (other csproj properties here too!)

ContinuousIntegrationBuild is requi

[2021-01-09 04:06] SetTrend opened #22282 "Description of Zero-width lookbehind/lookahead assertion is missing/wrong"
In the documentation, the current example provided for the Zero-width negative *lookahead* assertion gives the results of a Zero-width negative *lookbehind* assertion, which is wrong.

Moreover, there is no description on these within the Grouping Constructs section of the documentation, and from the examples provided in the documentation it doesn't get clear how _lookaround_ assertions behave in

[2021-01-09 16:31] mohafifi opened #22286 "Parameter not passed as explained."
Under the title "**Add process method**", the call to ReadAsByteArrayAsync() has no parameters passed in, although the explanation next to it says:
"The CancellationToken instance is passed into the HttpClient.GetAsync(String, CancellationToken) **and HttpContent.ReadAsByteArrayAsync()** methods.".

The method call ReadAsByteArrayAsync() should match the explanation. I think you forgot to pass in

[2021-01-09 17:53] Jimmy-Hu opened #22287 "The description about multi-dimensional array type support for indices and ranges"
In the section **Type support for indices and ranges**, it mentions that `Array has more nuanced behavior. Single dimension arrays support both indices and ranges. Multi-dimensional arrays don't. The indexer for a multi-dimensional array has multiple parameters, not a single parameter.` In other words, it means `Multi-dimensional arrays support **neither** indices **nor** ranges, doesn't it? Does

[2021-01-09 19:38] joshudson opened #22288 "Documentation for File.Replace is messed up"
1) There's some discussion on documenting the call as atomic; however that never happened. It would appear that it is atomic on Windows, but never truly was on Unix. <A HREF="https://github.com/dotnet/runtime/issues/18034">Issue #18034</A> probably should not have been closed.

2) This fragment makes no sense:

<BLOCKQUOTE>
PlatformNotSupportedException

The operating system is Windows 98 Second E

[2021-01-09 23:08] dlech opened #22290 ".NET unintall tool doesn't work for .NET 5.0 or later"
[Enter feedback here]

A prominent note should be added to the top of the page that this doesn't work for .NET 5 or later.

See https://github.com/dotnet/cli-lab/issues/164#issuecomment-716651797

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289d3b2b-8b21-d0a0-10fa-9a8b3fdb62ce
* Version Independent ID: 3145ef37-2a19-

[2021-01-10 17:56] pkulikov commented on #20584
@BillWagner I'm on fence about if it should be one article or multiple. Multiple articles suggest the separate TOC item and more visible structure/navigation among various patterns; however, with that approach some article can be very small (for example, one about discard pattern). What do you think?

[2021-01-11 01:15] mcbarre opened #22291 "missing using"
When instantiating the **HttpClient**  in:

`private static readonly HttpClient client = new HttpClient();`

the documentation misses to mention that

`using System.Net.Http;`

is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b-e60b-5433-7

[2021-01-11 01:27] mcbarre commented on #22291
Using was mention down below.

[2021-01-11 01:27] #22291 closed

[2021-01-11 07:39] chm-tm opened #22295 "Document integrated terminal"
Recent versions introduced an [integrated developer terminal](https://devblogs.microsoft.com/visualstudio/say-hello-to-the-new-visual-studio-terminal/). This was first in preview mode, but is now fully enabled.

I discovered this just due to a mistyped keystroke (Ctrl-¨). I then needed some time to dig out the command to do that again.

AFAICS this nice feature is not yet documented. Apart from th

[2021-01-11 08:32] cmeeren opened #22296 "F# code formatting guidelines inconsistency: = on new line"
See the F# code formatting guidelines, section [Place parameters on a new line for long definitions](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#place-parameters-on-a-new-line-for-long-definitions). The final part of that section is:

Note that in `LongMethodWithLotsOfParameters`, the `=` sign is *not* on a separate line, contrary to what the sentence at the top says.

Th

[2021-01-11 09:45] johan-dahlgren opened #22298 "How to prevent VS to Default set new items to Compile?"
How do I prevent Visual Studio to set new Items to Compile.
Have version 16.8.3 and every time I start a new project and add new items i got this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9399f094-7665-b8ae-90f2-a108b9e4ad27
* Version Independent ID: 7cf5b33e-29f8-343e-fa17-8ddaceb5ae8a
* Content: [NETSDK10

[2021-01-11 10:01] cmeeren commented on #22296
This may also be relevant for the code shown above the sentence:

[code]

If the it's _sentence_ I quoted in the OP that is correct (as opposed to the code), then for consistency, perhaps the `=` should be on a separate line in this example, too.

[2021-01-11 11:59] daly-skander opened #22299 "Gravité Code Description Projet Fichier Ligne État de la suppression Erreur BC30311 Impossible de convertir une valeur de type 'DataGridViewRow' en 'Guna2DataGridView'. WindowsApp3__DALY_ISCANDER_Projet C:\Program Files\SIG\2éme année 1ier sem\PROGRAMMATION AVANCÉE\WindowsApp3__DALY_ISCANDER_Projet\WindowsApp3__DALY_ISCANDER_Projet\RéceptionnsiteForm3.vb 71 Actif"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c901dade-0ce5-19a8-9bd4-fa01d3cab6fd
* Version Independent ID: 3907306c-792a-6f61-3e7c-69e5140255f7
* Content: [Value of type '&lt;type1&gt;' cannot be converted to '&lt;type2&gt;' - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/m

[2021-01-11 16:21] BillWagner commented on #20584
@pkulikov I've been in that situation a few times myself.

I'd recommend starting with one article.  If that gets too long, having all the content and examples in one place will often give us guidance on how best to break it up.

[2021-01-11 16:23] #22268 closed

[2021-01-11 16:30] BillWagner commented on #22287
Thanks for raising this issue @Jimmy-Hu You are correct. The `System.Index` type is not allowed for accessing elements of a multi-dimensional array.

[2021-01-11 16:39] BillWagner commented on #22286
Thanks for noting this @mohafifi You are correct. This sample should call the overload that has a `CancellationToken` parameter.

I've added this to our backlog to address.

[2021-01-11 16:47] BillWagner commented on #22279
Thanks for posting this @meziantou We've been collecting a number of concerns regarding our articles on C# XML doc comments.

We're still discussing how best to resolve these. From the perspective of the C# compiler, any valid XML is allowed. However, whether or not a tag is useful depends on the tooling used to convert the compiler's XML output into reasonable human docs.

I've added this to our

[2021-01-11 16:58] meziantou commented on #22279
Note that the tags / attributes I've listed in the issue are the ones that Roslyn understands and formats correctly (at least in VS). The following file contains all the supported tags/attributes:

https://github.com/dotnet/roslyn/blob/1223006dad529b84b0a9d81c4dcee239fe87b772/src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentFormattingService.cs#L305

[2021-01-11 17:24] KalleOlaviNiemitalo opened #22302 "System.Management.Automation.Platform public members vary by platform, but the docs don't warn about that"
**Issue description**

PowerShell SDK 7.0 documentation describes **Platform.SelectProductNameForDirectory** and **Platform.XDG_Type**, which do not exist on Windows.

* [Platform.SelectProductNameForDirectory(Platform+XDG_Type) Method (System.Management.Automation) | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.platform.selectproductnamefordirectory?vie

[2021-01-11 17:39] tdykstra commented on #22295
@TerryGLee Can you help with this?

[2021-01-11 17:48] #18145 closed

[2021-01-11 18:35] tdykstra commented on #22269
@nkolev92 Should this issue be transferred to the NuGet docs repo?

[2021-01-11 18:42] nkolev92 commented on #22269
It's a multi repo/product problem, but is a great starting point.
https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds has answers for some of the customers' questions, but not all.

[2021-01-11 18:55] tdykstra commented on #22269
We already link to https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds in our doc, can you recommend who might know the answers to what isn't covered there?

[2021-01-11 19:02] adegeo commented on #22282
Greetings! I'll forward this to some of our area experts: @pgovind @eerhardt can you comment on this suggestion?

[2021-01-11 19:10] adegeo commented on #20459
Thanks for the suggestion. I think I'll skip that for now though. Considering .NET Core 2.1 is going to be end of in 8 months and really anyone looking into automating things like installing certificates should be able to easily find that information on the net. Just a quick search turned up https://www.itninja.com/question/how-do-i-automate-the-import-of-a-certificate-cer-file for me.

If you str

[2021-01-11 19:12] adegeo commented on #13884
I'll add it, thanks!

[2021-01-11 19:12] TylerGwynn opened #22304 "Typo in TryParse example"
The last TryParse example in the first code block prints inputString on success instead of numValue, which seems incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f91931f7-35de-15e0-4c20-53a3fa9246ec
* Version Independent ID: d9031bdc-890a-d5bd-c1ed-d767b0e27890
* Content: [How to convert a string to a number -

[2021-01-11 19:20] nkolev92 commented on #22269
The NuGet team can answer them.

There are different plugins for core and framework tools (ie, dotnet.exe vs nuget.exe & msbuild.exe).

VS also uses a different extensibility mechanism, and all these extensibility plugins/tools are expected to do their own caching.

It's on the feed provider to ensure that the plugin they ship for nuget.exe, the plugin they ship for dotnet.exe, and the VS extensib

[2021-01-11 19:58] adegeo commented on #22089
@tannergooding  can you check this out again when you get a chance? Thanks!

[2021-01-11 20:25] #18198 closed

[2021-01-11 20:37] cecchettia opened #22306 "Errors on Tutorial: Automated visual inspection using transfer learning with the ML.NET Image Classification API"
[Enter feedback here]
This page is missing many parts of the code.

Below the ImageData class, define the schema of your input data in a new class called ModelInput.

<this is what copy produces, note NO class name>

{
    public byte[] Image { get; set; }

    public UInt32 LabelAsKey { get; set; }

    public string ImagePath { get; set; }

    public string Label { get; set; }
}

Now adding  "c

[2021-01-11 20:39] tannergooding commented on #22089
I'm able to repro now. Thanks!

I need to dig deeper to determine if this is a product or doc bug. There are a few places where `decimal` is handled differently and this might be "by design".

[2021-01-11 22:21] gewarren commented on #14683
This was fixed by #22277.

[2021-01-11 22:21] #14683 closed

[2021-01-11 23:30] gewarren commented on #17229
Related PR: https://github.com/NuGet/docs.microsoft.com-nuget/pull/2271.

This entire article will be gone tomorrow, with https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props in its place.

[2021-01-11 23:30] #17229 closed

[2021-01-11 23:33] gewarren commented on #7101
Since the csproj article will be removed tomorrow, and its replacement doesn't cover NuGet publish properties directly, I'm going to close this issue. I will reopen https://github.com/NuGet/docs.microsoft.com-nuget/issues/1097 instead.

[2021-01-11 23:33] #7101 closed

[2021-01-11 23:36] gewarren commented on #6479
The pack target properties are covered in the NuGet docs now, so I'm closing this issue. Please open a new issue on https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-target if you would still like to have this documented.

[2021-01-11 23:36] #6479 closed

[2021-01-12 04:41] bairog opened #22308 "Missing info about automatic MicrosoftRootCertificateAuthority2011.cer certificate installation process"
[MicrosoftRootCertificateAuthority2011.cer](http://go.microsoft.com/fwlink/?linkid=747875&clcid=0x409) is required both for  .NET Core 2.1 offline installer and .NET Framework 4.8 offline installer.
To fully automate certificate installation process (e. g. inside software installers) Certificate Manager utility (**certmgr.exe**) can be used to add the certificate via **admin** command prompt (more

[2021-01-12 04:42] bairog commented on #20459
@adegeo [MicrosoftRootCertificateAuthority2011.cer](http://go.microsoft.com/fwlink/?linkid=747875&clcid=0x409) certificate is required not only for .Net Core 2.1 offline installer (reaches EOL in 8 months) but also for .NET Framework 4.8 offline installer (will continue to be shipped with Windows and [promised to be serviced and supported](https://devblogs.microsoft.com/dotnet/net-core-is-the-futu

[2021-01-12 04:45] bairog commented on #22308
@adegeo I've opened a separate issue as you [adviced me](https://github.com/dotnet/docs/issues/20459#issuecomment-758161977)

[2021-01-12 05:44] knocte commented on #22296
Well, we had already long debates about the code so I don't think it needs changing. What simply happened is that in the recent commit that introduced vanity-avoidance guidelines (https://github.com/dotnet/docs/commit/eb6f7b1119e6754e97d04384b8b672cc7b4efe1b) we forgot to update the sentence to make it consistent with the new snippets.

So I guess this diff would do:

[code]

Or something along th

[2021-01-12 05:45] knocte commented on #22296
(edited diff above)

[2021-01-12 10:56] cjmakwana opened #22311 "Getting the error - PublishReadyToRun not supported for target platform"
Hello,

I am using the right runtime identifier as documented in this page for .net 5. However, I am still getting the error below:

**Optimizing assemblies for performance is not supported for the selected target platform or architecture. Please verify you are using a supported runtime identifier, or set the PublishReadyToRun property to false.**

I tested the publishing using linux-x64, which is

[2021-01-12 11:43] anvish2 commented on #18893
What about catching OutOfMemoryException? Did it become impossible starting with .NET 5?
Example: https://stackoverflow.com/questions/1101147/code-demonstrating-the-importance-of-a-constrained-execution-region

[2021-01-12 14:11] jsmuise opened #22313 "typo"
rename firstFinishedTask  to just finishedTask on the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d15bb1b-5f7f-20f3-78c3-d2b5bce950ed
* Version Independent ID: 80bee493-257b-5c64-4f28-cfb4e9bae560
* Content: [Process asynchronous tasks as they complete](https://docs.microsoft.com/en-us/dotnet/csharp/programmin

[2021-01-12 15:48] BillWagner commented on #22313
@jsmuise Can you add a link to  which article this refers to?

[2021-01-12 16:08] adegeo commented on #22308
@bairog Do you happen to know what OS need this? Is it Win7/Win8? or just Win7?

[2021-01-12 16:09] tdykstra commented on #22269
This issue was moved to NuGet/docs.microsoft.com-nuget#2279

[2021-01-12 16:09] #22269 closed

[2021-01-12 16:16] teo-tsirpanis commented on #18893
@anvish2 I confirm that the test code of the Stack Overflow question you linked still works in .NET 5.

[2021-01-12 17:00] bairog commented on #22308
@adegeo I've tested only .Net Framework 4.8 offline installer and only on **clean** Win7 SP1. Info about .Net Core 2.1 offline installer is provided by you. I didn't test Win 8 (our software don't have such OS requirement).

[2021-01-12 18:04] adegeo commented on #22089
Thank you for the update. I assigned the issue to you so that it's on your radar 😄

[2021-01-12 18:31] JoeCEaton opened #22316 "Excel Interop Programming Example Feedback"
The programming example is completely inadequate to demonstrate how to use interop with Excel. In your example, you skip the most difficult steps (saving and exiting). I suspect this is because the interface is problematic.

It's widely known that Excel simply won't exit properly if you do nearly anything useful. The "community hive mind" solution is to add a huge amount of extra code to cleanup:

[2021-01-12 19:39] #22208 closed

[2021-01-12 20:04] pkulikov commented on #20584
@BillWagner thank you; let's go on with one article.

Original idea was to put it under "Expression and operators". Is it still the good location or there is a better one?

Also, I like to submit small PRs. So, it will be a PR per pattern. How do you want it to be arranged? Submit PRs directly to the master (so, the article would grow live), or submit PRs to the dedicated branch, that will be merg

[2021-01-12 20:10] Youssef1313 commented on #22313
@BillWagner I believe it's https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete

[2021-01-12 20:14] gewarren opened #22317 "Remove references to "MSDN library""

[2021-01-12 20:17] gewarren opened #22318 "Move remarks out of enum fields"
The docs don't have a way to display remarks that are entered in enum fields. Any important info should be moved into the summary. For example, from System.Activities.ActivityInstanceState:

[code]

Any build report for this repo will show warnings for all APIs where this pattern occurs.

[2021-01-12 20:21] gewarren commented on #22318
This issue was moved to dotnet/dotnet-api-docs#5220

[2021-01-12 20:21] #22318 closed

[2021-01-12 20:21] gewarren commented on #22317
This issue was moved to dotnet/dotnet-api-docs#5221

[2021-01-12 20:21] #22317 closed

[2021-01-12 21:29] meziantou opened #22320 "Add note about multiple loggers"
VSTest allows to specify the "--logger" multiple times. It seems "dotnet test" allow it too. However the documentation is not clear about it. Maybe it could add the same note as the vstest doc: https://github.com/MicrosoftDocs/visualstudio-docs/pull/5482/files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-748

[2021-01-12 22:56] TerryGLee commented on #22295
@tdykstra I've added a work item to get this feature documented in the "Develop" section of the Visual Studio docs library at https://docs.microsoft.com/en-us/visualstudio/

[2021-01-13 00:09] darkoverlordofdata commented on #22170
I finally figured it out. I was on an older version of the preview. I had to wait for a newer version to make it through the pipeline.

[2021-01-13 00:09] #22170 closed

[2021-01-13 00:33] tdykstra commented on #22295
Thanks for the suggestion, @chm-tm ! When the new documentation is published, we'll link to it from here.

[2021-01-13 01:19] tdykstra commented on #21777
Thanks for the code and explanations, @Jozkee ! These are added to the docs in https://github.com/dotnet/docs/pull/22322

[2021-01-13 02:51] tdykstra commented on #22320
Thanks for the suggestion, @meziantou !

[2021-01-13 05:42] ocdtrekkie commented on #10157
This fixed this warning for me: https://github.com/ocdtrekkie/HAController/commit/9d89361e297fe85783598eab2f783a2174efc61b

Apparently RemoveHandler really wants that (sender, e) on it. But I also then wasn't able to use the same Sub when I kicked it off with a Threading.Thread.

I still think the warning message makes no sense in any way shape or form, and should be revised, because neither the m

[2021-01-13 05:46] ocdtrekkie commented on #10157
Also, note that @DualBrain is who got my years-old warning gone. \o/

[2021-01-13 12:43] HugoRoss opened #22347 "Why does an interpolated string not provide the same warning?"
Why does an interpolated string not provide the same warning (CA1305)? The danger is exactly the same there, both always use CultureInfo.CurrentCulture to format the given value (see sample below):

    public static void Main(string[] args) {
        //Initialize test values
        DateTime date = new DateTime(2021, 12, 31);
        decimal value = 1234.56M;
        //Initialize format providers

[2021-01-13 13:02] Youssef1313 commented on #22347
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/2150

[2021-01-13 14:50] BillWagner opened #22351 "Automated backlog grooming"
The dotnet/docs repo has more than 1500 open issues in our backlog. That's not manageable for us to track work. We're building a plan to bulk close stale issues based on five variables. That will trim the active backlog to a set of issues that we intend to address.

This plan is not intended to avoid the tasks identified in the issues being closed. Rather, it is to organize our backlog so we can e

[2021-01-13 14:52] BillWagner commented on #22351
The first run of the tool that queries for issues found the following results:

***Closing 884 of 1539***

- CloseCriteria { PLabel = P1, PriLabel = Missing, HasDocIssue = True, IsInternal = True }:
  - Total issues: 22, Closing 0 older than -1 months
- CloseCriteria { PLabel = P1, PriLabel = Missing, HasDocIssue = True, IsInternal = False }:
  - Total issues: 96, Closing 50 older than 18 months
-

[2021-01-13 15:02] #22134 closed

[2021-01-13 15:06] #21865 closed

[2021-01-13 15:18] #22304 closed

[2021-01-13 15:33] trackvsb opened #22352 "CData in stylesheet does not work"
Hello, I tried the code in 3 different environments and the code always throws an error. It would be helpful to include instructions how to use and possible limitations.

1. Notepad++ immediately shuts down.

2. https://online-toolz.com/tools/xslt-transformation.php
Array
(
    [type] => 2
    [message] => XSLTProcessor::transformToXml(): XPath evaluation returned no result.
    [file] => /var/www

[2021-01-13 15:47] BillWagner commented on #22271
Good points @vitek-karas

I am concerned about maintaining buildable samples from the version first introduced. Strategically, that can prevent us from updating sample code to show our latest recommendations based on our latest feature investments. One goal of our sample code is to introduce developers (even those experienced with .NET) to the latest features.

From a practical standpoint, I'm con

[2021-01-13 15:47] srochford46 opened #22353 "Apiport - please give examples"
The help shows that you can specify a target with

ApiPort.exe analyze -t "(Target Name), Version=(Version)" [other args]

but the brackets are not only necessary, they stop it working - I think that an example like this would help:
ApiPort analyze -t ".Net, Version=5.0" -f .

Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-13 16:08] BillWagner commented on #20584
@pkulikov

I think it would be better to publish them all at once. I'm concerned that each smaller PR might be less useful for readers.

I can think of two ways to do this.  One is as you suggest, where I make a feature branch on dotnet/docs, and you target that branch with each smaller PR. Once it's ready, I'll merge that into the main branch (not squashing that final merge).

The other is that y

[2021-01-13 17:10] vitek-karas commented on #22271
I do agree that it the versions should be GA versions (if at all possible). Not sure if this is for other areas but in the samples I've been involved in - we see lot of people finding the sample directly - or sort of unintentionally ignore the docs which refer to it - so having some level of duplication of info in the samples repo feels desirable.

I also understand that this feels like something

[2021-01-13 17:18] gewarren commented on #22347
@Youssef1313 Thanks for that link. Closing this docs issue in favor of the product issue.

[2021-01-13 17:18] #22347 closed

[2021-01-13 17:40] #22320 closed

[2021-01-13 17:52] tdykstra commented on #22096
Reopening the issue to be about publishing an article explaining how to use System.Text.Json with VB, rather than a note warning not to use it. See revised note in the C# article - #22323.

[2021-01-13 18:58] clairestreb opened #22354 "Windows Server 2016?"
Why is Windows Server 2016 missing from this list?
According to this page (https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-10) it says it is compatible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eeab451-820f-de42-983e-4d0d5764f6ab
* Version Independent ID: d11d0d14-8a03-50e4-5c00-9a4417ad4d0a

[2021-01-13 19:36] pkulikov commented on #20584
@BillWagner

I think that would work better

[2021-01-14 01:13] gewarren commented on #22069
Ping @layomia.

[2021-01-14 05:13] dlepow commented on #22090
@sughosneo - Thanks for the context, the substitution of MCR images in the linked PR looks great and addresses my comment.
Closing.

[2021-01-14 05:13] #22090 closed

[2021-01-14 05:38] agaace opened #22360 "Incorrect title for IDE009"
The actual title should be "Member access should be qualified" in the `Index` table, for consistency.

Same goes for IDE007, IDE008 etc. Basically the `Index` table includes titles and messages inconsistently which might interfere with searching for the exact title/message phrase within this page.

![image](https://user-images.githubusercontent.com/2460260/104549332-890bf280-55e7-11eb-9615-94beafd

[2021-01-14 08:23] ddrinka opened #22361 "If Records aren't supported for IOptions, that should be called out in the documentation"
It looks like there was some waffling going on with #22210 and #22134.  It appears to me that records are still not actually supported for `IOptions<T>`, though the compiler no longer complains.  If those types are not supported, it would be great to include that note explicitly in the documentation, rather than lettings us deduce the answer as  #22134 attempts to do.

[2021-01-14 13:37] Molinarius opened #22364 "OutOfProcCOM not working with clients in PowerShell or using C# dynamic"
**Issue description**

With clients in PowerShell or using C# dynamic, I cannot get the [OutOfProcCOM example](https://github.com/dotnet/samples/tree/master/core/extensions/OutOfProcCOM) to work; I additionally tried it with Pyhton, too, and it didn't work, but I'm not too firm with Pyhton.

C# .NET5 dynamic:

    [5.0.2]

    System.NotSupportedException: Specified method is not supported.

[2021-01-14 15:02] BillWagner commented on #22361
ping @IEvangelist

[2021-01-14 15:08] IEvangelist commented on #22361
Hi 👋 @ddrinka
Thank you so much for posting this issue. We really appreciate it. I'm open to updating this even more, but I did address these concerns in #22134 (please see changes) - they were just published this morning I believe on the site.

Records do not work since they do not have a [parameterless constructor](https://docs.microsoft.com/en-us/dotnet/core/extensions/options#options-class). D

[2021-01-14 16:24] richlander commented on #22271
I think the samples should be oriented around the latest version, both to enable people to easily test and run those apps on the latest version, and to demonstrate new features.

Maintaining older versions is challenging, for a few reasons:

- It makes our samples looks stale.
- We'd need to test and document forward-compatibility with newer .NET versions for that app.
- We'd need to tell people t

[2021-01-14 16:38] #20352 closed

[2021-01-14 17:22] gewarren commented on #22360
We could also consider updating the title on the individual pages, for example:

![image](https://user-images.githubusercontent.com/24882762/104625878-16802e80-564a-11eb-95e0-2e0a1dffd6e8.png)

[2021-01-14 17:35] rummelsworth opened #22365 "Possible additional WinForms breaking change for .NET 5.0 re WebBrowser control"
If ---

- (a) the example code at [this MS Docs how-to page][wb2w] (.NET Framework 4.8 version only, no version available for .NET 5.0) is intended to show correct and supported usage of the WinForms WebBrowser control's DHTML interop API in .NET Framework 4.8, and

- (b) there were no related changes to the API contract and behavior of WebBrowser between .NET Framework 4.8 and .NET Core 3.1, then

[2021-01-14 17:43] #22290 closed

[2021-01-14 17:49] ddrinka commented on #22361
Some of the confusion here is based around https://github.com/dotnet/extensions/pull/2169, where the parameterless constructor was historically part of the contract.  Now I'm able to pass a record into `IOptions<T>`, but it just can't initialize it.

Obviously this isn't the right repo for it, but it seems like a generic IOptionsFactory.CreateInstance that supports records should exist out of the

[2021-01-14 18:05] ddrinka commented on #22361
I've opened https://github.com/dotnet/runtime/issues/46998 to request a change to the underlying lack of support.

[2021-01-15 01:28] gewarren commented on #22365
@RussKie Should this be doc'd as a breaking change?

[2021-01-15 02:07] tdykstra commented on #22096
@paul1956 We've had some discussions offline and here's the revised plan:

* Make the VB note we just added into an H2 section that we can link to.
* Expand the note to explain that this means you can’t write custom converters (since you can’t override the Read method, because it takes a Utf8JsonReader)
* At the top of several docs, link to the VB note:
  * How to write custom converters
  * How t

[2021-01-15 02:19] paul1956 commented on #22096
@tdykstra you can make the changes, let me know if there is any thing you need from me. Thank you and everyone else that contributed to coming to this fantastic resolution. If it OK I will like this discussion to the GitHub discussion, it is much better then I had hoped for.

[2021-01-15 09:22] nojaf opened #22368 "Guidance for long interface members"
Hello,

I'm wondering what the style guide says about long abstract members in interfaces.
Consider the following example:
[code]

At a certain point, this becomes long and unreadable.
Keeping vanity indentation in mind I would propose the following syntax:

[code]

What do you think?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-15 09:36] assilabdulrahim opened #22369 "Non-public property accessors Question"
You are talking about Non-public property accessors
Where is the (Non-public property accessors) in your sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f52750-1f3a-3cba-9790-bf36a5ae30a5
* Version Independent ID: cf9fe1d5-1079-025c-73cb-668cc9cbd520
* Content: [How to use immutable types and non-public access

[2021-01-15 12:10] Youssef1313 commented on #22369
It's the "private set" and "private get" in the sample:

[code]

(The above is a copy from the article)

[2021-01-15 13:38] zappox opened #22371 "ebook dowload link points to the wrong version."
The page mentions that there is an update v5 version but the download link still points to the 3.1 version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 031b20ec-7583-8277-f7a6-69ff3beffeac
* Version Independent ID: 58c0d74e-2a5d-297e-4770-e8e44878b683
* Content: [.NET Microservices. Architecture for Containerized .NE

[2021-01-15 14:07] Youssef1313 commented on #22371
The change should be done in https://github.com/dotnet-architecture/eBooks/tree/master/current/microservices

Tagging @sughosneo who previously updated the eBook version.

[2021-01-15 14:37] zappox commented on #22371
still wrong version.

The page https://docs.microsoft.com/en-us/dotnet/architecture/microservices/ mentions edition 5, while the link you provided and the download link still points to the 3.1 version

[2021-01-15 14:37] zappox commented on #22371
still wrong version.

The page https://docs.microsoft.com/en-us/dotnet/architecture/microservices/ mentions edition 5, while the link you provided and the download link still points to the 3.1 version

[2021-01-15 14:48] Youssef1313 commented on #22371
@zappox Sorry if I confused you. What I meant is that there is no change to be done in dotnet/docs repository. The change should be done in dotnet-architecture/eBooks, and it will reflect the documentation automatically. So, I was tagging @sughosneo to fix the pdf in <https://github.com/dotnet-architecture/eBooks/tree/master/current/microservices>.

To be more clear, the link the docs is using is

[2021-01-15 15:24] zappox commented on #22371
@Youssef1313 is there any other download link for the ebook meanwhile by any chance ?

[2021-01-15 15:48] mganss opened #22372 "InformationalVersion not AssemblyInformationalVersion"
The `csproj` element is called `InformationalVersion`, not `AssemblyInformationalVersion`. OTOH the assembly attribute is called [`AssemblyInformationalVersionAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyinformationalversionattribute). Thus the example should read

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-01-15 16:01] mganss opened #22373 "SourceLink will not set InformationalVersion from PackageVersion"
The guidance says

This is not true, i.e. if you don't set `InformationalVersion` it will end up as `1.0.0+[sha1]` even if you set `PackageVersion` to `4.3.2`. Perhaps the sentence should read: "If you're using Source Link, a source control version will be appended on build."

This also means this guidance is misleading:

It should perhaps instead read:

---
#### Document Details

⚠ *Do not edit t

[2021-01-15 16:23] #21695 closed

[2021-01-15 19:06] gewarren opened #22375 "Repo chores - February"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2021-01-15 19:35] BartoszKlonowski commented on #21986
I would like to handle this.
@BillWagner Please assign me to this issue.

[2021-01-15 19:49] BartoszKlonowski commented on #20784
I would like to handle that change - @BillWagner Please assign me to this item so I can work on this.

[2021-01-15 20:57] BillWagner commented on #20584
@pkulikov I just created the [csharp-patterns-reference](https://github.com/dotnet/docs/tree/csharp-patterns-reference) branch. It's even with master right now.

[2021-01-15 20:58] BillWagner commented on #21986
Thank you @BartoszKlonowski I've just assigned this to you. I'll watch for a PR.

[2021-01-15 22:11] #20569 closed

[2021-01-15 22:26] IEvangelist opened #22378 "Prevent OpenPublishing.Build from being required"
I believe OpenPublishing.Build should only be required when changes to content are made, or other content specific bits. However, when a _.csproj_ for example changes - it is simply unnecessary to require it.

[2021-01-15 23:05] KalleOlaviNiemitalo commented on #20061
`errorlog` was added in <https://github.com/dotnet/roslyn/pull/1272> before Visual Studio 2015, but the log format has been changed later and the history might be difficult to document accurately. There is some information about the current format in [Error Log Format.md](https://github.com/dotnet/roslyn/blob/15b43b33901c88f68ef43f8314b5a2457716780d/docs/compilers/Error%20Log%20Format.md).

[2021-01-15 23:48] #22019 closed

[2021-01-16 00:08] adegeo commented on #22354
It's listed generically as Windows Server. The table indicates that 2012 R2 is the minimum version.

![image](https://user-images.githubusercontent.com/67293991/104790206-c12c4600-574b-11eb-910a-80016eba5005.png)

Please note too that you linked to a .NET Framework page. .NET 5/Core and .NET Framework are two different technologies.

I'm going to close this issue. Please feel free to reopen or com

[2021-01-16 00:08] #22354 closed

[2021-01-16 00:24] pgovind commented on #22282
I had been meaning to look at this today, but couldn't. I'll look at this on Monday. The examples themselves look correct. I haven't had a chance to see our current documentation here yet though!

[2021-01-16 15:16] LeoGaunt commented on #22313
Added PR #22385 to fix this

[2021-01-16 15:19] Youssef1313 commented on #22378
OPB can generate a warning in the (uncommon) case when a csproj is referenced in markdown and it gets renamed/deleted.

See https://github.com/dotnet/docs/pull/22384 which has a warning:

[2021-01-16 15:52] Saif5017 commented on #6873
@yehgdotnet me too the problem i am facing is
[code]

[2021-01-16 18:01] worldtraveler58 opened #22386 "Constant and Literal Data Types (Visual Basic)"
Does not include LongLong data type
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 253a0a34-7f04-76d1-fb6b-2fa0712778f7
* Version Independent ID: f136c7bc-5d7c-a984-90db-99badea1994a
* Content: [Constant and Literal Data Types - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/pr

[2021-01-16 19:19] Youssef1313 commented on #22386
There is [no such data type in VB.NET](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBsQDdhJhxBLAMwE8AfASTAAcB7BGKAAgGUjY4wBYAKAAUBXYCjwBjBgGEU0RmO4M5DfoJHMBDALIAKAJSz5egCJ4wDAB4MAgowAy1AHYBzGw91yAorYAmK4N3deJUkA===). However, it exists for [VBA](https://docs.microsoft.com/en-us/office/vba/language/reference/user-interface-help/longlong-data-type).

[2021-01-16 20:51] jcouv commented on #22179
This is more of a runtime question. Aside from the runtime spec which Bill referenced (and which is linked from the C# feature spec), I don't have much to add :-/

[2021-01-17 02:14] StingyJack commented on #13951
@mvelosop can you speak to why the default lifetime needs to be increased by 150% ? If @OskarKlintrot  is correct, then two minutes of hitting the wrong address sounds better than 5 minutes of hitting the wrong address.

[2021-01-17 02:16] StingyJack opened #22387 ".net or asp.net?"
Does this intend to say ".NET Core 3.1" and not "ASP.NET Core 3.1"?  If not, should I continue to use 2.1 in my console apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f5aecf-ef1c-5a61-de24-894f4f9032c3
* Version Independent ID: 95c81932-26fd-4a24-3b6f-8dd5bde20026
* Content: [Implement HTTP call retries with ex

[2021-01-17 07:06] sandersaares commented on #22171
The referenced article has no mention of TraceSwitch.

To restate the issue, TraceSwitch is a class that exists in both .NET Core and .NET Framework but the documentation is missing for how to use it in .NET Core.

[2021-01-17 09:08] Zorph opened #22389 "I did not understand this because you don't say what the lambda expression is good for"
[Enter feedback here]
The first part of the explanation should be what the lambda expression is actually doing, this is missing. Something like they state on the W3Schools Java page on that:
"A lambda expression is a short block of code which takes in parameters and returns a value."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-01-17 10:56] edukadoj opened #22390 "Please give me an example program for delegate* unmanaged. All samples are for delegate* managed in this page,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6240d621-9b08-a9b9-ceed-5e4fd76a73a0
* Version Independent ID: 336fb56d-9797-e1e2-b623-a31a804cfecd
* Content: [Function pointers - C# 9.0 specification proposals](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/

[2021-01-17 11:02] #22390 closed

[2021-01-17 17:19] RyanLiu99 opened #22393 "Why the container hold reference to Transient services? Better not reference it."
On this page, it states: "When you register Transient services that implement IDisposable, by default the DI container will hold onto these references, "

Since it is transient, it is created each time upon request anyway, why container need hold a reference to it?

Isn't better not to hold reference if it is transient, and let GC collect it automatically just like GC deals with any local objects

[2021-01-17 18:24] davidfowl commented on #22393
The GC doesn't automatically call dispose on your resources.

[2021-01-17 20:30] #22296 closed

[2021-01-17 22:28] cartermp commented on #22368
This does seem useful to suggest. What should the threshold be? Also worth mentioning in the guide that if your members get that long then maybe you need to consider redesigning them

[2021-01-17 23:42] SetTrend commented on #22282
Hi @pgovind,

Perhaps this may be of any help:

I used the following PowerShell script to test the lookaround results from my table proposal:

[code]

[2021-01-18 05:50] sughosneo commented on #22371
Hi @zappox,  @Youssef1313,  thank you for pointing out the issue.
We are in process of updating the PDF version of the `.NET Microservices` eBook to `.NET 5`. It should be available soon. Sorry for the inconvenience.

[2021-01-18 06:01] RussKie commented on #22365
Yes, I think we need to document it as a breaking change in 5.0. What's the best way to do this?

[2021-01-18 07:59] nojaf commented on #22368
I've picked the max page width as threshold for the implementation in Fantomas.

[2021-01-18 08:48] afpirimoglu opened #22400 "Sample code technique doesn't protect against length extension attack explicitly. Only relies on the MAC algorithm's strength against such attack."
In the sample code that does Authenticated Encryption with additional data, it would be more secure if the length of the full message was included as part of the message and of course included in the MAC generation. This would provide defense against length extension attacks. This way received message length can be checked against the length value included in the message, in addition to MAC check.

[2021-01-18 09:06] mhoerandner opened #22401 "Code-Snippet of "Deserialize inferred types" does not work anymore"
Since *dotnet5* your code-snippet of `ObjectToInferredTypesConverter`-class does not work in some cases. In the past I used this converter for type inference of untyped Json-elements, like in the following class:

[code]

Now if I serialize an object, the `Write`-method of the `ObjectToInferredTypesConverter` is called for any `JsonElement`s. Therefore it is no longer possible to have no implement

[2021-01-18 12:15] sughosneo commented on #22371
Hi @zappox , @Youssef1313 - you can download latest PDF by clicking in [here](https://dotnet.microsoft.com/download/e-book/microservices-architecture/pdf). Thank you.

[2021-01-18 12:22] zappox commented on #22371
Thank you @sughosneo ! was really looking forward to get my hands on this 👍

[2021-01-18 12:42] davidfowl commented on #22171
Because System.Diagnostics.TraceSource isn't used in ASP.NET Core

[2021-01-18 13:08] sughosneo commented on #22371
Great ! I am closing this issue as of now. Please feel free to reopen it, if you have any further questions.

[2021-01-18 13:08] #22371 closed

[2021-01-18 15:05] christiannagel opened #22402 "Properties of custom collections are not serialized with JSON serialization"
Using JSON serialization (`System.Text.Json`) of custom collections, it would help adding documentation that the state of collections in addition to the collection is not serialized (e.g. properties of the custom collection).

The documentation at https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-supported-collection-types?pivots=dotnet-5-0 has this information:

Here

[2021-01-18 17:19] #21579 closed

[2021-01-18 18:14] blowdart commented on #22400
The point of a MAC construct is to be resilient to preimage attacks, including length extension attacks, thus we rely on that property to avoid unnecessarily duplication of work.

If the underlying MAC is insecure, we've got bigger problems.

[2021-01-18 18:14] #22400 closed

[2021-01-18 19:20] jnm2 opened #22403 "CharSet guidelines do not provide guidance on the DefaultCharSet module attribute"
No mention is made of `[module: DefaultCharSet(CharSet.Unicode)]` as an alternative to explicitly specifying the charset on all DllImports and structs. Is it a valid or preferable alternative? Or recommended against, and why?

https://docs.microsoft.com/en-us/dotnet/standard/native-interop/best-practices#dllimport-attribute-settings

Edit: https://docs.microsoft.com/en-us/dotnet/standard/native-in

[2021-01-19 00:29] #21597 closed

[2021-01-19 03:39] ldub opened #22405 "CoreCLR fails to initialize and the startup diagnostics don't help"
The full description of the repro is here: https://github.com/actions/runner/issues/918

When running the CoreCLR-based app with `COMPlus_EnableDiagnostics=0 COREHOST_TRACE=1`, it still fails to start, and the trace doesn't provide any actionable info: https://gist.github.com/ldub/8c89ea32d8824c9969abcebd2e71ff6f#file-zz-coreclr-issue-log

Could the tracing be improved? Are there any other diagnos

[2021-01-19 03:45] ldub commented on #22405
Sorry. I clearly opened this issue in the wrong repo.

[2021-01-19 03:45] #22405 closed

[2021-01-19 12:58] sughosneo commented on #21035
Hi @timrobertsusa , `.NET Microservices: Architecture for Containerized .NET Applications` eBook is now updated to `.NET 5`. You may want to refer the latest edition.

[2021-01-19 13:15] sughosneo commented on #22387
Hi @StingyJack, Thank you for reaching out.

That statement primarily intended to focus on the .NET version. `.NET Core 2.1` still supported but it's recommended to move to `.NET Core 3.1` or `.NET 5`. For more details, you can check out the [.NET Core and .NET 5 release lifecycle](https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

Hope this helps !

[2021-01-19 13:43] #22177 closed

[2021-01-19 14:28] IEvangelist commented on #22393
Hi 👋 @RyanLiu99
Thank you so much for posting this issue. We really appreciate it.

This sounds like a product question, rather than one for the docs team. I have updated the label as such. This is an implementation detail, I'm not certain as to why it is implemented this way. You might want to ask this question in the runtime repo, scoped to [Microsoft.Extensions.DependencyInjection](https://gith

[2021-01-19 15:43] BillWagner commented on #22389
Thanks for adding this @Zorph We'll get it addressed.

[2021-01-19 15:47] BillWagner commented on #22386
closing as won't fix. You should use the [BigInteger](https://docs.microsoft.com/dotnet/api/system.numerics.biginteger) for this purpose.

[2021-01-19 15:47] #22386 closed

[2021-01-19 15:57] #22313 closed

[2021-01-19 16:20] #21986 closed

[2021-01-19 16:25] Youssef1313 opened #22411 "Improve warning for `refStruct is object` and `refStruct is ValueType`"
Diagnostic clarity issue. I'm a bit surprised we didn't make that an error though.

_Originally posted by @jaredpar in https://github.com/dotnet/docs/pull/22391#discussion_r560303855_

[2021-01-19 16:25] #22411 closed

[2021-01-19 16:25] Youssef1313 commented on #22411
Ops, wrong repo

[2021-01-19 17:40] AArnott opened #22412 ".NET Core *does* benefit from strong name signing"
This sentence is false:

Strong naming assemblies provides assembly name collision resistance. For example two Utilities.dll assemblies that come from different vendors would cause a runtime failure because only one copy can be loaded if neither were strong-name signed. But if they _are_ strong name signed, .NET Core will load them both.

Inaccurate docs like this are causing the .NET community to

[2021-01-19 17:54] dsplaisted commented on #22412
Have you actually run in to a situation like this?  I don't think strong names would help much in the example you give, as the filename is still the same on disk.  The build system probably isn't going to handle it well, and only one of the files can be copied to the output folder.  So you would have to go through a bunch of hoops both in your build to put them in separate folders and then at runt

[2021-01-19 19:00] gewarren commented on #22365
@RussKie Can you create a [new issue from the breaking change template](https://github.com/dotnet/docs/issues/new?assignees=&labels=&template=dotnet-breaking-change.md&title=) and we'll link this issue to it? That way I have all the info to document it.

[2021-01-19 19:12] IEvangelist commented on #22412
Hi @AArnott - I believe that this wording was introduced by @jkotas. Jan do you have any thoughts on Aaron's issue posted here?

[2021-01-19 20:09] jkotas commented on #22412
That is not correct. One of them will win, and the second one will be ignored if you use the standard .NET Core tooling and runtime behaviors; or you may also get an error at build time.

You can implement you custom loader that e.g. loads each assembly into its own separate load context, but then you are creating your own rules that are different from the standard behaviors.

[2021-01-19 21:44] tdykstra commented on #22096
If you could review the PR https://github.com/dotnet/docs/pull/22414 it would be much appreciated. You can make fixes and suggestions in the browser, or via a PR to my fork/branch before the PR is merged, or via a PR to master after the PR is merged.

OK with me

[2021-01-19 22:04] #22223 closed

[2021-01-19 22:22] #22018 closed

[2021-01-19 22:33] pgovind commented on #22282
So the example at [Zero-Width Negative Lookahead](https://docs.microsoft.com/en-us/dotnet/standard/base-types/grouping-constructs-in-regular-expressions#zero-width-negative-lookahead-assertions) is:
[code]
And matches are
[code]
This looks correct to me. At each match, we're checking that the match does not start with `un` and is enclosed by word boundaries.

I do like using the same example with

[2021-01-19 22:46] #7471 closed

[2021-01-19 22:57] SetTrend commented on #22282
@pgovind: 👍👍👍

Yes, I can see it now. The original statements are correct. I must have made a mistake when checking the original Regular Expressions in the documentation for the first time.

However, to me your suggestion and amendment to my proposal seems very valuable.

[2021-01-19 23:16] BartoszKlonowski commented on #22196
I can provide it with the overview page.
@gewarren @BillWagner Please assign me to this issue.

---

@gewarren Should the *Naming* and *Formatting* rules movement also be handled in this issue, or perhaps a separate issue should be created for that?

[2021-01-19 23:29] GrabYourPitchforks commented on #22147
__U+3000 IDEOGRAPHIC SPACE__ is always blocked because it is a member of [the _Space\_Separator \[Zs\]_ category](https://util.unicode.org/UnicodeJsps/list-unicodeset.jsp?a=[:General_Category=Space_Separator:]). The only member of this category which is allowed is __U+0020 SPACE__. See [here](https://github.com/dotnet/runtime/blob/8f9edb350d71d7ec962d2add72747fd35d7fdb21/src/libraries/System.Text.

[2021-01-19 23:33] tdykstra commented on #8574
I tried this in VS for Mac 8.8 and the checkbox for “Generate xml documentation” does generate an XML file. I'll add VS Mac instructions to the doc.

[2021-01-20 00:04] #22078 closed

[2021-01-20 00:32] gewarren commented on #22196
Thank you @BartoszKlonowski .

It can be handled through a separate issue if you prefer.

[2021-01-20 01:13] paul1956 commented on #22096
@tdykstra would love to review, I forked you repo which Branch should I review? FYI I have never reviewed a PR in Visual Studio.

[2021-01-20 01:38] tdykstra commented on #22096
Branch is vbnotes. I haven't done a GitHub review in VS either, I usually use the browser.  You can make changes to the code in VS and make them into a pull request if you prefer.

[2021-01-20 01:44] tdykstra commented on #16413
Closing as duplicate of #20753

[2021-01-20 01:44] #16413 closed

[2021-01-20 02:22] paul1956 commented on #22096
Figured it out, cleaned up code, by opening project file in VS and running "code cleanup". Also dot rid of 2 our of 3 IDE issues. The last is an assignment that is never used but that makes sense since user code after the assignment is intentionally missing.

[2021-01-20 04:02] RyanLiu99 commented on #22393
Hi IEvangelist,  ok, I will ask the same question in the runtime repo as you suggested. You may close this one. Thanks!

[2021-01-20 04:03] #22393 closed

[2021-01-20 06:42] moyanming commented on #22147
Hi @GrabYourPitchforks , thank you for the reply.
A good document of this exception is fine for me now. But it is good if there is an enum-flag that can be used to explicit this behavior.

[2021-01-20 07:12] AryehSamoka opened #22422 "Account declaration"
The following account declaration will throw an exception:
`var lineOfCredit = new LineOfCreditAccount("line of credit", 0, 2000);`
because of the next snippet code:
 `if (amount <= 0)
            {
                throw new ArgumentOutOfRangeException(nameof(amount), "Amount of deposit must be positive");
            }`
in the method `public void MakeDeposit(decimal amount, DateTime date, string

[2021-01-20 09:13] SetTrend commented on #22282
Please let me add that in my above proposal I wanted to easily and figuratively convey the gist in regard to lookaround assertions:

In my obvious "five words" example the above gist is supposed to be very easy to grasp.

[2021-01-20 09:17] RussKie opened #22423 "[WinForms] Deprecate and remove ability to access Windows Forms objects from native code"
## Deprecate and remove ability to access Windows Forms objects from native code

Accessing Windows Forms objects from native code was deprecated as .NET runtime no longer supports creation of custom type libraries out of the box, nor it can't depend on the type library for .NET Framework (as would require to maintain the shape of classes as they were in .NET Framework)

### Version introduced

.N

[2021-01-20 09:18] paulomorgado opened #22424 "Deprecate CA1714"
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) has been deprecated and replaced by SDK analyzers or [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/).

[Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/) does not have CA1714

[2021-01-20 09:18] RussKie commented on #22423
@weltkante @JeremyKuhne could you please review the wording

[2021-01-20 09:19] paulomorgado opened #22425 "Deprecate CA1717"
[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) has been deprecated and replaced by SDK analyzers or [Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/).

[Microsoft.CodeAnalysis.NetAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.NetAnalyzers/) does not have CA1717

[2021-01-20 09:21] RussKie commented on #22365
https://github.com/dotnet/docs/issues/22423

[2021-01-20 10:22] weltkante commented on #22423
Some points in the PR description outline different options, obviously only one of them was taken:

resolution in both cases was removing ComVisible

[2021-01-20 11:17] RussKie commented on #22423
Updated, thank you

[2021-01-20 14:15] Youssef1313 commented on #22424
I don't think the rule deprecated. But it is included with a separate package `Text.Analyzers`.

[2021-01-20 14:16] Slaviusz opened #22426 "Please elaborate on decimal and Guid types passed as `in` arguments"
_This practice often improves performance for readonly value types that are larger than IntPtr.Size. For simple types (sbyte, byte, short, ushort, int, uint, long, ulong, char, float, double, decimal and bool, and enum types), any potential performance gains are minimal. In fact, performance may degrade by using pass-by-reference for types smaller than IntPtr.Size._

`sizeof(decimal) == 16` which

[2021-01-20 15:04] BillWagner commented on #22422
Thanks for writing this @AryehSamoka

I'll have to walk through all the steps. I thought I had them in order to make a smooth transition from the starter code.

In the meantime, you can download the finished sample to work through the changes from the finished code.

[2021-01-20 15:17] #22115 closed

[2021-01-20 15:17] #22179 closed

[2021-01-20 15:18] BillWagner commented on #22426
Thanks for writing this @Slaviusz

The list of simple types doesn't include `Guid` because it's not named in the C# language spec. It is an unmanaged type of similar size, but it's not mentioned as such in the C# language spec.

In general, any low-level optimizations like this should be measured before making changes. I doubt that 16 bytes would make much of a difference unless it's in a method t

[2021-01-20 15:37] pappasa opened #22427 "Utf8JsonReader is obsolete"
I try to write a custom converter, but I get the compile error:

error BC30668: 'Utf8JsonReader' is obsolete: 'Types with embedded references are not supported in this version of your compiler.'.

The code is as follows:

   Private Class DataSetConverter
        Inherits JsonConverter(Of DataSet)

        Public Overrides Sub Write(writer As Utf8JsonWriter, value As DataSet, options As JsonSerial

[2021-01-20 16:31] paulomorgado commented on #22424
Yes! @mavasani confirmed that.

[2021-01-20 16:31] #22424 closed

[2021-01-20 17:04] Cyl18 opened #22429 "Update the "Creating New Strings in .NET" page"
.NET has added some new methods to string like `Create<TState>(Int32, TState, SpanAction<Char,TState>)` and constructors like `String(Char, Int32)` are not mentioned in this page... this page is quite old, so consider update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c76a8206-037e-7563-d856-cf13fdb81d6d

[2021-01-20 17:32] tdykstra commented on #22427
See the note about VB support near the top of the page at https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-how-to

You can't use Utf8JsonReader in Visual Basic, and custom converters require use of the reader, so you can't write a custom converter in VB.

[2021-01-20 17:38] KevinCathcart opened #22430 "Custom format equivalent for "o" date time specifier is incorrect"
Partway down the page there is a table that specifies the custom format string equivlent of some of the standard date formats. For the `"o"/"O"` format, it claims that the equivalent custom string is `yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fffffffzz` (two z's) however this is incorrect. For DateTime the correct equivalent is `yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fffffffK`. For DateTimeOffset the correct is  t

[2021-01-20 17:53] gewarren commented on #22425
Related to #22424.

[2021-01-20 17:55] gewarren commented on #22425
@mavasani Does Text.Analyzers include CA1717?

[2021-01-20 17:59] mavasani commented on #22425
We can close this out similar to  #22424, the rule moved to a separate package.

[2021-01-20 18:00] KalleOlaviNiemitalo opened #22431 "https://aka.ms/sdkimplicititems redirects to renamed #default-compilation-includes"
[Microsoft.NET.Sdk.DefaultItems.targets](https://github.com/dotnet/sdk/blob/ef14c79a16171496e2d972edd9a7874d596f624d/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.targets#L287) references <https://aka.ms/sdkimplicititems>, which redirects to <https://docs.microsoft.com/dotnet/core/project-sdk/overview#default-compilation-includes>. That page still exists but the `defau

[2021-01-20 18:06] #22425 closed

[2021-01-20 18:10] gewarren commented on #22431
@KalleOlaviNiemitalo Thank you! I've just updated the aka.ms target URL and it seems to be working. Let me know if you find otherwise.

[2021-01-20 18:10] #22431 closed

[2021-01-20 18:11] KalleOlaviNiemitalo commented on #22431
Thanks, it is fine now.

[2021-01-20 18:51] AryehSamoka commented on #22422
Thank you very much.

‫בתאריך יום ד׳, 20 בינו׳ 2021 ב-17:05 מאת ‪Bill Wagner‬‏ <‪
notifications@github.com‬‏>:‬

[2021-01-20 19:17] gewarren commented on #16066
@crgarcia12 Can you help me reproduce this?

I created a project with a folder named _New%Folder_, put a code file in that folder, and it compiled and ran fine.
Also, when I tried to create a repo on GitHub with a space in the name, it added hyphens where the spaces were.

[2021-01-20 19:36] tdykstra commented on #22401
cc @steveharter @layomia

[2021-01-20 20:14] SetTrend opened #22434 "Abbreviated `when` clause unexplained"
Nice article.

However, there is a "race condition" in the text:

Up to that time in the article, the term _"`when` clause"_ neither occurs or is getting explained.

The previous section merely introduces a _"property pattern"_ and doesn't provide any relation between a _"property pattern"_ and a _"`when` clause"_, nor does it introduce the term _"`when` clause"_.

So, the above mentioned sentence

[2021-01-20 20:21] #21035 closed

[2021-01-20 20:21] #21254 closed

[2021-01-20 20:21] #20557 closed

[2021-01-20 21:34] #8574 closed

[2021-01-20 21:57] luisquintanilla commented on #22306
Hi @cecchettia

Thanks for raising this issue. We're looking into it.

[2021-01-20 22:03] luisquintanilla commented on #22195
Hi @Dedigraz

Thanks for your question. It is possible to write your own algorithm. The code is available on GitHub https://github.com/dotnet/machinelearning where you can make pull requests against the repo. Since this is more of a product question, in the future, it's advised to open issues in the [dotnet/machinelearning](https://github.com/dotnet/machinelearning/issues) repo.

Closing this issu

[2021-01-20 22:03] #22195 closed

[2021-01-20 22:04] luisquintanilla commented on #22121
Hi @outlookhazy

Thanks for raising this issue. We're looking into it.

[2021-01-20 22:05] luisquintanilla commented on #22109
Hi @ROBYER1,

Thanks for your feedback. We'll take that into consideration into future updates made to this article.

[2021-01-20 22:07] luisquintanilla commented on #21917
Hi @mr-katsini,

Thanks for raising this issue. The issue was resolved by #22145

[2021-01-20 22:07] #21917 closed

[2021-01-20 22:09] luisquintanilla commented on #21251
Hi @frogcrush

Thanks for raising this issue. Does working with the older versions of these libraries throw an error or just warnings?

[2021-01-20 22:18] SetTrend opened #22435 "Build time and run time mistaken?"
Shouldn't this rather read "[...] at **run** time."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aa7bda7-581d-9654-c7c5-5ff0292ddfb3
* Version Independent ID: 7f32162e-ec95-0a16-7618-14b7a7c80cff
* Content: [Run-time config options - .NET](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/#msbuild-proper

[2021-01-20 22:19] luisquintanilla commented on #21225
Hi @willsam100

Thanks for raising this issue. Could you also provide which version of MacOS and Homebrew you're using to run these commands.

[2021-01-20 22:54] gewarren commented on #22171
@sandersaares Here's an [open issue](https://github.com/dotnet/runtime/issues/23937) to make `TraceSource` work with .NET Core. I'm going to close this docs issue out since, presently, you cannot configure trace switches with .NET Core.

[2021-01-20 22:54] #22171 closed

[2021-01-20 23:14] gewarren commented on #22435
@SetTrend I believe it's written correctly. At build time, any options in the [appname].runtimeconfig.json file will be updated to match the MSBuild properties for run-time configuration.

[2021-01-20 23:36] #22389 closed

[2021-01-20 23:37] luisquintanilla commented on #22184
Hi @EdmundoMartinez

Thanks for the feedback. This article is not intended for users to follow along like a how-to guide or tutorial. For a Hello World experience, you can see this sample (https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/intro) or the rest of the [tutorials](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis). We'll take a look a

[2021-01-21 00:25] SetTrend commented on #22435
But according to the docs page, `[appname].runtimeconfig.json` doesn't exist before MSBuild is run. It's a generated run-time file, not a solution file. I suppose the corresponding solution file would rather be `runtimeconfig.template.json`.

[2021-01-21 00:36] KalleOlaviNiemitalo commented on #16066
I don't know whether this is the problem that @crgarcia12 hit, but the build does blow up with a folder named `100%fake` and .NET SDK 5.0.102:

[code]

Note how it tried to use a directory named `100úke` rather than `100%fake`. This really seems a product bug to me, but I'm not sure whether the bug is in MSBuild or NuGet.

[2021-01-21 01:29] SetTrend commented on #22435
Excellent! Thank you for taking the time to deal with this! 👍

[2021-01-21 01:29] #22435 closed

[2021-01-21 02:21] BillWagner opened #22439 "This article should add discussion of practices to use or avoid"
The following tips will help use the I/O pipelines classes successfully:

1. Always complete the Reader and Writer, including an exception where applicable.
1. Always call AdvanceTo after calling PipeReader.ReadAsync.
1. Periodically await PipeWriter.FlushAsync while writing, and always check FlushResult.IsCompleted and abort writing if it is true (which indicates the Reader is completed and no lo

[2021-01-21 02:57] vigilvp opened #22440 "directory and files c#"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25601a0f-eb3c-bf18-04d1-f371f5dc4341
* Version Independent ID: ce7a72d0-6156-f1f8-56ee-9774d93d6d3d
* Content: [How to iterate through a directory tree - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/file-syste

[2021-01-21 04:21] AArnott commented on #22412
No. Thankfully people tend to give their assemblies fairly unique names.

That's surprising that that would be required. I knew the steps @dsplaisted mentioned would likely be required (and work on .NET Framework) but I didn't realize that .NET Core's default load context didn't support it at all.
Why does .NET Core consider two assembly names with differing strong name keys to be equivalent?

I j

[2021-01-21 04:21] #22412 closed

[2021-01-21 05:45] jkotas commented on #22412
We saw strong naming creating many problems, and having diminishing value in .NET Core. We wanted problems with strong naming to go away in .NET Core. Ignoring strong names was a part of the plan to achieve that.

[2021-01-21 10:37] Youssef1313 opened #22442 "Consider having some sort of notifier when files referenced by lines are modified"
Currently, there are *access-by-line.txt* files for code files that are referenced by line. But they don't add that much value IMO.

- It's not guaranteed they are up-to-date, and most likely they are currently not up-to-date.
- When files are modified, it's very likely that change author will miss checking the lines.

It would be great if there is a bot that posts a comment whenever a PR edits a

[2021-01-21 14:24] BillWagner commented on #22440
@vigilvp Can you add details to this issue? I'm not sure what you are looking for from this issue title.

[2021-01-21 14:27] BillWagner commented on #22434
Thanks for noting this @SetTrend

I like your suggestion. I made a couple edits to match our style guide:

I've added this to our backlog, and I've added the "up for grabs" label if you or someone else wants to create a PR before I make the updates.

[2021-01-21 15:56] BillWagner commented on #654
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why.

[2021-01-21 15:56] #654 closed

[2021-01-21 15:56] BillWagner commented on #786
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why.

[2021-01-21 15:56] #819 closed

[2021-01-21 15:56] BillWagner commented on #831
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why.

[2021-01-21 15:56] #951 closed

[2021-01-21 15:56] BillWagner commented on #952
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why.

[2021-01-21 15:56] #952 closed

[2021-01-21 15:56] BillWagner commented on #953
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why.

[2021-01-21 15:56] #953 closed

[2021-01-21 16:18] adegeo commented on #22282
Thank you @pgovind for taking a look at the issue.

@SetTrend this isn't a high priority area right now for us, so this will be on the backlog and I'll leave it open. However, if you feel up to the challenge, feel free to open a PR editing the article. Tag myself and @pgovind for review.

Cheers!

[2021-01-21 17:10] layomia commented on #22096
@tdykstra - just want to note that a workaround for this is to implement custom converters in a C# library assembly, and reference that assembly from your VB project. This assumes that all that is being done is registering the converters into the serializer, and not calling the `Read` methods of the converters from VB code. We could mention this in the planned docs, and maybe show an example.

[2021-01-21 17:17] mhoerandner commented on #22401
@layomia Thak you for the detailed information. Now everything's clear. :)

[2021-01-21 17:18] mhoerandner commented on #22401
@layomia Thak you for the detailed information. Now everything's clear. :)

[2021-01-21 18:09] IEvangelist commented on #22361
Hi @ddrinka - we're going to close this for now, until there is proper support for C# records with `IOptions<TOptions>`. Thank you

[2021-01-21 18:09] #22361 closed

[2021-01-21 18:24] layomia commented on #22069
Yes @gewarren, a non-public constructor can be called from a `JsonConverter<T>` implementation if C# accessibility rules for that scenario allow it. We could explicitly state this in our recommendation.

For .NET 6.0, we are planning a way to support using non-public constructors as a first-class feature using `JsonConstructorAttribute` - https://github.com/dotnet/runtime/issues/38327. Support for

[2021-01-21 19:23] gewarren commented on #16066
@KalleOlaviNiemitalo Thank you for that (and PowerShell is cool!). Can you log a bug at https://github.com/dotnet/msbuild/issues?

[2021-01-21 19:55] layomia commented on #21777
@jozkee @tdykstra - as a sidebar to the main discussion of this issue; given the provided example:

[code]

It just occurred to me that the serializer calls `object.GetType()` when `typeof(object)` is passed at the root level when serializing. So, the object is processed as the run-time type of the instance, which is certainly different from `typeof(object)`. This is why we don't have a stack over

[2021-01-21 20:13] KalleOlaviNiemitalo commented on #16066
Might be a duplicate of <https://github.com/dotnet/msbuild/issues/2178>, actually.

[2021-01-21 20:15] KalleOlaviNiemitalo commented on #16066
And in <https://github.com/dotnet/core/issues/4468#issuecomment-606021948> they say it's "Unlikely to be fixable". That could make the problem worth documenting here.

[2021-01-21 20:48] worldtraveler58 commented on #22386
Bill,

Thanks for the response.  However, I think the various responders
misunderstood the issue.  The environment in question is Access VBA, not
Access or VB.NET.  In Access VBA the data type is LongLong, the equivalent
of Int64.  BigInteger is not recognized.  The page on docs.microsoft.com
that was the subject of my comment ("Constants and Literal Data Types
(Visual Basic)") does not show eithe

[2021-01-21 20:56] Youssef1313 commented on #22386
@worldtraveler58 The doc page you're referring to is for VB.NET. You were probably confused as the title didn't mention .NET?

@BillWagner Is updating titles to include .NET something you want to consider?

[2021-01-21 20:58] gewarren commented on #16066
I think that https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build might be a better place to add a note about this.

[2021-01-21 21:33] BillWagner commented on #1028
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1028 closed

[2021-01-21 21:33] BillWagner commented on #1083
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1083 closed

[2021-01-21 21:33] BillWagner commented on #1086
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1086 closed

[2021-01-21 21:33] BillWagner commented on #1133
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1133 closed

[2021-01-21 21:33] BillWagner commented on #1143
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1143 closed

[2021-01-21 21:33] BillWagner commented on #1175
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1175 closed

[2021-01-21 21:33] BillWagner commented on #1179
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1179 closed

[2021-01-21 21:33] BillWagner commented on #1347
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1347 closed

[2021-01-21 21:33] BillWagner commented on #1483
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1483 closed

[2021-01-21 21:33] BillWagner commented on #1491
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1491 closed

[2021-01-21 21:33] BillWagner commented on #1505
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:33] #1505 closed

[2021-01-21 21:33] BillWagner commented on #1752
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:34] #1752 closed

[2021-01-21 21:34] BillWagner commented on #1756
This issue has been closed as part of the issue backlog grooming process outlined in #22351.

That automated process may have closed some issues that should be addressed. If you think this is one of them, reopen it with a comment explaining why. Tag the `@dotnet/docs` team for visibility.

[2021-01-21 21:34] #1756 closed

[2021-01-22 00:45] #15368 closed

[2021-01-22 07:46] Genteure opened #22448 "Add a paragraph for dependency injection scopes."
I think scope deserves it's own paragraph, explaining it's behaviors and features.
There are texts related to scope scattered in different locations, but no paragraph dedicated to scope itself.

What I think is important to have:

- Is scope nestable / hierarchical? What will happen if I call `provider.CreateScope().ServiceProvider.CreateScope()`? (Currently documented in [General `IDisposable` gu

[2021-01-22 08:09] Genteure opened #22449 "Move "Framework-provided services" from "Dependency injection" to ".NET Generic Host""
The [Framework-provided services](https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection#framework-provided-services) section should be moved to the [.NET Generic Host](https://docs.microsoft.com/en-us/dotnet/core/extensions/generic-host) page since `Host` and `ConfigureServices` is not really part of Dependency Injection.
The "Framework-provided services" section would be mo

[2021-01-22 08:52] frogcrush commented on #21251
It throws errors and won't work with the older versions.

[2021-01-22 09:47] Youssef1313 opened #22450 "csharp_style_prefer_not_pattern documentation isn't clear"
The example in the doc page:

[code]

To me, this implies that if I have set the option to `false`, it will **enforce** the usage of the second form and reports on the first form. However, this doesn't seem to match the implementation:

https://github.com/dotnet/roslyn/blob/d57cddbaa7536c8741db191be76d2a773fd0b86f/src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpUseNotPatternDiagnosticAnaly

[2021-01-22 10:57] gasparnagy opened #22451 "xUnit category filtering has to be done with "Category" and not "Traits""
At least with the recent xUnit verisons the "Category" has to be used as it also mentioned in https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests?pivots=xunit.

The `Traits` in the *Supported properties* list of xUnit has to be replaced with `Category`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-01-22 13:13] decafbad opened #22454 ""flexibility of reference types""
[Enter feedback here]

This was unnecessary. I couldn't delete.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bef555-3de1-5d81-c02b-2ac8c049423b
* Version Independent ID: eb13ad9e-2c95-979b-6d6e-13d29653c6ba
* Content: [Tour of F#](https://docs.microsoft.com/en-us/dotnet/fsharp/tour)
* Content Source: [docs/fsharp/to

[2021-01-22 13:27] luisquintanilla commented on #21251
Thanks for that clarification.

[2021-01-22 13:48] LeeRuns commented on #21499
bump

[2021-01-22 13:59] IEvangelist commented on #22448
Hi 👋 @Genteure
Thank you so much for posting this issue. We really appreciate it.

I think you're asking

The answer is, yes, scopes can be nested.

Here is an updated version of the sample source:

[code]

I updated the disposables as well, adding an `_id` for traceability.

[code]

[code]

[code]

When you run this, you'll get something similar to the following:

[code]

While this article you p

[2021-01-22 14:10] IEvangelist commented on #22449
Hi again @Genteure
Thanks for posting this issue.

After reading through it a few times, I'm not sure that I agree entirely. I do think that there is potential for the Generic Host article to be updated with some of the bits from the DI article, but I believe that the DI article is perfectly fine to rely on the `HostBuilder`. Console applications in .NET are best suited when using a hosting soluti

[2021-01-22 14:34] BillWagner commented on #22442
We agree @Youssef1313 I'll move this to the correct repo to have this addressed by our site team.

[2021-01-22 15:13] Genteure commented on #22449
TLDR: Avoid "circular dependency documents", provides a starting point without too much noise.

---

Some backstory:
My experience with learning ASP.NET Core was ..."confusing"?
Microsoft does a great job with documentations, but sometimes documents for A mentions B and documents for B mentions A.
It was really hard to understand the full picture without being familiar with all of them in the firs

[2021-01-22 15:17] IEvangelist commented on #22442
This issue was moved to MicrosoftDocs/feedback#3407

[2021-01-22 15:18] #22442 closed

[2021-01-22 15:23] Genteure commented on #22449
To further clarify:

What I meant is documents for B **depends** on A in some way.

Some link for how to use B with A in a harmonious, integrated way would really help, **after** someone understand how B works in standalone.

[2021-01-22 15:55] Genteure commented on #22448
I was thinking something similar to https://autofaccn.readthedocs.io/en/latest/lifetime/
Most other DI libraries have a section if not a page dedicated to scope and everything scope related.

While it shouldn't be a word count competition, some documents in regards to the usage of scope, specially in places that might be different from other DI libraries would really help.
It feels like the docume

[2021-01-22 16:25] Genteure commented on #22448
I think there's a little misunderstanding.
It's not really "nested" or "hierarchical" scope, scope 1 is not the parent scope of scope 2.

Quote last item from [General IDisposable guidelines](https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection-guidelines#general-idisposable-guidelines)

What I meant is something like [Instance Per Matching Lifetime Scope in Autofac](https:

[2021-01-22 16:27] mavasani commented on #22450
@CyrusNajmabadi @sharwell to confirm the intent of the analyzer and the option.

[2021-01-22 16:48] sharwell commented on #22450
This is a documentation issue. The analyzer is similar to the braces analyzer: it can require one form but it cannot remove it.

[2021-01-22 17:03] Youssef1313 commented on #22450
@sharwell Thanks for clarification. But wondering how this option to false is different than setting the severity to none? In other words, why the option exists if it just enables/disables the rule when there is an another way to do the same?

[2021-01-22 17:07] sharwell commented on #22450
The option sets the preferred style for other features that generate code automatically, even if the analyzer is disabled.

[2021-01-22 17:12] Youssef1313 commented on #22450
@sharwell Makes sense. I believe the documentation should also mention that.

[2021-01-22 17:38] #22451 closed

[2021-01-22 19:08] Rick-Anderson opened #22455 "Add tip to solve: System.InvalidOperationException: 'Unable to configure HTTPS endpoint. No server certificate was specified, and the default developer certificate could not be found or is out of date"
@V4A001 created this in https://github.com/dotnet/AspNetCore.Docs/issues/21284

I cannot reach the exact product page where to post this to.

I received suddenly this error by using docker compose.
`System.InvalidOperationException: 'Unable to configure HTTPS endpoint. No server certificate was specified, and the default developer certificate could not be found or is out of date.`

I tried all sol

[2021-01-22 21:04] worldtraveler58 commented on #22386
Youssef,

You’re right.  I found the page by googling  “Access VBA data types.”  I missed the fact that Google ignored the qualifier. Thanks again.

Don Exner

From: Youssef Victor <notifications@github.com>
Sent: Thursday, January 21, 2021 12:56 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: worldtraveler58 <alternate@worldtraveler58.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotn