[2017-11-10 01:35] mairaw commented on #3621
There are a lot of comments on this on the article too: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed#comments-container

Including a question about using the mscorlib file version to determine the version of the framework, which I'm not sure it's a valid approach. @merriemcgaw?

[2017-11-10 01:57] mairaw commented on #3640
Thanks for your feedback @kouvel. We plan to fold that info to the official docs.

/cc @pjanotti

[2017-11-10 02:02] mairaw commented on #90
HI @sputier. Thanks for your interest in contributing! I'll let @BillWagner to update you in the status of this since I've merely changed milestones and owners during our triage meetings.

[2017-11-10 09:24] doctordns commented on #3631
I think it's very important for IT Pros to know what versions of the Framework are loaded. This is because some cmdlets and some .NET classes) are only available with certain versions of PowerShell and the Framework.

I would therefore argue this topic should not only be 'targeted' at Devs, but also at IT Pros.

[2017-11-10 10:29] doctordns opened #3649 "Style Guide update suggestions"
# Some suggested improvements to the Style Guide

# General
The dotnet/docs repo has a style guide which contains a document called _**Voice and tone guidelines**_  (docs/styleguide/voice-tone.md ).
This is a great document and I am so glad to see these kinds of things. I wish all IT sites were as focused on writing quality!

With that said, I'd like to add two additional guidelines:

1. **Avoid s

[2017-11-10 15:46] chadunit opened #3652 ""Notes to Callers" sections are displaying raw Markdown"
Doc page:
https://docs.microsoft.com/en-us/dotnet/api/system.globalization.stringinfo?view=netframework-4.7.1

Github page:
https://github.com/dotnet/docs/blob/master/xml/System.Globalization/StringInfo.xml

Text displayed on page:

![image](https://user-images.githubusercontent.com/25489524/32666014-bd756f44-c5fb-11e7-8641-58e1258bd629.png)

[2017-11-10 18:25] rpetrusha commented on #3645
Thanks for pointing this out, @alex-groshev. We'll address it sometime next week.

[2017-11-10 18:33] mairaw commented on #3652
Thanks @chadunit for reporting this issue! I think Notes to Callers has recently being implemented in docs and I'll follow up with the engineering team to fix that.

/cc @dend @adkinn

[2017-11-10 18:34] mairaw commented on #3652
I'm also wondering if this is just a migration issue where the includes should not have been used in the ECMAXML sections.

[2017-11-10 20:20] merriemcgaw commented on #3621
@mairaw File versions are not recommended as a way to ensure the version of the Framework installed. Servicing events could change the version of mscorlib.dll so if the developer was looking for exact versions the test would fail. We also may change it for example from 4.5.xxx to 4.7.xxx and that could cause detection to fail. The registry release key is the only supported method at this time.

[2017-11-10 23:33] mairaw commented on #3649
Thanks @doctordns! @BillWagner to take a look at this issue too.

1. Split infinitive - it's interesting I couldn't find any recommendations regarding this on our internal style guides as well.
2. Avoid future tense - that's Microsoft's recommendation anyway, so I'd be in favor of adding this.

I think I prefer the 5th grade section name. Not sure if we need to add the IT Pro emphasis in there too

[2017-11-11 00:36] adkinn commented on #3652
I checked the templates and we are supporting markdown there. @mairaw I think you're right about the include files not being found.

/cc @dend @TianqiZhang

[2017-11-11 15:51] doctordns commented on #3649
The split infinitive is one of my things to avoid when writing.  But I think it a good guideline. And likewise future tense.

As to 5th-grade section - I think the point about writing to a 5th-grade level is parallel not necessarily superior so to some of the points after that heading. I would suggest instead we call it General Language Guidelines and include the point of focusing it on a 5th-grad

[2017-11-12 06:41] Daniel15 commented on #3603
@BillWagner What if you just make it a static instance?
[code]

[2017-11-13 07:42] gpetrou commented on #3540
Apparently, there is https://blogs.msdn.microsoft.com/dotnet/2016/03/03/net-framework-compatibility-diagnostics/
Perhaps include this as part of the documentation or at least add a link to it?
Unless I missed it, but I don't see any mentions of the Microsoft.DotNet.FrameworkCompatibilityDiagnostics somewhere.
Is this an officially supported package? Seems to be outdated with regards to 4.7 and 4.7

[2017-11-13 20:28] BillWagner commented on #2409
This was fixed in #3609
Closing.

[2017-11-13 20:28] #2409 closed

[2017-11-13 20:29] BillWagner commented on #3239
Fixed in #3478

Closing now.

[2017-11-13 20:29] #3239 closed

[2017-11-13 20:31] BillWagner commented on #3242
@jcouv In updates on this option?

[2017-11-13 20:34] jcouv commented on #3242
It didn't make it into 15.5 (C# 7.2). We're about to merge into branch for 15.6 ([PR](https://github.com/dotnet/roslyn/pull/23061)).
Tagging @agocke

[2017-11-13 21:11] mairaw commented on #3652
The issue is not with includes only. The URLs are also using the wrong format @adkinn.

/cc @dend @TianqiZhang

[2017-11-13 21:25] chadunit commented on #3652
FYI I've noticed this seems to be fairly common, see for example:

https://docs.microsoft.com/en-us/dotnet/api/system.string.trim?view=netframework-4.7.1
https://docs.microsoft.com/en-us/dotnet/api/system.string.compare?view=netframework-4.7.1

I guess there probably needs to be some generic systemic fix regarding the Notes to Callers section.

[2017-11-13 21:35] mairaw commented on #3323
should this be assigned to you @rpetrusha?

[2017-11-13 21:38] mairaw commented on #2982
@DnlHarvey can you help with this one?

[2017-11-13 22:04] mairaw commented on #3652
Yes, @chadunit. It probably happens in all docs that have Notes to Callers (or most of them).

[2017-11-13 23:21] rpetrusha commented on #3323
Yes, I just assigned it to myself, @mairaw.

[2017-11-14 00:07] adkinn commented on #3652
@mairaw do you mean the URLs for the include files? Or are there examples where regular links are not working?

[2017-11-14 01:27] mairaw commented on #3652
@adkinn the example that @chadunit has posted above has both includes and regular links (see the link to the Unicode Standard, Version 8.0.0 link . AFAIK regular links should have the see href format and not a Markdown link format in the ECMAXML sections. So that's why I'm saying this is probably a migration issue. Includes should have been removed and links should have been migrated with the see

[2017-11-14 14:46] ChrisMaddock opened #3678 "Broken formatting on Object.GetHashCode Method page"
There's various bits of broken formatting in the 'Notes to Inheritors' section of this page.

https://docs.microsoft.com/en-gb/dotnet/api/system.object.gethashcode?view=netframework-4.7.1#Notes_to_Inheritors

- Backticks not being recognised
- Bulletted list being collapsed into inline text
- Broken keyword links (`[System.Object.Equals](xref:System.Object.Equals*)`)

Apologies - I'd send a PR mys

[2017-11-14 15:17] svick commented on #3678
I think this is the same issue as https://github.com/dotnet/docs/issues/3652.

[2017-11-14 15:41] ChrisMaddock commented on #3678
Thanks. I wondered if it might be part of a larger migration issue.

[2017-11-14 17:40] logmanPL opened #3679 "NetworkInterface.NetworkInterfaceType missing enum values in remarks"
Property NetworkInterfaceType of NetworkInterface in Remarks section is missing return enum values

[On this page](https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.networkinterface.networkinterfacetype?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Net.NetworkInformation.NetworkInterface.NetworkInterfaceType);k(

[2017-11-14 18:12] jcouv commented on #3242
I see that @agocke just merged the feature into the branch for 15.6.
As far as the feature, my understanding is that it allows signing on Linux (previously was only supported on Windows). Andy can expand.

[2017-11-14 18:15] agocke commented on #3242
Yup, that's the gist of it. It relies on new portable signing code that allows full signing to be done cross-platform. I'm closing this bug for now. The feature should ship in 15.6.

[2017-11-14 18:16] agocke commented on #3242
I didn't realize this was a docs bug -- I can't close it and I supposed you probably want to wait until the feature is actually shipped. 😄

[2017-11-14 18:16] BillWagner commented on #3242
@agocke Let's leave it open for now. I'll change the milestone to reflect when it ships.

Thanks for keeping me updated.

[2017-11-14 19:52] mairaw opened #3682 "Fix xref links that were commented out during migration"
During migration from MSDN to docs.microsoft.com, some of the content had their xref link commented out and changed with text inside inline code.

We should remove those from the docs:
https://github.com/dotnet/docs/search?q=%21--zz&type=Code

Search currently shows 88 files with that issue. In some cases though, we won't be able to fix the issue until the API is onboarded to docs. e.g. System.IO.

[2017-11-14 20:06] ghost opened #3683 "[New Topic] Improve documentation on Assembly Binding Redirection"
Currently, assembly binding redirection documentation is messy and difficult to locate. This is especially true if you're not able to use automatic binding redirection, such as if you are:

- Writing unit tests (which compile to DLLs, and don't get automatic binding redirects)
- Writing DLLs that are consumed in dynamic languages (Powershell, Python)

Most of the documentation is spread across mul

[2017-11-14 20:17] RutgerM commented on #3682
I'll help!

[2017-11-14 20:50] rpetrusha commented on #3679
@davidsh, can you confirm the additional enum return value?

[2017-11-14 21:32] BillWagner opened #3685 "provide guidance on updating C# language version"
There are multiple ways to update the language version for a project:

1. Project Properties page in the IDE
1. Use a language feature for a version higher than currently specified, and select the Code Fix.
1. Edit the CS Proj (probably limited to Core on non-Windows platforms)

Then, we can link to this new topic from all the locations that need it.  That list is growing, but it is currently the

[2017-11-14 21:55] #3495 closed

[2017-11-14 22:05] davidsh commented on #3679
The enum type `NetworkInterfaceType` is defined here:

https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/NetworkInformation/interfacetype.cs#L2-L36

As an enum type, it could return any of those values.

[2017-11-14 23:24] vladd opened #3690 "Tuple documentation mentions deconstructing declaration but not deconstructing assignment"
In both articles about tuples and tuple deconstruction at docs.microsoft.com (https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct, https://docs.microsoft.com/en-us/dotnet/csharp/tuples) all the examples about tuple deconstruction are indeed deconstruction declarations, there is no single example on deconstruction assignment. There is actually no mention that deconstruction is possible into

[2017-11-15 00:04] mairaw commented on #3679
Perhaps we should just remove that paragraph. It doesn't make sense to list all the enum values in the remarks, in my opinion.

I also noticed there's a typo on the page:
**An** NetworkInterfaceType value that specifies the network interface type.

[2017-11-15 00:24] logmanPL commented on #3679
From users answers on stackoverflow I can say that not all values are possible or it's not clear when they can happened. For ex. GigabitEthernet is not present event if interface actually is gigabit ethernet (instead you get Ethernet value). From my point of view, as there are many possible values it's really important to known what to expect from NetworkInterfaceType property.

[2017-11-15 00:29] mairaw commented on #3679
Yes, if the property doesn't always return all enum values and there are special conditions, then I agree with you @logmanPL, we should list which enum values you can get. My understanding after reading @davidsh's comment was that any value could be returned.

[2017-11-15 01:29] #3241 closed

[2017-11-15 19:22] BillWagner commented on #3685
@ghogen Is this already covered in the Visual Studio doc set? (I looked and didn't see it)

[2017-11-15 23:38] rpetrusha opened #3702 "Basic revision of String.Format"
The topic was revised to move documentation for all overloads onto what was then the overload list page. Now, all overloads are on a single page, and the format used to document them no longer is appropriate. Before beginning extensive revision, this page needs a basic reorganization to accommodate the current format.

[2017-11-16 05:14] qiaoxingxing opened #3708 "<remove> and <clear> are not work in <configSections>"
I follow this [docs/clear-element-for-configsections.md at master · dotnet/docs](https://github.com/dotnet/docs/blob/master/docs/framework/configure-apps/file-schema/clear-element-for-configsections.md)
this is my app.config file
[code]
but I still get error

I have found this [ASP.NET MVC Web.Config <configSections> inheritance problem | Microsoft Connect](https://connect.microsoft.com/VisualStud

[2017-11-16 08:29] HermanEldering opened #3710 "Make it easier to find pages using Google search"
Usually when I'm looking for information I'll do a search on Google. For instance when searching a method in the framework API, like "Convert.ChangeType". I would like to have the API page at docs.microsoft.com to be near the top of the search results.

Currently it will always point to msdn.microsoft.com and it is impossible for me to find the page I want at docs.microsoft.com through Google, eve

[2017-11-16 15:20] mairaw commented on #3710
Hi @HermanEldering, thanks for your feedback. This behavior is currently by design. Our API pages on docs are set to not be indexed. The reason why we had to do this is because we couldn’t have a new site that is just a copy of another site (in this case, MSDN). Google would probably stop indexing docs altogether. We’re working really hard to fix the remaining issues that are preventing us from re

[2017-11-16 15:59] BillWagner commented on #90
@sputier We'll want to change the organization for this somewhat.

This should go under samples, and look something like this (using headers for outlining):

# Samples
## LINQ
### Searches with Where
### Projections with Select
### Partitioning with Group by

And so on.

What I'd like to see is the titles point to a problem or use (search, project, partition, filter, etc.)

For simple tasks, we ma

[2017-11-16 16:17] BillWagner commented on #3649
I've read through the thread, and I agree with @doctordns 's proposed changes, and @mairaw's thoughts. Let's schedule this.

[2017-11-16 17:58] doctordns commented on #3649
Thanks Bill. I'll get around to offering an update later this week.

ALso - the guidelines suggest a 5th grade reading level. Is that a bit too low? 5th grade is 12 years old. Are API docs really something a 12-year old would be able to understand. I'd be kind of tempted to bump it up a bit and go for 7th-9th grade level.

What do you think?

[2017-11-16 20:09] rpetrusha opened #3715 "Review usage of "generic type" in System.Runtime.InteropServices.Marshal.xml file"
# Review usage of "generic type" in System.Runtime.InteropServices.Marshal.xml file

The documentation for the [Marshal class](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal?view=netframework-4.7.1) and its members uses the phrase "generic type" in 14 instances. In some cases, that usage is incorrect, and "generic type" should be changed to "generic type definit

[2017-11-16 20:59] BillWagner opened #3717 "Are there breaking changes / versioning issues in C# 7.2"
From @jonskeet via LiveFyre:

It would be really nice to see a section on versioning concerns here. Is changing "public struct" to "readonly public struct" a breaking change? Is adding the "in" modifier to a method parameter a breaking change? I'll investigate for myself, but it would be great to see that information here.

More discussion on the topic:

Since "in" means the callee is using a refe

[2017-11-16 21:43] BillWagner commented on #3243
Closed via #3672

[2017-11-16 21:43] #3243 closed

[2017-11-16 23:18] jaredpar commented on #3717
No. It is both safe from a source and binary perspective. CoreFx is already making progress in converting a number of structs to be `readonly`

https://github.com/dotnet/corefx/pull/24997

This is safe from a source perspective but breaking from a binary perspective. The `in` modifier, much like `out`, is simply a modifier on `ref` parameters. Hence it's effectively changing a normal parameter, to

[2017-11-16 23:25] udlose commented on #3717
@jaredpar - re your comment:

Per [https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types](https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types),

So it appears to contradict your suggestion.  Am I misinterpreting?

[2017-11-16 23:29] kburgoyne commented on #3717
I actually think it's a bad idea to _not_ require "in" on the call.  The thread-safety issue means the caller should "acknowledge" the lack of thread-safety when passing using "in" versus non-"in".  Without requiring "in" on the call, the call looks like any historical call which is thread-safe insofar as the struct arguments.  But yet if the method signature has "in" then the call isn't thread-sa

[2017-11-16 23:32] jaredpar commented on #3717
@udlose that sentence is confusingly worded. The difference is subtle and as I'm trying to type up the explanation I'm beginning to understand why it's hard to construct a single sentence that adequately explains the problem.

A longer way of saying it is:

Or in code terms

[code]

[2017-11-16 23:37] jaredpar commented on #3717
Why would either of these necessarily be more thread safe than the other? For that matter what do you mean by thread-safe here: threading has far too many scenarios to be covered by a single term. Except of course immutable.

[2017-11-16 23:37] udlose commented on #3717
@jaredpar - hah! that's cheating :)
Thanks for the clarification.  Could someone please update the docs to include your clarification?

[2017-11-16 23:39] BillWagner commented on #3717
@udlose I will update it.  I was extending the current standard language for `in`. It's not adequate, and I like @jaredpar 's description.

Aside: How to describe (trying to stay in one sentence) generated significant discussion in the C# standards meetings.

[2017-11-16 23:43] kburgoyne commented on #3717
By "thread safe" I mean "safe for use in multithreading scenarios".  When a struct is passed-by-copy (as is the case today without "in"), the callee is insensitive to whether the original struct gets subsequently modified by another thread.  However when the struct is passed by reference (even using "in"), the original struct is being referenced by the callee.  Thus if the original struct is modif

[2017-11-16 23:44] jaredpar commented on #3717
Which multithreading scenarios? As noted there are too many, many of which have contradictory correctness rules, to describe in a single all up term.

[2017-11-16 23:46] udlose commented on #3717
@BillWagner - oh, to be a fly on the wall!  It'd be great to hear those discussions.

[2017-11-16 23:54] kburgoyne commented on #3717
Basically any potential multithreading scenarios in which the struct being passed is being accessed by multiple threads.  If the struct is passed-by-copy (historical), then the callee doesn't care because it has its own local stack copy.  If the struct is passed by-ref ("in"), then the callee does care whether multiple threads are accessing the original struct.

If a semaphore or other lock is pro

[2017-11-17 00:01] vladd commented on #3717
@BillWagner

Well, I'm not sure about it; the method can call a callback which can mutate the original struct. Somthing like this:
[code]

Replacing `int x` with `in int x` changes output from 0 to 1.

[2017-11-17 00:03] jaredpar commented on #3717
This is only true for the data directly in the struct though. Data which is indirectly referenced, via say a field to a class object, is just as vulnerable in either scenario.

This is also not applicable when the struct itself is `readonly` and sitting in a `readonly` location. In that case "by val" just slows things down.

[2017-11-17 00:07] kburgoyne commented on #3717
@vladd - Touche!  Good catch.  It is a little less "nefarious" as far as a developer trying to understand the possibilities since the callee is at least participating in that case.  But it is certainly another entirely legitimate "difference".

I'm not convinced the not requiring "in" on the call may have been fully explored.  I can understand the "friendliness" of not requiring it, but I think th

[2017-11-17 00:12] kburgoyne commented on #3717
@jaredpar -- All true.  The debate really isn't about when to use "in" or not.  The debate is only regarding clarity (or guidelines) for when a developer decides to use one or the other.  The class reference in the struct is true both with and without "in", just like if the class reference was passed as its own parameter.  This has more to do with the struct members that would be "safe" during pas

[2017-11-17 00:27] VSadov commented on #3717
@kburgoyne what you are describing is basically aliasing of variables. Multithreading does not need to be involved to observe it.
Concurrent use of shared state can have effect of making everything more complex, but it is helpful to separate concerns of sharing/aliasing and threading.

Consider examples:
- a field X is passed as `out` parameter P to A method. Method assigns to the P, then makes as

[2017-11-17 05:54] KirillOsenkov opened #3725 "More description and samples for Task.Run overloads"
For Task.Run overloads it would be nice if the semantics was explained in a bit more detail:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.run?view=netframework-4.7.1

Specifically for `Task Task.Run(Func<Task> t)` there is no actual description:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.run?view=netframework-4.7.1#System_Threading_Tasks_Task

[2017-11-17 19:17] kburgoyne commented on #3717
@VSadov -- I think we're getting sidetracked debating multi-threading when it is nothing more than one example of the situation.  The underlying issue is that using "in" versus not using "in" does have potential side effects and switching from non-"in" to "in" is potentially a "breaking change" -- which is where this thread got started.  My assumption has been that at a minimum, documentation shou

[2017-11-17 23:01] sputier commented on #90
@BillWagner Thanks for these informations. Your suggestion about the global structure seems great to me.

The [C# Guide \ LINQ section](https://docs.microsoft.com/en-us/dotnet/csharp/linq/) already seems to describe different use cases. Regarding this fact, what is the value we want to give to the readers in this section ? A detailed exploration of each LINQ operator ?  A real step-by-step to achi

[2017-11-17 23:08] BillWagner commented on #90
@sputier Great questions. Let me think a bit, and respond with more guidance in a day or two. I like your thoughts so far.

[2017-11-18 02:12] mairaw commented on #3381
Closing since this is being tracked internally and doesn't apply to docs.

[2017-11-18 02:12] #3381 closed

[2017-11-18 22:53] amesgen opened #3739 "Add basic aspects to the "Native interoperability" article"
In my opinion, the "[Native Interoperability](https://docs.microsoft.com/en-us/dotnet/standard/native-interop)" article is missing some information to get started using the native interop capabilities of .NET. I want to point out three aspects:

 - The first "Note" mentions the cross-platform support of DllImport, but in the following examples a specific file ending is used. Afaik, you can simply

[2017-11-19 00:07] bgrainger commented on #3717
@jaredpar How do you call the non-`in` overload?

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEAMACFBGA3AWACgUBmLAJgwGEMBvIjRrMlAFgwFkAKASjoaaCACgHsAlgDsYJACIYIGALwYAJnABmEAK4AbGABoMwJao3a9BQoMEDrGAPT2MiBCITUAymmzlsIDAAqABZwGADGEDo6GGJQ8mDAYgDmWiJaccBwMADucHASGDAhGOoiUSLZkkkYYFlBIipxbhgADq4tiDBicFD+AORUAHRUkWG6EPAysTAQEmFwXKKS0jKGS1KyPH3yEioYA8Oj45PTs/NckhjrK4aX15t9ttaO1Ec6E3BTsG

[2017-11-19 02:41] PetSerAl opened #3740 "Incorect default value for decimal type"
[Default values table](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/keywords/default-values-table.md) topic show `0.0M` as default value for `decimal` type. For `decimal` type `0M` and `0.0M` have different binary representation and `0M` is actual default value for `decimal` type.

[2017-11-19 12:34] dasMulli commented on #2816
btw I put up a Q&A post on stack overflow back in august to at least have some info dealing with `NU1003` there and it is still showing activity (visits/votes)
https://stackoverflow.com/questions/45569378/upgrading-to-net-core-2-0-packagetargetfallback-and-assettargetfallback-cannot/45569379

[2017-11-19 14:37] guardrex commented on #2816
You see @mairaw why I nominated @dasMulli for MVP??!!

He's *soooooo good* that he can answer his own SO questions!

... well ... either that or he's a clone! :alien: :grinning:

[2017-11-20 11:07] HermanEldering commented on #3710
Thanks for the reply. It is good to know that it is by design for now and being worked on. I like the new site so I hope to see the transition soon.

[2017-11-20 11:07] #3710 closed

[2017-11-20 15:58] udlose commented on #3717
Hopefully, I'm stating the obvious here....I think that writing code that is explicit and clearly states its intention is of the highest importance.  Ambiguity in intention is dangerous.

IMO, `in` should be required - not optional.

[2017-11-20 16:43] jaredpar commented on #3717
@bgrainger

This is the issue tracking support for `in` at the callsite being a tie breaker. Unfortunately we just ran out of time to finish this in the 7.2 release

https://github.com/dotnet/csharplang/issues/945

[2017-11-20 17:10] udlose commented on #3717
@jaredpar - so has it been decided on whether or not `in` will be required at callsites?  From that issue, it is difficult to tell.

[2017-11-20 17:50] jaredpar commented on #3717
@udlose

It is not required.

The reason for adding `ref` and `out` at the callsite is to make visible that the callee can modify the arguments. In both cases it is possible for the callee to pretty significantly alter the code flow of the caller simply by changing a parameter modifier. As such it was deemed worth the extra overhead to require the `ref` and `out` modifier at the call site. This fo

[2017-11-20 18:14] #3645 closed

[2017-11-20 20:14] rpetrusha commented on #3740
Thanks for pointing this out, @PetSerAl. We'll update the documentation by December 1.

[2017-11-20 20:36] chrisckc commented on #3338
Hi, i downloaded and installed dotnet-sdk-2.0.3-osx-gs-x64.pkg yesterday and had to increase the open file limit to much more than 2048 to get the dotnet command to work properly.

Initially set the open file limit to 2048 as suggested in the current documentation (using the suggested method) before i even tried the dotnet cli, but i found that i was unable to run "dotnet --version" , "dotnet new"

[2017-11-20 20:43] janvorli commented on #3338
@chrisckc this is strange, the 2.0.3 SDK should now contain 2.0.3 runtime that should not need any change in the max open files, since the runtime should set it to the maximum possible value. I've fixed that in #14054 and verified that the fix caused the limit to be set to the maximum possible value. So I wonder what's going on. Let me try to test the published 2.0.3.

[2017-11-20 20:57] janvorli commented on #3338
I have tried the tar.gz packaged SDK from here "https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.0.3-macos-x64-binaries" and it worked fine for me. I suspect that either the .pkg version is wrong or somehow, it is trying to incorrectly use older runtime already present on your machine.
Can you also dump the `dotnet --info` please?

Btw, the output of `launchctl limit` on my device is:

[2017-11-20 21:04] mairaw commented on #3739
Thanks @condensedapple for your feedback. @karelz @stephentoub who would be good contacts to help us review the native interop topic? Thanks!

[2017-11-20 21:05] bbarry commented on #3717
Which means at the moment you cannot add an overload which accepts an in parameter to an existing class because doing so breaks source level compatibility.

given assembly A and B:

[code]

[code]

* Changing `A.M(int i)` to `A.M(in int i)` will break binary compatibility (require a rebuild of B)
* Adding new overload `A.M(in int i)` will break source compatibility (B cannot be built due to error

[2017-11-20 21:09] mairaw commented on #3725
Thanks for filing the issue @KirillOsenkov. @stephentoub would you be the right person to sync on this?

[2017-11-20 21:15] mairaw commented on #3708
@qiaoxingxing thanks for reporting the issue. The Connect bug probably has the right information.

@davidfowl @danroth27 who could we talk to confirm the config section behavior for ASP.NET? Thanks.

[2017-11-20 21:19] mairaw commented on #3685
Maybe @gewarren can help with your question, @BillWagner

[2017-11-20 21:19] BillWagner commented on #3690
This is a great suggestion. The updates should also mention it's great for constructors in record-like types:

[code]

[2017-11-20 21:26] sputier commented on #1117
@rpetrusha I'd be glad to help you on this one ! Do you have any idea about the structure this part of the doc should have after the changes ? Actually, I think it is a it too overwhelmed, so it can be hard to find the exact thing we need, but I am not sure how to improve it.

[2017-11-20 21:28] mairaw commented on #3683
Thanks @SZ-MSFT for your feedback. @richlander @terrajobst who would know about this and what we want to expose in the docs?

[2017-11-20 21:31] mairaw commented on #3678
Thanks @ChrisMaddock. Yes, this is a larger migration issue. I'll close this one since we already have one covering this issue. We'll need a global fix for this and I believe our engineering team is already working on that.

Duplicate of #3652.

[2017-11-20 21:32] mairaw commented on #3678
Duplicate of #3652.

[2017-11-20 21:32] #3678 closed

[2017-11-20 21:34] mairaw commented on #2716
@CamSoper which sprint should this be moved to?

[2017-11-20 21:35] terrajobst commented on #3683
What's wrong with this?

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions

[2017-11-20 21:36] CamSoper commented on #2716
@mairaw This was done in 126.  Sorry, I marked VSTS complete but forgot to do it here.  I need to come up with a better system.  :(

[2017-11-20 21:37] BillWagner commented on #2716
Closed in aspnet/Docs#4728

[2017-11-20 21:37] #2716 closed

[2017-11-20 21:58] rpetrusha commented on #1117
Thanks for the offer, @sputier. Actually, content has now all been ported from MSDN, and unfortunately it was ported in two stages. One was a port of threading docs to the VB and C# documentation, and the other was a port of the threading docs to the .NET Standard documentation. With a few exceptions (like `lock` and `SyncLock`, VB and C# don't actually offer threading support apart from .NET. So

[2017-11-20 22:02] stephentoub commented on #3725
Sure

[2017-11-20 22:08] karelz commented on #3739
@shrah @janvorli @russellhadley do you have suggestions?

[2017-11-20 22:17] sputier commented on #1117
@rpetrusha Of course, I'd like to help on it ! Don't hesitate to mention me when you open the new issue.

[2017-11-20 22:48] SZ-MSFT commented on #3683
The existing documentation doesn't explain DLL targets do not get redirection, so they need to be handled manually - this is important if you're writing DLLs that are consumed by dynamic languages, or if you're writing unit tests.

Specifically, it would be great to see documentation on how to get unit tests working (which require special flags in the csproj to allow for redirection to work on a u

[2017-11-20 22:48] danroth27 commented on #3708
@csharpfritz Can you help direct this to the right folks?

[2017-11-20 23:14] csharpfritz commented on #3708
We should connect with @StephenMolloy and @HongGit for triage

[2017-11-20 23:21] chrisckc commented on #3338
`$ which dotnet`

This is from the dotnet executable in my env path variable which was installed by the pkg file that i originally downloaded

`$ dotnet --info`

 Version:            2.0.3
 Commit SHA-1 hash:  eb1d5ee318

 OS Name:     Mac OS X
 OS Version:  10.13
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.0.3/

  Build    : a9190d4a75f4a982ae4b4fa

[2017-11-20 23:30] wadepickett opened #3749 ".NET Core Guide intro topic - Address customer feedback - low CSAT"
# NET Core Guide intro - Address feedback - low CSAT
This topic: https://docs.microsoft.com/en-us/dotnet/core/
Requires investigation, customer satisfaction ratings in low 60's although improved somewhat from earlier in the year.

Some example feedback asks:
- Localization requests for a Chinese translation.
- Why use .NET Core and what for?

Please do look deeper beyond those two requests.

[2017-11-20 23:42] mairaw commented on #3749
Really hard to access current asks for this page given there's just two comments from the last 90 days. The Chinese version of this topic is already available, for example.

[2017-11-21 00:29] #2664 closed

[2017-11-21 08:39] dasMulli commented on #3338
How did you do that? The maximum value supported on macOS by default is `10500`. At least what the API will let you set and is what the 2.0.3 runtime will set. If you really need more, it's going to be complicated.

I'm a bit curious that you hit the issue with `dotnet --version` - that really doesn't load much. The failures previously only occurred when restoring target NuGet graphs without cache

[2017-11-21 09:57] chrisckc commented on #3338
@dasMulli i just set that value in the limit.maxfile.plist file i created inside /Library/LaunchDaemons/

`$ cat limit.maxfiles.plist `

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>limit.maxfiles</string>
    <key>ProgramArguments</key>
    <array>
      <string>launch

[2017-11-21 10:21] chrisckc commented on #3338
Ok, i have tried to recreate the issue and failed to do so, which is not a surprise to be honest.
Before i did anything here is the output of the 2 commands:
`$ ulimit -a`

data seg size           (kbytes, -d) unlimited
file size               (blocks, -f) unlimited
max locked memory       (kbytes, -l) unlimited
max memory size         (kbytes, -m) unlimited
open files                      (-n) 20

[2017-11-21 10:51] dasMulli commented on #3338
See https://github.com/dotnet/coreclr/blob/d664f5ff1c7a8463c552c0eb6163999452c39694/src/pal/src/init/pal.cpp#L1056-L1085

it calls `setrlimit()` which according to [Apple's doc](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man2/setrlimit.2.html) only accepts up to `OPEN_MAX`, which is currently 10500 (which is also the maximum you can pass to `ulimit -n`)

[2017-11-21 20:58] BillWagner commented on #3502
After reviewing the current doc, here are the list of tasks for updating this article:

- [ ] Lift samples out of Remarks into Examples.
- [ ] Order samples so core scenarios are first.
- [ ] Add link to conceptual topic on System.DateTime string formatting at the start of examples.
- [ ] Add link to relevant conceptual topics on converting System.DateTime structures (to / from string, long, etc)

[2017-11-21 21:39] eerhardt commented on #3717
Another versioning question that I didn't see covered above: Is it a breaking change to add `ref readonly` to a public static property?

In CoreFX we’ve shipped:

[code]

Is it possible to add `ref readonly` to these properties without it being a binary breaking change?

[2017-11-21 21:52] VSadov commented on #3717
adding `ref readonly` would not be a source breaking, but woudl be a binary breaking change.

Which is unfortunate, since `ref readonly` would be immensely helpful here.

[2017-11-21 22:11] VSadov commented on #3717
Same can be said about `operator + (in  Vector3 left, in Vector3 right)`
Binary breaking, but very beneficial.

[2017-11-21 22:26] wadepickett opened #3760 "Arrays in Visual Basic - High PV low CSAT - code example issues"
# Arrays in Visual Basic - High PV low CSAT - code example issues
This topic: [Arrays in Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/arrays/)

Very high page views (23K in one month), but low customer satisfaction ratings and broken code therefore suggesting a high priority.

Requires further inspection, but the obvious issues called out i

[2017-11-21 22:56] wadepickett opened #3762 "Unit testing C# code in .NET Core using dotnet test - high PV low CSAT - root directory issue in samples"
# Unit testing C# code in .NET Core - high PV low CSAT - root directory issue in samples
This topic: [Unit testing C# code in .NET Core using dotnet test and GitHub](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test)

High page view topic but low ratings.  Requires further inspection.

Customer feedback recently points to sample issue that refers to wrong root dire

[2017-11-22 00:23] #3278 closed

[2017-11-22 00:23] #3563 closed

[2017-11-22 09:06] LindaLawton opened #3768 "Bad link in Asp .net core tutorial page."
The page `https://github.com/dotnet/docs/blob/master/docs/core/tutorials/aspnet-core.md` has a link  `[ASP.NET Core documentation](/aspnet/core/) `  Which results in a 404.

[2017-11-22 12:14] colgreen opened #3769 "XNode.ReadFrom(XmlReader) Method. Error in sample code."
I used the sample C# code from here:

    https://docs.microsoft.com/en-us/dotnet/api/system.xml.linq.xnode.readfrom

If you take the example XML file the sample is using and remove all of the whitespace (i.e. such that the XML content is all on one line but still logically the same XML structure), then the reader loop will skip every other element instead of reading all of the elements.

It's not

[2017-11-22 12:40] sputier commented on #3768
@LindaLawton This link points to a documentation page stored in the aspnet/Docs repository : https://github.com/aspnet/Docs/blob/master/aspnetcore/index.md

The reason the link is relative is both docs (dotnet & aspnet) are hosted at https://docs.microsoft.com :
* https://docs.microsoft.com/dotnet/
* https://docs.microsoft.com/aspnet/

[2017-11-22 13:15] LindaLawton commented on #3768
I guess i need to learn how to us this repo.   Thanks

[2017-11-22 13:15] #3768 closed

[2017-11-22 21:41] #2850 closed

[2017-11-23 18:08] #3740 closed

[2017-11-23 19:47] mikkelbu opened #3779 "Empty first line and wrong indention of first non-empty line in code blocks in System.Xml.Linq"
Most of the code blocks under `System.Xml.Linq` start with an empty line which is then followed by a line which is indented with 16 spaces. This makes the resulting examples look somewhat strange. I propose to remove the empty line and the additional indentation from the second line.
See e.g. in https://github.com/dotnet/docs/blob/master/xml/System.Xml.Linq/XDeclaration.xml which contain code bloc

[2017-11-23 20:45] svick opened #3781 "API search results for immutable collections include raw [!INCLUDE["
When I [search for "immutabledictionary"](https://docs.microsoft.com/en-us/dotnet/api/?term=immutabledictionary), the result is:

![](https://user-images.githubusercontent.com/287848/33187931-d7d02434-d095-11e7-88a7-41779521beb6.png)

Especially notice how the description contains `[!INCLUDE[immutable_nuget_short](~/includes/immutable-nuget-short-md.md)]`.

I think there are two problems:

1. Code

[2017-11-24 14:39] ShalokShalom commented on #3446
I will upload the file for now:

[ComparsionSheetMSdevtools.pdf](https://github.com/dotnet/docs/files/1501926/ComparsionSheetMSdevtools.pdf)

[2017-11-25 17:30] BillWagner opened #3785 "C# Quick Starts: Copy and Paste during "Do More with Strings""
From @smrtRock

Copy and paste, if the user has not cleared the .NET Editor do more with strings section of the tutorial there is a conflict in the variable declaration message it is duplicated with the past operation. When exploring additional methods we should just need the additional Writelines .

See this page for the source: https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-wo

[2017-11-25 17:53] BillWagner opened #3786 "Clarify that `in` reference arguments are not boxed"
Responding to a customer question on [Reference semantics with value types](https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types)

Are value types passed by reference boxed? They are not, and that should be clarified.

The same clarification should be added for ref return as well.

[2017-11-25 21:17] #3690 closed

[2017-11-25 22:47] rpetrusha opened #3789 "Modify CancellationToken.Equals method to note that empty cancellation tokens are equal"
# Modify CancellationToken.Equals method to note that empty cancellation tokens are equal

# General

The documentation for the two overloads of [CancellationToken.Equals](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken.equals?view=netframework-4.7.1) is incomplete.

## Issues with Existing Topics

PR #3787 points out that two cancellation tokens created using [Cance

[2017-11-27 20:17] sputier commented on #90
Hi @BillWagner, have you any news about this issue ? I you have a few ideas, i'd be glad to help you elaborate on it !

[2017-11-27 20:41] #3631 closed

[2017-11-27 21:13] mairaw commented on #3749
@JRAlexander would you like to work on this one? Given that you'd come to this one with fresh eyes, it might be a good one for you to address.

[2017-11-27 21:24] mairaw commented on #3762
We'll take care of the sample issue this quarter but the bulk of the work for this, we'll need more time to think about it.

[2017-11-27 21:26] mairaw commented on #3769
Thanks for reporting this issue @colgreen. We'll investigate.

[2017-11-27 21:30] mairaw commented on #3779
Thanks for your feedback @mikkelbu. I did notice this issue last week too while making some fixes. We'll fix it eventually.

[2017-11-27 21:31] mairaw commented on #3781
Thanks @svick. We should not have includes as part of summaries.

[2017-11-27 21:54] omajid commented on #2791
Ping. Has anyone given this any thought?

[2017-11-27 22:01] livarcocc commented on #2791
We haven't given any extra thought on this yet. My main point is that this needs to be automatic somehow, otherwise it will just go out of sync completely again.

[2017-11-27 22:09] rpetrusha opened #3803 "Update .NET Framework deployment guide for developers"
# Update .NET Framework deployment guide for developers

The [.NET Framework deployment guide for developers](https://docs.microsoft.com/en-us/dotnet/framework/deployment/deployment-guide-for-developers) is not adequately cross-referenced (for example, in the top-level [Installation guide](https://docs.microsoft.com/en-us/dotnet/framework/install/) topic, or in [Installation guide for developers](

[2017-11-27 22:27] #3789 closed

[2017-11-27 22:45] BillWagner commented on #90
Thanks for the reminder @sputier

I think what will be most useful is a series of short, interactive code snippets that enable readers to see the correct syntax for different kinds of LINQ queries, and explore what the results are.

A simplified version of the "101 samples" that shows the structure of each of the queries would be very helpful. Keeping it small, so types of queries can be found qui

[2017-11-28 08:15] mairaw opened #3807 "New topic about API Analyzer"
Background info: https://blogs.msdn.microsoft.com/dotnet/2017/10/31/introducing-api-analyzer/

/cc @terrajobst

[2017-11-28 19:20] rpetrusha commented on #3807
@mairaw, I added a priority (P0), since I think that this topic is really important for porting. Feel free to change it if you disagree.

[2017-11-28 19:37] JRAlexander commented on #3749
@mairaw - I can do that!

[2017-11-28 19:39] terrajobst commented on #3807
@OliaG, please work with @rpetrusha and @mairaw so this gets documented :-)

[2017-11-28 19:52] mairaw commented on #3807
That's fine @rpetrusha. Especially because we won't be able to document all API compat and PNSE exceptions soon, so telling people about the analyzer would help.

[2017-11-28 22:39] jzeferino opened #3814 "Add more platforms to supported .NET Standard platforms"
# Add more platforms to supported .NET Standard platforms

I wan't to add this platforms to the .NET Standard supported platforms [here](https://github.com/dotnet/docs/blob/master/docs/standard/class-libraries.md#net-standard-class-libraries):

*   Xamarin.iOS 10.14
*   Xamarin.Android 7.5
*   Xamarin.Mac 3.8
*   Mono 5.4

## Related to #3813

## Suggest reviewers

@rpetrusha, @mairaw

Can I PR it

[2017-11-29 00:43] mishra14 opened #3818 "dotnet binary showing the wrong version"
_From @mishra14 on November 28, 2017 23:5_

## Steps to reproduce
1. download binary from [here](https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.0.3-windows-x64-binaries)
2. run `dotnet --info`

## Expected  behavior
[code]

## Actual behavior
[code]

I think the exe is picking up the same version on my machine irrespective of the `dotnet.exe` being executed.

_Copied from origin

[2017-11-29 00:43] mishra14 commented on #3818
cc @livarcocc

[2017-11-29 00:43] mishra14 commented on #3818
_From @dasMulli on November 28, 2017 23:24_

Looks like [multi-level lookup](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md) discovering a globally installed SDK. Does it change when you set the environment variable `DOTNET_MULTILEVEL_LOOKUP` to `0`/`false`?

[2017-11-29 00:43] mishra14 commented on #3818
@dasMulli  That was it. Thanks!
Is it documented? If so I might have missed it. Else it should be.

[2017-11-29 00:43] mishra14 commented on #3818
_From @livarcocc on November 28, 2017 23:49_

I am not sure where you mean to document this. Do you mean docs.microsoft.com? If so, I would file an issue a dotnet/docs to add this there.

[2017-11-29 00:43] mishra14 commented on #3818
Since this does not happen when i download binaries from the readme, we shouldn't need to add this to the repo readme.
I think having a pointer on the docs page would be nice. I will move this issue there.

[2017-11-29 00:45] mishra14 commented on #3818
Moving here based on recommendation from @livarcocc

The core problem is that the downloads page should have a heads up for binary consumers that this may not work will you set `$env:DOTNET_MULTILEVEL_LOOKUP` to `$False` (powershell).

[2017-11-29 00:57] mairaw commented on #3818
@livarcocc
when was this environment variable introduced? I'll add this to https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet?#environment-variables. PowerShell is just one way of setting the environment variable.

Do we also need an in-depth article on this multi-level lookup feature?

@mishra14 what you mean by downloads page? You mean on the dot.net site?

[2017-11-29 01:07] mairaw commented on #3814
@terrajobst any thoughts on this?

I'd probably future-proof the list as well. So we could list:
Xamarin.iOS 10.0 and later versions
Xamarin.Android 7.0 and later versions
Xamarin.Mac 3.0 and later versions
Mono 4.6 and later versions

Note that I changed the versions to be ones supported since .NET Standard 1.0 and not the 2.0 only.

[2017-11-29 01:09] rpetrusha opened #3819 "[Revision] Consolidate and revise .NET threading documentation"
# Review/revise threading documentation

## Issues with Existing Topics

The ease of writing asynchronous code had made multi-threaded code very common. Often, though, developers don't fully appreciate the fact that their code may be executing on multiple threads, and do not do not fully appreciate the need to synchronize access to resources. This makes it important to update the documentation on

[2017-11-29 01:35] livarcocc commented on #3818
This was introduced in the 2.0 host at the request of the ASP.NET team.

cc @johnbeisner

[2017-11-29 02:29] mairaw commented on #3818
@livarcocc are we missing other env variables? I'm seeing a couple being used in the CLI repo that are not in the docs:
- DOTNET_SKIP_FIRST_TIME_EXPERIENCE
- DOTNET_INSTALL_DIR
- DOTNET_BUILD_SKIP_PACKAGING
- DOTNET_CLI_TELEMETRY_SESSIONID
- DOTNET_CLI_UI_LANGUAGE
- DOTNET_RUNTIME_ID

do I need to document these too?

anything else?

/cc @KathleenDollard

[2017-11-29 08:10] wstaelens opened #3823 "List of supported operating systems per .NET Standard version"
A list of supported operating systems for .NET Standard 2.0 would be very useful.
Similar like this:
https://docs.microsoft.com/en-us/dotnet/framework/get-started/system-requirements

Would be useful to know which OS and Server OS versions are supported.

[2017-11-29 14:32] DoctaJonez opened #3825 "Methods that throw PlatformNotSupportedException are not documented"
I've been working on a project, and have been attempting to make it compatible with .Net Framework and .Net Core. When attempting to run it in .Net Core I found that some methods in the .Net API are not supported.

One such example is `Thread.Abort`. When you try to call `Thread.Abort` in a .Net Core 2.0 app, you get the following message:

You can see the `Thread.Abort` documentation for .Net Cor

[2017-11-29 14:38] DoctaJonez commented on #3825
An example of what I'd like to do would be to change this:

To something like this:

[2017-11-29 19:54] jcouv opened #3828 "[NewTopic] C# and VB compiler flag "/deterministic" needs documentation"
The C# and VB compilers offer a command-line option `/deterministic` but that option doesn't have documentation.

Tagging @BillWagner

## Tell us where this topic should go in the Table of Contents.

For C#, it should be listed in
- https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/listed-alphabetically
- https://docs.microsoft.com/en-us/dotnet/csharp/language-refe

[2017-11-29 20:03] rpetrusha commented on #3679
@logmanPL, the specific value returned depends on the runtime conditions of the network, but it is possible for the property to return any value in the enumeration.

So rather than list individual enumeration members that the property might return, the documentation needs to be revised to note that the property can return any value from the enumeration, but that the specific value returned depends

[2017-11-29 20:14] jcouv opened #3829 "[NewTopic] VB compiler flags /refout and /refonly need documentation"
The VB compiler added two flags in VS 15.3, `/refout` and `/refonly`, at the same time those flags were added to the C# compiler. There is documentation for the those flags in the C# compiler, but not the VB compiler.
This is not urgent, as I expect most people will use the MSBuild property to enable reference assemblies (I will file a documentation issue on this shortly).

Tagging @BillWagner

He

[2017-11-29 21:04] BrennanConroy opened #3831 "Some tables are too large and don't offer a way to scroll sideways and see data"
I tried with 4 different browsers, none of them would let me see the right side of the table located at https://docs.microsoft.com/en-us/dotnet/standard/collections/

![sad](https://user-images.githubusercontent.com/7574801/33399001-be189e08-d505-11e7-9a58-927a19bed716.JPG)

[2017-11-29 21:07] jzeferino commented on #3814
@mairaw do you want me to change my PR?

[2017-11-29 21:07] rpetrusha commented on #3825
@DoctaJonez, there is an existing issue, #2934, about PlatformNotSupportedException in general, but it would be great if you could document the exceptions for the Thread class.

All .NET implementations, including .NET Core and the .NET Framework, now share a single documentation set. That means that the member descriptions cannot be changed to note the exception. Instead, the exceptions should be

[2017-11-29 21:27] rpetrusha commented on #3823
Thanks for opening this issue, @wstaelens.

The .NET implementations that support particular implementations of the .NET Standard is found at https://docs.microsoft.com/en-us/dotnet/standard/net-standard.

The basic problem with listing operating systems supported by the .NET Standard is that it involves a level of indirection; the .NET Standard is a formal specification of APIs that individual .N

[2017-11-29 21:27] #3823 closed

[2017-11-29 21:37] mairaw commented on #3825
I think you're right @rpetrusha.The wiki says that it throws for all platforms:
https://github.com/dotnet/corefx/wiki/ApiCompat#systemthreading

/cc @pjanotti

[2017-11-29 21:38] mairaw commented on #2934
For now, wiki has the information on PNSE: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-11-29 21:40] mairaw commented on #3814
I don't see any open PRs @jzeferino. An I missing something?

[2017-11-29 21:42] jkotas commented on #3825
Right, Thread.Abort throws PNSE on all .NET Core platforms.

BTW: The [platform-compat](https://github.com/dotnet/platform-compat) tool
has auto-generated per-platform data about methods that throw exceptions in .NET Core: https://raw.githubusercontent.com/dotnet/platform-compat/master/etc/exceptions.csv

cc @terrajobst

[2017-11-29 21:47] #3779 closed

[2017-11-29 22:02] jzeferino commented on #3814
Sorry @mairaw I was wrong, I din't created the PR yet. I will create it.

[2017-11-29 22:22] mairaw commented on #3831
Thanks for filing this issue. I can repro that @BrennanConroy. Let me see if I can change a few things in this topic to no longer have that problem. Otherwise, we might have to come up with a different layout for that data.

[2017-11-29 22:32] mairaw commented on #3831
@adkinn is there anything that can be done on the docs site as well to allow tables to scroll?
If you look at GitHub preview, that table does have a scrollbar: https://github.com/dotnet/docs/blob/master/docs/standard/collections/index.md#choosing-a-collection

[2017-11-30 00:29] mairaw commented on #3762
I ended up looking at this today for other reasons as well. The customer feedback re. sample issue has been addressed months ago already.

[2017-11-30 02:12] SZ-MSFT opened #3838 "Dead link in "Qualifying .NET Types for Interoperation""
The page "Qualifying .NET Types for Interoperation" is available here:
https://docs.microsoft.com/en-us/dotnet/framework/interop/qualifying-net-types-for-interoperation

The first link on the page "Introducing the Class Interface" routes to a "this topic is no longer available" page.

[2017-11-30 04:45] ViktorHofer commented on #2781
ping @rpetrusha. opinions?

[2017-11-30 04:52] #3762 closed

[2017-11-30 05:10] morganbr commented on #2781
The BinaryFormatter directive was released in October, so documenting it should be fine now.

[2017-11-30 08:44] MarcoRossignoli opened #3841 "Fix .Net "dotnet/standard repository" link on .Net Standard"
Maybe there is an error on "https://docs.microsoft.com/en-us/dotnet/standard/net-standard" on paragraph https://github.com/dotnet/docs/blob/master/docs/standard/net-standard.md#official-artifacts the link "dotnet/standard repository" should be "https://github.com/dotnet/standard" instead of "https://github.com/dotnet/corefx/tree/master/src" if you agree i can fix and PR.

[2017-11-30 10:01] DoctaJonez commented on #3825
@rpetrusha thank you for the reply.  Yes I'm happy to document the exceptions for the Thread class.  I'm happy to work through the compatibility spreadsheet and document all of the methods that are unsupported on all 3 platforms (Win, Mac, Linux), as these will be the most straightforward to do.

How would we document the others that are only supported on selected platforms?

Like this?

`<excepti

[2017-11-30 10:10] DoctaJonez commented on #3825
@rpetrusha I'd also like to know if there's a better way of documenting that the method isn't supported rather than just putting an exception into the docs with an addendum.  It's a little too subtle for my liking.

If we haven't got the capability of showing appropriate documentation for the selected .Net version, why does the user have the option of filtering by .Net version on the API site?  It

[2017-11-30 18:08] rpetrusha commented on #2781
@ViktorHofer and @morganbr, yes, we should document it. I'll schedule some time for the next sprint, which begins next week. Is a spec or any other written description available?

[2017-11-30 18:31] rpetrusha commented on #3825
The basic problem, @DoctaJonez, is that while the method isn't supported, it is present; the version selector determines whether a type or member is present on a particular .NET version, but it has no way of knowing what the member implementation is. It may be that this is something that the API browser can eventually address, especially since there are now analyzers that detect methods that throw

[2017-11-30 23:47] #3323 closed

[2017-11-30 23:48] #2670 closed

[2017-12-01 00:37] #3831 closed

[2017-12-01 01:33] mairaw commented on #3841
Yes, I agree @MarcoRossignoli! This was an overlook on my part when updating the content a few months ago. Thanks for reporting and volunteering to fix the issue.

[2017-12-01 11:51] DoctaJonez commented on #3825
@rpetrusha thank you for the explanation.

I will work on a pull request to add exceptions as per your example.  I will start with a small one for Thread, and then look at other types after getting the Thread PR approved.

[2017-12-01 16:36] #3838 closed

[2017-12-01 16:41] #3841 closed

[2017-12-01 16:46] DoctaJonez commented on #3825
@rpetrusha, I have created the following pull request with the changes for the Thread class.

https://github.com/dotnet/docs/pull/3852

[2017-12-01 16:49] unickq opened #3853 "VS2017 csproj NuGet reference question"
I have following project structure with 3 Nuget dependencies:
[code]
It's really cool that VS2017 allows creating NuGet packages out of the box.

But what can do if I want to include custom NuGet references and don't wanna include references I use now?

Old **packages.config** file:
[code]
I this case I need to have **Autofac** with my lib but I don't need it to build my lib.
Or I don't need **Spe

[2017-12-01 19:31] rprouse commented on #1785
I am working on these docs. I will submit separate PRs for each language.

[2017-12-01 19:36] omajid commented on #2791
Please let me know how I can help in addressing this.

[2017-12-01 20:32] lextm opened #3857 "[NewTopic] C# compiler version history might have its own page"
There is already an article to cover [the history of C#](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-version-history). However, the compiler itself should have a similar page.

This new article should cover,

* Compiler major releases and their characteristics.
* Compiler features such as multi-targeting, which are not yet covered in any existing article.
* C# compilers from ot

[2017-12-01 21:34] #3825 closed

[2017-12-01 23:00] bbarry commented on #3786
I don't understand how boxing has anything to do with parameters. Am I misunderstanding something?

The documentation could be perhaps more clear on parameter passing conventions and exactly what `ref` does and maybe link to https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/structs and better explain why `in` has a temporary variable that it gets copied to unless

[2017-12-01 23:09] mairaw commented on #2816
Thanks guys! Sorry for the delay. 😢

[2017-12-01 23:30] mairaw commented on #3853
@unickq thanks for your question. @weshaggard @terrajobst @livarcocc who could help with this sort of question?

[2017-12-02 13:34] philippgille commented on #3814
@jzeferino: I followed [your advice](https://github.com/dotnet/docs/pull/3813#pullrequestreview-79682233) and added more platforms to [my PR](https://github.com/dotnet/docs/pull/3813). I added a "Close #3814" in the commit message, because the PR solves this issue.

[2017-12-02 22:40] JonHanna opened #3866 "Benefit of LambdaExpression.Compile(bool) & Expression<TDelegate>.Compile(bool) unclear."
[LambdaExpression.Compile(bool)](https://msdn.microsoft.com/en-us/library/dd268054(v=vs.110).aspx) and [Expression&lt;TDelegate>.Compile(bool)](https://msdn.microsoft.com/en-us/library/dd267628(v=vs.110).aspx) both say:

There's no indication that it might the "if it's available" may be the other way around, with interpretation available but compilation not, in which case, being a preference, it h

[2017-12-04 01:37] BillWagner opened #3868 "C# Quick start enhancements"
We've had some actionable comments on the C# quick starts.

After discussing the comments, we've chosen the following set of actions

- [x] Before checking results on any of the challenges, say the answer so people can check.
- [x] Add a new "Try it on your machine" node to the TOC and place all local quick starts under it.
- [x] Make an include for a brief introduction to the dotnet CLI
- [x] At

[2017-12-04 13:45] svick commented on #320
There is a proposed design on how to fix this: https://github.com/dotnet/designs/pull/25.

[2017-12-04 21:36] mairaw commented on #3807
@OliaG you're going to do this one right? Any idea when you'd like to address it? Then I can add the appropriate milestone.

[2017-12-04 21:38] mairaw commented on #3819
This is great @rpetrusha. Do you have an idea of when you plan to address this? Or should it go to backlog?

[2017-12-04 21:46] BillWagner commented on #3857
/cc @jcouv

This is an interesting idea. I'd like to get product team thoughts here, both from the Roslyn team, and the Xamarin/Mono compiler team.

[2017-12-04 21:48] mairaw commented on #3866
Thanks @JonHanna. @VSadov, @OmarTawfik can one of you help with this one?

[2017-12-04 21:55] jcouv commented on #3857
I like it.

Currently we only have language history in bullet format (https://github.com/dotnet/csharplang/blob/master/Language-Version-History.md) and we've been tracking compiler features in a similar format (but only recently, at https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md).
The difficulty in my opinion would be filling in the blanks for compiler features...

[2017-12-04 22:03] JonHanna commented on #3866
@bartdesmet proposed the overload and @antiufo had said that they'd data supporting the performance advantages so may have useful things to say.

[2017-12-04 22:15] VSadov commented on #3866
@JonHanna  is right
- Either interpreter or compiler support may not be present. In such case what is available will be used. -
- When both are available, the default behavior is to prefer compiler, but this fag coudl be used to override that.

Why user might want to force this one way or another:
- testing. Primary target supports only interpreting (like AOT), but development is done on the runti

[2017-12-04 22:20] #3781 closed

[2017-12-04 23:00] antiufo commented on #3866
@JonHanna Tomorrow I'll run some performance tests, in the meantime, these are some examples of scenarios where interpretation made sense:
* DbLinq: An `Expression.Evaluate` extension method is often used all over the codebase, mostly to handle constants/immediate scalar values
* DbLinq: Creating a `RowCreator `delegate that converts `IDataRecord `to `TRow`, when the `RowCreator `cannot be cached

[2017-12-04 23:48] BillWagner commented on #3786
@bbarry You are understanding correctly. Boxing doesn't apply.

I'd like to drill down more into this comment:

That sentence overstates when a temporary is needed. (It's only needed when you pass a ref by `in` *and* it's not a `readonly struct` type *and* the called method calls a member method of the struct type (which may change its internal state).

Did we mislead you?
Did we not explain it ve

[2017-12-05 01:05] mairaw commented on #3452
Reopening given we have a few of these links left.

[2017-12-05 19:52] rprouse commented on #1785
@BillWagner you should be able to close this issue once my three PRs are merged.

[2017-12-05 22:06] BillWagner commented on #1785
Closed in a combination of #3856 #3858 and #3859

[2017-12-05 22:06] #1785 closed

[2017-12-05 22:36] OliaG commented on #3807
Yes, I'm on it. Will do it this week.

[2017-12-06 03:29] chucklu opened #3878 "How to use resgen generate file with version"
https://github.com/dotnet/docs/blob/master/docs/framework/tools/resgen-exe-resource-file-generator.md

I have checked the document for resgen, however I can not find the option to generate file(*.resources.dll) with specified version.

[2017-12-06 15:31] ChrisMaddock opened #3879 "Broken Code Sample rendering"
A number of the (C#) code samples on the 'Dialog Boxes Overview' page have incorrectly been broken up into multiple blocks.

e.g. https://docs.microsoft.com/en-us/dotnet/framework/wpf/app-development/dialog-boxes-overview#opening-a-modal-dialog-box

![image](https://user-images.githubusercontent.com/4837132/33669489-84ef1a7c-da9a-11e7-9379-a4730e1a5462.png)

Thought I'd post an issue rather than a

[2017-12-06 15:32] ChrisMaddock commented on #3879
Never mind, this is a duplicate of https://github.com/dotnet/docs/issues/2994

[2017-12-06 15:32] #3879 closed

[2017-12-06 17:57] rpetrusha commented on #3878
@chucklu, resgen creates a .resources file, not a *.resources.dll file. That .resources file can then be included in a versioned assembly by using either a language compiler (to embed it in an application assembly) or [Al.exe, the Assembly Linker)](https://docs.microsoft.com/en-us/dotnet/framework/tools/al-exe-assembly-linker) (to embed it in a satellite assembly); it's at this stage that you spec

[2017-12-06 19:14] Librazy opened #3880 ""Notes to Callers" sections have a weird style"
Some methods have a [incorrectly rendered "Notes to Callers"](https://docs.microsoft.com/en-us/dotnet/api/system.string.trimend?view=netframework-4.7.1) section, which has a weird style.
![qq 20171207025901](https://user-images.githubusercontent.com/2211542/33679838-cedc2ab6-dafa-11e7-9464-53e08a1fd93d.png)
After some searching, it looks like that some other pages containing "Notes to Callers" loo

[2017-12-06 19:22] mairaw commented on #3880
Thanks for your feedback @Librazy. We're aware of this issue and a fix should happen soon.

Duplicate of #3652

[2017-12-06 19:22] #3880 closed

[2017-12-06 19:23] mairaw commented on #3880
Duplicate of #3652

[2017-12-07 05:34] chucklu commented on #3878
@rparcalab  Thanks, I mistaken the usage.  I have tried with al.exe to generate the *.resources.dll file.
Maybe I can close this issue?

[2017-12-07 15:04] jinek opened #3888 "Improper exception handling demonstration"
On this page https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.contentcontrol.contenttemplateselector?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Windows.Controls.ContentControl.ContentTemplateSelector);k(VS.XamlEditor);k(SolutionItemsProject);k(TargetFrameworkMoniker-.NETFramework,Version%3Dv4.7)%26rd%3Dtrue&view=n

[2017-12-07 18:02] #3679 closed

[2017-12-07 21:07] BillWagner commented on #3868
Note: While working on this, I found that there was a format error toward the end of the online "Numbers in C# quick start". As a result, the challenge answer wasn't displayed. I fixes that as well.

[2017-12-08 09:38] wstaelens opened #3893 "Broken security link in Important note of documentation."
about this documentation page:
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter.unsafedeserialize?view=netframework-4.7.1#System_Runtime_Serialization_Formatters_Binary_BinaryFormatter_UnsafeDeserialize_System_IO_Stream_System_Runtime_Remoting_Messaging_HeaderHandler_

which is this github page:
https://github.com/dotnet/docs/blob/master/xm

[2017-12-08 10:18] rmadsen-ks opened #3894 "System.IO.Path.AltDirectorySeparatorChar on Unix is not '\'"
# System.IO.Path.AltDirectorySeparatorChar on Unix is not '\\'

System.IO.Path.AltDirectorySeparatorChar on Unix is not '\\', its actually '/' which is the same as System.IO.Path.DirectorySeparatorChar.

Tested on Linux 4.10.0-40-generic Ubuntu 17.04, with .NET Core v2.0.2.

**Edit:** Escaped '\\' in text otherwise they'd show up as ''.

[2017-12-11 03:31] Porges opened #3905 "Links to sites controlled by third parties in DataTable documentation"
The DataTable documentation here: https://github.com/dotnet/docs/blob/master/xml/System.Data/DataTable.xml

Links to a site controlled by a third party: `http://www.csharp-examples.net/dataview-rowfilter/`

This seems a bit wrong? There's no guarantee the target has the correct content any more (or is not taken over, etc)

[2017-12-11 14:33] phillipsj commented on #3452
I will take finishing it up.

[2017-12-11 15:30] BillWagner opened #3907 "Customer questions on reference semantics with value types"
From a live fyre comment on [this topic](https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types)

Overall I'm using a lot of "readonly struct" since I like immutability. Do I really need to do anything else to make things efficient?

/cc @VSadov @jaredpar @jcouv @stephentoub

[2017-12-11 15:38] BillWagner commented on #3907
Here are my thoughts:

Without any modifiers on the method declaration, all arguments are passed by value. You need `in`, to specify pass-by-reference.

I would think that it should. I'd like clarification from the product folks before updating any docs to include this.

That is an interesting idea, but I don't think that's what happens now. Open question: should this be a feature request for a fu

[2017-12-11 21:23] #3868 closed

[2017-12-11 23:37] danmosemsft opened #3909 "Document that indexing into StringBuilder can be inefficient"
Indexing by character into a StringBuilder can be very slow if it is large and "chunky" (built up by appends rather than a large initial capacity). This is because every character access walks the linked list of chunks to find the right buffer to index into.

As you can see in https://github.com/dotnet/corefx/issues/25804 the performance can become terrible over say 50K characters. In such a case

[2017-12-12 00:00] RandyLarson opened #3912 "How to `dotnet pack` a specific framework only"
### How to `dotnet pack` a specific framework only

My .csproj has multiple:

`<TargetFrameworks>net45;netstandard2.0</TargetFrameworks>`

Building on a linux machine, I would like to:
`dotnet pack -f netstandard2.0 -c Release`

The `-f` (framework) does not exist. A `dotnet pack` fails because of the lack of a targeting pack for net45.
I hope this is a simple oversight on my part.

[2017-12-12 01:15] #3502 closed

[2017-12-12 08:18] weitzhandler opened #3916 "Please add more examples on uploading file to server using a .NET Client"
In the ASP.NET Core docs, the [articles](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads#uploading-large-files-with-streaming) and [samples](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample) about uploading files only involve web clients written in HTML and JS.

Please expand the .NET docs, so it includes some concrete examp

[2017-12-12 09:06] mairaw commented on #3916
@Rick-Anderson @weitzhandler just so I understannd. This request is not about ASP.NET Core functionality but a generic topic on how to upload files using classes under the System.Net.Http namespace?

[2017-12-12 09:36] weitzhandler commented on #3916
@mairaw partially correct.

The main request is to have an article that walks us through the various HTTP header, content and disposition, accept, verb types and how they're represented in the .NET ecosystem.

The specific request that actually brought me here, would be the recommended way to upload large files to a server using streaming.
There is a multitude of ways to achieve this, and would be

[2017-12-12 17:16] #3760 closed

[2017-12-12 18:07] rpetrusha commented on #3909
Thanks for pointing this out, @danmosemsft. In addition to the **StringBuilder.Chars[Int32]** property, the section on [iterating a StringBuilder](https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder?view=netframework-4.7.1#Iterating) in the StringBuilder class documentation also needs revision.
I'll assign this to myself and work on the revision when I return from vacation.

[2017-12-12 18:12] danmosemsft commented on #3909
@rpetrusha did you mean to close this?

[2017-12-12 18:22] rpetrusha commented on #3909
No, I certainly didn't, @danmosemsft. I have no idea how I did that. Thanks for pointing it out.

[2017-12-12 19:27] rpetrusha opened #3921 "Asynchronous method pattern name is badly formatted in APM section"
# Asynchronous method pattern name is badly formatted in APM section

# General

In the [Asynchronous Programming Model](https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/blocking-application-execution-by-ending-an-async-operation) section, the **Begin** and **End** async methods are invariably badly formatted. They typically appear as \*\*End\*\* \*OperationName*,

[2017-12-12 22:07] Rick-Anderson commented on #3916
That would be in the ASP.NET repo.

[2017-12-13 07:24] weitzhandler commented on #3916
You guys are confusing me.

[2017-12-13 12:02] unickq commented on #3853
Anyone?

[2017-12-13 12:54] andygonusa opened #3928 "Community provided article on Threading (general)"
Hi all, attached please find an article submitted by a Spanish Latam community member, now an FTE in Microsoft. Originally it was published on a local section of the MSDN library and had very good PVs. It provides a good overall description of Threading.

It has been reverse-machine-translated to provide a readable English version - if you think it has some merit and could find a place in the offi

[2017-12-13 15:51] BillWagner opened #3930 "Highlight the runnable nature of samples in API Ref"
In the DateTime reference, highlight the runnable nature of the C# samples:

- [ ] Change the intro wording to add "runnable" in the opening.
- [ ] Consider adding a quick sample above the fold.

Note that the second task would be jarring without a VB interactive experience.

/cc @LadyNaggaga

[2017-12-13 17:33] lextm opened #3931 ".NET Framework 3.5.1 should be listed under "Applied to""
I believe .NET Framework 3.5.1 is still supported as part of Windows (per your support policies). So no matter how old it is, it should be listed under "Applied to" section of a .NET API (like `WindowsIdentity` class).

[2017-12-13 17:51] lextm opened #3932 "Difficulty to identify .NET Core NuGet package name"
It was [a Stack Overflow discussion](https://stackoverflow.com/questions/47776680/why-windowsidentity-class-is-not-visible-in-net-core/47782222#47782222), but I think it should raise an issue here for your attention.

Well, if you do know what is .NET Core and its tooling, then reading the new API documentation becomes more challenging, as now we cannot assume a type is simply there in an assembly

[2017-12-13 20:38] lextm commented on #2724
I think this initiative should be carried out as soon as possible.

Documentation on PCL, such as [this](https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/cross-platform-development-with-the-portable-class-library) and [this](https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/using-portable-class-library-with-model-view-view-model) should be marked as obsolete.

[2017-12-13 21:29] cartermp opened #3934 "SEO for related, but not necessarily exact terms"
I had an interesting discussion with a member of the F# Software Foundation who was looking to get started with F# on .NET Core using a mac.  He typed the following into google:

* "fsharp dotnet core"
* "fsharp dotnet core new project"
* "fsharp macos"

What he was ultimately looking for was this article: https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line

The art

[2017-12-13 21:55] mairaw commented on #3931
Hi @lextm, yes, you're right. It's been in my backlog to add 3.5 to the list of assemblies we reflect against.

Due to compliance requirements, we cannot simply remove any version of the documentation for the .NET Framework, So we're waiting for our archive site to be launched and ready to handle API reference archival. Then, we can move the unsupported versions there and our legal obligations can

[2017-12-13 22:10] mairaw commented on #3934
For SEO, the most important things are file name, title, H1 and the first paragraph (1 or 2 sentences).

But I see the article in the search results for this one:
https://www.google.com/search?q=fsharp+dotnet+core+new+project - ranking 4

For fsharp macos, the page doesn't have any reference to macos, so it would be hard to be picked up by search engines. Maybe try adding the OS keywords in the in

[2017-12-13 22:35] mairaw commented on #3932
Hi @lextm, this has been a long-standing issue we've had with docs and we are working towards enabling this. Please look at https://github.com/dotnet/designs/pull/25.

[2017-12-13 22:35] mairaw commented on #3932
Duplicate of #320

[2017-12-13 22:35] #3932 closed

[2017-12-13 22:46] mairaw commented on #3928
Hi @andygonusa, perhaps we should schedule a meeting to talk about this process in general? @BillWagner and I just quickly glanced over the topic and it reads a lot like a blog post and not an article that would be part of docs.

[2017-12-13 22:53] mairaw commented on #3912
@livarcocc @dsplaisted @KathleenDollard can you help with this question? Can he achieve that by using the MSBuild switches? Thanks.

[2017-12-13 22:56] mairaw commented on #3905
Hi @Porges, yes, you're right. We typically cover this kind of content on our own docs instead of going to 3rd-party sites. Since the link still works, I'm putting this on the backlog.

[2017-12-13 22:59] livarcocc commented on #3912
@rohit21agrawal who owns pack.

[2017-12-13 23:01] rohit21agrawal commented on #3912
Pass in /p:TargetFrameworks=net45 from command line .

[2017-12-13 23:02] mairaw commented on #3893
Thanks @wstaelens. @Rick-Anderson are you familiar with this link? I've searched and found this link with your name on it: https://docs.com/rick-anderson-1/8710/untrusted-data-security-risks?   😄

[2017-12-13 23:07] mairaw commented on #3888
Thanks @jinek, that's a good suggestion. Do you wanna try to submit a PR for this? Otherwise, we can handle it.

[2017-12-13 23:49] mairaw commented on #3912
Thanks @rohit21agrawal. I've created a new PR to add this as an example. Please take a look.

[2017-12-13 23:51] jinek commented on #3888
Yes, would be great. Let me do this.

[2017-12-14 00:45] Rick-Anderson commented on #3893
I would point to https://www.owasp.org/index.php/Data_Validation

[2017-12-14 00:46] Rick-Anderson commented on #3893
Here is the link to the original
https://docs.com/rick-anderson-1/8710/untrusted-data-security-risks

[2017-12-14 00:47] Rick-Anderson commented on #3893
BTW, the above link is only good for 2 more days
Important notice: We are retiring Docs.com on December 15, 2017, and all content will be deleted.

[2017-12-14 00:52] cartermp commented on #3934
@mairaw Would that also have something to do with you having viewed that article in the past? When I search in incognito mode, it's not on the front page.

[2017-12-14 01:05] mairaw commented on #3934
it's number #8 for me in incognito.

[2017-12-14 02:32] kasper3 commented on #2791
Seems like the CI script that runs pandoc command is not open sourced.. can one of the admin update the script with the proposed parameters and see the impact?

Seems like it's already automatic. All these docs are generapted by `pandoc` util https://github.com/search?q=org%3Adotnet+pandoc&type=Code but the caller script is not in open.. maybe it belongs to `dotnet/core-eng` private repo?

[2017-12-14 07:10] mairaw opened #3938 "Fix NuGet package name for TPL content"
@skynetv noticed we were still using the old package name (Microsoft.Tpl.Dataflow) for the TPL Nuget package, instead of the new name System.Threading.Tasks.Dataflow ([change list](https://github.com/dotnet/core/blob/ab5314af29352e61aa31ad38fd5058f4738ab5d4/release-notes/Archived%20Change%20Lists/Microsoft.Tpl.Dataflow.md)).

We need to fix this across the docs:
https://github.com/dotnet/docs/sear

[2017-12-14 10:26] ChrisMaddock commented on #3930
This is really cool! 😄 Can't wait for this to become more widespread - would love to make use of it for the NUnit Docs at some point too.

I presume the eventual plan is for this to be rolled out to all the docs? Is there a central issue tracking that, or is it all being handled internally?

[2017-12-14 16:18] #3715 closed

[2017-12-14 19:30] mairaw commented on #2459
I think we're close to get this one finished. There are only 3 more files showing up with that qualifyHint string!

[2017-12-14 21:17] JRAlexander commented on #2459
Yup, working on it now!

[2017-12-14 21:32] BillWagner opened #3943 "VB: private protected"
The next release of VB will add the `private protected` access modifier. This will be the Visual Basic 15.6 version.

The spec for the feature will parallel the spec for the C# language feature.

Note: There are syntax issues still to be resolved before this is ready to work on.

[2017-12-14 21:35] rpetrusha opened #3944 "Update .NET Framework deployment guide for administrators"
# Update .NET Framework deployment guide for administrators

## Issues with Existing Topics

The [.NET Framework deployment guide for administrators](https://docs.microsoft.com/en-us/dotnet/framework/deployment/guide-for-administrators) is not adequately cross-referenced (for example, in the top-level [Installation guide](https://docs.microsoft.com/en-us/dotnet/framework/install/) topic, or in [In

[2017-12-14 21:43] BillWagner opened #3945 "VB: Tuple projection initialization"
This shipped with Visual Studio 15.3. This task catches us up where we missed a feature.

Like C# 7.1, VB 15.3 includes tuple projection initialization.  The feature matches the [C# spec](/dotnet/csharplang/blob/master/proposals/csharp-7.1/infer-tuple-names.md) for the feature.

You need to add this key to your VBProj file:

[code]

Note that any valid version higher than 15.3 will work.

[2017-12-14 21:49] BillWagner opened #3946 "VB: leading separator in numeric literals"
Like C#, VB.NET will allow a leading `_` in binary and hex literals.

This feature is available in the 15.5 release of VB.

You will need to add the following element to the VB project file:

[code]

The feature specification will closely follow the [C# spec](/dotnet/csharplang/blob/master/proposals/csharp-7.2/leading-separator.md) for the corresponding feature.

[2017-12-14 22:28] BillWagner opened #3947 "VB: Non trailing named arguments"
This feature ships with VB 15.5.

The functionality matches the [C# spec](dotnet/csharplang/blob/master/proposals/csharp-7.2/non-trailing-named-arguments.md) for the corresponding feature.

You'll need to add the following key to the vbproj file to enable this feature:

[code]

This likely isn't a new article, but updates to [all integer numeric types](/dotnet/docs/tree/master/docs/visual-basic/la

[2017-12-14 22:45] BillWagner opened #3949 "C# `in` by val tiebreaker"
In C# 7.2, these methods cause an ambiguity:

[code]

This will be fixed in the 7.3 timeframe.  The by value (1st in the example above) is better than the `in` reference version. This will not be a new article, but will require updates to [Reference semantics with value types](https://github.com/dotnet/docs/blob/master/docs/csharp/reference-semantics-with-value-types.md) and affect the correspondi

[2017-12-15 00:41] mairaw commented on #3938
Text should be moved to an include file so we only need to change it once if there are more changes related to this.

[2017-12-15 03:25] morganbr commented on #2781
@rpetrusha, I don't think there's really anything written. The closest analogy is the Serialize directive, which enables reflection metadata used by reflection-based serializers, such as Json.NET. Like Json.NET, BinaryFormatter is reflection based, but using the BinaryFormatter directive enables the distinct set of reflection metadata that it requires: If a type has SerializableAttribute, then its

[2017-12-15 14:32] ChrisMaddock opened #3957 "Broken formatting in DispatcherOperationStatus Enum"
https://docs.microsoft.com/en-gb/dotnet/api/system.windows.threading.dispatcheroperationstatus?view=netframework-4.7.1

This page currently ends with the title: `XAML Text Usage`. Not quite sure what's meant to be there - MSDN appears to be the same.

https://msdn.microsoft.com/en-us/library/system.windows.threading.dispatcheroperationstatus(v=vs.110).aspx

[2017-12-15 17:40] #3803 closed

[2017-12-15 19:20] BillWagner opened #3958 "C#: Allow `ref this`"
There are two related features that will affect the same documents:

1. Allow `ref this` (where only `this ref` is allowed in 7.2) See dotnet/csharplang#1022
1. Relax ordering on `ref` and `partial` modifiers. See dotnet/csharplang#946

The first fixes a grammar issue with `ref`.  Extension methods whose first argument is a struct type currently have to write that argument as `ref this T`.  That l

[2017-12-15 19:48] BillWagner commented on #3958
Question for @jcouv Will either of these be targetting LangVersion=7.2 once they ship?

[2017-12-15 20:37] BillWagner opened #3961 "C# 7.3: ref local reassignment"
This feature enables `ref` local variables to be declared separate from their initialization, and to be re-assigned once declared.

The spec for the feature is here: dotnet/csharplang#933

This is most likely updates to reference semantics with value types, and the reference pages for local variable declaration. It may require a new topic, but that's not clear to me yet.

[2017-12-15 20:41] BillWagner opened #3962 "C# 7.3: auto-implemented property field-targeted attributes"
This feature would enable this syntax:

[code]

The attribute `SomeThingAboutFieldAttribute` would be applied to the compiler generated backing field for `SomeProperty`

See dotnet/csharplang#42

This likely does not introduce any new articles. Instead, it will be looking at where we discuss Attributes and updates any locations where we say this isn't allowed.

[2017-12-15 20:46] BillWagner opened #3963 "C# 7.3: Expression variables in initializers"
This would extend variable declarations and pattern matching syntax to three places where they are not allowed today:

1. Constructor initializers
1. Field initializers.
1. Query clauses

The spec defines the scoping rules and related language design elements.

dotnet/csharplang#32

[2017-12-15 20:49] jcouv commented on #3958
Only the first one (order of `ref` and `this` modifiers in ref extensions) will target C# 7.2.
The second one (order of `ref` and `partial` in type declarations) would be tied to C# 7.3.

There is also the by-val vs. `in` [tiebreaker](https://github.com/dotnet/csharplang/issues/945) that will be targeting C# 7.2.

[2017-12-15 20:51] BillWagner commented on #3958
Thanks @jcouv The tiebreaker feature is issue #3949 for docs.

[2017-12-15 21:07] BillWagner opened #3964 "C# 7.3: New forms of generic constraintsblittable, enum, and delegate constraints"
There are three new forms of generic constraints being introduced.

"blittable" for unmanaged types: dotnet/csharplang#187
"enum" to specify that the type must be derived from `System.Enum` dotnet/csharplang#104
"delegate" to specify that the type must derive from `System.Delegate` dotnet/csharplang#103

Reading the comments, a good part of the explanation will need to be explaining the `blittable

[2017-12-15 21:20] BillWagner opened #3965 "C# 7.3: support `==` and `!=` on tuple types"
Here's the spec: dotnet/csharplang#190

There are several things to discuss for this feature.

My notes here are based on an early draft of the spec. See the reference above for details.

* We need to discuss how lifting works for tuples that have value types compared to tuples with nullable value types: `(int, int) == (int?, int)`
* Lifting also applies to the tuple itself: `(int, int) == (int, i

[2017-12-15 21:51] BillWagner opened #3966 "C#: Slicing (also referred to as ranges)"
Ranges would enable quick and easy navigation of integer ranges:

[code]

Spec and discussion is here: dotnet/csharplang#185

[2017-12-15 22:08] BillWagner opened #3967 "C#: Native number types"
Historically, C# number types have a size defined by the language, regardless of the CPU architecture.

This feature would introduce new types whose size is dictated by the CPU architecture where the code runs.

dotnet/csharplang#435

[2017-12-15 23:38] jinek commented on #3888
@mairaw May I also refactor it a little bit, like removing `Application.Current.MainWindow;` and adding numberTemplate and largeNumberTemplate properties instead.

Also what I see is code does not match the behavior description. There is nothing said about cases when "null" template will be used. As I see it is better to remove some null returns instead of DataTemplate. If we want to explain some

[2017-12-18 01:37] #3702 closed

[2017-12-18 21:14] mairaw commented on #3957
Thanks @ChrisMaddock. I think we should just remove this. Not sure what was the original intention either. @rpetrusha do you know? Previous versions also don't show this information. Might be an old issue with previous migrations.

[2017-12-18 21:19] mairaw commented on #3893
I like your suggestion @Rick-Anderson. Thanks!

[2017-12-18 21:22] mairaw commented on #3888
Feel free to refactor and will review your suggestions. Thanks @jinek!

[2017-12-18 21:33] jaredpar commented on #3907
Couple other reasons why this isn't done by default:

- Making a struct `readonly` is designed to be a completely safe, non-breaking change. If it also changed argument passing from value to ref then that would be breaking source + binary change.
- Moving from value to in is not a slam dunk win. It's generally better for readonly structs but it can have negative side effects in uncommon cases. Hen

[2017-12-18 21:53] BillWagner commented on #3603
@Daniel15 This sample is a reasonably simple one, so a static HttpClient is probably a good plan.

Do you want to make a PR for this? If not, I'll likely update it after the holidays.

[2017-12-18 21:56] mairaw commented on #3346
@DamianEdwards would you be the right person to sync on runtime store when we get to this issue?

[2017-12-18 21:57] JRAlexander commented on #462
This is covered in #2683. So we can close this.

[2017-12-18 21:57] #462 closed

[2017-12-19 00:21] VSadov commented on #3907
To me the easiest reason to choose between class and struct is a matter of instance identity.

If you have something called “Customer” and it has “Name” or “Id”, it better be a class, especually if the entity is mutable. Struct would be incinvenient due to byval copying - you can easily end up with two customers named “Bob”, one copy of another but with different orders or something.

If you have

[2017-12-19 01:09] DamianEdwards commented on #3346
We should hold off on any further documentation of the runtime store as ASP.NET Core itself is moving away from using it to delivery runtime assets, see https://github.com/aspnet/MetaPackages/issues/248

[2017-12-19 15:40] #3957 closed

[2017-12-19 18:46] #3649 closed

[2017-12-19 19:19] #3530 closed

[2017-12-19 19:52] jfversluis commented on #276
Hi @BillWagner after the great PGI session I'd like to take a first shot at this. And this seems like a nice small one to get the hang of it. And it seems about time that this is picked up.. ;)

Ant pointers on this still being relevant and how to proceed?

[2017-12-20 22:22] #2459 closed

[2017-12-21 06:46] Jaykul opened #3991 "Proposal to improve "How To: Determine Which .NET Framework Versions Are Installed""
[This "How To" document](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed#net_b) is repetitive, listing the same information several times in tables, but each table is slightly different! And yet, not one of the tables provides a simple table that can be easily programmed against.

For example:

1. The table [after the first example](h

[2017-12-21 23:50] FoggyFinder opened #4001 "Tables in html format"
In the [style guide](https://github.com/dotnet/docs/blob/master/styleguide/template.md#tables) there is recommendation to use md-format for tables.

But there are some articles with tables in html-format.
For example:
[Strings](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/strings)

Is there any reason to use such format or will it be better to make a change?

---

I suppose ht

[2017-12-22 00:54] mairaw commented on #4001
Hi @FoggyFinder, I'm failing to find the html table in the Strings topic you linked to.

The only table I see is defined as such:
![image](https://user-images.githubusercontent.com/12971179/34280821-610901b4-e66f-11e7-8026-d83aa0cfba8b.png)

The Query Expressions topic could probably be changed to use Markdown with some HTML elements inside the cells, given it has code blocks and some rich element

[2017-12-22 00:57] mairaw opened #4004 "Compiler Error CS0246"
Topic:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0246

LiveFyre comment:
Also happens when target Plattform is lower then called Assembly-Plattform. Example: DLL was compiled for .Net 4.5, then copied to a Project with target Plattform 4.0. During Coding everthing seems pretty much okay, even IntelliSense recognizes Namespace and everything, but during c

[2017-12-22 01:04] FoggyFinder commented on #4001
Oh, sorry for that - really it was somewhere else. I found another one - [Attributes](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/attributes)

Great, thank you. Just wanted to clarify the moment.

[2017-12-22 16:58] Jaykul opened #4008 "The release numbers for 4.7.2 are missing from "How To: Determine Which .NET Framework Versions Are Installed""
I would send a PR, but I don't actually know both numbers.

Now that .Net Framework 4.7.2 is out, the tables need to be updated.

[2017-12-22 18:23] barbosatek opened #4009 "[Styles Enforcement] Stylecop / ReSharper settings"
Stylecop or ReSharper static analizer rules

Would be great if a ReSharper dotsettings file or stylecop rules are provided to enforce these standards. Maybe a section called Static Analyzers or something along those words

Enforcing standards and rules isn't an easy task, however tools like Stylecop and ReSharper have shown great success. While they come with great out of the box rules, it would b

[2017-12-22 23:30] mairaw commented on #4008
Hi @Jaykul, I'm not aware that 4.7.2 is out already and even if it was, it would be a preview release. @vivmishra can you confirm whether 4.7.2 preview has been released already?

We do tag and other topics with a special value (updateeachrelease) which indicates the set of topics that we need to review every time there's a new release. So we'll take care of these updates once 4.7.2 is out.

[2017-12-23 00:19] #4001 closed

[2017-12-23 05:37] Jaykul commented on #4008
LOL. I should know better than to file bugs based on other people's information. Someone asked for an update to a script I have on StackOverflow and I just reacted. My bad.

[2017-12-23 05:37] #4008 closed

[2017-12-23 21:35] lextm opened #4014 "Please provide CipherMode availability matrix"
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ciphermode?view=netcore-2.0

The current documentation does not show which cipher modes are supported by a certain algorithm on different platforms.

Library authors and users are forced to rely on `CryptographicException` as stated,

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.symmetricalgorithm.

[2017-12-23 21:50] richlander commented on #4014
I've thought for a while that we need some tables on the full set of options that .NET Core and .NET Framework support.

I'm wondering if CSV is the best source format for this information and then generate the correct markdown.

PTAL @terrajobst @GrabYourPitchforks

[2017-12-24 03:15] richlander opened #4015 "404 on API search -- beforefieldinit"
I get a 404 on the one link (if I click on it) that I see on this page: https://docs.microsoft.com/en-us/dotnet/api/?term=beforefieldinit

[2017-12-24 08:45] mairaw commented on #4015
There was a recent change to enum pages that is causing some issues. I’ll let them know that search is also affected. Thanks @richlander!

[2017-12-25 23:19] richlander commented on #4015
I saw some other enum pages that had this same problem. Great.

[2017-12-26 00:31] mairaw commented on #4015
They’ve deployed a fix that resolved the broken link issues. But search is still broken. I’m following up on that.

[2017-12-26 13:28] ShalokShalom commented on #3446
Who feels responsible here?

[2017-12-27 13:06] ChrisMaddock opened #4023 "Broken formatting in Reflection guide"
https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-codedom/specifying-fully-qualified-type-names

On this page the table "Backus-Naur Form Grammar for Type Names" is rendering incorrectly. Here's what it previously looked like on msdn: https://msdn.microsoft.com/it-it/library/yfsftwz6(v=vs.110).aspx

**OLD**
![image](https://user-images.githubusercontent.com/4837132/34382422-acb33594

[2017-12-28 10:09] #3814 closed

[2017-12-30 05:47] Daniel15 commented on #3603
I don't think I'll get time to send a PR any time soon, unfortunately :(

[2017-12-30 14:51] BillWagner commented on #3603
@Daniel15 I understand. It's on my list then.

[2018-01-02 15:35] BillWagner commented on #3907
We had more relevant feedback on the topic:

It seems that specifying "in" at the call site is optional--or rather, its allowed. However doing so when the parameter is a temporary (like new Point3d() in the second example) generates compiler error CS8156: "An expression cannot be used in this context because it may not be passed or returned by reference."

[code]

Similarly, assigning to a local a

[2018-01-02 15:47] BillWagner commented on #276
Thanks for reaching out @jfversluis

I apologize for the late response, I was enjoying the holidays. 🎄 🍾

Let's start with an outline (either as a comment here, or as a WIP labelled PR.)

I'd like readers to learn techniques for writing concise and clear code using ?? and ?. instead of a series of nested if / else statements.  Beyond that, I haven't worked through organizing the topic yet.

[2018-01-04 07:00] ms0713 commented on #2808
@mairaw Whats the progress on **[DllImport("kernel32.dll")]**?
Let me know if you have worked on this or if you have any alternative to make it work on Linux.

I m using following method for Application. While running it on Linux it gets crashed as it is not able to load Assebly **Kernel32.dll**.
`[DllImport ("kernel32.dll")]
public static extern uint GetCurrentThreadId()`

[2018-01-04 07:53] jfversluis commented on #276
No problem @BillWagner ! As you should! And a happy new year to you 🎉

I'll see what I can do! Thanks!

[2018-01-04 21:33] mairaw commented on #4023
Thanks for letting us know @ChrisMaddock! We'll address it shortly. It's probably due to the use of pipes.

[2018-01-04 21:39] BillWagner commented on #4023
@terrajobst One solution would be to translate from BNF to ANTLR, and use the ANTLR grammar syntax highlighter. [See example from the C# grammar](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/statements)

Thoughts?

[2018-01-04 21:39] mairaw commented on #4015
This seems resolved now.

[2018-01-04 21:39] #4015 closed

[2018-01-04 21:42] mairaw commented on #4014
@terrajobst @GrabYourPitchforks @richlander anyone can help with this info so we can add it to the docs?

[2018-01-04 21:45] BillWagner commented on #4009
@barbosatek Are you looking for information on something like this [Analyzer NuGet package](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)? Those enforce a variety of style and standardization practices.

[2018-01-04 21:53] mairaw commented on #3991
Thanks for filing the issue @Jaykul. @rpetrusha we should sync on this one.

[2018-01-04 21:59] mairaw commented on #3894
@JeremyKuhne, @pjanotti can you guys confirm the behavior? I'm not being able to get a Linux machine working quickly.

[2018-01-04 22:05] mairaw commented on #3175
It seems that the blocking issue is still open so moving to backlog.

[2018-01-04 22:07] mairaw commented on #3108
We're clearing up Quarter 4 issues @cartermp. Any idea when you can get this addressed?

[2018-01-04 23:00] mairaw commented on #2880
@richlander who would be a good person to chat about this?

[2018-01-04 23:00] mairaw commented on #3853
@weshaggard @terrajobst @livarcocc pinging again

[2018-01-04 23:07] guardrex commented on #3175
@mairaw I'll be free after the 18th. I'll TAL over there and probably offer to [@]sayedihashimi to make all of them consistent. Once they're stable over there, I'll mirror the sample over here with the changes.

[2018-01-04 23:11] pjanotti commented on #3894
Hi @rmadsen-ks the `AltDirectorySeparatorChar` on Unix is intentionally matching `DirectorySeparatorChar`. Windows does support both '\\' and '/' but on Unix only '/' can be used as directory separator.

/cc @mairaw

[2018-01-04 23:39] livarcocc commented on #3853
@rrelyea @rohit21agrawal

[2018-01-04 23:43] rohit21agrawal commented on #3853
If I am understanding the question correctly, it's about managing package dependency assets. Please refer to  https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2018-01-04 23:48] mairaw commented on #3175
Not sure who's taking over that area. I saw today that he's moving to another team.

[2018-01-05 00:01] guardrex commented on #3175
Ah ... I see. I'll check in with them over there right after the contract ends and see if there's an opportunity for me to fix them up. I'll let you know how it turns out.

[2018-01-05 23:14] sputier commented on #90
@BillWagner The end of the year was a very busy time, so I've set this issue aside for a while, but I'm now back to tackle it.

Before deep diving into the subject : I'm not sure about the way I should integrate everything in the repository tree... Should I add the code samples under /samples and the text content under docs/samples-and-tutorials ? The file [/docs/samples-and-tutorials/index.md](/d

[2018-01-06 00:16] mairaw commented on #2900
They have fixed this a few months ago and I missed it. Thanks for reporting @svick.

[2018-01-06 00:16] #2900 closed

[2018-01-06 00:18] mairaw commented on #2790
This issue is now outdated. Instructions are not under https://www.microsoft.com/net/learn/get-started/linuxdebian.

[2018-01-06 00:18] #2790 closed

[2018-01-06 00:28] mairaw commented on #2541
The individual field pages have now been removed but the issue still continues on the main enum page. I couldn't find an internal bug filed on this.

@dend @adkinn FYI

These are the existing fields under .NET Core 1.0:
![image](https://user-images.githubusercontent.com/12971179/34634032-39148bfc-f235-11e7-87d2-be2e086754b7.png)

I also just noticed that enums don't have the "Applies to" section t

[2018-01-06 01:30] mairaw commented on #3652
This issue has been fixed.

[2018-01-06 01:30] #3652 closed

[2018-01-06 01:31] mairaw commented on #2462
Internal bug was marked as resolved. It also seems that the Loc process stopped adding that backslash:
https://github.com/dotnet/docs.de-de/commit/5f080b0893b317dff099caeceb1139044dbd815a#diff-7765c5665346c4f101525e06c7ad5e79

I checked all pages and they all look good.

[2018-01-06 01:31] #2462 closed

[2018-01-06 01:43] mairaw commented on #1878
That was the decision made by the engineering team in regards to the list of interfaces. So I'm considering this one fixed. Thanks!

[2018-01-06 01:43] #1878 closed

[2018-01-06 01:46] mairaw commented on #2119
This really doesn't belong in our repo so I'm closing this issue. @kriscider please let @bryanjhogan know how he can submit this kind of request to the Azure docs team.

[2018-01-06 01:46] #2119 closed

[2018-01-06 01:47] mairaw commented on #1934
This has now been resolved. Thanks again @svick!

[2018-01-06 01:47] #1934 closed

[2018-01-06 01:54] mairaw commented on #2311
@rpetrusha the internal bug referred here was about the list of interfaces not being complete, but I didn't see information about per version in that same bug. Perhaps you opened a different bug for this?

@dend are you aware of any bugs tracking this request?

[2018-01-06 02:00] mairaw commented on #1850
Noting here the bug ID for the additional request: 1156157

[2018-01-06 02:07] mairaw commented on #2119
Had the wrong alias before. Meant to ping @kriscrider.

[2018-01-06 02:14] mairaw commented on #2541
Internal bug #1156159 is tracking the issue of missing version info for enum pages and bug #1156160 is tracking the issue of showing the wrong fields for a given version.

[2018-01-06 02:15] mairaw commented on #4008
No worries. 😄

And I just double checked again and we haven't shipped 4.7.2 yet.

[2018-01-06 02:42] mairaw commented on #2808
This is currently in our backlog @ms0713. We haven't started addressing this one yet.

@weshaggard @karelz who can help with this?

[2018-01-06 03:26] dend commented on #2136
This is by-design and reflects the .NET model where interface implementations are "collapsed". In this case, if one interface already implements another interface, only the one highest in the chain will be displayed as you only need it to implement both.

[2018-01-06 12:18] svick commented on #2136
@dend That rule doesn't seem to be followed universally. E.g. the implemented interfaces for [`List<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1) are collapsed only partially:

* `ICollection<T>`, `IEnumerable<T>` and `IList<T>` are all shown, when they could be collapsed to just `IList<T>`.
* `ICollection` and `IEnumerable` are not shown, presumably they are

[2018-01-07 21:02] karelz commented on #2808
@luqunl, @shrah can you please help here?

[2018-01-08 14:10] ShalokShalom commented on #3446
See also this: https://stackify.com/net-ecosystem-demystified/

[2018-01-08 15:14] BillWagner opened #4072 "Inconsistent switch usage for C# compiler options"
[This page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/debug-compiler-option) and all pages under [C# compiler options](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/listed-alphabetically) are inconsistent in how they list compiler options.

The TOC and titles uses the - character. The headers all use '/'

We should pick

[2018-01-08 15:16] BillWagner commented on #4072
My preference is to use '-' throughout the docs to avoid confusion with a path separator. The index pages should mention that both are supported.

Respond 👍 to agree, 👎 if you'd prefer '/'

[2018-01-08 15:57] BillWagner commented on #90
@sputier You are seeing a lot of the artifacts of the migration of existing MSDN content. We will keep migrating toward a new structure.

For new samples, put complete programs under /samples/csharp. You can make a new directory there for anything you are building.  That way, our CI build will find the .csproj files, and build and run any unit tests.

The MD files should be under docs/csharp/tutor

[2018-01-08 17:50] mairaw commented on #4072
Not only headers but the syntax block also shows /. So we should be consistent everywhere!

[2018-01-08 18:00] fearthecowboy commented on #4072
![image](https://user-images.githubusercontent.com/133736/34684652-af141f1c-f45a-11e7-80ca-1d44209c6b31.png)

The dash is best!

[2018-01-08 18:47] pkulikov commented on #3575
@svick @mairaw  That looks that the whole **Remarks** section is the same for various GetEnumerator() method descriptions:
https://github.com/dotnet/docs/search?p=2&q=+or+deleting+elements%2C+the+enumerator+is+irrecoverably+invalidated+and+its+behavior+is+undefined.&type=&utf8=%E2%9C%93

Can it be moved to an include file with updating the piece of undefined behavior?

[2018-01-08 18:51] mairaw commented on #3575
Yes, that's a good solution @pkulikov.

[2018-01-08 19:00] pkulikov commented on #3575
@mairaw Can then I grab it for the fix?

[2018-01-08 19:02] mairaw commented on #3575
@pkulikov for sure! Thanks for wanting to contribute. Let us know if you need help with anything.

[2018-01-08 19:04] pkulikov commented on #3575
@mairaw cool! As I see all include files are in the **includes** folder. Then what is the file naming convention to follow?

[2018-01-08 19:06] mairaw commented on #3575
Yes, that's where they live. The only convention we have is lowercase file names and use dashes as separators. You could name it something like getenumerator-remarks or something similar that explains the intention.

[2018-01-08 19:08] pkulikov commented on #3575
@mairaw That's clear, thank you.

[2018-01-08 19:11] shrah commented on #2808
@rlordcardano  are you hitting into this https://developercommunity.visualstudio.com/content/problem/17141/net-core-x86-console-app-crashes-1.html known issue? Putting the Directory.Build.targets  as suggested on that page should fix your problem. Let me know if it still repros after applying that solution.

[2018-01-08 19:53] mairaw commented on #3916
Hi @weitzhandler, I was a bit confused too. Talked to @Rick-Anderson and he opened https://github.com/aspnet/Docs/issues/5134 to address this.

So I'm closing this one, but please let me know if you have any additional requests not related to a tutorial in the ASP.NET Core docs.

[2018-01-08 19:53] #3916 closed

[2018-01-08 20:14] borland commented on #4072
👍 for dash

[2018-01-08 20:32] ChrisMaddock opened #4075 "Menus should only show top level options on mobile"
https://docs.microsoft.com/en-gb/dotnet/csharp/

On the above page - the sidebar menu on the desktop site is hierarchical.

On mobile however, all menu items are listed in a single list. That's hundreds of items on this page - which makes the menu pretty difficult to use. It would be great if just the current hierarchy level was shown on mobile.

This problem was seen on Chrome 63.0.3239.73 on iPh

[2018-01-08 21:13] mabumann commented on #3888
I propose that the class name is modified from NumderDataTemplateSelector to NumberDataTemplateSelector.

[2018-01-08 21:18] mairaw commented on #4075
Thanks for the feedback @ChrisMaddock. @adkinn @DuncanmaMSFT @eisenbergeffect any input into this issue?

[2018-01-08 21:20] BillWagner commented on #4075
This also affects how we handle the sub-TOCs. We discussed this briefly last week with @dend in our Friday meeting. There's likely some work on both the content and site engineering side here.

[2018-01-08 21:22] mairaw commented on #3853
@unickq are you good with the answer? Does that help with your issue?

[2018-01-08 21:25] mairaw commented on #2727
I'm not sure if we still need this. @dsplaisted @KathleenDollard @richlander any thoughts on this?

[2018-01-08 21:26] EisenbergEffect commented on #4075
@ChrisMaddock Thanks for the feedback!

The good news is that we already have a complete revamp of the ToC designed for mobile devices. It needs to go through a final design review still, but it's nearly ready for implementation.

@mairaw I've got this work as part of our FY18Q3 priorities. I'm not sure of the actual timeline just yet though. It's fighting against some other serious hi-pri work th

[2018-01-08 21:41] mairaw commented on #1931
Since this is in the ECMAXML. it shouldn't contain MarkDown text. Given that we're trying to redirect MSDN soon, this should be handled soon.

[2018-01-08 21:45] mairaw commented on #1745
Pinging @ericstj and @Petermarcu on this one again to see if anything changed since last time this issue was discussed.

[2018-01-08 21:46] Jazzynupe commented on #4072
Not to mention in PowerShell we primarily use "-" for parameters. So I say dash for the win.

[2018-01-08 21:48] mairaw commented on #763
@twsouthwick @richlander who can help with this one?

[2018-01-08 21:49] mairaw commented on #761
@twsouthwick just FYI, this is still in our backlog. We haven't been able to get to this one yet.

[2018-01-08 21:55] amir-khatibzadeh commented on #4072
👍 dash baby

[2018-01-08 22:11] phillipsj commented on #4072
:+1:

[2018-01-08 22:22] mairaw commented on #3888
Yes, @mabumann. @jinek is doing that already on the PR #4016. I just have a final question to him on that PR before we finish this issue.

[2018-01-08 22:25] mairaw commented on #4072
Thanks for the feedback everyone. So far dash seems to be the overwhelming preference.

@fearthecowboy you get my vote for best comment! 😄

We have some other priorities we have to tackle first. So if anyone wants to jump in to change from / to -, please let us know!

[2018-01-08 22:54] jonstodle commented on #4072
For across platform future across platform solution is needed. Dash all the way

[2018-01-08 23:32] mairaw commented on #3930
@eisenbergeffect to talk about rollout strategy

[2018-01-08 23:33] rpetrusha commented on #2720
.csproj files are a good place to start. Our major .NET Core getting started topics all have both Visual Basic and C# topics. I'll assign this to myself and review VB coverage during the next sprint.

[2018-01-08 23:34] mairaw commented on #4075
Cool! Thanks for the update @EisenbergEffect!

[2018-01-09 00:13] CodeCharm commented on #4072
Dash. Even the box says to use it everywhere.

![image](https://user-images.githubusercontent.com/719997/34698772-c863dd7a-f48e-11e7-9c75-00315cf3016c.png)

[2018-01-09 01:01] EisenbergEffect commented on #3930
For conceptual content, the run functionality can be turned on for any sample at will. This is mostly about the content team determining that an individual sample will work correctly in that environment.

For reference content, I don't think we want to turn it on everywhere, since we can't guarantee that all reference samples will work in the REPL experience. I'm not sure if we have a way to indiv

[2018-01-09 01:29] BillWagner commented on #3930
We can configure the interactive feature in content.

Use "csharp" as the language for displaying C#.  Use "csharp-interactive" to use C# with the interactive REPL experience.

For include files, the tags are [code-csharp] and [code-csharp-interactive], respectively.

[2018-01-09 09:20] unickq commented on #3853
Yes, thanks.

Made something like
[code]

[2018-01-09 09:20] #3853 closed

[2018-01-09 14:15] ChrisMaddock opened #4085 "Document when XmlNode.SelectNodes() can return null"
Intellisense warns me `XmlNode.SelectNodes()` may return null. I was interested in what circumstances that happens in - but there doesn't seem to be any mention of this method returning null in the docs.

Google seems to suggest it can happen in various unusual situations, but the information seems to be sparse. ([link](https://social.msdn.microsoft.com/Forums/en-US/ae0e751f-5220-4bde-8c3c-0f50740

[2018-01-09 18:06] JRAlexander opened #4086 "Update .NET Core Linux Prerequisites to latest"
# Update .NET Core Linux Prerequisites to latest

Remove installation instructions for each distro, and replace with links to .NET download page.

4. Suggest reviewers

    - If you know someone who can provide feedback, use '@' to ask them to review.

[2018-01-09 19:06] IainWardle commented on #4072
:+1:

[2018-01-09 22:14] mairaw commented on #4085
@ChrisMaddock that is odd, since we generate the IntelliSense from the docs.
Can you share what you're seeing on IntelliSense and what kind of project you have?

But it seems that SelectNodes can actually return null:
https://referencesource.microsoft.com/#System.Xml/System/Xml/Dom/XmlNode.cs,67
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Dom/XmlNode.cs#L71

[2018-01-09 22:22] #3938 closed

[2018-01-09 22:36] krwq commented on #4085
@mairaw I believe the comment is correct.

@ChrisMaddock here is an example:

[code]

[2018-01-09 22:46] pjanotti commented on #4085
@mairaw I think what people care about are the types listed in the comment but to be technically correct it should be that it returns null if `CreateNavigator` for the XmlNode returns null.

[2018-01-10 03:00] rolandh commented on #3907
Is there any reason why the compiler could not automatically add "in" if it can be determined that the reference would not be modified in the method? This is assuming that passing a value type by reference would be faster than copying it (and hence a valid optimisation).

[2018-01-10 06:29] mikedn commented on #3907
How would the compiler deal with such an assumption?

Your tests are either incorrect or you ran them on x86. It's practically impossible for `long DoStuff(in long x, in long y)` to be faster on 64 bit platforms, on the contrary, it will very likely be slower.

Until you add a call inside `DoStuff` and then the compiler fails to determine that the `in` version would be equivalent. And all of the s

[2018-01-10 06:54] jinek commented on #3888
I will make changes to VB also in a few days

[2018-01-10 09:10] ChrisMaddock commented on #4085
@mairaw - Apologies, I was wrong about the source - the hint seems to be generated by ReSharper rather than Intellisense. I wonder what ReSharper derives that information from, in that case...

![image](https://user-images.githubusercontent.com/4837132/34764169-839fdea2-f5e5-11e7-9a8e-a81c4e7a223c.png)

For the record - the project is the NUnit console - a .NET Framework 2.0 console application.

[2018-01-10 14:42] ShalokShalom commented on #3446
Why is it impossible to one of the largest companies in the world, to implement such a fundamental thing, while there is even an open source contribution which simply can get adopted?

[2018-01-10 16:16] niranjankala commented on #4072
👍 dash baby

[2018-01-10 18:25] mairaw commented on #4085
No worries @ChrisMaddock. Thanks for letting me know the source. Not sure how ReSharper is implemented. Maybe it looks at the implementation and checks for null returns?

But we'll add the info to the docs too. Just don't know when yet.

[2018-01-10 18:27] mairaw commented on #3888
Thank you @jinek! I was going to tell you I was going to do the VB part today, but we can wait a few days if you wanna finish it. Either way works. Thanks so much!

[2018-01-10 18:40] pjanotti commented on #4085
IIRC ReSharper has a way to decorate stuff inside assemblies for which you don't build from sources, these attributes then are read and used at analysis time. So they can add stuff to indicate that specific things never return null, etc. I don't have any idea about what they used as a start point but by now they have accumulated a good deal of knowledge about this type of issue.

[2018-01-11 00:44] BillWagner opened #4103 "Omissions in "ref locals and returns""
From @ericlippert via LiveFyre regarding [ref locals and returns](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/ref-returns)

There are a number of errors of omission in this guide.

Consider for example the section "Consuming a ref return value", which states that there are exactly two things you can do: treat it as a value, or assign the ref to a ref local.

[2018-01-11 00:57] Petermarcu commented on #1745
We should sync up with the folks working on the Linker https://github.com/dotnet/announcements/issues/30 to figure out when docs would be appropriate. The Trimming tooling is effectively now merged into the Linker so that will be where it eventually ships.

[2018-01-11 06:31] ryantrem commented on #4072
👍

[2018-01-11 16:48] JKennedy24 commented on #3644
@JeremyKuhne Any chance of packaging up `System.Runtime.WindowsRuntime, Version=4.0.14.0 as a standalone package.

Otherwise it means I am forced to make my target version and min version to `Fall Creators Update` which not everyone is updated to.
(see linked comment for more details)

[2018-01-11 22:19] #3921 closed

[2018-01-12 00:07] Zastai commented on #2642
Please also document _all_ properties that have special meaning for the compiler etc.
I was bitten by setting an Instrument property, which apparently triggers the use of an undocumented C# compiler option (at least it's not listed [here](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/listed-by-category)).
I'm not sure it makes sense to impact the user namespace

[2018-01-13 01:33] #3888 closed

[2018-01-14 09:32] pkulikov commented on #3575
@mairaw I've looked at various **Remarks** sections thoroughly and they don't look the same anymore: they contain links that depend on enumerator type. So, solution with one include file would not work.

Thus I will update individual xml files for `List<T>` and `LinkedList<T>` to fix the original issue at least. I'll use phrasing from [SortedSet documentation](https://docs.microsoft.com/en-us/dotn

[2018-01-14 10:28] pkulikov opened #4121 "Not clear usage recommendation of ArrayList"
At the **Remarks** section of the [ArrayList](https://docs.microsoft.com/en-us/dotnet/api/system.collections.arraylist?view=netcore-2.0) it is recommended

What do we mean here:
- generic `List<T>` with `Object` type as parameter OR
- there is a mistake in recommendation and `ArrayList` should be recommended?

If the former takes place, we might recommend not to use `ArrayList` at all.

[2018-01-14 10:41] pkulikov opened #4122 "Not expected references to .NET framework source code"
If we look, for example, at the **Remarks** section of the [generic List class](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netcore-2.0), we notice the following note:

However, please note that above-mentioned link is for .NET Core (`?view=netcore-2.0` in the URL). Thus, it's strange to see the link to the .NET framework source code instead of the link to .N

[2018-01-14 14:47] svick commented on #4121
That's how I understand the recommendation, that `ArrayList` should not be used. What makes you think the documentation is suggestion you should sometimes use `ArrayList`?

[2018-01-14 17:23] pkulikov commented on #4121
@svick the same **Remarks** section then says

Then, the first paragraph of that section is

In deciding whether to use the `List<T>` or `ArrayList` class, both of which have similar functionality, remember that the `List<T>` class performs better in most cases and is type safe. If a reference type is used for type `T` of the `List<T>` class, the behavior of the two classes is identical. However,

[2018-01-16 10:24] EmilAlipiev commented on #3644
@JeremyKuhne  why there is such restriction to use latest version as min version? it is potential user lose for developers

[2018-01-16 14:55] JKennedy24 commented on #3644
@JeremyKuhne the reason I ask is because of a third party plugin I use which required version `System.Runtime.WindowsRuntime, Version=4.0.14.0` and threw an exception on running on UWP. (https://github.com/dotnet/docs/issues/3644#issuecomment-357841269)

The only way to get that specific version was to upgrade my UWP min/target version to Fall Creators update.

my current project is a .Net Standar

[2018-01-16 16:41] #3342 closed

[2018-01-16 22:40] #3330 closed

[2018-01-16 23:05] mairaw commented on #4122
Hi @pkulikov, thanks for your feedback. I thought we had removed those from the docs but it seems we missed them in the remarks. I'll remove them from everywhere.

We still don't have the ability to show different content based on the product, but we're working on that feature.

Our team is also working on a feature to point you to the source code from the API reference docs.

@dend @eisenbergeffe

[2018-01-16 23:07] EisenbergEffect commented on #4122
The feature to link from the code block to the GitHub source is currently in process. We have a design but need to implement some things on the back-end that allow us to reliably make the link (and not accidentally product 404s for customers).

[2018-01-17 10:27] BillWagner opened #4129 "misleading remarks for IEquatable<T>.Equals"
Under "Remarks" it says:

I think this was supposed to say:

This may need more updates as well.

[2018-01-17 12:53] ShalokShalom opened #4131 "Dead link on interop page"
First link here: (Interoperating with Unmanaged Code How-to Topics)
https://docs.microsoft.com/en-us/dotnet/framework/interop/index#comments-container

Is it possible to install a system, which reports, when somebody removes a page?
Why is it even possible, that a link get removed from somewhere without any checking if that one got linked somewhere else?

Thanks a lot

[2018-01-17 16:46] pkulikov commented on #4131
Apparently all links to msdn.microsoft.com are broken on the mentioned page.
Those are:
- Interoperating with Unmanaged Code How-to Topics
- Design Considerations for Interoperation
- Interoperating Using Generic Types
- Advanced COM Interoperability

[2018-01-17 16:52] pkulikov commented on #4122
@mairaw thank you for such a complete answer.

If those notes should be removed, I can do that as well. Is it fine?
So far, I've found [these files](https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=%22To+view+the+.NET+Framework+source+code+for+this+type%22&type=) to clean.

[2018-01-17 17:28] mairaw commented on #4122
Of course @pkulikov! Your contribution is super welcome. I appreciate it.

[2018-01-17 18:41] mairaw commented on #4131
I'll fix this page @ShalokShalom. Thanks for reporting. The content got restructured at some point but that page wasn't updated (see a previous version [here](https://msdn.microsoft.com/en-us/library/ccb68ce7-b0e9-4ffb-839d-03b1cd2c1258(vs.100))).

The In this section is supposed to only list what's in the TOC, so most of them should just be removed.

[2018-01-17 19:35] pjanotti commented on #4121
Yes, if possible some kind of warning box on the top. It could link to the section with the detailed explanation but it will be nice to have it on the type and all its members.

[2018-01-17 19:43] rpetrusha commented on #4129
@BillWagner, the intent of the bulleted item is to distinguish when IEquatable.Equals(T) is called, as opposed to Object.Equals(Object). So I think that the text is correct.

[2018-01-17 20:17] wadepickett opened #4133 "FW link on WPF Community Feedback page leads to non-existent site"
#fw link on WPF Community Feedback page leads to non-existent site

This document: https://github.com/dotnet/docs/blob/master/docs/framework/wpf/getting-started/community-feedback.md

Issue:  Product Feedback Center link (http://go.microsoft.com/fwlink/?LinkId=99381) leads to a non-existent Connect site.   Determine if we have a better place for WPF product feedback and update the FW link with tha

[2018-01-17 20:31] mairaw commented on #4133
Wondering if we should keep that topic with the changes that we're planning for product and content feedback too. I'll follow up with the WPF team.

[2018-01-18 00:28] #4131 closed

[2018-01-18 01:02] mairaw opened #4139 "Consuming a class library with .NET Core in Visual Studio 2017"
Some suggestions for the topic based on my observation and some LiveFyre comments: https://docs.microsoft.com/en-us/dotnet/core/tutorials/consuming-library-with-visual-studio

- Console.WindowHeight doesn't work on Linux and macOS. It would be good to have an example that is cross-platform.
- The title should probably be changed to .NET Standard given we change the library to be .NET Standard and

[2018-01-18 02:57] mairaw opened #4141 "Create topic on multi-targeting"
We cover some of this on the following topic: https://docs.microsoft.com/en-us/dotnet/standard/frameworks#how-to-specify-target-frameworks

We need to explain how it's done, what it means, implications, etc.

/cc @terrajobst

[2018-01-18 03:03] terrajobst commented on #4141
Yes, I think these docs are very important as it's likely becoming an advanced scenario that many people will have to use.

[2018-01-18 06:22] ShalokShalom commented on #4131
Thanks a lot 😄

[2018-01-18 09:31] lassevk opened #4142 "Enumerable.Cast fail to mention that for value type target it simply unboxes"
# Enumerable.Cast fail to mention that for value types it simply unboxes

[Topic: Enumerable.Cast](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.cast?view=netframework-4.7#System_Linq_Enumerable_Cast__1_System_Collections_IEnumerable_).

The following code fails to run and throws an "Invalid cast" exception instead:

    double[] a = new double[10];
    int[] b = a.Cast<int>()

[2018-01-18 20:56] pkulikov commented on #4142
Comment is correct, but that looks that the method is misused.

The main intention of that method (notice that argument of the `IEnumerable` type, non-generic one) is to jump from the space of non-generic collections to the space of generic collections and enjoy the methods from `System.Linq.Enumerable` class. See in the **Remarks** section:

Please notice that though `double[]` is `IEnumerable`,

[2018-01-18 21:05] phenixita commented on #3603
Can I start to do this?
I'd like to use this issue as my first contribution to this repo, too!

[2018-01-18 21:21] sputier commented on #4072
@mairaw Hm... Changing the switch everywhere may also include the VB compiler. For instance, [this page](/docs/framework/app-domains/how-to-build-a-multifile-assembly.md) is related to both compilers : changing the switch here leads to changing it everywhere.
As the initial scope of this issue is the C# compiler, I'm not really sure of the way to handle it. Are VBists OK with the use of - ?

[2018-01-18 21:21] mairaw commented on #2136
@dend I'm reopening this since we wither collapse them all or we don't. My personal preference would also be to show them all.

[2018-01-18 23:07] mairaw commented on #3603
Sure @phenixita!

[2018-01-19 00:08] terrajobst commented on #4023
Like this? Yep, looks very readable to me. 👍

[code]

[2018-01-19 00:57] mairaw commented on #4131
You're welcome!

[2018-01-19 04:27] JohnRusk commented on #4086
Will this allow installation of *only* the native dependencies?  I.e. for people who don't want the SDK, but also don't want to go to the trouble of populating a [net core deps](https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md) directory

[2018-01-19 12:05] BillWagner opened #4154 "Need to determine which .NET Core SDK has which C# version enabled"
We explain which C# version ships with which release of Visual Studio. @damtur raised this issue after a talk that he could not find that mapping for the versions that ship with .NET Core SDK versions. For example, which .NET SDK has C# 7.1? or 7.2? This make affect the dotnet CLI, as the compiler ships as a dotnet tool.

We need to make this more prominent if it is published. If not, we need to p

[2018-01-19 12:28] rachelappel opened #4155 "Docker content for .NET"
Moved to .NET Repo from ASPNET https://github.com/aspnet/Docs/issues/5096

Team prefers a scenario based doc and does not want a copy and paste. Base on this doc instead https://blogs.msdn.microsoft.com/dotnet/2017/05/25/using-net-and-docker-together/

[2018-01-19 14:52] phenixita commented on #3603
Ok thanks! I'll do it this weekend.

[2018-01-19 15:50] eduard-malakhov commented on #4072
@mairaw  [this page]( https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/debug-compiler-option) still has one usage of "/" in "To change the location of the .pdb file, see /pdb (C# Compiler Options)." Should I change it too as part of this issue?

[2018-01-19 17:02] svick commented on #4142
This is not really about value types, user-defined cast operators on reference types are also not used by `Cast`.

E.g. `XNamespace ns = "foo";` works fine, but `new string[] { "foo" }.Cast<XNamespace>().Any()` throws.

It's boxed because `source` is an `IEnumerable`, which only gives you access to `object`s. If the code was `foreach (var obj in source) yield return (TResult)obj;`, it would work e

[2018-01-19 18:02] jcouv commented on #4154
Tagging @livarcocc for this

[2018-01-19 21:02] omajid commented on #2791
@kasper3 It seems this was never part of CI. Someone used to run it manually and the process broken when they left. See https://github.com/dotnet/cli/issues/7291#issuecomment-318507252 for the additional context.

[2018-01-19 21:06] mairaw commented on #2791
Given that we have #7291 tracking this issue, is it ok to close this one? They seem duplicate to me.

[2018-01-19 22:33] eduard-malakhov commented on #1902
@mairaw I just noticed that this issue was actually fixed [here](https://github.com/dotnet/docs/commit/7ec170f7b7e9d8e3c509a1e041a6dde802deed86#diff-bebdf20fd05294decc2c570402abddb5) and it's in production already.

[2018-01-19 22:55] mairaw commented on #1902
You're right @eduard-malakhov! It was resolved back in October. Thanks for bringing this to my attention.

[2018-01-19 22:55] #1902 closed

[2018-01-20 01:15] rpetrusha opened #4159 "Modify FileSystemWatcher Renamed event and OnRenamed Method"
# Modify FileSystemWatcher Renamed event and OnRenamed Method

Both members need to be modified to note that the Name property may be null if the operating system does not provide FileSystemWatcher with matching old and new name events:

[FleSystemWatcher.Renamed](https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemwatcher.renamed?view=netframework-4.7.1)

[FileSystemWatcher.OnRenamed]

[2018-01-20 01:52] mairaw opened #4161 "[Project] Security and crypto review"
We need to review conceptual articles and API reference to make sure we have current guidelines re. security and cryptography.

MD5 and SHA1 shouldn't be used anymore -> SHA256 / 384 / 512

**Updates to conceptual docs (~50)**

- [ ] @mairaw to grab BI data to help with prioritization
- [ ] review topics to make sure they have accurate guidance

**API docs**
- [ ] add notes for MD5/SHA1/etc.

**Sa

[2018-01-21 01:49] mairaw commented on #1850
The engineering team completed the work. Thanks!

[2018-01-21 01:49] #1850 closed

[2018-01-21 13:36] sputier commented on #4072
@eduard-malakhov Of course, feel free to fix any switch I may have forgotten ! :-) Are you working on "everything" ? If you only plan to fix this, do you want me to include it in the next PR ?

[2018-01-21 22:00] eduard-malakhov commented on #4072
@sputier I've fixed every place I could find [C# compiler options](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/listed-alphabetically). Please see PR #4165

[2018-01-22 06:21] richlander opened #4168 "Add topic on SDK style project"
# Add topic on SDK style project

I was writing about SDK style projects and wanted an authoritative link in our docs but didn't find one. We should add some docs on this topic if we don't have any.

It would also be good to talk about the degree to which the .NET Core SDK supports existing project files (not SDK style).

[2018-01-22 14:37] cartermp commented on #4168
It appears that whatever we're doing in the docs is being picked up by google differently:

![image](https://user-images.githubusercontent.com/6309070/35225979-b21ba29a-ff3e-11e7-9387-c78476155654.png)

Takes you here: https://docs.microsoft.com/en-us/dotnet/core/tools/csproj

"Additions to the csproj format for .NET Core"

[2018-01-22 14:38] cartermp commented on #4168
I imagine this page has a high bounce rate.

[2018-01-22 16:34] jcouv commented on #3949
I think this tie-breaker is only applicable to C#. VB doesn't know how to deal with `in`.
@OmarTawfik can confirm.

[2018-01-22 19:30] mairaw commented on #4168
I think this is a dupe of #2642, no? Our intention there is to create a project file reference for .net core projects.
Yes, that page you linked to @cartermp has a very low csat. I'll change the title metadata of it for now since it's wrong.

[2018-01-22 19:30] mairaw commented on #2642
From @proog:
"The [csproj reference](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#additions) topic lists the two main SDKs that can be specified in the Sdk attribute of a <Project> element.

While it does have a vague mention of the SDK being a "set of tasks and targets," it does not explain which, and perhaps more importantly does not explain what the consequences of choosing one ove

[2018-01-22 19:32] mairaw commented on #3218
Hi @proog, I've moved your comment to an issue we're capturing a new topic that should be truly a csproj reference. I'll be closing this one as a duplicate. Thanks for the feedback!

[2018-01-22 19:32] mairaw commented on #3218
Duplicate of #2642

[2018-01-22 19:32] #3218 closed

[2018-01-22 19:43] #3603 closed

[2018-01-22 20:18] eduard-malakhov commented on #4072
I've also noticed that `f1_keywords` metadata (or whatever it is properly called) on these options pages (example [here](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/compiler-options/addmodule-compiler-option.md)) often specifies the switch with a slash, not a hyphen while `helpviewer_keywords` usually use both. Is that correct?

[2018-01-22 20:20] BillWagner commented on #4072
tagging @mairaw on the above comment. What should we do for the F1 metadata on compiler command options?

[2018-01-22 20:38] #3334 closed

[2018-01-22 21:09] mairaw commented on #4155
@JRAlexander would you be the one doing this? and any idea of a milestone to set here?

[2018-01-22 21:18] mairaw commented on #4121
@pjanotti and do you think we should do this for all types listed in https://github.com/dotnet/platform-compat/blob/master/docs/DE0006.md?

[2018-01-22 21:20] mairaw commented on #4009
@barbosatek since we didn't hear back from you to be able to clarify exactly what you'd like to see, we'll be closing this issue. If you have more information on what you need, we can reopen this issue. Thanks!

[2018-01-22 21:20] #4009 closed

[2018-01-22 21:48] rachelappel commented on #4155
@mairaw  John and I are working on it. With John out and just over a week, probably the next sprint is best.

[2018-01-22 21:58] pjanotti commented on #4121
Yes, @mairaw that will be great.

[2018-01-23 00:29] JohnRusk commented on #4086
@JRAlexander  Any thoughts on previous comment?

[2018-01-23 01:00] OmarTawfik commented on #3949
@jcouv Yes. Tie breaker is C# specific. VB sees `in` parameters as references, and can use them where safety isn't involved. For example, you can pass an `in` argument from VB by ref to a C# method, but you cannot override a base `in` method from a parent C# type.
This is the tie breaker PR: https://github.com/dotnet/roslyn/pull/23122
VB Examples here: https://github.com/OmarTawfik/roslyn/blob/mas

[2018-01-23 01:22] mairaw commented on #4072
@KathleenDollard do you think we should also switch the VB compiler options to use - instead of /? I agree with you @sputier that in some cases is trickier since it's used for both. I'd vote for consistency and have dashes everywhere, @BillWagner what do you think?

For the F1 question, I've noticed that @sputier added them where they were missing unless I missed something. Those entries are used

[2018-01-23 02:03] BillWagner commented on #3949
Updated title based on @jcouv and @OmarTawfik comments.

[2018-01-23 02:03] #4122 closed

[2018-01-23 05:23] eduard-malakhov commented on #4072
@mairaw just to make sure we're on the same page, do you mean that we need to update these pages so that this

    f1_keywords:
      - "/addmodule"
    helpviewer_keywords:
      - "/addmodule compiler option [C#]"
      - "-addmodule compiler option [C#]"
      - "addmodule compiler option [C#]"

becomes this

    f1_keywords:
      - "/addmodule"
      - "-addmodule"
    helpviewer_keywords:

[2018-01-23 06:06] mairaw opened #4176 "<see> xml doc topic doesn't mention the href attribute"
The syntax on the topic only shows `<see cref="member"/>` but not the see href syntax:
`<see href="url">link text</see>`

edit: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9f2f59-0dec-c531-b19a-a2109ea0f973
* Version Independent ID: 74c6022c-8661-216e-4f48-e5f08f432f85
* Content: [&lt;see&gt; -

[2018-01-23 09:01] danmosemsft opened #4178 "Backreference topic does not mention \k<n> format"
In the [Backreference topic](https://docs.microsoft.com/en-us/dotnet/standard/base-types/backreference-constructs-in-regular-expressions) and also in the [parent section](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference#backreference_constructs) it describes backreferences like `\1` and like `\k<name>` and `\k'name'`. However it does not make

[2018-01-23 15:48] svick opened #4181 "API reference for HttpResponseMessage.EnsureSuccessStatusCode should say which exception is thrown"
[The API reference for `HttpResponseMessage.EnsureSuccessStatusCode`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpresponsemessage.ensuresuccessstatuscode) says that it "throws an exception", but it doesn't say what is the type of the thrown exception.

Considering that the whole reason the method exists is to throw the exception, I think not saying which exception it is is a si

[2018-01-23 18:46] cartermp opened #4183 "Add prefereduilang option to the F# compiler options page"
ref: https://github.com/Microsoft/visualfsharp/issues/4243#issuecomment-359881759

@KevinRansom said:

[code]

This should be a fairly simple addition to the table.

[2018-01-23 19:09] rpetrusha commented on #4181
It is certainly a blatant omission, @svick. The method throws an HttpRequestException.

[2018-01-23 19:22] #3894 closed

[2018-01-23 20:46] eduard-malakhov commented on #4176
@mairaw Is there a standard or another technical document we can refer to to make sure that that syntax is/must be supported too? I've made a quick research and here's what I found:

-  [Doxygen documentation](https://www.stack.nl/~dimitri/doxygen/manual/xmlcmds.html) only mentions the `<see cref=""/>` syntax;
- [Sandcastle](http://ewsoftware.github.io/XMLCommentsGuide/html/983fed56-321c-4daf-af16

[2018-01-23 21:32] KathleenDollard commented on #4072
I'm interested in other people's thoughts, but I did not know VB supported - in compiler options. A quick search didn't find anywhere that used them. Is there somewhere we think VB is inconsistent with itself in the use of / over -?

I would not want to make a change, unless it is to fix an inconsistency, or if there is something I'm unaware of that makes - better than /

[2018-01-23 21:46] CodeCharm commented on #4072
I just did a quick check (not an exhaustive one).

    vbc.exe -version

Produces exactly the same output as

    vbc.exe /version

... even though the built-in help only uses slashes for documentation.

Based on that, I expect that the VB compiler will handle - just fine, and the index page can make it clear that either - or / is supported.

[2018-01-23 21:47] sputier commented on #4072
@eduard-malakhov Nice to have some help to handle this issue ! Thanks for the proof-read & fixes !

@mairaw @eduard-malakhov Yeah, I had seen the **f1_keywords**, but since **helpviewer_keywords** already used / and -, I thought it wasn't necesary to change it.

@KathleenDollard I already read a bit of the VB docs, and it seems only / is used. And I also think changes are not necesary for the VB d

[2018-01-23 21:49] sputier commented on #4072
@CodeCharm I also tried some compiler options (-out, -doc, -target, and a few others), and vbc handled it without any problem.

[2018-01-23 21:52] CodeCharm commented on #4072
Thanks, @sputier

I can't think of a good reason to use / for VB and - for C#. They should both (all) use -.

[2018-01-23 22:08] BillWagner commented on #4072
Let me make a couple clarifying comments:

Both the VB and C# compilers support '-' and '/' for command options. This issue is *not* suggesting a feature change to either compiler.

The docs will mention that both switch styles are supported. However, we want to use one syntax consistently to describe the switches in the TOC (table of contents) and the reference.

The question is which syntax we u

[2018-01-23 22:18] CodeCharm commented on #4072
I didn't get that anyone thought it was a suggestion for a feature change... may be that I'm only speaking for myself, though.

Being adept at both C# and VB, I still don't find a reason to support the "different but equal" part especially when it comes to shell-level command switches. This isn't about the language. It's about scripting. Especially if we're looking at non-Windows platforms, and wh

[2018-01-23 23:24] #3909 closed

[2018-01-23 23:45] #4004 closed

[2018-01-23 23:48] JRAlexander commented on #4155
Yes, agreed!

[2018-01-24 01:09] mairaw commented on #4072
We can keep the VB compiler options as `/` if people prefer that, but we need to make a decision on how we do those on the multi-language topics such as https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-build-a-multifile-assembly.

The instructions are for both languages. So in those cases, what is the preference? To adopt the `-` or keep the `/`?

[2018-01-24 03:06] KathleenDollard commented on #4072
I hate to look at these one at a time, but I feel that one is easy. There is no VB code in that article, it just says VB can do this too. Thus, changing it to CSC syntax seems appropriate.

I have no problem with this not having VB syntax. Anyone interested in a multiple assembly that writes in VB can easily translate - especially since the - will work in VB.

So, I suggest that we use C# - for cs

[2018-01-24 05:41] eduard-malakhov opened #4191 "A link to ASP.NET Configuration Settings topic is broken (/docs/framework/configure-apps/index.md)"
There's a link labeled **ASP.NET Configuration Settings** in `docs/framework/configure-apps/index.md` that leads to a MSDN page http://msdn.microsoft.com/library/116608f3-c03d-4413-9fc7-978703e18b0f which is "not longer available".

I suggest that we find the equivalent page in docs and fix the reference accordingly.

[2018-01-24 05:46] eduard-malakhov opened #4192 "C# compiler options specifies web.config as the only place where compiler options are set"
[This](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/) topic says "In Visual Studio, you set compiler options in the **web.config** file". Is that correct? I think this sentence is misleading as AFAIK web.config only exists for web applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-01-24 18:03] rpetrusha commented on #4072
Aside from switches for C#, the only other use of switches is for al, which also accepts "-" as well as "/". So all of these can be changed to "-".
I can't think of another topic that combines both C# and VB compiler switches on the command line.

[2018-01-24 20:11] mairaw commented on #4072
@KathleenDollard that article does have VB code. You need to switch the language on the left top corner:
![image](https://user-images.githubusercontent.com/12971179/35354670-a05098d2-00ff-11e8-90e1-1082839e3d6e.png)

[2018-01-24 20:35] KathleenDollard commented on #4072
Interesting. You mean if I click on C# on that page, it should offer me VB.

On my machine, in Safari, it does not.
________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Wednesday, January 24, 2018 12:11 PM
To: dotnet/docs
Cc: Kathleen Dollard; Mention
Subject: Re: [dotnet/docs] Inconsistent switch usage for C# compiler options (#4072)

@KathleenDollard<https://na01.

[2018-01-24 20:46] JRAlexander commented on #4086
@JohnRusk -Sorry, I've been out due to a death in the family. The answer for .NET Core 2.1 (and eventually .NET Core 2.0) is https://github.com/dotnet/core-setup/issues/3280. We’ll provide debs and rpms for supported distros which handle the native dependencies.

[2018-01-24 21:02] JohnRusk commented on #4086
Thanks @JRAlexander . Condolences re your loss.

That solution with debs and rpms will be _great_!

[2018-01-24 22:56] JeremyKuhne commented on #3644
@JKennedy24
I'm not sure why rotorgames has a dependency on it- if they aren't using this API then the reference might be a mistake? Or are they referencing 2.0?

@EmilAlipiev
I personally have no objections to there being an updated stand-alone package for this. Please open an issue in CoreFX if you want this. Note, however, that the APIs that these use (IStorageFolderHandleAccess::Create, etc.)

[2018-01-24 23:28] strican opened #4200 "Code snippets split among multiple panes"
# Code snippets split among multiple panes

# General
There appears to be a pattern of using multiple segments of existing snippets to fill the need of simpler snippets. I've found this to be true [here](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/xaml-overview-wpf#markup-extensions), but may exist on other pages. The result is several subsequent code blocks that make it difficu

[2018-01-24 23:32] mairaw commented on #4200
Hi @strican. Thanks for your feedback. We're aware of this problem (see issue #2994).

Unfortunately, we haven't had time to address that one yet. I'll be closing this one given that is a duplicate.

[2018-01-24 23:33] mairaw commented on #4200
Duplicate of #2994

[2018-01-24 23:33] #4200 closed

[2018-01-25 01:16] mairaw commented on #4191
Thanks @eduard-malakhov. We have tons of MSDN links and FwLinks that need to be reviewed (see related issues #2037 and #3391). It's a lot of legacy content so it takes time to go through them all.

Probably for this specific link, the best replacement would be this content that we migrated: https://github.com/dotnet/docs/blob/master/docs/framework/configure-apps/file-schema/web/index.md

[2018-01-25 03:11] mairaw commented on #4176
Good points @eduard-malakhov! I'm not sure about the technical docs that show the ones that must be supported. The docs here seem to match the common options covered in the C# spec: https://github.com/dotnet/csharplang/blob/master/spec/documentation-comments.md#recommended-tags

Yes, if we add see href, we should also add see langword. VS IntelliSense does recognize those even though it doesn't of

[2018-01-25 06:09] eduard-malakhov commented on #4176
@mairaw regarding this

I can say that in my VS2017 IntelliSense reports no errors even on the following code.

[code]

![untitled](https://user-images.githubusercontent.com/6697045/35373086-1a6bb90e-01ae-11e8-8b19-5d521f87b402.png)

And even generates a documentation file.

[code]

Is it possible that IntelliSense does not validate documentation comments?

[2018-01-25 16:46] JeffWhitledge opened #4207 "System.IO.FileSystemInfo.LastWriteTimeUtc docs says nullable?"
The docs for System.IO.FileSystemInfo.LastWriteTimeUtc and several other related properties says:

However the data type of the properties are just DateTime, which does not admit a null value. Is this an error? What should the value be?

[2018-01-25 17:28] pkulikov opened #4208 "WPF intro page confuses with Microsoft Framework Assistant"
This [WPF intro](https://docs.microsoft.com/en-us/dotnet/framework/wpf/index) page confuses me with the note:

I think that note is not necessary on the welcome WPF page. Moreover, related information is covered [here](https://docs.microsoft.com/en-us/dotnet/framework/wpf/app-development/firefox-add-ons-to-support-net-application-deployment), see the end of the article.

If  that's the case, I'd b

[2018-01-25 17:50] mairaw commented on #4208
Thanks @pkulikov for your feedback. Yes, that is indeed weird. We should remove that.

For the 2015 thing, I'd just cut it out the version.

And I'd also remove the modern from there since now UWP is our "modern" option (see PR #4088)

[2018-01-25 20:18] #4208 closed

[2018-01-25 21:13] BillWagner opened #4214 "Document the rules and guidance in the CodeQuality Analyzer"
Related to #3908 and #4100.

The [Microsoft.CodeQuality.Analyzers](https://www.nuget.org/packages/Microsoft.CodeQuality.Analyzers) package and its analyzers should be documented as well. See [this comment](https://github.com/dotnet/docs/pull/4100#discussion_r161283105)

[2018-01-25 21:18] BillWagner opened #4215 "Document the rules and guidance in the NetCore.Analyzers package"
Related to #3908 and #4100

The analyzers that are part of the [Microsoft.NetCore.Analyzers](https://www.nuget.org/packages/Microsoft.NetCore.Analyzers) should be documented as well. See [this comment](https://github.com/dotnet/docs/pull/4100#discussion_r161283105) for more details.

[2018-01-25 21:19] BillWagner opened #4216 "Document the rules and guidance in the Text.Analyzers package"
Related to #3908 and #4100

The analyzers that are part of the [Text.Analyzers](https://www.nuget.org/packages/Text.Analyzers) should be documented as well. See [this comment](https://github.com/dotnet/docs/pull/4100#discussion_r161283105) for more details.

[2018-01-25 21:22] BillWagner opened #4217 "Document the aggregate FxCopAnalyzers package"
Related to #4214 #4215 #4216 and #4100

After the component analyzers are documented, we should add a page describing the aggregate [FxCop.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) package, and how it includes all the analyzers in the component package.

[2018-01-25 23:13] rpetrusha opened #4219 "Document issues, limitations, and workarounds for the C# interactive experience"
# Document issues, limitations, and workarounds for the C# interactive experience

# General

Because the new C# REPL is interactive and users are free to modify and extend existing examples in unexpected ways, we should provide some guidance about issues users are likely to encounter and how to handle them. We can then link to this topic from any topic that uses the REPL.

Some of the topics that

[2018-01-25 23:30] BillWagner commented on #4219
Tagging @LadyNaggaga for her thoughts.

[2018-01-25 23:54] LadyNaggaga commented on #4219
@rpetrusha

- do you have an example on docs for the topic no. 2.  In the latest version of [Try .NET](https://try.dot.net/docs) you can configures default usings to send when running source code.  Is what you are looking for or something else ?

-  CultureInfo.InvariantCulture is on the backlog right now.  But is something I am looking to add into the next sprint.

[2018-01-27 00:03] mairaw opened #4231 "Create VB version of the sample for the ConfigurationBuilder class"
PR #4205 added a sample in C# for the ConfigurationBuilder class. We should add the VB version.

[2018-01-27 01:34] mairaw commented on #4207
@JeremyKuhne, @pjanotti can you guys comment on this one? Thanks!

[2018-01-27 01:56] JeremyKuhne commented on #4207
If the file doesn't exist or if the underlying file system doesn't support the desired time type it returns the earliest Windows file time, the beginning of 1601, which is `DateTimeOffset.FromFileTime(0)`. The only additional special behavior is for CreationTime on Unix platforms that don't support creation (or "birth") time. In those cases you get back the oldest time between the last status chan

[2018-01-28 10:36] jinek opened #4235 "Mistake that static events are weak"
# Mistake that static events are weak

There is a mistake on this page: https://docs.microsoft.com/en-us/dotnet/api/system.windows.input.commandmanager.requerysuggested?view=netframework-4.7.1
It says "Since this event is static, it will only hold onto the handler as a weak reference" that is mistake.
Static events has only one difference from instance events - they are static.

[2018-01-29 01:01] svick commented on #4235
It's not a mistake. `RequerySuggested` is not a simple `static` `event`, it has [custom implementation](http://referencesource.microsoft.com/#PresentationCore/Core/CSharp/System/Windows/Input/Command/CommandManager.cs,39) that makes it a variant of weak event.

For example, consider this code:

[code]

If I press the button whose `Click` event is wired to the `WithGcButton_OnClick` handler, no tex

[2018-01-29 02:21] jinek commented on #4235
Ok, so probably mention of "static" should be removed, otherwise reader can think that every static event has weak implementation.

"Since this event is static, it will only hold onto the handler as a weak reference"
can be changed for example to
"This event uses WeakEventManager and does not hold a strong reference to the subscriber"

[2018-01-29 08:16] spiritedsnowcat opened #44161 "Documentation Block without XML (Missing from Spec)"
**Summary**
Alternative method of documentation without XML wasn't specified in the [new C# spec](https://github.com/dotnet/csharplang/blob/master/spec/documentation-comments.md), but exists in old spec and the current F# spec (which is still online and [can be linked to](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/xml-documentation)). This documentation style works in Visual

[2018-01-29 16:10] BillWagner opened #4241 "Explain our guidance on managing .NET Core SDK Installers"
Over time, users can have a large variety of .NET Core SDKs installed on  a single machine.

We need to explain which to keep installed, and which can be safely removed.

In summary, the .NET Core SDK is backwards compatible and the newest one on the box is used unless there is a global.json file that indicates another version of the SDK.

So, the short answer is:

- You need the one you want to r

[2018-01-29 16:56] CoolGoose opened #4242 "Disabling 'missing xml' notification"
I've initially opened [this ](https://github.com/aspnet/Docs/issues/5298) on the aspnet docs regarding the swagger integration.
The error itself is _Missing XML comment for publicly visible type or member_ and can easily be disabled with `<noWarn>1591</noWarn>` in csproj.

My question is.
1. Where should i create a new doc ? Visual Basic has a listing with [Error Messages](https://docs.microsoft.c

[2018-01-29 17:46] ViktorHofer commented on #4178
Good catch! Thanks Dan!

[2018-01-29 17:57] yupitomets opened #4243 "Can't run 'dotnet run' command out of the box"
# Issue Title

Can't run 'dotnet run' command out of the box

# General

I am trying to follow this tutorial. All previous steps were good, but "dotnet run" command give an error.

dotnet : It was not possible to find any compatible framework version
At line:1 char:1
+ dotnet run
+
    + CategoryInfo          : NotSpecified: (It was not poss...amework version:String) [], RemoteException
    + Full

[2018-01-29 18:03] #4183 closed

[2018-01-29 18:44] mairaw commented on #4168
Ping @cartermp @richlander - can I close this as a dupe of #2642 or do you think it's a different issue?

[2018-01-29 18:47] mairaw commented on #4242
So right now we cover this here: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-suppress-compiler-warnings

We are planning on having a topic that is a .NET Core SDK project reference which would cover the different elements of a project file which would include the `noWarn` as well. We're tracking that with issue #2642.

[2018-01-29 19:20] JRAlexander commented on #4243
@yupitomets, which tutorial?

[2018-01-29 20:34] BillWagner commented on #4103
Fixed in #4194

[2018-01-29 20:34] #4103 closed

[2018-01-29 21:24] KathleenDollard commented on #4241
Adding the dev team as they wanted to look at the language.
________________________________
From: Bill Wagner <notifications@github.com>
Sent: Monday, January 29, 2018 8:10 AM
To: dotnet/docs
Cc: Kathleen Dollard; Mention
Subject: [dotnet/docs] Explain our guidance on managing .NET Core SDK Installers (#4241)

Over time, users can have a large variety of .NET Core SDKs installed on a single machi

[2018-01-29 21:29] mairaw commented on #4241
A good place to add this would be this topic: https://docs.microsoft.com/en-us/dotnet/core/versions/ where we talk about versioning

[2018-01-29 21:41] mjrousos opened #4245 "Document ServerGarbageCollection for enabling Server GC"
Current documentation does not cover how to enable server GC in .NET Core apps.

It would be useful to explain the ServerGarbageCollection project file property, as well as comparing it to the app.config gcServer property since some developers may not realize that different properties are used for projects targeting net46x/net47 compared to netcoreapp.

[2018-01-29 21:43] mairaw commented on #4192
@eduard-malakhov thanks for your feedback. Yes, that is incorrect. We'll investigate to see all options where you can set those.

[2018-01-29 21:44] BillWagner commented on #4192
@eduard-malakhov Thanks for reporting this. I'm investigating with the team about the history of that sentence, and what was meant by adding it. I'll add comments here once I've gotten those answers.

[2018-01-29 21:48] JRAlexander opened #4246 "Broken link in compiler-element page"
# Broken link in compiler-element page

There is a broken link at the bottom of the compiler-element page.

## Issues with Existing Topics

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/compiler/compiler-element

Suggest reviewers

    - If you know someone who can provide feedback, use '@' to ask them to review.
@jralexander

[2018-01-29 21:48] mairaw commented on #4245
@mjrousos we do cover that property but in the mapping topic: https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj#runtimeoptions

We also have a proposed topic in issue #2642 which would cover all the SDK properties in .NET Core project. Would that cover what you're asking?

[2018-01-29 21:52] mjrousos commented on #4245
I think the mapping doc isn't sufficient since someone writing a new ASP.NET Core app (for example) might not look at migration docs.

I think #2642 may cover it as long as we're sure to include ServerGarbageCollection among the MSBuild properties documented.

[2018-01-29 21:56] mairaw commented on #4176
There were also some discussions around having the same docs available for VB. @KathleenDollard we'll need to sync to understand what are the options supported by VB.

[2018-01-29 21:57] KathleenDollard commented on #4241
One correction.

By the time 2.1.300 ships, we will not rollforward from 2.1.x to 2.1.300. We will keep within the boundaries of the release.

So:

2.1.x => 2.1.1, 2.1.9, 2.1.10…
2.1.100 => 2.1.100, 2.1.101, 2.110…
2.2.200 > 2.1.200, 2.1.201,…

From: Kathleen Dollard <Kathleen.Dollard@microsoft.com>
Date: Monday, January 29, 2018 at 1:24 PM
To: Bill Wagner <notifications@github.com>, dotnet/docs <

[2018-01-29 22:28] richlander commented on #4168
Yes, you can close this one as a dupe. The other topic seems to have more folks focussed on it.

I agree that we need to document this project type on its own w/o any migration nature to it. If we do add migration, I'd focus more on regular csproj to SDK style rather than p.j to this.

[2018-01-29 22:35] mairaw commented on #4168
Yes. The new topic would be standalone, with no migration focus.

[2018-01-29 22:35] mairaw commented on #4168
Duplicate of #2642

[2018-01-29 22:35] #4168 closed

[2018-01-29 23:14] mairaw commented on #4245
Yes, I know the mapping isn't sufficient @mjrousos but that's the only place where we explain that right now. There are a lot of requests coming for that topic so I'll try to make sure I review all issues that I'm closing as dupe when I'm working on that topic.

@ghogen who owns MSBuild docs now? I'm wondering if a lot of these requests we're getting is because the MSBuild reference doesn't cover

[2018-01-29 23:15] mairaw commented on #4245
Duplicate of #2642

[2018-01-29 23:15] #4245 closed

[2018-01-29 23:26] mairaw commented on #4241
That's good to know @KathleenDollard. We need to create an issue for updating that topic too for the versioning rules.

[2018-01-30 12:48] CoolGoose commented on #4242
hi @mairaw thanks for the quick reply. Should i wait until that's merged and see then if it has 1591 or is it a brach i can do a pull request ?

[2018-01-30 16:10] #4231 closed

[2018-01-30 16:11] #4181 closed

[2018-01-30 16:13] #4235 closed

[2018-01-30 16:29] rpetrusha commented on #4129
This should have been closed when #4229 was merged. Closing....

[2018-01-30 16:29] #4129 closed

[2018-01-30 20:26] ChrSteinert opened #4256 "F# Discriminated Unions | Code example for struct DUs does not compile"
# Code example for struct DUs does not compile

On the page [https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/discriminated-unions#struct-discriminated-unions](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/discriminated-unions#struct-discriminated-unions) for F#, the code example

[code]

will not compile. It misses names for the fields.
To fix this, field name

[2018-01-30 22:20] mairaw commented on #4242
@CoolGoose maybe we're talking about different things. The topic on #2642 would just cover the nowarn tag and how you disable warnings.

1591 is covered separately here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591

Is that the topic you're looking for?

[2018-01-31 01:19] #3807 closed

[2018-01-31 06:33] #4256 closed

[2018-01-31 09:56] CoolGoose commented on #4242
@mairaw #2642 is the one. Regarding https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591 maybe just have a notice telling people how to disable it once #2642 is ready ?

[2018-01-31 15:51] matthew-a-thomas opened #4269 "dotnet-test.md and the definition of a unit test"
[dotnet-test.md](https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-test.md) says (emphasis/brackets mine):

Isn't it easy to think that `dotnet-test.md` is trying to give a definition of a unit test? And of course, it would not serve as a good definition, otherwise there would be no such thing as a unit test outside of .Net.

Instead, shouldn't the above quoted say something like t

[2018-01-31 23:03] #4159 closed

[2018-01-31 23:11] #3946 closed

[2018-02-01 00:24] rpetrusha commented on #4178
This seems to apply not only to \k\<n>, but also to \n.

[2018-02-01 03:22] guardrex commented on #3175
@mairaw I was just looking over the templates in the [dotnet/dotnet-template-samples](https://github.com/dotnet/dotnet-template-samples) because I was about to ask over there if they need/want help with consistency.

WRT the topic over here, the following few entries *are* a bit more real-world than what they'll end up with over there (e.g., `MyProject.01.Sample.CSharp`). It just boils down for th

[2018-02-01 16:26] rpetrusha opened #4280 "Describe formats of paths on Windows systems"
# Describe formats of paths on Windows systems

.NET Core and versions 4.6.2 and later of the .NET Framework offer long path support. But although the documentation notes the compatibility switch for disabling long path support, it does not document valid paths.

The topic can include information from the discussion in PR #4251, as well as the contents of @JeremyKuhne's blog post at https://blogs.

[2018-02-01 20:02] rpetrusha opened #4284 "Correct description of PathTooLongException"
# Update description of PathTooLongException

## General

In member documentation, almost all descriptions of the condition under which PathTooLongException is thrown mention the 260 character limit in the .NET Framework 4.6.1 and earlier versions. This needs to be changed, since the .NET Framework supports long paths. For [Directory.GetParent](https://review.docs.microsoft.com/dotnet/api/system.i

[2018-02-01 20:07] rpetrusha opened #4285 "List complete set of exceptions for methods calling into GetFullPath"
# List complete set of exceptions for methods calling into GetFullPath

## General

The API reference does not in all cases provide a complete list of exceptions of methods that call into GetFullPath. A complete list is provided in the [Directory.GetParent](https://review.docs.microsoft.com/en-us/dotnet/api/system.io.directory.getparent) method. The same exception information should be incorporate

[2018-02-02 01:46] ovgolovin opened #4291 "This example only works because there is a mistake and instead of string hash code you take comparator object hash"
https://github.com/dotnet/docs/blob/c50b3e328998b65ec47efe6d7457b36116813c77/samples/snippets/csharp/VS_Snippets_CLR_System/system.Collections.Generic.HashSet_ExceptWith/cs/source2.cs#L89

[code]

[2018-02-02 18:44] rigdern opened #4297 "Some text in System.Threading.Timer is clipped"
Relevant document: [System.Threading.Timer](https://github.com/dotnet/docs/blob/aca8d4895dad26cb95af2e3aad03bb7f549d0747/xml/System.Threading/Timer.xml)

I'm seeing text in "Tip" under the "Remarks" section being clipped. Here's a screen shot:

![image](https://user-images.githubusercontent.com/199935/35749289-f6873564-0805-11e8-9a83-5f8dfbb1eed7.png)

Adam Comella
Microsoft Corp.

[2018-02-02 21:06] #3947 closed

[2018-02-02 21:48] mairaw commented on #4297
Thanks @rigdern for the feedback. @adkinn can you take a look at this issue? I can repro this if I resize my window a bit.

[2018-02-04 01:57] user135711 opened #4303 "Thread.Suspend, Garbage Collection, and Safe Points needs to be updated since Suspend is deprecated"
# Thread.Suspend, Garbage Collection, and Safe Points needs to be updated since Suspend is deprecated

Thread Suspend has been [deprecated ](https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.suspend) because it's deadlock prone according to the documentation. The [docs page](https://docs.microsoft.com/en-us/dotnet/standard/threading/thread-suspend-garbage-collection-and-safe-poin

[2018-02-04 02:01] user135711 opened #4304 "Stackoverflow documentation needs to be updated to reflect that it's been retired."
# [Stackoverflow documentation shutdown](https://stackoverflow.com/documentation)
The page [Stack Overflow Documentation for Microsoft Developers](https://docs.microsoft.com/en-us/teamblog/stackoverflow-documentation-for-microsoft-developers) needs to be updated to reflect that Stackoverflow documentation has been retired. Maybe a link to the unmaintained archive would be ok, but it's only availab

[2018-02-04 18:56] marcinsmialek opened #4305 "Task.Wait docs don't tell what happens to Task after timeout"
The Task.Wait methods which accept timeout as a parameter, can complete before the Task itself completes. [The docs](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.wait) don't tell explicitly what happens to the Task itself in such scenario, which I observed to lead to some confusion.

Would it be ok to add an information that "the Task itself is not stopped" at the end of

[2018-02-05 13:29] ChrisMaddock opened #4311 "Thread Exception notice confusing"
https://docs.microsoft.com/en-gb/dotnet/api/system.windows.forms.application.threadexception?view=netframework-4.7

On the `Application.ThreadException` page - there is the below notice:

That confused me - surely the event will be disposed when the application ends anyway? Or is this suggesting that some resources may be kept hold of, once my application has already terminated?

I looked at the c

[2018-02-05 17:24] mairaw commented on #3893
The same link shows up in other files too: https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=http%3A%2F%2Fgo.microsoft.com%2Ffwlink%2F%3FLinkId%3D330378&type=

[2018-02-06 00:52] rpetrusha opened #4318 "Add clarity to .NET Framework installation for developers"
# Add clarity to .NET Framework installation for developers

## General

The [Install the .NET Framework for Developers](https://docs.microsoft.com/en-us/dotnet/framework/install/guide-for-developers) could benefit from some reformatting and in some cases rewriting to clarify existing content or make it more noticeable.

See PR #2968.

/cc @mairaw

[2018-02-06 02:05] #3893 closed

[2018-02-06 02:35] #3945 closed

[2018-02-06 08:01] mairaw opened #4325 "Add remarks for EventCounter APIs"
Vance's comment for the F-level API docs:
https://github.com/dotnet/docs/pull/3262#issuecomment-333694323

There is a tutorial here

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md

Which gives a quick example. (There are only two APIs the constructor and WriteMetric API). The EventCounter functionality is meant to be an extension o

[2018-02-06 13:58] wstaelens opened #4326 ""Add-ins and Extensibility" links not working"
https://docs.microsoft.com/en-us/dotnet/framework/add-ins/index

The links in this section are not working:

for example clicking the "see Add-in Discovery." link results in:
https://msdn.microsoft.com/library/5d268dde-11df-4c4d-a022-f58d88bbc421

same for other links on that page.
(possible that other links also don't work, didn't click on every link.)

[2018-02-06 14:14] wstaelens commented on #4326
same for https://docs.microsoft.com/en-us/dotnet/framework/add-ins/walkthrough-create-extensible-app

and a lot of other pages... 😞

[2018-02-06 15:20] ChrisMaddock opened #4327 "Missing words on FileLoadException API page"
![image](https://user-images.githubusercontent.com/4837132/35867228-2df0f7e4-0b51-11e8-8c19-7781166b1296.png)

Something's missing here. I'd fill in the blanks, but I'm not sure what it's meant to be! 🙂

https://docs.microsoft.com/en-us/dotnet/api/system.io.fileloadexception?view=netframework-4.7.1

[2018-02-06 15:26] rpetrusha commented on #4327
Thanks for finding this, @ChrisMaddock. We'll track down the missing text.

[2018-02-06 23:14] mairaw commented on #4326
Yes, we're slowly fixing those links. We have tons of those. We have issue #2037 keeping track of reviewing these msdn links.

[2018-02-06 23:18] mairaw commented on #4311
Thanks for the feedback @ChrisMaddock. @Tanya-Solyanik can you comment on this one?

[2018-02-06 23:36] Tanya-Solyanik commented on #4311
remarks highlight is a valid concern about static event handlers, perhaps this is a generic text for all static events? The code sample just does not reflect specific scenario where the leak might happen. It could be a case of multiple AppDomains, or a case when an object that handles `Application.ThreadException` has a shorter live time than the application, for example a dialog, and you would wa

[2018-02-07 00:03] rpetrusha commented on #4291
This was fixed by #4295. Closing this PR.

[2018-02-07 00:03] #4291 closed

[2018-02-07 00:13] mairaw commented on #4305
Thanks @marcinsmialek for your feedback. @stephentoub @kouvel can you clarify what happens to the task after the timeout elapses and the task didn't finish? Thanks.

[2018-02-07 00:14] mairaw commented on #4326
Duplicate of #2037

[2018-02-07 00:14] #4326 closed

[2018-02-07 00:18] mairaw commented on #4304
@dend can you update the team blog to talk about that SO docs were shut down?

[2018-02-07 00:30] mairaw commented on #4297
Filed internal issue to track this: 1179401

[2018-02-07 00:48] stephentoub commented on #4305
The task is observably unaffected by the Wait, regardless of whether the Wait times out.

[2018-02-07 00:58] mairaw commented on #4269
Thanks for the feedback @matthew-a-thomas. We'll get that improved.

[2018-02-07 01:01] mairaw commented on #4243
@yupitomets since we haven't heard back from you, I'll be closing this issue. If you can provide more information about which tutorial you were following, we can reopen this issue and try to help you. Thanks.

[2018-02-07 01:01] #4243 closed

[2018-02-07 11:30] wstaelens opened #4333 "FontCapitals enum .net framework versions missing"
https://docs.microsoft.com/nl-be/dotnet/api/system.windows.fontcapitals?view=netframework-4.7.1
vs.
https://msdn.microsoft.com/en-us/library/system.windows.fontcapitals(v=vs.110).aspx

.net framework version is available since 3.0 but on docs it only starts with "4.5, 4.5.1, 4.5.2, 4.6, 4.6.1, 4.6.2, 4.7, 4.7.1". The 3.0 is not included. Which is important information.

(+ the msdn version has emp

[2018-02-07 12:36] ChrisMaddock opened #4334 "Questionable sample of of throwing Exceptions"
https://docs.microsoft.com/en-us/dotnet/standard/exceptions/how-to-explicitly-throw-exceptions

This page states:

The example code however, then _loses_ information with the exception it throws, by wrapping the existing FileNotFoundException inside another FileNotFoundException - which I believe would loose the FileName property, any other properties set by the system by default, and any localisa

[2018-02-07 14:06] #3785 closed

[2018-02-08 03:40] #3081 closed

[2018-02-08 20:18] jhudsoncedaron opened #4343 "Documentation for FileInfo.Exists and File.Exists is misleading"
Documentation for FileInfo.Exists and File.Exists is misleading

File.Exists "returns" currently reads:

true if the caller has the required permissions and path contains the name of an existing file; otherwise, false. This method also returns false if path is null, an invalid path, or a zero-length string. If the caller does not have sufficient permissions to read the specified file, no exception

[2018-02-08 20:25] jhudsoncedaron commented on #4343
Please note the XML comments as viewed by Visual Studio also need to be updated.

[2018-02-08 20:55] JeremyKuhne commented on #4343
The key thing is that the API returns false if the file doesn't exist **or** if it is unable to determine the file's status (which can be a number of reasons).

A common mistake should be called out, and that is making assumptions based on the results of this or _any_ other I/O API is dangerous. I/O is transient, and as such you _always_ need to catch errors when attempting to access or modify fil

[2018-02-08 22:52] doctordns commented on #3620
Just wondering if there was any progress on this?

[2018-02-09 05:16] EisenbergEffect commented on #3620
@doctordns From a publishing platform perspective, I can say that we understand the issues well and plan to address them. However, at the moment, we don't have the resources to do so. I have raised the priority in our backlog and hope that we can move this forward within a few sprints.

[2018-02-09 09:35] doctordns commented on #3620
I appreciate that resources are not infinite. This issue is something I can't fix (Only you guys can!). It is suboptimal that the language picker stuff is not automagic (just add any sample and it just works). But such is life.

I can wait till the fix, but as I plan to add more samples, the need for this fix is likely to grow.

Of course, my inner PowerShell geek loves the idea that you see the P

[2018-02-09 13:55] Styxxy opened #4349 "System.Uri constructor exceptions formatting error"
On the Uri constructor page, constructor (uri, string) and (uri, uri) there is a formatting issue. This happens for many different .NET versions.

Urls:
* https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=netframework-4.7.1#System_Uri__ctor_System_Uri_System_String_
* https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=netframework-4.7.1#System_Uri__ctor_System_Uri_Sy

[2018-02-09 14:05] Styxxy opened #4350 "System.Uri constructor overload : clarification in documentation"
In System.Uri class, when constructing with parameter "base uri" and "relative uri", it should be clarified that any "relative" parts of the base uri will be not included.

Example:
[code]

dotnetfiddle: https://dotnetfiddle.net/2x6rH8

[2018-02-09 14:14] svick opened #4351 "Document when MemoryStream.TryGetBuffer returns false"
When I have a `MemoryStream` and want to access its underlying array as `Span<byte>`, one possible approach is:

[code]

As far as I can tell, this is safe with the current implementation, even though I'm not checking the return value of `TryGetValue` to see if it succeeded.

But If I relied only on the documented behavior of `TryGetBuffer`, I would have to write:

[code]

It's slightly more code,

[2018-02-09 15:04] Styxxy commented on #4350
If the uri ends with "/" it will append the relative uri, otherwise it will replace the last part.

[code]

See also dotnetfiddle: https://dotnetfiddle.net/uRVcJ7

[2018-02-09 15:13] jmathew opened #4352 "Are the runtime and SDK versions supposed to be the same?"
This article suggests that the runtime and the SDK would share the same version number starting from net core 2.0:
https://docs.microsoft.com/en-us/dotnet/core/versions/

However if you go to the downloads page you can clearly see separate versions.

![image](https://user-images.githubusercontent.com/1046234/36034339-ce296020-0d81-11e8-9b18-1d4b259fd0bd.png)

I believe this needs some clarificatio

[2018-02-11 10:31] pkulikov opened #4356 "System.Numerics needs clarification that points/vectors are treated as rows"
@geoeo in the #4345 PR has raised an issue that current documentation of [System.Numerics](https://docs.microsoft.com/en-us/dotnet/api/system.numerics?view=netcore-2.0) namespace doesn't say if an individual point/vector is treated as a row or as a column.

That knowledge is essential when we want to chain two non-commutative transformations. Let's say two transformations are defined by matrices `

[2018-02-11 21:09] pkulikov opened #4358 "Suggestions to improve style guide"
I think there are several minor improvements for the current [style guide](https://github.com/dotnet/docs/blob/master/styleguide/template.md):
- **Metadata** section can mention when **ms.date** should be or shouldn't be updated.
- **Links** section should describe how to reference [https://docs.microsoft.com/en-us/](https://docs.microsoft.com/en-us/) pages that don't belong to dotnet/docs repo. I

[2018-02-12 15:48] BillWagner commented on #3274
I'm pushing this back into the backlog.  I'm starting work on planning that may change the tasks here somewhat. It will resurface once that work is done.

[2018-02-12 16:18] nandkishorenair opened #4359 "CacheDependency on CacheKeys needs a remark on non-existent keys"
# Missing remarks on cache keys
The CacheDependency [constructor ](https://docs.microsoft.com/en-us/dotnet/api/system.web.caching.cachedependency.-ctor?view=netframework-4.7.1#System_Web_Caching_CacheDependency__ctor_System_String___System_String___)needs to have a remark on CacheKeys, similar to the one for file names.

Basically, when creating the file dependency, the dependency can still “work”

[2018-02-12 16:26] nandkishorenair commented on #4359
Adding the below to the remarks section for the constructor, after the remarks on FileDependency, should suffice:

_CacheKey dependency does not work the same way. If the CacheKey does not exist at the time of an insert, the insert will fail. Note that there is no exception thrown for this scenario._

[2018-02-12 19:56] rpetrusha commented on #4356
This sounds like a good plan, @pkulikov. We'll close PR #4345.

[2018-02-12 20:46] rpetrusha opened #4364 "Cross-platform development section requires revision"
# Cross-platform development section requires revision

## Issues with Existing Topic

The [Developing for Multiple Platforms with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/) topic doesn't list .NET Standard as an option, and the [Portable Class Library](https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/cross-platform-development-with-the-por

[2018-02-12 21:08] mairaw commented on #4333
Thanks @wstaelens for your feedback. I'll add @dend to this discussion to see if we could have the same behavior as in MSDN for the version info.  The reason this hapopens is because on docs we're only showing the versions we're reflecting against vs. the whole history,

For the empty examples on MSDN, we won't fix that, since we'll be redirecting to docs pretty soon.

[2018-02-12 21:23] mairaw commented on #4343
Thanks @jhudsoncedaron and @JeremyKuhne. The way I see this, we need to update the API docs to change the description/remarks and some of the IO conceptual articles to explain the transient nature of I/O operations. The IntelliSense gets updated with the content fixes we make here on a certain cadence.

[2018-02-12 21:23] BillWagner commented on #4334
@ChrisMaddock Thanks for adding this.

/cc @terrajobst @weshaggard for their input

In my opinion, this topic needs quite a bit of updates:

The title is "How to: Explicitly throw exceptions".  The only example shows a re-throw, and as Chris mentions, it's not a good example of catching an exception, and then re-throwing a new exception with more information. This example re-throws the same type o

[2018-02-12 21:27] jhudsoncedaron commented on #4343
@mairaw The way I ended up caring about this was a transient network failure causing a spurious `false` from `File.Exists()` causing huge problems in production and to me that's what needs documenting the most.

[2018-02-12 21:28] mairaw commented on #4349
Thanks @Styxxy. @rpetrusha will work with you on your PR to get this fixed.

[2018-02-12 21:32] mairaw commented on #4351
Thanks @svick. @JeremyKuhne, @pjanotti, @stephentoub can you guys comment on this one?

[2018-02-12 21:36] mairaw commented on #4352
Thanks for your feedback @jmathew. This has changed again and the version topic needs to be updated.

@KathleenDollard, do we have the new versioning proposal in a public repo already?

[2018-02-12 21:42] mairaw commented on #4358
Those are great suggestions @pkulikov. I wasn't even aware we published the Style guide publicly.

Our team is also working on an [official contributor guide](https://docs.microsoft.com/en-us/contribute/), so that should replace our internal style guide, once we feel we have all the info we need there.

For the Links to other topics inside docs.microsoft.com not in this repo, we're still trying to

[2018-02-12 21:44] mairaw commented on #4359
Thanks @nandkishorenair. @Rick-Anderson @scottaddie do you guys wanna take a look at this one?

[2018-02-12 21:47] mairaw commented on #4364
Duplicate of #2724

[2018-02-12 21:47] #4364 closed

[2018-02-12 21:50] mairaw commented on #4014
@terrajobst @GrabYourPitchforks @richlander pinging again

[2018-02-12 21:54] mairaw commented on #3943
Tagging @KathleenDollard to confirm if the syntax has been finalized.

[2018-02-12 22:26] pkulikov commented on #4358
@mairaw thanks a lot for that link to the contributor guide!
It looks this issue might be closed as soon as README of this repo contains the link to that guide :).

[2018-02-12 22:28] BillWagner commented on #4358
@pkulikov I think you're right.  Would you like to submit a PR for that, or would you rather we update it?

[2018-02-12 22:35] BillWagner commented on #3277
Moving to the backlog for now as part of the larger C# Guide re-organization

[2018-02-12 22:49] weshaggard commented on #4334
I agree that this topic should be cleaned up. I like your 3 scenarios @BillWagner.

[2018-02-12 23:03] rpetrusha opened #4365 "Add detail in HttpClient documentation"
# Add detail in HttpClient documentation

See PR #4330 for background information.

## Issues with Existing Topics

The [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient) documentation needs to be updated to address issues that are not discussed or differences between .NET implementations. These include:

- The connection limit, on a per-implementation basis.
- Is

[2018-02-12 23:18] pkulikov commented on #4358
@BillWagner I'm fine with making PR. Let's agree on the scope. I'm thinking, maybe, of too many changes as, to not confuse contributors, the local guides should be cleaned up as soon as the link to official one is published:
1. Add the link to the official contributor guide to the README file. That seems that @mairaw thinks that that guide is not yet complete. Even being not complete, the guide co

[2018-02-12 23:58] mairaw commented on #4358
Yes, I see some issues with that guide.

For example, xref links are covered here (https://docs.microsoft.com/en-us/contribute/ops-crr/openpublishing/docs/partnerdocs/gfm?toc=%2Fcontribute%2FTOC.json&bc=%2Fcontribute%2Fbreadcrumb%2Ftoc.json#xref-links) and not in the links section. It has wrong guidance (wrong query param name) and it's incomplete (it doesn't cover the need for encoding).
And why

[2018-02-13 00:01] mairaw commented on #4358
I know there are some folks working on that contributor guide right now, so we just need to make sure it covers everything we need before we shut down our side. /cc @wadepickett

[2018-02-13 02:03] mairaw commented on #4343
Thanks for the example @jhudsoncedaron. That helps.

[2018-02-13 03:28] user135711 opened #4367 "C# section Thread Pool Parameters and Return Values refers to VB concepts"
In the C# programming guide the subsection on [Thread Pool Parameters and Return Values](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/threading/thread-pooling#thread-pool-parameters-and-return-values) refers to `sub`'s and `ByVal` which is confusing. The objects in c# are passed analogously to VB ByVal so the method described by the entire topic is no different from th

[2018-02-13 04:20] user135711 opened #4370 "The Topic "Implement Interface conventions" swaps naming conventions used everywhere else."
In the second Example of the page [How to: Publish Events that Conform to .NET Framework Guidelines (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/events/how-to-implement-interface-events), the name of the delegates should be draw, not OnDraw, the publisher method Draw should be named OnDraw and the subscriber method d_OnDraw should be d_Draw. It's the exa

[2018-02-13 07:41] wstaelens commented on #4333
well it is very very very useful to see when a function/class is initially supported. especially when customers do an upgrade and you get a crash that we directly see a possible reason :smile:

[2018-02-13 15:29] steveharter commented on #3818
Yes the `DOTNET_MULTILEVEL_LOOKUP` was added about a year ago for the 2.0 release - https://github.com/dotnet/core-setup/pull/1241

The multi-level feature is documented at https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md however that specific variable is not documented there.

[2018-02-13 16:05] #4327 closed

[2018-02-13 16:06] BillWagner commented on #4334
@ChrisMaddock Do you want to submit a PR following the thoughts in my comment above? If that's more than you want to take on, we'll add it to our backlog.

[2018-02-13 18:20] spottedmahn opened #4379 "Add Notes about Async/Await All the Way Up"
## Issues with Existing Topics

On the [Asynchronous Programming page](https://docs.microsoft.com/en-us/dotnet/csharp/async), there is no content about using async/await all the way through the call stack.  IMHO, this is an important concept and not everybody might understand this.

The topic is discussed in [this Stack Overflow post](https://stackoverflow.com/a/29809054/185123).

## Requests for

[2018-02-13 18:26] KathleenDollard commented on #4352
We have the proposal public here: https://github.com/dotnet/designs/pull/29

I don't think we have an announcement yet.
[https://avatars2.githubusercontent.com/u/5844318?s=400&v=4]<https://github.com/dotnet/designs/pull/29>

Add plan for .NET Core SDK version numbers by ...<https://github.com/dotnet/designs/pull/29>
This repo is used for reviewing new .NET designs.
github.com

____________________

[2018-02-13 18:57] mairaw commented on #4352
Thanks @KathleenDollard. I was looking for that content in the folders and not in the form of a PR.

Now, the SDK and runtime versions are not unified and are not matching the first and second positions. I'll add a quick note for now to this topic to explain this is not valid anymore for 2.1 SDK. But I'm not sure how to explain this interim version that is not unified but also doesn't reflect the

[2018-02-13 19:33] KathleenDollard commented on #4352
@mairaw I want to be sure I understand your comment:

2.0.x / 2.0.x easy to talk about
2.0.x / 2.1.x interim, very hard to explain
2.1.x / 2.1.xxx long term, hopefully we can explain

It would help if we had a common way to explain that interim.

The truth is we thought we could do semantic versioning for runtime and SDK independently because we release independently. That failed because of use of

[2018-02-13 20:37] KathleenDollard commented on #4352
Can you find a way to explain that we recognized that it wasn't working?

[2018-02-13 20:59] ChrisMaddock commented on #4334
@BillWagner Not sure how soon I'll get round to it, but sounds like fun! 😄 Will see what I can do.

[2018-02-13 21:12] pkulikov opened #4383 "Mentioning .NET Framework in .NET Guide articles"
As [.NET Guide](https://docs.microsoft.com/en-us/dotnet/standard/) articles are expected to be applicable to .NET Core and .NET Standard along with .NET Framework (is it correct assumption?), a lot of '.NET Framework' mentions should be replaced with '.NET'. For example, when [we talk about generic collections](https://docs.microsoft.com/en-us/dotnet/standard/generics/collections) or about [generi

[2018-02-13 22:19] viertaxa opened #4386 "Add information on sealing for signtool.exe page"
The page for [SignTool.exe])https://github.com/dotnet/docs/blob/master/docs/framework/tools/signtool-exe.md) is missing information for activities related to sealing a PE file.

Specifically, the following flags are missing:
/seal
/itos
/force
/nosealwarn

Additionally, the tool is missing online documentation for several other flags and workflows. As someone working on incorporating Authenticode

[2018-02-13 23:35] rpetrusha opened #4388 "Review and revise code in Handling and Raising Events"
# Review and revise code in Handling and Raising Events

## General

Because of a change to the C# code (from PR #4368) and the Visual Basic code (PR #4377), the event handling code in this topic is inconsistent and needs to be reviewed and modified.

## Suggested reviewers

@BillWagner

[2018-02-14 00:43] JRAlexander commented on #2702
I think this is handled by https://docs.microsoft.com/en-us/dotnet/core/docker/building-net-docker-images. @BillWagner, agree?

[2018-02-14 00:56] JRAlexander opened #4390 "[Project] .NET Core 2.1 release"
This is a meta-issue for the [.NET Core 2.1](https://github.com/dotnet/docs/projects/34) project.

Comment below to suggest new content, or updates to existing content.

Scenarios:
- Deployment
   - [ ] .NET Core Global Tools
- Porting
   - [ ] Windows Compatibility Pack Overview
      - [ ] Guidance
          - [ ] Cross Platform
      - [ ] Getting Started and Tutorials
- Platform
   - Building

[2018-02-14 01:18] mairaw commented on #3818
Thaks @steveharter. I'm adding the  DOTNET_MULTILEVEL_LOOKUP variable to the docs with PR #3822.

And what about the other env variables that I listed [above](https://github.com/dotnet/docs/issues/3818#issuecomment-347732803)? Any of those should be documented?

/cc @mishra14 @johnbeisner

[2018-02-14 05:19] ocdtrekkie opened #4392 "Padding Strings should specify what it does with strings shorter than the Int32"
So, I had an issue where I was getting an exception with a Substring function, presumably because I surmised sometimes the string is shorter than I expected. This led me to want to _pad_ my strings, but wanted to make sure I wouldn't find any unexpected behavior and I found myself on PadRight's documentation, here: https://msdn.microsoft.com/en-us/library/system.string.padright(v=vs.110).aspx?f=25

[2018-02-14 07:14] pkulikov commented on #4383
Closing this one as it's sub-issue of #2028

[2018-02-14 07:14] #4383 closed

[2018-02-14 15:31] BillWagner commented on #2702
I think all the information is in the doc you reference. However, I don't think the information is structured to make it clear to a reader that it's got the information they seek.  I'd recommend adding a new introduction that introduces the scenario, and uses the phrase "lift and shift" to explain that the reader will learn how to take an existing application, migrate to docker and run it in a con

[2018-02-14 16:30] svick opened #4399 "Downloaded PDF handles multiline links incorrectly"
When I download PDF for docs, the PDF has incorrect rectangles for links that span two different lines. For example, consider this text from page 25 of the PDF:

![](https://user-images.githubusercontent.com/287848/36214951-0407b99e-11ab-11e8-882d-a24b3a629be8.png)

When I click on any non-link text in this paragraph (e.g. the word "frameworks"), it's treated as if I clicked on the WPF link. I sus

[2018-02-14 18:54] JRAlexander opened #4400 "[Feature] Span<T>"
# Span\<T\>
This topic will address how to work with Span<T> and related types. Span<T> is a new type we are adding to the platform to represent contiguous regions of arbitrary memory, with performance characteristics on par with T[]. Its APIs are similar to the array, but unlike arrays, it can point to either managed or native memory, or to memory allocated on the stack.

*Still Needed:*
 - [ ] C

[2018-02-14 22:21] stephentoub commented on #4351
I think it's fine to be clear in the docs about what conditions will lead to TryGetBuffer returning true vs false.

[2018-02-14 22:22] BillWagner commented on #652
Assigning P2 as PR #1434 is merged, which fixes some of the concerns.

[2018-02-14 22:24] BillWagner commented on #654
Assigning P2 to this issue.

I've found I can usually work around a lack of a connection, once packages are restored.  If you want to raise the priority, go ahead @richlander

[2018-02-14 22:25] BillWagner commented on #662
@tdykstra @rachelappel  Do we now have something for this in the Azure repo? If so, let's close this.

[2018-02-14 22:30] BillWagner commented on #714
/cc @JRAlexander

Do we have this information already as part of the Docker docs? Of so, can we close this?

[2018-02-14 22:34] BillWagner commented on #739
I'm going to close this.

The .csproj format does not write assembly version information into the project file. The new product design means this doesn't apply.

@LukaszDev if you have any questions, please reopen with a comment.

[2018-02-14 22:34] #739 closed

[2018-02-14 22:51] tdykstra commented on #662
What I said in the Dec 16, 2016 comment still applies -- better fit for the Azure repo ... Easy auth is not framework-specific.

We have something like this on our backlog. We do have something now but it needs work.

cc/ @cephalin @ggailey777

[2018-02-14 22:52] BillWagner commented on #662
Closing per @tdykstra

[2018-02-14 22:52] #662 closed

[2018-02-15 00:25] mairaw commented on #1333
This issue seems to be fixed with PR #2834. @cartermp can you confirm?

[2018-02-15 00:29] richlander commented on #674
Ah ... I _think_ I meant this:

- "Hey, you just setup a new repo on GH/VSTS".
- "You probably want more than just idle C# files in source control."
- "You probably want builds and unit test results and maybe even Docker images. Either on every commit or nightly or both."
- "Email notifications saying something is happening would be good, too."
- "You might think you are asking too much. I've got