[2019-11-14 02:26] GrabYourPitchforks commented on #15845
It occurs to me that thinking of `Rune` as "sometimes a single `char`, sometimes a surrogate pair" might be a useful simplification. I don't quite want to say that in the document because it's perhaps a bit _too_ simplistic and loses a lot of the nuance. But maybe even as an oversimplification it makes this type more approachable by a wider audience?

[2019-11-14 03:47] Thraka commented on #12693
This was fixed in passing by someone. No HTTPS is in the article or the previous article.

[2019-11-14 03:47] #12693 closed

[2019-11-14 06:06] MichaelLogutov commented on #12486
Changing from `dotnet publish -c Release -o out` to `dotnet publish -c Release -p:PublishDir=out` worked for me.

[2019-11-14 08:47] epic2001 commented on #15836
Thank you! These are my needs:
We develop some custom web portals for our customers.
But we also have some common "modules" (workflow editor, org charts, etc.).
We would like to develop these modules as Razor Class Library and "attach"/update to the main portal without need to rebuild the main portal application.

[2019-11-14 13:52] andrx commented on #13365
`IsPublishable` worked for me. thanks!

[2019-11-14 16:37] Thraka commented on #15845
@GrabYourPitchforks I'm really interested in this. I understand very basic concepts of unicode, mostly to avoid printing the wrong string now and again. I've wanted to understand how to use and interact with unicode and I guess the new rune stuff.

[2019-11-14 17:04] ernest-morariu opened #15849 "Why all the delegates are multicast?"
"The original design considered making a distinction between delegates where only one target method could be attached and invoked, and delegates where multiple target methods could be attached and invoked. That distinction proved to be less useful in practice than originally thought."

I think it's worth to provide more details here. At least conceptually, a multicast delegate that returns some va

[2019-11-14 18:21] Thraka commented on #15834
Unmanaged types don't need garbage collection as they inherently disappear as the object owning them is garbage collected. This is why when an unmanaged type is used to track an unmanaged resource (such as a file handle) you have to implement your own cleanup, but you're not cleaning up the unamanged type, you're cleaning up the unmanaged resource.

For example, a class:

[code]

In this example w

[2019-11-14 18:35] Youssef1313 commented on #14825
A note when someone is working on this.
The output of the utility includes: `samples/snippets/fsharp/getting-started` which is used [here](https://github.com/dotnet/docs/blob/master/docs/fsharp/get-started/get-started-with-visual-studio-for-mac.md). I couldn't review the code to know what caused it to output such a false positive. but this should be checked because there might be other false posit

[2019-11-14 19:12] gewarren opened #15850 "Document config knobs for .NET Core"
Document supported run-time configuration knobs for .NET Core apps. Include runtimeconfig.json and environment variables for each, as well as the corresponding .NET Framework setting (app.config). Also include the first version it was available in.

Reference:

- https://github.com/dotnet/coreclr/blob/ed5dc831b09a0bfed76ddad684008bebc86ab2f0/src/vm/eeconfig.cpp
- https://github.com/dotnet/coreclr/

[2019-11-14 20:14] donwcook opened #15852 "Bug in Balance property"
There is a bug in this code. The balance is initialized to 0, but it should be initialized to initialBalance (assuming that was stored in another property called initialBalance when the account was constructed).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID

[2019-11-14 20:24] donwcook commented on #15852
This is addressed in the constructor later in the article.

[2019-11-14 20:24] #15852 closed

[2019-11-14 22:52] m-pollack commented on #10495
Hey Microsoft we have old solutions we are trying to maintain and or update
we sill need to be able to get to these old frameworks to do so

I know you all think you know how the entire world works but if you did you would not be on the way to a junk stock while apple surpassed you

[2019-11-14 22:54] Grand-Poobah commented on #9209
microsoft employee?

[2019-11-15 00:48] #15560 closed

[2019-11-15 01:08] akimusume commented on #15834
Thanks a lot. It's really helpful. 👍👍

[2019-11-15 05:26] Thraka commented on #15841
Hello!

Sorry to say, but this repository is not the right place to ask that question, this is repo is for documentation problems. I think you will have a better chance of getting your question answered if you post it on a forum such as [StackOverflow](https://stackoverflow.com/).

I'm going to close the issue.

[2019-11-15 05:26] #15841 closed

[2019-11-15 05:28] Thraka commented on #15849
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-11-15 08:31] tmds opened #15857 "Improve 'Create a .NET Global Tool' doc"
I've read https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-create.

I have two questions after reading this which aren't covered by the document:

* If I want the tool to support multiple TargetFrameworks, e.g. .NET Core 2.1 and .NET Core 3.0. Should I add these `TargetFrameworks`? Or is there an automatic roll forward for tools?
* Should I add a `TargetLatestDotNetRuntime` `

[2019-11-15 09:14] jef-daels opened #15858 "this keyword referring to another ctor might be relevant as well"
this keyword referring to another ctor might be relevant as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f18483e-0603-040b-e3e9-0566dd04cd74
* Version Independent ID: c7b196b6-20e4-7567-7fd8-8b7145907665
* Content: [this keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/k

[2019-11-15 10:16] norcino opened #15859 "Web App deployed to IIS using SCD still require the hosting bundle in the target machine"
It is not mentioned anywhere that in order to be able to deploy a .net core Web App, you require in the target machine to have installed the Hosting Bundle and runtime which you are targeting, even when using SCD.
This is misleading, SCD and FDD are in practice behaving in the same way, or so it looks to me, when dealing with a Web App.

For example:
I have a server with hosting bundle 2.1, I trie

[2019-11-15 11:04] madelson opened #15860 "Is "compatibility" really the right term to use here?"
The docs say:

&gt; the C# language may have features that rely on types or runtime components that are not available in every .NET implementation. This also ensures that for whatever target your project is built against, you get the highest compatible language version by default.

This suggests that C# 8 is incompatible with older target frameworks, in that code compiled successfully with C# 8 ag

[2019-11-15 13:51] spacecheeserocks commented on #12486
This change also broke our CI tools.
Can confirm that the `-p:PublishDir=./whatever/dir` option works as expected.

You may want to consider adding some kind of warning/notice about this change when the `-o` option is used, it'll probably save people a lot of time and confusion!

[2019-11-15 16:22] Thraka commented on #15857
Great questions. I'll add this issue to our backlog. When we get time to update these articles, we'll include this scenario. Perhaps @KathleenDollard can answer these questions now.

[2019-11-15 17:18] JVimes commented on #10265
Sorry if I'm missing something obvious, but why are there two options? I can't see symbols being useful without source, or source being useful without symbols. Found this post searching for the difference.

[2019-11-15 17:19] stcmz opened #15862 "Please mention what to do if the object is a member"
This page hasn't covered the case that if the object is not within a local scope but is a member of the class. Please add description to address this case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83e20ec-96de-0340-0813-27968ae4ca89
* Version Independent ID: db8ef20b-08da-cbac-0d96-91dcef8abe56
* Content: [Using

[2019-11-15 17:21] BillWagner commented on #15728
This is a great suggestion. Thanks for pointing this out @rgwood

[2019-11-15 17:44] sablanc-msft opened #15863 "Field names on I/O Thread Events"
The field names that I get from the events are "IOThreadCount" and " RetiredIOThreads" instead of "Count" and "NumRetired"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc41222-13f3-1b45-94bf-21f037f66b4a
* Version Independent ID: 4ca27a03-aa11-55bb-2b97-e2a76a8ed42d
* Content: [Thread Pool ETW Events](https://docs.m

[2019-11-15 17:44] stcmz opened #15864 "Confusing description on DerivedClass"
The section of *Implementing the dispose pattern for a derived class* doesn't mention why the pattern is to be applied.
IMHO, at least two understandings are possible:
1) because the derived class itself uses some unmanaged resources. That means if otherwise, there is no reason to apply the dispose pattern in the derived class.
2) because the base class implements IDisposable. If so, all subclasse

[2019-11-15 18:43] CeciAc opened #15865 "Windows Add/Remove Programs dialog box does not display all installed SDK versions"
The comment below was Machine translated

@mshobohm commented on [Thu Nov 14 2019](https://github.com/dotnet/docs.de-de/issues/160)

With dotnet --list-sdks I get some old SDKs that I do not get displayed in the "Windows Add / Remove Programs dialog box". Consequently, they can probably only be deleted by deleting in the Explorer, I hope that is residue-free. The site could write something about t

[2019-11-15 19:57] glenn-slayden opened #15866 "Conflicting information for Switch.System.Windows.Data.Binding.IListIndexerHidesCustomIndexer"
Conflicting information on the [doc page](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element?source=docs):

"`Switch.System.Windows.Data.Binding.IListIndexerHidesCustomIndexer`	... Controls whether custom `IList` indexers are used incorrectly (false) or **correctly (true)** by the `System.Windows.Data.Binding` class..."

but [here

[2019-11-15 20:25] #15727 closed

[2019-11-15 21:05] tdykstra commented on #15864
@stcmz #1 is correct. The intro paragraph would be clearer if it said "Instead, to release resources of a derived class..." rather than "Instead, to implement the dispose pattern for a derived class..."

[2019-11-15 21:14] tdykstra commented on #5830
@shibox Was the answer from chwarr correct?

[2019-11-15 22:15] #13779 closed

[2019-11-15 22:59] #15821 closed

[2019-11-16 00:41] #14006 closed

[2019-11-16 02:21] #15864 closed

[2019-11-16 14:52] #9650 closed

[2019-11-16 19:35] obsidience opened #15872 "Where to find all .CSPROJ Options?"
VSCode, by default has a very simplistic build step in tasks.json which relies more on the project file rather than these command line options.  Where do we find all available build/publish options with msbuild v16+ inside the .CSPROJ (not pubxml).

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-0

[2019-11-17 01:09] rskar-git commented on #13733
Hi @rpetrusha, I uploaded the migrated project, and made a pull request, see: https://github.com/dotnet/samples/pull/1773. Let me know if there's anything I can/need to do. Thx!

[2019-11-17 04:03] Herohtar commented on #14172
There are a lot of issues in general with that example code... reading the wrong number of bytes, a bunch of unnecessary `Seeks`, variables declared that are never used (eg, `lenC` and `offset`), calling `Close` on the objects that were created with `using`...

The EncryptFile method has a few similar issues as well.

[2019-11-17 12:58] edthehorse opened #15873 "ok"
Good stuff for someone with knowledge (love the generics) but NOT what it says on the box : "Introduction to"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-c8a4-69cd-2b1a-9faacd282aab
* Content: [Classes and objects  - Introduction to C# tutorial]

[2019-11-17 13:44] surfmuggle opened #15874 "Include links to sample application"
It would be really helpful to have a medium complex sample application with an tutorial that creates the sample and explains design decisions and the architecture.

I found [getting started](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-3.0&tabs=visual-studio) but this not what i mean

The other samples i found seem to be archived or not exactly wha

[2019-11-17 21:44] pkulikov commented on #15766
@BillWagner given the trend to consolidate the C# reference docs, I think the `await foreach` statement is worth its own H2-section in the article about iteration statements, which is tracked by #10748

[2019-11-18 01:47] BillWagner commented on #15765
This article should link to the detailed [version information](https://docs.microsoft.com/dotnet/csharp/language-reference/configure-language-version) article.

Adding the 'up for grabs' label for community members to consider making this fix.

[2019-11-18 01:55] BillWagner commented on #15860
That's a good point @madelson

We should clarify compile time compatibility vs. runtime compatibitily.

[2019-11-18 01:56] BillWagner commented on #15873
Thanks for writing this @edthehorse

What information do you think is missing for a better introduction?

[2019-11-18 02:10] jtbrower commented on #11381
Each time I find myself on a foreign machine and my shortcut to the command prompt isn't available I ask myself, "Why don't they make this a built in command?".

[2019-11-18 08:25] cremor commented on #15860
Related: dotnet/csharplang#2877

[2019-11-18 14:38] Symbai opened #15878 "System.Threading.Thread.Abort changes"
A note about System.Threading.Thread.Abort is missing. On .NET Core it throws a "System.PlatformNotSupportedException: Thread abort is not supported on this platform." exception, while on .NET Framework it does not.

What is the equivalent on .NET Core for Thread.Abort ?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-18 14:49] paulomorgado opened #15879 "If the problem is the HttpMessageHandler, why not make it more clear?"
&gt; This factory assigns the `HttpClient` an `HttpMessageHandler` from a pool it manages.

Then the `HttpClient` can be disposed, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 24434b0e-0b82-e477-9440-2cc8f135df75
* Content: [Use HttpClientFactory t

[2019-11-18 18:32] Eilon opened #15881 "'dotnet sln todo.sln add **/*.csproj' - can't use glob pattern with command"
I'm using .NET CLI `3.1.100-preview2-014569` and the glob pattern doesn't work with `dotnet sln add`.

[code]

It doesn't matter whether I specify the SLN name or not. Globbing just doesn't seem to be supported.

So, either the docs are wrong, or the product has a bug.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b

[2019-11-18 19:14] gewarren commented on #15878
[Cancellation tokens](https://docs.microsoft.com/dotnet/api/system.threading.cancellationtoken?view=netframework-4.8) are a less drastic way to cancel a thread.

[2019-11-18 19:16] gewarren commented on #15878
@PriyaPurkayastha Should this be added as a breaking change?

[2019-11-18 19:29] Thraka commented on #15859
@norcino This is a tricky subject in that when you're building a web app, you're working with the ASP.NET Core SDK, not the .NET Core SDK.

Is there something over at [Host and deploy ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/?view=aspnetcore-3.0) or [Host ASP.NET Core on Windows with IIS](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspne

[2019-11-18 19:50] jwwicks commented on #5926
@Thraka FYI I'm in the process of moving into a new home so might be a little slow in getting this done.

[2019-11-18 19:53] Thraka commented on #15872
Duplicate of #2642

[2019-11-18 19:59] Thraka commented on #15872
@obsidience Hello

Currently we have https://docs.microsoft.com/en-us/dotnet/core/tools/csproj as the way to explore the csproj file format. We have plans to completely redo this article, it just keeps getting pushed back :( Currently people kind of look around https://github.com/dotnet/sdk/tree/master/src/Tasks/Microsoft.NET.Build.Tasks/targets to understand how things get transformed, which is h

[2019-11-18 19:59] #15872 closed

[2019-11-18 20:02] Thraka commented on #5926
@jwwicks We can continue to wait. This isn't a high priority fix for us so you helping out (when you can) is wonderful. I'm just keeping it moving by pinging you. 😄

[2019-11-18 20:53] tdykstra commented on #6041
@mlawrenceConduent Apologies for the late response to this -- are you still looking for an answer to this question?

[2019-11-18 20:54] #6031 closed

[2019-11-18 20:57] #5992 closed

[2019-11-18 21:16] gabeluci opened #15882 "Include list of valid Main signatures"
Any chance this article could contain the list of all valid signatures, like what is in the blog post [C# 7 Series, Part 2: Async Main](https://blogs.msdn.microsoft.com/mazhou/2017/05/30/c-7-series-part-2-async-main/)?

All the signatures can be inferred from the information given in this article, but I just find it easier to pick out the one I want from a list rather than read through the points

[2019-11-18 21:55] aaronfranke opened #15883 "Built-in vs simple vs primitive type semantics"
**Issue description** For example, in this article:

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/constants

(Source: https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/classes-and-structs/constants.md)

I find the choice of words here a bit confusing. Built-in to me can mean anything that is... well, built in, but the list of built-in

[2019-11-18 22:16] pkulikov commented on #15883
The article talks about **C#** built-in types, which are all listed in the referenced table. I think it leaves little space for misinterpretations.

The "simple" term is defined here:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/value-types#simple-types

I agree, it's not very helpful in the article describing the built-in types.

According to the [link](https://docs.

[2019-11-18 22:20] pkulikov commented on #15883
As for the example (about the constants), the better wording is in the [const article](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/const):

It uses neither "built-in" nor "simple" terminology but merely lists the concrete types. I think it's simpler to comprehend.

[2019-11-18 22:31] obsidience commented on #15872
Understood, thank you for the info and responding Thraka!

[2019-11-18 23:16] #7014 closed

[2019-11-18 23:27] PriyaPurkayastha commented on #15878
@gewarren we will figure out next steps once I get some information back about existing documentation for .NET Core releases prior to .NET Core 3.0.

[2019-11-19 00:47] mghafoori opened #15885 "Enable C# 8 syntax in VS Code"
I keep getting errors like the following when I use any C# 8 features in VS code, although the solution compiles and builds. How can I enable C# 8 syntax in VS Code?

"Feature 'recursive patterns' is not available in C# 7.3. Please use language version 8.0 or greater"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc2

[2019-11-19 01:04] mairaw commented on #15885
Thanks for your feedback @mghafoori.

To help with this issue, what version of the .NET Core SDK are you using? Or what version of .NET Core are you targeting in your project?

[2019-11-19 02:14] BillWagner commented on #7162
This article has been updated to address both concerns:
- The text no longer says to pass `true`, but says to set the arg based on calling from a Dispose method or a finalize method.
- The sample frees derived resource and sets the `disposed` flag before calling the base class method. That means the derived class should not be using an base class resources.

I'll close this.

[2019-11-19 02:14] #7162 closed

[2019-11-19 07:50] mairaw opened #15889 "Edit pass on grpc e-book content"
Book content would benefit from an editorial review.

Here's the entry point for the book:
https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/index

[2019-11-19 09:18] mairaw commented on #15881
@Eilon it seems you are on a Windows environment. The globbing only works on Unix/Linux shells. Do you think it's not clear the way it's described?

[2019-11-19 09:35] james1301 opened #15890 "Link broken to Sample"
The link is broken to Async Sample: Accessing the Web Walkthrough (C# and Visual Basic). Cannot find this sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 494fdee9-0e2c-55bc-dfc0-bc1e5809476f
* Version Independent ID: 3f6b5873-7f2c-a463-bcd3-8093f4af9a2a
* Content: [Walkthrough: Accessing the Web by Using async a

[2019-11-19 12:09] Youssef1313 commented on #15890
There is a [project](https://github.com/dotnet/docs/projects/88) to migrate samples from code.msdn.microsoft.com, but now the code.msdn is retired. I'm not sure if there is a backup from the code somewhere to use it and migrate to samples repo.
/cc @mairaw @BillWagner

[2019-11-19 15:51] BillWagner commented on #15890
Thanks for bringing this to our attention @james1301

@dend Do you know where I can find those assets to move them now that CodeGallery is retired?

[2019-11-19 15:53] BillWagner commented on #15882
Thanks for pointing this out @gabeluci I agree, a list would be useful here.

I've added this to our backlog, and added the up-for-grabs label for any community members to address. If you'd like to submit a PR with the updates, I'll watch for it and help get it published.

[2019-11-19 16:37] Youssef1313 commented on #15890
I've found the sample [here](https://github.com/GeorgeVan/Task_Async/tree/8c178c0abfe715d52accbe4c66ff1835b2e3d8d0/15_AsyncMisc). The 3 projects of the samples are `AsyncWalkthrough`, `AsyncWalkthrough_HttpClient`, and `SyncWalkthrough`.

[2019-11-19 17:03] BillWagner commented on #15284
Consolidating all the feedback on this into a task list below:

There are a number of labels that we've added to our repository that are no longer used, duplicates of other labels, or redundant.

while creating #15283 I created this list.

- Older releases:
    - [.NET Core 2.1](https://github.com/dotnet/docs/labels/%3Acheckered_flag%3A%20Release%3A%20.NET%20Core%202.1): It's an old release.
    -

[2019-11-19 17:14] DWAK-ATTK commented on #11987
I don't get it.  The brackets show you the effect of Trim().  Why do we need two trailing characters?

[2019-11-19 17:26] DWAK-ATTK commented on #14078
So the letter of the request was met... but the intent was to make things simpler for the new user.
Would something like this screenshot not be easier?  (matters of kerning and typography aside)

![image](https://user-images.githubusercontent.com/4431178/69169956-19b37500-0aae-11ea-826d-a4550d9def37.png)

I just copied the code for the sidebar button and pasted it into the paragraph.  It works jus

[2019-11-19 17:29] Eilon commented on #15881
Oh my, you are correct, it does say it all right there! I was looking only at the actual example code, not the text that was 50 pixels above it 😄

[2019-11-19 17:29] #15881 closed

[2019-11-19 17:46] mairaw commented on #15845
There was a lot of interest on this but I'm assigning this to @tdykstra. He'll start on this after he's done with the JSON work. @tdykstra, can you assign the appropriate milestone here?

[2019-11-19 18:38] #15818 closed

[2019-11-19 19:03] githubavi commented on #7613
Even I am looking to have some documentation or samples of it's usage in .NET Core 2x or 3x. I have found something in this link - https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support. Not sure if MEF team has any other roadmap for .NET core

[2019-11-19 19:08] tanukus opened #15893 "Update for .NET Core 3.0"
Hello, Are there plans to update this guide for .NET Core 3.0?, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 031b20ec-7583-8277-f7a6-69ff3beffeac
* Version Independent ID: 58c0d74e-2a5d-297e-4770-e8e44878b683
* Content: [.NET Microservices. Architecture for Containerized .NET Applications](https://docs.micros

[2019-11-19 19:09] Thraka commented on #9686
@mccalljd Sorry for the late reply. I checked the document and I see the VB snippets appearing. Something must have gotten fixed. Also, step 12 has you import the image to the project. However, I wonder if that image needs to be marked as copy-to-output or something? Anyway, I'm going to close this issue as it looks like the vb code appears correctly.

Thanks.

[2019-11-19 19:09] #9686 closed

[2019-11-19 19:16] turkycat opened #15894 "incorrect annotation of AuctionItems image"
near the top of this page the content reads:

"In the image above, the Group by category and Sort by category and date CheckBoxes are selected."

the image does not show the "sort by category and date" box checked as described. Display of the items does not match the description that follows (categories are not in alphabetical order).

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-19 19:21] Thraka commented on #15874
@surfmuggle Hi there! Thank you for opening this issue. We're definitely looking at redoing a lot of this introductory material. We're also going to look at redoing the tutorials too. Though, I think we could have some better cross linking in these areas.

One problem we have is that .NET Core is now geared towards two main stacks:

1. Console apps
2. Desktop apps (Windows Desktop is built-in, 3rd

[2019-11-19 19:23] Thraka commented on #15894
@turkycat Thank you for reporting this. I'll get it fixed up.

[2019-11-19 19:26] Thraka commented on #7693
@sheridanworkshare Thanks, I'm going to get this fixed.

[2019-11-19 19:28] mvelosop commented on #15879
Hi @paulomorgado, thanks for your feedback. That's an interesting observation!

Taking a look at the source code for both [HttpClient](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs/) and its base class [HttpMessageInvoker](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpMessageInvoker.cs/) you can see tha

[2019-11-19 19:30] Thraka commented on #9561
@najeeb-kazmi Sorry for the late reply. This is linked to near the top of the article. The link points to https://github.com/microsoft/WPF-Samples/tree/master/Sample%20Applications/DataBindingDemo

[2019-11-19 19:31] #9561 closed

[2019-11-19 20:29] mvelosop commented on #15893
Hi @tanukus,

Yes, it's in the plans, but first comes the 3.0 release for eShopOnContainers, you can take a peek in the [dotnet3-migration/dev-dotnet3](https://github.com/dotnet-architecture/eShopOnContainers/tree/dotnet3-migration/dev-dotnet3) branch.

Hope this helps.

[2019-11-19 21:21] cguerin opened #15897 "Visual Studio Mac"
On Mac, I get "Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA".

Anyway to get a CPU neutral version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version Independent ID: c8a996eb-82ed-a4bd-94d8-ef0b32158c67
* Content: [Tutorial: Gen

[2019-11-19 21:23] ericstj commented on #15151
Here's the PR that added the property, should serve as a placeholder for those looking until docs are available.
https://github.com/dotnet/sdk/pull/3305#issuecomment-504549489

[2019-11-19 21:53] BillWagner commented on #15746
If the goal is to change a string value, and have that visible outside of the method, you can also use pass by ref, as the following sample shows:

[code]

[2019-11-19 21:54] BillWagner commented on #15746
I think we've covered all the nuances here. I'll close this as answered.

[2019-11-19 21:54] #15746 closed

[2019-11-19 22:00] paulomorgado commented on #15879
It would be good to add an explanation of what usually makes it bad to dispose of an `HttpClient` and how the `DefaultHttpClientFactory` solves it. Probably say that it's what's expected from any implementation of `IHttpClientFactory`

[2019-11-19 22:03] BillWagner commented on #7106
this was fixed in #7789

[2019-11-19 22:03] #7106 closed

[2019-11-19 22:06] BillWagner commented on #7309
The original issue was resolved. Closing.

[2019-11-19 22:06] #7309 closed

[2019-11-20 05:57] mairaw commented on #15866
Thanks for your feedback @glenn-slayden.
@vatsan-madhavan is this something you can help with?

[2019-11-20 06:13] nguerrera opened #15900 "KBs needed on Windows 7 could be clearer"
See conversation on https://developercommunity.visualstudio.com/content/problem/805039/net-core-30-failed-to-load-dll.html?childToView=827105#comment-827105

When reading quickly, it is not especially obvious that the KB for Windows 8.1 is for Windows 7 too. It says "and earlier", but the eye skips past Windows 8.1 section onto the Windows 7 section when looking for Windows 7 prerequisites. Also,

[2019-11-20 06:20] nguerrera commented on #15900
Cc @jeffschwMSFT

[2019-11-20 07:13] OzBob opened #15901 "list available versions for update"
Is there a way to list out the available versions of a tool for update?

e.g. dotnet tool update dotnet-ef -g --version 3.0.0
works, but I would like to know if there is a version 3.1.0.

What is the download endpoint of all the tools that could be queried with this command:
e.g.
dotnet tool info dotnet-ef --versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-11-20 08:53] mairaw commented on #15900
@Thraka can you check this feedback as you're making updates to this article right now?

[2019-11-20 08:57] Youssef1313 commented on #15900
@mairaw, I just noticed your comment. Should I close my PR and let @Thraka handles that ?

[2019-11-20 08:59] mairaw commented on #15900
Yeah, I think so. Otherwise, it would cause merge conflicts for #15569 since we're removing this file.

[2019-11-20 08:59] Youssef1313 commented on #15900
Closed it.

[2019-11-20 14:06] #15882 closed

[2019-11-20 14:11] #15890 closed

[2019-11-20 14:12] #15765 closed

[2019-11-20 14:36] nguerrera commented on #15900
Probably worth waiting for this discussion to reach a conclusion before addressing this:

https://developercommunity.visualstudio.com/content/problem/805039/net-core-30-failed-to-load-dll.htm

On the technical side, the problem is almost certainly that KB2533623 is missing, but the customer is having trouble installing it.

[2019-11-20 15:45] tlhintoq opened #15906 "Single spacing"
Its worth noting AND THERE SHOULD BE EXAMPLES HERE - that &lt;para&gt; started being double spaced with VS2017 and continues to be doubled spaced in VS2019.  Several issues were raised on MSDN about it and all were closed with no solution provided for creating single-spaced XML intellisense comments in our C# and F# code. All just say "not on our current road map".

It is now necessary to add &lt;

[2019-11-20 16:01] #15710 closed

[2019-11-20 16:01] #15715 closed

[2019-11-20 16:01] #15712 closed

[2019-11-20 16:40] Thraka commented on #15901
@OzBob Hello.

I don't believe so. You would want something that looks at the NuGet package feed, such as the standalone [nuget cli](https://docs.microsoft.com/en-us/nuget/install-nuget-client-tools)

[2019-11-20 16:40] #15901 closed

[2019-11-20 16:41] #14676 closed

[2019-11-20 16:54] natke commented on #15284
These sound like sensible recommendations to me.

Natalie

From: Bill Wagner <notifications@github.com>
Reply-To: dotnet/docs <reply@reply.github.com>
Date: Tuesday, November 19, 2019 at 9:03 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: Natalie Kershaw <Natalie.Kershaw@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [dotnet/docs] Remove outdated and unused issue labels (#15284)

[2019-11-20 17:05] Thraka commented on #15900
We'll be making this section clearer when this update to the docs ships. The current text looks like the following:

![image](https://user-images.githubusercontent.com/2672110/69260389-a58fd480-0b74-11ea-9d56-d7baed3b81fa.png)

[2019-11-20 18:33] #13425 closed

[2019-11-20 18:34] Youssef1313 opened #15907 "Migration of "Async Sample: Accessing the Web Walkthrough""
The link for the code.msdn was updated in #15902 to a docs.microsoft article as a temporary fix for the 404 error of the old link. When the sample is migrated, the link should point to the samples browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 494fdee9-0e2c-55bc-dfc0-bc1e5809476f
* Version Independent ID: 3f6b

[2019-11-20 20:13] mairaw commented on #15284
A few comments:

- I wouldn't remove the repo labels yet.
  - Can we make sure that the ones marked as dotnet-api-docs are either mirrored in API docs too or moved (if it's only relevant to that repo)?
  - For repo-samples, can we perhaps rename the example-request to something that indicates samples related work more broadly? That way, we could replace repo-samples with the renamed label?
  - For

[2019-11-20 21:24] marchewek commented on #10151
It's a valid finding for both "Using a safe handle..." examples. In case an unmanaged resource is used in any of the classes, this class needs to define a Finalizer - as mentioned earlier "[...] or an override to the Object.Finalize method." So the comments about unmanaged resources should be removed from the example in order not to confuse developers.

[2019-11-20 21:31] gewarren commented on #15907
Original issue for bad link is #15890

[2019-11-20 21:41] tdykstra commented on #7337
Thanks for the question and apologies for the delayed response. Are you still looking for an answer to this question? Did you try a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter?

[2019-11-20 21:44] marchewek commented on #9931
Imo the original text is perfectly fine. @Jesse-Hufstetler - one cannot "inherit from an IDisposable". It's possible to "inherit a class" or "implement an interface". One could argue if "shouldn't" in that sentence shouldn't be replaced with "doesn't have to", though for the sake of less redundancy I agree with "shouldn't". For me any class shouldn't list any of base class' interfaces.

[2019-11-20 21:49] #7439 closed

[2019-11-20 22:03] tdykstra commented on #7648
This article was removed. Closing the issue.

[2019-11-20 22:03] #7648 closed

[2019-11-20 22:06] tdykstra commented on #7756
Thanks for the question. You'll probably get a faster answer on a support forum, such as Stack Overflow, or a support chat, such as Slack or Gitter. If you post the question elsewhere, please update this issue with the link.

[2019-11-20 22:28] #8540 closed

[2019-11-20 22:43] tdykstra commented on #8497
@elizad Did https://github.com/dotnet/roslyn/issues/26326 provide the solution?

[2019-11-20 22:44] #8801 closed

[2019-11-20 23:01] tdykstra commented on #8835
Thanks for contacting us. Given that the site trims the leading indentation, this isn't high enough priority for us to devote resources to fixing, so we're closing the issue.

[2019-11-20 23:01] #8835 closed

[2019-11-20 23:07] tdykstra commented on #8409
@rwhoech Apologies for the delayed response, but check out https://docs.microsoft.com/en-us/windows/win32/dataxchg/using-the-clipboard

It has an example of using [GetClipboardData](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getclipboarddata) in several ways, in the [Example of a Clipboard viewer](https://docs.microsoft.com/en-us/windows/win32/dataxchg/using-the-clipboar

[2019-11-20 23:07] #8409 closed

[2019-11-20 23:15] #14443 closed

[2019-11-21 00:53] mairaw opened #15913 "Should we port the NCL samples to samples browser?"
Some example links from this referenced article are:

- [Network Information Technology Sample](https://go.microsoft.com/fwlink/?LinkID=179564)
- [NetStat Tool Technology Sample](https://go.microsoft.com/fwlink/?LinkID=179562)
- [Ping Client Technology Sample](https://go.microsoft.com/fwlink/?LinkID=179565)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-11-21 00:54] mairaw commented on #15913
See discussion here: https://github.com/dotnet/docs/pull/15810/files/6a75e99511ce37ebef17f1b3eb28e68cb4323303#r344970012

/cc @davidsh

[2019-11-21 01:02] #13471 closed

[2019-11-21 01:46] mghafoori commented on #15885
Hi, I am using .Net Core 3 SDK.

[2019-11-21 01:59] gewarren opened #15915 "Breadcrumbs are missing for most subfolders of /core/"
Consider adding breadcrumbs to https://github.com/dotnet/docs/blob/master/docs/breadcrumb/toc.yml for the subfolders of /docs/core/.

[2019-11-21 07:02] mairaw commented on #13751
Thanks for your feedback @ohelin2. This item is currently in our backlog.

@merriemcgaw @vatsan-madhavan do you know who owns UI Automation?

[2019-11-21 07:04] mairaw commented on #13688
Thanks for your feedback @ohadschn. This item is currently in our backlog.

[2019-11-21 07:05] mairaw commented on #13507
Thanks for your feedback @quickrworld. I'd try asking on forums such as Stack Overflow.

This is currently in our backlog.

[2019-11-21 07:09] #9654 closed

[2019-11-21 07:10] mairaw commented on #13506
Thanks for your feedback @jgfet. This is a pretty old article and I don't think WPF version is captured like this any longer.

@vatsan-madhavan @grubioe should we just remove this article?

[2019-11-21 09:10] progalgo commented on #10308
Translation.

Lacks exapmle of calling from C# !

[2019-11-21 12:21] deap82 commented on #10633
@gewarren, I don't understand how to find that issue. Could you please provide a link?

[2019-11-21 13:02] GCortijo1 opened #15921 "Naming conventions"
I was reading your previous documentation about naming conventions and I found that now you are following a different convention.
For example, in your documentation:
"Do capitalize both characters of two-character acronyms, except the first word of a camel-cased identifier.

A property named DBRate is an example of a short acronym (DB) used as the first word of a Pascal-cased identifier. A paramet

[2019-11-21 13:21] nojaf opened #15922 "Should `else if` be formatted differently?"
The current section about formatting `if/else/elif` is a bit unclear what to do in case of `else if`.
Should it be formatted exactly the same way as `elif` sample?

Consider the following code:
[code]
`a,b,c,d & e` are all long or multiline expressions.
Question is do the same rules apply as described in

Should the formatting be:
[code]
??

Related discussion: https://github.com/fsprojects/fantom

[2019-11-21 13:24] Youssef1313 commented on #15921
I think it's more about the entity framework itself more than it's a doc issue (also it's not related at all to the .NET Core guide article. but I think you're correct, there is an inconsistency using `DB` like in `DBNull` and `Db` like in `DbContext`.
/cc ajcvickers

[2019-11-21 15:05] szalapski commented on #3708
I am also experiencing this.  I don't want to stop inheritance from the machine.config side--I want to override this section on the web.config side, just as qiaoxingxing wrote.

[2019-11-21 15:35] nminaya commented on #15921
It would also be weird "fix" this inconsistency with an empty class DBContext that inherits from DbContext 😅

[2019-11-21 15:53] luisquintanilla commented on #15897
Hi @cguerin ,

Thank you for your question. This is just a warning and should not have an impact on your ability to train a model. It's a message that appears cross-platform, not just Mac, and to my understanding has to do with how the TensorFlow binaries are built by default. Here's a somewhat related discussion on the issue that may provide context.

tensorflow/tensorflow#8037

From an ML.NET st

[2019-11-21 15:53] #15897 closed

[2019-11-21 16:19] BillWagner commented on #15906
Thanks for creating this issue @tlhintoq I've added it to our backlog for us to address when we next update this article.

I've also added the "up for grabs" and "good first issue" label for any community members that want to address this.

[2019-11-21 16:37] jillre commented on #10633
@deap82 here's the issue in the visualstudio-docs repo: https://github.com/MicrosoftDocs/visualstudio-docs/issues/4279

[2019-11-21 16:52] tlhintoq commented on #15906
I just wanted to say "thanks for the ACK" on my feedback.  I don't think
I've ever gotten that before from leaving feedback on the microsoft
documentation.

Is it a new mechanism that leaving feedback generates a git issue?  Or
did you do that after reading the feedback?

Regards,

Clint

On 21.11.2019 11:19, Bill Wagner wrote:

Links:
------
[1] https://github.com/tlhintoq
[2]
https://github.com/

[2019-11-21 17:48] vatsan-madhavan commented on #15866
From [`<AppContextSwitchOverrides>` Element](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element?source=docs) documentation:

 Switch Name | Description | Introduced
--- | ---|  --- |
Switch.System.Windows.Data.Binding.IListIndexerHidesCustomIndexer | Controls whether custom IList indexers are used incorrectly (false) or correctly

[2019-11-21 18:01] tdykstra commented on #8913
It appears that this issue has been addressed. Closing.

Feel free to reopen if further discussion is needed.

[2019-11-21 18:01] #8913 closed

[2019-11-21 18:46] SamBent commented on #15866
There are two errors.

First, the doc page for AppContext switches says:

The words 'false' and 'true' should be interchanged.

Second, the doc for "improvement for KeyedCollection" says

It should say

[2019-11-21 18:49] #15632 closed

[2019-11-21 19:02] #12783 closed

[2019-11-21 21:07] Thraka commented on #11977
@PerJogback Sorry for the late reply, is this something you can:

- Test in VS2019
- Provide some example code so I can test it?

[2019-11-21 21:52] tdykstra commented on #8630
What would you want it to do with the slash character (`/`)?

[2019-11-21 22:03] Thraka commented on #11832
I think this was fixed. I tested the code and it works fine and the `Filename` property is `FileName` in the code.

Sorry for the delay and thank you for filing the issue.

[2019-11-21 22:03] #11832 closed

[2019-11-21 22:07] gewarren commented on #15878
Related issue: https://github.com/dotnet/corefx/issues/35229

[2019-11-21 22:18] ldiablo opened #15928 "Error messages make little sense and provide no recourse as to what one can do"
There is very little information about the error messages returned by Sn.exe. If I try to Sn -i pkey.snk KEY_XXX I see "Object already exists" if I try to sn -pc KEY_XXX I get "Key does not exist" The behaviour does not make any sense and no recourse or advise is provided. It is a terrible tool. Whoever wrote it should be ashamed.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-11-21 22:20] tdykstra commented on #8942
@karelz who could look into this?  There does seem to be a contradiction between these two sections of https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder

[2019-11-21 22:23] Thraka commented on #11842
@tromero Sorry for the delay. We're working through categorizing our current issues and I found this one. Thank you for reporting it.

[2019-11-21 22:31] Thraka commented on #11787
@JJoe2 Thank you for reporting this. Sorry for the delay. I'll open this up to the community to fix.

[2019-11-21 22:41] tdykstra commented on #9295
@karelz is there any more we should add to this doc besides

[2019-11-21 23:00] mairaw commented on #14362
Thanks for your feedback @paul1956. @KathleenDollard can you comment on this request?

[2019-11-21 23:08] #10140 closed

[2019-11-21 23:19] pwen090 commented on #13431
The download link for Windows 7 x86 KB2999226 is returning 404. https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows.

Also for .net core 3.0 installing the relevant KB's I am still getting the error "Unable to load DLL 'api-ms-win-eventing-provider-l1-1-0.dll' or one of its dependencies: The specified module could not be found."

[2019-11-21 23:23] vatsan-madhavan commented on #13506
You can probably qualify the article and say that it only applies to .NET Framework <=v3.5 . This registry value is still there in .NET 3.5.

I have no context as to the history of this key or how it was used etc. I'm simply guessing that there is a small value in preserving the article since .NET 3.5 continues to be an actively supported version of the framework.

I don't believe there is somethi

[2019-11-21 23:33] pwen090 commented on #5290
We have installed the relevant KB but are still getting the error "Unable to load DLL 'api-ms-win-eventing-provider-l1-1-0.dll' or one of its dependencies: The specified module could not be found." for .NET Core 3.0 on Windows 7.

[2019-11-21 23:50] tdykstra commented on #15928
@vivmishra Do you know who can help with documenting Sn.exe error messages?

[2019-11-22 00:37] karelz commented on #8942
How are the statements contradictory? They seem to be independent. What am I missing?

[2019-11-22 00:43] surfmuggle commented on #15874
Hello @Thraka sorry i raised this issue for the wrong page.

The points above are still valid:

 * [Introduction to ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/index?view=aspnetcore-3.0) does link to a zip file.
 * The tutorials section has basic tutorials for [razor-pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetcore-3.0), [mvc](https://docs.m

[2019-11-22 00:43] #15874 closed

[2019-11-22 00:44] tdykstra commented on #8942
In one case it sounds like there is always one single buffer, handling growth by replacing a buffer with a larger one and copying to it.  In the other case it sounds like growth is handled by adding buffers.

[2019-11-22 01:57] #15813 closed

[2019-11-22 02:51] maziarrezaei opened #15934 "Example out of sync with text in Memory and Span usage guidelines article"
At least for the first example, it seems it's not relevant to the explanation that goes after it.  There is no Span&lt;T&gt; in the code, and no Clear() method is called.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4819512e-1044-1c57-0de1-447164220fd5
* Version Independent ID: d6cf8d26-fb2f-7138-f0c7-ab529a5b9cde
*

[2019-11-22 03:01] mairaw commented on #3426
Should we archive that page @KathleenDollard?

[2019-11-22 03:33] mairaw commented on #15921
Tagging a few folks to see if they comment on the current naming conventions
@terrajobst @KrzysztofCwalina @bartonjs

[2019-11-22 03:49] mairaw commented on #13506
The article would still be preserved. There's already a version of it in the archive:
https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-3.5/aa349641(v=vs.90)

We'd just remove from the current supported set that we actively maintain and redirect to that one instead.

Does that sound good @vatsan-madhavan?

[2019-11-22 03:55] vatsan-madhavan commented on #13506
That sounds good to me. Thanks!

[2019-11-22 04:07] mairaw commented on #9295
Tagging @davidsh as well.

[2019-11-22 05:46] smitpatel commented on #15649
This could be referenced https://docs.microsoft.com/en-us/ef/core/querying/complex-query-operators#groupjoin

[2019-11-22 06:48] terrajobst commented on #15921
@bartonjs probably knows it best, but I think the guidance is correct but there are simply outliers like the EF example. FWIW, this guidelines was never great as it was too complicated.

[2019-11-22 07:23] mairaw commented on #15921
Thanks @terrajobst. I'll close this for now but if @bartonjs has anything to add, feel free. I think this answers it.

[2019-11-22 07:36] mairaw commented on #15885
And this is related to the code we're showing on the article?

I'd make sure that your project file is actually targeting 3.0 greater:

  \<TargetFramework>netcoreapp3.0\</TargetFramework>

  Anything below that won't use C# 8 [by default](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version).

Here's a Stack Overflow post as well talking about the relation

[2019-11-22 07:36] #15885 closed

[2019-11-22 08:20] mairaw commented on #13831
@HongGit @mconnew can you please look at this feedback?

[2019-11-22 08:25] mairaw commented on #13492
Thanks @zowazHC5 for your comment.
@tommcdon can you help with this feedback?

[2019-11-22 08:27] usukololgubu opened #15942 "NETSDK1083 error when providing multiple RIDs in .NET Core 3"
`dotnet restore -r win-x86 -r win-x64`

`C:\Program Files\dotnet\sdk\3.0.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(59,5): error NETSDK1083: The specified RuntimeIdentifier 'win-x86;win-x64' is not recognized. [&lt;Full Project Name&gt;.csproj]`

For netcoreapp2.1 everything works fine. Are there any changes for .NET Core 3?

---
#### Document Details

[2019-11-22 08:31] mairaw commented on #12196
Thanks for your feedback. @kouvel can you help with this feedback?

[2019-11-22 08:33] mairaw commented on #11928
Sorry for the delay.

This is covered in this Stack Overflow post. Does this help?
https://stackoverflow.com/questions/57073996/dotnet-restore-error-error-nu3004-the-package-is-not-signed

@KathleenDollard @dsplaisted should we add something about this in the dotnet restore docs?

[2019-11-22 08:39] mairaw commented on #15942
@KathleenDollard @dsplaisted can you comment on this?

[2019-11-22 08:45] mairaw commented on #3448
This issue was moved to MicrosoftDocs/feedback#2196

[2019-11-22 08:45] #3448 closed

[2019-11-22 09:28] norcino commented on #15859
@Thraka
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/?view=aspnetcore-3.0
Does not mention that you need anyway the hosting bundle to be installed in the target machine, no matter if you use SCD or FDD deployment.

Here, https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.0
there is on the very top a naked "Install the .NET Core Hosting Bundle" link,

[2019-11-22 13:54] deiruch opened #15946 "(How) does indexing by range work with multidimensional arrays?"
The examples show only single-dimensional arrays being used with Ranges. (How) does Range-indexing work with multi-dimensional arrays?

If it doesn't work, is there a plan to make it work? Are there workarounds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a92f2fd3-888f-340e-72dd-8a3338313783
* Version Independent ID

[2019-11-22 13:56] thfsilvab commented on #15670
I usually make two other methods that use `GetAll()` to convert from string/int to the object itself.

[code]
I usually use those methods to convert data coming from a request or from the database itself, like the example below:

[code]

[2019-11-22 14:36] bartonjs commented on #15921
I agree that the EF type is named incorrectly, given our guidance and the precedence of `DBNull` (and possibly others).  It looks like "Db" is the only Upper-Lower pair that is an outlier in type names.

* "Id" is special cased, even though "id" (as in `!ego && !superego`) is a different word.
* "Um" and "Al" are part of a proper noun.
* "Co" is part of C++ "coclass", which PascalCases to "CoClass

[2019-11-22 15:08] BillWagner commented on #10726
Thanks for reminder on this plan @pkulikov I missed the mention earlier.

This is a great plan. Thanks for documenting the steps so we can track them. 💯

[2019-11-22 15:14] BillWagner commented on #15946
Thanks for writing this @deiruch I do need to cover this scenario in this tutorial.

I've added it to the next sprint to address.

[2019-11-22 15:51] tdykstra commented on #15934
@maziarrezaei Thanks for pointing that out.  The problem was already pointed out by @svick in the PR that created the article ([here](https://github.com/dotnet/docs/pull/8055#discussion_r224223716) and [here](https://github.com/dotnet/docs/pull/8055#discussion_r224224342)), but those comments somehow were overlooked. I'm labeling this as a doc bug and we'll correct it as soon as resources are avai

[2019-11-22 16:10] ajcvickers commented on #15921
We looked at the existing non-EF classes in .NET when we named `DbContext` back in 2010. Pretty much everything from ADO.NET (pre-EF) such as DbConnection, DbCommand, and so on used the "Db" casing. Only `DBNull` was the outlier. So, regardless of what the _de jury_ naming convention said, after days and days of discussion it was decided to continue with the _de facto_ convention of using "Db".

W

[2019-11-22 16:43] crclz commented on #15461
I was wrong. Returning some result seems to solve the problem but does not actually solve it. Moreover, it brings new problems.

Specification-Notification Pattern (which was ignored by me) should be used as a bridge between user and domain logic (which lies in the domain layer). And the domain layer should be designed like any other normal library (in most cases and especially when dealing with e

[2019-11-22 16:43] #15461 closed

[2019-11-22 17:04] dagood opened #15947 "Why is >= necessary when building .NET Core for distribution to allow upgrades?"
Why does a `>=` dependency "make it possible" for a user to upgrade? What is it contrasting against that *doesn't* allow the user to upgrade their installation via `dnf update` etc.?

For example, does the following block upgrade from 3.0.0 to 3.0.1 somehow?
* `dotnet-sdk-3.0 3.0.0 requires dotnet-targeting-pack-3.0 = 3.0.0`
* `dotnet-sdk-3.0 3.0.1 requires dotnet-targeting-pack-3.0 = 3.0.1`

This

[2019-11-22 17:25] Thraka opened #15948 "Updates to install articles (post release)"
Related to #14675 (Rewrite the prereqs story for .NET Core)

This issue is to track post-publish work for the new setup area.

- [ ] ~Install specific patch on package managers~ (we've not really received the feedback that this is required. Until we do, I don't think we need to spend time on this)

  * On Ubuntu and Debian the format is `{product}-{type}-{version}={patch}-1` (e.g. `dotnet-sdk-3.0=

[2019-11-22 17:35] #15866 closed

[2019-11-22 17:43] tmds commented on #15947
This is about expressing a dependency on a version vs not specify a version.
When not specifying a version, updating dotnet-sdk package won't update dotnet-runtime for example.

On the difference between `>=` and `=`, this is about whether dependencies are backwards compatible, and if they may be updated to a later version without updating the dependent.
If there is no backwards compatibility, `=`

[2019-11-22 17:49] Thraka commented on #15284
One label we removed a while back was the "forum" label. This is an org label, should it be added back in?

[2019-11-22 18:09] terrajobst commented on #15921
Sure, but we should not repeat this moving forward. Within EF, let's stick to `Db`. But let's not add new two-letter exceptions :-)

[2019-11-22 18:27] ajcvickers commented on #15921
@terrajobst To be clear, most of the `Db` types are not EF types. They are System.Data.Common types in the BCL. I think we should stick to `Db` in those types as well.

[2019-11-22 19:09] KrzysztofCwalina commented on #15921
The two letter acronym rule was added so people don't think that the System.IO namespace is referring to a moon.

[2019-11-22 19:09] dsplaisted commented on #11928
I think there should be a NuGet doc page on this if there isn't already, and if necessary we should link to it from the `dotnet restore` docs.  However, since it can happen with pretty much any CLI operation, I'm not sure if the link will be necessary.  A page in the NuGet docs with the error code might be enough for people to find it.

[2019-11-22 19:11] dsplaisted commented on #15942
I think we may have changed `-r` from passing in `RuntimeIdentifiers` to `RuntimeIdentifier`.  @wli3 @livarcocc do you know?

In any case, there is probably something we should fix here.  At a minimum we shouldn't accept multiple `-r` parameters if it's not going to work.

[2019-11-22 19:32] ajcvickers commented on #15921
@KrzysztofCwalina Well it's a huge, huge relief that we avoided that massive source of potential confusion!

[2019-11-22 20:21] mconnew commented on #13831
Here's a problematic scenario. You have a namespace called Animals which contains a class called Dog. You also have a class called Animals with a property called Dog in the namespace MyApp. In this code:
[code]
How does the compiler resolve Animals.Dog? Is it the class Dog in the namespace Animals? Or is it the property Dog on the class Animals? One way is to use :: as per the documentation [here]

[2019-11-22 20:40] gewarren commented on #12947
@scottaddie Would the counter name be `RequestQueueLimitPerSession`?

Breaking change in question: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/retargeting/4.5.2-4.7#throttle-concurrent-requests-per-session

[2019-11-22 20:53] gewarren commented on #13029
Closing this issue since it's not a .NET Framework breaking change.

[2019-11-22 20:53] #13029 closed

[2019-11-22 20:54] Diaskhan opened #15949 "Documentation Improvement (OS Compatible Linux?)"
Could U also Add information about
With whic OS is Compatible ?
Linux, MacOs? CentOS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3ebb
* Content: [Add WCF Web Service Reference - .NET Core](https://docs.microsoft.com/en-us

[2019-11-22 21:55] NickPea opened #15951 "Examples?"
Probably put some use examples in as well to keep this page consistent with the rest of the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbdace9d-6fa0-0aec-25b4-df6f414001d7
* Version Independent ID: 77eff122-b9a5-2b1f-3a68-df302cb46194
* Content: [Set Operations (C#)](https://docs.microsoft.com/en-us/

[2019-11-22 22:59] natke opened #15953 "Dataset for Iris clustering does not work with Model Builder"
Consider updating to this one, which will work for both the API and Model Builder: https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/MulticlassClassification_Iris/IrisClassification/Data

[2019-11-22 23:11] Rick-Anderson commented on #9244
@Thraka  recommend closing. This sample doesn't use `setup and teardown` methods.

[2019-11-22 23:37] gewarren commented on #8623
This is a dupe of #8622.

[2019-11-22 23:37] #8623 closed

[2019-11-22 23:40] gewarren commented on #8936
@Maoni0 Can you comment on what we should add to the note?

https://docs.microsoft.com/en-us/dotnet/framework/interop/marshaling-a-delegate-as-a-callback-method

[2019-11-22 23:56] gewarren commented on #9088
Looks like we could link to this sample: https://github.com/Azure-samples/active-directory-dotnet-webapi-manual-jwt-validation

[2019-11-23 00:00] gewarren commented on #9209
@dipakvaghela99 Thanks for the positive feedback, glad it helped you!

[2019-11-23 00:00] #9209 closed

[2019-11-23 01:10] #4688 closed

[2019-11-23 01:10] #13431 closed

[2019-11-23 01:10] #14675 closed

[2019-11-23 14:02] SuperNova911 commented on #15951
I think I can make some sample for this
It looks like code is managed in [here](https://github.com/dotnet/samples/tree/master/snippets/csharp/VS_Snippets_VBCSharp), but how can I link with *Set Operations (C#)* article??

Should I just make duplicate code for article and dotnet/sample?

[2019-11-23 17:08] singhmss opened #15962 "Description of tag"
The description for serviceCertificate tag states "Specify an X.509 certificate that will be used to authenticate the service to clients using Message security mode".

However I found that for a self hosted service with netTcpBinding and security mode as 'Transport', the serviceCertificate needs to be specified. Otherwise it would result in the below exception .
System.InvalidOperationException: T

[2019-11-24 03:57] shandysulen opened #15964 "Variable Typo Within "Start tasks concurrently" Section"
In later code blocks, eggsTask is mentioned, but within the "Start tasks concurrently" section, it is referred to as eggTask, which is not semantically faithful to what's going on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648

[2019-11-24 03:58] shandysulen commented on #15964
I believe any mention of eggTask should be rename to eggsTask.

[2019-11-24 18:15] raminrahimzada opened #15966 "Mistyped docker hub url of redis package"
Hi, There is docker link of redis package in content of the page which is mistyped and redirects to 404 , the reason is it has an extra character - (%5C as encoded) <br/>
https://hub.docker.com/%5C_/redis/
i think it should be like that:
https://hub.docker.com/_/redis/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a50

[2019-11-25 01:17] BillWagner commented on #15964
Thanks for writing this @shandysulen

I've added this to our backlog, and I've added the "up for grabs" and "good first issue" labels for any community members that would like to submit a PR to fix this issue.

[2019-11-25 02:20] BillWagner commented on #15951
Thanks for writing this @NickPea We should add examples here. I've added this to our backlog, and added the "up for grabs" label.

@SuperNova911 Thanks for asking about contributing to fix this issue. I've got a few thoughts on the samples:

- These could be good candidates for the [interactive experience](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#the-c-interactive-experience).
-

[2019-11-25 14:08] suou-ryuu opened #15968 "Array index `..` notation not documented"
There is no documentation explaining the following documentation and it's limitations e.g. upper and lower bounds either side of `..`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce68029f-fffd-dc3b-d590-bdb2b0389a84
* Version Independent ID: 8b25ca07-e3e3-4ec8-c3f4-37d057cabd38
* Content: [Slices (F#) - F#](h

[2019-11-25 14:15] suou-ryuu opened #15969 "`Array.sub` bounds require documentation"
After discussing with a colleague (MKGAURAB) we found that the following behaviour:

[code]

We expected `let arrChunk = Array.sub arr 10 0` to throw an `IndexOutOfBoundsException` however it returned an empty array.

Can you please clarify what the permitted upper bound of `startIndex` is.
If this is a bug we can submit a fix to the FSharp repo.

---
#### Document Details

⚠ *Do not edit this sec

[2019-11-25 14:39] Matthew-Bonner opened #15970 "Overloading classes makes examples more complex than need to be for no apparent reason"
What does PluginLoadContext give you over AssemblyLoadContext considering neither Load or LoadUnmanagedDll are used in the examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06023407-704f-0ace-e89a-eedd9f95a007
* Version Independent ID: f25a6e1a-cb10-867b-0522-a377bf9d016b
* Content: [Create a .NET Core applicati

[2019-11-25 14:42] Matthew-Bonner commented on #15970
Am I right in guessing that `return loadContext.LoadFromAssemblyName(new AssemblyName(Path.GetFileNameWithoutExtension(pluginPath)));` should really be `return loadContext.Load(new AssemblyName(Path.GetFileNameWithoutExtension(pluginPath)));`?

[2019-11-25 14:44] Matthew-Bonner commented on #15970
Ah ignore that, I see what is going on now.

[2019-11-25 14:46] #15970 closed

[2019-11-25 16:40] #15964 closed

[2019-11-25 17:16] BillWagner opened #15974 "PR and Issue review may be delayed over U.S. Thanksgiving"
This Thursday (November 28) and Friday (November 29) are holidays for the .NET content team members in the United States. Many of the team members are also taking vacation during this week.

The result is that PR reviews / merging, and Issue response may be delayed during this week and the upcoming weekend.

[2019-11-25 19:15] tdykstra commented on #9164
@cheenamalhotra @karinazhou Who would know if the documentation is incorrect?

[2019-11-25 19:37] cheenamalhotra commented on #9164
@Ponchothewise

The statement is correct:

This means when a transaction isolation is set from inside a function/stored procedure does not change ISOLATION LEVEL of active connection which is out of procedure scope, e.g. if you set Isolation Level within a Stored procedure as under:

[code]
Connection Scope testing:
[code]

This verifies:

[2019-11-25 19:43] tdykstra commented on #9565
@wtgodbe do you know who can help with this?

[2019-11-25 19:48] wtgodbe commented on #9565
I'm not sure, I haven't been able to determine who owns this tool...

[2019-11-25 19:52] tdykstra commented on #9164
@cheenamalhotra Thanks for the explanation!

@Ponchothewise Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-25 19:52] #9164 closed

[2019-11-25 19:55] tdykstra commented on #9565
@mairaw Any other ideas who we can ask about this tool?

[2019-11-25 21:18] davisnw opened #15978 "Clarify Important note that "original publisher policy file" means the .config file specified on command line"
It took me about an hour and half of getting the error message: "Failure adding assembly to the cache: One or more modules specified in the manifest not found" before I finally realized that what was meant by "original publish policy file" is the .config file specified in the /link argument.

So the documentation isn't wrong - but could be more explicit for people like me... :-)

Perhaps reword to

[2019-11-25 21:57] gewarren commented on #15974
Oops sorry, I thought I was just hiding it for myself. Repinned.

[2019-11-25 22:01] gewarren commented on #15813
Documented here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#removed-controls

[2019-11-25 22:58] BillWagner commented on #2854
Closing this issue as we are tracking this work in the associated project.

[2019-11-25 22:58] #2854 closed

[2019-11-26 01:05] RussKie commented on #15813
Thank you

[2019-11-26 04:30] djaus2 opened #15981 "Please update dox for .Net Core 3"
[Enter feedback here]
Please update dox for .Net Core 3   and Visual Studio 16.3 (or later)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50511188-600e-18f6-6d92-c93b135d3db6
* Version Independent ID: 559262e6-f27b-e581-255f-0967b006a922
* Content: [Deploy .NET Core apps with Visual Studio - .NET Core](https://docs.mi

[2019-11-26 04:36] Youssef1313 opened #15982 "dotnet/corefx and dotnet/coreclr are now consolidated into dotnet/runtime"
I believe that references to dotnet/corefx and dotnet/coreclr should be revised and updated to dotnet/runtime.

For example:
https://github.com/dotnet/docs/blob/d824d1f83613302a599467faf306aa724904382b/docs/core/build/index.md#build-the-clr-from-source

[2019-11-26 04:49] djaus2 commented on #6238
linux-arm32

[2019-11-26 04:50] djaus2 commented on #6238
Sorry, kill that. :(

[2019-11-26 05:20] Youssef1313 commented on #15982
@mairaw, Is there an internal way you have to check if there are fwlinks that redirects to the coreclr or corefx repos ?

[2019-11-26 05:22] jpierson opened #16105 "Language of sample/snippet included in path redundantly"
**Issue description**

In many places such as in the example below, the implementation language of a snippet or sample is redundantly stated in more than one segment of the directory path.
Example specifying both **csharp** and **CS** in the path:

snippets/**csharp**/VS_Snippets_CLR_Classic/classic Console Example/**CS**/source.cs

The problem with this way of organizing the source files is that

[2019-11-26 08:29] hey-hoho opened #16106 "in AppWithPlugin,how to load aseembly with a config file"
As this title says,
I want to load aseembly with a config file,such as .config or .json.how can I do it?
By the way, how can I get config options If it can be achieved

Thanks.

[2019-11-26 13:20] TsakyDev opened #15986 ".net core publish -runtime exe explained"
**Executable file under the hood (purpose)**

Search terms
- .net core executable
- self-contained deployments
- .net core output

Documentation read
- https://docs.microsoft.com/en-us/dotnet/core/deploying/#self-contained-deployments-scd
- https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21

**Net core publish output files**

- Interest for under the hood explanation

[2019-11-26 16:17] ling1726 opened #15987 "Clarification on TAP Task lifecycle"
*All other tasks begin their life cycle in a hot state, which means that the asynchronous operations they represent have already been initiated and their task status is an enumeration value other than TaskStatus.Created. All tasks that are returned from TAP methods must be activated. **If a TAP method internally uses a task’s constructor to instantiate the task to be returned, the TAP method must

[2019-11-26 17:50] sfoslund commented on #15518
Looks good overall- @KathleenDollard seems to have [a change](https://github.com/dotnet/docs/compare/KathleenDollard-patch-1) that will fix #9354. @KathleenDollard is that change ready to merge?

[2019-11-26 18:54] #15361 closed

[2019-11-26 19:45] nemrism commented on #15906
@tlhintoq Are you goingto create the according PR?

[2019-11-26 19:47] gewarren commented on #15709
@Youssef1313 Thanks for checking.

[2019-11-26 19:47] #15709 closed

[2019-11-26 21:30] gewarren commented on #13173
Thanks @sdmaclea. We do have [this section](https://docs.microsoft.com/en-us/dotnet/core/porting/net-framework-tech-unavailable#appdomains). Do you think further guidance is needed?

[2019-11-26 21:39] gewarren commented on #12812
@jaivsa Thanks for pointing this out. Fix is in progress.

[2019-11-26 21:45] gewarren commented on #12788
Thanks @SychevIgor . We should add links [here](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019) and [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md).

[2019-11-26 22:02] sdmaclea commented on #13173
That section seemed insufficient as we were getting lots of customer issues around porting to AssemblyLoadContext.

We have added lots of documentation in this area including #13799, #13960, dotnet/dotnet-api-docs#3056, dotnet/dotnet-api-docs#2549, dotnet/dotnet-api-docs#1975, dotnet/dotnet-api-docs#1353.

I am still not sure it is sufficient. We are still getting some customer issues.

/cc @vitek

[2019-11-26 23:31] gewarren commented on #15636
Two breaking changes added in #15955 and #15929.

[2019-11-26 23:31] #15636 closed

[2019-11-26 23:40] gewarren opened #15994 "Clean up .NET Core app compat section"
- rename to "breaking changes"
- add a 2.2-3.1 upgrade path file
- remove preview versions from selectors
- remove preview upgrade path files
- move WinForms topic to porting section of TOC

[2019-11-27 02:35] gewarren opened #15995 "Add in-article navigation to core compatibility docs"
Add in-article navigation to breaking changes articles for .NET Core, for example, https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.0-3.1. For inspiration, see https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes.

[2019-11-27 07:39] tchawla8 opened #15997 "Structs and shallow copy"
Structs are copied on assignment. When a struct is assigned to a new variable, all the data is copied, and any modification to the new copy does not change the data for the original copy. This is important to remember when working with collections of value types such as Dictionary&lt;string, myStruct&gt;.

I found this line confusing since it does not mention anything about shallow copy and when w

[2019-11-27 07:48] weitzhandler opened #15998 "Should we use this or DocumentFormat?"
Can you please clarify or mark the content obsolete and refer to [DocumentFormat](https://github.com/OfficeDev/Open-XML-SDK) from here, or state the differences between the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e71c189-c020-eb47-2862-e7890d6f19d7
* Version Independent ID: 6cf95735-bccb-5395-1f61-31094079

[2019-11-27 07:52] uranthos opened #15999 "option strict"
whats the type for this:
Dim writeline1 = Sub(x) Console.WriteLine(x)
when option strict is on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c990469-8bae-a58d-6b39-682bb50bcd49
* Version Independent ID: b29e59f9-24fb-4bee-88f1-fc4dcf5ad0a6
* Content: [Lambda Expressions - Visual Basic](https://docs.microsoft.com/en-

[2019-11-27 08:12] TobiasSekan commented on #12122
Hello,

When you extend the this documentation for `see langword` , please add the shortcut `CTRL+Space` for the auto-completion on langwords like `true`, `null` etc.

see https://github.com/dotnet/roslyn/issues/11489#issuecomment-289208450

thanks

[2019-11-27 10:10] ManishaTayal commented on #11907
Why is it compulsory for the extension method to be defined in static class?

[2019-11-27 12:13] samtrion commented on #15999
[System.Action<T>](https://docs.microsoft.com/en-us/dotnet/api/system.action-1)

[2019-11-27 12:15] sarathlalsaseendran opened #16001 "How to communicate a child component and parent component and vice versa"
Kindly guide me how to communicate between child component and parent component and vice versa. I am looking for @Input and @Output like parameters in Blazor. We are re-writing a production app from Angular to Blazor. Kindly help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c195c0-99f6-64f5-66a3-4e69109dc8ee
* Vers

[2019-11-27 15:09] BillWagner commented on #15987
Yes, we should standardize on "active Task" to match the enum names.

Yes, but that's not how I usually explain it. Most often, you'd call some method that starts a task (either some `*Async` method, or `Task.Run`).  Those tasks are active when returned. The primary reason to call `new Task(...)` is to create a task that hasn't started , enabling you to start it later.

[2019-11-27 15:11] BillWagner commented on #15999
Thanks for asking this question @uranthos

@samtrion has answered correctly. I'll close this as answered.

[2019-11-27 15:11] #15999 closed

[2019-11-27 15:13] BillWagner commented on #15997
Thanks for writing this @tchawla8 We should add more clarification here.

I've added it to our backlog to update when we next update this article.

[2019-11-27 15:48] mvelosop commented on #15966
Hi @raminrahimzada, thanks for the heads up! 😊

[2019-11-27 15:51] danroth27 commented on #16001
@sarathlalsaseendran To communicate from a parent component to a child component the parent can pass normal component parameters to the child component.

To communicate from a child component to a parent component there are a number of ways:
- The child component can expose an event or a callback that the parent subscribes to
- The parent component can provide a cascading value that the child comp

[2019-11-27 15:51] #15966 closed

[2019-11-27 16:15] mvelosop commented on #15670
Hi @wdicks, thanks for your feedback!

That sample you mention looks like a nice one for real applications.

The other one I've encountered several times is something like getting all possible values a status can have, to display user friendly names, or to build a select input with them.

In the case of eShopOnContainers it's used in the following code, for database seeding:

https://github.com/do

[2019-11-27 16:15] weitzhandler opened #16002 "Is there a way to make a range with number of elements?"
Hi,

I would like to take `x` elements starting with index 5, is this option supported by the new Range feature?

For instance:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdddc9e-3060-4a72-95fa-93f8a4b6b741
* Version Independent ID: a70329e0-1d30-2e54-e8b8-22f9733bd09f
* Content: [Ranges and indices - C# 8

[2019-11-27 16:21] weitzhandler commented on #16002
Oh actually that was easy:

[code]

[2019-11-27 16:22] #16002 closed

[2019-11-27 16:25] BillWagner opened #16003 "Update VB.NET landing page"
The VB.NET landing page needs to conform to the new format. As part of this update, the following content changes should be made:

- [ ] Highlight the "get started" journey
- [ ] Direct readers to the key content for VB.NET
- [ ] Highlight new and updated content.

This should be done by examining existing traffic. We need to highlight the most popular content, and the content we want to be more p

[2019-11-27 16:26] mvelosop commented on #15879
Hi @paulomorgado,

I would've thought that the first two sections, namely:

- [Issues with the original HttpClient class available in .NET Core](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net-core) and
- [What is HttpClientFactor

[2019-11-27 16:30] BillWagner opened #16004 "Update .NET (Standard) landing page"
The VB.NET landing page needs to conform to the new format. As part of this update, the following content changes should be made:

- [ ] Highlight the "get started" journey
- [ ] Direct readers to the key content for VB.NET
- [ ] Highlight new and updated content.

This should be done by examining existing traffic. We need to highlight the most popular content, and the content we want to be more p

[2019-11-27 16:33] BillWagner opened #16005 "Update .NET Core Landing page"
The VB.NET landing page needs to conform to the new format. As part of this update, the following content changes should be made:

- [ ] Highlight the "get started" journey
- [ ] Direct readers to the key content for VB.NET
- [ ] Highlight new and updated content.

This should be done by examining existing traffic. We need to highlight the most popular content, and the content we want to be more p

[2019-11-27 16:34] BillWagner opened #16006 "Update .NET Framework Landing page"
The VB.NET landing page needs to conform to the new format. As part of this update, the following content changes should be made:

- [ ] Highlight the "get started" journey
- [ ] Direct readers to the key content for .NET Framework
- [ ] Highlight new and updated content.

This should be done by examining existing traffic. We need to highlight the most popular content, and the content we want to b

[2019-11-27 16:49] sarathlalsaseendran commented on #16001
Thank you very much @danroth27 for the quick response.

[2019-11-27 17:43] Thraka opened #16009 "Update WPF Desktop Guide landing page"
The WPF Desktop Guide landing page needs to be updated to the new format.

[2019-11-27 17:57] #15978 closed

[2019-11-27 18:29] paulomorgado commented on #15879
@mvelosop, please point me to where it is mentioned that the issue is with the `HttpMessageHandler` and not with the `HttpClient` and where it is mentioned that you can/should dispose of the `HttpClient` returned by the factory.

[2019-11-27 19:02] EricRohlfs opened #16012 "Domain Driven Design"
Please add a entry for Domain Driven Design under the references. DDD is mentioned in the article but excluded from the references. New architects and developers can benefit from having a link to additional resources.
I've added a Microsoft link as a suggestion.
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/

---
#### Document Details

⚠ *Do not

[2019-11-27 20:45] Thraka commented on #15981
@djaus2 Thank you for opening this issue. We have another issue tracking this work, which we want to get to next month. I'm going to close this one as duplicate. This whole "deploying" area will be looked at as a whole. Thanks again.

[2019-11-27 20:45] Thraka commented on #15981
Duplicate of #15081

[2019-11-27 20:45] #15981 closed

[2019-11-27 23:02] #12812 closed

[2019-11-28 00:28] ldiablo commented on #15928
Is there any design documentation about Sn.exe? Maybe Microsoft has some design documents that would help provide better error messages. I was partly joking about the authors should be ashamed. If I wrote error messages like that at my company I would be crucified.

[2019-11-28 01:06] #15994 closed

[2019-11-28 07:36] OzBob commented on #15901
Powershell magic to the rescue:

Find-Package "dotnet-ef" -AllVersions -IncludePrerelease -ExactMatch | % {$_.Versions | % {$_.Version}}

[2019-11-28 09:38] AHLinJie commented on #12113
![image](https://user-images.githubusercontent.com/10792685/69794827-edae9700-1205-11ea-9dc7-81c0732bb18a.png)

[2019-11-28 09:41] AHLinJie opened #16023 "powershell auto complete not work"
![image](https://user-images.githubusercontent.com/10792685/69794988-3f572180-1206-11ea-9c5f-13bcb2b2da7a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 341f0255-aa31-8e76-9b17-1232b7a910a9
* Version Independent ID: f30f63dc-0d90-7dba-ef39-b0148c637c1a
* Content: [Enable tab completion - .NET Core CLI](https://doc

[2019-11-28 14:13] PhilPJL opened #16024 "The Reuse types in referenced assemblies"
You note above that this is important.  It is important and it would be great if it actually worked (as it does for .NET framework).  https://github.com/dotnet/wcf/issues/3812

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3e

[2019-11-28 14:41] redwyre commented on #14842
These also don't have uninstall entries, and by default go to the user folder instead of program files which are both different to the installer. Mixing the two creates a kind of Frankenstein monster install.

[2019-11-28 17:09] cartermp commented on #15755
@smoothdeveloper I think those are the right formatting defaults and a good explanation. Would happily accept a PR!

[2019-11-28 20:06] CeciAc opened #16027 "GZip issue"
@he1a2s0 commented on [Thu Nov 28 2019](https://github.com/dotnet/docs.zh-cn/issues/503)

On my machine(Windows 10 + .NET Core 3.0), I have to replace
[code]
with
[code]
to make the sample code work properly.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 3aeee012-d49e-e096-229c-44d38063b34f
* Version Independent ID: 86f4283b-fd68-22b5-c546-afe3c554d434
* Content: [

[2019-11-29 09:16] lllhhu opened #16104 "Unable to Load DLL 'tensorflow'"
Running the TransferLearningTF sample project on win server 2008 R2 has failed to Load DLL 'tensorflow', but has no problem running on Win7

[2019-11-29 11:07] robberry opened #16030 "Incorrect package referenced for ASP.NET Core Runtime"
In the ASP.NET Core Runtime section the package installed via YUM is the .NET Core Runtime.  The package should be "rh-dotnet30-aspnetcore-runtime-3.0", therefore:

yum install rh-dotnet30-aspnetcore-runtime-3.0 -y

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666b79de-bce8-4180-3ddf-b1806d3f3605
* Version Independent

[2019-11-29 16:31] mvelosop commented on #15879
Fair enough @paulomorgado, you're right, that's explained in the linked pages, but not here.

Will include those points in the article!

[2019-11-29 16:34] #13770 closed

[2019-11-30 08:22] Youssef1313 opened #16034 "Consider adding more examples"
Specially under the "Avoid writing to shared memory locations". An example that shows a race condition would be really good to understand this concept.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e37b6593-8529-3660-9d33-67be0f074834
* Version Independent ID: dbb274ac-6205-26ff-8017-aeccf772888a
* Content: [Potential

[2019-11-30 08:51] Youssef1313 opened #16035 "Article about WithDegreeOfParallelism"
The `WithDegreeOfParallelism` method is documented in the dotnet/dotnet-api-docs repo, but I'm expecting to see any article that uses it and tells about some details about it.

[2019-11-30 17:35] smj389 opened #16038 "ValueOption Module now has more functions"
This article has not been updated for F# 4.6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ed57d5-cd44-619c-36e9-fe8b72388119
* Version Independent ID: 8efaa7c4-b5fc-be4c-0063-0b5660bafec4
* Content: [Value Options - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/value-options#feedback)
* Con

[2019-12-01 02:32] VikoRifeo opened #16040 "How long is LowLatency suitable for?"
I assume it's implementation-dependent, but there must be a reliable rule of thumb.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcebd46-8a64-9531-f6e1-3a330b61bb0f
* Version Independent ID: 7538a252-8fa8-4615-92df-f1c6d7d6a3e4
* Content: [Latency Modes](https://docs.microsoft.com/en-us/dotnet/standard/garbage-colle

[2019-12-01 17:39] tmds commented on #15857
Should I add a TargetLatestDotNetRuntime false to my csproj?

@KathleenDollard can you answer these two questions?

[2019-12-02 01:35] Thraka commented on #15857
@wli3 may know also

[2019-12-02 01:57] #15873 closed

[2019-12-02 02:57] DarinFlippo opened #16041 "Example 3 is wrong"
It claims to generate a default namespace and root tag, but the code produces a root tag with a namespace.  It's a duplicate of Example 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525bf456-96f9-3ec5-baa7-231213dff194
* Version Independent ID: e34d6fbd-8233-edcc-d253-def34d2c324f
* Content: [How to create a docume

[2019-12-02 06:17] programeralex opened #16042 "Link does not open"
Task-Based Asynchronous Pattern link fails to open

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de7019da-9f64-1dbe-0f5a-f3d0d167a693
* Version Independent ID: 65266630-6aab-8647-beeb-1abac1c5d97e
* Content: [Await Operator - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/operato

[2019-12-02 07:08] Youssef1313 commented on #16042
Found that file using WayBack Machine. It's a word document written by @StephenToub.

[TAP.docx](https://github.com/dotnet/docs/files/3909851/TAP.docx)

@mairaw, Should this be uploaded somewhere and be linked in the article. I'd also like to check if @StephenToub can review the content and check if there is any outdated information because the file is written 7 years ago.

[2019-12-02 09:49] stephentoub commented on #16042
It's still here:
https://www.microsoft.com/en-us/download/details.aspx?id=19957

What part in particular are you concerned about being outdated?

[2019-12-02 10:04] Youssef1313 commented on #16042
Thanks for the link, I opened a PR with the link you provided.

I didn't mean a specific part, just in general as I noticed this file is old.

[2019-12-02 10:41] dazinator commented on #14834
:-/ help! So what's the difference between `GetFallbackPolicyAsync ` and `GetDefaultPolicyAsync` ?

[2019-12-02 15:02] BillWagner commented on #15974
closing and unpinning.  I hope everyone enjoyed the time off.

[2019-12-02 15:02] #15974 closed

[2019-12-02 15:07] dazinator commented on #14834
Found some relevent comments on [stack overflow](https://stackoverflow.com/questions/56688483/asp-net-core-3-implement-iauthorizationpolicyprovider)

[2019-12-02 15:10] cjjohansen opened #16044 "Labeling the web.api project part of application layer in fig 7.5 is misleading."
Labeling the web.api project part of application layer in fig 7.5  is misleading.

One goal isn DDD layering is to keep the Domain Model ignorant of technical/infrastructure concerns. According to Clean architecture and PortsAndAdapters architecture ApplicationLayer is part of the  Domain Model.

Since a Web or Webapi project referencees alot of technical libraries and deals with infrastructure co

[2019-12-02 17:09] BillWagner commented on #16041
Thanks for writing this up @DarinFlippo

I've added it to our backlog, to address when we next update this article.

[2019-12-02 17:52] weitzhandler commented on #7261
There should be clear style guidelines when to use pascalcasing and when camelcasing.

[2019-12-02 19:02] BethMassi opened #16046 "Update .NET Core getting started docs to VS2019"
https://docs.microsoft.com/en-us/dotnet/core/get-started - all docs currently say/show Visual Studio 2017. These need to be updated to Visual Studio 2019

List of high-pri articles to be updated:

- [x] https://docs.microsoft.com/en-us/dotnet/core/get-started
- [x] https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio
- [x] https://docs.microsoft.com/en-us/dotnet/core/tutorials

[2019-12-02 19:13] MikeCheel opened #16047 "Null conditional operator when accessing non-existent index"
There should be a note explaining that accessing a non-existent array member still throws an IndexOutOfRangeException instead of returning null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a25abe4-2b4e-119e-85e9-af19ed06e8c0
* Version Independent ID: 682b8c86-e49a-1d6d-8562-c9f919082bdc
* Content: [Member access op

[2019-12-02 19:16] Thraka commented on #12954
Sent email

[2019-12-02 19:19] #15951 closed

[2019-12-02 19:50] Thraka commented on #15859
FDD would need the runtime installed for sure, but SCD shouldn't.

@scottaddie Does ASP.NET Core apps need the hosting bundle installed even if you deploy as SCD?

[2019-12-02 19:58] Thraka commented on #12113
@AHLinJie Please open up new issues.

You need to change your execution policy to allow scripts to run. `Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine` see [this](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-6#inputs) for more information.

[2019-12-02 20:26] BillWagner commented on #14824
Moving this milestone to January 2020, based on the pace of progress so far.

@Thraka do you agree?

[2019-12-02 20:27] BillWagner commented on #14825
Also moving to the January milestone, based on the current pace of progress

/cc @Thraka .

[2019-12-02 20:54] Thraka commented on #16030
@robberry Can you confirm that the command actually works? From talking to the Red Hat folks, it seemed that they had a single package that installed both the .NET Core runtime and the ASP.NET Core runtime, so the command was the same for both flavors. I'm going to follow up with them again in email just to make sure.

[2019-12-02 21:00] #6041 closed

[2019-12-02 21:07] scottaddie commented on #15859
@shirhatti Any ideas on this one?

[2019-12-02 21:21] scottaddie commented on #14834
@HaoK See the question about the difference between the 2 methods.

[2019-12-02 21:24] shirhatti commented on #15859
SCD for .NET applications (including ASP.NET Core applications do not require any additional dependencies such as the hosting bundle).

Hosting ASP.NET applications in IIS, SCD or FDD require changes to IIS. The hosting bundle contains the IIS component required (IIS native module- ANCM) and .NET runtimes. There is no way around this. You need the IIS module to allow you to host ASP.NET Core appli

[2019-12-02 21:32] guardrex commented on #15859
We cover the switches in the hosting bundle installer section ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.0#install-the-hosting-bundle

@shirhatti, would you like it to specify which switches to use for SCD-only. For `OPT_NO_RUNTIME=1` and `OPT_NO_SHAREDFX=1`, we can add ...

[2019-12-02 22:29] #15915 closed

[2019-12-02 22:37] BillWagner commented on #16046
Assigned to @mairaw and I for now. We can more to someone else, if appropriate.

[2019-12-02 22:37] gewarren commented on #16040
@Maoni0 Is there a rule of thumb for how long the low latency mode is suitable for?

[2019-12-02 23:35] Thraka commented on #16030
I heard back from RH and they do have different packages for each type, so I'll update this.

Related to #15948

[2019-12-02 23:43] mairaw commented on #16046
Thanks @BethMassi. This has been on my backlog but I didn't have a tracking issue. We also want to make sure it matches the content for the videos /cc @JaySing

[2019-12-02 23:54] wli3 commented on #15857
You should add TargetFrameworks. There is no automatic roll forward.

Are you referring to "RollForward" property? https://github.com/dotnet/sdk/pull/3296

Just like any framework dependent deployment, you should test your application when you change TargetFramework. If you set RollForward, it will roll forward whenever there is a new runtime. And you will have the risk of your existing tools cann

[2019-12-02 23:55] pkeir opened #16049 "Error with early open keyword in Get Started with F# in Visual Studio Code"
In the "Get Started with F# in Visual Studio Code" article, the use of `namespace ClassLibraryDemo`, "below the open System declaration" causes `System` to be red-underlined, along with the problem: "Only '#' compiler directives may occur prior to the first 'namespace' declaration F# Compiler (530)".

Is there an error in the tutorial, or perhaps my setup is wrong?

---
#### Document Details

⚠ *D

[2019-12-03 00:37] mairaw commented on #16042
@JasonCard I've fixed the Fwlink for en-us to go to the right location but I've noticed that are loc clones for those. Is your team responsible for updating those?
Link ID is 20484.

[2019-12-03 00:42] #16042 closed

[2019-12-03 01:06] BillWagner opened #16053 "Update .NET Hub page"
The main .NET page needs a refresh. The .NET Core 3.1 release is the right time for it. We have new workloads, it's an LTS release, and it sets us on the road toward .NET 5.

[2019-12-03 01:25] mairaw opened #16054 "Update .NET Architecture Guide landing page"
The .NET Architecture guide needs to conform to the new format:
https://docs.microsoft.com/en-us/dotnet/architecture/

/cc @nishanil

[2019-12-03 01:42] mairaw commented on #15455
Thanks for your feedback @darealagung. @shirhatti can you look at this?

[2019-12-03 01:43] mairaw commented on #15464
Thanks for your feedback @win32nipuh. @shirhatti can you look at this feedback?

[2019-12-03 01:52] BillWagner commented on #1143
@cartermp This has languished. What should be the next steps?

[2019-12-03 01:53] BillWagner commented on #2855
The related project has been closed. Closing this issue.

[2019-12-03 01:53] #2855 closed

[2019-12-03 02:06] BillWagner commented on #15284
I renamed "example-request" to "sample-code" and removed the repo label.

[2019-12-03 02:47] BillWagner commented on #15284
All the outdated labels have been addressed.

Closing this.

[2019-12-03 02:47] #15284 closed

[2019-12-03 03:19] gewarren commented on #10594
Dupe of #10592.

[2019-12-03 03:19] #10594 closed

[2019-12-03 03:24] gewarren commented on #10471
The original question has been answered, so I'm closing this issue.

[2019-12-03 03:24] #10471 closed

[2019-12-03 05:39] mairaw commented on #16059
Transferring this back to dotnet/docs. This is about the notes on the conceptual docs.

[2019-12-03 06:00] mairaw commented on #16060
Transferred back to dotnet/docs. This is about new conceptual content related to assembly loading for Core.

[2019-12-03 07:25] rubbalbhusri opened #16061 "Are static methods allowed in Interfaces nowadays ?"
I've read in a post at stackflow at the following link:
https://stackoverflow.com/questions/259026/why-doesnt-c-sharp-allow-static-methods-to-implement-an-interface
and also at the following the link:
https://dotnetfiddle.net/Lrzy6y
It's written that in C# version 8.0, static methods are allowed in an interface. Please confirm, is it so? if so, then it needs to be mentioned in this article as well

[2019-12-03 07:47] mairaw opened #16062 "Dupe content"
@Thraka while reviewing a PR tonight, I realized that the content in this article is duplicated of what we already had in https://docs.microsoft.com/en-us/dotnet/core/versions/remove-runtime-sdk-versions?tabs=windows#determine-what-is-installed. We should decide what to do about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-03 08:25] tmds commented on #15857
I was referring to this:

https://github.com/aspnet/EntityFrameworkCore/blob/0d76bbf45a42148924b413ef8f37bf49c1ce10d3/src/ef/ef.csproj#L14

but I guess that's a no-op?

Do tools have require a minimal patch version of the runtime? Or will they work on any patch version?

[2019-12-03 09:24] robberry commented on #16030
Great @Thraka - thanks for following that through with Redhat and updating the docs.

[2019-12-03 09:24] #16030 closed

[2019-12-03 09:59] #14801 closed

[2019-12-03 10:03] mairaw commented on #14701
@BillWagner should this be assigned to you and December milestone?

[2019-12-03 10:10] crgarcia12 opened #16066 "Default compilation includes does not work if your path has '%'"
We had a git repo with a space, that translated into a % and then this was not working. It took us quite some time to be able to troubleshoot. You should include a warning in this section:
https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-03 10:11] mairaw commented on #15703
We typically cover these sort of changes in the API docs. I think we should move this to the dotnet-api-docs repo since the breaking change doc was done specifically to cover some Winforms scenarios (you can see see it has already been moved and modified to make that more clear).

[2019-12-03 10:17] Krzysztof-Cieslak commented on #1143
`Debugging the code` is not done yet.

[2019-12-03 10:25] WrongBit opened #16067 "Last index is... ^1???"
Every programming child knows - array elements start from index 0.
If you "reverse" your view and stay at the end of array, your first element is... right - at index 0! So what is that clown who decide that "^1" is a good index for the last element???
"^" is the sign: count elements from end, not from start. Nothing more. If you cannot understand it, never introduce such features!

[2019-12-03 11:40] BillWagner commented on #16067
This was discussed and debated in the C# language design meetings for months. There are valid arguments for ^0 and ^1 being the last element. The samples in [this article](https://docs.microsoft.com/dotnet/csharp/tutorials/ranges-indexes) explain the reason for the chosen behavior.

Closing as product question, and answered.

[2019-12-03 11:40] #16067 closed

[2019-12-03 12:13] BillWagner commented on #16061
thanks for pointing this out @rubbalbhusri

This is related to #12489 It should be fixed as part of that work.

[2019-12-03 12:15] BillWagner commented on #16047
Thanks for writing this @MikeCheel

I've added it to our backlog, to address when we next update this article.  I've also added the "up for grabs" label, for community members who wish to submit a PR for this issue.

[2019-12-03 13:32] rubbalbhusri commented on #16061
I've noticed you @BillWagner saying in #12489 that Interfaces are now changing and they'll also include method implementations. Is it True? It'll be great if you can point out all such changes that have come in Interfaces.

[2019-12-03 13:47] WrongBit commented on #16067
I see no any correspondence between "arr.Length" and "^" symbol. ESPECIALLY when you use it with indexes: "arr.Length5" - sorry WHAT is that? (it's long form of your "^5")
Adequate people look at "^" sign as "count from other side of array". So I stay at the last element and using "^0" I "shift" on 0 elements and take one.

a[0] - first element. a[^0] - last element. Logical as 2x2=4. What mind yo

[2019-12-03 13:48] BillWagner commented on #16061
@rubbalbhusri Here are two tutorials that describe the new features in interfaces:

- [version interfaces with default interface members](https://docs.microsoft.com/dotnet/csharp/tutorials/default-interface-methods-versions)
- [create mixin functionality with default interface members](https://docs.microsoft.com/dotnet/csharp/tutorials/mixins-with-default-interface-methods)

I'll be updating the l

[2019-12-03 13:50] pkulikov commented on #16047
The current doc already contains that information implicitly. It says that `?[]` performs an element access, while the section about element access describes the behavior in the case of non-existent index.

[2019-12-03 14:02] rubbalbhusri commented on #16061
My other question to you @BillWagner is: What is the need arisen for interfaces to have static members? and in another post, I saw that now interfaces are also allowed to have private and protected members. Why such changes are brought up? What kind of scenarios are coming where private and protected members will be required? Please share some examples to support the need of static, private and pr

[2019-12-03 14:04] BillWagner commented on #16061
The best information we have published today is the [feature spec](https://docs.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-8.0/default-interface-methods) for default interface members. We're working on updating the other material for this feature.

[2019-12-03 14:15] BillWagner commented on #16047
@pkulikov I agree that the information is there. It could be more visible. It's not urgent, but it's a reasonable request.

[2019-12-03 14:18] eshaseth opened #16069 "Will Web Forms ever be supported by .NET Core 3.0+ in VS 2019?"
I have an enterprise level web app based on Windows  Web Forms and Ajax and it runs on .NET Framework 4.5.1
I need to make it compatible to run on Linux and Windows(cross-platform), hence need to port to .NET Core 3.0.
Do I need to rewrite using Razor Pages(chtml,cs,js) or will Web Forms (aspx, cs and js) ever be supported by .NET Core 3.0? Also what should be used for AJAX in .NET Core 3.0 that w

[2019-12-03 15:13] rubbalbhusri opened #16070 "Why static classes cannot implement interfaces?"
It's written here in this article that static classes are not allowed to implement interfaces, however, it's not explained why it's made so? Can you @BillWagner elaborate more on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97db038-978f-fff3-4e68-110619dc86f2
* Version Independent ID: 3c933595-0ec1-2632-55c9-9

[2019-12-03 15:24] binki commented on #6063
Even though readers will automatically close the `Stream` passed to them by default, the code examples for this documentation page are a bit haphazard with regard to ensuring that the `FileStream` objects are disposed. During refactoring, the developer might add lines between `var fs = new FileStream()` and `using (new StreamReader(fs)){}`. It would be better if the code were structured to avoid t

[2019-12-03 15:32] binki opened #16072 "Page with title “Compose streams” is missing an example of Stream composition"
This page states that one can compose `Stream` objects together in a chain/pipeline. However, it does not give a concrete example.

This page does have examples of adapting `Stream`s to `TextReader`s by using `StreamReader` and `BinaryReader`. But no example of wrapping one `Stream` object with another.

In the text, I see:

&gt; Note that FileStreams are buffered by default.

It seems that the au

[2019-12-03 16:50] Thraka commented on #16069
Hello @eshaseth

Your questions are better suited for the ASP.NET Core teams. I did a little search and found this lengthy discussion <https://github.com/aspnet/AspNetCore/issues/1961>. There doesn't seem to be any plans to port WebForms. Many alternatives and tools to help port are suggested though. Additionally, it's pointed out that you can run it cross-platform in Mono.

[2019-12-03 16:50] #16069 closed

[2019-12-03 16:55] tdykstra commented on #16066
@crgarcia12 Thanks for pointing that out. I'm putting this on our backlog and we'll leave the issue open until it's addressed.

[2019-12-03 17:43] Thraka commented on #16062
Hrm.. changing the TOC entry from `Setup` to `Install` kind of excludes including `Uninstall` instructions 😢  I do think that all of these management tasks related to install/uninstall/versioning are fit to be together though. Perhaps we should change the TOC entry title to be more inclusive to these tasks and then include all of the versioning articles? I kind of have a task related to this in
 #

[2019-12-03 17:48] danmosemsft commented on #15703
@PriyaPurkayastha can you advise? This should be in the API docs linked above, yes, but it should also be in some grand "breaking changes from .NET Framework" topic and @PriyaPurkayastha was figuring out which that topic is.

This breaking change has come up numerous times so it should certainly be in such a centralized topic.

[2019-12-03 18:10] #11069 closed

[2019-12-03 18:18] PriyaPurkayastha commented on #15703
I am working on a strategy to document .NET Framework->.NET Core breaking changes. There will be three aspects - finding existing documentation for APIs throwing PNSE(or generating a new list if the old list is no longer available), adding link to .NET Framework tech not available in .NET Core and adding new breaking changes(such as this Process.Start one) for newly created GitHub issues that are

[2019-12-03 19:02] wli3 commented on #15857
It should be a no-op for other projects. It should be an internal property for EF repo's build system.

Depends on target framework. We try to require the lowest compatible runtime version. Some of them are hard coded due to historical release. But mostly it is the MAJOR.MINOR.0 version of the runtime.

The current list (this would change)

[code]

You can reference the test

https://github.com/do

[2019-12-03 19:21] #11787 closed

[2019-12-03 19:39] gewarren opened #16075 "GC config knobs - two suggestions"
Regarding https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector:

Feedback 1: I recommend adding an example of the config at the bottom, e.g. web.config, runtimeconfig.json (e.g. to answer "where in the JSON/.config does this go?")

Feedback 2: In the hex examples like "1D4C0", IMO "0x1D4C0" is a better/clearer recommendation

See https://twitter.com/Nick_Craver/status/120

[2019-12-03 19:42] Thraka commented on #16023
You need to change your execution policy to allow scripts to run. `Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine` see [this](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-6#inputs) for more information.

[2019-12-03 19:42] #16023 closed

[2019-12-03 19:47] JasonCard commented on #16042
@mairaw Thank you for checking. I'll follow up to check if any action is needed for loc.

[2019-12-03 19:55] tmds commented on #15857
Thank you @wli3 , this is the info I was looking for.

[2019-12-03 20:14] sbrockway commented on #1575
We get serialization for free with anonymous types in ASP via the framework. Do we get tuple serialization for free as well?

[2019-12-03 20:31] paulbatum opened #16081 "LTS migration guide (2.1 -> 3.1)"
There are already some good guides for migrating across each minor version bump, and these guides are important for customers that want to stay on the "bleeding edge".

It would be great to have a document that covers LTS -> LTS migrations, 2.1 -> 3.1 being a prime example. If the desired customer action is to have them walk through each guide in turn, simply having a doc that states this would al

[2019-12-03 20:37] paulbatum commented on #16081
Just realized I wasn't very clear - I wrote this issue looking at the ASP.NET core migration guidance e.g
https://docs.microsoft.com/en-us/aspnet/core/migration/30-to-31

But really I think this content is required for both .NET Core and ASP.NET Core.

To make matters worse, for .NET Core it seems like there is no migration guide beyond 2.0 to 2.1:
https://docs.microsoft.com/en-us/dotnet/core/migr

[2019-12-03 20:49] mairaw commented on #16046
I've added a prioritized list above. I've started a release branch for this because a lot of the Core tutorials are intertwined. Other minor updates I'm making directly to master.

Articles I didn't add to the list above:
- Desktop tutorials in the framework folder (/cc @Thraka)
- Architecture guide pages - there are a few e-book articles that still cover VS 2017. @nishanil would have to comment o

[2019-12-03 20:53] mairaw commented on #16046
@cartermp I've added some F# articles to the list but let me know if you'd prefer a separate issue for those.

[2019-12-03 20:56] LarsPedersen commented on #14925
It seems that `.AddMvcRazorRuntimeCompilation`  should be `AddRazorRuntimeCompilation`

[2019-12-03 22:36] mairaw commented on #16081
Thank you for your feedback @paulbatum.

Yes, there are open issues for that and a PR in progress (#14471) for the previous versions.

We weren't really planning to add one from LTS to LTS, especially for .NET Core because there's not a lot between each version. This might be related to the breaking changes docs changes we were discussing @gewarren.

@Rick-Anderson @scottaddie to comment on the re

[2019-12-03 22:42] gewarren commented on #16081
LTS == long-term support release.

[2019-12-03 22:46] paulomorgado opened #16084 "Link to CLR Profiler broken"
In the **TraverseHeap** documentation, the link to the CLR Profiler (https://go.microsoft.com/fwlink/?LinkID=67325) is broken.

I found this (https://www.microsoft.com/en-us/download/details.aspx?id=16273), but I don't know if it's the latest one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e01c075-7a07-5850-d462-7

[2019-12-03 22:49] BethMassi commented on #16046
@nishanil let me know what guides need updating and we can get those commissioned via the vendors if necessary.

[2019-12-03 23:07] JamesNK opened #16085 "Add conceptual documentation for System.Threading.Channels"
System.Threading.Channels has [API docs](https://docs.microsoft.com/en-us/dotnet/api/system.threading.channels?view=netcore-3.0), but there is no high-level documentation about what it is, why and when it is useful, how to use it correctly, etc.

System.Threading.Channels is a complex set of APIs and really needs conceptual docs to help developers be successful with it.

There is some quality comm

[2019-12-03 23:11] paulomorgado opened #16086 "Broken example formatting"
The example for **ThreadState** has its formatting broken.

And it doesn't seem to have an up to date output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e01c075-7a07-5850-d462-706675b545f1
* Version Independent ID: 0dd6c661-01a1-592c-ea53-8427412ff8d0
* Content: [SOS.dll (SOS Debugging Extension)](https://docs.mic

[2019-12-03 23:13] Thraka commented on #16072
I don't think that is true. At least I've never come across this functionality. I think when the author used the word "chain", they were just trying to indicate that you are chaining these objects to end up with a reader/writer:

`MemoryStream > StreamReader`

I think it's a poor choice of word.

[2019-12-03 23:32] mairaw commented on #16046
Adding @gewarren to the effort as well.

[2019-12-03 23:40] binki commented on #16072
@Thraka Yeah, that is exactly the example the article is missing—an example of wrapping multiple streams to perform transformations or add features (e.g., buffering (though it doesn’t make logical sense to add buffering to a `MemoryStream`)). That is an example of `Stream` composition. It even looks a lot like mathematical function composition. E.g., `using (var stream = new SomeCustomWrappingStre

[2019-12-03 23:44] mairaw commented on #16084
Thanks for your feedback @paulomorgado.

@vivmishra @terrajobst @tommcdon who could help me find out where is the latest version of CLR Profiler?
In addition to the one that Paulo linked to in the downloads site, there seems to be this one:
https://github.com/microsoftarchive/clrprofiler/releases

[2019-12-04 00:37] shirhatti commented on #15464
The following lines only define the nested message type `Attributes`. The field number number for values only applies in the context of the `Attributes` message.

[code]

The field number used in a message should not be re-used in the same message. However, fields in different messages can have the same field number. Hence, the field number for the `attributes` field is perfectly legal in the `Ord

[2019-12-04 01:05] merriemcgaw commented on #13751
@vatsan-madhavan @rladuca is this on your side? It's not WinForms.

[2019-12-04 01:06] merriemcgaw commented on #13893
Yep, I've been chatting with @Thraka today in fact.

[2019-12-04 01:09] merriemcgaw commented on #11976
We can simply add a note that this is the case. I don't foresee us finding a way to change that - it's coming from Windows at this point.

[2019-12-04 01:12] mairaw commented on #16086
I don't have SOS configured right now. Do you have an up to date output I could use to update the article?

/cc @vivmishra who could help me to get an updated output for the ThreadState example?

[2019-12-04 01:16] mairaw commented on #10344
@karelz @davidsh can you help with these questions about \<specifiedPickupDirectory>?

[2019-12-04 01:18] Thraka commented on #16072
Ok. i'll add this to our backlog. If you would like to work on contributing an example, please feel free to do so. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub. Source code for the article is located in the [samples rep

[2019-12-04 02:34] tommcdon commented on #16084
Adding @brianrob and @PeterSolMS who might have know where the latest version of CLR Profiler is now.

[2019-12-04 02:36] usysware commented on #13840
Just ran into that myself too. Took a bit of sleuthing to figure it out. Add the following property to your .csproj and it should do the trick:

<ComputeNETCoreBuildOutputFiles>false</ComputeNETCoreBuildOutputFiles>

Note that the above property should be enclosed within some <PropertyGroup>. HTH.

[2019-12-04 03:01] gewarren opened #16088 "System.Net.Http.UseSocketsHttpHandler setting not available for .NET 5"
Update https://docs.microsoft.com/en-us/dotnet/core/run-time-config/networking to note that the `System.Net.Http.UseSocketsHttpHandler` setting is removed for .NET 5.

[2019-12-04 03:12] #15752 closed

[2019-12-04 03:13] #9244 closed

[2019-12-04 03:13] #9785 closed

[2019-12-04 03:16] Rick-Anderson commented on #16070
There's good answers to this question on SO that wouldn't fit into the doc.

[2019-12-04 03:16] #16070 closed

[2019-12-04 03:18] codecolony commented on #12612
Hello,

I've a very basic question here. If I have a TF model already, do I always need to to transfer learning in order to use it in ML.net? All the examples here point to that way of model consumption. Can you point me to an example where I can do object detection using MobileNet TF model with just loading the model and doing inference with an example image?

[2019-12-04 03:18] #15850 closed

[2019-12-04 03:19] Rick-Anderson commented on #16075
@gewarren  don't you want to create an integrated issue so this is visible from the doc page?

Go to the bottom of the page and select **This page** .

![image](https://user-images.githubusercontent.com/3605364/64829663-24b7c980-d582-11e9-983b-f2a8f4b4df09.png)

[2019-12-04 03:22] CESARDELATORRE commented on #12612
@codecolony - No, of course you don't need Transfer Learning and training if you just want to use a TF model (score/inference).

You can load any ONNX or TensorFlow model in ML.NET and use it (score, inference with it).
But it is not as simple as when loading an ML.NET .zip file model since you need to provide additional parameters needed by the DNN.

See TensorFlow examples here, just for scoring

[2019-12-04 03:22] Rick-Anderson commented on #16075
Normally you can convert an issue to integrated by opening an open or closed issue and copying the metadata. This page doesn't have any issues to copy.

[2019-12-04 03:24] gewarren commented on #16075
Good idea - I'll try and remember that next time!

[2019-12-04 05:02] codecolony commented on #12612
Hi @CESARDELATORRE !,

Thanks a lot for quick response and sharing all the relevant info.
I've been through similar examples earlier but I still have the following confusion. Would be great if you can help me understand a few concepts related to the interfaces working with ML.Net.

1. Why do we have pipeline.fit(data) statement in the above links? It's forcing me to fit data with labels and in my

[2019-12-04 05:36] PicaPicaLX opened #16090 "download slow"
download so slow!
ip:202.201.9.67
Ubuntu server 18.04.3 LTS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f33bad-b152-c53b-1b0a-234c9a075bd7
* Version Independent ID: 565e7432-c4b3-a1c2-8ce3-c8c1a0d8ebe8
* Content: [Install .NET Core on Ubuntu 18.04 package manager - .NET Core](https://docs.microsoft.com/en-us/dotne

[2019-12-04 05:42] mairaw commented on #16090
@leecow @richlander not sure if there's anything that can be investigated here re. download speed? If you're still experiencing issues, I'd recommend you open an issue at https://github.com/dotnet/core/issues.

I'm closing this issue because it's not related to the content.

[2019-12-04 05:42] #16090 closed

[2019-12-04 05:44] mairaw opened #16091 "What's new in .NET Core 3.1"
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/

@Thraka is this something you can take care of for the release?

/cc @richlander

[2019-12-04 07:17] KamranShahid opened #16094 ".net core 3.1 released related updated document"
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804

Document seems to be using old stuff. kindly update it with .net core 3.1 related stuff

[2019-12-04 08:11] Oleg26Dev commented on #15464
@shirhatti Thank you, now it is clear.

[2019-12-04 10:17] paulomorgado commented on #16086
I've got this:

[code]

Adding an explanation for all the sates would be nice too.

[2019-12-04 11:15] PhilipHassialis opened #16098 "Ubuntu 18.04 in WSL1, Unable to locate package dotnet-sdk-3.1"
Hello,

I have tried every path in this page, even the "Unable to locate package" commands (the last bunch of them, where you start by installing gpg). Unfortunately, when I try to "sudo apt-get install dotnet-sdk-3.1" I always get the following responses:

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-3.1
E: Couldn'

[2019-12-04 11:18] PhilipHassialis opened #16099 "Are 3.1 requirements the same as 3.0?"
If not can you at least update the page with a ".Net Core 3.0/3.1" title on the tab?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0f01627e
* Content: [.NET Core SDK and runtime dependencies - .NET Core](https://docs.microsoft.c

[2019-12-04 11:38] tomnuen commented on #16098
Yes. I also have similar issue.

[2019-12-04 11:46] ogswr commented on #16098
Me, too, When will it be available? I'm thinking about whether to manually install it.

[2019-12-04 11:53] roduman commented on #16098
When will version 3.1 be available?

[2019-12-04 12:04] hdnebat commented on #16098
seems all Linux distributions don't have 3.1 yet

[2019-12-04 12:18] hdnebat commented on #16098
sudo snap install dotnet-sdk --classic
is working

[2019-12-04 12:59] #16003 closed

[2019-12-04 13:45] RehanSaeed opened #16100 ".NET Core 3.1?"
There are no instructions for installing .NET Core 3.1. Also doing `apt search dotnet-sdk` does not show any 3.1 package as being available to install:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f33bad-b152-c53b-1b0a-234c9a075bd7
* Version Independent ID: 565e7432-c4b3-a1c2-8ce3-c8c1a0d8ebe8
* Content: [I

[2019-12-04 14:17] #14522 closed

[2019-12-04 14:18] #16038 closed

[2019-12-04 15:00] scottaddie commented on #15859
Closing, as this issue was addressed in https://github.com/aspnet/AspNetCore.Docs/pull/15949.

[2019-12-04 15:00] #15859 closed

[2019-12-04 15:54] ElanHasson opened #16102 "Arithmetic simplification example is confusing"
The Arithmetic simplification example is confusing and doesn't seem to be a complete example.

Can the example be clarified any further?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3f3f52-86a5-4cc9-ab1f-874cad72b821
* Version Independent ID: f69dc2c8-79bc-300c-5804-e1f7aa5c8352
* Content: [Pattern matching - C# 7.

[2019-12-04 16:03] mightyshazam commented on #16098
If you don't want to use the snap installation, you can also download the binaries and extract them to the proper directory.
``sudo tar -xvf dotnet-sdk-3.1.100-linux-x64.tar.gz -C /usr/share/dotnet/``

[2019-12-04 16:04] scottaddie commented on #14925
@LarsPedersen You're correct. Thank you for bringing this to our attention.

[2019-12-04 16:21] Thraka commented on #13840
@usysware Thank you for that info! We're looking at redoing the deployment article set and I'll add this information to that bug.

[2019-12-04 17:57] leecow commented on #16099
@Thraka

[2019-12-04 18:20] CESARDELATORRE commented on #12612
For #1:
ML.NET is always based on a pipeline in order to create a model.
In this case you are not fitting data, you call Fit() simply to be able to create a "wrapper model" around the TF or ONNX model. That's why you only need to call Fit() once per application, to create kind of a singleton object instead of doing that "per request or per prediction".

Take a look to the ASP.NET Core app that is

[2019-12-04 19:14] elvaliuliuliu commented on #15344
@aruntyagiTutu Thanks for your question. Could you provide more details
 (such as command you use, a snippet of code you run, and the full log) for us to better troubleshoot? Thanks!

[2019-12-04 19:21] scottaddie commented on #16081
This is a wonderful idea. I created https://github.com/aspnet/AspNetCore.Docs/issues/16020 to track the ASP.NET Core work.

[2019-12-04 19:34] mairaw commented on #16104
@natke this seems related to a ML.NET sample

[2019-12-04 19:36] JasonCard commented on #16042
@mairaw I found that only English version is available for that download, so no action is needed for loc. You mentioned that previous FWLink (https://go.microsoft.com/fwlink/?LinkId=204847) was cloned for loc, but I actually could not find it anymore in this [Aka Link Management Tool](https://redirectiontool.trafficmanager.net/am/redirection/home?options=host:go.microsoft.com). Can you still find

[2019-12-04 19:39] mairaw commented on #16105
Thanks for your feedback @jpierson. This weird structure was introduced by migrating the samples from MSDN to docs.microsoft.com. But I agree that it makes hard to find the equivalent samples.

Tagging @Thraka and @BillWagner to this issue since they're looking into our CI in the samples repo.

The reason why we split them that way is because we thought that setting up the CI per language would be

[2019-12-04 19:41] mairaw commented on #16106
Thanks @hey-hoho for your feedback.

@vitek-karas can you help with these questions about the AppWithPlugin sample?

[2019-12-04 19:44] mairaw commented on #16042
Yep, still see them
![image](https://user-images.githubusercontent.com/12971179/70175399-7ce6ff00-168b-11ea-96f8-4d8838d70e29.png)

[2019-12-04 19:54] JasonCard commented on #16042
Thank you for the screenshot. I guess I don't have the permission to see those. Since those cloned FWLinks are no longer needed, I'll request our loc vendor to remove them.

[2019-12-04 19:54] mairaw commented on #12192
We're no longer maintaining the WIF content and this article has been archived as-is. Apologies for the incovenience.

[2019-12-04 19:54] #12192 closed

[2019-12-04 19:56] mairaw commented on #12370
The WIF content hasn't been maintained for a long time and has now been archived as-is. Apologies for the inconvenience.

[2019-12-04 19:56] #12370 closed

[2019-12-04 19:58] mairaw commented on #9801
The WIF content hasn't been maintained for a long time and has now been archived as-is. Apologies for the inconvenience.

[2019-12-04 19:58] #9801 closed

[2019-12-04 20:17] mconnew commented on #12954
Sorry for the slow response. As you'll see, this isn't a quick 3 line answer so I needed to find the time to write it up.

Let's start by going over what the purpose of the IAuthorizationPolicy.Evaluate method is. It enables:
1. Adding more authorization policies
2. Add properties to the EvaluationContext
3. Add Claim's to the EvaluationContext

So the reason why you would want the Evaluate method

[2019-12-04 20:17] gewarren commented on #16046
@mairaw I think it will work better if you specifically assign topics to each person that's working on this. For instance, I didn't know that you'd already updated the main get-started page, so I was working on that last night. Or should I just pick some and assign them to myself in the list above?

[2019-12-04 20:19] BillWagner commented on #16046
@gewarren Proposal: We can each add our name to any topic above by editing the issue. If we all do that when we start working, we should be good.
Thoughts?

[2019-12-04 20:42] vitek-karas commented on #16106
@hey-hoho I'm not really sure what is the ask here.

* You can read any JSON file using for example classes in the System.Text.Json namespace: https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.0
* If you want to work with the `.deps.json` for the plugin, you can use the `Microsoft.Extensions.DependencyModel` NuGet package which provides APIs to read it and to a certain de

[2019-12-04 20:49] #6964 closed

[2019-12-04 21:00] gewarren commented on #16046
That works for me.

[2019-12-04 21:07] Rick-Anderson commented on #6218
@Thraka recommend closing this issue. VS is fine as the editor. This tutorial is consistent with all the rest of them.

Unit testing is generally not the onboarding/most beginning tutorial.

[2019-12-04 21:19] Thraka commented on #16100
These updates are incoming and I'm tracking issue #16091. I just tested with

[code]

And I see the 3.1 release is now available

[code]

[2019-12-04 21:19] #16100 closed

[2019-12-04 21:51] Thraka commented on #14254
While updating for Core 3.1 I ran across this page. I've updated the comment metadata to remove ron.

[2019-12-04 22:25] #7337 closed

[2019-12-04 23:22] mairaw commented on #14254
Thanks @Thraka. @terrajobst can you help to write the what's new in .net standard 2.1 content?

[2019-12-04 23:25] #8497 closed

[2019-12-05 00:32] xCyborg opened #16113 "How is `variabl` switch better than switch `variable`"
This is very confusing, you can know expressions vs statements from context, no need for this BS.
This makes the code harder to follow and very incoherent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What'

[2019-12-05 01:46] BillWagner commented on #16113
This was debated at length in the language design meetings. We're confident in the final decision.

[2019-12-05 01:46] #16113 closed

[2019-12-05 01:47] hey-hoho commented on #16106
@vitek-karas Glad to receive your reply.
For example,I have a library Test.dll which depend on it's appsettings.json. Now I use AssemblyLoadContext and AssemblyDependencyResolver to load this library,I want to get config option like Configuration["XX"] rather than parse json file by myself.
In .NetFramework AppDomain,we can create AppDomainSetup instance,then appoint a confg file by  Configuration

[2019-12-05 03:00] #16091 closed

[2019-12-05 04:41] vitek-karas commented on #16106
As far as I know this is currently not possible with the statics based configuration APIs. Maybe @maryamariyan or @safern would know more.

[2019-12-05 06:03] Thraka commented on #16098
This should be available now.

[code]

And I see the 3.1 release is now available

[code]

[2019-12-05 06:03] Thraka commented on #16098
Duplicate of #16100

[2019-12-05 06:03] #16098 closed

[2019-12-05 06:06] Thraka commented on #16099
This was fixed in #16112 and should be published some time tonight or tomorrow.

[2019-12-05 06:06] #16099 closed

[2019-12-05 06:16] Thraka commented on #16105
@jpierson We're aware of how annoying this... 😁 we're working on redesigning this samples structure and projects over the coming months.

[2019-12-05 06:41] Thraka commented on #6218
@mairaw  owns this article so I would let her make the call, but I agree. It will all be rewritten anyhow when these get remade.

[2019-12-05 07:56] #16012 closed

[2019-12-05 08:04] GrabYourPitchforks opened #16121 "Decoder.Convert and Encoder.Convert have buggy sample code"
(Placeholder while I spend some time formalizing the issue and coming up with new sample code.)

The sample code at https://docs.microsoft.com/en-us/dotnet/api/system.text.decoder.convert and https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder.convert (all Framework versions) demonstrates using the `Convert` methods incorrectly, as they make incorrect assumptions about the behavior of

[2019-12-05 08:28] summershoe opened #16122 "unnecessary addition of .exe"
Needed to comment out line 59 of PipeClient to run the program. It appears to be adding an unnecessary '.exe' to the end of the file path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86675e7-4bfb-707d-fe36-c02da2023342
* Version Independent ID: ee821843-1cad-0455-f278-1194b88dd0b0
* Content: [How to: Use Named Pipe

[2019-12-05 08:48] rolfik opened #16123 "WCF has OperationContract only in service interface"
Actually you first define a service interface with ServiceContract on it and OperationContract on its methods.
Then you implement it in a class (with optional ServiceBehaviour) with its methods  (with optional OperationBehaviour).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42e6851-980f-68d9-2651-81276d3fb9bd
* Ver

[2019-12-05 08:57] rolfik opened #16124 "gRPC compiler generates abstract both service and its methods"

[2019-12-05 09:04] #16124 closed

[2019-12-05 09:04] rolfik commented on #16124
This can be ignored:
Service methods are virtual.
But they should be abstract I think.

[2019-12-05 09:11] rolfik opened #16125 "IsInitiating initiates a session if supported"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42e6851-980f-68d9-2651-81276d3fb9bd
* Version Independent ID: 1b6160a8-af8e-b5e1-36d4-725db3ffa55d
* Content: [WCF endpoints and gRPC methods - gRPC for WCF Developers](https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/wcf-endpoints-grpc-metho

[2019-12-05 10:48] wrkettlitz opened #16126 "Unprofessional, opinionated and unhelpful articles in additional resources."
"
Enum’s are evil—update

Daniel Hardman. How Enums Spread Disease — And How To Cure It
"

Really? You are gonna have articles with names like these on the website of .net core docs? Not only are the articles very opinionated, the writers of those articles complete miss the point of enums.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-05 10:57] danielstefanescu commented on #14786
bump against stale bot

[2019-12-05 12:37] narcis-pv commented on #5290
@pwen090 Install  [Microsoft Visual C++ 2015 Redistributable Update 3](https://www.microsoft.com/download/details.aspx?id=52685).

[2019-12-05 14:24] luisquintanilla commented on #16104
Hi @lllhhu

Sorry to hear you're running into this issue. Because you were able to successfully run the application on Windows 7 but not on Server 2008 R2, it appears to be more of a product issue rather than documentation related. I would suggest raising this issue in the [dotnet/machinelearning repo](https://github.com/dotnet/machinelearning/issues).

[2019-12-05 14:24] #16104 closed

[2019-12-05 15:01] jesmith17 opened #16127 "Implies that Tasks aren't for Parallelization which isn't accurate."
In the first part of the article you make the statement "Cooking breakfast is a good example of asynchronous work that isn't parallel". But the tasks you describe are actually parallel tasks. The operation making toast has inherent wait time in it. There isn't actual work for the Chef to do while the toast is being cooked. So to speed up the process the Chef takes advantage of that wait time to st

[2019-12-05 17:37] layomia opened #16128 "Add note about trailing second fraction zeros being omitted when writing DateTime[Offset]s in System.Text.Json"
**Issue description**

The section about how the serializer and writer produce these types doesn't provide this information: https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support#support-for-formatting.

This [test data set](https://github.com/dotnet/runtime/blob/7ea817f30755079e44616b60bc09f0bb6857d6cd/src/libraries/System.Text.Json/tests/JsonDateTimeTestData.cs#L234-

[2019-12-05 18:27] Rick-Anderson opened #16129 "Update VB unit testing with xUnit"
Update to follow [Unit testing C# in .NET Core using dotnet test and xUnit](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test) in PR #15954

![image](https://user-images.githubusercontent.com/3605364/70262836-27692b80-1739-11ea-8f67-467dc26ef2b2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-12-05 18:31] Rick-Anderson opened #16130 "Unit testing F# libraries in .NET Core using dotnet test and xUnit"
Update to follow [Unit testing C# in .NET Core using dotnet test and xUnit](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test) in PR #15954

![image](https://user-images.githubusercontent.com/3605364/70263194-dc9be380-1739-11ea-9f21-21cc835dd67a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-12-05 19:01] gewarren commented on #16122
`currentProcessName = Path.ChangeExtension(currentProcessName, ".exe");`

[2019-12-05 20:06] Garry-Anderson opened #16135 "Wrong Information for Visual Studio for Mac Community 2017"
I would like to set a Command Prompt in the Tools menu to run Terminal.app in Mac.  The above instructions do not work because the Add Custom Tool procedure does not recognize *.app programs as valid entries for browsing those apps as commands.  What can be done to fix this impasse?  Since VS2017 is provided for both Win and Mac platforms, why does the Mac version not recognize *.app programs as c

[2019-12-05 20:09] tdykstra commented on #8873
@RAJU2529 Thanks for contacting us. But from the description I can't tell what the question is -- please clarify what the issue is about.

[2019-12-05 20:13] tdykstra commented on #8933
@RAJU2529 Apologies for the late response.  This issue is now a year old -- did you find an answer somewhere else or are you still looking for an answer?

[2019-12-05 20:18] tdykstra commented on #8874
@RAJU2529 Apologies for the late response.  Did you find an answer somewhere else or are you still looking for an answer?

[2019-12-05 20:35] Thraka commented on #16102
I also find it confusing. Thank you for bringing this to our attention.

[2019-12-05 20:35] tdykstra commented on #9410
Apologies for delayed response.

Are you still looking for an answer to this question or did you find the answer already?

Please clarify how this question is related to this article -- the article is about calling WCF services and doesn't mention WebBinding.

[2019-12-05 20:36] Thraka commented on #16094
This was fixed in #16112

Thank you for reporting it.

[2019-12-05 20:36] #16094 closed

[2019-12-05 20:41] Thraka commented on #16135
Visual Studio for Mac is a separate product from Visual Studio for Windows. Meaning, they don't share the same code and user experience. I would ask your question on the Visual Studio for Mac support area: https://visualstudio.microsoft.com/vs/support/mac/#talktous

Sorry I couldn't help further.

[2019-12-05 20:41] #16135 closed

[2019-12-05 20:42] tdykstra commented on #9608
@regal60740 Thanks for letting us know you resolved the problem.  I'll leave this issue open as a reminder that we should change the instruction text from "Windows Application" to "Windows Forms Application".

[2019-12-05 20:43] Thraka commented on #14418
Sent email to Hong

[2019-12-05 20:48] Thraka commented on #12792
Hi. I would guess that SendInput would be a choice. But I don't know. I think it's hinting that the codes may be different between keyboard layouts, so unless you're detecting the layout and then using SendKeys, you may have predictable results.

[2019-12-05 20:48] #12792 closed

[2019-12-05 20:50] Thraka commented on #12623
According to the RID article linked, the runtime identifier helps the engine pick OS specific dependencies like nuget packages. I also think it generates the appropriate binary.

[2019-12-05 20:50] #12623 closed

[2019-12-05 20:51] tdykstra commented on #9635
@zoehart It looks like the question you raised was answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-05 20:51] #9635 closed

[2019-12-05 20:55] tdykstra commented on #9661
@regal60740 Are you still looking for an answer to this question?

[2019-12-05 21:00] tdykstra commented on #9669
@salixzs Per [the enum documentation](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.transfermode), you are correct that the default is Buffered, I'll leave this issue open until we get a chance to add the default value here.

[2019-12-05 21:13] regal60740 commented on #9661
No, I retired.

On Thu, Dec 5, 2019 at 3:55 PM Tom Dykstra <notifications@github.com> wrote:

[2019-12-05 21:42] #9661 closed

[2019-12-05 21:53] kspeakman commented on #15922
`elif` is shorthand for `else if`. So I would assume the same rules apply.

[2019-12-05 22:36] #8630 closed

[2019-12-05 22:36] #9352 closed

[2019-12-06 00:00] #13596 closed

[2019-12-06 02:09] usysware commented on #13840
Sure. A caveat I've discovered is that VS wouldn't debug/run .NET Core 3.x projects with that setting turned off. It complains about missing executable, which is understandable. So I ended up setting it with Condition tied to Debug configuration only, implying that I didn't care about Debug builds and just wanted for the framework dependent default executables not to be generated for Release build

[2019-12-06 02:54] buocnhay opened #16136 "ggg"
rff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-99c3-8870b895030c
* Version Independent ID: 9c054590-c5e3-199c-b852-e1a856b4aae7
* Content: [Install the .NET Framework 3.5 on Windows 10, Windows 8.1, and Windows 8](https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows-10)
* C

[2019-12-06 05:02] mairaw commented on #16136
Not a valid feedback. Closing.

[2019-12-06 05:02] #16136 closed

[2019-12-06 05:35] mairaw commented on #15703
Sounds good @PriyaPurkayastha. As long as I know what's the plan, I'm good.

[2019-12-06 05:38] mairaw commented on #11759
Thanks for your feedback @schuelter. @davidsh @karelz can you comment on this? I think it would be good to review this article to see if the best practices are still up to date.

[2019-12-06 05:53] moulo1982 opened #16137 "I can't find dotnet-runtime-3.1"
moulo@linux-4eso:~&gt; sudo zypper search dotnet
Loading repository data...
Reading installed packages...

S | Name                      | Summary                                                    | Type
--+---------------------------+------------------------------------------------------------+--------
  | dotnet-apphost-pack-3.0   | Microsoft.NETCore.App.Host 3.0.1                           | p

[2019-12-06 06:22] RAJU2529 commented on #8873
@tdykstra .   I have added for the optimizing the graphics device and it's driver. More registry keys are modified by me by taking various documents and  research

[2019-12-06 06:26] RAJU2529 commented on #8933
@tdykstra. No sir I didn't got answer. I need clarification , if I add above registry keys on Windows 10 1909 64bit enterprise , do I get any secure issues  and while browsing on edge and internet explorer

[2019-12-06 06:26] mairaw commented on #16137
@leecow @richlander is there a better repo for this feedback? Customer is reporting that they cannot find the

[2019-12-06 06:27] RAJU2529 commented on #8874
@tdykstra. No sir I never got answer

[2019-12-06 06:36] mairaw commented on #12214
@kouvel can you help with this question? Is this an issue with the docs?

[2019-12-06 06:38] mairaw commented on #12180
@merriemcgaw @RussKie can you help validate what would be the right order of events in WinForms?

[2019-12-06 06:39] mairaw commented on #12110
@HongGit @mconnew can you help with this question?

[2019-12-06 07:21] mairaw commented on #11902
I feel like this issue is answered, so closing.

[2019-12-06 07:21] #11902 closed

[2019-12-06 07:28] mairaw commented on #11901
@karelz @davidsh I don't think we have any content that talks about global proxy selection. Should we?
Should this article use and link to https://docs.microsoft.com/en-us/dotnet/api/system.net.webrequest.defaultwebproxy?

[2019-12-06 07:34] mairaw commented on #11893
I do see an example there:
![image](https://user-images.githubusercontent.com/12971179/70304878-c03e8c00-17b7-11ea-942b-1fdaaee903b2.png)

I'm wondering if this was an issue while we were migrating the blogs to a new platform.

If your issue is not solved, please let us know.

[2019-12-06 07:34] #11893 closed

[2019-12-06 07:38] mairaw commented on #11666
We are no longer maintaining this content and it was archived as-is. Apologies for the inconvenience. I'd recommend asking on forums such as Stack Overflow.

[2019-12-06 07:38] #11666 closed

[2019-12-06 07:43] mairaw commented on #10530
This seems like product feedback, so closing. Please go to https://developercommunity.visualstudio.com/spaces/61/index.html to report product issues.

[2019-12-06 07:43] #10530 closed

[2019-12-06 07:47] mairaw commented on #10322
I think it's just different ways to think of the type.
Here's a doc that talks about number of bytes and precision:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/floating-point-numeric-types#characteristics-of-the-floating-point-types

[2019-12-06 07:47] #10322 closed

[2019-12-06 08:24] mairaw commented on #10270
I'm adding some suffix to the WPF and WinForms articles to make the distinction more clear.
Let us know if this didn't solve your issue @MinistrBob.

[2019-12-06 08:24] #10270 closed

[2019-12-06 08:26] mairaw commented on #10088
@stevestein please check this feedback regarding ADO.NET content

[2019-12-06 08:27] mairaw commented on #10087
@stevestein please look at this feedback for ADO.NET content. Thanks!

[2019-12-06 08:28] mairaw commented on #10086
@stevestein please check this ADO.NET content feedback.

[2019-12-06 08:42] rolfik commented on #9410
There is only limitted subset of WCF bindings in UWP applications (for Windows 10).
WebBinding for calling REST web services is missing or am I wrong?
Actually I had to add another SOAP 1.1 binding to existing REST WCF service just to call it from UWP.

[2019-12-06 09:01] RAJU2529 commented on #10478
yes you can include.

[2019-12-06 11:25] nickbeagley2 commented on #11893
Thanks @mairaw I can see it now, i'm certain that section was not there when I raised the issue.

[2019-12-06 11:43] odahcam commented on #11666
Unfortunatelly that's what SO calls a "too broad" question so asking there wouldn't be the best of ideas. I think I got this working at some point. Thanks for answering tho.

[2019-12-06 13:59] davidsh commented on #11901
Yes, we should update this topic.

But we should not use WebRequest.DefaultWebProxy as the best example. That is an API that is only used in .NET Framework.

In .NET Core 3.0, we added a new API, [HttpClient.DefaultProxy](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.defaultproxy?view=netcore-3.0#System_Net_Http_HttpClient_DefaultProxy). In addition, in .NET Core 3.0, we a

[2019-12-06 14:00] davidsh commented on #11759
@scalablecory

[2019-12-06 15:51] tdykstra commented on #8933
@GrabYourPitchforks can you answer this security-related question or direct it to someone who can?

[2019-12-06 15:53] tdykstra commented on #8873
Sorry, it's still not clear to me what is the issue or question related to this article.

[2019-12-06 16:34] fmcgarry opened #16144 "Linux ARM package installer support"
Are there any plans on supporting Linux ARM64 .NET Core installs through a package manager?

I'm running .NET Core on a Debian 9 ARM64 system and it would be nice to be able to install/update it through the package manager instead of having to do manual installs every time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-06 16:59] tdykstra commented on #9410
@HongGit Can you help with this question?

[2019-12-06 17:01] tdykstra commented on #8874
@grubioe @SamBent Can you help with this question?

[2019-12-06 17:14] leecow commented on #16137
I'm tracking this at https://github.com/dotnet/core/issues/3960. The Linux repo owners are aware and I have to have this one ironed out this morning.

[2019-12-06 17:25] mairaw commented on #16137
Thanks @leecow. Closing this one then.

[2019-12-06 17:25] #16137 closed

[2019-12-06 17:27] mairaw commented on #16144
@leecow can you help with this question about Linux ARM package installer support?

[2019-12-06 17:31] leecow commented on #16144
@fmcgarry - producing installers for ARM64 is definitely on our list. Can't commit to when but we're in planning exercises for 5.0 now so we'll see if it will fit.

/cc @dleeapho

[2019-12-06 17:32] gabeluci commented on #16127
I disagree. I believe the analogy is perfectly accurate. What you're describing is a very common misunderstanding about what "asynchronous" means.

It might look like it's parallel because you have a several procedures that are _partially done_ at the same time. But that's not what "parallel" means. To take the definition of "parallel computing" from [Wikipedia](https://en.wikipedia.org/wiki/Paral

[2019-12-06 17:37] mairaw commented on #16144
Is there a better repo I should transfer this issue to @leecow?

[2019-12-06 17:38] gabeluci commented on #15041
Absolutely. This:

    var allTasks = new List<Task>{eggsTask, baconTask, toastTask};

Is equivalent to this:

    var allTasks = new List<Task>();
    allTasks.Add(eggsTask);
    allTasks.Add(baconTask);
    allTasks.Add(toastTask);

[2019-12-06 18:04] SamBent commented on #8874
The keys are not in the registry, by design.  They are used to troubleshoot and work around problems related to WPF's interaction with your video driver;  if you need them, you're expected to create the keys yourself either directly (regedit) or with a tool.

Nvidia's control panel is probably not setting WPF-specific diagnostic registry keys.  You'd have to ask Nvidia about the expected effects o

[2019-12-06 18:33] benstevens48 opened #16145 "Documenation for DateTimeFormatInfo.ShortestDayNames needs to specify starting day"
**Issue description**
The docs do not say what day comes first in the list returned by `DateTimeFormatInfo.ShortestDayNames`. As far as I can tell it is Sunday for all cultures, but I'm not sure. Please could you clarify and update the docs.

**Target framework**
- [x] .NET Core
- [x] .NET Framework
- [x] .NET Standard

[2019-12-06 18:33] mairaw commented on #8874
Thanks @SamBent for your help. Closing the issue then.

[2019-12-06 18:33] #8874 closed

[2019-12-06 20:27] mairaw commented on #15982
I might be able to check a few @Youssef1313.

[2019-12-06 21:21] mairaw commented on #16046
@BillWagner could you take care of the ones involving a Mac?

[2019-12-06 22:57] mairaw commented on #15982
Didn't find many. I've deleted one FwLink that had 0 views this past year.

[2019-12-06 23:39] Rick-Anderson commented on #15865
The preceding is correct. Additionally, for the preview SDK versions it lists that VS installed, you get the following message

![image](https://user-images.githubusercontent.com/3605364/70363783-dab34c80-182d-11ea-997b-e6eb47bdbba1.png)

[2019-12-06 23:40] Rick-Anderson commented on #15865
cc @livarcocc

[2019-12-07 04:42] RAJU2529 commented on #8873
@tdykstra.. I added registry keys .but I have doubts, those registry keys will give device problems?

[2019-12-07 06:57] KlausLoeffelmann commented on #12922
All: I am sorry for the long delay. I am afraid, this need a bit more time to investigate, and my plan is to get an answer by the end of the month.

[2019-12-07 08:32] ngocsang69 opened #16152 "How can i print out all the 'Balance' in the transaction log???"
[Enter feedback here]
We know the balance is changed after each transaction, so is there someway to retrieve it and add it into Transaction class as a property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-c8a4-69cd-2b1a-9faacd282aab
* Content: [

[2019-12-07 21:04] jsgonsette opened #16154 "What about TensorFlow 2.0 models compatibility ?"
Compatibility with TensorFlow 2.0 models is barely stated (correct me if I'm wrong). I can't find any information about training a model in Python/TensorFlow 2.0, exporting this model (SavedModel format) then use it in Dot.Net. When I tried I could load my model in Dot.Net, but got an exception as soon as I tried to push some data into. This exception is risen by some TF internal machinery, compla

[2019-12-07 21:23] atrauzzi commented on #6666
Hmm, I'm not seeing a full list of supported project types anywhere. @mairaw - Did it end up at a different page?

Moreover, I'd love to see a master list somewhere of all extant *proj formats in the Microsoft ecosystem and their levels of support and deprecation.

[2019-12-08 05:27] Herohtar opened #16155 "Missing samples"
The table at the top of the page refers to several samples that are not actually provided -- "OSInfo sample", "Arrays Sample", and "HandleRef sample".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9466a98-6498-3816-8385-3fa97ce746e3
* Version Independent ID: b7eba3f0-803c-8895-56f6-633de8ec857d
* Content: [Marshaling

[2019-12-08 05:28] Herohtar opened #16156 "No links to samples"
The text immediately proceeding the table at the top states, *"The following table lists marshaling options for classes, structures, and unions; describes their usage; **and provides a link to the corresponding platform invoke sample**."*

However, there are exactly zero links in said table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-08 08:38] Deepakgullipalli opened #16158 "Default Value of reference type is null"
If default value of reference type is null, then why do we get "use of unassigned local variable *****".

example :
A class TestClass has a method MyTestMethod1.

TestClass t;
t.MyTestMethod1;

I would get compile time error for the same.
if by default it is null.

TestClass t;
t = null;
t.MyTestMethod1;

compiled successfully, although runtime exception comes.

---
#### Document Details

⚠ *Do no

[2019-12-08 09:40] brikken opened #16159 "Mutable function let bindings"
The syntax box suggests that function let bindings do not support `mutable`, which they in fact do.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 063de43a-67f5-346b-b2d2-860971b1303f
* Version Independent ID: 0ef81b90-874c-ad3d-da97-90650596e064
* Content: [let Bindings in Classes - F#](https://docs.microsoft.

[2019-12-08 10:44] oleksabor opened #16160 "missing gpg option"
The `-o` option is missed for the ` gpg --dearmor microsoft.asc.gpg` command  to set output file name for the gpg 2.2.4

It should be like
&gt; wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor -o microsoft.asc.gpg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f33bad-b152-c53b-1b0a-234c9a07

[2019-12-08 15:37] mrmowji opened #16161 ""Because an assembly is a self-describing unit of functionality ...""
Please delete this issue. I found out what was wrong with my question. Sorry.

[2019-12-08 15:41] cartermp commented on #16159
The syntax block is actually correct, since you can't have mutable `let` bindings that are recursive. But the comments above them are wrong, since these are not "fields" are C# developers would be familiar with. So I've corrected the comments.

[2019-12-08 15:42] rightwayit opened #16162 "Difficult to follow. No clear sequence of steps."
Pretty poor for Microsoft. Dives in at the low level, yet fails to give us a clear sequence of steps that will get this thing up and running. I've been more than an hour trying to find out what this project is supposed to be called, because you don't mention it, and I can't find it in the samples. Very, very poor. Come on, Microsoft. Buck up!

---
#### Document Details

⚠ *Do not edit this section

[2019-12-08 15:58] #16161 closed

[2019-12-08 20:19] CygnusRoboticus opened #16164 "Flag missing from detailed install command"
[code]
Needs an output flag.
[code]

EDIT: Appears to be the case for [18.04](https://github.com/dotnet/docs/blob/master/docs/core/install/linux-package-manager-ubuntu-1804.md) and [16.04](https://github.com/dotnet/docs/blob/master/docs/core/install/linux-package-manager-ubuntu-1604.md) as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-08 22:39] Symbai opened #16165 "Missing info that dotnet may use a different bitness"
**Issue description**
About https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet it should be stated that using `dotnet` may runs a differently bitness and 32bit version of dotnet may not list up all runtimes using `dotnet --list-runtimes`

It should also be documented which bitness is supposed to execute running `dotnet` command (i.e. last installed .NET runtime bitness OR preferring lower b

[2019-12-09 01:20] RussKie commented on #12180
The currently documented order is correct for a form launched via `Application.Run(form)` or `form.Show()`.

For a form launched via `form.ShowDialog()` the order of events for the first time should be the same as the documented, e.g.:
[code]
For the 2nd and subsequent calls it will be:
[code]
This is due to different code flows resolving visibility. A form shown via `form.ShowDialog()` remains al

[2019-12-09 06:00] jpierson commented on #16105
@Thraka, thanks for your response. Please be aware that I'm currently working on helping to fill some gaps with missing F# samples. It would be great to get a little heads up before any restructuring begins so I can wrap up my merge request with my progress so far in the case that I'm incomplete.

Please see:
* https://github.com/dotnet/samples/pull/1809
* dotnet/dotnet-api-docs/issues/3571

[2019-12-09 06:25] jpierson commented on #16105
I've gone ahead with requesting review for the first round of additional F# samples in https://github.com/dotnet/samples/pull/1809. I'll try to keep the set of samples granular to the particular documentation page that I'm covering per merge request to avoid a long lived branch.

[2019-12-09 06:45] swdvlpr opened #16167 "Missing item in See Also list?"
Isn't the OnSerializingAttribute class missing (and shouldn't it be placed where the second OnSerailizedAttribute class is listed)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9378f9b-e83c-4841-e532-6f62b7cfe9a5
* Version Independent ID: 6d88cc8f-d936-7d47-0c67-222abb6a2771
* Content: [Version tolerant serializatio

[2019-12-09 10:22] Sm1le291 commented on #5290
Hi everyone! Now we are deciding to move to Core 2.0 or never minor version. And I am not clearly understand one thing. I did not find in table compatability that Vista and Server 2008 SP2 support .net core 2 runtime. But below(on ms site) compatability table I can see that with patch kb2533623 it possible to run .Net core 2 on Vista SP2 and Server 2008. Is it right?

[2019-12-09 11:12] jeme opened #16170 "Using example is a bad representative"
While i understand the point of the using declaration, I think the example is awful.

I mentally and immediately just transformed it to the code below:
Which I would also say is more in line with the actual code of the "new" code.

And, in this case, is it really all that useful?...
----
    // We must declare the variable outside of the using block
    // so that it is in scope to be returned.

[2019-12-09 11:42] bugproof opened #16172 "No info how to create and use custom options"
I would like to pass some custom options in `dotnet new` and use it in my template.

There's should be some example of how to do it and how to add it to template.json (with link to https://github.com/dotnet/templating/wiki/Reference-for-template.json#symbols-introduction)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-09 13:02] sfmskywalker opened #16173 "Code Behind can now be done using partial classes instead of using Base Class"
The **Code Behind** section explains how to use base classes as an option to implement code behind code. However, it's now also possible to simply define a partial class with the same name as the component. The .razor file should then not have an @inherits directive. An exception to this os when implementing a Layout component, in which case you should do `@inherits LayoutComponentBase`.

---
####

[2019-12-09 13:47] BillWagner commented on #16127
Thanks for writing this @jesmith17 This is a common area where there is confusion.

I agree with that @gabeluci has said: this does try to point out that CPU-bound parallelism is different than asynchronous operations. As we continue to address the planned work for [async and parallel programming](https://github.com/dotnet/docs/projects/42), we'll explore these nuances further.

I'll close this as

[2019-12-09 13:47] #16127 closed

[2019-12-09 13:49] BillWagner commented on #16152
That's a great suggestion for an enhancement to this tutorial @ngocsang69

I've added this to our backlog to address when we next update this article. I've also added the "up-for-grabs" label in case community members want to address this issue.

[2019-12-09 13:52] BillWagner commented on #16158
Thanks for writing this @Deepakgullipalli

This behavior is by design: In C#, variables must be assigned before use. The compiler enforces this language rule to minimize program errors due to accessing uninitialized variables.

I'll close this as an answered product question.

[2019-12-09 13:52] #16158 closed

[2019-12-09 13:59] BillWagner commented on #16162
Thanks for writing this @rightwayit

We'll address this when we next update this article.

[2019-12-09 14:03] SuperNova911 opened #16174 "Some examples would be nice"
Like other LINQ articles, It would be nice to have some code examples
Can I make some code contribution for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da65be87-16ea-ebcb-e098-6dbf3579152f
* Version Independent ID: 045d5185-5b9c-effc-c542-75192e320d29
* Content: [Quantifier Operations (C#)](https://docs.micros

[2019-12-09 14:04] BillWagner commented on #16170
Thanks for adding your feedback @jeme

This article gives a quick overview of the syntax of new features. As we update other tutorials you'll see more samples that show this feature in more real-world scenarios.

What we've found by examining C# projects is that the majority of using declarations are closed at the end of a scope (either a loop, an if block, or a method). In those cases, the new sy

[2019-12-09 14:04] #16170 closed

[2019-12-09 14:08] BillWagner commented on #16174
That's a great idea @SuperNova911 !

I've added this to our backlog, and added the up-for-grabs label to this issue.  If you'd like to add the samples, I'll assign this issue to you.

[2019-12-09 14:30] jeme commented on #16170
I would have thought it was also suppose to "sell" the ideas, so I had hoped to see a better example in this case instead of something that seems completely pointless.

But that is ofc. your call to make, I have voiced my opinion on the matter, which was what was important for me to do.

[2019-12-09 14:46] SuperNova911 commented on #16174
Thanks for comment @BillWagner

I'd like to add some sample for this, please assign to me XD

[2019-12-09 16:08] EricHerlitz commented on #11949
It is certainly not the normal use-case of an attribute to be used within its own.
The normal usecase: Attributes are used to extend methods, properties and class instances with metadata to be read when it is constructed. I.e. the [Obsolete] annotation gives feedback to the developer that this method/property/class is soon to become obsolete, but there is really no need for the information within

[2019-12-09 16:29] Thraka commented on #16172
Great feedback!

[2019-12-09 16:56] mrmowji opened #16176 "What's "a compatible array type"?"
I think that'd be good if there's some explanation somewhere in C# docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9770af4-de82-7034-a56b-c68a6b5c55e5
* Version Independent ID: 6bd64fcc-5c84-e541-12f4-0cdcfe4f5dd2
* Content: [C# Types and Variables - A tour of the C# language](https://docs.microsoft.com/en-us/dot

[2019-12-09 16:59] baronfel opened #16177 "Documentation pages for F# compiler errors like C# has"
**Help us make content visible**

- Searching for 'F# Compiler Warnings' yields information about compiler flags like `nowarn` and `warnaserror`
- These tell me how to change the processing of particular errors/warnings, but they don't describe the warning or error in detail, and/or suggest how to resolve the issue.

**Describe the new article**

- The article would replace the current process of

[2019-12-09 17:00] baronfel commented on #16177
Note that for now I'm not suggesting that any of these pages be generated from the FsComp.txt page in any way. I think it's more valuable to spend that time creating the initial versions of the page, because additions to that file are usually done in a very controlled fashion and could be easily tracked via the Issues list on this repo.

[2019-12-09 17:08] baronfel commented on #16177
I would also be very, very interested in writing those pages, I just lack the knowledge around getting entire new topics configured correctly for this repository.

[2019-12-09 17:17] mdell-seradex commented on #12180
That is very odd, because that is not what I experienced.  As I said, I saw VisibleChanged happen before Load.

[2019-12-09 17:32] Thraka commented on #16156
Thank you for reporting this. It looks like @Youssef1313 has found the links and we'll get this updated soon.

[2019-12-09 17:32] Thraka commented on #16155
Closing as duplicate.

[2019-12-09 17:32] Thraka commented on #16155
Duplicate of #16156

[2019-12-09 17:32] #16155 closed

[2019-12-09 17:38] LaughingJohn commented on #14862
Just to add to this, I too have been struggling to get this to work. I get a variety of different reasons for it not producing anything. I did once manage to get it product an XML serialization assembly for a class that barely had anything in it. In my case I have a wrapper library for a WCF proxy (in .Net standard 2.0. I would have thought that WCF would be quite a common reason for using this.
I

[2019-12-09 18:07] gewarren commented on #16164
Similar to #16160

[2019-12-09 18:07] CeciAc opened #16178 "Failed the `dotnet pack` command in turorial."
@hskwakr commented on [Sat Dec 07 2019](https://github.com/dotnet/docs.ja-jp/issues/937)

[フィードバックをこちらに入力してください]

## Introduction

Please let me know if this contents is not an appropriate issue.

Please let me know if there is any missing information in this message.
Also, please let me know if you have any helpful information on this issue.

## Issue

I tried to this tutorial:
https://docs.micro

[2019-12-09 18:13] y2k4life opened #16179 "Image labels"
Image labels don't show when using Dark or High Contrast theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8adaedc-37da-e381-a87e-6649bc6cb3c8
* Version Independent ID: 779340cf-274b-5af9-54f0-b9b90c54f143
* Content: [Tutorial: Automated visual inspection using transfer learning - ML.NET](https://docs.microsoft.co

[2019-12-09 18:18] #16156 closed

[2019-12-09 18:23] #12062 closed

[2019-12-09 18:23] mairaw commented on #12062
Thank you @virtualgithub for your feedback. This has been fixed and will be published live later today.

[2019-12-09 18:25] mairaw commented on #16177
@cartermp please take a look at this suggestion for the F# docs

[2019-12-09 18:34] Youssef1313 commented on #16179
It seems that this problem is due to the background being transparent. Maybe converting these images from png to jpg do the trick.

[2019-12-09 18:54] CygnusRoboticus commented on #16164
Same issue different page, looks like this issue is the dupe.

[2019-12-09 18:54] mairaw commented on #10180
That's good suggestion @doctordns and we try to add them to our beginner's material nowadays. This article wouldn't apply to that though since it's not a step-by-step procedure, just a list of articles.
Since it's a broad suggestion and not applicable to this particular article, I'm closing this one but it's something that we pay attention to.

[2019-12-09 18:54] #10180 closed

[2019-12-09 19:01] mairaw commented on #16165
Thanks for your feedback @Symbai. @KathleenDollard @dsplaisted is this behavior expected? There would be a few places where we talk about this command where we'd have to mention this.

[2019-12-09 19:05] Tanya-Solyanik commented on #12922
@frodofrod - I suspect that when you remove manifest, your application is actually running as an unaware one. Unaware applications don't have DPI scaling issues.

[2019-12-09 19:38] Thraka commented on #16164
Thanks I'll get this fixed

[2019-12-09 19:38] Thraka commented on #16164
Duplicate of #16160

[2019-12-09 19:38] #16164 closed

[2019-12-09 19:42] mairaw commented on #12538
@BillWagner how do we handle suggestions for the Roslyn API docs?

[2019-12-09 20:12] dsplaisted commented on #16165
It's true that the x86 and x64 versions of `dotnet` don't mix well.  Whichever one is on your path (which can depend on installation order) will be the one that is resolved from the command line, and it won't list SDKs or runtimes from the other bitness.

Generally I would recommend sticking to x64 if your machine supports that, if possible.

We should improve how the product works here, and in th

[2019-12-09 20:31] vatsan-madhavan opened #16181 ".NET core 3.x prerequisites page missing UCRT for Windows 7"
Re: [.NET Core dependencies and requirements](https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-windows):

The .NET Core prereqs for Windows seems to be missing UCRT - probably an inadvertent deletion?

Until very recently (around 10/18/2018), [KB2999226](https://support.microsoft.com/help/2999226/update-for-universal-c-runtime-in-windows) appeared in this

[2019-12-09 20:45] vatsan-madhavan commented on #16181
The article also says that VC++ redistributables are needed on Win7, but I thought that they were not needed...

[2019-12-09 20:47] Thraka commented on #16181
All 3 items used to be said to be installed, but as discovered in #13431 Microsoft Visual C++ 2015 Redistributable Update 3 contains KB2999226 as it was published a year after, making the install of KB2999226 redundant.

[2019-12-09 20:58] vatsan-madhavan commented on #16181
Assuming .NET Core 2.2 requires both vcrutime and ucrt, I can see that its very advantageous to tell folks to just install one thing - that's great!

I'm under the impression that vcruntime is not needed for .NET Core 3.x. WPF was the only piece that required vcruntime for a long time, and it no longer requires it. It seems like we are telling customers to install a very old copy of vcruntime in o

[2019-12-09 21:09] ericstj commented on #16181
Looks like @richlander added this initially: https://github.com/dotnet/docs/commit/36073291da7a31aa118708576871125e8c780e3b.  My reccollection of our runtime repo is that we statically link all but the UCRT, so I believe only one pre-req is needed, but perhaps @jeffschwMSFT or someone from coreCLR side is more familiar with the minimal dependencies.

[2019-12-09 22:30] gewarren commented on #15726
I'm going to close this issue now since it's not related to an issue with this particular documentation.

[2019-12-09 22:30] #15726 closed

[2019-12-09 23:13] RussKie commented on #12180
Without a repro and stack traces I am unable to provide further comments, sorry.

[2019-12-09 23:15] mdell-seradex commented on #12180
I will endeavour to provide this as soon as I can.

[2019-12-09 23:36] mairaw commented on #11624
Thanks for your feedback @Slugsie and apologies for the delay in getting this triaged. It's currently in our backlog but we accept contributions from the community to fix this.

[2019-12-09 23:39] mairaw commented on #12097
@tommcdon who do you think could help with this feedback for one of the metadata APIs?

[2019-12-09 23:42] mairaw commented on #11953
Thanks for your feedback @DKlaudt and apologies on the delay for getting this triaged. This item is on our backlog.
@HongGit to comment on any plans to update this to VS 2019. The article should also be more clear on what are the prerequisites.

[2019-12-09 23:43] mairaw commented on #11767
Thanks for your feedback @hinho and apologies for the delay in getting this triaged.
@HongGit can you please look at this feedback for one of the WCF articles?

[2019-12-09 23:45] mairaw commented on #11659
Thanks for your feedback @GregWoods and apologies for the delay on getting this triaged. @HongGit please review this feedback for a WCF article.

[2019-12-09 23:50] mairaw commented on #11657
Thanks for your feedback @td47 and apologies for the delay in getting this triaged.

@NKarnam15 can you please validate this feedback?

@td47 can you also give more information about what you're looking for? That KB doesn't seem related to .NET but I might be missing something.

[2019-12-09 23:51] mairaw commented on #11552
Thanks for your feedback @AndRo-Marian. @grubioe can you please check this feedback for a WPF article?

[2019-12-09 23:58] Dave-Lowndes opened #16182 "Expected more information"
I can't believe step 5 is so lacking. What tool would you suggest? I see later you suggest dotnet try-convert, but then say in effect that you don't recommend it. What subtle changes in behavior might it make that I might depend on?
This is really inadequate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 577db847-e424

[2019-12-10 00:09] grubioe commented on #11552
+ @rladuca @vatsan-madhavan

[2019-12-10 00:16] Leon99 commented on #9210
@mairaw I'm observing this issue with SDK-style csproj in VS 16.4.

[2019-12-10 00:17] tommcdon commented on #12097
@jeffschwMSFT is this owned by your team, if so can you take a look?
cc @davidwrighton

[2019-12-10 00:27] cartermp commented on #16182
@Dave-Lowndes the subtle changes _possible_ are extremely high in number, since there are a massive number of (sometimes strange) things that can be done with .NET Framework projects and the desktop MSBuild. Some of these behaviors may be things you've come to rely on, and we cannot guarantee that they will be the same when converted to the .NET SDK. As is written further in the docs, the `try-con

[2019-12-10 00:38] #16160 closed

[2019-12-10 00:44] jeffschwMSFT commented on #12097
Thanks @r-ramesh for the feedback.  I agree, I think that the word "size" is ambiguous and not as correct as "length".  cMax is the maximum number of elements or the length of the array.

[2019-12-10 01:27] mairaw commented on #16145
Thank you for your feedback @benstevens48. This has been fixed and the change will go live later today.

[2019-12-10 01:45] mairaw commented on #9210
Can one of you paste your csproj contents so I can try to more easily reproduce and follow up with the engineering team?

[2019-12-10 01:59] #9210 closed

[2019-12-10 02:05] BillWagner commented on #9681
thanks @CeciAc
The behavior for this has changed, and we should update it.

[2019-12-10 06:07] Leon99 commented on #9210
@mairaw easy, here you go:

[code]

[2019-12-10 08:19] omuleanu commented on #14928
using the obsolete code, my webapp works (netcoreapp3.1),
but as soon as I use the new way, in my case:
`endpoints.MapHub<SyncHub>("/syncHub"); `
I get the error:

    at _this.callbacks.<computed> (<anonymous>:16:35838)
    at HubConnection.processIncomingData (<anonymous>:16:38004)
    at WebSocketTransport.HubConnection.connection.onreceive (<anonymous>:16:27722)
    at WebSocket.webSocket.onme

[2019-12-10 08:36] progalgo opened #16186 "This page has no suggestions on automating assembly versioning"
In age of DevOps there is a need for automated versioning. There are some custom solutions and shaky scripts but no particular seamless mechanism devised by Microsoft to specify assembly version during continuous integration. At least not on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041cbd3-6a5e-515c-f

[2019-12-10 09:19] omuleanu commented on #14928
turns out using the new `endpoints.MapHub` you have to send the exact parameter type you defined in the `Hub`,
I was sending: `connection.invoke("Send", key) // key being int`
and in the hub I have:
`public async Task Send(string key)`
so now I had to call `toString()` on `key` in js to make sure it is the same type as in the hub.

[2019-12-10 10:04] Dave-Lowndes commented on #16182
@cartermp Hi Phillip. If you know about these things, how about providing documentation on them? Vague statements are pretty useless.
Regarding the try-convert mention in the documentation. I felt that it was a rather lukewarm recommendation - more of a warning than a recommendation really!

[2019-12-10 12:11] BillWagner commented on #16176
Thanks for pointing this out @mrmowji

Updating the tour of C# section is on our list of upcoming tasks. We'll address this as part of that work.

[2019-12-10 12:56] cartermp commented on #16182
@Dave-Lowndes They're not really documentable. MSBuild XML is a turing-complete language, and so you have have arbitrary configuration that depends on something that will fail to build, or depend on legacy project flavoring (which isn't supported), or have your own flavoring (which isn't supported), or use legacy installer projects (which aren't supported), or...the list goes on and on to the poin

[2019-12-10 14:48] Dave-Lowndes commented on #16182
@cartermp OK, I'd say document the top likely issues then. I'm particularly interested in that you mention legacy installer projects aren't supported. What precisely are you referring to there? I make use of the Microsoft Visual Studio Installer Projects extension - is that affected?

[2019-12-10 15:09] georg-jung opened #16187 "Returning Task without awaiting it is contradictory to MSFT employee's advice"
The last code block in this docs article either throws an exception or directly returns a `Task` without awaiting it. This is directly contradictory to what [David Fowler](https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#prefer-asyncawait-over-directly-returning-task) and [Stephen Cleary](https://blog.stephencleary.com/2016/12/eliding-async-await.html) sugges

[2019-12-10 16:12] BillWagner opened #16189 "Add a "What's new in .NET Docs" section"
The Xamarin team has had positive feedback from their [what's new in Xamarin Docs](https://docs.microsoft.com/xamarin/whats-new/) section.

We propose doing something similar for .NET Docs (later, possibly ASP.NET docs). @BillWagner and @MaximRouiller have built some queries and scripts that find the needed information. We think these can be adapted to built a PR that announces "what's new" at the

[2019-12-10 16:15] BillWagner commented on #16189
@MaximRouiller I want to assign this to you as well. Can you join the dotnet org? then I can add you to a team with access to this repo.

[2019-12-10 16:16] #16167 closed

[2019-12-10 16:17] BillWagner commented on #16189
/cc @natke @mamccrea

[2019-12-10 16:35] BillWagner opened #16190 "Create Breaking changes doc for the C# compiler"
The roslyn team tracks breaking changes in the dotnet/roslyn repo. Currently, these are the lists of breaking change docs:

- [breaking changes in Roslyn in Visual Studio 2019 Update 1 and beyond compared to Visual Studio 2019](https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Compiler%20Breaking%20Changes%20-%20post%20VS2019.md)
- [breaking changes since VS2017 (C# 7)](https://gi

[2019-12-10 16:38] BillWagner commented on #16190
I self-assigned this because it should be done promptly. It's also a good candidate for "up for grabs", so I added that label as well. I expect I'll get to this next week.

[2019-12-10 16:42] tdykstra commented on #8873
The answer to that seems to be covered by the response to https://github.com/dotnet/docs/issues/8874 -- closing this one as a duplicate.

[2019-12-10 16:42] #8873 closed

[2019-12-10 16:47] tdykstra commented on #8933
Closing as duplicate of #8874

[2019-12-10 16:47] #8933 closed

[2019-12-10 16:51] Thraka commented on #16178
@hskwakr Hello. Thank you for putting your project on GitHub! That makes it very easy to help. You created the template pack project in the _working\templates\\_ folder. This project should be created in the _working\\_ folder.

[code]

Also, I noticed the _extensions\\.tmplate.config\\_ folder is named wrong. It should be _.t`e`mplate.config\\_

I will modify the tutorial slightly to make this cl

[2019-12-10 16:53] #9689 closed

[2019-12-10 16:59] #9775 closed

[2019-12-10 17:00] #9782 closed

[2019-12-10 17:00] #9787 closed

[2019-12-10 17:01] #9788 closed

[2019-12-10 17:03] #9792 closed

[2019-12-10 17:04] #9796 closed

[2019-12-10 17:05] #9806 closed

[2019-12-10 17:06] #9819 closed

[2019-12-10 17:31] romuloteixeira commented on #11786
The same issue, Isn't possible reference System.ServiceModel.Web (WebInvoke) on .Net Standard 2.0.

[2019-12-10 18:21] grstearns opened #16192 "Static != Readonly"
In the CardType class, those static members should be `public static readonly CardType ...`. Otherwise, it's possible for someone to reassign something that everyone would assume to be unchanging.

Hate to pick nits, but I once read that "example code should be exemplary."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-10 19:09] benstevens48 commented on #16145
Hi @mairaw , thanks for the fix. Actually, I was looking at the DayNames property as well, and that says it can depend on the value of the Calendar property - so maybe ShortestDayNames does too? Although I haven't been able to fins a case where the first day isn't Sunday.

[2019-12-10 19:11] hskwakr commented on #16178
I completed tutorials with your support.
Thank you for everything.

[2019-12-10 19:20] mairaw commented on #16145
Good question.

[2019-12-10 19:20] mairaw commented on #16145
Good question @benstevens48. @tarekgh can you comment on this and on the fix I made for #3645?

[2019-12-10 19:27] tarekgh commented on #16145
We always fill the day names array starting of Sunday regardless of the calendar.

https://source.dot.net/#System.Private.CoreLib/CalendarData.Windows.cs,66

[2019-12-10 19:43] #16178 closed

[2019-12-10 19:46] benstevens48 commented on #16145
Thanks - in that case maybe also update the docs for DayNames and AbbreviatedDayNames to say this. I guess technically the names of the days could depend on the calendar, which is why the docs for these say they might depend on the calendar. But it would certainly be useful to know that Sunday is always the first entry.

[2019-12-10 21:52] #12097 closed

[2019-12-10 22:14] gewarren commented on #9148
@martinsuchan Thanks, we will document this as a breaking change.

[2019-12-10 23:26] 0shi opened #16194 "aspNetCompatibilityEnabled default value"
The  description of the `aspNetCompatibilityEnabled` attribute states that it defaults to `false`, but the [linked article](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/wcf-services-and-aspnet) with more information states that it defaults to `true` -

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-11 01:59] yeahe83 commented on #15865
try reinstall the old version and then uninstall again.

[2019-12-11 02:49] ichimei0125 opened #16196 "About Windows Service Startup Parameters"
[Enter feedback here]

This tutorial, [Create a Windows service app](https://docs.microsoft.com/en-us/dotnet/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer#feedback).
In the section, **(Optional) Set startup parameters**

It says, set start parameters in the `main` method, but, after I tried, it works  when using debug mode by set debug prop

[2019-12-11 13:32] mshobohm commented on #15865
Meanwhile I did a cure  by renaming  the c:\Program files\dotnet folder (3,7 GB) and installing only the latest SDK. My computer didnt explode, so I think these "irregular SDK  versions" can safely be deleted in the explorer. Perhaps one time we could have "dotnet --install-sdk" and "dotnet --remove-sdk"  harmonizing the download/installation/update on all operating systems, also for the runtime.

[2019-12-11 14:06] MaximRouiller commented on #16189
@BillWagner Joined.

[2019-12-11 14:32] BillWagner commented on #16189
@MaximRouiller And assigned this to you as well.

[2019-12-11 15:00] BillWagner commented on #16187
Thanks for writing this @georg-jung

Whether to await or directly return a Task is a recommendation with a lot of subtleties. We should explain it better. The reason behind the subtleties is how synchronous and asynchronous methods differ: For any method with the `async` modifier, the compiler generates all the code for successfully managing `await`s in the method. This includes rearranging any `f

[2019-12-11 15:04] #16047 closed

[2019-12-11 15:17] #16174 closed

[2019-12-11 15:52] Thraka commented on #10032
@SimpleSamples Sorry for the delay on this. I'm unsure what you're referring to related to this article. I don't see a mention of a library project in the article. I think you will have a better chance of getting your question answered if you post it on a forum such as StackOverflow.

I'm going to close the issue.

Thanks.

[2019-12-11 15:52] #10032 closed

[2019-12-11 16:06] Thraka commented on #10305
From answering and researching other questions, I've found that you can't rely on the default value. This can sometimes change based on Operating System and/or .NET Framework version too. You're better off setting the value you want.

[2019-12-11 16:06] #10305 closed

[2019-12-11 16:08] Thraka commented on #11109
Sent email to @sergiy-k

[2019-12-11 16:12] Thraka commented on #12191
@mairaw I think these were moved. Should we close this issue?

[2019-12-11 16:14] Thraka commented on #12247
Sorry for the confusion. At this time we're not resourced to address the WCF documentation. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from Gi

[2019-12-11 16:24] Thraka commented on #11661
Thank you for the suggestion. At this point we're not going to update the article. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Th

[2019-12-11 16:24] #11661 closed

[2019-12-11 16:27] Thraka commented on #10823
This was fixed but the bug wasn't closed

[2019-12-11 16:27] #10823 closed

[2019-12-11 16:29] luisquintanilla commented on #16154
Hi @jsgonsette

Thanks for your feedback. Unless otherwise specified, the models referred to in the ML.NET Docs are those trained with ML.NET using the ML.NET format.

Here is some documentation on how to use TensorFlow models within ML.NET:

https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/te

[2019-12-11 16:29] #16154 closed

[2019-12-11 16:38] Thraka commented on #12388
@xyfy You should file bugs at https://github.com/dotnet/winforms/issues

@gitboy1 Sorry for the delay. I see pictures with descriptions at the top of the article that explains the bar. If you're saying that the chevron is not called out explicitly, you are correct. However, I would assume it's common to know that the chevron expands for more information.

If you would like to contribute and enhanc

[2019-12-11 16:38] #12388 closed

[2019-12-11 16:44] Thraka commented on #14820
I believe this was fixed and the article has been updated.

[2019-12-11 16:44] #14820 closed

[2019-12-11 16:56] Thraka commented on #16186
I don't know of any default system. Generally this is based on your build system, such as Visual Studio. Various addins can do this too, such as

- https://marketplace.visualstudio.com/items?itemName=PrecisionInfinity.AutomaticVersions&ssr=false#qna
- https://stackoverflow.com/questions/43019832/auto-versioning-in-visual-studio-2017-net-core

If anything, I would file a feature request with https:

[2019-12-11 16:56] #16186 closed

[2019-12-11 16:58] Thraka commented on #16194
Sent email to @HongGit

[2019-12-11 17:36] JimDaly commented on #12191
As someone who has worked in the content space at MS for a long time, I disagree with the idea of intentionally not providing a TOC for content by design. Even if you don't want people to use the feature, doesn't mean it can't be provided in context with the disclaimers you have added. But it isn't my content, so you can do what you think is best. I just wanted to raise this in case it was uninten

[2019-12-11 17:56] sergiy-k commented on #11109
@aidtopia is correct. The value of VER_PLATFORM_WIN32_NT is documented properly.
/cc: @davidwrighton

[2019-12-11 20:19] Thraka commented on #12191
My mistake. The content is still there. This issue was created on the staging site and not on the production site so the edit link is broken. I'll fix that.

[2019-12-11 20:20] natke commented on #16179
Hi @Youssef1313, I checked and I can see the images in dark mode and high contrast mode. Which O/S and browser are you using?

[2019-12-11 21:40] fiksen99 opened #16204 "Include information on Generic types"
If I want to include a reference to a generic type, the format isn't clear. The format should be of the form:
&lt;see cref="IDictionary{T, U}" /&gt;

We should document how to format this. Also (I'm unsure if possible), indicate how to reference T and U (in this example) as concrete type (when it is known at compile time what those types are).

---
#### Document Details

⚠ *Do not edit this sectio

[2019-12-11 22:38] dashesy commented on #12486
This was very confusing! For some applications using a single `out` directory is fine, but there should be a way to publish separately to filter out tests for example.
`-p:PublishDir=out` is working, but unless it is documented this could be undocumented and changed in the future.

[2019-12-11 23:31] Allann opened #16205 "Lacking important features"
Sounds awesome, but since you can't use it with EFCore due to navigation property circular references, or deserialization to immutable POCOs (private or internal setters) this library, or subobjects being ignored, this is near useless until .NET 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-

[2019-12-12 03:05] Youssef1313 commented on #16179
![Screenshot_2019-12-12-05-02-06-046_com android chrome](https://user-images.githubusercontent.com/31348972/70679055-b2e43e80-1c9c-11ea-8fd0-332220beed0e.jpg)

![Screenshot_2019-12-12-05-01-51-602_com android chrome](https://user-images.githubusercontent.com/31348972/70679074-c55e7800-1c9c-11ea-875c-cbb78e465d53.jpg)

@natke, compare the previous screenshots. Some black text on transparent backgro

[2019-12-12 03:08] mairaw commented on #16179
I can reproduce this problem. This is about some of the label colors, not the entire image. Using a non-transparent background usually solves this issue.

![image](https://user-images.githubusercontent.com/12971179/70679308-94a12300-1c49-11ea-9833-ca88a6a14b21.png)

[2019-12-12 03:10] y2k4life commented on #16179
My apologies I was not clear nor did I reference images I figured the page would be viewed in the various themes. I should have stated the labels in the images can't be seen.

[2019-12-12 14:18] BillWagner commented on #16204
Thanks for writing this @fiksen99

I've added this to our backlog to address when we next update this article.

[2019-12-12 14:55] dsyme commented on #4591
@mairaw Not yet. It's still on my todo list

[2019-12-12 16:26] jefferyp1138A opened #16218 "Not Helpful Unless Using Windows Update"
Where is the download link to install the .Net 3.5.1 Windows Feature? I need to run the Wix installation tools with Visual Studio but can't because Windows Update is locked out. I can get this installed but it will take weeks if I wait for corporate IT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-

[2019-12-12 16:32] #16190 closed

[2019-12-12 16:34] luisquintanilla commented on #16179
@y2k4life thanks for raising this issue. The images have been updated and changes should be reflected shortly.

[2019-12-12 17:19] tdykstra commented on #16205
@Allann Thanks for the comments.  For the latest information on reference handling, see issues [37786](https://github.com/dotnet/corefx/issues/37786) and [38579](https://github.com/dotnet/corefx/issues/38579). On private setters, see [38163](https://github.com/dotnet/corefx/issues/38163).  I don't understand the reference to "subobjects being ignored" -- could you clarify what you mean by that?

[2019-12-12 17:50] tdykstra commented on #12511
The sample URLs already redirect to the new samples browser. If we can't recover the old samples, we should eliminate the links to them in existing documentation.

[2019-12-12 19:31] tdykstra commented on #3749
Per SkyRay, this article is currently at 93% with 30 ratings in the last month.

[2019-12-12 19:31] #3749 closed

[2019-12-12 20:37] Allann commented on #16205
https://github.com/dotnet/corefx/issues/42515

[2019-12-12 23:47] HongGit commented on #16194
Correct, the default value for aspNetCompatibilityEnabled attribute is false, the [linked article](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/wcf-services-and-aspnet) needs to be updates, @Thraka .

[2019-12-13 02:13] ManWithoutName opened #16230 "Error handling"
How would you handle an error if, say the toaster burned the toast, didn't pop up, and caught fire?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en

[2019-12-13 09:36] SuperNova911 opened #16237 "Examples?"
Like other LINQ articles
Query expression syntax examples for `Join`, `GroupJoin` would be nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cc59b33-c264-8ccd-a0e3-e916d1ce676f
* Version Independent ID: 8f71c9ce-d29b-da24-8262-e1ab82fe4cc9
* Content: [Join Operations (C#)](https://docs.microsoft.com/en-us/dotnet/csh

[2019-12-13 11:02] c0dilla opened #16238 "What's the point of having "var toast = await ToastBreadAsync(number);"?"
Even more generally speaking, whats the point of having an async task in another async task, where it is immediately awaited for?
considering the next code, When Main starts making the toast, it is already free to keep on running. When the toast is making the bread in hangs there anyway for the bread to be ready before applying the jam. So why would we make it an asynchronous task?

private async

[2019-12-13 12:11] kumbasar opened #16239 "Failed to fetch https://packages.microsoft.com/debian/10/prod/dists/buster/main/binary-amd64/Packages.bz2"
Currently, it seems that your Debian Mirror is broken:

deb https://packages.cloudfoundry.org/debian stable main
Get:1 https://packages.microsoft.com/debian/10/prod buster InRelease [3959 B]
Get:3 https://packages.microsoft.com/debian/10/prod buster/main amd64 Packages [156 kB]
Err:3 https://packages.microsoft.com/debian/10/prod buster/main amd64 Packages
  File has unexpected size (18556 != 15606

[2019-12-13 12:23] wgutierrezr opened #16240 "System.IO.File.ReadAllText reading html file with special characters"
I was using ASP.Net Core 2.2 and using System.IO.File.ReadAllText to load an Html template from the disk within an API project.

[code]
Then I have to migrate it to ASP.Net Core 3.1, and now the same method loads the HTML template with special characters like "\r\n" and "\".

[code]

I tried (same result):

[code]

Any help?

EDIT by Thraka to add code blocks

[2019-12-13 13:05] Youssef1313 commented on #15907
Can this be added in the migration project so it's easier to track this issue ?

[2019-12-13 14:28] jozefizso opened #16242 "Install script is not signed"
Why is the PowerShell script unsigned? How do we know we are running a legitimate script when it's downloaded from internet on each build?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts

[2019-12-13 15:13] nullseed commented on #16239
I'm having the same problem with the ubuntu package:

[code]

[2019-12-13 15:22] BillWagner commented on #16238
Thanks for the question @c0dilla

In this program, it's a step along the path to transform the initial synchronous sample to a fully asynchronous one.

In larger programs, this construct frees a thread resource to possible do other work. If a thread waits synchronously, it can't be used for other work.

This is most common in web applications, where responding to a request often involves retrievin

[2019-12-13 15:22] #16238 closed

[2019-12-13 15:23] BillWagner commented on #16237
That's a great thought @SuperNova911

As with the earlier examples, would you like me to assign this to you?

[2019-12-13 15:31] BillWagner commented on #16230
That's a great idea @ManWithoutName

How exceptions are handled in async tasks is a large enough topic that it should be its own article. I hadn't thought about extending this with error conditions, but it is a great next step.

I've added this to our backlog to address in an upcoming sprint.