[2021-11-20 13:45] Uzivatel919 commented on #27175
I made some important edit to issue since I found out that sample from start is conceptual so it does not present each chapter model used for examples.

[2021-11-20 13:52] bravequickcleverfibreyarn opened #27199 "Declare immutable structs as readonly – readonly struct rules lack _init-only_ setter option"
C# 9.0 init-only setter option is not mentioned here.

From [readonly struct](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/struct#readonly-struct)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-ab2a-4e14-0b99265969a5
* Version Independent ID: 183efcbd-a781-d303-f9cd-1c22

[2021-11-20 14:52] bravequickcleverfibreyarn opened #27201 "Declare readonly members for mutable structs – props with init-only setter getter also get `IsReadOnlyAttribute`"
Properties with  _init-only_ setter are considered readonly/immutable. If they are autoimplemented, compiler generates _readonly modifier_.

[code]

`System.Runtime.CompilerServices.IsReadOnlyAttribute` expresses `readonly` modifier.

Usually by _readonly property_ is meant property without any _setter_. So it is better to explicitly denote that autogenerated _RW-, readonly- and with init-only-set

[2021-11-20 15:27] bravequickcleverfibreyarn opened #27202 "Use ref readonly return statements – duplicity"
Sentences

are followed by new paragraph

which is in turn followed by next paragraph starting with

It is duplicity actuating disturbance in comprehensive content of article.

I guess removing first quote and merging middle paragraph with next can be fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-a

[2021-11-20 16:12] bravequickcleverfibreyarn opened #27203 "The out, ref, and in keywords – misworded statement"
I guess this statement was not about to repeat double _to pass (an) argument by reference_ and then directly address reader.

It should be something like

_Add the `in` modifier to pass an argument by reference and declare your design intent to preserve referenced object state._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-20 17:49] bravequickcleverfibreyarn opened #27205 "The out, ref, and in keywords – description of state preservation rules is defective"
Statement “_In fact, these rules apply for multiple layers of member access provided the types at all levels of member access are structs._” uses term `member` while it should be `field`. When method (like property or indexer getter) return value, it is copied. So readonly protection (CS8332) is enforced only on `field` access chains.

[code]
Sample show that when _value type_ is returned, it gets

[2021-11-20 19:40] bynarie commented on #26313
I find it interesting that if you browse to https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio?pivots=dotnet-6-0 , which is an official microsoft tutorial, it tells you how to create a new C# console application. If you scroll down to #5 and #6 on the page, it tells you to remove to the pre-existing code (the new, 1-line crap code) and to replace it with the old style (the c

[2021-11-20 20:25] Kuinox commented on #26313
In other docs, they tell you to use the .NET 5 template, then update it to .NET 6:
https://github.com/dotnet/docs/blob/main/docs/core/tutorials/top-level-templates.md#use-the-old-program-style

I don't like the new template, if I want programming with implicitness everywhere, i'd use javascript not C#.
Please stop trying to force us these new features, with what happened recently, and this, you ma

[2021-11-20 22:10] Daniel15 opened #27207 "Mention System.CommandLine somewhere"
This page should mention the `System.CommandLine` library, as most people will need command-line argument parsing at some point (there's only so far you can go with a string array)

https://github.com/dotnet/command-line-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ef4bd7-7012-8afd-721a-a4c31db20202
* Version I

[2021-11-21 02:04] MyChade commented on #24642
While I appreciate the effort to make C# more beginner-friendly, hiding huge chunks of the language will confuse beginners more than showing them a class container. They might wonder, "where does `String[] args` come from? How do I `return` an error code? Why does everything work differently in here than in my other class files?"

The template change makes Program.cs work inconsistently from every

[2021-11-21 12:00] bravequickcleverfibreyarn opened #27208 "Optional use of in at call site – bad formulation"
Paragraph “_These rules are useful …_” likely was about to link just ability to omit `in` modifier at caller site since rules above are directly linked to caller site characteristic rather than `in` parameter at callee site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-ab2a-4e14-0b99265969a5
* Version I

[2021-11-21 12:43] SergeyDavidovich commented on #26313
this is terrible

[2021-11-21 18:43] Uzivatel919 opened #27209 "Tutorial: Write a custom string interpolation handler – couple of small mistakes"
### # 1
[code]
I guess `// Add the receiver argument:` is forgotten since [Improved Interpolated Strings](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.defaultinterpolatedstringhandler?view=net-6.0) discusses declaratively _receiver_ term.

### # 2
[code]

In fact there are 2 failures:
* `logger` and `level` parameters are switched so declaration `[InterpolatedStringH

[2021-11-21 20:54] asears opened #27211 "Test dependencies are not latest versions from nuget"
Microsoft.NET.Test.Sdk dependency and others are not the latest.  Both this documentation samples and dotnet new templates are out of date.  Is it possible to keep versions up to date with latest from dotnet new template or nuget?

Otherwise some mention of `dotnet list package --outdated ` run after initial setup and test might be helpful.

---
#### Document Details

⚠ *Do not edit this section.

[2021-11-21 23:50] q00Dree commented on #26313
It's annoying to create project (**-console** or **-webapi**) and make this stupid work (removing usings "feature", creating normal **Program** and **Startup** ) everytime. Pls give us old style back...

[2021-11-22 06:00] adamburgess commented on #21987
@tdykstra linux-musl-**arm**64 is not in the list.

It is available in the runtimes.json:

https://github.com/dotnet/runtime/blob/752d396519446c13c40738d1c3adfe7fef27a7fa/src/libraries/Microsoft.NETCore.Platforms/src/runtime.json#L1495

[2021-11-22 06:39] jaslawinMs opened #27214 "docs/docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md does not describe NaN recognized by Newtsonsoft lib"
Newtonsoft parses NaN, [-]Infinity symbols (not quoted) while .net lib fails as it should. That should be added to the document imo

[Edited by gewarren below]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Version Independent ID: 9c6a7135-eb75-21a9-1d27-0880459523ca
* Content: [M

[2021-11-22 10:51] Smurgl commented on #26313
I'm not sure what advantages this is bringing. As others have mentioned, one of the most difficult parts of learning in programming is when "magic happens". It's wired up in the background and it just works. That can be nice, but it makes it tough to understand how everything fits together and gives no pointers as to how to investigate issues.

All this is doing is creating confusion, hiding what'

[2021-11-22 12:49] Avrohom opened #27217 "Bundled executable is still being extracted in the %Temp%\.net folder, even in dot net 6.0?"
From the docs: [https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file#output-differences-from-net-3x](url)

Problem is: I see that even in dot net 6.0 the bundled executable is being extracted in the %Temp%\.net folder. How can one avoid this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1932751-7c2b-ce9

[2021-11-22 14:10] kzeitz commented on #26313
This is merely obfuscation.  As someone who's been using c# since it's beta, it's clearly not magic just pointless.  For seasoned developers it's a joke.  For beginners it masks errors and causes confusion as to why things don't compile.  The closer the error is to the point at which it occurs the easier it is to remedy.

[2021-11-22 16:59] bynarie commented on #26313
I seriously apologize to everyone for my constant commenting and rants. Do we even have an explanation for why this template was changed? I'm legitimately not being sarcastic but actually asking. Thanks

[2021-11-22 18:28] The-MAZZTer commented on #27137
Thanks for the response, I'm on vacation this week but I've passed this on to my project lead.

[2021-11-22 18:36] OnofreJ opened #27221 "Use Struct to create a value object"
Hi all, thanks for this content. However, could you give some opinion about use Structs with IEquatable<T> for example instead class to create a value object?

Thanks in advance,

Onofre

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b14bbb-dc66-f1a2-8b14-39ef3b4bde1d
* Version Independent ID: cf912666-9ad3-1673-8f69

[2021-11-22 19:49] gewarren commented on #27167
The recommended replacement for FTP in .NET 6 is to use a third-party library. See #27028.

[2021-11-22 19:56] gewarren commented on #27116
FYI @mavasani.

[2021-11-22 20:00] gewarren commented on #27144
This page indicates that these are known gaps in the documention: https://github.com/dotnet/roslyn-analyzers/blob/9cd12bf61357662069562f350e1bf09a87a0940e/src/NetAnalyzers/RulesMissingDocumentation.md.

[2021-11-22 20:05] gewarren commented on #27150
This looks like it's related to https://github.com/dotnet/roslyn-analyzers/issues/5416.

[2021-11-22 21:58] madelson opened #27227 "What is the correct number of underscores to use for a prefix?"
In most areas, the prefixes show use a single underscore such as `DOTNET_`. However, under "The following commands test the custom prefix" the example shows a double underscore (`CustomPrefix__SecretKey`). Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4c11507-cd06-292f-53bc-3a7f14affd86
* Version In

[2021-11-22 22:07] gewarren opened #27228 "Remove sensitive language in the repo"
Related to dotnet/dotnet-api-docs#7411.

[2021-11-22 23:26] BillWagner commented on #27173
A developer can add or omit the `sealed` modifier when writing a custom `ToString` override for a record. Because either is accepted, we should probably remove any definitive statement in the docs about the signatures, but rather make sure that we accurately describe what signatures will work, and which signatures would generate an error or warning.

[2021-11-22 23:51] kbajpai commented on #27028
Thanks. I have moved to FluentFTP, though I was using WinSCP earlier but that is not supported on Linux.

[2021-11-23 00:27] #26875 closed

[2021-11-23 00:40] #27167 closed

[2021-11-23 01:26] BillWagner commented on #27181
Thanks for noting this @Uzivatel919

I want to think about how to present this in a way that is both consistent and usable. There are a few related behaviors with respect to arrays and types (especially nullable types). I think the updates are somewhere along these lines:

- When an array is constructed, the storage for all the elements is initialized to the 0 bit pattern. That means:
  - All stru

[2021-11-23 01:28] BillWagner commented on #27191
That's a great point @MNF

I've added this to our backlog for the next set of updates to this article.

[2021-11-23 01:35] BillWagner commented on #27194
This line needs to be shows in the final example: https://github.com/dotnet/docs/blob/main/docs/csharp/whats-new/tutorials/snippets/interpolated-string-handler/Version_4_Examples.cs#L11

I've opened #27230 to address this.

[2021-11-23 01:36] BillWagner commented on #27195
Thanks @Uzivatel919

The definition from the language reference is more clear, and should be used here.

[2021-11-23 01:49] BillWagner commented on #27196
Thanks @Uzivatel919

This description should probably follow the description in the standard: [§8.5.2](https://github.com/dotnet/csharpstandard/blob/draft-v6/standard/basic-concepts.md#852-declared-accessibility)  Declared accessibility

[2021-11-23 01:52] BillWagner commented on #27197
related: #27196

This should be updated using the same language as the standard.

[2021-11-23 01:53] BillWagner commented on #27199
This should be updated for C# 10.0

[2021-11-23 01:55] BillWagner commented on #27201
This should be updated for C# 10 enhancements.

[2021-11-23 01:56] BillWagner commented on #27202
This should be updated in the next edit pass.

[2021-11-23 01:58] BillWagner commented on #27203
The language should be firmed up here.

[2021-11-23 02:01] BillWagner commented on #27205
This should be reworded in the next edit pass.

[2021-11-23 02:02] BillWagner commented on #27207
I like this idea @Daniel15

I've added it to the backlog.

/cc @jonsequitur @KathleenDollard

[2021-11-23 02:03] BillWagner commented on #27208
update during the next edit pass.

[2021-11-23 02:11] BillWagner commented on #27209
I'll leave this open to inviestigate.

For #1, that's a stray comment in the initial sample and should be removed.

For #2, the code compiles in the samples repo, so I'll have to look at where the text disagrees with the sample code.

[2021-11-23 02:12] #27194 closed

[2021-11-23 02:23] #27099 closed

[2021-11-23 02:26] #27052 closed

[2021-11-23 02:30] #27177 closed

[2021-11-23 02:30] maochaokuo opened #27232 "resx related sample code not working"
the sample source code here is not working. ResXResourceWriter  ResXResourceReader comes from System.Windows.Forms ??!!
we have to use resource file somewhere else than desktop application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28432106-fc6a-c726-23b5-f08d7038f538
* Version Independent ID: b6f9d6e3-dcfd-d9b0-77

[2021-11-23 06:18] krchome commented on #27194
After time initialization as suggested by @BillWagner I still have the second of the two errors which says that it expects a void return instead of boolean as in the screenshot attached
![ErrorNew](https://user-images.githubusercontent.com/8474855/142978763-74efa295-bb32-425c-abda-feb51aad4389.jpg)

[2021-11-23 06:19] JasonSanderEgan opened #27234 "Truly excellent documentation"
Hey there, apologies if this is not what feedback is meant for - but just wanted to say this was one of the best if not _the_ best pages of documentation I've read, in terms of how much my level of understanding of the topic changed from start to finish.

I was asked about asynchronous programming in C# the other day and after reading just this article I feel more than ready to start implementing

[2021-11-23 06:29] Bosch-Eli-Black commented on #27144
Thanks, @gewarren 🙂

With VS2022 just released, I think a lot of people are going to start seeing these warnings 🙂

[2021-11-23 08:14] nojaf commented on #22368
@dsyme I raise the original question somewhat here.
After it first popped up in https://github.com/fsprojects/fantomas/issues/1362.
I don't think much thought really went into it.
Looking back at this, stars at the start do really seem inconsistent with all the rest.

For [example](https://fsprojects.github.io/fantomas-tools/#/fantomas/preview?data=N4KABGBEDGD2AmBTSAuKA7AhgW0QZwAdNpEwANAHQCcL1rb70

[2021-11-23 11:05] bravecobra commented on #26313
Have a look at https://github.com/dotnet/csharplang/issues/3117
None of these 3 reasons are valuable, desired or highly requested as far as I can see.

[2021-11-23 11:06] bravecobra commented on #26313
Funny how that issue is locked for comments for being "too heated".

[2021-11-23 11:29] gfoidl commented on #27227
It's a differnece between _prefix_, and _hierarchy separation_.

The former uses the single underscore `_`. It's also used for [.NET runtime configuration settings](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/#environment-variables), as it's a _prefix_.

The latter uses by default the `:`, but this isn't available on all platforms, so as different approach one can use the double u

[2021-11-23 11:36] madelson commented on #27227
@gfoidl I think I understand the difference between those two; I just don't understand why the example with `CustomPrefix` uses double underscore. Does that make sense?

[2021-11-23 11:44] gfoidl commented on #27227
You mean the example from
[code]
This should be single underscore `_` only.

[2021-11-23 12:08] madelson commented on #27227
@gfoidl yep that's the one that was confusing me. Seems like an easy fix.

[2021-11-23 12:25] gfoidl commented on #27227
Yep, do you want to send a PR to fix this?

[2021-11-23 12:52] lukepuplett opened #27236 "Page should explain how it works"
Hello, I'm trying to understand how to setup a new Macbook with a self-signed certificate, where my website is running in a container.

While on this journey I'm finding some things confusing. After coding in some form for 35 years now, when I find the going tough or confusing, I think it's okay to blame my tools and documentation.

These commands here are fishy. The first one specifies a file but

[2021-11-23 13:09] lukepuplett commented on #27236
I must also point out that `dev-certs` seems to be undocumented. It gets a small note under **Additional tools**

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

[2021-11-23 13:11] lukepuplett opened #27237 "Please document dev-certs"
This command has had support for a while now but lacks any documentation.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/too

[2021-11-23 13:12] lukepuplett commented on #27236
Created discrete issue to cover lack of documentation under `dotnet` CLI.

https://github.com/dotnet/docs/issues/27237

[2021-11-23 15:56] BillWagner commented on #27234
Thank you for the kind words @JasonSanderEgan We appreciate it!  I'm glad this example resonated and helped understand async and await.

I'll close this as kudos.

Thanks again! 🎆

[2021-11-23 15:56] #27234 closed

[2021-11-23 17:53] C1rdec commented on #26313
Any updates from Microsoft?

[2021-11-23 18:45] dsyme commented on #22368
Yes, I'd say this should be dealt with the same as `val` signatures, https://github.com/fsprojects/fantomas/issues/1955, with one indent from `abstract`

[2021-11-23 18:53] westsiderz opened #27241 "Script not working"
[Enter feedback here]
I ran the script and installed the runtime but if I run "dotnet" on Linux it says that the command is not found. Should I do anything additional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 885585df-1c7c-c774-34e4-4b274a7c2602
* Version Independent ID: 2be3647d-495b-c9f0-cf06-9a7bf687d3bb
* Con

[2021-11-23 21:02] adegeo commented on #27241
Hello. I bet the script didn't add `dotnet` to the path. You'll need to edit your terminal program and add the `dotnet` executable to your path variable. The [Manual Install](https://docs.microsoft.com/en-us/dotnet/core/install/linux-scripted-manual#manual-install) section has that information. Can you follow those steps and see if it solves your problem?

[2021-11-23 21:04] adegeo commented on #27236
Just a note, `dev-certs` is referenced in the ASP.NET Core documentation: https://docs.microsoft.com/en-us/dotnet/core/additional-tools/self-signed-certificates-guide

[2021-11-23 21:45] kilasuit opened #27244 "Missing entry for C#10"
Seems sensible to add an entry for C#10 to this doc so that it can be a simple single reference point
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
* Content: [The history of C# - C# Guide](https://docs.microsoft.com/en-

[2021-11-23 21:55] Youssef1313 commented on #27244
Also proposals link is missing in https://github.com/dotnet/docs/blob/main/docs/csharp/language-reference/index.md.

[2021-11-23 22:18] JamesC01 opened #27248 "Explain access modifiers on auto-implement properties"
The page talks about auto-implement properties, but doesn't really explain why they'd be useful. I think it should show use of {get; private set;} to show a benefit of auto-implement properties over simple public fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fb1d95e-a652-a965-f817-d49554a07388
* Version Indep

[2021-11-23 23:45] gewarren commented on #27144
Closing this as a dupe of #23900.

[2021-11-23 23:45] #27144 closed

[2021-11-23 23:54] #27034 closed

[2021-11-23 23:55] #26522 closed

[2021-11-24 00:59] gewarren opened #27252 "PR reviews and issue response this week (Thanksgiving for USA team members)"
This time of the year is holiday season for the .NET content team members in the United States. Many of the team members are taking vacation this week. PR reviewing/merging and issue response may be delayed during this period.

[2021-11-24 08:58] DickBaker opened #27254 "does not mention Null permit"
C# now supports "#nullable enable" and/or "<Nullable>enable</Nullable>" options but neither are mentioned in this article. Ditto no mention or code example of "?? throw new xyzException"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0ee01ce-a46f-74b6-eccc-9c9f69c74adf
* Version Independent ID: c1d3f414-e493-d3a2-6b7c

[2021-11-24 10:18] opencsi-leon opened #27255 "typing error in debian dependency"
In the debian dependency i find an typing error.
The name of package
     is not libgcc_s1
     but libgcc-s1

Please edit the guide.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c3310a1-6a2e-ca98-9618-8f3d729eafdd
* Version Independent ID: ab01f0aa-d1c0-df64-b0f9-ee211d45001f
* Content: [Install .NET on Debi

[2021-11-24 10:25] DickBaker opened #27256 ".editorconfig variations"
this doc includes
"# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion"

whereas on my current v6 solution I have
"# Field preferences
dotnet_style_readonly_field = false"

I can understand that [my machine editing] may have changed true to false, but I am surprised to find line has moved from Modifier

[2021-11-24 12:23] stanalek opened #27266 "Clear or complete "TODO bookmarks" in this article"
[Enter feedback here]
Hi Team, just a reminder to clear this TODO in the article under nameof_expression: (at least)

TODO: examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e783650c-e063-e268-316e-564362cb1e37
* Version Independent ID: aa9f4996-cab4-0bed-6452-213342453785
* Content: [Expressions - C# language sp

[2021-11-24 13:48] TimBertalot opened #27267 "Unhandled exceptions info not quite correct"
File: the-managed-thread-pool.md
[https://docs.microsoft.com/en-us/dotnet/standard/threading/the-managed-thread-pool#exceptions-in-thread-pool-threads](https://docs.microsoft.com/en-us/dotnet/standard/threading/the-managed-thread-pool#exceptions-in-thread-pool-threads)

These three exceptions to the rule come from a linked [page ](https://docs.microsoft.com/en-us/dotnet/standard/threading/exceptio

[2021-11-24 15:35] Possibility454 opened #27268 "Add VB.Net solution as well"
[Enter feedback here]
Please add a VB.Net solution as well. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e46a174e-3434-2410-dd95-e4674740d597
* Version Independent ID: 0276a280-900b-c4a5-67e3-bed61414c442
* Content: [CA2101: Specify marshaling for P-Invoke string arguments (code analysis) - .NET](https://d

[2021-11-24 16:26] Juniorsnet commented on #26313
C# is becoming more close to python, whats next? run directly .cs files from command line?

[2021-11-24 16:53] ahwm commented on #26313
https://github.com/dotnet/csharplang/blob/main/meetings/2021/LDM-2021-05-12.md#simple-c-programs

https://github.com/dotnet/designs/blob/a27fd42a68370f315bc2293dc748145f4075697f/proposed/simple-csharp-programs.md

[2021-11-24 19:01] Uzivatel919 commented on #27195
Thinking about language reference definition, I see there is not mentioned base (declaring) class. That is also wrong. Although anyone naturally expects that containing class has access to its member always. So, maybe it is slightly silent correctly.

[2021-11-24 19:29] #26778 closed

[2021-11-24 19:33] Uzivatel919 commented on #27209
Yes, it gets compiled since call site in snippets specified correctly `[InterpolatedStringHandlerArgument("level", "")] LogInterpolatedStringHandler builder)` but this implementation is not used on page.

[2021-11-24 22:19] SteveDunn opened #27271 "Nullability of `builder` when conditionally setting it"
The part where the page says we can have an `out bool isEnabled` should have address the null dereference errors that are now produced, e.g. the constructor could instead be:

[code]
    public LogInterpolatedStringHandler(int literalLength, int formattedCount, Logger logger, LogLevel logLevel, out bool isEnabled)
    {
        isEnabled = enabled = logger.EnabledLevel >= logLevel;
        Console

[2021-11-24 22:20] SteveDunn opened #27272 "Possible confusion for the reader when changing the signatures from void to bool"
Great article, many thanks!  However, when following the instructions and changing the return type from `void` to `bool`, I get compilation (and code analysis) errors:
[code]

I realised that the instructions say to change the `Append` methods - but I don't think it was clear enough that it also applied to `AppendLiteral` as the context of that paragraph seemed focused on just `AppendFormatted` as

[2021-11-24 22:37] taleleuma opened #27273 "Little confusing words and statements on this page"
Little confusing words and statements.  Example:
In common application models, only one thread at a time executes user code, which minimizes the need for thread safety. For this reason, the .NET class libraries are not thread safe by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32c0c68d-17d3-7df5-a390-83e875

[2021-11-24 22:38] RussKie opened #27274 "Trim self-contained deployments and executables - no support for Windows Desktop"
The page must have a clear warning that trimming is not supported for the Windows Desktop apps (i.e. Windows Forms and/or WPF). It would be great to expand into reason why it is so.

There are multiple GitHub issues and user feedback that originate from the fact that trimming appears to have worked in .NET 5.0 release but was disabled for the WD apps in .NET 6.0 release.
@agocke provided some insi

[2021-11-25 14:41] AlanPBourke opened #27280 "Unclear as to how the WindowsBackgroundService constructor works."
[Enter feedback here]

` public WindowsBackgroundService(
        JokeService jokeService,
        ILogger<WindowsBackgroundService> logger) =>
        (_jokeService, _logger) = (jokeService, logger);`

The constructor for WindowsBackgroundService as above takes 2 parameters but I can't see them being passed in Program.cs - how does this mechanism work?

#### Document Details

⚠ *Do not edit this

[2021-11-25 19:08] westsiderz commented on #27241
Yeah, that way it worked. Thanks.

[2021-11-25 19:08] #27241 closed

[2021-11-26 07:27] ahdung opened #27283 "Need .net6.0 Localized IntelliSense Packs"
Need .net6.0 Localized IntelliSense Packs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b361b8e5-3b89-8e46-6356-ca420e468b69
* Version Independent ID: f66f7a1a-1ab7-dab7-696f-916950c4c518
* Content: [Install localized IntelliSense files](https://docs.microsoft.com/en-us/dotnet/core/install/localized-intellisense)
* Co

[2021-11-26 09:25] hjrb opened #27284 "To unspecific"
Is that workload installed per project or per solution or globally?
If installed globally - does that require admin rights?
How do I get a list of the installed workloads?
Trying to publish a Blazor WASM solution I keep getting this error.
Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1147	To build this project, the following workloads must be installed: wasm-tools
To i

[2021-11-26 15:35] chrisxfire opened #27287 "Bad hyperlink"
The hyperlink to Lucian Wischik's Six Essential Tips for Async is bad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed82a3-99c1-0893-4e81-d095b4757ecc
* Version Independent ID: 3765200b-43e5-441c-b290-709c34dd2f6d
* Content: [Asynchronous programming - C#](https://docs.microsoft.com/en-us/dotnet/csharp/async)
* Con

[2021-11-26 21:03] reinux opened #27289 "Article "Development workflow for Docker apps" could use some proofreading"
Thanks for writing this article.

This is a rather complicated topic with a lot of moving parts, so the article could do with some proofreading to help reduce cognitive overhead. Even just improving punctuation would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b69a4b5-2003-e7a5-97a3-59e3737ea1ef
* Versi

[2021-11-27 01:41] tdykstra commented on #25545
The tutorial doesn't call for the installation of .NET Extension Pack.

[2021-11-27 01:41] #25545 closed

[2021-11-27 02:13] tdykstra commented on #26548
See #26313, where you can vote on the new template code.  Closing this issue in favor of that one.

[2021-11-27 02:13] #26548 closed

[2021-11-27 02:14] tdykstra commented on #26463
See #26313, where you can vote on the new template code.  Closing this issue in favor of that one.

[2021-11-27 02:14] #26463 closed

[2021-11-27 02:15] tdykstra commented on #25962
See #26313, where you can vote on the new template code.  Closing this issue in favor of that one.

[2021-11-27 02:15] #25962 closed

[2021-11-27 02:48] tdykstra commented on #27185
I don't see **Add your desktop applications** in this article, and the article does state that the sign tool is automatically installed with Visual Studio and can be used from Developer Command Prompt for Visual Studio. Have you tried using it from the VS Developer Command Prompt?

[2021-11-27 04:08] tdykstra commented on #27284
@Rick-Anderson who can help with Blazor instructions?

[2021-11-27 05:36] Rick-Anderson commented on #27284
@guardrex

[2021-11-27 12:17] larsingapore73 opened #27293 "OKR: address x, y, and z"
<--

GOAL:
Each team has a commitment around content performance

OBJECTIVES:

- Content developers continue to get familiar with the Content Perf report by identifying and updating articles
- Create a sustainable and repeatable process. Each M1 has a project for content performance and tracks
- Continue to use data and feedback from past quarters to influence updates to formulas and ranking

RESU

[2021-11-27 12:17] larsingapore73 opened #27294 "OKR: address x, y, and z"
<--

GOAL:
Each team has a commitment around content performance

OBJECTIVES:

- Content developers continue to get familiar with the Content Perf report by identifying and updating articles
- Create a sustainable and repeatable process. Each M1 has a project for content performance and tracks
- Continue to use data and feedback from past quarters to influence updates to formulas and ranking

RESU

[2021-11-27 12:36] guardrex commented on #27284
Hello @hjrb ... A couple of quick answers, but we need to get you over to the product unit's ("PU") repo. They might ultimately redirect you elsewhere because AOT involves a few different groups of developers, but we'll start by having you open an issue over there for initial investigation.

* It's a global install per my current information, and they suggested documenting the optional workload in

[2021-11-28 02:51] JohnLeicht opened #27296 "Release build configuration"
I dont have the VSCode Release build configuration. Where can I get it??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40d7fd04-e358-9a83-aef2-bfcba1169699
* Version Independent ID: f5df932b-b092-2832-9c9a-61a9c43dcdb3
* Content: [Debug a .NET console application using Visual Studio Code - .NET](https://docs.microsoft

[2021-11-28 08:11] Spoonman2 commented on #10157
I had this warning turn up and found this thread after some Googling. Mine was a handler to a Toggleswitch.Toggled handler and I had (sender as Toggleswitch, e as RoutedEventArgs). Changing the sub declaration to (sender as Object, e as RoutedEventArgs) fixed it.

What it actually means I cannot begin to understand.

[2021-11-28 21:38] surfmuggle commented on #27145
Partly off-topic
Was there a public discussion for changing the code created by the console template?
Can it still be accessed?

[2021-11-29 09:50] zacharydub opened #27300 "Typo / old example"
In the 'Designing abstract base classes and their derived classes' section, the derived classes are listed and then shown in the code below it. In the list the 'Triangle' class listed instead of 'Square' as per code example.
<img width="462" alt="Untitled" src="https://user-images.githubusercontent.com/67551775/143845615-195b8928-0914-4745-a50c-523c3d8f511a.png">

---
#### Document Details

⚠ *Do

[2021-11-29 12:11] rolandwales10 opened #27301 "What version of c# am I on?"
In my version of visual studio, the .csproj file has no reference to either LangVersion of c#.  In help -> about, it identifies the c# toolkit version, but not the version of c# itself.  How do I know which version of c# is in effect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
*

[2021-11-29 12:31] svick commented on #27301
In VS 2022, if you open the project Properties window and then either search for "language" or go to Build → Advanced, you'll see the language version listed:

![](https://user-images.githubusercontent.com/287848/143868585-3a428933-dac8-46b0-9835-6c7bece2cbe0.png)

[2021-11-29 14:21] BillWagner commented on #27252
Thank you, everyone, for your patience while we enjoyed our holiday, and spending time with friends and family. Most people on the team will be returning early this week and resuming our regular schedule.

Closing this.

[2021-11-29 14:21] #27252 closed

[2021-11-29 14:23] APIWT opened #27302 ".NET 6 support"
I believe that this page is out of date in the C# section (and possibly others) as the v4 runtime supports .NET 6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d621091-b675-a6e5-cbe0-205731425bcf
* Version Independent ID: 04820a12-8b6f-eebf-27ce-2d6d9a45e59c
* Content: [Azure Functions - Serverless apps](https://doc

[2021-11-29 14:24] IEvangelist commented on #27280
Hi @AlanPBourke,

This constructor is called from the dependency injection container. See [Dependency Injection in .NET](https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection).

[2021-11-29 15:11] #26513 closed

[2021-11-29 15:41] Youssef1313 commented on #27301
You can also use `#error version` at the top of any source file. There is already a tip in the article about that:

[2021-11-29 16:00] dongolojeno85 commented on #26313
This is confusing. Almost hit the wrong vote because the whole description is misleading.

"Template feedback
The top-level template is a new feature in .NET 6. Add an up or down vote GitHub issue #26313 to voice your support for this feature."
From https://docs.microsoft.com/en-us/dotnet/core/tutorials/top-level-templates

[2021-11-29 16:32] ParadiseFallen opened #27303 "TYPO in docs"
https://docs.microsoft.com/ru-ru/visualstudio/releases/2022/system-requirements

section "Requirements"
![image](https://user-images.githubusercontent.com/50731756/143906226-c49d6dae-0a73-4fb8-9be1-7b9bfe1cbd81.png)

from 850 GB to 210 GB must be 850mb to 210 GB

fix please

[2021-11-29 16:38] #26800 closed

[2021-11-29 17:16] IEvangelist commented on #27169
@Daniel15 - Yeah, you don't need the host functionality. That's perfectly fine, I'm updating this content to include examples without the host. PR coming soon.

[2021-11-29 17:50] tdykstra opened #27304 "Update Deploying with VS doc for VS 2022 and .NET 6"
### Type of issue

Other (describe below)

### Description

Nothing

### Page URL

https://learn.microsoft.com/en-us/dotnet/core/deploying/

### Content source URL

https://github.com/dotnet/docs/blob/live/docs/core/deploying/index.md

### Document Version Independent Id

89967250-8c3b-1999-078f-94ad7518ed49

### Article author

adegeo

### Metadata

* ID: 85eba478-0374-bb9b-8fa7-d5cf7d520603
* Se

[2021-11-29 18:01] nkolev92 opened #27305 "ProjectReference and transitivity"
**Issue description**

ProjectReference items work different in .NET (Core) world vs the standard csproj, .NET Framework world.

In particular, the ProjectReference in .NET (Core) are transitive.

For example, say you have:

Project 1 -> Project 2 -> Project 3.

In .NET Framework, Project 1 won't be able to consume Project 3 and code against it.

In .NET Core, Project 1 will be able to consume Pro

[2021-11-29 18:01] RobAinscough opened #27306 "Example 2 code doesn't work, triggers syntax error BC32035 attribute specifier is not a complete statement."
Example 2  is invalid syntax.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f7e3a34-0178-70d9-fd98-d9d57594533a
* Version Independent ID: 684c5770-7f7d-5fb6-fecd-1135601356f6
* Content: [Declare Statement - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/statements/declare-statem

[2021-11-29 18:10] BillWagner commented on #27244
Thanks for noting this @kilasuit I've added it to our upcoming sprint.

It may make sense to retire this article, and replace its content with the article in the [csharplang repo](https://github.com/dotnet/csharplang/blob/main/Language-Version-History.md)

[2021-11-29 18:13] BillWagner commented on #27248
Thanks @JamesC01

We're looking at doing significant work in the C# programming guide over the next six months. This is one of the areas where we want to improve.

[2021-11-29 18:19] BillWagner commented on #27266
Hi :wave: @stanalek

Work on the standard has moved to the dotnet/csharpstandard repo. (We've merged the Microsoft and ECMA versions of the standard for version 5, and the committee is workign on C# 6 now). This TODO item has been addressed here: https://github.com/dotnet/csharpstandard/blob/draft-v6/standard/expressions.md#1273-interpolated-string-expressions

We have a couple more features to fi

[2021-11-29 18:19] #27266 closed

[2021-11-29 18:24] BillWagner commented on #27271
Thanks for writing this @SteveDunn

I'll review this article in the next sprint and address both this and #27272

[2021-11-29 18:25] BillWagner commented on #27272
Thanks for writing this @SteveDunn

I'll review this article in the next sprint and address both this and #27271

[2021-11-29 18:29] BillWagner commented on #27287
Thanks for pointing this out to us @chrisxfire

We'll track down where this content is now, or provide an alternative.

[2021-11-29 18:31] BillWagner commented on #27293
closing as off-topic.

[2021-11-29 18:31] #27293 closed

[2021-11-29 18:32] BillWagner commented on #27294
closing as off topic

[2021-11-29 18:32] #27294 closed

[2021-11-29 19:08] BillWagner commented on #27300
Thanks for pointing this out for us @zacharydub

We'll get it addressed shortly.

[2021-11-29 19:10] BillWagner commented on #27301
Great discussion @rolandwales10 @Youssef1313 @svick

We should add these two suggestions to this article. I've added it to our backlog, and added the up-for-grabs label, if anyone wants to submit an update before we get to this change.

[2021-11-29 19:13] BillWagner commented on #27303
Adding @khoiph1 who manages the localization process.

The English version is correct.

[2021-11-29 19:15] zbalkan opened #27308 "OperationCanceledException exception on CancellationTokenSource timeout"
The example code suggests utilizing `TaskCanceledException` but since it is cancelled by the `CancellationTokenSource`, the exception thrown is `OperationCanceledException`, looking at the [docs](https://referencesource.microsoft.com/#mscorlib/system/threading/CancellationToken.cs,466), and unfortunate personal experience.

[code]

Thanks to [this detailed StackOverflow response](https://stackover

[2021-11-29 19:39] #27151 closed

[2021-11-29 19:57] #27169 closed

[2021-11-29 20:36] #27228 closed

[2021-11-29 22:12] ParadiseFallen commented on #27303
@BillWagner yes. But russian not

[2021-11-30 01:14] tdykstra opened #27310 "Update code snippets to use .NET 6 features where appropriate"
.NET 6 features to implement in code snippets where appropriate:
* Implicit usings
* Nullable reference types (NRT)
* File-scoped namespace declarations
* Top-level statements

The following project files target .NET 6 but omit implicit usings and/or NRT:

* [x] https://github.com/dotnet/docs/blob/main/docs/csharp/fundamentals/program-structure/snippets/top-level-statements-1/top-level-statements.

[2021-11-30 01:30] Kuinox commented on #26313
Instead of "voting the new template", why can't we have both ?

[2021-11-30 03:50] matthewkrieger opened #27312 "Clarification on .NET 5 reference vs 6"
".NET 5 is the main implementation of .NET going forward..."

Isn't that .NET 6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ffd175-50c4-3318-5766-6ce524e6bc0f
* Version Independent ID: db844938-ba9f-3e00-bbf0-17e14be7cedb
* Content: [What's new in .NET 5](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dot

[2021-11-30 14:11] dgaspar opened #27315 "Runtime libraries - version compatibility"
**Help us make content visible**

Take this article, for instance: https://docs.microsoft.com/es-es/dotnet/standard/runtime-libraries-overview

**Describe the new article**

It's not clear whether `Microsoft.Extensions.*` package versions have to be "aligned" (less or equal) to the runtime version.

E.g., is it ok to add a reference to `Microsoft.Extensions.* Version="6.0.0"` (targeting `netstanda

[2021-11-30 14:36] eiriktsarpalis opened #27317 "[Breaking change]: System.Text.Json default serialization format for TimeSpan"
### Description

System.Text.Json shipped support for `TimeSpan` in .NET 6 via https://github.com/dotnet/runtime/pull/54186, however this change left out support for source generators. We submitted a fix via https://github.com/dotnet/runtime/pull/62130 and are planning on servicing .NET 6 via https://github.com/dotnet/runtime/pull/62191. This is technically a breaking change since it changes the d

[2021-11-30 14:37] eiriktsarpalis commented on #27317
cc @ericstj

[2021-11-30 14:46] IEvangelist commented on #27301
At one point, we did have an example of how to query the C# lang version using:

[code]

But it was removed here, see: https://github.com/dotnet/docs/commit/0d17b93e85043c74b1f9a2e20bc8953b705cc987#diff-93609918de6e8f68d6409e929dbd8a791056935c668f5921e6ddd752cbed2bd8L84-L112

[2021-11-30 15:10] wannurhadi opened #27318 "noted"
[Masukkan maklum balas di sini]

---
#### Butiran Dokumen

⚠ *Jangan edit bahagian ini. Ia diperlukan untuk docs.microsoft.com ➟ Pemautan isu GitHub.*

* ID: c89966aa-b155-c98a-2391-47e01d468236
* Version Independent ID: de902eee-6f6b-3ccd-4dbf-1cc174daa806
* Content: [Troubleshooting 'This application could not be started' - .NET Framework](https://docs.microsoft.com/ms-my/dotnet/framework/instal

[2021-11-30 15:13] IEvangelist commented on #27301
@BillWagner - Ah, good to know. Thank you

[2021-11-30 15:16] BillWagner commented on #27308
Thanks for bringing this to our attention @zbalkan

I've added it to the list of issues for this article.

I've also added the "up for grabs" label if someone wants to submit a fix before we make our next updates.

[2021-11-30 18:55] tdykstra opened #27326 "Explain 5+ naming"
".NET 5+" is frequently used to mean "5 and later versions". In case that usage is not obvious to everyone, add an explanation in the .NET introduction and .NET glossary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa071095-4eb6-20c1-ca26-f34da6fcbdf8
* Version Independent ID: 2b2efd49-b0c8-9a13-525a-d04c802d2bef
*

[2021-11-30 19:00] chriwong opened #27328 "Hello World example is missing System namespace"
The **Hello world** example is failing because the `using System;` statement is gone.
[code]

The paragraph beneath the snippet even describes how the System namespace is being used, but the line of code is missing.

Running the Hello world example results in the following:
`program.cs(5,9): error CS0103: The name 'Console' does not exist in the current context`

---
#### Document Details

⚠ *Do n

[2021-11-30 19:29] gewarren commented on #26334
Related to #27310

[2021-11-30 19:46] #27326 closed

[2021-11-30 20:38] bravequickcleverfibreyarn opened #27331 "using directive – some mistakes"
_to all source files_

---

That is truth only for `using` and `using alias`. For `global using` it is `Error CS8914  A global using directive cannot be used in a namespace declaration.` Also there exists `Error CS8915  A global using directive must precede all non-global using directives.` thus statement

should be reworded. Better to specify `global using` behavior – before other `using` types,

[2021-11-30 21:17] bravequickcleverfibreyarn opened #27332 "Microbug: MSBuild reference for .NET SDK projects|Items|Using – link to _using directive_ links to using-directive#static-modifier"
_using directive_ links to
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-directive#static-modifier
insted of https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-directive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260

[2021-11-30 21:32] #26774 closed

[2021-11-30 21:38] gewarren commented on #27332
Probably there should be two separate links - the existing one for the static modifier and a separate link for aliased using directives that points here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-directive#static-modifier.

[2021-11-30 22:51] gewarren commented on #27256
I just added a new .editorconfig file (.NET) to a .NET 6 project in Visual Studio 2022 and it matched what's in this article. I see that you generated your .editorconfig file from the Tools > Options dialog, and the file it generates is a little different. I'll update the article. Thanks!

@mikadumont Are you the best person to take a look at the feedback for the VS editor?

[2021-11-30 22:57] adegeo commented on #27318
Hello. It looks like this issue may have been opened in error. I'll close it. But if you have more to add to it, please feel free to reopen and clarify your question/concern.

[2021-11-30 22:57] #27318 closed

[2021-12-01 02:27] jsmarsch opened #27339 "Links to command line argument parsing"
I know that .Net Core added a really cool command line argument parser, but when I search the documentation, all I can find is examples how how to use the args array and parse it manually.  Google doesn't help because it prioritizes old command line parser nuget packages. there should be a link on this page to the articles on using the command line parser.  It's such a shame, -- I'm having such a

[2021-12-01 05:01] MSDN-WhiteKnight commented on #27328
Fixed in https://github.com/dotnet/docs/pull/27281 (will be published to site in 1-2 days)

[2021-12-01 05:16] WeihanLi opened #27344 "Is there a runnable example for using the `TypeForwardedToAttribute` to implement type forward?"
Is there any example code for using the `TypeForwardedToAttribute`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0f7fddd-7181-30c5-acb6-5dcdb007fa76
* Version Independent ID: 06112331-f980-d74a-5d76-c3b5916a99ba
* Content: [Type forwarding in the common language runtime](https://docs.microsoft.com/en-us/dotnet/stand

[2021-12-01 10:01] gfoidl commented on #27339
You mean https://github.com/dotnet/command-line-api?

[2021-12-01 10:45] skriesch opened #27346 ".Net 6 is missing in openSUSE, SLES and Alpine documentations"
**Help us make content visible**

Debian, Ubuntu, RHEL and SLES are listed with Microsoft repositories with available .Net packages.
We have got also openSUSE users using .Net. Add your openSUSE repositories to the documentation, please.
You can do that also for Fedora for fairness. ;)

**Describe the new article**

	- openSUSE is a Desktop distribution for development.
	- openSUSE users want to w

[2021-12-01 13:30] BillWagner commented on #27328
Thanks for reporting this @chriwong

As @MSDN-WhiteKnight notes, this has been fixed. The update should be live now.

[2021-12-01 13:30] #27328 closed

[2021-12-01 13:31] BillWagner commented on #27331
Thanks @Uzivatel919

I've added this to the babcklog.

[2021-12-01 13:32] BillWagner commented on #27339
Adding @KathleenDollard @jonsequitur

Which library should we link to from these articles?

[2021-12-01 13:42] IEvangelist commented on #27344
There isn't a code example, I'll draft one up and add it to the article.

[2021-12-01 13:42] #27312 closed

[2021-12-01 14:01] WeihanLi commented on #27344
@IEvangelist thanks very much.

[2021-12-01 14:27] JasonDWilson opened #27349 "Service Recovery Options"
Thank you for the great article.  Is there a way to set the recovery options for the server?
![image](https://user-images.githubusercontent.com/57236874/144252115-771dc97a-6de2-4353-877b-a660f109801e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed148088-4550-2788-0756-390eab15e3f6
* Version Independent ID: 64d5c

[2021-12-01 14:41] JasonDWilson commented on #27349
Found this article that describes the process using SC.exe.  Would be useful to be included in this page:  https://medium.com/markus-blog/configure-windows-service-recovery-options-from-command-line-4c41c46b816f

[2021-12-01 16:03] #27214 closed

[2021-12-01 16:05] jsmarsch commented on #27339
Hello all:

Perhaps the one that Gunther mentioned. Unfortunately, I’ve only recently
had the opportunity to move from “Classic” .Net Framework to . Net/formerly
core. So, I know there is some sort of built-in command line parse
capability — The new (to me) configuration system can even  merge settings
from json config files, environment variables, and command line args.
There’s even a command lin

[2021-12-01 18:27] #27256 closed

[2021-12-01 18:41] stijnherreman opened #27355 "The page tree structure does not match the category table"
The category table lists categories by their EditorConfig value. The page tree structure does not match this table and makes it a bit confusing.

* The 'Code quality rules' entry refers to individual rules under `Code style rules > Unnecessary code rules`, `Code style rules > Language rules > Modifier preferences` and `Code style rules > Miscellaneous rules`. They are not under `Code quality rules

[2021-12-01 18:45] JasonDWilson opened #27356 "Debugging"
Is there a way to run the service in the Visual Studio?  I can run the exe from the console, but if I try to run it in the Visual Studio debugger, I get operation not supported:
![image](https://user-images.githubusercontent.com/57236874/144294714-1fc74d77-1851-4fe9-adce-c38b570b64bf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-12-01 19:36] IEvangelist commented on #27356
That's interesting, I am able to debug on my machine. You should note that when running from Visual Studio, or outside the Windows Service context this will behave differently.

[2021-12-01 20:17] #27125 closed

[2021-12-01 22:41] rtzoeller opened #27361 "Millisecond component of a DateTime value example uses nonlocalized decimal separator"
It was pointed out to me in a code review for code based on this example that I was not using a localized decimal point, despite the date and time formats being localized.

I believe the millisecond component of a DateTime value example should use `NumberFormatInfo.CurrentInfo.NumberDecimalSeparator`, rather than assuming the separator is a period.

---
#### Document Details

⚠ *Do not edit this s

[2021-12-02 02:48] tdykstra commented on #27069
@vlada-shubina Looks to me like these new parameters are hidden and shouldn't go in this article, can you verify?

[2021-12-02 07:22] NagayamaToshiaki opened #27367 "Provide a reason why implicit typing should be avoided in loop variable in foreach loops"
According to C# Coding Conventions, "Don't use implicit typing to determine the type of the loop variable in foreach loops."
But no clear reason is written here, so I don't know why we should use `foreach (char ch in laugh)` instead of `foreach (var ch in laugh)`.
You can find usually easily which type the `var` is, as Intellisense suggests like other `var`s.
[code]
Above might be difficult to gue

[2021-12-02 11:12] KalleOlaviNiemitalo opened #27368 "Wrong type of value in example of MSBuild ErrorEndLocation property in C# compiler options"
<https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/advanced#errorendlocation> shows the syntax as:

[code]

However, the property actually expects a Boolean value like `true`, not a file name. See <https://github.com/dotnet/roslyn/blob/1deafee3682da88bf07d1c18521a99f47446cee8/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L80> and <https://github.com/

[2021-12-02 11:36] KatBed opened #27369 "C# guide tutorial"
I recommend this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 356f32d2-2574-9d48-a096-aef9fc21112d
* Version Independent ID: 49ae4e9d-cd57-917c-8795-71ad57858d5d
* Content: [String interpolation - C# interactive tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/exploration/interpolated-stri

[2021-12-02 15:32] BillWagner commented on #27367
Thanks for asking this @NagayamaToshiaki

In your examples, and most instances using `foreach`, the type of elements in the collection isn't obvious.

This guidance follows from the general guidance on using `var` when the type of variable is obvious.

I'll leave this open and add the "up for grabs" label if any community member wants to update this before we make our next updates.

[2021-12-02 15:33] BillWagner commented on #27369
Thank you very much @KatBed

Closing this as kudos.

[2021-12-02 15:33] #27369 closed

[2021-12-02 15:48] ericstj commented on #26802
cc @tarekgh

[2021-12-02 16:32] JasonDWilson opened #27373 ".Net 6?"
Does .Net 6 support .Net Standard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)
* Content Source: [docs/standard/net-standard.md

[2021-12-02 16:35] adegeo commented on #27361
Hello! Are you saying that this section should use `NumberDecimalSeparator`?

![image](https://user-images.githubusercontent.com/67293991/144463817-8001a00c-111a-4fa8-a251-9f5cb4fd093a.png)

[2021-12-02 16:38] adegeo commented on #27255
Thank you for reporting this. I'll get it fixed!

[2021-12-02 16:45] #27255 closed

[2021-12-02 16:49] rtzoeller commented on #27361
@adegeo I believe that should as well as the sample code.

![image](https://user-images.githubusercontent.com/573497/144466353-ada6d90a-b12e-4281-a0bd-35d78c9be978.png)

[2021-12-02 17:10] vlada-shubina commented on #27069
@captainsafia @mkArtakMSFT could you please check above?

[2021-12-02 17:16] #27344 closed

[2021-12-02 17:28] tarekgh commented on #26802
@adegeo let me know if you need any help in that today or tomorrow. Otherwise I can help in January :-)

You may use https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/ for more nfo.

[2021-12-02 17:42] tdykstra commented on #26894
@layomia @steveharter can you help with this question?

[2021-12-02 17:59] #27135 closed

[2021-12-02 19:19] gewarren opened #27377 "Bulk enable security CA rules"
There are new settings in .NET 6 where we can bulk enable security rules - I'll look into that.

_Originally posted by @gewarren in https://github.com/dotnet/docs/pull/27376#discussion_r761396107_

[2021-12-02 19:52] tdykstra commented on #26807
@RevealedFrom Thanks for reporting that - I'm adding an explanation that VS code asks about adding assets when you edit a .cs file for the first time in a folder, and when you answer yes, it creates the .vscode folder and launch.json.

[2021-12-02 20:03] tdykstra commented on #27296
Release build configuration is available by default in your .NET console app -- do you get an error when you run the command shown in the tutorial -- `dotnet run --configuration Release` ?

[2021-12-02 20:40] #27184 closed

[2021-12-02 21:39] #26807 closed

[2021-12-02 22:15] tdykstra commented on #26859
@ISTAnsver Thanks for reporting this -- I'm adding the option to the article.

[2021-12-02 22:24] tdykstra commented on #26830
What version of VS for Mac are you using?

[2021-12-02 22:35] #27296 closed

[2021-12-02 23:32] jedzielski commented on #26830
Tom,
    The issue was resolved.  I had been doing “updates” to VS and it said it was current.  A complete delete and re-install fixed the issue.  John.

On Dec 2, 2021, at 5:24 PM, Tom Dykstra ***@***.******@***.***>> wrote:

EXTERNAL:

What version of VS for Mac are you using?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://nam02

[2021-12-02 23:46] #26830 closed

[2021-12-03 00:57] jenellea opened #27385 ".NET 6.0"
When will you be updating this page to include .NET 6.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2842ce-ee53-ec35-90c6-791a952dfc3b
* Version Independent ID: 79ec96d5-9c2c-1eaa-feb8-40b0afee6a30
* Content: [Check installed .NET versions on Windows, Linux, and macOS - .NET](https://docs.microsoft.com/en-us/dotn

[2021-12-03 01:32] mirsaeedi opened #27386 "Mention that ILogger is not registered by default in the DI container"
I think somewhere in the very beginning we should mention `ILogger` is not registered by default anymore and we should always use `ILogger<T>`. There are so many samples out there in Microsoft and community blogs with 'ILogger' in their sample code. It would lead to confusion as users would see errors regarding ServiceContainer is not able to resolve `ILogger`.

---
#### Document Details

⚠ *Do no

[2021-12-03 02:49] tdykstra commented on #26733
Closing in favor of #27310 which lists all of the STJ snippet projects.

[2021-12-03 02:49] #26733 closed

[2021-12-03 04:58] captainsafia commented on #27069
The flag is marked as hidden, however, it looks like I'm still able to invoke it when using the CLI command, e.g. the following command will update the launchSettings.

[code]

My assumption would be that the `isHidden` flag prevents the argument from being used but since it looks like it is available it might be worthwhile to document.

[2021-12-03 11:58] vlada-shubina commented on #27069
@captainsafia

`isHidden` just prevents parameter from being shown in help.
In case you don't want the user to be able to change this value (i.e. this is not a parameter), you may use constant symbol instead: https://github.com/dotnet/templating/wiki/Available-Symbols-Generators#constant

[2021-12-03 13:19] TimO2221 opened #27391 "Confusing Paragraph because of extenuous 'Not'"
`The dotnet build command is equivalent to dotnet msbuild -restore. When you don't want to build the project and you have a specific target you want to run, use dotnet build or dotnet msbuild and specify the target.`

I believe 'not' does not belong in the sentence, 'When you don't want to build the project ...'. That sentence would be appropriate for the dotnet run command.

---
#### Document Det

[2021-12-03 14:19] #27123 closed

[2021-12-03 14:19] #26859 closed

[2021-12-03 14:41] IEvangelist commented on #27274
Hey @adegeo,

Do you know what to do with this one? Should we transfer this issue to your `dotnet/desktop` repo?

[2021-12-03 14:45] IEvangelist commented on #27385
Hi @jenellea - thanks for raising this issue, I'll take care of this straight away.

[2021-12-03 15:31] phenning commented on #27069
AFAIK Visual Studio won't even get these parameters when we enumerate the parameters on the ITemplateInfo. Looking at https://github.com/dotnet/templating/blob/main/src/Microsoft.TemplateEngine.Abstractions/ITemplateParameter.cs it seems like this would be prefiltered from the hosts?

[2021-12-03 15:58] #27368 closed

[2021-12-03 16:35] tdykstra commented on #25177
Closing, as this is covered by https://github.com/dotnet/docs/issues/20656

[2021-12-03 16:35] #25177 closed

[2021-12-03 17:23] pbiggar opened #27395 "Document blazor msbuild configuration options"
There are a bunch of knobs available to config blazor projects, that I could not find documented anywhere.

I raised the issue before and things were moved around a bit, so this issue is to ensure the old issue doesn't get lost.

The old issue is at https://github.com/dotnet/AspNetCore.Docs/issues/24026
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-12-03 17:23] tdykstra commented on #27283
@mairaw This issue is actually about https://dotnet.microsoft.com/download/intellisense -- who would know when .NET 6 will be added to that page?

[2021-12-03 17:47] tdykstra commented on #27232
@buyaa-n @joperezr @steveharter who can help with this?

[2021-12-03 17:51] JasonDWilson commented on #27356
Found the issue.  When I copied this into my CSProj file, I was no longer able to debug
![image](https://user-images.githubusercontent.com/57236874/144649547-ea1d8f2c-3635-48d7-aa6c-9bd5ac40922e.png)

[2021-12-03 18:10] tdykstra commented on #26444
@safern who can help with this request?

[2021-12-03 18:16] tdykstra commented on #26395
@cartermp You're listed as owner of this article -- is that still valid, and if so do you want to respond to this question?

[2021-12-03 18:27] mairaw commented on #27283
AFAIK we won’t be shipping the localized IntelliSense anymore. Adding @JasonCard who would know who can confirm that.

[2021-12-03 18:35] tdykstra commented on #27391
It's not intuitive that you would use dotnet build when you don't want to run the build target, but the sentence is accurate.

[2021-12-03 18:35] #27391 closed

[2021-12-03 18:42] JasonCard commented on #27283
Yes, unfortunately, we will no longer be localizing IntelliSense.
Adding @khoiph1 @cristianosuzuki77 @HyunKSong for awareness of this request.

[2021-12-03 18:46] #27283 closed

[2021-12-03 18:55] tdykstra commented on #23554
Closing, as #27310 includes STJ snippet projects.

[2021-12-03 18:55] #23554 closed

[2021-12-03 20:45] agocke commented on #27274
Incompatibility with WPF and WinForms is noted on the "Trimming Incompatibilities" page, which is linked from that one https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/incompatibilities

That's in the first paragraph "Components that cause trimming problems"

Is there some other wording you would prefer?

[2021-12-04 00:50] gewarren commented on #27355
Thanks for the feedback. The rule categories in the table aren't intended to match the tree structure - they're intended to match the available EditorConfig settings (as you noted). But I have made what I hope is an improvement in #27401 regarding the "code quality rules" category in the table. Let me know what you think.

[2021-12-04 00:50] ahdung commented on #27283
Good job, another step towards niche products.

[2021-12-04 11:55] marcelwgn opened #27404 "[Question] Should single file publishing docs sample code use .NET 6 instead of .NET 5?"
As the title says, should the docs be using .NET 6 instead of .NET 5 since .NET 6 is out now and also the LTS version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1932751-7c2b-ce92-936e-e97f8581d5fa
* Version Independent ID: de677d1f-386a-e4c3-fdd0-6806b3ef2c0e
* Content: [Single file application - .NET](https://do

[2021-12-04 16:46] doterik opened #27405 "Clarification may be needed"
For me the sentence _"In the example above, the local functions version has two fewer allocations than the lambda expression version."_ is a bit unclear.

I assume it refers to three examples above and one example below, or maybe only one above and one below.

Please, clarify or move the example so that the sentence is correct.

I may be completely wrong but if you are not native English speaking

[2021-12-04 17:06] doterik opened #27406 "Parantheses not consistent"
In the last example `FindNumber` I'm a little disturbed that one condition has parentheses and the other not.
[code]
Either use, or not use, parantheses on both or neither.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6968c8f-19ab-f79f-021a-265108870371
* Version Independent ID: 6b4f1fec-b9d1-f501-1fcf-2c6f15209a29

[2021-12-04 21:14] woojamon opened #27407 "Sample doesn't compile."
In my case, the line

[code]
actually generates as

[code]

and causes the console app not to compile.

My console app project is targeting .net6, if that matters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a4410c-4c8d-0107-845b-9a951bb76682
* Version Independent ID: f1ed9873-3e29-b4bd-2dbb-44dd9a05d790
* Content

[2021-12-05 11:11] svick commented on #27407
This has been previously reported over at dotnet/roslyn: https://github.com/dotnet/roslyn/issues/57030, https://github.com/dotnet/roslyn/issues/58000.

[2021-12-05 12:20] symbiotic commented on #26313
Agreed. I suggest a redo. In a new github issue that does not conflict with "to voice your support for this feature". This template is not that usable, because the arguments and return value are not obvious

[2021-12-05 12:20] symbiotic commented on #26313
Agreed. I suggest a redo. In a new github issue that does not conflict with "to voice your support for this feature". This template is not that usable, because the arguments and return value are not obvious

[2021-12-05 19:59] tdykstra commented on #25474
@HongGit does this article need to be updated for .NET 5/.NET 6?

[2021-12-05 20:02] tdykstra commented on #27110
@Rick-Anderson Do we have a doc like this in the ASP.NET Core docs?

[2021-12-05 20:04] tdykstra commented on #27022
@mairaw Where should this issue go?

[2021-12-05 20:20] #27227 closed

[2021-12-05 20:42] Ariayx opened #27411 "code analyzer project cannot be compiled after creating the brand new project"
When I follow the instruction:
MakeConst.Vsix: which is the default startup project that starts a second instance of Visual Studio that has loaded your new analyzer. Press F5 to start the VSIX project.

There is no second project, and an error occurs;
![image](https://user-images.githubusercontent.com/94090612/144763168-8c5d2f56-5446-4804-bdda-2b7405ffa302.png)

---
#### Document Details

⚠ *Do no

[2021-12-05 23:11] mairaw commented on #27022
I've changed that already shortly after the release. Let me know if there’s still some confusion.

[2021-12-05 23:11] #27022 closed

[2021-12-05 23:28] shgysk8zer0 commented on #27185
@tdykstra I don't and won't use VS. I'm not installing that on top of an entire SDK just to sign a file so that a web app I already built ran through PWABuilder can be listed on a store.

I just want signtool. That's it.

[2021-12-06 02:20] Rick-Anderson commented on #27110
https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets is a .NET tool

[2021-12-06 02:44] Loophole62ndFF opened #27412 "ApiPort.exe is not a recognised command."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd8086b-9a95-38d5-160f-c12c653f954e
* Version Independent ID: 0f47d826-e3ef-8549-9d37-2e8afae29f46
* Content: [The .NET Portability Analyzer - .NET](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer)
* Content Source: [d

[2021-12-06 02:46] woojamon commented on #27407
Thanks @svick !

To whom it may concern: I see there was a decision not to put any note in the doc about it.. As a victim of the issue, I would very much have appreciated at least some comment about it. Not just that, but when I'm learning about some cool new thing that Microsoft built for us and the Getting Started sample is broken, it immediately decreases my confidence in the new thing and incr

[2021-12-06 02:51] Loophole62ndFF opened #27413 ".NET Portability report file link never pops up"
[Enter feedback here]
"After running the analysis in Visual Studio, you'll see your .NET Portability report file link pops up." -> this does not happen.  All you get is a progress display of some sort in the Output window, and then nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd8086b-9a95-38d5-160f-c12c653f

[2021-12-06 03:00] #27412 closed

[2021-12-06 03:00] #27413 closed

[2021-12-06 13:47] IEvangelist commented on #27356
Hi again @JasonDWilson - those values shouldn't impact your ability to debug the app. What version of Windows are you trying to debug from, what version of Visual Studio? Are you on a x64-bit machine? Are you trying to debug the published app, I have a lot of questions.

[2021-12-06 14:01] JasonDWilson commented on #27356
Thank David,  I debugging from Windows 10 Pro, Visual Studio 2022 (17.0.1) on a x64 machine.  I am trying to debug in Visual Studio.  Running the published app works fine.

Trying to add each line individually it is the line

<RuntimeIdentifier>win-x64</RuntimeIdentifier>

That causes the issue.

From: David Pine ***@***.***>
Sent: Monday, December 6, 2021 7:47 AM
To: dotnet/docs ***@***.***>
Cc:

[2021-12-06 16:07] ChadMichaelSheda opened #27414 "Please Donate _1 dollar to save the children , skylight Records produced by Chad sheda"
**Help us make content visible**

**Describe the new article**

![1635924632995](https://user-images.githubusercontent.com/94402076/144880100-48b13365-b55d-46fa-81c4-72e5645a21b4.jpg)
![1635933221418](https://user-images.githubusercontent.com/94402076/144880131-8218b6e9-0f46-4a3c-a0cb-ab70d5e2d1bf.jpg)
![1635933771284](https://user-images.githubusercontent.com/94402076/144880169-b148c763-df86-4c94

[2021-12-06 16:11] ChadMichaelSheda commented on #27414
![IMG_20211029_005634_284](https://user-images.githubusercontent.com/94402076/144880755-49ab6607-e55f-4e26-a3b3-4af71c13a3c1.jpg)
![IMG_20211029_060151234](https://user-images.githubusercontent.com/94402076/144881003-cf1c96b1-ad9c-4527-a3cc-6ed3ce3bd1c8.jpg)

[2021-12-06 16:11] ChadMichaelSheda commented on #27414
https://user-images.githubusercontent.com/94402076/144881105-2b81339d-98e6-4129-b721-d1f5b0940d8b.mp4

[2021-12-06 16:14] ChadMichaelSheda commented on #27414
![IMG_20211206_041707_109](https://user-images.githubusercontent.com/94402076/144881462-130d8603-c269-4f80-acee-787454e01dc4.jpg)
![IMG_20211130_193405_372](https://user-images.githubusercontent.com/94402076/144881487-e50dafb5-67ae-42f6-aecc-26ca733113f1.jpg)
![IMG_20211130_210624_520](https://user-images.githubusercontent.com/94402076/144881495-85978f45-7ad9-4282-b42b-31d27faaf788.jpg)
![IMG_2021

[2021-12-06 16:17] BillWagner commented on #27414
closed and locked as spam.

[2021-12-06 16:17] #27414 closed

[2021-12-06 16:21] ChadMichaelSheda opened #27415 "Donate$1 to Save The Children Skylight Records produced by Chad Michael Sheda"
![IMG_20211123_234056_165](https://user-images.githubusercontent.com/94402076/144882531-a45ba9ec-c1d6-40f2-b232-3424bc00a279.jpg)
![IMG_20211111_004637_943](https://user-images.githubusercontent.com/94402076/144882575-5f78fade-ba8c-4119-a149-15768a0a712f.jpg)
![IMG_20211108_200508_086](https://user-images.githubusercontent.com/94402076/144882656-930d5b53-45b3-45fb-aa76-6839e11d238e.jpg)
#**Help us

[2021-12-06 16:27] moz-ljp opened #27416 "Cannot see my GPU under Environment for ML.NET in VS 2019."
Hi,

I installed the prerequesites as https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-gpu-model-builder describes and have all the correct versions etc however am still not prompted to use my GPU, the option isn't even there. I have re-installed everything, updated my drivers but no luck.

Any help would be greatly appreciated.

Thanks

[2021-12-06 16:30] tdykstra commented on #27185
Does this work for you: https://stackoverflow.com/a/65339931/652224 ?

[2021-12-06 16:36] tdykstra commented on #26313
The comment in the templates article has been changed from:

to:

[2021-12-06 16:54] #27416 closed

[2021-12-06 16:55] adegeo commented on #26313
@tdykstra It may be better to open a new issue, I don't think any vote can be trusted 😁

[2021-12-06 17:10] #27386 closed

[2021-12-06 17:13] IEvangelist commented on #27356
Hey @eerhardt - would you know why this might cause issues when attempting to debug? See comments above.

[2021-12-06 17:26] #27349 closed

[2021-12-06 17:26] #27356 closed

[2021-12-06 17:39] VladiStep opened #27419 "Cancelling Parallel.For(Each)"
Is it necessary to call `po.CancellationToken.ThrowIfCancellationRequested()` if it throws _(and then catches)_ the same `OperationCanceledException` anyway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad8b3ee-d780-0844-bc19-1f725df6fcc1
* Version Independent ID: c83570d1-5b88-06fa-b3ed-6ff984f7c310
* Content: [How

[2021-12-06 17:42] tdykstra opened #27420 "Should the console project template use top-level statements"
For .NET 6, the console project template was changed to use top-level statements. The code that is created in Program.cs  is:

[code]

In earlier versions of .NET and .NET Core, the code that is created in Program.cs is:

[code]

Discussion about whether this was a good change began in https://github.com/dotnet/docs/issues/26313 but there was some confusion about what exactly the various up or dow

[2021-12-06 17:43] tdykstra commented on #27420
Up-vote this comment if you support the use of top-level statements in project templates.

[2021-12-06 17:45] tdykstra commented on #27420
Up-vote this comment if you prefer project templates to use the code created in previous .NET versions.

[2021-12-06 17:46] tdykstra commented on #27420
Up-vote this comment if you would like to be given a choice between top-level statements code and the code created in previous .NET versions.

[2021-12-06 17:48] tdykstra commented on #26313
See #27420

[2021-12-06 17:48] #26313 closed

[2021-12-06 17:58] #18763 closed

[2021-12-06 17:58] #21147 closed

[2021-12-06 18:03] tdykstra commented on #25175
Fixed by #25402

[2021-12-06 18:03] #25175 closed

[2021-12-06 18:09] tdykstra commented on #25728
Actually the use of the same title for the two rules was deliberate -- see https://github.com/dotnet/roslyn-analyzers/pull/3921/files#r463809548

[2021-12-06 18:09] #25728 closed

[2021-12-06 18:15] IEvangelist commented on #27419
Hi @VladiStep - thank you for posting this issue. This is code is intentional. It shows the reader what exception results from the invocation to `ThrowIfCancellationRequested`.

[2021-12-06 18:15] eerhardt commented on #27356
No, unfortunately I don't. Maybe @BillHiebert might?

[2021-12-06 18:17] adegeo commented on #27420
Did you mean downvote!!?!?!? 😄

[2021-12-06 18:22] tdykstra commented on #27373
This article was updated for .NET 6 by https://github.com/dotnet/docs/pull/27224

[2021-12-06 18:22] #27373 closed

[2021-12-06 18:55] tdykstra commented on #26160
@Rick-Anderson

What update does it need? This is a what's new for 2.1, so the content should still be accurate since 2.1 hasn't changed. Are you suggesting we retire the what's new docs for no-longer-supported versions, i.e., 2.0, 2.1, 2.2, and 3.0?

[2021-12-06 18:58] BillWagner commented on #27405
Thanks for noting this @doterik

I've added it to our backlog to address and clarify when we next update this article.

[2021-12-06 19:09] BillWagner commented on #27406
Thanks for pointing this out @doterik

We should use the extra parentheses to be consistent with our coding styles.

I've added this to our backlog, and added the "up for grabs" label, in case someone wants to submit a PR before we make the change.

[2021-12-06 19:10] BillWagner commented on #27407
@woojamon We will get this updated to match the latest implementation.   This change to the SDK came in rather late in the cycle, and we haven't found addressed all the impacted locations. writing this issue helps us.

Adding @mikadumont as well.

[2021-12-06 19:12] BillWagner commented on #27411
Thanks for pointing this out @Ariayx

This article does need to get updated for the .NET 6 wave.

[2021-12-06 19:52] Rick-Anderson commented on #26160
I would at least remove it from the TOC
![image](https://user-images.githubusercontent.com/3605364/144912906-af5ad01f-c769-4d2d-9d8e-a9baf08674bb.png)

[2021-12-06 20:15] #25351 closed

[2021-12-06 20:43] VladiStep commented on #27419
Okay, I got it.
I just think there should be some note about the fact that it would work without `ThrowIfCancellationRequested()`, because `For()`/`ForEach()` _already does_ that.

[2021-12-06 21:50] #25217 closed

[2021-12-06 22:06] ardalis commented on #26160
It's true it's no longer supported and that will be updated in the revision coming imminently. However, it's still a reasonable incremental step for customers to take on the path to a supported version if they're coming from .NET Framework. As such, my intention is to leave the chapter but update the text and include some strong Note/Warning boxes indicating that the migration is meant to be an in

[2021-12-06 22:30] Ariayx commented on #27411
I figure it out that I should change the default project. If I switch the target project to xxxx.Vsix, it works

[2021-12-07 00:13] princeanire opened #27425 "No Specifics about the Code Error CS8803"
[Enter feedback here]
I saw that the Error CS8803 have no any information.
The Error's description is Top-level statement must precede namespace and type declaration.
I want to understand why the error appears and exists.  and if so, gather any solutions to resolve this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-07 00:36] saravanansomu opened #27428 "Ambiguous statements related to Tuple types are value types vs reference types"
[Enter feedback here]
These two lines are ambiguous and misleading:
Statement#1 Tuple types are value types
Statement#2 In section "Tuples vs System.Tuple", there is a statement: Tuple types are reference types.
It should be clearly indicating what kind of types are the Tuple types, and how are they kept in memory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-12-07 04:53] SwimlaneBuilder opened #27431 "Hack or account takeover on Github (ALERT GITHUB SECURITY)"
.NET Core needs workflow, and it must not be hacked by some jackass named HACKERONE. POLYGON FAIL him

https://github.com/UiPath-Open/corewf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ffd175-50c4-3318-5766-6ce524e6bc0f
* Version Independent ID: db844938-ba9f-3e00-bbf0-17e14be7cedb
* Content: [What's new in .NET 5

[2021-12-07 05:27] kkm000 opened #27432 "Please summarize the impact of each technology on this page"
The page summarizes various performance settings, and explains _what_ they do clearly. It would be even more awesome if each subsection had also provided an two-sentence high-level summary of _when_ and _when not_:
1. What is the _adverse_ effect of each setting, for example, "This increases startup time of a program slightly" or "This improves startup time at the expense of the file size".
2. The

[2021-12-07 05:37] q00Dree commented on #27420
I'm sorry in advance, but what about ASP.NET Core templates like  `-webapi ` ?
I'd like to have choice between normal `Srtatup.cs and Program.cs` vs new `Program.cs`

[2021-12-07 06:59] ahdung opened #27433 "What's the precedence between and/or/not?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24835b78-fece-0f9c-8118-40e2151ebc12
* Version Independent ID: 75aa73d0-1bde-a20b-71e2-8e0939c5037c
* Content: [Pattern matching changes - C# 9.0 draft specifications](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/patterns3#pattern-c

[2021-12-07 07:03] rajaiahs commented on #4675
Hi,

I have a .net application(Winforms) which is a client/server based architecture. My client and server application uses raw sockets to communicate with each other. Now, we have a need to implement TLS 1.2 in the existing applicaiton client/server. What changes do I need to make it to work seamlessly? I have already tried two approaches, 1. Changing the application.exe.config file and 2. Rebuil

[2021-12-07 07:07] kapsiR commented on #4675
@rajaiahs There is a pretty good explanation [in the docs](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-tcp-sockets-networking):

[2021-12-07 10:26] stijnherreman commented on #27355
@gewarren the PR looks good to me 👍

[2021-12-07 10:46] rhrytskiv commented on #26313
Please just add an option to choose if I want old or new style template instead of sdk switching this is very annoying.

[2021-12-07 11:26] svick commented on #27433
This is the specification proposal for the feature, so it uses precise, but potentially confusing way of specifying that, the grammar:

[code]

This grammar means that `and` has higher precedence than `or`.

If you don't need this level of precision, you should look at [the language reference instead](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/patterns#logical-patt

[2021-12-07 13:19] BillWagner commented on #26528
Related to #5410

[2021-12-07 13:19] BillWagner commented on #27425
Related to #5410

[2021-12-07 13:21] BillWagner commented on #27428
Thanks for pointing this out @saravanansomu

We should clarify that `System.Tuple` is a reference type, `System.ValueTuple` is a value type. The C# syntax for *tuples* compiles to instances of `System.ValueTuple`, which is a value type.

I've added this to our backlog, and added the "up for grabs" label if anyone wants to submit a PR before we make our next updates.

[2021-12-07 13:28] BillWagner commented on #27433
Hi @ahdung

I agree with @svick that this is answered in the ANTLR grammar, and the language reference provides a text description.

I'll close this as an answered question. If you have further questions, please open a new issue.

[2021-12-07 13:28] #27433 closed

[2021-12-07 13:58] #27406 closed

[2021-12-07 15:33] ahwm commented on #26313
@rhrytskiv see  https://github.com/dotnet/docs/issues/27420#issuecomment-987007543

[2021-12-07 15:35] mikeKuester commented on #23900
Visual Studio 2022 shows CA2254 warnings, but the link is broken? It is also missing in https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/
But if I look in the issue, it should be already merged?  "CA2254 added in Enabled logging analyzer on new repo roslyn-analyzers#5244."

[2021-12-07 15:35] adevyataykin opened #27436 "Языковые правила"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f19aa22-56d1-ff22-a410-e5e0b6a80e6d
* Version Independent ID: 012968d3-07d2-5c37-fa3d-e3561eff8681
* Content: [Code style language rules - .NET](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/language-rules)
* Content

[2021-12-07 15:39] Youssef1313 commented on #23900
@mikeKuester The PR that's merged is that product PR. The docs PR isn't yet created. cc @maryamariyan

[2021-12-07 15:46] mikeKuester commented on #23900
Ok, it is a little bit strange, that a new analyser is deployed without an explanation. :(
At least from my user perspective.

[2021-12-07 16:27] tdykstra commented on #27420
@Rick-Anderson do you want to create a discussion issue like this one in the ASP.NET Core repo?

[2021-12-07 17:34] #27377 closed

[2021-12-07 17:57] BillHiebert commented on #27356
I assume Ctrl+F5 (run without debugging) works? @gregg-miskelly - have you seen the error mentioned in this issue while trying to attach?

[2021-12-07 18:12] gregg-miskelly commented on #27356
I believe the real problem is `<PublishSingleFile>true</PublishSingleFile>` and it is just that publishing a single file app without a runtime id doesn't do anything. My understand is that debugging single-file apps isn't supported for .NET 6 or earlier.

[2021-12-07 18:48] eerhardt commented on #27356
cc @vitek-karas @agocke

[2021-12-07 18:54] StephenWeatherford opened #27438 "No help page for C# error CS7036"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbb051ee-f020-66ba-c601-4a08ad32ef61
* Version Independent ID: 58a19505-ac46-c5c8-12cc-fe87b6aa18a7
* Content: [Sorry, we don't have specifics on this C# error](https://docs.microsoft.com/en-us/dotnet/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error?f1url=%3Fa

[2021-12-07 19:10] wfurt commented on #4675
And avoid mixing select/poll with SslStream. Just read (sync or async) from the SslStream.

[2021-12-07 20:33] KathleenDollard opened #27441 "List of implicit global usings for each project type"
**Issue description**

The list of usings included when <ImplicitUsings>enable<ImplicitUsings> is not available

**Target framework**

- [x] .NET Core 6.0 (strictly C# 10)
- [ ] .NET Framework
- [ ] .NET Standard

When this link is available, we need to update the link in the .NET 6 blogpost. That is redirected as https://aka.ms/csharp-implicit-usings. @BillWagner is an owner

@BillWagner @gewarre

[2021-12-07 20:37] arogers-enthink opened #27442 "Usage examples"
This page could benefit from some examples on using the created type based on the Enumeration class. Demonstrating why/how ID and name are related and used, etc.

Also recommend using the more completed Enumeration class from the microservices repo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08

[2021-12-07 20:43] JasonDWilson opened #27443 "Accesing AppSetting.json"
Something else we will want to add to the page is that appsettings is not accessible when running as a service unless you add this to your program.cs

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed148088-4550-2788-0756-390eab15e3f6
* Version Independent ID: 64d5cdf8-e50f-0c89-7f16-82645ba6383e
* Content: [Cre

[2021-12-07 20:53] Rick-Anderson commented on #27420
Use the ASP.NET Core 5 templates. Startup is fully supported.

[2021-12-07 20:55] cartermp commented on #26395
Heh, not at MSFT anymore, so probably best to remove my ownership 🙂

In general, I think that this isn't _that_ big of a deal, since VS can support folder relationships as well. I don't think it's harmful to make things conform to a more flat structure (that VS will create by default), but most modern projects do place tests and application code in separate subdirectories and it's not a bad idea t

[2021-12-07 20:58] bravecobra commented on #27420
That is only temporary as those templates will be removed once .net core 5 is out of support. So, no, that is not a valid permanent solution to the problem.

[2021-12-07 21:28] Rick-Anderson commented on #27420
The templates are not removed when .NET Core 5 goes out of support.

[2021-12-07 21:34] DenisBabarykin commented on #27420
@Rick-Anderson can I create .NET Framework 4.5.1 template in VS 2022? Will I be able to create .NET Core 5 template in VS 2030? I don't think so. We want to make sure that the old-style explicit templates will be available in the future as well as the new one.

[2021-12-07 21:36] Rick-Anderson commented on #27420
https://dotnet.microsoft.com/download/dotnet/1.1 is the .NET 1.1 SDK. Download that and you can create the ASP.NET Core 1.1 templates with VS 2022.

If you have complicated startup logic, you might want to keep using startup. But with complicated startup logic, the templates aren't much help.

[2021-12-07 21:40] DenisBabarykin commented on #27420
@Rick-Anderson If you think that you are right, then people will also support your opinion. Organize a vote and the question will be closed.

[2021-12-07 21:58] adegeo commented on #27274
@RussKie ping

[2021-12-08 00:34] gewarren commented on #27441
@KathleenDollard Is this what you're looking for? https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview#implicit-using-directives

I'm not sure what you mean by "when enable is not available".

[2021-12-08 00:35] gewarren commented on #27441
I don't seem to have perms to update the aka.ms link.

[2021-12-08 00:51] ahdung commented on #27433
@svick First thank you for your response.

Before I asked the question, I read the full text carefully, including the two places you mentioned, but they only explained `and` and `or`, even your answers, that is interesting really, BUT WHAT ABOUT `not` MEN?

Precedence is a very important thing, I recommand you provide a FORM or TABLE to show it, like [this doc](https://docs.microsoft.com/en-us/dot

[2021-12-08 01:51] RussKie commented on #27274
Thank you for the feedback. I've re-read the page and I must admit I found it is difficult to spot the "Known trimming incompatibilities" link.

It would be great if
a)  [Known trimming incompatibilities](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/incompatibilities) as well as [Prepare .NET libraries for trimming](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming

[2021-12-08 02:54] goldsam opened #27445 "Ocelot is is no longer maintained"
Ocelot appears to be dead: https://github.com/ThreeMammals/Ocelot/issues/1539. You may want to stop referencing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ce8eaa-b3ff-9b69-fea1-131eed36b9ec
* Version Independent ID: 771d9f72-b506-79ef-5398-030c1705ee9a
* Content: [Implementing API Gateways with Ocelot](https:

[2021-12-08 07:13] pkulikov commented on #27433
@ahdung what do you think of #27447? It mentions `not` and and highlights the precedence info by introducing the dedicated section for it.

[2021-12-08 07:34] ahdung commented on #27433
@pkulikov Thank you, much better, but I still suggest use list or table, more formal.

[2021-12-08 07:41] pkulikov commented on #27433
yes, I've formatted it as a list. Thank you @ahdung

[2021-12-08 09:49] luetm commented on #27420
In my opinion, the move to remove clutter is a very good one. I was also quite shocked when I first saw it, but when I teach coding to newcomers, it makes things so much easier. No more "just ignore all that stuff and focus on the things between the {}".

In general it's a very good direction follow, as long as there's no hidden functionality ("magic defaults"). With that I mean hidden behavior, f

[2021-12-08 10:21] trivalik opened #27448 "is has changed starting with C# 8"
The first example seems wrong, since it works only in C# 9. The wrong example:
[code]
This works in C# 8.0, but does not do the function of IsFirstFridayOfOctober():
[code]

As far as I understand does C# 7.0 only contains the matching to create a local variable, like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-12-08 11:51] pkulikov commented on #27448
The example uses the relational pattern that is available starting with C# 9

[2021-12-08 11:52] pkulikov commented on #27448
But what makes it wrong?

[2021-12-08 12:18] symbiotic commented on #27420
@tdykstra thanks for starting this issue

[2021-12-08 12:39] bravecobra commented on #27420
But there is magic going on.
The signature of the program's entry-point method is deduced from your code. The only way to control it, is by changing your code (using await and return statements) since it's magically generated on-the-fly by the compiler.
The relevant magic can be found at https://github.com/dotnet/roslyn/blob/main/src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleP

[2021-12-08 13:49] BillWagner commented on #27438
related to #24002

[2021-12-08 13:51] BillWagner commented on #5410
Related to #24002

[2021-12-08 13:53] BillWagner commented on #26433
Related to #24002

[2021-12-08 13:53] BillWagner commented on #26068
related to #24002

[2021-12-08 13:53] BillWagner commented on #24369
related to #24002

[2021-12-08 13:54] BillWagner commented on #23032
related to #24002

[2021-12-08 13:54] BillWagner commented on #21856
Related to #24002

[2021-12-08 13:54] BillWagner commented on #20927
Related to #24002

[2021-12-08 14:01] trivalik commented on #27448
The sentence before starts with "Beginning with C# 7.0, ". So I would guess that the following example is working with this version, but it is not.

[2021-12-08 14:16] IEvangelist commented on #27443
Hi again @JasonDWilson - Check this out:

https://github.com/dotnet/runtime/blob/60edc0bdafce1849fec19e3ec4f766074de50fc3/src/libraries/Microsoft.Extensions.Hosting.WindowsServices/src/WindowsServiceLifetimeHostBuilderExtensions.cs#L47-L50

The content root is intentionally set as to _c:\Windows\System32_ for services. I'm worried that setting the directory in the way that you're describing could

[2021-12-08 14:20] pkulikov commented on #27448
I see, then it becomes difficult :). The is operator supports pattern matching since C# 7, but since then every language version adds new patterns. So, either (1) the example should be in c# 7 or (2) we need to clarify that it uses the patterns added later. I like variant (2).

What do you think @trivalik ?

[2021-12-08 14:38] #27431 closed

[2021-12-08 15:15] ianw1223 opened #27452 "Suggest clearer, self-documenting style of code with meaningfully named methods"
Providing a whole example of caching here is excellent.

However, the style of the example code obfuscates what is going on by foregoing meaningfully named methods in favour of anonymous methods.

I would suggest that the example would be much clearer if it defined two separate Tasks:
`Task PlaceLetterInCache (char letter) {...}`
`Task CheckIfLetterInCache (char letter) {...}`

Why?
Notice how vis

[2021-12-08 15:40] BillWagner commented on #27441
I updated the aka.ms link.   https://aka.ms/csharp-implicit-usings now points to https://docs.microsoft.com/dotnet/core/project-sdk/overview#implicit-using-directives

closing as fixed.

[2021-12-08 15:43] BillWagner commented on #27448
I'd prefer variant (2). We should optimize for the current version.

[2021-12-08 16:03] #10746 closed

[2021-12-08 17:19] trivalik commented on #27448
I am fine with variant (2).

[2021-12-08 18:07] ri-rokon opened #27455 "Access Modifiers"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8121f526-cfe4-091d-d031-2cdc274cd8ee
* Version Independent ID: 76a389f6-b568-3568-6483-6df440f96f0c
* Content: [Access Modifiers - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/access-modifi

[2021-12-08 18:07] #27455 closed

[2021-12-08 18:25] vitek-karas commented on #27356
Currently VS doesn't support debugging on single-file apps (the .NET 6 version of single-file that is). What is supported for single-file is SOS plugin and dump debugging. The live debugging support is being worked on.

[2021-12-08 19:07] nishanil commented on #27445
Thanks for reporting this. It's best to remove it as we aren't using it in the eShop project either.
@IEvangelist We may have to drop the file entirely. How do we handle redirects and 404s? Can we rewrite this section with our actual implementation with Envoy, and redirect there?

[2021-12-08 20:08] IEvangelist commented on #27445
Hi @nishanil - yes, update content to Enovy and then redirect to that.

[2021-12-08 20:32] gewarren commented on #27395
These are the undocumented props if anyone wants to pick this up:

- `EmccCompileOptimizationFlag` - allows you set how the wasm gets compiled. For example, this creates wasm that runs with assertions enabled:  `<EmccCompileOptimizationFlag>-O0 -s ASSERTIONS=2 -s STACK_OVERFLOW_CHECK=2 -s SAFE_HEAP=1</EmccCompileOptimizationFlag>`
- `EmccCompileLinkFlag` - similar to EmccCompileOptimizationFlag bu

[2021-12-08 20:38] IEvangelist commented on #26546
Hi @iRejish, you're getting an access denied error. I do not believe it has anything to do with the `.` in the file name. In fact, that error itself shows that the file name correctly.

[code]

[2021-12-08 20:53] gewarren commented on #27346
@skriesch We have an article about installing .NET on openSUSE here: https://docs.microsoft.com/dotnet/core/install/linux-opensuse.

[2021-12-08 21:03] gewarren commented on #27315
@terrajobst Can you answer this one?

[2021-12-08 21:05] gewarren commented on #27305
This issue was moved to MicrosoftDocs/visualstudio-docs#7401

[2021-12-08 21:05] #27305 closed

[2021-12-08 21:51] gewarren commented on #27156
@antonfirsov Would you be able to help with this question?

[2021-12-08 23:18] RatalBad opened #27460 "CS1503"
[Enter feedback here]
The groundCheck variable uses groundCheckRadius to evaluate whether the Player is on the surface
"playerIsGrounded = Physics2D.OverlapCircle(groundCheck.position, groundCheckRadius, ground);"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f98776d-66cc-91ad-697a-783f80914f9c
* Version Independent

[2021-12-09 00:18] HybridSolutions opened #27461 "Log Event Id documentation Issue"
In section [Log Event Id](https://docs.microsoft.com/en-us/dotnet/core/extensions/logging?tabs=command-line#log-event-id) I would like to suggest another example because the one presented is not making sense.

In the description it's stated that

So where's the usage of EventId object in the sample code?? Wouldn't it be more correct to use a sample like the following?

[code]

This uses the existi

[2021-12-09 04:11] gewarren commented on #26841
@Maoni0 Do you know?

[2021-12-09 04:31] gewarren commented on #26759
I think the title translates as "slightly outdated".

[2021-12-09 04:32] gewarren commented on #26759
@sartoriprado What do you think should be improved in the article?

[2021-12-09 04:59] gewarren commented on #26257
@mikem8361 Is there a difference between `MiniDumpNormal` and `MiniDumpFilterTriage`?

[2021-12-09 05:02] gewarren commented on #26241
Closing this in favor of dotnet/roslyn-analyzers#4508.

[2021-12-09 05:02] #26241 closed

[2021-12-09 08:51] LindaLawton opened #27468 "Message template should be compile time constant"
There are some issues with the logging if you are trying to keep things to standard.  They are showing up as warnings in Rider currently.

The following logging method has two issues

- Message template should be compile time constant
- Log event messages should be fragments, not sentences

      _logger.LogInformation($"{nameof(TimerHostedService)} is running.");

May I suggest that all logging i

[2021-12-09 09:33] ismasanchez opened #27469 "Mismatch between model prediction (forecast) and chart shown in the example."
In time series example "Forecast bike rental demand" the values obtained for the prediction (forecast) does not match with the chart shown in the screen:

Values obtained in model:

Date: 01/01/2012
Actual Rentals: 2294
Lower Estimate: 1197.8424
Forecast: 2334.4434
Upper Estimate: 3471.0442

Date: 02/01/2012
Actual Rentals: 1951
Lower Estimate: 1148.4125
Forecast: 2360.8608
Upper Estimate: 3573.30

[2021-12-09 10:29] died commented on #27420
BTW, can we have a MVC version Identity ?
After ASP.NET Core 2.1 Identity only provider as  Razor pages and it was hard to customize, unless .NET team only doing "Hello World" level project, or only provide Razor version Identity was not smart move, like this "top-level statements" issue.

And .NET team only close issue to close our voice like #24181

[2021-12-09 11:15] svdHero opened #27470 "How can I mock BlobServiceClient for unit tests when using dependency injection?"
The documentation [here](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobserviceclient.-ctor?view=azure-dotnet#Azure_Storage_Blobs_BlobServiceClient__ctor) shows the default constructor `BlobServiceClient()` with the description "Initializes a new instance of the BlobServiceClient class for mocking."

How can I mock a `BlobServiceClient` for unit testing? More precisely, I woul

[2021-12-09 13:50] IEvangelist commented on #27443
Closing as duplicate of dotnet/aspnetcore#38870

[2021-12-09 13:58] IEvangelist commented on #27468
Hi @LindaLawton, great observations! You're correct, and I would happily welcome a PR to review. Please reference this issue in the PR and feel free to tag me for review. Thanks

[2021-12-09 14:20] wjrogers opened #27471 "Compile-time logging source generation example triggers analyzer error "partial method must have an implementation part because it has accessibility modifiers""
When I write a class like the one in the example on this page,

[code]

the IDE flags it with an error:

However, the code compiles and executes successfully. Will you please add some guidance to this page about this error, especially if there is a way to silence it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc4e

[2021-12-09 14:46] BillWagner commented on #27048
ping @dsyme for your thoughts here.

[2021-12-09 14:48] BillWagner commented on #27164
Thanks @mohamed-azhar that''s the best suggestion.

I'll close this as an answered question.

[2021-12-09 14:48] #27164 closed

[2021-12-09 14:51] BillWagner commented on #27460
@RatalBad

I don't have enough context to understand what should change in the documentation. This may be a question that is better answered in our [Q & A forums](https://docs.microsoft.com/answers/products/). Can you provide more info on what the issue with our content is?

[2021-12-09 15:12] #27308 closed

[2021-12-09 15:19] #27448 closed

[2021-12-09 15:23] DefinitelyADev commented on #27420
Since that happened I/we tend to just do it manualy. Eg. create our own views and models and add the service injections. I/We also have abstracted the (User/Role/etc)-Manager using our own interfaces and implementations. So we just add my/our own library in my/our projects.

[2021-12-09 15:23] #26556 closed

[2021-12-09 16:43] saravanansomu commented on #27428
It's perfect now. Thank you @BillWagner !

[2021-12-09 17:19] #26739 closed

[2021-12-09 17:24] #27452 closed

[2021-12-09 17:26] buyaa-n commented on #27232
I believe @tarekgh could help

[2021-12-09 18:48] mikem8361 commented on #26257
There isn't a lot of difference in how much memory, etc. is collected, but MiniDumpFilterTriage removes the personal user info like some paths, passwords, etc.

[2021-12-09 19:01] tdykstra commented on #26108
Which article does this refer to?

[2021-12-09 19:05] tdykstra commented on #26154
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2021-12-09 19:05] #26154 closed

[2021-12-09 19:28] #26257 closed

[2021-12-09 19:43] tdykstra commented on #27217
@LakshanF can you answer this question?

[2021-12-09 19:54] tarekgh commented on #27232
@buyaa-n this doc is relevant to .NET Framework and not .NET Core in general. I think it is fair to mark this doc as so. There is other [doc](https://docs.microsoft.com/en-us/dotnet/core/extensions/create-resource-files#resources-in-resx-files) here talking how to create and reads the resource which I believe it'll work for .NET Core.

By the way, I am off so I may not be responsive.

[2021-12-09 20:01] tdykstra commented on #27470
@pakrym can you help with this question?

[2021-12-09 20:03] tdykstra commented on #27471
@maryamariyan can you help with this question?

[2021-12-09 20:04] ahwm commented on #27420
IMHO if this is the style of teaching then the teaching needs to be fixed. Namespaces and class declarations aren't to be ignored but understood. Coding classes should start of with conceptual lessons (such as "what are classes?") before ever writing code. Especially with a language like C# where everything is object oriented. Without that foundation the differences between `Console.Write()` and `

[2021-12-09 20:09] nils-a commented on #26257
Thanks for clarifying this!

[2021-12-09 21:04] mletterle commented on #8370
This is a good idea.

[2021-12-09 22:13] #27033 closed

[2021-12-09 23:30] mjess25 opened #27486 "Need to specify that left shift is modulo number of bits in the left operand"
Currently, this documentation doesn't specify what happens when you left shift a number more than the number of bits in the number, e.g., left shift a 64 bit long 66 times. I was surprised to learn that this doesn't just keep shifting in 0s from the right 66 times but rather has the same effect as shifting the number 2 times, i.e., if x is a 64 bit long then x << 66 == x<<2. The documentation shou

[2021-12-09 23:40] rossy62 opened #27487 "I'm trying to create a /clr build configuration for unmanaged C++ code. Need syntax to set the Assembly version for C++"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3caeaa7-8d3c-eac3-2e49-5129a956c266
* Version Independent ID: 3839cfc8-188f-b57a-0726-f4c6fe0402fc
* Content: [CA1016: Mark assemblies with AssemblyVersionAttribute (code analysis) - .NET](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-ana

[2021-12-10 00:12] xt0rted opened #27488 "Add a note that user secrets will not be loaded when using the worker service sdk"
Due to a bug or missing feature user secrets aren't loaded unless your startup project uses the web sdk or directly references the `Microsoft.Extensions.Configuration.UserSecrets` package. [This is a known issue](https://github.com/dotnet/extensions/issues/2743#issuecomment-562264614) since at least .net core 3.1 and still exists in .net 6.

The worker service template sets up user secrets but doe

[2021-12-10 00:31] WhatFreshHellIsThis opened #27489 "Sudo command is missing in some of the example command"
Sudo command missing ahead of some of the example commands, for examle under ubuntu 20 the very first block is missing sudo ahead of the wget .... command but subsequent commands have it.
This means a copy and paste will not work completely but the errors will be buried in a lot of text so users could easily miss this.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-12-10 02:07] maryamariyan commented on #27471
I got a repro for this. Thanks for your report @wjrogers.

@pranavkm what approach do you recommend to silence a diagnostic?

[2021-12-10 02:39] atajanovez opened #27490 "+="
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23958040-e5a6-2d3b-4764-d5b0b4126cc4
* Version Independent ID: 91eb2a64-43b2-f128-9170-b263878a3421
* Content: [Compiler Error CS1525](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1525?f1url=%3FappId%3Droslyn%26k%3Dk(CS1525))
* Content Source

[2021-12-10 02:57] ianw1223 commented on #27452
Wow. As someone new to the process, I'm impressed. Thank you!

[2021-12-10 03:59] Dixin opened #27491 "Code example demonstrates bad practice"
This page contains one code example, which demonstrates bad practice:

1. It calls `sourceStream.ReadToEnd()` to allocate a string to load the entire file into memory, then it allocates an array to load the entire file as binary. To upload a file, it loads the entire file into memory twice.
2. It only works for special case - the file must be text file, which must be encoded with UTF-8. Regarding

[2021-12-10 09:53] died commented on #27420
Yea, how about just create a new language manualy for everything ?
**YOU SHOULD LEAVE C# AND GITHUB SINCE YOU DO EVERYTHING BY YOUR OWN.**

[2021-12-10 11:47] edthehorse opened #27494 "analogies shmalogies"
too many cooks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/)
* Content Source: [docs/csharp/p

[2021-12-10 13:24] syntechtix commented on #27420
This is too much abstraction away from the core. What if I wanted to use the async version? I have to create a .net 5 project and alter it. This is going a bit too far.

[2021-12-10 13:28] svick commented on #27420
@syntechtix [Top-level statements support `await`.](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUKgBgAJVMBWAbjz1QE4SA2AOgBEBTAGwEMBPACkwECASir5MtPgCIAEpw4B7InE682cIgHcFYDnACEU0UA==)

[2021-12-10 13:45] #27361 closed

[2021-12-10 13:59] pkulikov commented on #27486
@mjess25 documentation has the section about it with the example:
https://www.nu.nl/economie/6169300/meer-amerikaanse-sancties-tegen-gaspijpleiding-nord-stream-2.html

Or you're looking for something else?

[2021-12-10 14:03] #26546 closed

[2021-12-10 14:27] #27419 closed

[2021-12-10 14:33] leviolet commented on #27420
That's brilliant.
And it will be better if this non-OOP style of template is OK too.

[code]

[2021-12-10 14:48] BillWagner commented on #27486
Thanks for starting this conversation.

@mjess25 Can you let us know if the referenced article provides the information you sought?

[2021-12-10 14:50] BillWagner commented on #27490
hi @atajanovez Can you elaborate on this issue? It's unclear what updates would address your concerns.

[2021-12-10 14:52] BillWagner commented on #27494
Hi @edthehorse

Thanks for noting your opinion. Overall, we'd had positive feedback on this article. We'll keep watching, but I'll close this.

[2021-12-10 14:52] #27494 closed

[2021-12-10 15:40] IEvangelist opened #27496 "Add content for member overloading"
We need cover member overloading, such as methods with the same name by varying signatures.

This is probably the correct article to update:
https://docs.microsoft.com/dotnet/csharp/fundamentals/object-oriented

Attn: @BillWagner

[2021-12-10 15:42] #27428 closed

[2021-12-10 15:43] peteraritchie opened #27497 "Is `MyService(IOptions<MyService> options....` a valid scenario?"
On the page, there is a code snippet like this:

[code]
[Options pattern in .NET](https://docs.microsoft.com/en-us/dotnet/core/extensions/options) seems to suggest that the generic parameter of `IOptions` would be a stand-alone class to hold public read/write properties bindable to some sort of configuration source.  My understanding is that that class would never be the class that would read the

[2021-12-10 15:57] OwnageIsMagic opened #27498 "Disposable ref structs"
[`ref struct` section](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/struct#ref-struct) doesn't mention that `using` can bind by pattern for `ref struct`s
C# 8.0 feature https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#disposable-ref-structs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-12-10 16:29] IEvangelist commented on #27497
Hi @peteraritchie, you're correct about this being invalid. I'm fixing this in #27499 - thanks for posting this issue.

[2021-12-10 16:38] IEvangelist opened #27500 "New article: Choose between `class`, `struct`, and when to use `record` types"
Create a new article:

Choosing between class, struct, and (maybe record)?

Add it in the ".NET Fundamentals" section, as it applies equally well to VB, C#, and even F#.

[2021-12-10 17:25] richk1 opened #27501 "Small Error in final Properties Example"
I believe you've got a small error in the final Properties code sample on the page; the one using INotifyPropertyChanged.
(referencing the 9/15/2021 dated version of this article)

Shouldn't this:
[code]
be this ?
[code]
Thus, only setting the backing property value if the new value is different, and invoking the PropertyChanged handler AFTER setting the new value?

BTW - I appreciate the effort y

[2021-12-10 17:38] #27355 closed

[2021-12-10 19:50] Vaccano opened #27502 "Needs to be updated for .NET 6.0"
This page does not use the new .Net 6 Program.cs style of coding.

I would like to suggest it be updated to show how to do this in .Net 6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce1cda6a-30fa-91b9-793e-918666776c9f
* Version Independent ID: 4df737d8-1051-2ce1-1d61-58768046283b
* Content: [Implement a custom con

[2021-12-10 20:52] pranavkm commented on #27471
You could use a pragma warning suppress to do this: https://docs.microsoft.com/dotnet/fundamentals/code-analysis/suppress-warnings#use-a-preprocessor-directive

[2021-12-10 22:28] arthuredgarov opened #27504 "Article: `Options pattern in .NET`; Section: `IValidateOptions for complex validation`; Bug in code example"
In the section [IValidateOptions for complex validation](https://docs.microsoft.com/en-us/dotnet/core/extensions/options#ivalidateoptions-for-complex-validation) there is the following code sample:
[code]

The returned result depends on whether the `result` variable is `null`, but it can never be null in this code example, so the return value will be always `ValidateOptionsResult.Fail(result)` whi

[2021-12-11 02:39] svdevendra opened #27506 "Vague explanation of object type casting"
[Enter feedback here]

Hi,

While reading this polymorphism i found below line of statement which says that, if i will type cast derived class object as base class then it will call base class method, but without casting it calling to the base method then what's meaning of type casting?

Hidden base class members may be accessed from client code by casting the instance of the derived class to an i

[2021-12-11 02:59] #27145 closed

[2021-12-11 05:16] mjess25 commented on #27486
Hi Petr,
The link you sent me is a news article in Dutch, is that what you meant to send?
Regards,
Martin

From: Petr Kulikov ***@***.***>
Sent: Friday, December 10, 2021 5:59 AM
To: dotnet/docs ***@***.***>
Cc: martin jessfamily.com ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/docs] Need to specify that left shift is modulo number of bits in the left operand (Issue #27486)

@mjess25<ht

[2021-12-11 10:03] pkulikov commented on #27486
@mjess25 No, that was my mistake, sorry. Please check the updated message:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/bitwise-and-shift-operators#shift-count-of-the-shift-operators

[2021-12-11 20:53] cyberkoolman opened #27508 "mlnet requires dotnet framework 3.1.0"
At Mac OSX (Big Sur), mlnet requires framework 3.1.0 where I only have 6.0 sdk installed.  The installation of dotnet-sdk was done by brew, and the installation of multiple dotnet versions by brew and switching of the runtime versions seem to be possible and yet not so straightforward.  I would appreciate if mlnet should be able to run with a single dotnet 6.0 environment.

![image](https://user-i

[2021-12-11 20:54] vcsjones opened #27529 "Link shown for using trimmed/illink 404s"
### Description

When using `dotnet publish` on a trimmed .NET application, it displays an aka.ms URL, https://aka.ms/dotnet-illink, which as of writing 404s.

### Steps to reproduce

1. Create an empty .NET Console application.
2. Run `dotnet publish -c release /p:RuntimeIdentifier=win10-x64 /p:PublishSingleFile=true /p:SelfContained=true /p:PublishReadyToRun=true /p:PublishTrimmed=true`

In the

[2021-12-11 22:11] mjess25 commented on #27486
Ah, got it you’re right, it is described there.

Might be worth adding a forward reference from the shift section to the shift count section though, I think other developers than me also do the occasional lookup where you do an online search, hop to that specific section and read just that and then go back to the coding. I’m new to C# so I do that a lot as I’m learning. Just a suggestion.

Regards

[2021-12-11 23:14] bugjam opened #27510 "Incorrect syntax for string indexing"
The Strings page of the F# Language Guide describes the following syntax for string indexing in F#:
`str1[1]`

This syntax is rejected by FSharp Interactive:
_error FS0003: This value is not a function and cannot be applied._

Using the array indexing syntax instead produces the desired result:
`str1.[1]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-12-12 09:18] svick commented on #27510
[That is the new indexing syntax in F# 6.](https://devblogs.microsoft.com/dotnet/whats-new-in-fsharp-6/#making-f-simpler-to-learn-indexing-with-expridx) Maybe the article should add a note about that?

[2021-12-12 14:50] Uzivatel919 opened #27511 "Patterns (C# reference) minibugs"
### # 1

[Precedence and order of checking](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/patterns#precedence-and-order-of-checking) example

[code]

is rather unfortunate since without parentheses meaning is the same.

This can be also considered just syntax example of course.

---
### # 2
From [Discard pattern](https://docs.microsoft.com/en-us/dotnet/csharp/language

[2021-12-12 15:08] dr3adl0rd opened #27528 "Learn about .NET on the https://docs.microsoft.com/en-gb/dotnet/core main page leads to 404"
Just like in the title, the main page on github has some invalid links.
1. Learn about .NET
2. Learn about the .NET platform
3. Contact Microsoft Support

[2021-12-12 16:21] ardalis commented on #26160
Fixed in https://github.com/dotnet/docs/pull/27512

[2021-12-12 18:23] Uzivatel919 opened #27515 "Is there any other case of unknown _target type_ than when using `var`?"
I am not 100 % sure if there is any other case when _target type of a conditional expression is unknown_ beside when using `var` for variable type.

If there is, fine. If not, I guess this better made clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5379a49c-6a81-82a5-cca2-3ab71f432c5c
* Version Independent ID:

[2021-12-12 18:33] pkulikov commented on #27486
@mjess25 hm... there is a forward reference in the first sentence:
![image](https://user-images.githubusercontent.com/15279990/145724904-e8e6ae9b-60c9-4fe4-971f-819e7816e54f.png)

"...the number of bits is defined by its right-hand operand" is a link

[2021-12-12 18:35] pkulikov commented on #27486
@mjess25 and the last sentence in the section explicitly references that section again:
![image](https://user-images.githubusercontent.com/15279990/145724994-8129702d-efc1-4977-9cd6-b357aae403e4.png)

[2021-12-12 18:54] pkulikov commented on #27515
@Uzivatel919 using a discard is another example:
[code]

The first line compiles. The second line reports `CS0173`: `Type of conditional expression cannot be determined because there is no implicit conversion between 'System.Collections.Generic.List<int>' and 'int[]'`

[2021-12-12 19:04] pkulikov commented on #27511
@Uzivatel919 as for the second point, the following code:
[code]
generates an error `CS0103 The name '_' does not exist in the current context`.

You can do the following to make it compile:
[code]
But here it's the constant pattern, not the discard pattern. Also, this code generates the warning: `CS8512 The name '_' refers to the constant, not the discard pattern. Use 'var _' to discard the value

[2021-12-12 19:14] pkulikov commented on #27486
@mjess25 #27516 improves the article

[2021-12-12 19:16] pkulikov commented on #27511
As for the first point, indeed, currently it's rather an example of how to use parentheses than of changing the precedence. The article is still correct as it doesn't claim that precedence is changed, but maybe another example would be better.

[2021-12-12 19:27] mjess25 commented on #27486
Thanks Petr, much appreciated!

From: Petr Kulikov ***@***.***>
Sent: Sunday, December 12, 2021 11:14 AM
To: dotnet/docs ***@***.***>
Cc: martin jessfamily.com ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/docs] Need to specify that left shift is modulo number of bits in the left operand (Issue #27486)

@mjess25<https://github.com/mjess25> #27516<https://github.com/dotnet/docs/pull/27516

[2021-12-13 01:14] jcmrva opened #27520 "F# arrays - element access syntax"
https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/arrays#access-elements

For this section, the text should be updated to match the code, maybe something like:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cda87e0-998a-086f-f5ed-2290d7a97966
* Version Independent ID: 45152c64-0643-3c5a-93cb-a2f6891708

[2021-12-13 07:48] Uzivatel919 commented on #27515
Aha, I did not consider evaluation with side effect usage.

[2021-12-13 07:48] #27515 closed

[2021-12-13 08:04] Uzivatel919 commented on #27511
Yes, it seems so.

Ok.

I am closing this since I expect proposals are not subject to redaction.

[2021-12-13 08:04] #27511 closed

[2021-12-13 10:13] kwagi commented on #26313
So..where is a nameSpace and class?

[2021-12-13 10:20] died commented on #26313
try this
https://marketplace.visualstudio.com/items?itemName=Doomdied.ClassicConsole1

[2021-12-13 10:35] kwagi commented on #26313
😂😂

[2021-12-13 10:36] kwagi commented on #26313
Thank you.

[2021-12-13 14:29] IEvangelist commented on #27502
This is a good callout, thank you. I'll work on updating this next month.

[2021-12-13 14:31] IEvangelist commented on #27504
Hi @arthuredgarov - thank you, I'll work on getting this updated.

[2021-12-13 15:41] IEvangelist opened #27524 "Expect delays due to seasonal holidays"
Due to seasonal holidays, many of our members are taking time off. Please expect delayed responses until early January.

[2021-12-13 16:42] pakrym commented on #27470
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/25836

[2021-12-13 16:42] #27470 closed

[2021-12-13 16:57] BillWagner commented on #27498
Thanks for pointing this out @OwnageIsMagic

I've added this for us to address.

[2021-12-13 17:05] BillWagner commented on #27501
Thanks for noting this @richk1

I've opened a PR to address this issue.

[2021-12-13 17:24] BillWagner commented on #27506
That's a good point to note @svdevendra

That section discusses members that are *not* virtual. That means a new method in a derived class *hides* the existing method. This can be clarified.

[2021-12-13 17:26] #27488 closed

[2021-12-13 17:27] #27486 closed

[2021-12-13 17:28] #27497 closed

[2021-12-13 19:24] mairaw commented on #27528
@BillWagner @IEvangelist should we have a redirect in place for that path?

[2021-12-13 19:36] mairaw commented on #27529
Maybe the split up of the redirection file introduced some issues @gewarren?
I see the entry at https://github.com/gewarren/docs/blob/main/.openpublishing.redirection.core.json#L308, which is supposed to have this entry

[2021-12-13 19:38] mairaw commented on #27529
On the meantime, perhaps @agocke @richlander could update the aka link to the latest target URL?

[2021-12-13 19:43] mairaw commented on #27528
@gewarren could this also be related to the split up of the redirection file?

https://github.com/gewarren/docs/blob/main/.openpublishing.redirection.core.json#L635

[2021-12-13 19:43] AdrianDamiao opened #27530 "The automatic translation is not working as expected"
**Issue description**

There are some language type errors in the Brazilian Portuguese translation(as we can see in the image below) and the ~~ Edit ~~ option listed in the Contributor's Guide does not appear so I can edit the page. I did not found the Brazilian dotnet GitHub Repository so I am creating this issue here to inform the possible problem. At the following link you can access the broken

[2021-12-13 20:19] #27498 closed

[2021-12-13 20:28] stuartleal commented on #24894
Hi all!

I'm wondering about this check. I've upgraded from VS 2019 to VS 2022, and a project in my team now has a bunch of AD00001 warnings related to this.

At first, I saw this post: https://github.com/dotnet/roslyn-analyzers/issues/5725 , and thought the issue was having both VS 2019 and VS 2022 on the same machine. I've reinstalled a fresh copy of windows after struggling to get rid of all VS

[2021-12-13 20:51] PatrickMcHargue opened #27532 "How to migrate VB projects to .Net6?"
How to migrate VB projects to .Net6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76bc889a-e3e1-65b3-f3c3-8597d30300db
* Version Independent ID: d70af595-d281-da13-a5d9-e7a8f369c59d
* Content: [Upgrade Windows Forms apps to .NET 6 - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/porting/upgrade-assistant-win

[2021-12-13 20:54] Dana-Prajea opened #27533 "ARM on Windows 10?"
What about the ARM machines running Windows 10 and 11? Doesn't seem to be listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8afd1f96-b008-8b2e-bf3e-89d91f8cca5e
* Version Independent ID: 2010bd32-59f6-823c-f193-27439e12798d
* Content: [.NET Framework system requirements - .NET Framework](https://docs.microsof

[2021-12-13 21:05] veemata opened #27534 "This sample does not work as described in VS 2022 on .Net 6 with .NetStandard 2.0"
[Enter feedback here]
This sample does not work as described in VS 2022 on .Net 6 with .NetStandard 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99a4410c-4c8d-0107-845b-9a951bb76682
* Version Independent ID: f1ed9873-3e29-b4bd-2dbb-44dd9a05d790
* Content: [Source Generators](https://docs.microsoft.com/en-us/dotne

[2021-12-13 23:35] #27274 closed

[2021-12-14 01:09] gewarren commented on #27528
This should be fixed by #27536.

[2021-12-14 01:09] gewarren commented on #27529
This should be fixed by #27536.

[2021-12-14 01:12] dpecora opened #27537 "Difficulty using DI to instantiate a simple service"
I registered for a GitHub account just to say how difficult and annoying I find this pattern to use.  Consider the simple Worker class below, which takes an IHostApplicationLifetime object and a custom string parameter.  My problem is simple: I have no idea how to call the constructor, either explicitly or implicitly.

- If the Worker constructor only took the first argument, it would be automatic

[2021-12-14 01:38] mairaw commented on #27529
Closing since aka is working again.

[2021-12-14 01:38] #27529 closed

[2021-12-14 01:40] mairaw commented on #27528
Thanks @gewarren. Closing since link no longer leads to 404.

[2021-12-14 01:40] #27528 closed

[2021-12-14 01:52] vcsjones commented on #27529
Yay! Thank you!

[2021-12-14 01:56] mairaw commented on #27530
Tagging @khoiph1 to comment on this

[2021-12-14 02:32] adegeo commented on #27532
@PatrickMcHargue  Hello. VB.NET is supported with the upgrade tool.

[2021-12-14 02:32] #27532 closed

[2021-12-14 04:28] zkhussain opened #27540 "Small typo in why-modern-applications.md"
In docs/architecture/modernize-desktop/why-modern-applications.md, I think "where" should be replaced with "whether".

![image](https://user-images.githubusercontent.com/62122448/145932983-422dd802-45d3-418a-9fad-0aed9777063c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a0a6b42-ef3e-ae99-aede-0d42b4219c36
* Ver

[2021-12-14 08:46] t00 opened #27542 "[Breaking change]: IAsyncEnumerable API buffered result stopped working even when not using System.Text.Json"
### Description

I am using buffered output from AutoMapper ToAsyncEnumerable with API configured to use Newtonsoft Json as JSON serializer.

`context.Table.AsQueryable().ProjectTo<TableModel>(mapper.ConfigurationProvider).ToAsyncEnumerable()`

After upgrade to dotnet 6.0.100, the response from this API call is as follows:

`{"current":null}`

Since such behavior is not documented, I would assume

[2021-12-14 09:01] niklasbergkvist opened #27543 "need user-agent header to make call to github"
in the ProcessRepositories you need to add a user-agent header when calling the service. If not a http 403 will be thrown.
example: client.DefaultRequestHeaders.UserAgent.TryParseAdd("githubusername");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b

[2021-12-14 09:04] niklasbergkvist commented on #27543
already done

[2021-12-14 09:43] veruyandi opened #27544 "How to interpret (pinned handle) the output of !gcroot command?"
[Enter feedback here]
How should i interpret when I see this in the output:
HandleTable:
    00007F6C98BB15F8 (pinned handle)

I have an example output here:

0:000> !gcroot 000000322f1219b0
HandleTable:
    0000003344471ff8 (pinned handle)
    -> 00000032f9ae3968 System.Object[]
    -> 00000030f9ed2f00 System.Collections.ArrayList
    -> 00000031f9fccef8 System.Object[]
    -> 00000031f9f27d18 SB

[2021-12-14 12:05] keithn opened #27545 "Unclear what to do in Connection Strings"
Connection Strings needs an example. for instance, I can't work out from the docs what to send to set the journal mode to wal

If I do set the Pragma as it suggest, it throws an exception saying journal mode isn't supported, and sends me back to that page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 037d5b34-3e70-7c0

[2021-12-14 14:31] #24899 closed

[2021-12-14 14:36] FIDELTORRES opened #27546 "Como leer un objeto JSON dinamico"
[Enter feedback here]

quiero saber como leo un objeto json que sea dinámicamente, es decir la cantidad de objetos que vendrán en el json varían de acuerdo la petición de la parte del cliente.
espero su respuesta o un ejemplo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version

[2021-12-14 14:44] BillWagner commented on #27534
adding @mikadumont

Thanks for noting this @veemata We do need to update this article (and add more information on creating source generators).

[2021-12-14 14:52] IEvangelist commented on #27534
Closing as a duplicate of the issue I'm working on right now: #27119

[2021-12-14 14:52] #27534 closed

[2021-12-14 15:31] #27501 closed

[2021-12-14 15:51] PatrickMcHargue commented on #27532
I tried this using my own and demo projects but the process failed.

Here's a dump of the output.  Note that I verified that the upgrade-assistant was installed first.
--------------------------------
D:\AAAtemp\samples-main\windowsforms\matching-game\net45\vb\MatchingGame>dotnet tool install -g upgrade-assistant

Welcome to .NET 6.0!
---------------------
SDK Version: 6.0.100

Telemetry
---------

[2021-12-14 16:25] FrankAtHexagon opened #27554 "Question about building"
This documentation appears to endorse building .NET projects outside the container, then copying everything over. Is this Microsoft's recommended strategy? Or should everything be built inside the container using a multi-stage build.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
*

[2021-12-14 16:34] tdykstra commented on #27546
See https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter?pivots=dotnet-6-0#json-dom-choices

[2021-12-14 16:47] IEvangelist commented on #27554
Hi @FrankAtHexagon, thank you for posting this issue and asking this question. This article simply demonstrates one way to containerize a .NET app. You could have the _Dcokerfile_ build the app, it really depends on your use case. Either way works, that's the important part. For example, if you're looking to use a .NET app in a container and have the _Dockerfile_ build the app for you, see:

https

[2021-12-14 16:55] FrankAtHexagon commented on #27554
Hi David, thanks for replying so quickly. I'm sorry if I didn't ask this question in the right place. If so, please close this issue.

My team and I are trying to figure out the best strategy for building .NET containers. [Docker's documentation](https://docs.docker.com/samples/dotnetcore/) appears to strongly endorse building .NET projects _outside_ the container:

Since Docker's documentation ap

[2021-12-14 17:07] IEvangelist commented on #27554
The reason that the Docker documentation states that is due to the fact that it will build faster outside the container. The reason for this is that when you build it within the container, you must have the container download the .NET SDK and then build from there. The preference depends on your needs. For example, if you already have the .NET SDK installed it is unnecessary to download it just to

[2021-12-14 17:26] elmorr opened #27558 "Service Names MUST Match"
[Enter feedback here]

The section on "Add custom event log functionality" on this page mentions customization of a log source name following the example on step4, but it does not tell you that this name has to match the "ServiceName" in the 'Designer' properties of the '*service*.cs' file in order for the log to be accepted and displayed by the Windows Event Viewer. If you follow the instructions

[2021-12-14 18:19] mbearup opened #27559 "[Breaking change]: dotnet-sdk-6.0 broken dependency on Debian Buster"
### Description

`dotnet-sdk-6.0` version `6.0.101` was published to `microsoft-debian-buster-prod` this week. It depends on `dotnet-targeting-pack-6.0 >= 6.0.1` but the latest version available is `6.0.0-1`. Since this dependency is not available, `dotnet-sdk-6.0.0` fails to install. Will `dotnet-targeting-pack-6.0` be updated to resolve this dependency?
[code]

### Version

Other (please put exa

[2021-12-14 20:50] alvipeo opened #27561 "IValidateOptions for complex validation will not compile"
This code in https://docs.microsoft.com/en-us/dotnet/core/extensions/options#ivalidateoptions-for-complex-validation will not compile:
[code]
with the error:

Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433988ea-fda9-aa83-f6ee-221a5521a422
* Version Independent ID: 00449cdc-b8fc-a9ff-3f20-0ef0994db354
*

[2021-12-14 21:07] IEvangelist commented on #27561
Hi @alvipeo - this code does compile. It was compiled as part of #27051. If you're just copied code out of this and trying to paste it into your existing project, you're going to experience problems. It's better to read the docs, and understand all the moving parts first. You're probably just missing a `PackageReference` - see here:

https://github.com/dotnet/docs/blob/main/docs/core/extensions/sn

[2021-12-14 21:40] FrankAtHexagon commented on #27554
Thanks again for your quick response. Yes, I'm following what you're saying, and I'll forward your suggestions on to our other team members for consideration. Thank you!

[2021-12-14 22:59] adegeo commented on #27532
Hi @PatrickMcHargue  It looks like your copy of upgrade assistant is out of date, please update it with `dotnet tool update -g upgrade-assistant`

[2021-12-15 05:39] shahabfar opened #27562 "Parsing string to DateOnly object"
### Type of issue

Other (describe below)

### Description

Introducing new `DateOnly` and `TimeOnly` structs by .NET 6 it seems that Parsing string to `DateOnly` object could be added to this doc

[code]

### Page URL

https://learn.microsoft.com/en-us/dotnet/standard/base-types/parsing-datetime

### Content source URL

https://github.com/dotnet/docs/blob/live/docs/standard/base-types/parsing-dat

[2021-12-15 10:01] Jynxninth opened #27564 "Please Advise if not following guidelines"
###
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 447e23ae-0256-d8c1-4dca-d31fe21602a5
* Version Independent ID: 926db74c-be79-f7cd-a4e9-e156dafa6287
* Content: [C# template changes in .NET 6 - .NET](https://docs.microsoft.com/en-us/dotnet/core/tutorials/top-level-templates)
* Content Source: [do

[2021-12-15 15:04] stijnherreman commented on #25327
@davidfowl the very first example does just that, injecting a scoped service into a singleton. Presumably that part of the documentation was written back when `AddHostedService` still registered as transient?

[2021-12-15 17:28] mikenunan commented on #27315
Also what about compatibility down to `net5.0` for these 6.* packages? Looking at `Microsoft.Extensions.Logging` it seems the `.NETCoreApp5.0` target [that existed in 5.0.0](https://www.nuget.org/packages/Microsoft.Extensions.Logging/5.0.0) has been [dropped](https://www.nuget.org/packages/Microsoft.Extensions.Logging/6.0.0), leaving just the `.NETStandard2.1` target for .NET Core onwards. However

[2021-12-15 18:53] tdykstra commented on #27564
Please elaborate on what this issue is about.

[2021-12-15 18:59] #27119 closed

[2021-12-15 19:01] #27561 closed

[2021-12-15 19:01] #27540 closed

[2021-12-15 19:29] #25862 closed

[2021-12-15 20:52] captainsafia commented on #27069
In that case, I would say we should document these two. They are practical for users who want to maintain the old behavior of keeping hard-coded port values instead of getting randomly assigned available ones.

[2021-12-15 21:00] rbhanda commented on #27559
The missing targeting pack is available at https://packages.microsoft.com/debian/10/prod/pool/main/d/dotnet-targeting-pack-6.0/
I believe this issue was resolved yesterday. Are you still seeing this error @mbearup

[2021-12-15 21:01] leecow commented on #27559
Just installed to a green buster image and the dotnet-sdk-6.0 setup succeeded. Looks like this was resolved yesterday.

[2021-12-15 21:28] gewarren commented on #27559
Thanks @rbhanda and @leecow. Closing this issue.

[2021-12-15 21:28] #27559 closed

[2021-12-15 23:20] gewarren commented on #27542
@eiriktsarpalis Do you know what might be causing this?

[2021-12-15 23:29] dpecora commented on #27537
Thanks for your response!  With the information you provided, I was able to figure this out.  The proper way to build the example Worker class I gave appears to be:
[code]
I appreciate your help.

[2021-12-16 01:04] paulelong opened #27598 "add info on how to find the associated assemblies"
I'm getting the error but I'm finding it difficult to tell which two assemblies are defining the conflicting types.  Instructions on how to find the associated assemblies would help me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc727a99-200d-d34b-a2db-72f336f6f326
* Version Independent ID: fa87a308-62df-2b4c-1685-

[2021-12-16 04:07] cho7052002 commented on #26313
virgin .NET 6:

- hide 12 lines of code

CHAD PROGRAMMERS:

- download packages to explicitly write **string[] args**

[2021-12-16 04:10] cho7052002 commented on #26313
is synthetic sugar of hiding 12 lines of code worth these?

- implicitly defined string[] args
- confuses programmers

[2021-12-16 04:16] AlexMcCown commented on #27420
I see zero sense in abstracting main this heavily, please change it back and please don't let whoever made this decision make others.

The only possible use I can find for this is quick testing but that's what vscode is for.

[2021-12-16 04:17] cho7052002 commented on #27420
is synthetic sugar of hiding 12 lines of code worth these?

implicitly defined string[] args
implicitly defined using directives
fixed Main method signature
no backward compatibility of program enterance code
confuses programmers

[2021-12-16 04:23] AlexMcCown commented on #27420
I'm sorry what are you ignoring in C#? Yeah namespaces are not super necessary all the time but you need main, you need your inclusions. What if you need to make main async? What libraries are in use? What libraries do you need? Where do you put out of main methods?

[2021-12-16 08:05] Bosch-Eli-Black commented on #24894
@sharwell Would it make sense for any `.editorconfig` files that are detected by the IDE/compiler to be automatically passed to build-time analyzers? As an end user, if the IDE/compiler automatically detects `.editorconfig` files, then I'd prefer not to have to also add them as `AdditionalFiles` just so that they can be processed by analyzers 🙂

[2021-12-16 08:10] Youssef1313 commented on #24894
@Bosch-Eli-Black This is already the case. If `.editorconfig` files are detected then it will be used. That's why this breaking change was introduced.

The only case where `.editorconfig` won't be automatically detected is if it's referenced from a non-ancestor directory. For example if `C:\MyProject\MyProject.csproj` is referencing editorconfig from `C:\Test\.editorconfig`, there is no way we can

[2021-12-16 08:16] Bosch-Eli-Black commented on #24894
Thanks, @Youssef1313 ! 🙂

My comment was mostly in reply to https://github.com/dotnet/docs/issues/24894#issuecomment-973056421 . Is that comment still correct?

[2021-12-16 08:50] Youssef1313 commented on #24894
@Bosch-Eli-Black Oh sorry I misunderstood your comment.

I think yes, https://github.com/dotnet/docs/issues/24894#issuecomment-973056421 is still relevant and correct (especially for the uncommon scenario I demonstrated earlier).

However, for the very common scenario, I wonder if `AnalyzerConfigOptions` can work and be sufficient. But @sharwell will definitely know better :)

[2021-12-16 13:41] #26877 closed

[2021-12-16 15:28] Lliuduanduan opened #27602 "public virtual int Count { get; }"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89022fe7-b2e3-5fb5-4930-d6bc5284081a
* Version Independent ID: 6a4f3ec1-e2eb-e046-d840-1c442276b3fb
* Content: [virtual - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/virtual)
* Content Source: [docs/csharp/

[2021-12-16 18:47] ardalis commented on #26160
This was merged into main - probably can be closed.

[2021-12-16 18:59] gewarren opened #27606 "Repo chores - January 2022"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2021-12-16 19:35] #26160 closed

[2021-12-16 20:34] steveberdy opened #27608 "Name Missing from Contributors List"
Hi,

I was looking at the latest .NET release's list of contributors (https://dotnet.microsoft.com/en-us/thanks/v6.0.0) and was wondering why my name didn't show up. I made some contributions to .NET runtime and Roslyn Analyzers for .NET 6, but my name isn't on any .NET 6 contributors lists.

Thanks,
Steve

[2021-12-16 21:13] BillWagner commented on #27272
As mentioned in the issue description, this has already been fixed by @SteveDunn

[2021-12-16 21:13] #27272 closed

[2021-12-16 21:19] Youssef1313 commented on #27608
I'm not sure whether roslyn-analyzers is included for this or not. But for dotnet/runtime it should be included.

@mairaw do you know what generates the list of contributors and what may cause it to drop some contributors?

Also can dotnet/roslyn-analyzers be included if it's not?

[2021-12-16 22:22] IEvangelist commented on #27468
Hi again @LindaLawton, I'm following on this. Do you think you'll have time to send over a PR for this?

[2021-12-17 02:20] brogdogg commented on #27420
Yeah, in not a huge fan of the new template. But I'm now over 40, so maybe old man complaining here. 🤔

Zzzzz

[2021-12-17 06:29] ahdung opened #27613 "Is ??= thread safe?"
Or atomicity?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038ae35e-c5e9-e1a4-a6dd-afe379201245
* Version Independent ID: d73f3d5a-00d4-2e22-c120-8e8d6d101a54
* Content: [?? and ??= operators - C# reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-coalescing-operator)
* Content

[2021-12-17 07:06] DefinitelyADev commented on #27420
If it helps I'm 27.

[2021-12-17 07:37] leeeunyong opened #27615 "navigation bar"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2cb61f-1605-70ba-c5fb-cc4a9d9f2c8d
* Version Independent ID: 6eaec3e9-0ed9-f3ec-7516-032d57246715
* Content: [Compiler Error CS0103](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0103?f1url=%3FappId%3Droslyn%2

[2021-12-17 10:03] gfoidl commented on #27613
The answer to both is nothing special for `??=`.
If you want to have thread safe and atomicity guaranteed, then use the `Interlocked`-methods.

No it's not. Why should it?
Look at the [generated code](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA+ABATARgLABQhGAzAATZkDCZA3oWY2QA5QCWAbgIYAuMZEYACsYYHmQD6goQG4GTeY1IDho8QFkAFAEoyAXgB8k6WQD8pvWQB2MAO4qRYnXIIBfIA==), and you'll see what happens and that

[2021-12-17 11:39] olivier-spinelli commented on #27420
@brogdogg I'm 52 (taught C# and developing all day long) and I'm complaining a LOT!

[2021-12-17 13:42] #26814 closed

[2021-12-17 13:43] #27271 closed

[2021-12-17 14:04] #27287 closed

[2021-12-17 14:06] #27149 closed

[2021-12-17 14:06] #27154 closed

[2021-12-17 14:06] #27157 closed

[2021-12-17 14:06] #27158 closed

[2021-12-17 14:06] #27171 closed

[2021-12-17 14:06] #27173 closed

[2021-12-17 14:06] #27174 closed

[2021-12-17 14:13] BillWagner commented on #27598
Hi 👋 @paulelong

I'll add this to our backlog to address.  In the meantime, you should be able to use the full error message to find both assemblies. The message should be something like the following:

[code]

 In the message above, the two assemblies are "A" and "B".

[2021-12-17 14:15] BillWagner commented on #27613
Thanks for the answers @gfoidl

I'll close this as an answered question.

[2021-12-17 14:15] #27613 closed

[2021-12-17 14:16] BillWagner commented on #27615
Hi 👋  @leeeunyong

Can you elaborate on what you'd like to see here?

[2021-12-17 16:00] rickhenderson opened #27619 "Great Tutorial."
It's great to finally see some well-written tutorials on the .Net site. I'm an oldschool command line programmer so all these new bells and whistles are pretty crazy, but I love how this tutorial starts with VS Code, uses dotnet command line commands, and explains the topics well with a good flow.

Now I can learn all about Unit Tests.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-17 16:20] rickhenderson opened #27621 "Good, but syntax problems in code."
It's great to finally see some well-written tutorials on the .Net site. I'm an oldschool command line programmer so all these new bells and whistles are pretty crazy, but I love how this tutorial starts with VS Code, uses dotnet command line commands, and explains the topics well with a good flow.

Now I can learn all about Unit Tests for .NET.
However: The code for Unit Testing uses String.Format

[2021-12-17 17:56] #27502 closed

[2021-12-17 18:30] #27468 closed

[2021-12-17 18:40] Youssef1313 commented on #27621
The article is making use of a new .NET 6 feature, [implicit usings](https://docs.microsoft.com/en-us/dotnet/core/tutorials/top-level-templates#implicit-using-directives), which you need to enable via `<ImplicitUsings>enable</ImplicitUsings>` in a `PropertyGroup` in your csproj file.

However, I think the sample should use `string` anyway since this is the very very common convention and good prac

[2021-12-17 19:02] EoflaOE commented on #27420
I personally don't like this change, because it creates more confusion. I'm reliant on the backwards compatibility.

It compiles flawlessly. However, I need the old design back.

[2021-12-17 19:28] chrislarabell commented on #27420
Keep it!

At first, I was surprised, too.  Then I looked at the compiler code.  Turns out, if you want to have a return value, you can add the `return` keyword and a value as the last statement.  Or, if you just feel like writing `return` because you like the warm and fuzzy feeling you get, go for it, it works!  If you want the program to run asynchronously, you can add the `await` keyword in fron

[2021-12-17 20:06] ahwm commented on #27420
The debate isn't so much about keeping the *feature* as it is about what the *default template* looks like. Sure, the feature has its place and few are truly debating that (being able to run an MSDN example without all the extra boilerplate is a big plus, for example). But outside of *super basic* examples, this feature generally hinders and confuses. Real world situations call for more fine-tuned

[2021-12-17 21:01] chrislarabell commented on #27420
I disagree.  Why would they keep a feature that no one wants or uses?  There would be no need for this thread if it were as simple as adding a checkbox.

I'm not sure what real-world situations would require you to type out the `Main` method, but I am curious.

In addition, it may be a hinderance or confusing for some, but as I said previously, the entry point is a place where the program starts.

[2021-12-18 11:15] n-t-roff opened #27625 "The dotnet executable has been removed by a recent update from openSuse Linux Leap 15.3"
Since a recent .net package update on openSuse Leap 15.3 the dotnet command has been removed. Who is the maintainer of these packages or where can this bug be submitted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 016558a3-e021-04ce-e375-15b23f589ed9
* Version Independent ID: 89b6eb1c-2202-70ee-364d-fc2ede379e74
* C

[2021-12-18 12:09] skriesch commented on #27346
I speak about the overview page, how to integrate Microsoft repositories into multiple Linux distributions:
https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software

[2021-12-18 15:50] behroozbc opened #27626 "```<LangVersion>latest</LangVersion>```What occur in VS2022?"
[Enter feedback here]
In this page have [Important note](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version#:~:text=Visual%20Studio%202017%20added,for%20your%20target%20framework.) about different version of VS but don't talk about VS2022 only VS2019 and VS2017 . Is VS2022 happened  like VS2019?

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-18 16:27] int-j opened #27627 "Docker"

[2021-12-18 16:27] #27627 closed

[2021-12-19 09:43] rstarkov opened #27628 "Severely out of date?"
This guide appears to be severely out of date. The built-in ConsoleLogger source has been much more useful.

At the very least, this guide needs to talk about how to make a properly configurable logging provider, by talking about `ProviderAlias` and `LoggerProviderOptions.RegisterProviderOptions`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-12-19 13:20] ygoe opened #27629 "Cannot create Windows Service"
**Issue description**

Following the [documentation here](https://docs.microsoft.com/de-de/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-6.0&tabs=visual-studio&source=docs), I get an error message I don't understand. So for me, the complete instructions are not usable and I cannot complete my task to install the ASP.NET Core app as a Windows service. I'll have to recommend my custome

[2021-12-19 14:38] skriesch commented on #27346
But you can also update the referenced openSUSE and SLES  pages with .Net 6. It seems, these are the single Linux distributions without the documentation update.

[2021-12-19 22:38] AlthalusDGr8 opened #27630 "Async operations using Variant Generic Interfaces"
Is there a way to create an async interface using Variant Generic Interfaces?

Am trying to build a generic async repo (not powered by ORM) and am trying to do something of the sort:

   /// <summary>
    /// This is the generic Entity Repository
    /// </summary>
    public interface IEntityRepo<out TDBEntity> where TDBEntity : IDbEntity
	{
		/// <summary>
		/// Return all entities
		/// </summa

[2021-12-20 02:48] KyleC69 opened #27632 "Example does not work as written"
[Enter feedback here]
In the last section of sample code does not produce output as expected. The values are loaded into the configuration object but are not retrievable with the given code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b458a209-339d-e896-4e85-6d1c6a7aa1f9
* Version Independent ID: 0d5de37c-8f89-b6a5-

[2021-12-20 03:01] #27632 closed

[2021-12-20 10:31] jesperkristensen opened #27633 "Instructions on how to add .NET launch.json for VS Code"
The page says

Please add instructions for what to do when Visual Studio Code does not automatically prompt me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c
* Version Independent ID: 25a4c9b9-2808-e296-df03-5837000dcbad
* Content: [Create a .NET console application using Visual St

[2021-12-20 13:39] #26334 closed

[2021-12-20 14:00] jpimas opened #27634 "Support for calling .NET from a fiber"
I looked for _fibers_ and got only one result stating that [fibers are not supported in .NET.](https://github.com/dotnet/docs/blob/6c268f75fbd5e9de9a220de13e9ddc7fb2b568ed/docs/standard/threading/managed-and-unmanaged-threading-in-windows.md).

However, there seems to exist some kind of support for [calling .NET from a fiber](https://github.com/dotnet/runtime/issues/11373) (typically through COM).

[2021-12-20 15:04] kaimikael opened #27635 "Inverse Spanish Inquisition for using directive"
“The using keyword has three major uses:
*     The using statement defines a scope at the end of which an object will be disposed.
*     The using directive creates an alias for a namespace or imports types defined in other namespaces.”

One does expect a third bullet point…

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-12-20 15:37] tchadwick opened #27636 "Code example has undesirable results in how it copies structure."
This code flattens the source structure in the destination, it does not perform like a true copy operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d050f686-38eb-bb76-5747-9e138f4da679
* Version Independent ID: 93b69d5a-5df1-c0e1-930d-2f5ee1c1fe6e
* Content: [How to: Copy directories](https://docs.microsoft.com/

[2021-12-20 16:11] BillWagner commented on #27602
Hi :wave: @Lliuduanduan

Can you add more information on what you'd like to see in this article? It's unclear to me what was should address.

[2021-12-20 16:14] BillWagner commented on #27626
Thanks for reaching out @behroozbc

I missed updating this article for VS 2022 and .NET 6. The VS 2022 behavior is the same as VS 2019: You'll get the latest C# version (version 10) once you update to VS2022.

If that key is removed, you'll get the version of C# that matches the selected framework for the project.

[2021-12-20 16:19] BillWagner commented on #27630
Hi 👋 @AlthalusDGr8

Based on the sample code you've shown, yes, that would work.  As you work through your example, you can ask specific questions in our [Q & A forums](https://docs.microsoft.com/answers/topics/dotnet-csharp.html) on C#.

I'll close this as an answered question.

[2021-12-20 16:19] #27630 closed

[2021-12-20 16:20] BillWagner commented on #27635
Good catch @kaimikael

I've opened a PR to fix this issue.

[2021-12-20 16:38] #27635 closed

[2021-12-20 16:50] #27185 closed

[2021-12-20 16:55] JasonPolisAdmin opened #27638 "Represent bitmasks as boolean fields, not repeated enums."
Repeated enums don't work with connectors using Change Data Capture.
Use a message type containing boolean fields, numbered incrementally (1,2,3,4...) rather than powers of 2 (1,2,4,8...).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad07b85-98a7-3c73-55bf-42006bdd84b2
* Version Independent ID: 6a5f8674-5f44-c0ad-2e

[2021-12-20 16:56] gewarren commented on #27346
@skriesch Can you open a separate issue here for the overview page you linked to? https://github.com/MicrosoftDocs/windowsserverdocs/issues

[2021-12-20 20:45] tommai78101 opened #27639 "Requesting for "XML documentation comments" page to be added to the C# Tutorials page."
When a new user (like me) visits the C# Documentation page and wants to learn about how to properly write C# documentation comments in the source codes, I would expect myself to be able to see a tutorial guide on how to write them on the C# Guide home page here:

https://docs.microsoft.com/en-us/dotnet/csharp/

However, instead of being able to see this documentation, I had to resort to asking som

[2021-12-20 20:53] skriesch commented on #27346
The issue is created. I have also updated this topic.

[2021-12-21 07:56] dotnetshadow commented on #27471
I did try the following but the error still came up
[code]

[2021-12-21 10:12] svick commented on #27630
@BillWagner It doesn't work, it produces errors like:

@AlthalusDGr8 Under normal circumstances, no, you can't combine variance with `async` code.

If you really wanted to do it, you would need a covariant `ITask<T>` interface, e.g. [this one](https://github.com/jam40jeff/ITask).

[2021-12-21 11:24] Youssef1313 commented on #27626
I think this is not directly tied with Visual Studio version. It's more of what SDK version is being used. A `global.json` file can override the .NET SDK version being used. So I don't think tying the behavior of `<LangVersion>latest</LangVersion>` with VS version is accurate.

[2021-12-21 12:00] Youssef1313 commented on #27626
I did a quick test, and it seems that VS is still using the latest compiler even if I'm overriding the SDK from `global.json`. I can't explain this 😄

Someone needs to verify my previous comment before making such an update to docs.

[2021-12-21 13:31] BillWagner commented on #27630
Thanks for the corrections @svick I appreciate it.

[2021-12-21 13:43] BillWagner commented on #27626
@Youssef1313 @behroozbc

The purpose of this note was to alert developers who'd made updates for C# 7.1 - C# 7.3, when `Latest` was needed for the most recent point release.

It may be that this note should be removed now. I'll work on this early in January.

[2021-12-21 13:50] BillWagner commented on #27639
Thanks for reaching out @tommai78101

This is a timely request. I'll be spending the next few months updating our "fundamentals" section. This tutorial should be added there.

Thank you.

[2021-12-21 14:04] BillWagner commented on #24972
Putting this one into the backlog. At this time, there is a limited audience for this tutorial. We'll keep this open, and watch for requests.

[2021-12-21 18:51] #25394 closed

[2021-12-21 18:51] #26439 closed

[2021-12-21 20:05] TimothyMothra opened #27646 "dotnet test missing documentation for --logger"
This doc is missing details for the `-l|--logger <LOGGER>` option.

I've found other examples that the following options are valid:
- `--logger:"console;verbosity=detailed" `
- `--logger:"trx;logfilename=C:/SomePath/testResults.trx"`

Regarding behavior, when a solution (*.sln) has multiple test projects, the log file will be overwritten if specified.
I found that a `logfileprefix` has been discus

[2021-12-21 21:12] maryamariyan commented on #27471
https://docs.microsoft.com/en-us/dotnet/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error?f1url=%3FappId%3Droslyn%26k%3Dk(CS8795)

FYI, this issue is tracked by https://github.com/dotnet/docs/issues/23900

[2021-12-21 23:40] omajid commented on #26889
Copying from https://bugzilla.redhat.com/show_bug.cgi?id=2021763#c11:

[2021-12-22 05:37] TylerCode commented on #27420
I will add my -1 to this feature. I don't really know who it helps. If I'm building a larger application, I want more control. If I'm building a tiny application, I probably need more libraries and if it's confusing to ADD more libraries then it's not doing me any favors.

[2021-12-22 07:43] Youssef1313 opened #27653 "Document codefix limitations about "non-local" diagnostics"
See https://github.com/dotnet/roslyn/issues/57621

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3fc905-7aa1-7f5e-9bfe-fbcef461ad5e
* Version Independent ID: a286e20b-1e43-dc57-e0fb-5a9dee7ec3f6
* Content: [Tutorial: Write your first analyzer and code fix](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tut

[2021-12-22 09:17] nrjohnstone-omnia commented on #27420
Definitely adding a -1 to this feature. If you don't understand behind the scenes how a console application bootstraps itself, then your not helping new developers at all. Should not be part of the template or it should be an optional template, not the default.

[2021-12-22 09:54] nicasi commented on #27420
See 11th example here: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/methods.
This is not possible in the new template unless I'm missing something.

[code]

I also teach C# to beginners and I don't like the new template very much; although I guess it could have it merits in programming 101 (in our school we use Python for programming 101).

[2021-12-22 12:40] eloekset opened #27654 "XSLT limitations"
The page doesn't mention that XSLT can't contain script blocks when running on .NET. After writing several XSLT files, I had to use a simple concat() function but then ran into the same issue as described here: https://docs.microsoft.com/en-us/answers/questions/449048/xslt-compile-error-platformnotsupportedexception-c.html

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-12-22 17:37] gewarren commented on #27533
@TaraOverfield @adegeo Should we add ARM processors to this .NET Framework system requirements page?

[2021-12-22 19:52] KathleenDollard opened #27656 "Add section on how to make an empty/marker interface"
I didn't edit this in because I'm not sure how the code blocks are built in docs, but can work with someone on this. Something like below (yep, this was hard for me to figure out or find)

## Implementing empty, or marker, interfaces

Empty interfaces can be used to identify a set of types as being interchangeable. You define an empty interface as:

[code]

You implement the interface as

[code]

[2021-12-23 05:02] #26759 closed

[2021-12-23 06:01] WeihanLi opened #27659 "`DOTNET_DiagnosticPorts` seemed not for Mono only now"
Great page, thanks for your work.

The `DOTNET_DiagnosticPorts` is also used for the `dotnet-monitor` tool for diagnostic, see https://github.com/dotnet/dotnet-monitor/blob/main/documentation/configuration.md#diagnostic-port-configuration

The other Mono-specific variables may also be used, may need a double-check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-12-23 08:25] lmorvan opened #27661 "Unclear which syntax to use to list warnings"
On this page, we have a few examples: `<WarningsAsErrors>0219,0168</WarningsAsErrors>`, `<WarningsNotAsErrors>0219,0168</WarningsNotAsErrors>` and `<DisabledWarnings>number1, number2</DisabledWarnings>`.

They are only showing numbers, while some of the warnings displayed may be `NU...`, `CS...`, or even `MSB...`.

How are we supposed to list these warnings?
Is the syntax `<WarningsNotAsErrors>NU1

[2021-12-23 09:30] candritzky opened #27662 "Forward slash missing on /norestart option"
In section "Windows Installer": The /norestart option should have a leading forward slash. See bullet point list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eeab451-820f-de42-983e-4d0d5764f6ab
* Version Independent ID: d11d0d14-8a03-50e4-5c00-9a4417ad4d0a
* Content: [Install .NET on Windows](https://docs.microsoft

[2021-12-23 14:50] LarryExpo opened #27663 ".~^♠^.Rainwizzard.com.^♠^&t=ffab&ia=web"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e92ae0e3-2f90-5eeb-ed2c-bdfb85c5eaca
* Version Independent ID: 1850602d-6b92-1449-c8bd-116e36fc0f26
* Content: [Install .NET on Linux Distributions](https://docs.microsoft.com/en-ca/dotnet/core/install/linux?WT.mc_id=dotnet-35129-website)
* Content So

[2021-12-23 15:06] #27460 closed

[2021-12-23 17:08] CalvinAllen opened #27664 "Clarify C# 9 / C# 10 differences"
The article starts out with a call to C# 9, but I found the switch to C# 10 features to be very easy to miss.  I made an original assumption that in C# 9, record / record class / record struct, were all introduced at the same time.  I also don't see clarification that a `record struct` is a "value type".  Since `record` is called out in the beginning as a "reference type", I began to assume that a

[2021-12-23 18:07] #23762 closed

[2021-12-23 19:07] #26108 closed

[2021-12-24 01:48] KamilahBakery commented on #27420
top-level statements is a  very very bad idea.......

[2021-12-24 12:23] Byron2016 opened #27666 "documentation improvements"
What about NET6.0 and the new way to work with program.cs file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4c11507-cd06-292f-53bc-3a7f14affd86
* Version Independent ID: 33eb4890-44e0-522b-b1c1-964fec385b6a
* Content: [Configuration providers in .NET](https://docs.microsoft.com/en-us/dotnet/core/extensions/configur

[2021-12-24 14:26] vslzl opened #27667 "Completed tutorial but nothing worked (web apps)"
The steps have been followed in MacOS with VS for Mac but in the end, app doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83e95a3f-447b-8ca0-beb5-f0363896fe29
* Version Independent ID: b24e3ee5-404c-98a2-042e-6ac2d363b842
* Content: [Get started with Dapr](https://docs.microsoft.com/en-us/dotnet/architectu

[2021-12-24 15:06] amolenk commented on #27667
Hi @vslzl

That chapter explains getting started using VS Code and Visual Studio 2022 (for Windows). We haven't tested yet with Visual Studio for Mac. Can you elaborate on what doesn't work?

Thanks!

[2021-12-24 15:15] #27490 closed

[2021-12-24 15:41] chrisxanderson commented on #27508
This install command seemingly worked for me: dotnet tool install -g mlnet --framework net6.0

[2021-12-24 16:35] LarryExpo commented on #27663
.~^<~>^.GOOGLE.^<~>^~.<~>

``^`````````````````````````````````````````````````````````````````````````````````````````````````^`^``````````````````````````````````````````````````````>.~^♠^.~.~^♠^~.``.~^~^.Rainwizzard.~^~^~.~>^.search.search.^~.~^♠^.Rainwizzard.com.~^♠^.``.~^♠^.~.~^♠^~.~~^♠^..Rainwizzard.-.~`>^.search.search.^.~^♠^.~.~^♠^~.``.-.Rainwizzard.-.`.~^♠^.search.search.~^♠^.~^♠^.Rainwiz

[2021-12-24 17:41] metaljase opened #27669 "Mistake, or inconsistency at least, between two Exception code examples?"
I think I've spotted a mistake, or inconsistency at least, in code examples across two pages.

An `ArgumentOutOfRangeException` is thrown (I believe correctly) on the following page:
[Exception Handling (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/exceptions/exception-handling)
[code]

An `ArgumentException` is thrown (perhaps incorrectly) on the following pa

[2021-12-25 12:06] vslzl commented on #27667
I've fixed the issue it was related to the `dotnet dev-certs https --trust` configuration on macos with docker.

Working docker-compose.override variant is:
and you can't debug, only run.

[code]

[ref: Generate self-signed certificates with the .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/self-signed-certificates-guide#with-dotnet-dev-certs)

First of all, this is not y

[2021-12-25 19:52] enkeyz commented on #27420
Wouldn't be better if users could choose which templates they want, when creating a new project?

[2021-12-26 20:22] ATimotheus opened #27674 ".Net debugging issues"
I have these two issues when trying to debug

**Breakpoint**

currentTime not changing

currentDate = DateTime.Parse("2019-11-16T17:25:00Z").ToUniversalTime()

**Release**

currentDate = DateTime.Parse("2019-11-16T17:25:00Z").ToUniversalTime()

Evaluation of method System.DateTime.Parse requires calling method System.Globalization.DateTimeFormatInfo.get_DateSeparator, which cannot be called in thi

[2021-12-26 21:01] SpaceBeeGaming opened #27675 "Console.Readkey() behaviour differences between platforms not documented."
**Issue description**
`Console.ReadKey(true).Key` with Numpad keys behaves differently between Windows and Linux. This should be documented.

For example:
`Console.WriteLine(Console.ReadKey(true).Key);` Pressing the "Numpad 1" key:
On Windows returns `NumPad1`
On Linux (Ubuntu) returns `D1` ie. the same as 1 on the number row.

This behavioral difference should be mentioned in the docs since it ca

[2021-12-27 13:08] Youssef1313 commented on #27669
I agree that I actually think that `ArgumentOutOfRangeException` is a better exception. Also using `try catch` isn't a good practice here. This should simply be an `if` condition.

[2021-12-28 00:08] LarryExpo commented on #27663
.~..~~^.^~~.@.^~~ .~.http.~.:.~.https.~.:.~~^.@.~~^^~~.~

[2021-12-28 00:10] LarryExpo commented on #27663
~^~.@^.~^6^.RAINWIZZARD.COM.^6^~.^@.~^~

[2021-12-28 12:08] guoqiang5277 commented on #27420
top-level statements is a very very bad idea.......

[2021-12-28 12:23] bastyuchenko opened #27679 "Why does Azure Cosmos DB cannot support transactions according to this article?"
As mentioned [here](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation#:~:text=But%20if%20the%20transaction%20cannot%20span%20aggregates%2C%20such%20as%20when%20you%20are%20using%20a%20NoSQL%20database%20like%20Azure%20CosmosDB%2C%20you%20have%20to%20implement%20additional%20steps%20to%20achieve%20consistency)
.....

[2021-12-28 13:33] brettman commented on #27420
I'd like to understand more of the rationale behind introducing such a confusing change.  Started teaching myself programming with the beta 2 release of dotnet (~2001?) and one thing that never confused me was the structure of the Program.cs class.  Writing hello world in a single line might sound attractive, but really, is Console.WriteLine  really the point of hello world?  I thought the point o

[2021-12-28 14:36] ahmad2smile commented on #27442
Not sure if it's related/is issue on each page, so many times I get a result from Search Engine to MS Docs for some API and looking for it's example on how to use it and there is nothing, I'm guessing here that I'm just bad at exploring MS Docs but...

Example this page regarding Binary Serialization [link](https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization) wouldn

[2021-12-28 22:44] CodeDead opened #27681 ".NET 6 now available on fedora"
.NET 6 is now available on Fedora 34, 35 and rawhide using the default package manager (dnf).

https://bodhi.fedoraproject.org/updates/FEDORA-2021-9f61773163
https://bugzilla.redhat.com/show_bug.cgi?id=2021763

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a30294-c9ae-4189-26d7-ee7db615c487
* Version Independ

[2021-12-29 02:12] mas-co commented on #27420
Really?  If this is to be the default template, it should compile out of the box---and it doesn't.
"CS0103:  The name 'Console' does not exist in the current context."
This happens on all of my workstations.  Not impressed.

[2021-12-29 02:28] ahwm commented on #27420
@mas-co it compiles for me out of the box. It's just bad design. I wonder if it's somehow creating using the .NET 6 template but building with a different version?

![image](https://user-images.githubusercontent.com/20478373/147621397-7e0515ac-361e-4e2c-8ce3-f5e7006e1310.png)

![image](https://user-images.githubusercontent.com/20478373/147621629-b777c400-376d-497b-86a8-a323f1e14982.png)

[2021-12-29 02:43] mas-co commented on #27420
I'm using VS2022.
New project -> Console App -> project name, etc. -> Framework .NET 6.0 -> Create.
As soon as the project opens and Program.cs is put in the editor, there is an error waiting in the error list.
Double checked the target framework and it is, indeed, set to .NET 6.0

I never thought to use VS Code for c# when the IDE is available.  (I really only use VS Code for gfortran stuff.)  Bu

[2021-12-29 05:40] EoflaOE commented on #27420
@mas-co What was the error message?

For me, it works fine. It just gave me this terrible template and I have to mod it back to the old by placing the old structure to the main entry point code file.

Either way, it compiles fine.

[2021-12-29 05:46] mas-co commented on #27420
@EoflaOE "CS0103: The name 'Console' does not exist in the current context."

My whole point is that it should compile as-is.  I can change it, too.

[2021-12-29 05:53] EoflaOE commented on #27420
@mas-co Alright. I got your point. Would it help if you just put `using System;` statement on the top of the code?

[2021-12-29 06:03] mas-co commented on #27420
@EoflaOE  Respectfully, I do not think you get my point.

Here is the whole template, and it matches, verbatim, the template from the URL in the template:
`// See https://aka.ms/new-console-template for more information
Console.WriteLine("Hello, World!");`
(There is no "using.System;" in the listing. )  They then go on, at length, about how they are using "implicit using directives" for
`
    usin

[2021-12-29 06:10] EoflaOE commented on #27420
@mas-co I respect you. They shouldn't change what's not broken. Remember: `If it ain't broke, don't fix it.`

Then, you've discovered a bug if it can't find Console.

[2021-12-29 06:18] mas-co commented on #27420
@EoflaOE You just quoted one of my life's adages.  :)

And I have sent this issue to MS via the Feedback.  Hopefully they sort it out for me or they fix it.

[2021-12-29 10:47] kmb385 opened #27682 "Delegate and Lambdas Usage of Term Method Signature"
The usage of the term **method signature** in these materials that describe delegates confused me at first glance.  Coming from Java, I've always considered the name of the method as part of its signature, which is supported by other [C# documentation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/methods#method-signatures).

When describing delegates, other

[2021-12-29 11:13] guardrex commented on #27395
@gewarren ... We just had a request to document `WasmBuildNative` (not on the list ☝️), but I believe 🤔 it's set for Release configuration automatically by the SDK (I'll check on that) ... so that's all we'll probably say in the ASP.NET Core doc set about it. Anyway, there are more optional properties than are in the list ☝️ ...

https://github.com/dotnet/runtime/blob/main/src/mono/wasm/build/Wasm

[2021-12-29 13:52] yecril71pl opened #27685 "Document anonymous .ToString ()"
Please explain how anonymous types override [ToString ()](https://docs.microsoft.com/en-us/dotnet/api/system.object.tostring)!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b30ebe-b640-449b-3602-9891a55794db
* Version Independent ID: dd937177-98f0-a797-d49b-29332aae0614
* Content: [Anonymous Types](https://docs.micr

[2021-12-29 14:01] yecril71pl opened #27686 "Message placeholders are formattable"
Please mention that message placeholders support the syntax `{parameter:format}` and that the format is passed on to the formatter!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 346bbcf3-9f8e-b253-09fe-906195392783
* Version Independent ID: 0e787ac2-1108-1d94-d62f-ccffa93e06c3
* Content: [Logging in .NET](https://docs

[2021-12-29 23:06] JeremyCaron opened #27687 "Rename System.Drawing.Common"
System.Drawing.Common should be renamed if it's no longer common across all OSes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fa60e1c-9c9a-ce16-2e47-c41857fc8c48
* Version Independent ID: c3b792d7-50ab-ff45-09bf-37a7550f0e09
* Content: [Breaking change: System.Drawing.Common only supported on Windows - .NET](https:

[2021-12-30 04:24] iheb719 opened #27688 "New C# templates generate top-level statements dont generate public class"
The new top-level statement equivalent for Console.WriteLine("Hello, World!"); don't generate a public class, not a public main method.
The Program class should be internal and the main method should be private

I think that this code snippet should be adjusted

[code]

for

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-12-30 23:56] pbiggar opened #27689 "F# exception missing important information about messages"
In order to get a good message from an F# exception, we apparently need to do this:

[code]

I learned this from https://github.com/dotnet/fsharp/issues/3327, and could not find it mentioned in the F# exception docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c3a47f-51bc-8573-41e6-8c3c973309e8
* Version Independe

[2021-12-31 00:00] pbiggar opened #27690 "Using reraise in a Task CE"
As is pointed out in the article, we cannot use reraise in a Task CE. However, there is a workaround:

Sources:
- https://github.com/fsharp/fslang-suggestions/issues/660
- https://stackoverflow.com/questions/57383

[code]

Note that this uses reflection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fda5a5f1-e64a-b5e9

[2021-12-31 15:11] #27615 closed

[2022-01-01 00:09] dennisvanderpool opened #27693 "Non-nullable property 'Summary' must contain a non-null value when exiting constructor. CS8618"
Hi,

When creating a new C# 6 project the `<Nullable>enable</Nullable>` property causes warnings, e.g.
_"Non-nullable property 'Summary' must contain a non-null value when exiting constructor. Consider declaring the property as nullable. "_
1. Could you mention something about it in the docs?
2. Can you also mention and/or show an example of using record structs? This is the preferred way in .NET

[2022-01-01 14:01] haaami01 opened #27694 "microsftsegéd.md"
[Ide írja be a visszajelzését]

`Microsoft Alias`
---
#### A dokumentum adatai

⚠ *Ezt a szakaszt ne szerkessze. A szakasz a docs.microsoft.com ➟ GitHub-problémák hivatkozásaihoz szükséges.*

* ID: 885585df-1c7c-c774-34e4-4b274a7c2602
* Version Independent ID: 2be3647d-495b-c9f0-cf06-9a7bf687d3bb
* Content: [Manually install .NET on Linux - .NET](https://docs.microsoft.com/hu-hu/dotnet/core/instal

[2022-01-01 14:47] Luuk34 opened #27695 "Button 'New' missing..."
" To create a new key file, choose **New** and enter its name in the Create Strong Name Key dialog box."
The button New is missing....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f94526da-6739-ad3b-c0eb-48652e70a062
* Version Independent ID: 73c57596-00af-2739-b206-bcbea262fcbb
* Content: [How to: Sign an assembly w

[2022-01-01 20:32] jamesivie opened #27698 "Stream should implement DisposeAsyncCore?"
This is all fine, but what do we do when implementing a Stream?  Stream implements IAsyncDisposable, but does *not* define the protected DisposeAsyncCore() member.  Perhaps y'all should follow your own advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a961dc-3ebf-2a96-a6eb-2e0b62ab909f
* Version Independent ID:

[2022-01-01 23:35] WhiskeyRomeoLima opened #27699 "Step Thru a program"
Step 5: After entering a name and pressing enter to respond to the name prompt, F11 does not move to the next line.  The console window expands on the use of F11 and the next F11 returns the console line to the original side.  The program is stuck on this line: var currentDate = DateTime.Now;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-01-02 11:23] SamZhangQingChuan opened #27700 "A typo"
[code]

Should it be `IRP`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88cc5f21-0b4b-f33c-b7fc-96bb9c95ddcf
* Version Independent ID: 46697309-d4fd-1cd9-f8ff-e4577be08003
* Content: [Async in depth](https://docs.microsoft.com/en-us/dotnet/standard/async-in-depth)
* Content Source: [docs/standard/async-in-depth.md](

[2022-01-02 15:09] Anupam4git opened #27701 "The description for "Accessibility" can have a few more details."
Under this section its mentioned that "The default accessibility is private." I think it can be further mentioned here that its internal for the Class members. Because for Class the default accessibility is "Internal".
Kindly confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb21e6e-7798-e557-be3f-f27ab9c93e05
*

[2022-01-02 21:22] StephenBBarr opened #27704 "Section of Article Repeated Twice"
Section starting from _"Both Blazor Server and Blazor WebAssembly apps support Hot Reload in Visual Studio."_ and ending at _"Hot Reload even retains the state of pages, so there's no need to have to re-enter form values or otherwise get the app back where you need it."_ is repeated twice in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-01-03 00:25] tdykstra commented on #27693
Thanks for the suggestion. We plan to make code snippets for this and other articles compatible with nullable reference types, but there are a lot of snippets and a lot of competing priorities for our time. Meanwhile, if you'd like to help by submitting a PR with NRT-compatible code updates, that would be welcome.

Record structs are a C# 10 feature and are appropriate for some scenarios. The [art

[2022-01-03 00:43] Rabadash8820 opened #27712 "Cannot override property with private set"
**Version Used**:
Compiler version: '4.0.1-1.21568.1 (6ab66011)'.
Language version: latest (10.0).
Visual Studio version: 17.0.4

**Steps to Reproduce**:

1.  Declare a base class with an auto-implemented property:
[code]
2. Attempt to override the property in a derived class:
[code]
3. Same behavior and error occur whether or not `Base` is `abstract`. Declaring `Derived.Member` with `{ get; priva

[2022-01-03 09:00] Sajidkhan1939 opened #27705 "I am facing this issue is anyone has a solution?"
I am facing this issue
 [Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa00edf9-f591-8cfa-2197-0971a4e7136b
* Version Independent ID: 2e360ac4-79b2-c05b-157d-baa6e71a4714
* Content: [Compiler Error CS0592] (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0592)

[2022-01-03 10:13] tnlthanzeel opened #27706 "this page is hard to understand. not well organized"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294a082e-5584-008e-b83a-7f090d898cda
* Version Independent ID: d4a11dfa-2836-b423-63cd-c356e72e16a7
* Content: [Use record types - C# tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/tutorials/records)
* Content Source: [docs/csharp/

[2022-01-03 10:18] kwaazaar commented on #22097
If you're going to enhance documentation, please also consider enhancing documentation for the DotNetCliTask in Azure Devops (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack). The build pipeline is probably where people start running into this issue.

[2022-01-03 13:53] IgorMilavec opened #27707 "AsyncDisposable guidance concerns"
What is the rationale of calling ```Dispose``` with ```disposing: false``` in the guidance document?
[code]

I'm concerned with a scenario where a subclass developer overrides `Dispose(bool disposing)`, but forgets to override `DisposeAsyncCore()`. If they implements `Dispose(bool disposing)` according to the pattern, they will not release managed resources with `disposing: false`. In such a scena

[2022-01-03 13:53] BillWagner commented on #27520
Thanks for noting this @jcmrva

I've added this to our backlog, and added the "up for grabs" label for any community members interested in submitting a PR.

[2022-01-03 13:54] BillWagner commented on #27656
I like this idea @KathleenDollard

Can you add a link to the article where this information should go?

[2022-01-03 14:08] BillWagner commented on #27661
That's a great question @loicmorvan-ansys

This should be clarified. The prefix `CS` is optional. Either `0219,0168` or `CS0219,CS0168` will work.

[2022-01-03 14:12] BillWagner commented on #27664
Thanks @CalvinAllen

I've added this to the current sprint.

From our offline conversation, the main concerns are to distinguish `record`, `record class` and `record struct`. C# 9 added `record` types (which are classes). C# 10 added `record struct` types, and allowed `record class` types to clarify that a `record` is a class type.

[2022-01-03 14:15] BillWagner commented on #27669
Thanks for noting this @metaljase, and for the suggested improvement @Youssef1313

I've added this to our backlog and added the "up for grabs" label.

[2022-01-03 14:15] BillWagner commented on #27685
That's a great suggestion @yecril71pl

I've added it to our backlog to address.

[2022-01-03 14:16] BillWagner commented on #27689
Thanks for making this suggestion @pbiggar

I've added this to our backlog to address.

[2022-01-03 14:19] BillWagner commented on #27690
Thanks for the suggestion @pbiggar

We'll look at this in the context of the suggestion for the language.

[2022-01-03 14:19] BillWagner commented on #27701
Thank you for noting this @Anupam4git

I've added it to our backlog to address when we next update this section.

[2022-01-03 14:22] BillWagner commented on #27705
Hi @Sajidkhan1939

There are a number of potential ways to fix this issue. The correct answer depends on the details of your code. I suggest you pose the question on our [Q & A site](https://docs.microsoft.com/answers/topics/dotnet-csharp.html) with an example. You should get an answer there promptly.

[2022-01-03 14:22] #27705 closed

[2022-01-03 14:25] BillWagner commented on #27706
Hi :wave: @tnlthanzeel

I'm sorry this was hard to understand. Can you add a comment with some of the questions you had while reading? That additioanl detail will help us improve.

Thank you.

[2022-01-03 14:27] #27537 closed

[2022-01-03 14:47] #27524 closed

[2022-01-03 15:24] cartermp commented on #27656
Whenever I add nee stuff I just do an inline code block in the markdown.

[2022-01-03 16:29] #27602 closed

[2022-01-03 17:33] #27688 closed

[2022-01-03 18:26] tdykstra commented on #27699
In the command prompt window make sure that you press Enter after entering the name as requested. You won't see the input that you type in while you're typing it, but it's picked up by the program, and the program can't advance until the Enter key is pressed.

[2022-01-03 18:41] jaredpar commented on #27712
Transferring to docs because this behavior is intentional here. Agree there is limited docs on it. In short though if you `override` an auto-implemented property then you need to provide implementations of all accessors

[2022-01-03 19:16] mwwhited commented on #27420
This is a stupid change.

[2022-01-03 20:41] swmiller256 commented on #27420
I have enough to worry about in building applications and debugging legacy code than to have to content with compiler magic. Since the compiler magic is not consistent across all source code types this adds no value.

[2022-01-03 21:17] gewarren commented on #27694
@haaami01 Can you provide more information about the specific problem with the documentation?

[2022-01-03 21:19] IEvangelist commented on #27628
Hi @rstarkov - I do not believe it's fair to call this article "severely out of date", it was literally updated November of 2021, and is still accurate in every way.

Also, the article does include `LoggerProviderOptions.RegisterProviderOptions`. See the second code snippet in [this section](https://docs.microsoft.com/dotnet/core/extensions/custom-logging-provider#usage-and-registration-of-the-cus

[2022-01-03 21:19] gewarren commented on #27687
@safern Can you take a look at this feedback? Should it be transferred?

[2022-01-03 22:46] #27654 closed

[2022-01-03 22:58] #27092 closed

[2022-01-03 23:20] WhiskeyRomeoLima commented on #27699
I did all that. The console would only keep reloading. So I had to kill the program. I had other configuration problems VS 2022. After fixing them, everything ran just fine.

Bill Lucas

[2022-01-03 23:32] #27699 closed

[2022-01-04 01:27] gewarren commented on #26748
IDE0064 doesn't have an associated code style option. I've added a note similar to IDE0072.

[2022-01-04 02:40] soooch opened #27720 "Clarify expected behavior in LINQ async example"
This suggestion is in reference to the following section:

To me it is very unclear what exactly is meant by the inclusion of this section. Is it an example of what not to do or is it a reasonable way to improve brevity? Will the provided code snippet actually be negatively impacted by laziness? If not, why? Would it be better if the LINQ expression was concluded with a ToList or ToArray, or would

[2022-01-04 02:45] rstarkov commented on #27628
Indeed. I don't know how I missed that... Thank you!

[2022-01-04 08:33] AndyLeung94 opened #27729 "Spelling mistakes"
Problem encountered on https://dotnet.microsoft.com/zh-cn/learn/aspnet/blazor-tutorial/add
Operating System: windows
![image](https://user-images.githubusercontent.com/31531016/148030931-688de9f8-fc7f-45fb-8e88-7b6ba336bd6f.png)

[2022-01-04 10:03] rubberduck203 commented on #26748
Thanks @gewarren
What’s etiquette here on closing issues?
I see your PR is still pending.
Will you close this once it’s merged?

[2022-01-04 10:35] Youssef1313 opened #27722 "CI with .NET SDK article looks outdated"
Haven't fully read through it, but it references .NET Core 1.0.1. So it's too outdated. I also think it might make sense to move the article from `core/tools` to `devops`

cc @IEvangelist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc010c2-97fa-cf36-689e-c328863397bf
* Version Independent ID: 5d3c5144-af16-1b28-fd8

[2022-01-04 12:29] BillWagner commented on #27720
Thanks for raising this issue @soooch

I've added it to our backlog to address in the near future.

[2022-01-04 15:02] #26832 closed

[2022-01-04 15:09] IEvangelist commented on #27628
Hi again @rstarkov, please see PR: https://github.com/dotnet/docs/pull/27723. This adds a few more bits to the example and includes the `ProviderAlias` as well as custom configuration overrides.

[2022-01-04 15:13] #27504 closed

[2022-01-04 15:47] scott-moxham opened #27724 "Invalid code initializing pubsub handlers"
app doesn't contain the methods `MapControllers()` or `MapSubscribeHandler`.
I think instead of
`var builder = WebApplication.CreateBuilder(args);
var app = builder.Build();
app.UseCloudEvents();
app.MapControllers();
app.MapSubscribeHandler();`

It should instead be
`var builder = WebApplication.CreateBuilder(args);
var app = builder.Build();
app.UseCloudEvents();
app.UseEndpoints( endpoints =>
{

[2022-01-04 16:29] KalleOlaviNiemitalo commented on #27661
It's consistent with [#pragma warning](https://docs.microsoft.com/dotnet/csharp/language-reference/preprocessor-directives#pragma-warning), then.

[2022-01-04 16:57] #27628 closed

[2022-01-04 17:21] IEvangelist opened #27728 "Modernize .NET version sweeper source: Upgrade to .NET 6 and C# 10"
Modernize .NET version sweeper source: Upgrade to .NET 6 and C# 10

https://github.com/dotnet/versionsweeper/pull/70

[2022-01-04 17:43] #26748 closed

[2022-01-04 17:44] gewarren commented on #26748
The PR had specific text in the description such that the issue was automatically closed when it was merged - pretty nice feature.

[2022-01-04 17:45] #27682 closed

[2022-01-04 17:46] #27700 closed

[2022-01-04 19:12] tpressley commented on #27420
This change is incredibly frustrating. It wouldn't be so bad if I could create new methods in program.cs without having to completely recreate the entire file in the old format. The fact that I have to go and copy-paste the boiler plate from the old code just to add one method to a file is ridiculous, how could such an obvious regression in usability have made it into a production release?

[2022-01-04 19:32] IEvangelist commented on #27698
`Stream` and other related types within the runtime are far more elaborate and complex. It's not ideal to base guidance on such complexities. The .NET's `Stream` type relies on various [helpers and strategies](https://github.com/dotnet/runtime/tree/main/src/libraries/System.Private.CoreLib/src/System/IO/Strategies). It's a different approach as it's more complex. Do you have a product suggestion o

[2022-01-04 19:50] IEvangelist commented on #27707
This is specifically addressed in the guidance as to why it's done this way:

[2022-01-04 19:52] mairaw commented on #27729
Thanks @AndyLeung94. I'll have a fix shortly.

@buyaa-n this is a website issue, so it should stay in dotnet/core next time.

[2022-01-04 19:56] rubberduck203 commented on #26748
Cool. Thanks again!

[2022-01-04 20:30] buyaa-n commented on #27729
Got it, thanks @mairaw

[2022-01-04 20:31] tdykstra commented on #27722
Thanks for the suggestion. I agree that it might fit better under DevOps.

[2022-01-04 21:59] gewarren commented on #22951
This was already fixed by https://github.com/dotnet/docs/pull/26615.

[2022-01-04 21:59] #22951 closed

[2022-01-05 01:53] AyubSourjah opened #27733 "dotnet-sdk install is not available in fedora"
[Enter feedback here]
Please update the link to install the dotnetcore sdk through the fedora repository
sudo dnf install dotnet-sdk-6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a30294-c9ae-4189-26d7-ee7db615c487
* Version Independent ID: 2e9467f4-8572-c8e4-6a10-69faf14ce46c
* Content: [Install .NET on Fedora -

[2022-01-05 04:49] gewarren commented on #18977
@dsplaisted Do you know of any existing guidance around creating a custom project SDK?

[2022-01-05 04:54] glisean commented on #27420
This confused the crap out of me.

[2022-01-05 07:01] EdwinVW commented on #27724
In .NET 6, app does offer these extension-methods. See [sample code](https://github.com/EdwinVW/dapr-traffic-control/blob/main/src/FineCollectionService/Program.cs#L28).

[2022-01-05 13:28] luisquintanilla commented on #25863
Add note on how to use GPU when scoring ONNX models

[2022-01-05 18:56] dsplaisted commented on #18977
No, I don't think we have anything.  This page gives a little more info: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk?view=vs-2022

Also, this repo has several SDKs so you can see how they are built: https://github.com/Microsoft/MSBuildSdks

/cc @jeffkl