[2017-04-17 21:07] ViktorHofer commented on #1929
@mairaw please find the corresponding PR here: https://github.com/dotnet/docs/pull/1930

It's just a matter of replacing a few words

[2017-04-17 21:10] svick opened #1935 "API reference pages for operators need special handling"
It seems that in API reference, operators are treated as if they were methods with names like `op_Addition`. That is how they are represented in IL, but not in C# and it's not how most users understand them.

For example, [the page for the addition operator on `decimal` on docs.ms](https://docs.microsoft.com/en-us/dotnet/api/system.decimal.op_addition?view=netframework-4.7):

* is called "op_Addit

[2017-04-17 21:25] mairaw commented on #1934
I agree with you @svick. I've opened an internal issue to track this.

[2017-04-17 21:25] mairaw commented on #1934
/cc @dend @DuncanmaMSFT

[2017-04-17 21:32] mairaw opened #1936 "No waiting on SemaphoreSlim"
@denisz1 commented on [Thu Jan 12 2017](https://github.com/dotnet/corefx/issues/15106)

For `SemaphoreSlim`, there are `semaphore.Wait()`, `semaphore.Wait(int)`, `semaphore.WaitAsync()`, etc. methods.

Sometimes it is necessary *to try* obtain the semaphore, *but if it is unavailable then not to wait*. This is a real use case, as evident by the number of StackOverflow posts related to it.

So: `se

[2017-04-17 21:34] mairaw opened #1937 "CreateText always creates a new file while documentation says it creates OR opens"
@avertes commented on [Sat Dec 10 2016](https://github.com/dotnet/corefx/issues/14403)

At https://docs.microsoft.com/en-us/dotnet/core/api/system.io.file#System_IO_File_CreateText_System_String_
documentation says, that:
CreateText(String)
Creates or opens a file for writing UTF-8 encoded text.

However on my tests a file is always created (overwritten). I don't know whether the documentation sho

[2017-04-17 21:35] mairaw opened #1938 "Process raises Exited events even when EnableRaisingEvents = false"
@mbinette91 commented on [Thu Dec 01 2016](https://github.com/dotnet/corefx/issues/14157)

(as discussed in in PR #11998)

The documentation should be updated to reflect that EnableRaisingEvents=false offers no guarantee that Exited events will not be raised. [context: depends on the state of a private flag (_exited) and properties you query might still trigger events]

Some interesting passages t

[2017-04-17 21:37] mairaw opened #1939 "IComparer and IComparer<T> documentation should note ordering properties required"
@dbjorge commented on [Tue Dec 06 2016](https://github.com/dotnet/corefx/issues/14244)

The documentation for `IComparer` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.icomparer), [@msdn](https://msdn.microsoft.com/en-us/library/system.collections.icomparer(v=vs.110).aspx)) and `IComparer<T>` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotne

[2017-04-17 21:46] mairaw opened #1940 "ConcurrentDictionary.GetOrAdd documentation not quite correct"
@epa commented on [Thu Nov 03 2016](https://github.com/dotnet/corefx/issues/13308)

In `ConcurrentDictionary`, the overload of `GetOrAdd` taking a function as argument says that it returns 'either the existing value for the key if the key is already in the dictionary, or the new value for the key'.  But this is not the whole story.  There are in fact three cases:

1. The key is already in the dict

[2017-04-17 21:48] mairaw opened #1941 "SslStream/NegotiateStream should throw InvalidCredentialException when the authentication fails and cannot be retried"
@CIPop commented on [Mon May 09 2016](https://github.com/dotnet/corefx/issues/8414)

According to MSDN: https://msdn.microsoft.com/en-us/library/system.security.authentication.invalidcredentialexception(v=vs.110).aspx

At the moment SslStream is throwing only `AuthenticationException`.

---

@CIPop commented on [Mon May 09 2016](https://github.com/dotnet/corefx/issues/8414#issuecomment-218012818)

[2017-04-17 23:10] tompratt-AQ commented on #1773
This issue was closed last week by PR #1890 (I made the new PR to replace PR#1790 that is referenced above). The old PR had gotten out of date and it was just easier to make a new one.

[2017-04-18 00:33] BillWagner commented on #1773
Closing. Fixed in #1890

[2017-04-18 00:33] #1773 closed

[2017-04-18 15:15] svick opened #1951 "Text after list is part of list incorrectly in API reference"
It seems that when API reference remarks were imported, all plain lines (i.e. those not part of a list, a blockquote or a heading) had a single leading space added. The problem with this is that when such a line is right after a list, it is considered part of the last item of the list in markdown.

Consider `MuxLogger` ([MSDN](https://msdn.microsoft.com/en-us/library/microsoft.build.utilities.muxl

[2017-04-18 16:49] svick opened #1953 "Lines in API reference XML files are too long"
The lines in XML files in API reference are way too long. This causes several fairly minor, but noticeable annoyances to contributors like me:

* When viewing the source on GitHub, I have to keep scrolling horizontally to read it.
* When viewing PRs or diffs, I have to switch to Split mode to see the differences without horizontal scrolling.
* I *think* that long lines mean that GitHub does not hi

[2017-04-18 17:30] mairaw opened #1954 "Review redirected files"
We're getting some redirection warnings in our builds. The files that are being redirected need to be removed from the repo:

'W:\xoqc-s\docs/standard/base-types/alternation.md' would be overwritten by redirection rule configured in master redirection file .openpublishing.redirection.json. Please remove the original file to resolve this warning.
'W:\xoqc-s\docs/standard/base-types/anchors.md' woul

[2017-04-18 17:43] mairaw commented on #1953
That's an interesting issue. I think before you invest any more of your time, let me discuss this with the rest of the team. I did have to manually scan the text for PR #1930 to spot the differences.

/cc @BillWagner @rpetrusha @wh-alice @dend @yishengjin1413

[2017-04-18 23:15] #1954 closed

[2017-04-18 23:27] tompratt-AQ commented on #1887
This is extensive - as many as 717 instances in 233 files. I've checked a wide sample, and they all render incorrectly.  The suggestion is to fix them with <xref> and adding ?displayProperty=fullName> to fully qualify the name. I agree, but there are many instances where the name probably wasn't intended to be fully qualified.

[2017-04-19 06:42] GuardRex commented on #1953
Just plz keep in mind a few things:
1. When you set line lengths, you're setting them permanently everywhere, for everyone, and forever. If you work in an IDE, like I do, I usually need to scroll vertically twice as much to compensate for all of these returns all over the place. I prefer to set my window (or IDE pane) to the width of text that I want to see and have the text flow into that space.

[2017-04-19 08:33] svick commented on #1953
@GuardRex Yeah, if there's a good chance GitHub's UI will be improved in a reasonable timeframe, that is the best solution.

Otherwise, when it comes to line length, I was thinking of setting it to the highest value, which works on GitHub without scrolling, which seems to be about 120.

[2017-04-19 12:07] OdaShinsuke opened #1959 "sql-server-data-type-mappings.md SqlDbType enumeration and DbType enumeration not write."
SqlDbType enumeration is "SqlDbType" with all cell. and DbType enumeration is "DbType" with all cell.
expected:https://msdn.microsoft.com/en-us/library/cc716729.aspx

[2017-04-19 15:57] GuardRex commented on #1953
Display of text in the code files relies on HTML's `<pre>`-style formatting. For example, they use ...
[code]
... which results in lines not breaking. One can hack it, such as by using something like [Stylebot](https://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha?hl=en) to override the GH style and set ...
[code]
That one simple hack wraps many lines. In XML, the hac

[2017-04-19 22:38] rpetrusha opened #1963 "Document VB support for binary, hex literals, and digit separator"

[2017-04-19 23:39] mairaw opened #1966 "Remove duplicate common folders"
The common folder was copied to https://github.com/dotnet/docs/tree/master/samples/snippets/common and also to each individual language. I think we should only keep one copy of it.

[2017-04-20 00:21] rpetrusha commented on #1966
I agree.

[2017-04-20 15:09] livarcocc opened #1972 "dotnet run not working for netstandard1.6 console app"
_From @VanCoding on April 20, 2017 10:7_

## Steps to reproduce
Create a hello world application, like described [here](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/) in the section `Deploying a self-contained deployment with a smaller footprint`. Which results in a csproj file like this:

[code]

Then run `dotnet run`

## Expected  behavior

The projects gets compiled and then

[2017-04-20 15:09] livarcocc commented on #1972
@dasMulli Is correct. This won't work in 2.0 and in 1.0 using netstandard1.6 for the small footprint self contained app is not correct. @mairaw this is the issue with documentation that I was telling you about yesterday.

I believe, the correct way to solve this is to use either netcoreapp1.0 or netcoreapp1.1 and <DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences> and the

[2017-04-20 15:32] GuardRex commented on #1972
This isn't directly related to this issue; but since it deals with the same type of deployment, let's keep the tracking issue on publishing an SCD small footprint web app cross-referenced here: https://github.com/dotnet/cli/issues/5769

@rpetrusha and I briefly touched on this. We're not going to address or note anything regarding those problems in the deployment doc at this time, since (a) the do

[2017-04-20 16:24] mairaw commented on #1972
Thanks @livarcocc!

@GuardRex let's just make sure that the scenarios we're covering on docs are correct though. My understanding by looking at this is that we're giving the wrong steps and we shouldn't be telling people to target netstandard1,6 in the small footprint scenario.

We're shipping some updates to the deployment docs today, so let's check to see if the issue still persists after that.

[2017-04-20 16:39] GuardRex commented on #1972
AFAIK the TF is fine for deployed apps. I think the issue is just with `dotnet run`. My confusion is more like ... If u get an EXE, one doesn't need to `dotnet run` it ... just double click the EXE. I only ever worked with web apps for this deployment type. Ron knows more about the console app small footprint SCD.

[2017-04-20 16:41] rpetrusha commented on #1972
No, for the published self-contained app, `dotnet run` is not needed -- only the executable.

[2017-04-20 16:46] GuardRex commented on #1972
So if the doc gets a blurb on this it will just be a note along the lines that `dotnet tun cannot be used to start the app.

[2017-04-20 16:47] GuardRex commented on #1972
:point_up: sorry for bad typing ... I'm on my horrible phone.

[2017-04-20 17:18] dasMulli commented on #1972
What are the reasons to keep the doc?
 It doesn't seem to ever have been an "official" way of creating applications except for this documentation. AFAIK there aren't any unit or end-to-end integration tests on any tooling repo and it only worked by making use of side effects of the way `NETStandard.Library` and `Microsoft.NETcore.App` have been constructed.
Since those packages are now built diffe

[2017-04-20 17:25] GuardRex commented on #1972
IIRC there was ... back in `project.json` days ... something like a 10-20% decrease in app footprint when publishing this way. Of course, the returns diminish as more and more packages are used in an app. For very small apps, the difference in deployment size was noticeably good ... less disk space required ... faster deployment time. For a large app, the difference will probably be negligible.

[2017-04-20 17:32] svick opened #1974 "Does .Net Framework 4.7 support .Net Standard 1.6?"
[The .NET platforms support table](https://docs.microsoft.com/en-us/dotnet/articles/standard/library#net-platforms-support) says that .Net Standard 1.6 will be supported on a "vNext" version of .Net Framework, using 1.0 tooling. Well, .Net Framework 4.7 has been released, does it support .Net Standard 1.6? (I haven't updated Windows yet, so I can't test it myself. And I don't know where to look in

[2017-04-20 17:32] GuardRex commented on #1972
For the changes that @rpetrusha just merged, he did put in an update to 1.1 for `netstandard1.6`.

[2017-04-20 21:00] mairaw commented on #1932
This seems to be an issue with the migration logic. The original was a link to F:System.Reflection.BindingFlags.Default, so the resulting migrated link should include the field name in the xref link.

The content in the parameter section is a different migration code/format so that's probably why that one is working. I've opened an internal bug to keep track of this issue (#976235).

[2017-04-20 22:04] mairaw commented on #1974
Someone already submitted a PR for the 4.61 typo: https://github.com/dotnet/docs/pull/1975

I talked to @weshaggard and I'll remove the values from 1.6 and 2.0 from the 1.0 tooling line.

/cc @terrajobst @karelz

[2017-04-20 22:23] terrajobst commented on #1974
@svick

The current state of the documentation reflects the shipped versions of .NET Standard and .NET Framework. Right now, .NET Framework 4.6.1 is understood by our tooling as supporting .NET Standard 1.4 only. Once we ship .NET Standard 2.0, this will change we'll treat .NET Framework 4.6.1 as supporting 2.0, which then also includes 1.5 and 1.6. However, since the necessary support hasn't chan

[2017-04-20 22:41] svick commented on #1974
@terrajobst I don't understand. My suggestions are not about the upcoming changes in 2.0, that's already in the "with tooling 2.0" row of the table. It's specifically about what the current 1.0 tooling does with:

* .Net Framework 4.7 project referencing a .Net Standard 1.6 library.

   The table says it should work, assuming 4.7 = vNext. If I understand what @mairaw said correctly, then it doesn'

[2017-04-20 23:00] terrajobst commented on #1974
Sorry, I'm context switching way too much 😄

.NET Framework 4.7 supports also currently just supports .NET Standard 1.4. vNext should probably be labelled "future".

To be expected, as our tooling hasn't been released yet.

[2017-04-21 00:45] BillWagner opened #1977 "C# Guide: properties article should describe => syntax on getter and setter"
The examples in [Properties](https://docs.microsoft.com/en-in/dotnet/articles/csharp/properties) does not include a sample using the following syntax:

[code]

This was added in C# 7

[2017-04-21 14:49] conniey opened #1981 "appSettings documentation is missing"
# Cannot locate <appSettings> element documentation

While trying to redirect my old msdn links to the new ones for breaking changes.. I noticed that I could no longer find up-to-date documentation for <appSettings> element.

I found these two outdated ones (that say they are archived):
  * https://msdn.microsoft.com/en-us/library/aa903313(v=vs.71).aspx
  * https://msdn.microsoft.com/en-us/library

[2017-04-21 17:23] #1963 closed

[2017-04-21 18:11] rpetrusha commented on #1981
@conniey, the appSettings element appears to have last been published in the .NET Framework 4.0 doc set. In the current doc set, it has been "paved over" and replaced with the ["This topic does not exist page"](https://msdn.microsoft.com/en-us/library/ms228154(v=vs.110).aspx) boilerplate. I'm trying to investigate the reason for this, if there was one, with the ASP.NET team, which owned the topic.

[2017-04-21 19:49] GuardRex commented on #1959
@OdaShinsuke Thanks for reporting this. This happened when the doc migrated over to GitHub. I'm including it in our Migration Project, and we'll get it fixed ASAP.

[2017-04-21 22:43] mairaw commented on #1959
Thanks for working on a fix for this particular topic @GuardRex. But this is the same issue as #1932. I think all the links to enum fields got incorrectly migrated. I have an internal bug opened to track this.

[2017-04-21 22:45] GuardRex commented on #1959
No probs

[2017-04-21 22:45] #1959 closed

[2017-04-21 22:47] GuardRex commented on #1959
@OdaShinsuke Thanks for reporting. This will get fixed on the PR @mairaw cited.

[2017-04-21 22:48] mairaw commented on #1974
What I discussed with @weshaggard about the 1.0 tooling line is that I'd just remove the values for the 1.6 and 2.0 columns since it's not currently support and it seems I should also remove from 1.5. Will the 1.0 tooling for framework ever support something greater than NS 1.4 @terrajobst?

[2017-04-21 23:04] svick commented on #1974
@mairaw I tried it and it seems 1.0.3 tooling does support referencing Standard 1.5 from Framework 4.6.2. So I think that cell is fine.

I agree that the other two should be removed.

[2017-04-21 23:09] mairaw commented on #1897
I agree @svick. It should only contain Type.MemberName. I'm following up on the bug with the engineering team.

[2017-04-21 23:10] terrajobst commented on #1974
I think until we shipped 2.0 I'd make the doc match this table, except:

* Use the entries that are in strikeout font
* Remove the 2.0 column

This way, it's clear that this is 1.x tooling situation. You can then add a *separate* table that is prefixed with something like:

[2017-04-21 23:16] mairaw commented on #1981
AFAIK the entire documentation for ASP.NET got removed from MSDN and then moved to the asp.net site but I don't which content was ported and which one was deleted.

Do we need to restore those topics?

/cc @Rick-Anderson @tdykstra @wadepickett

[2017-04-21 23:18] rpetrusha commented on #1981
I think that we at least need to restore the basic configuration settings documentation.
In terms of appSettings, I may be wrong, but I don't think that it was used exclusively by ASP.NET; I distinctly seem to recall using it myself in non-ASP.NET applications.

[2017-04-22 00:30] Rick-Anderson commented on #1981
@rpetrusha  what's the process to get at least this restored? I'm concerned there might be new settings that are not documented in the older versions.

[2017-04-22 02:05] mairaw commented on #1981
At this point, the restore process might have to be manual. These probably only existed back in DxStudio.

[2017-04-22 14:38] imba-tjd opened #1985 "A little translation issue in Chinese version"
Hi,I wonder whether it is appropriate to create such a issue here.In this url:
https://docs.microsoft.com/zh-cn/dotnet/articles/csharp/getting-started/with-visual-studio

There are many asterisks which are not in the right position. They are supposed to bold the terms.

Actually, every pages under this url have the same issue:https://docs.microsoft.com/zh-cn/dotnet/articles/csharp/getting-started/

[2017-04-24 05:47] mairaw commented on #1985
Hi @imba-tjd,

The right place to file this is in the Chinese docs repo: https://github.com/dotnet/docs.zh-cn/issues

 I'll move this to the other repo and close this one. Thanks!

[2017-04-24 05:48] mairaw commented on #1985
Issue moved to [dotnet/docs.zh-cn #22](https://github.com/dotnet/docs.zh-cn/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-24 05:48] #1985 closed

[2017-04-24 05:58] mairaw opened #1990 "Remove wrench/unwritten topics from the published docs"
We have a few "wrench" topics (such as https://docs.microsoft.com/en-us/dotnet/articles/core/versions/servicing) or some unwritten topics like https://docs.microsoft.com/en-us/dotnet/articles/fsharp/tutorials/.

We need to:
1 - Remove the topics from the repo
2 - Redirect them to a similar topic or a generic place a similar one cannot be found
3 - Make sure we have issues opened tracking the topic

[2017-04-24 14:09] BillWagner commented on #1990
I'd recommend commenting out the 'wrench' topics in the TOC instead of deleting them. That way, community members who have cloned the repo would see the roadmap, but it would not affect other readers.

[2017-04-24 16:57] rpetrusha commented on #1981
Restoration will have to be manual, since the files weren't migrated to CAPS. Fortunately, manual migration is fairly simple, and there are only a handful of topics.

[2017-04-24 17:00] mairaw commented on #1990
If we do that, then the original issue reported by @dend would still exist: wrench topics are then part of the PDF and offline books, no?

[2017-04-24 17:07] mairaw commented on #1990
Ah do you mean @BillWagner, just comment out the entry in the TOC like Tom did in his PR (https://github.com/aspnet/Docs/pull/3264)? If so, yes, I agree.

[2017-04-24 17:41] GuardRex commented on #1990
Looks like the plan is ...
* Metadata redirects in the topics; topics remain
* Comment out in TOC
* Confirm open issue exists for each

[2017-04-24 19:17] svick opened #1993 "API reference for Vector<T> missing"
The API reference for [`System.​Numerics.Vector<​T>`](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector-1?view=netcore-1.1) and [`System.​Numerics.Vector`](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector?view=netcore-1.1) seems to be missing all content. The API is there, but there aren't any descriptions.

Few other, potentially relevant observations:

* Other

[2017-04-24 19:25] mairaw commented on #1993
Yes, the content that was in the additional libraries section of our docs needs to be migrated here too:
https://msdn.microsoft.com/en-us/library/mt573284(v=vs.110).aspx

Only what was part of the .NET Framework Class library was migrated initially.

[2017-04-24 19:31] GuardRex commented on #491
New loc: https://github.com/dotnet/docs/blob/master/docs/csharp/parallel.md

[2017-04-24 19:37] GuardRex commented on #493
Updating loc for this doc: https://github.com/dotnet/docs/blob/master/docs/csharp/reflection.md

[2017-04-24 19:44] mairaw commented on #1993
Opened internal bug (#979781) to track this migration

[2017-04-24 20:23] mairaw commented on #1951
The engineering team has given us a different solution for us to tryi. I'll open a new PR to see the results and we can compare.

[2017-04-24 20:33] mairaw commented on #1937
The docs now have the remarks from MSDN: https://docs.microsoft.com/en-us/dotnet/api/system.io.file.createtext?view=netframework-4.7

We'll check what else is needed to make the docs more clear.

[2017-04-24 20:36] GuardRex opened #1994 "Writing .NET Core console apps using the CLI tools: An advanced step-by-step guide"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/core/tutorials/cli-console-app-tutorial-advanced.md

[2017-04-24 20:37] GuardRex opened #1995 "Methods and Lambda Expressions"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/csharp/methods-lambda-expressions.md

[2017-04-24 20:43] BillWagner commented on #1925
@ghogen Should this move to your repository, covering MS Test in detail? We can provide links to any content that's already available there.

[2017-04-24 20:49] ghogen commented on #1925
@erickson-doug @alexhomer1 As the owners of test scenarios for VS, what do you think about where the MS Test content should go?

[2017-04-24 20:52] GuardRex commented on #493
Note: When this doc is created, link "reflection" on line 27 of docs/csharp/modern-events.md to the new topic.

[2017-04-24 20:56] GuardRex commented on #972
When *roslyn/index.md* is created, activate two links in *docs/csharp/whats-new/index.md* to the new topic.

[2017-04-24 20:57] GuardRex commented on #946
When *interactive/index.md* is created, activate link in *docs/csharp/whats-new/index.md* to the new topic.

[2017-04-24 21:04] mairaw commented on #1887
Internal bug opened to track this:  979991

Not sure if they can support overload links or not. But using the xref syntax in this case doesn't work because this needs to be in the ECMAXML format.

[2017-04-24 21:08] mairaw commented on #1902
Opened internal bug #980013 to track this.

[2017-04-24 22:10] #1929 closed

[2017-04-24 22:24] GuardRex commented on #968
Reconstitute the TOC when any one of these is created. Original file contents shown below when stubs were present:
[code]

[2017-04-24 22:26] cartermp commented on #1677
#1916

[2017-04-24 22:29] mairaw commented on #917
Any updates on this @terrajobst?

[2017-04-24 22:43] #1994 closed

[2017-04-24 22:44] #1995 closed

[2017-04-24 22:44] terrajobst commented on #917
Yes, I've added a [PR to my tool](https://github.com/terrajobst/platform-compat/pull/24). The experience looks like this:

![](https://cloud.githubusercontent.com/assets/5169960/25361775/d9387f76-2904-11e7-9050-c33d19d8b48f.gif)

[2017-04-25 02:25] mairaw commented on #1935
Opened internal bug #980586 to track this

/cc @dend @DuncanmaMSFT @adkinn

[2017-04-25 02:33] mairaw commented on #1908
Filed internal feature request for this: # 980589

/cc @dend

[2017-04-25 02:37] mairaw commented on #1905
Filed internal bug to track this: #980590

[2017-04-25 02:40] mairaw commented on #1903
Filed internal bug to track this: #980593

/cc @dend @DuncanmaMSFT @adkinn

[2017-04-25 02:41] mairaw commented on #1261
Since we're removing wrenches from our content, I'm closing this bug.

[2017-04-25 02:41] #1261 closed

[2017-04-25 16:17] rpetrusha commented on #68
Closing. There is already duplicated C# and Visual Basic threading content, but threading itself is a framework rather than a language feature.

[2017-04-25 16:17] #68 closed

[2017-04-25 16:18] #57 closed

[2017-04-25 17:35] mairaw opened #2011 "Remove articles path component from the URL"
This was the #1 recommendation from the SEO team when reviewing our URL structure. We can only merge a PR for this, when the global redirection is in place via Akamai.

[2017-04-25 17:38] BillWagner commented on #2011
I updated the title, because it took me three reads to understand what you meant (and we've discussed this before)

[2017-04-25 18:45] #1977 closed

[2017-04-25 20:15] guardrex opened #2016 "Introduction to functional programming"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/fsharp/introduction-to-functional-programming/index.md

When created, update the links at: *docs/fsharp/index.md* and *docs/fsharp/tour.md*.

[2017-04-25 21:17] guardrex opened #2018 "F# Tutorials"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/fsharp/tutorials/index.md

[2017-04-25 21:17] guardrex opened #2019 "Asynchronous and Concurrent Programming in F#"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/fsharp/tutorials/asynchronous-and-concurrent-programming/index.md

[2017-04-25 21:17] guardrex opened #2020 "Using F# in Visual Studio"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/fsharp/using-fsharp-in-visual-studio/index.md

[2017-04-25 21:17] guardrex opened #2021 "Using F# on Azure Service Fabric"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/fsharp/using-fsharp-on-azure/using-fsharp-on-azure-service-fabric.md

[2017-04-26 16:00] richlander opened #2024 "Ensure JIT Docs use correct casing"
See: https://github.com/Microsoft/dotnet/pull/386

[2017-04-26 18:33] mairaw opened #2028 "Ensure our cross-platform docs are not Framework centric and windows centric any longer"
We migrated a lot of our legacy content which now applies to more than .NET Framework. This issue applies to both conceptual content and API reference.

We need to review the docs to make sure they don't mention Framework/Windows only, when they apply to other products and platforms. This might become a larger project.

For example:
- https://docs.microsoft.com/en-us/dotnet/api/system.io.textwrite

[2017-04-26 18:47] GuardRex opened #2031 "Removing "see remarks" language"
Per https://github.com/dotnet/docs/pull/2003#discussion_r113123751: Language for "see remarks" in various forms are in dozens of files.

[2017-04-26 19:05] GuardRex opened #2033 "Remove "reference source" language/link"
Many API docs include ...
[code]
... in their summaries. That line should be removed from that location but left alone where it appears in the remarks.

[2017-04-26 19:51] GuardRex commented on #1981
@rpetrusha Is there an easy way to isolate the missing topics, or should I dig through https://msdn.microsoft.com/en-us/library/1fk1t1t0(v=vs.71).aspx and perform a manual comparison to what we have in the repo to find the MIA topics?

[2017-04-26 21:00] kendrahavens opened #2035 "Update .NET Core Docker Doc"
# Update .NET Core Docker Doc

This page needs to be updated: [Building .NET docker Images](https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images)

## Needed fixes
- [ ] Update tags
  - [ ] There is no longer a `core` tag
  - [ ] There is no longer an `onbuild` tag
  - [ ] `core-deps` should change to `deps`
- [ ] Yeoman is out of date for current VS Code projects

[2017-04-26 21:07] rpetrusha commented on #1981
@GuardRex, there's no easy way to isolate the missing topics. I can't think of any way to do it other than performing a manual comparison.

[2017-04-26 21:09] GuardRex commented on #1981
Ok, thx. I'll get them on a 🐠 *Big Fishing Expedition!* 🎣

[2017-04-26 21:28] #1941 closed

[2017-04-27 01:57] #2033 closed

[2017-04-27 02:04] #2024 closed

[2017-04-27 02:07] #1940 closed

[2017-04-27 06:23] mairaw commented on #194
This still repros. Opened internal bug to track this: 983076

[2017-04-27 06:24] mairaw commented on #261
@BillWagner have we ever filed a feature request for this?

[2017-04-27 06:26] mairaw commented on #397
We've open sourced our API docs earlier this month. 🎆

[2017-04-27 06:27] mairaw commented on #547
@dend how are we handling this?

[2017-04-27 06:33] mairaw commented on #917
This is neat! Let's sync on how we want to surface this information on the docs then, @terrajobst.

/cc @dend

[2017-04-27 06:37] mairaw commented on #1054
@GuardRex when we ported the docs from msdn, we lost the changes I've made (as I predicted). Please update the docs to note that again.

[2017-04-27 06:39] mairaw commented on #1152
We no longer have View Code for the API reference docs, so closing this one.

[2017-04-27 06:39] #1152 closed

[2017-04-27 06:39] mairaw commented on #1173
We no longer have a View Code button for API reference docs, so closing this one.

[2017-04-27 06:39] #1173 closed

[2017-04-27 07:01] mairaw opened #2037 "Replace msdn links with links to docs where possible"
- [ ] 1 - We have a lot of links that still go to MSDN:
  - [ ] **dotnet/docs:** https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=%22msdn.microsoft.com%22&type= (current count is at 154 links)
  - [ ] **dotnet/samples:** https://github.com/dotnet/samples/search?utf8=%E2%9C%93&q=%22msdn.microsoft.com%22&type= (current count is at 207 links)
  - [ ] **dotnet/dotnet-api-docs:** https://github.c

[2017-04-27 07:28] mairaw opened #2038 "config files lost their inheritance look-and-feel and links"
I think it was not during this migration, but on the migration to our last tool, that our configuration docs lost some of its formatting.

Compare:
https://msdn.microsoft.com/en-us/library/7a151659-b803-4c27-b5ce-1c4aa0d5a823(v=vs.100)
https://docs.microsoft.com/en-us/dotnet/articles/framework/configure-apps/file-schema/compiler/compiler-element

![image](https://cloud.githubusercontent.com/assets

[2017-04-27 13:59] BillWagner commented on #261
I could not find one.  I created item [#983367](https://mseng.visualstudio.com/CSI/_workitems?id=983367&fullScreen=true&_a=edit) Feel free to edit.

[2017-04-27 16:31] dend commented on #1876
Thanks @mairaw @rpetrusha @PashaPash - we are investigating. This is indeed a byproduct of how we auto-generate documentation.

Opened a `mdoc` issue:
https://github.com/mono/api-doc-tools/issues/76

[2017-04-27 18:15] mairaw commented on #1932
Adding a new repro that used to have 25 links to enum fields before migration:
https://github.com/dotnet/docs/blob/master/docs/framework/wpf/app-development/wpf-windows-overview.md

@yishengjin1413 is working on a data fix for us

[2017-04-27 18:31] GuardRex opened #2043 "How to set the version of a package in dotnet-pack command"
Idea floated by @droyad (xref: https://github.com/dotnet/docs/pull/1695):

https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-pack.md
https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-pack

* In the description, explain that you can also use the MSBuild switches and point to https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference for more info

[2017-04-27 21:44] mairaw commented on #1974
I agree @terrajobst. I had in my previous PR like that at some point (https://github.com/dotnet/docs/pull/1724), so it would show the current state and some people didn't like it. I'll change it then. 😄

[2017-04-27 22:24] svick commented on #547
It looks like right now, it manages to be wrong on *both* .Net Core and .Net Framework:

![](https://cloud.githubusercontent.com/assets/287848/25506639/f227288e-2ba7-11e7-928d-9090489d6708.png)

The definition shows `Stream` inherits from `MarshalByRefObject`, which is wrong on .Net Core. The inheritance chain shows `Stream` inherits directly from `Object`, which is wrong on .Net Framework.

Also,

[2017-04-28 00:12] cartermp opened #2044 "Unit Test with F#"
The F# docs lack a section on unit testing.  There should be such a section.

[2017-04-28 02:53] GuardRex opened #2045 "Complete System.Security.Claims documentation"
- [x] M:System.Security.Claims.ClaimsIdentity.#ctor(System.Security.Claims.ClaimsIdentity)
  http://msdn.microsoft.com/en-US/library/dn956561(VS.110).aspx
  https://referencesource.microsoft.com/#mscorlib/system/security/claims/ClaimsIdentity.cs,381
- [x] M:System.Security.Claims.ClaimsIdentity.WriteTo(System.IO.BinaryWriter)
  http://msdn.microsoft.com/en-US/library/dn956563(VS.110).aspx
  https:

[2017-04-28 17:07] cartermp opened #2049 "F# Style Guide"
F# lacks an official style guide.  This is one of the main things people new to a language come to look for.  The lack of an F# style guide to help answer questions about "how do I write this stuff correctly?" is an inhibitor to F# adoption.

The [Fantomas](https://github.com/dungpa/fantomas/blob/master/docs/FormattingConventions.md) formatting conventions are a great starting point for this.

[2017-04-28 22:21] rpetrusha commented on #1981
@GuardRex, along with the config documentation, there's a legacy compat document that we need to recreate as well: [.NET Framework 4 Migration Issues](https://msdn.microsoft.com/en-us/library/ee941656(v=vs.100).aspx).

[2017-04-29 01:48] svick commented on #1878
The situation is better now, but it still doesn't seem completely fixed:

![](https://cloud.githubusercontent.com/assets/287848/25551995/aaf6130c-2c8e-11e7-99d1-8bff3a9760aa.png)

Notice that generic interfaces are not links.

[2017-05-01 03:38] #2043 closed

[2017-05-01 08:51] GuardRex opened #2061 "Missing ms.prod metadata"
The required metadata for `ms.prod` is missing from [more than one doc](https://github.com/dotnet/docs/pull/1928#discussion_r114104766). Isolate docs with missing metadata and enforce compliance with company policy.

![cordo](https://cloud.githubusercontent.com/assets/1622880/25575945/f90d1fd4-2e20-11e7-9b9e-cc0ecf14f852.png)
*Praise the company!* - Citizen Cordo (Roy Macready), [Dr. Who: The Sun

[2017-05-01 08:53] mairaw commented on #2061
LOL! I have a list of topics.

[2017-05-01 17:49] #1694 closed

[2017-05-01 18:34] mairaw commented on #1453
We need to document those separately for commands such as `dotnet help add` to work.

[2017-05-01 18:50] drewnoakes commented on #1454
+1. Getting CI to work with AppVeyor on Windows is fine, but setting up Travis CI to build and test a .NET Core project seems impossible. I've tried so many combinations of configurations.

[2017-05-01 20:36] mairaw commented on #1877
We do have an internal bug tracking this already. /cc @dend

[2017-05-01 20:39] tompratt-AQ commented on #2061
@mairaw Where do I find the list of topics?
(Unless you've used the TARDIS to go back in time and fix this already)

[2017-05-01 20:40] mairaw commented on #1848
We did improve the TOC but we still have content missing from there. We need to review this.

[2017-05-01 21:08] mairaw commented on #1897
This has been fixed now. Closing the issue.

![image](https://cloud.githubusercontent.com/assets/12971179/25594929/a63e208a-2e77-11e7-8276-6d60fd456614.png)

[2017-05-01 21:08] #1897 closed

[2017-05-01 22:24] mairaw commented on #2061
I'll send you an email @tompratt-AQ

[2017-05-02 06:22] wallymathieugarantibil commented on #1454
I've gotten it to work for project json. It could be that you need to specify a later version of ubuntu.

[2017-05-02 08:52] mairaw commented on #1951
My PR seemed to resolve the issue. Ok to close this @svick?

[2017-05-02 09:14] svick commented on #1951
Yeah, closing this issue and the PR.

[2017-05-02 09:14] #1951 closed

[2017-05-02 12:22] svick opened #2069 "Incorrectly marked code blocks"
It seems that some code blocks in API reference are not correctly marked at all, resulting in code blocks that are not syntax highlighted and are preceded by e.g. "[C#]". For example, in [`BigInteger.IsEven`](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger.iseven?view=netframework-4.7#remarks):

![](https://cloud.githubusercontent.com/assets/287848/25617358/2cf59c6e-2f42-11e

[2017-05-02 14:16] #1990 closed

[2017-05-02 15:45] #1646 closed

[2017-05-02 19:21] GuardRex commented on #1981
@rpetrusha Do they have a script for migrating markup content into markdown? If so, can I open a SiteHelp request to have *.NET Framework 4 Migration Issues* converted?

[2017-05-02 19:57] rpetrusha commented on #1981
Probably the best thing to do is to use Internet Explorer to save it as HTML, and use an HTML to markdown conversion tool. Whenever I've had to convert XML or HTML to markdown, I've done it manually, so I don't have a sense of what tool is better than the others.

[2017-05-02 20:07] GuardRex commented on #1981
I'll work a few sections and tables with https://domchristie.github.io/to-markdown/ ... we'll see how that goes.

[2017-05-02 20:26] mairaw opened #2074 "Remove useless snippet references from"
Found this while reviewing a PR:
https://docs.microsoft.com/en-us/dotnet/api/Microsoft.Win32.FileDialog.Filter?view=netframework-4.7#examples

Seems silly to have an entry for using statements only. This could said in the example description and then just have the applicable snippets in the examples section.

[2017-05-02 20:27] mairaw commented on #2074
And we could probably update the screenshot to show a newer OS. 😄

[2017-05-02 22:28] mairaw commented on #1878
Opened internal bug to track this: #988142

[2017-05-02 22:39] tompratt-AQ commented on #2074
Since the namespace is listed at the top of the page as usual, I don't see why we need to mention it in the example description either. I'm just going to include the C# and VB snippets for each of the 8 examples and remove the (using Microsoft.Win32;) snippets.

[2017-05-02 22:43] mairaw commented on #2074
Sounds good @tompratt-AQ.

[2017-05-03 05:51] #1480 closed

[2017-05-03 06:02] #2061 closed

[2017-05-03 16:43] #2074 closed

[2017-05-03 23:27] GuardRex opened #2087 "[2.0] Update remarks on default decompression for HttpClientHandler.AutomaticDecompression"
Update remarks on default decompression for `HttpClientHandler.AutomaticDecompression` from changes applied in https://github.com/dotnet/docs/pull/2086 to cover the changes made in https://github.com/dotnet/corefx/pull/17701 for 2.0.

.NET Core prop behavior will match the original .NET Framework for 2.0+.

[2017-05-04 00:00] GuardRex commented on #1453
@mairaw Are we doing this for add/list/remove/update separately (a paragraph to explain the convention in each description)? ... or just once (one paragraph) in the main `dotnet` cmd doc?

[2017-05-04 00:25] mairaw commented on #1453
let's discuss... people will be able to type dotnet help add for example and we need to think what's the experience we want.

@richlander @livarcocc BTW, this is the reason why the command was not going anywhere the other day. we don't have those pages/aka.ms links created for these

[2017-05-04 18:17] GuardRex opened #2094 "Change doc title"
Change doc title from *.NET Framework 4.6 and 4.5* to *.NET Framework Guide* at
 **docs/framework/index.md** per https://github.com/dotnet/docs/pull/1979#discussion_r114719608.

[2017-05-04 19:25] GuardRex commented on #1803
@BillWagner @rpetrusha

Seems like this falls (loosely) under the "rule:"

That's the prob, isn't it? ... that the referenced var may go out-of-scope if async were to be allowed (without a major rework of the way async works)?

... if that's correct, then I wonder if that line could be extended, such as ...

* You cannot return a ref to a variable whose lifetime does not extend beyond the executio

[2017-05-04 21:47] GuardRex commented on #2094
No instances of the old title remain.

[2017-05-04 21:47] #2094 closed

[2017-05-05 00:52] #1937 closed

[2017-05-06 02:12] GuardRex opened #2102 "Remove project.json example from versions/index.md"
There's a *project.json* example lingering in the *versions/index.md* topic + a small textual change to make post v1.0.0 release.

[2017-05-06 07:44] CameronAavik opened #2104 "Invalid example for System.Net.Dns in .NET Core 1.1 docs"
I was looking to write an application which made use of sockets in .net core 1.1, so I firstly searched for "Sockets C#" and came across a nice example seen below:

https://msdn.microsoft.com/en-us/library/system.net.sockets.socket(v=vs.110).aspx#Examples

I tried using this and realised that the following line didn't work because no such method existed in .net core

`hostEntry = Dns.GetHostEntry(

[2017-05-06 14:16] svick opened #2105 "Usage section missing from API reference"
I have noticed that usage sections don't seem to be rendering in API reference.

For example, the source for `CompareInfo.LastIndexOf(string, string)` contains [`<block subset="none" type="usage">`](https://github.com/dotnet/docs/blob/ff5da6d/xml/System.Globalization/CompareInfo.xml#L2415-L2420), which is not shown on [its API reference page](https://docs.microsoft.com/en-us/dotnet/api/system.glob

[2017-05-06 14:57] svick commented on #2105
The same seems to apply to overrides sections too. For `DbDataAdapter`, the "Notes to Inheritors" is present [on MSDN](https://msdn.microsoft.com/en-us/library/system.data.common.dbdataadapter(v=vs.110).aspx) and [in source](https://github.com/dotnet/docs/blob/ff5da6d/xml/System.Data.Common/DbDataAdapter.xml#L39-L65), but not [on docs.ms](https://docs.microsoft.com/en-us/dotnet/api/system.data.com

[2017-05-07 20:26] cartermp commented on #2049
@dungpa, would you be okay with me lifting content from [Formatting Conventions](https://github.com/dungpa/fantomas/blob/master/docs/FormattingConventions.md) document and adding them to these docs?

[2017-05-08 01:35] morrme commented on #2037
Indeed a lot!

Would you like these changes submitted in batches?

[2017-05-08 05:03] dungpa commented on #2049
Sure. Feel free to use it.

But beware that F# formatting is a controversial topic. I don't think we (F# community) have agreed on any set of concrete guidelines.

[2017-05-08 05:20] mairaw commented on #2037
I have a coworker who's trying to work on an automated solution. Don't start anything yet @morrme.

[2017-05-08 08:42] CameronAavik commented on #2104
Now I think about it, this issue should probably also expand to System.Net.Sockets too, since it's example isn't a valid .net core program either.

[2017-05-08 15:35] cartermp commented on #2049
Agreed, it's bound to be contentious.  This issue is actually created as a result of a long discussion in the FSSF slack (cc @mathias-brandewinder).

My takeaway from the discussion that was had is that we'll never make everyone happy, but having something in official guidance from Microsoft will be a bigger net benefit than having style be completely open.  And the fact that the docs are open sou

[2017-05-08 19:44] dsyme commented on #2049
I'm happy to help with a style guide.

[2017-05-08 19:47] dsyme commented on #2049
@cartermp (I worked a fair bit with @dungpa on default settings for Fantomas, so we're likely close to being on the same page :) )

[2017-05-08 21:19] rpetrusha commented on #2105
@svick, thanks for opening this issue.
In addition to "Notes to Callers" and "Notes to Inheritors", "Notes to Implementers" sections (for example, at [`IComparable<T>.CompareTo(T)`](https://msdn.microsoft.com/en-us/library/43hc6wht(v=vs.110).aspx) on MSDN are not rendering.
We've opened two internal bugs, #963599 and #963655, to track this.

[2017-05-08 21:47] #2031 closed

[2017-05-09 14:17] bryanjhogan opened #2118 "Cognitive Services Custom Speech link does not work"
On the the page - https://docs.microsoft.com/en-us/azure/cognitive-services/, the link to "Get started with the Custom Speech Service API" does not work. It returns a 404.

[2017-05-09 14:20] bryanjhogan opened #2119 "Cognitive Services Custom Speech Service example request"
Please provide an example in C# where I can upload an mp3 or wav file to cognitive services for translation or transcription.

[2017-05-09 14:26] #1828 closed

[2017-05-09 16:38] svick commented on #2119
This issue belongs on [the Microsoft/azure-docs repo](https://github.com/Microsoft/azure-docs), not here.

I did find a short C# example [here](https://docs.microsoft.com/en-us/azure/cognitive-services/Custom-Speech-Service/CustomSpeech-How-to-Topics/cognitive-services-custom-speech-use-endpoint), but it's very well hidden.

[2017-05-09 16:44] svick commented on #2118
First, this is not the right repo to report that, that would be [Microsoft/azure-docs](https://github.com/Microsoft/azure-docs).

Second, the whole custom speech service section seems to be pretty broken, which seems to have been caused by https://github.com/Microsoft/azure-docs/commit/b149913a21ef61352aa0d8ff5a92016d30c08ec5.

I considered creating a PR to fix this, but the azure-docs repo doesn'

[2017-05-09 17:56] bryanjhogan commented on #2119
Thanks for the tip.

It doesn't look like I can raise an issue on the Microsoft/azure-docs repo.

[2017-05-09 17:59] bryanjhogan commented on #2118
How does one report the problem to Microsoft/azure-docs when there is no Issue link?

[2017-05-09 18:02] svick commented on #2119
You're right. Sorry, I did not notice that. I'm not sure what is the right way to submit issues about it then. Maybe write a comment on an existing related article on the Azure Docs site?

[2017-05-09 19:28] BillWagner commented on #2118
@bryanjhogan I will route it to the right team.

[2017-05-09 19:43] bryanjhogan commented on #2118
Thanks @BillWagner  :)

[2017-05-09 20:14] kriscrider commented on #2118
@bryanjhogan We are updating the Landing Page today and it should resolve the broken link by tomorrow morning.

[2017-05-09 21:07] BillWagner commented on #2118
@bryanjhogan Can you report back after the doc @kriscrider mentions is updated? If that fixes everything, please close this. If not, let us know what else we should address.

[2017-05-09 21:31] bryanjhogan commented on #2118
Will do. Thanks all.

[2017-05-10 13:39] kriscrider commented on #2118
I just verified that this is fixed in Master.  @bryanjhogan @BillWagner

[2017-05-10 14:25] bryanjhogan commented on #2118
@kriscrider @BillWagner @svick It is working now, thank you all.

[2017-05-10 14:29] BillWagner commented on #2118
I'll close this then.

[2017-05-10 14:29] #2118 closed

[2017-05-11 14:41] cartermp opened #2134 "Getting Started with F# and Rider"
Tracking issue.  Content should be similar to the flow for the Getting Started in VS article.  This is on my backlog to write by end of June 30th, but as with anything, I'm happy to take contributions here.

cc @kskrygan (feel free to tag anyone else who would be interested).

[2017-05-11 14:43] cartermp opened #2135 "Getting Started with F# and Visual Studio for Mac"
Tracking issue.  Content should be similar to the VS article.  This is on my backlog to write, but I'm happy to take contributions.

cc @nosami and @migueldeicaza

[2017-05-11 15:29] svick opened #2136 "Array is missing implemented interfaces"
[The API reference page for `Array`](https://docs.microsoft.com/en-us/dotnet/api/system.array?view=netframework-4.7) lists its implemented interfaces as: `ICloneable`, `IList`, `IStructuralComparable` and `IStructuralEquatable`.

But that is not all, [as MSDN shows](https://msdn.microsoft.com/en-us/library/system.array(v=vs.110).aspx), `Array` also implements `ICollection` and `IEnumerable`.

I'm

[2017-05-11 19:19] guardrex opened #2139 "[2.0] Create CLI command preview topics"
Follow the repo TOC structure when creating the topics in the *preview* folder.

[2017-05-11 19:44] rpetrusha commented on #2136
Thanks for discovering this issue, @svick. Yes, this is a general reflection issue that applies to additional types, so it can't be fixed with a PR. I haven't looked systematically, but it also applies to List<T> as well -- the same two interfaces are listed on MSDN but not on docs.microsoft.com. I've opened internal CSI bug #996154 to track this issue.

[2017-05-11 23:05] #1938 closed

[2017-05-12 01:39] BillWagner commented on #1195
This would be great source material.  Thanks @gafter

https://github.com/dotnet/csharplang/blob/master/Language-Version-History.md

[2017-05-12 03:04] GuardRex commented on #1803
@BillWagner Do you like one of those approaches :point_up:, or should I go a different way with it?

[2017-05-12 03:05] #1795 closed

[2017-05-12 03:18] bleroy commented on #2102
OK, I'll check. I'm pretty sure I had removed all those samples, that didn't make much sense in that document in the first place.

[2017-05-12 03:18] GuardRex commented on #2102
You did :+1:

[2017-05-12 03:19] bleroy commented on #2102
Yes, I can confirm: those examples are already gone from my PR.

[2017-05-12 03:20] bleroy commented on #2102
:) So now I'm confused: what do you want me to do?

[2017-05-12 03:21] GuardRex commented on #2102
Nothing ... you got it. We just needed the `project.json` example out of there. I was going to do it, but your rewrite fixes this issue automatically.

[2017-05-12 03:23] bleroy commented on #2102
Cool. Thanks.

[2017-05-12 03:23] #2102 closed

[2017-05-12 03:25] GuardRex commented on #1453
We left our discussion on these points/possibilities ...
1. Adding a section to each CRUD command (add/list/remove/update) as opposed to only one section in the main `dotnet` command topic.
2. Along with the general description of the convention, add a note that explains that in the case of `dotnet help <command>` that "help" is the verb and "command" is the noun.

Is that guidance ok?

[2017-05-12 11:08] BillWagner commented on #1803
@GuardRex We should add the third rule.

And, it's not about the local going out of scope: it's because the method may return before all it's work is done.  Consider this (contrived) example:

[code]

The compiler cannot know if answer has been set before the method returns. That fact is only known at runtime.

[2017-05-12 14:19] GuardRex commented on #1803
Do you mean the compiler cannot know if `answer` has been set *by the caller* (or *anywhere outside of the `Task`*) before the method returns?

[2017-05-12 14:43] GuardRex commented on #1803
If that's correct, then the logic (not necessarily the text) would be more like ...

* You cannot use ref locals and returns with async methods.
  - A locally referenced variable may be out-of-scope before the async method returns.

... with "out-of-scope" meaning in this case "doesn't exist" as opposing to losing scope of something that did exist at one time.

-- or perhaps better (formatted more

[2017-05-12 16:55] rpetrusha commented on #1803
@GuardRex, I'll modify the documentation for the `ref` keyword to note this, since I'm working on documenting ref locals and ref returns.

[2017-05-12 20:37] tompratt-AQ commented on #2069
@mairaw I'd like to take on this issue and fix these. In addition to the 92 instances in \xml, I found at least 19 files (~30 instances) with [C#] in \docs. I could also clean up the cpp# instances which look like a straight miscoding of cpp or the coding changed at some point? I say this because the examples are introduced as being c++ examples.

[2017-05-12 21:46] mairaw commented on #2069
Sure @tompratt-AQ. That would be great!

[2017-05-12 23:11] GuardRex commented on #1972
@mairaw The solution is to remove the small footprint SCD sections/mentions. It doesn't work under 2.0 and was never really supported well anyway. Shall I go ahead and 🔪 it out?

[2017-05-12 23:34] rpetrusha commented on #1972
@GuardRex, Yes. I'll open a PR to do it.

[2017-05-13 02:01] GuardRex opened #2144 "[2.0] OpenSSL install no longer required for macOS"
Ref: https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0-preview1.md

docs/core/macos-prerequisites.md
docs/core/tutorials/using-on-mac-vs.md
docs/core/deploying/index.md
docs/core/tutorials/using-on-mac-vs-full-solution.md

[2017-05-13 02:05] GuardRex opened #2145 "[2.0] Document separate host executables"
Ref: https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0-preview1.md

https://github.com/dotnet/docs/blob/master/docs/core/deploying/index.md

[2017-05-13 06:43] #1972 closed

[2017-05-14 07:34] GuardRex opened #2148 "Remove escapes from code blocks"
Looks like escapes were applied within code blocks on the migration. Those escapes should be reverted.

Example from *docs/framework/configure-apps/file-schema/windows-identity-foundation/claimsauthenticationmanager.md*:

\`\`\`
  \\\<system.identityModel>
     \\\<identityConfiguration name="MyIdentity">
        \<claimsAuthenticationManager type="MyNamespace.CustomClaimsAuthenticationManager, My

[2017-05-14 07:39] guardrex opened #2149 "Correct schema hierarchy for configuration files"
For example: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/servicediscovery

Compare vs.100
![image](https://cloud.githubusercontent.com/assets/12971179/26170070/ec23d00c-3af4-11e7-8cd8-252d3f4a2750.png)

with vs.110 or docs
![image](https://cloud.githubusercontent.com/assets/12971179/26170080/f9260860-3af4-11e7-920d-c3df089ae7f1.png)

An example of a topic was f

[2017-05-14 12:10] svick commented on #2149
I don't think it's related to any recent migration, it's like that on [the oldest version I could find on MSDN](https://msdn.microsoft.com/en-us/library/ee816905(v=vs.100).aspx).

[2017-05-15 15:58] cartermp commented on #2135
Addressed in #2155 by @mizzle-mo.

[2017-05-15 15:58] #2135 closed

[2017-05-15 17:14] guardrex opened #2156 "Snippet indentation touch-ups"
The csharp snippets need a smidgen of work with broken indentation.

@tompratt-AQ Will this conflict with anything you've been doing?

[2017-05-15 17:28] tompratt-AQ commented on #2156
Glad you are tackling this Luke! I've seen some of the issues that you mention here during my recent work with the snippets, and I fixed a few of them where I could - but I'm sure there will be plenty left over. That said, I don't think we will directly conflict. Especially, after my PRs 2128, 2131, and 2138 are merged. All 3 of these PRs are about addressing the correct snippets from the topics,

[2017-05-15 17:31] GuardRex commented on #2156
Ok, cool. I didn't want to dup any work you were doing or land us into a patch of PR conflicts. What I did didn't take long; so if we need to close this and address later, we certainly can do that.

[2017-05-15 21:06] #1789 closed

[2017-05-15 22:00] #1379 closed

[2017-05-15 22:00] #1368 closed

[2017-05-15 22:00] #1370 closed

[2017-05-15 22:01] #1366 closed

[2017-05-15 22:01] #1365 closed

[2017-05-15 22:27] lloydjatkinson opened #2160 "Fix typo in TOC"
# Fix typo in TOC

Currently the TOC lists the `operator` keyword as `operator2`. Pull request #2159 fixes it.

[2017-05-15 23:42] #1054 closed

[2017-05-15 23:50] #2069 closed

[2017-05-16 00:14] #1549 closed

[2017-05-16 04:44] pjanotti opened #2171 "Stream.Flush docs should be explicit about avoid throwing even if CanWrite == false"
# Issue Title

[It was approved by area experts](https://github.com/dotnet/corefx/issues/19366) that the docs should be explicit about avoid throwing on Stream.Flush even for read-only streams.

Here is the text approved at the [linked issue](https://github.com/dotnet/corefx/issues/19366):

At https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.canwrite?view=netframework-4.7

Add one sent

[2017-05-16 07:38] b3bb opened #2173 ".NET Framework reference, Char Struct, Char values and interop: Error "UTF-8 encoded""
see: https://docs.microsoft.com/en-us/dotnet/api/system.char?view=netframework-4.7#remarks

section "Char values and interop"

existing text: "When a managed Char type, which is represented as a Unicode UTF-8 encoded code unit, is passed to unmanaged code, the interop marshaler converts the character set to ANSI."

Char type represents a UTF-16 code unit.

new / correct text: "When a managed Char

[2017-05-16 08:09] #2160 closed

[2017-05-16 10:14] tsolarin commented on #273
@BillWagner pls can I pick this up?

[2017-05-16 13:47] #2171 closed

[2017-05-16 17:14] tompratt-AQ commented on #1966
@mairaw  Unless you have something more pressing for me to work on, I'd like to take on this issue. Since I've already deleted a few of these in other PRs, I familiar with the issue and how to proceed while making sure that the \common files are truly dupes.

[2017-05-16 18:12] #1803 closed

[2017-05-16 18:16] rpetrusha commented on #2173
Thanks for opening this issue, @b3bb. I've created PR #2177  to address it.

[2017-05-16 19:30] tompratt-AQ commented on #1253
@mairaw Should we re-purpose this Issue for moving the include files? Or open a new issue?

[2017-05-16 20:16] tompratt-AQ opened #2179 "Move include files from internal folders to the master\includes folder."
We need to remove include files from internal (primarily in C# and VB) and move them all here: https://github.com/dotnet/docs/tree/master/includes

If the file already exist in the main includes folder, we will keep the original file and delete the other instead of moving it.

If a file is moved, we will do the following:

1. Remove the metadata inside that looks like this:

translation.priority.h

[2017-05-16 21:13] #2173 closed

[2017-05-16 22:16] #1675 closed

[2017-05-16 22:17] #1631 closed

[2017-05-16 23:36] tompratt-AQ commented on #2179
@mairaw Could you comment on these two particular cases:
1. docs/csharp/language-reference/compiler-messages/includes/note_settings_general_md.md
I propose that we move this one and keep it instead of the older one:  docs/includes/note_settings_general_md.md
The newer one has a link to a topic instead of to MSDN and the older one has an extra space typo in the link text.
2. docs/csharp/language-re

[2017-05-17 00:16] BillWagner commented on #273
@tsolarin Certainly. Go for it!

[2017-05-17 06:20] mairaw commented on #2179
1. Yes, you can replace the contents of docs/includes/note-settings-general-md.md with what was in the other note since i've update its contents after migration
2. I think so. we probably have more duplicates and i think the other name is friendlier.

I've also noticed that the second round of migrations also fixed the separator from _ (underscore) to -(dashes). I think it would be good to be cons

[2017-05-17 17:42] rendmath opened #2184 "Extraneous files in the [C# Guide/What's new in C#] menu"
The menu displays many unrelated topic, like C# Type System, Namespaces, etc.
[https://docs.microsoft.com/en-us/dotnet/articles/csharp/whats-new/](url)

[2017-05-17 17:58] mairaw commented on #1905
They've added type parameters now. Closing this one. Thanks @svick!

[2017-05-17 17:58] #1905 closed

[2017-05-17 18:33] mairaw commented on #2184
Thank you @rendmath! I've submitted a PR to fix this.

[2017-05-17 18:36] mairaw commented on #2149
What is related to migration (and not it's from the last one, but the one before this) is the schema hierarchy section. I'm really glad we're done with migrations. 😄
Compare vs.100
![image](https://cloud.githubusercontent.com/assets/12971179/26170070/ec23d00c-3af4-11e7-8cd8-252d3f4a2750.png)

with vs.110 or docs
![image](https://cloud.githubusercontent.com/assets/12971179/26170080/f9260860-3af4-11

[2017-05-17 18:48] GuardRex commented on #2149
In the upcoming PR to reconstitute the netfx config docs, I'm trying a draft that uses \&nbsp; in order to get exactly that indented layout. We can see how that goes.

[2017-05-17 21:11] #2184 closed

[2017-05-18 05:22] guardrex opened #2192 "Supply missing language identifiers to code blocks"

[2017-05-18 05:23] GuardRex opened #2193 "Remove empty lines from code blocks"

[2017-05-18 05:25] #2148 closed

[2017-05-18 05:56] #1993 closed

[2017-05-18 06:57] #1966 closed

[2017-05-18 07:18] mairaw opened #2195 "C# FAQ link is broken"
Customers are complaining that the link to C# FAQ is broken at https://docs.microsoft.com/en-us/dotnet/articles/csharp/language-reference/index

My question is, should we update the FwLink (or just the link) to go somewhere else? Or just remove that entry?

There is this link on the blogs site: https://blogs.msdn.microsoft.com/csharpfaq/ but it doesn't seem to be used recently.

[2017-05-18 07:19] mairaw commented on #2195
/cc @BillWagner  @MadsTorgersen

[2017-05-18 13:59] GuardRex opened #2196 "Update framework/deployment topics for 4.7"

[2017-05-18 14:01] #1843 closed

[2017-05-18 15:44] #1489 closed

[2017-05-18 15:55] rpetrusha commented on #2196
@Guardrex, can you specify what you have in mind here? Though I may have missed something, I think that I updated the deployment topics.

[2017-05-18 16:08] BillWagner commented on #2195
That page clearly hasn't been used in quite a while.

There are a lot of possible locations:

- Issues on the [Roslyn Repo](http://github.com/dotnet/roslyn/issues)
- Issues on the [CSharpLang Repo](http://github.com/dotnet/csharplang/issues)
- The [Tour of C#](https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/) has a lot of introductory information.
- The [C# tag on StackOverf

[2017-05-18 16:14] GuardRex commented on #2196
@rpetrusha https://github.com/dotnet/docs/pull/1979#pullrequestreview-38860878

I mentioned this issue over there, so I thought it would cross-ref over here. GitHub has failed me this morning. :cry: Apparently, it just needs the link placed into the body of the comment.

[2017-05-18 16:37] rpetrusha commented on #2196
@GuardRex, sorry about that.  I didn't realize there this was related to an existing PR.

[2017-05-18 18:35] Gustavoaz opened #2199 "Error with newtonsoft.json reference with a mided core with xamarin solution"
Hey guys im trying to reference a core project (with newtonsoft.json) inside a portable xamarin project. but i get this error.
Exception while loading assemblies:
System.IO.FileNotFoundException: Could not load assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'. Perhaps it doesn't exist in the Mono for Android profile?
any ideia about what is happening?

[2017-05-18 19:49] livarcocc opened #2200 "Several links in the dotnet-help command are not working"
_From @mikkelbu on May 12, 2017 21:52_

## Steps to reproduce
* dotnet help store
* dotnet help vstest
* dotnet help restore
* dotnet help remove
* dotnet help list
* dotnet help help
* dotnet help add
* dotnet help complete
* dotnet help parse

## Expected  behavior
Each command opens up the relevant page on https://docs.microsoft.com/en-us/dotnet/articles/core/tools/

## Actual behavior
* dotnet

[2017-05-18 19:49] livarcocc commented on #2200
@mairaw can you please take a look?

[2017-05-18 19:49] livarcocc commented on #2200
_From @mairaw on May 18, 2017 18:38_

Yes, I'll take care of this. Some we don't have the pages for it and I don't know whether we want to have those (for example, dotnet add), so we need to choose a target. For store, we need to finish our PR to add that new command to our docs.

[2017-05-18 20:52] GuardRex commented on #2199
@Gustavoaz Hello! This is the repo for issues with documentation. You can ask in the Xamarin forums at https://forums.xamarin.com/categories/cross-platform or get chat help at Xamarin Slack (self sign-up: https://xamarinchat.herokuapp.com/ ). There's a good general post for getting Xam support help here: http://xamarinhelp.com/how-to-get-support-from-xamarin/

[2017-05-19 01:07] GuardRex opened #2202 "Restore top level TOC content for the .NET Platform Guide"
The full TOC is to be restored: https://github.com/dotnet/docs/blob/d00f2096e0799107a8a2ff1d12274c6026d4c27a/docs/standard/toc.md

[2017-05-19 06:00] mairaw commented on #2199
Oi @Gustavoaz!

I'm closing this issue since it's not related to the documentation. @GuardRex already provided some ways you can find help.

Adding @mhutch here in case she knows a better spot/person to ask this kind of question.

[2017-05-19 06:00] #2199 closed

[2017-05-19 13:53] mhutch commented on #2199
Hi! Newtonsoft.Json (aka Json.NET) is not part of the BCL, it's a NuGet package you need to reference from your project.

[2017-05-19 19:00] mairaw commented on #2200
The links are now working although some are going to a temporary location for now. Thanks for reporting this @mikkelbu!

@livarcocc for the last two bullet points, I don't think those are documentation issues. You need to fix that on your side, no? Do we need to reopen the original issue or open a new one just for that?

[2017-05-19 19:04] livarcocc commented on #2200
For the last two bullets, they are not really customer facing commands. Complete is used for command line completion and parse is used to help us when making changes to our parser. I am fine with these two not having page for them. I don't think they should.

[2017-05-19 19:09] mairaw commented on #2200
I  agree. But should it open a new command window when you type help? I think it just shouldn't do anything.

[2017-05-19 22:31] tompratt-AQ opened #2211 "Add Undocumented APIs: System.Text.Encodings.Web Namespace"
Add missing documentation for the System.Text.Encodings.Web Namespace

This namespace contains the following classes:
	System.​Text.​Encodings.​Web.HtmlEncoder
	System.​Text.​Encodings.​Web.JavaScriptEncoder
	System.​Text.​Encodings.​Web.TextEncoder
	System.​Text.​Encodings.​Web.TextEncoderSettings
	System.​Text.​Encodings.​Web.UrlEncoder

Information will be pulled from the source code at:
https:

[2017-05-22 04:28] GuardRex opened #2216 "Fix list rendering issues"
Address list rendering issues that were discovered during migration:

https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/language-reference/functions/conversion-functions

... from https://msdn.microsoft.com/en-us/library/azure/1bbh5ae4(v=vs.90).aspx

https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/developing-apps/programming/computer-resources/computer-resources

... from

[2017-05-22 16:39] #2216 closed

[2017-05-22 20:12] mairaw commented on #2119
@kriscider any suggestions on how @bryanjhogan can submit this kind of request?

[2017-05-22 20:13] mairaw commented on #2119
@kriscrider any suggestions on how @bryanjhogan can submit this kind of request?

[2017-05-22 20:18] BillWagner commented on #2035
@kendrahavens For the list task: do you mean the yeoman generator generates out-of-date assets, or that the referenced doc describes out of date assets?

[2017-05-22 20:29] mairaw commented on #2104
Thanks @CameronAavik. We'll investigate.

[2017-05-22 20:31] #1359 closed

[2017-05-22 22:41] tsolarin commented on #273
@BillWagner I'd started drawing up an outline then I saw this: https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/types/boxing-and-unboxing. Seems this topic has already been written?

[2017-05-23 00:24] mairaw commented on #2196
The reason why I asked @GuardRex to create this issue is that the new installation topics that @richlander created don't talk about .NET 4.7, which is our most recent release.

Also, some of the links seem to take you to the wrong page. e.g. https://go.microsoft.com/fwlink/?linkid=845529&source=dotnetdocs

[2017-05-23 01:02] #2193 closed

[2017-05-23 06:27] #1408 closed

[2017-05-23 17:19] rpetrusha opened #2228 "Visual Basic: Constructor documentation is missing"
# Visual Basic: Constructor documentation is missing

For some reason, Visual Basic constructor documentation was removed from MSDN builds, and as a result was not migrated to docs.microsoft.com.

## General

There needs to be comprehensive documentation for Visual Basic constructors. The archived content on MSDN can serve as the starting point for a constructor topic(s), although it needs reorgan

[2017-05-23 17:39] BillWagner commented on #2035
We should probably wait until [this fix](https://github.com/dotnet/announcements/issues/14) is live before we update this. It will be much simpler.

cc @kendrahavens

[2017-05-23 18:13] svick opened #2229 "Many implemented interfaces missing for some types"
The list of implemented interfaces for [`List<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netframework-4.7) currently looks like this:

![](https://cloud.githubusercontent.com/assets/287848/26369117/ffccaeea-3ff3-11e7-9303-8dc4700cdc90.png)

I.e. most of the interfaces are not shown at all, only commas are visible.

This happens for other types too, e.g.

[2017-05-23 18:27] GuardRex commented on #2104
Hello @CameronAavik ... thanks for opening this issue. I whipped up a quickie with `hostEntry = Dns.GetHostEntry(string.Empty);` and it came back ok for 2.0-preview1: `Hostname: DESKTOP-1A2B3C4`.

Over in ...

https://docs.microsoft.com/en-us/dotnet/api/system.net.dns?view=netcore-1.1

... I see what you mean. As you said, `Dns.GetHostByName` is obsolete ...

https://docs.microsoft.com/en-us/dotne

[2017-05-23 19:33] themooserooster commented on #763
Has there been any progress on this front? Documentation exists for ASP.NET Core configuration, but not vanilla console apps in .NET Core.

[2017-05-23 21:16] kendrahavens commented on #2035
The yeoman generator itself is out of date. Could we make a doc just outlining what yeoman sets up?

The multi-arch change is now in the official .NET docker repo.

[2017-05-23 23:09] rpetrusha opened #2232 "Document CS4009: "an entry point cannot be marked with the `async` modifier""
This should be a high-priority compiler message to document.

[2017-05-23 23:26] mairaw commented on #2232
And don't forget to remove the F1 keyword from here when you add this one: https://raw.githubusercontent.com/dotnet/docs/4023c5ec72055fee78863a43b60989e1eb34fb22/docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md

[2017-05-24 02:37] BillWagner commented on #273
@tsolarin Yes, it looks like this has been written.  I'll close this one. do you want to look through the list of issues and pick up a different one?

[2017-05-24 02:37] #273 closed

[2017-05-24 05:19] #2104 closed

[2017-05-24 06:04] mairaw commented on #1439
I'm keeping it in the backlog as external to track its completion.

[2017-05-24 08:07] CameronAavik commented on #2104
Cheers @GuardRex, I since fixed my issue anyways and found how to do what I wanted.

[2017-05-24 08:09] GuardRex commented on #2104
@CameronAavik Awesome! Thanks again for raising the issue. Let us know if you spot any other doc problems.

[2017-05-24 14:34] #2202 closed

[2017-05-24 16:53] rpetrusha commented on #2232
Thanks, @mairaw. I didn't realize the file existed.

[2017-05-24 19:20] tompratt-AQ opened #2242 "Add Undocumented APIs: System.Buffers Namespace"
Add missing documentation for the System.Buffers Namespace

This namespace contains the following class:
System.Buffers.ArrayPool

Information will be pulled from the source code at:
https://github.com/dotnet/corefx/blob/master/src/System.Buffers/src/System/Buffers

Note:
Missing information is marked by the string: "To be added."

This issue is part of a larger project to fill in information for

[2017-05-24 21:01] GuardRex opened #2243 "Remove duplicate uid entries"
Migration activity duplicated some uid entries in meta docs.

[2017-05-25 01:06] #1974 closed

[2017-05-25 02:34] mairaw commented on #2200
@livarcocc should I open an issue just for those two lines that are opening a cmd? shouldn't they just print help like the others?

[2017-05-25 07:44] fqybzhangji opened #2251 "VSCode+docker+debug+netcore Error Information:Failed to create prime the NuGet cache. restore failed with: 1"
(Https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images)
According to the examples provided in this article, I ran a bit and the results were incorrect. I was using VSCode to run the debugger, the error message is "Failed to create prime the NuGet cache. Failed failed with: 1".

There are other error information, detailed information is as follows:

@shanselman @AA

[2017-05-25 23:59] mairaw opened #2255 "Update core/porting/libraries"
Just noticed this article haven't been migrated from project.json yet:
https://docs.microsoft.com/en-us/dotnet/articles/core/porting/libraries

[2017-05-26 16:35] scottsauber opened #2259 "404 Links for dotnet add package and dotnet remove reference"
This page: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/ has a link to "add package" under Project modification commands

That "add package" link takes you here: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-add-package which 404's.  The URL looks consistent with the others... so I'm not sure what's going on.

The add package docs exist here: https://github.com/

[2017-05-26 17:13] svick commented on #2259
I also currently [do not see the TOC on the left side](http://api.browsershots.org/png/original/7c/7c2384c483775c14fb036067d69c8e41.png), so it indeed seems like some kind of deployment issue to me.

[2017-05-26 17:25] mairaw commented on #2259
We have a major change being published this morning which is causing some of these issues and we are actively working on it to resolve them. But the URLs for me don't 404.

[2017-05-26 17:44] mairaw commented on #2259
I have updated all the aka.ms links to go to the new URLs (basically it's the same url without articles on them).  e.g. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package

redirection is in progress and I have a PR to try to fix the TOC issue in the new URLs.

[2017-05-26 17:52] svick commented on #2259
@mairaw I got 404 on https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-add-package at the time when I wrote my comment, but now it works fine for me.

[2017-05-26 18:01] mairaw commented on #2259
I'm starting to get some 404. Hopefully redirection will finish soon. I also have a build going that might temporarily fix the TOC issue but we need a permanent solution.

[2017-05-26 18:07] mletterle commented on #2259
Can confirm that I am seeing redirections going live, thanks!

[2017-05-26 18:40] scottsauber commented on #2259
Yep - works for me now too.  Closing this.  Thanks!

[2017-05-26 18:40] #2259 closed

[2017-05-26 19:27] tompratt-AQ opened #2261 "Add Undocumented APIs: System.Composition.Convention Namespace"
Add missing documentation for the System.Composition.Convention Namespace

This namespace contains the following classes:

ConventionBuilder
ExportConventionBuilder
ImportConventionBuilder
ParameterImportConventionBuilder
PartConventionBuilder
PartConventionBuilder<T>
AttributedModelProvider  (This is a base class of ConventionBuilder and will be documented.)

The namespace topic docs/xml/ns-Syste

[2017-05-26 19:35] mairaw opened #2263 "TOC issue for live site"
TOC on live site is sometimes loading the breadcrumb file instead. When I followed up on this issue before, I was told that it was due to an incremental build issue that is being fixed. However, even after a full run with force publish on it's still showing the breadcrumb.  @herohua told me there is a conflict with the TOC.md file and toc.yml file output paths.

[2017-05-26 19:48] mairaw commented on #2011
Fixed in #2079

[2017-05-26 19:48] #2011 closed

[2017-05-26 21:48] rpetrusha opened #2264 "Add Undocumented API: System.ValueTask"
# Add Undocumented API: System.ValueTask<TResult>

Comments are found in source at [System.Threading.Tasks.ValueTask.cs](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Threading.Tasks.Extensions/src/System/Threading/Tasks/ValueTask.cs). The XML doc file is [System.Threading.Tasks.ValueTask](https://github.com/dotnet/docs/blob/master/xml/System.Threading.T

[2017-05-27 01:10] #2243 closed

[2017-05-27 02:36] #2263 closed

[2017-05-30 14:54] #1932 closed

[2017-05-30 18:45] #824 closed

[2017-05-30 21:55] SaschaNaz opened #2287 "Update VS command line document to match VS2017 behavior"
The [How to: Set Environment Variables for the Visual Studio Command Line](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/how-to-set-environment-variables-for-the-visual-studio-command-line) document refers `vcvars32.bat` for VS2012 but it does not exist on VS2017. This is replaced by vsdevcmd.bat on VS2017 so I think the document should be updated to match the

[2017-05-30 22:28] #2045 closed

[2017-05-30 23:50] #1454 closed

[2017-05-31 00:21] GuardRex commented on #2192
![capture](https://cloud.githubusercontent.com/assets/1622880/26610082/feecfdf0-456a-11e7-8213-ef66420dc7bc.PNG)

Update: Azure ML is quite a wonderful technology; however like all statistical approaches, it's only as powerful as the data fed into it. Setting it up and evaluating various classification models went well. The problem is that training the models with the existing code block data is i

[2017-05-31 07:40] #2251 closed

[2017-05-31 16:30] GuardRex opened #2289 "Add cross-references to conceptual async docs + react to feedback"
Implement feedback in https://github.com/dotnet/docs/pull/2284.

[2017-05-31 17:30] BillWagner commented on #1846
I moved this to the backlog and added @rpetrusha as an assignee.  We should cover this when we update the language reference pages for `switch` and `case`.

[2017-05-31 20:07] #2242 closed

[2017-05-31 21:14] #1845 closed

[2017-05-31 23:32] chenxizhang opened #2296 "how to add a prerelease package to project"
Hi team
How to add a prerelease package to dotnet core project ?

for example:
In the nuget side, It should be "Install-Package Microsoft.Identity.Client -IncludePrerelease"

[2017-05-31 23:36] chenxizhang commented on #2296
Oh, I got it
It should be "dotnet add package Microsoft.Identity.Client -v 1.1.0-pre

[2017-05-31 23:36] #2296 closed

[2017-06-01 00:44] #1889 closed

[2017-06-01 02:18] dlech opened #2299 ""Implementing the GetInstance Method" on ICustomMarshaler needs language-specific example"
This sample code snippet currently uses C++ for all languages (C#, VB), so copy and paste does not work.

https://github.com/dotnet/docs/blob/master/xml/System.Runtime.InteropServices/ICustomMarshaler.xml#L117

[2017-06-01 18:58] #2289 closed

[2017-06-01 19:01] #2179 closed

[2017-06-01 19:08] #1371 closed

[2017-06-01 20:19] #2211 closed

[2017-06-02 05:38] superyyrrzz opened #2305 "sample for ConcurrentDictionaryis not thread safety"
[This](https://github.com/dotnet/docs/blob/master/docs/standard/collections/thread-safe/how-to-add-and-remove-items.md) article has a link to [this code sample](https://github.com/dotnet/docs/blob/master/samples/snippets/csharp/VS_Snippets_Misc/cds/cs/cds_dictionaryhowto.cs#L144). In this sample, `existingVal` is changed on the existing object and returned. In this manner, `existingVal.lastQueryDa

[2017-06-04 18:22] polewskm opened #2311 "Interface for Hash​Algorithm"
The documentation of `Hash​Algorithm` in the following target frameworks incorrectly mentions that it has an base interface of `ICryptoTransform` when this is not true:

* [netstandard-1.6]
* [netstandard-1.4]
* [netstandard-1.3]
* [netcore-1.1]
* [netcore-1.0]

If you browse the source for [HashAlgorithm.cs] you can find that the interface `ICryptoTransform` is only added for __.NET Standard 2.0_

[2017-06-05 00:21] SimonCropp opened #2315 "[2.0] Missing coverage for "dotnet new --install"?"
i cant seem to find the doco for `dotnet new --install` here https://docs.microsoft.com/en-nz/dotnet/core/tools/dotnet-new

[2017-06-05 05:04] GuardRex commented on #2315
IIRC It's an "undocumented feature" being previewed until 2.0. If that's correct, it will become part of the docs when 2.0 ships.

cc/ @mlorbetske (will know if I'm lying :grinning:)

[2017-06-05 05:06] SimonCropp commented on #2315
@GuardRex that may be the case. but you are making all your early adopters suffer by hiding such fundamental features. I would much prefer it was documented and marked as "preview" in the doco

[2017-06-05 05:18] mlorbetske commented on #2315
@GuardRex is correct. For 2.0, install, uninstall, etc are becoming part of the normal feature set. Previously we considered them to be "experimental" and incomplete (having to reset the whole instance to remove a template for instance). Now that the story is a bit better (no more ::* to install the latest version of a package, uninstall is a thing), we'll document install.

/cc @sayedihashimi

[2017-06-05 08:37] droyad commented on #1745
For those looking for the trimming doc mentioned above: https://github.com/dotnet/standard/blob/master/Microsoft.Packaging.Tools.Trimming/docs/trimming.md

[2017-06-05 15:51] rpetrusha commented on #2311
Thanks for opening this issue, @polewskm. The list of implemented interfaces is auto-generated using reflection. However, currently it does not take into account platform or version differences in interface implementation. We've opened an internal bug, #996154, to address this issue.

[2017-06-05 17:32] GuardRex commented on #2139
Note to self :grinning:: Expand globbing coverage in commands that support it.

[2017-06-05 18:33] sayedihashimi commented on #2315
+1 to what @mlorbetske said

[2017-06-05 18:35] GuardRex commented on #2315
@sayedihashimi Is [How to create your own templates for dotnet new](https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/) still (mostly) valid? That's probably the best "documentation" we have at the moment.

[2017-06-05 18:37] sayedihashimi commented on #2315
@GuardRex yes.

@mairaw can we get a walkthru type of doc for How to create templates based on my [blog post](https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/)?

[2017-06-05 20:30] guardrex opened #2346 "Add Saml2Constants to System.​Identity​Model.​Tokens Namespace"
MIA ...

https://referencesource.microsoft.com/#System.IdentityModel/System/IdentityModel/Tokens/Saml2Constants.cs,77 from https://docs.microsoft.com/en-us/dotnet/api/system.identitymodel.tokens?view=netframework-4.7

Update `ClassReference` member remarks of *xml/System.IdentityModel.Tokens/Saml2AuthenticationContext.xml*.

[2017-06-05 23:26] tompratt-AQ opened #2349 "Add Undocumented APIs: System.Composition.Hosting.Core Namespace"
Add missing documentation for the System.Composition.Hosting.Core Namespace

This namespace contains the following classes and a delegate:
CompositeActivator
CompositionContract
CompositionDependency
CompositionOperation
DependencyAccessor
ExportDescriptor
ExportDescriptorPromise
ExportDescriptorProvider
LifetimeContext

The namespace topic:  docs/xml/System.Composition.Hosting.Core will also be d

[2017-06-06 20:33] #1375 closed

[2017-06-07 03:06] GuardRex opened #2355 "Update VS for Mac tutorials for VS4M release"
VS for Mac has been released. Update the VS4M tutorials to remove the "preview" language.

[2017-06-07 21:31] rpetrusha opened #2363 "Provide consistent handling of C# and VB compiler error/warning topics"
# Provide consistent handling of C# and VB compiler error/warning topics

## General
Currently, there are several issues with C# and Visual Basic compiler error and warning message topics:

1. The topics are arbitrarily divided into two different directories. For C#, they are in a [language reference](https://github.com/dotnet/docs/tree/master/docs/csharp/language-reference/compiler-messages) subd

[2017-06-08 03:58] tuespetre commented on #1575
I don't have cold hard data to back me up on this, but I have a hunch that when it comes to LINQ, anonymous classes could prove to be more performant, especially as more Enumerable operators used and more members are present in the anonymous class. All of that `yield return`-ing with a bunch of heavy structs could result in a ton of copying.

[2017-06-08 13:42] tuespetre commented on #1575
Here is a 💩 benchmark I threw together in REPL:

[code]

Here, the anonymous class version considerably outperforms the value tuple version. What is interesting is that I made sure that both the anonymous class and the value tuple each had eight members or elements, which is the magic number to cause the tuple literal to produce a nested value tuple. If you remove the eighth member and element fro

[2017-06-10 00:38] mairaw opened #2382 "Improvements to dotnet-test docs"
We had several good questions on the [dotnet test](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test) topic that are good indicators on how we can improve that topic.
This issue has some of the questions and the answers I got from the devs.

• Are there any examples of using "--settings"?
Our docs simply repeat what the CLI help says: “Settings to use when running tests.” It’d be good

[2017-06-10 16:57] Thibaut commented on #397
Thanks @mairaw and @richlander.

There's still a major blocker for me to add your docs to [DevDocs](http://devdocs.io/), in that I'd need a static version to scrape/convert into DevDocs format locally (https://docs.microsoft.com/en-us/dotnet/api/ doesn't work / isn't crawlable without JavaScript + the documentation is huge, so scraping the website isn't really an option), but this is unrelated to

[2017-06-10 16:57] #397 closed

[2017-06-11 13:05] svick opened #2385 "Should the docs say that Dispose doesn't have to be called on types like MemoryStream?"
There are types like [`MemoryStream`](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream) or [`StringWriter`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stringwriter) that inherit the `IDisposable` interface from their base class, but don't actually clean up any resources when `Dispose()` is called.

Right now, the docs for these types contain what looks like standard `I

[2017-06-11 14:28] GuardRex commented on #2382
Cross-reference: Tracking NUnit progress for dotnet/docs on https://github.com/dotnet/docs/issues/1785, which links thru to NUnit-.NET Core adapter tracking on [nunit/nunit3-vs-adapter#297](https://github.com/nunit/nunit3-vs-adapter/issues/297).

[2017-06-11 14:47] svick opened #2386 "Search box incorrectly encodes special characters"
When I use the search box in the upper right corner to search for a phrase that contains special characters (including spaces), those special characters are showing encoded in the same search box on the search results page.

For example, when I search for "overloading equals()", I'm correctly sent to https://docs.microsoft.com/en-us/search/index?search=overloading+equals%28%29&scope=.NET, but the

[2017-06-11 23:31] guardrex opened #2388 "CLI commands topics: Can these be improved?"
This started as a discussion with @mairaw on Slack pertaining to the CLI command docs.

* Dashes in command names are 😖 very confusing.
* Do our definitions of "arguments," "options," and "parameters" make sense in light of commonly-used definitions of these terms? (i.e., Should we organize the sections of these docs a bit differently?)

## Dashes in command names (e.g., "dotnet-restore" vs. "dotn

[2017-06-11 23:46] bleroy commented on #2388
What dashes in command-lines? Unless I'm missing something, there should never be anything like `dotnet-restore` in the documentation, unless you're explaining how commands are resolved and/or how to write a new one.

[2017-06-12 00:12] GuardRex commented on #2388
@bleroy See the topic title and  *Name* section of ...

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore

... the dotnet commands table in ...

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

... and the TOC ...

https://github.com/dotnet/docs/blob/master/docs/toc.md

It's not very common, but I still think it's painful to see them shown this way anywhere. @mairaw can e

[2017-06-12 00:19] bleroy commented on #2388
Totally agree then. All these should be without dashes.

[2017-06-12 16:43] tompratt-AQ opened #2389 "Add Undocumented APIs: System.Composition.Hosting Namespace"
Add missing documentation for the System.Composition.Hosting Namespace

This namespace contains the following classes:

CompositionFailedException
CompositionHost
ContainerConfiguration

Information will be pulled from the source code at:
https://github.com/dotnet/corefx/tree/master/src/System.Composition.Hosting/src/System/Composition/Hosting

Note:
Missing information is marked by the string: "T

[2017-06-12 17:00] rpetrusha commented on #2385
When we began adding the Dispose boilerplate (an operation that, unfortunately, was never completed), we also had intended to note cases in which calling Dispose was unnecessary, either because there was no real implementation or, in a few cases, because a type should not have implemented Dispose in the first place. That work was never done, either. So I would agree with you, @svick, that the docu

[2017-06-12 17:43] rpetrusha commented on #1896
@svick, I'm closing this issue, since it's been fixed. Namespaces now appear in the type pages, along with the assemblies in which the type can be found. Here is [XPathExpression](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xpath.xpathexpression?view=netframework-4.7):

![image](https://user-images.githubusercontent.com/10886961/27047117-c29e8cb0-4f5b-11e7-930d-447dc3062076.png)

[2017-06-12 17:43] #1896 closed

[2017-06-12 20:08] mairaw commented on #1837
@rpetrusha should we change the milestone on this one?

[2017-06-12 20:12] mairaw commented on #2156
is this still blocked @GuardRex?

[2017-06-12 20:13] mairaw commented on #2192
is this done @GuardRex?

[2017-06-12 20:17] mairaw commented on #2200
Keeping it open until we publish the dotnet store page. So the aka.ms link should be updated.

I'll follow up with @livarcocc offline to see what to do about the two last bullet points. I think it's a CLI bug that they're opening a new command window.

[2017-06-12 20:26] mairaw commented on #2315
The issue described here would be covered by the work being done for #2139. correct @GuardRex?

@sayedihashimi yes, we can. I'll open a new issue to track that work separately.

[2017-06-12 20:34] GuardRex commented on #2315
@mairaw It *should be* ... I'll **WIP** that PR right now so I can get this on there.

[2017-06-12 20:36] GuardRex commented on #2315
Is this the issue? ... We can track on this one if that's ok with you.

[2017-06-12 20:36] rpetrusha commented on #1837
@mairaw, yes, I'll move it to June.

[2017-06-12 20:38] BillWagner commented on #2264
See the second bullet on the note above.

I believe that the use of ValueTask won't work with the C# 6 compiler either (the version released with VS 2015).

/cc @jaredpar to confirm.

[2017-06-12 20:47] GuardRex commented on #2156
@mairaw I held off on further work ... see https://github.com/dotnet/docs/pull/2153#issuecomment-301626945

[2017-06-12 20:48] GuardRex commented on #2192
@mairaw 😅 Not yet ..... I have more work to do here. I'll get back to this asap. I ended up needing to address each type of code block (by lang ident) with separate scripts, and I still have several lang idents to go here.

[2017-06-13 06:13] mairaw commented on #2386
Thank you @svick. I've open an internal issue for us to track this [1016988](https://mseng.visualstudio.com/CSI/_workitems?id=1016988&fullScreen=false&_a=edit)

[2017-06-13 06:19] mairaw commented on #2229
Thanks @svick. I forgot to paste the bug number I've opened internally for us to track  this issue [#1004298](https://mseng.visualstudio.com/CSI/_workitems?id=1004298&_a=edit&triage=true)

[2017-06-13 06:22] mairaw commented on #1172
Closing this since our API reference docs no longer has a View Code link

[2017-06-13 06:22] #1172 closed

[2017-06-13 11:31] sbrl commented on #397
@Thibaut is there another GH issue I can follow about that?

[2017-06-13 18:00] GuardRex commented on #2315
@mairaw Do you want this in the *core/tools* area or in the *core/tutorials* area?

Title: *Create your own templates for dotnet new*

[2017-06-13 21:13] guardrex opened #2405 "[2.0] New content for templating: Create custom templates for dotnet new"
Title: *Create custom templates for dotnet new*
Area: *docs/core/tools*

Reference
* [How to create your own templates for dotnet new](https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-own-templates-for-dotnet-new/)
* [dotnet/templating Wiki](https://github.com/dotnet/templating/wiki)

[2017-06-13 21:15] GuardRex commented on #2315
Closing here and tracking updates for `dotnet new` on https://github.com/dotnet/docs/issues/2139.

We'll be tracking the new topic for templating on https://github.com/dotnet/docs/issues/2405.

Thanks again @SimonCropp!

[2017-06-13 21:15] #2315 closed

[2017-06-13 22:23] mairaw commented on #2405
Should we call it create custom templates for dotnet new perhaps?

@sayedihashimi do we have data on search terms for the blog post? also, any preferences on whether you'd like to see this topic under [Tutorials](https://docs.microsoft.com/en-us/dotnet/core/tutorials/) or under [Tools](https://docs.microsoft.com/en-us/dotnet/core/tools/)?

Thanks!

[2017-06-13 22:26] GuardRex commented on #2405
I was too folksy there. :smile: ... but I was following @sayedihashimi's lead.

Title updated.

[2017-06-14 12:50] SamuelEnglard opened #2409 "Document effects of `var` in pattern matching with `switch`"
As was [discovered on StackOverflow](https://stackoverflow.com/questions/44532077) the behavior of `var o` in pattern matching with `switch` is not obvious and should be documented.

Between @jaredpar and @mgravell (and myself I think) the answer is found but this information should be documented on the [pattern matching documentation](https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matchin

[2017-06-14 13:12] mgravell commented on #2409
I had a shower thought on this, in that the current `case var o:` scenario
*actually* behaves in a way that is more consistent with the syntax
`default var o:`. I realise that this ship has sailed, however.

Marc

On 14 June 2017 at 13:51, Shmueli Englard <notifications@github.com> wrote:

--
Regards,

Marc

[2017-06-14 16:02] #1936 closed

[2017-06-14 17:13] lextm commented on #1770
This issue description is not accurate.

1. xUnit.net based .NET Core testing can run properly without xamarin.xunit extension, as it seems to use `dotnet test` directly to pull the results. Thus, I don't think xunit/xamarinstudio.xunit#60 is blocking here.
2. xunit/xamarinstudio.xunit#60 and its related items are only affecting Mono based projects.

So when reading [this article](https://docs.mic

[2017-06-14 17:20] GuardRex commented on #1770
@lextm I just needed to remove that language. It wasn't clear at the time I put this up back in March where the blockage was. It's all working now from the IDE, so the PR here fixes the doc to show how to run the tests from the IDE.

On the other issue, there was an open bug report for it ... https://bugzilla.xamarin.com/show_bug.cgi?id=56921 ... so I think they'll have that fixed soon.

Thanks fo

[2017-06-14 19:41] BillWagner opened #2411 "[Project] Incorporate Microservices eBook into docs"
The [eBook for Microservices architecture guidance](https://github.com/dotnet-architecture/eShopOnContainers) should be available on docs.

See [this project](https://github.com/dotnet/docs/projects/14) for sub-tasks.

[2017-06-14 19:42] BillWagner opened #2412 "[Project] Add the Roslyn API reference to docs"
The Roslyn APIs (aka the .NET Compiler Platform SDK) should be on docs.

See [this project](https://github.com/dotnet/docs/projects/10) for sub-tasks.

[2017-06-14 20:07] svick commented on #2412
Related issue on the Roslyn repo: https://github.com/dotnet/roslyn/issues/11557.

[2017-06-14 20:10] BillWagner commented on #1363
Closing as a duplicate of #2264

[2017-06-14 20:10] #1363 closed

[2017-06-14 20:10] BillWagner commented on #1372
Closed with #2253

[2017-06-14 20:13] #1372 closed

[2017-06-14 20:20] GuardRex commented on #2405
@sayedihashimi ... We'll try a 1st draft for this under *core/tools* and make it a reference-style doc that links to your blog post (as opposed to making this a tutorial/walk-through). Later, there might be a *core/tutorials* topic closer to how to go with your blog post. For right now tho, we'll just link to you if that's ok.

[2017-06-14 20:20] BillWagner commented on #2412
Somehow, I'm not surprised @svick wrote this some time ago.

[2017-06-14 23:12] tompratt-AQ opened #2417 "Add Undocumented APIs: System.Composition Namespace"
Add missing documentation for the System.Composition Namespace

This namespace contains the following topics:

- CompositionContext
- CompositionContextExtensions
- Export<T>
- ExportAttribute
- ExportFactory<T>
- ExportFactory<T,TMetadata>
- ExportMetadataAttribute
- ImportAttribute
- ImportingConstructorAttribute
- ImportManyAttribute
- ImportMetadataConstraintAttribute
- MetadataAttributeAttrib

[2017-06-14 23:26] lextm commented on #1770
@GuardRex thanks. When you initially raised the issue xunit/xamarinstudio.xunit#60 I was not able to learn all the details either. That's probably a situation everyone wouldn't want to see. Glad to see that everything works fine right now.

Since this article fully focuses on .NET Core development in VS for Mac, I think we can safely ignore xamarinstudio.xunit in it. If users do have Mono projects

[2017-06-15 07:10] MihaiTheCoder opened #2419 "Wrong Prerequisites for .NET Core on Windows"
Hi,

on: https://github.com/dotnet/docs/blob/master/docs/core/windows-prerequisites.md
you have as prerequisites Windows Server 2012 R2 SP1, and this version doesn't exist.
You need Windows Server 2012 R2 with update KB2919335 in order to install Visual c++ 2015 redistributables.

[2017-06-15 16:10] danroth27 opened #2423 "Searching for RuntimeFrameworkVersion in the .NET docs yields no results"
I was looking for info on the `RuntimeFrameworkVersion` MSBuild property, so I did a [search](https://docs.microsoft.com/en-us/search/index?search=RuntimeFrameworkVersion&scope=.NET) for RuntimeFrameworkVersion in the .NET docs, but got zero results. However, it turns out there is a [doc](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj) that talks about this property. Looks like the sear

[2017-06-15 16:12] GuardRex commented on #2423
Can this be fixed by adding the term (perhaps other key terms as well) to the `keywords` metadata?

[2017-06-15 20:37] tompratt-AQ commented on #2261
Per Ron:  "it turns out that this and the other 2 undocumented MEF namespaces (System.Composition.Hosting and System.Composition.Hosting.Core) were documented in CAPS as OOB releases and, because they weren't part of MREF, weren't migrated to GitHub. Please take a look at them to make sure that we've provided as much detail as the old documentation. The documentation is accessible on MSDN from the

[2017-06-15 22:33] rpetrusha commented on #2232
This has been published at [Compiler Error CS4009](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs4009).

[2017-06-15 22:33] #2232 closed

[2017-06-15 23:11] mairaw opened #2426 "dev_langs metadata"
While updating one topic today, I saw that we have jsharp as a dev_lang metadata value and lots of topics on winforms for example are missing other dev_langs. We should update it to remove jsharp and add the appropriate ones. Maybe we can even set those at a global level?

[2017-06-16 16:52] AmirHasanzade commented on #1311
The first time I read the article I was confused. But after reading docs for .NET standard (and the fact that it's just a definition of APIs and not an implementation) and article about deployment methods for .NET core I was able to understand the article.

Maybe it's better if some prerequisite material is defined at first. Or if a metaphor (like the LEGO metaphor in comments) is added to make it

[2017-06-16 18:38] jaredpar commented on #2264
@BillWagner is correct.

Visual Basic (any version) does not support defining async methods using ValueTask.

[2017-06-16 21:09] MadsTorgersen commented on #1575
@tuespetre, I agree with those thoughts on performance; at some point the copying of structs may outweigh the savings from not being allocated on (and GC'ed from) the heap.

Another difference is that tuple names are a compile-time illusion, whereas anonymous object member names are really there at runtime, observable through `dynamic` and reflection.

[2017-06-16 21:27] #2385 closed

[2017-06-18 23:42] shravan2x opened #2439 "Documentation missing for ProcessStartInfo.RedirectStandardOutput"
This issue is created in reference to my corefx issue [here](https://github.com/dotnet/corefx/issues/21119) and SO issue [here](https://stackoverflow.com/questions/44467762/disposing-contents-of-stdout/44580472), which did not receive an answer in days. I then decided to experiment on my own. A copy is given below.

I'm not sure if the dotnet team has access to the docs [here](https://msdn.microso

[2017-06-19 20:22] mairaw commented on #1939
Might be something for @GuardRex to work on next. We need to define where we're going to link that from with @ianhays.

[2017-06-19 20:36] mairaw commented on #1772
@morrisjoe are you the right person for us to determine how this works in VS so we can start this task?

[2017-06-19 20:39] mairaw commented on #1771
@gregvanl do you guys have any topics on the vs code docs that cover debugging unit tests that we could link to? Thanks!

[2017-06-19 20:39] morrisjoe commented on #1772
@mairaw Yes, I can help. But I would be leaning on the feature team who owns these technologies (which is the engineering team in India, whose PM is Pratap Lakshman <pratapl@microsoft.com>

[2017-06-19 20:40] mairaw commented on #1767
@tdykstra this is related to our glossary and terminology discussion

[2017-06-19 20:45] mairaw commented on #1677
@cartermp is this done? all subtasks are marked as done.

[2017-06-19 20:54] mairaw commented on #1339
Closing this one in favor of #2382 that has specific action items for dotnet test docs.

[2017-06-19 20:54] #1339 closed

[2017-06-19 20:56] mairaw commented on #1330
@cartermp would this be added to https://docs.microsoft.com/en-us/dotnet/core/migration/? can you give us more info on this so we know how to proceed?

[2017-06-19 20:57] mairaw commented on #1311
@tdykstra another one related to the terminology work

[2017-06-19 20:58] mairaw commented on #1216
@cartermp who would know how this is behaving now? @livarcocc can you help?

[2017-06-19 21:00] mairaw commented on #1208
@danroth27 does this env var still exist? if so, i'd like to get it documented on my proposed location from before

[2017-06-19 21:07] mairaw commented on #803
No longer an issue.

[2017-06-19 21:07] #803 closed

[2017-06-19 21:15] danroth27 commented on #1208
Not sure, @livarcocc do you know?

[2017-06-19 22:13] livarcocc commented on #1208
It does not.

[2017-06-19 22:15] GuardRex commented on #1939
@ianhays @mairaw @JonHanna

[@JonHanna :rocket: Hope all is well with you!]

@ianhays @mairaw -- See if this looks good, or let me know what you want to do:

1. Title? *Total Order* (as @JonHanna titled it)
2. File name? *total-order.md*
3. Place the topic at [*docs/standard*](https://github.com/dotnet/docs/tree/master/docs/standard)?
4. Link to the topic from the `IComparer` and `IComparer<T>` AP

[2017-06-19 22:36] cartermp commented on #1677
Yup!

[2017-06-19 22:36] #1677 closed

[2017-06-19 22:36] cartermp commented on #1216
I'm pretty sure it behaves the same as it did in the project.json days, modulo some bug fixes since then.

[2017-06-19 22:38] cartermp commented on #1330
I think this is pretty well-satisfied by that doc.  Closing!

[2017-06-19 22:38] #1330 closed

[2017-06-19 22:50] mairaw commented on #1208
Thanks guys! Closing this issue then.

[2017-06-19 22:50] #1208 closed

[2017-06-19 22:55] mairaw commented on #2134
@cartermp we're getting to the end of Q2. Can you update this as appropriate?

[2017-06-20 00:02] gregvanl commented on #1771
@mairaw We don't have anything in our main code.visualstudio.com docs but there is an example for an Angular TypeScript project in our recipes repo https://github.com/weinand/vscode-recipes/tree/master/Angular-CLI#debug-unit-tests
For .NET, the best place to look might be the C# extension README and repo at https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp and https://github.com

[2017-06-20 13:57] svick opened #2452 "Some information is too hidden"
I was searching through docs.MS looking for detailed documentation about attributes in C# and couldn't find it. Eventually, I found out that the information I was looking for was in https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/attributes/, but I think that finding it required way too much effort:

* Using the top-right search box, [searching for "Attributes" returns 0

[2017-06-20 15:36] GuardRex commented on #2452
Since it also pertains to search, we may as well cross-reference https://github.com/dotnet/docs/issues/2423. (I'm curious about the role of metadata keywords for internal search/filtering.)

[2017-06-20 16:27] svick opened #2454 "The article Collectible Assemblies for Dynamic Type Generation should be migrated"
The MSDN article [Collectible Assemblies for Dynamic Type Generation](https://msdn.microsoft.com/en-us/library/dd554932(vs.100).aspx) exists only in an old, unmaintained version and so it has not been migrated to docs.MS.

It contains very specific information that is, AFAICT, not available elsewhere in the docs, so I think it should be migrated.

See also: https://github.com/dotnet/docs/pull/2444

[2017-06-20 22:51] mairaw commented on #1453
I don't think we need specific pages for those and the aka.ms links are now set up accordingly.

[2017-06-20 22:51] #1453 closed

[2017-06-21 00:06] mairaw commented on #2388
I agree with you with the removal of the dashes. Let's do it. Z explained to me the rationale behind this when we were creating those. I think it had to do with how Git shows them but also because these originally were creating man pages for the commands, which is no longer the case AFAIK.

For "Arguments," "options," and "parameters":
- I think it should be consistent with the CLI interface
- I d

[2017-06-21 00:18] rpetrusha commented on #2454
I'm going to schedule this with a July milestone.

cc: @svick

[2017-06-21 00:33] GuardRex commented on #2388
Cool, so thus far we're just thinking to ...
* Drop the dashes
* Split Options into *Required Options* and *Optional Options* where there are required options. It's only a few of them, but it should make it clearer what the dev must do to get the command to work in those cases.

I won't make changes until we've heard from [@]livarcocc and others. Then, these updates will go in on https://github.co

[2017-06-21 00:57] mairaw commented on #2388
I sent you an email about the plan for the 2.0 docs:
- We'll add the new topics for 2.0 in their final location now. I'll change my WIP PR for dotnet store.
- We'll add tabbed views on the current CLI commands when that feature is available
- We'll add proper content version when that feature is available to us

We could also add a command node (with or without an article attached) in the TOC to s

[2017-06-21 01:14] GuardRex commented on #2388
I'll move the ones I'm working to a PR for `master`. (They all have the includes for "this is preview" on them and in their titles and H1s.)

Add the node to *docs/core/tools*? It's not a concern to place them down another level ... so deep in the TOC? (just curious/thinking aloud)

[2017-06-21 06:43] mairaw opened #2459 "Fix badly converted links"
There are some links that were not correctly migrated. You can find them by searching qualifyHint.

Not all of them will appear as an issue in the build report because the first part of the link was correctly migrated, so we just have garbage showing up, such as in:
https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger.op_greaterthan?view=netframework-4.7#System_Numerics_BigIntege

[2017-06-21 09:20] mairaw commented on #1878
Now we do have for some generic interfaces, but others have dropped from the list and we got now duplicated values:
![image](https://user-images.githubusercontent.com/12971179/27376849-30ae6ea0-5628-11e7-8583-a5277bc2b2cc.png)

[2017-06-21 14:02] michaelkruglos opened #2461 "Inaccurate documentation for PackageReference tag"
# Inaccurate documentation for PackageReference tag

# General

[Version](https://github.com/dotnet/docs/blob/master/docs/core/tools/csproj.md#version) element of PackageReference is described as "respects the rules of the [NuGet versioning scheme](https://docs.microsoft.com/en-us/nuget/create-packages/dependency-versions#version-ranges)", but in fact if you supply Version="1.0" the behavior is as

[2017-06-21 14:47] guardrex opened #2462 "Incorrect backslash on csc command line options reference list"
Moved from https://github.com/dotnet/docs.de-de/issues/25

@akoeplinger on 6/6/2017 ...

On https://docs.microsoft.com/de-de/dotnet/csharp/language-reference/compiler-options/listed-alphabetically there are \ added in front of the command line args:

![26859193-5ca3add8-4b36-11e7-9651-392ca0153ae9](https://user-images.githubusercontent.com/1622880/27390230-64094520-5666-11e7-98dd-28e5836c725d.png)

[2017-06-21 14:52] GuardRex commented on #2462
@mairaw It looks like escaping is broken for the localized build. Do you want me to open on SiteHelp? ... or inline code these switches as a quick fix?

[2017-06-21 14:56] GuardRex commented on #2462
Something funky about their being part of links ...

[2017-06-21 16:01] GuardRex opened #2465 "Address broken rendering issues"
Check for broken includes similar to https://github.com/dotnet/docs/pull/2464.

![capture](https://user-images.githubusercontent.com/1622880/27394185-e8e10cba-5670-11e7-9640-adba4dd95b76.PNG)

[2017-06-21 16:20] svick commented on #2465
[There seems to be quite a few of those.](https://www.google.cz/search?q=site:docs.microsoft.com/en-us/dotnet+"[!")

[2017-06-21 16:24] GuardRex commented on #2465
... and Halloween 🎃 is a little early this year! I see in some of your search results things like ...

* https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/filters-of-routing
* https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/namespacetable

[2017-06-21 16:31] GuardRex commented on #2465
Let's perhaps leave broken rendering as a general issue here (I'll change the title). I think I can make a pass soon ... it's just that I'm knee-deep in a doc refactor at the moment. @mairaw, do you want to make this `up-for-grabs` or assign elsewhere? I'm free soon (depending on how the conclusion of my doc refactor goes today on https://github.com/dotnet/docs/issues/2255).

[2017-06-21 17:36] rpetrusha commented on #2465
@GuardRex, are you planning to add additional commits to this PR to reflect other topics with rendering issues? Since I assume that's the case, I've added the WIP tag.

[2017-06-21 23:17] mairaw opened #2468 "SEO: fix duplicate title and meta descriptions"
SEO team has found 191 articles where title and meta descriptions are exactly the same. Titles should be 59 chars while meta description we have more room 115-145 chars limit.  Title appears on browser tab and search result, while description appears only on search result page.

See spreadsheet for list of topics that need to fixed:
[Duplicate Title and Meta Descriptions dotNet.xlsx](https://githu

[2017-06-22 00:07] GuardRex commented on #2462
More examples ...

* https://docs.microsoft.com/de-de/dotnet/csharp/language-reference/compiler-options/listed-by-category
* https://docs.microsoft.com/de-de/visualstudio/profiling/how-to-instrument-a-dynamically-compiled-aspnet-web-application-and-collect-detailed-timing-data-with-the-profiler-by-using-the-command-line
* https://docs.microsoft.com/de-de/dotnet/csharp/language-reference/compiler-o

[2017-06-22 00:33] mairaw commented on #194
This is resolved now.

[2017-06-22 00:33] #194 closed

[2017-06-22 00:42] mairaw commented on #1903
Looks like this was fixed. Closing.

[2017-06-22 00:42] #1903 closed

[2017-06-22 15:57] GuardRex opened #2475 "Fix line indentation and continuation"
docs/framework/serialization/how-to-serialize-an-object-as-a-soap-encoded-xml-stream.md

* Indent next lines after continuation.
* Remove the underscore and go with implicit line continuation before members where possible.

Follow-up to changes made on https://github.com/dotnet/docs/pull/2474

[2017-06-22 17:09] GuardRex commented on #2461
@mairaw Is it ok if I drop this on the updates for https://github.com/dotnet/docs/issues/2139? There will be a delay for it to go live, but I see this as more of an "enhancement" than a "bug," since it's a clarification of which NuGet notation is followed as the default.

[2017-06-22 17:23] GuardRex commented on #2461
@michaelkruglos Thanks for reporting this. Let me see how/when this should go down, and I'll get right on it.

[2017-06-22 18:23] mairaw opened #2479 "Make it clear when the changes for csproj was introduced"
Topic: https://docs.microsoft.com/en-us/dotnet/core/tools/cli-msbuild-architecture

LiveFyre comment indicates that the topic doesn't make a good job of letting users know when the change happened and which version of VS/tooling they can get the "new" behavior.

[2017-06-22 18:31] #2475 closed

[2017-06-22 19:20] GuardRex commented on #2479
@mairaw I'm rolling this in with the 2.0 updates. The PR is *imminent* ... final touches going down now. :watch:

[2017-06-22 21:01] GuardRex commented on #2462
I was just informed by @Banani-Rath that the locale repos have the content that require the change, e.g., https://github.com/dotnet/docs.de-de

[2017-06-23 06:42] DanielStolt commented on #1311
@AmirHasanzade Metaphors rarely make technical concepts more understandable IMO, and the LEGO metaphor suggested by that comment is particularly vague and misaligned with what it tries to describe. Better IMO to explain the concepts in terms of what they really are, but clearly and exhaustively.

[2017-06-23 18:11] tompratt-AQ opened #2487 "Add Undocumented APIs: System.​Reflection.​Metadata Namespace"
Add missing documentation for the System.​Reflection.​Metadata Namespace

This namespace contains 216 classes.

Information will be pulled from the source code at:
https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Metadata/src/System/Reflection/Metadata

Note:
Missing information is marked by the string: "To be added."

@mairaw

[2017-06-23 18:27] tarekgh opened #2488 "Fix the CultureInfo.CurrentCulture/CurrentUICulture docs"
The documentation of CurrentCulture and CurrentUICulture is not up to date especially in the following part:

https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo.currentculture(v=vs.110).aspx#WindowsAndCurr

it states CurrentCulture is read only while we have a setter. we need to make it clear it is not read only anymore and also clarify the doc more regarding the expected be

[2017-06-24 07:25] mairaw opened #2492 "Update Prerequisites for .NET Core on Mac for .NET Core 2.0"
https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites

We need to add to the page the min version for .NET Core 2.0 which is macOS 10.12 or higher.

We should also rewrite the Visual Studio for Mac section using a similar language as used on the Windows topic re. VS (https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites#prerequisites-with-visual-studio-2017), which makes it

[2017-06-24 07:34] mairaw commented on #2461
IMHO these PRs are getting big and harder to review since we're all busy. No rush on getting this done but I prefer easy to review PRs. So it's better if it's not bundled with others.

[2017-06-24 07:38] GuardRex commented on #2461
@mairaw Sure ... let me know if you want this one stripped off. It was (IIRC) a one-line change to that topic.

[2017-06-24 12:01] GuardRex commented on #2479
This issue work has been moved to https://github.com/dotnet/docs/pull/2493.

[2017-06-24 12:24] GuardRex commented on #2461
This work has been moved to https://github.com/dotnet/docs/pull/2494.

[2017-06-24 12:46] GuardRex commented on #2405
This work has been moved to https://github.com/dotnet/docs/pull/2495.

[2017-06-24 17:55] gpuchtel opened #2497 "Nested Types section is too opinionated and does reflect the full spectrum nested type usage"
I'm opening an issue to discuss the overall tone and validity of the 'Nested Types' section. I've copied the section in its entirety to depict **_in-line_** comments and an example that further illustrates points of contention.

------------------------------------------------------------------

A nested type is a type defined within the scope of another type, which is called the enclosing type. A

[2017-06-24 21:00] svick commented on #2497
Just to make sure, are you aware that [the article you're talking about](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/nested-types) is part of the Framework Design Guidelines and as such only applies to designing libraries and is intentionally opinionated, to make sure .Net libraries are consistent?

---

Responding to some of what you wrote:

It is, if you're writing a libra

[2017-06-26 10:10] svick commented on #1876
I think there's another instance of this on [`Socket.​Duplicate​And​Close`](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.duplicateandclose?view=netframework-4.7). All versions of the docs for that have the `MonoLimitation` attribute:

[code]

[2017-06-26 11:33] svick commented on #1935
It seems this is better now, but still not completely fixed:

* The operator is now called "Addition" in title and TOC, so that's fixed.
* The definition keeps using `op_Addition`, so that's not fixed.

[2017-06-26 15:22] rpetrusha commented on #2497
Also at issue here is that the design guidelines are [copyrighted material](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/) used with permission of Addison-Wesley.  Given that, @gpuchtel, if you'd like to express your disagreement with the design guidelines for nested types, the best way is to leave a comment in the [Nested Types](https://docs.microsoft.com/en-us/dotnet/standa

[2017-06-26 15:26] BillWagner opened #2498 "The Microservices eBook directory should be more descriptive"
The eBook is under /docs/standard/architecture.

It should move to docs/standard/microservices-architecture.

Redirects would need to be configured for each page.

/cc @CESARDELATORRE

[2017-06-26 15:28] BillWagner opened #2499 "The decision table for different container types should be formatted better"
This page https://docs.microsoft.com/en-us/dotnet/standard/architecture/net-core-net-framework-containers/container-framework-choice-factors

is a bit clumsy.

We should re-format to provide a clearer description of the process.

/cc @CESARDELATORRE

[2017-06-26 20:18] mestihudson opened #2505 "Yeoman Generator Aspnet Do Not Run Into Docker Container"
Hi,

I am trying to generate `yo aspnet` into docker container but this message always is show:

`
+ gulp@3.9.1
+ yo@2.0.0
+ bower@1.8.0
+ grunt-cli@1.2.0
+ generator-aspnet@0.3.3
added 1008 packages in 66.338s
npm info ok
root@ffe35c5dda6b:/# yo -v
/usr/local/lib/node_modules/yo/node_modules/insight/node_modules/configstore/index.js:53
                                throw err;

[2017-06-26 20:21] mairaw commented on #2505
@kendrahavens can you help here? do you know anything about this? Thanks!

[2017-06-26 20:29] mairaw commented on #2423
There was a bug with search for the .NET content that was recently fixed. The link to your search now brings two results.
Re. keywords metadata, I think that only Bing uses that and SEO guidelines for that are changing. I'll follow up on that with Khairun.

[2017-06-26 20:29] #2423 closed

[2017-06-26 20:33] mairaw commented on #2452
Issue `#1` is fixed
Issue `#2` is something that we asked for the team to improve filter. I'll see if I need to file a new request for that.
Issue `#3` is just due to how content was organized on msdn. We need to reorganize the content here now,

[2017-06-26 20:35] BillWagner commented on #2497
@gpuchtel I'm going to close this, because of the copyright issues.

If you want to suggest alternative guidance, let's consider where those might go, and how to approach the topic.

[2017-06-26 20:35] #2497 closed

[2017-06-26 20:46] mairaw commented on #786
Is this still applicable @richlander?

[2017-06-26 20:50] mairaw commented on #762
@terrajobst @weshaggard would you guys be the right people to talk about this issue?

[2017-06-26 20:53] mairaw commented on #761
The entire crypto section needs to be reviewed.

/cc @bartonjs

[2017-06-26 20:59] mairaw commented on #561
@richlander do you think this is still useful?

[2017-06-26 21:02] mairaw commented on #509
@twsouthwick for sure, this is not a Getting Started topic. With the move to csproj, do you think we still need to cover this? And what aspects you'd like to cover that are not on the NuGet topic?

[2017-06-26 22:29] bartonjs commented on #761
@twsouthwick https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/cross-platform-cryptography.md isn't as nice to read as if @mairaw wrote it; but it has lots of words.  And tables :smile:.

[2017-06-26 22:32] twsouthwick commented on #509
I think we can close this now as the documentation seems to be pretty clear on how this occurs. I originally raised the issue while working with a customer who was having troubles with finding documentation and it seems a lot more discoverable with the latest updates.

[2017-06-26 22:32] #509 closed

[2017-06-26 22:33] twsouthwick commented on #761
That is exactly the kind of thing I was looking for :) Any plans to get this into the official docs?

[2017-06-26 22:46] mairaw opened #2507 "Top result for C# on Google is a page not in TOC"
Search results for [C# on Google](https://www.google.com/search?q=c%23) bring this page as its first result: https://docs.microsoft.com/en-us/dotnet/csharp/csharp

That page is not linked to the TOC, so we should remove it from the docset and redirect it to the [C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/).

But I'm wondering if we should have an introductory sentence about C# on the

[2017-06-26 22:51] mairaw opened #2508 "Redirect C# tutorials page from msdn"
Search results for [C# on Google](https://www.google.com/search?q=c%23) bring this very old page from MSDN as its second result: https://msdn.microsoft.com/en-us/library/aa288436(v=vs.71).aspx

That page has around 30k page views per month. We should redirect that page to https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/ once we feel we have our basic C# tutorials covered in here. Might be

[2017-06-26 23:32] GuardRex opened #2509 "Document and clarify the parameters for dotnet-install"
Opened from https://github.com/dotnet/cli/issues/6344

@JohnRusk @WernerMairl I'm going to begin working on this soon. I'll reach out with any questions/discussion on this issue as I work it forward. If you've thought of anything since the OP, please feel free to comment here.

[2017-06-27 00:39] kendrahavens commented on #2505
@mestihudson Usually permission denied errors can be solved by running in a privileged command prompt or terminal. This would be sudo on linux or administrator mode on windows. If you are actually ssh-ing into the container, try running the docker container with the --privileged flag.

Also, please note the yo docker generator is very out of date. (Though sounds like you are using the yo aspnet ge

[2017-06-27 03:46] GuardRex commented on #1785
Hello @rprouse ... can I ping you for a sec for an update on where things stand? It looks like according to https://github.com/nunit/nunit3-vs-adapter/issues/297 that things aren't quite ready yet.

[2017-06-27 11:58] svick opened #2513 "Searching Google about encrypring in C# results in a very outdated support.MS article"
As highlighted by [a reddit post](https://www.reddit.com/r/programming/comments/6jq62q/how_not_to_encrypt_a_file_courtesy_of_microsoft/djgcif2/), [searching Google for "how to encrypt data in C#"](https://www.google.com/search?q=how+to+encrypt+data+in+C%23) prominently shows [a very outdated and reportedly very bad support.microsoft.com article](https://support.microsoft.com/en-us/help/307010/how-

[2017-06-27 12:34] rprouse commented on #1785
@GuardRex there have been a few issues reported with the alpha release of the adapter, but nothing serious or consistently reproducible. We actually haven't released a second alpha yet because we haven't found anything serious enough to fix. I have a couple of smaller issues on my plate, so there will likely be an update soon.

If the docs are updated, they should probably use a `*` for the versio

[2017-06-27 13:04] GuardRex commented on #1785
Thanks @rprouse for the update.

@mairaw Do u want this after the current/upcoming workload assignments ("upcoming" == that you said you would be making soon), or do u want this one worked now?

[2017-06-27 15:19] cartermp commented on #2513
cc @blowdart

[2017-06-27 15:22] blowdart commented on #2513
A deletion request went in two hours ago

[2017-06-27 16:19] BillWagner commented on #1875
Adding @rpetrusha since this is in the deconstruction topic you're adding now. Ping me if you want more information.

[2017-06-27 20:12] GuardRex commented on #1669
@BillWagner @mairaw The Roslyn area hasn't been composed yet (and it was likely pulled from the TOC back when these empty topics were set aside until written).

https://github.com/dotnet/docs/blob/master/docs/csharp/roslyn/index.md

How do you wish to proceed? Should I craft an index page, add an analyzers topic in this area, and get the the two on the TOC?

[2017-06-27 20:59] mairaw commented on #2439
HI @shravan2x,

Yes, we do have access to MSDN docs, but we're concentrating our efforts on making the fixes on docs, since ultimately that will be our final destination.

@Priya91 are you the owner of ProcessStartInfo.RedirectStandardOutput? If so, can you help with this question? We can update the docs to make sure they cover cross-platform scenarios as well, but I wanna make sure we give the ri

[2017-06-27 21:06] GuardRex commented on #1785
@rprouse We're going to hold for just a sec while you get past alpha. I'll keep an :eye: out. I'm tracking on issue https://github.com/nunit/nunit3-vs-adapter/issues/297. If there's a better spot to monitor for beta landing, let me know, and I'll watch it.

[2017-06-27 21:26] mairaw commented on #1669
I don't think this should go to the C# area. This should be a more generic topic about .NET and code analysis no?

[2017-06-27 21:31] GuardRex commented on #1669
I thought that it *might be ok* because the index currently lists "links to samples on the roslyn-analyzers repository;" however, yeah, that does just say "link to samples."

If it's a more generic topic on .NET and code analysis, would it be for the *.NET Core Guide* then?

[2017-06-27 22:22] svick commented on #2513
The support.MS article has been deleted. Now it should be only a matter of time until Google delists it, so I think this can be closed.

[2017-06-27 22:22] #2513 closed

[2017-06-27 22:48] #2498 closed

[2017-06-28 00:54] #1763 closed

[2017-06-28 15:17] BillWagner commented on #1669
I think there are a couple sections that relate to Roslyn Analyzers. @richlander writes above about an issue that can be solved by installing and using an existing roslyn based analyzer.

The section @GuardRex mentions will be an introduction to building your own analyzer.  I expect that the audience for using existing analyzers is much greater than for building them.

You can run analyzers from V

[2017-06-28 15:47] GuardRex commented on #1669
Under https://docs.microsoft.com/dotnet/core/tools/ and linked into in the `dotnet-build` command topic?

... and a VS approach over in the VS docs? (If so, do we need an issue in https://github.com/MicrosoftDocs/visualstudio-docs/issues to cover the VS-side?)

[2017-06-28 17:35] ErikEJ opened #2519 "Missing link to Entity Framework Core docs from dotnet landing page"
Entity Framework Core is a major .NET component, on par with ASP.NET Core, but does  not appear anywhere on the dotnet landing page https://docs.microsoft.com/en-us/dotnet/ - please fix this!

Good place to link to https://docs.microsoft.com/ef could be under .NET Core links

[2017-06-28 18:08] mairaw commented on #1669
Let's focus on the issue that @richlander opened here. This one is about running analyzers on .NET code, right? I'd expect to find that in the platform guide.

[2017-06-28 18:17] GuardRex commented on #1669
Cool ... a free topic under *docs/standard/* + mentioned/linked in the index there + mentioned/linked from the `dotnet build` topic in its *See also* section.

I'll come back here and float the title and outline before I start.

[2017-06-28 18:17] mairaw commented on #1931
@GuardRex can you take a look at this one? The issue reported by @svick seems to be fixed. However, there are some other broken links on that page that I'm guessing is because ECMAXML sections are using MarkDown syntax.

For example:
![image](https://user-images.githubusercontent.com/12971179/27653251-6513833a-5bf3-11e7-8123-ce93bfd01718.png)

[2017-06-28 23:02] #2419 closed

[2017-06-29 00:59] rprouse commented on #1785
@GuardRex I guess I'd better get off my butt and release a beta then. The other place to track will be the https://github.com/nunit/nunit3-vs-adapter/releases, although you don't get notifications for those.

To be honest, except for the version, the documentation won't change. The code is very stable and I won't be changing much.

[2017-06-29 01:13] GuardRex commented on #1785
@rprouse Thanks for the link. I'll keep an eye on both.

:grinning: It's more of a fear of changes :ghost: than anything else. I think we just want to make sure we dedicate the time and don't get much churn between beta and release when that comes later. Alpha-TO-beta-TO-release ... that whole chain of possible changes is the scary part.

I can get to the outline and get that setup soon-ish. This

[2017-06-29 07:56] GuardRex opened #2520 "Fix table formatting"
See: https://github.com/dotnet/docs/pull/2384

[2017-06-29 10:08] gpuchtel commented on #2497
Hi Bill, thank you for taking your time to respond.

I (now) understand the copyright issue and will direct my comments appropriately.

From: Bill Wagner [mailto:notifications@github.com]
Sent: Monday, June 26, 2017 4:36 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Glenn Puchtel <gpuchtel@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Nested Types section is too

[2017-06-29 18:15] weshaggard commented on #762
@jkotas would probably be the best person to talk with on this subject but I don't think we really have any clear cut guidance for replacements in this space.

[2017-06-29 18:37] jkotas commented on #762
Remoting: Doc update tracked by https://github.com/dotnet/corefx/issues/18394. The issue has some discussion about the options.

Assembly isolation: AssemblyLoadContext is the replacement. Documentation in https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md. https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/#comment-7

[2017-06-29 23:18] danmosemsft opened #2524 "Documentation on `Marshal.GetLastWin32Error` should be updated."
@tannergooding commented on [Wed Jun 28 2017](https://github.com/dotnet/corefx/issues/21676)

The documentation currently makes no mention that this method will return `errno` on Unix/Mac (or the conditions, if any, under which it will return `errno` on Windows).

---

@tannergooding commented on [Wed Jun 28 2017](https://github.com/dotnet/corefx/issues/21676#issuecomment-311804272)

As an aside,

[2017-06-30 03:07] Shawn1874 opened #2526 "Visual Basic article about arrays contains incorrect examples."
# Issue Title

Visual Basic article about arrays contains incorrect examples.

# General

Incorrect example code needs to be replaced.

## Issues with Existing Topics
The article can be found at the following link.
https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/arrays/

**Within the section, Storing Values in an Array, the examples do not show arrays.**  T

[2017-06-30 03:21] GuardRex commented on #1931
Opened internally: TFS#: 1028877

[2017-06-30 03:23] GuardRex opened #2527 "Fix broken MSDN link in API topics"
Fix broken link to *Overriding the Finalize Method* MSDN topic

Replace `http://msdn.microsoft.com/en-us/8026cb68-fe93-43fc-96c1-c09ad7d64cd3` with `https://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3(v=vs.110)`.

[2017-06-30 03:35] svick commented on #2526
I think what happened is that some snippets from [the Collection Initializers article](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/collection-initializers/index) got written to the `arrays` directory, from which the Arrays article reads its snippets.

I think the fix would be to move the collection initializer snippets to the `collection-initializers` d

[2017-06-30 14:32] Shawn1874 commented on #2526
If you could go ahead and do it I would appreciate it.  I'm fairly new at contributing, and I've only recently started learning visual basic so I don't completely understand what you mean by a PR.  I think you mean pull request right?  Perhaps the related pull request I submitted can be rejected, and then you can fix all three examples under this issue.

[2017-06-30 15:59] tarekgh opened #2531 "Clarify the behavior of Encoding.Default in netcore"
On Windows desktop framework, Encoding.Default always get the system active code page and create Encoding object matching that code page. on net core Encoding.Default always return UTF8 encoding. it has been decided UTF8 is the default encoding that can be used in net core which will work across different OS's (Windows, Linux, OSX)

https://github.com/dotnet/corefx/issues/21701

cc @rpetrusha

[2017-06-30 18:21] GuardRex opened #2532 "Update Object.Finalize to include information from Overriding the Finalize Method"
Related to https://github.com/dotnet/docs/issues/2527.

The link to the *Overriding the Finalize Method* in API topics is broken (118 occurrances across 103 files).

[2017-06-30 18:22] GuardRex commented on #2527
Will be replaced by the work for https://github.com/dotnet/docs/issues/2532.

[2017-06-30 18:22] #2527 closed

[2017-06-30 19:17] svick commented on #2531
Related: https://github.com/dotnet/docs/issues/1837. It probably makes sense to fix both issues at the same time.

[2017-06-30 19:40] svick commented on #2526
Yeah, sorry, I did mean Pull Request. Sometimes it's hard for me to realize others don't know everything I do. 😄

I just created https://github.com/dotnet/docs/pull/2533. You can either close your PR yourself or wait until someone from Microsoft comes along and does it (I can't do it, because I'm a contributor just like you).

[2017-07-02 17:15] svick opened #2540 "Unbulleted lists"
I think there are several cases in docs that are semantically lists (possibly nested lists), but shouldn't be displayed as normal Markdown lists (with bullets), so their appearance is maintained manually (often using a generous helping of `&nbsp;`s).

These include:

* See also sections at the end of articles.
* Directory listings (e.g. [here](https://github.com/GuardRex/docs-1/blob/ea66eb3ffe9186

[2017-07-02 17:42] GuardRex commented on #2540
Truly so! :+1: :smile: I think it looks sooooo much better rendered this way under certain circumstances (i.e., *not* in a code block ... yuck!). Yes, as you say, non-breaking spaces aren't the proper way to achieve this rendering. Ugh ... we *hacked it!* lol

IMHO, it's a problem in spots.

* See also sections at the end of articles.

   We have a plan: No bullets and no line spaces between *See

[2017-07-02 18:56] svick opened #2541 "Enum fields show even for frameworks where they don't exist"
In .Net Core 1.0, the `Method​Impl​Options.​Synchronized` enum field does not exist (it does exist in .Net Core 2.0 and in .Net Framework). [The page for this field correctly shows this.](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.methodimploptions.synchronized?view=netcore-1.0)

But [the `Method​Impl​Options` enum page](https://docs.microsoft.com/en-us/dotnet/api/

[2017-07-03 18:17] #2526 closed

[2017-07-03 21:18] mairaw commented on #2462
Moving this to the backlog while engineering team tests builds that follow CommonMark spec and what that means to us.

[2017-07-03 22:22] #2519 closed

[2017-07-03 22:48] mairaw commented on #2426
The effect of this in some topics such as [Mapping Algorithm Names to Cryptography Classes](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/map-algorithm-names-to-cryptography-classes) is that you get a dropdown with these languages:
![image](https://user-images.githubusercontent.com/12971179/27809715-05ef902a-6007-11e7-845c-af8db7481468.png)

[2017-07-03 22:51] cartermp commented on #2426
We're missing F# globally (though I'm not sure if there are any samples in F#).  jsharp should definitely get removed 😄

[2017-07-04 00:30] richlander opened #2548 "GetHostEntry sample using wrong overload"
I noticed that the GetHostEntry overload for ipaddress uses the same sample as for the string sample.

See: https://msdn.microsoft.com/en-us/library/ms143997(v=vs.110).aspx

[2017-07-04 00:36] mairaw commented on #2426
We can add F# to the individual topics, but globally I wouldn't set F# except for the F# Guide.

[2017-07-04 23:49] svick opened #2551 "Missing words in Regex​Options.​Ignore​Pattern​Whitespace"
[The documentation for `Regex​Options.​Ignore​Pattern​Whitespace`](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regexoptions.ignorepatternwhitespace?view=netframework-4.7) says:

The second sentence seems to be missing some words (possibly links?) and I'm not sure what they should be. [The 110 version on MSDN](https://msdn.microsoft.com/en-us/library/system.text.regul

[2017-07-05 19:50] cartermp opened #2553 "Move Get Started out of Tutorials and up underneath Tour"
This is how it looks today:

<img width="268" alt="screen shot 2017-07-05 at 12 46 09 pm" src="https://user-images.githubusercontent.com/6309070/27882168-67c336d8-6180-11e7-9259-e959d91e8341.png">

It's not that discoverable.  It should be directly under the Tour.

[2017-07-05 19:51] cartermp opened #2554 "Write something other than links under Get Started index page"
It's currently serving no practical purpose other than linking to child content.  This should either:

* Contain more words about getting started with F#, possibly linking to Azure Notebooks and Azure Functions
* Be empty and  link directly to Get Started in VS

[2017-07-05 20:17] rpetrusha commented on #2551
Thanks for pointing this out, @svick. This was a result of content loss during our previous migration that went unreported. I'll open a PR to correct it.

[2017-07-05 20:25] #2144 closed

[2017-07-05 23:03] TheManii commented on #1760
I'm by no means an experienced programmer, but this is my issue with the current c# and net doc deficiencies: many recent language features and constructs don't have their minimum clr and library requirements clearly listed, and in the case of valuetuple, blends library and c# language together.

---------------------------------

# Library requirement issues:

The System.ValueTuple nuget package/

[2017-07-06 01:00] #2551 closed

[2017-07-06 01:32] #2520 closed

[2017-07-06 17:50] agocke commented on #1760
cc @jaredpar

Mapping out our exact library and runtime dependencies can be quite tricky. I'm not sure what plans we have for documentation here.

As for other hosted CLR languages, I can say we try to move C#, VB, and F# forward in API compatibility for features we expect to see commonly used. Powershell and other CLR languages do not typically get this treatment.

[2017-07-06 21:32] guardrex opened #2561 "[4.7/4.7.1/2.0] Update preprocessor symbols"
This covers an existing need for 4.7, but 4.7 with 4.7.1+2.0 can perhaps can be updated on the same pass.
[code]

e.g. ...

*docs/core/tutorials/libraries.md*
https://docs.microsoft.com/en-us/dotnet/core/tutorials/libraries#how-to-target-the-net-framework

[2017-07-07 00:17] GuardRex opened #2563 "Updates for Target Frameworks topic"
https://github.com/dotnet/docs/blob/master/docs/standard/frameworks.md
https://docs.microsoft.com/en-us/dotnet/standard/frameworks

* Remove platform language from introduction.
* Refactor *Referring to frameworks* section to only include the content for *Referring to a framework*.
* Revise the table in *Latest framework versions*: Change "Framework" to "Target Framework".
* Generally, refer to "t

[2017-07-07 04:49] justcurious opened #2564 "Incorrect info on struct member accessibility in Nested Types page"
## Issue with Existing Topic

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/nested-types states:

This implies that the following is supported:

[code]

But since structs are implicitly sealed, the compiler gives the error: **The modifier 'protected' is not valid for this item**.

Same of course applies for _protected internal_.

[2017-07-07 05:31] robrich opened #2565 "discover uninstalled template packs online"
`dotnet new --show-all` lists all the templates I've installed previously, but doesn't help me discover template packs I could install.  It doesn't even document the `-i` parameter to help me understand I could install templates.  What's a good way to discover template packs?  Perhaps we could add a cli command like `donet new --show-online` or similar.

[2017-07-07 11:21] svick commented on #2565
There is a Pull Request open that will add information about installing templates (https://github.com/dotnet/docs/pull/2495), including a link to [Available templates for dotnet new](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new). Since installing templates is new in .Net Core SDK 2.0, which hasn't been released yet, the current documentation does not contain that in

[2017-07-07 14:53] GuardRex commented on #2565
@robrich They included the `-all|--show-all` option in a group of ["hidden" arguments](https://github.com/dotnet/templating/blob/rel/vs2017/3-Preview3/src/Microsoft.TemplateEngine.Cli/CommandParsing/CommandParserSupport.cs#L133-L152); and on my first pass for the 2.0 updates, I left it in the topic. They setup the `-l|--list` option to list all of the templates installed on a system. I'm going to

[2017-07-07 17:40] #2465 closed

[2017-07-07 17:50] rpetrusha commented on #2564
Thanks for pointing this out, @justcurious. We'll revise the topic to correct the inaccuracy.

[2017-07-07 17:56] mairaw opened #2566 "XML IntelliSense in Visual Basic"
We got the following LiveFyre comment for the topic [XML IntelliSense in Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/xml/xml-intellisense):

This page should be removed. XML Intellisense did not work in Visual Studio 2015, and work to correct the problem was deferred. This very useful feature is still missing in Visual Studio 2017, and the

[2017-07-07 18:37] TheManii opened #2567 "The docs.microsoft.com markdown parser produces different output then the github parser"
# Issue
https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/compiler-options/langversion-compiler-option.md

has multiple commented out sections for future expansion, and the sections are correctly hidden when displayed on github, but one of the commented out sections are incorrectly displayed on docs.microsoft.com

https://docs.microsoft.com/en-us/dotnet/csharp/language-refe

[2017-07-07 19:26] #1981 closed

[2017-07-07 19:26] svick commented on #2567
Based on my local testing with docfx, this fixes it: https://github.com/dotnet/docs/pull/2568.

[2017-07-07 23:22] AnthonyDGreen commented on #2566
Are we documenting older versions of the product on the docs.microsoft.com site? Should we doc the 2015 feature?

[2017-07-07 23:35] #2567 closed

[2017-07-08 17:20] tdykstra opened #2574 ".NET Glossary"
Create a glossary of terms commonly used in .NET docs.  The goal is not to provide a comprehensive list, but to clarify meanings of words that have been misunderstood or cause confusion. A secondary purpose is to provide word use guidance for contributors to follow when editing existing docs or writing new ones.

See LiveFyre comments on [the Frameworks doc](https://docs.microsoft.com/en-us/dotnet

[2017-07-09 12:28] svick opened #2575 "Docs for FileStream constructors are confusing about accessing devices"
[The API reference for various constructors of `FileStream`](https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream.-ctor?view=netcore-2.0) contain these two paragraphs:

1. The .NET Framework does not support direct access to physical disks through paths that are device names, such as "\\.\PHYSICALDRIVE0 ".

2. Note
 `path` is not required to be a file stored on disk; it can be any part

[2017-07-09 16:48] GuardRex opened #2577 "Convert xml code idents to xaml"
`xaml` code idents are (apparently :smile:) supported now.

[2017-07-09 18:34] guardrex opened #2580 "Update links (remove en-us+update MSDN links)"
@mairaw I'll break these into batches on separate PRs:

- [x] Broken privacy link updates #2624 (merged)
- [x] Non-MSDN link updates #2625 (merged)
- [x] MSDN link updates
   * [ ] Convert the GUID-links #2632 (closed; merge conflicts; ran out of time to address them)
   * [x] Convert non-GUID links #2634 (in review)
- [x] Do the `azure.microsoft.com` ones, too! #2635 (merged)
- [ ] Convert absolu

[2017-07-10 15:08] BillWagner commented on #1445
I added the up-for-grabs label to this project. The work that remains is to migrate several small projects that were originally created using project.json style projects. The `dotnet migrate` command will likely work on all of them.  See the 'Notes' column in the linked project for more information.

[2017-07-10 19:03] #2492 closed

[2017-07-10 19:22] GuardRex opened #2582 "Split"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2017-07-10 19:23] #2582 closed

[2017-07-10 19:34] GuardRex opened #2583 "Split GetHostEntry(IPAddress) into its own sample"
Updates were made to accommodate the `GetHostEntry(IPAddress)` overload in the sample on https://github.com/dotnet/docs/pull/2550 so that the API ref would show a proper (method call) example for this overload and not the example for `GetHostEntry(String)` (hostname as `String`), which was JustWrong:tm:.

Updates were made to:
*samples/snippets/cpp/VS_Snippets_Remoting/System.Net.Dns/CPP/dnsnewmet

[2017-07-10 20:11] mairaw commented on #2575
@JeremyKuhne, @ianhays can you guys help with this one?

[2017-07-10 20:21] mairaw commented on #2554
This is for https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/getting-started/

[2017-07-10 20:30] JeremyKuhne commented on #2575
This one is a bit complicated. I discuss the various formats in one of my blog [posts](https://blogs.msdn.microsoft.com/jeremykuhne/2016/04/21/path-format-overview/). We _do_ allow device path syntax in [.NET 4.6.2 and above](https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/21/more-on-new-net-path-handling/) as well as .NET Core.

I'm fine with deleting the snippets mentioned. It might be good

[2017-07-10 20:34] mairaw commented on #303
Closing this issue. We cover most of this already between us and NuGet docs. For specific scenarios that we're missing, better to open a new issue.

[2017-07-10 20:34] #303 closed

[2017-07-10 20:39] mairaw commented on #999
@livarcocc is this still applicable with csproj?

[2017-07-10 20:42] mairaw commented on #1593
Link to a helpful SO question related to this compiler error: https://stackoverflow.com/questions/34456200/cs7003-unexpected-use-of-an-unbound-generic-name

[2017-07-10 20:44] mairaw commented on #1308
Keywords is no longer needed. Only Bing used to use this information. SEO team is not even sure is still used, so their recommendation is to not worry about this one.

[2017-07-10 20:44] #1308 closed

[2017-07-10 20:47] #1140 closed

[2017-07-10 20:58] mairaw commented on #971
Mono REPL would be a stop gap but we're going to wait until we have the final solution in place,

[2017-07-10 21:13] mairaw commented on #2565
documenting the -i flag is being tracked with issue #2405

@mlorbetske, @sayedihashimi can you comment on this request? should we just move to https://github.com/dotnet/templating/issues?

[2017-07-10 21:17] livarcocc commented on #999
Yes. In csproj you can have RuntimeIdentifier (for a single one) or RuntimeIdentifiers (when you have multiples):

https://github.com/dotnet/cli/blob/master/TestAssets/TestProjects/MSBuildTestApp/MSBuildTestApp.csproj#L7

[2017-07-10 22:41] GuardRex commented on #2468
I'll take this after 7/31. I like writing descriptions of things. I'm really REALLY good at it. :grinning:

[2017-07-10 23:00] #2261 closed

[2017-07-10 23:03] #2145 closed

[2017-07-10 23:16] GuardRex commented on #2468
Moving up on priority list: Will get to this soon!

[2017-07-11 01:55] terrajobst opened #2587 "Documentation for IncrementalHash is missing"
It looks like the docs for [IncrementalHash](https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-1.1&term=IncrementalHash) are all still just boilerplate. However, the type was already shipped in .NET Core 1.0.

[2017-07-11 03:22] mairaw commented on #2587
Yes, we don't have all .NET Core APIs documented yet. But the basic descriptions for this one should be coming soon.

[2017-07-11 09:14] justcurious opened #2589 "Description of code doesn't match code shown in Contructors.md"
## 2 Issues with an Existing Topic

**1) Bug:**

Above the second block of code in Constructor Syntax (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/constructors#constructor-syntax) it says

But the code sets the argument to the **locationName** field:

`public Location(string name) => locationName = name;`

So either the description needs to change or the co

[2017-07-11 13:51] svick commented on #2589
Do you want to create a Pull Request that makes these changes? If you need any help with that, feel free to ask.

[2017-07-11 14:11] #2087 closed

[2017-07-11 15:11] #2509 closed

[2017-07-11 15:33] #2577 closed

[2017-07-11 16:38] rpetrusha commented on #2589
@justcurious, the best alternative is to modify the description to replace the Name property with the locationName field. If you would like to open a PR, that would be good; if not, I'll be happy to do it.

[2017-07-11 17:00] #2548 closed

[2017-07-11 17:28] svick opened #2593 "Links not rendering correctly in Exceptions section"
In the Exceptions section for [`Activator.CreateInstance(Type)`](https://docs.microsoft.com/en-us/dotnet/api/system.activator.createinstance?view=netframework-4.7#System_Activator_CreateInstance_System_Type_), normal Markdown links aren't rendering properly:

![](https://user-images.githubusercontent.com/287848/28081104-75f17844-666e-11e7-9ab9-cda5f1a7ebba.png)

[The source code](https://github.co

[2017-07-11 17:34] svick commented on #1851
Another example of this: `string path = @"c:\temp\MyTest.txt";` in [snippet](https://github.com/dotnet/docs/blob/7341cfd/samples/snippets/csharp/VS_Snippets_CLR/StrmReader%20Peek/CS/strmreader%20peek.cs#L10) is [rendered as](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader.peek?view=netstandard-1.3#examples) `string path = @"c:    emp\MyTest.txt";`.

[2017-07-11 18:15] #2564 closed

[2017-07-11 18:18] #2479 closed

[2017-07-11 20:44] justcurious commented on #2589
Sure, I'll give the pull request a go

[2017-07-11 23:46] justcurious commented on #2589
I've attempted a pull request - https://github.com/justcurious/docs/tree/justcurious-Issue2589. Having not issued a PR before I'm completely unsure how that went.  I attempted it through the github website.

If you spot any problems, or have advice for future PRs to your helpful repo, any feedback is warmly received.

[2017-07-12 07:07] mairaw commented on #2593
Thanks @svick. We had noticed that and had already opened an internal bug to track this issue: 1028877

[2017-07-12 08:46] chucklu opened #2601 "How can I access the encoding of the DisplayName property in MailAddress"
Hi,
   The third constructor of [Mail​Address](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.mailaddress.-ctor?view=netframework-4.7), MailAddress(String, String, Encoding.

    The third parameter is, displayNameEncoding  Encoding
   The Encoding that defines the character set used for displayName.

But when  I have a instance of  Mail​Address, how can I get the encoding of the disp

[2017-07-12 13:47] #2553 closed

[2017-07-12 14:03] #2589 closed

[2017-07-12 21:27] shmuelie opened #2608 "Documentation on creating ETW events"
There is currently no documentation on using ETW in your own applications for logging, besides some random blog posts and the limited samples in class documentations.

ETW is great but with no documentation usage will suffer.

[2017-07-12 22:15] GuardRex commented on #2468
The count I have is 154 topics of exact matches. I suggest we have them re-run their analysis to get the 'confusingly similar titles to descriptions' after this pass of updates. There will be several PR's for this in blocks of 20 topics at a time.

[2017-07-12 23:54] mairaw commented on #2601
Hi @chucklu,

Giving your feedback here is fine. From what I can see, the displayNameEncoding is saved in a private variable, so there's no public property with that information.
What exactly are you trying to achieve?

/cc @davidsh, @CIPop, @Priya91

[2017-07-13 00:34] GuardRex opened #2613 "Move preprocessor symbols to an include"
Move preprocessor symbols to an include for ...

* *docs/core/tutorials/libraries.md*
* *docs/core/porting/libraries.md*

[2017-07-13 03:41] GuardRex commented on #2593
Duplicate of https://github.com/dotnet/docs/issues/1931

[2017-07-13 03:41] #2593 closed

[2017-07-13 10:29] chucklu commented on #2601
@mairaw
I can use Encoding.GetBytes method to get a byte array,then convert the byte array to hex string.
I can store the hex string in database,and decode the hex string to byte array.
Then I can use Encoding.GetString method to get the text.

[2017-07-13 13:17] #2417 closed

[2017-07-13 15:29] #2613 closed

[2017-07-13 15:42] GuardRex commented on #1931
@svick Since it doesn't look like the markdown parser is running in those spots, a workaround is to use ...

[code]

![capture](https://user-images.githubusercontent.com/1622880/28174650-b320c69e-67b7-11e7-88c9-a3695199f51a.PNG)

We're waiting for confirmation on whether or not that's a valid approach ... or just another **RexHack**:tm: :grinning:.

[2017-07-13 17:00] sayedihashimi commented on #2565
We don't have support to discover templates in the command line yet. I've created an issue to support this at https://github.com/dotnet/templating/issues/1084.

FYI for the time being, I have a nightly build that runs to search for templates on nuget.org. You can see the results at https://ci.appveyor.com/project/sayedihashimi/sayed-tools-w3a48.
I'd like to see if we can create a website around th

[2017-07-13 17:48] robrich commented on #2565
https://github.com/dotnet/templating/issues/1084 looks like the right place to continue the "discover template packs" discussion, and https://github.com/dotnet/docs/issues/2405 documents `-i`.  Closing this issue here.

[2017-07-13 17:48] #2565 closed

[2017-07-13 19:22] GuardRex commented on #1931
Thanks to [@]dend we have our answer. The correct way to set them up outside of content that's parsed as markdown is to use this format ...

[code]

I'll get 'um fixed up soon.

[2017-07-13 21:57] #2264 closed

[2017-07-13 21:59] #2349 closed

[2017-07-13 22:02] #2389 closed

[2017-07-14 12:28] svick opened #2623 "Resolution of DateTime.Now and UtcNow"
I think the documentation of resolution of `DateTime.Now` and `DateTime.UtcNow` could use some improvement.

Currently, [the docs for `DateTime.Now` say](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.now?view=netframework-4.7#remarks):

[Docs for `DateTime.UtcNow`](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.utcnow?view=netframework-4.7#remarks):

My thoughts:

* What

[2017-07-14 15:09] GuardRex commented on #2580
@mairaw I'll break these into three batches on three PRs:

- [ ] Broken privacy link updates in those feedback text sections (not the Third Party Notice)
- [ ] Non-MSDN link updates
- [ ] MSDN link updates
   * Convert the GUID-links to `library` links where possible
   * Swap-in OPS links when the MSDN link results in a redirect
   * Collect a list of 404 links (link, topic title, topic link, lin

[2017-07-14 15:56] BillWagner commented on #1760
My plan for the conceptual / overview document is to explain the relationship between the language, and the requirements for a Standard Library. (The Standard Library requirements are described in Appendix C of the ECMA C# spec. They aren’t published in the Microsoft spec).

The thesis of that topic is this:

The C# language requires a standard library to have certain types, and certain accessible

[2017-07-14 17:12] rpetrusha commented on #1374
This is documented at [Local Functions (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/local-functions).

[2017-07-14 17:12] #1374 closed

[2017-07-14 18:57] sldr opened #2629 "Add this to the System.Diagnostics.Eventing.Reader.EventLogInformation.Attributes documentation"
Please consider adding the following to the System.Diagnostics.Eventing.Reader.EventLogInformation.Attributes documentation.

`
EventLogInformation eli;
System.IO.File​Attributes fa = (System.IO.File​Attributes)Enum.ToObject(typeof(System.IO.File​Attributes), eli.Attributes.Value);
`

[2017-07-14 20:41] #2499 closed

[2017-07-14 22:17] svick commented on #2629
As far as I can tell by looking at [the Reference Source](http://referencesource.microsoft.com/#System.Core/System/Diagnostics/Eventing/Reader/EventLogInformation.cs,51) and [the documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/aa385536(v=vs.85).aspx), you're right that `EventLogInformation.Attributes` contains `File​Attributes`, even though it's typed as `int`.

But I don't

[2017-07-17 00:50] svick opened #2638 "What are reference assemblies?"
I was looking for documentation explaining what reference assemblies are and didn't find any on Google or on docs.MS search. Does this information exist and did I just fail to find it?

If it doesn't exist, should it? It's a fairly advanced topic and might be considered an implementation detail, but I think this information would still be useful. It could either be a section in an existing article

[2017-07-17 06:13] guardrex opened #2642 "Documenting .NET Core MSBuild targets and properties/CSPROJ"
This has been coming up more and more as we go. There have been numerous requests for help on Slack chat, several on SO, and a question on the Standup: https://youtu.be/c9Ub4uwjlbo?list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF&t=3677.

@mairaw mentioned to me on Slack that props and targets perhaps are best explained as part of a topic that addresses .NET Core-specific *csproj* generally ... not so much

[2017-07-17 15:26] BillWagner opened #2644 "Publish the VB language spec on docs.microsoft.com"
We learned how to make this work using the C# draft spec for C# 6. The VB Language spec, version 11, is published in markdown format here: https://github.com/dotnet/vblang/tree/master/spec

We should add it to docs the same way.

/cc @AnthonyDGreen

[2017-07-17 16:24] richlander opened #2645 "Add topic on runtimeconfig.json"
# Add topic on runtimeconfig.json

I couldn't find any topics on the file format and the set of options that you can configure with it.

[2017-07-17 17:40] BillWagner commented on #2642
Related to this topic we should provide guidance for how to configure client side builds (npm, grunt, gulp tasks) for CI builds.

[2017-07-17 17:42] mairaw commented on #2638
@weshaggard @terrajobst any thoughts on this?

[2017-07-17 17:43] weshaggard commented on #2638
Closest thing we have is https://github.com/dotnet/standard/blob/master/docs/history/evolution-of-design-time-assemblies.md. @svick is there more information you would like to see about reference assemblies in that doc?

[2017-07-17 17:46] mairaw commented on #2629
We agree with the suggestion to add this considering @svick's comments that it should consider the Nullable case. Putting in our backlog for now, but we'll gladly accept a PR.

[2017-07-17 17:48] mairaw commented on #2623
@karelz do you know who own System.DateTime?

[2017-07-17 17:51] mairaw commented on #2608
I'll try to find the area owner here. @karelz can you help?

[2017-07-17 18:14] mairaw commented on #2192
@GuardRex is this one completely done?

[2017-07-17 18:17] mairaw commented on #2583
@GuardRex did we finish this one?

[2017-07-17 18:21] BillWagner commented on #325
@cartermp Can this be closed at this time?  If not, can you make a new issue for which tasks remain on this work in the `csproj` based tools, and then close this one?

[2017-07-17 18:23] GuardRex commented on #2192
It's *not* done. There are several that I didn't reach before getting into other higher priority issues. JSON, XML, PowerShell are the only ones I was able to address thus far. The complete list goes something like this ...

[This is from my (failed :cry:) attempt to (quickly) use Azure ML to solve it. I couldn't make a strong enough model from the docs data to pull it off (although there are othe

[2017-07-17 18:24] GuardRex commented on #2583
@mairaw No, @rpetrusha said to assign it to him if I didn't have time to get it done by 7/31. I was going to wait until next week to see where we're at before pulling the trigger on that.

[2017-07-17 18:25] GuardRex commented on #2583
@mairaw U saw ur E-mail, right? I list all of these in an update message that I sent last night.

[2017-07-17 18:28] mairaw commented on #561
closing this one now.

[2017-07-17 18:28] #561 closed

[2017-07-17 20:30] #2134 closed

[2017-07-17 20:54] svick commented on #2638
@weshaggard Thanks. That's actually more in-depth on theory than what I was expecting. I think some more practical information could be useful (like mentioning the `Program Files (x86)\Reference Assemblies` directory or the `ref` directory in NuGet packages), but my main issue is that I think the information should be part of docs.MS and not hidden in a relatively obscure repo.

[2017-07-17 22:00] BillWagner opened #2648 "Update C# Docker Tutorial"
This doc is quite out of date: https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/microservices

The yeoman generators are out of date, the docker images are out of date, and the commands are out of date.

[2017-07-17 22:43] Daniel15 opened #2650 ""Ref returns and ref locals" page has a bunch of junk at the top of the page"
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/ref-returns

See at the top of the page:
![](http://ss.dan.cx/2017/07/chrome_17-15.42.47.png)

@BillWagner @rpetrusha

[2017-07-17 22:58] rpetrusha commented on #2650
Thanks for letting us know, @Daniel15. I'll submit a PR to fix it.

[2017-07-17 23:10] JRAlexander opened #2652 "Revise Building Docker Images for .NET Core Applications Topic"
# Revise Building Docker Images for .NET Core Applications Topic

This page needs to be revised: [Building .NET docker Images](https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images)

This will take the place of Issue #2035 - Update .NET Core Docker Doc

## Needed Revisions
- [x] Move to the .NET Guide in the Table of Contents
- [x] Change Title to "Introduction to

[2017-07-17 23:11] karelz commented on #2608
@vancem @brianrob you already have some docs ... can you point @mairaw to them, so that she can turn them into official docs?

[2017-07-17 23:12] karelz commented on #2623
I think it is part of System.Runtime - so @AlexGhiondea @joperezr should be able to help (BTW: see [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas))

[2017-07-17 23:29] vancem commented on #2608
I have a bunch of blogs on this

https://blogs.msdn.microsoft.com/vancem/tag/eventsource/page/2/

The most useful one for getting started is

https://blogs.msdn.microsoft.com/vancem/2012/07/09/introduction-tutorial-logging-etw-events-in-c-system-diagnostics-tracing-eventsource/

[2017-07-18 00:24] BillWagner commented on #2608
@SamuelEnglard Are those blogs helpful? :point_up:  Would moving that to docs address your concern?

[2017-07-18 01:00] guardrex opened #2655 "Investigate MSDN links that don't redirect to docs.microsoft.com"
Per https://github.com/dotnet/docs/pull/2634#discussion_r127855854 ...

Link https://msdn.microsoft.com/library/ms256124(v=vs.100).aspx was updated to https://msdn.microsoft.com/library/ms256124(v=vs.110).aspx based on a script load and the canonical URL on https://github.com/dotnet/docs/pull/2634, but these should redirect. This issue is opened to investigate.

[2017-07-18 01:17] BillWagner commented on #287
@mairaw @cartermp I propose we close this, as we've organized the topics discussed above in a different fashion.

Can you vote with a :+1: or :-1: ?

[2017-07-18 01:18] BillWagner commented on #288
@mairaw @cartermp I propose closing this.  Can you respond with your vote?

[2017-07-18 01:20] BillWagner commented on #306
I propose closing this as well. We do link to the NuGet docs, and we have written a topic to address #293

@mairaw @cartermp can you vote on that?

[2017-07-18 01:23] BillWagner commented on #322
Closing this, as it was addressed in PR #391

[2017-07-18 01:23] #322 closed

[2017-07-18 01:24] BillWagner commented on #439
I think we can close this, based on our new CI build system.

@cartermp @mairaw Can you vote on this?

[2017-07-18 01:27] BillWagner commented on #485
Closing.  This is covered in "A Tour of C#"

[2017-07-18 01:27] #485 closed

[2017-07-18 01:29] BillWagner commented on #490
Closing, as all the LINQ content from MSDN has been migrated.

[2017-07-18 01:29] #490 closed

[2017-07-18 01:38] BillWagner commented on #610
Closing this. It's covered here: https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility

[2017-07-18 01:38] #610 closed

[2017-07-18 01:40] BillWagner commented on #772
I think we've addressed these in our current API docs work.

I propose we close this.  @richlander @mairaw Can you vote on this proposal?

[2017-07-18 01:42] BillWagner commented on #781
This was addressed in PR #1064

[2017-07-18 01:42] #781 closed

[2017-07-18 01:50] BillWagner commented on #1110
We've moved significantly toward sub-TOCs.  Closing this.

[2017-07-18 01:50] #1110 closed

[2017-07-18 04:09] GuardRex commented on #1931
@mairaw The script is coming along well with `md` and `http` links, but there are two link types that require a solution.

Some of the links outside of markdown remarks are `~/includes` links and some are `~/samples` links. I'll show one example of each below, but **there are 497 of these!** *Geebers McScreebers!*

### There are 299 includes links to fix

Example: *xml\Microsoft.VisualBasic.Compat

[2017-07-18 04:54] mairaw commented on #2580
Make sure you keep links inside the microservices book absolute.

[2017-07-18 05:32] GuardRex commented on #1931
Blocking until Steps 1-5 on https://github.com/dotnet/docs/issues/2580 are merged.

[2017-07-18 12:41] SamuelEnglard commented on #2608
The document @vancem attached in https://blogs.msdn.microsoft.com/vancem/2012/07/09/the-specification-for-the-system-diagnostics-tracing-eventsource-class/ was extremely helpful! But overall I think so.

[2017-07-18 15:35] SamuelEnglard opened #2663 "C# Language Specification Header"
![image](https://user-images.githubusercontent.com/1119883/28325884-18bdb360-6bad-11e7-87f1-6a6b501c1384.png)

I find that the TOC header (blue) and the page header (red) are different confusing/jarring.

[2017-07-18 16:35] guardrex opened #2664 "Knock one space off of non-bullet link lists"
Per https://github.com/dotnet/docs/pull/2662 ...

@svick has shown us that two spaces at the ends of lines on non-bullet lists will result in line breaks. We've been using three. This is a candidate for a script to run thru the repo and fix all of them in one shot.

[2017-07-18 18:40] mairaw opened #2668 "Review APIs with System.MonoTODO attribute"
MONO .NET APIs might be decorated with the System.MonoTODO attribute. In some cases, it could be useful to add the information from that attribute into some sort of "platform availability notes" section to call out differences between .NET implementations.

[2017-07-18 18:46] #2650 closed

[2017-07-18 19:04] #2663 closed

[2017-07-18 20:10] BillWagner commented on #287
Closing based on discussion.

[2017-07-18 20:10] #287 closed

[2017-07-18 20:16] BillWagner commented on #831
@richlander This has aged for some time.  It is still relevant? Can you address @mairaw 's comment above?

[2017-07-18 20:17] BillWagner commented on #835
I propose we close this as no longer relevant with the csproj tooling.

Please vote 👍 or :-1:

[2017-07-18 20:21] BillWagner commented on #933
I'm closing this after checking the links referenced above. Those, and a sampling of others all seem to be fixed at this point.

[2017-07-18 20:21] #933 closed

[2017-07-18 20:24] BillWagner commented on #960
@richlander @rowanmiller Can you confirm this is fixed? I looked at the page for the Ubuntu instructions, and it appears fixed.

[2017-07-18 20:27] BillWagner commented on #1059
@mairaw Can you check the internal issue to see if it's fixed?

[2017-07-18 20:29] BillWagner commented on #1063
@Mairaw can you check the internal issue to see if this is fixed?

[2017-07-18 20:31] cartermp commented on #835
Oh yeah, we're closing this.

[2017-07-18 20:31] #835 closed

[2017-07-18 20:39] BillWagner commented on #1175
@cartermp I looked at this today, and I think you can close it. Do you want to verify?

[2017-07-18 20:39] guardrex opened #2670 "Modernize and update "Get started with the .NET Framework" topic"
Per discussion in https://github.com/dotnet/docs/pull/2233 ...

*Get started with the .NET Framework* at *docs/framework/get-started/index.md*
https://github.com/dotnet/docs/blob/master/docs/framework/get-started/index.md
https://docs.microsoft.com/en-us/dotnet/framework/get-started/

[2017-07-18 20:45] BillWagner commented on #1498
@mairaw Can this be closed?  Is it covered in VS Docs? /cc @TerryGLee

[2017-07-18 20:47] BillWagner commented on #2644
Closing as a duplicate of #1562

[2017-07-18 20:47] #2644 closed

[2017-07-18 20:49] BillWagner commented on #1563
Fixed in #2463

[2017-07-18 20:49] #1563 closed

[2017-07-18 20:52] svick commented on #1175
I think this still doesn't work well:

![](https://user-images.githubusercontent.com/287848/28339084-3b1ed7be-6c0b-11e7-8f70-cb050dbb990a.png)

There doesn't seem to be any way to access the content that's too wide.

[2017-07-18 21:01] BillWagner commented on #1823
Closing as this has now been fixed.

[2017-07-18 21:01] #1823 closed

[2017-07-18 21:08] BillWagner commented on #1887
@svick I tested this today, and it appears fixed.  Can you verify and close if you agree?

[2017-07-18 21:22] BillWagner commented on #2038
I think this is now fixed.  Can you verify and close?

[2017-07-18 21:26] TerryGLee commented on #1498
We have this page:
https://docs.microsoft.com/en-us/visualstudio/porting/port-migrate-and-upgrade-visual-studio-projects
If this doesn't cover the initial request, please add @KraigB to the conversation.

[2017-07-18 21:27] BillWagner commented on #2386
@svick I tried this today, and it appears to be fixed.  Can you verify and close if so.

[2017-07-18 21:30] BillWagner commented on #2580
Is this and #2037 duplicates?

[2017-07-18 21:48] GuardRex commented on #2580
@BillWagner These updates started with merely the goal of dropping `en-us` from links, then this was expanded to get rid of GUID-based MSDN links [either in favor of library-based MSDN links or OPS links (if the MSDN page redirects to an OPS topic)], update some privacy links, and fix some absolute links.

I think #2037 covers dealing more thoroughly with the entire MSDN and fwlink situation, and

[2017-07-19 01:40] mairaw commented on #1498
The request is about the following new option in VS to manually edit csproj files when you right click on your project:
![image](https://user-images.githubusercontent.com/12971179/28346867-87952896-6be8-11e7-9eea-95b14d5bbaf7.png)

I don't know if it only shows up for ,NET Core projects.

[2017-07-19 01:43] mairaw commented on #1498
I'd imagine we'd want to mention that in this topic perhaps: https://docs.microsoft.com/en-us/visualstudio/ide/managing-project-and-solution-properties?

/cc @TerryGLee @kraigb

[2017-07-19 15:41] GuardRex opened #2682 "Update links for a renamed topic"
Per https://github.com/dotnet/docs/pull/2660 ...

Update links from ...

*docs/framework/wpf/controls/datepicker-syles-and-templates.md*
to
*docs/framework/wpf/controls/datepicker-styles-and-templates.md*

We should also re-alphabetize the redirect file. I think @tompratt-AQ did a cool number on that, and the file is starting to get messy again.

[2017-07-19 15:44] #2255 closed

[2017-07-19 16:36] BillWagner commented on #2411
The content is live.  Closing this project and this issue.

[2017-07-19 16:36] #2411 closed

[2017-07-19 17:13] JRAlexander opened #2683 "[NewTopic] Learn Docker Basics with .NET Core"
# [NewTopic] Learn Docker Basics with .NET Core
1. Table of Contents.
  .NET Core Guide -> Docker
2. Abstract
  Learn about Docker basic commands using .NET Core. This doc should be OS agnostic.
3. Outline
- [x] Introduction
  - [x] .NET Core: easiest way to get started.
  - [x]  Briefly mention windows and linux. Link to [announcement](https://github.com/dotnet/announcements/issues/14) for more m

[2017-07-19 18:09] richlander commented on #844
Few things have changed since I created this issue:

* OpenSSL is only required for 1.x not 2.x. See: https://github.com/dotnet/announcements/issues/21.
* We've moved to a generic Linux distribution model, but dependencies are still distro-specific.
* We should focus on dependencies and less on IDE vs. CLI vs. text editor.

[2017-07-19 18:38] tdykstra opened #2684 "Update .NET Standard intro for .NET 5"
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

- [ ] Apply current guidance for terminology use
- [ ] PCLs are deprecated - remove PCL compatibility section
- [ ] Incorporate relevant information from What's new in .NET Standard 2.0 article and retire that article
- [ ] Incorporate relevant information from [.NET Standard in .NET 5 blog](https://devblogs.microsoft.com/dotnet/the-fu

[2017-07-19 18:42] tdykstra opened #2685 "Update .NET Architectural Components for .NET 5"
https://docs.microsoft.com/en-us/dotnet/standard/components

The Introduction to .NET in the Fundamentals TOC introduces .NET 5 as the main implementation of .NET going forward and will only briefly mention other implementations of .NET. This article will be the link target for "more information" about other implementations of .NET.

[2017-07-19 20:38] mairaw opened #2687 "[Project] .NET Core 2.0 and .NET Standard 2.0 releases"
This is a meta-issue for the [.NET Core 2.0](https://github.com/dotnet/docs/projects/17) project.

Comment below to suggest new content, or updates to existing content.

Scenarios:
- [ ] How to migrate from PCL to .NET Standard #2698
- [ ] How to migrate from .NET Framework to .NET Standard libraries #2699
- [ ] Create a path for Get Started with .NET Core #2700
- ~~Get Started C# topics showing n

[2017-07-20 05:08] #1498 closed

[2017-07-20 15:36] BillWagner commented on #1846
@rpetrusha I moved this to the July milestone. I can update the referenced pages. Let me know if that's already in progress for you, or if I should do this one.

[2017-07-20 16:43] weshaggard commented on #2638
I agree it might be worth a conceptional document on the official docs site.

[2017-07-20 16:57] JRAlexander opened #2692 "[New Topic] Develop and Debug with Docker in Visual Studio"
# [New Topic] Develop and Debug with Docker in Visual Studio

1. Table of Contents Location

   - TBD

2. Abstract
   Learn how to debug with Docker in Visual Studio.

3. Outline
    - [ ] Have Docker 4 windows installed
    - [ ] Screenshots of VS file new project.
    - [ ] Note that currently Adding Docker support only works if there are no Docker artifacts already in your project.

4. Reviewer

[2017-07-20 17:09] JRAlexander opened #2693 "[NewTopic] Run an ASP.NET Core app in a Docker container"
# [NewTopic] Run an ASP.NET Core app in a Docker container
1. Table of Contents.
   * TBD
2. Abstract
    Get started with ASP.NET Core apps in Docker.
3. Outline
 -[ ] Either CLI or VS oriented. Maybe docs for both?

[2017-07-20 18:15] terrajobst commented on #2638
Hey @svick, you might find [my video on reference assemblies](https://www.youtube.com/watch?v=EBpY1UMHDY8) helpful in that regard. If that's true, we've something concrete we could incorporate in our docs.

[2017-07-20 20:58] rpetrusha commented on #1846
@BillWagner, it's not in progress, though I think that I still can get it done in time.

[2017-07-20 21:45] #2682 closed

[2017-07-21 00:32] GuardRex commented on #945
@BillWagner I'm going to take these off my issues list headed here into the final week. It's a little easier for me to see when filtering GH issues what's left if these aren't assigned to me.

[2017-07-21 00:35] GuardRex commented on #1785
@mairaw Working this is going to post-date my tenure on the team, so I'm un-assigning it. Do u want to re-assign?

[2017-07-21 00:37] GuardRex commented on #1800
@mairaw They still haven't started work on the revised syntax for the switch; therefore, I suspect this is going to run out past next week. Do u want to re-assign?

[2017-07-21 00:39] GuardRex commented on #1939
@mairaw @BillWagner This one has run out beyond 7/31. Do u want to re-assign?

[2017-07-21 00:41] GuardRex commented on #2156
@mairaw This one pertaining to indentation in snippets won't make the cut for 7/31. Do u want to re-assign?

[2017-07-21 00:43] GuardRex commented on #2192
@mairaw Another one that there's no way for me to finish by 7/31. I started the ball rolling, but there's an unknown large number of code blocks without lang idents on them that require attention down the road. Do u want to re-assign?

[2017-07-21 00:56] svick commented on #2638
@terrajobst Yeah, I think that's a good complement to the dotnet/standard document.

[2017-07-21 01:00] tannergooding commented on #2638
@terrajobst, does your video also cover the C# 7.1 reference assembly feature (https://github.com/dotnet/roslyn/blob/master/docs/features/refout.md)?

[2017-07-21 01:23] GuardRex commented on #2563
@guardrex test

[2017-07-21 02:35] BillWagner opened #2696 "Update Prerequisites for .NET Core on Windows"
The prerequisites include for .NET Core on Windows needs to be updated to reflect changes (and removed prereqs) for .NET Core 2.0

[2017-07-21 02:38] BillWagner opened #2697 "[Scenario] How to migrate projects to the new version"
This scenario would help customers who have .NET Core 1.x libraries move them to .NET Core 2.x.

[2017-07-21 02:40] BillWagner opened #2698 "[Scenario] How to migrate from PCL to .NET Standard"
This scenario will address how to move assets from PCLs to libraries that depend on .NET Standard 2.x.  This scenario will be important to help customers that have invested in .NET PCLs to leverage the greater breadth available on .NET Standard.

[2017-07-21 02:45] BillWagner opened #2699 "[Scenario] How to migrate from .NET Framework to .NET Standard"
This scenario will explain the general steps involved to migrate a library that currently depends on the .NET Framework to a library that relies only on .NET Standard.

This would enable greater adoption of the customer's library because it can be used in many more ways.

[2017-07-21 02:47] BillWagner opened #2700 "[Scenario] Create a get started path with .NET Core"
This scenario will provide the first steps for someone new to .NET Core. It will assume no previous exposure to .NET, and will conclude with a working application. It should take most users less than 15 minutes to complete the scenario.

[2017-07-21 02:50] BillWagner opened #2701 "[Scenario] Get Started C# topic for 7.1"
C# 7.1 adds refinements to a number of features added in C# 7.0

This scenario will explain to developers how to incorporate those features into their regular work.

[2017-07-21 02:51] BillWagner opened #2702 "[Scenario] Moving projects to Docker"
This scenario will explain to developers how to migrate their existing projects to Docker containers.

[2017-07-21 03:07] JonHanna commented on #1939
I think so. There's sometimes a reasonable reason to not have total order in a comparer, after all, but a method that needs it, and doesn't get it, is where bad things can happen to good people. The `Sort` methods on lists and arrays, and Linq's `OrderBy` method and its cousins are all methods that need it. Linq's `Min` and `Max` overloads that take a comparer can also give confusing results witho

[2017-07-21 14:33] BillWagner opened #2703 "C# Lambda operator (=>) should be updated for expression bodied members"
This page: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/lambda-operator does not describe the lambda operator's use in expression bodied members.  That should be added.

[2017-07-21 15:29] svick opened #2704 "Document which SocketType is required for each ProtocolType"
[The documentation for the `Socket` constructor](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.-ctor?view=netframework-4.7#System_Net_Sockets_Socket__ctor_System_Net_Sockets_AddressFamily_System_Net_Sockets_SocketType_System_Net_Sockets_ProtocolType_) says:

It doesn't explain how to find out which combination of the three parameters work together, except for "try it and se

[2017-07-21 17:56] #2488 closed

[2017-07-21 19:19] guardrex opened #2705 "Update telemetry topic"
https://blogs.msdn.microsoft.com/dotnet/2017/07/21/what-weve-learned-from-net-core-sdk-telemetry/

@mairaw I should be able to knock this out quickly: ~The main thing is to surface the blog post and check the topic's content for accuracy.~ ok ok ... well ... we knew that wasn't going to last long. lol :grinning:

[2017-07-22 12:13] #1562 closed

[2017-07-22 21:33] svick commented on #1887
Yeah, this indeed seems to be fixed, closing.

[2017-07-22 21:33] #1887 closed

[2017-07-22 21:35] svick commented on #2386
Yeah, this seems to be fixed, closing.

[2017-07-22 21:35] #2386 closed

[2017-07-23 00:01] GuardRex opened #2709 "Remove custom CSS from topics"
Two topics contain custom CSS. I was told ages ago that custom CSS was a guidelines issue; but whatever the case with that, it doesn't really matter because the custom CSS is removed on build and thus ineffective.

*docs\csharp\delegates-events.md*
*docs\csharp\expression-trees.md*

[2017-07-23 15:58] BillWagner commented on #1561
Closing this as the subtasks are now done. Thanks to @ljw1004 and @scottdorman for all the work to make this happen.

[2017-07-23 15:58] #1561 closed

[2017-07-23 16:17] BillWagner opened #2712 "[Scenario] Add tutorial to show how to consume .NET Standard libraries with .NET Framework projects, for example"
Developers that build libraries and applications that use the .NET Framework will take dependencies on libraries that are part of .NET Standard, or rely only on the .NET Standard.

This tutorial will show how to add those libraries as dependencies, what it adds in csproj files, and what it means for build processes.

[2017-07-23 16:27] BillWagner opened #2713 "[Scenario] Unit testing for .NET Core/.NET Standard"
Our tutorials show the basics of unit testing in .Net core projects and .NET standard projects.

We need to update those for .NET Standard 2.0.

One concern that we must handle is how testing a library whose only dependencies are .NET Standard libraries. Developers of these libraries will need to know how to manage CI builds and test environments that cover all the environments that are supported

[2017-07-23 16:31] BillWagner opened #2714 "[Scenario] CI/CD flow (VSTS) and community contributions for appveyor"
This is related to #2713

This scenario will show how to configure and run CI builds and test runs in a variety of supported environments that are supported by .NET Standard.

These CI environments will be needed to ensure confidence in different environments for libraries whose only dependency is .NET Standard.

[2017-07-23 16:39] BillWagner opened #2715 "[Scenario] Show how to develop using different tools in different operating systems in a flow"
.NET Core does not force tools or environments on developers. This scenario should show how easy it is to flow between different OSes and tools.  It should include discussions on round-tripping assets and processes.

[2017-07-23 16:41] BillWagner opened #2716 "[Scenario] Deploying ASP.NET Core apps into Azure web apps"
This shows how to deploy ASP.NET Core apps (which run as console applications) int Azure as web apps.

Note:  This scenario is probably on the ASP.NET side but docs should add links to this.

/cc @Rick-Anderson

[2017-07-23 16:42] BillWagner opened #2717 "[Scenario] Deploying .NET Core console apps into Azure web jobs (for batch jobs)"
This scenario will shows developers how to build a .NET Core console application, and deploy it in Azure as a web job.

[2017-07-23 16:47] BillWagner opened #2718 "[Scenario] Secrets management"
.NET Core applications will need to manage secrets in several environments:

1. Development environments.
1. Testing environments.
1. On premise deployments.
1. Azure deployments.
1. Docker / container deployments.

This should provide pointers and guidance on how to manage deployments for each of these scenarios.

Note: Some of this guidance may exist for web applications.

[2017-07-23 16:54] BillWagner opened #2719 "[Feature] Add Prerequisites for .NET Core on Linux"
We have prerequisites detailed for Mac developers and Windows developers. We don't have the same information for developers working on Linux.

[2017-07-23 16:55] BillWagner opened #2720 "[Feature] Add VB support and samples as appropriate"
.NET Core 2.0 adds support for VB developers.

We should update tutorials and samples, and add new samples that speak to VB developers.

[2017-07-23 16:56] BillWagner commented on #2720
@AnthonyDGreen If you have scenarios in mind that we should cover, let us know.

[2017-07-23 17:32] Rick-Anderson commented on #2716
@tdykstra  should "deploy and ASP.NET Core app to Azure" go in docs.microsoft.com/aspnet or docs.microsoft.com/azure/ ? Should probably go in the Azure repo.

[2017-07-23 17:43] BillWagner opened #2721 "[Feature] Update the .NET Core CLI commands"
We will have updated options and commands for 2.0

These need to be updated.

[2017-07-23 17:46] BillWagner opened #2722 "[Feature] Update topics that are using explicit dotnet restore"
Many (maybe all?) of our .NET Core tutorials tell users to explicitly run `dotnet restore`. That's no longer necessary. `dotnet restore` will be run implicitly on `dotnet build` or `dotnet run`.

All our tutorials and samples need to be updated to reflect this change.

Note that this will include the tutorials in the C# Guide, and the F# Guide.

[2017-07-23 17:48] BillWagner opened #2723 "[Feature] Revisit version numbers and code snippets showing TFMs"
Many of our samples and code snippets show Target Framework Monikers (TFMs). These need to be updated to the 2.0+ stream of libraries and frameworks.

For example: https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-with-xplat-cli

edit by mairaw: added example

[2017-07-23 17:51] BillWagner opened #2724 "[Feature] Add guidance to use .NET Standard instead of PCL"
PCLs are less important now that .NET Standard 2.0 is coming.

We need to update our guidance to recommend .NET Standard - based libraries instead of creating PCLs.

[2017-07-23 17:56] BillWagner opened #2725 "[Feature] Document the new `dotnet store` command"
The CLI added the dotnet-store command. This must document the command, and its options.

[2017-07-23 18:00] BillWagner opened #2726 "[Feature] Metapackages only apply to .NET Core 1.x"
The metapackages dependencies will only be used for .NET Core 1.x. Tutorials and samples and all guidance should be updated for the new .NET Standard dependencies instead of metapackages.

Capturing all the files the term "metapackage" currently resided in:

- .\docs\core\packages.md
- .\docs\core\toc.yml
- .\docs\core\deploying\index.md
- .\docs\core\porting\libraries.md
- .\docs\core\project-sdk

[2017-07-23 18:03] BillWagner opened #2727 "[Feature] package resolution (1.x to 2.x dependencies)"
This topic will help developers that have invested in .NET Core 1.x update their projects and dependencies to the .NET Core / .NET Standard 2.x dependencies.

[2017-07-23 18:05] BillWagner opened #2728 "[Feature] .NET Framework compatibility"
This topic will address how to work with .NET standard and .NET core for the best compatibility with .NET Framework applications.

[2017-07-23 18:07] BillWagner opened #2729 "[Feature] assembly loading in .NET Standard and .NET Core"
This topic will address how to manage assembly loading scenarios in .NET Standard and .NET Core libraries and applications.

----

Core 3.0 uses the Standard 2.0 [System.Reflection.MetadataLoadContext](https://www.nuget.org/packages/System.Reflection.MetadataLoadContext/) NuGet package to cover reflection-only assembly loading that .NET Framework had. This too should be covered

----

.NET Framewo

[2017-07-23 18:08] BillWagner opened #2730 "[Feature] API Changes"
We need to examine the list of API changes for .NET Core 2.0 and ensure the imported XML has been updated for any new features and changes.

[2017-07-23 18:09] BillWagner opened #2731 "What's new in .NET Core 2.0"
We need a topic in the .NET Core guide that details what's new in the 2.0 release of .NET Core.

[2017-07-23 18:11] BillWagner opened #2732 "Migration Guidance for .NET Core 1.x to .NET Core 2.0"
Developers that have invested in .NET Core 1.x will need guidance for what they must do to update their libraries and applications to .NET Core 2.0.

This topic will explain those steps, following the pattern for .NET Framework migrations.

[2017-07-24 14:35] GuardRex commented on #2721
@BillWagner @mairaw Work for this is on the following PR's:

https://github.com/dotnet/docs/pull/2480
https://github.com/dotnet/docs/pull/2496
https://github.com/dotnet/docs/pull/2495

Do u want me to add "Fixes" to any or all of those for this issue?

[2017-07-24 14:37] GuardRex commented on #2725
@BillWagner @mairaw Work for this one is on https://github.com/dotnet/docs/pull/2496

[2017-07-24 15:16] #2532 closed

[2017-07-24 17:48] GuardRex opened #2738 "Aggregate Canonical Functions topic requires attention"
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/language-reference/aggregate-canonical-functions
*docs/framework/data/adonet/ef/language-reference/aggregate-canonical-functions.md*

The topic requires attention with inline code, and table rendering is broken.

[2017-07-24 18:06] GuardRex commented on #2738
Lemme see if I can squeeeeeze this one in there.

[2017-07-24 18:08] GuardRex opened #2739 "Check/fix netfx framework tools topics"
https://docs.microsoft.com/en-us/dotnet/framework/tools/al-exe-assembly-linker
*docs/framework/tools/al-exe-assembly-linker.md*

Check inline code bits, consistency, and fix a bad character point inside a code ref.

https://docs.microsoft.com/en-us/dotnet/framework/tools/ildasm-exe-il-disassembler
*docs/framework/tools/ildasm-exe-il-disassembler.md*

Same thing ... and look at consistency between

[2017-07-24 18:25] tdykstra commented on #2716
@Rick-Anderson /azure seems more appropriate

[2017-07-24 21:18] #2709 closed

[2017-07-24 22:25] rprouse commented on #1785
@GuardRex we have released the 3.8 version of the NUnit adapter. It is no longer pre-release.

[2017-07-24 22:32] GuardRex commented on #1785
@rprouse :tada: 🎈 :beers: Excellent news! This work will post-date my tenure with the docs team, hence my un-assignment. The least I can do tho is get it off of "blocked" status. This is a priority issue, so they'll get someone on it asap. Thanks for letting us know! ... and congrats on the latest release! The community speaks *very highly* of NUnit.

[2017-07-25 19:53] #2355 closed

[2017-07-25 21:00] #2461 closed

[2017-07-25 21:12] #1770 closed

[2017-07-25 21:18] #2738 closed

[2017-07-25 21:29] GuardRex opened #2751 "Should the Target Frameworks topic be moved to Core?"
Per @tdykstra ...

https://github.com/dotnet/docs/pull/2592#pullrequestreview-50960863

https://docs.microsoft.com/en-us/dotnet/standard/frameworks
*docs/standard/frameworks.md*

cc/ @mairaw @richlander

[2017-07-25 21:31] #2563 closed

[2017-07-26 17:59] #2739 closed

[2017-07-27 18:06] merriemcgaw opened #2764 "High DPI support in Windows Forms page is incorrect for pre-4.7 applications"
# Issue Title

High DPI support in Windows Forms page is incorrect for pre-4.7 applications

## Issues with Existing Topics

If the issue is a simple typo or similar correction, you can just submit a PR.
Otherwise, let us know what's wrong or what we should improve. Include a
link to the topic.
[https://docs.microsoft.com/en-us/dotnet/framework/winforms/high-dpi-support-in-windows-forms](https://d

[2017-07-27 22:21] ViktorHofer opened #2770 "Move Serialization docs from Framework to .NET Guide"
.NET Core 2.0 now support binary serialization! (with some subtle differences)

- [x] Cleanup and move serialization docs from  https://docs.microsoft.com/en-us/dotnet/framework/serialization/ to .NET Guide. (Maira)
- [x] Note the differences between .NET Core and Desktop/Mono (as the dev, I can do that).
- [x] Request redirection via Akamai (Maira)

edit: @mairaw formatted steps as subtasks and a

[2017-07-27 22:21] #1837 closed

[2017-07-27 22:22] ViktorHofer commented on #2687
@mairaw as discussed offline, please add https://github.com/dotnet/docs/issues/2770 to the list. (I don't have edit rights here)

[2017-07-27 22:58] mairaw commented on #2770
I'll work on moving the docs and then you can add the differences.

[2017-07-28 20:13] GuardRex commented on #2580
@mairaw Unassigning now ... I won't be able to address this issue further in the time remaining with the issues that I can finish by Monday night.

[2017-07-28 20:14] GuardRex commented on #2583
@rpetrusha I won't get to this one by Monday night, so I'm handing over the reigns to you now.

[2017-07-28 20:15] GuardRex commented on #2346
@mairaw This is unblocked now, but I won't have time to address by Monday night. I'll unassign it now.

[2017-07-28 20:16] GuardRex commented on #1931
@mairaw Since #2580 can't be finished by Monday, I'll have to unassign this one and hand it over.

[2017-07-28 20:18] GuardRex commented on #1669
@mairaw I won't get to this by Monday night, so I'm unassigning now.

[2017-07-28 22:12] mairaw commented on #2721
@GuardRex I need to review what you've done so far and work from there. We'll be adding tabs to distinguish 1.x from 2.x where applicable

[2017-07-28 23:37] mairaw commented on #2764
@merriemcgaw the link has been fixed back in May with PR #1928. I'll respond to the customer on the topic. We can make the updates to make it clearer that you get an exception in earlier versions of the framework, but the topic mentions .NET Framework 4.7 throughout, starting with the opening paragraph.

[2017-07-29 00:42] mairaw commented on #2725
Closing this one since it's a duplicate of #2139

[2017-07-29 00:42] #2725 closed

[2017-07-29 01:18] mairaw commented on #2770
I'll request the redirection for these topics via Akamai (backend) instead of doing it manually.

[2017-07-29 06:11] mairaw commented on #2655
Another one I found today: https://msdn.microsoft.com/en-us/library/ms184658.aspx

[2017-07-29 21:15] ViktorHofer opened #2781 "Update Runtime Directives (rd.xml) with new policies"
I believe there are new policies that can be fined inside a Runtime Directives file. E.g. BinaryFormatter for an Assembly/Type/...

@morganbr am I right? If yes, can you please update the docs with the new policies?

https://docs.microsoft.com/en-us/dotnet/framework/net-native/runtime-directives-rd-xml-configuration-file-reference

[2017-07-30 18:05] cartermp commented on #772
I'll just close this.  We've addressed what is discussed here, and the vision has basically been executed.

[2017-07-30 18:05] #772 closed

[2017-07-31 06:13] dasMulli commented on #2642
There are likely at least two distinct concerns here:

1. Things to use for configuring properties and items that the SDK / build targets will understand.
e.g. things like `CopyLocalLockFileAssemblies`, `RuntimeFrameworkVersion`.
2. Things available in custom targets and **when they will be available** (=> knowing what to put in `AfterTargets` / `DependsOnTargets`).
e.g. `OutputPath`, `Documentati

[2017-07-31 18:26] omajid commented on #2388
A couple of random comments:

It is a historical thing in git. Early versions of git did have the dash in commands too. That is, both `git checkout` and `git-checkout` exited once.

These look very very similar to the standard set of sections used in man pages, aside from Arguments. In git, for example, these are also grouped under Options.