[2020-05-10 12:27] crawfis opened #18339 "Version #2 should rename methods to have Async"
Great article @BillWagner. One confusing part was the version 2 where you call what appears to be the same method from the starter (e.g., FryEggs(2)), but suddenly add the await keyword before it and assign it like the sample. I guess this is a feature, the method provider can make these asynchronous, but the caller only has to add the await keyword (or do they?). Should these methods be FryEggsAs

[2020-05-10 12:33] crawfis commented on #18339
Sorry. Just realized this was contributed to by 16 people not just Bill. Thanks all.

[2020-05-10 13:29] MajidG opened #18340 "compiler erorr code co0188"
I have an compiler Erorr  in the code CO0118 please help

[2020-05-10 13:35] svick commented on #18340
We won't be able to help you without more information: Can you share the relevant code and the full error message?

[2020-05-11 07:28] smjltd commented on #17638
Waiting ...

[2020-05-11 09:37] v01pe opened #18344 "Looking for `?.` operator"
Found it in the end under `x.y`, but would expect to find it in the table directly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f91d85ae-8b37-e837-a031-144571362fbb
* Version Independent ID: 5ec5c397-c7c6-700c-bc36-a8dfb2396dad
* Content: [Operator overloading - C# reference](https://docs.microsoft.com/en-us/dotnet/c

[2020-05-11 12:08] nvmkpk commented on #18230
Yes, I am doing something similar right now. But I am handling `AssemblyLoadContext.Default.Resolving`. Do you think that is ok or should I do it via `AppDomain`?

My scenario is kind of similar to plugin. I have an asp.net core web application that serves multiple subdomains routing the incoming requests to its corresponding web application. I am trying to run each subdomain's web application fro

[2020-05-11 12:45] IEvangelist commented on #18308
Hi @pkpjpm,

Ah, yes - you are correct that the [arithmetic operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/arithmetic-operators) document could be improved upon to also mention that while a `char` is not considered an integral numeric type, it also exposes these arithmetic operators.

[code]

Feel free to create a pull request to update the doc with these ch

[2020-05-11 13:54] IEvangelist commented on #18334
Hi @cisalhante,
The team really appreciates positive feedback, thank you for sharing it! @BillWagner it appears as though a user has expressed gratitude towards "Asynchronous programming in C#" docs. 🎉

[2020-05-11 14:37] BillWagner commented on #18288
@CeciAc Can you ask for more details on this issue? From the translation, I can't figure out what the concern is.

[2020-05-11 14:37] IEvangelist commented on #18333
Hi @7778858,
We're going to need more information on this issue in order to help out. It seems like this might have been created in error - if not please let us know. Otherwise this will automatically close out in 14 days.

[2020-05-11 14:38] BillWagner commented on #18292
/cc @KathleenDollard

[2020-05-11 14:39] BillWagner commented on #18315
/cc @KathleenDollard

[2020-05-11 14:43] vitek-karas commented on #18230
If you don't have custom `AssemblyLoadContext` then it doesn't matter if you use `AssemblyLoadContext.Default.Resolving` or `AppDomain.Current.ResolveAssembly`, in that case they're basically the same thing.

As for your scenario, this will work if there are no problems with different dependencies by the different web applications. Since you're loading everything into the default load context, if

[2020-05-11 14:44] BillWagner commented on #18339
No worries @crawfis (I wrote this originally, but as Open Source, it's open to contributions)

I like your thoughts here. The method names should match the `*Async` convention once they return tasks. That would help reader's understanding of the convention.

I'll add this to our backlog and address it when we next update this article.

[2020-05-11 14:47] BillWagner commented on #18344
Thanks for pointing this out @v01pe
We should surface the `?` operators more clearly in that table.

I've added this to our backlog, and added the "up for grabs" label if someone in the community wants to address it before we get to it.

[2020-05-11 14:48] DivanVanZyl opened #18345 ".NET Core"
How does .NET Core fit into this? It seems to me that this page needs to be updated, to mention .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91388e65-01f7-d27c-38d0-4e2113cef43a
* Version Independent ID: ad74fdd5-880a-df4c-731c-235c8d42d7db
* Content: [Introduction to the C# Language and the .NET Framework

[2020-05-11 14:48] #18293 closed

[2020-05-11 15:00] #18277 closed

[2020-05-11 15:29] #14842 closed

[2020-05-11 15:33] CeciAc commented on #18210
#please-close

[2020-05-11 15:36] #18210 closed

[2020-05-11 15:51] dagood opened #18347 "Add instructions to diagnose/fix errors caused by mixing Microsoft and source-built Linux packages"
Now that source-built .NET Core is becoming more widespread (Fedora 32 and CentOS 8 semi recently), people are hitting issues when some packages on their machines come from the Microsoft repos and others from the distro archive. They don't mix well: they have different dotnet roots, `/usr/share/dotnet` vs. `/usr/lib64/dotnet`.

Instances:

* https://github.com/dotnet/core/issues/4605#issuecomment-

[2020-05-11 15:56] tdykstra commented on #18317
As noted in [this comment](https://github.com/dotnet/docs/issues/18316#issuecomment-626271774) on #18316, it may take some time to research and answer this question.

[2020-05-11 17:27] DickBaker opened #18349 "Property pattern unduly complex"
The doc code is currently
public static decimal ComputeSalesTax(Address location, decimal salePrice) =>
    location switch
    {
        { State: "WA" } => salePrice * 0.06M,
        { State: "MN" } => salePrice * 0.075M,
        { State: "MI" } => salePrice * 0.05M,
        // other cases removed for brevity...
        _ => 0M
    };

whereas this is simpler and avoids multiple Get access calls

[2020-05-11 17:35] #17710 closed

[2020-05-11 17:35] #17735 closed

[2020-05-11 18:03] CeciAc opened #18350 "Task compatibility"
The comments below were machine-translated

@DimTrdr commented on [Mon May 11 2020](https://github.com/dotnet/docs.ru-ru/issues/284)

You have everything ready for breakfast at the same time except the toast. Making the toast is the composition of an asynchronous operation (toasting the bread), and synchronous operations (adding the butter and the jam). Updating this code illustrates an important

[2020-05-11 18:15] svick commented on #18349
1. [That section](https://docs.microsoft.com/en-gb/dotnet/csharp/whats-new/csharp-8#property-patterns) is specifically about property patterns, so a simplification that does not use property patterns would be not be useful. (Though maybe changing the code so that it couldn't be simplified so easily could be useful.)
2. It actually does not avoid extra getter calls, because using the property patte

[2020-05-11 18:19] reyesje08 opened #18352 "Ubuntu 19.10 : E: Unable to locate package dotnet-sdk-3.1"
Hello I've followed all instructions and troubleshooting instructions in the provided link below: https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910#troubleshoot-the-package-manager

I still receive the same consistent error of "E: Unable to locate package dotnet-sdk-3.1"

I've used apt search dotnet-sdk and i see a reference to dotnet-sdk-3.1

![image](https://

[2020-05-11 18:33] DickBaker opened #18353 ""the value referenced by handler remains unaffected" is ugly"
in the doc "https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators#null-conditional-operators--and-" there is text
"the value referenced by handler remains unaffected"

I am disturbed by that proximity/competition/confusion of "value" and "reference" and suggest that phrase be rewritten unambiguously as appropriate being either a value type or a referen

[2020-05-11 18:38] Thraka commented on #18322
Hello!

So are you saying that the regex needs the whitespace around `#` to treat it like a comment? Do you have some code I can run for reproducing the behavior?

[2020-05-11 18:43] #18212 closed

[2020-05-11 18:54] Thraka opened #18354 "[winforms-dotnet5] Move content - Forms"
Related to #10648

- Windows Forms for .NET
  - Get started
  - Migration
  - Forms
    - [ ] Overview
    - [ ] Event handlers
    - [ ] Automatic scaling
    - [ ] Custom painting and drawing
    - [ ] Design for accessibility
    - [ ] Common tasks
      - [ ] Create a form
      - [ ] Scale a form
      - [ ] Resize a form
      - [ ] Change the border style
  - Controls
  - Custom controls

[2020-05-11 19:03] pkulikov commented on #18353
@DickBaker

Have you searched through this textbox? ("Filter by title" is not correct description, as typing `?.` there finds the proper article.)
![image](https://user-images.githubusercontent.com/15279990/81600468-ef41d500-93c9-11ea-869d-3bf0b8320dde.png)

[2020-05-11 19:07] danroth27 commented on #18332
Looks like `shortlist.Add(itinerary);` should be replaced with `Message = message;`.

[2020-05-11 19:10] an31146 commented on #15806
The index offsets in the names List should be zero-based, in step=2 of Modify list contents:
<code>Console.WriteLine($"I've added {names[1]} and {names[2]} to the list.");</code>

[2020-05-11 19:17] Lelegithub opened #18356 "Explain what happen if you override event variable before the event is fired!"
Explain what happen if you override event variable before the event is fired!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b37f1a-cd59-d9e5-067b-30ea5f26e5cc
* Version Independent ID: d2078536-1ee3-5b60-3872-f2635d245cc2
* Content: [Standard .NET event patterns](https://docs.microsoft.com/en-us/dotnet/csharp/event-

[2020-05-11 19:38] gewarren commented on #15806
I think it's actually correct as written. The list originally contained your_name, Ana, and Felipe. Then we added Maria and Bill and removed Ana. So now the list is your_name 0, Felipe 1, Maria 2, Bill 3, and we want to output that we added Maria and Bill. So 2 and 3 are the correct indexes.

[2020-05-11 19:40] gewarren commented on #15806
I'm going to close this issue due to inactivity and since it seems likely that the cause was a user error, possibly due to lower case "list".

[2020-05-11 19:40] #15806 closed

[2020-05-11 22:03] #17950 closed

[2020-05-11 22:08] tdykstra commented on #15506
@vitek-karas ping

[2020-05-11 22:12] tdykstra commented on #15524
@nohwnd does #18295 complete your review, i.e., can we close this issue?

[2020-05-11 22:24] gewarren commented on #18203
@kuntalbose I see [you asked the question in the WCF repo](https://github.com/dotnet/wcf/issues/2219), which is a better place to ask the question.  I will go ahead and close this documentation issue.

[2020-05-11 22:24] #18203 closed

[2020-05-11 22:28] gewarren commented on #18254
Okay, I will close this issue since it sounds like you didn't mean to create an issue.

[2020-05-11 22:28] #18254 closed

[2020-05-11 22:58] naveenaggarwal1 opened #18359 "Migration issue from DotNet Core 2.2 to DotNet Core 3.1"
I am trying to migrate my Dot net core 2.2 API to Dot net core 3.1

Error	CS1061	'HttpContext' does not contain a definition for 'RequestEnableRewind' and no accessible extension method 'RequestEnableRewind' accepting a first argument of type 'HttpContext' could be found (are you missing a using directive or an assembly reference?)

Error	CS0234	The type or namespace name 'Internal' does not exist

[2020-05-11 23:19] vthg2themax commented on #17638
Waiting on 20.04 too! So excited! 😃

[2020-05-11 23:28] #18304 closed

[2020-05-11 23:31] gewarren opened #18360 "xml tag content was accidentally translated"
_From @Flithor on Monday, May 11, 2020 1:58:13 AM_

Title

and tree
[code]
this issues was existed in all of sub item in page:
https://docs.microsoft.com/zh-cn/dotnet/framework/configure-apps/file-schema/runtime/

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 2e093d16-79e3-e4eb-323f-4e4ef7fe677b
* Version Independent ID: f673a7d5-3db0-3bb2-5077-a3186871fc71
* Conten

[2020-05-11 23:31] gewarren commented on #18360
_From @srvbpigh on Monday, May 11, 2020 7:15:58 AM_

Hello, @Flithor

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-11 23:31] gewarren commented on #18360
_From @gewarren on Monday, May 11, 2020 5:40:05 PM_

@Flithor Thanks for letting us know. Loc team - the best solution here might be to put the XML inside a code fence.

[2020-05-11 23:31] gewarren commented on #18360
_From @CeciAc on Monday, May 11, 2020 7:27:55 PM_

Hello @Flithor

Thank you for your contribution.

Contributions on translation problems against machine-translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human a

[2020-05-11 23:31] gewarren commented on #18360
_From @gewarren on Monday, May 11, 2020 7:41:34 PM_

@CeciAc This is an issue of text that shouldn't have been translated, so I'll move it to the main (English) repo so we can put the XML in code fencing. Can you reopen the issue so I can move it to dotnet/docs?

[2020-05-11 23:31] gewarren commented on #18360
_From @JasonCard on Monday, May 11, 2020 11:19:22 PM_

@gewarren I agree, code fencing would work to block XML tags from localization. Reopening the issue to move to dotnet/docs.
cc @CeciAc

[2020-05-11 23:46] gewarren commented on #18360
It looks like the request to have the localization transformer ignore anything inside `\<>` is [about to be rolled out](https://dev.azure.com/ceapex/CEINTL/_workitems/edit/150755), so we can either change these to code blocks (and lose the linkability), or wait for this feature to be rolled out.

[2020-05-12 00:06] JasonCard commented on #18360
@gewarren Thank you for finding [that feature](https://dev.azure.com/ceapex/CEINTL/_workitems/edit/150755) and it's status. Yes, we'll have to wait until after the Build event for roll out, but that sounds like the best solution.

[2020-05-12 01:54] davkean opened #18363 "Remove reference to fibers"
As per https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-and-unmanaged-threading-in-windows#threads-and-fibers, .NET Framework does not support Fibers, therefore the following paragraph is misleading and should be removed:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e267fd4-6615-49ca-c77f-c97ecdbac

[2020-05-12 02:31] #17921 closed

[2020-05-12 04:49] richlander commented on #18363
Reference: https://twitter.com/JanKotas7/status/1260023082720227328

[2020-05-12 07:39] #18332 closed

[2020-05-12 09:31] gabrieldevillers commented on #18174
@mjrousos I would be really helped by any comment, even just "that's not planned" or "that's not a good idea, look at X instead".

[2020-05-12 10:19] atauenis commented on #18098
https://stackoverflow.com/questions/61711209/how-to-compile-a-net-core-project-to-any-cpu-architecture

https://github.com/dotnet/sdk/issues/1906#issuecomment-360863714

Seems that .NET Core have very bad support for AnyCPU EXEs. Sad... Clients of my app reported that 32-bit EXE don't run with 64-bit Runtime, so they're need to install both architectures of Runtime to use all .NET Core apps on the

[2020-05-12 10:25] nohwnd commented on #15524
@tdykstra This issue should wait for @pavelhorak to extend the info about the filtering issue, mentioned in the outstanding issue above.

[2020-05-12 10:31] cnzhnet commented on #18072
I use Microsoft.NET.Sdk.Web instead of Microsoft.NET.Sdk.Worker. I want to deploy the asp.net core mvc project to Windows Service while using the PublishSingleFile mode to make the file structure look less complicated

![image](https://user-images.githubusercontent.com/13212598/81673649-8c5e4580-947e-11ea-8497-18b3c1b492af.png)

![image](https://user-images.githubusercontent.com/13212598/81673772-

[2020-05-12 10:35] cnzhnet commented on #18072
Above code, when I close PublishSingleFile, Windows Service can work.

[2020-05-12 12:56] joshstir opened #18365 "Awesome stuff!"
I really liked this page, it helped me wrap my head around Async.  Awesome, and thanks for this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us

[2020-05-12 13:35] BillWagner commented on #18365
Thank you @joshstir We appreciate it.

Closing as kudos.

[2020-05-12 13:35] #18365 closed

[2020-05-12 13:37] sanket-t-shah opened #18366 "Not updated for latest version of Driver files and .NET Core 3.1"
.NET Core 3.1 driver is released, but this page does not cover it. Would it be possible to update the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d09d9935-2cc4-e579-dd1e-120569030ccd
* Version Independent ID: 3a4307d6-10e4-546e-9cf5-ad59b62ea8f1
* Content: [Deploy a .NET for Apache Spark application to Databri

[2020-05-12 14:17] zedzhu opened #18367 "Chech version which is already installed"
How do I check which version which my computer already has?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36cef2db-41a9-f3e0-7387-98611e9d1158
* Version Independent ID: 2726f502-0742-4715-4fc3-18f882178429
* Content: [Install the .NET Framework on Windows 10](https://docs.microsoft.com/en-us/dotnet/framework/install/o

[2020-05-12 14:51] vitek-karas commented on #15506
I created #18368 which adds the missing options and makes other improvements in the area.

[2020-05-12 15:00] BillWagner commented on #18356
Thanks for asking the question @Lelegithub

Can you provide a small example for what you mean? I want to make sure we update this to address your question.

[2020-05-12 15:06] BillWagner commented on #18353
Thanks for pointing this out @DickBaker

I'll suggest the following re-wording:

[Emphasis mine to illustrate the changed word]

On searching, we have an SEO concern around most operators: The characters used for operators don't perform well in search. We use the names of the operators, combined with the title filtering @pkulikov mentions above. We hope that helps. How can we better surface that f

[2020-05-12 15:09] BillWagner commented on #18349
Thanks for writing this @DickBaker and for the explanations @svick

We should look for a better example where a property pattern could not be simplified away.

[2020-05-12 15:48] #18344 closed

[2020-05-12 15:54] tdykstra commented on #18098
Per the https://github.com/dotnet/sdk/issues/1906#issuecomment-360863714 issue, it doesn't appear that there is anything missing in the RID catalog doc, so I'm closing this issue.

[2020-05-12 15:54] #18098 closed

[2020-05-12 16:32] tarekgh opened #18370 "Need to clarify RegistryKey.FromHandle will always set the KeyName to empty string"
**Issue description**

When creating RegisteryKey from a handle using [RegistryKey.FromHandle](https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.registrykey.fromhandle?view=dotnet-plat-ext-3.1), the key name is always set to empty string. The documentation need to explicitly mention that.

This issue reported on the [community portal](https://devdiv.visualstudio.com/DevDiv/_workitems/edi

[2020-05-12 17:01] atauenis opened #18371 "Not said about that .NET Core can't build AnyCPU EXEs"
Per the https://github.com/dotnet/sdk/issues/1906#issuecomment-360863714 and https://github.com/dotnet/docs/issues/18098 issues .NET core cannot compile EXE files for "Any CPU" architecture known from .NET Framework.

What it was: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/platform-compiler-option

Now there are no Runtime ID for it so this means that there

[2020-05-12 17:22] CeciAc opened #18372 "Maybe add simple example?"
@Devoleksiy commented on [Tue May 12 2020](https://github.com/dotnet/docs.ru-ru/issues/285)

I need example)

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: b74b99ff-32f8-c2d1-0a62-5907985f591e
* Version Independent ID: 716a28dc-360e-2964-47f5-0ff18bb00b1c
* Content: [Форматы путей к ф

[2020-05-12 17:23] Youssef1313 opened #18373 "Machine learning samples duplication"
Machine learning samples exist in both repos, dotnet/docs and dotnet/samples.

https://github.com/dotnet/docs/tree/master/samples/snippets/machine-learning/
https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/

They should be kept in one place and deleted from the other.

[2020-05-12 18:34] mamccrea commented on #18366
Thanks for bringing this to our attention, @sanket-t-shah. I've updated the doc. It should go live by tomorrow.

[2020-05-12 18:34] #18366 closed

[2020-05-12 19:07] BillWagner commented on #17297
Fixed by https://github.com/MicrosoftDocs/Contribute/pull/394

[2020-05-12 19:07] #17297 closed

[2020-05-12 19:34] dmedina0217 commented on #17638
i have tried 19.10 on ubuntu 20.04 and no luck. its 5/12 and still no update =..(

[2020-05-12 19:53] sanket-t-shah commented on #17496
You can download compiled version from https://eternallybored.org/misc/netcat/.

[2020-05-12 19:54] Mizux commented on #17638
@dmedina0217 please take a look at dotnet/core#4360 once this blocking task is done then the doc should follow IMHO...

[2020-05-12 19:54] sanket-t-shah opened #18378 "Example for reading from IoT Hub?"
Is there any possibility to have sample for reading from IoT / Event Hub? Both of them are suitable cases for Structured Streaming on Databricks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fa17b96-900b-e157-153d-54635d864a76
* Version Independent ID: 66df9360-02ad-8c7f-9f97-d24efbfef8af
* Content: [Structured Stre

[2020-05-12 20:01] gewarren commented on #18370
This issue was moved to dotnet/dotnet-api-docs#4221

[2020-05-12 20:01] #18370 closed

[2020-05-12 20:04] gewarren commented on #18367
@zedzhu This article provides the information you're looking for:

https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed

We should add a "See also" link to that page.

[2020-05-12 20:07] gewarren commented on #18359
@naveenaggarwal1 Can you provide the lines of code that are causing the errors?

[2020-05-12 20:31] Youssef1313 opened #18383 "C# and VB samples of the same article are in different directories"
https://github.com/dotnet/docs/blob/ba436c714a692f286582d1eb8052b89174b58127/docs/core/tutorials/library-with-visual-studio.md

[code]

which one should be moved where?
I also think it's good to unify the file name because the code is the same.

[2020-05-12 20:32] naveenaggarwal1 commented on #18359
Thanks @gewarren  below commented line was causing the error

//Allows re-usage of the stream
//httpContextAccessor.HttpContext.RequestEnableRewind();

I have replaced it with and now able to compile the project
                  HttpRequestRewindExtensions.EnableBuffering(httpContextAccessor.HttpContext.Request);

[2020-05-12 20:36] Rick-Anderson commented on #17027
@sdmaclea  writes:

That's the doc on the performance monitoring tool, not `EventCounter`. The following GitHub Readme.MD files need to be migrated to docs on this repo:

* [EventCounters in .NET Core 3.0](https://github.com/dotnet/diagnostics/blob/master/documentation/design-docs/eventcounters.md)
* [Introduction Tutorial: How to measure performance for very frequent events using EventCounters}(h

[2020-05-12 20:53] shirhatti commented on #17027
@sdmaclea I'd be happy to jump in and help if you can point me to your draft

[2020-05-12 20:59] gewarren commented on #18359
Thanks @naveenaggarwal1. @scottaddie It looks like this is a [known issue](https://github.com/dotnet/aspnetcore/issues/12505), but I'm not sure if a breaking change was logged for it?

[2020-05-12 21:06] Youssef1313 opened #18386 "Solution files containing one C# and one VB project"
In the `samples\snippets\desktop-guide\wpf`, there are currently 3 folders that are **inconsistent**.

- `data-binding-overview`, and `styles-and-templates-intro`: each one has two separate projects with one solution file containing them.

- `styles-templates-create-apply-template`: has two separate projects, but without a solution file.

One of two suggestions can be applied:

1. Remove the two s

[2020-05-12 21:43] KathleenDollard commented on #18292
Can you clarify what you think is not describe.

[code]

[2020-05-12 21:56] dmedina0217 commented on #17638
@Mizux thank you for the reply and i hope that fix is what gets the release pushed out

[2020-05-12 22:22] hlevene commented on #18292
Using an alias to define the key. Group By CountryName = cust.Country                           Into RegionalCustomers = Group, Count() From: Kathleen DollardSent: Tuesday, May 12, 2020 2:44 PMTo: dotnet/docsCc: hlevene; AuthorSubject: Re: [dotnet/docs] Example has undocumented syntax. (#18292) Can you clarify what you think is not describe.Group [optional stuff not used] By required stuff [more o

[2020-05-12 22:41] goshmiller opened #18389 "Missing Reference to System.Collections.Generic;"
During the step where you add
using System.Text.Json;
we also need to add
using System.Collections.Generic;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b-e60b-5433-7b4b-efc8259908f0
* Content: [Create a REST client using .NET Core](https://docs.mi

[2020-05-12 23:52] sywhang commented on #17027
@sdmaclea @shirhatti I can also help out with any documentation work regarding this space. Please let me know if any extra hands are needed

[2020-05-13 00:59] har07 commented on #17638
Finally, I can install dotnet-sdk from ubuntu 20.04 the repo!

[2020-05-13 01:43] agc93 opened #18391 "Async Streams sample code links are no longer valid"
The code samples linked from the [Run the starter application](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/generate-consume-asynchronous-stream?WT.mc_id=dotnet-devto-cephilli#run-the-starter-application) section are no longer valid.

They're actually in the `dotnet/samples` repository under the same path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-05-13 02:04] smjltd commented on #17638
yeah it worked

[2020-05-13 05:34] dmedina0217 commented on #17638
oh yeah it works!
since the above isnt updated, and anyone is interested, all you would have to do is copy below and you'll be good.

wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb

sudo apt-get update
sudo apt-get install apt-transport-https
sudo apt-get update
sudo apt-get install dotnet-

[2020-05-13 07:09] mfaghfoory opened #18394 "Best fit of pvalueHistoryLength parameter"
Hi. Considering that the parameter 'pvalueHistoryLength' affects the final results in different situations, I personally didn't find any resource about how to calculate this parameter properly so, I would appreciate it if you guide me about this and how we can calculate this parameter properly based on the dataset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-13 08:25] timrobinson33 opened #18395 "explain how to do this directly in the .csproj file"
For the increasing numbers of people using Visual Studio Code or the dotnet command line, who need to edit the csproj file directly, it would be useful to explain how to do this:

&lt;PropertyGroup&gt;
    &lt;StartupObject&gt;xxx&lt;/StartupObject&gt;
  &lt;/PropertyGroup&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-13 10:01] Youssef1313 opened #18396 "Missing csproj files"
Samples that are missing proj files are:

- *docs\\samples\\snippets\\standard\\datetime\\json\\csharp* (except *datetime-converter-examples*)
- *docs\\samples\\snippets\\standard\\interop*
- *docs\\samples\\snippets\\standard\\io\\file-names*
- *docs\\samples\\snippets\\standard\\reflection*

[2020-05-13 10:26] Youssef1313 opened #18399 "Add how-to/conversions samples to sample browser"
Currently, the how-to/conversions samples for C# and VB are zipped in the zip file is referenced in an article:

![image](https://user-images.githubusercontent.com/31348972/81801496-d265e880-9514-11ea-977c-b09a6d06b838.png)

This isn't good because changes to made to the sample may be forgotten to be zipped again. That can cause the zip file to be out-of-sync with the actual sample.

It's better t

[2020-05-13 12:07] IvanBil opened #18401 "Duplicated pattern explanation"
"(\s)?	Match zero or one white-space character" is duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1958bf6-a17d-1256-d659-31066aa02604
* Version Independent ID: 95abea42-fa7f-3feb-ae38-049719ab938f
* Content: [Character Classes in .NET Regular Expressions](https://docs.microsoft.com/en-us/dotnet/standard/bas

[2020-05-13 13:41] raupes opened #18402 "Naming Convention"
sampleMethod() is a method an normally written in capital letters. When or why did this change? Should not be the case here.
same for doSomething() in the interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece1648c-e8a7-153d-a22b-350a619aa26d
* Version Independent ID: a0c9221a-cc55-4c31-4f54-0e5fbdcbce25
* Conte

[2020-05-13 13:56] IEvangelist commented on #18386
Hi @Youssef1313,
I think that we should do option 1. If you create a pull request we'd happily review.

[2020-05-13 13:58] IEvangelist commented on #18391
Hi @agc93,
Thank you for posting this issue. If you are able to create a pull request to address the issue, we'd happily review it. If you do not have time, we'll try to address this in the next sprint. Thank you

[2020-05-13 13:58] BillWagner commented on #18386
I'm assigning this to @Thraka for the moment. We should get his opinion before making a PR.

[2020-05-13 14:01] IEvangelist commented on #18402
Hi @raupes,
Thank you for posting this, it is a valid concern - and I'm happy to address this.

[2020-05-13 14:14] IEvangelist commented on #18401
Hi @IvanBil,
Thank you for posting this issue. Could you please share the revised code that you're suggesting? Where would this be duplicated, what portion of the Regex? I've created a [sharplab.io](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQcAMACOSB0AKgKYAew+ASsQOYQA2AhmAKKkAOYxAztwJYB7KNwDc6dHADMuBNjaMAtu3rF0Ab3TYtiBJq0a0Wo7iQ52jYMGJgo2ALy44AIgA6AIwAUL9moCS3AHEuYgBrAF8Aai9uAEoAfhiI7zUABQATMJd

[2020-05-13 14:20] IvanBil commented on #18401
I mean the text appears 2 times in the article
![image](https://user-images.githubusercontent.com/39484335/81824271-f4279580-953d-11ea-93c9-d562aa260f7c.png)

[2020-05-13 14:49] BillWagner commented on #18373
/cc @Thraka @luisquintanilla

Andy, what did we decide here?

[2020-05-13 14:50] IEvangelist commented on #18378
@CamSoper is this something that you're familiar with, or might have an existing doc to point to?

[2020-05-13 14:50] Thraka commented on #18372
@Devoleksiy Hello! I looked at the article and I see a few examples. Can you tell me what exactly you need an example of? Thanks!

[2020-05-13 14:52] BillWagner commented on #18383
Thanks for writing this @Youssef1313

[This section of the contributor guide](https://docs.microsoft.com/contribute/dotnet/dotnet-contribute#example-structure) highlights the new structure. Both samples should move under the folder where this article is located.

I've added the "up for grabs" label. If you want to submit a PR for this issue, let me know, and I'll assign it to you.

[2020-05-13 14:54] BillWagner commented on #18389
Thanks for adding this @goshmiller We appreciate it.

I've added this to our backlog, and added the "up for grabs" label in case community members want to address this before we do.

Thanks again.

[2020-05-13 14:54] IEvangelist commented on #18072
Hi @cnzhnet - does this mean that it is now working for you?

[2020-05-13 14:58] IEvangelist commented on #18396
Hi @Youssef1313,
Thank you for raising this issue. I've added the `up-for-grabs` label so that any community contributor can create a pull request to add these, in the meantime - we'll prioritize this work accordingly.

[2020-05-13 15:02] BillWagner commented on #18395
Thanks for writing this @timrobinson33

I've added this to our todo list. I've also added the "up for grabs" label, in case community members want to create a PR for this.

[2020-05-13 15:02] Thraka commented on #18373
If I remember correctly, the samples repo is linked to from the documentation. The copy in this repo is used for snippets. To keep them separated via context, you shouldn't tell users to browse the snippet version, they should browse the samples version. This is why the samples copy remains.

[2020-05-13 15:02] #18373 closed

[2020-05-13 15:07] Thraka commented on #18401
@IvanBil This is just the way the breakdown is explaining the regex. It's walking you through each piece of the regex, even if something appears twice (as it does in the actual regex).

[2020-05-13 15:07] #18401 closed

[2020-05-13 15:10] #18353 closed

[2020-05-13 15:19] sdmaclea commented on #17027
I found the old branch and resurrected it here.

https://github.com/sdmaclea/docs/tree/scenarios_rebase

+ I was trying to add the three tutorials in one PR and the review was taking too long.
+ I dropped the two tutorials so we could focus on a single tutorial.
+ The memory leak tutorial which is on tip was cleaned up and now we have a sample of what these need to become.

I spent a few minutes d

[2020-05-13 15:33] #16027 closed

[2020-05-13 15:44] #18402 closed

[2020-05-13 15:44] WonkySoft commented on #7613
I have to second that MEF v2 docs are seriously lacking.

Is there at least comprehensive example code put out by Microsoft somewhere?

[2020-05-13 17:11] mamccrea commented on #18378
Here are some resources:
[Connect your Apache Spark application with Azure Event Hubs](https://docs.microsoft.com/azure/event-hubs/event-hubs-kafka-spark-tutorial)

https://github.com/dotnet/spark/issues/325#issuecomment-552536623

We'll work on adding this scenario to our docs.

[2020-05-13 17:13] KathleenDollard opened #18405 "Create an page for how the SDK and Visual Studio work together"
This should be an easy access to other pages around SDK selection and resolution.

We see confusion around what parts of the SDK are used from Visual Studio which is particularly bad around what MSBuild tasks/targets are selected when there is a global.json (and therefore why we discourage global.json).

[2020-05-13 17:14] sanket-t-shah commented on #18378
Thanks.. Am working on the same as you'll be able to see from comments. Probably can contribute to create sample too. Need some help on that question.

If it's not too much to ask, can you please help to resolve error am getting there?

Best,

Sanket Tarun Shah | +91 98793 56075
________________________________
From: Mary McCready <notifications@github.com>
Sent: Wednesday, May 13, 2020 10:41:46 P

[2020-05-13 17:18] #18153 closed

[2020-05-13 17:46] danmosemsft commented on #18310
This should go into https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core presumably

[2020-05-13 18:26] Youssef1313 commented on #18373
@Thraka wouldn't that make maintenance harder?
They can get out-of-sync easily.

[2020-05-13 18:30] #12185 closed

[2020-05-13 18:30] #17192 closed

[2020-05-13 18:33] #18066 closed

[2020-05-13 18:38] luisquintanilla commented on #18373
So for the time being, we can link wherever it makes sense. I believe some work was done to point our docs to snippets in docs repo. Over time, we'll migrate to the dotnet/machinelearning-samples repo since we'd want users to be able to access the completed version of the app, but for the time being, as long as users can get a full version of the app, we're flexible.

[2020-05-13 18:42] #17859 closed

[2020-05-13 18:42] #18291 closed

[2020-05-13 18:54] #8463 closed

[2020-05-13 18:54] #9931 closed

[2020-05-13 18:54] #10151 closed

[2020-05-13 18:54] #15862 closed

[2020-05-13 19:10] Youssef1313 commented on #18383
@BillWagner, does that mean that at a later time, there shouldn't be a *samples* directory in the root of the repo? because all the samples will be within the same article directory?

[2020-05-13 19:42] BillWagner commented on #18383
@Youssef1313

Yes, that's the direction we're heading.

[2020-05-13 20:24] #18396 closed

[2020-05-13 20:28] Youssef1313 commented on #18383
That's much better than before. Happy to see docs improving :heart:

[2020-05-13 21:32] antmdvs opened #18421 "Samples Repo Archived?"
There are 2 references to https://github.com/dotnet/dotnet-template-samples on this page. The repo has a banner that reads "This repository has been archived by the owner. It is now read-only." which causes me to question whether some of it's content is out-of-date. Is that the case? Has it been moved/superseded? Is it still relevant, just read-only?

---
#### Document Details

⚠ *Do not edit this

[2020-05-13 21:33] antmdvs commented on #18421
@sayedihashimi

[2020-05-13 23:45] safern opened #18423 "String comparison, sorting and globalization use ICU instead of NLS in Windows 19H1+"
## Globalization support change on Windows 10 19H1+

We changed the underlying library that we use in order to get localization data, perform string/char sorting and comparisons. If an application is running on Windows 19H1 or later which ships with ICU native library, we will use ICU as the library to perform this operations instead of Windows NLS APIs. If we fail to load/find ICU on the OS we wi

[2020-05-14 00:58] #18359 closed

[2020-05-14 01:13] VitalyMCT opened #18424 "Database size limits are out of date"
Both amounts embedded under "Managing database size" are old.

The page linked further down in this article, pointing to https://docs.microsoft.com/en-ca/azure/sql-database/sql-database-paas-vs-sql-server-iaas, has higher limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87dff904-c6fa-8cb6-feac-78713ae6d745
* Vers

[2020-05-14 03:53] dagood opened #18428 "macOS "Download and manually install" steps should use tar.gz, not manually extract the installer (pkg)"
The macOS "Download and manually install" steps use the installer (`pkg`), not the tar.gz that should normally be used for manual install.

[code]

In the table, on the left you get the pkg, on the right the tar.gz:

![image](https://user-images.githubusercontent.com/12819531/81890446-9c078800-956b-11ea-974f-a99bcf5f5f39.png)

The instructions say to download a binary release (tar.gz), so at the m

[2020-05-14 06:03] cnzhnet commented on #18072
I'm not sure that a web app based on the Razor Pages and MVC framework with the Microsoft.NET.Sdk.Worker SDK will work correctly, as Microsoft doesn't specify. So there's no attempt to change to the Microsoft.NET Sdk.Worker SDK.  So at the moment I can only cancel ThePublicSingleFile mode for it to work properly!

[2020-05-14 07:27] #17138 closed

[2020-05-14 08:59] nick-morhun opened #18431 "Handling of the Exceptions thrown from ContinueWith"
I can't find anything about handling of the exceptions thrown from ContinueWith() code. These exceptions don't seem to appear anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25bdb110-7ada-3817-bc40-9c11cab6513c
* Version Independent ID: 9476dc46-d4f0-e7f4-c21e-faaafe0433ea
* Content: [Exception handling (Task

[2020-05-14 10:28] nick-morhun commented on #18431
Turns out, the TaskScheduler.UnobservedTaskException was not plugged in in one case, and the other one doesn't work even without the ContinueWith()

[2020-05-14 10:28] #18431 closed

[2020-05-14 12:12] reyesje08 commented on #18352
I recognize that the dotnet-sdk-3.1 that is being referenced is of type (AMD64). Where I am using an architecture of ARM64.

[2020-05-14 13:00] IEvangelist commented on #18215
Hi @bricelam,
Thank you for posting this issue. I'll try to incorporate this into the doc.

[2020-05-14 13:16] reyesje08 commented on #18352
I had not considered that my OS architecture would be the problem. but when I identified this as a potential issue.

I then manually downloaded a copy of the dotnet-sdk-3.1.202 binary release here: https://dotnet.microsoft.com/download/dotnet-core/3.1

By following these steps for the link below, i was able to successfully resolve my issue:
https://docs.microsoft.com/en-us/dotnet/core/install/sdk?

[2020-05-14 13:16] #18352 closed

[2020-05-14 14:01] sayedihashimi commented on #18421
@vijayrkn owns the samples now, I am now working in a different area.

[2020-05-14 14:18] binhnguyen1984 opened #18432 "Missing documentation on how to run .NET Core unit tests sequentially"
I want to run unit tests sequentially in .net core but could not find any solutions. The solutions available on the Internet do not work for me. I would expect a detailed discussion on this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb70526f-d02c-2b6c-3d34-0f4cac5809f0
* Version Independent ID: e4443d71-7131

[2020-05-14 14:27] #18162 closed

[2020-05-14 14:33] Thraka commented on #18405
Hey @KathleenDollard ! Can you use the new issue template? You can skip info that doesn't apply. I've updated your comment with the template info so you can just edit it instead of creating a new issue.

[2020-05-14 14:38] IEvangelist commented on #18432
Hi @binhnguyen1984,
Thank you for posting this issue, I will work on adding these details as part of the docs / guidance.

[2020-05-14 14:54] BillWagner commented on #18170
First, I like the way you've presented this @Thraka

I have one major concern with splitting the repo in general: We've learned (sometimes through painful experience) that coordinating work across repositories has a high overhead. While @jffriend can answer better, I don't think that's going to get easier. That will become a particular pain point on any changes to the .NET hub pages and overview s

[2020-05-14 15:26] vijayrkn commented on #18421
@grinrag and team maintains the templating repo and related content. The samples repo is currently not actively maintained so some of the contents can go out of date easily with template engine product changes.

[2020-05-14 15:30] IEvangelist commented on #18072
Hi @cnzhnet,

I believe I have a better understanding now - thank you for your patience. If you have a Razor Pages and MVC framework application, it cannot be a Windows Service (to my knowledge). This is only applicable for a Worker. Now, publishing as a single file for a worker is demonstrated above. We're going to close this issue for now, but if you still have questions feel free to ask. Thank

[2020-05-14 15:30] #18072 closed

[2020-05-14 15:47] Thraka commented on #18428
Thank you for noticing that.

[2020-05-14 15:58] Thraka commented on #18386
Yeah removing them is fine.

[2020-05-14 16:04] Fionajw-discover opened #18434 "Helpful Refresher"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/#feedback)
* Content Source: [docs/csharp/

[2020-05-14 16:07] #16690 closed

[2020-05-14 17:02] tarekgh commented on #18423
Thanks @safern. I am listing some change suggestion here:

Maybe we need to change the title to something generic like "Globalization support change on Windows 10 19H1+"

We may rephrase it as `Globalization behavior was mainly derived from Windows NLS native APIs.`

We may rephrase it as `Globalization behavior will be mainly derived from ICU library shipped with Windows. `. Note I would avoid go

[2020-05-14 17:35] BillWagner commented on #18434
Thank you for the kind words @Fionajw-discover We appreciate it.

Closing as kudos

[2020-05-14 17:35] #18434 closed

[2020-05-14 18:00] #18389 closed

[2020-05-14 18:14] #17638 closed

[2020-05-14 19:14] bricelam commented on #18215
Yes, that’s the exception you’ll get on Windows since it doesn’t have a system-wide version on SQLite. On iOS, macOS, and Linux it should work.

[2020-05-14 19:20] bricelam commented on #18215
Also, I probably should have assigned this issue to myself. 🙂 But I’m happy to review it if you still want to write something.

[2020-05-14 20:28] eerhardt opened #18438 "Removal of Microsoft.DotNet.PlatformAbstractions Package"
## Removal of Microsoft.DotNet.PlatformAbstractions Package

We will stop building new versions of [Microsoft.DotNet.PlatformAbstractions](https://www.nuget.org/packages/Microsoft.DotNet.PlatformAbstractions/) in .NET 5

### Version introduced

.NET 5.0 Preview 6

### Old behavior

New versions of the `Microsoft.DotNet.PlatformAbstractions` library were produced alongside new versions of .NET Core

[2020-05-14 21:55] SumDjurc opened #18440 "found an error on this page. lol"
In the example box (i &lt; 9) the sign should be changed to &gt; to get that output.
no problem! I love the site. It's helping me learn. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb5b436f-bd9b-e6c5-9859-f71cf9ee71bc
* Version Independent ID: f384b21d-5bee-6a14-d0c8-aadf61691c1e
* Content: [continue stat

[2020-05-14 23:25] tdykstra opened #18442 "Add code example for stripping BOM from FileStream"
When using Utf8JsonReader to read a FileStream, the BOM if present can't be passed to the reader. Provide or link to code showing how to handle this scenario.  See discussion at https://github.com/dotnet/docs/pull/18326#discussion_r425468388

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d04

[2020-05-14 23:30] #16941 closed

[2020-05-14 23:41] InteXX opened #18443 "VB.NET is incorrectly omitted"
The documentation fails to mention that *.vbproj files are supported as well.

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack#arguments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-d5c8-29f7a8c16a5f
* Version Independent ID: 4257ec12-df6f-ec52-aad3-012e5fce8133
* Content: [dotnet pa

[2020-05-14 23:49] mccap079 commented on #18440
Actually `<` is correct in order to get the output:
[code]
While `i` is less than `9`, execute `continue`, thus skipping the call to print the index value. So the index value will only begin printing once `i` is no longer less than `9`.

[2020-05-15 00:15] MarkMichaelis commented on #17463
@BillWagner, @jkotas

Do you have any further feedback on the code or the bullets above?  I will be basing the documentation on this so I want to be sure it is right before I begin writing. Thanks!

[2020-05-15 01:38] #18310 closed

[2020-05-15 02:00] safern commented on #18423
Thanks @tarekgh -- I've updated the issue with your recommendations.

[2020-05-15 06:13] Youssef1313 commented on #18443
Easy enough to fix, but before that, I'll wait someone to confirm if **only** vbproj is missing, or fsproj is missing too.
cc: @cartermp Can you confirm if dotnet pack works for fsproj files or not?

[2020-05-15 06:16] cartermp commented on #18443
Yes, `dotnet pack` works for all project files (csproj, vbproj, fsproj)

[2020-05-15 06:30] Youssef1313 commented on #18443
@cartermp, Thanks. Opened #18446

[2020-05-15 06:36] Youssef1313 opened #18447 ".NET Core project files"
Does the information in [Additions to the csproj format for .NET Core](https://docs.microsoft.com/dotnet/core/tools/csproj) applies to vbproj and fsproj as well?

If yes, then the article needs to be updated and mention that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version

[2020-05-15 10:29] martingbrown opened #18449 "Inconsistency in example output"
This is a trivial thing, but I thought I would mention it anyway. The example for the Inline Options section has two peieces of output. The first without inline options set the second with them set. The idea is to show the difference between the two.

The example has been written to surround the output of the second set with single quotes, where as the first has not. This makes it look to someone

[2020-05-15 10:48] Hulkstance commented on #14589
Garbage collector collects it, if you look at it with dnSpy.

[2020-05-15 12:58] IEvangelist commented on #18440
Hi @SumDjurc,
Thank you for posting this issue. However, it is not incorrect. Checkout this [sharplab.io instance](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQ6oEMC2BTAZwAcsBjPAAgA0L0BvdCpixCgITDywGsAVQ4I2YM0zMSyQA2FgBYKAWSwBLKAAoAlEPEUR27QDMA9mAqqVwCkooBeCkgDcligB5bSAAyOlAam+bRemK6gXpK+qZWzhQAnP4hesHxgaSGUMAqEHj2WklMAL45uXBI0Wbq2QHxBRiVIQD0dRQA0nh4RBTAABaUKVAEhgA2lIZEeFCW4wAmeABGEADmFDiG0wB0hXr

[2020-05-15 12:58] #18440 closed

[2020-05-15 12:58] BillWagner commented on #17463
@MarkMichaelis

I like what you've put together.

To your earlier question:  You could use the `ConcurrentBag` instead of the `ConcurrentDictionary`, if you wanted. I don't have strong feelings there.

Thanks for all the research and discussion putting this together.

[2020-05-15 13:04] #18443 closed

[2020-05-15 15:38] adhaliwal34 opened #18451 "Output folders do not nest anymore"
There is a line which says:

This doesn't seem to happen anymore and the suggested fix is not necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.mic

[2020-05-15 15:55] #18215 closed

[2020-05-15 16:06] tdykstra commented on #18451
Which SDK version are you using?

[2020-05-15 16:13] tdykstra commented on #18447
cc @gewarren, you're going to be replacing this article, right?

[2020-05-15 17:02] tdykstra opened #18453 "Diagrams don't display well in browser dark theme"
https://github.com/dotnet/runtime/issues/36425#issuecomment-629242079

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6cf7421-fbd2-0ca0-7385-4df65531fd66
* Version Independent ID: d53a0764-9f27-16b3-c40a-9627dd1bcc0d
* Content: [Introduction to character encoding in .NET](https://docs.microsoft.com/en-us/dotnet/standar

[2020-05-15 17:57] Youssef1313 commented on #18453
@tdykstra, May you assign this to me? I'll get time to fix that by tomorrow.

[2020-05-15 18:05] tdykstra commented on #18453
I already have the revised image files from the artist, I just need to make a PR.

[2020-05-15 19:37] gewarren commented on #18447
Yes, see #18198.

[2020-05-15 21:35] Rick-Anderson opened #18457 "Warn to add a timeout for RegEx on untrusted input"
We use [this include.](https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/includes/regex.md)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bd8ae60-9b02-3e9e-2318-982f563710c2
* Version Independent ID: d167e261-eb1b-967b-5a6f-cbc2207cd32d
* Content: [.NET Framework Regular Expressions](https://docs.micro

[2020-05-15 22:17] mr-intj opened #18458 "You're missing 50% of the example here"
This is a great example EXCEPT that it doesn't show the DllImport or StructLayout details from C#, which is the other (necessary) 50% that makes this useful...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678eaef3-eec4-dc52-1234-37e220f84682
* Version Independent ID: 38b09163-65d8-4d6c-1394-401e080ed6f0
* Content: [M

[2020-05-16 01:07] minecraftchest1 opened #18459 "Unable to install on raspberry pi"
I am able to follow the guide successfully, until I install the sdk. I am able to select the sdk with the tab key at the bash prompt. However, it says it can't find the package.
Here is the output.
pi@raspberrypi:~ $ sudo apt install dotnet-sdk-3.0
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-3.0
E: Couldn't find an

[2020-05-16 05:19] adhaliwal34 commented on #18451
`dotnet publish --configuration Release --runtime ubuntu.18.04-x64 --self-contained false`

project `.csproj` file:
`<TargetFramework>netcoreapp3.1</TargetFramework>`

[code]

[2020-05-16 05:27] aaltayyar opened #18463 "Method signature"
In Methods section it's written "The signature of a method doesn't include the return type.", but on C# concepts -&gt; Types (C# Programming Guide) page, it's written "The types of method parameters and return values are specified in the method signature.".
My question: is the method signature includes return type?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-16 06:56] Dani21 commented on #18459
At the beginning of the guide:

The processor is ARM, so you’ll need to do it manually.

[2020-05-16 09:18] AlirezaHaghshenas commented on #17274
@dagood Sorry, I missed the replies to this. Yes the problem was on my side (wrong apt source). But I think if that was written explicitly in the document, I'd be sure where (not) to look.

Thanks

[2020-05-16 10:01] memark commented on #15662
Well, it's still not optimal having to go to GitHub to see what the article is all about. The article contains numerous code example, why is the most important one the only one left out?

[2020-05-16 12:57] ericsampson opened #18465 "error in code sample"
In the code sample that shows the compiler-generated equivalent, the scope-creating outer braces that are called out*, are missing in the code.

 " The code example earlier expands to the following code at compile time (*note the extra curly braces to create the limited scope for the object):"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-05-16 13:07] Youssef1313 commented on #18463
In the [C# specification](https://github.com/dotnet/csharplang/blob/892af9016b3317a8fae12d195014dc38ba51cf16/spec/basic-concepts.md):

[2020-05-16 14:53] augustoproiete commented on #18227
This issue was resolved by #18228

[2020-05-16 15:59] dagood commented on #17274
That's a good point, I think it would make sense to point out that upgrades *should* work with the Linux package repos, and mention that re-running the repo install code can help fix version divergence (in particular after a distro upgrade).

Actually, since upgrades are a big reason to use the Linux package repos in the first place (rather than installing from binaries), it might be worth calling

[2020-05-16 17:44] Denis535 commented on #12736
I think you could add a note for clarity that this expression is something like: `expr is not null value`

[2020-05-16 19:28] elgonzo commented on #12736
No, it is not a typo. It produces `true`. Try it out... (for example on dotnetfiddle: https://dotnetfiddle.net/wnUlt0)

[2020-05-16 20:05] ryzngard opened #18467 "Missing -nullable"
Missing new -nullable compiler switch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b29fc27-0985-b3ea-e1d4-338c1dc126ed
* Version Independent ID: cc362e14-4bcb-0b38-36ce-9b8502e5e4e2
* Content: [C# Compiler Options Listed Alphabetically](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-optio

[2020-05-16 20:40] jaliyaudagedara opened #18468 "C# 8: Positional patterns: First example given even works with C# 7"
The following sample given under C# 8 Positional patterns, even works with C# 7.
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#more-patterns-in-more-places

[code]
- .csproj
[code]

[2020-05-17 06:25] svick commented on #18468
It does, because that sample doesn't actually use any C# 8.0 features. It's the `GetQuadrant` method that uses the C# 8.0 feature "positional patterns" and the `Point` class is necessary for that to work.

[2020-05-17 06:53] jaliyaudagedara commented on #18468
I see, I was a bit confused with the documentation. All good, thanks for the clarification!

[2020-05-17 06:53] #18468 closed

[2020-05-17 12:43] Florent125 opened #18474 "How do we call the dll in C# then?"
**Before you open an issue**

If the issue is:

- A simple typo or similar correction, consider submitting a PR to fix it instead of logging an issue. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, consider asking on a support forum site.
- A site design concern, create an issue at [MicrosoftDocs

[2020-05-17 12:45] Florent125 commented on #10308
Yes, how do we call it in C#?

[2020-05-17 14:21] Denis535 commented on #12736
Looks like it always produce ```true```.

[2020-05-17 15:30] reyesje08 commented on #18459
I encountered this issue and resolved myself - https://github.com/dotnet/docs/issues/18352

[2020-05-17 22:12] Tyler-IN opened #18476 "dotnet nuget add source doesnt' exist..."
[code]

Have .NET Core SDKs for 2.0 up to 3.1.2 installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08a1fa5-6267-3122-a377-5ba5b8503a07
* Version Independent ID: 1d2f0343-bda9-7e7a-34a9-f097635ff155
* Content: [dotnet nuget add source command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/do

[2020-05-17 23:04] ZeVS777 opened #18477 "Using List.Length instead of List.Any()"
Do you recommend using allTasks.Any() instead of allTasks.Length &gt; 0? I think that documentation must provide the right path to write code in programming guide. Why not to use Length where it is possible? People learning this languages then face the job interviews and failed at this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-05-18 02:10] PeterHuberSg opened #18478 "More code samples needed"
After using c# for 15 years, I am usually able to understand most new language features. But giving just the syntax of the Recursive Pattern Matching, I can't imaging how the resulting code looks like. Please add code samples to every case you describe here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9a3af6a-59dd-

[2020-05-18 10:54] Youssef1313 commented on #18477
Do you mean `Count`, not `Length`? I think List<T> doesn't have a `Length` property but have `Count`.

I'll try to run a benchmark test against both cases.

[2020-05-18 11:04] Youssef1313 commented on #18477
Count seem to be faster:

![image](https://user-images.githubusercontent.com/31348972/82206206-176c8f00-9908-11ea-8d58-bfeb3e1f5d50.png)

But let me ping @stephentoub before I make a PR.

[2020-05-18 11:14] pkulikov commented on #18477
Dancing away: what if to move the Console.WriteLine calls inside the corresponding async methods? Then, code in general would be shorter. In particular, tasks.WhenAll becomes possible without existing while loop?

[2020-05-18 11:23] Youssef1313 commented on #18477
@pkulikov, I like that!
While moving the `Console.WriteLine` calls to the corresponding async method, The issue https://github.com/dotnet/docs/issues/16987 will get fixed too.

[2020-05-18 12:15] stephentoub commented on #18477
If a type exposes Length/Count, from a micro-optimization perspective it's preferable to use that instead of Any(); from a reasonability perspective, I expect developer's opinions reasonably differ about which is more clear. In this code sample, I highly doubt the difference in throughout will be meaningful; even so, it's fine to change from my perspective.

[2020-05-18 13:20] IEvangelist commented on #18459
Hi @minecraftchest1,

Thank you for posting an issue. Based on comments from @reyesje08 (#18352) and @Dani21, it seems as though you this is expected behavior and you should be able to resolve this. If you still need assistance, we can reopen this issue. I'm going to close the issue for now.

[2020-05-18 13:20] #18459 closed

[2020-05-18 13:25] IEvangelist commented on #18227
Resolved by #18228

[2020-05-18 13:26] #18227 closed

[2020-05-18 14:56] tdykstra commented on #18476
Try `dotnet nuget` add instead of `dotnet add nuget`.

[2020-05-18 15:09] tdykstra commented on #18451
Is your project a web project? Nesting only happens on a web project, and I verified it still happens in 3.1.202 in a web project.

[2020-05-18 15:23] BillWagner commented on #18478
@PeterHuberSg This document is the language spec for pattern matching. Its purpose is to describe the language changes needed to support pattern matching.

We've added [this article](https://docs.microsoft.com/dotnet/csharp/tutorials/pattern-matching) that I think provides all the examples you're looking for.  If so, we'll close this. If not, let me know what information you still need.

Thanks ag

[2020-05-18 15:29] BillWagner commented on #18477
I'm fine will all the changes @pkulikov and @Youssef1313 have suggested.

Thanks all.

[2020-05-18 15:31] BillWagner commented on #18474
@Florent125 Can you add details to this issue? I'm not sure what you're asking for.

[2020-05-18 15:39] Florent125 commented on #18474
Sorry, but I wanted to point out the example from this link:
https://docs.microsoft.com/en-us/dotnet/framework/interop/marshaling-data-with-platform-invoke

[2020-05-18 15:42] BillWagner commented on #18465
Thanks @ericsampson for pointing this out.

I've opened #18480 to address this.

[2020-05-18 15:51] Thraka commented on #17274
Sounds good. I'll add this to the sprint.

[2020-05-18 16:30] Thraka commented on #18449
Thank you for opening this issue. I'll add it to the backlog.

Thanks again!

[2020-05-18 16:46] pkulikov commented on #18477
@Youssef1313 my guess is that you wanted to submit a PR?

[2020-05-18 16:51] Youssef1313 commented on #18477
@pkulikov I haven't started on it yet, I'm okay if you want to take it. If not, inform me and I'll try to start soon.

[2020-05-18 17:05] Youssef1313 opened #18483 "Outdated sentence"
See https://github.com/dotnet/docs/pull/18470#discussion_r426755917

[2020-05-18 17:10] #18463 closed

[2020-05-18 18:35] #17666 closed

[2020-05-18 18:36] pkulikov commented on #18477
@Youssef1313 no, I don't want to take it, please proceed.

[2020-05-18 19:23] Youssef1313 commented on #18477
While working on the issue, I found that WhenAll was already explained, then WhenAny was introduced as another option. So, I'll keep the code as-is for this part. and just move the snippets, make minor changes, and use .Count instead of .Any().

[2020-05-18 20:23] antmdvs commented on #18421
Thanks. Do you think there should be a disclaimer to that effect on the docs page in question?

[2020-05-18 20:24] vijayrkn commented on #18421
@antmdvs - I would hope so.

[2020-05-18 21:19] Youssef1313 opened #18488 "data-binding-overview project generates warnings"
The data-binding-overview sample project in desktop-wpf generates warnings:

[code]

Also, the C# sample has some unused files that doesn't exist in the equivalent vb sample. It also has some extra unused fields:

[code]

[2020-05-18 21:46] orcmid opened #18489 "Ugly monkey see, monkey do"
This elaborate process is not something I find heartening about simply wanting to explore F#.  I got through it successfully.  I immediately ran into two disturbing facets, apart from the elaborate dance with dotnet commands.

 1. I wanted to break down those long strings into something that fit more nicely into my VS Code editor window.
 2. The lack of punctuation and reliance on offside-spacing

[2020-05-18 23:16] gewarren commented on #18438
@eerhardt Do you know which preview version this change will be introduced in?

[2020-05-18 23:39] gewarren opened #18493 "Monthly chores - June 2020"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check github.com/microsoftdocs/feedback/issues for .NET issues
- [ ] Run [CATS tests](https://conte

[2020-05-19 00:47] DocumentationLive commented on #11171
Up until now in the C# Concepts section of the documentation we have not been introduced to "out parameters". I think it would be great if a brief description of what they do is included before being used as an example, as well as a link to read more on them. I was able to guess what was happening with some though, but I will need to go confirm my guesses.

[2020-05-19 01:45] DocumentationLive commented on #11171
I meant to leave that in a main thread, I don't have the power to remove it here. Opening a new comment. Sorry about that.

[2020-05-19 01:49] DocumentationLive opened #18495 "out parameters could be explained to help the reader understand the example better"
Up until now in the C# Concepts section of the documentation we have not been introduced to "out parameters". I think it would be great if a brief description of what they do is included before being used as an example, as well as a link to read more on them. I was able to guess what was happening with some thought, but I will need to go confirm my guesses.

---
#### Document Details

⚠ *Do not ed

[2020-05-19 02:09] dengere opened #18496 "few changes"
nameof(Amex) could be better than "Amex".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7c91ccc35779
* Content: [Using Enumeration classes instead of enum types](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/mic

[2020-05-19 02:46] PeterHuberSg commented on #18478
Agreed. I didn't follow that link, sorry.

Thanks for your swift response.

[2020-05-19 02:46] #18478 closed

[2020-05-19 08:49] adhaliwal34 commented on #18451
It is a web project `.csproj` has this:
`<Project Sdk="Microsoft.NET.Sdk.Web">`

I re-read the doc and I think all is well the issue can be closed.

The doc says `To avoid nesting publish folders, specify a publish folder that is not directly under the project folder`. My publish folder is not **directly** under the project folder so the behaviour is correct.

I assume you tested with `<project fo

[2020-05-19 08:51] adhaliwal34 commented on #18451
Apologies for the bother :)

[2020-05-19 13:01] IEvangelist commented on #18496
Hi @dengere,
There are a few other changes too that I'd probably make to this C# and the content of the article. Thanks for posting this issue, I'm marking it as `up-for-grabs` and leaving a few additional notes here for any takers.

- [ ] Modernize C# bits
- [ ] Review content for accuracy, grammar, and relevancy
- [ ] Consider removing links to old blogs

#### Considerations

Tuple .ctor, expres

[2020-05-19 14:36] BillWagner commented on #18483
Thanks for noting this @Youssef1313

Do you want to create a PR for this?

[2020-05-19 14:39] BillWagner commented on #18495
Thanks for writing this @DocumentationLive

This article should link to the reference on `out` parameters. That way those readers unfamiliar with that topic can find the more detailed information they need easily.

[2020-05-19 15:02] Youssef1313 commented on #18483
I'd leave it to someone who knows the correct and most updated info

On Tue, May 19, 2020, 4:36 PM Bill Wagner <notifications@github.com> wrote:

[2020-05-19 15:24] #18453 closed

[2020-05-19 15:43] #8117 closed

[2020-05-19 15:43] #16129 closed

[2020-05-19 15:43] #18432 closed

[2020-05-19 15:48] MartinNolte opened #18503 "Update for EventRecordWrittenEventArgs.EventException Property"
**Issue description**
We hit a problem with where a ticket was raised for Microsoft Support.
The problem is about an  your event watcher application which is using "System.Diagnostics.Eventing.Reader" namespace (.NET 4.8).
The customer has observed that the EvtNext API https://docs.microsoft.com/en-us/windows/win32/api/winevt/nf-winevt-evtnext (wevtapi.cpp) is being called by the EventLogWatcher A

[2020-05-19 15:48] tdykstra commented on #18451
No problem 😄 The word "directly" is easy to miss, so to help avoid misunderstandings in the future I'll put that word in bold.

[2020-05-19 16:07] BillWagner commented on #1264
This was fixed in #17218

[2020-05-19 16:07] #1264 closed

[2020-05-19 16:27] tdykstra opened #18505 "Restructure .NET Core tutorials toc"
* Organize by VS/VSC-CLI/VSM swim lanes.
* Move Overview from start to end and rename as "More tutorials".
* Link to relevant tutorials in other folders and doc sets, especially to NuGet for package use and publishing.

[2020-05-19 16:30] tdykstra opened #18506 "Update Visual Studio tutorials swim lane"
* Tutorial sequence:
  * Create console app
  * Debug
  * Publish app
  * Create library
    * Add console app to use the library
    * Retire current Use library tutorial and redirect to NuGet Install-and-use tutorial
  * Unit test library
    * In Next Steps, link to VS doc set Unit test tutorial and .NET Core unit test tutorials
  * NuGet Create and publish package with VS tutorial
  * NuGet In

[2020-05-19 16:31] tdykstra opened #18507 "Make VS Code get started tutorial follow pattern of VS equivalent"
* Create and run
* Modify and rerun

[2020-05-19 16:33] tdykstra opened #18508 "New VS Code debugging tutorial following pattern of VS equivalent"
* Set breakpoint
* Set conditional breakpoint
* Step through
* Build a release version

[2020-05-19 16:34] tdykstra opened #18509 "New VS Code publish app tutorial following pattern of VS equivalent"
* Publish to folder
* Inspect files

[2020-05-19 16:35] tdykstra opened #18510 "New VS Code create library tutorial following pattern of VS equivalent"
* Create solution and project
* Create console app project

[2020-05-19 16:38] tdykstra opened #18511 "Update Visual Studio code tutorials swim lane"
* Tutorial sequence:
  * Create console app
  * Debug
  * Publish app
  * Create library
  * Unit test - link to .NET Core unit test tutorials
  * NuGet Create and publish package with CLI tutorial
  * NuGet Install and use package with CLI tutorial

[2020-05-19 16:39] tdykstra opened #18512 "Update Visual Studio for Mac swim lane"
* Tutorial sequence:
  * Create console app
  * Create library
  * Unit test
  * NuGet Install and use package with VS for Mac tutorial

[2020-05-19 16:45] tdykstra opened #18513 "Make VS for Mac create solution tutorial follow pattern of VS equivalents"
* Split into separate tutorials
  * Create library
    * Create solution and project
    * Create console app
  * Unit test library
    * In Next Steps, link to VS doc set Unit test tutorial and .NET Core unit test tutorials

[2020-05-19 16:54] eerhardt commented on #18438
I just opened the PR that removes the library - https://github.com/dotnet/runtime/pull/36707. Assuming the PR gets merged in the next few days, it will be in `5.0.0-preview.5`.

[2020-05-19 17:51] tarekgh commented on #18503
I suggest in the page https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.eventing.reader.eventrecordwritteneventargs.eventexception?view=dotnet-plat-ext-3.1#System_Diagnostics_Eventing_Reader_EventRecordWrittenEventArgs_EventException We can add a remark section telling something like the following:

`The event subscription could fail if the server producing the events start to fail. A

[2020-05-19 18:47] mr-intj opened #18514 "Typo"
&gt; DO only use LayoutKind.Explicit in marshaling when your native struct is also has an explicit layout, such as a union.

"is also has"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693350de-e55a-32d9-80fb-14aee1434800
* Version Independent ID: 9fb68cd6-ce65-ac2e-05b4-74a8c9172627
* Content: [Customizing structure

[2020-05-19 19:38] IEvangelist commented on #10653
Please feel free to use this new functionality from the Docs Authoring Pack when it is released tomorrow: https://github.com/microsoft/vscode-docs-authoring/pull/585

[2020-05-19 21:42] Marusyk commented on #18496
Hello @IEvangelist,

Could you please explain the benefit of using Tuple .ctor here? It's harder to understand for the newcomers and didn't add any improvements (yeah, except fewer lines of code).

I think Tuple .ctor should define in a code style guidelines for your development team. It is not a mandatory or common use case.  It depends on your preferences but adds complexity to understand to peo

[2020-05-19 21:54] #18423 closed

[2020-05-20 02:21] NextTurn commented on #10653
@IEvangelist How can I execute this command on all candidate files in a directory?

[2020-05-20 03:25] brian-reichle commented on #6898
@rpetrusha , whilst the fix has added documentation regarding open generic type names, it's still missing information on closed generic types.

eg. the following are all [valid](https://dotnetfiddle.net/MgfoZk), yet not covered.
*  ``System.Nullable`1[System.Boolean]``
*  ``System.Nullable`1[[System.Boolean]]``
* ``System.Collections.Generic.Dictionary`2[System.String,System.Int32]``
* ``System.Co

[2020-05-20 12:52] IEvangelist commented on #10653
Hi @NextTurn - I'll see what I can do, but I originally didn't add that functionality. Although, that sounds like the desired way to do this.

[2020-05-20 13:07] nlaveck opened #18520 "Incorrect Protobuf Snippet"
In section https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/migrate-request-reply#convert-the-datacontract-classes-to-grpc-messages, the second ProtoBuf snippet has a message named `PortfolioList`.  This message name should be `GetAllResponse` to match the gRPC service method reference as well as the rest of the documentation.

---
#### Document Details

⚠ *Do not edit

[2020-05-20 13:19] IEvangelist commented on #18496
Hi @Marusyk,

Thank you for reaching out, I'm good with that. I was just stating a few things that I probably would have done and marked this as `up-for-grabs`. I didn't even have it open in an IDE, but I hear your concerns and agree with them to an extent. I agree that tuple .ctor is controversial and that it is a matter of preference. I also agree that we should try to keep synchronized with the

[2020-05-20 13:20] #16987 closed

[2020-05-20 13:20] #18477 closed

[2020-05-20 15:13] Thraka commented on #18235
Duplicate of #17638

[2020-05-20 15:20] #18451 closed

[2020-05-20 15:46] Thraka commented on #18421
@vijayrkn I would seriously consider updating this repo and maintaining it. It's a gold mine for examples of creating templates and as soon as it goes out of date it's going to be completely worthless.

[2020-05-20 15:53] #18465 closed

[2020-05-20 15:57] Sojaner commented on #18476
Not working.

[2020-05-20 16:17] tdykstra commented on #18476
I can't repro the failure.  When I use the command you show in the description but reverse the order of "nuget" and "add", it works.  What output do you see?

[2020-05-20 16:33] adhaliwal34 commented on #18451
Good idea, thank you!

[2020-05-20 17:22] #18421 closed

[2020-05-20 17:33] Youssef1313 opened #18528 "Unary operator associativity"
Under the `Operator associativity` heading, there are examples on left associative operators, and right associative operators. None of these examples mention the unary + or the unary -.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eeac581-6235-2192-d909-e7fe3d21197f
* Version Independent ID: 9d8e2a57-1c18-8cba-9bd4-

[2020-05-20 18:18] FISHMANPET opened #18529 "Would it be possible to have a machine-readable format for at least the Minimum versions?"
I have an automated process that checks to verify that the `latest` version of .Net has been installed, and I'd like to make the determination on what is `latest` a little more dynamic.  Currently I can grab the source of this page, and do some string magic against the raw markdown to read the data in the Minimum Version table, but any changes to the formatting of this page would probably break wh

[2020-05-20 18:39] WelshHighlander opened #18530 "GadgetInventor"
Like many, I wished to see the methods referenced, but which are undefined (e.g. FryEggsAsync), because it is important in this context to see how these methods are consuming time.  The links to the example code, which is presumed to be complete, are all broken.

Nice work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-05-20 20:10] Zastai opened #18532 "dotnet list reference does not support solutions as advertised"
The documentation (both this help page and the tool's built-in usage text) claims that you can pass a solution.
However, when you do so, it errors out with
[code]

Similarly, when run in a directory containing a solution but not a project, you get:
[code]

Note: this is with the just-released 3.1.300 SDK.
A quick test with 5.0-preview4 shows the same behaviour.

---
#### Document Details

⚠ *Do no

[2020-05-20 20:23] tdykstra commented on #18532
Thanks for reporting that - I'll remove the reference to Solution as an argument. When I run the command with the --help option it already omits reference to Solution.

[2020-05-20 20:46] Zastai opened #18534 "`--deprecated` option not documented"
The current .NET Core 3.1 SDK (3.1.300) includes the following in `dotnet list package -h`:
[code]

However, this option is not included in the documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8400fd6a-d987-1056-283f-9364fbce3c86
* Version Independent ID: 3d4b052c-33fa-cc83-4df6-4a3341f12763
* Content

[2020-05-20 20:48] gewarren commented on #18529
@BillWagner or @thraka Any thoughts on this one? This would be unusual to include a JSON file in the docs repo.

[2020-05-20 20:53] BillWagner commented on #18529
Adding @leecow

I think there may be a machine readable format of this info in one of the product repositories.

[2020-05-20 20:54] ashalogic opened #18535 ""YOLO9000" author name is wrong"
it's "Farhadi" not "Fadhari" 😊

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f95783-f8d3-b884-a67e-131eba39f59c
* Version Independent ID: 622956b7-6556-7d5b-a6d1-436ceb9e68e6
* Content: [Tutorial: Detect objects using an ONNX deep learning model - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/tuto

[2020-05-20 20:57] #18287 closed

[2020-05-20 20:57] FISHMANPET commented on #18529
To be clear I don't think it needs to be in this repo specifically, or be JSON specifically even, those were just some suggestions.

[2020-05-20 21:01] tdykstra opened #18536 "Clarify that --source option takes URI, not source name"
See https://github.com/NuGet/Home/issues/9511#issuecomment-624739526

[2020-05-20 21:24] #18225 closed

[2020-05-20 21:26] leecow commented on #18529
With every release, we publish files that can be used for keeping up with the latest. The following redirect URLs are all pointed at the respective asset on https://dotnetcli.blob.core.windows.net/dotnet/release-metadata. Alternatively, these files can be accessed from github.com/dotnet/core/release-notes.

https://aka.ms/dotnet/releases/index/json
https://aka.ms/dotnet/releases/latest/lts
https:/

[2020-05-20 21:31] FISHMANPET commented on #18529
@leecow Those are all .Net Core, I'm interested in the .Net Framework, which is what this page is about.

This isn't particularly important in the grand scheme of things, major .net releases are pretty infrequent, and I know the next major release will be the cross platform 5.0 (which will come with a whole new way of detecting the version!).  I don't know if there will ever be a .Net Framework 4.

[2020-05-20 21:44] v-radelg opened #18539 "Fix compile"
@cdalmasso commented 7 hours ago — with docs.microsoft.com

To compile when using List&lt;Repository&gt; it is necessary to add
using System.Collections.Generic;
using WebAPIClient;
in order to compile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b

[2020-05-20 21:58] sbittam commented on #17429
I am getting same error, would please let me know how to fix it

[2020-05-20 22:07] vrdevendra opened #18540 "Not able to understand the example"
[Enter feedback here]
Can anyone please explain how the MultiHandler method will call to the  this.button1.KeyDown and this.button1.MouseClick event?
It would be great if anyone completes the solution, this solution is a little hard to understand.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f38da104-ca1b-7cc2-15d6-f6

[2020-05-20 22:44] leecow commented on #18529
@FISHMANPET, sorry for missing that. I'm not aware of a similar mechanism for .NET Frame and, as you say, Framework updates are becoming quite rare. With respect to .NET 5.0, that is already included in the assets I listed.

[2020-05-21 02:27] mitchcapper commented on #18349
Just use the country?
[code]

[2020-05-21 08:13] pkulikov commented on #18528
@Youssef1313 how do you define associativity for the unary operators?

According to, let's say, [Wikipedia](https://en.wikipedia.org/wiki/Operator_associativity):

I can't think of the example when one operand is both preceded and followed by an unary `+` or `-`.

[2020-05-21 09:14] Youssef1313 commented on #18528
Check [C++ Operator Precedence](https://en.cppreference.com/w/cpp/language/operator_precedence), it mentions associativity for unary operator. I *think* it's determined by whether the operator comes first or the operand comes first, however, not so sure. So, I opened an issue instead of a PR.

[2020-05-21 10:27] pkulikov commented on #18528
@Youssef1313 thanks for the link. The linked article states the following:

I think this more fits the language specification, rather than "usual" docs, as that appears obvious. I have an impression that everybody interprets the expression `-+-+4` as `-(+(-(+4)))`. So, no need to overload the docs with "unary prefix operators are associative right-to-left", which can be confusing instead. Contrary

[2020-05-21 11:20] Youssef1313 commented on #18528
Sounds good.
@BillWagner, May you move this to the csharplang repo?

[2020-05-21 12:24] wybgsn opened #18564 "a little fault about instructions in the struct "Char"`s functions"
**Visual Studio Version**:
16.5.5
**Summary**:
There`s a little fault in System.Char, a lot of functions` instructions written by Chinese in that file
discribe the name of parameter as "true“, actually it should be "c" or "s".

**Steps to Reproduce**:

1.

2.

3.

**Expected Behavior**:
如果 c 是一个字母，则为 true；否则为 false。(Others all like this)
**Actual Behavior**:
![1](https://user-images.githubusercont

[2020-05-21 12:40] kosist commented on #18540
I guess that this is vice versa - when events "KeyDown" or "MouseClick" will be triggered (raised), then "MultiHandler" will be executed, because this is event handler of those two different events. (in your question it sounds like MultiHandler method will call KeyDown or MouseClick, which I guess is not correct). And, we can assign this event handler to those events, because they both have event

[2020-05-21 13:55] BillWagner commented on #18539
Thanks for writing this @cdalmasso

I've added this to our backlog, and added the "up for grabs" label if community members want to submit a PR for this.

[2020-05-21 14:07] #18535 closed

[2020-05-21 14:37] jahbenjah opened #18548 "Anonymous types equality and order of properties"
two anonymous objects with the same Properties in different order should be equal ?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e783650c-e063-e268-316e-564362cb1e37
* Version Independent ID: aa9f4996-cab4-0bed-6452-213342453785
* Content: [Expressions - C# language specification](https://docs.microsoft.com/e

[2020-05-21 14:44] IEvangelist commented on #18548
Hi @jahbenjah,

What is the question here? I'm not sure I understand what this issue is asking, please clarify.

[2020-05-21 14:51] jahbenjah commented on #18548
Hi @IEvangelist

sorry, i update my question. I think this phrase _**"so that two instances of the same anonymous type are equal if and only if all their properties are equal"**_ must include the order of properties.

[2020-05-21 14:54] IEvangelist commented on #18548
Ah, ok. I see what you're saying now. So the statement would need to be updated to include order.

We'll happily review a pull request, I've updated this issue and marked it as "up for grabs" - thank you.

[2020-05-21 15:45] mrlife opened #18551 "Link to Affected APIs goes to incorrect location"
The "Affected APIs" at the end of this paragraph should go to the first #affected-apis anchor after the link but goes to the first #affected-apis anchor on the page, since #affected-apis is repeated and not unique.

In ASP.NET Core 3.0, SignalR adopted endpoint routing. As part of that change, the UseSignalR, UseConnections, and some related methods were marked as obsolete. In ASP.NET Core 5.0, th

[2020-05-21 16:15] Thraka commented on #18292
@hlevene Your email response seems to have shown up in github malformed. Can you reply directly on github? Thanks!

[2020-05-21 16:21] Thraka commented on #18315
@kaanchan VBA isn't the same as VB.NET. You should read the article related to VBA that I found: https://docs.microsoft.com/en-us/office/vba/Language/Concepts/Getting-Started/understanding-named-arguments-and-optional-arguments

However, the end of the article says to use this link for support: https://docs.microsoft.com/en-us/office/vba/articles/feedback-support

[2020-05-21 16:22] #18315 closed

[2020-05-21 16:25] Zastai opened #18552 "Minor typo in docs for --output-directory"
That should probably be

instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test#feedback)
* Content Source:

[2020-05-21 16:53] Thraka commented on #18457
Thanks @Rick-Anderson

[2020-05-21 16:54] Thraka commented on #18514
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-05-21 16:54] Thraka commented on #18552
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-05-21 16:56] Thraka commented on #18488
Are you referring to the files in the snippets folder here in this repo? If so, these aren't meant for general consumption, they're purely for compiling the snippets used via docs. The separation of samples and snippets we made earlier in the year was to reinforce this idea.

[2020-05-21 17:08] Thraka commented on #18503
@tarekgh would you like to submit a PR to that article?

[2020-05-21 17:22] KathleenDollard commented on #18405
Bill wanted a placeholder for some work we were discussing. I really don't have this much detail yet.

[2020-05-21 17:41] rogerzanelato opened #18553 "Set Language for Generated Resource Class File"
How can I set the language in which the comments are going to be generated on the Resource Class?

For example, using the tool like this:
resgen Fields.User.resx Fields.User.resx /str:c#,ContosoUniversity.Resources,Fields_User,Fields.User.Designer.cs -publicClass

Generates the Fields_User class as expected, but, the comments on the file are in a different language than when automatically generate

[2020-05-21 17:43] gewarren commented on #18551
@mrlife Good catch, thank you. @scottaddie Can you fix this one? Maybe add an explicit anchor or something.

[2020-05-21 17:44] Youssef1313 commented on #18488
@Thraka, [This](https://github.com/dotnet/docs/tree/master/samples/snippets/desktop-guide/wpf/data-binding-overview) is the folder I was referring to. Good to know they're not meant for general consumption. But still wondering why the C# folder isn't in-sync with the VB one?

Also, some files there are not referenced in the article, is there an on-going work to include them in the article? if not,

[2020-05-21 17:49] #18395 closed

[2020-05-21 17:53] #18176 closed

[2020-05-21 17:59] #17807 closed

[2020-05-21 18:04] #18532 closed

[2020-05-21 18:05] Youssef1313 commented on #18488
To be more specific, here are the files that exists in the C# folder but not the VB one:

- AutoConvertPropertyToColor.xaml
- AutoConvertPropertyToColor.xaml.cs
- DataValidation.xaml
- DataValidation.xaml.cs
- DateConverter.cs
- EmptyBinding.xaml
- EmptyBinding.xaml.cs
- SpecialFeatures.cs

The files that're not in sync

- App.xaml vs Application.xaml (different StartupUri)
- AuctionItem (more pro

[2020-05-21 18:21] BillWagner commented on #18528
Good discussion.  This isn't a spec bug. The note @pkulikov has in his previous comment explains why. Consider this fragment:

[code]

It's not ambiguous. Both are prefix operators, and bind to the expression to the right of the operator. They must be evaluated in that order:  `(-++)x` doesn't make sense.

I'm not closing this, because I'd like to resolve the question for this page and if an examp

[2020-05-21 18:45] IEvangelist commented on #15041
Hi @ancich,
I appreciate the issue posted here, however; it is beyond the scope of the intended article. The question really is asking about adding to collections in a while loop - which I agree is valuable to understand. But as @gabeluci, shows above this can be done by simply calling `.Add`.

[code]

I'm going to close this issue, but if you feel as though we need to continue the dialog - we can

[2020-05-21 18:45] #15041 closed

[2020-05-21 18:50] WinformsWizard opened #18554 "Source has spaces"
How to remove a source if it's name has spaces? I tried typing it with spaces but it didn't work.
I also tried removing the spaces, and replacing them with underscores

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cb4bcff-70ad-2655-f246-9e586940119a
* Version Independent ID: 168ac3d5-8a09-5584-c4c6-78cabbe39818
* Con

[2020-05-21 19:14] mikadumont opened #18556 "Documentation doesn't fully translate to other languages"
We received this request regarding documentation not fully translating from English to other languages: https://developercommunity.visualstudio.com/content/idea/1024535/go-to-the-docsmicrosoftcom-from-classes.html

For example here is the same page in Russian:
https://docs.microsoft.com/ru-ru/dotnet/api/system.console.writeline?view=netcore-3.1#System_Console_WriteLine_System_String_

Notice how a

[2020-05-21 19:15] #18556 closed

[2020-05-21 20:31] #17064 closed

[2020-05-21 20:39] Zastai commented on #18552
I considered doing that but assumed there would be procedures in place etc, which is why I created a ticket instead.
PR entered now. I didn't touch the ms.date line; I assume that's maintained by tooling. Incidentally, what tooling is used to process things like the <xref>s?

[2020-05-21 20:51] sujithmp opened #18559 "Great content!"
I have been googling for hours for this! Finally, I got it thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965c8ae7-7e10-fa78-8797-6df625d020d8
* Version Independent ID: d4570cd2-f4f9-4d5e-8361-774a6d4027e9
* Content: [Defining your multi-container application with docker-compose.yml](https://docs.microsoft.com/

[2020-05-21 20:52] #18559 closed

[2020-05-21 21:36] MikeHillberg opened #18561 "Static method calls are missing class name"
In several places the sample code is missing class names in static method calls. For example it's `Console.WriteLine(...)`, not `WriteLine(...)`. And it's `SyntaxFactory.IdentifierName("System")` not `IdentifierName("System")`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 442d453e-38dd-ed79-741c-813429a41822
* Versio

[2020-05-21 21:48] #18552 closed

[2020-05-21 21:59] tdykstra commented on #18552
ms.date updates are manual but we don't always update it for small changes -- it's mainly for significant updates or when we've done a review to verify that the doc is up-to-date.

If you mean how do we correct typos like that, it's by creating a PR, having someone review it, and having someone merge it -- it's all a manual process.

[2020-05-21 22:10] tdykstra commented on #18554
Put the name in quotes, eg.:  `dotnet nuget remove source "name with space"`

[2020-05-21 22:16] Zastai commented on #18552
Ah github removed the tag - I was referring to the xrefs etc that get resolved to links on docs.ms.com

[2020-05-21 22:33] WinformsWizard commented on #18554
thank you!

[2020-05-21 22:33] #18554 closed

[2020-05-21 22:35] tdykstra commented on #18552
That's done automatically when the Markdown files are converted to HTML by OPS (the Open Publishing System).

[2020-05-21 22:49] daveops1 opened #18562 "Program.cs snippets missing using statement for extension methods"
I believe a using statement is needed for the LinqFaroShuffle namespace in the Program.cs file (at least should be made explicit in the docs, when not using Visual Studio - as it does this automatically for you when adding a new item).  When using Visual Studio Code and creating the new Extensions.cs file, you also need to make sure the namespace of the file is included via using statement in Prog

[2020-05-21 23:47] abatishchev opened #18563 "dotnet-install.ps1 doesn't have parameter -Help"
Steps to reproduce the issue:

1. Download the script:
[code]
2. Run the script with parameter `-Help` per the doc
[code]

Actual behavior:

&gt;dotnet-install.ps1: A parameter cannot be found that matches parameter name 'Help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Versi

[2020-05-22 05:06] wybgsn commented on #18564
https://docs.microsoft.com/zh-cn/dotnet/api/system.char.isletter?view=netframework-4.8
I'm sorry, but I'm just a beginner. I saw this only occasionally, and I didn't know how to get in touch with the people who managed it. I would appreciate it very much if you could help me to tell them about it.

[2020-05-22 08:21] Sojaner commented on #18476
As you can see in the following picture, the `dotnet add nuget` command requires a project to work, however, I'm trying to add the source globally.

![image](https://user-images.githubusercontent.com/1634835/82646487-f613e780-9c14-11ea-8822-3decfbdba7cf.png)

The `dotnet nuget add` is not recognized either as you can see.

And I can't install the nuget tool either. See here:

![image](https://user

[2020-05-22 08:22] pkulikov commented on #18528
@BillWagner as I've mentioned above, I don't see the need to update the page as the behavior looks to be straightforward.

[2020-05-22 13:52] BillWagner commented on #18528
Closing per discussion and upvotes.

[2020-05-22 13:52] #18528 closed

[2020-05-22 13:59] BillWagner commented on #18561
Thanks for pointing this out @MikeHillberg

We were experimenting with `static using` in several samples. We've learned that doesn't work as well in our sample code as it does in shared projects.

The `static using` statements should be removed, and the class names should be added back on the static calls.

I've added this to our backlog, and added the "up for grabs" label if community members wan

[2020-05-22 14:20] BillWagner commented on #18562
Thanks for pointing this out @daveops1
I'll be making some updates to this article next month, and I'll address these comments at that time.

[2020-05-22 15:16] #18536 closed

[2020-05-22 15:50] tdykstra commented on #18476
As this is a NuGet command and there doesn't seem to be an error in the dotnet documentation, I'm  moving this issue to the nuget/home repo -- https://github.com/NuGet/Home/issues/9597

[2020-05-22 15:50] #18476 closed

[2020-05-22 15:56] tdykstra commented on #18563
@donJoseLuis can you help with this?

[2020-05-22 16:18] tdykstra commented on #18553
@vivmishra do you know who could help with this?

[2020-05-22 16:19] #18505 closed

[2020-05-22 16:23] ranjan-ranjan opened #18572 "clarification on content"
Under [Test the asynchronous solution](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/walkthrough-accessing-the-web-by-using-async-and-await#test-the-asynchronous-solution), its given that

I think it's not possible as we have already used
`// Disable the button until the operation is  #complete.
startButton.IsEnabled = false;`
and
`// Reenable the button in case y

[2020-05-22 18:07] MikeHillberg commented on #18561
I see, maybe it's fine. The sample code is spread across multiple code blocks, which I think is good, but I missed the earlier static using declarations.
Thanks

[2020-05-22 18:56] larinlonappan opened #18574 "ADO.NET"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0be085-e177-a711-c00c-9a994e40f3e7
* Version Independent ID: 6a508a11-62bb-eaff-c8ff-6c84ca35adc4
* Content: [Data and modeling - .NET](https://docs.microsoft.com/en-us/dotnet/framework/data/)
* Content Source: [docs/framework/data/index.md](https:/

[2020-05-22 20:01] VajjalaPravalika opened #18576 "test"
[Enter feedback here]

test
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350a9ca4-1407-4f80-0e3c-05609687c014
* Version Independent ID: 6ae6a540-0822-5e2d-cf75-97f064fa0961
* Content: [Tour of .NET](https://docs.microsoft.com/en-gb/dotnet/standard/tour)
* Content Source: [docs/standard/tour.md](https://github.com/dotn

[2020-05-22 21:02] JeFFBlanco commented on #18476
I encountered the same issue; just make sure you're on the latest/greatest version of the [.NET Core SDK](https://dotnet.microsoft.com/download) -- I just downloaded .NET Core SDK `3.1.300` and `dotnet nuget` now has `add` command:

[code]

[2020-05-22 21:26] Sojaner commented on #18476
Great! Will give it a try soon. Thanks!

[2020-05-22 21:34] hlevene commented on #18292
Using an alias to define the key.

Group By CountryName = cust.Country
                           Into RegionalCustomers = Group, Count()
The example has an "=", while the description doesn't include that syntax.

[2020-05-22 23:06] NimbleKelly opened #18582 "Publish section output is inconsistent with the sample program"
If you follow this example through sequentially, the section before Publish has the reader use multiple files and update the main program to print out the Fibonacci sequence up to 377.  The publish section indicates that the program output after publishing is Hello World, which is inconsistent with the expected Fibonacci sequence output.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-22 23:38] tarekgh commented on #18503
@Thraka could you point me to the file I can edit?

[2020-05-23 04:57] abdelzahermohamed opened #18595 "ml.net"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4185570-21cc-dcdb-62fd-d05bceb62f81
* Version Independent ID: 4f0fe52a-a771-d044-593d-2bb65df15e0d
* Content: [Data transformations - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/transforms)
* Content Source: [docs/machi

[2020-05-23 12:02] DonaldRich opened #18604 "No indication that using System.Diagnostics is needed to use DebuggerDisplay"
System.Diagnostics must be used to enable the use of DebuggerDisplay. This is not stated and can only be found in the sample code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd89f475-d864-6482-38cb-00ee36a656e1
* Version Independent ID: e83ca648-0e90-9e16-9279-046cea01993e
* Content: [Enhancing Debugging with the D

[2020-05-23 20:11] kilitary opened #18605 "very"
n1**c**3

[2020-05-24 00:56] shartte opened #18606 "String Marshalling for Delegates passed as Function Pointers"
The page mentioned below is missing information on how strings are marshalled when they are passed back from unmanaged to managed code as arguments to a callback function.

Example (pseudocode):

[code]

The bit that is unclear here: When an unmanaged function returns a string from a function call, the CLR assumes that the memory was allocated with CoTaskMemAlloc and assumes ownership.
This behavi

[2020-05-24 01:32] robloo opened #18607 "Change "ID" to "Id""
Identifier should be abbreviated "Id" instead of "ID" following Microsoft's naming guidelines.
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d85f4d3-fbb1-2aba-9acb-a1b5122bc484
* Version Independent ID: 19163540-1a7d-2524-37

[2020-05-24 09:04] 2jacobtan opened #18609 "Tour of F#: in "Pattern Matching" section, the second example code fails compilation"
![image](https://user-images.githubusercontent.com/12626411/82749627-01b20a80-9ddd-11ea-8452-bed2492eb6aa.png)

I added a type annotation to fix it.

![image](https://user-images.githubusercontent.com/12626411/82749922-2ad39a80-9ddf-11ea-90c4-b6f39c352c42.png)

Hope this helps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-24 17:05] amlaminaar opened #18611 "Duplicate paragraph in Architecting-Cloud-Native-NET-Apps-Azure"
There are repeated content at several place in this book e.g. at Page 37
"Containers are immutable. Once you define a container, you can recreate and run it exactly the same way. This immutability lends itself to component-based design. If some parts of an application evolve differently than others, why redeploy the entire app when you can just deploy the parts that change most frequently? Differe

[2020-05-24 18:43] larinlonappan opened #18613 "ObjectShredder"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0be085-e177-a711-c00c-9a994e40f3e7
* Version Independent ID: 6a508a11-62bb-eaff-c8ff-6c84ca35adc4
* Content: [Data and modeling - .NET](https://docs.microsoft.com/en-us/dotnet/framework/data/)
* Content Source: [docs/framework/data/index.md](https:/

[2020-05-24 21:06] mr-intj opened #18614 "Incorrect or out-of-date information?"
I can't find any reference to `COR_E_CORE` or `CoreException` in any of the Microsoft online docs. It's not mentioned in 3rd-party sources either, except when included in a list that was likely copied from this page.

There's no trace of the `COR_E_CORE` preprocessor symbol being defined in any of the SDK header files either, as far as I can tell.

Either these two are otherwise undocumented, or t

[2020-05-24 21:06] kosist commented on #18605
Isn't it spam?

[2020-05-24 21:30] mr-intj opened #18615 "Another vapor-constant and class?"
The table on this page maps the HRESULT identified by the `COR_E_WEAKREFERENCE` preprocessor symbol to the .NET `WeakReferenceException` exception class.

I can't find any definition for that preprocessor symbol (either by searching the SDK header files, or by searching online sites and source control repositories.

I can't find any evidence that a `WeakReferenceException` class exists in .NET.

A

[2020-05-24 21:39] mr-intj opened #18616 "Another non-existent constant and .NET class?"
This time it's the mapping of HRESULT constant (preprocessor symbol) `COR_E_VTABLECALLSNOTSUPPORTED` and .NET exception class `VTableCallsNotSupportedException`.

I can't find any definition for either symbol or class, either by searching the SDK header files, or by searching online sites and source control repositories.

I can't find any evidence that a `VTableCallsNotSupportedException` class ex

[2020-05-25 03:37] AlexZazu opened #18618 "Affect instead effect"
Not big deal. Just a confusion with the word affect and effect in the first paragraph at the beginning of the page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4dcb4da-bdb8-853d-678a-9c5130921ecb
* Version Independent ID: 1dbe0544-77c2-c70f-8406-2bca85e914e8
* Content: [Passing Value-Type Para

[2020-05-25 08:32] svick commented on #18618
Do you want to submit a Pull Request to make the change? If you do and don't know how, you can follow [this guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents).

[2020-05-25 09:24] maapp commented on #18174
Any news? I'd also be interested :)

[2020-05-25 14:58] #18340 closed

[2020-05-25 14:58] #18333 closed

[2020-05-25 15:25] bergerb commented on #18539
#18612

Fixing how we create the project addresses this issue in the tutorial.  Sorry I added this to another PR.

[2020-05-25 16:15] ardalis commented on #6157
@tdykstra should this have the guide ASP.NET Core web apps label? It doesn't seem related to that.

[2020-05-25 16:16] ardalis commented on #6296
@tdykstra Should this issue be related to the guide - ASP.NET Core web apps?

[2020-05-25 16:16] ardalis commented on #9791
@tdykstra This isn't related to ASP.NET Core - can you remove the guide - ASP.NET Core web apps label?

[2020-05-25 16:24] ardalis commented on #15928
@tdykstra can you remove the guide - ASP.NET Core web apps label from this issue? Thanks.

[2020-05-25 16:30] regal60740 commented on #9791
I retired last summer. I will no longer be working on this. Thanks.

[2020-05-25 16:30] #9791 closed

[2020-05-25 16:32] ardalis commented on #16438
Addressing with https://github.com/dotnet/docs/pull/18622.

Note: eBook already has copyright and action links sections. Added a better Version description. Links to microservices ebook are intentional so readers can easily access information about either microservices-based or monolithic-based architectures. The microservices book should include a similar link back to this book.

[2020-05-25 16:56] kevinoid opened #18623 "Guidance for implementing IAsyncDisposable"
It would be great if this documentation mentioned implementing [`IAsyncDisposable`](https://docs.microsoft.com/en-us/dotnet/api/system.iasyncdisposable) for asynchronous disposal and provided some guidance for how to extend the disposal pattern to include asynchronous disposal.

Related:
* https://stackoverflow.com/q/58112716
* dotnet/roslyn-analyzers#3675

---
#### Document Details

⚠ *Do not edi

[2020-05-25 18:25] Youssef1313 commented on #18615
I only found it in mono, [here](https://github.com/mono/mono/blob/85056b086f950799b79a8f999e9a3edd406b0785/mcs/class/corlib/System.Runtime.InteropServices/Marshal.cs#L1788), but it's commented. And the class doesn't exist. Just commented with that link in case it can help for further investigation.

[2020-05-25 19:00] #18322 closed

[2020-05-25 19:42] pdschuller opened #18624 "EventHandler is not a handler and neither is handler"
The delegate, EventHandler is not a handler at all, in the sense of "a method that handles an event".  So I think there should be a paragraph near the top that helps the reader wrap their head around this:

_Microsoft has used the name EventHandler for the delegate name and this can be confusing for those new to this topic.  An instance of the EventHandler delegate creates/publishes the event and

[2020-05-25 22:44] AlexZazu commented on #18618
Ok, I will try. I am a beginner, I just joined GitHub recently, but I will see if I can do it. I first will read the guide below.

Thanks for your suggestion!!
Alex Zazueta.

________________________________
From: Petr Onderka <notifications@github.com>
Sent: Monday, May 25, 2020 3:33 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: Alejandro Zazueta <alex_zaz@hotmail.com>; Author <author@noreply.

[2020-05-25 22:59] #18582 closed

[2020-05-25 23:54] estebangaro opened #18627 "Desktop runtime missing."
Please, update "composition" section in order to include Microsoft.WindowsDesktop.App runtime released at NET Core 3.1
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581f6cbb-c666-87ee-ab0c-f131baca403c
* Version Independent ID: 9205f603-e1d4-e0eb-1273-f176fcbf520f
* Content: [.NET Core overview](https://docs.microsoft.

[2020-05-26 00:11] BillWagner commented on #18548
I'm removing the up-for-grabs label (for now at least)

The ECMA standards committee is currently working on a plan to to update the spec and the standard. We'll be surfacing that soon.

[2020-05-26 00:15] BillWagner commented on #18405
We've also had questions from customers about which version of the SDK gets used with Visual Studio builds when the .NET Core SDK has also been installed.

There is even more confusion when multiple versions of both VS and the .NET Core SDK are installed.

This should address that as well.

[2020-05-26 00:28] svick commented on #18548
I think the spec is correct as is. Since `p1` and `p3` are not instances of the same anonymous type, there is no reason to add the additional clause to the spec.

[2020-05-26 00:41] BillWagner commented on #18548
@svick I agree that no additional clause is needed.

The example is informative text, and it may be worth adding an equality example as well as the assignment example.

[2020-05-26 08:48] annguyen281 opened #18629 ""--no-symbols" need "true" right after"
[Enter feedback here]

"--no-symbols" need "true" right after
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b363ab07-ea19-574f-e0db-25fd5702255d
* Version Independent ID: 6fa9479a-85db-5498-6b7e-2418fc7bac32
* Content: [dotnet nuget push command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

[2020-05-26 09:34] DimaGoodwin opened #18631 "Code blocks confusion"
The code block after the phrase
"The following code contains the Main method of the example."
contains not only the Main method but all the program.
Looks like it should contain the Main method only, because whole code is present in the end of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f19a12-af55-b1

[2020-05-26 12:18] tiesmaster commented on #18391
@IEvangelist I ran into this same issue, and was about to put in a PR to get it fixed. Though, I noticed that the links are fixed by @mairaw 2 weeks ago on `master`, however, the change is not showing up. Is there something wrong with the sync of these documents?

[2020-05-26 12:41] IEvangelist commented on #18350
Hi @DimTrdr,
The whole operation is considered asynchronous because if any part of it is asynchronous, all of it is. This demonstrates composition, which shows both synchronous and asynchronous together, as the toasting the bread is `async Task<Toast>` and then once the toast is toasted, you can then synchronously `ApplyButter` and `ApplyJam`. But since the entire function is `async`, the whole op

[2020-05-26 12:41] #18350 closed

[2020-05-26 12:41] #18530 closed

[2020-05-26 12:41] #13821 closed

[2020-05-26 12:41] #16645 closed

[2020-05-26 12:41] #18334 closed

[2020-05-26 12:41] #18339 closed

[2020-05-26 12:49] IEvangelist commented on #18391
Hi @tiesmaster - great catch, I think you might be correct. This should have been fixed in #18414. I'll take a deeper look into this and report back.

[2020-05-26 12:54] arielvsp opened #18632 "Add visuals to better illustrate timing of task execution"
[Enter feedback here]
A nice introduction, but using a timeline drawing for each one of the examples would be a great help for understanding of differences in the execution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6

[2020-05-26 13:15] IEvangelist commented on #18618
Closed by #18626

[2020-05-26 13:15] #18618 closed

[2020-05-26 14:02] #18514 closed

[2020-05-26 14:38] BillWagner commented on #18632
Ping @IEvangelist Are you still working on updating this article?

If not, let's add it to the backlog.

[2020-05-26 14:40] IEvangelist commented on #18632
I am not, this was mentioned as part of that effort - but it was out of scope. I agree, we should add it to the backlog.

[2020-05-26 14:40] BillWagner commented on #18624
Thanks for writing this @pdschuller

We should change the name of the `handler` variable, and add a note similar to the text you've suggested.

[2020-05-26 14:43] #18605 closed

[2020-05-26 14:45] BillWagner commented on #18564
Issue moved to [dotnet/runtime #37012](https://github.com/dotnet/runtime/issues/37012) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 14:45] #18564 closed

[2020-05-26 14:46] BillWagner commented on #18607
This was fixed in #18610.

While I agree with the comment that "there may be other occurrences", a quick search didn't turn any up.

[2020-05-26 14:46] #18607 closed

[2020-05-26 15:11] #18356 closed

[2020-05-26 15:19] tdykstra commented on #18627
cc @Thraka

[2020-05-26 15:37] #17135 closed

[2020-05-26 15:37] #17256 closed

[2020-05-26 15:50] #7218 closed

[2020-05-26 15:50] #16369 closed

[2020-05-26 15:50] #17860 closed

[2020-05-26 15:50] #18506 closed

[2020-05-26 16:32] nojaf opened #18637 "Place parameters on a new line for long member definitions advice can lead to compiler warnings"
Following up on https://github.com/fsprojects/fantomas/issues/868, the style guide mentions

If you have a very long member definition, place the parameters on new lines and indent them one scope.
This also applies to constructors:

[code]
(this sample is also missing `,` after each parameter)

but if you put this in practice the following example leads to a compiler warning:
[code]

[code]
---
##

[2020-05-26 17:01] #18110 closed

[2020-05-26 17:02] Youssef1313 commented on #16434
ping @KathleenDollard

[2020-05-26 17:29] #18539 closed

[2020-05-26 17:45] gewarren commented on #18623
@ievangelist Do you want to take this one? It seems related to the work you did recently.

[2020-05-26 18:11] ericgarza70 opened #18640 "Wrong RSACryptoServiceProvider example"
The example for GetKeyFromContainer seems wrong, it looks like a copy of the GenKey example.

public static void GetKeyFromContainer(string ContainerName)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf319632-8038-7d57-38ee-c6423c02c1d2
* Version Independent ID: b7f7eb2d-0422-0699-ff0d-143cce350731
* Content: [How to

[2020-05-26 18:31] IEvangelist commented on #18623
Yes, I'll take it. Thank you

[2020-05-26 20:47] sfoslund opened #18645 "Hosting bundle option description needs update"
The doc has incorrect information about the `--hosting-bundle` option in several places:

The option only specifies hosting bundles, not runtimes and hosting bundles. This should be changed to:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289d3b2b-8b21-d0a0-10fa-9a8b3fdb62ce
* Version Independent ID: 3145ef37-2a19-e3

[2020-05-26 20:55] tiesmaster commented on #18391
@IEvangelist Ah, this is actually quite bizarre 😅 I stumbled upon this page a couple weeks ago, and still had it open in a tab. I was reading this today, and ran into the broken link. I checked for open issues via docs, and saw the issue, and got here ;)

Needless to say, I can't reproduce anymore as well, so time to close it?

[2020-05-27 03:02] bhanuteja-dev opened #18652 "dotnet restore example with path didn't work"
[Enter feedback here]
I have tried the following command from 1 level up.
dotnet restore ~/projects/app1/app1.csproj

It kept on complaining the  error MSB1009: Project file does not exist.

But when I tried the following
dotnet restore ./projects/app1/

it was able to restore.

Host (useful for support):
  Version: 3.1.4
  Commit:  0c2e69caa6

Please let me know if you require more details.
---
#

[2020-05-27 04:35] trivalik opened #18653 "optimization not right"
The hint to use the static Regex.IsMatch does not improve anything, since the cache is updated in the constructor of Regex class. Hint should be removed or updated that cache size influence last stored regex's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14698b87-a995-290f-bdd7-9c2d6867704c
* Version Independent ID:

[2020-05-27 10:32] KristianWedberg opened #18656 "COMPlus_gcConcurrent environment variable incorrect values"
The `COMPlus_gcConcurrent` environment variable documentation says the values should be `false` and `true`, even though all other boolean environment variables require `0` and `1`.

I believe the documentation for `COMPlus_gcConcurrent` should also say `0` and `1`.

Cheers,
Kristian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-05-27 11:16] IanKemp opened #18657 "Clarify details on where default ASP.NET Core serialization options can be found"
According to the section "Differences in default JsonSerializer behavior compared to Newtonsoft.Json" > "Case-insensitive deserialization":

From my searching, it seems the ASP.NET Core default behaviour is encapsulated in [Microsoft.AspNetCore.Mvc.JsonOptions.JsonSerializerOptions](https://github.com/dotnet/aspnetcore/blob/v3.1.4/src/Mvc/Mvc.Core/src/JsonOptions.cs#L15) - is this correct? If not,

[2020-05-27 12:42] IEvangelist commented on #18391
This issue cannot be reproduced and we believe has already been fixed...

[2020-05-27 12:42] #18391 closed

[2020-05-27 12:58] #18640 closed

[2020-05-27 13:08] #18631 closed

[2020-05-27 13:47] #18367 closed

[2020-05-27 14:16] BillWagner commented on #18572
Thanks for writing this @ranjan-ranjan

The purpose of using async calls in UI applications is to enable the UI to remain responsive. That's true in this application. But, the only action in the UI is to start the same action again. The sample should be expanded to have other actions possible while the download takes place. Possibly a timer, or some other action that could happen while the downloa

[2020-05-27 14:27] TobiasKnauss opened #18659 "Comment Tags missing"
There are more tags than described here and in the spec.
Please add the tags, which are not yet documented, into the spec and and to the documentation tag reference (a sub-page of this).
So far I found: &lt;e&gt;, &lt;i&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 306c4f25-192e-0980-c663-d829f38ef7c4
* Version In

[2020-05-27 14:28] TobiasKnauss opened #18660 "Comment Tags missing"
see https://github.com/dotnet/docs/issues/18659

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e862820-a044-b4e5-63de-9c84778a3b2c
* Version Independent ID: d0b7bf75-d2c3-5960-a4ca-0e560839045b
* Content: [Documentation comments - C# language specification](https://docs.microsoft.com/en-us/dotnet/csharp/language-refer

[2020-05-27 14:47] #18645 closed

[2020-05-27 14:50] #18624 closed

[2020-05-27 15:23] #18372 closed

[2020-05-27 15:32] tdykstra commented on #18652
What platform are you on?

If you run `ls ~/projects/app1` from the same command prompt does it show the project file?

[2020-05-27 15:45] abatishchev commented on #18563
@donJoseLuis can you help with this?

[2020-05-27 15:53] bhanuteja-dev commented on #18652
I am currently on Windows 10, tried the below on cmd and new terminal.

when I tried `dir "~/projects/app1"`, it appends ~ to the file path like this.
D:\repos\dotnet\~\projects\app1 and complains File not found.

When I try dir `"./projects/app1"` it lists out all the folders in the app1 folder.

I tried your command on WSL, and it works.

[2020-05-27 17:13] #18572 closed

[2020-05-27 17:42] CeciAc opened #18667 "What are the functions of local services?"
The comments below were machine-translated

@DragonLord17 commented on [Tue May 26 2020](https://github.com/dotnet/docs.es-es/issues/166)

What are the functions of local services?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: ac412e65-fc71-0072-ba33-e532be0e94b5
* Version Independent ID: 5b7e0817-b120-8

[2020-05-27 18:57] tdykstra commented on #18652
The tilde doesn't work in Windows the way it works in Linux.  Why are you trying to use it instead of `./projects/app1/`?

[2020-05-27 19:12] bhanuteja-dev commented on #18652
It's just the habit of mine coming from ASP.NET referencing image and content files, where ~ refers to the root of the application directory. :)

I usually use Visual Studio and not cmd. Recently started using cmd and WSL.

My feedback would be to mention along the lines of "Use `~` in linux and `.` for windows" above the example to not trip the users who are not CMD users.

[2020-05-27 19:18] tdykstra commented on #18652
Good point, that example needs clarification, I'll put this in the backlog so we address it next time the article is updated.

[2020-05-27 19:19] mr-intj commented on #18659
Isn't that just HTML?

I think HTML tags are valid within XMLDoc, but they're not XMLDoc tags...

[2020-05-27 19:22] mr-intj commented on #18613
Spam?

[2020-05-27 19:24] IEvangelist commented on #18613
This isn't an issue... and the title doesn't really apply to anything I'm aware of. Closing this issue, the user can re-open it and apply details if need be.

[2020-05-27 19:24] #18613 closed

[2020-05-27 20:00] tdykstra commented on #18534
@Zastai Thanks for reporting that, we'll add the missing option the next time we update the doc.

[2020-05-27 20:30] TobiasKnauss commented on #18659
@mr-intj: possible, I don't know much about HTML. Where does the documentation say that HTML is allowed? And I doubt that all HTML is possible, it likely is just a small subset.

[2020-05-27 20:42] CeciAc opened #18670 "Cannot be executed according to the steps in the tutorial"
The comments below were machine-translated

@cnazev commented on [Wed May 27 2020](https://github.com/dotnet/docs.zh-cn/issues/606)

Follow the tutorial steps
The debugging section is inconsistent with the screenshot in the tutorial
There is a prompt Open a file which can be debugged or run.
The Run and Debug buttons below are not available.

In addition, the title of this tutorial is ‘Creating a

[2020-05-27 20:42] CeciAc opened #18671 "按照教程里的步骤不能执行"
@cnazev commented on [Wed May 27 2020](https://github.com/dotnet/docs.zh-cn/issues/606)

按照教程步骤走下来
在调试部分跟教程里的截图不一致
有一个提示 Open a file which can be debugged or run.
下方的Run and Debug按钮不可用。

另外这篇教程题目是‘使用 Visual Studio Code 在 macOS 中创建 .NET Core 解决方案’
但文章基本跟cli下开发一样，只是在Visual Studio Code的内置终端。
没有提及如何是在Visual Studio Code中打开多项目的解决方案，以及打开解决方案里的项目。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub

[2020-05-27 21:04] scottaddie opened #18672 "Explain variable naming constaints"
I recommend adding a section that identifies variable naming constraints. Something along the lines of "You should avoid using these reserved words in a variable name: <bulleted list or link to doc here>. If you have to for interoperability with another language, prefix the variable name with `@`".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-27 22:01] tdykstra commented on #18670
@CeciAc The observations are all correct. I am in the process of creating a new series of Visual Studio Code tutorials that will parallel the existing sequence of Visual Studio 2019 tutorials, and the new tutorials will replace this one.  When the replacements are published, I'll add links to them in this issue.

[2020-05-27 22:29] svick commented on #18659
@TobiasKnauss

[Here:](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/recommended-tags-for-documentation-comments)

[2020-05-28 00:35] gewarren commented on #18656
I see what you are saying. @Maoni0 Can you confirm if the values for the `COMPlus_gcConcurrent` environment variable should be `0` and `1`?

[2020-05-28 00:54] Maoni0 commented on #18656
that is correct, @gewarren. or we if want to be pedantic :smile: we could say if you set COMPlus_gcConcurrent to a non zero value it will enable concurrent GC. you could set it to 4 and it also enables concurrent GC. I'm fine with saying 1 or 0 though so it's easier to remember.

[2020-05-28 01:02] #18576 closed

[2020-05-28 01:03] gewarren commented on #18574
@larinlonappan Can you provide some more information about the issue?

[2020-05-28 01:39] luisquintanilla commented on #18595
Hi @abdelzahermohamed

Is there any specific feedback or something you wanted to mention with regards to this document?

[2020-05-28 01:53] cartermp commented on #18609
yoikes, thanks - this does need an update to considering .NET Core and the span overloads

[2020-05-28 01:58] cartermp commented on #18609
@gewarren @BillWagner how do I access the snippets referenced here? They're not in the dotnet/samples repo

[2020-05-28 03:37] TobiasKnauss commented on #18659
@svick Thanks for the explanation, that makes sense. However, this should be written in that page also.
And I still would like to know which tags are supported by Visual Studio itself when showing the intellisence docu in tooltips. This actually was my intention for writing the first post, but I didn't recall the external documentation tools because we only use our XML docu inside VS so far.

[2020-05-28 07:07] Vespiyanus opened #18681 "What is $""
For newbies, It would be very nice to see some explanations or note on $" (in Performing Operations on Source Elements section)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4a44517-d9a2-454d-90f3-90d9553ff4be
* Version Independent ID: f31a6959-8212-a49f-eeb4-43936dbfbadb
* Content: [Data Transformations with LINQ (C

[2020-05-28 13:18] IEvangelist commented on #18609
Hi @cartermp - this snippets are relative to the doc set. They live in the same repo as the content itself.  It is referencing the *tour.fs* file, [here](https://github.com/dotnet/docs/blob/master/samples/snippets/fsharp/tour.fs).

[2020-05-28 13:19] BillWagner commented on #18609
@cartermp Look in the /samples folder in this repo.

TL;DR; version: We moved the snippets into this repo to enable better workflow for build validation.

For the long version see #17297

[2020-05-28 13:47] IEvangelist commented on #18681
Hi @Vespiyanus, thank you for raising this concern. Yes, I can see how it might be confusing to newbies. All of a sudden new and unfamiliar syntax is being used without any details about its usage.

I've added the "up-for-grabs" label on this issue, so that anyone could work on it before we have a chance to. To answer the ask, the `$"` is used for formatting strings, and is called [string interpol

[2020-05-28 14:26] BillWagner commented on #18672
Thanks for adding this. I'm updating the tour now, so I'll add this to those tasks.

[2020-05-28 14:29] BillWagner commented on #18671
Translation:

/cc @tdykstra

I think this has been partially addressed when I updated the screenshots for the latest Visual Studio for Mac. I think the remaining concerns are addressed with your recent updates. Do you agree?

[2020-05-28 14:51] wimachtendink opened #18683 "Minor gramatical error in docs"
an->a

"
You use the System.Buffers.IMemoryOwner<T> interface to explicitly manage the ownership of a buffer. IMemoryOwner<T> supports both ownership models. The component that has an IMemoryOwner<T> reference owns the buffer. The following example uses an IMemoryOwner<T> instance to reflect the ownership of **an** Memory<T> buffer.
"

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-28 14:53] BillWagner commented on #18659
Great discussion here.

What we've traditionally done in this area is cover the rules the compiler follows for C# documentation comments. There's a small set of recommended tags, and as pointed out, any valid XML tag can be used.  That's correct, but not as helpful.

We'll be constantly chasing other innovations if we try to update this page with an exhaustive list of tags used by different tools

[2020-05-28 14:54] BillWagner commented on #18660
I'm closing this based on these thoughts: https://github.com/dotnet/docs/issues/18659#issuecomment-635401173

In the language spec, we should continue to scope the discussion to the language rules only.

[2020-05-28 14:54] #18660 closed

[2020-05-28 14:57] elyoh opened #18684 ".NET Framework 4.8 Windows 10 2004 Release Key"
The documentation currently gives `528209` as the value of the release key for the Windows 10 May 2020 Update.  This does not match with the release key in the actual release which is `528372`.

![win10](https://user-images.githubusercontent.com/14054078/83157633-bf017280-a0fb-11ea-91e9-1cb61d3605a8.png)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-28 15:01] tdykstra commented on #18683
Thanks, this will be fixed by PR #18685

[2020-05-28 15:01] #18561 closed

[2020-05-28 15:07] tdykstra commented on #18671
This is for the Visual Studio Code on macOS tutorial, not the Visual Studio for Mac one. This issue is a duplicate of #18670 on which I commented that the new series of Visual Studio Code tutorials I'm writing will replace this tutorial.

[2020-05-28 15:07] #18671 closed

[2020-05-28 15:07] #18683 closed

[2020-05-28 15:34] #18507 closed

[2020-05-28 15:34] #18508 closed

[2020-05-28 15:45] svick commented on #18659
@BillWagner

As mentioned above: VS/Roslyn. The VS QuickInfo for C#, which is powered by Roslyn, supports quite a few HTML-like tags (e.g. `<b>` or `<i>`), which are not mentioned in the spec or in the document we're talking about. If anyone is interested, [here is the relevant Roslyn code](https://github.com/dotnet/roslyn/blob/ffbb9c7e/src/Features/Core/Portable/DocumentationComments/AbstractDocu

[2020-05-28 15:56] gewarren commented on #18684
Thank you @elyoh .

[2020-05-28 16:15] #18656 closed

[2020-05-28 17:05] TobiasKnauss commented on #18659
@svick  I have found
- "br"
- "i" / "em"
- "u"
- "b" / "strong"

Are there others that I have missed?
Please add them to the documentation, and (@BillWagner) I suggest you also add them to the spec, because they are part of the code.

[2020-05-28 17:23] svick commented on #18659
@TobiasKnauss Apart from the ones you listed, there's also a and tt. AFAAICT, that's all of them.

[2020-05-28 17:35] AngelosP opened #18687 "The asset pick-publish-target.png contains a visual artifact on the top left corner"
The asset pick-publish-target.png contains a visual artifact on the top left corner. Looks like a leftover from a copy/paste operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449b8ce2-80b3-9bfa-6d7f-3e8ac8a86e16
* Version Independent ID: 31264b07-1aeb-b3f0-1126-f25e578f6d50
* Content: [Publish your .NET Core He

[2020-05-28 20:08] TobiasKnauss commented on #18659
@svick yes, I've seen them, but they are "just" alternatives for other tag names, which are documented already. Nevertheless, they should also appear in the documentation.

[2020-05-28 21:13] #18609 closed

[2020-05-28 22:34] tdykstra commented on #17156
@Thraka When I run `dotnet publish` on macOS, I don't get an extensionless executable file, I get the executable only on Windows and Linux.  I do get the .dll on all platforms.

[2020-05-28 22:43] tdykstra commented on #18687
Thanks for reporting that, I'll include a fix with some other changes I'm making in that tutorial now.

[2020-05-28 23:26] tdykstra commented on #10758
Fixed by #18557

[2020-05-28 23:26] #10758 closed

[2020-05-29 11:27] rollandjb opened #18693 "Accessing IOptions<> configurations from DI in HttpClient configuration"
The following pattern (example in the article) is commonly found in documentation and articles on service configuration.

[code]

It would be most helpful to include links that show how to use DI to to obtain configuration parameters accessible via `IOptions<T>` for use in configuring delegates like the one above.

If configuration info is sourced from multiple configuration sections, using `Confi

[2020-05-29 11:37] mcpiroman opened #18694 "Invalid Remarks section in System.IO.BinaryWriter.Flush Method"
**Issue description**

https://docs.microsoft.com/en-us/dotnet/api/system.io.binarywriter.flush#System_IO_BinaryWriter_Flush

Flush section seems to be copy-pasted from `System.IO.StreamWriter.Flush`. Especially, it mentions ` AutoFlush` property, which  `System.IO.BinaryWriter` does not have.

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

[2020-05-29 12:12] radgroza opened #18695 "No information on integration of publish with the build"
The document provides no information on integration of  the publishing step with the actual build which is quite a big gap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449b8ce2-80b3-9bfa-6d7f-3e8ac8a86e16
* Version Independent ID: 31264b07-1aeb-b3f0-1126-f25e578f6d50
* Content: [Publish your .NET Core Hello World ap

[2020-05-29 15:29] tdykstra commented on #18383
I'm starting on the Visual Studio Code version of this tutorial, which will use the same code, so I'll take care of moving these snippets in the same PR.

[2020-05-29 15:49] gewarren opened #18697 "Replace .NET Framework with .NET (C# folders)"
Replace .NET Framework with .NET (where appropriate) in docs/csharp folders.

Folders:

- [ ] csharp/getting-started
- [ ] csharp/how-to
- [ ] csharp/language-reference
- [ ] csharp/linq
- [x] csharp/programming-guide
- [ ] csharp/roslyn-sdk
- [ ] csharp/tour-of-csharp
- [ ] csharp/tutorials
- [ ] csharp/whats-new

[2020-05-29 16:02] gewarren opened #18698 "Replace .NET Framework with .NET (VB folders)"
Replace .NET Framework with .NET, where appropriate in visual-basic folders.

Folders:

- [ ] visual-basic/developing-apps
- [ ] visual-basic/getting-started
- [ ] visual-basic/language-reference
- [ ] visual-basic/programming-guide
- [ ] visual-basic/reference

[2020-05-29 16:08] mdro-bk opened #18699 "Mention INotifyDataErrorInfo in validation"
The validation section only mentions `IDataErrorInfo`, it should additionally or exclusively recommend its successor `INotifyDataErrorInfo`.
I had heard a recommendation of `INotifyDataErrorInfo` elsewhere but after reading this article i got the false impression that it isn't supported in WPF and wasted some time implementing `IDataErrorInfo` on my Viewmodels. Only when searching for more tutoria

[2020-05-29 16:40] #18687 closed

[2020-05-29 18:05] tdykstra opened #18702 "New VS Code unit test library tutorial following pattern of VS equivalent"
* Add project to solution
* Add tests
* Run tests, all succeed
* Change tests so one fails
* Run tests, one fails

[2020-05-29 19:39] bugaevski opened #18704 "Mini Tutorial"
This is great example. Very clearly written. And works right away. Several mini-tutorials in one example. I learned a lot from this page.
Michael. (35+ years in IT)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcfe22a9-486f-f4d4-2611-94dc2b76e4d0
* Version Independent ID: 71ebda9d-6cb2-2927-d009-58d984bebce8
* Conten

[2020-05-29 20:28] IEvangelist commented on #18704
Hi @bugaevski - thank you for your kind words, much appreciated!

[2020-05-29 20:28] #18704 closed

[2020-05-29 20:37] bugaevski commented on #18704
Sorry, I did not want to "open a ticket", but have not found other way to
simply provide feedback.

I am going through a lots of Microsoft articles lately. Most of them are
over complicated and do not have "working" examples.
So - I really appreciate that page and the code example. I wish Microsoft
"writers" learn from your example.

I learned "Oblomov" in school...

My best regards.

Michael

___

[2020-05-29 20:40] v-radelg opened #18707 "--all-but <VERSIONS> syntax is not explained"
@smuehlst commented 1 hour ago

There is no description of the form in which you have to specify if you want to specify several versions:

--all-but <VERSIONS>

Removes all .NET Core SDKs and runtimes, except those versions specified.

It doesn't work to separate the versions with commas:

The specified version is not valid: "2.1.514,2.1.202".

---
#### Document Details

⚠ *Do not edit this sectio

[2020-05-29 20:49] NimbleKelly opened #18708 "Name in Syntax and Example sections should be "Default" not "default""
The syntax and example sections use a lowercase string "default" for the named cache.  Readers might confuse this to mean that they are configuring the MemoryCache.Default cache instance.  This is incorrect, since the name is case sensitive.  To configure the MemoryCache.Default instance, the string needs to be "Default" and not "default".  This is more consistent with other uses such as on (this

[2020-05-29 21:08] nlehnert1 opened #18709 "Missing backtick screwing up formatting"
Missing a back-tick ` in your markdown for the last code snippet on this page. You can tell it's intended to be closed after the double back-ticks, but instead the code block ends up continuing until
it is closed properly after the ICitizen bit. I assume the markdown looks something like this:

\`\`\`csharp
string IEmployee.this[int index]
{
}
**\`\`**

implements the indexer on the `IEmployee` in

[2020-05-30 06:26] nvmkpk commented on #18230
At this time I do not have references to different versions of same assembly. I will definitely create multiple `AssemblyLoadContext` instances if that changes. But I am wondering how multiple `AssemblyLoadContext` instances affect the memory usage of the application when same framework assemblies are loaded into each of them.

[2020-05-30 09:15] svick commented on #18709
Do you want to submit a Pull Request that fixes that? For simple changes like this one, you can do it all from your browser (and if you don't know how to do that, you can follow [this guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents)).

You can use 4 backticks for that. This:

[code]

renders as:

[code]

[2020-05-30 13:06] HanifKarimi opened #18713 "The CS0246 error can cause by the framework target. For example, if your reference target is 4.6 added to the 4.5.2 target build .Net then you expect to get the same error CS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0067cc97-4a34-364c-ff91-7864bca5c3e1
* Version Independent ID: 902901c2-f8b6-c58c-c2e8-f93aab2487c9
* Content: [Compiler Error CS0246](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0246)
* Content Source: [docs/

[2020-05-30 13:27] Youssef1313 opened #18714 "Undocumented C# Keyword"
Reading through [CA2230](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2230?view=vs-2019), it mentions `__arglist` as a C# Keyword. I never knew the existence of such keyword in C#.
Searching through the documentation doesn't give any results (To be accurate, only results in [error messages](https://github.com/dotnet/docs/search?q=__arglist&unscoped_q=__arglist), not actual document

[2020-05-30 14:22] KathleenDollard opened #18715 "Add warning that this isn't how you install .NET Core to run apps."
User reported confusion using the install scripts to run an app. Tweets are here:

https://twitter.com/zkat__/status/1266151245665861632?s=20
https://twitter.com/zkat__/status/1266432436340092928?s=20

Let's put a comment/warning to use the installers if you want to run .NET Core apps.

I think we just need a simple warning, but I want to preserve @vitek-karas explanation:

-----------------------

[2020-05-30 14:36] svick commented on #18714
I believe `__arglist` (and keywords related to it) is intentionally undocumented, because it shouldn't be used. That's also why it starts with double underscore. I don't think there's any reason to start documenting it now.

[2020-05-30 14:51] Youssef1313 commented on #18714
@svick, Thanks for answering. But are there any rare scenarios where one would use __arglist? for interop with C/C++ for example? or it's **always** bad to use it?

[2020-05-31 04:09] cwelt opened #18716 "The <inheritdoc> tag has problems when inheriting comments from Interfaces."
**Issue description**
As opposed to base & derived classes, where derived classes inherit method xml comments from the base class using the *\<inheritdoc>* tag, when it comes to __*Interfaces*__,
It seems that classes that implement the Interface methods and use the <inheritdoc> tag don't inherit the method xml comments that were documented in the Interface:
For instance, They do not appear in the

[2020-05-31 04:19] #18716 closed

[2020-05-31 11:06] canton7 opened #18717 "Standard numeric format strings: advice on "R" doesn't apply to .NET 3.0"
The section on "R" says:

Since .NET Core 3.0 is released, this advice no longer applies ([link](https://github.com/dotnet/runtime/issues/8655#issuecomment-459855176)). Maybe add a note to this paragraph that "R" is fine in .NET Core 3.0+?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ae38fce-fc98-9420-6b0b-ceee4e885

[2020-05-31 12:22] Yah88 opened #18718 "Duplicated section"
[Enter feedback here]

Section:
_You can also add Container Orchestration Support, also shown in Figure 3-8. By default, the orchestrator uses Kubernetes and Helm. Once you've chosen the orchestrator, a azds.yaml file is added to the project root and a charts folder is added containing the Helm charts used to configure and deploy the application to Kubernetes. Figure 3-9 shows the resulting files

[2020-05-31 17:37] Thorcik1704 opened #18719 "mod operator"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e0d8d3-ed1e-7e9d-d0dc-3d577c286f60
* Version Independent ID: 6961eaa7-db11-5794-746e-42fb6e4a964b
* Content: [Mod Operator - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/operators/mod-operator)
* Content Sour

[2020-05-31 18:49] Youssef1313 opened #18721 "dotnet new is missing blazorwasm template"
Information about blazorwasm template aren't included in the dotnet new documentation. This should be added.

It should be stated that the minimum supported version is 3.1.300.

(See https://github.com/dotnet/AspNetCore.Docs/issues/18593#issuecomment-636495103)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18

[2020-05-31 19:59] vitek-karas commented on #18230
With the typical usage of `AssemblyLoadContext` framework assemblies should not be loaded multiple times. In fact loading framework assemblies multiple times is not really supported and we know about several cases where it will cause problems (and it will definitely cause lot of confusion).
Typical usage of `AssemblyLoadContext` is to isolate NuGet (or similar) dependencies - for example one "plug

[2020-05-31 20:08] theterminalguy opened #18722 "Duplicate Paragraphs - Leveraging containers and orchestrators"
<img width="1438" alt="Screen Shot 2020-05-31 at 4 05 45 PM" src="https://user-images.githubusercontent.com/17008072/83361660-b8236b80-a358-11ea-8bbe-dc3362e9ec6a.png">

**_This entire section on the page is also repeated twice._**

<img width="810" alt="Screen Shot 2020-05-31 at 4 07 18 PM" src="https://user-images.githubusercontent.com/17008072/83361676-d4270d00-a358-11ea-9b8f-50a5019a38d4.png">

[2020-06-01 02:39] skchinna7 opened #18723 "the update is not applicable on this computer"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
- Tell us what docs you found that didn't address your concern.

**Describe the new article**

- Explain why this article is needed.
- Suggest a location in the Table of Contents.
- Write an abstract. In one **short** paragraph, describe what this article will cover.
- Create an outline for the new ar

[2020-06-01 12:23] IEvangelist commented on #18709
Hi @nlehnert1, I made this `up-for-grabs`. Please feel free to [follow the guidance](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for simple updates like this. Thank you @svick for helping out here too, much appreciated.

[2020-06-01 13:36] nlehnert1 commented on #18709
Apologies; I got very much wrapped up in the events of this weekend and totally forgot about this until just now. Created a PR and linked it to this issue.

[2020-06-01 14:03] #18709 closed

[2020-06-01 14:18] nishanil commented on #18722
Thanks, @theterminalguy We have a PR that will fix it. https://github.com/dotnet/docs/pull/18720

[2020-06-01 14:29] #18718 closed

[2020-06-01 14:29] #18722 closed

[2020-06-01 14:48] Youssef1313 opened #18727 ""API layers" section in compiler API model is unclear"
The [API layers](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/compiler-api-model#api-layers) section is confusing.

First, it mentions:

But after that, it shows an image that contains "**three** layers", the two previously mentioned and the "Features APIs" layer.

Then, there are **four** sub-headings: "Compiler APIs", "Diagnostic APIs", "Scripting APIs", and "Workspaces APIs".

---

[2020-06-01 15:15] tdykstra commented on #18721
@Youssef1313 Thanks for reporting this.  If you'd like to submit a PR on it, let me know and I'll assign the issue to you.

[2020-06-01 15:16] BillWagner commented on #18714
The last section of [identifies](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/lexical-structure#identifiers) in the C# spec has the following text:

I think that is sufficient. I recommend closing this.

[2020-06-01 15:25] #18714 closed

[2020-06-01 15:25] Youssef1313 commented on #18721
@tdykstra Ok, I'll submit a PR soon.

[2020-06-01 15:28] BillWagner commented on #18727
This is pretty clearly outdated. Thanks for writing this @Youssef1313

We'll look into it.

[2020-06-01 15:29] BillWagner commented on #18719
Can you provide more details here @Thorcik1704 ?

[2020-06-01 15:31] BillWagner commented on #18713
Can you give us more details here @HanifKarimi ?

[2020-06-01 15:33] tdykstra commented on #18715
What then should we say are the valid use cases for the install scripts?

[2020-06-01 15:52] #18721 closed

[2020-06-01 16:10] #18288 closed

[2020-06-01 16:21] vitek-karas commented on #18715
I know about one but I think the authors of the script should chime in on it.
* The script is used by all our repos to install repo-local .NET Core SDK which is then used to build the repo in question. (also used in CI for the same purpose)

[2020-06-01 17:47] mc0re opened #18729 "What is needed for ActivatorUtilities.CreateInstance to work with .NET Native?"
The following code runs fine without Native compilation, but fails with it. What do I miss?

[code]

`AuthViewModel` has the following contructor:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 010e4a46-847d-169c-0945-4c81eb073fa7
* Version Independent ID: 1fee9ab9-4ca3-0c4e-0c52-e7be3ea3e62d
* Content: [APIs Th

[2020-06-01 17:52] #13287 closed

[2020-06-01 18:02] BillWagner commented on #18023
This issue was fixed in #18560

[2020-06-01 18:05] AppFzx opened #18730 "Indicate which tags show in intellisense"
I can find no list of which tags are formatted into intellisense help and how. e.g. Through trial and error, I know <remarks> is a useless tag because it doesn't go into intellisense. It would be nice to have that documented somewhere reachable from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5aa865-b9d

[2020-06-01 18:15] svick commented on #18730
Related: https://github.com/dotnet/docs/issues/18659. Though that issue is pretty much the opposite: document which tags do affect Visual Studio, even though they are not listed.

[2020-06-01 18:20] #5267 closed

[2020-06-01 18:20] #16582 closed

[2020-06-01 18:20] #18383 closed

[2020-06-01 18:20] #18510 closed

[2020-06-01 18:20] #18702 closed

[2020-06-01 18:25] luisquintanilla commented on #18595
Closing this issue since there's no feedback or response. Feel free to open another issue if you have additional feedback @abdelzahermohamed

[2020-06-01 18:25] #18595 closed

[2020-06-01 18:50] mc0re commented on #18729
I figured by trial and error that replacing `IPropertySet` with its parent class `ApplicationDataContainer` solves the issue. So the approach that can run is:
[code]
and change the `AuthViewModel` constructor accordingly.
But then I can't make any test case for `AuthViewModel`, as I can't really instantiate a test version of `ApplicationDataContainer`.

[2020-06-01 19:48] sdanyliv commented on #18023
@BillWagner, I hope you have not missed my comment https://github.com/dotnet/docs/pull/18560#issuecomment-637022362

[2020-06-01 20:17] #16438 closed

[2020-06-01 20:37] JasonWHowell commented on #17496
@luisquintanilla Please take a look if you have ideas.

[2020-06-01 20:54] SamBehner opened #18733 "Syntax Error"
In the example, this is the code
[code]

On line 4, there is an issue. String is capitalized when it shouldn't be.
[code]
It should be
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f782a9c5-2dc8-d8d1-b17d-246ab8524863
* Version Independent ID: f6f825c5-c64b-d13b-1c7e-a01bfb93093d
* Content: [event - C# Reference

[2020-06-01 21:25] BillWagner commented on #17890
@gewarren Should this be closed?

[2020-06-01 21:35] CeciAc opened #18734 "what is Gen 3 meaning?"
@870158446 commented on [Mon Jun 01 2020](https://github.com/dotnet/docs.zh-cn/issues/607)

[在此处输入反馈]

Address            Gen   Heap   segment            begin              allocated           size
00007FF82C5B846C   3      0     00007FF82BFFE000   00007FF82BFFF000   00007FF82C5C73C0    0x0(0)

what is Gen 3  meaning?
where i can find any note in Docs?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.

[2020-06-01 21:54] gewarren commented on #17890
Yes, thank you!

[2020-06-01 21:54] #17890 closed

[2020-06-01 22:15] gewarren commented on #18734
@Maoni0 Is there a "generation 3" in garbage collection?

[2020-06-01 22:33] sfoslund commented on #18707
The format for specifying multiple versions is detailed in [the VERSION argument description](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/uninstall-tool?tabs=windows#arguments). I'm not sure it's worth adding this note in every option description, but it might make sense to make it more visible.

[2020-06-01 22:48] Maoni0 commented on #18734
gen3 means LOH. it's only collected with gen2 GCs. so you can think of gen3 as a physical generation that's logically part of gen2.

[2020-06-01 23:23] sameergMS opened #18738 "All the diagrams in this page are the same general AzMonitor overview visual."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a749bf08-a45c-e441-6125-8a2bfbe7a75e
* Version Independent ID: f2fca24c-5b4e-bbf9-45d5-f7af0149ac5a
* Content: [Azure Monitor](https://docs.microsoft.com/en-us/dotnet/architecture/cloud-native/azure-monitor)
* Content Source: [docs/architecture/cloud-

[2020-06-01 23:59] jmarkman commented on #18681
I'd like to take a crack at refactoring this particular section to provide a bit more clarity for newer readers, if that's alright.

[2020-06-02 00:09] #18734 closed

[2020-06-02 03:28] nvmkpk commented on #18230
By this, do you mean I should not load framework assemblies in multiple `AssemblyLoadContext` or any attempt to load them in multiple  `AssemblyLoadContext` instances will cause issues or fail and is not supported? Last when I tried multiple `AssemblyLoadContext` instances, I ran into issues when I tried to avoid loading the Asp.net core assemblies into multiple times. Asp.net core does `Assembly.

[2020-06-02 06:39] smuehlst commented on #18707
I see. The confusion on my side then came from the fact that I was looking for an explanation of the  `VERSIONS` argument, while the explanation can be found under the VERSION argument description. So in my view it would be better to list the option as `--all-but <VERSION>`.

[2020-06-02 07:15] skchinna7 commented on #18723
after the update of .net core sdk vscode does not execute c sharp code

[2020-06-02 10:28] nzain opened #18743 "ML.Net Extension Uninstall (Documentation) is not sufficient"
VS2019 will install the `ML.Net Model Builder (Preview)` extension. The uninstall instructions on the web page tell me to "Manage Extensions", use the "Uninstall" button, and "follow the instructions".

**Problem**
The "Uninstall" button will open the Visual Studio Installer. However, there are no _instructions to follow_. Well, I was looking through my installed workloads (Azure as the first susp

[2020-06-02 11:03] vitek-karas commented on #18230
It's perfectly fine to call `secondaryAssemblyLoadContext.LoadFromAssemblyName("System.Runtime")`, but it should NOT cause the assembly to be loaded into the secondary ALC. Any secondary ACL should fallback to the default for framework assemblies. This typically means that `AssemblyLoadContext.Load` should return `null` for framework assemblies.

The above will make sure that framework assemblies

[2020-06-02 13:21] IEvangelist commented on #18733
Hi @SamBehner - thank you for posting this issue. As long as there was a `using System;` at the top of the C# file - it is fine to use `String`, as `string` is an alias to the proper `System` type. But I agree, and I do prefer `string`. I've marked this issue as "up-for-grabs", feel free to create a pull request to address this issue and we'll happily review it.

Also, one small correction - you a

[2020-06-02 13:21] uldercarrilho opened #18744 "Problem with syntax highlighting"
In the last example of this page, the syntax highlighting of C# code is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f1a968a-b313-2540-360e-7bba683a7033
* Version Independent ID: c816daea-0924-c293-a35e-ceca1aa24004
* Content: [Indexers in Interfaces - C# Programming Guide](https://docs.microsoft.com/en-us/do

[2020-06-02 13:30] uldercarrilho commented on #18744
I checked the source code [indexers-in-interfaces.md](https://raw.githubusercontent.com/dotnet/docs/master/docs/csharp/programming-guide/indexers/indexers-in-interfaces.md) and is right, but the [documentation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/indexers/indexers-in-interfaces) display wrong. See the printscreen of attachment.
![indexers-in-interfaces](https://user-im

[2020-06-02 13:41] IEvangelist commented on #18681
Hi @jmarkman - absolutely. Thank you

[2020-06-02 14:54] Thraka commented on #15758
Hi @matthew45052 Thank you for the comment. We've opted to use the best built-in operator for the case. Considering the operator was added to the language 5 years ago, was created to handle the situation you're describing, it's the best choice.

However, you do bring up something I think that should be addressed. Regardless of the operator or the explicit null check, it should be noted in the arti

[2020-06-02 14:54] #15758 closed

[2020-06-02 14:55] Thraka opened #18745 "It should be noted that the event may be null if unsubscribed"
Related to a comment made on #15758

Somewhere in the article it should be noted that the event should be checked for a null value before being invoked.

@matthew45052

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f782a9c5-2dc8-d8d1-b17d-246ab8524863
* Version Independent ID: f6f825c5-c64b-d13b-1c7e-a01bfb93093d
* Con

[2020-06-02 15:07] Thraka commented on #17883
@dagood I'll update the instructions with this (in the redesign pr).

[2020-06-02 15:28] Thraka commented on #18717
@tannergooding would you be able to submit a doc change for this?

[2020-06-02 15:32] #18511 closed

[2020-06-02 15:34] tdykstra commented on #1651
Fixed by #18701

[2020-06-02 15:34] #1651 closed

[2020-06-02 15:42] tdykstra commented on #18670
PR #18701 has created a new series of VS Code tutorials that work with a solution file and can be used on macOS as well as Linux and Windows:

* https://docs.microsoft.com/dotnet/core/tutorials/library-with-visual-studio-code
* https://docs.microsoft.com/dotnet/core/tutorials/testing-library-with-visual-studio-code

[2020-06-02 15:42] #18670 closed

[2020-06-02 15:48] tdykstra opened #18749 "Make VS for Mac "Create console app" tutorial follow pattern of VS and VS Code equivalents"
* Create and run
* Modify and rerun

[2020-06-02 16:32] adebie opened #18751 "mlContext.Transforms.LoadImages gives error"
Thanks for your valuable example. The explanations are helpful.
But I have a problem with a portion of the code in the OnnxModelScorer class :

            var pipeline = mlContext.Transforms.LoadImages(outputColumnName: "image", imageFolder: "", inputColumnName: nameof(ImageNetData.ImagePath))
                .Append(mlContext.Transforms.ResizeImages(outputColumnName: "image", imageWidth: ImageNe

[2020-06-02 16:44] CeciAc opened #18752 "one mistake to fix"
@sheldontien commented on [Mon Jun 01 2020](https://github.com/dotnet/docs.ja-jp/issues/1715)

[フィードバックをこちらに入力してください]

WeChat | Has 300+ services in production. Deploys 1,000 times a day.
-- | --

should be 3000+ services.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 03831099-3360-98e5-d35b-934a024f88e0
* Version Independent ID: 7bf71b44-4b61-9832-

[2020-06-02 16:56] Thraka commented on #18699
Thank you for opening this issue. I'll add it to the backlog.

Thanks again!

[2020-06-02 19:34] #18623 closed

[2020-06-02 19:39] kevinoid commented on #18623
That's great!  Thanks so much @IEvangelist!  Very useful indeed.

[2020-06-02 19:49] #18122 closed

[2020-06-02 20:01] Thraka commented on #17156
@tdykstra It would depend on your publishing mode. Self-contained would give you an executable or if the AppHost setting was turned on (which is now defaulted to off in one of the latest patch releases for mac)

@srinigudimella As Tom pointed out, there is a .dll file which is your app. You need to run it with `dotnet yourfilename.dll`.

[2020-06-02 20:01] #17156 closed

[2020-06-02 20:11] Thraka commented on #18653
Browsing through the code I'm not seeing what you're talking about. Can you elaborate? I cannot find where the regex class is adding to the cache. Just browsing through the code of both the cache and the regex constructor, I see more overhead on the regex constructor.

[2020-06-02 20:16] Thraka commented on #18627
You are correct, this is missing. Thank you for pointing it out.

[2020-06-02 21:03] SamBehner commented on #18733
Oh, I was not aware oh this. I think it would be better to use `string` though as it seems more common, and it would match most of the other examples in the documentation

[2020-06-02 21:23] tdykstra opened #18759 ""Enhance the app" section is showing VB code when C# is selected"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80f18fa-e6d2-50f6-dc08-a2ab5ba9f89a
* Version Independent ID: 5bebc66b-956a-47c7-7472-07967256be0c
* Content: [Create a console application with .NET Core in Visual Studio - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio)
* Content Sou

[2020-06-02 21:38] worming004 opened #18761 "Ocelot renamed ReRoutes to Routes. /dotnet/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot is outdated"
Hello,

Since version 16.0, Ocelot use Routes property instead of ReRoutes. See commit https://github.com/ThreeMammals/Ocelot/commit/3439be89271bb37b170429d69ca74978c941432e

This document describe an Ocelot usage with ReRoutes property that do not work with latest ocelot version.

Could you update this document please ?

Kind regards
---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-06-02 23:38] gkalnytskyi opened #18763 "Add an example when actual object you want to deserialize is wrapped in non essential layers"
I had hard time deserializing the list of objects wrapped in several non-essential layers. I couldn't understand why I was getting `JsonException` with "read too much, or not enough" message (more details [here](https://stackoverflow.com/questions/62147178/system-text-json-deserialization-fails-with-jsonexception-read-to-much-or-not-e)).

I finally got an explanation on [Stackoverflow](https://sta

[2020-06-02 23:44] alexdrenea opened #18765 "GetRetryPolicy() sample"
On the page, you present a sample `GetRetryPolicy` method.
What is the use case to ever retry on a 404 not found error? It's not like a missing URL will magically appear in the next seconds?
[code]
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Indepe

[2020-06-03 01:10] tdykstra commented on #18759
Fixed by #18758

[2020-06-03 01:10] #18759 closed

[2020-06-03 03:20] jasonycw opened #18767 "How to identify a nullable reference type"
In C# 8, is there a recommended way to identify a **nullable reference type**?

For **nullable value type**, there is a section dedicated to it.
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-value-types#how-to-identify-a-nullable-value-type

We already have `notnull` as constraint
[code]
But seems like we don't have an easy way to determine if generic typ

[2020-06-03 09:14] kamikyo opened #18771 "Set the attribute of the aspNetCore element in web.config"
You know, when we use the `dotnet publish ...` , a web.config file is generated. How can I set the attribute of aspNetCore element by dotnet command line.
This is very useful when using jenkins for CI/CD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 943989

[2020-06-03 12:20] a-ctor opened #18772 "Public signing cannot be enabled using the the project property page"
The page indicates that it is possible to set `-publicsign` in Visual Studio by modifying the __Delay sign only__ property. This does not work as it enables delay signing (`-delaysign`) instead.

To enable public signing the .csproj file has to be edited to include the `PublicSign` property:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-03 12:51] BillWagner commented on #18744
@uldercarrilho I looked at this page, and the rendering is correct to me (and different than your screenshot.

Can you check again, and close this if it is already fixed?

[2020-06-03 12:55] BillWagner commented on #18767
Thanks for writing this @jasonycw

I'm not sure of a way to accomplish this. Ping @agocke @jaredpar for possible answers.

[2020-06-03 12:57] BillWagner commented on #18772
Thanks for writing this, and creating such a detailed description.

We'll address this when we next update this page. In the meantime, I've added the "up for grabs" label if community members want to submit a PR.

[2020-06-03 13:39] KingJohn1095 opened #18774 "Example is wrong regarding use of `new` keyword"
In this snippet
[code]
`car2.DescribeCar()` should display the description defined on the `ConvertibleCar` class. Only if `Car2` was cast as a `Car`, would the decription of `Car` be used. Am I mistaken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4702e20f-4482-e0ce-bf61-784d436b64d5
* Version Independent ID: c88cfd

[2020-06-03 13:39] #18774 closed

[2020-06-03 13:58] #18495 closed

[2020-06-03 14:13] #18681 closed

[2020-06-03 14:23] #18733 closed

[2020-06-03 15:25] jaredpar commented on #18767
Are you asking this in the context of reflection? Essentially how to determine if a given `System.Type` is a nullable reference type or not? If so there is no way to do this yet but here is the issue discussing whether or not it should be added https://github.com/dotnet/runtime/issues/29723

[2020-06-03 15:37] tdykstra commented on #18771
@wli3 do you know the answer to this question?

[2020-06-03 15:47] BillWagner commented on #18767
Closing as "product question".

[2020-06-03 15:47] #18767 closed

[2020-06-03 15:47] tdykstra commented on #18763
Thanks for the suggestion, I'm adding this to our backlog.

[2020-06-03 16:48] Thraka commented on #18488
The xaml displayed isn't cs/vb specific so I only need to code it once for validation, in the cs project. Snippets are only used to validate that code compiles correctly, that is all. So in instances where very little is used, I don't need to recreate it across all languages. For example, `AuctionItem` demonstrated shows `CurrentPrice` in the article for code (code only, not when it's used in xaml

[2020-06-03 16:48] #18488 closed

[2020-06-03 16:52] Thraka commented on #18174
Sent an email to @mjrousos

[2020-06-03 16:55] mysteryx93 opened #18776 "Whole section set as hyperlink"
The section "Pattern matching with the switch statement" has a whole paragraph set with a hyperlink by mistake.

Also the entire section "The case statement and the when clause"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d9cc47-5caf-184a-0ad6-cb968850be7a
* Version Independent ID: f058bf17-04e9-9e23-05c7-66c18644

[2020-06-03 17:23] #18108 closed

[2020-06-03 17:55] #4505 closed

[2020-06-03 18:44] wli3 commented on #18771
@vijayrkn do you own web.config?

[2020-06-03 18:52] vijayrkn commented on #18771
yes, we own the web.config generation and transformation as part of publish.

@kamikyo - When you say as part of "dotnet" , do you mean as a part of "dotnet new"? this functionality is already part of "dotnet" through "dotnet publish".

[2020-06-03 19:00] Thraka commented on #18331
@ARambazamba The intro points out that there is an ASP.NET specific tutorial available at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/building-net-docker-images?view=aspnetcore-3.1

[2020-06-03 19:00] #18331 closed

[2020-06-03 19:50] clairernovotny opened #18778 "Screen Shot update needed / enhanced diagnostics"
NuGet Package Explorer now shows more information about Source Link status. We should probably update the screen shot and possibly mention something about the different states (no sourcelink, contains untracked sources).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db5ae44-5ee9-ed62-7355-7c0cbc1bfc07
* Version Indep

[2020-06-03 20:53] JvdBossche opened #18779 "Animal or Mammal?"
In the last piece of sample code, `Test()` has an object called `a` of class `Animal` as parameter.
It is this `Animal a` that gets casted to `Reptile` and which is stored as `Reptile r`. (which supposedly fails)
But the comment is not in line with the code: the comment sais that a *Mammal* can not be converted into a Reptile. No Mammal is used in the code!

Either
* adapt the comment to say that

[2020-06-03 21:19] megaritzmom opened #18780 "What happened to the suffixes from the type table? Please put them back."
You removed the suffix from the types table. That was required reading for my C# students (I teach C# at Tulsa Community College). I'm now going to have to make a table myself, but yours was SO much more informative. Please put the suffixes back in the type table.

I have attached what it used to look like.
[ValueTypesTable(1) (1).pdf](https://github.com/dotnet/docs/files/4726271/ValueTypesTable.1

[2020-06-03 21:53] Thraka commented on #18780
@megaritzmom Can you be more specific? Looking at the history of that file (https://github.com/dotnet/csharplang/commits/master/spec/types.md) It's only been updated once in the last 2 years and I don't see anything removed.

😢

[2020-06-03 22:09] mjrousos commented on #18174
I believe .NET Core hosting APIs can only call static managed methods, but I haven't worked on hosting recently so it's possible things have changed. @AaronRobinsonMSFT, are you the right person to ask if this is still the case or if there are now ways to instantiate managed objects directly from .NET Core hosting APIs?

As far as I know, the recommendation would be to have a static managed entry

[2020-06-03 22:14] AaronRobinsonMSFT commented on #18174
@mjrousos Yes. That recommendation is still correct. As @gabrieldevillers mentions there is the COM/`IUnknown` approach but that is presently only supported for Windows. The new `ComWrappers` API in .NET 5.0 has been [requested to be supported cross-platform](https://github.com/dotnet/runtime/issues/36582). That would enable the `IUnknown` ABI in a cross-platform way.

/cc @jkoritzinsky @elinor-fu

[2020-06-04 00:43] uldercarrilho commented on #18744
@BillWagner I checked again and now is rendering correctly. See the attachment.

Thanks.

![indexers-in-interfaces-correct](https://user-images.githubusercontent.com/11797286/83702471-2e3b0300-a5e3-11ea-80dd-a650c1a594cf.png)

[2020-06-04 00:43] #18744 closed

[2020-06-04 00:49] abatishchev opened #18784 "Broken markup in article 'switch (C# reference)'"
Starting section [The case statement and the when clause](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/switch#-the-case-statement-and-the-when-clause) the markup is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d9cc47-5caf-184a-0ad6-cb968850be7a
* Version Independent ID: f058bf1

[2020-06-04 03:31] tfukumori opened #18785 "I needed to add a NuGet Package "Microsoft.ML.OnnxRuntime"."
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/object-detection-onnx#create-a-console-application

In the above section, I also needed the following as a NuGet Package to add

- Microsoft.ML.OnnxRuntime[1.3.0]

If not added, a "System.DllNotFoundException" error was raised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-06-04 06:23] talouv opened #18787 "Change wording on the recommendation to use decimal for financial transactions"
I would argue that the argument to use decimals for financial transactions is misleading.

`Because the decimal type has more precision and a smaller range than both float and double, it's appropriate for financial and monetary calculations.`

I would argue that the argument should be something along the lines of

`Because the decimal type uses decimal precision whereas both float and double use b

[2020-06-04 08:16] RussKie commented on #18029
Just FYI - this issue is missing WinForms label.

[2020-06-04 09:38] kamikyo commented on #18771
Sorry, i didn't make this clear.
When i use the command like this:
`dotnet publish -o "C:\jenkins_publish\xxxx" --packages xxxx`
I will get the web.config like this:
[code]
Now, I can use additional parameters (/p:xxxx) to make some changes to my web.config.
Like this:
`dotnet publish -o "C:\jenkins_publish\xxxx" --packages xxxx /p:EnvironmentName=Staging`
Now, The web.config look like this:
[code

[2020-06-04 13:41] IEvangelist commented on #18399
Hi @Youssef1313,

Could you please provide me with the link to where you're seeing this? I cannot find it. I spent time looking in the **Browse code samples** but was unsuccessful 😄

[2020-06-04 13:50] BillWagner commented on #18787
Thanks for writing this @talouv

I'm adding @KathleenDollard to this conversation. She and I have discussed in the past, and I'd like her opinion on wording.

[2020-06-04 14:06] BillWagner commented on #18784
Thanks for alerting us @abatishchev

I've updated the doc to fix the bad markup. See PR #18790

[2020-06-04 14:09] BillWagner commented on #18779
Thanks for writing this @JvdBossche We'll take a look and get this addressed.

[2020-06-04 14:10] BillWagner commented on #18779
closed accidentally. Reopening

[2020-06-04 14:10] BillWagner commented on #18776
Duplicate of #18784

[2020-06-04 14:10] #18776 closed

[2020-06-04 14:34] BillWagner commented on #18023
Thanks @sdanyliv

Reopening, and assigning to me.

[2020-06-04 14:41] BillWagner commented on #15889
@mairaw Has the edit pass for the entire book been completed? Should this be closed?

[2020-06-04 14:47] #18632 closed

[2020-06-04 15:09] luisquintanilla commented on #18785
Hi @tfukumori

Sorry to hear you ran into these issues. We're in the process of updating our samples to the latest version. Feel free to track this issue for updates.

[2020-06-04 15:11] IEvangelist commented on #18611
This should be a fairly straight-forward effort, sweep the eBook and ensure that there are no duplications of content. There are already several PRs to address parts of this effort - with #18718, #18720, and #18725.

[2020-06-04 16:01] cartermp commented on #18637
Thanks, the indentation is actually off in that sample since it should be a few spaces to the right

[2020-06-04 16:19] Youssef1313 commented on #18399
@IEvangelist Currently, this sample isn't in the samples browser. This issue is to add it to the samples browser and delete the zip file.

The zip file is linked in [this](https://github.com/dotnet/docs/blob/55455417bbfbffb5737a06f19528fe79e1a307ba/docs/standard/base-types/parsing-datetime.md#parse) article, in the note under the "parse" heading.

[2020-06-04 16:36] Thraka commented on #18707
I think the syntax for VERSION should be clearer `--all-but <VERSION>[,<VERSION>...] what is the delimiter for example?

[2020-06-04 16:38] Thraka commented on #18695
Can you provide more information about what you mean? I don't understand what is missing 😦

[2020-06-04 16:40] Thraka commented on #18615
@jeffschwMSFT could you comment on this?

[2020-06-04 16:51] Thraka commented on #18694
@carlossanlop can you comment?

[2020-06-04 16:55] #18784 closed

[2020-06-04 18:18] nojaf commented on #18637
@cartermp thanks for clarifying this.
Where would the return type be placed if there is one?
And does the equal sign always follow the closing `)`?

I would assume it would be something like:

[code]

[2020-06-04 18:57] IEvangelist commented on #18611
Hi @ardalis - the issues that I called out were all related to this, it is possible that those were the only findings. I haven't had time to dig in yet... but this might be a simple spot-check and close if everything looks good.

[2020-06-04 19:04] #18707 closed

[2020-06-04 19:19] pkulikov commented on #18780
@megaritzmom that table doesn't exist anymore. The information about suffixes was moved to the sections about literals:
- [Real literals](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/floating-point-numeric-types#real-literals)
- [Integer literals](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/integral-numeric-types#integer-litera

[2020-06-04 19:48] jeffschwMSFT commented on #18616
I searched .NET Framework's source and did not find it either.

cc @davidwrighton @jkotas

[2020-06-04 19:49] jeffschwMSFT commented on #18615
I searched .NET Framework's source and did not find it either.

cc @davidwrighton @jkotas

[2020-06-04 19:50] #18467 closed

[2020-06-04 20:20] jkotas commented on #18616
This doc must have been written in early .NET Framework 1.0 days and not updated since then. There are number of exception types that we present in early .NET Framework 1.0 previews and removed for .NET Framework 1.0 release (e.g. `MulticastNotSupportedException`, `WeakReferenceException`).

Also, the doc says that the table provides complete mapping between exceptions and `HRESULT`s. That is also

[2020-06-04 21:05] KathleenDollard commented on #18787
I agree with @talouv and my experience is that most programmers miss the nuances here, and without that may fail to understand that the absolute worst thing you can do is multiple conversions Base 2<->10, followed by addition or subtraction of numbers not random in later digits, as can happen when dividing values that tend to be integers. This might be too much?

[2020-06-04 21:52] dougedmunds opened #18801 "Stopping an infinite loop"
I didn't write the for loop correctly and there was no way to stop infinite loop I created in the interactive repl, short of closing the browser down.   If there is another way , include information about it in the 'interactive loop'  tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77dec100-463d-f684-03b6-25f5

[2020-06-04 22:43] #18778 closed

[2020-06-05 01:08] dougedmunds opened #18803 "Try / catch example has issues"
Reference the page in the tutorial. I attempted surrounding the  bank account entry, the one with the positive 1000 opening balance, with the try /catch code used for "invalidAccount'.  I expected try to succeed, which it does.  But by putting the 'new' bank account inside a try/catch, the last line of code in the sample, to print the account history, is flagged as trying to reference a variable t

[2020-06-05 06:58] pkulikov commented on #18787
@KathleenDollard sorry, your proposal more confuses me than explains. I would say it's too advanced. For example, if I have a choice to use either decimal or double for finances, I don't expect to convert between them, but use the chosen one. So, the remarks about conversions between bases seem not relevant at the first reading. As far as I understand, decimal fits finances better because it store

[2020-06-05 07:28] nojaf opened #18806 "Guidance on long function signatures"
Is there any guidance what to do with long function signatures?
Consider the following example:
[code]

Putting the whole `let fold ...` on one line is getting unreadable.
Fantomas ([example](https://fsprojects.github.io/fantomas-tools/#/fantomas/preview?data=N4KABGBEDGD2AmBTSAuKAbRAXMAzW68YAFLgK4B20AzmGgEqLVnpYBil0APAOQCSFAA5ksAGjA8A8iOFiJAFQCiAJ2WxlAPjDVEARwCUJAJZCRdCQNmHiJ2QCY0-U1mu2RAZkeWRhhkx

[2020-06-05 08:11] svick commented on #18803
Does that mean your code looked something like the following?

[code]

This doesn't work, because in C#, a variable declared inside braces is not visible outside of those braces.

Ti fix it, you can instead write the following:

[code]

It declares the `account` variable outside braces (and without `var`) and also uses `return` to make sure the `GetAccountHistory` line only executes if there is no

[2020-06-05 10:01] IrinaPykhova opened #18808 "Need control authoring articles for new WinForms Core designer"
You have very good set of topics on what control author should do to show third-party controls at design-time, work with different design-time features, show toolbox icon etc.. But is all about old .Net framework controls: https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/developing-windows-forms-controls-at-design-time

For .Net Core 3 and .Net 5 you changed design-time model. W

[2020-06-05 11:54] haf opened #18810 "Missing ValueOption docs — how to pass ValueOption as optional parameters?"
No mention of F# ValueOption; if there's a `defaultValueArg` shouldn't there be docs on how to construct objects without heap allocations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eda5d0f-e44a-e1d0-f006-0397174b530c
* Version Independent ID: 89a7b529-756f-0ecd-a564-4602f149d966
* Content: [Constructors - F#](htt

[2020-06-05 12:43] IEvangelist commented on #18803
Hi @dougedmunds - @svick is correct and I was assuming that you were experiencing the problem as was detailed. Does the suggestion solve your problem?

[2020-06-05 14:37] dougedmunds commented on #18803
I now understand what you are saying about scope of variables inside braces.  I would suggest revising the 'invalidaccount'  try/catch code to something similar to the fix provided by @svick.

[2020-06-05 14:58] GF-Huang opened #18812 "List<T> can not use System.Ranges, but the example code use a list, it's misleading"
This is my code:

[code]

This is the [docs](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/ranges):

![image](https://user-images.githubusercontent.com/4510984/83891533-e56c8100-a77f-11ea-9c9e-6da95e470085.png)

The same question on [stackoverflow](https://stackoverflow.com/questions/62217074/c-sharp-8-listt-can-not-use-system-ranges).

---
#### Document De

[2020-06-05 15:12] BillWagner commented on #18801
Thanks for alerting us @dougedmunds

I'm investigating this now. (We had a timeout configured that would stop running your code, but that isn't working now. We'll figure it out.)

[2020-06-05 15:27] BillWagner commented on #18812
Thanks for alerting us @GF-Huang

We do need to update these proposals to reflect several of the decisions made during LDM meeting.

I'll add this to our backlog to address as part of updating the C# standard.

[2020-06-05 17:02] jams6 commented on #18287
estoy usando visual studio 2017
gracias

[2020-06-05 17:22] jvelezc opened #18815 "Any context as to why would one use the new keyword for hiding"
If the compiler errors had some context in regards to why one would choose one over the other, it would provide much added value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52797d6c-c245-a61d-f4f6-8ef064577271
* Version Independent ID: ae6523de-e0c6-3f66-1790-c6a723f5fd94
* Content: [Compiler Warning (level 2) CS01

[2020-06-05 17:27] cartermp commented on #18637
In this case, the return type should probably be as you specified it, yes.

[2020-06-05 18:22] gewarren opened #18818 "Clean up xmldoc articles"
For example, `<seealso>` must be outside the `<summary>` tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337464b6-c9f4-87ee-f774-5f4509c3830e
* Version Independent ID: 9626e965-109d-5e3c-eb42-ef8fbccf2fb4
* Content: [&lt;seealso&gt; - C# programming guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming

[2020-06-05 18:24] sharwell commented on #18818
If we also want an analyzer for this and have an appropriate package to place it in, I have one implemented. 😄

[2020-06-05 18:28] gewarren commented on #18818
That sounds awesome! @carlossanlop It sounds like this analyzer might tie in with your doc comment porting tool.

[2020-06-05 18:38] cartermp commented on #18637
Updated the PR.

[2020-06-05 19:23] davidwrighton commented on #18615
Agreed. This is a documentation error. That HRESULT does not appear to exist anywhere.

[2020-06-05 19:24] nojaf commented on #18637
Many thanks for this @cartermp!

[2020-06-05 19:56] JasonCard commented on #18360
@gewarren The feature has been deployed and I've confirmed with [this example in the feature](https://docs.microsoft.com/ja-jp/dotnet/framework/configure-apps/file-schema/network/specifiedpickupdirectory-element-network-settings) that it works after I re-uploaded the source file and file was re-localized. Now I need to re-upload all source files that are affected. It looks like most files under <h

[2020-06-05 20:23] Youssef1313 commented on #18815
[code]

The previous code has **exactly** the same behavior and IL as using the `new` keyword:

[code]

So, why should you use `new`?

- By using `new`, the compiler warning won't show.
- By using `new`, you show to anyone who reads your code that you **intentionally** want to hide the base class member.

And, you shouldn't use `new` if:

- Your intention wasn't to hide the base class member, in t

[2020-06-05 20:59] ghogen opened #18823 "-pathmap compiler option for Visual Basic"
The vbc.exe compiler supports the -pathmap option.

-pathmap:<K1>=<V1>,<K2>=<V2>,...
                                  Specify a mapping for source path names output by
                                  the compiler.

This is documented for C#, but not for VB.  (I submitted a PR for this for F#: https://github.com/dotnet/docs/pull/18820)

[2020-06-05 21:48] tdykstra commented on #3180
`--framework`  for console apps was added to the doc along with a link to valid values in #14356, closing this issue.

[2020-06-05 21:48] #3180 closed

[2020-06-05 22:00] tdykstra commented on #3175
Closing.

[2020-06-05 22:00] #3175 closed

[2020-06-05 22:21] tdykstra commented on #2684
Setting priority to P1 as this is a high traffic doc.

[2020-06-05 22:40] tdykstra commented on #4141
That PR was closed with this comment:

#7833 was merged

[2020-06-05 22:40] #4141 closed

[2020-06-05 23:12] dk-mushiyoke opened #18824 "Large section of text marked as hyperlink erroneously"
Under section "The case statement and the when clause"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d9cc47-5caf-184a-0ad6-cb968850be7a
* Version Independent ID: f058bf17-04e9-9e23-05c7-66c1864445ad
* Content: [C# switch statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-refere

[2020-06-05 23:15] dk-mushiyoke commented on #18824
Looks like I just created a duplicate issue of #18784, I'll close this myself. For some reason the feedbacks were not showing up on the documentation page which led me believe that this was a new issue.

[2020-06-05 23:15] #18824 closed

[2020-06-05 23:24] DSivtsov opened #18825 "In section Virtual members a miscopy error (wrong text of code)"
[In section Virtual members](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/polymorphism#virtual-members) the second example is wrong - it fully repeat previous example from this section (i think it's a miscopy error).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ebd197-8f01-b8

[2020-06-05 23:45] gewarren commented on #18360
@JasonCard Now that this is implemented, I'm wondering about the places we're using the "escaped XML syntax" to signify something other than XML, and where we *do* want that text to be localized. For example, it's very often (~1500 occurrences in this repo) used to represent placeholder text, like a version or a directory path. There's an example in [this file](https://raw.githubusercontent.com/do

[2020-06-06 01:07] JasonCard commented on #18360
@gewarren Thank you for the info. We're not aware that "escaped XML syntax" are used for localizable text, so I'll discuss this internally and get back to you.

Yes, if there is whitespace following the `\<`, then text after that will be localized.

[2020-06-06 02:49] KishorTiwari commented on #9517
Thanks @Tiramonium It worked for me.

[2020-06-06 17:31] Denis535 commented on #12736
It's testing nothing, just declare new variable.

[2020-06-06 21:16] jchristn opened #18833 "Cannot get this code to work; throws exception."
Please refer to: https://stackoverflow.com/questions/62235272/sqlite-metadata-query-fails-with-microsoft-data-sqlite-works-with-system-data-s

-- snip --
I have a simple query taken directly from Microsoft's documentation (see https://docs.microsoft.com/en-us/dotnet/standard/data/sqlite/metadata) that is failing. According to the documentation, queries against ```sqlite_master``` should work as in

[2020-06-06 23:32] bricelam commented on #18833
What does your project file look like? What is the value of conn.ServerVersion?

[2020-06-07 02:01] AceHack opened #18834 ""Use previews of the .NET Core SDK" does not exist in VS 2019 16.7 Preview 2"
The documentation is incorrect for the latest version of visual studio preview VS 2019 16.7 Preview 2

`If you are in Visual Studio, it uses the prerelease status requested. That is, if you're using a Preview version of Visual Studio or you set the Use previews of the .NET Core SDK option (under Tools > Options > Environment > Preview Features), prerelease versions are considered; otherwise, only

[2020-06-07 02:34] dada2048 opened #18835 "Unicode codepoint is wrong in one example."
"U+0065 LATIN SMALL LETTER A"
is wrong.
It should say "U+0061 LATIN SMALL LETTER A", like it does a bit earlier in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6cf7421-fbd2-0ca0-7385-4df65531fd66
* Version Independent ID: d53a0764-9f27-16b3-c40a-9627dd1bcc0d
* Content: [Introduction to character encodi

[2020-06-07 02:54] ssbaca opened #18836 "Offer some clarification??"
I would suggest that some clarification would be helpful in the following paragraph.
**Download and manually install**
To extract the runtime and make the .NET Core CLI commands available at the terminal, first download a .NET Core binary release. Then, create a directory to install to, for example %USERPROFILE%\dotnet. Finally, extract the downloaded zip file into that directory.

First, regardin

[2020-06-07 03:52] jchristn commented on #18833
Hi @bricelam here is the .csproj:
[code]

and here is the output of ```conn.ServerVersion```:
[code]

Cheers, Joel

[2020-06-07 09:26] pkulikov commented on #18787
I would suggest the following phrasing:

@KathleenDollard @BillWagner @talouv what do you think?

[2020-06-07 11:36] Youssef1313 opened #18840 "Add more use-cases for explicit interface implementation"
This [SO answer](https://stackoverflow.com/a/62209451/5108631) by @jskeet explains a use-case for explicit interface implementation, other than the only mentioned use-case in the article.

I think another use-case for explicit interface implementation is allowing sub-classes to override the implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-07 18:34] tdykstra commented on #18835
@dada2048 Thanks for reporting that.

[2020-06-07 18:35] #18835 closed

[2020-06-07 19:51] tscode111 opened #18842 "Dumps core"
[Enter feedback here]

This MSFT example program crashed. Here is the diags info.

What can we do differently?

rocess:               dotnet [14199]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        vsdbg [14198]
Responsible:           Terminal [6734]
User ID:               501

[2020-06-07 20:51] talouv commented on #18787
What about keeping it short and simple, and then maybe linking to the docs of the decimal / double where they elaborate on the representation base?
https://docs.microsoft.com/en-us/dotnet/api/system.double
https://docs.microsoft.com/en-us/dotnet/api/system.decimal
(see remarks on both pages).

[2020-06-07 21:07] talouv commented on #18787
Now that I think of it, I might simply be wrong on creating this issue. You will have the same rounding errors as with doubles.
For doubles, 1/10+...+1/10 (10 times) will not equal 1, but for decimals 1/3+1/3+1/3 will not equal 1.

Why should it be better for financial transactions to have the rounding error for 3 times 1/3 than for 10 times 1/10? That makes no sense.

There is some discussion on

[2020-06-07 22:27] Liturgist opened #18843 "What is relationship of dotnet-install and Install-Dotnet in Powershell?"
The PowerShell build.psm1 module contains Install-Dotnet.

What is its relationship to the dotnet-install command mentioned on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts

[2020-06-08 01:15] alexandair opened #18845 "--local option is not documented"
--local option is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ceadded-82f0-9b11-36b3-a5582a4a57d7
* Version Independent ID: 27f38a93-1b87-d5e2-c7d4-29faf36ea521
* Content: [dotnet tool list command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-list)
* Content Source

[2020-06-08 06:36] pkulikov commented on #18787
@talouv that's right: `decimal` doesn't eliminate round-off errors completely. However, maybe, those round-off errors are met less frequently with `decimal` than with `float` or `double`. That is, I assume that one meets 0.1 more frequently in financial domain than 1/3. In general, I think that numbers of the form `abcd.efgh` are met in financial applications rather than of the form `n / m`. The `

[2020-06-08 07:29] talouv commented on #18787
Good point. I talked with my colleague about this, and he pointed the same thing out, and I agree.

Very low level, you could say that in your online bank, you would enter 0.33 for 1/3 and 0.10 for 1/10. And you would not expect those numbers to cause any rounding errors.

[2020-06-08 08:05] sauravbhattacharya001 opened #18847 "Lacking information on .NET architectural components docs page"
When I see "architectural components" in the title of a page, I expect there to be information about the first order segments that make up .NET. Maybe info about the Object hierarchy, some important namespaces, and some common extensions for IO, web, etc. This information is lacking in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-06-08 10:07] Youssef1313 commented on #18845
The current docs says:

So, it seems that `dotnet tool list --local` is equivalent to just `dotnet tool list`. However, I surely agree that it needs to be documented.

I'll wait until @tdykstra review this, and confirm that `dotnet tool list --local` is the same as `dotnet tool list`, then I can submit a PR.

[2020-06-08 10:21] gungunfebrianza opened #18849 "Why No Dynamic as Reference Types?"
Hello, is dynamic considered as reference type? if yes, i saw no dynamic as part of reference type?

thank you, correct me if i was wrong
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe245daf-f6b8-1100-3786-b15feefe137b
* Version Independent ID: c031bb57-cb5b-f953-4711-a0ed054dab3f
* Content: [Built-in types - C# refe

[2020-06-08 11:09] Andrusha26 commented on #18130
thank you so much, for the response, make sense

[2020-06-08 14:05] #10653 closed

[2020-06-08 15:46] tdykstra commented on #18845
@wli3 -- Is `dotnet tool list` the same as `dotnet tool list --local`?

And why does the command's `--help` output show PATH in the description -- when I try to specify a path with `--local` it responds `unrecognized command or argument`

[code]

[2020-06-08 16:08] tdykstra commented on #18843
Where are you getting build.psm1 from?

[2020-06-08 16:31] tdykstra commented on #18834
The use of the option is relevant only if you're not using a preview version of VS:

[2020-06-08 17:32] IEvangelist commented on #18842
Hi @tscode111, thank you for posting this issue. Could you please share the exact code here that you experienced this issue with? I want to verify it is identical to the source code in the example.