[2019-12-13 16:19] SuperNova911 commented on #16237
@BillWagner Why not lol 😄

[2019-12-13 16:21] BillWagner commented on #16237
Thanks @SuperNova911 . I've assigned this to you.

[2019-12-13 16:58] OnecodexGitHubAdmin opened #16243 "Failed to fetch https://packages.microsoft.com/debian/9/prod/dists/stretch/main/binary-amd64/Packages.bz2 Hash Sum mismatch"
Hi there

I tried to install dotnet core 3.1 on my debian 9 machine.
I did it exactly the same way as described here:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-debian9

When trying the sude apt-get update command it throws the following error:

Err:8 https://packages.microsoft.com/debian/9/prod stretch/main amd64 Packages
  Hash Sum mismatch
  Hashes of expected fi

[2019-12-13 17:43] cartermp commented on #16177
@baronfel this makes sense and I think the structure is right. Adding docs is very very easy:

* Create a folder for this with a meaningful name (`language-reference/compiler-messages`)?
* Put a single `index.md` file to represent a root document
* Put some markdown files in there (copy/pate from other files for metadata and I'll help from there)
* Write the article using normal markdown
* Add lin

[2019-12-13 18:04] baronfel commented on #16177
Thanks for the pointers! I'm about to go on vacation for a bit, but I'd like to do a bit of hobby-poking around on this when I get back, and those will help immensely.

[2019-12-13 18:13] ahzf commented on #16239
I have the same problem with Debian 10 :(

[2019-12-13 18:24] CeciAc opened #16244 "Need updates in some download links"
@t104 commented on [Thu Dec 12 2019](https://github.com/dotnet/docs.ja-jp/issues/997)

The following links are dead. Could you please update?

[NET Framework 4.6.1 Developer Pack](https://go.microsoft.com/fwlink/?LinkId=690706)
[4.6.1 Web インストーラーのダウンロード ページ](https://go.microsoft.com/fwlink/?LinkId=671729)
[4.6.1 オフライン インストーラーのダウンロード ページ](https://go.microsoft.com/fwlink/?LinkId=671744)
[Microsoft .

[2019-12-13 18:27] CeciAc commented on #16244
Hi team
I moved this here because the reported broken links are also present in the en-us page

[2019-12-13 18:46] #16179 closed

[2019-12-13 18:52] miniksa commented on #14924
I just arrived here attempting to do this exact thing. I want to specify something like $L1 to lowercase the capture from group 1. Some other utilities do this: https://www.regular-expressions.info/replacecase.html

Even if it's not possible/documented today, can you please file a feature request so the next Visual Studio might be able to do this?

[2019-12-13 19:00] Youssef1313 commented on #14924
@miniksa, I don't think it's related to Visual Studio at all. It *could* be related to `dotnet/runtime`. Personally, I don't think this is possible, but you may open an issue in the `dotnet/runtime` repo and see what will be said.

[2019-12-13 19:02] miniksa commented on #14924
@Youssef1313, Hmmm, I was attemping to do this in the Visual Studio 2019 text editor Find/Replace window. Which I'm pretty sure is powered by whatever capabilities .NET has. So I'm sort of hoping Visual Studio, with its weight, could drive .NET upstream to introduce this feature such that everyone could make use of it. I thought I was on a Visual Studio help page, though, to be honest. Not one for

[2019-12-13 19:06] Youssef1313 commented on #14924
Oh, I thought you were trying to do it by code. not by using the Find/Replace window. then it's not related by dotnet/runtime. but still, I don't think it's possible. Regex is not a Microsoft thing. so still, if there is no way to do that in regex, this can't be changed. If there is a way that I'm not aware of to do that in Regex, then it's a different story.

[2019-12-13 19:07] dagood opened #16245 "The .NET Core package-manager-based install page isn't as clear as the old site about only supporting x86-64"
On the old site, there was a clear, bold message about the package repos only supporting x64. Along the lines of "Not using an x64 machine? Use the other install methods instead", linking to the download table.

It's very common for people using e.g. Raspberry Pi to try to download .NET Core with the package repo. The error message is extremely unclear, just saying it can't find the package, so it

[2019-12-13 19:16] miniksa commented on #14924
I only bring up the possibility because:
1. I wanted to do it
2. Someone else has this problem
3. Just Great Software has a solution to this for their Regex implementation that I linked above.

It seems like a decent idea that's just missing. I'd like to see .NET and/or VS at least consider it.

[2019-12-13 19:18] Thraka commented on #16243
@ondrejstrouhal Can you provide the kernel version and architecture you're running on?

@leecow Can you confirm the download hash?

[2019-12-13 19:21] Thraka commented on #16243
@ondrejstrouhal Actually, I just discovered there is an outage. Your problem is probably related to that: https://github.com/dotnet/core/issues/3995

[2019-12-13 19:24] Thraka commented on #16239
Looks like there is a bigger issue right now. https://github.com/dotnet/core/issues/3995 can you follow up on that thread? Some are reporting it's working again. I'm going to close this issue.

[2019-12-13 19:24] #16239 closed

[2019-12-13 19:27] Thraka commented on #16242
@jozefizso I'm going to move this issue to the cli repo where the source of the script is.

[2019-12-13 19:28] OnecodexGitHubAdmin commented on #16243
I recognized that there was a general issue with the repositories on several linux distributions.
[dotnet/core#3988](https://github.com/dotnet/core/issues/3988)
So my problem is already solved.
Anyway thanks a lot for your response

[2019-12-13 19:28] #16243 closed

[2019-12-13 19:28] Thraka commented on #16242
This issue was moved to dotnet/cli#13159

[2019-12-13 19:28] #16242 closed

[2019-12-13 19:29] mairaw commented on #16242
It should probably go to the sdk repo instead.

[2019-12-13 19:34] Thraka commented on #16144
Probably dotnet/core as other issues related to the linux installers are there.

[2019-12-13 19:43] Thraka commented on #16218
@jefferyp1138A Does this link work? I just searched for a standalone installer. If it works, we'll update the article: https://www.microsoft.com/en-us/download/details.aspx?id=25150

[2019-12-13 19:45] Thraka commented on #16245
Agreed. I can link back to https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-linux#supported-operating-systems and at least put some quick information about the supported architectures on each page.

yes?

[2019-12-13 20:06] mrmowji opened #16247 "Why did they name it `private protected`?"
I think the reader needs to know (or at least intuitively understand) how names/keywords are chosen for specific use cases. Here, we have `private protected`. Based on the naming chosen for `protected internal`, we can put an **or** between `protected` and `internal` and intuitively guess what it does. If we believe there is some naming convention behind .NET specification, the reader might take t

[2019-12-13 20:12] dleeapho commented on #16144
Issue moved to [dotnet/core #3996](https://github.com/dotnet/core/issues/3996) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-13 20:40] mairaw commented on #16144
I'm closing this one then. We can also use the GitHub Transfer issue button to move issues across the dotnet org.

[2019-12-13 20:40] #16144 closed

[2019-12-13 23:11] gewarren commented on #7294
Translation: Not in the page, in APP xaml.

[2019-12-13 23:17] gewarren commented on #7294
@Thraka Should we clarify where to insert the XAML?

[2019-12-13 23:29] tdykstra commented on #14924
The feature has already been requested, and you can vote for it here:  https://developercommunity.visualstudio.com/content/idea/580810/case-preserving-search-replace.html

[2019-12-13 23:29] gewarren commented on #16192
The members are:

[code]

[2019-12-14 00:17] wli3 commented on #8988
it is a runtime feature. First seem in SDK 2.1.300

[2019-12-14 00:43] giovanism opened #16254 "libicu not found"
libicu is named [icu](https://build.opensuse.org/package/show/openSUSE%3AFactory/icu) on both Leap 15.1 and Tumbleweed version of openSUSE. Any idea for new installation method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6baea63-f650-e232-854b-c1722ed72543
* Version Independent ID: 56c0bff6-2630-06f8-9c86-e81ca292

[2019-12-14 01:45] mrmowji opened #16255 "C# Docs structure"
I'm checking [C# docs](https://docs.microsoft.com/en-us/dotnet/csharp); it's been a while. I've checked them before, but now, they're separated from .NET docs which is an improvement. But there are some issues I like to mention. Hope it helps, and brings more joy and more fluent experience to readers learning C# (or other .NET areas).

- I think everyone would agree on this one: **duplicate conten

[2019-12-14 01:48] #16053 closed

[2019-12-14 08:54] noorulh06 commented on #10085
I don't under what they want to say by telling to use Extension class?

[2019-12-14 20:14] evancg37 commented on #16245
Oh wow. Thanks for mentioning that, I was still trying to install it over and over with no luck on my PI.

[2019-12-14 22:27] carlosporter opened #16261 "Bad command line practices"
**Before you open an issue**

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, consider asking on a support forum site.
- A site design concern, create an issue at [MicrosoftDocs/feedback](https://github.com/MicrosoftDocs

[2019-12-14 22:35] carlosporter commented on #16261
The commands used on this document are too redundant about the use of "apt-get update", you need to run the command only  once after installing the package packages-microsoft-prod.deb which adds the Microsoft repository.

It's not necessary to run "apt-get update" before every single "apt-get install" command

You can take this:
[code]

And just replease it with this:
[code]

[2019-12-14 22:44] carlosporter opened #16262 "Bad command line practice"
The commands used on this document are too redundant about the use of "apt-get update", you need to run the command only once after installing the package packages-microsoft-prod.deb which adds the Microsoft repository.

The same thing to command that installs that "universe" repository

And it's not necessary to run "apt-get update" before every single "apt-get install" command

You can take this

[2019-12-14 22:47] carlosporter commented on #16262
The commands used on this document are too redundant about the use of "apt-get update", you need to run the command only once after installing the package packages-microsoft-prod.deb which adds the Microsoft repository.

The same thing to command that installs that "universe" repository

And it's not necessary to run "apt-get update" before every single "apt-get install" command

You can take this

[2019-12-15 09:07] Youssef1313 commented on #16152
@BillWagner, this can be closed now as it's fixed in dotnet/samples#1843.

[2019-12-15 11:16] Qyperion commented on #12744
It seems to me that using another IoC-container is a bit inconvenient. I implemented another option in the Net Core solution. I split the base UI project into two projects: UI and Host. The point is that in the Host project, only DI registration and other service things remain. And the new UI project is an ordinary class library, where I moved the Controllers, Views, wwwroot and all the rest UI th

[2019-12-15 11:37] Youssef1313 commented on #12742
@BillWagner, It seems that Microsoft bought the contoso.com domain is it now redirects to microsoft.com. This should be closed now right ?

[2019-12-15 11:42] phuclv90 opened #16267 "Typo in the "Supported client operating systems" part"
There's a stray `|` in

&gt; On 64-bit operating systems, the .NET Framework supports both WOW64 (32-bit processing on a 64-bit machine) and| native 64-bit processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8afd1f96-b008-8b2e-bf3e-89d91f8cca5e
* Version Independent ID: 2010bd32-59f6-823c-f193-27439e12798d
* Con

[2019-12-15 13:45] Youssef1313 commented on #14858
@BillWagner, Regarding this issue, can you look at this PR and my comment ? https://github.com/dotnet/samples/pull/1426#issuecomment-529100230

[2019-12-15 14:56] Ignatius54 commented on #12219
@BillWagner
Maybe, but it does specifically relate to the "typical use of static constructors" mentioned in the article, for which no explanation is given.

[2019-12-15 20:09] BillWagner commented on #16247
That's a good question @mrmowji

We should add more explanation to help developers remember this correctly. The reasons are historical. The access modifier `protected internal` was introduced in C# 1.0 to mean either `protected` or `internal`. To add a modifier for `protected` and `internal` required picking a new phrase. Adding a new keyword was problematic because it could already be used for a

[2019-12-15 20:13] BillWagner commented on #16255
That's very good feedback @mrmowji

We've started planning for many of the changes you've requested above.  I've summarized the plan in this [gist](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd). We'll keeping working on making improvements.

Thanks for adding your thoughts.

[2019-12-15 20:34] mrmowji commented on #16247
Thanks @BillWagner. That makes my life easier; I'll remember.

[2019-12-15 20:37] Khaled-Janada opened #16272 "Wrong wording in documentation"
The contract type should be "IMyAddin" not "IMyData" in the sentence:
"This class defines a custom attribute named MyAttribute with contract type IMyData"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc1d105d-2214-236d-931d-b914fd891f22
* Version Independent ID: 9d0adb5b-f7c8-a856-f90d-5ea6763ab657
* Content: [Attrib

[2019-12-15 20:38] mrmowji commented on #16255
@BillWagner Thanks. Towards better docs. I love it.

[2019-12-15 22:58] mrmowji opened #16273 "Why static methods instead of instance ones?"
I already asked the same question in StackOverflow, but it was closed since they thought it's opinion-based.

The issue is not the specification itself. It's the lack of reasoning behind "why"s. The reader may not understand the concepts easily, and the API docs must be the first place to look them up. I couldn't find anything, maybe it's my fault.

We have different types in .NET; `string`, `char

[2019-12-15 23:27] marlonedu opened #16274 "Sample code not found"
The source code for the project not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2dd5bf-6e11-49e5-d88c-5858873770bc
* Version Independent ID: ae9cb1d8-4f64-43fa-e16d-1db60067a430
* Content: [Fine-Tuning Your Async Application (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/asyn

[2019-12-16 02:17] #12057 closed

[2019-12-16 02:18] mairaw commented on #12057
Thanks for your feedback @TheFreezingChicken. I've fixed this in PR #16141. The change should be live within a day.

[2019-12-16 03:53] mairaw commented on #16272
Thanks for your feedback @Khaled-Janada. Would you like to submit a pull request to fix that?
Here's how: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-12-16 03:56] mairaw commented on #16262
Thanks for your feedback @carlosporter. I imagine this is related to one of the Linux package manager articles, correct?

/cc @leecow

[2019-12-16 03:56] mairaw commented on #16261
Duplicate of #16262

[2019-12-16 03:56] #16261 closed

[2019-12-16 06:58] mairaw commented on #13324
I've added an example to PR #15382, but it uses `latestPatch` instead for this scenario.

[2019-12-16 07:22] mairaw commented on #16075
I've edited your issue to add that @gewarren.

[2019-12-16 07:32] paulomorgado opened #16277 "unmanaged type"
&gt; In expression stackalloc T[E], T must be an unmanaged type and E must be an expression of type int.

There are no examples of unmanaged types and no mention on the docs of value types, which are the ones used in the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecde487e-96e5-85c2-ff87-227994f705ad
* Ver

[2019-12-16 07:53] pkulikov commented on #16277
Examples of (user-defined) unmanaged types are in the corresponding [reference article](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/unmanaged-types). I'm afraid that including them into the `stackalloc` article would make examples focused more on an unmanaged type, rather than on `stackalloc`. So, that would be the loss of focus. To me, for example, the main pur

[2019-12-16 08:00] Youssef1313 commented on #16274
It's a known issue, https://github.com/dotnet/docs/issues/13599.

[2019-12-16 08:01] Youssef1313 commented on #16274
Currently, the sample is archived [here](https://github.com/microsoftarchive/msdn-code-gallery-community-a-c/tree/master/Async%20Sample%20%20Fine%20Tuning%20Your%20Application%20(C%23%20and%20Visual%20Basic)).

[2019-12-16 08:11] Youssef1313 commented on #16273
I think this could be related to memory optimizations. If they were instance methods, they would be loaded with each object of the type `System.Char`.
I disagree about the reasoning of Extension Methods. Instance methods are not extension methods.

However, I'm not 100% sure.

[2019-12-16 08:48] HugoRoss opened #16279 "Mistake in example"
In the example about the `switch` statement, after "can be reversed without affecting the behavior of the statement:", the label `case 2:` is missing.

Old:

[code]

New:

[code]

EDIT by Thraka: Add the code blocks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 964ae3d9-f201-1331-2004-8ea5c3dac2ee
* Version Independen

[2019-12-16 09:11] HugoRoss opened #16280 "Switch example could be improved"
In the example of a switch statement with governing type string: The example could be improved to include the in the previous paragraph mentioned alternative `break` conditions and the later mentioned `null` value. I also think it's a bad idea to make a command name `.ToLower()` but suggest to make it `.ToLowerInvariant()` instead.

Old:
        void DoCommand(string command) {
            switch

[2019-12-16 10:05] #16272 closed

[2019-12-16 10:26] Lightgazer opened #16281 "Fedora 31"
There no page for fedora 31.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 3e656d98-d9c6-3feb-c663-96894c813213
* Version Independent ID: 39aa858c-592b-d57f-eb78-759d5add5f35
* Content: [Install .NET Core on Fedora 30 - package manager - .NET Core](https://docs.microsoft.com/ru-ru/do

[2019-12-16 11:07] carlosporter commented on #16262
Hello,

The comment is in regards of the instructions provided on this document:

https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1904

The same issue can be seen on https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804

[2019-12-16 12:42] ikucan opened #16282 "Asynchronous disconnect should be added to this example?"
The example is nicely structured. And it would also be helpful to incorporate an asynchronous disconnect.

When the semaphores are removed and the code is run in a more realistic fashion, the shutdown places the socket into an incorrect state, causing an exception to be thrown in the blocking receive callback.

[code]
This can be prevented if an async disconnect is added as it wakes up the blockin

[2019-12-16 14:04] Youssef1313 opened #16283 "Broken link"
The link for *diagnostics tutorials* in https://docs.microsoft.com/samples/dotnet/samples/diagnostic-scenarios/ is broken.

cc: @sdmaclea

[2019-12-16 14:54] UweHey opened #16284 "AppContextSwitchOverrides defaults are true sometimes"
Hi,

on https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element it is stated that default value for these switches is false.

However for some switches default may be true, see https://referencesource.microsoft.com/#mscorlib/system/AppContext/AppContextDefaultValues.Defaults.cs,5b9195512afdf2cc.

For instance, BlockLongPath has default

[2019-12-16 14:58] #16284 closed

[2019-12-16 14:59] UweHey commented on #16284
Misread code. Need still to understand why behavior, doesn't change when targeting 4.8

[2019-12-16 15:13] ardalis commented on #12744
That should work. I think it's a matter of choosing which is more inconvenient:

- Using a third-party IOC container like Autofac (which has more features than the built-in container)
- Adding another project to your solution to support app startup

I lean toward the former but if you prefer the latter I see no reason it won't work fine.

[2019-12-16 16:31] marlonedu commented on #16274
Thank you!!

[2019-12-16 16:36] spazmodius opened #16286 "Contradictory info on String.CompareTo"
[How to compare strings in C#](/dotnet/docs/blob/master/docs/csharp/how-to/compare-strings.md)
contains conflicting information about `String.CompareTo()`

Under the heading **Default ordinal comparison**, it says

Yet, two paragraphs below that, it says

Under the heading **Ordinal sorting and searching in collections**, it says

The **Note** at the article's end says

The linked documentation fo

[2019-12-16 16:48] JiriCepelkaFirstLineSoftware opened #16287 "See also\Types links to C# Keywords"
The point Types in [See also](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/unsafe-code-pointers/pointer-conversions#see-also) chapter links to [C# Keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a2663a9-16e5-31b7

[2019-12-16 17:28] Youssef1313 commented on #16287
Probably the best thing to do here is to replace this link with two links, the value types and reference types.

[2019-12-16 17:31] gewarren commented on #16075
Thanks Maira!

[2019-12-16 17:46] #6043 closed

[2019-12-16 18:41] Thraka commented on #16254
Thank you for reporting this problem. @dagood will take a look and get back to you. Thanks!

[2019-12-16 19:03] dagood commented on #16254
This seems to be caused by a change in Leap 15.1 to remove the `libicu` "provides" clause in the package build. This was previously limited to the Tumbleweed distro (which we don't support) but it looks like it's included in Leap 15.1 now. More description from https://github.com/dotnet/core/issues/3500#issuecomment-536331871

Since we do support Leap 15+, we need to change this now. This means we

[2019-12-16 19:09] dagood commented on #16254
I'm not able to repro this, @giovanism can you confirm you're seeing an issue with the `sudo zypper install libicu` line on openSUSE Leap 15.1? This run in Docker is fine:

[code]

(The leap 15.1 Docker image might not represent the state of the "real" repo, or maybe you have different repos enabled?)

[2019-12-16 20:04] Thraka commented on #7294
It is clarified https://docs.microsoft.com/en-us/dotnet/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application#style-controls this says to add it to the app xaml. But, I don't think this would cause the problem. The error is that the property `Content` has been set more than once. So there is some other issue with the xaml.

@1277201882 can you share more information? Can you s

[2019-12-16 20:14] Thraka commented on #16279
I'm not sure if it was intentionally removed. The text doesn't make that clear. Functionally though, `case 2` still falls into `default` so I think it could be added back in for consistency.

I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to

[2019-12-16 20:19] Thraka commented on #16280
I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

However, I don't think that the `InvalidCommand` should b

[2019-12-16 20:22] dagood commented on #16262
If our running theory on what's going on here is correct, we **do** need to update after installing `apt-transport-https`, because it allows the `update` against the Microsoft Linux package repo to work. Our repo uses https, so until apt-transport-https is installed, it will fail.

I'd argue that maybe it should say to install `apt-transport-https` before setting up the feed (to avoid potentially

[2019-12-16 20:29] Thraka commented on #16273
Unfortunately this still isn't the place to ask this question, just because I doubt you would get the answer you're looking for. But honestly, I don't think you would get a definitive answer. .NET is pretty robust and adaptable to your style of programming. The original engineers of the class model may have conceptually thought that the best place for these methods was on the type instead of the i

[2019-12-16 20:29] #16273 closed

[2019-12-16 20:57] mrmowji commented on #16273
@Thraka The problem with this pattern (if it is one), is that the developer can't easily find where to look up for a specific method; it's not obvious. For example when we need to join array elements into a string, we use the `Join` method from `String`, not any method related to that array type. **Should we see the return type of that method as a hint?** I don't know. Maybe that's a thing to live

[2019-12-16 21:32] aedwill opened #16289 "Reads like CNN"
Pretty funny.  This page reads like CNN.  Totally one-sided, hides all opposing views, pushes bad information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad8df5d-9295-d659-a561-ec9cabd5b61f
* Version Independent ID: 7ee71103-d997-140e-2d35-d9f2a3913e09
* Content: [Choose between traditional web apps and single pag

[2019-12-16 21:50] Thraka commented on #16281
@leecow Should there be one?

[2019-12-16 21:57] Thraka commented on #16283
@sdmaclea Do you remember where this link was supposed to go? I couldn't find anything in the git history that points to a file existing there.

[2019-12-16 22:01] Thraka commented on #16240
Is this related to a specific tutorial or article? This repository is for bugs and issues related to documentation. If you're having a programming problem you may have better luck detailing your scenario for a community forum such as [Stack Overflow](https://stackoverflow.com/).

I'm going to close this as offtopic, sorry.

[2019-12-16 22:01] #16240 closed

[2019-12-16 22:08] Thraka commented on #16286
Explaining the default behavior in different ways is indeed confusing. This should be the same sentence for each section where it is required to provide this information.

[2019-12-16 22:51] paulomorgado commented on #16277
In hindsight, I might have misunderstood what `unmanaged types` are.

[2019-12-16 22:51] #16277 closed

[2019-12-16 23:05] gewarren commented on #7294
@Thraka I think the issue is in reference to this section, which does have a Content attribute.

https://docs.microsoft.com/en-us/dotnet/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application#style-data-with-data-templates

[2019-12-17 00:11] ardalis commented on #16289
Which “side” does it take and what does it leave out? How does your comment help to improve this content?

[2019-12-17 00:12] Lightgazer commented on #16281
It latest release version. The instructions on the Fedora 30 page work but it could confuse people like there no support for 31.

[2019-12-17 00:59] Thraka opened #16291 "Move xaml-services-types-migrated article to migration guide."
https://docs.microsoft.com/en-us/dotnet/framework/xaml-services/types-migrated-from-wpf-to-system-xaml should really be in the migration guide. It's talking about WPF changes from 3.5 onward. This should be removed from the xaml-services library.

[2019-12-17 01:17] BillWagner commented on #16287
Thanks @Youssef1313 That is a good recommendation.

[2019-12-17 01:18] BillWagner commented on #16274
Thanks for adding the pointer @Youssef1313

I'm glad that helped @marlonedu

I'll close this as a duplicate.

[2019-12-17 01:18] #16274 closed

[2019-12-17 05:02] erikness opened #16293 "HttpClientHandler.AutomaticDecompression only decompresses one layer"
**Issue description**

In HttpClientHandler, you are allowed to set AutomaticDecompression (values are GZip, Deflate, Brotli, None, or a combination of those). The idea is that .NET will automatically decompress HTTP responses for you.

Compression on the HTTP response body is defined by by the "Content-Encoding" header. However, this can have multiple values if the content was compressed multiple

[2019-12-17 06:17] pkulikov commented on #10726
@BillWagner I'll be back to working on this issue after the holidays, in the middle of January.

[2019-12-17 10:21] marklam opened #16295 "ArraySegment GetSlice implementation differs from Array"
The example implementation for `ArraySegment.GetSlice` shows an exclusive end index, but `Array.GetSlice` has an inclusive end index.
So:
[code]
returns `[|3; 4; 5; 6|]` whereas the example for `ArraySegment` returns `[|3; 4; 5|]`
I would suggest changing the example implementation to work the same as slicing an `Array`.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-12-17 11:14] 62019 opened #16297 "Console.WriteLine($"x = {p.x}, y = {p,y}"); p,y is issue . you know should p.y"
Console.WriteLine($"x = {p.x}, y = {p,y}");  p,y is issue . you know should p.y

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ac12d2-0496-d7df-491e-f75a0ff6beb5
* Version Independent ID: 6a8127dd-1d58-63e3-3963-685d9228f1ad
* Content: [public keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/lan

[2019-12-17 11:57] ruvor opened #16298 "This isn't the illustration you're looking for"
The picture here in this article doesn't answer to the description in the paragraph below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fc635-d7d3-8ac2-bfbb-d723c27d54b0
* Version Independent ID: 5ea85a53-54a5-3bd2-1623-c4d14d2e5e71
* Content: [Assembly contents](https://docs.microsoft.com/en-us/dotnet/standard/as

[2019-12-17 12:52] brucemcmillan opened #16299 "regex fails on names that end with underscore"
I have created a test hotmail account

bruceweqweqwewqeqwe_@hotmail.com

it exists  but the regex fails it as a check, note the last char of the name is an underscore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202e3f9f-a12a-53de-9069-fd469e3dbebc
* Version Independent ID: fd3699bb-4881-b6b4-1275-43eed3d5f626
* Cont

[2019-12-17 14:02] sorvis opened #16301 "How to install in a container such as PCF"
I'm looking to install dotnet-trace in a container hosted by PCF. Following the directions I figured out these commands so far get dotnet-trace installed:
[code]

---

From here though running dotnet-trace results in:

Any troubleshooting suggestions of how to get at the Microsoft.NETCore.App package? If we can figured this out a troubleshooting section at the bottom of the article may be helpful

[2019-12-17 14:31] #16287 closed

[2019-12-17 14:35] #16297 closed

[2019-12-17 14:41] BillWagner commented on #10726
Thanks @pkulikov Enjoy the break. I'm looking forward to continuing our collaboration in the new year.

[2019-12-17 14:51] BillWagner opened #16302 "Add the dotnet/runtime .editorconfig to our samples repo"
We've long stated that we generally follow the ]dotnet/runtime coding standard](https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/coding-style.md).

They've not added an [.editorconfig](https://github.com/dotnet/runtime/blob/master/.editorconfig) that enforces these guidelines.

We should add it to our samples repo.

[2019-12-17 15:01] bzaar opened #16303 "'sn' is not recognized as an internal or external command"
[code]

The [SN tool documentation page](https://docs.microsoft.com/en-us/dotnet/framework/tools/sn-exe-strong-name-tool) says

What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2d65a40-0ea7-09ce-33fc-39525310b05e
* Version Independent ID: f6cbd1c2-7708-03aa-a935-0dbfa07e6177
* Content: [Sn.exe (Strong

[2019-12-17 15:37] sdmaclea commented on #16283
It is supposed to point at a file which will be introduced by https://github.com/dotnet/docs/pull/14110

[2019-12-17 15:40] Youssef1313 commented on #16283
This PR doesn't have a file called *diagnostic-scenarios.md* under a *tutorial* directory. Is the work on this PR still in progress ?

[2019-12-17 15:42] Youssef1313 commented on #16302
Can't the file just copied as it is ?

[2019-12-17 15:50] sdmaclea commented on #16283
Yes it is still in progress.  The layout of the PR changed since the sample was added.  That file was removed and the content was placed in docs/core/diagnostics/index.md

[2019-12-17 16:02] Ricardoaraujo00 opened #16305 "Service is created on windows but is not acessible anywhere..."
I was trying this aproach to see if this way i could expose a aspnet core 3.1 gRPC service to other aplications outside my machine. None of them can access the gRPC server. Only applications running on my machine can access the gRPC server at https://localhost:5001
I was hoping that running the aplication as a service would overcome the kastrel limiting the service on localhost..
What can i do?

-

[2019-12-17 16:11] Youssef1313 commented on #16283
So, the link should be updated from *diagnostics/tutorials/diagnostic-scenarios.md* to *diagnostics/index.md* ?

[2019-12-17 16:16] sdmaclea commented on #16301
/cc @josalem

[2019-12-17 16:20] sdmaclea commented on #16301
`Microsoft.NETCore.App` is the runtime. If you run `dotnet --info` the paths to the runtimes are listed in the output.  I would think the tool should run if there is a 2.1.0 or better runtime on the path.

[2019-12-17 16:22] Youssef1313 commented on #16303
The *sn.exe* tool is located in *C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\x64\*.

![image](https://user-images.githubusercontent.com/31348972/71014180-2f8e7700-20fa-11ea-93d6-74bdd2fc10d4.png)

[2019-12-17 16:34] sdmaclea commented on #16283
Yes.

[2019-12-17 16:35] bzaar commented on #16303
@Youssef1313, Thanks. Of course, I can find it and run it. The problem is the [SN tool documentation page](https://docs.microsoft.com/en-us/dotnet/framework/tools/sn-exe-strong-name-tool) says

And I used to be able to do so (although it was called "Visual Studio Command Prompt" back then).

Not sure if it is a problem with the documentation of my set up.

[2019-12-17 16:41] Youssef1313 commented on #16303
@bzaar, On my machine, I can't run the sn command unless I'm in that directory. so I suspect it's a doc issue. but you may need to wait until the issue get reviewed and triaged.

[2019-12-17 16:46] Youssef1313 commented on #16283
@sdmaclea, Thanks for confirmation. I've opened a PR in the samples repo. dotnet/samples#1855.

[2019-12-17 17:50] sadjadbp opened #16306 ".Net 3.1 hosting bundle installs the preview version of 3.1 runtime"
Link to hosting bundle here https://dotnet.microsoft.com/download/dotnet-core/3.1 installs the preview version of 3.1 runtime

[2019-12-17 19:29] bdbc78 commented on #9517
I'm getting this issue. Here's my project settings:
`<PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <nullable>enable</nullable>
    <AssemblyName>[assemblyname]</AssemblyName>
  </PropertyGroup>`

Adding LangVersion doesn't have any impact. This appears to align with updating to VS2019 16.4, however I cannot say that for certain. Nullable reference types were being used p

[2019-12-17 20:22] Tiramonium commented on #9517
I was facing this kind of issue at my nullable reference type property declarations, so I kind of accidentally found the solution for this warning by setting `nullable` as you do a `region` block and the parameter values dug up by @xuhongxu96 and @jcouv.

So in the end my code ended up looking like this
`
\#nullable enabled
    public Type? TypeProp { get; set; }
\#nullable disabled
`

So my guess

[2019-12-17 20:37] bdbc78 commented on #9517
Except that's not a solution to the issue, since setting `<nullable>enabled</nullable>` in the project file is supposed to negate the need for that directive. In fact, when nullable is enabled, really the only practical usage of the directives at that point is to use them to phase in the nullable functionality file by file (by using `#nullable disable`).

For some reason, in my situation the evalu

[2019-12-17 21:00] shirhatti commented on #16305
The Kestrel server in ASP.NET Core by default only to traffic on loopback. You'll need to configure your application to listen to external traffic. See the relevant Kestrel docs on how to [configure your endpoint](https://docs.microsoft.com/aspnet/core/fundamentals/servers/kestrel#endpoint-configuration).

[2019-12-17 21:08] gewarren commented on #16298
Thank you @ruvor. You are right, and I'll get this fixed.

[2019-12-17 21:11] gewarren commented on #16298
Note to self: https://github.com/dotnet/docs/blob/69f825f8b65a5c7eb67d552328ecca072a84924d/docs/framework/app-domains/assembly-contents.md is the original file.

[2019-12-17 21:21] Tiramonium commented on #9517
My latest solution was to implement it as suggested by other answers and it worked just fine. NET Core versions older than 3.0 may still face the issue probably because their framework versions don't use C# 8.0 yet, which is used by default by VS 2019 as its IntelliSense compiler, as far as I know. Those cases will require either different fixes, maybe tinkering with the IDE settings, or for them

[2019-12-17 21:22] tdykstra opened #16309 "Create table of System.Text.Json - Newtonsoft.Json equivalents"
Related to #12207 and #14446

Create table of equivalents as a quick-reference section for the Migrate from Newtonsoft.Json article, per [PR comment by pranavkm](https://github.com/dotnet/docs/pull/16225#discussion_r358410987).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Versio

[2019-12-18 01:43] Youssef1313 commented on #16283
Fixed.

[2019-12-18 01:43] #16283 closed

[2019-12-18 02:03] BillWagner commented on #16189
The automation code for the POC works well, but to completely automate the PR creation, the following tasks are still needed:

- [ ] When an eBook is updated, provide one link for the entire eBook update (stretch goal)
- [ ] Try to distinguish moved files from new files. (stretch goal)
- [ ] Reorder sections to match the hardcoded versions in #16197
- [ ] Update contributor intro text from "last m

[2019-12-18 02:07] BillWagner commented on #16189
Moving this to the January milestone. I'll finish the automation tasks during January.

[2019-12-18 02:29] RhomGit commented on #11977
Visual Studio v16.4.2

![image](https://user-images.githubusercontent.com/25700833/71050708-e33a4a00-2180-11ea-8336-9616ca068525.png)

[2019-12-18 12:41] georg-jung commented on #14411
Any progress on this? I just fell into the "trap" of following the outdated part of this doc which lead me to https://aka.ms/deprecateIconUrl when trying to upload a package to nuget.org.

[2019-12-18 15:22] bdbc78 commented on #9517
All of my project settings are correct as it pertains to what behavior I am expecting to see in the project regarding any nullable reference type warnings. However, after further investigation on another developer's development environment, it was determined that the latest version of ReSharper is the cause of the issues I'm seeing. So I will redirect my issue reporting to their issue tracker. Tha

[2019-12-18 16:54] #16298 closed

[2019-12-18 17:44] #16245 closed

[2019-12-18 18:39] mairaw commented on #16306
@leecow is this tracked somewhere?

[2019-12-18 18:44] mairaw commented on #16303
Not sure. I can run just fine just by opening the Command prompt:

![image](https://user-images.githubusercontent.com/12971179/71113849-56dd5680-2183-11ea-8a87-4a04238b1f67.png)

@vivmishra any clues?

[2019-12-18 19:38] gewarren commented on #16046
I believe my part of this issue is complete - the remaining articles are for Mac, C#, or F#. LMK if I should take any of those.

[2019-12-18 19:57] Thraka commented on #7294
@gewarren This error comes from setting that property twice, either through the attribute or through child content. However, I think the problem is that they have copy/pasted the label into the `<page>` directly.

@1277201882 The label shouldn't be added directly to the page, it was already added in the [#create the ui for expensereport page](https://docs.microsoft.com/en-us/dotnet/framework/wpf/g

[2019-12-18 19:57] vintzl commented on #14445
Not exactly, I was looking for some writer/reader usages, etc…

[2019-12-18 20:04] vintzl commented on #15141
Hi everyone.
You still have some bad outputs…
try this in Bing or Google:

here a sample:
- https://docs.microsoft.com/fr-fr/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1

[2019-12-18 20:36] vivmishra commented on #16303
VS developer command prompt should be able to locate .NET Framework SDK tools, so this is not a documentation problem.
I was able to make this work on my box with VS 16.4.1.

So, the next step would be to report this via VS Feedback tool (using **Send Feedback -> Report a Problem** from Help menu), if you have a consistent repro and repairing VS is unable to fix it. I would even recommend upgradng

[2019-12-18 20:48] #16303 closed

[2019-12-18 21:08] #11109 closed

[2019-12-18 21:09] guardrex commented on #15141
@vintzl I've moved that to https://github.com/aspnet/AspNetCore.Docs/issues/16273. We don't work closed issues. It's best to open a new issue using the **This page** feedback button+form at the bottom of any topic (English repo tho; otherwise, it goes to the localization team).

[2019-12-18 21:29] CeciAc opened #16323 "Failed to `dotnet new classlib` command in tutorial."
@hskwakr commented on [Tue Dec 17 2019](https://github.com/dotnet/docs.ja-jp/issues/1066)

[フィードバックをこちらに入力してください]
## Introduction

Please let me know if this contents is not an appropriate as issue.

Please let me know if there is any missing information in this message.
Also, please let me know if you have any helpful information on this issue.

## Issue

I tried to this tutorial:
https://docs.mi

[2019-12-18 22:57] #15344 closed

[2019-12-19 02:03] rjrjack opened #16329 "Am I too literal ???"
Below is the last paragraph before the "See Also" section:

If an Imports statement does not include an alias name, elements defined within the imported namespace can be used in the module without qualification. *** If the alias name is specified, it must be used as a qualifier for names contained within that namespace.***

The above sentence (within the ***'s) reads to me as - if you use an alias

[2019-12-19 04:49] rooper149 opened #16330 "Nothing provides krb5-libs (openSUSE 15.1)"
It seems "dotnet-runtime-deps-3.1-3.1.0-1.x86_64" depends on "krb5-libs" which is not provided by either the Leap repositories or the .net Core repositories. I imagine that the krb5 or krb5-client packages provide the same functionality on SUSE as krb5-libs does on Red Hat. The dependencies probably need to be updated for openSUSE 15.1.

edit by @mairaw: add topic details

---
#### Document Detail

[2019-12-19 07:23] gewarren opened #16332 "Add page for breaking changes .NET Fx -> .NET Core"
Include on the page:

a.	Link to https://docs.microsoft.com/en-us/dotnet/core/porting/net-framework-tech-unavailable
b.	Link to new page that lists APIs that throw PNSE or any other exceptions in .NET Core
c.	Individual breaking changes where necessary, e.g. https://github.com/dotnet/docs/issues/15703

[2019-12-19 08:31] LuGuangguang opened #16333 "A Embedded Statements Problem"
Original web page ： An embedded statement that is not enclosed in {} brackets cannot be a declaration statement or a labeled statement. This is shown in the following example:

But I Runing without problem in following  codes(goto Statement: a labeled statement)  On VS2019
{
 A:
            bool pointB = true;

            if (pointB == true)
                goto A;
}
So,are not the goto statement

[2019-12-19 09:33] jwfxpr opened #16335 ""Why can't I select a different C# version?" not addressed"
When trying to change the C# version on my project, in the Advanced Build Settings dialog box I found the language version drop-down greyed out, with a link saying "Why can't I select a different C# version?"  This link directed me to this page, which doesn't address this question at all.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-19 09:36] giovanism commented on #16254
Previously I checked via `zypper if libicu` on opensuse/leap:15.1. I cross checked to software.opensuse.org too to see the package but finds nothing. I am myself running tumbleweed, so I cant directly try it, but i stopped when I find
[code]

`zypper if` finds packages, not `capabilities`.
In short I was really stupid. Thanks and sorry to wasting your time.

[2019-12-19 09:36] #16254 closed

[2019-12-19 10:04] Taron-art opened #16336 "System.Xml.IgnoreEmptyKeySequences without Switch at the beggining"
In the table, all switches are written with Switch in the begging except System.Xml.IgnoreEmptyKeySequences. But in fact, we must write Switch.System.Xml.IgnoreEmptyKeySequences to make it work. Please fix this issue, we spend two days understanding why this does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-19 11:56] Ricardoaraujo00 commented on #16305
Thank you for your response @shirhatti

I don't know why that isn't stated in thi explanation:
https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/self-hosted

I dont even know if the service i've created is running. Even if i do sc start myservice i cannot access it in local host in either ports(5000/5001). I get "localhost refused to establish connection".

Also that lin

[2019-12-19 12:04] Ricardoaraujo00 commented on #16305
Also i think that title of the explanation should refer WCF, because i'm following that explanation for a aspnet core gRPC service and it seems that that only applies to applications that uses WCF, wich achordin to this statment on stacoverflow:

`WCF is not supported in .NET Core since it's a Windows specific technology while .NET Core is supposed to be cross-platform`
https://stackoverflow.com/q

[2019-12-19 14:27] #15067 closed

[2019-12-19 14:28] #11359 closed

[2019-12-19 14:56] BillWagner commented on #16335
Thanks for pointing this out @jwfxpr

We should be more clear about the reasoning behind this. I've added it to our backlog to address in the near future.

[2019-12-19 14:59] BillWagner commented on #16333
Thanks for asking this question @LuGuangguang

The `goto` statement is not a labeled statement. The *destination* of the `goto` is the label (`A:` in your example above).

The article is correct. I'll close this as an answered question.

[2019-12-19 14:59] #16333 closed

[2019-12-19 15:02] BillWagner commented on #16267
Thanks @phuclv90 I submitted a PR to fix this.

BTW, when you find small issues like this, you can submit a PR by clicking the "edit' button on the page.

[2019-12-19 15:10] BillWagner commented on #16329
Thanks for pointing this out @rjrjack
That sentence is somewhat misleading, and we should make it more clear.

I've added this to our backlog to address when we next update this article.

[2019-12-19 15:39] phuclv90 commented on #16267
Thanks. I've never notice that there's an edit button since it disappears when I scroll down. Will do that next time

[2019-12-19 15:50] grstearns commented on #16192
Which allows one to do this:

[code]
[code]

Marking it as
[code]
also makes the above change a compile-time error.

I will submit a PR shortly.

[2019-12-19 15:59] grstearns commented on #16192
https://github.com/dotnet/docs/pull/16339

[2019-12-19 18:17] #16267 closed

[2019-12-19 18:24] #15703 closed

[2019-12-19 21:56] dagood commented on #16254
Hey, no worries. This is definitely a rough spot on our packages. I've seen that Tumbleweed took this patch (causing our dependency not to work there) but I don't think I've really thought about how Leap will probably eventually take it as well. We should catch this when we try our packages on new Leap versions, good to have it in mind though.

[2019-12-19 22:25] mairaw commented on #16336
My apologies for the inconvenience @Taron-art and thanks for letting us know.
I've opened a PR to fix that: #16348

[2019-12-19 22:26] mairaw commented on #16336
You can also edit our documentation if you see errors like that:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-12-19 22:33] #16336 closed

[2019-12-19 22:45] mairaw commented on #16330
Thanks for your feedback @rooper149. Is this about the following page:
https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-linux?

[2019-12-19 22:53] rooper149 commented on #16330
@mairaw That page and:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-opensuse15

You show support for openSUSE, but there are breaking package dependencies in the install. openSUSE does not provide the package "krb5-libs", it is provided under the name "krb5" instead. This causes the installation to break on openSUSE.

[2019-12-19 22:56] mairaw commented on #16330
Ok, thanks for the additional information.

[2019-12-20 00:55] LuGuangguang commented on #16333
I have learned.Thank a lot for the answer

[2019-12-20 01:41] mairaw commented on #16046
Could you do the two F# ones as well @gewarren? It seems they would be simple to update.

[2019-12-20 02:00] gewarren commented on #16046
Sure.

[2019-12-20 03:20] #9148 closed

[2019-12-20 12:44] Artur-Laskowski opened #16362 "Invalid code for "mutable variation of the 3D point structure" example"
The example has invalid format because of: incorrect constructor content, redundant semicolons in properties and a invalid string interpolation structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-ab2a-4e14-0b99265969a5
* Version Independent ID: 183efcbd-a781-d303-f9cd-1c22da1676de
* Content: [Write

[2019-12-20 12:59] kwaazaar commented on #16335
You could at least give us an informal answer rihght now.

[2019-12-20 13:29] BillWagner commented on #16335
@kwaazaar I'm checking with some folks internally to make sure I have the correct explanation. I will post an answer as soon as I can.

[2019-12-20 14:07] BillWagner commented on #16362
Thanks for spotting this (and submitting the related PR) @Artur-Laskowski .  I'll review the PR now.

[2019-12-20 14:09] #16362 closed

[2019-12-20 14:30] jwfxpr commented on #16335
I suspect that you're going to find that the answer is actually "Due to a bug affecting the latest version of VS2019

Microsoft Visual Studio Community 2019
Version 16.4.2

@kwaazaar, if you are trying to figure out why your .NET Framework project is _not_ in fact using the listed C# language version (C# 7.3) and has downgraded you to 6, and the methods listed here for manually changing the langua

[2019-12-20 15:42] cartermp commented on #16335
The document intends to answer the question in the tooling in the first two paragraphs:

Is that insufficient?

[2019-12-20 17:33] jwfxpr commented on #16335
@cartermp, entirely insufficient, yes.

"determines a default language version" et cetera would explain why a _default_ language was selected. That would be fine, if one wanted an explanation of why a certain default were chosen.

That is not the question under consideration. It is not at all clear why no choice other than that default version is _permitted to the user_, either upwards nor downwar

[2019-12-20 17:56] cartermp commented on #16335
In this case, further in the paragraph is the explanation - to ensure you get a highest compatible language version. Adjusting this default is explained further below. Does that work?

On Fri, Dec 20, 2019, at 09:33, jwfxpr wrote:

[2019-12-20 18:30] jwfxpr commented on #16335
I... _believe_ you're trying to be helpful, @cartermp, but repeating the text of the document we've already read many times with increasing frustration that didn't sufficiently answer our questions any of those tones is simply not helpful.

So, to answer your redundant question, no. That doesn't work, for two reasons.

Firstly, those options (Edit the project file, Configure multiple projects) _do

[2019-12-20 20:19] TrumanQ commented on #16281
The repo file was just released here: https://packages.microsoft.com/config/fedora/31/.
But when I tried to install the SDK with dnf, it shows
"Errors during downloading metadata for repository 'packages-microsoft-com-prod':
  - Status code: 404 for https://packages.microsoft.com/fedora/31/prod/repodata/repomd.xml (IP: 13.91.48.226)"

At least, It's coming~

[2019-12-20 20:30] BillWagner commented on #16046
If have PRs open for Visual Studio for Mac: #16349 and C# compiler options #16368

[2019-12-20 21:59] cartermp commented on #16335
If the stated ways to override a default does not work for you, that is a product issue which should be fixed. I haven’t seen an issue about this yet, but if you have a link to an open issue could you point me at it? Thanks!

The answer to your question is stated in this document: the default is chosen to ensure everything works for your environment, which was not the case prior to VS 16.3. This i

[2019-12-20 22:04] KUTlime commented on #14889
It is end of December and no documentation on switch expression! Come on guys, you could better.

[2019-12-20 22:10] mairaw commented on #16046
I have a samples PR https://github.com/dotnet/samples/pull/1867 and one for consuming open https://github.com/dotnet/docs/pull/16367

Working on the testing one next

[2019-12-20 22:14] jwfxpr commented on #16335
@BillWagner, does @cartermp represent the official response to this? I'm tired of explaining to him why he's wrong, and his passive-aggressive, counter-productive "responses".

[2019-12-20 22:29] cartermp commented on #16335
I’m sorry you feel that the answer is not satisfactory, but this is the official position. If the product does not behave as documented, then that is an issue that will be resolved. Is the problem of overriding a default occurring with the latest Visual Studio?

On Fri, Dec 20, 2019, at 14:14, jwfxpr wrote:

[2019-12-20 22:57] pkulikov commented on #14889
@KUTlime currently the `switch` expression is briefly explained at the "What's new in C# 8.0" page:
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#switch-expressions

What, if any, do you think is missing there?

[2019-12-20 22:57] jwfxpr commented on #16335
Yes. It is. I thought I made that clear.

I'll be unsubscribing from this now, since I don't want to interact with you any more.

[2019-12-20 23:43] KUTlime commented on #14889
@pkulikov You just said it - *briefly*.

What is missing:

- example with use of ternary operator
- example with use of `when` condition
- example with pattern matching
- discussion when to use it and why
- runtime benefits if any

I know how to do it. I'm trying to say that this could be helpful for newcomers to C# 8.0. The switch expressions are more or less equal to the switch statements. The s

[2019-12-20 23:51] pkulikov commented on #14889
@KUTlime thank you!

I wonder what made you put the example with use of ternary operator first? Why particularly this operator?

[2019-12-21 00:02] KUTlime commented on #14889
Officially, I chose from-the-most-simple-use scenario ordering.

Unofficially, last two hours, I was analysing a weir problem in VS when switch expression and ternary operator was used. This brought me to this page. The problem was caused by R# and solved by update to the R# latest version but for a brief moment, I was convinced that ternary operator can't be used together with switch expression s

[2019-12-21 00:57] mairaw opened #16369 "Add instructions on how to consume the library after it's published to NuGet"
See https://github.com/dotnet/docs/pull/16367#discussion_r360604273 for context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2fd1ea-abfe-ada0-ce7b-1d7f50819c18
* Version Independent ID: 4d918f89-02f2-dbf6-a701-c2efe9eb9a7d
* Content: [Consume a .NET Standard library in Visual Studio 2017 - .NET Core](https://docs.m

[2019-12-21 03:04] mairaw opened #16372 "PR and issue review may be delayed over holidays"
This time of the year is holiday season for the .NET content team members in the United States. Many of the team members are taking vacation during the next two weeks.

The result is that PR reviews / merging, and issue response may be delayed during this period.

I wish you all a happy holiday season and hope to see you around here in 2020! 🎆

Thank you for all your contributions in 2019! This co

[2019-12-21 04:20] rjrjack opened #16373 "Console.Write requires a Console.WriteLine"
Dim salmons As New List(Of String)

salmons.Add("chinook")
salmons.Add("coho")
salmons.Add("pink")
salmons.Add("sockeye")

 '               Iterate through the list.
For Each salmon As String In salmons
        Console.Write(salmon & " ")
Next
Console.WriteLine()                                                ' ##########################
'               Output: chinook coho pink sockeye

In the ab

[2019-12-21 04:52] chrisvdb opened #16374 "Dependency on libicu52 which is not present in Ubuntu 18.4.3"
Could dotnet-sharedframework-microsoft.netcore.app-1.1.13 be recompiled to depend on a newer version of libicu present in Ubuntu 18.4.3? Currently it depends on libicu52 (>= 52~m1-1~) which is not present in the repo.

[2019-12-21 12:12] pkulikov commented on #14889
By the way, the following C# 8.0 pattern matching tutorial contains examples with the `switch` expression:
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/pattern-matching

In particular, it covers:

[2019-12-21 13:02] footstep002 opened #16375 "Think example code needs some correction."
There seems 3 places need to be corrected on the example source code.

'locale = locale.Substring(locale.IndexOf(';') -1);' to
'locale = locale.Substring(0, locale.IndexOf(';'));'

'cultures[ctr] = new CultureInfo(Request.UserLanguages[ctr], false);' to
'cultures[ctr] = new CultureInfo(locale, false);'

'document.DateForm.DateInfo.value' to
'DateForm.DateInfo.value'

As I've tried these code need

[2019-12-21 14:33] Youssef1313 commented on #16189
@BillWagner, You *may* consider the `dotnet/samples` and `dotnet/dotnet-api-docs` repos as part of the What's new.

[2019-12-21 16:29] BillWagner commented on #16189
@Youssef1313

We do some work here already.  The code that generates the page looks at the PRs in both of those repositories to recognize community contributors.

Our current thinking is that if sample code has significant updates, the article that includes the sample does as well. So, the code only looks for significant changes in the articles. So far, that has proven accurate.

The API reference

[2019-12-21 22:12] numberZero opened #16377 "Advantages of auto-implemented properties"
Please describe the advantage of auto-implemented properties in C#. I saw #6707 but that’s for VB, and while my thought was the answer should be the same, I found much more important distinction in an [SO answer](https://stackoverflow.com/a/2903320): binary compatibility. So is it correct that changing an auto-implementing property to normal property keeps binary compatibility, while converting fi

[2019-12-23 03:43] DJTrumpDaddy commented on #8804
Honestly, you can see in the code simulator what "more precision" means. If you really want to know the semantics, it's a short Bing search away.

[2019-12-23 03:58] kissste opened #16381 "'dotnet run' failing on HelloWorld"
dotnet run
/usr/share/dotnet/sdk/3.1.100/Microsoft.Common.CurrentVersion.targets(3056,5): error MSB3552: Resource file "**/*.resx" cannot be found. [/home/qqq/qqq.csproj]

The build failed. Fix the build errors and run again.

I have followed instructions:
dotnet new console

Welcome to .NET Core 3.1!
---------------------
SDK Version: 3.1.100

then, dotnet restore and finally dotnet run

[2019-12-23 04:02] #16381 closed

[2019-12-23 09:48] jbe2277 commented on #9893
Please, update the reference to include .NET Core 3.1 as well.

[2019-12-23 17:23] baronfel commented on #16177
I've added a list of all known compiler errors to this issue. I've also put out a call for volunteers to flesh out some of the many compiler errors.  Might I suggest treating this issue more as a tracking issue, merging the initial MRs I created with a few examples, and then letting others open issues checking off one or more of the remaining issues over time?

[2019-12-23 17:43] JoeSwindellMedliminal opened #16383 "Add display for the first two task"
I think it would help visualize the other task returning values.

Console.WriteLine("Task 1 Result: {0}", i.ToString());
Console.WriteLine("Task 2: {0} {1}", test.Name, test.Number);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b95913-4dea-8160-0184-9aaf6c2c363e
* Version Independent ID: b779abdd-e97e-2fa5-87a9-76b

[2019-12-23 18:20] h167557 commented on #16218
The standalone installer from the link says it must download files with no option to install the downloaded file. The only two options are to download and cancel the install. This is terrible as I have devices that don't have access to a network. I tried using a hotspot and it's been downloading for over 30 minutes.

[2019-12-23 18:33] gewarren commented on #16373
I'm not seeing this problem. What version of Visual Studio are you using, and what kind of project did you paste the code into? I pasted it into a VB .NET Framework console app, ran the program without debugging, and this is what I get:

![image](https://user-images.githubusercontent.com/24882762/71374480-b5ce1180-256f-11ea-9261-2ef837e990a1.png)

[2019-12-23 18:57] mairaw commented on #16218
The article links to https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/deploy-net-framework-35-by-using-deployment-image-servicing-and-management--dism where it explains how to install 3.5 with no internet connectivity.

[2019-12-23 19:01] #15076 closed

[2019-12-23 19:42] gewarren commented on #16332
Related to https://github.com/dotnet/dotnet-api-docs/issues/1683.

[2019-12-23 20:27] mairaw commented on #16046
We should @gewarren. Last PR is ready for review #16371

[2019-12-23 20:51] dagood commented on #16330
This is a release issue (probably related to the other 3.1.0 problems) where the RPM for some distro where it's called `krb5-libs` is showing up when trying to install for this one. This is a problem for 15.0 as well, not just 15.1. See https://github.com/dotnet/runtime/issues/929#issuecomment-566211014 for more info.

(Even though this doc comment is a duplicate of https://github.com/dotnet/runti

[2019-12-23 21:17] dagood commented on #16306
This is a known issue with 3.1.0, to be fixed with 3.1.1: https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-known-issues.md#310

Basically, this is a cosmetic issue--it doesn't actually install a preview.

[2019-12-23 21:40] sadjadbp commented on #16306
dotnet/core#3962

[2019-12-23 21:40] #16306 closed

[2019-12-23 22:16] #12123 closed

[2019-12-24 02:21] Zhengchai commented on #1433
The refereed solution doesn't work for .NETCORE 3.0.x and 3.1.x on VS2019 on Mac Catalina.
This problem still exist with above env.

I tried to debug found the generated ProjectGuid are same of the two projects. it is strange.

[2019-12-24 05:11] mairaw opened #16391 "Investigate steps for VS for Mac and VS Code"
We’ve tested the article for Visual Studio. Need to check what would be needed to get IntelliSense for VS for Mac and VS Code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b361b8e5-3b89-8e46-6356-ca420e468b69
* Version Independent ID: f66f7a1a-1ab7-dab7-696f-916950c4c518
* Content: [Install localized IntelliSense fil

[2019-12-24 06:49] paul1956 opened #16392 "SplashScreen and ApplicationInfo.VB"
In Framework SplashScreen.VB gets it information from My.Application.Info and this is entered via VS under Properties/Application then a button called AssemplyInfo. This produces a class file called AssemblyInfo.VB. In Core the Application/AssemblyInfo is disabled and information is entered under Properties/Package but this information does not flow (at least at design time) to where Splash Screen

[2019-12-24 09:45] #16046 closed

[2019-12-25 01:17] EmreMicrosoft opened #16397 "Error: Splitter/consolidator worker encountered exception while consuming source data ---> System.ArgumentException: Parameter is not valid."
2019-12-25 04:09:46.674731: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
=============== Training classification model ===============
Unhandled exception. System.InvalidOperationException: Splitter/consolidator worker encountered exception while consuming source data
 ---&gt; System.ArgumentException:

[2019-12-25 21:58] DavidPrio opened #16399 "Need documentation on how to disable popup "Required assets to build and debug are missing...""
Hi writing team. I'm reporting documentation need as stated in https://github.com/dotnet/docs.de-de/issues/161.
Contributor reports "I have set ""csharp.suppressDotnetRestoreNotification": true," and still get this very annoying "Required assets ..." popup. As I am working in Monorepos most of the time, I would be grateful if you could give a hint on how to get rid of it."
Thanks in advance!
Micro

[2019-12-25 21:59] DavidPrio commented on #16399
Dokumentdetails

⚠ Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.

    ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c
    Version Independent ID: 25a4c9b9-2808-e296-df03-5837000dcbad
    Content: Erste Schritte mit C# und Visual Studio Code - .NET Core
    Content Source: docs/core/tutorials/with-visual-studio-code.md
    Product

[2019-12-26 05:43] Youssef1313 opened #16402 "Regarding the appveyor.yml"
Some small things I noticed about appveyor.yml (that might be wrong):

- It uses: `os: Visual Studio 2015` which is a bit old version.
- In the [*appveyor.yml* Reference](https://www.appveyor.com/docs/appveyor-yml/),  I see they use `image: ` instead of `os: `. I'm not sure if the usage of `os: ` was intended, or if it's something different than `image: `.
- There is a comment saying: `# so the `i

[2019-12-26 14:29] spavett commented on #16049
Nothing wrong with your setup @pkeir. This example fails because whoever added it to the page didn't run it like they suggest you do! I'm a newbie and here on my holiday having a first look at F# and got the same issue but you can see from the error and a quick Google that the namespace is (probably) irrelevant at this stage of just running a first f# cmd line app built from a single file of F#. N

[2019-12-26 18:07] Thraka commented on #16281
It is... Just bad timing with the holidays. Many people are out. 😄

[2019-12-26 18:31] gewarren commented on #16392
@PriyaPurkayastha @Thraka Should this be documented as a breaking change?

[2019-12-26 19:01] gewarren commented on #16402
This seems to be in reference to https://github.com/dotnet/docs/blob/master/appveyor.yml.

[2019-12-26 19:27] Mikhail-msft opened #16407 "How to disable FDE generation for .netcore 3.0 application?"
It's nice that FDE are now auto-generated. What `csproj` settings control the feature - how can we force disable FDE generation?
Is the a single place which describes all .netcore-specific msbuild settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eba478-0374-bb9b-8fa7-d5cf7d520603
* Version Independent ID: 899

[2019-12-26 19:29] Mikhail-msft opened #16408 "Note the FDE generation is on by default with .netcore 3.0"
This page doesn't mention that FDE is auto-generated. see https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0 which mentions `.NET Core now builds framework-dependent executables by default`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eba478-0374-bb9b-8fa7-d5cf7d520603
* Version Independent ID:

[2019-12-26 19:33] Mikhail-msft opened #16409 "FDE - is this a `publish`-time feature or a `build`-time in .netcore 3.0?"
This page is setup in a context of `application deployment`. However it appears that in .netcore 3.0 the exe is generated at build. It would be good to specify that starting from .netcore30 the exe is auto-generated on build.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85eba478-0374-bb9b-8fa7-d5cf7d520603
* Version

[2019-12-26 19:45] #15968 closed

[2019-12-26 20:27] Thraka commented on #16392
Is @OliaG still the PM for WinForms Core?

[2019-12-26 21:12] #16194 closed

[2019-12-26 21:57] paul1956 commented on #16392
@Thraka the form I showed is what Visual Studio and Winforms with Core 3.1 adds to a Core project and the comment in the form has instructions for setting the values those instructions don't work in Core. This is about a breaking change. If you just copy AssemblyInfo.vb from Framework (to get the values) that SpashScreen is looking for, you get errors about duplicate variable because in Core some

[2019-12-26 22:51] Thraka commented on #16330
@dagood with how easy it is to update the docs, we should put a note in the instructions that call this out. When it's fixed, we can remove it from the docs.

[2019-12-26 23:46] Thraka commented on #16392
@paul1956 Can you provide more information about how you created the app? I cannot create vb.net core winforms apps in visual studio, only c# is provided in the templates. The same with the .net core templates in the Core CLI. Can you provide versions of visual studio and .net core?

[2019-12-27 00:58] paul1956 commented on #16392
Start with Framework App use TryConvert (now works with VB) or manually convert project file. Once its a core app, add SplashScreen from Visual Studio 2019 Version 16.5.0 Preview 1.0, Menu if your app does not already have a SplashScreen. Ignoring the SplashScreen the way you get information about the has changed with Core. If I have an app that used AssemplyInfo.vb that has changed.
The code belo

[2019-12-27 04:24] bunda3d opened #16413 "The "New object initialization syntax" example code does not work in Focus Mode"
This code does not run (I have not tried it locally in VS or VSCode--could be a 'using' declaration issue, but that shouldn't be an issue in Focus Mode) :
-------------
public class Path : IEnumerable&lt;Point3D&gt;
{
    private List&lt;Point3D&gt; points = new List&lt;Point3D&gt;();
    public IEnumerator&lt;Point3D&gt; GetEnumerator() =&gt; points.GetEnumerator();
    IEnumerator IEnumerable.Ge

[2019-12-27 09:02] Youssef1313 commented on #16413
The new object initialization syntax works fine for me.

![image](https://user-images.githubusercontent.com/31348972/71510647-35255300-2898-11ea-8940-8ee82cc456dd.png)

[2019-12-27 09:59] mairaw commented on #15611
This might be something worth pursuing although this linked frequently from here (45 files on this repo link to this topic)

[2019-12-27 10:36] mairaw commented on #11381
Thanks for your feedback @gperrego. I've created PR https://github.com/dotnet/docs/pull/16414 to fix this.

@jtbrower if you haven't already, make a suggestion to the VS team using https://developercommunity.visualstudio.com/.

[2019-12-27 10:49] JanWijninckx opened #16415 "Would be nice to read what it actually is rather than abstract terminology"
Is it a library of OS type functions?
Is it a library of windows type components, like buttons, checkboxes, forms?
What is in the box - what does it provide?
The answer is here:
https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet-framework

    The Common Language Runtime (CLR) is the execution engine that handles running applications. It provides services like thread management, garbage coll

[2019-12-27 11:38] mbellas-tkxs commented on #15836
I'm in the same boat, trying to adapt the tutorial to a Core 3.1 API.  I've set up my plugins to implement an `IPluginStartup` that has a `ConfigureServices(IServiceCollection, IConfiguration)` method, so that they can register with DI.

Getting an error on `assembly.GetTypes()` - ReflectionTypeLoadException: 'Unable to load one or more of the requested types. Method 'ConfigureServices'....' does

[2019-12-27 12:10] epic2001 commented on #15836
For now I've resolved with a mix of MS docs article code and pranavkm/PluginApp code.
In addition, I load all dlls found in plugins folder to get rid of the "plugin dependencies" problem (as shown here: https://github.com/pranavkm/PluginApp/issues/2#issue-517780904).

This is my current solution: https://github.com/epic2001/AspNetCorePlugins

Note that in my project sample, startup.cs (MainWebApp)

[2019-12-27 12:31] bunda3d commented on #16413
That is not the code I posted.

[2019-12-27 13:51] td47 commented on #11657
Hello, sorry about the incorrect patch reference, I suspect that I cut/paste the incorrect KB URL.
I think it should have been this URL:
[https://support.microsoft.com/en-us/help/4466961/net-framework-update-history-for-windows-10-october-2018-update-and-wi](url)
The issue was that one of my systems was stuck on Windows 10 1803, and I wanted to find the equivalent of the 1809 updates for .NET 4.7.

[2019-12-27 13:54] td47 commented on #11657
Hi,

Sorry about the delay, have updated the GITHUB item for this. I had a typo (wrong URL) in the original post

Regards, Tony Davis

From: Maira Wenzel [mailto:notifications@github.com]
Sent: 10 December 2019 10:50
To: dotnet/docs
Cc: Tony Davis; Mention
Subject: Re: [dotnet/docs] dependencies of .NET 4.7.2 under 1803 versus 1809 (#11657)

Thanks for your feedback @td47 <https://github.com/td47>

[2019-12-27 14:16] Youssef1313 commented on #16413
@bunda3d, My fault.
I think the example you're referring to misses the following using statements:

[code]

and misses a Point3D declaration which could be like this:

[code]

You may need to wait for @BillWagner to review this. I also think that it will be better to add an entry point (Main method) to the example for further illustration.

[2019-12-27 15:07] Psypher9 commented on #5890
Guidance on this would be very helpful!

[2019-12-27 15:24] bunda3d commented on #16413
I was thinking it needed "using" statements, but that doesn't usually need to be considered in the "focus mode" editor, for whatever reasons.

[2019-12-27 16:28] luisquintanilla commented on #16397
Hi @EmreMicrosoft

Sorry to hear you're having issues. I was not able to reproduce the error after following the tutorial. I believe the error might be related to the data. Did you make sure to include the files in the assets in your output directory?

Alternatively, you can edit your *.csproj* file to include the following snippet inside the `<Project>` node.

[code]

If you're still having issue

[2019-12-27 16:28] #16397 closed

[2019-12-27 17:15] nicoleta-scrimint opened #16417 "Possible intended duplicate example code"
The second example for PerformLongRunningWork contains a lambda. Should it contain a local function instead?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92991e4f-6d00-9e10-9a0d-1058ba06457f
* Version Independent ID: e26cd6f8-ba2c-b8df-919f-4f1ecfd80864
* Content: [Local functions vs. lambda expressions](h

[2019-12-27 19:58] #16218 closed

[2019-12-27 20:33] whibdev opened #16420 "dotnet sln add .sqlproj - Invalid Project"
## dotnet sln add .sqlproj - Invalid Project

When using cli to add a SQL Server Database Project (.sqlproj) to a solution, error occurs:
Invalid project `[PathToProject].sqlproj`. The imported project "C:\Program Files\dotnet\sdk\3.1.100\Microsoft\VisualStudio\v11.0\SSDT\Microsoft.Data.Tools.Schema.SqlTasks.targets" was not found. Confirm that the expression in the Import declaration "C:\Program

[2019-12-27 21:29] sleija opened #16421 "Concise and clear, thank you!"
Concise and clear, thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/#feedback)
* Conten

[2019-12-27 23:03] MelbourneDeveloper opened #16422 "This class doesn't exist"
There is an interface called IHttpClientFactory and a DefaultHttpClientFactory but as far as I can tell there is no concrete class called HttpClientFactory. If I'm wrong please point to the actual NuGet/repo where this class exists. I've looked high and low for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b50623

[2019-12-28 05:03] td47 commented on #11657
Hello again, it seems that I messed up the URL (again)! The string is correct, but it seems to NOT have created it as a URL?  Hopefully this is correct:
[](https://support.microsoft.com/en-us/help/4466961/net-framework-update-history-for-windows-10-october-2018-update-and-wi)

[2019-12-28 07:38] Youssef1313 opened #16426 ""Local functions vs. lambda expressions" article isn't well-organized"
The article seems un-organized to me.

- There are no level-2 headings. The existence of h2 headings makes it easier to read through the article. It also has the benefit of the main titles being rendered in the side-bar.

- The article contains the following sentence:

&gt; Third, the compiler can perform static analysis that enables local functions to definitely assign captured variables in the e

[2019-12-28 12:50] JeroenBos opened #16427 "Wrong word 'not'?"
Quote from above: "Whether the project is executable or not is determined by the &lt;OutputType&gt; property in the project file."
Yet immediately afterwards an example is given showing that it _is_ determined by the &lt;OutputType&gt; (or at least suggested to be).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd3

[2019-12-28 13:17] Youssef1313 opened #16428 "Wrong metadata in article"
The title and description metadata for this article seems to be copied from <https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/nullable-reference-types>.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dfe2629-7f0f-5ab7-6bf3-af84b050c425
* Version Independent ID: 17533d4f-fae1-0883-8838-4ba7c0727bc7
* Content: [

[2019-12-28 13:24] TheLifeGamingYT opened #16429 "Question: Translations"
Hi .NET team,
First of all I’m deeply sorry for not using a template, but I couldn’t find one that fit with this type of issue. So I think you should add a template for questions I think, but this is up to you. So, back onto the topic, I remembered that it was possible to translate dotnet docs, but I can’t find anything that tells something about it, that’s why I’m asking here. I’m a native Italia

[2019-12-28 13:30] Youssef1313 commented on #16429
There is localized versions of the documentation. But I think all of them are automatically generated.
You can find the italian version [here](https://docs.microsoft.com/it-it/).

[2019-12-28 13:30] TheLifeGamingYT commented on #16429
I know, but I want to translate them manually to make it more correct

[2019-12-28 13:33] viniciusvw22 opened #16430 "is it possible to declare a variable static and initialize it later on?"
Hi to all,

is it possible to first declare a variable static and then, on the following lines of code, to initialize this variable?
I don't know if this is the proper place for this question, but I'm asking because I'd like to initialize the variable to 0, and every time the procedure is called, the value gets back to 0. Since the procedure will be called many times, I don't want to redeclare and

[2019-12-28 13:37] Youssef1313 commented on #16427
The example is executable because the OutputType is Exe. So, you look at the OutputType value. Then, based on that value, you determine whether it's executable or not.

That means, if you found something like:

[code]

then it's **not** executable. But, if you found:

[code]

then it **is** executable.

[2019-12-28 13:43] Youssef1313 commented on #16430
Why just declare it normally, without the `Static` keyword ?

[code]

[2019-12-28 13:50] Youssef1313 commented on #16429
Oh, I misunderstood and thought you want the link to the localized version. However, I don't know if it's available for the manual changes to localized articles.

/cc @JasonCard

[2019-12-28 13:55] Youssef1313 commented on #16429
@TheLifeGamingYT , I'd like also to ask, what kind of improvements you'd like to make to the translated content ?

If it's some words that are translated, while it shouldn't be translated. This can be done in this repository. By using either back ticks if that word is a language keyword for example. Or using the no-loc syntax in other scenarios.

[2019-12-28 13:55] viniciusvw22 commented on #16430
I want to declare static because so that the variable doesn't have to be redeclared and reinitialized on every procedure call (there will be many).

It will do be collected by the GC according to this article (https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/declared-elements/lifetime) - because the procedure is not Shared.

[2019-12-28 13:57] TheLifeGamingYT commented on #16429
As we all know, automatic translators aren’t perfect. That’s why I want to
translate better what is already translated by a computer.
--
Andrea Giurgola

[2019-12-28 14:14] Youssef1313 commented on #16430
I still feel that the first approach without `Static` is much better. But anyways, I've shown the two options.

You may need to ask in Stackoverflow on which option is better and why, or wait for someone here who can explain that in deep details.

[2019-12-28 14:26] viniciusvw22 commented on #16430
Well,

I want to do this:

Static myVariable As Integer
myVariable = 0
' block using myVariable
' end block
' variable has to get back to 0 on the next procedure call.

I prefer using my option if it no difference on the application performance.

Thank you for your reply.

[2019-12-28 15:25] svick commented on #16429
I believe you can submit improved translations of the Italian version of the docs by using Pull Requests on [the dotnet/docs.it-it repo](https://github.com/dotnet/docs.it-it).

[2019-12-28 17:42] Youssef1313 opened #16434 "CType is referred to as a function. Isn't it an operator ?"
I think the CType is an operator, not a function.

Same thing applies to these articles:

- https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/functions/conversion-functions
- https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/functions/type-conversion-functions

Please, correct me if I'm mistaken.
Once this issue is reviewed, I can work on fixing it if I'

[2019-12-28 20:02] v-kydela opened #16437 "Do you assign values to variables or variables to values?"
This issue is more about general terminology than the specific topic of this document (nullability). There are a few places in this document where the term "assign" is used like a value is being assigned to a variable:

However, there are other places in this document where it's like a variable is being assigned to a value:

I believe the correct way to use the term "assign" is as though values ar

[2019-12-28 20:46] #15809 closed

[2019-12-28 20:50] tdykstra commented on #16427
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-28 20:50] #16427 closed

[2019-12-28 22:16] Jeej opened #16438 "Remove confusing information & restructure and provide additional information"
Hi,

Can this page be changed to be like the page in the ".NET Microservices: Architecture for Containerized .NET Applications" ebook ( https://docs.microsoft.com/en-us/dotnet/architecture/microservices/ )?

Please remove in the paragraph "Purpose" the section ".NET Microservices. Architecture for Containerized .NET Applications". It is not logical to download another ebook in this ebook.

Please

[2019-12-29 04:58] Youssef1313 commented on #16437
I've opened #16441 to fix that.

[2019-12-29 05:52] Phoenix-313 opened #16442 "Changing the number of epochs"
Hi,
I followed this tutorial to create the concrete crack classifier:
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification-api-transfer-learning
I noticed that training stops early regardless of the selected number of epochs. So, how to make the ANN training run until a certain epoch or low error is reached?

[2019-12-29 06:55] Youssef1313 opened #16443 "Useless article"
I don't think this article has any useful information. Maybe this can be retired and deleted ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89020865-95e5-e769-c677-a731523be4f8
* Version Independent ID: 69fba3d1-977b-01ff-9b50-6448b45554af
* Content: [Visual Basic Breaking Changes in Visual Studio - Visual Basic](htt

[2019-12-29 13:53] ChrisMaddock opened #16448 "Link compiler errors in Visual Studio to relevant docs page"
![image](https://user-images.githubusercontent.com/4837132/71557739-2b3f5380-2a42-11ea-80e0-9c96ab52b0ad.png)

On the above interface, the NuGet error messages link directly to the relevant docs page, where as the CS and IDE errors instead link to a Bing search, where the docs page often ends up several results down.

Could the CS/IDE ones also link to the docs page? I can't see any difference in

[2019-12-29 21:04] GoodGuyGregory commented on #16049
@spavett **Thanks a bunch** Had the same errors! 🚀

[2019-12-29 21:15] martingbrown commented on #6521
I too am interested in how that works. If I have two builders (User Settings for local dev and Azure Key Vault for production) do I give them both separate names and specify them both in the configBuilders attribute? If I specify both what delimiter should I use? Does it matter what order they are specified in? Does that even work or do I need to use a different config file in production so I spec

[2019-12-29 21:33] #16049 closed

[2019-12-29 23:50] rossnoe commented on #14265
@dliedke Your labels and scores addition was very helpful. Saved me the trouble of having to write it myself. Thank you.

[2019-12-29 23:57] dliedke commented on #14265
Great to hear and happy to help!!
Daniel

[2019-12-30 01:40] rjrjack commented on #16373
 

 

Sorry I haven't replied sooner, been away and just now saw this...

 

Using
Microsoft Visual Studio Community 2019
Version 16.4.2

 

Using

Microsoft .NET Framework

Verion 4.8.03752

 

Project was

Windows Forms App (.NET Framework), Visual Basic

 

 

 

Sent: Monday, December 23, 2019 at 12:33 PM
From: "Genevieve Warren" <notifications@github.com>
To: dotnet/docs <docs@noreply.github.

[2019-12-30 02:42] rossnoe commented on #14265
If I may ask one question. I am using the PredictionEnginePool, as recommended [here ](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/serve-model-web-api-ml-net#register-predictionenginepool-for-use-in-the-application). When I use PredictionEnginePool I am not able to get the OutputSchema as you did in your code. What do you recommend?

[2019-12-30 06:58] MustakimAlamMoon opened #16455 "Code Brevity"
In the first code example where the "ArrayExample" class exists, the code snippet has two "for" loops. I used only one "for" loops and ran this code in my Visual Studio 2019. I just put the "Console.WriteLine" method in the first "for" loop and got the same output. I don't know why this example contains two "for" loops. If the second "for" loop is not much necessary then you may shorten the existi

[2019-12-30 07:16] Youssef1313 commented on #16402
Yes. That's the file I was referring to.

---

I found out that this file isn't actually used in CI system for this repo. But it's referenced in [this article](https://docs.microsoft.com/dotnet/core/tools/using-ci-with-cli#appveyor). So, it shouldn't be deleted. But both the appveyor.yml and the article need to be updated.

[2019-12-30 09:59] AbhinavPradeep commented on #12430
I don't see the above code sample on the page anymore. If it has been removed, should this issue be closed?

[2019-12-30 10:38] klettier opened #16456 "BackgroundService should provide a linked token to ExecuteAsync"
In BackgroundService the token provided to ExecuteAsync should be linked (CancellationTokenSource.CreateLinkedTokenSource) to the one provided to StartAsync, so _stoppingCts could be cancelled by both the caller of StartAsync and BackgroundService.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a03c0-a844-26eb-48a5-

[2019-12-30 10:50] fakeinc commented on #12430
Hi.

Thank you for your effort. However, this issue was written since the documentation did not specify the recommended coding convention for braces around single line statements and I'd like it to be added. It was not about the code snippet.

Maybe I should just start a pull request and add the convention according to the previously mentioned [Corefx coding style](https://github.com/dotnet/corefx

[2019-12-30 10:53] AbhinavPradeep commented on #12430
Can I do it as my first PR please ? Will try my best :-). Any feedback will be appreciated.

[2019-12-30 11:11] fakeinc commented on #12430
Of course. Just do it. Notice that I'm not part of the project team though.

[2019-12-30 11:14] AbhinavPradeep commented on #12430
Thanks, will do.

[2019-12-30 12:53] klettier commented on #16456
Linked to https://github.com/aspnet/Extensions/issues/2811

[2019-12-30 15:53] gewarren commented on #16417
@nicoleta-scrimint I believe that this is a local function and not a lambda expression, but I'll let @BillWagner confirm.

[code]

[2019-12-30 15:56] gewarren commented on #16420
@whibdev Did this work in previous versions of .NET Core?
@PriyaPurkayastha Is this a breaking change?

[2019-12-30 16:28] gewarren commented on #16443
Yes, I believe this article should be retired.

[2019-12-30 16:31] user2150 opened #16459 "Explicit parameter names"
There is one more workaround: explicit parameter names:
c.f(i: 1, 1);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f339384-b880-c9f3-380e-671f2971c7b8
* Version Independent ID: 078eb117-40d7-32e6-4229-68e13d3ed3b6
* Content: [Compiler Error CS0121](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0121#feedback)

[2019-12-30 16:41] Youssef1313 commented on #16443
@gewarren, Thanks for confirmation. I've opened a PR that retires it.

[2019-12-30 16:57] jamescpurcell commented on #12486
What is the purpose to even have -o if it doesn't work correctly ?

[2019-12-30 17:05] rossnoe commented on #14265
Actually, I realized that I can simply do something like _mlContext.Model.Save(loadedModel, _predEngine.OutputSchema, _schemaPath); and save the schema file to zip file (similar to model). Then I have it available for Web API or other project.

[2019-12-30 17:14] Youssef1313 commented on #16459
Tested on try.net and worked.

![image](https://user-images.githubusercontent.com/31348972/71592302-658b1c80-2b38-11ea-9f3d-915146e73ae8.png)

I've opened a PR to add this workaround.

[2019-12-30 17:50] gewarren commented on #16455
@MustakimAlamMoon You're right, the second loop is not necessary. @BillWagner may have separated the assignment and print-out into separate loops for clarity, but I think they could be combined.

[2019-12-30 18:11] gewarren commented on #16373
I'm not sure how you printed to the console at all using a WinForms app. @Thraka Do you know what might be going on here?

We might add a note above the code sample to suggest running it in a console app.

[2019-12-30 19:19] rjrjack commented on #16373
 

I'm not actually seeing a console window, I am selecting View / Output / from Visual Studio menu and then

'Show output from Debug'

 

Sent: Monday, December 30, 2019 at 12:11 PM
From: "Genevieve Warren" <notifications@github.com>
To: dotnet/docs <docs@noreply.github.com>
Cc: rjrjack <rjrjack@mail.com>, Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Console.Write requires a Cons

[2019-12-30 19:23] whibdev commented on #16420
@gewarren I'm not sure if this was working in previous versions of .net core

[2019-12-30 19:24] rjrjack commented on #16373
 

 
My previous response may have answered the issue, but anyway here is the project.

Sent: Monday, December 30, 2019 at 12:11 PM
From: "Genevieve Warren" <notifications@github.com>
To: dotnet/docs <docs@noreply.github.com>
Cc: rjrjack <rjrjack@mail.com>, Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Console.Write requires a Console.WriteLine (#16373)

I'm not sure how you printe

[2019-12-30 19:36] JasonCard commented on #16429
Hi @TheLifeGamingYT, cc @Youssef1313, @svick, @gewarren

Thank you for your question and interest to improve our translation.
We do encourage our customers to contribute toward improving our human-translated content by open PRs using the "Edit" button. However, we are currently discouraging customers from opening PRs on all machine-translated content (automatic translation). We use our human-trans

[2019-12-30 20:40] TheLifeGamingYT commented on #16429
Hi Jason, thank you for your exhaustive answer. I actually have an idea for the translations: you should make a Crowdin, Transifex or something else, so you can choose what articles are available to translate and what not. I think it's a more efficient approach than the PR one.

[2019-12-30 21:16] gewarren opened #16462 "CLI code snippet language tag consistency"
For some .NET CLI commands, the code snippet block is tagged `dotnet cli`. For others, especially those that contain a mixed of dotnet and generic commands, `console` or `bash` are used.

Examples:

[Console](https://review.docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line?branch=master#write-a-console-application-that-consumes-the-class-library) (scroll down a bit)
[Bash

[2019-12-30 21:27] Youssef1313 commented on #16462
I remember this was discussed in one of @v-thpra PRs, and @mairaw suggested to use dotnetcli when the snippet contains only .NET Core CLI commands.

[2019-12-30 21:55] JasonCard commented on #16429
@TheLifeGamingYT Thank you again for your suggestion. Making part of our content available for translation by public is a possibility we are considering for the future. I'll pass on your suggestion for consideration.

Kind regards,
Microsoft DOCS Global Experience Team

[2019-12-31 00:27] #16443 closed

[2019-12-31 00:29] #16437 closed

[2019-12-31 10:01] ArvindRSingh opened #16470 "Broken link of 101 LINQ Samples"
101 LINQ Samples refers to non-existing page https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e7bc95-4062-e6df-7475-21973ed1becc
* Version Independent ID: 571fd6fd-95b6-6fc9-d4df-9b44da6a01b4
* Content: [LINQ (Language Integrated Query)](https://docs.microsoft.c

[2019-12-31 10:44] sertunc opened #16472 "IHostedService document difference"
Hi,
I noticed that when I researched the working logic of method IHostedService StartAsync. Why is there a difference between two documents ?

**First document**
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio#ihostedservice-interface

StartAsync(CancellationToken) – StartAsync contains the logic to start the background task. St

[2019-12-31 10:59] Youssef1313 commented on #16470
Duplicate of #13745

[2019-12-31 11:32] markecw opened #16473 "Imported WCF Reference ignores WSDL Enum values"
## Imported WCF Reference ignores Enum values
When I add a Web Reference to a Core project, enum values are not imported.
I am importing a service with many enums, most are not simple zero indexed, therefore do not match the WSDL.

### Version introduced
Core, Standard

### Old behavior
Framework Service Reference uses correct enum values.

### New behavior
Enum values do not match the WSDL servic

[2019-12-31 12:15] #16473 closed

[2019-12-31 14:18] ConnerOrth opened #16474 "Outdated LTS version mentioned in section `Install with bash Automation`"
"The script defaults to installing the latest long term support (LTS) version, which is .NET Core 2.1."

Should be 3.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac255410-47e8-7c14-b14f-06dfe3e424f9
* Version Independent ID: 09a819ef-b5af-43f7-e744-60ca6f667a45
* Content: [Install .NET Core SDK on Windows, Linux,

[2019-12-31 14:39] Youssef1313 commented on #16474
Correct. The current LTS is 3.1. I downloaded the `dotnet-install.ps1` to test that and make sure it actually downloads 3.1, but I got the following error:

![image](https://user-images.githubusercontent.com/31348972/71624590-04248580-2bec-11ea-8014-cc458a7a2e16.png)

Not sure if there's a problem with the script or I have problem from my side. But I'm going to open a PR since the current LTS is 3

[2019-12-31 18:12] carlin-q-scott opened #16481 "SDK backwards compatability"
I'd expect dotnet core SDK 3 to be capable of building dotnet core 2.2 apps. This statement in #versioning-details seems to support my expectation: "Each version of the SDK can create applications for this runtime or any lower version."

I have however discovered that the SDK cannot build older major versions. At least, not when using the docker image provided by MS.

---
#### Document Details

⚠

[2019-12-31 19:42] gewarren opened #16482 "Duplicate LINQ articles"
Some LINQ articles are duplicated in the /visual-basic and /csharp subfolders. This is bad from a maintenance perspective. Can we consolidate?

For example:

https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/linq/linq-to-adonet-portal-page and https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/linq-to-adonet-portal-page

https://docs.micros

[2019-12-31 20:13] gewarren commented on #16470
Thanks for reporting this @ArvindRSingh. I'll close this as a dupe of the issue that Youssef mentioned.

[2019-12-31 20:13] #16470 closed

[2019-12-31 22:14] antoniovs1029 opened #16486 "Description about hiding columns in ML.NET documentation"
**Issue description**
While looking into old open issues in the [ML.NET repository](https://github.com/dotnet/machinelearning), I found a couple of issues where it's not clear if the users understand how ML.NET works when hiding columns (i.e. when having multiple columns with the same name). For instance, this particular issue is specifically about that problem:

https://github.com/dotnet/machinel

[2019-12-31 22:28] #16289 closed

[2019-12-31 23:14] 333fred opened #16488 "Missing Attributes"
The attributes section is missing `DoesNotReturn` and `DoesNotReturnIf`: https://source.dot.net/#System.Private.CoreLib/NullableAttributes.cs,4cd15111d8d6eed4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17290c4d-73f0-5ae1-e8ba-c039fe9fe9ca
* Version Independent ID: 59e0e3bb-b2e5-3ced-72d9-42e641b3897f
* Content: [Up

[2019-12-31 23:48] PhilipHassialis commented on #15878
Is there any recent development on this? Thread.Abort() can still be typed without any kind of intellisense from the editor that it is obsolete (.NET Core 3.1 here). Souldn't the Abort becoming obsolete and/or moving out of .Net Core be mentioned in the documentation?

[2019-12-31 23:56] gewarren commented on #15878
@PhilipHassialis The .NET Core behavior is mentioned in the API documentation [here](https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.abort?view=netframework-4.8#System_Threading_Thread_Abort), but I don't think this surfaces in IntelliSense. We also have a new page in the works that lists all APIs that throw PlatformNotSupportedException on .NET Core.

[2020-01-01 04:04] Youssef1313 commented on #16482
Where they should be consolidated ?

[2020-01-01 08:00] PhilipHassialis commented on #15878
Thank you so much for the prompt reply, unfortunately most of the courses/tutorials/etc out there do not adhere to Core and keep on mentioning stuff that is already deprecated. Imho, a little mention of "this doesn't work in Core" in intellisense would be a godsend - along with an immediate mention in the title of the page or in the first paragraph of the documentation that directly indicates that

[2020-01-01 18:50] MarcioAB opened #16491 "Where is the xml documentation file for System.Private.CoreLib ?"
Most of the Net Core libraries have their corresponding xml documentation file, but not System.Private.CoreLib and some others.  Is there a reason for it ? Where can I get such xml documentation file ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e862820-a044-b4e5-63de-9c84778a3b2c
* Version Independent ID: d0b7bf75

[2020-01-01 18:59] Youssef1313 commented on #16462
![image](https://user-images.githubusercontent.com/31348972/71644946-64452580-2cd9-11ea-9d08-318da36303c5.png)

The "cd" command gets highlighted correctly even if it's not a dotnetcli command, so I think dotnetcli is suitable more than console or bash in the case of mixed commands.
@gewarren, Can I work on a PR that unify the usage of dotnetcli where possible ? or you'd like to wait for @mairaw ?

[2020-01-01 22:39] #16491 closed

[2020-01-01 22:40] MarcioAB commented on #16491
Just discovered content of System.Private.CoreLib is spread in several other libraries.

[2020-01-02 06:50] RussKie commented on #15813
@mairaw @gewarren as mentioned in https://github.com/dotnet/winforms/issues/2614#issuecomment-570128217 the deprecated controls are marked as still applicable to .NET Core 3.1.
E.g.
* https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagrid?view=netframework-4.8#applies-to
* https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.menu?view=netframework-4.8#applies-to
![im

[2020-01-02 10:20] lukos opened #16494 "Unclear use of lock object"
In the example, you use a decimal and then a separate lock of type object. If the sample instead used Decimal, could the balance variable itself be used as the lock? In general, is a separate lock only needed for a) accessing a number of separate resources and b) accessing a single resource that is a primitive type?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-01-02 11:08] oleksandr-bilyk opened #16495 "Mutually Recursive Functions and Tail recursion"
In "Mutually Recursive Function" section (https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/functions/recursive-functions-the-rec-keyword#mutually-recursive-functions)
You use sample:
let rec Even x =
    if x = 0 then true
    else Odd (x-1)
and Odd x =
    if x = 0 then false
    else Even (x-1)

That sample is Mutually Recursive and it also looks like Tail Recursive because all

[2020-01-02 11:14] oleksandr-bilyk commented on #16495
I think I have found the solution. I had to select "Generate tail calls" checkbox in project Build settings. You should mention about this in the article.
![image](https://user-images.githubusercontent.com/17872879/71664503-0f44f600-2d51-11ea-9b63-1c044e26f41e.png)

[2020-01-02 13:13] MustakimAlamMoon commented on #16455
Thank you so much for the clarification madam. You can close this issue now...

[2020-01-02 15:02] BillWagner commented on #16372
I'm back working today, as are a few others on the team. Other folks are on holiday until this coming Monday.

[2020-01-02 15:07] BillWagner commented on #16377
Thanks for writing this @numberZero Your comment is correct. Changing from a field to a property is a binary breaking change, whereas changing from an auto-implemented property to a hand-coded property is a binary compatible change.

I've added this to our backlog to address when we next update this article.

[2020-01-02 15:13] BillWagner commented on #16413
Thanks for writing this @bunda3d

The problem is due to an issue in the underlying try.net experience used on docs. An update will get deployed this month, and that will enable us to fix this.

I've added this to the list of planned work for this sprint.

/cc @LadyNaggaga @aprilspeight

[2020-01-02 15:14] BillWagner commented on #16417
Thanks for checking this @nicoleta-scrimint

The previous comment by @gewarren is correct, that example is a local function.

I'll close this as answered.

[2020-01-02 15:14] #16417 closed

[2020-01-02 15:15] BillWagner commented on #16421
Thank you @sleija

I'll close as kudos.

[2020-01-02 15:15] #16421 closed

[2020-01-02 15:17] BillWagner commented on #16426
Those are good comments @Youssef1313

Do you want to make these updates? If so, I'll assign this issue to you.

[2020-01-02 15:21] BillWagner commented on #16428
Thanks for pointing this out @Youssef1313

I've submitted a PR with the fix.

[2020-01-02 15:27] BillWagner commented on #16430
@KathleenDollard Can you provide the deeper details on how VB manages storage for local variables declared static? My thought is that there is no real performance improvement in this case, because the type of `Counter` is a value type. Is that analysis correct?

[2020-01-02 15:32] BillWagner commented on #16434
ping @KathleenDollard What do you think should change here?

It looks like `CType` is classified as an expression in the [VB specification](https://docs.microsoft.com/dotnet/visual-basic/reference/language-specification/expressions#cast-expressions).

[2020-01-02 15:32] BillWagner commented on #16488
ping @cartermp

What are your thoughts here?

[2020-01-02 15:36] BillWagner commented on #16494
Thanks for raising this question @lukos

The additional `balancelock` variable is required because the C# `lock` statement requires the locked object to be a *reference type*. The code would not compile if it tried to lock the `balance` variable because `Decimal` is a value type. See the 2nd paragraph in the specification for the [lock statement](https://docs.microsoft.com/dotnet/csharp/language-r

[2020-01-02 15:36] #16494 closed

[2020-01-02 15:37] Youssef1313 commented on #16426
Not sure if I can get time for it soon. I think it might be good as up-for-grabs ?

[2020-01-02 15:52] #16455 closed

[2020-01-02 16:06] #12596 closed

[2020-01-02 16:27] #16459 closed

[2020-01-02 16:31] timheuer commented on #15813
Good catch! @mairaw -- wonder if we can batch update all of these updates to the ref docs?

[2020-01-02 16:39] #16428 closed

[2020-01-02 17:23] gewarren commented on #16462
Do you mean "even if it *is* a dotnetcli command"?

I'm in favor of labeling them all dotnetcli, so I think it's fine to create a PR, and we can wait for Maira's approval before merging it.

I'm not sure, but I will ask.

[2020-01-02 17:33] scottaddie commented on #16462
In the ASP.NET Core docs, we use the `dotnetcli` dev lang any time a .NET Core CLI command appears in a snippet. It's nice to have the syntax highlighting for a tool we own.

[2020-01-02 17:35] Youssef1313 commented on #16462
No, I meant that "cd" is a generic command, not a dotnetcli specific one. But it gets highlighted correctly. That's why I suggested to use dotnetcli in the case of "mixed" commands.

I'll open a PR soon.

[2020-01-02 18:10] luisquintanilla commented on #16486
Thanks for the suggestion @antoniovs1029 . We've added this to our backlog.

[2020-01-02 18:11] luisquintanilla commented on #16486
AB#1660657

[2020-01-02 18:26] luisquintanilla commented on #16442
Hi @Phoenix-313 ,

The reason why this is happening is due to early stopping being enabled by default. To disable early stopping, set the `EarlyStoppingCriteria` option in an [`ImageClassificationTrainer.Options`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.vision.imageclassificationtrainer.options?view=ml-dotnet) object to `null`. The code should look something like the code below:

[2020-01-02 18:26] #16442 closed

[2020-01-02 18:35] scottaddie commented on #16462
I'm in agreement with what @Youssef1313 stated above.

[2020-01-02 19:45] gewarren commented on #16462
Received an official answer of YES it is.

[2020-01-02 21:35] #15775 closed

[2020-01-02 21:36] #13481 closed

[2020-01-02 21:46] svemuri-dev opened #16500 "Update Docker Images in the table to latest (3.1)"
Update Docker Images in the table to latest (3.1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888b22d0-7261-c6fd-e4b3-07a4c1f66d06
* Version Independent ID: ddfcec03-a396-8851-49cd-629b9c7edc8a
* Content: [What OS to target with .NET containers](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/net-

[2020-01-02 21:55] potato-enthusiast opened #16501 "Incorrect statement"
The line "You can't declare readonly static members." is false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26899b81-d6f9-534a-83ee-283dd8aae545
* Version Independent ID: 3061125d-7de4-97ef-ccb0-ee792d6f2ae1
* Content: [readonly keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-referenc

[2020-01-02 21:56] mthalman commented on #15537
This issue is somewhat related to https://github.com/dotnet/coreclr/issues/26303.  In an ideal world, we'd have one master list of native dependencies.  Documentation could be updated programatically by reading from this master list.

[2020-01-02 22:40] madelson opened #16502 ""You can't declare readonly static members." is confusing"
This bullet makes sense in the context of the readonly members feature, but as a standalone phrase it is confusing because structs can definitly have static readonly fields, which in my understanding are also members (at least the Reflection API considers them to be members).

It might help to add (other than fields) to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-01-02 23:13] RussKie commented on #15813
Further realisation - we have removed a number of members on `Control` and descendant types. They were noted on the original PR, but I have failed to list them here:

- Remove the following members in `AxHost` type:
	* `ContextMenu ContextMenu { get; set; }`
	* `event EventHandler ContextMenuChanged`
- Remove the following members in `Control` type:
	* `ContextMenu ContextMenu { get; set; }`
	* `e

[2020-01-02 23:19] gewarren commented on #15813
@RussKie The file is here: https://github.com/dotnet/docs/blob/master/includes/core-changes/windowsforms/3.1/remove-controls-3.1.md

[2020-01-02 23:23] RussKie commented on #15813
I meant we need to update corresponding pages for each control, e.g. this has to be removed for .NET Core 3.1:
![image](https://user-images.githubusercontent.com/4403806/71699310-fc92f580-2e12-11ea-9638-bfec96da75a6.png)

[2020-01-03 00:44] AnotherBlob commented on #11987
Completely new on C# but... I don't get why you need to have square brackets at all, the example works just fine without them.
There's also no explanation why you need square brackets for this example (even though you apparently don't?)...

[2020-01-03 01:55] gewarren commented on #15813
Okay, I'm not sure how to do that so we'll have to wait for @mairaw. Should I go ahead and update the breaking changes file I linked to?

[2020-01-03 10:35] paolofulgoni opened #16509 "Add .Net WebAssembly (Blazor) to the support table"
Should the .Net WebAssembly implementation be added to the ".NET implementation support" table?
AFAIK it supports .Net Standard up to version 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](

[2020-01-03 11:07] zvizesna opened #16510 "C# 8.0 readonly members vs. "Never use mutable structs as in""
I think the documentation might contain conflicting or confusing statements about using mutable structs as in arguments.

The section [Declare readonly members when a struct can't be immutable
](https://docs.microsoft.com/en-us/dotnet/csharp/write-safe-efficient-code#declare-readonly-members-when-a-struct-cant-be-immutable) informs that:

However, the section [Never use mutable structs as in in ar

[2020-01-03 11:45] BLMeltdown opened #16511 "First Example Precision"
using System;
using System.Threading;
using System.Threading.Tasks;

public class Example
{
   public static void Main()
   {
      Thread.CurrentThread.Name = "Main";

      // Define and run the task.
      Task taskA = Task.Run( () =&gt; Console.WriteLine("Hello from taskA."));

      // Output a message from the calling thread.
      Console.WriteLine("Hello from thread '{0}'.",

[2020-01-03 11:45] TheRealMaxion opened #16512 "Small issue or unclear part in TimeSpan example"
In the second code snippet of the TimeSpan structure section, the example output says the store is closed at 21:00 when the store closing time is 21:30 and there is no indication of the local timezone being different from the store timezone.

Suggested solution is one or both of the following:
- Print local timezone or offset in output to indicate whether it is different from the timezone or offse

[2020-01-03 12:00] Youssef1313 commented on #16511
The comment says:  "// The example displays output **like** the following:"

[2020-01-03 14:31] KSib commented on #15769
Agreed, I'm not sure how this works either.

[2020-01-03 14:36] KSib commented on #15769
At least linking to this might help some others: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#using-declarations

The helpful bit is "It tells the compiler that the variable being declared should be disposed at the end of the enclosing scope."

[2020-01-03 14:53] kwaazaar opened #16514 "PackageIconUrl"
What is there no deprecation mentioning about PackageIconUrl?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj format for .NET Core - .NET Core CLI](https://docs.microsoft.com/en-us/dotn

[2020-01-03 16:09] luisquintanilla commented on #16486
Reopening issue

[2020-01-03 16:41] BillWagner commented on #16501
Good catch @potato-enthusiast

I've created #16515 to fix this issue.

[2020-01-03 17:36] brunomartinspro opened #16520 "Creating a docker image using examples outputs error"
Creating a .net core app 2.2 using the latest version of visual studio, publishing it, creating a dockerfile and building and running it with the documentation examples gives the error:

[code]

Structure:
- app
   - dll
   - etc
- Dockerfile

Publish:
[code]

Dockerfile:
[code]

Docker Build output:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-01-03 17:58] brunomartinspro commented on #16520
The documentation on step [Create The Dockerfile](https://docs.microsoft.com/en-us/dotnet/core/docker/build-container#create-the-dockerfile) specified:

[code]
But when looking into the [docker documentation](https://docs.docker.com/engine/examples/dotnetcore/) i managed to get it running by using:
[code]

Which of these options is the correct one?
Shouldn't the runtime be enough to run a dotnet c

[2020-01-03 19:21] MarcioAB opened #16521 "Packs vs Shared libraries: More information is welcome"
For example: Why the project default libraries (as in assembly load context libraries) points to libraries in shared directory but the project framework (as in project dependencies) points to pack directory ? Why libraries in pack directory have xml documentation and libraries in shared directory don't. Why they have different sizes ?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-01-03 21:21] JettoDz commented on #8804
I have some programming experience in other programming languages and some extra knowledge on the very core of modern computers. To think that I can code on my web browser is mindblowing as it is, because I know how much work it needs to be done in order to get a computer to recognize what you are writing (Or if you are doing anything, to begin with).
If you want those extra details, you'll be lea

[2020-01-03 23:08] dashesy commented on #12486
This is current workaround that works in 2.0 and 3.0 to get relative paths working.

[code]

[2020-01-04 01:04] gewarren commented on #16482
It's probably fine to have a LINQ section in each language's TOC, but for articles that are duplicated, we could either convert them to an include file that's reused in each TOC, or we could choose one location (I'd say C#) and then link to that file from the other (VB) TOC - link it with a contextual TOC link so you don't jump to the C# TOC when you click it.

[2020-01-04 01:08] cartermp commented on #16495
@oleksandr-bilyk This is set by default when compiling in release mode. We don't turn on optmizations in debug with F# tooling because it can significantly impact tooling performance (builds are done in the background to populate IntelliSense) and debug time. For trivial code samples it ends up not mattering, but for larger codebases it does have an impact. I don't think we should recommend turnin

[2020-01-04 01:09] cartermp commented on #16488
It's definitely worth adding. These attributes are mostly handy in things like exception helpers.

[2020-01-04 05:32] wwy12321 opened #16523 "Cost"
So the memory cost is 1 bit or what.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfcc3e5e-dc3b-433d-71d8-e92c462e1b02
* Version Independent ID: 80e8f0fc-4d4c-925f-0f1f-2038a5a3c24d
* Content: [bool type - C# reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/bool#feedback)
* C

[2020-01-04 22:03] #16495 closed

[2020-01-04 22:10] oleksandr-bilyk commented on #16495
@cartermp Tail recursion is enabled by "Generate tail call", not by "Optimize code" option. Optimization should not affect tail generation because optimization should not modify the logic. Anyway, thank you for reply.

[2020-01-05 06:09] Youssef1313 commented on #16523
I don't think that any data type can take memory of "bits", Any data type will always be a byte and multiple of bytes. Referring to the table in [sizeof operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/sizeof) article, It says that bool takes **one byte**.

[2020-01-05 06:14] Youssef1313 commented on #16482
Wouldn't it be better to find some directory that holds LINQ article for both languages ?

I was thinking of having a linq directory in `docs\standard` and move the articles in both languages there. For articles that are in **only one** language, It might be easy to write the snippets in the other language. So, at the end, the linq folders in csharp or visualbasic will be completely removed, and r

[2020-01-05 11:40] Youssef1313 opened #16536 "Compile error in a sample"
The sample in https://github.com/dotnet/samples/blob/master/core/json/Program.cs has a compile error.

![image](https://user-images.githubusercontent.com/31348972/71779681-e32fac00-2fc0-11ea-817a-486462dafc55.png)

I think it was put recently in the samples repository, but not yet consumed in any articles.

See https://github.com/dotnet/corefx/pull/38928 For more information.

I'm wondering if the

[2020-01-05 12:46] Youssef1313 commented on #14822
@BillWagner, just a small note:

https://github.com/dotnet/samples/blob/master/snippets/csharp/tutorials/attributes/Program.cs#L134

Things like that, which are **intended compile errors**, will cause the CI build to fail.

[code]

A solution will be needed for that.

[2020-01-05 13:18] Youssef1313 opened #16537 "Where MakeConstTestProject is used"
Is https://github.com/dotnet/samples/tree/master/csharp/roslyn-sdk/Tutorials/MakeConstTestProject used anywhere or it can be deleted ?

/cc @BillWagner

[2020-01-05 16:22] Youssef1313 commented on #16537
Also, have a look at this one too (<https://github.com/dotnet/samples/tree/master/framework/libraries/pcl-library>).
It seems it's not referenced anywhere, and it has a compile error.

![image](https://user-images.githubusercontent.com/31348972/71782916-4aad2200-2fe8-11ea-8ecf-3af97a01575e.png)

TargetFramework value isn't recognized

[2020-01-05 16:34] Youssef1313 opened #16538 "whats-new samples are scattered in two different directories"
For .NET Core 3.0: <https://github.com/dotnet/samples/tree/master/snippets/core/whats-new/>
For .NET Core 2.1: <https://github.com/dotnet/samples/tree/master/core/whats-new/>

It's better to have both of them in one directory.

[2020-01-05 18:30] MJackson9595 opened #16539 "Renaming a copied Public class CHANGES original Class to NEW name. in Blend Visual Studio 2019"
I copied one public class then repasted it in same folder and global namespace.

expected this error.  to show BEFORE I renamed the public class I copied to a different name.

WHAT I did NOT expect was Visual Studio 2019  to HELP by changing BOTH the public class and name of the member StartProgram () in the Original class to match the renamed class.

Blend for visual studios 2019 seems to be dete

[2020-01-05 20:41] v-tsymbalistyi opened #16540 "Ukrainian localization for docs repo"
Hello!

Is there Ukrainian localization for docs repo? I couldn't find a relevant repository.
If there is none, how can it get created? I would like to contribute to that once in a while. And I might be able to find some people to help me with this.)

[2020-01-05 22:50] mleenhardt commented on #12486
@jamescpurcell I just ran into the described issue and don't believe `-o` makes sense when publishing more than one project, since it would require to be able to re-assemble each published executable's dependencies within the output folder.

[2020-01-06 04:16] robvet commented on #15698
Hello Bitner... My apologies for such a late response. Appreciate your input, but having hard time following it. It almost sounds like you're saying, "Hey, it's simple, Cloud Native apps are Resilient and Scalable. Period. End of conversation." Certain, you'll agree there is a little more to it than just that. Please help me understand your point. Thanks

[2020-01-06 05:38] paul1956 commented on #16392
This is partly fixed in current WinForms Master based on Core 5.0 with a new AssemplyInfo.vb but the way that class is populated has changed, some of the information like Title don't have a source what is enterable by a developer so the value it provides is not the same as Framework. I have entered a WinForm issue for this difference. I don't know when 5.0 comes out until then this is issue is a b

[2020-01-06 06:22] #11381 closed

[2020-01-06 06:22] #15611 closed

[2020-01-06 07:40] Youssef1313 commented on #16540
I've searched and didn't find an Ukrainian version.

---

I think @JasonCard may answer this.

[2020-01-06 11:36] HrDahl opened #16550 "Typo in code example"
At https://docs.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/components#event-handlers in the second last code example I believe there is a typo.

It says:

&lt;button @onclick="Get message"&gt;Get message&lt;/button&gt;
...

Shouldn't it be:
&lt;button @onclick="ShowMessage"&gt;Get message&lt;/button&gt;
...

?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-06 11:55] bittner commented on #15698
I believe the definition is that simple. Implementing that is of course a different topic, this is hard work and requires attention to detail. My point it, I makes sense to keep documentation concise. Because people may just look for a definition. What do you think?

[2020-01-06 13:31] abelbraaksma opened #16551 "The example on byref returns doesn't return a byref and is confusing"
This page has the following example of a function that returns a byref:

[code]

However, `safeSum` does *not* return a byref. The local mutable value is already dereferenced *before* returning from the function. This can be seen when you try to take the address of the returned value, or when you inspect the signature of the function, which is `C.safeSpan : bytes: Span<byte> -> int`.

As is elsewh

[2020-01-06 13:34] abelbraaksma commented on #16551
As an aside, the bot screwed up my code sections, where can I report that as a bug or is this already known?

![image](https://user-images.githubusercontent.com/16015770/71821157-a2ec2e80-3091-11ea-98ae-bdf8c116b3a0.png)

[2020-01-06 13:53] CeciAc opened #16552 "@ $ Is invalid"
**The comment below was machine-translated**

@dsaewq321 commented on [Mon Jan 06 2020](https://github.com/dotnet/docs.zh-cn/issues/518)

Regarding "$ @" ... "and @ $" ... "are valid interpolated verbatim strings." Among them, @ $ is invalid. Although I saw someone write this, I will get an error when I pull it down Up:
-Error CS8401 To use "@ $" instead of "$ @" for interpolated verbatim strings,

[2020-01-06 14:32] pkulikov commented on #16552
I don't know how it's translated, but the English version of the article specifies that the token order is not important starting with C# 8.0.

[2020-01-06 14:44] atifaziz opened #16553 "Potentially improve note about unauthorized access during file enumeration"
Instead of the currently noted strategy for handling unauthorized access during lazy enumeration of file system entries:

How about something like the following that simply catches `UnauthorizedAccessException` errors and resumes with the next?

[code]

This is better, but more importantly, it would also document if the above is _supported behaviour_. In other words, if the iteration fails part wa

[2020-01-06 15:33] BillWagner commented on #14822
@Youssef1313 We have thought about it, but haven't decided on a plan yet.  We're think through two approaches:

1. Mark some samples where "a successful CI build" has the expected errors.
1. Move non-compiling samples into inline code, where it isn't built by the CI system.

The advantage of the second is that it's easy. The advantage of the first is that if any new language updates change the exp

[2020-01-06 16:36] BillWagner commented on #16372
closing as most people are back from the holidays today.

[2020-01-06 16:36] #16372 closed

[2020-01-06 16:39] BillWagner commented on #16523
As @Youssef1313 states, the `sizeof` operator will give the correct answer here. We won't update this article, because the memory storage can depend on the natural boundaries for the machine CPU, and can be manipulated with some attributes.

Closing as answered.

[2020-01-06 16:39] #16523 closed

[2020-01-06 16:40] BillWagner commented on #16536
ping @tdykstra Can you look at this?

[2020-01-06 16:44] BillWagner commented on #16537
I know that the "Make Const test project" should stay. While the code isn't displayed in the article, it is discussed in the tutorial that builds the MakeConst refactoring.

I'm not sure about the PCL one. We'll look at that as we finish getting the build system in place.

[2020-01-06 16:45] BillWagner commented on #16538
Thanks for noting this @Youssef1313
We agree, and we'll get to that later this quarter.

[2020-01-06 16:48] BillWagner commented on #16552
Thanks for forwarding this @CeciAc

As @pkulikov points out, either order is valid starting with C# 8.0

I'll close this as by-design.

[2020-01-06 16:48] #16552 closed

[2020-01-06 16:51] #16501 closed

[2020-01-06 17:07] gewarren opened #16555 "Acrolinx clean-up in xaml-services folder"
A number of the articles in the desktop-wpf/xaml-services folder have lowish Acrolinx scores. This issue tracks improving the scores.

[2020-01-06 17:08] #16555 closed

[2020-01-06 18:36] tdykstra commented on #16536
It's old code that was broken by an API change.  I'm not sure how best to fix it to use the current API, @ahsonkhan would know. When it does get fixed I'll incorporate the code into one of the System.Text.Json docs, so I'm not sure this needs to stay in the samples folder.

[2020-01-06 19:39] tarekgh opened #16558 "Fix the docs of DateTimeFormatInfo DayNames and AbbreviatedDayNames remarks section"
The remarks section mentioning

[code]

which is not correct. We should clarify that the day names array always start with Sunday.

[2020-01-06 19:40] tarekgh commented on #16145
I have created the issue https://github.com/dotnet/docs/issues/16558

[2020-01-06 19:41] #16189 closed

[2020-01-06 20:03] mairaw commented on #4589
Thanks @Youssef1313. Closing this one then.

[2020-01-06 20:03] #4589 closed

[2020-01-06 20:46] #16550 closed

[2020-01-06 20:58] JasonCard commented on #16540
Hi @v-tsymbalistyi, cc @Youssef1313,

Thank you for your question and interest to contribute to our Docs translation.
Unfortunately, we currently do not localize .NET Docs into Ukrainian and do not have plans to do so.
Our content is also currently not available for translation by public, but it's a possibility we are considering for the future. I'll pass on your suggestion for consideration.

Kin

[2020-01-06 21:31] #16540 closed

[2020-01-06 22:13] Thraka commented on #16392
@paul1956 Hi Paul. I'm back from vacation. I'll get to looking at this.

[2020-01-06 22:37] mairaw commented on #2642
Assigning this to @gewarren. Feel free to break this task into smaller issues if it helps.

[2020-01-06 22:40] Thraka commented on #16392
@gewarren I think this should be noted on this page. However, it's (in a way) covered by https://docs.microsoft.com/en-us/dotnet/core/compatibility/visualbasic as that article details that the `Microsoft.VisualBasic.ApplicationServices` namespace is no longer available, which the splashscreen is designed to use. For VB.NET Windows Forms projects, they may be using the SplashScreen/About forms prov

[2020-01-06 22:55] mairaw commented on #16514
Thanks for your feedback @kwaazaar.

@karann-msft @nkolev92 can you comment on this issue and what is the replacement for PackageIconUrl?
There are a few other articles that also talk about this property:
https://github.com/dotnet/docs/search?q=PackageIconUrl&unscoped_q=PackageIconUrl

[2020-01-06 23:17] Thraka commented on #11977
@davidsh, is this something you can comment on?

[2020-01-06 23:25] PriyaPurkayastha commented on #16420
Adding @livarcocc to find out whether he has any information on this issue.

[2020-01-06 23:37] jasper-d opened #16562 "Document thread safety of RandomNumberGenerator"
**Issue description**
I cannot find information w.r.t. the thread safety of members of `System.Security.Cryptorgraphy.RandomNumberGenerator`. Knowing if calls must be synchronized by the caller is important.

`RNGCryptoServiceProvider.GetBytes` is thread safe according to the documentation.

**Target framework**
- [x] .NET Core
- [x] .NET Framework
- [x] .NET Standard

[2020-01-06 23:50] karann-msft commented on #16514
PackageIconUrl is being deprecated in favor of PackageIcon - https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packageiconurl

PackageLicenseUrl is being deprecated in favor of PackageLicenseFile and PackageLicenseExpression - https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-a-license-expression-or-a-license-file

[2020-01-07 00:04] RussKie commented on #15813
As [pointed on SO](https://stackoverflow.com/a/59552608/2338036) (thank you @mairaw for the link) we have another issue - all removed types still appear as available in 3.1.
E.g. this link shouldn't work: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.menu?view=netcore-3.1

[2020-01-07 00:21] Thraka commented on #16373
Visual Studio reads the console output but doesn't print it to the output pane until a newline character is fed to it. In general, windows forms apps don't use `Console.Write[Line]` as it doesn't go anywhere when you run outside of visual studio. A **console application** will instantly display the `Console.Write` output.

[2020-01-07 00:27] mairaw commented on #15813
Thanks @RussKie. I've opened https://github.com/dotnet/dotnet-api-docs/issues/3738 to track this issue.

[2020-01-07 00:54] kendrahavens commented on #16399
Thank you for filing feedback. The 'Don't Ask again' button on the left side of the notification should disable it from showing again.

![image](https://user-images.githubusercontent.com/8293542/71859456-d46df580-30a3-11ea-934c-9bdbe90bbc17.png)

Is this button not working for you? I'd be happy to open an issue on the product if the button is broken. Otherwise, I'm not sure if there is an option i

[2020-01-07 02:21] AnotherBlob opened #16567 "I never heard of fibonacci numbers; should be explained better"
Wikipedia and this tutorial don't give a good explanation on how fibonacci numbers work but after writing down random numbers and using this method in pratice made me realize that you could explain it in a way that's very easy to follow.
"You start off with 3 values. The first two values are 0 and 1. You'll need to add them together to make the third value.
Scroll the numbers upwards now so that t

[2020-01-07 03:24] ahsonkhan commented on #16536
I can take a look at fixing the sample, some time this week.

[2020-01-07 05:27] v-tsymbalistyi commented on #16540
@JasonCard thank you.

I am a bit surprised that I can contribute code, docs but not the translation.
Also, I hope you'll reconsider adding Ukrainian.

I can see that it might be difficult for you to verify the quality if you don't have native speakers in the stuff. But people who bother submitting translation will not usually commit rubbish and simple google translation should give you a pretty g

[2020-01-07 05:53] ahsonkhan commented on #16309
I can certainly see that being helpful!

[2020-01-07 07:42] tmds commented on #16521
https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging is for explaining to Linux maintainers how they can package .NET Core.
I think this isn't the right document to explain the design.

cc @dagood @nguerrera

[2020-01-07 07:44] paul1956 commented on #16392
@Thraka yes you can set the flag and you existing ApplicationInfo.vb will work with frozen values from FrameWork. In Core the most of the values you need are set in Package and will not flow to ApplicationInfo.vb. If you want to values in Package there needs to be documentation on how to get them. You could create a new ApplicationInfo.Vb, the file exists in current Master that gets most of the va

[2020-01-07 09:34] Youssef1313 commented on #16536
@ahsonkhan, I've tried to fix it, it compiled successfully but threw an exception.

https://github.com/Youssef1313/samples/commit/f9f0895dd6c6792576dff99af71a8ae3aafe5fa2

![image](https://user-images.githubusercontent.com/31348972/71884687-74c62780-3141-11ea-8871-c9c3c20d8910.png)

Is it a known issue currently with System.Text.Json ?

I also suggest to put the project in a cs or csharp sub direc

[2020-01-07 09:49] TheRealMaxion commented on #16512
I suppose this should have been in the samples repository.

[2020-01-07 09:56] savaged opened #16569 "Good but a little unclear"
A really helpful guide, however it's not clear whether one needs to install the sdk and then the runtime. Are both required or just one?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f33bad-b152-c53b-1b0a-234c9a075bd7
* Version Independent ID: 565e7432-c4b3-a1c2-8ce3-c8c1a0d8ebe8
* Content: [Install .NET Core on Ubu

[2020-01-07 14:02] Youssef1313 commented on #16567
Some consider that it starts with 0 1 and some consider it starts with 1 1.
In the article, it's said that it starts with 1 1

[2020-01-07 15:04] BillWagner commented on #16567
Thanks for writing this @AnotherBlob

As @Youssef1313 says, the Fibonacci sequence is defined in the article. I'll close this as provided.

[2020-01-07 15:04] #16567 closed

[2020-01-07 15:28] dagood commented on #16521
I agree this page isn't where we should describe shared frameworks (runtimes) vs. framework packs. [dotnet/designs/accepted/install-locations.md](https://github.com/dotnet/designs/blob/master/accepted/install-locations.md) and https://github.com/dotnet/designs/pull/50 are the only semi-official places I can think of where I've seen these documented.

(Once we do have it documented (or if someone f

[2020-01-07 15:31] #16302 closed

[2020-01-07 16:13] BlueDotBrigade opened #16570 "Re: provided example - shouldn't the .Net 4.x only computer always display an error?"
This article includes a compatibility matrix for an application that was compiled targeting the **.Net Framework 3.5** (which requires a version 2 of the CLR).

Given that the example only changes the target CLR via the `version` XML attribute, shouldn't the computer with only .Net Framework 4.x installed (i.e. far right column) **always** display an error?  Have I missed something?

---
#### Docu

[2020-01-07 16:21] Pilchie opened #16571 "Should be updated to indicate that only ASP.NET Core 2.1 is still supported on .NET Framework"
This page should be updated to mention that ASP.NET Core 2.1 is supported on .NET Framework, but later versions are either out of support  (2.2), or don't support .NET Framework, and won't in the future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e

[2020-01-07 16:46] BlueDotBrigade commented on #16570
The documentation is a little confusing because it subtly switches between the .Net Framework version and the CLR version.

I incorrectly assumed that the target .Net Framework **took precedence** over the CLR, in that:

1. The application's target .Net Framework (in this case: 3.5) is determined by the project's properties
2. but could be overridden by `<supportedRuntime sku id=""/>`
3. and that

[2020-01-07 17:20] DavidPrio commented on #16399
@ARambazamba please see Kendra's comment above and contact her if any issues.
@CeciAc cc

[2020-01-07 17:51] Thraka commented on #16512
@TheRealMaxion No, this is the correct place. The snippet code may live in that repo but the issue is related to the published article.

[2020-01-07 18:10] Thraka commented on #16512
Thank you for opening this issue. I think the code should be updated to indicate the timezones and then also indicate on the output of the is open check, that this is based on your timezone.

[code]

[code]

[2020-01-07 18:24] Thraka commented on #16392
Thank you for linking to that, it gives me a better picture of the overall state.

@gewarren I think this does warrant a breaking change update. Perhaps the content at https://docs.microsoft.com/en-us/dotnet/core/compatibility/visualbasic could be duplicated here but also mention that the `SplashScreen` and `About` forms provided by Visual Studio use these namespaces and the the `System.Reflection

[2020-01-07 18:24] #16539 closed

[2020-01-07 18:24] BillWagner commented on #16539
Issue moved to [dotnet/roslyn #40779](https://github.com/dotnet/roslyn/issues/40779) via [**ZenHub**](https://www.zenhub.com/)

[2020-01-07 18:49] 1jeffchristensen commented on #12304
**Setup:**
In folder D:\dev\myapp\ I have my sln file and no bin folder and no obj folder.
I run `dotnet --version` which outputs SDK 3.1.100

**Step 1:**
Then I run `dotnet build` from within D:\dev\myapp
Now I have a bin folder and a obj folder.

**Step 2:**
Now I run `dotnet clean` from within D:\dev\myapp

**Issue:**
I still have a bin and obj folder. (And I have a built dll for a referenced p

[2020-01-07 18:52] wli3 commented on #8988
We need to bump the priority for DOTNET_ROOT. It is been a year. And we don't have any official document for what it is for and what to set to. The only meaningful explanation is on a twitter thread. cc @richlander

[2020-01-07 18:53] ericsampson commented on #16187
This is a subtle topic. It would be great to have it covered in a single authoritative place. Cheers!

[2020-01-07 19:06] #16474 closed

[2020-01-07 19:19] #16330 closed

[2020-01-07 19:19] mairaw commented on #16571
@Rick-Anderson @scottaddie can you help address this issue? I think you'd know better the language we're using for this scenario.

[2020-01-07 19:31] mairaw commented on #16551
Thanks @abelbraaksma. Do you mind opening an issue at https://github.com/microsoftdocs/feedback/issues for the feedback functionality?

[2020-01-07 19:33] mairaw commented on #16509
Thanks for your feedback. @terrajobst can you comment on this request?

[2020-01-07 19:36] Thraka commented on #12304
@1jeffchristensen Hello.

However, I have projects that also use project references and when I do `dotnet clean` everything is deleted from the build bin/obj folder. It's completely empty for me. Are you copying files to these folders? the `dotnet clean` command parses the file/dependency tree for the project and cleans out everything known about the project. For example, if you have `file1.txt` r

[2020-01-07 19:37] mairaw commented on #16481
Thanks for your feedback @carlin-q-scott. @KathleenDollard @livarcocc @dsplaisted can you comment on this? Is this a product issue or a documentation bug?
AFAIK the latest SDK should be able to build for any lower target.

[2020-01-07 19:39] abelbraaksma commented on #16551
@mairaw, wait, is the link under the docs still going to the wrong repository? I thought docs git issues belonged here. I used the report form at the bottom of the docs.

[2020-01-07 19:40] abelbraaksma commented on #16551
And do you mean: to close this one and open a new one as a copy? Or just refer here?

[2020-01-07 19:43] abelbraaksma commented on #16551
@mairaw Sorry, I deleted my last comment, I misunderstood. Sure, no problem, I'll do that.

[2020-01-07 19:43] mairaw commented on #16420
I'm not sure the CLI supports sqlproj. @KathleenDollard?

[2020-01-07 19:44] Thraka commented on #16520
If you created an ASP.NET Core app you need **aspnet**. If you created a .NET Core app the **runtime** value is sufficient.

What does your .csproj say it's SDK value is? (its the first line in the file)

[2020-01-07 19:47] mairaw commented on #16407
Thanks for your feedback @Mikhail-msft. @KathleenDollard @dsplaisted @livarcocc is there a way to control deployment settings via MSBuild properties? I'm not aware of them.

In regards to having a single place that describes all .NET Corer specific MSBuild settings, we don't have that yet, but I think @gewarren will be able to start on this project this month. It's a high-pri backlog item for our

[2020-01-07 19:48] IGx89 opened #16578 ""l" standard date/time format?"
Under the "Custom support" section it says "one of the "R", "l", "O", or "G" standard date and time format strings". I found every one except "l" (lowercase L) in the link it references (https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings). I'm wondering if that's a typo, or if it's missing from the standard format strings document and should be docume

[2020-01-07 19:48] mairaw commented on #16409
Thanks for your feedback @Mikhail-msft. This page hasn't been updated for 3.0/3.1 yet. But we'll consider your comment when going through the updates, which should happen soon.

[2020-01-07 19:53] adamny opened #16579 "Unable to create a project"
[Enter feedback here]

I installed Visual Studio 2019 for Mac (community edition) and followed these steps to create a project.  However, clicking the "Create" button doesn't do anything (it appears unclickable).
("Cancel" and "Previous" buttons work.)
I installed Visual Studio twice and both times have this problem.
What do go wrong?

<img width="906" alt="Screen Shot 2020-01-07 at 2 50 34 PM" sr

[2020-01-07 20:12] mairaw commented on #16374
@Thraka @dagood can you help move this feedback to the appropriate repo? This is not a doc issue.

[2020-01-07 20:19] mairaw commented on #16579
Thanks for your feedback @adamny. Given this is a product issue you're having and not a problem with our documentation, please report it using the appropriate channel: https://developercommunity.visualstudio.com/content/problem/post.html?space=41

[2020-01-07 20:19] #16579 closed

[2020-01-07 20:22] mairaw commented on #16448
Yeah, I've noticed that too @ChrisMaddock and not sure who made that change. @BillWagner @Pilchie  any ideas on who to ping about this?

[2020-01-07 20:25] mairaw commented on #16323
Thanks for your feedback @hskwakr.  This issue doesn't seem related to the content in this article.

Have you tried running dotnet restore as the manual instructions stated?

[2020-01-07 20:26] BillWagner commented on #16448
I'd start with @jinujoseph She may know.

[2020-01-07 20:27] BlueDotBrigade commented on #16570
For anyone who is interested, it _appears_ that the _CLR_ is more important than the requested .Net library. I always assumed it was the other way around.

---

Assuming the target computer has _.Net Framework 4.7.1_ installed...

**Works**: everything defined explicitly
`<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>`

**Works**: target CLR determines which .Net library wil

[2020-01-07 20:27] #16570 closed

[2020-01-07 20:30] mairaw commented on #9547
Reopening this since we were discussing this again before the holidays.

[2020-01-07 20:34] mairaw commented on #16500
The book is still covering .NET Core 2.2. @nishanil can comment whether there's a plan to update the entire book.

[2020-01-07 20:40] mairaw commented on #16551
No problem. But just to be clear. The feedback you have here for the F# content is the right place. I was just asking for a new issue regarding the feedback bot comment you had earlier. That would be in a separate place.

[2020-01-07 20:48] dagood commented on #16374
Based on the version number, this package can't be serviced because 1.1 has reached end of life (2019-06-27). You can see the current status at https://dotnet.microsoft.com/download/dotnet-core.

https://github.com/dotnet/runtime is the right place to file issues like this about the dotnet-runtime (shared framework) packages.

(I don't have permission to close or move issues in this repo.)

[2020-01-07 20:49] mairaw commented on #8988
Yeah I know 😢 I'll schedule this one for this month and see if we can make that happen. Having your and @richlander's help to get those values accurately documented would be great. I'll ping you for review.

[2020-01-07 20:52] mairaw commented on #16374
Thanks for all the information @dagood. Closing this issue then.

And I've fixed your permissions issues now.

[2020-01-07 20:52] #16374 closed

[2020-01-07 21:04] dagood commented on #16407
Happened to see this issue--this is answered over at https://github.com/dotnet/cli/issues/12716#issuecomment-535331850:

[2020-01-07 21:07] mairaw commented on #16407
Thanks @dagood. We'll add that info then in the MSBuild reference we're building and also to this article when we're reviewing it as part of the 3.0/3.1 updates.

[2020-01-07 21:18] #15510 closed

[2020-01-07 21:21] mairaw opened #16582 "Update samples to use solution-based project"
update article to use the new sample location and add the same for VB as well:
dotnet/samples#1867

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2fd1ea-abfe-ada0-ce7b-1d7f50819c18
* Version Independent ID: 4d918f89-02f2-dbf6-a701-c2efe9eb9a7d
* Content: [Consume a .NET Standard library in Visual Studio - .NET Core](

[2020-01-07 21:42] #13914 closed

[2020-01-07 22:56] scottaddie commented on #16571
Where possible, we should probably direct customers to the [.NET Core support policy](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) in the docs. That will allow us to keep our docs generic.

[2020-01-07 22:58] Rick-Anderson commented on #16571
@scottaddie  I'll do that in the update.

[2020-01-07 23:38] JoeRobich commented on #16399
@DavidPrio This prompt is to generate launch.json and tasks.json files for the folder/workspace that you opened. If you choose 'Don't Ask Again', it will not ask for that folder/workspace again. If you would like to propose a new configuration option to suppress this prompt, then you can request one at https://github.com/OmniSharp/omnisharp-vscode/issues. Thanks!

[2020-01-07 23:41] Thraka commented on #9547
I think before the holiday's we left this at:

1. Simplify the regex, so that it's easier to read and parse.
2. Indicate that a regex for email is highly complicated and may never cover every possibility.
3. For security purposes and further validation, send a test email to the email address.

[2020-01-08 00:18] mavasani commented on #16448
I believe this needs to be broken down into 2 separate work items for IDE and compiler diagnostics.

1. Compiler diagnostic help links: This should be a pretty trivial change to update [this](http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp/Errors/ErrorFacts.cs,78) method to populate the map with entries for each compiler diagnostic ID and corresponding help link. All other infrastructure is

[2020-01-08 05:50] wli3 commented on #8988
I am happy to help review, although SDK team does not own this feature, runtime team does

[2020-01-08 06:13] nishanil commented on #16500
Yes, there is a WIP PR to update the entire book. https://github.com/dotnet/docs/pull/16202

[2020-01-08 07:32] JasonCard commented on #16540
@v-tsymbalistyi Thank you again for further input on this topic. We do encourage community contribution to improve our existing translation by opening GitHub PR using the "Edit" button. We have a team to review those PRs by linguistic moderators. However, resources are limited, and it's not an efficient process for major translation work. So unfortunately this current process is not supported for

[2020-01-08 07:58] hskwakr commented on #16323
Thank you for your reply.
I'm sorry. I didn't explain it enough.
**And I seem the issue has already been solved.**

I had changed the value `TargetFramework` from `netstandard2.0` to `netcoreapp3.1` in the file `PluginBase/PluginBase.csproj`.
https://github.com/hskwakr/AssemblyLoadContext/commit/5eff8a47fc9ab436d324e31e59043ba2715c2bc2#diff-92b53be55bc10347ef6c4f3f90a23928

And I had tried running

[2020-01-08 08:45] ChrisMaddock commented on #16448
Great, thanks @mavasani!

I only mentioned the IDE errors, as I thought there were already docs pages for them. If not, the search seems like the right behaviour.

When I’m at a desktop, I’ll have a look at the Roslyn code and see if this is something I can contribute. Thanks for the pointers!

[2020-01-08 16:00] brunomartinspro commented on #16520
@Thraka this is the csproj, so if i understand correctly when creating a web project (ASP.NET Core) you can't use the runtime.
[code]

[2020-01-08 16:58] Thraka commented on #16553
This is a good suggestion. However, I think this should be a whole new section + example in this article.

[2020-01-08 17:09] atifaziz commented on #16553
Before adding the section + example, it would be good to know if the behaviour is by-design (and therefore will continue to be supported in the future) or just a by-product of the _current_ implementation.

[2020-01-08 17:58] layomia commented on #16578
@tannergooding , @tarekgh it seems that the ["l" format](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.cs#L27)  used by the Utf8Parser/Formatter is not a documented [standard format specifier](https://docs.microsoft.com/dotnet/standard/base-types/standard-date-and-time-format-strings), but a convenient way to u

[2020-01-08 18:09] tarekgh commented on #16578
The documentation should clarify this format is supported only for Utf8Parser. In the future, we can support the format with DateTime/Offset but I am not seeing any needed rush for doing that.

[2020-01-08 18:43] eltiare commented on #13686
This page still lists the operator as "proposed".

[2020-01-08 18:48] v-tsymbalistyi commented on #16540
@JasonCard Thank you for considering it.
It would be great.

[2020-01-08 23:00] sunitjoshi opened #16593 "Code translation to F#"
Would translation to F# be pretty straightforward?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Tutorial: Analyze website comments - binary classification - ML.NET](https://docs.microsoft.com/en-us/dotnet/m

[2020-01-09 06:32] #15878 closed

[2020-01-09 08:50] kapsiR commented on #16391
And please include the steps to disable it.
I just got it automatically installed with a new C# project in VS Code. (I don't want localized IntelliSense!)

[2020-01-09 11:14] paolofulgoni opened #16597 "Default interface methods page is not up to date"
The status on top of the page is not up to date.
Should it be removed?
Also, since the feature was actually released, there could be a link to the related page: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#default-interface-methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17012c83-0313-919b-e

[2020-01-09 13:59] leotsarev commented on #13914
Thanks, but we are still missing IOptions guidance....

[2020-01-09 15:07] zdrakec commented on #16162
Wait, what? I thought this was, in contrast, remarkably easy to follow, and clear in its explanations. Had no trouble whatsoever getting it going...

[2020-01-09 15:41] karenpayneoregon opened #16600 "Download link"
The download link goes to the landing page for code samples, not for the associated project download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd4de30-625f-5f9f-3217-48f40caf725a
* Version Independent ID: 8cd0c08d-fe9d-ebb3-0aa0-07651578e13a
* Content: [Cancel Async Tasks after a Period of Time - Visual Basic](h

[2020-01-09 15:45] karenpayneoregon opened #16601 "Control names"
Rather than Button1 and Button2 e.g. StartButton or ButtonStart or btnStart. I see developers on various forums using default control names and when they get stuck with tons of controls, well its hard to figure out and I think promoting good naming of controls will go along way in the devs future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-01-09 15:48] karenpayneoregon opened #16602 "Naming convention"
Better names , meaningful names of items (properties, methods, events) would promote good programming habits for new developers, they see these names and must think this is okay.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec67c37-012f-17cc-f53d-cf9db2784e69
* Version Independent ID: f6f3bc0f-f768-71a0-ddba-79477ed

[2020-01-09 16:29] BillWagner commented on #16597
Thanks for writing this up @paolofulgoni

This page is correct. The language reflects the difference between "shipping a feature" and "updating the standard".

You are correct that default interface members shipped with C# 8.0, and is available.

We use the term "proposal" here to reflect that these features are proposed for the ECMA C# standard, but have not yet been incorporated into the standar

[2020-01-09 16:29] #16597 closed

[2020-01-09 17:11] paolofulgoni commented on #16597
Thanks for the detailed answer.

I was a little confused by this:
![image](https://user-images.githubusercontent.com/5703017/72088270-1dbf7e80-330a-11ea-8588-6b879b555759.png)

But now I understood it's about the standard, not the reference implementation.

[2020-01-09 17:28] Thraka commented on #16520
@brunomartinspro Perhaps I should update the tutorial to have a link in the introduction to the ASP.NET Core doc's tutorial? https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/building-net-docker-images?view=aspnetcore-3.1

Does that cover your scenario?

[2020-01-09 17:40] Thraka commented on #14822
I think #2 is the better way to go here.

[2020-01-09 17:45] #16520 closed

[2020-01-09 17:51] Youssef1313 commented on #14822
Well, If I found samples that has an intended compile-time error, should I open a PR that adds it directly in the md file and deletes it from samples repo ?
Or wait for this until the CI is done ?

[2020-01-09 17:52] BillWagner commented on #14822
@Youssef1313 We should be deciding which option within a few days. I'll update this comment once we've done that.

[2020-01-09 18:09] rightwayit commented on #16162
More context, please. I criticise a lot of things, so you might have to refresh my memory on this one. At any rate, if I found it difficult to follow as a developer of some 35 years that learned and taught Python intermediate in 5 weeks, then other folks are going to find it that way too, so please try and humble up and let's get to the bottom of this, eh? I am on your side.

Best regards,

Graham

[2020-01-09 18:35] zdrakec commented on #16162
Ai I did not mean to be "un-humble" - I just kept thinking, as I worked through it, that for once the example was not only straightforward, but actually worked. I apologize for the tone, I see your point.

[2020-01-09 18:41] Thraka commented on #16553
@JeremyKuhne @carlossanlop can you comment on this suggestion?

[2020-01-09 19:09] rightwayit commented on #16162
Well I'm not infallible, either, and I might have been a bit unkind. Did you or someone you know write this? If so, I'd be happy to explain the difficulty I had if I have a link to the page again.

Best regards,

Graham

Graham Bennett (RightWay IT Limited) 07502 545702

[1510153075288_the-open-group-certified-togaf-9-certified.png]

________________________________
From: zdrakec <notifications@gi

[2020-01-09 19:12] rightwayit commented on #16162
Just for starters, it's entirely possible that you knew something I didn't, or got lucky with the things you tried. If so, then fair play to you. Your view is every bit as valid as mine. Probaby more so 🙂

Best regards,

Graham

Graham Bennett (RightWay IT Limited) 07502 545702

[1510153075288_the-open-group-certified-togaf-9-certified.png]

________________________________
From: zdrakec <notifica

[2020-01-09 19:26] #16075 closed

[2020-01-09 19:32] JeremyKuhne commented on #16553
It isn't explicitly by-design. This particular scenario is explicitly handled by [EnumerationOptions.IgnoreInaccessible](https://docs.microsoft.com/en-us/dotnet/api/system.io.enumerationoptions.ignoreinaccessible?view=netcore-3.1#System_IO_EnumerationOptions_IgnoreInaccessible), which is what we should be calling out here.

In fact, we do have to do some work around throwing exceptions during enum

[2020-01-09 20:26] gewarren commented on #16600
Thanks for reporting this. We'll get it fixed.

[2020-01-09 20:42] gewarren commented on #16600
I'm not exactly sure where the sample lives now. This one is not correct: https://docs.microsoft.com/samples/dotnet/samples/async-and-await-vb/

[2020-01-09 20:44] gewarren commented on #16601
Good idea!

[2020-01-09 20:44] mairaw commented on #16600
I don't think this one has been migrated to samples browser yet. It's archived here:
https://github.com/microsoftarchive/msdn-code-gallery-community-a-c/tree/master/Async%20Sample%20%20Fine%20Tuning%20Your%20Application%20(C%23%20and%20Visual%20Basic)

[2020-01-09 20:45] gewarren commented on #16602
Yes, agreed. This would be a good improvement.

[2020-01-09 21:32] gewarren opened #16608 "Add EII's to unsupported APIs doc"
Should the explicit interface implementations that throw PlatformNotSupportedException for .NET Core be added to the [list of unsupported APIs](https://docs.microsoft.com/dotnet/core/compatibility/unsupported-apis)?

Two are already included:

[X509Certificate.ISerializable.GetObjectData](https://review.docs.microsoft.com/dotnet/api/system.security.cryptography.x509certificates.x509certificate.sys

[2020-01-09 21:37] gewarren commented on #16608
@danmosemsft @PriyaPurkayastha Any thoughts?

[2020-01-09 21:59] danmosemsft commented on #16608
Hello @gewarren. I could go either way on this one. It's true they are not supported - they throw. However almost nobody would call these directly -- they would be called by the binary serialization machinery. What the customer would see is that binary serialization of these types would fail with an exception like "Type 'X' in Assembly 'Y' is not marked as serializable".

So if it's cheap to mark

[2020-01-09 22:04] ChrisMaddock commented on #16448
Hey @BillWagner, @mairaw - can I have your thoughts about how to go about this, please?

Following @mavasani's lead - I'd like to add direct links to the docs pages for the C# compiler errors.

Regarding those compiler errors that we don't have docs pages for yet, I'm thinking they should ideally link to [this](https://docs.microsoft.com/en-us/dotnet/csharp/misc/sorry-we-don-t-have-specifics-on-th

[2020-01-09 22:10] gewarren commented on #16608
Thanks @danmosemsft . I'll plan not to add them for now, and in fact I'll remove the two I did add just so we're consistent. I'll also add a link to the binary serialization section you mentioned.

[2020-01-09 22:46] #16608 closed

[2020-01-09 22:49] mairaw commented on #16608
Good to know when we go to document the exceptions in the API docs too.

[2020-01-09 23:42] luisquintanilla commented on #16593
Hi @sunitjoshi,

Thanks for your question. The short answer is yes. You can see this sample from the [dotnet/machinelearning-samples repo](https://github.com/dotnet/machinelearning-samples/blob/master/samples/fsharp/getting-started/BinaryClassification_SentimentAnalysis/SentimentAnalysis/SentimentAnalysisConsoleApp/Program.fs). Although the sample is not specific to the tutorial, it shows what the

[2020-01-09 23:42] #16593 closed

[2020-01-10 02:03] #9496 closed

[2020-01-10 02:03] #16162 closed

[2020-01-10 04:49] MSDN-WhiteKnight opened #16616 "Threading docs: de-emphasis Thread.Abort"
The current documentation makes one think as if Thread.Abort is a preferred option to stop threads and mentions cooperative cancellation only as secondary choice. For example:

https://docs.microsoft.com/en-us/dotnet/standard/threading/using-threads-and-threading

https://docs.microsoft.com/en-us/dotnet/standard/threading/destroying-threads

However, Thread.Abort is not supported on .NET Core, and

[2020-01-10 07:11] mairaw commented on #16448
Let me discuss this with @BillWagner and get back to you!

Just for context, the way it used to work before is that the Visual Studio IDE would call the F1 service URL (I'll need to get an older version of VS to test exactly what it looked like but it would be something similar to this):
`https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(CS{ERR_NUM});k(DevLang-csharp)&rd=tr

[2020-01-10 07:31] ChrisMaddock commented on #16448
Sounds good, thanks Maira. 😊

[2020-01-10 08:57] codemaker opened #16617 "Do I have to refactor the private methods to support unit testing?"
This is regarding "Validate private methods by unit testing public methods" section.

if we don't test private methods then how do I reach my code coverage and how do I make sure private method works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51947dc8-9ae8-21fa-13db-a7ffb3f9bc0e
* Version Independent ID: be661bf5-

[2020-01-10 08:57] sonnemaf opened #16618 "String interpolation can cause boxing which can be avoided using ToString()"
The following code causes boxing of the 'salary' value type.

[code]

Boxing is evil because it is “slow”. It creates a reference type (the boxed value) which the garbage collector has to clean up (which is also “slow”).  You can easily do this by adding a ToString().
[code]

I think this should be mentioned in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-01-10 09:58] AnanthaSubramanian opened #16619 "Runtime Requirement"
Could you please document if there are runtime available and what runtime is required for successful compilation of analyzer source code. This I am asking from perspective of what is required on build server for building the source code as nuget package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4bd716a-906d-983b

[2020-01-10 10:04] alexis-landrieu-avanade commented on #13365
```IsPublishable``` worked for me as well, thanks. I just share a quick example with _MyUnitTestProject.csproj_ (that could help someone):

[code]

[2020-01-10 12:48] CeciAc opened #16620 "Fixed code"
@sulmar commented on [Fri Jan 10 2020](https://github.com/dotnet/docs.pl-pl/issues/199)

The above code contains errors that prevent compilation.

Working code:

[code]

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: f863deb4-365b-2acf-257d-89cde071f109
* Version Independent ID: 42050e4e-b1c1-08d8-faf

[2020-01-10 13:04] atifaziz commented on #16553
Thanks @JeremyKuhne but didn't you just contradict yourself by saying it isn't explicit by-design yet it is? That's how I read it, but re-reading, did you perhaps mean to say is it by-design by virtue of relying on [`EnumerationOptions.IgnoreInaccessible`](https://docs.microsoft.com/en-us/dotnet/api/system.io.enumerationoptions.ignoreinaccessible?view=netcore-3.1#System_IO_EnumerationOptions_Ignor

[2020-01-10 13:07] atifaziz commented on #16553
So do you mean that it isn't explicitly by-design because there is this work pending?

Isn't that a problem with not disposing anything that holds on to an unmanaged resource? Won't the handle eventually get closed during finalization?

[2020-01-10 13:26] KarenTazayan opened #16621 "More courses about Domain-Driven Design"
There are some great courses in Pluralsight by Vladimir Khorikov.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f07c375-8e96-f4ab-e8d6-30c3553ecb85
* Version Independent ID: 421277e8-7085-809b-9e13-1061008470d8
* Content: [Tackling Business Complexity in a Microservice with DDD and CQRS Patterns](https://docs.microso

[2020-01-10 15:14] BillWagner commented on #16617
@codemaker that's a great question. Any `private` method should be, directly or indirectly, called by an accessible method defined in class. By "accessible method", I mean a `public` method, or a `protected` method that would be called by derived classes.

Following that logic, I should be able to write unit tests that *do* access all the `private` methods. By creating enough tests on the public (

[2020-01-10 15:14] #16617 closed

[2020-01-10 15:51] vladd opened #16622 "Document changes in System.Random in .NET Core"
**Issue description**

There is a substantial change in the behaviour of `System.Random` in .NET Core. This change is however not reflected in the documentation, so the claims provided by the documentation are incorrect.

**Target framework**

- [x] .NET Core 2.x, 3.x
- [ ] .NET Framework
- [ ] .NET Standard

**Details**

The behaviour of the `System.Random` class in .NET Framework is that the par

[2020-01-10 16:44] scottaddie commented on #16621
@nishanil I assume DDD will receive some coverage in the proposed Microsoft Learn learning path for microservices. Thoughts?

@KarenTazayan Is there specific DDD content that you hope to see? In the meantime, I also recommend the Pluralsight DDD course from @julielerman.

[2020-01-10 16:45] BillWagner commented on #16618
Thanks for pointing this out @sonnemaf

You are correct, this will box. It should be mentioned, and developers can weigh the convenience against performance based on good engineering measurements. I've added this to our backlog to update when we next update this article.

I've also added the "up for grabs" label, in case you or other community members want to submit a PR to address this issue.

[2020-01-10 16:48] BillWagner commented on #16619
Thanks for writing this @AnanthaSubramanian

I think we have some of the information you're seeking, but I'd like some clarification on where you need more references:

Is it to build (compile / package) an analyzer in your CI system?
Is it to create a NuGet package for your analyzer?
Is it to run analyzers delivered as NuGet packages as part of your CI build for other applications?

Let me know w

[2020-01-10 17:36] dsplaisted commented on #16481
@carlin-q-scott Yes, the latest SDK should be able to build apps targeting previous versions of .NET Core.  Can you file an issue with details about how it's failing?  If the issue is Docker-specific, I think the place to file an issue is here: https://github.com/dotnet/dotnet-docker/issues

[2020-01-10 17:59] dannyagle commented on #16335
Still awaiting a resolution to this problem.  3 weeks seems more than enough time to ask your coworkers.

[2020-01-10 18:07] vladd commented on #16618
@sonnemaf But won't explicit `ToString()` create an extra intermediate string? So we have a boxed double vs extra string, no gain at all.

[2020-01-10 20:16] rjrjack commented on #16373
 

That is the exact behaviour I experienced. Thank you for explanation.
 

Sent: Monday, January 06, 2020 at 6:21 PM
From: "Andy De George" <notifications@github.com>
To: dotnet/docs <docs@noreply.github.com>
Cc: rjrjack <rjrjack@mail.com>, Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Console.Write requires a Console.WriteLine (#16373)

Visual Studio reads the console output but

[2020-01-10 20:44] carlin-q-scott commented on #16481
@dsplaisted Before I create a separate issue for the SDK, can you tell me if the older SDK or runtime is required to build the app targetting the older .NET Core version?

I suspect the Docker image is not including the older runtime, and that may be the source of my issue.

[2020-01-10 21:23] mairaw commented on #2452
I think this experience has improved with the changes we've been making to the site, so closing.

But please let us know if there's something else that should be improved @svick.

[2020-01-10 21:25] gewarren commented on #16616
@MSDN-WhiteKnight This sounds like a good idea to me.

[2020-01-10 21:31] gewarren commented on #16622
@vladd The section you pointed does seem to point out that the problem only arises on .NET Framework:

"However, on the .NET Framework only, because the clock has finite resolution, using the parameterless constructor to create different Random objects in close succession creates random number generators that produce identical sequences of random numbers."

"To avoid this problem, create a single

[2020-01-10 21:32] gewarren commented on #16622
@mairaw Should I transfer this issue to the API docs repo? Or since the information is already there, should we just close it?

[2020-01-10 21:32] mairaw commented on #3480
Resolving this one. I coordinated a vendor task last year for this one to use friendly image names and add alt text across our docset, including the e-books.

[2020-01-10 21:32] #3480 closed

[2020-01-10 21:34] mairaw commented on #4698
Changing to doc enhancement since we need to make the changes to the content itself to improve the docs experience. Otherwise, it's considered an engineering task, which is not the case here.

[2020-01-10 21:37] mairaw commented on #5440
I'm closing this since this culture issue is being tracked by https://github.com/dotnet/try/issues/168.

[2020-01-10 21:37] #5440 closed

[2020-01-10 21:40] mairaw commented on #2452
Reopened by mistake.

[2020-01-10 21:40] #2452 closed

[2020-01-10 21:47] tarapoto2006 commented on #6196
I couldn't figure out how to get it running either until I added the Path variable for the C# compiler to my user Path environment variable. I naively assumed that because Visual Studio 2017 was installed that the Path variable would have been set already so I could just use it from the command line. I found the compiler under "C:\Windows\Microsoft.NET\Framework64\v4.0.30319" and added that to my

[2020-01-10 21:48] tarapoto2006 commented on #6196
Apparently I can't edit my post...I forgot to say, after you save these changes, restart your command console and try to compile again.

[2020-01-10 21:59] mairaw commented on #16622
I'll transfer. The information seems a bit hidden after the code block.

[2020-01-10 22:04] mairaw commented on #6947
This issue was moved to MicrosoftDocs/feedback#2368

[2020-01-10 22:04] #6947 closed

[2020-01-10 22:09] #8521 closed

[2020-01-10 22:11] mairaw commented on #12520
Did you find out anything about this @Thraka?

Tagging @gewarren who owns these now.

[2020-01-10 22:18] mairaw commented on #14517
This issue was moved to MicrosoftDocs/feedback#2369

[2020-01-10 22:18] #14517 closed

[2020-01-10 22:21] mairaw commented on #14688
Closing this one then since it's an engineering bug and we have a tracking issue already.

[2020-01-10 22:21] #14688 closed

[2020-01-10 22:27] gewarren commented on #12520
I'll try wrapping it in this: https://review.docs.microsoft.com/en-us/help/contribute/markdown-reference?branch=master#mx-tdbreakall

[2020-01-10 22:28] Thraka commented on #12520
I dont think so. I searched and didn't find much. @gewarren when you just said that, it reminded me of a bug or table fix that would make these better. I'll search my email.

[2020-01-10 22:30] mairaw commented on #11650
This has been fixed. Closing.

[2020-01-10 22:30] #11650 closed

[2020-01-10 23:11] Thraka commented on #16373
@gewarren I think we can close this.

[2020-01-10 23:12] #16373 closed

[2020-01-10 23:17] AnanthaSubramanian commented on #16619
Build an analyzer in CI system.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bill Wagner <notifications@github.com>
Sent: Friday, January 10, 2020 10:18:45 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Anantha <anantha.subramanian@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Runtime Requirement (#16619)

Thanks for writ

[2020-01-10 23:17] Thraka commented on #16553
@atifaziz I think what he's saying is that by using `EnumerationOptions.IgnoreInaccessible` you enable the ability to avoid the exception. Your suggestion does work, but it's not the intended behavior. Using `foreach` automatically disposes the object, so if you use `GetEnumerator`, you'll have to do that yourself.

I think what we should do is add a new section covering this scenario and detail u

[2020-01-10 23:32] mairaw commented on #5850
This issue was moved to MicrosoftDocs/feedback#2370

[2020-01-10 23:32] #5850 closed

[2020-01-11 00:05] gewarren commented on #16616
Related to #15878

[2020-01-11 00:09] gewarren commented on #15813
@PriyaPurkayastha We have the removed types/controls listed [here](https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#removed-controls). Should we add the removed members on Control and descendant types to that same breaking change entry?

- Remove the following members in `AxHost` type:
	* `ContextMenu ContextMenu { get; set; }`
	* `event EventHandler ContextMenuChanged`
- Remove

[2020-01-11 00:44] PriyaPurkayastha commented on #15813
Yes, I think the same breaking change entry may be updated but Winforms team (@RussKie @OliaG) can decide if they want a separate entry for it.
@RussKie to be clear, we are saying that documentation will need to be updated in two locations - breaking change (https://github.com/dotnet/docs/blob/master/includes/core-changes/windowsforms/3.1/remove-controls-3.1.md) and API documentation that Maira is

[2020-01-11 00:59] gewarren commented on #16392
@Thraka There's a specific template for breaking change issues. It's a process that Ron established with the product team. Usually someone from the product team fills out the [template](https://github.com/dotnet/docs/issues/new?template=doc-breaking-change.md). At that point, I can document it here. I'd then mark this issue as a dupe of that issue.

[2020-01-11 01:40] #12520 closed

[2020-01-11 02:18] powerlord opened #16634 "Missing C# 8 documentation"
C# 8 adds an additional return type: IAsyncEnumerable&lt;T&gt; as long as you're using yield return instead of just return.

See the "What's new in C# 8" documentation under Asynchronous Streams: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#asynchronous-streams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-01-11 03:00] mairaw commented on #15813
The API documentation was already sorted out earlier this week.

[2020-01-11 06:40] vamsitp opened #16638 "The "sample output:" under WriteOnceBlock sample-code is incorrect. It should print `Message 1` instead of `Message 2`"
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/dataflow-task-parallel-library#writeonceblockt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c0b7-088f-5b42-4803-6d00eec086c0
* Version Independent ID: dbd55321-1f94-2141-7e33-8e046fdfa48f
* Content: [Dataflow (Task Parallel Library)](https://do

[2020-01-11 13:02] svick commented on #16618
Note that which approach allocates less changes depending on the framework you're using. On newer versions of .Net Core, if you box the `double`, the framework can produce the final string without allocating an intermediate string for the number. This means if you add a call to `ToString()`, you'll end up allocating more.

To see this, consider the following BenchmarkDotNet code:

[code]

It produ

[2020-01-11 14:38] Youssef1313 commented on #16638
You may get **any** of the three messages, it just depends on your luck. That's why it's said "**Sample output**".

[2020-01-11 15:18] #14446 closed

[2020-01-12 17:00] Youssef1313 opened #16643 "Idea: Articles about SOLID principles"
SOLID principles is one of the fundamental concepts in any OOP language. I'd expect to see articles about the 5 principles in the documentation.

[2020-01-12 17:06] nicoleta-scrimint opened #16644 "Test void methods and verify mock method calls"
Hi,

I would like to ask you how would you assert on a void method?
Would you verify that the mock methods are called with some expected data?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51947dc8-9ae8-21fa-13db-a7ffb3f9bc0e
* Version Independent ID: be661bf5-6f6e-cd18-344b-253edf5751ae
* Content: [Best p

[2020-01-12 20:56] lpedromachado opened #16645 "Clarification asked"
Please clarify this sentence:
"You have everything ready for breakfast at the same time except the toast."

---
#### Detalhes do Documento

⚠ *Não edite esta secção. É necessário para a ligação de problemas docs.microsoft.com ➟ GitHub.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs

[2020-01-12 22:09] RussKie commented on #15813
I have a split mind about updating the breaking changes page. Personally I think the absence of members can now be easily inferred and looked up in the docs. Previously it wasn't the case.
Happy to send a PR with an update if you think it is worth adding.

[2020-01-12 23:08] brianjenkins94 opened #16646 "What is an "Assembly qualified delegate type name"?"
Does this provide me a way to specify the function signature of the C# method?

What would an example of this parameter look like?

https://github.com/dotnet/samples/blob/master/core/hosting/HostWithHostFxr/src/NativeHost/nativehost.cpp#L104

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83da7030-b5f1-72ad-71f6-424ff45

[2020-01-13 01:25] Entomy commented on #15845
I see a lot of these talk about what the thing is and why it was created, but not really driving home the point of why it needs to be used. I do a lot of text processing and have seen so many incorrect algorithms because of misunderstandings that I think I have a good example to consider adding.

Edit-distance algorithms like Hamming and Levenshtein are particularly problematic when implemented wi

[2020-01-13 04:08] jpierson commented on #16105
This looks like a related discussion in this past merge request.
https://github.com/dotnet/samples/pull/1418

[2020-01-13 04:10] jpierson commented on #16105
@Thraka, is there any issue or PR that I could follow regarding the restructuring plans you mentioned above or are these discussion outside of GitHub as of now?

[2020-01-13 04:22] Mandated opened #16647 "Small error"
Right under the first example it states: "The name of the struct must be a valid C# identifier name."  It seems that struct should be replaced with interface by the context of that paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e982a51-097f-688f-710c-1dfcf313da5e
* Version Independent ID: 8691f826-62cb-da0a

[2020-01-13 05:13] cartermp commented on #16335
@dannyagle The rationale for why a default language version is documented, as are workarounds. To the question of why one cannot toggle something in the UI that used to be toggle-able, the answer is that it was a deliberate product change to support how C# is evolving. If the stated workarounds aren't working for you, please do file an issue because that would indicate a product bug that needs res

[2020-01-13 06:01] Youssef1313 commented on #16647
I've opened #16649 to fix it.

[2020-01-13 07:13] WhitWaldo opened #16651 "Possibly incorrect NuGet package referenced"
Example 1 indicates contains the following text:

"If you get the build error "The name 'ZipFile' does not exist in the current context," add a reference to the System.IO.Compression.FileSystem assembly to your project."

NuGet does not contain a Microsoft-published package titled System.IO.Compression.FileSystem, but there's one with a description that sounds similar to the intended goal here cal

[2020-01-13 08:47] sonnemaf commented on #16618
@svick I didn't know allocation was so much improved in 3.1. The performance is still at least 25% improved, in all frameworks.

[2020-01-13 08:54] atifaziz commented on #16553
@Thraka Thanks for clearing that up. I was hoping that the simpler APIs support the behaviour (directly or indirectly) so that .NET Standard libraries can rely on it. `EnumerationOptions.IgnoreInaccessible` requires using the new API that besides missing documentation right now (except for an [archived blog entry](https://docs.microsoft.com/en-us/archive/blogs/jeremykuhne/custom-directory-enumerat

[2020-01-13 09:03] KarenTazayan commented on #16621
@scottaddie yes, [Domain-Driven Design in Practice
by Vladimir Khorikov](https://app.pluralsight.com/library/courses/domain-driven-design-in-practice/table-of-contents).

[2020-01-13 09:28] nishanil commented on #16621
@scottaddie Yes, that's the plan.

[2020-01-13 10:56] NichUK opened #16652 "Shift Left/Right greater than size of underlying integer results in undefined behaviour"
According to the spec (and in practice) shifting left/right greater than the number of bits in the underlying integer results in strange results, rather than the 0 that you might expect. It would be useful if this page called that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b8f7c2-379e-7876-0d36-25b06a294baa

[2020-01-13 11:02] pkulikov commented on #16652
@NichUK could you please provide an example of such a behavior

[2020-01-13 11:23] pkulikov commented on #16652
Currently, the *actual* number of bits to shift is described in the article in this section:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/bitwise-and-shift-operators#shift-count-of-the-shift-operators

[2020-01-13 12:59] DavidThi808 opened #16653 "Analyze Project Portability reports false positives"
The tool reports the following as not supported in .NET Core 3.0

M:System.IO.FileStream.#ctor(System.String,System.IO.FileMode,System.Security.AccessControl.FileSystemRights,System.IO.FileShare,System.Int32,System.IO.FileOptions)
M:System.IO.FileStream.#ctor(System.String,System.IO.FileMode,System.Security.AccessControl.FileSystemRights,System.IO.FileShare,System.Int32,System.IO.FileOptions,Syste

[2020-01-13 15:27] BillWagner commented on #16652
@NichUK Have you checked the text in the preceding comment? I think the linked reference addresses your concern.

I believe this can be closed as addressed, I'll close it, but if you think there should be more clarification, reopen it and add your thoughts.

[2020-01-13 15:27] #16652 closed

[2020-01-13 15:29] #16647 closed

[2020-01-13 15:31] BillWagner commented on #16645
Can you add a bit more context to your question @lpedromachado? I'm not sure what needs clarification here.

[2020-01-13 15:36] BillWagner commented on #16634
thanks for pointing this out @powerlord

I've added this to our next sprint, as we continue to update our content for all the C# 8 features.

[2020-01-13 15:43] jpreese commented on #16644
There are two ways I see approaching testing `void` methods.

1. If your `void` method is doing more than one thing, you could split it up into more methods and have those methods actually return data and test that its coming back as expected. Maybe you have a void that takes in data, performs some transformation, and then adds to a database. Take the transformation out, test that result, then don

[2020-01-13 16:11] #16616 closed

[2020-01-13 16:20] dsplaisted commented on #16481
@carlin-q-scott You shouldn't need the older SDK.  The older runtime should not be required to build the app, but will generally be required to run the app.

[2020-01-13 17:44] gewarren commented on #16653
I think this issue should be transferred [here](https://github.com/Microsoft/dotnet-apiport/issues). @mairaw Is that correct?

[2020-01-13 18:34] podarok commented on #16540
We have a team of translators for the Drupal.
If you need help, let us know

[2020-01-13 18:42] JasonCard commented on #16540
@podarok Thank you, that's good to know.

[2020-01-13 19:15] briacht opened #16654 "Add ML.NET doc to explain GPU set up for training in Model Builder"
-It's a really complicated process to set up GPU correctly for image classification training in Model Builder. We don't have anything in our own Docs to help users with this, and we'd like to link users from Model Builder to a Docs page (maybe Model Builder > How To guide?) that can walk them through the process.

The main available info for this is in the repo below, but it there's not enough det

[2020-01-13 19:50] NichUK commented on #16652
Thanks Bill, I hadn't noticed the section at the bottom of the document. It might be sensible to move it directly adjacent to the shift left/right sections, as it's important information which should really be read as part of those sections.
Also, since it's a potential pain point if it's missed, personally I'd pull it out and make the meaning a little more obvious, but I agree that there is suffi

[2020-01-13 19:53] Thraka opened #16655 "breaking change with core 3.0 and vb.net splashscreen/about forms"
## VB.NET WinForms apps ported to .NET Core 3.0/3.1 that use the splash/about forms won't compile

Visual Studio contains VB.NET specific WinForms templates for a `splashscreen` and `about` form. These templates use the use the `My.Application.Info` object (From the [Microsoft.VisualBasic.ApplicationServices breaking change](https://docs.microsoft.com/en-us/dotnet/core/compatibility/visualbasic#ty

[2020-01-13 19:54] Thraka commented on #16392
@paul1956 @gewarren I filed #16655 to cover the breaking change aspect. I also included code that users can copy\paste over the code that was generated by the templates.

[2020-01-13 20:12] pkulikov commented on #16652
@NichUK what do you think of changes in #16656? Rather than moving the section, I've referenced it from the beginnings of the shift operator sections.

[2020-01-13 20:43] tdykstra commented on #16422
@MelbourneDeveloper You're correct, the way this article is written is misleading. I'm flagging it as a doc bug for correction.

[2020-01-13 20:58] #16332 closed

[2020-01-13 21:08] tdykstra commented on #16638
@Youssef1313 Thanks for the explanation. It might help to include that explanation in the doc, so I'll leave this issue open as a reminder to do that.

[2020-01-13 21:10] carlin-q-scott commented on #16481
I've troubleshot the issue some more and it seems to be an issue with ASP.NET 2.2. It tried to find the 2.0.9 SDK for some reason while generating code, but throws an error saying it can only find the 3.1 SDK

[2020-01-13 21:10] #16481 closed

[2020-01-13 21:14] carlin-q-scott commented on #16481
I found an issue tracking this for asp.netcore: https://github.com/dotnet/aspnetcore/issues/16816

[2020-01-13 21:16] tdykstra commented on #16643
Given that these are general concepts that apply across the board to OOP in general, aren't they covered adequately elsewhere? Are they needed in the .NET documentation set?

[2020-01-13 21:18] gewarren commented on #16655
@PriyaPurkayastha Does this look good to you? Seems like we might need someone to fill in the "reason for change" section.

[2020-01-13 21:50] paul1956 commented on #16655
The Title above will not give the same title that Framework gives. In Framework the Title is a field the developer enters in a textbox in Visual Studio under Project/AssemblyInfo and is designed to be human readable. In WinForms the Field is no longer there, the place you enter Assembly information has moved and Title was deleted. There may be things in the Properties/Project that could be used as

[2020-01-13 21:55] paul1956 commented on #16392
I have commented there and will close this. Your solution will change again in Core 5.0 when a compatible AssemblyInfo comes back and the original code will work except for having a correct Title and covered https://github.com/dotnet/winforms/issues/2637.

[2020-01-13 21:55] #16392 closed

[2020-01-13 21:56] tdykstra opened #16657 "Updates to Migrate from Newtonsoft.Json doc"
From comments in the PR that created the doc:

* [Add stream sync to async examples](https://github.com/dotnet/docs/pull/16225#discussion_r362890266)
* ~~[More quoted number examples](https://github.com/dotnet/docs/pull/16225#discussion_r362136834)~~[5.0 feature](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to?pivots=dotnet-5-0#allow-or-write-numbers-in-quote

[2020-01-13 22:00] paul1956 commented on #16655
A compatible version that works with the existing Winforms and 5.0 is passed below, it does not fix title issue but uses a different field to get something human readable.
[code]

[2020-01-13 22:05] tdykstra opened #16658 "Convert snippets to use new syntax in System.Text.Json docs"
The new syntax is documented in [this internal document](https://review.docs.microsoft.com/en-us/help/contribute/code-in-docs?branch=master).

Related to #12207

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa0ecfe-59eb-506f-93c6-bd0883acdb84
* Version Independent ID: fd70dc81-79db-0183-af38-7b8059bbe050
* Content: [

[2020-01-13 22:08] tdykstra opened #16659 "Use Try.NET where possible in System.Text.Json docs"
Investigate possibility of making code snippets interactive in the System.Text.Json docs.

Related to #12207

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa0ecfe-59eb-506f-93c6-bd0883acdb84
* Version Independent ID: fd70dc81-79db-0183-af38-7b8059bbe050
* Content: [Serialize and deserialize JSON using C# - .NET](http

[2020-01-13 22:14] tdykstra opened #16660 "Make the polymorphic converter example multi-level"
See [this comment thread](https://github.com/dotnet/docs/pull/16225#discussion_r363993716) in the PR that created the Migrate from Newtonsoft.Json doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de37d79-751f-e372-e866-efde28f4908c
* Version Independent ID: 678c4f23-764a-7ccd-0d6d-159a30957477
* Content: [How to wr

[2020-01-13 22:16] Thraka commented on #16569
Thank you for the feedback. When we get to updating this soon, I'll put a sentence in each that describes that the sdk = developing+running apps and the runtime = running apps.

[2020-01-13 22:18] Thraka commented on #16651
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2020-01-13 22:40] PriyaPurkayastha commented on #15813
Thanks @mairaw
@RussKie please submit a PR for these changes.

[2020-01-13 22:44] tdykstra commented on #16299
What to do about this article is discussed in #9547

[2020-01-13 22:46] PriyaPurkayastha commented on #16655
@merriemcgaw Can someone from your team help review this breaking change?

[2020-01-13 22:52] anandkulkarnisg opened #16661 "improvements to install steps."
replace this
sudo wget -q -O /etc/yum.repos.d/microsoft-prod.repo https://packages.microsoft.com/config/fedora/30/prod.repo
with the below.
dnf config-manager --add-repo https://packages.microsoft.com/config/fedora/30/prod.repo
It is a better practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e656d98-d9c6-3feb-c

[2020-01-13 22:56] Thraka commented on #16375
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

The links to the sample

[2020-01-13 22:59] Desires01-dev commented on #16659
String array Doc Hub Gernal label iOS 2 speed processor 11min slow but London Tortno Overstock flow I made wee Google news luptcha Qrbarcodes express shopping explore Porn hub redtube8 bizzare Gcloud Mackintoch family global jams network marketing Gmarket Gcloud G-suites GitHub Android studio Owners Victor Perez Garza made easy for contribute money platform if working Doc Hub,so build easy I have

[2020-01-13 23:10] mairaw commented on #8038
@HongGit can your team look at this issue?

[2020-01-13 23:11] mairaw commented on #9658
@natke can you look at this issue for the ML.NET API docs? It seems the API doesn't exist anymore.

[2020-01-14 00:34] Youssef1313 commented on #16643
There is an article on polymorphism for example, which is a general concept too. So, I thought it might be good to have some basic idea on SOLID too.

[2020-01-14 00:52] mairaw commented on #16643
I agree with @tdykstra that this doesn't seem something we should cover in the .NET docs. @BillWagner any thoughts?

[2020-01-14 01:03] mairaw commented on #10169
@HongGit can your team look at this issue?

[2020-01-14 01:07] mairaw commented on #10516
Thanks for your feedback @TRobins. This is in our backlog and we'll have to investigate what's going on.

[2020-01-14 12:50] AnanthaSubramanian opened #16667 "Custom Tags"
The last parameter in the constructor takes customTags but when I supply the value as "customTags: new string[] { "customtag" }" as parameter value, it builds however I do not see any custom tags in sonarqube added as - "customtag". I am using Roslyn sdk to create a plugin and deploy on to Sonarqube LTS 7.9.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-14 13:34] drk-mtr opened #16668 "[removed]"
[removed]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172f0b88-61f2-d631-478f-e88af9be1f7d
* Version Independent ID: c610685f-57a2-048d-8dfa-146e19943434
* Content: [Install .NET Core on Ubuntu 19.04 package manager - .NET Core](https://docs.microsoft.com/en-gb/dotnet/core/install/linux-package-manager-ubuntu-1904#t

[2020-01-14 16:13] LadyNaggaga commented on #9316
@karenpayneoregon  Thank you for the suggestion. Currently Try .NET only supports C#. However, the goal of Try .NET is to support more languages in the future. As we (Try .NET) begins to accept OSS contribution we might see VB support come through OSS contributions sooner.

[2020-01-14 16:58] Thraka commented on #13000
@mairaw @gewarren I was looking at this and I'm curious. Is it an accessibility issue when the next word after the emoji conveys the thought? I can understand if it's just ✔️ or ❌ without any other text, but when it's ✔️ CORRECT doesn't the **CORRECT** become the alt-text for a screen reader?