[2020-03-20 13:11] #17507 closed

[2020-03-20 16:09] GrabYourPitchforks commented on #17391
The point of the sample wasn't to demonstrate how to write a thread safe method. It was to demonstrate how to write a method that doesn't use the incoming Memory instance after returning. I think including a disclaimer (ostensibly because of the file system access) would complicate the sample and confuse matters.

[2020-03-20 16:37] Cyl18 commented on #17391
maybe my understanding is wrong... thanks

[2020-03-20 16:37] #17391 closed

[2020-03-20 17:55] #16569 closed

[2020-03-20 17:55] #16911 closed

[2020-03-20 17:55] #17408 closed

[2020-03-20 17:55] #17443 closed

[2020-03-20 17:55] #17504 closed

[2020-03-20 19:20] gewarren commented on #11065
The ask here is to clearly notate archived reference docs that are still current.

[2020-03-20 19:31] karelz commented on #17518
@storm999 why is it better - it is just code. This page has text.
Are any of the samples incorrect?
Or is it just personal preference to see full code vs. reading text?

[2020-03-20 19:48] SimpleSamples commented on #11065
Yes, if documentation is still current then it should not be called archived.

[2020-03-20 20:13] storm999 commented on #17518
full code is easier to understand for me. also easier for copy pasting.
In your page, i didnt understand what "connectDone" is even if you explained it verbally.

[2020-03-20 20:13] #17518 closed

[2020-03-20 20:25] karelz commented on #17518
@storm999 different people prefer different things - some prefer text explanations over longer code. The full code sample is linked, so all should be good IMO.

[2020-03-20 21:31] JeremyLikness opened #17526 "Orchestrators"
The section "what are the benefits of containers and orchestrators" doesn't really define or mention orchestrators. I think explaining what is meant and alluding more specifically to the orchestration benefits would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde870f6-e7e3-f7e7-0044-df7bc7097516
* Versio

[2020-03-20 21:33] JeremyLikness opened #17527 ""Stateless containers""
In the serverless definition it might be helpful to explain that unlike containers, the ritual of building an image and hosting a container is not necessary for serverless, i.e. you write the code and the trigger and it deploys without additional overhead or configuration. Otherwise it might be inferred you have to know/manage containers to run serverless.

---
#### Document Details

⚠ *Do not edi

[2020-03-20 21:35] JeremyLikness opened #17528 "When to use, not to use"
It might make sense to explain all cloud providers bill based on time and memory footprint, so it stands to reason that longer running and/or higher memory consumption workloads might not be a fit. Also important to note it's based on compute time, not "calendar time" as with things like durable functions a function might run over the course of days while waiting on asynchronous events but the com

[2020-03-20 21:38] JeremyLikness opened #17529 "Worker runtime"
This doc seems to imply there are more available runtimes than the 3 listed: https://docs.microsoft.com/azure/azure-functions/functions-versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae537e7-1e78-ce81-3107-19c07c04913e
* Version Independent ID: a6e0f4d9-a02d-c3da-6fb9-927edd6b2891
* Content: [Combining contai

[2020-03-20 21:40] JeremyLikness opened #17530 "ACR Tasks"
Since ACR is mentioned, it might make sense to mention the ability to do cloud builds, i.e. you don't even need Docker locally to create images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58cb5542-e346-415c-8ddc-e02a4369337d
* Version Independent ID: a8db0cc7-fd6f-2d33-7ec6-afd8f9982765
* Content: [Deploying contai

[2020-03-20 21:42] JeremyLikness opened #17531 "ACI for test only?"
ACI works great for containers that don't have long-running workloads, i.e. spin up to perform a task and then spin down. I wouldn't say they only are for testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd0826fc-2b90-ed45-df15-02931eafb092
* Version Independent ID: b63966c4-ec75-e8a3-bb2e-3046b93bbeb6
* Content

[2020-03-20 21:46] JeremyLikness opened #17532 "Title: gRPC instead of REST?"
The title says REST and gRPC but REST is only mentioned in the intro and the rest (pardon the pun) is gRPC. I think the title could better reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc86015f-c6c7-5fdc-ae0f-c69353afcb34
* Version Independent ID: 491d7006-ae8d-fb74-8b29-7e4b5031fcae
* Content: [REST and

[2020-03-20 21:52] JeremyLikness opened #17533 "Backplane/Microservices trust"
Might make sense to mention the difference between the identity of the user vs. the identity of backend services and how some services by virtue of being in the backplane that isn't accessible from the front-end might not need the same auth.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46bfeaca-da8e-2a4a-babf-f8a2915

[2020-03-20 21:54] JeremyLikness opened #17534 "Long "page""
It feels like this could be broken up into a few different pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8626fd64-2a32-4a87-3268-51df9a61e8ff
* Version Independent ID: 85cdc078-f5f9-670d-d5a7-8d1123239ab3
* Content: [Azure security for cloud-native apps](https://docs.microsoft.com/en-us/dotnet/architecture/clou

[2020-03-20 21:55] JeremyLikness opened #17535 "Book conclusion?"
It feels like we end abruptly with no wrap-up or summarization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa81c9f2-63af-3f51-9585-86fbdd9dfe32
* Version Independent ID: 81a92552-aebf-3704-315d-aa00d6894308
* Content: [Cloud Native Application Bundles](https://docs.microsoft.com/en-us/dotnet/architecture/cloud-nativ

[2020-03-20 23:14] robvet commented on #17532
Hey Jeremy.

Excellent feedback. We are making the change.

Would love any feedback from you.

Rob Vettor  | Principal Cloud-Native Application Architect
                      | ASD IP Architect
                      | CNCF (Cloud-Native Computing Foundation) Speaker Bureau<https://www.cncf.io/speaker/robvet/>
                      | Developer Advisory Services for Azure

[cid:image001.jpg@01D5FEE

[2020-03-20 23:26] tuttipazzo opened #17537 "Needs an additional step before installing .NET Core SDK"
[code]

[code]

_zypper looks for repos in /etc/zypp.repos.d so:_

[code]

_But if we tell zypper where to find the microsoft-prod.repo file:_

[code]

_Now we can refresh it:_

[code]

_And operations on pkgs in that repo can be used:_

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e0afd8-dbfd-171d-aef1-bbc3

[2020-03-20 23:35] tuttipazzo commented on #17537
rpm -ql packages-microsoft-prod.rpm
/etc/yum.repos.d/microsoft-prod.repo

tuttipazzo@cafe:/etc/zypp/repos.d # ls -litra /etc/yum.repos.d/microsoft-prod.repo
6817396 -rw-r--r-- 1 root root 219 Mar 20 16:19 /etc/yum.repos.d/microsoft-prod.repo

_zypper looks for repos in /etc/zypp.repos.d so:_

tuttipazzo@cafe:/etc/zypp/repos.d # zypper se dotnet-runtime
Loading repository data...
Reading installed

[2020-03-20 23:57] HappyNomad opened #17539 "Replace placeholder with actual spec"
I can't find this feature documented elsewhere.  Please fill in this placeholder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec6109e-cc53-d680-ff97-79f6c1330691
* Version Independent ID: 01fb2712-1de7-b9da-f62a-fd2513bbe3b4
* Content: [Unconstrained type parameter in null coalescing operator - C# 8.0 specification

[2020-03-21 04:53] NextTurn commented on #9744
@Thraka I should have raised this question eons ago: shall we consider using `{}` for placeholders in place of `<>`? Braces are used in XML docs (triple-slash comments) and often used in file names for generic type signatures (e.g. `List{T}`)

[2020-03-21 09:49] LambertWM opened #17543 "Use IDisposable prefix for methods that implement this interface?"
Wouldn't it be clearer (from an educational perspective, as well as from a readability perspective) if the IDisposable prefix was used for the Dispose( ) method, as in:

   // Public implementation of Dispose pattern callable by consumers.
   public void IDisposable.Dispose()
   {
      Dispose(true);
      GC.SuppressFinalize(this);
   }

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-21 09:54] LambertWM commented on #17543
minus the "public" :)

// implementation of Dispose pattern callable by consumers.
void IDisposable.Dispose()
{
    Dispose(true);
    GC.SuppressFinalize(this);
}

[2020-03-21 16:01] NextTurn opened #17545 "Update REST client tutorial?"
@BillWagner `System.Text.Json.JsonSerializer` is able to parse the timestamp string into a `DateTime` value, so no additional action is required.

https://github.com/dotnet/docs/blob/a87a04817a847efe4c64621529a60e1a8478a222/docs/csharp/tutorials/console-webapiclient.md#L358

[2020-03-21 17:09] cloudn9 commented on #9744
Thank you @NextTurn for that quesiton. I had some doubts while removing the <>s.

[2020-03-21 21:57] hoksource opened #17546 "Multiple output regression"
Do you guys have a multiple output regression? Lets say input is (x^0,...,x^n) output is (y^0,...,y^m), where the training table consists of (x^0,...,x^n,y^0,...,y^m, someother stuffs)

Or do you guys have matrix utilities like svd svm mat inverse etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 008a45d2-e86b-1ea9-e

[2020-03-22 00:48] KaleSurfer opened #17547 "Second example is blank"
It appears the code for Example 2  is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5323b38b-8dc5-8f50-f5e7-b58ca0e88ad7
* Version Independent ID: 3d9a83cd-98e3-fc6e-727b-32c8e9228c69
* Content: [Using Indexers - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/indexers/u

[2020-03-22 07:34] ChainReactive opened #17548 "Update .NET Native docs"
Whereas .NET Native itself is actively developed, these docs don't appear to be following suit.  They use old product names like Windows 8 and Windows Store apps.  I can replace those terms in my mind with Windows 10 and UWP apps, but I'm unsure how much I can trust the doc contents.

Currently, how reliable are these docs given their age?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-03-22 15:23] Peled-Zohar commented on #9547
I totally agree. Using a regular expression to validate the format of an email address means one of two things: Either your validation is incorrect, or your regular expression is so big and messy you'll have to spend a couple of hours just to understand what it is suppose to do. [There's an easier way](https://zoharpeled.wordpress.com/2019/11/26/validate-mail-address-format-the-easy-way/).

[2020-03-22 16:23] KevinCathcart commented on #14572
As of 6 days ago, the .NET Core templates are now published on nuget.org, for 2.1 and newer. It is not immediately clear to me if 1.x and 2.0 templates were deliberately not published, or if the old beta versions published under @sayedihashimi’s account are blocking their upload.

I also want to point out that issues #3178, and #5961 are essentially also requesting this same documentation, and sho

[2020-03-23 02:13] napalm684 opened #17552 "SSL Development"
This article feels incomplete.  We are pushing devs to work with SSL from the beginning yet all the above is http?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b69a4b5-2003-e7a5-97a3-59e3737ea1ef
* Version Independent ID: c8fefbe8-6f9b-209a-3563-2cb51384707c
* Content: [Development workflow for Docker apps](https://

[2020-03-23 06:34] sedlund opened #17553 "Suggestion: Change 'Register Microsoft key and feed'"
The use of the word Register is misleading and offputting.

---
### Register Microsoft key and feed
Before installing .NET, you'll need to:

* Register the Microsoft key.
* Register the product repository.
* Install required dependencies.
---

The use of the word Register is misleading and offputting.

Upon first glance of the document I thought I was going to be required to register a software pr

[2020-03-23 08:45] rjvdboon opened #17554 "link to "specification of the compatibility pack" is dead."
In the Package Contents section, in the sentence "For more information, see the specification of the compatibility pack." the link is dead. I get a 404 from github.
The correct link is https://github.com/dotnet/designs/blob/master/accepted/2018/compat-pack/compat-pack.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2020-03-23 08:56] Unders0n commented on #9929
can someone post such a code with expression builder please?

[2020-03-23 10:03] cosminiv opened #17555 "Please explain why it is recommended to target the lowest version possible"
This sentence seems counter-intuitive to me, could you please add some explanations about it?
"In general, we recommend you to target the lowest version of .NET Standard possible"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f73

[2020-03-23 14:13] aggieben opened #17557 ""Related Links" to modules corresponding to collection types are broken"
The F♯ core library reference is gone.  I opened an issue here: https://github.com/MicrosoftDocs/feedback/issues/2536

However, that also affects this page because links to the reference documentation are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0694330-a4e4-5a07-2b6b-8259b57e319a
* Version Independent I

[2020-03-23 14:39] pjt33 opened #17558 "Missing @"
In the `foreach` example:

    <ul>
    @foreach (var item in items)
    {
        <li>item.Text</li>
    }
    </ul>

it's necessary to change `item.Text` to `@item.Text` for the example to work as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c195c0-99f6-64f5-66a3-4e69109dc8ee
* Version Independent ID: 2

[2020-03-23 14:40] #17547 closed

[2020-03-23 14:42] BillWagner commented on #17545
That is a great suggestion @NextTurn Do you want to make this change? (If so, I'll assign it to you). If not, I'll address it shortly.

[2020-03-23 14:42] BillWagner commented on #17539
We agree @ChainReactive

We'll be updating these shortly.

[2020-03-23 14:44] NextTurn commented on #17545
@BillWagner OK I'll take it.

[2020-03-23 15:02] NextTurn commented on #17545
@BillWagner I took a look at the [response](https://developer.github.com/v3/repos/#response) format and didn't find any field that can't be directly parsed. Do we just end up with removing the whole two paragraphs?

[2020-03-23 15:13] Thraka commented on #17553
Hello! That's a great suggestion! I'll flag @dagood for some feedback on that suggestion

[2020-03-23 15:16] BillWagner commented on #17545
@NextTurn Yes, I like that plan. We should updated the code to match the updated application.

[2020-03-23 15:32] dagood commented on #17553
Yeah "register" raised an eyebrow for me as well early on. Technically you're registering the feed with the apt package management system, but doesn't leave a perfect first impression. "Add" plus the extra info about what's actually being done sounds good to me.

/cc @leecow @nakarnam @NikolaMilosavljevic @dleeapho

[2020-03-23 15:51] Thraka commented on #14572
Not sure where the ball was dropped originally, (i just think no one thought about using them in this way) but as part of my investigation on this issue I brought the fact that these missing nuget packages were a hurdle in addressing this scenario. So the team has been working on getting this packaged properly for NuGet and uploaded. I'm glad to hear it! I'll continue working on updating the docum

[2020-03-23 16:19] Thraka commented on #14572
@KevinCathcart Can you share where these packages are? I contacted the team and they said they're not published yet.

[2020-03-23 16:26] Thraka commented on #9744
I think having no special syntax is fine. The placeholders are usually in some sort of context that is talking about that specific feature or area of XML so it's easy to understand. I would just make sure that the placeholder uses `-` to connect words like `package-id` or `version-number`.

[2020-03-23 16:38] tdykstra commented on #17554
@rjvdboon Thanks for reporting that!

[2020-03-23 16:41] cloudn9 commented on #9744
Thank you @Thraka, so if in our case we have "previous value" it becomes "previous-value" right ?
It does not mean that the previous value should contain a - inside ?

[2020-03-23 16:49] leecow commented on #17553
LGTM

[2020-03-23 16:52] #17554 closed

[2020-03-23 16:57] Thraka commented on #9547
@Peled-Zohar Thanks. I think that using the `MailAddress` class is a great idea of an alternative. I think a simple regex and then a wrapper around this class would simplify this article and make it easy to understand and use.

[2020-03-23 17:04] pkulikov commented on #17539
@ChainReactive @BillWagner I believe this feature is already documented, but not in this placeholder.

For example, in the [feature proposal for `??=`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/null-coalescing-assignment):

AND

That change is also reflected in the [docs](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-c

[2020-03-23 17:07] #17558 closed

[2020-03-23 17:19] Thraka commented on #9744
Correct.

[2020-03-23 17:30] Thraka commented on #17537
@dagood do you prefer a ping or an assignment when I need you to be pulled in? 😄

[2020-03-23 18:56] Thraka commented on #17548
@ChainReactive I think this is highly related to #6068 which has a query out to the UWP folks to see if we should move these articles over there.

I'll close this issue. Thanks for filing it!

[2020-03-23 18:56] #17548 closed

[2020-03-23 19:01] gewarren commented on #17548
We are meeting in late April to discuss next steps for the .NET Native docs.

[2020-03-23 19:12] dagood commented on #17537
At a base level, this would be a bug with `packages-microsoft-prod.rpm`. These config packages are intended to be specific to a certain distro. I've confirmed that what I get when I download https://packages.microsoft.com/config/sles/15/packages-microsoft-prod.rpm does appear to target `\etc\yum.repos.d\`.

@tuttipazzo, what version of SLES are you using? Can you please show us `cat /etc/os-releas

[2020-03-23 21:17] gewarren commented on #17543
@LambertWM By adding the interface prefix to the method, you'd create an [explicit interface implementation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interface-implementation) (EII), and the Dispose() method would no longer be callable on members of the class. EII's can only be called by interface references. Adding @BillWagner who can correct me if I'm

[2020-03-23 21:35] gewarren commented on #17555
I think the key is this sentence: "The lower the version, the more platforms implement it.". This means that the lower the version of .NET Standard that you target, the more platforms your code can run on. For example, if your code targets .NET Standard 1.1, it can run on .NET Framework 4.5 and later and .NET Core 1.0 and later. But if you target .NET Standard 2.1, your code can only run on .NET C

[2020-03-23 21:58] IsaacLeeWebDev commented on #12432
One year later, and Visual Studio for Mac is still not in sync with the docs.

[2020-03-23 22:06] tuttipazzo commented on #17537
I have no problem with formatting to make it more readable.

So let's get SLES-specific here.  SLES12 is fine:

[code]

But SLES15 of that pkg is not:

[code]
Fixing the pkg is fine.

NOTE: As far as I know SLE15's zypper has not changed WRT to repos outside of /etc/zypp/repos.d ...

[2020-03-23 22:18] danzel opened #17570 "Sample is a dead link"
https://github.com/dotnet/samples/blob/master/snippets/standard/data/sqlite/InMemorySample/Program.cs

Looks like it did exist at one stage
https://github.com/dotnet/samples/commit/939a22570827f8c9fcf24acab28ccf75442e55f0#diff-93d46eb2e4a2862ff79e0e31074f8a9b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c8d1aa-2bc2

[2020-03-23 22:41] KevinCathcart commented on #14572
Strange.

https://www.nuget.org/packages/Microsoft.DotNet.Common.ProjectTemplates.2.1
https://www.nuget.org/packages/Microsoft.DotNet.Common.ProjectTemplates.2.2
https://www.nuget.org/packages/Microsoft.DotNet.Common.ProjectTemplates.3.0
https://www.nuget.org/packages/Microsoft.DotNet.Common.ProjectTemplates.3.1

all seem perfectly published to me.

The 2.0 and 1.x are not published (yet?).

Perha

[2020-03-23 22:51] dagood commented on #17537
Interesting, thanks for the extra info and digging into it. Definitely looks like a straightforward bug in the package. The packages.microsoft.com team maintains these configuration packages so we'll get them to fix it. (Unfortunately they have no public presence to file at directly.)

[2020-03-23 23:51] tuttipazzo commented on #17537
OK, for completeness sake, I spun up a sles15.sp1 VM:
[code]

[2020-03-24 00:43] #5742 closed

[2020-03-24 00:43] #15894 closed

[2020-03-24 02:49] tylerlittle commented on #15806
Make sure you are using `List<int>` and not `list<int>`.

[2020-03-24 14:00] Peled-Zohar commented on #9547
@Thraka  Since the MailAddress constructor validates the format for you, there really is no need for a regular expression at all - unless you have a performance-sensitive use case where a simple regex can save you from a lot of exception catching.

[2020-03-24 14:45] #16651 closed

[2020-03-24 14:57] #17545 closed

[2020-03-24 14:59] #17494 closed

[2020-03-24 15:35] #13877 closed

[2020-03-24 15:43] tdykstra opened #17575 "Finish transition to contributor guide site"
Complete transfer of styleguide folder to [Contributor Guide site](https://docs.microsoft.com/en-us/contribute/ )

* Delete docs from styleguide folder that were earlier added to Contributor guide site:
  * https://github.com/dotnet/docs/blob/master/styleguide/voice-tone.md
  * https://github.com/dotnet/docs/blob/master/styleguide/template.md
* Move the remaining styleguide folder doc to the Contr

[2020-03-24 15:52] brcaswell opened #17576 "Should remove or improve on the notion of this being a bot example and improve Test the application section"
This program echos arguments with console write.  At best, it's an example of Logging but is more like an example of ConsoleWrite.

also, why is there an unnecessary reference to an argument\command `botsay &lt;message&gt;` for usage?

Additionally, you should include\state the expectation of running those three Tests, and they should be three separate code snippets.

---
#### Document Details

⚠

[2020-03-24 15:56] #16291 closed

[2020-03-24 16:56] #14889 closed

[2020-03-24 17:02] curtnichols opened #17579 "Broken links"
Links to `Option` on this page are largely broken, and point to msdn.microsoft.com. They're returning the error message `Sorry, this page is unavailable. Please try again later.` Unclear whether it's temporary, but the reference to `msdn` rather than `docs` seems telling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-24 17:06] tdykstra commented on #17576
Thank you for the suggestions. The purpose of this tutorial is to show how to create and use a tool. Writing to the console is done here as a simple hello-world-type example to keep the program code simple so the tutorial can focus on what needs to be done for a tool.

The command with argument is an example showing the syntax to invoke the tool.

We don't typically split up consecutive CLI comman

[2020-03-24 17:30] tigerg2002 opened #17581 "No VB Examples on page"
Following the tutorial and on page "Test a .NET Standard library with .NET Core in Visual Studio". The page says that this can be done in C# or VB. I don't see a selection for VB code. The examples are all C#. I'm interested in VB so I guess the translation from C# to VB code is left up to the student.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-24 17:35] tdykstra commented on #17581
There's a language selector at the top of the page. Look to the right of the breadcrumbs and click the **^** symbol to the right of **C#** to switch to VB.

[2020-03-24 17:35] #17581 closed

[2020-03-24 17:42] #17543 closed

[2020-03-24 17:55] Thraka commented on #9547
The article is about how to use RegEx to validate an email. So it's either delete it or simplify it. 😄 However, RegEx email validation **is** something commonly searched for. So someone may find it useful. I think pointing out (1) simpler things to do, such as `MailAddress` and (2) having a simple regex, would improve the value of the article.

[2020-03-24 18:03] Thraka commented on #14572
Yeah, I'm wondering if as soon as the altered the project files to be compatible with NuGet (or something along these lines) this was incidentally automated.

I'll check with them. Thanks for the links.

[2020-03-24 19:05] rpetrusha commented on #9547
`MailAddress` is not a good alternative, @Thraka; see [#6620](https://github.com/dotnet/docs/issues/6620). Is this guidance still accurate, @davidsh?

[2020-03-24 19:32] JeremyCaney opened #17583 "Missing Documentation for PublishSingleFile property"
The [What's new in .NET Core 3.0](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0) document includes a section, "[Single-file executables](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables)", which provides basic instructions on using the `PublishSingleFile` property, either as part of the `dotnet publish` command (using `-p:Publi

[2020-03-24 19:58] #17431 closed

[2020-03-24 20:00] Thraka commented on #9547
Hi @rpetrusha !! 😄 The wrapper code for using `MailAddress` (to handle the exception and return true/false) could implement that logic to search for a space character.

[2020-03-24 20:35] DavidWBrooks opened #17585 "MSI must be run elevated"
At least on my Win10 system, double-click the MSI doesn't work. It must be run elevated (or from an elevated CMD prompt). I left this issue on github, but I don't think it was from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289d3b2b-8b21-d0a0-10fa-9a8b3fdb62ce
* Version Independent ID: 3145ef37-2a19-e3ca

[2020-03-24 20:42] LambertWM commented on #17543
Thanks, I happened to learn this after posting my feedback, but couldn't find a way to "undo" the post ;)

[2020-03-24 20:57] sfoslund commented on #17585
Since our installation instructions are located on the [releases page of our repository](https://github.com/dotnet/cli-lab/releases), I'm closing this issue in favor of [the one filed on our repo](https://github.com/dotnet/cli-lab/issues/133). I will reopen if that discussion results in a docs change.

[2020-03-24 20:57] #17585 closed

[2020-03-24 21:14] aggieben commented on #17199
It looks like this is still a good ways out - is there something we could have in the interim with regard to the core library reference, which currently exists nowhere?

[2020-03-24 22:00] akeeton commented on #17199
@aggieben Yeah, this is really rough.  I managed to follow your trail from https://github.com/dotnet/docs/issues/17557.  I just wanted to see the immutable Map docs :(

[2020-03-25 00:33] #13421 closed

[2020-03-25 04:57] kmuthukumar23 commented on #17495
Hi Guys,

Any suggestions? I am waiting on this. :(

[2020-03-25 05:06] karann-msft commented on #17495
@kmuthukumar23 - this is not a docs issue and sounds like product feedback. Please file an issue on the nuget/home repo - https://github.com/nuget/home/issues

[2020-03-25 11:18] TobiasKnauss opened #17591 "Please add the version numbers to the stupid update names"
Nobody knows what version the "november update" or "anniversary update" was. You have to look up at wikipedia for that: https://en.wikipedia.org/wiki/Windows_10_version_history
Please write 1511, 1607, an so on instead, or at least add these version numbers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8afd1f96-b008-

[2020-03-25 13:30] KalleOlaviNiemitalo opened #17592 "GetAwaiter is not enough for generalized async return types"
The listed requirements may suffice for an `await` expression, but they are not enough for defining an `async` function; the compiler will report error CS1983 unless the type also has an [AsyncMethodBuilderAttribute](https://docs.microsoft.com/dotnet/api/system.runtime.compilerservices.asyncmethodbuilderattribute) attribute.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-25 14:00] axhussain opened #17593 "How to use a Current User installation of the SDK instead of the Local Machine installation?"
I have a non-admin account on a PC which has the .NET Core 2.1 SDK previously installed. I have installed .NET Core 3.1 SDK using the Powershell install script into my user profile's AppData folder.

But when I try to debug an application in VS Code, it tries to use the 2.1 SDK, instead of my local 3.1 SDK.

I have a global.json file in the project folder and have set the Path and DOTNET_ROOT env

[2020-03-25 14:54] #17495 closed

[2020-03-25 15:05] BillWagner commented on #17592
Thanks for writing this @KalleOlaviNiemitalo

/cc @gafter This should also be part of the 7.0 spec updates for ValueTask and generalized async return types.

[2020-03-25 15:23] snuup commented on #15133
I have set

DOTNET_CLI_TELEMETRY_OPTOUT = 1

but running

dotnet -d

returns:

"Telemetry is: Enabled"

Lokks like you have that very very bad bug?

[2020-03-25 16:12] Thraka commented on #17593
@axhussain Sorry you're running into this problem. I think setting `DOTNET_ROOT` into the integrated terminal just sets that for any process you start within the terminal, not VSCode itself. However, the docs for [`DOTNET_ROOT`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet#environment-variables) specifies that it only applies to running .NET Core apps, so it may not apply to the SDK.

[2020-03-25 16:13] Thraka commented on #17591
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-03-25 16:15] Thraka commented on #17583
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-03-25 16:16] Thraka commented on #17570
The new link is `https://github.com/dotnet/docs/blob/master/samples/snippets/standard/data/sqlite/InMemorySample/Program.cs`

Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in

[2020-03-25 16:29] Thraka commented on #15133
@snuup Sorry you're having a problem. I checked and it seems to be working for me. If you're having a problem, I would file an issue in the https://github.com/dotnet/core repository.

[code]

[2020-03-25 16:32] axhussain commented on #17593
@Thraka thanks for replying. Yes, I have set the path as well. Interestingly enough, if I run cli commands from the integrated terminal it does use 3.1.

[2020-03-25 16:59] Thraka commented on #17593
1. What does your global.json contain?
2. What does your csproj contain?

[2020-03-25 17:19] Thraka commented on #17452
FYI The individual methods are links to the API reference. Each of the reference pages have examples.

These could easily be ported to this article to enhance the readability.

[2020-03-25 17:39] jagerschmidt opened #17595 "Request to add detail on the maximum limit of CASEs and efficiency."
I could not find this information.  What is the maximum limit to the number of CASEs that can be inside a single SWITCH block?  And what are the perfomance implications, if the maximum is large?  i.e.: dozens of Cases versus hundreds of cases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d9cc47-5caf-184a-0ad6-cb968

[2020-03-25 18:14] JeremyCaney commented on #17583
@Thraka: Oh, I really should have just started with that, and especially for such a small request! I've proposed that change. I'll be sure to just submit pull requests for small changes like this in the future, instead of cluttering up your issues.

[2020-03-25 18:29] #17583 closed

[2020-03-25 19:20] akshaybabloo opened #17597 "Steps to notarize"
It will be good to have the steps to get an application notarize

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab295263-1911-add9-0388-4d43a2ffcf3f
* Version Independent ID: cff6c791-597a-ab01-6c91-3c8d24cccdaf
* Content: [Working with macOS Catalina Notarization](https://docs.microsoft.com/en-us/dotnet/core/install/m

[2020-03-25 20:04] colbylwilliams commented on #7146
For people who are still having this issue, I was able to resolve by wrapping in quotes:
[code]

[2020-03-25 20:50] rrelyea commented on #7146
FYI @donnie-msft @aortiz-msft

[2020-03-25 20:57] robvet commented on #17451
Jester, thanks so much for your feedback. We will revisit that section and adjust accordingly based on your observations.

[2020-03-25 20:59] robvet commented on #15698
Getting back to this. Yes, you make good sense. Thinking about adding a paragraph that first concisely summarizes the characteristics of Cloud Native Apps. And, then follow it with the detail.

[2020-03-25 21:01] robvet commented on #14720
Hello @kkadir, great observation. We are about to release an update to the gRPC material that provides more detail in this area.

[2020-03-25 21:03] bdcoder2 commented on #9899
With regard to the G format specifier for VB - If you copy and paste the code, the following compiler errors will be displayed:

error BC30037: Character is not valid.
error BC30037: Character is not valid.

[2020-03-25 21:19] michael-hawker opened #17601 "Should update examples to use new C# invoke pattern that's clearer"
i.e. `ThresholdReached?.Invoke(this, e)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89598b6d-6319-fc9e-d7b7-3335f40e9506
* Version Independent ID: e074b827-7416-3c43-7fde-0244c61bb35c
* Content: [How to: Raise and Consume Events](https://docs.microsoft.com/en-us/dotnet/standard/events/how-to-raise-and-consume-event

[2020-03-25 22:45] cartermp commented on #17199
Unfortunately I don't know how long this will take. That said, I wasn't aware that the MSDN links were all dead. That shouldn't have ever happened, since internally we agreed to migrate but not immediately redirect until the migration was complete. I'll raise this over email.

[2020-03-25 23:32] gewarren commented on #17601
@michael-hawker Thanks for the suggestion!

[2020-03-25 23:47] gewarren commented on #17579
Interesting, pages like this are erroring too, even though they show in search results:

https://msdn.microsoft.com/visualfsharpdocs/conceptual/array.iter%5b%27t%5d-function-%5bfsharp%5d

Thanks for letting us know, @curtnichols !

[2020-03-26 02:50] akhelms opened #17602 "Unmanaged resources section is confusing"
&gt;Some objects reference unmanaged resources. Unmanaged resources are resources that aren't automatically maintained by the .NET runtime.

I think you need to be more explicit here that you are referring to garbage collection, as "resources that aren't automatically maintained" is so vague that it's almost impossible to understand the connection to GC if you aren't already familiar with it. This

[2020-03-26 05:02] Emeka-NMC opened #17603 "Suggestion For DateTime Offset"
[Suggestion To Add Unique Format-Specifiers For DateTime Offset]

DateTime-FormatString doesn't have unique characters that represents the _offset-hour_ and _offset-minutes_. Instead it uses the following format/convention:

| # | Offset Format specifier | Offset Format |
|:---|:---|:---|
| 1 | z | +-H  |
| 2 | zz | +-HH  |
| 3 | zzz | +-HH:mm  |

Can we create unique specifiers for offset-hour an

[2020-03-26 08:09] axhussain commented on #17593
global.json:
{
  "sdk": {
    "version": "3.1.102",
    "rollForward": "latestPatch"
  }
}

csproj (just a simple Console App):
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>

</Project>

[2020-03-26 08:31] axhussain commented on #17593
I have noticed that instead of just adding `%LocalAppData%\Microsoft\dotnet` to the end of the Path, if I completely rewite it removing `C:\Program Files\dotnet` from the Path then VS Code stops complaining about unresolved references and the red underlines disappear. But I am still unable to debug. :(

[2020-03-26 10:27] simonmcconnell opened #17607 "old msdn links are broken"
there are a few broken links: for Unchecked.defaultof, Array.zeroCreate and AllowNullLiteral

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae21b87-1505-41b6-8fc9-1cfa59c90ed5
* Version Independent ID: 514581e9-9a8d-3771-928a-5d079c809a42
* Content: [Null Values - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/lan

[2020-03-26 11:51] axhussain commented on #17593
On further examination it appears the problem is with the VSCode's OmniSharp extension, and not .NET Core, so I am closing this issue.

[2020-03-26 11:51] #17593 closed

[2020-03-26 12:39] BillWagner commented on #17595
@jagerschmidt The official specification does not declare a limit. There are logical limits based on the type used: If the expression is a `byte`, there are only 256 possible values.

My opinion is that you'll reach the limit of readability before you observe any performance issues.

/cc @jcouv @stephentoub  to check on any performance considerations.

[2020-03-26 15:05] rjdunnill-atwork opened #17609 "Typo in Regasm.exe (Assembly Registration Tool)"
[Enter feedback here]
Type: "If you use the /tlb option to registered a type library, you can use /tlb option with the /unregister option to unregistered the type library." "Registered" should be 'register."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63700a34-9f68-4f17-bfb6-21b1f5ee340c
* Version Independent ID: ee

[2020-03-26 15:54] tdykstra commented on #17609
@rjdunnill-atwork Thanks for reporting that. It will be fixed by #17611.

[2020-03-26 16:45] #17609 closed

[2020-03-26 16:53] Thraka commented on #17597
Thank you for the suggestion. I'll add a link to Apple's documentation.

[2020-03-26 16:55] Thraka commented on #17593
I was thinking that it may be the plugin. Perhaps it wasn't doing further searches for the appropriate SDK. Odd. Hope you get it fixed soon! Cheers.

[2020-03-26 17:01] rjdunnill-atwork commented on #17609
Thank you!

[2020-03-26 17:20] #16776 closed

[2020-03-26 17:22] TobiasKnauss opened #17612 "<inheritdoc> is missing in the "Documentation tag reference""
There page for &lt;inheritdoc&gt; is not linked in the "Documentation tag reference" section. Please add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5aa865-b9d2-e977-a272-3886aa0a1111
* Version Independent ID: 353b1c44-b90a-e5cc-a193-7b42ec714290
* Content: [Recommended tags for documentation comments - C# progra

[2020-03-26 17:57] Thraka commented on #17602
@akhelms Hi!

I wonder if adding a tiny clause at the end fixes that?

[2020-03-26 18:04] suttonb commented on #13821
@BillWagner if the code is in your samples repository that information would be helpful to put in the actual article instead of buried down in the comments section

[2020-03-26 18:08] #16968 closed

[2020-03-26 18:13] Thraka commented on #17603
Sorry, we're just documentation for how it currently works. You should make your suggestion at https://github.com/dotnet/runtime/issues. I'll move this issue there.

[2020-03-26 18:16] Thraka commented on #17603
This issue was moved to dotnet/runtime#34145

[2020-03-26 18:16] #17603 closed

[2020-03-26 19:06] michael-hawker commented on #4176
@mairaw @BillWagner any updates on fixing the support for this or the documentation?

[2020-03-26 22:42] michael-hawker commented on #17601
@gewarren of course, I was actually starting to try and update the sample directly, but it was harder to do on GitHub as they're spread out across multiple cs files. I'm not sure if they support batching for the quick edits yet, I'd have to dig further.

Do the samples get compiled during a PR CI build? I know that was the big move to separate them so they could be validated.

[2020-03-26 23:24] gewarren commented on #17601
@thraka is working on that, I think it is expected in the next couple weeks.

[2020-03-26 23:39] redmondgiant opened #17618 "Null conditional operator ?. needs explicit ValueType impact clarification"
### Null conditional operator ?. needs explicit ValueType impact clarification

The current docs have an aside following the example in the **Null-conditional operators ?. and ?[]** section following the example:

I suggest more explicit guidance for ValueType T comparisons, lifted up into the main part of the explanation of the section:

Examples:
[code]

I realize you can make the transitive arg

[2020-03-27 03:03] dorfire opened #17620 "How can I specify the --launch-profile, or hosting environment name, to `dotnet test`?"
Like `dotnet run` has --launch-profile - can the same be achieved with `dotnet test`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.microsoft.com/en-us/dotne

[2020-03-27 04:06] fowl2 opened #17621 "Unavailable Technologies incomplete"
Eg.  This page doesn't list Workflow Foundation or WCF

WCF is available as part of the [Windows Compatibility Pack](https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack) - although I doubt it's a complete drop-in replacement as app.config is gone, etc.

Workflow is just gone though as far as I can tell.

Additionally, the second paragraph is obsolete as [no more Framework APIs

[2020-03-27 04:33] ErnestCook opened #17622 "Unclear example"
Because it adds too many new components, this code just made me create my own sample to understand
  Dim i As String
  For Each i In [Enum].GetNames(GetType(flavorEnum))
      MsgBox(i)
  Next
Better would be
debug.print( [Enum].GetNames(GetType(flavorEnum))(2))
returns
"sour"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-27 07:20] pkulikov commented on #17618
How big is it an issue? If one writes `if (a?.Length == 0) return;`, most probably on the next run or unit test, one gets `NullReferenceException` and quickly learns that `a?.Length` returns `null`, though it's already in the docs.

Also what is an issue here? Is it the specific described case or broader? Should we also consider other operators, not only equality ones:

[code]

@redmondgiant

Do y

[2020-03-27 08:07] TobiasKnauss opened #17625 "Syntax description missing"
The example shows that "cref=" can be used. This is not written in the description itself. So I wonder whether the syntax includes other possible constructs that are not described. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04441bbc-7e98-d6df-2c5a-20e816d79dc7
* Version Independent ID: ba155807-a2b0-

[2020-03-27 10:12] alexanderdudko commented on #17275
This looks very similar to syntax sugar for defining local variables of Func<...> and Action<...>. And that makes it very clear why there cannot be multiple functions with the same name differing only by argument types.
You cannot compile following code:
void MyMethod()
{
var MyLocalMethod = new Action<int>(n => { /.../ });
var MyLocalMethod = new Action<double>(d => { /.../ }); // error
}

[2020-03-27 13:00] diegonzls commented on #5070
I was following the tutorial today and in Visual Studio Code version 1.43.2 the label for "Integrated Terminal" only reads "Terminal".

![image](https://user-images.githubusercontent.com/773913/77758441-e15b0f00-702a-11ea-8987-2809f780456b.png)

[2020-03-27 13:48] ivysrono commented on #15487
Maybe we need new issue that update .Net to newest like .Net Core3.1 or .Net 5.

[2020-03-27 13:48] #15487 closed

[2020-03-27 14:16] BillWagner commented on #17612
Thanks for writing this @TobiasKnauss

The `<inheritdoc>` tag is listed in the table on this page for recommended tags. It is missing the TOC for the C# guide, and should be added there.

We'll get this fixed.

I've added the "up for grabs" label to this issue for community members who may want to address this before we get to it.

[2020-03-27 14:19] BillWagner commented on #17622
Thanks for writing this @ErnestCook

I've added it to our backlog, and added the "up for grabs" label, if community members want to address this before we get to it.

[2020-03-27 14:20] BillWagner commented on #17625
/cc @mikadumont

Do you know the right fix for this question?

[2020-03-27 15:06] TPucke opened #17627 "Update for 2.1?"
This page is stale.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de130a75-fed2-0567-6e3d-07a384900eec
* Version Independent ID: a2993c26-93f8-7281-d6ca-5fcc899e95f3
* Content: [What's new in the .NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/whats-new/whats-new-in-dotnet-standard?tabs=csharp)
* Conte

[2020-03-27 15:18] NinoFloris opened #17628 "Default values missing"
It would be helpful to know what for instance the default value for COMPlus_GCHeapHardLimitPercent is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e544aba5-cfe6-1790-023e-bec738182ea8
* Version Independent ID: 8392a21a-8404-d352-ffb1-d6373bbbdd1b
* Content: [Garbage collector config settings - .NET Core](https://docs

[2020-03-27 16:28] tdykstra commented on #17620
@wli3 Can you help with this question?

[2020-03-27 16:36] #17382 closed

[2020-03-27 16:40] mikadumont commented on #17625
Adding @sharwell who may know.

[2020-03-27 17:16] gewarren commented on #17628
@Maoni0 Is there a default value for COMPlus_GCHeapHardLimitPercent and COMPlus_GCHeapHardLimit?

[2020-03-27 17:24] gewarren commented on #17607
This is probably the same problem as #17579.

[2020-03-27 18:54] MarkMichaelis commented on #17463
I confess it didn't occur to me that the library could also subscribe to the `AppDomain.ProcessExit` event and I hadn't seen that in guidelines for finalization type scenarios before.  I didn't see them outlined in the finalization docs either.  I'll go ahead and draft something and make a recommendation for the documentation for your review. Thanks for the insights!

[2020-03-27 20:23] #17570 closed

[2020-03-27 22:21] redmondgiant commented on #17618
I'll try to clarify by showing what I wish the compiler offered (and that docs can help mitigate the lack of).

### Summary
Expression T chains (where T is a ValueType) that _only_ use implied nullability (via ?. for example) should at least offer guidance that includes remaining as an expression T such as using '??' instead of converting to T?. This guidance bias becomes stronger with extra info

[2020-03-27 22:53] Maoni0 commented on #17628
ahh yes we should explain this in our doc. I did write the description in [the PR](https://github.com/dotnet/coreclr/pull/22180). would this be sufficient to adapt into the doc form?

[2020-03-27 22:57] gewarren commented on #17627
This is a dupe of #9221.

[2020-03-27 22:58] #17627 closed

[2020-03-27 23:21] elezar42 opened #17632 "The code sample for GetLoadContext isn't correct"
The code sample in the "Debugging type conversion issues" section doesn't have the correct namespace for the calls to GetLoadContext(). The "Loader" part of the namespace is missing.  It should be:

System.Runtime.Loader.AssemblyLoadContext.GetLoadContext(a.GetType().Assembly)
System.Runtime.Loader.AssemblyLoadContext.GetLoadContext(b.GetType().Assembly)

---
#### Document Details

⚠ *Do not edit

[2020-03-27 23:47] gewarren commented on #17628
@Maoni0 Thanks, yes, that should be enough info for me to update the article.

[2020-03-28 10:41] asif48 opened #17636 "Influence of Date on the prediction output"
Hi Author ...Excellent stuff...
I wounder If we can include a Date column in the input feature to have its influence on the predicted output ?

I modified the TaxiFairExample to include a Date column to predict whether a taxi is likely to puncture or not on the coming day  but an error arose "System.ArgumentOutOfRangeException: 'Could not determine an IDataView type for member Date Parameter name:

[2020-03-28 14:10] pkulikov commented on #17618
@redmondgiant thanks for the summary. Indeed, the current docs don't say about the jump to nullability explicitly.

Do you think something like that would be useful?

[2020-03-28 14:24] mehtanilay10 opened #17637 "Loading multiple files with star (*) is not supported more."
Due to below Pull request, loading multiple files with start pattern is no more supported.
Either need to add it back or update documentation for remove its example.

Ref: https://github.com/dotnet/machinelearning/pull/4665

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52d4fbe-df9c-f410-85b4-786b139e94d3
* Version In

[2020-03-28 14:37] anirugu opened #17638 "The docs need to be made for 20.04"
On this page https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910
It's only mention the 19.10, There has to be a page for 20.04.

If you replace the 19.10 with 20.04 the [path](https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb) will still not work.

[Edit by gewarren to add doc details.]

---
#### Document Details

⚠ *Do not edit this

[2020-03-28 23:03] troglobytor opened #17639 "doc syntax for calling named properties from an int indexer would be nice"
I had a small number(12) named properties with enough code inside of each that I only wanted to call the property from a numbered index so there would be only one place to maintain.Get was easy, but set is vexing me. It would be nice to see how to do such from a switch index.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-28 23:36] troglobytor commented on #17639
`OK,` it's simple but maybe others could have brain gas occasionally:
[code]

[2020-03-29 01:28] weitzhandler opened #17640 "Is Code Contracts still the recommended way to go nowadays?"
Hi,

It's 2020, and I remember reading that code-contracts are obsolete or deprecated, is this true? Any better alternatives or news to know as of 2020?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92c6e0f-2503-fe90-2b96-3b0c2054e8dc
* Version Independent ID: 5612b486-e780-7625-12fb-f5478f1be7de
* Content: [Code Con

[2020-03-29 01:33] weitzhandler commented on #17640
I guess [this](https://github.com/dotnet/runtime/issues/23869#issuecomment-415670905) comment answer my question, so I'm gonna close this issue.

[2020-03-29 01:35] weitzhandler commented on #17640
Consider re-opening it, for the sake of updating the article referring or recommending readers to consider [`System.Diagnostics.CodeAnalysis`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis?view=netcore-3.1) attributes instead.

[2020-03-29 05:39] jaymin93 commented on #17640
How it would differ from test driven development then I see both serves same functionality at higher level

[2020-03-29 05:56] weitzhandler commented on #17640
What's the current best recommended alternative to CC as of 2020?
Please see [this](https://bit.ly/3amGqHf) StackExchange question.
Also my comment here: https://github.com/dotnet/runtime/issues/23869#issuecomment-605544780.

[2020-03-29 13:49] mjhillman opened #17641 "Settings File"
You should include information about how to replace the settings file as the project template does not include a startup file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca63e896-e1eb-9714-aeaf-67f56cf582ca
* Version Independent ID: 20fd8665-a5ef-eebe-d01a-9eaf1a60b023
* Content: [Port a Windows Forms app to .NET C

[2020-03-29 14:21] matthew45052 opened #17642 "Lock could be held for a shorter period of time"
In general, it's a good idea to hold a lock for as short a time as possible, so that one thread doesn't have to wait for another thread to perform potentially slow operations that have nothing to do with the locked resource.

The console I/O in the example code, for instance, is an example of a potentially slow operation (much slower than simple arithmetic calculations).  There's no need for the c

[2020-03-29 15:33] pkulikov commented on #17642
That's right. I think the note about that would be useful. However, I'm afraid that modifying the example would make it unnecessary complicated.

[2020-03-29 15:59] matthew45052 commented on #17642
... at the cost of teaching poor software design techniques.

On Sun, 29 Mar 2020 08:33:37 -0700, you wrote:

[2020-03-29 20:27] redmondgiant commented on #17618
Yes, thanks.

One more aspect to go with that, if it can be worked into the text; something to the effect of reminding developers about converting existing code that clearly was not nullable-aware before the use of '?.':

[code]

Thanks again for the solid docs btw, I only noticed this through experience with extensively converting my code, and noticing the pain points where extra debugging unexpe

[2020-03-29 20:36] pkulikov commented on #17618
@redmondgiant thanks for the discussion. By the way, the compiler also does a good job of informing. For example, `a?.Length ?? 0 == 0` doesn't compile at all.

[2020-03-30 03:38] wli3 commented on #17620
dup with https://github.com/Microsoft/vstest/issues/669

[2020-03-30 03:38] #17620 closed

[2020-03-30 07:29] asif48 opened #17644 "Forecast is the Average of the Actual Rentals"
Hi Author...Its a simple and nice example of coupling of Machine Learning with asp.net...
From the graph its reflects that the Forecast  is the average of the Actual Rentals, which is not good.
How can we improve the prediction of the algorithm? How can we predict for the upcoming dates of the month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-03-30 09:41] shaojun commented on #16090
could you provide a manual installation instruction for those expericing slow issue.

[2020-03-30 13:17] BillWagner commented on #17618
This is a great discussion. Thanks @redmondgiant and @pkulikov

I agree that the additions suggested https://github.com/dotnet/docs/issues/17618#issuecomment-605452399 and https://github.com/dotnet/docs/issues/17618#issuecomment-605695740 would help.

I've added labels, including the "up for grabs" label. Would either of you want to submit a PR for this? If not, we'll address it as we update this

[2020-03-30 13:18] BillWagner commented on #17639
I'm glad you solved this @troglobytor

I'll close this. If you have further issues, you can reopen this, or create a new issue.

[2020-03-30 13:18] #17639 closed

[2020-03-30 13:24] yehanghanGE opened #17645 "this code doesn't work. The exceptions was not catched"
Got error:
System.OperationCanceledException
  HResult=0x8013153B
  Message=The operation was canceled.
  Source=mscorlib
  StackTrace:
   at System.Threading.CancellationToken.ThrowOperationCanceledException()
   at System.Threading.CancellationToken.ThrowIfCancellationRequested()
   at MarketoApiConsole.Program.&lt;&gt;c__DisplayClass0_0.&lt;Main&gt;b__1(Int32 num) in C:\Projects\MarketoRestApi\

[2020-03-30 13:26] BillWagner commented on #17642
Thanks for writing this @matthew45052 And thanks for the discussion @pkulikov

I have another suggestion for updating the sample: With some refactoring, the `WriteLine` statements can be moved into (static) helper routines that take the balance as an argument. Because the balance is a value type, it's copied, and could be called outside the lock. Yes, this does create a few one line methods (or ex

[2020-03-30 13:52] pkulikov commented on #17618
@BillWagner I would like to submit the PR

[2020-03-30 16:38] pkulikov commented on #17642
The `balance` field can still be updated by another thread between the call to the helper routine and entering the lock. Thus, the helper routine would output not correct value. Have I missed anything @BillWagner?

[2020-03-30 16:45] pkulikov commented on #17642
@BillWagner @matthew45052 all in all, I would remove all the `Console.WriteLine` calls and update the test application in the following way:

1. create the routine that changes the balance in the known way (not random), let's say by `change`
1. run 100 such routines in parallel

The output is known, that is, `new_balance` = `old_balance` + 100 * `change`

[2020-03-30 16:58] luisquintanilla commented on #17636
Hi @asif48 ,

I see you've raised this issue in the dotnet/machinelearning repo.

dotnet/machinelearning#4980

I'd keep an eye on that issue since it's more related to the product.

[2020-03-30 16:58] #17636 closed

[2020-03-30 17:35] gewarren commented on #17640
Reopening to update the doc with the latest recommendations. Thanks for raising this concern, @weitzhandler .

[2020-03-30 17:52] os1r1s110 commented on #16964
Shouldn't this be well documented/clearly indicated in official globalization docs? Specifically in the [Using one resource string for multiple classes](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#using-one-resource-string-for-multiple-classes) part where if performing this as recommended, it won't work at all (that is simply creating a class named `R

[2020-03-30 19:11] Thraka commented on #13287
@NikolaMilosavljevic This issue has been floating around for quite some time. Can we get a list of deps required for Alpine linux?

[2020-03-30 19:13] Thraka commented on #17537
@NikolaMilosavljevic Should this issue be moved out of docs and into the product repo? Or is there something to doc here?

[2020-03-30 19:21] dagood commented on #17537
The product team that owns this feed setup package unfortunately has no public presence. This issue tracks filing an internal issue to get them to fix it. I think it'd be good to keep this feedback issue active so that others hitting this problem can find it from https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-sles15 and see the workaround.

If you want to transfer it fo

[2020-03-30 20:47] gewarren opened #17649 "Monthly chores - April"
- [x] Check [broken links report](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check github.com/microsoftdocs/feedback/issues for .NET issues
- [x] Run [CATS tests](https://contentqacats.azurewebsites.net/create_docs_content_validation_run) on the .NET repo (docset == "core-docs")
- [x] Run CleanRepo and check for orphaned articles
- [x] Run Cle

[2020-03-30 23:18] NikolaMilosavljevic commented on #13287
According the following page Alpine Linux 3.7+ is supported with .NET Core 2.1:

https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md

@leecow is there an installation page for .NET Core 2.1 for Alpine Linux? It seems that there are additional dependencies that need to be documented.

[2020-03-31 04:12] bitm0de opened #17651 "Example is not valid"
The SerializeOverride() method is defined to be a class where the class in the code example is used like a method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f78552f8-0bb2-0a65-e19e-85b432b09890
* Version Independent ID: 81a339ab-2e79-4be7-8a9f-b18a1a86a1a0
* Content: [How to: Specify an Alternate Element Name for

[2020-03-31 07:17] Asier-Villanueva opened #19268 "Calls to JsonSerializer.Serialize or JsonSerializer.Deserialize in to a JsonConverter goes into an infinite loop."
Calls to JsonSerializer.Serialize or JsonSerializer.Deserialize in to a JsonConverter goes into an infinite loop. It doesn't matter if you pass the options object or not.

I follow this documentation [example](https://docs.microsoft.com/es-es/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#required-properties)

To reproduce it, making a console app:

    class Program

[2020-03-31 12:26] sajanmittal opened #17655 "Unit test for ResilientTransaction example in resilient EF Core Connection."
for ResilientTransaction class example.

public class ResilientTransaction
{
    private DbContext _context;
    private ResilientTransaction(DbContext context) =>
        _context = context ?? throw new ArgumentNullException(nameof(context));

    public static ResilientTransaction New (DbContext context) =>
        new ResilientTransaction(context);

    public async Task ExecuteAsync(Func<Task>

[2020-03-31 14:34] BillWagner commented on #17642
@pkulikov I like that plan.

[2020-03-31 15:06] pkulikov commented on #17642
Then I can submit the PR

[2020-03-31 15:31] Jawvig opened #17656 "Link to List Module is broken"
The hyperlink to the List Module leads to a broken page:
https://msdn.microsoft.com/library/a2264ba3-2d45-40dd-9040-4f7aa2ad9788
This may have been down for days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dc3b624-2978-8ae2-8ad0-0ae1613395af
* Version Independent ID: 0632dadf-1f15-d3ed-9751-b5b1d100df44
* Content:

[2020-03-31 15:32] voronoipotato commented on #17199
Anyone looking for them in the interim can find them here courtesy of @baronfel .

https://baronfel.github.io/fsharp-core-api-docs/

[2020-03-31 15:44] #17377 closed

[2020-03-31 16:51] BillWagner commented on #10031
assigning to @Thraka

[2020-03-31 17:03] BillWagner commented on #16582
I'm closing this, as we decided this is not the direction we're taking the samples.

[2020-03-31 17:03] BillWagner commented on #16582
I misread this, reopening

[2020-03-31 17:07] BillWagner commented on #2714
I'm going to close this. I don't think this is a scenario we should cover. The [Appveyor docs](https://www.appveyor.com/docs/) cover this well.

[2020-03-31 17:07] #2714 closed

[2020-03-31 17:11] BillWagner commented on #2718
closing as this is covered in ASP.NET Core docs. (These will come together during the .NET 5 timeframe)

[2020-03-31 17:11] #2718 closed

[2020-03-31 17:12] BillWagner commented on #2698
Closing for now. We'll address this as part of the .NET 5 planning

[2020-03-31 17:12] #2698 closed

[2020-03-31 17:31] BillWagner commented on #2715
I'm going to close this as we're making some recommendations, but not mandating any experience.

[2020-03-31 17:31] #2715 closed

[2020-03-31 18:42] #17532 closed

[2020-03-31 18:51] #12521 closed

[2020-03-31 19:02] scottaddie commented on #17293
@Bartmax As requested by Pranav ☝️ , please open an issue in the ASP.NET Core engineering repo. Closing this issue, as the behavior is already documented.

[2020-03-31 19:02] #17293 closed

[2020-03-31 19:19] tdykstra commented on #17632
@elezar42 Thanks for reporting that!

[2020-03-31 19:49] tdykstra commented on #17651
@bitm0de Thanks for reporting that.

[2020-03-31 21:47] #17632 closed

[2020-04-01 02:29] timoffex opened #17662 ""See also" documentation links are broken"
E.g. "Control.Event Module" links to https://msdn.microsoft.com/visualfsharpdocs/conceptual/control.event-module-%5bfsharp%5d which unhelpfully displays

"Error

Sorry, this page is unavailable. Please try again later."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78397d09-6174-74aa-6fe7-7aa7e87b44a6
* Version Indepe

[2020-04-01 13:18] sageTimNewton commented on #12442
An example would be useful to clarify the point.

[2020-04-01 14:47] CreepyGnome opened #17666 "Where did JsonSerializerSettings.CheckAdditionalContent go?"
There is mappings for the other JsonSerializerSettings that there seems to be one not documented that didn't get migrated as to its status and that is JsonSerializerSettings.CheckAdditionalContent.

Where did this go, is there a workaround, or does System.Text.Json do this by default now and if you where setting it to true we have nothing to be concerned about?

---
#### Document Details

⚠ *Do no

[2020-04-01 15:35] gewarren commented on #17579
This is actually a dupe of #17557.

[2020-04-01 15:37] gewarren commented on #17656
Same underlying issue as #17557.

[2020-04-01 15:37] gewarren commented on #17662
Same underlying issue as #17557.

[2020-04-01 15:38] curtnichols commented on #17579
I'm good with that. :)

[2020-04-01 15:40] cartermp commented on #17579
FYI we're working with the team that does redirects on this one. The core issue is a small handful of links needed redirection, but something went awry and the whole reference was redirected. It's apparently a little tricky.

[2020-04-01 15:40] cartermp commented on #17662
We're working with the team that does redirects on this one. The core issue is a small handful of links needed redirection, but something went awry and the whole reference was redirected. It's apparently a little tricky.

[2020-04-01 15:40] cartermp commented on #17656
We're working with the team that does redirects on this one. The core issue is a small handful of links needed redirection, but something went awry and the whole reference was redirected. It's apparently a little tricky.

[2020-04-01 15:55] Jawvig commented on #17656
Good luck with it, and thanks for the update.

[2020-04-01 16:14] #17651 closed

[2020-04-01 16:19] yakovkiff opened #17667 "Clarify that (1) the typed client classes should not be registered independently of the AddHttpClient statement, and (2) are automatically deemed Transient"
The statement services.AddHttpClient&lt;ICatalogService, CatalogService&gt;() does 3 things:
(1) Registers HttpClient as a dependency to ICatalogService.
(2) Registers ICatalogService...
(3) as a transient service

Only (1) is clear from the article, imo.
Furthermore, it should be noted that if you do services.AddTransient&lt;ICatalogService, CatalogService&gt;() after services.AddHttpClient&lt;IC

[2020-04-01 16:29] tdykstra commented on #17666
cc @layomia @Jozkee

[2020-04-01 16:47] ryandle opened #17668 "Document behavior differences in StrongName assembly binding between .NET Framework and .NET Core"
These internal docs seem to collectively cover how DLL version comes in to play for loading strong named assemblies:

- https://github.com/dotnet/runtime/blob/master/docs/design/features/host-probing.md
- https://github.com/dotnet/runtime/blob/master/docs/design/features/host-component-dependencies-resolution.md
- https://github.com/dotnet/runtime/blob/master/docs/design/features/assembly-conflict

[2020-04-01 16:52] sdmaclea commented on #17668
/cc @vitek-karas @elinor-fung @sbomer

[2020-04-01 19:08] ztl8702 commented on #4192
Ping. Any updates? I would like to know how C# compiler options can be set using the dotnet cli.

[2020-04-01 19:44] #16009 closed

[2020-04-01 20:39] topnessman opened #17673 "What if a microservice prefer strong consistency over availability?"
Thanks very much for this great article! It provides a really good overview about common challenges when working with microservices. However, regarding Challenge #3, I wonder how people in the industry are doing generally in order to achieve strong consistency and availability is less favored? I have a use case where microservice A manages its own data that is directly coming from clients. But mic

[2020-04-01 21:09] #14301 closed

[2020-04-01 22:14] #10543 closed

[2020-04-01 22:14] #12671 closed

[2020-04-01 22:14] #15152 closed

[2020-04-01 23:58] markolbert opened #17676 "isCollectible doesn't seem to exist"
The latest version of AssemblyLoadContext in Net Core 3.1 doesn't seem to have a constructor taking a boolean value for isCollectible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3283764-f15a-fa5f-5106-6f294c780f7b
* Version Independent ID: b03cedce-9074-9686-0b31-045b2b4c862d
* Content: [How to use and debug assem

[2020-04-01 23:59] markolbert opened #17677 "AssemblyDependencyResolver not referenced"
I don't see a link to AssemblyDependencyResolver from where it's used in the source code example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3283764-f15a-fa5f-5106-6f294c780f7b
* Version Independent ID: b03cedce-9074-9686-0b31-045b2b4c862d
* Content: [How to use and debug assembly unloadability in .NET Core](https:

[2020-04-02 00:07] markolbert commented on #17677
There's something weird going on when I try to use AssemblyDependencyResolver: it shows up in the Object Browser in VS 2019, so I know I've installed the System.Runtime.Loader package correctly. But IntelliSense fails to recognize the class and you can't reference the class in source code. Bizarre.

[2020-04-02 01:16] heng-liu commented on #7146
Tried on Linux for multiple versions of  dotnet:
 2.1.302
[code]
2.2.300
[code]
3.1.201
[code]
Without quotes, only the first package is pushed.
With quotes, all packages are pushed.

[2020-04-02 05:20] nishanil commented on #14720
PR for gRPC is merged. Closing this issue now.

[2020-04-02 05:20] #14720 closed

[2020-04-02 06:52] saxmaster79 opened #17680 "Sample with DateTimeOffset.UtcNow() shows wrong offset in the output"
using System;
using System.IO;
using System.Text;
using System.Text.Json;

public class Example
{
    public static void Main(string[] args)
    {
        JsonWriterOptions options = new JsonWriterOptions
        {
            Indented = true
        };

        using (MemoryStream stream = new MemoryStream())
        {
            using (Utf8JsonWriter writer = new Utf8JsonWriter(stream, options)

[2020-04-02 08:58] janvorli commented on #17676
@markolbert I've seen your other problem with AssemblyDependencyResolver not being recognized during compilation / by intellisense in VS. Are you sure you have your project set to use .NET Core 3.1? In the project properties on the Application page, there is "Target framework". Does it show ".NET Core 3.1" for your problematic project?
Also, if you download the demo project for unloadability from

[2020-04-02 09:31] hamidullov opened #17681 "dotnet test tests/WebApi.IntegrationTests --filter "DisplayName\!~WebApi.IntegrationTests.Controllers.Manage""
After execute command on macOs I got this error

 [xUnit.net 00:00:01.14] WebApi.IntegrationTests: Exception filtering tests: Incorrect format for TestCaseFilter Error: Invalid Condition 'DisplayName!~WebApi.IntegrationTests.Controllers.Manage'. Specify the correct format and try again. Note that the incorrect format can lead to no test getting executed.
No test is available in /tests/WebApi.Integ

[2020-04-02 12:51] #17618 closed

[2020-04-02 14:12] #17642 closed

[2020-04-02 14:15] ChrisFoggDelta-T opened #17682 "Sample Applications link does not work"
https://docs.microsoft.com/en-gb/dotnet/visual-basic/sample-applications
Get 404 error

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc32151-058c-e82b-8654-bec1020afd9b
* Version Independent ID: e7d42142-da3f-8f5e-28ed-82ba61327361
* Content: [Get started - Visual Basic](https://docs.microsoft.com/en-gb/dotnet/visual

[2020-04-02 15:38] CeciAc opened #17683 "The code can work well on .net fx 4.7 but not on dotnetcore3.1"
@jinsh2019 commented on [Thu Apr 02 2020](https://github.com/dotnet/docs.de-de/issues/175)

The code can work well on .net fx 4.7 but not on dotnetcore3.1
The error msg:
System.PlatformNotSupportedException:“Operation is not supported on this platform.”

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c5f5f4b7-b600-d163-ccef-9cf4b0693419
* Version Independent ID: 6e98

[2020-04-02 16:36] TangledTessellations opened #17684 "File doesn't build"
In the step above `Select Build &gt; Build All from the menu.` I don't see anything in the build Menu.
I've selected "Build Output" Several times, and just see two blank boxes below. 0 errors, 0 warnings, 0 messages.

Using Visual Studio for Mac Community, V 8.5.1 (build 42)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-02 18:58] gewarren commented on #17683
It's noted [here](https://docs.microsoft.com/dotnet/core/compatibility/unsupported-apis#systemcodedomcompiler), but would be good to note in _this_ article that it doesn't work on .NET Core.

[2020-04-02 19:00] gewarren commented on #17682
Should we link here instead?

https://docs.microsoft.com/samples/browse/?languages=vb

[2020-04-02 22:55] #17502 closed

[2020-04-03 00:46] #16088 closed

[2020-04-03 12:31] ladipro commented on #14862
@mairaw would it be possible to bump the priority of this issue?

- The documentation really is outdated and causing grief to the community.
- We are adding a new MSBuild error containing a link to this article so it's likely going to be read by more developers going forward (https://github.com/microsoft/msbuild/pull/5212).

[2020-04-03 15:03] BillWagner commented on #17684
Thanks for writing this @TangledTessellations

Can you add a screenshot of what you see? I think the problem is that the output pane is too short to display more of the text output, but I'm not sure.

Thanks.

[2020-04-03 16:52] cyboashu opened #17693 "Not able to install on WSL"
**Not able to install on WSL**

I am trying to install dot net core using on WSL (Ubuntu 18.04) from this page https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804

**Issue description**

I have tried all the options mentioned on the page.

But every time I get this Error:

Reading package lists... Done
E: The repository 'https://packages.microsoft.com/ubuntu/18.0

[2020-04-03 16:52] OliaG opened #17694 "Update the WinForms porting doc to the latest changes"
We need to update the https://docs.microsoft.com/en-us/dotnet/core/porting/  according to the latest changes that are described here
About try-convert tool:
1.	https://www.codemag.com/Article/1911032/Upgrading-Windows-Desktop-Applications-with-.NET-Core-3
About the latest WinForms Core designer
2.	https://devblogs.microsoft.com/dotnet/updates-on-net-core-windows-forms-designer/

[2020-04-03 17:46] Thraka commented on #17683
I'm unsure what our messaging strategy will be. This article is in the .NET Framework area and not the .NET Standard (common) area, so we should assume this section is specific to .NET Framework.

[2020-04-03 19:46] donnie-msft commented on #7146
For clarity, Windows still works as expected in dotnet **3.1.300-preview-015048**.

Both push all expected packages (not just 1):
`dotnet nuget push *\**\*.nupkg --source "nugettest" --skip-duplicate`
`dotnet nuget push *\*\*\*.nupkg --source "nugettest" --skip-duplicate`

[2020-04-03 19:53] zivkan commented on #7146
Heng's comment shows it best. When using `'*.nupkg'`, it tells the shell not to expand the wildcard, so the `*` character is really passed to NuGet (via dotnet), and NuGet does its own globbing. Windows cmd.exe doesn't support globbing (not sure about powershell, my guess is no), which is why the single quotes are not needed around the `*.nupkg`. On Linux, every shell I've ever used supports globb

[2020-04-03 19:56] #15240 closed

[2020-04-03 20:49] heng-liu commented on #7146
Since the issue still exists, please reopen this issue. Thanks!

[2020-04-04 05:04] heng-liu commented on #7146
After discussion, we would like to keep it closed. Sorry for the confusion caused!

[2020-04-04 09:23] mslot commented on #6393
Maybe use this: https://www.nuget.org/packages/dotnet-search/?

[2020-04-04 10:11] MikaelUmaN opened #17703 "Guidance on when to use struct unions"
Hi.

I would appreciate more guidance on when to use struct unions. Maybe its just a link somewhere but would be nice to have a simple view of pros and cons - recommendations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6020749e-d91e-8a1b-5366-25b212baa31d
* Version Independent ID: 0f28f508-dc0f-c272-383e-ec768759fe

[2020-04-04 12:17] asklar opened #17704 "dotnet pack with nuspec/project file"
I need to be able to specify which files to include, and I haven't found how to do that with the csproj file, only with the nuspec file. On the other hand, the version number is set dynamically in the csproj file (it includes the date), and the nupkg can't do that. How can I get both behaviors? How do I tell dotnet pack to only include the files I want, through the csproj?

---
#### Document Detai

[2020-04-04 20:33] voroninp opened #17705 "Links to MSDN are broken."
Cannot navigate to F# API reference.

For example: [Seq.reduce](https://msdn.microsoft.com/library/a2ad4f64-ac69-47d2-92f0-7173d9dfeae9)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fae525-473a-3072-b024-6d91d0e033b9
* Version Independent ID: 6e162795-52bd-f9df-4105-6919c1c72c88
* Content: [Sequences - F#](https://

[2020-04-05 04:51] YonatanKra opened #17707 "Error while running the debugger"
I've finished the Hello World part which worked.
Then in the debug section, all worked until step 6.
I get an error: `launch: program 'D:\OneDrive\Documents'cShapr\bin\Debug\netcoreapp3.1\cSharp.dll' does not exist`
I've made no change to the project - just followed the steps provided on this page.
Any idea why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-05 04:52] landerah opened #17708 "AspNetCore.Diagnostics.HealthChecks"
AspNetCore.Diagnostics.HealthChecks is not (yet?) supported in .NET Core 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e98bdd99-d89d-8720-9018-25f73dcfdbd8
* Version Independent ID: 61a8ff5d-02ea-ec2b-2624-b8afa66f44d0
* Content: [Health monitoring](https://docs.microsoft.com/en-us/dotnet/architecture/microservice

[2020-04-05 04:59] YonatanKra commented on #17707
Found the issue. While the generated path is:
`path\to'project\bin\Debug\netcoreapp3.1\cSharp.dll`
The path should be:
``path\to'project\bin\MCD\Debug\netcoreapp3.1\cSharp.dll`

[2020-04-05 04:59] #17707 closed

[2020-04-05 05:21] willWashington opened #17709 "Downloadable?"
Do you offer a way to download these keywords in XML/JSON or something like that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9865f7-b92a-c118-c697-9e090132ba51
* Version Independent ID: b454ba01-b5ea-1265-c572-8509458d3bca
* Content: [Statements - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic

[2020-04-05 08:47] shubhdevf commented on #16943
Is there an estimate for when the documentation on these issues will be available here?

[2020-04-05 13:01] mgravell opened #17710 "Recommend deterministic builds (Open-source library guidance)"
Deterministic builds are now available, either using the preview SDK, or [with a minor hack via the existing SDK](https://github.com/dotnet/sourcelink/issues/572).

Should the recommendation be updated to recommend deterministic builds? or should this be deferred until SDK 3.1.300 ships? Note that guidance on how [exists here](https://github.com/clairernovotny/DeterministicBuilds)

---
#### Docume

[2020-04-05 14:17] rgamage opened #17711 "Typo: Content -> Context?"
In the Template Parameters section, it mentions how you can set the Context parameter, but the code example shows Content="message".  I think it should be Context="message"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c195c0-99f6-64f5-66a3-4e69109dc8ee
* Version Independent ID: 24368808-4b90-f75a-e887-eb72a1c85f5b

[2020-04-05 15:48] isolatedspace opened #17712 "Great first tutorial!"
This really helped me with my C# Journey. This is my first coding experience and i found the tutorial easy to follow and also the loved the challenge of creating code to work out the area of a circle. Thank you for providing this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f62e0f69-50c4-626a-0bd8-55e7a3312

[2020-04-05 20:54] BillWagner opened #17713 "Add manual entry for `System.Net.WebClient.OnWriteStreamClosed`"
The base class for `System.Net.WebClient` was sealed in .NET Framework 1.1 (and only that version). As a result, the build system doesn't publish API information for protected APIs.

To fix this, we need to add a manual entry in the [additional APIs](https://github.com/dotnet/docs/tree/master/docs/framework/additional-apis) folder. The API is obsolete, so this could be a stub.

In addition, we'd w

[2020-04-05 21:06] BillWagner opened #17714 "Create plan for porting relevant blog posts to docs"
There are a a number fo blog posts on the pfx team blog that are good candidates to be edited / updated as conceptual docs.  Due to the number of posts, the task for this issue is to review each blog post, determine if it should be ported (or if the content is already on docs), and create the issue for any relevant work.

As each item is reviewed, add a comment with the link to the bog post, the r

[2020-04-05 23:21] ozanyasindogan opened #17715 "Using Tasks in Web Applications"
Hello! I recently started to get involved with web application development, Asp.Net Core Razor Pages precisely. I'm a classical desktop application developer and I understand when I should use a new thread separated than the main thread which process window messages (painting, updating gui etc..) I really wonder why in today's web application practices it is often used Tasks and await keyword when

[2020-04-06 01:02] tdykstra commented on #16943
Not yet. We've been focusing on higher-priority issues.

[2020-04-06 02:18] jimarledge opened #17716 "Out of date"
This page is out of date and has nothing about the need to manually edit .json files, etc.  Visual Studio is the best development system on the planet.

Why not simplify the use of "Code" a little, but at least FFS update the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c

[2020-04-06 07:51] Peled-Zohar commented on #9547
@rpetrusha Thanks, I wasn't aware of that issue. still, I think it might be a better alternative than using a long, cumbersome, unreadable and unmaintainable regular expression, especially combined with @Thraka's idea of adding the logic to handle the space char.

[2020-04-06 13:05] BillWagner commented on #17712
Thank you for the kind words @isolatedspace I'm glad you found it useful.

Closing as kudos.

[2020-04-06 13:05] #17712 closed

[2020-04-06 13:28] iBobb commented on #5460
The PowerShell example doesn't work unless you have PowerShell 6

[2020-04-06 14:40] BillWagner commented on #17715
ping @scottaddie Is this topic covered in the asp.net core docs? If so, it would make sense for me to add a link here.

[2020-04-06 14:51] harpalsingh1993 opened #17720 "how types (classes) can be protected?"
I am just confused about these statements, how a type can be protected, only members can be protected. can you please correct me if I am wrong.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8121f526-cfe4-091d-d031-2cdc274cd8ee
* Version Independent ID: 76a389f6-b568-3568-6483-6df440f96f0c
* Content: [Access Modifiers -

[2020-04-06 14:57] martin-plessy opened #17721 "mlnet auto-train gets to 100% accuracy"
After trying out this tutorial using ML.NET CLI, it appears that my model gets to 100% accuracy after 1 iteration:

[code]

Contents of `debug_log.txt`:

[code]

Results: ain't no really 100%, I'm afraid.

[code]

Did I miss something ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fff31d-9b11-e1f1-f4c1-d798a7d9b564

[2020-04-06 15:44] druske opened #17722 "Check IoT Core"
The dotnet command is apparently not present on Windows 10 IoT Core, either through the command line or Powershell. It would be helpful to either provide some guidance as to how to check the installed .NET Core version on IoT Core, or provide a link to such information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f

[2020-04-06 16:13] Thraka commented on #17722
yes, I think adding some info about what folders would commonly be found if you were trying to determine if it was installed. Thanks for the suggestion.

[2020-04-06 16:26] alexbuzzbee commented on #15369
+1 for `AssemblyName` + `Assembly.Load`. `MetadataLoadContext` might or might not be handy too.

[2020-04-06 16:36] tdykstra commented on #17704
@wli3 Who can help with this question?

[2020-04-06 16:41] scottaddie commented on #17715
@BillWagner We have an extensive performance overview doc. One section within it that pertains to this discussion is https://docs.microsoft.com/aspnet/core/performance/performance-best-practices#avoid-blocking-calls.

[2020-04-06 16:49] Thraka commented on #4192
You should open up a new issue. This issue is about removing that line because it's not applicable for this article.

However, to quickly address your comment, I don't know that you can. .NET Core uses projects and MSBuild to control compiling, and you would have to explore how that works and how to customize (if you can, I don't know if you can) building specific files.

It looks like MSBuild doe

[2020-04-06 17:06] wli3 commented on #17704
@rrelyea and @nkolev92

[2020-04-06 18:22] gewarren opened #17726 "2019 WPF Tutorial not documented properly"
_From @squin on Monday, February 3, 2020 12:12:17 PM_

There is what looks like a useful tutorial called "Create your first WPF application in Visual Studio 2019". Having worked down through this tutorial I got about halfway down where the users were added in a list, the title is "Add Controls". Scroll down to the next section "Add an image and a title" and the whole section is changed. There are

[2020-04-06 18:22] gewarren commented on #17726
_From @welcome[bot] on Monday, February 3, 2020 12:12:18 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-04-06 18:22] gewarren commented on #17726
_From @docs-product on Wednesday, February 5, 2020 12:54:51 AM_

@squin - could you please provide a link to the article in question?

[2020-04-06 18:22] gewarren commented on #17726
_From @squin on Wednesday, February 5, 2020 10:55:53 AM_

https://docs.microsoft.com/en-us/dotnet/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application

Regards.....

On 2020-02-05 00:54, docs wrote:

[2020-04-06 18:23] gewarren commented on #17726
_From @gewarren on Thursday, March 26, 2020 11:05:51 PM_

@thraka FYI

[2020-04-06 18:23] gewarren commented on #17726
_From @mairaw on Friday, April 3, 2020 8:43:44 AM_

@gewarren should this be transferred to the dotnet/docs repo instead?

[2020-04-06 18:23] gewarren commented on #17726
_From @Thraka on Friday, April 3, 2020 4:25:34 PM_

@mairaw Sure!

[2020-04-06 18:26] eatmorepies-dev opened #17727 "Rest of the specification"
Where can I find the rest of the specification? I can only find the introduction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362f3e73-a902-45e6-382d-328a4552a235
* Version Independent ID: d4253465-4bfc-e473-f745-0d5e1ff4e76c
* Content: [Introduction - C# language specification](https://docs.microsoft.com/en-us/dotn

[2020-04-06 18:29] BillWagner commented on #17727
@eatmorepies-dev Click on any of the links in the table of contents on the left. Each represents a different chapter of the spec.

I'll close this as an answered question.

[2020-04-06 18:29] #17727 closed

[2020-04-06 18:37] eatmorepies-dev commented on #17727
Thanks. I was viewing the page on portrait mode on a mobile device, so I didn't see it.

I would like to make a suggestion that https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/
send the user to an "In this section" for the specification instead of the introductory page, just as the base language reference page does.

[2020-04-06 18:40] BillWagner commented on #17727
@eatmorepies-dev We do reference sections in paces, and we're adding more whenever we update articles. As you find more, you can create a new issue or submit a PR to help us in that work. There are a lot of references, and many date from when the spec was a single word doc and a link to the spec was preferred.

[2020-04-06 18:47] eatmorepies-dev opened #17728 "Can't download as a a PDF"
The Android versions of Adobe Acrobat and even Microsoft Word are throwing errors about it being an unsupported file format.

What is the recommended way to access the PDF of the language spec on a mobile device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362f3e73-a902-45e6-382d-328a4552a235
* Version Independent I

[2020-04-06 18:50] nkolev92 commented on #17704
There are some examples in https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec & https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#advanced-extension-points-to-create-customized-package

[2020-04-06 18:55] tdykstra commented on #17704
Thanks @nkolev92 -- I'll add these links to the doc.

[2020-04-06 21:44] boomer57 opened #17731 "Code diagram showS c# but this is a VB.NET specific page"
See the diagram in this section:

https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/async/#BKMK_WhatHappensUnderstandinganAsyncMethod

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a9a526-9135-db6b-f84b-ae52ab0876c4
* Version Independent ID: 550522d6-32ca-b8ba-7c37-5ad054102f0a
* Content

[2020-04-06 23:07] ozanyasindogan commented on #17715
Thank you gentlemen for your swift response. I read the performance overview and this looks like the answer to me;

What I understand from that is;
Basically if I need to read some information from the database and can only process that information in the following statements, I don't need to make an asynchronous call because I would be waiting for it to complete anyway. But if I want to update th

[2020-04-07 00:23] gewarren commented on #17694
@Thraka I think this is for you.

https://docs.microsoft.com/en-us/dotnet/core/porting/winforms

[2020-04-07 00:41] gewarren commented on #17677
Related to #17676.

[2020-04-07 00:55] markolbert commented on #17676
Apologies I must've missed the notifications that this issue had gotten more comments/discussion. My bad.

Short answer: it was my mistake because I was using the class in a NetStandard2.1 library. When I changed it to being a NetCore3.1 library (I didn't know you could do that) the problem went away. I'll close the issue.

[2020-04-07 00:55] #17676 closed

[2020-04-07 00:55] markolbert commented on #17677
Apologies I must've missed the notifications that this issue had gotten more comments/discussion. My bad.

Short answer: it was my mistake because I was using the class in a NetStandard2.1 library. When I changed it to being a NetCore3.1 library (I didn't know you could do that) the problem went away. I'll close the issue.

[2020-04-07 00:55] #17677 closed

[2020-04-07 01:03] gewarren commented on #17676
No worries, thanks for following up!

[2020-04-07 11:02] ztl8702 commented on #4192
Thanks @Thraka . In case anyone ran into the same issue: I was trying to set the `/r` compiler option for [extern alias](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/extern-alias). I found a workaround at https://github.com/NuGet/Samples/issues/39.

[2020-04-07 12:11] tkp1n opened #17735 "Consider adding guidance regarding deterministic builds"
As demonstrated by @clairernovotny [here](https://github.com/clairernovotny/DeterministicBuilds), it is likely recommended to "CONSIDER" deterministic builds if one considers using Source Link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db5ae44-5ee9-ed62-7355-7c0cbc1bfc07
* Version Independent ID: f54c98e2-bbae-42

[2020-04-07 12:25] clairernovotny commented on #17735
The screen shot could probably be updated to the latest version of NuGet Package Explorer, which makes it easier to validate that Source Link information is present.

[2020-04-07 12:57] owenmorris opened #17736 "Examples use v11 API"
The Azure SDK v12 differs from v11 quite considerably.  The docs refer to the v11 SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043a5be5-cb8b-5dc2-864c-01da144ea3c3
* Version Independent ID: 2b8e917a-cbb1-1417-b051-37d45beec0f3
* Content: [Get started with Azure Blob storage using F#](https://docs.microsoft.com/e

[2020-04-07 13:31] sotomo opened #17737 "Mystery server?"
Is "http://localhost:15839/wsFederationSTS/Issue" an ADFS server running on the local machine?  No way of knowing since it's just parts of the config, no explanation given.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 727349dd-9a84-1ac7-a808-2c6b334162cb
* Version Independent ID: 49464913-6fdc-306d-5208-11371b0b5b24

[2020-04-07 13:40] bengimblett opened #17738 "Clarify statement around use of ISAPI filters (is this filters or extensions??)"
REF this blog post: https://azure.microsoft.com/en-us/blog/migration-checklist-when-moving-to-azure-app-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43fedd73-2c28-f7c2-5dc4-7a2e3809ff7f
* Version Independent ID: 4503afae-f35e-a6db-6653-f17ce8976a9d
* Content: [Migrate your .NET web app or service to Azure Ap

[2020-04-07 14:29] BillWagner commented on #17731
Thanks for writing this @boomer57

The programming model is the same for VB an C#, so it is accurate. That said, VB syntax would be better for the VB programming guide.

[2020-04-07 14:53] BillWagner commented on #17720
@harpalsingh1993 A nested class can be declared `protected`. This is covered in detail in the language reference and specification.

It's not a common scenario, so it's not covered in detail in the programming guide. It is allowed, so we won't change the language here.

I'll close this as an answered question.

[2020-04-07 14:53] #17720 closed

[2020-04-07 14:53] BillWagner commented on #17728
ping @dend

[2020-04-07 15:07] BillWagner commented on #17715
First on this issue: This article should link to the section referenced in Scott's comment.

Second, on the question: The paragraph @ozanyasindogan cites uses `Task.Run`. That API offloads work to another thread in the same process. That's why it's not typically recommended for web applications. The later examples you show retrieving information from a database are different: The work done is ofte

[2020-04-07 15:09] BillWagner commented on #17709
There isn't an XML or JSON download for statements. There is for PDF.

I'll close as an answered issue.

[2020-04-07 15:09] #17709 closed

[2020-04-07 17:23] JoeRobich commented on #17716
@kendrahavens You may have run into a bug we just fixed where we weren't generating the launch.json file when the project targeted 'net5.0'. Let me know if you were targeting 3.x and I can investigate.

[2020-04-07 17:31] madhub opened #17740 "Example Link is broken"
Example Link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d4a1a18-d470-6a2e-30d3-8f89a82aaaf8
* Version Independent ID: f1e8d3e4-e92e-f8e4-85fd-666101347b2f
* Content: [How to: Inspect assembly contents using MetadataLoadContext](https://docs.microsoft.com/en-us/dotnet/standard/assembly/inspect-contents-us

[2020-04-07 17:58] #17575 closed

[2020-04-07 18:45] MSDN-WhiteKnight commented on #17740
Yeah, for some reason new added .NET samples weren't pulled to sample browser. I've filed the related Docs site bug recently: https://github.com/MicrosoftDocs/feedback/issues/2595 This is probably the same issue; the sample is merged into live branch, but not available on site both by direct URL and by searching keywords in sample browser. FYI, the Github link for this sample is https://github.com

[2020-04-07 19:17] kendrahavens commented on #17716
@JoeRobich I was indeed targeting 3.1, specifically 3.1.300-preview-015048. I also ran  dotnet new console -f netcoreapp3.0 --force and a launch.json was not created either.

[2020-04-07 19:20] gewarren commented on #17705
Thanks for letting us know. This is a duplicate of #17557.

[2020-04-07 19:20] #17705 closed

[2020-04-07 19:20] gewarren commented on #17662
Closing as a duplicate. Thanks for reporting this.

[2020-04-07 19:20] #17662 closed

[2020-04-07 19:21] gewarren commented on #17656
Thanks for reporting this. Closing as a duplicate.

[2020-04-07 19:21] #17656 closed

[2020-04-07 19:22] gewarren commented on #17607
Thanks for reporting this. Closing as a duplicate of #17557.

[2020-04-07 19:22] #17607 closed

[2020-04-07 19:22] gewarren commented on #17579
Thanks for reporting this. Closing as a duplicate.

[2020-04-07 19:22] #17579 closed

[2020-04-07 20:18] Thraka commented on #16692
@leecow thoughts on the post above?

[2020-04-07 20:20] Thraka commented on #17638
Ping @rbhanda what is the story with 20.04?

[2020-04-07 20:23] Thraka commented on #17735
Hello, thank you for opening this issue. I think this is covered by another issue that was opened a few days ago. I'll add your link though to that issue. Thanks again.

[2020-04-07 20:23] Thraka commented on #17735
Duplicate of #17710

[2020-04-07 20:24] arivoir opened #17742 "Avoid generating documentation for private and internal members"
Is there any way to avoid generating the documentation of the private and internal members?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6-169a-0ffe-5f33-d5a359aeefc5
* Content: [Documenting your code with XML comments](https://docs.microsoft.com/e

[2020-04-07 20:25] Thraka commented on #17735
Oh sorry, I thought this was the same article as the other! My mistake. I'll reopen this!

[2020-04-07 20:32] Thraka commented on #17742
@arivoir I don't think so. You can choose not to document them, it won't affect anything. If your generating a website using at tool tool of some sort, you'll want to consult their guidance on the matter. I'm going to close this question. Thanks for opening it, cheers!

[2020-04-07 20:32] #17742 closed

[2020-04-07 21:29] #13422 closed

[2020-04-07 21:29] #15176 closed

[2020-04-07 21:29] #16720 closed

[2020-04-07 21:47] rbhanda commented on #17638
As per the last update, this should get updated by 23rd April 2020.

[2020-04-07 22:23] arivoir commented on #17742
It's a pity. The internal and private comments are added for the sake of clarity and well documented code, but we don't want them to be translated(We offer localized intelli-sense), so it would be desired those comments not to be generated. It would be a good feature to add. I've seen people requesting it in other places.

[2020-04-07 23:00] Thraka commented on #17737
Hello. That snippet is just a sample of that parent node, if you go into the [docs for `<wsFederation>`](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/windows-identity-foundation/wsfederation#attributes) you get more information:

The URI of the intended token issuer. Sets the base URL of WS-Federation sign-in requests and sign-out requests Required.

So you could us

[2020-04-07 23:00] #17737 closed

[2020-04-07 23:03] Thraka commented on #17693
@rbhanda can you comment?

[2020-04-07 23:03] Thraka commented on #17638
Thanks! I'll add it to our milestone

[2020-04-07 23:42] rbhanda commented on #17693
I am unable to repro this. I followed the steps on https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804 and I was able to install dotnet sdk 3.1 on wsl.

[code]

[2020-04-07 23:45] #16702 closed

[2020-04-08 01:00] herohua commented on #17728
+ @cillroy

[2020-04-08 01:08] the-vampiire commented on #12486
so just to clarify, if i want `dotnet publish -o <out path>` to behave like _any other build tool i have ever used or heard of_ by **not duplicating and nesting the output** this is the logic i am faced with?

the flag called `-o` or in literal-flag `--output` defined from `dotnet publish --help` as:

[code]

needs to be replaced with an undocumented flag derived from the source code of the underl

[2020-04-08 01:15] the-vampiire commented on #12486
so just to clarify, if i want `dotnet publish -o <out path>` to behave like _any other ~~build~~ CLI tool i have ever used or heard of_  this is the logic i am faced with?

the flag called `-o` or in literal-flag `--output` defined from `dotnet publish --help` as:

[code]

needs to be replaced with an undocumented flag derived from the source code of the underlying builder.

and that flags name? ~

[2020-04-08 01:42] tdykstra commented on #12486
@the-vampiire I haven't seen the output directory get nested and duplicated on subsequent publish calls. Can you share the actual command you're repeating that has this result?

[2020-04-08 02:43] ozanyasindogan commented on #17715
Thank you Bill for the information. Under the light of your recommendations I have read some other articles as well as written for c++ and device drivers programming. I see that async code execution is far more complicated than running a separate thread like I was thinking before. It's handling of I/O completion ports, context switching, interrupt handling, signal / APC synchronising and many othe

[2020-04-08 02:43] #17715 closed

[2020-04-08 06:18] dasMulli commented on #12486
@the-vampiire The reason publish directories get nested is if you publish into the project's directory itself.

The csproj will consider all files and folders next to it as part of the project. Especially web projects will also mark all sorts of files as copy-to-output.

So if you publish again, those files already created on the last run are copied again. To not cause this, publish to a folder ou

[2020-04-08 12:12] jeremyVignelles opened #17754 "Package support information seems outdated"
The documentation reads :
&gt; .NET Core 2.0, 2.1, and 2.2
While, in my opinion, it should be
&gt; .NET Core 2.0 and later versions

Or is there a specific reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Version Independent ID: 9c6a7135-eb75-21a9-1d27-0880459523ca
* Content

[2020-04-08 13:21] pawarbi opened #17755 "Forecast does not match the chart"
According to the model output, the forecast values for 1/1/2012 and 1/2/2012 are 2334 and 2360, resp. However the line chart below the output clearly shows for 1/1/2012, the forecast (green line) is between 2500 and 3000 and for 1/2/2012 it's almost ~3000. This does not match the output table. My own analysis shows the chart is correct and output table is not.

https://docs.microsoft.com/en-us/dot

[2020-04-08 14:20] #11984 closed

[2020-04-08 16:01] tdykstra commented on #17754
@jeremyVignelles That refers to the NuGet package. For 3.0 and later System.Text.Json is included in the runtime, so the NuGet package is not used.

[2020-04-08 16:28] dagood opened #17757 "Add a document with guidance on how to ship an .NET app or library on Linux"
Other platforms have guidance docs for how to deploy applications and libraries on Linux, as part of the distro or as a third party app:

* https://fedora-java.github.io/howto/latest/
* https://docs.fedoraproject.org/en-US/packaging-guidelines/Mono/

.NET [Core] should have something similar.

@omajid looked into these and came up with some ideas:

---

Runtime-dependent apps using our packages (h

[2020-04-08 16:31] omajid commented on #17757
cc @tmds

[2020-04-08 17:01] #12188 closed

[2020-04-08 17:09] space-alien opened #17760 "Broken link"
Should link to: https://github.com/dotnet/runtime/blob/master/docs/design/features/tiered-compilation.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b4e642-6b61-128c-3eba-2f0ca8ff440c
* Version Independent ID: 4fe316ee-08aa-2989-af97-2bfc0f698f01
* Content: [Compilation config settings - .NET Core](https://docs.mi

[2020-04-08 17:15] tdykstra commented on #17681
@hamidullov What is the URL of the documentation article this question is about?

[2020-04-08 17:22] CeciAc opened #17761 "Event handlers are corrupted in memory."
@nathan130200 commented on [Tue Apr 07 2020](https://github.com/dotnet/docs.de-de/issues/179)

When i declare:

`public Action MyEvent;` first time i add an handler to event, works fine, the second and other handles that i try to add, corrupt event handler, and i cannot raise and manage this event. In debugger displays "Failed to ready memory" when i point cursor over event. An workaround i create

[2020-04-08 17:41] tdykstra commented on #17760
@space-alien Thanks!

[2020-04-08 18:06] #17760 closed

[2020-04-08 19:48] hamidullov commented on #17681
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test#filter-option-details

[2020-04-08 19:50] the-vampiire commented on #12486
here is the command (it occurrs with or without the PSF flag and for any RID)

`dotnet publish -c Release -r osx-x64 -p:PublishSingleFile=true -o build`

first call

[code]

second call

[code]

[2020-04-08 20:32] jonab12 opened #17764 "Edit for confusion"
On the line:

"protected: The type or member can be accessed only by code in the same class, or in a class that is derived from that class".

Please amend to:

"protected: The type or member can be accessed only by code in the same class, or in a class that is derived from that class for the current assembly".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-04-08 20:38] tdykstra commented on #12486
I'm not seeing that behavior. What SDK version are you using?

[2020-04-08 20:54] BillWagner commented on #16488
I spent some time investigating what to do here. This is the tip of a larger gap in our coverage. None (or almost none) of the attributes that the compiler interprets and uses are in the language reference (other than the spec).

There is one page in the programming guide for [caller information](https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/caller-information), and a page th

[2020-04-08 21:12] BillWagner commented on #17356
I wrote the plan on https://github.com/dotnet/docs/issues/16488#issuecomment-611189456

[2020-04-08 22:13] gewarren opened #17765 "Update Expression Blend references"
Expression Blend is now Blend for Visual Studio. We should update this article and any links to it:

https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/walkthrough-create-a-button-by-using-microsoft-expression-blend

[2020-04-08 23:26] the-vampiire commented on #12486
@tdykstra

[code]

[2020-04-09 01:05] dasMulli commented on #12486
@the-vampiire that's exactly what i explained above. you will see this behavior when publishing to a directory next to the csproj.
To resolve this issue, publish to a directory outside your project directory.

@tdykstra this happens with most web projects that mark json (and other) files as content for publishing. Once content was published into the directory of the csproj file, it will pick them

[2020-04-09 01:06] dasMulli commented on #12486
Sdk issue: https://github.com/dotnet/sdk/issues/8786

Alternative is to exclude the directory in the csproj file as metioned in https://github.com/dotnet/sdk/issues/8786#issuecomment-334891814

[2020-04-09 01:20] tdykstra commented on #12486
@dasMulli Thank you for the explanation!  Do you have any idea why I'm not able to repro the behavior? Does it depend on a certain setting in .csproj? If I can clearly describe the criteria for making it happen, I can add a warning/explanation in the dotnet publish documentation.

[2020-04-09 08:13] dasMulli commented on #12486
It should repro with:

[code]

And observe that there will be nested myouptut folders (b/c the build logic thinks the existing myoutput folder is part of your project on subsequent runs).

It should happen for all projects using web SDKs (so Worker, Web - not sure about Razor library SDK)

[2020-04-09 10:34] TheManTheLegend1 commented on #16698
what did I violate exactly?   DId I hurt someones feelings?

[2020-04-09 11:01] oskar opened #17769 "String is not a primitive type"
This article lists string as a primitive type but as far as `Type.IsPrimitive` goes, string is not considered a primitive type (`typeof(string).IsPrimitive` returns false).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5cb1365-bb1f-b869-84db-8400ffb223d2
* Version Independent ID: 6c4e9725-7689-b6a0-777d-e76e7999c138

[2020-04-09 12:48] BillWagner commented on #17764
@jonab12 I'm going to close this. The suggested change is incorrect. It describes the `private protected` access, not `protected` access. The current text is correct.

[2020-04-09 12:48] #17764 closed

[2020-04-09 14:19] BillWagner commented on #16698
First, my earlier comment addressed the concern with the content. I'll close this as answered.

Second,

This section of the code of conduct applies to the original title:

[2020-04-09 14:19] #16698 closed

[2020-04-09 14:32] kylelaverty opened #17770 "Missing nuget package and folder path"
While working through this tutorial I have found two issue:
- You need to add Microsoft.ML.OnnxRuntime as a nuget package, which is not mentioned.
- In the OnnxModelScorer.LoadModel method, there is a pipeline step of LoadImages(), the imageFolder property is set wrong. It should be referring to the class level property of imagesFolder.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-09 14:55] #6120 closed

[2020-04-09 15:01] abelbraaksma opened #17771 "Void is also a built in type"
We should probably include `void` into this list. It's a built in type, though it cannot be used directly, unless through reflection. We could also simply add it as a note or remark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe245daf-f6b8-1100-3786-b15feefe137b
* Version Independent ID: c031bb57-cb5b-f953-4711-a0e

[2020-04-09 15:08] tdykstra commented on #17681
See the note at the top of this page:  https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests

[2020-04-09 15:15] Thraka commented on #17761
This is an error in the Visual Studio watch/debugger.

01. The code works, if you add a method in your class to trigger the event, all four methods are triggered:
[code]

01. If you use VSCode you can add it to the watch and it doesn't get corrupted and you can debug it.

This makes me think it's a **bug in Visual Studio**. I would file a feedback item with them

![image](https://user-images.githu

[2020-04-09 15:15] #17761 closed

[2020-04-09 17:43] tdykstra commented on #12486
Thanks, I didn't realize it had to be a web project. I'll reopen this issue and add mention of this behavior to the documentation.

[2020-04-09 18:09] dasMulli commented on #12486
Maybe create a new issue, that's current behavior since 1.0 i think :)

[2020-04-09 18:43] hamidullov commented on #17681
All available tests
`dotnet test -t tests/WebApi.IntegrationTests`
[code]
I ran with various `--filter` options
[code]

[2020-04-09 19:18] jbobo opened #17773 "dotnet-install.sh doesn't correctly grab global.json sdk version"
https://dotnet.microsoft.com/download/dotnet-core/scripts/v1/dotnet-install.sh when run as `bash ./dotnet-install.sh --jsonfile ./global.json` grabs everything in `sdk` after `version` instead of only grabbing the `sdk.version` value.

Example of `global.json`:
[code]

[2020-04-09 21:00] bartonjs opened #17775 "Breaking change doc (3.0): The "BEGIN TRUSTED CERTIFICATE" syntax is no longer supported for root certificates on Linux"
## The "BEGIN TRUSTED CERTIFICATE" syntax is no longer supported for root certificates on Linux

Root certificates on Linux (and other Unix-like systems, not including macOS) can be presented in two forms: the standard "BEGIN CERTIFICATE" PEM header, and the OpenSSL-specific "BEGIN TRUSTED CERTIFICATE" PEM header.  The latter syntax allows for additional configuration that has shown to cause compa

[2020-04-09 22:27] tmds commented on #17757
These global tools pack .NET Core apps as distro packages: https://github.com/qmfrederik/dotnet-packaging.

I would really like .NET Core apps to be able to ship as part of standard distro repos. Unfortunately, I think the effort to completely build real apps from source is significant, and I'm not sure who would want to invest.

Packing as a 'global tool' is also an option.

[2020-04-10 02:25] the-vampiire commented on #12486
thanks @dasMulli i missed your message from before. that was definitely the issue.

and thanks @tdykstra for adding a warning. i was really confused because this wasnt documented anywhere

[2020-04-10 03:26] carlossanlop opened #17779 "Suggestions for "Build your first analyzer and code fix" tutorial"
1. In [this section](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix#find-local-declarations-that-could-be-const), this sentence has an extra "of" word:

2. I think the code examples should declare variables with the explicit type instead of `var` (basically, apply `IDE10008`. It would make it easier to understand what a method is returning

[2020-04-10 08:22] jeremyVignelles commented on #5485
I like that recommendation, is there anything new here?

We had a few discussions about the correct pattern [here](https://github.com/DotNetAnalyzers/IDisposableAnalyzers/issues/142) and [there](https://github.com/DotNetAnalyzers/IDisposableAnalyzers/issues/214)

[2020-04-10 10:16] gia01020304 opened #17782 "How can I make prediction from Retrained-Model"
Hello guy,
I followed your guide to retrain the model. After that how to make a prediction I tried using dataPrepPipeline.Append(retrainedModel) but the result of prediction did not look right.
Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0366cc46-bc07-44fd-72d9-d37b40bd5eca
* Version Independent ID: 5c20d

[2020-04-10 11:58] khteh opened #17783 "Guidelines on which are infrastructure framework not to be referenced in Domain Models"
Since there are increasing number of framework packages and increasing dependency on these packages to speed up application development, which packages are considered infrastructure and which are considered acceptable to be referenced in Domain Models class library project? The discussion here only limits to ORM and data persistence. It would be good to provide a scope and/or general guidelines an

[2020-04-10 12:09] asif48 commented on #17644
If anybody can answer my question?

[2020-04-10 13:28] tzehetner opened #17784 "UInt32 is missing"
The type mapping for UInt32 is missing in the type table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d377275c-52cb-2aec-79a1-a627b4ce539f
* Version Independent ID: 4532a56f-717d-1c0e-c3a4-1417e71f5630
* Content: [Data types - Microsoft.Data.Sqlite](https://docs.microsoft.com/en-us/dotnet/standard/data/sqlite/types#

[2020-04-10 14:41] BillWagner commented on #17779
Thanks for writing this @carlossanlop

I'll address it when I next update this article.

[2020-04-10 14:55] BillWagner commented on #17771
Thanks for raising this @abelbraaksma We should mention `void`.

I'm not sure this is the correct article though. `void` isn't mentioned in the C# specification on [Types](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/types).  There are many locations where a type identifier is used where `void` is not allowed:
- Type of a property or indexer
- Generic type arg

[2020-04-10 15:04] pkulikov commented on #17771
The minimum possible update is the link to the `void` article in the **See also** section (like it's for dynamic now).

[2020-04-10 15:05] tdykstra opened #17785 "Explain nesting of publish output folders"
See https://github.com/dotnet/docs/issues/12486#issuecomment-610772999

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools

[2020-04-10 15:05] #12486 closed

[2020-04-10 15:07] omajid commented on #17757
Is there such a thing as "shared" or "machine-wide" global tools? AFAIK, they are only looked up in the users's `~/.dotnet/...` directory, which makes it incompatible with the idea of packaging as a distro-package (rpm, deb, etc). AFAIK distro packages are explicitly not allowed (modulo hacks) to touch a user's `$HOME` on installation.

[2020-04-10 15:31] tdykstra opened #17786 "Document PublishSingleFile and PublishTrimmed options"
Document options added in 3.0 but missed in the 3.0 update of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/t

[2020-04-10 15:35] tdykstra commented on #17786
Duplicate of #13980

[2020-04-10 15:35] #17786 closed

[2020-04-10 16:13] wofguy opened #17788 "Step 5: decimal type and PI"
The challenge asks you to find the area of a circle and recommends using Math.PI. Since it just covered the decimal data type, I instinctively tried to use those in the equation. However, Math.PI is a double and can't innately be used with the decimal data type. I think that this needs to be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-10 16:35] #13980 closed

[2020-04-10 16:35] #17785 closed

[2020-04-10 16:48] tdykstra commented on #17773
@wli3 who can help with this?

[2020-04-10 17:16] abelbraaksma commented on #17771
Indeed, which happens to be an actual, public type, `System.Void`, even though it represents the absence of a type. And that actual type is very much built in, even though you can't instantiate it. It's internally represented as an empty struct.

You're right that it isn't a normal type. But users encounter it everywhere in their code, I'd argue it wouldn't hurt to add a note.

[2020-04-10 17:22] tdykstra commented on #17681
@smadala Should `!~` work with xUnit?

[2020-04-10 17:54] pkulikov commented on #17771
@abelbraaksma

Do they treat it as a type? For example, when I learnt C#, I didn't treat `void` as a type, I was told: "Want a method that returns nothing? Use `void`". That was like a special keyword. I doubt that when one encounters `void` in the code, one goes to the page about the built-in types. However, one would definitely go to the [dedicated article](https://docs.microsoft.com/en-us/dotne

[2020-04-10 18:26] abelbraaksma commented on #17771
Perhaps I'm viewing this too much from a theoretical stand point, in part from my background in functional programming, or even type theory. Likewise, where an empty set is also a set. And so, a type representing the absence of a type is also a type.

This may be a little too far from the practical day to day use, and you're right, maybe it's normally viewed as a keyword (https://docs.microsoft.co

[2020-04-10 18:49] pkulikov commented on #17771
@abelbraaksma the more I think about it, the closer to your point I am. To the very end of the article, I would add a shorter note that reflects the most common usage of `void`:

(In the paragraph above, "void" would be a link to the dedicated article.)

What do you think?

[2020-04-10 18:55] StingyJack commented on #17621
@fowl2 FWIW you can still use an app.config in a netcore app, if you use the System.Configuration package.  I use it often.

For data interchange, Json > XML (most of the time).
For configuration, XML > Json (all of the time, for the simple reason of built in commenting)

[2020-04-10 19:08] Thraka commented on #17784
According to the link at the bottom (https://www.sqlite.org/datatype3.html) it says that the `INTEGER` type in SQLite is **signed**. It wouldn't make sense to list the **unsigned** variants.

[2020-04-10 19:37] Thraka commented on #17769
@BillWagner Did we start changing this to "Simple types" instead of "Primitive types"??

[2020-04-10 19:49] tzehetner commented on #17784
It makes sense to list the unsigned .NET types, even if SQLite stores only signed integers. ;)

The documentation page says, that .NET types UInt16 and UInt64 are mapped to SQLite type INTEGER. UInt32 is missing, which is also mapped to INTEGER.

[2020-04-10 20:08] CeciAc opened #17793 "80/5000 Matrix [10] contains 11 elements instead of 10 as stated in the explanation above"
The comments below were machine-translated
@NiceShot commented on [Fri Apr 10 2020](https://github.com/dotnet/docs.de-de/issues/184)

An array actually stores in memory since [0]. In the example above, the array with the value of [10] reserves 11 elements in memory.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

[2020-04-10 20:15] tmds commented on #17757
It's not an explicit mode like `--local` and `--global`. It should work when pointing `--tool-path` to a folder that is on `PATH` for all users, though it would be nicer if this was a first-class install location.

`npm` has a `--global` install option which means: install an app for all users. It adds a symbolic link under `/usr/local/bin/`, the app files are placed under `/usr/local/lib/<command

[2020-04-10 20:22] pkulikov commented on #17769
`string` is not a simple type (in C#). [Simple types](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/value-types#built-in-value-types) are `bool`, `char`, and numeric types built in C#. That's according to the [spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/types#simple-types).

[2020-04-10 20:26] abelbraaksma commented on #17771
I agree, though I'd posit a slightly modified text (namely s/the/a) :

(rationale: there are other (uncommon) ways to write functions that don't return a value, there are also other uses for `void`, hence _primarily_, though your text wouldn't leave much questions either, I'm happy with whichever you choose)

[2020-04-11 00:02] gewarren commented on #17649
Remaining issues to fix:

[cats-april-2020.xlsx](https://github.com/dotnet/docs/files/4463751/cats-april-2020.xlsx)

[2020-04-11 00:48] DamianEdwards commented on #17265
@Thraka done dotnet/sdk#11243

[2020-04-11 03:08] NextTurn opened #17795 "Document the <PublishDir> property"
See https://github.com/dotnet/sdk/issues/9012#issuecomment-358496376.

A search showed that two issues that mentioned this have been closed.

https://github.com/dotnet/docs/issues?q=is%3Aissue+publishdir

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 943989

[2020-04-11 03:08] NextTurn commented on #17795
/cc @tdykstra

[2020-04-11 04:56] jo3w4rd opened #17796 "Escaping <>"
You really should discuss all the ways that &lt;&gt;'s need to be escaped in various situations. For example, in crefs, in normal comment text, in &lt;code&gt; and &lt;c&gt; elements, etc. You examples all conveniently sidestep this constant irritant. The move to DocFX adds additional complexity since it allows markdown in comments, and markdown has its own, often conflicting escaping rules for &l

[2020-04-11 08:06] pkulikov commented on #17771
@abelbraaksma thanks! I would use active voice in the final version:

@BillWagner what do you think? If you agree, I'll submit a PR.

[2020-04-11 08:19] svick commented on #17771
Even though `System.Void` is a `Type` in .Net and `unit` is a type in F#, `void` is not a type according to the C# specification. And I think the documentation of C# should follow the terminology of the specification.

Some parts of the discussion at https://github.com/dotnet/roslyn/issues/16191 may be of interest here, e.g. where Neal Gafter says:

(Though most of that discussion is about the Ros

[2020-04-11 08:33] abelbraaksma commented on #17771
@svick, the spec mentions that it's a type that represents the absence of a type. And as mentioned above, translates to a an actual type when used with `typeof` or when found through reflection. It's not a regular type, for sure (it's an empty struct, in fact), but it can be used in discovery. Since it's built in, we've argued it belongs on that page, with a note that it can only be used to indica

[2020-04-11 09:29] TuayTong commented on #13232
https://github.com/TuayTong/TuayTong-.gi

[2020-04-11 09:30] TuayTong commented on #13232
Sad  and very disappoint with my some one

[2020-04-11 10:59] Madhav1217 commented on #5416
##[error]COPY failed: stat /var/lib/docker/tmp/docker-builder487226741/ProjectManager.Api/ProjectManager.Api.csproj: no such file or directory
##[error]The process '/usr/bin/docker' failed with exit code 1

[2020-04-11 15:47] allanvas opened #17798 "Finalizers"
In the following text, the word Finalizers should be changed as shown:
Finalizers
Finalizers are used to destruct instances of classes. In the .NET Framework, the garbage collector automatically manages the allocation and release of memory for the managed objects in your application. However, you may still need finalizers to clean up any unmanaged resources that your application creates. There can

[2020-04-11 16:24] DickBaker opened #17799 "pointless complexity"
in the ComputeArea_Version3 .. ComputeArea_Version5 examples it is completely unnecessary to make all the special cases rather than just let the simple multiplications happen (which will return 0 anyway). Would be better if you could find a more interesting [if slightly more complex] case with a different outcome.
Please don't try to justify by performance (uSec) considerations, when the developer

[2020-04-11 23:39] antoinerc opened #17803 "Link not matching the reference"
In the third paragraph of this page, there is a link to supposedly "a good explanation from Greg Young in an online discussion", but the link send the reader to a blog from a completely different person with an opinion in opposition to Greg Young stance on the subject. There is no mention of Young in the article, which leads me to believe this is an error or the content of the article was modified

[2020-04-11 23:41] Rick-Anderson commented on #10546
In Visual Studio, conditional compilation symbols can be defined on the **Build** tab of the project properties page. In the following image, the conditional compilation symbol `MULTI` is defined for the **DebugMulti** configuration:

![image](https://user-images.githubusercontent.com/3605364/79057100-0a69cb00-7bf9-11ea-87cc-cfcb5c6cc7d1.png)

From the preceding image, it looks like, at least for

[2020-04-12 02:05] eatmorepies-dev opened #17804 "Parse"
Why isn't Parse and TryParse mentioned here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3f6afe5-2dd3-b300-c755-d7776e6240be
* Version Independent ID: e0d5233a-c5ac-c9d7-965b-26f3b162775c
* Content: [Type Conversion in the .NET Framework](https://docs.microsoft.com/en-us/dotnet/standard/base-types/type-conversion#f

[2020-04-12 21:27] BillWagner commented on #17769
I looked at the content, and the best term might be "builtin types", used in the [language reference](https://docs.microsoft.com/dotnet/csharp/language-reference/builtin-types/built-in-types). This page doesn't list all of those, but doesn't claim to be a complete list.

[2020-04-12 21:34] matthew45052 opened #17806 "How "thread-safe" ?"
This is just a request for clarification.  When the comment in the example says, "Raise the event in a thread-safe manner using the ?. operator." what exactly does "thread-safe" mean in this situation?  (I don't want to assume the C# language is taking care of every detail.)  For instance, if a subscriber of an event unsubscribes, is it guaranteed that the event will never be raised again?

Or cou

[2020-04-13 03:32] 333fred opened #17807 "Don't be specific about VS Code"
This can be used for either VS or VS Code, we shouldn't be specific here. I'd guess there are other locations as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c53405a4-8bde-8e99-db91-75f4b76ab6eb
* Version Independent ID: acba9d21-cfb1-29da-bcce-58155f707396
* Content: [#region - C# Reference](https://docs.micro

[2020-04-13 06:39] svick commented on #17807
I believe the article is actually talking about the Code Editor of Visual Studio, notice that the "outlining" link goes to VS-specific documentation. Though it's definitely confusing as it is now and should be rewritten.

[2020-04-13 10:41] shinfd opened #17809 "-f|--framework is listed in docs for "dotnet new console" but is hidden in CLI help"
Cannot tell which one is supposed to be authoritative, tying the report to docs.

Snippet of the output from `dotnet new console --help`:

[code]

[code]

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a960-abec-255dd907d04d
* Content

[2020-04-13 13:11] BillWagner commented on #17771
I agree with a note and referencing the article dedicated to `void`. I'll suggest this alternative wording:

Neal makes a lot of good points for not implying or stating that `void` is a type. As I mentioned earlier, the Types section of the standard does not reference `void`. The grammar for the `typeof` operator contains a special rule for `void`. Many other locations refer to a *type*, but do no

[2020-04-13 13:15] BillWagner commented on #17788
Thanks for writing this @wofguy
Yes, that should be specified.  I've added it to our next sprint to address.

[2020-04-13 13:18] BillWagner commented on #17793
@CeciAc I'm closing this because the content is correct. A declaration of `array[10]` declares an array with 10 elements. They are indexed with 0..9. In other words, the largest valid index is one less than the length of the array.

[2020-04-13 13:18] #17793 closed

[2020-04-13 14:16] GabriellaLaPlace commented on #15725
Do you want us to look up how to do this in command prompt or do you want us to copy the code and put it in visual studio?
"Using a terminal window, create a directory named classes. You'll build your application there. Change to that directory and type dotnet new console in the console window. "

[2020-04-13 14:16] BillWagner commented on #17796
That's a good point @jo3w4rd

I think this entire section will need to be updated. It was written for different tools than are typically used today.

[2020-04-13 14:19] BillWagner commented on #17798
Thanks for writing this @allanvas The suggested wording would be better.

I've added this to our backlog, and added the "up for grabs" and "good first issue" labels if any community member wants to address this before we update it.

[2020-04-13 14:22] BillWagner commented on #17799
That's a good point @DickBaker

I am always thinking about better examples that demonstrate features. I'll add this to our backlog to continue thinking on this one.

[2020-04-13 14:27] BillWagner commented on #17806
@matthew45052 That's a great question. Of the scenarios you point out, the only one that is possible is the disposed scenario. The `?.` syntax guarantees that the subscriber list is evaluated exactly once. That means if a subscriber is present when the subscriber list is checked against null, that subscriber list is not null when the event is raised.

A well-written subscriber would be safe: the u

[2020-04-13 14:27] #17806 closed

[2020-04-13 14:29] BillWagner commented on #17807
Good points.

I suggest replacing "Visual Studio Code Editor" with "code editor".

I've added the up for grabs and good first issue label to this issue.

[2020-04-13 14:39] perlmaster commented on #15725
thanks for the reply. I kept on working on this issue and a while ago I
have found what seems to be just what I need. If it doesn't work out I
shall send another message.

On Mon, Apr 13, 2020 at 8:16 AM Gabriella LaPlace <notifications@github.com>
wrote:

--

====================

Barry Kimelman
Winnipeg, MB, Canada

[2020-04-13 14:57] #17771 closed

[2020-04-13 14:58] abelbraaksma commented on #17771
@BillWagner, I just browsed a few C# books to see what wording they use, and they're not consistent. Some use phrases like "the void return type", others say something along the line "use void if the method does not return a value". _Essential C#_ goes furthest in explaining what it is:

![20200413_165418](https://user-images.githubusercontent.com/16015770/79130660-9d486800-7da7-11ea-8bad-bfa43389

[2020-04-13 15:00] abelbraaksma commented on #17771
(interesting, on mobile the picture is shown sideways on github, but on desktop it is shown straight. Odd.)

[2020-04-13 15:25] tdykstra commented on #17795
@NextTurn The `dotnet publish` CLI ref article already mentions `-p:PublishDir` as an alternative to `--output`. What more do you think needs to be said?

[2020-04-13 15:42] ToMakeSense opened #17812 "Inaccurate statement about installation directory"
The statement above is inaccurate.  **TLDR**, Visual studio is an 32-bit application, the installation directory depends on the bits of Windows system. if it's installed on 64-bit version of Windows. it's **drive:\Program Files (x86)**, if on a 32-bit version of Windows. it's **drive:\Program File**

On a 32-bit version of Windows, you just have a “C:\Program Files” folder. This contains all your

[2020-04-13 15:47] NextTurn commented on #17795
@tdystra AFAIK this property is not specific to .NET Core 3.x SDK and later. But I'm fine with it if you think it's good enough.

[2020-04-13 15:48] tdykstra commented on #17812
@ToMakeSense Thanks for pointing that out.  We'll fix it the next time we update this article.

[2020-04-13 15:53] shinfd commented on #17809
Ah. This may be due to the fact I have got template for only single version installed? My installation is a fresh install of .NET Core SDK via VS Community 2019.

Found a [comment](https://github.com/dotnet/docs/issues/5961#issuecomment-397468620) by seancpeters in #5961:

Might be appropriate to close this one then, if above issue will address the discrepancy between doc and CLI help, depending o

[2020-04-13 16:07] tdykstra commented on #17795
@livarcocc Per your comment about improving the documentation in https://github.com/dotnet/sdk/issues/9012#issuecomment-358496376 should we say anything additional about the `PublishDir` property in the `dotnet publish` article beyond what we added for https://github.com/dotnet/docs/issues/12486, i.e., a note about differences between `--output` and `-p:PublishDir` in 3.x.

[2020-04-13 16:15] tdykstra commented on #17809
Yes, on my machine with multiple frameworks installed, all are shown with `--framework` for `dotnet new console --help`.

[2020-04-13 16:15] #17809 closed

[2020-04-13 16:42] #17591 closed

[2020-04-13 16:46] tdykstra commented on #9154
@adam-c-anderson I just tried this and the implicit no-restore for `--no-build` seems to be working as documented. Do you still see restores happening for `--no-build`, and if so what version of the SDK are you using?

[2020-04-13 17:33] tdykstra commented on #13789
Addressed in azure-pipelines-tasks repo, closing here.

[2020-04-13 17:33] #13789 closed

[2020-04-13 17:37] tdykstra commented on #15942
ping @wli3 @livarcocc - question from dsplaisted

[2020-04-13 18:15] #11936 closed

[2020-04-13 18:32] tdykstra commented on #14986
Addressed by feature request, closing here.

[2020-04-13 18:32] #14986 closed

[2020-04-13 18:57] adam-c-anderson commented on #9154
Oh dear, 1.5 year old issue and submitted through docs.microsoft.com, so the usual cues to provide this information were missing for me. You can probably assume it was whatever the current version was at the time, but it's too long ago for me to recall now.

[2020-04-13 19:01] TobiasKnauss commented on #17591
The issue has been closed. When will the changes become visible?

[2020-04-13 19:04] tdykstra commented on #9154
Sorry for delayed response. Since I can't repro I'll close this issue -- if you run across the problem again in the future feel free to reopen.

[2020-04-13 19:04] #9154 closed

[2020-04-13 19:17] gewarren commented on #17591
The docs are published nightly PST, so this change should be visible tomorrow morning by 10 am PST.

[2020-04-13 19:18] tdykstra commented on #16895
Fixed by #17245

[2020-04-13 19:18] #16895 closed

[2020-04-13 22:20] #12371 closed

[2020-04-13 22:20] #16838 closed

[2020-04-13 22:20] #11890 closed

[2020-04-13 22:20] #16165 closed

[2020-04-13 22:30] #12788 closed

[2020-04-13 22:54] aalmada opened #17822 "Consumed vs. Observed vs. Unobserved in PipeReader.AdvanceTo"
I think in the following sentence from the PipeReader section,  the portion after the comma should be negated:

"Any other value will make the next call to PipeReader.ReadAsync return immediately with the observed and unobserved data, but data that has already been consumed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-04-14 00:07] gewarren commented on #16964
@os1r1s110 or @BenVillalobos Can you elaborate on why the shared resources won't work given this change? I'm happy to update the docs with this info. Is the fix to enable the shared resources to work to set EmbeddedResourceUseDependentUponConvention to false in the project file?

[2020-04-14 02:56] mairaw opened #17826 "No reference to SDK-style project"
The new MSBuild format is commonly referred to as SDK-style projects. This article doesn't index well for that search term. I'd include this somewhere in the intro.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa484235-d872-f50e-96fc-aa5b4a2a42fa
* Version Independent ID: 871c22e0-65a2-f3a4-41b9-f050489dba7a
* Conten

[2020-04-14 03:29] Camios opened #17828 "Unnecessary using directive"
I have a class "Foo" in the default namespace of an assembly "Abc". I have a class "Bar" in another namespace "Abc.Def" of the same assembly. Why is it that I can use "Foo" in "Bar" without adding a using directive "using Foo;"?
i.e. I had a using Foo; directive, but Visual Studio says it is unused. I remove it and the code compiles.
The same thing happens when I use Foo from Bar's unit test proje

[2020-04-14 10:10] zerocoins opened #17832 "Serializable attribute seems optional"
"An exception is thrown if you attempt to serialize but the type doesn't have the SerializableAttribute attribute"
I just created a simple example to test xml serialization and it all went well without exception being thrown, although I didn't mark my test class with Serializable attribute. It appears that it is optional, not mandatory.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-04-14 10:16] zerocoins commented on #17832
Also it appears that xml serializer ignores NonSerialized attribute and it expects XmlIgnore.

[2020-04-14 10:34] binhnguyen1984 opened #17833 "cannot refer to class's member with cref"
I have a class with a class's property named X. I want to inherit this property's documentation in a constructor's parameter, but it does not work. This case-study was not shown in this website.

[2020-04-14 12:23] BillWagner commented on #17828
Good questions @Camios

This is because `Bar` is declared in the namespace `Abc.Def`, all names in the global namespace, the `Abc` namespace and the `Abc.Def` namespace are in scope.

I'd need to see the code in Bar's unit test project, but my first thought is that the unit test project is in a namespace that's part of the `Abc` namespace.

I'll close this as an answered question. If you have more

[2020-04-14 12:23] #17828 closed

[2020-04-14 12:25] BillWagner commented on #17832
Thanks for writing these up @zerocoins
This article should be updated to improve the distinctions between XML and binary serialization.

I've added this it to our backlog to update when we next update this area.

[2020-04-14 12:30] BillWagner commented on #17833
Thanks for the question @binhnguyen1984

Have you checked [here](https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/cref-attribute)? That shows several examples of `cref`, including some for properties.

[2020-04-14 12:36] binhnguyen1984 commented on #17833
@BillWagner I have seen that one. But the cref refers to the whole method. There is also no param tag as in my case. I have checked inheritdoc with cref when using outside of param tag. It works fine. But whenever I put it inside the param tag to document the parameter, it shows nothing.

[2020-04-14 12:56] michkot commented on #8251
Replying to @BillWagner https://github.com/dotnet/docs/issues/8251#issuecomment-428765201

It the merging process finished or is there an ETA? As there seems to be flaws in the C#6 draft spec markdown that are not contained in C#5 ECMA standard 😢, see https://github.com/dotnet/csharplang/issues/3359 .

[2020-04-14 15:19] #16488 closed

[2020-04-14 15:19] #17356 closed

[2020-04-14 15:48] tdykstra commented on #12267
Agreed

[2020-04-14 15:48] #12267 closed

[2020-04-14 15:49] kuskmen opened #17837 "Multiple arguments example"
I am fairly new to the language and for me it was not obvious from the syntax specification that I can use tuple when declaring multiple arguments for interface method and that this is the preferred way if my api will be consumed by other .NET language.

An example with multiple arguments and also example with tuple notation (not only arrow notation) would be helpful.

---
#### Document Details

⚠

[2020-04-14 16:38] tannergooding opened #17838 "Sse/Sse2 CompareGreaterThan intrinsics behavior changed for .NET 5"
## Sse/Sse2 CompareGreaterThan intrinsics behavior changed for .NET 5

The following methods have been fixed to properly handle `NaN` inputs and match the hardware behavior of equivalent functions exposed in `Avx`:
* `CompareGreaterThan`
* `CompareGreaterThanOrEqual`
* `CompareNotGreaterThan`
* `CompareNotGreaterThanOrEqual`
* `CompareScalarGreaterThan`
* `CompareScalarGreaterThanOrEqual`
* `Compa

[2020-04-14 16:38] tannergooding commented on #17838
This will become relevant once https://github.com/dotnet/runtime/pull/34204 is merged

[2020-04-14 16:55] tdykstra commented on #17467
See the list of tutorials here:  https://docs.microsoft.com/en-us/dotnet/core/tutorials/

[2020-04-14 16:55] #17467 closed

[2020-04-14 17:12] #13339 closed

[2020-04-14 17:18] Thraka commented on #10031
@tarekgh I just really noticed this one. Can someone give a real example? I'm really unsure how to document this.. ?

[2020-04-14 17:35] bitobrian opened #17840 "Typo with --interactive in Synopsis?"
[Synopsis](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-restore#synopsis) shows `-interactive` instead of `--interactive`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198e4c22-ac0b-61de-3ae1-221a73957843
* Version Independent ID: 0873ec7c-9134-138c-97dd-ef96ca31ef23
* Content: [dotnet tool restore

[2020-04-14 17:49] tdykstra commented on #17840
Thanks for reporting that!

[2020-04-14 18:05] #17840 closed

[2020-04-14 19:18] Thraka commented on #17726
@squin I've identified the problem. I think the snippet included was too expressive and pulled from a later portion of the article. It should be an easy fix.

[2020-04-14 20:01] tarekgh commented on #10031
@nguerrera may advise more according to his comment https://github.com/dotnet/corefx/issues/34190#issuecomment-449181313. I believe the RootNamespace is not part of the core resources but it is something used in ASP.NET, WinForm, and WPF.

We have fixed the original issue in the code when having missing resources by listing the main folders of resources in the exception message.

[2020-04-14 20:28] nguerrera commented on #10031
I believe this can now be closed as a duplicate of https://github.com/dotnet/docs/issues/16964, fixed by https://github.com/dotnet/docs/pull/17044

cc @gewarren, @BenVillalobos

[2020-04-14 21:21] CeciAc opened #17845 "No code snippet"
Hi team,
this is reported in the zh-cn page but I checked it replicates in the other locales too,
It looks like an issue with the code boxes which get corrupted when translated

the comments below were machine-translated

@zyd2001 commented on [Tue Apr 14 2020](https://github.com/dotnet/docs.de-de/issues/189)

All code snippets on this page are not displayed

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.micr

[2020-04-14 21:42] #16634 closed

[2020-04-14 22:13] bricelam commented on #17784
It is missing. I'll add it.

[2020-04-14 22:19] bricelam commented on #17784
@Thraka An unsigned 32-bit integer fits just fine into SQLite's 64-bit integer type

[2020-04-14 22:36] tzehetner commented on #17784
@bricelam Thanks!

[2020-04-14 23:14] shivanshi18 opened #17849 "Not able to install dotnet-sdk-3.1"
When I try to run the command apt-get install dotnet-sdk-3.1

I am getting the error :
E: Unable to locate package dotnet-sdk-3.1
E: Couldn't find any package by glob 'dotnet-sdk-3.1'
E: Couldn't find any package by regex 'dotnet-sdk-3.1'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9f32d7f-c8f4-b900-4c5d-ea736709dd

[2020-04-14 23:58] Thraka commented on #17641
@OliaG Can you comment on the settings file?

[2020-04-15 00:00] Thraka commented on #17849
@shivanshi18 did you register the feed and key as the article says to do? I'm not sure how you validate that it was successful registering it.

[2020-04-15 00:01] shivanshi18 commented on #17849
Yes, I registered the feed as they were suggesting.

[2020-04-15 00:08] Thraka commented on #17784
@tzehetner @bricelam HA! sorry about that. I think my brain just saw the three Int* items and thought you were referring to that. Thank's for following up!

[2020-04-15 00:08] #17784 closed

[2020-04-15 00:10] shivanshi18 commented on #17849
There was some issue with sudo command for me. I installed sudo again on debian, executed commands again and the issue got resolved.

[2020-04-15 00:11] gewarren commented on #10031
I've been digging into this a bit more and it seems to me that we need to add this as a breaking change from .NET Framework to .NET Core, not just for .NET Core 2.2 -> 3.0/3.1.

Also, since the linked breaking change (https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0#resource-manifest-file-names) is categorized as MSBuild, I'm not sure that WinForms developers would necessarily fi

[2020-04-15 00:18] #17826 closed

[2020-04-15 00:25] gewarren opened #17850 "Update Visual Studio download link campaigns"
Some campaign links to download Visual Studio point to vs2017. We should change these campaign links to vs2019.

[2020-04-15 00:50] gewarren commented on #17822
"but **not** data that has already been consumed"? @Rick-Anderson

[2020-04-15 00:54] Rick-Anderson commented on #17822
@gewarren  I think you're correct. Do you want to PR this?

[2020-04-15 05:58] pkulikov commented on #10726
@BillWagner as part of the work on this issue, I would also like to move and revise the article about C# tuples (value tuples):
https://docs.microsoft.com/en-us/dotnet/csharp/tuples

I'd move it from the concepts part of the docs/TOC to the language reference part/TOC.
What do you think?

[2020-04-15 08:23] MortenBoysen opened #17855 "op_Inequality is missing from the "Overloaded Operator Names" table"
The op_Inequality should be documented with all the other operator names

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 755ef68a-6fc6-0a52-9e84-1435bdef3859
* Version Independent ID: e372c7bc-4be0-3f03-4ace-29b34a5d3085
* Content: [Operator Overloading - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-refer

[2020-04-15 10:27] lonewolfnsp opened #17857 "dotnet-install.sh error on linux mint 19 "unable to locate zlib""
I followed the instruction to invole the shell script in terminal in linux mint 19, after "chmod +x". I got an error: unable to locate zlib. probable prerequisite missing: install zlib

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-8

[2020-04-15 10:30] eremmel opened #17858 "ProcessNameFormat should get value 2 when process ID is requested"
In this article the value of 1 is used to change the naming schema from myapp#NN to myapp_PPPPP. But the value should be 2. The value 1 is the same as not having the value ProcessNameFormat in your registry.
I tested this with W10 64-bit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d7e7169-1d20-ca2a-1693-80dd82133f

[2020-04-15 10:39] mjhillman commented on #17641
So normally you would use appsettings.json in lieu of the settings file which would be configured in startup.cs.  The project template results in an application without a startup.cs file so the developer using this project template who is unfamiliar with .Net core applications will have no clues about how to replace the settings file normally present in a WinForm application.

[2020-04-15 11:21] GabriellaLaPlace opened #17859 "Where are we supposed to type dotnet run? Also, There is no option for my code to run in Visual Studio, and when I click debug it just opens an empty JSON file?"
Where are we supposed to type dotnet run? Also, There is no option for my code to run in Visual Studio, and when I click debug it just opens an empty JSON file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-c8a4-69cd-2b1a-9faacd282aab
* Content: [

[2020-04-15 11:34] emsteenbrink opened #17860 "DateTime.Parse is locale sensitive"
Entering "date = DateTime.Parse("11/16/2019 5:25 PM")" in the immediate window will result in an error for countries that adopt the dd/mm/yy notation instead of the mm/dd/yy notation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3290a-6511-5ef4-68bc-c2a8424dd582
* Version Independent ID: aeb94c3f-50e0-eb84-e469-f6

[2020-04-15 12:38] andrei-epure-sonarsource opened #17861 "Need more details for what can go wrong when using newer LangVersion than TargetFramework default"
I think it's pretty cool that I can build with MSBuild 16 and use a lot of the C# 8 features even if still targeting an old framework like .NET 4.6.1 for backwards compatibility.

However, the docs say:

It's a bit weird for the tools to *allow* to use a newer language version than default, and the recommendation to be not to do it, without providing too many details on *why*.

Can you please prov

[2020-04-15 13:55] xperiandri commented on #5989
So what about the sample?

[2020-04-15 14:42] BillWagner commented on #17845
@LadyNaggaga @dend Can you investigate?

[2020-04-15 14:45] BillWagner commented on #17859
Thanks for writing this @GabriellaLaPlace

You can issue the `dotnet run` command from the command line (either CMD, or Powershell) in the current directory.

If you are using Visual Studio, the "Run without Debugging" item on the "Run" menu builds and runs the current app.

We'll update this article with more details on both those steps. I've added the "up for grabs" label if others want to make

[2020-04-15 14:57] #17726 closed

[2020-04-15 16:03] BillWagner commented on #10726
I like this plan @pkulikov

It might make sense to trim the section on "discards", and combine it with the article on discards in general.  What do you think?

[2020-04-15 16:11] tdykstra commented on #17860
@emsteenbrink Thanks for reporting that, we'll fix it the next time we update this tutorial.

[2020-04-15 16:17] tdykstra commented on #17857
@johnbeisner Can you help with this?

[2020-04-15 16:18] pkulikov commented on #10726
@BillWagner what section do you mean?

I've thought about trimming the [section about deconstruction](https://docs.microsoft.com/en-us/dotnet/csharp/tuples#deconstruction) and referencing the [Deconstructing tuples and other types](https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct) article instead.

[2020-04-15 16:21] JasonCard commented on #17845
@DavidPrio @CeciAc please help to follow up on this issue.

[2020-04-15 16:27] srvbpigh commented on #17845
Hello, @CeciAc

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-15 16:35] Thraka commented on #17858
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-04-15 16:52] Thraka commented on #17804
Hi @eatmorepies-dev

I don't think `Parse` and `TryParse` really fit here. That's not really converting one type to another. It's interpreting a string to generate a type. However, it's covered in the [Parse strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/parsing-numeric) area.

I'm going to closet his issue, please feel free to follow up.

[2020-04-15 16:52] #17804 closed

[2020-04-15 16:55] #17499 closed

[2020-04-15 17:03] glopesdev commented on #4675
@ShaunLoganOracle , @jozefizso , @davidsh I have only now hit this problem with Windows 7 and I solved it simply by adding the following AppContext switch in the .exe.config file and placing it alongside the application:

[code]

Note that this is _the opposite_ of @ShaunLoganOracle proposal, where the same switch was used but set to **`false`**. Unfortunately, the switch name is a negative clause

[2020-04-15 18:00] Thraka commented on #17833
I'm pretty sure that inheritdoc is for the whole member, meaning, you want to just use their description of the entire member or thing, not a particular piece of the member. You can't inject another member's documentation inline with yours, you have to supply all of the documentation for the member. If you want to inherit the documentation of the base class for the *same* member, that is what `inh

[2020-04-15 18:41] gewarren commented on #17858
It would be good to verify if this is an intentional change with someone on the product team. @anipik Would that be you?

[2020-04-15 19:11] BrayanKhosravian commented on #15371
Could the team please add some more detailed explanation about the topic `thread-safe-delegate-invocation`
I mean thats a very interesting and essential topic imo. And there is only one line written:
`"Use the ?. operator to check if a delegate is non-null and invoke it in a thread-safe way (for example, when you raise an event), as the following code shows"`

Could the team explain why the `?.` o

[2020-04-15 19:12] BrayanKhosravian opened #17867 "Could the team add more information about the topic "thread-safe-delegate-invocation""
Could the team please add some more detailed explanation about the topic thread-safe-delegate-invocation
I mean thats a very interesting and essential topic imo. And there is only one line written:
"Use the ?. operator to check if a delegate is non-null and invoke it in a thread-safe way (for example, when you raise an event), as the following code shows"

Could the team explain why the ?. operato

[2020-04-15 19:38] Thraka commented on #17849
Ok. I'll close this issue then.

[2020-04-15 19:38] #17849 closed

[2020-04-15 19:40] Thraka commented on #17641
I wonder if the [try-convert](https://github.com/dotnet/try-convert) tool handles this?

[2020-04-15 19:41] #17822 closed

[2020-04-15 20:14] pkulikov commented on #17867
@BrayanKhosravian the section goes on with the following words:

That is thread-safe (in the sense that we are sure to invoke a non-null delegate) because it atomically takes the snapshot of event handlers into the `handler` variable. If `handler` is not `null` at the check `handler != null`, it's also not `null` when it's called like `handler(...)` (even if somebody subscribes to or unsubscribes

[2020-04-15 21:41] afbarksd opened #17873 "Importance of Using"
The note about using Using as an alternative to Try/Finally to avoid resource leakage is useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 870ea49c-ad84-f940-8d27-17c8b25beb97
* Version Independent ID: 285ef531-525a-8703-0f16-73a3c9e497b0
* Content: [Try...Catch...Finally statement - Visual Basic](https://docs.mic

[2020-04-15 21:48] dagood commented on #17537
The linux package repo team is now tracking this as a bug but haven't provided an ETA. They've made it clear they don't consider it high priority because this bug has been around a while and we have a workaround. (More info is on our ticket (internal Msft link, sorry): https://icm.ad.msft.net/imp/v3/incidents/details/182039364/home.)

It turns that, after all, we should incorporate this workaround

[2020-04-15 22:46] luisquintanilla commented on #17782
Hi @gia01020304 ,

What you want to do is either use the transforer itself

[code]

or create a PredictionEngine.

See the following resources on how to make predictions.

https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net

[2020-04-15 22:47] #17782 closed

[2020-04-15 22:55] #17355 closed

[2020-04-15 23:01] #17412 closed

[2020-04-15 23:07] BillWagner commented on #17463
@MarkMichaelis

Are you interested and have time to make the draft? If not, I'll start on this tomorrow, and ping you for review.

[2020-04-15 23:18] shivanshi18 opened #17874 "Getting error: Resource file "**/*.resx" cannot be found. [/ConsoleApp1.csproj]"
Not able to build the csproj as I am getting the error:
dotnet run
/usr/share/dotnet/sdk/3.1.201/Microsoft.Common.CurrentVersion.targets(3032,5): error MSB3552: Resource file "**/*.resx" cannot be found. [/ConsoleApp1.csproj]

The build failed. Fix the build errors and run again.
If the issue is:

- A simple typo or similar correction, consider submitting a PR to fix it instead of logging an issue

[2020-04-15 23:32] MarkMichaelis commented on #17463
@BillWagner

Sorry... lame.  Distracted with some other writing activities that you are aware of. :)

I can take a look at this in a couple of weeks if that works? I understand if it is more critical and you want to do it sooner.

Mark

[2020-04-16 00:21] #9354 closed

[2020-04-16 01:32] #17398 closed

[2020-04-16 01:44] luisquintanilla commented on #17770
Hi @kylelaverty ,

Which version of ML.NET are you using?

[2020-04-16 06:42] www741147 opened #17878 "没有翻译成中文"
没有翻译成中文

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a9c4bf74-8064-6c45-d5c8-2bbdb0113895
* Version Independent ID: 3250ed35-9410-87f6-ba3e-258c85fbc7f1
* Content: [Nullable reference types - C# reference](https://docs.microsoft.com/zh-cn/dotnet/csharp/language-reference/builtin-types/nullable-reference-types#feedback)
* Content Source: [docs/csharp/language-refer

[2020-04-16 06:58] luisquintanilla commented on #17637
dotnet/machinelearning#4982

[2020-04-16 10:58] MortenBoysen opened #17880 "Note about field names is incorrect"
In https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/migrate-request-reply#convert-the-datacontract-classes-to-grpc-messages the note states that "Remember to use camelCase for field names in your .proto file." However, the example uses "snake_case" which is also mentioned as the standard in https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-developers/pro

[2020-04-16 11:22] MikeMKH opened #17881 "'Range' is an ambiguous reference between 'Microsoft.ML.Probabilistic.Models.Range' and 'System.Range'"
As is example code gives the following when executed.

Program.cs(19,28): error CS0104: 'Range' is an ambiguous reference between 'Microsoft.ML.Probabilistic.Models.Range' and 'System.Range' [/matchup-list-app-infer/myApp/myApp.csproj]

Need to add a using statement to disambiguate the Range.

using Range = Microsoft.ML.Probabilistic.Models.Range;

---
#### Document Details

⚠ *Do not edit this se

[2020-04-16 11:36] misterspeedy opened #17883 "Install instructions don't work as documented"
I've followed these instructions both for Ubuntu 18.04 and 19.10.  In both cases, dotnet --info doesn't work at the end of the process ('command dotnet not found').  This is true whether you run it in the same shell, a new shell, or having logged out and back in again.

I used the installation commands from  the 'Register Microsoft key and feed' section, then the 'Install the .NET Core SDK' sectio

[2020-04-16 13:36] GabriellaLaPlace commented on #17859
I don't see a run menu. The are where there is an option to run, does not
let me select anything to run. It's nice that you guys are going to redo
the article. Also, I'm planning on watching the c# .net tutorials by
Microsoft on YouTube. I might try that dotnet run commands on the page,
later also.

On Wed, Apr 15, 2020 at 10:45 AM Bill Wagner <notifications@github.com>
wrote:

[2020-04-16 14:08] GabriellaLaPlace commented on #17859
I was trying to say. There is an option to choose something to run. But it
doesn't work. When I downloaded Visual Studio, I choose the .Net Option.
There is no run menu, in my visual studio.

On Wed, Apr 15, 2020 at 10:45 AM Bill Wagner <notifications@github.com>
wrote:

[2020-04-16 14:19] BillWagner commented on #17867
Thanks for writing this @BrayanKhosravian And for the explanation @pkulikov

It would be good to extend this with the text in the previous comment. That's a great explanation for why the `?.` operator provides the safety.

[2020-04-16 15:02] BillWagner commented on #17861
I understand your concern @andrei-epure-sonarsource

The article does mention the main areas of concern:

It's an unsupported scenario. The above notes are enough to know where and how you might be affected.

I'll close this as answered.

[2020-04-16 15:02] #17861 closed

[2020-04-16 15:41] BillWagner commented on #17463
@MarkMichaelis Thanks. I'm excited to see the results of your other writing. :)

This can wait a couple weeks. I'll work on the other items I have.

[2020-04-16 15:57] andrei-epure-sonarsource commented on #17861
Thanks @BillWagner . So it's only the well-known and well-communicated differences between .NET Framework support for C# 8 and all the other frameworks with full support.

Basically the first 3 issues in the docs are detected by the compiler, and the error messages are pretty clear and expected.

And only the last issue ("<Nullable>enable</Nullable>") can lead to weird runtime behaviors on .NET Fr

[2020-04-16 16:52] #17850 closed

[2020-04-16 17:08] TakaSoap commented on #17878
Check this: [https://github.com/dotnet/docs.zh-cn/blob/live/docs/csharp/language-reference/builtin-types/nullable-reference-types.md](url)

[2020-04-16 17:18] Thraka commented on #17883
@misterspeedy  Hi! I actually just ran into this too on Windows using the Ubuntu Windows Subsystem for Linux. Your video (thank you for making that!) confirms the same problem I ran into. For some reason the paste into your terminal isn't working correctly. When you copied the following:

[code]

And pasted it, the terminal stopped processing commands once `sudo apt-get install apt-transport-https

[2020-04-16 17:18] #17883 closed

[2020-04-16 17:21] Thraka commented on #17873
Thanks!

[2020-04-16 17:21] #17873 closed

[2020-04-16 18:10] misterspeedy commented on #17883
Oh, now that IS interesting, thanks.  I'll try and work out why/how the build-in copy/paste isn't working and report back here tomorrow.

[2020-04-16 18:10] misterspeedy commented on #17883
One thing I will say though - it is highly reproducible as I went through these steps about four times times today.

[2020-04-16 18:25] Thraka commented on #17883
Yeah same thing happened to me too which is very strange. I didn't try on a different distro though.

[2020-04-16 18:25] lonewolfnsp commented on #17857
I wish I could but I'm not that familiar with Linux and shell scripting
myself. The original script is way beyond me. Well I just copied the
commands into gedit and run them in the terminal line by line and it got
the job done. Yeah it's a stupid way, I know.

One thing though, the runtime installation might benefit from having an
ansible playbook since whoever needs it is going to have to install

[2020-04-16 18:31] Thraka commented on #17883
@misterspeedy Oddly enough though, too, I was working on adding file paths that get you should look for to validate it was installed: https://github.com/dotnet/docs/pull/17870/files

[2020-04-16 18:48] Thraka commented on #17537
@dagood Do you have a quick summery I can base the update on? Just a problem statement would be fine.

[2020-04-16 19:38] dagood commented on #17537
Do you mean something like this?

The SLES 15 Microsoft repository setup package installs the `microsoft-prod.repo` file to the wrong directory, preventing `zypper` from finding the .NET Core packages. To fix this, create a symlink in the correct directory.

[2020-04-16 19:47] CeciAc opened #17889 "It does it wrong when converting from float to int."
Hi team,
I moved this from here: https://github.com/dotnet/docs.tr-tr/issues/17

the comments below were machine-translated
@XLIVE99 commented on Thu Apr 16 2020

(int) returns the result (2.02f * 100) 201, but returns the result (int) (2.02001f * 100) 202.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91266ab9-071d-0

[2020-04-16 19:53] BrayanKhosravian commented on #17867
@pkulikov that makes sense and is exactly what i was looking for.
Thanks for the explanation.

[2020-04-16 20:16] mtttcgcg commented on #17693
I am not able to install on WSL, but I get a different error.
When I run:

wget https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb

I get:
packages-microsoft-prod.deb: Permission denied

Even with sudo.

[2020-04-16 21:36] gewarren opened #17890 "Monthly chores - May 2020"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check github.com/microsoftdocs/feedback/issues for .NET issues
- [x] Run [CATS tests](https://conte

[2020-04-16 22:09] Thraka commented on #17693
Odd, I installed WSL 2 yesterday and did Ubuntu 1804 and installed without a problem. 😢

[2020-04-16 22:51] Thraka commented on #17874
Hello  @shivanshi18  Can you provide more information about the article you're reading?

[2020-04-16 23:38] jkotas opened #17893 "Handling corrupting exceptions is not supported .NET Core"
## Handling corrupting exceptions is not supported .NET Core

### Version introduced

.NET Core 1.0

### Old behavior

Exceptions corrupting process state could be caught and handled by managed exception handlers (e.g. try/catch in C#).

### New behavior

Corrupted process state exceptions cannot be handled by managed code.

### Reason for change

Handling of corrupting exceptions is insecure and

[2020-04-16 23:56] gia01020304 commented on #17782
Thank you for replying me, but it could not help me solve the problem,
`MulticlassPredictionTransformer<MaximumEntropyModelParameters> retrainedModel` with method **Predict not found**.
When I create predictions from retrainedModel
` mlContext.Model.CreatePredictionEngine<IrisData,IrisPrediction>(retrainedModel);` I received an error **Features not found**

[2020-04-17 01:38] luisquintanilla commented on #17782
@gia01020304

The reasons for the first error is because a MulticlassPredictionTransformer doesn't implement the Predict method. Predict can only be called from a PredictionEngine which operates on a single instance of data. With MulticlassPredictionTransformer you can use Transform which operates on an IDataView.

The second issue I assume happens because I'm guessing the IrisData class does not

[2020-04-17 03:05] TD1958 opened #17902 "Need complete sample"
As a VB neophyte I found this only slightly helpful. Partial code doesn't help unless I can see it in the full context of application use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea6c1a14-20ea-eb4f-f2a6-3fe449ad8453
* Version Independent ID: 5d34a12b-0851-9096-5e4f-dbd2a94a8ee3
* Content: [Accessing Application

[2020-04-17 03:28] reflectronic opened #17903 "Docs incorrectly claim that decimal is fixed point"
This documentation seems to insinuate that `decimal` represents a fixed point number, when really it is a floating-point number like `double` and `float`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb6905a9-e9ec-df6f-5733-dfb25a41b97a
* Version Independent ID: fe0e2716-651b-a883-6371-ded1ace94a11
* Content: [Number

[2020-04-17 05:23] #17878 closed

[2020-04-17 05:53] pkulikov commented on #17903
Related (for the interactive tutorial): #17103

[2020-04-17 06:16] daveyostcom opened #17906 "Needs more explanation"
Explicit implementation could use more explanation as to why `public` has the effect that it does in the given example as well as in the other possible variations:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda601c2-3dbe-4ad1-db39-670cff3b654c
* Version Independent ID: 092fce57-ea16-c7a6-c85d-f6c111eba4eb
*

[2020-04-17 07:57] HugoRoss opened #17907 "Add remark about @-identifiers"
I miss the information of how @-identifiers are serialized as there are two possibilities that would make sense:

Results `nameof(@new)` in "@new" or "new"?
(The correct answer is "new")
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4b82de3-3121-209c-6dc4-6267f726dcfe
* Version Independent ID: 7c19d7e6-f241-2f7e-9dad-

[2020-04-17 08:25] adibiton opened #17908 "Confusing statements"
'Main must be static and it need not be public. '

And:
'public static void Main() { }'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6280abc4-899a-187d-1de4-1ea629ac5419
* Version Independent ID: 24dbcd84-98c0-421e-d586-5d081ce2ec34
* Content: [Main() and command-line arguments - C# Programming Guide](https://docs.mi

[2020-04-17 09:56] BenjaminAbt opened #17909 "Do not generally recommend DateTime for Databases"
The following is written in the DateTime section

And as a hint:

The section of DateTimeOffset contains the following:

The problem I keep seeing is that the developers continue to use DateTime and don't care about the timezone.

DateTime has many disadvantages when used in the database, including
- DateTimeOffset is SQL Compliant, DateTime is not
- DateTimeOffset has a date range from 0001 to 99

[2020-04-17 10:20] misterspeedy commented on #17883
Can confirm that copying the commands from the 'Install the .NET Core SDK' two lines at a time does work correctly.  As the issue is very reproducible (and the page does effectively encourage the user to copy all four lines with the 'Copy' button) I would still suggest some change to the page.  Maybe just break that section (and similar ones) into two?

[2020-04-17 10:55] HeinziAT opened #17910 "CoreFX"
What does the "FX" stand for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa071095-4eb6-20c1-ca26-f34da6fcbdf8
* Version Independent ID: 2b2efd49-b0c8-9a13-525a-d04c802d2bef
* Content: [.NET Glossary](https://docs.microsoft.com/en-us/dotnet/standard/glossary#corefx)
* Content Source: [docs/standard/glossary.md](http

[2020-04-17 10:56] WebFreak001 opened #17911 ".NET 5 target framework"
The predefined symbols inside the Remarks "Target Frameworks" sections don't include any information for .NET 5

Will it be
[code]
or
[code]
or something else? Will `NETFRAMEWORK`, `NETSTANDARD` or `NETCOREAPP` be defined with .NET 5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a331b150-4033-7629-75ad-9f9ea74f3ce5
*

[2020-04-17 11:59] petrroll opened #17912 "Misleading return types for range indexing: sub-array vs span"
The document doesn't explicitely mention the implications of range indexing for arrays (that are used in examples): that it creates a subarray that's a copy and not just a view (slice) while the used language `creates subrange` IMO hints that it's creating the latter.

This is further worsened by one of the examples `Span<int> x_y = numbers[x..y];` that suggests the idea that in this case a Slice

[2020-04-17 14:50] BillWagner commented on #17903
We also have this issue in the standard. We're planning to address it there, so I'm happy to see us fix it here as well.

[2020-04-17 14:55] BillWagner commented on #17906
Thanks for writing this @daveyostcom

The language prohibits any access modifiers on any explicit interface member implementation. This article should add that, and reference the language reference or specification.

[2020-04-17 14:56] BillWagner commented on #17907
Thanks for bringing this to our attention @HugoRoss

I've added it to our backlog to address. I've also added the "up for grabs" label for any community members interested in making this enhancement.p

[2020-04-17 15:02] BillWagner commented on #17911
Thanks for writing this @WebFreak001

I don't think a final decision has been made. I've added this to our list of articles to update for the .NET 5 wave.

[2020-04-17 15:04] BillWagner commented on #17912
Thanks for pointing this out @petrroll

We'll investigate and make updates

/cc @stephentoub for runtime and library details.

[2020-04-17 15:08] BillWagner commented on #17908
Thanks for pointing this out @adibiton

This is misleading, and we should add the following text after the list of valid signatures

I've added this to our backlog, and I've added the "up-for-grabs" label for any community members who want to make this update.

[2020-04-17 15:13] infinitylight opened #17916 "How to rasie the Event"
[Enter feedback here]
I afarid there is something is not good enough.
There is "The publisher determines when an event is raised; the subscribers determine what action is taken in response to the event."
and  "Events that have no subscribers are never raised.".
You known:
Event raised by  publisher,and whether there are subscribers only determines the subsequent operations(Whether to execute the c

[2020-04-17 15:15] gewarren opened #17918 "Clean up orphaned articles in repo"
Related to #17649.

[2020-04-17 15:18] stephentoub commented on #17912
Correct, this is one of the reasons I personally didn't want slicing on arrays (or alternatively wanted them to return spans).  It's way too easy to make this mistake.  We've just added an analyzer to help catch such issues:
https://github.com/dotnet/roslyn-analyzers/pull/3464
cc: @bartonjs

[2020-04-17 15:35] #17684 closed

[2020-04-17 15:59] #17867 closed

[2020-04-17 17:47] IEvangelist commented on #17916
Hi @infinitylight,

Thank you for reaching out and posting this clarifying statement. I typed up a quick example of what you're asking, and modified it a bit. With that said, I agree with the original documentation as it states that "events that have no subscribers are never raised".

With your example, when we call `.Notify()` the method does a `null` check on the `event` member. If there is not

[2020-04-17 17:55] #17916 closed

[2020-04-17 17:57] DaniaParvezAwan commented on #8451
what if I want to display the cluster formed and plot the results with respect to centroids?

[2020-04-17 18:41] nnpcYvIVl opened #17921 ".NET Framework 4.8 Windows 10 1909 Release Key"
The document shows two different release keys for Windows 10 1909 (aka November 2019 Update)
[code]

Can this be rewritten to be clear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c991-ab7382025406
* Content: [Determine which .NET Fram

[2020-04-17 19:20] kfsone opened #17922 "Coalescing getters"
There is a mundane use-case where getters do not currently help: a default-null property where null represents a fall-thru to a default value in another value/property:

[code]

Here, "PreferredName" is presumed to be the Name unless it is overridden with a non-null value.

This seems like a case that can be greatly simplified with a "coalescing get":

[code]

Using `??=` this way allows for a ver

[2020-04-17 19:26] KirillOsenkov opened #17923 "Document the difference between web, mvc, webapp, webapi and razor and when to use which"
Right now when I need to create a new website what should I choose? The templates look similar but with some differences. I think this should be documented with some good guidance for beginners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a

[2020-04-17 19:32] tdykstra commented on #17923
This is a question about ASP.NET Core project types rather than a question specific to `dotnet new` -- @Rick-Anderson Is there an article on how to choose the right ASP.NET Core project type?

[2020-04-17 19:34] Zastai opened #17924 "Adjust callback section (recursive call note)"
The document says not to pass through the options passed to a custom converter when recursively calling back into the serializer.

Looking at the current (4.7.1) code, not passing options (or passing null) ends up using some set of defaults, That to me means the recursive call may behave incorrectly (ignoring naming convention etc. set by the caller).
So perhaps the suggestion should be to remove

[2020-04-17 19:38] tdykstra commented on #17924
cc @layomia @steveharter @Jozkee

[2020-04-17 19:43] #17553 closed

[2020-04-17 19:43] #17722 closed

[2020-04-17 19:45] Rick-Anderson commented on #17923
Can you transfer this issue to https://github.com/dotnet/AspNetCore.Docs/issues

[2020-04-17 19:59] dagood opened #17925 "? Remove .NET Core install docs for EOL distros ? (improve experience)"
https://github.com/dotnet/runtime/issues/34043
https://github.com/dotnet/release/issues/331 (private repo)

@NikolaMilosavljevic @dleeapho

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172f0b88-61f2-d631-478f-e88af9be1f7d
* Version Independent ID: c610685f-57a2-048d-8dfa-146e19943434
* Content: [Install .NET Core on U

[2020-04-17 21:21] Zastai commented on #17924
(In fact, the not about future-proof option copying already applies, give .NET 5 is adding new ones. But perhaps that needs a dotnet/runtime ticket?)

[2020-04-17 22:41] gewarren commented on #17008
@RussKie Is this for Preview 1?

[2020-04-17 23:25] gewarren commented on #17921
@Thraka It looks like you added that info in response to https://github.com/dotnet/docs/issues/14931.  Should it say this instead?

`On Windows 10 and Windows Server, version 2004: 528209`

[2020-04-17 23:28] gewarren commented on #17910
I believe it stands for "framework".

"CoreFX is the foundational class libraries for .NET Core. It includes types for collections, file systems, console, JSON, XML, async and many others."

[2020-04-18 02:17] uncheckederror opened #17929 "The Reference to IHostingEnvironment is Obsolete"
In Visual Studio 2019 16.5.4 with dotnet core 3.1.3 the sample code in step 4 throws this error: "This type is obsolete and will be removed in a future version. The recommended alternative is Microsoft.AspNetCore.Hosting.IWebHostEnvironment."

The apparent solution is to swap "IHostingEnvironment" with "IWebHostEnvironment" on the first line in the sample code for step 4.

---
#### Document Detail

[2020-04-18 10:30] RussKie commented on #17008
Yes, .NET 5 Preview1
Thank you

[2020-04-18 13:08] HeinziAT commented on #17910
Well, I thought so, too, but there is no "x" in Framework.

Since the stated goal of the glossary is to _"clarify meanings of selected terms and acronyms that appear frequently in the .NET documentation"_, I think that this information (after it has been discovered) should be added here.

[2020-04-18 17:39] efesar opened #17934 "port-to-core"
"For a full list, see the CoreFX issues marked as port-to-core"

The link in this sentence to port-to-core leads to a deprecated project on GitHub.

https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3Aport-to-core

From that project's readme:

Going forward, the .NET team is using https://github.com/dotnet/runtime to develop the code and issues formerly in this repository.

Plea

[2020-04-18 18:23] matthew45052 opened #17935 "Consider using more standard English"
This is just a small nitpick, nothing technical, but I've seen it more than once in the documentation, the awkward phrase "You also can ..."

To a native English speaker who grew up in America (where I think Microsoft is headquartered), it grates on my ears whenever I read those words.  I'm 99% certain the normal order is "You can also ..." as in "You can also use the null-forgiving operator ..."

[2020-04-18 19:30] #17929 closed

[2020-04-18 20:35] tompazourek commented on #14282
The deconstruct example is actually not even valid C# code. It would be good to provide a better example or at least valid code.

My compiler throws:

[code]

The problem is the last line

[code]

of

[code]

The previous switch statements just capture all the possibilities -- or am I missing something?

[2020-04-19 01:25] austinHeisleyCook opened #17937 "i likwe this alot"
great optic good exampel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1503ba-55b3-177f-fb47-204bd5b19a64
* Version Independent ID: 241d90b0-13b9-ae00-276a-3f8b31db7fbe
* Content: [Command-line build with csc.exe](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/command-line-buildin

[2020-04-19 06:27] timrobinson33 opened #21232 "Define "factory method""
Both this page and the "logging" page (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1in) and probably others, use the terms  "Constructor Injection" and "factory method", but those terms aren't really defined. It would be really useful if the "Service registration methods" section explained what those terms mean and how they fit in with the different service

[2020-04-19 08:14] andreibessel opened #17938 "Thank yo"
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2b7453-076c-a18e-f999-cbd57ab13e60
* Version Independent ID: b687ed5b-5013-cceb-01e5-77f9cc7bb534
* Content: [Working with LINQ](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/working-with-linq#feedback)
* Content Source: [docs/csharp/tutorials/workin

[2020-04-19 09:09] wokhan commented on #17640
Hi, any update on this? What should we use instead? I started updating my projects to use Code Contracts when I was told it was deprecated....
Finally switched to C# 8.0 Nullables for some of those, but still...

[2020-04-19 13:51] OneBlueBird opened #17942 "Dockerfile"
Your dockerfile should look like below:

FROM mcr.microsoft.com/dotnet/core/sdk:3.1

WORKDIR /app

COPY . .

RUN dotnet publish -c Release

WORKDIR /app

ENTRYPOINT ["dotnet", "run"]

[Edited by gewarren to add document details]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Versi

[2020-04-19 15:35] DanieleScipioni opened #17943 "Help on targeting UWP"
In section Multi-targeting there is this example:
[code]
I tried to set these targets for UWP and net461 in csproj file in this way:
` TargetFrameworks>netstandard2.0;net461;uap10.0</TargetFrameworks>`
I found `uap10.0` listed at [Supported target framework versions](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#supported-target-framework-versions)
but the build fails with error
` er

[2020-04-19 16:43] DanieleScipioni commented on #17943
Maybe I found, this seems to work
[code]

Maybe the docs need to be updated

[2020-04-20 01:21] mstefarov opened #17946 "List actions that cause Task fault to be "observed""
This page makes it clear that exceptions thrown from Tasks should be "observed", but it is not clear what actions actually "observe" it.  As far as I know, the list of ways includes :
- `await`ing a task
- Calling Wait()
- Accessing Result property
- Accessing Exception property

@stephentoub's original TPL-in-net45 announcement (https://devblogs.microsoft.com/pfxteam/task-exception-handling-in-ne

[2020-04-20 01:45] stephentoub commented on #17946
It's anything that provides the exception to the consumer, which means direct access via Task.Exception or the propagation of the exception via .Wait/.Result/await/.GetAwaiter().GetResult().

[2020-04-20 03:45] richardszalay opened #17948 "'object' constraint statements appear to be incorrect"
&gt; Furthermore object is now valid as an explicit constraint. Absence of a constraint is now equivalent to an object? constraint (instead of object), but (unlike object before) object? is not prohibited as an explicit constraint.

Based on my testing, both these statements are untrue.

[code]

Both the above methods fail to compile with the error:

&gt; CS0702: Constraint cannot be special class

[2020-04-20 04:23] dev-eric-ernst opened #17949 "code snippets are for a different topic"
The code examples provided seem to be examples of StringReader or how to define multiline strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent ID: e186d0c4-523e-38f7-2cde-d00109ea784b
* Content: [using statement - C# Reference](https://docs.microsoft.com/en-

[2020-04-20 04:40] pstricks-fans commented on #8108
Maybe this function name should be changed to GetNumbers because the number of digits is not always single.

public IEnumerable<int> GetSingleDigitNumbers()
{
    int index = 0;
    while (index < 10)
        yield return index++;

    yield return 50;

    var items = new int[] {100, 101, 102, 103, 104, 105, 106, 107, 108, 109 };
    foreach (var item in items)
        yield return item;
}

[2020-04-20 06:46] GabrielZalisz opened #17950 "Process A should have Console.ReadLine(); as last line of code"
Please add Console.ReadLine(); as last line of code in process A.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcc02010-ec28-4e04-0881-7cd1d9d8b148
* Version Independent ID: c5261008-5deb-2af9-647f-f07ec56d9e47
* Content: [Memory-Mapped Files](https://docs.microsoft.com/en-us/dotnet/standard/io/memory-mapped-files#fe

[2020-04-20 08:40] gkeongit opened #17951 "Meaning of <NetStandardImplicitPackageVersion> element"
The statement "...you can use the &lt;NetStandardImplicitPackageVersion&gt; element in your project file to specify a framework version that is **lower** than the metapackage version." is a little bit confusing, especially, as the following example uses the element to specify a higher version.

If I got it right, it means, the element allows to specify a framework version that is **higher** than t

[2020-04-20 08:44] aannenko opened #17952 "Incorrect versions in latest.version this script refers to"
dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1/latest.version - returns 2.1.16, latest is 2.1.17 (same is true for dotnetcli.azureedge.net; dotnet/aspnetcore/Runtime/2.1/latest.version correctly returns 2.1.17)

dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1/latest.version - returns 2.1.804, latest is 2.1.805 (same is true for dotnetcli.azureedge.net)

dotnetcli.blob.core.windows.net/dotnet/Ru

[2020-04-20 08:47] aannenko commented on #17952
dotnetcli.blob.core.windows.net/dotnet/Sdk/2.2/latest.version - returns 2.2.402, not sure if the latest version is this one or 2.2.207

[2020-04-20 08:51] aannenko commented on #17952
All the above makes my script, which is based on this script, download non-latest versions: https://github.com/aannenko/dotnet-download

[2020-04-20 09:57] DrDelete opened #17953 "Collect option should --collect instead of -collect"
Collect option should --collect instead of -collect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test#feedback)

[2020-04-20 10:54] astrowalker commented on #16335
So how this problem was addressed finally? I am asking because all I can see is more explanation why the DEFAULTS are this or that way.

[2020-04-20 13:21] rselvarajbsd opened #17955 "What a mess!!!"

[2020-04-20 13:30] n-alex-white opened #17956 "-p:PublishReadyToRun isn't allowed in 3.1?"
Attempting to use this on the command line fails, with the following error

MSBUILD : error MSB1006: Property is not valid.
Switch: PublishReadyToRun

Not clear whether this is an error on this page, or an inadequate error message which doesn't explain what the actual problem is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-20 13:31] kylelaverty commented on #17770
Hey @luisquintanilla,

I am currently using 1.5.0-preview2.

Without Microsoft.ML.OnnxRuntime in the nuget package list, this is what I get when running the tutorial project:
[code]

[2020-04-20 13:45] luisquintanilla commented on #17770
Thank you for getting back to me @kylelaverty . Version 1.5.0-preview-x is still a preview version and the tutorials in Docs use the latest stable version 1.4.0. We will make sure to update accordingly once the next stable version is released. In the meantime, for preview versions, I would suggest taking a look at the API documentation where these things are updated for the respective versions.

h

[2020-04-20 13:45] #17770 closed

[2020-04-20 13:50] BillWagner commented on #17922
This is an interesting idea @kfsone

I'm closing this issue because the docs accurately reflect the current C# features. If you want the design team to consider this idea, you should open an issue and proposal in the [dotnet/csharplang](https://github.com/dotnet/csharplang) repository. That's where the team considers new features.

[2020-04-20 13:51] BillWagner commented on #17935
Thanks for bringing this up @matthew45052

Before I take action, I'd like to get more information on why this was done.

[2020-04-20 13:53] BillWagner commented on #17937
Thank you. Closing as kudos.

[2020-04-20 13:53] #17937 closed

[2020-04-20 13:54] BillWagner commented on #17938
Thank you for commenting @andreibessel

I'll close this as kudos.

[2020-04-20 13:54] #17938 closed

[2020-04-20 13:57] BillWagner commented on #17948
Ping @MadsTorgersen

I think this was updated to be the `notnull` constraint. is that correct?

[2020-04-20 14:03] luisquintanilla commented on #17721
Hi @martin-plessy

Thank you for your question. While it's certainly possible to reach 100% on the first try, and there are various factors that may contribute to this, it does not imply that the model will be correct 100% of the time and in fact the 100% may be misleading.

@justinormont thoughts?

[2020-04-20 14:03] BillWagner commented on #17949
Thanks for writing this @dev-eric-ernst

The snippets are correct. We chose the `StringReader` as the example class because it implements `IDisposable` and it's a common type. The declarations that initialize a `StringReader` all use the `using` statement.

Closing as by-design.

[2020-04-20 14:03] #17949 closed

[2020-04-20 14:08] BillWagner commented on #17889
@CeciAc Do you have any more details on this issue? The testing I did shows the correct result, and the documentation matches the behavior.

[2020-04-20 14:13] luisquintanilla commented on #17644
Hi @asif48

Thank you for your question. Using the SSA transformers, since you're only using a single value, the time series, there are few tweaks you can make to improve your model. One way to go about it is to tweak the parameters such as the window size. Another way, although it doesn't exactly factor in seasonality out of the box is to use one of the regression transforms to predict forecast v

[2020-04-20 14:13] #17644 closed

[2020-04-20 14:18] #12574 closed

[2020-04-20 14:23] XLIVE99 commented on #17889
When i try it on online compiler, result is wrong.
![Res](https://user-images.githubusercontent.com/30470295/79762449-78b23a00-832b-11ea-920b-a07114588da6.png)

[2020-04-20 14:38] heautio opened #17959 "Not able to execute at Linux-arm running at i.MX28 env"
I'm facing segmentation fault when executing .Net (linux-arm) at openwrt running at imx28 env.

My development env is Ubuntu 18.04.3 LTS and I'm able to cross compile other applications to the same target but not the Hello Word example from .Net. So I think my dev env is ok. I tried also the runtime binaries but the same issue is faced.

Here is the issue at target board:

root@openwrt:/usr/bin/do