[2018-06-08 23:32] mairaw commented on #5862
@jmlane I've created a PR to fix this: https://github.com/dotnet/docs/pull/5883

[2018-06-08 23:43] #5862 closed

[2018-06-09 02:50] brettrowberry opened #5885 "Value Options"
Did F# 4.5 add Value Options?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed1e23a2-091b-38be-3bbe-b3b38aa06aa5
* Version Independent ID: 431e250a-3588-7741-dd43-8021d6c7ffa8
* Content: [Options (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/options)
* Content Source: [docs/fsharp/language-re

[2018-06-09 02:53] cartermp commented on #5885
Yes, but F# 4.5 is not available yet. The type is in the latest NuGet package, but the language is not considered released yet.

[2018-06-09 03:35] mairaw commented on #3769
@colgreen I have created the following PRs to fix this issue:
https://github.com/dotnet/samples/pull/118
https://github.com/dotnet/dotnet-api-docs/pull/260

[2018-06-09 03:44] mairaw commented on #5875
Thanks for pointing that out @HarshaLaxman. We'll add information to the topic.

[2018-06-09 04:12] philosaurus opened #5887 "Typo in 'Executing Expression Trees'"
Multiple times throughout the document `LambdaExpression`s are referred to as `LamdbaExpression`s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 099c315d-61a7-604d-4761-b67a10a77c19
* Version Independent ID: 34c8488a-f657-6639-f91f-a63d16b3d3bf
* Content: [Executing Expression Trees](https://docs.microsoft.com/en-us/d

[2018-06-09 15:11] brettrowberry commented on #5885
Got it. Thanks, Phillip!

[2018-06-09 16:04] cartermp commented on #5885
NP. This and the other [FSharp.Core changes](https://github.com/fsharp/fslang-design/tree/master/FSharp.Core-4.5.0.0) will be documented fairly soon (i.e., within a few weeks or so).

[2018-06-09 16:53] tinhpbk opened #5889 "what kind Socket handler have?"
// Get the socket that handles the client request.
        Socket listener = (Socket) ar.AsyncState;
        Socket handler = listener.EndAccept(ar);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ecd86-1347-1820-06ed-01f3f6ae1f9f
* Version Independent ID: d60a9356-c3c6-e886-0aa8-96cc8878ccbb
* Content: [Asynchronou

[2018-06-09 17:21] OwenTrokeBillard opened #5890 "Optimal Degree of Dataflow Block Parallelism"
What is the optimal degree of parallelism? Specifically, are there any caveats to parallelizing blocks that perform short-running computations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b80f0bf-7d7d-af0e-da2a-0331579ff66a
* Version Independent ID: 9a42a7e3-311a-b837-39b9-bf4c7e52bfd9
* Content: [How to: Specify t

[2018-06-10 08:58] lpnam0201 opened #5892 "Link to LocBaml tool is dead."
Is there anyway to obtain LocBaml tool ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4baeeb7d-bba4-c8c5-6f54-97dc68a59aef
* Version Independent ID: d248598d-5657-1a8c-3f91-b37384243eff
* Content: [WPF Globalization and Localization Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/wpf-globaliz

[2018-06-10 13:26] pkulikov opened #5893 "API doc: not correct display of the implemented interfaces"
The [ColumnCopier](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.columncopier?view=ml-dotnet) doc displays implemented interfaces the following way:
![image](https://user-images.githubusercontent.com/15279990/41201963-27300dbe-6cc2-11e8-9aae-33e20d39633c.png)

Note the difference:
- The code snippet shows that two interfaces are implemented: `Microsoft.ML.ILearningPipelineIte

[2018-06-10 15:59] austinHeisleyCook opened #5894 "great documentation"
I love the detailed documentation about linq.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7857551e-2454-b536-e44d-fb6b14413d5e
* Version Independent ID: 2826bd18-b9ae-38b1-5004-9e575203dfeb
* Content: [Introduction to LINQ Queries (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/i

[2018-06-10 16:34] ztl8702 opened #5895 "CCW in .NET Core"
Is it possible to create CCW/RCW in .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ac4bb2-b2de-4a64-badb-8ac9727370de
* Version Independent ID: ecbed103-cbdf-f602-45ad-3843dea554e5
* Content: [How to: Create COM Wrappers](https://docs.microsoft.com/en-us/dotnet/framework/interop/how-to-create-com-wrappers#

[2018-06-10 16:47] r-k-pathak opened #5896 "Is memory for structure allocated in heap if use new key ?"
In value types, a struct is a special item which is eligible to be initialized using the new keyword with the parametrized constructor.
so if we use new keyword then memory allocation for struct takes place in heap or stack ?.
I am asking this because if we declare the structure inside the class then we can not  initialize it  by accessing it through instance of class for ex.
&lt;instance of the C

[2018-06-10 16:50] pkulikov commented on #5841
@danvanderboom that's a good catch! Thanks for reporting it. The dotnet/samples#119 PR fixes the issue.

[2018-06-10 17:56] svick commented on #5893
[It looks correct in the XML:](https://github.com/dotnet/ml-api-docs/blob/1b1e26d/dotnet/xml/Microsoft.ML.Transforms/ColumnCopier.xml#L14-L21)

[code]

I think there could be two things that are confusing the system:

1. `ITransformInput` doesn't seem to be in the part of ML.NET that's included in API reference.
2. `ITransformInput` is nested in the `CommonInputs` class.

[2018-06-10 20:44] colgreen commented on #3769
@mairaw Thanks. Yeh looks good.

[2018-06-10 21:22] Parusov opened #5899 "Broken link"
http://schemas.microsoft.com/ws/2008/06/identity/claims/role does not work for me and result in "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1597a0b7-494d-0cca-bc54-e432719d2256
* Version Independent ID: 17d1429f

[2018-06-11 00:31] brandonwittwer commented on #5278
I agree it's no exact science.  Contexts can grow complex enough to decompose into multiple contexts.  And perhaps my usecase would natuarlly stay within one context, or grow independently into it's own neighborhood of services and domain.  In your definition: The order history service, with it's own read only datastore and services still remains within the "order" microservice and is therefore ve

[2018-06-11 00:34] BillWagner commented on #5894
Thank you @austinHeisleyCook We're glad you appreciate it.

[2018-06-11 00:34] #5894 closed

[2018-06-11 00:36] brandonwittwer commented on #5278
Either way, I think one good thing that's come from this conversation is a better understanding of what was meant by "business" Microservice in that it simply contained a business concept.  And that another  service that did authentication wouldn't have gotten the moniker.  That would be good to clarify in the article, as I thought that "business microservice" meant something much more than "Micro

[2018-06-11 01:57] #5863 closed

[2018-06-11 02:14] #5860 closed

[2018-06-11 02:57] BillWagner commented on #5638
We should remove this sentence. You have to write some very contrived code to demonstrate this issue:

[code]

The compiler decides that `C` is the variable, but it could be parsed either way.

[2018-06-11 04:41] b3bb commented on #5308
@BillWagner: PR in [dotnet/samples](https://github.com/dotnet/samples) and source code is samples/snippets/csharp/VS_Snippets_CLR_System/system.enum.class/cs/classiterate.cs ?
Is that correct?

[2018-06-11 05:55] charliegdev opened #5901 "Necessary Settings in lanuch.json to Make VS Code Debugger Work"
I'm not sure how this works on macOS, but at least on Windows 10, I need to change some settings in `launch.json` to make VS Code's debugger work.

Locate the configuration with `"name"` of `".NET Core Launch (console)"`. Change the `"program"` field's value to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33

[2018-06-11 06:17] #5402 closed

[2018-06-11 09:35] tsahi opened #5903 "How about using newer language constructs?"
How about using syntax like

    protected virtual void OnShapeChanged(MyEventArgs e)
    {
        ShapeChanged?.Invoke(this, e);
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 797ea358-4ed7-9152-dc7e-f4911ce58068
* Version Independent ID: e43c69e0-e4f5-a171-72e8-1f1f2f6b71e9
* Content: [How to: Implement Interf

[2018-06-11 11:34] BillWagner commented on #5308
Yes, @b3bb that's correct. Can you tag me in a PR? I'll watch for it.

[2018-06-11 12:56] infoberg commented on #5272
still zero documentation after nearly 2 1/2 months?

[2018-06-11 13:54] svick commented on #5903
I agree that using C# 6.0 features in that example makes sense. Do you want to make that change?

[2018-06-11 14:00] richardrob24 commented on #5863
Looks good! thank you!

[2018-06-11 14:23] mairaw commented on #5272
The plan is to actually remove that page @infoberg. I’m handling that today.

[2018-06-11 14:53] BillWagner commented on #5903
Thanks for pointing this out @tsahi

As @svick mentioned, we should be using the newer features. Several of our older examples predate those features. If you'd like to submit a PR to make the change, I'll watch for it and merge it.

[2018-06-11 15:11] scottaddie opened #5904 "Create an item template creation tutorial"
My past couple of conference talks have demonstrated creation of item templates and installing them with the .NET Core CLI. The feedback has clearly indicated that customers aren't aware this can be done. We should create a tutorial that walks through creating an item template, installing it with `dotnet new`, and using it. The creation instructions should show examples of if statements, loops, an

[2018-06-11 15:46] tsahi commented on #5903
Sure, I'll try to get to this in a day or two.

[2018-06-11 19:01] dsplaisted commented on #5829
It is not up-to-date.  Here is the latest source code: https://github.com/Microsoft/msbuild/blob/master/ref/Microsoft.Build.Utilities.Core/netstandard/Microsoft.Build.Utilities.Core.cs#L152

I think the issue is that the API docs are showing the APIs from Microsoft.Build.Utilities.v4.0.dll, which is not the current version of the MSBuild APIs.

[2018-06-11 20:13] Mikejo5000 commented on #5829
It might be good to get some input from @mairaw for how to manage the version issues... Maybe we could (1) provide notes in the .NET APIs with links to the GitHub source code (current version) and/or (2) Reflect over the current APIs, make them available in the .NET API Browser like some of the Visual Studio extensibility APIs. For the latter solution, however, it's possible we would have to set u

[2018-06-11 20:17] daple opened #5906 "Very good first 101 on testing"
Found this tutorial to be more than easy to follow. worked like a charme with no Errors in the given Code. Thumbs up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39c2f1b-f41a-bdf9-2646-09379941453d
* Version Independent ID: 422811cb-6287-03af-ba8d-1daebee9744d
* Content: [Unit testing C# code in .NET Core using dot

[2018-06-11 20:23] BillWagner commented on #5906
Thank you for the compliments on the article @ardalis wrote. We're glad it helped.

[2018-06-11 20:23] #5906 closed

[2018-06-11 20:23] dsplaisted commented on #5829
As a comparison, it looks like there aren't any Roslyn APIs on docs.microsoft.com.  Instead, there is http://source.roslyn.io/ for browsing its source.  So maybe we could just update the docs with a message that these APIs are outdated, with a link to where to browse the current ones.  We could set up a source browser site for MSBuild, or maybe we could just use fuget.org: https://www.fuget.org/pa

[2018-06-11 20:30] mairaw commented on #5437
@CESARDELATORRE please close this once you're done with all the 2.1 updates.

[2018-06-11 20:54] mairaw commented on #4141
@terrajobst is your PR ready for final review? Or do you still need to some work?

[2018-06-11 21:02] mairaw commented on #806
Let's turn this into a project and come up with a list of topics/work items that need to happen to make progress on this.

[2018-06-11 21:13] squillace commented on #806
Happy to help. we already have dotnet core docs for csharp and fsharp with core on Linux containers out there..... My team does the kubernetes code extension, and share work on the docker extension for core.

[2018-06-11 21:43] SteveLasker commented on #806
Happy to help.
ACR Build: https://aka.ms/acr/build supports simple, local scoped/pre-commit builds to git-commit, automated builds with OS & Framework patching. We just added docker hub based images, with ARM qemu builds for IoT scenarios.  We'll have windows container builds, with all supported bands, 1709, 1803, ... coming later this month.

[2018-06-11 22:45] terrajobst commented on #4141
No because I'm terrible at finishing things recently (or maybe ever? 🤪). I'll try to finish it this week.

[2018-06-11 23:56] mairaw commented on #4141
I know how it goes. No worries. 😄

[2018-06-12 00:08] mairaw commented on #5829
That is not true. See https://docs.microsoft.com/en-us/dotnet/api/?view=roslyn-dotnet. It's configured in a separate repo.

Yes, I think you would need a new repo for that. However, I don't know if docs has the ability to show two different pages for the same API depending on which product you selected. @dend can you comment on that?

[2018-06-12 00:31] dsplaisted commented on #5829
I see.  I searched for an API from Roslyn and it didn't show up.  Now I see that was because the context I was searching for was probably in .NET 4.7.2.

[2018-06-12 01:10] mconnew commented on #5443
@reinfallt, I'm going to help the best I can but your question is lacking some details required to give you a full answer. The article is using an unusual way of basically returning a URL for the client to use to connect to the service. There are multiple ways you could achieve what you are looking for but it would depend on how you implement the call dispatch on the server side. When you call `IR

[2018-06-12 02:41] thiagoboccio opened #5910 "Which Trainer best fits my need?"
I'm developing a simple project to predict names, based on name first letter and name gender.
Which trainer would you use and why?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d2565e22b237
* Content: [ML.NET tutorials

[2018-06-12 05:42] seangwright opened #5911 "--version-suffix description is incorrect"
The description is `Defines the version suffix for an asterisk (*) in the version field of the project file. The format follows NuGet's version guidelines.`.

Testing with the .NET CLI v2.1 I get errors like the following when including an (`*`) anywhere in my `<Version></Version>` element in my `.csproj`

`'*' is not a valid version string.`

I have tried the following in my `.csproj`

`<Version>

[2018-06-12 05:53] mairaw commented on #5910
@OliaG @asthana86 can one of you help with this question? Should I move this to the dotnet/machinelearning repo? Thanks.

[2018-06-12 06:01] nullkiller opened #5912 "List of sql types which is supported by this property"
I tried to find any information regarding if Precission property supports datetime2. Here it is said that it is only for decimal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ca2be3-5c19-925e-5b3c-d4c72605d30b
* Version Independent ID: cc80e209-dd82-7893-75ba-11ca3d69552c
* Content: [SqlParameter.Precision Property

[2018-06-12 06:22] mairaw commented on #5904
@scottaddie should we update this [topic](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template) for this?

[2018-06-12 07:51] mairaw commented on #5912
@douglaslMS can you take a look at this one?

[2018-06-12 10:19] FrancescoBonizzi opened #5914 "Why is the SqlDataReader not disposed in this example?"
Why is the SqlDataReader not disposed in this example? I thought that it should be enclosed in a using statement or disposed after using it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a332d5-d37a-aab8-880f-a9d3d3cee053
* Version Independent ID: de5755fd-9dc0-a7fb-627f-2992ac560ec7
* Content: [SqlDataReader.Close

[2018-06-12 13:05] 0x53A opened #5915 "The .NET Framework row is sligthly misleading"
The small footnote (1) is really inconspicious. I can understand that you want to sweep this under the rug, but it is important to know what is supported where.

The old table looked like this: https://cloud.githubusercontent.com/assets/4236651/26560789/86e0a85e-44b9-11e7-9e8f-427ad198a3cf.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-06-12 14:22] stevegiergiel opened #5916 "Cant replicate expected results - seems to give only one result not as listed?"
The average score of Tucker Michael is 92.
Press any key to exit.

What have I done wrong please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882a8aeb-491a-dc1a-6642-21d1d46cb989
* Version Independent ID: 2c8774e7-feec-bb26-89a8-ba92b8340a0c
* Content: [How to: Populate Object Collections from Multiple Sources (LINQ

[2018-06-12 15:02] svick commented on #5915
Why do you think it's important to prominently document what the .Net Core SDK 1.x did? As far as I know, there is no reason to use that. Even if you want to target the .Net Core runtime 1.x, you can use the .Net Core SDK 2.x for that.

[2018-06-12 15:05] gencebay opened #5917 "MsBuild or Command Line Integration, CI and Publish"
Can I publish WCF service library project with auto generated *.svc and web.config files that integrated CI pipeline. (VSTS, TFS, Task or Command Line).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74770e0d-c48a-8355-8e73-c8afb968a7ac
* Version Independent ID: 686d2fa7-335b-8fb7-0c44-85231d49a4d8
* Content: [WCF Serv

[2018-06-12 15:12] #5903 closed

[2018-06-12 15:27] scottaddie commented on #5904
@mairaw I propose we add a new section, called "Create a template from a file", to that doc.

[2018-06-12 15:41] svick commented on #5915
As far as I can tell, VS2015 only supports *preview* versions of .Net Core tooling 1.0. I don't think the documentation should focus on what old, preview versions do.

[2018-06-12 15:55] BillWagner commented on #5447
There are "get started" topics xrefed for C# in the .NET Core guide that are heavily Visual Studio focused:

https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio
https://docs.microsoft.com/en-us/dotnet/core/tutorials/library-with-visual-studio

And, xrefed for VB guide:
https://docs.microsoft.com/en-us/dotnet/core/tutorials/vb-with-visual-studio
https://docs.microsoft.com/en-u

[2018-06-12 16:00] 0x53A commented on #5915
But it's not even about .NET Core, it's about full framework and old csproj format.

[2018-06-12 16:35] gewarren commented on #5447
Yes we may want to think through this more. Jeff Gao is driving an effort to move language-specific topics out of the VS docs now, and have more language-agnostic topics possibly using conceptual tabs.

[2018-06-12 16:52] douglaslMS commented on #5912
@nullkiller The datetime data types don't require or support a Precision property, you're correct. They are "fixed" at the size required to contain the expected range of values at the specified level of accuracy. For example, for datetime2:

[2018-06-12 16:53] dasMulli commented on #5915
There is a .NET Standard 2.0 support package for VS 2015 but it has some problems that should be about to be fixed soon (https://github.com/dotnet/sdk/issues/1539). It requires manually installing the newest VS 2015 NuGet VSIX from https://www.nuget.org/downloads and following the download links it prints out when you're trying to reference .NET Standard NuGet packages.

Otherwise I agree that the

[2018-06-12 16:57] SidShetye commented on #5860
@douglaslMS there are still many things missing in order to make it functional. For example, what is the function signature for such a fill-row method? How are the inputs and outputs setup? What about the types for the inputs, outputs (`Sql**` types or native CLR types) etc.

IMHO currently it reminds me of a joke, where a lost man asks a pedestrian "I'm lost. You know where I am?" to which the pe

[2018-06-12 17:06] douglaslMS commented on #5860
@sid Your request goes beyond the scope of the present article, which merely holds the name of such a function. This attribute is used when you're using SQL Server's CLR Integration to code a table-valued function in C#. Here's the most relevant article that gives you a more complete picture, including the use of this property in the SqlFunctionAttribute, and including a sample "fill row" method:

[2018-06-12 17:15] 0x53A commented on #5915
It woud be great if that information (link to the support package) could be added there. And even then, if the tooling is a manual installation (in contrast to an automatic update), then I'm not sure if I can expect everyone to have it installed.

So I still think the information that VS2015 supports NET Standard 1.4 (NET 4.6.1) and NET Standard 1.5 (NET 4.6.2) out-of-the box, and NET Standard 2.0

[2018-06-12 17:33] pkulikov commented on #3575
@safern @ianhays @BillWagner during the work on fixing this issue, the interface docs (ones of both `IEnumerable` and `IEnumerator`, both non-generic and generic) have been revised.

One of those revisions is PR dotnet/dotnet-api-docs#247 that rephrases the part related to this issue in the following way:

Note that the remark about *invalidated* enumerator is gone. That is because there are colle

[2018-06-12 17:51] dasMulli commented on #5915
4.7.1 still needs some facades. Only 4.7.2 has all the assemblies in-box that are needed to use csc only if you have dll references. But even for 4.7.2 there are some corner cases that are still not fixed without tooling support - https://github.com/dotnet/sdk/issues/1738

The same happens in VS 2017, only that the extension targets are preinstalled into VS.

cc @leecow about the link - I think I

[2018-06-12 18:02] #5638 closed

[2018-06-12 18:35] mairaw commented on #5915
@0x53A I wouldn't call that information a lie. It's what's currently supported in the most current versions of the SDK.

We decided to remove the 1.0 SDK information because it was causing confusion and I had several people requesting me that I clean that up on that doc. You can see the changed versions on the standard repo that we link to from the article: https://github.com/dotnet/standard/blob/

[2018-06-12 18:47] beep2bleep opened #5922 "Where can we get these images?"
Where can we get these images?  I can use the code but without the images, it's just blanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8cfc99-5f8b-b754-69f1-4e5b9ce361a8
* Version Independent ID: 88d7a127-c80b-2043-9dd8-d12e157d7f1f
* Content: [RichTextBox Overview](https://docs.microsoft.com/en-us/dotnet/framew

[2018-06-12 18:51] 0x53A commented on #5915
Apologies, "lie" was a bit aggressive and unconstructive.

I mean, the status-quo IS really confusing, because it is complex. But I am not sure if removing / hiding information reduced that complexity ...

Practically, the table serves two purposes:

* what can I produce?
* what can I consume?

Normally, I would expect both of these to be the same, if they aren't, then it might be good to explicit

[2018-06-12 18:56] SupraBitKid opened #5923 "Confusing code in IDbCommand.Parameters doc"
It looks like there are two chunks of code in the example that add parameters to the collection:
1)    `command.Parameters.Add(paramArray);     `

2)
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ff628ea-391b-854b-af00-7933fd43b453
* Version Independent ID: 10ad07c4-d778-af19-fb68-cff8e0db3bc0
* Content: [IDbC

[2018-06-12 19:40] svick commented on #5922
Are you talking e.g. about where the image from the line `<Image Source="Images\EditCut.png"></Image>` is? It's included in [the sample project in the dotnet/samples repo](https://github.com/dotnet/samples/tree/22ecc35/snippets/csharp/VS_Snippets_Wpf/RichTextBox_InputPanel_snip/CS). I guess adding link to that to the article would be helpful.

[2018-06-12 19:42] beep2bleep commented on #5922
Yes those were the images I was looking for, thank you.

[2018-06-12 20:12] mairaw commented on #5899
Thanks for your feedback @Parusov. @brentschmaltz I don't know about to do about these WIF topics that are using these URLs. Can you please advise?

[2018-06-12 20:15] mairaw commented on #5321
This was moved to our backlog as a P3 work item @infoberg. We'll need @brentschmaltz to take a look at this request and take action.

[2018-06-12 20:17] jbruns2015 commented on #5319
+1

[2018-06-12 20:17] gaazkam opened #5924 "May we call Activator.CreateInstance with the BindingFlags.OptionalParamBinding flag?"
This documentation page, under the OptionalParamBinding field description, stats that:

"This flag should only be used with InvokeMember(String, BindingFlags, Binder, Object, Object[], ParameterModifier[], CultureInfo, String[])."

This remark seems to suggest that it is invalid to use this flag with Activator.CreateInstance.

However, apparently, StackOverflow disagrees:

https://stackoverflow.co

[2018-06-12 20:17] rpetrusha commented on #5923
Thanks for pointing this out, @SupraBitKid. Not only is there a duplicate attempt to populate the SqlParameterCollection, but the first call to the Add method throws an InvalidCastException. (The call should have been to the AddRange method.) We'll correct this code in the near future.

[2018-06-12 20:30] rpetrusha commented on #5922
Adding a link to the samples would be decidedly helpful, @svick. So would packaging them in a single .zip file so that they can downloaded in a single operation. I'll add that to our backlog and the community contributor project.

[2018-06-12 20:32] #3769 closed

[2018-06-12 20:57] cartermp commented on #5447
Where would the Visual Studio-tooling and also language-specific documentation live under this model? At least in the case of this issue, these articles are about F# tooling in Visual Studio.

[2018-06-12 21:51] svick commented on #3575
@pkulikov Thanks for your work on this.

The thing I don't like about using the term "undefined behavior" here is that it means the implementation is allowed to do *anything*.

Are the two options you mentioned, namely throwing `InvalidOperationException` and allowing enumeration to continue, the only reasonable ones? If that's the case, could the documentation for the interfaces be changed to all

[2018-06-12 22:33] bempelise opened #5926 "Clean up wording around C# event example - What is the lister?"
It is not clear what is the lister used in some code snippets that and where it is declared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2507bc-e567-23f9-aeb9-f7529baa7032
* Version Independent ID: c42718d0-15b4-a87f-4353-e15656686889
* Content: [Introduction to Events](https://docs.microsoft.com/en-us/dotnet/csha

[2018-06-12 22:41] mairaw commented on #5917
@zhenlan is this something you or someone from your team can help?

[2018-06-12 22:44] mairaw commented on #5619
@zhenlan can you or someone on your team help address this issue?

[2018-06-12 22:44] mairaw commented on #5475
Ok to close this @IKoshelev?

[2018-06-12 22:47] mairaw commented on #4801
Can we close this issue @rpetrusha?

[2018-06-12 23:01] pkulikov commented on #3575
@svick if we want to list the options in the interfaces docs, we should talk not about reasonable options, but about the current set of choices already *implemented* in .NET. I'm aware of three different approaches:
- Invalidate enumerator and throw, as in `System.Collections.Generic`
- Take the snapshot of the collection at the moment `GetEnumerator` is called and enumerate through that version o

[2018-06-12 23:03] mairaw commented on #5916
I could reproduce this problem @stevegiergiel, so I don't think you've done nothing wrong. We'll investigate what's wrong. Thanks!

[2018-06-12 23:05] OliaG commented on #5910
Hi @thiagoboccio, thank you for the question.

If you want to predict any name (meaning you'll feed in a huge list of names) by first letter(s), that would be an example of Sequence Prediction. We do not have an API for it in ML.NET yet. Also for this particular case instead of machine learning I would use a probabilistic finite state automaton.

An example where you can use ML.NET APIs right now:

[2018-06-12 23:12] rpetrusha commented on #4801
Yes, we can, @mairaw.

[2018-06-12 23:12] #4801 closed

[2018-06-12 23:34] jfreitas opened #5927 "Error in example cli command"
Executing 'dotnet new mvc -au None -f netcoreapp2.0' gives me the error

Error: Invalid parameter(s):
-f netcoreapp2.0
    'netcoreapp2.0' is not a valid value for -f (Framework).

dotnet --info

.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 B

[2018-06-12 23:34] vbjay opened #5928 "Support other known paths"
See https://www.codeproject.com/Articles/878605/Getting-All-Special-Folders-in-NET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab867d87-5271-6b58-dbbd-f8e9d08a0f86
* Version Independent ID: f795178b-62a0-d839-21ae-7f738230029f
* Content: [Environment.GetFolderPath Method (System)](https://docs.microsoft.com/en-us/do

[2018-06-12 23:44] mairaw commented on #5916
@stevegiergiel I've created PR #5929 to fix this issue.

[2018-06-13 01:43] BillWagner commented on #3575
@svick

I agree, and that's why we use it very rarely. See the conversation on dotnet/dotnet-api-docs#231 for more background.

[2018-06-13 01:50] BillWagner commented on #4785
Thanks for contributing @deirdreemoran I'll take a look and review the PR in the next day or so.

[2018-06-13 01:54] mairaw commented on #5927
Thanks for your feedback @jfreitas! I think it was an oversight when we were updating the docs from 1.0 to 2.0. The mvc template used to support the -f option back in 1.0. I'll get that fixed.

[2018-06-13 02:14] NickStrupat opened #5932 "potential typo"
I was working through this example and noticed that the evaluation code loads from `_datapath` when the test data is at `_testdatapath`. Wondering if that was a typo or if I missed something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad

[2018-06-13 02:17] NickStrupat commented on #5932
#5841

[2018-06-13 02:17] #5932 closed

[2018-06-13 03:42] zhenlan commented on #5619
Add @Lxiamail to see if we want to put up a new doc using cmdlet.

[2018-06-13 03:57] zhenlan commented on #5917
@gencebay is your question about whether you can publish a WCF application as part of CI instead of inside Visual Studio? Are you thinking about publishing to IIS? If yes for both questions, publishing of WCF applications is very similar to publishing ASP.NET applications, so you should be able to use tools for publishing ASP.NET applications, for example, web deploy.

cc @Lxiamail

[2018-06-13 10:50] FrancescoBonizzi commented on #5914
(If needed I can pull an edit)

[2018-06-13 11:58] atifaziz commented on #5734
It is also worth clarifying whether multiple and parallel iteration of the sequence returned by `GetConsumingEnumerable` is supported or not. It would prevent a lot of testing on a user's part just to test out the behavior.

[2018-06-13 14:28] BillWagner commented on #4785
PR #5930 updated all the samples in the dotnet/docs repo.  I'm leaving this issue open until we verify that none of the code in the dotnet/samples repo has similar comments.

@deirdreemoran If you want to check the [samples repo](https://github.com/dotnet/samples) let us know. Thanks for contributing.

[2018-06-13 15:21] amp64 opened #5935 "System.NotSupportedException can result"
I am passing an IPv6 IPAddress and I get a System.NotSupportedException. The message is "This protocol version is not supported". Although I cannot suggest a solution (yet), this should be added as a possible result to the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46fa10a-00fe-9a1e-38f4-8ace5ba3d6e0
* Versi

[2018-06-13 15:23] IKoshelev commented on #5475
I believe so. Hopefully, anyone looking for an example will find this issue or repo directly.

[2018-06-13 15:55] Amine-Smahi opened #5936 "Clustering Iris tutorial is missing"
Where is the tutorial about the Clustering Iris , i found the tutorial in dot.net/ml but there wasn't any code explanation like the Sentiment Analysis and Taxi Fare Predictor tutorials

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d

[2018-06-13 17:21] brentschmaltz commented on #5321
@mairaw We are currently documenting here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki

[2018-06-13 17:22] brentschmaltz commented on #5899
@Parusov @mairaw we are putting those docs to bed. The new model uses asp.net CORE and sometimes KATANA (OWIN)

[2018-06-13 17:28] mairaw commented on #5899
I'll see when we can get archival of docs published here to https://docs.microsoft.com/en-us/previous-versions/dotnet/, given we don't have another version of these docs we can just redirect to.

[2018-06-13 18:46] Dirkster99 opened #5937 "Using ML.Net in Classic Windows Console or WPF App"
I am currently evaluating the ML.Net library and get it to run with .Net Core:
https://github.com/Dirkster99/ML

but I would like to also run it within a classic Windows console or WPF app (eg .Net 4.5.2).

Is it possible to do this with the current Nuget?
My problem is that when I try to install the ML.Net Nuget package - the package manager says its installed (see output below). But the ML.Net p

[2018-06-13 19:35] leecow commented on #5915
The .NET Core Tools for VS2015 are linked from https://github.com/dotnet/core/blob/master/release-notes/download-archive.md. @dasMulli , is this what you're referring to?

[2018-06-13 19:55] ashmind opened #5938 "The meaning of "IntPtr handle to a managed object" is unclear"
&gt; An IntPtr handle to a managed object

Is this a pointer to the object on the heap, or some other value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6deca277-3dbc-1331-b89e-1c0aae80f3ef
* Version Independent ID: 75c95137-1861-993d-6dd9-2a7aca421c49
* Content: [GCHandle.FromIntPtr(IntPtr) Method (System.Runtime.I

[2018-06-13 20:15] csrowell opened #5939 "Broken link"
The "Customize your build" link is broken: https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* Content: [Select the C# language version - C# Guid

[2018-06-13 20:20] mairaw commented on #5939
That link shouldn’t have the .md extension. I’ll fix this.

[2018-06-13 22:55] bdatta1981 opened #5942 "Binding redirect for libraries in Release Candidate version"
There is no documentation on binding redirect can be specified for libraries installed as RC versions e.g. 4.5.0-rc1 or 4.5.0-rc1-final etc. Can that be specified here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb5c0476-d07a-f031-c13c-4acb52db6344
* Version Independent ID: c6144ba7-da54-e204-735d-bc6885c30c04
* Co

[2018-06-14 00:33] fmorriso opened #5944 "dotnet sln CREATE ???"
2018-08-13:
Nowhere in here does it show how to create a .sln via the DotNet CLI.

At the moment that I created a new angular project via the following (found elsewhere on the docs.microsoft.com web site):

dotnet new angular -o my-new-app

There will be NO .sln created, thus the need to retroactively go back to create one, hopefully via the dotnet sln command, but alas, that does not seem possibl

[2018-06-14 01:13] r-k-pathak commented on #5896
Any answers for above query.

[2018-06-14 01:50] thiagoboccio commented on #5910
Got it!
I'm doing what you suggested based on what we can do right now with ML.NET, gonna let you guys know in case I get stuck...
Thanks :)

[2018-06-14 03:13] #5939 closed

[2018-06-14 03:16] mairaw commented on #5944
Hi @fmorriso. To create a solution file, you need to use the [dotnet new](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new) command:

[code]

I can add a note about this on the topic.

[2018-06-14 03:27] mairaw commented on #5937
Given that this was a product question, I've moved this to the product repo instead @Dirkster99. Thanks!

[2018-06-14 03:51] mairaw commented on #5911
@livarcocc @KathleenDollard @dsplaisted can one of you help with this question? Should I simply change the description for all SDK versions to what we have in --help ("Defines the value for the $(VersionSuffix) property in the project")? Anything else we can say about that option?

[2018-06-14 03:56] mairaw commented on #5936
That's where that specific tutorial lives and then from there, you can continue with the additional tutorials we created for Docs. Is there anything you'd like to see? Would you like a more in-depth explanation of what the code is doing like we're doing in the tutorials here @Amine-Smahi?

/cc @asthana86 @OliaG

[2018-06-14 05:37] YogiJohn opened #5947 "variable last"
Is last supposed to hold the previous (most recent) temperature reading?  It is assigned a value in the if(first) block and will only be assigned once.  To have it constantly updated move the last=value statement after the if...else block.  Note this code appears twice on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-06-14 06:14] paolofulgoni opened #5948 "Should the Process instances be disposed?"
Please clarify if the `Process` instances returned by the `GetProcessesByName` method should be disposed by the caller.
In that case, please update the examples accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7b0b29-4df3-aefd-2695-c64fa90f3d51
* Version Independent ID: 08bf7fd3-54a6-aad5-95dc-81f4d6819d3e

[2018-06-14 06:39] b3bb commented on #5308
@BillWagner: Created a fork & a pull request from fork. Hope this was the correct workflow.

PR: [Enum Class: Example Code for iteration #122](https://github.com/dotnet/samples/pull/122)

[2018-06-14 07:53] nex-54 opened #5949 "Serializable"
User-defined exceptions should be serializable.
Otherwise it will be not possible for exception to cross app domains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041f6b4c-2b7e-5332-f24e-12af7a5b07aa
* Version Independent ID: e9c2287f-1c4e-ee07-a1ff-77a3f07ce1a4
* Content: [How to: Create User-Defined Exceptions](htt

[2018-06-14 09:46] longtth opened #5950 "why Indent by 3 space?"
Why code sample has been indent by 3 space?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e087942b-4c61-ed3d-24e9-b4224ad31893
* Version Independent ID: acf0995d-5a49-f52c-e20b-f1d8c1b8d251
* Content: [XmlSerializer.Deserialize Method (System.Xml.Serialization)](https://docs.microsoft.com/en-us/dotnet/api/system.xml.s

[2018-06-14 10:18] webJose opened #5951 "Not at all helpful"
I am trying to understand WPF databinding internals, especifically with the **ItemsControl** class.  I discovered that it uses the **CollectionView** class as source of item properties, which ultimately provide the information to generate columns automatically in at least the DataGrid control.

What was important to me at the time was to know if it used **ITypedList**, just like the Windows Forms

[2018-06-14 11:57] BjarkeMeier opened #5952 "ValueObject.GetAtomicValues()"
To make it even easier to create custom value object types the ValueObject base class could implement a reflection based GetAtomicValues method to remove the requirement of implementing it in derived classes. But that would of course be a trade between ease and performance. However it could allow optional override.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-06-14 12:06] infoberg commented on #5321
@brentschmaltz  please excuse me if I am missing something here, but do you call the release notes, links to the source code and 1 sample (which does not include JWE) a documentation?

[2018-06-14 13:01] BoomerHudson commented on #5321
Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: infoberg<mailto:notifications@github.com>
Sent: Thursday, June 14, 2018 07:07 AM
To: dotnet/docs<mailto:docs@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Subject: Re: [dotnet/docs] Where is the documentation for System.IdentityModel.Tokens.Jwt? (#5321)

@brentschmaltz<https://nam04.safe

[2018-06-14 13:05] Amine-Smahi commented on #5936
@mairaw yes please

[2018-06-14 14:13] BillWagner commented on #5926
Thanks for pointing this out @bempelise

I've added it to our backlog, and added the up-for-grabs label to this issue.

[2018-06-14 14:24] jfbenson opened #5953 "Wording is a bit hard to follow in one phrase"
"members accessed through one of the interfaces the current collections implement"

I am having trough understanding what "the current collections" is referring to? Is it referring to System.Collections? If so could you replace "the current collections" with "System.Collections"? I think this will also prevent ambiguity in the future because the word 'current' is subject to change as time moves on

[2018-06-14 14:29] BillWagner opened #5954 "using statement should link to try / finally"
This document should link to the [try / finally statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/try-finally)

using is implemented using try / finally, so that information is relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Ind

[2018-06-14 15:18] ssteiner opened #5957 "Changing endpiont address - http to https causing "The provided URI scheme 'https' is invalid;" exception"
I created a .net standard 2.0 service reference lib for a third party service. Unlike the traditional .NET add reference, the tool for .net standard/core seems not to take anything from the app.config but instead adds everything to the stup. Notably, I have a these methods and enums

    private static System.ServiceModel.Channels.Binding GetBindingForEndpoint(EndpointConfiguration endpointConfigu

[2018-06-14 16:25] ardalis opened #5959 "SmartEnum on Nuget"
Another additional resource: https://www.nuget.org/packages/Ardalis.SmartEnum/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: 4a95bf3d-1028-7c9e-5b7c-0733fc6addaa
* Content: [Using Enumeration classes instead of enum types](https://docs.microsoft.com/en-us/

[2018-06-14 17:47] #5954 closed

[2018-06-14 18:24] dsplaisted commented on #5911
The simplest fix to the docs would be just to change it to what is in the command line help.

However, if we want to do better, here's the [actual logic](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.DefaultAssemblyInfo.targets) for how the Version is set:

[code]

So if the `Version` is not otherwise set, then `Version` will be set to the `Ver

[2018-06-14 18:29] mairaw commented on #5959
@CESARDELATORRE do you wanna add that link to the list of additional resources?

[2018-06-14 18:45] mairaw commented on #5950
I can't tell why because these content has changed hands over the years, so won't be able to track this down. But I'm adding this to our backlog as a community project for folks that are interested in contributing to our docs. It should be 4 spaces.

[2018-06-14 18:55] mairaw commented on #5948
@joperezr, @wtgodbe can you guys confirm? I'm also seeing some exceptions being mentioned there for Windows NT, Windows 2000, and Windows XP. Should we just remove those or do those exceptions still happen for more modern operating systems?

[2018-06-14 19:09] mairaw opened #5961 "Add installation of different templates and how this affects the CLI experience to dotnet new"
`dotnet new web --framework netcoreapp2.0` doesn't work out of the box.

However, if you install old templates into your new SDK by running

`dotnet new --install Microsoft.DotNet.Web.ProjectTemplates.2.0 --nuget-source https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json`

Then `dotnet new web --framework netcoreapp2.0` works.

Need to understand how this works and document it.

/cc @Kathl

[2018-06-14 19:12] #5927 closed

[2018-06-14 19:15] natemcmaster commented on #5961
I feel hesitant about documenting this with instructions to use MyGet. Packages on MyGet are only meant for aspnetcore contributors, but are not official supported. We frequently change myget feeds, delete packages, and make breaking changes on MyGet.

If the PMs are okay publishing these template packages to NuGet.org and making this the official way you get old templates, then let's get those bi

[2018-06-14 19:16] karelz commented on #5957
Hello @ssteiner,
It is not clear to me what your question is. If you're asking about general app design, then Stack Overflow and similar forums might be the best place.
If you have specific question about .NET Core / .NET Standard APIs (e.g. ConfigurationManager), then appropriate repos (e.g. CoreFX or WCF) might be the right place to ask (although Stack Overflow and similar forums would probably

[2018-06-14 19:27] ssteiner commented on #5957
My questions is about the stub generation.. a stub that includes configuration is a complete different concept from what was previously done in the full .NET. Is there a migration guide that I could look at? I managed to get my code to do what I want it to just fine, but I suppose the designers of this toolkit had some ideas about why they're doing things differently - and I'm trying to understand

[2018-06-14 19:57] karelz commented on #5957
Which stubs do you mean? Who generates them on .NET Framework? WCF? Interop stubs? Something else?

[2018-06-14 20:01] ssteiner commented on #5957
The stubs generated by the "Microsoft WCF Web Service Reference Provider" in VS2017 (15.7.3).

[2018-06-14 20:16] BillWagner commented on #320
Closing. Moved to MicrosoftDocs/Feedback#439

[2018-06-14 20:16] #320 closed

[2018-06-14 20:35] paolofulgoni commented on #5075
Now it's clear, thanks! 👍

[2018-06-14 20:41] karelz commented on #5957
@ssteiner ok, then maybe asking on WCF repo might be the right thing to do.

[2018-06-14 21:09] BillWagner commented on #849
Fixed in #906

[2018-06-14 21:09] #849 closed

[2018-06-14 21:10] BillWagner commented on #949
Closing this, as it's been handled by our [quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/) and [try.dot.net](https://try.dot.net)

[2018-06-14 21:10] #949 closed

[2018-06-14 21:14] BillWagner commented on #999
@mairaw I think this can be closed based on these:

https://docs.microsoft.com/en-us/dotnet/core/packages
https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

If you agree, go ahead and close it.

[2018-06-14 21:27] danroth27 commented on #5961
The packages for the older templates are already on nuget.org. Ex https://www.nuget.org/packages/Microsoft.DotNet.Web.ProjectTemplates.2.0. @seancpeters can provide details on how this works.

[2018-06-14 21:31] JRAlexander commented on #806
This item is the discussion item for the original project: https://github.com/dotnet/docs/projects/4#card-4672260, and the original items assigned were completed.  There was talk around 1Q18 about adding more but that was pushed off and I didn't close it at that time.  We can add new items to it, but I'd rather close this one and start a new docker items project fresh.

[2018-06-14 21:51] rpetrusha commented on #5953
I agree, @jfbenson, that it's a bit hard to follow. I think that what was intended is, "However, access to elements of a collection object through extension methods or through explicit interface implementations are not guaranteed to be thread-safe and may need to be synchronized by the caller." Does that help?
We'll clarify this in the documentation this month.

[2018-06-14 21:53] natemcmaster commented on #5961
@danroth27 The version of those packages is pretty stale, and it looks like they’re still owned by Sayed. Should we update them with latest (e.g. 2.0.8) templates and transfer ownership to Microsoft?

[2018-06-14 22:06] mairaw commented on #5957
You can find the repo at https://github.com/dotnet/wcf.

[2018-06-14 22:19] #5944 closed

[2018-06-14 22:24] thetylerb opened #5964 "Typo in sentence."
"You will have to cast it to the correct delegate type to have any compile-time tools check the argument list of return type." I think you mean "check the argument list OR return type."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 099c315d-61a7-604d-4761-b67a10a77c19
* Version Independent ID: 34c8488a-f657-6639-f91f-

[2018-06-14 23:01] #5910 closed

[2018-06-14 23:20] danroth27 commented on #5961
Ah, not surprisingly, @natemcmaster is right :smiley:. Looks like we don't publish our template packages.

[2018-06-14 23:30] seancpeters commented on #5961
Yes, those older template packages are available on nuget.org - specifically all of these:
- Microsoft.DotNet.Common.ProjectTemplates.2.0
- Microsoft.DotNet.Common.ProjectTemplates.1.x
- Microsoft.DotNet.Test.ProjectTemplates.2.0
- Microsoft.DotNet.Test.ProjectTemplates.1.x
- Microsoft.DotNet.Web.ProjectTemplates.2.0
- Microsoft.DotNet.Web.ProjectTemplates.1.x

The dotnet cli currently only ships

[2018-06-14 23:43] mairaw commented on #5961
Thanks @seancpeters! We don't have that flexibility of dynamically changing the options shown on docs.  So I'll have to add the option and explain how it works. 😄

So, this framework option would show up for all templates listed [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore21#arguments) (except for the bottom 4)?

[2018-06-14 23:45] amp64 commented on #5935
NotSupportedException happens when you use an IPv6 address with a default TcpClient instance. You have to use an IPv6 instance of TcpClient for this to work. Not at all obvious, to me anyway.

[2018-06-14 23:57] seancpeters commented on #5961
Most of them, but not all. In addition to the bottom 4, these do not have a framework:
- page
- viewimports
- viewstart
- angular
- react
- reactredux
- razorclasslib

[2018-06-15 00:07] mairaw commented on #5935
@davidsh @karelz can you look at this feedback and see if there are any improvements we can make?

[2018-06-15 00:17] douglastks52 opened #5966 "Branches and loops challenge."
It would be really helpful if there were anything showing how the challenge on step 5 would look like completed. I failed several times and couldn't find the right way to do it anywhere on the site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afcf89b8-e845-5723-26c0-e9fcb4da60e6
* Version Independent ID: 85929067-8f

[2018-06-15 00:20] mairaw commented on #5567
Given the lack of response, I'm closing this bug, Feel free to reopen if you can share more details of where in the content you're seeing this.

[2018-06-15 00:20] #5567 closed

[2018-06-15 00:37] karelz commented on #5935
[TcpClient constructor](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient.-ctor?view=netframework-4.7#System_Net_Sockets_TcpClient__ctor) already mentions that it works only with IPv4.
It might make sense to add remark "If you receive NotSupportedException with message "This protocol version is not supported" while using IPv6 address, then make sure you enabled IPv6 in const

[2018-06-15 01:03] #5841 closed

[2018-06-15 01:58] fmorriso commented on #5944
Seems odd to have to go back and use "new" for something that is "old", but hey, at least it's possible to accomplish what I need, no matter how strange and unnaturally out of sequence the process may seem.

[2018-06-15 04:45] mairaw commented on #5944
I understand what you’re saying. Maybe the way you can think about this is the following:

dotnet new is the command that creates files including solution files
dotnet sln is to manipulate an existing solution file

/cc @kathleendollard

[2018-06-15 04:48] pkulikov commented on #5936
@Amine-Smahi do you mean [this tutorial](https://www.microsoft.com/net/learn/apps/machine-learning-and-ai/ml-dotnet/get-started/windows)? What confuses me is that it's example of multiclass classification, while you call it clustering. So, maybe you've meant some other tutorial.

If the link above goes to the correct example, I would like to make the full tutorial out of it. @mairaw if it's not ye

[2018-06-15 06:06] mairaw commented on #5911
Thanks @dsplaisted. Also copying here another feedback I got for this option that was sitting on an internal backlog:

"--version-suffix <VERSION_SUFFIX> Defines the version suffix for an asterisk (*) in the version field of the project file. The format follows NuGet's version guidelines. That's not true, the asterisk isn't replaced. See https://github.com/dotnet/cli/issues/5681 The correct docume

[2018-06-15 06:37] mairaw commented on #5936
I don't think it's in their pipeline to build the full tutorial out of it. But I think it's something worth discussing with the ML.NET team. I wouldn't get started on that though without their blessing that it's the direction they wanna go though.

/cc @asthana86 @OliaG

[2018-06-15 10:16] Meberem opened #5968 "Is there a PrivateAssets flag?"
Is there a way to configure the PrivateAssets attirbute that this command creates? I wanted to add https://github.com/ctaggart/SourceLink#all-source-files to a number of projects and making the PrivateAssets flag scriptable would be really handy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-077c-3cad-b61

[2018-06-15 11:01] fmorriso commented on #5944
How about adding something to the documentation that says something like this:
To create a project WITHIN a solution, perform the following steps IN THIS SEQUENCE:
1. Step 1
2. Step 2
3. etc.

[2018-06-15 12:12] airbreather commented on #5832
FWIW, this is just as convenient on the Windows side, since it also handles arguments with embedded whitespace and quotes.

The .NET Fat application that I maintain at work has a helper to try to replicate what the "`PasteArguments`" files from [here](https://github.com/dotnet/corefx/tree/176fb6aed060d5ef2284844652f24b8aa965d827/src/Common/src/System) do, and I definitely see some things here that

[2018-06-15 12:19] Tragedian opened #5969 "Clarifying ByteArrayContent's behaviour"
When looking at this class, it's not clear whether the content wraps the array (and optional offsets) or creates its own internal copy of the array. This difference changes how you might want to use this type with the https://www.nuget.org/packages/System.Memory/ package or any similar techniques around handling buffers.

After some digging in the implementation, I can see that it wraps up the arr

[2018-06-15 13:51] jfcarr opened #5970 "OS-Agnostic Paths"
First:  GREAT tutorial.  This helped me immensely!

But, the paths are currently being built in a Windows-centric manner:

const string _datapath = @".\Data\taxi-fare-train.csv";
const string _testdatapath = @".\Data\taxi-fare-test.csv";
const string _modelpath = @".\Data\Model.zip";

As I worked through the tutorial, I coded them like this, so they work in Windows and Linux:

static string _datap

[2018-06-15 14:02] andrewcarmichaelultimateins opened #5971 "ChannelFactory<TChannel>.CreateChannel example doesn't have an example of this overload"
This page is about CreateChannel (string endpointConfigurationName), but the example shown only demonstrates CreateChannel()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c346bed0-6002-5771-db13-b6ee1bb90ad3
* Version Independent ID: fe72d0a3-116a-c523-064c-9814d3c2da57
* Content: [ChannelFactory&lt;TChannel&gt;.Creat

[2018-06-15 15:20] BillWagner commented on #5308
Fixed in dotnet/samples#122

Closing.

[2018-06-15 15:20] #5308 closed

[2018-06-15 15:42] BillWagner commented on #1080
@josalem @richlander Is this still relevant?

[2018-06-15 15:44] BillWagner commented on #1086
@cartermp  Does [this article](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/signatures) fix this issue?

[2018-06-15 15:47] BillWagner commented on #1138
Removed the "discussion" label as the tasks are clear.
Added the "external" label as this is a great scenario for glob style redirects. /cc @dend @DuncanmaMSFT

[2018-06-15 15:55] cartermp commented on #1086
@BillWagner Not quite. This covers signature files, which do contain F# signatures. The article should probably be renamed to "Signature Files". I think there is still value in having a separate article or section about type signatures.

[2018-06-15 15:56] BillWagner commented on #1204
Closing this. It's in the contributor guide, and future work will be in the [global contributor guide](https://github.com/MicrosoftDocs/Contribute)

[2018-06-15 15:56] #1204 closed

[2018-06-15 16:10] GlauberCoder opened #5972 "Unhandled Exception: System.InvalidOperationException"
Unhandled Exception: System.InvalidOperationException: The following inputs are missing: Var_db99945c79dc461c88743f0f51f4507d
   at Microsoft.ML.Runtime.EntryPoints.JsonUtils.GraphRunner.RunAll()
   at Microsoft.ML.LearningPipeline.Train[TInput,TOutput]()
   at FinanceRegressionPredictor.Program.Train(String trainDataPath) in C:\Users\Glauber\source\repos\FinanceRegressionPredictor\FinanceRegressi

[2018-06-15 16:12] GlauberCoder commented on #5972
Desculpe ficou sem a mensagem. Estou tendo este erro ao executar meu código.

                        var pipeline = new LearningPipeline();
			var catecoricalFeatures = Features().Where(f => f.Categorical).Select(f => f.Feature);

			pipeline.Add(new Dictionarizer("Label"));
			pipeline.Add(new TextLoader(trainDataPath).CreateFrom<RateValues>(separator: '|', useHeader: true));
			pipeline.Add(new

[2018-06-15 16:14] mairaw commented on #5972
E só pra confirmar, este é o codigo do artigo, correto @GlauberCoder?

[2018-06-15 16:18] pkulikov commented on #5972
@GlauberCoder shouldn't `TextLoader` step be the first in the pipeline, and only then `Dictionarizer`? Like that:
[code]

[2018-06-15 16:36] GlauberCoder commented on #5972
Maybe would be a good idea to improve that message.

[2018-06-15 16:40] jkotas opened #5974 "In .NET Core, finalizers do not run when the program exits"
&gt; Finalizers are also called when the program exits.

This is not the case in .NET Core. https://github.com/dotnet/corefx/issues/5205 has the full details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b6bf23-9cd5-a7c5-dc6a-f9b911d784ff
* Version Independent ID: 9f040450-27b7-7e4a-b908-c3695f6aaad1
* Content: [Fi

[2018-06-15 16:41] pkulikov commented on #5972
@GlauberCoder that's true; please report it in [ML.NET repo](https://github.com/dotnet/machinelearning)

[2018-06-15 16:48] BillWagner commented on #1345
Raising priority since this has been bumped several times.

[2018-06-15 17:33] k3davis opened #5975 "How to suppress compiler warnings"
It would be helpful IMHO if information was provided on these pages about how to turn these warnings off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1982705-65b6-fc10-f51c-43989fd20dca
* Version Independent ID: 04dea072-a176-b403-8550-ffde758c2f6f
* Content: [Compiler Warning (level 4) CS1591](https://docs.microso

[2018-06-15 17:49] mairaw commented on #5972
Yes as @pkulikov said, let’s try to keep the feedback related for content here and product questions and feedback at dotnet/machinelearning. Obrigada!

[2018-06-15 17:49] #5972 closed

[2018-06-15 17:50] mairaw commented on #5972
/cc @OliaG FYI

[2018-06-15 20:36] rpetrusha commented on #5975
Thanks for your feedback, @k3davis. A link to a topic that discusses how to suppressing compiler errors and warnings is found in this topic's parent page, [C# Compiler Errors](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/index),  For command line compilation compilation, there are also the [`-warn` and `-nowarn` switches](https://docs.microsoft.com/en-us/dotn

[2018-06-15 20:48] rpetrusha commented on #5974
Thanks, @jkotas. This will require a review of both the C# and .NET documentation on finalizers. We'll schedule it for the upcoming sprint.

[2018-06-15 20:58] rpetrusha commented on #5971
Thanks for your feedback. The example indeed does not demonstrate a call to the overload that it documents. We've added this item to our backlog.

[2018-06-15 21:16] dparvin opened #5976 "All of the examples on the FileSystem.CopyDirectory are the same. Please make relevent examples."
When looking at the FileSystem.CopyDirectory Method documentation, I notice that each of the examples are exactly the same and is relevant to one of the method overloads, but not all of them.  Can you please make examples that are relevant to each method overload?  It makes it more understandable to the user who is looking for information and might give cluses as to how to use that specific method

[2018-06-15 21:57] #1445 closed

[2018-06-15 22:20] dwilches opened #5977 "Missing information in FormatDescription."
The `FormatDescription` docs is missing some important information. For example, there is no mention it attempts to format `%%0`, `%%1` nor that it throws `The description string for parameter reference (%1) could not be found` if one's event contains the text `%%4294967295`.

Check this question for details of how to reproduce this method throwing that exception:
https://stackoverflow.com/questio

[2018-06-15 22:30] dwilches opened #5978 "Add output for code snippets"
In pages like this it would be useful to have the output of the code snippets. For example, it's not obvious that the output of:

    adapter.GetPhysicalAddress().ToString();

Will be in the format `AABBCCDDEEFF`. Being a MAC address I would have expected the display representation to be `AA:BB:CC:DD:EE:FF`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-06-15 22:36] dwilches opened #5979 "Can ToString() return a more human-friendly representation?"
I'd like to recommend this method to return the MAC in the human-friendly format `AA:BB:CC:DD:EE:FF` instead of the current `AABBCCDDEEFF`.

There are some alternatives people have invented to add the `:` in between the string returned by this method:
https://stackoverflow.com/questions/7384211/formatting-mac-address-in-c-sharp

But I wonder in which cases the current representation is more useful

[2018-06-15 22:39] dwilches commented on #5977
Also, in which cases will these methods return null?

Some other people have wondered that in the past:
* https://stackoverflow.com/questions/7531557/why-does-eventrecord-formatdescription-return-null
* https://social.msdn.microsoft.com/Forums/vstudio/en-US/5d3ddb09-3f2e-43d5-98ba-8a70bdb59cca/eventrecord-formatdescription-returns-null?forum=csharpgeneral

[2018-06-15 22:42] AriezRNG commented on #5966
int sum = 0; //This will track the sum of every number divisible by 3.

for (int counter = 1; counter < 20; counter++) //Loop 20 times.
{
    if (counter%3 == 0) //If the remainder is 0, then it's divisible by 3.
    {
        Console.WriteLine($"{counter} is divisible by 3."); //Just to keep track of the numbers divisible by 3
        sum += counter; //The sum variable will add that number to its

[2018-06-15 22:53] mairaw commented on #5979
This is a product suggestion and not a content feedback. @karelz @davidsh is that an API you'd consider adding? Should I move this request to corefx?

[2018-06-15 23:16] karelz commented on #5979
It's already tracked in CoreFX: https://github.com/dotnet/corefx/issues/29740

[2018-06-15 23:16] #5979 closed

[2018-06-15 23:31] mariochoquette commented on #5966
no good

[2018-06-15 23:38] BillWagner commented on #5966
@mariochoquette I'll figure out why the correct answer isn't shown (it was originally).

In the meantime, [the correct code is on GitHub](https://github.com/dotnet/samples/blob/master/csharp/branches-quickstart/Program.cs#L46-L54) in our samples repo.

[2018-06-15 23:46] mairaw commented on #5978
That's a good idea @dwilches. I'm adding this to our backlog and to our community contribution project. We should also add the VB version of the sample to this API as well.

[2018-06-15 23:53] OliaG commented on #5936
@pkulikov, @Amine-Smahi "What confuses me is that it's example of multiclass classification, while you call it clustering. "
We are using same iris dataset for 2 different types of problem: [multiclass classification](https://github.com/dotnet/machinelearning-samples/tree/master/samples/getting-started/MulticlassClassification_Iris) and [clustering](https://github.com/dotnet/machinelearning-sample

[2018-06-16 00:17] mairaw commented on #5944
You don't think the information added was enough @fmorriso? The reference for the dotnet sln should be short and concise. I don't want to add an entire tutorial into these reference pages.

One thing in my backlog is to convert this [tutorial](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-macos) into a more general, CLI tutorial. But you have the step-by-step there. I can add a l

[2018-06-16 00:30] kouvel commented on #3640
@danmosemsft, I'm not sure if you're the right person for this but do you know if the api-compat doc linked above is still applicable/valid? Is there more recent info that could be used for documenting differences in behavior / differences in APIs between runtimes?

[2018-06-16 00:39] OliaG commented on #5936
@pkulikov you're right about [ColumnName("Label")] that we don't use it in TextLoader any more, we will remove that line.
in 0.2 version you either need to name the field "Label" in your data type (IrisData) or you can create a column "Label" in code and copy there desired column with the following transform:

pipeline.Add(new ColumnCopier("IrisType", "Label"));

[2018-06-16 00:57] pjanotti commented on #3640
The idea is to deflate the wiki and eventually have its content at https://github.com/dotnet/platform-compat (ideally as rules but if not possible to express as rules keep as wiki). However, these hasn't being a priority.

One observations is that the tool should reflect status of current/latest release, so it won't be a good source for consultation about specific versions, this will be better han

[2018-06-16 01:01] BillWagner commented on #1931
Tested and it's now rendering correctly.  Closing

@svick if you see a different display, reopen this issue.

[2018-06-16 01:36] MichaelSipayung opened #5981 "thanks"
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5785dd0e-44bf-c477-1ebe-52b4f5009d5f
* Version Independent ID: a16a4135-c417-ee31-6dfa-2aacb4beef9d
* Content: [object (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/object)
* Content Source: [docs/csharp/language-referenc

[2018-06-16 04:43] mairaw commented on #1931
We still lots of those, not the one from the first description. I'll a new repro here.

[2018-06-16 04:44] mairaw commented on #1931
Actually that link is still for some of the issues we have with broken links:
![image](https://user-images.githubusercontent.com/12971179/41495823-54ace45c-70e5-11e8-9044-34295928fbf7.png)

[2018-06-16 08:39] pkulikov commented on #5936
@OliaG thank you for the clarification, that's clear now. So, we use the same data set as in the linked intro tutorial, but apply clustering technique to it. That would be the first tutorial on unsupervised learning in these docs, which is cool. @JRAlexander if you are not working on this yet, I'm fine to do that.

@OliaG

There is one more option: to use `ColumnAttribute` like it's done in the tu

[2018-06-16 16:41] bs6523 opened #5984 "multi class classification?"
which method can i use to make multi-class classification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Use ML.NET in a sentiment analysis binary classification scenario](https://docs.microsoft.com/en-us/do

[2018-06-16 16:55] samboustani opened #5985 "method doesn't exist"
'DateTime' does not contain a definition for 'LessThan'.  .NET Core 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 582b5193-1b57-b5e5-6dd6-92cd03616a25
* Version Independent ID: f29ddee7-9d38-1e44-2f4f-ea4c1c98bd7d
* Content: [DateTime.LessThan(DateTime, DateTime) Operator (System)](https://docs.microsoft.com/en-us

[2018-06-16 17:02] pkulikov commented on #5984
@bs6523 the [get started example](https://www.microsoft.com/net/learn/apps/machine-learning-and-ai/ml-dotnet/get-started/windows) uses [StochasticDualCoordinateAscentClassifier](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.stochasticdualcoordinateascentclassifier?view=ml-dotnet)

Other multiclass classification trainers in ML.NET are
- [LogisticRegressionClassifier](https://do

[2018-06-16 17:13] pkulikov commented on #5985
@samboustani what made you think so?

"LessThan" is the name of the operator. To use this operator in your code, use `<` symbol:

[code]

[2018-06-16 17:30] Angr1st opened #5986 "Example Code is wrong"
I created a .net core console application and tried to compile the example code but it has a 3 compiler errors. First 'currentDomain.DefineDynamicAssembly()' does not exist anymore in .net core. Instead you have to use 'AssemblyBuilder.DefineDynamicAssembly'. For the second error 'myFieldBuilder.GetToken()' I haven't found a workaround.
Lastly 'PermissionSetAttribute' does also not exist in .net c

[2018-06-16 20:59] jon49 opened #5989 "F# Async Unit Testing"
In the documentation it doesn't say how to test F# asynchronously with MSTest. Since F# returns `Task<unit>` that doesn't work and when you raise it to plain `Task` it ignores the test. It would be nice to know this or to know if it is not possible.

    |> fun x -> Async.StartAsTask x :> Task // Doesn't work; is ignored by testing framework.

---
#### Document Details

⚠ *Do not edit this section

[2018-06-16 21:38] bs6523 commented on #5984
Do you have any tutorials for this?

[2018-06-16 21:50] pkulikov commented on #5984
To my knowledge, there is only the [one linked earlier](https://www.microsoft.com/net/learn/apps/machine-learning-and-ai/ml-dotnet/get-started/windows).

[2018-06-17 06:49] kimmoli opened #5990 "One type of ColorKeyFrame class missing"
In the Remarks chapter, paragraph starting "There are three types of ColorKeyFrame classes, ..." is missing the fourth type, EasingColorKeyFrame.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c7092e2-e011-7332-03b0-924007a9cebf
* Version Independent ID: 7095a2d4-ad64-ae41-7195-0de7ade7d59d
* Content: [ColorAnimationU

[2018-06-17 10:18] jon80 opened #5992 "feedback"
How about an example that I can work with, please?
I use Visual Studio 2010 [.NET Version 4.7.03056 SP1] where Windows 10 and my keyboard are already keeping me from being productive given other hardware related and touchpad related issues.

I hope to see a return on investment as I try to become more professional in my programming curriculum and all I read from the job market are layoffs and nega

[2018-06-17 13:12] svick commented on #5992
What exactly prevents you from working with the examples for that type?

Also, VS 2010 is a very old version. If you can, I suggest you to upgrade to VS 2017 (the Community version is free for individual developers).

[2018-06-17 16:13] bs6523 commented on #5984
that one is not working in my case, I want to classify sentiment as Neutral, Positive and negative, do you have any idea about this?

[2018-06-17 16:19] pkulikov commented on #5984
What makes you think that that is not working in your case?

[2018-06-17 16:44] bs6523 commented on #5984
the training file in the tutorial is numbers, but in my case, it will be text with values
example
"Hi how are you" 0
"I am sad" 1
"I am good " 2

0 - neutral
1 - negative
2 - positive

[2018-06-17 17:15] pkulikov commented on #5984
The [training file](https://github.com/dotnet/machinelearning/blob/master/test/data/wikipedia-detox-250-line-data.tsv) in the tutorial has the same structure as in your example, except the two columns are swapped (value - text).

Or we look at different files?

[2018-06-17 17:28] bs6523 commented on #5984
[Data](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data)
Yes, the data set you provided from the tutorial that used Binary classifier, it's working for me,
but i am trying with StochasticDualCoordinateAscentClassifier with https://www.microsoft.com/net/learn/apps/machine-learning-and-ai/ml-dotnet/get-started/windows
tutorial,

[2018-06-17 17:50] pkulikov commented on #5984
What happens if you try to use the [sentiment analysis](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis) tutorial with `StochasticDualCoordinateAscentClassifier`?

[2018-06-17 22:33] bs6523 commented on #5984
its giving error, because the formats are different, the tutorial is for FastTreeBinaryClassifier,

[2018-06-17 23:35] MarcioAB opened #5995 "Broken link "KeyFrame Animation Sample""
The link ... "For the complete sample, see KeyFrame Animation Sample" ... is broken.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f37151-1614-bde7-43dd-85033534adc0
* Version Independent ID: 5950f816-fb54-9c36-0785-3f1818d11a52
* Content: [How to: Animate a Double by Using Key Frames](https://docs.microsoft

[2018-06-18 01:55] ibocon opened #5996 "Ambiguity"
What is the meaning of  "TryDequeue" result? if result is false, does it means Queue is empty or Queue throw Exception?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27f5b477-d4c9-a447-3616-e47d2245306b
* Version Independent ID: fd1af4e7-e06a-cb9c-5692-565b5d5e56df
* Content: [Queue&lt;T&gt;.TryDequeue(T) Method (Syst

[2018-06-18 05:54] pkulikov commented on #5984
@bs6523 oh! that's becoming interesting.

Try this one in the `Train` method:
[code]

And also update the `SentimentPrediction` class to use `float` type for the field:
[code]

Of course, you should update the `Evaluate` method as well:
[code]

That would break the code that displays metrics, because `ClassificationMetrics` has other properties. Check [its API](https://docs.microsoft.com/en-us/dot

[2018-06-18 06:35] PinkoAgrawal commented on #5834
@svick I was looking for OnPropertyChanged event as I was developing expandable listview. When I couldn't find that I commented so & this is not an isolated incident when I didn't get proper information.

[2018-06-18 07:12] nicoleta-scrimint opened #5998 "Improve document for key method parameter"
From the documentation of this method, I understand that the value will be changed for the specified key, if the existing value is equal to the "comparisonValue" method argument.

The documentation for the "key" method parameter is misleading from my point of view:
"The key whose value is compared with comparisonValue and possibly replaced."
because the key is not compared to the comparisonValue m

[2018-06-18 07:54] pkulikov commented on #5998
@nicoleta-scrimint do you mean that the word *value* might be interpreted in two different ways here:
- as the value of the element that has a given key
- as the value of the key itself (in the sense of "value of a variable")?

[2018-06-18 07:59] KetoDuo opened #5999 "Problem"
App crashes every time I attempt to open

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567666ce-6b1c-ea9b-aa9e-eae9da4f9485
* Version Independent ID: f2e94c72-459b-c8f1-7eec-73e7d4197f4d
* Content: [Repair the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/install/repair)
* Content Source: [docs/fra

[2018-06-18 10:26] ite-klass opened #6001 "Formatting issues in remarks text"
There are some formatting issues in the content, section Remarks, on the paragraph that begins with “You can specify all the values or you can accept the default build number”. There seem to be characters missing, and part of the paragraph text is formatted as code when it is actually normal descriptive text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-06-18 10:34] ozy1ozy opened #6002 "Understanding terminology"
I have noticed a common problem with learning coding (I'm not a programmer). You start off by trying to explain a term without defining what you mean by the term. A case in question is the term 'type'. By not clarifying what you mean by 'type' you create a query in the students mind that has to be resolved before they can continue. It's a bit like languages. For instance, we learn about 'verbs' by

[2018-06-18 11:21] amitvermad opened #6003 "Class not found."
Could not find ProfileOptimization class in visual studio 2015 .net framework 4.6. Please suggest what is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b3e1c47-07c5-d73e-7856-8677f7f63b32
* Version Independent ID: 0e321570-46ef-7943-baf6-72abbf4d4102
* Content: [ProfileOptimization Class (System.Runtime)](ht

[2018-06-18 14:28] #5964 closed

[2018-06-18 14:35] #3575 closed

[2018-06-18 15:17] svick commented on #6003
The `ProfileOptimization` class was added in .Net Framework 4.5, so it should work fine in .Net Framework 4.6.

Some steps that could help:

1. Can you share the exact error your code is producing and also the relevant code?
2. Do you have `using System.Runtime;` at the top of your source file?
3. Are you sure the target framework of your project is .Net Framework 4.6? (You can see it when you rig

[2018-06-18 15:58] BillWagner commented on #2020
Closing based on [this document](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-visual-studio)

/cc @cartermp

[2018-06-18 15:58] #2020 closed

[2018-06-18 16:00] BillWagner commented on #2038
@rpetrusha Do you know of current examples? Or, can this be closed?

[2018-06-18 16:31] rpetrusha commented on #5985
Since LessThan is an operator rather than a method, @samboustani, the Syntax section shows the operator symbol; as @pkulikov indicates, it's `<`. The documentation also indicates that the equivalent method is DateTime.Compare; the current instance is earlier than a second instance if the Compare method returns a negative value.
Since the operator does exist, I'll close this issue. If you don't agr

[2018-06-18 16:31] #5985 closed

[2018-06-18 16:40] bs6523 commented on #5984
`using System;
using Microsoft.ML.Models;
using Microsoft.ML.Runtime;
using Microsoft.ML.Runtime.Api;
using Microsoft.ML.Trainers;
using Microsoft.ML.Transforms;
using System.Collections.Generic;
using System.Linq;
using Microsoft.ML;

namespace FMSforTelicom.Models
{
    public class SentimentData
    {
        [Column(ordinal: "0")]
        public string SentimentText;
        [Column(ordinal: "

[2018-06-18 16:43] Dirkster99 commented on #5984
I saw this and got this MultiClass language classification to work (I also had an Exception on my first trial - these exception are realy not helpful unless you know what it means :-) ...

https://github.com/Dirkster99/ML/tree/master/source/MultibleClasses

[2018-06-18 16:49] rpetrusha commented on #2038
@BillWagner, it's still a problem.

[2018-06-18 16:53] pkulikov commented on #5984
@bs6523 do you use the latest version of the library: 0.2?

[2018-06-18 17:01] Dirkster99 commented on #5984
yes

[2018-06-18 17:29] BillWagner commented on #2382
We've delayed this several times, so I upped the priority for visibility.

[2018-06-18 17:33] BillWagner commented on #2508
Just tested with the same results as above. The C# Quickstarts still have low SEO on a C# search

[2018-06-18 17:42] #1195 closed

[2018-06-18 17:50] BillWagner commented on #2726
Bumping priority to P0 since this has been delayed and re-scheduled a number of times.

[2018-06-18 17:52] BillWagner commented on #2727
@mairaw I'm closing this based on [this doc](https://docs.microsoft.com/en-us/dotnet/core/migration/) Re-open if you don't think that covers what's needed.

[2018-06-18 17:52] #2727 closed

[2018-06-18 17:52] BillWagner commented on #2728
Closing based on [this doc](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer)

[2018-06-18 17:52] #2728 closed

[2018-06-18 18:00] BillWagner commented on #2732
@mairaw I'm closing this based on [this doc](https://docs.microsoft.com/en-us/dotnet/core/migration/) Re-open if you don't think that covers what's needed.

[2018-06-18 18:00] #2732 closed

[2018-06-18 18:01] mairaw commented on #2727
That topic doesn't cover this subject but I'm not sure if we still need this. So I think it's fine to close it.

[2018-06-18 18:01] BillWagner commented on #2781
Moving up to P1, as this has been re-scheduled several times.

[2018-06-18 18:04] mairaw commented on #2732
That topic doesn't cover. The topic I was thinking here would cover breaking changes from one version to the other, but for that to happen we'd need to coordinate with the PU team how they'd track this. We have a special process for the Framework to make that happen.

@karelz @Petermarcu any thoughts on that?

[2018-06-18 18:13] mairaw commented on #2508
I think this could be closed @BillWagner. The top 3 results for C# on Google now go to Docs. You could add a link to the quickstarts from the second result (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/) and then maybe this will help bring C# quickstarts closer to the top results for just C#.

Quickstarts is the top results for C# tutorials and 2nd for C# tutorial.

[2018-06-18 18:16] karelz commented on #2732
Breaking changes should be listed in release notes. Is that not sufficient?

[2018-06-18 18:20] mairaw commented on #2732
Not sure. For Framework, we have this fancy page where you can select origin version and target version and you get all the breaking changes between one and the other. I thought it would be a good idea to have a similar experience for Core too.

e.g. https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/runtime/4.5.1-4.6.2

[2018-06-18 18:32] #2508 closed

[2018-06-18 18:36] karelz commented on #2732
I think it would be best to keep that information in one place - GH sounds like a good place (https://github.com/dotnet/core/tree/master/release-notes).
The docs could just link it IMO. GH is fairly flexibly in adding compat issues as we discover them.

I think the key problem is to have list of the compat problems. On one side, whenever we discover compat problems, we try to fix them. Although it

[2018-06-18 18:40] mairaw commented on #5990
You're right @kimmoli. Thanks for the feedback. We'll add the missing one.

[2018-06-18 19:11] BillWagner commented on #2803
I reviewed all locations where "strong name" is used. This is the only one that references "strong name" [in the context of security](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/assembly-security-considerations#strong-named-assemblies-and-signing-tools)

@blowdart @dsplaisted  Do you recommend any changes to that section? If not, let's close this.

[2018-06-18 19:14] BillWagner commented on #2816
raising priority as this has bumped several times.

[2018-06-18 19:15] BillWagner commented on #2824
raising priority because this has been bumped several sprints.

[2018-06-18 19:16] BillWagner commented on #2880
raising priority as this has been bumped several times.

[2018-06-18 19:19] BillWagner commented on #2930
@mairaw I think this is done now?  If you agree, we can close it.

[2018-06-18 19:28] BillWagner commented on #3177
bumping up the priority because this has been rescheduled several times.

[2018-06-18 19:31] OliaG commented on #5936
@pkulikov

You're absolutely right :)

[2018-06-18 19:35] BillWagner commented on #3274
Upping the priority because it's been bumped several times.

[2018-06-18 19:35] OliaG commented on #5936
@pkulikov Go ahead with writing a doc for clustering, we really appreciate your help!!!
cc @JRAlexander

[2018-06-18 19:43] bs6523 commented on #5984
pipeline.Add(new TextLoader<SentimentData>(_dataPathNeutral, useHeader: false, separator: "tab"));
any replacement for this line after updating to .ML 0.2.0? (not working ufter updating)

[2018-06-18 19:43] JRAlexander opened #6007 "Add information on .NET versions supported by ML.NET"
We need to add the .NET versions supported by ML.NET, and a link to .NET Standard.

[2018-06-18 19:54] Dirkster99 commented on #5984
Yes there is a syntax change between 0.1 and 0.2, consider something like this:
`new TextLoader(dataPath).CreateFrom<Digit>(separator: ',', allowQuotedStrings:false)`

from here:
https://github.com/Dirkster99/ML/blob/bbda50bee5b8f0d086fce50d7b28f61a00a21c17/source/IrisDataset/Models/PredictDigits/PredictDigit.cs

Your solution is probably something like this (useHeader: false is default):
`new Tex

[2018-06-18 19:54] JRAlexander commented on #5984
Try new pipeline.Add(new TextLoader(_dataPathNeutral).CreateFrom<SentimentData>(useHeader:false, separator:','));

[2018-06-18 19:55] blowdart commented on #2803
So in that link @BillWagner posted there is "However, no level of trust is associated with a strong name".  We should copy the warning into that topic, and put it under the Strong-Named Assemblies and Signing Tools heading

[2018-06-18 19:58] mairaw commented on #6001
You're right @ite-klass. It's probably a migration issue where the asterisk needs to be escaped.

You can compare that with the original content from MSDN:
https://msdn.microsoft.com/en-us/library/system.reflection.assemblyversionattribute(v=vs.110).aspx#Remarks

[2018-06-18 20:05] AGraber opened #6008 "delete"
delete

[2018-06-18 20:08] #6008 closed

[2018-06-18 20:09] #4508 closed

[2018-06-18 20:09] svick opened #6009 "Merge language-independence and language-independence-and-language-independent-components"
The articles [language-independence](https://docs.microsoft.com/en-us/dotnet/standard/language-independence) and [language-independence-and-language-independent-components](https://docs.microsoft.com/en-us/dotnet/standard/language-independence-and-language-independent-components) are the same and should be merged.

It seems they were imported differently, so their Markdown is different (e.g. one u

[2018-06-18 20:18] mairaw commented on #2724
This item is for more extensive revision of topics such as https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/

[2018-06-18 20:22] mairaw opened #6010 "Add warnings about .NET Standard to PCL topics"
PCL is now obsolete so we need to add warnings about that in PCL topics

For example: https://docs.microsoft.com/en-us/dotnet/standard/cross-platform/cross-platform-development-with-the-portable-class-library

A sub-item from issue #2724

[2018-06-18 20:31] dasMulli commented on #2816
btw in 15.8+ MSBuild will also honour the `AssetTargetFallback` value for P2P references - https://github.com/Microsoft/msbuild/pull/3205.

[2018-06-18 20:34] mairaw commented on #4241
This item should focus only on:

- which versions I need to keep on my machine
- how do I uninstall SDKs I don't need anymore per OS

[2018-06-18 20:34] JRAlexander opened #6011 "Update versioning documentation for .NET Core 2.1"
This change updates and clarifies how we version .NET core starting with .NET Core 2.1.

This should only be merged in sync with other .NET Core 2.1 documentation.

[2018-06-18 20:39] JRAlexander commented on #6011
Duplicated by existing topic #4352

[2018-06-18 20:39] #6011 closed

[2018-06-18 20:39] mairaw commented on #4352
@KathleenDollard could you help us with this work item? I'm happy to help you with the doc process and how everything works.

[2018-06-18 20:47] SchildersChris opened #6012 "Bitwise comparison example"
Hello,

I was looking at this example:

        // The following line performs a bitwise AND of F8 (1111 1000) and
        // 3F (0011 1111).
        //    1111 1000
        //    0011 1111
        //    ---------
        //    0011 1000 or 38

But it took me a while to figure out F38 is ment here and not 56.
I would suggest stating F38 instead of 38.

---
#### Document Details

⚠ *Do not edit thi

[2018-06-18 20:52] gewarren opened #6013 "Add remark to call GetType before calling GetClass"
This topic doesn't mention that you should call ICorDebugType::GetType before calling ICorDebugType::GetClass. Please update document to mention this.

This topic has the necessary information: https://technet.microsoft.com/nl-nl/library/ms230268(v=vs.100).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74aa0f5a-08

[2018-06-18 20:53] mairaw commented on #4541
Let's just add this to the what's new topic: https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-2-1

[2018-06-18 20:58] bs6523 commented on #5984
@pkulikov  the code is working after updating to 0.2.0
@Dirkster99  @JRAlexander  thanks for the code, its working fine,

anyone know how is "StochasticDualCoordinateAscentClassifier()" working? is there any explanation for that? i cant understand how its working in background

[2018-06-18 21:01] peternroth opened #6014 "Teaching C#"
This is the greatest teaching advance in years! Well done!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afcf89b8-e845-5723-26c0-e9fcb4da60e6
* Version Independent ID: 85929067-8f01-e47e-c736-95edb6b50267
* Content: [Branches and loops interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csha

[2018-06-18 21:30] mairaw commented on #6014
Awesome! We’re glad that you liked it @peternroth.

[2018-06-18 21:30] #6014 closed

[2018-06-18 21:33] JRAlexander opened #6016 ".NET Core Global Tools Part 2: How to create new global tools"
This Part 2 of 3 topics will address the .NET Core Global Tools. .NET Core now has a new deployment and extensibility mechanism for tools. This new experience is very similar to and was inspired by NPM global tools.
 Part 1: global tools overview, sdk commands, how to use it - #4509
 Part 2: how to create new global tools - This issue
 Part 3: update extensibility topic  - #6017

[2018-06-18 21:36] JRAlexander opened #6017 ".NET Core Global Tools Part 3: Update extensibility topic"
This Part 3 of 3 topics will address the .NET Core Global Tools. .NET Core now has a new deployment and extensibility mechanism for tools. This new experience is very similar to and was inspired by NPM global tools.
 Part 1: global tools overview, sdk commands, how to use it - #4509
 Part 2: how to create new global tools - #6016
 Part 3: update extensibility topic - This Topic

[2018-06-18 21:47] #6001 closed

[2018-06-18 21:55] markdcarringer opened #6018 "Example Missing"
This article seems to be missing an example. Here is an example written in LinqPad that I think might be worth including.

void Main()
{
	// Create objects and serialize them into an XML file.
	Student s = new Student() {Name="Mark"};
	Teacher t = new Teacher() {Name="Katie"};
	SerializePerson(s, @"C:\Users\username\Desktop\student.xml");
	SerializePerson(t, @"C:\Users\username\Desktop\teacher.xml

[2018-06-18 21:56] rpetrusha commented on #6013
@gewarren, given that ICorDebugType::GetType and ICorDebugType::GetClass are deprecated, the guidance to call ICorDebugType::GetType before calling ICorDebugType::GetClass was deliberately removed; the guidance is to call ICorDebugValue2::GetExactType instead. Since this was by design, I'm going to close this issue.  If you disagree, please feel free to respond.

[2018-06-18 21:56] #6013 closed

[2018-06-18 22:11] lobster2012-user commented on #3964
Hello.
What about delegate with 2 args ?
https://gist.github.com/lobster2012-user/a5957b439c6085fbbe28d2a227634ab2#file-il_enum_hasflag_0_1

[2018-06-18 22:37] rpetrusha commented on #6009
Wow, I had no idea. Thanks for pointing this out, @svick. We'll schedule some time to consolidate the two topics during the next sprint.

[2018-06-18 23:04] JRAlexander commented on #828
I think we can close this. The articles have been updated.

[2018-06-18 23:05] #828 closed

[2018-06-18 23:05] #6012 closed

[2018-06-18 23:10] #5806 closed

[2018-06-18 23:23] pkulikov commented on #5984
@bs6523

Is it a neural net model or some other model?

Current docs don't explain learners in detail. The mentioned learner might be [that one](http://www.vlfeat.org/api/svm-sdca.html). In any case, if you ask this question in the [ML.NET repo](https://github.com/dotnet/machinelearning/issues) itself, the probability to get an answer is higher.

[2018-06-18 23:28] pkulikov commented on #5936
@OliaG then, I'll use the [sample from ML.NET samples repo](https://github.com/dotnet/machinelearning-samples/tree/master/samples/getting-started/Clustering_Iris) as the foundation for the tutorial here?

[2018-06-19 00:12] mairaw commented on #2930
Unfortunately not @BillWagner. A lot of topics still don't have descriptions. Let me see if I can find updated data.

[2018-06-19 00:30] mairaw commented on #2930
I lowered the priority for now and the spreadsheet should still be pretty accurate. The global metadata changes wouldn't impact missing descriptions. These have to be individually written for each article.

[2018-06-19 00:35] BillWagner commented on #6014
/cc @LadyNaggaga

[2018-06-19 00:41] LadyNaggaga commented on #6014
@peternroth glad you found it useful!

[2018-06-19 00:46] mairaw commented on #5198
I'm going to close this issue @svick. The engineering team is working on that and it's not something we (the writing team) can control. If you wanna track this work, an issue at MicrosoftDocs/feedback would be more appropriate.

[2018-06-19 00:46] #5198 closed

[2018-06-19 01:09] mairaw commented on #6018
Hi @markdcarringer. Thanks for pointing that out. It seems that something happened in between migrations from one system to the other. This API used to have an example: https://msdn.microsoft.com/en-us/library/system.xml.serialization.xmlincludeattribute(v=vs.100).aspx#Examples

We'll add that back again to the docs.

[2018-06-19 01:10] Rick-Anderson commented on #5009
I would:

* Add it to [.NET Core application deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/index)
* Update the other docs to be consistent
* Cross link as appropriate

[2018-06-19 01:16] Rick-Anderson commented on #5009
I'll bet  @JRAlexander could knock this out in a couple hours.

[2018-06-19 04:15] zhuangzhuang opened #6021 "Last snippet is error."
https://github.com/dotnet/samples/blob/master/csharp/roslyn-sdk/SemanticQuickStart/Program.cs must use Snippet13

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f68fa439-55b3-ff14-e2d1-2373615d978b
* Version Independent ID: 33c84a67-2ca2-fd1c-3739-60ad3df79f8e
* Content: [Get started with semantic analysis](https://docs

[2018-06-19 07:16] mairaw commented on #5892
Thanks for your feedback @lpnam0201. I'll close this as a duplicate of #3623 since it's basically the same link. So once we figure out where we should link to, we'll change both topics.

[2018-06-19 07:16] mairaw commented on #5892
Duplicate of #3623

[2018-06-19 07:16] #5892 closed

[2018-06-19 08:28] amitvermad commented on #6003
Many thanks for your reply. It was mistake at my end.
In app.config I manually change target version to 4.6, but in Project properties it was .Net Framework 4.
I change it now and it is working.

[2018-06-19 08:28] #6003 closed

[2018-06-19 09:09] svick commented on #6021
You're right. Do you want to submit a Pull Request that makes that change? If you do and don't know how, you can follow [this guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents). If you have any questions, feel free to ask here.

[2018-06-19 09:51] #6002 closed

[2018-06-19 09:51] jwettstrom opened #6022 "Please update to lastest versions on tables etc."
The tables etc. are way outdated. Please update these along with the releases. MS Docs have become very confusing with lots of outdated documentation that no longer works or which works with what. If you want to have fast releases, the documentation has to keep up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b77

[2018-06-19 10:42] pkulikov commented on #6022
@jwettstrom what table do you speak about?

If you concern about the *.NET implementation support* table, then

@mairaw is it worth to update the table introductory sentence that it states that the platform versions in the table are *minimum* ones?

If  your concern is about the *PCL compatibility* table, I agree with you. The [PCL compatibility](https://docs.microsoft.com/en-us/dotnet/standard/ne

[2018-06-19 10:58] NotAClue opened #6024 "Case Sensitivity"
Is the compare used for oldValue with the current string case sensitive or insensitive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012299fc-cd36-4cd8-9bdf-1d7a9a431516
* Version Independent ID: 9bb0a732-d14f-d0b4-460d-5952d52c47d5
* Content: [String.Replace Method (System)](https://docs.microsoft.com/en-us/dotnet/a

[2018-06-19 11:21] matthew1471 opened #6025 "Font constructor by string does not work with PrivateFontCollection"
This code did not work for me.

I had to amend Font to take a FontFamily rather than the string of the Font name as the above code suggests should work.

[code]

instead of:

[code]

etc.

See also: https://stackoverflow.com/a/7687503

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b4d264-5b9e-11bd-1aa9-f19b47f19981
*

[2018-06-19 11:40] mrward opened #6026 "Converting a PCL project - Target .NET Platform Standard no longer exists"
https://docs.microsoft.com/en-us/dotnet/core/porting/libraries#converting-a-pcl-project

In older versions of Visual Studio there used to be a 'Target .NET Platform Standard' option to convert a PCL project to a .NET Standard project that used a project.json file (not an SDK style project). This option does no longer seems to exist in Visual Studio 2017 15.7.4 presumably because project.json has b

[2018-06-19 12:24] ThomasWeiss opened #6027 "Hosting on Azure App Service"
Towards the end of this article, it is stated that "if you deploy your WebHost on IIS or a regular Azure App Service, your host can be shut down because of app pool recycles"; does it mean that in such an environment, `StopAsync` would not be called before a shutdown?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a

[2018-06-19 13:33] #6021 closed

[2018-06-19 15:24] darbvin opened #6029 "Developer Command Prompt had to be Run as Administrator to get service to successfully install..."
The first time I attempted to install, I got a failure with no discernable explanation in the installLog.
The second time I attempted to install, I got a failure with this error in the installLog:
System.Security.SecurityException: The source was not found, but some or all event logs could not be searched.  Inaccessible logs: Security.

I ran the dev cmd prompt as administrator on the 3rd try, and

[2018-06-19 15:52] #5923 closed

[2018-06-19 16:09] darbvin opened #6031 "Does this tutorial create a 32-bit service?"
I see references that appear to be 32-bit ("DwWin32ExitCode" "advapi32.dll")... Being that windows and windows server are all 64-bit now, is there any reason to avoid 64-bit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3ba0-c606-25ada7347b22
* Version Independent ID: e797ddfe-a9d3-93a4-61bd-fd6dc9b8d6b

[2018-06-19 16:15] #5953 closed

[2018-06-19 16:22] jfbenson commented on #5953
Sounds good to me. Thanks Ron!

[2018-06-19 16:30] mairaw commented on #5268
Fixed with PR #5931. However, I've filed a new issue to cover the scenario when the option does work when you install old templates.

[2018-06-19 16:30] #5268 closed

[2018-06-19 16:39] JRAlexander commented on #4540
Fixed by #5670

[2018-06-19 16:39] #4540 closed

[2018-06-19 16:46] mairaw commented on #4654
@stephentoub @rmkerr @karelz can one of you comment on this? Thanks!

[2018-06-19 16:54] mairaw commented on #4823
@GrabYourPitchforks @KrzysztofCwalina you both are assigned to this issue. Does that mean you're going to help with the docs? 😄

[2018-06-19 16:58] rmkerr commented on #4654
There definitely is some conflicting info here. From the BeginSend [docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.beginsend?view=netframework-4.7.2):

And from the EndSend docs:

Unless someone else already knows the answer, I'll take a look at the code and see if I can find out what info is correct here.

[2018-06-19 16:59] mairaw commented on #5009
@Rick-Anderson can you help? 😄

[2018-06-19 17:01] mairaw commented on #5348
@nokura when do you think the ML.NET topics will be available in Chinese? Thanks!

[2018-06-19 17:21] rpetrusha commented on #6024
Thanks for your feedback, @NotAClue. The Remarks section of the String.Replace(String,String) overload notes that, "This method performs an ordinal (case-sensitive and culture-insensitive) search to find oldValue." Since the documentation contains the information you wanted, I'll close this issue; if you disagree, please feel free to respond.

[2018-06-19 17:21] #6024 closed

[2018-06-19 17:29] rpetrusha commented on #6029
@darbvin, the topic mentions that you have to run the console window as administrator:

![image](https://user-images.githubusercontent.com/10886961/41613648-0a789f98-73ab-11e8-8b79-b991ca03bb9b.png)

Was this guidance inadequate? Under the assumption that you overlooked the need to open the console window with elevated permissions, I'm going to close this issue. If that isn't the case and you disa

[2018-06-19 17:30] #6029 closed

[2018-06-19 17:35] KathleenDollard commented on #4352
@mairaw I am working on this. That topic is massively overloaded. I'm setting a meeting with you about what we drop and what we make a different topic. The core info on the version is ready for review, but I want to discuss before I do the PR.

[2018-06-19 17:39] KathleenDollard commented on #5009
Eeek. It looks like we are using "shared framework" and "framework dependent" pretty much as synonyms. Which is pretty confusing.

@richlander can you weigh in on this (check the use of the two phrases in dotnet command page link above)

[2018-06-19 17:42] et1975 opened #6032 ""succinct and expressive""
I'd add "composable" to that list. Conversely, "composable, succinct and expressive" can be at odds with "interoperable". Interoperability is not by itself a virtue, it's just one of the quality attributes that one may or may not care about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63d2086-c15d-2434-8189-c2acaab

[2018-06-19 17:59] cartermp commented on #6032
@eiriktsarpalis it would be good to get your perspective on this as well.

The current document states that interoperability is a virtue. My purpose in writing this document is less about interoperability and more about making it clear that the boundaries of pieces of a system matter, and should be considered whenever writing F# code. I think that this is not at odds with "composable, succinct, an

[2018-06-19 18:14] mairaw commented on #4554
@ChrisMaddock I've opened PR #6033 to remove the misleading column and added some line breaks to help with the table.

But we also have a tracking bug with the engineering team for tables in docs:
https://github.com/MicrosoftDocs/feedback/issues/336

[2018-06-19 18:15] et1975 commented on #6032
I'd love to see @swlaschin take as well.

[2018-06-19 18:18] #4638 closed

[2018-06-19 19:50] objetitos opened #6036 "Train should be async"
public static PredictionModel&lt;SentimentData, SentimentPrediction&gt; Train()

should be

public static async Task&lt;PredictionModel&lt;SentimentData, SentimentPrediction&gt;&gt; Train()

Otherwise it can not contain an async call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
*

[2018-06-19 20:20] pkulikov commented on #6036
@objetitos good catch! thanks for reporting it.

[2018-06-19 20:21] rmkerr commented on #4654
The EndSend docs are the correct ones. BeginSend is implemented using the WSASend function, which provides the following explanation ([source](https://msdn.microsoft.com/en-us/library/windows/desktop/ms742203(v=vs.85).aspx)):

I'm not sure of the exact buffer sizes required to trigger this behavior, but it does appear to be possible. We should update the BeginSend docs to reflect the actual behavi

[2018-06-19 20:26] davidni opened #6040 "RuntimeInformation.FrameworkDescription has wrong remarks"
The remarks section of [this](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.frameworkdescription?view=netframework-4.7.1#feedback) page, as well as [this older one](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.runtimeinformation.frameworkdescription(v=vs.110).aspx), has inaccurate information. I have seen `RuntimeInformatio

[2018-06-19 20:43] mlawrenceConduent opened #6041 "64 bit?"
Are there 64 bit versions of these? When I change a solution to x64 projects which are of this "Class Library (Portable)" type give errors that they can't be compiled as 64 bits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 831ea3a3-e545-138f-bd49-fab3420b0640
* Version Independent ID: 59ab76ed-0a71-2dcd-b288-f7daaab

[2018-06-19 20:58] gosali opened #6042 ""yield 语句"示例"
@hwhois commented on [Tue Jun 19 2018](https://github.com/dotnet/docs.zh-cn/issues/154)

"yield 语句"示例 中 static IEnumerable&lt;int&gt; Range(int from, int to)  报错: error CS0308: 非泛型 类型“System.Collections.IEnumerable”不能与类型参数一起使用
c:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscorlib.dll: (与前一个错误相关的符号位置)
改为 "static IEnumerable Range(int from, int to)" 可行

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft

[2018-06-19 21:05] gosali opened #6043 ""switch 语句" 示例代码报错, 建议更换"
@hwhois commented on [Tue Jun 19 2018](https://github.com/dotnet/docs.zh-cn/issues/153)

"switch 语句" 示例代码 中
 Console.WriteLine($"{n}  arguments"); 在命令行编译时报错: error CS1056: 意外的字符“$”.
建议修改为:  Console.WriteLine(n + " arguments")

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 017f9566-a4df-e294-d6e8-da9252469ca9
* Version Independent ID: 6665f9d5-24bf-ac0d-62f5-d63ed531

[2018-06-19 21:16] BillWagner commented on #5304
I'll work on this one.

My Mac has *so* many versions on it, I need to clean it up. Lots to practice with. So much 🚮

[2018-06-19 21:41] #5966 closed

[2018-06-19 21:58] OliaG commented on #5936
@pkulikov yes, perfect!

[2018-06-20 02:15] VincentGau commented on #5433
How to configure a custom STS since Identity and Access Control is deprecated. Are there any tutorial about build a custom STS.

[2018-06-20 05:05] mairaw commented on #4509
Fixed with PR #5036

[2018-06-20 05:05] #4509 closed

[2018-06-20 06:33] mairaw commented on #5995
Thanks @MarcioAB. I've thought of initially linking to https://github.com/Microsoft/WPF-Samples/tree/master/Animation/KeyFrameAnimation, however it didn't match the sample we were showing on that page. I changed that to point to the sample we are using on that page.

[2018-06-20 06:33] #5995 closed

[2018-06-20 06:40] mairaw commented on #6043
@gosali please let us know what is the action item for the writing team from these bugs when moving them here.

/cc @Sara-Nicolini @nokura

@BillWagner do you think we need to add any notes about the example using string interpolation in the switch statement?

[2018-06-20 06:49] mairaw commented on #6026
Thank you for bringing this to our attention @mrward. @terrajobst do you what's the current process to convert? This topic probably needs more updates besides this one called out by Matt.

[2018-06-20 07:06] imba-tjd commented on #6043
It seems that @hwhois is using .NET Framework 4.0 which not support for this feature. So this is on his side.

[2018-06-20 07:19] mairaw commented on #6022
That information is after the table @pkulikov but it might be worth trying to add that before.

I don't think newer versions of the standard overlap with PCL profiles, so adding @terrajobst here to confirm.

Also, I've seen people expecting to see a .NET Standard 2.1 column when such a version doesn't exist yet.

@jwettstrom can you please clarify where do you think the topic is outdated? I'll mak

[2018-06-20 07:29] mairaw commented on #6011
Duplicate of #4352

[2018-06-20 08:22] bacar opened #6050 "Bug?"
Is the code sample correct?
It disposes of the CancellationTokenRegistration - which will unregister the callback - as soon as it finishes calling DownloadStringAsync(), which seems somewhat pointless!

    using (CancellationTokenRegistration ctr = token.Register(() => wc.CancelAsync()))
    {
        Console.WriteLine("Starting request\n");
        wc.DownloadStringAsync(new Uri("http://www.cont

[2018-06-20 09:03] tayler0101 opened #6051 "How i can use it?"
I cant't figure out how to use it in MultipartFormDataContent.
Is there is any example ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4704f5d6-03a6-e482-86d4-951e8ed55656
* Version Independent ID: 1901f6ab-4793-5723-59d3-31952b2d4ad7
* Content: [HttpContent Class (System.Net.Http)](https://docs.microsoft.com/en-us/do

[2018-06-20 09:09] kp2017 opened #6052 "Interfaces with same property with another interface as a return type"
What is the solution for an interface that implements another interface and both have a property with the same name that returns another interface which is also inherited?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda601c2-3dbe-4ad1-db39-670cff3b654c
* Version Independent ID: 092fce57-ea16-c7a6-c85d-f6c111eba4eb
*

[2018-06-20 09:26] R0binBl00d opened #6053 "I am missing an example"
According to google, Left Outer Join should Result in :

// This code produces the following output:
//
// Arlene:

since a join includes the overlap of the two circles
a left join includes the overlap and the rest of A (as in the example)
and a left outer koin should show only the orphans of A,
or A minus the inner join.

would be great if you could extend the examples with the "real" outer join

[2018-06-20 13:33] CreativeHouseDotOrg commented on #5272
Hi, we're currently building an App with JWT Bearer Tokens and the team and i got stuck with the Refresh Token Part... Any Documentation about this would be great. Thanks in advance.

[2018-06-20 14:10] kingboyk commented on #3540
In addition to Microsoft.DotNet.FrameworkCompatibilityDiagnostics being current only up to 4.6.2, it appears that it doesn't work in Visual Studio 2017:

[2018-06-20 14:12] svick commented on #6052
Are you talking about something like the following code?

[code]

In that case, I think a reasonable solution is to implement the more base interface explicitly and the more derived interface implicitly:

[code]

Though I'm not sure this is something that should be added to the article. Doesn't it explain the concepts sufficiently, so that you can figure a solution like this on your own?

[2018-06-20 16:04] BillWagner commented on #5340
closed as duplicate of [NuGet/Home/#6486](https://github.com/NuGet/Home/issues/6486)

[2018-06-20 16:04] #5340 closed

[2018-06-20 17:14] BillWagner commented on #5443
@reinfallt Does the above answer help? Do you need more updates?

[2018-06-20 17:26] amp64 opened #6056 "Link to sample code is dead"
http://go.microsoft.com/fwlink/?LinkID=159998 points to an archive.msdn location that is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aeb422f-3ff5-245a-1936-46366cf38f7f
* Version Independent ID: 30a23909-737b-cd56-1239-7a2669266974
* Content: [Walkthrough: Hosting a Win32 Control in WPF](https://docs.microsof

[2018-06-20 17:46] BillWagner commented on #5699
Closing as duplicate of https://github.com/NuGet/Home/issues/6486

[2018-06-20 17:46] #5699 closed

[2018-06-20 18:04] #4637 closed

[2018-06-20 18:54] #5629 closed

[2018-06-20 19:10] #6036 closed

[2018-06-20 19:51] rpetrusha commented on #6056
Thanks for reporting the broken link, @amp64. We've opened PR #6058 to fix it.

[2018-06-20 22:03] tbrownio opened #6063 "FileStream not in using statement"
Is there a reason why the FileStream instance declaration in both examples is not wrapped in a using() statement? This deviates from other FileStream initialization examples in this section of the documentation and clarifying the reasoning behind this would be helpful to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-06-20 22:32] deirdreemoran commented on #4785
I updated the samples repository with the same changes, PR [#131](https://github.com/dotnet/samples/pull/131).  Happy to help and please let me know if anything needs to be redone!

[2018-06-20 22:36] BillWagner commented on #4785
Thanks @deirdreemoran Either @rpetrusha or I will review this soon.

[2018-06-20 22:58] #4554 closed

[2018-06-21 00:35] mairaw commented on #6056
As a quick fix, I've replaced the FwLink to point to https://github.com/Microsoft/WPF-Samples/tree/master/Migration%20and%20Interoperability/WPFHostingWin32Control. I'll get to the PR soon.

[2018-06-21 00:48] infoberg commented on #5272
Save yourself some work and frustration and use jose-jwt instead...

[2018-06-21 01:02] stjeong opened #6064 "I think this sentence is wrong "Formatted value types that contain only blittable types (and classes if they are marshaled as formatted types).""
"
Formatted value types that contain only blittable types (and classes if they are marshaled as formatted types).
"

I knew "classes are marshaled as formatted types" is like this,

[code]

Then, is this struct blittable?

[code]

I knew Foo is not blittable because it includes reference types (regardless of whether the reference types can be marshaled as formatted types or not).

---
#### Documen

[2018-06-21 01:58] stjeong opened #6065 "seems to have errata"
"System.Class", "System.Mdarray", "System.Szarray" are not defined in any .NET BCL. They are not existed in System namespace.

and,

"System.Valuetype" has to be changed to "System.ValueType"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58f8457e-1aca-f623-352c-f5019cf9aab0
* Version Independent ID: 2867ee3a-e4bf-49ac

[2018-06-21 02:12] MarcioAB opened #6067 "Broken link on ... "For more information, see MessageBox Sample""
The link for the MessageBox Sample is broken.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78ec57dc-a8f4-5b0a-876e-c4a604e589b7
* Version Independent ID: e33710c7-97b0-7920-662b-25c5f4ba2776
* Content: [MessageBox Class (System.Windows)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.messagebox?vie

[2018-06-21 02:16] mairaw commented on #4785
Appreciate you're doing this @deirdreemoran. It was on my backlog as I saw these changes coming in and would move our topics to use the dotnet/samples version soon.

[2018-06-21 02:37] rido-min opened #6068 ".NET Native should not be part of .NET Framework docs"
.NET Native (as described) in this doc is a UWP tech only. This document can cause some confusion, specially the last sentence in the first paragraph:

.NET Framework provides NGen and Ready2Run, both tools produce native images but there are important differences compared to UWP .Net Native.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-06-21 02:38] leecow opened #6069 "sqlconnection is not available in .net core 2.1"
@DoubleCouponDay commented on [Sun Jun 17 2018](https://github.com/dotnet/core/issues/1699)

![image](https://user-images.githubusercontent.com/7555725/41513984-78cd40ae-72e6-11e8-962f-b7f612fc0a17.png)

![image](https://user-images.githubusercontent.com/7555725/41513987-807a22b8-72e6-11e8-980f-77c56a6fcc5c.png)

It is also missing when using the `system.data.sqlclient` namespace from nuget.
why i

[2018-06-21 03:28] terrajobst commented on #6026
@mairaw

The conversion mechanism from PCL to .NET Standard was removed as the output uses a project system that doesn't have the right feature set. The approach to convert is the same as for any a project type now: you create a new .NET Standard project and copy & paste the existing source files. Alternatively, you can hand edit the project files like @jamesmontemagno did this in his awesome vide

[2018-06-21 04:51] jamesmontemagno commented on #6026
And: https://montemagno.com/how-to-convert-a-pcl-library-to-net-standard-and-keep-git-history/ :)

[2018-06-21 05:21] PeterWone opened #6070 "Second example demonstrates wrong thing"
The paragraph immediately before the second example states that the second example "uses a UdpClient to send UDP datagrams to the directed broadcast address 192.168.1.255, using port 11,000. The client sends the message string specified on the command line."

This is not true. The second example uses the Socket class directly to make a directed broadcast. It makes no mention of UdpClient.

---
###

[2018-06-21 05:44] reinfallt commented on #5443
It definitely helps. I just haven't had time to look into it any further.

[2018-06-21 06:08] pkulikov commented on #6022
@terrajobst thanks for replies.

True, as about once a month somebody misses the remark under the table and raises an issue.

@mairaw @terrajobst is that a good paragraph to add to the docs? To explicitly describe the situation with .NET Standard 2.0 and PCL.

[2018-06-21 08:39] mmisztal1980 commented on #5736
I wanted to follow up on the issue, is there any activity in this area?

[2018-06-21 09:54] FransBouma opened #6071 "DbDataReader / SqlDataReader.RecordsAffected is set right after DataReader is created, not only when it's done."
The remark:

Isn't true, it's set right after ExecuteReader on a command. Repro:

[code]

.NET 4.5.2

[code]

gives:
[code]
Clearly Rows affected is set before the read starts, not when it's closed.

I think adjusting the docs is better than adjusting the behavior to the property as the property behaves as one would like (so the docs are misleading :))

---
#### Document Details

⚠ *Do not edit th

[2018-06-21 10:43] ChuckGoehring opened #6072 "Error message in Exception when Open fails"
Is this really your best effort:  "Unable to load the specified metadata resource" is all I get for an error message when Entity Client can't get data?  No InnerException, no details I can troubleshoot with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51ceb0f6-dc32-0f86-69d2-8a2d70052c3e
* Version Independent ID: 4c

[2018-06-21 11:58] hanswright opened #6073 "omission"
-&gt; must be precise and avoid risk of misunderstanding &lt;-
replace
It enables the creation of a task that can be handed out to consumers, and those consumers can use the members of the task as they would any other.
-&gt;
It enables the creation of a task that can be handed out to consumers. The consumers can use the members of the task the same way as they would in any other scenario handling

[2018-06-21 12:38] hagatorn opened #6074 "Example does not mention "server.ClientCertificates""
Would be helpful to see it set in CreateTestMessage() or in the config file.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567dc8fc-2590-f487-b863-2eabc95d0073
* Version Independent ID: 835d09f3-bf49-2ba2-2fff-d021159c3701
* Content: [SmtpClient.ClientCertificates Property (System.Net.Mail)](https://docs.microsoft.com

[2018-06-21 12:44] hagatorn commented on #6074
For example should you load a file or if a cert is installed in a cert store must it be referenced or automatically looked up?

[2018-06-21 13:37] MarcioAB commented on #6067
Thank you Maira. I'm using the WPF repo in github too. I'm not "hunting" broken links. I eventually find some by chance during my reads. The idea is to (give a minimal) help with this great documentation, as face a broken link is always a non pleasant experience. As I see you are responding well to fix, I will keep pumping. Thank you.

[2018-06-21 14:11] wiezykrwi opened #6075 "Client example"
It says in the description that UdpClient is used, then goes and uses Socket.
Example with UdpClient:
        UdpClient udpClient = new UdpClient("192.168.1.255", 11000);
        byte[] sendbuf = Encoding.ASCII.GetBytes(args[0]);
        udpClient.Send(sendbuf, sendbuf.Length);
        Console.WriteLine("Message sent to the broadcast address");

---
#### Document Details

⚠ *Do not edit this secti

[2018-06-21 15:05] svick commented on #6075
This seems to be a duplicate of https://github.com/dotnet/docs/issues/6070.

[2018-06-21 15:38] MuraliManickam opened #6078 "Look & Feel"
Hi Team, This documentation UI looks great! but add on the read mode kind of feature will help the user focus on the content clearly. It would be great if you remove the side navigation bar on both left & right on reading mode. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3850222-3c85-c851-006b-5236b41608d1

[2018-06-21 16:01] mairaw commented on #6078
Thank you for your feedback @MuraliManickam! Given that this feedback is regarding the site and not the content itself, I've moved this issue to https://github.com/MicrosoftDocs/feedback/issues/449.

[2018-06-21 16:01] #6078 closed

[2018-06-21 17:17] nowherenearithaca opened #6080 "csproj: Docs on "link" attribute of "None" element?"
After migrating a project.json to csproj, I'm trying to get the equivalent of "publishOptions" to work where I am using relative paths.  It seems related to the "link" attribute of the generated "None" element, but having a tough time tracking down how to use that.

btw - this is the generated element that does not seem to be working... and I think it's because of the relative paths (this is 1.1)

[2018-06-21 17:58] rpetrusha commented on #6075
Thanks for submitting your feedback, @wiezykrwi; we appreciate it.

@svick is right; this is a duplicate of #6070, I'll mark it as duplicate and close it.

[2018-06-21 17:58] #6075 closed

[2018-06-21 18:46] oakcool opened #6082 "Broken link"
The link in "Styling with ControlTemplates Sample" does not take you anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13905a3-01f8-c89a-1c45-cec1393634d4
* Version Independent ID: 3dea6741-cb5d-822f-bf44-bfe454e26495
* Content: [TabPanel Class (System.Windows.Controls.Primitives)](https://docs.microsoft.com/en

[2018-06-21 18:50] endrodyp opened #6084 "more like this please"
Finally a well understood post, thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 785592e0-9e79-8b25-8288-dd15e6516c8a
* Version Independent ID: fe29ea5c-2b95-f6e7-d52b-cc042e5da243
* Content: [How to: Create a Windows Forms application from the command line](https://docs.microsoft.com/en-us/dotnet/framework/win

[2018-06-21 18:59] nowherenearithaca commented on #2642
having so much silliness with trying to get an external directory and all of its files copied - is there any reason this wouldn't work?

[code]

[2018-06-21 19:01] guardrex commented on #2642
@nowherenearithaca Are you not setting the SDK to `Web`? ...

[code]

The files will be moved ✨ *auto-magicially* ✨ for you on publish.

[2018-06-21 19:20] nowherenearithaca commented on #2642
hi @guardrex yes - it seems to be there - note that this is a csproj file created with dotnet migrate

`<Project Sdk="Microsoft.NET.Sdk.Web">
`

[2018-06-21 19:22] guardrex commented on #2642
... and when you do a `dotnet publish`, you're not getting your `wwwroot` assets published? Check the `publish` folder.

<img width="174" alt="capture" src="https://user-images.githubusercontent.com/1622880/41740742-8fc2d6d2-755e-11e8-9902-a1c5b004f62e.PNG">

[2018-06-21 19:31] dasMulli commented on #2642
@nowherenearithaca try

[code]

[2018-06-21 19:33] guardrex commented on #2642
@dasMulli With that SDK, why not ...

https://github.com/aspnet/websdk/blob/9e0bcbae34d4686e6a545b21c5d3c7862ca54266/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L30

[2018-06-21 19:36] #6056 closed

[2018-06-21 19:36] nowherenearithaca commented on #2642
@dasMulli thx - closer - it copied the files but did not seem to preserve the directory structure

[2018-06-21 19:37] dasMulli commented on #2642
Every item will need a `Link` metadata or else the `AssignTargetPath` of msbuild will not be able to determine a target path to copy it to (= ""outside of the project cone"").
The 2.0 SDK introduced `LinkBase` to help set a sensible `Link` metadata for items created through globbing. It's just a shortcut for `Link="wwwroot\%(RecursiveDir)%(Filename)%(Extension)")`.

[2018-06-21 19:41] nowherenearithaca commented on #2642
@dasMulli that seemed to do it!  yes, I'm using 1.1 atm.  whew.

[2018-06-21 19:42] dasMulli commented on #2642
@nowherenearithaca it works on a sample I just created to validate:
[testextthings.zip](https://github.com/dotnet/docs/files/2125108/testextthings.zip)

Please create a minimally reproducible sample if it doesn't work.

Also make sure you are using a 2.0+ SDK, even if you are developing for older runtime versions of .net core.

[2018-06-21 19:51] #5998 closed

[2018-06-21 20:09] BillWagner commented on #5686
In addition to the `ref` topic, the `struct` topic should include information on `ref struct` and `ref readonly struct`.

[2018-06-21 20:50] DavidBates opened #6087 "microservices.md inline code snippets missing"
# microservices.md inline code snippets missing

## Issues with Existing Topics

https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/microservices.md
I was trying to follow this today to set up a microservice but all of the code samples render as
[!code-csharpTryParseExtension]
This makes it unable to follow as without the context of the code snippets you can't figure out what's going

[2018-06-21 21:03] pkulikov commented on #5686
@BillWagner what about the following structure. The main article on `struct` should describe:
- "canonical" structs
- `readonly struct`
- `ref struct`
- `ref readonly struct`

Given that, the `ref` and `readonly` topics can then only mention usage and link the main article on `struct` for more information.

The question is: what is the main article on structs? The `struct` keyword topic references

[2018-06-21 21:06] vasanthloganathan opened #6088 "Domain Info"
Hi, Have a question. Will this work if the client and service are in different domains? if not is there any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9566f7-bc96-dacf-1ed8-79bc04b853f6
* Version Independent ID: 659130d9-16ac-b94f-2680-9c1effa6f087
* Content: [Transport Security with Windows Authentic

[2018-06-21 21:07] pkulikov commented on #6087
@DavidBates that .md file is the source that is processed and published on docs.microsoft.com. Please check the result page:
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/microservices

It looks to contain all snippets in-place.

[2018-06-21 21:09] KathleenDollard commented on #5736
Looping in @johnbeisner

[2018-06-21 21:24] mairaw commented on #6087
Closing this issue since the content here on the repository is not meant to be the end product. It will have a lot of custom extensions that won't make sense for someone trying to read this here. This is the source for what shows up under https://docs.microsoft.com/en-us/dotnet/.

[2018-06-21 21:24] #6087 closed

[2018-06-21 22:00] #5697 closed

[2018-06-21 22:01] mairaw commented on #6069
We're actually removing that reference from the 2.0 docs as well. The support to document NuGet packages and appropriately show the supported platforms is coming on a later release of docs.microsoft.com.

[2018-06-21 22:15] mairaw commented on #6082
I'll see if I can find the new target @oakcool. I've been updating these broken links given the site where they were hosted before was shut down. Most of them can be found at https://github.com/Microsoft/WPF-Samples, but not all. Obrigada 😉

[2018-06-21 22:35] douglaslMS commented on #6072
@ChuckGoehring It sounds like you may have intended to give Product Feedback (with the other link at the bottom of the article) and not documentation feedback. If that's not the case, how are you suggesting that we improve this article about building an EntityConnection connection string?

[2018-06-21 23:40] bs6523 commented on #5984
@pkulikov
do you know how to get this values?

     Accuracy:
     Auc:
     F1Score:
     Negative Precision:
     Positive Precision:
     Negative Recal:
     Positive Recall

usign var evaluator = new ClassificationEvaluator();?

I used **BinaryClassificationEvaluator** and got these scores but for **ClassificationEvaluator** it's not working,

[2018-06-22 05:58] pkulikov commented on #5984
@bs6523 muliclass classification has other set of evaluation metrics. Check the [properties](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.models.classificationmetrics?view=ml-dotnet) of the **ClassificationMetrics** class. For example, you can get [confusion matrix](https://en.wikipedia.org/wiki/Confusion_matrix) by [ClassificationMetrics.ConfusionMatrix](https://docs.microsoft.com/en-

[2018-06-22 06:55] megasuperlexa opened #6094 "hmmm"
why would C# team spend time on such marginal things while the long anticipated features like record type get deferred

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddcaa6a52
* Version Independent ID: 6ea1af7f-2251-f05f-4834-5a00e57fc5fb
* Content: [What's new in C# 7.3](https://docs.microso

[2018-06-22 06:56] #6094 closed

[2018-06-22 11:49] BillWagner commented on #6094
@megasuperlexa [records](https://github.com/dotnet/csharplang/blob/master/proposals/records.md) is still being planned.

Features like records affect more areas of syntax and semantics. It takes longer to make sure all the scenarios are considered and analyzed.

[2018-06-22 12:56] drweb86-work commented on #6063
Hello

That's because BinaryReader will close underlying stream by itself. However according to docs disposed items should not complain about subsequent dispose calls, so you can do this in both ways

Cheers.

[2018-06-22 15:14] ChrisMaddock opened #6095 "Typo"
There's a typo in the "Example" section of this page:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb9bcf7b-e10f-36ed-3cac-c19ca12b3155
* Version Independent ID: 0398755f-4e0d-abae-01b9-6bb839f135d4
* Content: [How to: Use Antialiasing with Text](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how

[2018-06-22 15:31] pkulikov commented on #6095
@ChrisMaddock thanks for the catch and reporting :).

[2018-06-22 16:49] #6095 closed

[2018-06-22 16:57] CESARDELATORRE commented on #6027
I think StopAsync would be called but tasks being executed could be impacted when the app pool recycles.

[2018-06-22 17:24] Amine-Smahi commented on #5936
Thank you guys !

[2018-06-22 18:32] ro-jo opened #6097 "Garbage collection, how much self tuning occurs?"
"The garbage collector is self-tuning and can work in a wide variety of scenarios. You can use a configuration file setting to set the type of garbage collection based on the characteristics of the workload"

You're saying it's self-tuning, immediately followed by 'set it yourself'.  Does an application without a setting for &lt;gcServer&gt; automatically switch between workstation and server mode

[2018-06-22 18:35] CeciAc opened #6098 "1"
@kakisoft commented on [Fri Jun 15 2018](https://github.com/dotnet/docs.ja-jp/issues/116)

ビハインドコードも併せて掲載頂けると幸いです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a1b56804-34b3-7133-437f-34f7ad919b72
* Version Independent ID: f0490a67-2a64-f2b0-a8c2-13dfe5a6a686
* Content: [Model-View-View Model を利用した汎用性のあるクラス ライブラリの使用](https://docs.microsoft.com/ja-j

[2018-06-22 18:38] CeciAc commented on #6098
Hi team,
Moving this one here, since the end user says they'd appreciate information about Code-Behind Model
best

[2018-06-22 18:47] mairaw commented on #6098
Given that this topic is about PCL and that we're not going to deprecate the PCL topics, I'm inclined to close this as won't fix. Thoughts @BillWagner @rpetrusha?

[2018-06-22 18:48] sllewellyn13 opened #6099 "I would like to see an example of simple binding on this help page"
if a value changed on a text control, how do I make a notification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 695fa324-6701-d549-57c4-20bb6135a692
* Version Independent ID: 929643b5-48ae-ca69-a8c8-0f1af0b09f5a
* Content: [Change Notification in Windows Forms Data Binding](https://docs.microsoft.com/en-us/dotnet/fr

[2018-06-22 19:28] mairaw commented on #6080
We don't have that yet @nowherenearithaca but they will come as part of the work we're planning for #2642.

[2018-06-22 19:28] mairaw commented on #6080
Duplicate of #2642

[2018-06-22 19:28] #6080 closed

[2018-06-22 19:38] JohnCOsborne commented on #5822
Your proposed correction is redundant. The calling method is a statement.

[2018-06-22 19:54] rpetrusha commented on #6098
You meant to say that we're going to deprecate the PCL topics, I think. I agree, @mairaw.

[2018-06-22 21:51] mairaw commented on #6098
Yep, that's what I meant. Fixed that now. So I'm closing this as won't fix.

[2018-06-22 21:51] #6098 closed

[2018-06-23 03:38] ThomasWeiss commented on #6027
By "impacted", you mean stopped without notice?

[2018-06-23 09:18] ragnarstolsmark opened #6103 "Unknown switch error when running example code"
Executing the line
dotnet run --project /projects/proj1/proj1.csproj
returns an error saying unknown switch. I think it should be corrected to:
dotnet run --project ./projects/proj1/proj1.csproj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd3f4227-cd9b-7b1c-7e1b-ffb3d42ae496
* Version Independent ID: 7e78f9f5-f77c-8

[2018-06-23 18:40] sbrunner78 opened #6104 "Sequence of steps to create a FormClosing Event Handler"
I need to create a form closing event handler - I do not know how to create one.
I know how to create a form load event handler, but I do not know how to create form closing event handler.
It would be great if you would add a brief amount of information to fill this information gap on implementation!    Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-06-24 12:18] vikas304 commented on #5274
'private protected ' is giving an error when we are using both simultaneously.

[2018-06-24 13:42] bobrundle opened #6106 "Need Person class definition to complete example"
Without a definition of the Person class, the example is incomplete and does not work properly.  For example without a ToString() override in the Person class, the tab headers simply have the class name.  You need a Person class that looks something like this...

 public class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public str

[2018-06-24 15:28] Atomosk opened #6107 "I don't see examples using Span<T>, but article insist I do"
&gt;In this article, you see examples using Span&lt;T&gt; for simplicity.
Probably should be link or something, maybe this one? https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84d483-1591-6ea4-83a7-fd3c2b1f081b
* Version Independent ID: 0b7f8ccd-a529-4

[2018-06-24 21:23] brick20 opened #6110 "Not working for me"
I've attempted this twice and each time when I restart my computer it will come back on without .NET Framework 3.5 installed properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-99c3-8870b895030c
* Version Independent ID: 9c054590-c5e3-199c-b852-e1a856b4aae7
* Content: [Install the .NET Framework

[2018-06-24 21:39] rpetrusha commented on #5274
@vikas304, `private protected` is available starting with C# 7.2. To use it, you have to have at least C# 7.2 installed, and you have to include the following in your .csproj file:

[code]
I hope that this helps.

[2018-06-25 01:35] edfallin opened #6111 "Remove estimated read times from docs.microsoft pages"
The estimated read times for docs articles are all absurdly low.  The effect is either to make a reader feel like an idiot because they can't read 1,000-plus words in 3 minutes **(!)**, or to make the reader suspect that it's all marketing to keep TL;DR-type people at the site.  Both bad.<p>

Instead of making these times more realistic, I suggest they be dropped completely, or that a click-once,

[2018-06-25 02:09] HornetBlack opened #6112 "Document that setting "bypassonlocal" undoes "scriptLocation""
This document doesn't document an important gotcha with setting the proxy settings.

https://blogs.msdn.microsoft.com/rickrain/2011/03/25/why-scriptlocation-may-not-work-when-pointing-to-a-proxy-script-file-in-your-application-config-file/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09aeb831-81e3-0216-4ef7-b4cb40105

[2018-06-25 05:56] pkulikov commented on #6111
@edfallin

It looks that the perfect place for this issue is the [MicrosoftDocs/feedback](https://github.com/MicrosoftDocs/feedback/issues) GitHub repository.

[2018-06-25 14:27] Atomosk opened #6117 "Can't compile fixed sample"
Following sample
[code]
Shows
error CS0213: You cannot use the fixed statement to take the address of an already fixed expression

While this one works fine
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddcaa6a52
* Version Independent ID: 6ea1af7f-2251-f05f-4834-5a00e57fc5fb
* Content

[2018-06-25 15:03] ite-klass opened #6118 "There are three (section) headlines without any content"
What’s the point of these without content? If information is missing here it should at least describe what is missing.
The headlines are:
* Compiling the Code
* Robust Programming
* .NET Framework Security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0d1f4c0-e9a3-71b9-0bf1-ebefc8aeab94
* Version Independent ID: 86aa

[2018-06-25 16:27] RicardoAMendoza opened #6119 "Programmeur analyste."
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e813a38-d487-25dc-b70d-23fca9c47221
* Version Independent ID: 92fb3bd2-56a5-e060-8056-491aab145d26
* Content: [Inheritance in C#](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/inheritance)
* Content Source: [docs/csharp/tutorials/inheritance.md](https:/

[2018-06-25 16:52] #5970 closed

[2018-06-25 17:00] JRAlexander commented on #6107
Thanks, @Atomosk, for pointing this out! We've added it to our list to take care of.

[2018-06-25 17:07] JRAlexander commented on #6110
@brick20, were you able to work through the troubleshooting steps at the bottom of the article?

[2018-06-25 17:22] TPucke opened #6120 "Verbosity levels"
Please add some more specific description of what the verbosity levels mean, or at least a link to somewhere that the details can be found.

I got here trying to learn which levels I can use to get console output of my tests, and there are other useful things I'm sure that this would clear up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-06-25 17:54] jenstMS opened #6121 "Bug in code for DateTime.Parse (ignores 'Z')?"
Output from the code below:
nowUtc: 2018-06-25 17:53:42Z
converted: 06/25/2018 17:53:42, timezone: Local  //!! Expecting this to be 06/25/2018 10:53:42
converted2: 06/25/2018 17:53:42, timezone: Utc
confor: 2018-06-25T17:53:42Z

using System;
using System.Collections.Generic;
using System.Linq;

public class Program
{
  public static void Main()
  {
    DateTime nowUtc = DateTime.UtcNow;
    strin

[2018-06-25 18:03] #5916 closed

[2018-06-25 18:28] mairaw commented on #6118
Thanks for bringing that to our attention @ite-klass. I'll remove those. They were probably part of an old template used by our old publishing system.

[2018-06-25 18:43] #5364 closed

[2018-06-25 18:45] pkulikov commented on #6121
@jenstMS

nit: the [TimeZoneInfo.ConvertTimeToUtc](https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.converttimetoutc?view=netframework-4.7.2#System_TimeZoneInfo_ConvertTimeToUtc_System_DateTime_) is intended for conversion time to UTC:
[code]

nit 2: the format string here
[code]

misses the character "T" in front of the time component.

I don't know how crucial it is, as the output

[2018-06-25 19:04] chrisjbreisch opened #6122 "Issues in first Remarks section"
The first Remarks section doesn't explicitly state which overloads of the Substring() methods are being discussed. That makes the paragraph rather confusing:

You call the Substring method to extract a substring from a string that begins at a specified character position and ends at the end of the string. ... To extract a substring that begins at a specified character position and ends before to t

[2018-06-25 19:07] OliaG opened #6123 "Add a doc about DPI Awareness in Visual Studio"
We need to create documentation that:

- Provides context about why this issue occurs.
- Showcases examples of what the issue might look like in real life.
- Explains how to resolve the issue (with either of the two current solutions outlined in the “Current Solution” section).
- Points out that the mode is only applicable for the duration of the session. Once the user restarts VS they will be bac

[2018-06-25 19:11] RobinHood70 opened #6124 "How about "simple" localization"
So, Microsoft's recommended localization process for WPF is to modify your build process, build a custom tool, run several commands from that newly built tool, and honestly, I stopped reading after that because this entire process is incomprehensible. Perhaps this documentation could include a link to some of the older methods, like the project Resource files and/or the "for dummies" version of lo

[2018-06-25 19:13] StevenTCramer opened #6125 "what is "namespace-qualified name" and how do I get it?"
"You can use the GetType method to obtain a Type object for a type in another assembly, if you know its namespace-qualified name."
This must not be "typeof(myClass).FullName"  because that does not work for other assemblies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f9d661-af1e-596f-8402-323649908ccd
* Version I

[2018-06-25 19:29] BillWagner commented on #6125
We should clarify that.

A "namespace qualified name" is the fully qualified name of a type, including its namespace. For example the fully qualified name of `String` is `System.String`. The fully qualified name of `Task<T>` is `System.Threading.Tasks.Task<T>`.

[2018-06-25 19:49] mairaw commented on #6123
@OliaG would this be more appropriate for the VS docs then? /cc @gewarren

[2018-06-25 20:11] JRAlexander commented on #6124
Hi @RobinHood70, this is a duplicate of #3623. Thanks for your feedback and know this is on the list.

[2018-06-25 20:11] #6124 closed

[2018-06-25 20:29] rpetrusha commented on #6119
Thanks for the feedback, @RicardoAMendoza. I'm glad that you liked the topic!

[2018-06-25 20:29] #6119 closed

[2018-06-25 20:30] mairaw commented on #6120
Thank you for your feedback @TPucke. We've added this to our task list.

We'll decide whether we add this content to the docs or if we just link to https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.framework.loggerverbosity#fields where a description of each value can be found, given this is a MSBuild concept. /cc @mikejo5000

[2018-06-25 20:37] mairaw commented on #6111
Thanks for your feedback @edfallin. For general site feedback, there's a link on the bottom of every page that takes you to the right repo. I've moved your issue to https://github.com/MicrosoftDocs/feedback/issues/457.

[2018-06-25 20:37] #6111 closed

[2018-06-25 20:40] BillWagner commented on #6117
Thanks for pointing this out @Atomosk I've just opened PR #6128 to fix that issue.

[2018-06-25 20:47] JRAlexander commented on #6104
Hi, @sbrunner78, check out [Handling and Raising Events](https://docs.microsoft.com/en-us/dotnet/standard/events/index?view=netframework-4.7.2). This should help you with this task.

[2018-06-25 20:47] #6104 closed

[2018-06-25 20:52] mairaw commented on #6103
Thank you @ragnarstolsmark for your feedback. We'll investigate this issue.

[2018-06-25 20:54] ocdtrekkie commented on #1876
This is actually slightly *more* baffling if you come from the VB display, where the `[System.Obsolete(` bit doesn't display. The docs just appear to say "it's obsolete" and fails to offer up an alternative. I came here to seek an answer. So System.Net.Mail is _not_ obsolete?

[2018-06-25 20:56] JRAlexander commented on #6099
@merriemcgaw, should a sample be created to help with this?

[2018-06-25 20:56] mairaw commented on #6123
Per @merriemcgaw's feedback, moving to the VS docs repo

[2018-06-25 20:56] #6123 closed

[2018-06-25 21:01] mairaw commented on #6088
@zhenlan can you or your team help with this question?

[2018-06-25 21:06] JRAlexander commented on #6106
Thanks, @bobrundle, for letting us know! I've added this to the next sprint to get resolved.

[2018-06-25 21:06] ocdtrekkie opened #6129 "VB example uses reserved words"
I am guessing this is a "it's generated based on another language" type issue, but I found it baffling that [to] and [from] were defined as variables in the example here. A bit of investigation led to that it's a way to create variables which use reserved words which you generally cannot use for your own objects. Apparently you shouldn't do this unless you have to, and there's no real reason you h

[2018-06-25 21:15] jenstMS commented on #6121
The output I get when adding the "T" is the same (not that it should matter given the example below):
nowUtc: 2018-06-25T21:08:50Z
converted: 06/25/2018 21:08:50, timezone: Local
converted2: 06/25/2018 21:08:50, timezone: Utc
confor: 2018-06-25T21:08:50Z

The output doesn't match the documentation, so either there's a bug in the code or in the documentation:
using System;

public class Example
{

[2018-06-25 22:00] mairaw commented on #1876
Yes @ocdtrekkie, I was just discussing this with @dend last week. Here's an issue related to that request: https://github.com/mono/api-doc-tools/issues/274

[2018-06-25 22:02] TPucke commented on #6120
Thanks, that's useful.  I'm still not totally sure about my original question, which might be better asked elsewhere.  Looking for the console output from my tests, which I can't seem to find..  Can that be incorporated somehow?

[2018-06-25 22:05] Keboo opened #6130 "WaitAsync() overload documentation is inconsistent"
Most of the SemaphoreSlim.WaitAsync methods indicate that they may throw an ObjectDisposedException if "The current instance has already been disposed." However the WaitAsync() and WaitAsync(TimeSpan, CancellationToken) overloads do not call this out.

Examining the code from https://source.dot.net/#System.Private.CoreLib/src/System/Threading/SemaphoreSlim.cs,314 seems to indicate that all overloa

[2018-06-25 22:32] johnabbott72 opened #6131 "BackgroundService class running in Docker linux container"
I have an issue when running a BackgroundService in a Docker linux container.  Is there any way to achieve a graceful shutdown?  I am sending a docker container stop command and after a short pause the system shuts down without triggering a cancellation token.  I need to have notice so I can try to prevent my long running process from shutting down mid-process.  The UseShutdownTimeout also seems t

[2018-06-25 22:33] ocdtrekkie commented on #1876
Great to hear. :)

[2018-06-25 23:52] #6117 closed

[2018-06-26 01:29] dotpaul opened #6135 "What are valid values for the language parameter?"
See Microsoft.CodeAnalysis.LanguageNames

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c57b71cd-d60a-ba3f-85d5-559ca838601f
* Version Independent ID: 1978c833-352f-d602-1172-2863141481f2
* Content: [Solution.AddProject Method (Microsoft.CodeAnalysis)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.

[2018-06-26 03:55] zhenlan commented on #6088
I think it will require trust relation between the two domains. Add @mconnew to confirm.

[2018-06-26 06:07] pkulikov commented on #6121
It looks that code output was produced on some machine in America.

If I run the example from the docs on my local machine, I get the following output:

If I run the example on the docs website (notice the Run button at the right top corner of the snippet), I get the following output:

That's expected, because if I add the following line to the code:
[code]

output is

@jenstMS what output do you

[2018-06-26 15:26] rpetrusha commented on #6130
Thanks for pointing this out, @Keboo. All overloads of WaitAsync can in fact throw an ObjectDisposedException, as can each of the overloads of Wait. We've opened dotnet/dotnet-api-docs#310 to add the missing exception information.

[2018-06-26 15:57] rpetrusha commented on #6129
Thanks for pointing this out, @ocdtrekkie. Although the [use of reserved words in variable names is supported, it is not recommended](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/program-structure/keywords-as-element-names-in-code). It is not widespread in our Visual Basic example code base, although it is most commonly encountered in legacy code.
We'll add this issue to

[2018-06-26 18:02] douglaslMS commented on #6072
@ChuckGoehring How are you suggesting that we improve this article about building an EntityConnection connection string?

[2018-06-26 18:30] d-dizhevsky commented on #6125
The given page have 20 references (CTRL+F for `AssemblyQualifiedName`) to what `AssemblyQualifiedName` is. And I assume that if you are reading `remarks` somewhere at the middle of the post, you should've also read the other parts of it as well.
@BillWagner what kind of changes we would need to do in order to clarify this?

[2018-06-26 18:35] BillWagner commented on #6125
@d-dizhevsky Adding a single sentence to define `AssemblyQualifiedName` on first use would fix this. (I would keep the links as well.)

[2018-06-26 18:57] BillWagner commented on #5686
That makes sense @pkulikov I started updating the `ref` page, thinking I could fix this issue in #6086 That would make the PR too large to reasonably review. This issue will be fixed in a separate PR.

[2018-06-26 19:03] #6130 closed

[2018-06-26 19:42] #4517 closed

[2018-06-26 19:43] Niklas-Peter opened #6143 "Scripting API part of compiler API layer?"
It is not really important, but are the scripting APIs really part of the compiler API layer?
In the folder structure everything else related to the compiler API layer seems to be in `Compilers` folder, but scripting is in a separate `Scripting` directory in contrast to diagnostics, which also belongs to the compiler API layer, but is in a subfolder of `Compilers`.

---
#### Document Details

⚠ *D

[2018-06-26 19:43] Niklas-Peter opened #23402 "Scripting API part of compiler API layer?"
It is not really important, but are the scripting APIs really part of the compiler API layer?
In the folder structure everything else related to the compiler API layer seems to be in `Compilers` folder, but scripting is in a separate `Scripting` directory in contrast to diagnostics, which also belongs to the compiler API layer, but is in a subfolder of `Compilers`.

---
#### Document Details

⚠ *D

[2018-06-26 19:52] ocdtrekkie commented on #6129
I could probably do a PR and look through some samples likely to also be affected (mail ones, specifically).

Is there guidance on how VB samples' variables should generally be named? I am of course used to the old school prefix style, strTo and strFrom, but they don't seem to be the trend here. I was thinking MailTo and MailFrom would be adequate, though camelCase might be the right way to go: Th

[2018-06-26 20:19] Thraka commented on #6122
@chrisjbreisch Hi Chris! I'm working on this right now. Thanks for noticing this issue and reporting it!

[2018-06-26 20:57] vasanthloganathan commented on #6088
thank you all

[2018-06-26 21:12] #6118 closed

[2018-06-26 21:51] rpetrusha opened #6147 "Update downloadable code for .NET Core 2.1"
# Update downloadable code for .NET Core 2.1

The downloadable samples for the following members should be modified for .NET Core 2.1:

These are downloadable from the following topics:

- [System.DateTime.Parse](https://docs.microsoft.com/dotnet/api/system.datetime.parse)
- [System.String.Format](https://docs.microsoft.com/dotnet/api/system.string.format)

[2018-06-26 22:40] MNF opened #6148 "Is global.json preferred alternative to setting RuntimeFrameworkVersion?"
If I have a few projects in the solution, e.g. unit/ integration tests additionally to main application,
will be better to add global.json Instead of set RuntimeFrameworkVersion to each project?
The idea from https://github.com/aspnet/Home/issues/3221#issuecomment-398777990
global.json to my Project with:

{
    "sdk": { "version": "2.1.300" }
}

---
#### Document Details

⚠ *Do not edit this sect

[2018-06-27 00:23] #6122 closed

[2018-06-27 01:07] BillWagner commented on #5208
Moved to MicrosoftDocs/Feedback#5208

[2018-06-27 01:07] #5208 closed

[2018-06-27 01:11] BillWagner commented on #5252
@sateeshmachineni The old documentation is still on [msdn](https://msdn.microsoft.com/en-us/library/system.io.driveinfo%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396)

[2018-06-27 01:13] BillWagner commented on #5252
Moved to MicrosoftDocs/Feedback#469

[2018-06-27 01:13] #5252 closed

[2018-06-27 01:35] BillWagner commented on #5586
@CESARDELATORRE Can you comment on the concern above?

[2018-06-27 01:40] BillWagner commented on #5596
After some experimentation, I'm confident @svick is correct: code that generates this warning will also generated an error.

Closing for that reason.

/cc @MadsTorgersen to confirm our analysis.

[2018-06-27 01:40] #5596 closed

[2018-06-27 01:53] BillWagner commented on #5729
@AArnott My hunch is that @mairaw is correct tat the docs were generated from extensions for .NET Core 2.0. The `ReadOnlySpan<T>.DangerousGetPinnableReference()` API changed names to [GetPinnableReference](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1.getpinnablereference?view=netcore-2.1#System_ReadOnlySpan_1_GetPinnableReference)  See #5845 and #5767 for details.

[2018-06-27 03:42] nkolev92 commented on #5315
There are no issues that I'm aware of in this space.
DotnetCLIToolReference restore is similar to any project restore.

I verified that quickly by running:

`dotnet new mvc`
`dotnet build /v:n`

In logs I see
[code]

This indicates that the tools did get restored.

Maybe the customer is facing some other problems?

[2018-06-27 03:57] StevenTCramer commented on #6125
@d-dizhevsky the page has a single reference to **"namespace-qualified name"**.  And I quote it the initial issue and again here:

**"You can use the GetType method to obtain a Type object for a type in another assembly, if you know its namespace-qualified name."**

@BillWagner tried to clarify what was meant by  "namespace-qualified name", which I think can be obtained with `typeof(myClass).FullN

[2018-06-27 04:48] d-dizhevsky commented on #6125
`namespace-qualified name` can be obtained by https://msdn.microsoft.com/en-us/library/system.type.assemblyqualifiedname(v=vs.110).aspx
e.g. `typeof(Object).AssemblyQualifiedName` FullName is another story and can’t be used full “path” to the type of another assembly because it is not really “full” in these terms

[2018-06-27 04:58] StevenTCramer commented on #6125
So `namespace-qualified name` should be removed or replaced with AssemblyQualifiedName?

"You can use the GetType method to obtain a Type object for a type in another assembly, if you know its `AssemblyQualifiedName`"

[2018-06-27 05:40] mairaw commented on #5315
@Aethon can you provide more information on your problem?

[2018-06-27 05:49] mairaw commented on #6148
I think the new article that @BillWagner is working on is going to explain this in more detail. See PR #6060

@KathleenDollard please correct me if I'm wrong but my understanding is that they're orthogonal to each other. With global.json you specify which SDK version you're going to be using and with \<RuntimeFrameworkVersion> you specify the minimum runtime patch version.

/cc @dsplaisted

[2018-06-27 06:25] jmdurdin opened #6152 "ByVal with ReturnInteger type parameter"
There is no mention of event functions that are implemented with a signature such as (ByVal arg as MSForms.ReturnInteger) or similar, when clearly the purpose is to return a value to the caller, despite using ByVal.  It would be helpful if the documentation addressed this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-27 08:26] ite-klass opened #6153 "Link "Global.asax Syntax" links to "archived and is not maintained" documentation"
This makes it confusing of whether the linked to documentation still applies, or is obsolete, obsolete for newer versions, and what that means for this article - especially if the Global.asax is the only place to define handlers for the End event as this article declares.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-06-27 09:47] ite-klass opened #6154 "Should link to EventHandler class docs"
The event can only be handled by implementing a specifically named event handler method.
The docs should link to EventHandler class docs either as a see also or within the documentation text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f75ce3-005e-44ed-3d4d-a26248b55bea
* Version Independent ID: d0b25b20-9eee-ae14-

[2018-06-27 09:53] ite-klass commented on #6154
Actually, it only says

so the conclusion that the subroutine would have to be a EventHandler may be wrong.

[2018-06-27 09:56] ite-klass opened #6155 "The link "Global.asax Syntax" is dead"
404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7485198-5969-5e09-e56c-ee668ad8c377
* Version Independent ID: 57e212ea-3ed8-eecc-f871-d742b78fef2c
* Content: [SessionStateModule.Start Event (System.Web.SessionState)](https://docs.microsoft.com/en-us/dotnet/api/system.web.sessionstate.sessionstatemodule.start?view=n

[2018-06-27 09:59] ite-klass opened #6156 "Provide link to session docs/related docs"
It would be helpful to point to further session documentation here.

This page says

&gt; The Session_OnStart event is used to perform any initialization work for a session such as setting up default values for session variables.

but does not point to further docs for stuff that may be used in the session start handler; like getting the session ID or setting additional session variables and value

[2018-06-27 12:57] MaxTranced opened #6157 "The example code is not relevant"
The example code does not use any of the properties of `X509ChainStatus`. I think that the code should be modified to actually use those properties in some way similar to what a real-world application would do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b94571-4162-028a-a8b4-3ce1367f7c39
* Version Independent ID:

[2018-06-27 13:31] BillWagner commented on #6125
Fixed in dotnet/dotnet-api-docs#316

[2018-06-27 13:31] #6125 closed

[2018-06-27 14:09] davidn-sytelco opened #6159 "F# Powertools?"
I think the reference and link to the Visual F# Power Tools is incorrect, it doesn't seem relevant and is also quite outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6b61e5e-bbb2-259d-44c3-39f7e61042f9
* Version Independent ID: 0a5737cc-a340-d48b-090f-5cdec96f30c4
* Content: [Asynchronous Workflows (F#)](https

[2018-06-27 14:13] svick opened #6161 "Unclear remark about unsupported async APIs"
The *Async* subsection of the section [*Unsupported scenarios and APIs*](https://docs.microsoft.com/en-us/dotnet/framework/net-native/migrating-your-windows-store-app-to-net-native#unsupported-scenarios-and-apis) of this article says:

I have no idea what this means: What's "threading logic"? What does "overloads of Task IAsync" mean? What is IAsync in the first place?

I think this sentence shoul

[2018-06-27 14:28] KathleenDollard commented on #5486
We now have docs for this in the global.json reference that I just reviewed. I think we should move it here.

[2018-06-27 14:44] KathleenDollard commented on #6148
@mairaw is correct.

global.json does not affect the runtime framework in anyway.

global.json is a mechanism for determining the CLI/SDK that is used (including the version of MSBuild) that is used to create your application.

[2018-06-27 14:48] KathleenDollard commented on #5315
@nkolev92 did you test in a 2.0 version?

@Aethon could you install .NET Core 2.1 and try this again?

[2018-06-27 14:53] Aethon commented on #5315
It was 2.0.x. I will try 2.1 and report that it works or gone a replication
path. Thanks!

On Wed, Jun 27, 2018, 9:48 AM Kathleen Dollard <notifications@github.com>
wrote:

[2018-06-27 15:34] stevegiergiel opened #6165 "Fixed it myself :)"
After reporting this as a fault, and you guys 'fixing it', it still seemed to be failing to show more than 1 record for me. It may just be a configuration or environment thing, but for me changing the line
where nameFields[2] == scoreFields[0]
to
where nameFields[2].TrimEnd() == scoreFields[0]
brings back the reported output.

By stepping through I eventually saw the trailing space (maybe end of l

[2018-06-27 15:54] transdigiware opened #6166 "umpan balik"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362f3e73-a902-45e6-382d-328a4552a235
* Version Independent ID: d4253465-4bfc-e473-f745-0d5e1ff4e76c
* Content: [Introduction](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction)
* Content Source: [spe

[2018-06-27 16:01] mrpmorris commented on #6125
It looks wrong to me. Let me elaborate...

`You can use the GetType method to obtain a Type object for a type in another assembly, if the you know its namespace-qualified name. GetType causes loading of the assembly specified in typeName.`

If I am not mistaken you cannot force load of an assembly simply by specifying a class name that is qualified only to namespace level, because dotnet won't kno

[2018-06-27 16:39] douglaslMS commented on #6072
#please-close

[2018-06-27 16:47] pkulikov commented on #6165
@stevegiergiel thanks for catching the fault in this topic as well. The #5929 fix has corrected the code in [another topic](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/how-to-populate-object-collections-from-multiple-sources-linq)

[2018-06-27 17:02] john02813 opened #6170 "I am unable to use DirectX3d in vb.net 2017"
I tried to do that "draw a Triangle" program in vb.net 2017 with DirectX 9 but unable to use directx3d.dll to go into reference section.  I can't run the program without a reference to the dll.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8d9608-e477-faeb-a524-1c1f6ec4a4d6
* Version Independent ID: 5fa3bfa5-8107-d0

[2018-06-27 17:45] jenstMS commented on #6121
My timezone is Pacific
This is what I'm getting when I run it locally on my machine in VS immediate window (output in **bold**:

DateTime nowUtc = DateTime.UtcNow;
string nowUtcString = nowUtc.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'Z'");
Expression has been evaluated and has no value
$"nowUtc: {nowUtcString}"
**"nowUtc: 2018-06-27T17:38:48Z"**
DateTime converted = DateTime.Parse(nowUtcString);
Ex

[2018-06-27 17:48] pkulikov commented on #6121
@jenstMS as I see it runs as expected?

[2018-06-27 18:00] rpetrusha opened #6174 "Change "thread local" to partition local in Parallel.For, Parallel.ForEach"
# Change "thread local" to partition local in Parallel.For, Parallel.ForEach

The term "thread-local" is used in describing the operation of select Parallel.For and Parallel.ForEach overloads that partition data for asynchronous processing. Thread-local, however, isn't completely accurate, since multiple partitions may run on the same thread. A better alternative is "partition local". (Note that n

[2018-06-27 18:00] #5412 closed

[2018-06-27 18:50] #6165 closed

[2018-06-27 19:12] rpetrusha commented on #6129
The old str... and int... convention is no longer used, @ocdtrekkie. Camel casing is preferable, so mailTo and mailFrom are good. And thanks for being willing to help with this.

[2018-06-27 19:20] dsplaisted commented on #6148
@mairaw It's not actually the minimum version, if you set this property it will use that specific version even if a later one is also available.

@MNF If you want to set the `RuntimeFrameworkVersion` for all of your projects, I'd suggest using a Directory.Build.targets file.  See here for more information: [Customize your build](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-

[2018-06-27 19:21] #6072 closed

[2018-06-27 19:22] ChuckGoehring commented on #6072
Yeah.  Docs are not the problem.

[2018-06-27 19:33] #6103 closed

[2018-06-27 19:41] jenstMS commented on #6121
I understand it better now.
I would consider adding the timezone info explicitly especially to the docs, since it's difficult to spot those differences the way the example is right now. Or maybe explicitly changing the timezone in the example so it's more obvious

[2018-06-27 19:48] CESARDELATORRE commented on #5586
Interesting.. I'll point the ASP.NET team to look at it.
However, and as we're doing in eShopOnContainers, I'd recommend to implement the IHostedServices in a different project than the ASP.NET Core Web App, if the process you need to do can be targeted remotely.
Doing that way not only you wouldn't have that problem, but also you can scale out the web app differently than the background tasks.
An

[2018-06-27 20:00] douglaslMS commented on #6072
@ChuckGoehring Don't hesitate to give Product Feedback (with the other link at the bottom of the article). We're all frustrated by unhelpful error messages!

[2018-06-27 20:55] CESARDELATORRE commented on #5586
About your concrete issue, I talked to the ASP.NET team and we’re not aware of similar issues.
We’d need far more details, for example are you hitting disk contention? Is the increase in time when it is starting the HostedService because no requests will be served until after the hosted service returns from start? etc.
You’d need to log a bug on hosting with many details at the .NET CORE repo if y

[2018-06-27 22:17] rpetrusha opened #6179 "Eliminate duplicated C# content on types and type members"
Duplicated C# content in docs/csharp and docs/csharp/programming-guide:
- Classes
- Structs
- Methods
- Properties
And almost certainly others.

[2018-06-27 22:20] rpetrusha opened #6180 "Threading: Eliminate duplication"

[2018-06-27 22:22] rpetrusha commented on #6180
# Threading:Eliminate duplication

There are separate sections for [C#](https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/concepts/threading/index) and [VB](https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/programming-guide/concepts/threading/), even though neither section covers language features. Both should be merged into a single doc set in the .NET Guide.

[2018-06-27 22:24] rpetrusha opened #6181 "Assemblies. Combine C# and VB sections into a single .NET Guide doc set"
There are separate [C#](https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/concepts/assemblies-gac/) and [VB](https://docs.microsoft.com/en-us/dotnet/articles/visual-basic/programming-guide/concepts/assemblies-gac/) sections on assemblies, even though neither language offers language support for assemblies. These sections should be combined into a single section in the .NET

[2018-06-27 22:41] #6166 closed

[2018-06-27 22:45] rpetrusha commented on #6161
@stephentoub, do you know what the sentence meant to say? Are there any limitations on async that are unique to .NET Native?

[2018-06-27 23:09] rpetrusha commented on #6112
Thanks for pointing this out, @HornetBlack.  @davidsh, can you comment on this. Should the documentation note that you should not use **bypassonlocal** if you are setting a **scriptLocation**?

[2018-06-27 23:16] rpetrusha commented on #6097
Thanks for submitting your questions, @ro-jo.

@maioni0, can you answer @ro-jo's questions? And do we need to provide some additional detail in the documentation about what self-tuning means and when adding or modifying the \<gcServer> and \<gcConcurrent> elements is appropriate?

[2018-06-27 23:57] rpetrusha commented on #6121
Thanks for submitting your feedback, @jenstMS, and thanks for your comments, @pkulikov. This is probably due to density on my part, but I'm not quite sure that I understand the problem. Looking at your original code, @jenstMS, where you said that `//!! Expecting this to be 06/25/2018 10:53:42`, that is exactly what I'd expect as well if you're local time zone is U.S. PDT. The DateTime.Parse(String

[2018-06-28 00:06] mconnew commented on #6088
@vasanthloganathan, it will require a trust relationship between the two domains if you are using Kerberos. If you using explicit credentials (where you provide the username, password and domain to WCF instead of using the ambient login security context) which exist in the domain of the target server, then you can authenticate with NTLM and you don't need the trust relationship. NTLM has some secu

[2018-06-28 00:36] svick opened #6184 "Update stackalloc for C# 7.2"
It seems this article was updated for C# 7.3, so it mentions array initializer syntax, but it wasn't updated for C# 7.2. Specifically:

* It keeps saying that `stackalloc` is only usable in `unsafe` code, which is no longer true.
* It doesn't mention `Span<T>` at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5880

[2018-06-28 01:20] #5613 closed

[2018-06-28 01:52] stephentoub commented on #6161
I have no idea what that sentence is meant to mean.

[2018-06-28 02:00] mairaw commented on #6088
Thanks @mconnew for your help. I'm closing this issue.

[2018-06-28 02:00] #6088 closed

[2018-06-28 03:08] rpetrusha commented on #6161
Thanks, @svick, for opening the issue. And thanks, @stephentoub, for responding. I've opened a PR to remove the text.

[2018-06-28 06:50] MorganKauppi opened #6188 "Cannot lock on null object"

[2018-06-28 08:02] robert-j-engdahl opened #6189 "Async support"
You should mention that it is safe for the tick event handler to be async void.  I just tested in WPF, and uncaught exceptions successfully make the application crash when raised inside an async tick event handler (which is a good thing).

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: c353f963-c3e8-d3ab-e

[2018-06-28 12:57] svick commented on #6161
Is there someone from the .Net Native team who could know the answer who we could ask?

[2018-06-28 14:18] zhang-yf opened #6190 "Output"
Am I missing something or the example output didn't include the last two scenarios, in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfb3769-16f2-70c8-8b66-5fa0a11354c0
* Version Independent ID: b8e7e74e-d529-2397-a121-2cb7618a6cac
* Content: [How to: Test for Reference Equality (Identity) (C# Programm

[2018-06-28 14:54] #5511 closed

[2018-06-28 15:36] #5774 closed

[2018-06-28 15:46] amp64 opened #6192 "HWNDs do not render if WPF Window's AllowsTransparency is true"
Wasted days on this, but if your main WPF Window sets AllowsTransparency, the HWND you create and use under this class will never render anything. Deserves a warning either here, or in the linked "WPF and Win32 Interop" article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98ca0b90-9c25-12ff-4fa3-49a35ed32d61
* Versi

[2018-06-28 16:50] rpetrusha commented on #6161
@svick, I assumed that @stephentoub would know, which I think is the case. @ViktorHofer, is there anyone else who might know how async support in .NET Native differs from .NET Framework or .NET Core?

[2018-06-28 16:53] ViktorHofer commented on #6161
@joshfree might know someone

[2018-06-28 17:41] malchikgey opened #6196 "SO CONFUSING! "Tour of C#" needs update for .NET Core tools"
I can't make it past building the .dll because I keep getting an error that the csc command is no longer supported. And the note that instructs to use dotnet commands isn't helpful without context. When I do try "dotnet run," I get a build error because there's no Main method.  I'll admit that I've been confused throughout the process of trying to teach myself C# (so far, I've only gone through Qu

[2018-06-28 18:00] v-laluqu opened #6197 "Typo"
Theres a typo in this line: - Provides inituive document creation and transformation capabilities.
It should read intuitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4e006a-3b84-bc10-377b-aa5d1ca02e04
* Version Independent ID: 4f022102-f171-5ff2-cc3d-a6247f83643f
* Content: [XML Processing Options](https://docs

[2018-06-28 18:11] #4280 closed

[2018-06-28 21:19] ocdtrekkie commented on #6129
Heh, I only found the one, since the code snippet is used in both pages. But I am tempted to convert some of the other C# mail samples to VB since I am sad about the lack of VB parity on mail sample code. ;)

[2018-06-28 21:32] #6129 closed

[2018-06-28 21:42] #5707 closed

[2018-06-28 21:50] rpetrusha commented on #6129
@ocdtrekkie, if you'd like to convert some of the C# mail samples to Visual Basic, we'd certainly welcome your contribution. There really should be parity between VB and C# in our managed reference documentation, so that would be a valuable contribution.

[2018-06-28 22:36] pkulikov commented on #6180
@rpetrusha those two topics should be moved and integrated into the following .NET Guide part?
https://docs.microsoft.com/en-us/dotnet/standard/threading/

It's possible that that section in .NET Guide already covers some of the topics in the language sections. So, those might be even merely removed.

I would like to work on that.

[2018-06-28 22:57] bs6523 opened #6203 "More information"
Hi, can anyone give me more information about "StochasticDualCoordinateAscentClassifier" which kind of learning method it's using, any documentation for that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97826a54-df86-dba7-91e7-379eeed298e6
* Version Independent ID: 11cdaaf2-e0e2-4d80-1de3-1210c6411d5a
* Content: [Sto

[2018-06-28 23:30] rpetrusha commented on #6180
It would be wonderful if you would work on consolidating the content, @pkulikov. Yes, the .NET Guide at https://docs.microsoft.com/en-us/dotnet/standard/threading/ is the target. At least some of the content in the C# and VB sections is duplicated there, so some topics probably can be removed, while parts of others probably have to be copied-and-pasted into the appropriate locations in the .NET Gu

[2018-06-28 23:55] j4adev opened #6204 "Method Syntax For Linq Examples"
For queries like this group by example it would be handy to have the linq method syntax version alongside the query syntax version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af60d154-0468-c450-ad3b-4f144ca6e693
* Version Independent ID: 646c3fab-389f-3a5e-4abe-86943fb85adc
* Content: [Perform a subquery on a group

[2018-06-29 01:36] sethveale opened #6205 "Uninitialized Value"
is default(T) - i.e. the Value property never throws an exception and can be used without ever having been set.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f0615f8-2721-8a39-5c0e-340b17014a5b
* Version Independent ID: f7f9d02d-f9e7-737c-6f35-bc2b571ef19e
* Content: [AsyncLocal&lt;T&gt; Class (System.Threading)](htt

[2018-06-29 03:29] aditimantri2196 opened #6206 "Categories of Access modifiers seems to be incorrect"
Are there seriously six access modifiers in c#?

The brief provided for "private protected" should be the brief for "protected internal" instead. And, does "private protected" access modifier seriously exist? If it does what does this exactly do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8181f41d-b6ce-ad66-084e-8d

[2018-06-29 05:15] coolzsunil commented on #4675
I am a little confused after reading your article - https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-a-net-framework-version-earlier-than-47

In the section - If your app targets a .NET Framework version earlier than 4.7 - For .NET Framework 3.5 - 4.5.1 and not WCF

it is mentioned - Set the SchUseStrongCrypto and SystemDefaultTlsVersions registry keys

[2018-06-29 05:41] pkulikov commented on #6180
OK, @rpetrusha please assign this issue to me, then. Probably, I'll create several PRs to move/remove all of the topics.

[2018-06-29 07:50] brunis opened #6210 "MemoryStream vs FileStream"
Any reason you're using a MemoryStream here?  is FileStream content encoding out of our hands and would it be problematic with Json?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41ee09ba-3e07-b558-1e18-0af2afbd3809
* Version Independent ID: 93820b68-aa8a-7cdd-c952-60e5e4118252
* Content: [How to: Serialize and Deseri

[2018-06-29 09:14] FloeleT opened #6212 "Missing a $ in Example 2's foreach loop"
In Example 2 there's a missing $ in "Console.WriteLine(-here-"\t{student...).

As is - the Console Output doesn't display the actual first and last name of the students in a Group.

[2018-06-29 09:17] #6212 closed

[2018-06-29 09:19] FloeleT opened #6213 "Code Error in Example 2"
In Example 2 there's a missing $ in "Console.WriteLine(-here-"\t{student...). As is - the Console Output doesn't display the actual first and last name of the students in a Group.

it should be:

Console.WriteLine($"\t{student.LastName}, {student.FirstName}");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae769054-b1d

[2018-06-29 09:20] FloeleT commented on #6213
it's also missing in Example 3

[2018-06-29 09:28] d-dizhevsky commented on #6196
@malchikgey I agree that these articles don't look friendly for newcomers, lets wait for @BillWagner so he can approve/triage any changes to these sections in order to improve the barrier to entry.

Until that, let me try to help you with the issue occurred.

If you are on Windows and have Visual Studio 2017 installed, then `csc.exe` (also known as Roslyn) compiler should be located at "`C:\Progra

[2018-06-29 10:35] FloeleT commented on #6213
There is a "Console.WriteLine" missing in Example 6 before the perentheses "($"Name starts with {scoreGroup.Key.FirstLetter} who scored {s} 85");" just before the inner foreach-loop

[2018-06-29 10:47] FloeleT opened #6214 "$ missing in the example's innermost Console.WriteLine(...)"
There's a $ missing in the example's innermost Console.WriteLine(). The Output is not properly displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728b8960-bd9b-6e47-0697-1ede60319dcc
* Version Independent ID: f2080e9b-3a61-ec89-eb34-b61aff1641fa
* Content: [Create a nested group](https://docs.microsoft.com/en-us

[2018-06-29 11:04] FOSSluds opened #6215 "Why are similar doc pages ("What is docker?") out of sync?"
IMHO this page is (almost?) identical to https://docs.microsoft.com/en-us/dotnet/architecture/microservices/container-docker-introduction/docker-defined

Why are they out of sync? (last edited, the first image etc.)

I _think_ there should be the _same_ content.

URLs:
https://docs.microsoft.com/en-us/dotnet/architecture/containerized-lifecycle/what-is-docker

https://docs.microsoft.com/en-us/dotn

[2018-06-29 11:09] d-dizhevsky commented on #6214
Already fixed in PR https://github.com/dotnet/samples/pull/149

[2018-06-29 11:48] ippdr opened #6216 "Possible inaccuracy"
The documentation for the method with signature Parse(String, IFormatProvider) states 'This overload attempts to parse s by using the DateTimeStyles.AllowWhiteSpaces style.' Inspecting the code in DotNet471RS3 source zip in ndp\clr\src\BCL\system\datetime.cs line 1027 uses DateTimeStyles.None. Please verify and update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-06-29 11:52] peteratvektis opened #6217 "Pooled login events are visible in trace"
In the section 'Adding Connections' the second note states 'Login and logout events will not be raised on the server ' which seems incorrect to me. I can see these events in a SQL profiler trace and they are marked with EventSubClass '2 - Pooled'. The referenced page for the Audit Login Event Class states 'Events in this class are fired by new connections or by connections that are reused from a c

[2018-06-29 13:14] svick commented on #6206
Yes.

It should not. `protected internal` means the member is accessible from the containing class, derived classes or types in the same assembly.

It does exist since C# 7.2, see [this page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/private-protected). It does what its description says: it means the member is accessible from the containing class or types that are

[2018-06-29 13:19] rstannard opened #6218 "Please suggest the Editor to use for the C# code elements. Please consider producing a version of this tutorial to follow inside of VS"
I've just completed following this tutorial and found it very helpful. I would just make the following comments how it could be slightly improved.
1/ please advise the reader that this tutorial is aimed to be followed outside of the Visual Studio 2017 environment.
2/ if (1) is the case then please suggest an editor to use for completing the code in.
I followed the tutorial using a mix of following

[2018-06-29 13:50] rprouse commented on #6218
Good suggestions, thanks. You might want to change the title of this issue to something more meaningful since this repo is for all of the .NET Core documentation. I would do it, but I don't have edit rights in this repository.

[2018-06-29 14:15] #6213 closed

[2018-06-29 14:16] BillWagner commented on #6215
@CESARDELATORRE Do you have a long-term plan for this?

[2018-06-29 14:26] Memphizzz opened #6221 "Screenshot"
A screenshot showing the resulting Form would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 532a9793-8317-41de-f0fd-a56f854c6d96
* Version Independent ID: 768fdf25-1cf2-0872-39e4-c452b5437453
* Content: [How to: Create a Border Around a Windows Forms Control Using Padding](https://docs.microsoft.com/en-us/dot

[2018-06-29 14:31] BillWagner commented on #6184
That analysis looks correct to me @svick

I've added this to our backlog. If you want to submit a PR, let me know and I'll assign this to you.

[2018-06-29 14:33] rstannard commented on #6218
Hi Rob, I've just done that now - I hope its not too wordy ?

[2018-06-29 14:46] #6190 closed

[2018-06-29 14:46] wahboh commented on #5078
@BillWagner @dend
I have no strong opinion about Bill's #1 above. Generally when I as a developer search for info, I look at the immediate info. I do not very often trace back to some base class. On the other hand I can agree that info should be found where the function (etc) is declared, i e probably in the base class.
I leave it to you pros to put yourself in the situation of a confused (and may

[2018-06-29 15:01] #6197 closed

[2018-06-29 15:44] rpetrusha commented on #6180
I've assigned it to you, @pkulikov.

[2018-06-29 16:14] d-dizhevsky commented on #6196
@BillWagner please assign this to me, I'll take care about dotnet-tools section.

[2018-06-29 16:18] BillWagner commented on #6196
@d-dizhevsky I just added you as a collaborator. Can you go here and accept the invite: https://github.com/dotnet/docs/invitations  Then, I can assign this to you.

Thanks for all the contributions, and your continued interest.

[2018-06-29 16:44] AlirezaHaghshenas opened #6223 "Bad condition of searching for .net core info"
There is a serious search trouble caused by your site. I try to explain it: Suppose I want to search for the way we can do CodeDom emit it .net core. Whatever I do, (The search that took me here is: ".net core" codedom emit), this page comes as the top result, but it has no information about .net core. Just the general link above.

As many people are trying to migrate to .net core, they need infor

[2018-06-29 17:05] BillWagner commented on #6196
And assigned. Thanks.

[2018-06-29 17:48] Guesswho3mar opened #6224 "Declaring Multiple Variables POTENTIAL ERROR"
"If you declare more than one variable with one As
clause, you cannot supply an initializer for that group of variables.

You can specify different data types for different variables by using a separate As
clause for each variable you declare. Each variable takes the data type specified in the first As
clause encountered after its variablename part.

Dim a, b, c As Single, x, y As Double, i As Int

[2018-06-29 18:04] malchikgey commented on #6196
That did the trick! It's still giving me error cs2012, but it created the .dll file.

[2018-06-29 18:35] BillWagner commented on #5686
@pkulikov 's list is the right outline.

See #4441 for an important question.  To answer that as well, the coverage of `readonly struct` s must include when the compiler disallows an operation, and when it enables the operation on a defensive copy.  For example, what happens when a readonly struct contains a (not readonly) struct? In particular, can methods of the contained struct be called? Are t

[2018-06-29 20:05] DavidPrio opened #6226 "Dockerfile in this document is incorrect"
@hihigash commented on [Thu Jun 28 2018](https://github.com/dotnet/docs.ja-jp/issues/120)

`dotnet run` command builds `dotnet.dll`.
However, `Hello.dll` is specified for ENTRYPOINT of Dockerfile.

The correct Dockerfile is as follows.

[code]

Thanks,
hihigash

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 72ef1481-3b6f-30bf-330d-45400c0a349c
* Vers

[2018-06-29 20:06] DavidPrio opened #6227 "docker file in"

[2018-06-29 20:07] DavidPrio commented on #6226
Related
#https://github.com/dotnet/dotnet-docker/issues/610
#https://github.com/dotnet/docs.ja-jp/issues/120

[2018-06-29 20:17] rkudukoli opened #6228 "Exceptions are not listed"
The description lists the exceptions as 1. 2. 3. with no content in it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c085df-8b60-5535-ddde-8b2717e7366e
* Version Independent ID: 23dc562a-825a-81b8-9d8b-66692a26aedc
* Content: [ISymbol.MetadataName Property (Microsoft.CodeAnalysis)](https://docs.microsoft.com/en-us/d

[2018-06-29 20:18] BillWagner commented on #4154
PR #6081 will fix this.

[2018-06-29 20:31] DavidPrio opened #6229 "Fix example to include deterministic resource deallocation"
Moved from #https://github.com/dotnet/docs.ru-ru/issues/114
In the example above you must wrap working with stream  (or/and) stream reader in "using" block. Otherwise it would leak as soon  as exceptions occurs (which would be very soon when you dealing with  networks)

Сведения о документе ⚠ Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросо

[2018-06-29 22:06] JohnC-NCR opened #6230 "Is Visual Studio 2010 required for conversion?"
Why do you specifically mention the Project Compatibility dialog in Visual Studio 2010 as the means to upgrade a Visual Studio 2003 .Net project to the new MSBuild format?  Won't Visual Studio 2015 or 2017 do this as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca984c4-95a7-05f1-ba86-bf508046a28d
* Version Ind

[2018-06-29 22:29] mairaw commented on #6230
This topic hasn't been updated in a long time, that's probably the reason. We'd have to test if newer versions of VS can still open projects build with VS 2003.

[2018-06-29 22:44] mairaw commented on #6228
It seems that the site is not properly handling the content that is there:
https://github.com/dotnet/roslyn-api-docs/blob/live/dotnet/xml/Microsoft.CodeAnalysis/ISymbol.xml#L694

We need to confirm whether it's an issue with source (using accepted tags or not) or with the processor.

/cc @BillWagner @dend @TianqiZhang

[2018-06-29 23:19] cartermp commented on #6159
Thanks for the report @davidn-sytelco, we'll get that removed.

[2018-06-29 23:46] jwatkin opened #6232 "Possible typo in: "For methods other than event handlers don't return a value, ...""
In this section:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/async-return-types#BKMK_VoidReturnType

The sentence fragment "For methods other than event handlers don't return a value, ..." should probably be "For methods other than event handlers that don't return a value, ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-30 00:07] CESARDELATORRE commented on #6215
The reason is why these pages are part of different eBooks, but I agree that they should be synched.
I'll put this as a task for the upcoming updates.
Thanks for the heads-up! 👍

[2018-06-30 04:14] smitthhyy opened #6233 "ConfigurationManager doesn't exist in System.Configuration (.NET 4.7.0)"
Using the example at https://docs.microsoft.com/en-us/dotnet/api/system.configuration.configurationmanager.appsettings?view=netframework-4.7.1#System_Configuration_ConfigurationManager_AppSettings

var appSettings = ConfigurationManager.AppSettings; The ConfigurationManager component does not exist in System.Configuration. I can find AppSettings in System.Configuration.ConfigurationSettings but th

[2018-06-30 04:36] kkm000 opened #6234 "Please clarify *why* <supportedRuntime> is required"
It is stated that all .NET applications using CLR 1.1 and higher (which, in the year 2018, means *all* applications) "should" specify the supported runtime. What is lacking is an explanation *why* should they, and when it can be different from the TFM hardcoded into the executable.

I [asked this question a long time ago on StackOverflow](https://stackoverflow.com/q/47298916/1149924), and, althoug

[2018-06-30 13:05] wendyscarlet opened #6235 "$ - String interpolation"
In the example GroupBySingleProperty and GroupBySubstring the special character $ is missing in the Writeline sentence :

Console.WriteLine("\t{student.LastName}, {student.FirstName}");

So the of the output of the code is:

Key: Adams
  {student.LastName}, {student.FirstName}
Key: Feng
  {student.LastName}, {student.FirstName}
Key: Garcia
  {student.LastName}, {student.FirstName}
  {student.LastN

[2018-06-30 13:23] svick commented on #6227
Did you create this issue by mistake, after creating https://github.com/dotnet/docs/issues/6226? If that's the case, this issue should be closed.

[2018-06-30 14:31] ygoe opened #6238 "Missing runtime ID for Raspberry ARM32"
I can install .NET Core runtime for ARM32 but I can't publish my app for it to include the runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://docs.micr

[2018-06-30 17:39] #6206 closed

[2018-06-30 17:44] nehtechnine opened #6241 "nehru"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-06-30 20:04] markypython opened #6242 "Unnecessary else"
In the second code block on this page, there is an unnecessary `else` statement.  If the if statement returns true, processing will stop, thus if you get past the if statement, you know the condition was false.

Furthermore, the code could be simplified by simply returning the conditional, since that will produce a boolean true/false, removing the need for the if statement.

---
#### Document Deta

[2018-06-30 21:39] liam-tuite opened #6244 "Unreliable examples given"
According to Microsoft's documentation:

"Classes within the System.Drawing namespace are not supported for use within a Windows or ASP.NET service. Attempting to use these classes from within one of these application types may produce unexpected problems, such as diminished service performance and run-time exceptions."

It would be nice to have examples of these image processing tasks but without