[2019-09-05 11:06] Leon99 opened #14227 "Link to legacy page"
Link to &lt;ProjectReference&gt; (https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items) points to a page that describes the old project file format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ab77c3-eba6-e947-8ffa-0fcda722f34b
* Version Independent ID: 48bbcb58-cfd1-b3d3-7a2a-3197165

[2019-09-05 13:51] #14101 closed

[2019-09-05 13:58] #14226 closed

[2019-09-05 14:11] binki opened #14231 "Please explain when this warning gets issued more clearly"
From reading this documentation, I would expect the following code to trigger this warning, but it doesn’t:

[code]

Please add documentation explain what is different about that code and why it doesn’t throw this warning.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34fc8443-8e5e-2e87-6ee5-fbab61709e1e
* Ve

[2019-09-05 14:16] nemrism commented on #14226
@BillWagner, I just noticed that another step is missing a `using`:

In the step 5, [A better string format](https://docs.microsoft.com/en-gb/dotnet/csharp/tutorials/exploration/csharp-6?tutorial-step=5), in order to use the following code:
`var wordLength = from word in phrase.Split(" ") select word.Length;`

We should add the following using: `using System.Linq`

How do you want to add this?

[2019-09-05 14:18] BillWagner commented on #14226
@nemrism I can do that. Or do you want to make a new PR?

[2019-09-05 14:22] nemrism commented on #14226
I'll let you add i directly @BillWagner

You'll also need to change the line of code to:
`var wordLength = from word in phrase.Split(' ') select word.Length;`

It doesn't compile with a string parameter in the C#interactive experience!

[2019-09-05 14:49] rowek commented on #10382
gacutil -l >c:\output.txt
Only way to easily navigate output

[2019-09-05 14:53] Astrophizz commented on #13593
The standalone [NuGet task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#push-nuget-packages):
![image](https://user-images.githubusercontent.com/2242593/64352861-5baa4000-cfc2-11e9-87ec-769fc6849ade.png)

I don't know if the dotnet nuget push task has the same developer experience scope as the nuget task.

NuGet push:
[code]

dotnet nuget push:
[co

[2019-09-05 15:01] Astrophizz commented on #13593
Looking at this now I'm thinking we're talking about two slightly different things.

[2019-09-05 15:36] adamrubin commented on #10310
For anyone running into this issue:

Once you've implemented the MakeDeposit and MakeWithdrawal methods, and have rewritten Balance to be read-only, you'll need to remove this from your BankAccount constructor:

this.Balance = initialBalance;

[2019-09-05 16:48] VictorioBerra commented on #13593
Ah gotcha, when I said task I meant a PowerShell script in my bamboo build tasks.

[2019-09-05 17:46] Potapy4 commented on #12591
@Thraka it looks like we can close this 🙂

[2019-09-05 18:12] mairaw commented on #12591
Good catch @Potapy4! Thanks.

[2019-09-05 18:12] #12591 closed

[2019-09-05 18:15] mairaw commented on #14227
Thank you @Leon99 for your feedback. We need to create the reference for the new style first. So this is blocked until issue #2642 is taken care of.

[2019-09-05 18:39] #14215 closed

[2019-09-05 18:40] mairaw commented on #14224
Thanks @martingbrown. @HongGit can you confirm what's the default value? Information throughout API docs such as [here](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.transfermode?view=netframework-4.8#remarks) make it sound like Buffered is the default.

[2019-09-05 20:34] wadepickett opened #14237 "Expand side-by-side explanation in Choosing between .NET Core - Framework"
We could use an expanded side-by-side explanation in the topic:
Choosing between .NET Core and .NET Framework for server apps
https://docs.microsoft.com/en-us/dotnet/standard/choosing-core-framework-server#a-need-for-side-by-side-of-net-versions-per-application-level

We point to the side-by-side section of this topic from a number of other topics.  There has been some confusion over what side-by-

[2019-09-05 21:34] #14065 closed

[2019-09-05 22:06] Leon99 commented on #14227
Thanks @mairaw, good to know this is aknowledged. I wonder if it would be better to remove that link in the meantime, to avoid confusion?

[2019-09-05 22:57] mairaw commented on #14227
Sure. PR #14241 created.

[2019-09-06 00:30] #9781 closed

[2019-09-06 03:22] LukePammant opened #14248 "How much information should go in an Integration Event?"
Should an integration event simply hold the AggregateID and the deltas of what changed in this event? Or should it publish the entirety of aggregate? In the example of `ProductPriceChangedIntegrationEvent` it looks like just the delta is published.

I could see the benefit of publishing the whole aggregate as it would allow any downstream consumers to take what ever information it needs from the e

[2019-09-06 03:22] crclz opened #14249 "Bad essay."
Essay in 2008: Framework Design Guidelines, is still 99% useful and much better than your so-called "best practice".

https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exceptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ea31f6-516f-100d-046e-1a0445d92824
* Version Independent ID: a713e8c9-8210-

[2019-09-06 07:53] nemrism opened #14251 "Wrong element name in syntax"
The page is describing the &lt;httpDigest&gt; element but syntax is exposing a &lt;digest&gt; element.
According to Visual Studio, the child element of the &lt;clientCredentials&gt; element is an &lt;httpDigest&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f16cb-32ad-f6d9-8617-601d5061bc3f
* Version Independen

[2019-09-06 08:22] mairaw opened #14254 "Document what's new in .NET Standard 2.1"
2.1 is coming, We need to document what's new.

Should we cover in the same topic like we do for .NET Framework or split like we do for C# or .NET Core?

@terrajobst is this something you could help us put together? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de130a75-fed2-0567-6e3d-07a384900eec
* Version In

[2019-09-06 10:25] Youssef1313 commented on #14231
A simpler example than yours is:

[code]

It seems like the compiler doesn't give this warning when the value is a function call.
I don't know if there is a specific reason for the compiler not to give the warning in that case or it's a bug in roslyn.

[2019-09-06 10:42] Youssef1313 commented on #14231
https://github.com/dotnet/roslyn/issues/17154

[2019-09-06 10:48] Youssef1313 commented on #14231
This one is also related to that issue: https://github.com/dotnet/roslyn/issues/15695

I think that docs should be updated.

[2019-09-06 10:51] ciaran036 opened #14257 "OData links are broken"
The OData links for the System Query Operations section are broken. The links point to a 'It's moved...' page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02c1d3ca-d567-5b3c-d4f9-4329c403f6fa
* Version Independent ID: 8b343173-2a8b-521b-a6e1-56a5835ae4a5
* Content: [Accessing Data Service Resources (WCF Data Service

[2019-09-06 11:09] Youssef1313 commented on #14257
I'll open a PR that updates it.

[2019-09-06 11:46] hemantkx commented on #12225
I can't Install Identity and Access tool, your complete documentation is based on this tool. and It's not even supported in Visual Studio 2017 on Windows 10. Is there any alternative?

[2019-09-06 12:05] KaineVarley opened #14260 "Namespace Alias Operator (::) Example Mistake?"
Hi,

Thanks for a great article. One point that may be a little confusing is the very last point on the page dealing with the namespace alias operator (::).

The part of the article begins:
"Using :: with aliases is a good idea and protects against the unexpected introduction of additional types. For example, consider this example:"

However, the example then goes on to use the dot notation operat

[2019-09-06 13:27] dvbava commented on #14070
to "switch expressions", Instead of polluting the simple switch statement, Please introduce the world "map", something inline with F#.

[2019-09-06 15:03] #14206 closed

[2019-09-06 15:22] Potapy4 commented on #9628
@mairaw I think we can close it

[2019-09-06 15:54] #14260 closed

[2019-09-06 17:07] #13787 closed

[2019-09-06 19:19] MaisamRazai commented on #9729
I can't see the AccountController when I create MVC application with this command:
 dotnet new mvc --auth SingleOrg

[2019-09-06 19:24] #14251 closed

[2019-09-06 19:33] mairaw commented on #9628
Thanks @Potapy4. We state on the prereqs that we're using VS 2019 in the article. Maybe we could enhance this by saying you need VS 2019 actually since the UI changed so much to create a new project. But after the first steps, the tutorial should work for both VS 2017 and 2019. I'll need to think on what to do here.

[2019-09-06 19:42] Rick-Anderson commented on #9729
You need to scaffold Identity now. See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio

[2019-09-06 20:46] dliedke opened #14265 "Getting Scores and Labels for prediction in multiclass classification with ML .NET"
Hello! I would recommend [this tutorial](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/github-issue-classification) to also show the labels and scores when predicting, example:

Area: area-System.Data Score: 46.87811%
Area: area-Infrastructure Score: 27.88144%
Area: area-System.Security Score: 6.85226%
Area: area-Meta Score: 4.304262%
Area: area-Serialization Score: 3.70437%
A

[2019-09-06 20:57] #13903 closed

[2019-09-06 20:58] Thraka commented on #13461
This was completed as part of the WPF branch creation.

[2019-09-06 20:58] #13461 closed

[2019-09-06 21:45] #13626 closed

[2019-09-06 23:09] #13667 closed

[2019-09-06 23:24] #9628 closed

[2019-09-07 00:59] natke opened #14279 "Broken link on .NET landing page"
This link on the landing page is broken. We need to replace it with something sensible:

https://docs.microsoft.com/en-us/dotnet/machine-learning/resources

[2019-09-07 01:02] KathleenDollard commented on #14109
This is a known issue that we are working on.

[2019-09-07 02:47] mairaw commented on #14109
Closing since this is a known product bug.

[2019-09-07 02:47] #14109 closed

[2019-09-07 07:25] svick commented on #1815
@mairaw Sounds good to me.

[2019-09-07 08:34] MSDN-WhiteKnight opened #14281 "New topic proposal: Reference assemblies"
Follow-up to <https://github.com/dotnet/docs/issues/2638>. Because two-years-old issue does not receive much attention, i decided to create this one and declare this as a more formal proposal.

### Justification

.NET Docs are currently missing the conceptual overview of reference assemblies. Searching for "net reference assemblies" in Google or Microsoft Docs search mostly gives unrelated informa

[2019-09-07 10:13] colindooley11 opened #14282 "Quadrant switch expression, deconstruct example"
Maybe I'm misreading this, but when accessing Point  in:

static Quadrant GetQuadrant(Point point)

We are doing it implicitly but with prior knowledge of what we can deconstruct.

Would it not be more explicit just to access each Point member (x and y which are public) and send them in?

static Quadrant GetQuadrant(int x. Int y)

I don't see what deconstruct helps here with  rather it just helps

[2019-09-07 12:34] imba-tjd commented on #14163
`--no-logo` should be a typo.

`--nologo` is indeed added in 3.0: https://github.com/dotnet/cli/commit/afcf7604ffb32e6c50bb0d91463f6f2550d772e2#diff-b61ae302364b0e662a9b728d70221acc

The reason `-nologo` works is because msbuild uses it.

[2019-09-07 16:15] IanKemp commented on #14163
IMO, `--no-logo` makes sense in the context of `--no-build` and `--no-restore`.

[2019-09-07 16:46] jwood803 commented on #13898
Hey, @luisquintanilla. I just tried with a console app and I do still get the same exception.

Here's the [code](https://github.com/jwood803/MLNetExamples/tree/master/MLNetExamples/RetrainModel), if you need. Let me know if I can help with anything. :)

[2019-09-07 20:18] rskar-git commented on #13680
@rpetrusha

I have made the requested changes. I am new to github, and hope you've been aware by it - please let me know if there's something else I need to do to in github after making changes. Thx!

[2019-09-07 21:04] nemrism commented on #12224
/cc @BillWagner

What do you suggest to fix the issue?

Updating the sample and/or adding a note mentioning that Tls12 needs to be enable if the targeted framework version is less than 4.6?

[2019-09-07 23:17] imba-tjd commented on #14163
You need go to the cli repo opening a issue for that

[2019-09-08 05:02] jaaronb opened #14290 "Incorrect hot keys used"
Since this is the macOS version of getting started a few changes need to happen.

Under the header Debug the Application, first paragraph it says to use F9 to insert a breakpoint.  On a mac users must use the combination fn+F9.  In the second paragraph, the hotkey combo listed to show the debug screen is Ctrl + Shift + D.  On a mac, it should be Cmd + Shift + D.

---
#### Document Details

⚠ *Do n

[2019-09-08 10:22] KoziLord opened #14292 "The rounding description for float remainder is incorrect"
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#remainder-operator

The article mentions that N is "the largest possible integer that is less than or equal to X / y" (Floor)
However the actual rounding applied during the calculation seems to be rounding to 0 and NOT towards -Infinity

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-08 12:28] rablewis opened #14293 "Don't update thread-local variable in body of Parallel.For call. It has no non-local effect."
These lines for the loop body in the example are misleading/confusing:

    subtotal += nums[j];
    return subtotal;

Updating the thread-local variable has no effect in subsequent iterations. It is the return value that controls how the sum is reduced across multiple loop iterations. I suggest replacing the above two lines with something like this:

    long newSubtotal = subtotal + nums[j];

[2019-09-08 15:08] Youssef1313 commented on #14290
I'm not sure about the `fn+` addition. I haven't used mac, but I think it could be `F9` or `fn+F9` depending on user settings. so I think `F9` is just enough. I'll open a PR now to replace `Ctrl` with `Cmd`, Reviewers with write-access can then suggest the addition of `fn+` if they see it's correct or just accept the PR with only `Ctrl` -> `Command`

[2019-09-08 15:51] Youssef1313 commented on #14292
`x and y are positive finite values. z is the result of x % y and is computed as x - n * y, where n is the largest possible integer that is less than or equal to x / y.`

The previous is the paragraph you're speaking about, where x and y are floats. and it seems correct to me.

Let's take an example where `x = 5.3` and `y = 7.9`
`x / y` = 0.67 (approx.)
n is the largest possible int less than or e

[2019-09-08 18:35] nemrism commented on #831
I just found this article on Azure docs:
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-install-dotnet

I think it covers the subject. Would it be relevant to link to it or do you want to create a topic in the .NET docs?

[2019-09-09 05:09] pkulikov opened #14297 "C# 8.0: new index and range operators"
New index-from-end (`^`) and range (`..`) operators should be added to the language reference. Short descriptions and examples and then reference already existing tutorials.

@BillWagner this is for the [C# 8 docs project](https://github.com/dotnet/docs/projects/58).
Could you please assign this issue to me?

Is the [Member access operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-

[2019-09-09 07:47] AignerGames opened #14298 "Some questions"
I tried to use this method, but the GetUnicastAddresses didn't return any IP addresses which had IsIPv6Teredo  true. Do I have to do anything else to "enable" this feature?

I started a TcpListener with AllowNatTraversal set to true and set it to listen before calling GetUnicastAddresses not sure if the order makes a difference in this case?

Does the TcpListener have to use a specific port for th

[2019-09-09 10:01] IanKemp commented on #14163
@imba-tjd https://github.com/dotnet/cli/issues/12557

[2019-09-09 10:14] sdg002 opened #14301 ""dotnet publish" documentation does not tell you about how to use a saved XML profile"
This is a feedback on the documentation of "dotnet publish" command found [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21)

It was only after reading through https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-2.2 I got to know what you could pass the name of the XML file and have **dotnet publish** do

[2019-09-09 10:38] sdg002 opened #14302 ""dotnet publish" does not provide sufficient guidance when there is a private Nuget feed"
This is feedback about the documentation of the "**dotnet publish**" command which is available on this [site](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21).

I have a simple CSPROJ which references a nuget package from a private feed. The **dotnet publish** command fails with the following error:

C:\Program Files\dotnet\sdk\3.0.100-preview9-014004\NuGet.target

[2019-09-09 12:25] AdmiralSnyder opened #14308 "Add VS info and year numbers for other C# versions"
ideally in the sub headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
* Content: [The history of C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-version-history#feedback)
* Content Sou

[2019-09-09 14:19] BillWagner commented on #12224
@nemrism I think the better fix is to update the sample. Would you agree?

[2019-09-09 14:44] #13227 closed

[2019-09-09 16:21] tdykstra commented on #12207
@devel112

That is in fact the default (keep the same case).  Feel free to review the initial [docs PR](https://github.com/dotnet/docs/pull/14208) and let me know if there are any other questions you have that the new how-to doc doesn't answer.

[2019-09-09 16:30] nemrism commented on #12224
Definitely, so you recommend to add the instruction whatever .NET FX version the code is run against?

Would you like me to PR this change?

[2019-09-09 16:40] davidsh opened #14310 "Add conceptual docs for Negotiate/Kerberos/NTLM auth for Linux-Windows interop"
See https://github.com/dotnet/corefx/issues/30203 for examples of what's needed for customers.

[2019-09-09 17:25] teo-tsirpanis opened #14312 "Should attributes in a type go before or after the XML documentation?"
My codebase uses a mixture of both.

Recently however, I started liking the former because hitting <kbd>Enter</kbd> at the end of a thrice slashed line makes the next line a comment line as well (at least in Ionide).

On the other hand, putting the attributes after the XML documentation moves the important-for-the-compiler metadata close to the type itself.

Is there a guideline on this specific c

[2019-09-09 17:36] phillijw commented on #6428
It would also be nice to see some discussion of how I deal with dependency injection for these constructors. Perhaps it's not allowed at all?

[2019-09-09 21:00] binki commented on #6428
@phillijw For these constructors, you mostly can do DI indirectly through passing in `Type`s and making whatever is processing the attributes aware of your DI. For example, some DI systems themselves let you mark objects with attributes specifying arbitrary values such as names or priority levels so that your runtime code can select between alternative implementations. But attributes themselves ar

[2019-09-09 21:18] tdykstra commented on #11697
@bartlomiej-dawidow Thanks for reporting that -- I agree the language was confusing and I've submitted PR #14320 to clarify it.

[2019-09-09 21:24] BillWagner commented on #14103
Thanks for adding this @SalFicara

We'll make sure to address this when we next update this document.

In the meantime, I've added the "up for grabs" label for any community members to address.

[2019-09-09 21:29] rpetrusha commented on #14281
This outline looks good, @MSDN-WhiteKnight. Since I assume you'd like to write the topic, it's fine if you'd like to go ahead; I've assigned it to you. One additional resource that you might consider is the video [BCL - Reference Assembles](https://www.youtube.com/watch?v=EBpY1UMHDY8), as @terraobst suggested.

[2019-09-09 21:33] BillWagner commented on #14127
Thanks for writing this @damirarh

I'll make sure to get it updated this month.

I did a quick search, and I can't find the LDM notes where this was updated.  @agocke @jcouv Can you point me to the correct updates?

[2019-09-09 21:34] BillWagner commented on #14129
Thanks for pointing to the proposal @svick

The current documentation is correct, so I will close this. (We'll update it if the proposal is accepted and implemented. 😄

[2019-09-09 21:34] #14129 closed

[2019-09-09 21:38] BillWagner commented on #14308
This is a good idea @AdmiralSnyder

I've added it to our backlog, and added the "up for grabs" label for any interested community member.

[2019-09-09 21:39] BillWagner commented on #14297
Thanks @pkulikov

Assigned and labeled.

[2019-09-09 21:40] tdykstra commented on #11595
@jefffhaynes Which line of code has the error and what is the nature of the error?

[2019-09-09 21:55] tdykstra commented on #11536
No, that section is about restrictions unique to Windows Store apps.

[2019-09-09 21:55] #11536 closed

[2019-09-09 22:01] tdykstra commented on #10151
@addemko Thanks for pointing that out. I've added this issue to our backlog for investigation.

[2019-09-09 22:03] mairaw commented on #14298
@davidsh can you help with these questions?

[2019-09-09 22:14] mairaw commented on #14279
You mean hub page?

Usually when we removed the index page of certain folders because of the TOC accessibility pages, we redirected those to the first entry in the TOC.

Because right now is URL path is not "hackable" - meaning you can't walk backwards on URLs such as https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/ml-net-cli-telemetry.

Also, because you mentioned landing page,

[2019-09-09 22:18] mairaw commented on #14225
Can you confirm @HongGit? I don't see that property under https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.configuration.reliablesessionelement.

[2019-09-09 22:24] mairaw commented on #14237
Are you planning to address this @wadepickett? I was looking at this because it was still showing as Not Triaged. Otherwise, I can start on this right away. I'd probably also use a language that is similar to the one used in the marketing site:
https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core

Multiple versions of ASP.NET Core can exist side-by-side on the same server. Meaning one app

[2019-09-09 22:49] Thraka commented on #13773
@rcollina Hi, sorry for the delay on this. Can you provide more information about what you mean in regard to the nested classes? There is no restriction on nested classes implementing an interface.

[2019-09-09 23:02] mairaw commented on #10447
Yes, I think we can improve the text. But it's about the stable version of the installation scripts.

For issue #1, as I mentioned earlier, I suggest you file an issue at https://github.com/dotnet/cli, so the product team can review that.

[2019-09-09 23:05] mairaw commented on #14143
We also need to review this for this breaking change: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.defaultfont#remarks

[2019-09-09 23:09] mairaw commented on #14029
@dasetser, @HongGit can you comment on this question related to Transactions content?

Also, should we move this content to the .NET Guide since it seems that .NET Core supports this too?

[2019-09-09 23:35] mairaw commented on #9314
I've opened https://github.com/dotnet/docs/pull/14325 to take care of this and no longer need to create the folder ahead of time. Please provide feedback if you'd like.

[2019-09-10 01:44] natenho commented on #10447
So in this case it would be even better to put the actual link to the installation scripts download page. Where can we find it?

[2019-09-10 03:50] #13768 closed

[2019-09-10 03:57] Thraka opened #14334 "Update xaml.md with links for desktop guide"
`docs/desktop/wpf/fundamentals/xaml.md` needs to have all of the TODO links fixed.

[2019-09-10 05:46] rcollina commented on #13773
@Thraka no problem.
I mean nested classes within an interface declaration.

[2019-09-10 06:50] walterlv opened #14338 "When use the when keyword in a catch expression the app crashes instead of do what the document says"
## Issue

There is such a sentence here:

When there is an exception occurred in the when expression the exception will be ignored and the expression will return false.

But it only works in .NET Core 3.0 but not in .NET Framework 4.8.

## Demo

See such a demo below:

[code]

This is the output of .NET Core 3.0 and everything works fine:

![image](https://user-images.githubusercontent.com/9959623

[2019-09-10 09:30] Thorium opened #14340 "Left outer join on greater-than / less-than"
How should I do this in F# LINQ?

[code]

Also how do I do this?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3514796-1d23-6213-51c8-a90e399a5afd
* Version Independent ID: 518ea6eb-b99d-deac-eca3-4a2be6b4baa9
* Content: [Query Expressions - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-referenc

[2019-09-10 11:07] RussKie commented on #14143
Yes, the doc must be updated as per the above.

[2019-09-10 13:41] Youssef1313 commented on #14338
It seems that the reason is `ex.FileName` being `null`.

I don't know the reason that makes it works on core but not .net framework. but the following should work on both.

`catch (FileNotFoundException ex) when (ex.FileName != null && ex.FileName.EndsWith(".png"))`

[2019-09-10 14:53] #14308 closed

[2019-09-10 15:41] johnbeisner commented on #10447
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script
You can find the installation scripts' URLs under the 'Description' section.

[2019-09-10 16:01] kinglionsz opened #14342 "example code error"
example code error: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/join-clause#example
error 1：
Console.WriteLine("GroupJoin3: {0} items in 1 group", totalItems, groupJoinQuery3.Count());
should update：
Console.WriteLine("GroupJoin3: {0} items in {1} group", totalItems, groupJoinQuery3.Count());

or：
Console.WriteLine("GroupJoin3: {0} items in 1 group", totalItems);

er

[2019-09-10 16:04] BillWagner commented on #14282
Thanks for writing this. I agree the sample could be more clear, and the justification could be easier to see.

The advantage to using a Deconstruct method is that you can reduce the number of overloads for all public methods that have a `Point` parameter. My having a deconstruction, you need only write the Deconstruct method that takes (x, y). You don't need to write the additional overload that

[2019-09-10 16:48] luisquintanilla commented on #14265
Thanks for the suggestion @dliedke . While this information is helpful for someone looking to go deeper into understanding the predictions, it adds some complexity to the tutorial that goes beyond getting started.

[2019-09-10 16:54] luisquintanilla commented on #13895
Thanks for the feedback @nfnpmc.

This issue can be added to AB#1596621

[2019-09-10 16:57] luisquintanilla commented on #13880
Thanks for raising this @bamurtaugh . Anomaly Detection is there. We're working on Time Series and Deep Learning.

[2019-09-10 17:01] luisquintanilla commented on #13481
AB#1596627

[2019-09-10 17:03] luisquintanilla commented on #13352
Thanks for the feedback @DrEight. Unfortunately this is not currently possible. However, it's an upcoming feature.

[2019-09-10 17:03] #13352 closed

[2019-09-10 17:06] luisquintanilla commented on #13090
@rustd Do you have a set of screenshots showcasing the expected functionality?

[2019-09-10 17:15] luisquintanilla commented on #12451
To be worked on as part of AB#1596634.

Thanks for the feedback @marchy. How you consume API's is up to you. As long as you're able to get the object(s) into IEnumerable format, then they can be loaded into an IDataView with the LoadFromEnumerable method.

As far as databases, we're adding documentation on the preview version of the DatabaseLoader.

[2019-09-10 17:15] #12451 closed

[2019-09-10 17:23] luisquintanilla commented on #11864
Thanks for the suggestion @kristianjaeger. We've added it to our backlog.

[2019-09-10 17:23] #11864 closed

[2019-09-10 17:28] luisquintanilla commented on #8816
Currently in machinelearning-samples backlog https://github.com/dotnet/machinelearning-samples/projects/1#card-24046517

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596631)

[2019-09-10 17:28] #8816 closed

[2019-09-10 17:28] jcouv commented on #14127
Yes, the error for ambiguous implementation is expected ([notes](https://github.com/dotnet/csharplang/blob/master/meetings/2017/LDM-2017-03-08.md#the-diamond-problem)).

For the `base(I1)` question, the functionality was removed from C# 8. Here's the [PR](https://github.com/dotnet/roslyn/pull/35456). This was decided in the [04-29 meeting](https://github.com/dotnet/csharplang/blob/master/meetings/

[2019-09-10 17:46] Youssef1313 commented on #14342
A fix to this was done by @imba-tjd in https://github.com/dotnet/samples/pull/1444

[2019-09-10 17:48] BillWagner commented on #14342
closing as duplicate.

[2019-09-10 17:48] #14342 closed

[2019-09-10 18:09] #11697 closed

[2019-09-10 18:35] Thraka commented on #13773
So I did a test where I created a nested class in the interface. Classes that implement the interface do NOT get the nested class. The nested class seems independent of the interface, it just becomes the container for the class.

[code]

[2019-09-10 18:44] Thraka commented on #13773
I think this answers your question 😄  I'm going to close it.

[2019-09-10 18:44] #13773 closed

[2019-09-10 19:19] rcollina commented on #13773
It does, thank you!

[2019-09-10 19:35] asamatterof commented on #10495
I am having the same problem I am trying to set up an ftp for my site please help

[2019-09-10 19:44] mairaw commented on #14279
Also, this Resources link is used in the breadcrumb and is broken as well:
https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/metrics

![image](https://user-images.githubusercontent.com/12971179/64644966-b380e680-d3c8-11e9-8ec2-75b381a8e4e9.png)

[2019-09-10 20:07] natke commented on #14279
Thank you @mairaw It's interesting that these pages get extremely low traffic (at least in our case anyway).

[2019-09-10 20:46] KoziLord commented on #14292
This works fine with positive numbers, it breaks with negative numbers however
Example:
-10.4 % 2 == -0.4
`n = Floor(-10.4 / 2)`
`n = Floor(-5.2)`
`n = -6`
`-10.4 - (-6 * 2)`
`-10.4 + 12`
`1.6`

[2019-09-10 20:54] pkulikov commented on #14292
@KoziLord

The [linked spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#remainder-operator) states that as well (emphasis mine):

[2019-09-10 21:04] #13693 closed

[2019-09-10 22:00] tannergooding opened #14350 "Floating-point Formatting and Parsing behavior changed for .NET Core 3.0"
## [Change Title]

Floating-point (`System.Double` and `System.Single`) formatting and parsing were changed to be IEEE compliant for .NET Core 3.0

### Version introduced

.NET Core 3.0

### Old behavior

Formatting (`ToString`) and Parsing (`Parse` and `TryParse`) were previously not IEEE compliant and it was impossible to guarantee that a value would roundtrip under any supported standard or cus

[2019-09-10 22:26] ericstj opened #14351 "Environment.Version, RuntimeInformation.FrameworkDescription and file informational version now reflect product versioning"
## Environment.Version, RuntimeInformation.FrameworkDescription and file informational version now reflect product versioning
Many of the APIs which returned versions in .NETCore returned the file version of the file instead of the product version.  Now these APIs return the product version.

See also https://github.com/dotnet/corefx/issues/35573.

### Version introduced
3.0

### Old behavior
Envi

[2019-09-11 00:24] Thraka opened #14355 "[desktop-guide] Todo once merged to master"
After the desktop-guide WPF ships:

### File redirects

- [x] From `/dotnet/framework/wpf/controls/styling-and-templating`
  To `docs/desktop-wpf/fundamentals/styles-and-templates-overview.md`
- [x] From `/dotnet/framework/wpf/advanced/xaml-resources`
  To `docs/desktop-wpf/fundamentals/xaml-resources-define.md `
- [x] From `/dotnet/framework/wpf/advanced/xaml-overview-wpf`
  To `docs/desktop-wpf/

[2019-09-11 00:43] kinglionsz opened #14358 "OUTPUT ERROR:the code it's self correct,but the output format is not expected"
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/pointer-related-operators#pointer-element-access-operator-

###  1, the issue:

the code it's self  correct,but the output format is not expected

`
unsafe
{
    char* pointerToChars = stackalloc char[123];

    for (int i = 65; i < 123; i++)
    {
        pointerToChars[i] = (char)i;
    }

    Console.Write("Uppercase le

[2019-09-11 01:20] lucius-the opened #14359 "Commanets are misleading"
"ByVal does not prevent changing the value of a field or property."
ByVal actually DOES prevent changing the value of a field or property (as seen clearly in output).

"ByVal does prevent changing the value of c1 itself."
ByVal actually does NOT prevent changing the value of c1 itself (as seen clearly in output).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-09-11 02:05] kinglionsz commented on #14342
Thank you for your reply but it seems that you have solved the issue which I found ,and not the repeat issue.

[2019-09-11 02:06] kinglionsz commented on #14342
Thank you for your time .

[2019-09-11 03:34] Thraka commented on #14359
@lucius-the Hello. Reading through the code and the output it seems to be correct.

I've added some remarks:

[code]

[code]

[2019-09-11 04:32] eightcloud83 commented on #13152
any update?
Has this item been delayed to .Net Core 3.1?
Thanks.

https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-9/

Livar Cunha  2019-09-06 18:50:23

That's coming in .NET Core 3.1 and VS 16.4

[2019-09-11 04:50] jkoritzinsky commented on #13152
Yes this has been delayed to 3.1.

[2019-09-11 04:52] pkulikov commented on #14358
@kinglionsz interesting how you've got such an output?

If I copy the snippet to the following console program:

[code]

and run it, the output is as expected:
![image](https://user-images.githubusercontent.com/15279990/64668848-82072a00-d45f-11e9-99d7-126d231ee412.png)

The *.csproj* file is as follows:

[code]

Also, if I `dotnet run` the [complete project](https://github.com/dotnet/samples/tree

[2019-09-11 05:06] imba-tjd commented on #14358
@pkulikov It's because he doesn't know `Write`, only knows `WriteLine`. I have pointed it out but he refused to accept it 🤷‍♂

[2019-09-11 06:22] paul1956 opened #14362 "Reminder complete description of VB16"
**Issue description**
The latest docs update adds some features for VB 16 but not everything, Core  3.0 WinForms details need adding, it still refers to 15.8 even though there is no such thing and you can't set language version to 15.8, the 15.8 feature listed here is part of a minor update and is included in VB 16.0 as a nonbreaking performance improvement. Also there is another new visible featu

[2019-09-11 08:55] kinglionsz commented on #14358
Yes, It was my fault. I typed  `Console.WriteLine` instead of  `Console.Write` because I type the code with IntelliSense and not copy the snippet.

Thank you so much and  thank you for your time. @pkulikov

[2019-09-11 08:56] kinglionsz commented on #14358
I like code instead of copying the code

[2019-09-11 09:01] pkulikov commented on #14358
@kinglionsz cool that the mystery is resolved, thanks:). I guess this issue and related one in the loc repo might be closed.

[2019-09-11 09:09] kinglionsz commented on #14358
👌☕

[2019-09-11 09:32] OmanF commented on #666
2019...
Just copy-pasted the first, top-most, code snippet into both Rider and VSCode.
Rider recognizes, and color-codes `webClient.AsyncDownloadString(uri)`. VSCode, on the other hand, immediately red-squiggles it.

Sending both snippets to `FSI` though gives the same result: an error, `...AsyncDownloadString is not defined. Maybe you mean DownloadString`.

Rider:
![on_rider](https://user-images.

[2019-09-11 10:55] BillWagner commented on #14358
I'm glad this was resolved.

Closing.

@imba-tjd @CeciAc Can one of you close the related loc issue? 'm not sure which repo it's in. Thank you

[2019-09-11 10:55] #14358 closed

[2019-09-11 11:52] BillWagner commented on #14127
Thanks @jcouv

I'll review the doc carefully and make sure it reflects the current planning.

[2019-09-11 11:59] kinglionsz commented on #14358
👌☕Thank you for your time. @BillWagner @pkulikov @imba-tjd @CeciAc

[2019-09-11 13:05] KoziLord commented on #14292
Right, however there isn't any specification about how negative values behave, I think changing it from

to something like:

[2019-09-11 13:06] boskjoett opened #14364 "Wrong example"
[Enter feedback here]
The examples section contains a wrong example.
This line:
`dotnet test --logger:trx`
should have been:
`dotnet test --logger trx`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet te

[2019-09-11 13:12] BillWagner commented on #14127
I did review the tagged article, and it's correct with respect to the C# 8.0 implementation.

Continued discussion should be related to the dotnet/csharplang#2337

Closing this as by-design.

[2019-09-11 13:12] #14127 closed

[2019-09-11 13:14] pkulikov commented on #14292
The table after the paragraph shows how negative and non-finite values are treated.

[2019-09-11 13:20] pr-yemibedu commented on #666
Hello @OmanF ,
  I wonder if there is not a proper reference to so FSharp library as the method you show is an extension method. Maybe you need more than just core Fsharp sytnax highlighting enabled? https://msdn.microsoft.com/visualfsharpdocs/conceptual/webclient.asyncdownloadstring-extension-method-%5bfsharp%5d mentions it is not something out of the box and Rider may be doing a little heavy lif

[2019-09-11 13:26] #13686 closed

[2019-09-11 13:30] Esjihn opened #14366 "Creating loan object"
this.customer = customer;

should be

this.Customer = customer

which uses the Customer property instead of directly calling and accessing (violating encapsulation) the private variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7bc5cfb-d247-62c8-2173-9403efe72b16
* Version Independent ID: 3fab702d-66a7-3338-6c61

[2019-09-11 13:40] Esjihn opened #14367 "Loan Object Interest rate issue."
Please change interest rate property to

  private double _interestRate;
        public double InterestRate
        {
            get { return _interestRate * 100;}
            set { _interestRate = value; }
        }

to calculate accurate percentage rates. This will make the interest rate in the testLoan object show up correctly. However, you will still have an issue with testLoan.InterestRate c

[2019-09-11 13:48] #12772 closed

[2019-09-11 14:27] OmanF commented on #666
Looks like there is an even bigger issue, one not with the documentation (notice how I run each command by itself in `FSI`, only causing an issue when I try to actually evaluate the async expression. No problem *creating* it, which is where the `AsyncDownloadString(str)` line is):

![the_real_error](https://user-images.githubusercontent.com/7848797/64705078-a0951180-d4af-11e9-902d-546dc8d4634c.png

[2019-09-11 15:12] mvelosop commented on #10309
Thanks @GitMarJansen, @jstafford5380, I find both approaches quite interesting! 👍

I'm adding a link from [eShopOnContainers wiki](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Unit-and-integration-testing), because this is an interesting discussion to keep referenced. 😊

I think the original question has been handled so I'm closing this issue now, but feel free to comment, will re

[2019-09-11 15:12] #10309 closed

[2019-09-11 16:36] #13598 closed

[2019-09-11 17:00] Thraka commented on #14338
Verified. This doesn't happen when you use a classic style project that targets 4.8, only when you use the newer SDK style projects that target 4.8 Please open a bug at https://github.com/dotnet/corefx/issues

Thanks.

[2019-09-11 17:00] #14338 closed

[2019-09-11 17:34] #13548 closed

[2019-09-11 18:01] #13547 closed

[2019-09-11 18:25] #13513 closed

[2019-09-11 18:57] mairaw commented on #13527
Given that going back to MSDN is not an option, I'm closing this issue.

@drewbatgit feel free to update this thread when the issue is addressed on that Windows content.

For content that doesn't have the feedback button, the best option is to use the site feedback link at the bottom: https://aka.ms/sitefeedback

[2019-09-11 18:57] #13527 closed

[2019-09-11 19:02] mairaw commented on #14364
Thank you for your feedback @boskjoett. I've opened PR #14374 to fix this issue.

You can also make edits to our content when you find issues. For more information, see https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2019-09-11 19:44] #13475 closed

[2019-09-11 20:21] #13470 closed

[2019-09-11 20:30] #12227 closed

[2019-09-11 20:31] CESARDELATORRE opened #14379 "Mention Model Explainability"
Mention the definition of Model Explainability here since feature importance with PFI is part of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1fb0dd-648b-26e9-7e4e-48824ab94160
* Version Independent ID: 689b6488-dadc-fd39-c432-ebf095a0299a
* Content: [Explain model predictions using Permutation Feature Importan

[2019-09-11 20:37] rpetrusha commented on #13693
@tarekgh, do we need to note the preview version in which this change was introduced?

[2019-09-11 20:39] rpetrusha commented on #13548
@GrabYourPitchforks, do we need to note the preview version in which this change was introduced?

[2019-09-11 20:39] rpetrusha commented on #13547
@GrabYourPitchforks, do we need to note the preview version in which this change was introduced?

[2019-09-11 20:40] rpetrusha commented on #13475
@bartonjs, do we need to note the preview version in which this change was introduced?

[2019-09-11 20:40] rpetrusha commented on #13470
@bartonjs, do we need to note the preview version in which this change was introduced?

[2019-09-11 20:48] dasetser commented on #14029
@suwyace We don't have any plans to add an API to support doing an async rollback.

@mairaw System.Transactions on .NET Core only supports a small subset of the functionality, so much of this documentation does not apply to it.

[2019-09-11 21:13] #13375 closed

[2019-09-11 21:50] #13469 closed

[2019-09-11 22:08] rpetrusha commented on #13448
@ericstj, do we need to document the preview version in which this change was introduced?

[2019-09-11 22:09] #13448 closed

[2019-09-11 22:59] tarekgh commented on #13693
I think it wouldn’t hurt to specify that but I am seeing this will be useful for short time only.

[2019-09-12 00:00] rpetrusha commented on #13832
I've made some minor changes, if you'd like to review them, @bartonjs.

[2019-09-12 00:07] mairaw commented on #13693
the reason we ask is because we’ll have specific pages for preview7+ if the change was introduced in preview 7+. Can you just confirm whether it was before preview 7 or after?

[2019-09-12 00:53] walterlv commented on #14338
@Thraka Thanks.

[2019-09-12 05:04] OmanF commented on #666
I think I got what was the issue: the underlying extension method *does* say on *its* page that the supported .Net version are 2 and 4, I'm guessing `Core`/`Standard` and `Framework`, respectively (might want to make that more clear on that page as well).

My initial run was with `FSharp.Core` 4.6.2 which runs `.Net standard` 1.6. Had to upgrade to 4.7 and everything works fine, `FSI` included.

S

[2019-09-12 06:11] chucklu commented on #9565
@mikkelbu  It did not work, I already choose log disabled option. However, it still keeps write log.
![image](https://user-images.githubusercontent.com/3004057/64758453-3770d500-d567-11e9-8c69-cc8bfa61ec7b.png)

[2019-09-12 11:33] shoop opened #14395 "Please add instructions for updating references"
The tool help summarizes this, but it took me a bit to figure it out. I think it should be:

[code]

Where the referencefolder contains the saved ConnectedService.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0bd854-fec8-fc4a-760a-42dc22e07f99
* Version Independent ID: f04e9f8b-24d2-79fb-7521-6222c434e80f

[2019-09-12 16:35] davidn-sytelco opened #14398 "Missing information about using explicit type names when creating F# records."
In the section on creating new records and using explicitly specified type-names to disambiguate the record type that should be created, it could also mention that the explicit type-name need only be provided for one of the fields and not repeated many times.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bc735-dea5

[2019-09-12 20:06] SamuelEnglard opened #14401 "Interacting with the Runtime from native when started from managed."
How would I interact with the runtime if my native code is being called from managed code to start with?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83da7030-b5f1-72ad-71f6-424ff45b8b7f
* Version Independent ID: a98926cc-64ab-2911-e4b8-1eaf4573dfe4
* Content: [Write a custom .NET Core runtime host - .NET Core](https

[2019-09-12 20:32] maryamariyan opened #14402 "Move InvalidAsynchronousStateException down to System.ComponentModel.Primitives"
## Move InvalidAsynchronousStateException down to System.ComponentModel.Primitives

This issue is a non-breaking change. When accessing the type via reflection it will now be observed in a different assembly.  We don't expect functionality to break in any way.

### Version introduced

3.0

### Old behavior
Type existed in `System.ComponentModel.TypeConverter`

### New behavior
Type exists in `Syst

[2019-09-12 20:38] maryamariyan opened #14403 "TypeDescriptionProviderAttribute"
## Move TypeDescriptionProviderAttribute down to System.ObjectModel

This issue is a non-breaking change. When accessing the type via reflection it will now be observed in a different assembly. We don't expect functionality to break in any way.

### Version introduced

3.0

### Old behavior

Type existed in `System.ComponentModel.TypeConverter`

### New behavior

Type exists in `System.ObjectModel

[2019-09-12 22:24] jonnybest opened #14406 "Example missing"
I could really use an example here... or maybe a pointer to a tutorial where this is being used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef284edc-3711-7491-2d2e-fdda96b31471
* Version Independent ID: 703dd0e7-1c2a-daf0-994c-a66d5ee764c6
* Content: [LocalDeclarationStatementSyntax Class (Microsoft.CodeAnalysis.CS

[2019-09-12 22:32] jonnybest opened #14407 "Magic string values in argument"
Could you please document some of the expected values for "string language", 2nd argument? It's unclear what to put here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8122dc37-51db-e5ea-9c69-1b4703aba433
* Version Independent ID: 348c34f1-dc19-e571-a236-a7eec90e9047
* Content: [SyntaxGenerator.GetGenerator Method (Mi

[2019-09-12 22:47] drdamour opened #14408 "API might get conflated"
I *think* it's not intentional but the statement "can only be accessed via its microservice API" in practice in my experience makes people picture JSON over HTTP only.  Much later it's mentioned about websockets and AMPQ as other protocols i'd presume you build an API on...but Microservice API seems to have been generally equated to JSON over HTTP which is often incorrectly called REST.

Said alte

[2019-09-13 00:25] nkolev92 opened #14411 "NuGet metadata properties is not up to date with the NuGet targets"
**Issue description**

https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#nuget-metadata-properties is not up to date with https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets

More specifically;
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-an-icon-image-file

Should we maybe avoid duplication and link directly to the NuGet docs?

edit by @mairaw: add

[2019-09-13 06:57] Youssef1313 commented on #14407
I think you should pass one of the constants defined in [LanguageNames](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.languagenames?view=roslyn-dotnet)

[2019-09-13 07:52] maxpavlov commented on #10852
This article is simply terrible. Came here to refresh my knowledge of recommended patters in .NET and realized the previous MSDN article about this was way, way more clear and correct. Who proofreads this? It's like a main doc of the huge technology company, how come the quality is so poor. Imagine if the author writes more articles like this. @Microsoft, please re-assign the author for the offici

[2019-09-13 08:34] jonnybest commented on #14407
That's it!

    var generator = SyntaxGenerator.GetGenerator(workspace, LanguageNames.CSharp);

Thanks so much. :)

[2019-09-13 08:34] #14407 closed

[2019-09-13 10:06] davidn-sytelco commented on #14398
Looking further at all of the samples, this is already shown.

[2019-09-13 10:06] #14398 closed

[2019-09-13 11:52] RussKie commented on #14143
It was shipped in Preview 7

[2019-09-13 11:54] sander- opened #14416 "Page refers to Visual Studio 2017 as the latest release of Visual Studio"
Even if you don't have the time to update references and samples to use VS 2019, it should at least not refer to VS2017 as 'the latest release'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36515e3d-e8ab-5dfb-d5e9-332f767d9607
* Version Independent ID: adddc073-2413-197a-e74c-20a71d4abcd3
* Content: [Get Started - C#

[2019-09-13 15:22] bhalbright opened #14418 "None of the links under "I want to watch some videos..." appear to go to pages with videos"
For example
"WCF Data Services Developer Videos" goes to sql server documentation.
"OData: Developers Web site" link is not valid anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a6ad7cb-5dcf-6c21-7f65-0c75174faa4b
* Version Independent ID: f09a1edc-8d2f-f060-5120-c5ff85257fa2
* Content: [WCF Data Services 4.5](

[2019-09-13 15:49] BillWagner commented on #13656
I think we're good to close.

[2019-09-13 15:49] #13656 closed

[2019-09-13 16:23] Youssef1313 commented on #14418
If the videos are really needed, I think I may be able to find them. Can you assign me ?
/cc @mairaw @rpetrusha

[2019-09-13 17:21] lopezroberto opened #14420 "Multiple instances of a type can be declared in the using statement"
The code in the example produces error: CS0819: Implicitly-typed variables cannot have multiple declarators.

using (var font3 = new Font("Arial", 10.0f),
            font4 = new Font("Arial", 10.0f))
{
    // Use font3 and font4.
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* V

[2019-09-13 17:46] Thraka commented on #13912
FYI The automatic code inserted by visual studio snippets and autocomplete insert ByVal.

[2019-09-13 18:07] Youssef1313 commented on #13912
@Thraka, Do you mean the auto generated code like the designer file for winforms for example ?

If yes. Then, In most cases, no one looks at that code. The more important is the code that the developer write himself. It looks much nicer without the noise produced by `ByVal`.

[2019-09-13 18:21] Youssef1313 commented on #14420
Oh, Embarassing. I've reviewed the file history and this bug was produced by me in https://github.com/dotnet/samples/pull/1042.

I've opened https://github.com/dotnet/samples/pull/1472 to fix that.

[2019-09-13 18:47] mairaw opened #14422 "Retire this page"
@davidsh I think this page could be retired in favor of the API docs (https://docs.microsoft.com/en-us/dotnet/api/system.net.httplistener).

Is the information about HTTP.SYS important to keep? If so, I'd move that to the remarks of the HttpListener class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8dbd5b-69c5-d8

[2019-09-13 18:54] mairaw commented on #14418
Thanks @bhalbright for your comment and @Youssef1313 for your suggestion.

I don't think we need to create a new topic for this. The WCF documentation is badly outdated so I'll leave to @HongGit to decide to what to do with this article. Probably the easiest thing would be to remove the links we can't find anymore. I can't even see what those looked like before on MSDN like I can with other articl

[2019-09-13 19:00] #14420 closed

[2019-09-13 19:04] mairaw commented on #14411
The plan is to actually create an entire reference for the SDK-style project and remove this information from this page, so I believe we'll need to keep the NuGet properties in our docs.
It would be weird to have all but the NuGet tags in the reference once we create that reference.

Thoughts?

[2019-09-13 19:06] #14364 closed

[2019-09-13 20:07] #14257 closed

[2019-09-13 20:17] davidsh commented on #14422
Yes, the page could be retired. I would keep the "HTTP.SYS" section though with the words

[code]

[2019-09-13 20:38] Youssef1313 commented on #14418
@mairaw

The content of this broken link isn't really lost ^_^

Here is how I was able to find it (it *may* help with other articles):
1. The link of the `Beginner's Guide to WCF Data Services` is <https://go.microsoft.com/fwlink/?LinkId=220864>
2. If you open it, it redirects to <https://docs.microsoft.com/en-us/dotnet/framework/wcf/index?redirectedfrom=MSDN>, but it is not really one redirect. I

[2019-09-13 21:24] bhalbright commented on #14418
Thanks @Youssef1313!

[2019-09-13 21:29] mairaw commented on #14418
Oh yeah, forgot about trying the wayback machine!

[2019-09-13 23:59] #8860 closed

[2019-09-13 23:59] #10265 closed

[2019-09-13 23:59] #14163 closed

[2019-09-14 00:22] mairaw commented on #12596
@BillWagner should this be updated to a new milestone?

[2019-09-14 01:35] #12207 closed

[2019-09-14 03:19] paul1956 commented on #13912
From what I understand the snippets in this repo are used to produce the product Snippets so my eliminating them here part of the issue is solved. I agree that eliminating them  in all in the templates and the "System." in the Form Boilerplate would be great, not sure where to report the issue.

[2019-09-14 12:33] BillWagner commented on #12596
@mairaw done.

[2019-09-14 19:39] sleette opened #14435 "Interesting trade-off"
So by using asynchronous programming, your application can continue with other work while waiting for longer-running processes to complete. Sounds good, but I noticed two downsides:
1.  While using async and await definitely make the task-based model easier to understand than manipulating threads directly, it is still somewhat more complex than regular synchronous programming.
2. What's worse, it

[2019-09-15 04:12] NextTurn commented on #13980
What about the "old" property `PublishDir`? dotnet/cli#8405

[2019-09-15 06:29] kinglionsz commented on #11981
The code into the loop to die: “own goal”  🔄👎😥

[2019-09-15 07:02] kinglionsz opened #14442 "Error CS1061 'List<string>' does not contain a definition for 'Changed' & “own goal” code"
1, https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#events

I test the code by using System.Collections.Generic; there will be a compile error: 'List<string>' does not contain a definition for 'Changed'

in fact, we should use the  'List<string>' at here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/in

[2019-09-15 07:29] kinglionsz commented on #11981
please update the code.[here is  ok.](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/classes-and-objects#other-function-members)

`
static bool Equals(List<T> a, List<T> b)
    {
        //if (a == null) return b == null;                            // The code into the loop to die: “own goal”👎😥
        //if (b == null || a.count != b.count) return false;
        //for (int i = 0; i

[2019-09-15 07:34] kinglionsz commented on #14442
the following code is all ok✔👍

`

using System;
//using System.Collections.Generic;

public class List<T>
{
    // Constant...
    const int defaultCapacity = 4;

    // Fields...
    T[] items;
    int count;

    // Constructors...
    public List(int capacity = defaultCapacity)
    {
        items = new T[capacity];
    }

    // Properties...
    public int Count
    {
        get { return co

[2019-09-15 13:33] Youssef1313 opened #14856 "Array size in visual basic examples."
When declaring arrays in visual basic, we specify the `size - 1` not `size` as in C#.
It seems that there are many samples that **wrongly** specify `size` in visual basic.

An example PR that solves really small occurrences is dotnet/samples#1480

[2019-09-15 15:13] tdykstra opened #14443 "Move in-line code to snippet references in the System.Text.Json how-to doc"
See this PR comment: https://github.com/dotnet/docs/pull/14208/files#r324386442

Related to #12207

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2a-48d1-0671-a079-b99b9f6bab58
* Content: [How to serialize JSON - .NET](https://docs.microsoft.com/en-us

[2019-09-15 15:24] tdykstra opened #14444 "Add scenarios to the System.Text.Json how-to doc"
Related to #12207

## From comments on the #14208 PR

* Add an example about converting enums to their label names (rather than numbers) using JsonStringEnumConverter. https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonstringenumconverter?view=netcore-3.0
* Add an example where a default value is not overridden by null on deserialize when IgnoreNullValues is set to true

[2019-09-15 15:27] tdykstra opened #14445 "Create doc on converters for System.Text.Json"
Related to #12207

[2019-09-15 15:35] tdykstra opened #14446 "Create doc for System.Text.Json: migration from Json.NET / current limitations"
Related to #12207

[2019-09-15 15:41] tdykstra opened #14447 "Reorganize the serialization samples TOC in the .NET guide"
Related to #12207 and https://github.com/dotnet/docs/pull/14208/files#r324394406

* Retire the link farm doc and redirect its URL to the top-level serialization overview doc.
* Put a Samples node under Binary and XML sections
* Divide up the samples into binary and XML, and add nodes under the appropriate Samples nodes for them.

When we have System.Text.Json samples we'll add a Samples node under

[2019-09-15 15:43] jaaronb commented on #14290
Thank you.  By default mac users must use the fn key to access function keys.  Please see apple link referencing how to use function keys on a Mac.

https://support.apple.com/en-us/HT204436

[2019-09-15 20:03] pkulikov opened #14449 "Indices and ranges: supported sequence types"
Not only the mentioned array and Span types support indices and ranges.

https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/index-range-changes.md (which is about to be merged into https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/ranges.md) introduces the notion of countable types. That way, the support of indices and ranges might be pattern-based.

---
####

[2019-09-15 23:32] Thraka commented on #13912
No I was thinking of something else, never mind :)

[2019-09-16 00:07] DataJuggler opened #14450 "I created my TemplatePack, but now I have 4 separate projects installed"
When I created a multi-project template for Dot Net Framework, I zipped up a folder containing 4 project templates.

Now that I have 4 projects installed, how do I tell users of my open source project to install all 4?

I did this with a VSIX installer in .Net Framework, but when I tried the PackageInstaller only works for .Net Frameworks.

Any advice on how I tell users to install all four projec

[2019-09-16 00:39] Thraka commented on #14450
Hello! Did you build a template pack? https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-template-pack#build-and-install

This will create a nuget package that when installed, installs all 4 templates.

[2019-09-16 01:11] davidsh commented on #14298
I started a TcpListener with AllowNatTraversal set to true and set it to listen before calling GetUnicastAddresses not sure if the order makes a difference in this case?
Does the TcpListener have to use a specific port for this method?
Is this still a recommend way to handle NAT in 2019 or are there newer methods/ways?

IPv6Teredo is a transitional technology which was used to enable IPv6 connecti

[2019-09-16 02:04] DataJuggler commented on #14450
Yes I built a Nuget package, but how do you create a project from the Nuget package?

After I did the dotnet new -i (path to my package) I have 4 separate projects installed, and I don’t see the template pack installed.

I have published the project to Nuget, although I delisted since I didn’t think it works. (DataJuggler.DataTier.Net.Core.ProjectTemplates), but I only know how to add Nuget packag

[2019-09-16 04:44] DataJuggler commented on #14450
I just wanted to report back that I think I figured it out.

I had created a .templates.config folder under each project, but not under the solution file that contained the 4 projects.

It takes me a while to learn new tricks.

Thanks

From: Andy De George <notifications@github.com>
Sent: Sunday, September 15, 2019 7:40 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Corby Nichols <corby@datajugg

[2019-09-16 12:37] kinglionsz opened #14455 "System.FormatException: 'Input string was not in a correct format.' #476"
the code run error: System.FormatException: 'Input string was not in a correct format.'

[https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#attributes](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#attributes)

`Console.WriteLine("  Url={0}, Topic={1}", a.Url, a.Topic);`

should be:

`Consol

[2019-09-16 12:59] fkucuk opened #14456 "typo in document"
there is a typo template.json file the property should be
"shortName": "stringtext"
not
"shortName": "stringext"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9cb6bd4-1194-91fa-014c-2e72d809e772
* Version Independent ID: c3fddda9-24c1-f20c-a1b6-6aeea61d6e53
* Content: [Create an item template for dotnet new - .NET Co

[2019-09-16 13:35] Youssef1313 commented on #14456
I think `stringext` is correct. `ext` is for `extension`. Look at the name in the previous line, it's `Example templates: string **extensions**`.

[2019-09-16 13:39] Youssef1313 commented on #14455
The code in the article is correct, You just have extra spaces, it should be `{0}` and `{1}` not `{ 0 }` and `{ 1 }`. Both lines should behave identically. However, the usage of string interpolation is more preferred as it makes the code more readable. I'll open a PR to add string interpolation

[2019-09-16 14:09] CeciAc opened #14457 "System.FormatException: 'Input string was not in a correct format.'"
@kinglionsz commented on [Mon Sep 16 2019](https://github.com/dotnet/docs.zh-cn/issues/476)

https://docs.microsoft.com/zh-cn/dotnet/csharp/language-reference/language-specification/introduction#attributes

the code run error: System.FormatException: 'Input string was not in a correct format.'

`Console.WriteLine("  Url={0}, Topic={1}", a.Url, a.Topic);`

should be:

`Console.WriteLine($" Url= \"{

[2019-09-16 14:12] CeciAc commented on #14457
Hi team,
I'm moving this here because the user is reporting an error in the original documentation
best

[2019-09-16 14:33] kinglionsz commented on #14455
Thank you so much firstly. Yes, I have tested with  {0} and {1},that's OK.

But I don't see why it's not OK with blank? (you say:" It should be {0} and {1} not { 0 } and { 1 }")

please note the following code is ok.

`            int i = 20;
            Console.WriteLine($" int i = { i }");`
`int i = 20;
Console.WriteLine("int i = {0}", i);`

but the following code is error:

` int i = 20;
Consol

[2019-09-16 14:48] kinglionsz commented on #14457
I'm sorry to subject you to this trouble, this report is same with the main report: https://github.com/dotnet/docs/issues/14455

Thank you for your  @CeciAc

[2019-09-16 15:00] Thraka commented on #14456
Hi @fkucuk . Thank you for reporting this. @Youssef1313 is correct though. This is the short name for the example outlined in the article, string extensions. It's not a definition trying to tell you what value to put in there. Thanks though!

[2019-09-16 15:00] #14456 closed

[2019-09-16 15:07] Thraka commented on #14450
You don't need a solution file, only a project file that includes each template as content. Once you pack it into a nuget package, you can install it. If you upload to nuget, like you did, you just call the install command with the package id from nuget. Nuget files are just zip files, there is nothing really special about them except for metadata related to the nuget feed.

In the install section

[2019-09-16 16:08] DataJuggler commented on #14450
I have already figured it out.

Thank you. What I did wrong was not creating a .templates.config for the entire solution.

It works great, compared to the .vstemplate stuff for .Net Framework this is way easier.

Thanks, you can close this issue.

From: Andy De George <notifications@github.com>
Sent: Monday, September 16, 2019 10:08 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: Corby Nichols <c

[2019-09-16 16:19] igor-moskvitin commented on #12544
@yuexuanwo,  it doesnt matter how i call DoWork()
[code]
or
[code]
in output i can see only messages from first registerd service: like "ServiceA" if
[code]
and "ServiceB" if
[code]

[2019-09-16 16:30] Youssef1313 commented on #14455
In the first case:

[code]

which is also identical to:

[code]

This is called [string interpolation](https://docs.microsoft.com/dotnet/csharp/language-reference/tokens/interpolated) , it's a language feature that was introduced in C# 6.
It just provides a more readable syntax than the usage of `string.Format`. but the compiler just transforms it to a call to `string.Format` method.
You can say t

[2019-09-16 16:49] Thraka commented on #14450
Cheers!

[2019-09-16 16:49] #14450 closed

[2019-09-16 17:27] dreddy-work commented on #11976
Sorry, i was on vacation and overlooked this. Will take a look sometime today/tomorrow and update  this thread.

[2019-09-16 18:55] SeniorSSS commented on #13821
Excelent!
Just when i finished trying to write mine own definitions i started to read comments but that was good thing.

Any way i noticed one irrelevant mistake in mine code and checked yours final -
WHERE IS MY JUICE ? :D

[2019-09-16 21:12] mairaw opened #14467 "Article uses a non-existing web service"
Original issue reported by @svick at #1815. Breaking down the issue since most of the problems reported were taken care of, except for this one.

http://www.xmethods.net no longer works.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cbbea0a-da52-ab66-44bd-a0699186e35f
* Version Independent ID: b2fd3fdc-847f-4764-e55a-

[2019-09-16 21:12] mairaw commented on #1815
Ok, thanks @svick! Closing this one then and opened #14467 to take care of the remaining issue.

[2019-09-16 21:12] #1815 closed

[2019-09-16 21:17] mairaw commented on #14411
We haven't started this work yet so I don't have the author's name. But you can always ping me.

[2019-09-16 21:20] nkolev92 commented on #14411
Sounds good.
I'll communicate to the team to take the dotnet docs in account when making changes to docs that impact the CLI/SDK.

[2019-09-16 21:20] #10146 closed

[2019-09-16 21:20] #11064 closed

[2019-09-16 21:20] #12610 closed

[2019-09-16 21:20] #13753 closed

[2019-09-16 21:41] #14231 closed

[2019-09-16 21:49] BillWagner commented on #14292
As @pkulikov and others have mentioned, the description is correct.

I'll close this as the docs are accurate.

[2019-09-16 21:49] #14292 closed

[2019-09-16 21:53] #12641 closed

[2019-09-16 21:55] BillWagner commented on #14366
Thanks for writing this @Esjihn

The sample is correct: In the constructor, you'd want to initialize the field without using the property.

[2019-09-16 21:55] #14366 closed

[2019-09-16 22:07] BillWagner commented on #14367
Thanks for writing this issue @Esjihn

I agree that referring to an "interest rate" not using a percentage is confusing. I'm going to make a different suggestion.  If it were updated as above, the result would be:

[code]

What would you think of the following:
- [ ] Change the property and field name to `PercentageInterestRate` and `_percentageInterestRate` for clarity.
- [ ] Change the first ini

[2019-09-16 22:17] Esjihn commented on #14366
Hello Bill,

Can you help me understand why the rest were initialized by their
properties (LoanAmount, InterestRate, and Term) and customer was not? I
want to be sure I do not make a mistake like this in the future.

Best Regards,

Matthew
Information Systems Programmer
Florida Senate

On Mon, Sep 16, 2019 at 5:55 PM Bill Wagner <notifications@github.com>
wrote:

[2019-09-16 22:24] Esjihn commented on #14367
Hello Bill,

The first initialization used the correct decimal amount of 0.075 and the
second one did not 7.1. Since there is no calculation for interest rate in
the property the only way you would get this result.

[image: image.png]

 is to either make the TestLoan object second parameter 7.5 or to calculate
the percentage and change the second interest rate to be an actual
percentage "0.071". E

[2019-09-16 22:51] mairaw commented on #14411
Sounds great @nkolev92! I think this is a good workflow.

[2019-09-16 23:54] dreddy-work commented on #11976
Is this to document only?

[2019-09-16 23:57] merriemcgaw commented on #11976
Unless we get some strong feedback from customers that call this a major problem I think documenting only is just fine.

[2019-09-17 02:40] yguo commented on #5901
I work on macOS, and need to change the launch.json in the folder `.vscode`
[code]

[2019-09-17 05:26] nemrism commented on #10653
Hi there,

@mairaw could you tell me/us what to do with the remaining work?

I'd like to continue to clean up the links path but was wondering how you prefer to get them packed in PRs.

[2019-09-17 06:52] kinglionsz commented on #14455
@Youssef1313 Thank you for your patient and careful answer.

I agree with what you said "That method was designed to expect a number between the curly braces without additional spaces."

`Console.WriteLine(" Url= { 0 }, Topic = { 1 }", a.Url, a.Topic);      // runtime error! System.FormatException: 'Input string was not in a correct format.`

`Console.WriteLine($" Url= { a.Url } , Topic = { a.Topi

[2019-09-17 07:41] Potapy4 commented on #12736
@BillWagner @elgonzo

what do you think if we add a check for `null` as follows:
[code]

[2019-09-17 09:26] BloodyMettle commented on #13221
While looking at the docs, I might have gotten that wrong - but the [indexers main doc page](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/indexers/#expression-body-definitions) explicitly states that expression bodied members are supported for both, get and set in indexers since C# 7.0. So the restriction to "get only indexers" in the fix for this issue is not correct, is it?

[2019-09-17 09:38] AntonLandor opened #14473 ".NET Core 3 WPF and Windows Forms Support"
The comparison with .NET Framework notes that [.NET Core 3 will support WPF and Windows Forms.](https://devblogs.microsoft.com/dotnet/net-core-3-and-support-for-windows-desktop-applications/). However, the comparison with Mono does not mention this. Mentioning that .NET Core 3 will support WPF and Windows Forms and replacing ".NET Core doesn't support these" would be useful since the reader is not

[2019-09-17 11:58] Potapy4 commented on #5253
@BillWagner I want to jump on to this issue, can you assign me? 😎

[2019-09-17 12:34] Youssef1313 commented on #14455
@kinglionsz ,

[code]

Yes, both lines gets to `string.Format` in some way.
But with the second line, the compiler itself converts it to the the following:

[code]

[2019-09-17 12:54] mrdnote opened #14474 "DTO constructors do not play well with linq2sql"
Hi, I'm trying to incorporate nullable reference types into my project but have a problem when adding constructors to my DTO classes.

    public class Employee
    {
        public Employee(Office office)
        {
            Office = office;
        }

        public Office Office { get; }
    }

When I use this DTO in a query, I get the dreaded "Operation not supported in SQL".

I could leave

[2019-09-17 13:14] Svetomechc opened #14475 "Why"
What's the reasoning behind this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315af9fc-a5f1-9a51-a154-a7c703975a91
* Version Independent ID: d83911ea-0426-fc82-622a-3c607d7b787a
* Content: [Compiler Warning (level 1) CS0809](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0809)
* Content Source: [docs/csharp/m

[2019-09-17 13:44] BillWagner commented on #14366
@Esjihn

The other properties are [auto implemented properties](https://docs.microsoft.com/dotnet/csharp/programming-guide/classes-and-structs/auto-implemented-properties), where the compiler creates a backing field. The only way to initialize those is through the property. This property doesn't use that feature because it raises the `NotifyPropertyChanged` event in its setter.

I hope that helps.

[2019-09-17 13:46] mrdnote commented on #14474
Or even a simplere example of excessive warnings when  using Linq-2-Sql (I guess the same goes for L2EF):

// The following line shows warning CS8629:
repository.Employees.Where(e => e.Office.HasWindows);

[2019-09-17 13:50] BillWagner commented on #14367
@Esjihn This is fine for feedback. We'll update this sample as part of our regular updates.

Our docs are all Open Source, so anyone can make contributions. Those contributions are [Pull Requests](https://help.github.com/articles/creating-a-pull-request). The [Readme](https://github.com/dotnet/docs) on our repository has pointers to get started, if you are interested.

[2019-09-17 13:53] kinglionsz commented on #14455
@Youssef1313 ，
I see. Thanks.

[2019-09-17 13:53] Esjihn commented on #14366
Hello Bill,

So would initializing it through its property instead of the field not
cause the NotifyPropertyChanged event handler to send the event state to
its subscriber? I guess I don't understand what would be lost here by using
the same implementation as the other properties when initializing them
through the constructor. I appreciate your patience.

Best Regards,

Matthew
Information Systems

[2019-09-17 13:56] Esjihn commented on #14367
Hello Bill,

Oh a pull request. Sorry for not putting the two together. Alright, thanks
for the heads up and I appreciate the update.

Best Regards,

Matthew
Information Systems Programmer
Florida Senate

On Tue, Sep 17, 2019 at 9:50 AM Bill Wagner <notifications@github.com>
wrote:

[2019-09-17 14:01] Youssef1313 commented on #14475
The reason is in the article:

Correcting the error is also mentioned:

[2019-09-17 14:05] Svetomechc commented on #14475
@Youssef1313, sorry, but "typically" is not reasonable enough for me (:

[2019-09-17 14:22] BillWagner commented on #12736
@Potapy4 I like it.

[2019-09-17 14:28] BillWagner commented on #14474
@mrdnote DTOs are difficult for nullable reference types. The problem stems from the fact that deserialization, in effect, initializes the object. But, from the standpoint of static analysis, it's not a constructor.

I've done this:

[code]

The `!` operator suppresses the warning on the initialization statement.

/cc @jaredpar who is collecting a series of recommendations.

[2019-09-17 14:45] elgonzo commented on #12736
I apologize and i do not intend to offend, but the concern i expressed in my opening post would also apply to the code example in the last post, as (similarly to the original code example) is  just an needlessly complicated way of writing:
[code]

[2019-09-17 14:55] BillWagner commented on #14449
Thanks for writing this up @pkulikov

Do you want me to assign this to you?

[2019-09-17 16:16] pkulikov commented on #14449
@BillWagner yes, please. I'll address this issue as soon as #14451 is merged

[2019-09-17 18:28] rhlgupta1383 opened #14477 "Page needs update"
Java 8 features are not accounted for in this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91388e65-01f7-d27c-38d0-4e2113cef43a
* Version Independent ID: ad74fdd5-880a-df4c-731c-235c8d42d7db
* Content: [Introduction to the C# Language and the .NET Framework](https://docs.microsoft.com/en-us/dotnet/csharp/getting

[2019-09-17 19:21] SphtKr commented on #6361
I'll add to this--I started down the road like @clubforge and others... to have my hopes dashed by the conversation in this issue.

Making matters worse, the subject document had a typo corrected on 9/4/2018 and so the date at the top of the document shows this--_making it look like this information is recent and relevant_, which misled me.

I support the notion that this document should be archiv

[2019-09-17 20:35] nguerrera opened #14479 "Add documentation for the new global.json options in 3.0"
See https://github.com/dotnet/core-setup/pull/6953 and https://github.com/dotnet/designs/pull/71

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35d7-aeff-3187a36dbbca
* Content: [global.json overview - .NET Core CLI](https://docs.microsoft.com

[2019-09-17 20:38] nguerrera commented on #13324
It is actually possible now with https://github.com/dotnet/core-setup/pull/6953, I filed https://github.com/dotnet/docs/issues/14479 to document it.

You would pick a version, and then set rollForward to latestMinor if you always want latest minor version, and minor if you want the minor version you specified if available, else the next closest one. Major version differences would not be taken.

[2019-09-17 20:44] nguerrera opened #14480 "Add information about new global.json options in 3.0"
See also:

https://github.com/dotnet/docs/issues/14479
https://github.com/dotnet/core-setup/pull/6953
https://github.com/dotnet/designs/pull/71

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NE

[2019-09-17 20:56] jzabroski commented on #9202
@MarketKernel I would suggest moving awai from MSI and towards Squirrel.Windows instead.  I believe this is what Microsoft Teams uses, based on observing the file layout of Teams.  Let me know if this solves your problem.  There are so many issues with MSIs, that I do not think MSIs should dictate best practices.

[2019-09-17 20:58] jzabroski commented on #9202
@shueybubbles It's not clear to me if you meant to reply to @MarketKernel, but there is general discussion in the PowerShell reposistory about fixing the psd1 module manifest format, among other issues.  With PowerShell Core, the transitive failure is somewhat fixable through AssemblyLoadContext.  The downside is that until .NET Core 3 arrives, you cannot unload those context assemblies.

[2019-09-17 23:30] mrdnote commented on #14474
Hi Bill, thanks for the suggestion. I didn't know about the exclamation mark construct. Does it go anywhere other than behind a null constant?

[2019-09-18 00:24] #783 closed

[2019-09-18 00:24] #9314 closed

[2019-09-18 00:57] BillWagner commented on #14475
@Svetomechc

If you declare a member obsolete, you're giving callers a warning that they should not call that method (but hopefully call a preferred replacement.) If that method is virtual, all implementations, in base and derived classes, should be considered obsolete.

Adding this attribute is warning callers of an impending breaking change.

If your intent is to remove a derived implementation

[2019-09-18 00:57] #14475 closed

[2019-09-18 01:26] #12417 closed

[2019-09-18 03:27] mairaw commented on #14479
Thanks for filing the issues for some of the CLI features @nguerrera. It's been in my backlog to do that. I'm adding this to our next sprint.

[2019-09-18 04:02] mairaw commented on #14473
Thanks for your feedback @AntonLandor. I've opened #14487 to update that article.

[2019-09-18 05:08] pkulikov opened #14489 "C# 8.0: stackalloc in nested contexts"
dotnet/csharplang#1412

@BillWagner this is for the [C# 8 docs project](https://github.com/dotnet/docs/projects/58).
Could you please assign this issue to me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecde487e-96e5-85c2-ff87-227994f705ad
* Version Independent ID: f77588b3-9b31-f8ce-fad5-bf937337eb8c
* Content: [st

[2019-09-18 05:12] pkulikov commented on #14489
@BillWagner if you want this to be addressed before #14449, please let me know. I can do either order.

[2019-09-18 07:54] Abedron opened #14490 "Windows logo key"
With Dark theme is windows logo key icon unrecognised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a1428fb-1282-c537-8714-29cf2ccb0446
* Version Independent ID: d329fbf9-0b17-e4e4-733f-9b9c96eb46bd
* Content: [Developer Command Prompt for Visual Studio](https://docs.microsoft.com/en-us/dotnet/framework/tools/develo

[2019-09-18 08:07] bitbonk opened #14491 "missing guidance on null guards"
There has been some discussion and misunderstanding on whether or not application and/or library developers now can remove any null guards (e.g. `if(input != null){...}`, `ArgumentNullException`) because of this feature. See for example [here](https://stackoverflow.com/questions/54526652/when-to-null-check-arguments-with-nullable-reference-types-enabled) and [here](https://devblogs.microsoft.com/d

[2019-09-18 08:21] RussKie opened #14492 "Docs dates are ambigious and confusing"
**Issue description**

IIUIC the dates on https://docs.microsoft.com are rendered in the US format, and this looks confusing to customers residing outside the US, and thus using different date presentation formats.

The following date is ambigiuos and can be both interpreted as 9th May 2019 or 5th September 2019:
![image](https://user-images.githubusercontent.com/4403806/65129721-92417b00-da04-11e

[2019-09-18 09:48] Svetomechc commented on #14475
@BillWagner, thx for explanation!

[2019-09-18 12:11] DaveInCaz opened #14493 "ComDefaultInterface"
ComDefaultInterface attribute is missing from this page. This page seemed to be comprehensive and is easy to find, so it seems like it really should be added. https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.comdefaultinterfaceattribute?view=netframework-4.8  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-18 16:15] luisquintanilla commented on #13898
Thanks for this @jwood803. I would suggest in this case raising an issue in the dotnet/machinelearning repo.

[2019-09-18 17:00] babin93 commented on #12933
This issue seems to be fixed. The link now targets https://deviq.com/code-smells/ . I think this issue could be closed.

[2019-09-18 19:46] BillWagner commented on #14366
@Esjihn In this example, there likely wouldn't be any difference between using the property or accessing the field directly. If I saw either version in a code review, I wouldn't recommend a change.

[2019-09-18 19:52] Esjihn commented on #14366
Thanks Bill for the clarification. Much appreciated.

Best Regards,

Matthew
Information Systems Programmer
Florida Senate

On Wed, Sep 18, 2019 at 3:46 PM Bill Wagner <notifications@github.com>
wrote:

[2019-09-18 20:19] #14416 closed

[2019-09-18 22:26] #14297 closed

[2019-09-18 23:45] jwood803 commented on #13898
Thanks @luisquintanilla! I appreciate all the help!

I just logged [issue #4230](https://github.com/dotnet/machinelearning/issues/4230).

[2019-09-19 02:10] mairaw commented on #14480
It seems this would fold into this section correct where some of this info is already there:
https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#major-version-roll-forward

[2019-09-19 02:19] mairaw commented on #14490
Thank you for your feedback @Abedron. You're right, the icon disappears. We should replace the icon with something that works in all themes.

[2019-09-19 04:06] NextTurn opened #14505 "null forgiveness operator?"
The formal name of the `!` operator should be the **null-forgiving operator**. But it's referred to as the **null forgiveness operator** in the *Nullable annotation context* section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a690704d-da32-dca7-ea3e-66b84fb1d00d
* Version Independent ID: 11f314de-dd3a-362e-b2bb-d0a

[2019-09-19 09:56] PhilT opened #14508 "upcast indeterminate on Casting Guide"
When trying to change the following code:

[code]
to

[code]
as instructed, I get the following error:

[code]

EDIT: I should point out I'm using .NET Core 3 Preview 9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 725e0bb1-2dcd-4e9e-2714-f0a56d248992
* Version Independent ID: e5eeed3a-2684-f465-7ced-a6122d478f0e
* Co

[2019-09-19 10:00] PhilT commented on #14508
Just for clarity here is the code copied from my FSI file:

[code]

[2019-09-19 13:52] lnjuanj commented on #9595
Would it be possible to rather migrate the walkthrough to another one? Ironpython was discontinued some time ago, so it's not compelling to get and install the library...

[2019-09-19 15:01] #9595 closed

[2019-09-19 16:06] Thraka commented on #14401
@mjrousos can you comment?

[2019-09-19 16:23] Thraka commented on #14492
Greetings @RussKie

Feedback relating to the design of docs.ms.com should be logged at https://aka.ms/sitefeedback

I'm going to close this issue. Thanks again.

[2019-09-19 16:23] #14492 closed

[2019-09-19 16:26] RussKie commented on #14492
@Thraka why not just move it instead?

/cc: @mairaw

[2019-09-19 16:42] chao-master opened #14511 ""@ai" email address wont match"
the .ai TLD has an MX record, allowing for email to be delivered to recipient@ai.
However this email regex will fail to match it as `(([0-9a-z][-0-9a-z]*[0-9a-z]*.)+[a-z0-9][\-a-z0-9]{0,22}[a-z0-9])` does not match "ai"
the correct regex would match the first group 0 or more times (`(([0-9a-z][-0-9a-z]*[0-9a-z]*\.)*`)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-09-19 16:45] chao-master opened #14512 "Regex shows in italics instead of surronded by *'s"
The 12th row in the table describing what the regex does shows `|(([0-9a-z][-0-9a-z][0-9a-z].)+` on the Microsoft website instead of `|(([0-9a-z][-0-9a-z]*[0-9a-z]*\.)+` which is shown in the code block above it.
the `*`s around the last `[0-9a-z]` block are being interpreted as styling and are showing it as italics, instead of being displayed as '*'s
The `\.` also shows as just `.`

I've seen thi

[2019-09-19 18:07] divega opened #14517 "The version drop downs in the breaking changes page are almost invisible in dark theme"
Text is black over dark gray background. Only the selection rect is visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b0fe0b7-01c9-d11e-a432-b7ac4639f51c
* Version Independent ID: 9e7f5a4a-13dd-dc9a-9ba7-1208bdbe6c4f
* Content: [.NET Core breaking changes](https://docs.microsoft.com/en-us/dotnet/core/compatibili

[2019-09-19 18:20] PhilT commented on #14508
I get a similar problem with an example further up, `let color = enum 1` where it should infer the type as `Color`. Maybe this doesn't work in FSI?

[2019-09-19 19:15] #14160 closed

[2019-09-19 19:16] dasMulli opened #14519 "Tables Clipped off"
The tables are clipped off because they extend below the visible area of the main content and thus need horizontal scrolling to read.
Tested on latest Safari And Chrome on macOS 10.14, 15" MacBook Pro at full available screen width.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d476d66c-4f04-3742-cf90-4177aceb4138
* V

[2019-09-19 19:16] dasMulli commented on #14519
Screenshot:
<img width="920" alt="image" src="https://user-images.githubusercontent.com/6129250/65274037-bf844b00-db22-11e9-8bc4-c8dd43030e44.png">

[2019-09-19 19:32] #14170 closed

[2019-09-19 19:44] #14173 closed

[2019-09-19 19:58] PhilT opened #14522 "Inref parameter still needs to be mutable to get address"
Under the section **Passing by Reference**, the code below `// No need to make it mutable, since it's read-only` causes a compile error stating that `A value defined in a module must be mutable in order to take its address`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46f4f600-cfc1-9694-c77c-ab97802e63fc
* Version I

[2019-09-19 20:24] #14174 closed

[2019-09-19 20:41] ajaybhargavb opened #14525 "Breaking change in `AddAuthorization(o =>)` overload lives in a different assembly"
Original announcement https://github.com/aspnet/Announcements/issues/386
## Breaking change in `AddAuthorization(o =>)` overload lives in a different assembly

We renamed the core `AddAuthorization` methods that used to live in `Microsoft.AspNetCore.Authorization` to be `AddAuthorizationCore`, the old `AddAuthorization` methods still exist, but are in the `Microsoft.AspNetCore.Authorization.Policy

[2019-09-19 21:00] ajaybhargavb opened #14526 "Breaking change Identity UI AddDefaultUI(UIFramework) overload removed"
Original announcement https://github.com/aspnet/Announcements/issues/380

## Breaking change Identity UI AddDefaultUI(UIFramework) overload removed

In ASP.NET Core 3.0 we've moved Identity UI to use the new static web assets feature introduced in 3.0. As part of this move there are a few API breaking changes to note.

### Version introduced

3.0

### Old behavior

AddDefaultUI(UIFramework) overlo

[2019-09-19 21:00] #14175 closed

[2019-09-19 21:11] ajaybhargavb opened #14528 "Obsoleting Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.NodeServices"
## Obsoleting Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.NodeServices

Description in the original announcement https://github.com/aspnet/Announcements/issues/379

### Version introduced

3.0

### Old behavior

`Microsoft.AspNetCore.SpaServices` and `Microsoft.AspNetCore.NodeServices` were not obsolete.

Following npm modules existed,
- aspnet-angular
- aspnet-prerendering
- aspnet-

[2019-09-19 21:20] ajaybhargavb opened #14529 "Pubternal APIs have been removed"
## Pubternal APIs have been removed

See description in original announcement https://github.com/aspnet/Announcements/issues/377

### Version introduced

3.0

### Old behavior
APIs under `*.Internal` namespace were public.

### New behavior
Majority of those APIs have been moved to be internal.

### Reason for change

To better maintain the public API surface of ASP.NET Core. Members in these name

[2019-09-19 21:42] ajaybhargavb commented on #14529
Closing as we won't need these here.

[2019-09-19 21:42] #14529 closed

[2019-09-19 21:42] ajaybhargavb commented on #14528
Closing as we won't need these here.

[2019-09-19 21:42] #14528 closed

[2019-09-19 21:42] ajaybhargavb commented on #14526
Closing as we won't need these here.

[2019-09-19 21:42] ajaybhargavb commented on #14525
Closing as we won't need these here.

[2019-09-19 21:44] #14403 closed

[2019-09-19 21:56] #14402 closed

[2019-09-20 02:15] mairaw commented on #8117
Any preference on this @BillWagner? The way the articles are structured right now, it would be easier to have tabs per language for each technology. Also, because C# would probably be more popular, having that always available first seems to make more sense to me. I'd like to add a vendor task for this.

[2019-09-20 05:29] mairaw opened #14538 "Break down features by areas"
One thing I've noticed while going through this doc today is that it's missing the usual breakdown of areas that we do for the what's new topics.
e.g. https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-2-0

I think it would be nice to organize the new features per area.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-20 05:59] #9339 closed

[2019-09-20 06:01] mairaw commented on #6523
Bceause this is copyrighted material, we can't edit it. So closing this,

[2019-09-20 06:01] #6523 closed

[2019-09-20 06:51] rmunn commented on #6523
Wasn't it reprinted from a book by Krzysztof Cwalina and Brad Abrams, who were (still are?) Microsoft employees? I would have thought that therefore Microsoft held the copyright on this material, and could therefore modify it.

Oh well, if copyright issues prevent this doc bug from being fixed, that's too bad. Would it be possible to add a note to the end of the document without violating copyrigh

[2019-09-20 07:42] hattabatatta opened #14854 "System.ArgumentOutOfRangeException Message= Score column 'Score' not found Parametername: schema"
Followed this guide here -> https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices

Within the method Evaluate the error I mentioned above happens
The exact line is as followed:
var metrics = mlContext.Regression.Evaluate(predictions, "Label", "Score");

edit by @mairaw: add topic details

[AB#1608693](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_wor

[2019-09-20 07:53] Nukepayload2 opened #14540 "The note in the "remarks" section of the "IsNot Operator" page is outdated"
&gt; The IsNot operator cannot be used to compare expressions returned from the TypeOf operator. Instead, you must use the Not and Is operators.

This is wrong. If you use VB 14.0 or higher, you can write `TypeOf ... IsNot ...`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4aecef0-c2d3-cc96-9068-fe2950a9c293
* Versi

[2019-09-20 08:54] Youssef1313 commented on #14540
I've already opened #14419 a while ago.

[2019-09-20 09:47] AzimAnsari opened #14541 "Add BeginInvoke and EndInvoke usage and example for delegates"
It would be nice if we have a separate topic of using BeginInvoke and EndInvoke methods for delegates. And dangers of not using EndInvoke methods is some cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6b07199-b747-9596-1d38-3257f43b4833
* Version Independent ID: d162375c-ef5a-41c1-fe26-2e6394bf1df1
* Content: [

[2019-09-20 12:18] CeciAc opened #14542 "The NULL value is not checked correctly in the Tutorial."
**The comment below was Machine translated**

@lacostaplans commented on [Fri Sep 20 2019](https://github.com/dotnet/docs.es-es/issues/136)

The implementation, according to the documentation, of the Answer method (in SurveyResponse):

`        public string Answer(int index) => surveyResponses.GetValueOrDefault(index, "No answer")!;
`

Generates a warning CS8604.

The correct implementation would

[2019-09-20 12:22] CeciAc commented on #14542
Hi team ,
I moved this here because the user is making suggestions on the code.
best regards

[2019-09-20 16:02] BrianMinister opened #14544 "How do I include dependancies."
I have gone through dozens of permutations, and it all acts like --no-dependencies is enabled when it isn't.
```dotnet pack src\My.Utilities.Web\Lcp.Utilities.Web.csproj -p:PackageVersion=%2  --output src\Lcp.Utilities.Web\bin\Release```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-d5c8-29f7a8c16a5

[2019-09-20 16:12] rpetrusha opened #14545 "Types in Microsoft.VisualBasic.ApplicationServices namespace not available"
## Types in Microsoft.VisualBasic.ApplicationServices namespace not available

The types in the [Microsoft.VisualBasic.ApplicationServices](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.applicationservices) namespace are not available.

### Version introduced

3.0 Preview 9

### Change description

The types in the [Microsoft.VisualBasic.ApplicationServices](https://docs.microsoft.co

[2019-09-20 16:15] rpetrusha commented on #14545
//cc @KathleenDollard @cston

[2019-09-20 16:20] #14489 closed

[2019-09-20 16:30] rpetrusha opened #14546 "Types in Microsoft.VisualBasic.Devices namespace not available"
## Types in Microsoft.VisualBasic.Devices namespace not available

The types in the [Microsoft.VisualBasic.Devices](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.devices) namespace are not available.

### Version introduced

3.0 Preview 9

### Change description

The types in the [Microsoft.VisualBasic.Devices](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.devices) name

[2019-09-20 16:31] rpetrusha commented on #14546
//cc @KathleenDollard @cston

[2019-09-20 17:16] rpetrusha opened #14548 "Types in Microsoft.VisualBasic.MyServices namespace not available"
## Types in Microsoft.VisualBasic.MyServices namespace not available

The types in the [Microsoft.VisualBasic.MyServices](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.myservices) namespace are not available.

### Version introduced

3.0 Preview 9

### Change description

The types in the [Microsoft.VisualBasic.MyServices](https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.m

[2019-09-20 17:16] rpetrusha commented on #14548
//cc @KathleenDollard @cston

[2019-09-20 17:28] rpetrusha commented on #13670
//cc @KathleenDollard @cston

[2019-09-20 18:14] #14473 closed

[2019-09-20 18:21] #14350 closed

[2019-09-20 19:51] #14351 closed

[2019-09-20 20:07] ggirard07 commented on #13365
Tried the `IsPublishable` property to `false` on an ASP.Net Core integration test project, but this result in the following error during the publish command:
[code]

[2019-09-20 20:10] #13670 closed

[2019-09-20 20:11] nemrism commented on #14103
Actually, if you have a closer look to the full sample [here](https://github.com/dotnet/samples/tree/master/csharp/delegates-and-events), the line of code you pointed out is correct.

However I agree with you @SalFicara on the fact that the way it is explained in the article is quite confusing as we can't really understand where the `LogToConsole` method is located in the example program.

[2019-09-20 20:20] #14545 closed

[2019-09-20 20:32] #14546 closed

[2019-09-20 20:37] Thraka commented on #13365
@ggirard07 You may have better luck asking on StackOverflow or the Visual Studio Community or an ASP.NET Core forum of some kind or even the .NET Core CLI github repo. We're not really a support team and it's hard for us to find time to help out with problem questions. Your issue sounds like it can't find a web.config file it expects to find.

Unrelated to your comment @ggirard07 , I'm closing thi

[2019-09-20 20:37] #13365 closed

[2019-09-20 20:45] #14548 closed

[2019-09-20 21:30] mairaw commented on #12304
Reopening since the docs are saying the folders are cleaned. We should describe the correct behavior.

/cc @cartermp @terrajobst

[2019-09-20 22:32] mairaw commented on #14519
I've opened #14559 to test if this new extension we have for docs would help.

[2019-09-20 22:35] mairaw commented on #14540
Thanks @Youssef1313 and @Nukepayload2. We'll follow up on the active PRs soon.

[2019-09-20 22:39] mairaw commented on #14519
The first test failed: 😢 it still looks bad.

![image](https://user-images.githubusercontent.com/12971179/65362565-ba73da00-dbbc-11e9-88d5-bbd8cfcc0245.png)

[2019-09-20 22:40] mairaw commented on #14517
Good point @divega! I'll send this to our engineering team.

[2019-09-20 22:54] mairaw commented on #14519
My tests unfortunately didn't work. We would probably need to move to a format similar to what we're doing in the .NET Core version to fix this:
https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0

@rpetrusha thoughts?

[2019-09-20 23:17] rpetrusha opened #14560 "Document breaking changes for .NET Core 3.0"
Breaking changes are entered as issues this repo and converted to markdown files. The markdown files are included in version-specific and area-specific breaking changes.

The following PR defines breaking changes and how they're evaluated:
- #12805

The following PRs have been created so far to document .NET Core breaking changes:
- #14001
- #14386
- #14500
- #14518

The following represents an al

[2019-09-20 23:50] Thraka commented on #12304
Reading it again I think the description is correct:

This is true and is what indeed happens. Only the files generated for a **build** are deleted. It doesn't state that the bin folder is deleted. Per this description, publishing (being a whole other process that puts the published files into a folder under bin) wouldn't be affected.

[2019-09-20 23:52] Thraka commented on #14492
I can't move it, you need some sort of admin perms on both repos or something.

[2019-09-20 23:55] Thraka commented on #14538
Yes. Due to how fast changes came through it was better to just detail everything so as people had a single area to look at for information. I always intended that this article should eventually be broken down, become smaller, and only feature the most important pieces.

[2019-09-21 00:42] mairaw opened #14563 "Upgrade screenshot for 3.0 once VS 16.3 is out"
Current screenshot that I'm adding to the article isn't the latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0f01627e
* Content: [Prerequisites for .NET Core on Windows](https://docs.microsoft.com/en-us/dotnet/core/windows-p

[2019-09-21 00:57] bender2k14 opened #14564 "Missing optional access modifier after equals sign in record syntax"
The [Syntax section](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/records#syntax) says the syntax for a record is
[code]

However, there is something missing.  It is also possible to put an access modifier after the equals sign (`=`).  For example, this code compiles
[code]

For what it is worth, here is one way (in terms of where to put white space in the syntax documentation

[2019-09-21 01:27] #14490 closed

[2019-09-21 02:18] mairaw commented on #14492
I manually port them when these come in. Move doesn't work across orgs. I'll open there.

Here's an example: https://github.com/MicrosoftDocs/feedback/issues/1315

[2019-09-21 02:19] mairaw commented on #14492
Although it seems that they closed a similar issue by design: https://github.com/MicrosoftDocs/feedback/issues/1326

[2019-09-21 02:21] mairaw commented on #12304
Yep, but we need to make that more clear.

[2019-09-21 07:59] dasMulli commented on #14519
btw I hate tables anyway.. 🤣

[2019-09-21 08:58] kaimikael opened #14568 "Some words about local variables?"
I think it would be nice with a paragraph or two about local variables that are not ref variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de0ee481-866a-602c-a6af-287fe125b04c
* Version Independent ID: 2558e84e-4be6-5136-0d2b-5788dd9eb799
* Content: [Methods - C# Programming Guide](https://docs.microsoft.com/en-

[2019-09-21 11:15] deejerydoo commented on #10495
Microsoft don't want to make it easy for you. They'd rather you just update to Windows 10. They have removed the source files from their servers.

[2019-09-21 19:10] TomasHubelbauer opened #14572 "Document how to use .NET Core 3.0 SDK to build an app for the 2.2 runtime"
Hi, I don't believe the specified page in its current form answers the following (and IMO pretty basic) question: I am using a .NET Core 3.0  RC1 SDK on my dev machine and am looking to deploy to a Linode node which has the .NET Core 2.2 runtime installed. We know the SDK uses the latest installed SDK version which also (I think?) means the project templates for that SDK version will be used with

[2019-09-22 18:37] cartermp opened #14578 "F# 4.7 docs updates"
- [x] Implicit yields in array/list/seq (docs)
- [x] Implicit yields (samples)
- [x] Implicit yields (style guide)
- [x] No more double underscore (docs)
- [x] No more double underscore (samples)
- [x] No more double underscore (style guide)
- [x] Offside relaxations (docs)
- [x] Offside relaxations (samples)
- [x] Offside relaxations (style guide)

[2019-09-22 22:21] d-dizhevsky commented on #6196
Removed assignment from myself because, unfortunately, I have no time to work on that at the moment.

[2019-09-22 23:19] sam-wheat opened #14582 "How to create an instance of the class described in "where (generic type constraint) (C# Reference)""
[In this document](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/where-generic-type-constraint)

This class is defined:

    public class AGenericClass<T> where T : IComparable<T> { }

And this statement is made:

In the code below I am naming my example class Selector<T> instead of AGenericClass<T>
and using interfacte ISelectable<T> instead of IComparable<T> { }
That

[2019-09-23 05:49] mairaw opened #14588 "Is the figure 4-24 correct?"
What the text says and what the image shows seems contradicting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e137e8-f397-9469-7ddd-fc4bff5d25db
* Version Independent ID: a3c9b2aa-c920-a7fd-d2bb-51d4f4fed5d7
* Content: [Inner-loop development workflow for Docker apps](https://docs.microsoft.com/en-us/dotnet/architec

[2019-09-23 06:17] keysangyonthan commented on #11957
Where are the documents, I can't find "default constructor" anywhere in the docs I have seen, can you please provide more information and directory. Thanks

[2019-09-23 07:29] bitbonk opened #14589 "Dispose the internalTokenSource too?"
In the example `internalTokenSource` is  never disposed. Shouldn't it also be disposed? Readers may assume that `CreateLinkedTokenSource` will also dispose the linked sources of the linked tokens when `linkedCts`  gets disposed. Or maybe it actually does? If so, that would be worth a comment  above the `using` block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-09-23 08:14] ihorwill opened #14591 "Reversed get/set requirements"
Against "Get" you have: "Optional. Required if the property is marked WriteOnly." This should say "Not required if..." or "Required unless..."  Similar mistake under "Set".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13cc422b-3c23-3fa9-4988-a98a57e3a19d
* Version Independent ID: 4ceca8d0-a7ae-ee9f-9b23-4862c4cb62c8

[2019-09-23 09:41] Youssef1313 commented on #14591
I think `WriteOnly` and `ReadOnly` just should be swapped between `Get` and `Set` and it will be correct. I'm opening a PR for this.

[2019-09-23 11:06] sizenineelm opened #14597 "Associativity of +="
It is worth noting that x += y may not be equivalent to x = x + y if y is an expression.

x = x + a + b will be evaluated as x = (x + a) + b (left associative +, left associative +)
x += a + b will be evaluated as x = x + (a + b) (left associative +, right associative +=)

This is of more significance if x is a type defining an overloaded operator+.

---
#### Document Details

⚠ *Do not edit this

[2019-09-23 11:21] #12288 closed

[2019-09-23 11:30] SharunasBielskis opened #14598 "out-of-order named arguments are invalid if they're followed by positional arguments."
I found that out-of-order named arguments are invalid if they are before positional arguments.
My examples with explanations of the tested code are in the StackOverflow page https://stackoverflow.com/questions/58005404/named-parameters-from-c-sharp-7-2/58061274#58061274 (user Sharunas Bielskis). Can you explain this case - is it error in this page text in in Visual Studio Editor note or I misunder

[2019-09-23 11:31] Youssef1313 opened #14599 "Obsolete event"
The code snippet under the `To call an event handler using AddHandler` title uses an obsolete event. I can fix this but not sure of the correct steps to do that, as the updates will be in both the samples and the docs repo.
If any of them is updated first, the article and the code would be mismatching at a point of time, is that okay to happen and they will just reconcile shortly after the other i

[2019-09-23 12:52] amosonn commented on #11411
The example for #4 is still broken. For one, it doesn't return `Task`, even though the section discusses methods returning `Task`. This can be of course remedied by returning the `Task.Run`, but then we go back to an earlier example, and the defensive copy becomes unnecessary, missing the point.

Something like:
[code]
Demonstrates the point, but is ugly and contrived.

[2019-09-23 14:23] SharunasBielskis opened #14602 "out-of-order named arguments are invalid if they're followed by positional arguments - add 1"
I analyzed the example of code which explains this feature and found that my additional code line - PrintOrderDetails("Gift Shop", productName: "Red Mug", orderNum: 31); - added into this example works correctly and didn't throw an error.

That means that if all parameters after the out-of-order parameter are named, an error will not be thrown.  Maybe the meaning of the sentence  - out-of-order na

[2019-09-23 15:16] Thraka opened #14604 "Run acrolinx on migration guide for WPF to .NET Core"
The migration article by @mjrousos needs to go through acrolinx.

docs/desktop-wpf/migration/convert-project-from-net-framework.md

[2019-09-23 16:41] PhilT opened #14609 "GetSlice method incorrectly defines parameters as option type"
Under the section "Defining slices for other data structures":

[code]

The subsequent call then complains of a syntax error:

[code]
as it's expecting an option type.

Defining the `GetSlice` function without option params fixes the issue:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce68029f-fffd-dc3b-d590-

[2019-09-23 16:55] pkulikov commented on #14597
@sizenineelm it might look as an associativity issue. However, it's not that because the operators in question have different precedence levels. The assignment operators have its own, and the lowest, precedence level. That's why, given `x += a + b`, `a + b` is evaluated first because the `+` operator has higher precedence than the `+=` operator. After that, `+=` is evaluated with the results from

[2019-09-23 18:19] #14153 closed

[2019-09-23 18:19] #14158 closed

[2019-09-23 18:19] #14155 closed

[2019-09-23 18:19] #14156 closed

[2019-09-23 18:20] #14157 closed

[2019-09-23 18:23] rafaelldi opened #14611 "HttpRequestMessage default version"
To enable HTTP/2, you need to set HttpRequestMessage version to the Version(2, 0). But the default version of HttpRequestMessage is already Version(2, 0).
If the message version hasn't been set manually, what will be the protocol version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e22962

[2019-09-23 18:43] jasonchester commented on #12536
worked great for me
[code]

[2019-09-23 20:20] jzabroski opened #14616 "F# assert keyword doc incorrect"
https://github.com/dotnet/docs/blob/master/docs/fsharp/language-reference/assertions.md

The documentation claims:

In Visual Studio 2019, this is not the behavior I get.  I get a Locals window and a Call Stack window, and execution pauses debugging on failure.

edit by @mairaw: add topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-09-23 20:27] jzabroski commented on #14616
Looking into this, I can see Don Syme published the [F# 4.1 specification](https://fsharp.org/specs/language-spec/4.1/FSharpSpec-4.1-latest.pdf) and wrote the following in the specification:

I believe the correct documentation copy-pastes Don's comments from the specification.

[2019-09-23 20:51] KevinCathcart commented on #14572
It is entirely possible to do this, but the documentation appears to be pretty much non-existent.

First install the older version template pack you need. For MVC 2.2 it would be:
[code]

Now you can specify a target framework for `dotnet new mvc` as follows:
[code]

Hope this helps, at least until Microsoft update the documentation for this.

[2019-09-23 21:00] #13463 closed

[2019-09-23 21:31] TomasHubelbauer commented on #14572
Thank you!

[2019-09-23 22:00] rpetrusha commented on #14599
What is the obsolete event, @Youssef1313. I don't see Form.Closing as obsolete.

Whether Form.Closing is obsolete or not, though, the example is not a good one, since it doesn't actually indicate what `formOpened` is or how it's invoked. So if you want to replace or improve the example, that would be great.
The best thing to do in changing the example is:
1. Create a new example and open a PR in t

[2019-09-23 22:38] #14219 closed

[2019-09-24 02:19] RussKie commented on #14492
Thank you

[2019-09-24 02:35] RussKie commented on #14492
I didn't know that. I'll keep this in mind.
Thanks

[2019-09-24 03:14] mairaw commented on #14572
I'll keep it open so we can check where updates are applicable.

[2019-09-24 04:46] BillWagner commented on #14582
@sam-wheat

I made a few changes and this compiles for me:

[code]

I'll close this as answered.

[2019-09-24 04:46] #14582 closed

[2019-09-24 05:36] Youssef1313 commented on #14599
![Screenshot_2019-09-24-07-35-27-579_com android chrome](https://user-images.githubusercontent.com/31348972/65483853-f7cab700-de9d-11e9-8e10-f3bbdef761e5.png)

[2019-09-24 10:10] limbioliong opened #14624 "Possible Bug in Code for put_RiskRating()"
1. The code for the get_RiskRating() and put_RiskRating() methods may be erroneous. Both involve the management of the "RiskRating" member of the CLoan class which I assume is a BSTR. While it could be that "RiskRating" is an instance of a BSTR management class which performs automatic BSTR memory allocation/deallocation, this is not clear from the sample code.

2. In get_RiskRating(), "pVal", bei

[2019-09-24 10:14] JulioNobre opened #14625 "Windows Server 2008 SP2 seems to support .Net Framework 4.6.1"
Recently, one of ours .Net Framework 4.6.1 dependent applications was succesfully installed on a Windows Server 2008 SP2 (not 2008 R2). Altough we had to remove all .Net installed frameworks and reinstall 4.6.1 package in order to start application successfully.
For this reason, I think that since .Net Frameowkr 4.6.1 installer supports Windows Server 2008, the above requirements should be revised

[2019-09-24 14:30] KevinCathcart commented on #14572
Also, thanks to .net core 3 including a template search system, it is not required to actually know the name of the package to install.

Just blindly add the framework parameter and it will spit out the correct package to install, including the full command line to use. See:
[code]

Hope this is useful in some way.

[2019-09-24 16:26] uKER opened #14626 "Unnecessarily unclear about greedy modifier used together with variable length quantifier"
In the description for these two
{n , }?
{n , m }?
the page is unnecessarily lengthy when all it should say is that they're both equal to {n}, matching exactly n times, as the question mark overrides any specification that the expression can match more than n elements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d

[2019-09-24 16:29] tauheedul opened #14627 "The ASP.net ebook preview link is broken"
The link to the ASP.net preview ebook is broken, it just takes you to the Microsoft shop page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b96880e-76c7-c6f3-c45f-13d9301e77da
* Version Independent ID: 937c4b8a-8afc-98bb-ba22-02910a414656
* Content: [Blazor for ASP.NET Web Forms Developers](https://docs.microsoft.com

[2019-09-24 17:57] scottaddie commented on #14627
@tauheedul Thank you for reporting this problem. The aka.ms link is working now.

[2019-09-24 17:57] #14627 closed

[2019-09-24 19:02] TysonMN opened #14629 "What is the list of all F# warnings (number and description)?"
It would be helpful to me if there were a list of all possible F# warnings.  I have looked both within Microsoft's documentation as well as in general internet searches, but I have not found any such list.

The closest I have found to a list of #F warnings is the file [FSComp.txt](https://github.com/fsharp/fsharp/blob/6796cab77e804e8e16ac7693d1b1bd0fd071cd52/src/fsharp/FSComp.txt) in the F# source

[2019-09-24 19:35] Vaccano opened #14630 "Very confusing for .Net Core"
I thought that MemoryCache was compatible with .NET Core.  But this example of an unnamed XML file to configure the cache is confusing.

Where do I put this XML file?  What do I call it?  Or should I attempt to convert this to json and put it in my appsettings.json?

And is there a way to do this without having to use a file?

The docs seem to say that using MemoryCache is a good option for apps m

[2019-09-24 20:25] swaroop-sridhar commented on #13149
@mairaw looks like the information in the `dotnet publish` [page](https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-publish.md) is only up to version 2.1. Is there a place where we should PR doc changes for 3.0 ? (For example, single-exe options?) Thanks.

[2019-09-24 20:30] JamesNK opened #14631 "Protobuf should use snake_case, not camelCase"
re: https://github.com/dotnet/docs/blob/master/docs/architecture/grpc-for-wcf-developers/protobuf-messages.md#property-names

https://developers.google.com/protocol-buffers/docs/proto3#simple

Should be updated here, and proto files throughout the book should be updated.

@markrendle @mairaw

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-24 20:43] dasMulli commented on #13149
Btw there have been talks to discourage usage of `-p:PublishSingleFile=True` and `-p:PublishTrimmed=True` and rather pointing users towards creating publish profiles.

[2019-09-24 20:45] dasMulli commented on #13149
See the discussion on https://github.com/dotnet/cli/issues/12163

by @nguerrera:

[2019-09-24 20:52] swaroop-sridhar commented on #13149
I think @nguerrera was advocating that we document properties as if they were written in the csproj file, rather than advertising the `-p` syntax -- which I can understand. We still need to document the properties, as accessible from the `dotnet publish` page. So, that's what I'm asking about.

This also applies to single-exe, ready-to-run and il-trimming.

CC: @fadimounir @sbomer

[2019-09-25 01:21] mairaw commented on #8988
I also need to add the DOTNET_ROOT environment variable to this article. Would need confirmation of when this was introduced.

[2019-09-25 02:42] mairaw opened #14635 "Set up Desktop Guide content appropriately"
Things I've noticed:

- It needs an entry on the main index page
- It doesn't have a special ms.prod/ms.technology value - it's using the default ms.author, author, ms.prod, etc.
- Set up labels and rules

[2019-09-25 04:19] BillWagner commented on #14435
Thanks for writing this @sleette

Yes, you're correct on the tradeoffs. Asynchronous programming *is* more complex than synchronous programming. While these features improve the situation, there's still complexity.

Closing as by-design.

[2019-09-25 04:19] #14435 closed

[2019-09-25 04:29] BillWagner commented on #14455
Thanks for questions, the answer, and the discussion.

This article is part of C# 6 draft spec. We're not updating this while we work with the ECMA standards committee to reconcile the C# 6 draft with the official 5.0 standard. I'm going to close this while we finish that work. As pointed out above, the example is correct (while outdated). For now, we want to stay as close to the standard while we

[2019-09-25 04:29] #14455 closed

[2019-09-25 04:30] BillWagner commented on #14457
Closing per comment on #14455

[2019-09-25 04:30] #14457 closed

[2019-09-25 04:34] BillWagner commented on #14477
Thanks for writing this up @rhlgupta1383
You are correct that the comparison to java has not been updated.

It's also true that the latest C# features are not mentioned in the comparison.

I've added it to the projects for C# 8 content and our next sprint.

I've also added the up-for-grabs label for community members to update.

[2019-09-25 04:46] BillWagner commented on #14491
Thanks for writing this @bitbonk

The reference [guidance for corefx](https://github.com/dotnet/corefx/blob/master/Documentation/api-guidelines/nullability.md) is a good start. However, as we add more annotations to different APIs in corefx, we're continuing to learn the best way forward. We're not comfortable saying "we know the answers" yet.

I've not assigned this a milestone, because we're not

[2019-09-25 04:47] #14505 closed

[2019-09-25 05:09] pkulikov commented on #13421
@BillWagner I would like to revise the programming guide part of the docs:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/nullable-types/

Is it fine to do, or you're already in the middle of the work on this issue?

[2019-09-25 07:54] RussKie opened #14639 "[WinForms] Duplicate API removed"
## Duplicate API removed

In .NET Core Preview 4 several API were unintentionally duplicated during the port of the code from .NET Framework:
* `System.Windows.Forms.Design.DesignerActionListsChangedEventArgs`
* `System.Windows.Forms.Design.DesignerActionListsChangedEventHandler`
* `System.Windows.Forms.Design.DesignerActionListsChangedType`
* `System.Windows.Forms.Design.DesignerActionUIService `

[2019-09-25 08:02] RussKie opened #14640 "[WinForms] Change of access `AccessibleObject.RuntimeIDFirstItem`"
## Change of access `AccessibleObject.RuntimeIDFirstItem`

`AccessibleObject.RuntimeIDFirstItem` access has changed to `internal` to align with .NET Framework.

### Version introduced

3.0 RC1

### Old behavior

`AccessibleObject.RuntimeIDFirstItem` was marked as `protected`.

### New behavior

`AccessibleObject.RuntimeIDFirstItem` is marked as `internal`.

### Reason for change

Align with the de

[2019-09-25 08:21] SQL-MisterMagoo opened #14641 "Blazor description is wrong"
The description of Blazor on this page is incorrect - Server side Blazor has nothing to do with WebAssembly.

Suggested edit:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad8df5d-9295-d659-a561-ec9cabd5b61f
* Version Independent ID: 7ee71103-d997-140e-2d35-d9f2a3913e09
* Content: [Choose between traditional web apps

[2019-09-25 08:51] winterelf opened #14642 "Hot Reload using Unload/Load still locks the dll and the dll can't be replaced"
Thanks for the article,
I do encounter an issue while writing a plugin app which try to do hot reload without stopping my app, for example, doing the following steps:
1) load plugin.dll
2) unload plugin.dll
3) build the plugin.dll again.
4) copy the plugin.dll to the folder of the app which needs to load it from.
I get an error that the file is in use by other process. and only after stopping the

[2019-09-25 11:41] bigrbuk commented on #13875
Did you get anywhere with this? I'm having similar issues.

[2019-09-25 12:04] BillWagner commented on #13421
@pkulikov Thank you. I'd be thrilled to have you take this on. (I'm still working on some default interface members tutorials).

I've added you to the assigned list.

[2019-09-25 12:05] winterelf commented on #14642
I have managed to fix the issues, in order to be able to override the DLL file, we need to do the followings:
1)  do not use the context method `LoadFromAssemblyPath` instead use  `LoadFromStream()`:
e.g:
[code]
2) mark the method that has the context reference as `[MethodImpl(MethodImplOptions.NoInlining)]`
This is due to optimization that might happen which make the context not being able to be

[2019-09-25 12:49] Youssef1313 opened #14648 "Missing documentation for CS8421"
The CS8421 doesn't have a documentation currently. While it's already mentioned in docs in [what's new in C# 8.0](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#static-local-functions) article, There should be a separate article for it in [`docs/csharp/language-reference/compiler-messages`](https://github.com/dotnet/docs/tree/master/docs/csharp/language-reference/compiler-messag

[2019-09-25 13:15] BillWagner commented on #14541
Thanks for raising this issue @AzimAnsari

I've added it to our backlog to address when we next update this article.

[2019-09-25 13:29] BillWagner commented on #14597
This is an interesting discussion

After checking the pertinent section of the [C# specification](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/expressions#compound-assignment), I think @pkulikov 's analysis is correct. The paragraph that starts "The term 'evaluated only once' means..." has the details on the order of evaluation.

@sizenineelm I'm going to clos

[2019-09-25 13:29] #14597 closed

[2019-09-25 13:30] BillWagner commented on #14602
Thanks for adding these details @SharunasBielskis

I'm going to close this as a duplicate of #14598 (I'll make one PR to address both concerns).

[2019-09-25 13:30] #14602 closed

[2019-09-25 13:33] sizenineelm commented on #14597
No problem. The explanation that it’s operator precedence rather than associativity makes sense – although the underlying issue of x = x + y not necessarily being the same as x += y with y as an expression still stands – x += y is more equivalent to x = x + (y).

From: Bill Wagner <notifications@github.com>
Sent: 25 September 2019 14:30
To: dotnet/docs <docs@noreply.github.com>
Cc: Neil Menzies <s

[2019-09-25 13:34] BillWagner commented on #14598
Thanks for writing this @SharunasBielskis The text in this article is misleading. Instead of the sentence:

A better phrasing is:

I've added this to our backlog to address when we next update this article. I've also added the "up-for-grabs" label for community members to submit a PR with the above fix.

[2019-09-25 13:38] #14642 closed

[2019-09-25 13:57] thecodemonk opened #14655 "Supported Linux Versions tab is still showing core 3 preview 1."
This should be updated to reflect the release of core 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cfd5cf0-f28e-be49-227a-c2bbe4e57b8d
* Version Independent ID: 016b2a9c-d1c9-6909-df3e-a49db60b7654
* Content: [Prerequisites for .NET Core on Linux](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?t

[2019-09-25 15:50] wtjerry opened #14662 "mention single-case discriminated unions as an alternative to Type Abbrevations"
Section "Avoid using Type Abbreviations to represent your domain" mentions that giving a domain specific name (BufferSize) to a simple type like int should not be done with Type Abbrevations.

However it can be useful to have different names for in in different places. Eg. one function doing something with files -&gt; BufferSize and another function doing something with a Persons age -&gt; Age. Bo

[2019-09-25 16:48] ShowMeBillyJo commented on #14542
I noticed this same error in the example. Additionally, the line...

...is incorrect. `surveyResponses` is a NULLABLE reference type in the example, and so needs to be dereferenced.

[2019-09-25 18:45] mairaw commented on #14655
PR #14315 will fix that.

[2019-09-25 21:04] #13090 closed

[2019-09-25 21:13] Thraka opened #14675 "Rewrite the prereqs story for .NET Core"
I met with the product unit to talk about getting the prerequisites story cleaned up for all 3 OS. What is on docs easily desyncs with what is on the .NET Core code repo, causing confusion. Additionally, the download site lists some prereqs too.

Per the discussion with the team, we're going to rewrite the story for prereqs here on docs and then shift the ownership of these docs to the product uni

[2019-09-25 21:40] Thraka opened #14676 "Edit pass on Desktop Guide - WPF articles"
The WPF articles that shipped for Core 3 should have an edit pass conducted on them. The majority of them are from the old WPF content that had acrolinx run across them, but more can be done to clear them up.

[2019-09-25 21:40] Thraka commented on #14604
I've done some work on it already. Currently at 140 issues with a score of 83. This will now be included in the editing pass, issue #14676

[2019-09-25 21:40] #14604 closed

[2019-09-25 21:44] Thraka commented on #14216
This is done. #14538 will continue this work.

[2019-09-25 21:44] #14216 closed

[2019-09-25 21:55] Thraka opened #14677 "Scan the WPF open source repo for information relating to .NET Core WPF compat issues"
The current draft of this article is missing information. Look at the .NET Core WPF open source repo and see what is documented there regarding .NET Framework compatibility issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea5b8a0a-cbc5-b9d6-81d5-d09e4eedd6b0
* Version Independent ID: 3792e0ca-8b8d-0f69-780b-9c1e2

[2019-09-25 23:59] brunocampiol commented on #12486
I have the same issue here. We had some .bat files that publish projects and now they are all failing. Please fix this

[2019-09-26 00:55] winaterion opened #14681 "Loading and then Unloading DLL with dependency locks the DLL"
I follow the .NET docs tutorial at:
https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability
and wanted to see if load/unload dll which has dependency will work.

I used AssemblyLoader with resolver:
[code]

Then, I created 2 other projects, one is simple class without dependency, and the other is class that uses _newtonsoft json_ as dependency. then I publish those classes and put

[2019-09-26 01:23] WilliamBerryiii opened #14683 "Split Assembly Info Section into dedicated article"
Recommendation to split assembly info section into it's own article with solid SEO for developers looking to migrate from the "old" assembly info file to the csproj version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d

[2019-09-26 05:04] #14542 closed

[2019-09-26 06:00] matkoch opened #14687 "Custom data in global.json"
As the title says. Can I use global.json to persist custom data? Or will it be removed or cause a validation error at some point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35d7-aeff-3187a36dbbca
* Content: [global.json overview - .NET Cor

[2019-09-26 06:24] tmds opened #14688 ".NET API Browser should include when type is a ref struct"
For example:

should be

`ref struct` can be used in more limited ways than regular `struct`, so it would be good if the documentation clearly shows the difference.

[2019-09-26 07:12] Youssef1313 commented on #1491
One limitation I know that prevents to just easily move the files from one directory to another is that relative links may get broken. Are there other limitations to consider if I want to work on this issue ?

 @rpetrusha , @BillWagner, @mairaw

[2019-09-26 08:29] gaudigde commented on #12486
Same here, we have to fix a lot of scripts and Dockerfiles because of this change. Will this be fixed to behave like in 2.1 or should I start to change my files?

[2019-09-26 08:39] dasMulli commented on #12486
This was an intentional breaking change for 3.0 since previously people reported that re-rooting arguments to command line arguments is unnatural and no other tool ever does that.

[2019-09-26 08:53] dasMulli commented on #12486
Fun fact: This is the original behaviour of the CLI for project.json. The re-rooting happened with the move to MSBuild (1.0) and so people complained about it but I was too late to make the change for 2.0 so it now got into 3.0 with https://github.com/dotnet/cli/pull/9892

[2019-09-26 11:07] mrdnote commented on #14474
Hi Bill, sorry to get off topic, but after reinstalling visual studio and switching my projects from 4.7.1 to 4.7.2 suddenly Debug.Assert isn't suppressing nullable warnings (CS8602) anymore:
![image](https://user-images.githubusercontent.com/5628584/65683835-99990200-e05e-11e9-905d-5eb462217124.png)
Any clues?

[2019-09-26 11:26] woanware commented on #9633
I wouldn't say that this issue should be closed. The OP asked for a multi data outlier detection sample e.g. three items (timestamp, username, IP/hostname). All of the current samples use a single data item such as credit card outlier (Amount), power usage (Power Amount)

[2019-09-26 11:28] meraydin commented on #9633
I aggree 200%

[2019-09-26 13:13] BillWagner commented on #14474
@mrdnote

Just a hunch (because of a related conversation): Check your `.csproj` file for the `<LangVersion>` element. If it's present, just remove it. You might be getting the C# 8 default behavior, even though you're targeting 4.7.*.

[2019-09-26 14:26] mrdnote commented on #14474
Bill, if I remove the LangVersion the compiler falls back to C# 7.3 which is of course not what I want.

[2019-09-26 14:28] mrdnote commented on #14474
One thing I noticed tho, that since my fresh reinstall is that the Advance Build Settings UI behaves differently. Before I could change the language version, and now I cannot:

![image](https://user-images.githubusercontent.com/5628584/65697132-b5aa9c80-e07a-11e9-9834-6844d969333d.png)

[2019-09-26 15:44] Janworks opened #14698 "Precedence of C# 8.0 switch expression"
As discussed on [StackOverflow](https://stackoverflow.com/q/58088073/8528014), currently the documentation doesn't mention the precedence of the new `switch` expressions (which is between the categories `multiplicative` and `range`).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eeac581-6235-2192-d909-e7fe3d21197f
*

[2019-09-26 15:45] #13994 closed

[2019-09-26 16:50] KalleOlaviNiemitalo commented on #3426
I suspect the current Visual Basic compiler never emits error BC2027 and the page could be deleted. [The definition of `ERR_WatsonSendNotOptedIn` has been commented out](https://github.com/dotnet/roslyn/blob/958f2354c4d83dbb0e7723d0a8079a0dfbc33f25/src/Compilers/VisualBasic/Portable/Errors/Errors.vb#L55) and [the `/errorreport` option has no effect](https://github.com/dotnet/roslyn/blob/958f2354c4

[2019-09-26 17:38] #14591 closed

[2019-09-26 17:40] #6598 closed

[2019-09-26 17:42] mrdnote commented on #14474
Another discovery, when I replace the Assert with a conditional raised exception, the warning goes away:

[code]

You'd almost think something's wrong when compiling for DEBUG, but I have Debug selected and when I step thru my code, the Assert's are executed.

[2019-09-26 18:12] mrlife opened #14701 "Are bash uninstall commands comprehensive?"
After running the bash commands on macOS for uninstalling SDKs and runtimes, running `dotnet --list-runtimes` still shows all the runtimes. The SDKs are gone.

Looks like this is how to remove a runtime, at least for versions prior to 3.0.0:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ca18b0-5533-f5b9-2eb4

[2019-09-26 18:25] rpetrusha commented on #14540
This has been fixed by #14419.

[2019-09-26 18:25] #14540 closed

[2019-09-26 19:15] rpetrusha opened #14705 "Floating-point parsing operations no longer throw fail or throw an OverflowException"
## Floating-point parsing operations no longer fail on overflows

The floating-point parsing methods no longer throw an `OverflowException` or return `false` when they parse a string whose numeric value is outside the range of the `Single` or `Double` floating point type.

### Version introduced

3.0

### Old behavior
In .NET Core 2.2 and earlier versions, the `Double.Parse` and `Single.Parse` met

[2019-09-26 19:15] rpetrusha commented on #14705
//cc @tannergooding

[2019-09-26 19:24] tannergooding commented on #14705
Should it be documented that this was done for better IEEE 754:2008 compliance (which is the spec that defines the correct behavior for these operations)?

Does it need to be explicitly called out that it is not a value that is greater than `double.MaxValue` or less than `double.MinValue`, but rather a value that when rounded according to the IEEE rounding rules is closer to `double.Positive/Negat

[2019-09-26 19:24] tannergooding commented on #14705
Otherwise, LGTM

[2019-09-26 20:02] anurse opened #14708 ""Pubternal" APIs in ASP.NET Core have been removed"
## "Pubternal" APIs in ASP.NET Core have been removed

In order to better maintain the public API surface of ASP.NET Core, we've moved a large majority of the types in the *.Internal namespace (previously we used the term "pubternal" to refer to these) to be truly internal. Members in these namespaces were always in a gray area. They were never meant to be supported as public APIs and could break

[2019-09-26 21:00] CeciAc opened #14714 "Incorrect url in an example"
@Kezzya commented on [Thu Sep 26 2019](https://github.com/dotnet/docs.ru-ru/issues/225)

myClient.OpenRead("http://www.contoso.com/index.htm");

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 2cf9d0b8-7f12-9cda-abe9-35488f15296d
* Version Independent ID: 12edf729-7210-2644-6315-7f24a9c

[2019-09-26 21:01] CeciAc commented on #14714
Hi team,
the user reports an error in the code.
best

[2019-09-26 21:57] BillWagner commented on #14474
First, on the language selection, we've updated the documents for the [latest changes on LangVersion](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version). That explains how the UI changed based on your target framework, and the new defaults.

Second, My thinking is that nullable static analysis takes into account conditional compilation. @jaredpar  would k

[2019-09-26 22:00] anurse opened #14716 "Async suffix for controller action names will be trimmed by default"
## Async suffix for controller action names will be trimmed by default

As part of addressing https://github.com/aspnet/AspNetCore/issues/4849, ASP.NET Core MVC will trim the suffix `Async` from action names by default. This affects routing and link generation.

### Version introduced

3.0

### Old behavior

Consider the following ASP.NET Core MVC controller:

[code]

Prior to 3.0, the action will

[2019-09-26 22:07] anurse opened #14717 "ASP.NET Core 3.0 only runs on .NET Core"
## ASP.NET Core 3.0 only runs on .NET Core

_This change is one of several which were [announced on the ASP.NET blog.][aspnet-blog]_

The .NET Framework will get fewer of the newer platform and language features that come to .NET Core moving forward, due to the in-place update nature of .NET Framework and the desire to limit changes there that might break existing applications. To ensure ASP.NET C

[2019-09-26 22:41] khanhankkhan opened #14718 "preview?"
are there different TargetFramework's for the preview versions of each core #?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49205137-dcec-a120-e5e7-1b9c79cdafbb
* Version Independent ID: 4352856b-5ccf-8e62-48b4-3151340cac56
* Content: [Target frameworks](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#fee

[2019-09-26 22:52] kkadir opened #14720 "Please Elaborate gRPC Usage Patterns"
From Figure 4-22, it is clear that front-end traffic is over REST and the back-end traffic is over gRPC. But it is not clear how this internal microservice-to-microservice or aggregator-to-microservice traffic happens. It would be wonderful if some concrete scenarios are covered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-27 04:05] Youssef1313 commented on #14714
https://github.com/dotnet/docs/issues/12742 was already open for that. This broken URL is used in many places.

[2019-09-27 04:30] pkulikov opened #14726 "C# reference consolidation: nullable value types"
All three programming guide topics about nullable value types:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/nullable-types/

should be combined and moved as one article to the language reference part of the docs.

@BillWagner I can do that in October. If that's fine, please assign this to me.

[2019-09-27 06:20] akshaymantriwar opened #14729 "Unable to Approve the requests"
I have started two instances but for userType2 am unable to enable the approve and reject instead it is enabling request button.

![image](https://user-images.githubusercontent.com/25244758/65746620-eba05d00-e11c-11e9-93cf-fbe0b4fc28b8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bcbcbb-7a93-3e1b-2962-f4738fd5

[2019-09-27 07:57] JunTaoLuo opened #14732 "Deprecated Authentication property from HttpContext removed in ASP.NET Core"
## Deprecated Authentication property from HttpContext removed in ASP.NET Core

As part of aspnet/AspNetCore#6504 we've removed the deprecated Authentication property on HttpContext. The Authentication property has been deprecated since 2.0 and a [migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x?view=aspnetcore-2.2#use-httpcontext-authentication-extensio

[2019-09-27 08:03] xygon commented on #12544
StartAsync needs to return and neither `DoWork()` nor `await Task.Run(DoWork)` allow StartAsync to complete.
`Task.Run(DoWork)` without await will work.

[2019-09-27 09:06] JunTaoLuo opened #14736 "ObjectPoolProvider removed from the default set of dependencies added in the WebHostBuilder"
## ObjectPoolProvider removed from the default set of dependencies added in the WebHostBuilder

As part of making ASP.NET Core more pay for play, the ObjectPoolProvider was removed from the main set of dependencies. Specific components relying on ObjectPoolProvider now add it themselves.

If your component requires ObjectPoolProvider, it will be need to be added to your dependencies via the IServi

[2019-09-27 10:08] Youssef1313 commented on #5410
I can't find the message for [CS0043](https://github.com/dotnet/docs/blob/master/docs/csharp/misc/cs0043.md) that's **already** documented in that link. Even a [search for it in the dotnet organization](https://github.com/search?p=3&q=org%3Adotnet+cs0043&type=Code) gives only the documentation result. A [search in roslyn](https://github.com/search?q=repo%3Adotnet%2Froslyn+cs0043&type=Code) has no

[2019-09-27 11:58] mvelosop commented on #13951
Hi @stoksc,

The need for the HttpHandler to have a finite lifetime is to ensure changes in DNS are handled within a "reasonable" time frame.

So, if IP address of a server changes, then the clients (using the "ethernal" HttpHandlers) would not be able to connect again to that server, because they'd be trying to use the old address.

DNS changes on servers occur in failover scenarios as you can re

[2019-09-27 12:54] radiy opened #14739 "Misleading documentation for dotnet test"
I was looking for a way to run tests with net core on x86 and found link to .runsettings file [1], it says that I can use `<TargetPlatform>x86</TargetPlatform>` option which is wrong, on .net core it does nothing. You should just download .net core x86 and run tests from it.

[1] https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019

-

[2019-09-27 12:55] mvelosop commented on #13850
Hi @SittenSpynne,

I'll add a note to on this guide so readers are aware of what you comment.

Perhaps you might find the discussion in issue https://github.com/aspnet/Extensions/issues/1345 useful to you.

Anyway, there's an issue (https://github.com/aspnet/AspNetCore.Docs/issues/11882) to include guidance on this topic.

Hope this helps.

[2019-09-27 13:00] mvelosop commented on #13409
Hi @bormm,

Thanks for the heads up!

Will include a note about this issue.

[2019-09-27 13:59] #10141 closed

[2019-09-27 14:42] mvelosop commented on #13203
Hi @PingPongSet,

Will try to help you get started with this.

"Update atomically" means that if there's an error while the transaction hasn't completed, then the state of the system is kept in a consistent state. Inconsistent means some of the operation-related tables updates but other not.

Most of the time that's solved with a database transaction.

However, what do we include in the scope of t

[2019-09-27 14:59] mvelosop commented on #13189
Hi @brcaswell, thanks for heads up about the code.

Will fix it to also add an important aspect of using the `dynamic` type in queries.

However, I don't get to see an issue about including the reference to Swagger, as it's part of the pros and cons of dynamic vs static types.

Could you elaborate please?

Hope this helps.

[2019-09-27 15:12] #14635 closed

[2019-09-27 15:21] mvelosop commented on #13186
Hi @PingPongSet, that's a good question!

I could mention a few differences that make them qualify as separate microservices, but there could be a lot more, as usual, depending on the context:

- They have a completely different set of requirements, so they could (should?) have different dev teams.
- For catalog you can actually still split it further to:
  - Have a microservice to display the cat

[2019-09-27 15:25] mvelosop commented on #13181
Hi @PingPongSet,

I'm not sure I get what you point to, eShopOnContainers doesn't use a centralized ESB it just uses queues for messaging, and you could even use different queues for different part of the system.

Hope this helps.

[2019-09-27 15:28] mvelosop commented on #12933
Thanks @babin93.

Closing now.

[2019-09-27 15:28] #12933 closed

[2019-09-27 15:42] mvelosop commented on #10552
Closing this issue, as it was solved in the latest general book review.

[2019-09-27 15:42] #10552 closed

[2019-09-27 15:46] mvelosop commented on #9302
Closing this issue as all images have now been changed to actual white background.

[2019-09-27 15:46] #9302 closed

[2019-09-27 16:06] mdraphelkabir opened #14745 "Obsolete method"
Dns.Resolve is an obsolete method now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5814302a-7cde-f425-1060-ab0d71d4b8a7
* Version Independent ID: bfb8e3ba-eb8c-60d0-7f24-d0fda5f01691
* Content: [Listening with Sockets](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/listening-with-sockets#feedba

[2019-09-27 16:25] jaredpar commented on #14474
This shouldn't be specific to 4.7.1 or 4.7.2 but rather the expected behavior when targeting any version of the desktop framework. The nullable annotations were only added to netcoreapp30 which means the signature for `Debug.Assert` is observably different:

[code]

Hence on desktop the `Debug.Assert` call adds no new information to the nullable analysis.

[2019-09-27 16:53] #14714 closed

[2019-09-27 17:00] Thraka commented on #14739
Hello, thank you for bringing this issue to our attention. In researching this issue I found microsoft/vstest#1128 which seems to confirm your issue. We should update this in the docs.

[2019-09-27 17:01] gewarren opened #14747 "Underscores in test names"
Code analysis rule [CA1707](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1707-identifiers-should-not-contain-underscores?view=vs-2019#feedback) flags method names that contain underscores. Yet this article shows an example with underscores in the name. Can we update the example to remove the underscores? This was originally noted in [this issue](https://github.com/MicrosoftDocs/vis

[2019-09-27 17:07] #14449 closed

[2019-09-27 17:09] jpreese commented on #14747
My opinion would be that they do not need to change. I view Code Analysis rules as guidelines, and can be configured to however each team wants to leverage them.

I feel the current approach to naming is a good one, and there are a lot of .NET repos that leverage underscores in their test naming schemes.

If the majority feels otherwise, I can make the change

[2019-09-27 17:09] Thraka commented on #14747
I'm not sure this is a valid issue. Unit tests aren't meant to be public consumable code, hence they don't need to conform to the .NET Standard Naming Conventions.

[2019-09-27 17:15] gewarren commented on #14747
Here's a link to the .NET Standard naming conventions - https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/general-naming-conventions#word-choice.

[2019-09-27 17:15] gewarren commented on #14747
@mavasani Do you want to weigh in on this one?

[2019-09-27 17:15] #12381 closed

[2019-09-27 17:18] mavasani commented on #14747
CA1707 is meant only for production code, so should be explicitly turned off for test projects using https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019#rule-severity

[2019-09-27 17:18] Thraka commented on #14747
For reference, the naming conversions is introduced with:

(I added **my emphasis**) I think this description easily identifies unit tests as falling outside this scope.

[2019-09-27 17:25] Youssef1313 commented on #14747
The `_` in unit test methods naming, in my opinion, seems like a convention specific to unit tests and I agree with @Thraka that it's outside of the scope of the general naming conventions.

Even the corefx repo uses it. [Example](https://github.com/dotnet/corefx/blob/master/src/System.Security.Claims/tests/ClaimsIdentityTests.cs)

[2019-09-27 17:48] mvelosop commented on #14408
Hi @drdamour, thanks for your feedback.

Honestly I think the "microservice API" is as abstract and technology agnostic as can be, I would've agreed with your if it had said "microservice REST API", but I don't see noting about the way the API is implemented.

Anyway, how do you think it could be better stated?

Hope this helps.

[2019-09-27 17:51] gewarren commented on #14747
Thanks all for the clarification. Closing this issue and will ask OP to suppress the warning for test projects.

[2019-09-27 17:51] #14747 closed

[2019-09-27 18:03] Youssef1313 commented on #14648
Closing this.. There is an already open issue for missing compile warning and errors docs. (#5410)

[2019-09-27 18:04] brunocampiol commented on #12486
If this is an intentional breaking change, do we have a way to force a dotnet publish using the previous version? I had to uninstall net core 3 on my system to avoid issues but I would like to have it for future projects.

[2019-09-27 18:04] #14648 closed

[2019-09-27 18:05] dasMulli commented on #12486
You can use a [globa.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) file to pin the SDK version you want to build with to do that.

[2019-09-27 18:07] drdamour commented on #14408
I know that and u know that but 99/100 devs I run into don’t currently
think that way today.  Latter sections define apis as rest, ampq, binary,
and websockets.  I suggest denoting that here (eg “be they rest, websocket,
binary, message based, etc”)  and a link to those later sections that
explicitly define the encompassing term with examples beyond the current
group think.

I’ve found myself avoi

[2019-09-27 18:07] mvelosop commented on #14248
Hi @LukePammant, thanks for your feedback, it's an interesting question!

As usual, it depends, there's not a one-size-fits-all solution.

I can mention some criteria I've seen being used:

- What's the size of the aggregate and how large is the transaction rate? There can be bandwidth/cost restrictions.
- Does the size of the message fit in the queue implementation? The event might just carry an

[2019-09-27 18:15] mvetom opened #14752 "My Malware Bytes doesn't like this"
Tried to run this project (at the first point in the tutorial where it said to run the project,  so I hadn't done very many changes) , and VS gave me this error:

Error while trying to run project: Unable to start program 'C:\Users\Developer\source\repos\ExpenseIT\ExpenseIT\bin\Debug\ExpenseIT.exe'.
The request is not supported.

If it matters, I'm using VS 2017, not 2019,  Community version.

And

[2019-09-27 18:25] mvetom commented on #14752
Update: okay,  it looks like there's an issue that Malware Bytes has been told about it.

Looks like you may have to  " exclude this folder from detections until the project is finished."

[2019-09-27 18:26] #14752 closed

[2019-09-27 18:26] mvetom commented on #14752
This is just informational for people who run into the problem.  It's a malware bytes issue,  not  awpf issue

[2019-09-27 18:27] mvelosop commented on #12793
Hi @lukos, thanks for your feedback, that's an interesting question!

In general, I prefer to have a single shared database. Specially if there's a chance that two microservices might conflict updating the same (logical) record in different DBs.

I general current databases scale well enough as to handle **very** large loads without problems, and you might consider some form of sharding, say by co

[2019-09-27 18:29] jpreese commented on #14142
Thanks for the feedback, @AzmL

Here are my thoughts!

Are you asking for a bit more explanation on what `.Setup()` is doing?

I don't want to get into the internals of what is going on in this document, but I could see value in explaining that calling `.Setup()` on the `IDateTimeProvider` with a `.Returns()` of `DayOfWeek.Tuesday` effectively means that when we call `dateTimeProvider.DayOfWeek()`

[2019-09-27 18:37] ryanbrandenburg opened #14753 "ResourceManagerWithCultureStringLocalizer class and WithCulture interface member marked Obsolete and will be removed"
## ResourceManagerWithCultureStringLocalizer class and WithCulture interface member marked Obsolete and will be removed

The [ResourceManagerWithCultureStringLocalizer](https://github.com/aspnet/Localization/blob/43b974482c7b703c92085c6f68b3b23d8fe32720/src/Microsoft.Extensions.Localization/ResourceManagerWithCultureStringLocalizer.cs#L18) class and [WithCulture](https://github.com/aspnet/Localiza

[2019-09-27 18:38] Thraka commented on #12486
@mairaw I elevated this to P0 and I added it to the oct milestone. I think this needs to be documented asap as it is a huge difference from 2.0 to 3.0.

Feel free to readjust.

[2019-09-27 19:00] Thraka commented on #14611
Hello. The default is 1.1.

Here is a test app:

[code]

The output:

[code]

Let me know if you have any other questions.

[2019-09-27 20:47] ryanbrandenburg opened #14762 "ResetSendPing and ResetTimeout APIs Removed from SignalR HubConnection class"
## ResetSendPing and ResetTimeout APIs Removed from SignalR HubConnection class

The `ResetSendPing` and `ResetTimeout` APIs were removed from the SignalR's `HubConnection` API. These methods were originally intended only for internal use but were made public in 2.2. These API's will no longer be available starting in the 3.0 Preview 4 release.
Use issue: https://github.com/aspnet/AspNetCore/issue

[2019-09-27 21:13] michaelblyons commented on #5360
I would really appreciate seeing the default values for when no rules exist:

- Is it `*`=>`2`, like the default for `<add>`s without a `maxconnection`?
- Is `localhost` treated the same as the rest of the network, unless there's an explicit rule?

I would also like to see an example that was not `http`/`https`, and another example that uses IP.

Thirdly, can we use wildcards (or CIDR) for hosts,

[2019-09-27 21:27] rpetrusha opened #14765 "Example for compiler error BC32051 does not generate BC32051"
## Example for compiler error BC32051 does not generate BC32051

The example for [BC32051](https://docs.microsoft.com/dotnet/visual-basic/misc/bc32051) generates BC36645 rather than BC32051.

The source code is:

[code]
The compiler output is:

[2019-09-27 21:35] akochepasov commented on #14040
One of our drivers is very old and crashes when ASLR enabled

[2019-09-27 21:39] KalleOlaviNiemitalo commented on #14040
@akochepasov, was that driver built with the C# compiler?

[2019-09-27 21:41] akochepasov commented on #14040
@KalleOlaviNiemitalo, no, it is a native DLL. However, it's loaded into C# exe.

[2019-09-27 21:58] natke commented on #13895
Fixed by #14531. @nfnpmc, we'd love if you would take another look at the tutorial and let us know what you think!

[2019-09-27 21:58] #13895 closed

[2019-09-27 23:09] #14217 closed

[2019-09-27 23:09] #14655 closed

[2019-09-28 00:34] JamesNK opened #14770 "AspNetCoreModule V1 removed from Windows Hosting Bundle"
## AspNetCoreModule V1 removed from Windows Hosting Bundle

Windows Hosting Bundle wouldn't contain AspNetCoreModule V1 in 3.0 release.

AspNetCoreModuleV2 is backwards compatible with AspNetCoreModule OutOfProcess and is recommended for use with ASP.NET Core 3.0 applications.

Please discuss this on  https://github.com/aspnet/AspNetCore/issues/7095

### Version introduced

3.0

### Old behavior

[2019-09-28 00:41] JamesNK opened #14771 "Removed extensibility for DefaultHttpContext"
## Removed extensibility for DefaultHttpContext

As part of performance improvements made to ASP.NET Core 3.0 (aspnet/AspNetCore#6504), we've removed the extensibility of DefaultHttpContext (it is now sealed). This extensibility was provided initially to allow pooling of the HttpContext but it introduced more complexity than necessary and precluded other optimizations. As a result, we decided to r

[2019-09-28 00:49] JamesNK opened #14772 "MemoryCache: obsolete API removed in 3.0"
## MemoryCache: obsolete API removed in 3.0

This is a follow up to https://github.com/aspnet/Caching/issues/221. The 3.0 release will remove the [obsolete `MemoryCacheOptions` APIs](https://github.com/aspnet/Extensions/blob/dc5c593da7b72c82e6fe85abb91d03818f9b700c/src/Caching/Memory/src/MemoryCacheOptions.cs#L17-L18).

Discussion: https://github.com/aspnet/Extensions/issues/1062.

### Version int

[2019-09-28 06:51] GreatFireWall opened #14774 "Do I need to declare "disposed" field in each derived class ?"
Do I need to declare `bool disposed` field in each derived class when I implement the dispose pattern for a derived class?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572ef6c6-5066-4a14-76a0-c3fb4b62e604
* Version Independent ID: 9c754da1-c234-fb12-580b-0fcf9ffe2c20
* Content: [Implementing a Dispose method](https:/

[2019-09-28 07:18] Youssef1313 opened #14777 "Information under compilation of interpolated strings"
This article says:

&gt; If an interpolated string has the type string, it's typically transformed into a String.Format method call.

I'm wondering, when can `an interpolated string` doesn't have the type `string` ?
If an interpolated string is always having the type string, I think the previous statement should be changed to just:

&gt; An interpolated string is typically transformed into a Strin

[2019-09-28 07:22] pkulikov commented on #14777
@Youssef1313 the section earlier in the article describes possible types of an interpolated strings:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated#implicit-conversions-and-how-to-specify-iformatprovider-implementation

Also, the second paragraph from the quoted section:

[2019-09-28 07:24] Youssef1313 commented on #14777
Thanks, @pkulikov!
I was just going to close it now after I read the second paragraph :)

[2019-09-28 07:24] #14777 closed

[2019-09-28 11:18] mrdnote commented on #14474
Hi Jared, thanks for this explanation. In term of a solution, can you make a suggestion? Do I have to rewrite all my asserts? Checking for null would not really have big impact on performance in production, but still...

[2019-09-28 11:45] AzmL commented on #14142
Hi jpreese, and thanks for coming back to me.
I believe the passing of a delegate to .Setup() makes obvious what is conceptually happening behind the scene. What I was really interested in was the source code which allows that mechanism: does .Setup().Return() use reflection to instantiate an object which implements the interface T passed during "New Mock<T>"?
I now understand the tests rely on a

[2019-09-28 12:12] sungam3r opened #14781 "Same description of two modes"
warnings: The nullable annotation context is disabled. The nullable warning context is enabled.

    Variables of a reference type are oblivious. All nullability warnings are enabled.

annotations: The nullable annotation context is enabled. The nullable warning context is disabled.

    Variables of a reference type are oblivious. All nullability warnings are enabled.

---
#### Document Details

[2019-09-28 12:46] rafaelldi commented on #14611
Thank you, but the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httprequestmessage.version?view=netcore-3.0#property-value) says, that default version of HttpRequestMessage is `2.0` since .NET Core 2.1. You showed that the default is `1.1`. I think there is a mistake in the docs.

[2019-09-28 13:06] farmahini opened #14782 "Confusion"
In the contravariant interface example the below lines are confusing:
// Extending contravariant interface.
interface IExtContravariant&lt;in A&gt; : IContravariant&lt;A&gt; { }
The interface is declared but never used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e9ed9b-7aff-a0d8-4f79-f8db71ce2fb4
* Version Indepe

[2019-09-28 17:30] svick commented on #14474
@mrdnote I believe one option is to use [ReferenceAssemblyAnnotator](https://github.com/tunnelvisionlabs/ReferenceAssemblyAnnotator) to provide nullable annotations for .Net Framework assemblies. Though it's not an officially-supported solution.

[2019-09-28 20:04] ashmind opened #14784 "Add docs on when null compilation might be returned from GetCompilationAsync"
After upgrading to latest version of Roslyn, I can see that actual return time is `Task<Compilation?>`.
It uses nullable reference type to specify that compilation might be `null`.

However, looking at documentation, I can't see in what scenario this method returns `null` compilation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-28 22:39] fds-alm opened #14786 ""dotnet test" vs "dotnet vstest""
Checking to confirm what is the difference between "dotnet test" vs "dotnet vstest"?

Per best practice which should we be using?

Azure DevOps pipeline task "dotnet" task does not include "vstest" option.   Should we be using "dotnet vstest" in pipelines instead of "dotnet test" ?

[2019-09-29 02:36] kinglionsz opened #14787 "'Console' does not contain a definition for 'OpenStandardInput' (CS0117)"
Accessors
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/classes#accessors

`
using System.IO;

public class Console
{
    private static TextReader reader;
    private static TextWriter writer;
    private static TextWriter error;

    public static TextReader In {
        get {
            if (reader == null) {
                reader = new StreamReader(C

[2019-09-29 02:56] kinglionsz commented on #14787
### If we change the class name to MyConsole and using System. run  the code will threw exception:

'((System.IO.ConsoleStream)((System.IO.StreamWriter)sw).BaseStream).Length' threw an exception of type 'System.NotSupportedException'
'((System.IO.ConsoleStream)((System.IO.StreamWriter)sw).BaseStream).Position' threw an exception of type 'System.NotSupportedException'
'((System.IO.StreamWriter)sw).

[2019-09-29 09:02] rafaelldi commented on #14611
I've done the same example in the .NET Core 2.2 and .NET Core 3.0.
[code]

Output in the .NET Core 3.0:
[code]

Output in the .NET Core 2.2:
[code]

So, the default version of request in the .NET Core 3.0 isn't a `2.0`.

[2019-09-29 12:21] Youssef1313 commented on #14765
The error `32051` doesn't even exist in Roslyn repo. <https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Errors/Errors.vb>

[2019-09-29 12:22] sveinungf opened #14797 "Default language version for .NET Standard 2.1"
Shouldn't the default language version be C# 8.0 for .NET Standard 2.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* Content: [C# language versioning - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/languag

[2019-09-29 17:40] nfnpmc commented on #13895
Hi Nat,
Somebody has done a brilliant job of sorting out that page, thanks very much.

Regards, nfnpmc

    On Friday, 27 September 2019, 22:58:43 BST, Nat Kershaw (MSFT) <notifications@github.com> wrote:

Fixed by #14531. @nfnpmc, we'd love if you would take another look at the tutorial and let us know what you think!

—
You are receiving this because you were mentioned.
Reply to this email direc

[2019-09-29 18:58] natke commented on #13895
Thank you @nfnpmc!  That was me :-)

[2019-09-29 19:56] xantilon opened #14799 ".Net Editor does not support System.Range"
Reproduce:
* click Run button on first code block
* copy code from last code block to editor
* click Run on editor

Error:
(6,5): error CS0246: The type or namespace name 'Range' could not be found (are you missing a using directive or an assembly reference?)
(6,15): error CS0518: Predefined type 'System.Index' is not defined or imported
(6,15): error CS8652: The feature 'range operator' is curren

[2019-09-29 19:59] BillWagner commented on #13420
#14727 does mention the `!` operator, but doesn't completely address it. I'm reopening this issue.

I think this should be a separate page in the operators section. I'd put it after `?.` and `??=` in the TOC. Per the comment on #14727:

That's correct, there's no runtime difference between `x` and `x!`. It's only going to affect static analysis. (One implication of that fact is that `null!` is leg

[2019-09-29 20:00] BillWagner commented on #13420
Interesting GitHub side effect.  The phrase "I'd be happy to fix #nnnn" appears to have triggered the closing of this issue.

[2019-09-29 20:12] #14563 closed

[2019-09-29 21:00] mairaw opened #14801 "Retire WIF content"
The WIF content is no longer being maintained and is deprecated. It should be moved to the archive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d54b325-d292-fa24-7b3c-c4f3d823b28b
* Version Independent ID: 0a925f29-d208-58a9-ccff-06c920e9900b
* Content: [Windows Identity Foundation](https://docs.microsoft.com/en-us

[2019-09-29 21:05] mairaw commented on #4462
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:05] #4462 closed

[2019-09-29 21:06] mairaw commented on #9733
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:06] #9733 closed

[2019-09-29 21:06] mairaw commented on #5899
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:06] #5899 closed

[2019-09-29 21:07] mairaw commented on #5558
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:07] #5558 closed

[2019-09-29 21:07] mairaw commented on #5516
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:07] #5516 closed

[2019-09-29 21:08] mairaw commented on #5433
That content is being archived with PR #14801. It's not maintained any longer. So I'm closing this issue.

[2019-09-29 21:08] #5433 closed

[2019-09-29 21:13] mairaw commented on #14799
Thanks for your feedback @xantilon. We should just remove the interactive from the first sample. It doesn't work with this tutorial.

[2019-09-29 21:27] mairaw commented on #14786
Thanks @fds-alm. @KathleenDollard @livarcocc who can provide more info about these two? I think it would be good to add a paragraph about this difference in docs too.
I think supporting just dotnet test in the pipelines should be good. My understanding is that dotnet test supports all test projects and vstest runs the VSTest.Console command-line application.

[2019-09-29 21:33] tarikguney opened #14803 "No mention of the new access modifiers in interfaces in C 8.0"
The 8.0 proposal is talking about the `private` and `internal` modifiers in  interfaces in 8.0 but no mention of them in what's new page. This is a big change, which I believe should have been mentioned in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independe

[2019-09-29 21:46] mairaw commented on #14745
Thanks for your feedback @mdraphelkabir. You're right. I've added this to our backlog for next time we revisit this article and to our community contribution project. We'll gladly accept PRs to update the code.

[2019-09-30 03:27] #14799 closed

[2019-09-30 04:49] pkulikov commented on #13420
@BillWagner thanks for the reply. Let it be a separate page. I can work on this next week. If it's fine with you, please assign this issue to me.

Indeed, next time I will be more careful with the word "fix" :)

[2019-09-30 04:56] pkulikov commented on #14799
@BillWagner @mairaw are there any plans to update the try.net engine to .NET Core 3.0 and C# 8? Then a lot of new snippets can be made interactive.

[2019-09-30 05:01] mairaw commented on #14799
@LadyNaggaga can you comment on that?

[2019-09-30 05:03] mairaw commented on #13420
Yep, that's one of the magical words: https://help.github.com/en/articles/closing-issues-using-keywords#about-issue-references

[2019-09-30 07:03] mairaw opened #14806 "Missing the cover page"
Unlike the other books, this book doesn't have the cover image and usual disclaimers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6d7ad62-cf80-6434-940d-2798e3b3d035
* Version Independent ID: 9aa2fc2f-9253-03e2-003e-05f18f259c8f
* Content: [Introduction to Containers and Docker](https://docs.microsoft.com/en-us/dot

[2019-09-30 13:00] mcastse opened #14819 "Please check this example"
Even when the several obvious errors are corrected it doesn't work at all.
(e.g. there is no SentimentRazorML.Model.DataModels just SentimentRazorML.Model,
services.AddPredictionEnginePool&lt;ModelInput, ModelOutput&gt;() needs a semicolon,
public IndexModel(PredictionEnginePool&lt;ModelInput, ModelOutput&gt; predictionEnginePool)
{
    _predictionEnginePool = predictionEnginePool;
} doesn't seem

[2019-09-30 14:32] AndrasHorinka opened #14820 "Sample NamedPipeClient code results in Exception"
**Issue description**

&lt;Unhandled Exception:Unhandled Exception: Unhandled Exception: Unhandled Exception:  System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.&gt;

**Target framework**: .NET Core 2.2.401

<details>
<strong>.NET

[2019-09-30 15:02] BillWagner commented on #9662
Putting this in the backlog, because I don't think the story is set correctly yet.

[2019-09-30 15:03] Youssef1313 commented on #14819
This line you referred to isn't really just missing a semi-colon.
It's referenced from `machinelearning-samples` by line number, and it seems like the file in `machinelearning-samples` was updated but the referencing in docs didn't change. That's what caused the issue.

![image](https://user-images.githubusercontent.com/31348972/65890799-ca04d700-e3a3-11e9-93f5-9bcc2f76cf4a.png)

I think it should

[2019-09-30 15:10] luisquintanilla commented on #14819
@mcastse Sorry you're having trouble. Model Builder was recently updated and we're in the process of updating our docs to reflect those changes.

@Youssef1313 Yes. The line references need to be updated. In the process of doing that.

[2019-09-30 15:12] Youssef1313 commented on #14819
I've opened a PR for updating it already :)

[2019-09-30 15:53] BillWagner opened #14822 "Implement CI builds for PRs"
This is step 2. It would optimize PR builds so that only those projects / solutions that are effected by a change would be built.

[2019-09-30 15:53] BillWagner opened #14823 "Configure CI builds for all *.*proj and *.sln files"
This is step one for configuring CI builds for all samples. Once this step is done, we'll build the master branch whenever it is updated. We could do the same for live.

[2019-09-30 15:55] BillWagner opened #14824 "Clean and migrate snippets so all code is part of a project."
Many (almost all?) of the snippet folders are not included in a project, but they are included in articles. These need to be part of a project so that they are built and verified on a regular basis.

[2019-09-30 15:55] BillWagner opened #14825 "Identify and remove samples that aren't used in any documentation"
We think there are many.

[2019-09-30 16:08] Youssef1313 commented on #14825
Can you have a look at https://github.com/dotnet/samples/issues/1434, @BillWagner ?

[2019-09-30 16:16] mcastse commented on #14819
Thanks, now it works!
However, some responses are always surprising 😊, e.g. to Model Builder is neutral!

From: Youssef Victor <notifications@github.com>
Sent: 30 September 2019 16:04
To: dotnet/docs <docs@noreply.github.com>
Cc: mcastse <stephen_e_eldridge@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Please check this example (#14819)

This line you referred to isn'

[2019-09-30 16:21] sdg002 commented on #13821
Hi
I was unable to find the definitions for the methods `ApplyJam` and `ApplyButter`.  It is quite likely that all of these are implemented in the samples repository in Github.
While, I appreciate that you have put in efforts to provide the full source code via Github, I do not like the idea of frequently navigating out of the MSDN documentation. This destroys my mental model and makes my learning

[2019-09-30 16:29] sdg002 commented on #13821
This is how my experience was

- I begin reading through the article and encounter the first snippet of code
- I see a method `PourCofee`. I do a CTRL+F and I do not find anything on the page.
- Ignore and move on
- I see methods FryEggs and FryBacon. Again do a CTRL+F and find nothing. I patiently move on to the next line
- Move on to next snippet. I see a method `ToastBreadAsync` but as usual no

[2019-09-30 16:30] BrennanConroy opened #14828 "Breaking change in SignInManager constructor (new parameter)"
## Breaking change in SignInManager constructor (new parameter)

As part of adding support for new email/confirmation flows in Identity(https://github.com/aspnet/AspNetCore/issues/8356), we added a new `IUserConfirmation<TUser>` argument to the constructor of `SignInManager`

### Version introduced

3.0

### Old behavior

`SignInManager` didn't require `IUserConfirmation` when constructing.

### N

[2019-09-30 16:38] luisquintanilla commented on #14819
Great to hear it's now working for you @mcastse. If you'd like, you can try a different dataset for better results.

https://github.com/dotnet/machinelearning-samples/tree/master/samples/modelbuilder/BinaryClassification_Sentiment_Razor#try-a-different-dataset

The updates to the tutorial will be reflected later today or tomorrow the latest. Thanks again for raising the issue.

[2019-09-30 17:08] BrennanConroy opened #14832 "HttpResponse body infrastructure changes"
## HttpResponse body infrastructure changes

The infrastructure backing HttpResponse bodies has changed. If you're using HttpResponse directly you should not need to make any code changes. Read further if you were wrapping or replacing HttpResponse.Body or accessing HttpContext.Features.

### Version introduced

3.0

### Old behavior

There were three APIs associated with the response body: `IHttp

[2019-09-30 17:14] ErikApption opened #14833 "Wrong switch for R2R images?"
I'm not able to generate a R2R file with --self-contained true but /p:PublishSingleFile=true does work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NET Core 3.0](https://docs.microsoft.com/e

[2019-09-30 17:29] BrennanConroy opened #14834 "Breaking change in IAuthorizationPolicyProvider"
## Breaking change in IAuthorizationPolicyProvider

As part of aspnet/AspNetCore#9759 we added a new method to `IAuthorizationPolicyProvider.GetFallbackPolicyAsync` which is the policy that will be used by the authorization middleware when no policy is specified.

### Version introduced

3.0

### Old behavior

Implementations of `IAuthorizationPolicyProvider` didn't require a `GetFallbackPolicyAsy

[2019-09-30 18:15] HaoK opened #14835 "AllowSynchronousIO disabled in all servers"
## AllowSynchronousIO disabled in all servers

AllowSynchronousIO is a option in each server that enables or disables sync IO APIs like HttpReqeuest.Body.Read, HttpResponse.Body.Write, Stream.Flush, etc.. These APIs have long been a source of thread starvation and application hangs. Starting in 3.0.0-preview3 these are disabled by default.

Affected servers:
- Kestrel
- HttpSys
- IIS in-process
-

[2019-09-30 18:24] HaoK opened #14836 "Newtonsoft.Json types replaced in Microsoft.AspNetCore.Authentication APIs"
## Newtonsoft.Json types replaced in Microsoft.AspNetCore.Authentication APIs

As part of the ongoing effort to [remove](https://github.com/aspnet/AspNetCore/issues/4260) Newtonsoft.Json from the shared framework these types have now been replaced on the Authentication APIs.

**Basic usage of these Authentication packages should be unaffected.** Only users who have derived from the OAuth package o

[2019-09-30 19:27] msauper opened #14841 "Question regarding readonly"
I understand the error generated when Distance is not readonly.  I don't understand why you don't get new errors for X and Y not being readonly when you make Distance readonly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a964

[2019-09-30 20:12] Symbai opened #14842 "Install script is not creating registry values"
The install script for Windows is not creating registry values like the Installer on dot.net does. This is a problem because I'm programmatically using these registry keys to determine if .NET Core is installed and use the script if not but since the script is not creating the registry keys its repeating itself.

Could it be the installing script just downloads the zipped binaries and copy them to

[2019-09-30 20:33] rynowak opened #14843 "Google+ based auth deprecation and replacement"
## Google+ based auth deprecation and replacement

Google is starting to [shut down](https://developers.google.com/+/api-shutdown) Google+ Signin for applications as early as January 28th 2019. ASP.NET and ASP.NET Core have been using the Google+ Signin APIs to authenticate Google account users in web applications. The affected NuGet packages are [Microsoft.AspNetCore.Authentication.Google](https:

[2019-09-30 20:41] rynowak opened #14844 "Session: obsolete APIs removed in 3.0"
## [Change Title]

This change removes APIs for configuring session cookies that were marked obsolete as part of https://github.com/aspnet/Announcements/issues/257

### Version introduced

3.0

### Old behavior

Obsolete APIs were present in the runtime.

### New behavior

Obsolete APIs were removed.

### Reason for change

This change makes our APIs for configuring features that use cookies consi

[2019-09-30 20:52] #14819 closed

[2019-09-30 21:06] RicoSuter commented on #9662
I implemented my own lib for nullability reflection: https://github.com/RicoSuter/Namotion.Reflection/blob/master/README.md#nullability-reflection-c-8

Now used in NSwag and NJS

[2019-09-30 21:10] BillWagner commented on #14698
I agree we should update the docs with this information. I checked the spec on recursive patterns, and I don't see confirmation for that decision.

/cc @gafter to verify the suggestion above for precedence of the switch expression is correct.

[2019-09-30 21:13] BillWagner commented on #14781
Thanks for pointing this out @sungam3r

This was fixed in #14750

It was merged yesterday, and should be live later today.

[2019-09-30 21:13] #14781 closed

[2019-09-30 21:24] BillWagner commented on #14787
Thanks for raising this issue @kinglionsz

Many of the samples in the C# Language Specification are meant to show one possible implementation to demonstrate how a language feature might be used. As such, they aren't meant to be run "as is" with the current .NET environment. Instead, these are meant to show how language features could be used to express a design.

The spec is not the best learning

[2019-09-30 21:24] #14787 closed

[2019-09-30 21:25] BillWagner commented on #14797
Checking with @cartermp to make sure we have the correct final design decision here.

[2019-09-30 21:27] jkotalik opened #14845 "SignalR HubConnectionContext constructors changing"
## SignalR HubConnectionContext constructors changing

We are changing SignalR's HubConnectionContext constructors to take in an options type rather than multiple parameters to future proof adding options. This removes two constructors in favor of a single constructor which takes an option type.

### Version introduced

3.0

### Old behavior

Prior to 3.0 `HubConnectionContext` had two constructor

[2019-09-30 21:27] BillWagner commented on #14841
That's a great question @msauper

Making `Distance` a `readonly` method means that it cannot call a method or property accessor that isn't marked `readonly`. In the initial implementation, neither `X` nor `Y` had the modifier. Therefore, it must be added.

I'm adding this to our backlog to update the next time we visit this article. I've also added the "up for grabs" label for community contributo

[2019-09-30 21:28] cartermp commented on #14797
Yes, this should now be .NET Standard 2.1. For a time that was not true.

[2019-09-30 22:01] jkotalik opened #14847 "Microsoft.Extensions.Caching.SqlServer is now using the new Microsoft.Data.SqlClient package"
## Microsoft.Extensions.Caching.SqlServer is now using the new Microsoft.Data.SqlClient package

The Microsoft.Extensions.Caching.SqlServer package will use the new Microsoft.Data.SqlClient package instead of System.Data.SqlClient package. This change could cause slight behavioral breaking changes. See https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/ for more infor

[2019-09-30 22:01] #14797 closed

[2019-09-30 22:03] mairaw commented on #14842
Thanks for your feedback @Symbai. @johnbeisner can you please comment on this issue about the install scripts?

[2019-09-30 22:08] mairaw commented on #14833
Given that you're providing a runtime identifier to that command, in theory, you wouldn't have to pass `--self-contained` since the default is true.

I'll fix that.

[2019-09-30 22:22] johnbeisner commented on #14842
@Symbai
The install scripts do not create a registry key values. You are correct, the install scripts just downloads the zipped binaries and copies them to a folder. If you need the registry key values, use the .NET installers.

[2019-09-30 22:45] sdmaclea opened #14849 "Needs update for 3.0"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet?tabs=netcore21#synopsis
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet?tabs=netcore21#dotnet-commands
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet?tabs=netcore21#environment-variables

Sections specifically documents commands per version. .NET Core 2.2 and 3.0 are missing.

Consider removing 2.0/1.x sections as these

[2019-09-30 22:56] mairaw opened #14850 "Breadcrumb has broken links"
Getting started link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 329e32a3-766c-1739-022b-5d1a8bc6f4aa
* Version Independent ID: d74a678c-d9b5-90c4-cd63-8451fefaa887
* Content: [Hello World app with WPF in C# - Visual Studio](https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-wpf?toc=

[2019-09-30 23:32] wadepickett commented on #14237
@mairaw, sorry I missed this, as the original issue branched to a few others I forgot about this one on the dotnet repo.  If you can take it, great. If not it will have to wait a few days for me to get to it.  I'm in the middle of working on two others.  Moved it to October.

[2019-09-30 23:50] mairaw commented on #14842
Thanks for confirming @johnbeisner. Do you know what registry keys are we talking about here? I think it would be worth adding a note to the docs about this.

[2019-10-01 00:01] mairaw commented on #14237
I'll let you handle this one unless we need help.

[2019-10-01 00:11] mairaw commented on #14849
Thanks @sdmaclea. Updating the CLI reference is in progress and tracked by issue #9893.

[2019-10-01 00:11] #14849 closed

[2019-10-01 00:17] BillWagner commented on #14624
Thanks for writing these @limbioliong

I like your suggestion. You've specified what should change with enough detail that I've added the "up for grabs" label in case a community member wants to address it.

We'll address this when we next update this article.

[2019-10-01 01:02] BillWagner commented on #14683
That's a great suggestion @WilliamBerryiii

I've added it to our backlog to update when we next visit this aarticle.

[2019-10-01 01:04] BillWagner commented on #14687
That's a good question @matkoch

Adding @KathleenDollard who may know the answer.

[2019-10-01 01:07] BillWagner commented on #14688
Ping @joelmartinez @dend

This is an important suggestion from @tmds  We should add the `ref` modifier in our docs where applicable.

[2019-10-01 01:11] GrabYourPitchforks commented on #12853
I'd probably outline it as such:

 * How to craft types that are safe to receive deserialized data
 * A list of known-good deserializers and their known-good settings
 * Common pitfalls and anti-patterns when dealing with untrusted data in general

There is an absolutely _enormous_ amount that can be written about this. Hundreds and hundreds of pages worth of information. I don't know what scope a

[2019-10-01 01:18] BillWagner commented on #14701
@mrlife

I just tried on my machine, and those commands do remove everything. Can you add the output from `dotnet --info`, `dotnet --list-sdks` and `dotnet --list-runtimes` for us to understand what's going on?

[2019-10-01 01:21] ErikApption commented on #14833
So after multiple tests,  --self-contained did not make any difference but /p:PublishSingleFile=true was necessary to make the R2R work.

[2019-10-01 01:22] BillWagner commented on #14718
@khanhankkhan

No, the TFMs only change with new release numbers, not previews. That way, your project files don't need to be updated whenever a new preview comes out.

I'll close this as answered.

[2019-10-01 01:22] #14718 closed

[2019-10-01 01:24] BillWagner commented on #14726
Thanks @pkulikov  I've assigned this to you.

[2019-10-01 01:27] BillWagner commented on #14784
Thanks for bringing this to our attention @ashmind I've added it to our backlog to update.

[2019-10-01 01:34] BillWagner commented on #14774
That's a good question @GreatFireWall

The answer is "it depends."  What you need to do in any derived class is to make sure that `Dispose` can be called multiple times without error. Whether you track that with a flag (as in these examples), or set internal fields to `null` is is entirely your design decision.

I'll close this as by-design.

[2019-10-01 01:34] #14774 closed

[2019-10-01 01:35] BillWagner commented on #14803
Thanks for writing this @tarikguney

Related: #12489 #12490

I'll add this to the current sprint, as we'll add it while working on those issues.

[2019-10-01 01:42] BillWagner commented on #12853
Thanks @GrabYourPitchforks

I think for this issue, the right answer is to give an overview, and make developers aware of the issues. Then I think providing links to other industry resources where they can read more would be wise.

As it's a very complex topic, complete coverage is outside of scope.

[2019-10-01 02:04] mairaw commented on #14681
Thanks @winaterion. @janvorli can you help with this feedback?

[2019-10-01 02:08] mairaw commented on #14625
Thanks for your feedback @JulioNobre. @jamshedd @vivmishra @NKarnam15 can one of you help to confirm this information for .NET Framework 4.6.1?

[2019-10-01 02:31] twocs opened #14852 "What to do with the XML Documentation?"
This documentation is nice, and it's human readable. It allows us to create XML documentation from our code. But the XML documentation is not human readable. Thus, this documentation is missing the important next step:
How does the XML get used for actual documentation purposes (for humans)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-10-01 02:34] twocs commented on #14852
Actually I found that there's a sentence in the first page of this doc: "To create the final documentation based on the compiler-generated file, you can create a custom tool or use a tool such as DocFX or Sandcastle."
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/

It's easy to miss that so can there be something in the "See also"?

[2019-10-01 02:45] mairaw commented on #14626
Hi @uKER, thanks for your feedback.

I think on simple examples that might be true, but you also have to consider that regular expressions are used combined with other patterns.

I just tested on a quick program and using those patterns in combination with others produces different results. So, I think we should keep the description as-is.

Consider:

[code]

You can give this code a try at https:

[2019-10-01 02:45] #14626 closed

[2019-10-01 03:00] dav101 opened #14855 "Cannot build Transfer Learning sample project"
**Project fails to build from sample tutorial TransferLearningTF when reading from [image_list.tsv](https://github.com/dotnet/samples/blob/master/machine-learning/tutorials/TransferLearningTF/assets/inputs-predict/data/image_list.tsv).**

The file is not using tab seperator correctly, when open the file appears:
broccoli.png
pizza3.jpg
teddy6.jpg

Which appears correct for tsv file but if opened i

[2019-10-01 03:06] mairaw commented on #14825
One comment I'd make regarding this. Please make a backup branch of the samples repo before running the clean-up. I still run into issues with samples dropout from previous migrations, so it would be good to have an easy way to recover samples, when needed.

[2019-10-01 03:08] Padanian opened #14857 "formatting-utility project fails to load in vs2019 16.2.3"
formatting-utility project fails to load with a generic "one or more errors" message.
It fails to load both as part of the samples repo and as a single release project too.
It fails to load both as vbproj and as csproj too.

[2019-10-01 03:09] mairaw commented on #14857
@rpetrusha can you look at this feedback?

[2019-10-01 03:09] jamshedd commented on #14625
I recall the 4.6.1 installer had a bug and didn't correctly block on unsupported platforms. The customer should use the documentation as the definitive source of what is supported. Installing the 4.6.1 product on an unsupported platform will result in the machine not getting patched.

[2019-10-01 03:13] mairaw commented on #14858
@rpetrusha can you take a look at this?

[2019-10-01 03:33] NextTurn opened #14859 "Docs about <OutputType>"
Some of the default values/behaviors are present only when `<OutputType>` is specified as `Exe`. For example, `dotnet build` doesn't produce a *.runtimeconfig.json* if `<OutputType>` is omitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-00dc-417c-db017f83bf6f
* Version Independent ID: 5e495ddd-140e-d

[2019-10-01 04:18] jaredpar commented on #14474
@cartermp

[2019-10-01 08:52] MaxTranced commented on #14082
Um.... N00bish, I cannot figure out how to submit a PR with https://github.com/MaxTranced/docs/commit/6319bcbae6e35e2252edf03457d83146f43309b6

[2019-10-01 08:58] mcastse commented on #14819
You might also like to check:

If you need to reference the Model Builder generated projects at a later time inside of another solution, you can find them inside the C:\Users\%USERNAME%\AppData\Local\Temp\MLVSTools directory.

I couldn’t find anything matching this, though, annoyingly, building the project has used rather a lot of valuable SSD boot disk space and I can’t tell exactly where the mor

[2019-10-01 09:24] Padanian commented on #14857
Issue is solved as of vs2019 16.3.1 with latest repo commit.

[2019-10-01 09:24] Padanian commented on #14858
Issue is still present in latest commit.

[2019-10-01 09:34] JulioNobre commented on #14625
Ok. We will stick upon documentation. Thanks for your clarification.

[2019-10-01 09:34] #14625 closed

[2019-10-01 10:31] janvorli commented on #14681
The problem is in the newtonsoft json, not in the plugin having dependencies in general. The newtonsoft json cannot be unloaded due to some of its internal implementation details. See the https://github.com/dotnet/coreclr/issues/26271 for more details.

[2019-10-01 10:40] Symbai commented on #14842
Maybe it shouldn't be called install script then but download script. It is misleading to have a install script near installers where the script only downloads a zip and copies files where the installers do different things.

Sadly I can't use the installer as the "install" script is the only way to programatically "install" .NET Core because the Installers are only available with hardcoded links

[2019-10-01 11:10] tbolon opened #14862 "Documentation is outdated and too vague"
- This documentation uses the 1.0.0 version of the package. The current version on nuget is [2.1](https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator).
- This documentation says that you should add both PackageReference and DotNetCliToolReference. The DotNetCliToolReference does not seems to be required (as it's included in the MSBuild .props file in the package)
- The sample should u

[2019-10-01 11:25] mrdnote commented on #14474
In meanwhile, to circumvent these warning issues, one can define own compiler attributes in .NET Standard library (or use one available from github https://github.com/manuelroemer/Nullable) and then write your own Asserts to use these attributes.

[2019-10-01 12:09] PeterPann23 opened #14863 "JSON injection security vulnerability mittigation by signed json streams/ text files"
**Feature Request**
I have noticed that some json streams/files are getting manipulated. in order to be able to identify manipulation at the moment we +self-sign+ the stream in a similar way that one signs a PowerShell script. Other developers that need to do this at the moment we have 3 choices:

1. Pray that nobody manipulates files, injects or manipulates streams
2. Encrypt the json
3. Calculat

[2019-10-01 13:02] mrlife commented on #14701
@BillWagner I believe this shows all the information. You can see that some things are installed in the `Microsoft.AspNetCore.All` folder, which is referenced in [Determine what is installed](https://docs.microsoft.com/en-us/dotnet/core/versions/remove-runtime-sdk-versions?tabs=macos#determine-what-is-installed) but not [Uninstalling .NET Core](https://docs.microsoft.com/en-us/dotnet/core/versions