[2016-06-13 07:08] mairaw commented on #514
I think that the recommended is to have 3 levels @BillWagner. The C# area only has 2, so adding the missing entries shouldn't be an issue right?

[2016-06-13 14:21] svick commented on #514
@BillWagner I think they mostly stand on their own. But I think keeping the Previous and Next links would be fine too.

[2016-06-13 14:46] BillWagner commented on #514
@mairaw Thanks for clarifying. I just wanted to be consistent.

@svick I would prefer keeping the _previous_ and _next_ links as well as adding these articles into the TOC. Do you want to make those changes?

[2016-06-13 15:17] BillWagner commented on #511
@svick You're right. `ExpressionVisitor` should be mentioned and highlighted.

I'd like to keep the content that creates the custom visitor. It does help readers learn about Expression Trees in general, and how to treat code as a data structure. Do you want to create a pull request for this?

[2016-06-13 15:37] BillWagner opened #519 "Teleprompter tutorial: Small errors"
•	In the prerequisites:
o	". This tutorial uses Visual Studio Code which is an open source, cross platform editor. However, you can use whatever tools you are comfortable with." -- I didn't actually see anything specific to VS Code in the tutorial.

/cc @tdykstra

[2016-06-13 15:54] BillWagner opened #520 "Teleprompter Tutorial: Add a bit more explaination about how Async and Await work"
The sentence "The method returns when execution must pause for an awaited Task. " is confusing for any reader that doesn't already understand async/await.  More explanation should go here, without totally disrupting the flow.

/cc @tdykstra

[2016-06-13 16:08] BillWagner opened #521 "Teleprompter Tutorial: Update sample to include code missing toward the end"
Everything after the initial `async` section is missing in the repository. Not sure why.

/cc @tdykstra

[2016-06-13 16:43] svick commented on #514
@BillWagner Yeah, I will make the changes.

[2016-06-13 16:57] svick opened #522 "Inconsistent heading styles"
The styles of the various heading levels aren't consistent with what level they represent. I noticed this on the [Async in F#](https://dotnet.github.io/docs/async/async-fsharp.html#a-note-on-threads) article, where the level 3 heading *A Note on Threads* looks much larger and bolder than the level 2 heading *How to Add Parallelism to Async Code*:

![](http://i.imgur.com/nuEVPT6.png)

The overall s

[2016-06-13 17:05] BillWagner commented on #522
@bradygaster is this tracked internally?

[2016-06-13 17:08] mairaw commented on #522
I ran into the same issue last week while writing a new topic and @blackdwarf pointed out it was a CSS problem with the site.

[2016-06-13 17:33] tdykstra commented on #466
Closed by #508

[2016-06-13 17:33] #466 closed

[2016-06-13 17:35] tdykstra commented on #299
Closed by #508

[2016-06-13 17:35] #299 closed

[2016-06-13 17:36] tdykstra commented on #298
Closed by #508

[2016-06-13 17:36] #298 closed

[2016-06-13 17:37] BillWagner commented on #482
Closed per #508

[2016-06-13 17:37] #482 closed

[2016-06-13 20:08] piotrpMSFT opened #525 "Getting a 404 for some of our documentation"
## Steps to reproduce
https://dotnet.github.io/docs/getting-started/getting-started/cli-console-app-tutorial.md

## Expected  behavior
I should see the tutorial

## Actual behavior
I get a 404 page

## Environment data
`dotnet --info` output:

moved from https://github.com/dotnet/cli/issues/3534 on behalf of @chrisboh

[2016-06-13 20:11] mairaw commented on #525
How are you getting to this URL? The right one would be https://dotnet.github.io/docs/getting-started/cli-console-app-tutorial.html

[2016-06-13 20:13] piotrpMSFT commented on #525
@Chrisboh

[2016-06-13 20:30] svick commented on #525
I see this link in [Getting Started](https://dotnet.github.io/docs/getting-started/index.html) (the article, not the left-hand TOC). I plan to go through these TOC articles when fixing #514, so I'll fix this there too if nobody does it before then.

[2016-06-13 20:54] mairaw commented on #525
Thanks @svick. I'll fix that one since we're still discussing the TOC changes. @Chrisboh, please confirm that's where you saw that 404. Thanks!

[2016-06-13 20:57] #468 closed

[2016-06-13 21:19] Chrisboh commented on #525
@svick Yes that is the link I clicked that caused this.

[2016-06-13 22:19] cartermp commented on #514
async/async-fsharp.md: Maybe put it under Learning F#? Or delete it, unless more coverage on F# is planned.

These will eventually have a place.  #214 will be where that happens.  I'll probably get around to updating those post-.NET Core RTM.

[2016-06-14 01:23] stevehoag opened #527 "Combine programming language topics and update for RTM"
Really no need for two separate topics covering .NET programming languages. Let's combine them into one, and update to say that F# is now supported and we're planning on supporting Visual Basic in the future.

[2016-06-14 02:13] #525 closed

[2016-06-14 13:15] #511 closed

[2016-06-14 15:32] tdykstra commented on #290
Closing this issue, will use #306 to track the overall NuGet doc mentioned in #306.

[2016-06-14 15:32] #290 closed

[2016-06-14 15:33] tdykstra commented on #291
Closing this issue, will use #306 to track the overall NuGet doc mentioned in #306.

[2016-06-14 15:33] #291 closed

[2016-06-14 15:33] tdykstra commented on #292
Closing this issue, will use #306 to track the overall NuGet doc mentioned in #306.

[2016-06-14 15:33] #292 closed

[2016-06-14 15:33] tdykstra commented on #293
Closing this issue, will use #306 to track the overall NuGet doc mentioned in #306.

[2016-06-14 15:34] #293 closed

[2016-06-14 15:49] #280 closed

[2016-06-14 18:55] BillWagner commented on #282
@tsolarin I looked over what you've completed so far. It's a good start. As you keep working, I'd like to see more of an emphasis on *why* readers should perform any of the steps you mention: Explain to readers why to create a global.json. Explain why to use the 'src' and 'test' directories for different projects.

As you go through every step, help the reader understand why they should be taking

[2016-06-15 13:11] #519 closed

[2016-06-15 13:11] #520 closed

[2016-06-15 13:11] #521 closed

[2016-06-15 16:02] svick opened #538 "Article headings do not wrap correctly"
When article heading is longer than the space reserved for it, the heading is often wrapped inside a word. This happens for example with [Building simple C# solutions with Visual Studio](https://dotnet.github.io/docs/scenarios/solution-authoring/vs-golden-path.html):

![](http://i.imgur.com/aLCrfaA.png)

Notice how the word "Visual" is split into "Visua" and "l".

I think article headings should b

[2016-06-15 16:18] svick opened #539 "Expandable and non-expandable items in the TOC are not aligned"
The alignment of expandable items (those with sub-articles) and for non-expandable items (without sub-articles) in the site TOC is different. Specifically, the left side of expandable items is more to the right.

This is best visible in their highlight boxes:

![](http://i.imgur.com/hQ1NGKd.png)

Here, the left border of the dark blue (selected) box for *What is the .NET Core Platform?* is to the

[2016-06-15 19:11] tsolarin commented on #282
HI @BillWagner thanks for taking a look, I'll get to incorporating your feedback ASAP. Let's just say I've kinda been waiting for someone to take a look at it so I could have an idea of how to proceed, I can definitely finish it up

[2016-06-15 19:21] BillWagner commented on #282
@tsolarin Sounds good. Just add a note here and '@' mention me and I'll look again.

[2016-06-15 23:09] #514 closed

[2016-06-15 23:54] mairaw opened #543 "404 for main collections topic"
After we removed the index.md file from the collections folder, this link is broken and gives a 404:
https://dotnet.github.io/docs/essentials/collections/collections-and-data-structures.html

Local build works fine and other directories with similar structure work fine too, such as:
https://dotnet.github.io/docs/essentials/exceptions/exceptions.html

Do I need an index.md file for a TOC node?

/cc

[2016-06-16 00:03] svick commented on #543
The old URL (from before 28290f6) works for me: https://dotnet.github.io/docs/essentials/collections/Collections-and-Data-Structures.html.

Could that be the cause of the problem?

[2016-06-16 05:27] chenkennt commented on #543
This is file name casing issue, the actual page is:
https://dotnet.github.io/docs/essentials/collections/Collections-and-Data-Structures.html
But actually the file name in GitHub is lower case.
@qinezh please help fix.

[2016-06-16 06:59] mairaw commented on #543
we renamed all the files to lowercase so not sure if it's something stale on the build server or what.

Also, please advise if it's good practice to have the index.md file for TOC nodes. It seems that if we want to access the directory without any file name, having the index.md would accomplish that.

[2016-06-16 07:06] qinezh commented on #543
It's fixed after set `git config core.ignorecase false`. By default, git would consider that `fileName.txt` is same as `FileName.txt`.

[2016-06-16 07:38] mairaw commented on #543
Thanks @qinezh!

[2016-06-16 07:38] #543 closed

[2016-06-16 16:10] qinezh commented on #501
Hi @rpetrusha , it's fixed now

[2016-06-16 16:13] qinezh commented on #440
Hi @svick , it's fixed now

[2016-06-16 16:16] #440 closed

[2016-06-16 16:19] svick commented on #313
This seems to be fixed now.

[2016-06-16 16:19] #313 closed

[2016-06-16 16:30] svick opened #547 "Inheritance and Inherited Members sometimes contain non-Core types"
The Inheritance and Inherited Members section for some types in API reference contain members that are not in .Net Core.

For example, this happens for [`FileStream`](https://dotnet.github.io/api/System.IO.FileStream.html): its Inheritance contains `MarshalByRefObject()` and its Inherited Members contain several incorrect members, including `Close()`.

I can't discern any pattern where this happen

[2016-06-16 16:34] svick opened #548 "Inherited explicitly imeplemented members are not linked correctly in Inherited Members"
The list of Inherited Members for [`ReadOnlyObservableCollection<T>`](https://dotnet.github.io/api/System.Collections.ObjectModel.ReadOnlyObservableCollection%601.html) contains several members that are explicitly implemented and inherited from `ReadOnlyCollection<T>`. But those members are not linked in the list and are shown with their full name, e.g.: `System.Collections.ObjectModel.ReadOnlyCol

[2016-06-16 17:25] mairaw commented on #548
@chenkennt, is this new functionality? I don't remember seeing this section before. We should talk about this implementation. @bradygaster

[2016-06-16 17:29] #501 closed

[2016-06-16 17:46] mairaw commented on #547
Yes, it's showing the inheritance for the Framework somehow. Maybe something happened in the latest changes from docfx?

/cc @bradygaster, @chenkennt

[2016-06-16 18:05] rpetrusha commented on #548
It has numerous problems, including mislabeling some members (in [FileStream](https://dotnet.github.io/api/System.IO.FileStream.html), there's link to an inherited Stream.Null field that's incorrectly named FileStream; and .NET Framework and .NET Core inherited members are shown. But it would be better to list inherited members in the member's list, and not in a separate list of inherited members.

[2016-06-16 18:54] cartermp commented on #538
/cc @bradygaster

[2016-06-17 01:06] #499 closed

[2016-06-17 01:24] mairaw opened #551 "Create a page for release notes"
This page would list the several releases and point to the release notes on the core repo: https://github.com/dotnet/core/tree/master/release-notes/

[2016-06-17 01:26] mairaw commented on #464
On PR #531, we've decided not to bring the known issues topic to the documentation site. Closing this.

[2016-06-17 01:26] #464 closed

[2016-06-17 01:56] cartermp commented on #248
tag #545 to remember to collapse the table

[2016-06-17 03:40] chenkennt commented on #547
@mairaw we recently added the inherited members to our default template as we think it's useful information to user. If it's not a desired behavior for .NET Core, we can remove that in .NET Core template.

[2016-06-17 03:45] chenkennt commented on #548
@vwxyzh please help take a look

[2016-06-17 05:21] mairaw commented on #547
@chenkennt it's useful information and we do have bugs filed tracking the lack of that information. However, I don't think we ever discussed the design of this and it's showing the wrong information in some cases.

[2016-06-17 13:31] svick opened #553 "Use docfx syntax for notes"
[docfx has special syntax for notes](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html#note-warning-tip-important-):

[code]

This syntax is used in some articles, e.g. [*How to use the Try/Catch block to catch exceptions*](https://dotnet.github.io/docs/essentials/exceptions/exceptions-use-try-catch-block.html):

![](http://i.imgur.com/arHEcgS.png)

But some articles use this syntax

[2016-06-19 10:39] ALenfant commented on #397
Hello. These docs would be very interesting as a developer often on the go. Any news about the license?

[2016-06-19 15:15] SamuelEnglard commented on #494
I've started! https://github.com/SamuelEnglard/core-docs/blob/doc-code/docs/languages/csharp/codedoc.md

[2016-06-19 18:48] SamuelEnglard commented on #553
Personally I much prefer the second style, and I'm using it myself. I've made a slight modification based on MSDN library though:

[code]

[2016-06-19 18:59] svick commented on #553
@SamuelEnglard I think that documentation should have consistent style, not every author using their own style.

And with the special syntax, it should be easy to modify the look using CSS.

[2016-06-19 19:05] SamuelEnglard commented on #553
@svick I was not suggesting we each use our own style, if I sounded that way my bad.

And I'm not seeing how the special syntax allows that?

[2016-06-19 19:25] svick commented on #553
@SamuelEnglard

[code]

generates:

[code]

which means it can be styled using CSS.

On the other hand

[code]

is just a normal quote, so it generates:

[code]

so it can't be easily styled to look different than a quote.

[2016-06-19 21:11] SamuelEnglard commented on #553
Ah, that is a good point

[2016-06-19 22:37] SamuelEnglard commented on #494
Posting Questions I asked @BillWagner on Twitter here:

[2016-06-20 03:53] richlander commented on #397
Cool! We'd be interesting in having .NET docs showing up there.

Two major points:

- Some of the content is not open open source yet, as @mairaw says. This is purely point-in-time, a result of transitioning a closed engineering system from closed to open. This will be resolved this calendar year.
- We use CC-BY for docs and MIT for code. I'm guessing that those work for you since they are quite f

[2016-06-20 06:43] mairaw commented on #494
Great @SamuelEnglard.

Can you give an example of what are non-standard tags that are used in Sandcastle @SamuelEnglard? I  agree with @BillWagner on his answers but would like to know what were those tags.

[2016-06-20 06:54] mairaw commented on #553
Hi @svick, I agree with you. We'll be working on achieving consistency across the docs in this aspect and in other aspects in the next few weeks and also having that information available to everyone contributing to our docs. We're going to be using the docfx one across the board. The style will also change to make the note delimitation more noticeable.

[2016-06-20 14:40] tsolarin commented on #282
@BillWagner I've made some considerable updates to my branch. Do take a look

[2016-06-20 14:45] BillWagner commented on #282
@tsolarin I saw the previous versions.  I'll pull that into my branch, and update my PR.

Then, I think once we get reviews, this can get merged.

In the meantime, if you submit a .NET Foundation CLA, it will be make the merge happen faster: https://cla2.dotnetfoundation.org

Thanks again for contributing.

[2016-06-20 15:01] tsolarin commented on #282
@BillWagner I've signed the agreement. I'll take a look at more content I can help out with, thanks for the opportunity

[2016-06-20 15:26] SamuelEnglard commented on #494
These are one's I've personally used for example.

This element is used to list events that can be raised by a type's member.
[`<event cref="eventType">description</event>`](http://ewsoftware.github.io/XMLCommentsGuide/html/81bf7ad3-45dc-452f-90d5-87ce2494a182.htm)

This element is used to indicate that a particular type or member is preliminary and is subject to change.
[`<preliminary />` or `<pr

[2016-06-20 17:25] mairaw commented on #494
Thanks @SamuelEnglard for this list. From a recent exercise with the dev team, I know they wanted us to use the <see langword> in our /// comments and VS actually colorizes the word differently. But see href didn't work as expected when generating xml documentation from the code.
I'd start with the basic recommended ones for now and I'll see if there's any plan to add support these keywords later

[2016-06-20 17:30] SamuelEnglard commented on #494
@mairaw of those I admit `<see langword>` is my favorite. And my coworkers can tell you I go nuts on XML comments.

I'll stick to the basic ones for now. Simple enough. Thanks!

[2016-06-20 17:43] BillWagner commented on #494
@SamuelEnglard I don't know of any plans to extend the C# spec for new XML elements in doc comments.

/cc @MadsTorgersen

Should a discussion of new XML Comment grammar move to the Roslyn repo?

[2016-06-20 18:31] SamuelEnglard commented on #494
@BillWagner I don't know of any either (though I admit I suspect you keep a close ear on these things than I do).

My reasoning for wanting to add them is that they are useful and are understood by tooling (even VS)

[2016-06-20 19:05] blackdwarf opened #561 "Add documentation on how referencing assets external to one's project is done in .NET Core"
As we released RC2 and a lot of people started picking it up, there were issues in the dotnet/cli repo (like dotnet/cli#3590 for example or dotnet/cli#3633 as well) where it shows our users are confused on how to add external code assets (like libraries or other projects) to their projects. More to the point, I think that there is some surprise about the fact that in .NET Core you don't really dea

[2016-06-20 20:07] #281 closed

[2016-06-20 20:48] stevehoag opened #563 "Update API reference links"
Update all API reference links in the docs to point to the new location on docs.microsoft.com

[2016-06-21 12:23] radu-matei commented on #53
Hi, everyone!

I would like to start contribuiting on the .NET Core documentation and I was wondering (not sure if this is the right issue for it, but anyway) wether we might use some code and documentation I have already developed for [introducing C# to newer audiences - It is a separate repository with various examples and documentation.](https://github.com/microsoft-dx/csharp-fundamentals/tree/

[2016-06-21 16:17] stevehoag commented on #527
Closing - this content was incorporated into another article.

[2016-06-21 16:17] #527 closed

[2016-06-21 17:12] mairaw opened #576 "Need to remove RC2 references and update version numbers for the RTM release"
We have several topics that are still targeting RC2 and contain the package numbers for RC2. They need to be reviewed for RTM.

For example:
https://dotnet.github.io/docs/scenarios/library-authoring/trimming.html
https://dotnet.github.io/docs/scenarios/library-authoring/fastening-libraries-to-rc2.html

[2016-06-21 22:12] #563 closed

[2016-06-22 02:00] cartermp commented on #576
Yup, I'll handle this and update version numbers to be fixed for RTM as well.

[2016-06-22 02:09] BillWagner commented on #576
@cartermp I'd started putting together a bash / sed script to find (and later update) occurrences of the rc2 build in md and project.json files. I'll be working on it a bit more tomorrow, if that would help.

[2016-06-22 15:19] BillWagner opened #586 "Meta-issue to surface samples, cross-link between prose topics and source code"
There are a few issues with the samples we have written for this repository.

- [x] They are not surfaced with appropriate prominence in the TOC
- [x] Many of the samples do not have a readme.md. The readme.md should briefly describe the project, and link to the prose topic for more details.
- [x] The prose topics should have a prominent link to the code. Suggested text "Get the code". Suggested l

[2016-06-22 21:10] BillWagner commented on #586
After some discussions, here is the proposal:

1.       The /samples folder will contain all the sample code. The /samples folder will contain folders that match the top level folders from the doc's TOC.
2.       Every sample will have a readme.md that (where applicable) will point back to the prose that describes the sample.
3.       The ‘samples’ node in the main TOC is more of a list or index o

[2016-06-23 18:51] #282 closed

[2016-06-24 18:14] BillWagner opened #608 "Create C# Concepts topic"
This article will fill in the C# concepts overview topic.

[2016-06-24 18:36] patrickjamesbarry opened #610 "Tools section in doc needs love"
I am pretty excited about how you can write your own tool, however I feel like the docs only scratch the service on helping a user get started.   Here are 2 tickets I have been posting my questions to, that you can use to help enrich what  you currently have: https://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html

Some of it is covered in these pages and I must have overlooked

[2016-06-24 18:42] mairaw commented on #610
Thanks @patrickjamesbarry. I'll take a look at the issues you've posted and see how we can improve that doc.

[2016-06-25 00:56] Rick-Anderson opened #623 "need doc on migrating dnx unit test projects to dotnet unit test projects"
@cesarbs

[2016-06-25 02:09] svick opened #625 "Articles not in the TOC, round 2"
After recent changes to the TOC and before Monday's launch, it seems it's time to revisit #514 again.

So, articles that I believe should be in the TOC but aren't:

* [core/app-types.md](https://github.com/dotnet/core-docs/tree/master/docs/core/app-types.md),  [core/packages.md](https://github.com/dotnet/core-docs/tree/master/docs/core/packages.md),  [core/sdk.md](https://github.com/dotnet/core-do

[2016-06-25 08:56] svick opened #627 "Local docfx build is now much less useful"
Note: I realize this is not going to be high priority right now, so feel free to ignore this for the moment.

Until recently, running docfx locally on this repo created a full site pretty much equivalent to http://dotnet.github.io/, that was useful for checking pretty much anything about the documentation.

But now, presumably due to the move to docs.microsoft.com, running docfx produces just the

[2016-06-25 09:03] mairaw commented on #627
That's really a coincidence. I had just sent an email to the team asking about this. I'll keep you up-to-date on what I find out.
@chenkennt suggested that the community should continue to use docfx now. It worked for me up until yesterday. I'll give it a try in the morning again and see what I get.

[2016-06-25 09:42] svick commented on #627
Thanks.

[2016-06-25 20:42] #586 closed

[2016-06-25 21:20] #300 closed

[2016-06-26 17:32] richlander opened #652 "Move APIPort Docs to core-docs"
These docs would get much more readership in core-docs and are appropriate for the doc-set.

https://github.com/Microsoft/dotnet-apiport/blob/master/docs/HowTo/Introduction.md

/cc @twsouthwick, @conniey

[2016-06-26 18:07] richlander opened #654 "Developing w/o an Internet Connection / Offline"
We need a topic on this experience. It's more a set of patterns and how we think about it.

[2016-06-26 19:36] #314 closed

[2016-06-27 02:10] richlander opened #662 "Create Tutorial on Azure EasyAuth"
Would be great to see a nice ASP.NET Core tutorial on this, in our Tutorials directory.

Info: https://azure.microsoft.com/en-us/documentation/videos/azure-websites-easy-authentication-and-authorization-with-chris-gillum/?cdn=disable

[2016-06-27 03:07] mairaw commented on #662
Should this be here or on aspnet/Docs?

[2016-06-27 04:51] cartermp opened #666 "Async F# Article Re-architecting."
I'm not really happy with how I wrote this a while back.  While it gets some necessary information across, it is misleading, the section comparing to C#/VB is unnecessary, and the article doesn't describe what's going on under the covers at all.  There's also nothing about using `MailboxProcessor<'T>`, but it's a critical sibling component of the language that deserves mentioning here.  It should

[2016-06-27 08:32] svick commented on #418
Presumably fixed by #663.

[2016-06-27 08:47] mairaw commented on #418
I was waiting until we go live to review your issues about UI.

[2016-06-27 17:50] twsouthwick commented on #652
Sounds good to me. Is this repo the only entry point to this documentation or does it get surfaced somewhere else?

[2016-06-27 18:01] mairaw commented on #652
It's surfaced here @twsouthwick: https://docs.microsoft.com/en-us/dotnet/

[2016-06-27 19:20] conniey commented on #652
That's a good idea. Would I put this as a subtopic under https://github.com/dotnet/core-docs/tree/master/docs/core/porting?

[2016-06-27 19:53] richlander opened #674 "How to setup a repo to build and test .NET Framework and .NET Core applications"
We need a tutorial on this.

[2016-06-27 19:59] BillWagner commented on #674
I agree.

Comments / questions:

I assume you mean a CI build on GitHub on the main repo, on PRs. Bonus points for displaying the badges on the homepage of the repo.

Do you mean build the framework, or build your application *built* on the framework or Core?

I think this could become a meta-issue on multiple paths, if you mean applications build on the framework:

- Platform independent librarie

[2016-06-27 20:39] richlander opened #678 "Doc: How to know that a NuGet library supports .NET Core"
We need a doc on this.

There already is some content that talks about it, but not a single topic dedicated to it.

This should be both:
- I have the NuGet package.
- I am browsing a NuGet feed (NuGet.org, VS Online, ...)

[2016-06-27 22:14] BillWagner opened #680 "Create "What's New in C# 6" content"
The "What's New in C# 6" content directs readers to the wiki page on the Roslyn Repository.

We need to expand on that information by providing more examples, guidance on how the new syntax applies to different scenarios, and explain a bit about the design of the features.

/cc @tdykstra @Pilchie @jaredpar @MadsTorgersen.

[2016-06-27 22:29] cartermp opened #681 "Update F# Golden Path Article"
The F# golden path article (https://github.com/dotnet/core-docs/blob/master/docs/scenarios/solution-authoring/f-golden-path.md) needs to be updated to use the correct version numbers/bits for .NET Core SDK Preview 2.  This is going to be dependent on https://github.com/Microsoft/visualfsharp/pull/1290.

It also needs an appropriate entry in the TOC.

[2016-06-27 22:42] naamunds opened #682 "Edit links on doc pages are broken"
The "EDIT" button on the right side of the documentation pages (e.g. https://docs.microsoft.com/en-us/dotnet/articles/core/index) redirects to a non-existent GitHub page (https://github.com/dotnet/core-docs/blob/stage/docs/core/index.md). It looks like the issue is that they go to the "stage" branch instead of the "master" branch, which no longer exists. Replacing "stage" with "master" in the URL

[2016-06-27 22:44] mairaw commented on #682
Thanks for reporting this @naamunds. I'm looking into that!

[2016-06-27 23:07] mairaw commented on #682
This should be fixed now. Closing the issue.

[2016-06-27 23:07] #682 closed

[2016-06-27 23:20] jacqueline-homan commented on #681
I am relatively new to learning F# and I do not have VS or Windows. So I think one big issue right off that needs to be addressed is the need for making it a lot less impossible for people who are not on Windows that are trying to learn F#. When something works for a tutorial author who's on Windows using VS, the beginner struggling to learn is left unable to complete a tutorial if they're on Linu

[2016-06-27 23:53] jacqueline-homan opened #683 "Create tutorials for how to build F# form apps (and F# apps in general) in Monodevelop for Linux users"
Since F# has been updated to 4.0, some things have been deprecated. While trying to get through Kit Eason's F# tutorial on Pluralsight, I found that **.nth** was deprecated and **.item** is now used instead. However, simply replacing .nth with .item did not work for me when trying to do that tutorial and I could not find any F# programming examples where .item was used in code. There are no tutori

[2016-06-28 08:08] WG-Com opened #688 "cloudflare blocked in china, i can't select linux/osx at homepage"
page : https://www.microsoft.com/net/core

js can't load : https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js

[2016-06-28 10:21] tsolarin commented on #489
@tdykstra I'd like to contribute to this, is it up for grabs?

[2016-06-28 14:29] tdykstra commented on #489
@BillWagner what is the plan for the C# generics article?

[2016-06-28 20:32] BillWagner commented on #625
I checked today (after quite a bit of changing in the TOC and the repo.)

The three under core in your first bullet point are still bugs.
The last two have moved and should now be fixed.

[2016-06-28 20:34] BillWagner commented on #608
This topic should provide a high level overview of the C# language for developers that may be interested in learning the language.

It should be a 500-750 word overview of C#'s overall design and goals.

/cc @MadsTorgersen

[2016-06-29 00:20] mairaw commented on #688
@BethMassi @davidcsa @shanselman can one of you take a look at this issue? Should it be filed somewhere else since this is for the marketing site and not the docs?

[2016-06-29 00:24] mairaw commented on #538
With the new site I don't think that is true any longer so I'm closing this one. e.g.
https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-with-xplat-cli

Please let me know if that's not the case.

[2016-06-29 00:24] #538 closed

[2016-06-29 05:35] neusamir commented on #688
This should be fixed now. We now use a local version of the javascript instead of relying on the cdn. In the future we may move to our own cdn (I hope).

[2016-06-29 05:37] mairaw commented on #688
Thanks @neusamir. @WG-Com, can you please confirm you're not experiencing the issue anymore?

[2016-06-29 06:15] mairaw commented on #422
Closing this since the layout is totally different in the new site.

[2016-06-29 06:15] #422 closed

[2016-06-29 14:57] svick commented on #625
Here is an updated list:

* [core/app-types.md](https://docs.microsoft.com/en-us/dotnet/articles/core/app-types), [core/packages.md](https://docs.microsoft.com/en-us/dotnet/articles/core/packages), [core/sdk.md](https://docs.microsoft.com/en-us/dotnet/articles/core/sdk)
* [core/porting/libraries.md](https://docs.microsoft.com/en-us/dotnet/articles/core/porting/libraries)
* [tutorials/supporting-fr

[2016-06-29 15:34] WG-Com commented on #688
@mairaw   ok now

[2016-06-29 15:34] #688 closed

[2016-06-29 16:42] tsolarin commented on #489
@BillWagner thoughts?

[2016-06-29 16:51] BillWagner commented on #489
@tsolarin @tdykstra Sorry for the late response. I was looking at quite a few different options.

I'd rather not have anyone start on this topic just yet. (Adding the Backlog label for that reason). That's because we are looking at how best to mange the distinction between standard library topics and language specific topics. There will be a topic under the '.NET Standard section that covers the l

[2016-06-29 16:59] bsara commented on #40
I found a temporary solution for this here: https://github.com/dotnet/cli/issues/2189#issuecomment-220305609

[2016-06-29 17:07] tsolarin commented on #67
@BillWagner this looks interesting. I'd like to work on this

[2016-06-29 21:09] dazfuller opened #707 "Minor typo on the macOS tutorial"
In reading the [Getting started with .NET Core on macOS, using Visual Studio Code](https://github.com/dotnet/core-docs/blob/master/docs/core/tutorials/using-on-macos.md) the following line

should have version information of `netstandard1.6` instead.

[2016-06-29 21:34] #707 closed

[2016-06-30 01:24] cartermp opened #711 "Fix Native Dependencies section in libraries doc"
The Native Dependencies section in the Libraries with Crossplat tools is now incorrect given recent project.json changes.  This needs to be fixed.

See here: https://github.com/dotnet/core/issues/181#issuecomment-229472582

[2016-06-30 01:39] akoeplinger opened #712 "Language switcher doesn't work"
No matter which language I select I always get my browser's language in the URL:
![Language](https://cloud.githubusercontent.com/assets/1376924/16474122/225b4458-3e74-11e6-86f5-82819f673e1c.gif)

[2016-06-30 02:11] mairaw commented on #712
Yes, I'm seeing a similar behavior too. And also the language selector doesn't show up in Chrome.

We don't have localized content for .NET Core yet but we did launch for EMS today and it's the same behavior.

@chenkennt, are you guys aware of this issue?

[2016-06-30 06:47] mairaw commented on #712
I'm following up with our engineering team. From what I can see, it now shows up in Chrome and it works in Chrome, but fails on IE/Edge. Haven't tested other browsers.

[2016-06-30 09:57] akoeplinger commented on #712
I'm still seeing the same behavior as before in Chrome, switching the language has no effect (I don't expect localized content, but my choice should be reflected in the switcher and URL).

[2016-06-30 11:47] akoeplinger commented on #712
Ah, the switcher works fine on pages that actually have localized content such as https://docs.microsoft.com/en-us/intune/understand-explore/introduction-to-microsoft-intune.

So the issue only seems to be in remembering your selection when the relevant content isn't available.

[2016-06-30 13:00] dls314 commented on #325
Really interested in the frameworkAssemblies NuGet vs GAC story at the moment. Any intermediate references about what the straight story is there?

[2016-06-30 14:07] shahid-pk opened #714 "No docs for runtime vs development package for Linux"
This should be clearly stated because on production servers we don't need the development package **dotnet-dev-preview2-**\* ( preview in the package name scares system admins) . On production servers this package **dotnet-sharedframework-microsoft.netcore.app-1.0.0** will suffice for .deb based distributions.

[2016-06-30 14:54] cartermp commented on #325
You can take a look t at #448 for our changes.

NuGet is the preferred mechanism by which you get your dependencies.  If you're building something for `netstandard1.x` or `netcoreapp1.0`, then all of your dependencies should be in the form of NuGet packages.

I don't think I could articulate the significance of frameworkAssemblies vs using the GAC.  However, this becomes a concern only when multit

[2016-06-30 16:35] jaredpsimpson opened #715 "Update links to C# tutorials on docs/csharp/index.md"
The C# tutorials were moved to the csharp folder, but not all of the links were updated. The getting-started-with-csharp folder needs to be removed from the link on csharp/index.md.

[2016-06-30 17:14] mairaw commented on #712
Is it working now @akoeplinger? It's supposed to be fixed for all browsers now.

[2016-06-30 17:31] akoeplinger commented on #712
@mairaw No, I still see the problem of it not switching when there's no localized content available, e.g. like on https://docs.microsoft.com/de-de/dotnet/articles/core/index

[2016-06-30 17:51] cartermp commented on #715
Closing as the PR you PR was merged.  Thanks, @jaredpsimpson!

[2016-06-30 17:51] #715 closed

[2016-06-30 17:55] mairaw commented on #715
Yep, super thanks! BTW, next time if you want you can close an issue using the keyword Fixes in your commit message, like Fixes #715.
See here for more info: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-06-30 18:28] SonjaSaltzman commented on #712
It works for me on Edge (clicking on unloc'd topic, switching locales changes the locale in the path)

[2016-06-30 18:36] akoeplinger commented on #712
Yes, after clearing cookies and cache for docs.microsoft.com it now works in Chrome for me too. Thanks!

[2016-06-30 18:36] #712 closed

[2016-06-30 18:45] mairaw commented on #712
Good to know @akoeplinger!

[2016-06-30 20:31] svick commented on #418
Yeah, tables look much better on docs.MS.

[2016-06-30 20:31] #418 closed

[2016-06-30 21:30] paulomorgado opened #722 "Wrong platform version (1.0.0-rc2.3002702) on examples at https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-with-xplat-cli"
The pets example has the wrong platform version (1.0.0-rc2.3002702).

The same for the project with the tests.

/cc @BillWagner

[2016-06-30 21:34] #553 closed

[2016-06-30 21:37] BillWagner commented on #722
Fixed in PR #719

Fixes will go live tomorrow AM.

[2016-06-30 21:37] #722 closed

[2016-06-30 21:48] paulomorgado opened #723 "Uncompilable code at https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-with-xplat-cli"
The Fibonacci sequence generator example doesn't compile because in the instructions you keep the using `static System.Console;` directive but changed from using plain `WriteLine` to `Console.WriteLine`.

The example should either be:

    using System;
    using NumberFun;

and

    public static void Main(string[] args)
    {
        var generator = new FibonacciGenerator();
        foreach (var

[2016-06-30 23:28] mairaw commented on #723
Obrigada @paulomorgado. I believe PR #719 also solves this issue.

[2016-07-01 00:30] svick opened #726 "API reference index does not support searching"
Pages in the API reference (e.g. [`System`](https://docs.microsoft.com/en-us/dotnet/core/api/system)) contain a very useful "Search Reference" field, which can be used to find types and namespaces.

Except the search field is not on the page where I think it would be most useful: [the API reference index](https://docs.microsoft.com/en-us/dotnet/core/api/index).

Right now, when I want to search fo

[2016-07-01 10:09] tsolarin commented on #67
@BillWagner that's fine, here's my branch https://github.com/tsolarin/core-docs/blob/xml-doc/docs/csharp/codedoc.md

[2016-07-01 16:28] BillWagner commented on #723
I think I caught this in PR #719, as @mairaw mentions. @paulomorgado can you verify and close if it is fixed?  Thanks for reporting this.

[2016-07-01 19:38] Thibaut commented on #397
Cool, thanks for following up.

I think I've got everything I need to get started. For the API docs it'd be great if you could make a static HTML version available to download. Otherwise I have to scrape the website directly, which takes longer.

I see that you've changed the license of the ASP.NET docs to CC BY which is also very cool. CC BY-NC was too restrictive for DevDocs.

I'll post here onc

[2016-07-01 20:18] mairaw commented on #726
Yes, we're working on fixing that @svick!

[2016-07-02 01:44] paulomorgado commented on #723
Yes, it does, @BillWagner!

[2016-07-02 01:45] #723 closed

[2016-07-02 21:51] svick commented on #390
It seems the link was fixed, it now points to https://twitter.com/dotnet/lists/net-user-groups, which works.

[2016-07-02 21:51] #390 closed

[2016-07-02 21:56] svick commented on #421
The new site has completely different style, and article TOC in API reference wraps correctly, for example: [`FileStream`](https://docs.microsoft.com/en-us/dotnet/core/api/system.io.filestream).

[2016-07-02 21:56] #421 closed

[2016-07-02 21:58] svick commented on #436
The new site does not have this issue.

[2016-07-02 21:58] #436 closed

[2016-07-02 22:00] svick commented on #504
The article TOC for namespaces on the new site lists namespace members, for example: [`System`](https://docs.microsoft.com/en-us/dotnet/core/api/system).

[2016-07-02 22:00] #504 closed

[2016-07-02 22:05] svick commented on #522
The heading structure on the new site looks fine:

![](http://i.imgur.com/aJEAkoV.png)

[2016-07-02 22:05] #522 closed

[2016-07-02 22:06] svick commented on #539
The new site does not have this issue.

[2016-07-02 22:06] #539 closed

[2016-07-02 22:10] svick commented on #548
The new site does not seem to have an inherited members list, so this issue does not apply anymore. For example: [`ReadOnlyObservableCollection<T>`](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.objectmodel.readonlyobservablecollection-1)

[2016-07-02 22:10] #548 closed

[2016-07-03 03:12] mairaw commented on #436
Thanks for reviewing those @svick!

[2016-07-03 22:42] LukaszDev opened #739 "Add description about from where assembly information are taken"
Hi Guys,

Following this issues:
- [Wrong assembly information / exe file details (dotnet/cli  #3620)](https://github.com/dotnet/cli/issues/3620)
- [Add information about assembly information (aspnet/Docs #1525 )](https://github.com/aspnet/Docs/issues/1525#issuecomment-228831915)

**Can you consider to add note/description in docs about from where assembly information are taken, please ?**

I mean

[2016-07-04 07:31] EnCey opened #740 "Question: (How) Can I use the docs.html template for my docfx project?"
According to docfx.json the .NET core docs use the `docs.html` template for docfx (`"template": [ "docs.html" ]` ).

This doesn't seem to be available in vanilla docfx (but it is a lot prettier than the docfx default theme).

Is it available somewhere and are we allowed to use it for our internal docs projects?

[2016-07-04 16:43] cartermp opened #742 "Getting Started with F# on .NET Core Improvements"
I merged the Getting Started with F# on .NET Core article so that we have something available for folks to took at.  Some feedback that was mentioned was to cut out most of the step-by-step stuff and just list the `project.json` changes supply code to copy/paste.  This would shorten and change the tone of the article, but could be good since it would be less for folks to read through.

I'm also op

[2016-07-05 13:51] BillWagner commented on #742
This is my personal opinion, so weight it appropriately with other feedback.

I prefer seeing a bit more detail rather than just supplying code to copy and paste. I find that the pure copy / paste articles don't help me learn anything. I get to the end, and I've got a working sample (that's cool). However, I can't extend those techniques to applications I'm building.

Humans are pretty good at ski

[2016-07-05 14:16] svick commented on #742
@BillWagner I'm not sure the goal of this article is to teach about details of project.json. That section is just a stopgap until `dotnet new -l fs -t lib` becomes available.

[2016-07-05 14:30] cartermp commented on #742
@svick is right here, this is a stopgap until `dotnet new` is updated to have correct template support for F# class library, console app, and test project.  I don't know when that will happen, though.

[2016-07-05 17:28] mairaw commented on #742
If it's a stop-gap solution then having the copy and paste only would be appropriate in this case.
But I agree with @BillWagner that in general we should provide the steps with an explanation of why you're doing that. Then if someone wants just to skip all that and go to the final one, that's fine. That's why I also suggested that we provide the whole sample too so people can just download the who

[2016-07-05 21:59] mairaw commented on #740
@chenkennt can you help with this question?

[2016-07-05 22:11] mairaw commented on #398
Since we moved to a new site, this no longer repros. Closing this issue.

[2016-07-05 22:11] #398 closed

[2016-07-05 22:19] mairaw commented on #402
Is this still relevant @cartermp? I'm guessing that with all the articles moving, this is the topic that is being discussed here: https://github.com/dotnet/core-docs/blob/master/docs/core/tutorials/libraries.md

[2016-07-05 22:20] mairaw commented on #248
Are you done with this one @cartermp?

[2016-07-05 22:22] cartermp commented on #248
Yup!

[2016-07-05 22:22] #248 closed

[2016-07-05 22:22] #402 closed

[2016-07-05 22:25] mairaw commented on #211
Can we close this one @cartermp?

[2016-07-05 22:28] cartermp commented on #211
Nope.  I'll create a PR.

[2016-07-05 22:35] devlo opened #746 "Error in C# getting started"
https://www.microsoft.com/net/tutorials/csharp/getting-started/classes-objects

It should be `value` instead of `newSpeed`

Current:

[code]

Proper:

[code]

[2016-07-05 23:03] mairaw commented on #746
@ardalis this issue is in the tutorials for the .NET site. Can you fix that?

/cc @shanselman @davidcsa

[2016-07-05 23:08] mairaw commented on #652
Good question @conniey. We also have this topic under .NET Standard: https://docs.microsoft.com/en-us/dotnet/articles/standard/portability-analyzer

[2016-07-05 23:34] ardalis commented on #746
Yes, will follow up shortly.

[2016-07-06 00:54] BillWagner commented on #67
@tsolarin I like the start.  I'd like to see samples of each of the tags to help people understand how to use each.

[2016-07-06 01:58] ardalis commented on #746
I don't see an issue here. There are two examples, only one of which uses ``newSpeed``. The two examples listed in the issue here are, as far as I can see, identical. The listing in the lesson that refers to ``newSpeed`` is showing how one might update a field without using C#'s support for properties:

`public class Speedometer
{
    private int _currentSpeed;
    public int GetCurrentSpeed()

[2016-07-06 02:40] mairaw commented on #746
Thanks @ardalis! I see the issue reported fixed on the site. Good to know the right repo as well.

[2016-07-06 02:40] #746 closed

[2016-07-06 10:18] Emeryao commented on #386
@mairaw please also let me know when it's available. :smile:

[2016-07-06 12:58] svick opened #751 "The page for the System.Resources namespace is missing from API reference"
[The API reference index](https://docs.microsoft.com/en-us/dotnet/core/api/index) links to [the page for the namespace `System.Resources`](https://docs.microsoft.com/en-us/dotnet/core/api/system.resources), but that page does not exist ("The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.").

Pages for types inside that namespace, like [`Resource

[2016-07-06 16:51] BillWagner opened #756 "Links to other core-docs topics should be relative"
We have a mix of relative and absolute links, even when linking to topics that are part of the same doc site.

Where the target document is resident in the core-docs repository, we should use relative links. It will facilitate better testing in our local development environment.

/cc @svick

[2016-07-06 17:03] BillWagner opened #757 "samples/readme.md needs to reflect current state"
The readme.md in the /samples directory is months old, and does not represent the current state of the .NET Core product, or the samples in the folder.

It should represent the current contents, or be forward looking for where we want to go

[2016-07-06 17:07] BillWagner opened #758 "New Issue should have a template to aid in creating a good issue"
We need to create a default templates for new issues that guides people to create an issue that is ready to address.

The template should provide pointers to all the information we would like to see.

[2016-07-06 17:10] BillWagner opened #759 "Documents should have a note and link to contribute"
We will add a note in an unobtrusive location on each document page to provide customers with a link to our contributing guide, so that they can get involved.

[2016-07-06 17:11] rpetrusha commented on #751
@svick We don't have any details about the cause of this issue, but it's an engineering problem that's been addressed, and a fix should be available shortly. We're trying to get more information both about the cause and the timeline for deploying the fix.

[2016-07-06 17:13] BillWagner opened #760 "Contributing guide should include guidance on samples"
It should include:

- [x] Where to put samples
- [x] What should be in the readme.md
- [x] How to link to samples from the topic
- [x] How to link to the topic document from the sample.

[2016-07-06 17:15] twsouthwick opened #761 "Document how to use cryptography in a cross-plat way"
There seems to be some gotchas when working with crypto APIs on different platforms (can't think of anything specific, but seen stuff pop up on aliases and online). Some samples or examples could be really helpful for someone starting out with a crypto scenario on .NET Core.

[2016-07-06 17:44] twsouthwick opened #762 "Document known differences between .NET Framework and .NET Core"
I couldn't find any specific documentation about major diferences between .NET Framework and Core, but some of the topics that should be covered:
- Replacement for AppDomain's scenario of assembly isolation
- Replacement for AppDomain's scenario of remoting

There are probably other topics, but I encountered these two recently and figuring out what should be done to replace it was difficult. Sampl

[2016-07-06 17:46] twsouthwick opened #763 "Document how to use new configuration system"
For people coming from .NET Framework, there is a gap of how to do configuration when they are used to app.config. There should be documentation and an example of how to replace it.

[2016-07-06 18:03] twsouthwick opened #764 "Document how to reference other projects with .NET Core VS tooling"
This may already be available, but I could not find it on http://docs.microsoft.com/net. There should be clear guidance on what is possible and what is not fully supported yet until the convergence with csproj is complete. AFAIK, the following is the current state as of tooling preview 2:
1. You can reference xproj in an xproj
2. You can reference csproj (plib) in an xproj
3. You cannot reference

[2016-07-06 19:17] twsouthwick commented on #652
FYI - the documentation at https://docs.microsoft.com/en-us/dotnet/articles/standard/portability-analyzer is out of date (download info incorrect and command line usage is wrong). This should be fixed up as part of this effort.

[2016-07-06 19:29] mairaw commented on #652
Sounds good @twsouthwick. I've started some changes already on this topic yesterday on a separate branch but haven't touched the parts that you are mentioning:
https://github.com/dotnet/core-docs/commit/e3bd9dddc4c931ffa2e2214da339941829f8f88f

I'll take a look.

[2016-07-06 21:24] mairaw commented on #756
I agree. I also confirmed with VSC that the syntax for API links such as @System.String can be used as a target in links so we should be able to remove all absolute URLs to other core-docs topics.

[2016-07-06 23:09] dsplaisted commented on #764
Here's a Stack Overflow answer from @onovotny that helps answer questions about this: http://stackoverflow.com/questions/37902451/how-can-i-make-a-net-core-class-library-and-reference-it-from-a-net-4-6-projec/37907973#37907973

[2016-07-07 00:35] onovotny commented on #764
Note that in scenario 2, satellite language resource assemblies aren't working, so they won't be found. This only matters if you have localized resources in the csproj to begin with.

[2016-07-07 00:38] onovotny opened #766 "Get rid of "Reducing Package Dependencies" page"
This page needs to be removed as it's apparently incorrect advice.

https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/reducing-dependencies

/cc @yishaigalatzer @ericstj

[2016-07-07 05:02] cartermp commented on #766
Closed with #767.

[2016-07-07 05:02] #766 closed

[2016-07-07 10:07] tsolarin commented on #67
@BillWagner definitely, was just getting started, will surely include syntax examples and possible attributes

[2016-07-08 04:10] richlander opened #772 "Proposal for API Docs"
# Proposal for API Docs

API documentation is important! We need to define the following:
- The user experience of viewing documentation.
- How the content will be structured.

See existing docs and content: https://docs.microsoft.com/en-us/dotnet/core/api/system.
## Requirements
- The docs will represent multiple .NET products.
- There must be good UX for navigating and filtering across the produ

[2016-07-08 13:07] joelmartinez commented on #772
I'd love to be a part of this conversation ... as this is an issue that we are looking at in the mono API documentation world at the moment as well. How can I get involved @richlander?

🙌🏼 This is precisely what we want to enable for mono/xamarin's API documentation :D

[2016-07-08 13:09] svick commented on #756
When it comes to samples, I'm wondering about user experience: if I'm viewing a sample README on GitHub, and the link is relative, I'm going to arrive at the GiHub rendering of the document, which is not ideal (no TOC, markdown is not rendered exactly right, etc.).

Of course, link that leads to a not ideal rendering of a document is much better than invalid link. But since there are other externa

[2016-07-08 14:31] BillWagner commented on #772
I want to think about this in relation to the "View source" button on our API docs. It goes to the product source in GitHub (including line number). We should make sure this process doesn't make that link go to the wrong location.

[2016-07-08 16:59] #757 closed

[2016-07-08 17:24] mairaw commented on #756
I agree @svick. For files that are not really part of the docs site and that users might even open on their computers to use like the samples readme, using the absolute URL might be better.

[2016-07-08 18:05] richlander commented on #772
@joelmartinez, @BillWagner - Just made a big update to the proposal, intended to answer your questions. Tell me what you think.

[2016-07-08 18:27] joelmartinez commented on #772
Love the concept of the documentation UX being everything by default. The filtered view lets you change the context that you're viewing the documentation in.

There are a few more nuances though, to this context that probably need to be captured. For example, the `System.Web` namespace is available only on certain platforms. So how can we indicate that `System.Web`, is available when you're readin

[2016-07-08 18:28] richlander commented on #772
ASP.NET Core doesn't use System.Web.

[2016-07-08 18:30] joelmartinez commented on #772
well, sorry ... yes, that was a poor example :P but the rest stands ... how can we indicate platform differences that don't necessarily correlate to version or frameworks?

[2016-07-08 18:35] richlander commented on #772
I'm suggesting remarks.

[2016-07-08 18:38] mairaw commented on #121
Need to add this info to the contributing guide but existing links were fixed

[2016-07-08 18:38] #121 closed

[2016-07-08 18:39] mairaw commented on #180
This is done

[2016-07-08 18:39] #180 closed

[2016-07-08 18:41] mairaw commented on #187
Not desired anymore. We need to open a new issue for a better TOC generation.

[2016-07-08 18:41] #187 closed

[2016-07-08 18:51] mairaw commented on #250
@terrajobst can you update that topic with the new plan for the API convergence? Then we can create the topic after that.

[2016-07-08 18:56] mairaw commented on #289
Closing this for now. We just need to link to the native compilation roadmap from our core/index.md file when that is published.

[2016-07-08 18:56] #289 closed

[2016-07-08 19:00] mairaw commented on #301
This is more of an ASP.NET scenario and is covered in their docs.

[2016-07-08 19:00] #301 closed

[2016-07-08 23:01] rowanmiller commented on #772
👍 we do this on the EF project and writing docs is just part of the normal dev/code-review process

[2016-07-09 05:41] richlander commented on #772
@mairaw Yes, there is going to be a lot of challenge to pull of these docs and the various buttons. There is a lot of value in this single uniform experience. We're going to need to some custom implementations to deliver it. The value is high enough that it's worth doing more to achieve it.

Certainly, it's possible to simplify it. I'm starting with the best (IMO) UX. It would be good to get some

[2016-07-09 16:18] migueldeicaza commented on #772
I just realized that this discussion was taking place on a github issue, I participated on a Slack discussion yesterday along these lines.

With Mono, we are using an enhanced version of the original XML file format that was used to produce the ECMA API documentation.   The documentation code drop that we got a few years ago from Microsoft also came on a variation of this, which we imported into M

[2016-07-09 21:53] MichaelNorman commented on #772
My perspective, as a writer, is that we absolutely do not want developers writing API documentation. Ditto for Random J. Webuser. Drafts or notes, maybe, but I've never seen documentation written by a developer that would pass muster as the global face of Xamarin or Microsoft to developers. And I don't expect that developers will accept the level of training required to write localizable documenta

[2016-07-09 22:14] richlander commented on #772
@MichaelNorman That's a good perspective, however (IMO), I don't think it has to be a case of starkly defined roles. In fact, we've found in our work that hard-lines in roles leads to lots of problems. We prefer significant overlap, which we find increases collaboration and shared accountability. It also increases the respect that folks have of people in other roles.

Couple thoughts to consider:

[2016-07-09 23:06] MichaelNorman commented on #772
@richlander, with all due respect, I think you are missing the point. Software development is a profession, a specialization. Writing technical documentation is a profession, a specialization. To say, "We don't want developers writing documentation," is no more unreasonable than saying, "We don't want writers introducing regressions into our software." It's not about turf. It's about why we don't

[2016-07-09 23:54] richlander commented on #772
Thanks for sharing your insight. I've not done your job before, so I'll take what you say at face value, and of course, respectfully, as you hope.

We've now traveled a ways away from the topic of this issue, so I think I'll not go any farther into this topic, as much as I do think it is an interesting one to discuss further. Given that we now work for the same company, I think we'll indeed have t

[2016-07-10 22:51] #423 closed

[2016-07-11 05:25] cartermp opened #776 "Tutorials: Immutable Collections"
Cross-linking from here: https://github.com/dotnet/corefx/issues/5165

There is a need to have a good tutorial on how to use immutable collections.  While we'll eventually have an API reference story in place, the conceptual content will still be lacking.

Let's see if we can pin down the key stuff to document.

**Content to cover:**
- [ ] Introduction, why immutable collections, what are they goo

[2016-07-11 05:46] mairaw commented on #776
Thanks for creating this @cartermp. I think this fits better with the Standard guide vs. one of the languages.

[2016-07-11 10:22] eriawan commented on #776
@cartermp

This is just my own 2 cents:

- I prefer to have the doc on separate repo so not in the same repo as.NET Core doc. Because they are focusing on different intention, although CoreFX is actually an implementation of CoreCLR from my quick simplified standpoint. So .NET Core should focus on intro, detailed architecture, code samples, showcasing samples with ASP.NET Core. Then .NET CoreFX sh

[2016-07-11 14:56] BillWagner commented on #776
Thanks @cartermp for starting this conversation.

I agree that the .NET Standard section is the best home. The language sections should be for language specific items, and these collections are surfaced to all the languages.

Where there are language specific behaviors, that's where the language sections come in.

@eriawan Thank you for your thoughts. If we could, we'd probably rename the core-doc

[2016-07-11 15:27] tsolarin commented on #67
@BillWagner my first draft is complete, have a look: https://github.com/tsolarin/core-docs/blob/xml-doc/docs/csharp/codedoc.md

[2016-07-11 16:59] EricZimmerman commented on #561
both links in the referenced issue 3590, are 404s.

[2016-07-11 17:00] EricZimmerman commented on #470
both those links no worky. id love to move to core but half if it seems to not be working, at least in VS 2015

[2016-07-11 17:39] mairaw commented on #470
This issues needs to be updated or even closed since we moved to a new site and restructured the Table of Contents. @BillWagner can you check?

The tooling is still in Preview release @EricZimmerman. Have you checked this topic already: https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-windows?

[2016-07-11 17:47] blackdwarf commented on #561
@EricZimmerman good point, updated the links in the referenced issue.

[2016-07-11 18:11] mairaw opened #781 "Review SDK topic"
The SDK topic seems to be incomplete and hasn't been reviewed for RTM:
https://docs.microsoft.com/en-us/dotnet/articles/core/sdk

In order to add that topic to the TOC, it needs to be updated.

[2016-07-11 18:23] BillWagner commented on #470
Thanks for helping us make this better. I updated both incorrect links above.

[2016-07-11 19:53] lobrien commented on #772
IMO I view the technical issue as one of modularity: the XML format has an advantage in that everything's in one place but, since it's hierarchical, there's an impedance mismatch when it comes to, e.g., platforms. We aren't going to solve that (or, rather, we ought not to hare off after one of the bazillion overly-complex attempts to hide/mitigate XML's hierarchical nature).

Since I was raised in

[2016-07-11 20:17] mairaw commented on #772
For the .NET Framework API docs, we also use XML in our CMS, however the file structure is not visible to us and we can only edit one API at a time. Then the platform info is a different input from another set of XML files. We have the option of editing by hand or by using XMetal which understands our schema, etc.
I wouldn't say that the sidecar-file is a prerequisite for localization since today

[2016-07-11 20:29] mairaw opened #783 "[core/tutorials/using-on-macos.md] Address feedback for topic"
[This topic](https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-macos) got the following feedback:
- Create a golden directory? How? Why not list the steps?

After discussing this with @cartermp, we agreed that this topic would benefit from having the steps laid out similar to what was done for this topic:
https://docs.microsoft.com/en-us/dotnet/articles/fsharp/getting-starte

[2016-07-12 13:38] #625 closed

[2016-07-12 16:08] joelmartinez commented on #772
Just wanted to add a bit of my experience with the Xamarin developer portal URLs. After I switched the url format for API docs to move the information from the query string, to being a part of the path itself, I came across a few limitations. For a very small subset of APIs, which had a large number of parameters, we encountered some errors due to the path being too long. After some fiddling with

[2016-07-12 16:49] tsolarin commented on #67
/cc @BillWagner

[2016-07-12 16:59] BillWagner commented on #67
@tsolarin This is a great start.

You've covered all the main tags, and done so quite well.

I have two (related) recommendations for your next draft.

I would order the tags in a logical order of their use rather than alphabetically. I think this applies both to the list and the sections below.  I'd likely start with <Summary> and then <Remarks>. After that, there are a lot of directions you coul

[2016-07-12 16:59] richlander commented on #772
@MichaelNorman We use Roslyn to read/mutate .cs files. It's a purpose-built API for that purpose.

That's mostly the same as the proposal, in terms of the granlarity.

[2016-07-12 17:14] richlander commented on #772
@joelmartinez good point. We haven't gotten to that level of detail. I think we were largely hoping to skip that (one page per overload). We'll see.

[2016-07-12 17:27] richlander opened #786 "Add guidance document on metapackage dependencies"
This accounts for two issues:

- What granularity of dependencies is recommended.
- What is the story with dependency trimming?

[2016-07-12 17:51] mairaw opened #787 "Change absolute URLs to APIs to use the xref syntax"
There are several topics that are using absolute URLs to docs instead of using the API linking syntax, such as this topic:
https://github.com/dotnet/core-docs/blob/master/docs/standard/collections/index.md

The following topic shows an example of how to use the @ syntax:
https://raw.githubusercontent.com/dotnet/core-docs/master/api/index.md

What follows the @ symbol, it's the API UID. An explanat

[2016-07-12 17:54] mairaw commented on #195
This no longer applies with the move to docs.microsoft.com.

[2016-07-12 17:54] #195 closed

[2016-07-12 17:58] mairaw commented on #194
@chenkennt @superyyrrzz this is still an issue at docs.microsoft.com

[2016-07-12 18:13] mairaw commented on #196
This looks a bit better now in docs:
https://docs.microsoft.com/en-us/dotnet/core/api/system.math#System_Math_Truncate_System_Double_
![image](https://cloud.githubusercontent.com/assets/12971179/16778129/616d6124-4821-11e6-9724-b8ffd228ea87.png)

However, since we're still using IntelliSense to generate the docs, there isn't a rich data to identify the table. This needs to be fixed in the content

[2016-07-12 18:14] mairaw commented on #193
This is fixed in docs: https://docs.microsoft.com/en-us/dotnet/core/api/system.action-1

[2016-07-12 18:14] #193 closed

[2016-07-12 18:18] mairaw commented on #197
This is improved in docs:
![image](https://cloud.githubusercontent.com/assets/12971179/16778281/3086f0e2-4822-11e6-8d22-7f926d910fae.png)

Closing this issue.

[2016-07-12 18:18] #197 closed

[2016-07-12 18:24] mairaw commented on #200
I don't think this is applicable anymore. Closing this issue.

[2016-07-12 18:24] #200 closed

[2016-07-12 18:30] mairaw commented on #198
I think we have a different issue now. The EIIs (Explicit Interface Implementation) seem to be missing from docs: https://docs.microsoft.com/en-us/dotnet/core/api/system.array

System.Array should have ICollection.Count or IList.Add.

[2016-07-12 19:03] colin-young commented on #764
Related, full documentation on project-to-project referencing within a solution would be welcome. Specifically, https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries#how-to-use-multiple-projects explains the standard case, but does not cover the case where your library is still under development, you are not ready to remove the pre-release label and you are using splat versioni

[2016-07-12 22:43] tsolarin commented on #67
@BillWagner so in your last comment I assume you made reference to some tags, they're not HTML tags so they don't show up.

[2016-07-12 22:46] BillWagner commented on #67
@tsolarin I'm sorry I didn't explain myself well. I meant that you covered all the XML tags that C# uses.

What I meant by 'ordering the tags' would be to re-order the sections covering each XML tags that C# understands to use the order a reader would want to use them, rather than alphabetically.

I hope that helps.

[2016-07-12 23:48] mairaw commented on #772
For the URLs, we are already live, so I don't think we ran into problems with the length.

[2016-07-13 00:19] richlander opened #790 "Define Guidance for TOC and URLs"
# Proposal for TOC and URLs

We are going to be adding a lot of documentation into this repository and TOC this year, for .NET Core, .NET Framework, UWP and Xamarin. Also, ASP.NET, EF, NuGet and WCF. There are others too, that I'm missing. We need a good model for structuring the repository, which directly impacts URLs, and for managing the TOC. Every team that adds content to the repository shoul

[2016-07-13 08:39] tsolarin commented on #67
Sure

[2016-07-13 16:21] BillWagner commented on #790
I like the model, and the TOC.

To get the URLs to match the model an the TOC, should you add a 'technologies' element to the path:

Would become:

Some components have multiple versions, that target .NET Framework and .NET Core. EF is a good example. We'll expect to see three URLs exposed for EF:
• https://docs.microsoft.com/dotnet/technologies/ef (describes EF generally)
• https://docs.microsoft

[2016-07-13 16:52] richlander commented on #790
@BillWagner Indeed, this is the key choice. There are two challenges with this other proposal:

- Longer URL (as you raised)
- Hard distinction between things we make "Guide" vs "Technology" and awkward to change over time and also hard for customers to guess the URLs.

[2016-07-13 18:42] BillWagner commented on #790
@richlander I'd like to see this flushed out for asp.net. That should help land in the right spot.

I was keying on this statement:

That wouldn't be true for anything that rose to the level of "guides". I may be approaching this from too much of a language perspective: C#, VB.NET, and F# will be the same for core and .NET Framework. EF (and other technologies) will have different features for dif

[2016-07-14 06:36] mairaw opened #797 "[core/tools/project-json.md] Add missing properties to the project.json schema"
The [project.json schema reference](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json) still needs work.

I went through the [entire schema](https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/project.json) file and these are the improvements that I think are needed:
- [ ] buildOptions\languageVersion: as mentioned on PR https://github.com/dotne

[2016-07-14 14:38] neman opened #799 "Align project.json samples in the app types document to dotnet new templates"
When I enter command `dotnet new` I got following `project.json` lines

[code]

But it's slightly different from documentation within [App Types](https://docs.microsoft.com/en-us/dotnet/articles/core/app-types#portable-applications)  where it shows

[code]

The both version works (build and run)

Which one version is correct, obsolete or are both version regular?

frameworks property in docs is no

[2016-07-14 14:49] blackdwarf commented on #799
@neman both are correct . The one in the templates is slightly better because it places the dependency in the right framework, which means that if you want to multitarget between different frameworks the dependencies will be in the correct place.

I will be making updates to the app types document soon, so will change the sample `project.json` files in the document to correspond to the `dotnet new

[2016-07-14 16:21] tsolarin commented on #53
@BillWagner PR open

[2016-07-14 16:38] BillWagner commented on #53
@tsolarin I see that. I will review it later today.

[2016-07-14 20:30] BillWagner opened #803 "project.json for samples includes unnecessary nodes generated by tools"
See comments from @cartermp on PR #801

The CLI generates the imports nodes, and (in test projects) the dependency on `System.Runtime.Serialization.Primitives`.

The docs should continue to match the files generated by the tools. When the tools are updated (see this issue: https://github.com/dotnet/cli/issues/1717 the docs should match.

[2016-07-15 04:35] richlander opened #806 "Document Docker Experience"
We need to document more of the E2E docker experience.

We have this great doc already, but need more: https://github.com/dotnet/core-docs/blob/master/docs/csharp/tutorials/microservices.md

Here's what we need:

- Most basic "hello world" with docker and .NET.
- Most optimal "hello world" with docker and .NET. Assumption is that this will be a standalone app. This should be easy to switch to Alpi

[2016-07-15 05:01] richlander opened #807 "Document E2E VS Code Experience"
We need to document the "end to end" VS Code experience with C# and .NET Core.

We have this great doc already: https://github.com/dotnet/core-docs/blob/master/docs/core/tutorials/using-on-macos.md.

We need to document the very basic experience that doesn't include unit testing from the start, to deliver a super low friction adoption experience on one page.

The marketplace extension page needs t

[2016-07-15 05:04] mairaw opened #808 "Change headings and titles to use sentence-style capitalization"
Microsoft's guidance for titles and headings is to use sentence-style capitalization. So I'm adding this information to our template file but also we need to review existing topics to have the proper capitalization.

[2016-07-15 05:20] mairaw commented on #740
@EnCey I'll ask you that you open this issue on the docfx repo instead: https://github.com/dotnet/docfx

You might get better traction than here.

[2016-07-15 05:20] #740 closed

[2016-07-15 05:25] mairaw commented on #326
@cartermp can this be closed?
See how it renders on docs: https://docs.microsoft.com/en-us/dotnet/core/api/system.xml.readstate

[2016-07-15 05:27] cartermp commented on #326
Yep.  I still think it's rendered a bit odd (not perfectly aligned), but it's no longer displaying misleading information.

[2016-07-15 05:27] #326 closed

[2016-07-15 05:30] mairaw commented on #397
@chenkennt do we have the HTML files for our API docs somewhere?

[2016-07-15 06:13] chenkennt commented on #397
No, the only way is to get the html is to scrape the website.

[2016-07-15 13:48] BillWagner commented on #807
I'll likely be involved here as well. I think the VS Code experience dovetails nicely with the C# Guide materials I'm working on.

[2016-07-15 14:12] DustinCampbell commented on #807
Do note that the marketplace page is the readme from the extension's repo. This is by design, and you'll see that this is the case for pretty much all extensions on the marketplace. For example, here're the next four most popular extensions after C#:

* https://marketplace.visualstudio.com/items?itemName=donjayamanne.python
* https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-fo

[2016-07-15 14:37] svick opened #809 "Namespace summary in API reference should not show attributes"
The right column of namespace summaries can be fairly busy, especially on small displays. There is no need to make it worse by including all attributes specified for each class. An example, from [System.Collections.Generic](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.generic):

![](http://i.imgur.com/7EEsiqW.png)

MSDN does not even show attributes like `[DebuggerDisplay]`

[2016-07-15 14:44] mairaw commented on #809
I agree with you @svick. I believe we had filed bugs for both of the issues you're reporting internally. I'll check the status on those.

[2016-07-15 15:38] BillWagner opened #810 "Sample directory doesn't quite mirror the proposed guidance"
The directories under /samples should mirror the directories under /docs.

They don't now for historical reasons.

The concern with moving all the samples quickly is that the sample code is referenced from many different md files within the repository. We need to update all those links when any file is moved.

[2016-07-15 16:33] richlander commented on #397
@Thibaut We're definitely interested in helping you. Right now, we're working through getting our docs (API and conceptual) established. There are lots of improvement's we're asking the team to make on the doc tools. Once we get past all of that, we'd be happy to look at a better hand-off mechanism. For now, screen scraping is the best bet. Sorry about that, but it's really the best we can do for

[2016-07-15 17:01] mairaw commented on #326
Yeah, I thought so too. I'll reactivate my feature request which has a Completed status so they continue to work on that.

[2016-07-15 21:44] mairaw opened #812 "Generic code blocks should use backticks instead of indentation"
Markdown supports highlighting text as a code by simply indenting the text. However, since we'll be localizing our content, this is not a good practice since it doesn't distinguish what is text from what is code explicitly.

So we need to revisit our topics and change code blocks that are just using indentation to used fenced code blocks with triple backticks instead to avoid them being incorrectl

[2016-07-18 19:54] reyou opened #817 "Introduce Prev and Next buttons for easy navigation"
Please include Prev and Next buttons at the beginning and end of the content. There are 2 reasons it will be helpful:

1- For mobile devices, mostly left navigation bar is collapsed and it makes it very hard to jump on next article.
2- For long articles we need to always scroll top to find our last point and click the next topic link.
For Example: https://docs.microsoft.com/en-us/dotnet/articles/s

[2016-07-18 20:42] mairaw commented on #817
Thanks @reyou. As I said on the article, we'll be definitely adding the prev and next buttons to the step-by-step tutorials.

The ASP.NET docs also currently has this: https://docs.asp.net/en/latest/getting-started.html

Thoughts?

/cc @BillWagner @Rick-Anderson @richlander @danroth27

[2016-07-18 20:49] BillWagner commented on #806
Let's discuss how to cover this best across different platforms that developers might choose. From the reading I've done so far, developers could create .NET apps targeting Docker using a Linux workstation, a Mac, or a Windows PC.

Also, I've seen blogs indicating that windows based VMs for Docker are also coming.

That's a large matrix to cover. We don't want to duplicate content and confuse read

[2016-07-18 21:12] dleeapho commented on #806
Sounds good. I think we also want to talk about how to use the -sdk, -core, and -core-deps images. @blackdwarf and @glennc had some content they were collaborating on on that subject.
/cc @michaelsimons

[2016-07-18 23:43] richlander opened #819 "Add Azure Authentication Docs"
As we start documenting app-models with UI, we need to include topics like this for each one of them

https://developer.xamarin.com/guides/xamarin-forms/web-services/authentication/azure/

We can close this issue once we do it for the first one, which I assume we'll be for UWP. It's mostly just a reminder that we need to do this.

[2016-07-19 12:54] reyou commented on #817
Thanks @mairaw. Yes, that implementation looks great. I was thinking entire Microsoft developer documentation will be under one umbrella like docs.microsoft.com/{technology}, but looks like fragmentation already started with asp.net core. Anyway this is another discussion point :) I am looking forward to have updated documentation as well (asp.net core with MsBuild support). Thanks!

[2016-07-19 22:24] svick opened #822 "Last edited date should use a better date format"
Currently, the header of an article looks like this (from [_About .NET_](https://docs.microsoft.com/en-us/dotnet/articles/about/index)):

![](http://i.imgur.com/WAFrxaf.png)

Notice the date: 7/6/2016. I realize that the `M/d/yyyy` date format is common in the US, but I find it very confusing, since I'm used to `d. M. yyyy` (e.g. 6. 7. 2016).

I think the date should be formatted in a way that is

[2016-07-20 04:28] Raviuppa opened #824 "Update RSACng doc with xPlatform supportability information"
CNG is Windows centric only and not supported on other platforms. However, the current doc https://docs.microsoft.com/en-us/dotnet/core/api/system.security.cryptography.rsacng is not disclosing any such and this may lead to confuse for developers who develop on Windows and deploy on Linux/Mac.

The below .NET Core 1.0 app executes fine on Windows where as on non Windows such as Ubuntu, Mac, RHEL a

[2016-07-20 13:31] BillWagner commented on #806
That's great. I had a couple conversations with @michaelsimons earlier in the spring regarding both of those images. Those are definitely scenarios we want to cover.

I'll cc folks on the outline. I expect I'll have that in place early next week.

[2016-07-20 16:31] rpetrusha commented on #751
@svick This is finally working. The Resources namespace page is now accessible both from the .NET Core API Reference namespace list in the TOC section on the left and from the list of namespace descriptions in the page itself. Closing this issue.

[2016-07-20 16:31] #751 closed

[2016-07-20 17:23] joshfree commented on #824
The docs need to be improved here.  The issue is that developers should be using RSA.Create (platform agnostic) instead of directly using the concrete RSACng (windows) or RSAOpenSsl (linux, mac) classes when writing code that targets all platforms.

/cc: @bartonjs

[2016-07-20 20:08] richlander opened #826 "Update Getting-Started instructions"
We need to document that customers should use Visual Studio 2015 Update 3.3. Few parts to that:

- Customers who already have U3 should upgrade to 3.3, either via in-product notification or downloading the update directly: https://msdn.microsoft.com/en-us/library/mt752379.aspx
- Customer who don't yet have U3 should continue to download U3. VS will auto-upgrade to 3.3 upon install.
- Customers wit

[2016-07-20 20:14] richlander opened #827 "Use Title Case for Headings"
The headings in the .NET Core Tools are all ALL-CAPS case. We don't do that anywhere else.

Our initial plan was to make these docs available as "man pages". If and when we do that, we can have a tool that converts the titles back to ALL-CAPS. For readability on the web, Title Case is better.

Example: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-test

Counter Example: https:

[2016-07-20 22:43] blackdwarf commented on #827
@richlander true, these were MD files from the manpages (and they are still like that :)) We can change easily.

[2016-07-20 22:46] alexellis opened #828 "Unit testing example does not work in docker"
# Issue Title

With this article:

https://github.com/dotnet/core-docs/blob/master/docs/core/testing/unit-testing-with-dotnet-test.md
# General

I was able to set up a unit test project and have this restored/running on my Mac but when it came to using the Docker image for Preview 1 or 2 it failed.

[code]

The code is available here:

https://github.com/alexellis/dncore-market-rates

I am a bit c

[2016-07-20 22:59] BillWagner commented on #828
@alexellis Thanks for writing the issue, and providing a link to your project.

I think you are seeing the error because your tests are in the 'test' directory, and not it in a subdirectory of 'test'. Can you move that project into a sub-directory (e.g. 'test/EngineTests') and let us know if it works?

We can update the article to make that more clear.

Thanks.

[2016-07-20 23:12] alexellis commented on #828
This is my resulting structure: (You can clone it and try it - if you're on Mac or Windows 10 there is a 1-click install for Docker that runs without VirtualBox)

[code]

Same issue, works on Mac locally, but not in Docker image.

[code]

Whatever was installed on my Mac

[code]

Preview 1 on Docker:

[code]

Preview 2 on Docker

[code]

What is interesting is that the RateCalc.App application com

[2016-07-20 23:16] BillWagner commented on #828
Thanks for doing that research. Let me do a bit of research, and I'll get back to you.

[2016-07-20 23:58] mairaw commented on #827
Microsoft guidelines is to use sentence case, not title case, so I've added that as our guidance and opened issue #808 to address that, so I'd close this one.

[2016-07-21 00:47] mairaw commented on #822
Thanks @svick. I already had bugs filed internally for the two issues reported. I've noticed the date mismatch the other day and an Australian customer complained about the date format on the site.

[2016-07-21 02:48] svick opened #829 "RID catalog is out of date"
It seems [the RID catalog](https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog#using-rids) is not up to date with 1.0 RTM. But I'm not sure which RIDs should be listed here, so I'm creating this issue to discuss that.

[Here is a list of all the RIDs](https://gist.github.com/svick/eb084a68e50547f36b1022a50f3f2982), based on [Microsoft.NETCore.Platforms/runtime.json](https://github.co

[2016-07-21 03:32] blackdwarf commented on #828
@alexellis in your Dockerfile, could you test out what happens when you change the WORKDIR to point to the root folder, where the `global.json` is and not to the actual test folder?

Actually, come to think of it, you could run `dotnet restore` in the solution folder first and then just WORKDIR into other folders and do `dotnet build`.

[2016-07-21 05:13] #827 closed

[2016-07-21 05:14] richlander commented on #808
This topic and the ones around it are good ones to start with.

https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-test

[2016-07-21 14:36] MichaelSimons opened #830 "`Microservices hosted in Docker` steps seem out of date"
The [Load into Docker](https://github.com/dotnet/core-docs/blob/master/docs/csharp/tutorials/microservices.md#load-into-docker) of the [Microservices hosted in Docker](https://github.com/dotnet/core-docs/blob/master/docs/csharp/tutorials/microservices.md) seem out of date and a little heavy handed.

1. The section starts by going over the contents of the Dockerfile created by the asp.net template.

[2016-07-21 14:38] MichaelSimons commented on #830
@BillWagner, @dleeapho

[2016-07-21 22:56] richlander opened #831 "Document how to add .NET Framework to Azure Guest image"
This should be the best and most automated way to do it.

[2016-07-22 18:53] bradygaster commented on #196
This has been fixed. See [here](https://docs.microsoft.com/en-us/dotnet/core/api/system.math#System_Math_Truncate_System_Decimal_)

[2016-07-22 18:53] #196 closed

[2016-07-22 18:54] bradygaster commented on #198
This has been repaired. See [here](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.icollection#System_Collections_ICollection_IsSynchronized)

[2016-07-22 18:54] #198 closed

[2016-07-22 23:34] jeremymeng commented on #828
I think @alexellis is missing the `global.json` in the Docker image. See https://github.com/moq/moq4/issues/168#issuecomment-234120869.

[2016-07-23 01:21] cartermp opened #834 "F# Guide TOC"
We're moving the Visual F# docs to [docs.microsoft.com](docs.microsoft.com).  There are a number of tasks involved here (creating an F# compiler and FSharp.Core reference, landing page(s), and more, but one of the important tasks will involve taking a lot of the conceptual/tutorial content in the [Visual F# Development Portal](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/visual-fsh

[2016-07-23 01:35] cartermp commented on #834
cc @dend @dsyme @KevinRansom @richlander

[2016-07-23 06:14] blackdwarf commented on #828
@jeremymeng the Dockerfile in the repo shows that global.json is being added.

[2016-07-23 06:48] blackdwarf opened #835 "Add an example project.json https://www.microsoft.com/net/core"
Cross-post from dotnet/cli#3633

This is a more of a doc bug , please please add an example project.json showing all the options at
https://www.microsoft.com/net/core#windows
All i wanted to do was to add some exiting file and spent almost an hour searching for how to do it and then had to ask around to finally figure it out.

How do i add existing source files to project.json
How do i add local r

[2016-07-23 07:22] alexellis commented on #828
It is now working inside Docker, but does a complete restore every build. Is there a way of changing the instruction order to take advantage of the step caching?

I.e. in nodejs with npm you can restore before adding any code.

[2016-07-23 11:11] svick commented on #835
@tijoytom Why would you expect answers to your fairly specific questions on a "here is the bare minimum to get you started" page? Have you tried looking for links leading to more documentation or tutorials on that page?

---

That page currently says:

Maybe putting the links to documentation and tutorials before the dotnet/core samples would make more sense?

[2016-07-23 14:57] SeayXu commented on #386
@mairaw I‘m translating the `docs/core/tools` part to **Chinese**,when translated I will submit to my GitHub, that I had forkd project’s  `zh-cn` branch.Can I submit PR and how?

[2016-07-23 19:08] mairaw commented on #386
Thank you for your interest @Emeryao and @SeayXu. I can't wait to be able to have localized documentation for .NET on docs.microsoft.com. We'll provide the content localized and then you'll be able to submit improvements. We don't have the site ready to be able to accept PRs at this moment. @ericvt can probably say more about the localization plans.

[2016-07-24 19:24] blackdwarf commented on #835
@svick maybe. There is a documentation link high up there. But also, one thing that I've noticed here is that there is no link from the TOC under the .NET Core node to the project.json reference. This should also be fixed.

[2016-07-25 03:58] richlander commented on #386
It would be good if developers from other countries could translate individual documents ahead of the Microsoft-provided translation as opposed to solely providing improvements.

Naively, I'm guessing that this is mostly a question of coming up with the repo structure for localized docs and the webserver serving up those translations when appropriate. Is that right?

/cc @bradygaster

[2016-07-25 04:51] lextm commented on #386
@richlander Developers from China have already started several initiatives ([like this one](http://home.cnblogs.com/u/dotNETCoreSG/)) to translate the materials, but without proper arrangements the quality and the accuracy cannot be guaranteed.

The earlier we see an almost finalized localization plan, the easier all efforts can be focused on the most important part.

[2016-07-25 05:04] richlander opened #838 "Proposal for API Docs - Attributes"
# Proposal for API Docs - Attributes

Attributes provide extra information about types or members via decorating types and members with this information. Some attributes form part of the public contract (e.g. SerializableAttribute) whereas others simply augment (e.g. DebuggerDisplayAttribute) an experience with the type or member. The docs should be focussed on the first case since the second case

[2016-07-25 05:06] richlander commented on #838
/cc @bradygaster @mairaw @migueldeicaza @conceptdev @rpetrusha

[2016-07-25 06:03] richlander commented on #386
@lextm makes sense. This is something we will finalize this summer. It's quite important, as you suggest.

[2016-07-25 11:31] svick commented on #838
Related: Namespace summary in API reference should not show attributes #809

[2016-07-25 13:04] richlander commented on #809
I'd question whether type signatures are needed on namespace summary pages at all. The type name on its own seems adequate.

[2016-07-25 15:46] rpetrusha commented on #809
I agree.

[2016-07-25 15:59] mairaw commented on #809
I had requested the signatures to be removed from namespace pages on a feature request. I can check the status when I'm back.

[2016-07-25 17:39] cartermp commented on #834
I feel like I should justify the inclusion of the F# language reference here rather than having it be a part of an F# API reference.  I think there are two things to account for here:

1. The F# Language Reference actually contains a lot of conceptual content.  Even though it's a reference, the content for things like Exception Handling covers a lot of "what this is really used for" information, w

[2016-07-25 18:12] cartermp opened #840 "Tutorials: Using on Windows - Have fully-formed project.json examples"
Came up in #839.  We should supplement the steps this article with some fully-formed project.json and C# files.

[2016-07-25 18:48] #826 closed

[2016-07-27 15:58] richlander opened #844 "Document .NET Core pre-reqs"
.NET Core pre-reqs should be documented. #843  does that.

The pre-reqs are not short and include workarounds in some cases. Very few people benefit from seeing macOS, Windows and Linux pre-reqs all together. It's a better experience to see this information in a file per OS. As a user, I prefer that over linking to an anchor.

[2016-07-28 14:23] BillWagner commented on #844
The files for Windows were renamed and merged in #843   What remains are the following subtasks:

- [ ] Create the pre-reqs doc for the MacOS / OSX
- [ ] Create the pre-reqs doc for Linux. (Open Question: Do we need one per Linux distro?)
- [ ] Rationalize the Windows pre-reqs to make it easier for developers choosing either Visual Studio, or VS Code / CLI (or another editor).

At this time, the W

[2016-07-28 18:43] BillWagner commented on #90
There's a lot of history here, and this is a big topic.

I added sub-tasks in the original description to provide some pointers on where to start.

[2016-07-28 18:50] BillWagner commented on #171
Can we expand this to include corresponding JSON samples, using .NET Core / NewtonSoft JSON support? That would both make it more modern, and show how LINQ powerfully abstracts away the data format.

[2016-07-28 18:52] BillWagner commented on #258
I think this can be closed. The build system grabs the author and any contributors from the repo history and metadata.

/cc @bradygaster If I'm correct, go ahead and close.

[2016-07-28 18:53] BillWagner commented on #261
/cc @bradygaster I think this is a tooling issue. Do you or @DuncanmaMSFT have suggestions here?

[2016-07-28 18:55] BillWagner commented on #266
Should this move out from the C# Tutorials section?

This topic affects all languages, and applies everywhere .NET Standard applies. I think it should be covered under the net-standard area.

/cc @blackdwarf @richlander @cartermp @mairaw

[2016-07-28 19:15] BillWagner commented on #274
The PR for Issue #222 has been merged, and that issue has been closed.

We still need to update some of the exception content with a discussion of exception filters, including some examples. (That may be a duplicate of the "What's new in C# 6" topic though.)

[2016-07-28 19:18] BillWagner commented on #447
Styles have changed significantly, and this looks much better on http://docs.microsoft.com

Can this be closed?

/cc @mairaw @blackdwarf

[2016-07-28 19:19] BillWagner commented on #830
See also #462

[2016-07-28 19:32] cartermp commented on #258
Yep, let's close it out.  We've got the info now.

[2016-07-28 19:32] #258 closed

[2016-07-28 19:33] cartermp commented on #266
Agreed.  I'm happy to help with any F#-specific stuff (it's not much, `use` bindings have obvious scoping rules and use the same underlying mechanisms).

[2016-07-28 19:39] stevehoag commented on #232
@mairaw Didn't you already update this topic? Can we close this?

[2016-07-28 19:46] blackdwarf commented on #447
Closing. This was for the previous site and was transient since it had to do with temp CSS changes.

[2016-07-28 19:46] #447 closed

[2016-07-28 19:47] blackdwarf commented on #844
@BillWagner you are using the workarounds in the known issues doc in dotnet/core repo?

[2016-07-28 19:47] stevehoag commented on #295
@rpetrusha Didn't this get rolled into the Deployment Concepts topic? Close?

[2016-07-28 19:49] stevehoag commented on #296
@rpetrusha Is this covered by the Deployment Concepts topic?

[2016-07-28 19:50] stevehoag commented on #297
@rpetrusha Is this covered by the Deployment Concepts topic?

[2016-07-28 19:52] blackdwarf commented on #297
@stevehoag nope, but we will not be documenting this since the feature is not baked yet. Closing.

[2016-07-28 19:52] #297 closed

[2016-07-28 19:52] stevehoag commented on #304
Referenced topic no longer exists - closing.

[2016-07-28 19:52] #304 closed

[2016-07-28 19:57] stevehoag commented on #317
@blackdwarf Is this something that still needs to be tracked?

[2016-07-28 20:01] blackdwarf commented on #317
This is actually done.

[2016-07-28 20:01] #317 closed

[2016-07-28 20:02] stevehoag commented on #367
Content was completed a while ago...

[2016-07-28 20:02] #367 closed

[2016-07-28 20:07] stevehoag commented on #408
Closing; addressed by 429

[2016-07-28 20:07] #408 closed

[2016-07-28 20:09] stevehoag commented on #414
@cartermp Hasn't this already been addressed?

[2016-07-28 20:12] cartermp commented on #414
Yep, closing.

[2016-07-28 20:12] #414 closed

[2016-07-28 20:14] stevehoag commented on #467
@richlander Referenced topic no longer exists - should we close this?

[2016-07-28 20:15] stevehoag commented on #469
@BillWagner Referenced topic no longer exists - close?

[2016-07-28 20:18] stevehoag commented on #471
Closing; addressed by 471

[2016-07-28 20:18] #471 closed

[2016-07-28 20:21] rpetrusha commented on #295
Yes, it did. To [.NET Core Application Deployment](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/index)

[2016-07-28 20:21] #295 closed

[2016-07-28 20:23] rpetrusha commented on #296
Yes. It's covered by [.NET Core Application Deployment](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/index).

[2016-07-28 20:23] #296 closed

[2016-07-28 20:28] BillWagner commented on #469
Yes, closing.

[2016-07-28 20:34] BillWagner commented on #491
This has to be done with communication around the Task Parallel Library, and async, and await.

[2016-07-28 20:36] BillWagner commented on #576
My last search of our samples, along with @dend 's CI indicates we've found all these.

Time to close this?

[2016-07-28 20:39] BillWagner commented on #759
This will get handled by the system that builds the HTML from the markdown files.

[2016-07-28 20:40] BillWagner commented on #760
Closed in #796

[2016-07-28 20:40] #760 closed

[2016-07-29 12:49] joaomello opened #849 "Build on local machine"
Hi all!
I'm trying to build the docs on my machine, but docfx appears to only copy the images... and not generating the site. I'm using docfx 2.2.

![Image of server](http://i.imgur.com/cRCIRaX.png)

**Command:**

[code]

Is possible to build the docs?

[2016-07-29 16:48] BillWagner commented on #844
@blackdwarf Currently, we only documented the one setup issue. We should do that going forward for all platforms.

[2016-07-29 18:32] dend commented on #576
CI doesn't detect any rc2 dependencies, so we should be good.

[2016-07-29 20:00] BillWagner commented on #576
Sounds good.  Closing.

[2016-07-29 20:00] #576 closed

[2016-08-01 13:18] BillWagner commented on #849
/cc @bradygaster

The documentation will build (in that all the HTML files are generated from the markdown source.)  Brady (cc'ed) can provide more information on what does work, and how this will change moving forward. We know we need to provide a better experience in generating the final site in a developer environment.

[2016-08-01 13:58] svick commented on #849
Related: Local docfx build is now much less useful https://github.com/dotnet/core-docs/issues/627

[2016-08-02 21:06] richlander opened #858 "Add .NET Framework Installation docs"
There are several docs that I wrote that are part of the .NET Framework deployment experience. Customers see the following dialog.

![image](https://cloud.githubusercontent.com/assets/2608468/17344385/b45507d4-58b6-11e6-84f3-6e22c4b21a5f.png)

They are taken to a page (in their browser) when they press "Yes". The target page is variable, dependent on the .NET Framework version they need and the Wi

[2016-08-03 17:38] mairaw commented on #817
We're trying to fix the fragmentation. Eventually all docs will be at docs.microsoft.com.

[2016-08-03 18:40] mairaw commented on #858
Is this something that would not be on the TOC?

[2016-08-03 19:52] mairaw commented on #829
@blackdwarf can you take a look at this issue?

[2016-08-03 23:07] richlander commented on #858
I would think they would show up in the TOC, just like how the "Windows 8 / .NET 3.5" one does. Thoughts?

[2016-08-03 23:07] mairaw commented on #849
Are you all experiencing this @BillWagner, @svick? I've updated my docfx to 2.2.2 today and ran the build and I'm still able to see the site. It's not pretty because of the lack of a template, but it builds the docs.

![image](https://cloud.githubusercontent.com/assets/12971179/17384956/5c6eff6e-5994-11e6-9de6-881e76225600.png)

[2016-08-03 23:26] mairaw commented on #261
I've update the main issue to point to docs instead.

[2016-08-03 23:48] mairaw commented on #858
They feel more like support pages than actual docs, but it's fine by me. So they would go under the Installation node once we move the .NET docs, correct?

I agree that we should keep those simple and as single units if regular consumers are being redirected to those. That Windows 8 / .NET 3.5 topic is a major point of frustration for customers. Non developers find it too difficult and others are

[2016-08-04 00:08] mairaw opened #862 "Windows prerequisites topic questions"
I have a few questions about the following topic:
https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites

- We mention Windows 7+, etc. The + sign is not a common convention for international customers so I think we should change to Windows 7 and later versions or something like that.
- Why do we specifically call out the nano server? Isn't that already covered by Server 2012

[2016-08-04 00:33] BillWagner commented on #849
It's better. It's building the docs, and the images are deployed to the _site directory (which wasn't happening with an earlier version)

[2016-08-04 03:19] richlander commented on #858
The problem with support pages is that they are not at all approachable for consumers to read. They typically force a format that is intended for a different audience. There is no perfect option, but our docs seem better than the alternative. Also, we get an opportunity to address feedback since it's in our doc-set.

Anyway, I think we agree. It's better for us to own/deliver more of the experienc

[2016-08-04 04:34] mairaw commented on #849
Yes, I've fixed the issue with the images last month. So not sure why @joaomello is experiencing this. @chenkennt any clues?

[2016-08-04 05:40] chenkennt commented on #849
This is because the template for docs.microsoft.com has been moved out of DocFX to a separate repo. Unfortunately that repo is private so external user cannot build the docs. @DuncanmaMSFT , is it possible to make the template repo public so that external user can build the repo locally?

[2016-08-04 13:57] tbolon commented on #797
Sorry to pollute this issue, but do you know where we could provide feedback regarding the schema itself ? For example the xmlDoc buildOption is missing.

[2016-08-04 17:16] mairaw commented on #844
I saw the new topic yesterday and I was wondering if these pre-reqs docs should be under Getting Started.

[2016-08-04 17:22] mairaw commented on #467
I think we can close this. We have this topic on docs now:
[Packages, Metapackages and Frameworks](https://docs.microsoft.com/en-us/dotnet/articles/core/packages)

[2016-08-04 17:22] #467 closed

[2016-08-04 17:26] mairaw commented on #232
Nope, I had to work on some other priorities so didn't get to finish this one.

[2016-08-04 19:42] BillWagner opened #871 "Samples Directory needs to separate build environments"
We discovered this while working on PR #870

A few of our samples require the full framework. That's fine, because they cover migrating from the full framework to Core, or supporting both (see here: https://docs.microsoft.com/en-us/dotnet/articles/core/porting/project-structure)

We need a project structure that enables the CI build server to build the right set of samples in the correct configura

[2016-08-04 19:49] dend commented on #871
That makes sense. From a CI standpoint, I want different build agents to cover different areas, with certainty that the areas covered are not failed because of a framework scope mismatch.

`/samples/full-framework` makes sense to me.

[2016-08-04 20:01] richlander commented on #871
A simple convention makes sense.

"full-framework" is a colloquialism, so we should pick something different than that. One option is to use the NuGet names. This will also help with specifying target framework version. So, a .NET Framework 4.6 project would be "net46". See: https://docs.nuget.org/Create/TargetFrameworks.

[2016-08-04 20:01] kuhlenh opened #872 "C# Productivity Features in Visual Studio"
A large number of customers have no idea what our productivity features are inside Visual Studio. This will be referenced from VS.com.

Below is my rough outline, with some parts filled.

---
# required metadata

title: C# Productivity Features  | .NET & Visual Studio
description: Visual Studio offers many features that will help you be more productive as you build and innovate in C# and Visual Ba

[2016-08-04 20:04] dend commented on #871
@richlander we need something that can fully encompass all possible variations of .NET "full" framework. Within `full-framework` we can create sub-directories with `net46` and so on (because what will happen when `net47` comes out?).

That said, we also need to move all core samples to `/samples/core-framework` or `/samples/dotnet-core` - easier to manage and more intuitive.

[2016-08-04 20:10] BillWagner commented on #871
As I think about it, I really like the idea of using the NuGet package names.

Consider that we have CI servers with known configurations. For example, Windows with .NET Core 1.0, Windows with .NET 46, Ubuntu with .NET Core 1.0.

Each CI Server builds all samples it can:
. Windows with .NET Core 1.0: all samples for .NET Core 1.0
. Windows with .NET 46: all samples for .NET 46, or earlier, and all

[2016-08-04 20:13] mairaw commented on #871
I think we should call it netframework or something like that. I don't think we want to keep changing folders every time a new version comes out.

[2016-08-04 21:42] dend commented on #871
@BillWagner something to keep in mind is that there will be a matrix, where we can say: *this sample runs on 4.5, 4.6 but not earlier* - that means that a single machine (e.g. Windows 7 with .NET 4.6) will attempt to build all samples within the scope (`/samples/netframework` - following @mairaw's naming convention here) and then report back whether it was successful or not. Besides, some samples

[2016-08-04 22:17] richlander commented on #871
I think there are two good models:

- Match the guide name.
- Match the NuGet short name (no version).

If we look at Xamarin, it won't just be Xamarin, but Xamarin Android and Xamarin iOS (and others). If we keep that in mind, then the NuGet name is the best, IMO.

[2016-08-04 22:18] dend commented on #871
In the Xamarin case, would it make sense to have the structure similar to `/samples/xamarin/android` then?

[2016-08-04 22:36] richlander commented on #871
That would work.

[2016-08-04 22:54] kuhlenh commented on #872
would love your thoughts on whether I should combine C# and VB in this documentation (not all features are for both languages, but there is a huge overlap).

[2016-08-04 23:06] mairaw commented on #809
/cc @DuncanmaMSFT @bradygaster

My previous feature request was marked as completed but did not implement the removal of the syntax blocks from namespace pages, so I just opened a new one.

[2016-08-04 23:11] stevehoag commented on #872
We’ve just gone through an exercise of separating the combined VB/C# docs. The separated topics are getting higher satisfaction ratings, so I think we should go forward with creating separate topics for each language even when there is substantial duplication.

From: Kasey Uhlenhuth [mailto:notifications@github.com]
Sent: Thursday, August 04, 2016 3:55 PM
To: dotnet/core-docs <core-docs@noreply.gi

[2016-08-04 23:42] mairaw commented on #849
But I thought customers could still run DocFx however they wouldn't get the template or a TOC. Isn't that the case? I haven't managed to use the PowerShell script yet since I got some errors. That one I was expecting not to work for the community. I'll be opening a feature request to enable this. If we want the community to help us with the docs, they should have access to the same tools that we h

[2016-08-05 00:46] mairaw commented on #838
We should already have this list somewhere since we don't display these attributes on MSDN. @bradygaster is this the one you were mentioning today that you were following up?

[2016-08-05 01:00] mairaw commented on #824
I've updated the initial issue description to remove the boilerplate text from our template. The API reference right now is just using the IntelliSense from .NET to generate the basic API docs. We'll be able to improve those docs once we have our final solution for the API docs in place.

[2016-08-05 06:05] chenkennt commented on #849
You can build the docs using DocFX default template: `docfx build -t default`. The only problem is the nav bar on the top doesn't display correctly and links on it are broken because that's designed specifically for docs.microsoft.com

[2016-08-05 17:38] kuhlenh commented on #872
Closing and moving to a different repro.

[2016-08-05 17:38] #872 closed

[2016-08-05 22:29] richlander opened #877 "Document CRT dependency on Windows 7/8"
.NET Core requires a CRT install on Windows 7 and 8.

Cases where you are OK:
- You install .NET Core via MSI. It installs this dependency for you.

Cases you need to install the CRT yourself:
- You 'install' .NET Core via a .zip. This can include build/CI/CD servers.
- You build the product from source
- You publish a self-contained app and deploy to a machine w/o the CRT (again, only Windows 7/8

[2016-08-05 23:33] gkhanna79 commented on #877
This is documented at https://github.com/dotnet/core/blob/master/Documentation/prereqs.md.

[2016-08-05 23:36] mairaw commented on #877
Isn't this what's documented at https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites already?

[2016-08-06 02:45] blackdwarf commented on #877
@mairaw @gkhanna79 we need to add a little bit more information and something similar to what @richlander outlined in the issue above is a good starting point.

[2016-08-06 11:12] idofl opened #878 "docs/core/tools/project-json.md - unclear what is the default for System.GC.RetainVM"
In the configProperties section, there is an explanation on the various GC knobs. For **System.GC.Server** is says that the default is false, but for **System.GC.RetainVM** it only says the options, and doesn't specify the default.

[2016-08-08 15:19] BillWagner commented on #871
**Updated Proposal**

We need to solve the immediate problem of building samples for all platforms where we currently have code. The solution should provide a path for future concerns such as:

- Xamarin Builds (build iOS and Android)
- Versions of the framework or core, for upgrade scenarios
- Native interop samples that (by definition) are valid only on one supported platform.

Currently we have

[2016-08-08 18:24] dend commented on #871
@BillWagner what about `/samples/xamarin/ios` - overall the proposal looks good, but also would be great to establish some guidelines of how this will be extended in the future so that we are not really splitting the experience.

[2016-08-08 22:50] mairaw commented on #871
I like the proposal too. Agree with @dend's comment as well.

[2016-08-09 15:56] BillWagner commented on #871
Self-assigning, and PR coming.

I'll put guidance in the contributing.md file about extending in the future.

[2016-08-09 17:49] BillWagner opened #887 "C# Delegates and Events articles do not link to samples"
The topics on delegates and events have samples under the C# section. The topics do not link to them.

[2016-08-09 17:55] BillWagner opened #888 "Iterators sample is not referenced from the topic"
The iterators sample should be referenced from the C# iterators topic.

[2016-08-10 01:03] BillWagner commented on #871
fixed in #890

[2016-08-10 01:03] #871 closed

[2016-08-10 14:06] BillWagner commented on #862
The first bullet points makes sense.

I'll defer to @richlander on the second bullet point.

As for the third, I'd welcome any suggestions to make it clearer. The problem is that Update 3.3 is a product update that is installed via the VS Update mechanism. But, only if you already have Update 3 installed. If you install Update 3 now (because you don't already have it), the download automatically a

[2016-08-12 00:52] cartermp opened #896 "Pipe operator '|' renders tons of space in a table"
See the following tables:

https://stage.docs.microsoft.com/en-us/dotnet/articles/fsharp/fsharp-language-reference/symbol-and-operator-reference/index?branch=dend-fsharp-exp#table-of-symbols-and-operators

https://stage.docs.microsoft.com/en-us/dotnet/articles/fsharp/fsharp-language-reference/symbol-and-operator-reference/index?branch=dend-fsharp-exp#operator-precedence

/cc @chenkennt

[2016-08-12 01:26] mairaw commented on #896
I will close this issue by design. Markdown interprets the pipe as a new cell.

This SO question has a possible solution: http://stackoverflow.com/questions/17319940/how-to-escape-a-pipe-char-in-a-code-statement-in-a-markdown-table/17320389#17320389

Or use the same solution you used on MSDN: https://raw.githubusercontent.com/Microsoft/visualfsharpdocs/live/docs/conceptual/symbol-and-operator-refe

[2016-08-12 01:26] #896 closed

[2016-08-14 20:32] Qudware opened #905 "Extra <br> tags in /dotnet"
At this page: https://docs.microsoft.com/en-us/dotnet/

Have a look at this diff: https://www.diffchecker.com/hkslv3y3

This causes the 'MonoGame' and 'Unity' boxes to go down a line, doesn't look very good.

I tried editing the md file but it didn't have those <br>s so I'm not sure why they exist in the live site.

[2016-08-15 01:02] #905 closed

[2016-08-15 20:41] #830 closed

[2016-08-17 19:15] ncarandini opened #915 "Include MSTest or swap XUnit with MSTest on tutorial "using-on-windows""
Hi,
I successfully tried to use MSTest on the TestLibrary project, and I think it would be useful to modify the tutorial to include the MSTest instructions or to swap XUnit in favor of MSTest.
If you think is a good idea I can do it by myself and create a PR.

@cartermp

[Link to tutorial](https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-windows
)
[Link to GitHub page](http

[2016-08-18 06:08] dnch opened #917 "API Documentation should indicate obsolescence"
When trying to build a new project using `System.Collections` I ran into trouble trying to get my work to compile. It was only after help from someone on the .NET Slack channel and a chance click on the "View Source" button on the docs that I saw this:

https://github.com/dotnet/corefx/blob/master/src/System.Collections.NonGeneric/src/System/Collections/SortedList.cs/#L64

As you can see on https:

[2016-08-18 14:01] BillWagner commented on #917
Ping @terrajobst for advice on what the best forward-looking guidance should be.

[2016-08-18 14:06] BillWagner commented on #915
@ncarandini Thank you for raising this issue.

I agree that we should cover MSTest.  I believe it would be better for consumers if it were a different topic, parallel to the current topic. The flow would be better to have a cohesive tutorial for xUnit, and a second for MSTest than for one topic that switches back and forth between those two tools.

Would you agree?

[2016-08-18 14:23] ncarandini commented on #915
Yes, interleaving xUnit and MSTest will be confusing, at best.
When you say two topic, do you mean a subsequent topic in the same document, maybe with a common prehamble like "[...] You can use either xUnit or MSTest[...]" followed by two distinct topic:
- Writing the test project with xUnit
- Writing the test project with MSTest
or another document?

[2016-08-18 14:26] BillWagner commented on #915
I think it's a separate document, in the same directory. We make sure to cross-link the topics, and add the new one in the TOC.md so readers can easily find both.

[2016-08-18 14:27] ncarandini commented on #915
Ok, perfect. I can write a draft, if you like.

[2016-08-18 14:28] BillWagner commented on #915
That would be wonderful. If you want any of us to review outlines or early drafts, just make a PR and add the "WIP" label.

[2016-08-18 14:29] ncarandini commented on #915
Thanks, is my first contrib and I love to try this.

[2016-08-18 17:24] mairaw commented on #917
You're right @dnch. The doc page should display a boilerplate and the obsolete attribute also needs to be displayed. I'll check if we're tracking this issue internally already.

[2016-08-18 18:19] terrajobst commented on #917
We generally don't think that the `[Obsolete]` marker is appropriate for cases where large chunks of API surface have been replaced with something better, such as the case with non-generic collections. For one, it's often quite noise because you'll now get hundreds of warnings telling you that `SortedList` is a non-generic collection and you really be using something else. That's often not actiona

[2016-08-18 22:36] mairaw commented on #917
As we think about how we want to surface those in the docs, how do we make the distinction? Historically, reflection would see the attribute and add a boilerplate on MSDN.

[2016-08-18 22:39] terrajobst commented on #917
We haven't designed the end-to-end yet. I think whatever the option is we'll try to make it data driven rather than writing custom code for all the analyzers. And if it's data driven, I think there would be a way to extend the doc tooling to pull in that information, akin to how the attribute worked. In this world, though, it would probably not manifest itself in the syntax section but probably as

[2016-08-18 23:29] ncarandini commented on #915
Done, but I've no rights to add the "WIP" label.

[2016-08-19 00:13] mairaw commented on #915
I've added the label. We'll review it soon.

[2016-08-19 00:29] ncarandini commented on #915
Hi Maira,
Doing some testing I've just discovered that the latest preview version of MSTest packages (the ones I've written on the proposed article) we can skip step 9 because the solution builds with "imports": "dnxcore50".
Can this change be made directly by the reviewer?

[2016-08-19 00:59] mairaw commented on #915
Hi @ncarandini. You can change the article. Use the same branch you used for submitting your PR and the PR will be automatically updated when you push the changes. Thanks for your contribution!

[2016-08-19 06:02] zhengchun opened #923 "Add RIDs for the windows servers"
Hello,recently i'm want to publish my .net core app to windows 2008 r2,but im not found that list in the [offcial document](https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog).

googling and have solved my problem by this : [Which Versions of Windows Server Match the .NET Core Runtime RID's](http://stackoverflow.com/questions/37838394/which-versions-of-windows-server-match-the-net-c

[2016-08-19 08:01] ncarandini commented on #915
Thanks, didn't know that, I'm still a rookie on PRs :-)

[2016-08-19 11:49] mrakgr opened #926 "The EXPRESSION - TRANSLATION table is messed up on the MSDN page for the Computation Expressions"
The .md file shows it fine on Chrome, but [this page does not display it properly](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/computation-expressions).

[2016-08-19 17:26] mairaw commented on #926
It's probably the pipes inside the inline code that is messing with that. @dend you had another topic where you had to HTML literals to workaround this issue no? It's interesting that GitHub knows how to handle that. I'll open a bug to the site and see if they can mimic the GitHub behavior.

[2016-08-19 17:46] cartermp commented on #926
Yep, looks like we missed some `<code>` blocks.  I'll get a PR out.

[2016-08-19 18:43] #926 closed

[2016-08-19 18:43] cartermp commented on #926
Fixed!  This should go live in a day or two.

[2016-08-19 21:56] mairaw commented on #923
We're in the process of updating that article. I'll make sure this is covered too.

[2016-08-20 19:27] svick opened #933 "Comments are not syntax highlighted"
It seems that on docs.ms, comments in code blocks are not syntax highlighted. I noticed this happens for F# on [let Bindings](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/functions/let-bindings#syntax), but it happens for C# too (e.g. on [Developing Libraries with Cross Platform Tools](https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries#how-to-mu

[2016-08-20 22:48] cartermp commented on #933
We've got a bug for this out already, but this is good info to link to for further examples.  Thanks.

[2016-08-22 14:35] GiitHuub opened #936 "Bad F# 'casting-and-conversions.md'"
core-docs/docs/fsharp/language-reference/casting-and-conversions.md
is a copy of
copy-and-update-record-expressions.md

suggested reviewer @cartermp

[2016-08-22 14:57] cartermp commented on #936
Thanks @GiitHuub, looks like this was an error when moving documentation over.

[2016-08-22 16:23] BillWagner commented on #917
In the fullness of time, I'd love an experience where tools read what platform(s) I want to support in a library, and reports on any API that would have problems. In particular:

- Changing the build configuration would cause any analyzers to run again and either add new reports, or remove those no longer applicable in the selected platforms.

- Including a NuGet package not supported on the chose

[2016-08-22 18:10] terrajobst commented on #917
Agreed. We're still fleshing out how the story will work in the build tools and our IDEs. Whatever mechanism we invent, we should make sure the docs echo it.

[2016-08-22 20:27] cartermp commented on #936
Fixed with #937.

[2016-08-22 20:27] #936 closed

[2016-08-22 20:37] mairaw commented on #917
@terrajobst any ideas on when you will have a proposal to this? we're going through our features for docs and don't want to implement things when they're still unstable

[2016-08-22 22:45] terrajobst commented on #917
Multi-targeting and .NET Standard is the number thing my team works on right now. I think we should have a committed high-level plan by EOW this week. From there on, it's mostly a matter of us designing the concrete UX up the stack. Unfortunately, I don't have an ETA for that.

[2016-08-23 14:20] #486 closed

[2016-08-23 20:13] cartermp commented on #834
Closing, as we now have this implemented.

[2016-08-23 20:13] #834 closed

[2016-08-23 20:25] BillWagner opened #942 "Create the Getting Started topic for the C# Guide"
The getting-started section (http://github.com/docnet/core-docs/blob/master/docs/csharp/getting-started/index.md) index should contain:
- general information about the different environments and platforms where C# can be used.
- general information about acquiring C# and the .NET tools.
- links to the other getting started content.

When writing this, call out C# interactive (and its getting start

[2016-08-23 20:37] BillWagner opened #943 "C# Guide: Getting Started with Visual Studio"
The getting-started-with-visual-studio topic (http://github.com/dotnet/docs/blob/master/docs/csharp/getting-started/with-visual-studio.md) index should contain:

o installation information for Visual Studio Community Edition (current version)
o Tour of the Visual C# Templates
o Create and run your first C# program.
o basic debugging with Visual Studio

At this time, the "current version" should be

[2016-08-23 20:45] BillWagner opened #944 "C# Guide: Getting Started with Visual Studio Code"
The getting-started-with-visual-studio-code topic (https://github.com/dotnet/docs/blob/master/docs/csharp/getting-started/with-visual-studio-code.md) should contain:

o installation information for Visual Studio Code
o installation of the C# extension
o guidance on other recommended C# extensions
o Create and run your first C# program.
o Basic debugging in Visual Studio Code

Some of these concept

[2016-08-23 20:52] BillWagner opened #945 "C# Guide: Getting started with the cross-platform command line tools"
The getting-started-with-visual-studio topic (http://github.com/dotnet/docs/blob/master/docs/csharp/getting-started/with-cross-platform-tools.md) should contain:

o installation information for the dotnet cli
o Create and run your first C# program.

Some of these concepts are covered in the getting started section for .NET core. Where applicable, this topic should reference that content rather tha

[2016-08-23 20:57] BillWagner opened #946 "C# Guide: Getting Started with C# Interactive"
The getting-started-with-csharp-interactive topic (http://github.com/dotnet/docs/blob/master/docs/csharp/getting-started/with-csharp-interactive.md) should contain:

o how to install C# interactive on windows, in Visual Studio, and on Mac
o basic definition of a REPL
o A tour of the major features of C# Interactive, with examples.

[2016-08-24 18:25] BillWagner opened #948 "C# Tutorial: Using Visual Studio to create, debug, and deploy applications."
This issue tracks content for https://github.com/dotnet/core-docs/docs/csharp/tutorials/create-debug-deploy.md

This topic should cover an end to end scenario using C# and Visual Studio to create an application, learn the basics of the Visual Studio debugger to fix problems, and deploying the final application (likely in Azure).

This tutorial should include a full sample that developers can follo

[2016-08-24 18:37] BillWagner opened #949 "C# Tutorial: Using C# Interactive to explore and experiment"
This issue tracks the creation of this topic: https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/exploring-with-csharp-interactive.md

This topic should explain how to use C# interactive to explore an API, experiment with how an API or library can be used, and export the results to a .cs file for use in an application.

C# Interactive works inside Visual Studio, as a stand-alone appl

[2016-08-24 18:50] BillWagner opened #950 "C# Tutorial: Creating Portable Libraries"
This issue tracks the creation of this topic: https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/creating-portable-libraries.md

This tutorial should provide an end to end scenario that creates a library that can be used across multiple platform targets. It should walk the user through creating the library, updating the targets, creating a NuGet package, and how to distribute that pa

[2016-08-24 19:05] BillWagner opened #951 "C# Tutorial: Asynchronous UI Programming"
This issue tracks the creation of this topic: https://github.com/donet/core-docs/docs/csharp/tutorials/asynchronous-ui-programming.md

This tutorial should explain techniques for starting asynchronous tasks, monitoring those tasks, and updating the UI when those tasks complete.

Techniques for using the ICommand interface with asynchronous work should be explored.

Consider ValueTask, and caching

[2016-08-24 19:13] BillWagner opened #952 "C# Tutorial: Asynchronous Server Programming"
#This issue tracks the creation of this topic: https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/asynchronous-server-programming.md

This tutorial should explain techniques for starting asynchronous tasks, monitoring those tasks, and reporting progress.

This tutorial should also explore why offloading CPU bound work using Task.Run() in a server context is often an anti-pattern. Mor

[2016-08-24 19:23] BillWagner opened #953 "C# Tutorial: Concurrent Programming"
This issue tracks the creation of this topic: https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/concurrent-programming.md

This tutorial should explain techniques for running CPU bound tasks in parallel for increased throughput.

This tutorial must contrast concurrent programming with asynchronous programming. It should explore techniques like Parallel LINQ, the TPL and related libr

[2016-08-25 01:09] #67 closed

[2016-08-25 02:15] karann-msft opened #955 "New Doc for dotnet nuget push"

[2016-08-25 02:16] karann-msft opened #956 "New Doc for dotnet nuget delete"

[2016-08-25 02:17] karann-msft opened #957 "New Doc for dotnet nuget locals"

[2016-08-25 02:22] karann-msft opened #958 "Update doc for dotnet restore"

[2016-08-25 02:22] karann-msft opened #959 "Update doc for dotnet pack"

[2016-08-25 12:28] mendhak opened #960 "Keyserver and GPG fingerprint for Ubuntu installation"
# Keyserver and GPG fingerprint for Ubuntu installation
## Issues with Existing Topics

The installation instructions for [Ubuntu](https://www.microsoft.com/net/core#ubuntu) make use of the keyserver `apt-mo.trafficmanager.net` - on many corporate networks, port 11371 can be unreachable.  Since it's Ubuntu, what about using `hkp://keyserver.ubuntu.com:80` instead?  Port 80 is more often than not o

[2016-08-25 15:33] BillWagner opened #961 "What's new in C# 7"
This issue tracks the content for https://github.com/dotnet/core-docs/csharp/csharp-7.md

This topic will likely generate several sub-topics, one for each feature.

It should include a sample, or set of samples that demonstrate the new features coming with the C# language.

An initial list of C# 7 features is in this blog post by @madstorgersen: https://blogs.msdn.microsoft.com/dotnet/2016/08/24/w

[2016-08-25 16:10] BillWagner opened #962 "C# Guide: Namespaces and Assemblies"
This issue tracks the creation of https://github.com/dotnet/core-docs/csharp/guide/namespaces-and-assemblies.md

Content can be taken from here: https://msdn.microsoft.com/en-us/library/0d941h9d.aspx and here: https://msdn.microsoft.com/en-us/library/ms173099.aspx

Note that with the rise of .NET Core, the GAC is less important than in previous versions.

[2016-08-25 16:17] BillWagner opened #963 "C# Guide: Basic Types"
This issue tracks the Basic Types content: https://github.com/dotnet/core-docs/csharp/basic-types.md

This should discuss how you work with the core built-in types in C#: numerics, strings, and System.Object.

There is existing content in MSDN, but it is in several places in the C# Programming Guide: https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx

[2016-08-25 16:23] BillWagner opened #964 "C# Guide: Classes"
This issue tracks the topic for http://github.com/dotnet/core-docs/csharp/classes.md

Much of the content can be taken from here: https://msdn.microsoft.com/en-us/library/ms173109.aspx

[2016-08-25 17:51] BillWagner opened #966 "C# Guide: Structs"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/structs.md

Much of the content can be taken from here: https://msdn.microsoft.com/en-us/library/ms173109.aspx

edit: @mairaw updated the link to the first topic

[2016-08-25 17:53] BillWagner opened #967 "C# Guide: Interfaces"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/interfaces.md

Much of the content can be taken from here: https://msdn.microsoft.com/en-us/library/ms173156.aspx

[2016-08-25 18:15] #829 closed

[2016-08-25 18:53] BillWagner opened #968 "C# Guide: C# Interactive Home Pages"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/interactive/index.md

The home page for C# interactive should cover common scenarios for using the interactive REPL. These include:
- learning C#
- exploring a framework API
- exploring a REST API using the .NET Framework APIS
- prototyping and generating a working class as output

This list isn't meant to be ex

[2016-08-25 19:04] BillWagner opened #969 "C# Guide: Using C# Interactive with Visual Studio"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/interactive/with-visualstudio.md

This topic should teach the reader how to use C# interactive inside Visual Studio. It is a sub-task for issue #968

[2016-08-25 19:17] BillWagner opened #970 "C# Guide: Using C# Interactive from Powershell"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/interactive/with-powershell.md

This topic should teach the reader how to use C# interactive using the command line in Windows. It should discuss installing and launching the C# interactive shell. It is a sub-task for issue #968

[2016-08-25 19:21] BillWagner opened #971 "C# Guide: Using C# Interactive from the MacOS or Linux terminal"
This issue tracks the topic for https://github.com/dotnet/docs/blob/master/docs/csharp/interactive/with-bash.md

This topic should teach the reader how to use C# interactive using the command line in either MacOS or Linux. It should discuss installing and launching the C# interactive shell. It is a sub-task for issue #968

[2016-08-25 19:41] BillWagner opened #972 "C# Guide: Using the .NET Compiler Platform"
This issue tracks the topic for this page: https://github.com/dotnet/docs/csharp/roslyn/

This topic is a placeholder for an entire section of documents.  The .NET Compiler Platform SDK enables a rich range of scenarios to analyze and correct coding errors.

This issue is really a meta issue for several tasks that will be required to cover these APIs completely:
- [x] Create Compiler SDK TOC
- [x]

[2016-08-26 18:27] BillWagner commented on #302
@cartermp Can we close this issue? It looks like all but the NuGet PR is merged or closed.
And, I'd like to track the NuGet PR on a different milestone (this is the only issue not completed for the //build milestone)

[2016-08-26 20:10] cartermp commented on #302
Yep, good to close!

[2016-08-26 20:10] #302 closed

[2016-08-28 18:00] Thibaut commented on #397
Quick followup: I look into adding the .NET docs to DevDocs a little while ago but realized that without the API docs + with the guides being very much work-in-progress, the docset would probably not be that useful, and might cause support debt on my side (people wondering why the API docs are missing).

I'll wait for the API docs to be released under CC-BY before doing all the work.

[2016-08-29 19:53] BillWagner commented on #228
closed in PR #975

[2016-08-29 19:53] #228 closed

[2016-08-30 17:31] #812 closed

[2016-08-30 21:15] #915 closed

[2016-08-31 00:02] mairaw commented on #256
We can close this one, no?

[2016-08-31 00:44] cartermp commented on #256
Yup!

[2016-08-31 11:36] BillWagner commented on #256
Awesome. Closing now.

[2016-08-31 11:36] #256 closed

[2016-08-31 17:41] mairaw commented on #125
I think this one can also be closed. I think it refers to this topic https://docs.microsoft.com/en-us/dotnet/articles/csharp/async but the issues I've listed don't repro anymore

[2016-08-31 17:41] #125 closed

[2016-08-31 23:50] mairaw commented on #960
@blackdwarf @shanselman @neusamir this issue is regarding installation instructions on https://www.microsoft.com/net/core#ubuntu. Can one of you follow up?

[2016-09-01 18:08] stevehoag commented on #230
Fixed in #981

[2016-09-01 18:08] #230 closed

[2016-09-01 20:37] cartermp opened #993 "Learn F# - Mention FSSF"
F# is backed by a foundation, the F# Software Foundation.  This is a great thing to call out.

I propose the following section after "If You're Experienced with F#":

[code]

Perhaps use some of the [text in the mission statement](http://foundation.fsharp.org) after a brief explanation of what it is?

/cc @reedcopsey

[2016-09-02 17:27] spboyer commented on #806
@dleeapho the doc : https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images has just been published to cover those scenarios.

[2016-09-02 18:20] #993 closed

[2016-09-02 19:04] mairaw commented on #762
I think we talk about these differences on the porting docs but we don't have a top-level topic on these differences: https://docs.microsoft.com/en-us/dotnet/articles/core/porting/libraries

[2016-09-02 19:08] svick commented on #762
There is also [*Porting to .NET Core*](https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/) on the .Net Blog, which contains a section on what you should use instead of discontinued technologies like `AppDomain`.

[2016-09-02 19:30] mairaw commented on #923
Thanks for your feedback. The article was updated and now included the Windows Server RIDs.

[2016-09-02 19:30] #923 closed

[2016-09-02 19:40] mairaw opened #999 "[core/rid-catalog] Suggestion to add an example of where RIDs are used in project.json"
Customer feedback posted at https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog

This is great but can you use an example of where to define them ? i.e.

"runtimes": {
  "win10-x64": { },
    "osx.10.11-x64": { }
  }, in project.json file?

[2016-09-02 20:52] BillWagner opened #1000 "Include sample code for Building Docker .NET Images"
This topic https://github.com/dotnet/core-docs/blob/master/docs/core/docker/building-net-docker-images.md

docs not have the code it uses for its sample in the repo. It should.

The contributing guide references where to put samples, and based on those guidelines, this sample should go under samples/core.  I'll recommend making a new samples/core/docker directory for all the xplat Docker based sam

[2016-09-03 16:02] BillWagner opened #1002 "Feedback from Customer: how to call native C++ code in Linux"
See [here](https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-with-xplat-cli#lf-content=167633667:567243362) for the issue.

We should document how to work with native libraries in a cross-platform manner.

@terrajobst I haven't done this. Can you help me build the scenario and process?

/cc @richlander

[2016-09-04 00:47] cpei-avalara commented on #1002
I found some discussion here : https://github.com/dotnet/coreclr/issues/930#issuecomment-100675743

[2016-09-06 12:00] tsolarin commented on #56
@BillWagner still up for grabs?

[2016-09-06 12:00] tsolarin commented on #56
@BillWagner up for grabs?

[2016-09-06 13:40] svick opened #1008 "Article TOC improvements"
Currently, article TOC shows only H2 headings. I think it should also show lower level headings. This is especially useful on articles like [Documenting your code](https://docs.microsoft.com/en-us/dotnet/articles/csharp/codedoc), which have only few H2s, but lots of H3s.

Also, it would be useful if the article TOC stayed on screen when scrolling down in the article. This makes navigating inside t

[2016-09-06 13:45] BillWagner commented on #56
@tsolarin Sure. Do you want to work on this one?

If so, let's learn from our experience with the XML doc article. Let's start with an outline, either as a comment on this issue, or as a PR with a Work in Progress (WIP) comment. Then, once we agree that the outline is good, then move forward. I want to avoid having you do as much re-work as the last time.

[2016-09-06 13:50] tsolarin commented on #56
Sure @BillWagner, I'll get to creating a barebones first draft and post the link here once it's ready

[2016-09-06 17:05] cartermp commented on #1008
Agreed, especially this:

Particularly when reading a long article, this is annoying.

[2016-09-06 17:08] mairaw commented on #1008
/cc @DuncanmaMSFT

I believe we have a feature request to have the TOC always visible. Duncan, can you confirm?

I think having H3s visible could be something configurable. Like I really wanted the [project.json](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json) article to show the whole tree, but always showing H3s might get too cluttered. We'd have to test.

[2016-09-06 17:55] #224 closed

[2016-09-06 17:59] #756 closed

[2016-09-06 18:56] dleeapho commented on #806
Thanks @spboyer ! @michaelsimons we should link to the above article from the microsoft/dotnet readme.md

[2016-09-07 13:45] BillWagner opened #1011 "Update events article with correct naming conventions"
The events article (https://github.com/dotnet/core-docs/blob/master/docs/csharp/events-overview.md) mistakenly uses the "On" prefix for event declarations.

This should be updated to match the Framework Design Guidelines correctly:

. Events should be named with a Verb or Verb Phrase. (e.g. Progress, not OnProgress)

. The Event Handlers should have the "On" prefix (e.g. OnProgress is a method tha

[2016-09-07 21:17] MichaelSimons opened #1013 "Feedback on "Building Docker Images for .NET Core Applications""
The following are some review comments I have on the [Building Docker Images for .NET Core Applications](https://docs.microsoft.com/en-us/dotnet/articles/core/docker/building-net-docker-images) documentation.

1. _Docker Image Optimizations - Production_ This section references fast deploy and start time.  Another important aspect of production images that isn't mentioned is around the required sp

[2016-09-08 15:49] spboyer commented on #1013
@MichaelSimons

1. Added
1. edit made
1. edit made
1. There is no limitation on Linux, the assumption is being made that OSX and Windows is the primary dev platform
1. It is noted that this is a reference point, are we to assume that the dev has not setup their machine for any .NET development locally? Would the same be true for another platform (node, Java, php)

@stevelasker

[2016-09-08 18:53] #1011 closed

[2016-09-08 21:34] stevehoag commented on #999
@mairaw Is this up for grabs or is it assigned to you? Seems like it should be one or the other.

[2016-09-08 22:59] mairaw commented on #999
it's assigned to me since I won the topic, but if anyone wants to jump in, they can. Makes sense?

[2016-09-08 23:39] rpetrusha commented on #999
@mairaw Rather than providing a standalone example, one option is to link to the section on self-contained deployment in the [deployment](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/index) topic, which has a complete example that builds an app for Windows 10 and OS X.

[2016-09-09 00:08] stevehoag commented on #999
For me, seeing that an issue is assigned would lead me to believe it's no longer up for grabs, but maybe that's just me :-)

[2016-09-09 09:11] chenkennt commented on #324
Please look at the latest page:
https://docs.microsoft.com/en-us/dotnet/core/api/system.net.http.winhttphandler
Already showing the correct base class

[2016-09-09 12:50] svick commented on #324
@chenkennt It shows the correct base class in *Declaration*, but *Inheritance Hierarchy* is still wrong:

![](http://imgur.com/VfxuTMX.png)

[2016-09-09 14:59] BillWagner commented on #1008
I like the idea of showing all the headings on the right hand side.

I'll propose that any topic that has so many headings that the right hand side requires scrolling has too many headings, or is long enough that it should be broken up.

[2016-09-09 16:02] stevehoag commented on #1008
This sounds like something that could benefit from some A/B testing to see what our customers prefer.

[2016-09-09 17:19] DuncanmaMSFT commented on #1008
FYI, one part of this "Also, it would be useful if the article TOC stayed on screen when scrolling down in the article." is already live on that page ( https://docs.microsoft.com/en-us/dotnet/articles/csharp/codedoc ). As to the second, that's an interesting feature request... @mairaw if you want to file a feature request into the VSO site

https://mseng.visualstudio.com/VSChina/_workitems?witd=Fe

[2016-09-09 23:09] mairaw commented on #1008
Nice that we got that in this week @DuncanmaMSFT. I'll file a feature request for the other then. I'll go though msdnhelp and assign the values after the request is created  since they told me never to file them directly. :smile:

[2016-09-09 23:43] mairaw commented on #1008
@BillWagner how would you do that for [project.json reference](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json) for example? it would require scrolling if we add H2s and H3s and I don't think it should be broken up.

Also, how do you guys feel about the TOC on the left-hand side? On MSDN, only the article scrolls and both the main TOC and the article TOC are always visible

[2016-09-12 19:13] stevehoag opened #1018 "Template topic should cover escaping characters in API links"
UIDs for API links can contain backtick or number sign characters that cause invalid links. The topic needs to include info on how to get around this.

[2016-09-14 00:12] mairaw opened #1020 "Update docs to .NET Core 1.0.1?"
We're shipping a patch version today. Do we need to review our content to make sure is up-to-date? Do we need to add content about how versioning works?

What are the things we need to be concerned about? sdk version, TFM name, specific mentions of .NET Core 1.0, samples?
At least [this topic](https://docs.microsoft.com/en-us/dotnet/articles/standard/frameworks) needs to be updated to say the late

[2016-09-14 00:33] cartermp commented on #1020
The F# doc that covers using the .NET SDK tools will have to be updated to be _much_ shorter.

[2016-09-14 00:43] mairaw commented on #211
Is this still a work in progress @cartermp?

[2016-09-14 00:44] mairaw commented on #217
@stevehoag is this what the current active PR from you is for? if so, we should add the Fixes to the description to link the two.

[2016-09-14 00:49] mairaw commented on #235
@BillWagner is this issue for [this article](https://github.com/dotnet/core-docs/blob/master/docs/csharp/properties.md) only or in general? The description doesn't give many details of what needs to be done here

[2016-09-14 00:53] stevehoag commented on #217
Yes... done.

[2016-09-14 01:10] BillWagner commented on #235
Yes, it's [that article](https://github.com/dotnet/core-docs/blob/master/docs/csharp/properties.md)

What I need to add is an example that shows initializing a property. Something like:

[code]

That would initialize the baking field for the Comments property.

[2016-09-14 01:11] mairaw commented on #1020
Other topics that we probably need to be updated too since we have F# support now:
https://github.com/dotnet/core-docs/blob/master/docs/core/index.md
https://github.com/dotnet/core-docs/blob/master/docs/standard/index.md

They both say only C# is supported.

[2016-09-14 12:19] BillWagner commented on #1008
@mairaw Good point.

This could be quite a bit of CSS and JS code, but consider:

. The Left side TOC should be scrollable, and should scroll such that the current page is in view on page load.
. The right side TOC should also scroll, and the current anchor should be in view whenever the current line changes.

[2016-09-14 15:33] #1018 closed

[2016-09-14 17:15] mairaw commented on #1020
Windows prerequisites topic should also be updated to point to 1.0.1 new tooling link:
https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites

[2016-09-14 18:27] mairaw commented on #1020
I've created the branch since we were going start merging PRs for 1.0.1 release. It's here: https://github.com/dotnet/core-docs/tree/1.0.0

[2016-09-14 18:30] mairaw commented on #232
I've published a new version today. Let me know if you have any feedback on that topic. But I'm closing this one for now.

[2016-09-14 18:30] #232 closed

[2016-09-14 18:32] mairaw commented on #250
@terrajobst can we work on this already?

[2016-09-14 18:34] mairaw commented on #255
#214 was already merged. Is there any scenario we're still missing in the current docs?

[2016-09-14 18:39] mairaw commented on #283
@blackdwarf do we still want a topic for this? we don't even have the wrench topic for this one anymore.

[2016-09-14 18:40] mairaw commented on #284
Same as the vim question. Do we still want a topic for this @blackdwarf?

[2016-09-14 18:52] BillWagner commented on #255
@mairaw I think we've got the major scenarios covered.  The doc from #214 points to @ljw1004 's Channel 9 series, which covers them as well.

[2016-09-14 19:15] blackdwarf commented on #283
No, we can remove it

[2016-09-14 19:16] blackdwarf commented on #284
@mairaw same as the vim answer.

[2016-09-14 21:20] #283 closed

[2016-09-14 21:21] mairaw commented on #255
I'll close this one then but I'm happy to re-open if we need to address any scenarios we missed.

[2016-09-14 21:21] #255 closed

[2016-09-14 21:22] mairaw commented on #284
:smile:

[2016-09-14 21:22] #284 closed

[2016-09-15 15:42] #1013 closed

[2016-09-15 22:42] mairaw commented on #862
I'm updating that topic for 1.0.1 and I'll make an attempt to improve these areas at the same time.

[2016-09-16 17:09] twsouthwick opened #1028 "Create a doc describing how to find current issues/fixes"
With moving to GitHub, developers have access to the work items for .NET Core, CLR, and many others. However, the issues are spread across many repositories, which makes it difficult for users to easily search for an issue. Often an answer can be found fairly quickly if you're in the right repo, but finding that repo can be a challenge.

I think a document that lists the main technologies (includi

[2016-09-16 17:41] BillWagner commented on #1002
We have examples in the core codebase for this.  Pinging @stephentoub to help me find a good example to use for the customer example.

[2016-09-16 17:42] mairaw commented on #1000
We should have examples of using .NET and ASP.NET

[2016-09-16 17:54] svick commented on #1028
Are you talking about something like [the list in this note](https://github.com/dotnet/core#net-core-home)?

[2016-09-16 17:59] twsouthwick commented on #1028
Yes - something like that, but visible from the docs.microsoft.com/dotnet

[2016-09-16 18:22] stephentoub commented on #1002
C APIs work on unix just as they do on Windows (C++ APIs are difficult to P/Invoke to on any platform due to name mangling), e.g.
https://github.com/dotnet/corefx/blob/9348997920c1ba782b45adb5e8ee9754149ab1e2/src/System.IO.FileSystem/tests/FileSystemTest.cs#L51

[2016-09-16 20:36] mairaw commented on #1028
Maybe we can tweak this .NET Core introduction topic?
https://docs.microsoft.com/en-us/dotnet/articles/core/index#composition

It already talks about the parts it just not clearly lists them as repos with their names. It's a bit subtle.

[2016-09-19 19:19] badersur opened #1038 "Question about PR"
Do you prefer PRs that span multiple files with few changes or a PR per file?!

[2016-09-19 19:28] BillWagner commented on #1038
@badersur Great question.  I'll leave this issue open, because we should add it to our contributing.md file.

My initial set of guidance would be that a PR should address one "issue". That may be a single file, or multiple files.

For example, a PR that changes .NET Core 1.0.0 to .NET Core 1.0.1 might affect several files, but it's a single change.

if you're addressing multiple fixes, separate PR

[2016-09-19 19:42] badersur commented on #1038
You are welcome @BillWagner. For now, whenever I face an issue in a file I fix it and submit a PR. I will try to read more files to see if I should include more files in a PR.

[2016-09-19 22:33] mairaw commented on #1038
I agree with @BillWagner's answer. One issue per PR with one or multiple files is good.

Your method is working well @badersur. We appreciate your contributions so far!

[2016-09-20 12:59] svick opened #1044 "Invalid links in API reference"
I have found few links in API reference that are not valid:

* [`ResourceManager`](https://docs.microsoft.com/en-us/dotnet/core/api/system.resources.resourcemanager) and some other types contain the following note:

 The link leads to http://curah.microsoft.com, which does not seem to be a valid domain name. A quick search lead me to https://docs.com/rick-anderson-1/8710/untrusted-data-security-ri

[2016-09-20 17:02] #862 closed

[2016-09-20 18:14] mairaw commented on #1044
Thanks @svick!

I can fix the first link as soon as we can confirm with @Rick-Anderson the right target. This has to be fixed on MSDN too.

I have a fix in place for the second issue you pointed out. I just need to wait for the publishing system to pick up that change so I can validate and push it live.

[2016-09-20 19:07] Rick-Anderson commented on #1044
Yes, that's where Curah was moved to.

[2016-09-20 19:29] mairaw commented on #1044
Thanks for confirming @Rick-Anderson. I'll make the fixes!

[2016-09-20 20:26] mairaw commented on #1044
The MSDN topics that had that Curah link are fixed:
https://msdn.microsoft.com/en-us/library/system.resources.resourcemanager(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.resources.resourcereader(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.resources.resourceset(v=vs.110).aspx

[2016-09-20 23:16] himadrisarkar opened #1054 "HttpClientHandler.AutomaticDecompression documentation incorrectly states that the default value is none."
HttpClientHandler.AutomaticDecompression's [documentation ](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.automaticdecompression?view=netcore-1.1#System_Net_Http_HttpClientHandler_AutomaticDecompression) states that default value is None when in the actual implementation it is DecompressionMethods.GZip | DecompressionMethods.Deflate. Please update the documentation.

[2016-09-21 00:27] mairaw commented on #1044
This is fixed on docs now. Thanks @svick!

[2016-09-21 00:27] #1044 closed

[2016-09-21 01:05] davidsh commented on #1054
We will need the documentation to have multiple sections.  The default for .NET Framework 4.x System.Net.Http binary (i.e. the GAC'd one) is `None`. However, the .NET Core version has a different default: `DecompressionMethods.GZip | DecompressionMethods.Deflate`.

Further adding some confusion is that the 4.1 System.Net.Http NuGet package carries an OOB version of the System.Net.Http implementati

[2016-09-21 16:22] karann-msft commented on #956
Uploading a draft

[dotnet nuget delete.docx](https://github.com/dotnet/core-docs/files/485513/dotnet.nuget.delete.docx)

[2016-09-21 16:23] karann-msft commented on #957
adding a draft
[dotnet nuget locals.docx](https://github.com/dotnet/core-docs/files/485517/dotnet.nuget.locals.docx)

[2016-09-21 16:24] karann-msft commented on #955
adding a draft
[dotnet nuget push.docx](https://github.com/dotnet/core-docs/files/485520/dotnet.nuget.push.docx)

[2016-09-21 16:25] karann-msft commented on #959
adding a draft
[dotnet pack.docx](https://github.com/dotnet/core-docs/files/485524/dotnet.pack.docx)

[2016-09-21 17:02] badersur opened #1057 "What does "IL code" mean in Core tools page?"
In [Driver's section](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/#driver) of .NET Core Command Line Tools topic:

What does IL code and IL assembly mean? CC: @mairaw

[2016-09-21 18:36] svick commented on #1057
IL is short for "Intermediate Language", more details are in [the article *What is “managed code”?*](https://docs.microsoft.com/en-us/dotnet/articles/standard/managed-code)

While it's true that `dotnet your.dll` is used to execute an IL assembly, I'm not sure it makes sense to focus on IL here. Maybe, like [the *dotnet* article](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet),

[2016-09-21 19:00] badersur commented on #1057
Thank you @svick for your clarification. I thought it was a typo because the term "Intermediate Language" didn't appear before. I just noticed the doc's search box now and found your linked article!

[2016-09-21 19:05] svick opened #1059 "Tab history behaves strangely in Firefox"
The tab history (what you see when you hold the back button) behaves strangely for me on docs.ms/dotnet in Firefox.

For example, I follow this workflow:
1. Open [the _dotnet command_ article](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet) in a new tab.
2. Click on a link to [the _dotnet-build_ article](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-build).

[2016-09-21 20:46] svick opened #1062 "Docs unusable on Android"
The docs site is unusable for me with Chrome 28.0.1500.94 on Android 4.1.1.

When a page starts loading, it looks like it might be barely usable:

![](https://cloud.githubusercontent.com/assets/287848/18728145/3793fa62-804c-11e6-9fa5-3cafb5d6805c.png)

But then, page content is covered by a large dark rectangle, which looks like it corresponds to the page footer (the screenshot shown is zoomed out

[2016-09-21 21:40] mairaw commented on #1062
@DuncanmaMSFT can you follow up on this?

[2016-09-21 21:52] mairaw commented on #878
@livarcocc can you confirm what's the default value for System.GC.RetainVM in the project.json file?

[2016-09-21 21:59] livarcocc commented on #878
@gkhanna79 Is this something determined by the host?

[2016-09-21 22:45] svick opened #1063 "Pressing Enter in search text box in API reference should not refresh the page in Firefox"
When using the Search Reference text box in API reference, search results appear as I type, so pressing <kbd>Enter</kbd> at the end is not necessary. But when I do it anyway, out of habit, the whole page refreshes, which causes the search results to disappear. I don't think this should happen.

This happens in Firefox 49 on Windows 10. Edge 38 or Internet Explorer 11 do not have this issue.

[2016-09-21 22:51] mairaw commented on #1059
I've also opened an internal bug to track this.

[2016-09-21 23:03] mairaw commented on #1062
I've also opened an internal bug to track this.

[2016-09-21 23:11] mairaw commented on #1063
I've also opened an internal bug to track this.

[2016-09-22 01:31] BillWagner commented on #1002
@stephentoub Thanks!  That's a great start.

What we want to do on the docs site to address this issue is to write a short topic explaining how to use P/Invoke, and reference examples from corefex.  That one above will be great for C.  Doe you know of a good example in C++? If not, I'll search and find one.

Thanks again.

[2016-09-22 01:32] BillWagner commented on #1028
Does this belong on docs.microsoft.com, or on the .NET Foundation home page?

/cc @martinwoodward

[2016-09-22 01:38] stephentoub commented on #1002
Name mangling makes it near impossible to know the name of the function to invoke.  Even if you're doing the actual native implementation in C++, you typically want to use ```extern "C"``` to specify C linkage e.g.
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_memory.cpp#L8

[2016-09-22 06:15] martinwoodward commented on #1028
I think a page on docs.microsoft.com encouraging people to go to GitHub to file issues is a very good thing. That shouldn't be the only way Microsoft's customers can file bugs or log issues though - a Microsoft customer shouldn't have to care what project an issue is in, they should be able to get support for the product they got from Microsoft (i.e. a .NET Core binary in a VS "15")

The full deta

[2016-09-22 06:28] stevehoag commented on #1028
So the problem today is that the only feedback mechanism for docs.microsoft.com is comments, and so far the response rate on comments has been underwhelming. As a hypothetical casual consumer of our docs, asking me to learn the intricacies of GitHub just to file a bug or complaint is a non-starter.

[2016-09-22 13:52] martinwoodward commented on #1028
So think I'm kinda agreeing with @stevehoag - there should be mechanism for end users of Microsoft products to easily file bugs / issues with products from Microsoft. (And the same is true for other vendors shipping .NET Core). What I don't want to see is "if you find an issue in VS, figure out what code is causing it and go track down the project that it came from and send in a PR to fix it and M

[2016-09-22 15:52] gkhanna79 commented on #878
The host does not set anything here. If any of these values are present in the config file, the host simply passes them to the runtime who makes the determination of the next steps.

@Maoni0 can comment on the defaults for RetainVM.

[2016-09-22 18:09] mairaw commented on #828
@blackdwarf @jeremymeng can you help with @alexellis's last question?

[2016-09-22 18:25] Maoni0 commented on #878
The default is false, meaning if this does not appear in any sort of config or passed in any startup flags, this is off.

As far as the default *config* value, I would think that's just in the config generated by whatever tool you are using to create your project. And I dunno what the current generated config looks like. I have not used the current dotnet tool to create a project myself.

[2016-09-22 18:33] mairaw commented on #878
Thanks @Maoni0. You answered what I needed. I'll add that the default is false.

[2016-09-22 20:37] badersur opened #1069 "Featured content container in .NET Home page doesn't render properly"
In the [.NET Home page](https://docs.microsoft.com/en-us/dotnet/index), the **FEATURED CONTENT** section renders outside the page:

[code]

Removing `width: 100%;` rule from the `container` class solves the issue!!

The issue occurs in Firefox 48 and Chromium 52.0.2743.116 (Developer Build). OS: Ubuntu 16.04 (64-bit)

[2016-09-22 21:34] jeremymeng commented on #828
@glennc might have some ideas for this scenario (dotnet restore caching in Docker).

[2016-09-23 16:33] mairaw commented on #1069
I could repro that.
@DuncanmaMSFT @adkinn can you please take a look? I'll be filing a bug internally to track this.

[2016-09-23 17:52] mairaw commented on #509
I think this issue fits to what we were discussing the other day about dependency resolution, right @blackdwarf?

[2016-09-23 17:57] mairaw opened #1070 "[docs/core/tools/dotnet-pack.md] Clarify how dependency works for dotnet-pack command"
There are some LiveFyre comments about the documentation being inaccurate when describing how to package project-to-project references. We need to address those comments and make sure the topic is correct.

https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-pack

@blackdwarf, let me know how you'd like to proceed on this one.

[2016-09-23 18:44] blackdwarf commented on #509
@mairaw sorry, have no recollection of what we discussed?

[2016-09-23 18:50] blackdwarf commented on #1070
@mairaw I suggest you change the docs to reflect the behavior that the `type: build` will also not get packaged. However, there will be a new implementation of `dotnet pack` coming as part of the overall work of moving off of project.json and onto csproj, so things are going to be changing as well.

Overall, I have made an issue here that we need a doc that explains how dependencies are done for .

[2016-09-23 18:55] #680 closed

[2016-09-23 19:09] mairaw commented on #1070
I agree with you @blackdwarf. There's another issue that I've tagged you this morning asking us to create a topic on package resolution. Is that what you had in mind or do you have another issue tracking that?
But I still think we should make sure the information on dotnet-pack is accurate and then having a separate high-level overview to link to for more info when that's ready.

[2016-09-24 00:36] mairaw commented on #799
@blackdwarf have you addressed this with your latest updates to the deployment topic?

[2016-09-25 09:55] badersur opened #1074 "TOC isn't expanded for the topic: A Tour of the C# Language"
Table of contents is not expanded for the topic: [A Tour of the C# Language](https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/index) in the left sidebar.

[2016-09-25 11:05] svick commented on #1074
It is, if you use the URL https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/, instead of https://docs.microsoft.com/en-us/dotnet/articles/csharp/tour-of-csharp/index.

In the long term, I think both URLs should either behave the same or one of them should be a redirect.

In the short term, how did you get to the /index URL? Is there a link to it somewhere?

[2016-09-25 11:17] badersur commented on #1074
It seems like **all** URLs that have `/index` don't show the TOC!

I got to it from the links in [C# Guide](https://docs.microsoft.com/en-us/dotnet/articles/csharp/). Most of them have `/index`.

[2016-09-26 13:03] tsolarin commented on #56
@BillWagner Sorry for the delay been a bit busy. Here's my outline https://github.com/tsolarin/core-docs/blob/versioning/docs/csharp/versioning.md. I couldn't find a pre-existing versioning page that contained documentation metadata.

Looking forward to your feedback

[2016-09-26 17:07] josalem opened #1080 "[NewTopic] Facade DLLs in the Publish Output"
# [NewTopic] Façade DLLs in the Publish Output

When you publish an application targeting the full framework from Visual Studio, you will end up with several `System.*` DLLs local to your application.  Most of them are sub 50 KB, and appear to only be facades for versions installed on the system.  I haven't found any documentation under ASP.NET Core or .NET Core that explains this behavior of the

[2016-09-26 22:55] mairaw commented on #1074
Yeah, a recent change to the site caused this issue. We'll have a fix for this but I don't know when. I'll try to find where we have links with `/ index` on them. We fixed the one we had one the homepage that I've noticed before.

[2016-09-26 23:43] mairaw commented on #1074
Actually, it doesn't make much sense to change the links. But I'll make sure I call out this scenario in the tracking bug we have for this.

[2016-09-27 11:35] badersur opened #1082 "Where is "What is .NET?" article?"
In [.NET Primer](https://docs.microsoft.com/en-us/dotnet/articles/standard/) article, there is this sentence:

But where is it? Shouldn't we have a link to it?! I can't find it anywhere!

cc: @richlander

[2016-09-27 13:31] tsolarin commented on #56
/cc @BillWagner

[2016-09-27 13:33] BillWagner commented on #56
@tsolarin I will look at this today. (Got totally slammed yesterday).

[2016-09-27 13:52] BillWagner commented on #1028
Reading all the comments, how about this for a proposal:

There is a single location on docs.microsoft.com that solicits bugs / issues with .NET products and docs. From there, readers can either:
1. File an issue, and MS folk will triage it and make an issue for the correct team.
2. Explore the list of Open Source repos that are part of the .NET ecosystem, and file an issue at the most likely proj

[2016-09-27 14:10] martinwoodward commented on #1028
+1 with the caveat of:

1.5 Contact Support if this is a blocking issue or if you are having trouble figuring out what the problem is
1.6 For security bugs, don't forget the [BugBounty program](https://technet.microsoft.com/en-us/mt764065.aspx)

Not sure if this is relevant or not at this level of docs but mentioning it now just in case.

[2016-09-27 16:24] rpetrusha commented on #1028
+1, with @martinwoodward's additions

[2016-09-27 16:30] stevehoag commented on #1028
+1 to what Ron said...

[2016-09-27 17:41] mairaw commented on #1074
This is now fixed!

[2016-09-27 17:41] #1074 closed

[2016-09-27 18:06] badersur commented on #1074
Thanks for the fix and the new blue marker :)

[2016-09-27 18:09] mairaw opened #1083 "Improve SEO for our content"
We need to review our metadata (title, description, keywords), our topic title and first paragraph of each topic to make sure that our content is correctly tagged for search engines to find it.

Also need to ensure that our guidelines are complete in terms of SEO guidance.

[2016-09-27 18:11] mairaw commented on #1074
Thank @DuncanmaMSFT's team 😄

[2016-09-27 19:26] badersur commented on #1074
Thanks to you Mr. @DuncanmaMSFT and your team :)

There is an issue with the [SDK page](https://docs.microsoft.com/en-us/dotnet/articles/core/sdk); it doesn't show the marker! Maybe because it is not in the [toc.md](https://github.com/dotnet/core-docs/blob/master/docs/toc.md)?!

[2016-09-27 19:28] mairaw commented on #1074
Yes, it's not there. I have an issue tracking this topic: #781

[2016-09-28 01:02] #1070 closed

[2016-09-28 13:45] pr-yemibedu commented on #666
Hello,
 Please have point 1. described under the level up article here:
[https://docs.microsoft.com/en-us/dotnet/articles/fsharp/tutorials/asynchronous-and-concurrent-programming/](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/tutorials/asynchronous-and-concurrent-programming/)

Please do not put anything beyond stating that "There is an alternative concurrency model using Agents." with

[2016-09-28 15:13] cartermp opened #1086 "Article on Type Signatures"
There should be an article on type signatures for F#.  It should explain what they are, describe general patterns, provide examples explaining what each example mean, and show how they're used.

[2016-09-29 22:43] mairaw opened #1093 "Improve the .NET Standard table"
There are a lot of customer comments about the support table for the .NET Standard versions for this topic:
https://docs.microsoft.com/en-us/dotnet/articles/standard/library#net-platforms-support

We need to improve that on a similar way that was done by @terrajobst on the blog post:
https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

I'm also thinking that the alias info

[2016-09-30 00:16] terrajobst opened #1094 "Document Offline Install for .NET Core VS SDK"
You can currently not download an offline installer for the .NET Core VS SDK. Instead, you have to download the regular boostrapper and run it with a command line option (such as `/layout c:\Foo`) to get an offline layout.

TOC wise, I'm not entirely sure where the best place it, but it should probably be linked from there:

https://docs.microsoft.com/en-us/dotnet/articles/core/getting-started

[2016-09-30 00:31] joeloff commented on #1094
We should probably also mention that because it's a full layout, it will download all the packages for all supported languages, ~1GB.

[2016-09-30 22:47] spboyer opened #1096 "Add Link to Console tutorial on index"
docs/framework/index need link to docs/samples-and-tutorials
remove wrenches for docker content

cc:/ @BillWagner

[2016-10-01 00:13] #1096 closed

[2016-10-01 03:05] breyed opened #1101 "Looping in list documentation is redundant and incomplete"
The [Lists](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/lists) docs has redundant examples for `listOfSquares` and `squaresList`. Neither specifies the rules for `for` in a list. There is a reference to Sequence Expressions, but no description of how `for` differs in its usage in list versus a sequence.

[2016-10-02 01:46] cartermp commented on #1101
Good catch, @breyed.  In this case, because each code sample has exactly the same semantics, the best way to address this would probably be to delete the first example.

[2016-10-02 18:18] svick commented on #1082
I believe that was supposed to link to [this article](https://github.com/dotnet/core-docs/blob/47d4747556ad0b8c31f32288c6d9bbe3e1174e86/docs/getting-started/what-is-dotnet.md), which was deleted in https://github.com/dotnet/core-docs/pull/609 by @tdykstra (link goes to last version before deletion).

[2016-10-02 19:45] BillWagner commented on #56
/cc @stevehoag (He wrote the original issue)

I'd like to see you approach this in terms of what happens for any of these kinds of methods when base classes change. For example:

1. What happens when a base class adds new overrides of a virtual method?
2. What happens when a base class adds new methods that conflict with a derived class's methods?
3. What happens when a base class changes the defa

[2016-10-02 19:56] nick-korsakov opened #1103 "ProcessStartInfo.Verb is absent in the CoreFX"
# ProcessStartInfo.Verb is absent in the CoreFX
## Issues with Existing Topics

[ProcessStartInfo.Verb](https://docs.microsoft.com/en-us/dotnet/core/api/system.diagnostics.processstartinfo#System_Diagnostics_ProcessStartInfo_Verb) is absent in the CoreFX, see:
- [ProcessStartInfo.cs](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo

[2016-10-03 21:43] mairaw commented on #1020
I'm not aware of any additional changes that need to be done due to 1.0.1 release. So closing this issue.

[2016-10-03 21:43] #1020 closed

[2016-10-03 23:17] mairaw opened #1110 "TOC management"
Our TOC file is growing in size significantly. OPS also supports nested TOC files. Should we use that to make the TOC management a bit easier?

/cc @richlander @BillWagner @cartermp

[2016-10-04 00:06] cartermp commented on #1110
Yes!  That would be essential, especially since the F# docs effectively doubled the size of the file.

[2016-10-04 00:58] BillWagner commented on #1110
I think this is great idea. It would also minimize contention for the one shared file across all topics.

[2016-10-04 01:52] tdykstra commented on #1082
@svick The doc deleted in #609 was mainly about .NET Core, while the .NET Primer is about .NET platform. We have a [NET Core intro](https://docs.microsoft.com/en-us/dotnet/articles/core/), so there was a lot of overlap and it was decided to retire the deleted doc that you link to.

@richlander - I think we should delete the .NET Primer section "Key .NET Concepts" because this subject matter is cov

[2016-10-04 15:39] BillWagner commented on #1110
I'm working on a branch that will update the TOC (C# 7 feature outline). Should I just add this at the same time?

[2016-10-04 17:51] BillWagner opened #1113 "Create C# Guide Topic in Tuples"
C# 7 adds a feature to create unnamed types, or tuples. You can get a brief overview in this blog post:

https://blogs.msdn.microsoft.com/dotnet/2016/08/24/whats-new-in-csharp-7-0/

In this article, it should discuss the syntax behind named and unnamed tuples. It should go deeper and explain when Tuples are a good design choice.

This should include samples, and possibly a tutorial around using th

[2016-10-04 17:56] BillWagner opened #1114 "Create C# Guide topic on Pattern Matching"
C# 7 adds a feature manage control flow via `switch` and `is` statements. It extends the existing syntax so that you can match on many different facets of objects and types. You can read an overview of the feature in this blog post:

https://blogs.msdn.microsoft.com/dotnet/2016/08/24/whats-new-in-csharp-7-0/

In this article, it should discuss the syntax behind named and unnamed tuples. It should

[2016-10-04 21:50] rpetrusha opened #1116 "Port async content from MSDN and add detail, examples"
The task-based asynchronous programming content should be ported from MSDN. The top-level topic is at [Task-based Asynchronous programming](https://msdn.microsoft.com/en-us/library/dd537609%28v=vs.110%29.aspx).

Along with porting the content, the existing content should be reviewed and revised. The revisions should include:
- A discussion of async and threading. Because async hides the threading

[2016-10-04 22:06] rpetrusha opened #1117 "Port threading content from MSDN and review/revise it"
The ease of writing asynchronous code had made multi-threaded code very common. Often, though, developers don't fully appreciate the fact that their code may be executing on multiple threads, and do not do not fully appreciate the need to synchronize access to resources.

The documentation at [Managed Threading](https://msdn.microsoft.com/en-us/library/3e8s7xdd%28v=vs.110%29.aspx) should be ported

[2016-10-05 17:11] #1094 closed

[2016-10-05 20:50] #1101 closed

[2016-10-05 21:07] mairaw opened #1120 "Adding Releases and Tags to our repo"
We should add releases/tag to our repo similar to what Corefx does: https://github.com/dotnet/corefx/releases

[2016-10-05 21:13] mairaw commented on #1103
I've tagged it as a bug since this API shouldn't be showing up in our docs since it's not supported on .NET Core. It needs to be deleted from the article. @chenkennt, @bradygaster another case of APIs that are not really part of .NET Core showing up on docs.

@terrajobst can probably comment on whether we'll have ProcessStartInfo.Verb as part of .NET Core/.NET Standard in the future.

[2016-10-05 21:24] terrajobst commented on #1103
Yes, both `Verb` as well as `Verbs` are coming back as part of .NE Standard 2.0:

* https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L4085
* https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L4088

[2016-10-05 21:29] mairaw commented on #1082
I agree with you @tdykstra, I think that section can be deleted. PR is coming.

[2016-10-06 17:33] #217 closed

[2016-10-06 17:36] #878 closed

[2016-10-06 17:40] mairaw commented on #797
I've merged PR #1071 since it takes care of a bunch of issues with the topic, but we still have some pending. I'm moving this now to backlog until I can get the answers to finish this work item.

[2016-10-06 19:38] #1082 closed

[2016-10-07 02:00] #809 closed

[2016-10-07 02:03] mairaw commented on #809
And we can now choose which attributes we want to display:
![image](https://cloud.githubusercontent.com/assets/12971179/19176692/70710396-8bf7-11e6-9042-48b2931d3e29.png)

Thanks @svick! Keep your feedback coming.

[2016-10-07 13:49] svick opened #1126 "Viewing declarations for types with many interfaces requires extensive scrolling"
When displaying a declaration for a type, all interfaces it implements are shown on a single line. For types that implement many interfaces, this means viewing all interfaces requires extensive scrolling. For example, [`Dictionary<TKey, TValue>`](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.generic.dictionary-2):

![](http://imgur.com/NtrNw4C.png)

Compare with [MSDN](https:

[2016-10-07 22:01] mairaw commented on #1126
I agree. When I was posting the answer to #809 yesterday, I've also noticed this. 😄

I'll file a request for this.

/cc @DuncanmaMSFT @adkinn

[2016-10-10 20:16] mairaw commented on #960
@blackdwarf assigning this to you but this for the .NET site, not docs

[2016-10-10 20:19] mairaw commented on #835
This seems like scenarios we'd want to cover in our Getting Started @bleroy @cartermp

[2016-10-10 20:25] mairaw commented on #831
Can you expand on what you'd like to see here @richlander? I'm not familiar with Azure Guest.

[2016-10-10 20:29] mairaw commented on #828
@spboyer can you take a look at this one?

[2016-10-10 20:41] spboyer commented on #828
@alexellis when you say that it is doing the restore every time, you are stating that each time you build the image?

[2016-10-10 20:45] blackdwarf commented on #960
@mairaw thanks, I belive this is being worked on.

[2016-10-10 22:17] alexellis commented on #828
I'm sure it was not taking 1 second (a lot longer). Let me try to reproduce the issue - I guess this was raised 3 months ago maybe things have changed.

[2016-10-10 22:22] spboyer commented on #828
@alexellis - 3 months ago I don't believe we were loading the Nuget cache in the base image, there has been some improvements there.

[2016-10-10 23:42] mairaw commented on #960
Who could confirm @blackdwarf?

[2016-10-11 09:24] alexellis commented on #828
[code]

@spboyer so please could you clone the repo - do your initial build and then just edit the name of one of the tests in the CsvParserTests.cs file?

[code]

[2016-10-11 09:25] alexellis commented on #828
Output from editing a unit test name:

[code]

[2016-10-11 14:11] spboyer commented on #828
@alexellis - see the results below. I want to say that given the scenario of restoring and building the application within the application; its pretty good. The Nuget cache is within the base container.

First run - no rates image
[code]
Second run - after change
[code]

[2016-10-11 17:37] BillWagner opened #1133 "Enhancement: Tips And Tricks section for solutions to known scenarios"
There are a number of scenarios where customers have found idiomatic solutions that involve topics that aren't surfaced to easily found locations in our documents. A _Tips and Tricks_ section in each of the guides would be a location to document the known and preferred solutions to these issues.

Known Examples include using extern alias when you must have two or more different classes in scope th

[2016-10-11 17:47] cartermp commented on #1133
I like this idea; however, I think there are certainly two different categories which could crop up:

* Answers to some of the truly baffling corner cases of our technology
* Better ways to write code for some specific scenarios

I think that the former would be very good to have, but the latter is better suited towards StackOverflow.

[2016-10-11 17:53] BillWagner commented on #1133
@cartermp I agree. I think this is a section where we need to be very diligent about 'please write an issue describing what you want to cover' before submitting a PR. We'll need to steer community members to the correct location for those different categories.

[2016-10-11 18:22] cartermp commented on #1133
Sounds good!

[2016-10-11 19:53] rpetrusha commented on #1133
@BillWagner The issue that I had mentioned was using extension methods to write custom methods for an enumeration type.

[2016-10-11 19:54] BillWagner commented on #1133
@rpetrusha Thanks! I didn't write it down, because I was sure I'd remember. I was wrong about that.

[2016-10-12 15:57] cartermp opened #1138 "Rename .NET Standard section"
Chatted with @richlander about this.  Basically, the name ".NET Standard" is a bit confusing, partially because "standard" is a loaded term now:

* The ECMA standards which define the runtime and C# language
* The .NET Standard Library, which is the future of using APIs on .NET

The content under that section covers the .NET Standard library, some of what's specified in the ECMA standards, and mor

[2016-10-12 17:19] bleroy commented on #1138
Do we need both "About .NET" (which currently has one topic), and that section?

[2016-10-12 17:27] cartermp commented on #1138
Good point.

I think there's value in a "you don't know anything about .NET" section that's distinct from conceptual documentation about the things which are common on the .NET platform.  Perhaps that could also get renamed?

[2016-10-12 17:28] bleroy commented on #1138
Maybe the "you know nothing" content should be on the home page.

[2016-10-12 18:12] mairaw commented on #1062
@svick can you still repro this? I'm asking because I was having a similar issue on Safari/iPhone and that is now gone.

[2016-10-12 18:18] mairaw commented on #1138
So your suggestion is to rename the .NET Standard section to .NET Primer?

[2016-10-12 18:59] svick commented on #1062
@mairaw Yes, it still behaves the same for me.

[2016-10-12 19:01] mairaw commented on #1062
Ok, thanks for confirming @svick!

[2016-10-12 19:09] BillWagner commented on #1138
The term ".NET Primer" implies that it is the introductory material. Where would we put any advanced material that covers the .NET Standard Library? It shouldn't be in a "Primer".

The other question I have is how we map from the .NET Standard Library (as defined above) to the .NET Primer in the docs? Will readers know what's covered here?

[2016-10-12 22:03] mairaw opened #1140 "Reviewing Getting Started with CLI topic"
Our Getting Started experience needs to be improved for new developers. This issue is to make the Getting Started with CLI topic (https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-with-xplat-cli) a little bit simpler for a new .NET Core and then build the scenarios in a multi-topic series.

[2016-10-12 22:04] cartermp commented on #1138
@mairaw Yes, that's the initial proposal.

@BillWagner I agree, "Primer" does imply that it's the introductory material, when the content there may not necessarily be introductory.

I think there are two separate concerns here:

1. Understanding the .NET Standard Library
2. Documenting the concepts and pieces of the .NET Platform which are common across all implementations of .NET

Number 1 is a s

[2016-10-12 22:48] mairaw opened #1141 "Getting Started with .NET Core on VS Code"
We need really basic introduction on how to get started with .NET Core on VS Code.
The golden path topic we have on docs covering VS Code (https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-macos), it's more like a tour.

We also need to make sure we're not duplicating content that is being done for VS Code docs.

[2016-10-12 22:53] mairaw opened #1142 "Review current golden path tutorials"
Our current golden path tutorials need to be reviewed and renamed since they're not really Getting Started topics:
https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-windows
https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/using-on-macos

[2016-10-12 23:01] cartermp opened #1143 "Getting Started with Ionide Improvements"
- [ ] Add a console app project which calls this code
- [ ] Debugging the code
- [ ] Show how to compile code (even without FAKE plugin - setup VSCode task `[tasks.json]` running `build.cmd` / `build.sh`)
- [x] Look at non-VS Windows installs and see if we can realize the fact that you need both MSBuild 2013 and MBuild 25

[2016-10-13 00:03] kendrahavens commented on #1141
I helped with the VS Code docs and I'm really happy with them! Let's either duplicate their page or link to it. They also link to my video tutorial.

[https://code.visualstudio.com/docs/runtimes/dotnet#_hello-world](https://code.visualstudio.com/docs/runtimes/dotnet#_hello-world)

- Benefits of linking to their page: They may update it themselves so we don't have to!
- Benefits of duplicating thei

[2016-10-13 01:31] mairaw commented on #1141
I think I'd lean towards having our own so we can add more scenarios as needed. Although the topic is very simple and OS agnostic, I feel like a completely new user needs to be guided more, so I miss some screenshots (it would not be OS agnostic but we could note that in the start that the screenshots are for a particular OS but the steps are the same/similar across and/or call out which OS we'll

[2016-10-13 18:35] svick commented on #420
I think this can now be closed, the site is at https://source.dot.net/.

[2016-10-13 18:35] #420 closed

[2016-10-13 18:47] #1057 closed

[2016-10-14 01:02] mairaw commented on #469
Reopening this one since we still have a wrench topic (https://docs.microsoft.com/en-us/dotnet/articles/core/versions/servicing) linked to this issue that hasn't been written yet. Would have to decide what goes in here though.

[2016-10-14 11:16] svick opened #1152 "Should View Code in API reference link to master?"
Currently, the _View Code_ link in API reference links to the master branch, for example [the page for `StatementCompletedEventArgs`](https://docs.microsoft.com/en-us/dotnet/core/api/system.data.statementcompletedeventargs) links to https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/RecordsAffectedEventArgs.cs/#L12.

The problem with that is that corefx master c

[2016-10-14 17:49] cartermp commented on #1152
Good point.  I think it should link to the current release, not master.  This is going to require proper versioning support in our docs.

[2016-10-14 17:53] BillWagner commented on #1152
When we reach the point where the docs build supports viewing docs for different versions of the product, it should link to the release being viewed (which may or may not be the current release).

[2016-10-14 20:41] Satindersatty commented on #999
This is the full example for Window 7 & OSX
https://github.com/Satindersatty/dotNetCore/blob/gh-pages/project.json_Window7Runtime
https://github.com/Satindersatty/dotNetCore/blob/gh-pages/Project.json_OSX

[2016-10-19 12:04] tsolarin commented on #56
@BillWagner apologies for the delay, been busy with work on travel. I should have something ready for review by the end of this week

[2016-10-19 20:07] ericvt commented on #386
we are working on getting part of .NetCore documentation localized in several languages including Chinese. Once this is available on docs.microsoft.com, we will welcome edits & contributions as @mairaw mentioned.

[2016-10-24 18:43] rpetrusha opened #1170 "New Topic: Building a "Hello World" app with Visual Studio 2015"
# Issue Title

New Topic: Building a "Hello World" app with Visual Studio 2015

# General
We need a simple tutorial that shows how to create a console app in Visual Studio 2015. This should actually be three modular topics:
- Building a Hello World Application with .NET Core in Visual Studio 2015.
- Debugging Your Hello World Application with Visual Studio 2015
- Publishing Your Hello World Applic

[2016-10-25 13:01] ThePiranha opened #1172 "View Code link in API Reference Link pointing wrong line"
View Code link for [Binder Class](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder.binder#Microsoft_CSharp_RuntimeBinder_Binder) under [Microsoft.CSharp.RuntimeBinder Namespace](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder#Microsoft_CSharp_RuntimeBinder) is pointing to [Line 16](https://github.com/dotnet/corefx/blob/master/src/Micro

[2016-10-25 13:06] ThePiranha opened #1173 "Binder Class Methods View Code link in API Reference Link pointing wrong line"
[Binder Class Methods](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder.binder#Microsoft_CSharp_RuntimeBinder_Binder) under [Microsoft.CSharp.RuntimeBinder Namespace](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder#Microsoft_CSharp_RuntimeBinder), all method's view code link pointing same line, [Line 16](https://github.com/dotnet/coref

[2016-10-25 14:11] svick commented on #1173
As far as I can tell, type members don't have their own "View Code" link, there is just one link for the whole type.

I don't think the class "View Code" link should change when you're scrolling through the article (at least I think that's what you're suggesting). But maybe a separate "View Link" button for each member could make sense.

[2016-10-25 14:30] svick opened #1174 "Methods summary column width in API reference"
The Methods summary table in API reference seems to have fixed relative column widths, which makes it look bad in some cases.

For example on [`Microsoft.CSharp.RuntimeBinder.Binder`](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder.binder), it looks like this for me:

![](http://imgur.com/VYpU5xF.png)

I think this table would look better with the first column wider

[2016-10-25 16:56] mairaw commented on #1174
@DuncanmaMSFT can your team look at this issue? Thanks.

[2016-10-25 17:04] mairaw commented on #1173
Currently there's only the button for the entire class, not for the individual members as @svick said.

/cc @DuncanmaMSFT @chenkennt

@dend would you like people to start submitting these kind of site comments to the UserVoice site instead? You can find the ones submitted here by looking at the [external](https://github.com/dotnet/core-docs/labels/external) tags.I'd just have to change our contrib

[2016-10-25 17:16] mairaw commented on #1172
I believe it points to line 16 because the attributes are also part of the class declaration, so View Code would point to where the attributes start. @chenkennt could probably confirm this and if it's feasible to change to go straight to where the API is being declared.

Can you clarify what exactly you're trying to find?

[2016-10-25 17:34] conniey commented on #1002
I was looking for a tutorial regarding this issue as well... and there seems to be a [Native Interoperability](https://docs.microsoft.com/en-us/dotnet/articles/standard/native-interop) document on our docs site that shows a Mac, Linux and Windows example.  Is this what they are looking for?

[2016-10-25 20:59] cartermp opened #1175 "Right-hand navigation now blocks content"
https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/query-expressions#comparison-of-transact-sql-and-f-query-expressions

<img width="796" alt="screen shot 2016-10-25 at 1 57 42 pm" src="https://cloud.githubusercontent.com/assets/6309070/19704067/24bd1c64-9abb-11e6-9c56-9c347c421421.png">

This is using latest Safari on macOS.

cc @DuncanmaMSFT

[2016-10-26 09:06] ThePiranha commented on #1172
@mairaw Thanks for the update. Actually I was going through the APIs and noticed this.

[2016-10-27 15:54] cartermp opened #1179 "Call out type extensions not being allowed on type abbreviations more prominently"
From #1178.  Currently, this tidbit of info is nestled away in a paragraph.  It should be more prominent.

[2016-10-28 15:37] #1170 closed

[2016-10-28 20:04] BillWagner opened #1187 "Change the name of `core-docs` to `docs`"
The name `core-docs` made sense when this repo would be dedicated to the documentation for .NET Core. Its scope has grown, so its name should change.

When we change the repo name on GitHub, GitHub will issue 301 redirects for almost everything referenced with the existing name.  See [here](https://help.github.com/articles/renaming-a-repository/) for details. Remotes will automatically redirect, a

[2016-10-29 08:32] sguryev opened #1190 "An item with the same key has already been added. Key: Microsoft.NETCore.App"
File [project.json](https://github.com/dotnet/docs/blob/master/samples/core/getting-started/unit-testing-using-dotnet-test/test/PrimeService.Tests/project.json) of the test project contains 2 items with the same key on Lines [6](https://github.com/dotnet/docs/blob/master/samples/core/getting-started/unit-testing-using-dotnet-test/test/PrimeService.Tests/project.json#L6) and [19](https://github.com

[2016-10-31 21:16] mairaw commented on #1187
Rename is done and URLs on our content have been updated. External links will be redirected to the new repo name appropriately.

[2016-10-31 21:16] #1187 closed

[2016-10-31 22:31] mairaw commented on #1152
They have changed the API build process and it's now linking to release/1.1.0. Which one do we want to show while we don't have the versioning story on docs: latest (release/1.1.0) or stable (release/1.0.0)?

[2016-10-31 22:32] mairaw commented on #1126
This is now fixed:
![image](https://cloud.githubusercontent.com/assets/12971179/19873989/42c5dfe8-9f7f-11e6-92f3-91fee99af2a7.png)

[2016-10-31 22:32] #1126 closed

[2016-10-31 23:17] rpetrusha commented on #1152
I vote for stable.

[2016-11-01 00:23] BillWagner commented on #1152
I'd agree with stable, until we have versions for the docs site. Then, the show code link should go to the branch (or label) that matches the viewed branch.

[2016-11-01 00:27] mairaw commented on #1152
I agree. I'll talk to @chenkennt to change this then.

[2016-11-01 01:33] BillWagner opened #1195 "Create "History of C#" topic"
We should create a "History of C#" section that provides an overview of each C# version. This would be a nice complement to the "What's new" topics, and the current "What's new" topics would provide content for this section in the future.

It should go in the C# Guide, near the What's new section.

/cc @madstorgersen @MeiChin-Tsai

[2016-11-01 02:51] lextm commented on #1195
That's going to be great. And what about history of .NET? I built [a timeline for .NET](http://corefx.strikingly.com/), but not sure if it helps

[2016-11-01 15:18] svick commented on #1195
[The History section of Wikipedia's C# article](https://en.wikipedia.org/wiki/C_Sharp_(programming_language)#History) could help with this.

[2016-11-02 13:16] BillWagner commented on #1195
@MeiChin-Tsai and also referenced this Java article as a good concept: https://en.wikipedia.org/wiki/Java_version_history

[2016-11-03 16:32] BillWagner opened #1204 "Contributing guide needs to explain including snippets"
The current contributing guide explains how to include code using the

[code]

syntax.  However, we don't explain (and certainly don't say we prefer) using the snippet include syntax.

We need to update the contributing guide, or make a separate short doc for code, that explains how we'd prefer to see code.

/cc @mairaw

[2016-11-03 17:47] svick opened #1205 "Broken links in dotnet test protocol article"
The article [.NET Core CLI test communication protocol](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/test-protocol) contains many links to files in the CLI repo. As far as I can tell, those links were broken by https://github.com/dotnet/cli/pull/4456, which removes project.json-related code from CLI.

Does this mean that in the msbuild-based future, this article should be deleted? S

[2016-11-04 21:14] danroth27 opened #1208 "Document DOTNET_BUILD_VERSION env var"
I don't see the DOTNET_BUILD_VERSION env var documented anywhere. The value of this env var will be substituted in for the `*` when you have a `-*` in you project version.

[2016-11-05 01:22] mairaw commented on #1208
Thanks @danroth27. I wasn't aware of that env var. It should probably go [here](https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet.md#environment), right?

@blackdwarf, are we missing any other env vars?

[2016-11-05 21:54] danroth27 commented on #1208
The .NET Core folks should probably decide how they want this documented. One idea is it could go with build, publish and pack where it discusses the --version-suffix option, which does something very similar.

[2016-11-08 00:21] rpetrusha opened #1213 "Wrench in parent topics creates the impression there are no child topics"
# Issue Title

Wrench in parent topics creates the impression there are no child topics

# General

Because child nodes are not expanded by default, a wrench, which indicates that a topic has not been written but consists of boilerplate text only, creates the impression that child topics are similarly unwritten.

## Issues with Existing Topics

This applies to the following topics:

- docs/csharp/

[2016-11-08 01:04] #681 closed

[2016-11-08 20:57] karann-msft commented on #958
draft here -
[dotnet restore.docx](https://github.com/dotnet/docs/files/579363/dotnet.restore.docx)

[2016-11-09 07:36] #1000 closed

[2016-11-10 05:59] blackdwarf opened #1216 "Document the "star" behavior in Nuget"
The "star" in NuGet means essentially a wildcard: bring the highest number of the part of the version where the star is.

We should document how this works as well as why it is not a recommended practice, especially w.r.t the platform metapackage(s). For more information on why this is a problem, please refer to dotnet/cli#2454.

/cc @mairaw @richlander @cartermp

[2016-11-10 11:09] eriawan commented on #1086
@cartermp I think I will take this :)
Could you tell me where to put this article? Under which section this type signature documentation should be located?

[2016-11-10 11:24] eriawan commented on #488
@tdykstra
It looks like this topic has been hanging for long time?
Could I take this work and propose to create content for this lambda expressions?
If I'm assigned for this, do you want to have a lambda expression technical guidance with sample or to use a leaning/tutorial model?

[2016-11-10 16:13] tdykstra commented on #488
@BillWagner See proposal from @eriawan

[2016-11-11 17:30] BillWagner commented on #488
@eriawan It would be fantastic if you would take this on.

I'd like to see you build a sample that shows a design idiom where lambda expressions provide a good solution. That could be something related to LINQ, or a different functional algorithm.

I often find good samples in the F# Guide: https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/functions/ These enable me to con

[2016-11-11 17:40] cartermp commented on #1216
I mention it here: https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/managing-package-dependency-versions

But it probably should be more prominent and in another article.

[2016-11-11 18:56] cartermp commented on #1086
@eriawan Awesome!  The article should go under the F# Language Reference section of the docs.  We can figure out a good position within that section when you make a PR.

[2016-11-13 14:15] SpaceShot opened #1230 "[New Topic] Documenting System.Data and System.Data.SqlClient"
This idea came about when a developer asked me if .NET Core "supported ADO.NET".  I reviewed the code and saw System.Data.SqlClient.  I even tried it out.  Then I went looking for documentation similar to [ADO.NET Oveview](https://msdn.microsoft.com/en-us/library/h43ks021(v=vs.110).aspx).

I recognize that there is a reference to the APIs, perhaps autogenerated, such as [System.Data](https://docs.

[2016-11-13 17:15] cartermp commented on #1230
@mairaw is the ADO.NET overview part of the .NET Framework migration?

[2016-11-13 17:50] eriawan commented on #488
@BillWagner
Ok, thanks for your reply!

Could you elaborate on this statement:

I admit I'm not a full time MS employee, but as far as I know this repo should be open to anyone that wish to contribute, and also to submit a PR, and to me it's closed since I'm not a part of the team. Please correct me if I'm wrong.
That being said, then how to contribute to this repo? Do I have to be part of this te