[2017-07-31 18:45] jkotalik opened #2790 "Install instructions on many linux distros may need to be updated."
With the update from preview 2 to preview 3, the install instructions shown https://www.microsoft.com/net/core/preview#linuxdebian may not work on preview 3. The issue is when running dotnet new, the first time experience may not run because dotnet will not have write permissions to the folder where it is instructed to run. I tested this on Fedora and Debian and both of these failed to perform the

[2017-07-31 18:53] omajid opened #2791 "Man pages for CLI commands"
The dotnet/cli repo contains bunch of documentation that includes man pages for the cli tooling (such as `dotnet publish`). Unfortunately, those are not very well maintained - the current docs still refer to project.json! See https://github.com/dotnet/cli/issues/7291 for more background.

I noticed that this repo contains documentation that appears on https://docs.microsoft.com/, such as https://d

[2017-07-31 20:08] mairaw commented on #2684
Instead of totally removing PCL info, we should link to information on how to port,

[2017-07-31 20:11] mairaw commented on #2791
@nguerrera @livarcocc @richlander Z used to generate the man pages from our docs in the past, but I thought the process had changed since then?

[2017-07-31 20:15] mairaw commented on #2790
@leecow @richlander can you guys comment on this?

[2017-07-31 20:17] mairaw commented on #2781
/cc @rpetrusha who owns that topic

[2017-07-31 20:21] BillWagner commented on #2764
One other addition:  Where we have the *Important* note that this technique does not work on .NET 4.6 and earlier, we should link to docs that describe how to use the manifest for high-DPI display on earlier runtimes.

[2017-07-31 20:21] mairaw commented on #2764
/cc @rpetrusha

[2017-07-31 20:34] mairaw commented on #2751
I think it's in the right place. TFM is a more cross-platform concept and it applies to NuGet, creating .NET Standard libraries, etc. For that reason, I'm closing this one.

[2017-07-31 20:34] #2751 closed

[2017-07-31 20:37] mairaw commented on #2704
@davidsh, @CIPop, @Priya91 can you guys help with this request? Can we be more assertive of the valid/invalid combinations? Thanks.

[2017-07-31 20:38] mairaw commented on #2693
@JRAlexander why is this one external? Will this one be done on aspnet/docs repo instead?

[2017-07-31 20:40] mairaw commented on #2692
@JRAlexander same with this one? Why is this one external? Is this going to the vs docs repo?

[2017-07-31 20:42] mairaw commented on #2685
@BillWagner and I discussed and we think this one should be improved and cover more than just the different terminology.

[2017-07-31 20:50] BillWagner commented on #2685
I'd like to see this document cover:

1. The different implementation platforms for .NET Standard.
1. The relationship between those implementations.
1. How the architecture improves platform independence
1. What .NET Standard really means.

[2017-07-31 20:56] leecow commented on #2790
Thanks @jkotalik and @mairaw - We're talking through options now and will make updates to the instructions soon.

[2017-07-31 20:57] jkotalik commented on #2790
Here is a link to the issue on the CLI repo. https://github.com/dotnet/cli/issues/7203. The issue was taken offline after the initial discussion. This behavior was changed form preview2 to preview3.

[2017-07-31 21:00] leecow commented on #2790
Understood, thanks again!

[2017-07-31 21:12] BillWagner opened #2794 "Create "What's new in C# 7.1" topic"
C# 7.1 is a point release whose new language features are speced out [here](https://github.com/dotnet/csharplang/blob/master/Language-Version-History.md#c-71-visual-studio-2017-version-153)

Briefly, they are:

- Async Main
- Default Expressions
- Reference Assemblies
- Inferred Tuple Element names
- Pattern Matching with Generics.
- The new <langVersion> node in csproj needs to be explained for d

[2017-07-31 21:13] #1767 closed

[2017-07-31 21:13] #2574 closed

[2017-07-31 21:21] BillWagner opened #2795 "Update C# Language Reference for async Main"
C#'s `Main` method can now have new signatures to support async main methods.

[This page](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/main-and-command-args/index) needs to be updated to reflect this feature.

[2017-07-31 21:23] BillWagner opened #2796 "Update description of `default` for generics"
C# 7.1 adds new syntax for `default` expressions where the type of the expression is inferred.

[This page](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/default-keyword-in-generic-code) needs to be updated to reflect [this feature](https://github.com/dotnet/csharplang/blob/master/proposals/target-typed-default.md)

[2017-07-31 21:26] BillWagner opened #2797 "document reference assemblies in C# 7.1"
The C# 7.1 compiler can generate [reference assemblies](https://github.com/dotnet/roslyn/blob/master/docs/features/refout.md)

We need to address this in docs:

Document the compiler switches to generate reference assemblies

[2017-07-31 21:29] BillWagner opened #2798 "Update tuples topics for Inferred tuple element names"
C# 7.1 enhances the tuples feature to [infer names of tuple elements](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.1/infer-tuple-names.md) which makes them easier to declare.

To handle this, we need to:

- [x] Update the Tuples topic to show this syntax
- [x] review deconstruction to make sure it is still accurate.

[2017-07-31 21:34] BillWagner opened #2799 "Update `is` for pattern matching with generics"
C# 7.1 adds [Pattern Matching with Generics](https://github.com/dotnet/csharplang/blob/master/proposals/generics-pattern-match.md).

We need to update a few pages for this:

- [ ] `is` keyword
- [ ] `as` keyword
- [ ] Pattern Matching topic.

[2017-07-31 21:49] CIPop commented on #2704
@svick, @mairaw this is not simple since different systems / execution modes (e.g. Windows vs Windows UWP) will support different combinations.
These parameters correspond to the ones documented for `socket`:
- Windows: https://msdn.microsoft.com/en-us/library/windows/desktop/ms740506(v=vs.85).aspx.
- Linux: http://man7.org/linux/man-pages/man2/socket.2.html.

Within the implementation we have tri

[2017-07-31 21:57] omajid commented on #2791
It looks like no one picked up that task when Z left. As I see it, there is no process currently :(

[2017-07-31 22:14] BethMassi commented on #2685
@mairaw see slide 14 in this deck https://view.officeapps.live.com/op/view.aspx?src=https%3a%2f%2fsec.ch9.ms%2fsessions%2fc1f9c808-82bc-480a-a930-b340097f6cc1%2fbuild%2f2017%2fB8001.pptx

[2017-07-31 22:24] cartermp commented on #2685
@BillWagner That's basically the goal of this doc.  It's pretty impossible to make sense of .NET without something like this.  I initially wrote it because I got feedback about there being confusion about what .NET Standard is.  This is back when we were still calling it a "piece of paper", which I don't think stuck well with anyone.  We're now just saying that ".NET Standard = APIs everywhere", w

[2017-07-31 22:41] rpetrusha commented on #2531
This should have been closed automatically when the associated PR was merged, but it wasn't. Closing now...

[2017-07-31 22:41] #2531 closed

[2017-07-31 23:37] tdykstra commented on #2685
#BethMassi That diagram leaves something to be desired.  The goal is to show the elements of a .NET implementation and .NET Standard and how they relate to each other, but the boxes in the top row of this diagram are app types/platforms, not .NET implementations or elements of one, such as BCLs, app frameworks, etc.  What I think would work better is something more like Immo's diagram but with a f

[2017-08-01 01:08] mairaw opened #2803 "Strong name should not be used for security"
We have some outdated guidance in our docs in regards to strong naming.

We need to:
- [ ] Review warning on topic https://docs.microsoft.com/en-us/dotnet/framework/app-domains/delay-sign-assembly
- [ ] Review second paragraph of the topic https://docs.microsoft.com/en-us/dotnet/framework/app-domains/create-and-use-strong-named-assemblies#top
- [ ]  Review docs in general to see if we have more in

[2017-08-01 01:17] #1846 closed

[2017-08-01 15:02] #1875 closed

[2017-08-01 17:17] nguerrera commented on #2791
@omajid is right. We need to figure out the best way to get the man pages to sync directly from the docs.microsoft.com content. Any manual steps will just risk us getting back to this bad state in the future.

[2017-08-01 17:37] omajid commented on #2791
It looks like pandoc can generate man pages from existing docs already.

    pandoc -s -f markdown -t man -o dotnet.1 docs/core/tools/dotnet.md
    man ./dotnet.1

The generated docs do need some cleanup, though. Here is a quick list of issues from running the commands above:

- No section name in man page docs
- Section names are not consistent with other programs (`Name` vs `NAME`)
- Option name

[2017-08-01 18:06] rlordcardano opened #2808 "Cannot get example from https://docs.microsoft.com/en-us/dotnet/standard/native-interop to work in 32-bit .NET Core"
# Cannot get example from https://docs.microsoft.com/en-us/dotnet/standard/native-interop to work in 32-bit .NET Core

I have tried to setup a new .NET Core console app, to call the SystemTime as in the example in the above link. The relevant snippet of code is pasted below. If the build is 32 bit, Visual Studio crashes with a "dotnet has crashed" error. If the build is 64 bit however, everything

[2017-08-01 18:18] mairaw commented on #966
With the content ported from MSDN, it seems that we now have duplication of struct topics @BillWagner:

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/structs
https://docs.microsoft.com/en-us/dotnet/csharp/structs

The first one gets way more views (probably because of the keywords used in the title and the link juice obtained from msdn redirection).

[2017-08-01 19:02] rpetrusha commented on #966
@BillWagner, @mairaw, they have identical titles, but very different content. The second struct topic is probably mistitled; it's more about value types than structs proper. If there's anything in the second topic that can be consolidated into the first topic, we should do that, and probably find a home for whatever remaining content doesn't belong in the structs topic.

[2017-08-01 19:04] BillWagner commented on #2685
@cartermp I agree with the .NET Standard Library => .NET Standard change.

The diagram update will also help.

I'd also change the title "Architectural components" sounds like a catalog of the parts that make up .NET. This topic is more of an overview of the .NET ecosystem architecture. That's very useful.

[2017-08-01 19:43] BillWagner commented on #1669
I updated the milestone to Q3. I'll handle this as part of the Roslyn API conceptual documentation.

[2017-08-01 21:06] Mikejo5000 opened #2813 "project files list need to be updated in Docker topics"
In Visual Studio for Docker topic,
https://docs.microsoft.com/en-us/dotnet/core/docker/visual-studio-tools-for-docker

the list of added project files does not include this file:
docker-compose.ci.build.yml

In VS 2017 Update 3 Preview, the above file is present, and some of the other files mentioned are not added to the project.

[2017-08-02 15:43] guardrex opened #2816 "[2.0] Describe AssetTargetFallback"
Similar to the request to surface `AssetTargetFallback` in https://github.com/NuGet/docs.microsoft.com-nuget/issues/410, which was prompted by a discussion regarding `PackageTargetFallback` [here](https://github.com/dotnet/cli/issues/3439#issuecomment-319702662), there are a few topics over here that might (probably) need a smidgen of work ... a note? a section? a replacement? versioned content? .

[2017-08-02 16:02] GuardRex commented on #2816
@mairaw, if you need this and let me know how you want it handled in those two topics, I can square it away tonight. Looks like they both need versioned content.

[2017-08-02 19:18] dasMulli commented on #2816
Note that especially when upgrading to 2.0, users might see this error if they have been using `PackageTargetFallback `:

[code]
see https://github.com/dotnet/cli/issues/6952.
TL;DR unless `DisableImplicitAssetTargetFallback` is set to `false`, .NET Core and .NET Standard >= 2.0 projects will implicitly have their `AssetTargetFallback` set to include `net461` (see [source](https://github.com/dotne

[2017-08-02 19:24] dasMulli commented on #2816
Some more context from https://github.com/dotnet/core/issues/711#issuecomment-312051242

by @rrelyea:

PackageTargetFallback is deprecated. Replace PackageTargetFallback references with AssetTargetFallback in the project environment.

The teams have realized that our implementation of that wasn't ideal.
In order to not break old projects/packages -- we created AssetTargetFallback which is implicit

[2017-08-02 20:55] tebeco commented on #2729
is there already existing doc on that or will it start from scratch ?

[2017-08-02 21:33] BillWagner opened #2821 "Document <LangVersion> for csproj files"
The C# build system now includes a <LangVersion> node inside a csproj file that controls which version of C# the compiler should follow. Valid values include:

- ISO-1
- ISO-2
- C# 3.0
- C# 4.0
- C# 5.0
- C# 6.0
- C# 7.0
- C# 7.1 (beginning with .NET Core 2.0)
- latest (latest minor version)
- default (latest major version)

This can be set using the Visual Studio IDE, or editing the CSProj file.

[2017-08-03 00:07] SZ-MSFT opened #2824 "ZipArchive constructor remarks are incorrect for current .NET Framework and .NET Core"
In the current documentation for ZipArchive's constructor, it states:

This is not correct in current versions of both .NET Core and .NET Framework due to a bug:
https://github.com/dotnet/corefx/issues/11497

The provided stream, if the mode is set to Create, must support writing and be able to get position information. Though most write-only streams do not support querying for position, you can c

[2017-08-03 00:08] morganbr commented on #2781
The .NET Native 2.0 release will include a new BinaryFormatter directive, but it won't be released for a while longer. I'm not sure how coordination works for future releases like that.

[2017-08-03 09:10] pedro-w opened #2827 "Incorrect information for System.Net.Dns"
# Incorrect information for System.Net.Dns

In several places in `docs/xml/System.Net/Dns.xml`, it mentions that passing an empty string for the host name will return the IPv4 address of the local host. Sometimes it mentions Windows Server 2003 as an exception, sometimes not.

I believe this information is incorrect/outdated. On my Windows 10 system, .NET 4.6.2,  I always get IPv6 addresses as wel

[2017-08-03 15:59] #2795 closed

[2017-08-03 17:29] mairaw commented on #2770
@ViktorHofer the docs move is done. You can proceed with your edits. Redirection will be applied as soon as the docs go live.

[2017-08-03 20:05] BillWagner commented on #2796
This PR is going to expand somewhat.

[This page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/default) and the page reference in the title imply that `default(T)` is only valid for generics. It's not. `default(int)`, `default(int?)` and `default(string)` are all valid examples.

This means the following:

- [ ] The page reference in the initial description of this is

[2017-08-04 03:54] weitzhandler opened #2833 "Suggestion: Docs markdown tutorial"
Please add a link "markdown" on the docs page, preferably in the comments area, that links to a page where users can see the a list of all MD options available in the docs, as they're different than GitHub's.

[2017-08-04 06:11] mairaw commented on #2833
Hi @weitzhandler,

You mean, the custom Markdown extensions we use?
If so, we cover them here: https://github.com/dotnet/docs/blob/master/styleguide/template.md
It's linked from our contributing guide.

I hope this helps.

[2017-08-04 06:22] weitzhandler commented on #2833
@mairaw
I meant those in the comments in the docs. I'm not even sure it's powered by docs itself, but for dev forums, this should allow some minimal MD for links etc.

Here's what I mean:

![image](https://user-images.githubusercontent.com/2716316/28956566-566e29e6-78f6-11e7-8c38-1130c012cfd9.png)

[2017-08-04 06:38] mairaw commented on #2833
I saw your test comment just now and then connected the dots. So that's a LiveFyre plug-in (from Adobe). It doesn't use Markdown for formatting. When you click on the pencil, you get a few formatting options:
![image](https://user-images.githubusercontent.com/12971179/28956970-87541540-78a4-11e7-869d-3c63199dafe7.png)

We usually just paste the links as-is with no formatting.

Does that help? If s

[2017-08-04 07:07] weitzhandler commented on #2833
Yeah I saw that toolbox before opening the issue.

I did believe it's from LiveFyre.

But since docs is a developer oriented website, it's most natural to include all the GitHub/StackOverflow markdown features in the comments. At least links and the other basic ones like code etc.

I think it would be best if you guys could contact LiveFyre and request from them to integrate a comments formatter t

[2017-08-04 07:13] mairaw commented on #2833
docs.microsoft.com doesn't only contain developer docs, so our solutions need to work for developers and non-developers. You're welcome to leave feedback about the website here: https://aka.ms/sitefeedback

However, we're discussing ways on how to improve the comments section.  Stay tuned! 😉

[2017-08-04 07:13] #2833 closed

[2017-08-04 07:15] weitzhandler commented on #2833
Thank you!
And it was a pleasant surprise to hear from you hear on the GH repo too!

Keep up the good work, cuz you're doing it best @mairaw...

[2017-08-04 07:18] weitzhandler commented on #2833
And BTW look like [I have been there](https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/17883796-comments-markdown) a while ago, completely forgot about it.
And apparently the LiveFyre team don't seem to be very helpful for dev-oriented people...

[2017-08-04 16:37] miltoncamara commented on #386
@mairaw Can I contributing for pt-BR translation for new contents? As I can see some articles or contents does not exists in pt-BR language.

[2017-08-04 17:51] ericvt commented on #386
thank you @miltoncamara . we working on our localization plan for .netcore. Pt-BR is in our scope for translation. If you are interested in reviewing the quality of the translation or give us feedback on that once it's done that would be fantastic. please let us know.

[2017-08-05 01:56] #2196 closed

[2017-08-05 21:15] BillWagner opened #2840 "Updated focus for the "Language Reference" sections"
The C# Guide and the Visual Basic Guide both contain large sections for "Language Reference"
[C# Guide Language Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/index)
[Visual Basic Guide Language Reference](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/)

Now that we are publishing the language specification for both languages on docs, I propo

[2017-08-07 15:45] weshaggard opened #2843 "Add information about portable RIDs"
With .NET Core 2.0 we are moving towards using what we call portable RID's which are essentially RID's that aren't distro or version specific but instead contain assets that can work on lots of platforms. I think we need to refresh this document https://docs.microsoft.com/en-us/dotnet/core/rid-catalog to add information on the portable RIDs (i.e. linux-x64, win-x86/x64, osx-x64, etc).

cc @ericstj

[2017-08-07 18:13] JRAlexander commented on #2693
Yes, just placed here for tracking

[2017-08-07 20:20] mairaw commented on #2200
issues with the cmd are being tracked at https://github.com/dotnet/cli/issues/7065

[2017-08-07 20:35] mairaw commented on #2827
@msatranjr can you take a look at this issue? Thanks.

[2017-08-07 20:38] mairaw commented on #2813
@JRAlexander can you look at this one? Thanks!

[2017-08-07 20:41] mairaw commented on #2808
Thanks for reporting this @rlordcardano. A lot of our content in the .NET Guide needs to be reviewed to make sure it works with .NET Core. We'll take a look at this issue.

[2017-08-07 21:36] cartermp commented on #2840
It sounds like you're proposing that they be similar in content and style to the F# language reference section we have.  I think that's a great idea.  Basically, every article is about a particular feature (e.g., Modules in VB).  In the F# reference we do have a quick section showing the generalized syntax, e.g.

[code]

Would that be desirable for C# and VB as well?

[2017-08-07 21:57] JRAlexander commented on #2813
Absolutely!

[2017-08-08 02:04] BillWagner commented on #2798
Neither deconstruction nor discards needed any updates.

[2017-08-08 06:05] pedro-w commented on #2827
Thanks for the swift response! These are some of the relevant locations; there may be more that I haven't come across.

https://github.com/dotnet/docs/blob/master/xml/System.Net/Dns.xml#L87
https://github.com/dotnet/docs/blob/master/xml/System.Net/Dns.xml#L396
https://github.com/dotnet/docs/blob/master/xml/System.Net/Dns.xml#L599
https://github.com/dotnet/docs/blob/master/xml/System.Net/Dns.xml#L9

[2017-08-08 10:32] moar55 opened #2850 "Missing variable declaration in creating a windows service walkthrough."
In the doc found here https://github.com/dotnet/docs/blob/master/docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md at the section for creating an `onTimer` event handler for the timer a non-declared variable `eventId` is passed to a function thus causing an error. Here is the part having this issue :

[code]

A solution would be simply

[2017-08-08 13:37] dasMulli commented on #2732
Should likely include the breaking change made by introducing implicit `AssetTargetFallback` values in .NET Core 2.0 / .NET Standard 2.0. See https://github.com/dotnet/docs/issues/2816#issuecomment-319771126

[2017-08-08 15:49] BillWagner commented on #2799
I read the pages listed above:

[Pattern Matching in C# 7](https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching)
[as keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/as)
[is keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/is)

I don't see any updates necessary.

I propose closing this.

/cc @mairaw @jcouv

[2017-08-08 15:52] jcouv commented on #2799
@gafter Could you review the existing documentation (linked above) on pattern matching in C# 7 and as/is, and advise whether further updates are necessary?

[2017-08-08 18:44] wadepickett opened #2854 "[Project] Document compiler errors"
This is a meta-issue for public discussion of the .NET Core content project [Document compiler errors](https://github.com/dotnet/docs/projects/16) .

Comment below to suggest new content, or updates to existing content:

[2017-08-08 19:00] wadepickett commented on #2854
@rpetrusha, please update with Milestone if we are ready to commit to one.  Thanks.

[2017-08-08 19:12] wadepickett opened #2855 "[Project] Add missing .NET API reference docs"
This is a meta-issue for public discussion of the .NET Core content project [Add missing .NET API reference docs ](https://github.com/dotnet/docs/projects/15) .

Comment below to suggest new content, or updates to existing content:

[2017-08-09 17:20] BillWagner commented on #2840
Right @cartermp

Your comment got me thinking more about this. Organizing the Language Reference section this way would make it easy to discuss the history and changes behind features on a feature-by-feature way.

For instance, the `Delegate` feature could discuss the syntax changes in 2.0, 3.0, and so on. Other updates to different features would be treated similarly as new versions are created.

[2017-08-09 17:57] agocke commented on #2840
Are you thinking that the language reference is a kind of exegesis for the spec? My only concern is that we expose people to the spec language too much and they get confused.

[2017-08-09 20:14] BillWagner commented on #2701
@mairaw I'd like to push this back out of the .NET Core 2.0 wave. Thoughts?

[2017-08-09 20:20] AdamSpeight2008 commented on #2840
The Language Specifications should be akin to datasheets for electronics components.
Each part should be expressible as single side of A4. Just giving you the core vital information.
For example (each leaf will link to a separate *"datasheet"*).

-----
# Statements

Statements represent executable code.

[code]

__Note.__ The Microsoft Visual Basic Compiler only allows statements which start with

[2017-08-10 00:29] mairaw commented on #2701
@BillWagner makes sense!

[2017-08-10 01:41] mairaw commented on #1878
@svick this seems to be fixed now. Can you check? Thanks!

[2017-08-10 21:02] mairaw commented on #2843
Should we also change examples where we show specific RIDs to use the portable ones? E.g. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish

[2017-08-10 22:12] mairaw opened #2880 "Version binding for .NET Core 2.0"
We need to explain the .NET Core roll forward policy. Will .NET Core 1.0 and 1.1 apps run on .NET Core 2.0 when neither a 1.0 nor a 1.1 runtime is installed?

Background info: https://github.com/dotnet/designs/issues/3

Should probably be under https://docs.microsoft.com/en-us/dotnet/core/versions/

[2017-08-11 10:08] Alovchin91 opened #2886 "No info on how to get ICLRAssemblyIdentityManager"
## Problem

When hosting CLR, one commonly used interface is [ICLRAssemblyIdentityManager Interface](../blob/306c608/docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-interface.md). It is used to get assembly identity from a file, create *ICLRAssemblyReferenceList* instance that can be used by *IHostAssemblyManager* implementation and so on.

Once upon a time, a [GetCLRIdentityManag

[2017-08-11 15:00] omajid commented on #2791
Ping. Anyone have any thoughts on how to proceed from here?

[2017-08-11 17:42] mairaw commented on #2886
Thanks for filing the issue, @Alovchin91. @karelz who on your team could help with this question?

[2017-08-11 23:53] #2561 closed

[2017-08-12 09:08] #2705 closed

[2017-08-12 09:15] #2405 closed

[2017-08-12 09:26] mairaw commented on #2816
Thank you @guardrex and @dasMulli for the info. I'll try to squeeze this one in asap after I'm done with some other high pri work.

[2017-08-12 09:32] mairaw commented on #2770
Fixed by #2780 and #2841

[2017-08-12 09:32] #2770 closed

[2017-08-12 10:18] mairaw commented on #2139
We're no longer adding the 2.0 topics in a separate folder, so closing this issue.

[2017-08-12 10:18] #2139 closed

[2017-08-12 18:29] AndreasHassing opened #2891 "Ref and Out links in "Know the Difference Between Passing a Struct and Passing a Class Reference to a Method"?"
# Ref and Out links in "Know the Difference Between Passing a Struct and Passing a Class Reference to a Method"

I think it would be nice to mention the `ref` and `out` keywords, as the article seems to implicitly claim that mutating a value type (such as structs) via function calls is impossible.

Not sure if it's just me.

Link to article and markdown:
https://docs.microsoft.com/en-us/dotnet/csh

[2017-08-13 16:38] #1855 closed

[2017-08-14 02:23] #2797 closed

[2017-08-14 10:59] mairaw commented on #2731
PR was merged but leaving this issue open because there are still more work to be done on the what's new.

[2017-08-14 15:58] mairaw commented on #1780
I'm keeping a version of this in the 1.0 side and removing from the 2.0 version since this is still broken for 1.x.

[2017-08-14 16:09] #1780 closed

[2017-08-14 16:09] #2721 closed

[2017-08-14 16:13] #2696 closed

[2017-08-14 18:05] #2719 closed

[2017-08-14 18:19] svick commented on #1878
@mairaw Almost there, just one question: why does the list of implemented interfaces not include the non-generic interfaces `System.Collections.IEnumerable` and `System.Collections.ICollection`?

If this is the expected behavior, because those interfaces are inherited from other interfaces, then yes, this would be fixed.

[2017-08-14 18:24] svick opened #2900 "Incorrectly encoded ellipsis in list of derived types"
[The list of derived types for `IEnumerable`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.ienumerable?view=netframework-4.7#derived) looks like this:

![](https://user-images.githubusercontent.com/287848/29285258-344095a8-812e-11e7-8a57-219058271082.png)

Notice the "More\&#8230;" link, which is wrong (`&#8230;` is the HTML encoding for U+2026 HORIZONTAL ELLIPSIS). It seems the

[2017-08-14 19:29] mairaw commented on #1878
I've opened a separate internal bug for this a while back. I need to discuss this further with @joelmartinez, @dend and @terrajobst. That was the explanation I was given, not sure if that's what we want to do.

[2017-08-14 21:47] nguerrera opened #2902 "global.json documentation"
_From @jaredpar on July 17, 2017 21:19_

Where can I find documentation on global.json? This is the only public documentation I could find:

https://docs.microsoft.com/en-us/dotnet/core/tools/global-json

Unfortunately it doesn't answer the questions I have about the `sdk.versions` property. In particular:

- What are the matching rules? Say I put 1.0 but 2.0 is available. Will 2.0 be chosen or wi

[2017-08-14 21:47] nguerrera commented on #2902
_From @jaredpar on July 18, 2017 18:35_

CC @rainersigwald, @nguerrera, @dsplaisted

[2017-08-14 21:47] nguerrera commented on #2902
_From @livarcocc on July 18, 2017 23:40_

@mairaw can we work on documentation for this? We changed the policy in 2.0, it would be good to do an all up write up on this file.

[2017-08-14 21:47] nguerrera commented on #2902
_From @jaredpar on July 19, 2017 15:7_

@livarcocc can we get the details posted here while waiting for doc? Need to understand how this works before we can adopt in our repos.

[2017-08-14 21:47] nguerrera commented on #2902
_From @mairaw on August 12, 2017 7:21_

Sorry, I missed this mention earlier. Yes, we can improve the docs. Doc issues can be filed at https://github.com/dotnet/docs/issues. Can I have more info on what needs to be done @livarcocc @nguerrera? I don't know what the change was or the answer to @jaredpar's questions, unfortunately. Should we move this to our repo?

[2017-08-14 21:47] nguerrera commented on #2902
Prior to `dotnet 2.0`, the matching rule was that if no exact match was found, then latest would be used. https://github.com/dotnet/core-setup/issues/2334

In 2.0, the rules are described in this PR's description: https://github.com/dotnet/core-setup/pull/2621. However, in the desktop `msbuild`/VS case, the error cases listed there are actually currently fallbacks to the 1.1 SDK in the MSBuild fol

[2017-08-14 21:49] nguerrera commented on #2902
Tagging @johnbeisner.

[2017-08-14 22:26] weshaggard commented on #2843
I think it is worth adding additional samples with the portable RIDs and the portable ones should be the primary example but the other RIDs should still have samples.

[2017-08-15 00:24] tmenier opened #2909 ".NET Standard implementation support matrix - define "1.0 tooling" and "2.0 tooling""
On https://docs.microsoft.com/en-us/dotnet/standard/net-standard under ".NET Implementation Support", 2 of the platforms read ".NET Framework (with 1.0 tooling)" and ".NET Framework (with 2.0 tooling)". Nowhere in the doc is there any indication of what is meant by "1.0 tooling" and "2.0 tooling". It seems deserving of a link or a footnote or _something_ defining what exactly that means.

[2017-08-15 20:56] #1760 closed

[2017-08-16 03:34] mazong1123 opened #2919 "Recommend user to use "G17" for round-trip converting for double numbers."
Today we're suggesting user to use "R" for round-trip converting for double numbers.

https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings (See `The Round-trip ("R") Format Specifier`)
https://msdn.microsoft.com/en-us/library/kfsatb94(v=vs.110).aspx

However, `double.ToString("R")` will introduce a bug caused by its design: https://stackoverflow.com/questions

[2017-08-16 07:40] mairaw commented on #2909
Hi @tmenier, I've created a PR to improve the definition. Let us know what you think!

[2017-08-16 07:50] mairaw opened #2922 "Update InstallShield outdate info"
We should update InstallShield outdate info on the page:
https://docs.microsoft.com/en-us/dotnet/framework/deployment/deployment-guide-for-developers

We have removed InstallShield from the product for some time now and the partner site is: https://www.flexerasoftware.com/producer/products/software-installation/installshield-software-installer/

/cc @unniravindranathan

---
#### Document Details

[2017-08-16 13:34] tmenier commented on #2909
That looks perfect, thanks! (I would have done a PR myself but I honestly didn't know what it meant. Now I do, so I guess you could say it passes the ultimate litmus test. 😃)

[2017-08-16 20:23] mairaw commented on #2909
Great! I'm glad it helps. Appreciate the feedback @tmenier!

[2017-08-16 20:23] #2909 closed

[2017-08-16 20:33] #2587 closed

[2017-08-16 23:30] mairaw opened #2927 "Add info on how to consume .NET Standard 2.0 libraries from VS2015"
Need to add info about how to consume .NET Standard 2.0 libraries into the .NET Standard topic. You can do it with VS 2015 too if you have the latest NuGet client.

https://github.com/dotnet/announcements/issues/24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent

[2017-08-16 23:41] mairaw commented on #1244
Resolved with https://github.com/dotnet/docs/pull/2908

[2017-08-16 23:41] #1244 closed

[2017-08-17 00:45] BillWagner commented on #2840
@agocke When I first put this together, my thinking was that the spec would be the normative information for the language. The docs Language Reference would be more the informative information (to borrow the ECMA and ISO spec terminology).

My plan is that the Language Reference would be where readers would go for two things:
1. See examples of a feature in use.
1. Point me to scenarios where this

[2017-08-17 00:48] BillWagner commented on #2840
@AdamSpeight2008 I think we're close to agreement. How's this for an organization:

- The *spec* is the standard where the language is defined.
- The *language reference* is a reference to each feature, along with short examples and brief descriptions of when a feature would be useful.
- The *language guide* is more scenario based, how to solve different classes of problems using C#.

There are mo

[2017-08-17 06:47] mairaw opened #2930 "SEO - add missing descriptions"
We need to divide and conquer and over time add the missing descriptions for SEO purposes.

Assigning to the current milestone, so we continuously work on this as a team.
[Missing Meta Description.xlsx](https://github.com/dotnet/docs/files/1230333/Missing.Meta.Description.xlsx)

Excel spreadsheet with missing descriptions attached.

[2017-08-17 13:06] AdamSpeight2008 commented on #2840
@BillWagner
I think we are more or less thinking along the same lines.

* **1, Grammar**
  * Bare Bones.
  * No examples
  * Aim: Should be able to do a diff and see what has changed from one version to the next.
* **2a. Technical Language Specification**
  * Uses precise language,
  * Defines the semantics of the language.
    * Could use special notation to help with that precise definition.

[2017-08-17 20:09] mairaw opened #2934 "Add PlatformNotSupported exception for APIs/platforms not supported in .NET Core"
APIs might have a different behavior depending on the platform in .NET Core and might throw the PlatformNotSupported exception. We need to call that out in the Exception section of the APIs impacted.

I remember seeing spreadsheets flowing around with that information @terrajobst. Do we have the latest version of that @terrajobst?

/cc @bartonjs

[2017-08-18 00:34] mairaw commented on #2200
With all the new commands pages published, aka.ms links were reviewed and this issue can be closed. Thanks for reporting this @mikkelbu!

[2017-08-18 00:34] #2200 closed

[2017-08-18 17:34] karelz commented on #2886
@joshfree @dnlharvey should be able to comment.

I took a look at the source code and it seems that `GetCLRIdentityManager` is the only function which returns the interface (`IID_ICLRAssemblyIdentityManager`). So you will likely need to keep using the deprecated API (one of the side-effects is that it doesn't work well with in-proc side-by-side AFAIR).

Why do you need the API? Can you replace the

[2017-08-18 17:35] mairaw commented on #2652
@JRAlexander we got a comment on the topic "Just wasted 30 minutes trying this, there should be a warning or something at the beginning showing what versions are supported, my project its using the 2.0 preview and after "yo aspnet" the app didn't start"

while we work at this, should we just put a warning on top that the topic hasn't been updated for 2.0 yet?

[2017-08-18 19:55] MichaelSimons opened #2942 "Clarify Shared Framework resolution rules when using FDD"
This issue refers to the following documentation
End User Link:  https://docs.microsoft.com/en-us/dotnet/core/deploying/
Doc Source:  https://github.com/dotnet/docs/blob/master/docs/core/deploying/index.md

The `Framework-dependent deployments` section states that following:

[code]

This doesn't seem like the correct Shared Framework resolutions rules.  For example if you take a FDD which targets

[2017-08-18 23:25] #2798 closed

[2017-08-20 22:30] mgwalm opened #2951 "Problem with KnownTypeAttribute"
# Issue Title

Problem with docs of KnownTypeAttribute

## Issues with Existing Topics

I'm having a big problem with this attribute. Simply it isn't working (as it has been for approx. 10 years)
On tracking down the problem I found this in the docs:

the types that should be included for consideration during deserialization.

In previous version of this docs and in the previous version of using t

[2017-08-21 02:38] mairaw commented on #2487
Closed via #2630

[2017-08-21 02:38] #2487 closed

[2017-08-21 05:02] grokky1 commented on #2821
@BillWagner Also please document:

Visual Studio has an option for language version with "C# latest major version (default)". Which I assume means "7.0" rather than "7.1" which is confusing because most advice in SO/blogs is to do nothing and get the latest and greatest automatically though msbuild defaults.

But actually, to get 7.1 I need to do `<LangVersion>latest</LangVersion>`.

[2017-08-21 08:26] amdnaji commented on #2687
@mairaw It will be really nice if we have a content about **ASP.NET Core** life cycle similar to this
[https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/lifecycle-of-an-aspnet-mvc-5-application](url)

[2017-08-21 20:10] mairaw commented on #2850
@moar55 thank you for your feedback. We'll have to investigate this issue.

[2017-08-21 20:15] BillWagner commented on #2886
@Alovchin91 Can you provide us more info in response to Karel's question? It will help us understand what the right fix is.

[2017-08-21 20:19] BillWagner commented on #2891
@AndreasHassing Thanks for pointing this out. I'm putting this in the backlog as I'm working on a project to do quite a bit of updates to the C# Guide. I'll make sure this gets addressed as part of that work.

[2017-08-21 20:20] mairaw commented on #2900
Thanks @svick. I've noticed that recently and filed an internal bug already (#1055498)

[2017-08-21 20:28] mairaw commented on #2942
Hi @MichaelSimons. Yes, we're missing this scenario. I believe this is a duplicate of #2880 so I'm closing this one.

[2017-08-21 20:28] #2942 closed

[2017-08-21 20:30] mairaw commented on #2951
@ViktorHofer can you help with this question?

[2017-08-21 20:33] ViktorHofer commented on #2951
Unfortunately not. This is not binary serialization but Data Contract Serializer (DCS). @shmao or @huanwu should be able to answer.

[2017-08-21 20:59] mairaw commented on #2850
Marked as P1 since this topic has high traffic.

[2017-08-21 21:00] shmao commented on #2951
@mgwalm Thanks for submitting the issue. The doc seems wrong. The attribute is used in both serialization and de-serialization. Can you please share a repro code with us for us to understand the issue?

[2017-08-21 21:20] int19h opened #2956 "ValueTuple.CompareTo documentation is wrong"
https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple.compareto

The current description of the method is:

This is obviously wrong for many reasons, starting with the fact that `other` cannot be null since it's a value type. And, of course, tuples compare according to the values of their elements, not just type. Furthermore, this method - like `IComparable.CompareTo`, to which it correspo

[2017-08-21 22:55] moar55 commented on #2850
Anytime ! :smile:

[2017-08-21 23:13] mairaw commented on #2930
I think we could split the folders between the 4 of us:
@BillWagner - csharp
@rpetrusha - visual-basic
@mairaw - framework, fsharp and core
@JRAlexander - standard

Submit a few/week so we can make progress towards adding descriptions for all .NET topics.

[2017-08-22 15:27] BillWagner commented on #2799
Closed based on conversation with @gafter

[2017-08-22 15:27] #2799 closed

[2017-08-22 15:51] omajid commented on #2791
Ping. I would appreciate some guidance on what a new man page workflow should be.

[2017-08-22 23:21] #1848 closed

[2017-08-23 16:12] abelbraaksma opened #2973 "F# Documentation on namespaces and namespace syntax lacks some details"
*Originally reported in visualfsharp repo: https://github.com/Microsoft/visualfsharp/issues/3485.*

When I found out that a file can contain multiple namespaces (I have the policy of having one namespace per file) I [looked up the documentation](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/namespaces) and found a few key points missing:

* The syntax does not include the synta

[2017-08-23 16:14] abelbraaksma commented on #2973
As per the comment by @cartermp over there, I'll try fix this myself by creating a PR for this.

[2017-08-23 16:20] cartermp commented on #2973
Sounds great @abelbraaksma.  Let me know if you need any help!

[2017-08-23 18:11] mairaw opened #2974 "Replace/remove codeplex links"
CodePlex is being completely shut down in December. For more info, see https://aka.ms/codeplex-announcement.

We need to replace existing text and links that talk about codeplex:
https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=codeplex&type=

[2017-08-23 19:16] #1038 closed

[2017-08-23 19:58] mairaw commented on #1935
This has been resolved @svick. Can you check? Thanks!

[2017-08-23 21:29] abelbraaksma commented on #2919
I'm not opposing your suggestion, in fact, I highly welcome adding this detail, knowing that I have, on different occasions, fallen for the trap of using only "R".

However, I would like to suggest adding a note, or even a code example, that shows how to get the *minimal* exact representation. That is, try 15 digits precision, test roundtrip, if fail, try 16 digits precision, if fail, try 17 digit

[2017-08-23 22:15] Alovchin91 commented on #2886
@karelz @BillWagner Sure.

The host implements [`IHostAssemblyManager`](../blob/306c608/docs/framework/unmanaged-api/hosting/ihostassemblymanager-interface.md) interface. The first use case for `ICLRAssemblyIdentityManager` is the [`IHostAssemblyManager::GetNonHostStoreAssemblies`](../blob/306c608/docs/framework/unmanaged-api/hosting/ihostassemblymanager-getnonhoststoreassemblies-method.md) method

[2017-08-23 22:30] rpetrusha commented on #2956
Thanks for noticing the error and reporting, @int19h. The documentation is indeed incorrect, although actually ValueTuple.CompareTo (the comparison of two 0-tuples) always returns 0. I've opened PR #2976 to correct the documentation.

[2017-08-23 22:41] int19h commented on #2956
Ah, I see. I suppose I expected to see the general rule for how `CompareTo` works for tuples of any size on that page.

Looking at pages for 2-tuple etc, I see that they say that there's a relative position, which they define in terms of "this instance precedes/follows other in sort order". But they still don't define what that sort order actually is.

[2017-08-23 22:41] int19h commented on #2956
E.g. https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple-2.compareto

[2017-08-24 00:50] mairaw opened #2982 "Document System.​Runtime.​Loader Namespace"
This includes the following files:

https://github.com/dotnet/docs/blob/master/xml/ns-System.Runtime.Loader.xml
https://github.com/dotnet/docs/blob/master/xml/System.Runtime.Loader/AssemblyLoadContext.xml

[2017-08-24 00:52] mairaw opened #2983 "Document System.​Text.​Unicode Namespace"
This includes the following files:

https://github.com/dotnet/docs/blob/master/xml/ns-System.Text.Unicode.xml
https://github.com/dotnet/docs/blob/master/xml/System.Text.Unicode/UnicodeRange.xml
https://github.com/dotnet/docs/blob/master/xml/System.Text.Unicode/UnicodeRanges.xml

[2017-08-24 13:44] mazong1123 commented on #2919
Do we have a real world example that needs to find the exactly minimal round-trippable precision for a specific number?

It may be worthwhile to include such numbers as examples.

It would be good to describe the reason why we choose G17 specifier to guarantee the roundtrip. cc

@rpetrusha who is working on this issue.

[2017-08-24 15:16] rpetrusha commented on #2956
@int19h, you're certainly correct that the documentation is lacking in detail about the comparison. I'll open an issue to add it to the documentation.

[2017-08-24 15:25] rpetrusha opened #2985 "ValueTuple generic types do not specify rules for comparison"
# ValueTuple generic types do not specify rules for comparison

In addition to explicit interface implementations that support a custom comparison method, each generic `ValueTuple` type has a `CompareTo` method that compares the instance with a tuple of that type. However, the rules for comparison are not specified. Since they are specified in the case of the generic Tuple types, they should be do

[2017-08-24 15:43] abelbraaksma commented on #2919
I can think of at least two. My own real-world scenario, writing compilers. Some language specifications require this (in my case XSLT/XPath). The other one being that it is often required to show a number in the shortest form possible. This is also reflected by the need for specifiers like "G" in the first place (which returns a scientific notation or decimal notation, whichever is shorter).

A t

[2017-08-24 18:56] #2956 closed

[2017-08-25 14:41] ibqn commented on #2652
are there any updates of the progress here?

[2017-08-25 18:18] ddrinka opened #2993 "Escaped asterisks are not rendered correctly from Markdown"
Consider this documentation section which uses a number of asterisks: https://docs.microsoft.com/en-us/nuget/consume-packages/dependency-resolution#floating-versions

The author has attempted to escape some of them with backslashes (while some where left mistakenly unescaped).  Github renders these correctly, but the docs renderer does not.

[2017-08-25 19:15] mairaw commented on #2993
@kraigb can you look at this? It's probably due to GitHub using CommonMark spec and OPS not yet.
Should we move this to https://github.com/NuGet/docs.microsoft.com-nuget?

[2017-08-25 19:22] yeremee opened #2994 "Code block is split into several consecutive fragments"
The sample code is split into several consecutive fragments. For example, here: https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/styling-and-templating. The code block looks like:

![code block](https://raw.githubusercontent.com/yeremee/_test/master/2017-08-25_21-43-00.png)

It is very inconvenient.

[2017-08-25 20:06] kraigb commented on #2993
Yes, move this to the issues on the NuGet docs repo.

[2017-08-26 03:21] mairaw commented on #2994
You're right @yeremee. This is due to our migration to docs. Our previous system used to concatenated these pieces of code, like [here](https://msdn.microsoft.com/en-us/library/481765e5-5467-4a75-9f7b-e10e2ac410d9(vs.100)):

![image](https://user-images.githubusercontent.com/12971179/29738239-ea78b826-89d2-11e7-9c91-c09ada37cba1.png)

[2017-08-26 03:27] mairaw commented on #2993
Done. Closing this one.

[2017-08-26 03:27] #2993 closed

[2017-08-26 09:37] doddag commented on #2974
Hi Mairaw

I would like to contribute to this issue, and this would be 1st time i'm trying to contribute.

Do you have any advise for me?
Links / Text referring to CodePlex

[2017-08-26 14:17] yaakov-h commented on #2843
Any news on this? The tooling is out, but the docs haven't been updated yet, which is plain confusing.

[2017-08-28 21:51] rpetrusha commented on #2731
This is published at [What's New in .NET Core 2.0](https://docs.microsoft.com/en-us/dotnet/core/whats-new/). Closing.

[2017-08-28 21:51] #2731 closed

[2017-08-28 21:53] #2796 closed

[2017-08-28 22:48] mairaw commented on #2974
Hi @doddag, this is great! I see that you already submitted a PR. I'll go through it now and leave you feedback. Thank you so much!

[2017-08-29 01:15] Rick-Anderson commented on #2687
https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/lifecycle-of-an-aspnet-mvc-5-application

@amdnaji see https://github.com/aspnet/Docs/issues/3524

[2017-08-29 07:04] mairaw commented on #2843
Apologies on that @yaakov-h. This is coming soon.

[2017-08-29 07:57] mairaw commented on #1935
I'm closing this one @svick . Let me know if this is not resolved for you and we can reopen this. Thanks for reporting this!

[2017-08-29 07:57] #1935 closed

[2017-08-29 08:21] mairaw opened #3015 "New content is missing helpviewer_keywords metadata"
This causes topics not show up in the index for offline books.

[2017-08-29 15:20] #2794 closed

[2017-08-29 17:14] rpetrusha opened #3019 "ValueTuple documentation should discuss serialization"
# ValueTuple documentation should discuss serialization

## General

The documentation should be revised to note that:

- .NET Standard, including 2.0, does not define serialization support for ValueTuples.
- ValueTuples are not serialized in .NET Core 1.x or the .NET Framework 4.7 and earlier.

@ViktorHofer

[2017-08-29 17:21] ViktorHofer commented on #3019
https://docs.microsoft.com/en-us/dotnet/api/system.valuetuple

[2017-08-30 13:29] omajid commented on #2791
Sorry for making noise, but I would appreciate some comments and/or suggestions on how to proceed.

[2017-08-30 14:52] nguerrera commented on #2791
Thanks for pushing on this, @omajid. I'm sorry for not responding sooner.

Adding @KathleenDollard, our new PM, for her thoughts too.

I'm now thinking that it is going to be tough to implement this in a way that is fully automated and does not interfere with the daily flow of documentation writers or CLI developers.

Also, we only got feedback (that I saw) about the bad man pages on the verge of

[2017-08-30 15:15] omajid commented on #2791
Maybe we can handle it async a couple of times every release cycle? In other words, at some point a developer (say, me) can get a heads up from doc folks that the general docs are complete and the dev can sync them?

This might be a chicken and egg problem. I don't think Microsoft binaries include them. I looked through https://www.microsoft.com/net/core#linuxfedora for example and only `dotnet.1`

[2017-08-30 15:24] svick commented on #2791
@nguerrera

I think man pages become more important once .Net Core becomes part of package repositories of distributions.

Right now, to install .Net Core, I have to find a guide like https://www.microsoft.com/net/core#linuxubuntu, which can direct me to the documentation. It also means I have used the browser recently, so I might use it again when looking for documentation.

But once I can just d

[2017-08-31 03:58] nguerrera commented on #2642
As part of this, the documentation for BaseIntermediateOutputPath needs to indicate that it must not be set in the body of a `<Project Sdk="Microsoft.NET.Sdk">`. See https://github.com/dotnet/sdk/issues/1518#issuecomment-324638682

[2017-08-31 21:17] mairaw opened #3037 "Document System.Security.Cryptography.CertificateRequest"
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.certificaterequest?view=netcore-2.0

Code comments:
https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs

[2017-09-01 07:52] mairaw commented on #2507
I think it would be good to get this fixed soon @BillWagner.  The page should probably be redirected to https://docs.microsoft.com/en-us/dotnet/csharp. The only issue I see right now is that nowhere we state what C# is like we do in this page. So the paragraph from this topic could probably be the opening paragraph for the C# Guide. Thoughts?

[2017-09-01 16:51] #2454 closed

[2017-09-01 18:11] BillWagner commented on #2507
@mairaw I have a PR for this #2986
I goofed and neglected to reference this issue in the PR. I just updated it for that.

[2017-09-01 22:12] #2507 closed

[2017-09-01 22:45] rpetrusha opened #3043 "Discuss IDisposable and objects with global scope or long lifetimes"
# Revised guidance on objects that implement IDisposable

## General
The "Using an object that implements IDisposable" section of the [IDisposable interface](https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netframework-4.7) and the [Using objects that implement IDisposable](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/using-objects) topics discuss IDispos

[2017-09-02 15:39] alfredmyers commented on #3043
On the subject of "objects that have lifetimes that are longer than a single method", there are those:
1. Who are scoped to a single class.
2. Who's scope leaks beyond the class where it was created.

The first case can be mitigated using the [Dispose Pattern](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/dispose-pattern)
The second one is a case of transfering of ownership. W

[2017-09-02 23:37] MichaelSL opened #3048 "Documentation page for Comparison<T> doesn't show return value information"
# Documentation page for Comparison<T> doesn't show return value information

The documentation page doesn't contain the information that is present in [document](https://github.com/dotnet/docs/blob/master/xml/System/Comparison%601.xml) in this repository.

# General

Here is what i have in Chrome Version 60.0.3112.113 (Official Build) (64-bit)

Several sections of what we have in the [document](h

[2017-09-03 17:48] KathleenDollard commented on #2791
My thoughts?

We should do this.

What? Still working on. Have a call to my favorite Linux folks later today.

At least ifno on the level of –help, which is also on my radar to see improved, and a docs link.

We’re cross platform as an org. I’ll work with docs to see what they think that should mean.

Kathleen

From: Nick Guerrera [mailto:notifications@github.com]
Sent: Wednesday, August 30, 2017

[2017-09-05 16:40] BillWagner commented on #3048
@MichaelSL Thanks for spotting this. It also affects other generic delegate types (like `Predicate<T>`. We've filed an internal bug to fix the API reference generation process.

[2017-09-05 16:56] BillWagner commented on #1785
@KathleenDollard Where in the backlog for the CLI is support for `dotnet new NUnit`?  We'll move this issue to the milestone that matches that addition.

[2017-09-05 17:03] mairaw commented on #2683
@JRAlexander we're moving issues to either September or October/Quarter 4. Any idea when you'll get this one done? Thx!

[2017-09-05 17:07] BillWagner commented on #762
There is good source material here on the [corefx wiki](https://github.com/dotnet/corefx/wiki/ApiCompat)

[2017-09-05 17:08] mairaw commented on #2827
@stevewhims can you look at this issue? Thanks!

[2017-09-05 17:13] mairaw commented on #2821
Might be done as part of #2642. The new topic for 7.1 already mentions this.

[2017-09-05 17:23] mairaw commented on #2730
Closing this one since .NET Core 2.0 and .NET Standard 2.0 assemblies were updated for the release.

[2017-09-05 17:23] #2730 closed

[2017-09-05 17:34] mairaw commented on #2720
@rpetrusha This is already in progress. Do you know if we have any more VB topics planned or updates we need to make? I'm guessing we should review where we mention csproj to use a generic project file term.

[2017-09-05 17:38] mairaw commented on #2716
@CamSoper would this be something you'd cover?

[2017-09-05 17:39] CamSoper commented on #2716
@mairaw Yes, please!

[2017-09-05 17:43] mairaw commented on #2697
Duplicate of #2732

[2017-09-05 17:43] #2697 closed

[2017-09-05 18:23] mairaw opened #3059 "Updates to .NET Core deployment topics for 2.0"
We have the following LiveFyre comments for the topic https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli:
- Process is slightly different for core 2.0. Is there a separate series of docs for core 2.0?
- Do you know how it is different? My self-contained app is having issues running, after publish, after upgrading to 2.0. Problems loading 'System.Net.Http.Native' or one of its d

[2017-09-05 20:08] stevewhims commented on #2827
Yes, I'll take a look. :)

[2017-09-05 23:30] mairaw commented on #2821
Also re. your question:

I haven't seen that. Adding @livarcocc and @nguerrera to help with that.

[2017-09-05 23:42] mairaw commented on #2716
Cool @CamSoper. How do you track work items in your world then? 😄
Should we move this issue somewhere?

[2017-09-05 23:46] CamSoper commented on #2716
I will track it however you track it  I think I need an education.  😊

-- Cam

From: Maira Wenzel<mailto:notifications@github.com>
Sent: Tuesday, September 5, 2017 6:43 PM
To: dotnet/docs<mailto:docs@noreply.github.com>
Cc: Cam Soper<mailto:Cam.Soper@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/docs] [Scenario] Deploying ASP.NET Core apps into Azure web apps (#27

[2017-09-06 13:04] kaabahmed10p commented on #2652
Do we have any ETA for this task?

[2017-09-06 15:34] nokura opened #3068 "# Unrecognized character "�"; "
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2017-09-06 16:06] JRAlexander commented on #2652
@kaabahmed10p - I am working on it now and intend to have it finished within the next few days.

[2017-09-06 18:35] rpetrusha commented on #3068
@nokura, can you point to one or more topics that have the unrecognized character?

[2017-09-06 18:43] BillWagner commented on #3068
@nokura had sent email offline for those topics. PR #3069 fixes this.

[2017-09-06 20:27] pieandcakes opened #3071 "Links on page don't seem to be working - Marshaling data with COM interop"
# Issue Title
Links on page don't work - Link: https://github.com/dotnet/docs/blob/master/docs/framework/interop/marshaling-data-with-com-interop.md

## Issues with Existing Topics

The links in the page point back to msdn articles which don't exist.

[2017-09-06 20:28] pieandcakes commented on #3071
The "In this section" and below don't seem to be working.

[2017-09-06 21:58] rpetrusha commented on #3071
@pieandcakes, thanks for opening this issue. These topics are archived on MSDN, so links to them need to reference to exact archived version. We'll open a PR to fix the links so that they lead to the correct MSDN pages.

[2017-09-06 22:27] mairaw commented on #3071
The In This Section links should also be updated to reflect what exactly shows up in the section, So in some cases, the topics could either be removed or moved to the related sections

[2017-09-07 02:24] #3068 closed

[2017-09-07 07:43] mairaw commented on #844
@JRAlexander you moved this to done in the project. Should we close the issue too?

[2017-09-07 15:49] tdykstra commented on #2716
I would use an issue in the aspnet/Docs repo to track this as an ASP.NET Core topic, but since we would publish it on the Azure site we'd want something tracking it there too.  cc @SyntaxC4 @cephalin

[2017-09-07 16:04] tdykstra commented on #2716
In the aspnet/docs repo see https://github.com/aspnet/Docs/issues/2800

[2017-09-07 17:14] zivkas opened #3081 "TimeSpan.Parse behavior not aligned with MSDN documentation"
## Issues with Existing Topics
TimeSpan.Parse has a bit of an odd behavior where if you do TimeSpan.Parse 23:00:00 you get 23 hours and if you do the same with 24:00:00 you get 24 **days**.
You can run this code:

        static void Main(string[] args)
        {
            TestTime("23:00:00");
            TestTime("24:00:00");
        }

        private static void TestTime(string timeSpanStr)

[2017-09-07 18:21] #3071 closed

[2017-09-08 06:11] mairaw opened #3093 "Messy samples due to migration"
https://docs.microsoft.com/en-us/dotnet/framework/wpf/app-development/structured-navigation-overview

Livefyre comment: the code snippets on this page are a mess, it's so hard to read with the code and a bunch of closing braces switching languages back and forth. Just do two blocks, one for each language and call it a day

This is due to multiple migrations. This is how this was shown before:
http

[2017-09-08 06:52] mairaw opened #3094 "Verbatim interpolated strings are missing in the Interpolated Strings topic"
URL: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings

This was identified by a LiveFyre comment.

Spec contains the info about them: https://github.com/dotnet/csharplang/blob/master/spec/lexical-structure.md#interpolated-string-literals

/cc @BillWagner

[2017-09-08 06:55] mairaw commented on #3094
I'd also add that the topic doesn't indicate when that feature was introduced. Should it?

[2017-09-08 08:02] paulomorgado commented on #3094
Yes!

[2017-09-08 16:03] karelz commented on #2983
@krwq @tarekgh would you be the right owners? It seems related to `System.Text.Encoding`.

[2017-09-08 16:05] karelz commented on #2982
@joperezr @AlexGhiondea can you please help with these docs?
cc @danmosemsft

[2017-09-08 16:07] karelz commented on #2983
It seems to be new API in .NET Core 1.0. Not present on Desktop at all.
https://apisof.net/catalog/System.Text.Unicode

[2017-09-08 16:08] karelz commented on #2982
Note: This is new API in .NET Core 1.0 (not present in Desktop): https://apisof.net/catalog/System.Runtime.Loader

[2017-09-08 16:13] tarekgh commented on #2983
These are part of the library System.Text.Encodings.Web.dll.

@KrzysztofCwalina why we chose the System.​Text.​Unicode namespace? is it because more generic types defined there?

[2017-09-08 16:15] tarekgh commented on #2983
@karelz what is the ask here? I think the issue is just tracking documenting these types. but in general @krwq and myself are the owners now :-) of course @KrzysztofCwalina can help with questions too.

[2017-09-08 16:21] karelz commented on #2983
The ask is to create documentation for the namespace -- currently we have none. @mairaw and her team can help to polish it, but they need content to start with from area experts (us) :).
Makes sense?

[2017-09-08 16:22] karelz commented on #2983
cc @danmosemsft

[2017-09-08 20:38] mairaw commented on #3081
@rpetrusha wanna take a look at this one?

[2017-09-08 22:50] #2843 closed

[2017-09-08 22:59] #2827 closed

[2017-09-09 00:08] rpetrusha commented on #2919
I've opened PR #3101 to change the recommended format string for round-tripping from "R" to "G17".

Determining the minimal exact representation is outside the scope of the [Standard Numeric Format Strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings) topic, @abelbraaksma. If you feel strongly that you'd like one to be published, please open a separa

[2017-09-10 12:41] nightroman opened #3108 "F# Compiler Options: incorrect information about <output-filename> for -a and --target"
https://github.com/dotnet/docs/blob/master/docs/fsharp/language-reference/compiler-options.md

    -a**<output-filename>**
    Generates a library and specifies its filename. This option is a short form of --target:library**<filename>**.

    --target:[exe | winexe | library | module ] <output-filename>
    Specifies the type and file name of the generated compiled code.
    ...

I think `<output-

[2017-09-11 03:59] danmosemsft opened #3111 "ProcessStartInfo.UseShellExecute documentation should note that on .NET Core default is *false*"
@vanillajonathan commented on [Sat Sep 09 2017](https://github.com/dotnet/corefx/issues/23913)

The documentation for the `UseShellExecute` property in the `ProcessStartInfo` class states the following:

This seems to be inconsistent with the actual behavior.

[code]

Which prints out:

Reference:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Pr

[2017-09-11 05:59] paulomorgado commented on #3094
There are character encoding issues in [this line](https://github.com/dotnet/docs/blob/03d1e3f0897713e25be7d7f893861a3eb4dac211/samples/snippets/csharp/language-reference/keywords/interpolated-strings2.cs#L65).

[2017-09-11 18:34] mairaw commented on #3111
@danmosemsft so is the default false to all .NET Core implementations, right?

It also seems we should document that this API throws PlatformNotSupportedException for [UWP](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Uap.cs#L16). Correct?

Also, I'm wondering how we can better track changes that have doc impact. Maybe the issu

[2017-09-11 19:12] #1253 closed

[2017-09-11 20:04] tarekgh commented on #2983
@mairaw let's know who is going to work on this issue from your side and we can arrange to give all needed information about this topic.

[2017-09-11 20:09] mairaw commented on #3108
@cartermp can you take a look at this issue?

[2017-09-11 20:27] #2701 closed

[2017-09-11 20:28] mairaw commented on #2693
Do we have an issue in the aspnet/docs too or just here @JRAlexander?

[2017-09-11 20:30] mairaw commented on #2692
Ping @JRAlexander

[2017-09-11 20:31] mairaw commented on #2685
We're still waiting for the new diagram. Beth and co are still discussing this,

[2017-09-11 20:33] BillWagner commented on #2683
@JRAlexander Rather than documenting all the Docker commands, I think we should list common commands, and link to the Docker documentation. https://docs.docker.com/

[2017-09-11 20:39] mairaw commented on #2623
@AlexGhiondea @joperezr can you guys help with this one?

[2017-09-11 20:42] scottaddie commented on #2693
For anything Docker-related in ASP.NET Core that John isn't already working on, feel free to create an issue and assign to me. I don't see any issues there right now.

[2017-09-11 20:43] mairaw commented on #2566
@AnthonyDGreen sorry for missing your response earlier. The docs now cover multiple versions and we have versioning coming soon. Was this feature removed from VS 2017? If so, we can add something to that extent on the topic to say it's no longer supported.

[2017-09-11 20:47] joperezr commented on #2623
@tarekgh who is more familiar with DateTime class, do you mind checking the questions above?

[2017-09-11 20:55] danmosemsft commented on #3111
@mairaw yes default false on all .NET Core implementations. PNSE on UWP.

There are other limitations to document for UWP of course. A high level list is at : https://github.com/dotnet/corefx/wiki/UWP-Compat

This is a superset of the .NET Core list at https://github.com/dotnet/corefx/wiki/ApiCompat which I believe you and Paulo have discussed documenting.

[2017-09-11 20:57] mairaw commented on #763
@twsouthwick @richlander who should we talk to to get this one done?

[2017-09-11 20:59] mairaw commented on #761
@bartonjs the link doesn't exist anymore. Any other sources for us to get started with this issue?

[2017-09-11 21:03] bartonjs commented on #761
Rich moved it to https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md

[2017-09-11 21:18] mairaw commented on #2983
@rpetrusha you usually own things under System.Text. Can you work with @tarekgh on this one?

[2017-09-11 21:42] tarekgh commented on #2623
Looking at Windows documentation for the APIs we call to get the system time https://msdn.microsoft.com/en-us/library/windows/desktop/ms724397(v=vs.85).aspx is not mentioning the exact resolution. so, I think we don't need to specify specific numbers here as this may differ from one OS to another. Keeping the statement ```The resolution of this property depends on the system timer``` and we can ad

[2017-09-11 21:50] svick commented on #2623
Would giving at least a rough idea of what the resolution tends to be make sense? E.g.:

[2017-09-11 21:53] tarekgh commented on #2623
what @svick mentioned looks reasonable to me.

[2017-09-11 21:53] mairaw commented on #3111
Thanks @danmosemsft! Yes, @pjanotti and I started discussing this but haven't finalized a plan yet.

[2017-09-11 22:03] pjanotti commented on #3111
@mairaw small aside: on Windows Nano it is possible to set this property to `true` but the Process.Start() will throw PNSE.

[2017-09-11 23:22] svick opened #3118 "Remaining incorrectly migrated enum field references"
In https://github.com/dotnet/docs/issues/1932, I reported an issue where a reference that should be to an `enum` field was to the `enum` itself instead due to an incorrect migration. That was seemingly fixed, but it looks like not all instances of this issue were fixed. Specifically this line:

https://github.com/dotnet/docs/blob/ae49e14b9b5959f7b4a0aacdd1ccf7890afcdd09/xml/System/DateTime.xml#L70

[2017-09-12 01:27] mairaw commented on #3118
Internal bug opened to track this: [#1077940](https://mseng.visualstudio.com/CSI/_workitems?id=1077940&_a=edit&triage=true)

[2017-09-12 02:00] mairaw commented on #2468
I've asked Khairun to run a new report for us on this.

I think that topics under https://github.com/dotnet/docs/tree/master/docs/standard/microservices-architecture don't show up in the report since they're not exactly the same but they should eventually be fixed as well @BillWagner.

[2017-09-12 15:54] kendrahavens commented on #462
Yes, I think it'd be a very good one to add in the scenario based guidance after the more general docs are landed on "Intro to .NET & Docker", ".NET Docker Images", and the "golden path" ASP.NET app in VS guidance.

[2017-09-12 18:12] AnthonyDGreen commented on #2566
It was in VS2008-2013. In VS2015 when we rewrote everything for Roslyn we cut it for time reasons and would like to add it back but it hasn't risen above the cut line.

[2017-09-12 18:25] Pilchie commented on #2566
To be clear - I've heard exactly one customer even notice this so far, so I don't see it rising above the cut line any time soon.

[2017-09-12 18:29] mairaw commented on #2566
Ok, I'll remove the page then since it's pre-VS 2015. Thanks for your input @AnthonyDGreen and @Pilchie.

[2017-09-12 21:16] danroth27 commented on #2693
We have a bunch of docker content already: https://docs.microsoft.com/en-us/aspnet/core/publishing/docker. What would this cover that isn't already covered?

[2017-09-12 21:50] mairaw commented on #2693
Not sure if we need new ones. @JRAlexander and @kendrahavens can probably comment on this.

However, folks seem to be complaining that the topic linked from the ASP.NET TOC (https://docs.microsoft.com/en-us/azure/vs-azure-tools-docker-hosting-web-apps-in-docker) is outdated. @mlearned seems to be the author of that. @CamSoper would you be the one responsible for updating that one? (The topic also

[2017-09-13 00:45] #2713 closed

[2017-09-13 01:04] BillWagner commented on #942
Closing this as the get started experience will change in the next major rev of the C# Guide.

[2017-09-13 01:04] #942 closed

[2017-09-13 01:07] BillWagner commented on #943
Closing this.

It doesn't fit the new organization of the C# guide, the two PRs that are part of the discussion have been merged.

[2017-09-13 01:07] #943 closed

[2017-09-13 01:08] BillWagner commented on #944
This task isn't consistent with how the new C# Guide will be organized. Closing.

[2017-09-13 01:08] #944 closed

[2017-09-13 01:09] BillWagner commented on #945
Closing as this won't follow the updated organization of the new C# Guide.

[2017-09-13 01:09] #945 closed

[2017-09-13 01:09] BillWagner commented on #946
Closing as this won't match the new organization of the C# Guide.

[2017-09-13 01:09] #946 closed

[2017-09-13 01:17] BillWagner commented on #968
This doesn't match the updated plans for the C# Guide. Closing.

[2017-09-13 01:17] #968 closed

[2017-09-13 01:17] BillWagner commented on #969
This doesn't match the updated plans for the C# Guide. Closing.

[2017-09-13 01:17] #969 closed

[2017-09-13 01:19] BillWagner commented on #970
This doesn't match the updated plan for the C# guide. Closing now.

[2017-09-13 01:19] #970 closed

[2017-09-13 01:20] BillWagner commented on #971
Closing this as it doesn't fit the updated C# Guide.

[2017-09-13 01:20] #971 closed

[2017-09-13 01:27] zhenlan opened #3132 "Official documentation on docs.microsoft.com says that no WCF types exist in netcore"
@evil-shrike commented on [Fri Aug 25 2017](https://github.com/dotnet/wcf/issues/2235)

Docs (https://docs.microsoft.com) says that no any WCF exists in .net core!

Just an example: https://docs.microsoft.com/ru-ru/dotnet/api/system.servicemodel.channelfactory?view=netframework-4.7&viewFallbackFrom=netcore-2.0

I understand that server-side WCF isn't implemented on netcore. But client types does e

[2017-09-13 14:52] BillWagner opened #3134 ".NET Core unit testing content should include using an EmbeddedFileProvider"
From a LiveFyre comment:

I want to use embedded text files with data for my unit tests. Please post a concrete example using EmbeddedFileProvider for this purpose.

[2017-09-13 17:16] mairaw commented on #3132
Thanks @zhenlan. I think this is related to a discussion I was having with @davidfowl and @terrajobst on adding OOBs and other APIs that come from NuGet packages.

We should discuss how we want to address these, @dend.

[2017-09-13 18:03] zhenlan commented on #3132
Thanks for following up @mairaw! Can you please clarify what you mean by "OOBs"? I just want to point out that although WCF lives in a separate repo [dotnet/wcf](https://github.com/dotnet/wcf) than [dotnet/corefx](https://github.com/dotnet/corefx), it is considered part of .NET Core (they are versioned the same way, released at the same time etc.).

[2017-09-13 18:30] #2623 closed

[2017-09-13 20:48] guardrex commented on #2642
Cross ref (might be good to include something on **\<RunWorkingDirectory>**): https://github.com/aspnet/websdk/issues/238

[2017-09-13 21:40] mairaw commented on #3132
What we currently have in the docs is a result of the reflection of .NET Core reference assemblies that was given to us by @weshaggard, which is supposed to represent shared framework + corefx. If I look at the API Catalog for the API you posted above, that API is not listed as .NET Core 2.0 but as Platform Extensions.

The other example was for https://github.com/dotnet/core-setup/tree/master/src

[2017-09-14 01:22] kendrahavens commented on #2693
If a user want to learn how to Dockerize a .NET Core or ASP.NET Core app and they landed here: [https://docs.microsoft.com/en-us/aspnet/core/publishing/docker]( https://docs.microsoft.com/en-us/aspnet/core/publishing/docker). They would probably click on this link: [Building Docker Images for .NET Core Applications](https://docs.microsoft.com/dotnet/articles/core/docker/building-net-docker-images)

[2017-09-14 01:22] kendrahavens commented on #2652
Let's remove the "What is Docker topic?" this can be found and linked to from [https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/container-docker-introduction/docker-defined](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/container-docker-introduction/docker-defined). @JRAlexander If you've already started on it it may be helpful to do a PR to

[2017-09-14 02:34] zhenlan commented on #3132
If API Catalog does not list WCF APIs as .NET Core 2.0, that's an error too. It's probably because of the same reason that WCF binaries were not provided to API Catalog.

@weshaggard can you please suggest/clarify?

[2017-09-14 02:43] mairaw commented on #1103
With the new API docs in place, this issue has been resolved.
Version 2.0 shows the property and older versions give you a warning that the requested page is not available for .NET Core 1.0 or 1.1.

For example:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.verbs?view=netcore-2.0
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.verbs

[2017-09-14 02:43] #1103 closed

[2017-09-14 02:51] #844 closed

[2017-09-14 16:06] rprouse commented on #1785
@KathleenDollard or @BillWagner is there an issue tracking `dotnet new nunit`? Can we help out?

[2017-09-14 17:56] weshaggard commented on #3132
Yes that is exactly correct @zhenlan while WCF can be considered part of .NET Core it does ship as an individual package and so it is an OOB in that sense. When I think of ".NET Core 2.0" I think of the shared framework and anything that is above that is an OOB that can support .NET Core 2.0. We should definitely try to figure out how to pull WCF into the documentation and APICatalog though. I'm n

[2017-09-14 18:00] mairaw commented on #3132
I have a thread going about the DependencyModel API already, let me add you to that and we can try to sort this out.

[2017-09-14 18:20] JRAlexander commented on #462
Yes, in fact, I think the current images article can be modified exactly in this way.

[2017-09-14 18:25] JRAlexander commented on #2683
@BillWagner Agree!

[2017-09-14 18:28] JRAlexander commented on #2683
@mairaw I am working on this concurrently with the Intro.

[2017-09-14 18:30] JRAlexander commented on #2692
@mairaw - Yes, It's external for us and really should be here only for tracking purposes.

[2017-09-14 23:00] mairaw commented on #1850
They now changed to one level:
https://docs.microsoft.com/en-us/dotnet/api/system.io.ports.serialport.-ctor?view=netframework-4.7

I still think they should have just kept the word constructors and not add the type name in that entry. It looks noisy with long type names:
![image](https://user-images.githubusercontent.com/12971179/30459472-bd29ec30-9965-11e7-86e0-d90d9f5c018c.png)

What do you guys

[2017-09-15 00:43] mairaw commented on #2229
This issue has been fixed. Please verify @svick.

[2017-09-15 01:29] mairaw commented on #1785
Tagging some other folks to see if we have an issue tracking `dotnet new nunit`

/cc @livarcocc @mlorbetske @sayedihashimi

[2017-09-15 05:14] mairaw commented on #1849
@svick I know this is way older than #3132, but they seem to be regarding the same issue. Is it ok to close this and track that issue on that one?

[2017-09-15 05:20] mairaw commented on #320
Internal tracking bug: [1039115](https://mseng.visualstudio.com/CSI/_workitems?id=1039115&_a=edit&triage=true)

[2017-09-15 05:23] mairaw commented on #547
@joelmartinez @dend is this being tracked as part of future improvements to mdoc? Ability to show different inheritance, different signature, etc.?

[2017-09-15 05:38] mairaw commented on #960
Thanks for confirming @mendhak. Closing the issue then. Page has changed since then to https://www.microsoft.com/net/core#linuxubuntu as well due to the 2.0 release.

[2017-09-15 05:38] #960 closed

[2017-09-15 07:23] mairaw commented on #3093
@yishengjin1413 generated a list of topics that would concatenate code blocks before.

See file attached:
[filelist.txt](https://github.com/dotnet/docs/files/1305579/filelist.txt)

[2017-09-15 13:54] svick commented on #1849
@mairaw Of course. If it was up to me, I would probably choose the older issue or the more general one and this is both. But it's not. 🙂

[2017-09-15 14:39] mairaw commented on #1849
Yes, that's usually my approach. It's just we got the attention of the dev team on that one, so it will help move things. I'll make that one more generic. Thanks for your understanding.

[2017-09-15 15:05] svick commented on #1850
@mairaw I agree. It's better this way, but it would be even better without the type name.

[2017-09-15 15:13] svick commented on #2229
Yeah, seems to be fixed, closing.

[2017-09-15 15:13] #2229 closed

[2017-09-15 15:14] mairaw commented on #1850
I'll keep this one open then until that is fixed. I'll need to open a new separate request for them.

[2017-09-15 17:53] JRAlexander commented on #2693
@danroth27, @scottaddie  - I think the https://docs.microsoft.com/en-us/dotnet/core/docker/visual-studio-tools-for-docker article would satisfy this issue from a VS point of view, but it probably needs to be moved to the asp.net repo, as it's asp.net centric. I don't think it really belongs in it's current location.

[2017-09-15 17:57] JRAlexander commented on #2035
Replaced with Revise Building Docker Images for .NET Core Applications Topic #2652

[2017-09-15 18:09] sayedihashimi commented on #1785
dotnet new has support for installing templates from NuGet. In this case I would think that the NUnit team should author and own their own template.

[2017-09-15 18:27] #2035 closed

[2017-09-15 18:32] JRAlexander commented on #2648
@BillWagner Should this move to the asp.net repo?

[2017-09-15 18:35] JRAlexander commented on #828
@BillWagner It looks like we could close this and replace with an update for 2.0 issue. Am I right?

[2017-09-15 19:11] SteveLasker commented on #828
I recently posted an example for Unit Testing with Multistage dockerfiles:
Repo: https://github.com/SteveLasker/AspNetCoreMultiProject/tree/AddingUnitTests
Example: https://github.com/SteveLasker/AspNetCoreMultiProject/blob/AddingUnitTests/Web/Dockerfile

[2017-09-15 20:33] scottaddie commented on #2693
@JRAlexander I would be okay with your proposed move. We already link to this doc from the **Hosting and deployment/Host in Docker/Visual Studio Tools for Docker** TOC node.

@danroth27 Thoughts?

[2017-09-15 22:41] mairaw commented on #3132
There's also the case brought up by @svick on issue #1849 which I just closed as dupe, which presents a similar scenario. So I'm changing this issue to be more generic than just WCF.

[2017-09-16 01:07] JosefPihrt opened #3156 "Undocumented behaviour of ObsoleteAttribute"
ObsoleteAttribute does not cause error when message is null.

[code]

This behaviour should be documented.

Originally from dotnet/corefx#24062

[2017-09-16 03:19] danroth27 commented on #2693
Yup, I'm fine with that.

[2017-09-18 08:35] encrypt0r opened #3164 "<wbr> tags showing up rendered page"
I don't know if this has anything to do with #1904 or not, but when viewing some pages like [this](https://docs.microsoft.com/en-us/dotnet/api/system.windows.weakeventmanager?view=netframework-4.7#Constructors) or [that](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netframework-4.7#Methods), the <wbr> tags actually show up in the render of the references secti

[2017-09-18 13:28] Styxxy opened #3165 "Documentation VB.NET Tuple Returns incorrect"
Submitted pull request #3166

In the code snippers of the documentation for VB.NET about Tuples, I found a small _error_.

Snippet 3 outputs the original string that is being parsed, rather than the output. It should output the result, as it is also being outputted in snippet 1 (the "original" version, before using the new language features). Another minor thing : the variable name of the "to be p

[2017-09-18 13:37] svick commented on #3165
Do you want to create a Pull Request with these changes?

[2017-09-18 14:30] Styxxy commented on #3165
Currently I cannot sign the CLA, as I first neet to be approved by my company's legal department (which can take a long time). For that, I had to make an issue ticket (because I don't want this "mistake" to be lost).

I'm sorry for the inconvenience.

[2017-09-18 16:20] isaac2004 commented on #2037
@mairaw is this open? I did something similar in aspnet repo so I can take a look here

[2017-09-18 16:22] isaac2004 commented on #787
@mairaw what is the status of this issue? Ongoing?

[2017-09-18 16:23] isaac2004 commented on #2974
@mairaw @doddag is this closed?

[2017-09-18 16:32] isaac2004 commented on #2722
@BillWagner @mairaw is the goal here to simply remove the reference to `dotnet restore` or add a note to every page (13 files total based on a search) that this is no longer required with .Net Core 2.0?

[2017-09-18 16:32] #3165 closed

[2017-09-18 16:34] BillWagner commented on #2722
@isaac2004 I'd prefer adding a note. `dotnet restore` is still a valid command, and there are scenarios (like some CI builds) where doing an explicit restore makes sense.

[2017-09-18 16:40] BillWagner commented on #3165
@Styxxy thanks for submitting PR #3166 and starting the process for the CLA.  That PR was small enough that a CLA wasn't necessary. I've already reviewed and merged it.

[2017-09-18 16:50] isaac2004 commented on #2722
@BillWagner How about adding to this to all the references?

**Note:** As of Dot Net Core 2.0, it is not necessary to run `dotnet restore` becase it is run implicitly as part of `dotnet build` or `dotnet run`. It is still a valid command in certain scenarios where doing an explicit restore makes sense. One example being [continuous integration builds in Visual Studio Team Services](https://www.vis

[2017-09-18 16:52] BillWagner commented on #2722
@isaac2004 Perfect!

[2017-09-18 16:55] isaac2004 commented on #2722
@BillWagner, sweet... expect a PR in about an hour

[2017-09-18 17:28] Styxxy commented on #3165
@BillWagner Thanks! I opened the issue as I thought that I needed a CLA. But I initiated the process anywa for maybe future pull requests.

[2017-09-18 17:52] mairaw commented on #2722
Thanks @isaac2004.

We usually say "Starting with .NET Core 2.0," so it's future-proof.
The other thing I wanted to do is to indicate the dotnet restore is optional in certain tutorials. For an example, see  PR #3170.

[2017-09-18 17:55] isaac2004 commented on #2722
@mairaw should we be adding the note in this issue in ALL docs that reference dotnet restore (so updating the text in #3170)?

[2017-09-18 18:04] mairaw commented on #2722
I think we should look at the context. For the one in #3170, I think it's good as is since that step is really optional in that scenario. Don't think the extra note is necessary for a getting started topic because it might confuse customers that are just starting and not thinking about CI builds yet. I just updated that one now since it was saying 1.1 only instead of 1.x. Makes sense?

[2017-09-18 18:07] isaac2004 commented on #2722
@mairaw yep sure does... I will see what I can do

[2017-09-18 18:09] mairaw commented on #2722
Thank you @isaac2004. Let us know if you have questions.

One thing you can use if you're going to be using the same text for the note is to add it to an include file (https://github.com/dotnet/docs/tree/master/includes) and reference that file from the topics.

https://github.com/dotnet/docs/blob/master/styleguide/template.md#includes

[2017-09-18 18:13] mairaw commented on #2974
No, @isaac2004. @doddag took care of a few hits only so this is still up-for-grabs.

[2017-09-18 18:27] mairaw commented on #787
Let me check on this one @isaac2004. We also changed the guidance to use the xref syntax (`<xref:UID>` instead of `@UID`).

[2017-09-18 18:29] JRAlexander commented on #2693
Cool! I will sync up with @scottaddie on how best to make that happen smoooothly! :)

[2017-09-18 18:29] mairaw commented on #2580
Closing this since we have #2037 tracking this change more broadly.

[2017-09-18 18:29] #2580 closed

[2017-09-18 18:32] mairaw commented on #2037
Yes @isaac2004, still open. If you look at the search results, we still have a lot of those. We've done some automated changes related to this but they didn't take care of everything. It's okay to fix these in small chunks over time as well.

[2017-09-18 18:35] isaac2004 commented on #787
Oh that is what I assumed was being referred to :)

[2017-09-18 18:41] mairaw commented on #787
I think we might have some of these conversions left to do as well from `@` to xref.

The first topics that got manually migrated were actually linking to the APIs with an absolute URL (https://docs.microsoft.com/dotnet/core/api/System.Collections.IEnumerable) as you can see in this commit:
https://github.com/dotnet/docs/commit/cfe65fcba1b3fdc09ffcac704a760d8ce29ea60b#diff-cca8a3e6c48b40ade7f58c2f

[2017-09-18 18:50] mairaw commented on #3164
Thanks for bringing this up to our attention. Not sure if it's related or not. We usually call out the internal bug number when we mark an issue as external and we haven't done that in #1904 unfortunately. I'll open an issue for this immediately.

[2017-09-18 18:56] mairaw commented on #3164
Internal issue opened: [1081828](https://mseng.visualstudio.com/CSI/_workitems?id=1081828&_a=edit)

[2017-09-18 19:41] isaac2004 commented on #2974
@mairaw so what is worse, CodePlex or MSDN code? Some of this stuff is pretty ancient.

[2017-09-18 19:53] omajid commented on #2791
Hi @KathleenDollard , any updates on this? Is there anything I can help with?

[2017-09-18 20:13] mairaw commented on #3156
Thanks @JosefPihrt. @BillWagner will discuss this with the product unit and update this issue accordingly.

[2017-09-18 20:29] mairaw commented on #2982
@joperezr @AlexGhiondea @danmosemsft ping to see who can help us with these new API docs

[2017-09-18 20:40] mairaw commented on #2388
We renamed the CLI commands to not have dashes. I suggest we file individual issues for other changes if there still inconsistencies. Thanks @guardrex!

[2017-09-18 20:40] #2388 closed

[2017-09-18 21:01] BillWagner commented on #3156
I'm looping in @jaredpar and @gafter to make sure we explain this behavior correctly across languages and versions.

[2017-09-18 21:35] guardrex opened #3175 "Make Custom Templates topic sample consistent"
The Custom Templates topic sample isn't consistent with the other templates in the `dotnet-template-samples` repo. Topic work tracked here by this issue. The templates repo work tracked by https://github.com/dotnet/dotnet-template-samples/issues/29.

@mairaw I'll work on this if it's ok with you. I can't really call this a mistake, since the sample wasn't intended to be part of the templates repo

[2017-09-18 22:00] jcouv commented on #3156
Investigating

[2017-09-18 22:08] jcouv commented on #3156
What I observe (see test below) is that `[Obsolete(null, error: true)]` produces a warning rather than an error.
Looking at the code that produces that warning (below), that is by design because of back compat with dev11.

FYI @cston

[code]

[code]

[2017-09-19 10:49] harshjain2 opened #3177 "dotnet test docs doesn't have a section for RunSettings Arguments."
# Issue Title

dotnet test docs doesn't have a section for RunSettings Arguments and --blame on https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore2x

![image](https://user-images.githubusercontent.com/13763032/30588888-1b6267fc-9d56-11e7-993f-215f3afb8f66.png)

cc: @codito @pvlakshm

[2017-09-19 18:04] rachelappel opened #3178 "https://aka.ms/dotnet-install-templates has bad redirect + No "Install templates docs""
Originally opened by @shanselman at https://github.com/aspnet/Docs/issues/4018
Asked to move here per @danroth27

With SDKs backward compatible (without global.json) it possible to create a .NET Core 1.1 application by using the new version, such as
`dotnet new console --framework netcoreapp1.1`
This returns with an error that this is not a valid value for –framework and a link to install addition

[2017-09-19 18:47] mlorbetske commented on #3178
cc @sayedihashimi

[2017-09-19 18:50] mairaw commented on #3178
@sayedihashimi for some reason I can't find that aka.ms link in the tool even though I should have permissions (since when I tried to create it again, it tells me that you and ddfwlink are the owners). It seems that since that issue was created for aspnet/docs, you created a help topic in one of the repos and changed the aka.ms link to that.

We already have a topic that covers custom templates, i

[2017-09-19 20:14] sayedihashimi commented on #3178
@mairaw the end-user will see this error whenever they try to invoke a template which is not installed. One very common case of that is a user trying to create a 1.1 project after installing 2.0. In that case the linked doc is not very helpful. I'd like to link to a page which includes that info since it will be a common case when visiting the link.

[2017-09-19 21:21] mairaw commented on #3178
@sayedihashimi yep, I understand that. What I was proposing is to add that info to that existing doc. Do you agree with that?

[2017-09-19 21:33] oscarvarto opened #3180 "We need better documentation please!"
# dotnet cli needs better documentation (including F# please!)

F# is a "first-class member of .NET" https://docs.microsoft.com/en-us/dotnet/fsharp/
but it is very hard to find the correct way to use dotnet with F#.

# General

I tried with `$ dotnet new console -lang F# -f net462` to use .NET 4.6.2 on mono (also with net461) and I get an error because neither net461 nor net462 are valid values fo

[2017-09-19 22:19] cartermp commented on #3180
The documentation specifies valid values for `-f` [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore2x#template-options).  If you think that `net462` or other values should be added, the correct place to file an issue is the [CLI repository](https://github.com/dotnet/cli).  We'll update the documentation here to reflect the product if a change is made.

Suggestions a

[2017-09-19 22:21] joperezr commented on #2982
Sure, we can help with this, but do note that it might take a while for us to get to it, given the current deliverables we are working on.

[2017-09-19 22:35] sayedihashimi commented on #3178
Sounds good

[2017-09-19 22:41] mairaw commented on #3180
Yes, I was discussing with @KathleenDollard, @mlorbetske and @livarcocc about this one offline after seeing on gitter and suggesting @oscarvarto to open an issue here.

It seems that `--target-framework-override` was left on purpose out of --help and therefore was not included on docs. I'll need confirmation from the CLI team on whether we want to add that or not.

Also, `-f|--framework` is also n

[2017-09-20 04:09] AlexGhiondea commented on #2982
/cc @DnlHarvey who might have more context.

[2017-09-20 22:16] guardrex commented on #3175
btw- This work is blocked by https://github.com/dotnet/dotnet-template-samples/issues/29, so I'll track on that and then solve this issue after the naming scheme is resolved there.

[2017-09-20 22:42] mairaw commented on #3175
Thanks @guardrex. You're way more familiar with that than I am so, of course, I welcome your contribution!

[2017-09-20 23:06] #3111 closed

[2017-09-21 02:39] dend commented on #3164
@mairaw this should be resolved.

[2017-09-21 02:55] mairaw commented on #3164
Yes, it is @dend. Thanks! Closing this then.

[2017-09-21 02:55] #3164 closed

[2017-09-21 18:37] svick opened #3199 "Missing API reference for System.Runtime.CompilerServices.Unsafe"
The .Net Core 2.0 class `System.Runtime.CompilerServices.Unsafe` [does not have any API reference documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.unsafe?view=netcore-2.0). Its methods are listed, but with no explanation about what they do:

![](https://user-images.githubusercontent.com/287848/30712555-b7d10d52-9f0c-11e7-9b6e-24fea9b8912f.png)

[2017-09-21 18:59] svick commented on #3199
What is interesting is that this class has XML documentation ([in a separate file](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml)).

[2017-09-21 19:41] mairaw commented on #3199
We're still adding API docs to docs.microsoft.com. For .NET API reference, we can't automatically load these XML docs in. We'll import that. Thanks!

[2017-09-22 07:48] mairaw commented on #2974
Yes, we have ancient things everywhere. It's a lot of legacy content.

Here's what I would do since CodePlex is shutting down now. For projects that have a new destination on GitHub, I'd change the topics to point to the new destination. For others not moving to GitHub, we could keep linking to them and see what happens when archive comes up in December.

For code, if we need to review that, I'd o

[2017-09-22 16:06] JRAlexander commented on #2813
This article is moving to the ASP.NET repo as part of the .NET Core 2.0 update. This issue will be resolved then.

[2017-09-22 16:06] #2813 closed

[2017-09-22 16:08] JRAlexander commented on #2505
This article is moving to the ASP.NET repo as part of the .NET Core 2.0 update. This issue will be resolved then.

[2017-09-22 16:08] #2505 closed

[2017-09-22 19:53] mairaw commented on #2645
Some info can be found here: https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md

[2017-09-22 22:07] mairaw commented on #1849
Reopening this one. The WCF one will be handled differently.

[2017-09-23 00:13] #2919 closed

[2017-09-23 03:28] mazong1123 opened #3212 "List sample path for each Environment.SpecialFolder field and update the description of the fields target to multiple platforms."
[Current document for `Environment.SpecialFolder`](
https://docs.microsoft.com/zh-cn/dotnet/api/system.environment.specialfolder?view=netcore-2.0) only lists the meaning of each field. There're several problems since .NET Core targets multiple platform:

1. The field description is not accuracy. For instance, `ProgramFilesX86` indicates nothing for Linux and Mac. We need to let user know what plat

[2017-09-23 14:52] danroth27 opened #3215 "Update publishing topic to explain what each of the generated files does"
The [.NET Core publishing](https://docs.microsoft.com/en-us/dotnet/core/tutorials/publishing-with-visual-studio) topic should have some content/pointers on what each of the files generated on publish is for:

* HelloWorld.deps.json
* HelloWorld.dll
* HelloWorld.pdb (optional for deployment)
* HelloWorld.runtimeconfig.json

[2017-09-25 04:45] mairaw commented on #3215
Seems related to #2645

[2017-09-25 17:09] proog opened #3218 "csproj reference lacks detail about SDKs"
The [csproj reference](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#additions) topic lists the two main SDKs that can be specified in the `Sdk` attribute of a `<Project>` element.

While it does have a vague mention of the SDK being a "set of tasks and targets," it does not explain which, and perhaps more importantly does not explain what the consequences of choosing one over the othe

[2017-09-25 18:15] #3132 closed

[2017-09-25 18:34] mairaw commented on #3094
I've fixed the character encoding issue @paulomorgado.

One more thing I think we should add to that topic is showing how you can format your output using interpolated strings. See this PR (#3210) and comment that prompted me to add this here: https://github.com/dotnet/docs.zh-cn/issues/39#issuecomment-331601900. Let me know if you'd prefer a separate issue for this @BillWagner.

[2017-09-25 20:31] mairaw commented on #3212
Thanks @mazong1123. This is an issue across our entire set that we need to address over time. See related issue #2028.

[2017-09-25 20:39] mairaw commented on #3177
@harshjain2 can you run dotnet --version and tell me which version of the SDK you're running? Thanks!

[2017-09-25 20:50] mairaw commented on #3215
@rpetrusha are you also going to cover #2645 as part of this?

[2017-09-25 22:20] rpetrusha commented on #3215
@mairaw, no, I wasn't planning to; I was just going to add a list of the generated files and what they're for to this tutorial. runtimeconfig.json probably merits a standalone topic.

[2017-09-26 07:11] mairaw commented on #3048
@MichaelSL this should be resolved now. Please verify.

[2017-09-26 09:26] MichaelSL commented on #3048
Looks OK now! I’m closing the issue.

[2017-09-26 12:32] mstaessen opened #3229 "The asterisk character (*) is treated differently depending on the body section and escaping does not seem to help"
The * character does not end up in the output when appearing mid-text. Escaping does not seem to resolve it. In a "note"-section though, the asterisks seems to appear just fine in the output.

Evidence:

https://github.com/dotnet/docs/blob/81117b1419c2a9c3babd6a7429052e2b23e08a70/xml/System.IO/Directory.xml#L781

is translated into

[code]

But in the note below:

https://github.com/dotnet/docs/bl

[2017-09-26 16:59] jittrfunc opened #3232 "There are multiple typos in f# signatures chapter"
There were a few typos in f# signatures chapter. E.g. the type alias while declaring member functions within Type2 was different within the same type. A few other minor typos were also present. I have created a pull request #3231 for fixing the same. Please review the changes and pull in if satisfactory.

[2017-09-27 00:58] BillWagner opened #3239 "Update language reference for private protected"
C# 7.2 adds `private protected` access.

The spec for the feature is [on the csharplang repo](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/private-protected.md)

Sub-Tasks:

- [x] Update the access modifiers to include `private protected`
- [x] Update the F1 destination pages for `private`, `protected`, and `internal` to include links for the two word combinations

Detail

[2017-09-27 01:10] BillWagner opened #3240 "Update language reference for non-trailing named arguments"
C# 7.2 adds support for non-trailing named arguments.  The feature spec is on the [csharplang repo](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/non-trailing-named-arguments.md)

We need to update the content for named arguments to include the support for non-trailing named arguments.

@jcouv is the C# team contact for this featuer.

[2017-09-27 01:28] BillWagner opened #3241 "Create new topics for ref features in C# 7.2"
Bundling these features together because the explanation and the discussion will encompass all of them.  The related features are:

- [ref readonly parameters and returns](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/readonly-ref.md)
- readonly struct
- [stackalloc span](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/span-safety.md)
- ref extensions

[2017-09-27 01:41] BillWagner opened #3242 "New compiler option: Strong name provider"
More details coming. This has not been merged to master yet.

[2017-09-27 01:43] BillWagner opened #3243 "Create "What's new in C# 7.2" topic"
After the detailed topics for C# 7.2 are created, create the 'what's new' topic to point to the other additional features.

[2017-09-27 13:05] paulomorgado commented on #3094
I think it's important to add interpolated verbatim strings to the article.

[2017-09-27 14:41] BillWagner opened #3246 "update numeric literals topic for leading underscores"
non-decimal integer literals can now have leading underscores.

For example, `0x_ff` is valid in C# 7.2

/cc @gafter

[2017-09-27 15:46] BillWagner opened #3249 "How to: Show how to see if a type is serializable"
PR #3225 explains the rules for serialization support for `System.ValueTuple` types. The comments include a quick description of how to check if a given implementation of .NET Standard supports binary serialization.

We should have an example and show readers how to do it.

/cc @rpetrusha

[2017-09-28 01:13] mairaw commented on #3229
Hi @mstaessen, thanks for reporting this issue. It seems an issue with our migration logic that didn't escape those asterisks when the content was converted to Markdown. But why do you say that escaping them doesn't resolve the issue? I'll create a test PR to see the results.

/cc @wh-alice @yishengjin1413

[2017-09-28 02:01] mairaw commented on #3232
Thanks for noticing that and fixing as well @jittrfunc. Since the PR was merged, I'm closing this one.

[2017-09-28 02:01] #3232 closed

[2017-09-28 04:31] mairaw commented on #3229
My test PR #3259 indicates that escaping the stars would fix the issue:
![image](https://user-images.githubusercontent.com/12971179/30949443-3fa080a6-a3cb-11e7-9c1f-f8a4ed20b9f5.png)

[2017-09-28 16:31] mstaessen commented on #3229
The reason I suspected that escaping was not working came from comparing source code of the docs and current state of the currently published doc page.

* "*t" => "t"
* "s\*" => "s\"
* in the note: "*.txt" => "*.txt"

That did not seem consistent. However your version seems to produce the correct result.

[2017-09-28 18:16] mairaw commented on #3229
I've opened an internal bug to track this. Maybe we can a data fix applied. [#1088347](https://mseng.visualstudio.com/CSI/_workitems?id=1088347&_a=edit&triage=true)

[2017-09-29 00:41] BillWagner opened #3273 "Update C# Guide index page"
The landing page should be updated as each major section is added to the C# Guide. It must continue to serve as a hub that directs readers to the correct content.

[2017-09-29 00:47] BillWagner opened #3274 "Create the C# Guide Overview index page"
This new page will be formed from the existing "Tour of C#" introductory page. It should include the opening, up to "Hello World", and the links following the sample.

The content from "Introduction to C# and .NET" topic under Getting Started needs to be moved to the "Overview" section and updated in the following ways:
1. Cross platform and .NET Core.
1. New workloads (mobile, web jobs, unity)
1.

[2017-09-29 01:02] BillWagner opened #3276 "Move the "Hello World" section from Tour of C# to the new Overview section"
This new page will take the updated "Hello World" section from the Tour of C#

[2017-09-29 01:34] BillWagner opened #3277 "C# Quick Start index: Add links to relevant "Getting Started" content"
The C# tutorial section contains links to several "getting started" topics under the .NET Core guide. Those should be added to the C# Quick Starts index page:

[2017-09-29 01:37] BillWagner opened #3278 "Create the "build your own environment" quick start"
This new topic follows the interactive quick starts. Readers will learn to install VS Code and .NET Core. They will validate the installation by creating a first console application.

[2017-09-29 01:42] BillWagner opened #3279 "Quick Start: Arrays and Collections"
This new topic will teach readers the basics of arrays and sequence collections. This quick start runs locally on the reader's computer.

The programming guide contains topics on arrays and collections. Some of that can be repurposed here.

[2017-09-29 01:49] BillWagner opened #3280 "Quick Start: Introduction to Classes"
The final quick start provides an introduction to classes and their members.

Many topics in the Programming Guide contain content that can be repurposed for this quick start.

[2017-09-29 14:50] jdk339 commented on #2652
How's the progress here? I still cannot figure out how to get an app on .NET Core 2.0 to run properly in Docker. These docs would be much appreciated.

[2017-09-29 20:31] #3094 closed

[2017-09-29 20:54] mairaw opened #3285 "Add info about how to format console output using interpolated strings"
Topic: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/interpolated-strings

One thing I think we should add to the topic (or to a new topic?) is showing how you can format your output using interpolated strings. See this PR (#3210) and comment that prompted me to add this here: dotnet/docs.zh-cn#39 (comment).

[2017-09-30 16:31] tandasat opened #3291 "\b used instead of \n in host.cpp"
In samples/core/hosting/host.cpp, `\b` is used instead of `\n` around line 168.
[code]
Because of this error, this and next output are displayed into one line unintentionally.

[2017-09-30 22:07] garg000dhruv commented on #3240
I can take this one if it's still up for grabs.

[2017-09-30 22:58] BillWagner commented on #3240
@garg000dhruv It's still up for grabs. Go ahead and take it.

Here's where the current topics on named and optional arguments are: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/named-and-optional-arguments#named-arguments

As you start, open a PR, and add '[WIP]' (for Work in Progress) to the title. I'll review drafts, but won't merge or do a formal review un

[2017-10-01 06:34] asaf400 opened #3293 "offline / on-premise build compatibility non-existent"
# Issue Title

In the current state, both the 'master' and 'live' branches are broken in respects to building the docs in HTML form, for later use in an offline on-premise enterprise network, for use of enterprise developers

My plan as a DevOps engineer in my enterprise was to build this docs repo, compress it and deploy it in my organization using a simple production web server like ngnix or htt

[2017-10-01 07:15] garg000dhruv commented on #3240
@BillWagner This'll be my first contribution here. So if I do something off-script or wrong, please let me know. I'd like to help out as much as I can since these docs are crucial to my day-job at MS.

[2017-10-01 17:53] mairaw commented on #2508
@BillWagner @LadyNaggaga apparently that content set is now retired and the page redirects to a download page. Should we redirect that page to quick starts already? I think it would be good to start getting that SEO juice the old page has.

@ghogen do you know when the vs.71 version was retired? Maria and I were looking at those tutorials online not long ago.

[2017-10-02 05:18] kaabahmed10p commented on #2652
I was able to build an image for deployment using this URL: https://docs.docker.com/engine/examples/dotnetcore/

[2017-10-02 08:12] ItsPugle commented on #2037
Should this be closed now, since #3282 basically resolved this?

[2017-10-02 08:15] ItsPugle commented on #2974
Hey @mairaw,

Getting a lot of questions on this one! Got another one for you though: Is this still open, or is their someone actively working on this? I'm looking for a little documentation project so yeah :)

If you don't have an active contributor on this, do you want the links completely removed, or updated to a respective GitHub etc link?

[2017-10-02 11:27] isaac2004 commented on #2037
@ItsPugle this is a pretty large issue. I have been working through it but it will take a ton of time.

[2017-10-02 11:28] isaac2004 commented on #2974
@ItsPugle I have been working on this one, but could use the help!

[2017-10-02 15:08] BillWagner commented on #3241
Updated specs can be found here:

https://github.com/dotnet/csharplang/tree/master/proposals/csharp-7.2
https://github.com/VSadov/csharplang/blob/RefSpanDesignChoices/proposals/RefReadonlySpanDesignChoices.md

[2017-10-02 15:36] mairaw commented on #2037
@isaac2004 is right. It's a massive issue. It'll take quite a few PRs to fix those.
If you click on the links from the issue description, you'll see we still have thousands of links to fix @ItsPugle.

[2017-10-02 17:02] #3291 closed

[2017-10-02 17:17] #3019 closed

[2017-10-02 18:04] mairaw commented on #3291
Thanks for creating the issue and making the fix @tandasat. For small issues like this where you intend to make the fix, you can skip the issue creation step and just submit the fix in a PR!

[2017-10-02 18:26] mairaw commented on #2037
Yes, I can create sub-issues for this for sure @isaac2004. Let me know what you'd like to tackle next and I'll create a sub-issue. There are many ways to break this down. FwLinks would be harder for the community to help since to change them, I need to access an internal tool. So I'd skip those.

[2017-10-02 19:14] BillWagner commented on #2508
I'd like to redirect to the "Quick Starts":  https://docs.microsoft.com/dotnet/csharp/quick-starts

[2017-10-02 19:24] mairaw commented on #2508
I think so too. Let me file a request then.

[2017-10-02 20:07] #3048 closed

[2017-10-02 20:36] mairaw commented on #3293
HI @asaf400, I'll need to follow up on this one with the engineering team. I'm not sure if this scenario is supported at the moment.

[2017-10-02 20:43] mairaw commented on #3177
@dsplaisted do you know when --blame was introduced? I don't see it in the .NET Core 2.0.0 SDK.

/cc @KathleenDollard

[2017-10-02 20:46] dsplaisted commented on #3177
@mairaw It looks like --blame was added in this PR: https://github.com/Microsoft/vstest/pull/988

I don't know what version of the .NET Core SDK that change is supposed to be part of.

@Faizan2304 / @smadala, could you clarify?

[2017-10-02 21:37] dend commented on #3293
Thanks for the feedback!

We don't currently support standalone offline builds by third-parties - while we rely on DocFX as the underlying engine that generates and renders documentation, we also implement a number of very specific extensions and configurations that rely on docs.microsoft.com infrastructure, that this docset depends on. Without those, the rendering will not be accurate.

[2017-10-02 23:45] LadyNaggaga commented on #2508
Do you have plan in place to migrate some of the more popular msdn tutorials to the quick start guide?

[2017-10-03 03:43] ItsPugle commented on #2974
@isaac2004 - Sure! I've got lots of free time right now, so I can probably do quite a few. I'll get started on them as per https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=codeplex&type=

[2017-10-03 03:50] ItsPugle commented on #2037
I'm slightly confused with all this. With the FwLinks, what are we trying to do with them all? Are we replacing them with their target links, or is their a different forwarder etc now?

Sorry if this is a stupid question; I'm looking for some projects for [Hacktober](https://hacktoberfest.digitalocean.com/) and I saw this as interesting. I'm not confident with any relevant language (other than Mar

[2017-10-03 05:29] mairaw commented on #2037
Cool! I wasn't familiar with the event @ItsPugle. As I said, you can skip the FwLink. What we'll have to do  is to scan the FwLinks and see if they are targeting MSDN links and then either replace them here with their targets or replace the FwLInk destination internally.

Would you like me to open an issue for the third item perhaps? I could open one targeting only the Markdown files like this: ht

[2017-10-03 05:41] mairaw commented on #2508
@BillWagner was creating a project for adding new tutorials like for arrays and can comment on this. I wasn't aware this was going to be redirected now; otherwise, I'd have grabbed the BI data for those ahead of time. I'll try to grab some data still. But won't have time to do that this week.

[2017-10-03 06:08] ItsPugle commented on #2037
That'd be good if you could open that issue targeting Markdown :smile:! I can get to work with them straight afterwards :) I won't be the fastest with it, since I've got to edit using GitHub not my local IDE due to the 400MB lol

[2017-10-03 06:15] mairaw opened #3305 "Remove MSDN Library from Markdown files"
We should no longer mention MSDN Library in our docs.

This task is specifically targeted at removing those from the Markdown files:
https://github.com/dotnet/docs/search?l=Markdown&q=%22msdn+library%22&type=&utf8=%E2%9C%93

In most cases, the replacement should be Microsoft Docs, but this could vary depending on the context. Don't hesitate to ask any questions when in doubt.

This is a sub-task o

[2017-10-03 06:16] ItsPugle commented on #3305
Cheers! I'll get cracking!

[2017-10-03 06:20] ItsPugle commented on #3305
First one and I'm already lost :(
https://github.com/dotnet/docs/blob/master/docs/framework/wcf/generating-data-type-classes-from-xml.md references/links to an MSDN RSS feed, and I can't find the same over at docs.microsoft.com. What should I do?

[2017-10-03 06:29] ItsPugle commented on #3305
And now [this one's](https://github.com/dotnet/docs/blob/master/docs/framework/data/adonet/sql/linq/samples.md) confusing me. I can't find the respective docs for the sample queries over at docs.ms

#FixingLinksIsHellaHard

[2017-10-03 06:34] mairaw commented on #3305
No worries @ItsPugle. For 1st issue, let's replace that with the .NET Blog RSS Feed. The link is this: https://blogs.msdn.microsoft.com/dotnet/feed/. But then the classes that are generated are:
![image](https://user-images.githubusercontent.com/12971179/31112717-3a07c746-a7ca-11e7-9e25-d2c20eea831a.png)

I'll take a look at the second one now

[2017-10-03 06:38] mairaw commented on #3305
For the second one, let's just fix the text for now which is the focus of this issue.

So replace "Search the MSDN Library for specific issues." with "Search for specific issues on Microsoft Docs." for example.

[2017-10-03 07:09] ItsPugle commented on #3305
Would you be able to just double-check that I'm doing the right thing over at ItsPugle/docs?

[2017-10-03 07:18] mairaw commented on #3305
I looked at a few and they look great. I'll review them all once you push the PR. Thank you!

[2017-10-03 08:56] isaac2004 commented on #2037
@ItsPugle highly recommend VS Code if you have the HDD space

[2017-10-03 09:00] garg000dhruv commented on #3246
7.2 shenanigans yet again! I can take this too once I'm done with #3240.

[2017-10-03 09:09] ItsPugle commented on #2037
I've considered VSCode, but I've found that the GUI is too confusing for me as a basic "developer", if I can call myself that. I also switch back and forth between projects all the time, so the process for switching projects on VSCode is 👎  for me.

[2017-10-03 15:11] BillWagner commented on #2508
@LadyNaggaga You'll start to see issues listed in the [quickstarts](https://github.com/dotnet/docs/projects/18) project, in the [samples](https://github.com/dotnet/docs/projects/20) project, and in the [tutorials](https://github.com/dotnet/docs/projects/19) project.

There's a bit of a branding update here as well:  Moving forward, to be consistent across all the docs libraries, "tutorials" will g

[2017-10-03 15:14] BillWagner commented on #3246
@garg000dhruv That would be great. I'm going to leave it unassigned until we get the first one done, in case someone else wants to jump in.

[2017-10-03 20:49] mikeharder opened #3311 "Add 'gnupg' to 'apt-get install' at https://www.microsoft.com/net/core#linuxdebian"
I recommend adding `gnupg` to the `apt-get install` step at at https://www.microsoft.com/net/core#linuxdebian.  Otherwise, the following command will fail if `gnupg` is not installed:

[code]

[2017-10-03 21:36] mairaw commented on #3293
So I'll be closing this issue then @asaf400, given this is not a content issue per se. For feedback and requests. there's also the UserVoice site here and people can vote for what they want the most: https://aka.ms/sitefeedback

If you're on a Windows environment, we'll also be shipping the .NET offline books (hopefully soon) for Visual Studio 2017. Maybe that could be an option for you too? There

[2017-10-03 21:36] #3293 closed

[2017-10-03 21:41] mairaw commented on #3311
@mikeharder so would I change this `sudo apt-get install curl libunwind8 gettext apt-transport-https`
to
`sudo apt-get install curl libunwind8 gettext apt-transport-https gnupg`?

do you have access to https://github.com/dotnet/dotnet-core-website? That's the repo for the website.

/cc @leecow

[2017-10-03 21:45] mikeharder commented on #3311
@mairaw: Correct, assuming the instructions should install all required packages (as opposed to letting the user discover and install missing packages).  I do have access to https://github.com/dotnet/dotnet-core-website.  Would you like me to move the issue there?

[2017-10-03 22:42] #2703 closed

[2017-10-03 23:35] leecow commented on #3311
Is the alternative to use wget on debian rather than curl?

[2017-10-04 00:06] mairaw commented on #3311
I think it's fine to leave this one here @mikeharder. But in the future, if you find issues with the site, it might be better to open issues and PRs there.

@leecow would be the guy to say if the instructions are supposed to install all required packages or not.

[2017-10-04 00:52] mikeharder commented on #3311
@leecow: The issue is the `gpg` command after `curl`:

[code]

`/usr/bin/gpg` is part of the `gnupg` package (https://packages.debian.org/stretch/gnupg).  I'm not sure when this package is or is not installed by default in Debian, but I know it's not installed in the Debian docker images (https://hub.docker.com/_/debian/).  So if you try to follow the instructions at https://www.microsoft.com/net/

[2017-10-04 02:11] leecow commented on #3311
Ah, understood. The base Debian 9 install does include gnupg so perhaps this is just a general note rather than part of the copy/paste prereq commands.

[2017-10-04 08:36] ItsPugle commented on #2974
I've gotten clogged up with some other stuff right now, so I can't help with this right right now, but I have faith that @isaac2004 can do it.

[2017-10-04 11:23] isaac2004 commented on #2974
@ItsPugle I actually have a PR for it :)

[2017-10-04 11:30] ItsPugle commented on #2974
Oh lol @isaac2004! Good work 👍

[2017-10-04 19:35] asaf400 commented on #3293
Okay thanks, hopefully my earlier comment would still help others which are looking to get the same end result, through this closed issue..

I hope you consider making this repo more portable and independent from the official hosting on Microsoft.com as the documentation of most other programming languages (go, Python, Ruby) are available for building in an html static format.
That has become a st

[2017-10-04 21:16] dzfweb opened #3319 "Offer MOBI and EPUB files"
A suggestion is to offer other options in adition to PDF-Only, for example MOBI and EPUB files.

I've make a test with the **.NET Microservices. Architecture for Containerized .NET Applications** ebook writing the correct summary and make it compatible with [gitbook](http://gitbook.com), so now it's possible to download the _mobi_ and _epub_ files to read in kindle or other eReader.

You can see t

[2017-10-05 15:05] gewarren opened #3322 "Consolidate globalization and localization topics"
The Visual Studio docs have a section called Globalizing and Localizing Applications (https://docs.microsoft.com/en-us/visualstudio/ide/globalizing-and-localizing-applications), which is almost all .NET Framework-related stuff, and nothing specific to Visual Studio. It should be merged with .NET Globalization and Localization docs (https://docs.microsoft.com/en-us/dotnet/standard/globalization-loc

[2017-10-05 15:16] BillWagner commented on #3319
Thanks @dzfweb for sharing this and demonstrating the capability.  I'm starting an internal discussion with some other members of our team to get some other opinions.

We'll post back once we get some feedback.

[2017-10-05 15:59] rpetrusha opened #3323 "Revise dotnet restore to note that it runs implicitly in some scenarios"
# Revise dotnet restore to note that it runs implicitly in some scenarios

# General

Starting with .NET Core 2.0, [`dotnet restore`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x) runs implicitly in some cases. The reference documentation should discuss those.

//cc @mairaw, @BillWagner

[2017-10-05 19:13] BillWagner opened #3328 "Update How To Compare Strings"
This should be updated by:
- [ ] Use C# Interactive for samples
- [ ] Include `IComparable<string>`
- [ ] More specific headings than "Example"
- [ ] Add redirection
- [ ] Add links from C# Hello World Quick Start

[2017-10-05 19:13] BillWagner opened #3329 "Update How To Modify Strings"
This should be updated as follows:
- [x] Leverage C# interactive for code samples
- [x] Move to "How To" under "Strings"
- [x] Add redirection
- [x] Add links from C# Hello World Quick Start
- [x] Make more specific heading than "Example"
- [x] Drop Regular expression example (move to a new topic on RegEx and strings)

[2017-10-05 19:16] BillWagner opened #3330 "Update How to Parse strings using Split"
[This article](https://docs.microsoft.com/dotnet/csharp/programming-guide/strings/how-to-parse-strings-using-string-split) should be updated by:
- [x] update the title
- [x] link from C# Hello World Quick start
- [x] redirection
- [x] Better heading than "Example"
- [x] Split and LINQ example.

[2017-10-05 19:18] BillWagner opened #3331 "Update How to Search Strings"
Subtasks:
- [ ] More descriptive headings
- [ ] redirection
- [ ] Links from C# Hello World Quick Start
- [ ] Use LINQ to search for characters

[2017-10-05 19:21] BillWagner opened #3332 "Create How to use Regex and strings"
This is a combination of the how to search and how to modify strings using Reg Ex

Add links from the C# Hello World Quick Start

[2017-10-05 19:34] BillWagner opened #3334 "Update "How to Concatenate strings""
[This topic](https://docs.microsoft.com/dotnet/csharp/programming-guide/strings/how-to-concatenate-multiple-strings) needs to be updated in a number of ways.

Sub tasks:
- [x] Add interpolated strings
- [x] Discuss performance implications of `+` on strings.
- [x] Discuss performance implications of `StringBuilder` and buffer re-allocations.
- [x] Add a LINQ example using Accumulate
- [x] link fro

[2017-10-05 19:36] BillWagner opened #3335 "Update How to Convert String to Number"
Topic: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/strings/how-to-determine-whether-a-string-represents-a-numeric-value

- [ ] Use nullable, or tuple output
- [ ] use out var
- [ ] link from Hello World and working with number quick starts
- [ ] redirection

[2017-10-05 19:38] BillWagner opened #3336 "Update How to convert string to Date Time"
Subtasks:
- [ ] Add time zone consideration
- [ ] Add other formats
- [ ] redirection
- [ ] headings

[2017-10-05 19:40] #2287 closed

[2017-10-06 05:14] dasMulli opened #3338 "macOS prerequisites: open files limit in 2.0.2+"
The macOS prerequisites doc has a section "Increase the maximum open file limit" detailing how to set a system-wide higher open file limit for processes using `launchd`/`launchctl` or `ulimit`.

Since https://github.com/dotnet/coreclr/pull/14054 has been merged and will be part of the 2.0.2 release, this should no longer be necessary as this appears to have been a bug in CoreCLR trying to set a hi

[2017-10-06 15:02] #2983 closed

[2017-10-06 17:50] BillWagner opened #3342 "Use C# REPL For formatting examples"
These topics:

https://github.com/dotnet/docs/blob/master/docs/standard/base-types/standard-date-and-time-format-strings.md
https://github.com/dotnet/docs/blob/master/docs/standard/base-types/standard-numeric-format-strings.md
https://github.com/dotnet/docs/blob/master/docs/standard/base-types/standard-timespan-format-strings.md

all discuss formatting strings for output. They would all be more en

[2017-10-06 17:53] BillWagner opened #3343 "Try the C# REPL for reference pages"
The pages:

https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/enum
https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/foreach-in

have very high page views, and are great candidates to see how the REPL can improve them.

/cc @LadyNaggaga

[2017-10-06 20:30] BillWagner opened #3345 "Retire legacy string topics"
There are two legacy How To topics for strings that should be removed, and redirected to the archive copies:

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/strings/how-to-convert-between-legacy-encodings-and-unicode

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/strings/how-to-convert-rtf-to-plain-text

Both have very low traffic, and make it harder for new cu

[2017-10-06 20:34] guardrex opened #3346 "Add more detail on the runtime store location"
`https://docs.microsoft.com/dotnet/core/deploying/runtime-store`
*docs/core/deploying/runtime-store.md*

@ArtemSyromiatnikov asks ...

The topic could use a hair more detail on these two locations.

As far as the app is concerned running on the host, there's just one runtime store and it is the one at the *Program Files/dotnet/store* location.

For the example shown in the topic, the `Moq`, `Castl

[2017-10-07 20:04] svick opened #3351 "ILGenerator.BeginFinallyBlock example is invalid"
As discovered by @luboid in https://github.com/dotnet/coreclr/issues/14379#issuecomment-334959413, [the example code for `ILGenerator.BeginFinallyBlock`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.ilgenerator.beginfinallyblock?view=netcore-2.0#Examples) contains branch out of try block and is thus invalid. When I run it on .Net Framework 4.7 or .Net Core 2.0 (after changing

[2017-10-09 10:27] harshjain2 commented on #3177
@mairaw Currently there is a bug in Blame Data Collector for dotnet core and therefore, you can skip the documentation for blame.

[2017-10-09 12:51] sputier opened #3356 "Minor typo"
In docs/csharp/methods.md :

become

PR #3355 fixes this issue

[2017-10-09 16:50] #3356 closed

[2017-10-09 17:03] mairaw commented on #3338
Thanks @dasMulli.

@leecow @janvorli this issue is for the following topic:
https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore2x#increase-the-maximum-open-file-limit

When we release .NET Core 2.0.2, should we keep that info but note that is only applicable to older versions?

[2017-10-09 18:05] mairaw commented on #3356
Thank you for spotting and fixing the issue @sputier. When you find small issues like this, you can skip the issue and just submit a PR next time! We appreciate your contribution.

[2017-10-09 18:36] sebastienros commented on #395
This?
https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md

[2017-10-09 20:10] mairaw commented on #3351
Thanks @svick for reporting this issue. We're adding this item to our backlog.

[2017-10-09 20:18] mairaw commented on #3335
Related topic: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/how-to-convert-a-string-to-a-number

[2017-10-09 20:25] mairaw commented on #3323
Isn't this a duplicate of #2722 @rpetrusha?

[2017-10-09 20:28] mairaw commented on #3319
@dzfweb are you requesting that for the whole docs site or just for the ebooks?

/cc @dend @eisenbergeffect

[2017-10-09 20:30] mairaw commented on #3319
BTW, they've added links to MOBI and EPUB files for the microservices e-book here: https://www.microsoft.com/net/learn/architecture

[2017-10-09 20:32] mairaw commented on #3311
Issue moved to [dotnet/dotnet-core-website #343](https://github.com/dotnet/dotnet-core-website/issues/343) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-09 20:32] #3311 closed

[2017-10-09 20:35] #54 closed

[2017-10-09 20:35] #58 closed

[2017-10-09 20:35] #61 closed

[2017-10-09 20:35] #62 closed

[2017-10-09 20:35] #65 closed

[2017-10-09 20:35] #66 closed

[2017-10-09 20:35] #69 closed

[2017-10-09 20:35] #70 closed

[2017-10-09 20:35] #72 closed

[2017-10-09 20:35] #75 closed

[2017-10-09 20:35] #76 closed

[2017-10-09 20:35] #97 closed

[2017-10-09 20:35] #171 closed

[2017-10-09 20:36] mairaw commented on #176
@cartermp do we still want to do this?

[2017-10-09 20:38] mairaw commented on #221
Closing this one since porting was done. We need a larger project for handling the duplicated topics across the repo.

[2017-10-09 20:38] #221 closed

[2017-10-09 20:39] mairaw commented on #225
This was ported already.

[2017-10-09 20:39] #225 closed

[2017-10-09 20:41] mairaw commented on #250
This is already part of the topic: https://docs.microsoft.com/en-us/dotnet/core/porting/libraries#net-framework-technologies-unavailable-on-net-core

[2017-10-09 20:41] #250 closed

[2017-10-09 20:43] #266 closed

[2017-10-09 20:43] #267 closed

[2017-10-09 20:43] #269 closed

[2017-10-09 20:43] #270 closed

[2017-10-09 20:43] #271 closed

[2017-10-09 20:43] #272 closed

[2017-10-09 20:43] #274 closed

[2017-10-09 20:44] #268 closed

[2017-10-09 20:44] #288 closed

[2017-10-09 20:44] #306 closed

[2017-10-09 20:46] mairaw commented on #324
@svick this one seems fixed. Would you agree?

[2017-10-09 20:48] mairaw commented on #325
I think this can be closed as dupe of #2642 where we wanna create a CSPROJ reference topic.

[2017-10-09 20:48] #325 closed

[2017-10-09 20:48] brianrob commented on #395
@sebastienros, the link you referenced is the up-to-date document on how to do profiling on Linux.

[2017-10-09 20:49] mairaw commented on #395
@stephentoub @Petermarcu who can help with this subject?

[2017-10-09 20:50] #439 closed

[2017-10-09 20:52] mairaw commented on #459
PR #2860  might address this since it will cover the new .NET Framework compatibility mode

[2017-10-09 20:53] mairaw commented on #469
We cut this from the docset.

[2017-10-09 20:53] #469 closed

[2017-10-09 20:54] stephentoub commented on #395
@brianrob

[2017-10-09 20:57] EisenbergEffect commented on #3319
We're hoping to re-consider/re-work our entire offline content story for docs.microsoft.com. I'm not sure what the details of that will be yet and when it will happen, but we will be looking at not only PDF, but MOBI and ePub as part of that work. We'll also look into other tech like Gitbooks and Dash. Feel free to share anything you think would be compelling for offline docs experiences.

[2017-10-09 20:57] mairaw commented on #488
I think to close this one we should just remove this topic: https://github.com/dotnet/docs/blob/master/docs/csharp/methods-lambda-expressions.md

We have a topic on [methods](https://docs.microsoft.com/en-us/dotnet/csharp/methods) and [lambda expressions](ttps://docs.microsoft.com/en-us/dotnet/csharp/lambda-expressions).

[2017-10-09 20:58] brianrob commented on #395
Yup, I'm the right person.  For Linux, the doc above is a good starting point.  For Windows, PerfView contains its own documentation, which describes how to use it.  Let me know what specifically you need and I can help.

[2017-10-09 20:59] mairaw commented on #491
not applicable anymore. remove the wrench topic: https://github.com/dotnet/docs/blob/master/docs/csharp/parallel.md

[2017-10-09 21:14] mairaw commented on #395
Thanks @brianrob. We were reviewing our backlog today. It's good that we have a starting point for now. When we start working on bringing those docs to the official site, I'll ping you again.

[2017-10-09 21:29] cartermp commented on #176
I don't feel too strongly about it anymore.  Over time, they have become more palatable.

[2017-10-09 21:53] BillWagner commented on #2412
The Roslyn APIs are now live on docs.

Thanks @dend and @meganbradley

[2017-10-09 21:53] #2412 closed

[2017-10-09 22:40] svick commented on #2412
Awesome! Next step: fill out documentation for the many members that don't have it from XML comments. 😄

Also, I can't find documentation for the `Microsoft.CodeAnalysis.ISymbol` interface. In fact, the whole [`Microsoft.CodeAnalysis` namespace](https://docs.microsoft.com/en-us/roslyn-dotnet-api/api/microsoft.codeanalysis) looks suspiciously empty. It seems the only type there is from the `Microso

[2017-10-09 22:50] mairaw commented on #2412
We can open issues for Roslyn API docs at https://github.com/dotnet/roslyn-api-docs/issues

[2017-10-09 22:57] svick commented on #2412
@mairaw Didn't know about about that repo, thanks. Issue opened: https://github.com/dotnet/roslyn-api-docs/issues/18.

[2017-10-09 23:26] mairaw commented on #176
Ok. I'll close this one then. Over time, we'll start reviewing content organization and content duplication too.

[2017-10-09 23:26] #176 closed

[2017-10-09 23:44] mairaw commented on #2412
@svick it's new. 😄 Thanks!

[2017-10-10 07:57] sputier commented on #3239
I'm in to give it a try !

[2017-10-10 08:25] hifi commented on #654
From Linux packaging point, there are some things that should be considered regarding this topic and I think they are important for distributions to accept .NET Core as part of their base packaging.

First, all dotnet* packages that are part of the runtime or SDK need to be self-hosting and offline buildable. They must not depend on any online resources or any code that can't be built from the sou

[2017-10-10 13:12] BillWagner commented on #3239
Thanks @sputier   Let me know if you have any questions.  I'll move this card to the In Progress column in the C# 7.2 project.

[2017-10-10 14:36] moh-hassan opened #3364 "Question: Firfox retrieve web page complete of .NET API browser service, but c# code webclient can't retrieve the complete page with loss of data."
I try to get the contents from of .NET API  browser service using c# code for the following url:

            https://docs.microsoft.com/en-us/dotnet/api/?view=netstandard-2.0&term=System.Runtime.Serialization.DataContractSerializer

 The following code get the web page contents with the loss of the Api information:

			 WebClient client = new WebClient();
			string reply = client.DownloadString(u

[2017-10-10 16:13] jcouv commented on #3241
We did have some last minute changes on ref readonly from LDM:
1.	Declaring ref readonly parameters uses the `in` keyword.
2.	Calling such a method is allowed with `M(x)` syntax, but also `M(in x)`. This caller syntax can affect overload resolution if there was a conflict.

[2017-10-10 21:02] leecow commented on #3338
A note indicating the setting is more likely to be needed in older versions of Core sounds like the right edit.

[2017-10-10 21:06] janvorli commented on #3338
Yes, the setting is only applicable in older versions, in the 2.0.2, it doesn't make sense, we already set it to the max possible value in the PAL.

[2017-10-10 21:12] gregdegruy opened #3368 "dotnet add package String reference error"
# String reference error

Notice how there is no proper string replacement done below.
[code]

Would like to help fix, but not sure where the repo or if it is open source for the ERROR handling in the dotnet CLI.

## Error
[code]

[2017-10-10 21:50] rpetrusha commented on #3323
@mairaw, actually it's not. #2722 is largely aimed at cases where dotnet restore is used. What I had in mind is that the [`dotnet restore`](https://docs.microsoft.com/dotnet/core/tools/dotnet-restore?tabs=netcore2x) command itself needs additional revision and detail.

[2017-10-10 22:06] mairaw commented on #3323
Ah ok. Makes sense @rpetrusha!

[2017-10-10 22:47] mairaw commented on #3368
Thanks @gregdegruy. Can you provide the info you get when you run `dotnet --info`? The CLI repo is open source too. You can find it at https://github.com/dotnet/cli/.

I have 2.0.0 SDK installed and the message I get is different. So it would be good to know which version you're running.
[code]

/cc @livarcocc @dsplaisted

[2017-10-10 22:49] mairaw commented on #3364
Hi @moh-hassan, I'm not sure if we have the API Browser set up as a service like that.

@dend @eisenbergeffect can one of you comment on this?

[2017-10-10 22:58] EisenbergEffect commented on #3364
We don't currently support API Browser as a service. It's definitely something we're considering along with other APIs for docs.microsoft.com. My feeling is that the API Browser and related functionality is a little to early to open up. It probably needs to evolve more and then we need to make sure we can scale, support, version, etc. any public API.

[2017-10-10 23:16] gregdegruy commented on #3368
I'm also on 2.0.0

[code]

[2017-10-10 23:32] mairaw commented on #3368
Interesting. And so do you have a project on that path or not? If so, what's the name of the csproj file? I'm wondering if the engine is getting lost with all those special characters in the file path, given this output without the full folder name:

`Adding PackageReference for package 'Microsoft.CrmSdk.CoreAssemblies' into project 'C:\GitHub\_mr.robot\DYN.Gamification\DYN.Gamification\DYN.Gamifi

[2017-10-10 23:50] mairaw commented on #3364
Thanks for the feedback @EisenbergEffect. @moh-hassan given this is a general docs feedback, I'll close this issue and I suggest you file this suggestion at https://aka.ms/sitefeedback. Thanks again!

[2017-10-10 23:50] #3364 closed

[2017-10-11 00:45] mairaw commented on #3338
Ok thanks for the feedback @leecow @janvorli!

[2017-10-11 05:33] moh-hassan commented on #3364
Thanks for feedback
I suggested at https://aka.ms/sitefeedback
[support the .NET API Browser as a service and Provide REST API to access it](https://msdocs.uservoice.com/forums/364242-site-feedback/suggestions/31843894-support-the-net-api-browser-as-a-service-and-p)

[2017-10-11 15:33] svick commented on #324
@mairaw Yeah, seems to be fixed, closing.

[2017-10-11 15:33] #324 closed

[2017-10-11 16:47] gregdegruy commented on #3368
I do and there's one extra period in the name (I've removed the name between the period so I'll just the word Customer in there for now) it's called `DYN.Customer.Gamification.csproj`

[2017-10-11 20:14] lambdageek opened #3375 "System.Attribute.Match remarks and example are unclear"
The [remarks and example for `System.Attribute.Match(object)`](https://docs.microsoft.com/en-us/dotnet/api/system.attribute.match?view=netstandard-2.0#System_Attribute_Match_System_Object_) are very poor.

I *think* what the example and remarks are suggesting is that `Match` may be used to equate two attributes that `System.Attribute.Equals(object)` would say aren't equal:  the `Match` method will

[2017-10-11 22:53] #2426 closed

[2017-10-11 23:00] rpetrusha commented on #3375
Thanks for opening this issue, @lambdageek. Both the documentation and the example could use improvement.
The assumption here is that Equals should perform a standard test for reference or value equality, but Match should perform some custom comparison. The basic example is a good one, though it's unfortunate that the Equals and the Match methods perform identical comparisons, and the code is not

[2017-10-11 23:09] mairaw opened #3378 "Some topics migrated from MSDN have massive inline spacing"
It seems that they're mostly WPF and Winforms topics.

For example: https://github.com/dotnet/docs/blob/master/docs/framework/wpf/advanced/draw-text-using-glyphs.md

![image](https://user-images.githubusercontent.com/12971179/31471579-4bbefc68-ae9e-11e7-9bfb-fbdab055ffa5.png)

They don't cause too much issue since the extra spacing is not rendered, but I've noticed with PR #3374  that some words w

[2017-10-11 23:18] lambdageek commented on #3375
Thanks @rpetrusha

I wish this sentence _was_ the documentation. :+1:

[2017-10-12 00:34] gafter opened #3381 "Remove out-of-date specification for C# language from Visual Studio install"
We are shipping an out-of-date specification for C# with Visual Studio. We should stop doing that and link to the online specification at https://github.com/dotnet/csharplang/blob/master/spec/README.md .

This is also tracked at https://github.com/dotnet/roslyn/issues/18515 and [tracked internally at 405168](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems?id=405168&

[2017-10-12 01:05] BillWagner commented on #3343
I reviewed https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/enum and this isn't a good candidate for using the interactive REPL.

The structure of the code samples is such that it won't work well in the current implementation. Let's revisit after discussing with the REPL team.

[2017-10-12 14:33] BillWagner commented on #3381
@gafter We import that online spec here: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/

We're directly pulling in the master branch and the daily publish cycle will pull in any updates made to the csharplang repo.  I have a similar comment at [dotnet/roslyn#18515](/dotnet/roslyn/issues/18515)

[2017-10-12 16:44] #3215 closed

[2017-10-12 21:32] JeremyKuhne opened #3387 "APIs that throw PathTooLongException may sometimes throw DirectoryNotFoundException"
Not sure the best way to handle/track this. .NET Core doesn't preemptively check for path lengths anymore (as it is impossible to accurately predict). We throw PathTooLong when the OS reports it. In most cases that means behavior stays the same, but in some rare cases you can get DirectoryNotFound instead of PathTooLong.

I give a somewhat detailed description here: https://github.com/dotnet/coref

[2017-10-12 22:25] livarcocc opened #3388 "Include restore options in documentation for command with implicit restore"
_From @evil-shrike on October 12, 2017 22:5_

I run dotnet publish to create a msdeploy package. I supplying an `-s` option with my NuGet private server. But I made a mistake in the repository url and got 404 error. It expected. But it means that nuget tried to restore my package from my nuget server.
[code]

Then I fixed error in the url and repeated:
[code]
but what I got is MSBUILD error for my

[2017-10-12 22:25] livarcocc commented on #3388
can you try with --source instead of -s. We don't support short hand parameters being passed to restore through other commands, because we ran into conflicts in the shorthands.

Though I get your point on how it was used during the first restore.

[2017-10-12 22:25] livarcocc commented on #3388
I tried that command and I always get the -s is an invalid switch. I wonder if that source was available to NuGet through some other means or some caching that NuGet might have done from some previous command that you attempted.

cc @emgarten is case he has some insight. I don't believe that we are passing the URL using -s when the URL is invalid. We only respect --source in that case.

[2017-10-12 22:25] livarcocc commented on #3388
_From @evil-shrike on October 12, 2017 22:17_

`--source` works fine, thanks

btw the option isn't mentioned in docs - https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore2x for `publish` and `build` command (only for `restore`) but works.

[2017-10-12 23:42] mairaw commented on #3388
@livarcocc I don't see --source when I do --help for  `publish` or `build` either 😄
I'll add to the docs.

[2017-10-12 23:47] livarcocc commented on #3388
Yes, I believe we have a bug tracking that somewhere.

[2017-10-13 00:16] mairaw commented on #3388
and why the different behavior from restore which accepts both -s or --source @livarcocc?

[2017-10-13 00:24] #3305 closed

[2017-10-13 00:34] mairaw opened #3391 "Replace FwLinks with the actual target links"
This is a good issue for people who want to learn how to work on open-source projects.

Our content uses a lot of what we call FwLinks links. Current search brings 2,639 results for [FwLink](https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=fwlink&type=) links.

The problem with those is that users have no clue to which site we're taking them if they hover the link with their mouse and also t

[2017-10-13 00:54] gafter commented on #3381
@BillWagner Linking to that imported version makes a lot of sense.

[2017-10-13 02:06] mairaw commented on #3381
So is there any action item for us on the docs team here? Or should this be handled by the internal bug to have VS link to our new docs?

[2017-10-13 02:10] mairaw opened #3395 "Add the Book of the Runtime (BoTR) to docs"
BoTR sources live here: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/README.md

[2017-10-13 03:12] livarcocc commented on #3388
Because there are conflicts in the short form. Some commands that support implicit restore already had a -s (or some other short form parameter) taken that conflicted with the ones in restore. So, for implicit restore parameters we had to instead choose to only accept full form parameters.

[2017-10-13 05:31] mairaw commented on #3388
Thanks @livarcocc. The PR is ready for review.

[2017-10-13 10:51] svick commented on #3391
2600 links sounds like way too many to do manually, especially at a rate of 10 links per PR. Wouldn't it make more sense to write a program that finds the links, accesses them to find out where they redirect and replaces them?

[2017-10-13 21:19] balachir opened #3402 "Glossary link on Docker terminology page does not go anywhere"
I was reading through this page [Docker terminology](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/container-docker-introduction/docker-terminology)

The link to "glossary" in the first para does not go anywhere
For further definitions, see the extensive glossary provided by Docker .

[2017-10-13 22:43] mairaw opened #3404 "Improve Get started with .NET Core experience"
Topic: https://docs.microsoft.com/en-us/dotnet/core/get-started

The page is a bit overwhelming for a new .NET Core developer. We should simplify it.

[2017-10-13 23:46] mairaw commented on #3402
Thank you @balachir for reporting the issue. I've opened a PR to fix it.

[2017-10-14 00:09] balachir commented on #3402
Great, thanks for the quick response!

[2017-10-14 01:30] #3402 closed

[2017-10-14 22:57] #3343 closed

[2017-10-16 16:36] xaviex commented on #3391
@mairaw Working on this currently, When you say you want download links intact, does this mean that you want them to remain FWlinks? Also, are we considering download links anything at the download.microsoft domain or are we considering it anything that isn't a web page, such as http://example.com/testfile.exe?

[2017-10-16 17:15] mairaw commented on #3391
It's fine for folks more experienced or using automated scripts to do at a higher rate.
Since we were targetting this one for new GitHub users, that's why I set the limit. Otherwise, it takes longer for us to review too.

Thank you for taking this on @xaviex. My suggestion is that even with a script, we break down the PRs by folder.
For example:
https://github.com/dotnet/docs/tree/master/docs/core

[2017-10-16 17:22] xaviex commented on #3391
This does answer a lot of them, and yea breaking down by folder will make things a bit easier on me too, any preference on starting folder? Also, What about any download.microsoft.com/download/ Links? Are we considering those downloads or just /en-us/download/details.aspx?

[2017-10-16 17:36] xaviex commented on #3391
@mariaw Also, As this is my first major push, are there any significant rules I should be following other than what is in the contributor guidelines?

[2017-10-16 18:18] mairaw commented on #3391
yes, let's keep those download.microsoft.com as FwLinks too.

Start with the sub-folders within https://github.com/dotnet/docs/tree/master/docs. You can go in alphabetical order in there, so core, csharp, framework and so on. Would you like me to open sub-issues for these?

No @xaviex. I think our contributor guidelines should contain all our rules. But I'm here to answer any questions you might h

[2017-10-16 18:23] xaviex commented on #3391
If you could create those sub-issues that would be fantastic thank you!

[2017-10-16 18:45] xaviex commented on #3391
@mairaw Okay, I'm set up to do each folder, Do you want me to use issue numbers in commit summaries?

[2017-10-16 19:50] xaviex commented on #3391
@mairaw  I just realized that /core/ only has one location that actually needs to be changed, do we want that to be its own issue or no?

[2017-10-16 21:14] #3280 closed

[2017-10-16 22:36] mairaw commented on #3391
@xaviex ok, let me create sub-issues. I'll create a combined one for core and fsharp then if it's just one. I'm guessing that both should have low numbers since they are newer content.

You can add the Fixes notation in the PR only. No need to add the issue in the commit itself.

[2017-10-16 22:52] mairaw opened #3423 "Replace FwLinks with the actual target links - Core and Fsharp folders"
For folders:
https://github.com/dotnet/docs/tree/master/docs/core
https://github.com/dotnet/docs/tree/master/docs/fsharp

/cc @xaviex

[2017-10-16 22:53] xaviex commented on #3391
@mairaw Will you add the sub-issues as checks inside this issue? Or should I watch out for them on the main issues page?

[2017-10-16 22:54] mairaw commented on #3391
I'm doing both @xaviex. So you can create PRs targetting a specific issue and resolve them. And I'll keep track of them here.

[2017-10-16 22:56] mairaw opened #3424 "Replace FwLinks with the actual target links - csharp folder"
Sub-issue for folder https://github.com/dotnet/docs/tree/master/docs/csharp

/cc @xaviex

[2017-10-16 22:59] mairaw opened #3425 "Replace FwLinks with the actual target links - standard folder"
sub-issue for folder https://github.com/dotnet/docs/tree/master/docs/standard

[2017-10-16 23:02] mairaw opened #3426 "Replace FwLinks with the actual target links - VB folder"
Sub-issue for folder https://github.com/dotnet/docs/tree/master/docs/visual-basic

[2017-10-16 23:04] mairaw commented on #3391
I've opened 4 sub-issues so far. Let's see how they go. I might have to break down the framework folder in more parts since that folder will impact more than 1000+ files.

[2017-10-16 23:11] xaviex commented on #3391
@mairaw How do I go about making a pull request for the next issue before the current one is accepted?

[2017-10-16 23:16] mairaw commented on #3391
you need to work on different branches. just a sec

[2017-10-16 23:18] xaviex commented on #3391
My apologies on this.

[2017-10-16 23:53] mairaw commented on #3391
Never mind. I see that you closed the PR already. Do you want me to reopen that one or do you want to work on a branch different than master for your PR?

Here's my usual workflow:

To set up my local fork:
`git clone <fork url>`
`git remote add upstream https://github.com/dotnet/docs.git`

To start new work:
`git checkout master`
`git fetch upstream`
`git rebase upstream\master`
`git push`

`git

[2017-10-17 02:28] #3378 closed

[2017-10-17 05:23] mairaw opened #3433 "Enhance docs for new WPF APIs"
Check out the spec for detailed info on when to use the following APIs:
M:System.Windows.Diagnostics.VisualDiagnostics.DisableVisualTreeChanged
M:System.Windows.Diagnostics.VisualDiagnostics.EnableVisualTreeChanged

The spec includes a detailed discussion of when these methods (especially Enable...) can be called:  registry keys, app-context switches, environment variables, etc.   That should be i

[2017-10-17 07:11] Styxxy opened #3435 "Code samples with IDisposable code sample not using "using" statement"
I came across some doc page with code sample that uses IDisposable classes, but not using a "using" statement to cleanup resources. Isn't it better to also include "using" in code samples?

Example : https://github.com/styxxy/docs/blob/master/docs/framework/winforms/controls/user-drawn-controls.md
The Pen class is IDisposable in these samples (both C# and VB.NET).

Can I submit a PR for this?

[2017-10-17 15:14] rpetrusha commented on #3435
@Styxxy, yes, you can submit a PR.

[2017-10-17 16:08] #3435 closed

[2017-10-17 17:44] ShalokShalom opened #3446 "[New Topic] Current state of development tools"
[Idea] A sheet which shows all the available compilers, runtimes and frameworks including the support for the different languages and platforms, including notation of the licenses, maintainers and blocking issues.

[Edit] So, something like this:

![screenshot_20171018_140341](https://user-images.githubusercontent.com/6344099/31717758-7ac1b2fc-b40d-11e7-849d-3450472aff7f.png)

I think this is impo

[2017-10-17 18:29] BillWagner opened #3447 "Remove comments from examples where the interactive experience is enabled"
The [foreach reference page](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/foreach-in) has the interactive in-browser experience enabled.

It also shows the expected output in comments:

[code]

We think we should remove the output from the comments. Do you agree? Vote thumbs up to remove, thumbs down to keep it.

[2017-10-17 18:35] maggarwal commented on #3447
👍

[2017-10-17 18:49] akoeplinger opened #3448 "Make output pane on interactive experience larger/resizable"
At the moment the output pane when running the interactive C# script is about 4 lines:

![image](https://user-images.githubusercontent.com/1376924/31683147-701e4fae-b37c-11e7-8369-cb1e4febc03b.png)

This is way too little output in my opinion. The pane should be larger by default or even better be resizable.

[2017-10-17 18:55] mairaw commented on #3448
@EisenbergEffect can you take a look at this feedback for the interactive experience?

[2017-10-17 19:40] jesta88 commented on #3447
👍

[2017-10-17 20:36] EisenbergEffect commented on #3448
@akoeplinger What browser are you using? There should at least be a scroll bar. I don't see it in your screenshot.

[2017-10-17 20:46] akoeplinger commented on #3448
@EisenbergEffect I'm using Chrome on OSX, the hidden scrollbar is normal there and expected.

[2017-10-17 20:58] EisenbergEffect commented on #3448
Ok. Just wanted to make sure there wasn't a CSS glitch that was causing an additional issue there.

So, to dig into details. This is for the inline "Try It" experience, specifically (as opposed to interactive tutorials). Can you provide some more thoughts?

* If we just made the output panel larger, how large would be large enough?
* If we provided a resizer, would you expect that to expand the ou

[2017-10-17 22:14] #3423 closed

[2017-10-17 23:58] mairaw opened #3452 "Fix Azure links"
Links that go to either https://azure.microsoft.com/documentation/* or https://azure.microsoft.com/en-us/documentation/* now have new URLs. We should update those links.

A couple of notes:
- For links inside docs.microsoft.com, we use relative paths except for the following e-book folders:
  - https://github.com/dotnet/docs/tree/master/docs/standard/containerized-lifecycle-architecture
  - https:

[2017-10-18 00:04] akoeplinger commented on #3448
Correct, it was based on https://twitter.com/akoeplinger/status/920358807544516614, should've mentioned that :smile:

I think at least 3-4 more lines would be good.

I'd have expected to be able to pick and drag the line that separates code/output upwards, so output would get larger and code smaller. I'm not sure how it would work if the whole thing was resizable, I assume it'd break the page flow

[2017-10-18 00:17] EisenbergEffect commented on #3448
Good feedback @akoeplinger. Thanks! I'll take this and see if we can iterate on the design a bit in the future.

Note: This is part of the One Microsoft documentation platform itself, not just .NET, so I have to balance the priority and design of this against a lot of other items we're working on. In other words, if you don't see us ship an update to the UI next week...it's not because we aren't l

[2017-10-18 07:06] mairaw commented on #3118
@svick, @yishengjin1413 did a PR (#3371) to resolve a few more of these that I just merged. Hopefully, this takes care of the remaining of missing enum values. I've asked Terry to double check if we need to apply the same logic he did here on md files too, not only reference.

[2017-10-18 08:36] enricosada commented on #3446
So, you pratically want the link to github projects for each component?

=> https://github.com/dotnet/core/blob/master/Documentation/core-repos.md

and https://github.com/dotnet/core/blob/master/release-notes/download-archive.md

You can start navigate docs from the readme of https://github.com/dotnet/core

[2017-10-18 08:50] ShalokShalom commented on #3446
Ahm no. A table. A comparsion table. A sheet

[2017-10-18 10:17] Faizan2304 commented on #3177
@dsplaisted : Blame is currently checked in master branch of dotnet\cli and it will get ship with Visual Studio 2017 Update6.

[2017-10-18 11:29] ShalokShalom commented on #3446
![screenshot_20171018_132744](https://user-images.githubusercontent.com/6344099/31716479-4ae353f6-b408-11e7-99cb-351fb08deece.png)

[2017-10-18 13:15] artusvranken opened #3454 "Mistake in code on System.Random page."
# Mistake in the code on the [System.Random page in the .NET Framework API reference](https://docs.microsoft.com/en-us/dotnet/api/system.random?view=netframework-4.7.1#Examples)

In the first examples code block at the top of the page there is an example for generating 5 random byte values. The code says
`byte[] bytes = new byte[4];`
but it should be
`byte[] bytes = new byte[5];`

[2017-10-18 13:42] doctordns opened #3455 "Adding PowerShell samples in .NET API documentation"
At one time, there was documentation regarding .NET APIs over in the old msdn.microsoft.com site. Some of the classes/properties/methods decorated with PowerShell samples demonstrating the use of .NET Framework objects by PowerShell.

I am wondering if folks felt this would be useful? It would be simple enough to just add appropriate samples and I'd be happy to start the ball rolling.

edit by @ma

[2017-10-18 13:52] charlesroddie commented on #3446
I think this is a good idea. Suggest putting an .md file similar to what you have a screenshot of on your own github where people can submit changes. Here it would require some group to approve it.

[2017-10-18 13:59] hsorbo commented on #3446
Its a good mixture of different stuff in that list. Perhaps it would be clearer if you further group them into Runtimes, Compilers, Frameworks etc?

[2017-10-18 15:03] ShalokShalom commented on #3446
Yes, exactly this is my plan. To be honest: I am fresh to this whole infrastructure, so my information is based on a lot of opinions and some kind of half official statements.

This is why I hope for some contributions by deeply involved community members.

I like to get it on the official documentation anyway. Currently, this is a .ods and I can port it to something compatible. Is there a templat

[2017-10-18 17:42] mairaw commented on #3455
Thanks @doctordns. I've posted this on Twitter to see what people think!

[2017-10-18 18:18] rpetrusha commented on #3454
Thanks, @artusvranken, for opening this issue.  I've opened PR #3458 to address it.

[2017-10-18 20:41] BillWagner commented on #3448
@EisenbergEffect As I've been looking at topics where the interactive experience would be a big improvement, I'm finding snippets that are between 10 - 15 lines long, and generate up to 10 lines of output. There are some outliers, but those samples could likely be shortened without loss of clarity.

[2017-10-18 20:41] zjalexander commented on #3455
https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/11088615-add-powershell-tab-and-examples-to-net-reference is one of the PowerShell Team's top-voted items :)

[2017-10-18 20:43] lwsrbrts commented on #3455
This. +1

[2017-10-18 20:44] pchatham commented on #3455
Yes +1 and voted on uservoice

[2017-10-18 20:55] #3454 closed

[2017-10-18 21:13] Rukas commented on #3455
Yes +1

[2017-10-18 21:24] BladeFireLight commented on #3455
How many times do we have to ask for this before it happens?

[2017-10-18 21:37] jmcook01 commented on #3455
Yes!

[2017-10-18 21:38] mairaw commented on #3455
@doctordns I think you have your answer. Thanks @zjalexander for spreading the word!

[2017-10-18 22:01] megamorf commented on #3455
+1

[2017-10-18 22:13] Tiberriver256 commented on #3455
Would love this!

[2017-10-18 23:32] doctordns commented on #3455
What is amusing or sad - I added over 800 PowerShell samples to the MSDN library. But Microsoft decided to remove them all. :-(

[2017-10-18 23:47] gerane commented on #3455
+1

[2017-10-19 00:11] mairaw commented on #3455
I'd say is sad @doctordns. I'll see if that information lives anywhere in our internal databases and systems.

[2017-10-19 00:17] itadder commented on #3455
Plus +1

[2017-10-19 02:05] kevinblumenfeld commented on #3455
Plus +1.  Why is this not a thing yet?

[2017-10-19 04:41] garg000dhruv commented on #3351
@mairaw I can take this up if you'd like.

[2017-10-19 05:06] dezren39 commented on #3455
Yes

[2017-10-19 07:56] Stephanevg commented on #3455
+1

[2017-10-19 09:53] 21c-HK commented on #3446
This would be incredibly helpful.

[2017-10-19 12:22] #3240 closed

[2017-10-19 12:50] Dineshppatil commented on #3455
Yes

[2017-10-19 14:11] dnp60 commented on #3455
My company could really use this. It's stopped us a few time from using the PowerShell.

[2017-10-19 15:51] stevenjudd commented on #3455
Yes, please.

[2017-10-19 19:15] rpetrusha commented on #3351
If you would like to work on this, @garg000dhruv, that would be really great. I'll assign it to you.
Incidentally, although the ECMA spec explicitly disallows a return from a try region, it was not enforced until the new 64-bit JIT compiler introduced in the .NET Framework 4.6. See "IL ret not allowed in a try region" in the list of [app compat issues between 4.5 and 4.6](https://docs.microsoft.co

[2017-10-19 19:59] garg000dhruv commented on #3351
@rpetrusha That's what I was wondering because when I run the example on my machine, it runs just fine. I'll try with the updated specs and see what happens. But yeah I'd love to take this one up.

[2017-10-20 00:39] mairaw commented on #2468
I've reminded Khairun of the report. If the report comes clean, I'd like to open a new issue for the ebooks. That one needs more work in addition to the descriptions.

[2017-10-20 02:14] garg000dhruv commented on #3246
@BillWagner I can take this one now if you'd like.

[2017-10-20 02:16] garg000dhruv commented on #3351
@mairaw Let me know if I can start work on this. I only asl because I didn't see the ```up-for-grabs``` label removed or the issue moved to ```to-do```.

[2017-10-20 07:14] mairaw commented on #3455
Ok, so here's what I was able to find @doctordns:
[Thomas Lee PowerShell.xlsx](https://github.com/dotnet/docs/files/1401015/Thomas.Lee.PowerShell.xlsx)

This spreadsheet contains your contributions to the wiki over time. You'll see that some links still have the PowerShell example (e.g. https://msdn.microsoft.com/en-us/library/00101w8c(vs.85).aspx) while later .NET versions don't have that section

[2017-10-20 12:11] BillWagner commented on #3246
It's yours.

[2017-10-20 14:20] BillWagner commented on #2468
The second two eBooks have the same issue:

https://github.com/dotnet/docs/tree/master/docs/standard/modern-web-apps-azure-architecture

https://github.com/dotnet/docs/tree/master/docs/standard/containerized-lifecycle-architecture

[2017-10-20 14:26] BillWagner opened #3480 "imported architecture eBooks should have friendly names for all images"
The import process for eBooks often created a blank friendly name and alt-text for images.

This hurts accessibility and alternative rendering formats (phones, tablets)

Whenever a topic is updated, the friendly names should be added.

/cc @CESARDELATORRE

[2017-10-20 16:50] CESARDELATORRE commented on #3480
Can you give me an example on how to add those friendly name and alt-text for images?

[2017-10-20 16:56] #3345 closed

[2017-10-20 16:59] BillWagner commented on #3480
The source for our contributor guide has an example: https://github.com/dotnet/docs/blob/master/styleguide/template.md#static-image-or-animated-gif

You need to add the alt text in the square brackets.

[2017-10-20 17:27] BillWagner commented on #3279
Closed in #3384

[2017-10-20 17:27] #3279 closed

[2017-10-20 17:32] rpetrusha commented on #3351
@garg000dhruv, you can start work on this issue. I've removed the up-for-grabs label. Since the issue is not part of a project, though, it can't be moved to either to-do or in-progress. We'll set the milestone when your PR arrives.

[2017-10-20 22:04] #488 closed

[2017-10-20 22:04] #491 closed

[2017-10-20 23:13] #2566 closed

[2017-10-20 23:59] #3249 closed

[2017-10-21 01:49] mairaw commented on #3015
We should also review existing ones because there topics with too many entries. Might be a separate issue.

[2017-10-22 17:19] dkazbek opened #3491 "Examples of projects with unit tests do not work."
Examples of unit testing of .NET Standard libraries do not work. I needed to reduce the target version from 2.0 to earlier (I replaced it with 1.0). In the test project, the target .NET Core 2.0 (<TargetFramework>netcoreapp2.0</TargetFramework>). Visual Studio v15.3.4.
Perhaps this is a problem on my part, but maybe it will prove useful to somebody.
https://github.com/dotnet/docs/tree/master/sampl

[2017-10-23 14:17] rpetrusha opened #3495 "SHA256 documentation is incorrect, lacks detail"
# SHA256 documentation is incorrect, lacks detail

# General

The documentation for the first [SHA256](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256) class is incorrect or lacking in the detail needed to call the method.

## Issues with Existing Topics

- For the [SHA256](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256) class docume

[2017-10-23 14:48] omajid commented on #2791
Ping. Just trying to make sure we come to a decision and implement it!

[2017-10-23 16:05] #3246 closed

[2017-10-23 17:29] dougbu commented on #2642
Please include information about breaking changes affecting project files after migration from the "old style". Hit the breaking change described at https://github.com/dotnet/project-system/blob/master/docs/configurations.md over the weekend and didn't find that page 'til @natemcmaster told me about it. Need something better than tribal knowledge here&hellip;

[2017-10-23 20:22] BillWagner commented on #3323
@rpetrusha I added this to the Sprint 127 milestone. Is that when you had planned to finish it? If not, go ahead and move it to another sprint.

[2017-10-23 20:52] BillWagner commented on #3446
I'm waiting to assign this to a milestone for a couple reasons.

First, this is a great discussion, and I want to coalesce around what information should be in this topic.

Second, do you expect version information here as well? And, if so, to what detail (major version, minor version, build)?

[2017-10-23 20:56] BillWagner commented on #3491
@dkazbek Can you run `dotnet --version` and put the output from that in a comment? That will help us diagnose the core issue and help correct it.

Thanks.

[2017-10-23 20:59] BillWagner commented on #3404
This is a high priority, but there is quite a bit of work to break this up and not lose the information that is part of the current topic.

[2017-10-23 21:02] dsplaisted commented on #3368
This issue was moved to dotnet/cli#7889

[2017-10-23 21:03] dsplaisted commented on #3368
I've moved this issue [to the dotnet/cli repo](https://github.com/dotnet/cli/issues/7889), but I don't have permission to close it here in the docs repo.

[2017-10-23 21:25] BillWagner commented on #3368
Thanks @dsplaisted I'll close the issue here. See dotnet/cli#7889

[2017-10-23 21:25] #3368 closed

[2017-10-23 23:04] BillWagner commented on #2722
Closing this as fixed in #3172

[2017-10-23 23:04] #2722 closed

[2017-10-23 23:18] BillWagner commented on #3342
Adding @rpetrusha to the assignees list, because I think this is in scope for a few of the items you are working on for this sprint.

[2017-10-23 23:24] BillWagner commented on #3118
@svick can you give this a look and see if this has fixed the issue you opened?

[2017-10-24 00:19] svick commented on #3118
@BillWagner  The one case I found was already fixed in https://github.com/dotnet/docs/pull/3117 and I didn't notice any more cases since. After #3371 was merged, I was assuming this issue was waiting for "Terry to double check". I am fine with closing this.

[2017-10-24 02:31] CamSoper commented on #3404
What about splitting it up into Windows/Linux/macOS tabs?  Do we use tabs in the DotNet docs?  [Here's an example of what I'm talking about](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-tools?view=azure-dotnet&tabs=windows).

Also, it seems to me the Hello World tutorial should be made a bit more prominent.

[2017-10-24 03:40] ItsPugle commented on #3404
I've done some work in conjunction with sites like [wikiHow](https://wikihow.com) to improve articles and to make them more readable/welcoming for new users. If someone covers the technical stuff, I can go through and do some work on the wording to encourage new users. I'm not sure if I'd be able to do *that much* due to time restrictions but still....

[2017-10-24 08:19] MathieuBuisson commented on #3455
+1

[2017-10-24 11:48] ShalokShalom commented on #3446
Well, I think one fundamental question is, how we like to present this table.

Of course is it nice to present the whole thing in a manner that is nice to maintain.

Which is, why I left "current major issues" and such stuff out for now.

To be honest: This is something very obviously in my sense, so I suggest two solutions:

a) Current C#/VB/F# developers/maintainer care for this list and change

[2017-10-24 12:02] ShalokShalom commented on #3446
@enricosada

I do not see the whole range of available products in Github.
To start with, since they are spread on several repos.

I do not see the current state of these products on Github.

I also cant see, which of the other products are working well with this specific product.
So, .NET Native is running usable on C#, while not yet on F#, yes?

How to see this on Github?

[2017-10-24 14:41] BillWagner opened #3501 "Update local funcs vs. lambda expressions"
We have [this topic](https://github.com/dotnet/docs/blob/master/docs/csharp/local-functions-vs-lambdas.md) that describes some of the differences between local functions and lambda expressions. It also provides some of the justifications for the new feature.

@agocke wrote [this blog post](http://commentout.net/localfunc.html) that goes into more detail. The added information should be folded into

[2017-10-24 15:21] BillWagner commented on #3491
@dkazbek Hmmm. It works on my machine with the same versions.  (I did a fresh pull, ran `dotnet test` and the tests all ran.)

Can you post your source online in a gist or somewhere so I can compare? I'd like to get to the bottom of what's not working.

/cc @kendrahavens

[2017-10-24 15:38] BillWagner opened #3502 "[API Ref High traffic Low CSAT] System.DateTime"
The `System.DateTime` structure API reference receives very high traffic, but people aren't finding what they need. We'll update it, point to the relevant examples, and improve the experience.

[2017-10-24 15:43] BillWagner commented on #3118
Thanks @svick Closing now.

[2017-10-24 15:43] #3118 closed

[2017-10-24 16:16] BhaaLseN opened #3504 "DispatcherTimer ctor does not indicate that Start will be called automatically"
The [`DispatcherTimer(TimeSpan, DispatcherPriority, EventHandler, Dispatcher)` Constructor](https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatchertimer.-ctor?view=netframework-4.7.1#System_Windows_Threading_DispatcherTimer__ctor_System_TimeSpan_System_Windows_Threading_DispatcherPriority_System_EventHandler_System_Windows_Threading_Dispatcher_) automatically starts/enables

[2017-10-24 16:42] JRAlexander opened #3505 "[API Ref High traffic Low CSAT] If...Then...Else Statement (Visual Basic)"
[If...Then...Else Statement (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/statements/if-then-else-statement) API topic has repeated requests for updates. We'll update it, point to the relevant examples, and improve the experience.

[2017-10-24 18:48] dkazbek commented on #3491
@BillWagner Apparently, the problem was on my side. Now when the project is created, the tests are connected normally and with the version .NET Standard 2.0. Perhaps somehow I updated the versions of frameworks or something else.
I apologize for the inconvenience.

[2017-10-24 18:48] #3491 closed

[2017-10-25 18:21] JRAlexander opened #3530 "[API Ref High traffic Low CSAT] Task Class (System.Threading.Tasks)"
Need to improve the Task Class per user feedback.

[2017-10-26 13:00] gpetrou opened #3540 "Where are the CDXXXX analyzers as described in https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/index ?"
Perhaps I am missing something, but we are in the process of re-targeting our Desktop app from .NET 4.5 to 4.5.2 and according to https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/retargeting/4.5-4.5.2 there is a CD0129 analyzer associated with WPF changes. Where is this analyzer exactly? Looking through code analysis ruleset settings in Visual Studio there are no CDXXXX keys.
Are

[2017-10-26 23:37] CamSoper commented on #2716
[VSTS User Story](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1109824)

[2017-10-27 00:08] rpetrusha opened #3547 "### Create VB interpolated strings topic"
There should be a VB interpolated strings topic that's comparable to the C# topic.

There is a [preexisting note](https://github.com/dotnet/docs/projects/7#card-2685293) in another project.

[2017-10-27 17:13] BillWagner commented on #3278
I don't believe this should be a separate topic. The right action here is to point developers to the [Get started in 10 minutes](https://www.microsoft.com/net/core) on the .NET Core site when they are ready to move beyond the inline interactive tutorials.

That's the quickest, and simplest way to get started. It would then point them back to the later quick starts that they would run on their mach

[2017-10-27 18:23] rowanmiller commented on #3278
That makes sense to me. We keep that up to date with every release, and do a bunch of dynamic stuff around OS detection etc.

[2017-10-27 19:45] #3547 closed

[2017-10-27 22:08] rpetrusha commented on #3278
@BillWagner and @rowanmiller, I agree. The Get Started in 10 minutes page is quite good, and there's really no need for us to reinvent the wheel.

[2017-10-28 10:27] fschmied opened #3557 "Document correct serialization of exceptions in security-transparent assemblies"
When implementing exceptions with state, it's necessary to implement serialization in order to allow such exceptions to pass AppDomain boundaries. Up to .NET 4, this was done simply by overriding `GetObjectData` and providing a deserialization constructor.

Starting with .NET 4 and its security model, this is no longer possible with assemblies that have the `AllowPartiallyTrustedCallersAttribute`.

[2017-10-29 21:15] BillWagner opened #3563 "Update C# Quick Starts for online and local experience."
The C# Quick Starts currently focus on the online experience, and don't provide instructions for developers that are working locally.

Consider this plan:  Each online quick start would be duplicated by a local topic.  Where both exist, only the online quick start appears in the TOC.  The start of each online quick start will include a note to direct users to the local version. Each local version

[2017-10-29 21:22] BillWagner opened #3564 "update pages where private protected should be mentioned"
Taken from [this comment](3478#issuecomment-339464151)

These pages should be reviewed to see if a discussion of `private protected` should be added:

[event.md](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/keywords/event.md)
[constants.md](https://github.com/dotnet/docs/blob/master/docs/csharp/programming-guide/classes-and-structs/constants.md)
[fields.md](https://git

[2017-10-30 16:15] sputier commented on #3564
I'll take it as soon as #3478 is closed.

[2017-10-30 16:46] spottedmahn opened #3569 "[NewTopic] Add Allowed Chars to Namespace documentation"
# Issue Title

[In the namespace documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/namespace), there is no reference to which characters are allowed/not-allowed.  I think it should be listed here or a link to them.

# General

I just created a new c# library with hyphens in the project name and it converted my namespace to underscores.  Hyphens are very tren

[2017-10-30 22:30] Rick-Anderson commented on #2716
covered by https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-webapp-using-vs

[2017-10-31 00:38] sputier commented on #3564
@BillWagner I just opened the PR #3571 to address this issue.

[2017-10-31 15:14] svick opened #3575 "Changing collection while iterating it should not be undefined behavior"
The documentation for [`List<T>.GetEnumerator`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.getenumerator) and [`LinkedList<T>.GetEnumerator`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.linkedlist-1.getenumerator) say:

I think undefined behavior should be avoided if possible. In this case, I believe both collections ensure that if the

[2017-10-31 18:54] DCAG commented on #3455
+1

[2017-11-01 00:46] SZ-MSFT opened #3583 "[NewTopic] ZipArchive memory usage should be documented"
When reading a ZipArchive from a non-seekable stream, the library loads the entire archive into memory before processing individual members. It looks like this is expected behavior - zip files store entry metadata at the end of the archive, and it's necessary to read the metadata before extracting files.

Though valid, this should be noted in the documentation for ZipArchive so people aren't surpr

[2017-11-01 15:52] BillWagner commented on #3575
@svick I like this idea.  I'd like feedback from @safern and @ianhays on this idea as well.

[2017-11-01 21:19] ricardodsanchez commented on #3404
How about just using this page as a landing page with links to individual pages for each operating system?

Eventually, the individual pages for each OS will probably be linked up and accessed directly most times. There is really no reason to have Windows, Linux, and MacOS all in one page.

[2017-11-01 22:25] CamSoper commented on #3404
@ricardodsanchez - That's why I mentioned the tabs - That way the URL doesn't change, and we still simplify the page for the user.  Also, DocFx (the documentation platform) is going to have the capability to automatically select the tab relevant for the user's OS sometime in the near future (if it's not there already).

[2017-11-02 12:49] safern commented on #3575
I also like this idea as well. Saying `it's behavior is undefined` makes it not very clear on what will happen if the collection is modified and actually there is a defined behavior as @svick mentions which is throwing an `InvalidOperationException`

[2017-11-03 04:53] Daniel15 opened #3603 "REST client example shouldn't create instances of HttpClient per call"
The article at https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/console-webapiclient is using the anti-pattern of creating a new instance of `HttpClient` per call. It should be using a shared instance. See the docs at https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netframework-4.7.1:

The way I usually handle this is by adding a `HttpClient` singleton to the de

[2017-11-04 21:03] sputier commented on #3564
@BillWagner I had taken a closer look to the files listed above. The following pages only need to be updated to have a link to the `protected internal` modifier page : `private protected` is not involved in CLS compliance as members using this access modifier are not visible outside their declaring assembly.

[cs3001.md](https://github.com/dotnet/docs/blob/master/docs/csharp/misc/cs3001.md)
[cs300

[2017-11-05 10:35] sputier commented on #1593
I just submitted the PR #3614 to fix this issue. Let me know if this needs rework.

[2017-11-06 02:56] BillWagner commented on #3564
@sputier Yes, let's remove the [WIP] in the title, and I'll give it a final review.

[2017-11-06 16:04] doctordns opened #3619 "Language requested (C++) results in examples in C#"
# Issue Title
On page: https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.getsystemtimezones?view=netframework-4.7.1#Applies_to Selecting Language C++ gives examples in C#.

# General

See the graphic - The language requested is C++, while the examples offered are shown in C#

[2017-11-06_15-52-16](https://user-images.githubusercontent.com/3630329/32450044-1d0b2db6-c30b-11e7-9ed4-8903

[2017-11-06 16:07] doctordns opened #3620 "Selecting Language C++ - Examples shown in C#"
# Issue Title
On page: https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.getsystemtimezones?view=netframework-4.7.1#Applies_to Selecting Language C++ gives examples in C#.

# General

See the graphic - The language requested is C++, while the examples offered are shown in C#

[2017-11-06_15-52-16](https://user-images.githubusercontent.com/3630329/32450044-1d0b2db6-c30b-11e7-9ed4-8903

[2017-11-06 17:26] kendrahavens opened #3621 "Admin not required to view FX version"
# Add doc for users to determine .NET Framework Version that does not require admin privileges.

The doc on [how to determine which versions of the .NET Framework are installed](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed) requires the user to have admin access. This isn't a good practice. Users can determine their .NET FX version

[2017-11-06 17:46] ianhays commented on #3575
Sounds good to me.

[2017-11-06 20:08] mairaw commented on #3621
Not sure if this is a reliable mechanism to verify the current version of the framework you have installed. Even if I do search for .NET Framework, this is what I get on my machine:
![image](https://user-images.githubusercontent.com/12971179/32461542-0b9a6922-c2eb-11e7-8372-afef793c9d67.png)

But my registry tells me I have .NET Framework 4.7.

/cc @rpetrusha

[2017-11-06 20:55] MohitGargMSFT opened #3623 "Fix Link to Sample Application in Microsoft Document"
Fix Link to Sample Application in Microsoft Document

Regarding this document - https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/how-to-localize-an-application

in above document , in Create a Sample Application section
Link to LocBaml Tool Sample does not work

edit by @mairaw: added docs info below

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2017-11-06 20:58] #2652 closed

[2017-11-06 20:58] #2683 closed

[2017-11-06 21:08] wadepickett commented on #3623
@rpetrusha, please make sure this one gets assigned soon.

[2017-11-06 21:12] mairaw commented on #3623
I've asked @mohit14mar to file this one. I need to follow up with the product team to see if there's a good replacement for this. It could be https://github.com/Microsoft/WPF-Samples/tree/master/Globalization%20and%20Localization/BAML%20Loc.

[2017-11-06 21:20] manojsubramani commented on #3623
Could it be this? https://github.com/Microsoft/WPF-Samples/tree/master/Getting%20Started/HelloWorld

[2017-11-06 21:21] mairaw commented on #3623
@SamBent @sachingo can you guys help us find where the LocBaml tool is now located or if it was deleted? Our old link http://go.microsoft.com/fwlink/?LinkID=160016 no longer works.
My guess would be https://github.com/Microsoft/WPF-Samples/tree/master/Globalization%20and%20Localization/BAML%20Loc.

[2017-11-07 03:40] #3375 closed

[2017-11-07 03:43] #3501 closed

[2017-11-07 08:20] Vlaaaaaaad commented on #2652
I got excited when this got updated, but there is yet another issue.

The recommended image to use, `microsoft/dotnet:2.0-sdk`  fails with `/app/docker-compose.dcproj : error MSB4236: The SDK 'Microsoft.Docker.Sdk' specified could not be found.` as per https://github.com/dotnet/cli/issues/6178 .

Any plans to fix this? I don't find it ok for the official documentation to recommend failing images.

[2017-11-07 18:08] #1593 closed

[2017-11-07 19:15] mairaw commented on #3620
@eisenbergeffect @dend that page doesn't have a C++ sample. Did we change something in the site to display a different language when the language selected is not available? This might be confusing to readers.

[2017-11-07 19:16] mairaw commented on #3619
Duplicate of #3620

[2017-11-07 19:16] #3619 closed

[2017-11-07 19:18] EisenbergEffect commented on #3620
I think engineering may have made a change in this respect, probably to fix a bug in another area of the site. If the language that is selected isn't available, what would you expect to happen? I assume that right now it just falls back to the default language. I'll check with engineering to be sure. Just not displaying any code samples doesn't seem like the right option either. Should we display

[2017-11-07 19:18] BillWagner commented on #3603
I am thinking about the best way to present this. I'm concerned about adding DI to an introductory tutorial. You are right that we need a better way to reuse the same client.

[2017-11-07 19:18] mairaw commented on #3583
@JeremyKuhne, @pjanotti can you comment on this?

[2017-11-07 19:28] mairaw commented on #3569
Thanks @spottedmahn for your feedback. We'll lool into this. This will apply to all identifiers not only namespaces.

The spec covers some of this (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/lexical-structure#identifiers) but not in the most friendly way.

[2017-11-07 19:35] mairaw commented on #3557
Thanks @fschmied. @ViktorHofer would you be the right person to discuss this proposal?

[2017-11-07 19:37] mairaw commented on #3540
@rpetrusha @conniey can you look at this issue and provide some guidance to @gpetrou?
Do we have any topic that covers these analyzers? Thanks!

[2017-11-07 19:40] mairaw commented on #3504
Thanks for your feedback @BhaaLseN. Can you comment on this @Tanya-Solyanik? Is that the only constructor that does this? Is this by design?

[2017-11-07 19:45] mairaw commented on #3455
Thanks everyone for your input. I'll be closing this discussion as I think we've had enough feedback that folks finding it valuable to add PowerShell examples to our documentation set. We'll be taking PRs from the community to help us do that. If you're interested in helping, please reach out. We can open individual issues for the enhancements we'll be making over time.

[2017-11-07 19:45] #3455 closed

[2017-11-07 19:46] mairaw commented on #3448
@EisenbergEffect do we have an internal bug/request tracking this issue already?

[2017-11-07 19:46] rpetrusha commented on #3621
I'm not sure that this is a reliable mechanism either; AFAIK, Add or remove programs only works for Windows versions that don't have a preinstalled version of the .NET Framework. I think that that's why Maira's Windows 10 system doesn't list any installed versions, but only optional installs (SDKs and targeting packs).
There are also two larger issues:
- The How to determine which .NET Framework v

[2017-11-07 19:50] mairaw commented on #3446
@richlander any thoughts on this?

[2017-11-07 19:51] rpetrusha opened #3631 "Clarify target audience of .NET Framework version detection topic"
# Clarify target audience of .NET Framework version detection topic

## Issues with Existing Topics

[How to: Determine which .NET Framework versions are installed](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed) recommends the use of the registry (and requires administrative privileges) to detect the installed version of the .NET Fr

[2017-11-07 19:52] EisenbergEffect commented on #3448
Just pinged you on the feature.

[2017-11-07 19:54] JeremyKuhne commented on #3583
@ianha What are your thoughts on this?

[2017-11-07 20:17] Tanya-Solyanik commented on #3504
@AlexGhiondea  - Who owns DispatcherTimer?

[2017-11-07 20:20] merriemcgaw commented on #3621
@rpetrusha and @mairaw are correct, Add/Remove Programs is not recommended for determining which .NET Framework version is installed. The only recommended way for developers to determine the runtime is to use the registry as the article indicates.

[2017-11-07 20:43] conniey commented on #3540
@twsouthwick Should we add documentation for .NET Compat Analyzers?

[2017-11-07 20:50] ViktorHofer commented on #3557
Thanks for the ask. You are absolutely right, `Exception.SerializeObjectState` is something more recent and used by the Desktop framework. In Core we don't have that at all as we don't support Code Access Security or multiple AppDomains anymore. Therefore the ask for documenting this would only apply to the Desktop framework. This isn't currently very high on my todo list.

[2017-11-07 20:53] iancarpenter commented on #3424
Can I volunteer to fix this?

[2017-11-07 21:12] sputier commented on #3495
I start working on this issue right now.

[2017-11-07 21:49] doctordns commented on #3620
Seems to me that the Languages pull-down should be populated only from the languages for which there ARE samples?

Also - There was a Pull Request on this page, adding a PowerShell sample, but this does not show up either?

[2017-11-07 21:54] EisenbergEffect commented on #3620
@doctordns I agree. This is a shortcoming in the way that the language dropdown is populated today. It's completely disconnected from what code samples actually exist on a given page ;( That's something I've wanted to fix for a long, long time but it has been continually pushed down the priority list relative to other fixes/features. I'm trying to raise the priority again in an upcoming sprint, si

[2017-11-07 22:15] mairaw commented on #3620
Ideally, it would behave like @doctordns describes. It would auto-populate based on what samples are available from a list of languages we provide to be filtered. This is to distinguish from code identifiers that would not be filtered. For example, XAML or XML would always be displayed and not be part of a filter.

Another option would be to show a message similar to what MSDN does if the language

[2017-11-07 22:30] sputier commented on #3495
@rpetrusha Regarding the first issue you mentioned, should I list the 3 implementations of SHA256 or do you prefer to have something simple, like "This is an abstract class which has 3 implementations".

[2017-11-08 01:01] #3564 closed

[2017-11-08 01:16] mairaw commented on #2459
@JRAlexander I still see qualifyHint in links in the migrated content:
https://github.com/dotnet/docs/search?utf8=%E2%9C%93&q=qualifyHint&type=

So I think this issue should remain open until that is fixed.

[2017-11-08 04:48] JRAlexander commented on #2459
Yes, I couldn’t find any QualifyHint in my local repo so I thought it was finished. I was going to ask you for a sanity check earlier today. I now see I was in core only. Apologies! Thanks for reopening.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, November 7, 2017 7:16:36 PM
To: dotnet/docs
Cc: John Alexa

[2017-11-08 10:03] doctordns commented on #3620
OK – first thanks for finding that that PowerShell Sample has gone up. Sadly, the sample is on the wrong page – and I am NOT sure how that happened! 😊

Two more things relating to this first sample (besides the fact that the sample is on the wrong page):

  1.  The Language selector does not affect whether or not the PS sample is shown. On the ‘supportsdaylightsavingtime’ page, the ‘ps’ sample is

[2017-11-08 22:53] sputier commented on #3495
@rpetrusha I just opened PR #3636 to fix this issue.

[2017-11-08 23:31] sputier commented on #90
@mairaw @BillWagner What is the current state of this issue ? Regarding the previous discussion on this topic, is there a preferred way of organizing and working on it ?

Is this king of layout (suggested a long time ago) OK ?

    docs
        linq
            overview.rst
            restriction-operators.rst
            projection-operators.rst
            partitioning-operators.rst
    ...

[2017-11-09 07:28] kouvel opened #3640 "Linking to ApiCompat notes for differences in behavior between .NET Framework and Core"
There are several differences in behavior between .NET Framework and .NET Core that are documented here: https://github.com/dotnet/corefx/wiki/ApiCompat

It may be beneficial to link to that page from doc pages for affected APIs, or to fold that information into the official docs.

[2017-11-09 19:10] JeremyKuhne opened #3644 "CreateSafeFileHandle not documented"
[`System.IO.WindowsRuntimeStorageExtensions`](https://msdn.microsoft.com/en-us/library/system.io.windowsruntimestorageextensions.aspx) (from the `System.Runtime.WindowsRuntime` library) had APIs added for converting from `Windows.Storage.IStorageFile` and `Windows.Storage.IStorageFolder` to `Microsoft.Win32.SafeHandles.SafeFileHandle`. These don't appear to be documented anywhere.

The key usage s

[2017-11-09 20:01] alex-groshev opened #3645 "Code example in the Managed Threading Best Practices topic does not match text"
Page: https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-threading-best-practices

Chapter: Deadlocks

Text:

C# Code:

`if (Monitor.TryEnter(lockObject, 300)) {
    try {
        // Place code protected by the Monitor here.
    }
    finally {
        Monitor.Exit(this);
    }
}
else {
    // Code to execute if the attempt times out.
} `

VB Code:

`If Monitor.TryEnter(lockObject,

[2017-11-09 21:54] mairaw commented on #3644
Hi @JeremyKuhne! The page you link from MSDN is not hooked up to the TOC, which means at some point reflection stopped picking up that API as part of the product.
For .NET Framework for example, I don't see System.Runtime.WindowsRuntime.dll as part of the reference assemblies set we reflect against.

Do you know if this is shipped separately?

[2017-11-09 22:59] kendrahavens commented on #3621
@merriemcgaw So any developer who would like to figure this out is required to have admin rights?

[2017-11-09 23:05] JoshuaKGoldberg commented on #3621
This is silly.

If my program, which should be able to run without admin rights (security??), needs to determine its .NET version, you want me to copy & paste some blob from the MS Docs website? Why is there not at least some built-in equivalent to the code in the article?

At least part of the issue here is that:
* (The docs don't recommend / there doesn't exist) a single built-in way to check yo

[2017-11-10 00:23] EisenbergEffect commented on #3620
Quick update: We're working through some of the configuration to make some small improvements to this in the short-term. Beyond that, we've got some feature work planned to improve both the underlying code block functionality and the UI. So, we hope to make some larger improvements to this in the future. Thanks for all the feedback and for taking the time to work through the details.

[2017-11-10 00:43] JeremyKuhne commented on #3644
It was a separate package, but I also mistakenly thought we shipped an updated standalone package for this. The update was only was published as part of Microsoft.NETCore.UniversalWindowsPlatform and you have to target Fall Creator's Update or higher for the APIs I have listed above.  That gets you the following version of the assembly (4.0.3.0 is the latest standalone):

System.Runtime.WindowsRun

[2017-11-10 00:51] mairaw commented on #1851
@svick this has been fixed. So I'm closing this issue. Thanks again for reporting this!

[2017-11-10 00:51] #1851 closed

[2017-11-10 00:52] mairaw commented on #3644
Ok, that makes sense then. We haven't onboarded UWP to the .NET API reference yet as one of the selections. @dend might have some details on when that's coming.

There's also a discussion on how we show APIs that we ship on NuGet packages, which could apply here too.

[2017-11-10 01:08] mairaw commented on #3620
@doctordns There are a lot of improvements that need to happen, but the good news is that there's a team dedicated to make sure that happens.

The ps thing was an error. The correct way of referencing was code-powershell which I fixed with PR #3632. So now it will say PowerShell and not ps. I also tried to add the filter to that page. Not sure if it worked. (We can also fix to add the sample to th