[2019-06-03 16:39] jwisener commented on #12469
Agreed!

[2019-06-03 16:45] BillWagner commented on #8206
The work planned for this is being replaced by #12642 and #12645
Closing.

[2019-06-03 16:45] #8206 closed

[2019-06-03 16:47] user2150 opened #12648 "Is it legal to decompile .NET Framework using tools like JetBrains dotPeek?"
Not sure whether this page is the right place for this question, sorry for possibly wrong choice.

My question is about debugging .NET Framework source code in Visual Studio. Sometimes it's impossible: for example, when the downloaded PDB is stripped we get "Source not available" message. There are tools like JetBrains dotPeek which can help, but is it legal? Almost every license agreement nowaday

[2019-06-03 16:58] BillWagner opened #12649 "Simplify C# Guide TOC structure"
The C# Guide made use of many child TOCs as part of the migration from MSDN.

A number of these should be combined into a single TOC, especially in the C# Language reference.

That would enable the DisplayName feature to be more useful to find reference nodes with operator symbols (e.g. `??`, `+=`, etc)

[2019-06-03 17:40] Thraka commented on #12640
Hello!

I think you will have a better chance of getting these types of questions answered if you post it on a forum such as [StackOverflow](https://stackoverflow.com/search?q=csharp+global+namespace). Though I think you did get it answered 😁

I'm going to close the issue.

I am interested though in why you arrived at this article. Are you coming from C++ so the `alias::type` syntax appealed to yo

[2019-06-03 17:40] #12640 closed

[2019-06-03 18:12] CeciAc commented on #12641
Hi @karelz
the reported segment is not localized, because is in the code box.
![imagen](https://user-images.githubusercontent.com/26746247/58824106-b2922900-8611-11e9-9e55-89ee1aa98238.png)

The chinese text in the comment is just a placeholder from the automatic template to logging issues (It just says "Feedback")
best

[2019-06-03 19:20] #12616 closed

[2019-06-03 20:34] KathleenDollard commented on #12604
@livarcocc @dsplaisted

[2019-06-03 20:47] gsoftconsulting opened #12650 "Does not work when the extension is stored in separate dll"
Works fine when used in the same assembly, but does not work from separate dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d8ae3c-8c7e-9672-50b8-409c8be3ab73
* Version Independent ID: a7def2f3-beeb-16a4-d769-b9b5f269e6d3
* Content: [Extending the My Namespace in Visual Basic](https://docs.microsoft.com/en-us/dotne

[2019-06-03 21:27] rpetrusha commented on #12647
You'd call it just as you would call any static member, @ma17961363. Here, `A` defines no static members of its own, but it inherits `Equals(Object, Object)` and `ReferenceEquals(Object, Object)` from Object. So you could call `ReferenceEquals`, for example, as `A.ReferenceEquals(a, b)`.

[2019-06-03 21:27] #12647 closed

[2019-06-03 22:12] Thraka commented on #12591
Good catch. I think the content could actually just reuse the existing example for `StringBuilder`

[2019-06-03 22:17] mairaw commented on #12602
Closing due to the lack of actionable feedback.

[2019-06-03 22:17] #12602 closed

[2019-06-03 22:23] Thraka commented on #12509
@JRAlexander Assigning to you just to get your thoughts on it. I don't know what article is being talked about but it sounds like it's in your realm (or shard, depending on your age 🎲). Feel free to remove yourself as assignee.

[2019-06-03 22:23] mairaw commented on #12641
Adding this feedback item to our community project and our backlog.
Example could be changed to use a different URL.

Locations that have to be changed:
- https://github.com/dotnet/docs/blob/master/docs/framework/network-programming/how-to-request-data-using-the-webrequest-class.md
- https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Network/RequestDataUsingWebRequest/cs/Web

[2019-06-03 22:33] rpetrusha commented on #12646
Thanks, @CeciAc. This is a case of some of the C# code and all of the Visual Basic code having been lost during a migration.

[2019-06-03 22:33] Thraka commented on #12484
Closing as this issue seems resolved.

[2019-06-03 22:33] #12484 closed

[2019-06-03 22:33] mairaw commented on #12521
Tagging @natke since this is a request for a new ML.NET article.

[2019-06-03 22:36] PoulBak opened #12653 "What about negative numbers?"
There's not a word about negative numbers and showing/hiding the plus/minus sign!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f543acea-d042-bbcf-5f83-de8b11644366
* Version Independent ID: 18c2ed9b-4015-109c-1ac2-b9b39ed19e8b
* Content: [Custom Numeric Format Strings](https://docs.microsoft.com/en-us/dotnet/standard

[2019-06-03 22:37] mairaw commented on #12509
@randallto can you paste a link to the article you're referring to?

[2019-06-03 22:49] mairaw commented on #10231
Closing due to the lack of response.

[2019-06-03 22:49] #10231 closed

[2019-06-03 22:53] mairaw commented on #10469
I added Paul to the thread. Let's see if we can get this fixed!

[2019-06-03 22:54] Thraka commented on #10094
Closing due to no response.

[2019-06-03 22:54] #10094 closed

[2019-06-03 22:55] mairaw commented on #12149
Given that we can't reproduce this problem anymore and the correct page (https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/modifiers/friend) doesn't present this issue, I'll close this.

[2019-06-03 22:55] #12149 closed

[2019-06-03 22:57] mairaw commented on #12440
@johnbeisner can you help with this question?

[2019-06-03 22:59] mairaw commented on #10365
Closing due to the lack of response. @reed123 if that doesn't solve your issue, please get back to us.

[2019-06-03 22:59] #10365 closed

[2019-06-03 23:07] mairaw commented on #12382
Thanks @jack147527. You're right. It hasn't been solved yet.

But I'll resolve this one as duplicate of #11979 to keep only one tracking issue.

[2019-06-03 23:07] #12382 closed

[2019-06-03 23:09] mairaw commented on #11979
The issue reported here is different than what you're stating @BillWagner and it's very odd (although the samples are also broken and need to be fixed).

The issue is that when you click on the link that takes you to https://try.dot.net/, the page opens blank.

[2019-06-03 23:10] mairaw commented on #12234
To which topic is this referring to @niconico49?

[2019-06-03 23:14] mairaw commented on #12225
I've created PR #12655 to fix the broken link but ACS was retired last year:
https://azure.microsoft.com/en-us/blog/one-month-retirement-notice-access-control-service/

[2019-06-03 23:15] mairaw commented on #12516
@stevestein tagging you since this feedback is referring to ADO.NET content.

[2019-06-03 23:16] mairaw commented on #12515
@stevestein another feedback regarding ADO.NET content

[2019-06-03 23:17] mairaw commented on #12470
@anato-s which article are you referring to regarding incorrect documentation?

[2019-06-03 23:39] jonsequitur commented on #11979
@BillWagner We would have to set up a custom Try .NET package on the server or modify the default package to include `System.Memory`.

@mairaw The link issue will take some more investigation. I suspect there's JavaScript running in the page that's falling afoul of some security mechanism on the Try .NET site. In any case, I think the link should possibly go here instead: https://dotnet.microsoft.

[2019-06-03 23:41] marchy opened #12656 "Sample for ranking task"
Could you please put up a sample of a ranking task?

The mentioned algorithms seem to require a 'groupId' field, but could not get this working despite a bunch of trial & error. The documentation for these wrongly state that the column is optional (ie: 'The optional groupID column that the ranking trainers expects.' - link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.fasttree

[2019-06-03 23:41] rpetrusha commented on #12653
There is no feature that allows the minus sign to be shown, @PoulBak. The only control over a plus/minus sign is provided by the **e+**_xx_ and **e-**_xx_ elements.

[2019-06-03 23:41] #12653 closed

[2019-06-04 01:12] BillWagner commented on #11979
@jonsequitur I think adding `System.Memory` would make sense.  I can think of a number of page where using `Span<T>` would be useful (stackalloc, ref locals, and so on...).

Should I add an issue at dotnet/try?

[2019-06-04 01:20] jonsequitur commented on #11979
That sounds good. Thanks!

[2019-06-04 02:48] #12225 closed

[2019-06-04 03:00] paul commented on #10469
Wrong @paul, though :stuck_out_tongue:

[2019-06-04 04:27] walkerjian commented on #12568
You are correct, this is not plain enough either, I worked out what was wrong and fixed it up - quite an easy fix too, just move the docker file! but I would like to see more explicit explanation of exactly where files should go, and especially with docker - which locality you enter commands! The error is characteristic of the command not being able to find the file - I had another experience wher

[2019-06-04 04:43] ma17961363 commented on #12647
The compiler gets an error that Namespace 'N' contains a definition conflicting with alias 'A'!

[2019-06-04 05:39] RoyceLithgo opened #12659 "Examples with CultureInfo do not Run inline"
Here is the output from pressing the Run button on the 2nd example:

(1,1): error CS0246: The type or namespace name 'CultureInfo' could not be found (are you missing a using directive or an assembly reference?)
(1,33): error CS0246: The type or namespace name 'CultureInfo' could not be found (are you missing a using directive or an assembly reference?)

Remaining examples on the page produce simi

[2019-06-04 06:41] FIVIL opened #12660 "SIMD docs"
I recently used SIMD capabilities of .net and I find it fascinating, however, the official documentation seems lagging in this regard -the only thing I could find is this [Numerics in .NET](https://docs.microsoft.com/en-us/dotnet/standard/numerics) which is not complete- so I wanted to create a complete SIMD documentation.
my proposed outline  contains:
1. What is SIMD
1. How we can use SIMD in .n

[2019-06-04 09:34] gjaryczewski opened #12661 "The False method is not a member of the Assert class"
It looks that this line:
Assert.False(result, "1 should not be prime")
should be:
Assert.IsFalse(result, "1 should not be prime")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70f3ccd5-7cf4-f401-4797-9d8ef182fe82
* Version Independent ID: 7168f552-cf3f-b1ee-dc3d-5a38aa093730
* Content: [Unit testing Visual Basic in .N

[2019-06-04 12:13] baruchiro opened #12663 "The FastTree algorithm is in separated nuget"
We must add the `Microsoft.ML.FastTree` to use it

---
#### פרטי מסמך

⚠ *אין לערוך מקטע זה. פעולה זו נדרשת עבור קישור לנושאים ב- docs.microsoft.com ← GitHub.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad-5057-5f96f52dc60f
* Content: [Tutorial: Predict prices using regression - ML.NET](https://docs.microsoft.com/he-il/dotnet/machine-learning/tutorials/pr

[2019-06-04 13:18] BillWagner opened #12664 "Verify interactive samples that rely on `System.Memory`"
See https://github.com/dotnet/docs/issues/11979#issuecomment-498481429

Once dotnet/try#253 has been fixed, we need to check samples that use `Span<T>` or `Memory<T>` to ensure they are fixed.

[2019-06-04 13:38] reed123 commented on #10365
Yes sorry for lack of reply, that solves my problem

On Mon, Jun 3, 2019 at 6:59 PM Maira Wenzel <notifications@github.com>
wrote:

--
Sent By: Reed Kemp
Via: GMail [https://mail.google.com]
Send Me A Email: [http://emailreed.gdn] (beta)

[2019-06-04 14:30] randallto commented on #12509
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/predict-prices
I think I may have found that FastTreeTweedie seems to be doing some actual estimating. The FastTree was simply just finding the closest record in the data and returning that exact payment value instead of doing an estimate.  That test was doing a prediction of values that were not identical to anything in the traine

[2019-06-04 14:40] #12552 closed

[2019-06-04 14:41] ShaunLoganOracle commented on #4675
I have a VSTO add-in for Excel (C#), that targets .NET 4.7.  It uses HttpWebRequest (not WCF). I observe the following when I do not specify a value for ServicePointManager.SecurityProtocol (as recommended by the doc):
1) On Windows 7 and Windows 10 with .NET 4.7.2, the client HTTPS handshake offers TLS1.0.  This fails when the server supports only TLS1.2 (as expected).  Unexpected: why is it offe

[2019-06-04 16:01] davidsh commented on #4675
The behavior you are seeing is expected (although not always intuitive):

In terms of (1), while the Windows 7 or Windows 10 machine may have .NET Framework 4.7.2 installed, that doesn't alone control the default behavior. The default behavior is also controlled by what .NET Framework version is being targeted by the application. So, for example, you can have .NET 4.7.2 installed but the app is on

[2019-06-04 16:10] rpetrusha commented on #12647
That's expected, as the source code comment indicates. The code defines a class named `A` and an alias for the System.IO namespace named `A`. The compiler is unable to resolve a reference to `A` and so compilation fails.

[2019-06-04 16:21] svick commented on #12647
@ma17961363 In that example, the name `A` is ambiguous, but there are other ways to refer to the class that aren't, e.g. `N.A` or `global::N.A`.

[2019-06-04 16:22] rpetrusha commented on #12661
Thanks for reporting this issue, @gjaryczewski. We've opened #12667 to correct the method name.

[2019-06-04 16:29] #12646 closed

[2019-06-04 16:48] natke commented on #10277
Closing, as we have refactored this article out of the set.

[2019-06-04 16:48] #10277 closed

[2019-06-04 16:51] natke commented on #10846
We have calibration, but not normalization and scoring

[2019-06-04 16:55] natke commented on #12656
Thank you for this suggestion @marchy. We have added it to our backlog.

[2019-06-04 16:58] natke commented on #12637
Thank you for the feedback @baruchiro. The CLI doesn't currently support the recommendation task. Once it does, we will add documentation for it.

[2019-06-04 16:58] #12637 closed

[2019-06-04 17:02] natke commented on #12521
Thank you @CESARDELATORRE. We have added this to our backlog.

[2019-06-04 17:05] natke commented on #12509
@randallto, let us know if you solved your problem.

[2019-06-04 17:06] natke commented on #12451
Thank you @CESARDELATORRE. We have added this to the backlog.

[2019-06-04 17:07] Thraka opened #12668 "Fix Whats New section"
Remove the What's New index page and point to 3.0.

The index page is useless and it will help the TOC look better and should redirect to the whats new 3.0 page.

[2019-06-04 17:09] natke commented on #12410
Thank you for the feedback @djary. @JRAlexander can you please have a look at the wording of this para, and clarify as needed.

[2019-06-04 17:12] natke commented on #12228
Closing as a dupe of #12280

[2019-06-04 17:12] #12228 closed

[2019-06-04 17:16] natke commented on #11998
@RushikeshRPawar, have you tried this with ML.NET 1.0? If you are still having issues, can you please post your code and a sample of the data?

[2019-06-04 17:20] natke commented on #11555
Hi @Angusonly, can you please ask this product support question in the gitter channel: https://gitter.im/dotnet/mlnet, or  stackoverflow: https://stackoverflow.com/questions/tagged/ml.net

[2019-06-04 17:20] #11555 closed

[2019-06-04 17:31] ShaunLoganOracle commented on #4675
Thanks @davidsh
Your explanation of Excel's behavior makes sense.

re:

Except on Windows 7, where I see TLS 1.0 when I set both AppContext switches to false. If I have that wrong and there is some way to have Win 7 lead with TLS 1.2 without hardwiring the SecurityProtocol property,  please let me know.

[2019-06-04 17:43] davidsh commented on #4675
While all of the Windows OS versions (7, 8.x, 10, etc.) support TLS 1.2, not all of them include TLS 1.2 in the "default set".  Specifically Windows 7 does *not* include TLS 1.2 in the "default set".  So, unfortunately, specifying "SystemDefaultTlsVersion" behavior does not help you get TLS 1.2 for Windows 7.

See:
https://support.microsoft.com/en-us/help/3154519/support-for-tls-system-default-ver

[2019-06-04 17:51] Thraka opened #12669 "MD5 Hash algorithm replacement - Part 2"
Related to #10198

This is an issue to track what will be updated for the June milestone.

From the main issue, here are the articles that will be addressed this sprint:

**UPDATE 6/21**\
Created [internal work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1560545) to have this work done by the Aquent team.

## Articles

- [ ] docs\framework\unmanaged-api\debugging\icordebu

[2019-06-04 18:07] #11979 closed

[2019-06-04 18:23] #12315 closed

[2019-06-04 18:28] #12661 closed

[2019-06-04 18:30] mairaw commented on #12543
Thank you @dasMulli for reporting this and opening the PR.
@KathleenDollard is this also a bug in `dotnet --help`, which also doesn't show those options (`--depsfile` and `--runtimeconfig`)?

/cc @vitek-karas @elinor-fung

[2019-06-04 19:12] Thraka commented on #12568
Great feedback. I'll incorporate that 👍 thanks!

[2019-06-04 19:14] Thraka commented on #11593
Kicking this up as it's been pushed off too many times.

[2019-06-04 19:21] Thraka commented on #6496
Details on what is going on:

dotnet restore is extremely similar to:

dotnet msbuild /t:restore
(this runs with net core’s msbuild)

msbuild /t:restore
(runs with net framework’s msbuild)

Restore Target and Task are implemented in nuget.build.tasks.dll:
https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.Build.Tasks

Some other docs:

Nuget.config details:
https://docs.microsoft.

[2019-06-04 19:54] akeeton opened #12671 "Warn about carefully placing the --self-contained flag"
When placed at the end of the options, the `--self-contained` flag will not work:

    dotnet publish --runtime win-x64 --configuration debug --self-contained project.fsproj
    [...]
    C:\Program Files\dotnet\sdk\2.2.203\Sdks\Microsoft.NET.Sdk\target\Microsoft.NET.Sdk.targets(146,23): error MSB4030: "project.fsproj" is an invalid value for the "IsSelfContained" parameter of the "GenerateDepsFil

[2019-06-04 20:37] Rockin4Life33 opened #12672 "Nullable Types on VS 13 or 15"
VS 2013 and/or VS 2015 does not seem to support Nullable Types.

TFS VS 2013/2015 build server errors out when encountering Nullable types, I get errors on "?" on the line where I use them when I run a build.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b179d23d-c2fc-b4d6-64a6-451e5dd6c26c
* Version Independent ID: 7

[2019-06-04 21:48] Thraka commented on #8932
@mairaw Who do we contact about F1 help?

[2019-06-04 21:56] Thraka commented on #11668
@peterhuene Perhaps you know?

[2019-06-04 22:01] Thraka commented on #7064
@MelbourneDeveloper This seems to have fallen off of the radar. I believe I understand what you're trying to get at, the csproj fields that correspond to the nuget fields is not documented very well, correct?

[2019-06-04 22:04] MelbourneDeveloper commented on #7064
Thanks @thraka but it's more about fields that cannot be edited in the csproj file. Visual Studio 2019 is a lot better than 2017 but I think there is still one or two fields missing. I have to manually edit the NuGet after building.

[2019-06-04 22:05] MelbourneDeveloper commented on #7064
It's all about the package tab of the project in VS

[2019-06-04 22:23] Thraka commented on #7064
Gotcha. This is more of a feature request around Visual Studio. I would file a bug over at https://developercommunity.visualstudio.com/spaces/8/index.html to start. This isn't a bug with our documentation 😄 I'm going to close this.

[2019-06-04 22:23] #7064 closed

[2019-06-05 08:01] Tvde1 commented on #12546
Read https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md.

[2019-06-05 08:07] SwitchNikky commented on #12568
I agree with Walkerjian. As I do not like "default values" at all, I think the required folder hierarchy should be visible somewhere. Typically, my problem come from my hate of default values. Actually, I am not able to place the Dockerfile 1 level up. Because I changed my folder hierarchy without knowing the consequences on Docker.

[2019-06-05 09:47] casdijkman opened #12679 "false operator returns true"
&gt; [false operator](true-false-operators.md) - returns the [bool](../keywords/bool.md) value `true` to indicate that an operand is definitely false.

should be

&gt; [false operator](true-false-operators.md) - returns the [bool](../keywords/bool.md) value `false` to indicate that an operand is definitely false.

 In docs/docs/csharp/language-reference/operators/index.md  Unary operators section

[2019-06-05 12:22] #12679 closed

[2019-06-05 12:22] BillWagner commented on #12679
@casdijkman The article is correct.  `operator false` answers the question "Is this false?" (Similarly, `operator true` answers the question "Is this true?" )

See [User defined logical operators](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/expressions#user-defined-conditional-logical-operators) in the C# language spec, and the referenced example.

[2019-06-05 12:24] casdijkman commented on #12679
@BillWagner Thanks for your reply. You are correct. I misinterpreted the false operator

[2019-06-05 12:46] Thanaen commented on #12549
For ASP.NET Webforms users (like me), calling ConfigureAwait(false) on an async mathod makes the Page.Context / HttpContext.Current unavailable for the following code. This could potentially break a lot of websites if you decided to make ConfigureAwait(false) the default case.

[2019-06-05 13:09] BillWagner opened #12680 "Reconcile multiple gac / assembly topics"
This started from a discussion on #12573

Much of the important discussion is captured there. The fix for this issue should accomplish the following:

1. Content no longer necessary is retired.
1. Content still relevant is in an appropriate location in the .NET content.
1. Relevant content is visible in the appropriate TOC.

This content is language independent, so the C# Guide and VB Guide are no

[2019-06-05 13:37] leonmeijer opened #12681 "How to do this problematically?"
How to do this problematically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0f416a-1b76-ac94-2fe5-45a163159624
* Version Independent ID: 50a5efbf-5ff0-d780-ab31-693de2f760e7
* Content: [Recommended Settings for Tracing and Message Logging](https://docs.microsoft.com/en-us/dotnet/framework/wcf/diagnostics/tracing/r

[2019-06-05 13:47] #8727 closed

[2019-06-05 17:01] #12668 closed

[2019-06-05 17:12] Thraka commented on #12606
I keep hearing from the PU and other repos that this should be possible. Will continue to investigate

[2019-06-05 17:19] rpetrusha commented on #12660
Thanks you, @FIVIL, for offering to provide some solid information on SIMD. We'd welcome your contribution, and your basic outline looks good. How would you like to proceed, and what sort of time frame are you looking at for submitting a PR?

@terrajobst, do you have any feedback about more detailed SIMD content?

[2019-06-05 17:22] rpetrusha commented on #12659
Thank you for reporting this, @RoyceLithgo. We've added this issue to the **Interactive examples with try.dot.net** for monitoring.

[2019-06-05 17:28] MisinformedDNA opened #12689 "Links are confusing"
This is one of the most odd pages I've ever been to on Docs.

First, the superscript tags are odd.
![image](https://user-images.githubusercontent.com/1784452/58974763-dfb51780-8788-11e9-9d86-1cd2d1796d0d.png)

A. It's strange to see footnotes that are more than just 1, 2, 3 or a, b, c. I can't think of anywhere else I've seen named footnotes.
B. All the links essentially go to the exact same spot

[2019-06-05 18:10] Rick-Anderson opened #12690 "In Visual Studio, you set compiler options in the web.config file."
Moved from #4192

@eduard-malakhov  wrote:
[This](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/) topic says "In Visual Studio, you set compiler options in the **web.config** file". Is that correct? I think this sentence is misleading as AFAIK _web.config_ only exists for web applications.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-06-05 18:22] Thraka commented on #12681
I think you mean programmatically 😃

Can you explain why you want to do this? This may help someone figure out what issue you're trying to solve. I believe the config is loaded at runtime and it's a lot harder to change. You need to manually load all your endpoints and provide manually created configs.

For example: https://stackoverflow.com/questions/4041289/change-switchvalue-on-trace-listener-i

[2019-06-05 18:24] Thraka commented on #12690
I'm assuming you're moving this to get the metadata and back on the radar? If so I'll close the other one and move the other assigned labels to this one too.

[2019-06-05 18:27] Rick-Anderson commented on #12690
•	Other customers can easily find the issue.
•	We can easily find the issue.
•	Makes it easy to find all issues for a doc when updating the doc.
* metadat

[2019-06-05 18:28] terrajobst commented on #12660
@tannergooding would be the best person to provide feedback on this because he's been working heavily on all the intrinsics lately. We should probably talk about SIMD in general and then how we're exposing in the the BCL, as an abstraction (`Vector<T>`) and as a set of in `System.Runtime.Intrinsics`.

I like the idea of dos and dont's but that's definitely @tannergooding territory.

[2019-06-05 18:44] mairaw commented on #12690
I usually just edit the original issue to add the topic details.

[2019-06-05 18:46] Rick-Anderson commented on #12690
That misses all the advantages I listed.

* Other customers can easily find the issue.
* We can easily find the issue.
* Makes it easy to find all issues for a doc when updating the doc.
* metadata rollup

[2019-06-05 18:47] Rick-Anderson commented on #12690
Customers are usually happy to move the issue. It's rare I need to move one. Given this was created so long ago I moved it.

[2019-06-05 19:04] Rick-Anderson commented on #12690
We've found out it really helps cut down on duplicate issues. Often the issue has work-arounds customers can find.

[2019-06-05 19:06] Thraka commented on #12650
None of the examples in this article have classes marked as `Public`. Can you verify that the extensions you deployed via a DLL are marked `Public`?

[2019-06-05 19:09] Thraka commented on #12690
I think she means we usually just copy/paste the metadata back into the original issue 😄 But that's harder to do if you don't have existing issues on the same article to copy/paste.

[2019-06-05 19:10] Thraka commented on #4192
Closing this and using the new one.

[2019-06-05 19:13] Rick-Anderson commented on #12690
But then it's not integrated - other customers can't see it from the doc page - right?

[2019-06-05 19:13] mairaw commented on #12690
It's not hard. I just visit the article and click here to copy the metadata:
![image](https://user-images.githubusercontent.com/12971179/58983269-4c311600-878b-11e9-8cbc-e414677ec207.png)

[2019-06-05 19:13] mairaw commented on #12690
@Rick-Anderson yes, it is integrated.

[2019-06-05 19:21] Rick-Anderson commented on #12690
closed and reopened #4192

[2019-06-05 19:24] Thraka commented on #12690
Ahhh cool, I didn't realize I could create it via that link. I've had to open and close an issue to get the metadata. NICE.

[2019-06-05 19:37] #12690 closed

[2019-06-05 19:38] tannergooding commented on #12660
Adding conceptual docs for hardware intrinsics is on my list of backlog items to do for 3.0. However, I would be very happy if someone else wanted to start that work and would be happy to review and provide input as appropriate 😄

Also CC. @danmosemsft

[2019-06-05 19:38] Rick-Anderson commented on #4192
@HongGit  can we remove
In Visual Studio, you set compiler options in the **web.config** file

[2019-06-05 19:53] #12649 closed

[2019-06-05 20:02] stevensrmiller commented on #12247
I had the same problem until I took out the blank line the example includes at Line 1 of Web.config.

[2019-06-05 20:09] stevensrmiller commented on #12247
The so-called "complete" example is also missing what should be a closing curly bracket at Line 40. Now IIS complains that it can't find an implementation of IMetaDataExchange (which makes sense, since there isn't one).

[2019-06-05 20:21] AskYous opened #12691 "while (allTasks.Any()) runs all tasks multiple times?"
Doesn't running `Task.WhenAny()` run **all** the tasks? Since the loop in the example runs 3 times, and `WhenAny()` runs 3 times inside that loop, it seems 3 + 2 + 1 asynchronous operations are run. This seems inefficient since some tasks are run multiple times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c

[2019-06-05 21:02] Thraka commented on #12606
Finally got it working!

[2019-06-05 21:05] slarrieu commented on #5385
Hi Alexander, sorry to bother but I've been looking for multi-label support/doc and can't find it anywhere. It is currently supported by ml.net?

[2019-06-05 21:51] rpetrusha commented on #12660
Thanks, @tannergooding. Does the rough outline that @FIVIL provided sound good, with the possible addition of a section on SIMD and the underlying hardware?

[2019-06-05 21:56] tannergooding commented on #12660
Yes, the four sections listed look to cover what I would expect.

[2019-06-05 22:23] Eilon commented on #9802
Just noticed this as well. The `Pattern matching with switch and is` sample doesn't use discards at all.

[2019-06-05 22:34] BillWagner commented on #9802
I think this issue is fixed in https://github.com/dotnet/samples/pull/936

[2019-06-06 00:08] RoyceLithgo opened #12693 "Doesn't work if you follow the instructions"
On the previous step when changing the web properties for the site you need to change the url to http: instead of the default https. Otherwise when you launch the site as per instructions on this page you get an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0756f2f-e237-6d87-9c5b-f17d1f2561cd
* Version Indepen

[2019-06-06 00:54] gsoftconsulting commented on #12650
Thank you for the good suggestion. I tested public methods and public modules.
t looks like a systemic issue in Visual Basic.net My namespace. It does not work when linked from separate assembly.

[2019-06-06 01:07] RoyceLithgo opened #12695 "Add Service Reference step fails"
The specified OData API cannot be added because OData APIs are now only supported with the OData Client Code Generation Tool.

What is the point of still making these tutorials available when they don't work on current platform versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4022ba74-59f0-c117-92c5-ca868da994d

[2019-06-06 01:26] ghorsey commented on #7762
When making the change mentioned above:

    /// <returns>
    /// A <see cref="T:Task{IEnumerable{string}}"/> that represents the results of the operation.
    /// </returns>

a different compilation error occurs: `CA1200:Avoid using cref tags with a prefix`  when using the Roslyn FxCop analyzer

[2019-06-06 04:17] newpost opened #12696 "words[^1] is very ugly"
words[^1] is very ugly.why not use words[-1]!!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What's New in C# 8.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#readonly-mem

[2019-06-06 06:26] FIVIL commented on #12660
@rpetrusha , I'm planning to get the best of my free time by providing this tutorial, so I think maybe I can deliver it in a month or so, hope that's Ok, and after that, I'll be open to any note and comment and change needed in order to finalize it.  and also I think the best way to do this will be 2 separate articles the first one containing a simple definition and instruction and some simple cod

[2019-06-06 06:31] FIVIL commented on #12660
@tannergooding and @terrajobst  tnx for your insights.
also, I might need to ask some questions about some concepts during the process if that's OK.

[2019-06-06 07:32] EnCey commented on #12418
Your own method will be called, as it implements both/either interface method, as it always has.
If you didn't have an implementation of the method, IOracleQuery.FreeMem would be called if the parameter that is used to call FreeMem is of type IOarcleQuery.

There is a GIGANTIC difference why there is no DDOD problem with default interface methods compared to C++: they are not inherited.
If you hav

[2019-06-06 07:36] EnCey commented on #12418
To clarify: If class C implements method M, you can call C.M of course. But then there is no DDOD either, since that implementation will be used, regardless of whether a variable is of type C, A, or B.

[2019-06-06 08:45] svick commented on #12696
The reason is that `words[-1]` already means something: it throws `IndexOutOfRangeException`. It's very likely that there are programs out there that rely on that, which means changing the meaning of `words[-1]` would be a breaking change and C# is generally unwilling to have those.

[2019-06-06 09:25] newpost commented on #12696
Is it meant to be compatible with previous versions?

[2019-06-06 09:29] svick commented on #12696
It is meant to be backwards compatible: code you write in C# 7.x should work the same if you compile it as C# 8.0.

[2019-06-06 09:31] ma17961363 opened #12699 "Is it the right types categorizing?"
type
    : managed_type (safe_type)
    | unmanaged_type (unsafe_type)
    ;

unmanaged_type
    : pointer_type
    | pointer_type '*'
    ;

pointer_type
    | simple_type '*'
    | enum_type '*'
    | unmanaged_user_defined_struct_type '*'
    | void *
    ;

managed_type
    : value_type
    | reference_type
    | parameter_type
    ;

And the rest of the categorization is like the article.

--

[2019-06-06 09:36] ma17961363 commented on #12699
Stars (pointer signs) in the pointer_type (simple_type and enum_type) was forgotten:

pointer_type
| simple_type '*'
| enum_type '*'
| unmanaged_user_defined_struct_type '*'
| void *
;

[2019-06-06 12:36] luisdeol opened #12700 ""Next" button link is returning 404"
When clicking on the "Next" button, which points to the "https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/architect-microservice-container-applications/docker-application-development-process" URL, a 404 page is returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4718315e-ee77-0d95-c46d-4

[2019-06-06 16:22] Thraka commented on #12650
I played around with this and then read through some of the articles around this and I think **My** extensions are only deployed via code. They are not imported as compiled libraries. If you want to be able to add it as a **My Extension** in visual studio then you have to [register and publish your extension with Visual Studio](https://docs.microsoft.com/dotnet/visual-basic/developing-apps/customi

[2019-06-06 16:22] #12650 closed

[2019-06-06 16:45] Thraka commented on #12696
_copied from Bill's response in another issue_

The documentation does accurately reflect the language design choices.

I am going to close this.  However, if you want to continue to advocate for a different design, consider commenting on the referenced design notes, or other issues on ranges in the [dotnet/csharplang](https://github.com/dotnet/csharplang) repository.

Duplicate of #11324

[2019-06-06 16:45] #12696 closed

[2019-06-06 16:45] Thraka commented on #12696
Duplicate of #11324

[2019-06-06 17:55] Thraka commented on #12648
Hi. Thank you for the question. But we cannot answer this; we cannot give any sort of legal advice. If you have legal questions, you should contact a lawyer.

[2019-06-06 17:55] #12648 closed

[2019-06-06 18:00] Thraka commented on #12671
I think it would be better to just specify `true|false` on the command line ref. Then you avoid the problem completely 😄

[2019-06-06 18:03] mairaw commented on #12671
That seems like a CLI bug to me. @KathleenDollard @livarcocc can you comment on this?

[2019-06-06 18:22] natke opened #12705 "Anomaly detection pipeline should not use same data for train and test"
The spike detection transform does not need training data, so we can provide an empty dataview for that.

The SSA transform does need data but it should be different from the data used to make predictions.

[2019-06-06 18:33] yehoshuadimarsky commented on #7933
Also missing that Python is now supported somewhat in v2

[2019-06-06 18:39] Jonathan727 opened #12706 "Naming of example Delegate types doesn't conform with Naming Guidelines"
The naming of example delegates in this document doesn't conform to rules listed in [Design Guidelines - Names of Common Types - Delegates](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-classes-structs-and-interfaces#names-of-common-types) which state:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-06-06 20:23] rjdunnill opened #12708 "Typo"
"... that it does not supported …" should be "that it does not support ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0322d9b-3d55-5ed3-1ab5-8bdafff12f06
* Version Independent ID: 1f8d476b-ced0-d0cf-8c7a-4616d9e36222
* Content: [COM Callable Wrapper](https://docs.microsoft.com/en-us/dotnet/framework/interop/com-c

[2019-06-06 20:39] xxx0624 commented on #12598
I got that. It can be run by mono.

[2019-06-06 20:39] #12598 closed

[2019-06-06 20:42] BillWagner commented on #9802
Closing, dotnet/samples#936 fixed this as well

[2019-06-06 20:42] #9802 closed

[2019-06-06 21:08] rpetrusha commented on #12660
That sounds good, @FIVIL. We'll look forward to reviewing your PR in about a month.

[2019-06-06 21:46] rpetrusha commented on #12708
Thanks for pointing out the typo, @rjdunnill. We've opened #12710 to fix it.

[2019-06-06 21:48] Thraka commented on #12606
I've improved the project file and validated all my internal tests. I have a simple framework ready to be used in an article.

[2019-06-06 21:50] Thraka commented on #11066
Reopening to track that we want to remove the `nuget pack` command explicitly from this tutorial.

[2019-06-06 23:11] KathleenDollard commented on #10671
The docs issue can be closed.

[2019-06-06 23:58] cdmihai opened #12713 "Document how to have dotnet restore print which feed a package was resolved from"
Can't figure how to get nuget tell me which feed it resolved a package from. `-v diagnostic` cranks up msbuild's verbosity, but the nuget tasks still don't log that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b256dc4-c4ad-c115-f4e2-40310bc3505a
* Version Independent ID: 0b993779-65a2-6092-4047-2fc2ec16

[2019-06-07 00:11] KathleenDollard commented on #12671
@livarcocc @jonsequitur

[2019-06-07 00:21] #12708 closed

[2019-06-07 01:25] KathleenDollard commented on #11593
Do you need anything from me here?

[2019-06-07 01:46] KathleenDollard commented on #12543
* This fix is fine
* These should be in help under runtime-options
* The docs should split up runtime and sdk options in the way the help does. Strictly speaking the last four of the sdk-options are not executed by the SDK, but the muxor, so the real difference is that the "runtime-options" are that, and we list everything else under sdk-options. We might want to be a bit cleaner about that in the

[2019-06-07 10:03] Almantask opened #12720 "Not beginner friendly with Main() and explicit"
I was teaching OOP one of my students and was covering interfaces. I gave them the following task:
Fishes don't talk but fish is an animal
Cat is an animal and can talk
Dog is an animal and can talk
Human is not an animal, but can talk

They talked they sent me this:

[code]

Why? Because of this page. Please fix it and make it clear, don't make lazy docs, make it intuitive.

---
#### Document Det

[2019-06-07 10:04] Naeso opened #12721 "Interface page documentation needs some cleanup"
I am beyond shocked.

Why calling ISampleInterface.SampleMethod() ???

Why not using a single line of code for getters and setters for x and y ?
int x{ get; set; }
It's just way simple to read that way.

Also, static void Main() ? Could someone explain to me what's going on here ?

I forgot probably some stuff but I don't think this is a good example for people that want to know how to use interfa

[2019-06-07 10:27] pluton-house opened #12723 "Typo"
Overloaded constructor takes the arguments days, hours, minutes, seconds, miniseconds.
Miniseconds? I've never heard of them before!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 975ab699-f13e-0b5f-f950-00266e26c270
* Version Independent ID: 3429f181-2b3a-622c-28b0-a705aae70d42
* Content: [How to: Control a MediaEleme

[2019-06-07 14:52] #12723 closed

[2019-06-07 15:31] wschin commented on #9655
Since a model can be a series of transformers, we'd like to keep our current naming convention. :)

[2019-06-07 15:40] EFFKAY2 opened #12724 "Use of field name "value" is confusing."
In the code examples for "Passing data to threads" and "Retrieving data from threads with callback methods",
The private int fields are named "value" (and are even colored in blue). I found it to be quite confusing as value is a keyword in C#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b43c4de1-c03e-7c29-e426-2130d

[2019-06-07 15:51] mattumotu commented on #12691
`WhenAny` doesn't run the tasks passed to it, the tasks in `allTasks` are already running.

WhenAny creates a new task that will complete when any of the (existing, running) tasks it is given completes.

From [WhenAny MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.whenany?view=netframework-4.8)

So when any creates a new task which, when it completes, returns the fir

[2019-06-07 15:59] mattumotu commented on #12132
I'm assuming it's because `WhenAny` returns (in this example) `Task<Eggs>` but we don't want eggs to be of type `Task<Eggs>` we want type `Eggs`.

Calling await on a `Task<TResult>` will return a `TResult`, if the task is completed then it just returns immediately.

[2019-06-07 17:46] Tyler-H commented on #1876
This still shows as obsolete regardless of what version of .NET Framework you have filtered to: https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient I've tried filtering to 4.6.1 (my build), 4.7, 4.7.1, and 4.8, and I get the orange banner on all of them.

![Example](https://user-images.githubusercontent.com/206492/59123133-8be23400-892a-11e9-8cf6-73f86b46b542.PNG)

Am I misunder

[2019-06-07 17:47] #10671 closed

[2019-06-07 20:25] workbrien opened #12728 "An error occurred while processing your request."
I've implemented the C# code in my ASP.Net Core 2.2 MVC Web app. When I run it on my local machine the ML works fine. It also works as expected when I remove the ConsumeModel() from controller. However when I deploy it to azure and execute ConsumeModel() I get a server error. From my azure app service I click the Diagnose and solve problems tab. The App Error Analysis says, "There is an issue with

[2019-06-07 20:30] cartermp commented on #11683
@TclasenITVT Thanks. I'm not entirely sold on doing an example quite like that, just because it's a bit complicated. But I did modify the document to add a DU that extends the `Shape` type to define a property and satisfy an interface. Hopefully that works!

[2019-06-07 20:30] mairaw commented on #1876
This issue was never actually fixed @Tyler-H. There's some heavy infrastructure engineering work going on right now to enable the filtering to work.

/cc @dendeli-msft

[2019-06-07 20:40] parnesen opened #12730 "Not clear how the threading model works"
I'm used to using a Promise pattern in a single-threaded GUI environment that has asynchronous calls to a REST server. Can I use async/await in a single-threaded environment or is it strongly connected to multi-threading? For example, does putting async in front of an async method kick off a new thread every time, or does it just execute that method on the same thread, and that method happens to r

[2019-06-07 20:50] #11683 closed

[2019-06-07 21:04] AskYous commented on #12691
Does it only complete when the first task complete, or every time any of the tasks complete?

[2019-06-07 21:26] user2150 commented on #12648
Sorry, but my question is also about the debugging workflow: what shoud I do when I've followed all the instructions provided for debugging the sources but got a stripped PDB and still cannot debug? May be I'm missing something which could help without using legally questionable ways? Thanks.

[2019-06-07 23:46] workbrien opened #12734 "Using ML.Net on .Net Core 2.2. "An error occurred while processing your request.""
I've implemented the C# code in my ASP.Net Core 2.2 MVC Web app. When I run it on my local machine the ML works fine. It also works as expected when I remove the ConsumeModel() from controller. However when I deploy it to azure and execute ConsumeModel() I get a server error. From my azure app service I click the Diagnose and solve problems tab. The App Error Analysis says, "There is an issue with

[2019-06-08 00:25] CodeSwimBikeRunner opened #12735 "Self Contained Executable"
We could use an example on running one of these examples as a self contained console app on linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa0c79e-1729-15f7-52e4-0c9afff43ec9
* Version Independent ID: 1c3c5d30-9690-8c4a-4e2c-2ce5f4386898
* Content: [Get started with .NET Core using the CLI - .NET Core](https://

[2019-06-08 00:50] elgonzo opened #12736 "Var pattern: Unfortunate code example makes the "var pattern" appear without purpose"
The example code given for the "_var pattern_":
[code]
is just a needlessly complicated way of writing
[code]
thus inadvertently making it look like as if the "_var pattern_" has no useful function or purpose.

It would benefit the documentation if it would show an example code demonstrating the "_var pattern_" in a meaningful way. Perhaps something like the code snippet in this answer on StackOve

[2019-06-08 02:42] JesseTG opened #12737 "Missing list elements"
It looks like there should be some list elements here, but they contain no text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5bd6ac-153c-0502-e8b6-2c53af0fab5e
* Version Independent ID: a1aa2ef3-554b-3dff-9b16-1f9f5e478cba
* Content: [ISymbol.HasUnsupportedMetadata Property (Microsoft.CodeAnalysis)](https://docs.m

[2019-06-08 09:55] user2150 opened #12738 "The example does not compile"
The using list is incorrect.

Instead of

using System.Reflection;
using System.IO;

should be

using System.Reflection;
using System;
using System.Linq;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb28f0f-fc14-b18a-54a4-ad9fe799807f
* Version Independent ID: 391c79a2-90e0-072c-5112-4790590b29a1
* Content: [How to:

[2019-06-08 13:13] #12524 closed

[2019-06-08 14:03] miguelmateojp opened #12739 "Link to Linq topic does not exists in C# page"
While this path is valid: https://docs.microsoft.com/en-us/dotnet/csharp/linq/, there is no link from https://docs.microsoft.com/en-us/dotnet/csharp/ left topic menu, I was personally expecting a link there to explain Linq in C#.

[2019-06-08 14:48] svick commented on #12739
It is there, it's just hidden under "C# Concepts":

![](https://user-images.githubusercontent.com/287848/59148746-2024c780-8a0d-11e9-886e-ec3fb9d26756.png)

[2019-06-08 16:13] Youssef1313 opened #12742 "Broken URL for contoso.com"
Related to this [PR](https://github.com/dotnet/samples/pull/965):
I tried to get many places where the domain contoso.com is used. The list I've got is:

https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.mailaddress?view=netframework-4.8
https://docs.microsoft.com/en-us/dotnet/api/system.net.networkcredential?view=netframework-4.8
https://docs.microsoft.com/en-us/dotnet/api/system.net.so

[2019-06-08 19:26] Lukaa0 commented on #5385
Any update on this?

[2019-06-08 21:48] #10627 closed

[2019-06-09 00:20] mkvalluri commented on #8860
And this issue still exists

[2019-06-09 02:45] MP7373 opened #12744 "How do you completely avoid referencing the Infrastructure section in Startup.cs?"
I was looking through the eShopOnWeb repo and I noticed that services.AddDbContext&lt;CatalogContext&gt; is called in Startup.cs and CatalogContext is from the Infrastructure part of the repo which ruins the entire point of them being separate (then I looked back here and saw the note saying that the example does reference infrastructure namespaces in the Startup.cs). I was going to make a sample

[2019-06-09 06:27] #12739 closed

[2019-06-09 06:28] miguelmateojp commented on #12739
By design, the menu is hidden under C# concepts ...

[2019-06-09 13:04] #9655 closed

[2019-06-09 15:32] RichEme opened #12746 "Naming rule violations"
You may want to fix the "Naming rule violations".
Also, do you know of a stand-alone that would go through all my projects and update to the Naming convention?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5154904d-b7d9-3eaa-7d2e-5ca8308f1f48
* Version Independent ID: 8b82f235-ec9c-5c72-d001-b761b491d400
* Cont

[2019-06-09 21:01] cartermp commented on #11764
Things to cover:

- [ ] Syntax
- [ ] Fundamental properties (serializable, can cross assembly boundaries, nominal, etc.)
- [ ] Basic construction
- [ ] Using as type argument
- [ ] Copy and update
- [ ] Augmenting existing data
- [ ] Limitations

[2019-06-10 03:26] EugeneKramer commented on #10243
As it's executed under a lock, might also be worth noting what to avoid:

[Static constructor deadlocks](https://devblogs.microsoft.com/pfxteam/static-constructor-deadlocks/):

[2019-06-10 04:04] TheOnlyMrCat opened #12751 "String concatenation output correction"
The first line of the first example would print with two spaces between "Forgot" and "white space"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31f06e-936e-d0c7-9dc0-9d10fd8a0dd9
* Version Independent ID: 43899711-a922-8180-25e6-d52af245846d
* Content: [+ and += operators - C# Reference](https://docs.microsoft.com/

[2019-06-10 07:20] pkulikov commented on #12751
@TheOnlyMrCat thanks for the notice.

[2019-06-10 10:40] MarkCBB commented on #6658
I've found the content of this article really interesting, complete and helpful to learn the Task-based Asynchronous Pattern (in my case studying for the C# certification). I wouldn't vote to remove any content, everything written here makes sense, is handy and is good for learning (from my point of view) but is true that some code examples can be written clearer.

[2019-06-10 15:16] #12751 closed

[2019-06-10 16:51] natke commented on #12705
See: https://github.com/dotnet/machinelearning-samples/pull/508 for reference

[2019-06-10 18:06] pkulikov commented on #10741
@BillWagner could you please assign this issue to me, as the half of it is already done.

The remaining operators to revise and move to the operators' TOC:

- [ ] `::` (namespace alias qualifier)
- [ ] `nameof`
- [ ] `sizeof`
- [ ] `await`
- [ ] `new` operator

Not in the original list, but should the following two also be included?

- [ ] `default`
- [ ] `delegate`

[2019-06-10 18:07] pkulikov commented on #10739
@BillWagner could you please assign this issue to me, as I'm going to work on it next.

[2019-06-10 19:29] Thraka commented on #11593
No. Thanks though 😄

[2019-06-10 21:02] rpetrusha commented on #12742
There are also numerous occurrences in the dotnet/docs repo. Some can remain -- they probably should be replaced only if they're part of a working example.

I'll add this to the community contributor's project for the moment, and assign it to the backlog.

[2019-06-10 21:31] rpetrusha commented on #12738
Thanks for pointing out that the example doesn't compiler, @user2150. We've opened #12759 to correct both the C# and the Visual Basic code.

[2019-06-10 21:38] mairaw commented on #12517
Closing due to the lack of response after two weeks or more.

[2019-06-10 21:38] #12517 closed

[2019-06-10 21:39] mairaw commented on #12744
/cc @nishanil

[2019-06-10 21:42] mairaw commented on #12737
Thanks for letting us know about this issue @JesseTG.

It seems that the content is in the source code. Not sure if it's an issue in our reflection tool or the tags being used. Need to investigate.

/cc @BillWagner @dendeli-msft @joelmartinez

[2019-06-10 21:43] rpetrusha commented on #12700
Thank you for reporting this issue, @luisdeol. It was fixed by dotnet/docs#12683. Closing.

[2019-06-10 21:43] #12700 closed

[2019-06-10 21:57] Thraka commented on #12735
Sure. I think we can add the commands to the end of the tutorial to publish a self-contained deployment and a framework-dependent deployment (which is the new default for core 3.0)

[2019-06-10 22:04] rpetrusha commented on #12689
Thanks for pointing this out, @MisinformedDNA. Was this the design intent for this page, @BillWagner? I find it confusing as well.

[2019-06-10 22:17] Thraka commented on #12510
You can specify the version of the package with the `-v` parameter. You can [NuGet version](https://docs.microsoft.com/en-us/nuget/reference/package-versioning) notation to specify a version. That version will be put in the csproj. So in your case, what you want to do is

[code]

[2019-06-10 22:17] #12510 closed

[2019-06-10 22:20] Thraka commented on #12480
Thank you for opening this issue. I'll add it to the backlog.

Thanks again!

[2019-06-10 22:43] Thraka commented on #12706
Thank you for opening this issue. I'll add it to the backlog. Good catch.

Thanks again!

[2019-06-10 22:46] Thraka commented on #12592
That variable is created by adding the EventLog component in the Visual Designer. This is in step 2 under [Add custom event log functionality](https://docs.microsoft.com/en-us/dotnet/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer#add-custom-event-log-functionality).

Hope this helps.

[2019-06-10 22:46] #12592 closed

[2019-06-10 23:36] #12728 closed

[2019-06-10 23:41] workbrien commented on #12734
I tracked down the issue. My Model.zip file was not being included in my deployment. It created a System.IO.File exception. Once I manually uploaded the missing files the application functioned as expected. Thanks for your time.

[2019-06-10 23:41] #12734 closed

[2019-06-11 01:21] BillWagner commented on #12737
See also dotnet/csharplang/#1765  This will need to get fixed in the source at this time.  /cc @sharwell

[2019-06-11 03:23] ardalis commented on #12744
Hi @MP7373
This should put you on the right path, using Autofac as an example. The sample app doesn't do it this way because most developers expect to find the EF Core DI registration happening directly in ConfigureServices().
https://stackoverflow.com/a/50125393/13729

See also:
https://ardalis.com/avoid-referencing-infrastructure-in-visual-studio-solutions
(which uses .NET, not .NET Core)

[2019-06-11 04:02] AskYous opened #12762 "Please explain how to debug unit tests."
I see how to debug the app, but it doesn't mention how to debug unit tests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d01d28-eba7-401c-5716-1361edfa928d
* Version Independent ID: f235603a-edcc-257a-901e-b0709cf81053
* Content: [Building a complete .NET Core solution on macOS using Visual Studio for Mac - .NET Co

[2019-06-11 05:35] mairaw commented on #6069
I missed this ping. Binaries are up-to-date and search shows sqlconnection for all releases of .NET Core as well .NET Platform Extensions. The ability to show the NuGet package is on the backlog and coming on a later release.

[2019-06-11 05:35] #6069 closed

[2019-06-11 07:09] tmds commented on #1345
@mairaw @BillWagner feel free to close this.

[2019-06-11 10:48] Mackiovello commented on #12691
It only completes when the first task completes.

[2019-06-11 11:13] BillWagner commented on #1345
closing per customer feedback.

[2019-06-11 11:13] #1345 closed

[2019-06-11 16:22] #12738 closed

[2019-06-11 16:47] #10400 closed

[2019-06-11 16:59] rpetrusha opened #12770 "Additional cause of compiler error"
The Visual Basic compiler also displays this error if type inference is disabled (Option Infer is Off) and so the type of a variable cannot be inferred. This is most common in a For Each...Next loop, when the Option Infer setting prevents the compiler from inferring the type of the iterator variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-11 18:04] Thraka commented on #12574
The best I could find is **catch-all**.

[2019-06-11 18:05] Thraka commented on #12574
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-06-11 18:20] SrinikhilReddy commented on #9169
Is there a way I can access the thumbprint from powershell/cmdline?

[2019-06-11 18:24] Thraka commented on #12638
@vikneshrajsp as Eugene stated, you cant reassign the variable. A statement to this affect may be worth adding. This creates an immutable variable but if the type is mutable, you have a potential conflict.

[2019-06-11 18:35] mairaw commented on #12344
@nishanil please take a look at this feedback

[2019-06-11 19:08] Thraka commented on #12746
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

The source code used by this file is a

[2019-06-11 19:12] pkulikov commented on #10739
@BillWagner two thoughts about the content of the overview.

First, why did we include the `typeof` operator in this list? The assignment operator `=` makes up a good story with the cast `()` operator, which hooks the `as` operator, which chains the `is` operator. Ultimately, ending up with the `is` operator with the type pattern assignment. In this story, the `typeof` appears an outsider. Also, a

[2019-06-11 20:27] CESARDELATORRE opened #12771 "Remove deprecated namespace and use the one used in ML.NET 1.x"
`Microsoft.Data.DataView` is a deprecated namespace from beta/preview versions.

It should be just this:

`using Microsoft.ML.Data;`

Related issue:
 https://github.com/dotnet/machinelearning-samples/issues/516

That code snippet needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edace175-268c-7428-dad

[2019-06-11 20:38] jcouv opened #12772 "Publish the remaining language spec proposals for features released in C# 8.0"
This is a follow-up on https://github.com/dotnet/docs/issues/10725

A few more features have been [implemented and shipped](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md) in the C# 8.0 preview:
- default interface members (DIM)
- readonly members
- stackalloc in nested contexts
- unmanaged generic structs
- static local functions (with new shadowing rules)

Taggi

[2019-06-11 20:43] ryanmajidi opened #12773 "Error in the description of the function REPLACE"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1600) by @GalicinD**

Error in the description of the function REPLACE.
now here https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/string-functions
is written:

Repeats a character expression for a specified number of times.

what corresponds to the REPLICATE function

[2019-06-11 20:46] mairaw commented on #12773
@stevestein please take a look at this ADO.NET issue.

[2019-06-11 21:10] AskYous commented on #12691
Ok thank you.

[2019-06-11 21:10] #12691 closed

[2019-06-11 21:23] MP7373 commented on #12744
Thanks for replying i'll read into those.

[2019-06-11 21:23] #12744 closed

[2019-06-12 00:51] TravisStark opened #12781 "Method missing parameter"
The SaveModel() method in the tutorial is missing the parameter: DataViewSchema trainingDataViewSchema

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926fafd8-a07f-0857-f034-2a6ff15b4c87
* Version Independent ID: 43ca87d8-932f-4cd0-c446-b445557e3e7b
* Content: [Tutorial: Build a movie recommender - matrix factorization

[2019-06-12 02:02] marchy commented on #12656
Thanks a lot @natke. For the time being we temporarily hacked around it by creating multiple independent binary classifiers for each rank – which we know is not really the way to go. Though it brings up a good point, is an approach like this roughly equivalent in effectiveness, or would a purpose-built ranking classifier always perform better?

(I ask because we are also simulating a multi-label c

[2019-06-12 03:27] SilentCC opened #12783 "To improve performance ,disable concurrent GC"
In document [ fundamentals of garbage collection ](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals )

I think concurrent GC is help to improve application performance.It reduce the pauses time when GC is running. Why disable concurrent garbage can improve performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-12 03:53] suloveoun opened #12784 "Complete official Docs"
I am new to learn C# and it's better to prepare the complete in one place to learn C# language. The complete and in once place documents can make me clear how to learn C# and easy to understand then a messy as professional looking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756e4425-16b0-abfd-1e5a-927f07a8af69
* Ve

[2019-06-12 06:02] PhilKochan opened #12786 "Needs to be updated! it's a year old!"
Needs to be updated! it's a year old!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .NET Core and .NET Framework for server apps](https://docs.microsoft.com/en-us/dotnet/standard/choosing-core

[2019-06-12 07:36] dovp opened #12787 "Regarding For .NET Framework 3.5 - 4.5.2 and WCF HTTP (Rest)"
Can we treat it as the same as the paragraph "For .NET Framework 3.5 - 4.5.2 and not WCF"? Or setting both registry key to 1 won't do the job and we need to change something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7341fa0a-f474-6c2d-d3c0-7e2df12fbb65
* Version Independent ID: e99c489a-7518-d293-ad93-7eaca8

[2019-06-12 07:49] RichEme commented on #12746
Thanks.

From: Andy De George <notifications@github.com>
Sent: Tuesday, June 11, 2019 2:09 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: RichEme <six2five@charter.net>; Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Naming rule violations (#12746)

Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article.

[2019-06-12 08:10] SychevIgor opened #12788 "add an example of TestCaseFilter option"
It's not clear how to filter tests based on Category for example
After 30 minutes recognize that this will work "--TestCaseFilter:TestCategory=Negative" even for NUnut, where instead of TestCategory used simple Category.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c66d2f-86f4-6472-a4c8-30e4203a10de
* Version Indep

[2019-06-12 11:53] paulomorgado opened #12790 "Missing default value"
The default value of this option is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a3c8595-6bf5-61b0-fe12-f6cbbb1e2da8
* Version Independent ID: ac04cb00-0bfc-7bde-885d-c1dce0f35b4c
* Content: [-langversion (C# Compiler Options)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-optio

[2019-06-12 13:12] kenwrites opened #12791 "Remove `using Microsoft.Data.DataView` line from example"
The line `using Microsoft.Data.DataView` in the first example is not necessary, and throws this error:

"CS0234	The type or namespace name 'Data' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)"

Instead of being provided in the Microsoft.Data.DataView namespace, the IDataView interface is provided directly in ML.Net via the Microsoft.ML namespace.

Tested in .

[2019-06-12 13:12] EKanadily opened #12792 "the use of SendKeys.Send() with international multi keyboard scenario?"
"If your application is intended for international use with a variety of keyboards, the use of SendKeys.Send could yield unpredictable results and should be avoided."

so what should be used instead in this situation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b802e934-d9db-8920-edd1-f8128929cb9b
* Version Independ

[2019-06-12 15:29] lukos opened #12793 "What about data store redundancy?"
It might be mentioned elsewhere but one of the challenges is that if we have e.g. 5 instances of a service, presumably they all share the same database but is that always the case? Is it simply a case of having a resilient engine like SQL Server Failover or do we also need to consider how each instance might conflict with another if both are attempting to modify the same data at the same time?

--

[2019-06-12 15:43] #11764 closed

[2019-06-12 16:55] Thraka opened #12797 "Doc Core 3.0 Preview 6 whats new"

[2019-06-12 17:14] Thraka commented on #12520
Thank you for opening this issue. I'll add it to the backlog.

Thanks again!

[2019-06-12 17:25] sharwell commented on #12737
@BillWagner it should be possible to update the documentation generation tool to allow this case without waiting for the language or compiler. This is the behavior already used by the IDE itself as well as tools like Sandcastle Help File Builder.

[2019-06-12 17:33] rpetrusha commented on #12773
Thank you for reporting this issue, @GalicinD. We've opened #12799 to remove the duplication.

[2019-06-12 17:35] rpetrusha commented on #12770
I've opened this issue as feedback from the dotnet/docs repo so that it appear in the discussion at the end of the article. I'm adding it to the backlog and to the community contributor's project.

[2019-06-12 17:55] #12441 closed

[2019-06-12 17:55] AshwaniT commented on #11849
Iterator with yield keyword, how is it different than generators?

[2019-06-12 19:13] #12771 closed

[2019-06-12 19:13] #12791 closed

[2019-06-12 20:55] BillWagner commented on #12772
Thanks @jcouv I've added this to my task list.

What should we do with the spec-let for the [index and range changes](https://github.com/dotnet/csharplang/blob/master/proposals/index-range-changes.md)? Those are approved for C# 8, correct?

It would read better if those changes were merged into the original spec, but I wouldn't want to do that until having two different docs isn't useful for the d

[2019-06-12 20:59] BillWagner commented on #10739
@pkulikov

I'll start with the second question because it informs the others:

One scenario to use `typeof` is to get an exact match, rather than a looser check with `is`.  It can be important in checking equality:

[code]

Instead, you'd want to check that the types match exactly:

[code]

I think that because `is` and `typeof` are different tests, keeping them on the same article would help read

[2019-06-12 21:06] jcouv commented on #12772
Thanks for calling out the Ranges doc. I'll move it to csharp-8.0 folder too.

[2019-06-12 21:11] jcouv commented on #12772
Here's the new link for Ranges changes doc: https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/index-range-changes.md

[2019-06-12 21:17] BillWagner commented on #12737
@dendeli-msft @joelmartinez Can you comment on Sam's suggestion?

[2019-06-12 21:18] pkulikov commented on #10739
@BillWagner

Thanks for that insight. I'll keep `typeof` in then and cover this scenario.

[2019-06-12 23:19] #12773 closed

[2019-06-12 23:22] Saintless opened #12806 "Docker image unavailable"
**Issue description**

The "Create the Dockerfile" section refers to an image that is no longer available, resulting in the message, "no matching manifest for unknown in the manifest list entries" when following the steps given. The docs need to direct people to a resource where they can find a valid image to use, when the one in the example becomes outdated, or at least include information on wha

[2019-06-12 23:41] jcouv commented on #12772
@agocke We have a proposal for Range and a proposal for Range Changes:
- https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/ranges.cs
- https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/index-range-changes.md

Feels like the latter should be merged into the former. Any objections?

[2019-06-12 23:42] mairaw commented on #12737
Opened PR to fix this in the Roslyn source code in the meantime: https://github.com/dotnet/roslyn/pull/36386

[2019-06-12 23:48] dendeli-msft commented on #12737
@mairaw this looks like a ECMA2YAML bug. Please open a bug for us to investigate 😄

[2019-06-12 23:50] mairaw commented on #12737
Will do. Thanks @dendeli-msft!

[2019-06-13 02:34] geoff-m commented on #11840
There is a problem on the page for 'abstract'. The sentence, "Members marked as abstract, or included in an abstract class, must be implemented by classes that derive from the abstract class," should say "by non-abstract classes", instead of "by classes".

[2019-06-13 03:29] geoff-m opened #12809 "Text after example in Remarks section"
I don't understand how the part beginning "Virtual properties behave like abstract methods..." and ending with "...uses the override modifier" is true or relevant. In what way does a virtual property "behave" like an abstract method, or resemble it at all for that matter? If there is any, this page does not positively state it. Is this an error where a comparison between virtual properties and _vi

[2019-06-13 07:03] pappasa opened #12811 "Rotate log when maxMessagesToLog is reached"
How do I rotate the log when maxMessagesToLog is reached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 727b8dc0-f5a6-c764-ceb0-1639240a00da
* Version Independent ID: 1d451b6c-a299-9a4d-7bc9-58fadaebb17e
* Content: [Configuring Message Logging](https://docs.microsoft.com/en-us/dotnet/framework/wcf/diagnostics/configur

[2019-06-13 07:09] jaivsa opened #12812 "Enable https configuration is not clear"
Code between http and https is duplicated. It doesn't undestand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6133901-f087-25a1-77e6-ab37e2d1bcf6
* Version Independent ID: dcf239d3-4a85-00ed-b8ad-8f9a8e8ac983
* Content: [Configuring WCF Services in Code](https://docs.microsoft.com/en-us/dotnet/framework/wcf/configuri

[2019-06-13 07:45] Mike-E-angelo opened #12814 "Examples Provide Poor Guidance / Consider Stronger Warning"
While the documentation does make mention of blocking threads with the `Wait` call, this should be presented as a callout as a stronger warning, as (from what I understand), calling `Wait` and/or `.Result` should never take place on a thread.  The recommended guidance is to put this on another task and return that task and never intermix between the two.

After all, developers are more apt to jump

[2019-06-13 07:50] Mike-E-angelo opened #12815 "Examples Do Not Provide Guidance on Chaining Successive/Sequential Children"
There seems to be missing example on how to chain successive child tasks.

If I understand correctly, the example given for adding tasks to a `List&lt;Task&gt;` and then calling `Task.WhenAll` will all execute in parallel.

Consider the scenario where the developer would like to build 10 tasks and have each child task increment the current state by 1, awaiting the result to get the number 10 throu

[2019-06-13 08:27] pappasa opened #12816 "Have to restart Website when maxMessagesToLog has been reached?"
If I want to log all messages, I have to do the following:
1. Check periodically, that the log file has less than maxMessagesToLog entries.
2. When the log file has close to maxMessagesToLog entries:
3. Stop the Website.
4. Backup the log file.
5. Start the Website.

This seems to me prohibitive for a production environment. Is there not a better solution?

---
#### Document Details

⚠ *Do not edi

[2019-06-13 09:26] kyle0418 opened #12817 "Formatting issue"
There is a formatting issue in the document [Graphics Paths in GDI+](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/graphics-paths-in-gdi).

[code]

Should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccb917e6-c7e1-8094-6deb-355b69cbb9e3
* Version Independent ID: 404a6256-abc2-39f0-d5

[2019-06-13 10:10] pappasa opened #12818 "Timeouts seem not to be used on server side"
The timeout values on the server side seem not to do anything. I host a WCF Service on IIS and have the following binding:

    &lt;bindings&gt;
      &lt;wsHttpBinding&gt;
        &lt;binding name="transactionalBinding" transactionFlow="true" sendTimeout="00:00:01" receiveTimeout="00:00:01" openTimeout="00:00:01" closeTimeout="00:00:01"&gt;
          &lt;security mode="Transport"&gt;

[2019-06-13 15:33] #9789 closed

[2019-06-13 16:56] Thraka commented on #12520
@mairaw What do we do about problems like this? We don't have a good way of presenting this information without a table, and the site hates tables... Is filing an LSI worth it or do we investigate some other presentation form?

[2019-06-13 16:58] Thraka commented on #11840
@geoff-m It's better to open a new issue so that it can be properly tracked. You can also submit a fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-06-13 17:06] Thraka commented on #12817
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-06-13 18:52] mairaw commented on #12786
Even though this topic hasn't been thoroughly reviewed in a year, we've been making small updates to it along the way as you can see in its commit history:
https://github.com/dotnet/docs/commits/master/docs/standard/choosing-core-framework-server.md

Whenever we make small updates like that, we don't change the date since the article hasn't been fully reviewed, just bits and pieces.

Is there anyt

[2019-06-13 18:56] mairaw commented on #12520
I'd probably post a question on the support channel to see if there's any way we could wrap these links.

[2019-06-13 19:01] MarkCBB opened #12823 "Async programming recommendations are out of date"
Looks like some recommendations for asynchronous programming are out of date, considering that this pattern is no longer the most recommended. I would suggest a review of this page.

In the page [Task-based asynchronous pattern (TAP)](https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/task-based-asynchronous-pattern-tap) you can find this: "(…) TAP is the recommende

[2019-06-13 21:38] SamOxigen commented on #7586
outdated material

[2019-06-13 21:40] cynicl12000 opened #12824 "Incorrect signature for SaveModel method"
As this tutorial is, the SaveModel method will not build & will report an error because it is missing an argument for trainingDataViewSchema.  The signature should be:
public static void SaveModel(MLContext mlContext, DataViewSchema trainingDataViewSchema, ITransformer model)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-06-14 00:54] BillWagner commented on #12346
Thanks folks. I've added this to the backlog, and added the "up for grabs" label.

[2019-06-14 01:01] BillWagner commented on #12430
These guidelines should be updated to reference the [Corefx codeing style](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md)

That provides several guidelines, including that braces should be used in the first example above.

I've added this to our backlog and our community project.

[2019-06-14 01:09] BillWagner commented on #12483
We are going to build more tutorials that show different application workloads @edaymami

To learn more about specific application types (such as desktop applications) check the sections about those workloads. Those will use C#, but focus more on the specific application styles. Let us know if those provide the information you need.

[2019-06-14 01:11] BillWagner commented on #12546
@shavenwalrus This features supports two key scenarios:
- version upgrades to interfaces.
- some traits like programming concepts.

This is not a docs question, but a language question. You can participate in discussions on language features in the [dotnet/csharplang](https://github.com/dotnet/csharplang) repository. closing this as product feedback.

[2019-06-14 01:11] #12546 closed

[2019-06-14 01:14] BillWagner commented on #12549
@andhog `ConfigureAwait(false)` provides better scaling or performance when it's safe. However, when it's not safe, `ConfigureAwait(false)` breaks application.

The default choice always works, but may not be optimal. That's why it was chosen as the default

Closing as an answered question.

[2019-06-14 01:14] #12549 closed

[2019-06-14 01:15] BillWagner commented on #12579
Closing as not actionable.

[2019-06-14 01:15] #12579 closed

[2019-06-14 01:24] #12639 closed

[2019-06-14 01:24] fakeinc commented on #12430
Thx.

[2019-06-14 01:30] BillWagner opened #12827 "The compiler isn't required to define a static constructor."
In the section on static constructors, this sentence is misleading:

&gt; If you don't provide a static constructor to initialize static fields, the C# compiler will supply a default static constructor that initializes static fields to their default value as listed in the Default Values Table.

The C# spec on [default values](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/langua

[2019-06-14 01:31] weitzhandler commented on #12346
Actually not that simple.
Local variables might have different behavior. If you're going to make an official documentation about it, it should have clear rules.

For instance:

[code]

[2019-06-14 01:37] BillWagner commented on #12699
The spec is correct. The unmanaged types are in the section on Pointer types.

Closing.

[2019-06-14 01:37] #12699 closed

[2019-06-14 01:40] BillWagner commented on #12730
@parnesen `async` and `await` do implement the promise pattern, and can be used in a single threaded application. An async method returns a `Task`, or `Task<T>`, which is the Promise.

closing as answered.

[2019-06-14 01:40] #12730 closed

[2019-06-14 01:44] BillWagner commented on #12736
Thanks for writing this @elgonzo That's a good example to add.

Another use is to check for `null`.  Consider this slightly modified version of the original example:

[code]

The `is` check will be `false` for the `null` values, so it won't throw a `NullReferenceException`.

I've added the "up for grabs" label to this issue, and added it to our backlog for when we next update this article.

[2019-06-14 01:47] BillWagner commented on #12784
@suloveoun Thanks for the feedback. We agree, and we'll be continuously adding more learning materials here.

I'm going to close this. I agree with your feedback, and we'll keep adding content, but this issue doesn't represent a task-level work item.

[2019-06-14 01:47] #12784 closed

[2019-06-14 01:54] BillWagner commented on #12809
Thanks for writing this up @geoff-m That section is confusing.

The preceding sections should clarify that the behavior of `virtual` and the syntax rules are identical for methods, properties, indexers, and events.

I'll add this to our backlog.

[2019-06-14 03:12] EugeneKramer commented on #12827
Thanks for [following through](https://github.com/dotnet/docs/pull/12733#discussion_r292499553) with the issue. A few other articles with similar phrasing:

[CA1810: Initialize reference type static fields inline](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1810-initialize-reference-type-static-fields-inline?view=vs-2019)

[CA2207: Initialize value type static fields inline](https

[2019-06-14 07:10] solarkraft opened #12830 "Language Extensibility"
The .NET Compiler Platform is often listed as only supporting C# and VB. That this list includes F# makes me hopeful about extensibility, but I can't find information about it anywhere.
Would it be possible to extend the .NET Compiler Platform (the analyzer part, anyway) with XAML support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-14 07:26] kyle0418 opened #12831 "Formatting issue"
In the document [How to: Create Thumbnail Images](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-create-thumbnail-images), the code is not aligned to the left.

    public bool ThumbnailCallback() {
            return true;
        }

        private void GetThumbnail(PaintEventArgs e)
        {

            // code omitted
        }

Should be,

    public bool Thumbna

[2019-06-14 07:44] YonglianQian commented on #12818
Please help, I encounter a similar issue, and the Timeout property would not work over https.

[2019-06-14 07:59] elgonzo commented on #12736
No, [that doesn't work](https://dotnetfiddle.net/Z47ndb). The var pattern cannot be used for `null` testing, as its result will always be `true`. The documentation for the var pattern already mentions this behavior, just before the code example my report is about.   :-)

[2019-06-14 08:21] Tarmil opened #12832 "Change the {| ... |} syntax used to explain computation expressions"
Now that anonymous records use the `{| ... |}` syntax, it would be good to change the pseudo-syntax used to explain the desugaring of computation expressions, because it can be confusing for beginners. (This has just come up on the FSSF Slack)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247c440d-b855-0df1-f2db-076cd

[2019-06-14 10:20] djangohunt commented on #7650
I also don't have this setting, I have tried adding manually (trying to disable binding redirection) and it isn't working, my app.config is being overwritten with a binding redirect.

[2019-06-14 13:00] BillWagner commented on #12634
@mkstarr Can you give me more details about what you were looking for on this page?

I'd like to find a solution, but I'm concerned that an exhaustive list isn't the best solution. There is a large list of tokens that are unexpected in different contexts. What was the original problem, and what led you to this page?

[2019-06-14 13:19] BillWagner commented on #12720
@Almantask We agree that this is the wrong article for beginners that don't yet have a background in OO techniques.

I'm curious how they landed here, instead of the introductory material on [interfaces](https://docs.microsoft.com/dotnet/csharp/programming-guide/interfaces/) in the programming guide. That material, while still not perfect, is more approachable and explains the concepts you were tr

[2019-06-14 13:19] #12720 closed

[2019-06-14 13:30] BillWagner commented on #12721
@Naeso This page is a reference page. It assumes some knowledge and experience with the C# language.

To get more background on the different elements of C#, along with guidance on how the different language components are used, I suggest our [tutorials](https://docs.microsoft.com/dotnet/csharp/tutorials/) section. In addition, the programming guide answers many of those questions. The first link

[2019-06-14 13:30] #12721 closed

[2019-06-14 13:35] yawnston commented on #5356
Because that doesn't work. It's kind of a gotcha - if you call a method from inside a checked block, and an arithmetic overflow happens in that method, unless there's a checked block inside it, there is no exception. The following code does not throw an exception and returns a negative integer.

[code]

It makes sense, because the method could be called from both checked and unchecked contexts. Th

[2019-06-14 14:24] kenwrites opened #12834 "'model', 'mlContext' switched in "Using the model" example"
This code snippet:

var size = new HouseData() { Size = 2.5F };
var predEngine = model.CreatePredictionEngine&lt;HouseData, Prediction&gt;(mlContext);
var price = predEngine.Predict(size);

should be:

var size = new HouseData() { Size = 2.5F };
mlContext.Model.CreatePredictionEngine&lt;HouseData, Prediction&gt;(model);
var price = predEngine.Predict(size);

Initial code snippet throws this except

[2019-06-14 14:38] #12817 closed

[2019-06-14 15:18] altso opened #12836 "No syntax highlighting"
It's a lot of code. Would be nice to have syntax highlighting enabled for the code snippet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e7c92f-899d-506e-dced-ade9245fa231
* Version Independent ID: 0f232a4f-3c75-7736-7c70-c409d3cf5ab5
* Content: [How to: Use Expression Trees to Build Dynamic Queries (C#)](https://d

[2019-06-14 15:48] #12832 closed

[2019-06-14 16:01] BillWagner commented on #12246
@daveyostcom I'm going to close this as "won't fix". While I agree that a sample rendering would be useful, there are too many different tools that create docs from the XML output.  Each of those tools (docfx, sandcastle, doxygen) show example output.

StackOverflow periodically has questions and updated lists of recommended tools.

[2019-06-14 16:01] #12246 closed

[2019-06-14 16:22] SkipSailors opened #12840 "Yield in other things than LINQ and foreach"
If I understand correctly the 'yield' can be used in any iterator, but the second paragraph of Remarks makes it sound like foreach or LINQ are the only places.  Maybe change "is consumed" to "can be consumed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ee1728-8dda-5659-8a20-d1c62a1d2968
* Version Independent ID: 8

[2019-06-14 16:37] igorgue opened #12841 "Incosistencies of `const` Style in the Docs"
I've been trying to find the convention over how to name `const`, and I'm lost a little bit.

In the `Constants` document uses a variable called (on the programming guide, which I think is worse):

[code]

But then in other articles we see it like this:

[code]
There's even an article that mixes lower case constants variable names with camelcase... What is it? And why do we teach new programmers t

[2019-06-14 16:47] #11876 closed

[2019-06-14 16:47] #12002 closed

[2019-06-14 16:57] #12834 closed

[2019-06-14 17:17] kenwrites commented on #12834
Snappy.  Y'all are on it today!  Thank you!

[2019-06-14 21:02] #11793 closed

[2019-06-16 09:13] Happypig375 opened #12848 "__SOURCE_FILE__ does not give the full path, only the file name"
e.g.
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18549429-231f-b395-87bb-e7e08688868d
* Version Independent ID: 651bfdb3-fe48-5987-4957-010b95d4cbfb
* Content: [Source Line, File, and Path Identifiers - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/source-line-file-path-identifi

[2019-06-16 10:34] bigdnf commented on #9517
I just enabled nullable like this

[code]
and my project is failing to compile 'Invalid 'nullable' value: 'Enable' for C# 7.3. Please use language version 'preview' or greater'. I'm using .NET Core 3 preview 6 and Visual Studio 16.2 Preview 2

[2019-06-16 17:52] EugeneKramer opened #12853 "Serialization (C#) - Add security considerations"
The _Serialization (C#)_ topic does not mention any security considerations, though serialization/deserialization are common attack vectors.

The topic is covered in part elsewhere:
* [Security Considerations for Data](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/security-considerations-for-data)
* [CA2300: Do not use insecure deserializer BinaryFormatter](https://docs.mic

[2019-06-17 00:12] dacruz007 commented on #10258
I also followed the tut, couldn't spot the difference in the class and the struct in there. I had to write the code using visual studio code, ran it and it still behaved like a reference type. I think the second code is wrong.

[2019-06-17 00:25] imba-tjd commented on #10258
@dacruz007 I see no error. `person1` was changed in the first example but remain unchanged in the second example.

[2019-06-17 00:38] dacruz007 commented on #10258
@imba-tjd  In the example, the first object had a class reference. In the second example, it was supposed to be changed to STRUCT in the Person class definition.

[2019-06-17 00:40] dacruz007 commented on #10258
@imba-tjd  You're right, I just had a second look at it again and saw it... tested it also and it behaved differently.

[2019-06-17 05:13] EugeneKramer opened #12857 "Unmanaged API reference - code blocks lack language identifier (cpp)"
Almost all code blocks in the unmanaged API reference lack a language identifier (and have no syntax highlighting). They should all be marked as `cpp`.

(Would it be worthwhile to submit a PR on this? This can be resolved with a regex replace.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26be196d-e1a9-0589-e39a-2714

[2019-06-17 05:27] #12848 closed

[2019-06-17 06:38] FarzanHajian opened #12859 "DataSourceChanged must be an event"
I tried this pattern and what I found is this
If you want the data source to be updated whenever the control is validated (DataSourceUpdateMode.OnValidation), there is no need for this pattern at all.
But if the data source needs to be updated as soon as the property changes (DataSourceUpdateMode.OnPropertyChanged) this pattern is needed and DataSourceChanged must be an event. So the line
public E

[2019-06-17 07:21] xtianus79 opened #12860 "I coded this out because it helps so much when you code each version of the lesson out"
Wanted to leave my final version. hope this helps someone. I will put all versions with comments on my repo.  Also, any feedback for improvement is appreciated.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Co

[2019-06-17 07:22] xtianus79 commented on #12860
one key thing is that task.Result is blocking so I had to omit that from the method

[2019-06-17 13:23] JRAlexander commented on #12824
Thanks for your feedback, @cynicl12000! I've added this to the backlog and will get it resolved soon.

[2019-06-17 13:27] JRAlexander commented on #12663
Thanks for your feedback, @baruchiro! This may be a localization issue. This issue was fixed a while back. Will follow up offline. Closing as I think this is resolved but will comment here if there are any updates.

[2019-06-17 13:27] #12663 closed

[2019-06-17 13:28] CeciAc opened #12861 "Incomprehensible translation"
@sokrata commented on [Sat Jun 15 2019](https://github.com/dotnet/docs.ru-ru/issues/205)

The translation does not make it clear what the numbers are at the beginning of the line:
It has been shown that it has been the Font object.
There must be something like this:
The values returned by these methods are given in units of the font, so they do not depend on the size and units of measurement of a

[2019-06-17 13:30] JRAlexander commented on #12656
@prathyusha12345 and @CESARDELATORRE - any feedback on this? Thanks!

[2019-06-17 13:33] CeciAc commented on #12861
Hi team,
I moved this here because even the contributor says it's a translation issue, they are suggesting changes in the original documentation

[2019-06-17 14:46] acornforth opened #12864 "Missing Windows Versions in RID list"
**Issue description**

List of RIDs for Windows incomplete.
I am building an app to deploy as SCD on Windows SBS 2011. It is not cleare from the docs which would be the correct RID to use. Can we please expand on this section to include the server versions that are currently missing?

Meanwhile I am assuming its the 2008R2 version and testing my deployment with this setting, please let me know if

[2019-06-17 15:16] thearticles opened #12865 "Doesn't Show any Output"
Its shows this:
C:\Program Files\dotnet\dotnet.exe (process 10752) exited with code -1073741795.
I am a beginner and came across a project that requires this functionality please help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version Independent ID: c8a996eb-82ed-a4bd-94d8-ef

[2019-06-17 15:57] #12836 closed

[2019-06-17 16:38] JRAlexander commented on #12865
Thanks for the feedback, @thearticles! Can you give some more information? Thanks!

[2019-06-17 16:48] JonPeltier opened #12867 "No sample syntax?"
How about a little bit of syntax here, so I don't have to follow another link to Dim:

Dim WithEvents app As Application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff11ae88-2fca-d4b4-71f8-8d0e36d40c40
* Version Independent ID: 86c34363-61f1-70c0-e8e7-02cec98629e3
* Content: [WithEvents (Visual Basic)](https://docs.

[2019-06-17 16:48] altso commented on #12836
Thanks everyone

[2019-06-17 17:18] #9803 closed

[2019-06-17 20:21] wadepickett commented on #9233
Just realized this was still open!  The architecture content is published on a top level in the TOC in the .NET Guide rather than in the Standard area (which is good), while the doc source lives in the standard directory of the repo (which will cause confusion).  It was agreed to move this content out of the stardard area in the repo.   However, at the time it sounded like it would be moved to the

[2019-06-17 20:37] weitzhandler opened #12869 "UWP?"
Are generic type arguments supported in UWP XAML as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65952d9f-041c-1f01-82ac-e9a9e99546c5
* Version Independent ID: 93abbfa7-14a3-2d2f-0a0c-6881b241225d
* Content: [Generics in XAML](https://docs.microsoft.com/en-us/dotnet/framework/xaml-services/generics-in-xaml)
* C

[2019-06-17 20:51] BillWagner commented on #12841
We should provide a link to the [CoreFx coding style guide](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) for this and other style issues.

I've added this to our backlog, and assigned the "up for grabs" label.

[2019-06-17 20:53] BillWagner commented on #12853
This is a good point @EugeneKramer

Ping @blowdart to suggest a fix.

[2019-06-17 20:57] blowdart commented on #12853
@GrabYourPitchforks How would you address this? List all the unsafe ones? This isn't just for Core, it's a general serialization doc.

[2019-06-17 20:59] mairaw commented on #9233
I've chatted with @CESARDELATORRE and @nishanil recently and managed to get this answer.

The architecture content is not published on the top level in the TOC. It's within the standard folder, which is what contains the .NET Guide content.

I'm working on a PR right now https://github.com/dotnet/docs/pull/12804 to move that content into its own section. The standard folder should only be about .N

[2019-06-17 21:15] Thraka commented on #12864
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

I looked on wikipedia for info about W

[2019-06-17 21:15] mairaw commented on #12831
Moving this to our backlog and our community contribution project. The sample can be found here:
https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Winforms/System.Drawing.WorkingWithImages/CS/Class1.cs#L188

[2019-06-17 21:18] mairaw commented on #12806
Are you referring to the following topic: https://docs.microsoft.com/en-us/dotnet/core/docker/build-container?

[2019-06-17 21:22] Thraka commented on #12783
@rpetrusha  perhaps you can answer this question?

[2019-06-17 21:22] #12797 closed

[2019-06-17 21:25] ScottSEA opened #12871 "Examples Must Be a Power of 2"
Per the text "Days has the Flags attribute, and each value is assigned the next greater power of 2." ... but they're not.  Powers of two in the example are:

[Flags]
enum Days
{
    None = 0x0,
    Sunday = 0x1,
    Monday = 0x2,
    Tuesday = 0x4,
    Wednesday = 0x8,
    Thursday = 0x10,
    Friday = 0x20,
    Saturday = 0x40
}

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-06-17 21:27] ScottSEA commented on #12871
ah, crap - what was I thinking...

[2019-06-17 21:27] Thraka commented on #12861
@CeciAc What do we do about this kind of issue? I can't figure out what the user is specifically talking about. The translation is going from `article english -> article russian -> github issue russian -> github issue english` so it doesn't seem to make sense 😄

[2019-06-17 21:27] ScottSEA commented on #12871
I'm an idiot

[2019-06-17 21:27] #12871 closed

[2019-06-17 21:30] mairaw commented on #12470
Closing due to the lack of response. Please get back to us with more information and we can reactivate the issue.

[2019-06-17 21:31] Thraka commented on #12857
Hi, thanks for opening this issue. I think it would be worth fixing via a PR.

[2019-06-17 21:32] mairaw commented on #12234
Closing due to the lack of response. Please get back to us with more information and we can reactivate the issue.

If this is a general question about .NET Core, maybe try asking your question on forums such as https://stackoverflow.com/.

[2019-06-17 21:32] #12234 closed

[2019-06-17 21:56] wadepickett commented on #9233
Update:  Looks like this was being resolved on a seperate thread.  The content will stay on the .net repo and will move out of standard and to its own folder.  It will not go to the architecture center.  On the dotnet homepage there will be a new tab for .NET architecture guidance to help with its discovery.

[2019-06-17 21:57] wadepickett commented on #9233
.. and looks like I just crossed updates with Maira. Thanks Maira.  I should have refreshed the page first.

[2019-06-17 22:56] mairaw commented on #12465
I've created a PR here: https://github.com/dotnet/docs/pull/12873

I've asked some folks to review it now.

[2019-06-17 23:06] PingPongSet opened #12874 "Code example for section Improved overload candidates"
Is it possible to provide code sample and links for Section Improved overload candidates?

https://docs.microsoft.com/en-gb/dotnet/csharp/whats-new/csharp-7-3#improved-overload-candidates

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddcaa6a52
* Version Independent ID: 6ea1af7f-2251-f05f-483

[2019-06-17 23:46] mairaw commented on #12377
Thanks for your feedback @tf-egoldman. I've opened PR #12875 to fix this.

[2019-06-18 00:03] Thraka commented on #12672
What is the error? What version of .NET Framework are you targeting?

[2019-06-18 00:07] Thraka commented on #12830
You should ask the roslyn team https://github.com/dotnet/roslyn

Cheers!

[2019-06-18 00:07] #12830 closed

[2019-06-18 00:26] #12377 closed

[2019-06-18 00:44] rpetrusha commented on #12783
@Maoni0, can you answer this question?

[2019-06-18 01:03] Maoni0 commented on #12783
yeah, that should be changed. I actually wonder if we even want to keep this section anymore - this talks about the version of the concurrent GC before BGC and BGC has been in existence since .NET 4.0 so do we want to keep the doc for pre 4.0?

[2019-06-18 03:06] prashantalhat commented on #11641
I was going to write exactly same comment. Should be same logic for beginning and end index.

[2019-06-18 06:35] famschopman opened #12879 "Inspecting after a transform"
How do I inspect a dataset after a transform which changes the schema?

var categoricalEstimator = lContext.Transforms.Categorical.OneHotEncoding("StringProperty");
ITransformer categoricalTransformer = categoricalEstimator.Fit(dataView);
IDataView transformedData = categoricalTransformer.Transform(dataView);

The following will fail because the schema has been updated with new vector types for th

[2019-06-18 07:39] acornforth commented on #12864
Hi @Thraka,
That's great news thanks, I would certainly consider making this fix myself and submitting a pull request, however I am only guessing as to which was the correct RID to use in my case. I was hoping someone with more expertise would clarify this for everyone, myself included :)

[2019-06-18 07:40] turesnake opened #12880 "How can I call C++ from C#?"
Thanks for the tutorial.
But I need your help!
I have already embedded a CoreCLR in my native C++ app.
Is there any way to call C++ function(unmanaged code) from C#(managed code) in this situation ? I mean, is there any way to let both sides communicate each other ?(not just call C# from C++)
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-18 11:35] #12840 closed

[2019-06-18 12:41] tariellaelius opened #12882 "IndexersExample instantiation error"
Math.PI is assigned to Baz, which is not present in the class definition. Was it meant to be assigned to Size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0efd6a6a-b52a-f6a2-d98b-f245b55115ff
* Version Independent ID: 95025282-20a0-ded8-c6d2-3b8ffff600c4
* Content: [Object and Collection Initializers - C# Programmin

[2019-06-18 13:52] #12882 closed

[2019-06-18 14:01] anato-s commented on #12470
@mairaw Sorry, for the delay. I am sure, this is the document
[https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/system-runtime-caching-element-cache-settings](url)

[2019-06-18 14:53] BillWagner commented on #12860
@xtianus79 I'm glad you like the article, and that building your own solution was helpful. 💯

Can you add a link to your repo here?  I'll close the issue, because I don't see any needed updates to the article. Having a link to find an alternative set of code would be useful to other readers.

[2019-06-18 14:53] #12860 closed

[2019-06-18 14:55] BillWagner commented on #12874
We should add a link to the [spec proposal](https://docs.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-7.3/improved-overload-candidates).

A sample would also be a good addition.

I've added this to our backlog.

[2019-06-18 14:57] vikneshrajsp commented on #12638
@EugeneKramer Agreed we can use `IReadOnlyList `as you have mentioned. Shouldn't the compiler restrict usage of readonly keyword on mutable types like list?

[2019-06-18 15:30] igorgue commented on #12841
Great thank you @BillWagner I've been facing issues with new C# developers completely lost on coding style I'll be sending that link to them!

[2019-06-18 15:35] #12638 closed

[2019-06-18 15:52] CeciAc commented on #12861
@Thraka zenhub copies the issue as is :)
the reported site would be https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-obtain-font-metrics

for what I could understand the user reports the numbers at the begining of the line are not explained.

[2019-06-18 15:57] CodeSwimBikeRunner commented on #6980
You are more than welcome to close this. I think that the * in the version is as intended, but at the time of writing the question Visual Studio integration with this in combination with .net core did not work. It works now, and we have been using * in the version.

[2019-06-18 15:57] #6980 closed

[2019-06-18 16:00] scottaddie commented on #10272
@mairaw The work is being tracked in the aspnet/AspNetCore.Docs issue linked above. Do you want to close this issue?

[2019-06-18 16:40] rpetrusha commented on #12783
I think we want to keep it for 3.5 and earlier, @Maoni0, but it clearly needs some fairly extensive revision. I'm about to start working on the other GC issues, so I'll do this at the same.

[2019-06-18 16:56] Thraka opened #12888 "List F# as not supported on roslyn languages api enum"
Add a note to F# that says that even though it's listed, it's not currently supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e6d898b-6040-87f7-92d3-40c959663e04
* Version Independent ID: 4bcbde71-e9ad-176e-9fa0-fd571274ae99
* Content: [LanguageNames Class (Microsoft.CodeAnalysis)](https://docs.microsoft.com/e

[2019-06-18 17:14] resnickj opened #12889 "Confusing information given about sessions"
The following 2 sentences seem to contradict one another:
1. "Note that the event-like behavior of duplex services **only works within a session**."
2. "A duplex contract **does not require a session**, although the system-provided duplex bindings make use of them."

So is a session required or not? It's unclear. And if sessions are not required, it would be nice to know why one might or might not

[2019-06-18 19:13] rpetrusha opened #12892 "Move Unmanaged API Reference from .NET Framework Guide to .NET Guide"
## Move Unmanaged API Reference from .NET Framework Guide to .NET Guide

In addition to supporting existing APIs in hosting, debugging, and profiling, .NET Core adds support for a number of APIs that are not supported on other .NET implementations. Currently, however, the [Unmanaged API Reference](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/) is located in the .NET Framework Gu

[2019-06-18 20:44] lillydelaparte opened #12893 "wrong link"
The link  under : For more information, see Creating XML Trees (C#), redirects to this same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d01ee7ce-9675-7bbc-430d-5a28876a6d06
* Version Independent ID: f718ba40-50aa-0b5f-4ff2-73b3430b37f4
* Content: [LINQ to XML Overview (C#)](https://docs.microsoft.com/en-us/dot

[2019-06-18 23:12] reggaeguitar opened #12895 "Small typo"
This sentence should not say "a data": "The following example defines a QueryCityDataForYears method that returns a 6-tuple that contains a data for a city for two different years."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc229b53-a548-4ef8-86b9-58670a81344a
* Version Independent ID: aeb15230-e1cc-df50-7edb-fb50

[2019-06-18 23:31] #12893 closed

[2019-06-19 08:55] VladislavMorozov opened #12897 "A mistake in Figure 6-3"
In the picture on figure 6-3, you have 2 microservices with number 10. I think that GoLang microservice should be 12. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49346f80-1204-08d7-df5e-3495c2404eca
* Version Independent ID: bcba2429-f5ab-0b27-6780-95155f27f142
* Content: [Designing a microservice-oriented a

[2019-06-19 14:38] impbloody opened #12903 "supernova"
I just noticed this, on the first example, theres an empty class for supernova... nicely done guys!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1766cac-6e34-c70b-0933-9d9def2344c4
* Version Independent ID: 38869398-bce4-0321-112d-4b44d558d7b1
* Content: [How to: safely cast by using pattern matching and the is and

[2019-06-19 15:17] luisquintanilla commented on #12879
Hi @famschopman ,

In order to inspect it, you can create a new class that defines your transformed schema. Using your example:

[code]

[2019-06-19 16:44] Youssef1313 commented on #12903
I think it's not a problem. The example just wants to show how to safely cast objects. so it doesn't matter what is inside the class for this example.

[2019-06-19 19:28] luisquintanilla commented on #9906
Hi @HarshitShukla

In your trainers, you can use the exampleWeightColumnName to provide custom weights for training at the instance or observation level. ML.NET does not support applying weights to the individual columns for training. However, you may want to consider using a CustomMapping transform at the beginning of your pipeline to achieve the same effect.

Here is the documentation to the Cus

[2019-06-19 19:28] luisquintanilla commented on #9906
Referencing issue on dotnet/machinelearning#884 for additional information

[2019-06-19 19:28] #9906 closed

[2019-06-19 20:04] anato-s commented on #12470
Well, I was away. I posted the update. Thanks

[2019-06-19 20:26] #12280 closed

[2019-06-19 20:56] mairaw commented on #12470
No worries. Reopening.

[2019-06-20 01:35] #12897 closed

[2019-06-20 01:59] #12895 closed

[2019-06-20 04:29] xcaptain opened #21366 "JsonSerializer.Parse<DataTable> failed"
Convert an object into json string and then convert into DataTable is an easy way to generate `DataTable`, but this approach fails in `dotnet core 3 preview5`

I have created a working dotnet core 2 code snippet at [https://dotnetfiddle.net/cD6NFD](https://dotnetfiddle.net/cD6NFD)

dotnetfiddle doesn't support dotnet core 3 yet, so my dotnet core 3 code example see below:

[code]

below are the er

[2019-06-20 05:23] siennaA opened #12919 "editing error?"
"For example, although List&lt;T&gt; implements the covariant interface IEnumerable&lt;T&gt;, you cannot implicitly convert List&lt;Object&gt; to List&lt;String&gt;."
should be
"you cannot implicitly convert List&lt;String&gt; to List&lt;Object&gt;." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53c40bb-9ec1-13e7-3

[2019-06-20 08:02] smilekok commented on #12180
And also activated runs before load event.

[2019-06-20 10:36] CESARDELATORRE commented on #12656
We’re working on a sample for Ranking (Nicole Haugen). It’ll be ready in the upcoming days.
Thanks for the feedback! :)

[2019-06-20 13:21] thearticles commented on #12865
I downloaded the project from git and tested it but its not giving any output
![image](https://user-images.githubusercontent.com/49184297/59852416-61fa2a00-938c-11e9-9db3-941ca09c1db6.png)

[2019-06-20 14:22] frodofrod opened #12922 "Manifest not required?"
After much head-scratching I think I've discovered that with .Net 4.8 the WIndows 10 compatibility entry in the manifest is not only not required, it actually stops some dpi enhancements from working, eg checkbox sizing in a datagridview checkbox column, and checkboxes in a checked list control. I've removed the app.manifest from my solution and all now works fine -it  only needs the DPIAwareness

[2019-06-20 14:43] CodeAddiction commented on #12483
@BillWagner I look forward to the desktop app tutorials, @edaymami there are plenty of desktop tutorials that teach the same fibonacci method, heres an example https://www.c-sharpcorner.com/blogs/fibonacci-series-using-wpf

[2019-06-20 15:22] #10739 closed

[2019-06-20 15:45] bjstigall opened #12923 "inputData in Batch missing"
The definition of inputData in the batch processing section is missing.  How to load from a CSV would be helpful.

[AB#1530397](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1530397)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e7cf89-1a90-7693-db50-11b770c09160
* Version Independe

[2019-06-20 16:15] pkulikov opened #12924 "Abridged Reference: Operators / operator overloading"
There are a number of articles in the current doc set that can be consolidated in the two following articles.

**Operator overloading**

This article should introduce the `operator` keyword and list the overloadable operators. The following articles are to be substituted with the new article:

- https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/operator
- https://docs.micr

[2019-06-20 17:01] luisquintanilla commented on #12923
Hi @bjstigall,

Thank you for the suggestion. For brevity purposes and since the topic of loading data has already been covered in the [Load Data how-to](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/load-data-ml-net), the definition and process of loading this data into an `IDataView` was deliberately omitted from this sample. I do think it might be confusing and have add

[2019-06-20 17:11] #12923 closed

[2019-06-20 17:31] natke commented on #12656
@marchy We should have the sample up soon. In terms of your approach of using multiple independent binary classifiers, can you elaborate a little more on the solution you used here? And did the results of this approach meet your requirements?

[2019-06-20 18:22] Thraka commented on #12869
Sorry, I don't know. You will probably have better luck asking that question in the UWP documentation repo: https://github.com/MicrosoftDocs/windows-uwp

[2019-06-20 18:22] #12869 closed

[2019-06-20 18:28] Thraka commented on #12864
@richlander Perhaps you can answer the question about RID for small business server?

[2019-06-20 18:35] Thraka commented on #12922
@OliaG can you confirm this behavior?

[2019-06-20 18:39] Thraka commented on #12903
Correct. It's used to create a new type that fails the testing done in `TestForMammals` and prints out a result indicating it.

[2019-06-20 18:39] #12903 closed

[2019-06-20 18:41] Thraka commented on #12861
Yes, but because of the translation, I can't figure out what line that is 😄

[2019-06-20 18:43] Thraka commented on #12818
@HongGit Can your team look at this issue please? Thanks

[2019-06-20 19:16] mairaw commented on #12861
@Thraka that's our usual workflow for loc issues that are considered "source", but sometimes we challenge if it really is a source issue.

If I look at the original issue in Russian, it seems that line refers to this sentence:
The numbers returned by these methods are in font design units, so they are independent of the size and units of a particular font object.

Is it the suggestion that we chan

[2019-06-20 19:33] pkulikov commented on #12861
@Thraka @mairaw

Yes, the original issue is about this line. However, it's about translation of the line. I've looked at the linked *.md* file in the `ru-ru` repo to check the translation. It's hard to make sense about. The author of the original issue says the same and *suggests* another translation of the line, which is much better. So, it seems to be a translation issue at first place.

As for

[2019-06-20 21:01] mairaw commented on #12861
I like your proposal @pkulikov! Would you like to make the PR?

@CeciAc I think we should reopen the original issue and close this one.

[2019-06-20 21:58] pdylanross opened #12933 "Provide examples as to why enums are a code smell that's not behind a paywall."
The page linked to at the top that claims that enums are a code smell simply links to a pluralsight course that supposedly justifies calling enums a code smell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7c91ccc35779
* Content: [

[2019-06-20 22:19] weitzhandler commented on #12869
I've already found the answer and it's unfortunately negative.
Generic types aren't supported by UWP XAML.

[2019-06-20 22:27] #11566 closed

[2019-06-21 02:32] decafbad opened #12940 "possible typo at second minus operator."
Do we have a missing '?' at nullable subtraction operator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda0064b-feb6-ccf5-b77c-92e59be17b0c
* Version Independent ID: 7f789b6e-4f55-5740-2c2f-2dec4e2129fc
* Content: [Symbol and Operator Reference - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/

[2019-06-21 05:15] #12940 closed

[2019-06-21 05:24] pkulikov commented on #12861
@mairaw you meant this repo? Then: #12944

[2019-06-21 05:45] mairaw commented on #12861
Yes, that's what I meant. Thanks @pkulikov.

[2019-06-21 06:25] saranyakavins opened #12947 "What is the counter to track the queued requests to handle"
In the Throttle concurrent requests per session, please specify the exact counter to track the queued request

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6244a293-43f8-82ba-b7c9-aa85af3a4b15
* Version Independent ID: 95061aef-1917-4a1e-06c4-3d6b2d84dfd2
* Content: [Retargeting Changes for Migration from .NET Framewo

[2019-06-21 06:43] mjwills opened #12948 "`You can't declare a ref struct as a member of a class or a normal struct.` is imprecise"
See https://stackoverflow.com/questions/56697918/why-can-declare-a-ref-struct-as-a-member-of-a-class-in-c7-3 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d67349b-72bc-b7cf-f754-fa62d1fb592d
* Version Independent ID: 4f413bcc-90e7-d971-fe75-b4876124e75d
* Content: [ref keyword - C# Reference](https://docs.microsoft

[2019-06-21 10:45] frodofrod commented on #12922
[TestHighDpI.zip](https://github.com/dotnet/docs/files/3314111/TestHighDpI.zip)
I’ve done a bit more work to try and isolate the cause of this. For both my full app and a stripped down app built afresh, including the supportedOS tag for win10 causes small checkboxes, with it commented out they display correctly.

I’m using Win 10 1903, vs 2019 with .net 4.8 and VB, all fully updated. I think somet

[2019-06-21 11:51] nbxmike opened #12952 "Use of a undefined term to explain execution."
In the sentence "If the first operand evaluates to true, the second operand is not evaluated." the term first has never been defined.  While it is clear from the rest of the paragraph, it would be clearer to say "If the left operand evaluates to true, the right operand is not evaluated."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-21 12:27] hackked commented on #7477
I also ran into this bug in a project.  It would be great to get the example updated.  If the objects are identical with the exception of either object having exactly one additional atomic value, the objects will still be considered equal.  Saving the result of the MoveNext() calls to a local variable can work around the problem and not require a ToList() on the GetAtomicValues() calls.

[2019-06-21 13:01] Wallonman opened #12954 "IAuthorizationPolicy Evaluate() called after ServiceAuthorizationManager CheckAccessCore(): why?"
The operationContext.ServiceSecurityContext.AuthorizationContext.ClaimSets is populated at the time the enumerable is "touched" by mean of a foreach of a GetEnumerator.

This is good to know that the call to the registered IAuthorizationPolicy's is not done prior to entering the CheckAccessCore() method but is delayed to the time the Claimset colleciton is enumerated.

Thank to this post -&gt; htt

[2019-06-21 14:10] #12952 closed

[2019-06-21 14:36] oatsoda commented on #12464
@JRAlexander There is still a problem because the code references `loadedModel` which doesn't exist.  Are we supposed to use `_trainedModel` instead?

[2019-06-21 15:04] Mike-EEE opened #12955 "InBetween?"
This looks great, but finding trouble with how to use these ranges with basic methods like InBetween, etc.  I thought I saw these in a demo at one point but do not see any methods to do so now when examining this in Visual Studio.  Any guidance/assistance here would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-21 15:48] reggaeguitar opened #12956 "Ambiguous sentence"
"It's a compile time error to compare two tuples for equality (or inequality) when they have different shapes. The compiler won't attempt any deconstruction of nested tuples in order to compare them." Will the compiler never attempt an deconstruction of nested tuples or only if they have different shapes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-21 16:14] sdmaclea commented on #762
@swythan

We have https://docs.microsoft.com/dotnet/standard/analyzers/portability-analyzer which will
analyze the actual API usage of your app and generate a portability report for any port target

There is also an interactive list in the https://apisof.net/catalog/ if you want to browse.

[2019-06-21 18:00] swythan commented on #762
Those are for API changes, not behavioural charges.

My issue is that .Net Core is accepting changes that .Net Framework wouldn't because they might break existing code. That's fine, but if I'm porting from one to the other I'd really like to know where I should be testing.

[2019-06-21 18:28] cartermp commented on #762
@swythan

Realistically, no. .NET Core is the future of .NET and as such will be the only thing that gets new capabilities. So it's best to assume that nothing new will be backported.

[2019-06-21 18:59] sdmaclea commented on #762
@swythan

We try to maintain backward compatibility where possible. The changes in the API surface are obviously the primary change.

There are a few APIs which are _implemented_ by throwing `PlatformNotSupportException`. The https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer will help with those.

There are subtle backward compatibility behavioral differences. Most of them ar

[2019-06-21 19:15] swythan commented on #762
I know that nothing else is being back-ported. I accept that.

What I would really like to see is a list of known _behavioural_ differences between .Net Framework and .Net Core.

Here's my approximate position:

1. Company uses .Net Framework for years. Gets used to the high levels of compatibility between releases and long support cycles.
2. .Net Core is released but company doesn't adopt it (eve

[2019-06-21 20:15] CeciAc commented on #12861
Thank you all,
Closing this issue and following it up on the original post

[2019-06-21 20:15] #12861 closed

[2019-06-21 20:22] BillWagner commented on #11522
@laurentkempe Are you still interested in making a PR for this?

[2019-06-21 20:41] Thraka commented on #7650
@djangohunt can you share more information about your project?

[2019-06-21 20:46] cartermp commented on #762
Unfortunately, it's impossible to document what you are asking for. Even switching your project to use PackageReference can result in semantic differences that are impossible to enumerate. There are some major pieces we document (i.e., no support for Windows Workflow) but every single behavioral difference is not possible. Doubly so if you're running your application on something other than Window

[2019-06-21 21:06] natke opened #12960 "Unresolved crefs using new API build and render (SDP)"
Logging this here for now to track until we are sure of the root cause of these errors:

Errors on the following pages:

https://review.docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.valuemappingestimator-2?branch=SDPTest&view=ml-dotnet
 - `xref:Microsoft.ML.ConversionsExtensionsCatalog.MapValue%60%602(Microsoft.ML.TransformsCatalog.ConversionTransforms%2cSystem.Collections.Generic.IE

[2019-06-21 22:09] OliaG commented on #12922
app.manifest is not required. But as for different look of check boxes, @merriemcgaw, is this expected?
![image](https://user-images.githubusercontent.com/31997351/59953775-798ded00-9436-11e9-8858-ea6f85ad9c4e.png)

[2019-06-21 22:16] merriemcgaw commented on #12922
This seems odd to me. @dreddy-work can you take a look? It's almost like having the app manifest enabled has EnableVisualStyles disabled.

[2019-06-21 22:42] frodofrod commented on #12922
I realise app.manifest is not required for a simple project - I only added it to the project because this page advised me to!

" In addition, to configure high DPI support in your Windows Forms application, you must do the following:
Declare compatibility with Windows 10.
To do this, add the following to your manifest file:

<compatibility xmlns="urn:schemas-microsoft-com:compatibility.v1">
  <app

[2019-06-21 22:55] merriemcgaw commented on #12922
Interesting. We fixed an issue a few months ago around EnableVisualStyles because Windows changed something underneath us and caused a problem. With 4.7.2 still having the problem it does seem like Windows broke it. @dreddy-work your fix wouldn't be on the latest OS until the servicing update goes out, right? Once it does the strange looking controls should be fixed. But not needing the OS compati

[2019-06-21 23:19] natke commented on #12960
Moved this issue into ML.NET repo: https://github.com/dotnet/machinelearning/issues/3898

[2019-06-21 23:20] #12960 closed

[2019-06-21 23:25] dreddy-work commented on #12922
-	I do not see that issue on my machine. I might have the latest runtime.
-	User can set DPiawareness either through app.manifest or app.config.
o	If they set it via app.manifest, they get windows high dpi improvements( if any) but may not get winforms high dpi improvements.
o	If they set it in app.config, they get winforms high dpi improvements along with windows( if any).
o	In both the cases, ap

[2019-06-22 05:39] laurentkempe commented on #11522
Damn, yeah sorry @BillWagner it went out of my head!

[2019-06-22 06:23] EugeneKramer opened #12961 "Exception Filters Finally (C#) - Add security considerations"
Security considerations regarding filters should be documented. C#6 exception filters run before inner finally blocks, which can [create a security loophole](https://stackoverflow.com/a/39515027/389823) when running untrusted code.

Jon Skeet writes in _C# in Depth_ (p. 310)

It may be worth noting in the reference and [Best practices for exceptions](https://docs.microsoft.com/en-us/dotnet/standar

[2019-06-22 13:03] LambertWM opened #12964 "Confused"
I came here to find practical info about using the OpenFileDialog class, but 98% of the information here is irrelevant (and confusing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9db6b2-ee5e-dffb-94ea-3c56ed18e34e
* Version Independent ID: 9a19956f-7670-1e75-feb7-8a8b2e71c31e
* Content: [How to: Open files with t

[2019-06-23 03:17] Azulea opened #12968 "Incorrect registry value that AppContext for Japanese era"
Example:
HKEY_LOCAL_MACHINE\Software\Microsoft.NETFramework\AppContext
Switch.System.Globalization.FormatJapaneseFirstYearAsANumber
Value 1

This registry value is not effected. (tested on Windows 10 1809)
Correct value is "true".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6585f784-ab83-1a98-acc0-a25351702686
* Ver

[2019-06-23 06:30] emrgcl commented on #9979
Documentation needs this update. Still pointing to wrong path.

[2019-06-23 09:30] swythan commented on #762
I seem not to be making my point effectively. @sdmaclea has made me think of a better way of expressing it:

Could we have a list of _known_ changes for which .Net Framework would have (probably?) added a Quirk option?

I'm not looking for an exhaustive list of everything that _might_ have a compatibility  effect. I'm looking for a list of changes where the .Net Core team _actively chose_ that a b

[2019-06-23 12:08] SeanDevoy opened #12969 "Error in Step 6"
Step 6 says:
Stream dataStream = request.GetRequestStream()
which is the C# syntax.  In VB it is
Dim dataStream As Stream = request.GetRequestStream()
HTH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a7ce223-b955-7f50-6b53-15585c68f02d
* Version Independent ID: 78e4d95a-3a97-ec74-ebf4-843bad4efa7a
* Content: [How to

[2019-06-23 12:49] changhuixu opened #12970 "What are the differences between "dotnet *.dll" and hosting app in IIS?"
The command `dotnet *.dll` serves the application. I am not sure if it misses some features as compared to hosting application in IIS.
Can anyone please elaborate on the differences? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d

[2019-06-23 16:14] jkotas commented on #762
The .NET Framework servicing policy for last number of years has been that any observable behavior change has to be quirked (except for security fixes). .NET Core contains a lot (many hundreds) bug fixes that are observable behavior changes. Most of them would need quirks in .NET Framework. I doubt that a list of many hundreds of subtle differences would be useful to anybody.

We used to run .NET

[2019-06-23 20:38] WhiteEagle5150 commented on #7146
@iberodev,

Your solution worked for me. Thank you.

My environment:
gitlab-runner 11.9.1 / linux/Ubuntu 14.04
dotnet-sdk:2.1.302-v2.6

````dotnet nuget push $OUTPUT_DIR/**/*.nupkg ...````

[2019-06-23 22:06] SuperJMN commented on #4663
Still missing instructions for the RPi3?

[2019-06-24 00:00] miss-programgamer opened #12972 "Example doesn't demonstrate the usefulness of creating an AppDomain"
The given example doesn't showcase a useful use case for creating an AppDomain. It merely demonstrates that they can have different names, which hardly seems informative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68373d20-e532-ffbc-ecd7-3aef579e6861
* Version Independent ID: ae5aeddc-80aa-490d-6130-b18eef17d413
*

[2019-06-24 12:03] vitek-karas opened #12974 "HostWithHostFxr sample is confusing to use from Visual Studio"
**Issue description**

Using the sample https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr, it builds following the `.md` file correctly, but trying to look at its code from Visual Studio is confusing.

The sample doesn't have a solution file and opening one of the `csproj` files is weird:
* One only sees the managed component
* The other sees both managed and native compon

[2019-06-24 12:16] swythan commented on #762
@jkotas

**Yes, that's exactly what I'm asking for.** Thank you. I also agree about it being just as useful when moving between versions of .Net Core.

Given that you think think the list of observable behaviour changes would be hundreds of items long, I can see that such a would probably not be useful enough to justify the expense of creating it. A link to dotnet/corefx#37972 and that [breaking c

[2019-06-24 15:25] jkotas commented on #762
@danmosemsft @karelz Does it sound reasonable to you to use `breaking-change` label to tag issues and changes with high breaking potential in CoreFX repo? It is in use for CoreCLR repo already. (Or suggest an alternative way how we can keep track of changes with high breaking potential.) Once we agree on the plan, I will update the repo documentation with it.

[2019-06-24 17:27] dreddy-work commented on #12922
Looks like this issue is specific to VB and only regressed in .NET 4.8. We need to take a look

[2019-06-24 17:29] merriemcgaw commented on #12922
@KlausLoeffelmann can you help @dreddy-work investigate perhaps?

[2019-06-24 18:00] AArnott opened #12979 "Missing docs and example on object initializer that lacks a `new` keyword"
From [C# ecma spec](https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-334.pdf) 12.7.11.3 it is possible to initialize values into a member using a `= { }` syntax (note the lack of the `new` keyword). By this it's possible to initialize a new object deeply within its properties that may not even make a setter available. This is very interesting and useful, and should be documented

[2019-06-24 19:26] rpetrusha opened #12980 "Evaluate BinarySerialization documentation, samples"
## Evaluate BinaryFormatter documentation and samples

Because the use of [BinaryFormatter](https://docs.microsoft.com/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter) is not recommended, we should:

- Display the existing warning that appears in the **BinaryFormatter** class documentation and the documentation of selected **BinaryFormatter** members in the documentation

[2019-06-24 20:35] natke commented on #12865
@thearticles Did you download the project assets, as described in this step: https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification#prepare-your-data

[2019-06-24 20:37] natke commented on #12509
@randalto Do you have enough information to solve your problem now?

[2019-06-24 21:30] rpetrusha commented on #12969
Thank you for noticing and reporting the copy-and-paste error. We've fixed it in #12981.

[2019-06-24 21:52] rpetrusha commented on #12867
Thanks for submitting your feedback, @JonPeltier. This was fixed by #12896.

[2019-06-24 21:52] #12867 closed

[2019-06-24 21:55] mairaw commented on #12974
@elinor-fung can I assign this one to you?

[2019-06-24 21:58] mairaw commented on #12470
@rpetrusha do you know how to find the owner of these config settings?

[2019-06-24 21:59] mairaw commented on #12422
@nishanil can you look at this feedback?

[2019-06-24 22:23] dmonroym opened #12983 "New Project dialog box has changed"
Step 3 is no longer true - You can now simply search for the template in VS2019. It would be good to specify if they're targeting .NET Core as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22951aaa-bfb8-f6e5-5d08-d9fd758bc689
* Version Independent ID: 214492ea-f78e-e1b2-5767-ec3cf32cc54a
* Content: [Hello World

[2019-06-24 22:34] #12969 closed

[2019-06-24 22:51] rpetrusha commented on #12470
@StephenMolloy and @HongGit, is the documentation correct? And is the name case-senstiive?

[2019-06-25 00:10] Lxiamail opened #12985 "Need clarification of how to interpret the Portability analyzer report"
The doc doesn't have instruction of how interpret the Portability analyzer report . Some of the existing link or concepts can have some fix up as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd8086b-9a95-38d5-160f-c12c653f954e
* Version Independent ID: 0f47d826-e3ef-8549-9d37-2e8afae29f46
* Content: [The .NET

[2019-06-25 00:29] mairaw commented on #11586
Thanks for your feedback @hongcc1. You're right, the comment shouldn't be the same. Would you like to submit the fix for this?
Perhaps you could say something like "Encrypt the data and store the result in a new byte array. The original data remains unchanged." What do you think?

The samples for this article can be found here:
https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snipp

[2019-06-25 00:33] StephenMolloy commented on #12470
The name is case sensitive. https://referencesource.microsoft.com/#System.Runtime.Caching/System/Caching/MemoryCacheStatistics.cs,108 is where the lookup is done, and that collection of named caches is case sensitive. The example should be updated.

[2019-06-25 00:36] dhowes commented on #6803
The instructions say "You can create your own image, copy the file from the sample code, or get it here." If you follow the "here" link you get to

https://github.com/Microsoft/WPF-Samples/tree/master/Getting%20Started/WalkthroughFirstWPFApp

If you enter the csharp folder and save the file from the page (by right-clicking), the file you get is invalid. The link is

https://github.com/microsoft/WP

[2019-06-25 00:38] JimInWA commented on #11903
I don't have a screen reader handy, so this might already been taken care of in the new design but I wanted to raise it just in case - because the new design uses JavaScript to apply an image using CSS (label-danger or label-success) there is a strong possibility that a user with a screen reader won't get any of the additional details - meaning that they will just hear the numbers without any addi

[2019-06-25 00:39] dhowes commented on #12423
As you say, the sample code is inconsistent in that the box includes more code than has been introduced up to that point. However, the required code is highlighted. All the other code samples are fine.

[2019-06-25 01:43] rowanmiller commented on #11903
@JimInWA you are correct - we'll get this fixed.

[2019-06-25 01:44] rpetrusha commented on #11484
Thanks for pointing out the verbosity of the example, @andybak. We've modified it in dotnet/samples#1013.

[2019-06-25 06:08] nschonni opened #12994 "useb parameter in Windows install script isn't documented"
From https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-webrequest?view=powershell-5.1 it looks like it might be an undocumented form of "-UseBasicParsing`. It might be better to be explicit if that's the case

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b5

[2019-06-25 06:21] nschonni opened #13000 "Using the check and cross marks to convey meaning is an accessibility issue"
You could use the icons if you use an image with an applicable alt-text

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b482b0-6dd1-42de-5389-5b0b47823402
* Version Independent ID: 79a4adc9-b2c9-68b7-669e-2bd8d2d44faf
* Content: [Evaluate breaking changes - .NET Core](https://docs.microsoft.com/en-ca/dotnet/core/compa

[2019-06-25 09:00] garyng opened #13004 "Accidental MathJax rendering"
Seems like the dollar sign triggered mathjax rendering under the section `#add-occupancy-pricing` in these lines

[code]
![image](https://user-images.githubusercontent.com/4453664/60084859-e113a780-976a-11e9-9c40-28dd87c3af62.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc5c533-a9ca-cc70-af20-21308e819082
* Ver

[2019-06-25 10:43] thearticles commented on #12865
Yes did exactly like what was in the documentation

[2019-06-25 12:01] rjkuehne commented on #12423
I did go further and see that you end up changing/adding code so that you get to the code that is shown in that step eventually.  Just seems to be a bit lazy, to confuse people rather than go step by step with them because you’ve already changed the code on your end.

From: David Howes <notifications@github.com>
Sent: Monday, June 24, 2019 8:40 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Robe

[2019-06-25 14:40] nishanil commented on #12422
Hey @SteveKennedy Thanks for your feedback, This section in the documentation is part of our Architecture Guide/e-book: [.NET Microservices: Architecture for Containerized .NET Applications](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/) and hence it focusses only on Containers and their deployment using orchestrators like Kuberenetes. In this context, when an app wi

[2019-06-25 15:06] #11484 closed

[2019-06-25 16:33] davidhunter22 opened #13010 "IEnumerable<T>"
Arrays do not implement IEnumerable&lt;T&gt; as can be seen via https://docs.microsoft.com/en-us/dotnet/api/system.array?view=netcore-3.0 which is a real pain. They do implement IEnumerable via Array -&gt; IList -&gt; ICollection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02d7544-6f92-5582-9d28-7160a5bc916a
* Vers

[2019-06-25 17:31] dhowes commented on #12423
"I did go further and see that you end up"

"because you’ve already changed the code on your end"

I'm not sure whether "you" and "you've" here refer to the tutorial creators or to me. In case it's me, please note that I have nothing to do with this tutorial. I worked through it for the first time yesterday, noticed the highlighting, and thought it would be helpful to mention it so others could ge

[2019-06-25 18:28] Lxiamail opened #13014 "A bit more specific guidance when to use which tool"
It's not clear what's the unique value of .NET Portability Analyzer and .NET API analyzer tools, and when to use which.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 577db847-e424-a9dc-ee2d-f2c6ddb54600
* Version Independent ID: 5fa219d8-0c9c-c758-c1ee-17cefd75ca24
* Content: [Port code from .NET Framework to .NET Cor

[2019-06-25 19:11] cyberkoolman opened #13016 "RecommendationCatalog in ML.NET 1.1"
From ML.NET 1.1, I don't see RecommendationCatalog in MLContext. If the table meant to be comprehensive, ClusteringCatalog and ForecastingCatalog available are not mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edace175-268c-7428-dad5-95cd974422c3
* Version Independent ID: 707aed84-b636-088a-bf57-1cc5e4f6963

[2019-06-25 20:23] #13004 closed

[2019-06-25 20:26] BillWagner commented on #9863
The `dotnet try` tutorials referred to in #12975 address this.

Closing.

[2019-06-25 20:26] #9863 closed

[2019-06-25 20:38] Thraka commented on #10960
@mishrsud This feedback is already captured in the templates repo. dotnet/templating#1750

Thanks.

[2019-06-25 20:38] #10960 closed

[2019-06-25 20:54] natke commented on #12865
@thearticles Can you please give us some information about your environment:
- O/S
- version of visual studio

I can see that you have an error code in your output. Is there any information in the visual studio output window that might be helpful?

[2019-06-25 23:06] rowanmiller commented on #11903
@JimInWA just confirming that this is now fixed. We added additional "is supported"/"is not supported" text that is only rendered for screen readers.

[2019-06-25 23:19] JRAlexander commented on #12879
Hi, @famschopman! This appears resolved so we're going to close. Please reopen or comment here if that isn't the case. Thanks!

[2019-06-25 23:19] #12879 closed

[2019-06-26 02:55] jmsiyath opened #13027 "Confused"
Could you please explain with more sample codes like OnBuildTreeTopDown vs OnBuildTreeBottomUp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e843d09-52a6-777c-f57c-a89585aa954e
* Version Independent ID: 4ac53563-bbfb-1edc-ae56-2f7f4e8be00a
* Content: [Optimizing Performance: Layout and Design](https://docs.microsoft

[2019-06-26 06:13] zxli opened #13029 "This page (migration from .NET Framework 4.6.1 to 4.7.1) should mention System.Runtime and some other system assemblies which are changed in .NET 4.7.1..."
Here is a few GitHub issues.
https://github.com/dotnet/corefx/issues/32757
https://github.com/dotnet/standard/issues/481

System.Runtime and some other system assemblies are integrated in .NET framework 4.7.1. It brings some weird issues for the apps developed with .NET framework 4.6.1 and then upgraded to .NET 4.7.1. Those apps used NuGet packages for System.Runtime with .NET framework 4.6.1 and

[2019-06-26 06:39] hiskensullivan opened #13033 "ASP.NET Core Web Api works locally but Fails VSBuild on Azure DevOps (ERROR NETSDK1061)"
In advance, I am new to aspnet core.

I have an ASP.NET Core Web Api project that retrieves from my hosted mongodb that is then consumed by my React UI. Locally it works (albeit with several warnings)

![image](https://user-images.githubusercontent.com/48420949/60156799-9c524400-9830-11e9-9db4-678beebff340.png)

but when I try to deploy it to my Azure DevOps Pipeline to get built, I get the follow

[2019-06-26 09:24] jgfet opened #13047 "Make it so I can visually see examples. Not just ComboBox - but all of them."
See title...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 528ddf4c-b257-050c-396b-074e2ff30954
* Version Independent ID: 264783aa-9520-4271-7d00-d85c6914680a
* Content: [ComboBox Control (Windows Forms)](https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/combobox-control-windows-forms#feedback)
* Con

[2019-06-26 15:15] #11589 closed

[2019-06-26 17:36] jgfet opened #13050 "Passing parameters..."
It's all very well defining how to code this. But how the heck do I add parameters so that when I run code in IDE (VS2019), the launch process has the necessary arguments added. Need to reference this for IDE users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 837b7255-3cfe-b480-ea07-298a24d96185
* Version Independen

[2019-06-26 18:35] rpetrusha commented on #12968
Thanks for pointing this out, @Azulea. We've opened #13052 to address this issue.

[2019-06-26 19:22] BillWagner commented on #10726
The content from the following files should be moved into this new article:

- docs/csharp/language-reference/keywords/built-in-types-table.md
- docs/csharp/language-reference/keywords/default-values-table.md
- docs/csharp/language-reference/keywords/value-types-table.md
- docs/csharp/language-reference/keywords/value-types.md

[2019-06-26 19:22] BillWagner commented on #10728
When I add the second article for floating point types, add an introductory "numeric types" that includes content from:

- docs/csharp/language-reference/keywords/implicit-numeric-conversions-table.md
- docs/csharp/language-reference/keywords/explicit-numeric-conversions-table.md

[2019-06-26 19:56] BillWagner commented on #12642
Fixed in dotnet/try-samples#5

[2019-06-26 19:56] #12642 closed

[2019-06-26 20:41] Thraka commented on #13050
@jgfet Thank you for filing this issue. I believe the C# programming guides focuses on the language instead of a specific IDE since there are three main IDEs available, Visual Studio, Visual Studio Code, and Visual Studio for Mac.

@BillWagner Should this be covered by the Visual Studio documentation? I'm shocked that I can't find it listed anywhere there. They really should have this covered and

[2019-06-26 20:46] pkulikov commented on #13050
It's covered, but very silently here:
https://docs.microsoft.com/en-us/visualstudio/ide/reference/debug-page-project-designer?view=vs-2019#start-options

The .NET docs reference that page from this article (check the note at the bottom of the page):
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/main-and-command-args/command-line-arguments

[2019-06-26 20:48] BillWagner commented on #13050
cc @gewarren

[2019-06-26 20:54] Thraka commented on #12972
I think this section is really a progressive how-to area. The next article in the TOC keeps doing more. However, the whole area is not presented as a tutorial series which is a bit confusing. I'll put this on the backlog for when we look into this area. But right now, we're not focusing on it.

[2019-06-26 20:56] glenn-slayden commented on #9803
Thanks all.

[2019-06-26 21:03] Thraka commented on #13050
Indeed. I used both `arguments` and `parameters` in searching the vs docs and didn't see that page at all. It seems like it should be covered as part of the debugging conceptual topics instead of the UI reference.

[2019-06-26 21:13] gewarren commented on #13050
@Mikejo5000 Do you cover this anywhere in the debugger docs?

[2019-06-26 21:33] Thraka commented on #13027
Hello!

Thank you for the question. We're not going to update the documentation at this time. But this is referring to the order of adding children. The example demonstrated is how you should add children to a parent (when you're doing it programmatically of course), level by level starting at the highest parent. The opposite would be to start with the lowest child, create a parent, add the child

[2019-06-26 21:33] #13027 closed

[2019-06-26 21:59] jwisener opened #13056 "does not work"
sample does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7b94e2-8239-bdc2-049b-fc69130f8889
* Version Independent ID: d02c6ff7-dc9a-d967-9b2c-02f9fcf44fca
* Content: [Shape of WordprocessingML Documents (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/shape-of-wordproce

[2019-06-26 22:27] Thraka commented on #13010
Hello!

`Array` is an abstract base class, and as the base class for other arrays, it doesn't know the type being used. Hence, `IEnumerable<T>` doesn't need to be implemented on `Array` directly. When you create a typed array, such as `int[]`, they have the appropriate `IEnumerable<T>` interface implemented.

I'm going to close this issue. If your question is not answered, to leave a comment or re

[2019-06-26 22:27] #13010 closed

[2019-06-27 01:20] #8563 closed

[2019-06-27 03:46] LeiYangGH opened #13059 "Why need such complex code instead of one line?"
myImage.Source = new BitmapImage(new Uri("smiley.png"));

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71fdbaa6-085d-0162-2015-3661c60dd93b
* Version Independent ID: 399ebd64-229f-5684-4803-29de42008e80
* Content: [How to: Encode and Decode a PNG Image](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-mu

[2019-06-27 04:47] mairaw commented on #9909
Thanks @livarcocc for the feedback. Closing the doc issue then.

[2019-06-27 04:47] #9909 closed

[2019-06-27 06:01] minuz opened #13066 "Is there a way to specify which nuget source to use?"
I've been reading the docs and I have an issue with the CLI that is:

I'm trying to install a global tool using `dotnet tool install --g dotnet-outdated` and within my local nuget, I have a few nuget feed. Instead of trying to download from the `nuget.org` which is the default source, is trying to download from one of the private nuget feed.

This private nuget feed only works within the company's

[2019-06-27 06:36] mairaw commented on #13066
Thanks for your question @minuz. @KathleenDollard @livarcocc can you help with this question about dotnet tool install?

[2019-06-27 07:51] davidhunter22 commented on #13010
The documentation for array states "Array types are reference types derived from the abstract base type Array. Since this type implements IEnumerable and IEnumerable<T>, you can use foreach iteration on all arrays in C#". The "Since this type" clearly refers to Array and states it implements IEnumerable<T> which is incorrect. You can use foreach on any derived type of Array because it does impleme

[2019-06-27 08:21] davidhunter22 commented on #13010
Actually I just had a thought about 2D arrays. I tried
[code]
Which fails to compile. So your comment about derived classes implementing `IEnumerable<T>` seems to only apply to 1D array not multi dimensional arrays.
In general that brings up another issue with this page that it is not clear about what in Array works for 1D arrays versus multi dimensional arays.

[2019-06-27 14:15] BillWagner commented on #12924
@pkulikov This is a great plan.  Thank you.

I've assigned it to you, and added it to our next sprint. (I added myself as an additional assignee so this stays in my daily list to 👀 at.

[2019-06-27 14:26] tbradner1 commented on #6707
Why not make the private backing field protected so you can use inheritance?

[2019-06-27 14:27] thearticles commented on #12865
I run Visual Studio Community 2019 on a Windows 10 Pro PC
.NET Core 2.1
The output says "The program '[8340] dotnet.exe' has exited with code -1073741795 (0xc000001d) 'Illegal Instruction'."

[2019-06-27 14:35] natke commented on #12865
@thearticles

Are you able to do a fresh clone of: https://github.com/dotnet/samples

Change directory into: machine-learning/tutorials/TransferLearningTF

Run the command `dotnet run`

And paste the output back in here. Thank you!

[2019-06-27 15:22] #10593 closed

[2019-06-27 16:00] KathleenDollard commented on #13066
Adding @wli3

[2019-06-27 16:31] #12470 closed

[2019-06-27 16:36] rustd opened #13089 "Remove the links at the bottom."
Remove these links at the bottom. For now the call to action could be go to the scenarios page to learn about other scenarios https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder#scenarios

Advance to either of the following how-to articles to learn how to deploy your model.
![image](https://user-images.githubusercontent.com/1132652/60283738-ba668580-98be-1

[2019-06-27 16:49] rustd opened #13090 "Add screen shots for how to install/ uninstall from VS"
Add screenshots of the steps listed.

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596631)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5692cfb5-52e1-b6b9-2b87-7ea0decc2882
* Version Independent ID: 2da762a6-5bc4-a8d1-afae-f1a8243eee33
* Content: [How to install Model

[2019-06-27 19:35] sdmaclea commented on #762
This is bigger and broader than what I will take on.  I will remove my assignment and open separate issues for the pieces I will tackle.

[2019-06-27 19:36] bomeers commented on #12637
@natke An ML.NET 1.1.0 tutorial for this would be nice as well. I believe it should have to do with the FieldAwareFactorizationMachineTrainer namespace.

[2019-06-27 19:57] maggiepong opened #13125 "Cannot run program "HelloSpark""
I followed the instruction on the doc and tried submitting the HelloSpark dotnet core app.

btw, the doc says submit using Spark 2.4.   I read some doc that says I should use 2.3 and I installed spark-2.3.3-bin-hadoop2.7

I ran the following command in this directory and got error that it can't find HelloSpark.

PS C:\repos\HelloSpark\HelloSpark\bin\Debug\netcoreapp2.1> dir

    Directory: C:\repo

[2019-06-27 21:42] maggiepong commented on #13125
Found another doc that provides the correct command:

https://github.com/dotnet/spark/blob/master/docs/getting-started/windows-instructions.md

Which should  be

spark-submit --class org.apache.spark.deploy.DotnetRunner --master local microsoft-spark-2.3.x-0.3.0.jar dotnet HelloSpark.dll

[2019-06-27 21:53] sdmaclea opened #13146 "How to debug .NET Core activation issues"
The .NET framework has
https://docs.microsoft.com/en-us/dotnet/framework/deployment/how-to-debug-clr-activation-issues

I do not see the equivalent for .NET Core.

The approach will be very different for .NET Core, so I do not think this doc belongs as shared between .NET Framework and .NET Core.

[2019-06-27 22:04] sdmaclea opened #13147 ".NET Core 3.0 IL Linker docs"
.NET Core 3.0 will include a new feature called an IL Linker.
This is intended as a high level task list for documenting that feature.

We need to document
  - [x] IL Linker key concepts.  What is it what does it do
  - [x] CLI options
  - [x] csproj setting.  What are they what do they do
  - [ ] Templates.  What's available.  What are they good for. Why are they preferred or not.
  - [ ] How to

[2019-06-27 22:58] sdmaclea opened #13149 ".NET Core 3.0 SingleExe docs"
.NET Core 3.0 will include the ability to publish an application as a single exe.
See https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-5/

- [ ] High level overview of the feature
- [ ] CLI options
- [ ] csproj options
- [ ] Where is the application extracted (per OS?)
- [ ] Are there any permissions issues possible?
- [ ] Possible future features?
- [ ] Comparison to WinRT?
-

[2019-06-27 23:03] sdmaclea commented on #13149
/cc @swaroop-sridhar

[2019-06-27 23:05] swaroop-sridhar commented on #13149
Thanks @sdmaclea, please assign the issue to me.

[2019-06-27 23:16] sdmaclea opened #13151 ".NET Core 3.0 Windows COM support"
.NET Core 3.0 is adding support for COM

- [ ] High level overview of COM on .NET Core
- [ ] High level overview of COM host
- [ ] Comparison to .NET Framework.
- [ ] Current limitations
- [ ] Why Windows only?
- [ ] COM and .NET Core roll forward? Multiple runtimes
- [ ] Debugging tips
- [ ] Performance considerations
- [ ] Tutorial
- [ ] Samples
- [ ] Best practices
- [ ] Where to provide feedba

[2019-06-27 23:33] sdmaclea opened #13152 ".NET Core 3.0 IJW C++/CLI support"
.NET Core 3.0 runtime will add support for IJW C++/CLI on Windows only

- [ ] Overview of how IJW works on .NET Core
- [ ] Overview of the IJW host
- [ ] Why not support other platforms? Need for a community supported x-plat compiler
- [ ] Minimum supported VS version (when known)
- [ ] Comparison to IJW on .NET framework
- [ ] Limitations
- [ ] Samples
- [ ] Tutorials
- [ ] Debugging tips
- [ ] P

[2019-06-27 23:49] sdmaclea opened #13153 ".NET Core 3.0 AssemblyDependencyResolver"
.NET Core 3.0 Added AssemblyDependencyResolver

- [x] API Docs
- [x] Tutorial
- [ ] Limitations. Requires host policy. Requires deps.json else assume assemblies next to assembly
- [x] Review documentation for completeness and understandability

/cc @jkoritzinsky @vitek-karas

[2019-06-28 00:42] sdmaclea opened #13154 ".NET Core 3.0 hosting docs"
.NET Core hosting mechanism is not well documented

- [ ] Overview of hosting runtime
- [ ] Role of hostfxr. Optional settings. Links to relevant docs
- [ ] Role of host policy. Optional settings. Links to relevant docs
- [ ] Role of deps.json. Optional settings. Links to relevant docs
- [ ] Role of runtimeconfig*json files. Optional settings. Links to relevant docs
- [ ] Role of global.json. Opti

[2019-06-28 00:45] mairaw commented on #13149
I feel this issue is already in progress. Here's what we have:
- Mention of this in the what's new docs: https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#default-executables
- Some coverage of that in the deployment docs and its children topics: https://docs.microsoft.com/en-us/dotnet/core/deploying/
- The following topic covers CLI options:
https://docs.microsoft.com/en-us/d

[2019-06-28 00:51] sdmaclea opened #13155 ".NET Core 3.0 NETHost docs"
.NET Core 3.0 introduced `nethost` a new mechanism for hosting the runtime within a process

- [ ] Overview of .NET host
- [ ] Why a third hosting option
- [ ] `nethost` native API surface
- [ ] `hostfxr` native API surface
- [ ] Relevant scenarios
- [ ] Managed entry point requirements
- [ ] where to get headers and library
- [ ] Configuring a runtime
- [ ] debug options
- [x] Tutorial
- [x] Samp

[2019-06-28 00:56] mamccrea commented on #13125
Hi @maggiepong! Thank you for letting me know. I will update the doc.

[2019-06-28 01:04] mamccrea commented on #13125
@maggiepong - I've made changes to the article, so it'll be updated soon. You mentioned that you read to use Spark 2.3 instead of 2.4. Both are supported - did you have any issues with 2.4?

[2019-06-28 01:08] maggiepong commented on #13125
I didn't try spark 2.4.   I have 2.3 installed on my machine hence I use 2.3.  Thanks.

[2019-06-28 01:09] mamccrea commented on #13125
@maggiepong - I see. Thanks again!

[2019-06-28 01:09] #13125 closed

[2019-06-28 01:20] sdmaclea opened #13157 "Is this document in the correct place?"
This document is specifically about .NET Core unloadability yet it is in the .NET Guide.  Seems like it really belongs in .NET Core Guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f3d455d-e22d-e9b4-b198-a698437fe2b1
* Version Independent ID: 1b8a0cfa-a921-1749-f8d0-aeac878e1f26
* Content: [How to use and debug a

[2019-06-28 01:27] sdmaclea opened #13158 "Update this article for Ready2Run native images"
NGen was fragile and guidance seems to have moved to newer ahead of time options.  Ready2Run is now being actively supported in .NET Core 3.0 previews

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62036a60-c5eb-cd3c-0bcf-417ad4a98eaa
* Version Independent ID: 8eadd823-4218-bd8f-a1c6-9847cba8f88e
* Content: [Managed Ex

[2019-06-28 01:41] sdmaclea opened #13159 "Revise AppDomain guidance for .NET Guide and .NET Core Guide"
Review topics for AppModel related content
https://docs.microsoft.com/en-us/dotnet/framework/development-guide
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/application-domains-and-assemblies-how-to-topics

Move shared concepts to .NET Guide & provide similar content for .NET Core Guide

This is probably a subset of #13

[2019-06-28 01:44] mairaw commented on #13157
@rpetrusha and I will be discussing the .NET Guide TOC soon.

.NET Guide is about the .NET Fundamentals concepts, so we felt that even though that topic is only for .NET Core, it belonged in the assembly section of the .NET Guide.

The .NET Core Guide is focused on a few keys aspects of the platform like what's new, deployment, SDK, CLI reference, etc.

But we can discuss whether this makes sense

[2019-06-28 01:50] sdmaclea opened #13160 "Large portions of the .NET Framework development Guide should move"
Large portions of the .NET Framework development Guide should move to .NET Guide
Similar content required for .NET Core Guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf923cdb-38e5-90f3-0581-1d6079738635
* Version Independent ID: ee16343a-71f1-fcd7-cf76-384c40126f2c
* Content: [.NET Framework Development Guide](h

[2019-06-28 01:54] mairaw commented on #13160
It will be better to call out which sections you think are still needed. Even for WPF and Winforms, that content is staying in the .NET Framework Guide and we're creating a new section for desktop development, where we'll be creating/updating very targeted high-pri content.

[2019-06-28 02:17] sdmaclea commented on #13160
We chatted briefly about this.
We need a general strategy.
Ultimately there needs to be a generic development guide that is not specifically tied to .NET Framework.

There are pieces which are specifically common and logically belong in the .NET Guide TOC.
There are pieces which are new for .NET Core.  It is not clear where they belong.
There are .NET Core to .NET Framework porting articles, which

[2019-06-28 06:15] mairaw commented on #13160
Porting docs belong in the .NET Core Guide but we cover Framework to Core only.

[2019-06-28 06:31] mairaw opened #13161 "Create a tab on the .NET docs hub page for the architecture content"
We need to a new tab to list the architecture e-books on our hub page:
https://docs.microsoft.com/en-us/dotnet/

![image](https://user-images.githubusercontent.com/12971179/60322183-aad55400-9933-11e9-9c61-712d120188ee.png)

/cc @nishanil

[2019-06-28 10:40] Lelelo1 commented on #8769
I don't think you can retrieve the cluster centroids - it is just a template for the data. The label in the case of clustering is the cluster id. The input columns is only features and does not contain a label.

[2019-06-28 10:58] Lelelo1 commented on #8769
Running the clustering_iris sample I get the following `IrisPrediction` data structure:

![IrisPredictionData](https://user-images.githubusercontent.com/42244983/60337447-5ff32500-99a3-11e9-9680-eee6f8ceaa99.png)

The `PredictedLabel` (SelectedClusterId) is supposed to be `"The closest cluster's index predicted by the model."`

Reading from the distance array: Shoulden't that be index 1 - thereby

[2019-06-28 12:28] thearticles commented on #12865
F:\Code Examples\machine-learning\tutorials\TransferLearningTF>dotnet run

Welcome to .NET Core!
---------------------
Learn more about .NET Core: https://aka.ms/dotnet-docs
Use 'dotnet --help' to see available commands or visit: https://aka.ms/dotnet-cli-docs

Telemetry
---------
The .NET Core tools collect usage data in order to help us improve your experience. The data is anonymous and doesn't

[2019-06-28 14:59] sbomer commented on #13147
Thanks for writing this up @sdmaclea. https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#assembly-linking has the high-level summary and usage, and a pointer to https://aka.ms/dotnet-illink with the msbuild settings and instructions for adding roots.
- Key concepts are documented
- There are no command-line flags to dotnet cli
- The csproj options are documented
- Templates - c

[2019-06-28 15:25] rpetrusha commented on #13029
Thanks for your feedback, @zxli. Offhand, though, it strikes me that this is an issue that relates to IDE tooling rather than to the .NET Framework itself. @PriyaPurkayastha, what do you think?

[2019-06-28 15:32] sdmaclea commented on #13147
@sbomer Templates may be the wrong word.  I thought we were adding templates for certain specific use cases.  WPF, WinForms, ASP.NET.  They would adjust knobs as needed and roots as needed.

[2019-06-28 17:59] rpetrusha commented on #13160
The sections that we know need to move are (and I'm sure there's a good deal more):
- App domains and assemblies. (But we'd also like to remove the triplication in the docs -- there are also app domains and assemblies sections for C# and VB).
- Resources (see #8882)
- Portions of the Unmanaged API reference
- Interoperating with unmanaged code
- Dynamic programming

[2019-06-28 18:39] sdmaclea opened #13169 "Update for .NET Standard 2.1, .NET Core 2.2, and .NET Core 3.0"
The table in this section might want to be updated https://docs.microsoft.com/en-us/dotnet/core/versions/#relationship-to-net-standard-versions for .NET Standard 2.1, .NET Core 2.2, and .NET Core 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4723eb4d-c4b9-f44c-7753-caa4a3c8cfdd
* Version Independent ID: 17270776-9

[2019-06-28 18:41] sdmaclea commented on #12237
This section is affected https://docs.microsoft.com/en-us/dotnet/core/versions/selection

[2019-06-28 20:24] sdmaclea opened #13171 "Revise Programming with Application Domains and Assemblies for .NET Core"
Refactor and revise in light of .NET Core

.NET Core has a limited implementation of AppDomain
.NET Core introduces the new API Assembly load context

Some of this information in relevant to all .NET, but some is only relevant to some implementations

This is a subset of dotnet/docs#13160

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-28 21:31] wli3 commented on #13066
you could try one of
1. add `--ignore-failed-sources`, so even your private feed fails, it will continue to try other feed
2. create a new nuget.config in the directory you run the command (pwd directory). And specify the feed there
3. edit your global nuget config, to remove the private feed. Note, this will change all the feed configuration. Including your project's restore

%appdata%\NuGet\nuge

[2019-06-28 21:37] sdmaclea opened #13173 ".NET Core Porting advice for Using AppDomains"
The .NET Core porting guide should probably address each of the scenarios in this guide.

Most of this content is very .NET Framework specific. So it is appropriate to stay here

Do we want to add any notes about porting to .NET Core as we add the porting guides?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22466224-

[2019-06-28 21:38] mairaw commented on #4494
@rpetrusha is this issue and #6181 the same?

[2019-06-28 21:47] rpetrusha commented on #4494
Yes, it is the same, @mairaw. Let's keep this issue open, and I'll close #6181.

[2019-06-28 21:48] #6181 closed

[2019-06-28 22:09] lucasnobredev commented on #6181
@rpetrusha I'd like to continue it. May I?

[2019-06-28 22:21] mairaw commented on #7146
Thanks for providing the fix @iberodev. I've opened PR #13174 to update the commands for Preview 6 and included this fix as part of it. @karann-msft please verify.

[2019-06-28 22:26] mairaw commented on #10242
I'm having to move this to the backlog because of other priorities at the moment. Apologies on that.

[2019-06-28 22:28] mairaw commented on #11936
I'm moving this item to the backlog and will pick it up once I start the work to update this article for the 3.0 release as well. It should happen soon, hopefully.

[2019-06-28 22:29] mairaw commented on #12122
Moving to the backlog due to other high priority work at the moment. I'll put it back on a sprint, once I'm ready to start working on this.

[2019-06-28 22:34] mairaw commented on #9373
Moving this item to the backlog but added to the 3.0 release project. I've added this info to a few topics already but need to check for each command (the default seems to be different in every case). I should hopefully get this done soon.

[2019-06-28 22:52] rpetrusha commented on #6181
Certainly, @lucasnobredev. I should have added a note and a label to indicate that I was closing this as a duplicate of #6404 .

[2019-06-28 22:53] rpetrusha commented on #6181
Closing as a duplicate of #6404.

[2019-06-29 02:08] karann-msft commented on #7146
I just tried this and it works for me....
[code]

yes, there is an error at the end but that's a different issue. Both packages did get pushed.
https://dev.nugettest.org/packages/karanclasslibrary01
https://dev.nugettest.org/packages/karanclasslibrary02

[2019-06-29 02:33] WhiteEagle5150 commented on #7146
@karann-msft,

You're using a preview version of 3.0, most current users have build environments using SDK buildpacks of either 2.1 or 2.2. For many, like myself, 3.0 preview isn't even an option yet.

[2019-06-29 02:39] karann-msft commented on #7146
@WhiteEagle5150 same result with dotnet 2.2.300

[code]

[2019-06-29 16:20] Shalin1234 opened #13177 "Flaw in "Optimisations" section"
The logger function won't compile, since "File" gets a red squiggle unless the learner includes System.IO (which he/she probably does not know).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2b7453-076c-a18e-f999-cbd57ab13e60
* Version Independent ID: b687ed5b-5013-cceb-01e5-77f9cc7bb534
* Content: [Working with LIN

[2019-06-29 16:47] elgonzo opened #13180 "Explaining reference types with pointers"
The page explains with regard to reference types:

Some years back, Eric Lippert made a strong argument why references should not be explained as
(memory) addresses. Link to blog post: https://blogs.msdn.microsoft.com/ericlippert/2009/02/17/references-are-not-addresses/

Sure the documentation page says a reference type _contains_ a pointer, not that a reference type _is_ a pointer. But often, rea

[2019-06-29 20:25] WhiteEagle5150 commented on #7146
@karann-msft

Are you using Windows or Linux? I have to perform my builds from an Ubuntu container, using dotnet-sdk:2.1.302 build pack.

[2019-06-29 20:29] karann-msft commented on #7146
@WhiteEagle5150 do you mind trying 2.2.300 on whatever environment you are on.

[2019-06-29 20:55] WhiteEagle5150 commented on #7146
@karann-msft,

Unfortunately, that isn't an option for me. Our GitLabs policies are pretty strict right now, but i anticipate they will loosen up a little over time. That 2.1 Sdk is all I can use right now. Part of this has to do with our hosting environment, right now, it is only supporting the 2.1 build packs for our docker containers.

[2019-06-29 21:31] karann-msft commented on #7146
@mairaw this seems to be a bug in older versions of the sdk. newer versions work fine.

[2019-06-30 00:33] PingPongSet opened #13181 "SOA and Microservices in EShopOnContainer"
Can you please elaborate on this below? The EShopOnContainer sample uses enterpise bus too, is it a SOA?

" Features like large central brokers, central orchestrators at the organization level, and the Enterprise Service Bus (ESB) are typical in SOA. "
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34002366-5bc1-226b-f6

[2019-06-30 07:34] minuz commented on #13066
Thanks @wli3!! This is what I was looking!

[2019-06-30 07:34] #13066 closed

[2019-06-30 07:45] cskwg opened #13183 "Set<T> would be a useful addition"
//
	public static class HasSetEx {
		//
		public static bool Set&lt;T&gt;( this HashSet&lt;T&gt; hash, T index ) {
			if ( hash.Contains( index ) ) return true;
			hash.Add( index ); return false;
		}
	}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87bbd41f-9bad-bb7b-f0c9-68af6b8f4e81
* Version Independent ID: a78ad1

[2019-06-30 15:12] surfmuggle opened #13185 "Add link to Information about Intermediate Language"
If you could add a link in this sentence `Source code written in C# is compiled into an intermediate language (IL) that conforms to the CLI specification. `  that points to Basic Introduction to intermediate language that would be nice. The page [What is "managed code"?](https://docs.microsoft.com/en-us/dotnet/standard/managed-code) could be a start.

---
#### Document Details

⚠ *Do not edit this

[2019-06-30 16:30] PingPongSet opened #13186 "Catalog and Basket: two Microservices or same Microservice"
What are the factors that determines catalog and basket are separate microservices, instead of in the same microservice?

If both are in the same microservice, it can still be automony in dev, deploy, scale.

Please elaborate if possible.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19862882-c106-afa7-660e-ead3b5dd88

[2019-06-30 18:42] natke commented on #12865
It looks like you have the .NET 2.1 runtime installed. This tutorial targets 2.2. You can either update your .NET runtime to 2.2, or change the target framework setting in the  .csproj file to 2.1 (https://github.com/dotnet/samples/blob/master/machine-learning/tutorials/TransferLearningTF/TransferLearningTF.csproj#L5)

We will update the tutorial to clarify this. Thanks for bring it to our attenti

[2019-06-30 19:09] brcaswell opened #13189 "this documentation needs review"
Predefined code sample doesn't `return` like the document states, it assigns to a variable named `result`, which isn't defined in the sample code.

---

also, the section referencing to `ProducesResponseType` and `dynamic` usage being an issue for Swagger is little out of place, contextually speaking.

It, as well as the `class OrderSummary` sample code defining the predefined type, should be move

[2019-06-30 19:36] natke commented on #12509
Closing this issue, as we did not hear back from you. Please reach out if you need more assistance.

[2019-06-30 19:36] #12509 closed

[2019-06-30 22:41] KathleenDollard commented on #13180
@elgonzo I think fixing this is a good improvement. The PR is here and it would be great if you get a chance to comment on my changes.

Also, feel free to just make changes like this. There's an edit icon on the page, and editing should walk you through commit and creating a PR. We will review and get the fix in. Let us know if you find unnecessary friction in that process.

[2019-07-01 13:55] #12132 closed

[2019-07-01 14:07] #13185 closed

[2019-07-01 16:02] EugeneKramer commented on #12638
@vikneshrajsp The documentation for [readonly has been clarified with an update](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/readonly).

The compiler may (though not always) give a warning for using `readonly` on a mutable type, ["CA2104: Do not declare read only mutable reference types"
](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2104-do-not-decla

[2019-07-01 16:59] terrajobst commented on #762
Moving forward, I'd say yes. There is another effort right now to formalize our breaking change process between .NET Core versions. I've asked to include .NET Framework as an explicit section in that guidance. While we're not shooting for a 100%, we do try to maintain ABI compat whenever possible. Behavior is much more of a gray area though and tracking that is hard. I'm totally OK with tracking i

[2019-07-01 17:07] luisquintanilla opened #13199 ".NET Core API Browser Quick Filters not visible in dark mode theme"
![image](https://user-images.githubusercontent.com/46974588/60454145-1738a780-9c01-11e9-8e52-d60916261a77.png)

**Issue description**

.NET API Browser Quick Filters are not visible in Dark Mode.

**Details**
OS: Windows 10
Browser: Edge & Edge (chromium)

[2019-07-01 17:09] #12410 closed

[2019-07-01 17:25] danmosemsft commented on #762
Yes, labeling sounds like a good idea. @terrajobst do you want to send a mail to corefx users (the area owners alias)?

[2019-07-01 17:31] CeciAc opened #13200 "An introduction to using var name = new var(); is missing."
@Frederisk commented on [Mon Jul 01 2019](https://github.com/dotnet/docs.zh-tw/issues/226)

The explanation for using in code like the following is missing.

    *using* var decryptStream = new MemoryStream();
    *using* var decrypt = new CryptoStream(decryptStream, decryptTransform, CryptoStreamMode.Write);
    decrypt.Write(encryptBytes, 0, encryptBytes.Length);
    var decryptBytes = decryptSt

[2019-07-01 17:33] CeciAc commented on #13200
Hi team,
I'm moving this here since the user is making a suggestion to the original documentation
kind regards

[2019-07-01 17:36] ericleigh007 opened #13201 "the order of /td and /tr matters"
I found an article that indicated that /td must FOLLOW /tr or it will not be effective.
In my tests, I verified this, so that information should DEFINITELY be included in any documentation of the signtool tool.
Try this yourself   /td sha256 /tr timestampserver   results in sha1 hash for the timestamp BUT
                            /tr timestampserver /td sha256  correctly results in sha256 hash

[2019-07-01 17:37] BillWagner commented on #12462
fixed in #12477

[2019-07-01 17:37] #12462 closed

[2019-07-01 17:50] mairaw commented on #7146
Thanks for checking @karann-msft. So, perhaps we should add a note about the bug in older versions of the SDK in the doc?

[2019-07-01 18:10] mairaw commented on #13199
Since we can't control how those links are rendered with our content (source is [here](https://github.com/dotnet/docs/blob/master/api/index.md)), this needs to go to the engineering team.

[2019-07-01 18:16] luisquintanilla commented on #13199
Thanks. Closing the issue.

[2019-07-01 18:16] #13199 closed

[2019-07-01 18:55] mairaw commented on #4141
@terrajobst I'm moving this to our backlog.

[2019-07-01 20:33] #13180 closed

[2019-07-01 20:37] SMesser opened #13202 ""End While" -> "Wend""
As of VBA 7.1, "End While" should be replaced by "Wend".
References: http://www.vbforums.com/showthread.php?715605-RESOLVED-Cannot-end-a-while-loop-Error-message
and
Sub testWhile()
    Dim c As Integer
    c = 1
    While c &lt; 10
       Debug.Print "thing"
       c = c + 1
    Wend
End Sub

Please update the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-07-01 21:09] PingPongSet opened #13203 "Resiliently publishing to the event bus"
Can anyone elaborate this below? I don't really understand the scenario.

"how to atomically update state in the original microservice while resiliently publishing its related integration event into the event bus"

https://docs.microsoft.com/en-us/dotnet/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication#resiliently-publishing-to-the-e

[2019-07-01 22:40] SDWenzel opened #13204 "Link for Await Incorrect"
The link for Await in paragraph 9 points to Async instead of Await.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a9a526-9135-db6b-f84b-ae52ab0876c4
* Version Independent ID: 550522d6-32ca-b8ba-7c37-5ad054102f0a
* Content: [Asynchronous Programming with Async and Await (Visual Basic)](https://docs.microsoft.com/en-u

[2019-07-01 23:07] mairaw commented on #13204
Thanks @SDWenzel for reporting this issue. I've opened PR #13205 to fix this.

[2019-07-01 23:53] #13204 closed

[2019-07-02 01:26] BillWagner commented on #12634
closing due to lack of response.

[2019-07-02 01:26] #12634 closed

[2019-07-02 01:33] BillWagner commented on #12955
The full list of methods for the `System.Range` type is in the [.NET Core API reference](https://docs.microsoft.com/en-us/dotnet/api/system.range?view=netcore-3.0).

The methods you ask for aren’t part of the public API. You can open an issue on the corefx repo to consider adding new APIs.

[2019-07-02 01:33] #12955 closed

[2019-07-02 01:34] BillWagner commented on #12956
That should be worded better @reggaeguitar

I’ve added this to our backlog, and we’ll update it when we next update this topic.

[2019-07-02 01:38] BillWagner commented on #12961
Ping @blowdart

Do we already have guidance written for this where we can refer readers?

[2019-07-02 01:41] BillWagner commented on #12979
Thanks for writing this up @AArnott

I’ve added it to our backlog to update when we next update this topic.

[2019-07-02 01:46] BillWagner commented on #12983
Good catch. We’ll make sure to get this updated in the .NET Core 3.0 timeframe.

[2019-07-02 01:48] BillWagner commented on #13056
Can you give us more details here? What version, platform are you using? Which step in the tutorial?

[2019-07-02 01:51] BillWagner commented on #13177
Thanks for writing this @Shalin1234 That’s a good addition.

I’ve added this to our backlog, and to our community contributors project. We’ll update this when we next update this article.

In the meantime, if you want to submit a PR with that additional information, I’ll help review and merge it.

[2019-07-02 01:53] BillWagner commented on #13183
I’m going to close this as a product request.

[2019-07-02 01:53] #13183 closed

[2019-07-02 01:54] BillWagner commented on #13200
Thanks @CeciAc

This is in our roadmap for adding before .NET Core 3.0 ships.

[2019-07-02 03:44] Youssef1313 commented on #13202
The link you attached is for vb6, but the docs is for vb.net.
The docs seems correct to me.

[2019-07-02 07:31] bizzbizz opened #13208 "typo in the error message"
in the Notes section of [this](https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x#net-core-dependencies) subtopic there is a subtle typo:

`api-ms-win-crt-runtime-1-1-0.dll`
should be corrected to
`api-ms-win-crt-runtime-l1-1-0.dll`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-

[2019-07-02 07:44] maharsh007 commented on #6423
Hi,
I am facing issue while using the example. The broadcast receiver is not receiving the message when the client and the server are in different network

[2019-07-02 09:28] ite-klass opened #13209 "Request: Add links/pointers to “additional feedback mechanisms” for accessibility"
The closing note states that using this component is not accessible, and points out that other, additional mechanisms will have to be used. It would be great if the note/this page could mention or point to (some of) those alternative/additional mechanisms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bed1d9b-9b7a-e4

[2019-07-02 12:42] #12919 closed

[2019-07-02 13:03] ea234 commented on #9547
https://github.com/ea234/FkEMailValidator
- No RegEx
- The Fasted (see TestClass)
- In German ... use Google-Translate

[2019-07-02 13:05] ea234 commented on #9547
... the fastest (Sorry for the mistake. Maybe I should use Google-Translate too)

[2019-07-02 15:22] Bluesman74 opened #13213 "Unable to load Feedback"
I've tried reloading the page, but I'm always stuck with a spining wheel next to "Loading feedback"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790425e-da4e-9a75-6a11-f72109ce8d6a
* Version Independent ID: 09298e41-8f5a-c3c3-a849-8de67f8efba1
* Content: [Safely update interfaces using default interface members in C

[2019-07-02 16:16] #12568 closed

[2019-07-02 16:17] #11593 closed

[2019-07-02 16:35] blowdart commented on #12961
No.

[2019-07-02 16:48] Thraka commented on #13010
I can let @BillWagner decide what to do with this issue, but I don't think it's that important to document here. It is covered on the [remarks section of the Array API](https://docs.microsoft.com/en-us/dotnet/api/system.array?view=netcore-3.0#remarks) type. You can see an answer on stackoverflow about this specific question: https://stackoverflow.com/questions/2773740/why-do-arrays-in-net-only-imp

[2019-07-02 17:09] CeciAc opened #13216 "Incorrect link target for "Default WPF Themes""
Hi team
I'm moving this from here: https://github.com/dotnet/docs.fr-fr/issues/91
the user is refering to the original documentation

@gdurand commented 1 hour ago
The link https://go.microsoft.com/fwlink/?LinkID=158252 for "Default WPF Themes" redirects to https://github.com/microsoft/WPF-Samples/tree/master/Graphics/2DTransforms which does not seem to be the proper content.

---
#### Document De

[2019-07-02 17:46] Youssef1313 commented on #13216
Seems like a known issue.
https://github.com/dotnet/docs/issues/7408
https://github.com/dotnet/dotnet-api-docs/issues/821

[2019-07-02 19:31] #13208 closed

[2019-07-02 20:21] #12865 closed

[2019-07-02 23:02] swaroop-sridhar commented on #12206
This is a dup if https://github.com/dotnet/docs/issues/13149

[2019-07-02 23:03] jkoritzinsky commented on #13152
Do we want to put this in the .NET Guide or do we want to put it under https://github.com/MicrosoftDocs/cpp-docs/tree/master/docs/dotnet where the current C++/CLI documentation lives?

[2019-07-02 23:11] swaroop-sridhar commented on #13149
I agree @mairaw, design and further work discussions should be delegated to the design-doc which the "what's new" page already has a reference to.

I don't see the reference to PublishSingleFile in the following pages:
https://docs.microsoft.com/en-us/dotnet/core/deploying/
https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli

In particular, we need to mention it in the deploy-wi

[2019-07-02 23:20] shirhatti commented on #10818
Just stumbled across this issue when searching for something else.

Use `dotnet-install.ps1 -Channel release/3.0.1xx` to install released 3.0 builds.
The names of all the channels are listed in this table- https://github.com/dotnet/core-sdk#installers-and-binaries

[2019-07-02 23:22] natke opened #13218 "Add anomaly detection tutorial to tutorials index page"

[2019-07-03 00:09] #7146 closed

[2019-07-03 03:10] szjfhb opened #13219 "How about show mht in webbrowser?"
In C#/WPF, now I get issue about display the mht file.
in IE it's ok.
but in webbrowser, only give me a download notify.
 the mht file was in the page we loaded and show in a iframe of page.
How can I resolve this?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc421c44-f66c-6e10-3413-00d6fee7ce81
* Version Ind

[2019-07-03 03:22] ultrahabbit opened #13220 "the syntax part missing a right bracket"
the second parameter in the syntax part, misses the right bracket.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06d39eba-8eea-4a32-d904-89f055935d11
* Version Independent ID: 51425d93-882c-d44a-1000-4bf7b34edfe4
* Content: [ICLRMetaHost::GetRuntime Method](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-a

[2019-07-03 03:43] virtualgithub opened #13221 "Maybe not updated?"
"Does not support shortened syntax." Yes, it does https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/indexers/#expression-body-definitions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c836c9-e05a-3fd3-b86d-32718679bcd3
* Version Independent ID: b7b2bba2-bd69-2c14-cf4d-48ea8cb6d57b
* Content: [Comparis

[2019-07-03 07:32] xyfy commented on #12388
where I use net core 3.0 with vs 2019 16.1.5
I got an error for it
`
at System.Reflection.RuntimeAssembly._nLoad(AssemblyName fileName, String  codeBase, Evidence assemblySecurity, RuntimeAssembly locationHint,  StackCrawlMark& stackMark, IntPtr pPrivHostBinder, Boolean  throwOnFileNotFound, Boolean forIntrospection, Boolean  suppressSecurityChecks)at  System.Reflection.RuntimeAssembly.nLoad(Assem

[2019-07-03 08:15] #13220 closed

[2019-07-03 09:36] weitzhandler opened #13226 "Would it be a good idea to use HttpClientFactory in mobile apps?"
Is it fast enough to be used in mobile apps?
Any comments on its performance?

See related issue: https://github.com/aspnet/AspNetWebStack/issues/250.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 1bb011dd-a559-c0d7-b0cf-984fbb2d4bd3
* Content: [Use HttpCl

[2019-07-03 11:33] bitbonk opened #13227 "Explanation of what "safeonly" actually means is missing"
This document does not really explain what "safeonly" actually means. What are "safety nullability warnings" compared to regular nullability warnings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a690704d-da32-dca7-ea3e-66b84fb1d00d
* Version Independent ID: 11f314de-dd3a-362e-b2bb-d0a2133cfc7b
* Content: [Nullable r

[2019-07-03 14:57] dprothero opened #13228 "Strong naming guidance needed for .NET Framework"
[The article](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming) seems to indicate we should always strongly name our assemblies. It also says we shouldn't publish strong-named and non-strong-named versions. However, at the same time, it admits the many issues with strict assembly loading and the .NET Framework. Can we clarify the guidance here? Is strong-naming _stil

[2019-07-03 17:15] natke opened #13229 "Update ML.NET doc overview page with 1.2 release and preview components"
ONNX, TensorFlow and TimeSeries are now GA

Recommender is still in preview

[2019-07-03 17:41] #13177 closed

[2019-07-03 20:15] BillWagner commented on #10729
There isn't a keywords or operator page for arrays.
I need to find where that's covered in the language reference.

[2019-07-03 20:44] pkulikov commented on #10729
It might be a good idea to consolidate ALL the articles from the following programming guide part:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/arrays/index

[2019-07-03 20:59] #13014 closed

[2019-07-03 21:03] BillWagner commented on #10729
I like that plan @pkulikov I’ll make a new issue for that in the language reference consolidation project.

[2019-07-03 21:05] BillWagner opened #13232 "Language reference consolidation: Arrays"
There are a number of articles on [arrays](https://docs.microsoft.com/dotnet/csharp/programming-guide/arrays/index) in the programming guide. This topic is not covered at all in the current language reference.

See https://github.com/dotnet/docs/issues/10729#issuecomment-508248474 for background.

[2019-07-03 22:56] SDWenzel commented on #13204
@mairaw At first I thought the email notification of the update was spam because of the last name! Thanks for the quick fix. I don't think I've ever been notified of a correction before.

[2019-07-03 23:07] mairaw commented on #13204
Long lost relatives 😄

[2019-07-04 01:34] mairaw commented on #13216
Correct. Closing as duplicate.

[2019-07-04 01:34] #13216 closed

[2019-07-04 01:38] mairaw commented on #13213
I can’t reproduce this problem. If you continue to experience this issue, can you please click on the link called site feedback on the bottom of the page since this repo is for content issues only?

Thanks and I apologize for the inconvenience.

[2019-07-04 01:38] #13213 closed

[2019-07-04 01:40] mairaw commented on #13209
@merriemcgaw @OliaG can you help with this feedback?

[2019-07-04 04:42] minuz commented on #11936
Hi @Mairaw, can you please add reference to the credentials plugin?
https://github.com/microsoft/artifacts-credprovider

I use a private nuget feed and the default dotnet restore does not prompt the user to add the authentication to the private feed and you end up not being able to restore the project/solution.
It took me a while to find the existence of the plugin. It would be nice to have it on

[2019-07-04 04:44] minuz commented on #11936
Ops, forgot to mention that I found this issue on MacOS. The windows version actually find the credential if you are using active directory and the private feed uses the same credential.

[2019-07-04 05:47] sandyaveas opened #13238 "Install Multiple Windows Service with one exe/setup/app"
How I can Install Multiple Windows Services with one exe/setup/app. Also I want to control(start/stop) these services through the same.

[2019-07-04 07:19] EnricoMassone opened #13239 "Stand alone discard example seems confusing to me"
Hi,

I'm not able to understand the whole point of this code example for the standalone discard feature:

[code]

I can't understand the usefulness of the discard assignment, in the sense that based on my understanding the code behavior doesn't change even if the discard assignment is removed. The only difference is that, when the discard assignment is removed, a compiler warning pops up because i

[2019-07-04 10:36] Mandated opened #13240 "Security Grant Set"
What is the formal definition for a security grant set?  I assume it is related to permissions that the admin can give an assembly, but I couldn't find anything else on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee8b9a-5eef-5fd4-0a0a-6aa581a63b2b
* Version Independent ID: deff4693-eea8-4699-cbdd-0b0e6786356

[2019-07-04 12:10] neman opened #13241 "Uninstalling template with version is not working"
I've noticed that when I try to uninstall template with command `dotnet new -u NUGET_ID::VERSION_NO` it does not work.
It only works for `dotnet new -u NUGET_ID` when there is no version.
For example  `dotnet new -u MyTemplates::2.3.1`  wil show error `Could not find something to uninstall called 'MyTemplates::2.3.1'`
But if I try `dotnet new -u MyTemplates`  it will work. I think that this should

[2019-07-04 12:54] leder11011 commented on #6218
I strongly discourage using VS or Code as long as they are not helpful. I suggest .NET core for Linux and the bash CLI in conjunction with gedit, atom, vim or some other Linux editor available.

[2019-07-04 15:39] Const-me opened #13242 "IMarshal interface missing"
.NET also consumes IMarshal interface, yet it’s not mentioned on this page.
See this question for more info: https://stackoverflow.com/q/34816394/126995

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e12a8d-3503-db34-df9a-84ef6037e86d
* Version Independent ID: 964eee24-e711-8c41-b145-35948c20e774
* Content: [Runtime

[2019-07-05 12:10] roothave commented on #12864
That's great news thanks to ✔

[2019-07-05 13:21] erhuan-msft opened #13248 "Missing ThreadPoolWorkerThreadWait event"
Missing `ThreadPoolWorkerThreadWait` event with EventID `57` as described here on line 265: https://github.com/microsoft/perfview/blob/ebc8046a8a70853fa1276089f2e0a07ec14f14fa/src/TraceEvent/Ctf/CtfTraceEventSource.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc41222-13f3-1b45-94bf-21f037f66b4a
* Version Independ

[2019-07-05 15:10] CeciAc opened #13249 "What is the example of a successful example of the internal example?"
@gallop1 commented on [Fri Jul 05 2019](https://github.com/dotnet/docs.zh-cn/issues/411)
**(Translated)**
As the title, please list an example of a normal call.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: ac43c546-b79a-a4cb-6b59-7037334b83e0
* Version Independent ID: 4926fa62-f791-dc1a-7c09-7b268180d20e
* Content: [internal - C# 参考](https://docs.microsoft.com/zh-