[2015-02-27 13:40] provegard opened #39264 "MetadataFileReference is internal"
I'm trying to follow `csharp-semantic.pdf` under docs/samples. When I add this code:

[code]

I get a compilation error because MetadataFileReference is an internal type.

[2015-05-27 16:41] richlander opened #3 "Move over dotnet-primer"
Closed these two PRs in prep for that.

https://github.com/dotnet/coreclr/pull/407
https://github.com/dotnet/coreclr/pull/725

[2015-05-27 21:55] #3 closed

[2015-08-06 17:12] cartermp opened #24 "Section for Async Programming"
I feel like there should be a separate section dedicated to async programming.  Especially if we're going to be targeting cloud and devices devs, it's paramount to get it across that .NET can handle potentially complicated async code with simple language constructs and a super nice programming model.

[2015-08-10 21:35] cartermp opened #26 "Moving all FCL and BCL documentation into its own section and making it awesome"
Currently the primer has a link to a document that isn't in the TOC tree describing briefly what the FCL is, giving a brief overview of the BCL and some examples of what the BCL and FCL contain.

There is also a section called "Base Class Library", which I think is a good candidate for renaming to "Framework Class Library" and modifying it to contain all things FCL, including a link to reference d

[2015-08-19 16:47] cartermp opened #27 "Unsafe code sample"
I think adding a piece from the CoreFx Interop source in the .NET Primer would look great because it showcases `unsafe` succinctly and also shows that you can get "down to the metal" without having to switch languages.

[2015-08-19 18:28] cartermp opened #28 "LINQ Article"
As the .NET Primer alludes to, there should be a more in-depth LINQ article.

LINQ article would cover:

- Small blurb about what it is and why it's a thing
- What are IEnumerable and IQueryable and what are they used for
- Samples which highlight what's used the most
- Link to the 101 LINQ Samples
- Explanation of when to use the query syntax vs the API syntax
- Some more in-depth stuff someone s

[2015-10-02 09:33] seb-bizeul opened #40 "Can not add the apt-key with ubuntu 14.04"
Here is the terminal output when I try to add the key from the server:

Executing: gpg --ignore-time-conflict --no-options --no-default-keyring --homedir /tmp/tmp.Hrb5ETPac2 --no-auto-check-trustdb --trust-model always --keyring /etc/apt/trusted.gpg --primary-keyring /etc/apt/trusted.gpg --keyserver keyserver.ubuntu.com --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
gpg: requesting key D3D83

[2015-10-05 19:14] matthewreily opened #41 "Fix broken link in the contributing.md file"
There is a broken link to the Sphinx Style Guide within the contributing.md that should be fixed.

![image](https://cloud.githubusercontent.com/assets/8399844/10290641/f570a028-6b6a-11e5-99db-3d31213155a5.png)

Currently renders as
<a href="http://documentation-style-guide-sphinx.readthedocs.%0Aorg/en/latest/style-guide.html">Sphinx Style Guide</a>

Should be
<a href="http://documentation-style-gu

[2015-10-06 18:29] matthewreily opened #43 "Question about starting work on existing stubs"
I would like to contribute to this project and was wondering if I need to open an issue to start working on an existing topic\stub.  For example, I would like to start working on https://github.com/dotnet/core-docs/blob/master/docs/development/using-visual-studio-code.rst.

Do I open a new issue or just start working and submit a new pull request?

Thanks!

[2015-10-09 17:14] BethMassi commented on #43
@matthewreily AWEOME you want to help here! Sorry I missed this, my watch settings are now set properly :smile: @blackdwarf how should we set up the workflow with community contributions? I think it's best to open an issue like this, tell us what you want to work on, and we can flush out your ideas in the thread.

[2015-10-09 17:35] blackdwarf commented on #43
@matthewreily thanks for the interest! :) There are [contribution guidelines](https://github.com/dotnet/core-docs/blob/master/CONTRIBUTING.md) in the repo, but the gist of it is the following:

* Open an issue that describes what you want to write and then, as @BethMassi said, we iron out the details
* Fork the repo and create a new branch
* Write the article
* When done, create a PR, cc-ing @Beth

[2015-10-09 20:30] matthewreily commented on #43
Thank you both!

[2015-10-09 20:30] #43 closed

[2015-10-09 20:52] matthewreily commented on #41
Closing since this has been merged in with pull request #42

[2015-10-09 20:52] #41 closed

[2015-10-09 21:53] matthewreily opened #44 "Update docs/getting-started/installing-core-linux.rst with latest versions and fix typo"
We should update the installing-core-linux document with the latest versions of the runtime or make it version agnostic like currently shown on http://dotnet.github.io/core/getting-started/. Also found a typo in the instructions on running the app.

[2015-10-09 22:50] richlander opened #46 "We need a manual for libraries that target .NET Core"
This is for library creators and includes creating NuGet packages. It includes new packages and existing ones that also want to target .NET Core. It's basically the document that explains how to target the combination of .NET Core and NuGet v3 (3.3+). We need to explain how this relates to NuGet v2.

We should start with building class libraries and then explain how to package them. That's basical

[2015-10-10 22:23] matthewreily opened #48 "Update docs/getting-started/installing-core-OSX.rst with latest versions and fix typo"
Same as #44 update the usage examples with the latest runtime and remove the '.' from the dnx run usage.

[2015-10-10 22:44] matthewreily opened #50 "Update docs/getting-started/installing-core-windows.rst with latest versions and fix typo"
Update docs/getting-started/installing-core-windows.rst with latest versions and fix typo

[2015-10-11 16:50] matthewreily commented on #44
Need to wait until Beta 8 comes out

[2015-10-11 16:51] matthewreily commented on #48
Need to wait until Beta 8 comes out

[2015-10-11 16:51] matthewreily commented on #50
Need to wait until Beta 8 comes outNeed to wait until Beta 8 comes out

[2015-10-12 18:19] richlander opened #52 "New TOC?"
Was looking at the TOC at RTD: http://dotnet.readthedocs.org/en/latest/index.html.

I'm wondering if we want to re-think the TOC. It feels a little too fine-grained at the top and not quite thematic enough. I'm thinking (out loud) that we could adopt these approaches:

- Outcome based (build a lib, build an app, build an analyzer).
- Component based (Runtime, BCL, Roslyn)
- Experience based (Devel

[2015-10-12 19:09] blackdwarf commented on #52
The doc in question should go into the "Porting applications" part of the TOC. Besides that, I'm fine with the proposal. Some pieces of your proposal are already in there in some way. For instance, there are planned sections for working with various editors and so on. The idea was always to have these kinds of documents in there.

I would rather go with outcome based and/or experience based then c

[2015-10-12 19:16] richlander commented on #52
I thought of "porting". This isn't porting. Assume you are starting from scratch. Porting is a really a subclass of "new development" in this case, IMO.

[2015-10-12 19:22] blackdwarf commented on #52
Errr...sorry, cold is making me dense. Don't uderstand it?

[2015-10-12 20:04] stevehoag opened #53 "C# tutorials - hello world"
Create a basic Hello World tutorial for developers new to C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:07] stevehoag opened #54 "C# tutorials - arrays"
Should teach the basic concepts of creating and using arrays in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:09] stevehoag opened #55 "C# tutorials - properties"
Should teach the basics of declaring and using properties in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:12] stevehoag opened #56 "C# tutorials - versioning"
Should teach versioning in C# through the use of the override and new keywords.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:13] stevehoag opened #57 "C# tutorials - collection classes"
Should cover creating and working with collections in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:16] stevehoag opened #58 "C# tutorials - structs"
Should cover the syntax and usage of structs in C#, including the differences between structs and classes.  Should provide guidance on when to use structs over classes (and vice/versa).

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific

[2015-10-12 20:21] stevehoag opened #59 "C# tutorials - indexers"
Show how C# classes can declare indexers to provide array-like access to the classes.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:23] stevehoag opened #60 "C# tutorials - indexed properties"
Show how to implement a class that uses indexed properties.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:28] stevehoag opened #61 "C# tutorials - user-defined conversions"
Show how to define and use conversions to or from classes or structs.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:29] stevehoag opened #62 "C# tutorials - operator overloading"
Show how user-defined classes can overload operators.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:30] stevehoag opened #63 "C# tutorials - delegates"
Shows how to map delegates to static and instance methods, and how to combine them (multicast).

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:32] stevehoag opened #64 "C# tutorials - events"
Shows how to declare, invoke, and hook up to events in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:33] stevehoag opened #65 "C# tutorials - explicit interface implementation"
Show how to explicitly implement interface members and how to access those members from the interface instances.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:35] stevehoag opened #66 "C# tutorials - conditional methods"
Show how implement conditional methods in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:37] stevehoag opened #67 "C# tutorials - xml documentation"
Show how to document code using XML doc comments.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:42] stevehoag opened #68 "C# tutorials - threading"
Show how to do multi-threading in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:43] stevehoag opened #69 "C# tutorials - asynchronous operations"
Show how to implement asynchronous operations in C# using async and await.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:45] stevehoag opened #70 "C# tutorials - accessing services"
Shows how to connect to services and work with them in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:49] stevehoag opened #71 "C# tutorials - attributes"
Show how to provide additional information about programming elements such as types, fields, methods, and properties by using attributes.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 20:58] stevehoag opened #72 "C# tutorials - covariance and contravariance"
Show how to enable implicit conversion of generic type parameters in interfaces and delegates in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 21:00] stevehoag opened #73 "C# tutorials - expression trees"
SHow how to use expression trees to enable dynamic modification of executable code in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 21:01] stevehoag opened #74 "C# tutorials - iterators"
Show how to use iterators in c# to step through collections and return elements one at a time.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-12 21:05] stevehoag opened #75 "C# tutorials - reflection"
Show how to use reflection to dynamically create an instance of a type, bind the type to an existing object, or get the type from an existing object and invoke its methods or access its fields and properties.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be

[2015-10-12 21:07] stevehoag opened #76 "C# tutorials - serialization"
Shows how to implement binary, XML, and SOAP serialization in C#.

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or target platform.

[2015-10-15 23:46] cartermp commented on #52
I like the idea of a new TOC.  I think some mixture of Difficulty based and Outcome based is probably the best in terms of value we can provide.  Components can be their own (large) part of the TOC:

[code]

What I think needs to be done is designing the first-time use experience.  My own idea is having the front page be some sort of landing page which provides guidance based on a user's intent:

[2015-10-23 16:19] anotherkabab opened #81 "Fix dnx syntax in installing-core-linux.rst"
dnx . run results in an error message

[2015-10-23 16:19] anotherkabab opened #82 "Fix dnx syntax in installing-core-osx.rst"
dnx . run results in an error message

[2015-10-23 16:19] anotherkabab opened #83 "Fix dnx syntax in installing-core-windows.rst"
dnx . run results in an error message

[2015-10-28 18:32] BethMassi opened #90 "C# tutorials - LINQ"
We need LINQ in the tutorials list. This is a big topic so there could be a lot of samples here. Good starting point: https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific IDE or ta

[2015-10-28 18:48] matthewreily commented on #90
I'd like to help out on this one and will gladly divide an conquer with anyone else.

[2015-10-28 19:43] BethMassi commented on #90
@matthewreily you rock!
@blackdwarf @cartermp how do you envision the C# tutorials land in the repo folder structure we have? Should we pile into docs/tutorials-samples/CSharp/LINQ ?

[2015-10-28 20:11] blackdwarf commented on #90
Are these going to be done in restructured text or markdown?

[2015-10-28 20:16] BethMassi commented on #90
I thought they had to be rst. That's what it says in the contributing guide :smile:

[2015-10-28 20:18] blackdwarf commented on #90
Ah, ok. So this is interesting. let's keep them where you suggested. Its the thing that makes most sense. The actual code for the tutorials I think should also be there.

[2015-10-28 20:25] cartermp commented on #90
The [existing LINQ article](https://github.com/dotnet/core-docs/blob/master/docs/concepts/linq.rst) as some examples which could be shared/altered/used as a starting point for this.

What I'm hoping eventually happens is for any code snippets (be them in tutorials or elsewhere) are embedded directly from some code which sits in the repository, and is buildable.  It would be a good idea to focus on

[2015-10-28 20:26] blackdwarf commented on #90
Sure, rest has that option. It is more of where the said source code will sit, which repo? I suggest this one, for now, that is, co-located with the documents.

[2015-10-28 20:34] BethMassi commented on #90
Cool. I think we should start with a quick overview page (pulling from the existing doc) and then further break the content down into folders based on the type of operation. @cartermp @blackdwarf is this how you want the samples, in its own folder next to the doc itself? How much should we spit down to? Is one sample per doc or one doc can have multiple samples?

docs/tutorials-samples/CSharp
/LIN

[2015-10-28 20:58] cartermp commented on #90
I actually like the idea of having a totally separate `/samples` structure that samples are pulled from.  Co-location with docs could get tricky when docs from multiple, unrelated areas pull in example code from the same sample source.

@blackdwarf  what are your thoughts on this?

[2015-10-30 22:19] BethMassi commented on #90
Okay I like that proposal - we create a top level /samples folder next to the /docs and use a similar taxonomy for the folder structure under that. What's confusing is we have /tutorials-samples under docs right now. Should we rename to just /tutorials ?

How about this? @cartermp @blackdwarf @matthewreily

    /docs
	    /languages
	        /csharp
			    /linq
				    overview.rst
				    restri

[2015-10-30 22:42] cartermp commented on #90
I agree that we should rename `/tutorials-samples` to `tutorials` under the docs folder.  Let's go with that.

I think LINQ should be in its own area in the `/samples` directory because it's not tied to C#.  Perhaps something like this would work well:

[code]

[2015-10-30 23:00] blackdwarf commented on #90
So...how will this work for your proposal on building the samples with the actual code it is...sampling, so to speak @cartermp ?  I'm fine with the overall approach. Renaming tutorials-samples to tutorials also makes sense.

[2015-10-30 23:10] cartermp commented on #90
These samples would be built when a corefx library is published.  So a hook would run a script which scans this `/samples` folder, restoring packages and rebuilding the projects.  There would most likely be some sort of indicator in the README listing any samples which are broken and need to be updated.

At least that's what I'm thinking.  This is assuming none of the samples rely on .NET Framewor

[2015-10-30 23:58] BethMassi commented on #90
@cartermp WRT the samples structure, I think it would be helpful to have the same (or very close) taxonomy to the docs. So should it be:

    /docs
        /linq
            overview.rst
            /csharp
                restriction-operators.rst
                ...
           /vb
                restriction-operators.rst
                ...
This means that VB & C# code would be separate in each

[2015-10-31 00:12] cartermp commented on #90
The linq tutorial could be written in a way that had side-by-side C# and VB samples.  Something like this:

[code]

The C# line of code would be embedded from the `/csharp` folder in `/samples`, and the VB line would be embedded from the `/vb` folder.  At least that's what I'm thinking.

[2015-10-31 01:09] BethMassi commented on #90
But then that means when the community writes docs, they'll have to be bi-lingual. Is that going to be a requirement?

[2015-10-31 02:29] mairaw commented on #90
So, are you guys assuming that it'll be a 1:1 relationship to the docs? Meaning there's no reuse of sample between ref and conceptual, for example.
I don't think it should be a requirement but we can help provide the missing language, right?

[2015-10-31 02:40] BethMassi commented on #90
I think we need to think about the consumer of the core docs. Will they be bilingual? I don't think so IMO. Will it distract from the tutorial to have multiple languages in the same doc? MSDN lets you pick a preference, I don't think we can do that here, right? I think it's OK to separate them. In @cartermp 's example, I'd rather show the lambda syntax as well as the query expression syntax, but k

[2015-10-31 02:55] mairaw commented on #90
Even if we highlight things that are specific for the language, there would still be common content between the languages and that could become an issue to maintain them in sync. Have we discussed that kind of language filtering requirement with Peter's team?

[2015-10-31 03:04] BethMassi commented on #90
I think another big question here is what will contributors prefer? If we impose a bilingual format, will people be able to easily contribute to that? If we separate, I could see that being easier in a way. BTW I am a HUGE VB fan particularly WRT LINQ. The syntax there is so eloquent IMO. It definitely starts to diverge in a major way with XML query for instance (in a very good, productive way). I

[2015-10-31 03:54] matthewreily commented on #90
As a consumer of the documentation, I would prefer to have code samples filtered to my language of choice.  Unless I'm trying to compare and contrast syntax between the languages, the other language would just be noise IMO.  Excuse my ignorance in the documentation technology, but Is there a way to toggle the preference somehow or collapse a section? for example something like a #region in a .cs f

[2015-10-31 04:17] BethMassi commented on #90
I agree. I'm happy to help with the VB samples with you. :) If we can filter that'd be awesome. @blackdwarf is there something simple we can do to filter languages on a topic?

[2015-10-31 06:52] cartermp commented on #90
@BethMassi @matthewreily If we go a route of having `{ one doc, many languages }` for a given document, I think it's alright to have eventual consistency w.r.t the relevant code snippets being in all the supported languages.

[2015-10-31 15:26] BethMassi commented on #90
I agree with that but I don't want to have to look at them all.

[2015-10-31 18:27] blackdwarf commented on #90
Well, this went off the rails quickly. ;)

There is a solution to this. We can keep the content that is general as the main document, and then just include it in the C#/VB specific pages. reST allows you to include other files, so this means that the pieces of content that apply cross-language are in one place, while specifics (like syntax) are separate. I would like to see the TOC structure for t

[2015-10-31 19:02] BethMassi commented on #90
I agree. I want to see one syntax on a page. That's why I asked if it was simple to hide a language on the same page. I guess it's not. So let's focus on C#. And then a separate page later for other languages as they come online.

[2015-10-31 20:28] cartermp commented on #90
Sounds fair.  If it's too big of a technical challenge to have filtered languages, we shouldn't have duplicate sample code.

[2015-11-02 22:29] matthewreily commented on #90
I'd like to get started on this but am confused with the folder layout we have decide on.  Are we wanting something like the following?

+   docs
      +   linq
         + overview.rst
         + restriction-operators.rst
         + projection-operators.rst
         + partitioning-operators.rst

...
+ samples
   + linq
      + restriction-operators
         + where-sample1.cs
         + where-samp

[2015-11-02 22:45] cartermp opened #91 "Add samples structure"
We need to add the structure for the sample code so that people can start adding compilable sample code.

[2015-11-02 23:12] cartermp commented on #91
@richlander @BethMassi @blackdwarf because there is a requirement that samples be compilable projects, this leaves us a decision -- do we accept Visual Studio projects, non-VS projects, or both?

I'm leaning towards accepting both, but preferring purely folder-based, CLI projects.

[2015-11-02 23:28] cartermp commented on #91
Talked with @BethMassi and we decided to require these samples to be cross-platform, which means no Windows or Visual Studio dependencies.

[2015-11-02 23:41] matthewreily commented on #91
So are we talking about a .cs file with a project.json that could be ran using dnx? Or just the .cs file?

[2015-11-02 23:43] BethMassi commented on #91
project.json and the cs file. @cartermp is working on the first sample so we have an example.

[2015-11-02 23:45] matthewreily commented on #91
Great, I like that better than having solution files and adding to the complexity.

[2015-11-03 00:44] cartermp commented on #91
I added a stub that should give you an idea of what it would look like (pending merge, but should give an idea).

[2015-11-03 00:50] matthewreily commented on #91
Great! Thank you.

[2015-11-03 19:34] cartermp commented on #91
@matthewreily the structure is in place!  You should be able to write some awesome samples now.

[2015-11-03 20:16] matthewreily commented on #91
Thank you sir and also thanks to @BethMassi!  I'm attending a conference
today but will start at it tomorrow.

On Tue, Nov 3, 2015 at 1:34 PM, Phillip Carter <notifications@github.com>
wrote:

[2015-11-04 17:38] #91 closed

[2015-11-05 17:50] #24 closed

[2015-11-05 17:50] #27 closed

[2015-11-05 17:51] #28 closed

[2015-11-05 18:33] halocameo opened #95 "TOC Suggestion"
Under Tutorials & Samples the following item should be listed:

- Writing your first UWP app

[2015-11-05 18:41] blackdwarf commented on #52
So, it would look, in general, like this @cartermp :+1:

[code]

Or, we can take a look at how  other platforms do it and how their documentation is structured  (https://docs.python.org/3/, http://perldoc.perl.org/, https://www.ruby-lang.org/en/documentation/). It seems that they all have a mix of content, ranging from begginer (tutorials, getting started, etc.) to advanced (language reference man

[2015-11-05 19:37] BethMassi commented on #76
Forget SOAP. Show JSON

[2015-11-05 20:05] obelink opened #97 "VB tutorials - LINQ"
We need VB.NET LINQ in the tutorials list. This is a big topic so there could be a lot of samples here. Good starting point: https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b

Tutorials should include one or more code examples, each example should also show expected output and should include an explanation of the code where it isn't obvious. Examples shouldn't be dependent on a specific ID

[2015-11-05 20:07] obelink commented on #97
I will start with these samples.

[2015-11-05 21:29] BethMassi opened #99 "C# LINQ Samples - Aggregate"
Add samples that demonstrate aggregating data

[2015-11-05 22:00] matthewreily opened #101 "Fix typo in Samples\Readme.md"
Update the version of System.Console from 4.0.0-RC1* to 4.0.0-Beta*

[2015-11-05 22:15] matthewreily opened #103 "Add linq samples for restriction"
Add more examples to the linq restriction operator samples

[2015-11-05 22:30] #99 closed

[2015-11-05 22:37] #101 closed

[2015-11-05 22:47] mairaw opened #105 "Suggestions for Overview of .NET Implementations topic"
* The opening paragraph seems very vague. If I'm a newbie or non-developer and somehow land on this topic, what do I use the .NET platform and these standards for?

.NET Core section
* You introduce the list of characteristics like this "There are several characteristics of .NET Core:", but you're actually listing the main ones. Maybe it'd be good to be more specific.
* I'd use a more common word

[2015-11-05 23:07] blackdwarf commented on #105
Good one, let me make a PR for fixing these.

[2015-11-06 19:11] #81 closed

[2015-11-06 19:11] #82 closed

[2015-11-06 19:11] #83 closed

[2015-11-06 19:25] cartermp commented on #52
The python docs you link to are for a specific version.  The [general Python docs](https://www.python.org/doc/) are much more focused, and a good example to follow.

[2015-11-07 04:33] xen2 opened #109 "API reference?"
Just wondering, what are the plans for BCL API reference? (available at http://dotnet.readthedocs.org/en/latest/bcl/api-ref.html )

Generated by an external tool?
How does it integrate in Sphinx workflow?
What tool/work would be necessary?

[2015-11-07 16:59] blackdwarf commented on #52
First, I would like us to stop pointing at the current TOC and make general statements
like "it needs to be fixed" and similar. Yes, it **does** need fixing and yes, it **is not**
the best TOC out there. This is a very trivial truth, so no use writing it. On top of that,
nobody is making a statement that it should stay, so constantly saying it is kind of pointless.

Moving on, I think we are start

[2015-11-09 18:36] cartermp commented on #52
I like that potential TOC structure a lot.

I agree about Roslyn, and I'd also add that something like Async Programming may also be tough to fit in there.  I'd initially think it would belong in the "New to .NET" category, but there could be devs who are familiar with .NET but haven't written async code before.  Certainly not the same scenario as Roslyn as it's a much less specialized area, but i

[2015-11-09 19:53] blackdwarf commented on #52
@cartermp that is a valid question. There are, essentially, two ways of looking at that particular problem, IMHO.

The first one is to follow the principle that I tried to outline in the (rather long) issue above: is async a platform or a language feature? Dependent on this, it is easy to see whether it should go in or not. If it is a language feature, then it should not go into these docs, since

[2015-11-10 00:08] BethMassi commented on #52
I like the proposed TOC but I'd steer away from labels like "Beginner, Intermediate, Advanced". Based on my experience it's really subjective once you get past Beginner.

[2015-11-10 02:36] mairaw commented on #52
I agree with @BethMassi. Also, why are we documenting some general concepts here like Async? Is the idea to keep the customers in one place, so they don't get lost in MSDN?
I vote for getting started/introductory materials + task-based (outcome based) TOC.

[2015-11-10 03:38] cartermp commented on #52
Talked with @blackdwarf today and it would definitely be great to have a meeting where we can really nail down the purpose of these docs.  When we have a strong stated purpose, the TOC structure will come naturally.  We also mentioned keeping that conversation visible (either in this thread or on a new one that was opened up).  Thoughts?

[2015-11-10 04:31] blackdwarf commented on #52
Yep, as @cartermp mentioned, I really think we should first determine the point of the docs, as I previously stated in my (essay-ish) issue above. Anything else will, essentially, make us run in circles.

@mairaw documenting some things like async would only make sense for the people new to .NET. Even then, I would leave the topics light and introductory and provide links to more in-depth, existin

[2015-11-10 04:37] BethMassi commented on #52
Goal #1 is to provide information for new users to .NET Core. We're assuming that means new to C# as well. Happy to chat further.

[2015-11-10 20:55] cartermp commented on #52
NOTES FROM MEETING

Top Level:
- Documents the platform + some language features
    - Most likely the "cool" ones that are selling points
- Very general-purpose
- Very limited amount of policy
- Getting Started Experience:
   - will use the new dotnet cli
- Advanced category:
   - Roslyn may deserve a paragraph
- Add more to contribution policy about vision for the doc
- Bais towards three users

[2015-11-11 16:59] matthewreily opened #111 "Add additional linq aggregate samples"
Add some more code samples using linq aggregates

[2015-11-12 04:13] BethMassi commented on #109
Hi @xen2 - thanks for the interest! @blackdwarf can elaborate but basically we're looking at generating the reference docs and putting them here soon.

[2015-11-12 04:16] BethMassi commented on #103
@matthewreily were you planning on adding more samples for restriction or can I close this issue?

[2015-11-12 04:57] xen2 commented on #109
Ok thanks, interested to know what you did there, and see if we can also use it later instead of rolling our own.

So far what I did is I made https://github.com/SiliconStudio/SharpDoc (made by coworker @xoofx) outputs .rst with raw html (by changing templates), and it resulted in quite nicely integrated doc with ReadTheDoc theme. If you are interested, I can update this thread with live demo when

[2015-11-12 06:37] blackdwarf commented on #52
Good summary @cartermp. There was also one thing that we missed and that is that this docset will, most likely, be a home for many other .NET Core components. With that in mind, in addition to the above TOC we, I think, need to add the component section when the need arises, that is, we need to plan for it. Each component would be the purvey of their respective teams.

So, the plan becomes effecti

[2015-11-12 12:55] matthewreily commented on #103
You can close this one.  Will be adding more to the aggregate samples though

[2015-11-12 12:56] #103 closed

[2015-11-12 21:41] BillWagner opened #116 "Looking for writing guidelines"
I read the contributing.md and the process for contributing is clear.

However, it needs to have some guidance on the writing style. For example:
Should tutorials be in 1st, 2nd or 3rd person?
Should they be more conversational, or more academic?
Active voice, or passive voice?

I looked at a few articles, and I can see a mix.
I'd recommend 2nd person, conversational, and active voice, based on th

[2015-11-13 01:25] cartermp commented on #116
+1.  This is how I've been writing things right now, and think they should be written.

[2015-11-13 01:26] mairaw commented on #116
I agree.

[2015-11-13 03:45] BethMassi commented on #116
+1 for active voice. Here's some guidance for "hero" content (Getting started, conceptual / beginner):

1) Keep it simple – hero tutorials are concise and short.  Within the first 5 minutes the user should have something running / built / accomplished.

2) Use smaller words – We have an international audience reading English. if you write the tutorial assuming a 5th grade reading level people unde

[2015-11-14 18:24] BethMassi commented on #52
I don't think "components" is the way to think about it, that seems too narrow. I think we should think about scenarios. Most likely people are going to run into pain points or request docs based on scenarios. I think we need to just be flexible with the TOC as we start getting content for these. If we are clear about who/what the document is for in the opening paragraph, that will work for anyone

[2015-11-14 22:15] BethMassi opened #119 "C# LINQ Samples - Group By"
Add LINQ samples for group by for #90

[2015-11-16 19:40] ghogen opened #121 "MSDN links should be language neutral"
Existing links to MSDN have en-us in the path.  To make them more useful globally, the en-us should be stripped out of the path.

for example in docs/concepts/common_type_system.md
we have

*   [Common Type System](https://msdn.microsoft.com/en-us/library/vstudio/zcx1eb1e%28v=vs.100%29.aspx)
*   [Common Language Specification](https://msdn.microsoft.com/en-us/library/vstudio/12a7a7h3%28v=vs.100%29

[2015-11-16 19:47] ghogen commented on #121
Ideally we would also have something in the guidelines for contributors about how to input these links.

[2015-11-16 20:08] mairaw opened #123 "Topics not in the TOC and blockquote"
As I'm starting to validate the files I have in my cloned core-docs folder, I'm finding topics that are there but not in the TOC. Is that by design? Should I even be looking at those?
For example:
https://github.com/dotnet/core-docs/blob/master/docs/concepts/assembly-format.rst
https://github.com/dotnet/core-docs/blob/master/docs/concepts/class-libraries.rst

Also, for the first topic above, when

[2015-11-16 20:51] mairaw opened #125 "Conversion issues found for topic "Async Programming in C#/VB""
Ref: http://dotnet.readthedocs.org/en/latest/async/async-csharp-vb.html

- Code blocks are not rendering properly: some are not rendering as code and some are inside a block but not the entire sample, just parts of it
- Use of blockquote for two of the bulleted lists seems wrong
- The table Use this / Instead of this / When wishing to do this is unreadable in MD

[2015-11-16 21:20] blackdwarf commented on #123
Yes, because these are pointed to by some other documents. Not everything is accessible directly from  the TOC.

[2015-11-17 00:10] mairaw commented on #123
Ok, this is somewhat different than what we do for the framework docs.

And what about the blockquote? By design too? Or should we just indent the paragraph.

[2015-11-17 01:25] #119 closed

[2015-11-17 01:31] BethMassi opened #128 "C# LINQ Samples - Set Operators"
Add LINQ samples for set operations for #90

[2015-11-17 02:51] BethMassi opened #130 "C# LINQ Samples - Ordering Operators"
Add LINQ samples for ordering operators for #90

[2015-11-17 03:28] #128 closed

[2015-11-17 13:15] #111 closed

[2015-11-17 13:19] matthewreily opened #131 "C# LINQ Samples - Conversion Operators"

[2015-11-17 17:20] #131 closed

[2015-11-18 03:18] matthewreily opened #134 "C# LINQ Samples - Element Operators"

[2015-11-18 15:48] matthewreily opened #137 "C# LINQ Samples - Generation Operators"
Add linq generation samples

[2015-11-18 18:53] matthewreily opened #138 "C# LINQ Samples - Join Operators"

[2015-11-18 22:35] BillWagner commented on #74
I'll take this. Can someone assign it to me?

[2015-11-18 22:36] mairaw commented on #74
Done

[2015-11-18 22:58] BethMassi commented on #138
Add LINQ samples for join operators for #90

[2015-11-18 22:58] BethMassi commented on #137
Add LINQ samples for generation operators for #90

[2015-11-18 22:58] BethMassi commented on #134
Add LINQ samples for element operators for #90

[2015-11-18 22:59] BethMassi commented on #131
Add LINQ samples for conversion operators for #90

[2015-11-18 23:00] BethMassi commented on #99
Add LINQ samples for aggregates for #90

[2015-11-18 23:27] cartermp commented on #125
Putting some issues here:

- [Title falls off the edge of the margin on index](http://dotnet.github.io/docs/async/async-index.html)
- [Table at the bottom is missing](http://dotnet.github.io/docs/async/async-csharp-vb.html)
- [The "#" in "F#" is missing in all headers](http://dotnet.github.io/docs/async/async-fsharp.html)

[2015-11-19 00:03] BethMassi commented on #125
Also found conversion issue on this one http://dotnet.github.io/docs/porting/supporting-core.html
The images aren't displaying.

[2015-11-19 00:06] cartermp commented on #125
Yup, looks like images are broken for all articles.

[2015-11-19 00:11] blackdwarf commented on #125
Feel free to make a PR fixing it. :)

[2015-11-19 00:34] cartermp commented on #125
I can get the first and last (rename title to be shorter and re-add the "#" that went missing in the conversion), but the table might be a bigger issue.  It renders as a valid markup table on Github and vscode, but doesn't show any borders on the site (thus making it hard to tell that it's a table).  I'm not familiar enough with the doc system to make a change to how tables are rendered.

[2015-11-19 00:46] BethMassi commented on #52
Here's my stab at a TOC that groups Getting Started, .NET Concepts, Language Tutorials, common scenarios, and reference documentation logically.

- Get Started
    - What is .NET ? (start with http://dotnet.github.io/docs/getting-started/overview.html)
    - Installing .NET Core on Windows
    - Installing .NET Core on Linux
    - Installing .NET Core on OS X
    - Using Docker with .NET Core

[2015-11-19 00:52] stevehoag commented on #52
Looks good to me. I'm guessing we'll also want "Learn VB" and "Learn F#" nodes at some point.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Beth Massi <notifications@github.com>
Sent: Wednesday, November 18, 2015 4:46:32 PM
To: dotnet/core-docs
Subject: Re: [core-docs] New TOC? (#52)

Here's my stab at a TOC that groups Getting Started, .NET Concepts, Languag

[2015-11-19 00:53] blackdwarf commented on #125
Ah, young padawan. :) I jest. I will take that. Please file issues for each of them so we can refer the properly. I will be fixing the CSS overall anyway.

[2015-11-19 00:54] blackdwarf commented on #52
Yes, this looks good. As soon as things die down for me a bit, I will apply what I mean in principles above and moduify this. I was thinking one level higher in the overall TOC, beyond the .NET Core and more into the overall platform.

[2015-11-19 00:58] cartermp commented on #52
Looks good to me too.  My only nit is that I'd move "Using Docker with .NET Core" underneath "Writing your first ASP.NET app using .NET Core" because it feels like more a of a natural next step.

[2015-11-19 00:59] BethMassi commented on #52
@blackdwarf I'm interested in what you're thinking. I captured the overall platform in the "Understanding .NET" section which I don't think should be a prereq to getting going and building apps.

[2015-11-19 01:01] blackdwarf commented on #52
@cartermp @BethMassi I would actually leave docker out of this untill we have a good grasp on microservices story.

I mean "ecosystem". Typo. :)

[2015-11-19 01:03] cartermp commented on #52
@blackdwarf [We already have a good docker story](https://www.youtube.com/watch?v=eZDlJgJf55o)!

:D

[2015-11-19 01:04] BethMassi commented on #52
@blackdwarf and [ASP.NET already has docs on how to do it for them](https://docs.asp.net/en/latest/getting-started/installing-on-linux.html#using-docker) :smile:

[2015-11-19 01:07] BethMassi commented on #52
@blackdwarf do you want me to submit a PR for this?

[2015-11-19 01:31] blackdwarf commented on #52
@BethMassi pls wait until I write this thing I need to write out and post here, and then we will merge the two things and submit the PR. Sounds ok?

[2015-11-19 01:40] matthewreily opened #142 "Remove unnecessary namespace qualifiers in C# LINQ Samples program.cs files"
Program.cs files should all be contained within a namespace and we should remove any unnecessary namespace qualifiers.

[2015-11-19 01:41] BethMassi commented on #52
OK, I'm not sure what you mean by "ecosystem" in your comment above. I feel strongly that at least some of these need to be at the top level. Like the Get Started.

[2015-11-19 01:49] BethMassi commented on #134
@matthewreily are you adding more samples for element operators or can I close this?

[2015-11-19 01:54] #134 closed

[2015-11-19 01:56] #137 closed

[2015-11-19 01:56] matthewreily commented on #138
Assign to me please

[2015-11-19 03:29] #142 closed

[2015-11-19 03:30] BethMassi commented on #142
@matthewreily just a tip, if you reference an issue in the PR then it will close automatically when we merge. Put "Fix #nnn" in the description of your PR

[2015-11-19 03:31] #116 closed

[2015-11-19 03:42] matthewreily commented on #142
Thanks for the tip!

Sent from my iPhone

[2015-11-19 16:37] matthewreily opened #146 "C# LINQ Samples - Partitioning Operators"
Add LINQ samples for partitioning operators for #90

[2015-11-19 18:44] mairaw opened #148 "Contributing guidelines suggestions"
Re: https://github.com/dotnet/core-docs/blob/master/CONTRIBUTING.md

I think there are a couple of things that could be improved for the contributing guidelines:
1- We start the topic with the build process. This can be scary as the first thing you see to contribute. I imagine that not everybody contributing will need to build the docs. Am I wrong? Maybe we should explain when and who needs to do

[2015-11-19 18:45] cartermp opened #149 "docfx command fails on Windows machine"
I installed docfx under dnx as per here: http://aspnet.github.io/docfx/tutorial/docfx_getting_started.html#use-docfx-under-dnx

[code]

Outputs:

[code]

/cc @blackdwarf

[2015-11-19 18:58] blackdwarf commented on #149
Try it with the full framework. If it repros, come back here again. (Take 2 aspirins and call me in the morning.)

@pengbian can we update the instructions so people know they need to use clr and mono and not coreclr?

[2015-11-19 19:02] mairaw commented on #125
@blackdwarf and I are following up with Ken on the images issues. I don't know if they were ported to the new site.

For the table, it does look better on the site than it looked on my machine, which was all garbled. And the code samples also look ok here. Not sure why it was displaying differently on my machine when I was validating it locally.

[2015-11-19 19:04] mairaw commented on #121
I agree with @ghogen that we should omit the version number on those links.

[2015-11-19 19:12] mairaw commented on #123
I also noticed that you lose all menus if you navigate to a topic not in TOC. By design?
See http://dotnet.github.io/docs/concepts/native-interop.html for an example.

/cc @blackdwarf @chenkennt

[2015-11-19 19:15] cartermp commented on #149
It repros:

[code]

Same exception.

[2015-11-19 19:25] blackdwarf commented on #149
@chenkennt @pengbian assuming  this is the wrong version, I guess, we need to update the docs to point to the actual version that works.

@cartermp try to uninstall docfx and then reinstall using `dnu commands install docfx 0.3.11-alpha-9-gdaed198`.

[2015-11-19 19:25] matthewreily opened #151 "C# LINQ Samples - Projection Operators"
Add LINQ samples for projection operators #90

[2015-11-19 19:49] cartermp commented on #149
@blackdwarf That seemed to work.

New problem!  Not all styling is being applied.  Tried in Chrome and Edge.

[code]

Logs in chrome:

[code]

[2015-11-19 23:42] blackdwarf opened #152 "TOC principles - ideas and suggestions"
Overview
--------

We all agree that our current TOC is not very good and needs improvement. It is also suffering from lack of direction and vision on what it needs to be and what it needs to outline going forward. This short writeup aims to remedy that, and provide suggestions for both the principles, as well as a sample of how the TOC could look like when those principles are applied.

This is a

[2015-11-19 23:42] blackdwarf commented on #52
I've created a new issue for a proposal that I have at #152 . Feel free to take a look and comment over there.

[2015-11-20 00:10] BethMassi commented on #152
I agree our overall documentation approach should be to get new and existing users up to speed with .NET Core. This also means looking at our valuable assets we already have built up over time on MSDN, Channel9, etc. as well. We really need to prioritize our new to .NET cross-platform developers here in core-docs because of the bias MSDN has (rightly) had to our current .NET windows developers. Th

[2015-11-20 00:37] #146 closed

[2015-11-20 00:59] ghogen commented on #152
@blackdwarf the principles you outline are great and ones that if articulated well in visible guidelines will help the community rally around a common vision.

@BethMassi I like your revisions to the proposed TOC and would extend your thinking to suggest moving the ".NET Command Line Interface reference".  What if we introduce the command line as part of Setting up your Environment (e.g. "Setting

[2015-11-20 01:01] BethMassi commented on #152
@ghogen Great idea. I actually thought of that after I hit the comment button and stated at the TOC a while. :smile:

[2015-11-20 01:08] cartermp commented on #152
I like these principles a lot.  I'm reminded of [Clojure for the Brave and True](http://www.braveclojure.com/getting-started/), and although it doesn't have the same aim, it does such an excellent job getting new people started with Clojure that I feel like it has something to learn from.

I agree a bit more with @BethMassi  on what "Getting Started" encompasses.  Taking a look at what CftBaT did:

[2015-11-20 01:13] BethMassi commented on #152
@cartermp I agree wholeheartedly with your last paragraph and @blackdwarf 's scenarios. My comments are mostly aimed at making the newbie successful quickly by proposing a natural learning plan in the TOC (not that it's the only thing there, but it should pop). Your porting docs are essential to our current devs and should also pop for that audience. I'd like to know what the MSDN peeps think abou

[2015-11-20 01:21] stevehoag commented on #152
@BethMassi Do you think that the porting docs belong on MSDN rather than .NET Core? Or are you thinking in both places? Probably makes more sense on MSDN and linked to from Core, since newbies aren't likely to have apps to port.

[2015-11-20 01:28] BethMassi commented on #152
I'd lean the reverse actually. I expect .NET devs new to core to come here for docs relevant to them as well. I was thinking of flowing MSDN eyeballs to core-docs for these scenarios. In addition to audience, another major reason for that is because it's easier to update core-docs. For the C# tutorials, we're already capturing a ton of MSDN traffic there so back-porting our modern tutorials makes

[2015-11-20 01:31] stevehoag commented on #152
We can easily do that - maybe just a single topic on .NET Core with links to the appropriate sections of the core docs.

[2015-11-20 01:32] BethMassi commented on #152
I think that's a good start.

[2015-11-20 01:35] mairaw commented on #152
We have a topic for .NET Core on MSDN but it hasn't been updated recently.
https://msdn.microsoft.com/en-US/library/dn878908(VS.110).aspx

[2015-11-20 01:36] stevehoag commented on #152
Who owns that topic?

[2015-11-20 01:39] ghogen commented on #152
@mairaw owns it.

[2015-11-20 01:40] mairaw commented on #152
I do now. Cheryl wrote it.

[2015-11-20 01:43] stevehoag commented on #152
Seems like the logical place to link into the Core docs. It definitely needs updating, and we can probably drop the link to Curah :-)

[2015-11-20 01:47] mairaw commented on #152
It needs to be completely redone!

[2015-11-20 02:39] matthewreily opened #153 "Remove funky characters from sample linq projects"
There are some funky characters in the data we are using for our linq samples.  We need to clean up all of those instances as well as update the comments.

[2015-11-20 03:48] chenkennt commented on #123
Currently if the topic is not in TOC, there will be no TOC shown in this topic, as we cannot figure out which TOC the topic belongs to. But I agree this is not a good user experience, as user cannot navigate to other places from this page. Which behavior do you expect? Just show a navbar, or you want to show some TOC even the topic is not in any TOC? @mairaw

[2015-11-20 07:12] mairaw commented on #123
If possible, I think the best would be to show the navbar and the TOC with no selection, similar to how it was done in RTD: http://dotnet.readthedocs.org/en/latest/concepts/native-interop.html

Do you guys agree @richlander and @blackdwarf?

[2015-11-20 14:18] blackdwarf commented on #123
Yes, that would be best. Like this, there is no way for people to go back. Either TOC or breadcrumbs, but TOC would be best.

[2015-11-20 16:46] chenkennt commented on #149
We have pushed a new version of docfx, please reinstall (no need to specify version now) and try rebuild the doc.

[2015-11-20 17:17] blackdwarf commented on #152
OK, back to the topic of TOC. :)

I see that all of you are OK with the principles. Please be aware that the sample TOC above, in my proposal, was just that: a sample. It was not meant to be a suggestion/proposal on how the TOC should look like (as I've state, I believe). The idea of talking first about the principles is two-fold:

* We establish the spirit of the docset, so we are all on the same

[2015-11-20 17:32] cartermp commented on #149
Thanks @chenkennt! I got the latest version through DNX and it all built.  Styles are now also applied.

One thing I did notice was logging "hello" to the console twice from `docfx.js:68`.  Is this going to eventually be removed?

[2015-11-20 17:35] cartermp opened #157 "The "#" in headers for the F# async doc is missing"
The headers are missing "#".  Strangely, [the raw markdown](https://raw.githubusercontent.com/dotnet/core-docs/master/docs/async/async-fsharp.md) contains the character.

Unassigned myself because it's unfortunately not just a matter of adding it back in.

[2015-11-20 18:04] mairaw commented on #157
Have you tried this @cartermp?
http://stackoverflow.com/questions/13537826/how-do-i-add-a-trailing-hash-to-a-header-in-github-flavored-markdown

[2015-11-20 18:08] BethMassi commented on #152
@blackdwarf I thought the standard library stuff was API docs, totally agree we need to introduce the concept in the "understanding.." section. And write your first app is definitely part of the getting started experience IMO. My attempts above were aimed at taking the content we identified in the current TOC and organizing them better so we could get unblocked on writing some stuff ;-) Since we w

[2015-11-20 18:19] cartermp commented on #157
Tried adding the space and escaping with `\`.  Unfortunately neither worked.  I'd like to avoid adding the `♯` character if at all possible.  If there isn't a quick way to fix this I'll just rename the title and headers.

[2015-11-20 18:23] mairaw commented on #157
I tried just adding the space and it seemed to work. Can you check?

[2015-11-20 18:30] cartermp commented on #157
Just tried again, still doesn't work on my machine.  I'll pull down your PR and test it out.  Could be something funky with my editor.

[2015-11-20 21:09] blackdwarf commented on #152
@BethMassi I don't feel that we're blocked on producing content, apart from other work (myself at least). We do know what we need, for instance the language materials, the porting guides etc.

If we **are** blocked, then ok, let's just make a sample now and hit it. For instance, most of the scenarios that were mentioned will be driven by other teams (EF by their own team, ASP.NET by their own etc.

[2015-11-20 21:14] BethMassi commented on #152
We aren't blocked on producing the content, we're blocked on putting it somewhere :-)
And reference material like APIs *should* be in one place IMO. It's fine to link to in in the conceptual docs but having a top TOC for reference material is important too.

[2015-11-20 21:22] cartermp commented on #157
Was able to repro (with your fix) on two Windows machines.  I'm thinking it's an issue with the docfx parser.  The Github markdown parser seems to recognize the space and render the "#", but when build with the docfx tool it still won't show.

@chenkennt is there something being done on headers like a call to `.Trim()` that gets rid of whitespace at the end?

[2015-11-20 21:24] blackdwarf commented on #152
OK, so let me try to explain what I want to avoid; maybe there is a better way to go about it.

I'm worried about the size of the .NET ecosystem and how that impacts our reference docs. If we have one single TOC for reference docs for **the entire ecosystem that we ship** we are stuck, I fear, in the same problem as with MSDN. Things become hard to navigate, there is no easy understanding what is

[2015-11-20 21:27] ghogen commented on #152
When people search for reference, they'll use a search engine, so this is one reason to not worry too much about the TOC for API reference.  The goal of having a place where you can try to get a global view of the whole of the API set is good, too, but this could be conceived of as a separate piece of content than the API reference TOC structure.

[2015-11-20 21:37] blackdwarf commented on #152
OK, so that's one solution (obviously) for finding stuff. But what about reasoning what is inside the platform and what is not?

[2015-11-20 21:45] ghogen commented on #152
I liked the direction of your thinking at our last meeting, where you were proposing having some kind of separation, so you have the full API reference for .NET Core under one tree, but you separate out things like EF into separate trees.  Still within a reference bucket, but under a sub-bucket for, say, data scenarios.

API Reference
   * .NET Core API Reference
      * System Namespace
      * S

[2015-11-20 21:48] BethMassi commented on #152
I like that alot too. That's what I was proposing

[2015-11-20 22:04] #138 closed

[2015-11-21 00:05] cartermp commented on #152
Is having the EF API ref really our responsibility here?  It's not part of .NET Core; it's an ORM which runs on .NET.

[2015-11-21 00:24] blackdwarf commented on #152
That's the whole point @cartermp. We are a platform, and we should provide guidance for the overall ecosystem. Therefore, my suggestion to group things by scenarios. Of course, EF (and others') docs will be written by their respective teams.

[2015-11-21 00:26] BethMassi commented on #152
@blackdwarf exactly. We link to the scenarios and refdocs that make our platform successful. When can we act on a new TOC and start scaling out? :)

[2015-11-21 00:28] blackdwarf commented on #152
When we all agree that we agree with the approach I outlined. :) For ref docs, we could actually group them the way @ghogen outlined (or did I on some meeting?). With that, I guess we know what our TOC looks like. I will actually make a proposal on this, if that's ok with everyone.

[2015-11-21 00:33] BethMassi commented on #152
Yes. We're all right. ;) Can you get this TOC updated soon or do you want me to submit a PR?

[2015-11-21 00:34] blackdwarf commented on #152
Wait, wait, we need to have all others agree first. :)

I will be making the PR, no worries.

[2015-11-21 00:36] mairaw commented on #152
I agree, if that counts :-)

[2015-11-21 00:36] stevehoag commented on #152
I agree too.

[2015-11-21 00:39] blackdwarf commented on #152
@mairaw of course it counts. :)

[2015-11-21 00:42] BethMassi commented on #152
@mairaw and @stevehoag count double :)

[2015-11-21 00:43] matthewreily commented on #152
I agree.  I can tell you are all very passionate about making this the best it can be and it's extremely motivating.

[2015-11-21 00:56] cartermp commented on #152
I don't agree with this outline:

- .NET Core API Reference
   - System Namespace
   - System.Text Namespace
   - Etc.
- Entity Framework API Reference
   - System.Data.Entity
   - System.Data.Entity.Core

What I was getting at is that I don't think we should have the EF reference here, even if it's written by someone else.  It's simply not part of the platform, so it should live with [the EF docs

[2015-11-21 03:07] BethMassi commented on #152
@cartermp I see what your saying about the API ref, but accessing data is a core scenario so we should at least link to it and have a scenario/conceptual doc represented here at minimum. There will be a lot of libraries that will need to plug in here. I think we should be flexible and link to guidance on our core Core scenarios.

[2015-11-21 03:14] #153 closed

[2015-11-21 03:16] matthewreily opened #159 "C# LINQ Samples - Quantifiers"
Add linq sample for quantifiers #90

[2015-11-21 16:43] blackdwarf commented on #152
@cartermp also, EF docs may merge with ours at some point. This is still TBD. However, regardless of that, .NET Core is a platform, and as such, should provide information about its ecosystem to its users. Now, for your particular question, I think that having ref docs underneath its own components in scenarios would be the best way to go.

[2015-11-21 18:45] matthewreily opened #162 "C# LINQ Samples- Query Execution"
Add some C# LINQ query execution samples for #90

[2015-11-22 13:33] chenkennt commented on #157
This is actually a by design behavior according to markdown spec. Adding a whitespace doesn't work for all markdown parsers (for example, VS Code). I'd recommend the following workaround:
1. Add another #, like this:
    # Async Programming in F# #
2. Use HTML encode, use &#35; to replace #

[2015-11-23 17:23] cartermp commented on #152
@BethMassi @blackdwarf I'm not throwing out the possibility of linking to EF docs, or having a guide which uses EF to demonstrate a set of scenarios.  I just disagree with sticking the EF ref docs in this TOC, because ref docs are no longer about demonstrating the awesomeness of the platform.

As for EF docs merging with ours ... I'm concerned that if this happens, it will give momentum to the ide

[2015-11-23 18:15] ghogen commented on #152
Is the EF we are discussing a special port of EF to .NET Core, and if so, how different is it from the desktop version? If there is not much difference, maybe the existing docs in MSDN should serve?  We would need to address the differences in some way. It could become a big problem if we set a precedent that we include a copy of the docs for every library that is ported.

[2015-11-23 19:16] blackdwarf commented on #152
@cartermp @ghogen it doesn't really matter if the EF docs live here physically or not (and these are for EF7 so the version that works on .NET Core and also the version with enough changes that it necessitates new docs). The whole idea is for our docset to help people get an overview of the entire ecosystem, not to have them actually chase down stuff using a search engine.

This is why I made this

[2015-11-23 19:31] #159 closed

[2015-11-23 20:16] #151 closed

[2015-11-23 22:59] cartermp commented on #152
@blackdwarf I think we will begin to compromise your principles if we start merging in EF documentation that isn't within the context of being a way to work with databases on .NET Core.  EF reference docs don't document the platform, they document an ORM framework that runs on the platform.

I just want to be clear (so that I don't continue rattling off about something under false assumptions): wh

[2015-11-23 23:08] #162 closed

[2015-11-23 23:15] blackdwarf commented on #152
@cartermp that is still TBD, I need to chat with them. However, that is, again, besides the point. So, if I understood your point above correctly, you would be for having the reference docs for EF under their own section inside bounds of a scenario (i.e. "Working with data")?

[2015-11-23 23:23] matthewreily opened #164 "C# LINQ Samples - Custom Sequence Operators"
Add c# linq custom sequence operators examples for #90

[2015-11-23 23:29] BethMassi commented on #152
@cartermp I see what you are saying but I'm learning on @blackdwarf 's recommendation on having at least the "core" library APIs to building successful apps represented somehow in the TOC. Whether that is a link to elsewhere or in this repo, it's good for discoverability of APIs you can use.

I would not recommend having API docs physically under scenarios (if that's what you're proposing). There

[2015-11-24 00:04] blackdwarf commented on #152
@BethMassi the .NET Core core docs (pun intended) are the minimal app you can write. The minimal app you can write is a console app that writes to STDOUT. Using EF is not, I would say, a minimal app requirement, and neither is working with relational data. However, back to my point: we are a platform and we have an ecosystem, and we need to make sure our users understand and can navigate that ecos

[2015-11-24 00:05] cartermp commented on #157
Thanks for the info, @chenkennt!

[2015-11-24 00:10] BethMassi commented on #152
Yes, that's EXACTLY my point on the many-to-many. I'm supporting you, dude. Jees! If you try and put API docs under all the scenarios *physically* it won't work because of that. I was responding to your question to @cartermp about putting EF ref docs under the scenario Working with data. I am saying "don't do that". Make sense?

Yes, let's go ahead and at least take a stab at something concrete, p

[2015-11-24 00:12] cartermp commented on #152
@blackdwarf I would **not** be for the EF reference docs being under their section inside the bounds of a scenario.  I don't think the EF reference docs should be *anywhere* in this doc set

I think the *only* documentation that involves EF should be a conceptual doc (or docs) which describe how to work with data, using EF as a framework you could use to do that.  This doc (or docs) would link to

[2015-11-24 00:15] BethMassi commented on #152
@cartermp hallelujah

[2015-11-24 00:42] blackdwarf commented on #152
@cartermp well, why? What does it matter if they are there under "Working with data"? If you take a look at the proposal above, the .NET Core docs cover the "core platform" and everything else falls under the ecosystem.

Or, let's forget about EF for a sec. Let's take, for instance, System.Xml. What if System.Xml is not part of the stdlib? Where would its docs go then? Would we not put in here bec

[2015-11-24 00:45] BethMassi commented on #152
@blackdwarf I think you're missing the point here. People coming in reading the docs aren't necessarily looking for issues to pick up. If they see a black hole in the docs, and they say like "oh ya, I can write that" it's a LOT less friction. We need to keep up *achievable* roadblocks if we want the community to help, not difficult to navigate roadblocks.

[2015-11-24 01:03] blackdwarf commented on #152
@BethMassi I guess I am missing the point. I was under the impression that you have people who are willing to help and are looking at what they could help with. You are saying that we will get more people if they see "black holes" in the TOC. Correct?

OK, I will make a PR to at least sort out the .NET Core portion of above, and will not put in any scenarios yet since we are not clear on how to st

[2015-11-24 01:28] cartermp commented on #152
@blackdwarf I'm not sure we're communicating our points effectively.  I'm saying that I do not want any EF documentation that isn't strictly within the context of a scenario (working with data) on the platform.That means there shouldn't be any trace of reference documentation for EF in this doc set.  Not in their own separate section, not under any scenario section, not anywhere in this doc set.

[2015-11-24 02:00] blackdwarf commented on #152
@cartermp I struggle to understand how do you think that EF ref docs are not part of the "working with data" given scenario? What is so special about them?

I guess your post above begs the question: where do we draw the line? And once we draw the line, what happens to those libraries/classes/things that are on the other side of said line? And what does that do to our overall experience of the doc

[2015-11-24 18:27] BethMassi commented on #152
@blackdwarf Thanks. If we can get a V1 TOC together then we can start to solicit real feedback and help from the broader community. It's much easier for people to see where we're headed and where we need help if we have a TOC. It's like a project plan. It will change based on feedback for sure.

@cartermp I see what you are saying. At first brush, I think "how can we NOT have working with data as

[2015-11-24 19:09] blackdwarf commented on #152
@BethMassi I guess you and I have a different idea of what "v1" means. :)

For all else, what I was trying to get across is that besides the purity we need to think about our users and what are their needs and how do our choices impact their experience. That is the higher-order bit.

[2015-11-24 19:33] ghogen commented on #152
Regarding the EF 7 docs: is EF 7 is simply a newer version of the existing Framework, or is it specifically a port of EF to .NET Core?  Currently MSDN has the EF 5.0 and EF 6.0 docs [here](https://msdn.microsoft.com/en-us/library/gg696172(v=vs.103).aspx).
Also there are PMs and a doc team who own those docs, so presumably the choice of where to publish the EF reference would be up to them, and why

[2015-11-24 19:59] blackdwarf commented on #152
@ghogen EF7 is a rewrite. A lot of things changed and yes, we will talk with their PM team this. But again, you guys are missing my point; regardless whether it is EF, WCF or something else we build in the future, we need to figure out how our platform docs give users a good experience. If it makes it easier, replace EF wth XY and think of XY as something that works on top of .NET Core that MS shi

[2015-11-24 20:15] BethMassi commented on #152
I'm not missing your point at all. I understand what you are saying. I don't think anyone here wants to create a crappy experience for our customers LOL.

The last three words of your response is interesting though. When I think of "ecosystem" I do not think solely of "what MS ships". If we want that to be a "the line" here, I think that's fine if articulated clearly. But my initial impression rea

[2015-11-24 20:16] BethMassi commented on #152
Or did I misread and you are saying the think MS ships is .NET Core ?

[2015-11-24 20:21] ghogen commented on #152
@blackdwarf OK, getting away from the EF specifics.

My viewpoint is that some ported libraries will make sense to include in the .NET Core API Reference, some might not.  Whether it is included or just linked to would, I would suggest, depend on how closely the library is tied to .NET Core, whether the users are mostly .NET Core users, or mainly Windows programmers with a small number of .NET Cor

[2015-11-24 20:44] stevehoag commented on #152
+1 on this viewpoint. For example, C# is a part of many .NET Core scenarios, but I wouldn't expect to see the entire C# language reference here. For a smaller library that is primarily consumed by Core, it might make sense to pull in the docs for convenience. Case by case decisions.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Gordon Hogenson <notifications@

[2015-11-24 22:24] cartermp commented on #152
@blackdwarf I think the ref docs for a component like EF *are* special, because they're no longer about the .NET Core platform anymore.  These are different because they're explicitly *not* conceptual docs, they're reference docs!  Reference docs are going to cover APIs specific to EF that are so specialized that they really don't have anything to do with the overall concept of "Working with Data"

[2015-11-24 22:37] BethMassi opened #167 "C# LINQ Samples - Concatenation"
Add c# linq concatenation examples for #90

[2015-11-24 22:38] BethMassi opened #168 "C# LINQ Samples - Equality"
Add c# linq equality operator examples for #90

[2015-11-24 22:56] BethMassi commented on #152
@cartermp I was thinking for this specific case, that we would want to definitely represent the *ability* to work with data on the .NET Core platform by having a slot in the TOC "Working with Data" but that page would link directly to the EF 7 docs (like the top of the TOC there, wherever "there" is). The tutorials for "hooking up an app to a database" should live physically with the EF docs.

Her

[2015-11-25 00:25] cartermp commented on #152
@BethMassi I think that it's *totally* reasonable to have an entry in the TOC about a particular app model showing some guidance on how you can begin using it.  Where I ultimately draw the line is reference documentation or other more advanced topics which go beyond demonstrating the platform and its ecosystem, and linking to them from here.

I suspect you're going to end up finding a split of sor

[2015-11-25 00:31] #130 closed

[2015-11-25 01:05] BethMassi commented on #168
/cc @cartermp @matthewreily (first time I tried this branching thing, hope I did it right!)

[2015-11-25 01:07] BethMassi commented on #164
@matthewreily this is the last of the 101 LINQ samples to convert! Awesome job and thanks a ton. /cc @cartermp

[2015-11-25 01:25] #168 closed

[2015-11-25 01:28] #167 closed

[2015-11-25 01:56] blackdwarf commented on #152
Ok I think we will not come to an agreement on this here. I for one dont find anything "advanced" in ref docs *per se* so I fail to see how are those things, situated properly, against "demonstrating the platform and ecosystem".

However, since we have work to do I suggest we take what we agree on, which is the .NET Core core content and get cracking. I will make a PR for a new TOC tomorrow that c

[2015-11-25 04:03] cartermp commented on #152
Agreed.  Sounds like a good plan.

[2015-11-25 04:27] BethMassi commented on #152
Sounds like a plan

[2015-11-25 05:25] stevehoag commented on #152
Yes, let's do it...

Sent from my Windows Phone
________________________________
From: Beth Massi<mailto:notifications@github.com>
Sent: ‎11/‎24/‎2015 8:28 PM
To: dotnet/core-docs<mailto:core-docs@noreply.github.com>
Cc: Steve Hoag<mailto:Steve.Hoag@microsoft.com>
Subject: Re: [core-docs] TOC principles - ideas and suggestions (#152)

Sounds like a plan

—
Reply to this email directly or view it o

[2015-11-25 13:46] matthewreily commented on #152
+1

[2015-11-25 16:54] BethMassi opened #171 "C# LINQ Samples - XML"
Add c# linq to XML examples for #90

[2015-11-25 19:33] mairaw commented on #152
+1 Something we all agree on! :-)

[2015-11-26 00:10] blackdwarf opened #173 "TOC proposal"
Just realized that making a PR would require actually moving all of the files around, creating new ones, deleting old ones and what not. Not a problem, but since no no. 1 attempt is good, better to first shake out the TOC proposal in an issue and then just do the work once we are settled.

Several notes:
* This covers only the .NET Core and Getting started content not the scenarios, as agreed in #

[2015-11-28 16:04] BethMassi commented on #173
LGTM

[2015-11-30 04:28] cartermp commented on #173
LGTM :shipit:

[2015-11-30 17:46] blackdwarf commented on #148
@mairaw I didn't even see this issue. :) Some answers:

1. I think everyone would want to see if their changes work right? Consider in hte future when we have documents pulling in samples. You need to see if this works.
2. Yes, of course. We need to make this explicit however, so good catch.

[2015-11-30 17:51] #52 closed

[2015-11-30 18:16] #157 closed

[2015-11-30 18:30] cartermp commented on #148
Agreed with @blackdwarf.  Something like this?

"Before adding or editing content, submit an issue with a suggestion for your proposed additions and/or changes. If you are adding a new article, provide detail on what the it would discuss, and how it would relate to existing documentation."

[2015-11-30 18:36] stevehoag commented on #148
LGTM

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Phillip Carter <notifications@github.com>
Sent: Monday, November 30, 2015 10:31:03 AM
To: dotnet/core-docs
Subject: Re: [core-docs] Contributing guidelines suggestions (#148)

Agreed with @blackdwarf<https://github.com/blackdwarf>. Something like this?

"Before adding or editing content, submit an issue with

[2015-11-30 19:18] cartermp commented on #149
Got this resolved.

[2015-11-30 19:18] #149 closed

[2015-11-30 19:19] cartermp commented on #26
Closing for now; we have more stuff to hash out before we can consider writing this documentation.

[2015-11-30 19:19] #26 closed

[2015-11-30 19:54] mairaw commented on #148
I can see a scenario where I just want to make simple fixes and would just make the changes and submit a PR. In this case, I don't need to build the docs and don't think people would need approval for that.
Maybe just start with the guidelines first and then explain how to build the docs later and why you need to build the docs. It might not be totally obvious the reason you wouldn't simply edit t

[2015-11-30 20:32] BillWagner commented on #55
I'll work on this, if someone wants to assign it to me.

[2015-11-30 20:38] stevehoag commented on #55
Assigned to Bill.

[2015-11-30 21:37] cartermp commented on #164
Awesome possum.  Thanks a bunch @matthewreily for your work in helping port them over!

[2015-11-30 23:59] cartermp opened #176 "Async Articles - Proposal for Change"
The original async docs were written with a differentiation on the async model for each language.  C# and VB share the same model, so there were two documents: one for F#, and one for C#/VB.

The new TOC doesn't have a good way for these docs to fit in as-is.  The new TOC has the C#/VB document shaved of all VB content (of which there was very little) in an effort to get something available.  Here

[2015-12-01 01:10] mairaw commented on #173
Overall, LGTM. A couple of points (some are picky I know):
- I think we should have the installing docs here too, since I'd imagine that would be a more comprehensive article showing the different ways you can install, etc.
- I understand that we don't want to cover the web scenarios in detail here but maybe we should have a topic (or a section in an existing topic) that explains the different sce

[2015-12-01 05:10] blackdwarf commented on #173
@mairaw some replies, in the order of questions asked:

1. I don't follow?
2. We will have that, and those will be in its own separate scenario heading. I just want to get this off the ground since we didn't finish the scenario dicussion in the other issue.
3. :)
4. Well, an overview usually has a different title. You can see the actual PR on #175
5. Fixed this in #175 to be consistent.

Thanks!

[2015-12-01 05:21] blackdwarf commented on #148
@mairaw OK, for very simple changes this is ok. But, for instance, what happens if you decide to add a new file or you accidentaly change the title of a given MD file. Building actually warns you about this, because TOC will point to a file that doesn't exist (docfx fails the build with an error).

if you are really, **really** only changing 1-2 lines, you can actually do that in the GH directly a

[2015-12-01 07:37] mairaw commented on #148
Agree, that's what I've been doing because my contributions so far were only simple fixes. What do you mean with a clean PR @blackdwarf?
You could also argue that the contributing guidelines are not for the simple fixes and not cover that scenario here. But my suggestions would still apply.

[2015-12-01 07:45] mairaw commented on #173
@blackdwarf:

1 - maybe I misunderstood what you meant by "I keep thinking that the "installing" bit should just point to http://dotnet.github.io/getting-started and not replicate content that we will have to change in numerous places". I thought you were saying you didn't want the installing topics.
2 - sounds great!
3 - sorry, I still don't have suggestions for a better name :-)
4,5 - ok, thanks

[2015-12-01 15:31] blackdwarf commented on #148
@mairaw I mean that each contribution is backed by a PR.

[2015-12-01 15:33] blackdwarf commented on #173
@mairaw:

1. Nope, meant that the docs just point to the URL. :) I loathe having to edit content in 3 different places.
2. Good.
3. Then we are stuck with "Primer" until we do have a better name.

Do comment on #175 as well before I merge today.

[2015-12-01 18:42] mairaw commented on #148
Makes sense @blackdwarf.

[2015-12-01 18:48] mairaw commented on #173
1. If it makes sense, I'm fine with that. But for example, the steps for Windows on the getting-started page is completely different from the topic.
3. I prefer something like "Lap around .NET" or "Key .NET Concepts". My 2 cents, of course!

I'll take a more closer look again at #175 right now.

[2015-12-01 18:52] mairaw opened #177 "Change repo header to point to the new site"
I couldn't find how to fix the header that is still pointing to RTD site on the main page of the repo: https://github.com/dotnet/core-docs

[2015-12-01 19:20] blackdwarf commented on #173
Let's try the mail thing see if it works.

The docs need to change to reflect the new reality that is on the Core site. What is on the site is the new true way to install bits. I was meaning to change these as soon as the TOC is merged. :))

Thanks,
Z

Sent from my tricorder

On Tue, Dec 1, 2015 at 10:48 AM -0800, "Maira Wenzel" <notifications@github.com<mailto:notifications@github.com>> wrote:

[2015-12-01 19:23] mairaw commented on #173
It did work! Did you clean it up the e-mail to reply? Because when @stevehoag replied using the e-mail, all the rest of the earlier convo was there too.
Ah ok, I didn't know the main page was already updated to the new way. Sounds good!

[2015-12-01 19:24] mairaw commented on #173
Never mind, the rest of the convo is there too when you expand the ...

[2015-12-01 19:47] matthewreily commented on #53
If this is still needed please assign to me and I will work on it. cc @BethMassi

[2015-12-01 19:48] matthewreily commented on #54
I'll take this one as well.  Please assign to me.  cc @BethMassi

[2015-12-01 20:05] mairaw commented on #54
Done @matthewreily

[2015-12-01 20:06] matthewreily commented on #54
Thanks!

[2015-12-01 20:15] cartermp commented on #53
Done!

[2015-12-01 20:34] matthewreily commented on #53
Thanks!

[2015-12-02 00:29] cartermp opened #180 "Writing Console Applications Article"
The guide will cover how to use the new cross-platform tooling to build a new console application.

I propose two sections:

1. An incremental guide starting at a basis for compilation, eventually showcasing how you can tie multiple projects together (and test test them!).

2. A fun case study: writing a web scraper which grabs the titles and synopses of each episode in a given [Game of Thrones Se

[2015-12-02 01:46] matthewreily commented on #173
Are we going to cover testing as a topic? I have not seen any mention of it and not sure if it is even within the scope of the core-docs.

[2015-12-02 01:51] cartermp commented on #173
@matthewreily good question.  What I've been doing this far is incorporating Xunit into the relevant article(s).  I'm almost tempted to say that we could just link directly to the testing frameworks available.  I haven't used Nunit, but Xunit's documentation is really good, so I think we'd want to point people there if at all possible.

[2015-12-02 02:34] matthewreily commented on #173
Sounds good to me and I agree that Xunit's documentation is really good.  I'll start incorporating it in as well where relevant.  Maybe we could start adding some unit tests to the samples we produce as well.  I think adding by adding some simple tests to our samples, we would help those wanting to learn how to get started.

[2015-12-02 18:48] BethMassi commented on #177
It looks correct to me: http://dotnet.github.io/docs/index.html

[2015-12-02 19:24] #173 closed

[2015-12-02 19:43] mairaw commented on #177
It did have the wrong site yesterday but it does look correct today. I swear I'm not going crazy! :smile:

[2015-12-02 19:43] #177 closed

[2015-12-02 20:20] blackdwarf commented on #180
@cartermp

Like the idea. However, there are few problems with what you proposed:

1. The first foray into the console applications should not contain info on managing multiple projects and the like. It should link to these topics further in the documentation. When I'm a new user, I want to get my feet wet without drinking concepts from a firehose.
2. I'm not sure IMDB allows HTML scraping in thei

[2015-12-02 20:49] mairaw commented on #180
I'd avoid using something like GoT in our content since I believe is trademarked.

[2015-12-02 20:52] blackdwarf commented on #180
@mairaw good point. :) Though, in this case, you are "just" using it from a 3rd party provider, so the real problem would be stuff like IMDB terms of use (they might not give you the right to use their data wherever and however you want).

[2015-12-02 21:12] #164 closed

[2015-12-02 21:54] matthewreily commented on #90
Ready to start working on a some tutorial content.  Should I start with a linq overview doc or a document covering one of the linq samples we created? cc @BethMassi

[2015-12-02 22:13] blackdwarf commented on #90
@matthewreily there is already a LINQ overview doc in the .NET Primer, so you can either link to that or you can actually reword it to be better.

[2015-12-02 22:50] mairaw commented on #180
Agreed. But I'd say not only what the IMDB terms say but what our legal team says of using another site in our samples. Even names used in sites/samples/etc. have to come from a fictitious name database. I'm just saying that if it's not something generic where you provide an URL as a parameter and do something with it, I'd make sure it's okay to use it.

[2015-12-02 23:50] cartermp commented on #180
Good points @blackdwarf and @mairaw.  Perhaps something like [fetching XKCD transcripts and alt texts](http://xkcd.com/1/info.0.json)?  All his info is licensed under Creative Commons so I think any legal issues would be minimal at most.

The main goal for the second one is to be kind of fun and showcase something more than the typical, sorta boring pieces of sample code that we usually supply (li

[2015-12-02 23:52] cartermp commented on #90
Yep!  If there's a way to repurpose, modify, or otherwise rewrite the LINQ overview doc then that would be a great place to start.

[2015-12-03 14:39] blackdwarf commented on #180
@cartermp somehow I read that this is supposed to be the console application article in the "Getting started" portion of the docs. It is a fine approach for the main parts. As far as *how* that would be done, I'm completely open to adding a couple of more documents to the TOC; no need to remain fixed at these. The "Console paradigm" was supposed to be an article that introduces and explains concep

[2015-12-03 18:28] blackdwarf commented on #105
Some comments on this @mairaw:

.NET Core:

* "Take" is better because "embed" has different semantics. I will change the word to be slightly nicer.
* Well, I didn't want to have any specific MVC things in there since I already have the link in there, so...

That's it for me, will be making a PR with these. Though, I suspect most of this document needs to change but this are bigger changes.

[2015-12-03 19:00] mairaw commented on #105
@blackdwarf
1 - Sounds good regarding "take"
2- I don't think you have to drill down on the concepts either. But MVC has a couple of keywords that I personally think would be interesting to throw in there.

Also found a typo: loging should be logging.

Thanks!

[2015-12-03 20:12] BillWagner commented on #74
This should be closed (fixed in PR #172) I didn't mark that in the PR.

[2015-12-03 20:13] #74 closed

[2015-12-03 20:41] cartermp commented on #180
@blackdwarf gotcha!  Thinking about it, I think I'll focus just on adding an article or two to the TOC which are basically guides (the two scenarios I described).  The other parts seem like they'd be better written by you, especially since you drove the console paradigm :).

[2015-12-04 18:26] BethMassi opened #187 "Need automated way to remove wrench icon when articles are merged"
Currently there is no automated way on build of the docs to manage the removal of the wrench icon (which indicates that articles need to be written). This is going to cause additional headaches particularly with community contributions because now in addition to writing the article, you need to modify lines to remove the wrench in these places:

1.In the main TOC
2.In the sub-topic TOC (index.md)

[2015-12-04 19:57] BillWagner commented on #187
So, I thought the wrench was just a cool icon. I added it in my finished articles. Shows what I know.... :hankey:

[2015-12-04 20:29] matthewreily commented on #187
Ha.  Same here @BillWagner

[2015-12-04 20:47] BethMassi commented on #187
LOL. @blackdwarf is working on making the contribution guidelines clearer.

[2015-12-04 20:52] cartermp commented on #187
Maybe we should prefix our favorite articles with a cool icon.  Or perhaps we can style Up for Grabs content with (☞ﾟヮﾟ)☞ _Article Here_?

[2015-12-04 21:33] BethMassi commented on #176
That sounds like a good approach to me.

[2015-12-04 21:38] stevehoag commented on #176
Yes, makes sense.

[2015-12-04 23:19] blackdwarf commented on #187
The wrench can be replaces with whatever, as long as it indicates that the article is in an unfinished state. The contrib guidelines are merged and there is a second PR waiting. Sorry about the confusion @BillWagner and @matthewreily.

[2015-12-06 19:32] #55 closed

[2015-12-06 19:48] cartermp commented on #95
Hey @halocameo, thanks for the suggestion.  We've updated the TOC and although it doesn't have a UWP section right now, we'll have some propositions for UWP (and other app models) at some point in the near future.

[2015-12-06 19:48] #95 closed

[2015-12-08 17:51] cartermp commented on #69
Taking this one, as this now fits snugly in with #176.

[2015-12-08 17:52] cartermp commented on #68
Should this be generalized to concurrency and parallelism?  Generally people don't new up `Thread` objects anymore, and the TPL is broad enough to warrant a general tutorial on concurrency and parallelism.

[2015-12-08 19:32] seandebutts opened #192 "Improve Primary Button Legibility"
In the TOC pages, the buttons for "Improve this Doc" and "View Source" are difficult to read because of purple text against blue background.

Examples:
http://dotnet.github.io/api/index.html, and the pages below it (also http://dotnet.github.io/docs/).

/cc @blackdwarf @chenkennt @pengbian

[2015-12-08 19:41] seandebutts opened #193 "Word Order in Type Titles"
On the TOC content pages, in the h1 titles, the type names (Class, Struct, Interface, Enum and Delegate) are the first words. This is in contrast to the .NET Framework Class Library, where type names come last in the titles.

Examples:
https://dotnet.github.io/api/System.Action%601.html (“Delegate” is first word in title)
https://msdn.microsoft.com/en-us/library/018hxwa8(v=vs.110).aspx (“Delegate”

[2015-12-08 22:57] seandebutts opened #194 "Parameters and Type Parameters Missing from TOC Pages for Delegates"
API pages for delegates with parameters are missing Parameters and Type Parameters.

Example:
Compare the .NET Core API pages for Action<T1, T2> Delegate with the corresponding page on the .NET Framework Class Library
https://docs.microsoft.com/en-us/dotnet/core/api/system.action-2
https://msdn.microsoft.com/en-us/library/bb549311(v=vs.110).aspx

/cc @blackdwarf @chenkennt @pengbian

[2015-12-08 23:08] seandebutts opened #195 "Missing Space after Namespace: and Assembly:"
On the API pages, there is no space between Namespace and its value, and nor is there one between Assembly and its value.

**Example:**
https://dotnet.github.io/api/System.Action.html

**Current Appearance:**
Namespace:System
Assembly:System.Runtime.dll

**Suggested Appearance**
Namespace: System
Assembly: System.Runtime.dll

/cc @blackdwarf @chenkennt @pengbian

[2015-12-08 23:44] seandebutts opened #196 "Returns are Missing Table Formatting"
In the .NET Framework Library, some methods have parameters and return values in tables. System.Math.Truncate(Double) is an example. In the .NET Core API pages, these parameters and values do not have table formatting and have collapsed together.

Not sure if this is to be solved via overrides or by importing content.

**EXAMPLES:**

**.NET Core**
**https://dotnet.github.io/api/System.Math.html [S

[2015-12-09 00:05] seandebutts opened #197 "Improve TOC Sidebar Readability"
The entries in the TOC sidebar are stacked closely on top of one another, which makes them difficult to distinguish. Increasing vertical margins or padding could solve this.

**EXAMPLE:**
https://dotnet.github.io/api/
![toc-types-lacking-spacing](https://cloud.githubusercontent.com/assets/3714242/11672186/274f33a4-9dc3-11e5-8220-512b1ab3319f.JPG)

/cc @blackdwarf @chenkennt @pengbian

[2015-12-09 01:40] seandebutts opened #198 "Some Class Properties Missing Summaries and Descriptions"
On http://dotnet.github.io/api/, some classes have properties lacking summaries and descriptions. However, when I run a local version of the site, these summaries and descriptions have values, which are being taken from the .yml files in core-docs\api folder.

**Live Site:**
Example:
System.Array.Collection.ICollection.IsSynchronized
http://dotnet.github.io/api/System.Array.html#System_Array_Syste

[2015-12-09 05:49] chenkennt commented on #198
Seems the one on github.io (manually built by me) and the one you're using (built on our CI machine) are using different intellisense files. I'm using intellisense files of .NET 4.6 and our CI machine is using the ones of .NET 4.0. @blackdwarf which one do you think is the right one we should use?

[2015-12-09 18:24] mairaw commented on #198
I think we should use the latest @chenkennt. .NET 4.6.1

[2015-12-10 02:00] chenkennt commented on #198
Ok, but 4.6.1 doesn't have comments for some of the methods like Sean showed in the screenshot.

[2015-12-10 02:36] mairaw commented on #198
I researched here a bit and it seems we lost these APIs when we moved from Dx to CAPS because they were PCL only and not framework APIs. Not sure if this was intentional or not.

[2015-12-10 05:48] blackdwarf commented on #192
@seandebutts this is planned as part of the overall CSS changes this or next week, but thanks for putting up the issue for tracking.

[2015-12-10 19:29] mairaw commented on #109
Just saw this issue. The API docs now live in this site: https://dotnet.github.io/api/index.html

It was generated using a tool called docfx. The documentation was supposed to be here (dotnet.github.io/docfx) but the site seems down at the moment. @blackdwarf, do you know anything about it?

@chenkennt I also see on the nuget page (https://www.nuget.org/packages/docfx/), that we had a release this

[2015-12-10 20:59] seandebutts opened #200 "docfx build is Generating a Warning"
"docfx build" is building my site, but it also causes the following warning to be generated.

Warning: Too many missing definitions of xref, following is top 100:
        Microsoft.SqlServer.Server.SqlUserDefinedTypeAttribute
 Microsoft.VisualBasic.CompilerServices.Operators.CompareObject(System.Object,System.Object,System.Boolean)
     Microsoft.Win32.RegistryKey.OpenRemoteBaseKey(Microsoft.Win32

[2015-12-10 21:02] seandebutts commented on #200
Here is the full message, with info and warnings:

[full-docfx-build-info-and-warning.txt](https://github.com/dotnet/core-docs/files/58723/full-docfx-build-info-and-warning.txt)

[2015-12-12 23:21] cartermp commented on #76
:+1: let's not have SOAP be a part of this.

[2015-12-14 10:03] xen2 commented on #109
@mairaw We already switched to docfx 10 days ago (2 days after http://qinezh.github.io/docfx/ went public, we were lucky to find it right after it went covertly live)

We use it for Xenko Game Engine:
- api: http://doc.xenko.com/1.4/api/SiliconStudio.Xenko.Engine.html
- manual: http://doc.xenko.com/1.4/manual/index.html
- github: https://github.com/SiliconStudio/xenko-docs

Works well and quite fa

[2015-12-14 10:04] #109 closed

[2015-12-14 17:45] mairaw commented on #109
Awesome @xen2!

[2015-12-29 18:48] BillWagner commented on #73
I'll work on this. Will someone please assign it to me?

[2015-12-29 19:02] stevehoag commented on #73
Done - should be assigned to you now. Thanks!

[2016-01-21 21:17] rtandel commented on #76
Is anybody working on this? I'm willing to do this if nobody else has already done it.

[2016-01-22 21:57] richlander opened #210 "Contributing guidelines make reference to RST files"
Should they?

/cc @blackdwarf

[2016-01-22 22:05] blackdwarf commented on #210
@richlander nope. A bug.

[2016-01-22 22:06] blackdwarf commented on #210
Fixed! :)

[2016-01-22 22:06] #210 closed

[2016-01-22 22:51] cartermp opened #211 "Update samples to use netstandard and dotnet cli"
All samples right now use DNX (or in the case of libraries, use it for testing).  They should be updated to use netstandard and dotnet cli.

[2016-01-22 22:59] richlander commented on #76
I'd love to see more people get involved in this project. Are you interested in contributing in general or is it this particular topic?

[2016-01-23 02:52] rtandel commented on #76
Definitely! I'm still learning C# but I'm planning on contributing as I go along. I know a good bit of Java so it shouldn't be too long.

[2016-01-23 17:31] richlander commented on #76
Great. This article is a more in-depth one, so it probably isn't the best one to start with. I would recommend starting with "getting started" material and then growing from there into more complex/deep material.

We were talking about porting some "getting started" .NET Framework content to core. It both needs to be massaged into markdown and validated that it the content applies to Core. We're g

[2016-01-23 18:54] cartermp opened #212 "Porting Docs - Overview, Tools, Libraries, and NuGet Packages First"
The current TOC for porting is organized like this:

- Overview
- Tooling
- Porting your applications
- Porting your libraries
- Porting your NuGet packages

There are common steps among all three, namely:

- Is it worth it to port?
- Figuring our your 3rd party dependencies and resolving incompatibilities (if possible)
- Figuring out your .NET Framework dependencies and resolving incompatibilitie

[2016-01-23 20:18] rtandel commented on #63
I'll move the conversation to this issue. I'm almost to this topic in my C# book so I can do this one really soon.
I am interested in "We were talking about porting some "getting started" .NET Framework content to core. It both needs to be massaged into markdown and validated that it the content applies to Core. We're going to start that exercise soon, but could use some help."
I will have delegat

[2016-01-25 13:07] hmobius commented on #67
Hi, If no-one wants to take this, I'd be happy to start working on this. I'm just coming back to coding after a long break, but have been writing \ editing things in the meantime.

I'm going to suggest that the content is based on the documentation already there in https://msdn.microsoft.com/en-us/library/b2s063f7.aspx but perhaps with a little more about tooling. With docfx, readthedocs etc aroun

[2016-01-28 05:25] #105 closed

[2016-01-28 06:03] blackdwarf commented on #212
@cartermp agreed.

[2016-01-28 17:44] armadilloNik commented on #76
Rich - it sounds like there might be some bigger ideas/epics y'all want to tackle that aren't clearly reflected by the individual issues.  I'm interested in helping out.

[2016-01-31 13:03] genstein opened #215 "Missing steps in docs/getting-started/installing/installing-core-windows.md for Windows 7"
On Windows 7, under Installing .NET Core, prior to "That's it!", my experience was that steps should include:

- Ensure you have the latest Windows 7 Service pack
- Ensure you have the latest version of PowerShell
- (Note the MSI is currently not signed by Microsoft or any other vendor - this is expected)
- After running the MSI, from a command line, run:
[code]

These were needed to work around t

[2016-01-31 13:52] genstein commented on #215
Actually I think I may just be horribly premature trying this out. The docs' dotnet commands do work without the above; I was trying to create a non-ASP.NET .NET Core project I could debug with Visual Studio by following the instructions on this page. This looks like it's not supported/possible, and having made a dozen or so attempts at getting this path working, I think I'd best come back when it

[2016-01-31 13:52] #215 closed

[2016-02-02 15:52] BillWagner commented on #69
@cartermp If you have a fork where you're already working on this, I'd be happy to review and comment.

[2016-02-02 16:05] BillWagner commented on #63
I'll take this one if someone wants to assign it to me. I'll also work on #64 at the same time, since they are related concepts.

[2016-02-02 16:06] BillWagner commented on #64
I'll take this, if someone wants to assign it to me. I'll work on it along with #63 as they are related.

[2016-02-02 16:58] cartermp commented on #64
Done!

[2016-02-02 16:59] cartermp commented on #69
Absolutely.  The current version of the update is #214, where @richlander pushed some of his changes.  I've been working off of that.  I think it's ready for a review.

[2016-02-02 16:59] cartermp commented on #63
Done!

[2016-02-05 19:15] BillWagner commented on #63
I'm going to break this one into the following tasks to avoid a huge PR (like with expression trees):
[ ] Create Placeholders with links for navigation
[ ] Write Overview Article
[ ] Delegate class and delegate keyword
[ ] Strongly Typed Delegates
[ ] Delegate Patterns and Practices

I'll suggest that I create separate issues for each of those tasks, and create PRs for each of them (linking them h

[2016-02-05 19:21] BillWagner commented on #64
I'm going to break this one into the following tasks to avoid a huge PR (like with expression trees):

[ ] Create Placeholders with links for navigation
[ ] Write Overview Article
[ ] Event Pattern
[ ] Modern Events:  without the (object sender, EventArgs args) prototype
[ ] Distinguishing events from delegates

I'll suggest creating separate sub-issues for each of these articles and creating a PR

[2016-02-05 19:26] stevehoag commented on #63
Makes sense.

[2016-02-05 19:26] stevehoag commented on #64
Also makes sense...

[2016-02-05 19:43] mairaw opened #217 "Porting .NET MSDN docs to Core - Base Types"
We need to port the relevant content from MSDN that applies to .NET Core.

The base types docs are still applicable to .NET Core. This is the starting point for base types:
https://msdn.microsoft.com/en-us/library/7wchwf6k(v=vs.110).aspx

[2016-02-05 19:46] mairaw opened #218 "Porting .NET MSDN docs to Core - Collections and Data Structures"
We need to port the relevant content from MSDN that applies to .NET Core.

The collections docs are still applicable to .NET Core. This is the starting point for collections:
https://msdn.microsoft.com/en-us/library/7y3x785f(v=vs.110).aspx

[2016-02-05 20:00] mairaw opened #219 "Porting .NET MSDN docs to Core - Generics"
We need to port the relevant content from MSDN that applies to .NET Core.

The generics docs are still applicable to .NET Core. This is the starting point for generics:
https://msdn.microsoft.com/en-us/library/ms172192(v=vs.110).aspx

[2016-02-05 20:01] mairaw opened #220 "Porting .NET MSDN docs to Core - Numerics"
We need to port the relevant content from MSDN that applies to .NET Core.

The generics docs are still applicable to .NET Core. This is the starting point for numerics:
https://msdn.microsoft.com/en-us/library/dn879696(v=vs.110).aspx

[2016-02-05 20:03] mairaw opened #221 "Porting .NET MSDN docs to Core - Events"
We need to port the relevant content from MSDN that applies to .NET Core.

The events docs are still applicable to .NET Core. This is the starting point for events:
https://msdn.microsoft.com/en-us/library/edzehd2t(v=vs.110).aspx

[2016-02-05 20:05] mairaw opened #222 "Porting .NET MSDN docs to Core - Exceptions"
We need to port the relevant content from MSDN that applies to .NET Core.

The exceptions docs are still applicable to .NET Core. This is the starting point for exceptions:
https://msdn.microsoft.com/en-us/library/5b2yeyab(v=vs.110).aspx

[2016-02-05 20:06] mairaw opened #223 "Porting .NET MSDN docs to Core - I/O"
We need to port the relevant content from MSDN that applies to .NET Core.

The I/O docs are still applicable to .NET Core. This is the starting point for I/O:
https://msdn.microsoft.com/en-us/library/k3352a4t(v=vs.110).aspx

[2016-02-05 20:08] mairaw opened #224 "Porting .NET MSDN docs to Core - Date/Time"
We need to port the relevant content from MSDN that applies to .NET Core.

The date/time docs are still applicable to .NET Core. This is the starting point for date/time:
https://msdn.microsoft.com/en-us/library/bb384268(v=vs.110).aspx

[2016-02-05 20:13] cartermp commented on #64
Sounds good.

Side note: Github *really* needs to get more advanced issue tracking for exactly this kind of scenario.

[2016-02-05 20:16] mairaw opened #225 "Porting .NET MSDN docs to Core - Attributes"
We need to port the relevant content from MSDN that applies to .NET Core.

The attributes docs are still applicable to .NET Core. This is the starting point for attributes:
https://msdn.microsoft.com/en-us/library/5x6cd29c(v=vs.110).aspx

[2016-02-05 20:20] mairaw opened #226 "Porting .NET MSDN docs to Core - Class Library Overview"
We need to port the relevant content from MSDN that applies to .NET Core.

The class library overview doc is still applicable to .NET Core. This is the topic:
https://msdn.microsoft.com/en-us/library/hfa3fa08(v=vs.110).aspx

[2016-02-05 20:21] mairaw opened #227 "Porting .NET MSDN docs to Core - Common Language Runtime"
We need to port the relevant content from MSDN that applies to .NET Core.

The Common Language Runtime doc is still applicable to .NET Core. This is the topic:
https://msdn.microsoft.com/en-us/library/8bs2ecf4(v=vs.110).aspx

[2016-02-05 20:22] mairaw opened #228 "Porting .NET MSDN docs to Core - Automatic Memory Management"
We need to port the relevant content from MSDN that applies to .NET Core.

The Automatic Memory Management doc is still applicable to .NET Core. This is the topic:
https://msdn.microsoft.com/en-us/library/f144e03t(v=vs.110).aspx

There's also this section on GC: https://msdn.microsoft.com/en-us/library/hh156531(v=vs.110).aspx

[2016-02-05 20:30] mairaw opened #229 "Porting .NET MSDN docs to Core - Metadata"
We need to port the relevant content from MSDN that applies to .NET Core.

The metadata doc is still applicable to .NET Core. This is the topic:
https://msdn.microsoft.com/en-us/library/xcd8txaw(v=vs.110).aspx

[2016-02-05 20:32] mairaw opened #230 "Porting .NET MSDN docs to Core - Language Independence"
We need to port the relevant content from MSDN that applies to .NET Core.

The language independence doc is still applicable to .NET Core. This is the topic:
https://msdn.microsoft.com/en-us/library/12a7a7h3(v=vs.110).aspx

[2016-02-05 20:43] blackdwarf opened #231 "Rework the TOC to fit in the ported docs from MSDN"
Given the recent influx of issues that will result in a lot of docs being ported over from MSDN, we need to figure out where each of them fits in.

/cc @mairaw @richlander @BillWagner

[2016-02-05 21:25] mairaw opened #232 "Improve the .NET Core topic on MSDN"
The topic about .NET Core on MSDN hasn't been updated in a long time and needs to be reviewed:
https://msdn.microsoft.com/en-us/library(d=lightweight)/dn878908(l=en-us,v=VS.110).aspx

[2016-02-07 22:30] BillWagner opened #235 "Properties should include auto property initializers"
@martinwoodward mentioned this when he built labs from the information here: https://github.com/martinwoodward/csharpworkshop/tree/master/004-Properties#exercises

I can update the article later this week.

[2016-02-08 02:45] BillWagner opened #236 "Delegates: Create Placeholders with Links for Navigation"
This is a sub-task for #63.

Create placeholder files for each of the items listed in #63 and add all the navigation links between each article.

[2016-02-08 02:47] BillWagner opened #237 "Delegates: Write Overview Article"
This is a sub-task for #63.

Write the Overview Article for delegates in C#.

[2016-02-08 02:48] BillWagner opened #238 "Delegates: article on the Delegate class and delegate keyword"
This is a sub-task for #63.

Write the article for the delegate class and keyword.

[2016-02-08 02:50] BillWagner opened #239 "Delegates: article on Strongly Typed Delegates"
This is a sub-task for #63.

Create the article that discusses strongly typed delegates (using Func, Action, and Predicate)

[2016-02-08 02:51] BillWagner opened #240 "Delegates: Patterns and Practices"
This is a sub-task for #63.

Create the article on common patterns and proper practices with delegates.

[2016-02-08 02:59] BillWagner opened #241 "Events: Placeholder articles and navigation links"
This is a sub-task for #64

Create placeholder files for each of the items listed in #64 and add all the navigation links between each article.

[2016-02-08 03:00] BillWagner opened #242 "Events: Write overview article"
This is a sub-task for #64

Write article for the overview on events.

[2016-02-08 03:03] BillWagner opened #243 "Events: Discuss the Event Pattern"
This is a sub-task for #64

Write the article that discusses the event pattern in .NET

[2016-02-08 03:06] BillWagner opened #244 "Events: Modern Event Pattern"
This is a sub-task for #64

Write the article that discusses the framework changes that mean events no longer need to follow the (object sender, EventArgs args) pattern on the event handler definition.

[2016-02-08 03:09] BillWagner opened #245 "Events: Distinguish Events from Delegates"
This is a sub-task for #64

This article will discuss how to distinguish between delegates and events in your designs.

[2016-02-08 03:10] BillWagner commented on #64
I created all the sub-issues. and updated the comment above. Can someone assign the new issues to me?

[2016-02-08 03:10] BillWagner commented on #63
I created all the sub-issues. and updated the comment above. Can someone assign the new issues to me

[2016-02-08 03:18] stevehoag commented on #63
Done

[2016-02-08 18:51] cartermp commented on #64
Done!

[2016-02-08 23:07] blackdwarf commented on #221
/cc @BillWagner I think this should be covered in the C# tutorials/language docs.

[2016-02-08 23:07] blackdwarf commented on #219
/cc @BillWagner I think these should be covered in the C# tutorials/language docs.

[2016-02-08 23:08] blackdwarf commented on #225
/cc @BillWagner I think these should be covered in the C# tutorials/language docs.

[2016-02-09 17:42] cartermp opened #248 "Update New Libraries Doc for RC2"
- [x] Get rid of DNX stuff
- [x] Update TFMs to use what's shipping for RC2
- [x] Put a blurb in which clarifies what it means to target .NET as a whole (and reiterate that point for .NET Core)
- [x] Update the Multiple Projects section and expound upon when `gobal.json` is necessary
- [x] Update testing to use the `dotnet` commands with any relevant changes needed
- [x] Update examples to use pac

[2016-02-10 18:36] terrajobst opened #250 "Discontinued Tech"
We should consider documenting in more detail which technologies we don't plan on bringing to .NET Core and why. I've started a minimal version here:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md#unsupported-technologies

[2016-02-10 18:40] blackdwarf commented on #250
@terrajobst we definitely should. I'm asigning this to you since you have most context on these things.

[2016-02-10 19:00] BillWagner commented on #250
Does that mean @terrajobst is the best person to ask if I've got questions on classes that aren't implement yet? (meaning not yet vs. not planned)

[2016-02-10 19:03] blackdwarf commented on #250
@BillWagner yeah!

[2016-02-10 23:10] terrajobst commented on #250
Yes, that's part of my job :smile:

@BillWagner, you can always just file an issue in CoreFX asking things to be ported.

[2016-02-12 12:45] lazyspark opened #255 "c-sharp core docs - async"
Hi, I would like to contribute to the c-sharp core docs async section. Wanted to take a stackoverflow documentation approach i.e. documentation to surround with examples in the form of gists and walking through top 15 issues from stackoverflow on async. This would be more practical guide than the theory behind async which is important too but not so much useful for beginners.

As mentioned in the

[2016-02-12 13:09] aL3891 opened #256 "Reference for project.json/global.json"
Continuing from dotnet/cli#1276 about reference docs for project.json/global json. Are you interested in contributions for this? I've been looking at the code just for my own understanding so i might as well write it down.

Questions from the other issue,
Is someone already working on this?
where should i put those docs? (just under docs/cli?)

cc @blackdwarf

[2016-02-12 13:27] shahid-pk commented on #256
:+1:  would love to see this, although i don't need them , but whenever i come across people that are coming from non .net backgrounds they want to try docs from github.io site which are not in very good state for beginners.

[2016-02-12 16:42] cartermp commented on #256
This is something I've been thinking about as well.

We'll need to figure out a good place for them.  `project.json` is broader in scope than just the CLI, as you may end up having to hand-author your own sections in Visual Studio for multitargeting and other configuration.

If you're up for it, I'd love to see an outline of what you're thinking.

For reference, there's older material available [h

[2016-02-12 16:47] cartermp commented on #255
We've got async docs written and a big update coming in #214.  Would you like to contribute to that?

[2016-02-12 16:56] blackdwarf commented on #256
@cartermp `project.json` is foundational .NET Core concept, whether you hand-author your own sections or not is besides the point. We need to have a place where the schema is explained, together with its indeded use, tools and whatnot. However, there are some docs over at docs.asp.net that talk about it.

@danroth27 what are your thoughts?

[2016-02-12 17:00] danroth27 commented on #256
All of the DNX related docs on docs.asp.net will be removed once we ship the first preview of ASP.NET Core on .NET Core. I would expect project.json and global.json to be fully documented with the .NET Core docs.

[2016-02-12 17:10] cartermp commented on #256
@blackdwarf I see two different angles that need to be explored - a scenario-driven approach and a reference approach.  The page in the asp.net docs I linked to does a great job with being scenario-driven and it's something we can adapt to the particular angle we feel is best.  I wasn't able to find any reference material, so that could end up being a pretty big effort.

[2016-02-12 18:11] aL3891 commented on #256
i agree that the project.json stuff is broader than the cli, maybe it should be its own section called ".Net core project model" or something like that, and under there you'd have the reference docs (basically the schema but a little friendlier) and the conceptual docs. I imagine those could be pretty much lifted of the asp.net docs and just tweaked.

[2016-02-12 18:14] blackdwarf commented on #256
@danroth27 thanks, we're on the same page! :)

@cartermp there are reference materials in the ASP.NET repos, not the docs. So you can start from that.

[2016-02-12 18:41] lazyspark commented on #255
Instead I was wondering if you plan to distill stackoverflow for commonly asked questions and incorporate them in some form in the docs. Also creating gists for all samples so that they can always be tested post doc build. I see that as common problem on msdn is that either there are no samples or the samples have some error. I understand this can be significant undertaking but I am up for it.

[2016-02-12 18:56] cartermp commented on #255
Since these docs are still in their infancy it's harder to see, but regarding samples:

- All samples will be buildable and runnable projects in the `/samples` folder
- Once the doc system fully supports this, all sample code in docs will be embedded directly from those buildable projects.  We're hoping to support being able to run those samples in the browser too, but that's a more nebulous long-

[2016-02-12 19:51] lazyspark commented on #255
Make sense. I would also not like anything to be abandoned from this documentation. I like the documentation. I just was thinking a way to append it with additional constructs like scenarios, examples, questions, etc. For example on properties there would be a question from a typical Java Developer about extension properties :), or there are some very popular questions in SO on C# that are good FA

[2016-02-12 20:41] ghogen commented on #230
For Build include summary not full topic.

[2016-02-12 20:45] ghogen commented on #227
Just need a brief summary here for build.

[2016-02-12 20:54] ghogen commented on #218
need some info for \\BUILD on collections

[2016-02-12 21:36] aL3891 commented on #256
@blackdwarf so should i take a look at this, or leave it to @cartermp? :)

[2016-02-12 22:32] cartermp commented on #256
@aL3891 We'll have to figure out a good outline of what the articles would look like and agree on the particular angle each one would take.  I'm happy to work with you and figure out a good approach here if you still would like to contribute.

[2016-02-12 22:34] cartermp commented on #255
Thanks a bunch!  The more feedback, the better.  And definitely feel free to create issues about what you'd like to extend.  @BillWagner is writing a lot of the C# content right now, so there's an opportunity to collaborate with him as well.

[2016-02-13 00:55] blackdwarf commented on #256
@aL3891 this is open source, so go for it! :)

[2016-02-13 02:35] aL3891 commented on #256
Sure, no problem!
how about having an article separate from cli called "project model" with an overview, reference of the attributes in the project.json/global.json and some how to scenarios? As we've mentioned, the overview and scenarios can probably partially be lifted from the dnx docs.

[2016-02-13 13:41] aL3891 opened #258 "[Style] Shoud we include the author on each article?"
I've started working on the docs for the .net core project system and as i pull docs from different places i find myself hesitating because i feel like i'm stealing other peoples work and putting my name on it.

Also, looking further down the line, if more people collaborate on an article, should all of them be mentioned as authors? if i make a small edit on some document, does that make me an aut

[2016-02-15 18:22] cartermp commented on #258
I was thinking about this as well.  Currently we've been just having the original author put their name under the title.  Two main authors could be fine I suppose.  The question of contributors for smaller things (e.g. fixing spelling/grammar, or adding a small paragraph) is interesting.  I'd personally go with a list of contributors at the end of each article, but there's a number of ways to do i

[2016-02-15 18:36] BillWagner commented on #258
We should also figure out how to make the attributions when the new .NET core article is an update of previous .NET framework documentation. Those tasks feel more like an update or an edit rather than original content.

[2016-02-15 20:07] aL3891 commented on #258
One option would be to credit "msdn" as an author, i don't know how they've worked in the past with the msdn docs, but I've never seen any author information there.

I don't know though, as much as i'd like to leave my name on each page, wont that be cluttered over time? We could just have a contributors page or something.

[2016-02-15 20:56] blackdwarf commented on #258
Hm, don't we already have an author specified per article? Usually, the articles' authors are all listed if they are co-authors, so we should follow that logic.

Edits and minor spell-checks should not be of same gravity as the authorship; indeed, in general in publications they are not, as far as I know. We *could* have a separate section for them, but that seems...dunno. Maybe an attribution pag

[2016-02-15 21:01] stevehoag commented on #258
Although MSDN articles do have an author, in most cases we don't know who that was - we only know the current owner.

[2016-02-15 21:21] blackdwarf commented on #258
@stevehoag so that owner will be the person most likely to update the topic, if it is updated, for .NET Core, right?

[2016-02-16 01:24] stevehoag commented on #258
Not necessarily - Ron and Maira own the topics, but we'll all be helping with the porting to .NET Core. Personally I wouldn't want to be considered an "expert" on a topic just because I ported it, so I don't think attributing an author on these topics is appropriate.

[2016-02-18 20:09] BillWagner opened #261 "Request single page for `Action` and `Func` declarations"
The API docs have individual pages for all the Action delegate types (http://dotnet.github.io/api/System.Action.html to http://dotnet.github.io/api/System.Action%6016.html) and all the Func Types (http://dotnet.github.io/api/System.Func%601.html to http://dotnet.github.io/api/System.Func%6017.html) When writing about the concepts (in articles about generics, delegates, events, and covariance), it

[2016-02-18 21:14] svick opened #262 "Buttons in API reference have bad color contrast"
The "View Source" and "Improve this Doc" buttons in API reference use purple text on dark blue background, which is very hard to read. Another color combination should be used instead.

Screenshot:
![](http://imgur.com/QfXinAo.png)

[2016-02-22 18:51] mairaw commented on #262
This seems to be a duplicate of issue #192

[2016-02-22 19:38] svick commented on #262
@mairaw You're right.

[2016-02-22 22:15] BillWagner commented on #63
Everything for this section is in place. There are 5 PRs referenced above for the placeholders, and each article. It should be ready to review.

[2016-02-23 07:10] blackdwarf commented on #192
This has been fixed. so closing.

[2016-02-23 07:10] #192 closed

[2016-02-23 07:11] blackdwarf commented on #121
@mairaw will assign to you. :)

[2016-02-23 07:12] blackdwarf commented on #123
@chenkennt assigning this to you for now.

[2016-02-23 17:13] BillWagner opened #265 "C# Tutorial: Inheritance"
This topic would cover how inheritance is expressed in C#. It would include how to express designs using the keywords ‘abstract’, ‘virtual’, ‘override’, ‘sealed’. For developers coming from other languages, it would be important to discuss the fact that in C# override is required. (It is not in Java and many other OO languages.

[2016-02-23 17:13] BillWagner opened #266 "C# Tutorial: Dispose Pattern"
Discuss ‘using’, Implementing the Dispose pattern, and the subtleties around finalizers and managing unmanaged resources.

Reference and point to the .NET Framework Design Guidelines.

[2016-02-23 17:17] BillWagner opened #267 "C# Tutorial: Optional Parameters and Named Arguments"
This would cover topics around API design and optional parameters. A related topic would include named  arguments (as opposed to positional arguments). When used wisely, these can greatly decrease the number of overloads that may be needed.

[2016-02-23 17:17] BillWagner commented on #58
I’d recommend expanding the tutorial on structs to discuss the design guidelines on when to choose which.

[2016-02-23 17:20] BillWagner commented on #72
This topic might be better covered under arrays and collections. (The collections issue is #57)

Developers may not realize they want information about Covariance and Contravariance, but they will care about the effects when those features cause bugs when working with arrays.

[2016-02-23 17:21] BillWagner opened #268 "Tutorial: Preprocessor Directives"
This should be covered with an emphasis on building a code base that is cross-platform in the context of .NET Core.

[2016-02-23 17:21] BillWagner opened #269 "C# Tutorial: Enum Types"
This topic would cover how to create and use enums, how to assign values to the enum values, how to create bitflags, and how to work with them in other languages or other representations.

[2016-02-23 17:23] BillWagner opened #270 "C# Tutorial: Method Overloading and Method Hiding"
Discuss overloading methods with different signatures. It may be that this can be covered in the article on Default Arguments and Named Parameters, or other OO topics.

Method Hiding can result in strange bugs if a developer doesn’t understand it. (It may be that an article on method resolution and ‘better betterness’ might be the way to address this.)

[2016-02-23 17:23] BillWagner opened #271 "C# Tutorial: Namespaces and name scopes"
This would cover how to organize code in namespaces and reference classes in other namespaces. (And, it would cover the C# 6 feature for static usings).

[2016-02-23 17:24] BillWagner opened #272 "C# Tutorial: Dynamic types"
This would explain how dynamic works, and how to create dynamic like POCO types.

This should cross-reference how dynamic works with Razor views in asp.net core.

[2016-02-23 17:24] BillWagner opened #273 "C# Tutorial: Boxing and Unboxing"
This is a big enough area to warrant its own topic. The performance implications mean that developers need to understand how it works.

[2016-02-23 17:25] BillWagner opened #274 "C# Tutorial: Exception Practices"
Discuss how exceptions are the key method of communicating contract failures in .NET. In addition, this should discuss the Exception Filter language features added in C# 6.

[2016-02-23 17:25] BillWagner opened #275 "C# Tutorial: Interpolated Strings"
This is a new feature in C# 6. It’s Da Bomb!  We need to cover it. This should also cover how interpolated strings work in localization and internationalization scenarios.

[2016-02-23 17:26] BillWagner opened #276 "C# Tutorial: Handling Null and ?? and ?. Operators"
This would cover the newer operators like ?? and ?. that work well when programming with reference types that may be null. I’m not sure I like the title yet.

[2016-02-23 17:37] cartermp commented on #58
@BillWagner yep.  Done!

[2016-02-23 17:43] cartermp commented on #72
@BillWagner what are your thoughts on explicitly discouraging the use of array covariance?

Jon Skeet's [answer to a question on the topic](http://stackoverflow.com/questions/17619139/covariance-and-contravariance-with-c-sharp-arrays) comes to mind:
[code]

[2016-02-23 17:43] stevehoag commented on #72
I agree - I'm also looking at de-emphasizing the Covariance and Contravariance topics in the MSDN docs.

[2016-02-23 18:13] BillWagner commented on #72
@cartermp Yes, array covariance should be explicitly discouraged. Now that there is safe covariance with generics, there's not a good reason.

[2016-02-23 18:18] mairaw commented on #121
Sounds good

[2016-02-23 18:22] mairaw commented on #274
If we're going to have tutorials on this, then we should not port the content as in issue #222

[2016-02-23 18:27] BillWagner commented on #274
@mairaw I missed that issue when I wrote this. I can close this one as a duplicate, and add a note on #222 that when its ported, it should be updated to discuss Exception Filters.

[2016-02-23 19:04] mairaw commented on #192
Looks much better now :smile:

[2016-02-24 00:43] svick commented on #192
Is this change live? I still see the same issue on e.g. http://dotnet.github.io/api/System.html.

[2016-02-25 00:59] seandebutts commented on #121
@mairaw, I simplified the MSDN URLs per our conversation: https://github.com/dotnet/core-docs/pull/279/files

I removed "/en-us", the version number, and "/vstudio/". Look good?

cc: @blackdwarf @ghogen

[2016-02-25 01:04] seandebutts commented on #192
Agreed, the buttons on those two pages look nice and clean: http://dotnet.github.io/api/index.html and http://dotnet.github.io/api/index.html

@svick I also am still seeing the old "Improve this Doc" button on the API Reference pages such as: http://dotnet.github.io/api/System.html

@blackdwarf Should we reopen this?

cc: @mairaw

[2016-02-25 19:31] blackdwarf commented on #211
@cartermp this is you dude. Go wild. :)

[2016-02-25 19:32] blackdwarf commented on #197
Punting pending decision on the site and other things. The styles may be wholly different in the future.

[2016-02-25 19:38] blackdwarf commented on #152
Closing this as we have a decision and TOC is in place.

[2016-02-25 19:38] #152 closed

[2016-02-25 19:39] blackdwarf commented on #148
Closed with #188

[2016-02-25 19:39] #148 closed

[2016-02-25 19:39] blackdwarf commented on #212
@cartermp is this done? If yes, close pls.

[2016-02-25 19:41] #48 closed

[2016-02-25 19:41] #50 closed

[2016-02-25 19:41] blackdwarf commented on #46
@richlander is this still on for //BUILD?

[2016-02-25 19:42] #40 closed

[2016-02-25 19:42] #44 closed

[2016-02-25 21:16] cartermp commented on #212
Not yet, but yeah I'll close once the PR gets merged.

[2016-02-25 23:54] mairaw commented on #258
And I just inherited mine. :smile:

Missed this convo while I was out.
I agree with you @stevehoag. I don't think we have to add the authors to the ones we're porting. I just talked to @rickandmsft to understand how they're doing for asp.net. They add the original author's name in the byline. Then if someone makes significant edits, they can add their name too.

[2016-02-25 23:59] Rick-Anderson commented on #258
We (docs.asp.net) feel that having an author is important. It gives the doc a personal touch and makes it less of the bit buck MSDN has become. It's also a way for internal MS folks outside your division to contact you. We've found internal feedback pretty valuable, as MS employees are generally very sharp.  Even if you just ported the doc, if someone internal contacts you, you can generally refer

[2016-02-26 00:31] aL3891 commented on #258
I agree the about the no listening thing on msdn, but i think that's also mitigated by the docs being open source and accepting pull requests. I still think having the author as prominently as they are now makes contributing to the docs more a process of asking the author to change their work rather than creating a living document that is owned by the community.

Also, years down the line, the ori

[2016-02-26 00:57] ghogen commented on #258
The azure.com model has a main author and a list of contributors -- that way there's someone definite who should be on the hook for monitoring the topic, but a lot of other people are acknowledged as well.  The main author is not necessarily the same person who wrote the topic, since people change roles and a new "owner" takes over.  However, they would be the person most in touch with the area at

[2016-02-26 01:06] Rick-Anderson commented on #258
@aL3891 try weeks down the line. In the last 6 months we've had 3 authors move. Yes, open source solves many evils, it's easy for customers to open an issue (even easier than a PR).

[2016-02-26 19:37] mairaw opened #280 "What is the .NET Platform?"
Issue tracking new topic at http://dotnet.github.io/docs/getting-started/what-is-dotnet.html

[2016-02-26 19:38] cartermp commented on #280
Hah, yeah this seems like an important one to get written for //Build :smile:

[2016-02-26 19:39] mairaw commented on #280
You think? :smile:

[2016-02-26 19:40] mairaw opened #281 "Development using Visual Studio 2015"
Issue tracking new topic at http://dotnet.github.io/docs/getting-started/devenv/using-visual-studio.html

[2016-02-26 19:41] mairaw opened #282 "Development using Visual Studio Code"
Issue tracking new topic at http://dotnet.github.io/docs/getting-started/devenv/using-visual-studio-code.html

[2016-02-26 19:42] mairaw opened #283 "Development using vim"
Issue tracking new topic at http://dotnet.github.io/docs/getting-started/devenv/using-vim.html

[2016-02-26 19:43] mairaw opened #284 "Development using Sublime Text"
Issue tracking new topic at http://dotnet.github.io/docs/getting-started/devenv/using-sublime.html

[2016-02-26 19:44] mairaw opened #285 ".NET Platform & programming languages"
Issue tracking new topic at http://dotnet.github.io/docs/languages/overview.html

[2016-02-26 19:45] mairaw opened #286 "The main trio: C#, F# and Visual Basic"
Issue tracking new topic at http://dotnet.github.io/docs/languages/main-trio.html

[2016-02-26 19:46] mairaw opened #287 "Writing Console Apps: Overview and moving pieces"
Issue tracking new topic at http://dotnet.github.io/docs/core-concepts/console/overview.html

[2016-02-26 19:47] mairaw opened #288 "Writing Console Apps: Console applications paradigm"
Issue tracking new topic at http://dotnet.github.io/docs/console/paradigm.html

[2016-02-26 19:48] mairaw opened #289 "Writing Console Apps: Creating single binaries with native compilation"
Issue tracking new topic at http://dotnet.github.io/docs/console/single-binaries.html

[2016-02-26 19:49] mairaw opened #290 "Package management: Introducing NuGet"
Issue tracking new topic at http://dotnet.github.io/docs/packaging/overview.html

[2016-02-26 19:50] mairaw opened #291 "Package management: Working with Nuget Packages"
Issue tracking new topic at http://dotnet.github.io/docs/packaging/working-with-nuget-packages.html

[2016-02-26 19:51] mairaw opened #292 "Package management: Creating NuGet Packages"
Issue tracking new topic at http://dotnet.github.io/docs/packaging/creating-nuget-packages.html

[2016-02-26 19:52] mairaw opened #293 "Package management: Publishing NuGet Packages"
Issue tracking new topic at http://dotnet.github.io/docs/packaging/publishing-nuget-packages.html

[2016-02-26 19:54] mairaw opened #294 "Packaging and deploying apps: Deploying applications overview"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/overview.html

[2016-02-26 19:54] mairaw opened #295 "Packaging and deploying apps: Deploying to a shared runtime"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/shared-runtime.html

[2016-02-26 19:55] mairaw opened #296 "Packaging and deploying apps: Deploying self-contained applications"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/self-contained-apps.html

[2016-02-26 19:56] mairaw opened #297 "Packaging and deploying apps: Deploying single binaries"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/single-binaries.html

[2016-02-26 19:57] mairaw opened #298 "Packaging and deploying apps: Deploying NuGet packages"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/nuget-packages.html

[2016-02-26 19:57] mairaw opened #299 "Packaging and deploying apps: Deploying ASP.NET web applications"
Issue tracking new topic at http://dotnet.github.io/docs/deployment/aspnet-applications.html

[2016-02-26 19:58] mairaw opened #300 "Porting apps: Overview of porting process"
Issue tracking new topic at http://dotnet.github.io/docs/porting/overview.html

[2016-02-26 19:59] mairaw opened #301 "Porting apps: Porting your applications and services"
Issue tracking new topic at http://dotnet.github.io/docs/porting/applications.html

[2016-02-26 20:00] mairaw opened #302 "Porting apps: Porting your libraries"
Issue tracking new topic at http://dotnet.github.io/docs/porting/libraries.html

[2016-02-26 20:00] mairaw opened #303 "Porting apps: Porting NuGet packages"
Issue tracking new topic at http://dotnet.github.io/docs/porting/nuget-packages.html

[2016-02-26 20:01] mairaw opened #304 ".NET Command Line Interface Reference"
Issue tracking new topic at http://dotnet.github.io/docs/cli/index.html

[2016-02-26 20:01] mairaw commented on #304
This one doesn't have a wrench but I thought we should add an issue for it

[2016-02-26 20:47] ghogen commented on #301
General guidance.
Include info on what types of apps you can and cannot port. e.g. WPF, Web Forms, etc.

[2016-02-26 20:48] ghogen commented on #302
same content as #301

[2016-02-26 20:52] ghogen commented on #299
link to ASP.NET docs

[2016-02-26 20:53] ghogen commented on #303
critical for build
link to Nuget docs

[2016-02-26 20:55] ghogen commented on #298
nuget.org packages
not for Build: packages not on nuget.org

[2016-02-26 20:56] ghogen commented on #297
remove this from the TOC

[2016-02-26 21:00] blackdwarf commented on #289
This needs to be removed from the TOC.

[2016-02-26 22:26] blackdwarf commented on #293
This may be the same as #298 .

[2016-02-26 22:27] blackdwarf commented on #292
Do we need these even? Can we just link to the relevant docs on http://docs.nuget.org/?

[2016-02-26 22:28] blackdwarf commented on #291
Same, so can we just link to http://docs.nuget.org/? The only special thing would/could be the versions.

[2016-02-26 22:32] blackdwarf opened #306 "What is needed for the Nuget portion of the TOC?"
Nuget topics seem to be very well documented on http://docs.nuget.org/. Ideally, we would just link over there and **not** copy content over. Now, do we need several docs (like it is currently planned in the TOC) or can we just have one document that would cover all of these + the interaction between Nuget and Core.

/cc @mairaw @richlander @cartermp @ghogen

[2016-02-26 22:32] blackdwarf commented on #290
This can become the overall document that is mentioned in #306

[2016-02-26 22:33] blackdwarf commented on #288
The idea I had I cannot make for BUILD, so backlogging it.

[2016-02-26 22:33] blackdwarf commented on #287
Do we need this for build?

[2016-02-26 22:48] blackdwarf commented on #286
This is supposed to be an short, very short overview of languages on .NET, the main languages.

[2016-02-26 22:49] blackdwarf commented on #284
@richlander you want to take this?

[2016-02-26 22:51] blackdwarf commented on #280
This is not super important.

[2016-02-26 23:18] cartermp commented on #306
I agree about not copying over docs.  Stuff that we'll cover is things like example usages of `dotnet pack` and explaining what was generated, with a link to NuGet docs for more advanced scenarios.

I think we can go with one doc for now.  #293 may warrant its own doc, but that's all I can think of.

[2016-02-27 00:11] cartermp commented on #287
It seems like this would be describing things like the shared runtime, shared framework, etc; which are higher-order bits than just console apps.

Perhaps there could be a pivot for creating self-contained console apps?  It sounds like that's not something necessary for //Build, though.

[2016-02-27 00:12] cartermp commented on #289
Would it be added back in later?  I would think that we'd still be interested in the notion of creating single binaries at some point.

[2016-02-27 04:55] blackdwarf commented on #289
@cartermp no, we will never add it back. It is dead. It has gone to meet its maker. If we didn't nail it to GitHub, it would be pushing up the daisies. It has put down the curtain and gone to meet the choir invisible. It is a dead topic.

https://www.youtube.com/watch?v=npjOSLCR2hE :)))

Of course we will put it back.

[2016-02-27 16:34] aL3891 commented on #304
There are some reference docs over in the cli repo, should they be moved here?

[2016-02-27 16:39] blackdwarf commented on #304
@aL3891 yes, that is the idea with some "meat" around it.

[2016-02-28 18:55] svick commented on #262
Reopening, since #192 was closed, but the issue wasn't fixed.

[2016-02-28 19:09] svick opened #307 "API reference should include remarks"
I noticed this on `ParallelOptions` ([source](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Parallel/src/System/Threading/Tasks/Parallel.cs), [docs](http://dotnet.github.io/api/System.Threading.Tasks.ParallelOptions.html)): The API reference page for the class or its members show the `<summary>`, but not `<remarks>`. I think that remarks should be included in API referenc

[2016-02-28 19:53] svick opened #308 "The API reference for value types is empty"
The API reference pages for all value types seem to be empty. This includes primitives ([`Int32`](http://dotnet.github.io/api/System.Int32.html)), `struct`s ([`DateTime`](http://dotnet.github.io/api/System.DateTime.html)) and `enum`s ([`DayOfWeek`](http://dotnet.github.io/api/System.DayOfWeek.html)).

[2016-02-29 03:46] #231 closed

[2016-02-29 18:16] mairaw commented on #308
@blackdwarf something happened with this build. Lot of pages are empty including some I'm sure had content before, even if it was just the API skeleton.

Thanks for catching this @svick.

[2016-02-29 18:28] mairaw commented on #307
@cartermp, @svick found an example of what we were looking for last week to see whether remarks tags are being included in the generated docs or not. The answer is not.
This class is also a good example of the doc/code ratio we were talking about.

/cc @chenkennt

[2016-02-29 18:32] mairaw commented on #262
You're right @svick. @blackdwarf, there seems to be some pages with the old button still. See this [API page](http://dotnet.github.io/api/System.Threading.Tasks.ParallelOptions.html) for an example where we have the new one and the old one.

[2016-02-29 18:33] blackdwarf commented on #262
@mairaw saw them.

[2016-02-29 18:33] blackdwarf commented on #262
@svick the issue was 50% fixed. :)

[2016-02-29 18:43] blackdwarf commented on #308
@chenkennt can you take a look? I don't have access to the build server.

[2016-02-29 21:49] #236 closed

[2016-02-29 21:49] #241 closed

[2016-03-01 03:07] chenkennt commented on #307
Remarks is actually supported, but currently the triple slash comments is actually coming from the intellisense files shipped with .NET Framework rather than from corefx repo, those files doesn't have remarks at all. @mairaw do you think we should switch to use comments from source code? I remember the main concern to not use source code is it has much less content than intellisense files (except

[2016-03-01 03:12] chenkennt commented on #308
It's fixed.

[2016-03-01 03:12] #308 closed

[2016-03-01 03:23] mairaw commented on #307
@chenkennt not having content is still a concern for now. We're working towards getting the /// comments into the source. Is it possible to merge those two for now? I thought we were already merging the two inputs. We could choose which one would have the highest priority in case both source and IntelliSense have the same section, but the remarks in this case would show up since it only exists in

[2016-03-01 05:49] blackdwarf commented on #262
@mairaw @svick this should be fixed in #312. The build should drop soon.

[2016-03-01 06:06] #262 closed

[2016-03-02 00:38] loic-sharma commented on #285
Will this cover how to target the .NET platform to build custom languages?

[2016-03-04 15:42] svick opened #313 "API reference should not display namespaces of parameter types"
For example, the declaration section for [`Enumerable.Zip()`](http://dotnet.github.io/api/System.Linq.Enumerable.html#System_Linq_Enumerable_Zip__3_System_Collections_Generic_IEnumerable___0__System_Collections_Generic_IEnumerable___1__System_Func___0___1___2__) currently looks like this:

`public static Collections.Generic.IEnumerable<TResult> Zip<TFirst, TSecond, TResult>(Collections.Generic.IEn

[2016-03-04 16:07] cartermp commented on #313
@svick yeah, it seems like it's pulling signatures from the `/ref` folder rather than the source itself.  Clicking on the link doesn't take you to the actual source here, which is another issue.

@chenkennt can weigh in here as well, but I believe that if [this proposal](https://github.com/dotnet/corefx/issues/6518) makes it through then we should be able to rectify this and other related issues.

[2016-03-04 17:42] #237 closed

[2016-03-04 21:31] cartermp commented on #300
Although I was tracking an existing PR with #212, I think I'm going to break that up until multiple PRs and track with these issues.

The overview doc will go over:

1. Should you port?

   a. Advantages that .NET Core brings
   b. Good candidates for porting
   c. Bad candidates for porting

2. Porting process overview as a list of steps:

   a. Handle 3rd party dependencies, NuGet and non-NuGet

[2016-03-04 21:44] cartermp commented on #302
Although I was tracking an existing PR with #212, I think I'm going to break that up until multiple PRs and track with these issues.

Here's what I'm thinking:

1. Prerequisites
2. Getting 3rd party dependencies in order

   a. When using NuGet, what folders to look for
   b. When not using NuGet, use ApiPort (this will involve jumping around the article a bit)
   c. Recommendations for when your

[2016-03-04 22:08] cartermp opened #314 "Porting apps: Understanding and dealing with 3rd party dependencies"
This will cover how to deal with 3rd party dependencies when porting to .NET Core.  It would be a new article in the TOC.

Outline:

1. Prerequisities

   a. Read the overview if you haven't so you understand the overall process
   b. Tools you'll need

2. 3rd party dependencies on NuGet packages

   a. Process: looking at the latest version and what folders to look for in the package
   b. Recomm

[2016-03-04 22:20] cartermp commented on #303
Although I was tracking an existing PR with #212, I think I'm going to break that up until multiple PRs and track with these issues.

Outline:

1. Prerequisites

   a. You've ported your library (or framework) successfully - link back to those (#302)
   b. Tools you need or may want

2. Using the .NET CLI toolchain to generate the NuGet package

   a. Commands
   b. What's generated
   c. Authorin

[2016-03-04 23:08] cartermp commented on #301
The issue I'm having with this doc is that porting an app is, depending on the app, orders of magnitude more challenging than libraries.  There are many, many things .NET Core simply lacks support for that are complete non-starters for apps.  If I were to list out things that you can't port, it would be a really long list.

The most obvious candidate here is web apps, for which we can link to ASP.

[2016-03-09 05:22] blackdwarf opened #317 ".NET Core CLI conceptual & scenario documentation"
This issue tracks working on conceptual documentation. Cross-tracked in the CLI repo on dotnet/cli#1760.

- [x] Conceptual docs
  - [x] CLI Overview
  - [x] Migrating to CLI from DNX
  - [x] CLI App Types [Standalone vs. Portable]
  - [x] RID & TFM Catalogue

[2016-03-09 17:36] cartermp commented on #317
This may not be the angle you want to take for CLI ---> DNX, but [this gist](https://gist.github.com/cartermp/80a2d4b2d5718b76eaa3) I was helping some of our customer engagement with may be a starting point.

[2016-03-09 20:20] ghogen commented on #300
Ron can help with this.

[2016-03-11 12:19] tangentsoft opened #319 "System.Runtime.Serialization doesn't exist in .NET Core, but is documented"
According to [a Microsoft blog post](https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/), binary serialization was purposefully removed from .NET Core, yet the namespace for it is [still documented](http://dotnet.github.io/api/System.Runtime.Serialization.html).

If you attempt to reference `System.Runtime.Serialization` from a .NET Core project, you get an error:

    .../Mon

[2016-03-11 15:22] svick opened #320 "API reference should include packages for classes"
The API reference for a class includes its namespace and assembly, just like it does for .Net Framework on MSDN. But for .Net Core, the NuGet package is much more important than the assembly, but it's not shown.

This information can be found through https://packagesearch.azurewebsites.net/, but I think it should be included directly in the API reference.

Showing packages for namespaces would lik

[2016-03-11 16:23] svick commented on #319
Binary serialization was removed, but the types listed are still included. According to [package search](https://packagesearch.azurewebsites.net/?q=System.Runtime.Serialization), a lot of the types are in the `System.Runtime.Serialization.Primitives` package. And after adding `"System.Runtime.Serialization.Primitives": "4.1.0-beta-23516"` to `dependencies` in `project.json`, `using System.Runtime.

[2016-03-11 21:04] mairaw commented on #280
Some reference for this work: https://github.com/dotnet/corefx/tree/master/Documentation/architecture

[2016-03-11 21:07] ghogen commented on #46
Per discussion in meeting, we're closing this issue.

[2016-03-11 21:07] #46 closed

[2016-03-13 18:16] svick opened #321 "Article TOC not useful if there are many sections"
For articles that have very large number of sections, the right-sidebar TOC is not very useful, because it's not scrollable. This is problematic especially since such articles are exactly ones where the TOC would be the most useful.

This happens for example in API reference for types with many members, like [`TypeInfo`](http://dotnet.github.io/api/System.Reflection.TypeInfo.html#properties). Ther

[2016-03-13 18:37] cartermp commented on #321
Yes, I've ran into this as well - the right-hand TOC definitely needs to be scrollable.  @blackdwarf @chenkennt is this something we've looked at?

[2016-03-13 18:45] cartermp commented on #319
Yup, that namespace still has types that are valid for .NET Core.  Closing this out as it seems like @svick  has the fix for your particular issue.

[2016-03-13 18:45] #319 closed

[2016-03-14 15:24] blackdwarf commented on #321
@cartermp didn't notice it so far. This is def. something we would want fixed in the future.

[2016-03-14 15:46] blackdwarf opened #322 "CLI scenarios-based docs"
Though these should be "scenario-focused for the CLI" I think they span concerns. Maybe we should have a new TOC place for them @cartermp @mairaw?
- [ ] Scenario-focused documentation
  - [ ] Build a Shared Framework App
  - [ ] Build a Standalone App, including targeting non-local RIDs
  - [ ] Build a library
  - [ ] Add & localize resources
  - [ ] Sign your app
  - [ ] Using CI with CLI

[2016-03-14 21:30] cartermp commented on #322
Would these be only as it pertains to the CLI, or would it truly be about the scenarios?  Because building a library is a scenario, but the way you build stuff in VS differs from hand-wiring it up with the CLI, for example.

[2016-03-14 23:33] blackdwarf commented on #322
@cartermp good question. It would be focused on the CLI, but my point was that it should maybe exist outside of the CLI TOC portion since it is pretty general.

[2016-03-15 01:07] svick opened #324 "Inheritance hierarchy for some types is wrong"
When I look at [the `WinHttpHandler` class](https://docs.microsoft.com/en-us/dotnet/core/api/system.net.http.winhttphandler) in API reference, the Inheritance section shows `Object` as its direct base class. But this is wrong, `WinHttpHandler` inherits from `HttpMessageHandler`. The Syntax section shows this correctly.

For other types, (e.g. [`HttpClient`](https://docs.microsoft.com/en-us/dotnet/

[2016-03-15 01:16] mairaw commented on #324
@chenkennt can you take a look?

[2016-03-15 03:31] cartermp commented on #322
Hmmm, yeah that is pretty tricky.  Well I think what you proposed makes sense, at least for now.  We can always re-jigger it if need be down the road.

[2016-03-15 23:30] cartermp opened #325 "Project Model Reference Tasks"
Get story straight on and write about:
- [ ]  commands
- [x]  preserveCompilationContext
- [x]  languageId
- [ ]  frameworkAssemblies NuGet vs GAC story
- [ ]  wrappedProject
- [ ]  imports
- [x]  What the default languageVersion is in the compilation options

[2016-03-16 02:06] cartermp opened #326 "API Reference: Enum values show null rather than their numeric values"
See: http://dotnet.github.io/api/System.Xml.ReadState.html

`Closed` should be `4`, and so on.

/cc @chenkennt

[2016-03-16 02:22] mairaw commented on #326
Maybe enumeration fields should be displayed on a table similar to MSDN? https://msdn.microsoft.com/en-us/library/fxtcxd31(v=vs.110).aspx

[2016-03-16 19:30] BethMassi opened #327 "Add link to sample code in C# tutorials"
core-docs / docs / tutorials / getting-started-with-csharp / console-teleprompter.md

You say "Copy the "sampleQuotes.txt" file from the tutorial directory "console-teleprompter"” but then you don’t link to where that is. I think it makes sense if I’m reading through the repo on GitHub but not when the docs are rendered: http://dotnet.github.io/docs/tutorials/getting-started-with-csharp/console-te

[2016-03-16 20:15] cartermp opened #328 "Project Model Conceptual Overview"
We need to have a conceptual overview of the .NET Core project model.  It should include:

- What it is and what the relevant concepts are
   - Shared runtime and framework
   - Self-contained and Runtime Id (RID) interplay
   - Rationalizing the above
- What the relevant files are and overview of their purposes, with links to their respective references
- How it all works both in a CLI world and

[2016-03-16 20:43] aL3891 commented on #328
Ah, i was going to ask, but will the uwp tool chain also move to the dotnet cli then?

[2016-03-16 20:47] cartermp commented on #326
@mairaw I like that.  Could be worth exploring.

[2016-03-17 16:30] cartermp commented on #328
Good question.  @blackdwarf do you know?

But either way, it still uses the `project.json` project model and has the `uap10*` TFM.

[2016-03-17 20:18] aL3891 commented on #328
Right but is it _the same_ project.json project model or is it slightly different? will uwp apps support `tools` for example? Its not a blocking issue for the docs but it will be a point of confusion for users i think.

[2016-03-18 17:31] blackdwarf commented on #328
@cartermp I have no idea...

[2016-03-18 18:06] blackdwarf opened #334 "Do we still need the primer?"
Simple question: do we still need the primer, do we want it or should we remove it?

/cc @mairaw @cartermp @richlander

[2016-03-18 18:10] mairaw opened #335 "Create a topic that contains the supported platforms and architectures"
I think we should have a topic that lists all the supported platforms that we can run .NET Core on in our doc set. We have info on this but the information is scattered. Similar to what is listed here: https://github.com/dotnet/core/blob/master/roadmap.md

A lot of times we say it runs on Linux, OS X and Windows but don't specify which versions. Customers will run into issues installing so it woul

[2016-03-18 18:37] cartermp commented on #334
I'm a little on the fence.  Although I generally think that less is more, the [Ceylong Language](http://ceylon-lang.org/documentation/introduction/) pulled this style of introduction rather well.  I think we need to decide what we want to go into "What is the .NET Platform" before we make any changes to the primer.

[2016-03-18 19:32] ghogen commented on #291
So we just agreed to have this one topic, including the lilnk to nuget docs. Other Nuget work items can be postponed (post Build).

[2016-03-18 19:40] ghogen commented on #212
Superceded by the above issues.

[2016-03-18 19:40] #212 closed

[2016-03-18 19:54] blackdwarf commented on #334
@cartermp sure, but the "What is the .NET Platform" is going to be an overview, correct? Primer is more on the lvl200 side.

[2016-03-19 19:20] blackdwarf commented on #334
Actually, come to think of it, we should leave the primer in. Whatever the "What is" article does, a little more detailed introduction into the various capabilities would be good. This should be really a primer, as in, a thing that offers just a glimpse. We should probably remove some sections from it, like dynamic data and whatnot. I will actually take care of that.

@mairaw @cartermp thoughts?

[2016-03-19 21:23] cartermp commented on #334
:+1:

[2016-03-21 17:29] mairaw commented on #334
Sounds good.

[2016-03-22 18:38] mairaw opened #342 "Update .NET landing page to include newer technologies"
@BethMassi asked us to update the .NET landing page to include the new .NET technologies that are not listed there

https://msdn.microsoft.com/en-us/library/ff361664(v=vs.110).aspx

[2016-03-23 00:00] kempb commented on #222
I've completed ported the Exceptions topics over to GitHub. I just need to review the contents online to be sure they look and work okay.

[2016-03-23 00:01] kempb commented on #294
Due to product churn in this area, I'll be working on this post-//Build.

[2016-03-25 19:37] #286 closed

[2016-03-25 19:38] #285 closed

[2016-03-25 19:46] mairaw commented on #222
Just need to review one last sample

[2016-03-25 23:08] mairaw commented on #342
Done: https://msdn.microsoft.com/en-US/library/ff361664(VS.110).aspx

[2016-03-25 23:08] #342 closed

[2016-03-25 23:15] kempb opened #367 "Porting .NET MSDN docs to Core - Exceptions - Using User-Filtered Exception Handlers"
This topic was written to target VB only, and VB isn't currently supported in .NET Core. Unfortunately, the code was written using VB-specific elements for .NET Framework, so the code examples need to be rewritten so they'll work in C# on .NET Core. I have a new set of examples nearly complete, but they won't be ready before the //Build deadline.
Therefore, I'm creating this tracking issue to cove

[2016-03-25 23:18] kempb commented on #222
All topic are now done except for the topic "Using User-Filtered Exception Handlers", which is being tracked separately in issue #367 .

[2016-03-25 23:21] #222 closed

[2016-03-29 04:55] heavenwing opened #386 "How to contribute localization content"
I plan to translate these documentations to other language (ex: Chinese), but I don't know how to do it?
And I found that core-docs using DocFx, however ASP.NET Core Docs using ReadTheDocs, also I need to know how to contribute localization content into docs.asp.net.

[2016-03-29 17:01] mairaw commented on #386
Hi @heavenwing! Thanks for your interest in helping us localize the .NET Core and ASP.NET Core documentation. At the moment, we don't support localized content but we're working to support it. We can let you know when that's available so you can help us improve the localized content we'll provide.

/cc @blackdwarf @richlander

[2016-03-30 16:13] svick opened #390 "Invalid link on support page"
[The support page, in section Community meetings/meetups](http://dotnet.github.io/support/#community-meetingsmeetups) contains a link to "list of .NET meetup groups on Twitter", which points to https://twitter.com/DotNet/dotnet-user-groups. But that page does not exist.

[2016-03-30 20:08] mairaw commented on #390
@terrajobst do you know what is the right URL if we still have this?

[2016-03-31 23:31] #238 closed

[2016-03-31 23:50] #239 closed

[2016-03-31 23:51] ghogen commented on #72
When completed, let's add a link to this from delegates-strong-typed.md

[2016-04-01 00:18] #242 closed

[2016-04-01 00:19] #240 closed

[2016-04-01 00:23] #327 closed

[2016-04-01 00:29] #243 closed

[2016-04-01 19:01] stevehoag commented on #230
Content ported; #392

[2016-04-02 19:32] danroth27 opened #395 "Document how to do xplat profiling on .NET Core"
This from @brianrob

For .NET core, we have a cross-platform profiling story that takes advantage of platform specific tracing systems depending upon which operating system is being used.  For Windows, the profiling story is based on Event Tracing for Windows (ETW) and on Linux is based on perf_event and LTTng.  The goal is to be able to get at fundamental computing information (CPU, blocked time,

[2016-04-05 17:12] #244 closed

[2016-04-05 22:12] #245 closed

[2016-04-07 02:44] vicancy commented on #123
Topics not in TOC is now showing its nearest TOC, for example, http://dotnet.github.io/docs/tutorials/getting-started-with-csharp/console-teleprompter.html

[2016-04-07 19:19] Nitinr5 commented on #40
Do we have a solution for this. I can see this problem on Ubuntu 14.04 VM.

nitin@nitin-VirtualBox:~$ sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
[sudo] password for nitin:
Executing: gpg --ignore-time-conflict --no-options --no-default-keyring --homedir /tmp/tmp.Xa0Ys1wqA7 --no-auto-check-trustdb --trust-model always --keyring /etc/apt/trusted.gpg --primary-keyring

[2016-04-08 18:46] blackdwarf commented on #334
This is done with #339 .

[2016-04-08 18:46] #334 closed

[2016-04-08 22:24] stevehoag commented on #220
Starting work on this one

[2016-04-10 16:03] Thibaut opened #397 "API docs license"
Hi

I'm looking to add .NET Core to [DevDocs](http://devdocs.io) (https://github.com/Thibaut/devdocs). However, it seems the [API docs](https://dotnet.github.io/api/index.html) are not generated from code at https://github.com/dotnet/corefx. Any idea where this content is coming from and what the license is?

Thanks

[2016-04-10 18:36] mwilliamson opened #398 "Outdated Linux instructions?"
The page "Installing .NET Core on Linux" at the URL http://dotnet.github.io/docs/getting-started/installing/installing-core-linux.html is still up, but so far as I can tell has been replaced by the URL https://dotnet.github.io/docs/getting-started/installing/installing-core-ubuntu.html. The former also doesn't seem to be in the repository. Am I right in thinking that those instructions should be c

[2016-04-11 20:51] stevehoag commented on #218
Topics written #372 #373 #374 #375 #376 #377 #378 #379 #380 #381 #382 #383 #384

[2016-04-11 20:51] #218 closed

[2016-04-11 21:54] danroth27 opened #401 "Document how to setup test projects in .NET Core"
- Using dotnet test
- Using xUnit or your favorite test framework
- Integration with VS

[2016-04-11 21:56] danroth27 commented on #401
For ASP.NET Core we want to remove our DNX specific article (https://docs.asp.net/en/latest/testing/unit-testing.html) and instead point to the .NET Core docs.

[2016-04-13 01:18] mairaw commented on #398
@blackdwarf can @mwilliamson use the instructions on http://dotnet.github.io/getting-started for a Linux install?

[2016-04-13 01:24] blackdwarf commented on #398
@mwilliamson sorry, which instructions are you referring to? The ones on the Getting Started page are most surely up-to-date.

[2016-04-13 01:29] mairaw commented on #397
You're right @Thibaut. They are not currently being generated from the source in corefx but they will be eventually. Currently, they're being generated from the IntelliSense files.
I don't know about the license. Maybe @richlander can comment on that.

[2016-04-13 01:50] mairaw commented on #398
@blackdwarf he's talking about an article in the repo: http://dotnet.github.io/docs/getting-started/installing/installing-core-linux.html

[2016-04-13 02:32] blackdwarf commented on #398
@mairaw ahhhhh...yeah, this should be removed, this page.

[2016-04-13 18:02] mairaw commented on #398
@blackdwarf how do we do that since that file is not in the repo?

[2016-04-13 18:30] mjrousos opened #402 "libraries-with-cli.md is getting a little stale"
Our [Libraries with CLI](https://github.com/dotnet/core-docs/blob/master/docs/libraries/libraries-with-cli.md) doc has some RC1-isms that we should update soon. For example, it mentions that the netstandardX.Y monikers aren't supported yet, so customers should use dotnetXY. Also, it says that the test command is only supported by dnx (not dotnet). Recent .NET CLI tools do support the test command,

[2016-04-13 18:37] cartermp commented on #402
Yeah, I plan on updating this (#248).  I've been holding off on that until things got a little more stable.  It's probably a good time to update it here in the next week or so.

[2016-04-13 19:58] mjrousos commented on #402
:+1: Seems like a good plan.

[2016-04-13 21:12] blackdwarf commented on #398
Wait...if its not in the repo, how is it then getting built?

[2016-04-13 21:17] mairaw commented on #398
No clue. Maybe a bug with docfx? You seem to have renamed that file in January but somehow the old built html one wasn't removed from the build.

/cc @chenkennt

[2016-04-13 21:19] blackdwarf commented on #398
Hmm...renamed it...so the build server must have not cleaned before re-build.

[2016-04-15 21:38] stevehoag opened #407 "Fix formatting in Collections and Numerics topics"
Non-linked member references in these topics are styled as Bold; they should be styled as code.

[2016-04-17 22:44] cqcallaw commented on #282
I'd love to contribute what I know about this topic, although it might not be comprehensive: my experience is with C# only.

[2016-04-18 06:31] chenkennt commented on #398
Seems to be a bug in build server, @MarzinZ to take a look.

[2016-04-18 18:19] cartermp opened #408 ".NET Core Concepts: Framing .NET Core"
We can benefit by having an article which focuses on framing .NET Core.  In short, this doc should be able to answer the following questions:

- "What is .NET Core and why should I care?"
- "How is it different from the other .NET implementations and why should I care?"
- "In what cases does .NET Core make sense for me?"

Answers to these questions have crept into the porting-to-core articles, and

[2016-04-18 20:28] BillWagner commented on #408
I like this organization a lot. I also think it's important to address all these questions with two audiences in mind: developers that have been using netstandard for some time, and developers who are looking at netcore with fresh eyes, because of the platform independence. These two groups will often have very different answers for each of these questions.

[2016-04-19 00:16] rpetrusha commented on #408
This is similar to the .NET Platform topic that I've started working on. Should I just incorporate some of the points that I wasn't going to cover into it, or should this replace it?

[2016-04-19 15:49] BillWagner commented on #73
This should be closed, as it was addressed in PR #205

[2016-04-19 15:49] BillWagner commented on #64
This should now be closed, as all the sub-issues have been completed and merged.

[2016-04-19 15:51] BillWagner commented on #63
This should be closed, as all PRs have been merged.

[2016-04-19 16:22] #63 closed

[2016-04-19 16:22] #64 closed

[2016-04-19 16:23] #73 closed

[2016-04-25 17:27] cartermp opened #414 "Add article for Pinning your dependencies to RC2"
This article will be some point-in-time guidance for authoring libraries with RC2 bits.  The content should lay out the best ways to make sure you have packages which are guaranteed to work, along with showing a list of all packages that are a part of the RC2 release.  Ideally this list should be filterable, but that's something which will have to be handled outside of the docs.

/cc @richlander

[2016-04-26 20:42] BillWagner opened #416 "Golden path article for VS Code?"
Reading this article https://github.com/dotnet/core-docs/pull/410  made me wonder if we should have a similar article for people using VS Code (especially those running platforms supported by VS Code but not Visual Studio).

[2016-04-27 18:35] stevehoag commented on #227
Completed #411

[2016-04-27 18:35] #227 closed

[2016-04-27 18:39] stevehoag commented on #407
Fixed in #409

[2016-04-27 18:39] #407 closed

[2016-05-03 11:03] svick opened #418 "The style for tables makes them hard to read"
In [Writing Libraries with Cross Platform Tools#How to target .NET Core](http://dotnet.github.io/docs/core-concepts/libraries/libraries-with-cli.html#how-to-target-net-core), there is a table of mapping between `dotnet` and `netstandard` versions. On my computer (FF 45, Windows 10), it looks like this:

![dotnet → netstandard table screenshot](http://i.imgur.com/RMJAkaC.png)

The table is hard to

[2016-05-03 12:47] #59 closed

[2016-05-03 12:47] #60 closed

[2016-05-03 13:51] BillWagner commented on #221
There is a set of articles on Delegates and Events here: http://dotnet.github.io/docs/languages/csharp/delegates-events.html

I'm planning to look at the existing content, and see what's not already covered, and add that content under the existing section. I'll make one PR for the new topic page, and then flush it out with the ported content. Does that make sense? /cc @mairaw

[2016-05-03 18:28] mairaw commented on #221
Sounds good @BillWagner!

[2016-05-03 23:00] blackdwarf commented on #401
@danroth27 isn't this already in there now?

[2016-05-03 23:01] blackdwarf opened #419 "Update the C# tutorials to target RC2"
For instance http://dotnet.github.io/docs/tutorials/getting-started-with-csharp/console-webapiclient.html is not compiling anymore. We need these to be updated for RC2.

/cc @BillWagner @cartermp @mairaw

[2016-05-04 11:15] svick opened #420 "Create reference-source-like site for .Net Core"
[Reference Source](http://referencesource.microsoft.com/) and [Roslyn](http://source.roslyn.codeplex.com/) both have Roslyn-based sites that allow easy navigation of their source code. It would be nice if there was a similar site for .Net Core.

For me, the most important difference between the Roslyn-based site and using Github directly is finding some member. GitHub search is text-based, so it d

[2016-05-04 15:08] cartermp commented on #420
This is something we've talked about and ultimately may want to do.  It would involve building a Roslyn index over corefx with [SourceBrowser](https://github.com/KirillOsenkov/SourceBrowser).

[2016-05-07 16:01] svick commented on #321
This seems to have been fixed by dotnet/docfx@86b84d3.

[2016-05-07 16:01] #321 closed

[2016-05-07 16:03] svick opened #421 "Wrap TOC entries in API reference"
When a member has multiple similar overloads, there is no way to distinguish them in the TOC. For example, this happens for [constructors of `FileStream`](http://dotnet.github.io/api/System.IO.FileStream.html#constructors):

![Constructors of FileStream in .Net Core API ref](http://i.imgur.com/0gti8R7.png)

Notice how constructors 1-3 and 5-9 look exactly the same, because their signatures are tru

[2016-05-07 16:17] svick opened #422 "Very wide tables and TOC overlap in API reference"
If some table in API reference gets too wide (due to a "word" that's too long), it starts overlapping with TOC, making both unreadable. For example, this happens in [one overload of the `FileStream` constructor](http://dotnet.github.io/api/System.IO.FileStream.html#System_IO_FileStream__ctor_System_String_System_IO_FileMode_System_IO_FileAccess_System_IO_FileShare_System_Int32_System_Boolean_):

!

[2016-05-09 17:23] billwert opened #423 "project.json documentation needs updating for new schema"
See https://github.com/aspnet/Announcements/issues/175

https://github.com/dotnet/core-docs/blob/master/docs/project-model/project-json-reference.md needs to be updated to reflect these changes.

[2016-05-10 19:02] JunTaoLuo opened #426 "Documentation issues and suggestions for dnx-migration"
Several issues and suggestions found while migrating an RC1 app to RC2 in https://github.com/aspnet/Release/issues/102

- [x] https://github.com/dotnet/core-docs/blame/master/docs/core-concepts/dnx-migration.md#L101, needs to be changed to `buildOptions`
- [x] Some apps will need `preserveCompilationContext: true` to be set under `buildOptions`
- [x] Add link to new `project.json` schema. RC1 proj

[2016-05-11 13:22] tmds opened #427 "dependencies, frameworks, ... for libraries"
I was looking for documentation on frameworks+runtimes+dependencies and found this article: http://dotnet.github.io/docs/core-concepts/app-types.html. This topic should also be written for libraries and explain things like:

* How to deal with dependencies when creating a library? Do you also need to add "Microsoft.NETCore.App"? Or should dependencies be handled more fine-grained?
* What framework

[2016-05-11 14:52] cartermp commented on #427
Some of what you're asking is covered in #412.  I haven't included anything about `netcoreapp` and `Microsoft.NETCore.App` because those are for app development and not library development.  Although there's nothing stopping you from including `Microsoft.NETCore.App` as a dependency in your library, it's not recommended.  There's nothing on native dependencies at this moment because native compila

[2016-05-11 16:43] tmds commented on #427
Cool. By native I mean: bundle native dlls and so-files for specific platforms with your managed dlls.

[2016-05-11 21:04] tmds commented on #427
@cartermp I read and reviewed your article. Together with the app-types it covers all my questions except for the native one. Not sure where it fits in the documentation.

[2016-05-11 22:33] cartermp commented on #427
Good to hear!  I'll find out what I can about native deps.  If they're part of the scenarios we want to ship for RC2, I'll include them in the doc.

[2016-05-12 15:11] BillWagner commented on #416
Closed as a duplicate of #282

[2016-05-12 15:11] #416 closed

[2016-05-16 14:20] BillWagner commented on #408
Does PR #429 address this?  /cc @cartermp

[2016-05-16 14:27] BillWagner commented on #401
@danroth27 do you want the sample to move under the core docs repo as well?

[2016-05-16 15:47] rpetrusha commented on #408
Yes, it's intended to.

[2016-05-17 11:39] svick opened #436 "Code listings show distracting grey lines"
Code listings (created using <code>```</code>) show with distracting grey lines around the code. For example (from [Properties#Property Syntax](http://dotnet.github.io/docs/languages/csharp/properties.html#property-syntax)):

![](http://i.imgur.com/grvZGQR.png)

I think this is because the code is rendered as `<code>` inside `<pre>`:

[code]

And [`code` has its own border](https://github.com/dotn

[2016-05-17 13:15] BillWagner opened #439 "We need a place for Visual Studio based samples"
Our current samples directory has been optimized for developers on any platform, and using the command line. Our current [readme.md ](https://github.com/dotnet/core-docs/blob/master/samples/README.md) for the samples directory mandates that these samples don't have any dependencies on VS.

I'm starting to write VS based samples (see issue #401). I think I should make a new directory under the core

[2016-05-17 14:41] blackdwarf commented on #439
@BillWagner agreed on VS. Not on VS Code however, since VS Code doesn't really have a project system *per se*, or at least not a salient one (@cartermp & @mairaw take note). It just means that it can be used with the CLI-based ones as easily.

[2016-05-17 16:12] svick opened #440 "API reference should indicate that a method is an extension method"
Currently, an extension method is listed as if it was a normal method. For example, the declaration for [`Enumerable.Any`](http://dotnet.github.io/api/System.Linq.Enumerable.html#System_Linq_Enumerable_Any__1_System_Collections_Generic_IEnumerable___0__) looks like this:

[code]

But it should indicate that the method is an extension method by specifying `this` on the first parameter, [just like M

[2016-05-17 16:23] rpetrusha opened #441 "API Reference: Exception information often does not list the type of exception thrown"
In many cases, the exception type is missing from the exception information. For example, in the  [String class ](http://dotnet.github.io/api/System.String.html), String.ctor(Char[], Int32, Int32) can throw two exceptions. The ArgumentNullException is listed for the first exception condition, but no exception type (it should be ArgumentOutOfRangeException) is listed for the second exception condit

[2016-05-17 17:34] mairaw commented on #441
@chenkennt can you take a look at this issue?

[2016-05-17 17:37] mairaw commented on #439
Yes, we definitely need to define our sample structure ASAP.

[2016-05-17 17:39] mairaw commented on #436
@blackdwarf has this anything to do with the CSS style changes you applied yesterday?

[2016-05-17 18:00] rpetrusha opened #443 "New Content: Topic on .NET Standard and its relationship to .NET Core"
We need topic that discusses .NET Standard, defines what it is, and clarifies its relationship to the desktop framework and .NET Core. Here is a very preliminary outline:

What is the .NET Standard?

.NET Standard and binary portability
- Why is binary portability is important?
- What limitations in binary portability does .NET Standard address?
- How does .NET Standard address binary portability?

[2016-05-17 19:58] mairaw commented on #422
Do you still see this issue with the overlapping TOC @svick? I can't repro on my machine.

Yep, for the references, as you noticed, they're not resolving because those APIs don't exist in Core. API reference still needs lots of work.

[2016-05-17 20:03] svick commented on #422
This example is better, but still not fixed on my machine:

![](http://i.imgur.com/tQ2YoEB.png)

[2016-05-17 20:21] ardalis opened #446 "Use 'dotnet test' syntax in the docs, not dotnet-test"
On this page (and related pages)
http://dotnet.github.io/docs/core-concepts/core-sdk/cli/dotnet-test.html

 it implies that you can run ``dotnet-test`` to run tests, but this doesn't actually work. You need to run ``dotnet test`` (no hyphen). This is going to confuse customers.

[2016-05-17 21:27] BillWagner commented on #282
@cqcallaw Are you still interested in helping out? I will be starting on this shortly, and I'm happy to collaborate.

[2016-05-17 21:54] mairaw opened #447 "Each page has a large dead space on top"
Not sure if this was introduced by the CSS changes, but it would be good if the titles were closer to the top of the page:
![image](https://cloud.githubusercontent.com/assets/12971179/15340633/4396f970-1c3f-11e6-98ad-7893fcdcc826.png)

/cc @blackdwarf

[2016-05-17 22:01] mairaw commented on #422
What browser do you use? Just to see if that could be the difference. I've tried in 3 different ones and I cannot see this happening. :disappointed:

[2016-05-17 22:17] svick commented on #447
I believe [this line](https://github.com/dotnet/core-docs/blame/master/template/styles/main.css#L65-L67) (which indeed comes from #432) is responsible.

[2016-05-17 22:26] svick commented on #422
Latest Firefox (46) on Windows 10. And I don't see this on IE or Edge, but that seems to be due to a different line-breaking algorithm. When I modify the cell to contain the following, I see it overlapping in Edge too:

(I removed the `[]` after `System.Byte` and `(` after `BeginRead`.)

[2016-05-17 23:10] blackdwarf commented on #447
*groan* Yeah, I needed to put that in because of the fixed navbar thing. Will fix it.

[2016-05-18 01:20] cqcallaw commented on #282
@BillWagner I'd love to help out, but the [contribution procedure](https://github.com/dotnet/core-docs/blob/master/CONTRIBUTING.md#process-for-contributing) lead me to believe some sort of approval had to be given first, which I was assuming must come from @mairaw.

[2016-05-18 01:58] BillWagner commented on #282
Well, there's already an issue created, so it's work that should happen.

I'll checkin with @mairaw and see what else has to happen. With time zone differences, it will be sometime tomorrow afternoon (EDT) when I hear back.

[2016-05-18 02:24] #446 closed

[2016-05-18 05:29] mairaw commented on #282
Sorry I missed your comment earlier @cqcallaw. I just created the issues based on what we had on the TOC at the time. Feel free to work with @BillWagner on this one.

[2016-05-18 06:24] cqcallaw commented on #282
@mairaw No worries, thanks for the the confirmation!

@BillWagner Not exactly sure how you wanted to collaborate, but I thought I'd get the ball rolling with the kernel of the documentation: https://github.com/cqcallaw/core-docs/blob/vs-code-setup/docs/getting-started/devenv/using-visual-studio-code.md

[2016-05-18 13:34] BillWagner commented on #282
@cqcallaw That's a great start. For the finished content, we're shooting for something that's parallel to the Visual Studio guide in this PR #410, in addition to the setup content you're creating.

I'll start working on the "golden path" part. I created a branch here: https://github.com/BillWagner/core-docs/tree/vs-code-golden-path

I added yours to my watch list. We can keep in sync and link acro

[2016-05-18 17:39] IEvangelist commented on #443
This was always a good starting point from my perspective that seemed to help those visualize the concept driving **.NET Standard**.

![image](https://cloud.githubusercontent.com/assets/7679720/15368851/98b35fd2-1cf5-11e6-90d1-e5c44a623f74.png)

[2016-05-19 18:31] #401 closed

[2016-05-20 01:15] #123 closed

[2016-05-20 01:21] superyyrrzz commented on #441
@mairaw It's fixed in DocFX 1.9.4. Now the content is correct.

[2016-05-20 01:34] #441 closed

[2016-05-21 20:08] tmds commented on #427
@cartermp all my questions are covered by the article now. thanks

[2016-05-21 20:08] #427 closed

[2016-05-21 20:27] cartermp commented on #427
@tmds great!  I'm happy that's the case.  And if something doesn't work right, feel free to yell at me so that it gets updated 😄.

[2016-05-22 00:10] blackdwarf commented on #426
@JunTaoLuo some of the details in the above issue are actually asp.net specific so they should be part of the upgrading guide from ASP.NET Core RC1 -> RC2.

[2016-05-23 08:47] cmatskas commented on #281
Hi team, could I take this on? How much detail are you looking for? This should be more or less similar to the instructions available here:https://www.microsoft.com/net/core#windows
Thanks, CM

[2016-05-23 17:51] cartermp commented on #328
Closing given the change in direction for the project system.  Will re-open if appropriate.

[2016-05-23 17:51] #328 closed

[2016-05-24 13:03] lucamorelli opened #459 "how to write compatible applications"
Hi,
  I'm looking for informations on how to write web applications and libraries that could be easily switched between .net core and .net framework.
  The problem I see that in this first period, until most the 3rd party libraries are compatible with .net core, could be possibile I have to add libraries that are not ready for core, so I can solve or moving all the application to .net framework or

[2016-05-24 17:14] cartermp commented on #459
@lucamorelli You can write .NET Core libraries which will run on .NET Framework.  There are two ways to do this:

* Target the .NET Standard version which matches your targets - this is the preferred approach if you won't be using APIs unavailable in the .NET Standard
* Multitarget and use `#if` directives in your code for platform-specific APIs

[This article should help you out.](http://dotnet.g

[2016-05-24 20:01] BillWagner opened #462 "update or extend docker tutorial for lighter weight docker images"
PR #425 shows how to create a basic service running in Docker.

We should add new content that also shows how to build a portable app, and a self-contained app using the lighter-weight Docker images (`core` and `core-deps`).

[2016-05-24 20:02] #419 closed

[2016-05-24 23:27] JunTaoLuo commented on #426
@blackdwarf I suppose `preserve compilation context` makes sense to be in ASP.NET and that's been/being updated so that should be okay. I think global.json version change to RC2 is needed for all previous projects, even console apps. So I think it's best to have it in both migration documents.

[2016-05-25 20:28] lucamorelli commented on #459
thanks for the link to the article. I changed the project.json of the library this way

  "frameworks": {
    "netstandard1.4": {
      "imports": [
        "dnxcore50",
        "portable-net451+win8"
      ]
    }
If I understand the situation using **netstandard1.4** I ensure the same api level of net461, and now runs both in the .net core app and .net framework 4.6.1
I have just only one proble

[2016-05-25 22:26] mairaw commented on #390
@blackdwarf can we remove that link?

[2016-05-27 02:11] mairaw opened #464 "Add a Known issues topic for CLI"
This info currently lives here but we need to bring to our official docs site: https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md

[2016-05-27 14:17] blackdwarf commented on #426
@JunTaoLuo all right, this is now in PR.

[2016-05-29 17:08] BillWagner opened #466 "create the "Getting Started" article for creating Console Applications"
We need the super simple "getting Started" console application for http://dotnet.github.io/docs/getting-started/first-console-app.html

This is related to Issue #180 which has content coming in PR #190

/cc @blackdwarf @cartermp @mairaw

[2016-05-29 17:09] BillWagner commented on #180
This is partially addressed in PR #190 That's still open, and needs an update to the code. It's using the older CLI syntax.

There's also no content coming for http://dotnet.github.io/docs/getting-started/first-console-app.html I could not find an issue that's tracking that, so I wrote #466 for that article and self-assigned it.

[2016-05-29 19:02] BillWagner opened #467 "Create content for ".NET Core packages and metapackages" topic"
This issue tracks the content for this topic http://dotnet.github.io/docs/core-concepts/packages-metapackages.html

/cc @mairaw @blackdwarf for details on what this topic should cover

[2016-05-29 19:12] BillWagner opened #468 "Create the content for ".NET Core Versioning""
This issue tracks the content for this page: http://dotnet.github.io/docs/core-concepts/versioning.html

/cc @mairaw @blackdwarf for details on this topic.

[2016-05-29 19:18] BillWagner opened #469 "Create the content for ".NET Core Servicing""
This issue tracks the content for this topic: http://dotnet.github.io/docs/core-concepts/servicing.html

/cc @mairaw @blackdwarf for details on this topic.

[2016-05-29 19:46] BillWagner opened #470 "Create content for "Creating Libraries in Visual Studio""
This issue tracks creating content for this topic: ~~http://dotnet.github.io/docs/core-concepts/libraries/libraries-with-vs.html~~

The above link moved. The new location is: https://docs.microsoft.com/en-us/dotnet/articles/core/tutorials/libraries-with-vs

This topic parallels the topic for creating libraries using cross-library tools (~~http://dotnet.github.io/docs/core-concepts/libraries/librar

[2016-05-29 20:17] BillWagner opened #471 "Create the topic for Core Concepts: ".NET Core Application Deployment Concepts""
This issue tracks the creation of this topic: http://dotnet.github.io/docs/core-concepts/app-deployment.html

It may be that this issue (and the referenced page) can be closed. Everything for this topic may be covered in the section on "Packaging and Deploying Applications". See this page: http://dotnet.github.io/docs/scenarios/deployment/index.html And issues #294 #295 #296 #297 #298 and #299.

/

[2016-05-29 21:43] BillWagner commented on #250
@terrajobst do you want me to pick up this issue? I read through the content you referenced above, and with a few conversations I flush it out.

[2016-05-29 22:26] mairaw opened #473 "Improve docs for dotnet app.dll"
It's not clear on the docs that you do not use dotnet run to run a published dll. Improve cli docs to make this more clear.

[2016-05-30 01:49] blackdwarf commented on #250
@BillWagner @terrajobst I'm pretty sure this issue should be closed now that the binary and source compat have been communicated as future goals of .NET Core. Thoughts?

[2016-05-30 19:04] BillWagner commented on #250
@blackdwarf @terrajobst Well, I'm still a bit confused on the roadmap, and especially how we get from where we are to where we want to end up. It also seems like many of our customers are similarly unsure what everything means.

[2016-05-31 18:16] mairaw commented on #467
@blackdwarf do you know what we want to cover here? do we want to explain what those are and list the ones available like NETStandard.Library or Microsoft.NETCore.App?

[2016-05-31 18:25] blackdwarf commented on #467
@richlander would know though I assume your assumption is correct @mairaw

[2016-05-31 20:12] svick opened #478 "Building API reference locally"
Since it seems [PRs for API reference extensions](https://github.com/dotnet/core-docs/pulls?q=is%3Apr+%22Update+and+rename+new+to%22) are starting to come in, it would be nice if there was some way to build the API reference (including those extensions) on my machine.

Just running `docfx build` doesn't seem to do it and I didn't find anything in [the contributing docs](https://github.com/dotnet/c

[2016-06-01 07:12] kwaazaar commented on #40
Is there a solution already? I run into this same problem.

[2016-06-01 22:38] stevehoag commented on #220
Completed #400

[2016-06-01 22:38] #220 closed

[2016-06-02 20:51] BillWagner opened #482 "Create the article describing the Console Application Paradigm"
See /docs/console/step-by-step-guide.md for a reference to this article.

It should discuss the kinds of applications that are built as console applications.

[2016-06-02 20:54] BillWagner opened #483 "Create the overview article for console applications."
The description is partially covered in #180

This should provide the basics, and help developers get started creating and building console application projects.

[2016-06-02 21:10] BillWagner opened #484 "Create the topic for covering the process to build and package single binary console applications"
Part of the description is in #180. This should explore creating console applications as a single binary, and go into more depth than the step-by-step guide on that process.

[2016-06-02 21:17] tdykstra opened #485 "Learn C#: Syntax"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/syntax.md

[2016-06-02 21:18] tdykstra opened #486 "Learn C#: Features at a glance"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/features.md

[2016-06-02 21:19] tdykstra opened #487 "Learn C#: C# type system"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/type-system.md

[2016-06-02 21:23] BillWagner commented on #483
Duplicate of #287

[2016-06-02 21:23] #483 closed

[2016-06-02 21:30] tdykstra opened #488 "Methods and Lambda Expressions"
Issue tracking new topic at https://github.com/dotnet/docs/blob/master/docs/csharp/methods-lambda-expressions.md

[2016-06-02 21:30] tdykstra opened #489 "Learn C#: Generics"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/generics.md

[2016-06-02 21:31] tdykstra opened #490 "Learn C#: Language Integrated Query (LINQ)"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/linq.md

[2016-06-02 21:32] tdykstra opened #491 "Learn C#: Parallel programming"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/csharp/parallel.md

[2016-06-02 21:33] tdykstra opened #492 "Learn C#: Native interoperability"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/interop.md

[2016-06-02 21:34] tdykstra opened #493 ".NET: Reflection & code generation"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/csharp/reflection.md

[2016-06-02 21:35] tdykstra opened #494 "Learn C#: Documenting your code"
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/languages/csharp/codedoc.md

[2016-06-03 10:33] tsolarin opened #497 "Create content for "Development using Visual Studio Code""
Issue tracking new topic at https://github.com/dotnet/core-docs/blob/master/docs/getting-started/devenv/using-visual-studio-code.md

[2016-06-03 14:43] BillWagner commented on #484
Closed per @blackdwarf

[2016-06-03 14:43] #484 closed

[2016-06-03 17:14] BillWagner commented on #497
closed as a duplicate of #282

@tsolarin Please join the conversation on that issue. If you'd like to contribute, please let us know.

[2016-06-03 17:14] #497 closed

[2016-06-03 17:25] tsolarin commented on #282
Is there still a chance to contribute to this?

/cc @BillWagner

[2016-06-03 17:27] BillWagner commented on #282
Yes there is. Check out the two branches referenced above. @cqcallaw is working on setting up the environment and getting tools in place. I've got one that will create a sample, run it, and use the debugging tools. (Not much there yet; I'm happy to have help.

[2016-06-03 17:38] #473 closed

[2016-06-03 17:51] JunTaoLuo commented on #426
@blackdwarf the PR is merged, any reason this issue is still open?

[2016-06-03 18:39] tsolarin commented on #282
Would love to help out with the sample, how do I get started? @BillWagner

[2016-06-03 18:50] tsolarin commented on #282
I'll start working on my fork using your template here: https://github.com/BillWagner/core-docs/blob/vs-code-golden-path/docs/tutorials-samples/vs-code-golden-path.md. Is that approach suitable? @BillWagner

[2016-06-03 19:49] BillWagner commented on #282
@tsolarin That would be great. I'll start filing in code in a sample for the application.

[2016-06-03 21:42] tsolarin commented on #282
Here is my branch: https://github.com/tsolarin/core-docs/blob/vs-code-golden-path/docs/tutorials-samples/vs-code-golden-path.md. So you can track progress.
/cc @BillWagner

[2016-06-03 21:52] blackdwarf commented on #426
@JunTaoLuo have no idea. But the issue has been fixed. Will close it.

[2016-06-03 21:52] #426 closed

[2016-06-03 22:47] mairaw commented on #426
It seems that the PR was closed instead of merged @blackdwarf.

[2016-06-03 23:05] blackdwarf commented on #426
@richlander said he merged it?

[2016-06-03 23:11] mairaw commented on #426
Yes, but the actual merge action is not shown as usual @blackdwarf

[2016-06-05 05:24] danroth27 opened #499 "Is a unit test project a console app or a class lib?"
I was following the http://dotnet.github.io/docs/core-concepts/testing/unit-testing-with-dotnet-test.html doc and I got a bit confused in the "Creating the test project" section. I couldn't tell if I was supposed to create a console app project or a class lib project (or maybe some sort of hybrid?).

The text says:

So, I must be creating a class lib, right? But then it says:

Isn't that the TFM f

[2016-06-05 05:24] danroth27 commented on #499
@blackdwarf

[2016-06-05 06:10] cqcallaw commented on #282
@tsolarin @BillWagner thanks for continuing to push this forward. I haven't found as much time as I'd like to work on this, so I don't think I'll be able to continue contributing. Please feel free to use any of the content I've already generated.

[2016-06-05 11:04] BillWagner commented on #499
@danroth27 @blackdwarf I'll make that more clear.

Short version: you are creating a console app, but you don't want the entry point in the test assembly because it's in the runner (which is a NuGet package).

[2016-06-06 18:28] tsolarin commented on #282
No problem @cqcallaw. @BillWagner I've already made some updates to my branch, I'm aiming to complete it by the end of this week so while you're reviewing it I could pick up where @cqcallaw left off

[2016-06-06 21:11] blackdwarf commented on #499
@BillWagner precisely. Also, because of the package graph.

[2016-06-07 16:02] rpetrusha opened #501 "API Reference: Some type names include part of namespace name"
In the System.Text namespace at http://dotnet.github.io/api/System.Text.html, two type names include a portion of the namespace name:

- "Text.Encoding" should be "Encoding"

-  "Text.StringBuilder" should be "StringBuilder"

/cc @blackdwarf

[2016-06-07 16:31] rpetrusha commented on #501
Another instance occurs at http://dotnet.github.io/api/Windows.Foundation.html; "Foundation.Point" should be "Point"

[2016-06-07 17:38] #335 closed

[2016-06-07 20:58] svick opened #504 "Article TOC for namespaces does not contain types"
In API reference, when a type has contains many members, it's very useful that it's possible to navigate those members using the article TOC. For example, [`Enumerable`](http://dotnet.github.io/api/System.Linq.Enumerable.html#methods):

![](http://i.imgur.com/uDRPJHJ.png)

But for namespaces, the article TOC does not contain types in the namespace. For example, [`System`](http://dotnet.github.io/a

[2016-06-08 14:25] svick commented on #478
This seems to work now. I believe it was fixed by #496.

[2016-06-08 14:25] #478 closed

[2016-06-08 20:51] mairaw commented on #478
Good to know @svick. I just tested this last night so I wasn't sure what was the issue you were running into.

[2016-06-09 15:58] SamuelEnglard commented on #494
I'd like to work on this. Any guides/things I should look at?

[2016-06-10 15:37] twsouthwick opened #509 "Document how references get resolved with project.json"
Using project.json is very different from the previous model of referencing assemblies. I found some useful documentation here (https://docs.nuget.org/consume/projectjson-dependency), but someone new to .NET Core may not think to look there when initially confronted with project.json in the .NET Core setting. This issue is to track some sort of documentation wherever the 'Getting Started' stuff is

[2016-06-10 21:41] mairaw commented on #494
@BillWagner is this something you can help @SamuelEnglard with?

[2016-06-10 21:52] BillWagner commented on #494
@mairaw Yes.

@SamuelEnglard Start here: https://github.com/dotnet/core-docs/blob/master/CONTRIBUTING.md and just @ message me if you have any questions.

[2016-06-10 23:54] svick opened #511 "Why does Interpreting Expressions not use ExpressionVisitor?"
The article [Interpreting Expressions](https://dotnet.github.io/docs/languages/csharp/expression-trees-interpreting.html) is about creating a custom visitor for expression trees from scratch and at the end links to GitHub search, which is meant to find open source expression visitors.

But [.Net Core already contains `ExpressionVisitor`](https://dotnet.github.io/api/System.Linq.Expressions.Express

[2016-06-11 02:16] svick opened #514 "Articles not in the TOC"
There seems to be quite a lot of articles that are not part of [the site TOC](https://github.com/dotnet/core-docs/blob/master/docs/toc.md). Specifically (excluding 🔧 article stubs and TOC articles):

* [async/async-csharp-vb.md](https://dotnet.github.io/docs/async/async-csharp-vb.html): This seems to be a copy of [languages/csharp/async.md](https://dotnet.github.io/docs/languages/csharp/async.html

[2016-06-11 04:30] mairaw commented on #514
I've noticed this too and wanted to get this fixed. I'll take a look more closely. There's also the SDK overview which is not in the TOC. Thanks for your analysis @svick.

[2016-06-13 01:34] BillWagner commented on #514
@svick Thank you for the work, and the analysis.

One question I have is how many levels do we want in the TOC?

In the case of the expression tree articles, they are meant to be read in order. That's why they have the previous and next links. (They were broken down into multiple pages due to their length.)

@svick Do you think that these stand on their own, or would a reader be lost by dropping i