[2020-02-12 17:23] RehanSaeed opened #17057 "Install Scripts Fail on MacOS and Ubuntu"
I'm trying to run the install scripts in appeyor in https://github.com/RehanSaeed/Schema.NET/pull/138 but they [fail on MacOS and Ubuntu but work on Windows](https://ci.appveyor.com/project/RehanSaeed/schema-net/builds/30755253).

[code]

The PowerShell Core code runs first. This installs all of the dependencies required for .NET Core to work depending on the platform. The last line is the bash sc

[2020-02-12 17:30] cartermp commented on #9639
Closing this out since it's not referenced in the article anymore

[2020-02-12 17:30] #9639 closed

[2020-02-12 17:50] CarolEidt commented on #17032
I agree with the comments - I think the page should be edited to reflect something along the lines of @cfbao's second bullet above, e.g. replace:

with something like:

Does that seem reasonable?

[2020-02-12 17:54] Thraka commented on #17057
The Ubuntu problem may be that the script isn't parsing the global.json file correctly (or the file is malformed in some way). I think that you should file an issue on https://github.com/dotnet/core/issues for that problem. This is where the scripts are managed.

The macOS problem seems to be related to this Q/A: <https://stackoverflow.com/questions/29979966/tput-no-value-for-term-and-no-t-specifi

[2020-02-12 18:00] Thraka commented on #12002
@RobertAcksel I know what you mean. The `dotnet` template commands aren't very helpful when there is a problem. There is a discussion about them over at https://github.com/dotnet/templating/issues/1750

[2020-02-12 19:09] gewarren commented on #16990
I don't actually have enough info to document this breaking change yet, for example which version of .NET Core it was introduced in. @karelz Could you or someone else fill out the [breaking change template](https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md)?

[2020-02-12 19:35] #13590 closed

[2020-02-12 19:48] ardalis commented on #15721
Ok I've looked at this and the issue isn't quite what's being described (but the confusion is real). In this image:
![image5-8](https://user-images.githubusercontent.com/782127/74371047-22ae9c80-4da6-11ea-95ea-eea361964346.png)

The dashed line represents an _optional_, not a compile-time vs. runtime, dependency. Probably this diagram would benefit from a legend, like figure 5-9 has.

Adding fixed

[2020-02-12 20:06] yannify opened #17059 "Figure 5-10. The CAP theorem"
The Venn diagram indicates that RDMS is Consistent and Partition Tolerant.  Shouldn't it be Consistent and Available?   Below the diagram after the definition of CAP Theorem the text reads:

"Relational databases typically provide consistency and availability, but not partition tolerance."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-12 20:48] gewarren opened #17060 "Breaking change in FieldInfo.SetValue"
See https://github.com/dotnet/dotnet-api-docs/issues/3851 and https://github.com/dotnet/runtime/issues/11571.

[2020-02-12 21:27] robvet commented on #17059
Excellent catch.

The text beneath describes correctly, but the graphic does not.

Will fix.

Rob Vettor  | Principal Cloud-Native Application Architect
                      | ASD IP Architect
                      | CNCF (Cloud-Native Computing Foundation) Speaker Bureau<https://www.cncf.io/speaker/robvet/>
                      | Developer Advisory Services for Azure

[cid:image001.jpg@01D5E1B8

[2020-02-12 22:35] karelz commented on #16990
I am pretty sure, this originated with .NET Core 1.0.
@aik-jahoda can you please help to document this difference once you get to documentation changes? Thanks!

[2020-02-12 23:38] gewarren commented on #16655
@thraka Since you understand this better than I do, would you be able to add the table?

[2020-02-12 23:43] gewarren opened #17063 "Breaking change in UriBuilder.Query and UriBuilder.Fragment"
See https://github.com/dotnet/dotnet-api-docs/issues/3699.

Breaking change between .NET Framework and .NET Core.

[2020-02-13 00:11] RobertHenry6bev opened #17064 "dotnet-install-script.md too windows centric"
https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-install-script.md documents the default installation directory only for windows, and not for linux.

Edited to add Document Details for linking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID:

[2020-02-13 05:36] cfbao commented on #17032
That looks good to me 👍

[2020-02-13 08:18] ericbrunner opened #17066 "The library author needs to move the default implementation into a protected static method"
This is not mandatory. You can define that method as public static , too.

And call it from the client side like so:

/// --- Default Interface Methods
            ICustomer customer = new Customer("eric");
            ICustomer.DefaultLoyaltyDiscount(customer);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3753657-9

[2020-02-13 10:02] CodeIsLie opened #17067 "c# 8.0 'var' pattern matching not presented"
Hi, i don't see reference to new pattern matching presented in latest version of C#:
for example:

state = (state, transition) switch
{
    (State.Running, Transition.Suspend)     =&gt; State.Suspended,
    (State.Suspended, Transition.Resume)    =&gt; State.Running,
    (State.Suspended, Transition.Terminate) =&gt; State.NotRunning,
    (State.NotRunning, Transition.Activate) =&gt; State.Running,

[2020-02-13 10:37] VGerris commented on #17048
Hi,

Thank you for the response.
With microsofty I meant that I had to reboot to make it work ;).
I am running Ubuntu 18.04 and followed:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804
to install the SDK.

The problem is solved, but as I stated the setup instructions don't seem to work as provided. so I suggested to add it.
I'm pretty sure this can be easily

[2020-02-13 12:17] KrzysztofBranicki opened #17071 "Stopping IHostedService gracefully"
It looks like code snippet example that showcases implementation of `GracePeriodManagerService` is little bit misleading in case of stopping the hosted service.
Line of code at the end of the `ExecuteAsync` method will never be called `_logger.LogDebug($"GracePeriod background task is stopping.");`. This is because `await Task.Delay(_settings.CheckUpdateTime, stoppingToken);` Will throw `TaskCance

[2020-02-13 14:09] #15721 closed

[2020-02-13 14:30] ecoffman opened #17072 "Where to install new versions of .Net Core SDK on Linux server?"
As I understand it, new versions of the .Net Core SDK can be installed over older versions of the .Net Core SDK. I think I read somewhere that newer versions can build projects that target previous versions. I've googled for this but can't seem to find an answer.

Is this correct? I ask because our Linux SA installs every update to the SDK in new locations making it complicated to manage builds wi

[2020-02-13 15:51] BillWagner commented on #17066
Thanks for writing this @ericbrunner

For this tutorial, I'd prefer that method as protected, so it provides an implementation helper for types that implement the interface.

I'm updating other content related to default interface members now. In those areas I do explain that each of the modifiers can be used.

I'm going to close this as a duplicate of #14803, which I'm addressing in those updates

[2020-02-13 15:51] #17066 closed

[2020-02-13 15:56] BillWagner commented on #17067
Thanks for writing this @CodeIsLie

There are a few examples like this in [this tutorial](https://docs.microsoft.com/dotnet/csharp/tutorials/pattern-matching)  The best plan is to add a link to that article here.

I've added the "up for grabs" label for any community members to make this addition.

[2020-02-13 15:58] CarolEidt commented on #17032
@BillWagner - who would be the right person to ping to make this kind of change?

[2020-02-13 16:05] BillWagner commented on #17032
@CarolEidt I'll take care of it.  Thanks for helping us resolve the language.

[2020-02-13 17:21] SidShetye opened #17074 "Need more coverage to analyze memory leaks and memory allocations"
The current documentation only talks about an exception and stack trace. These are typically already present in logs, so getting the same information via the far more tedious stack dump route is not useful.

Instead what's required is better documentation for the more typical stack dump problems, like:

1. identifying the largest objects
2. identifying the highest number of instantiations
3. find

[2020-02-13 17:30] sdmaclea commented on #17074
/cc @dotnet/dotnet-diag

[2020-02-13 17:40] ericbrunner commented on #17066
Thanks @BillWagner
Well Default Interface Methods is a huge topic and still not enough bullet-proof documentation online. I found that tutorial which helped me in understanding all possibilities a bit more.
https://www.talkingdotnet.com/default-implementations-in-interfaces-in-c-sharp-8/

[2020-02-13 18:15] #17032 closed

[2020-02-13 18:59] #17060 closed

[2020-02-13 19:01] #16964 closed

[2020-02-13 19:16] TIHan opened #17076 "Describe memory-mapped files versus views over memory-mapped files and how they relate to the process address space"
It isn't clear if memory-mapped files use memory from the process's address space or not.

I had to figure out through testing that "views" over memory-mapped files are the ones that take up the process's address space, but not the memory-mapped file itself.

Also:
"Multiple views may also be necessary if the file is greater than the size of the application’s logical memory space available for mem

[2020-02-13 22:10] #16900 closed

[2020-02-13 22:12] #16899 closed

[2020-02-14 00:26] ssa3512 opened #17084 "Information about "in" function arguments missing"
The `Argument Lists` section at https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#argument-lists references the `ref` and `out` parameter modifiers but is missing information on the newer `in` modifier which passes an item by reference but as read-only. The `in` modifier is described in the keywords section here: https://docs.microsoft.com/en-us/d

[2020-02-14 01:00] RussKie opened #17085 "[WinForms] API validate input parameters and throw ANE"
## Selected API validate input parameters and throw `ArgumentNullException`.

Selected API now validate input parameters and throw `ArgumentNullException` where previously a `NullReferenceException` could be thrown, if APIs were invoked with `null` input arguments.
Throwing `ArgumentException` is inline with the behaviours in .NET Runtime, and provides developers with a better debug experience cle

[2020-02-14 02:57] RussKie commented on #17085
@gewarren sadly GitHub flavoured markup doesn't allow checkboxes in a table. So we'll have to edit the markup once each entry is processed.

Few options:
- We replace the table with a list with checkboxes, or
- Edit the markup and add something like `:heavy_check_mark:` to indicate an entry was processed.

Please let me know which way you prefer, or feel free to edit to the way you wan it, and I'l

[2020-02-14 03:08] #15081 closed

[2020-02-14 03:29] #12180 closed

[2020-02-14 04:09] DaseinPhaos commented on #16510
In addition, the generated IL suggests that when directly accessing member fields, the compiler won't generated defensive copies.

Defensive copys are only generated when you're trying to access a property/method from the struct, see the sharplib example:

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA+ABATARgLABQhGOSABNhTgOyEDehZTFAzGQM4AuUArmJ2QAKEAJYA7TiwAi9RswxsAJhB7AANjDIANANxymCsstUayATT0FmrI

[2020-02-14 06:35] amit2510kr opened #17087 "Creating a .Net Standard library in Visual Studio"
The code given for testing is in C#,and it is not working for vb.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8df4bc4b-88e1-a629-fcbd-6808b4f7308c
* Version Independent ID: 87d3afdd-d7d5-35d7-0718-63dadc4eab1d
* Content: [Build a .NET Standard class library in Visual Studio - .NET Core](https://docs.microsoft.co

[2020-02-14 09:09] mairaw commented on #17087
Thanks for your feedback.

I see the code in Visual Basic. Are you saying that VB code is not working @amit2510kr?

[2020-02-14 10:37] ortymd opened #17090 "The NET Framework Setup subkey in the registry path does not begin with a period."
Please explain whetehr there is any logical reason for "The NET Framework Setup subkey in the registry path does not begin with a period." thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c991-ab7382025406
* Content: [Determine w

[2020-02-14 14:00] ckrausko commented on #16335
@cartermp Why do I have to manually set LangVersion to latest in the csproj when I'm using netcoreapp3.1 ? It was defaulting to using 7.3 and saying I can't change the version in properties. Isn't it supposed to default to version 8 since I'm using .netcore 3.0+

[2020-02-14 15:34] RehanSaeed commented on #17057
It seems the `dotnet-install.sh` script fails to find the latest .NET Core SDK `3.1.101` on `Ubuntu 18.04` https://github.com/dotnet/sdk/issues/4198. It seems to work on MacOS.

[2020-02-14 16:15] cartermp commented on #16335
@ckrausko You shouldn't need to. Was it already set manually to C# 7.3 before, or are you using a preview SDK? There was a preview SDK version with a bug that defaulted to C# 7.3 but that was resolved before the release.

[2020-02-14 17:19] gewarren commented on #17085
@RussKie Shoot! I think the checklist will be easier since you don't have to edit the markdown.

[2020-02-14 19:08] Zyean opened #17095 "SQUARE and SQRT function issue (SSMS)"
Hello, I'm noticing an issue in SQL server where

Squaring 2147483647 using the SQUARE function returns 4611686014132420608
However, 2147483647 * 2147483647 = 4611686014132420609

[code]

Could this be an issue related to how the SQUARE function returns a float?
A similar issue happens on the SQRT function, where FLOOR(SQRT(4611686016279904209)) = 2147483648, however this should return 2147483647

[2020-02-14 19:38] Thraka commented on #17057
I'm going to close this issue as you commented on an open issue in the sdk repo and I think your problem is better handled over there.

Thanks!

[2020-02-14 19:38] #17057 closed

[2020-02-14 20:11] RehanSaeed commented on #17057
I found yet another issue with the script, you cannot specify the `dotnet-install.sh` script fails When `global.json` contains `rollForward` https://github.com/dotnet/sdk/issues/10650.

[2020-02-14 21:05] RussKie commented on #17085
Too easy, checkbox list it is then

[2020-02-14 21:18] RussKie opened #17096 "[WinForms] API validate input parameters and throw AE"
## Selected API validate input parameters and throw `ArgumentException`.

Selected API now validate input parameters and throw `ArgumentException` where previous behaviour could lead to indeterminate state, if APIs were invoked with input arguments of unexpected or incorrect type.
Throwing `ArgumentException` is inline with the behaviours in .NET Runtime, and provides developers with a better debu

[2020-02-14 21:22] #10230 closed

[2020-02-14 21:22] #10362 closed

[2020-02-14 21:22] #13241 closed

[2020-02-14 21:22] #15653 closed

[2020-02-14 21:58] BillWagner commented on #16502
This was fixed in #16515 (This issue was not tagged at that time.)

[2020-02-14 21:58] #16502 closed

[2020-02-14 22:03] Thraka commented on #17057
Yeah, that's the error I saw originally in your issue here. Hopefully they get that fixed soon :) of course, you can modify the script in the meantime too and get that fixed manually.

[2020-02-15 03:02] mairaw commented on #11936
@KathleenDollard @dsplaisted @nguerrera do you know when some of the new options for dotnet restore were added to the CLI? Is there a good way to find this?

[2020-02-15 05:52] nguerrera commented on #11936
@nkolev92

[2020-02-15 08:01] talynone commented on #7613
Here's some migration docs from MEF V1 to MEF V2 I found:

https://blog.softwarepotential.com/porting-to-net-standard-2-0-part-2-porting-mef-1-0-to-mef-2-0-on-net-core/

[2020-02-15 08:59] thurstylark commented on #8804
These are good points. I agree that as a beginner's tutorial, a full explanation is definitely too much detail to go into at this level.

My problem is that it goes into *zero* detail about either of these topics. At the very least, there should be something along the lines of

Something like this will introduce the surface-level of the subject, keep the tutorial succinct, and explain that these t

[2020-02-15 09:18] pkulikov opened #17103 "Numbers in C#: step 5 is misleading"
Step 5, [Work with fixed point types](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/numbers-in-csharp?tutorial-step=5), states that the `decimal` type is the fixed-point type. However, it's not: `decimal` is a floating-point type.

Rather than fixing that, I suggest to remove the whole step 5 from the tutorial. @BillWagner what do you think?

---
#### Document Details

⚠

[2020-02-16 04:45] Admiralfeb commented on #12574
in JS/TS the spread operator `... array` is the way to do this.
This was one of the first items in the list when I ran a google/bing search for "C# spread"

[2020-02-16 08:52] DimitrisK5 opened #17106 "Implicit typing in foreach statement example"
The text reads "The following example uses explicit typing in a foreach statement.", but the example provided uses implicit typing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3c147e-2271-4d7c-712b-2f705b5ecbc5
* Version Independent ID: 2c1a7cfe-364e-408e-77c1-9fae2b0da643
* Content: [C# Coding Conventions - C# Pr

[2020-02-16 09:36] Progress99 opened #17107 "Error code: 0x8024402c"
I've tried installing a billion times to play Hotline Miami on my unmodified surface pro 7. It keeps telling me to restart my laptop and when I do it changes nothing.
I have no idea how to use Github just how do I download this dumb program.

[2020-02-16 09:37] pkulikov commented on #17106
This is being fixed by dotnet/samples#1994

[2020-02-16 11:14] CyrusNajmabadi commented on #16067
That's correct.  `^` is the 'other side' of the array.  So if you index into the other side, you index out of bounds as would be expected.  To get the last element, you don't want "the other side", you want "the other side, minus 1", or `^1`.

We considered both approaches, and took a look at what code what doing in many different repos that could benefit from ranges/indices.  It turned out for th

[2020-02-16 15:32] AlexEngblom commented on #7146
I seem to get this issue with latest range of dotnet tools when running my new [Github Actions CI](https://github.com/AlexEngblom/EfCoreJsonValueConverter/blob/master/.github/workflows/dotnetcore.yml) running on 'ubuntu-latest'.

From the workflow output:
`
Run dotnet --version
3.1.101

Run ls
...
Innofactor.EfCoreJsonValueConverter.2.0.1-beta0011.nupkg
Innofactor.EfCoreJsonValueConverter.Attribut

[2020-02-17 07:02] ramyaksanghvi opened #17109 "good"
insightful!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NET Core 3.0](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#feedback)
* Content Source: [docs/core/whats-new

[2020-02-17 07:03] gn11 commented on #14148
I am using .NET core console application and referenced the Transform.dll (example above) using Project -> Add Reference ->Path to Transform.dll  But i am getting 'Could not load file or assembly 'System.Data.SqlXml'. Is there something wrong am doing?

[2020-02-17 10:48] jdodds commented on #14508
It doesn't work anymore outside of FSI in F# 4.7 either:

[code]
Could not resolve the ambiguity in the use of a generic construct with an 'enum' constraint at or near this position

Type constraint mismatch when applying the default type 'obj' for a type inference variable. The type 'obj' is not a CLI enum type Consider adding further type constraints
[code]

[2020-02-17 11:42] MHDuke opened #17110 "net core 3.1 default publish config is release not debug"
am using dotnet core 3.1 and dotnet publish would default to /bin/release/netcoreapp3.1/publish. unlike what is stated in this documentation. it seems the release configuration is the default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee36626-0fc2-20d8-81c5-a3cd212244b2
* Version Independent ID: 044ba93c-9ad9-80c

[2020-02-17 11:54] MHDuke commented on #17110
that was inaccurate. i was publishing using visual studio. using the CLI though, I noticed the appsettings.json, appsettings.Development.json are published, but not  appsettings.production.json.  so appsettings.production.json is left out using the CLI but is included using visual studio publish.

[2020-02-17 16:52] mvelosop opened #17111 "Fix typo in file name"
Just a reminder to @mvelosop (that's me! 😅) to fix the typo in the file `architecture\microservices\microservice-ddd-cqrs-patterns\infrastructure-persistence-layer-implemenation-entity-framework-core.md`

Spotted by @mairaw in PR #16202

[2020-02-17 21:34] rneal4 commented on #16170
I agree with @Jeme. This doesn't really "sell" using the new syntax, unless there are other benefits. I honestly think this is almost worse as it means developers who declare multiple usings in a single scope with this syntax will have the life time of those resources far extended pass their actual use since they will not get disposed until they are no longer in scope.

[2020-02-17 23:55] #16759 closed

[2020-02-18 00:06] jdodds opened #17113 "Array pattern matching example missing sprintf"
this code:

[code]

needs it's `failwith` branch updated to add `sprintf` or similar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a3ed054-03c9-375f-403b-68f0356d5870
* Version Independent ID: 3c167003-13e8-359b-e919-693258e7f48b
* Content: [Pattern Matching - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/langua

[2020-02-18 02:40] maolin-kooboo commented on #16779
Hi @luisquintanilla ,
how can I use this model, when I create Prediction Engine from it, throws exception
[code]
![image](https://user-images.githubusercontent.com/38514356/74699173-047bed00-523b-11ea-8888-45a6513a6599.png)

[2020-02-18 09:32] TheElectricCo opened #17115 "Ocelot dependency"
Hi, the latest version of Ocelot (14.0.9) does not target .net standard 2.0, but only .net core 3.1. This version cannot be used with the full .net framework unfortunately

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ce8eaa-b3ff-9b69-fea1-131eed36b9ec
* Version Independent ID: 771d9f72-b506-79ef-5398-030c1705ee9a
*

[2020-02-18 10:03] DrGriff opened #17116 "What happens when build?"
If I create a project with multiple frameworks as described above, and then compile it [F6] then does it compile multiple times (once for each framework specified)?

We have the FxCop Roslyn analysers installed and set to treat all warnings as errors when in RELEASE mode - does this work properly with multiple frameworks?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-02-18 14:08] luisquintanilla commented on #16779
Hi @maolin-kooboo,

I suspect you're having this issue because you called your column "Feature" instead of "Feature**s**".

[2020-02-18 15:14] BillWagner commented on #17095
@mikeRayMSFT Should this issue be in a different repository? I'm not sure how it found its way to .NET docs.

[2020-02-18 16:02] BillWagner commented on #17103
@pkulikov I think it's worth fixing this page rather than removing it.  Beginners would see `decimal` early in learning C#. It's good to cover it here.

[2020-02-18 16:03] BillWagner commented on #17107
closing as not relevant.

[2020-02-18 16:03] #17107 closed

[2020-02-18 16:46] Thraka commented on #17072
TLDR:
Each SDK is standalone and you don't need older versions as long as you don't target a *specific* **major.minor.patch** version for your app. As such, you can safely delete an old SDK version and replace it with the latest patched version.

-------
When you target a specific version, you need that **major.minor** SDK version installed. The SDK a lot of pieces, including these two main pieces

[2020-02-18 16:46] #17072 closed

[2020-02-18 16:52] Thraka commented on #17090
Hello,

Are you asking about the note or about the specific name? The reason the note points this out is that that people are used to typing `.NET Framework` with a `.` at the start, so the note points out this discrepancy.

I'm going to close this. If this didn't answer your question, please follow up. Thanks!

[2020-02-18 16:52] #17090 closed

[2020-02-18 16:53] Thraka commented on #17110
I'll close this issue as it seems you have answered your question yourself 😄

[2020-02-18 16:53] #17110 closed

[2020-02-18 16:54] Thraka commented on #17109
Thanks!

[2020-02-18 16:54] #17109 closed

[2020-02-18 17:07] #17113 closed

[2020-02-18 17:10] Thraka commented on #17095
This issue was moved to MicrosoftDocs/sql-docs#4166

[2020-02-18 17:10] #17095 closed

[2020-02-18 17:12] #17067 closed

[2020-02-18 17:27] pkulikov commented on #17103
@BillWagner indeed, would be ideal if the tutorial described use cases for those types.
Then, this issue becomes related to #8804.

[2020-02-18 18:55] nkolev92 commented on #11936
* -f
* -v

The above 2 have been around since the 1.x days.

* --use-lock-file
* --locked-mod
* --lock-file-path
* --force-evaluate

These ones have been around since 4.9.x of NuGet, see release notes: https://docs.microsoft.com/en-us/nuget/release-notes/nuget-4.9-rtm

and that makes it 2.1.500 and 2.2.100 of the SDK.

[2020-02-19 01:21] maolin-kooboo commented on #16779
Hi @luisquintanilla ,
I was using the sample you provided above and added one line in the TrainAndSaveModel method after Train model, and I think the column is called 'Features' on the line 'Define data preparation estimator'.
[code]
[code]

[2020-02-19 06:40] jdodds opened #17122 "Out of date example for attribute on return?"
[code]

gives me `This attribute is not valid for use on this language element`  on F# 4.7 + dotnet core 3.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aace421d-61eb-5fc0-ec1b-41f3848625f5
* Version Independent ID: e237e964-3f9d-ceb9-8ff6-5cc0813718de
* Content: [Attributes - F#](https://docs.microsoft.com/en-us/do

[2020-02-19 14:08] Dragon-God opened #17123 "See also contains broken link"
"Tutorial: Using pattern matching features to extend data types" has a broken link. As far as I could tell, the intended link is: https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/pattern-matching

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1f2a2fe-8279-e6b3-93e8-33398167655f
* Version Independent ID: 351912

[2020-02-19 15:09] luisquintanilla commented on #16779
I see what you mean @maolin-kooboo

The reason that's happening is because the `CreatePredictionEngine` uses the classes `HousingData` and `HousingDataPrediction` to determine the schema of the input / output columns. Since the model is trained on the preprocessed data, the input schema no longer matches `HousingData`. Therefore, you have to create a new class that defines this new input schema.

[2020-02-19 15:09] luisquintanilla commented on #16779
I see what you mean @maolin-kooboo

The reason that's happening is because the `CreatePredictionEngine` uses the classes `HousingData` and `HousingDataPrediction` to determine the schema of the input / output columns. Since the model is trained on the preprocessed data, the input schema no longer matches `HousingData`. Therefore, you have to create a new class that defines this new input schema.

[2020-02-19 15:10] BillWagner commented on #17123
Thanks for writing this @Dragon-God and for fixing it @pkulikov

[2020-02-19 17:30] tanveerbadar opened #17127 "Async Method Return Type"
Beginning with C# 8.0, async methods can also return IAsyncEnumerable&lt;T&gt;, something not mentioned in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158425f1-86b1-101a-9172-14c944867784
* Version Independent ID: 6386f636-99b3-93c3-ca9e-0134f3e3be10
* Content: [Methods - C# Guide](https://docs.microso

[2020-02-19 18:40] ccerhan commented on #17028
I am not a Microsoft fan but you may misunderstand the statement. Stating lower-level for Rabbit MQ does not mean it is underestimated. I understand from lower-level that it is not a more plug-and-play system than the other commercial products which generally uses Rabbit MQ at back-end. It is like preferring C# instead of C with which you must implement lots of fundamental libraries such as http c

[2020-02-19 19:23] #16462 closed

[2020-02-19 20:17] Thraka commented on #14148
@gn11 Did you add reference to `System.Data.SqlXml` in your project?

[2020-02-19 21:09] mairaw commented on #14218
Some comments around this on the skeleton PR I had previously created:
https://github.com/dotnet/docs/pull/14471#issuecomment-535197010
https://github.com/dotnet/docs/pull/14471#issuecomment-535214206

[2020-02-19 21:33] bradleypatton opened #17128 "Method names should be PascalCase"
The method names getLength and getWidth should be GetLength and GetWidth to follow standard C# styles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae0353c5-ba87-4095-b638-1f462bcbb627
* Version Independent ID: ecd0839f-58a7-19ca-eeff-ace97a6112ed
* Content: [How to explicitly implement interface members - C# Programm

[2020-02-20 00:55] cartermp commented on #17122
I don't think this was ever supported (at least certainly as of F# 4.0). The documentation is a bit old, so I'll remove that from the table and file an issue on the F# repo.

[2020-02-20 00:56] maolin-kooboo commented on #16779
@luisquintanilla , Thanks, it is working.

[2020-02-20 01:05] cartermp commented on #17122
Sorry, to clarify - `Obsolete` isn't supported for that target. So the table is just bad.

[2020-02-20 02:54] wli3 commented on #16420
This issue was moved to dotnet/sdk#10683

[2020-02-20 02:54] #16420 closed

[2020-02-20 09:25] alex-piccione opened #17135 "NUnit filter example is not covered"
In the section with list of example it is covered only _MSTest_ and _xUnit_.
I'd like to see also _NUnit_.
For example I don't know how to filter tests with the **CategoryAttribute**.
Should I use **Category**=mycategory or **Trait** or **Traits** ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc

[2020-02-20 11:07] NickPea opened #17137 "Aggregate() example(s)"
Everything else is pretty straight-foward, but a good demonstration of the arguments that the Aggregate method takes would be stellar!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec460a44-db5a-47a5-2086-0a754104211f
* Version Independent ID: c0a63095-e4ad-52b9-978b-eafea54f6e92
* Content: [Aggregation Operations (C#

[2020-02-20 11:25] wicharypawel opened #17138 "Load-balancing recommendation does not match with official gRPC standard"
Hello,
gRPC blog post about loadbalancing introduce two main types of LB, client and proxy loadbalancing. Client loadbalancing is missing in this docs. Moreover, client loadbalancing gives interesting alternative named Lookaside Load Balancing (aka external load balancer).

blog link -&gt; https://grpc.io/blog/loadbalancing/

Missing elements are far more important than classic proxy LB because ac

[2020-02-20 12:01] TestUser20191 opened #17139 "dotnet clean is not deleting files in bin/debug/.netcore2.2"
## Unable to delete files added using copyToOutputDirectory to PreserveLatest

I had a file with
[code]
and have now updated it not to contain
[code]
in the .csproj file.

When I try to run   _dotnet clean,_ the files which have been copied earlier still exists( Debug mode)

### Recommended action

- Should delete all files in that folder.

### Category

- ASP.NET Core
- C#
- Core

### Affected AP

[2020-02-20 12:50] BillWagner commented on #17127
Thanks for writing this @tanveerbadar

In addition to `IAsyncEnumerable<T>`, we should check to make sure `ValueTask<T>` and the pattern based async returns are mentioned.

[2020-02-20 13:33] BillWagner commented on #17128
Thanks for spotting this @bradleypatton

I've added it to our backlog to update when we next update this article. I've also added the "up ofr grabs" label if anyone wants to submit a PR before we make this change.

[2020-02-20 13:34] BillWagner commented on #17137
Thanks for writing this @NickPea

This is one of the more complicated LINQ methods. I've added this to our backlog to update when we next update this article.

[2020-02-20 14:35] gtbuchanan commented on #16940
I just ran into this issue myself. Good to see an official response. ReSharper has traditionally handled this with [`ItemNotNullAttribute`](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html#ItemNotNullAttribute) so hopefully, we'll have a similar option in .NET 5.

[2020-02-20 16:04] tdykstra commented on #17135
Thanks for the suggestion, the next time we update this article we'll look into adding NUnit examples.

[2020-02-20 16:56] cartermp commented on #14508
Updates snippets and the doc. I'm not sure if they were ever correct (some of this documentation is very old).

[2020-02-20 17:03] #16897 closed

[2020-02-20 17:03] #16898 closed

[2020-02-20 17:03] #16933 closed

[2020-02-20 17:04] #16902 closed

[2020-02-20 17:04] #16896 closed

[2020-02-20 17:37] tdykstra opened #17142 "Clarify role of encryption in clusters like Kubernetes and Docker Swarm"
Regarding the statement:

&gt;Communication between microservices in a cluster like Kubernetes or Docker Swarm is in general automatically encrypted by the container networking layer, so implementing TLS in services running exclusively in such a cluster isn't necessary.

See the discussion in https://github.com/dotnet/docs/pull/15911#discussion_r352960589

---
#### Document Details

⚠ *Do not edit

[2020-02-20 17:39] tdykstra commented on #17142
@shirhatti Please advise who we should assign this issue to.

[2020-02-20 17:46] sergey-litvinov opened #17143 ".Net 4.7.2 and automatic enabling of binding redirects"
It would be amazing if this page would mention that as part of .Net 4.7.2 that option is automatically enabled.

c:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets (VS 2019 16.4.3) has
[code]

That automatically enable it if it wasn't enabled\disabled before.

We got some problems due that as we had specific binding redirect i

[2020-02-20 17:49] #12344 closed

[2020-02-20 17:58] #14508 closed

[2020-02-20 18:57] #15522 closed

[2020-02-20 22:45] Thraka commented on #16836
I think we need these instructions a bit better. It's hard to explain this in generic terms. For example, the two URLs you posted for the distros have different pathing schemes. If there are different commands on different distros, this needs to be called out.

Also, if the original problem is related to using APT to download from that repo path, isn't that going to just fail manually downloading?

[2020-02-20 22:49] tdykstra opened #17147 "TOC updates for tutorials"
Tutorials are currently split between "Get started" and "Tutorials" sections of TOC.

* Change TOC "Get started" node to a link to the high-level get-started tutorial.
* Consolidate all tutorials under the "Tutorials" node.
* Add to this article the tutorials that aren't there yet, for CLI tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-02-20 23:58] dagood commented on #16836
Yeah... the general steps I gave would require some fairly deep research to figure out how to apply them, and even once they make sense, they'd be intensely tedious. I don't think it makes sense to add the steps to the documentation as they'd have to be done today.

The common problem is actually about the deb/rpm file being out of sync with a centralized repo manifest. Downloading the files manua

[2020-02-21 00:00] #17122 closed

[2020-02-21 00:17] timjen3 opened #17149 "Misleading explanation of default value initialization as relates to constructor"
This document explains that "If a class does not have a constructor, a parameterless constructor is automatically generated and default values are used to initialize the object fields. For example, an int is initialized to 0." This is misleading. Fields are initialized to default values regardless of which constructor is used. As stated more accurately in the "Fields (C# Programming Guide)" docume

[2020-02-21 01:18] Thraka commented on #14572
After quite a bit of research we discovered that you really just need to install the templates for the specific version you want. However, with .NET Core directly (not ASP.NET Core) the templates for older versions aren't currently published to NuGet and can't be installed. I'm working with the product unit on a plan to address this.

[2020-02-21 04:38] mairaw commented on #13281
Friendly ping @karann-msft @rohit21agrawal

[2020-02-21 06:08] udlose opened #17151 "Best practice for disposing of IAsyncEnumerable"
I'd like to know what the suggested pattern for cleanup is when working with `IAsyncEnumerable`.

I know that `Task` implements `IDisposable` but it's not necessary to use `Dispose` in that case based on @stephentoub 's excellent article - https://devblogs.microsoft.com/pfxteam/do-i-need-to-dispose-of-tasks/. Is it the same case for `IAsyncEnumerable` (i.e. don't worry about disposing) ?

Any sugg

[2020-02-21 07:29] nishanil commented on #15893
Hey @tanukus, We've updated the guidance and the referencing samples to 3.1. Thanks for your patience. Please do share your feedback on the content :)

Closing this issue.

[2020-02-21 07:29] #15893 closed

[2020-02-21 07:59] mairaw opened #17153 "Broken link to sample"
And this article also doesn't seem connected to the TOC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce840080-2d1b-6eab-df07-5adddb1d44c1
* Version Independent ID: c951952f-e5d9-2286-fea9-35cffa06d5ae
* Content: [Interpret ML.NET models with Generalized Additive Models - ML.NET](https://docs.microsoft.com/en-us/dotne

[2020-02-21 08:22] srinigudimella opened #17156 "Mac Publish"
Not able to see the .exe file in publish folder in MAC OS. The folder showing only below files.
helloworld.deps.json
helloworld.dllhelloworld.pdb
helloworld.runtimeconfig.json
Anything missed to follow or there will be separate process to publish for MAC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449b8ce2-80b3-9bf

[2020-02-21 09:05] #15782 closed

[2020-02-21 09:08] mairaw commented on #10210
Pinging @bartonjs on this again so you guys can know exactly what needs to be done for this issue

[2020-02-21 09:44] ericbrunner opened #17159 "Build the survey with nullable and non-nullable types"
Hi
In VS 2019 the warning is issued when the nullable reference type option is enabled like

[code]

for a property like that

`public string QuestionText { get; }
`

But, the `light bulb` das not offer to add the `?` to the type and make it nullable.

For clarification please take a look on that screenshot.

**Actual Behaviour**
A `Configure or Suppress Issue` suggestion. That is counter-intuitiv

[2020-02-21 09:44] #9555 closed

[2020-02-21 09:49] mairaw commented on #6613
Tagging @HongGit

[2020-02-21 10:04] mairaw commented on #2655
I'm closing this one. The XML reference content was only migrated to archive since we don't have resources to maintain that content.

[2020-02-21 10:04] #2655 closed

[2020-02-21 10:58] stephentoub commented on #17151
IAsyncEnumerator is an IAsyncDisposable, just as IEnumerator is an IDisposable. And you want to dispose it at similar times. await foreach will dispose the async enumerator it gets just at foreach will dispose the enumerator it gets. Etc. Just as IEnumerable isn't IDisposable, IAsyncEnumerable isn't either.

https://docs.microsoft.com/en-us/archive/msdn-magazine/2019/november/csharp-iterating-with

[2020-02-21 14:49] luisquintanilla commented on #14379
AB#1599455

[2020-02-21 14:50] ArthDevRepo opened #17161 "same Value Object instance in two aggregates not work"
If two aggregates have the same instance of an value object, always throws an exception.
How to solve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b14bbb-dc66-f1a2-8b14-39ef3b4bde1d
* Version Independent ID: cf912666-9ad3-1673-8f69-6bf52c034ef9
* Content: [Implementing value objects](https://docs.microsoft.com/

[2020-02-21 15:13] xenophilios opened #17163 "Suggestion"
Great article. Thank you.
I would like to suggest that you add some explanation on the use of "in" and "out" as modifiers of generic type parameters. For example, the generic form of IComparable is given as IComparable&lt;in T&gt; and the generic form of IEnumerable as IEnumerable&lt;out T&gt;. If explanations are already available in other documents, perhaps you could let us know where to find th

[2020-02-21 15:21] luisquintanilla commented on #17050
Hi @JamesCann

Thank you for your question. The parameters are specific to each model. In many cases, it's enough to know the height and width of the images used to train the model so when you try to use the model to classify / predict your data, you know the dimensions the model expects. In the case of this tutorial, the images were 224 x 224, which is what they're being resized to in the pipelin

[2020-02-21 15:21] #17050 closed

[2020-02-21 15:51] BillWagner commented on #17149
Thanks for writing this up @timjen3
I've added this to our backlog to update when we next update this article.

I agree with your recommendation to fix this issue. I've also added the "up for grabs" label. That way, any community members that want to can apply the fix.

thanks again.

[2020-02-21 15:53] BillWagner commented on #17151
Thanks for adding this issue @udlose

@stephentoub's comment is the right fix.

I've added this to our backlog, and I've added the up-for-grabs label for any community members that wish to make a contribution to address this.

[2020-02-21 15:54] BillWagner commented on #17159
This is a product question / issue.  @jinujoseph where should I move this?

[2020-02-21 15:54] bartonjs commented on #10210
I don't really remember any specifics of what we were going for.  Probably making sure samples are using modern algorithms (Aes instead of TripleDES or Rijndael; SHA256 instead of SHA1 or MD5) and making sure that SignedXml docs and samples are all consistent on messaging for concerns with https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.signedxml?view=netframework-4.8#

[2020-02-21 15:57] BillWagner commented on #17163
Thanks for writing this @xenophilios

We cover the `in` and `out` modifiers in [this article](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/covariance-contravariance/variance-in-generic-interfaces).

I'd recommend fixing this by adding a link to that article rather than repeating the information.

I've added the "up for grabs" and "good first issue" labels for any contr

[2020-02-21 16:46] #11896 closed

[2020-02-21 16:47] #16904 closed

[2020-02-21 17:03] luisquintanilla commented on #17153
Thanks for raising this issue @mairaw . I was already working on this but now we have an issue to track the work item to :)

[2020-02-21 17:15] #17147 closed

[2020-02-21 17:16] #17128 closed

[2020-02-21 17:17] luisquintanilla commented on #17153
AB#1667151

[2020-02-21 17:43] user2150 opened #17167 "A typo?"
"ContentControl and ItemsControl" section:
"Likewise, an ItemsPresenter that is in the ControlTemplate of an ItemsControl will automatically bind to the Items and ItemsPresenter properties."

ItemsPresenter ... bind to ... ItemsPresenter

It seems that instead of the second ItemsPresenter there should be ItemTemplate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-02-21 18:35] #16126 closed

[2020-02-21 18:37] jinujoseph commented on #17159
@BillWagner can you move this to roslyn repo pls

[2020-02-21 18:48] #17159 closed

[2020-02-21 18:48] BillWagner commented on #17159
Issue moved to [dotnet/roslyn #41869](https://github.com/dotnet/roslyn/issues/41869) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-21 18:54] tdykstra opened #17170 "Show how to honor the passed-in JsonSerializerOptions"
Provide examples showing how to honor options.

Related to https://github.com/dotnet/runtime/issues/31818

cc @ahsonkhan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de37d79-751f-e372-e866-efde28f4908c
* Version Independent ID: 678c4f23-764a-7ccd-0d6d-159a30957477
* Content: [How to write custom converters for JSON

[2020-02-21 19:03] xenophilios commented on #17163
Thank you for the link. The article at the end of it is very useful, but it seems to be dealing with a different issue.

[2020-02-21 20:18] #14803 closed

[2020-02-21 20:18] #12489 closed

[2020-02-21 20:18] #16821 closed

[2020-02-21 20:53] user2150 opened #17171 "Incorrect reference?"
The very last sentence (before "See also"): "If you are creating a theme for your custom control, see the External control library section of the Control authoring overview."

There is no "External control library" section in the "Control authoring overview" page.
https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/control-authoring-overview

---
#### Document Details

⚠ *Do not edit th

[2020-02-21 21:00] hamdam121 opened #17172 "Missing read line..."
Where is the ConsoleRead in your example? This ex returns nothing!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799f3460-8d63-76ac-0f6b-8dc09840da09
* Version Independent ID: 777bcccf-fc8b-5a95-114f-9a2e74e33318
* Content: [Command-Line Arguments - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp

[2020-02-21 21:21] udlose commented on #17151
Thanks for pointing out the error in my question as well.  I was incorrectly asking about `IAsyncEnumerable` being disposable - not `IAsyncEnumerator`.  I completely forgot that `IEnumerator` is an `IDisposable` - doh! I probably didn't remember since I don't remember having to create a custom `IEnumerator`.  The `foreach` totally makes it "black-box" for the user (which makes it so much easier to

[2020-02-21 21:46] Thraka opened #17173 "Revert note about translating code comments"
Revert PR #17129 at the end of April

[2020-02-21 21:52] tjoudeh commented on #15104
+1, spent some time comparing if IAsyncRequestHandler is still valid with MediatR 4.0.1, thanks @pawel-zolty for highlighting this.

[2020-02-21 22:07] Thraka commented on #17171
Thank you for reporting this.

[2020-02-21 22:09] Thraka commented on #17167
Thank you for reporting this.

[2020-02-21 22:48] Thraka commented on #17156
macOS doesn't use/produce .exe files like windows does. It's an extensionless file named after your project.

[2020-02-21 22:52] Thraka commented on #17172
@humdam121 Perhaps you can elaborate as to why you expected a `Console.Read` line? This article is demonstrating reading the command line arguments and printing them out. This means that you call the executable with an input value:

`myfile.exe argument` where **argument** is the value you pass to the executable and read through the `args` array.

[2020-02-21 22:55] #11668 closed

[2020-02-22 01:05] hjkl950217 opened #17177 "About nuget pack localized IntelliSense"
About localized IntelliSense,For file from .net core 3.1 's nuget,Need to do the following：
1.Merge the xml file in the IntelliSense file you just downloaded into the zh-hans folder.
2.Navigate to the .NET Core installation folder. By default, it's under %ProgramFiles%\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app.
3.select Select the latest version
4. copy zh-hans folder to "%ProgramFiles%

[2020-02-22 05:58] BentTranberg opened #17178 "Wrong function"
"... converts the result of WriteAllBytesAsync"
That should be ReadAllBytesAsync. Look in "Core concepts".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d104a34-4ca7-1a38-4e92-bc1aa18fb603
* Version Independent ID: 71f440a0-0e60-37a7-944f-132cfd64e6e5
* Content: [Async Programming - F#](https://docs.microsoft.com/en-

[2020-02-22 06:26] meowjesty opened #17179 "Table of functions: append for array says O(M) while others use O(N)"
This is an extremely minor thing, but the `append` table uses `O(M)` for array instead of `O(N)`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0694330-a4e4-5a07-2b6b-8259b57e319a
* Version Independent ID: 71e9da59-27a1-6194-3a69-09b9d3a383d4
* Content: [Collection Types - F#](https://docs.microsoft.com/en-us/dotnet/

[2020-02-22 13:24] #17178 closed

[2020-02-22 13:27] #17179 closed

[2020-02-22 16:15] jtheisen opened #17182 "I don't think .NET's regex engine is based on NFAs"
I think that's wrong.

An NFA implementation would be linear in both the regular expression length and the input length [as argued here](https://swtch.com/~rsc/regexp/regexp1.html): The NFA's number of states is linear in the length of the regex.

It's the implementations that are written as a recursive-descent-parser that are vulnerable to catastrophic backtracking - and since .NET's is, it's pre

[2020-02-22 17:30] akilisosa commented on #11250
this has still not been fixed. if you remove the import statement, and change Program to programs or something else it works.

[2020-02-22 17:33] akilisosa commented on #11250
i don't know how to fix it in focus mode, but hopefully you guys circle back to this problem.

[2020-02-22 23:21] yorgash commented on #10310
When you implement the get / set on Balance, you will not be able to write into it.
You will have to use the transactions to achieve the same effect. So if you want to keep the initial balance, you will have to change the mentioned line

into

This way the BankAccount constructor will still make use of and display your initialBalance properly.

[2020-02-23 08:16] cycbluesky opened #17186 "Dump memory from docker container?"
I have a app service using .net core 3.1,  deployed in docker on CentOS. Is there any way to dump the container memory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a269a64-0a27-27d3-a509-47b9a0d114bf
* Version Independent ID: 49ff97ff-b39a-5ae8-e4b8-81a4f8eab50c
* Content: [dotnet-dump - .NET Core](https://docs.mic

[2020-02-24 00:49] jdodds opened #17187 "General feedback about new-user experience with the docs for Query Expressions"
For context, I am:

+ relatively new to F#
+ have 0 prior .net experience
+ not using visual studio (rider/emacs)
+ not typically a windows dev
+ typically targeting .net core
+ the type of learner who follows along with sample code in language references

so this might be more of a *me* issue than not, but I was absolutely unable to get my environment set up to run the examples here,  running int

[2020-02-24 09:46] oleg-bronzhaiev opened #17189 "Notes on GC.KeepAlive are confusing"
The following statement from the post is confusing and not true:

The code example provided for the [GC.KeepAlive](https://docs.microsoft.com/en-us/dotnet/api/system.gc.keepalive) shows that GC doesn't know that Unmanaged Resource references Managed Object. Thus, it may make sense to utilize GC.KeepAlive to keep managed object in memory.

So, in particular, the statement below

may confuse the rea

[2020-02-24 10:02] Vaccano opened #17190 "IIS Details Needed"
How does this work in relation to IIS?

You cannot run self contained applications in IIS without also installing the target framework. (It complains about bad modules).

It would be useful to have a walkthrough of how IIS libraries are selected when multiple versions of the framework are installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-24 14:42] #15860 closed

[2020-02-24 14:42] #16335 closed

[2020-02-24 14:50] Dean-NC commented on #16409
I have the same question.  It's been another 2 months. When will you update this documentation?

[2020-02-24 16:17] BillWagner opened #17191 "Numbers in C# tutorial step 5"
@akilisosa commented on [Fri Feb 21 2020](https://github.com/dotnet/try/issues/794)

#### Describe the bug
Please provide as much information as you can.

#### Did this error occur while using `dotnet try` or online?
- [ x] `dotnet-try`
- [ ] .NET Jupyter Notebook
- [ ] online

#### What kind of error was it?
- [ ] User Interface (UI):  For example the output never displayed
- [ ] Service Error: F

[2020-02-24 16:18] BillWagner opened #17192 "Search and sort lists tutorial step 3"
@akilisosa commented on [Sat Feb 22 2020](https://github.com/dotnet/try/issues/795)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This is a request to add a challenge to the documentation. Also maybe brackets, and some other notation about the `if` (index != -1)` part.

**Describe th

[2020-02-24 17:05] Thraka commented on #16836
Really the easy solution for this is to do what @leecow suggested as a possibility:

If that happens, the instructions seem pretty straightforward for downloading the installer and getting this properly installed.

I agree, the tarball isn't optimal.

[2020-02-24 17:08] sdmaclea commented on #17186
/cc @dotnet/dotnet-diag

[2020-02-24 17:18] leecow commented on #16836
To be clear on the install instructions - Linux native installers are not a single bundle like Mac and Windows but are single component installers. So, the instructions would need to list the entire file set and explicit order they are installed. See an example in the [3.1 preview install instructions](https://github.com/dotnet/core/blob/master/release-notes/3.1/preview/3.1.0-preview3-install-inst

[2020-02-24 17:18] dagood commented on #16836
That's referring to the suggestion I posted earlier:

It's not trivial from the release perspective, since not all packages are built during every release--some packages have to be brought forward and redisted in the next. Once we do that manual work once, though, it shouldn't be too hard to pull down the last release, update it with the current patch, and reupload. Definitely seems worth doing.

[2020-02-24 17:19] leecow commented on #16836
Davis, are you thinking of building a single tar.gz which contains the correct installer set?

[2020-02-24 17:19] dagood commented on #16836
It's worked fine for me to include all packages in a single install command. I use `apt install ./*.deb` and stuff like that.

[2020-02-24 17:20] dagood commented on #16836
Yes, as an artifact of the release process, since we don't have access to the necessary bits at build-time.

[2020-02-24 17:21] leecow commented on #16836
@nakarnam as fyi

[2020-02-24 17:33] dagood commented on #16836
I tried this out with a fresh `ubuntu:19.04` Docker container, and the instructions are missing [`netstandard-targeting-pack-2.1`](https://packages.microsoft.com/ubuntu/19.04/prod/pool/main/n/netstandard-targeting-pack-2.1/), but after getting that and putting them all in the same dir, `apt install ./*.deb` does work fine. It installs the platform dependencies as well.

So as a note to the current

[2020-02-24 17:39] leecow commented on #16836
I just gave this a whirl on Fedora and it did use packages.microsoft.com to satisfy any missing dependencies such as the targeting pack which wasn't updated.

[code]
Or would we want these archives to be complete?

[2020-02-24 17:41] dagood commented on #16836
With the goal being an alternative when the AzLinux service is down, yes, they must be. For non-production preview instructions I suppose we care less, but it was a made for a nice trial run.

[2020-02-24 17:44] dagood commented on #16836
We could tell people to download a tarball of RPM/Debs for every release (3.0.0, 3.0.1, 3.0.2, ...) and pick out the RPMs/Debs they require, but that brings us back to a bad/undocumentable UX.

[2020-02-24 17:47] leecow commented on #16836
I like the idea of making them standalone. This will make the workflow pretty easy for folks to automate and it should be very stable.

[2020-02-24 17:59] #2922 closed

[2020-02-24 18:01] #17167 closed

[2020-02-24 18:01] #17171 closed

[2020-02-24 19:21] brcaswell commented on #15591
this consideration has been raised in https://github.com/dotnet/sdk/issues/10706 ... also, please ensure that this effort to document the defaults is included in "dotnet test -h".

[2020-02-24 19:28] Thraka commented on #17177
@hjkl950217 Are you doing this for SDK 2.2? This article is for 3.0+

[2020-02-24 20:20] Thraka commented on #17186
@dotnet/dotnet-diag if someone here can give the info on how to do this, that would be great! thanks!

[2020-02-24 20:33] Thraka commented on #17182
@jtheisen Hello. Does the intro at https://docs.microsoft.com/en-us/dotnet/standard/base-types/details-of-regular-expression-behavior describe it better?

I feel like this description should be adapted to this article.

[2020-02-24 21:34] jtheisen commented on #17182
I think it's incorrect, and it contradicts the article I linked.

It also contradicts everything I know from university about finite automatons. Neither DFAs nor NFAs do backtracking, the latter can merely be in multiple states at ones.

I'm pretty sure that the author didn't know what an automaton is.

If I'm wrong I bow my head in shame, but I don't think I am.

[2020-02-24 21:59] Thraka commented on #17182
I'm unsure really. I don't have enough knowledge either way. I just noticed that the difference between the two descriptions of the engine are pretty substantial in the wording. The link I linked to describes it as this first:

Then it goes on to say that it *also* does this:

While the article you filed this issue on seems to describe the .NET Regex system as an NFA *first and foremost*, which se

[2020-02-24 22:52] Thraka commented on #15591
@brcaswell That issue seems to be about something else, to enable `Console.WriteLine` to appear in console output without specifying the `-v` parameter.

[2020-02-24 23:25] julealgon opened #17198 "Add argument validation use case to discard documentation"
I think it would be helpful to add another use case to the standalone discard documentation for simplified argument validation.

From:
[code]

To:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8047b417-55af-c6df-9333-f1e1c428e594
* Version Independent ID: 8bcc16bb-c2d8-0b6d-af20-6958964efe9e
* Content: [Discard

[2020-02-25 00:23] cartermp opened #17199 "F# library and interactive reference readiness"
The F# library and interactive reference is now merged into a migration branch: https://github.com/dotnet/docs/pull/17004

There are many things that need to be fixed up before it can be considered for inclusion into the full F# documentation set. Here are some of them:

- [x] All snippet references need to be specified correctly in documents
- [ ] File names should be adjusted to be more URL-frie

[2020-02-25 00:24] brcaswell commented on #15591
@Thraka that issue workitem raised a few points, one being in regards to this issue where "the docs, mentioning only v2.1 and dotnet test -h say nothing about the default value for verbosity"

[2020-02-25 01:29] noahfalk commented on #17186
We have two different command line tools that can help with this:

1. [dotnet-dump](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump)
This tool collects a dump that is in the traditional Linux core format (when run on Linux). It can either be loaded in a native debugger such as lldb, or the dotnet-dump analyze command can do some kinds of analysis. If you have any familiarity w

[2020-02-25 03:17] hjkl950217 commented on #17177
yes,Just after doing this, 2.2 can also use localized files

[2020-02-25 04:52] Dragon-God opened #17202 "Include Multidimensional Jagged Arrays"
I think it would be helpful if an example of a multidimensional jagged array were added, perhaps something like the below:
[code]

An example of a jagged multidimensional array was provided, so I think including an example of a multidimensional jagged array would provide completion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-02-25 05:53] jtheisen commented on #17182
You could argue it's a description problem. NDAs cannot be executed literally after all, though I would argue that if you simulate them naively, you get the linear algorithm and there's still no backtracking involved.

[2020-02-25 06:58] poggdogg opened #17203 "Linux update commands could be simplified, don't need 2 updates and 2 installs"
sudo apt-get update
sudo apt-get install dotnet-sdk-3.1

can be reduced/simplified to:
sudo apt-get update
sudo apt-get install apt-transport-https dotnet-sdk-3.1

or a one-liner:
sudo apt-get update && sudo apt-get install apt-transport-https

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172f0b88-61f2-d631-478f-e88af

[2020-02-25 10:28] AlexChongMicrosoft opened #17205 "There is some findings when I install .NET Core in Windows Server 2016"
Hi Team,
I'm trying to install .NET Core 3.1.1 in Windows Server 2016. I tested several times and found that VC++2015 distributable is also the prerequisites on Windows Server 2016.

Additionally, the PowerShell automation method is not working for Windows Server 2016.
I get error message as "dotnet-install.ps1 is not digitally signed. You cannot run this script on the current system." But it coul

[2020-02-25 10:35] 0nly1ken0bi commented on #8804
Okay for point in reference, I agree with the original poster @thurstylark.

To my knowledge and this is what from I've picked up from numerous online tutorial videos is that the M denotes the use of currency i.e. "Money".

It would be beneficial to include what the "M" actually stood for and it's impact for beginners.  As mentioned above my point of reference for this has been from external commu

[2020-02-25 10:43] AlexChongMicrosoft commented on #17205
An update. I test 1 more time. In my personal Win2016, the PowerShell script worked. But in a new Azure VM with the same OS, It didn't work.

More specifically,  using the installer, I can run it successfully and after installation, I can find it in the C:\Program Files\dotnet\sdk. But without VC++ 2015 redis, the dotnet couldn't be recognized in PowerShell.

[2020-02-25 11:04] 0nly1ken0bi commented on #8804
Okay for point in reference, I agree with the original poster @thurstylark.

To my knowledge and this is from what I've picked up from numerous online tutorial videos is that the M denotes the use of currency i.e. "Money".

It would be beneficial to include what the "M" actually stood for and it's impact for beginners.  As mentioned above my point of reference for this has been from external commu

[2020-02-25 15:17] #9256 closed

[2020-02-25 16:18] BillWagner commented on #17198
That's a great suggestion @julealgon I've added it to our backlog to address.

Would you expect to find this under "discards", or "null checks"? I'd like to make sure this idiom is found once we add it.

[2020-02-25 17:30] pkulikov opened #17207 "Dos and don'ts of stackalloc"
The `stackalloc` article might be updated according to the following blog post:
https://vcsjones.dev/2020/02/24/stackalloc/

@vcsjones are you fine with that? If yes, @BillWagner could you please assign this issue to me. I'll try to add one-two new paragraphs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecde487e-96e

[2020-02-25 17:33] pkulikov commented on #17103
Related: #17191

[2020-02-25 18:04] TimmSkiller opened #17208 "The documentation doesn't mention any examples for nested loops"
The challenge requires to use nested loops, which are in fact mentioned, but there just aren't any examples on how they work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77dec100-463d-f684-03b6-25f511d1d18f
* Version Independent ID: 27921da6-71b0-6dfc-2824-c84844152d8e
* Content: [Branches and loops - Introduction to

[2020-02-25 18:23] vcsjones commented on #17207
My normal [licensing][1] for my blog posts is Creative Commons Attribution 4.0 International License, but I am happy to make any explicit grants or consents to get any useful content in to Microsoft's own documentation so that attribution is not required.

[1]: https://github.com/vcsjones/vcsjones.com/blob/master/README.md

[2020-02-26 00:53] liuxinjia opened #17214 "Not-allowed readonly example in .NET Standard 2.0"
**Issue description**

If the property only has a get accessor will cause an error.
[code]

**Target framework**

- [ ] .NET Standard 2.0

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]

[2020-02-26 14:02] nunorelvao commented on #16230
On my experience indeed this overview is good , but quite simplistic on real usage case, as mentioned by "ManWithoutName" i too thik that needs to talk also about Error Handling (How Exceptions are handled or should be, and how could you for example have a TASK function that is not "async" and inside how can you call another that is "async" . Beste practices with all possible scenarios (ERROR Hand

[2020-02-26 16:11] BillWagner commented on #17202
Thanks for writing this @Dragon-God

I think I see where you're going, but I'm curious where you've used a multi-dimensional jagged arrays? I'd like to map this feature to real uses.

[2020-02-26 16:28] BillWagner commented on #17207
Thanks @pkulikov and @vcsjones. I've assigned this to @pkulikov

In the PR, I'd like to make sure it links to @vcsjones 's blog. We should be explicit about citing the original work. (On our side, we have some tools to make sure the links resolve to a reasonable place in the future...).

I'd also like to make sure we tag @vcsjones in the PR so he can review it.

Thanks again!

[2020-02-26 16:30] BillWagner commented on #17208
Thanks for writing this @TimmSkiller

I've added it to an upcoming sprint to address.

[2020-02-26 16:33] BillWagner commented on #17214
Thanks for writing this @liuxh0

This is working correctly. C# 8.0 is not supported with .NET standard 2.0. You could edit the csproj by hand to get the C# 8.0 behavior.  See [this article](https://docs.microsoft.com/dotnet/csharp/language-reference/configure-language-version) for more details.

I'll close this as by-design.

[2020-02-26 16:33] #17214 closed

[2020-02-26 17:05] eddynaka opened #17220 "missing dotnet-counters commands"
this page is missing the following commands:
- collect
- ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4dadb56-569e-b390-b118-57c3b0225c13
* Version Independent ID: 50cf6a7e-e95e-a29b-67fd-26747f4440c1
* Content: [dotnet-counters - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-counters

[2020-02-26 17:09] sdmaclea commented on #17220
The `-p|--process-id` option was renamed to `ps` after the initial release. The documatation was never updated.

/cc @dotnet/dotnet-diag

[2020-02-26 17:18] sywhang commented on #17220
-p is not the same as ps. It’s —list-processes that was renamed to ps.

[2020-02-26 17:29] eddynaka commented on #17220
i will create a PR to update the docs, but, probably i will need some help with the "wording"

[2020-02-26 17:32] sywhang commented on #17220
https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-counters-instructions.md should have some of the wording you are looking for.

[2020-02-26 17:39] eddynaka commented on #17220
thanks @sywhang ! that will help a lot!

[2020-02-26 17:47] Thraka commented on #17190
We can add a note and point to the https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1 article. From that article it's noted that:

[2020-02-26 18:20] Thraka commented on #17205
Hi @AlexChongMicrosoft welcome to the repo! The PowerShell signing requirement has to do with a security setting on the machine via the `Set-ExecutionPolicy` command. There is an open issue to get the script signed: dotnet/sdk#10581 which avoids this completely. Also, depending on how you downloaded the scirpt, you may need to run the `Unblock-File` command too.

Regarding the the VC runtime, what

[2020-02-26 19:00] Thraka commented on #17189
@oleg-bronzhaiev Thank you for filing this issue. If I understand it correctly, you're saying saying that the clause should really state something more similar to

Yes?

[2020-02-26 19:34] #13813 closed

[2020-02-26 19:57] singhmss opened #17225 "Not getting default values on .NET 4.7.2 on Windows 10 (1709)"
I am running a console application targeting .NET 4.7.2 on Windows 10 (1709, OS Build 16299.755). When I checked the ServicePointManager.SecurityProtocol it had the value 'Ssl3, Tls' instead of SecurityProtocolType.SystemDefault as indicated in the section 'For HTTP networking' (#for-http-networking). When I used HttpClient to send a request to a server only accepting TLS 1.2 I got  an  exception,

[2020-02-26 21:32] jozefizso opened #17229 "The PackageIconUrl element is deprecated"
When I build my package, I get this warning:

[code]

This page documents **PackageIconUrl ** element only. There is no information about **PackageIcon**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additi

[2020-02-26 21:48] oleg-bronzhaiev commented on #17189
@Thraka Thanks for response. I'd rewrite the entire paragraph:

Editorial Notes:
- "aggressive" word has been removed, since it may confuse. Finalizer may run even when scheduled/planned garbage collection takes place.
- "lengthy Dispose method" have been removed, since it has nothing to do with Dispose method. The mentioned issue may happen in any method.
- The last sentence is heavily based on d

[2020-02-26 23:05] SidShetye commented on #16836
IMHO, whatever path the team takes, it needs to be a one liner. Try

[code]

The scrips itself then figures out what needs to be pulled from where, in what order and installed where.

[2020-02-26 23:14] karelz commented on #17225
Check your sample, try a minimal test like here: https://github.com/microsoft/dotnet/issues/1138#issuecomment-589779845

[2020-02-27 00:13] mairaw commented on #16482
Just found out that there dupe articles in other areas too. For example: https://docs.microsoft.com/en-us/previous-versions/hh534540(v=vs.140) has the links to the C# and VB version

[2020-02-27 00:54] chipplyman opened #17235 "Default versions incorrect for older versions"
A recent change removed important text "The C# compilers that are part of the Visual Studio 2017 installation or earlier .NET Core SDK versions target C# 7.0 by default."

IMO this text should be re-added, as well as information about langversion defaults for older VS versions.  According to https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing, VS2017 is still supported through 20

[2020-02-27 01:30] Thraka commented on #17189
If you would like to contribute a change, which can be reviewed by the team, you can submit an edit to the original article. Click on the **Content Source** link at the bottom of the first issue comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

[2020-02-27 02:25] g0pinath commented on #6747
How about Azure VM, can you please add instructions on how to mount the DVD on Azure VM.

[2020-02-27 07:52] quantrpeter opened #17241 "-bash: /usr/local/bin/pwsh: No such file or directory"
Hi, please help, thanks

[code]

[2020-02-27 10:43] singhmss commented on #17225
@karelz I am testing with an simple application similar to your sample. I was debugging it on VS2015 and this point was discussed in the issue #1138. When I run the application directly from command  line I get SystemDefault as expected. Also I debugged the same application on VS2017 and I got SystemDefault as expected.

So it indeed seems that when debugging on VS2015 ServicePointManager.Security

[2020-02-27 11:25] Dragon-God commented on #17202
I actually just started learning C# recently (mostly from the docs). I haven't written much practical code with it yet.

[2020-02-27 12:13] djaus2 opened #17242 "Tabs are only for up to V2.1 need 3.1"
**Issue description**

The .NET Core documentation, eg dotnet publish command, only is for V2.1 and below. Need a 3.1 tab, even if nothing is changed.

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

- [ x] .NET Core  3.1
- [ ] .NET Framework
- [ ] .NET Standard

If using the .NET Core SDK, include `dotnet --info` output. If using .NET Frame

[2020-02-27 14:02] BillWagner commented on #17202
Thanks for the clarification. For now, I'll close this without action. Readers can infer this capability from the other examples. I'm also not sure how useful this is in practice.

[2020-02-27 14:02] oleg-bronzhaiev commented on #17189
Ok, thanks. I may submit for review, so I'm closing the issue.

[2020-02-27 14:04] #17202 closed

[2020-02-27 14:06] BillWagner commented on #17235
Thanks for writing this @chipplyman We should add that back in.

I've added it to our next sprint, and I've added the "up for grabs" label. You've included the text that should be restored in the description of this issue. If community members are interested in submitting a PR for this, we'll watch for it.

[2020-02-27 14:10] #17220 closed

[2020-02-27 17:56] tdykstra commented on #10245
Closing this, as the issues directly related to local tools are done. Two related issues are outstanding:

* #16895 (add CLI to dependencies article) will be closed by #17245
* #16901 (salvage useful parts of extensibility article) will be addressed when #gewarren adds the content identified as still useful to [Customize the build](https://review.docs.microsoft.com/en-us/dotnet/core/project-sdk/ov

[2020-02-27 17:56] #10245 closed

[2020-02-27 18:21] #9893 closed

[2020-02-27 18:34] Thraka commented on #17182
@maryamariyan can you help here?

[2020-02-27 18:37] KitPatterson opened #17248 "Missing documentation"
What does this property mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d82018-baca-ba95-f165-1c8c5be8f45b
* Version Independent ID: 4451cff1-8f80-7350-2c09-7e44b9ee8039
* Content: [AdhocWorkspace.CanOpenDocuments Property (Microsoft.CodeAnalysis)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalys

[2020-02-27 19:17] #6196 closed

[2020-02-27 19:19] karelz commented on #17225
Great, culprit has been identified -- VS 2015 debugger targeting older version of .NET Framework. We close this issue.

Regarding your next question - I don't have expertise in comparing versions. I would make sure you have Security and Quality Rollup installed which is older than September 2017. The page also lists [How to: Determine Which .NET Framework Versions Are Installed](https://docs.micro

[2020-02-27 19:20] karelz commented on #17225
@BillWagner who can help us get this issue closed?
Is there a reason why members of runtime team who have content in docs don't have RW permissions to docs repo?

[2020-02-27 19:25] BillWagner commented on #17225
@karelz

That's easy to fix. The `dotnet-corefx` team has write access to [dotnet/dotnet-api-docs](https://github.com/dotnet/dotnet-api-docs). Should I give permissions to the same team, or is there a more appropriate team to add?

[2020-02-27 19:26] karelz commented on #17225
@BillWagner same team please, thanks!

[2020-02-27 19:27] BillWagner commented on #17225
@karelz Done.

[2020-02-27 19:28] #17225 closed

[2020-02-27 19:41] eerhardt commented on #17182
I believe the wording could be updated from

To

to better describe the engine. The article linked above (https://swtch.com/~rsc/regexp/regexp1.html), describes an approach using NFAs in a non-backtracking way: by tracking all the possible states at the same time. So yes, it is possible to use NFAs, but not use backtracking. Just because an engine is using NFAs doesn't necessarily mean it can have

[2020-02-27 19:56] stephentoub commented on #17182
Right, it's a question of how you handle the ability to be in multiple states at the same time.  You can try one thing and if it fails backtrack to try the next, or you can keep track of all of the possible states you're in at each step.  The latter is often referred to as a "Thompson NFA".

[2020-02-27 21:51] Enigmativity opened #17253 "Thread-safe?"
This code doesn't appear to be thread-safe and that's an important part of Rx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9b221a-156f-fcbb-f853-374b8a567ea8
* Version Independent ID: 8c32046d-1f4d-7328-de46-d578e250aa83
* Content: [How to: Implement a Provider](https://docs.microsoft.com/en-us/dotnet/standard/eve

[2020-02-28 01:01] kendrahavens opened #17255 "Add dotnet test --collect:"Code Coverage" instructions"
We should mention either the [dotnet code coverage](https://github.com/microsoft/vstest/issues/981) cli option or Coverlet.

This link: https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#working-with-code-coverage does not cover the  dotnet test --collect"Code Coverage"

Related to #17256

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-02-28 01:08] kendrahavens opened #17256 "The --collect option should include code coverage example"
https://github.com/microsoft/vstest/issues/981

Related to #17255

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-

[2020-02-28 06:56] jtheisen commented on #17182
@stephentoub Well, the second implementation still is an *automaton*, ie. a program of finite state (for each given regex). That includes all state, including all stack and heap required for the implementation that isn't directly representing the NFA states. The first implementation may be "based" on an automaton, but it's not actually an automaton as it requires the additional bookkeeping require

[2020-02-28 09:58] #17087 closed

[2020-02-28 14:02] stephentoub commented on #17182
I think this is splitting hairs.  The terminology as it applies to regular expressions is well-accepted.  If we're going to go by strict theoretical terminology, these aren't regular expressions, either, in that they can be used to describe things that aren't possible in regular languages.

[2020-02-28 14:07] BillWagner commented on #17248
ping @jinujoseph

Who should I route this toward?

[2020-02-28 14:30] jtheisen commented on #17182
You have a link to another source calling backtrackers "NFA implementations"?

I don't doubt you, I'm just curious.

While you may be right in that it's generally accepted terminology by regex-pros, we're talking about documentation targeting a much more general audience. With your argument you could probably drop a lot more. What I generally like about much of the MS docs is that they often give

[2020-02-28 16:39] ma-majumder commented on #1433
Add missing entry for your project in *.sln file under **ProjectConfiguration**. There should be four entry for each project.

[code]

In my solution file `{PROJECT_GUI}.Debug|Any CPU.Build.0 = Debug|Any CPU` was missing.

[2020-02-28 17:28] stephentoub commented on #17182
Sure, e.g. Jeffrey E. F. Friedl's Mastering Regular Expressions, considered by many to be the regex bible.

[2020-02-28 18:00] Thraka commented on #17203
Duplicate of #16262

This is currently needed and there is a discussion on this at https://github.com/dotnet/docs/issues/16262#issuecomment-566227335

Cheers!

[2020-02-28 18:00] #17203 closed

[2020-02-28 18:00] Thraka commented on #17203
Duplicate of #16262

[2020-02-28 18:00] mssteele commented on #17163
@xenophilios I think that article is answering your question - the `in` and `out` modifiers are to indicate  contravariance and covariance. Unfortunately the article does not mention the syntax.
[This article](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/covariance-contravariance/creating-variant-generic-interfaces) does.
There's also a good Stack Overflow answer [here

[2020-02-28 18:41] tdykstra commented on #16912
Options can go before or after the project file path, so it's just a difference in format between help text and doc.

The help text doesn't put the PROJECT|SOLUTION argument in brackets but the text explains that it could be omitted.

I did find some discrepancies in the options listed in help vs. the doc -- #17264 will fix those.

[2020-02-28 18:41] #16912 closed

[2020-02-28 18:56] DamianEdwards opened #17265 "Missing details on using ref packs, which greatly impacts building projects that target .NET Framework from non-Windows platforms including Linux and MacOS"
The .NET Core SDK will fail when trying to build projects that target a .NET Framework TFM from a non-Windows machine, due to missing reference assemblies. It prints an error which includes a link to this page to acquire a ref pack, but this page doesn't mention acquiring or using ref packs from non-Windows machines, via the newly released ref pack NuGet packages, e.g. Microsoft.NETFramework.Refer

[2020-02-28 18:57] richlander commented on #17265
The scenario isn't really non-windows. This equally applies to Windows machines where you didn't install the right targeting pack.

[2020-02-28 19:00] DamianEdwards commented on #17265
Indeed, however in that case I believe the URL in the error message would at least direct someone to a page where they can download a Windows ref pack. For non-Windows platforms they land somewhere with no detail on how to fix their problem.

[2020-02-28 19:09] richlander commented on #17265
This assumes it would be convenient for them to install (what I assumed is an MSI) it. For example, even with Windows DevOps agents, this approach is way more convenient. In any case, I'm pretty sure we agree.

[2020-02-28 19:11] xenophilios commented on #17163
Thank you very much!

[2020-02-28 19:14] DamianEdwards commented on #17265
If you're implying that our primary guidance on getting reference assemblies for .NET Framework should be updated to to equally recommend (or even primarily recommend) the new ref pack NuGets, I don't disagree.

[2020-02-28 20:53] tdykstra commented on #17242
@djaus2  The .NET Core CLI documentation was recently updated for 3.1.  Which articles does this issue refer to that aren't yet updated?

[2020-02-28 20:57] tdykstra commented on #17241
@quantrpeter This repository is for .NET Core documentation -- which article is this in reference to? If this is a support request, you'll probably get a quicker response if you post a question at a support forum such as StackOverflow.com.

[2020-02-28 21:04] tdykstra commented on #17229
Thanks for letting us know. We'll update the page, and until that is done you can find the information about `PackageIcon` at https://aka.ms/deprecateIconUrl

[2020-02-28 22:13] jrimig opened #17266 "WPFHostingWin32Control sample and walkthrough missing RegisterTouchWindow()"
**Issue description**

The [WPFHostingWin32Control sample](https://github.com/Microsoft/WPF-Samples/tree/master/Migration%20and%20Interoperability/WPFHostingWin32Control) and [walkthrough](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/walkthrough-hosting-a-win32-control-in-wpf) are missing a call to [RegisterTouchWindow()](https://docs.microsoft.com/en-us/windows/win32/api/winuser

[2020-02-28 22:28] jinujoseph commented on #17248
Should be roslyn @jasonmalinowski  will you help doc this API

[2020-02-28 22:49] mylastsong18 commented on #12188
Since C# 8 is now released can you guys add it to the docs?

[2020-02-28 22:50] #8988 closed

[2020-02-28 22:50] #14122 closed

[2020-02-29 07:02] quantrpeter commented on #17241
dotnet tool install --global PowerShell --tool-path ~/bin

[2020-02-29 07:02] #17241 closed

[2020-02-29 08:55] jtheisen commented on #17182
He indeed even calls backtracking "the essence of an NFA engine".

I'm closing now and be on my way, thanks for listening.

[2020-02-29 08:55] #17182 closed

[2020-02-29 12:24] lazaridiscom opened #17272 "How to Generate the Docs Locally?"
I like the documentation very much, especially the full-toc-pdf dowload and the MD-source usage:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/

Me trying to convince the isocpp cpp guideline-project to adopt this style of docs (https://github.com/isocpp/CppCoreGuidelines/issues/1575).

Yet it seems that the documentation-generator is not publicly available.

Any chances to ge

[2020-02-29 14:20] #17189 closed

[2020-02-29 18:42] martingbrown opened #17273 "Incorrect function reference?"
"Some of these Run methods, such as the Task.Run(Func&lt;Task&gt;) overload, exist as shorthand for the TaskFactory.StartNew method. Other overloads, such as Task.Run(Func&lt;Task&gt;),"

The same method is referenced twice here. I'm not sure that makes sense.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cabcc3ba-903

[2020-03-01 03:40] AlirezaHaghshenas opened #17274 "There is no information on how to update to latest patch release"
For instance, I have 3.1.1 installed, 3.1.2 is out, apt update, apt dist-upgrade does nothing.

Please add documentation on how to update to latest patch release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cbe58d-ad05-60fd-47d7-0d9ccfeecde4
* Version Independent ID: c9773e9b-dbc1-cb7b-b303-287cf8bd354c
* Content:

[2020-03-01 10:16] toqueteos commented on #16912
Thank you! I'll recheck why my test were not running.

[2020-03-01 11:38] djaus2 commented on #17242
OK,
I must have had some older version in my browser cache ??
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish
Is updated.

From: Tom Dykstra <notifications@github.com>
Sent: Saturday, 29 February 2020 7:53 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: David Jones (MVP) <davidjones@sportronics.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Tabs are onl

[2020-03-01 11:38] djaus2 commented on #17242
OK
Checked https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish
That is OK

[2020-03-01 11:38] #17242 closed

[2020-03-01 13:37] ClickRick opened #17275 "Local functions cannot be overloaded"
A method cannot contain two local functions with the same name but different parameters. That is, overloaded local functions are not supported.

void MyMethod()
{
    void MyLocalMethod(int n) { /*...*/ }
    void MyLocalMethod(double d) { /*...*/ } // CS0128
}

The article did not make this clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-01 16:18] VilasMahalle opened #17276 "interface members can't have a defination"
public interface IControl
{
    void Paint() => Console.WriteLine("Default Paint method");
}
interface members can't have a defination, please remove above code lines.

[2020-03-01 18:10] brcaswell commented on #13281
It's odd because I thought I had this working in VS2017 at some point, but in VS2019 I keep getting invalid form errors with it.. please show a valid example of using NugetProperties, not `<NuspecProperties>add nuspec properties here</NuspecProperties>`

[2020-03-01 18:35] brcaswell commented on #13281
ah.. I see.. I had htmlencoded characters in my description that was giving me false positives here; so that's a concern here...

![image](https://user-images.githubusercontent.com/967010/75631352-bf9b7300-5bb7-11ea-9b8f-033074ca6eab.png)

this built after removing the characters, so a good example could include separate lines for each key=value assignment.

note that I'm attempting to use a singl

[2020-03-02 01:05] karann-msft commented on #13281
@nkolev92 - can you please help here or open one on the nuget side.

[2020-03-02 08:04] nishanil commented on #16500
The PR is merged. Closing this one.

[2020-03-02 08:04] #16500 closed

[2020-03-02 08:14] nishanil commented on #16993
@jmichas Thank you for the heads up! We have rephrased the sentence in the PR. Closing this issue now.

[2020-03-02 08:14] #16993 closed

[2020-03-02 08:17] StanislawFlorczyk opened #17277 "Duplications"
Beginning of the Enumerator objects chapter duplicated
The Enumerable interfaces chapter duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94b01ab-fe87-23fc-44b6-da9f3f627bd5
* Version Independent ID: a86008b1-2fdd-bbb9-3bbf-8fc8c51c1b71
* Content: [Classes - C# language specification](https://docs.microsoft.c

[2020-03-02 08:29] #17277 closed

[2020-03-02 08:32] StanislawFlorczyk commented on #17277
My mistake this is about Enumerator and Enumerable but looks very similar I think that could be better arranged

[2020-03-02 09:29] svick commented on #17276
They can, starting with C# 8.0/.Net Core 3.0, thanks to [default interface methods](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#default-interface-methods). Though I think the article could be clearer that this is a new feature and provide a link with more information.

[2020-03-02 09:34] svick commented on #17276
cc @BillWagner (who [added this code](https://github.com/dotnet/docs/pull/17093) to [the article in question](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interface-implementation))

[2020-03-02 12:52] tmds opened #17278 "Linux package overview"
The download link from https://dotnet.microsoft.com/download for Linux is https://docs.microsoft.com/dotnet/core/install/linux-package-managers.

This gets mapped to 'Ubuntu 19.04':

https://github.com/dotnet/docs/blob/14e406d374236160b3715f453843deb979ff38ff/.openpublishing.redirection.json#L165-L166

This is a bit opinionated. Maybe there can be a page that list different Linux distros?

The lef

[2020-03-02 13:29] naughtyGitCat opened #17279 "If inhreit from EmployeeListNotFoundException, do I need overwrite the three init method?"
for example :

just do this:

class EmployeeListNotFoundDueToNetWorkException : EmployeeListNotFoundException{}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041f6b4c-2b7e-5332-f24e-12af7a5b07aa
* Version Independent ID: e9c2287f-1c4e-ee07-a1ff-77a3f07ce1a4
* Content: [How to: Create User-Defined Exceptions](https://d

[2020-03-02 13:38] paulmarshall opened #17280 "Manual Install"
Is there an option to download the tool locally (as a package) and to install from that package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7df78c19-0c6f-fe28-213c-b51dd73398ef
* Version Independent ID: 80822879-4c2e-1c28-ae04-1adb5e7e8a99
* Content: [dotnet tool install command - .NET Core CLI](https://docs.micros

[2020-03-02 16:15] tdykstra commented on #17280
You can download the .nupkg file from Nuget.org to a local directory and point to that directory with the `--add-source` option. For an example of installing from a local directory, see the [local tools](https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use) or [global tools](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools-how-to-use) tutorials.

[2020-03-02 16:17] BillWagner commented on #17276
Thanks for writing this @VilasMahalle
As @svick points out, interfaces may define a default implementation for some member types starting in C# 8.

I've add this issue to the current sprint to clarify that this feature is only available in C# 8, and to link to the other articles where this is discussed.

[2020-03-02 16:33] BillWagner commented on #17275
Thanks for writing this @ClickRick

I'd like your thoughts on this. We typically don't exhaustively document what *can't* be done. In the case of local functions, we also didn't mention the following restrictions:
- local functions can't be virtual or abstract
- (related) local functions can't be marked override or sealed
- local functions can't have access modifiers

The restriction on overloads

[2020-03-02 16:34] BillWagner commented on #17272
cc @dend @rloutlaw Should this issue be moved to MicrosoftDocs/Feedback?

[2020-03-02 16:36] #17248 closed

[2020-03-02 16:36] BillWagner commented on #17248
Issue moved to [dotnet/roslyn #42092](https://github.com/dotnet/roslyn/issues/42092) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-02 17:15] siya003 opened #17285 "System.InvalidOperationException at IDataView trainingData =.."
System.InvalidOperationException: 'Field 'ImagePath' is missing the LoadColumnAttribute attribute'
It seems some problem with the tags.tsv file down loaded from assets location. Please help to resolve the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version Independent ID

[2020-03-02 18:28] mairaw commented on #12237
It would be good to prioritize this update. I'm updating the .NET Core support policy page (https://github.com/dotnet/website/pull/1782/) and I'm going to link to this article since the behavior changed over time.

[2020-03-02 18:52] ClickRick commented on #17275
Virtual/abstract/override/sealed only make sense in certain contexts, most notably in a class, so a stand-alone function wouldn't make sense with those modifiers.
The article specifically _did_ mention that local functions can't have access modifiers.
Generics are supported. Optional parameters are supported (unsurprisingly).
I came across the case because I found a use for it (one taking an int,

[2020-03-02 18:57] natke commented on #17285
Thank you for reporting this issue @siya003. We are looking into it.

[2020-03-02 18:59] sdmaclea commented on #12237
/cc @vitek-karas @richlander

[2020-03-02 19:02] tdykstra commented on #9198
The reason is that this section's purpose is only to illustrate the use of options and arguments.  It could do dotnet new and dotnet run but that wouldn't use options and arguments.

[2020-03-02 19:02] #9198 closed

[2020-03-02 19:10] mvelosop commented on #17115
Hi @TheElectricCo, thanks for the heads up 😊

Fixing it now.

[2020-03-02 19:10] tdykstra commented on #12970
For information about hosting in IIS, see the [ASP.NET Core documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy).

[2020-03-02 19:10] #12970 closed

[2020-03-02 19:28] nkolev92 commented on #13281
I don't think the escaping is necessary in the example.
Beyond that it's msbuild's parsing that can be tricky.

[2020-03-02 19:35] tdykstra commented on #11928
There is a page in the NuGet docs:  https://docs.microsoft.com/nuget/reference/errors-and-warnings/nu3004

[2020-03-02 19:35] #11928 closed

[2020-03-02 19:42] #13489 closed

[2020-03-02 21:12] brcaswell commented on #13281
Pardon me, I don't want to confuse anyone... the issue regarding the encoding can be created on it's own; it was only relevant to explain why I had trouble implemented NuspecProperties and had to lookup an example of it's usage in the documentation (which was underwhelming).

the key=value (on each line) and nuspec variables as an example are what is relevant to this issue (at least the last issue

[2020-03-02 22:04] natke commented on #17285
Hi @siya003, we cannot reproduce your issue. Can you please provide some more details about the environment on which you are developing the application, such as: operating system, development environment etc, and a more detailed log of the error.

[2020-03-02 22:26] brcaswell commented on #13281
actually, my apologize.. I just realized this issue was related to the content of dotnet-pack command page.. my consideration was to [msbuild-targets #packing using a nuspec](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec) the referenced link in these comments.

sorry for the confusion.

[2020-03-02 22:32] brcaswell commented on #13281
in the following snippet on the page:

does `-p:NuspecProperties="id=$(PackageId)"` work?

if unspecified (like the example does currently), does it use `NuspecProperties` in the csproj file?

I think these are the considerations being raised on this page.

[2020-03-02 22:38] BillWagner commented on #15046
This is now a tracked project in the [dotnet/csharplang](https://github.com/dotnet/csharplang/projects/5) repo.

Closing this and tracking progress there.

[2020-03-02 22:38] #15046 closed

[2020-03-02 22:48] Bartmax opened #17293 "Breaking change not listed."
Looks like this is a breaking change not listed for 3.1: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.mvcoptions.suppressimplicitrequiredattributefornonnullablereferencetypes?view=aspnetcore-3.1

which change the behavoir of previously non `[Required]` properties. More info:
https://github.com/aspnet/jquery-validation-unobtrusive/issues/121

---
#### Document Details

⚠ *Do

[2020-03-03 01:55] lazaridiscom commented on #17272
(General Remark: github is not the right place for documentation workflow, especially not for an organization of the size of Microsoft. Even the "Repository Listing" does not work for organizations like MS => Missing sub-organizations)

Now, my issues affects "Contribution Process Mentioned within this Repo", namely to "provide the means to generate the docs locally" => developer related.

Whereas

[2020-03-03 02:13] BillWagner opened #17297 "Move snippets into the docs"
We've found that keeping snippet (code) projects in a different repository than the articles where they are includes introduces unnecessary friction in updating articles.

So, we plan to move snippets into the dotnet/docs and dotnet/dotnet-api-docs repositorites.

The dotnet/samples repository will be the home of larger scenario-based samples that may be referenced from tutorials or other long-for

[2020-03-03 02:15] BillWagner commented on #14824
replaced by the updated plan in #17297

[2020-03-03 02:15] #14824 closed

[2020-03-03 02:15] BillWagner commented on #14825
replaced as part of #17297

[2020-03-03 02:15] #14825 closed

[2020-03-03 04:28] 2230858275 opened #17306 "d15d12111"
58d564ad41

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9491cf7-9be8-f55d-1e55-cdfb4316fe86
* Version Independent ID: fd533ab6-173d-58a4-dac8-9eb6b5ef7c20
* Content: [Install the .NET Framework on Windows XP](https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-xp?utm_source=getdotnet&utm_medium=refe

[2020-03-03 04:29] 2230858275 opened #17307 "ksbai"
555561121

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9491cf7-9be8-f55d-1e55-cdfb4316fe86
* Version Independent ID: fd533ab6-173d-58a4-dac8-9eb6b5ef7c20
* Content: [Install the .NET Framework on Windows XP](https://docs.microsoft.com/en-us/dotnet/framework/install/on-windows-xp?utm_source=getdotnet&utm_medium=refer

[2020-03-03 09:10] aramacciotti opened #17309 "WCF Migration usage"
Few questions about the statement "Migrate a WCF solution to gRPC":

1. Is it possible to reach gRPC service using a "net.tcp" protocol endpoint?
2. Am I correct that any existing client needs at least to change namespace of the old client instance to reach the gRPC migration result?
3. May I call a gRPC .Net Core server from a .NET Framework client and which is the way to add the relative Connect

[2020-03-03 09:16] #16754 closed

[2020-03-03 12:48] mvelosop commented on #16456
Hi @klettier, thanks for the feedback!

I've been reading this issue and related PR, or quite a while, including the related issue [Confusing Cancellation in BackgroundService (dotnet/extensions#1245)](https://github.com/dotnet/extensions/issues/1245), and find the whole topic quite interesting.

However, from issue https://github.com/dotnet/extensions/issues/1245 the only thing that's clear to me

[2020-03-03 14:01] mvelosop commented on #17071
Hi @KrzysztofBranicki, thanks for the feedback.

You're right, that line will never be executed!

I'll also add a try-catch to the actual code to showcase how to properly handle the `TaskCancelledException`

Hope this helps.

[2020-03-03 14:02] johngrayuk commented on #15087
In case anyone arrives here looking to transform their web.config via dotnet publish, you can do this with (for example):

dotnet publish -o site /p:EnvironmentName=Staging

Adds the following to your web.config in the publish directory:

<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />

[2020-03-03 14:41] krislievens opened #17312 "Operator precedence ("Conditional OR" vs "Conditional operator") not as described"
bool a = true;
bool b = false;
bool c = false;
bool d = false;
Console.WriteLine(a||b?c:d);

Should return true according to documentation ("Conditional OR" has precedence over "Conditional operator") but returns false.

[2020-03-03 14:48] #17312 closed

[2020-03-03 15:54] #16192 closed

[2020-03-03 16:04] aramacciotti opened #17313 "Metadata object serialization"
Is it possible to add a typed object to Metadata? Otherwise, how it has to be serialized/deserialized to be compliant with System.ServiceModel.Channels.MessageHeader?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6abff99-6bed-86bc-be01-440e8ef690f7
* Version Independent ID: 198fbbc5-8def-53ca-179a-5efa2f1476f9
* Cont

[2020-03-03 16:07] BillWagner commented on #17275
Thanks for adding those remarks @ClickRick

I've added this to the list of issues we'll address when we next update this article.

[2020-03-03 16:27] #14334 closed

[2020-03-03 16:36] #17280 closed

[2020-03-03 16:39] #12465 closed

[2020-03-03 17:05] #16852 closed

[2020-03-03 17:32] mvelosop commented on #17161
Hi @ArthDevRepo,

Value objects (VO) are not supposed to be shared, so don't, Use different instances.

If you need to share it, then don't use a VO.

Hope this helps.

Closing this issue now as it's not related to the guide.

[2020-03-03 17:32] #17161 closed

[2020-03-03 17:52] mvelosop commented on #17028
Hi @Loreno10, thanks for the feedback.

Thanks @ccerhan for your comment too 😊, that's indeed the case.

Lower-level here means that it includes the core features, and then some, but there are other features that are important for production deployments that you'd have to implement yourself.

That's why the [Additional resources](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/m

[2020-03-03 19:59] tdykstra commented on #17297
The plan for the new folder structure that we’re moving to after the initial move-everything-at-once stage says put snippets folder in the same folder as the article.  Some folders have lots of articles, and we wouldn’t want one folder for all of the snippet projects.  E.g. standard/base-types has a couple dozen articles.

Suggestion -- under _snippets_ use a folder named after the article:

* Bas

[2020-03-03 21:51] antmdvs opened #17321 "Consider adding `new DefaultHttpContext()` to `Mock<DefaultHttpContext>` alternatives"
https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0#http-defaulthttpcontext-extensibility-removed

After some research, it seems `new DefaultHttpContext()` is a valid way way to mock `HttpContext` in unit tests. Should this be added to the above-quoted line? Otherwise, it could be questioned whether newing a `DefaultHttpContext()` is a Microsoft-accepted practice or `Mock<HttpContex

[2020-03-03 22:07] valleyjo opened #17322 "Update use of HttpClientHandler to SocketsHttpHandler"
Looks like starting with .net core 2.1+ the preferred HttpMessageHandler implementation is SocketsHttpHandler not HttpClientHandler  as listed in this page's example.

This page should be updated to reflect this guidance.

Source: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=netcore-3.1&viewFallbackFrom=netframework-4.8

---
#### Document Details

⚠ *Do not e

[2020-03-03 22:09] anurse commented on #17321
Yep, it's a totally reasonable option. Since most of the properties are settable and easy to override it means you often don't even need a mock at all! I'm in favor of adding it as another alternative to that breaking change note.

[2020-03-03 22:38] #17321 closed

[2020-03-03 23:56] shirhatti commented on #17322
Starting with .NET Core 2.1, the `HttpClientHandler` by default uses `SocketsHttpHandler`. There's no need to explicitly new up a `SocketsHttpHandler`. The supplied code sample is reflective of this guidance

[2020-03-03 23:57] shirhatti commented on #17322
Feel free to re-open if you have follow-up questions

[2020-03-03 23:57] #17322 closed

[2020-03-04 00:07] shirhatti commented on #17313
There's no first class of adding a typed object to metadata. We do however allow you to supply a byte[] as the metadata value.

What are you trying to accomplish?

cc @JamesNK

[2020-03-04 00:11] JamesNK commented on #17313
Metadata is placed in HTTP headers which are string based. If you want to send a typed object in a header then you will need to serialize and deserialize it yourself.

[2020-03-04 02:08] valleyjo commented on #17322
Got it thanks for the explanation.

[2020-03-04 02:13] JuanZamudioGBM opened #17326 "inheritdoc is per member?"
For example with this interface:

[code]

Method in TestClass will inherit the documentation also or do I have to add another &lt;nheritdoc /&gt; in Method as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04441bbc-7e98-d6df-2c5a-20e816d79dc7
* Version Independent ID: ba155807-a2b0-8982-abe7-fac1e2b51a7d
* Conten

[2020-03-04 03:30] NicolasDorier opened #17327 "What is the usage guideline for span parsing methods consuming variable amount of bytes?"
Here is my usecase, I am creating a class called `PubKey` which represent a public key in my system.
I need to deserialize the bytes into a `PubKey` the bytes can be either 33 bytes or 65 bytes. The consumer need to know how many bytes has been consumed from the span.

What is the best way?

Producer:
[code]
Consumer:
[code]

Or
Producer:
[code]

Consumer
[code]

The second method seems to be less

[2020-03-04 07:17] aramacciotti commented on #17313
Thanks, I got that. What I was asking is a suggestion about how they are serialized by a WCF client in order to correctly deserialize in a gRCP service

[2020-03-04 07:24] aramacciotti commented on #17313
I need to migrate a WCF service to a .Net Core service without requiring any change in the multiple WCF clients that currently consume them. I'm checking if gRPC is a possible solution and at the moment I see as a possible issue the fact that such WCF services are expecting some objects in the headers (obviously they are serialized and deserialized but it happens in background by the .Net Framewor

[2020-03-04 08:19] liuxh0 commented on #17214
Hi @BillWagner , I think you tagged the wrong person 😅

[2020-03-04 10:03] #17115 closed

[2020-03-04 10:45] bruzkovsky opened #17331 "Problem loading appsettings.json"
I followed this tutorial to setup my Dockerfile like this:

[code]

I noticed that the appsettings.json was not loaded. Then I found this answer on SO:
https://stackoverflow.com/a/43644916/13005218

The proposed solution is to copy the appsettings.json into the root directory, but I found that setting the `WORKDIR /app` instruction will also work. Could you update this in the documentation?

Final

[2020-03-04 13:14] mdonatas commented on #16847
Links to 3.1 version of the ebook can be found here: https://github.com/dotnet-architecture/eShopOnWeb/

[2020-03-04 14:21] BillWagner commented on #17326
/cc @mikadumont

Can you provide the answer? Then, we can get this doc updated.

[2020-03-04 14:32] #17235 closed

[2020-03-04 15:54] DurdSoft opened #17332 "Example is misleading. + operator now permitted in C# 8."
With C# 8, this is now permitted in the form:
[code]

A better example may be:

[code]

The issue description doesn't match the VS warning either:
`CS0567	Interfaces cannot contain conversion, equality, or inequality operators`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d079b75c-4681-ea98-0d2b-1cabcd3cc81b
* Versio

[2020-03-04 16:01] gewarren commented on #17293
@scottaddie This sounds like a change in ASP.NET Core. Can you take a look to see if it needs to be documented here?

[2020-03-04 16:49] mikadumont commented on #17326
Adding @sharwell

[2020-03-04 17:10] scottaddie commented on #17293
@ryanbrandenburg Should there be a corresponding breaking change issue in the aspnet/Announcements repo?

[2020-03-04 17:16] Thraka commented on #17272
The generator is available at <https://github.com/dotnet/docfx>. However the theme and site design that docs.microsoft.com uses I don't think is publicly available. If you wanted that, you would probably need to request it at the suggested MicrosoftDocs/Feedback.

Being able to preview suggested changes to the docs is something that is still in review by the MicrosoftDocs/Feedback team. Public rev

[2020-03-04 17:57] ryanbrandenburg commented on #17293
I'm not 100% sure I understand the context here but I suspect this wasn't a change in Asp.NET Core so much as a side-effect of upgrading to C# 8. @mkArtakMSFT did we have a C#8/nullable point-person?

[2020-03-04 17:59] gewarren commented on #17293
@BillWagner is our C# writer.

[2020-03-04 18:41] ericlippert opened #17335 "Value types are objects!"
Hey Bill and the rest of the team,

I am not super happy with how this page treats "object". It strongly implies that variables of value type are not "real" objects, but they are; you can call methods on them without boxing, for instance. It's not the case that in C# an int "becomes an object on demand". It already is an object; values of value type are objects in the C# type system. (The C# type

[2020-03-04 18:43] ericlippert commented on #16176
@mrmowji: To answer your question: C# allows unsafe array covariance in some cases. For example, a string[] reference may be stored in a variable of type object[] even though writing a non-string via the variable would crash.  Also, the CLR allows references to int[] to be stored in a variable of type uint[], and similarly for other integral types.

[2020-03-04 18:44] lokitoth opened #17336 "Documentation should specify Timer Coalescing Behaviour, if any"
Right now, someone interested in whether they can use the built-in Timer to take advantage of Timer coalescing on systems that support it have to navigate a fair ways into the dotnet/runtime repo to track this down:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Threading.Timer/src/System.Threading.Timer.csproj

to

https://github.com/dotnet/runtime/blob/master/src/coreclr/src

[2020-03-04 19:16] layomia commented on #16690
Here's a sample - https://github.com/dotnet/docs/pull/16225#discussion_r366715884

[2020-03-04 19:59] Thraka commented on #17116
@DrGriff Hello. When you use the .NET Core CLI to build, it will build each targeted framework. I'm not sure if Visual Studio does that. Regarding FxCop analyzers, I'm unsure about that too. I don't have any test projects that are setup like that to see if it builds. If you have projects that use FxCop, you should be able to easily test that. You could also ask on the https://github.com/MicrosoftD

[2020-03-04 21:00] glestwid opened #17339 "Unit tests project creation does not work at all"
VS2019 v16.4.5, generated unit tests based on MSTest:
using Microsoft.VisualStudio.TestTools.UnitTesting;

namespace FinService.MSTests
{
    [TestCase]
    public class UnitTest1
    {
        [TestMethod]
        public void TestMethod1()
        {
        }
    }
}
Tried to build it - got these errors:
1&gt;  UnitTest1.cs(5,6,5,14): error CS0246: The type or namespace name 'TestCaseAttribute' c

[2020-03-04 21:21] natke commented on #17285
Hi @siya003, we didn't hear back from you. Closing this issue for now. Please reach out if you have any more issues.

[2020-03-04 21:21] #17285 closed

[2020-03-04 21:54] JuanZamudioGBM commented on #17326
@mikadumont  In that case there will we any changes in [CS1591](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591)?

Right now if I remove the documentation from the method I get a warning,

[2020-03-04 22:25] mikadumont commented on #17326
Adding @sharwell

[2020-03-04 23:25] sharwell commented on #17326
The CS1591 warning would be related to https://github.com/dotnet/roslyn/issues/40325

[2020-03-05 03:57] lazaridiscom commented on #17272
Yes, very much. I guess https://github.com/dotnet/docfx was what i was looking for.

So, I'm good (please feel free to close).

[2020-03-05 06:53] gewarren commented on #17116
@ghogen may be able to comment on the F6 functionality in Visual Studio.

[2020-03-05 07:38] #15879 closed

[2020-03-05 07:38] #16422 closed

[2020-03-05 10:16] Hefaistos68 opened #17342 "Link to Samples doesnt show anything related at all"
Since the destination has been redirected, there are no more samples for Parallel Programming shown. One might want to dig through hundreds of Azure topics to possibly find something related to parallel...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978ca292-3e23-29fe-1ffc-3c2235ade37a
* Version Independent ID: 764d

[2020-03-05 12:19] gewarren commented on #17139
I don't think this is a breaking change. A breaking change is an intentional change in behavior from a previous version. But I'm not sure that it's a bug either, because the [description of dotnet clean](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-clean#description) states that it only cleans the outputs created during the build, and test.xml isn't created during the build.

[2020-03-05 12:24] gewarren commented on #17139
I'm going to close this issue. If you still feel that there's a bug, please file an issue at https://github.com/dotnet/sdk/issues.

[2020-03-05 12:24] #17139 closed

[2020-03-05 13:16] #17272 closed

[2020-03-05 15:50] Bartmax commented on #17293
@ryanbrandenburg yes, you are correct. This is a side-effect of upgrading to nullable c#8. An unexpected one, but not "really" a breaking chance on itself.

Not sure what's the best place for visibility so one knows about it.

Is there a doc with all the side effects after moving to c#8? Maybe we can collect all those in one place? I know ef core have some recommendations.

[2020-03-05 16:21] BillWagner commented on #17326
Thanks for helping determine the correct update. I've added this to our backlog for when we next update this article.

[2020-03-05 16:23] BillWagner commented on #17332
Thanks for bringing this to our attention @DurdSoft  I like your suggested example.

I've added this to our backlog to address when we next update this article.

I've also added the "up for grabs" label, if you or others want to submit a PR for this issue before we update the article.

[2020-03-05 16:27] BillWagner commented on #17335
thanks for spotting this @ericlippert I agree!

I've added this to our next sprint to address.  (I reviewed this last month, and I should have spotted this myself, but I was focusing on other outdated content.)

[2020-03-05 16:37] #16537 closed

[2020-03-05 17:33] afbarksd opened #17346 "No Auto-generate binding redirects option"
The article tells us "If you have Visual Studio 2017 version 15.7 or later, you can easily disable autogenerated binding redirects in the project's property pages.", "Right-click the project in Solution Explorer and select Properties.", and "On the Application page, uncheck the Auto-generate binding redirects option."  I have Visual Studio 2017 version 15.7.2 and tried to follow these steps for a

[2020-03-05 18:17] ghogen commented on #17116
In Visual Studio, you can either do a regular build (Ctrl+Shift+B) to build the active configuration and platform shown in the toolbar, or if you want to build all or multiple configurations, you can choose Build > Batch Build.

[2020-03-05 18:35] Thraka commented on #17116
I think this question is answered. I'll close it. Please feel free to comment if you have a follow up question.

[2020-03-05 18:35] #17116 closed

[2020-03-05 21:24] Thraka commented on #5570
Closing this as it's not a priority at this point in time.

[2020-03-05 21:24] #5570 closed

[2020-03-05 22:03] #16538 closed

[2020-03-05 22:13] BillWagner opened #17350 "Discussion: Are the Community Contributions projects useful"
Over time, we've used the [up-for-grabs](https://github.com/dotnet/docs/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs) label to help community members find issues to work on.  In addition, we've created a [project](https://github.com/dotnet/docs/projects/35) that lists these issues and categorizes them.

Our observation is that the label is much more useful than the projects.

Based on that o

[2020-03-05 22:15] tdykstra commented on #15506
@dsplaisted The CLI ref docs were recently reviewed and updated for 3.x -- does that address what you had in mind when created these "Review..." issues for the various dotnet command pages?  In other words, can we close these issues now or is further review needed?

[2020-03-05 22:52] #10685 closed

[2020-03-05 23:01] tdykstra commented on #1477
Related to #17255 and #17256

[2020-03-05 23:07] #10688 closed

[2020-03-05 23:25] tdykstra commented on #5731
Fixed by #9008

[2020-03-05 23:25] #5731 closed

[2020-03-05 23:32] LukeChung opened #17353 "Format for KB, MB, GB, etc."
The format #,#, is nice for adjusting by 1000. Is there a way to adjust 1024 to turn bytes into KB (and more)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f543acea-d042-bbcf-5f83-de8b11644366
* Version Independent ID: 18c2ed9b-4015-109c-1ac2-b9b39ed19e8b
* Content: [Custom numeric format strings](https://docs.micros

[2020-03-05 23:58] #10691 closed

[2020-03-06 00:02] tdykstra commented on #2700
@BillWagner I assume this is adequately covered by the get-started tutorials; if not, please reoopen.
https://docs.microsoft.com/en-us/dotnet/core/get-started
https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio
https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code
https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-create-console-app
https://do

[2020-03-06 00:02] #2700 closed

[2020-03-06 00:06] #10692 closed

[2020-03-06 00:07] #10690 closed

[2020-03-06 00:07] #10687 closed

[2020-03-06 00:21] #10689 closed

[2020-03-06 01:08] Bartmax commented on #17293
I was referring to this doc

https://docs.microsoft.com/en-us/ef/core/miscellaneous/nullable-reference-types

[2020-03-06 05:00] snesnov opened #17354 "to delete"
to delete

[2020-03-06 05:07] #17354 closed

[2020-03-06 05:10] davkean opened #17355 "Missing nullable class constraint"
This is missing the nullable constraint:

[code]

I think it also incorrectly talks about the `class` constraint, under nullable, it becomes "The type argument must be a non-nullable reference type.".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5712215d-b167-d9cb-bd51-80df0e300d50
* Version Independent ID: 22b2c77c-

[2020-03-06 05:42] davkean opened #17356 "Split out strategies for approach nullability from the attributes themselves"
I hit this page last night looking for some attributes to fix some nullable warnings I hit, and skipped it because the first bullet was "Choosing a nullable strategy" with the thinking that I'd already picked one so this page wasn't going to help me. I've been since pointed out this was the page that was going to help me. I think we should pull the attributes out separately from the approach becau

[2020-03-06 06:20] rdeago opened #17357 "It's an enum, not a bool"
"true if documentation comments are parsed, false otherwise" looks like a leftover from some previous version when there was no DocumentationMode enum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e54a9904-6b24-ebe4-bf78-04d85c4dc7c0
* Version Independent ID: 2f4c9571-4085-8153-198e-abd4ec120f3a
* Content: [ParseOpti

[2020-03-06 07:08] gewarren commented on #17357
@rdeago Thanks for noticing this discrepancy!

[2020-03-06 08:36] MSDN-WhiteKnight opened #17360 "New article and sample idea: Inspecting assembly contents using MetadataLoadContext"
.NET Framework had the reflection-only assembly load mode that allowed to inspect the contents of an assembly without loading it for execution. This mode is not supported in .NET Core. The replacement API is [MetadataLoadContext](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadataloadcontext?view=dotnet-plat-ext-3.1), however, there's no information how to start using it. Search

[2020-03-06 08:56] gewarren commented on #17346
@afbarksd It should appear something like this. Do you still not see it? If so, what kind of project did you create?

![image](https://user-images.githubusercontent.com/24882762/76068035-14186700-5f99-11ea-8022-0cb825de2194.png)

[2020-03-06 11:56] gewarren commented on #17339
@glestwid I verified the behavior you saw as well. This seems like a problem in the MSTest project template in Visual Studio. To resolve the problem, I opened the NuGet package manager (right-click on the Packages node under Dependencies, and then choose Manage NuGet Packages), went to the Updates tab, selected all the packages, and then clicked Update.

I'm closing this issue now since it's not a

[2020-03-06 11:56] #17339 closed

[2020-03-06 12:15] glestwid commented on #17339
Yes, I can confirm that these steps fixed the issue. But I would like to have it fixed in the corresponding project template instead.

[2020-03-06 12:24] gewarren commented on #17339
@glestwid I don't actually see an existing issue for this on Developer Community, so could you create one there? https://developercommunity.visualstudio.com/content/problem/post.html?space=8

[2020-03-06 14:41] BillWagner commented on #17355
Thanks @davkean I had missed this.

I've added it to our April sprint.

[2020-03-06 14:42] BillWagner commented on #17356
Thanks @davkean

This month, my focus is to finish all things related to C# 8.  I've added this to the current sprint.

[2020-03-06 15:23] pranavkm commented on #17293
The feature is documented out as part of https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#required-attribute. `Required` in MVC means non-null. Marking a property as non-null is effectively equivalent to applying a `RequiredAttribute` on it.

From your other issue

Can you file an issue in https://github.com/dotnet/AspNetCore with a minimal repro app that exhi

[2020-03-06 15:28] afbarksd commented on #17346
It is a WPF application.  I attach files with excerpts from the About box and Application tab.
![VS2017About](https://user-images.githubusercontent.com/17550264/76097119-c0a01c00-5f8c-11ea-9460-569653c96aa8.png)
![VS2017About](https://user-images.githubusercontent.com/17550264/76097139-c85fc080-5f8c-11ea-8751-3ca979b25e7f.png)

[2020-03-06 15:38] #9373 closed

[2020-03-06 16:32] Eddie-Hartman commented on #10546
"Regular Refresh cycle" meaning over a year later.

[2020-03-06 16:39] BillWagner commented on #2699
This was fixed in the work for [porting from framework](https://docs.microsoft.com/en-us/dotnet/core/porting/) but was never closed.  Closing.

[2020-03-06 16:39] #2699 closed

[2020-03-06 16:44] BillWagner commented on #2724
During the last releases, we've updated and moved much of this content.  In particular, the introduction to [.NET Standard](https://docs.microsoft.com/dotnet/standard/net-standard) highlights the new guidance.

Closing as completed.

[2020-03-06 16:44] #2724 closed

[2020-03-06 17:05] BillWagner opened #17365 "Plan for "Get Started" (and the next steps in the learning path)"
The first task here is to add more potential tutorials. I've added those from issues already created. Suggestions might be:

- [ ] Web site with C# / ASP.NET Razor pages
- [ ] Web API server
- [ ] Mobile client in C# / Xamarin
- [ ] Azure web job to respond to some web event
- [ ] LINQ
- [ ] Using "modern" (or what's new) in C#
- [ ] Object oriented techniques in C#

What else?

[2020-03-06 17:12] pkulikov commented on #17365
That can be complemented with data-oriented techniques in C# (pattern matching already and records in the next versions). However, I guess it would be covered by "Using "modern" C#"?

[2020-03-06 17:34] BillWagner commented on #17342
See #13649

The right fix here is to follow the instructions in #13921 to update and load these samples in the new [Samples browser](https://docs.microsoft.com/samples) experience.

[2020-03-06 17:44] #15766 closed

[2020-03-06 18:03] StephenWeatherford opened #17366 "Where are tuples?"
As per title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9770af4-de82-7034-a56b-c68a6b5c55e5
* Version Independent ID: 6bd64fcc-5c84-e541-12f4-0cdcfe4f5dd2
* Content: [C# Types and Variables - A tour of the C# language](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/types-and-variables#feedback)
* Co

[2020-03-06 18:54] Thraka commented on #17331
This article is for .NET Core console apps, not ASP.NET Core. At the start of the article there is a tip bubble. I'm curious if your eyes glanced past it? Perhaps I should change the message or make it a warning instead?

![image](https://user-images.githubusercontent.com/2672110/76113321-c996ea80-5f98-11ea-8ff8-272e6eff558d.png)

[2020-03-06 18:54] #17331 closed

[2020-03-06 19:00] Thraka commented on #17360
@MSDN-WhiteKnight I think this is a duplicate of #2729 although this is a great write up. Would you mind if I ported this info to that issue?

[2020-03-06 19:21] Thraka commented on #17353
Hello!

I'm sorry, but I don't know. I think you will have a better chance of getting your question answered if you post it on a forum such as StackOverflow.

I'm going to close the issue.

Thanks.

[2020-03-06 19:21] #17353 closed

[2020-03-06 20:12] jhugard opened #17369 "Where are the Result (and all other) module docs?"
Having extreme difficulty locating documentation for all F# Module functions, such as `Result.map`, `List.map`, `Seq.cast`, and everything else needed to use F# types!

Where, oh where, have they all gone?

For `List.map`, found the following link but (a) it's marked as deprecated and (b) the navigation tree is broken and cannot be used to navigate to individual module functions:
* https://msdn.mi

[2020-03-06 20:21] noman9607 opened #17370 "Example please!"
A short code example (hello world?) with a comment block like
#region "class summary"
/// &lt;summary&gt;
/// This class does something.
/// fields?
/// static
/// properties?
/// members?
/// &lt;/summary&gt;
Now give the whole csc command line to make it work. I can't get this doc to work using the csc command and I find the instructions cryptic-they make sense only if you already know how to us

[2020-03-06 21:36] glestwid commented on #17339
@gewarren here's the link - [https://developercommunity.visualstudio.com/content/problem/939146/vs2019-cant-create-a-unit-test-project-for-net-cor.html](url)

[2020-03-06 21:41] Thraka commented on #17265
@richlander @DamianEdwards What error is this? I feel like if you're using .NET Core to compile a .NET Framework TFM and receive an error, the page that it points to should be in the context of .NET Core, not .NET Framework. Is this error shared by a non-SDK project targeting .NET Framework that is missing?

[2020-03-06 22:36] mairaw commented on #9373
The idea here was to review all commands to make sure they include the default verbosity level. It seems not all are done yet: https://github.com/dotnet/docs/blob/master/docs/core/tools/dotnet-store.md

[2020-03-06 23:05] #17172 closed

[2020-03-06 23:43] Thraka commented on #16409
@Dean-NC I rewrote this article about half a month ago. I neglected to mention this. I'll do an update today about this. Building an app in 3.0+ always generates a runtime-dependent app, which may or may not include an executable. The executable generation is based on the `<apphost>` setting in the project (or passed on the command line)  which defaults to true for windows/linux and false for maco

[2020-03-07 02:25] Thraka commented on #15591
@tdykstra You were just in the test command docs. It seems the default values are missing. But I don't think they are even listed in the output of the command itself. Do you have a product group contact that can fill in the info?

[2020-03-07 02:27] Thraka commented on #17177
Thank you for the suggestion, but we'll leave the article the way it is, as it's talking about 3.0+. Cheers!

[2020-03-07 02:27] #17177 closed

[2020-03-07 02:33] ihorbond opened #17374 "Can't deploy to osx or linux"
Hi I've created a new win forms .net core 3.1 application without adding any new code, just what was generated by VS. I can publish this app and run on windows with no issues but when trying to publish to either linux or osx I get an error:

My publish config:
Configuration: Release
Target Framework: netcoreapp3.1
Target Runtime: osx-x64

Tried to publish in both:
Microsoft Visual Studio Enterpris

[2020-03-07 07:05] MSDN-WhiteKnight commented on #17360
Yes, I'm okay with this.

[2020-03-07 15:14] MSDN-WhiteKnight commented on #17370
There are examples of csc command line in this article: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/command-line-building-with-csc-exe

You can just append -doc to the end of these examples and it should work

[2020-03-07 17:39] Rimbik opened #17377 "Just a code line fix"
In the event sourcing example line below, a typo for eyes&gt;

integrationEventLogService.MarkEventAsPublishedAsync(
                                                priceChangedEvent);
to be
_integrationEventLogService.MarkEventAsPublishedAsync(
                                                priceChangedEvent);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-03-08 07:34] vivainio opened #17378 ""dotnet nuget push" can be used for local feeds, but not mentioned"
Currently, it is suggested to use "nuget add -Source c:\mydir" to publish items to local feed for testing.

As it appears, "dotnet nuget push -s c:\mydir" can do this as well. This should be documented here. If this is the currently recommended way to publish to local feeds, it should be highlighted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-03-08 15:48] jnm2 opened #17381 "The parent page https://dotnet.microsoft.com/platform/dotnet-standard has not been updated to include .NET Core 3.1"
There isn't a way for the community to contribute to the https://dotnet.microsoft.com/platform/dotnet-standard page, is there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.micros

[2020-03-08 18:39] jszabo98 opened #17382 "case insensitive use of character classes is unreliable"
Note that case insensitive use of character classes is unreliable.  Some upper case foreign characters can map to lower case english characters.  For example, the uppercase Turkish `İ` is linked with the lowercase English `i`.  I don't see this being resolved quickly.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-08 19:31] AnthonyMonterrosa opened #17383 "Error following tutorial - Type mismatch"
For the new method MakeConstAsync

![image](https://user-images.githubusercontent.com/12419195/76169779-3cdb6080-6141-11ea-8602-69aef24bd5fd.png)

I get the following error for in its only usage as the output for the lambda assigned to `createChangedDocument`.

![image](https://user-images.githubusercontent.com/12419195/76169803-76ac6700-6141-11ea-970f-fb727ec9242c.png)

The template even names th

[2020-03-08 20:33] spectrumcomputing opened #17384 "Example code not matching finished program"
Firstly, thank you for spending the time creating such great tutorials.  I especially like the new C# 101 videos.  Hopefully you will produce more?

The section on 'Search and Sort Lists' shows:

[code]
But the finished example further down the page shows it as:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e

[2020-03-08 21:06] bruzkovsky commented on #17331
You are right I totally missed that one! Maybe it is more visible as a warning, but maybe it was just too late in the night =_= :-)

[2020-03-08 21:51] AdmiralSnyder opened #17385 "typo/open reference in "partial methods" block"
shouldn't this line:
  It is a compile-time error to create a delegate to method (Delegate creation expressions).
be this:
  It is a compile-time error to create a delegate to M (Delegate creation expressions).
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94b01ab-fe87-23fc-44b6-da9f3f627bd5
* Version Independent I

[2020-03-09 01:29] AnthonyMonterrosa commented on #17383
I found that the option `createChangedDocument` still exists, and replaced `createChangedSolution` with it. Not sure if the template was updated or what. Going back I think it might've been implied to change it already.

[2020-03-09 01:29] #17383 closed

[2020-03-09 02:56] corranrogue9 opened #17387 "Some Max exception documentation is incorrect"
- The documentation [here](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.max?view=netframework-4.8#System_Linq_Enumerable_Max__1_System_Collections_Generic_IEnumerable___0__) indicates that an ArgumentException will be thrown if no element in source implements IComparable or IComparable<T>. This is not true if source contains only a single element, even if that element does no

[2020-03-09 02:57] danmosemsft commented on #17387
@GrabYourPitchforks I think we have rights to do that now.

[2020-03-09 02:57] danmosemsft commented on #17387
@corranrogue9 any interest in offering a PR for any of this?

[2020-03-09 07:54] Jehoel commented on #16955
Why was this issue closed? There is still no documentation for CS8625.

![image](https://user-images.githubusercontent.com/1693078/76193058-6e374900-61a0-11ea-9272-fdc89a4e4085.png)

[2020-03-09 08:50] gewarren commented on #6068
@mcleanbyron or @jwmsft - These .NET Native docs seem to belong more in the UWP docs. They also need an edit pass to emphasize that .NET Native is for UWP and not for .NET Framework in general. What are your thoughts about the location of these docs? If you agree they should be moved, I could do an edit pass and create a PR in the windows-uwp-pr repo.

[2020-03-09 09:53] CornedBee opened #17390 "Example of concrete types in constraints (4.1 new feature) is unnecessarily confusing"
The parameter names are not only meaningless, they actually change meaning between functions: in `replace`, `^a` is the type of `a`. But in `replace_instance`, `^a` is `CFunctor` and the type of `a` is `^b`.

In an example that is already a real brain teaser, this confusion is just unnecessary overhead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-09 09:58] gewarren commented on #17381
@jnm2 I don't think there's a community contributor option to update that page, but @mairaw should be able to update it.

[2020-03-09 10:10] gewarren commented on #17339
@glestwid Thanks very much! I hope they fix it soon!

[2020-03-09 10:11] #16901 closed

[2020-03-09 11:04] gbjbaanb commented on #17071
agree, but apart from the problem of an exception being used for unexceptional program flow (sigh) shouldn't any cleanup code be put in the StopAsync method?

[2020-03-09 11:14] jnm2 commented on #17381
Okay, thank you!

[2020-03-09 11:16] vitek-karas commented on #12237
https://docs.microsoft.com/en-us/dotnet/core/versions/selection is still correct - none of the info there is wrong. The question is how much detail should it have. Note that even on 2.* there was a way to influence the roll forward behavior (`RollForwardOnNoCadidateFx` and similar settings) and it did support roll forward over Major versions as well. The new `RollForward` as described in https://g

[2020-03-09 11:23] vitek-karas commented on #12237
I think there's also a confusion. There are several parts to "roll forward":
* The SDK version selection - specifically this section: https://docs.microsoft.com/en-us/dotnet/core/versions/selection#the-sdk-uses-the-latest-installed-version. This also got changed in 3.0 and it introduced roll forward capabilities. The new design is described here: https://github.com/dotnet/designs/blob/master/accep

[2020-03-09 11:34] Cyl18 opened #17391 "Bad practice in Log method"
// An acceptable implementation.
static void Log(ReadOnlyMemory&lt;char&gt; message)
{
    string defensiveCopy = message.ToString();
    // Run in the background so that we don't block the main thread while performing IO.
    Task.Run(() =&gt; {
        StreamWriter sw = File.AppendText(@".\input-numbers.dat");
        sw.WriteLine(defensiveCopy);
        sw.Flush();
    });
}

this method is not

[2020-03-09 12:16] gewarren commented on #17346
I'm not sure if the option is supposed to be present for WPF projects. @thraka Do you know? As a workaround, you could add the following to the .csproj file manually:

[code]

[2020-03-09 13:32] BillWagner commented on #17366
Thanks for spotting this and writing it up @StephenWeatherford

I've added this to the next sprint for us to address.

[2020-03-09 13:42] BillWagner commented on #17370
There are a couple different changes that should happen here.

First, instead of `csc`, this should show how to use `dotnet build` to create documentation.

Second, it should link to [this article](https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/how-to-use-the-xml-documentation-features) which does show the example discussed above.

I'll add the "up for grabs" label based on a cl

[2020-03-09 13:46] BillWagner commented on #17384
Thanks for writing this @spectrumcomputing

The first example is the correct code. I've added this to our backlog, and added the "up for grabs" label.

We'll address it when we next update this article, or community members can submit a fix in the interim, if interested.

[2020-03-09 13:50] BillWagner commented on #17385
This is correct in the C# standard branch (from the 5.0 standard).

I'm transferring this to the charplang repo, to make sure we merge this section correctly as we merge the C# 6 draft with the C# 5 standard.

[2020-03-09 13:52] JohnH-Work opened #17393 "Section on Assembly File Version is a little bit confusing"
It says use the format Major.Minor.Build.Revision, but all of the examples use the format Major.Minor.Revision.Build (taking it literally). Windows software traditionally uses Major.Minor.Build.Revision (e.g. current VS2019 version is 16.4.29806.167), so is the recommendation to stop using that format or are either formats fine?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-03-09 14:15] spectrumcomputing commented on #17384
Thanks for the reply @BillWagner

This is my completed code

[code]

[2020-03-09 15:31] tdykstra commented on #16955
Duplicate of #16943

[2020-03-09 16:04] tdykstra opened #17398 "Add arguments in synopsis sections of CLI ref pages"
https://github.com/dotnet/docs/pull/15694#discussion_r366601946

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet#feedbac

[2020-03-09 17:15] Thraka commented on #17374
Hello. Windows Forms app only work on Windows because they use the Desktop SDK which is only supported on Windows.

[2020-03-09 17:15] #17374 closed

[2020-03-09 17:16] tdykstra commented on #10127
Fixed by #17196

[2020-03-09 17:16] #10127 closed

[2020-03-09 17:56] ihorbond commented on #17374
@Thraka thank you I see now that cross platform works only for console and web apps but why does visual studio give me the option to publish win forms app to osx or linux then? it's misleading

[2020-03-09 17:58] CeciAc opened #17402 "Reuse the model created in the price prediction (regression) example"
Hi team,
I moved this from here: https://github.com/dotnet/docs.ko-kr/issues/233

@jangsungLee commented 23 hours ago — with docs.microsoft.com
Hi. I was looking for a library to make machine learning with C#, and I found Microsoft.ML
I ran the example you gave me, and the problem is that I want to make a file of the model, like "Model.zip," and then recreate, load, and relearn the model.

---
###

[2020-03-09 18:04] mairaw commented on #17381
Thank you @jnm2. I've opened an issue for us to fix that in the website.

[2020-03-09 18:55] Thraka commented on #16836
@leecow @dagood Is there a direction decided on this? Should I just remove this from the march sprint (documentation wise) and move it to the next sprint?

[2020-03-09 19:12] Thraka commented on #14677
Didn't find anything. Everything was pretty much migrated

[2020-03-09 19:12] #14677 closed

[2020-03-09 19:59] gkarabin opened #17406 "SemaphoreSlim example for using WaitHandle is misleading"
The SemaphoreSlim example for using WaitHandle with await is not ideal. SemaphoreSlim includes a WaitAsync() method of its own, and the example uses it, rather than using the WaitOneAsync method defined in this article. I think I understand what to do with this in my code, but it makes a poor reference for communication/discussion with others.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-03-09 20:34] dagood commented on #16836
It seems to me we've determined in this thread this isn't something we can adequately document--we need additional artifacts to make it reasonable. I don't think it makes sense to have this as a scheduled issue on the docs side of things.

[2020-03-09 21:48] Thraka commented on #16836
@SidShetye We're going to close this for now. As the product team is aware of the issue, they'll work on this from that side. I'll close this doc request for now. Thanks.

[2020-03-09 21:48] #16836 closed

[2020-03-09 21:50] Thraka opened #17408 "Update .NET Core install pages for 3.1.2"

[2020-03-09 21:52] tdykstra commented on #6238
Appears to have been addressed by #8710

[2020-03-09 21:52] #6238 closed

[2020-03-09 22:33] afbarksd commented on #17346
Thanks. I already tried adding AutoGenerateBindingRedirects and GenerateBindingRedirectsOutputType manually, and they didn't seem to do anything.  For the time being, I worked around the problem by rebuilding everything in my development with the same versions of the DLLs.

[2020-03-09 22:56] mstefarov opened #17412 "Mention how "private protected" works with InternalsVisibleTo"
It is not clear based on this page whether or not InternalsVisibleTo works with "private protected" members

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee5e6972-0f7a-8bb7-9f5a-0ba75909f9d8
* Version Independent ID: 618c0361-38a0-4d6f-f46a-881db2e4b399
* Content: [private protected - C# Reference](https://docs.micros

[2020-03-09 23:16] Thraka commented on #17374
I guess it must be an oversight in Visual Studio. .NET Core can produce cross-platform binaries, the problem is that the **desktop sdk** referenced doesn't provide those.

You can send feedback to Visual Studio easily by clicking the feedback button in the IDE

![image](https://user-images.githubusercontent.com/2672110/76261255-d6c10d00-6216-11ea-9506-27d2eb62c042.png)

[2020-03-09 23:36] #5748 closed

[2020-03-10 01:20] luisquintanilla commented on #17402
Thanks @CeciAc

@jangsungLee please take a look at the following Docs.

- Save and load the model: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net
- Use the model to make predictions: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net
- Retrain a model: https://docs.microso

[2020-03-10 01:20] #17402 closed

[2020-03-10 06:02] #2816 closed

[2020-03-10 06:08] Bosch-Eli-Black commented on #17356
I just ran into this issue, too :)  I had read through the documentation and seen that there were attributes that affected nullability, but when I went back through the documentation later, I had a hard time finding them.

[2020-03-10 06:17] gewarren commented on #17381
The website has been updated, so I'm closing this issue.

[2020-03-10 06:17] #17381 closed

[2020-03-10 11:46] gewarren opened #17416 "Replace gender-specific pronouns"

[2020-03-10 11:49] stefan-schweiger opened #17418 "Add source code for example project in guide (most importantly SeedWork)"
This guide contains many code samples, but it would be great to have the source code for the complete sample project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea0ea53-3bb6-a0ea-9674-384c68a77c2e
* Version Independent ID: 30de872f-039f-02c1-c8a0-27b5d10a13f5
* Content: [Seedwork (reusable base classes and interfa

[2020-03-10 12:08] gewarren commented on #17377
Typo is in this section: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/subscribe-events#implementing-atomicity-when-publishing-integration-events-through-the-event-bus

[2020-03-10 12:26] yatagarasu25 commented on #13769
This example makes no sense to me. None of the parts in the example are covered in the article, as well example have nothing of what is mentioned in the article.

[2020-03-10 12:39] cloudn9 commented on #17377
@gewarren Hello, is this open for contribution ? Thank you.

[2020-03-10 12:41] gewarren commented on #17377
@cloudn9 Yes, it is, thanks!

[2020-03-10 13:15] skarllot opened #17420 "Misleading internal definition"
The documentation says "Internal members are visible only in derived classes that are located in the same assembly", that is not true. Internal members are visible to all classes of same assembly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e813a38-d487-25dc-b70d-23fca9c47221
* Version Independent ID: 92fb3bd2-56a5

[2020-03-10 14:01] gewarren commented on #16696
@bartonjs Is this actually a breaking change? Since the runtimes will fall back to the older versions of OpenSSL if the newer versions aren't available, I don't get how it's a breaking change.

[2020-03-10 14:07] BillWagner commented on #17266
ping @Thraka

[2020-03-10 14:09] BillWagner commented on #17273
Thanks for writing this @martingbrown

I've added it to our backlog to address when we next update this article.

[2020-03-10 14:09] BillWagner commented on #17274
ping @Thraka

[2020-03-10 14:13] BillWagner commented on #17278
Thanks for writing this up @tmds

ping @Thraka I think this is a side-effect of an accessibility change made a while ago that changed how cascading menus operator. Where should this go?

[2020-03-10 15:08] bartonjs commented on #16696
@gewarren If (a) 1.1.0 is present, (b) you are doing interop with pointers, (c) you are using .NET Core 3.0 or 3.1, and (d) you didn't check the OpenSslVersion value; your program will probably crash.

It's a minuscule risk (I expect no impact in the wild), but it's there (and since it involves platform interop it's easy to get wrong from one machine to the next; and it involves pointers).

[2020-03-10 15:52] klettier commented on #16456
Thx for your response, do I have to close the issue of do you need it for the **5.0-preview** doc ?

[2020-03-10 16:10] hsoJosh opened #17424 "Typo before the "Summary""
"Implementations defined in interfaces are virtual and hte implementing class" .. Replace "hte" with "the" ..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e982a51-097f-688f-710c-1dfcf313da5e
* Version Independent ID: 8691f826-62cb-da0a-8460-a38aa2bc2a70
* Content: [Interfaces - C# Programming Guide](https://docs.mic

[2020-03-10 16:10] dagood commented on #16836
Filed https://github.com/dotnet/core/issues/4379 to concretely track creating/releasing the artifacts we've been talking about.

[2020-03-10 16:58] BillWagner commented on #17279
@naughtyGitCat Yes, you should create those three constructors.

If you don't the developers that want to use the new exception type you've created are going to be frustrated because that can't set the message, or set an inner exception to set the root cause.

I'll close this as an answered question.

[2020-03-10 16:58] #17279 closed

[2020-03-10 17:01] BillWagner commented on #17327
ping @tdykstra

[2020-03-10 17:03] aidigital opened #17426 "Error regarding variance"
The Generic interface IEnumerable&lt;T&gt; is covariant.
The article states "Generic interfaces can inherit from non-generic interfaces if the generic interface is contravariant". It should be "[...] if the generic interface is covariant".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0a00a9-fd5d-3aae-9788-d6b324f17

[2020-03-10 17:15] tdykstra commented on #17327
@GrabYourPitchforks @adamsitnik Can you help with this question?

[2020-03-10 17:16] davidfowl commented on #17327
cc @bartonjs

[2020-03-10 17:28] BillWagner commented on #17406
ping @stephentoub for the correct guidance here.

[2020-03-10 17:31] adamsitnik commented on #17327
Personally I like the `Utf8Parser` [API](https://apisof.net/catalog/System.Buffers.Text.Utf8Parser.TryParse(ReadOnlySpan%3CByte%3E,Byte,Int32,Char)) which decided to use the first approach:

[code]

IMHO it's more intuitive: every C# dev should be already familiar with `out` (parsing data etc), I am not so sure about proper usage of `refs`, which can be tricky and also limiting (the input referenc

[2020-03-10 17:34] BillWagner commented on #17412
Thanks for writing this @mstefarov

I'll have to look this up. I've added it to our next sprint.

[2020-03-10 17:49] chandanch opened #17429 "error NETSDK1004: Assets file project.assets.json' not found"
Following the docs as given here: [https://docs.microsoft.com/en-us/dotnet/core/](https://docs.microsoft.com/en-us/dotnet/core/)

1. `dotnet new console`
2. `dotnet run`

results in the following error:

_C:\Program Files\dotnet\sdk\3.1.102\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(234,5): error NETSDK1004: Assets file 'E:\proj\donproj\obj\project.assets.json' no

[2020-03-10 18:22] bartonjs commented on #17327
The correct form would be

[code]

* Decode instead of Parse because it's interpreting bytes instead of text.
* `out int bytesConsumed` is the answer for your original question.
  * If it isn't bytes, `charsConsumed` or `valuesConsumed`.

The bytesConsumed/charsConsumed/valuesConsumed portion (having the out parameter and the preferred names for the parameter) is explicitly part of the `OperationS

[2020-03-10 18:27] BillWagner commented on #17420
Thanks for pointing this out @skarllot. That should be worded better.  It's correct on a careful read, because the entire bullet list is about the accessibility of members declared in a base class as seen from a derived class.

That said, it is poorly written and should be updated. I've added this to our backlog to fix when we next update this article.

I've also added the "up for grabs' label if

[2020-03-10 18:29] #17424 closed

[2020-03-10 18:32] BillWagner commented on #17426
Thanks for writing this @aidigital

Yes, that paragraph is incorrect. I've added it to our backlog to update in the near future.

[2020-03-10 19:13] CeciAc opened #17430 "where are the asterisks"
@JhoeOtvertka commented on [Wed Mar 04 2020](https://github.com/dotnet/docs.ru-ru/issues/262)

Fig. 6-27.In the caption to the figure there are two asterisks and explanations for them (**), but in the figure itself these two asterisks are not, but there is only one.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с

[2020-03-10 19:18] RachelAmbler opened #17431 "Still not updated"
Despite the previous issue being closed, this page still shows as being proposed. Is there a reason that this page has not been updated to show it's final?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d273731d-0f9a-1870-1275-bde4f4b3f69d
* Version Independent ID: 7d8b872e-6d86-77c1-2fad-afa110ab8f4c
* Content: [Null

[2020-03-10 19:34] BillWagner commented on #17431
Thanks for writing this @RachelAmbler

In this section (under the C# specification), these features are listed as "proposed", because they have not yet been accepted into the ECMA standard, or the Microsoft proposed updates (listed in the C# 6 draft specification).

Admittedly, the committee is behind. (I'm on the committee, and we are working on the plan to update the official standard through th

[2020-03-10 20:02] #17416 closed

[2020-03-10 20:03] DavidACraig75 commented on #16152
Is there a way to change the stringbuilder to add colour to the lines? i wanted to have anything with item.amount < 0 to have a Console.BackgroundColor = ConsoleColor.Red;

[2020-03-10 20:37] joshfriend commented on #14753
After upgrading to .net core 3.0 `IStringLocalizer.WithCulture` no longer works at all. I always get english strings returned now.

I've tried using `CultureInfo.CurrentUICulture` as suggested, but this doesn't work either.

[2020-03-10 20:53] #16696 closed

[2020-03-10 21:12] #13874 closed

[2020-03-10 21:41] GrabYourPitchforks commented on #17327
In addition to what Jeremy said, we've been trying to shy away from APIs that auto-slice an input span and return the sliced span to you. (In your original proposal, those would be the _ref_ APIs.)

The reason for this is that the original call site may not have had a `Span<T>`. They instead may have had a `T[]`, a `string` (for _T = char_), an `ArraySegment<T>`, a `Memory<T>`, or some other data

[2020-03-10 21:50] JamesNK commented on #16088
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler also needs to be updated to be clear that internally it uses SocketsHttpHandler.

Devs reading the docs as they are today might spend time replacing HttpClientHandler with SocketsHttpHandler unnecessarily.

[2020-03-11 05:28] NicolasDorier commented on #17327
thanks a lot, I will follow the `Utf8Parser` then. It seems to me more intuitive as well.

[2020-03-11 05:37] #17327 closed

[2020-03-11 05:41] NicolasDorier commented on #17327
I think this should not be closed until the docs is documenting it.

[2020-03-11 05:45] Thraka commented on #17278
I have to choose at least one page. I believe we chose alphabetic but kept the most popular at the top. One of the ubuntu articles gets 40,000+ page views while all the others get around 3000 or less.

[2020-03-11 05:46] #17278 closed

[2020-03-11 12:04] gklittlejohn opened #17442 "WCF Streaming"
Could an example be include for converting a [WCF streaming type service](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/how-to-enable-streaming)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3248bd34-a3a9-8c8f-99e2-6ecda04827c8
* Version Independent ID: a6aa874c-7644-43e6-ca53-4e48ab069fd5
* C

[2020-03-11 13:03] touxstone opened #17443 "installing ASP.NET Core runtime does not include both .NET core and ASP.NET Core"
Something is wrong with instructions as it reads `we suggest you install the ASP.NET Core runtime, as it includes both .NET Core and ASP.NET Core runtimes` but when following the tutorial you try
[code]
 You get as output the following:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e656d98-d9c6-3feb-c663-9689

[2020-03-11 13:19] stephentoub commented on #17406
The content is misleading.  It first introduces this WaitOneAsync method, which is fine, but then it suggests that's somehow useful with SemaphoreSlim... but the SemaphoreSlim example doesn't use this WaitOneAsync method, nor should it.  Everything from "For example, if you want to throttle" to the end of that section should just be deleted.

[2020-03-11 13:30] touxstone commented on #17443
OK, I got now that in order to follow the tutorial offered I needed to first install the SDK by `# dnf install dotnet-sdk-3.1` then get started the tutorial by `$dotnet new console -o hello` as it's better explained [here](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create)

[2020-03-11 13:33] Joeppie commented on #17253
Agreed, perhaps a ConcurrentBag<> is a viable alternative to the use of List<> here.

[2020-03-11 14:01] #17276 closed

[2020-03-11 16:02] bartonjs commented on #17327
The guidance is part of Framework Design Guidelines; which is managed by a different process than the docs site in general.  There's nothing that the people who work in this repository can really do about it.

[2020-03-11 16:17] davidfowl commented on #17327
@bartonjs Is there a repository or place to file issues?

[2020-03-11 16:46] bartonjs commented on #17327
Not yet.  There's a vague plan, but nothing that can really be acted on until the summer (for lawyerly reasons).

[2020-03-11 17:36] #15946 closed

[2020-03-11 17:39] v-kydela opened #17445 "Wrong information in first protected example"
There seems to be some incorrect information in the first example.

B is derived from A, so that's not the reason why x cannot be accessed. B can only access x through a reference that is assignable to type B (meaning B or derived from B).

Another incorrect reason for the error is given under the example:

It makes no difference whether Main is a static method or an instance method. You can try r

[2020-03-11 17:48] mvelosop commented on #17028
Closing this issue now but feel free to comment, will reopen if needed.

[2020-03-11 17:48] #17028 closed

[2020-03-11 18:28] CeciAc opened #17446 "Apparent error in code segment"
The comments below were machine-translated

@jfcardenas commented on [Wed Feb 26 2020](https://github.com/dotnet/docs.es-es/issues/156)

In "Use the model" section
    var size = new HouseData() { Size = 2.5F };
    var predEngine = mlContext.CreatePredictionEngine&lt;HouseData, Prediction&gt;(model);
    var price = predEngine.Predict(size);
I think the second line should be (Model property missi

[2020-03-11 18:31] BillWagner commented on #16938
Moving to the csharplang repo, where we're tracking work on updating the spec and the standard.

[2020-03-11 18:59] mshinnie opened #17447 "Error when including XML"
So when moving the XML to its separate page I get this warning on all of my includes

Unable to include XML fragment 'docs/members[@name="math"]/Math/*' of file 'docs.xml' -- References to XML documents are not supported.
Any advice on resolving this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ff

[2020-03-11 20:11] joshfriend commented on #14753
Oh, it's because SharedResource stuff is broken since 3.0 https://github.com/dotnet/sdk/issues/4033

[2020-03-11 21:06] BillWagner commented on #14889
I'm starting to work on this, and it's exposing some flaws in the current organization of the language reference.  I'd like feedback on the following ordered set of thoughts:

1. The new information really doesn't belong on this page. The *switch expression* is different than the *switch statement*:
    - Most obviously, it is an *expression*, not a *statement*.
    - The syntax has many differenc

[2020-03-11 23:36] LeftofZen commented on #16720
How long are your sprints? It isn't updated yet.

[2020-03-12 03:13] NicolasDorier commented on #17327
@bartonjs I don't think it would hurt to also put it in the doc page in https://docs.microsoft.com/en-us/dotnet/standard/memory-and-spans/memory-t-usage-guidelines?view=netcore-3.1

[2020-03-12 06:54] pkulikov commented on #14889
@BillWagner I agree mostly with you and have had the similar thoughts about expressions.

Yes, however I suggest to rename the section to **Operators and expressions** (or **Expressions and operators**). What do you think?

As for renamings, I don't think `?:` should be renamed, as it's widely known as "ternary operator", also "C# conditional operator" [is more checked in Google](https://trends.go

[2020-03-12 08:27] canndrew commented on #17369
Same problem here. I'm fairly new to F# and all the docs I need to do my job have disappeared :/

[2020-03-12 14:15] BillWagner commented on #17447
@mshinnie I'd need more context and specifics on what you did to help resolve this

Another suggestion is to ask this on StackOverflow, or see if a similar question has already been asked and answered.

[2020-03-12 14:19] mshinnie commented on #17447
I am running it on VS Code after running the dotnet new console command i copied and pasted the Math and docs.xml file.  I am using dotnet version 3.1.101.  Which other information would be helpful for troubleshooting?

[2020-03-12 14:36] BillWagner commented on #17445
Thanks for writing this @v-kydela
This should be written more clearly. I've added it to our backlog to address when we next update this article.

[2020-03-12 14:44] Jester98x opened #17451 "Resiliency difficult to read"
Under the intro to Resiliency is this sentence "What happens when Service C becomes up temporarily unavailable and other services calling it stack and degrade system performance?"
It looks like "up" is not needed and I don't know what "... calling it stack and degrade system performance?" means. Are there some words missing here or is the word stack the wrong word?

---
#### Document Details

⚠ *D

[2020-03-12 14:51] BillWagner commented on #14889
I like your additions @pkulikov

Great plan. I agree. I'll start working on a draft, and then rebase once I've seen your PR.

[2020-03-12 15:26] afbarksd opened #17452 "Example code is always helpful."
Example code is always helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cff694-3fc8-6aa0-77a0-6dbd34835bc8
* Version Independent ID: 5d017478-4c9b-a772-dc37-4f41b8e9f51a
* Content: [Generic Delegates for Manipulating Arrays and Lists](https://docs.microsoft.com/en-us/dotnet/standard/generics/delegates-for-mani

[2020-03-12 15:35] Thraka commented on #17266
Thanks for noting this. I'll add this to our desktop guide area for updated WPF content for .NET Core. Thanks.

[2020-03-12 15:48] Thraka commented on #17274
@dagood Does the latest patch release automatically update? Or is everything (no matter what) just treated standalone all the time?

[2020-03-12 16:04] dagood commented on #17274
Updates from the Microsoft deb package feeds are automatic to the same degree as any other deb package feeds being used by the system. After running `apt update` to fetch new metadata, the system sees that a new version is available, and you can run `apt upgrade` or use your UI to update as you would with any other package.

You can also simply run the instructions again to upgrade. `apt install d

[2020-03-12 16:11] Thraka commented on #17336
@lokitoth It doesn't seem like this is exposed to the user and wouldn't be something we document.

@kouvel Perhaps you can shed some light on this scenario.

[2020-03-12 16:42] Thraka commented on #17382
Hello. I don't really understand what you're suggesting be changed in the article. The powershell you provided doesn't seem to demonstrate how something isn't working. If it's case insensitive than either an upper I or lower i would be a match for whichever the turkish i mapped to. Yes?

[2020-03-12 17:32] Thraka commented on #17346
I checked the latest Visual Studio 2019 VB WPF and CS WPF projects and both have that UI option. I'm guessing there must have been a restriction with VB at the time/version of Visual Studio you're using. Can you upgrade to 2017 15.9? That is the latest supported release for 2017. Otherwise you may want to ask the Visual Studio team.

[2020-03-12 20:33] lokitoth commented on #17336
It is a question of whether, for being good citizens with respect to battery life developers can just use the Timer class in the class library, or whether they have to do per-platform invocations to OS' underlying coalesced timers to do so, likely via P/Invoke.

It is not about whether this is exposed to the user as much as it is whether they get used automatically. (At the same time, developers w

[2020-03-12 21:58] kouvel commented on #17336
The current implementation does not use timer coalescing capabilities of the system. There aren't any plans currently that I'm aware off to add it.

[2020-03-13 02:53] Kryptos-FR opened #17455 "Document that "MMM" and "MMMM" have somewhat different behavior for some locale such as Japanese"
**Issue description**

Some locale such as Japanese ("ja-JP") or Chinese ("zh") have suprising rules for "MMM" and "MMMM".
I think the documentation should include a note or warning in  `docs/docs/standard/base-types/custom-date-and-time-format-strings.md`.

For example:

[code]

As a non-Japanese working in Japan, I was bitten by that exception a few times. Especially, I noticed it late (once in

[2020-03-13 03:28] lokitoth commented on #17336
Thanks for confirming

[2020-03-13 04:03] jszabo98 commented on #17382
If my culture was "en-US", I don't understand why powershell would link the English small i or English capital I to the Turkish or "tr-TR" `İ`(0x130) in a case insensitive regular expression test.

[code]

There's also the Kelvin symbol K (0x212a) whose lower case is the regular English small k, but that doesn't present a similar problem:

[code]

I'm just suggesting that the docs mention to use c

[2020-03-13 05:02] #17429 closed

[2020-03-13 11:04] theprash opened #17457 "Add test cases to the examples"
Please can you add edge case test cases to the examples, so we can see specific SDK versions that are allowed and disallowed by the global.json restriction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35d7-aeff-3187a36dbbca
* Content: [glob

[2020-03-13 12:00] CeciAc opened #17458 "The theme is a bit less colored"
The comments below were machine-translated

@Elliot-zjy commented on [Fri Mar 13 2020](https://github.com/dotnet/docs.zh-cn/issues/536)

The black and white words are too bright, all white pages are very tired, high contrast and more dazzling, I hope to add a few more mild colors, such as light green sheepskin volume

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 13

[2020-03-13 13:48] #13841 closed

[2020-03-13 13:49] BillWagner commented on #17458
@CeciAc  This is about the site experience. I'll move to the MicrosoftDocs feedback repo.

[2020-03-13 14:44] luisquintanilla commented on #17446
Hi @CeciAc

Thanks for opening this issue. There is no error in this article. Other than the *Hello ML.NET World* snippet, the other snippets are just meant to illustrate the different parts of ML.NET and are not intended to be a guided end-to-end example of how to run your first program. We'll take a look to see how we can make this more clear.

[2020-03-13 15:45] Thraka commented on #17382
I'm unsure I'm not an expert in string culture stuff. Even copying your example into a notepad replacement named notepad2 caused the text pasted to transform the turkish i into an english i. So there is something probably in the OS level that is doing this translation, not .NET.

You may have get a bigger audience looking at this question on stackoverflow. These issues are better geared towards so

[2020-03-13 15:48] kungfu-king-betty commented on #15725
That's probably because this is an introduction to classes tutorial, not a "Generate Executable File" tutorial. However, if you are still looking for info on generating and running executable file try this link https://dzone.com/articles/generate-an-exe-for-net-core-console-apps-net-core or just search "Generating executable files with dotnet" on google.

[2020-03-13 16:31] tdykstra commented on #17457
Please clarify what you mean by "edge test cases."  What scenarios are you referring to?

[2020-03-13 16:56] AraHaan commented on #10546
@Eddie-Hartman more like meaning never.

[2020-03-13 17:27] theprash commented on #17457
For example:

Concrete examples make it easy to quickly understand the difference between `latestPatch` and `latestFeature` without carefully parsing the definitions.

[2020-03-14 00:37] DamianEdwards commented on #17265
It's the error that's shown in the build output when targeting a .NET Framework TFM from an SDK-style project. I agree that whatever page it refers to should be relevant to the context in which the error is shown.

[2020-03-14 04:45] naughtyGitCat opened #17461 "Single-file executable command line not recognize by linux-x64 target platform"
If it was target for windows, I will be better to pointed out that

psyduck@PsyDuck ~/P/S/DBAInternalAPI (master) [1]&gt; dotnet pulish -r linux-64 -p:PublishSingleFile=true
Could not execute because the specified command or file was not found.
Possible reasons for this include:
  * You misspelled a built-in dotnet command.
  * You intended to execute a .NET Core program, but dotnet-pulish does no

[2020-03-14 15:46] leecow commented on #16836
I'm running some experiments over the weekend and we'll use 5.0 Preview 1 validate and flesh out the experience. After that, we can move the guidance into Docs.

[2020-03-14 17:56] oneor11 opened #17462 "Additional Resources links broken"
Links in Additional Resources return 404s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ea389-75e9-1321-3be4-dc8d8e47a925
* Version Independent ID: 1db547e8-a0b0-cf44-dba4-b65786c576fe
* Content: [Testing ASP.NET Core services and web apps](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-c

[2020-03-14 21:21] Thraka commented on #17461
Hello. If you're having a problem with the command, please file a bug with https://github.com/dotnet/core

I'll move your issue there.

[2020-03-14 21:23] Thraka commented on #17461
This issue was moved to dotnet/core#4397

[2020-03-14 21:23] #17461 closed

[2020-03-14 23:24] MarkMichaelis opened #17463 "Finalizer is not reliably called regardless of .NET Core or .NET Framework"
According to the page:

However, given the following code, it appears the finalizer doesn't reliably get called before the program shuts down regardless of whether .NET Core (netcoreapp3.1) or .NET Framework (net46) is used.  Adding the Collect() triggers the finalizer in both cases.

[code]

Admittedly, there is likely some "timing" explanation but seemingly it isn't working as described.

---
##

[2020-03-15 01:27] tarekgh opened #17464 "Update the possible values of NumberFormatInfo.CurrencyNegativePattern"
We need to update the table mentioned in the remarks section https://docs.microsoft.com/en-us/dotnet/api/system.globalization.numberformatinfo.currencynegativepattern?view=netframework-4.8#remarks to add the new entry:

Value | Associated pattern
-- | --
16 | $- n

We added the support of this new format in net core 5.0

[2020-03-15 07:48] bdnts opened #17465 "Where is the matching code?"
WHERE IS THE MATCHING CODE?!!!  Has everyone been fired from the MS Documentation department?  Because there are absolutely no standards left, and Docs are all over the place.  No consistency.  This article is a wonderful explanation of typed clients, but then trying to implement the guidance, the examples are just snippets, creating more questions than they clarify.  I go looking for the accompan

[2020-03-15 18:00] GabriellaLaPlace opened #17467 "To Learn .Net Core Do We Have To Learn C#, F# and Visual Basic, Or Just One Of The Languages?"
To Learn .Net Core Do We Have To Learn C#, F# and Visual Basic, Or Just One Of The Languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3290a-6511-5ef4-68bc-c2a8424dd582
* Version Independent ID: aeb94c3f-50e0-eb84-e469-f6eb778bad62
* Content: [Debug your Hello World .NET Core application with Visual Studio - .

[2020-03-15 18:39] jnm2 opened #17468 "Where is the spec proposal for custom async method builders added in C# 7.0?"
Mentioned here: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7#generalized-async-return-types

And mentioned here, with the incorrect statement that *any* type can be used as an `async` return type so long as it has a public `GetAwaiter` method: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/async-return-types#generalized-async-return-types-and-v

[2020-03-15 19:02] jnm2 commented on #17468
/cc @BillWagner, hope this isn't a duplicate.

[2020-03-16 00:15] SimpleSamples opened #17469 "is the is an is with no null or an as with null"
The first sample includes:

static void TestForMammals(object o)
    {
        // Alternatively, use the as operator and test for null
        // before referencing the variable.
        if (o is Mammal m)
        {
            Console.WriteLine(m.ToString());
        }
        else
        {
            // variable 'm' is not in scope here, and can't be used.
            Console.WriteLine($"{o.Ge

[2020-03-16 02:10] andrewfinnell commented on #9295
@erikness This comment saved me hours of time trying to figure out why my HttpClient wouldn't obey the `ServicePointManager` settings. It was because I used my own `HttpClientHandler`. I never would have know the default handler is what picks up the setting from the `ServicePoint` if not for your comment.

Thank you.

[2020-03-16 07:15] pkulikov commented on #17469
@SimpleSamples I see that the comment can be confusing and interpreted in several ways. I think the intended interpretation of the comment as follows.

The comment
[code]

should read as
[code]

If you wonder how to use the `as` operator:
[code]

[2020-03-16 09:00] svick commented on #17467
Learning just one of the languages is enough to use .Net. Though most of the documentation, examples, articles and Q&A answers are in C#, so your choices are more like:

1. Learn just C#.
2. Learn F# or VB and also basics of C#, so that you can understand the code that's out there and translate it into the language you're using.

[2020-03-16 13:47] CeciAc opened #17470 "libicu not found when using zypper"
@SchoolGuy commented on [Mon Mar 16 2020](https://github.com/dotnet/docs.de-de/issues/168)

Currently the command `sudo zypper install libicu` will not work because suse uses a different naming schema for this. Since I don't know what exact package is needed for .NET/.NET Core here is the link to the OBS Repository where all packages are built: https://build.opensuse.org/package/show/openSUSE%3AFa

[2020-03-16 14:42] BillWagner commented on #17350
Thanks for the discussion. The project has been closed. Closing this issue.

[2020-03-16 14:42] #17350 closed

[2020-03-16 14:50] GabriellaLaPlace commented on #17467
Thanks, I'm doing the tutorials on Microsoft's website. Do you know any
other websites that teach .Net Core. I'm learning C# on Sololearn.com, but
I don't know where I can specifically learn .Net Core. , Step - By - Step.

On Mon, Mar 16, 2020, 5:00 AM Petr Onderka <notifications@github.com> wrote:

[2020-03-16 16:13] BillWagner commented on #17463
Thanks @MarkMichaelis

Ping @richlander @karelz  Who would be best to help me correctly describe the behavior of finalizers across the .NET CLR implementations?

[2020-03-16 16:14] BillWagner commented on #17468
Thanks @jnm2

Ping @gafter @jcouv  Where is the best starting point for this?

[2020-03-16 16:16] BillWagner commented on #17469
Thanks for noting this @SimpleSamples and for the explanation @pkulikov

It looks like the code was updated without context. From the surrounding text, the second sample should be modified to use the `as` operator (which is shown at the end of the previous comment).

[2020-03-16 17:14] CeciAc opened #21233 "No information about injection of hosted services"
@deadman2000 commented on [Mon Mar 16 2020](https://github.com/dotnet/AspNetCore.Docs.ru-ru/issues/76)

No information about injection of hosted services/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd55089-b683-2202-6641-c7b61a132f14
* Version Independent ID: cc5f00d0-fb50-1229-8fa2-e66b1f45b284
* Content: [Depend

[2020-03-16 17:47] tarekgh opened #17471 "Recommend using Windows Runtime type Geolocator instead of GeoCoordinateWatcher"
We need to add a note to the doc https://docs.microsoft.com/en-us/dotnet/api/system.device.location.geocoordinatewatcher?view=netframework-4.8 saying apps recommended to use Geolocator class https://docs.microsoft.com/en-us/uwp/api/windows.devices.geolocation.geolocator for location services instead of using GeoCoordinateWatcher. The reason is GeoCoordinateWatcher is using old Windows Location int

[2020-03-16 19:07] Thraka commented on #17470
Ping @dagood

[2020-03-16 19:18] #17336 closed

[2020-03-16 20:18] Thraka commented on #17265
OK, re-reading all of this, I think we should update both the pages with something related to this scenario.

However, we should also have the build error point to a troubleshooting page about this specific error, not this conceptual material. Do you want to create an issue on the SDK repo for that?

[2020-03-16 20:38] SimpleSamples commented on #17469
All that sounds good to me.

[2020-03-16 21:15] dagood commented on #17470
What distro are you using? SUSE primarily produces SLES, which we have different instructions for:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-sles15
https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-sles12

---

For now I'll assume openSUSE 15 because that's the linked doc. I don't see any issue currently, starting from a fresh Docker contai

[2020-03-16 21:15] gafter commented on #17468
https://github.com/dotnet/roslyn/blob/master/docs/features/task-types.md

[2020-03-17 04:13] jannavarro opened #17475 "Blame should have two dashes and not one."
Currently the docs show `-blame`. It should be `--blame`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test)
*

[2020-03-17 06:43] SchoolGuy commented on #17470
@dagood Yes I am using Tumbleweed but since openSUSE 16/SLES 16 (or however we will name it) will be again branched from Factory aka Tumbleweed the problem will resurface. So even if we close this I digged you up another problem because starting from Leap 15.2/SLES 15 SP2 you will have the same problem again.

- Here the specfile for SLES 15 SP2: https://build.opensuse.org/package/view_file/SUSE:S

[2020-03-17 09:59] Phoenix-313 commented on #16442
Thank you very much!

[2020-03-17 12:06] GabriellaLaPlace opened #17478 "When I Build The Program, when release is selected, it tells me I'm still debugging and I don't know why?"
When I Build The Program, when release is selected, it tells me I'm still debugging and I don't know why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3290a-6511-5ef4-68bc-c2a8424dd582
* Version Independent ID: aeb94c3f-50e0-eb84-e469-f6eb778bad62
* Content: [Debug your Hello World .NET Core application with Visua

[2020-03-17 12:11] s-williams opened #17479 "Suggestion on the capitalisation of true and false"
On the [Hello world tutorial, part 5, Search strings](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/hello-world?tutorial-step=5), it is stated that:

However, when you run the code sample, which involves writing two bools to the console, the output is:

Note the differing capitalisation of true and false in the console output and in the documentation. This discrepancy th

[2020-03-17 12:46] pkulikov commented on #17479
That would imply that the following code is correct:

[code]

While it's not

[2020-03-17 14:33] BillWagner commented on #17479
Thanks for writing this @s-williams

Because this content is for beginners, a clarifying comment could be added. I suggest:

I've added this to our backlog, and added the *up-for-grabs* label.

[2020-03-17 14:41] BillWagner commented on #17478
@GabriellaLaPlace thanks for asking.

In Visual Studio, the "run" button defaults to running the debugger. You can learn more, and try some of the Visual Studio tutorials for .NET core at the [Visual Studio](https://docs.microsoft.com/visualstudio/windows/?view=vs-2019) documentation.

I'll close this as answered. If you have more concerns, you can reopen this and add them here.

[2020-03-17 14:41] #17478 closed

[2020-03-17 14:57] dagood commented on #17470
Ah, yep, .NET Core doesn't support Tumbleweed because we can't keep up with issues like this. We just need some libicu installed, so whatever `libicu##_#` is available is what you need, then you can ignore the .NET Core package's dependency.

We're aware this is happening (hence https://github.com/dotnet/runtime/issues/913) but I couldn't figure out how to see what changes are in which release. Th

[2020-03-17 14:57] #17470 closed

[2020-03-17 15:00] gklittlejohn opened #17481 "Nullable string"
You might want to add that for strings a Well Known Type wrapper appears to be required for null values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a41d02-3084-c31e-98ed-2bd786c7a301
* Version Independent ID: 31a20696-f326-63c3-77d1-f3cfc0aa589c
* Content: [Protobuf scalar data types - gRPC for WCF developers](ht

[2020-03-17 15:18] #17469 closed

[2020-03-17 15:29] #17475 closed

[2020-03-17 15:36] tdykstra commented on #17475
@jannavarro Thanks for reporting that!

[2020-03-17 16:34] Thraka commented on #17360
Ported info over to #2729
Will close this one.

[2020-03-17 16:34] #17360 closed

[2020-03-17 18:03] cloudn9 commented on #17479
@BillWagner Hello Bill, could I merge the PR, or should I await for an approval ?
Thank you.

[2020-03-17 18:11] Thraka commented on #17274
I'm going to close this as I feel it is resolved. I just tested this and simply rerunning the install instructions (for the appropriate distro) allowed me to upgrade too.

Please feel free to reopen it if you don't feel this is resolved. Thanks!

[2020-03-17 21:30] karelz commented on #17463
@Maoni0 will know probably best ...

[2020-03-17 21:36] #16510 closed

[2020-03-17 22:00] cloudn9 commented on #9744
Hello @Youssef1313 , how could I help with this issue ? Is this (https://gist.github.com/NextTurn/a1445dfee1b8e51d5890c9b886a3fbf1)
the last version of what has been left ?
Thank you.

[2020-03-17 22:18] Maoni0 commented on #17463
there are various timeouts for running finalizers. on .net this was something like 40 seconds total for process shutdown and 2 seconds total for each finalizer. there's also a different timeout for AD shutdown. I'd have to check the src to verify. there's also the distinction between critical finalizers vs non critical finalizers. I can't remember if the timeouts apply to the critical finalizers o

[2020-03-17 22:24] jkotas commented on #17463
This is described in detail in https://docs.microsoft.com/en-us/dotnet/api/system.object.finalize?view=netframework-4.8#how-finalization-works

[2020-03-17 22:26] jkotas commented on #17463
And in even more detail here: https://devblogs.microsoft.com/cbrumme/finalization/

[2020-03-18 08:40] m-brooks opened #17494 "Confusing sentence at at start"
"An interface may provide a default implementation for any or all of its declared instance members."
This confuses me because the article goes on to say:
"An interface can't contain instance fields, instance constructors, or finalizers".
I.e. the first quoted sentence says we can declare instance members, but the second says we can't, or at least we can't for certain types of member. I suppose tha

[2020-03-18 11:03] yangrongwei commented on #17378
https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds

But .. are these two commands having same folder layout ?

[2020-03-18 11:26] vivainio commented on #17378
@yangrongwei not currently, but I filed a bug on NuGet on this https://github.com/NuGet/Home/issues/9281

[2020-03-18 13:53] kmuthukumar23 opened #17495 "StaticAssets not included when pack the project using a .nuspec file"
Hello guys,

Thanks in advance..

i have faced the issue in nuget pack generation by dotnet pack using .nuspec file.

I have scripts and styles in my project's wwwroot folder and nupec file for my project. These folder is shipped into the package as staticassets when i am run the command **`"dotnet pack ~/projects/app1/project.csproj"`**.

But my project's nuspec file not shipped in to pack. The p

[2020-03-18 14:19] BillWagner commented on #17494
The first sentence should be replaced with:

The later sentence correctly specifies which members can be implemented in an interface.

I've added this to the current sprint, and added the "up for grabs" label in case community members want to implement the fix.

[2020-03-18 14:20] aslotte opened #17496 "Using netcat"
It's not clear how to get netcat to work on a Windows computer. The instructions mentions to download netcat, extract the content and put the directory in the path environment variable. This doesn't work though, as there is no .exe in the downloaded directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fa17b96-900

[2020-03-18 14:23] BillWagner commented on #17463
When we updated the C# standard for version 5, we softened the language specific to finalizers as follows:

For this article, that language should be adopted, with the additional details @Maoni0 added (because this article *is* about the Microsoft implementations).

I've added this to an upcoming sprint to fix.

[2020-03-18 14:33] #14698 closed

[2020-03-18 15:02] m-brooks commented on #17494
Thanks Bill- that helps. 🙂

________________________________
From: Bill Wagner <notifications@github.com>
Sent: 18 March 2020 14:19
To: dotnet/docs <docs@noreply.github.com>
Cc: m-brooks <m-brooks@live.co.uk>; Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] Confusing sentence at at start (#17494)

The first sentence should be replaced with:

Beginning with C# 8.0, an interface may de

[2020-03-18 15:11] MarkMichaelis commented on #17463
What I was hoping for was a clearer explanation for why the finalizer was not getting called and, more importantly, what I could do to ensure - under normal shutdown scenarios (e.g. not running under the debugger and stopping the execution) - the finalizer would get called.

[2020-03-18 16:31] jkotas commented on #17463
If you need to do cleanup during shutdown, the best way to do that is to register for `AppDomain.ProcessExit` event and do not depend on finalizers.

For any non-trivial real-world app, there is a significant chance that the shutdown finalization gets stuck due to deadlock or aborted due to timeout. For example, Visual Studio does not depend on the shutdown finalization at all (it actually termina

[2020-03-18 16:35] #9608 closed

[2020-03-18 16:37] MarkMichaelis commented on #17463
Thanks.  That is helpful for the application developer.  I don't see that as working or a "library" vendor, however.  If the code calling my API knows cleanup is necessary, the just call Dispose() and all is fine.  The issue here is for when the users of your library forget to or don't realize the Dispose pattern.  Finalizers are for this scenario I thought.  Also, the code example I have above do

[2020-03-18 16:48] jkotas commented on #17463
The finalizers are never called during shutdown in .NET Core. This is the expected for .NET Core.

For .NET Framework, your repro prints "Executing finalizer..." reliably for me. It is possible that the Console finalizer is running before your finalizer on your machine, and the console is non-functional by the time your finalizer is called. Ie your finalizer is called but you do not see it on the

[2020-03-18 18:43] JohnP-Identiv opened #17499 "Excellent Topic Coverage"
This entry is concise, well laid out, and very clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8121f526-cfe4-091d-d031-2cdc274cd8ee
* Version Independent ID: 76a389f6-b568-3568-6483-6df440f96f0c
* Content: [Access Modifiers - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/c

[2020-03-18 18:45] tdykstra commented on #17391
cc @GrabYourPitchforks @adamsitnik @bartonjs

[2020-03-18 19:08] tdykstra commented on #17393
@JamesNK Can you answer this question?

[2020-03-18 19:17] tdykstra commented on #17455
Thanks for the suggestion. We've added this to our backlog and will address it the next time we update the relevant article.

[2020-03-18 19:47] tdykstra commented on #17495
@karann-msft @rohit21agrawal can you help with this request?

[2020-03-18 20:45] #17207 closed

[2020-03-19 00:35] gewarren opened #17502 "Update landing pages"
The following landing pages still need to be updated to the YAML card design:

- [x] https://docs.microsoft.com/en-us/dotnet/architecture/
- [x] https://docs.microsoft.com/en-us/dotnet/framework/
- [x] https://docs.microsoft.com/en-us/dotnet/standard/
- [x] https://docs.microsoft.com/en-us/dotnet/core/

[Contributor guide for landing pages.](https://review.docs.microsoft.com/en-us/help/contribute/

[2020-03-19 02:08] #15845 closed

[2020-03-19 02:42] dagood opened #17504 "Remove '-q' from wget in linux package repo setup for better initial diagnosis of mirror issues"
I suggest removing `-q` from `wget -q https://packages.microsoft.com/config/ubuntu/19.10/packages-microsoft-prod.deb -O packages-microsoft-prod.deb` on all applicable pages to get more information upon initial user reports.

Recently there have been issues (and apparent issues) with the packages.microsoft.com distributed mirrors getting out of sync from the repo state. The repo admins are currentl

[2020-03-19 03:16] YoshiRulz commented on #16692
FWIW `sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc` does not error on OpenSUSE WSL. I first tried `curl -o - https://packages.microsoft.com/keys/microsoft.asc | sudo rpm --import -` but it seems `rpm` does not understand that `-` means stdin.

[2020-03-19 03:58] sagoo33 commented on #7683
Is there any update on this?

[2020-03-19 05:55] MSDN-WhiteKnight commented on #17463
But the library could still subscribe to AppDomain.ProcessExit event on first API invocation, maintain the static collection of all disposable objects undisposed by user and dispose them in event handler. Why wouldn't that work for library vendor?

Indeed, for OleDB classes, or any STA COM objects in general, shutdown finalizer deadlocks are common in .NET Framework.

[2020-03-19 13:46] BillWagner commented on #17468
I'll add any of the spec proposals that have been filled in during this sprint. From there, I'll watch for updates on the placeholders and publish them as they are available.

[2020-03-19 14:45] fekberg opened #17507 "Avoid Wait() on asynchronous operations"
Please change `ExecuteAsyncMethods().Wait();` to `await ExecuteAsyncMethods()` to follow the best practices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8047b417-55af-c6df-9333-f1e1c428e594
* Version Independent ID: 8bcc16bb-c2d8-0b6d-af20-6958964efe9e
* Content: [Discards - C# Guide](https://docs.microsoft.com/en-u

[2020-03-19 16:09] jhugard commented on #17369
Push comes to shove, you _could_ browse the `FSharp.Core` .fsi interface files:

* https://github.com/fsharp/fsharp/tree/master/src/fsharp/FSharp.Core

E.g., the `List` module is here:

* https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/list.fsi

Still.  Those clearly should be be linked somewhere here in these docs...

[2020-03-19 17:42] gewarren commented on #17499
@JohnP-Identiv Thank you for this positive feedback!

[2020-03-19 18:07] leecow commented on #17504
Sounds like a good change.

[2020-03-19 19:27] Thraka commented on #17504
OK. I have an open PR already on changing some things, I'll add this to the list of stuff

[2020-03-19 19:52] Thraka commented on #17406
@BillWagner I added the category, I'll let you add a priority. Cheers!

[2020-03-19 19:55] Thraka commented on #17507
@fekberg Hello.

I'm assuming you're also suggesting that the entry point be changed to an asynchronous entry point too? Without that change, the current code is actually acceptable and works as intended.

[2020-03-19 20:04] fekberg commented on #17507
@Thraka That is correct.

It would end up like this instead:

[code]

I mainly suggest it as using `Wait()` or `Result` is often the cause of deadlocks, and it's bad practice.

Is there a reason not to make `Main` asynchronous and leverage `async` and `await` all the way?

[2020-03-19 20:42] Thraka commented on #17507
I don't think there is a reason. It was either an oversight, created before `async main` was available, or just the fact that the `dotnet new` template doesn't create one.

Please feel free to open up a PR.

Cheers!

[2020-03-19 20:42] cloudn9 commented on #9948
@mihalicsb Hello, I've just tested the official code from the article, and I got only the form printed, without any other windows. It seems working as it should.

p.s. attached the scanned doc
[img-200319214010.pdf](https://github.com/dotnet/docs/files/4356821/img-200319214010.pdf)

[2020-03-19 20:48] fekberg commented on #17507
@Thraka Done! :) Thanks for the help

[2020-03-20 00:27] NextTurn commented on #16748
It's one of the *csc* options. There is *csc* for .NET Core too.

https://docs.microsoft.com/dotnet/csharp/language-reference/compiler-options/target-compiler-option

[2020-03-20 00:54] NextTurn commented on #9744
@cloudn9 Sorry for the delay. I've updated the gist with 267 entries.

[2020-03-20 04:47] GrabYourPitchforks commented on #17391
@Cyl18 What is the problem with the sample?

[2020-03-20 08:54] Cyl18 commented on #17391
It's not thread-safe, this would lead noobs to do that
umm I think to add a comment says "this is not thread-safe" is ok

[2020-03-20 09:45] Aspire0ne commented on #17499
public:   no restriction | any assembly
internal: no restriction | current assembly
protected internal: no restriction | current assembly OR derived class in another assembly
private:  current class | current assembly
private protected: current & derived class | current assembly
protected: current & derived class | any assembly

[2020-03-20 11:04] storm999 opened #17518 "Explanation in the following link is much better than this page."
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/asynchronous-client-socket-example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c349f-3592-3f62-315d-e85db695041b
* Version Independent ID: efce9f39-4ba4-a61d-4330-e60dcfaf99ca
* Content: [Using an Asynchronous Client Socket](https://docs.micros