[2019-01-16 17:34] JRAlexander commented on #10012
Thanks, @hobbit125, for that good catch. That was left over from an earlier addition that was removed. I've just updated the topic with the correct method reference and submitted a PR. #10014 Thanks again for your help!

[2019-01-16 17:36] JRAlexander commented on #9961
@alexhiggins732, the links should all be corrected now. @CESARDELATORRE, can you take a look at the blog post mentioned?

[2019-01-16 17:36] #9961 closed

[2019-01-16 17:39] mrholshi commented on #7683
We are experiencing this issue too. TLS 1.0 and lower have been disabled across all systems. With a trusted localhost cert and a trusted FQDN cert, both endpoints will generate the following error when attempting to connect to a local service via HTTPS
`The client and server cannot communicate, because they do not possess a common algorithm`

Tested against version 15.0.28127.55

[2019-01-16 18:13] #10012 closed

[2019-01-16 18:14] JRAlexander commented on #10012
The PR was merged and the change should be live in a day or so.

[2019-01-16 18:38] mairaw commented on #10013
@Rick-Anderson @scottaddie have you guys removed that PDF/branch or moved that somewhere?

[2019-01-16 20:17] brianrob commented on #9532
Adding to the comment above - we should definitely have guidance on how to measure.  In the end, this is likely to be one of the most important pieces of performance guidance that we can provide.  I'm happy to work with you to get this done.

[2019-01-16 21:39] #5437 closed

[2019-01-16 21:57] johnbeisner commented on #9868
@mairaw
You are correct - the help should be updated: https://github.com/dotnet/cli/pull/10619

[2019-01-16 21:58] mconnew commented on #7683
I presume this is over HTTPS. If so, you could modify the ServicePointManager defaults in the TestClient app config file. I don't believe that TestClient is built specifying a target framework which means it gets 4.0 compatibility semantics by default which means HTTPS only uses SSL 3.0 and TLS 1.0.

[2019-01-16 22:35] #7996 closed

[2019-01-16 22:47] #5395 closed

[2019-01-16 22:47] #6311 closed

[2019-01-16 22:48] mjrousos commented on #7537
I see this error if using cl's `/Zc:stringStrings` option. I've fixed it and will open a PR shortly.

[2019-01-16 22:57] #10013 closed

[2019-01-16 23:03] seanlin-larc commented on #9996
My Visual Studio just started 2 days ago. I don't even know how to customize my menu....

[2019-01-16 23:17] #9868 closed

[2019-01-16 23:31] seanlin-larc commented on #9995
As attached screenshots:

![screenshot 201901161529](https://user-images.githubusercontent.com/24693273/51285451-be06ef80-19a3-11e9-8a9d-35c6505491ec.png)

![screenshot 201901161530](https://user-images.githubusercontent.com/24693273/51285458-c52dfd80-19a3-11e9-8dd0-9faf07253590.png)

[2019-01-16 23:43] rpetrusha commented on #10005
The issue here, @volkan-yazilim, is that the code performs two different tests for equality. The first tests for the equality of two strings, and to do that it performs a test for value equality (it compares the individual characters in the two string objects). The second casts the strings to objects and compares them using the equals operator. The equals operator when used with reference types ot

[2019-01-16 23:43] #10005 closed

[2019-01-16 23:47] Thraka commented on #9996
Can you post a screenshot of your solution explorer? (usually the right-side)

I tried a bunch of things too and I can't replicate it.

[2019-01-16 23:54] seanlin-larc commented on #9996
Here it is (with context menu open). Thanks for your help.

![screenshot 201901161553](https://user-images.githubusercontent.com/24693273/51286221-e04e3c80-19a6-11e9-8451-c407bbc88839.png)

[2019-01-16 23:54] Thraka commented on #9893
Per request, moving to @mairaw since she is doing the 2.2 CLI ref

[2019-01-17 00:05] davetamasi opened #10022 "You mean authorization"
First sentence is wrong:  Authentication is the process of determining the identity of a user or principal; identifying whether a client is eligible to access a resource is authorization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf15d8f-56c9-61ea-9801-2d4049400f4a
* Version Independent ID: 390671d2-7d1b-48c8-bad

[2019-01-17 00:08] Thraka commented on #9976
@Smedjebacka I'm working rewriting this article and adding info about framework-dependent executables, and adding command line examples. I'm going to cross link this issue with my PR.

[2019-01-17 00:11] Thraka commented on #9239
@dasMulli Are you stating this information as a way to get this article updated with that? or are you saying that this is a bug and it **should** be pre-fetching runtime-specific packages for self-contained deployments?

I've just opened a PR on this article that rewrites the majority of it. However, I don't talk about the `<runtimeplatform>` nodes in the project file as on the command line you st

[2019-01-17 00:13] mairaw commented on #9961
@JRAlexander I can help with the blog post update. What should be the new link to replace https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance.cs?

[2019-01-17 00:30] Thraka commented on #9996
Did you perchance choose VB developer settings (i can't remember the exact name) when you first installed and ran visual studio? I wonder if it's probably just a different config that doesn't put those build menu settings there.

[2019-01-17 00:39] rpetrusha commented on #9995
Thanks for the screen capture, @seanlin-larc. The basic problem here is that your project is not contained within a solution. Because of that, solution-related menu options don't appear, and you can't use a test framework to test a library because they have to be separate projects contained in a single solution.

I'm not at all sure how this might have happened -- as far as I know, Visual Studio,

[2019-01-17 00:41] rpetrusha commented on #9994
For more information, see #9995.
Closing as Duplicate, since the root cause of this behavior is the same as #9995.

[2019-01-17 00:44] rpetrusha commented on #9995
Also, @seanlin-larc, @Thraka found a configuration option that should cause the solution file to be displayed. See #9996. I think that it should solve the problems that you're having.

[2019-01-17 01:04] rpetrusha commented on #7516
Yes, @KPixel, we'd be very interested in a topic on pipelines.  In the overall doc, it would be a child page of [Memory- and span-related types](https://docs.microsoft.com/en-us/dotnet/standard/memory-and-spans/), although that top-level article might have to be renamed.

Yes, you can open a pull request. If you want to use the article as-is with some improvements, that would be fine. Our contribu

[2019-01-17 01:04] Thraka commented on #9995
Whoops clicked the wrong button 😄

[2019-01-17 01:16] fedoranimus commented on #9962
If it makes more sense, I can open an issue on the actual machine learning repo, or ask a question on StackOverflow.

I feel the documentation should express this information ultimately, however.

[2019-01-17 01:55] seanlin-larc commented on #9996
Cool. I got it. I really appreciate your help!

[2019-01-17 02:20] #9077 closed

[2019-01-17 06:42] volkan-yazilim commented on #10005
Thank you for explanation. I actually wanted to ask something different.

As far as as I know, if the content of two string variables are the same at compile time, their references are the same. It means ReferenceEquals method returns true for them. Such as;
string a = "hello";
string c = "hello";
ReferenceEquals(a,c);   => returns true

if another string variable gets the very same string content

[2019-01-17 07:44] pkulikov commented on #10005
@volkan-yazilim That might be due to string interning:
https://docs.microsoft.com/en-us/dotnet/api/system.string.intern?view=netframework-4.7.2#remarks

[2019-01-17 08:09] baruchiro opened #10025 "App.config in Unit Test project"
It seems that there is a big problem (for my opinion) with `app.config` in UnitTest` project.
Unit tests run with test runner, not directly from the dll, so after we moved to .net core, the ConfigurationManager (nuget) search the `app.config` in TestRunner directory and not from `MyUnitTest.dll` directory.

I ask this here because I can't find an official document that describes this issue/bug/sol

[2019-01-17 08:13] kierenj commented on #2642
As per https://stackoverflow.com/questions/54195709/understanding-net-core-csproj-actions?noredirect=1#comment95221591_54195709, I'm super keen to understand many things about None, Content, Folder, how globs interact, why "None Remove" is needed (or added by VS at least).  Hope you don't mind this as a bump.

[2019-01-17 11:39] guardrex commented on #2642
Idk where the contents of the prior file landed ... it was just an example of where devs were looking for examples on how to customize build/publish behaviors. Similar situation with the web publishing targets/props, where devs sometimes go in and look at the source to learn or to find out how to customize some aspect of how their app is published. https://github.com/aspnet/websdk/tree/master/src/

[2019-01-17 13:22] KPixel commented on #7516
Great. I will put this doc in [that folder](https://github.com/dotnet/docs/tree/master/docs/standard/memory-and-spans) for now.

[2019-01-17 15:47] Gammerz26 opened #10027 "Examples Missing"
The 3rd line says: "The following examples create single-dimensional, multidimensional, and jagged arrays:" yet there is only one example of a single-dimensional array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02d7544-6f92-5582-9d28-7160a5bc916a
* Version Independent ID: 7e3f884a-94b6-ea27-70ea-060fe51f51c2
* Co

[2019-01-17 16:32] #4909 closed

[2019-01-17 16:32] #7536 closed

[2019-01-17 16:32] #7537 closed

[2019-01-17 19:08] CESARDELATORRE opened #10030 "Logistic Regression should be within the Binary Classification ML Task."
Logistic Regression should be within the Binary Classification ML Task.
Logistic Regression does not target Linear Regression problems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd15175c-5b7d-4310-ecf5-32ffc7bc588b
* Version Independent ID: 38adc676-934e-0ff9-c868-527f075c96df
* Content: [Machine learning tasks -

[2019-01-17 19:56] tarekgh opened #10031 "EmbeddedResource logical name is not set properly for .NET Core desktop applications"
@diverdan92 commented on [Thu Dec 20 2018](https://github.com/dotnet/corefx/issues/34190)

When porting existing WPF or WinForms applications to target .NET Core that contain EmbeddedResources, the logical name is not fully defined and results in missing resources.

@ericstj @dsplaisted fyi from our debugging session last week.

---

@danmosemsft commented on [Thu Dec 20 2018](https://github.com/d

[2019-01-17 20:33] SimpleSamples opened #10032 "No solution name textbox"
When I create the WCF Service Library project I don't see a Solution name textbox. Is that part unnecessary for VS 2017 and later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e13437-f72d-8507-b1e6-e0b4dbc32008
* Version Independent ID: 525f628e-8880-1fcc-1314-dfd4e0779aa0
* Content: [WCF Client Overview](https://d

[2019-01-17 20:56] BDTomasz opened #10033 "So what if I want to write to a specific path..."
So what if I want to write to a specific path within a web app? any useful links... anywhere? 2hrs browsing through the docs...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7d2312a-0b45-4d11-b3fb-11e9cdba3372
* Version Independent ID: ea715711-4ee9-08cf-f319-6b7e1eadd84e
* Content: [How to: Read Text from a File](ht

[2019-01-17 21:00] SimpleSamples opened #10034 "How to define a Service Contract"
The How to: Define a Service Contract article says to create a separate project named GettingStartedLib. Is that what we are supposed to do here? Or do we call the separate project HelloWorldService? Or do we create the HelloWorldService within this project? I apologize for asking such a beginner question but I am trying to learn.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-01-17 22:33] KathleenDollard commented on #9967
Is this a .NET Core project? Or a .NET Framework project targeting .NET Standard?

[2019-01-17 22:34] KathleenDollard commented on #9967
Is this a project you converted or a new project.

The VB runtime has limited support in .NET Core. We are fixing this in .NET Core 3.0

[2019-01-17 22:40] KathleenDollard commented on #9964
I am sorry, but I am not aware of any guidance we have on this.

Maira, I don't think these have been updated in nearly ten years, so yes, we should retire the section.

[2019-01-17 22:41] KathleenDollard commented on #9845
Yes. That should be the action item here I believe.

[2019-01-17 22:42] KathleenDollard commented on #9845
I'm unclear that we would even need to do that. It is an imperfect variable name, but it looks like normal VB behavior.

[2019-01-17 22:53] mairaw commented on #9964
I'll help with that then @KathleenDollard

[2019-01-17 22:58] MrM40 commented on #9967
It's neither a NET Framework or .Net Core project, but a NET Standard 2.0 project (library). I don't know how I can say it more clearly ;-)
I guess Fixing it in Core 3.0 will not fix it in Net Standard, right?

To confirm the issue:
1: create a new Standard 2.0 project
2: Insert this code:
`Public Class Class1
    Sub test()
        If "String1" Like "String2" Then Debug.Print("The same")
    End

[2019-01-18 02:21] mairaw commented on #6547
@adkinn @DuncanmaMSFT new ping on this. I'd like to know if we can fix this on the engineering side instead of replacing all images.

[2019-01-18 02:22] mairaw commented on #6547
Also tagging @nishanil per @CESARDELATORRE's comment
https://github.com/dotnet/docs/pull/8827#issuecomment-437480235

[2019-01-18 05:06] #10030 closed

[2019-01-18 10:17] HermannGruber opened #10042 "when conditional keyword not highlighted"
I've just noticed that the conditional "when" keyword is not highlighted correctly when it appears as part of a "case" in a "switch" statement, like in this example:

public static double ComputeArea_Version4(object shape)
{
    switch (shape)
    {
        case Square s when s.Side == 0:
        case Circle c when c.Radius == 0:
        case Triangle t when t.Base == 0 || t.Height == 0:
        c

[2019-01-18 10:20] HermannGruber commented on #10042
Besides, in this code snippet, the "when" is highlighted but in light blue instead of plain blue:

static object CreateShape(string shapeDescription)
{
    switch (shapeDescription)
    {
        case "circle":
            return new Circle(2);

        case "square":
            return new Square(4);

        case "large-circle":
            return new Circle(12);

        case var o when (o?.Tri

[2019-01-18 10:48] HermannGruber commented on #10042
Also, "when" is not highlighted when used as a part of a "catch" expression, like here: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-6

[2019-01-18 10:56] pappasa opened #10043 "This topics in this section"
Change:
This topics in this section
to:
The topics in this section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e98711-0b61-1c3e-4841-98b90b626d38
* Version Independent ID: db8b89ed-ade1-4065-a756-1bdc61b5f423
* Content: [How to: Create a Workflow](https://docs.microsoft.com/en-us/dotnet/framework/windows-workflow-

[2019-01-18 11:04] pappasa opened #10044 "You can also designate and activity"
Change:
You can also designate and activity as the starting activity by right-clicking the it and choosing Set as Start Node.
To:
You can also designate an activity as the starting activity by right-clicking the activity and choosing Set as Start Node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaccd5b7-81e5-b850-2

[2019-01-18 12:16] dasMulli commented on #9239
I meant that the information should be removed since there is no value (longer than until the first servicing release of a major/minor version) in adding the `<RuntimeIdentifiers>` property to a project file.
Didn't want to open a PR since it may need some discussion.

I belive the RID should only be passed on the commandline when using multiple RIDs or use the singular `<RuntimeIdentifier>` in th

[2019-01-18 12:40] pappasa opened #10046 "Operators not correct"
Change:
"Please enter a number between 1 and " + MaxNumber
To:
"Please enter a number between 1 and " & MaxNumber

Change:
Guess == Target
To:
Guess = Target

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaccd5b7-81e5-b850-2764-6a37911bce6d
* Version Independent ID: e937ff92-5e6d-f54a-3ec1-0f1073571aa8
* Content: [How

[2019-01-18 13:31] svick commented on #10042
As far as I can tell, this site uses [highlight.js](https://highlightjs.org/) for code highlighting, so fixing this would involve improving [this file](https://github.com/highlightjs/highlight.js/blob/master/src/languages/cs.js) and then updating the version of highlight.js used here.

Vaguely related issue: https://github.com/MicrosoftDocs/feedback/issues/641.

[2019-01-18 14:47] pappasa opened #10047 "Need to configure namespace reservation"
It needs the following command to start the Approval Manager:
netsh http add urlacl url=http://+:8732/Design_TimeAddress/service/ApprovalManager/ user=yourdomain\youruser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bcbcbb-7a93-3e1b-2962-f4738fd5279f
* Version Independent ID: 611fbd1b-ff95-c568-6182-61c1382c367a
*

[2019-01-18 15:39] #9756 closed

[2019-01-18 15:46] mvelosop commented on #6547
Another solution could be adding the style as html in the markdown, we should try first if the style added like this works: (haven't actually tried it)
[code]

[2019-01-18 15:47] BillWagner commented on #10042
Thanks for pointing these out @HermannGruber

As @svick mentioned, this needs to be fixed in the JS library that highlights the text. I've added notes on MicrosoftDocs/feedback#641 with the additional information you provided. I tagged you in that comment so you'll be notified of progress on that issue.

I'm closing this as a duplicate.

[2019-01-18 15:47] #10042 closed

[2019-01-18 16:11] adkinn commented on #6547
@mairaw unfortunately there is nothing currently available to help with this. You could work with @dend to get a new feature request submitted.

[2019-01-18 16:53] Thraka commented on #9239
Ok well, the rewrite doesn't mention the project setting anymore. I couldn't really figure out why it existed, though maybe visual studio uses it so that when you build, it builds out each runtime in there? But that would be a specific for the other article. I'm going to link this to the PR so the issue gets closed when the article is merged.

[2019-01-18 17:26] CrossBound opened #10049 "Wording indicates structs can be assigned null even if they are not nullable"
The last bullet point "A struct can be used as a nullable type and can be assigned a null value." indicates that a struct can be null even if it is not marked nullable (myStruct?). Wording should be changed to read as follows: "By default a struct cannot be assigned a null value. A struct can, however, be used as a nullable type in which case it can be assigned a null value."

---
#### Document De

[2019-01-18 17:31] CrossBound commented on #10049
Example:
[code]

[2019-01-18 17:31] CeciAc opened #10050 "About this Example - Error"
@jlzcardoso commented on [Fri Jan 18 2019](https://github.com/dotnet/docs.pt-br/issues/108)

The compiler complains about this line and do not compile.

  // Cause the OnRegionChange delegate to be called.
    elemHost.Region = new Region()

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 271ce87d-14af-50b6

[2019-01-18 17:33] CeciAc commented on #10050
Hi team,
I'm moving this here since the user is reporting an error in the example
best

[2019-01-18 17:44] Thraka commented on #9935
@jackbond Looks like the note got added at some point but the example was forgotten. If you would like, you can submit an edit for this but clicking the Edit button at the top of the article. I'll add this bug to the community project and see if someone wants to fix it.

Thanks for reporting it. I'm editing the title of your bug so that anyone looking at it understands the issue without at first g

[2019-01-18 17:54] Thraka commented on #9317
I saw this being done in building the docker container. Let's figure the priority on this scenario. I'll send an email to @richlander to get his eyes on it.

@richlander Do you have any data on how many requests are there for this scenario?

[2019-01-18 18:44] mikkelbu commented on #10046
Hi @pappasa. I think the code is correct C# as it is. The binary `&` operator in C# is the logical bitwise AND of the operands. You change change the examples from C# to VB in the upper right corner on the page (sorry about the size, but it is due to my screen resolution)
![image](https://user-images.githubusercontent.com/1007631/51406392-52668300-1b59-11e9-8489-b0141bad07cc.png)
If you change to

[2019-01-18 19:43] #10043 closed

[2019-01-18 19:44] #10044 closed

[2019-01-18 19:46] majocha opened #10054 "struct keyword usage with tuples"
Regarding the `struct` keyword: struct tuples should probably be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a3c6e0-5476-3c90-813c-7be486208772
* Version Independent ID: 6876ff7c-da41-c25a-a70e-59b1dfde4730
* Content: [Keyword Reference - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-refer

[2019-01-18 20:13] mairaw commented on #10046
Thanks @mikkelbu for your comment and @pappasa for your feedback. I think @mikkelbu's comment solves the issue so I'll be closing this but please let us know if we misunderstood something.
Also, our engineering team is going to be revisiting the page UI to see if we can make the language switcher more discoverable.

[2019-01-18 20:13] #10046 closed

[2019-01-18 20:50] SandraJones commented on #9995
When I add the namespace UtilityLibraries in a using statement I got an error, "namespace UtilityLibraries not found are you missing a using directive or assembly reference."

[2019-01-18 21:37] rpetrusha commented on #10005
Yes, the result is due to string interning (or rather to the way that string interning works). b isn'ttaken from the intern pool because it's built incrermentally using concatenation -- the string literal "hello" is never assigned to b.

[2019-01-18 21:54] jeffsdevinfo opened #10055 "Incomplete examples"
It is unclear what this is doing.  These examples appear to only show a summary when viewing the intellisense.  How can we view remarks, examples and code while browsing a function in VS with intellisense?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f92e76-2785-188b-6046-ec741144fcd0
* Version Independent ID: 8708

[2019-01-18 22:07] Thraka commented on #9995
@SandraJones At the start this article it points out that you need to have completed a previous article. That previous article is where you create that UtilitiesLibrary namespace.

[2019-01-19 05:08] nsuchy opened #10061 "Clarify the definition of platform in this context"
"Your app uses a platform that doesn’t support .NET Core."

Could we clarify this sentence a bit? Does the article meaning an operating system or cpu architecture, if I recall correctly dotnet core just recently got Windows ARM support. Does it mean a database or package? An example would be helpful here :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-19 05:34] LambertWM opened #10063 "Custom exception skip or handle?"
The documentation is fine, but I am distracted by the philosophy behind the exception “handling” in the example code: it seems the author wants to do something when a custom exception is detected (?) but proceeds to rethrow the first exception that is not a custom exception? (thus missing subsequent custom exceptions). And: sometimes the aggregate exception is thrown, and sometimes the inner excep

[2019-01-19 09:03] NextTurn commented on #6923
Section titles are not standardized as well. Some sections use `See also`, while others use `See Also`. Which one is preferred?

While `See also` is always used in `dotnet/dotnet-api-docs` repo.

[2019-01-19 10:10] pkulikov commented on #6923
@NextTurn

`See also`
Moreover, for all the titles and headings, sentence-casing is preferred: #808

[2019-01-19 13:36] Nicko22789 opened #10066 "Hi, recode me Alexa"
2 lines (0 sloc) 1 Byte

[2019-01-19 16:33] dustinmcmanus opened #10067 "The Close() lines should not be in the using statement code examples"
It begs the question, are the places that do not call Close() implemented incorrectly? The answer is no. It forces the programmer to do research to figure out implementation-specific details, only to find out that the end of the using block calls Dispose(), which calls Close(). (For StreamWriter, Close() calls Flush()). Then Close() calls Dispose(boolean), which was added for backwards compatibili

[2019-01-19 17:11] noursicain commented on #9731
Hello,

Sorry it was so long ago that I have forgotten how I was able to fix it.

It happened when I tried to convert a exe project to a dll project in erasing the program.cs and in setting the output to dll.

My point is the doc should have a link to information of things to check if the dll project act as an exe project.

If only  the output type control that my request is less useful. However i

[2019-01-19 21:53] SandraJones commented on #9995
Resolved by removing reference from String Library and added reference of StringLibrary to StringLibraryTest.

[2019-01-19 21:59] dasMulli commented on #9239
No it doesn't build it.

What happens is that NuGet collects your package reference and generates a graph for each restore target.

You can see them in `obj/project.assets.json`.
So if you have a `netcoreapp2.2` you will get a `{ "targets": { ".NETCoreApp,Version=v2.2": { … }}}` entry.
If you add runtime identifiers in the mix, NuGet will create separate graphs for each RID, so you'll additionally

[2019-01-19 22:45] dasMulli commented on #2642
1. `<None Remove="…" />` https://stackoverflow.com/questions/49784191/what-does-none-remove-mean-in-csproj/49785443#49785443
maybe also see https://stackoverflow.com/questions/52434690/what-are-the-differences-between-microsoft-net-sdk-and-microsoft-net-sdk-web/52456313#52456313

TL;DR you'd have both a `None` and a `Content` item for a file if you don't remove from the `None` collection. That isn

[2019-01-19 23:04] LJ9999 opened #10070 "Please explain your over-engineered crap."
What the hell is "attribute"? What am I getting an attribute of?

This crappy doc's reference to "attribute" is like walking into a bar and asking for a glass of liquor.

The generalized nomenclature you people use is worthless with a definition.

Please explain your over-engineered crap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-20 04:58] LJ9999 commented on #10070
Ignore that vitriol above. I was just made aware that people actually read this feedback. When did that begin?

Replace the above scream at the bottom of the ocean with this:

What is an execution context? What is a reflection-only context? What is an attribute? Why would anybody in the real world want to retrieve "Information Stored in Attributes"?

This document tells me how to bake a cake nobod

[2019-01-20 05:06] LJ9999 opened #10072 "Why would anyone use this?"
That is a more fundamental question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7645edc8-46ad-431f-4f91-e77ba3941f17
* Version Independent ID: ff721860-b8e8-3c3d-aefa-f1ec3e00fa69
* Content: [Writing Custom Attributes](https://docs.microsoft.com/en-us/dotnet/standard/attributes/writing-custom-attributes)
* Content

[2019-01-20 09:52] NextTurn commented on #10070
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/attributes/#common-uses-for-attributes

[2019-01-20 16:44] cartermp opened #10073 "Mentioning inlining for F# GetSlice"
See here: https://github.com/fsharp/fslang-suggestions/issues/714

* Should explain what happens
* Should provide an example

[2019-01-20 19:48] volkan-yazilim commented on #10005
@rpetrusha  Thank you.

[2019-01-20 20:14] fldef commented on #9173
I'm able to reproduce the problem with namespaces in [the .NET API Browser](https://docs.microsoft.com/en-us/dotnet/api/?view=netframework-4.7.2).

Two arbitrary examples:

**System.Drawing**
1. Visit https://docs.microsoft.com/en-us/dotnet/api/system.drawing?view=netframework-4.7.2
2. Click "Download PDF"
3. The links are broken. E.g. "Bitmap" refers to file:///T:/dk50/api/System.Drawing.Bitmap.h

[2019-01-20 21:45] pkulikov opened #10076 "Expression body definition: property get accessor is supported from C# 7.0"
When the following code is compiled with the language version set to C# 6:

[code]

the compile error CS8059 with the message

occurs.

As far as I understand, C# 6 supports "expression-bodied" read-only properties only in the following form:

[code]

At the same time, the article says:

Moreover, the table in the article introduction supports this claim.

---
#### Document Details

⚠ *Do not edit

[2019-01-21 01:46] BillWagner commented on #9731
This should be updated with information on what kinds of projects should have a `Main` entry point:
- console applications
- asp.net core applications
- WPF
- WinForms

But, not class libraries.

[2019-01-21 06:16] LJ9999 opened #10078 "This procedure does not work in the real world."
I am validating an xml-serialized class against a schema. Microsoft inserts a targetNameSpace that is required for using XmlSchemaSet. But validation does not occur when I corrupt the xml in the same way that the sample is corrupted here.

I think there's a bug in this procedure for more complex XML, ironically XML that is created by Microsoft.

Would you please provide me a phone number of an XML

[2019-01-21 10:33] amis92 commented on #7292
Another quarter. Ping! @livarcocc @KathleenDollard

[2019-01-21 13:20] CeciAc opened #10080 "Why?"
@frgt10cs commented on [Sat Jan 19 2019](https://github.com/dotnet/docs.ru-ru/issues/164)

Я делал всё по документации, код полностью идентичен (даже копировал-вставлял), в итоге результаты не сходятся. Ваши выходные данные:
Sentiment: This is a very rude movie | Prediction: Toxic | Probability: 0.4585565
Sentiment: He is the best, and the article should say that. | Prediction: Not Toxic | Probabi

[2019-01-21 13:21] dchurch24 opened #10081 "No longer applicable?"
This appears to be inaccurate as at Win10. I have Visual Studio installed, along with various DotNet frameworks. There is nothing listed under "NET Framework Setup" at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c991-ab7382025406

[2019-01-21 13:22] CeciAc commented on #10080
Hi team,
I'm moving this here since the user is having issues with the provided example
Rough translation:

[2019-01-21 17:52] frizzr opened #10083 "Compiler option -errorendlocation present in csc.exe command-line help but not listed here"
Before I added this issue, it does appear that csc.exe's command-line help does document -errorendlocation to the end user (see https://github.com/dotnet/roslyn/blob/79b9c406b348dd5c295365f5eebb9a35be24d330/src/Compilers/CSharp/Portable/CSharpResources.resx#L4663 , so I am assuming this newer option is here to stay. Could we add it to this page? Its current description is "Output line and column o

[2019-01-21 18:16] mvelosop commented on #6547
Thx @adkinn, it's a pity 🙁

@mairaw do you want to test including the above style in a page? If it works we'd have to update all the pages, but it's waaay easier and faster that updating all images 😓

[2019-01-21 23:09] pkulikov opened #10085 "C# 6 tutorial: New object initialization syntax section seems confusing"
The [New object initialization syntax](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/exploration/csharp-6?tutorial-step=9) section seems to miss some information.

It starts with

First, it doesn't say explicitly what is new. As a result, it's difficult to reason what hides behind "other types".

The example straight after the paragraph is good and helps as it makes me think that the to

[2019-01-22 01:24] AndyWDev opened #10086 "SQLClientPermission"
Other documentation talks about the need to check for SQLClientPermission using a function similar to CanRequestSqlNotifications, but this example makes no reference to checking to see if one has appropriate permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bb20bc6-ec90-c5d1-8f40-5725f214122c
* Version Indep

[2019-01-22 01:37] AndyWDev opened #10087 "Reference to Termination()"
There is a reference to void Termination() in the code example, however, it does not appear to be called by anything and there is no indication that the Termination() method is or isnt part of SqlDependency.  This may be confusing to some people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bb20bc6-ec90-c5d1-8f40-57

[2019-01-22 01:41] AndyWDev opened #10088 "Call to ExecuteReader"
What relevance does the call to command.ExecuteReader have in this example (detecting changes in SqlDependency).  Is it necessary to query the data after setting up a notification handler - if so, why?

Also, in the OnDependencyChange, it would be good to see an example of handling the change.  For example, how to use SqlNotificationEventArgs.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-01-22 01:53] presleyy commented on #9753
I reproduced the problem once I set Google search setting to "United States". We checked the sitemaps, the https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/data-types/boolean-data-type is correct. Actually, it seems Google indexed two different URLs for that content, one is the correct, another is the one with the extra "/". I removed the incorrect one from Google search con

[2019-01-22 06:16] qaqz111 opened #10089 "Missed UnmanagedType.LPUTF8Str"
The document missed `UnmanagedType.LPUTF8Str` in all cases. And, what is the default mashaling in platform invoke?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d350b8-a514-6c13-a091-0952a8fc0610
* Version Independent ID: 3ee9bbfd-2060-d97f-c2f1-12867899034a
* Content: [Default Marshaling for Strings](https://docs.m

[2019-01-22 09:03] PavelShalahai commented on #6406
Can you please add to examples switch/case + enum example? It would be very helpful.

public enum Days
    {
        Sunday,
        Monday,
        Tuesday
    }

 switch (Days)
                {
                    case nameof(Days.Sunday):
                        Doomething();
                        break;

                    case nameof(Days.Monday):
                        Doomething();

[2019-01-22 12:29] aitc-h opened #10091 "Spelling"
Minor mistake in the second sentence of the 'Using a Simple Collection' section.
"by using a or foreach statement." should be replaced with "by using a foreach statement."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee0b88ff-d651-fd2f-a6e4-acfa1089b1f2
* Version Independent ID: bc5056d9-27ed-f1ce-bc7a-6e61121a578d
*

[2019-01-22 12:34] theking2 opened #10092 "clrver is not available in Developer Prompt VS2017"
D:\Program Files (x86)\Microsoft Visual Studio\2017\Community&gt;clrver
'clrver' is not recognized as an internal or external command,
operable program or batch file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85e3c15d-854a-3ec5-66c2-efe819b722fc
* Version Independent ID: e441033f-e213-4f17-cbb9-016e2c4326dd
* Cont

[2019-01-22 14:08] THorting opened #10093 "Putting white space in documentation"
I am trying to add tabs to some of my comments.  \t just prints out and &lt;sig&gt; removes all white space.  I have not used list and that might be close to what I am looking for.  Just cannot find any reference to white space in the documentation.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-0

[2019-01-22 14:20] seanfdnn opened #10094 "Why SDK and Runtime images not in sync?"
Building with the SDK and then running the published binaries (via a Docker-multi-stage build) produces `The specified framework 'Microsoft.AspNetCore.All', version '2.1.1' was not found.`

[code]

looking at the DockerHub tags -- the runtime and sdk seem to be on different versions?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-01-22 14:54] svick commented on #6406
@PavelShalahai Why do you think that's a good example? If you're switching using an enum, the variable should be of the `enum` type, not `string`, in which case you wouldn't need `nameof` (i.e. it would be just `case Days.Sunday:`).

Also, if you have new feedback, you should open a new issue, instead of commenting on an unrelated issue for the same article.

[2019-01-22 15:59] adkinn commented on #6547
@mvelosop we also don't allow custom CSS like that, sorry :/

/cc @mairaw

[2019-01-22 16:21] maxiptah opened #10095 "Handling deletes in POCO"
In your AddOrderItem you add OrderItem to a relationship. How do you handle deletes in a pure POCO class? Should Order *always* load related order items in repository during Get()? This might result in transfering lots of unnecessary data from DB. Should I use LazyLoader like here https://docs.microsoft.com/en-us/ef/core/querying/related-data? This would work, but break the persistance ignorance p

[2019-01-22 16:24] Thraka commented on #9239
Thanks for helping explain the process. I was just investing a lot of this too for that article, trying to understand everything better.

[2019-01-22 17:59] #10073 closed

[2019-01-22 18:12] cartermp opened #10097 "Document know optimizations the F# compiler performs"
This is based on feedback from the FSSF community standup I have each Tuesday.

There are often times where you can write F# code that may seem like it needlessly allocates, but the compiler can optimize away various calls such that you get nicer compile-time benefits without paying the actual cost at runtime.

However, these patterns are not well-known. Perhaps it's worth documenting them.

[2019-01-22 18:23] DavidPrio commented on #7135
Hi @mairaw can this be closed since we are missing required information to proceed? Thanks!

[2019-01-22 18:32] mvelosop commented on #6547
Thanks for the info @adkinn.

Anyway I found the [ImageMagick](https://imagemagick.org) tool that can batch process all images to set a white background when transparent, so @mairaw let's just wait for the whole book to be merged and then I'll process all images into a single PR.

I'll leave the tested command here:

[code]

This creates a media-fixed folder with the new images.

[2019-01-22 18:42] Liminiens commented on #10097
It would be nice to have more information on what inline functions can do

[2019-01-22 18:43] baronfel commented on #10097
Information about what kinds of constant-folding the compiler can do would be nice, as well.

[2019-01-22 18:55] ryanwebjackson commented on #9566
I was referring to a _switch_ statement inside of a loop, so an example of that would be perfect. Two loops can make it easier to tell what's going on, because you need curly brackets for both (if they're more than one line of code). I don't have access to the code I was looking at when I opened this, but because there can be both breaks (switch and loop) in the same code block -- it can be confus

[2019-01-22 19:17] mairaw commented on #7135
For sure @DavidPrio!

[2019-01-22 19:17] #7135 closed

[2019-01-22 19:45] mairaw commented on #6547
A coworker just referred the same tool to me @mvelosop:

Sounds like a plan!

[2019-01-22 20:38] rpetrusha commented on #10081
It is applicable to Windows 10, @dchurch24. Are you sure that you're looking at the correct registry path -- Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full:

![image](https://user-images.githubusercontent.com/10886961/51563739-16297000-1e42-11e9-8982-a2fff986b62b.png)

[2019-01-22 20:42] #10066 closed

[2019-01-22 20:42] #10055 closed

[2019-01-22 20:53] rpetrusha commented on #10050
I can't reproduce this issue, @CeciAc; both the Visual Basic code and the C# code compile and execute as expected.

[2019-01-22 20:53] #10050 closed

[2019-01-22 21:06] rpetrusha commented on #10049
Thanks for your feedback and your suggested rewording. Would you like to open a pull request that makes the change? For more information, see the [Contributor's guide](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md).

[2019-01-22 21:50] mvelosop commented on #6547
Great 😊

[2019-01-22 21:56] #9239 closed

[2019-01-22 21:56] #9728 closed

[2019-01-22 21:56] #9976 closed

[2019-01-22 22:22] Rick-Anderson opened #10100 "Document aspnet-codegenerator"
After "The following commands are installed by default:"
Add tools that you need to install.

See https://github.com/aspnet/Docs/issues/3208

edit by @mairaw: updated the link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e47565-cc59-b1a6-24be-0143c550c0b2
* Version Independent ID: c6859ca6-e2b1-3645-872c-60390ffd42

[2019-01-22 23:12] xtofs opened #10101 "Please cross referece From AOT to CoreRT"
The CoreRT paragraph already talks and reference AOT but not the other way around which makes it sound like an abstract idea and not an actual feature in .NET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa071095-4eb6-20c1-ca26-f34da6fcbdf8
* Version Independent ID: 2b2efd49-b0c8-9a13-525a-d04c802d2bef
* Content: [.N

[2019-01-22 23:20] Thraka commented on #10070
@LJ9999 Hi. I'm curious about how you arrived at the article?

[2019-01-22 23:22] mairaw commented on #10092
Hi @theking2! Before we can investigate this, can you please let me know if you typed clrver from inside a Developer Command Prompt for Visual Studio window instead of just regular command prompt?

This is what I get with a regular prompt:
![image](https://user-images.githubusercontent.com/12971179/51572192-7bd52680-1e59-11e9-8caa-fc05a9e216a0.png)

This is what I get from inside the VS prompt:
![

[2019-01-22 23:33] Thraka commented on #10070
Looking at feedback data it looks like a lot of people get to this article searching for things that indicate they already understand attributes and want to know how to read a value out of it. The article could probably use some clarification the execution domains but I don't think it is that high of a priority. Sorry.

Thank you for leaving a comment about it though, it will be here (and the one

[2019-01-22 23:33] #10070 closed

[2019-01-22 23:34] mairaw commented on #2642
I've moved this to the backlog but it continues to be a high-priority for me to get to this work item.

[2019-01-22 23:36] Thraka commented on #9870
Thank you for notifying us. I'll assign this to the author.

@CESARDELATORRE  ping.

[2019-01-22 23:46] Thraka commented on #9815
I believe this article was written without async/await in mind. If you search for things related to async/await and WebClient you might find a more to-the-point answer. For example, https://stackoverflow.com/questions/13240915/converting-a-webclient-method-to-async-await shows a little.

The last two answers in this post https://stackoverflow.com/questions/16195694/how-cancel-downloading-async sho

[2019-01-22 23:46] #9815 closed

[2019-01-22 23:47] mairaw commented on #9864
Thanks for your feedback @chrisnas. I've opened PR #10103 to fix this.

You can also directly fix issues like that if you're interested, as explained in https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2019-01-22 23:50] rpetrusha commented on #10027
Thanks for pointing this out, @Gammerz26. We've opened PR #10104 to display the correct example.

[2019-01-22 23:55] Thraka commented on #10063
@rpetrusha assigning this to you as you are listed as the author. Perhaps you can explain the code and determine if it can be enhanced or clarified?

[2019-01-23 00:38] lzinga opened #10106 "Incorrect Toxic/NonToxic Prediction Value"
After going through the documents for the text sentiment ML I wasn't getting the expected results as stated in the docs.  After a bit more testing I downloaded the actual files and came out with the same result.

These two lines are both predicting that the sentiments are "Toxic" however based on the docs and what
should naturally be expected the second line should be considered "Non-Toxic" which

[2019-01-23 00:50] mairaw commented on #9822
Thanks for your feedback @LJ9999. I've created PR #10107 to add a link to the following topic that explains navigation properties among other things: https://docs.microsoft.com/en-us/ef/ef6/fundamentals/relationships

[2019-01-23 01:01] weitzhandler commented on #9815
@Thraka My question wasn't about web client at all. I was merely using your example.
My general request is that you implement documentation that demonstrates asynchronous cancellation of an ongoing asynchronous task (not-related to web-client).

[2019-01-23 01:18] mairaw commented on #9870
@mvelosop can you take a look at this feedback?

[2019-01-23 02:41] tdykstra commented on #10101
@xtofs Thanks for the suggestion - I've created a pull request to do that.

[2019-01-23 09:40] ksratheesh commented on #10091
@mairaw  , am a first timer , can i take this up.

[2019-01-23 10:16] drewnoakes commented on #2642
As discussed on [Twitter](https://twitter.com/mairacw/status/1087856240728858624?s=03): with MSBuild 16.0 the `MSBuildAllProjects` property no longer needs to have each project file appended to it manually.

This property is intended for up-to-date checks, so having all project files in it ensures changes to any file trigger rebuilds correctly.

Before MSBuild 16.0 project files would add somethin

[2019-01-23 12:11] phil-the opened #10114 "Client Profile for .Net 3.5 / 4 is not mentioned"
Framework 3.5 and 4.0 come as either the 'full' version or the client profile.
I believe Windows 7 for example only includes the client profile by default, so it would be extremely useful for the table to be updated with client profile and full versions separately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fe524

[2019-01-23 14:16] mikkelbu commented on #10106
It looks like part of this duplicates #9081.

[2019-01-23 14:42] #9864 closed

[2019-01-23 15:31] #10054 closed

[2019-01-23 15:59] ericlippert opened #10116 "Wording problems"
There are a number of ways this article could be worded better:
(1) We start with "passed by reference", but that is describing an implementation mechanism, and moreover, a mechanism likely not familiar to the novice. Better to describe the semantics: out, ref and in parameters *make the formal parameter an alias for the argument, which must be a variable*.  That explains the feature at the level

[2019-01-23 16:06] ericlippert commented on #10116
(6) "In the previous example, the number variable is strongly typed as an int. You can also declare an implicitly typed local variable, as the following example does."

Try to avoid this sort of parallel sentence structure between "strongly" and "implicitly".  "Strongly typed" means literally a dozen different things. The distinction you want to make here is between *explicit* and *implicit* typin

[2019-01-23 16:10] ericlippert commented on #10116
(7) Another minor one: "The following example uses out to return three variables with a single method call."  The variables are not returned; it is the contents of the variables that are returned. This is normally not an important distinction but **this article is about a feature that uses variables as variables, not as values**, so make it explicit. It should say "The following example uses out t

[2019-01-23 16:38] Kubik2000 commented on #9935
@Thraka @jackbond hey I will take this one

[2019-01-23 17:10] Thraka commented on #9815
Ok sorry about misunderstanding.

This article doesn't use the async/await pattern, so it wouldn't be the appropriate place to document this.

I think your question would be better asked in a forum like stackoverflow. I don't think this scenario is something we're going to cover unless a lot of people ask for it. That said, why doesn't `token.Register(wc.CancelAsync);` work?

[2019-01-23 17:39] #10027 closed

[2019-01-23 17:45] #10101 closed

[2019-01-23 17:54] #9822 closed

[2019-01-23 18:55] lzinga commented on #10106
Does look similar, after some more research and sending some messages turns out this is an issue with the dataset. The datasets are too small to effectively train the model and they are looking into a replacement.

[2019-01-23 19:03] #9750 closed

[2019-01-23 19:20] dendeli-msft commented on #9899
That is correct - currently we are using the scripting workspace across the board. There is an effort that we are currently assessing to move to a model where we can provide more flexibility in code execution - it's something we need to collaborate with @LadyNaggaga's team on.

[2019-01-23 20:12] psphilli opened #10120 "misspell"
Please change 'certifiate' to 'certificate', thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a66361-c964-5a31-d284-0d752cfb4ec5
* Version Independent ID: 3e04cfca-df3e-199e-e51c-bfdff8c8de05
* Content: [How to: Configure a Port with an SSL Certificate](https://docs.microsoft.com/en-us/dotnet/framework/wcf/featu

[2019-01-23 20:48] mairaw commented on #10120
Thank you for your feedback @psphilli.

Would you like to open a pull request to fix this? You can find the examples that have that typo with the following search:
https://github.com/dotnet/samples/search?q=certifiate&unscoped_q=certifiate

[2019-01-23 21:11] psphilli commented on #10120
Will-do a @mariaw, thanks

[2019-01-23 22:59] donile opened #10121 "Chapter X"
The last sentence of the first paragraph references "Chapter X".  Is this supposed to be present?  If yes, what is Chapter X?  Seems like X is a variable for a document template system such as LaTex.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628ba44f-bfb6-e9bf-0bba-b91ee867340d
* Version Independent ID: 789c8230-9

[2019-01-23 23:30] rpetrusha commented on #10063
Thanks for your feedback, @LambertWM. I think that there are several problems in the article:
-  The example is constrained to throwing a CustomException, but rethrows any unexpected exception. Rethrowing in turn stops execution of the foreach statement, so that any additional exceptions are not processed. It's reasonable for the code to handle unexpected exceptions; handling an exception in an `i

[2019-01-24 00:07] Thraka commented on #10063
@rpetrusha
With the code in the first sample, if the first exception is not a `CustomException`, it will just rethrow and exit. I think the `throw` needs to be outside of the `foreach`
[code]

[2019-01-24 00:38] chadunit opened #10122 "Reverse F# operator precedence sort order?"
Operator precedence table is currently sorted lowest to highest.

In my experience highest to lowest is more common/natural.

The [F# spec](https://fsharp.org/specs/language-spec/) itself uses highest to lowest, as do the [C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/operators) and [VB](https://docs.microsoft.com/en-us/dotnet/visual-basic/la

[2019-01-24 01:11] mkumara20 opened #10123 "ReceiveFailure"
Thank you for providing wonderful article to help me understand the exceptions. I face an issue with ReceiveFailure status for my https request (DELETE request with response code: 400; Tested in Chrome browser and web service returns response 400 with JSON result); however http request works fine.

Can you please help or direct me to get more details about the below line: (Tried all other options)

[2019-01-24 02:20] weitzhandler commented on #9815
@Thraka thanks for your kind reply.

`CancelAsync` is a `Task`, whereas `token.Register` accepts a synchronous `Action`.

[2019-01-24 03:47] Rick-Anderson commented on #10100
I agree with that.

I don't know of any we would recommend.

add a new section after https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#find-a-net-core-global-tool  about ~recommended~ {commonly used or popular??} tools

[2019-01-24 06:38] jaymin93 opened #10126 "reading mode on Microsoft windows 10 mobile egde"
Hi we need reading mode compatible in windows 10 mobile edge browser while reading many docs on edge I found some time I can use reading mode and some time not eg currently I can not switch to reading mode as it is disable it is the not this topic related issue feel free to move to right place thanks looking forward for improvement that help

---
#### Document Details

⚠ *Do not edit this section.

[2019-01-24 07:00] karelz commented on #10123
@mkumara20 which part is not clear? The server (which is outside of scope of this document) has to have access to the Certificate store to be able to validate SSL certificate ...

[2019-01-24 07:00] NextTurn commented on #9744
280 left.

[2019-01-24 07:04] theking2 commented on #10092
![image](https://user-images.githubusercontent.com/1612152/51660621-a258a600-1fae-11e9-8506-3407413cd7ca.png)

![image](https://user-images.githubusercontent.com/1612152/51660603-9371f380-1fae-11e9-9040-db81b3bc344b.png)

[2019-01-24 08:49] Liminiens commented on #10097
@dsyme it would be nice to have it in `docs` with some examples for better understanding :)

[2019-01-24 12:47] xuhongxu96 commented on #9517
Hi, I have the same issue. And this warning will show in **Build Only Error List** as well as the **Output window**.

![image](https://user-images.githubusercontent.com/2201482/51679121-044df580-2019-11e9-9d08-d58c93825b4f.png)

Visual Studio 2019 Preview 2

[2019-01-24 13:40] ardalis commented on #10121
Thanks, that should be chapter 4. I've fixed it in the soon-to-be-published 2.2 version of the eBook and will get it updated here soon as well.

[2019-01-24 15:08] sebagomez opened #10127 "A SOLUTION is also a valid argument"
Just like in the build command the main argument can be either a project file or a solution (sln) file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.micr

[2019-01-24 15:58] jcouv commented on #9517
@xuhongxu96 In preview2, the name of the build property changed.
Use `<NullableContextOptions>enable</NullableContextOptions>` instead. You may have to close/re-open VS for it to take effect.

Details https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-reference-types.md#setting-project-level-nullable-context

[2019-01-24 16:04] BillWagner commented on #9517
I'm reopening this.

I'll update the docs in the next two weeks to reflect the change in the build property.

[2019-01-24 16:46] Thraka commented on #9815
I coded this up and `CancelAsync` isn't a task, it's just a normal method. The name threw me at first too, but the documentation for it says `Cancels a pending asynchronous operation.` which I think means it cancels the `DownloadStringAsync` method. The signature fits with `token.Register` and the code compiles fine for me.

Are you seeing something different?

[2019-01-24 18:08] thedeoxen opened #10130 "Code example fix"
Looks like need to change this:

.Append(mlContext.BinaryClassification.Trainers.FastTree(numLeaves: 50, numTrees: 50, minDatapointsInLeaves: 20));

to :
pipeline.Append(mlContext.BinaryClassification.Trainers.FastTree(numLeaves: 50, numTrees: 50, minDatapointsInLeaves: 20));

in the code block "Choose a learning algorithm"

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это не

[2019-01-24 18:37] CESARDELATORRE opened #10132 "Add the whole code for ProcessData() and BuildAndTrainModel() methods right after explaining them step-by-step."
It would be good to add the whole code for ProcessData() and BuildAndTrainModel() methods right after explaining them step-by-step.
Having an end-to-end vision of the whole code per method is important, otherwise the code is explained but too sparse in the tutorial to see the main processes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-24 18:42] CESARDELATORRE opened #10133 "Saving the model to a .ZIP file should come after testing/evaluating the model"
I think that saving the model to a .ZIP file is kind of the last step after training and evaluating. You do it once "you are happy" with the model, therefore, it should come after testing/evaluating the model by checking the metrics, accuracy, etc.

That's why I see test/evaluation of the model as a sub-part or sub-task of the larger "building a model" task/process.

Then, after saving the .ZIP fi

[2019-01-24 18:44] mairaw commented on #6612
I'm closing this issue since that content was all moved to the archive. If there's any that you think it's still worth to have in our main docs site, please let us know and we can consider whether it's worth porting them or not @user135711.

[2019-01-24 18:44] #6612 closed

[2019-01-24 19:37] foundinhim opened #10135 "/async"
`/async` - Is the documentation correct for this?  The default that I got was both sync and async methods which doesn't run. I get a ServiceActivationException. This on SO solved my problem - https://stackoverflow.com/a/13561560

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0952b258-0ee3-950f-3193-4ed5635b1a6e
* Versi

[2019-01-24 19:51] CESARDELATORRE opened #10136 "Document the possible output column names in scored DataView"
Right now, these column/field names are kind of "secret names" that you need to know.
I don't think this is documented "end-to-end" in docs.microsoft.com, neither in the HOW to / CookBook.

We should have the following info available:
---
The purpose of the output columns in scored IDataView depends on the specific learning task being used:

###  Regression
- Label: Original regression value of th

[2019-01-24 21:32] rpetrusha commented on #9219
Related to #2994

[2019-01-24 22:24] adamj537 opened #10140 "Example Gives Exception"
When I run the example on this page (by copying into a new project in Visual Studio), I get an InvalidOperationException on this line in Form1_Load method:

// Add a DemoCustomer to cause a row to be displayed.
this.customersBindingSource.AddNew();

The exception message is:  "Item cannot be added to a read-only or fixed-size list."

What might I check to see what's causing this error?

---
#### D

[2019-01-25 00:05] sadqiang commented on #9051
The article said that:

My comment:
Now in the incoming C# 8.0, a reference type can be a nullable type.
The article above needs some modification, right?

[2019-01-25 00:08] sadqiang opened #10141 "The article needs some modification about nullable reference types"
The article said that:

Now in the incoming C# 8.0, a reference type can be a nullable type.
The article above needs some modification, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab99a9ea-4645-92cd-723a-4a38fbee371e
* Version Independent ID: 652ea928-6ded-800c-6bed-5b1f3f67fe3f
* Content: [Nullable types - C

[2019-01-25 06:42] RayMMond opened #10143 "Complete code sample link is broken."
"Animation Timing Behavior Sample" link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6cf772b-8d51-a207-cc23-6471e7881a41
* Version Independent ID: 2db3af0a-1f53-066a-1779-ad4e9346d62c
* Content: [How to: Accelerate or Decelerate an Animation](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-

[2019-01-25 08:00] MatthewJamesHanson opened #10145 "Spelling"
The following line can be fixed
// The example displyas the following output:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a462bec6-55f9-b76c-03a3-03a0bf988a39
* Version Independent ID: 9ed9cfc0-3722-10d8-28d9-fb133210e31f
* Content: [Character Escapes in .NET Regular Expressions](https://docs.microsoft.com/en-us/dot

[2019-01-25 08:08] IanKemp opened #10146 "Explain what Polly is"
A link to https://github.com/App-vNext/Polly or http://www.thepollyproject.org/ at least, would be useful. A short explanation of what Polly is and how it relates to HttpClientFactory would be even better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 2443

[2019-01-25 08:14] #10143 closed

[2019-01-25 08:52] xuhongxu96 commented on #9517
@jcouv @BillWagner Thanks for help. It works after I added:
[code]
Though I'm not sure what the differences among `enable`|`disable`|`safeonly`|`warnings`|`safeonlywarnings` are.

[2019-01-25 09:13] HeroMaxPower commented on #6120
It would be nice if Microsoft would create an example on this page of the output using "console;verbosity=detailed" in regards to tests and all of the test state outcomes (Pass, Fail, Inconclusive... etc) that show in the console output. I spent a large amount of time trying to figure this out using the contractions with no success then tried with the long hand that danmosemsft described above it

[2019-01-25 09:16] weitzhandler commented on #9815
@Thraka I know, I'm dealing with an async method that returns `Task`, and I'm looking for a means to have the cancellation method asynchronous as well.

[2019-01-25 09:36] orhunerdem commented on #8813
I agree, using generics as first example creates unnecessary confusion.

[2019-01-25 13:32] JiriCepelkaFirstLineSoftware opened #10149 "How to release collectable assembly (cannot null belonging type)?"
The documentation states

To do so I have prepared some methods:

    private static IEnumerable<MemberInfo> GetMemberInfo(object obj)
    {
            if(obj == null)
            {
                    return Enumerable.Empty<MemberInfo>();
            }

            var type = obj.GetType();
            if (type.IsPrimitive || type == typeof(string) || type == typeof(object))
            {

[2019-01-25 14:48] apiliuhin commented on #4675
Hi @Rick-Anderson @mairaw

would like to clarify if there is a possibility to set up different protocols in the client app.config to use for example:
1) url 1 set to use TLS 1.2
2) url 2 set to Ssl3 (Ssl3 only)

using .NET Framework 4.5.2

Thanks.

[2019-01-25 14:48] AlexSapple opened #10150 "General Questions/observations"
Hi,

I've started playing with ML.net and made a slightly modified version of this to suit data I had. exercise has given me a few questions (please bear in mind I am completely new to this type of thing).

1. My dataset was from elastic search documents - I found that I could use CreateStreamingDataView() to work with this. All the examples seem to use text file datasets. are text file datasets m

[2019-01-25 16:05] addemko opened #10151 "DerivedClass example comment bug?"
Is there a bug in the "DerivedClass" example that DOESN'T have a finalizer?

It seems to encourage having unmanaged resources with the "// Free any unmanaged objects here." comment. However, since this class doesn't have a finazlier (and the BaseClass isn't guaranteed to have one), couldn't this leak the unmanaged resource?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-01-25 17:38] davidsh commented on #4675
url 1 set to use TLS 1.2
url 2 set to Ssl3 (Ssl3 only)
using .NET Framework 4.5.2

This is not possible. There are no settings at per-request granularity for that.

It you need that level of control you will have to do it in code.

[2019-01-25 18:05] mvelosop commented on #9870
Hi @mairaw,

I just emailed Vaughn Vernon to check if this is temporal or he prefers to update the links to some other site.

Anyway, I think we'll wait for a few days for an answer or will use the suggested links otherwise.

[2019-01-25 18:09] CESARDELATORRE commented on #9870
The above links pointing to http://dddcommunity.org are good. They are the same articles and probably, http://dddcommunity.org is safe long term place to point to. 👍
We'll update it as soon as possible.

[2019-01-25 18:15] AlekseyTs commented on #9517
The way NullableContextOptions affects nullable annotation and warning context is described here https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/NullableContextOptions.cs.
The annotation and warning contexts are described here https://github.com/dotnet/csharplang/blob/master/proposals/nullable-reference-types-specification.md#nullable-contexts

The ```warnings``` option

[2019-01-25 19:44] mvelosop commented on #9870
Done!

[2019-01-25 19:45] #9870 closed

[2019-01-25 19:46] jcouv commented on #9517
I expect people would use `safeonlywarnings` for that.
To illustrate the difference between `warnings` and `safeonlywarnings`:
[code]

[2019-01-25 19:51] AlekseyTs commented on #9517
Let the user make the choice. I personally value all nullable warnings.

[2019-01-25 21:08] Thraka commented on #9815
I just dont think I understand why you want to do this. The cancel is already running in a different thread from your main one, so why do you need to have a 3rd thread just for canceling?

Anyway, if you learn more about how the `Task` type works, you can create any task you want from any code and have it run. Use `Task.Factory.StartNew`.

I think you should ask this question in a forum/stackoverf

[2019-01-25 21:20] ocdtrekkie opened #10157 "BC42328 could be a little better explained"
I have some AddHandlers and RemoveHandlers that all seem quite similar, so I have no clue why one is throwing this warning, and others aren't. This article is not particularly helpful, and when I did the Alt+Enter to show the potential fix (It basically just moved the RemoveHandler line in question to a new method), it showed the same warning on the "fixed" version!

It's also strange that it says

[2019-01-25 23:28] MaxG117 opened #10159 "Typo: OperationCancelledException should be OperationCanceledException"
One example says:

There is one "l" in `OperationCanceledException`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8cde2a6-1c92-8b1e-a795-4b1e04510575
* Version Independent ID: 3b8f6b0d-08a9-0730-3241-da241f8444b4
* Content: [try-catch - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/

[2019-01-25 23:35] #4541 closed

[2019-01-26 00:02] mairaw commented on #10159
Good catch @MaxG117! Would you like to submit a fix for that?

You can find the instructions here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-01-26 00:15] MaxG117 commented on #10159
The instructions show:
![editicon](https://user-images.githubusercontent.com/26261605/51779443-40866200-20bc-11e9-8b32-2f795c5f5383.png)
But I see:
![fork-edit](https://user-images.githubusercontent.com/26261605/51779446-44b27f80-20bc-11e9-9c52-39ba7a5cb48e.png)
I'm not yet comfortable enough with github to know whether forking the project is the correct action for a simple edit.

[2019-01-26 01:18] mairaw commented on #10159
Resolved with PR #10161

[2019-01-26 01:18] #10159 closed

[2019-01-26 02:01] mairaw commented on #10159
@MaxG117 I also created a PR to fix the confusing image issue:
https://github.com/MicrosoftDocs/Contribute/pull/183

Thanks for letting us know about your experience when trying to contribute!

[2019-01-26 02:37] #10145 closed

[2019-01-26 02:38] mairaw commented on #10091
@ksratheesh sorry I missed your question. Someone just submitted a PR.

Keep an eye on [easy](https://github.com/dotnet/docs/labels/easy) issues or if you'd like, I can ping you when a new easy one comes in. Just let me know!

[2019-01-26 02:40] #10091 closed

[2019-01-26 07:09] deadmann opened #10166 "Mixed Grouped Join"
I wish i know if there is a way to fetch from multiple table and put in sub model...
For example, i have a list of tours, and for those tours, i have list of offers, which contains different prices informations, and those itself have information that are not listed in that table it self, so when i want to join, i'll use offer as group joined, and once i did that, i'm wonder how i can again join so

[2019-01-26 10:40] ptoye commented on #9335
Fine, But I was maybe a bit terse in my initial comment. Please replace SortedList and SortedDictionary by SortedList <TKey, TValue> and SortedDictionary <TKey, TValue> and re-open! I'd sort of assumed that you'd understand. Sorry.

[2019-01-26 21:19] timvtoo opened #10169 "Works in debug but not failes when publish to ISS"
This was really helpful thank you, but im getting error 500 when i try to run it on my local windows 10 IIS. Runs fine debugging in visual studio.
Any thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f10d016-86b9-fba6-1331-1fe3bc91a552
* Version Independent ID: e062e766-46c6-b44b-980f-4d8639ed3379
* Content: [

[2019-01-26 23:23] Joebass12 opened #10170 "acknowlegement"
[Enter feedback here]
the tutorial is a nice one
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756e4425-16b0-abfd-1e5a-927f07a8af69
* Version Independent ID: 040f0373-5f32-5132-2e26-adf03e4d6100
* Content: [Introduction to C# - interactive tutorials](https://docs.microsoft.com/en-gb/dotnet/csharp/tutorials/intro-to-csh

[2019-01-27 01:35] #9219 closed

[2019-01-27 14:35] Arash-Sabet opened #10173 "The coding formatting must be changed"
As an example the following code snippet must be changed from:

TcpClient TCP = new TcpClient("localhost",11000);

To:

var tcp = new TcpClient("localhost",11000);

In modern programming days, it's discouraged to use capital cases for local variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee15f916-5406-85fa-b7

[2019-01-27 19:57] martingbrown opened #10177 "Mouse Down/Up?"
"For instance, a Windows Presentation Foundation (WPF) Button suppresses MouseLeftButtonDown and MouseLeftButtonDown bubbling events raised by the Button or its composite elements in favor of capturing the mouse and raising a Click event that is always raised by the Button itself."

Seems odd that MouseLeftButtonDown is mentioned twice in this sentence, should one of those be MouseLeftButtonUp?

-

[2019-01-28 03:33] Thraka opened #10178 "How to port a framework WPF app to Core 3.0"
Customers need to know the steps required to port a .NET Framework WPF app to .NET Core 3.0.

Visual Studio does not currently migrate for you and you must do this by hand.

[2019-01-28 12:51] doctordns opened #10180 "Pictures PLEASE!"
This page and sub-pages really, really, really need diagrams. For someone just getting into Windows.Forms. seeing pictures of the different controls diagramming the setting of key controls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb313b6-34aa-6333-3228-4f66b10ceb3b
* Version Independent ID: f030777f-896e-2e9b-e

[2019-01-28 14:57] LisandroSu opened #10181 "El artículo olvida mencionar que Parse y TryParse fallan cuando la cadena está vacía"
@AlbertoPoblacion commented on [Sun Jan 27 2019](https://github.com/dotnet/docs.es-es/issues/78)

En la sección "ejemplo" se indican varios casos en los que fallan el Parse y TryParse debido a la presencia de espacios en blanco superfluos. Sin embargo, olvidan mencionar que también fallan cuando la cadena está vacía. He visto múltiples preguntas en los foros escritas por programadores noveles que

[2019-01-28 14:58] LisandroSu commented on #10181
Hi team,
Here's a rough translation of the issue reported by the user:

Thanks!

[2019-01-28 16:06] bugaevski opened #10182 "certificateValidationMode value options description"
I will be nice to have more details on the options - what exactly expect from these:
None||ChainTrust||PeerTrust||PeerOrChainTrust ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523e6933-c7de-abf0-d99f-00816614dbea
* Version Independent ID: 80d02ba7-8cec-bd8b-779e-ecd9c825f193
* Content: [&lt;certificateValidation&gt

[2019-01-28 16:43] arivoir commented on #9517
I updated to preview 2, changed <NullableContextOptions>enable</NullableContextOptions>, restarted visual studio, rebuilt project, but I'm seeing exactly the same problem as before. No problem with the build, but when I enable "Build + IntelliSense" a bunch of wrong messages appear.

[2019-01-28 16:52] Kubik2000 commented on #5971
@baskar3078 @rpetrusha please check if it is ok I have created the PR
https://github.com/dotnet/samples/pull/599
https://github.com/dotnet/dotnet-api-docs/pull/1714

[2019-01-28 17:00] baskar3078 commented on #5971
@Kubik2000 Thanks for creating the pull request.

[2019-01-28 17:44] baconblue opened #10183 "MS C# Programming Guide.PDF"
Downloaded the MS C# PDF, (note it is UNTITLED with no file extension and does not find its way to my download folder) PDF will not open in MS Edge (or Word any other suitable app) Edge displays the path of the PDF on my PC - as if it were a URL and then tells me it cannot be found (of course). The MS pdf file is reported as being168Kb. Am logged in as elevated single user with a password not a pi

[2019-01-28 17:58] ptoye commented on #9335
Thanks @rpetrusha. No problem.

[2019-01-28 18:05] #9935 closed

[2019-01-28 18:34] rpetrusha commented on #10181
This is an important thing to add to the topic. The code is also fragmented, which makes it confusing. I've scheduled it for this sprint.

[2019-01-28 20:14] crowcoder commented on #5484
@Dijenek91 did you ever get this worked out? Do you remember what you did? Thanks.

[2019-01-28 20:54] Thraka opened #10187 "What's new for .NET Core 3.0 Preview 2"
Document the new info about Core 3.0 Preview 2

[2019-01-28 20:55] crowcoder commented on #5484
I got it to work with a different overload of AddServiceEndpoint()

var cd = new ContractDescription("IYourService");
var EndpointAddr = new EndpointAddress("https://blah, blah, etc");
var bhb = new BasicHttpBinding();
bhb.Security = new BasicHttpSecurity { Mode = BasicHttpSecurityMode.Transport };
ServiceEndpoint ep = new ServiceEndpoint(cd, new BasicHttpBinding(), EndpointAddr);
config.AddServic

[2019-01-28 21:12] Thraka opened #10188 "Start work on the Windows Desktop Guide for WPF/Winforms"
As the Windows Desktop story for .NET Core 3.0 continues to advance, we need to support the scenarios related to creating applications.

This issue is to work on the planning for what the Desktop Guide for .NET Core will contain.

[2019-01-28 21:14] rpetrusha opened #10189 "Japanese calendar eras: Review code examples to ensure they conform to best practices"
## Japanese calendar eras: Review code examples to ensure they conform to best practices

Code that uses calendars that support multiple errors (the JapaneseCalendar and JapaneseLunisolarCalendar classes) should explicitly define the era rather than assume the current era.

[2019-01-28 21:17] rpetrusha opened #10190 "Japanese calendar eras: Document relaxed era range checking"
## Japanese calendar eras: Document relaxed era range checking

Ordinarily, supplying a date for a specific calendar era that is out of range of that era throws an exception. Because in the Japanese calendars the end date of an era may not be known in advance, this restriction is relaxed. This needs to be documented.

[2019-01-28 21:18] rlaracuente opened #10191 "Can't DIM AS DataRow"
VBA doesn't seem to recognize this type and throws a compile error:

"User-defined type not defined"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038abfac-5390-1746-2472-8d6eda0e0504
* Version Independent ID: 0de0c149-06ce-1931-697f-bbbd6f0bffe4
* Content: [Viewing Data in a DataTable](https://docs.microsoft.com/en-u

[2019-01-28 21:23] mairaw commented on #10191
Thanks for your feedback @rlaracuente but the content shown here is not VBA code but Visual Basic .NET. For this reason, I'm closing this issue.

[2019-01-28 21:23] #10191 closed

[2019-01-28 21:24] rpetrusha opened #10192 "Japanese calendar eras: Revise Working with Calendars"
## Japanese calendar eras: Revise Working with Calendars

The discussion of eras in the [Working with calendar](https://docs.microsoft.com/dotnet/standard/datetime/working-with-calendars) topic should be revised to include best practices for dealing with eras.

[2019-01-28 22:15] mairaw commented on #10170
Thanks for your feedback @Joebass12.

For your MySQL database question, I don't believe we cover that in our docs since it's a third-party database, but you can find information regarding MySQL and .NET in the following pages:
- https://dev.mysql.com/doc/connector-net/en/connector-net-introduction.html
- https://stackoverflow.com/questions/21618015/how-to-connect-to-mysql-database
- https://www.co

[2019-01-28 22:15] #10170 closed

[2019-01-28 22:17] Thraka commented on #9884
Valid point. This is kind of mentioned at the start, but it's good to reiterate here. Thank you for the issue.

[2019-01-28 22:18] yeg-am-astronomer commented on #9267
Couldn't agree more it's almost as if we've regressed to the horrors of dll hell and bsod!! Where's Bill Gates getting the blue screen of the death in front of millions live?  That inspired a hell of a lot of tidying up!!

[2019-01-28 22:25] mairaw commented on #10183
Sorry @baconblue but I can't repro this issue. When I click on https://docs.microsoft.com/en-us/dotnet/opbuildpdf/csharp/programming-guide/toc.pdf?branch=live, the PDF file opens fine for me on Edge.

![image](https://user-images.githubusercontent.com/12971179/51870398-57b98f80-2308-11e9-9bd0-8ddc999b1a57.png)

If you're still having issues, please let us know and I'll transfer this issue to the h

[2019-01-28 22:25] #10183 closed

[2019-01-28 22:37] Thraka commented on #9840
It seems this error comes from the roll forward behavior targeting one version and then the dependencies are now version-desynced.

Yes? I think we should improve this article to really call it out. People are finding in search because of the error message listed in the article.

[2019-01-28 22:45] mairaw commented on #10126
Thank you for your feedback @jaymin93. I've transferred this issue to https://github.com/MicrosoftDocs/feedback/issues/1091 for our engineering team to take a look since this isn't specific to our content, but a site funcionality.

[2019-01-28 22:45] #10126 closed

[2019-01-28 22:56] mairaw commented on #9969
Thanks for your feedback @WalrusPenguins. As @NextTurn mentioned, this has been fixed.

[2019-01-28 22:56] #9969 closed

[2019-01-28 22:59] rpetrusha commented on #10140
I'm afraid that I can't reproduce this issue, @adamj537; the VB and C# examples run successfully for me both from the command line and in Visual Studio. But if you'd like to submit a pull request to add the line of code, the samples are found in  https://github.com/dotnet/docs/blob/master/samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.DataConnector.AddingNew/CS/form1.cs and http

[2019-01-28 23:03] rpetrusha commented on #10177
Yes, it should be MouseRightButtonDown, @martingbrown. Would you like to submit a pull request to make the change, as well as to add "the" before MouseLeftButtonDown?

[2019-01-28 23:12] rpetrusha commented on #10182
Thanks for your feedback, @bugaevski. The documentation notes that these are X509CertificateValidationMode values and provides a link to the [X509CertificateValidationMode](https://docs.microsoft.com/dotnet/framework/configure-apps/file-schema/windows-identity-foundation/certificatevalidation) documentation that provides more details.

I'll close this issue, since I think that the information avai

[2019-01-28 23:12] #10182 closed

[2019-01-28 23:15] rpetrusha opened #10196 "**SHA1 hash algorithm replacement**"
Replace mentions of using SHA1 with SHA256 (especially), SHA284, or SHA512. This involves:
- Conceptual documentation.
- Reference documentation. This includes a note in the SHA1 documentation that it is not recommended, and that the suggested replacement is SHA256.
- Code. Usage of SHA1 should be replaced except for code for the SHA1 type in the managed reference documentation.

[2019-01-28 23:17] rpetrusha commented on #10196
This change involves selective replacement of SHA1 in conceptual and reference documentation, as well as in samples.

[2019-01-28 23:20] rpetrusha opened #10197 "**Remove selected cryptography samples**"
Remove samples from the following types in the managed reference:
- [SHA1](https://docs.microsoft.com/dotnet/api/system.security.cryptography.sha1)
- [MD5](https://docs.microsoft.com/dotnet/api/system.security.cryptography.md5)

Also remove any pointless samples, such as:
- samples that just call a constructor
- samples that illustrate a simple property set or get

[2019-01-28 23:25] rpetrusha opened #10198 "**MD5 and SHA1 Hash algorithm replacement**"
Replace mentions of using MD5 or SHA1 with SHA256, SHA284, or SHA512. This involves:
- Conceptual documentation.
- Reference documentation. This includes a note in the MD5 and SHA1 documentation that it is not recommended, and that the suggested replacement is SHA256, etc.
- Code. Usage of MD5 or SHA1 should be replaced except for code for the MD5 and SHA1 types in the managed reference documentat

[2019-01-28 23:30] rpetrusha opened #10199 "**Sample cleanup: RC2, DES, TripleDES, and Rijndael**"
Samples should not use any of the following cryptography types:
- [RC2](https://docs.microsoft.com/dotnet/api/system.security.cryptography.rc2)
- [DES](https://docs.microsoft.com/dotnet/api/system.security.cryptography.des)
- [TripleDES](https://docs.microsoft.com/dotnet/api/system.security.cryptography.tripledes)
- [Rijndael](https://docs.microsoft.com/dotnet/api/system.security.cryptography.rijn

[2019-01-28 23:31] shadinamrouti opened #10200 "SEO: Backlinks to a private website"
@guardrex, this page was referred by you in https://github.com/aspnet/Docs/issues/10668

In terms of SEO, the references section in this page acts as backlinks pointing to a private profitable website. See the above issue for more details.
These types of links are generating traffic and thus income to the linked website.
The links also drop Microsoft Docs in search engines because it is linking to

[2019-01-28 23:36] guardrex commented on #10200
Correct, we've been linking to this page in some of our topics for architectural principles coverage.

[2019-01-28 23:37] rpetrusha opened #10201 "**Check SSLProtocols enum usage**"
- **SslProtocols.Default** should not be used; it should be replaced with SslProtocols.None.
- **SslProtocols.Ssl2**, **SslProtocols.Ssl3**, and **SslProtocols.Tls** are all obsolete. The documentation for **Tls** should be added to note that it's provided for backward compatibility only.
- Use the OS default (**None**).
- If you have to choose one, select **Tls12**.

[2019-01-28 23:43] mairaw commented on #10078
@LJ9999 we don't have phone numbers to give out. You have to go through the proper channels either by calling support or opening product issues using the Product Feedback button instead of Content Feedback at the bottom of every article.

For that reason, I'm closing this issue.

[2019-01-28 23:43] #10078 closed

[2019-01-28 23:44] rpetrusha opened #10202 "**Note deprecated APIs**"
- Add notes (warnings) to the Remarks section that the use of designated type (like MD5 and SHA1) is not recommended.
  - MD5 and SHA1 --> SHA256 or better -- covered by #10198
  - DSA --> RSA or ECDSA
  - RC2 --> AES
  - Rijndael --> AES
  - DES --> AES

[2019-01-28 23:50] rpetrusha opened #10203 "**Replace usage of selected cryptographic types**"
The following table lists types and their replacements:

| Type | Replacement type |
|----|----|
| RIPEMD160 | SHA256 |
| MacTripleDes | HMACSHA256 |
| HMACSHA1 | HMACSHA256 |

[2019-01-28 23:52] mairaw commented on #9821
@divega can you help with this question? Is there any doc if you think would be useful to link that explains this concept better?

[2019-01-28 23:57] mairaw commented on #10200
@ardalis @CESARDELATORRE can you comment on this issue?

Also, for SEO improvements, we'd need a better title for this page to make it rank better. Architecture principles seems a weak title if there are no additional keywords.

[2019-01-29 00:11] rpetrusha opened #10204 "**DSA code review**"
This issue primarily requires a review of cryptography code in the dotnet/samples repo:

- Samples not specifically about DSA should not use DSA. -- change to ECDSA or RSA or delete.

[2019-01-29 00:20] rpetrusha opened #10206 "**Remove calls to HashAlgorithm.ComputeHash**"
Calls to [HashAlgorithm.ComputeHash](https://docs.microsoft.com/dotnet/api/system.security.cryptography.hashalgorithm.computehash) should be removed from the documentation.

[2019-01-29 00:43] rpetrusha opened #10207 "Make sure samples and guidance use MAC with symmetric encryption, in Encrypt-then-MAC sequence"
Always use ETM

[2019-01-29 00:46] rpetrusha commented on #10207
@bartonjs, this was one of the to do items from our security review meeting last year, but I'm not sure that my note is correct, and ETM doesn't correspond to a [padding mode]https://docs.microsoft.com/dotnet/api/system.security.cryptography.paddingmode).  Can you help?

[2019-01-29 00:51] rpetrusha opened #10208 "**X509Certificate2.PrivateKey is out of date**"
All uses of [X509Certificate.PrivateKey](https://docs.microsoft.com/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.privatekey) are out of date.  They should be replaced with a call to a **Get**_x_**PrivateKey** method. For example:
[code]
can be changed to:
[code]

[2019-01-29 00:53] rpetrusha opened #10209 "**RSA/DSA changes**"
RSACng is a modern implementation of the older RSACryptoServiceProvider
- Remove casts to RSACryptoServiceProvider
- Replace calls to `new RSACryptoServicePRovider(2048)`, for example, with calls to `RSA.Create(2048)`.

[2019-01-29 00:59] mairaw commented on #8691
Opened a new SDK issue then: https://github.com/dotnet/sdk/issues/2879

Moving the stop-gap solution for the current sprint.

[2019-01-29 01:00] mairaw commented on #8980
@KathleenDollard can you help with my earlier question?

[2019-01-29 01:03] mairaw commented on #9314
Moving this to the backlog until I can really work on this one.

[2019-01-29 01:11] rpetrusha opened #10210 "**Review SignedXML, SignedCMS**"
@bartonjs, my notes don't indicate what the precise work item is here. Can you help?

[2019-01-29 01:12] rpetrusha opened #10211 "**Conceptual topics**"
Review and update conceptual topics on cryptography and security (approx. 50 topics)

Review includes but is not limited to:

* Make sure we consistently follow [EtM pattern](https://github.com/dotnet/docs/issues/10207#issuecomment-459905795).
* Make sure [SignedXml docs have correct guidance](https://github.com/dotnet/docs/issues/10210#issuecomment-651420077).
* In non-cryptography-related docs i

[2019-01-29 01:16] nguerrera commented on #8988
Since .NET Core SDK 2.0.

No, that's it. :)

It is the same list as the languages supported by Visual Studio: https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2017#step-6---install-language-packs-optional.

https://github.com/dotnet/xliff-tasks/blob/master/src/XliffTasks/build/XliffTasks.props#L26

.NET resource manager rules apply, so you don't have to pick an e

[2019-01-29 07:36] olivercoad opened #10215 "Record copy-and-update formatting"
There are currently no guidelines on formatting copy and update record expressions.

All the examples of copy and update expressions seem to only use a single line.

As discussed in #5552, as a beginner this can be frustrating trying to get it to even compile:
[code]

Is this closer to recommended formatting? What are the different ways of formatting similar expressions? Is there any difference wh

[2019-01-29 08:56] mairaw commented on #8988
Thanks @nguerrera!

[2019-01-29 09:32] deadmann commented on #10166
somehow i managed to do that, and not just that, but a nested one, and it's complex, but for reference...

private IQueryable<TourFullVM> GetQueryable(string calendar, string userGuid)
        {
            var user = _uow.All<HOzv>().FirstOrDefault(w => !w.IsDeleted && w.UserGuid == userGuid);
            if (user == null)
                throw Utility.GenerateResponseException(HttpStatusCode.Una

[2019-01-29 13:21] francocorreasosa opened #10216 "ICU libraries link is malformed"
It links to https://github.com/dotnet/docs/issues/http%22//icu-project.org and it should link to http://icu-project.org

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a17d5d-5f6e-d6bc-324b-af411a42ccb8
* Version Independent ID: f58588d7-70f6-aa32-5c6d-ac3e7d72d87c
* Content: [.NET Core Application Deployment - .NET C

[2019-01-29 14:27] drewkill32 commented on #8266
TTD means your write the test first before writing any logic to the unit under test. That does not mean that you write the test first and make sure it doesn't compile. You can write an empty function first, then the failing test, then the logic to the function.

I think you are taking TTD to literally. The point of TTD is that the test is written before any logic is written. You don't literally ha

[2019-01-29 15:36] ChrisMcKee opened #10217 "Document COMPlus_EnableDiagnostics env var"
Related to https://github.com/dotnet/coreclr/issues/15243
In order for netcore to run in a readonly container the env var has to be set to zero.
The documentation around this environment variable or in fact around running docker in a secure manner is vague at best.
The reasoning as to why this variable is on by default is non-existent.
I 'believe' it exists in order to provide ETW as per the full

[2019-01-29 17:07] #9735 closed

[2019-01-29 18:56] mairaw commented on #10216
Thank you for your feedback @francocorreasosa.

Would you like to submit a fix for this? Here's a topic on how to do that:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-01-29 19:21] ardalis commented on #10200
DevIQ is a community reference site with definitions and examples for a ton of principles, patterns, and practices. Its reference section is separate from the home page and training courses site and predates it by many years. There are no third-party ads on the site and I often link to it from content I author as a quick way to provide readers with additional information on a general software deve

[2019-01-29 19:22] ardalis commented on #10121
Fixed in https://github.com/dotnet/docs/pull/10174

[2019-01-29 20:44] kouvel commented on #9896
At the moment `Thread.Start` will wait for the actual thread to start and initialize. This is to detect OOM during initialization, which would be reported through the call to `Start` with an exception. Once the thread reaches a certain point, the `Unstarted` bit is removed from the thread state and `Thread.Start` waits for that change before returning. It is done like that so that `Thread.Start` d

[2019-01-29 20:56] casterle opened #10220 "mdbg missing"
I've got VS 2017 installed and can find no trace of mdgb.exe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60439c92-7612-ef8a-c00a-1a1869300d5e
* Version Independent ID: 8b6d240f-aca1-646b-d0a5-b9a783e2c3da
* Content: [.NET Framework Tools](https://docs.microsoft.com/en-us/dotnet/framework/tools/)
* Content Source: [

[2019-01-29 21:22] mairaw commented on #10220
Thanks for your feedback @casterle.

The MDBG topic covers where you can download the tool from:
https://docs.microsoft.com/en-us/dotnet/framework/tools/mdbg-exe

[2019-01-29 21:22] #10220 closed

[2019-01-29 21:46] zeroskyx commented on #9889
Any feedback on this issue?

[2019-01-29 22:14] pkulikov commented on #9896
@kouvel thanks a lot for the clarification.
@rpetrusha I think the API documentation is correct in its current wording, no changes required. The conceptual article can be just removed. I'll do that in the PR that will close this issue, then.

[2019-01-29 22:51] #10216 closed

[2019-01-29 22:57] michael-freidgeim-webjet commented on #9373
Thanks. Will you update the document?

[2019-01-29 23:23] rpetrusha commented on #9896
Thanks, @kouvel. That sounds good, @pkulikov .

[2019-01-29 23:37] casterle commented on #10220
Thanks, I finally found that.

The problem I was complaining about was the implication that installing VS and using the VS command prompt, I could run the utilities listed below.

I didn’t follow the link to the mdgb page because I already had instructions for using it - which implied that it should have been installed already – and I was searching for it when I found the page I was commenting on.

[2019-01-29 23:58] #5971 closed

[2019-01-30 00:31] JamesNK opened #10224 "IBufferWriter<T> documentation is missing"
**Issue description**

There is no API documentation - https://docs.microsoft.com/en-us/dotnet/api/system.buffers.ibufferwriter-1

Many other APIs in System.Buffers are missing API documentation - https://docs.microsoft.com/en-us/dotnet/api/system.buffers

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core
- [x] .NET Framework
-

[2019-01-30 00:48] #3682 closed

[2019-01-30 10:39] nishanil commented on #8641
@rfcdejong We just updated the doc. Now, we refer to the new Health Check feature introduced in ASP.NET Core 2.2.

[2019-01-30 15:51] MattDillard opened #10230 "nunit is not recognized a template"
When I run `dotnet new nunit`, I get the following error:

    No templates matched the input template name: nunit.

I have .NET Core SDK 2.1.300 (so says `dotnet --version`). Is this template not actually shipped with that SDK after all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb30

[2019-01-30 16:05] DeEpicDestr0yer opened #10231 "Incorrect Debugging"
I was using VB in computer class and for most of the class, the program was working very well I had no complaint. However, when the class was ending VB decided not to work correctly and kept on debugging the original copy, not the edited one. because of this issue, I have only scored 84% when I ham a 90s student. i am very disappointed and i hope this problem will be resolved.

---
#### Document D

[2019-01-30 18:17] ciaranodonnell opened #10234 "Incorrect acronym."
In this line:
Domain events are similar to messaging-style events, with one important difference. With real messaging, message queuing, message brokers, or a service bus using AMPQ
The acronym should be AMQP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Version Independent ID: f

[2019-01-30 18:56] mairaw commented on #10234
Good catch @ciaranodonnell! Would you like to submit a fix for this?

You can find the instructions at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

/cc @mvelosop

[2019-01-30 19:03] pkulikov commented on #5635
PR #10233 redirects the referenced article to the API reference page.

The question about wait times was addressed to the following paragraph:

The following pages are the candidates for update when fixing this issue:
- https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualresetevent
- https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualreseteventslim

[2019-01-30 19:14] mairaw commented on #10217
Thanks for your feedback @ChrisMcKee. @richlander @KathleenDollard any ideas who could help with this?

[2019-01-30 20:27] blarosen95 opened #10237 "Invalid Information for CLng's expression range"
Documentation says "Int64.MaxValue (-9,223,372,036,854,775,808) through Int64.MaxValue (9,223,372,036,854,775,807); fractional parts are rounded." for CLng's "range for expression argument".
I'm fairly certain that it should be Int64.MinValue through Int64.MaxValue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95a99b2

[2019-01-30 20:41] manolis82 commented on #10234
I can also take care of that, if that's ok.

[2019-01-30 21:00] PerryCodes opened #10238 "Something wrong with the date of this article."
An article that revolves around SQL Server 2005?  That wouldn't have been written on 07/19/2015.  What happened here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f8852e-4df3-d3ff-174a-86182b88c79d
* Version Independent ID: 09358ac9-475e-d3f0-7f04-10fa5e9ad31b
* Content: [Adding Printable Reports to Visual Studio A

[2019-01-30 21:02] ghendric commented on #9973
I have a form that has controls that I've bound to a bindinglist using this methodology. I ran across a problem where if you change a value of a field on the form and then click a button to save the change, the change isn't being captured by the propertychanged event unless I tab off of the control. Is there a way to capture the change that is being made in the field on the form without tabbing of

[2019-01-30 22:01] rpetrusha opened #10241 "Identify source code referenced by line number"
## Identify source code referenced by line number

The current build system allows code snippets from an external repository to be imported into individual articles based on their line numbers. The following:
- **Import a range of lines using a # query string.** This takes the form $L*start*-L*end*.
   56 files use line numbers in the [dotnet/docs repo](https://gist.github.com/7dd26967ebe432270ba5

[2019-01-30 22:31] mekomlusa opened #10242 "Error in the code example"
First of all, thank you so much for providing the code example. As a newbie in C# I had a hard time trying to get the manufacturer information from image EXIF meta, and the code snippet provided here is a great starting point. However, this piece of code (checking manufacturer) seems to be working for images taken by iOS only. When I tested it on an image taken by OnePlus, it's not returning the s

[2019-01-30 22:39] richlander commented on #9317
This scenario isn't specifically related to Docker containers. For example, [this pattern](https://github.com/dotnet/dotnet-docker/blob/master/3.0/sdk/stretch/amd64/Dockerfile#L22) isn't what I mean.

It is about copying and decompressing a .NET Core .zip/tar.gz to your machine and using it w/the most limited disruption to your machine while still getting a decent dev experience by setting various

[2019-01-30 22:53] #999 closed

[2019-01-30 22:55] mairaw commented on #1505
@KathleenDollard @livarcocc can you help with this question?

[2019-01-30 22:57] michael-hawker opened #10243 "Are static constructors thread-safe?"
Would be nice if this article could call out thread-safety aspects of static constructors.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3ed1c5-1f79-9234-beec-b5771c3fb3c0
* Version Independent ID: ac4f6361-70a7-fb43-101e-c12044f60896
* Content: [Static Constructors - C# Programming Guide](https://docs.micr

[2019-01-30 23:03] michael-hawker opened #10244 "Call out thread-safety for access to static class members"
It'd be great if this article could also touch on thread-safety when accessing static members; I assume similar to the static class constructor, it will only be initialized at most once.  But it'd be nice to have that called out here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f20db0d-ef5c-d8e7-2267-0f409c499e0f
*

[2019-01-30 23:50] #9896 closed

[2019-01-30 23:52] KathleenDollard opened #10245 "Document local tools"
We have documentation for global tool installation, which also covers tool-path tools. We need to add documentation for local tools and change some titles and look at the tools story.

[2019-01-31 05:56] AteCoder commented on #9973
setting the binding data source update mode to On Property Change might do the trick.  I believe the default is On Validation, which occurs when the control loses focus.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.binding.datasourceupdatemode?view=netframework-4.7.2

[2019-01-31 07:17] mairaw commented on #9729
@Rick-Anderson @scottaddie can you help with this feedback?

[2019-01-31 07:28] imba-tjd opened #10249 "Exclude glob is inaccurate"
In [Default compilation includes in .NET Core projects](https://docs.microsoft.com/zh-cn/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects) section, it says the exclude globs are `**/*.user; **/*.*proj; **/*.sln; **/*.vssscc`.

Actually it also excludes `$(BaseOutputPath)/**` (*bin* **by default**) and `$(BaseIntermediateOutputPath)/**` (*obj* **by default**). src is [here

[2019-01-31 09:22] manolis82 commented on #7962
Hello.
I am willing to add the [link to the xUnit docs](https://xunit.github.io/#documentation) and it looks like the 'Additional resources' section at the bottom of the page is a good place for it.

What do you think?

[2019-01-31 10:20] denxorz opened #10251 "Call to base.Dispose(true) incorrect?"
The last line of the `DisposableStreamResource2` calls the base class using ` base.Dispose(true)`. Shouldn't this be `base.Dispose(disposing)`, as is shown in the IDisposable pattern? Here: https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#implementing-the-dispose-pattern-for-a-derived-class

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-01-31 12:18] KalleOlaviNiemitalo opened #10252 "Parameter list of Visual Basic property setter method set_P"
Please document in &lt;https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/language-specification/type-members#set-accessor-declarations&gt; that the parameter list of the implicitly declared `set_P` method has the new value of the property as the last parameter.  This is sort-of implied by CLS Rule 27 in ECMA-335 6th ed. §I.8.11.3, but the rule applies only to CLS-compliant properties.

[2019-01-31 13:20] Potapy4 commented on #10238
Good catch! But it seems to be correct - because SQL Server Reporting Services was added in SQL Server 2005 and, of course, in future releases. I think we can remove this note block from the article so as not to confuse the readers

@mairaw @rpetrusha

[2019-01-31 14:40] PerryCodes commented on #10238
Thanks!

On Thu, Jan 31, 2019 at 7:20 AM Nikita Potapenko <notifications@github.com>
wrote:

[2019-01-31 16:04] gyuwon opened #10253 "Referential transparency and side effects"
This document says that a referentially transparent expression can be replaced with its output without affecting a program's behavior and also says that it does not have to be pure. I think that two sentences are contradictory. If an expression does not always return same value for same arguments it can't be replaced with its output. It's so clear. And if an expression has side effects it can't be

[2019-01-31 16:46] cartermp commented on #10253
Hmmm, I think you're referring to something different here. The result of `x` will be the same no matter if it is generated by a call to `addOneToValue` or if it were given the value `2`, at least for the given definition of `addOneToValue`. That's what makes it referentially transparent.

In your example, the end result of the _program_ can still be different, because that depends on the output s

[2019-01-31 18:06] ignatandrei commented on #9889
Trying to build a console with

dotnet publish -r android stankinsv2/solution/StankinsV2/Stankins.Console/Stankins.Console.csproj --self-contained true

The answer is :

 NETSDK1056: Project is targeting runtime 'android' but did not resolve any runtime-specific packages. This runtime may not be supported by the target framework.

You can find azure pipeline at
https://github.com/ignatandrei/stank

[2019-01-31 18:09] #5385 closed

[2019-01-31 18:15] gyuwon commented on #10253
Yes, `x` is always `2` but the replacement affects a program's behavior. It violates the definition of referential transparency in the document, right?

So we can't say that `addOneToValue` function is referentially transparent if we follow the definition. And I think the definition has no controversy.

[2019-01-31 19:18] dasetser commented on #5917
We don't currently support this functionality for the WCF Service Library projects. Your options for this would be to either use a WCF Service Application project (which includes these in the project and has more advanced publishing support), or create a custom MSBuild task to do this generation for you.

[2019-01-31 19:24] Rick-Anderson commented on #9729
[Bower has been deprecated](https://blogs.msdn.microsoft.com/webdev/2018/04/18/what-happened-to-bower/)
bootstrap is there. look for wwwroot\lib\bootstrap\

what does `dotnet --version` show?

[2019-01-31 20:58] PikeUK opened #10255 "Incorrect compatibility schema (should be dash not dot)"
The text asks you to add the following to your manifest:

[code]

However I believe it should be the following (note the first dot should be a dash):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd152f5c-fb08-0400-5aa5-d46afe1d0473
* Version Independent ID: fe01fb3e-73bc-f90a-8862-719a440aa128
* Content: [Hig

[2019-01-31 22:38] LisandroSu opened #10258 "the code of the second example is incorrect,"
@hmuschett commented on [Thu Jan 31 2019](https://github.com/dotnet/docs.es-es/issues/80)

the code of the second example is incorrect, it has the same sentence as the first code

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 433a56c8-1c93-32fb-eb1d-8395a9760c65
* Version Independent ID: e3f35410-f243-430

[2019-01-31 22:39] LisandroSu commented on #10258
Hi team,

Please check the issue reported by the user.

Thanks!

[2019-02-01 00:53] mairaw commented on #5968
Ok, thanks @livarcocc. Moved to https://github.com/NuGet/Home/issues/7755.

[2019-02-01 00:53] #5968 closed

[2019-02-01 00:57] mairaw commented on #9909
@KathleenDollard @livarcocc do you have any issue tracking reinstalling packages via the CLI?

[2019-02-01 05:49] kkho commented on #10150
I get the same bug too, any updates? Maybe I was lazy to not read the documentation. But the namings can be messy and confusing as a developer... maybe its easier for those who have deep dive into statistics?

[2019-02-01 07:33] nicoleta-scrimint opened #10262 "Add information for .net core 2.1 and .net framework 4.7.2"
Hi,
Could you please include information for the version of .net standards supported for .net core 2.1 and .net framework 4.7.2?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https

[2019-02-01 07:37] nicoleta-scrimint commented on #10262
I saw a closed issue and I understand that the table The lists the minimum platform versions that support each .NET Standard version. Thus .net standards 2.0 should be supported by .net core 2.1 and .net framework 4.7.2. From this table, should I understand that .net standards 2.1 has not a minimum platform version to support yet?

[2019-02-01 10:21] ugumba opened #10265 ""--include-source" implies "--include-symbols""
This documentation should mention that --include-symbols implies --include-symbols, and that the "src" folder is only added to the symbols package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-d5c8-29f7a8c16a5f
* Version Independent ID: 4257ec12-df6f-ec52-aad3-012e5fce8133
* Content: [dotnet pack c

[2019-02-01 10:44] AdamantiumWolverine commented on #5433
I ran into the same issue when I used the FedUtil.exe that comes with the Windows Identity Foundation v4.0 SDK.  It seems that the FedUtil.exe utility that comes with the SDK is for .NET3.5 which uses the Microsoft.IdentityModel rather than the newer System.IdentityModel for .NET4.0.

Fortunately, the Microsoft.IdentityModel will still work with your .Net 4.0 application.

Basically, if you choose

[2019-02-01 10:51] BillWagner opened #10266 "Create Preview 2 version of What's new in C#"
Now that Preview 2 has shipped, there are a few new features that have been implemented and shipped.  This include:

- Nullable reference types
- ranges
- async streams
- pattern matching expressions
- static local functions

The new article should give a brief overview of those features and refer to the csharplang proposals for the details.  Where we have (or are) adding tutorials for the preview

[2019-02-01 10:51] AdamantiumWolverine commented on #5433
REPOSTING WITH FIXES TO TEXT WHICH GOT ESCAPED:

I ran into the same issue when I used the FedUtil.exe that comes with the Windows Identity Foundation v4.0 SDK. It seems that the FedUtil.exe utility that comes with the SDK is for .NET3.5 which uses the Microsoft.IdentityModel rather than the newer System.IdentityModel for .NET4.0.
Fortunately, the Microsoft.IdentityModel will still work with your

[2019-02-01 10:56] AdamantiumWolverine commented on #5433
Just looked at the WIF Code Sample Index and took a look at the web.config.  The module entries for the SessionAuthenticationModule and WsFedrationAuthenticationModule for the System.IdentityModel are in there.

    <system.webServer>
     <modules>
       <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Service

[2019-02-01 12:31] cartermp commented on #10253
So after re-reading this section, I think there may need to be an adjustment. It depends on what we want to consider referentially transparent.

The definition presented in that Wikipedia article is effectively the same as purity. But the definition of referential transparency doesn't derive from mathematics, it derives from linguistics, where it actually has a different meaning: something is refe

[2019-02-01 14:55] gyuwon commented on #10253
I already knew where referential transparency comes from originally. But it's not important. It's important that the document is self-contradictory. You know that I proved it. It's very easy to make an example that replacement of a function having a side effect affects a program's behavior.

So if you want to say that `addOneToValue` function is that referentially transparent you should change the

[2019-02-01 16:02] steepho commented on #6655
How do I use my reference once its added? Does anyone have any code examples?
I tried ServiceRefernce1 _sr1 = new ServiceRefernce1(); but i get a little Red X in intellisense when adding the ServiceRefernce1() part and the error is ('ServiceReference1' is a namespace but used like a type.)

Help please!

[2019-02-01 16:22] cartermp commented on #10253
Yes, this is why I agreed that it should be adjusted 🙂. When initially writing this article, I likely had a different definition in my head than what was written, which happens from time to time.

What I'm wondering is which definition to adhere to. I don't see much value in the, shall we day, blessed-by-haskell definition of referential transparency. It's simply a property of purity by that defin

[2019-02-01 16:40] nwiatrek opened #10267 "BuildAndTrainModel Creation code should be updated"
The code should be copied over as such to show clarity
 public static void BuildAndTrainModel(IDataView trainingDataView, EstimatorChain&lt;ITransformer&gt; pipeline)
 {

 }
This will ensure that the reader knows that the two values need to be passed in from above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686

[2019-02-01 16:46] nwiatrek commented on #10267
EstimatorChain<KeyToValueMappingTransformer> as the return type instead of void

[2019-02-01 16:46] #10255 closed

[2019-02-01 16:48] karlvonl opened #10268 "Mistake in first code listing for the FileFoundArgs class"
The first listing for the FileFoundArgs class erroneously contains the line:

    public bool CancelRequested { get; set; }

This is erroneous for 2 reasons. 1) The paragraph following it indicates that the class is immutable, but it is clearly mutable since the CancelRequested property has a setter. 2) The same listing appears later in the article in the "Returning Values from Event Subscribers"

[2019-02-01 16:49] #10237 closed

[2019-02-01 18:37] LisandroSu opened #10270 "example for C# does not work"
@MinistrBob commented on [Fri Feb 01 2019](https://github.com/dotnet/docs.ru-ru/issues/168)

I corrected it
if (e.KeyCode == Keys.Return)

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: dcd32f6d-4a54-b4a9-643e-1bfa30f98d4d
* Version Independent ID: f42b5de3-7407-4d1c-8504-f07620f57c04

[2019-02-01 18:38] LisandroSu commented on #10270
Hi team,

Please check the issue reported.

Thanks!

[2019-02-01 18:56] nwiatrek opened #10271 "Train the model section has incorrect code"
Incorrect code:
_predEngine = loadedModel.CreatePredictionEngine&lt;GitHubIssue, IssuePrediction&gt;(_mlContext);
Correct code:
_predEngine = _trainedModel.CreatePredictionEngine&lt;GitHubIssue, IssuePrediction&gt;(_mlContext);
swap loadedModel for _trainedModel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2

[2019-02-01 19:15] amybingzhao opened #10272 "Default globs for Content"
On the "[Additions to the csproj format for .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj)" page, could you add what the default Include, Exclude, and Remove globs are for Content elements?

From our experience with converting projects over to the new project file format, it seems like cshtml files are Content elements by default but it's unclear what else is.

edit by @mair

[2019-02-01 19:23] heejaechang opened #10274 "satellite dlls in culture sub folder is not discovered by CLR unless this flag is set in exe.config"
more detail is in this bug - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/779870?src=WorkItemMention&src-action=artifact_link

basically, the document sounds like if the satellite dlls are discovered with this flag set to true, they should be discovered without it as well since the flag should restrict locations clr searches rather than restrict them.

---
#### Document Details

⚠ *Do no

[2019-02-01 20:31] JRAlexander commented on #10267
Thanks for the feedback, @nwiatrek! I'm actually working on updating this tutorial today. You should see changes early next week.

[2019-02-01 20:39] PeterPann23 opened #10277 "Does not add any value"
does not add any additional value as the quality of the model better would be to explain the values returned as well as point to Feature Contribution Calculation and permutation results and the differences between them. like this we have 3 types of validation and none is definitive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-02-01 23:14] clarenceb commented on #9034
The DLL will match the directory name where you ran `dotnet new console` (you can also use the `-o <dirname>` flag create the project in a sub folder with a name of your choosing).  You can see what the DLL is called by running `dotnet build` then listing the DLLs in the bin folder, e.g.

Mac/Linux:

`ls bin/Debug/netcoreapp2.1/*.dll`

Windows:

`dir bin\Debug\netcoreapp2.1\*.dll`

In my case it's

[2019-02-01 23:32] clarenceb commented on #7293
The tutorial does assume some basic knowledge of docker and includes some references for further reading.

Open a terminal (e.g. `cmd.exe` on Windows) and `cd` into the directory where you ran the `dotnet new console` command.  Then run the `docker` commands from that directory.

It's a friendly name you can attach to the Docker image that is built.  The image containers everything needed to run y

[2019-02-01 23:35] mwpowellhtx opened #10282 "Provide a more in depth example"
This is a fairly academic example. Let's say we had something more complex.

[code]

And let's say ``Cat`` had a name:

[code]

Methinks that ``Cat.Name`` needs to be initialized prior to being accessed via the *initializer list*, yes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0efd6a6a-b52a-f6a2-d98b-f245b55115ff

[2019-02-01 23:40] bartonjs commented on #10207
"EtM" is "Encrypt then MAC".  So it's about combining two operations, in the correct way.

Partially it just means making sure we're consistent in examples that we don't do "E&M" (Encrypt and MAC), "MtE" (MAC then Encrypt), "EtD" (Encrypt then Digest), "D&E" (Digest and Encrypt) or "DtE" (Digest then Encrypt).  It's also that we need to be sure any topic/concept pages provide the right guidance ar

[2019-02-02 04:51] jmerinoh opened #10286 "Method [Main] Should read Method [Program]"
Instruction says:
Open Program.cs and replace the contents of the `Main` method.
It should read `Program` rather.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3343b35c-90c1-2e11-498d-ee1d4eb409f6
* Version Independent ID: f2eda261-d4c3-c90a-1294-dfe11e55c341
* Content: [Getting started with .NET Core on macOS - .NET

[2019-02-02 08:05] KexyBiscuit commented on #9220
Any update on this?

[2019-02-02 08:40] BillWagner commented on #972
Reopening per this twitter conversation: https://twitter.com/RickStrahl/status/1091088235982278656

Note that this will be scheduled based on all upcoming C# priorities.

[2019-02-02 11:09] #5917 closed

[2019-02-02 12:31] an31146 opened #10289 "Unable to create prediction engine"
Edit: Can be closed, I was trying a different NaiveBayes predication engine, which doesn't apply here.
---------------
I'm getting the predictionFunction statement in this sample, failing to create the engine with:
An unhandled exception of type 'System.InvalidOperationException' occurred in Microsoft.ML.Data.dll
Can't bind the IDataView column 'PredictedLabel' of type 'Key&lt;U4, 0-1&gt;' to fiel

[2019-02-02 15:52] #10253 closed

[2019-02-02 16:34] blarosen95 commented on #10237
Thanks for taking time out of your own schedule to fix that @Potapy4! I didn't realize I could've fixed it myself with a PR and actually had that PR approved.

[2019-02-02 19:57] IBrooke opened #10291 "What is a textfile"
I'd really like this page extending to define exactly what is a textfile, how is it formatted etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84f987fd-0a70-4781-0810-20443b81fd63
* Version Independent ID: b6121095-795a-83cd-9d9f-f4b4c1ea4abc
* Content: [How to: Read Text from Files with a StreamReader (Visual Basic

[2019-02-02 21:47] cjkeilig opened #10293 "Link to archive.msdn.microsoft.com does not work"
The link on the first purple note (goes to http://archive.msdn.microsoft.com/wpfsamples) does not work.

Page:
https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/advanced-text-formatting#advanced-text-formatting-1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f86ab90b-662c-f6ef-9958-f7a27c0dfadb
* Version

[2019-02-03 02:50] binil opened #10295 "How does one install fsharpi?"
Many books and tutorials on F# encourage using `fsharpi`. Please include instructions to install it on the [Get started with F# with the .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-command-line) page.

[2019-02-03 03:00] binil commented on #10295
I ran across [this issue](https://github.com/Microsoft/visualfsharp/issues/2407) in the tracker. Maybe this is not full implemented yet.

[2019-02-03 11:07] NextTurn commented on #9835
Fixed in dotnet/samples#584

[2019-02-03 12:28] DanielOberlechner opened #10296 "Gives out wrong time and wrong date ..."
Hi,
when I execute the first code Example it gives me a wrong week day and the wrong time...

Does anybody know why that is so?

Greets by Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0665571-35b7-0841-5719-b69456b35cfb
* Version Independent ID: 0410420b-3b12-6d96-40cf-56f22ac19a1d
* Content: [$ - string inte

[2019-02-03 13:44] pkulikov commented on #10296
@DanielOberlechner an observation: if I modify the snippet (a mere additional white space in the comment does the magic) and run it again, the result is as expected.

That might be related to the engine that executes the snippets: [try.dot.net](https://try.dot.net/).
/cc: @LadyNaggaga

[2019-02-03 14:20] guardrex opened #10297 "Instructions for using the binaries approach"
I've [run into some trouble (dotnet/core \#2263)](https://github.com/dotnet/core/issues/2263#issuecomment-460054012) via the installer approach. I was thinking that while I wait for help that I would try using the macOS binaries approach instead. There's no info here (or cross-links) to content about using the binaries ... nothing on (or linked) in the .NET Core macOS downloads page ... nothing in

[2019-02-03 14:49] DanielOberlechner commented on #10296
ah ok ... just wondered why the date isn't correct ...
Greets

[2019-02-03 16:02] rspain opened #10298 "Github training/testing data set links are dead"
Both links in the prerequisites section are returning Not Found. Correct links are below for each data set:

issues_train.tsv should be: https://raw.githubusercontent.com/dotnet/samples/master/machine-learning/tutorials/GitHubIssueClassification/Data/issues_train.tsv

issues_test.tsv should be: https://raw.githubusercontent.com/dotnet/samples/master/machine-learning/tutorials/GitHubIssueClassifica

[2019-02-03 18:14] guardrex commented on #10297
Closing because my earlier issue with the installer was that I pulled down the wrong one. I only had the runtime installer ... not the SDK installer. I discovered it via `dotnet --info`. I'm good now, and I don't think describing the binaries is particularly important in light of the installers working normally and this being an **_ID-10T error!_** 😬

[2019-02-03 18:14] #10297 closed

[2019-02-03 21:03] #10177 closed

[2019-02-03 23:52] KathleenDollard commented on #9909
@livarcocc is this us adding a switch, or NuGet adding a feature?

[2019-02-04 00:21] roger-cruz opened #10301 "Command to generate self-signed certificate does not work."
The PoSH command used here to generate a self-signed certificate, which is then promoted to a trust root CA did not work for me.

$rootCert = New-SelfSignedCertificate -CertStoreLocation cert:\CurrentUser\My -DnsName "RootCA" -TextExtension @("1.3.6.1.4.1.311.21.10={text}1.3.6.1.5.5.7.3.1,1.3.6.1.5.5.7.3.2")

Certificates signed with the above certificate will show a warning "The certificate is no

[2019-02-04 01:51] AndyWDev opened #10303 "Class access modifiers missing"
Can we have this updated to include class scope.  I notice the examples given are missing this information (class TestClass and class Child) which could create some ambiguity for new coders.

I would be expecting  public class TestClass or private class Child as examples (with some discussion on what the access modifiers mean).

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-02-04 02:18] livarcocc commented on #9909
This is a NuGet feature ask. However, I am interested in knowing what is the scenario for needing such a feature.

Also, you could achieve the same by running `dotnet nuget locals all --clear` followed by a `dotnet restore` on the solution. That would wipe all the contents of the NuGet cache though, not just the solution's packages.

[2019-02-04 09:54] argandhi05 opened #10305 "ServiceModel.DisableUsingServicePointManagerSecurityProtocols default value"
Above it is mentioned that, "For applications targeting .NET Framework 4.7 and later versions, this value defaults to false".  For a WCF Service using message security, it appears it is mandatory to set the following config values :

&lt;runtime&gt;
    &lt;AppContextSwitchOverrides value="Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.Net.DontEnabl

[2019-02-04 10:15] martingbrown opened #10306 "Could use an example of how to refer to a property get/set"
This Could use an example of how to refer to a property get/set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdca83b7-2628-9b4b-8f3f-1049805e16cb
* Version Independent ID: 32c5a4d8-82f5-631a-04ce-9f976bca2ba3
* Content: [cref Attribute - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming

[2019-02-04 10:45] chrisgull opened #10307 "Is ARM platform param forcing 32 or 64 bit mode?"
Just like on x86 platform there might be a need to enforce 32/64 bit process on ARM when conbining with C++ libraries via interop. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eca199d9-7c99-6fb5-d3db-5b6d0f5eee6e
* Version Independent ID: 6e8fecc4-9405-43cc-2ef2-ecfef9529c0f
* Content: [-platform (C#

[2019-02-04 11:08] mkwsofteng commented on #6174
what does it means both are not fully accurate. Then how can we trust on if both are not trusty to use?

[2019-02-04 12:53] LisandroSu opened #10308 "Lacks example of calling from C# !"
@vasil-1603 commented on [Sat Feb 02 2019](https://github.com/dotnet/docs.ru-ru/issues/169)

Очень не хватает примера возможных вызовов из C# !

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 678eaef3-eec4-dc52-1234-37e220f84682
* Version Independent ID: 38b09163-65d8-4d6c-1394-401e080

[2019-02-04 12:54] LisandroSu commented on #10308
Hi team,
Please check on the issue created. Rough translation:

Thanks!

[2019-02-04 14:29] carbo-will opened #10309 "Testability Issue"
How would you write unit tests for a class that has HttpClient injected in its constructor (such as the CatalogService example above)?  I would prefer if there were an interface (something called IHttpClient, or maybe IHttpMessageInvoker) that could be injected instead.  Then providing a mock implementation for a unit test would be more straightforward.

---
#### Document Details

⚠ *Do not edit t

[2019-02-04 16:07] #10298 closed

[2019-02-04 16:50] Potapy4 commented on #10293
It seems that now it is moved to GitHub: https://github.com/Microsoft/WPF-Samples

[2019-02-04 19:47] KathleenDollard commented on #10231
I am very sorry this happened.

What were you using to edit your code? Visual Studio Code or Visual Studio full version?

[2019-02-04 20:02] ClaudiuFilip110 opened #10310 "Property or indexer 'BankAccount.Balance' cannot be assigned to -- it is read only"
I have an error that pops up whenever I try to change the getter for Balance. I've even copy pasted the code on this thread and it does not seem to go away.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-c8a4-69cd-2b1a-9faacd282aab
* Content: [Clas

[2019-02-04 21:11] NomadtheGrey opened #10311 "Missing steps?"
So we have renamed Program.cs to Service.cs, further assuming class is Service.  However I see no class named Service here.  Was the portion Class Service {...} to be cut out of the code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea59370b-c603-b61b-0d9d-61f3a1c1cc46
* Version Independent ID: 99edf7d7-b47d-5374-c44

[2019-02-04 21:39] mairaw commented on #10293
Thanks for the feedback @cjkeilig. I've changed the target link to go to https://github.com/Microsoft/WPF-Samples/tree/master/PerMonitorDPI/TextFormatting.

[2019-02-04 21:39] #10293 closed

[2019-02-04 22:00] mairaw commented on #10296
There might have some caching involved. @dend @jdanyow to take a look as well

[2019-02-04 22:05] mairaw commented on #10295
@cartermp can you comment on this request?

[2019-02-04 22:10] mairaw commented on #10272
@rainersigwald @KathleenDollard @livarcocc can you help with this feedback?

[2019-02-04 22:12] mairaw commented on #10136
@JRAlexander @luisquintanilla FYI - I just tagged it with the ML.NET Guide

[2019-02-04 22:21] BillWagner commented on #9774
This was fixed in #10010

Closing.

[2019-02-04 22:21] #9774 closed

[2019-02-04 22:23] BillWagner commented on #9778
Closing as `0x10` is `16`. Previous comments add clarification.

[2019-02-04 22:23] #9778 closed

[2019-02-04 22:24] mairaw commented on #9958
Thanks for bringing this issue to our attention @ChrisMaddock.

There are two things we're standardizing on:
- Using - instead of / for options when the command supports it
- fencing the command names with backticks to prevent them from being translated in our localized versions

[2019-02-04 22:32] mairaw commented on #9951
@terrajobst @JamesNK @richlander any ideas on how to solve this for library developers? Do we have such a list?

[2019-02-04 22:32] BillWagner commented on #9804
I agree. I'm working on #8205 to re-work this article. I'll close this as a duplicate.

#8205 should be completed this month.

[2019-02-04 22:32] #9804 closed

[2019-02-04 22:33] mairaw commented on #9906
@JRAlexander @luisquintanilla - FYI on an issue I just tagged with the ML.NET guide

[2019-02-04 22:41] rpetrusha commented on #10262
Thanks for your feedback, @nicoleta-scrimint. .NET Standard has not yet been finalized and has not been released, so it is not documented; the latest version of .NET Standard is still 2.0.

Since the table lists the minimum supported versions of .NET Core and .NET Framework, .NET Standard 2.0 is implemented by .NET Core 2.0 and all later versions (i.e., .NET Core 2.1, .NET Core 2.2, and the previe

[2019-02-04 22:41] #10262 closed

[2019-02-04 22:44] BillWagner commented on #9808
You are correct @deap82 I've added this to our community contributor project, if you'd like to submit a PR for the fix. If not, we'll address along with other priorities.

[2019-02-04 22:48] BillWagner commented on #9807
Assigning P1 because this is one example of a much larger issue where we have links to MSDN blogs that have been removed.

To fix this, we should remove all those links that are failing.

[2019-02-04 22:51] BillWagner commented on #9834
Good catch @JunTaoLuo Your code is correct: `cachedResponse` is **definitely assigned if false** after the `if` block. That means it is definitely assigned in this example (because of the `return` inside the `if`.

Scope extends beyond the `if`, in this example.

[2019-02-04 22:51] BillWagner commented on #9835
closing because it was fixed as noted above.

[2019-02-04 22:51] #9835 closed

[2019-02-04 22:52] cartermp commented on #10295
I don't think we'll do this here. Since `fsharpi` is the FSI in Mono, you need to install Mono to use it. Since this guide is strictly about .NET Core, it's not applicable.

Soon we'll have `dotnet fsi` supported for .NET Core, which we can include in this guide.

[2019-02-04 22:52] #10295 closed

[2019-02-04 22:55] BillWagner commented on #9863
That's a good point @suhastjs

Many of the business cases and scenarios are surfaced throughout the docs. These articles are overviews of the new features, and should point people to those tutorials.

[2019-02-04 22:57] BillWagner commented on #9904
Thanks for the feedback @Gammerz26

We'll address this during our next set of updates.

[2019-02-04 22:58] BillWagner commented on #9907
Thanks for opening this issue @Gammerz26

This is an artifact of migrating content to docs from multiple sources. We'll add those links in our next refresh of the content.

[2019-02-04 23:00] BillWagner commented on #9926
Thanks for adding this feedback @willemodendaal This is an area where we need to invest more.

I've added it to our backlog.

[2019-02-04 23:00] mairaw commented on #9807
Created an internal work item for this issue for our vendor team: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1436790

[2019-02-04 23:02] BillWagner commented on #9929
Thanks for pointing this out @tsahi This is an advanced scenario that we'll consider going forward.

[2019-02-04 23:04] BillWagner commented on #9915
You make a good point @Tourbill0n

I've added this to our backlog, given it the "up for grabs" label, and added it to our community contribution project. If no one picks it up, we'll address it when we update these pages.

[2019-02-04 23:05] rpetrusha commented on #10067
Thanks for your feedback, @dustinmcmanus, and for pointing out that the call to Close is confusing and unnecessary. Unless you'd like to submit a pull request to make the changes (see the [Contributor's guide](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md) for more information), we'll update the documentation sometime later this month.

[2019-02-04 23:45] SurlyMae commented on #9314
@mairaw You're right, this one is not really macOS-specific.
[the Windows/Linux/macOS starter](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-with-xplat-cli) is more approachable, but still lacks the basic command line instructions that @ericjlynch is looking for.
If y'all are looking to keep **Getting started with .NET Core on macOS**, renaming it to reflect that it's more of a tuto

[2019-02-05 01:31] #7962 closed

[2019-02-05 02:09] #10133 closed

[2019-02-05 02:09] #10267 closed

[2019-02-05 02:09] #10271 closed

[2019-02-05 05:07] scottaddie commented on #9729
As Rick mentions above, Bower is deprecated. As such, there's no package manager being used to "install" client-side assets such as Bootstrap. The files are simply included by the project template in the *wwwroot\lib* folder.

Replacement solutions for Bower include npm or [LibMan](https://docs.microsoft.com/aspnet/core/client-side/libman/).

[2019-02-05 05:08] #9729 closed

[2019-02-05 05:20] JRAlexander commented on #10289
Thanks for the update, @an31146. Let us know if you run into other issues.

[2019-02-05 05:20] #10289 closed

[2019-02-05 05:22] JRAlexander commented on #10277
Thanks for the feedback, @PeterPann23. I've added this to the backlog and to the ML.NET GitHub project.

[2019-02-05 07:10] mairaw commented on #9757
Thanks for your feedback @ocdtrekkie. Yes, I agree with you that if VB is missing, the default language should be C#. This feedback is already captured on the following issue:
https://github.com/MicrosoftDocs/feedback/issues/927

As far as helping us port the samples to VB, your contribution would be super valuable and we'd welcome your PR. Probably best to do the whole file at once since we usual

[2019-02-05 07:10] #9757 closed

[2019-02-05 07:14] #9754 closed

[2019-02-05 07:21] mairaw commented on #9220
Thanks for your feedback @KexyBiscuit and I'm sorry we haven't triaged this earlier.

@BillWagner @rowanmiller can you comment on this? Not sure whether we'd want to update the marketing site, docs or both.

[2019-02-05 07:31] mairaw commented on #8867
My goal is to eliminate https://github.com/dotnet/docs/blob/master/styleguide/template.md in favor of https://docs.microsoft.com/en-us/contribute/markdown-reference. I need to make sure the new page is covering everything we need.

[2019-02-05 07:32] mairaw commented on #7516
Awesome @KPixel. Open a PR once you're ready to get reviews started.

[2019-02-05 10:09] tsahi commented on #9929
I actually created a set of helper methods that take a list of filters, where each filter has a property name, property type name and property value as string, and construct expressions based on that. But it's proprietary so I can't post it online.

[2019-02-05 11:25] ikarakaya opened #10321 "is it possible to deploy FDE with VS2017 publish profile?"
i can publish "sudo dotnet publish -c Release -f netcoreapp2.2 -r debian.9-x64 --self-contained false" to Debian 9 running on Virtualbox.

is it possible to deploy from VS2017 as FDE with FTP publish profile?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a17d5d-5f6e-d6bc-324b-af411a42ccb8
* Version Independen

[2019-02-05 13:14] imba-tjd commented on #9220
Perhaps replace the link in <https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/next> with <https://docs.microsoft.com/dotnet/csharp/tutorials/intro-to-csharp/>

[2019-02-05 13:17] Arash-Sabet commented on #10173
@rpetrusha I'd love to but I cannot make a commitment on when.

[2019-02-05 14:46] robert-j-engdahl opened #10322 "Description of the intended semantics of applying Precision facet to a double property"
Doubles are listed as having 15 digits of precision.  I thought their precision were in bits like https://en.wikipedia.org/wiki/Double-precision_floating-point_format

Furthermore, the precision facet would seem like something that can be applied to double properties, but what does that even mean; again if the value is a floating point number, fixing the point makes little sense.

Perhaps I got to

[2019-02-05 15:16] JohnGoldsmith opened #10323 "Samples - Add demo for Visio automation in .NET Core 3.0"
**Issue description**

Add sample for Visio automation in .NET Core 3.0 Preview 2.

I've created a Visio version of the [Excel Demo](https://github.com/dotnet/samples/tree/master/core/extensions/ExcelDemo) over at the fork here:

https://github.com/JohnGoldsmith/samples/tree/visiodemo/core/extensions/VisioDemo

Am happy to submit pull-request if it would be useful, or not if it's just seen as dupl

[2019-02-05 16:04] rainersigwald commented on #10272
No default `Content` glob is set in the .NET Core SDK. However, the ASP.NET Core SDK (`Microsoft.NET.Sdk.Web`) sets some:

* `**\*.cshtml` and `**\*.razor` (in the Razor SDK, specifically)
* `wwwroot\**`, `**\*.config`, and `**\*.json` from Web.ProjectSystem.props.

Ideally, these would be documented in ASP.NET docs somewhere, and linked to from this page with something along the lines of

[2019-02-05 16:21] #9874 closed

[2019-02-05 16:21] #9875 closed

[2019-02-05 16:30] NomadtheGrey opened #10324 "Bug"
In the OnStart() we see a line: serviceHost = new ServiceHost(typeof(CalculatorService));
Where is CalculatorService defined?  We have a CalculatorWindowsService, is that what was meant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea59370b-c603-b61b-0d9d-61f3a1c1cc46
* Version Independent ID: 99edf7d7-b47d-5374-c444

[2019-02-05 16:39] #10311 closed

[2019-02-05 16:39] NomadtheGrey commented on #10311
The portion about removing the Service class is down in step 12...it should be moved up.

[2019-02-05 17:21] BillWagner opened #10325 "Consider joining the .NET Foundation"
The .NET Foundation recently updated its governance model, and you can [become a member](https://dotnetfoundation.org/become-a-member)

If you have contributed to this (or a related) repository, considering becoming a member. The details are at the above link.

If you have questions, add a comment on this issue.

/cc @jongalloway for visibility

[2019-02-05 17:35] NomadtheGrey commented on #10324
oops my bad

[2019-02-05 17:35] #10324 closed

[2019-02-05 17:42] mklement0 opened #10326 "Document that XmlDocument.Save() creates UTF-8 files *with BOM* with an explicit "UTF-8" encoding attribute"
https://github.com/dotnet/corefx/issues/34118 demonstrates that while `XmlDocument.Save(string)` creates _BOM-less_ UTF-8 files in the _absence_ of an `encoding` attribute, signaling UTF-8 encoding _explicitly_ via an `encoding` attribute in the XML declaration unexpectedly creates a UTF-8 file _with BOM_.

This is **problematic** for two reasons:

* From a cross-platform perspective: A document w

[2019-02-05 18:15] alaniane opened #10327 "Added information about bound conditions on the foreach loop would be useful"
It would be useful to add information on what happens when the foreach loop is executed on empty list or null object.  I can code to find the answer, but it would be better if the documentation provided it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d710feeb-8f03-b211-a070-155938929d6b
* Version Independent ID: c98

[2019-02-05 20:27] ZeaGate opened #10328 "Paragraph about [Conditional] attribute has a mistake."
Instead of
"If that string matches a #define directive,"
it should say
"If that string does not matches a #define directive,".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0949aaa-0396-f42e-9228-36f63917fcbb
* Version Independent ID: 0ff9f93b-99f7-1d35-2521-1b9583f799be
* Content: [Attributes - C#](https://docs.micr

[2019-02-05 20:49] rpetrusha opened #10329 "Review usage of NorthWind database"
## Review usage of Northwind database

The Northwind sample database is used extensively in the .NET documentation, particularly in ADO.NET and WinForms. The database is not readily accessible, making the examples difficult for our customers to run. To address the problems with using examples that use the Northwind database, we should:
1. Assess the extent of the problem and determine whether a ch

[2019-02-05 20:57] mairaw commented on #10329
I've been thinking about this issue a lot.

I think this applies not only Northwind but also AdventureWorks. According to https://github.com/Microsoft/sql-server-samples, there's a new sample database for the latest versions of SQL. I'm also thinking as I'm seeing the MSDN links revisions from @DennisLee-DennisLee that probably a good chunk of the ADO.NET content should be archived in favor of EF

[2019-02-05 21:03] mairaw commented on #10328
Would you like to submit a fix for this? You can find instructions on how to do this at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

My only comment would be that the fix should be "If that string doesn't match..."

[2019-02-05 21:47] rpetrusha commented on #10329
Thanks, @mairaw. I was completely unaware of <https://github.com/Microsoft/sql-server-samples>. Instead of AdventureWorks, we should probably standardize on the World Wide Importers sample database.

And I agree about archiving large portions of the ADO.NET content.

//cc @v-thepet

[2019-02-05 23:45] mairaw commented on #7096
Should also fix this internal issue as part of this work item: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/685179?

[2019-02-06 00:58] rpetrusha commented on #10173
We've added this to the backlog, @Arash-Sabet, as well as to the community contributor's project. You can submit a PR at your convenience.

[2019-02-06 02:21] danmosemsft opened #10332 "Framework design guidelines for .NET Core seem only a subset of relevant design guidelines"
The Framework design guidelines here
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/index

seem only a subset of the older version (marked with "not being updated") here
https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/ms229042(v%3dvs.100)

For example, the new version seems to be missing the chapter "choosing between properties and methods" https://do

[2019-02-06 04:38] paulomorgado opened #10334 "Missing introduction of pattern matching on generic type parameters"
This is valid in C# 7.1 but not in C# 7.0:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d38d8df-4919-e8c7-8126-e8c5c7300523
* Version Independent ID: b2284f21-547d-01f5-76a3-b531aab1a909
* Content: [What's new in C# 7.1](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-1)
* Content Source: [

[2019-02-06 09:56] ChrisBertrandDotNet opened #10335 "return value and failure"
It's worth noting that "ReplaceNode()" does not return an error code (such as "null") if "oldNode" is not in the tree of "root" (for example it can have been in a prior version of the tree).
A workaround is to compare the parameter "root" and the returned node. If they are equal, the function failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-02-06 11:16] barakisbrown opened #10336 "Screenshots for choosing StackPanel or DockPanel"
I love the example given by code but it would also be great if you could show a screenshot of the desired effect because that would also give the reader an idea what your trying to say.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d21fc139-0f0a-a988-d6c8-fb70196d5067
* Version Independent ID: 0534a45b-9111-afd4-08ed-

[2019-02-06 14:58] #10076 closed

[2019-02-06 16:02] keimpema opened #10340 "Did the API change?"
I followed all the steps but am having trouble getting the code to compile. I am targeting netcoreapp2.1 and

1. mlContext.Data.CreateTextReader should be mlContext.Data.CreateTextLoader I think.

2. mlContext.CreateStreamingDataView should be mlContext.Data.ReadFromEnumerable?

3. I can not get the following to work at all:

            var predictedResults = predictions.AsEnumerable<SentimentPre

[2019-02-06 20:17] #8867 closed

[2019-02-06 20:35] WilMead opened #10344 "Content Needs depth"
I'm leaving with questions unanswered.
a.  What are the rules for the directory setting?
b.  can and how can a URL such as  \\server\maildrops\application be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b442ac-c502-6882-7307-2c9a537579f4
* Version Independent ID: 1b2fe919-4095-000b-6f87-c80eab926223
* Content:

[2019-02-06 20:45] JRAlexander commented on #10340
Hi, @keimpema! ML.NET 0.10 was released yesterday and there are some changes. We are in the process of updating the tutorials and should have them updated within the next few days.  Apologies for the inconvenience!

[2019-02-06 20:46] JRAlexander commented on #10340
We'll update this issue with the PR once it is submitted.

[2019-02-06 20:59] mairaw commented on #8841
This was fixed by PR #9388

[2019-02-06 20:59] #8841 closed

[2019-02-06 21:08] fmonteiro-pt opened #10346 "Mistake in the Example"
' Pass the original values to the WHERE clause parameters.
Dim parameter As SqlParameter = dataSet.UpdateCommand.Parameters.Add( _
  "@oldCustomerID", SqlDbType.NChar, 5, "CustomerID")
parameter.SourceVersion = DataRowVersion.Original
parameter = adapter.UpdateCommand.Parameters.Add( _
  "@oldCompanyName", SqlDbType.NVarChar, 30, "CompanyName")
parameter.SourceVersion = DataRowVersion.Original

In

[2019-02-06 21:09] ZeaGate opened #10347 "chapter Expression-bodied members"
'Cap' should be replaced with 'AllCaps'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3686c2-4c73-5686-0da9-abc38c74aeec
* Version Independent ID: ca995f80-9375-e9ca-b855-6e6893581e23
* Content: [Explore C# 6 - Try the new features in C# 6 interactively, using your browser](https://docs.microsoft.com/en-us/dotnet/cs

[2019-02-06 21:09] davidvmckay opened #10348 "Documentation mis-represented by example"
The first code sample in the Remarks section illustrates use of the [&lt;Literal&gt;] attribute, where each of the sample bindings are lower-case identifiers; Then, the advice immediately following the example says not to define literals with lowercase identifiers to avoid them binding as variables -- that instead, they should have initial capitals.

The sample code should illustrate this with ini

[2019-02-06 21:45] krwq commented on #10326
@mklement0 I agree this should be documented but it is working consistently: explicit encoding => BOM, no explicit encoding => no BOM.
Also cross-platform does not imply "must work with Linux tools" especially specification mentions that xml parsers should understand BOM

[2019-02-06 22:13] mklement0 commented on #10326
I'm glad to hear it, and it's sufficient for us to agree on that, given the decision not to change the behavior, but ...

---

... yes, the behavior is compliant with the XML spec, but is an  _inconsistency_ nonetheless:

If I make _explicit_ what is the _default_, there should be no change in behavior - I'm opting for the _same thing_: implicitly in one case, explicitly in the other.

If the defa

[2019-02-06 23:18] #10347 closed

[2019-02-06 23:19] #10121 closed

[2019-02-06 23:37] #10328 closed

[2019-02-06 23:41] #9120 closed

[2019-02-07 00:00] JRAlexander commented on #10132
I've added the samples link to the top of the doc. Let's see how that works.

[2019-02-07 00:00] #10132 closed

[2019-02-07 01:54] manigandham commented on #9812
The latest information is here: https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg#project-properties

[2019-02-07 02:00] mairaw commented on #10346
Thanks for your feedback @fmonteiro-pt. Would you like to submit the fix for this?
We explain how in the following article:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-02-07 02:06] mairaw commented on #10336
Thanks for your feedback @barakisbrown. I've added to our backlog and to our community contributions project.

[2019-02-07 02:10] mairaw commented on #10332
I don't recall removing that intentionally. @rpetrusha would you know?

I do know that we purposely removed the following one:
https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/b1yfkh5e(v%3dvs.100)

in favor of:
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose

Because that one generated the most comments and we couldn't react to the

[2019-02-07 08:31] #10346 closed

[2019-02-07 11:01] TWolverson opened #10359 "The phrasing of the explanation is incorrect"
"This error occurs when you declare a property or indexer with an access modifier that is less restrictive than the access modifier on one of its accessors."

If that were true, the common construction

public int Prop {get; private set;}

would not be permitted.

declare a property or indexer with an access modifier (public int Prop) that is less restrictive (public is the least restrictive) than

[2019-02-07 12:11] MahmudX opened #10361 "It throws an compilation error."
It doesn't work. LOL.
When I add the 'in' keyword, it throws a red squiggly line and says - "identifier expected; 'in' is a keyword."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b1434b0-5459-7569-47f7-46bf33fc3953
* Version Independent ID: 8a4ae81b-1ae5-cbe6-d58b-df455414e245
* Content: [in parameter modifier - C#

[2019-02-07 12:49] StevenTCramer opened #10362 "How to find Path or Nuget_ID to uninstall templates"
`dotnet --list`  shows LongName shortName Language and Tags.
To uninstall I need either the Path or the Nuget_ID.
[code]
what command gives u the path or the NugetId of the installed templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a9

[2019-02-07 12:53] steepho commented on #9207
Hi I have an example (the next steps) for everyone if they need to consume an ASMX Web Service using connect services.

First step.  Make sure your return types match what your ASMX is actually returning (for some reason using the Connected Services "Wizard" would create a partial class for DataTable return types for example. Go into the WebService1SoapClient class and make sure your return types

[2019-02-07 15:54] sabuncu opened #10364 "Obsolete text: "In this first release of WPF...""
Fourth paragraph under "System Windows.Dependency Object":

"In this first release of WPF, the property expression system is closed, and the expressions are all provided as part of the framework."

The above sentence seems to be left over from the very first release of WPF.  Also, it is not clear whether the property expression system is now open as opposed to closed.  This part of the documentati

[2019-02-07 16:27] aboveyou00 commented on #10361
There is no indication on this page that this feature is only for C# 7+.

[2019-02-07 16:51] #10067 closed

[2019-02-07 16:56] muratg opened #10365 "Debian ARM64 Setup Guide"
_From @reed123 on Wednesday, 06 February 2019 23:51:54_

title says it all, i feel that there should be a setup guide for a case like this(or if possible can you link me one)

_Copied from original issue: aspnet/AspNetCore#7332_

[2019-02-07 16:56] muratg commented on #10365
_From @muratg on Wednesday, 06 February 2019 23:57:30_

Setup what exactly? One of the runtimes? SDK?

cc @richlander

[2019-02-07 16:56] muratg commented on #10365
_From @reed123 on Thursday, 07 February 2019 16:00:52_

set up the runtime on arm64

On Wed, Feb 6, 2019 at 6:57 PM Murat Girgin <notifications@github.com>
wrote:

--
Sent By: Reed Kemp
Via: GMail [https://mail.google.com]
Send Me A Email: [http://emailreed.gdn] (beta)

[2019-02-07 18:52] dclack commented on #5834
This sample doesnt work. Has anyone been able to make it work? I am using VS 2017

[2019-02-07 19:29] tcjohnson71 opened #10369 "++i VS i++ in a for loop..."
In C++ class we were told to use "++i" and not to use "i++" because using "++i" will make the code run faster.  Does this also work in C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e825860b-5966-26c4-72bb-9df62c7329f0
* Version Independent ID: 4cf67a2a-173d-7f55-910a-cf883fe4086e
* Content: [C# for statement](http

[2019-02-07 21:47] #9915 closed

[2019-02-07 23:33] rpetrusha commented on #10332
No @mairaw, we didn't do that intentionally. The history of index.md shows no significant changes other than the redirection of the Dispose article, so I suspect that it was never migrated from CAPS.

[2019-02-07 23:40] MeltdownZA opened #10372 "After upgrading to VS2017 15.9.6, All my .NET Core frameworks are removed from the target platform dropdown"
I had 15.9.1 installed. I installed .NET 2.2, but it never showed up in the target platform dropdown in project settings, only .NET 2.0 appeared. So I upgraded to VS 15.9.6, and now when I open my solution, all .NET Core items were removed from the target dropdown. How do I fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-02-08 00:07] mairaw commented on #10372
@leecow @KathleenDollard have you heard of this issue?
@MeltdownZA have you tried reinstalling the SDK?

[2019-02-08 00:12] mairaw commented on #10364
@sabuncu is this feedback for https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/wpf-architecture?

[2019-02-08 00:14] mairaw commented on #8564
@HirotoHirata I'm looking at an internal copy we have from MSDN and it looks exactly the same. For this reason, I'm closing this issue.

[2019-02-08 00:14] #8564 closed

[2019-02-08 00:17] KathleenDollard commented on #10372
@MeltdownZA

Could you go to a Visual Studio command prompt and type

[code]

Could you upload or paste it here?

[2019-02-08 05:50] sabuncu commented on #10364
@mairaw

Yes it is.

Sorry, I thought the GitHub system provided the link automatically.

I believe the documentation is based on a 2006 Microsoft blog post here: [https://blogs.msdn.microsoft.com/wpfsdk/2006/05/18/wpf-architectural-article/](https://blogs.msdn.microsoft.com/wpfsdk/2006/05/18/wpf-architectural-article/)

Thanks.

[2019-02-08 08:55] Potapy4 commented on #10325
How long does the application process take? 😊

[2019-02-08 09:44] Ashutosh-K-Singh opened #10379 "Not working with asp.net application"
Hi ,
I have tried this configuration for tracing http calls in standalone executable . It worked well and generated all the http calls in a log file. When i tried with an Asp.net application but it wasn't  working. This tracing is supposed to trace system.net http call in any .net based application but for Asp.net application it is only creating a log file with one line of  log as below.

System.N

[2019-02-08 11:45] GurumoorthyGanesan commented on #5464
Values is assigned for the Name Property in parameterized constructor of the Person class, which actually is a readonly property, so that it is throwing error. Adding set accessor to the corresponding property rectifies the issue.

[2019-02-08 12:09] JamesUKDEV opened #10382 "Too many results"
Results are likely going to be too long.
Would be useful to include something like &gt; C:\output.txt in the example.
gacutil -l &gt;c:\output.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a99a5ab4-3926-906c-14ff-ceaac4a7f0bf
* Version Independent ID: e0fcdf8e-cf42-4af5-0e90-1058a974e591
* Content: [How to: View t

[2019-02-08 12:25] NextTurn commented on #10369
No. They produce the same MSIL.
[code]

[2019-02-08 13:20] BillWagner commented on #10325
@Potapy4 Filling out the form should take between 5 - 10 minutes. The .NET Foundation advisory council is reviewing applications regularly, and you should here back within a few days.

Thanks for your patience. We are working through the process for the first time. In doing so, we're going a little slower to make sure we are doing it right.

[2019-02-08 15:40] JosephRT commented on #9909
@livarcocc I've had two scenarios where that command is useful.  The first is where we're upgrading versions of .NET and we want to set the `targetFramework` to the new version.  `Get-Project -All | Update-Package -Reinstall` is useful for updating all of your solution's projects in one fell swoop.

The other is when myself and my team members have occasionally encountered what I've started callin

[2019-02-08 16:31] RehanSaeed commented on #10217
It should be noted that setting this environment variables value to zero doesn't actually seem to enable you to run containers in read only mode. I have a full repro at https://github.com/RehanSaeed/ReadOnlyDockerTest. See also https://github.com/aspnet/aspnet-docker/issues/331.

[2019-02-08 16:42] wblair opened #10384 "Page talks about, but does not have links to, linux installer packages"
This page says there are native ubuntu and Centos/RHEL install packages available but has no link or references to where they are found or the repositories once could use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cfd5cf0-f28e-be49-227a-c2bbe4e57b8d
* Version Independent ID: 016b2a9c-d1c9-6909-df3e-a49db60b7654
*

[2019-02-08 17:43] BillWagner commented on #10258
The two samples are different because the `Person` type is a `class` in the first example, and a `struct` in the second example. The examples show that the behavior of assignment is different for `struct` and `class` types.

I recommend closing this.

[2019-02-08 18:14] ChrisMcKee commented on #10217
Worked for me with a new project

[2019-02-08 19:50] bbzippo opened #10386 "Is the default behavior same in all .Net versions?"
Could you please confirm if the following is still true in .Net 4.6 and later?
"The default behavior of the common language runtime is to commit the full thread stack when a thread is started."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ffdc3f4-a370-5e2b-468f-8c16176317b3
* Version Independent ID: c5ca1572-7afc-42

[2019-02-08 22:08] gjjeffers opened #10390 "Update for v0.10"
This line is broken in v0.10 as the constructors have been made internal:
var trainer = new SdcaMultiClassTrainer(_mlContext,DefaultColumnNames.Label, DefaultColumnNames.Features);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02dbf6
* Version Independent ID: 8a16b9e9-b5cb-a55e-2135-191bc

[2019-02-08 22:45] #10348 closed

[2019-02-08 22:58] JRAlexander commented on #10390
Thanks, @gjjeffers! I'm updating this tutorial currently and hope to have the PR out later tonight. I'll reference it here. Sorry for the inconvenience!

[2019-02-08 23:13] #9707 closed

[2019-02-08 23:14] cartermp commented on #9707
Issue fixed in #10392 - @abelbraaksma if you have an idea for a different sample, we'd definitely love the PR.

[2019-02-08 23:24] SimpleSamples opened #10393 "Reference or tutorial?"
Is this a reference or a tutorial? It looks like a tutorial. A reference page would be clear and precise, especially about the syntax. Note that in the list of what the from clause specifies the data source is listed first then the range variable second. Whereas the syntax is that the range variable is first and data source second, right?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-08 23:52] #10215 closed

[2019-02-09 00:57] #9919 closed

[2019-02-09 01:17] NextTurn commented on #6923
It seems that bulleted list is not welcome elsewhere.

https://github.com/MicrosoftDocs/cpp-docs/pull/778#issuecomment-461979749

[2019-02-09 02:07] lucasnobredev commented on #6181
Well, when we merge the PR #6404 , the next articles to unify are:

- Friend Assemblies
- How to: Load and Unload Assemblies
- How to: Determine If a File Is an Assembly

**PS: We should always remember to look for wrong links and update the assembly/index article.**

About the other articles deleted from "See Also" section in PR, what we supposed to do?

- How to: Share an Assembly with Other App

[2019-02-09 02:59] lucasnobredev commented on #8727
@BillWagner Can we re-open this discussion?

[2019-02-09 03:30] mairaw commented on #9909
@livarcocc should I move this issue elsewhere?

[2019-02-09 03:37] mairaw commented on #9601
Sorry I've missed your question earlier @hoksource.

There's the dotnet add package where you can specify the package source:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package

I hope this helps.

[2019-02-09 03:37] #9601 closed

[2019-02-09 04:07] mairaw commented on #9373
I will @michael-freidgeim-webjet.

[2019-02-09 06:12] daveyostcom commented on #1931
Also [here](https://github.com/dotnet/docs/edit/master/docs/csharp/tutorials/working-with-linq.md).

[2019-02-09 06:18] tylerjgarland opened #10398 "Doesn't describe how to load data using JSON"
I can spot newtonsoft.json in the latest version of ML.NET 0.10 ,but I can't find a way to process JSON data in these docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72764a44-6802-52cc-0fde-4e77ea023ef1
* Version Independent ID: 4744f614-da6b-a15c-aebf-8a457f5549c8
* Content: [Load data from a text file for machin

[2019-02-09 08:29] sdg002 opened #10399 "ML.NET API for one-hot encoding - compilation errors with sample code"
I am trying to reproduce the sample code on this page.
https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/train-model-categorical-ml-net

I faced no problems in loading the data and displaying categorical and numerical columns
However, when it came to one-hot encoding, I am facing compilation errors.

-The type 'CategoricalTransform.OutputKind.Bag' is not found
-The class 'Coun

[2019-02-09 08:37] livarcocc commented on #9909
I think at this point we should close this issue. If this is something that folks feel strongly about, I would suggest filling a new issue at nuget/home.

[2019-02-09 08:59] Mustard867 opened #10400 "Incorrect code example for Parameter Arrays"
The code example in the section "Parameter arrays" is incorrect. It doesn't define the function talked about in the text prior to it and it doesn't use the params keyword.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158425f1-86b1-101a-9172-14c944867784
* Version Independent ID: 6386f636-99b3-93c3-ca9e-0134f3e3be10
*

[2019-02-09 09:52] NextTurn opened #10401 "Broken links"
https://identityserver4.readthedocs.io/en/release/

https://github.com/dotnet/docs/blob/f1e3bca622a94e8e2055a5815fa209b4be43c449/docs/standard/microservices-architecture/secure-net-microservices-web-applications/index.md#L188

https://github.com/dotnet/docs/blob/f1e3bca622a94e8e2055a5815fa209b4be43c449/docs/standard/microservices-architecture/secure-net-microservices-web-applications/index.md#L196

[2019-02-09 11:43] rkumarQ3 opened #10402 "Receiving From Server stops after certain time even though Socket shows connected"
I have been using Socket Client Async, to communicate with Server.

It work perfectly but for a very short period of time, after some time it stops reading the message   on the respected Port. However the Connection shows as Connected.

Can anyone please provide some help on the above issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-02-09 14:38] deap82 commented on #9808
@BillWagner I'm guessing your talking only about the docs error? What about my other question? :-)

[2019-02-09 21:02] sam-wheat opened #10404 "Why is there no example showing how to handle recursion"
&gt; A typical scenario for using a linkage of dependency properties is when you have a user interface driven property where the element holds one property each for the minimum and maximum value, and a third property for the actual or current value.

Since this is a typical scenario why don't you provide an example.  Not a partial example showing how to create a method but a real example.  A real

[2019-02-09 23:21] BillWagner commented on #9752
Moving to dotnet/csharplang.   See dotnet/csharplang#2209

Closing here.

[2019-02-09 23:21] #9752 closed

[2019-02-09 23:24] daveyostcom opened #10405 "checked doesn't work as expected with floating point"
Seems odd that checked floating point code that overflows will quietly generate a Nan instead of throwing an exception. Needs to be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbbcec4d-d8ff-d906-57ec-378689eb99a5
* Version Independent ID: 88e4ead1-3745-2be6-9cfb-0f02eeacf9c1
* Content: [checked keyword -

[2019-02-10 00:11] coreys079 opened #10406 "FrontEnd Help"
I am having difficulty with network frontend, so what does the frontend consist of? Where do I begin? What c# sharp codes do I use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2662c2f7-e074-225a-d878-9e3cb6b9ff90
* Version Independent ID: 9f333c5a-3e53-5abf-8c09-d5f1f5b7c59b
* Content: [Network Programming in the .N

[2019-02-10 01:06] hoksource commented on #9601
Turns out you need azure devops artifact feeds or some other package hosting to do this. thank you for the prompt response.

[2019-02-10 12:31] MichaelVach opened #10408 "Above procedure to turn on nullable reference types for an entire project is incorrect for VS 2019 Preview 2"
incorrect for VS 2019 Preview 2 "&lt;NullableReferenceTypes&gt;true&lt;/NullableReferenceTypes&gt;"
should be replaced with "&lt;NullableContextOptions&gt;enable&lt;/NullableContextOptions&gt;"

more info at https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-reference-types.md#setting-project-level-nullable-context

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-02-11 03:27] ZaymonFC opened #10412 "Inequality <> is not in operator precedence table but != is."
Should this be replaced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda0064b-feb6-ccf5-b77c-92e59be17b0c
* Version Independent ID: 7f789b6e-4f55-5740-2c2f-2dec4e2129fc
* Content: [Symbol and Operator Reference - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/symbol-and-operator-reference/)
*

[2019-02-11 09:07] RehanSaeed commented on #10217
The Dockerfile in my repro looks like this:

[code]

[2019-02-11 10:26] mvelosop commented on #8641
Closing this issue now, as the new health checks have been referenced in the docs and it's already merged into dev, but feel free to comment, will reopen if needed.

[2019-02-11 10:26] #8641 closed

[2019-02-11 10:50] mvelosop commented on #9439
Hi @wmeints, thanks for the heads up!

I think perhaps it should be emphasized more that the code shown is just a simplified version, to make it easier to grasp the whole concept. There are two links to the actual code, both right before and right after the code fragment. The actual code considers what you mention and also includes adding the retries policy with Polly, but I think the actual code

[2019-02-11 10:53] mvelosop commented on #9844
Closing this issue as the PR fixing it has already been merged.

[2019-02-11 10:53] #9844 closed

[2019-02-11 11:32] JimBobSquarePants opened #10413 "Highlight current multitargeting issues with Visual Studio for Mac"
The current implementation allows multi-target frameworks projects to be opened and compiled but treats them as though they have a single target framework.

https://bugzilla.xamarin.com/show_bug.cgi?id=55508#c5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86dd5e9-34ef-44b5-242a-709f33bf0e1f
* Version Independent ID:

[2019-02-11 12:23] ChrisMcKee commented on #10217
Thats... perplexing; I get the same error locally. But if I run a project I know I've already configured...

[code]

I've even altered your repro docker and cs files to closer resemble my working project and it fails...
![](https://media.giphy.com/media/VUdLlDsKlQi5i/giphy.gif)

[2019-02-11 12:23] abelbraaksma commented on #9707
@cartermp, I worked a bit with the idea I posted, i.e. the `IComparable` on the fly. But I couldn't make a trivial worked out example. I'll give it another go, I might not have understood this syntax enough back then

[2019-02-11 12:39] RehanSaeed commented on #10217
What version is your project that worked? Maybe the latest 2.2 is broken again?

[2019-02-11 12:43] ChrisMcKee commented on #10217
[ReadonlyRepro.zip](https://github.com/dotnet/docs/files/2851047/ReadonlyRepro.zip)

ok I've just created a new project via VS; added a the env vars, slightly modified the docker file build (so the shell script I shoved in the route paths properly)

and it works fine.

(if you dont have wsl talking to dockerforwindows you can just paste the command in cmd at the sln level `docker build -t readonly

[2019-02-11 12:55] ChrisMcKee commented on #10217
I've tried breaking the working repro attached previously by diffing with your repro

* Startup.cs adding using Microsoft.AspNetCore.Http; , removing `services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Version_2_2);` and swapping out the `app.UseMvc();` for the `app.Run(async (context) =>` has no effect on readonly mode.

* changing `<PackageReference Include="Microsoft.AspNetCore.App"

[2019-02-11 13:02] ChrisMcKee commented on #10217
@RehanSaeed ok mate I got yours working
![image](https://user-images.githubusercontent.com/83597/52564893-2b6c3b80-2dfd-11e9-9010-2773a49bc9d3.png)

I changed the dockerfile to

[code]

[2019-02-11 13:12] ChrisMcKee commented on #10217
Shit.. nailed it

`ENV COMPlus_EnableDiagnostic=0` - https://github.com/RehanSaeed/ReadOnlyDockerTest/blob/master/Dockerfile#L10

Missing the S
`ENV COMPlus_EnableDiagnostics=0`

[2019-02-11 13:16] ChrisMcKee commented on #10217
so this replacement for the one in your repo works
[code]

Typos; the ultimate killer 😉

Just so you know; it's usually a good idea to add `ENV DOTNET_CLI_TELEMETRY_OPTOUT=1` unless you want to filter out msft telemetry traffic when debugging.
And you no longer need to restore; build+publish implicitly do it for you.

![image](https://user-images.githubusercontent.com/83597/52565579-1e504c00-2dff-

[2019-02-11 14:31] RehanSaeed commented on #10217
@ChrisMcKee Thanks for your investigation. That typo is not something I'd have spotted.

Perhaps you can update the issue title.

[2019-02-11 14:42] ChrisMcKee commented on #10217
@RehanSaeed tbh this issue is about documentation; you just nerd-sniped me with your issue 😉

[2019-02-11 17:45] CeciAc opened #10416 "Docker file COPY"
@rochar commented on [Sat Feb 09 2019](https://github.com/dotnet/docs.pt-br/issues/111)

In the Docker File the COPY instruction should be replace by the ADD for the latest docker version

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 72ef1481-3b6f-30bf-330d-45400c0a349c
* Version Independent ID: 03a156f7

[2019-02-11 17:46] CeciAc commented on #10416
Hi team,
I'm moving this here since the contributor made a suggestion on the code box
best

[2019-02-11 19:30] 7danny opened #10417 "'Score column 'Score' not found"
Following this tutorial using Microsoft.ML.0.10.0, I am getting an error on the Evaluate method(error below), this line:
var metrics = mlContext.BinaryClassification.Evaluate(predictions, "Label");

Train and Predict seam to work(at least compile) but score always 50%.

System.ArgumentOutOfRangeException
  HResult=0x80131502
  Message=Score column 'Score' not found
Parameter name: schema
  Source=

[2019-02-11 19:42] rpetrusha commented on #10405
@daveyostcom, **checked** applies only to arithmetic operations and conversions with integers; it does not apply to floating-point operations. I'll close this issue.

[2019-02-11 19:42] #10405 closed

[2019-02-11 19:55] tdykstra opened #10418 "A link to more info on -v option would be helpful"
Is there a doc we could link to for information on what formats work for specifying version?  For example, how to use wildcards in version numbers.  Also it might be helpful to specify what you get when you omit the -v option -- latest excluding prerelease.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-0

[2019-02-11 21:10] psimoneau22 commented on #9239
the documentation also needs to be updated here: https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-patch-selection#how-to-avoid-restore-during-publish

[2019-02-11 21:15] psimoneau22 opened #10422 "<RuntimeIdentifiers> is no longer needed inside the project file"
The documentation on this page should be updated because the &lt;RuntimeIdentifiers&gt; element is no longer needed in the project file.

see this issue for further information:  https://github.com/dotnet/docs/issues/9239

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a901ae9f-cc78-b5de-a031-b4671c7a85ac
* Version Inde

[2019-02-11 21:36] #9309 closed

[2019-02-11 21:50] daveyostcom commented on #10405
Yeah, I noticed that when I actually read all of the words. ;-)

[2019-02-11 21:53] frogger081 opened #10423 "Fails to install with error 0x80070001"
I recently did a fresh install of Windows 10 to the latest version. Unfortunately for me, some software I have uses .NET 3.5. The system will not install it.

I have tried "Turn Windows features on or off".
I have tried the .NET 3.5 installer.
I have tried the .NET 3.5 offline installer.
I have tried the Microsoft utility to automatically repair "problems that block programs for being installed".

[2019-02-11 21:58] frogger081 commented on #10423
Incidentally, when I say "every version of Windows", I'm including previous installations of Windows 10.

[2019-02-11 22:23] mairaw commented on #6717
Closing this one since the content no longer contains the section mention or ARM32 in progress.

[2019-02-11 22:23] #6717 closed

[2019-02-11 22:26] mairaw commented on #9173
Thanks for that information @fldef. I can repro your issue but I don't understand what the original issue was referring to, so I'll be closing this one.

For your issue @fldef, would you mind opening an issue for our engineering team at https://github.com/microsoftdocs/feedback/issues? Thanks!

[2019-02-11 22:26] #9173 closed

[2019-02-11 22:30] mairaw commented on #10412
This was resolved in PR #10415

[2019-02-11 22:30] #10412 closed

[2019-02-11 22:33] rpetrusha commented on #10361
Thanks for your feedback, @MahmudX The `in` parameter modifier was added in [C# 7.2](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-2#safe-efficient-code-enhancements). For information on configuring the language version, see [Select the C# language version](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version).

This article, however, cer

[2019-02-11 22:34] mairaw commented on #10406
Hi @coreys079, thanks for your question. You can use networking APIs with any kind of frontend supported in .NET, like web, console or desktop apps such as WPF or Winforms. If you're just trying to get started, probably the easier would be to start with a simple console application to implement the functionality you want to achieve.

[2019-02-11 22:34] #10406 closed

[2019-02-11 22:37] mairaw commented on #10401
Thanks @NextTurn. I imagine we could change them to latest instead:
https://identityserver4.readthedocs.io/en/latest/

@mvelosop can you please take a look at this feedback?

/cc @CESARDELATORRE

[2019-02-11 22:42] mairaw commented on #10384
Under https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#supported-linux-versions, the topic says "For download links and more information, see .NET Core 2.2 downloads or .NET Core 2.1 downloads."

So install packages would be on the downloads page. For this reason, I'm closing this issue.

[2019-02-11 22:42] #10384 closed

[2019-02-11 23:02] rpetrusha commented on #10400
Thanks for your feedback, @Mustard867. This is clearly the wrong example. Unfortunately, the correct one seems to have been lost at some point in one of our content migrations, so a new one will need to be written. I've added this issue to our backlog, as well as to the community contributor's project.

[2019-02-11 23:03] mairaw commented on #10400
I think this is not a migrated topic, so maybe just an issue with the topic when it was created.

[2019-02-11 23:47] mairaw commented on #10362
Thanks for your question @StevenTCramer. @KathleenDollard @livarcocc can you help with this question?

[2019-02-12 01:28] BillWagner commented on #9625
Thanks for writing this @nlivaic The answer is a bit complicated. The `WhereSelectEnumerableIterator` does expose the same functionality as an `IEnumerable`. For practical purposes, thinking of the output from most LINQ queries in terms of an `IEnumerable` is the correct abstraction. In practice, different LINQ operators create different types.

I need to figure out how to update this to be both c

[2019-02-12 01:31] #9964 closed

[2019-02-12 01:34] BillWagner commented on #9972
Thank for pointing this out @matgrioni You are correct that one way to ensure correctness is to only implement `IEquatable` on leaf classes.  Another option is to use runtime type checking, which would preserve the symmetric property on equality.

I've added this to our backlog to address when we update this topic.

[2019-02-12 01:35] BillWagner commented on #10011
Thanks for pointing this out @brandon34343

I've added this to our project backlog to update as we update these topics.

[2019-02-12 01:37] BillWagner commented on #10083
/cc @jcouv Is this an option we want to support, or is it primarily used for internal purposes?

[2019-02-12 01:38] mairaw commented on #10365
@leecow can you here?

[2019-02-12 01:44] BillWagner commented on #10093
The full list of supported tags is in the [C# spec](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/documentation-comments)  We should update this document to link to that section in the spec.

The other possible answer is to use well-formed HTML in your comments. the viewing tool may respect those.

[2019-02-12 01:45] BillWagner commented on #10141
Good catch @sadqiang We'll put this on the list of articles to update between now and the C# 8 general release.

[2019-02-12 01:47] BillWagner commented on #10166
I'm glad you found the answer @deadmann

I'll close this as resolved.

[2019-02-12 01:47] #10166 closed

[2019-02-12 01:53] BillWagner commented on #10243
/cc @jcouv to check this answer.

My interpretation of the C# spec section on [static constructors](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/classes#static-constructors), it states:

That would seem to imply that only thread will invoke the static constructor.

However, there are no restrictions on the code you write inside a static constructor. You could

[2019-02-12 01:59] leecow commented on #10365
https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md#installation-from-a-binary-archive basically covers what's needed.

[2019-02-12 02:03] BillWagner commented on #10244
Thanks for raising this issue @michael-hawker

There is no language level guarantee on thread synchronization for static methods. Whether or not a static method is thread safe depends on the code in the static method. If the static method does not mutate shared data, it would be thread safe. However, any access to shared data would need to be synchronized.

Because there isn't a language guarantee

[2019-02-12 02:09] BillWagner commented on #10408
This was fixed in #10381
Closing as fixed.

[2019-02-12 02:09] #10408 closed

[2019-02-12 02:13] BillWagner commented on #10369
As @NextTurn states, there is no perf difference between the prefix and postfix operators in C#.

Closing as answered.

[2019-02-12 02:13] #10369 closed

[2019-02-12 02:26] michael-hawker commented on #10244
Thanks @BillWagner, I understand that I can always put unsafe code somewhere that does silly things. :)

It's just helpful to know if the underlying construct is thread-safe and is only going to be able to be entered once or if I need to worry about mutexing around initializing/accessing the member or not.

[2019-02-12 02:28] michael-hawker commented on #10243
Yeah, this is a similar discussion #10244, there's always unsafe things you can do anywhere in code, but it's always nice to know when you don't need an extra layer of mutexing around things or not or can use the inherit constructs in the language. :)

[2019-02-12 04:38] mairaw commented on #10323
Thanks @JohnGoldsmith! @AaronRobinsonMSFT @richlander can you comment on this since you worked on the Excel demo?

[2019-02-12 04:39] mairaw commented on #10146
That's a good suggestion. @mvelosop @CESARDELATORRE can you please take a look?

[2019-02-12 04:43] mairaw commented on #10321
@KathleenDollard @richlander @peterhuene do you know if we can already deploy using FDE from VS as well?

[2019-02-12 04:55] peterhuene commented on #10321
It should be.  However, I'm tracking dotnet/cli#10647 that causes no apphost to be generated when `RuntimeIdentifier` is set through the `.pubxml` file.

The cause is that we have a number of apphost-related properties that get set before the `.pubxml` file is imported, thus are not correct for what will eventually be the target RID.  This causes a failure to discover the apphost in the restored n

[2019-02-12 05:04] AaronRobinsonMSFT commented on #10323
I think there is some duplication here, but it is also pretty cool to have examples for other Office applications. I also think that this sample follows the pattern and is consistent with the Excel one so it looks professional. The only caveat with accepting too many of these is the maintenance of ensuring they continue to work, but I am inclined to set that number as more than 3 so I am all for a

[2019-02-12 06:03] tcjohnson71 opened #10434 "How do I know..."
...when to use the Mutex and when to use the Semaphore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e078fd-3a63-8b58-49f8-67e49df9bc9f
* Version Independent ID: f082f7b2-e1a3-aa31-1081-5ca11c954d80
* Content: [Semaphore and SemaphoreSlim](https://docs.microsoft.com/en-us/dotnet/standard/threading/semaphore-and-sem

[2019-02-12 06:04] tcjohnson71 commented on #10434
Are they both kernel objects?

[2019-02-12 06:46] pkulikov commented on #10434
@tcjohnson71 the following section might help you with your first question:
https://docs.microsoft.com/en-us/dotnet/standard/threading/overview-of-synchronization-primitives#synchronization-of-access-to-a-shared-resource

[2019-02-12 08:32] jonaramos commented on #9244
This is an example of the PrimeService following the "Unit Test Best practices" @joonhwan pointed out.

`using Xunit;
using Prime.Services;

namespace Prime.UnitTests.Services
{
    public class PrimeService_IsPrimeShould
    {
        [Fact]
        public void ReturnFalseGivenValueOf1()
        {
            // Arrange
            var primeService = CreateDefaultPrimeService();
            // Ac

[2019-02-12 08:44] ikarakaya commented on #10321
@mairaw i tried to deploy from VS with publish settings below. It creates a ".dll" file which i can run with "dotnet xxx.dll".

  `<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">`
`  <PropertyGroup>`
`   <WebPublishMethod>FTP</WebPublishMethod>`
`  <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>`
`  <LastUsedPlatform>Any CPU</LastUsedPlatfo

[2019-02-12 11:56] JohnGoldsmith commented on #10323
@AaronRobinsonMSFT That's great - thank you.  I've submitted the PR so please let me know if I need to do anything else at this stage.

[2019-02-12 12:09] mlop3s opened #10435 "Missing XAML example"
It would be great to see how this is bound on XAML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f738fdd-5b1d-211d-46e6-c5ba2fd1fcf8
* Version Independent ID: 6c181d15-2a5a-5d33-ef8e-f26d3b439a32
* Content: [Collection-Type Dependency Properties](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/collect

[2019-02-12 12:37] joaoportela opened #10436 "Make threading issue easier to reproduce"
I think we can make the issue easier to reproduce: the threading issue triggered by not having the `volatile` keyword.

Inspired by what @Xenoprimate mentioned in issue #5763 and [this stackoverflow post](https://stackoverflow.com/a/10797326/86845) I have some suggestions to make to the example code:

Change DoWork to:
[code]

Because doing IO on the worker thread seems to trigger fresh reads for

[2019-02-12 13:29] Khad515 commented on #9142
Yea, actually, im looking for some information about that.

[2019-02-12 16:31] luisquintanilla commented on #10340
@keimpema . The documentation for the Sentiment Analysis tutorial has been updated in PR #10419 . Updates are already in the site as well.

https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis

[2019-02-12 16:31] #10340 closed

[2019-02-12 16:32] rajanmishra18 opened #10437 "access modifier introduction version"
As I know you have introduced a new access modifier and that is private protected. But you have not mentioned anywhere that it was introduced after c# 7.0. Kindly mention that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2faccde0-3626-7806-ad33-755cdb0657a1
* Version Independent ID: 9b5d452f-f104-5e24-3280-b721752fe

[2019-02-12 16:52] 7danny commented on #10417
Disregard, was following outdated tutorial. Current working example: https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/BinaryClassification_SentimentAnalysis

[2019-02-12 16:54] luisquintanilla commented on #10417
@7danny You beat me to it. I was just writing a comment that seeing the time this issue was logged and when PR #10419 went in, it might be an outdated tutorial. Feel free to let us know if you have additional issues. Thanks!

[2019-02-12 16:54] #10417 closed

[2019-02-12 17:10] luisquintanilla commented on #10399
@sdg002 Thanks for raising this issue. This code looks like it may be from the previous version of the documentation. An update went in as part of PR #10350 which uses the latest version (0.10) of Microsoft.ML. Give that a try and let us know if you still have are having problems. Thanks!

[2019-02-12 17:22] JRAlexander commented on #10150
Creating an issue over at [the ML.NET product repo](https://github.com/dotnet/machinelearning) for this.

[2019-02-12 17:38] #10181 closed

[2019-02-12 19:20] mairaw commented on #10359
Thanks for your detailed feedback @TWolverson. I've opened PR #10433 to fix this.

[2019-02-12 19:29] shoorik opened #10439 "Clarification: CheckConfirmedGracePeriodOrders"
Presumably, you may also want to pass stoppingToken to CheckConfirmedGracePeriodOrders function so that it can use it to gracefully interrupt any pending calls to query database and publishing messages to queues and rollback things cleanly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a03c0-a844-26eb-48a5-33a612dd

[2019-02-12 19:32] jeffschwMSFT opened #10440 "Need to update Hosting documents to remove claim of 'side-by-side'"
The following sentence should be changed:
Because .NET Core is able to run side-by-side with itself, it's even possible to create hosts which initialize and start multiple versions of the .NET Core runtime and execute apps on all of them in the same process.
To:
.NET Core is not supported to run side-by-side with itself.  If you are looking for assembly loading isolation consider AssemblyLoadConte

[2019-02-12 22:16] #9779 closed

[2019-02-12 22:21] KathleenDollard commented on #10321
I believe VS 2019 will support this.

[2019-02-12 22:44] #10361 closed

[2019-02-12 23:34] #10359 closed

[2019-02-12 23:37] mairaw commented on #10423
Have you tried the DISM technique as the article suggests if everything fails?
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/deploy-net-framework-35-by-using-deployment-image-servicing-and-management--dism

/cc @vivmishra

[2019-02-13 02:29] natenho opened #10447 "Linux install script is different from main site install procedure"
- The Linux installation script is installing .NET Core 2.1 instead of 2.2
- The installation procedure described in the document is very different from the main .net web site at (e.g. https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-current). Search engines often return this document for the keywords "dotnet install linux", and may cause confusion, since it seems no

[2019-02-13 04:01] Zhentar commented on #9840
We aren't finding it in search - the error message tells us to go to http://aka.ms/dotnet-runtime-patch-selection for more information, which sends us here

[2019-02-13 07:52] SimonCropp commented on #7305
almost up to six months. any update?

[2019-02-13 08:18] jcouv commented on #10083
This option was added a while back (before 2014), so I don't know its history. But this option (`errorendlocation`) and a related option (`fullpaths`) are indeed listed in `csc -help`. That means they are supported.

[code]

[2019-02-13 10:25] VaclavK commented on #9812
IMHO I do not think the doco for PackageLicenseExpression is clear in the document following the link above from @manigandham

[2019-02-13 12:50] LeifRoss commented on #8769
I am also wondering how we can retrieve the cluster centroids after fitting the model, preferable also containing the label.

[2019-02-13 14:54] BillWagner commented on #10083
Thanks @jcouv

I've added this to our backlog. I've also added the up-for-grabs label and added this to our community project.

[2019-02-13 15:13] hughbe opened #10452 "KoreanLunisolarCalendar.MinSupportedDateTime is wrong for .NET Core"
See https://github.com/dotnet/corefx/pull/35150#discussion_r255069724

Currently

This has been changed to February 19, 918 in .NET Core

[2019-02-13 15:14] MohanKumarPrakash opened #10453 "Working on cache objects"
This was good information. I'm working on SAP right now but the .net documentation is way ahead and better. Good work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f884d92b-b068-2730-9946-6ce6aa638cca
* Version Independent ID: a4fbd192-8629-0aff-7d72-080de94e75cc
* Content: [Caching in .NET Framework Applications](ht

[2019-02-13 16:41] BillWagner opened #10454 "Add nullable tutorial for working with existing libraries"
There are many concerns related to the interaction between nullable enabled code and nullable oblivious libraries.

This article should cover those strategies. Topics should include:

1. how to create a valid side-car file for a 3rd party library.
1. How to work with code your app calls that is nullable oblivious
1. How to work with code that calls your app or library when that code is nullable ob

[2019-02-13 18:02] mairaw commented on #10453
Thank you for your kind comments @MohanKumarPrakash. We really appreciate it!

[2019-02-13 18:02] #10453 closed

[2019-02-13 18:13] BillWagner commented on #9220
@KexyBiscuit @rowanmiller I think that link should point to the [numbers](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/numbers-in-csharp-local) tutorial that runs locally. Visitors should have downloaded the SDK, so are ready to work locally. This is the first introductory lesson that has local instructions.

[2019-02-13 18:21] rowanmiller commented on #9220
I agree, and we already have some instructions at the start of the numbers page to point folks to the dot.net tutorial if they haven't already setup their environment.

I will update the link on the dot.net side.

@BillWagner I think we should also remove this note from the `Work with collections` step
![image](https://user-images.githubusercontent.com/4741851/52734048-14eaef00-2f79-11e9-89d2-6547

[2019-02-13 18:22] BillWagner commented on #9220
Good point @rowanmiller PR coming...

[2019-02-13 18:34] vivmishra commented on #10423
cc: @NikolaMilosavljevic

[2019-02-13 18:45] rowanmiller commented on #9220
Change is live on the dot.net side - https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/next

[2019-02-13 18:49] BillWagner commented on #9220
PR ready for the docs side: #10455

[2019-02-13 18:52] WenningQiu commented on #9965
@BillWagner Thanks for accepting the issue as P1.

I understand that the official solution will require public API change and has to go to new netstand, .NET Framework and .NET Core versions, which probably will take a long duration of time to be turned around.
Until that happens, is it possible to make the functionality available to applications in an adhoc way without breaking existing netstanda

[2019-02-13 19:06] BillWagner commented on #9220
PRs merged, so closing this.

[2019-02-13 19:06] #9220 closed

[2019-02-13 19:22] JRAlexander commented on #10399
@sdg002, closing as this appears to be resolved. If that isn't the case please reopen. Thanks!

[2019-02-13 19:22] #10399 closed

[2019-02-13 19:58] JRAlexander commented on #10398
@tylergarland, I believe newtonsoft.json is used for internal processing.  @shmoradims or @sfilipi, do you have any feedback on this? You might try deserializing your JSON into a collection - like here: https://www.newtonsoft.com/json/help/html/SerializingCollections.htm#DeserializingCollections  then using ReadFromEnumerable from your deserialized collection and then prediction,etc from here:  ht