[2018-07-24 00:13] rpetrusha commented on #5770
Incidentally, @smmalis37, to see what encodings are available on .NET Core, you can call the [Encoding.GetEncodings](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.getencodings) method (.NET Core 2.0 and later). There is a description of supported encodings in the Platform Notes: .NET Core section of [Character Encoding in the .NET Framework](https://docs.microsoft.com/en-us/dotn

[2018-07-24 01:05] BenGood commented on #5181
I'm sure a doc comparing different asynchronous models would be enlightening but is there a simple answer to the question "Is Delegate.EndInvoke really necessary?" the linked documents says it should always be called. Is the example on this page complete?

[2018-07-24 05:56] pkulikov commented on #6180
@rpetrusha I agree: will move the example to the API doc and then will remove the topic from the conceptual docs. Thank you.

[2018-07-24 06:03] pkulikov commented on #6630
@matthewkrieger that's a good observation, thank you for reporting. I'll update the topic this week.

[2018-07-24 11:19] BillWagner commented on #6630
Thanks @pkulikov  I've assigned this to you.

[2018-07-24 13:05] user135711 opened #6634 "Dead link: "Security and privacy features in Internet Explorer""
The link redirect below is dead:
http://go.microsoft.com/fwlink/?LinkId=179286

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 543a1ea0-981d-718f-3d60-c5105728a517
* Version Independent ID: 86d13afc-7719-c2c0-e0bf-9bb8eecbd1a3
* Content: [WPF XAML Browser Applications Overview](https://docs.microsoft.com/en-us/dotnet/fr

[2018-07-24 13:34] bgever commented on #4241
As a suggestion, maybe the SDK could have a `--prune` command to remove all but the latest version.

Or specify the minimum version number to keep. E.g. `--prune 2` would delete all the v1.x SDKs I have on my machine. Or `--prune 2.1` would remove all the 2.0 ones and the 2.1 preview ones.

For example, my SDK list currently looks like this:
[code]

[2018-07-24 14:53] subash774 opened #6635 "K-Means Clustering"
Is there a way of finding out how many clusters data is separated into after we train the model? In other words, without "predicting", how do we know the number of clusters? Also, is there a way to find optimum value for K like in scipy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd15175c-5b7d-4310-ecf5-32ffc7bc588

[2018-07-24 15:19] JRAlexander commented on #5780
@rigdern, I just reopened.

[2018-07-24 15:49] JRAlexander commented on #6635
@GalOshri or @Zruty0 - Could you answer this? Thanks!

[2018-07-24 16:06] cartermp commented on #5804
After thinking this through a bit more and talking it over with a few others, the only reasonable thing I can do is rewrite the article. I'll probably do that sometime in the next week.

[2018-07-24 16:14] kappa7194 opened #6637 "Outdated serialization information"
The paragraph

is outdated. The `[NonSerialized]` attribute has been removed with pull request [22862](https://github.com/dotnet/corefx/pull/22862), merged back in corefx with commit [7eed79f](https://github.com/dotnet/corefx/commit/7eed79faf47e8e8dbe1645fb002e52c306867347) on 2017-08-02, as of today the attribute [is missing](https://github.com/dotnet/corefx/blob/7eed79faf47e8e8dbe1645fb002e52c30

[2018-07-24 17:01] brunomartinspro commented on #6600
Pull request merged, Tested in Production - OK

[2018-07-24 17:01] #6600 closed

[2018-07-24 17:06] Thraka commented on #5801
@paolofulgoni Thanks for bringing this up!

CC @pjanotti @joperezr

I played around testing things and I can't seem to get `XmlSerializer`, `DataContractJsonSerializer`, or `BinaryFormatter` to use the `OptionalField` attribute at all. Is this something that really is fully deprecated? I also did a source search for `OptionalField` and didn't really find it used either.

Should https://docs.micros

[2018-07-24 17:32] breyed opened #6638 "Buffering contradiction"
The remarks make two statements, which seem contradictory:
1. The returned `Task<Result>` object will complete after the whole response body is read.
2. This method does not buffer the stream.

Based on statement 1, the application can't start using the stream until the whole body is read, because it won't have access to the `Stream` object via `Task<Stream>.Result` until the task completes. But i

[2018-07-24 17:35] JRAlexander commented on #5804
Mind if I add it to the 139 milestone?

[2018-07-24 17:41] cartermp commented on #5804
Sounds good!

[2018-07-24 17:45] rpetrusha commented on #6634
Thanks for reporting the broken link, @user135711. We'll fix it shortly.

[2018-07-24 18:12] Zruty0 commented on #6635
Currently, KMeans algorithm exposed in ML.NET does not try to infer the optimum number of clusters, it always used the user-specified value K.

Therefore, there should not be a problem finding what is the value of K, since it's user-defined. However, as far as I know, the clustering model outputs a vector-valued column of 'distances to centroids', and the cardinality of this column is equal to the

[2018-07-24 18:44] pjanotti commented on #5801
I don't know the exact history here but it should be up to the implementation of serializers if they are going to use the attribute or not. I see it being used at:

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/Formatters/Binary/BinaryObjectInfo.cs#L638-646

the statement "it's important to set this property correctly to e

[2018-07-24 18:51] pfjr opened #6642 "Niggle"
"White space isn't allowed within a bracketed quantifier, such as {n}, {n,}, and {n,m}. For example, the regular expression pattern \d{1. 3} ..."  Shouldn't that period after the '1' be a comma?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf9b6611-d08f-2fe9-216b-e0658d7f1553
* Version Independent ID: 3d3be892-b9b5-c

[2018-07-24 18:52] ViktorHofer commented on #5801
Right, VersionAdded was introduced to be able to add fields to already serializable types and don't loose backcompat. If you add a field without the `OptionalFieldAttribute` the serialization engine will throw if that field is unexpected. I believe VersionAdded was introduced to indicate in which **version of the type** the field was added. I don't believe that we currently use the VersionAdded nu

[2018-07-24 18:59] Thraka commented on #5801
Ahh I think the `!_isSimpleAssembly` check is why I can't get it to throw no matter what I did.

[2018-07-24 19:00] ViktorHofer commented on #5801
Correct! :)

[2018-07-24 19:09] krestenks opened #6643 "Where is the callback definitions?"
How do you set callbacks for mouse clicks on the MenuItems? This is not described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe3d5478-8556-d72d-8ab1-81bfd8139aaf
* Version Independent ID: 7ed38399-5313-776e-9886-475dc5e3e61d
* Content: [ContextMenu Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/co

[2018-07-24 19:29] atiq-cs opened #6644 "async await and TPL"
where is the updated version of this to look at for TPL and async and await?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a04219c-aacc-199c-66b9-d3a394f5fac0
* Version Independent ID: 289ca45c-cdd4-94c6-56ec-922a587108b3
* Content: [The Managed Thread Pool](https://docs.microsoft.com/en-us/dotnet/standard/threading/

[2018-07-24 19:32] JRAlexander commented on #6635
Thanks, @Zruty0! @subash774, I am closing as it appears resolved. If this is not the case, then please reopen. Thanks!

[2018-07-24 19:32] #6635 closed

[2018-07-24 19:32] pkulikov commented on #6644
@atiq-cs
For TPL, please check
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-parallel-library-tpl

For async/await, you can start with (the **See Also** section contains more links):
https://docs.microsoft.com/en-us/dotnet/standard/async-in-depth

[2018-07-24 19:34] ygoe opened #6645 "Difference to CloseAsync?"
How is this method different from CloseAsync? The signature and description is the same, except for the word reflecting the name difference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054226be-3b31-28c7-ae31-d921144d404d
* Version Independent ID: 41d3e4a3-9909-9ca4-0db4-b7420e1e42d3
* Content: [ClientWebSocket.Clos

[2018-07-24 19:38] atiq-cs commented on #6644
Hi, Thank you very much. Where is updated documentation for thread pools such as worker threads and IOCP ?

[2018-07-24 19:45] ChuckDev922 opened #6647 "CS0177 and array"
You might want to mention the case when the parameter is an array:
static void MyMethod(out int[] arr)
{
arr = new int[10];   // definite assignment of arr
...
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3a74f91-8081-cb02-b990-f8809e148415
* Version Independent ID: 2a3e3a63-9d32-3d60-16b4-400557119c77
* Content:

[2018-07-24 19:55] JeffLangballe opened #6648 "Missing method CreateEntryFromFile"
The method CreateEntryFromFile is missing from the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d6ec69-e771-7535-d7b8-cde3e43ae629
* Version Independent ID: 6edb630b-4e65-bdf8-8efd-cb5974682887
* Content: [ZipArchive.CreateEntry Method (System.IO.Compression)](https://docs.microsoft.com/en-us/dotnet/api/syste

[2018-07-24 20:29] AghaKhan opened #6650 "Bugs in XAML"
When you create a DrawingBrush  (any kind, Radical or Linear) and if there is Matrix transform, it gives undesirable look results. Please fix that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16c8cd-c7df-baf4-f649-64250f8e3fc9
* Version Independent ID: 0cead786-5529-c4a0-31cc-047a3affe4b2
* Content: [Windows Prese

[2018-07-24 20:31] axelandrejs commented on #5756
Our doc writer is currently updating the documentation. I don't have an ETA for when it goes live.

Are you still blocked?

[2018-07-24 20:48] mcdon-ron opened #6651 "Setting of ContentLength, and writing to the RequestStream"
Based on "https://msdn.microsoft.com/en-us/library/system.net.ftpwebrequest.contentlength(v=vs.110).aspx" the value of ContentLength is ignored by the FtpWebRequest, so the example code wouldn't need to set it. For large files, would it be better to use Stream.CopyTo to write the sourceStream to the requestStream without loading the whole file into memory?

---
#### Document Details

⚠ *Do not edi

[2018-07-24 23:04] dend commented on #6542
👍 to what @mairaw stated above. The specific issue is caused by [this fragment](https://github.com/dotnet/ml-api-docs/blob/live/dotnet/xml/_filter.xml#L55-L59).

[2018-07-24 23:45] BillWagner commented on #6358
@Igor-Pchelko The analysis provided by @svick is correct. This style of code does invert what is open and what is closed.

I'm closing this as by design.

[2018-07-24 23:45] #6358 closed

[2018-07-25 05:06] selaromdotnet opened #6654 "Replace old frameworks with new?"
Framework updates of the same version are supposed to be backwards compatible, so is it recommended that updates REPLACE previous versions (that is, after installing latest SDK, you can and should safely delete the previous versions), or should they be installed always along side existing frameworks? Point releases come rather frequently, so doing the latter will greatly clutter the list of instal

[2018-07-25 07:40] dvdbot opened #6655 "Next Steps? What are those?"
What are the next steps? It's just empty...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3ebb
* Content: [Microsoft WCF Web Service Reference Provider Tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-

[2018-07-25 13:51] yoshioterada opened #6657 "This is test I'm sorry"
This is an comment for some issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd21cac-a7e8-13ca-d940-3447312871ca
* Version Independent ID: 7f3307e9-5563-e28f-cdad-9b6e33358c6b
* Content: [Names of Type Members](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-type-members)
* Content Sou

[2018-07-25 13:52] #6657 closed

[2018-07-25 14:03] berkarslan-cs opened #6658 "Out of scope and bad conventions"
This article contains lots of examples that are out of the scope of this documentation. The excessive length of the documentation makes the document require too much time.

Another point is that the author's coding style is annoying. Using single lines for if else foreach conditions, not using any code comments, bad naming conventions (appending m_ for variables? really?? not a good practice..) sh

[2018-07-25 14:12] svick commented on #6648
It's not missing, it's just less visible because it's an extension method. See [`ZipFileExtensions.CreateEntryFromFile`](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfileextensions.createentryfromfile?view=netframework-4.7.1).

This means it's listed in [the Extension Methods section of documentation for `ZipArchive`](https://docs.microsoft.com/en-us/dotnet/api/system.io.co

[2018-07-25 14:16] svick commented on #6647
Why do you think this should be mentioned here? What makes arrays different than any other type?

[2018-07-25 15:16] nokura commented on #4801
As feedback from Loc team, this practice is caused a large amount of re-translating. $65K for https://github.com/dotnet/dotnet-api-docs. We are looking for a way to replace the tokens with values without sending to translators, but not find it yet.

[2018-07-25 16:54] CESARDELATORRE commented on #6463
You could start only specific containers when using docker-compose, too.
Like:
$ docker-compose up yourService
to start just yourService and all dependencies required by it.
So if yourService depends on a sql container, the above command would start both the containers.

[2018-07-25 17:26] BenWestbrook opened #6659 "missing content"
"...See Also
IPV6 Socket Sample..."

bad link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd48e88-8264-f6cb-3ac6-bcbe7fbed373
* Version Independent ID: 27c955c6-1790-599d-d604-f87446d3ca3c
* Content: [Internet Protocol Version 6](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/internet-protoco

[2018-07-25 17:34] BenWestbrook opened #6660 "missing content"
"...See Also...
Socket Performance Technology Sample..."

bad link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad68749-e4ae-13aa-29b0-6feaaf213ade
* Version Independent ID: 3619a4e3-ff98-2b94-c54b-7c8ff43c7c51
* Content: [Socket Performance Enhancements in Version 3.5](https://docs.microsoft.com/en-us/dotnet/framew

[2018-07-25 19:42] KathleenDollard commented on #4241
Can someone enter this, or up vote if it exists, this issue in the dotnet/cli repo. This should definitely be on our radar.

[2018-07-25 19:44] BillWagner commented on #4241
@bgever See comment above. Do you want to make that issue on dotnet/cli?

[2018-07-25 20:18] jackbond opened #6664 "Runtime difference between .net and .netcore"
On .netcore after creating a new instance of ECDsaCng from a CngKey, you must manually set the HashAlgorithm property. When running on full framework it is automatically populated. Is this a bug or a feature?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4a500f-7745-5009-c93e-dc873b621b78
* Version Independent ID: b

[2018-07-25 20:20] aggieben opened #6665 "Error handling; no mention of Result<'a,'b>"
The section on exceptions mentioned the idea of using the `Option` type for usecases where errors aren't really exceptional, but I think it's probably better to use `Result` - and really, I'd think that idiomatically functional F# code should prefer using results rather than throwing exception in nearly every case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-07-25 20:58] SidShetye opened #6666 "Doesn't have the same capabilities as msbuild"
This is wrong. If you try invoking msbuild on a SSDT `.sqlproj` project `msbuild.exe` actually works while `dotnet msbuild` fails with error shown below.

[code]

The desired behavior is that if dotnet cannot support a specific project type it should defer to msbuild instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-25 21:07] AppFzx opened #6668 "Description for resourceExtension is missing content."
The definition for "XAML Values &gt; resourceExtension" is "One of the following: or . This usage is used..." but it appears there's an air gap on both sides of the "or" where two possible values for resourceExtension should go.  e.g. it should read "One of the following: _______possibility_1________ or _________possibility_2_________. This usage is used"

---
#### Document Details

⚠ *Do not edit

[2018-07-25 21:57] rpetrusha commented on #6668
Thanks for pointing out that text had dropped out of the documentation, @AppFzx. The lost text is [StaticResource](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/staticresource-markup-extension) or [`DynamicResource`](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/dynamicresource-markup-extension). I'll open a PR to restore the lost text shortly.

[2018-07-25 22:21] rpetrusha commented on #6664
@bartonjs, can you answer the question from @jackbond?

[2018-07-25 23:14] bartonjs commented on #6664
Looks like a bug. opened https://github.com/dotnet/corefx/issues/31376 for it.

@jackbond The best workaround is to not depend on the property.  That is, switch to using `ECDsa.SignData` or `ECDsa.VerifyData` overloads which take a `HashAlgorithmName` parameter.  The property (and the method overloads which rely on it) is not available on ECDsa implementations for Linux or macOS.

[2018-07-25 23:26] amp64 opened #6669 "Using a what?"
"Setting a visual property will only have an effect if that property is both present in MenuItem control's default template and is set by using a . You can find" - set by using a WHAT exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1bd77fb-e845-d8f2-cce7-eab07f0ebe91
* Version Independent ID: 14d31d7d-f925-bbc

[2018-07-25 23:34] amp64 opened #6670 "Example incomplete"
The example shows how to define a style, but doesn't show how to use it, and that isn't obvious to me anyway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f92fcdc-57c9-a8ce-4e4b-cf7fd96cf1f4
* Version Independent ID: ae7c367e-8a3c-81a4-7dcb-5652d72a7dc7
* Content: [MenuItem.SeparatorStyleKey Property (System.Windows

[2018-07-25 23:50] rpetrusha commented on #6660
Thanks for submitting this feedback, @BenWestbrook. We've opened PR #6671 to replace the broken link with a different set of samples.

[2018-07-26 00:00] amp64 commented on #6670
User error, never mind.

[2018-07-26 00:00] #6670 closed

[2018-07-26 00:21] rpetrusha commented on #6669
Thanks for noticing the missing text, @amp64. It should be "set by using a [TemplateBinding](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/templatebinding-markup-extension). I'll open a PR to restore the text shortly.

[2018-07-26 00:48] rpetrusha commented on #6659
Thank you for reporting another broken link, @BenWestbrook. The intended URL is https://msdn.microsoft.com/en-us/library/ms180981(v=vs.85).aspx. We'll open a PR to correct the broken link shortly.

[2018-07-26 00:59] rpetrusha commented on #6647
Thanks for your feedback, @ChuckDev922, although I agree with @svick.  An array type is not a special case, nor does it require any special handling in a method with the `out` keyword. I'm going to close this issue. If you disagree, however, feel free to respond.

[2018-07-26 00:59] #6647 closed

[2018-07-26 01:13] rpetrusha commented on #6627
It depends on the context of the read-only keyword, @eschneider999. For fields, the benefit is not performance but program design; it prevents what should be a write-once field having its value change, which can have disastrous consequences. For the remaining two uses, the benefit is performance.  See ["Reference semantics with value types"](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new

[2018-07-26 01:13] #6627 closed

[2018-07-26 01:33] rpetrusha commented on #6608
Thanks for pointing this out, @johnnyagerard. The Today property returns the date with no time component (or a time component equal to midnight). I suspect the Now property was originally used, the example changed, and the output not updated. We've opened a PR so that the output corresponds to the actual output produced by the example, at least for a computer whose culture is en-US.

[2018-07-26 02:12] taspeotis commented on #6637
When will the information be outdated for the full framework? The attributes [are present](https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/rsa.cs,dfd6cfff509b13df) for .NET Framework 4.7.2.

[2018-07-26 04:51] IsharaPannila opened #6674 "Value object ef core migrations"
Properties of Value object needs to have setters to add them with ef core migrations.

public class Address : ValueObject
{
    public String Street { get; set; } // without this "set;" this will not work

orderConfiguration.OwnsOne(p => p.Address)
                            .Property(p=>p.Street).HasColumnName("ShippingStreet");
and this will also fails with "Field '&lt;XXXX&gt;k__BackingField'

[2018-07-26 05:13] eschneider999 commented on #6627
there is a benefit for static fields, but i think the main benefit is securing the initial value.
My point is that nothing in the explains the reason to use the readonly statement.

If noone understands the benefits, they will not use it...

[2018-07-26 05:33] rpetrusha opened #6675 "AppContext switches and web config files"
# AppContext switches and web config files

We've documented the available AppContext switches and their use in [configuration files](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element), as well as how to use the switches [programmatically](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext). We haven't documented their

[2018-07-26 07:32] kappa7194 commented on #6637
Right, I forgot to specify that the change applies only to .NET Core ≥ 2.1.0.

[2018-07-26 09:48] DominicCronin opened #6677 "XPath and XLinq queries appear not to be equivalent"
Is it correct that the following are equivalent?
customers.XPathSelectElements("./Customer/CompanyName");
customers.Element("Customer").Elements("CompanyName");
The text explains correctly that the XPath query looks under all child elements called Customer. The XLinq query Element("Customer") will return the first matching element, and therefore presumably any other Customer nodes will be ignored.

[2018-07-26 11:58] bgever commented on #4241
@BillWagner @KathleenDollard  See https://github.com/dotnet/cli/issues/9736

[2018-07-26 15:23] #6471 closed

[2018-07-26 15:30] #6642 closed

[2018-07-26 15:54] #6659 closed

[2018-07-26 16:32] MirzaAli-Baig opened #6683 "Can WebServicehost be use with Windows Service?"
Can WebServicehost  be use with Windows Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f214c7e4-84e7-929e-c7a5-6f05b097c200
* Version Independent ID: 469e476f-4941-dfca-c8ca-3bbf5460e680
* Content: [How to: Create a Basic WCF Web HTTP Service](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-detai

[2018-07-26 16:44] #6608 closed

[2018-07-26 16:47] #6669 closed

[2018-07-26 16:48] #6668 closed

[2018-07-26 17:00] rpetrusha commented on #6655
Thanks for your feedback, @dvdbot. The **Next Steps** section isn't empty; it has two subheads, **Feedbaxk & questions** and **Release notes**.
Since the section is not empty, I'll close this issue.

[2018-07-26 19:20] jackbond commented on #6664
Just to clarify, we're using the System.Security.Cryptography.Cng Nuget library, which I thought was Windows only (unfortunately) We're using version 4.5.0 (currently the latest) and it does not include the overloads you mentioned.

[2018-07-26 19:55] rcsteiner opened #6686 "Missing documentation on DefaultExpression."
No example, when used with default value on parameter, it comes back null, so it doesn't appear to useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 556b4527-96e6-e733-9a12-58af0eca6ac4
* Version Independent ID: 95c64b5f-2e19-16b5-1cf3-2f1f04f076b0
* Content: [VCCodeParameter.DefaultExpression Property (Microsoft.

[2018-07-26 20:02] #4946 closed

[2018-07-26 20:12] mindems opened #6687 "More on Docker and .NET Core"
For those of you who want to explore further, feel free to check out my tutorials at https://github.com/mindems/Docker.NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849478c4-6c54-f01e-aa8e-f3a5baea1cb1
* Version Independent ID: e11a4a6b-ecaa-8a6a-75e6-543e40716b19
* Content: [Docker and .NET Core](https://docs.mi

[2018-07-26 20:56] rpetrusha commented on #6687
Thanks for the comment, @mindems. This issue isn't actionable, so I'm going to close it. However, feel free to add a link to your tutorials in  [.NET Open Source Developer Projects](https://github.com/Microsoft/dotnet/blob/master/dotnet-developer-projects.md). In your PR, you can add a new section, **Tutorials**, and provide the link, link text, and description.

[2018-07-26 20:56] #6687 closed

[2018-07-26 21:04] JamesMBristow2 opened #6688 "Persistence Location of key container"
The storage location behavior is opposite of the ASP.NET tool aspnet_regiis.exe; the key container is saved in the user's profile by default. Set the CspParameters.Flags to specify the machine container.
Example:
csp.Flags = CspProviderFlags.UseMachineKeyStore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf319632-80

[2018-07-26 22:08] sayurin opened #6690 "All of documentation for WPF attached events has disappeared"
[DragDrop.DragOver Attachedevent (System.Windows)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.dragdrop.dragover?view=netframework-4.7.1) has no document. But [previus verion](https://msdn.microsoft.com/en-us/library/system.windows.dragdrop.dragover(v=vs.110).aspx) are well documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-07-26 22:55] #5770 closed

[2018-07-27 03:09] minuz opened #6692 "Missing examples"
It would be great to have some usage examples with common use cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b0f6e61-6648-93d1-c211-4b35ea6e4763
* Version Independent ID: 509f1bb3-caea-6c2f-cede-45e47905535c
* Content: [CatchBlock Class (System.Linq.Expressions)](https://docs.microsoft.com/en-us/dotnet/api/syst

[2018-07-27 07:09] jackbond commented on #6664
It's in core, but I'm referencing the Nuget package in a .netstandard library, so that overload is not available.

[2018-07-27 08:32] BillHally opened #6695 "The "XML Markup Compatibility Specification" link is dead"
The "XML Markup Compatibility Specification" link is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535bc2da-9b3d-8aac-04ba-2c998820c706
* Version Independent ID: b06edade-3a83-5d42-d0c7-846c9e784ebd
* Content: [mc:Ignorable Attribute](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/mc-ignorable-att

[2018-07-27 08:36] BillHally opened #6696 "The "XML Markup Compatibility Specification" link is dead"
The "XML Markup Compatibility Specification" link is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24bd8086-9dca-a3a9-9407-efb73bf12cc9
* Version Independent ID: c54654c5-f11c-a654-62f6-84afcae9aa5a
* Content: [mc:ProcessContent Attribute](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/mc-processc

[2018-07-27 08:40] lutayashafiq opened #6697 "Thank you very much for sharing"
Thank you very much for sharing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff2f7d2-0adc-6471-f126-47bd6760d61c
* Version Independent ID: 396c0154-32c1-3d9c-5fc8-885604c22f71
* Content: [How to: Use the Try-Catch Block to Catch Exceptions](https://docs.microsoft.com/en-us/dotnet/standard/exceptions/how-to-use-the-t

[2018-07-27 08:46] BillHally opened #6699 "The sentence "XAML2009 includes language features such as and " is missing 2 things"
The sentence "XAML2009 includes language features such as and " is presumably meant to end with "such as A and B" where A and B are the missing things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5046a5ff-bfff-31be-7209-926892268504
* Version Independent ID: 30a6bf29-d974-d82d-18fb-0426d832ddd9
* Content: [XamlReade

[2018-07-27 10:25] tomoshi-public opened #6700 "Request to add the description about the risk of calling Thread.Abort"
I'd like to add the following description in order to prevent the developers from the risk of calling Thread.Abort. I'd appreciate if you consider my proposal text for Remarks section.

"When Abort is called, the thread on which it is invoked may be terminated before executing the code you expected. It will be a cause of an unexpected problem like a resouce leak that was used in unmanaged code."

[2018-07-27 13:08] sebagomez opened #6701 "Wrong formatting on UriFormatException section"
There are visible tags and markup characters

`In the [.NET for Windows Store apps](http://go.microsoft.com/fwlink/?LinkID=247912) or the [Portable Class Library](~/docs/standard/cross-platform/cross-platform-development-with-the-portable-class-library.md), `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d08cbf0-f124

[2018-07-27 14:54] bartonjs commented on #6664
There must be something wrong with tooling, because those methods on ECDsa were added in .NET Standard 1.4, the same version that the ECDsa type was added to .NET Standard.  You shouldn't be able to talk about ECDsa without seeing them, except for targeting .NET Framework directly (in which case the type came in 3.5 and I fixed the base class for 4.6.1).

[2018-07-27 14:59] #5801 closed

[2018-07-27 15:38] sfilipi opened #6702 "The list on the TreeLeafFeaturizer page is inline"
The items of the list in the summary of this page are not displaying in a new line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ca7feb-c74d-9377-fc20-f75c58ff00a4
* Version Independent ID: e9110a2f-8064-4e2c-c68d-289f335cc1b1
* Content: [TreeLeafFeaturizer Class (Microsoft.ML.Transforms)](https://review.docs.micro

[2018-07-27 15:53] JRAlexander commented on #6670
No worries, @amp64! Thanks for closing. Keep at it and have a great day!

[2018-07-27 16:06] sfilipi opened #6705 "Duplicate examples"
There are two examples displaying in this page, and in the source xml:
https://github.com/dotnet/ml-api-docs/blob/smoke-test-preview/dotnet/xml/Microsoft.ML.Trainers/LightGbmBinaryClassifier.xml

The xml on the dll, contains only one example section:
      &lt;seealso cref="T:Microsoft.ML.Trainers.NaiveBayesClassifier" /&gt;
      &lt;example&gt;
        &lt;code language="csharp"&gt;
          pi

[2018-07-27 16:43] JRAlexander commented on #6697
You are welcome!

[2018-07-27 16:43] #6697 closed

[2018-07-27 18:04] ucavalcante opened #6706 "Any way to install one tool located in my machine ?"
im develop one console app and want know if i can install without publish with nuget for testing purpuse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c5b03c-2854-8462-57dc-b0239388096e
* Version Independent ID: 13b38200-ed54-7bfe-f7cf-099cf1b010f4
* Content: [.NET Core Global Tools](https://docs.microsoft.com/en-u

[2018-07-27 18:46] cartermp commented on #6665
Guidance for error management is, I think, better described in the Coding Conventions article: https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/conventions#error-management

Where various concerns for DDD, exceptions, and results are addressed. But a bit of information is in both places - here and in the coding conventions article - that really complete the picture. No approach is univer

[2018-07-27 18:56] jbstcyr opened #6707 "What are the advantages of auto implemented properties?"
What are the advantages of auto implemented properties and why does the VS2017 ide suggest using them in Visual Basic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eef8ea6-7067-a274-6b6c-84ea894941ad
* Version Independent ID: f6820eb1-15a6-2988-bf98-82355c68d81a
* Content: [Auto-Implemented Properties (Visual Basic)

[2018-07-27 19:24] schmidhorst opened #6708 "ShowDialog may crash"
My VB.net application was during debugging with VS2015 terminating at ShowDialog() (Exit code 0x4000001f). Not possible to catch it with try catch. [See also](https://social.msdn.microsoft.com/Forums/de-DE/694862ac-b0c2-4a92-8980-deaf94c42ef5/vs2015-openfiledialog-erzeugt-vshostexe-wurde-mit-code-1073741855-0x4000001f?forum=visual_studiode) and [here](https://stackoverflow.com/questions/4532457/pr

[2018-07-27 22:48] JRAlexander commented on #6705
@sfilipi - I'm going to close this as I think it's been resolved. Please reopen if that's not the case.

[2018-07-27 22:48] #6705 closed

[2018-07-27 23:17] KathleenDollard commented on #6706
@ucavalcante

I assume you are creating a global tool with dotnet pack with PackAsTool == true in the project.

1) You tool is a normal console application. You can test it's functionality by calling it directly or by using unit tests. When that is done...

2) `dotnet pack` and use the `--output` switch to put your package on your local drive
This creates a local NuGet package in the location you

[2018-07-28 00:46] Blackglade opened #6715 "Default Values"
Could you please include an area indicating the default value of the property/field/variable/etc... when it isn't specifically set or altered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a5a6157-0af8-5b76-5c0e-ae08d9dc0edf
* Version Independent ID: fa64606c-d998-92c4-ca7f-c861aa90c2ab
* Content: [ScrollViewer.Verti

[2018-07-28 05:13] kiranpradeep opened #6717 "Section Architecture ->Environment is out of date."
It still mentions ARM32 in progress.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49bc05d-7c8e-5f89-aac5-d133225da4d5
* Version Independent ID: 2f831fc9-dfe6-15db-4ec6-00f59c2dacc2
* Content: [.NET Core Guide](https://docs.microsoft.com/en-us/dotnet/core/#environments)
* Content Source: [docs/core/index.md](https://

[2018-07-28 15:54] vrapp opened #6719 "Syntax of the filter expression"
It would right step to mention that the syntax of the filter is described in the article "DataColumn.Expression Property".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 364b6a9b-8cd5-b8aa-d59c-350575e9c42b
* Version Independent ID: b70fee57-6424-5bbf-9e12-d851b4c7e1ab
* Content: [BindingSource.Filter Property (System.

[2018-07-29 02:27] verynewuser opened #6720 "Does it mean that C# compiler does not compile statements line by line due to its optimization AI?"
If we try to initialize a class field with another class field at the time of declaration, C# compiler gives us this error. Does it mean that the C# compiler can compile any of those two statements one before the other and the path is NOT fixed?

[code]

The workaround for this situation is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-07-29 09:27] BelarminoVicenzo opened #6721 "Download PDF"
You should do something with the formatting when downloaded to PDF.
When I download, all text comes normal, without the colors. Something that is very important.
It makes more difficult to read the code.
See for yourselves https://prnt.sc/kccpgm

So I had to manually copy-paste all docs, literally all them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-29 11:10] pkulikov opened #6722 "ManualResetEvent API: no Set/Reset methods"
The [ManualResetEvent](https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualresetevent?view=netframework-4.7.2) inherits [EventWaitHandle](https://docs.microsoft.com/en-us/dotnet/api/system.threading.eventwaithandle?view=netframework-4.7.2). Thus, it's expected to have [Set](https://docs.microsoft.com/en-us/dotnet/api/system.threading.eventwaithandle.set?view=netframework-4.7.2) and

[2018-07-29 13:21] abhiongithub opened #6723 "Wrote 5 Blog Posts for ML.net inspired from theses documentation."
*********This is not a Issue ********
This is a comment on ML Documentation Page, somehow it is registered as Issue , Someone please close it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d2565e22b237
* Content: [ML.NET tutorials](h

[2018-07-29 22:16] natejgardner opened #6725 "Threads?"
The services walkthrough (https://docs.microsoft.com/en-us/dotnet/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer#adding-features-to-the-service) refers to this page for setting up threads within a service. However, it's not immediately obvious what the walkthrough was referring to on this page. Possibly due to an update in the documentation?

[2018-07-30 02:56] ThangHuuVu opened #6726 "cacls.exe has been deprecated."
cacls.exe has been deprecated. Please update this documentation to use Icacls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2a606f8-ae10-01d3-14a7-dc9488a29797
* Version Independent ID: d58302b4-aad7-15ed-1b72-f01742aa8257
* Content: [How to: Make X.509 Certificates Accessible to WCF](https://docs.microsoft.com/en-us

[2018-07-30 06:07] pkulikov commented on #6725
The paragraph that references the API page is

However, the walkthrough uses `System.Timers.Timer` that already fires events on  the thread pool threads.

Moreover, the referenced API page doesn't seem to contain any relevant examples. @natejgardner it's a good catch.

I suggest to remove this paragraph at all.

By the way, this issue is related (even duplicate) of #6375

[2018-07-30 06:35] smoeller-liveid opened #6727 "Is this working for someone?"
Other than described here, it doesn't work on .Net Standard 2.0 (at least for me), because cannot find "ILease" anywhere.
Is there anyone out there who got it to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f3f717-4b53-b85a-dc81-d3b631fe01da
* Version Independent ID: 690766be-b27f-9f1c-581e-432c7f1f9483
* Con

[2018-07-30 10:54] Ashutosh-K-Singh opened #6728 "How to extract function argument and return value??"
It is a very helpful article for understanding. I would like to know, how we can extract function parameter name, value and also function return value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb4f9b7-d848-6548-76a1-3a2da84380e6
* Version Independent ID: 59c8856d-a5ad-a91a-bdea-76eed7dffc00
* Content: [FunctionL

[2018-07-30 11:02] ianwalkeruk opened #6729 "config-file option"
In documented examples, --config-file is provided as a way to specify a custom config file. However, this switch is not part of the synopsis, and gives an error if used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b363ab07-ea19-574f-e0db-25fd5702255d
* Version Independent ID: 6fa9479a-85db-5498-6b7e-2418fc7bac32
* Co

[2018-07-30 13:16] david-haemmerle opened #6731 "Valid source for culture-specific and case-sensitive sorting available?"
Hi team!

Within the Microsoft Docs there are several locations mentioning case-sensitive and culture-sensitive string comparison. However, I could not find a valid source (within Microsoft Docs or externally) explaining the culture-specific sorting rules. In this page, there is the example of "goodbye" versus "Goodbye" with the result that "goodbye" precedes "Goodbye". This seems to imply that "g

[2018-07-30 13:47] spacecat opened #6732 "Inner-loop development workflow for Kubernetes-based applications"
Hi,

Could you post an exact same (in-detail) article on INNER-loop development workflow for Kubernetes-based (AKS) applications (how to setup Visual Studio, what extensions/tools to install, inner-loop development workflows, build and run, debug and testing etc - basically the same type of content in this article but for Kubernetes)?

Also, it would be good to put a note at the top to let people

[2018-07-30 14:02] spacecat commented on #6732
Maybe this is the resource I was looking for?

https://docs.microsoft.com/en-us/visualstudio/deployment/tutorial-kubernetes-tools

[2018-07-30 15:10] ofer987 opened #6733 "Dispose"
Hi,

I believe that you meant to write `try/finally` instead of `try/catch` in the Remarks section (https://docs.microsoft.com/en-ca/dotnet/api/system.diagnostics.process?view=netcore-2.1#remarks).

This text:

This type implements the IDisposable interface. When you have finished using the type, you should dispose of it either directly or indirectly. To dispose of the type directly, call its Disp

[2018-07-30 16:50] BillWagner opened #6734 "Async: explain the pattern of Task-returning synchronous methods"
It's common that a method may perform all its work synchronously, and the last action is to call a (possibly asynchronous) method that returns a `Task` or `Task<T>`:

[code]

In these cases, the code can be simplified (including the generated code) by removing the `async` modifier, and the `await` statement:

[code]

However, when we explain this optimization, we must be careful to explain when it

[2018-07-30 16:56] BrennanConroy commented on #6734
Same thing with try catch
[code]

[2018-07-30 17:04] BillWagner commented on #6734
Adding a note on the comment above.  This pattern with try / catch also requires the state machine, as @BrennanConroy notes. However, this phrase in the comment "(unless they are thrown before the function goes async)" is incorrect.  The `catch` will never catch exceptions.  See [the discussion of local functions for async methods](https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-7#local-

[2018-07-30 17:08] aijunbai opened #6735 "Install script version mismatch"
A version 1.0 install script link is given for 2.0 installation: """
Scripting Installs with the .NET Core installer script
The dotnet-install scripts are used to perform a non-admin install of the CLI toolchain and the shared runtime. You can download the script from https://dot.net/v1/dotnet-install.sh.
""", which won't work apparently.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-07-30 17:19] #6699 closed

[2018-07-30 17:37] JRAlexander commented on #6723
Great to hear! Closing per your request.

[2018-07-30 17:37] #6723 closed

[2018-07-30 18:34] mairaw commented on #6625
I'm closing this one by design. The topic already covers that by saying: ".NET Core SDK looks for a global.json file in the current working directory (which isn't necessarily the same as the project directory) or one of its parent directories."

Basically, the global.json file can be anywhere on the machine. The SDK will search for a file in the current directory and if it doesn't find one, it wil

[2018-07-30 18:34] #6625 closed

[2018-07-30 18:58] AineEithne opened #6738 "Protocol Mapping"
Do we need to change the protocol mapping?  Can you add this to the doc too please?
&lt;protocolMapping&gt;
      &lt;add binding="wsHttpBinding" scheme="http" /&gt;
&lt;/protocolMapping&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f72fd38e-b65d-d059-1ce1-2e4e917b982f
* Version Independent ID: cd00b225-8f05-9146-

[2018-07-30 20:03] mairaw commented on #6729
Thanks for reporting this @ianwalkeruk. I'll investigate this.

[2018-07-30 20:04] mairaw commented on #6700
Thanks for the feedback @tomoshi-public. We'll look into your suggestion.

[2018-07-30 20:10] mairaw commented on #6615
Thanks for your feedback @jmlarch. We'll change this on a future revision of our docs.

[2018-07-30 20:11] mairaw commented on #6574
Thanks for your suggestion @bartlannoeye. @CESARDELATORRE can you take a look at this request?

[2018-07-30 20:15] mairaw commented on #6686
Thanks @rcsteiner for your feedback. I need to investigate some issues related to API docs that might be causing this.

[2018-07-30 20:16] mairaw commented on #6590
Thanks for your suggestion @hadjipantelis. We'll take a look.

[2018-07-30 20:17] #6408 closed

[2018-07-30 20:17] JRAlexander commented on #6735
Thanks for your feedback, @aijunbai. We've added this to the backlog.

[2018-07-30 20:26] smoeller-liveid commented on #6727
Hello,
My current workaround is to take the object and set properties with reflection (as I know how ILease should look like). Seems to do the job, but of course is not my preferred way.
So any other solution highly appreciated.
Thanks, Sebastian

Outlook für iOS<https://aka.ms/o0ukef> beziehen
________________________________
Von: Maira Wenzel <notifications@github.com>
Gesendet: Montag, Juli 30,

[2018-07-30 20:27] mairaw commented on #6575
Thanks for your feedback @paulomorgado. We'll look into this.

[2018-07-30 20:30] mairaw commented on #6719
Thanks for your feedback @vrapp. The remarks say "If the underlying data source is a DataSet, DataTable, or DataView, you can specify Boolean expressions using the syntax documented for the DataColumn.Expression property."

We believe this is already documented then, so we'll be closing this issue. Let us know if we missed anything.

[2018-07-30 20:30] #6719 closed

[2018-07-30 20:33] mairaw commented on #6533
Thanks for your feedback @sayhurtz33. Can you tell us what are you trying to accomplish with this API? We believe the docs have enough information for the use cases, but maybe we're missing something.

The following topic should give you more information about MSBuild: https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild

[2018-07-30 20:36] mairaw commented on #6599
Thanks @user135711. Do you want to open a PR for this?

[2018-07-30 20:39] tstedel opened #6740 "Broken links"
All instances of "Run This Sample" are broken links

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6638825c-e251-07c2-db62-711e677b8ed2
* Version Independent ID: 68488b20-6c17-1a8d-1618-b87aeaac78fe
* Content: [Easing Functions](https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/easing-functions#

[2018-07-30 20:40] mairaw commented on #6638
Thanks @breyed for your feedback.

@stephentoub @davidsh can you confirm that we should change the docs for issue 1?

For issue 2, we could change the link to display the more specific type. By default, our API links will use the generic signature.

[2018-07-30 20:43] mairaw commented on #6469
Thanks for your feedback @DylanFPS, you're correct. @Priya91 it seems you were the one working on this feature. Can you help us getting some basic descriptions for these APIs? Thanks.

[2018-07-30 20:47] mairaw commented on #6524
Thanks for your feedback @altimmons. This is the constructor page. If you navigate back to the class, you'll see the list of properties, methods, etc.

![image](https://user-images.githubusercontent.com/12971179/43422577-f6072646-93fe-11e8-9fcf-e2eea43779f2.png)

https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.devices.mouse

So I'm closing this as by design. Please let us know if

[2018-07-30 20:47] #6524 closed

[2018-07-30 20:52] mairaw commented on #6708
Thanks for your feedback @schmidhorst. Given that this issue might happen in other circumstances as well,  we don't think this should be documented on this API page.
But please let us know if you disagree.

[2018-07-30 20:52] #6708 closed

[2018-07-30 20:56] mairaw commented on #6612
Thanks @user135711. The docs on MSDN are from a previous version and topics that aren't here were retired/removed at some point. We'd have to look to see if it makes sense to bring those back.

[2018-07-30 20:58] davidsh commented on #6638
This sentence is wrong:

*"This operation will not block. The returned Task<TResult> object will complete after the whole response body is read. This method does not buffer the stream."*

HttpClient.GetStreamAsync() does not read the response body.  So, it should say something like this:

*"This operation will not block. The returned Task<TResult> object will complete after the response headers ar

[2018-07-30 20:58] mairaw commented on #6728
Thanks @Ashutosh-K-Singh. @noahfalk do you own profiling or knows who own that could help with this question?

[2018-07-30 21:04] BillWagner commented on #6170
@john02813 If your main goal is to use DirectX with VB, you may find the [SharpDX](https://www.nuget.org/packages/SharpDX/4.1.0) NuGet package is a better path to choose. Can you try that and comment on your thoughts?

If that's not the end goal, can you add more details regarding what you are trying to accomplish?

[2018-07-30 21:55] john02813 commented on #6170
I fixed it awhile ago.  I just had to run it in Version 2 of the .net  Also I removed the check mark when the error message pops up.  I am back using VB 6 now.  Thank you for the reply

[2018-07-30 21:55] #6170 closed

[2018-07-30 22:03] davidsh commented on #6620
We've gotten a lot of questions on this topic over the years.  The short answer is that the MailAddress constructor is never going to be up-to-date with manually using a regex.  Changing the parser inside the constructor to fix bugs will break some applications.  So, we have refrained from changing the behavior this class.

Yes, I would remove that language. Using a regex using the most recent RFC

[2018-07-30 22:08] JRAlexander commented on #6721
Thanks for your feedback, @BelarminoVicenzo. @dend - Can you comment on this?

[2018-07-30 22:41] shehackspurple commented on #6582
Hello all, it’s the “[“ character.  When someone is new, *everything* is new.  My friend was totally lost and thought he had missed something earlier in the tutorial.  Perhaps we should cut that part out until it’s explained what that character does?  Honestly, I’m a VB.net person and I am also just learning C# and I didn’t know what [ was for either.  :-D

Thank you for improving this so that all

[2018-07-30 22:42] mairaw commented on #6721
Given this is a general issue with docs.microsoft.com, I've moved it to https://github.com/MicrosoftDocs/feedback/issues/565, so it can get properly routed.

@dastaffo FYI

[2018-07-30 22:42] #6721 closed

[2018-07-30 22:45] mairaw commented on #6740
Thanks for reporting this issue @tstedel. We no longer have that functionality working so we should remove this link from the topics that are using it.

[2018-07-30 22:50] rpetrusha commented on #6690
Thanks for your feedback, @sayurin. The documentation for attached properties and attached events was lost when we migrated from our previous authoring system to GitHub. We are aware of the issue and expect that the documentation will be available on docs.microsoft.com in the near future.

[2018-07-30 23:04] #6542 closed

[2018-07-30 23:45] wjk opened #6743 "Update for Windows 10 look-and-feel?"
The documentation for this class includes specific instructions for how to work with the now outdated and obsolete Aero Glass UI in Windows Vista and Windows 7. The look-and-feel has changed significantly in Windows 8, and again in Windows 10. This API is still supported as far as I can tell, but I do not know how to make it work, and make it look good, under the Windows 10 theme with the existing

[2018-07-31 00:26] jpreese opened #6744 "Selective tests for NUnit"
Going through the unit test sections some more, I just noticed there isn't a section for running selective tests for NUnit. I would be willing to write this section up if you feel it is indeed lacking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb70526f-d02c-2b6c-3d34-0f4cac5809f0
* Version Independent ID: e4443d71

[2018-07-31 00:36] Lxiamail commented on #5619
@bartonjs you are expert of certificate, can you advice the replacement of makecert.exe?

[2018-07-31 00:55] bartonjs commented on #5619
`New-SelfSignedCertificateEx` for PowerShell, or the CertificateRequest class in net472 / netcoreapp2.0.  Just depends on what you want to do.

[2018-07-31 01:04] #6630 closed

[2018-07-31 01:15] BenWestbrook opened #6746 "Clarification needed"
If during the callback of an AsyncReceive you want to issue subsequent asynchronous receive, your are UNABLE to reuse the SocketAsyncEventArgs just passed to your callback routine because it is not marked free (resetting of 'operation already in progress') until the return from the callback. The trivial samples provided do not run into this because they are a half duplex model. Is there some sort

[2018-07-31 01:53] user135711 commented on #6599
Sure, let me test it in an app first just to be sure.

On Mon, Jul 30, 2018, 1:36 PM Maira Wenzel <notifications@github.com> wrote:

[2018-07-31 01:57] user135711 commented on #6612
Yes, but they have interdependent links/concepts so I suspect some left
behind are still relevant even if not updated. I'll update this after
reading through them though.

On Mon, Jul 30, 2018, 1:56 PM Maira Wenzel <notifications@github.com> wrote:

[2018-07-31 02:07] kevo970 opened #6747 "Offline Installation"
I need to update as computer that is not permitted to have an internet connection by my company's IT department.  Is there an option for offline installation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-99c3-8870b895030c
* Version Independent ID: 9c054590-c5e3-199c-b852-e1a856b4aae7
* Content: [In

[2018-07-31 05:01] TobiasSekan commented on #6625
Hello,
yes i understand

(The main task behind the question was, if there a central location for the global.json like %APPDATA%, %LOCALAPPDATA%, %USERPROFILE% etc.)

[2018-07-31 05:40] Shah-Nisarg commented on #6360
@rpetrusha I am a bit puzzled. The [documentation](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions#capitalizing-compound-words-and-common-terms) seems a bit vague when it says,

So I suppose it doesn't clarify the rule for protected members, but the table beneath shows that Identifiers of type Property follow Pascal case.

I am not sure I am reading th

[2018-07-31 06:12] smadala commented on #6744
@jpreese `dotnet test` can run tests from many test frameworks if the framework author writes adapter extension by following https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibility.md . When we were preparing testcase filter doc, NUnit just into .NET Core world that is the reason we didn't document for NUnit.

There are [bunch of test adapters](https://marketplace.visu

[2018-07-31 06:45] gmatv opened #6749 "Business logic inside queries"
One question bothers me when I see such code inside queries

    SUM(oi.units*oi.unitprice) as total

Isn't it a part of business logic and we have duplication here? Yes, in this case it looks simple but imagine if it will invovle, for example, discount system.

To compare, the same in domain model: [Order.cs](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Ordering/

[2018-07-31 06:52] mairaw commented on #6747
You need to use the DISM command-line tool for that @kevo970. You can check the instructions for no Internet connectivity at https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/deploy-net-framework-35-by-using-deployment-image-servicing-and-management--dism connectivity.

I hope this helps.

[2018-07-31 06:55] #6747 closed

[2018-07-31 09:05] mairaw commented on #6696
Duplicate of #6695

[2018-07-31 09:06] mairaw commented on #6696
Given that this is about the same FwLink, I'll be closing this as a duplicate.

[2018-07-31 09:06] #6696 closed

[2018-07-31 09:08] mairaw commented on #6695
This issue should look for the same link throughout our repos. A quick workaround is to fix the Fwlink internally.

[2018-07-31 09:08] mairaw commented on #6695
And thanks for reporting this @BillHally!

[2018-07-31 09:30] mairaw commented on #6625
No, there isn't @TobiasSekan.

[2018-07-31 11:05] akemimadoka opened #6750 "A small typo"
In C, function parameter list should be (void) to declare a function which does not receive any argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678eaef3-eec4-dc52-1234-37e220f84682
* Version Independent ID: 38b09163-65d8-4d6c-1394-401e080ed6f0
* Content: [Marshaling Data with Platform Invoke](https://docs.micr

[2018-07-31 11:30] alirizvi2008 opened #6751 "Typo in the description of this page"
Occurs when s static resource reference is resolved.

should be
Occurs when a static resource reference is resolved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6adc8ee-0e84-16ec-4946-8968eb886a48
* Version Independent ID: 4bf284ab-a5df-f0f1-8a2b-45b487102b1e
* Content: [ResourceDictionaryDiagnostics.StaticResource

[2018-07-31 12:24] BillWagner commented on #6744
I'll echo @smadala 's comments. We'd welcome an article that covers this.

@jpreese Should I assign this issue to you?

[2018-07-31 12:30] jpreese commented on #6744
Awesome, that was my thought as well. I wanted to keep the consistency of providing documentation for MSTest/xUnit/NUnit. I would agree that you wouldn't want to document *every* adapter out there.

I will gladly take this one.

[2018-07-31 12:38] smadala commented on #6744
@jpreese Thanks!

[2018-07-31 15:51] JRAlexander commented on #6751
Thanks for reporting this, @alirizvi2008! I'll make the change now and you should see it live in a few days.

[2018-07-31 15:51] aditimantri2196 commented on #6507
@johnnyagerard You are right, this will work without explicit casting, but it seems to had been added for more readability to readers of microsoft docs. Adding an explicit casting won't harm.

[2018-07-31 16:02] JRAlexander commented on #6743
Thanks for your feedback, @wjk! It's been added to the backlog.

[2018-07-31 16:05] rpetrusha commented on #6360
As the topic points out, @Shah-Nisarg. pascal casing is used for public elements; public elements are exposed to callers. (And properties almost always have a public getter and/or setter.) Camel casing is used for parameter names; parameter names (at least for public members) can be exposed through IntelliSense. The topic implies a strong preference for applying those conventions to all program el

[2018-07-31 16:05] JRAlexander commented on #6733
Thanks for your feedback, @ofer987! It's been added to the backlog.

[2018-07-31 16:15] JRAlexander commented on #6706
Going to go ahead and close this as it appears resolved. @ucavalcante, if that isn't the case, please reopen. Thanks!

[2018-07-31 16:15] #6706 closed

[2018-07-31 16:17] sunilmhta opened #6753 "Hierarchy of topics in the documentations."
I think the documentation is good in itself but I find hard to find my topics in the documentation without googling it.  So  the documentation should be arranged in a hierarchical way so that we can find it easily and it will help us to understand the hierarchy of the classes and other objects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-31 16:54] rpetrusha commented on #6750
Thanks for pointing out the absence of the `void` type, @akemimadoka. I've opened PR #6754 to address the issue, as well as to correct the formatting of pointers.

[2018-07-31 16:54] wschin opened #6755 "Format Error?"
I saw "xref data-throw-if-not-resolved="true"" in the document, is it supposed to happen? I also saw some words are cut in that line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7716b5cd-1280-3d9d-bc82-48b88ef57467
* Version Independent ID: 346173f4-dc4a-b8cc-7284-5a7a4343d1e0
* Content: [OnnxConverter.Convert(Predi

[2018-07-31 17:19] johnnyagerard commented on #6507
Yes, you're right. Thanks.

[2018-07-31 17:39] #6701 closed

[2018-07-31 17:56] poizan42 opened #6756 "There is no get_Evidence in the stacktrace!"
At least on .NET 4.7.2 (release 461814)

Here is an example of a stacktrace from a System.Runtime.Serialization.SerializationException caused by the mentioned issue.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d373c8-0d4a-68cb-69f2-67faa96c44b2
* Version Independent ID: 15bbda61-8313-1f5f-3a89-4634eb148021

[2018-07-31 18:01] david-haemmerle commented on #6731
Hi @BillWagner
Thank you for your quick reply. Unfortunately, the link does not contain the info I'm looking for. Maybe my inquiry was not clear enough; I'll try rephrasing it.

Basically, I'd like to have a reference for the comparison/sorting rules of the available cultures. For example, I'd like to know if "a" < "A" or vice versa in en-US _before_ writing the code and actually performing the co

[2018-07-31 18:16] #6740 closed

[2018-07-31 18:26] BillWagner commented on #6731
Thanks for the clarifications @david-haemmerle That helps a lot.

[2018-07-31 18:28] #6751 closed

[2018-07-31 18:28] #6733 closed

[2018-07-31 18:43] mairaw commented on #6715
@Blackglade thanks for sending your feedback. We try to include that information in the text and I see this API already has that information, so I'll be closing this bug.

![image](https://user-images.githubusercontent.com/12971179/43479930-967032aa-94b6-11e8-9ef3-d1188725db60.png)

If you'd like the layout to change for all property pages to include a new section, I'd suggest that you file a feat

[2018-07-31 18:43] #6715 closed

[2018-07-31 18:49] mairaw commented on #6421
Moved issue to https://github.com/MicrosoftDocs/feedback/issues/567

[2018-07-31 18:49] #6421 closed

[2018-07-31 19:08] pkulikov commented on #6389
NOTE: the referenced page was removed by PR #6739 and redirects to the [ThreadPool.QueueUserWorkItem](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadpool.queueuserworkitem?view=netframework-4.7.2) API page. The code example was also moved to that API page ([QueueUserWorkItem(WaitCallback, Object) example](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadpool.q

[2018-07-31 19:16] mairaw commented on #6581
I'll start with core and standard folders.

[2018-07-31 19:28] BillWagner commented on #6581
I'll start with the C# folders.

[2018-07-31 19:45] rpetrusha commented on #6731
@tarekgh may have some thoughts about this.

For myself, I'm not sure, @david-haemmerle, that publishing a reference to the comparison rules is practical. Aside from the fact that culture-specific sorting and comparison rules are subject to change, the rules would also have to cover normalizations, comparison of single characters with graphemes, etc. It would need to do this for the entire Unicode

[2018-07-31 19:55] lambdageek opened #6758 "GetCallingAssembly example is not informative"
The example for `System.Reflection.Assembly.GetCallingAssembly()` is not informative: it consists of a single `Main` function directly calling `GetCallingAssembly` with a comment illustrating that the expected output is the name of that very assembly.  (There is also some dead code that creates an integer and gets its type and assembly - none of which are used again and don't contribute to the cla

[2018-07-31 20:29] rpetrusha commented on #6758
Thank you for an excellent suggestion, @lambdageek. Would you like to update the documentation with the your example by opening PRs in the dotnet/samples and dotnet/dotnet-api-docs repos?

[2018-07-31 20:33] Efreeto opened #6759 "There's a typo"
It says `cat` is rewritten :P

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350a9ca4-1407-4f80-0e3c-05609687c014
* Version Independent ID: 6ae6a540-0822-5e2d-cf75-97f064fa0961
* Content: [Tour of .NET](https://docs.microsoft.com/en-us/dotnet/standard/tour)
* Content Source: [docs/standard/tour.md](https://github.com/d

[2018-07-31 20:41] lambdageek commented on #6758
@rpetrusha Sure, I can give it a try.  Couple of questions:

1. In dotnet-api-docs I see the following:
https://github.com/dotnet/dotnet-api-docs/blob/d66fd6b485a6051f371e0a22ee8820cc15d44636/xml/System.Reflection/Assembly.xml#L986-L988

which means that that's where the corresponding snippet lives.  So I would open a PR on the dotnet/samples repo and edit the snippet file?

2. I don't speak C++/C

[2018-07-31 21:40] #6759 closed

[2018-07-31 21:58] claudiordgz opened #6764 "I am very grateful for these docs"
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-077c-3cad-b61d1314c303
* Version Independent ID: 784413e1-77f5-f2e6-a8f4-56a73fe2d3bf
* Content: [dotnet add package command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-add-package)
* Content Source: [docs/core/tools/

[2018-07-31 22:11] JRAlexander commented on #6732
@spacecat, it looks like this has been resolved, so I'm going to close this issue. If this isn't correct, please reopen. Thanks!

[2018-07-31 22:11] #6732 closed

[2018-07-31 22:12] JRAlexander commented on #6764
Thank you, @claudiordgz, for the very nice feedback!

[2018-07-31 22:12] #6764 closed

[2018-07-31 22:12] Thraka commented on #6345
Thanks for the feedback @RobBittner. I cannot seem to reproduce this. I tried using different framework versions and event .NET Core 2.1. I also checked Ubuntu and Windows 7 and nothing seems to return `C:`

[2018-07-31 22:12] #6345 closed

[2018-07-31 22:14] JRAlexander commented on #6753
Thank you for your feedback, @sunilmhta. What topics are you having difficulty finding?

[2018-07-31 22:15] Thraka commented on #6581
I'll help with @rpetrusha in the docs/framework section. I'll start at the bottom.

[2018-07-31 22:17] JRAlexander commented on #6755
Thanks for your feedback, @wschin! Nope, not supposed to happen. I've added it to the backlog.

[2018-07-31 22:36] tarekgh commented on #6731
@david-haemmerle  please check the following link, you can download the whole Sorting Weight Tables and have the full information there. https://www.microsoft.com/en-us/download/details.aspx?id=10921

[2018-07-31 22:56] noahfalk commented on #6728
My team owns it.

1) To get parameter names you would want to use metadata...
   a) ICorProfilerInfo::GetFunctionInfo() converts from FunctionID -> ModuleID and mdToken (MethodDef token)
   b) ICorProfilerInfo::GetModuleMetaData() get an IMetadataImport interface for the ModuleID
   c) IMetadataImport::GetParamForMethodInfex() gets a ParamDef token for the n'th parameter given the MethodDef token

[2018-07-31 23:00] mairaw commented on #6728
Thanks @noahfalk! Closing  this issue then.

[2018-07-31 23:00] #6728 closed

[2018-07-31 23:10] mairaw commented on #6666
@KathleenDollard @dsplaisted @livarcocc can one of you please comment on this feedback? Does dotnet msbuild support building .sqlproj projects?
I'm wondering if I should clarify in the topic that "The command has the exact same capabilities as existing MSBuild command-line client" for supported .NET Core project types?

[2018-07-31 23:10] JRAlexander commented on #6581
I'll help with standard - and also start from bottom.

[2018-07-31 23:16] mairaw commented on #6581
standard is done already @JRAlexander. See PR #6766. Please take another one.

[2018-07-31 23:52] MaqSaid opened #6768 "Need CryptographicOperations Implementation Case Study and Example."
Need links to extra resources to explain with examples and case study

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4457cf5-71c0-321d-cc93-a0e30470110a
* Version Independent ID: 06ea5cab-7c43-8677-ccd2-f3783bff9360
* Content: [CryptographicOperations Class (System.Security.Cryptography)](https://docs.microsoft.com/en

[2018-07-31 23:56] JRAlexander commented on #6658
Thank you for your feedback, @berkarslan-cs.  This has been added to the backlog.

[2018-08-01 00:34] dsplaisted commented on #6666
It doesn't support .sqlproj or a bunch of other project types.

I think the intent of the doc is that all of the same command-line options are supported by `dotnet msbuild` that `msbuild` supports.

[2018-08-01 01:29] BillWagner commented on #5792
@ddobric I used your benchmarks with three different definitions of `MyStruct`. The results illustrate the point @pkulikov makes in his comment.

First, I used this definition. The properties are implemented as methods, and (in theory), the getters could mutate the struct:

[code]

That produces results similar to what you report above:

[code]

Next, I updated `MyStruct` to be a readonly struct:

[2018-08-01 02:07] BillWagner commented on #5822
@infinitylight Thanks for making this suggestion. However, the suggested addition does not add any clarity to the description of the `return` statement.

I'm closing this issue. If you disagree, you can reopen and add more information about your suggestion.

[2018-08-01 02:07] #5822 closed

[2018-08-01 02:08] #6690 closed

[2018-08-01 02:11] BillWagner commented on #5828
@Lechus I've looked over the source document you reference, and I need more detail about your issue. What do you think should be added to this article. Can you elaborate on what you mean here?

[2018-08-01 03:24] davkean opened #6772 "Need Visual Studio release details"
Visual Basic 15.3 and Visual Basic 15.5 do not document the release of Visual Studio that they come out in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 272fdffd-2201-990f-387b-d37467e976cf
* Version Independent ID: 06703ef5-e10a-3fdd-da13-0ce99903a5e6
* Content: [What's new for Visual Basic](https://docs.microsoft.c

[2018-08-01 03:27] davkean commented on #6772
It looks like Visual Basic 15.5 came with Visual Studio 15.6, and maybe 15.3 with Visual Studio 15.5 but do not quote me on this. @jcouv would know details.

[2018-08-01 04:43] jcouv commented on #6772
VB and VS versions match: VB 15.5 came with VS 15.5, etc
https://github.com/dotnet/vblang/blob/master/Language-Version-History.md

[2018-08-01 06:24] cremor opened #6773 "Review/update documentation of the 'debug' C# compiler option"
Could you please review this page and make sure that it is actually correct? Because there are a few posts that claim that parts of that documentation is wrong or outdated.

A good starting point is [this question on StackOverflow](https://stackoverflow.com/questions/7713514/should-i-compile-release-builds-with-debug-info-as-full-or-pdb-only). The two highest voted answers both say that this docum

[2018-08-01 10:24] Bilge opened #6774 "Correcting gamma for PathGradientBrush"
This article only covers `LinearGradientBrush`, but the same section covers both linear gradients and path gradients. How do you apply gamma correction to a `PathGradientBrush`? If this is not possible, it appears to be a glaring hole in the API. Regardless, it should be mentioned in this article - whether it's possible or not.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-01 11:35] BillWagner commented on #6772
@rpetrusha Is this something you are addressing in #6765 ?

[2018-08-01 11:57] matthid opened #6775 "Record definition style"
There are at least 3 ways to define a record:

[code]

[code]

[code]

[code]

If we cann't recommend a particular style (because people do it differently) we should at least list the common ones to help new-comers (and list advantages and disadvantages...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c09996f-24ac-cf

[2018-08-01 12:26] JRAlexander commented on #6581
Ok, I'll mark them above as such.

[2018-08-01 12:28] JRAlexander commented on #6581
I'll start on VB.

[2018-08-01 12:31] JRAlexander commented on #6774
Thanks for the feedback, @Bilge. This has been added to the backlog.

[2018-08-01 12:38] JRAlexander commented on #6768
Thank you, @MaqSaid for your feedback! This has been added to the backlog.

[2018-08-01 12:44] JRAlexander commented on #6648
Thanks for your feedback, @JeffLangballe! This appears resolved so I'm going to close this. Please reopen if that is not the case.

[2018-08-01 12:44] #6648 closed

[2018-08-01 12:47] JRAlexander commented on #6725
Thanks for your feedback, @natejgardner! Good catch! @pkulikov, I agree. Thanks!

[2018-08-01 12:55] JRAlexander commented on #6643
Thanks for your feedback, @krestenks! This has been added to the backlog.

[2018-08-01 13:31] moyanming opened #6776 "The format of the encoding table is broken."
Please see the following picture.

BTW, I have test the Encoding.GetEncodings method ant only got 8 codepages within the Windows 10 IoT core OS. How to convert the ANSI (e.g. chinese ANSI) txt file to the UNICODE?
CodePage(WindowsCodePage) BodyName
1200(1200) utf-16
1201(1200) utf-16BE
12000(1200) utf-32
12001(1200) utf-32BE
20127(1252) us-ascii
28591(1252) iso-8859-1
65000(1200) utf-7
65001(1200)

[2018-08-01 13:42] BillWagner commented on #6720
No, that's not the rules. The fields are initialized in order, but the language rules define that they cannot depend on each other.  This is explained in detail in the [C# specification](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/classes#instance-field-initialization) where field initialization rules are defined.

I'm closing this, as this article is correct

[2018-08-01 13:42] #6720 closed

[2018-08-01 13:50] aggieben commented on #6665
@cartermp Perhaps it would be useful to link to that section in the F♯ Coding Conventions then?  Currently the .NET Library Design Guidelines document is linked, and it is C♯-centric.

[2018-08-01 14:02] sunilmhta commented on #6753
I was at C# programming guide page (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/index). I wanted to explore all the headers ( I am from C++ background, so sorry if I use wrong terminologies) but I couldn't find them. Then I went to Collections from this page under the language section, there also  I felt that the language section should be in the left side (just beneath the C#

[2018-08-01 14:27] #6758 closed

[2018-08-01 15:31] michaelmcdaniel opened #6777 "In .NET Framework 4.5.2, X509Certificate2 does implement IDisposable"
I have code that iterates an array of objects that dispose objects that implement IDisposable.   In .net 4.5.2, the certificates do in fact get disposed and all references become invalid.  I did not check prior versions.  The remarks for this class need are wrong/misleading and need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-08-01 17:05] #6750 closed

[2018-08-01 17:08] rschiefer opened #6779 "Can you provide more details on the runtimes folder?"
I'm looking for more details about the runtimes folder inside the publish folder.  Is there a way to exclude runtimes you don't need?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .N

[2018-08-01 17:33] #6331 closed

[2018-08-01 17:36] rpetrusha commented on #6772
I hadn't planned to, @BillWagner, but since the PR is open and the change affects the what's new topic, I will address it in #6765.

[2018-08-01 17:40] #6637 closed

[2018-08-01 17:51] rpetrusha commented on #6776
Thanks for pointing this out, @moyanming. I've opened PR dotnet/dotnet-api-docs#406 to correct the table formatting.

[2018-08-01 19:02] EliCDavis commented on #6620
@svick I don't think many people attempt to write an email regex, as there's already provided documentation.

[2018-08-01 19:27] pkulikov commented on #6620
@EliCDavis, to my understanding, so far it was an example of how to use regex, rather than the attempt to create the regex that validates any email address. That regex should be improved as well: #5305

[2018-08-02 00:16] BillWagner commented on #5833
@DJN1 When you say "when does a static class get loaded into memory?" do you mean the executable code for the class, or the static data members for the class?

The code is loaded when the assembly containing it is loaded. The static data is initialized [following the same rules as static data in all classes](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/stati

[2018-08-02 00:28] BillWagner commented on #6052
@kp2017 I've reviewed your question, and the answer provided by @svick

I agree that the article referenced does provide the information to implement both interfaces correctly.

I'm closing this. If you still have this issue, or we've misunderstood what you were asking, re-open the issue and add more information.

[2018-08-02 00:28] #6052 closed

[2018-08-02 00:33] #6772 closed

[2018-08-02 00:33] BillWagner commented on #6053
@R0binBl00d Can you point to the google source that gives you different results?

I ran the sample and got the results from the article.

[2018-08-02 00:35] BillWagner commented on #6143
@kuhlenh @jinujoseph Do you have thoughts on this issue? If you have a different preferred description for the scripting APIs, can you link to it?

[2018-08-02 00:40] BillWagner commented on #6148
@MNF It looks like your question has been answered. I'm closing this issue. If you have further questions, re-open it and let us know what more information you need.

[2018-08-02 00:40] #6148 closed

[2018-08-02 01:10] BillWagner commented on #6228
The /// comments in the roslyn source are invalid.  Each `<item>` node should contain a child `<description>` node.

I created dotnet/roslyn#29018 to fix this.

[2018-08-02 02:30] gojanpaolo opened #6789 "incomplete xaml"
Sample for `textBoxInError` and `data`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a0b0539-04a6-b652-ef55-b288545f897b
* Version Independent ID: 5b75a31b-3a21-02d0-6ffe-a57f567b037e
* Content: [How to: Implement Validation Logic on Custom Objects](https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-i

[2018-08-02 05:35] rjk opened #6790 ".net core 2.1: webapi template option "--use-launch-settings" is incorrect"
From what I can tell the option "--use-launch-settings" has been replaced with "--exclude-launch-settings" in dotnet core 2.1. Help for `dotnet new webapi --help` says:

 --exclude-launch-settings  Whether to exclude launchSettings.json in the generated template.
                             bool - Optional
                             Default: false / (*) true

It would be useful if this page als

[2018-08-02 06:16] paulomorgado commented on #6575
https://stackoverflow.com/a/247623/402366

[2018-08-02 07:19] aby191 opened #6791 "Clearing the concept"
Hi,

Nyc article with good understanding on the new and virtual keyword.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4702e20f-4482-e0ce-bf61-784d436b64d5
* Version Independent ID: c88cfd2b-fdee-64eb-c26c-4d808e82e8b6
* Content: [Knowing When to Use Override and New Keywords (C# Programming Guide)](https://docs.micro

[2018-08-02 08:25] ygoe opened #6792 "Example will never stop"
The server.Stop call will never happen and the server will never terminate. This probably isn't a good example. I'm specifically interested in how server.Stop and an ongoing server.AcceptTcpClientAsync relate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa5783e-b10c-9a06-f99c-ee9a2f8268d1
* Version Independent ID:

[2018-08-02 10:01] Gonnagle commented on #5915
In my opinion it would be really helpful to have the table to somehow indicate which framework versions have a "native" support and which with the "hacks". What @terrajobst suggests seems rather good approach (list the first version supporting it without additional tooling and footnote about the additional support since 4.6.1 via tooling).

[2018-08-02 10:14] ygoe opened #6793 "Missing link"
"Windows Sockets version 2 API error code documentation in MSDN" should point to the information. Now I'll have to google it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84ff3356-3553-0460-3866-9a23dbea8d74
* Version Independent ID: 4369f846-6ba0-ed79-2696-9e8420b1d6b2
* Content: [SocketException.ErrorCode Property

[2018-08-02 10:15] ygoe commented on #6793
Here it is, the text is wrong. It's not in MSDN.

https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2

[2018-08-02 10:45] LarryLan opened #6794 "Sample code throws exception"
ArgumentOutOfRangeException: Training feature column 'Features' must be a known-size vector of R4, but has type: Vec&lt;R4&gt;.
Could you please provide a fix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [U

[2018-08-02 12:28] heaip opened #6795 "The code example in Docs was wrong"
On this page : https://docs.microsoft.com/en-us/dotnet/standard/collections/thread-safe/how-to-add-and-remove-items
TryUpdate method example :
     cities.TryUpdate(searchKey, retrievedValue, newValue)
should be:
     cities.TryUpdate(searchKey, newValue, retrievedValue)

newValue is the second parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-08-02 12:36] BillWagner commented on #6791
Thank you for compliment.  Closing as kudos.

[2018-08-02 12:36] #6791 closed

[2018-08-02 12:52] ChrisMaddock commented on #6793
A note for whoever fixes this: the same phrase is used in 4/5 different API doc files. That's more than I can fix in the browser, I'm afraid! 😄

[2018-08-02 13:11] #5497 closed

[2018-08-02 13:25] DJN1 commented on #5833
What I mean is at what point in the execution of the code is memory allocated for the static classes, and when is that memory released again?

[2018-08-02 13:35] pavel-agarkov opened #6796 "Type.GetInterfaceMap with generic interface types"
When type parameter of `Type.GetInterfaceMap` method is represented by:
1) Open generic constructed type - method throws `ArgumentException` `"interface not found"` which is not mentioned in the docs
2) Closed generic constructed type - method returns `InterfaceMapping` with `InterfaceType` property equal to the specified `type` parameter, but not the actual version of implemented generic interfac

[2018-08-02 13:56] nnpcYvIVl opened #6797 "Remarks section missing word"
The Remarks section contains:

It seems to be missing a word between the and to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e48129-8ce2-dc3c-9f92-ba5e11260eac
* Version Independent ID: e602e52c-23ce-fc33-e2d9-fc8b113fc95b
* Content: [HandleProcessCorruptedStateExceptionsAttribute Class (System.Runtime.ExceptionSe

[2018-08-02 14:05] jpreese commented on #6795
Thanks for pointing this out @heaip! There are a couple open pull requests that should resolve this.

[2018-08-02 14:08] #6228 closed

[2018-08-02 14:26] jpreese commented on #6797
Thanks for finding this @nnpcYvIVl! There is now an open pull request to resolve this issue.

[2018-08-02 14:36] vmkbagci opened #6799 "Using the BodyExpression in the Example"
I am using C# 7 and .NET Core. To run the BlockExpression body, one has to do:

var delFromExp = Expression.Lambda(body, nArgument).Compile();

Console.WriteLine(delFromExp.DynamicInvoke(5));

It may help to put some small practical things like this as well. It is a dated post but some (me) may still be reading this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-08-02 15:01] peter-griffith opened #6800 ".NET 2.0 supported RHEL versions"
There is a discrepancy between the stated supported versions of RHEL on .NET 2.0. On this site it states RHEL 7 is supported, but the GitHub linked at the bottom of that section states that RHEL 7 is supported. https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md

I assume this page is correct and GitHub is wrong, but wanted to confirm.

---
#### Document Details

⚠ *Do

[2018-08-02 15:07] #6795 closed

[2018-08-02 15:09] BillWagner commented on #6800
@peter-griffith I think there's a typo in the issue you just wrote (it currently says "RHEL 7" for both documents. I think you meant to say that the release notes indicate both RHEL 6 and RHEL 7 are supported. Can you confirm this comment, or make a correction above?

[2018-08-02 15:49] peter-griffith commented on #6800
Sorry, I updated my comment and put in a link for clarity.

[2018-08-02 16:06] pkulikov commented on #6794
@LarryLan have you tried to run the original code provided in the [dotnet/samples](https://github.com/dotnet/samples) GitHub repo:
https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/SentimentAnalysis

Does it work for you?

[2018-08-02 16:11] #6776 closed

[2018-08-02 16:37] christianenriquez opened #6801 "UserNamePasswordValidator"
Validar el web config en el proyecto
"Validate the web config in the project"

EDIT by @jralexander 03/08/2018 - English translation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51269b99-e5f9-5eee-4ffa-3a9f196aa7da
* Version Independent ID: 46754bc4-ff46-f5b5-bf0b-8b089def91ec
* Content: [How to: Use a Custom User N

[2018-08-02 16:43] #6397 closed

[2018-08-02 16:53] #6797 closed

[2018-08-02 16:53] mairaw opened #6802 "Provide fwlink in the warning about obsolete DotNetCliToolReference that points to good documentation about global tools"
Context here: https://github.com/dotnet/cli/issues/9119#issuecomment-384825724

This is to update the target for https://aka.ms/dotnetclitools-in-box

- [x] edit https://docs.microsoft.com/en-us/dotnet/core/migration/20-21
- [x] update aka.ms target URL

[2018-08-02 16:53] ironfey opened #6803 "Faulty PNG in link?"
When trying to use the linked watermark.png I get file type not supported error. Does not happen with other (random) png.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0dc39f7-b153-a46c-3b88-07c8ed2c71bc
* Version Independent ID: 78a14535-9703-e2af-4451-783a7c4c10be
* Content: [Create a WPF application in Visual Stud

[2018-08-02 16:54] ironfey commented on #6803
PS: Windows 7 64 bit, Visual Studio 2017

[2018-08-02 16:57] mairaw commented on #6793
Thanks @ChrisMaddock. I'll take care of this.

[2018-08-02 17:11] david-haemmerle commented on #6731
Thank you all a lot for your input! @tarekgh The Sorting Weight Table is what I was looking for. 👍 And I have to say, I really like and appreciate this way of communicating with the teams at Microsoft. Keep up the great work.

[2018-08-02 18:33] JRAlexander commented on #6800
will be fixed today.

[2018-08-02 18:43] vinrok opened #6804 "Appraisal"
It's awesome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b514dfb-f00b-8ac3-4027-7a28770f959e
* Version Independent ID: 7db3af08-9406-10da-76a1-1f8db30d1d2d
* Content: [Hello World interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-world?tutorial-step=7)
* Conte

[2018-08-02 18:53] JRAlexander commented on #6626
The [Anweisungen, Ausdrücke und Operatoren (C#-Programmierhandbuch)](https://docs.microsoft.com/de-de/dotnet/csharp/programming-guide/statements-expressions-operators/index) should give you the information you're looking for.

[2018-08-02 19:12] rpetrusha commented on #6804
Thanks, @vinrok. It's nice to hear from you, and we're happy that you enjoyed the interactive tutorial!

[2018-08-02 19:12] #6804 closed

[2018-08-02 20:06] rpetrusha commented on #6789
Thanks for letting us know that the sample code is incomplete, @gojanpaolo. We've created two PRs, dotnet/docs#6806 and dotnet/samples#217, to display all of the Window1.xaml file with the relevant code highlighted.

[2018-08-02 22:11] peterhuene commented on #6424
Sorry @mairaw, I missed this ping.  With 2.1.300 and later of the .NET Core SDK, we're expecting `DefaultProjectTypeGuid` to be set when evaluating the project.  For SDK-style projects, this either gets set by the default language-specific targets (for C# and VB) that ship with MSBuild or inside of specific SDKs (like F#'s SDK, for example).

I'm not familiar with service fabric projects at all, b

[2018-08-02 22:36] mairaw commented on #6743
@sambent can you help with this feedback?

[2018-08-02 22:39] #6793 closed

[2018-08-02 22:52] SamBent commented on #6743
This is a feature request.  I've shared it with management for awareness.

[2018-08-02 22:53] mairaw commented on #6743
Ok, thanks for the prompt reply. Is there a better place to move this feedback to?

[2018-08-02 23:26] yujayee commented on #5619
@bartonjs I just found `New-SelfSignedCertificateEx` was not supported on Linux and Mac OS, do you have any suggestions on cross-platform support of creating cert? Although we can also use CertificateRequest class, it seems a little more complex than using a simple command or existing tool for customers.

[2018-08-03 00:54] joshbw opened #6809 "Switch examples to SHA256/512"
Given that MD5 and RIPEMD160 are broken/weak hashing algorithms unsuitable for most applications, this example would be more useful if it referenced SHA256 or SHA512

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 410b53de-93ba-46c6-1fef-a8d66047a78c
* Version Independent ID: 32cc7592-abcd-5af9-4650-bdee2e30a40b
* Conte

[2018-08-03 02:51] stg609 opened #6811 "[NewTopic] Why use new() constraint"
The implementaion is a little weird:

1. There's no public paramterless constructor, so how does the `new()` constraint work?
2. I don't see any necessary to `new T()` if just to get a static value. Why not use `info.GetValue(null)` directly?
3. The **List** method of the **CarType** doesn’t scale well, what if we need to add a new option?

[2018-08-03 02:56] #6811 closed

[2018-08-03 03:02] stg609 commented on #6811
Close it as not link to the doc

[2018-08-03 03:03] stg609 opened #6812 "Why use new() constraint in the Enumeration class?"
The implementaion is a little weird:

1、There's no public paramterless constructor, so how does the new() constraint work?
2、I don't see any necessary to new T() if just to get a static value. Why not use info.GetValue(null) directly?
3、The List method of the CarType doesn’t scale well, what if we need to add a new option?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-03 07:48] Ashutosh-K-Singh commented on #6728
Thanks @mairaw  and @noahfalk  for super fast response!

I was trying from couple of days to extract the function input  and return parameter of a function. Although  @noahfalk  mentioned  here a straightforward  approach to extract the information but it still seems me hard to find parameter here. There are so many cases and searching at byte and memory  level seems a bit tedious here.

In my cas

[2018-08-03 10:09] fourst4r opened #6815 ">? description misspelling"
In the description for the &gt;? operator, the word "greater" is spelled "greather".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda0064b-feb6-ccf5-b77c-92e59be17b0c
* Version Independent ID: 7f789b6e-4f55-5740-2c2f-2dec4e2129fc
* Content: [Symbol and Operator Reference (F#)](https://docs.microsoft.com/en-us/dotnet/

[2018-08-03 11:53] vladkolodka opened #6816 "Question about access modifier"
Hi. I have a question. When I am trying to use any access modifier for an explicit interface, I'm getting an error: "The modifier &lt;modifier_name&gt; is not valid for explicit interface implementation".
As I understand, I should not try to do so, but. What is the access modifier used implicitly?
Logically, there must be only one valid access modifier - "public". But it does not work either.

---

[2018-08-03 12:48] POC-Tools opened #6817 "Where are the endpoints?"
When I create a ServiceHost with a base address, like this
var serviceHost = new ServiceHost(typeof(ServiceHostSide), new Uri("net.tcp://localhost:4001"));

When I look at serviceHost.Description.Endpoints I would have expected to see an endpoint with address net.tcp://localhost:4001/ServiceHostSide (base address + service).
But I only see an endpoint with the base address. On the client side I ne

[2018-08-03 13:17] nvmkpk opened #6818 "Filtering of members"
Please let us filter listed members like hiding inherited members like MSDN website had.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8f7ce9-5aa7-5d81-7e38-87895240399c
* Version Independent ID: 868c1749-34cc-7de8-765b-411db7f1dd19
* Content: [ToolTaskExtension Class (Microsoft.Build.Tasks)](https://docs.microsoft.

[2018-08-03 13:37] zerple opened #6819 "Great article"
Hi, thanks for this really excellently written article which was easy to follow and I easily understood how to proceed with my testing cases. Thanks and again great work much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39c2f1b-f41a-bdf9-2646-09379941453d
* Version Independent ID: 422811cb-6287-03af-ba8

[2018-08-03 14:36] yetanotherlogonfail opened #6820 "wpf date picker"
2 hours and still not managed to get a size of calendar I like and is usable, WTF !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16c8cd-c7df-baf4-f649-64250f8e3fc9
* Version Independent ID: 0cead786-5529-c4a0-31cc-047a3affe4b2
* Content: [Windows Presentation Foundation](https://docs.microsoft.com/en-us/dotnet/fram

[2018-08-03 15:03] #6789 closed

[2018-08-03 15:59] gojanpaolo commented on #6789
@rpetrusha Thanks for addressing this issue.

I'm currently looking at the [page](https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-implement-validation-logic-on-custom-objects) and it seems nothing changed yet? Will it take time before the page updates? I assumed the page is fixed since the issue is closed. :)

[2018-08-03 16:18] rpetrusha commented on #6816
Thanks for your comment, @vladkolodka. An explicit interface implementation does not have an access modifier since it is not accessible as a member of the type in which it is defined. Instead, it is only accessible when called through an instance of the interface. Interface members are always public.

Attempting to define an access modifier results in compiler error [CS0106](https://docs.microsoft

[2018-08-03 16:18] #6816 closed

[2018-08-03 16:21] rpetrusha commented on #6819
Thank you for the positive feedback, @zerple. We're happy that you're finding our documentation useful for your testing.

[2018-08-03 16:21] #6819 closed

[2018-08-03 16:46] rpetrusha commented on #6604
Thanks for your question, @johnnyagerard. Yes, the relational expression is a comparison operation. The bitwise And and Or operators cannot be used with Double, and they're not relational operators in any case.
The phrase "or bool in relational or Boolean expressions" is used twice in this document, and it could be made clearer. It also appears in the [float](https://docs.microsoft.com/en-us/dotne

[2018-08-03 16:54] rpetrusha commented on #6820
We're sorry that you're having difficulties with sizing the calendar in the DatePicker control, @yetanotherlogonfail.  You might find this [StackOverflow question](https://stackoverflow.com/questions/32522503/datepicker-issue-calendar-size-is-too-big) helpful.

[2018-08-03 16:54] #6820 closed

[2018-08-03 17:54] JRAlexander commented on #6818
Thank you for your feedback, @nvmkpk! I'll forward this on.

[2018-08-03 17:54] mairaw commented on #6789
Yes @gojanpaolo. The update will be live later today.

[2018-08-03 18:55] #4502 closed

[2018-08-03 19:04] rpetrusha commented on #6815
Closing, Since #6821 merged.

@cartermp, for an issue to be auto-closed by a PR merge, the PR has to include "Fixes#".

[2018-08-03 19:04] #6815 closed

[2018-08-03 19:40] rpetrusha commented on #6566
Thanks for pointing this out, @yanxiaodi. You are correct that the text should not describe Control as an event. Unfortunately, though, this is copyrighted material that we do not hold the copyright for, and as a result we can't change it. So unfortunately, I'll have to close this issue. Thank you again, though, for submitting your feedback.

[2018-08-03 19:40] #6566 closed

[2018-08-03 19:47] NetMage opened #6822 "MethodInfo.Invoke"
MethodInfo.Invoke link under Methods in Tree goes to .Net 1.1 page instead of MethodBase.Invoke page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2c5677-4ada-334c-6fe1-13329ed66839
* Version Independent ID: 33eda1ff-e736-e2f4-a44b-14f3da3d7a7b
* Content: [MethodInfo Class (System.Reflection)](https://docs.microsof

[2018-08-03 19:48] NetMage commented on #6822
Also, MethodInfo.Invoke(object, object[]) isn't documented under Methods for MethodInfo.

[2018-08-03 20:16] mairaw commented on #6822
Thanks @NetMage for your feedback. I've moved the first part of this issue to https://github.com/MicrosoftDocs/feedback/issues/579. The missing docs for MethodInfo.Invoke(object, object[]) is a known issue since we just onboarded the old versions of the framework into the API Browser and we are now working on exporting that content from MSDN.

[2018-08-03 20:18] mairaw commented on #6361
@terrajobst can you help with this question?

[2018-08-03 20:19] rpetrusha commented on #6216
Thanks for pointing this out, @ippdr. Although DateTimeStyles.None is passed to the Parse(String, CultureInfo.DateTimeStyles) method, the documentation indicates that the value is ignored, and that the default behavior is DateTimeStyles.AllowWhiteSpaces, which cannot be overridden by a more restrictive value. So explicitly passing DateTimeStyles.None has no effect. I hope that this helps to answer

[2018-08-03 20:19] #6216 closed

[2018-08-03 20:22] BillWagner commented on #4543
Thanks for writing this up @Narvey

I've added to an upcoming sprint, and prioritzed it.

[2018-08-03 20:35] mairaw commented on #6817
@zhenlan can someone help with this question?

[2018-08-03 20:42] mairaw commented on #5348
Closing this one since those docs have now been published in Chinese as well @Quorafind.

[2018-08-03 20:42] #5348 closed

[2018-08-03 21:00] JRAlexander commented on #6818
I created [MicrosoftDocs/feedback/issues/581](https://github.com/MicrosoftDocs/feedback/issues/581), as it is a general Docs issue, and for proper routing.  Closing this issue.

cc: @dastaffo FYI

[2018-08-03 21:00] #6818 closed

[2018-08-03 22:02] gojanpaolo commented on #6789
@mairaw Alright! Thanks you :)

[2018-08-03 22:34] terrajobst commented on #6361
We have stopped investing in code contracts a while ago. We've added it to .NET Core 2.0 as part of our compatibility effort, but I wouldn't recommend new code using it.

FWIW, we've looked at many code bases that use them and it seems the overwhelming usage is about null handling. The replacement for this is under way with [C# 8's nullable-reference types](https://blogs.msdn.microsoft.com/dotnet/

[2018-08-04 00:27] mairaw commented on #6361
Thank you for the update @terrajobst. With that, I'm closing this issue.

[2018-08-04 00:27] #6361 closed

[2018-08-04 00:53] dilv0055 opened #6826 "Observed significant execution time difference between "for" loop and "Parallel.For" loop"
I've tested pushing 1000 messages to Azure Service Bus queue with help of "for" loop  and "parallel.for" loop and calculated time using StopWatch class methods.
=&gt; With help of "for" loop:  ** 1000 messages sending completed in "117.4382276" seconds.
=&gt; With help of "Parallel.For" loop:  ** 1000 messages sending completed in "2.4045131" seconds.

Thank you contributors

---
#### Document Det

[2018-08-04 04:10] user135711 commented on #6371
Actually, you addresses differ, and their addresses differ from the endpoint URI needed for the next step. The final code silently changes to a third unseen uri used in the next step: http://localhost:8000/ServiceModelSamples/Service

[2018-08-04 04:47] jepp commented on #6371
There's a LOT that this tutorial leaves to be desired. I think it actually set me BACK on learning it. It also doesn't explain which of these things is which. And it also didn't really do much to mention the role of the app.config in design time with a WCF serrvice vs run time with something like their console apps. It really just needs to be rewritten from scratch.

[2018-08-04 05:00] PatrikBak opened #6831 "Dead link"
The Default WPF Themes link is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a526a5b0-8f94-a527-d706-797cb8590bed
* Version Independent ID: 6878b9d6-71dc-951f-e973-19df176540fa
* Content: [GridSplitter Class (System.Windows.Controls)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.gridsplitte

[2018-08-04 05:22] natejgardner opened #6832 "Update references to specific versions of Visual Studio, such as Visual Studio 2012"
This page refers to Visual Studio 2012. Shouldn't it be referring to a current version of Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c62caa2-710a-39c5-c016-28d74c877181
* Version Independent ID: 0d921e75-c19f-b01a-a5e0-d7795f4f443e
* Content: [How to: Host a WCF Service in a Managed Application](htt

[2018-08-04 06:47] yetanotherlogonfail commented on #6820
Typical

This is a typical "Microsoft" response... you find a post that describes
the issue but not how to solve it, your parents must be proud.
why don't people think ? you have now wasted MORE of my valuable time. but
thanks for trying.

On Fri, 3 Aug 2018 at 17:54, Ron Petrusha <notifications@github.com> wrote:

--
Regards, Carl

Average minds discuss people, good minds discuss events but great

[2018-08-04 11:44] svick commented on #6735
It *will* work. Just because there's v1 in the URL doesn't mean the script will only install version 1.0 of the SDK.

Though what might add to the confusion is that it defaults to installing the latest "LTS" version, which is currently 1.1. If you want to install 2.x, you need to run it as `./dotnet-install.sh -c Current`. Maybe that's something that's worth mentioning here?

[2018-08-04 12:03] BillWagner commented on #6826
Thank you @dilv0055 I'm glad this is useful.

Closing as kudos.

[2018-08-04 12:03] #6826 closed

[2018-08-04 12:25] user135711 commented on #6371
@jepp Also a complete dowloadable working sample like in the other tutorials would save a lot of time.

[2018-08-04 14:00] U5Alekseevich opened #6837 "Online"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef7201b-e3d3-484c-c46f-0f2f257ddae3
* Version Independent ID: bc2b573a-40ac-a9fd-daa8-b5a5884b11c7
* Content: [Collections tutorial - C# local quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/arrays-and-collections)
* Content

[2018-08-05 02:44] rpetrusha commented on #6837
I assume this was a test, @U5Alekseevich, so I'm closing this issue.

[2018-08-05 02:44] #6837 closed

[2018-08-05 02:47] rpetrusha commented on #6832
Thanks for your feedback, @natejgardner. Yes, it should be updated to reflect the current version of Visual Studio, @natejgardner. I've added it to the backlog, as well as to the community contributors' project.

[2018-08-05 03:16] rpetrusha commented on #6831
Thanks for reporting the broken link, @PatrikBak. It turns out that this broken link appears in numerous places throughout our documentation set. Unfortunately, though, it's not clear where the article actually is found and what the correct link should be. We've added it to the backlog. The broken link is found in the following places:

In **docs/framework** in the dotnet/docs repo:
- wpf\controls

[2018-08-05 06:22] Wellis19 opened #6840 "Good Article"
it helps me understanding asyn and await well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed82a3-99c1-0893-4e81-d095b4757ecc
* Version Independent ID: 3765200b-43e5-441c-b290-709c34dd2f6d
* Content: [Asynchronous programming](https://docs.microsoft.com/en-us/dotnet/csharp/async)
* Content Source: [docs/csharp/asyn

[2018-08-05 12:28] svick commented on #6529
Did you use the full example, including the `const int Console = 7;` line? Because with that, `Console.WriteLine(name + " " + test[name]);` does not work for me, as the article says.

[2018-08-05 13:29] johnnyagerard commented on #6529
Yes the example would work if we include two members named System and Console in the TestClass class.

Both the System namespace and the Console class would be hidden by those members.

[2018-08-05 14:15] svick commented on #6529
Sorry, I didn't realize you were talking about the *last* example, which does not include those members.

You're right that `global::System.` is not necessary there. Without that, I don't see the point of that example, so I think it can be removed.

[2018-08-05 14:50] Reza-Ka commented on #6747
It is easy
first you need DVD or any other media which you have installed windows 10 and connect to computer
you should run gpedit in run of windows and then follow steps
1- select  administrative  on computer configuration
2- select system
3-double click on specify  setting for optional component installation and component repair
4- click Enable and then write "x:\sources\sxs" in alternative sour

[2018-08-05 16:57] ygoe opened #6842 ""the error number may change""
From this page: https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2

 "Note that this error is returned by the operating system, so the error number may change in future releases of Windows."

What does that mean? Should I revisit that page regularly to update my applications? Why should any of these values change? And why others not? Am I safe when using the Soc

[2018-08-05 19:56] mairaw commented on #6840
That’s great to hear @Wellis19. Thanks for the feedback!

[2018-08-05 19:56] #6840 closed

[2018-08-06 04:44] cartermp commented on #6775
The current guidance does not enumerate the various ways to define records, though I'd be open to a PR that does lay out a few of these other styles.

[2018-08-06 05:32] matthid commented on #6775
@cartermp Should we discuss and decide on one of the above with some people or just list those three (personally, I don't really like all of them) ?

[2018-08-06 08:05] ryzngard opened #6846 "ReadAsync(Memory<byte> memory, CancellationToken cancellationToken) doesn't exist"
I was looking at using this method and can't find where it comes from. Clicking the documentation shows no override with this signature. Looking at the definition from netstandard.dll version 2.0.0.0 on my machine also doesn't have this method.

My csproj:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 968f92e0

[2018-08-06 08:29] vasily-kirichenko commented on #6775
[code]

[2018-08-06 09:13] 7sharp9 commented on #6775
The problem is none of them have a particularly nice line up between the end of definition and a member.  Having the requirement to use  `{ }` seems odd.

[2018-08-06 09:27] matthid commented on #6775
@7sharp9 Note that while I completely agree with you that any of the styles "feel" awkward this issue is not really about that. What I'm asking for is: What do we suggest newcomers to use considering the current state of the language.

I think your comment should be a language suggestion or discussed with @dsyme directly ;)

[2018-08-06 09:56] matthid commented on #6775
@vasily-kirichenko Now I realize that your suggestion is slightly different:

[code]

vs

[code]

which was my suggestion. It seems your suggestion is also what the compiler uses and looks quite good. Maybe we should just go with that?

[2018-08-06 10:04] svick commented on #6846
As far as I can tell, that overload is only available in .Net Core 2.1. I think the fact that it shows in the list of methods for `FileStream` for .Net Framework 4.7.2 is a bug.

![](https://user-images.githubusercontent.com/287848/43710755-ce2821f8-9970-11e8-90e3-283303b6a1b6.png)

[2018-08-06 10:16] vasily-kirichenko commented on #6775
@matthid I totally agree :)

[2018-08-06 11:05] malcolms opened #6847 "Missing text in Remarks section"
Quick one - looks like some automated process has converted all references to "Keyboard" to "oard" in the remarks section:

"... through the static methods on the oard class, such as oard.IsKeyUp(System.Windows.Input.Key) and oard.GetKeyStates(System.Windows.Input.Key). The oard class reports the current state of the keyboard."

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-06 11:11] ygoe opened #6848 "No content"
The descriptions are all missing. Also for TryPeek.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27f5b477-d4c9-a447-3616-e47d2245306b
* Version Independent ID: fd1af4e7-e06a-cb9c-5692-565b5d5e56df
* Content: [Queue&lt;T&gt;.TryDequeue(T) Method (System.Collections.Generic)](https://docs.microsoft.com/en-us/dotnet/api

[2018-08-06 11:32] rodrigovidal commented on #6775
I use the same style that @vasily-kirichenko does.

[2018-08-06 15:39] #6665 closed

[2018-08-06 15:40] cartermp commented on #6665
@aggieben Done. I think the section I link to can have more work:

* Provide an example where Result makes sense
* Provide an example where Option makes sense

Because today it's really only lip service that's paid to them. But at least the guidance is centralized, and certainly in the case of exceptions, more fleshed out.

[2018-08-06 15:42] rpetrusha commented on #6847
Thanks for reporting this content dropout, @malcolms. I've opened dotnet/dotnet-api-docs#423 to restore the dropped text.

[2018-08-06 15:46] cartermp commented on #6775
One thing to keep in mind about using what the compiler does is documented here: #5552

TL;DR, for beginners who don't know how to please the compiler with indent/outdent rules, this is the best way to do it without getting yelled at by an IDE:

[code]

@vasily-kirichenko's suggestion is what you'll likely find the most online, which is a virtue. But so is recommending something that is as resilie

[2018-08-06 15:48] mattfrear opened #6851 "Definition of POCO"
One thing that confused me here is the definition of POCO classes. I always thought a POCO class was one that had no methods, and just a bunch of properties with getters and setters. So I was wondering where the domain logic would be.
You eventually clarify it by saying
&gt; It is important to note that this is a domain entity implemented as a POCO class. It does not have any direct dependency on

[2018-08-06 15:53] crtjr64 opened #6852 "This returns a conversion error"
I'm using a process exactly like the example except the return types are different. Cannot convert lambda expression to intended delegate type because some of the return types in the block are not implicitly convertible to the delegate return type. My only difference is that var results and return results is replaced with a method that returns the return type. That's all this does is run that 1 me

[2018-08-06 15:57] matthid commented on #6775
@cartermp Yes good feedback and indeed something we want to fix. The syntax you suggest seems the most F# "untypical" to me as it uses a lot of "blank lines" and noise of all the suggestions. Shouldn't we try to improve our tooling instead?

[2018-08-06 16:01] rpetrusha commented on #6848
Thanks for pointing this out, @ygoe. These two members are available in .NET Core 2.x and have not yet been documented. We've added them to the backlog as well as to the community contributor's project.

[2018-08-06 16:01] matthid commented on #6775
We could also go:

[code]

[code]

which I guess would fix this problem as well. But this is never seen anywhere at the moment (or at least I have never seen it).

[2018-08-06 16:02] BillWagner commented on #6852
Thanks for writing this @crtjr64

It's hard to know without seeing the code, but that error is generated when your lambda expression could return different types. Check the code carefully to make sure all return statements return the same type of object.

[2018-08-06 16:30] verelpode opened #6855 "Documention for the new "x is null" syntax."
Please document the lovely new "x is null" syntax that was added to C# 7.  I'm talking about this:  Open VS 2017 then click menubar -&gt; Tools -&gt; Options -&gt; Text Editor -&gt; C# -&gt; Code Style -&gt; General -&gt; "Prefer 'is null' over 'object.ReferenceEquals(..., null)'".

C# now allows us to write:
    if (x is null) {...}
instead of:
    if (object.ReferenceEquals(x, null)) {...}

Plea

[2018-08-06 16:32] verelpode opened #6856 "Documention for the new "x is null" syntax in C# 7"
Please document the lovely new "x is null" syntax that was added to C# 7.  I'm talking about the same thing as this setting controls:  Open VS 2017 then click menubar -&gt; Tools -&gt; Options -&gt; Text Editor -&gt; C# -&gt; Code Style -&gt; General -&gt; "Prefer 'is null' over 'object.ReferenceEquals(..., null)'".

C# now allows us to write:
if (x is null) {...}
instead of:
if (object.ReferenceE

[2018-08-06 17:17] JRAlexander commented on #6851
Thanks for your feedback, @mattfrear! Really glad you liked the book and we are taking the suggestion under consideration.

[2018-08-06 17:17] #6851 closed

[2018-08-06 17:30] JRAlexander commented on #6735
Yes, sir. It needs to be explained more thoroughly.

[2018-08-06 17:32] aijunbai commented on #6735
Hi Petr,

Thanks for your explanation! “Though what might add to the confusion is that it defaults to installing the latest "LTS" version, which is currently 1.1. If you want to install 2.x, you need to run it as ./dotnet-install.sh -c Current.”  This is exactly what happened to me…

Sent from Mail for Windows 10

From: Petr Onderka
Sent: Saturday, August 4, 2018 4:44 AM
To: dotnet/docs
Cc: Aijun

[2018-08-06 17:33] JRAlexander commented on #6801
Hi @christianenriquez. Could you give some more information on what you are looking for? Thanks!

[2018-08-06 17:50] #6638 closed

[2018-08-06 18:04] #6677 closed

[2018-08-06 18:05] #6371 closed

[2018-08-06 20:10] rpetrusha commented on #6842
@davidsh, can you comment?

[2018-08-06 20:13] davidsh commented on #6842
There are many error codes listed on that page that also have those words *"Note that this error is returned by the operating system, so the error number may change in future releases of Windows.
"*

I will follow-up offline to find a contact in the Windows OS networking group that could comment on this vocabulary.

[2018-08-06 20:14] rpetrusha commented on #6809
Thanks, @joshbw, for pointing this out. We'll revise the examples in the near future.

[2018-08-06 20:15] rpetrusha commented on #6803
Thanks for pointing this out, @ironfey. We'll have to investigate and update your issue with our findings.,

[2018-08-06 20:15] BillWagner commented on #6855
Thanks for writing this @verelpode you are correct. the `myVar is null` should be added.  I've added this to an upcoming milestone.

I'm going to close #6856 as a duplicate. However, this syntax should be added in many places:

- [ ] docs/csharp/language-reference/keywords/is.md
- [ ] docs/csharp/language-reference/keywords/swiitch.md
- [ ] docs/csharp/pattern-matching.md (See #6856)
- [ ] docs/cs

[2018-08-06 20:16] BillWagner commented on #6856
closing as duplicate of #6855

[2018-08-06 20:16] #6856 closed

[2018-08-06 20:17] rpetrusha commented on #6799
Thanks for your feedback, @vmkbagci. We'll have to investigate and get back to you.

[2018-08-06 20:25] rpetrusha commented on #6790
Thanks for submitting your feedback, @rjk. We'll address this issue in our upcoming sprint.

[2018-08-06 20:32] rpetrusha commented on #6779
@rschiefer, thanks for your feedback. Have you taken a look at [.NET Core Application Deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/)?

[2018-08-06 20:39] rpetrusha commented on #6777
@michaelmcdaniel, thanks for your feedback. @bartonjs, the .NET Framework 4 documentation on docs.microsoft.com (but not on MSDN) includes Dispose as inherited from X509Certificate. Can you confirm when IDisposable was first added?

[2018-08-06 20:43] rpetrusha commented on #6773
Thanks, @cremor, for your feedback. We'll have to investigate before we can revise the documentation.

[2018-08-06 20:44] AnthonyLloyd commented on #6775
3 means cleaner git diffs while saving vertical and horizontal space.

[2018-08-06 20:54] bartonjs commented on #6777
`IDisposable` was added to `X509Certificate` for .NET Framework 4.6.

Since it's an in-place upgrade with prior 4.x releases, a runtime check will say that it's IDisposable, but at compile-time it can only be used in a `using` statement when targeting 4.6 or higher.

So, the existing comments are correct, from a compile-time perspective; but a runtime `as` cares about what version was installed, n

[2018-08-06 22:11] mairaw commented on #6842
Also adding @msatranjr since he seems to own that topic on Windows.

[2018-08-06 23:17] MrJavaWolf commented on #4663
Scott Hanselman have made a write up on how to install .Net Core 2.1 in Raspbian
At the end of the article he shows the magical commands to install .Net core 2.1 in Raspbian:
https://www.hanselman.com/blog/BuildingRunningAndTestingNETCoreAndASPNETCore21InDockerOnARaspberryPiARM32.aspx

[2018-08-06 23:32] ryzngard commented on #6846
That seems right, since I'm targeting .Net Standard 2.0. The documentation for `Stream` is correctly hiding that method for .Net Framework 4.7.2 and .Net Standard 2.0

[2018-08-06 23:41] ravidw opened #6866 "Is there a reason for the casting in the first try/catch example?"
((IDisposable)s).Dispose();
It should be working without the casting as well, isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83e20ec-96de-0340-0813-27968ae4ca89
* Version Independent ID: db8ef20b-08da-cbac-0d96-91dcef8abe56
* Content: [Using objects that implement IDisposable](https://docs.microsoft.com/en-u

[2018-08-06 23:48] svick commented on #6866
In this specific case, yes, it would work the same without the cast, because `StreamReader` implements `IDisposable` implicitly.

But some types might implement that interface explicitly, which is where it would make a difference.

Since this article is explaining how `using` works in general, I think it makes sense to keep the cast in there.

[2018-08-07 01:27] BillWagner commented on #6389
Thanks for writing this @bobsort and adding the clarifying comments @pkulikov

These are important questions that should be answered as part of this sample.

I've added this issue to our backlog, and to our project on async / parallel and related programming concepts.

[2018-08-07 01:34] BillWagner commented on #6406
@TobiasSekan Thanks for the feedback.  I am going to close this, because I think all the information from your table is in the first sentence of this article:

Mapping to your table items

name of namespace = no
name of class = yes (it's a type)
name of function = yes (it's a member)
value = no
operator = no

If you disagree, you can reopen this issue and add more details about what you are lookin

[2018-08-07 01:34] #6406 closed

[2018-08-07 01:46] BillWagner commented on #6417
Looking at the sample and the output, I believe your previous comment is correct: the output uses the `Milliseconds` property, while the code uses the `TotalMilliseconds` property.

I think the best fix is to update the sample to use the `Milliseconds` property.

I added this to our backlog, and added the "up for grabs" label.

[2018-08-07 01:48] zhenlan commented on #6817
I think this is expected behavior. Add @jcondex for any follow-up questions.

[2018-08-07 01:48] BillWagner commented on #6472
Thanks for pointing this out @mgravell

Your analysis is correct. This example needs to be updated.

[2018-08-07 01:54] BillWagner commented on #6507
You are both correct: the cast works, but is unnecessary.  Because the sample does use an explicit variable declaration, I'd prefer that the unnecessary cast was removed.

That would clearly show readers that the `Box` type can be implicitly converted to either interface that it implements.

I've added this to our backlog, and added the 'up for grabs' label.

[2018-08-07 01:59] BillWagner commented on #6512
As @mairaw points out, both the `Value` and `Value2` properties are valid. Closing this for that reason.

[2018-08-07 01:59] #6512 closed

[2018-08-07 02:02] BillWagner commented on #6529
the above analysis is correct.

I'm going to make a different recommendation: I think the last sample should stay, but the `global::System.Console.WriteLine` should be removed, as should the discussion of that in the preceding paragraph. The example and explanation of aliasing is still useful.

[2018-08-07 03:37] StingyJack opened #6868 "Did it change since?"
&gt; In the .NET Framework version 2.0,
&gt; In version 1.0 of the .NET Framework,
&gt; In version 1.1 of the .NET Framework

These preambles imply the sentence topics that follow them only apply to that version and not versions before and not versions after.  Are some of them actually "Starting with version X.X of ..." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-07 05:56] red-swan opened #6869 "F# Version ??"
open System
open System.IO

let path = @"c:\temp\MyTest.txt"
let path2 = @"c:\temp\MyTest2.txt"

do
    try
        if File.Exists(path) |&gt; not then
            do use fs = File.Create(path)
               ()

        // Ensure that the target does not exist.
        if File.Exists(path2) then
            do File.Delete(path2)

        // Move the file.
        do File.Move(path, path2) |&gt; i

[2018-08-07 06:33] vinrok opened #6870 "Appraisal"
Hats off team. Really amazing tutorials. Done with all QuickStart.
Are there more such interactive tutorials to learn C# from basic to advanced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9df3-d63f-f6a6-aa079eb5095f
* Version Independent ID: a057574c-020f-a9f0-9dfc-f8936a1132fe
* Content: [Collections inte

[2018-08-07 07:56] achrjulien opened #6873 "Exception calling "DownloadString" with "1" argument(s): "The underlying connection was closed: An unexpected error occurred on a send.""
Hi,
Since yesterday, at least, we are getting this error when running `(New-Object System.Net.WebClient).DownloadString("https://dot.net/v1/dotnet-install.ps1") &gt; dotnet-install.ps1` or `wget https://dot.net/v1/dotnet-install.ps1` from a docker container under `microsoft/dotnet-framework:4.7.2-sdk`, this has also been reproduced under a current Windows 10 Desktop install.
[code]
Accessing from

[2018-08-07 10:38] svick commented on #6529
@BillWagner

Maybe, but I don't think it belongs to an article called "How to: Use the *Global* Namespace Alias". Though that could be easily fixed by changing that title.

[2018-08-07 14:09] BillWagner commented on #6581
I'll take the F# article.

[2018-08-07 14:42] BillWagner commented on #5833
Thanks for the clarification @DJN1

A static class can only contain static fields. The rules for allocating the memory follows the rules for static fields in **any** type, in the article I referenced in my earlier comment. Or, the C# language specification on [static constructors](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/classes#static-constructors)

[2018-08-07 14:42] #5833 closed

[2018-08-07 16:02] rpetrusha commented on #6866
Thanks for your question, @ravidw, and for your response, @svick. The IL-generated code includes a [callvirt](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.callvirt) call to IDisposable.Dispose, which translates into a cast to IDisposable in the event that the type disposed by the `using` statement provides an explicit interface implementation.
I hope that this answers

[2018-08-07 16:02] #6866 closed

[2018-08-07 16:53] johnnyagerard opened #6878 "-checked default value"
There seems to be a contradiction that I don't understand.

In the "-checked (C# Compiler Options)" page, it is said the following:
    "The default value for this option is -checked-."

And on this page, it is said that:
    "By default the value of that option is unset".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-07 17:02] pkulikov commented on #6878
@johnnyagerard The `-checked` compiler option has two possible values: `+` (set) or `-` (unset). The last dash in

corresponds to the `-` value (unset) of the option.

The compiler page should be clarified.

[2018-08-07 17:07] johnnyagerard commented on #6878
Thank you for the clarification.

[2018-08-07 17:42] rpetrusha commented on #6878
Thanks for raising this issue, @johnnyagerard, and for pointing out that the documentation needs some clarification, @pkulikov.
In the [-checked (C# Compiler Options)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/checked-compiler-option) topic, the paragraph that mentions the default value is `-checked-` also continues with a scenario that uses `-checked-`, wh

[2018-08-07 20:27] shatl opened #6881 "Throwing an 'Exception' is not a best practice."
from.RollbackTransaction(withdrawalTrxID);
    throw new Exception("Withdrawal failed", ex);

Throwing an 'Exception' is not a best practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ea31f6-516f-100d-046e-1a0445d92824
* Version Independent ID: a713e8c9-8210-761d-9ae7-238793825ff3
* Content: [Best Practices for

[2018-08-07 22:34] rpetrusha commented on #6842
Thanks for pointing this out, @ygoe. The actual intent was to say that additional error codes may be added in the future, not that error codes would somehow morph into other error codes. The documentation at https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2, which is owned by Windows, will be revised sometime soon to remove that confusing sentence, which unfort

[2018-08-07 22:51] SimpleSamples opened #6883 "Incomplete sample"
The sample code is typical of XAML/WPF samples. It is extremely, extremely frustrating. It does not show what EmployeeInfoDataSource is. It is so frustrating because there are so many ways of doing data binding and nearly always the actual definition and declaration of the data is not shown so it is very difficult to know what applies to what.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-08-07 23:02] SimpleSamples opened #6884 "Circular reference"
The link to the DisplayMemberBinding property is a circular reference, right? It refers to itself, right? The link to the ObjectDataProvider object is useless for understanding how to provide a source so the remarks here are useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3724c06-8223-bd94-e000-ec2de320b557
*

[2018-08-07 23:40] rpetrusha commented on #6883
Thanks for pointing this out, @SimpleSamples. Unfortunately, it's true that many of our WPF samples lack context and provide only incomplete code. We've addressed this issue for a different topic in #6806 by including the entire windows1.xaml file and highlighting its relevant portions, but here we'll have to include the definition of the EmployeeInfo and myEmployees classes from windows1.xaml.cs

[2018-08-08 00:08] SimpleSamples commented on #6883
I do not know where the new version of the following is but it is the most important place for the where the explanation to be. It however shows a ListBox and then it leaves the simply binding behind and goes off to animation and shock and awe stuff. The more practical topic (for many businesses) of grids like ListView and DataGrid is not so easy to find.

https://msdn.microsoft.com/en-us/library/

[2018-08-08 03:52] ZhiyongChen17 opened #6887 "code error"
the code below：
 for (int ctr = 0; ctr &lt; integers2d.Rank - 1; ctr++)
        Console.WriteLine("   Dimension {0}: from {1} to {2}",
                          ctr, integers2d.GetLowerBound(ctr),
                          integers2d.GetUpperBound(ctr));
correct out put：
Dimension 0: from 0 to 7

mortify：
 for (int ctr = 0; ctr &lt; integers2d.Rank ; ctr++)
        Console.WriteLine("   Dimension

[2018-08-08 06:59] MikkelHegn commented on #6873
In my experience this is because of the combination of TLS 1.2 requirement on the website and PowerShell. This explains: https://www.codyhosterman.com/2016/06/force-the-invoke-restmethod-powershell-cmdlet-to-use-tls-1-2/ And this sample above shows how to do this from PowerShell: `@powershell -NoProfile -ExecutionPolicy unrestricted -Command "[Net.ServicePointManager]::SecurityProtocol = [Net.Secu

[2018-08-08 06:59] MikkelHegn commented on #6873
Just noticed this: https://github.com/dotnet/docs/issues/5153

[2018-08-08 10:10] achrjulien commented on #6873
I see, thank you. We have used a compiled curl in the meantime. Do you think Powershell will upgrade to 1.2 as default in the following months?

[2018-08-08 12:18] vinaysimharaju opened #6890 "MS Test in VS code"
I have created a MS Test project in VS Code and using selenium C#. In the project I got with launch.json and tasks.json files. I want to have some configuration values like connectionstring and applicationurl in the project. Where I have to create those values and how to read them in the project.

[2018-08-08 14:19] BillWagner opened #6891 "Roslyn Tutorial: Refactoring to Tuple assignment"
This tutorial would teach the refactoring actions, in contrast to the analyzer and code fix structure.

Developers would learn the different UX for a refactoring (surfaces on user request vs. generating warning or error), and how the code changes are updated.

This would replace code like:

[code]

With:

[code]

[2018-08-08 14:21] imba-tjd opened #6892 "No need to declare manually"
From https://github.com/dotnet/docs.zh-cn/pull/167.
In #adding-features-to-the-service step 4:

But as @Anti-Li said,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3ba0-c606-25ada7347b22
* Version Independent ID: e797ddfe-a9d3-93a4-61bd-fd6dc9b8d6b4
* Content: [Walkthrough: Creating a Windows Service App

[2018-08-08 14:22] BillWagner opened #6893 "Roslyn Tutorial: Enforce namespace naming conventions"
The scenario is an enterprise that wants to enforce name conventions for namespaces, classes, structs, fields, and local variables. This tutorial will teach how to enforce those rules via an analyzer. Readers will learn to understand the different capabilities between [editorconfig](https://docs.microsoft.comvisualstudio/ide/editorconfig-naming-conventions) and an analyzer. The rules for the tutor

[2018-08-08 14:25] BillWagner opened #6894 "Tutorial: Never ignore return values"
The scenario is a code style rule that calls to methods with return values should never ignore those values. It will find method calls and check that the return value is evaluated or stored.

The reader will learn to work with both the syntax model (to find method call expressions) and the semantic model (to find methods whose return values are ignored).

[2018-08-08 14:28] BillWagner opened #6895 "Roslyn Tutorial: Don’t catch System.Exception"
This will find catch clauses that catch all exception types. There are multiple fixes offered here.

1. Remove the `catch` clause.
1. Replace with a `finally` clause.
1. Log and re-throw the existing exception
1. Suppress warning (yes, I know that’s built in)

This tutorial generates replacement code using the SyntaxFactory APIs.

[2018-08-08 14:34] BillWagner opened #6896 "Roslyn Tutorial: Refactor null check to ?."
This would be a more advanced tutorial because the code to search for and the replacement are both more involved.  Consider this code:

[code]

It could be replaced with:

[code]

There are a lot of cases to check in this scenario: else clause assignment, code without an else clause.

[2018-08-08 14:50] #5744 closed

[2018-08-08 17:09] tmat commented on #6143
I wouldn't say scripting APIs are part of the compiler layer -- the types in `Microsoft.CodeAnalysis.Scripting` and `Microsoft.CodeAnalysis.CSharp.Scripting` namespaces are built on top of the compiler API. That said the compiler exposes some scripting-specific APIs to support scripting scenarios.

[2018-08-08 17:14] #6847 closed

[2018-08-08 17:39] alphaleonis opened #6898 "Information on generic type names is missing."
This section seems incomplete in that it does not cover how to specify a fully qualified type name of a generic type and its type arguments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3ddfcc-278c-aa14-1132-bb8fb6f12932
* Version Independent ID: 7e89d072-3394-2866-4e38-7a4931d96ca3
* Content: [Specifying Fully Qua

[2018-08-08 20:07] pkulikov commented on #6878
@rpetrusha it looks that #6877 fixes this issue

[2018-08-08 20:31] rpetrusha commented on #6878
Yes, thanks for pointing that out, @pkulikov. I forgot to check that #6877 was linked to this issue, which I'll close manually.

[2018-08-08 20:31] #6878 closed

[2018-08-09 00:53] #6887 closed

[2018-08-09 01:29] BillWagner commented on #6531
Thanks for writing this @TheBeardedLlama

I agree that this is useful information to add. I'm thinking about how best to present it, and how to clearly distinguish versions for different features.  It's complicated because of the interaction between different features.

[2018-08-09 01:33] BillWagner commented on #6534
Thanks for noting this @paulomorgado

I've added it to the next sprint to address.

[2018-08-09 01:56] BillWagner commented on #6586
Thanks for noting this @wrummler

Adding that addition to the document would provide a more complete explanation. I've added this to the backlog.

[2018-08-09 02:13] BillWagner commented on #6870
Thank you for the kind words @vinrok We're glad these are helping.

We don't have more yet, but there will be new topics coming soon.

[2018-08-09 02:13] #6870 closed

[2018-08-09 09:17] TheBeardedLlama commented on #6531
My pleasure @BillWagner
This type of available in version thingamabob is quite heavily used in SQL server and TFS docs.
Something similar to that would work I think.
I'm not sure what you mean about interaction? There's a table in one of the repos (sorry can't remember the URL) that lists what feature was made available at which version of C#. Wouldn't that be all that's required?

[2018-08-09 10:17] sharpjoe commented on #6358
IMO Igor was right, it's a bad design.  There are much better examples of switch and is then one that should not be done this way.  Either virtual methods or an IShape interface would have been better for the compute area.  The problem isn't that pattern matching is always bad it's that you chose a bad example.  (the last example is not so bad...)  Code like these examples are the kind of thing th

[2018-08-09 11:35] ckams opened #6906 "Defining Attributes in Metadata Classes Doc for NetCore"
## Requests for new Topics
Explain how `ModelMetadataType` works.

Put there, in Table of Contents:

   - https://docs.microsoft.com/en-us/dotnet/standard/attributes/

Almost copy and past [from this page](https://docs.microsoft.com/en-us/previous-versions/msp-n-p/ff664465(v=pandp.50)).

**Adapt the code for NETCore:**
[code]

[2018-08-09 11:46] svick commented on #6906
If you're talking about [`Microsoft.AspNetCore.Mvc.ModelMetadataTypeAttribute`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.modelmetadatatypeattribute?view=aspnetcore-2.1), then that's specific to ASP.NET Core, so I think it shouldn't be documented in the general documentation for .Net.

If that's the case, then I think this issue should be closed here and reopened at [the

[2018-08-09 12:02] turowicz opened #6908 "Bounded Capacity"
What's the recommended way to introduce DataflowBlockOptions to this example? Mainly bounded capacity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe912a6b-f1de-948b-c1d3-bc873aa413e4
* Version Independent ID: 47c42c32-2b0d-c708-deb1-f79ff6e96988
* Content: [Walkthrough: Creating a Custom Dataflow Block Type](https:

[2018-08-09 12:35] ckams commented on #6906
You right, I did a mistake…

[2018-08-09 12:35] #6906 closed

[2018-08-09 13:16] Ashutosh-K-Singh commented on #6728
Hi, @mairaw and @noahfalk , can you guys have look and provide me some solution? It would be highly appreciable.
Thanks

[2018-08-09 13:44] goodtimetribe commented on #6531
I agree. I think it should be updated to reflect the version numbers for which this is available.

[2018-08-09 14:08] BillWagner commented on #6531
@TheBeardedLlama

Do you mean [this table](https://github.com/dotnet/csharplang/blob/master/Language-Version-History.md)?

If so, that's a good solution.

My concern about interplay of different features is when there are subtle changes to existing features. Here are a couple examples:

- Expression Bodied Members were added in C# 6. Except for the methods where they were added in C# 7.
- The `swi

[2018-08-09 14:57] TheBeardedLlama commented on #6531
That would be one of the tables yes. I think there's another one, but that's not important.

In the case of features evolving across versions, my recommendation would be to adopt TFS/VSTS docs conventions and have a tabbed section (or something to that effect) with what the feature looked like in a particular version.
I can't remember if SQL server docs do that as well. I think they do, but I'm no

[2018-08-09 16:51] tmat commented on #6773
https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/CommandLine.md has up to date documentation of the switch.

[2018-08-09 17:52] rpetrusha opened #6912 "Confusion of importing namespaces and referencing assemblies"
# Confusion of importing namespaces and referencing assemblies

In numerous places in the conceptual documentation, and particularly in the **Compiling the Code** section, namespaces and assemblies are confused. For example, before it was modified by #6911, [How to: Override a Global Proxy Selection](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/how-to-override-a-global-pro

[2018-08-09 18:06] JohnCOsborne opened #6913 "How would I know how to format the extensions?"
Maybe I've missed it, but just by looking at the documentation I don't see how I would know to format the extensions. I'm assuming they should be comma separated. I.e.

[FileExtensions(Extensions = ".pdf,.doc,.docx")]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ba200f-edc6-84ca-4784-5cfd24b6f2ba
* Version Independ

[2018-08-09 18:34] daesolus opened #6914 "Diagram using dark theme"
Some of the diagram is really hard to read in dark mode. Grey title on dark background is not ideal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Version Independent ID: fa6385e8-91ad-7949-382f-ca8e03f8201c
* Content: [Domain events. design and implementation](https://docs.micro

[2018-08-09 18:43] AnthonyLloyd commented on #6775
3's instances are consistent:

[code]

can also be consistent with list / array style:

[code]

[2018-08-09 19:34] Thraka commented on #6846
Right now there is nothing we can do about this type of problem. These main type pages (and the TOC itself) sort of pulls everything in for all frameworks. I've previously opened an internal bug about this and I will update it with reference to this issue.

Thanks for alerting us!

[2018-08-09 19:39] rbwhitaker opened #6917 "Incorrect information in TransformBlocks"
The info about TransformBlocks says this:

The delegate that you provide to a TransformBlock&lt;TInput,TOutput&gt; object can be of type System.Func&lt;TInput, TOutput&gt; or type System.Func&lt;TInput, Task&gt;. When you use a TransformBlock&lt;TInput,TOutput&gt; object with System.Func&lt;TInput, TOutput&gt;, processing of each input element is considered completed when the delegate returns. Whe

[2018-08-09 20:52] ryzngard commented on #6846
For my undestanding, is this due to it being an inherited method? The base stream page handles this correctly [https://docs.microsoft.com/en-us/dotnet/api/system.io.stream?view=netcore-2.0](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream?view=netcore-2.0 )

Thanks for looking into this

[2018-08-09 23:19] mairaw commented on #6802
Both tasks are now done. Closing this.

[2018-08-09 23:19] #6802 closed

[2018-08-09 23:25] mairaw opened #6923 "Standardize See also section to use bulleted list"
Our See also section is not standardized at the moment. Some sections use bulleted lists, while others use the entries with two spaces at the end. After a contributor's PR, we discussed internally and decided it was better to use bulleted list from now on. When contributing to this issue, break into smaller PRs so we're not overwhelmed by a huge PR.

[2018-08-09 23:39] mairaw commented on #6914
Thanks for your feedback @daesolus. This is a duplicate of #6547, so I'll be closing this one for that reason.

[2018-08-09 23:39] mairaw commented on #6914
Duplicate of #6547

[2018-08-09 23:39] #6914 closed

[2018-08-10 00:02] mairaw commented on #6686
PR https://github.com/dotnet/dotnet-api-docs/pull/411 fixed this as there were some 1.1 assemblies that were causing conflicts with the VS SDK ones.

[2018-08-10 00:02] #6686 closed

[2018-08-10 02:02] HimuRami opened #6925 "Typo in Remarks."
Under Remarks (there is a typo):
It reads:
The binary & operator evaluates both operators regardless of the first one's value.
Should Read:
The binary & operator evaluates both operands regardless of the first one's value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c47bf29e-0135-c2d7-fe44-35f9dc57d585
* Version Ind

[2018-08-10 04:16] durgeshtiwari12345 opened #6926 "List Tutorial"
Useful tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9df3-d63f-f6a6-aa079eb5095f
* Version Independent ID: a057574c-020f-a9f0-9dfc-f8936a1132fe
* Content: [Collections interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/list-collection?tutorial-step=7)

[2018-08-10 06:19] gyuwon opened #6927 "Question about language"
I have a question about the language. This document defines the terms fake, mock, and stub. Where does the definition of them come from? Many programmers use these terms as defined in the xUnit pattern, and they differ from the definitions in this document. I'm not saying the xUnit pattern is correct or this document is wrong, but because many programmers already follow the definition of the xUnit

[2018-08-10 07:30] ralphhendriks opened #6929 "WCF package references not added with version 1.0.0"
I followed the instructions exactly, and I didn't see the following behavior (as mentioned under step 5):

I figured out that this only happens using the 1.0.0 version of the tool. The latest version available (1.0.2) indeed adds the WCS package references.

Under step 3, I think it is better to include a wildcard specifier for the patch level in the CLI tool reference:

[code]

---
#### Document

[2018-08-10 08:47] Shah-Nisarg opened #6930 "Example usage of int.TryParse is incorrect in second paragraph"
The second paragraph states:

However, [`int.TryParse`](https://msdn.microsoft.com/en-us/library/f02979c7(v=vs.110).aspx) method expects a second parameter of Int32 type. Having known this, the sentence comes across as confusing. I had to look up the documentation to see if there wasn't an overload that allowed just one parameter.

I would suggest using `int.Parse("11")` or `int.TryParse("11", out

[2018-08-10 09:14] moyanming opened #6931 "How to use the "CodePagesEncodingProvider" Class at .NET core 2.1?"
I want to use the code page (e.g. code page 936) which is not supported in UWP apps. I can get the code page 936 by use the "CodePagesEncodingProvider" class at .NET core 2.0, but it seems that there is not available at .NET core 2.1, how to fix this?
Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5c26a9

[2018-08-10 11:28] lefig opened #6935 "Feedback"
Great tutorial. It cuts to the chase and gets folk up to speed. Please consider similar material that explores other scenarios and some of the models used for selection. Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad-5057-5f96f52dc

[2018-08-10 14:34] BillWagner commented on #6926
Thank you @durgeshtiwari12345

I'm glad it was helpful.  Closing as kudos.

[2018-08-10 14:34] #6926 closed

[2018-08-10 14:58] BillWagner commented on #6773
The current doc is missing `/debug:portable` and `/debug:embedded` descriptions.

The other key change i that `/debug:pdbonly` should be called out as a Windows only debug format. The `/debug:portable` would be preferred.

[2018-08-10 15:08] LisandroSu opened #6938 "Comando "CreateOrderCommand" não existe no código-fonte linkado"
@MarcoNicolodi commented on [Thu Aug 09 2018](https://github.com/dotnet/docs.pt-br/issues/61)

Na seção "Eliminando a duplicação de eventos de mensagem no nível do EventHandler" há um link para o código fonte, falando sobre o "CreateOrderCommand", que não existe no arquivo.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟

[2018-08-10 15:09] LisandroSu commented on #6938
Hello team,

Please check on the users comments.

They roughly translate to _"In the "Deleting duplicate message events at the EventHandler level" section there is a link to the source code, talking about the "CreateOrderCommand", which does not exist in the file."_

And the one below: _"Probably also the logic quoted in the text was passed into the mediatr handler and is no longer in the linked f

[2018-08-10 15:12] dodo99 opened #6939 "wrong URL"
in step 4 … HYPERLINK "http://localhost:8000/ServiceModelSamples/Service" …
the address is wrong.  If you follow the first 3 tasks of the tutorial, the address should be "http://localhost:8000/GettingStarted/CalculatorService/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c27c6cc-63c8-5c3d-f344-228f8ad86c90
* Versio

[2018-08-10 15:27] ElusiveTau opened #6940 "What does it mean for a path to be "independent of the current directory"?"
"a file path is fully qualified (that is, it the path is independent of the current directory and does not change when the current directory changes)"

Can you provide an example of a fully qualified path and a non fully qualified path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b74b99ff-32f8-c2d1-0a62-5907985f591e

[2018-08-10 15:46] #6599 closed

[2018-08-10 16:03] sk0777 opened #6941 "public class Process : System.ComponentModel.Component"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84993cb7-37e6-01ef-9b25-8cea57f5a125
* Version Independent ID: 723dcba4-f26d-7567-77af-4e93f41a0df9
* Content: [Process Class (System.Diagnostics)](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process?view=netframework-4.7.2#Properti

[2018-08-10 16:09] tmat commented on #6773
Also `/debug:pdbonly` is exactly the same as `/debug:full`. It's not really a Windows-only switch.
It will produce Portable PDB on Linux and Windows PDB on Windows.

[2018-08-10 16:10] tmat commented on #6773
You can link https://github.com/dotnet/designs/blob/master/accepted/diagnostics/debugging-with-symbols-and-sources.md#pdb-formats that discusses the PDB formats.

[2018-08-10 17:02] rpetrusha commented on #6925
Thanks for pointing out the typo, @HimuRami. We've opened PR #6943 to correct it.

[2018-08-10 17:50] pjanotti opened #6945 "ConditionalWeakTable does not release values if values reference the ConditionalWeaktable itself"
This is a special case described at https://github.com/dotnet/corefx/issues/19765. The issue is if one of the values added to the `ConditionalWeakTable` references the table itself then one must call `Clear` (or use one of the other workarounds described on the issue) to ensure that there are no leaks.

This is not mentioned explicit on the docs but seems a special case that should be documented t

[2018-08-10 18:44] rpetrusha commented on #6940
Thanks for your question, @ElusiveTau.

A fully qualified file path describes a path that starts from a drive and its root. For example, C:\users\user1\documents\reports\2018\ is fully qualified. Provided that they identify file system objects that actually exist, fully qualified paths should always succeed in identifying the file system resource.

A non-fully qualified path is any path that assum

[2018-08-10 18:44] #6940 closed

[2018-08-10 18:47] rpetrusha commented on #6941
Do you have a question about the Process class, @sk0777. The syntax indicates that Process inherits from System.ComponentModel.Component.
I'll close this issue, but if you have a question, please feel free to reply.

[2018-08-10 18:47] #6941 closed

[2018-08-10 18:47] svick opened #6947 "Should Inheritance hierarchy be shown for value types and delegates?"
I have noticed that in the API reference, Inheritance hierarchy is shown even for value types. E.g.:

![](https://user-images.githubusercontent.com/287848/43975096-c6f5800a-9cdc-11e8-9c00-20b5421e0a2c.png)
![](https://user-images.githubusercontent.com/287848/43975106-cf1eebae-9cdc-11e8-8ced-e71e6a578dbc.png)

While this information is certainly correct, my question is: Is it useful enough to be sh

[2018-08-10 19:00] BenMcLean opened #6949 "How to: Connect to a Database - What if things go wrong?"
This page needs to provide help on how to check whether the connection succeeded and what to try next in case it fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2448ac4-a6d0-e376-36fe-c6279fd606c8
* Version Independent ID: 50f1aa4e-8e0e-2bee-db10-9c65c11b4028
* Content: [How to: Connect to a Database](https://do

[2018-08-10 19:48] rpetrusha commented on #6930
Thanks for pointing out that the method call is incorrect, @Shah-Nisarg. We've addressed the issue in PR #6950 by using `Int32.TryParse("11", out number)`.

[2018-08-10 19:48] jgscherber opened #6951 "Make side bar collapsible"
It would make the site easier to use if the side bar on the left was collapsible. When using the site is resized to only take up half the screen, like done by Windows when dragged to the edge of the screen, the side bar takes up over a quarter of the web page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a1a95c-878

[2018-08-10 20:28] LisandroSu opened #6952 "Disagreement with ECMA-334"
@flaviotsales commented on [Fri Aug 10 2018](https://github.com/dotnet/docs.pt-br/issues/62)

The two comments
[code]
disagrees with the ECMA-334 standard on 11.5.2 Permitted user-defined conversions, which says

&gt;* Either S0 or T0 is the class or struct type in which the operator declaration takes place.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação d

[2018-08-10 20:29] LisandroSu commented on #6952
Hi team,

Please check on the issue reported by the user.

Thanks!

[2018-08-10 21:11] BillWagner commented on #6952
This is an error. The comment should read:

[code]

[2018-08-10 21:26] JRAlexander commented on #6935
Thanks, @lefig!

[2018-08-10 21:26] #6935 closed

[2018-08-10 21:30] JRAlexander commented on #6938
Thanks! It has been added to the backlog.

[2018-08-10 21:31] BillWagner commented on #6947
I agree that it's a lot of space. Do you think that just showing `struct` or `delegate` is sufficient? Or do you have a different, more concise, presentation in mind?

[2018-08-10 22:25] mairaw commented on #6951
Thank you for your feedback @jgscherber. I'll be closing this one as a duplicate of https://github.com/MicrosoftDocs/feedback/issues/167.  You should follow progress there.

[2018-08-10 22:25] #6951 closed

[2018-08-10 22:55] rpetrusha commented on #6947
I agree that it's not particularly useful. The only marginal utility that I can think of is, in the case of enums and possibly of delegates, that it's a reminder that their members should be available through inheritance, since they're not listed in the documentation of delegates and enums.

[2018-08-11 02:49] gyuwon commented on #6927
At first, this is the definition in the current version(`947d54f8`) of the best practice document.

    Fake - A fake is a generic term which can be used to describe either a stub or a mock object. Whether it is a stub or a mock depends on the context in which it's used. So in other words, a fake can be a stub or a mock.
    Mock - A mock object is a fake object in the system that decides whether

[2018-08-11 05:08] jpreese commented on #6927
Ok so it seems like we're OK with the Mock definition.

For stub, you call out that they cannot be used for a public API. What type of test double would at that point then? I would consider a stub both a "canned answer" as well as input to instantiate objects or pass as parameters. I think the stub definition highlights that stating that it's a way to not have to deal with a dependency directly. Y

[2018-08-11 06:07] Shah-Nisarg opened #6955 "Link to "Friend Assemblies" takes me to MSDN"
In the section "Class and Struct Accessibility", the final paragraph has a link to topic "Friend Assemblies":

However, the link takes me to MSDN, where I have to choose from either a C# link or a VB link. Clicking on the C# link takes me back to docs: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/assemblies-gac/friend-assemblies.

Given that the original ["Access Modif

[2018-08-11 09:04] gyuwon commented on #6927
According to the xUnit pattern, if I can prepare all answers for all possible cases of input(but why should I do?) so it can be a working implementation of a component, that is a stub and also fake because it not only provides canned answers but also fully functions. but if the test double provides answers only for single(or few) cases, then it's a stub but not a fake because it does not fully fun

[2018-08-11 13:01] svick commented on #6947
@BillWagner Now that I think about it, there might be a third option: making the `struct`/`enum`/`delegate` keyword in the definition into a link. Though I'm not sure myself whether it's a good idea. And it might be infeasible technically.

[2018-08-11 13:52] svick commented on #6803
It works fine for me on Windows 10. Are you sure you downloaded the file correctly? Where exactly do you get that error?

[2018-08-11 14:12] matthid commented on #6775
Added a suggestion PR https://github.com/dotnet/docs/pull/6956, which tries to capture this discussion

[2018-08-11 14:27] RoswellMiller opened #6957 "Every parameter needs a definition"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e33e02e9-72e6-0a74-f937-35fe7bed9a6c
* Version Independent ID: 0def1c45-6427-6fc4-6590-3bd92dc0e86b
* Content: [GlyphRun Constructor (System.Windows.Media)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.glyphrun.-ctor?view=netframew

[2018-08-11 16:26] johnnyagerard commented on #6002
"Type" is a shorthand for "data type".

In C#, there are five types of "type" :
-class
-struct
-interface
-enum
-delegate

[2018-08-11 17:06] crtjr64 commented on #6881
Who wrote that rule? You? How do you expect that inner exceptions are created in the first place? What if you have an exception handler in the attribute in your controller that logs errors or would you just create exception logging throughout the application and think that's best practice? Good luck with the next programmer not cursing you out when the exception logger is upgraded.

[2018-08-11 18:07] jpreese commented on #6927
Nope, I don't believe it's rude. Just a discussion 👍

So FWIW a lot of the information presented comes from Roy Osherove's school of thought when it comes to unit testing. I've read his books, watched his lectures, and agree with pretty much everything he says when it comes to unit testing. Obviously I wouldn't consider his approach or xUnit's approach wrong, just a different way of thinking.

In

[2018-08-11 18:23] Andikki opened #6959 "C# Concepts are hard to link"
"C# Concepts" (as seen on the left) section doesn't have a dedicated page, and half of the articles there lead to a different hierarchy. I like the content of this section, and think it's a great resource to point beginners to. But looks like there's no link to provide them with. It's not listed in the "C# Guide" page either.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-08-11 18:58] Advanium opened #6960 "Confused about the termination event"
"The one new method here is the WhenAny(Task[]) call. That creates a Task that finishes as soon as any of the tasks in its argument list completes."

This is kind of misleading as the `work` action in `GetInput` actually will never finish before `ShowTeleprompter`. So the termination event is the one where the end of the file gets hit.

Am I wrong?

---
#### Document Details

⚠ *Do not edit this s

[2018-08-12 05:44] neil-rubens opened #6964 "Implementation on Azure"
How would you

How could domain events be implemented on Azure.  In particular which Azure services are fitting, and do you combine them.

Relatively little has been written on this topic so far.  This presentation seems good: https://www.slideshare.net/biztalk360/serverless-cqrs-in-azure

It talks about possible implementations; e.g. Azure Functions vs Azure Logic Apps; and Azure Service Bus vs A

[2018-08-12 05:49] neil-rubens opened #6965 ""in-process" event firing/handling and micro-services"
I assume that in micro-services architecture there many processes; so could one assume that event will be fired and handled "in-process"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Version Independent ID: e41af96d-f015-a8e0-4449-7a508d7bccc8
* Content: [Domain events. design a

[2018-08-12 05:51] neil-rubens commented on #6964
I've asked this question also on: https://stackoverflow.com/questions/51806013/implementing-domain-events-ddd-cqrs-on-azure

[2018-08-12 08:32] raych1 opened #6966 "Config security via AppContext not working in web.config"
[Enter feedback here]
Regard to configuring security via AppContext switches, it works when I set them in app.config for console application. However, it doesn't work when set them in web.config for website project. Is it by design or a bug?
This is the settings I add.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-08-12 12:57] svick commented on #6812
@stg609 I agree with you on points 1 and 2, so I created Pull Requests https://github.com/dotnet/docs/pull/6967 and https://github.com/dotnet-architecture/eShopOnContainers/pull/704 to fix that.

I'm not sure about point 3, so I'll let someone else answer that.

[2018-08-12 18:14] jkotas opened #6968 "Enumerable.Except method filters the enumerable to distinct items; this isn't stated."
_From @ekolis on August 12, 2018 18:0_

For instance if I have

    var nums = new int[] { 1, 1, 2, 3 };
    foreach (var num in nums.Except(new int[] { 3 }))
	Console.Write(num);

I expect to see 112 but I only see 12.

_Copied from original issue: dotnet/coreclr#19443_

[2018-08-12 18:14] jkotas commented on #6968
_From @Tornhoof on August 12, 2018 18:13_

According to https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.except?view=netcore-2.1#System_Linq_Enumerable_Except__1_System_Collections_Generic_IEnumerable___0__System_Collections_Generic_IEnumerable___0__

it's defined as the _set difference_, a set in mathematics is not allowed to have duplicate values.
The source code example even s

[2018-08-12 20:10] svick commented on #6908
I think the best approach is to split the incoming `BoundedCapacity` in two (say, 50-50) and use those values to set `BoundedCapacity` of the two component blocks. That way, the resulting block will have capacity that is the sum of capacities of its components.

[2018-08-12 21:29] johnnyagerard commented on #6417
@svick No I did not get any negative value. I just wrote a list of values which is indeed ambiguous.

@BillWagner I was wrong. I think the example is correct. It just randomly produced whole values in your example and I could not believe it was random. The chances of this happening are increased by the fact that the value is rounded off at 2 decimals.
And if you get a first whole value, the progra

[2018-08-13 10:51] NextTurn opened #6971 "Duplicate AttributeUsage"
Two identical `AttributeUsage` in the Definition section.
Reference: https://msdn.microsoft.com/en-us/library/system.serializableattribute%28v=vs.110%29.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a16ef3-cdac-5710-038b-015c5b39279a
* Version Independent ID: e361bd3e-7bb5-50b4-4988-03331424cc3e
* Content: [Ser

[2018-08-13 13:24] Joostul opened #6972 "Continuity error in the code examples."
Between step 7 and 8 a different variable name is used. In step 7 the Xml document is called 'xmlDoc' and in step 8 it is referred to as 'Doc'.

The code in step 7 also doesn't match the description. The description describes loading an xml from a file, while the code simply creates a new empty xml document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-08-13 13:27] Shah-Nisarg opened #6973 "Is an abstract method a "method"?"
The second paragraph in section "Method Signatures" says:

[code]

Three of the methods in the code example are implemented, while the fourth one is abstract. This seems to imply that the fourth method is not considered a "method".

I am inclined to believe that the wording is incorrect, but if not, could someone clarify this?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-08-13 13:34] johnnyagerard opened #6975 "NullReferenceException"
The following code does not raise a NullReferenceException.

[code]
Is this considered as boxing and unboxing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a88bb6-664f-99b3-07be-22a666888d11
* Version Independent ID: bea53588-8e8d-5f80-d572-178cd8ba48cb
* Content: [Boxing and Unboxing (C# Programming Guide)](https:

[2018-08-13 13:48] kunkliricsi opened #6977 "Possible typo"
In the Essential Samples section at the union part, the GetHashCode(Dog d) function shouldn't return b's but d's GetHashCode() function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e7bc95-4062-e6df-7475-21973ed1becc
* Version Independent ID: 571fd6fd-95b6-6fc9-d4df-9b44da6a01b4
* Content: [LINQ (Language Integrate

[2018-08-13 15:40] #6925 closed

[2018-08-13 15:45] BillWagner commented on #4154
This was fixed in #6081

[2018-08-13 15:45] #4154 closed

[2018-08-13 15:56] #6917 closed

[2018-08-13 16:24] ChrisMaddock opened #6979 "StringBuilder note specific to .NET Framework 4.0 and 4.5"
https://docs.microsoft.com/en-gb/dotnet/api/system.text.stringbuilder?view=netframework-4.7.2#notes-to-callers

In this section, the stringbuilder API docs refer specifically to .NET Framework 4.0 and 4.5. I assume the same comment also applies to everything later that .NET Framework 4.0, and all non-framework APIs (e.g. Core, Xamarin.)

I'm not sure what the convention is for referring to 'all th

[2018-08-13 17:03] JRAlexander commented on #6929
@ralphhendriks, thanks for the feedback! @mlacouture, any thoughts?

[2018-08-13 17:06] mlacouture commented on #6929
@ralphhendriks, thank you for your feedback, I think you are right!  @JRAlexander, can we do that? thanks

[2018-08-13 17:11] #6775 closed

[2018-08-13 17:13] #6930 closed

[2018-08-13 17:39] CodeSwimBikeRunner opened #6980 "Automatically get Latest Version"
How would I automatically get the latest version? Lets say the package is maintained by me, and I always want the latest one from my nuget repository? I Tried Version="1.1.*.*" and this did not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f76f1f9-ebac-1b77-f735-52cdf5b973ed
* Version Independent ID: 3e3f4bb2-4

[2018-08-13 18:28] avifarah opened #6981 "Missing Associativity"
Missing Associativity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eeac581-6235-2192-d909-e7fe3d21197f
* Version Independent ID: 9d8e2a57-1c18-8cba-9bd4-eef546fe2dcb
* Content: [C# Operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/index)
* Content Source: [docs/csharp/language-re

[2018-08-13 18:41] #6755 closed

[2018-08-13 20:05] douglaslMS commented on #6949
@BenMcLean Your suggestion is a good suggestion. However, we don't have examples of retry code readily available to simply paste in, and opinions differ about the best way to write that code. (See for example [How to introduce retry logic into LINQ to SQL to deal with timeouts?](https://stackoverflow.com/questions/2591827/chow-to-introduce-retry-logic-into-linq-to-sql-to-deal-with-timeouts) and [A

[2018-08-13 20:28] mairaw commented on #5832
Moving this top the backlog for now.

[2018-08-13 20:29] mairaw commented on #5804
@cartermp when do you plan on addressing this?

[2018-08-13 20:33] mairaw commented on #5765
Moving this to the backlog. We need to sit down with @dend and understand how this works for auto-generated content.

[2018-08-13 20:37] BillWagner commented on #6981
@avifarah Can you add some detail on what you think is missing related to associativity here? An example would help.

[2018-08-13 20:38] mairaw commented on #6756
@rpetrusha @chlowell can you help with this issue? This is in the migration guide path but there's no TOC for this.

[2018-08-13 20:40] mairaw commented on #6955
Thanks @Shah-Nisarg. It's a migration issue that we need to fix it,

[2018-08-13 20:42] mairaw commented on #6892
Thanks for your feedback @imba-tjd. We've added this to our backlog.

[2018-08-13 20:43] mairaw commented on #6939
Thank you for your feedback @dodo99. We've added this to our backlog.

[2018-08-13 20:45] mairaw commented on #6980
@KathleenDollard @livarcocc @dsplaisted can you help with this question? Is there a way to use * or something?

[2018-08-13 20:45] cartermp commented on #5804
Yep. Been slammed with other work, though.

[2018-08-13 20:47] mairaw commented on #6977
Thanks for your feedback @kunkliricsi. Would you like to submit a PR for this?

[2018-08-13 20:50] mairaw commented on #6945
@pjanotti would you like to help us with a PR for this?

[2018-08-13 20:52] BillWagner commented on #6973
That's a really good catch @Shah-Nisarg

It should be 4 methods.  I noticed you had submitted a PR earlier. Would like to submit a PR for this fix?

[2018-08-13 20:55] mairaw commented on #6152
Thanks for your feedback @jmdurdin. We added this to our backlog.

[2018-08-13 20:56] mairaw commented on #5914
Thanks @FrancescoBonizzi. @douglaslMS can you look at this issue?

[2018-08-13 20:57] mairaw commented on #6521
Thanks @GingerSnap-xx. @csharpfritz is this something you can help with?

[2018-08-13 20:58] mairaw commented on #6525
@merriemcgaw @Tanya-Solyanik can you help with this question?

[2018-08-13 21:03] pjanotti commented on #6945
I can get it started. Should it be a note on the remarks section at https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2?view=netcore-2.1 ?

[2018-08-13 21:03] mairaw commented on #6890
Thanks @vinaysimharaju. Have you tried submitting this as a product feedback or asking on StackOverflow?    If you do submit an issue, please post the link here so others can find it as well.

[2018-08-13 21:03] #6890 closed

[2018-08-13 21:17] livarcocc commented on #6980
You can just use * in the version.

[2018-08-13 22:25] mairaw commented on #5804
No worries @cartermp. Should I move this to the backlog then?

[2018-08-13 22:33] crdr opened #6984 "Good basic overview for Software Rookie"
I have a hunch what CLR is. I ordered the book by Richter .. I am curious how C# and .NET correspond with Windows' browser .. we'll see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c41cd795-9320-ab3c-b2d6-0184fc0985d2
* Version Independent ID: 93459fb6-e4db-8a74-79af-3bc3e606fcbb
* Content: [Common Language Runtime

[2018-08-13 22:45] kevinknowscs opened #6985 "Lambda Expression URL Link"
The current Lambda expression link under the C# 3.0 section points to an external resource. A better choice would be for it to point here ... https://docs.microsoft.com/en-us/dotnet/csharp/lambda-expressions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 57

[2018-08-13 22:46] kevinknowscs opened #6986 "Expression Trees URL Link"
The expression trees link under C# 3.0 should point here instead ... https://docs.microsoft.com/en-us/dotnet/csharp/expression-trees

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
* Content: [The history of C# - C# Guide

[2018-08-13 22:49] kevinknowscs opened #6987 "Embedded Interop Types URL Link"
The embedded interop link under C# 4.0 should point here instead ... https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
*

[2018-08-13 22:53] kevinknowscs opened #6988 "Caller Info Attributes URL Link"
Although the external link to the CodeProject document is helpful, a better choice for this link would be here ... https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 57

[2018-08-13 23:30] cartermp commented on #5804
Yes, please!

[2018-08-13 23:53] WayneGoosen commented on #6855
@BillWagner I would like to help out. Could I please tackle this issue and submit a PR?

[2018-08-14 00:11] BillWagner commented on #6855
Thanks @WayneGoosen

We'd be happy to have a PR on this. @- mention me if you have any questions.

I'll suggest opening a WIP (Work in Progress) PR when you start an outline. I'll look for it.

[2018-08-14 00:45] BillWagner commented on #6799
@vmkbagci I looked through the topic and the sample code, and I can't find source that is similar to what you have in the issue above. Can you elaborate on what you're seeing? Perhaps posting a gist would give me more background.

[2018-08-14 01:08] imba-tjd commented on #6975
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/nullable-types/using-nullable-types#boxing-and-unboxing

[2018-08-14 03:00] jpreese commented on #6927
My gut says to simplify the Language section and just highlight the Mocks vs. Stubs debate. It seems like we agree with the Mock definition, and there's a slight difference with stub, but I may be able to generalize it further.

I'm OK with dropping defining "fake" as it potentially takes away from the meat of the section (mocks vs. stubs). Using that same logic, I don't necessarily want to includ

[2018-08-14 04:29] Shah-Nisarg commented on #6973
Thanks for clarifying @BillWagner
I have created a PR.

[2018-08-14 04:59] JoshuaKGoldberg opened #6993 "Is there a way to read in a .csproj?"
Looking at the sample that includes `CSharpCompilation.Create("HelloWorld")`, it's unclear how set up a workspace with a .csproj file rather than a single string location as an entry point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f68fa439-55b3-ff14-e2d1-2373615d978b
* Version Independent ID: 33c84a67-2ca2-fd1c-3

[2018-08-14 05:11] JoshuaKGoldberg opened #6994 "Could you please provide contextual information and samples for DiagnosticAnalyzer?"
Other than https://msdn.microsoft.com/magazine/dn879356.aspx, I can't find anything on what this class is, why we'd use it, or how.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e42c855-e72c-4702-e3f6-bcd1e16ecb61
* Version Independent ID: 6e333fe2-60fe-748b-f3f0-744f3ff62270
* Content: [DiagnosticAnalyzer Class (Mic

[2018-08-14 07:11] pietervdheijden commented on #5706
Great, this fixed my code! I'd suggest to modify the snippets on this page accordingly.

[2018-08-14 08:45] bobsort opened #6995 "decimal points in pixel?"
As far as I know, pixel is smallest unit of measurement (doesn't have decimal points).
How do you draw on 0.39 pixel or a 14.39 pixel line which doesn't cover 14 pixel or 15 pixel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3f6c7d6-a5a5-0cfa-45ed-23e99e236b6e
* Version Independent ID: cc28c628-46d6-520a-d5e5-c4768

[2018-08-14 08:48] jahav opened #6996 "Order of attributes matter to XNode.DeepEquals"
The description is misleading: "Two XElement nodes are equal if they have the same tag name, the same set of attributes with the same values" would suggest that order of attributes doesn't matter (since it is a set), but the order does matter.

E.g. following will result in false, i.e. noequivalent XMLs.
XElement xmlTree1 = new XElement("Root",
    new XAttribute("Att1", 1),
    new XAttribute("At

[2018-08-14 09:36] higtrollers opened #6998 "Framework not conforming with ISO 3166 for country/region"
For example, Antarctica (AQ | ATA) and many others are not present when retrieving all regions.

Example:
[code]

The second paragraph (as per below) in `Remarks` section is not a true statement as I cannot find some of the cultures ISO 3166 presents.

&gt; The name of a RegionInfo object is one of the two-letter codes defined in ISO 3166 for country/region. Case is not significant. The Name, TwoL

[2018-08-14 09:37] kunkliricsi commented on #6977
Duplicate of #6997

[2018-08-14 10:09] ygoe opened #6999 "Missing description / formatting issue"
It would be nice to see a description at the top, not just for each overload. Because they probably all do the same.

Also, there's a remark only for the last overload (with one parameter) that finally explains (sort of) what these methods do and why. But it has additional paragraph breaks in the middle of the sentence.

I'd also wish for a more detailed explanation of how this is done, to imagine

[2018-08-14 10:26] mikedn commented on #6995
That pixel unit without decimal points is really a unit of rendering, not an unit of measurement.

As a unit of measurement, there's nothing special about fractional pixels even if you can't draw 2.3 pixels or start a line at (2.3, 3.7). During rendering, such fractional values will be transformed to integer pixel coordinates according to various rules (e.g. rounding). If antialiasing is enabled,

[2018-08-14 11:21] vladkolodka opened #7000 "Duplicate"
This article duplicates the content of another article section (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/creating-xml-trees-linq-to-xml-2#attaching-vs-cloning)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a278f01e-2dfd-e169-9eb5-77fcc0c58ccc
* Version Independent ID: 8c764d02-50f

[2018-08-14 11:44] johnnyagerard commented on #6975
@imba-tjd Thanks.

[2018-08-14 12:25] breyed opened #7001 "Storage of sort result"
After the deferred execution is invoked by calling `GetEnumerator`, does a second call to `GetEnumerator` cause the sort to be re-calculated (picking up any changes to the underlying sequence), or is the result of the first sort reused?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 778faaf9-9b35-44e3-befb-56bc19eae568

[2018-08-14 12:59] svick opened #7002 "Issues with equality in LINQ examples"
The examples in this article that are related to equality have several issues:

1. The implementation of `DogHairLengthComparer.GetHashCode` is:

    https://github.com/dotnet/docs/blob/c7539d980f4e424d511b2bd30ade9ee6e7a9f3bc/docs/standard/using-linq.md#L168-L172

    I don't know what "simple objects" are, but this code is wrong: when two objects are compared as equal, they have to have the same

[2018-08-14 13:12] brotherBear opened #7003 "Unclear documentation - ServiceContract vs. ServiceContractAttribute"
As a complete noob on .Net and WCF, I found it very confusing when the example on this page uses a different `attribute` than the text on the same page.

Another source told me that the two are in fact synonyms. If this is the case, I would recommend that this fact is explained on this page (and on the documentation for the Attributes)

In any case, the intermingling of the terms is very confusing

[2018-08-14 13:32] svick commented on #6998
I don't understand, that paragraph does not say anything about what `CultureInfo.GetCultures(CultureTypes.SpecificCultures)` returns.

If you want to get region info for a specific region based on its ISO code, you can use [its constructor](https://docs.microsoft.com/en-gb/dotnet/api/system.globalization.regioninfo.-ctor?view=netframework-4.7.1#System_Globalization_RegionInfo__ctor_System_String_)

[2018-08-14 14:14] BillWagner commented on #6994
I'm working on an article that should address this now. You can look at #6824 for the current draft. An updated version should be ready later today.

[2018-08-14 16:35] #6955 closed

[2018-08-14 16:51] JRAlexander commented on #6984
Thanks for your feedback, @crdr!

[2018-08-14 16:51] #6984 closed

[2018-08-14 17:36] #6977 closed

[2018-08-14 17:50] mairaw commented on #6949
Reopened so @BenMcLean can keep track of when this is fixed and added to our backlog milestone.

[2018-08-14 18:04] marcroussy commented on #4675
I have a scenario with a Windows 7 machine with 4.7.1 installed and a WPF application that targets 4.7.1. The app isn't setting the SystemDefaultTlsVersions, and therefore should be using the OS default (which should be TLS 1.0, since 1.1 and 1.2 aren't enabled by default on Win7).

The endpoint I'm calling from the WPF app has TLS1, 1.1, and 1.2 enabled.

I'm getting a connection error in the WPF

[2018-08-14 18:11] davidsh commented on #4675
Yes, unfortunately.

If your app is targeting .NET 4.7.x, then effectively you are using 'SystemDefaultTlsVersions' regardless of you setting the registry key.  The behavior default is ON when targeting .NET 4.7.x.

On Windows 7 / Windows Server 2008 R2, the default set of TLS protocols in the OS doesn't include TLS 1.1 nor 1.2.  So, the highest you will get then is TLS 1.0.

But since your servic

[2018-08-14 18:33] #5369 closed

[2018-08-14 19:01] mairaw commented on #6999
Hi @ygoe, thanks for your feedback. Yes, docs.microsoft.com now allows us to do this instead of having to add remarks individually because all overaloads are now all in one page. But the size of the reference is huge and we haven't had time to make this sort of improvement yet since we migrated the content. I've added this to our backlog.

[2018-08-14 20:44] mgregory22 opened #7012 "SecurityException?"
The explanation for why the WebRequest.CreateHttp() call would throw a SecurityException currently states: "The caller does not have permission to connect to the requested URI or a URI that the request is redirected to."  Is that thrown if and only if the server returns a 401 HTTP status?  No, that can't be right because the request hasn't even executed yet.  What security is this referring to?

-

[2018-08-14 20:54] JRAlexander commented on #6908
@turowicz, I'm closing this issue as it looks like it's been resolved. Please reopen if that is not the case. Thanks!

[2018-08-14 20:54] #6908 closed

[2018-08-14 22:41] spottedmahn opened #7013 "How to Switch Between the 2"
This page does a great job of describing the differences but I can't find a link to how to switch between the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .NET Core and .NET Framework fo

[2018-08-14 22:50] mairaw commented on #7013
@spottedmahn what do you mean switch between the two? Can you provide more information on what you're trying to achieve?

[2018-08-14 22:52] yxrkt opened #7014 "Incorrect Description for receiveTimeout"
The function of receiveTimeout is to close a session when no messages have been received for a while.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2df044-5ee1-a253-80f6-3fa92c5a88ad
* Version Independent ID: 44498f0c-62e0-f0ab-2130-118d6a71c16c
* Content: [&lt;netNamedPipeBinding&gt;](https://docs.microsoft.com/en-

[2018-08-14 23:18] sebastienros opened #7015 "Provide bigger images"
On this article:
https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/large-object-heap

Some image are too small to provide any meaning (Fig. 2 and 3), but their full-size original source is available on this blog post when you click on them:
https://blogs.msdn.microsoft.com/maoni/2016/05/31/large-object-heap-uncovered-from-an-old-msdn-article/

[2018-08-15 00:13] mairaw commented on #6581
Round 1 is over @scottaddie, so I'm closing this one. We need to ask for an updated report and perhaps a report for the dotnet-api-docs repo.

[2018-08-15 00:13] #6581 closed

[2018-08-15 02:30] noahfalk commented on #6728
You might want to check out https://github.com/dotnet/coreclr/issues/18977. It doesn't have an answer for you yet, but I think its going in that direction.

[2018-08-15 02:33] lucasnobredev commented on #4439
Hello @rpetrusha , is there another section to review or can we finish this job?

[2018-08-15 02:35] BenMcLean commented on #6949
Oh thanks. Yeah, it would be nice to see what ends up getting written about this.

[2018-08-15 05:58] andynewcomb opened #7019 "Propogate Down the call stack?"
This Exception handling guide keeps referring to an exception being thrown "down the call stack" and in the opening paragraph state:

"Once an exception is thrown, it propagates up the call stack until a catch statement for the exception is found"

I believe the runtime is executing code at the top of the call stack, and therefore an exception would be thrown at the top of the call stack and then

[2018-08-15 08:54] bobsort opened #7020 "QueueStatus is always PrintQueueStatus.None"
Example is not clear.

I tried following code in a timer and then turn off printer, remove paper, turn on printer, remove tonner, open the door, etc and message box never popped!

            PrintQueue queue = new LocalPrintServer().GetPrintQueue("printername");
            queue.Refresh();
            if (queue.QueueStatus!= PrintQueueStatus.None){
                MessageBox.Show(queue.QueueStat

[2018-08-15 13:40] moyanming opened #7021 "There is no AsStream() method."
According to the example [here](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-convert-between-dotnet-streams-and-winrt-streams#to-convert-from-a-windows-runtime-random-access-stream-to-a-net-framework-stream), I can't get the AsStream() method, how to fix this?
![qq 20180815213759](https://user-images.githubusercontent.com/13234209/44151021-df7860d4-a0d3-11e8-9d27-f96fc613f4cb.jpg)

-

[2018-08-15 14:17] LisandroSu opened #7023 "Problems in backreference construction in regular expressions"
@Jokacer commented on [Wed Aug 15 2018](https://github.com/dotnet/docs.zh-cn/issues/186)

In "What Backreferences match", in the explanation of the pattern "(?&lt;1&gt; a)(?&lt;1&gt; \ 1b)*" ，I think "(?&lt;1&gt;\1b)*" should match 1  value in group 1 instead of 0 or 1,is it right?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: e2fa77ea-67e4-d972-e6c4-9eff4203ce3e
*

[2018-08-15 14:18] LisandroSu commented on #7023
Hi team,

Please check the question reported by the user.

Thanks!

[2018-08-15 14:50] mathewknott opened #7024 "Microsoft.ML sentiment-analysis results issue with different versions of Microsoft.ML"
Seems to be an issue with this sample

The sample works with Nuget Package Microsoft.ML 0.3.0
When running 0.4.0 you get different results.

That is, both results in the console are positive for 0.4.0. The first result should be negative if it is supposed to be the same as 0.3.0, which I'd assume it would.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-08-15 15:37] JatinSanghvi opened #7025 "Templates defined but not applied"
The two templates `typeItemTemplate` and `amountItemTemplate` are defined in step 3 under "Style data with data templates" section. The next steps has text "Apply the templates to the DataGrid columns that display the expense report data." but they are not actually being used in the following code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-08-15 16:06] LogOg commented on #7024
Same issue, get both as positive even if I use exact wording from sample, i.e. 'RUDE'
Also noted that if use 2.0 in csproj file get lowere percentages than if use 2.1.
Tried bringing in the csproj, project.cs and SentimentData.cs files from samples on GitHub but got the same, thats how I saw the test results differ based on .net core version

[2018-08-15 16:07] pkulikov commented on #7024
Indeed, output with **0.3.0** version:
[code]

Output with **0.4.0** version:
[code]

Note, evaluation metrics values have also changed.

It's not clear from the [release notes](https://github.com/dotnet/machinelearning/blob/release/preview/docs/release-notes/0.4/release-0.4.md) what might have caused the observed change.

The used trainer is [FastTreeBinaryClassifier](https://docs.microsoft.com/e

[2018-08-15 16:33] convexbytes opened #7026 "little typo in code"
Inside Window_Loaded function, AxWMPLib should be renamed to WmpAxLib

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c83f79-91e4-e89f-5791-ad0ec41fc622
* Version Independent ID: e87aa8be-b171-df3c-5eea-d54645116c95
* Content: [Walkthrough: Hosting an ActiveX Control in WPF](https://docs.microsoft.com/en-us/dotnet/fra

[2018-08-15 16:34] JRAlexander commented on #6995
@bobsort, it looks like this has been resolved, so I'm closing it. Please reopen if this is not the case. @mikedn, Thanks for the assistance!!

[2018-08-15 16:34] #6995 closed

[2018-08-15 16:35] JRAlexander commented on #7024
@GalOshri, any insight on this?

[2018-08-15 16:40] JRAlexander commented on #7025
Thanks, @JatinSanghvi, for the feedback. This has been added to the backlog.

[2018-08-15 16:42] JRAlexander commented on #7026
@convexbytes, thanks for letting us know. Would you like to make the change and submit a PR for this?

[2018-08-15 16:47] JRAlexander commented on #7023
Thanks, @LisandroSu, this has been added to the backlog.

[2018-08-15 17:10] convexbytes commented on #7026
Thanks for the quick response. I have created a PR.

[2018-08-15 17:19] JRAlexander commented on #7003
Thanks for your feedback, @brotherBear! This has been added to the backlog.

[2018-08-15 17:21] szyb opened #7028 "Please update the document and include .Net Core 2.1"
Please update the document and include .Net Core 2.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)
* Content Source: [docs/standa

[2018-08-15 17:26] JRAlexander commented on #7015
Thanks, @sebastienros, for the feedback. This has been added to the backlog.

[2018-08-15 17:33] LogOg opened #7029 "Adding Predictions does not do well"
Added a few more tests and results not great
Sentiment Predictions
---------------------
Sentiment: Please refrain from adding nonsense to Wikipedia. | Prediction: Negat
ive
Sentiment: He is the best, and the article should say that. | Prediction: Positi
ve
Sentiment: You are just rude. | Prediction: Positive
Sentiment: Your staff left me standing for 15 minutes | Prediction: Positive
Sentiment: G

[2018-08-15 18:05] mairaw commented on #7028
2.1 doesn't need to be added to the topic. The table lists the minimum version for each .NET Standard version. So closing this one by design. But please let me know if I missed anything.

[2018-08-15 18:05] #7028 closed

[2018-08-15 18:08] mairaw commented on #7029
Thanks for your feedback @LogOg. This seems a duplicate of #7029. @JRAlexander, what do you think?

[2018-08-15 18:11] pkulikov commented on #7029
It's related to #7024

[2018-08-15 18:13] JatinSanghvi commented on #7025
@JRAlexander, Not all branches in the repo including the 'masters' have `/samples` directory. In which branch should I submit a PR to update the code snippets?

[2018-08-15 18:14] LogOg commented on #7029
Hi Guys,

The scenario I described was run on 0.3.0 not 0.4.0 so the issue of #7029
is not the cause

Thx,

Logan

On Wed, 15 Aug 2018, 8:12 PM Petr Kulikov <notifications@github.com> wrote:

[2018-08-15 18:45] JRAlexander commented on #7029
We'll have to do some more investigation with the team but given the different versions,  two different issues.

[2018-08-15 18:46] JRAlexander commented on #7029
@sfilipi or @GalOshri - any thoughts?

[2018-08-15 19:07] FaridaAkhtyamova opened #7030 "Typo?"
&lt;quote&gt; Beginning with C# 7.0, you can use pattern matching to both examine and get a value of a nullable type: if (x is int xValue) y = xValue; &lt;/quote&gt;
I think it should be x.Value as in the previous example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab99a9ea-4645-92cd-723a-4a38fbee371e
* Version Ind

[2018-08-15 19:28] Thraka commented on #6583
Hi @newton3 I just checked and I see the file generated in the `\bin\Debug\netcoreapp2.1` output folder. Can you check your output folders?

[2018-08-15 19:46] pkulikov commented on #7030
@FaridaAkhtyamova the code is correct:
- `x` variable is of type `int?` while
- `xValue` is another variable of type `int` that contains the value `x.Value` if `x` has value.

That code uses pattern matching, in particular, the [`is` type pattern matching expression](https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching#the-is-type-pattern-expression)

Thank you for feedback. To avoid an

[2018-08-15 19:56] pkulikov commented on #7029
@LogOg thank you for clarification. I thought you've tried to update the training set to investigate #7024

By the way, this issue is related to the sentiment analysis tutorial (not the taxi fare one as metadata points out):
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis

[2018-08-15 20:15] GalOshri commented on #7029
My guess is that the results are largely due to the sample datasets being very small and the tree parameters also being small (`{ NumLeaves = 5, NumTrees = 5, MinDocumentsInLeafs = 2 }`).

Text classification scenarios generally require more data to train a good model (the training data in this sample has 250 examples). You would also want to modify the tree parameters based on the dataset. Using

[2018-08-15 20:25] ajhstn opened #7033 "Value missing in Srv2016?"
Hello, I have scripts running that retrieve the Name property from this object, however after upgrading one of our DCs to Server 2016, this scripts stopped processing as the DC list was empty and thefore, the script had nothing to do..

Is this expected?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d076a8-cd0b-a4bd

[2018-08-15 20:58] GalOshri commented on #7024
This is likely due to the datasets being very small so random fluctuations can cause large differences in metrics (the 5% difference in accuracy just means that 1 out of the 18 examples in the test data flipped).

The other factor is that the tree parameters (`{ NumLeaves = 5, NumTrees = 5, MinDocumentsInLeafs = 2 }`) are very small which limits the performance of the trees. When I switch to defau

[2018-08-15 21:03] LisandroSu opened #7035 "Data para dados"
@alrcastro commented on [Thu Jul 12 2018](https://github.com/dotnet/docs.pt-br/issues/57)

Só um detalhe que o path no exemplo esta como "Data" e no começo foi pedido para criar uma pasta com o nomes de "Dados"

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version I

[2018-08-15 21:10] pkulikov commented on #7035
@LisandroSu  This is the translation issue. The step 2 of this list:
https://docs.microsoft.com/pt-br/dotnet/machine-learning/tutorials/taxi-fare#create-a-console-application

says to create the folder "Dados" while the code sample uses the "Data" folder. Step 2 should be translated as

Note that in the first step "TaxiFarePrediction" is correctly not translated.