[2019-05-03 11:36] RamanJindal commented on #4675
Hello,

Would like to clarify the information present in the following section - https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-wcf-using-net-framework-35---452-using-tcp-transport-security-with-certificate-credentials.

What about WCF frameworks (3.5 to 4.5.2) that are using TCP transport security with **Windows authentication**? This seems to be left out in the art

[2019-05-03 15:36] #11494 closed

[2019-05-03 15:41] #11477 closed

[2019-05-03 15:42] #11476 closed

[2019-05-03 15:43] #11475 closed

[2019-05-03 15:52] luisquintanilla commented on #11888
Duplicate of #11887

[2019-05-03 15:53] #11888 closed

[2019-05-03 17:59] Thraka commented on #12144
I don't think so. Doing a quick search I find this from a decade ago talking about the same thing:

https://social.msdn.microsoft.com/Forums/en-US/e9ff109d-713b-448f-8fa4-6eb475baf562/automationaddautomationfocuschangedeventhandler-throws-an-exception

So I think it's just something going on underneith everything and because you're debugging, you're just seeing it happen.

I'm going to close this

[2019-05-03 17:59] #12144 closed

[2019-05-03 18:01] mhectorgato opened #12174 "FormatException: Couldn't load model: 'TransformerChain\Transform_001\Model'"
Using v1 RC, I built my model as such:
`
var trainingPipeline = modelConfig.pipeline
                .Append(modelConfig.mlContext.MulticlassClassification.Trainers
                .SdcaNonCalibrated("Label", "Features"))
.Append(modelConfig.mlContext.Transforms.Conversion.MapKeyToValue("PredictedLabel"));
`

Then later on when trying to load the mode zip, I get the following error:
       FormatE

[2019-05-03 18:06] Thraka commented on #12171
@xtianus79 Would [EDM Generator](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/edm-generator-edmgen-exe) be a better tool for entity framework core?

@rowanmiller thoughts?

[2019-05-03 19:05] mconnew commented on #4675
The TCP transport only uses TLS/SSL when certificate credentials are being used. When using Windows credentials with the TCP transport you can ignore this document as we use NegotiateStream to secure the connection.
If you are using any of the HTTP bindings and your endpoint is using HTTPS, then this document still applies as usage of Windows credentials over HTTP are for authentication only and a

[2019-05-03 19:11] Thraka commented on #11662
I tracked down the problem. The version feed for aspnetcore does not contain the hash for the version, and the script fails on line 177 where it tries to access the hash value.

@dsplaisted @stevenbrix.

[2019-05-03 19:27] Thraka commented on #12154
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-03 22:32] #11485 closed

[2019-05-03 22:34] #10957 closed

[2019-05-03 22:35] #10956 closed

[2019-05-03 22:39] blackblather commented on #12132
At first when i read the article it seemed very clear, but then i read your comment and now I'm confused...

[2019-05-03 23:08] dsplaisted commented on #11662
@johnbeisner Can you look at this?  Is this a bug in the script or is it a problem with the version feed (or both)?

[2019-05-04 01:07] mdell-seradex opened #12180 "Startup event order is different"
VisibleChanged happens before Load when loaded using Show() or ShowDialog().
This is detected in Windows 10 targeting framework 4.5.2 and 4.6.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d3a80d-9468-0283-435b-f45f4827b920
* Version Independent ID: c879f822-8677-5e20-bcc7-52e1595d8883
* Content: [Order of Events i

[2019-05-04 05:29] rubbalbhusri commented on #11258
Can you sight an example where inheritance leads to a buggy and un-maintainable code? It'll help to all the audience to understand more of this perspective.

[2019-05-04 09:30] RamanJindal commented on #4675
Thanks for the clarification!!

[2019-05-04 11:05] rubbalbhusri opened #12183 "Can abstract keyword come anywhere before or after public keyword in method declaration?"
In the example above, the class named ShapeClass has an abstract method Area. I'm doubtful about the syntax of the method declaration. Can abstract keyword come anywhere before or after public keyword in method declaration? It's used as: abstract public int Area(); Is it correct? or Should it be like: public abstract int Area();

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-04 14:32] mhectorgato commented on #12174
Works correctly in release version 1.

[2019-05-04 14:32] #12174 closed

[2019-05-04 15:15] dimiste commented on #12157
I thought that in the case of:

`var eggsTask = FryEggsAsync(2); `

the type returned is "Egg", so I modified the variable type to "Task <Egg>", but, I realized that the type returned is really "Task <Egg>". I had not understood logic well.
Therefore, it is not necessary to change the variable type to a specific type.
You are right about the third change, the variable is "Toast" type. I did not ha

[2019-05-04 16:39] Thraka opened #12184 "Fixes for plugin article"
@rpetrusha @mairaw A question came in on the framework email DL related to this article. I checked it out and noticed it's not in the TOC.

Some things I noticed about this article that need to be fixed:

- Article is missing from TOC
- Missing an introductory paragraph; should start with more information other than just "in this tutorial (bullet points)"
- I think there are a few long H2's that c

[2019-05-04 16:42] Thraka commented on #11662
@dsplaisted I think it's both possibly. Does the feed need to include the hash? I would assume it should since the dotnet feed (non asp runtime feed) does include the hash. If that hash is in the feed result, the script will work correctly.

The script could be modified to be more robust in detecting the hash missing.

[2019-05-04 17:22] #12154 closed

[2019-05-04 18:13] svick commented on #12183
[Yes, it can.](https://sharplab.io/#v2:EYLgHgbALANALiAbgUwE4EsBmBPAPgQ2AGc5V8BjOAAgAEAmKgZQAt8AHZIgYQBt8iiAWABQAbxFVJVQiTKVaAZiroAdtQCCqZPgAUASgDcIgL5A) Though `public abstract` is the more common way, so maybe the documentation should be changed anyway?

[2019-05-04 20:24] jafz commented on #10301
I'm not even sure why the TextExtension is necessary at all, as long as the KeyUsage is done properly - but I'm not really a pro with certificates. It took me an hour to end up with the line below, that also worked:
$rootCert = New-SelfSignedCertificate -CertStoreLocation Cert:\CurrentUser\My -DnsName "RootCA" -KeyUsage CertSign,CRLSign -KeyUsageProperty Sign
It'd be great if this site that pops u

[2019-05-04 20:54] user2150 commented on #12132
Do you mean why there is
var eggs = await eggsTask;
instead of
var eggs = eggsTask.Result;
?

[2019-05-04 21:51] svick commented on #12132
If the condition `finished == eggsTask` is true, then that means both variables refer to the same `Task`. But the type of `finished` is `Task`, not `Task<Eggs>`. This means it's valid (but pointless) to write `await finished;`, but you can't write `var eggs = await finished;`. Using `eggsTask` instead is the best option here. But if you really want to use `finished`, you can, though it requires a

[2019-05-05 05:19] rubbalbhusri commented on #12183
Thanks for your kind reply. The Area is considered as a verb because it does something, it involves the calculation taking field values.

[2019-05-05 10:55] prakash-manit commented on #12132
I was about to put a comment but saw that it's already added. The question is why you need to await at all after the task is finished and the message is printed. I am still not able to make out the real purpose of adding var eggs = await eggsTask; after printing Console.WriteLine("eggs are ready");

[2019-05-05 11:02] prakash-manit commented on #12132
I have also checked that adding var eggs = await eggsTask doesn't seem to be making any delay as the task is already completed and control simply goes to the next line. It seems a redundant code to me unless I am missing anything.

[2019-05-05 11:12] svick commented on #12132
That part of the code is indeed odd. One thing you could try to do would be to use the `eggs` variable, along with the other variables, in the following code to finish the breakfast. But you can't easily do that here, because the variables are in a nested block.

I guess this is where the metaphor of making breakfast breaks down, I'm not sure if there's a good way to fix that code.

[2019-05-05 11:20] carljfoster opened #12185 "Where is the foreach loop?"
The for loop lesson doesn't teach anything about the foreach loop. Surely this should be included?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77dec100-463d-f684-03b6-25f511d1d18f
* Version Independent ID: 27921da6-71b0-6dfc-2824-c84844152d8e
* Content: [Branches and loops - Introduction to C# interactive tutorial](

[2019-05-05 11:22] carljfoster opened #12186 "Incorrect statement Interpolated Strings as next tutorial"
It says to click the Interpolated strings link for next tutorial but the next tutorial is list collection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77dec100-463d-f684-03b6-25f511d1d18f
* Version Independent ID: 27921da6-71b0-6dfc-2824-c84844152d8e
* Content: [Branches and loops - Introduction to C# interactive tut

[2019-05-05 12:37] UtkarshBais opened #12188 "Updates for C# 8 needed."
We need this page to be updated for C# 8 and Visual Studio 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
* Content: [The history of C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-ver

[2019-05-05 14:12] rubbalbhusri opened #12189 "Ephemeral Segment contains objects that survived a generation-0 garbage collection"
Quote
"Each new segment acquired by the garbage collector becomes the new ephemeral segment and contains the objects that survived a generation 0 garbage collection. "
Does that mean ephemeral segment contains objects of generation-1 because it contains objects that survived garbage collection-0 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-05-05 18:08] JimDaly opened #12191 "Code Access Security docs not shown in TOC"
There is no toc.yml file in the misc folder for these 20 or so topics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b136e1b9-ac93-6fc4-616a-c24c6acf4945
* Version Independent ID: b8e47e7a-4e2e-fc0a-b0e3-20d219e97dac
* Content: [Code Access Security](https://docs.microsoft.com/en-us/dotnet/framework/misc/code-access-s

[2019-05-05 23:01] mairaw commented on #12191
That’s by design but I should move the security articles into a different section.

[2019-05-06 05:08] #12186 closed

[2019-05-06 05:09] mairaw commented on #12186
Thanks @carljfoster for your feedback and @pkulikov for making the fix.

[2019-05-06 07:26] KalleOlaviNiemitalo opened #12192 "Validating Issuer Name Registry API Reference is empty"
The page says: "This section contains the API Reference for the Validating Issuer Name Registry WIF Extension."
However, neither the page itself nor the table of contents lists any namespaces or types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ff631de-6b0a-bef2-22dc-5567d51e57a5
* Version Independent ID: 86d9015e

[2019-05-06 13:20] rauhs commented on #9961
Link on this page still broken!

[2019-05-06 13:24] #12102 closed

[2019-05-06 13:36] #11887 closed

[2019-05-06 14:21] MNF opened #12196 "Does Lazy(T)(LazyThreadSafetyMode) cache exceptions?"
In the table the line
 Lazy(T)(LazyThreadSafetyMode)	User-specified	No	No
said , that exceptions are not cached, but in https://docs.microsoft.com/en-us/dotnet/api/system.threading.lazythreadsafetymode?view=netframework-4.8#System_Threading_LazyThreadSafetyMode_ExecutionAndPublication it said that ExecutionAndPublication and None modes cache exceptions. Who is wrong?

---
#### Document Details

⚠

[2019-05-06 14:41] BillWagner commented on #12094
Fixed in #12172

[2019-05-06 14:41] #12094 closed

[2019-05-06 15:34] NextTurn commented on #9894
@rpetrusha

What about *Customizing string marshaling* (like [Customizing parameter marshaling](https://docs.microsoft.com/dotnet/standard/native-interop/customize-parameter-marshalling))? These articles not just focus on the default behaviors.

[2019-05-06 15:39] Thraka commented on #12192
Thank you for opening this issue. I'll look into getting this fixed.

Thanks again!

@mairaw @rpetrusha There must be something missing with this article, almost as if there is another reference doc set that is supposed to be in the TOC here?

[2019-05-06 15:43] Thraka commented on #12188
Thank you for opening this issue. I'll add it to the backlog.

@BillWagner Not sure if you'll be updating this for C# 8 preview's but this issue can track that work.

Thanks again!

[2019-05-06 16:02] sethrandall opened #12200 "Character group gotcha"
Can the character groups section include a note that if you want to match a hyphen ('-'), that it must be included first or last in the group? Otherwise it is treated as a range and is not matched.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4698e-4220-c422-a554-8a481803d240
* Version Independent ID: f0e3b82a-8d8

[2019-05-06 16:58] Const-me commented on #9894
@NextTurn Thanks, at least title is more relevant now.

But I would really like to have the default marshalling documented somewhere. Don’t care in which article, but the exact behavior is quite important.

From experiments, I know the defaults are different based on everything: OS and platform (tested on windows .NET 4.7+ and ARM Linux .NET core 2.0+), and also the location (dll/so imported funct

[2019-05-06 17:04] NextTurn commented on #9894
Well... This article is in .NET Framework Guide so it only applies to .NET Framework on Windows :(

[2019-05-06 17:13] Const-me commented on #9894
@NextTurn The defaults are different in every case, and undocumented, even on Windows.

[2019-05-06 17:33] RamanJindal commented on #4675
@davidsh -  What you mentioned above is opposite to what has been documented here https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#schusestrongcrypto

**If your app targets .NET Framework 4.6 or later versions, this key defaults to a value of 1**

[2019-05-06 18:30] KalleOlaviNiemitalo commented on #12192
[JSON Web Token Handler API Reference](https://docs.microsoft.com/en-us/dotnet/framework/security/json-web-token-handler-api-reference) is listed in the TOC and redirects to [a wiki on GitHub](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki), as configured in [.openpublishing.redirection.json](https://github.com/dotnet/docs/blob/130c4180fac0f5bf19e76d3c68b

[2019-05-06 18:35] Narvey opened #12205 "Methods without parameters?"
In order to avoid confusion with methods with 0 parameters, I propose code formatting be added to "out" in the title "Calls to methods with out parameters". Thus it would be:

## Calls to methods with `out` parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8047b417-55af-c6df-9333-f1e1c428e594
* Version Independ

[2019-05-06 18:40] Thraka opened #12206 "Document dotnet-publish single-file executable deployment"
.NET Core 3.0 Preview 5 introduced single-file deployments. These are standalone executables that bundle all app assets and dependencies into a single-file that is self-extracting and forwards executable to the extracted exe.

Design docs: https://github.com/dotnet/designs/tree/master/accepted/single-file

ALSO:
- Update https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli

[2019-05-06 18:43] Thraka opened #12207 "JSON serialization with .NET Core 3.0"
.NET Core 3.0 Preview 5 implemented a full JSON serialization stack. We should document how to use the new JSON serializer to serialize and deserialize objects. Objects can be customized with attributes to control serialization.

More information: https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/docs/SerializerProgrammingModel.md

[EDIT] This issue will cover the initial publicati

[2019-05-06 18:56] rowanmiller commented on #12171
cc @divega @ajcvickers who look after EF these days

[2019-05-06 19:09] Narvey commented on #8727
I have a feeling there is no legitimate use case for discards in `is var` pattern matching. If the expression always returns true, then the only reason you are even doing it is for the output value, right? Then why would you throw that value away?

[2019-05-06 20:43] daveyostcom opened #12210 "see also how to use #if for language version"
this page should include a reference for that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49205137-dcec-a120-e5e7-1b9c79cdafbb
* Version Independent ID: 4352856b-5ccf-8e62-48b4-3151340cac56
* Content: [Target frameworks](https://docs.microsoft.com/en-us/dotnet/standard/frameworks)
* Content Source: [docs/standard/fr

[2019-05-06 20:49] daveyostcom opened #12211 "#if CSHARP_8_0"
I can't find documentation anywhere that talks about this. If it isn't supported, it should be! Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* Content: [Select the C# language version - C# Guide](https://docs.mi

[2019-05-06 21:54] BillWagner commented on #12120
The compile-time type matters because there are `is` expressions where the result is known to be `true` or `false` at compile time:

[code]

I'll close this as an answered question.

[2019-05-06 21:54] #12120 closed

[2019-05-06 22:02] BillWagner commented on #12150
@junpark12 The syntax is different, but you could do it.  It would look something like:

[code]

Then, you'd create an indexer that works similar to the `TryGetMember` in the example.

The [ExpandoObject](https://docs.microsoft.com/en-us/dotnet/api/system.dynamic.expandoobject?view=netframework-4.8) may have exactly what you want.

I'll close this an an answered question.

[2019-05-06 22:02] #12150 closed

[2019-05-06 22:06] rpetrusha commented on #12200
Thanks for your suggestion, @sethrandall. The Quick Reference page is the wrong place to include this level of detail, though. However, it is important to note, as is the fact that the first character in a range must have the lower code point and the second the higher code point. I've added those details to the [Character Classes in Regular Expressions](https://docs.microsoft.com/dotnet/standard/b

[2019-05-06 22:11] MNF opened #12214 "Why ExecutionAndPublication and PublicationOnly have such names?"
Could you please explain in the article, why ExecutionAndPublication and PublicationOnly have such names? The descriptions of modes do not mention publication and it is not clear how behavior is associated with the name of mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c082508c-af74-1d6a-a954-e70aca02e1a4
* Versi

[2019-05-06 22:25] BillWagner commented on #12157
Thanks for the clarifications @svick and @dimiste

I'll close this as an answered question.

[2019-05-06 22:25] #12157 closed

[2019-05-06 22:28] BillWagner commented on #12183
Thanks for pointing this out @carljfoster
And for the clarifying comments @svick

I've added this to our backlog, and added the "up for grabs" label.

[2019-05-06 22:33] BillWagner commented on #12185
That's a great suggestion @carljfoster

The fix should also be included in the [local version](https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/intro-to-csharp/branches-and-loops-local.md) of the same tutorial.

I've added this issue to our backlog, and added the "up for grabs" label.

[2019-05-06 22:34] BillWagner commented on #12211
Adding @jcouv for comment on this feature.

[2019-05-06 22:53] jcouv commented on #12211
I'm not aware of any such feature. I'm not sure when you would want to use that.

You should be able to get this behavior by defining your own constant in MSBuild:
[code]

[2019-05-06 22:57] daveyostcom commented on #12211
It's useful for those of us who love great new language features, those of us to refactor constantly, always looking for a better way to express things.  After you're sure you won't have to go back to the old compiler, you can remove the #if and the old crufty syntax.

Nice workaround!

[2019-05-06 23:02] divega commented on #12171
@xtianus79 @Thraka. This page refers to a command line tool for LINQ to SQL. EF Core has it's own set of command line tools, documented at https://docs.microsoft.com/ef/core/miscellaneous/cli/.

[2019-05-06 23:03] divega commented on #12171
@rowanmiller I have answered the question. I think this can be closed.

[2019-05-06 23:09] dionoid opened #12216 "Need an example of using PermutationFeatureImportance with featurized text"
There is documentation on explaining model predictions using Permutation Feature Importance [here](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net). It uses input data that is already featurized.

But if your input data contains a number of text-columns, and you featurize these text columns using mlContext.

[2019-05-07 00:51] Lxiamail commented on #12000
@yujayee can you help with this question?

[2019-05-07 02:32] rubbalbhusri opened #12219 "How static constructor is used to write log files"
If Static Constructor runs only once and that too when the first object of the class gets created or any before any static member gets referenced, then how would a static constructor be able to write logs in one shot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3ed1c5-1f79-9234-beec-b5771c3fb3c0
* Version Independ

[2019-05-07 03:21] daveyostcom opened #12221 "various"
It's not clear hear exactly what it means to build against .Net Standard instead of core or other library. I gather that netstandard is just an indirection layer interposed in front of some real library, so that you can build against a common set of apis implemented by all of the various actual libraries. This should be explained.

A pointer to a page about preview releases would be useful.

---
#

[2019-05-07 03:48] tedyyu opened #12222 "broken link"
Programming Windows Identity Foundation link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d59e31-aa64-1ec6-f46e-28a1adf28be9
* Version Independent ID: cf9c7748-5943-aef4-3068-824cc74b23da
* Content: [Windows Identity Foundation 4.5 Overview](https://docs.microsoft.com/en-us/dotnet/framework/security/wif-o

[2019-05-07 04:02] CatalinAdlerDF commented on #9415
@mairaw Just as WinForms/WPF now runs on top of .NET Core, I'd be desirable to be able to run WebForms on top of .NET Core.

Tons of apps out there that would benefit from migration to Core.

[2019-05-07 04:52] elias-rod opened #12223 "Incomplete example"
There is no implementation code for step 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6a5f33d-52b9-fd2a-ecd0-35582d462f2c
* Version Independent ID: 80c4a287-3ad7-6642-ed89-d63cc71e860b
* Content: [How to: Handle Multiple Events Using Event Properties](https://docs.microsoft.com/en-us/dotnet/standard/events/how-to

[2019-05-07 06:00] user2150 opened #12224 "The sample doesn't work"
I've downloaded the sample and am trying to run the QueueResults app.

When pressing the Start button it writes "Downloads failed." (Actually there's a HttpRequestException: An error occurred while sending the request.)

And the following messages are in the output:
	Exception thrown: 'System.Security.Authentication.AuthenticationException' in System.dll
	Exception thrown: 'System.ObjectDisposedEx

[2019-05-07 06:18] tedyyu opened #12225 "broken link"
Windows Azure Access Control Service (ACS) link is now broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb55b04-9cd6-e613-0b01-897b3fb6ad02
* Version Independent ID: f94109b2-5626-776c-4bca-e7380d7103fb
* Content: [Building My First Claims-Aware WCF Service](https://docs.microsoft.com/en-us/dotnet/framework/secur

[2019-05-07 06:33] user2150 opened #12226 "Cancel and Restart the Operation: may be synchronization required in StartButton_Click"
There is the following code at the top of the method:
	if (cts != null)   // (1)
	{
		cts.Cancel();  // (2)
	}

And at the bottom:
	if (cts == newCTS) // (3)
		cts = null;    // (4)

What if threads A and B work in the following order:
A: if (cts == newCTS) // (3) true
B: if (cts != null)   // (1) true
A: cts = null;        // (4) cts becomes null
B: cts.Cancel();      // (2) NullReferenceExceptio

[2019-05-07 06:36] user2150 commented on #12226
Got it: there are no different threads as all event handlers work in the UI thread

[2019-05-07 06:37] #12226 closed

[2019-05-07 08:49] PeterPann23 opened #12227 "Add missing explanations that are used for the predicted column (label), not only feature vector"
there is no mention on preparing the label data.
text (Git hub issue labeler)
int (iris)
double (taxi)

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596631)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01c298a5-b76f-25d9-beda-e298ac03cf35
* Version Independent ID: 392a

[2019-05-07 08:51] KalleOlaviNiemitalo commented on #12192
The Validating Issuer Name Registry API is documented in Previous Versions:

- [System.IdentityModel.Tokens Namespace](<https://docs.microsoft.com/en-us/previous-versions/ms581396(v=vs.115)> "System.IdentityModel.Tokens Namespace () | Microsoft Docs")
- [ValidatingIssuerNameRegistry Class (System.IdentityModel.Tokens)](<https://docs.microsoft.com/en-us/previous-versions/dn464225(v=vs.115)> "Valida

[2019-05-07 08:53] PeterPann23 opened #12228 "Normalization on vector or fields"
No mention on the strategy to normalize a vector of data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01c298a5-b76f-25d9-beda-e298ac03cf35
* Version Independent ID: 392ab238-4442-015c-ec30-eae546794cc9
* Content: [Prepare Data - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/prepare-d

[2019-05-07 10:24] lonevvolf opened #12229 "Installation fails because exe is in use"
When trying to run this on a system where a version of dotnet is already installed, but I would like to update it to a newer version, I get:
The process cannot access the file 'C:\Program Files\dotnet\dotnet.exe' because it is being used by another process.
Shouldn't the script have a way to Force installation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-07 12:00] larsbeck commented on #12075
I am having a similar issue, however in my case I do have positive labels in my training data. I wrote a small test and figured out that you have to have >15% positive datapoints, otherwise this error occurs (I had 8%). I guess it does make sense to not have such a skewed dataset from an ML perspective. Maybe there is a way to deal with this programmatically or change the exception message. The wa

[2019-05-07 12:12] prochan2 opened #12230 "Missing version of .NET Framework: 528033"
I've just installed the latest updates on Windows Server 2016 running in a VM in Azure Resouce Manager. Following this guide, I get version 528033, which is not listed here. The Version entry in the same subkey says 4.8.03745.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version

[2019-05-07 12:51] NextTurn commented on #9894
Do you want to take a look @jkoritzinsky ?

[2019-05-07 14:12] luisquintanilla commented on #12216
Thanks for your feedback @dionoid . I will look into it and have also raised the question on the ML.NET repo. Feel free to follow that thread as well.

dotnet/machinelearning#3674

[2019-05-07 14:16] danucalovj opened #12231 "Examples of ML.NET + Tensorflow for Binary and Multiclass Classification"
There is very little documentation on using ML.NET with pre-built Tensorflow models, with the exception of this one:

https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification

Which is solely for Image Classification. No further documentation is provided on doing the same with other non-image related classifications.

[2019-05-07 15:04] vavjeeva opened #12233 "Add Microsoft.NET.Sdk.Worker sdk template in the doc"
**Sdk attribute**
We now have new SDK attribute for worker template `Microsoft.NET.Sdk.Worker`  which needs to be added in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj forma

[2019-05-07 15:10] niconico49 opened #12234 "net core 3 preview 4 CORS problems"
When I launch the app with
.AddCors()
.UseCors()

inside StartUp
and add the attribute [EnableCors]
in the Controller used by the CORS, obviously

but after the controller method calling by url the app gives this error:
The "<controller>" contains CORS metadata, but a middleware was not found that supports CORS. Add the .useCors() in the StartUp…..

How you can see, we have done correctly the conf

[2019-05-07 15:34] dorofino opened #12235 "Controlling the Prediction Score Range"
Hi everyone,
I have a question in regards to the Prediction Score.

I was wondering if there is any way I set up a range for the score between 0 to 1
For example:
0.5 &gt; positive
0.5 = neutral
0.5 &lt; negative

I'm currently using Cognitive Service Text Analytics API, and as you probably know their score between 0-1 [Link](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics

[2019-05-07 15:40] vavjeeva commented on #12233
i created a seperate pull request for this change.
https://github.com/dotnet/docs/pull/12236

[2019-05-07 16:59] Thraka opened #12237 "Major-version roll-forward options for Core 3.0"
Major-verison roll-forward has been added as an opt-in feature in Core 3.0. This should be documented in the version roll-foward article: dotnet/core/versions/selection.md

Here is info from the design spec at https://github.com/dotnet/designs/blob/main/accepted/2019/runtime-binding.md

### RollForward

`RollForward` specifies the roll-forward policy for an application, either as a fallback to acc

[2019-05-07 17:29] Thraka opened #12238 "Create and consume COM components from .NET Core 3.0"
On Windows you can now create COM-callable managed components.

Unlike .NET Framework where the *mscoree.dll* was used as the COM server, .NET Core will add a native launcher dll to the *bin* directory when you build your COM component.

For an example of how to create a COM component and consume it, see the [COM Demo](https://github.com/dotnet/samples/tree/master/core/extensions/COMServerDemo).

[2019-05-07 17:31] jkoritzinsky commented on #9894
@Const-me the other two tables on the referenced page do annotate which type is the default, but because of sizing/formatting, the `(default)` notation is just below the `UnmanagedType.LPStr` in the same cell instead of next to it.

[2019-05-07 17:32] jkoritzinsky commented on #12238
cc: @AaronRobinsonMSFT

[2019-05-07 17:36] AaronRobinsonMSFT commented on #12238
An overview the .NET Core COM architecture is at https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/COM-activation.md. That document is a good starting point for official documentation.

[2019-05-07 18:09] JRAlexander commented on #12231
Hi, @danucalovj! Check out this sentiment analysis sample that uses TensorFlow. Hopefully this will get you close. https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/TensorFlow/TextClassification.cs

[2019-05-07 19:08] xtianus79 commented on #12171
@divega thank you!

[2019-05-07 19:08] #12171 closed

[2019-05-07 20:34] jeffschwMSFT commented on #10671
@KathleenDollard this issue has come through the system and can be found here: https://developercommunity.visualstudio.com/content/problem/555208/netsdk1061-error-when-publishing-for-runtime.html.  I presume this issue can now be closed.

[2019-05-07 20:38] svick commented on #12210
As has been mentioned in https://github.com/dotnet/docs/issues/12211, there is no such feature and you would have to do it manually in MSBuild. Since I don't think it's a common requirement, I don't think it should be documented here.

[2019-05-07 20:46] Thraka commented on #12238
Thanks!

[2019-05-07 20:47] dorofino opened #12242 "Controlling the Prediction Score Range"
Hi everyone,
I have a question in regards to the Prediction Score.

I was wondering if there is any way I set up a range for the score between 0 to 1
For example:
0.5 &gt; positive
0.5 = neutral
0.5 &lt; negative

I'm currently using Cognitive Service Text Analytics API, and as you probably know their score between 0-1 Link

&gt; The sentiment analyzer classifies text as predominantly positive or

[2019-05-07 20:49] Thraka commented on #12192
I'll bring this up at our team meeting this week. Thanks.

[2019-05-07 20:50] #11588 closed

[2019-05-07 20:52] Thraka commented on #11588
Thank you for opening this issue. Community member @anichin has fixed this.

Thanks again!

[2019-05-07 21:36] jkoritzinsky commented on #12184
I'm working on adding it to the table of contents now.

I agree about having an opening paragraph, but I'm not sure what to put there.

I think if we want to talk about `Microsoft.Extensions.DependencyInjection`, then that should be another article focused on talking about isolated services instead of isolated plugins.

[2019-05-08 02:00] ericmutta opened #12245 "Update syntax colouring in docs to properly colourize interpolated expressions."
When reading the source examples on interpolated strings, syntax colouring isn't as detailed as the one we have in the IDE. The very first example looks like this in my browser:

![interpolated_string_bad](https://user-images.githubusercontent.com/20465797/57343823-8fc53f80-714d-11e9-840b-c6be75dc3175.png)

...but in the IDE it renders like this:

![interpolated_string_good](https://user-images.gi

[2019-05-08 04:29] danucalovj commented on #12231
Thanks @JRAlexander! This is very helpful.

[2019-05-08 04:29] #12231 closed

[2019-05-08 05:55] daveyostcom opened #12246 "Show rendering of examples"
Examples here and in the subpages should show how the text is normally rendered., with bold, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5aa865-b9d2-e977-a272-3886aa0a1111
* Version Independent ID: 353b1c44-b90a-e5cc-a193-7b42ec714290
* Content: [Recommended Tags for Documentation Comments - C# Programming Gu

[2019-05-08 07:26] the51craw opened #12247 "Question"
I this valid for IIS 10 under Windows 10, or are some additional steps required?

When trying http://localhost/IISHostedCalc/Service.svc I get the following report:

Server Error in '/' Application.
The resource cannot be found.
Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please

[2019-05-08 07:49] earizon commented on #11258
Each and every time that a class inherits from another one, the code is claiming that the "inherited class *IS* a parent class".

This is extremely dangerous most of the time unless the code is treating with well defined mathematical entities for which it can be *MATHEMATICALLY PROBED* that inherited class actually *IS AND ALWAYS WILL BE* the parent class.

OOP introductory courses tends to use ge

[2019-05-08 10:26] scrodde opened #12248 "Missing base64 attribute in request from "dotnet-svcutil" generated client"
Bug: The generated client response is missing the `xsi:type="n1:base64" xmlns:n1="http://schemas.xmlsoap.org/soap/encoding/"` attribute on its `<file />` element. The attribute specification is defined in the schema.

Schema: https://testing.maventa.com/apis/v1.1/wsdl
[code]

Generated request:
[code]

Expected request:
[code]

WSDL: https://testing.maventa.com/apis/v1.1/wsdl
Version: [Microsoft.T

[2019-05-08 14:53] luisquintanilla commented on #12242
Closing because it's a duplicate of #12235

[2019-05-08 14:55] luisquintanilla commented on #12235
Closing because it is a duplicate of #12242

[2019-05-08 14:55] #12235 closed

[2019-05-08 14:57] luisquintanilla commented on #12242
Reopening because this question is more related to this article than *What is ML.NET and How Does It Work?*

[2019-05-08 15:43] #11118 closed

[2019-05-08 16:42] UtkarshBais commented on #12188
Yes. I'll add the details for the 8 preview and features.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andy De George <notifications@github.com>
Sent: Monday, May 6, 2019 9:13:40 PM
To: dotnet/docs
Cc: Utkarsh Bais; Author
Subject: Re: [dotnet/docs] Updates for C# 8 needed. (#12188)

Thank you for opening this issue. I'll add it to the backlog.

@BillWagn

[2019-05-08 17:06] outlookhazy opened #12252 "NuGet dependency missing"
This tutorial and its associated sample will not compile without the additional NuGet package: Microsoft.ML.FastTree

Line 56: `.Append(mlContext.Regression.Trainers.FastTree());` fails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad-5057-

[2019-05-08 17:11] outlookhazy opened #12253 "Train() referenced as LoadData()"
Under section "Load and Transform Data", reader is instructed to add code as the first line to LoadData()
This is not the method previously created, and this should instead refer to the Train() method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2

[2019-05-08 17:13] JagathPrasad opened #12254 "Splitter/consolidator worker encountered exception while consuming source data"
while Fit() its showing the error, using the below code.
estimator.Fit(splitTrainSet);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Tutorial: Analyze website comments - binary classification - ML.NET](https

[2019-05-08 17:43] JRAlexander commented on #12253
Thanks, @outlookhazy, for this feedback! We'll get it fixed straightaway, unless you are going to make the change. Either way is great!

[2019-05-08 17:46] JRAlexander commented on #12252
Great catch, @outlookhazy! Thanks! We'll get it fixed straightaway unless you are making the change. Either way is great. Thanks again!

[2019-05-08 17:48] outlookhazy commented on #12253
I don't have time to track down contribution guidelines etc at the moment - too many other things going on. Just wanted to make a note

[2019-05-08 18:04] JRAlexander commented on #12254
Make sure that you set the file properties on the yelp_labelled.txt file in visual studio..

[2019-05-08 18:05] JRAlexander commented on #12254
Closing as I believe this is resolved - Please reopen if that isn't the case.

[2019-05-08 18:05] #12254 closed

[2019-05-08 18:07] JRAlexander commented on #12253
No worries, we'll get it resolved asap! Really appreciate the feedback, @outlookhazy! Have a great day.

[2019-05-08 18:31] #11604 closed

[2019-05-08 19:39] pkulikov commented on #6531
Technically (when applied to the referenced article), this issue is fixed by #12240. A new text mentions the language version:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators#null-conditional-operators--and-

In general, I've noticed a trend to mention the language version, in which the feature is introduced, if that version is C# 6 or later. So,

[2019-05-08 21:04] rpetrusha commented on #12230
528033 is a pre-release value, @prochan2. The article documents only release values.

Since this behavior is by design, I'll close this issue.

[2019-05-08 21:04] #12230 closed

[2019-05-08 21:44] #12252 closed

[2019-05-09 01:21] myusrn opened #12263 "command "dotnet tool install -g mlnet" is not working"
I execute the command "> dotnet tool update -g mlnet" and it produces the following output. If this is just expected to work as the page suggests then it would seem a dependency or command parameter, e.g. --version #.#.# ,  is missing from the instructions.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200d7a

[2019-05-09 08:24] gelihu opened #12264 "C# at its best"
This is by far the best feature of C#. Thank you so much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f0b65f-558a-8416-25f1-932ad55e9d3c
* Version Independent ID: 3a6ba604-7724-066c-0178-e1cba2e8bc9b
* Content: [Introduction to PLINQ](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/introductio

[2019-05-09 08:25] #12264 closed

[2019-05-09 09:04] FrankLingwen commented on #7555
Thanks for your great article, this is the best article I've seen and so useful, many thanks! Sometimes, when you need to print the XPS files to PDF, PS, EPS, Image or other formats, you can try with the VeryUtils XPS Print Command Line software, this is a great software to print XPS file to Windows Printer and other formats from command line and without require 3rd software, I hope it will useful

[2019-05-09 09:04] junpark12 opened #12265 "DownloadStringAsync with async"
Hi I have a question.
I can define downloadStringAsync method using async keyword and
return content instead of Task.FromResult(content).
Can you please point out what are the differences between original one and the code below?
I am confused little bit. thanks.

static async Task&lt;string&gt; DownloadStringAsync(string address)
        {
            string content;

            if(cachedDownload

[2019-05-09 12:22] silistreden opened #12266 "Xaml from Assembly"
Is there any way of creating a full workflow from Assembly? When I use this method I only get one node as xaml representation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3459c98-bc85-9206-6def-613f5f76264f
* Version Independent ID: 00370079-0497-0545-2609-4142f0ae98f2
* Content: [Serializing Workflows and Activiti

[2019-05-09 13:32] lnaie opened #12267 "Show how to setup DI and use appsettings.json config"
As it says, by default that part of app building should be showcased in a clear manner.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80f18fa-e6d2-50f6-dc08-a2ab5ba9f89a
* Version Independent ID: 5bebc66b-956a-47c7-7472-07967256be0c
* Content: [Build a C# Hello World application with .NET Core in Visual Studi

[2019-05-09 15:03] svick opened #12268 "Remove or update Compiling the Code in how-tos"
Several How-to guides in Parallel Programming in .NET, e.g. [*How to: Create Pre-Computed Tasks*](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/how-to-create-pre-computed-tasks#compiling-the-code), contain a section like the following:

I believe this section is not useful: anyone who's looking into parallel programming in .Net should already understand how to compile code.

[2019-05-09 15:13] svick commented on #12265
The differences between the two are fairly subtle. The main ones are exception handling (the version with `async` never throws directly, but instead places any thrown exception on the returned `Task`) and performance (the version without `async` is more efficient). For more details, see Stephen Cleary's article [*Eliding Async and Await*](https://blog.stephencleary.com/2016/12/eliding-async-await.

[2019-05-09 16:41] JRAlexander commented on #12263
Hi, @myusrn. The prerequisites state that .NET Core 2.2 SDK is needed for this tool.  Retry it with 2.2 instead of 3.0 preview and you should be good to go. Closing as this issue is resolved. Thanks!

[2019-05-09 16:41] #12263 closed

[2019-05-09 16:46] #8019 closed

[2019-05-09 16:47] #12253 closed

[2019-05-09 16:48] JRAlexander commented on #12253
@outlookhazy - The PR above was merged just now. The changes should be live in a day or so.

[2019-05-09 16:58] JRAlexander commented on #12048
@Amorpheuz - Here's the link to the recently published save and load how-to article: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net
Closing this as I believe it's resolved. Please reopen if that's not the case. Thanks!

[2019-05-09 16:58] #12048 closed

[2019-05-09 17:10] dnutiu opened #12272 "Figure contains two extra packages"
"MongoDB API for .NET is based on NuGet packages that you need to add to your projects, like in the Locations.API project shown in the following figure."

I believe that the mongocsharpdriver and Swashbuckle should not be included in the figure. Swashbuckle is for swagger and mongocsharpdriver's description says that is has been replaced by Mongo.Driver

---
#### Document Details

⚠ *Do not edit t

[2019-05-09 17:27] myusrn commented on #12263
Thanks for details.  Are you aware of how one tells the C:\Program Files\dotnet\dotnet.exe tool install command to use their 2.2.202 sdk installation and not the vs19 installed 3.0.100-preview# sdk installation?

[2019-05-09 17:37] JRAlexander commented on #12263
Try `dotnet tool update -g mlnet --framework netcoreapp2.2`

[2019-05-09 17:53] Thraka commented on #12188
@UtkarshBais Thank you for your commitment to making the docs better 😄 We're going to hold off on this as I we're not sure if we want to add preview information to the release information or wait until C# 8.0 is finished. @BillWagner will handle the updates. Thanks!

[2019-05-09 17:56] UtkarshBais commented on #12188
Oki doki !

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andy De George <notifications@github.com>
Sent: Thursday, May 9, 2019 11:24:15 PM
To: dotnet/docs
Cc: Utkarsh Bais; Mention
Subject: Re: [dotnet/docs] Updates for C# 8 needed. (#12188)

@UtkarshBais<https://github.com/UtkarshBais> Thank you for your commitment to making the docs better 😄 We're going

[2019-05-09 17:58] myusrn commented on #12263
Thanks for those details.  Doing more testing the issue was arising not from the vs19 installed dotnet core 3.0.100-preview sdk installed.  It was a result of the 401 accessed denied arising when the `dotnet tool install/update . . . ` command attempted to iterate through my set of defined nuget feeds and hit the one pointing at my azure devops nuget package feed where it appears there are no cach

[2019-05-09 18:04] Thraka commented on #12188
If you're interested in helping, you can always review the community project where we add issues that we need help. https://github.com/dotnet/docs/projects/35

[2019-05-09 18:06] UtkarshBais commented on #12188
Oh sure. I'll take a look. Always wanted to contribute. Thanks a ton !

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andy De George <notifications@github.com>
Sent: Thursday, May 9, 2019 11:35:03 PM
To: dotnet/docs
Cc: Utkarsh Bais; Mention
Subject: Re: [dotnet/docs] Updates for C# 8 needed. (#12188)

If you're interested in helping, you can always review

[2019-05-09 18:07] Thraka commented on #12268
Agreed. I think it should be removed. @rpetrusha is the author of that article, what do you think?

[2019-05-09 19:03] natke opened #12275 "Remove preview banner from glossary"
https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/glossary

**Issue description**

Preview banner is present on this doc

[2019-05-09 19:16] #12275 closed

[2019-05-09 19:20] Arashz22 opened #12278 "maybe it mistakes mistake if input come incorrect."
[Enter feedback here]

it's better to change the position of this :
`DirectoryInfo dir = new DirectoryInfo(sourceDirName);
`

and this :
[code]

something like this :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d050f686-38eb-bb76-5747-9e138f4da679
* Version Independent ID: 93b69d5a-5df1-c0e1-930d-2f5ee1c1fe6

[2019-05-09 19:24] JRAlexander commented on #12079
Closing as I believe this is resolved.

[2019-05-09 19:24] #12079 closed

[2019-05-09 19:26] JRAlexander commented on #9308
Closing as I believe this has been resolved with the current api documentation.

[2019-05-09 19:26] #9308 closed

[2019-05-09 20:03] rpetrusha commented on #12268
Yes. It should definitely be removed. In fact, this section should probably be removed in most of the instances in which it appears in our doc set.

[2019-05-09 20:07] kristianjaeger commented on #11864
@JRAlexander Unfortunately, I get a 404 now for the link that you provided. Cheers.

[2019-05-09 20:08] JRAlexander commented on #11864
They moved the sample. Try this:  https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/AnomalyDetection_PowerMeterReadings

[2019-05-09 20:10] kristianjaeger commented on #11864
Thanks!  I saw a talk at MS Build that seemed similar.  Cheers.

[2019-05-09 20:17] yujayee commented on #12000
@YonglianQian Could you try to see if adding the following line in your web.config works? The target framework should be 4.6.2 or above.
[code]

[2019-05-09 20:36] PeterPann23 opened #12280 "how to solve normalisation"
I have found no documentation on normalisation in vectors and what the recomendations are. Also how does one combine this with a binary file

[AB#1530397](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1530397)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52d4fbe-df9c-f410-85b4-786b

[2019-05-09 21:30] jvanlangen opened #12281 ". delete me plz"
A fixed size buffer cannot be passed as an array to a method. It's unsafe and for me it's useless..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5e17dd8-f60c-5a5d-517f-61bb95e94667
* Version Independent ID: c9d34513-107b-0b82-cf77-1dba0ee650cb
* Content: [Fixed Size Buffers - C# Programming Guide](https://docs.micro

[2019-05-09 21:32] rpetrusha commented on #12278
Thank you for your feedback, @Arashz22. Given that the DirectoryInfo class doesn't actually validate the file path passed to it in the constructor either until the value of the Exists property is retrieved or a method is called that attempts to perform an operation on the file system, this code should not throw a DirectoryNotFound exception before the Exists property is retrieved. Whether you pref

[2019-05-09 21:32] #12278 closed

[2019-05-09 21:34] rpetrusha commented on #12281
I'll close this issue, @jvanlangen. Thanks for letting us know.

[2019-05-09 21:34] #12281 closed

[2019-05-09 22:14] RonnieWilkinsJr commented on #11902
You can pipe the results to a log file by appending: > "LogFilePath\LogFileName.log"

[2019-05-09 22:16] RonnieWilkinsJr commented on #11902
Example:
signtool.exe verify /pa /v C:\Windows\system32\drivers*.* > "C:\Temp\SignToolVerification.log"

[2019-05-10 01:36] junpark12 commented on #12265
thanks. actually the question is not related to this article. :)

[2019-05-10 01:36] #12265 closed

[2019-05-10 03:03] YonglianQian commented on #12000
@Lxiamail  Thanks for your time and patience. @yujayee , It works, you are too tough. How would you know that?

[2019-05-10 04:20] RAJU2529 commented on #11902
RonnieWalksinsJr Thanks sir  for  your  logpath.  its  working fine .
I  have created some useful commands

signtool.exe verify /pa /v C:\Windows\system32\drivers\*.* > "C:\Signtool-pa-v.log"
signtool.exe verify /pa /ph /v C:\Windows\system32\drivers\*.* > "C:\Signtool-pa-ph.log"
signtool.exe verify /all /v C:\Windows\system32\drivers\*.* > "C:\Signtool-all.log"
signtool.exe verify /all /ph /v C:\

[2019-05-10 08:18] Megadesty opened #12286 "Docker links are broken"
Everything under `https://docs.microsoft.com/en-us/dotnet/framework/docker/` targets back to `https://docs.microsoft.com/en-us/dotnet/framework/`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04fb826-aa70-5a14-2a13-4eed6cbb304f
* Version Independent ID: 2835b981-f482-8fa2-df47-469291d93a5a
* Content: [.NET Framework

[2019-05-10 09:36] newpost opened #12287 "Short form options, such as -s, are supported."
**Short form options, such as -s, are supported.**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=

[2019-05-10 10:19] tabareh opened #12288 "HttpClientFactory on WCF client"
How can we apply HttpClientFactory and connection resiliency measures on this model? can it be a part of this document or a separate document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0bd854-fec8-fc4a-760a-42dc22e07f99
* Version Independent ID: f04e9f8b-24d2-79fb-7521-6222c434e80f
* Content: [WCF svcutil tool o

[2019-05-10 10:27] x10an14 commented on #12286
Can confirm this to be the case.

[2019-05-10 12:45] cgm-wmaisenhelder opened #12289 "Screenshots..."
Some screenshots of how the tooltip is displayed, using the different XML documentation elements would be a great help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6-169a-0ffe-5f33-d5a359aeefc5
* Content: [Documenting your code with XML comments](

[2019-05-10 13:42] valakiBF opened #12291 "Missing line in the ch. 'The Individual Capture'"
Last line is missing from the last example. It should be read as:
'       Seattle               58

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c5d0b23-de01-afd4-9f17-dda8a9d64c3f
* Version Independent ID: d404df32-7a2b-0598-76a2-8b3b67fe18a0
* Content: [The Regular Expression Object Model](https://docs.microsoft.co

[2019-05-10 16:12] jeisux92 opened #12294 "varname is availible outside if brackets not just inside the if sentence"
varname is availible outside if brackets not just inside the if sentence, it works as "as" keyword in the scope

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3126aaa9-8f5f-04f3-2d75-96477b6273cd
* Version Independent ID: 3f4b3eac-11eb-2dd6-4f27-b24537367288
* Content: [is - C# Reference](https://docs.microsoft.com/en-

[2019-05-10 17:44] yujayee commented on #12000
Glad that helps. Certificates created by powershell cmdlet are CNG certificates which were not supported at the beginning. When we fix this issue to support CNG, we quirk the code change to make it default turned on for framework version 4.6.2 and above.

[2019-05-10 18:03] dnutiu commented on #12272
Maybe also suggest Mongo.Driver.Linq as a package

[2019-05-10 19:18] rpetrusha commented on #12291
Thanks for reporting this issue, @valakiBF. We've corrected the output in dotnet/samples#893.

[2019-05-10 20:31] rpetrusha commented on #12287
Thank you for your feedback, @newpost. The documentation for `dotnet publish` lists the short form options in the **Synopsis** section. Consequently, I'll close this issue.

[2019-05-10 20:31] #12287 closed

[2019-05-11 00:06] kevinfoley opened #12301 "Mistake in page"
"Returning from ref readonly members" includes this example:

    struct ImmutableArray<T>;
    {
        private readonly T[] array;

        public ref readonly T ItemRef(int i)
        {
            // returning a readonly reference to an array element
            return ref this.r1;
        }
    }

No field or property named 'r1' is defined, so this isn't valid code. Perhaps you meant "return

[2019-05-11 02:32] rokibullah commented on #10549
I' lost my password

[2019-05-11 06:16] John0King opened #12303 "how to use the `dotnet build` to also compile typescript file like visual studio does?"
When use visual studio build a asp.net core web project , the typescript file with a `tsconfig.json` will be compile by the `tsc`.
How can I do it with `dotnet build` or `dotnet publish` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-00dc-417c-db017f83bf6f
* Version Independent ID: 5e495ddd-140e-de5c-a7

[2019-05-11 08:06] quantrpeter opened #12304 "dotnet clean command won't delete bin and obj folder that produced by dotnet publish"
I tried to publish my console program to another folder for output, but i found there are still bin and obj exists in the source folder. When i run "dotnet clean", it won't delete these two folders in my src folder.
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce4a4413-002d-4f6b-547d-3ac0c2cf84b8
* Version Ind

[2019-05-11 09:17] PeterPann23 opened #12305 "Broken link"
Hi the link in the section:
Experiments are highly configurable. See the AutoML API docs for a full list of configuration settings.
does not work and returns a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3bb37d9-1c4d-5d5f-2ed6-2ef77f2cd627
* Version Independent ID: 80ed0d4d-63d3-49f0-ae42-d1f132137352
* Content

[2019-05-11 09:53] yandoldonov commented on #5484
still nothing on constructing an instance of IEndpointBehavior object which new MyEndpointBehavior() is supposed to be...???

[2019-05-11 09:58] yandoldonov commented on #5484
this might be helpful as a starting point
https://wcfpro.wordpress.com/2011/04/30/iendpointbehaviorhow-to-add-behavior-on-a-specific-endpoint/

https://wcfpro.wordpress.com/2011/03/29/iclientmessageinspector/

[2019-05-11 21:00] anticrisis opened #12313 "PlatformNotSupportedException on .NET Core 2.2"
I know this is an old example, but I was just confused by it as I attempted to make a quick dotnet console app to try it out.

It may be worth noting that the ToXmlString API is not currently supported on .NET Core: https://github.com/dotnet/corefx/issues/23686

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf319632-80

[2019-05-12 12:39] sculptsoft-devs opened #12314 "'RegressionCatalog.RegressionTrainers' does not contain a definition for 'FastTree' and no accessible extension method 'FastTree' accepting a first argument of type 'RegressionCatalog.RegressionTrainers' could be found."
Getting following error while running machine-learning/tutorials/TaxiFarePrediction/Program.cs with ML.Net 1.0

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'RegressionCatalog.RegressionTrainers' does not contain a definition for 'FastTree' and no accessible extension method 'FastTree' accepting a first argument of type 'RegressionCatalog.RegressionTrainers' could be

[2019-05-12 15:00] voroninp opened #12315 "Misleading syntax description"
[code]

It should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 904a5ebc-16a2-a436-2fad-8152db42124a
* Version Independent ID: e761f0cd-27d2-2b64-f6a6-c1985081347b
* Content: [Active Patterns - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/active-patterns#feedback)
* Content Source:

[2019-05-12 16:16] ProgramNew commented on #12278
Hello @rpetrusha  I was looking into the code and was wondering how do you make I am looking at your code and though I do understand it I do not know how to copy the sub folders and any document within my folder, please could you show me where I am going wrong

static void Main(string[] args)
        {
            cDirectory(".", @"C:\Users\Alucard\Desktop\CopyDirectory", true);
            /*the

[2019-05-12 16:24] ProgramNew commented on #12278
@rpetrusha , sorry I didnt make sense, What I am trying to do is make sure that as we copy the folders, I would like to copy any subfolders, and text documents to any documents which these folders have to be copied with them in the same folder. I am just slightly confused on this

[2019-05-12 16:30] ProgramNew opened #12316 "Maybe I am not understanding"
Hello, I am trying to understand how to make sure all sub folders and documents/files in the contents of the folders can also be put into the copied folder.

My code I am looking for is similar to @rpetrusha.

[code]

**EDIT by adegeo:** Fix code block

[2019-05-12 16:44] svick opened #12317 "Document how to access reference assemblies from Roslyn"
**Describe the new topic**

- Explain why this topic is needed.

    One pitfall when using Roslyn is how to find assemblies to reference.

    In simple cases on .Net Framework and recent versions of .Net Core (2.0+, I think), referencing runtime assemblies can work (e.g. `MetadataReference.CreateFromFile(typeof(object).Assembly.Location)`).

   In more complicated cases, I believe the right solu

[2019-05-12 17:38] AdvancedPowerArmor commented on #8988
It looks like it is still open. It would be great to update the list and add some examples.

[2019-05-12 23:06] waratah opened #12318 "Order of statements causing issue when we have to await"
I am writing this in an Async module and the specified order of statements has to change.  I have to push all the data to the transform block,  tell it to complete then await the countBytes.Completion. Not doing this causes my unit test to never complete.

      // Link the TransformBlock<string, int> object to the
      // ActionBlock<int> object.
      countBytes.LinkTo(printResult);

     // Re

[2019-05-12 23:42] DSivtsov opened #12319 "Return Values from MemoryMappedFile.CreateViewStream & CreateViewAccessor"
I see some not correct information on this page:

To obtain a _UnmanagedMemoryStream_ object for a sequentially accessed view to the memory-mapped file. | MemoryMappedFile.CreateViewStream method.

To obtain a _UnmanagedMemoryAccessor_ object for a random access view to a memory-mapped fie. | MemoryMappedFile.CreateViewAccessor method.

I think it must be corrected to next

To obtain a **MemoryMap

[2019-05-13 06:47] srikcgaa2 commented on #6773
This documentation is still out of sync because the newly added options such as embedded, portable are not updated while there are external documentation that describes this.  It will be good to capture the same information in this page as well

[2019-05-13 07:12] svick commented on #12318
It's true that calling `Post` after `Complete` will not work. But as far as I can tell, this page never does that. Its code is:

[code]

So I don't think this is actually an issue with this page.

[2019-05-13 10:11] garricknorthover opened #12320 "UseModelWithBatchItems"
Hi guys, just a typo.
The call to UseModelWithBatchItems from the main method includes model as an argument but the method definition just had mlContext as a parameter.

So I think
[code]
needs to be

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0

[2019-05-13 14:36] luisquintanilla commented on #12228
Thanks for the feedback @PeterPann23. Normalization works the same on vectors as it does with a single value. An example of this can be found in the [NormalizeMinMax API documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.normalizationcatalog.normalizeminmax?view=ml-dotnet#Microsoft_ML_NormalizationCatalog_NormalizeMinMax_Microsoft_ML_TransformsCatalog_Microsoft_ML_InputOutputC

[2019-05-13 14:37] luisquintanilla commented on #12227
Great suggestion @PeterPann23.

[2019-05-13 15:10] #12268 closed

[2019-05-13 15:11] #12291 closed

[2019-05-13 15:31] #8878 closed

[2019-05-13 15:46] Thraka commented on #12286
This content was removed as running .NET Framework on Docker is well documented across the internet and we're not investing in this scenario (for docs) and instead working on improving the .NET Core Docker scenarios instead.

@mikkelbu has opened a PR to clean up some of this misleading links. Sorry about the confusion.

[2019-05-13 17:40] CESARDELATORRE opened #12322 "Update project structure illustration and data classes with the new names (ModelInput, ModelOutput)"
Project structure image and data classes need to be updated with the new names (ModelInput, ModelOutput instead of SampleObservation, SamplePrediction)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae2cd24-a060-4fac-477a-33c4684d0c6f
* Version Independent ID: ebb16521-607a-2d2f-d15d-c07b328e3f05
* Content: [Auto gene

[2019-05-13 18:07] rpetrusha commented on #11811
Thanks for pointing out that SynchronizationAttribute is not supported on .NET Core, @reyou. We've opened #12323 to address this issue.

[2019-05-13 18:42] JRAlexander commented on #12320
Thanks, @garricknorthover, we'll get this fixed asap. Good catch!

[2019-05-13 18:50] eeskildsen opened #12326 "CardType is abstract"
I think the sample class is incorrect:

    public abstract class CardType : Enumeration

If CardType is abstract, how can its members instantiate it:

    public static CardType Amex = new CardType(1, "Amex");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID:

[2019-05-13 19:55] coding4funrocks opened #12330 "Wrong code snippet in chapter Classify images with a loaded model"
One of the code snippets for the ClassifyImages method is wrong, it should call ReadFromTsv and convert to IDataView, like this:

var imageDataView = mlContext.Data.LoadFromEnumerable(ReadFromTsv(dataLocation, imagesFolder));

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca0a402-fa67-fbd4-4cbc-604b4b59c97c
* Version

[2019-05-13 19:58] #12320 closed

[2019-05-13 21:02] JRAlexander commented on #12330
Hi! Thanks for the feedback, @coding4funrocks! Closing this as this issue was fixed earlier today with this PR: https://github.com/dotnet/docs/pull/12324. The changes should be live in the next day or so. Thanks!

[2019-05-13 21:02] #12330 closed

[2019-05-13 21:19] JRAlexander commented on #12305
Thanks for the feedback, @PeterPann23! I've submitted the PR with the fix.

[2019-05-13 21:28] BillWagner commented on #12132
This is really good feedback. Thanks all.

I'll see what I can do to make the code a bit better and more in line with the abstractions. It may still break down somewhere, but it can get better.

[2019-05-13 21:30] BillWagner commented on #12151
I'm going to close this as a duplicate of #6531

The fix proposed there will address this as well.

[2019-05-13 21:30] #12151 closed

[2019-05-13 21:30] BillWagner commented on #11258
Although your comment about the difference between interfaces and abstract classes is certainly accurate, presenting the definition as we have in this article seems to make the most sense, since interfaces are often misunderstood, and this comment focuses on implementation rather than function..

Closing.

[2019-05-13 21:30] #11258 closed

[2019-05-13 21:34] BillWagner commented on #12205
Tagging @DuncanmaMSFT and @adkinn as an example of where code style in headers and TOC entries would be beneficial.

[2019-05-13 21:35] BillWagner commented on #12211
I'll close this as answered.

Thanks @jcouv for the great workaround

[2019-05-13 21:35] #12211 closed

[2019-05-13 21:37] BillWagner commented on #12219
This kind of specific question would be more likely to get a specific response on a forum like, such as Stack Overflow.

Closing.

[2019-05-13 21:37] #12219 closed

[2019-05-13 21:39] BillWagner commented on #12246
This sample code is quite old. The URLs used have been redirected.

We should update this with a new set of URLs to query. That should fix this issue.

I've added this to our backlog, and added the "up for grabs" label, if the community wants to supply a pull request.

[2019-05-13 21:42] BillWagner commented on #12246
I like the suggestion for showing the output, but that presents an interesting problem. There are multiple tools that produce docs from the XML comments.

Should we show the XML output? a sample HTML rendering? What?

The XML output would be always correct, but might not be useful.

[2019-05-13 21:44] Thraka commented on #12316
Hello!

The issues here are related to documentation. You will probably get a quicker and more direct response if you ask this question on Stack Overflow or some other programming forum.

I'm going to close this issue.

[2019-05-13 21:44] #12316 closed

[2019-05-13 21:44] BillWagner commented on #12289
@gewarren Do you already show something like this in the Visual Studio docs? If so, I should link to it here.

[2019-05-13 21:46] BillWagner commented on #12294
This was fixed in #11972

[2019-05-13 21:46] #12294 closed

[2019-05-13 21:47] Thraka commented on #12317
Hi @svick

Thank you for the suggestion. I've categorized this request and put it in the backlog.

[2019-05-13 21:50] BillWagner commented on #12301
Thanks for making that observation @kevinfoley

You are correct. I've submitted a fix in dotnet/csharplang#2523

[2019-05-13 22:12] #12301 closed

[2019-05-13 22:24] Thraka commented on #11098
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-05-13 22:37] Thraka commented on #10543
Why wouldn't `dotnet run` no longer work?

[2019-05-13 23:00] Thraka commented on #11243
Hello!

Thank you for suggesting this change. I don't think this is something we want to do, for the following reasons:

1. We don't want the overhead of having a note in every article that returns a Task to mention to check the Result or call Wait.
2. When you `await` an async method, you don't need to call Wait or Result.
3. Visual Studio and VSCode both give warnings about the scenario you're t

[2019-05-13 23:00] #11243 closed

[2019-05-13 23:08] Efreeto opened #12332 "Example with user-defined strings?"
Can we have an example on how to change the message?
For example,
public EmployeeListNotFoundException(string company, string message)
        : base(message + " from " + company)
    {
    }
But you want to more than the inline operation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041f6b4c-2b7e-5332-f24e-12af7a5b0

[2019-05-13 23:54] gewarren commented on #12289
@BillWagner Unfortunately no, we don't.

[2019-05-14 00:07] daveyostcom commented on #12246
A sample rendering is what I had in mind. These renderings will also serve as a recommendation to tool builders. SVG would be the way to go, something like [this](https://svgjs.com/docs/2.7/tutorials/).

[2019-05-14 00:51] Thraka commented on #10581
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-14 00:53] Thraka commented on #10581
I fixed this in commit c3192ca

I'm going to open a PR to clarify the exception type

[2019-05-14 08:03] mvelosop commented on #12326
Hi @eeskildsen, thanks for the heads up! 👍

You're right, that's not the actual code:

https://github.com/dotnet-architecture/eShopOnContainers/blob/1d0a66c21a783c9b8c6fb76b71b1301a3a63cff2/src/Services/Ordering/Ordering.Domain/AggregatesModel/BuyerAggregate/CardType.cs#L9-L15

It's some remnant from the previous code.

Thanks 😊

[2019-05-14 11:18] Stormjack opened #12343 "Rename class StudentName to Student"
Helpful article. I'd recommend a slight change to rename the StudentName class to just Student, since an ID has nothing to do with a name.  Thanks for the detail in the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5121576-832f-dba0-f489-ba17c1891161
* Version Independent ID: 0ffb923c-a49c-ed59-abb6-9618aea

[2019-05-14 12:32] mvark opened #12344 "Referenced Gartner article has controlled access"
While the outline of the Gartner article "How to Architect and Design Cloud-Native Applications" mentioned in this page looks very useful, it is accessible only to subscribers. Is there any chance Microsoft can make it available for general public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c2ea442-b723-cf72-3444-

[2019-05-14 14:14] Yomodo commented on #10336
Yes, for completeness. XAML related should be accompanied with a visual. A pictures says...

[2019-05-14 14:30] progalgo opened #12345 "Can't find info on machine.conf file considering deployment of ADO.NET providers"
Is there a particular best practice on locking the file for editing while installing our in-house ADO.NET provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b87e17b-2c03-c2cd-b821-66d96ffc0616
* Version Independent ID: 74ab8406-068b-38d0-8948-39a93e4e3b1f
* Content: [Deploying the .NET Framework and Applications

[2019-05-14 14:38] weitzhandler opened #12346 "Uppercase or lowercase for Tuple property names?"
What is the convention for naming tuple properties?

[code]

or

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc229b53-a548-4ef8-86b9-58670a81344a
* Version Independent ID: aeb15230-e1cc-df50-7edb-fb50164e13be
* Content: [What's New in C# 7.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new

[2019-05-14 14:50] CeciAc opened #12347 "Little change"
@campelo commented on [Tue May 14 2019](https://github.com/dotnet/docs.pt-br/issues/125)

In BasicFunctions
printfn "The result of applying the 2nd sample function to (6.5 + 4.5) is %f" result3
2nd should be changed by 3rd.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 89bef555-3de1-5d81-c02b-2ac8c049423

[2019-05-14 14:51] CeciAc commented on #12347
Hi team,
I'm moving this here since the user is making a suggestion in the code example
best regards

[2019-05-14 14:52] mikaelmello opened #12348 "Wrong collection name in code snippet of BlockingCollection"
The code snipper mentions a `numbers` collection while in fact the name of  the collection is `dataItems`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5ab9298-8ed6-2a79-47c0-55021199ced6
* Version Independent ID: 32d003fc-b7de-37b7-02c5-0719a8878e2a
* Content: [BlockingCollection Overview](https://docs.microsoft.com

[2019-05-14 14:55] George221b opened #12349 "asynchronous programming with async and await"
Really well-written article. Microsoft is constantly updating its documentation, good job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotne

[2019-05-14 15:09] #11811 closed

[2019-05-14 16:24] #12233 closed

[2019-05-14 16:52] #10581 closed

[2019-05-14 17:37] #12305 closed

[2019-05-14 17:37] Thraka commented on #9055
Hello! Sorry for delay in getting to this issue. This type of question is more appropriate for a forum or Q&A site such as StackOverflow.

I'm going to close this issue.

[2019-05-14 17:37] #9055 closed

[2019-05-14 18:09] JRAlexander commented on #12314
Hi, @sculptsoft-devs! Add the NuGet package reference for **Microsoft.ML.FastTree** and you should be good to go. I've updated the tutorial with the above PR.

[2019-05-14 18:14] #12314 closed

[2019-05-14 18:17] rowanmiller commented on #11903
We just published the first version of the interactive table to https://dotnet.microsoft.com/platform/dotnet-standard

We landed on a design that is a little different from https://immo.landwerth.net/netstandard-versions/#, trying to make it clearer what the table is conveying. I *might* help with the confusion being discussed here.

[2019-05-14 18:28] terrajobst commented on #11903
I've update the link in the standard repo to point to the new table. I've also submitted https://github.com/dotnet/docs/pull/12354 to update the official docs.

[2019-05-14 18:56] rbavery opened #12356 "no isntructions how to check for linux"
I need to debug my azure file explorer installation, which according to this issue means checking what .NET I have installed: https://github.com/microsoft/AzureStorageExplorer/issues/1205

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c99

[2019-05-14 18:57] #7784 closed

[2019-05-14 18:59] mairaw commented on #11903
Awesome guys! So what do folks think? Would you still like to see a static version on our docs or can we consider this issue resolved?

[2019-05-14 19:13] rowanmiller commented on #7784
For anyone reading this thread, the replacement page is at https://dotnet.microsoft.com/platform/dotnet-standard

[2019-05-14 19:24] #12286 closed

[2019-05-14 20:39] Thraka commented on #12356
Hello!

The .NET Framework is not available on Linux, you have to use either Mono or .NET Core.

Looking at your linked issue it seems it's running .NET Core. You can see the list of available runtimes by calling `dotnet --list-runtimes`

I'm going to close this issue as I think I answered your question. Let me know if this doesn't work. Thanks!

[2019-05-14 20:39] #12356 closed

[2019-05-14 20:55] mairaw commented on #12356
You should probably check out the article they linked from that issue as well: https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting

[2019-05-14 20:56] Thraka commented on #12313
Sorry about the confusion. As you can see from that linked bug, this is a pain point for multiple people. I'll add this to the backlog and see what we can do.

[2019-05-14 23:43] yujayee commented on #12000
If there are no more questions to this issue, shall we close it?

[2019-05-15 00:33] ericmutta commented on #12245
Pinging @mairaw.

[2019-05-15 01:35] #12000 closed

[2019-05-15 04:04] FimePradeep opened #12364 ".NET Framework on Docker Guide"
.NET Framework on Docker Guide - Navigating same page. no details about docker .net framework run and install guide.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04fb826-aa70-5a14-2a13-4eed6cbb304f
* Version Independent ID: 2835b981-f482-8fa2-df47-469291d93a5a
* Content: [.NET Framework documentation](https://docs.m

[2019-05-15 04:27] pkulikov commented on #12364
That has been fixed by #12298 and goes live, most probably, within next 12 hours.

[2019-05-15 05:07] bleepzter opened #12366 "This is idiocy at its finest."
Enough said. Change the language to accommodate poor architectural design. Because it is so hard to create a new interface with the added members, while preserving compatibility by inheriting from the old one... Let's change the language because a mere 2% of developers are too lazy or too ignorant to do the right thing, so let's screw it up for everyone.

Might as well introduce extension methods

[2019-05-15 05:17] #12366 closed

[2019-05-15 09:39] tedyyu opened #12370 "Not good"
To be honest, WIF sample is scattered in many places and badly organized and kindof outdated (espeically embeddedSTS coupled with VS 2012). Try to learn from WCF samples and share some updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e2597b9-aff9-0810-01de-03c51e438deb
* Version Independent ID: 4cb0838d-2778-f6

[2019-05-15 10:22] HoraceBury opened #12371 "ResultsDirectory missing documentation"
The `--ResultsDirectory` option is missing documentation. Does it have the alternative name `--results-directory` as accepted by `dotnet test`?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54c66d2f-86f4-6472-a4c8-30e4203a10de
* Version Independent ID: 224583f2-3ca3-5c97-4cd4-fcd3d6a64f91
* Content: [dotnet vstest com

[2019-05-15 10:59] taiwoa opened #12372 ".NET language support?"
Is there support for all .NET languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790425e-da4e-9a75-6a11-f72109ce8d6a
* Version Independent ID: 09298e41-8f5a-c3c3-a849-8de67f8efba1
* Content: [Safely update interfaces using default interface members in C#](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials

[2019-05-15 12:48] #10085 closed

[2019-05-15 15:20] jamesryanfant commented on #11790
You can find a source code example here in the meantime.

https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/nullable-reference-types#build-the-survey-with-nullable-and-non-nullable-types

Also, you should note that multiple input parameters are treated as a Tuple and Tuple deconstruction is used to assign the tuple values to the member variables.

https://docs.microsoft.com/en-us/dotnet/csh

[2019-05-15 15:59] dave-q opened #12374 "CS0403 No longer appears in VS 2019 when using the is operator for unconstrained generics"
In 2019 i can do this bool IsNull&lt;T&gt;(T thing) =&gt; thing is null;
I can't do this in 2017 (or as it turns out on my build server) is this a documented change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a38eefc-8281-1a25-9ecd-38e11f6199f0
* Version Independent ID: ebbc28bf-be03-d0ce-ec86-a83b9c84b003
* Conte

[2019-05-15 16:26] #10301 closed

[2019-05-15 17:55] rpetrusha commented on #12348
Thanks for pointing out the incorrect variable name in the comment, @mikaelmello. We've corrected it in dotnet/samples#909.

[2019-05-15 17:57] rpetrusha commented on #12347
@cartermp, could you take a look at this issue?

[2019-05-15 18:21] #11363 closed

[2019-05-15 19:20] tf-egoldman opened #12377 "Grammatical error in DatePicker States Descriptions"
"The HasError attached property is true has the control has focus." should be something like "When the HasError attached property is true it means the control has focus." or "The HasError attached property being true indicates that the control has focus."

The description for InvalidUnfocused is similarly wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-05-15 20:37] #11958 closed

[2019-05-15 20:51] 3ric6 opened #12379 "missing access modifiers"
should have links to abstract, partial, sealed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d56158-da5c-4124-a105-db8af724f3af
* Version Independent ID: 51389ca5-2d35-b830-2b48-54293c880839
* Content: [Accessibility Levels - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/ac

[2019-05-15 21:03] radams0x opened #12380 "just a fun little nit on the functional example..."
I would fry the bacon first, so you can fry the eggs in the grease. And absolutely pour the coffee last, so it doesn't get cold ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#

[2019-05-15 21:07] rpetrusha commented on #12379
abstract, partial, and sealed are unrelated to access modifiers, @3ric6, so adding links to them is not likely to be helpful. I'll close this this issue as by design.

[2019-05-15 21:07] #12379 closed

[2019-05-15 21:11] #11830 closed

[2019-05-15 23:28] PHinker opened #12381 "Great Page, One problem"
Step #1 in Create the Host Project says "Add a WPF App (.NET Framework) project ..." I believe this should be
"Add a Windows Forms App (.NET Framework) project"

Otherwise, great information.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7afd51a-c782-cb1a-8ec0-4ef6c82ea986
* Version Independent ID: ccda5c44-

[2019-05-16 01:35] Thiagopc commented on #5321
Where have documentation System.IdentityModel.Tokens.Jwt?
A long time has passed!

[2019-05-16 02:36] jack147527 opened #12382 "broken link issue"
In the [foreach, in (C# reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/foreach-in#feedback) page, the Try.NET link in the[ Examples](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/foreach-in#examples) will show empty. Somebody has reported this issue, but it seems that it has been not solved.

edit by @mairaw: added topic details

[2019-05-16 02:59] daveyostcom opened #12383 "A complete sample source file"
The best thing to do is to provide a complete sample source file with all examples, commented. There should be a file like that for every release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What's New in

[2019-05-16 05:01] brentschmaltz commented on #5321
@Thiagopc we started with this: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Supported-Algorithms

We are adding a section for Crypto extensibility.

[2019-05-16 05:04] brentschmaltz commented on #5321
@laura-rodriguez you are correct in the sense we don't explicitly check, we can add an option to check when calling OpenIdConnectProtocolValidator.

Although, the normal pattern of using discovery, makes me wonder why we need to do this?

[2019-05-16 05:27] brentschmaltz commented on #8393
@jordanmills I am not seeing where WIF is being 'retired' in the link above.

[2019-05-16 10:48] SujanChristo opened #12385 "Object Initialisation"
In the ReadToObject method in the above example, is the initialization line "User deserializedUser = new User();" is needed provided we initialize the DataContractJsonSerializer as "DataContractJsonSerializer ser = new DataContractJsonSerializer(typeof(User));"? The reason is, we are instantiating a new User Instance and again to that assigning the serialized user. Is there any advantage in the ab

[2019-05-16 12:46] danysdragons opened #12387 "Syntax Highlighting Missing"
Previously the documentation for C# had syntax-highlighting, but this seems to have disappeared recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0768b9b7-793f-db11-d109-7c0379b946b9
* Version Independent ID: 1d49e8c1-c610-d406-27da-5675380aecda
* Content: [How to: Query for Characters in a String (LINQ) (C#)](h

[2019-05-16 14:28] gitboy1 opened #12388 "Design-Time Errors in the Windows Forms Designer"
There are no pictures (indicating how "You can expand or collapse an error category by either clicking on the error category heading or by clicking the expand/collapse chevron"). This is a minimally helpful / borderline not helpful article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a5795-4f87-1be5-5033-5103386a

[2019-05-16 15:13] #12348 closed

[2019-05-16 15:14] #9035 closed

[2019-05-16 15:56] zspitz commented on #10521
@BillWagner Should the syntax used by `DebugView` be in a separate page?

[2019-05-16 17:08] zspitz opened #12393 "Write examples to better fit in with GFM limitations"
There are a few issues with the display of code examples on this page and on the corresponding [Visual Basic page](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio):

* Because GFM doesn't support code blocks within tables, multiple lines of code get written as inline code blocks on separate lines, which wr

[2019-05-16 17:44] Thraka commented on #12385
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-16 18:03] jstafford5380 commented on #10309
I think if you want to test your class that takes the httpclient, then just create an instance of httpclient using the overloaded constructor and add your own faked HttpMessageHandler like you would in any other case.

I think where I get a little confused if I wanted to test Polly in this case. The polly extensions mentioned in the next section are put together as part of the factory  operation,

[2019-05-16 19:33] Thraka opened #12394 "WPF for .NET Core 3.0 - Planning - 1. Top tasks"
Compile a list of top 10-15 user tasks based on

1. Getting started material
2. Most areas of existing documentation that are hit
3. High-priority scenarios from PU

The current task list is

* Learn about the differences between WPF on .NET Framework vs .NET Core
* Port an existing WPF project to .NET Core (both app and control lib)
* Create a new WPF project
* Use the WPF designer
* Package a li

[2019-05-16 19:45] Thraka opened #12395 "WPF for .NET Core 3.0 Planning - 2. Plan TOC"
Based on the "top tasks" #12394, this is the first TOC draft for the new Desktop Guide - WPF area.

- Desktop Guide
  - Windows Forms
    - ...
    - Windows Presentation Foundation
      - Overview
        - What is WPF?
        - What's new
      - Getting started
        - Create a WPF app
        - Create a WPF user control library
      - Migration
        - Differences from .NET Framework

[2019-05-16 19:57] #12394 closed

[2019-05-16 20:14] jadzya opened #12396 "typo"
int[] numbers = { 5, 4, 1, 3, 9, 8, 6, 7, 2, 0 };
var firstNumbersLessThanSix = numbers.TakeWhile(n =&gt; n &lt; 6);
Console.WriteLine(string.Join(" ", firstNumbersLessThanSix));
// Output:
// 5 4 1 3

n &lt; 9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567260f8-0f94-b48c-8344-0d9780ab4448
* Version Independent ID:

[2019-05-16 20:15] #12396 closed

[2019-05-16 20:17] jadzya commented on #12396
result would be the same, example is a little more convoluted the way it is now but still correct so ignore me

[2019-05-16 21:02] mj1856 opened #12397 "Incorrect sample code"
There are three things wrong with the sample code here:

- The default buffer size is 2GB, not 64KB. There's no need to set it explicitly in most cases.
- HttpClient is meant to be created as a single instance and shared, not created for each request (or for each click of the button in this case).
- The line that calls downloadTasksQuery.ToArray() is unnecessary. Once you start awaiting tasks, the

[2019-05-16 21:29] CeciAc opened #12398 "Ungenaue Beschreibung"
@bullipatty commented on [Wed May 08 2019](https://github.com/dotnet/docs.de-de/issues/140)

Ich lerne gerade VB und mindestens in der Deutschen und Englischen Version finde ich die folgende Zeile ungenau:
"Dieser Code ersetzt die bestehenden Anweisungen Console.WriteLine, Console.Write und Console.ReadKey."
Console.WriteLine, Console.Write und Console.ReadKey sind Methoden und keine kompletten/gü

[2019-05-16 21:29] CeciAc opened #12399 "Inaccurate description"
@bullipatty commented on [Wed May 08 2019](https://github.com/dotnet/docs.de-de/issues/140)

Ich lerne gerade VB und mindestens in der Deutschen und Englischen Version finde ich die folgende Zeile ungenau:
"Dieser Code ersetzt die bestehenden Anweisungen Console.WriteLine, Console.Write und Console.ReadKey."
Console.WriteLine, Console.Write und Console.ReadKey sind Methoden und keine kompletten/gü

[2019-05-16 21:31] CeciAc commented on #12398
Hi team,
The user is suggesting a change in the original documentation

Translation:
The sentence

  This code replaces the existing Console.WriteLine, Console.Write, and Console.ReadKey statements.

should be replaced with either of the following:

  This code replaces the contents of the Main method.
  This code replaces the existing Console.WriteLine, Console.Write, and Console.ReadKey calls.

[2019-05-16 21:37] CeciAc commented on #12399
Hi team,
I'm moving this here since the user is suggesting a change in the original documentation

Translation:
The sentence

  This code replaces the existing Console.WriteLine, Console.Write, and Console.ReadKey statements.

should be replaced with either of the following:

  This code replaces the contents of the Main method.
  This code replaces the existing Console.WriteLine, Console.Write, a

[2019-05-17 00:03] Thraka commented on #11744
This is not a bug. The `Directory.GetDirectories(directory, ".", SearchOption.AllDirectories);` line actually pulls every directory from the base directory in a single call. This list of **all** directories is iterated on and there is no need to call the `Search` method recursively.

Closing this issue. 😄

[2019-05-17 00:03] #11744 closed

[2019-05-17 00:34] Thraka commented on #11593
Looking at this again, I think you're right. I'll fix this up.

[2019-05-17 00:46] Thraka commented on #12364
Duplicate of #12298

[2019-05-17 00:46] #12364 closed

[2019-05-17 00:47] Thraka commented on #12364
Duplicate of #12286

[2019-05-17 00:54] Thraka commented on #12349
Thank you for the kind comments about the documentation. I'm closing this issue as there is not a problem with the documentation. Thanks again!

[2019-05-17 00:54] #12349 closed

[2019-05-17 02:04] #12129 closed

[2019-05-17 02:04] #12130 closed

[2019-05-17 06:14] drake7707 opened #12407 "PermutationFeatureImportance example with multiclassification"
The PFI extension also exists in the MultiClassClassification catalog but returns objects of MulticlassClassificationMetricsStatistics that do not have a RSquared property. As someone not intimately familiar with the ML terminology it is unclear to me which of the properties I should use (MacroAccuracy, MicroAccuracy, LogLoss, LogLossReduction, TopKAccuracy) to rank the features like in the exampl

[2019-05-17 07:44] mairaw commented on #10667
Any updates here @Thraka?

[2019-05-17 08:03] mairaw commented on #10100
@Rick-Anderson this was scheduled for march, what's the new target?

[2019-05-17 08:08] mairaw commented on #11951
@Thraka were you planning to address that yourself last month?

[2019-05-17 08:13] mairaw commented on #11847
I've been behind on my CLI updates but I've opened a PR to fix this specific feedback. See #12409

[2019-05-17 08:15] #11705 closed

[2019-05-17 08:18] mairaw commented on #11312
@rpetrusha were you planning to address this one last one? It wasn't assigned.

[2019-05-17 08:48] mairaw commented on #9555
I've checked what's being produced by our latest IntelliSense builds and the link is no longer there (this has been the behavior of how we render links on IntelliSense):
    <member name="F:System.Text.RegularExpressions.RegexOptions.Singleline">
      <summary>Specifies single-line mode. Changes the meaning of the dot (.) so it matches every character (instead of every character except \n). For m

[2019-05-17 08:53] djary opened #12410 "ml.net document sentiment-analysis"
in this tutorial https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis#how-the-data-was-prepared

Mistake occurred or I do not understand?

**SentimentPrediction** class inherits from **SentimentData** for displaying the **SentimentText** with the predictions. it ok, but **SentimentPrediction**  class has a single **boolean** (Sentiment) and a **PredictedLabel** Col

[2019-05-17 12:29] rs38 commented on #8862
what do you mean?
@PeterPann23  Taking an Array T[] is one of the standard constructor of  Vector<T>
https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector-1.-ctor?view=netstandard-2.1#System_Numerics_Vector_1__ctor__0___

[2019-05-17 13:10] PeterPann23 commented on #8862
never mind, it's in the constructor

[2019-05-17 13:10] #8862 closed

[2019-05-17 13:18] #10521 closed

[2019-05-17 13:40] smbogan opened #12414 "Enum.ToString's X format option documentation does not match implementation"
The X formatting option documentation indicates that the value is padded to 8 hexadecimal digits.  It appears that the actual code pads it to the size of the underlying data type - specifically, the number of bits divided by 4 (or, equivalently, sizeof(T) * 2).  It seems like the code's behavior is more sensible than the documentation.

For example:
enum X : short { E = 28 }

X.E.ToString("X") giv

[2019-05-17 13:49] rsrobbins opened #12415 "Train the model section is incomplete"
The Train the model section of the tutorial only shows one line of code "var model = pipeline.Fit(dataView);" when you actually need five lines as code as found in the Program.cs file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad-5057-5

[2019-05-17 13:51] abhijitsbhopale commented on #4675
What could be the way to know which TLS protocol version is being used in the nettcp client-server communication for a particular session?
In service call, it is possible to print supported protocols using System.Net.ServicePointManager.SecurityProtocol but the actual version used in the communication/session is missing.

[2019-05-17 14:09] #9904 closed

[2019-05-17 14:10] #10327 closed

[2019-05-17 14:32] BillWagner commented on #11606
The planned updates are published in [this gist](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd)

[2019-05-17 14:32] #11606 closed

[2019-05-17 14:56] luisquintanilla commented on #12407
Hi @drake7707 . The reason R-Squared is not available for multiclass classification is because different machine learning tasks have different metrics. See this article on metrics for more details.

https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/metrics

[2019-05-17 15:56] #11116 closed

[2019-05-17 16:43] BrettBr0wn commented on #12149
I believe I accessed the page after searching Google for "vb friend function," but I can no longer recreate the issue.

[2019-05-17 17:08] heaths opened #12417 "Doesn't list breaking change to Nullable"
Originally, the MSBuild property was `NullableReferenceTypes`, then changed to `NullableContextOptions`, but now in Visual Studio 2019 16.2 Preview this is now `Nullable` and is a breaking change that should've been announced here. Not sure if this is a change to the .NET Core 3.0 SDKs (`dotnet --list-sdks` doesn't show anything newer) or the Microsoft.NET.SDK build targets, but certainly affects

[2019-05-17 18:04] rpetrusha commented on #11312
Yes, I was planning to address this one, @mairaw. Thanks for finding it.

[2019-05-17 18:05] TheOneTrueTrench commented on #12372
Are you asking if a C# language feature is supported by other languages?

Just want to make sure I understand your question.

[2019-05-17 18:09] BillWagner commented on #12372
@KathleenDollard and @cartermp would have to speak to the support for default interface members in VB and F#, respectively. There are also runtime considerations with @terrajobst can discuss.

Between now and .NET Core 3.0 release, we'll fill out the full story with other articles here and in the .NET Core section.

[2019-05-17 18:17] TheOneTrueTrench opened #12418 "Deadly Diamond of Death?"
So, this seems to introduce the DDOD, which is potentially an extremely bad idea, and it's important that developers be able to opt out of this as necessary.

Let's say I have to access both Oracle and Sql Server databases, and I have a class "DbQuery" that implements IOracleQuery and ISqlQuery.

That's all well and good, I've implemented both interfaces, I've used explicit implementation where ne

[2019-05-17 18:19] BillWagner commented on #12418
@TheOneTrueTrench Yes, that's a risk.

I'll be filling in a full plan for scenarios I need to cover with respect to default interface members. This is an area that I will be addresing. I'll add this issue to the plan.

[2019-05-17 18:28] Rick-Anderson commented on #10100
@mairaw I'll do it this sprint.

[2019-05-17 18:54] FishDawg opened #12419 "Won't typo"
The last sentence of the "Equality and tuples" section has "won't" misspelled "won'".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf15268-9d34-cf10-97b9-0b94022c3305
* Version Independent ID: 17728168-48fa-0f5f-0c19-31ae4ce6fdb9
* Content: [Tuple types - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/tupl

[2019-05-17 19:31] SteveKennedy opened #12422 "Add info on stopping app pool recycles, so that IWebHost doesn't die."
It would be helpful if this document included more information to the reader around "...your host can be shut down because of app pool recycles."  Specifically, strategies around eliminating app pool recycles on hosted IIS.

As a reader, I would want to know, what is the setting changes I could do to an IIS hosted web application to ensure the app pool does not recylce (or recycle often), so that

[2019-05-17 20:06] rjkuehne opened #12423 "XAML code is inconsistent"
when you get to the 'Add an image and a title' section above, the XAML code is different from the previous sections and some of the following sections so can't really go step by step here.  frustrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0dc39f7-b153-a46c-3b88-07c8ed2c71bc
* Version Independent ID: 78a1453

[2019-05-17 20:44] #12419 closed

[2019-05-17 20:54] #11847 closed

[2019-05-17 20:56] #11238 closed

[2019-05-17 20:57] karelz commented on #4675
@abhijitsbhopale I don't think it is possible to do in .NET.

[2019-05-17 21:42] brentschmaltz commented on #12192
@KalleOlaviNiemitalo @Thraka VINR is not required or used by asp.net with OWIN or asp.net CORE. It is used by 4.5 asp.net apps.

[2019-05-18 02:26] pkulikov commented on #10754
Notes:
- The fixed and moveable variables are covered in the section about the [address-of operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/pointer-related-operators#address-of-operator-). That might be extracted from there.
- The whole "Pointers in expression" part can be a one-liner link to the [Pointer related operators](https://docs.microsoft.com/en-us/dotn

[2019-05-18 06:29] KathleenDollard commented on #12372
Consuming default interface methods are in our plans for Visual Basic.NET.

At least initially, we plan to support consuming, but not creating them. There are higher priority features for Visual Basic.NET.

[2019-05-18 07:33] drake7707 commented on #12407
@luisquintanilla Thanks, I completely missed that page.

Can I interpret the `MacroAccuracy`,`MicroAccuracy` and `LogLoss` in the same way as RSquared, are they also average decreases per feature? If so, am I correct that I should just replace the RSquared.Mean from the example with LogLoss.Mean to rank the feature importance correctly?

[2019-05-18 11:38] chrisfcarroll commented on #11847
Again, thankyou :-)

[2019-05-18 18:34] fakeinc opened #12430 "Braces"
In Rider IDE settings, I've found that the use of braces in "if"/"for"/"foreach"/"while"/"do-while"/"using"/"lock"/"fixed" statements have not been discussed in this guideline. For example (from the Code Style Settings as well):
[code]
Here should I add braces to the first for loop?

Thanks.

edit by @billwagner: code formatting.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-05-18 19:44] TyreeJackson opened #12431 "Another resource demonstrating subclassable typed enumeration classes using generics"
http://tyreejackson.com/subclassable-enums/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7c91ccc35779
* Content: [Using Enumeration classes instead of enum types](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/m

[2019-05-18 20:39] Brian-Willoughby opened #12432 "Docs out of date?"
I am using Visual Studio on macOS. When I follow the instructions above to Enable automatic binding redirects, instead of "Unload Project," I see only "Unload." Then, instead of seeing "Edit [projectname.csproj]," I see an "Tools" submenu with an "Edit File" item. As a brand new user, I may have selected the wrong file at the start, but I did end up editing a file with the expected &lt;PropertyGro

[2019-05-18 23:03] DameonL commented on #12185
I can write this. However, collections are covered as the next topic (Lists/Collections), so there's some overlap if we cover foreach in the branches and loops tutorial. It's actually used early in the Lists tutorial, so a better solution might be to actually show how to iterate through a collection in the Lists tutorial, and then expand that to the foreach loop. Let me know, and I'll get writing.

[2019-05-18 23:49] taiwoa commented on #12372
I am referring to the "default interface methods" feature specifically.

Thanks.

[2019-05-18 23:51] taiwoa commented on #12372
Thanks Kathleen. Please where may one find the list of the higher priority features planned for Visual Basic.NET?

Best regards!

[2019-05-19 02:33] an31146 opened #12434 "missing using namespaces?"
For the uninitiated, this example should also include at the top:
using System;
using System.Collections;
using System.Collections.Concurrent;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 066ffeec-641e-58a8-d863

[2019-05-20 04:35] abhijitsbhopale commented on #4675
@karelz Thank for the response. Is there any way by capturing the packets over the network? I tried with Wireshark & RawCap but the encrypted packets don't give any clue.

[2019-05-20 05:40] mholec opened #12439 "Dotnet CLI usage data update"
Is it possible to update usage data for dotnet tool? https://github.com/dotnet/core/blob/master/release-notes/cli-usage-data.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c136055b-bb04-17b6-19b2-42d4610c1a70
* Version Independent ID: 50433ae5-4687-fe5f-75ab-a47e1a706777
* Content: [.NET Core SDK telemetry - .NET Co

[2019-05-20 11:53] cemkestek opened #12440 "Installing hosting bundle"
As far as I see, only SDK and runtime installations are supported. Is there a way to install ASP.NET Core Runtime Hosting Bundle via this script?

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80

[2019-05-20 13:00] abhijitsbhopale commented on #4675
Hello All,
Came across a strange problem with sslProtocols settings with netTcpBinding. I have set below configuration inside binding tag,

[code]
It works on Windows 7 and 10 but on **Windows Server 2008 R2**, same application throws an exception saying  **"Unrecognized attribute 'sslProtocols'.** If I remove sslProtocols="None" from configuration it works on  Windows Server 2008 as well. How it

[2019-05-20 13:04] longtomjr opened #12441 "Add `last`"
Add `last` to the list of functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0694330-a4e4-5a07-2b6b-8259b57e319a
* Version Independent ID: 71e9da59-27a1-6194-3a69-09b9d3a383d4
* Content: [F# Collection Types - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/fsharp-collection-types#feedback

[2019-05-20 14:59] #10830 closed

[2019-05-20 15:03] #12343 closed

[2019-05-20 15:31] Swimburger opened #12442 "Confusing bullet point "Avoid the use of var in place of dynamic.""
I came across the following [page on C# Coding conventions](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions), but the following bullet point is confusing me.
_"Avoid the use of var in place of dynamic."_

What is meant by this bullet point? Can this be rephrased to be more clear?
Maybe a code sample will make it more clear, but currently I'm uns

[2019-05-20 15:54] #10418 closed

[2019-05-20 15:57] #4794 closed

[2019-05-20 18:11] 3686 opened #12448 "-p isn't mentioned anywhere"
An example shows you can use `-p` to set the build parameter, but it's not mentioned in the top section of parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-00dc-417c-db017f83bf6f
* Version Independent ID: 5e495ddd-140e-de5c-a793-d4a9f88be51e
* Content: [dotnet build command - .NET Core CLI](http

[2019-05-20 18:25] mairaw commented on #12448
Hi @3686,

The possibility of passing MSBuild parameters is mentioned here:
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build#msbuild

I can just add a clarification to the example introduction that this is using a MSBuild option.

[2019-05-20 18:42] mairaw commented on #12440
Are you talking about this page https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script?

[2019-05-20 18:48] #10268 closed

[2019-05-20 19:34] CESARDELATORRE opened #12451 "Missing HOW TO load/save datasets in .IDV binary format"
We're missing here HOW TO load/save datasets in .IDV binary format.

See customer's issue requesting it:
https://github.com/dotnet/machinelearning/issues/3748

It should also explain when to use the .IDV format, such as when you need maximum performace (compared to .CSV or .TSV), etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-05-20 21:11] rpetrusha commented on #12414
Thanks for pointing our the error in the documentation, @smbogan. The source code for .NET Framework and .NET CoreFx also confirms that the value is padded based on the size of the underlying numeric type. We'll update the documentation accordingly.

[2019-05-20 21:13] BillWagner commented on #12289
This is a good idea @cgm-wmaisenhelder

I've added it to our backlog for the next update to this article.

[2019-05-20 21:14] BillWagner commented on #12346
That's a good question @weitzhandler

I don't know that we've addressed his in our own codebases.  @jaredpar Is there an accepted practice for tuple member names and casing?

[2019-05-20 21:17] jaredpar commented on #12346
@terrajobst is driving the decision here. Not sure it's final final but the outcome is going to be that tuple names should be cased the same way you case property names.

[2019-05-20 21:20] BillWagner commented on #12346
Thanks @jaredpar

@terrajobst  If you're comfortably with that guidance, I'll add this issue to our "up for grabs" queue for community contributions.

[2019-05-20 21:22] BillWagner commented on #12372
I'm keeping this open to address the correct location for information on F# and VB support. Once we provide that info, I'll close this as the current article won't address those languages.

[2019-05-20 21:37] BillWagner commented on #12374
Thanks for writing this up @insulind

We do document the new behavior for `is`  in the language reference for [is](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/is#-constant-pattern).  That doesn't discuss an unconstrained generic test like you show. Both that page and this one should be updated.

Ping @agocke and @gafter  to make sure this is a docs issue, and not a compile

[2019-05-20 21:38] BillWagner commented on #12380
Thanks for writing this @radams0x

I think we can compromise and pour the coffee first, drink some while cooking, then warming it up before enjoying a great breakfast. 🥓 ☕️

[2019-05-20 21:38] #12380 closed

[2019-05-20 21:40] mairaw commented on #12439
@KathleenDollard can you comment on the status of having the temeletry data updated? Thanks!

[2019-05-20 21:42] mairaw commented on #12417
Thanks for your feedback @heaths.
@KathleenDollard @rainersigwald can you comment on this change? We also need to do a migration topic for 3.0.

[2019-05-20 21:44] BillWagner commented on #12383
Thanks for writing this @daveyostcom

Adding @LadyNaggaga to this discussion.

We are working on something like that, based on what was demoed at build.

[2019-05-20 21:45] rainersigwald commented on #12417
@jaredpar is probably the most interested party here.

This is a breaking change but only from the previous prerelease; not sure if that changes the severity/desired doc level.

[2019-05-20 21:48] mairaw commented on #12399
Thank you for feedback @bullipatty. I've opened PR #12456 to fix this issue.

[2019-05-20 21:50] BillWagner commented on #12417
The MSBuild property change would also need to be updated in the C# section on nullable reference types.  That would affect these three articles:

- [Express designs with nullable reference types](https://docs.microsoft.com/dotnet/csharp/tutorials/nullable-reference-types)
- [Migrate applications to nullable reference types](https://docs.microsoft.com/dotnet/csharp/tutorials/upgrade-to-nullable-re

[2019-05-20 21:50] mairaw commented on #12398
Thanks @CeciAc but it seems you moved the same issue twice. Marking this as duplicate of #12399.

[2019-05-20 21:50] #12398 closed

[2019-05-20 21:52] gafter commented on #12374
Yes, that is correct.

[2019-05-20 21:54] BillWagner commented on #12387
Thanks for pointing this out @danysdragons

It appears to have been fixed. Please let us know if you encounter this again.

[2019-05-20 21:54] #12387 closed

[2019-05-20 21:54] mairaw commented on #12371
Good catch @HoraceBury! We're missing this option indeed.

I'll update this topic as I review the CLI commands for 2.2 and 3.0 releases in the next few weeks.

@KathleenDollard @livarcocc can you comment on which option name can be used with that command? Are both `--ResultsDirectory` and `--results-directory` accepted?

[2019-05-20 22:01] rpetrusha commented on #11858
Thank you for your question, @xp44mm. There is an example that uses two named blocks in a regular expression in the [Unicode Category or Unicode Block: \p{}](https://docs.microsoft.com/en-us/dotnet/standard/base-types/character-classes-in-regular-expressions#unicode-category-or-unicode-block-p) section. Each named block represents a contiguous range of Unicode code units. For example, the `IsGreek

[2019-05-20 22:03] BillWagner commented on #12374
There are two changes that should be made to fix this issue:

1. This article should mention that unconstrained generic types can use the constant pattern to check for null. It should also link to the language reference page for the [`is` keyword](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/is#-constant-pattern).
1. The reference page for `is` should be updated to add that

[2019-05-20 22:05] BillWagner commented on #12393
Thanks for pointing this out @zspitz

I've added it to our next sprint to address.

[2019-05-20 22:07] BillWagner commented on #12397
Thanks for writing this up @mj1856

The async area will be updated shortly. This is helpful to address these concerns.

[2019-05-20 22:08] heaths commented on #12417
@rainersigwald it may be prerelease, but a lot of stuff in the docs are prerelease. Those of us dogfooding the prereleases need to be aware of breaking changes as well.

[2019-05-20 22:23] mairaw commented on #12304
@livarcocc @KathleenDollard according to [this comment](https://github.com/dotnet/cli/issues/10372#issuecomment-440385887), it seems that `dotnet clean` only cleans build content and not publish content. Is that behavior by design? Do we intend to change this in future releases?

[2019-05-20 22:24] mairaw commented on #12303
Is this supported @KathleenDollard @livarcocc?

[2019-05-20 22:25] mairaw commented on #12288
@mlacouture can you comment on this?

[2019-05-20 22:26] mairaw commented on #12248
@mlacouture can you review this issue? This seems like a product bug. Should it be moved somewhere else?

[2019-05-20 22:27] mairaw commented on #12229
@johnbeisner can you please review this issue about the installation scripts? Thanks!

[2019-05-20 22:30] mairaw commented on #12184
This topic seems too advanced to be listed in the Get started section. Should we move to under tutorials?
https://docs.microsoft.com/en-us/dotnet/core/tutorials/

[2019-05-20 22:47] mlacouture commented on #12248
@dasetser who owns this now.

[2019-05-20 22:48] mlacouture commented on #12288
@dasetser?

[2019-05-20 22:49] rpetrusha commented on #12210
I agree with @svick. There's also no mention of language version in the article, and there's no convenient link (especially given multi-language support) that could be added. I'll close this issue as By Design.

[2019-05-20 22:49] #12210 closed

[2019-05-20 22:52] weitzhandler commented on #12346
I'd vote for that to. Public members should be pascal cased.

[2019-05-20 23:17] shmoradims commented on #10136
I believe this issue is already addressed as part of 1.0 API reference documentation. Now all trainers have a sub-section in their remarks called input/output columns, where the types and definition of the input/output columns are clearly explained. E.g.: https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.averagedperceptrontrainer?view=ml-dotnet#input-and-output-columns

[2019-05-20 23:22] livarcocc commented on #12371
`dotnet test` is actually owned by a separate team. I am not sure who over there could answer this questions.

@kendrahavens can you help point us to the right contact on the dotnet test team?

[2019-05-20 23:23] livarcocc commented on #12303
This is not supported by dotnet.

[2019-05-20 23:31] Thraka commented on #12434
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-20 23:42] livarcocc commented on #12304
That is by design for now. We currently do not have plans to change this behavior.

cc @peterhuene in case he has something else to add.

[2019-05-20 23:47] ram3ai opened #12458 "webHttpBinding, not wsHttpBinding"
&gt; Specifies the security requirements for an endpoint configured with a &lt;wsHttpBinding&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2324da6b-cace-7290-6e32-f5513173c30e
* Version Independent ID: 386f0671-dfaa-3a5d-4b53-fb036873a622
* Content: [&lt;security&gt; of &lt;webHttpBinding&gt;](https://docs.micros

[2019-05-21 00:22] JRAlexander commented on #10136
Thanks, @shmoradims! I agree and am therefore closing.

[2019-05-21 00:22] #10136 closed

[2019-05-21 00:35] zspitz commented on #12393
@BillWagner Is there any possible solution aside from what I've proposed -- putting the results as comments together with the code in a single code block?

[2019-05-21 00:41] BillWagner commented on #12393
@zspitz I like your solution. That's likely what I'll do in the next sprint. If you'd like to submit a PR before then, I'll watch for it, and review and merge it.

[2019-05-21 02:26] #12399 closed

[2019-05-21 02:46] #12448 closed

[2019-05-21 02:51] mairaw commented on #12303
Closing then since this is a product question.

[2019-05-21 03:52] Thraka commented on #12184
I think so.

[2019-05-21 05:29] jonaramos commented on #9142
When you add the Service Reference on the client, instead of clicking the Discover button, you have to type in the endpoint Url of your WFC service hosted on the remote machine.

[2019-05-21 05:37] zspitz opened #12462 "Split DebugView syntax into a separate topic"
I think the syntax used by DebugView to represent expression trees should be on a separate page, perhaps a sub-page of this one. The same is true for the [corresponding Visual Basic page](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio).

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-21 05:38] zspitz commented on #12393
@BillWagner I would be willing to do this, together with #12462 (if #12462 is a good idea).

[2019-05-21 09:01] garricknorthover opened #12463 "Evaluate method signature"
Hey guys, just a wee typo.
The call to Evaluate from the main function has an argument
[code]
but Evaluate has no parameter
[code]
This needs to be
[code]
Awesome tutorial btw
Cheers
Garrick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02dbf6
* Version Independent ID: 8a16b9e9-b5cb-a55e-

[2019-05-21 09:31] garricknorthover opened #12464 "loadedModel in PredictIssue"
Hey guys,
Just another little typo.

The PredictIssue method is missing the declaration of loadedModel.

So
[code]
needs to be the first line in
[code]

Cheers
Garrick
[code]

[2019-05-21 12:27] stjepan opened #12465 ".NET Framework 4.7.2 is supported"
.NET Framework 4.7.2 is installed on Azure Guest OS Family 6, which is the latest release (running Windows Server 2019).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7341fa0a-f474-6c2d-d3c0-7e2df12fbb65
* Version Independent ID: e99c489a-7518-d293-ad93-7eaca8b7191a
* Content: [Transport Layer Security (TLS) best prac

[2019-05-21 13:58] BillWagner commented on #12393
@zspitz I like your proposal.

I'll assign both these issues to you, and I'll watch for upcoming PRs.

[2019-05-21 14:04] #12326 closed

[2019-05-21 14:17] akeeton opened #12466 "F# PowerPack is obsolete"
See https://github.com/fsprojects/zzarchive-powerpack/blob/master/README.md.  The F# Quotations Evaluator is now at http://fsprojects.github.io/FSharp.Quotations.Evaluator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a680f2c-dd7f-89ef-e2da-cd5ca920667d
* Version Independent ID: 4d3e5b17-68e2-45c4-4a7d-7f7675cb6508

[2019-05-21 14:41] Thraka commented on #11951
Sorry, I must have accidentally marked this with the 3 other issues that were opened on the article at the same time 😄

I think the answer in #11950 is kind of related. It links to https://stackoverflow.com/questions/12196647/when-are-attribute-instances-created. This answer explains that attributes are created when you look for them from the outside, already knowing the type or member you're acce

[2019-05-21 14:41] #11951 closed

[2019-05-21 15:08] Thraka commented on #12434
@rpetrusha Ron, I was going to fix this but looking at the source it seems like it's a huge file with lots of different stuff in it. Is there a master .sln or .proj file for the source? This way I can break it out into a different file and make sure it compiles.

[2019-05-21 15:13] Thraka commented on #12119
@HongGit Perhaps your team can answer this question?

[2019-05-21 15:23] karelz commented on #12465
Is there public doc confirming that?
Can you please submit PR?

[2019-05-21 15:27] luisquintanilla commented on #12407
@drake7707 That is correct. See [sample from API documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.permutationfeatureimportanceextensions.permutationfeatureimportance?view=ml-dotnet#Microsoft_ML_PermutationFeatureImportanceExtensions_PermutationFeatureImportance__1_Microsoft_ML_MulticlassClassificationCatalog_Microsoft_ML_ISingleFeaturePredictionTransformer___0__Microsoft_ML_

[2019-05-21 15:45] Thraka commented on #12385
@HongGit Can someone from your team validate that using the deserializer with `typeof` vs `obj.GetType()` matters? Unsure why `User deserializedUser = new User();` is created and used with `deserializedUser.GetType()` instead of just calling `typeof(User)`?

Here is the code we're referring to:

[code]

[2019-05-21 16:58] #12322 closed

[2019-05-21 17:05] drake7707 commented on #12407
I wasn't aware there were examples documented in the API documentation. My search-fu failed me, thanks a lot!

[2019-05-21 17:05] #12407 closed

[2019-05-21 17:20] Dismissile opened #12469 "Integration Events"
"As described earlier, when you use event-based communication, a microservice publishes an event when something notable happens, such as when it updates a business entity. Other microservices subscribe to those events."

"The integration events can be defined at the application level of each microservice, so they are decoupled from other microservices, in a way comparable to how ViewModels are def

[2019-05-21 17:28] dasetser commented on #12248
@scrodde Since this issue is for the product rather than the documentation please open an issue on the WCF Core Github: https://github.com/dotnet/wcf/. When you open that issue can you also include information on if this works correctly if you use the normal svcutil and a full framework client? If we can confirm there's a difference in behavior it will be easier for us to investigate the cause of

[2019-05-21 18:45] anato-s opened #12470 "Documentation does not correspond to implementation behavior of system.runtime.caching.memorycache"
**Issue:**
When `MemoryCache.Default` is initialized, it is not finding the following configuration as per documentation sample and sets default values

`<add name = "default" cacheMemoryLimitMegabytes="20" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />`

**Culprit:**
This is either
1. incorrect documentation [https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-s

[2019-05-21 19:20] rpetrusha commented on #12434
No, @Thraka, there's not a master solution or project file for the source. This is a consistent problem with the async and parallel docs -- they were created as single source code files with an enormous number of examples. Where I've revised content, I'd tried to break them out into single files -- but for the most part this hasn't been touched since it was created.

[2019-05-21 20:20] #10839 closed

[2019-05-21 20:23] stjepan commented on #12465
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix#family-6-releases

I think it would better be someone from you guys for this one, because it might be some other content editing related to the new fact.

[2019-05-21 20:54] dasetser commented on #12119
cc: @mconnew in case you have more to add.

If you're hosting your WCF service as a web app setting the customErrors value will do something, since it is still a web app. For example, if you have some setup error with the service or IIS and try to navigate to the wsdl in a browser this setting would control how the error page is shown.

However, I don't think it should generally make any differenc

[2019-05-21 21:39] kendrahavens commented on #12371
@PBoraMSFT may be able to help

[2019-05-21 21:56] zspitz commented on #12393
@BillWagner Some questions:

1. What do I put as my Microsoft alias in the new page?
2. Should `ms.topic` be `reference`?

[2019-05-21 22:40] Thraka commented on #8848
1st PR to fix the issue is still open.

[2019-05-21 22:50] Thraka commented on #12119
@dasetser So if I understand what you're saying, it's that the server-side errors settings are still valid, but handling errors there has no affect on client-side. No matter what, WCF service error handling you've implemented (fault contracts or IErrorHandler) still get bubbled down to the client.

[2019-05-22 04:27] Thraka commented on #12458
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-22 07:56] heejaechang opened #12478 "document is missing generic instance type used as parameter case"
the document is missing this case
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/DocumentationComments/DocumentationCommentIDVisitor.PartVisitor.cs,198

ex) Method(List&lt;int&gt; i) =&gt; Method(System.List{System.Int32})

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79307f9a-ba5a-b108-918b-917df121facd
* Ver

[2019-05-22 09:43] cemkestek commented on #12440
Yes exactly!

[2019-05-22 09:56] masterofimages opened #12480 "XmlReader should be disposed"
Since XmlReader implements IDisposable, the XmlReader should be disposed after use, e.g.

    using (XmlReader books = XmlReader.Create("books.xml", booksSettings))
        while (books.Read()) { }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99bf3b5-3eb2-a0d3-2009-4fb2b9de3b76
* Version Independent ID: 8252e3d3-071

[2019-05-22 10:01] masterofimages opened #12481 "Should set bookSettings.ValidationFlags = XmlSchemaValidationFlags.ReportValidationWarnings"
Without the ValidationFlags property set to XmlSchemaValidationFlags.ReportValidationWarnings, no schema validation warnings are returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99bf3b5-3eb2-a0d3-2009-4fb2b9de3b76
* Version Independent ID: 8252e3d3-0718-9814-d685-852387f16afd
* Content: [XML Schema (XSD) Valid

[2019-05-22 10:52] mahavirsinhpadhiyar opened #12482 "Docket Community Version not available"
https://www.docker.com/community-edition link applied on Docker Community Edition (CE) text is not found as of now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3befff27-c4fc-a699-90b3-903ce60234af
* Version Independent ID: 71ff10df-c0b0-9497-e448-82388ef1b1a1
* Content: [What is Docker?](https://docs.microsoft.com/e

[2019-05-22 13:43] edaymami opened #12483 "Shows how to create but not how to read the list and use it in a real life application."
Please stop using the "Console" and show examples in a desktop app or at least what the code would return. Lots of other article here show what the code returns. also fails to show when list contains a row with more than one data item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef7201b-e3d3-484c-c46f-0f2f257ddae3

[2019-05-22 14:03] brentstineman opened #12484 "Microservices do NOT require queues"
I take issue with the guidance in [this article](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/architect-microservice-container-applications/communication-in-microservice-architecture#asynchronous-microservice-integration-enforces-microservices-autonomy). While the use of queues is a great technique to promote the loose coupling of services... This article's wording p

[2019-05-22 14:20] progalgo opened #12485 "The runtime will fail to start if this mode enabled but DEVPATH not specified"
Or even specified improperly (i.e. its value not being a valid path)

Important note required to steer people away from using this technique. CLR will crash if you use &lt;developmentMode&gt; but fail to specify DEVPATH. CLR will also crash if you declare &lt;developmentMode&gt; anywhere else but machine.comf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-05-22 14:21] progalgo commented on #12485
Or even specified improperly (i.e. its value not being a valid path)

[2019-05-22 14:51] mohag opened #12486 ".NET Core 3.0 Preview behaviour for --output differs"
--output is relative to the current working directory instead of the .csproj file. This does not seem to be documented here or under What's New

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish co

[2019-05-22 15:07] #8846 closed

[2019-05-22 15:12] #8848 closed

[2019-05-22 15:15] #11866 closed

[2019-05-22 15:49] Thraka commented on #12486
Thank you for reporting this. I've confirmed the behavior.

[2019-05-22 15:50] Thraka commented on #12486
Assigning to @mairaw as part of the CLI updates.

[2019-05-22 15:51] #12458 closed

[2019-05-22 15:56] KalleOlaviNiemitalo commented on #12192
@brentschmaltz Are you recommending that VINR references be deleted from WIF documentation? Note that it is part of .NET Framework Guide rather than .NET Core Guide.

VINR can be used for authenticating the users of an IIS web application with WS-Federation, just by having the correct web.config; the web application can consist of static files without any local executable code at all. I am not sur

[2019-05-22 16:30] #11858 closed

[2019-05-22 16:33] BillWagner opened #12487 "Tutorial: Traits scenario using default interface members"
Default interface members in C# 8 can be used for some of the same scenarios as traits. This tutorial should explore that kind of scenario.

Note: This is also similar to the "mixin" classes in some C++ literature.

[2019-05-22 16:34] BillWagner opened #12488 "Tutorial: "virtual extension methods" using default interface methods"
This may be too similar to the versioning tutorial, but it has some important distinctions involving adding a default interface method to a class's public interface. The class may defer to the interface's implementation, or override and provide its own.

This tutorial should likely also cover many of the rules involving method resolution.

[2019-05-22 16:34] BillWagner opened #12489 "Language Reference, Programming guide: Default interface members updates"
It's likely that almost all mentions of interfaces in the programming guide and the language reference make some passing comment that interfaces cannot contain implementation. That's changing

[2019-05-22 16:34] BillWagner opened #12490 "Language reference: Major updates to interface pages"
Default interface members change several rules on what can be included in interfaces. It introduces new overload resolution scenarios. These need to be described on the appropriate language reference and programming guide pages.

[2019-05-22 16:41] BillWagner commented on #12489
This should be done after #12490 so that these updates can link to the updated reference content.

[2019-05-22 16:42] BillWagner commented on #12490
This is not yet ready to pull into a current sprint.  The [spec](https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md) still has some open issues and discussions for some of the important areas.

[2019-05-22 17:05] CESARDELATORRE commented on #8816
@jdorseywx - Thanks for the suggestion. I added it to our ML.NET Sample apps here:
https://github.com/dotnet/machinelearning-samples/blob/master/docs/Samples-Backlog.md
However, feel free to create the sample and submit a PR for review/merge in the GitHub samples repo if you have the time. ML.NET is all about OPEN SOURCE contributions too! :)

[2019-05-22 17:06] Thraka commented on #12442
Yeah, I agree. The reason why should be clear.

I'm guessing it's because dynamic and var share the fact that they don't declare a type explicitly but they are used completely differently. You wouldn't want to just start converting your existing dynamic variables to var because you should have used dynamic for some specific purpose that won't be fulfilled by var.

I'll add this to the backlog.

[2019-05-22 17:36] dasetser commented on #12385
@Thraka It should not matter which they use in this case. The obj.GetType() method is used to get the actual type at runtime, where typeof is you defining it at compile time. Calling GetType on an object that was initialized as a new User() right before will have the same result as using typeof(User).

My guess is they wrote it this way to keep the steps of the Read method similar to the Write met

[2019-05-22 17:54] CESARDELATORRE commented on #12484
I think you are misunderstanding the content. We're not saying that Microservices always requires queues:

1. What we're saying is that the communication between the client app (either web app, mobile app or any front end) and the microservices is usually Http. Then, usually between the front-end and the microservices you usually have API Gateways that are also usually using HTTP, not queues.

2.

[2019-05-22 18:21] dasetser commented on #12288
@tabareh Take a look at the suggestion in https://github.com/dotnet/wcf/issues/3230. There's a feature that lets you control this. Since this document is just about a tool to generate the proxy and not about actually using WCF I don't think this is the correct place to document it.

[2019-05-22 18:40] tabareh commented on #12288
Thanks for the information!

On Wed, 22 May 2019 at 20:22, Daniel Setser <notifications@github.com>
wrote:

[2019-05-22 19:09] Thraka commented on #12385
Yeah, I figured that too. I just saw some info about ensuring some object gets deserialized as the appropriate derived class versus the base class so I wanted to just make sure that the example wasn't written in some specific way as a "best practice" in avoid some conflict or something..

[2019-05-22 20:14] AlexanderTaeschner commented on #9517
The option has been renamed to `<Nullable>`, so that `<Nullable>enable</Nullable>` in the csproj file now enables the nullability feature for all code files in the project (see https://github.com/dotnet/roslyn/issues/35432).

[2019-05-22 20:17] pkulikov commented on #10741
@BillWagner to confirm: the listed operators should have a separate page for each of them.

Given that, I  suggest (they are already merged in the list in the issue text) to merge pages for the `+` and `+=` operators (`-` and `-=` pair as well) and put focus at these pages on the non-arithmetic behavior.

[2019-05-22 20:19] egil commented on #9517
Great. That is a good simplification. I must have missed that in the release notes. Thanks for the hint.

[2019-05-22 22:20] Thraka opened #12493 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 324ac109-634f-7e1b-6c22-694d711e7524
* Version Independent ID: 349e61a9-710b-02d9-9e64-a712f8d5e2cf
* Content: [.NET Guide](https://docs.microsoft.com/en-us/dotnet/standard/#feedback)
* Content Source: [docs/standard/index.md](https://github.com/dotnet/docs/blob/maste

[2019-05-22 22:55] #12414 closed

[2019-05-23 01:27] mconnew commented on #12119
@Thraker, with things like WebAPI and MVC, the URL sent to the server will change from one request to the other. e.g. http://example.com/Customers/1 vs https://example.com/Orders/17 . What the service does is highly dependent on the URL you send. With WCF, everything is sent to the same URL. e.g. http://example.com/MyService.svc and the thing which changes is the POST body. So if you mistype the u

[2019-05-23 04:09] Swimburger commented on #12442
Aha that makes sense. Thanks for taking a look at this.

[2019-05-23 05:14] flcdrg commented on #9517
Just to clarify, SDK 2.2.204, 2.2.300 and 3.0.100-preview5-011568 still appear to use `NullableContextOptions` in `Microsoft.CSharp.Core.targets`

The same with Visual Studio 2019 16.1 (`C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\Roslyn\Microsoft.CSharp.Core.targets`)

2019 16.2 Preview *does* have have it though (`C:\Program Files (x86)\Microsoft Visual Stu

[2019-05-23 06:38] brentschmaltz commented on #12192
@KalleOlaviNiemitalo I am not recommending the VINR ref be deleted from WIF documentation.

VINR was designed to work with AAD multitenant scenarios and is useful.
For .Net Core, we are developing similar solutions.

[2019-05-23 09:22] PaulPetersenAtTheAA opened #12500 "codebase version"
the documentation doesn't explain where the version in the codebase element comes from. If I have a DLL file, how do I determine the version? is it the file version? do I have to be explicit or will it capture a range of values eg &gt; and use the href I specify. Like lots of Microsoft documentation it is dry and unhelpful in solving the problem

---
#### Document Details

⚠ *Do not edit this sect

[2019-05-23 09:25] prawalagarwal commented on #12371
@mairaw --ResultsDirectory is the only accepted way with dotner vstest

[2019-05-23 09:33] garfbradaz opened #12501 "SafeHandlers - Linux"
Will these `SafeHandles` examples work for .NET Core applications running on Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572ef6c6-5066-4a14-76a0-c3fb4b62e604
* Version Independent ID: 9c754da1-c234-fb12-580b-0fcf9ffe2c20
* Content: [Implementing a Dispose method](https://docs.microsoft.com/en-us/dotnet/standa

[2019-05-23 11:04] sharpninja commented on #11903
@mairaw That looks fantastic!

[2019-05-23 14:05] BillWagner commented on #12442
To add a bit more clarification:

`var` means "The type of this variables matches the compile-time type of the right hand side of the initialization statement." That declares a static type for the variable.

`dynamic` means "The static type of this variable is `dynamic`."  That means any member access for that variable is allowed at compile time, and is resolved at runtime based on the runtime cap

[2019-05-23 14:13] BillWagner commented on #10741
@pkulikov That would be perfect.

[2019-05-23 14:20] BillWagner commented on #12417
@Thraka

See PR #12497  That updated all the docs for the C# Guide I referenced above.  Thanks @KexyBiscuit

A quick check in the other .NET Core docs didn't find other occurrences of `NullableContextOptions`. If you agree, I think we can close this.

[2019-05-23 14:52] #12393 closed

[2019-05-23 15:23] MarqueIV opened #12502 "Your code sample (in the text) is still wrong!"
You state "A TemplateBinding is an optimized form of a Binding for template scenarios, analogous to a Binding constructed with {Binding RelativeSource={RelativeSource TemplatedParent}}" then follow it with "A TemplateBinding is always a one-way binding, even if properties involved default to two-way binding."  I was the original person to call out the one-way issue that got the 2nd part added, exp

[2019-05-23 18:24] randallto opened #12509 "Not predicting but selecting closest static value"
I used the taxi cab example to get the first payment of a Graduated Student Loan. Those are not formulated like simple interest is the reason for using a prediction from machine learning. I have data with balances in 5k increments and interest rates in .5 increments. When I do a prediction using a known balance in the data and using 2% interest it is identical to 2.25%.  2.26% is the same as 2.5%.

[2019-05-23 21:11] Thraka commented on #12119
@mconnew Makes sense, thanks.

@minoseah629 I think this answers your question and I'm going to close this issue.

[2019-05-23 21:11] #12119 closed

[2019-05-23 22:13] rcollette opened #12510 "Ability to add a package reference without a specific version added to .csproj file"
For example, when adding Microsoft.AspNetCore.App to a test project that references a web api project, I need to add the package reference without a version number as per
https://github.com/dotnet/sdk/issues/2253

I am doing this with a shell script that creates a multi-project solution so I need to do it with `dotnet add package ..`

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-05-23 22:16] terrajobst commented on #11903
I'd say resolved 😛

[2019-05-23 22:32] rpetrusha opened #12511 "Migrate .NET content team code samples from Code Gallery"
The sample URLs already redirect to the new samples browser. If we can't recover the old samples, we should eliminate the links to them in existing documentation.

## Migrate .NET content team code samples from Code Gallery

There are currently five legacy samples created by the **CLR User Education team** that should be migrated to GitHub and modernized. They are:

- [x]  [.NET Framework 4 Format

[2019-05-24 01:21] Perustaja opened #12512 "Cannot implicitly convert type 'System.Data.Entity.Dbset to System.Data.Entity.Core.Objects.ObjectQuery'"
Running this code verbatim returns this error, everything goes smooth until

ObjectQuery&lt;Product&gt; products = dataEntities.Products;

returns this error, seems some others had the same issue. I have essentially the same code written out verbatim but with different names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-24 08:42] metalhead44 opened #12514 "How does this helps scaling aspect of CQRS pattern?"
Wanted to know how does this helps scaling aspect of CQRS pattern? Both the models are part of the same microservice, so scaling the microservice is going to scale both read and write paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce115a1c-3cc0-c01d-4fb4-95105cfeda85
* Version Independent ID: 3469e63a-4c32-d38e-

[2019-05-24 08:57] #12463 closed

[2019-05-24 11:44] SabotageAndi opened #12515 "DataSets in ADO.NET documentation"
**Issue description**

In the ADO.NET docs (https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/) are a lot of pages and mentions of DataSet and DataReader. As far as I know it isn't anymore recommended to use these.

If a newcomer reads the documentation, it looks like it is a good idea to use them.
I would like to see some banner or info, that these classes shouldn't be used for new pr

[2019-05-24 11:55] SabotageAndi opened #12516 "use best coding practises in ADO.NET samples"
The samples of using ADO.NET don't use best practices of C# coding.

If you look at one example from https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/retrieving-data-using-a-datareader

[code]

I see following problems with this examples:

 - There are missing `using` statements for SqlCommand and the SqlDataReader.
 - Connection is a parameter, but the `HasRows` method opens it and d

[2019-05-24 13:31] keithbfry opened #12517 "Error in Program.vb code?"
I am new to vb.net and working through the tutorial. I received an error when trying to execute program.vb on the line "$"{If(input.StartsWithUpper(), "Yes", "No")} {vbCrLf}")", BC30456 'StartsWithUpper' is not a member of 'String'. Did I miss a step somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2fd1ea-ab

[2019-05-24 15:55] CeciAc opened #12519 "The TaskCompletionSource not be canceled correct"
@voidweapon commented on [Fri May 24 2019](https://github.com/dotnet/docs.zh-cn/issues/390)

In example of Exposing Complex EAP Operations As Tasks, the CancellationToken Just cancel WebClient, the tcs of TaskCompletionSource still running in some thread.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a7a2d4f3-d369-9945-79d1-31efea2f06cc
* Version Independent ID: 30

[2019-05-24 15:56] CeciAc commented on #12519
Hi team,
I'm moving this here since the user is reporting an error in the code.
kind regards

[2019-05-24 16:22] MikeRosoft opened #12520 "Bad layout - the 'Message' column leaks past the table view"
The tables are unreadable due to a bad layout; the 'Message' column leaks past the table view and requires horizontal scrolling (after which the type name can't be seen). Set maximum width for the 'Type' column and wrap the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc58564e-689c-1571-d59b-b40660d21cd5
* Vers

[2019-05-24 17:25] rpetrusha commented on #12517
There are two things that might account for the error you're seeing, @keithbfry.
- In your source code for the StringLibrary class (from <https://docs.microsoft.com/dotnet/core/tutorials/vb-library-with-visual-studio>), have you included the `<Extension>` attribute before the `StartsWithUpper` method?
- Have you added a reference to the **StringLibrary** project in step 5?

[2019-05-24 17:29] rpetrusha commented on #9794
@mairaw, the documentation links to the MSBuild command line reference for information on the options., Should this be closed as By Design?

[2019-05-24 18:06] CESARDELATORRE opened #12521 "[ML.NET] Include Cache in HOW TOs at docs.microsoft.com for ML.NET"
It’d be good to have a short HOW TO page explaining when to use cache, when not to use it, pros/cons, and the simple line of code on how to use it in the pipeline.

This is almost the only place in the reference talking about it, but it is not very clear:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.learningpipelineextensions.appendcachecheckpoint?view=ml-dotnet#Microsoft_ML_LearningP

[2019-05-24 20:08] brikken opened #12524 "Inconsistent literal formatting"
This document states camel case for literals.

The literals documentation linked to in the same section recommends initial capital letter for literals.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 8c09996f-24ac-cf39-ef43-d7909cbc2b89
* Version Independent ID: 1efdd523-8552-6421-e149-74f76826ef8f
* Conte

[2019-05-24 21:26] #11429 closed

[2019-05-25 00:05] #12200 closed

[2019-05-25 05:38] #12303 closed

[2019-05-25 07:23] BrightFuture1029 opened #12527 "This is not advanced topic but a "Basic" topic."
Why don't we change structure of entire document tree and name it as basic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1322e7-0e9c-56d4-bc95-4c071f44e89f
* Version Independent ID: 82ed1aa1-489f-88f5-b4da-4dc4ef2a59d5
* Content: [Advanced (Windows Presentation Foundation)](https://docs.microsoft.com/en-us/dotnet/f

[2019-05-25 15:55] raj-julha opened #12528 "Encoding sample doesn't write the textblock"
The encoding sample creates a TextBlock but never adds it to the image. To which object should it be added?

When saving the image it has a black background, how to make it white with black text?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca366bf1-8a0c-3da0-d6d2-ac47bdc8b09d
* Version Independent ID: e9ca7ce7-0ce3-

[2019-05-26 15:27] #12493 closed

[2019-05-26 15:40] Nick87Phillips commented on #10852
Same, I wish this was clearer. I think too many assumptions are made by the writer about prior reader knowledge. Although, I've been reading through the C# concepts docs in order, it would still help a lot if individual bits of code here could be defined a bit better. Assume we are idiots please

[2019-05-26 15:52] lonix1 opened #12534 "[Bug] Race condition in idempotent mediator commands"
In section entitled [Implement idempotent Commands](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api#implement-idempotent-commands) there is a race condition - the code checks whether the command was already processed, and if not, processes it. Between the check and the database write an

[2019-05-26 17:40] eostarman opened #12536 "sudo rm -rf `find Shortcut to remove old version"
cd /usr/local/share/dotnet
sudo rm -rf `find . -name '2.1.*'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ca18b0-5533-f5b9-2eb4-9853a4fa61ed
* Version Independent ID: a12b8b5c-a3af-d1c5-a27c-39e9d390dff2
* Content: [Remove the .NET Core runtime and SDK - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/vers

[2019-05-27 02:56] Emdot opened #12538 "Available options"
See the listing on the left at http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Options/Option%25601.cs,3b7f62d0e769f94b,references for the available options that are built into Roslyn.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e10330-6763-2858-9997-b0ac59a5c793
* Version Independent ID: 512356fd-6498-

[2019-05-27 03:34] skewl84 opened #12539 "Docker Community Edition (CE ) for Mac and Windows link is not valid any more"
The new link for the Docker Community Edition (CE ) for Mac and Windows is
https://hub.docker.com/search/?type=edition&offering=community

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ddab88-0658-98e6-ead1-2521359e417a
* Version Independent ID: 41efa23d-02b1-63e8-f240-ba5dbae21712
* Content: [Development Process for

[2019-05-27 09:33] ef-computas commented on #7449
This question has not been given a clear answer.  The question is whether Guid.NewGuid() produces a UUID compliant with RFC4122.

Since a random UUID compliant with RFC4122 cannot collide with other types of RFC4122, because the version or variant field is always set differently, this would be useful to know.

[2019-05-27 12:19] ILya-Lev opened #12542 "Goto is barred for 50 years"
Please do not use goto in your examples.
Ever!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc900853-b666-5815-9d69-e408af3e3900
* Version Independent ID: 77f3af83-d0ca-7d48-d06d-0f28f5f05a49
* Content: ["pattern-based using" and "using declarations" - C# 8.0 language proposals | Microsoft Docs](https://docs.microsof

[2019-05-27 12:34] mikedn commented on #12542
`goto` is a feature of the language and language proposals naturally have to discuss how new features interact with it.

[2019-05-27 14:29] dasMulli opened #12543 "dotnet command help missing --runtimeconfig option"
See https://github.com/dotnet/core-setup/blob/61f83f1f764a8a2840a21779e386c2ad11fca75d/src/corehost/cli/fxr/command_line.cpp#L22-L31 for the available options (https://github.com/dotnet/core-setup/blob/086e6eddfa2639f074f9512bf10e374391ffafde/src/corehost/cli/fxr/fx_muxer.cpp#L724-L742 for the 2.2 version).

The documentation is missing the `--runtimeconfig` option.

---
#### Document Details

⚠ *

[2019-05-27 15:27] bender2k14 commented on #5804
Did this get completed in Sprint 139?

[2019-05-27 16:05] igor-moskvitin opened #12544 "Multuple IHostedService registration"
If i try to register two or more services, only one could work properly.
For example:
[code]
Implementations are simplest as possible:
[code]
and
[code]

In output getting messages only from ServiceA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a03c0-a844-26eb-48a5-33a612dd3ead
* Version Independent ID: 0707865f-9

[2019-05-27 17:33] mwpowellhtx commented on #7292
Whether a "file exists" to signal the CLI seems like a bit of a hack to me? I mean, not even a JSON configuration, for instance?

[2019-05-27 19:44] davidsh commented on #4675
In service call, it is possible to print supported protocols using System.Net.ServicePointManager.SecurityProtocol but information about the actual version used in the communication/session is missing. Have posted question at StackOverflow as well but no luck.

There is no programmatic (API) way of getting the final TLS protocol version negotiated. However, you can easily see this in WireShark.  J

[2019-05-27 19:50] davidsh commented on #4675
@RamanJindal

If your app targets .NET Framework 4.6 or later versions, this key defaults to a value of 1
Can you please clarify?

There is a subtle difference between *SchUseStrongCrytpto* and *DontEnableSystemDefaultTlsVersions*

In general, setting "UseStrongCrypto" will make sure that Ssl30 is not included as well as set the default to "Tls1 | Tls11 | Tls12".  However, this is still specifying

[2019-05-27 23:17] shavenwalrus opened #12546 "Why?"
Why break the concept of interface immutability? That's kind of the whole point of them.

What pressing need does this feature address that can't be accomplished with abstract classes or interface inheritance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790425e-da4e-9a75-6a11-f72109ce8d6a
* Version Independent ID:

[2019-05-28 01:37] abhijitsbhopale commented on #4675
@davidsh ServerHello, ALPN etc. on Wireshark works with Https communication, not net TCP. There is no ServerHello or ClientHello visible for TCP on Wireshark or any other sniffing tool.

[2019-05-28 02:18] davidsh commented on #4675
HTTPS communication at the lowest layer is simply TLS on a TCP connection.

"net TCP" is still a TCP connection at the lowest layer.  And then it uses TLS on top of that.  It stays a binary protocol after that as compared to HTTP protocol on top of TLS (which is HTTPS).

WireShark should still show the TCP connection traffic as well as the TLS negotiation. Perhaps it is having trouble parsing the

[2019-05-28 08:23] xp44mm commented on #11858
thank you for letting me known!

[2019-05-28 08:47] amis92 commented on #7292
@mwpowellhtx since the project tools are getting deprecated in favor of Local Tools, I don't think this'll ever get any traction. And Local Tools don't have a problem like that anyway.

[2019-05-28 08:59] bombek92 commented on #9802
I think "no switch" is not a problem with this example. The problem is that it is not realted to the topic of article - discards.

[2019-05-28 11:32] andhog opened #12549 "ConfigureAwait(false)"
Why isn't ConfigureAwait(false) considered to be the default when awaiting async calls?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What's New in C# 8.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/

[2019-05-28 12:28] bartjanson opened #12550 "typo in line"
'pass the bass address' should be 'pass the base address'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b690ad76-eb59-8444-83e6-61efeaeba4fe
* Version Independent ID: b5d9ac1c-63ff-9c3e-314b-6dbf4948d9b4
* Content: [How to: Create a Service Endpoint in Code](https://docs.microsoft.com/en-us/dotnet/framework/wcf/featur

[2019-05-28 12:53] #12539 closed

[2019-05-28 13:46] shoter opened #12551 "No information about behaviour for multi framework projects"
There is no description on what happens when we are trying to test projects with multiple targeted frameworks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acda3e82ce0
* Content: [dotnet test command - .NET Core CLI](https://docs.

[2019-05-28 15:00] BillWagner opened #12552 "Clarify add and remove delegate operations"
See https://github.com/dotnet/samples/pull/929#issuecomment-496512821

Customers have had questions on the details of how delegate addition and subtraction (add and removal).

/cc @pkulikov

[2019-05-28 15:28] mcsGregor opened #12553 "DPI"
I think the DPI graphics are in the wrong order.
If all the images have the same size (200 x 150 px), then the images become smaller with rising display sharpness (DPI) and not bigger.

BR,
Gregor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6893b273-ed23-a3b7-ccc8-1cf335df36f6
* Version Independent ID: 6b3732d4-6e7d

[2019-05-28 17:33] JRAlexander commented on #11854
Closing as I believe this is resolved. Please reopen or comment if that's not the case. Thanks!

[2019-05-28 17:33] #11854 closed

[2019-05-28 17:36] JRAlexander commented on #8460
Hey @rvberloo! There is an MNIST sample here:  https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/MulticlassClassification_MNIST

[2019-05-28 17:38] JRAlexander commented on #8460
Closing as I think this is resolved.  Please reopen or comment if that is not the case. Thanks!

[2019-05-28 17:38] #8460 closed

[2019-05-28 17:39] JRAlexander commented on #9126
Closing As we have successfully launched ML.NET 1.0!

[2019-05-28 17:39] #9126 closed

[2019-05-28 17:52] mwpowellhtx commented on #7292
@amis92 Well, that's really the bottom line. That, or what's the migration path. What is *Local Tools*, are there links for that? Thanks.

[2019-05-28 18:39] jchannon commented on #11066
Can we get this done soon please? I've just hit this again. I also compared the results of dotnet pack and mono nuget.exe pack and they are completely different so you may find it's not as easy as just swapping them

[2019-05-28 18:43] guardrex opened #12556 "Swap out author on topics"
Would it be ok to swap me (guardrex) out for one of the regular authors on the repo in `author` metadata? It will help me with the ping load. I can do the PR if you let me know who the replacement author is.

[2019-05-28 19:51] #12550 closed

[2019-05-28 21:21] aaronhudon-ts opened #12560 "Why use the TryReceive method?"
The `Robust Programming` example doesn't illustrate any benefit of using `TryReceive` compared to `Receive`.  The reason of "multiple consumers" should be expanded to show why `TryReceive` is more appropriate for multiple consumers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bea9235-8cf9-29aa-5136-a0af34725e2c
* V

[2019-05-28 21:24] Thraka commented on #12553
I don't think so, not in this case. This paragraph is talking about how automatic scaling works and points out that the scaling in WPF is not handled like most applications are.

This is why the image scales along with the text. So yes, in a traditional application something set to screenpixels of 200x100 would appear smaller as soon as you raise the DPI, in WPF things are not set in pixels but in

[2019-05-28 21:24] #12553 closed

[2019-05-28 21:28] Thraka commented on #12527
Hello.

Can you clarify why you think this is basic information? I feel like basic information is more like the getting started stuff where you teach someone how to install or create a simple app but don't go into deeper knowledge stuff.

Maybe we could name it fundamentals as a better title/structure, and not try to specifically say that this information is advanced or basic?

[2019-05-28 21:35] rpetrusha commented on #12556
Yes, it would be OK, @guardrex. You can assign the .NET Core topics to @mairaw and the .NET Framework topics to @rpetrusha.

[2019-05-28 21:36] guardrex commented on #12556
Thanks @rpetrusha ... Will do.

[2019-05-28 22:54] #12556 closed

[2019-05-29 01:32] Thraka commented on #11066
@jchannon I did a lot more investigation and the current `dotnet pack` command is not compatible with this tutorial. The `dotnet` commands end up working on the project file to generate things while the `nuget` command is working on that `.nuspec` file.

I think the real answer to this problem is to rewrite the tutorial for the `dotnet pack` command.

@KathleenDollard Can you comment on this? Can

[2019-05-29 04:07] nishanil commented on #12539
Thank You @skewl84 for your feedback. These are fixed in the mentioned PR and will go live soon.

[2019-05-29 04:07] nishanil commented on #12482
Thanks for the feedback @mahavirsinhpadhiyar. This is fixed in the referenced PR and will go live soon.

[2019-05-29 04:07] #12482 closed

[2019-05-29 12:02] amis92 commented on #7292
http://lmgtfy.com/?q=dotnet+local+tools

First result:
https://github.com/dotnet/cli/issues/10288

[2019-05-29 12:53] KathleenDollard commented on #7292
Here is text that @wli3 put together:

_It is an empty file under the root of “lib” folder of the nupkg with name “prefercliruntime” (case sensitive on Linux). The existence of it indicates the tool prefer to use dotnet SDK’s runtime(to original bundled SDK’s runtime) instead of the runtime it built with (stored in MYTOOL.runtimeconfig.json). However, if SDK’s runtime version is different in major

[2019-05-29 13:08] amis92 commented on #7292
I'm pretty sure it's supposed to be just *root* instead of "lib" folder:

https://github.com/dotnet/cli/blob/24d003f0e06130c951b3594c5a2e7ee06d50a31c/TestAssets/TestPackages/dotnet-prefercliruntime/dotnet-prefercliruntime.csproj

(it's a master branch at the time of writing)

[2019-05-29 14:35] SwitchNikky opened #12568 "Get Copy error after adding the 2 lines in dockefile"
Hi, I get a error when I run "docker build -t myimage ." after adding the 2 lines in dockerfile. "COPY failed: stat /var/lib/docker/tmp/docker-builder640341134/bin/Release/netcoreapp2.2/publish: no such file or directory" .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version In

[2019-05-29 15:13] mwpowellhtx commented on #7292
Similar search under [Duck](http://duckduckgo.com/) about the third result, behind *dognet-nuget-locals* and *global-tools* funnily enough, ``?q=dotnet%2Blocal%2Btools&ia=web``. Thanks... :+1:

[2019-05-29 15:51] Thraka commented on #12345
Hello!

Sorry to say, but this article is not the right place to ask that question. I think you will have a better chance of getting your question answered if you post it on a forum such as StackOverflow.

I'm going to close the issue.

Thanks.

[2019-05-29 15:51] #12345 closed

[2019-05-29 15:58] Thraka commented on #12568
Did you run `dotnet publish -c Release` specifically the `Release` parameter? Can you output the directory structure (tree) of the `.\app\bin\` folder?

Can you provide more information about your environment?

1. OS
2. Folder path you're working in (directory results for the folder would help)
3. Folder path to your app (directory results for the folder would help)
4. Dockerfile contents
5.

[2019-05-29 16:26] JRAlexander commented on #12415
Thanks for the feedback @rsrobbins! Which five lines are you referring to?

[2019-05-29 16:30] JRAlexander commented on #12216
Hi @dionoid! Here is the feedback from the team:
"this is indeed expected. The feature importance is calculated on the final features that the model trains on. You can inspect the output tokens to see which slot in the Features vector corresponds to which token. See [this example](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/Featur

[2019-05-29 16:30] #12216 closed

[2019-05-29 16:33] Narvey opened #12574 "Params, Splat, every language has a different term for this"
If there is a generic term for splats (Ruby)/params parameters (C#, and the most vague way of referring to this concept I can imagine), please include it in this documentation for better searchability as well as general knowledge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbdb1f5e-a34b-6f30-2262-7c659e1ee466
* Ver

[2019-05-29 16:41] #6007 closed

[2019-05-29 17:10] JRAlexander commented on #8960
@neven10, I'm going to close this and we will document UWP support when it's available in the product. You can track the PR here:  https://github.com/dotnet/machinelearning/issues/1736 along with the above corefx issue you referenced. Thanks!

[2019-05-29 17:10] #8960 closed

[2019-05-29 17:23] wli3 commented on #7292
Sorry, I misread the test [here](https://github.com/dotnet/cli/commit/dc876803377abd715f53b5f7eeb7ac750113222d#diff-2f94d7e3813c0be0932708a5cd5ea68bR20)

It should be under the root.

[2019-05-29 18:20] rsrobbins commented on #12415
These five lines of code:

[code]

[2019-05-29 19:11] #12046 closed

[2019-05-29 19:13] rsrobbins opened #12577 "Missing Code"
There is no code shown for "As you did previously, fit the model to the productSales data and return the trained model by adding the following as the next line of code in the DetectChangePoint() method:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0953823a-7d2a-a323-5365-d9a349385552
* Version Independent ID: 54ec31

[2019-05-29 19:33] alihassani1378 opened #12579 "lambda"
lambda

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567260f8-0f94-b48c-8344-0d9780ab4448
* Version Independent ID: 1bebe367-5b93-0b83-72f5-bdf31d65ef5d
* Content: [Lambda expressions - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/lambda-expres

[2019-05-29 19:37] JRAlexander commented on #12415
Ahh, thanks. We were missing the return model. Good catch!!!! I've referenced the PR fix above.

[2019-05-29 19:40] JRAlexander commented on #12577
Thanks for this feedback, @rsrobbins! Good catch. I'll get it fixed straightaway and reference this issue in the PR fix.

[2019-05-29 19:55] #12415 closed

[2019-05-29 20:01] johnbeisner commented on #11662
Duplicate: https://github.com/dotnet/cli/issues/10663
This has been addressed: https://github.com/dotnet/cli/pull/11359

[2019-05-29 20:01] Thraka commented on #10667
@ygoe This is fixed in a PR from https://github.com/dotnet/cli/pull/11359 but it hasn't been deployed yet. Thank you for reporting the problem.

[2019-05-29 20:03] Thraka commented on #11662
@johnbeisner Thanks!
@lonevvolf Thank you for reporting the problem.

[2019-05-29 20:03] #11662 closed

[2019-05-29 20:45] Thraka commented on #10667
@ygoe I got a response about this (which I forgot to put in here, sorry) and I was pointed to https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md which has some information on how to trim back which dependencies you need.

I don't see where there is a list of different dependencies for each Ubuntu release? Are you talking about for different architectures? (x64 vs

[2019-05-29 20:45] #10667 closed

[2019-05-29 21:41] Adron commented on #9239
Just read this thread after being redirected here from the docs per @psimoneau22's message that those docs need updated. After reading through this, I'm not entirely sure what needs to be changed if I'm getting the following error, which redirects to this docs page:

[2019-05-29 23:13] Thraka commented on #9239
@Adron Have you tried cleaning the project and then rebuilding it? I usually see this error when the obj directory has other runtimes cached.

[2019-05-30 02:18] #12577 closed

[2019-05-30 02:26] JRAlexander commented on #12464
Thanks, @garricknorthover, unfortunately this is actually not needed as we removed the save and load and consolidated it into a How-To article. Apologies for the delay in responding!

[2019-05-30 02:26] #12464 closed

[2019-05-30 08:09] sameeraviduranga opened #12589 "i'm confuse"
i want to learn c# very clearly and correctly.are left side menu of this page correct order ? how i start c#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dff5a94-d9cd-e31b-4056-362abbe8d782
* Version Independent ID: cfb1ad21-e822-4075-2726-bd130ec2358d
* Content: [C# Guide](https://docs.microsoft.com/en-us/dotnet/c

[2019-05-30 10:06] johnnzy1 opened #12590 "\$ explanation is garbled"
There's a bit of a glitch in the explanation for the \$ expression for example 3 which makes it more difficult to read. It's fairly obvious when you look at it. Maybe I can fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bd8ae60-9b02-3e9e-2318-982f563710c2
* Version Independent ID: d167e261-eb1b-967b-5a6f-cbc22

[2019-05-30 10:37] johnnzy1 commented on #12590
No, I don't think I can.

[2019-05-30 12:56] jj-itventure commented on #9849
Where was the clarity of this point in the documentation specifically?

[2019-05-30 14:53] brunoxweb opened #12591 "Review examples"
Hi there! This document are suggesting the use of StringBuilder to concatenate strings. However we can see a bad example a few words later.

...append strings in loops, especially when you are working with large amounts of text, use a StringBuilder object.

[code]

And then we can see that:

[code]

EDIT by @thraka to fix code blocks

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-05-30 15:31] Thraka commented on #12527
Going to close this issue. Either way we're not making changes to the existing WPF area. However, the details from this issue can be used in the new WPF desktop guide.

[2019-05-30 15:31] #12527 closed

[2019-05-30 16:16] Lukas34 opened #12592 "The class definition for eventLog1 is missing"
The sample code for "Add features to the service" looks to be missing the `EventLog` class when creating `eventLog1`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3ba0-c606-25ada7347b22
* Version Independent ID: e797ddfe-a9d3-93a4-61bd-fd6dc9b8d6b4
* Content: [Tutorial: Create a Windows service app](htt

[2019-05-30 16:36] rpetrusha commented on #12590
Thanks for reporting this issue and trying to fix it, @johnnzy1. We appreciate it. I've opened #12593 which hopefully fixes the problem.

[2019-05-30 17:03] kshyju opened #12594 "Incorrect documentation on AsSpan method."
As per the [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.internal.system.spanextensions.asspan?view=aspnetcore-2.0&viewFallbackFrom=aspnetcore-2.2#Microsoft_AspNetCore_Server_Kestrel_Internal_System_SpanExtensions_AsSpan_System_String_), The `AsSpan` method will throw a `System.ArgumentNullException` exception when the input text is `null`. I found

[2019-05-30 17:09] kshyju commented on #12594
cc @terrajobst

[2019-05-30 17:56] svick commented on #12594
You linked to the documentation for the ASP.NET Core 2.0 method `Microsoft.AspNetCore.Server.Kestrel.Internal.System.SpanExtensions.AsSpan`. But if you're on .Net Core 2.2, then you're using the "real" `System.MemoryExtensions.AsSpan`, [whose documentation does not claim it throws when the input is `null`](https://docs.microsoft.com/en-us/dotnet/api/system.memoryextensions.asspan?view=netcore-2.2#

[2019-05-30 18:26] seancpeters commented on #11066
@seancpeters

[2019-05-30 18:33] psaxton commented on #8727
As it is currently written, the [Pattern matching with `switch` and `is`](https://docs.microsoft.com/en-us/dotnet/csharp/discards#pattern-matching-with-switch-and-is) section doesn't use `switch` or `discard` anywhere in it. This should be removed or fixed.

[2019-05-30 18:35] kshyju commented on #12594
Thanks!

This 2.0 version came in my bing search for the API documentation. I tried choosing 2.2 in the left side dropdown and it reloaded the page saying "you have been redirected to the newest product version this page is available for". The dropdown still shows 2.0

![image](https://user-images.githubusercontent.com/144469/58655329-bef34a80-82ce-11e9-9fc4-66dd254e9706.png)

[2019-05-30 20:11] rpetrusha commented on #12589
To get started with C#, @sameeraviduranga, you can use the interactive tutorials in the [Introduction to C# interactive tutorials](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/#introduction-to-c-interactive-tutorials) section. They allow you to learn C# by using your browser, writing code, and executing it in your browser.

[2019-05-30 20:12] #12589 closed

[2019-05-30 23:09] seancpeters commented on #11066
Overall this tutorial looks pretty good.

It should be added that prior to creating the nupkg, the project being converted to a template should be cleaned. Otherwise the contents of obj\ and bin\ will get included in the template nupkg, which will cause a variety of problems when attempting to install the template pack. In general, there should be no .exe or .dll files included in a template pack

[2019-05-30 23:26] Thraka commented on #11066
@seancpeters Thanks for the feedback. Would you be interested in updating the article and opening a pull request?

One issue though we still have is that the `dotnet pack` command seems lacking compared to `nuget pack`. And by forcing users to use `nuget pack` we require them (on *nux) to install Mono.

[2019-05-30 23:56] Thraka commented on #12594
This just because you landed on the ASP.NET API site itself. So you'll only see versions for that product stack. This `AsSpan` doc for the .NET Core stack has not yet been documented by the product team. I'm going to close this issue.

Thanks!

[2019-05-30 23:56] #12594 closed

[2019-05-31 00:00] jnieman21 commented on #8727
+1 that this is confusing. I searched for some time trying to find the _ with no success, only to find this comment thread.

[2019-05-31 00:01] Thraka commented on #6107
I think this is no longer valid.

[2019-05-31 00:01] #6107 closed

[2019-05-31 00:58] BillWagner opened #12596 "Update the table on this page"
See https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd#-controlling-access

All the sections of this table should be a list of keyword links, rather than a comma separated list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ff0d7fd-3319-2d27-d89a-e92f6ce1285a
* Version Independent ID: b9a529ef-7ba1-6

[2019-05-31 01:15] #12590 closed

[2019-05-31 01:28] #12434 closed

[2019-05-31 01:31] Thraka commented on #12542
I'm going to close the issue as there is no real issue here 🍰

[2019-05-31 01:31] #12542 closed

[2019-05-31 04:58] dasMulli commented on #9239
`Microsoft.NETCore.App version 1.0.0` sounds fishy, are you setting any special properties while building?

[2019-05-31 05:57] xxx0624 opened #12598 "Exe file run on mac"
Hi,
I have some questions about the mac platform.
As you know, the IL Assembler generates a portable executable (PE) file from intermediate language (IL). I wonder the executable file can run on mac? Or is there some way to run that file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64ba952e-6354-ec6b-c890-d7e22d75ab

[2019-05-31 07:46] KathleenDollard commented on #11066
One issue though we still have is that the dotnet pack command seems lacking compared to nuget pack. And by forcing users to use nuget pack we require them (on *nux) to install Mono.

We'll take this part on. Would you mind filing it as an issue on the github.com/dotnet/CLI, which will then let you tidy up your repo. This is definitely a product feature issue, not a docs issue.
___________________

[2019-05-31 13:52] yurifaggu opened #12602 "resistance"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*
fuck the police coming straight from the underground, a young nigga got it bad cause i'm brown
* ID: 7569e51d-92c7-294a-2d5f-e1ab3c35fdf8
* Version Independent ID: 86a1c11a-1d3c-902b-6cf3-5c004c59a856
* Content: [using directive - C# Reference](https://docs.

[2019-05-31 13:56] OJacot-Descombes commented on #8727
To begin with, the text introduces the term **discard pattern** but does explain what it consists of. In relation with switch expressions, the discard pattern is simply an underscore with no preceding `var`. A blog of Mads, [Do more with patterns in C# 8.0](https://devblogs.microsoft.com/dotnet/do-more-with-patterns-in-c-8-0/) says:

In [Recursive Pattern Matching](https://docs.microsoft.com/en-us

[2019-05-31 14:36] CeciAc opened #12603 "where is &New ToolStripMenuItem."
@evday commented on [Fri May 31 2019](https://github.com/dotnet/docs.zh-cn/issues/392)

10.Create an event handler for the Click event of the &New ToolStripMenuItem.

did you mine &Open  not &New

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a725858d-20f4-bac2-d5f9-9eb0b03c5f0e
* Version Independent ID: 18e7e99b-9dc5-5668-6162-aaf261d045f7
* Content: [如何：将 MenuStri

[2019-05-31 14:37] CeciAc commented on #12603
Hi team,
I'm moving this here since the user is making a suggestion on the original document

[2019-05-31 15:20] dannarsavage opened #12604 "Misleading default configuration value"
This page indicates that the default configuration value is "Debug", but I removed the Debug configuration from my solution & all projects and my build server happily built using my new "Development" configuration after a simple "dotnet build [solution]".  Perhaps that note should instead indicate that dotnet will go with the first config it finds in the solution?

---
#### Document Details

⚠ *Do

[2019-05-31 15:42] Thraka commented on #11066
@KathleenDollard Filed an issue.

@jchannon I'm going to close this for now. Let's get the `dotnet pack` command fixed up and then we can remove nuget as a dependency for this scenario and not resort to all sorts of workarounds trying to trick `dotnet pack` into working.

[2019-05-31 15:46] Thraka opened #12606 "Improve docs around creating a template to use dotnet pack"
Per the discussion in #11066, the existing tutorial for creating a template requires that nuget be installed. On *nix operating systems, this requires Mono to be installed. A bug has been filed in the dotnet CLI repo that requests the `dotnet pack` command be improved to remove this dependency. dotnet/cli#11457

~This issue is a placeholder until the CLI is improved. When the CLI is improved, this

[2019-05-31 15:57] Thraka commented on #12604
Thank you for opening this issue. I'll add it to the backlog. This does sound like the "default" in this case means when the setting is omitted from the command line, and there is no config defined in the project.

@KathleenDollard Please confirm.

Thanks again!

[2019-05-31 16:01] Thraka commented on #12603
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-05-31 16:05] Thraka commented on #5926
Related to #9288

[2019-05-31 16:06] Thraka commented on #5926
assigned to @BillWagner as we wait for his thoughts on my suggestion of redoing that section.

[2019-05-31 17:35] AnthonyMastrean opened #12610 "Explain how to set the HttpClient's BaseAddress"
In previous patterns, we would explicitly set the HttpClient's BaseAddress property. This makes the subsequent method calls a lot easier/simpler, by not having to concatenate URL string parts. You don't mention how we do that with this new factory pattern or if it's different at all.

In fact, your example shows a base address (`_remoteServiceBaseUrl`), but glosses over where/how it gets a value.

[2019-05-31 17:44] AnthonyMastrean commented on #12610
Actually, I see the explicit BaseAddress handling in another linked page: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1#typed-clients

[2019-05-31 18:08] CESARDELATORRE opened #12612 "Misleading sentence. ML.NET 1.0 allows to do transfer learning on just the final layer of the DNN, not on multiple layers"
At the beginning of the tutorial it says:
"What if you could reuse a model that's already been pre-trained to solve a similar problem and retrain either all or some of the layers of that model to make it solve your problem?"

That's a misleading sentence. ML.NET 1.0 allows to do transfer learning on just the final layer on the not on multiple layers of the DNN.

[AB#1530397](https://dev.azure.com/

[2019-05-31 18:14] CESARDELATORRE opened #12613 "The tutorial uses the inception5h model which is the InceptionV1, not InceptionV3 model"
The tutorial uses the inception5h model which is InceptionV1, not InceptionV3 model

InceptionV1 model:
https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip

InceptionV3 model:
https://storage.googleapis.com/download.tensorflow.org/models/inception_v3_2016_08_28_frozen.pb.tar.gz

[AB#1530397](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/

[2019-05-31 19:28] Thraka commented on #12304
@quantrpeter As this is by design, I suggest you file an issue with https://github.com/dotnet/cli/issue and request that clean behaves this way (or some option to toggle it)

I'm going to close this as the bug isn't related to a problem with the documentation. Thanks!

[2019-05-31 19:32] Thraka commented on #11976
Assigning the issue to @merriemcgaw to wait for feedback.

[2019-05-31 21:24] f1ben opened #12616 "Typo in Example"
There must be a typo in one of the version numbers in this sentence:  "For example, CLR version 4.0.30319.xxxxx supports .NET Framework versions 4 through 4.5.2 and CLR version 4.0.30319.42000 supports .NET Framework versions starting with .NET Framework 4.6."  This doesn't make sense because 4.0.30319.42000 is a possible value for 4.0.30319.xxxxx.

---
#### Document Details

⚠ *Do not edit this s

[2019-05-31 21:50] merriemcgaw commented on #11976
@dreddy-work when you have some time can you debug into it and see what is making us change the order of events? It seems like this isn't a regression, but I'd really like to understand why.

[2019-05-31 22:00] dreddy-work commented on #11976
sure. I currently heads down on the designer work. hopefully get to this early next week.

[2019-06-01 00:24] minoseah629 commented on #12119
thank you for the responses. @Thraka, @dasetser, and @mconnew

[2019-06-01 00:50] #12603 closed

[2019-06-01 01:16] JosephRufft commented on #9415
The issue is ASP.Net Web Forms needs to be added to .Net Core!

[2019-06-01 18:44] quickbasic22 opened #12621 "Would like to be able to download photo"
Would like to be able to download photo used in code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86d28245-4d43-da40-4af8-197fa9b19bfd
* Version Independent ID: 62f98241-cb21-f323-b3dc-4a192c100f18
* Content: [How to: Use Interpolation Mode to Control Image Quality During Scaling](https://docs.microsoft.com/en-us/do

[2019-06-01 19:41] walkerjian commented on #12568
Just move the Dockerfile up one level to the root of the working directory and build your image again - I had the same problem!

[2019-06-02 07:21] Amit-B opened #12622 "Missing <code> documentation"
It's mentioned in some places of the document, but isn't explained anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6-169a-0ffe-5f33-d5a359aeefc5
* Content: [Documenting your code with XML comments](https://docs.microsoft.com/en-us/dotnet/csh

[2019-06-02 12:01] khteh opened #12623 "When should dotnet build --runtime flag be used?"
When should this runtime flag be used? Is it a general flag which applies to all use cases just to optimize the generated binaries for specific platform? Specifically, is it only used to build self-contained binaries or it can also be used to build app which runs on dotnet core SDK/Runtime?

EDIT by thraka to add doc metdata

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-06-02 21:50] cartermp commented on #11839
Fixed in https://github.com/dotnet/samples/pull/942

[2019-06-02 21:57] cartermp commented on #11683
@TclasenITVT What kind of example would you be looking for? Property, method, etc.? I'll also happily accept a PR and work with you on it.

[2019-06-02 22:59] #12347 closed

[2019-06-02 23:59] rpetrusha commented on #12621
You can save a copy of the image to your local system as follows, @quickbasic22:
1.  Select the **Edit** button at the top of the page. This takes you to the document in the dotnet/docs GitHub repo.
2. Navigate to the image, right-click on it, and select **Save picture as** in Chrome or **Save image as** in Edge.

[2019-06-02 23:59] #12621 closed

[2019-06-03 01:07] mkstarr opened #12634 "Not enough examples to cover all bases, and generalized description not specific enough"
"Invalid expression" is very vague--it could mean anything. It basically says "you're  breaking a syntax rule" which is even vaguer than the error message itself.

Please define:
-character
-expression
-invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23958040-e5a6-2d3b-4764-d5b0b4126cc4
* Version Independent ID:

[2019-06-03 01:57] #11839 closed

[2019-06-03 01:57] #12466 closed

[2019-06-03 01:57] #11693 closed

[2019-06-03 01:58] #11311 closed

[2019-06-03 01:58] #11339 closed

[2019-06-03 06:58] baruchiro opened #12637 "dotnet CLI"
This page should include the `dotnet CLI` commands for a new project and installing packages and so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0888bc80-798f-ebdd-459a-7543be1efdad
* Version Independent ID: c24ded82-d56c-e8c7-fd6a-e39929227177
* Content: [Tutorial: Build a movie recommender - matrix factorization -

[2019-06-03 07:31] TclasenITVT commented on #11683
Yes I was thinking about an example that demonstrates the usefulness of the implementation of interfaces, methods and propertys on DUs.
For interfaces I expierienced that the Library Argu has a real usage of interfaces on DU -> IArgParserTemplate
[code]
This example is from a personal project of mine and does not 100% work -> the this.Parse member in the STATUS case is missing its `ParseResults<St

[2019-06-03 07:41] vikneshrajsp opened #12638 "clarify the philosophy on using readonly keyword with list"
unlike primitive types, we still allow modification on the readonly list;

https://dotnetfiddle.net/mVkYQ8 (sample)

Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26899b81-d6f9-534a-83ee-283dd8aae545
* Version Independent ID: 3061125d-7de4-97ef-ccb0-ee792d6f2ae1
* Content: [readonly keyword - C# Refere

[2019-06-03 13:46] EugeneKramer opened #12639 "C# Static Constructor Exception handling documentation"
For the [Static Constructors - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/static-constructors?view=netframework-4.8), a section on exception handling should be added:

1.  Unhandled exceptions thrown in the static class are wrapped in a [TypeInitializationException exception](https://docs.microsoft.com/en-us/dotnet/api/system.typeinit

[2019-06-03 14:20] EugeneKramer commented on #12638
The `readonly` modifier does not make a collection immutable, instead it prevents variable reassignment.

For an immutable list, you could use [`ReadOnlyCollection<T>` or `IReadOnlyList`](https://blogs.msdn.microsoft.com/jaredpar/2008/04/22/immutability-and-readonlycollectiont/). For .NET Core, you could use `ImmutableList Class`.

It's a common gotcha that may be worth expounding in the documenta

[2019-06-03 14:28] Thraka commented on #12568
OK I think both of you may have missed the last part of the section where you create your app, which states:

And then at the start of the **Create the Dockerfile** section, it says:

Can you both confirm that? Maybe I need to readjust how that is presented so it's not easily skipped?

[2019-06-03 14:43] ma17961363 opened #12640 "global not work"
Why in the following code error appears?!

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be9c78b1-4949-0bdb-43af-a9db6e5ebffa
* Version Independent ID: cfea46ac-3926-6274-b29e-4c48f1d3cd63
* Content: [How to: Use the Global Namespace Alias - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/p

[2019-06-03 15:11] svick commented on #12640
The `global` keyword is useful when you want to disambiguate two entities with similar names, e.g. `System.Console` and `TestApp.Console` in the example. But you have two types with exactly the same name (`System.Console`) and `global` won't help you with that.

If you really want to make this work (and I hope you have a good reason for that, like learning more about C#), you should be able to use

[2019-06-03 15:41] CeciAc opened #12641 "404"
@mcxtlong commented on [Sun Jun 02 2019](https://github.com/dotnet/docs.zh-cn/issues/396)

[在此处输入反馈]
http://www.contoso.com/default.html
404 not found

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6d0d3c05-6a37-ccb6-d897-a4c35beb2597
* Version Independent ID: a826593c-e1e0-2caa-c764-3e3f63322892
* Content: [如何：使用 WebRequest 类请求数据](https://docs.microsoft.com/zh-cn/d

[2019-06-03 15:43] ma17961363 commented on #12640
Than you for the reply. And what is the difference between the followings?

colAlias::Hashtable test = new colAlias::Hashtable();

colAlias.Hashtable test = new colAlias.Hashtable();

[2019-06-03 15:43] CeciAc commented on #12641
Hi team,
the user is reporting a 404 link which is present in the original example
best

[2019-06-03 15:55] svick commented on #12640
This is explained in [the spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/namespaces#namespace-alias-qualifiers):

If you have an alias `colAlias`, `colAlias::Hashtable` is guaranteed to use that alias, while `colAlias.Hashtable` uses the full name lookup rules, which means it could be ambiguous.

You can see the difference in [the following code](htt

[2019-06-03 15:56] karelz commented on #12641
Can we please get translation to English, we do not support bug reports in other languages ...

[2019-06-03 15:58] BillWagner opened #12642 "Build "dotnet try" tutorials for C# 7.x"
See #8206 for background.

Instead of creating an exploration tutorial for these features, a better and more forward looking plan is to use `dotnet try` to create a tutorial that can be installed and run from the .NET CLI.

The "what's new" articles would remain short, focuses overviews of the new features.  The current explorations https://docs.microsoft.com/dotnet/csharp/tutorials/exploration/cs

[2019-06-03 16:08] BillWagner opened #12645 "Retire the C# 6 exploration, in favor of a `dotnet try` package"
Relates to #8206

Related to #12642

The C# 6 exploration should be replaced with a `dotnet try` exploration. In addition, C# 6 has been released for long enough that the scenarios should be regular tutorials, rather than tied to "new" features.

To break these up, the following sub-tasks have been identified:

- [ ] List the major scenarios covered in the content
- [ ] Create a different package

[2019-06-03 16:09] jonsequitur commented on #12642
Possibly helpful in thinking about how to make the experience of starting a tutorial as simple as possible: https://github.com/dotnet/try/issues/217.

[2019-06-03 16:19] #7584 closed

[2019-06-03 16:32] CeciAc opened #12646 "Lost the following code from HostSideView to Host"
@fbiwarning commented on [Mon Jun 03 2019](https://github.com/dotnet/docs.zh-cn/issues/397)

This page do not contain the code about HostSideView HostSideAdapter AddIn and Host.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 0e6fd3c3-68eb-a164-f4cb-1ec07c7b233d
* Version Independent ID: da8b15c4-734d-6cc6-fa2d-5f26bb697164
* Content: [如何：创建作为 UI 的外接程序](https://docs.

[2019-06-03 16:33] CeciAc commented on #12646
Hi team,
I'm moving this here because it looks like the user is requesting aditional examples
best

[2019-06-03 16:38] ma17961363 opened #12647 "How to use of A class static members?"
In the above example:

namespace N
{
    public class A {}

    public class B {}
}

namespace N
{
    using A = System.IO;

    class X
    {
        A.Stream s1;            // Error, A is ambiguous

        A::Stream s2;           // Ok
    }
}

how is it possible to use A class static members? (A.[static member name])

---
#### Document Details

⚠ *Do not edit this section. It is required for d