[2020-08-18 14:59] #6050 closed

[2020-08-18 15:26] Youssef1313 opened #20157 "[Bot] Docs Build Service Account"
I think it's a good addition to add permissions for this bot in the repository. It will make build warnings more obvious by putting a comment (with a big bold "⚠️ Validation status: warnings") after the build finishes (See https://github.com/MicrosoftDocs/quantum-docs-pr/pull/1015), it also comments with preview links for the edited files, which can make the PR review process a little bit faster.

[2020-08-18 15:53] tdykstra commented on #20150
The default behavior is described in the [Matching rules](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json?tabs=netcore3x#matching-rules) section. If global.json specifies an SDK version, latestPatch is the default.

[2020-08-18 16:24] Youssef1313 opened #20162 "Remove "compiler-option" suffix from file names"
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/langversion-compiler-option

The -compiler-option in the url is an unnecessary duplication. It's better to be just:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/langversion

[2020-08-18 16:34] Youssef1313 opened #20163 "Move /visual-basic/reference/ to /visual-basic/language-reference/"
cc: @BillWagner I preferred to keep this as a new issue rather than being part of https://github.com/dotnet/docs/issues/20122 because it's much smaller work.

https://github.com/dotnet/docs/tree/master/docs/visual-basic/reference

This folder currently contains:

- *command-line-compiler*: this can be moved to *visual-basic/language-reference/* and be renamed to *compiler-options* to match the C#

[2020-08-19 02:48] gewarren commented on #19966
@mihazupan The recommended action is for the developer - what is their recommended action, not Microsoft's. Can you help describe any changes they'd need to make in their code?

[2020-08-19 03:16] ordinaryorange opened #20175 "Broken Links"
Links on [this documentation page](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/fsharp-collection-types) broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0694330-a4e4-5a07-2b6b-8259b57e319a
* Version Independent ID: 71e9da59-27a1-6194-3a69-09b9d3a383d4
* Content: [Collection Types - F#](https

[2020-08-19 05:40] Youssef1313 commented on #20175
These are being fixed in https://github.com/dotnet/docs/pull/20055

[2020-08-19 06:26] leekr7070 opened #20181 "I believe i found a little mistake on documentation"
I made a post about it on stackoverflow
https://stackoverflow.com/questions/63480764/variance-safety-in-c-sharp

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2460f23d-9f92-866c-b814-920997233e6b
* Version Independent ID: 344fa873-bf0c-1c15-cac4-f262ad0162c8
* Content: [Interfaces - C# language specification](https://d

[2020-08-19 06:28] cjjohansen commented on #16044
@CESARDELATORRE  Yes that could be misunderstod. Traditionally the domain model layer (entities + more)  and application layers (Commands, CommandHandlers + more) are two layers. But Its my impression that they are both considered part of the domain, and they should both NOT reference infrastructure layers. Where we differ is that I don't think WebAPI and MVC controllers belong to the application

[2020-08-19 06:34] #19767 closed

[2020-08-19 06:34] #19835 closed

[2020-08-19 06:34] #20030 closed

[2020-08-19 06:34] cartermp commented on #20175
Fixes in https://github.com/dotnet/docs/pull/20055

[2020-08-19 06:34] #20175 closed

[2020-08-19 06:41] #17369 closed

[2020-08-19 07:23] vocko commented on #16964
@gewarren
Here is my example (did cost me a few hours pf my life to figure out what's going on):

I did set this line `services.AddLocalization(options => options.ResourcesPath = "Resources");`

And then, this works:
[code]

This does not work:
[code]

The latter scenario will work though, if you remove the ResourcesPath. This should be clearly stated on the documentation as it is very confusing a

[2020-08-19 08:40] sherland opened #20182 "Update sample to work with .NET 5 / .NET Core"
The example compiles without issues on .NET Core 3.1 but fail at runtime:
System.Xml.XslLoadException: 'XSLT compile error.'
Inner exception
PlatformNotSupportedException: Compiling JScript/CSharp scripts is not supported

If the functionality is not supported on .NET / .NET Core, the page should specify that this is only working on .NET Framework.

---
#### Document Details

⚠ *Do not edit this s

[2020-08-19 09:14] benmccallum commented on #20150
Sigh. My bad. Didn't realise it was so complicated so didn't look in that part. Must've looked everywhere else. Perhaps this can be made clearer/quicker to find when scanning.

**Suggestion 1**
Under the section on the `rollForward` setting, where you'd expect to see the default value described, point to the `Matching rules` section with something like: "The default value of `rollForward` is deter

[2020-08-19 09:47] Youssef1313 commented on #20182
@gewarren, Do you know if such a breaking change was documented? It should be documented if it's currently not, and the article may be moved to docs/framework instead of docs/standard.

[2020-08-19 11:14] amir4846 opened #20184 "misspeling indice -> index"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a92f2fd3-888f-340e-72dd-8a3338313783
* Version Independent ID: 67981ff3-5016-3147-b3c2-5bc16efe1416
* Content: [Explore ranges of data using indices and ranges](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/ranges-indexes)
* Content Source:

[2020-08-19 12:26] Youssef1313 commented on #20184
@amir4846 Can you point out where in the article it mentions "indice"?
All the occurrences I found are "indices", which is the correct plural form of "index".

[2020-08-19 13:43] Youssef1313 commented on #20004
@gewarren Can you please re-open so this doesn't get missed?

Pinging @carlossanlop @Jozkee

[2020-08-19 14:02] Youssef1313 opened #20185 "Outdated tutorial description"
The description is outdated. The article was retired and a new article was re-written.

**Edit:** the next tutorial description looks outdated too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3caf351-18c6-5211-f2a2-bbdef5918629
* Version Independent ID: f13ef5fe-c17a-ecd1-2a2b-55b3b101da07
* Content: [.NET samples

[2020-08-19 14:19] miguelcrpinto opened #20187 "ISpecification does not exist on eShopOnWeb like it is mentioned in the article"
Unlike what is mentioned in section "[Implement the Query Specification pattern](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implementation-entity-framework-core#implement-the-query-specification-pattern)" of the article, the ISpecification<T> interface and BaseSpecification<T> class do not exist in the eShopOnW

[2020-08-19 15:05] BillWagner commented on #20184
@amir4846 I found the same as @Youssef1313

Can you point to the spelling error? In the meantime, I'll close this.

[2020-08-19 15:05] #20184 closed

[2020-08-19 15:27] BillWagner commented on #20181
I posted an answer [here](https://stackoverflow.com/a/63490299/5914677)

This is fixed in the official standard, and it will be addressed as we update and merge the C# 6 spec with the C# 5 standard.

[2020-08-19 15:38] BillWagner commented on #20163
I like this plan @Youssef1313

I'd like to think about it longer before helping to schedule when this should happen.

[2020-08-19 15:45] Youssef1313 commented on #20163
You can ping me when ready

[2020-08-19 16:30] leekr7070 commented on #20181
Thank you! This issue was bugging me. :)

[2020-08-19 16:58] tdykstra commented on #20150
Great ideas, I'll put this issue on our backlog. If you're interested in making a PR for these updates that would be welcome as well.

[2020-08-19 17:37] gewarren opened #20190 "Update globalization docs regarding shared resources"
Here is my example (did cost me a few hours pf my life to figure out what's going on):

I did set this line `services.AddLocalization(options => options.ResourcesPath = "Resources");`

And then, this works:
[code]

This does not work:
[code]

The latter scenario will work though, if you remove the ResourcesPath. This should be clearly stated on the documentation as it is very confusing at the mome

[2020-08-19 17:38] gewarren commented on #20190
@lvmajor commented in the original issue:

Shouldn't this be well documented/clearly indicated in official globalization docs? Specifically in the [Using one resource string for multiple classes](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#using-one-resource-string-for-multiple-classes) part where if performing this as recommended, it won't work at al

[2020-08-19 17:42] gewarren commented on #20182
I don't see anything on [this page](https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core). @PriyaPurkayastha Can you help to figure out if we need to document this as a breaking change?

[2020-08-19 17:56] PriyaPurkayastha commented on #20182
Adding @jeffhandley @danmosemsft so that they can look into this and confirm where this needs to be documented and to create a breaking change issue accordingly.

[2020-08-19 18:01] danmosemsft commented on #20182
@krwq is it as simple as: in .NET Core we do not support compiling code embedded in XSL files, ie., we do not support `<msxsl:script>` tags at all? Or something more subtle.

We can certainly improve the docs..

[2020-08-19 18:37] IEvangelist opened #20192 "Add generic extensions for non-tuple based deconstruction"
In the ["deconstructing a user-defined type with an extension method"](https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct#deconstructing-a-user-defined-type-with-an-extension-method) of the [deconstruct article](https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct), add generic extensions based on [my tweet from 2017](https://twitter.com/davidpine7/status/941759704363085825).

Specif

[2020-08-19 18:40] steveisok commented on #20143
Sorry, I didn't know at what level to describe this.  I basically mean Blazor or anything else targeting WebAssembly (Browser).

[2020-08-19 18:48] scottaddie commented on #20143
@steveisok Does this breaking change ONLY affect ASP.NET Core apps?

[2020-08-19 18:51] PriyaPurkayastha commented on #20143
@steveisok I think you need to call out somewhere that this is applicable on Mono Runtime. Perhaps where you say "we" you can specify that on Mono runtime....

[2020-08-19 18:57] steveisok commented on #20143
@lewing Would it be better to say Blazor WebAssembly?  I definitely need guidance on the wording.

[2020-08-19 21:45] mikadumont commented on #19792
@gewarren and @BillWagner where is the best place to add documentation for this?

[2020-08-19 22:22] #20152 closed

[2020-08-19 22:24] gewarren commented on #19792
I think it would be where @Youssef1313 suggested: https://docs.microsoft.com/en-us/dotnet/core/additional-tools/

[2020-08-19 22:32] mikadumont commented on #19792
Thanks @gewarren just wanted to double check!

[2020-08-20 04:15] vocko commented on #20190
One more note, the first case only works when the type class is in `AssemblyName.Resources` namespace. If you want to nest it deeper into the folder structure and keep the standard namespacing pattern, you have to update the class name parameters for the `IStringLocalizerFactory.Create` method with the full namespace relative to the assembly name.

For example consider the file structure is as fol

[2020-08-20 04:29] altwohill opened #20194 "Images in this page are duplicate"
All the images in this page are the same, but the captions are different. It looks like the other images did not migrate correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a749bf08-a45c-e441-6125-8a2bfbe7a75e
* Version Independent ID: f2fca24c-5b4e-bbf9-45d5-f7af0149ac5a
* Content: [Azure Monitor](https://docs.m

[2020-08-20 05:52] noahfalk opened #20195 "Document that HttpClient, by default, creates a new Activity"
Some of our developers are surprised by the behavior of DiagnosticHandler (part of HttpClient) when it creates an Activity by default. We should document this. See [this thread](https://github.com/dotnet/runtime/issues/31862#issuecomment-677047256) for more background.

[2020-08-20 07:46] #17995 closed

[2020-08-20 08:06] Youssef1313 opened #20198 "Detect f1_keywods clashing"
This is a reminder for me to write a tool that detects f1_keywords clashing, such as the one mentioned in https://github.com/dotnet/roslyn/issues/46988

It's okay if anyone wants to do that before I get to it.

[2020-08-20 08:14] Youssef1313 opened #20199 "f1_keywords for subtraction isn't working"
<https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(-_CSharpKeyword);k(DevLang-csharp)&rd=true>
Currently, this just redirects to <https://docs.microsoft.com/en-us/>

I don't know if it's a temporary problem or not. I see that f1_keywords for "-_CSharpKeyword" already exists in subtraction operator article. The issue reason isn't clear to me.

[2020-08-20 08:50] sanketshah11 opened #20200 "Missing .Net Framework example"
Please provide samples and example with .Net Framework, all the samples and examples target .Net Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dce49db-3548-7dad-bdb1-812efde7ac86
* Version Independent ID: 390a9c7a-2537-25ca-c041-0284c253acff
* Content: [Deploy a model in an ASP.NET Core Web API - ML.NET](https:/

[2020-08-20 16:06] nathaniades opened #20205 "Implicit typing inside a foreach statement"
I noticed something in the sample code at https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/list-collection?tutorial-step=1

The example is using the `var` keyword inside the foreach statement. But the C# coding conventions [here](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions#implicitly-typed-local-variables) claim that

[2020-08-20 16:30] mikedoug commented on #20195
Please make sure to cover the complexity of the cases properly.  I [posted about it here](https://github.com/dotnet/runtime/issues/31862), but will repeat it here with increased specificity.

THE FIRST STATEMENT WHICH MATCHES WINS:

* If there are ZERO listeners on `System.Net.Http.DiagnosticsHandler`, a new Activity is created (and thus a new span).
* If there is AT LEAST ONE listener on `System.

[2020-08-20 16:31] #19966 closed

[2020-08-20 17:05] adegeo commented on #20157
As a team we've decided we don't want these comments in our repo as PRs with a lot of churn become extremely messy with the bot comments and a lot of links the bot provides are internal Microsoft links so the public can't use them and then file issues reporting the links aren't working ;)

[2020-08-20 17:05] #20157 closed

[2020-08-20 17:05] #19965 closed

[2020-08-20 17:11] BillWagner commented on #20205
Thanks for writing this @nathaniades

I've added it to our backlog for the next time we update this article.

[2020-08-20 17:20] adegeo commented on #19909
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-08-20 17:25] adegeo commented on #19905
@itthing If I follow the conversation correctly, your request isn't to update the documentation, but for support for other ISO 8601 standard formats added. If so, the runtime repository linked to is where you should file a request. This repo is just documenting what is supported.

Please let me know if my assumption is correct. Cheers!

[2020-08-20 17:29] #19763 closed

[2020-08-20 17:58] adegeo commented on #18923
@pjmlp Hi! Regarding the game section, I fully agree. Unfortunately though, resourcing is a problem. We can't make getting started or tutorial series for a lot of different game engines. Does this mean they won't eventually appear? No. But right now we'll focus on those two as some of the most popular .NET game frameworks. The landing page for the area though would link off to other game engines/f

[2020-08-20 18:08] Youssef1313 opened #20206 "Mention the minimum officially supported TargetFramework for C# versions"
I think C# 9.0, unlike previous versions, will only be **officially** supported in .NET 5.0 and later.
If this is correct, the page should mention this when it gets updated to C# 9.0.

@agocke This is per your comment in [this blog](https://devblogs.microsoft.com/dotnet/welcome-to-c-9-0/#comment-6107).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-08-20 21:05] #19777 closed

[2020-08-20 21:14] gewarren opened #20211 "Move code analysis docs to .NET repo"
- [x] overview
- [x] configuration
- [x] msbuild props
- [x] CA rules reference
- [x] IDE rules reference

[2020-08-21 02:13] krchome opened #20215 "YouTube version of this tutorial"
[Enter feedback here]

YouTube version available at: https://www.youtube.com/playlist?list=PLnVvOWNfuhGUitwCXohN9kQlp4AMyRjjA
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cdb113e-14a4-7e96-2998-9bc42ddf9d7d
* Version Independent ID: 11857021-b820-ac38-307c-33f3f4a5065f
* Content: [Tutorial: Analyze sentiment - binary

[2020-08-21 04:35] sughosneo commented on #18264
Hi @alexdrenea, considering the original question has been addressed, I am closing this issue as of now.
If you have any further questions, please feel free to reopen it.

Thank you.

[2020-08-21 04:35] #18264 closed

[2020-08-21 04:38] sughosneo commented on #18765
Hi @alexdrenea, considering the original question has been addressed, I am closing this issue as of now.
If you have any further questions, please feel free to reopen it.

Thank you.

[2020-08-21 04:38] #18765 closed

[2020-08-21 06:26] Sunnie-Shine opened #20233 "Keyword index page miss keyword notnull (constraint)"
The keyword page still misses the link of the keyword `notnull`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version Independent ID: 4b943400-309d-0437-5513-0533456297f0
* Content: [C# Keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/)
* Cont

[2020-08-21 06:30] sweemer commented on #19926
Hi @omajid I also work with @ndethore and @Rymix and have submitted the issue on their behalf.

Here is the link: https://access.redhat.com/support/cases/#/case/02733302

Thank you for all your help!

[2020-08-21 07:42] asheesh1996 opened #20234 "How to feed frames from live video to a trained ONNX model"
using System.Drawing classes I am able to read a .MP4 file and receive frames from it and store them as Bitmap,
this process is happening on a separate thread, simultaneously on another thread I want to feed this Bitmap data to my loaded pretrained .onnx model.
I am not able to find any documentation or support on how to achieve this.

Any suggestions will be helpful, thanks in advance

[2020-08-21 13:22] Youssef1313 opened #20237 "Delegates guide can be improved for C# 9.0"
Now that C# 9.0 has Function Pointers feature, the delegates article can be improved to state the differences.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0e3cfc0-21d1-a453-94f2-52c86c926117
* Version Independent ID: f7628623-ae76-0688-4124-848b8c636168
* Content: [Delegates - C# Programming Guide](https://docs.mic

[2020-08-21 19:16] SamBent opened #20241 "Instructions for setting AppContext switches via registry are incomplete"
The AppContext [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext?view=netcore-3.1#remarks), under subheading "AppContext for library consumers", describes several ways to set a switch.  The third method uses the registry.  The instructions there are incomplete.  They should mention that on a 64-bit OS you also need to add a string value (with the same name and value) to

[2020-08-22 01:06] agowa338 opened #20245 "Add information about IPv6 disabling and breakage of functionality and support status"
Previously Microsoft has communicated, that disabling IPv6 will break things in unexpected ways and that disabling IPv6 is not a tested scenario.  I'm however unable to find any recent documentation about this. The only thing I found is from the [archive](https://docs.microsoft.com/en-us/archive/blogs/netro/arguments-against-disabling-ipv6). Does this still reflect the current status of IPv6 withi

[2020-08-22 02:55] tarekgh opened #20246 "Unicode Category change to a few characters in Latin-1 range"
## Unicode Category change to a few characters in Latin-1 range

In .NET Framework and .Net Core `Char` methods which return or depend on the Unicode category of the characters, used a fixed list of categories for Latin-1 range. This list never changed since it is introduced. Unicode standard has changed the category of 4 characters in the Latin-1 range. This make discrepancy between the Unicode s

[2020-08-22 08:15] jozefizso opened #20248 "Link to the `[Obsolete]` attribute is broken"
Page does not link to the `[Obsolete]` attribute documentation correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcce64d-c781-6283-5763-1ed946cc8083
* Version Independent ID: 5a9ad5dd-d83e-4a76-1027-83e82365a077
* Content: [Compiler Error CS0619](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0619)
* Co

[2020-08-23 21:04] #2192 closed

[2020-08-24 01:00] NextTurn commented on #19321
Fixed in #20124.

[2020-08-24 05:11] davidwengier commented on #20199
@BillWagner Any idea who we can reach out to for this issue?

I'm seeing very intermittent results with the query service, and the link in the OP is much slower than any other link I try, and always fails.

[2020-08-24 11:19] andychangwalker opened #20258 "Not working for email addresses"
This isn't working if the special character is at the beginning or end of the username section of the address.

e.g. _name@domain.com or name_@domain.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202e3f9f-a12a-53de-9069-fd469e3dbebc
* Version Independent ID: fd3699bb-4881-b6b4-1275-43eed3d5f626
* Content: [How to

[2020-08-24 12:01] marek-safar commented on #20143
Blazor WebAssembly is the term we used for this configuration most often

[2020-08-24 12:29] #20071 closed

[2020-08-24 12:32] #20248 closed

[2020-08-24 12:39] IEvangelist commented on #19474
Closed by #20153

[2020-08-24 12:39] #19474 closed

[2020-08-24 13:31] haldiggs opened #20259 "I need more information"
Only a recommendation. "The compiler accepts only syntax that is included in C# 8.0 or lower."
I appreciate the brevity of the definition page. However I don't think this is very much help at all. Every sentance is merely a copy of the previous one with a new value "8.0, 7.2, 7.1, 7.0", if this is all we can get then why copy and paste, just string along one line.

I have a TFS CI build that is th

[2020-08-24 14:09] BillWagner commented on #20259
Good point @haldiggs

I think what you would need is the .[NET Core 3.1 SDK](https://dotnet.microsoft.com/download/dotnet-core/3.1) for C# 8.0.

I've added this to our backlog, and added the "up for grabs" label if any community members want to submit a PR with the fix.

[2020-08-24 15:00] #20233 closed

[2020-08-24 15:10] #7477 closed

[2020-08-24 15:20] #18489 closed

[2020-08-24 16:56] svick commented on #20258
This is pretty much a duplicate of https://github.com/dotnet/docs/issues/16299.

[2020-08-24 17:03] andychangwalker commented on #20258
Sorry, it is a duplicate. I just clicked on the button at the bottom of the page "Submit and view feedback for" "This Page" and assumed as it opened me a "new" incident page that meant there was no feedback for the page. I didn't realise it expected me to then search myself.

I will close this.

[2020-08-24 17:03] #20258 closed

[2020-08-24 17:06] Youssef1313 commented on #20258
@adegeo Previously, there was links to all open issues for a specific article in live docs. What happened to that? Any idea?

Is that something applied globally to all docs.microsoft subsets or configured per repository?

[2020-08-24 17:17] svick commented on #20258
@andychangwalker I'd say it's nice if you do a quick search for duplicates first, but it's not required. So there is no need to apologize.

@Youssef1313 That button is still there:

![](https://user-images.githubusercontent.com/287848/91075326-2fa62580-e63e-11ea-822a-ac673839ad74.png)

(Though I think it was more prominent in the past.)

[2020-08-24 17:18] adegeo commented on #20258
no worries @andychangwalker we understand the current user experience with listing issues at the end of the article isn't ideal @Youssef1313 I believe they changed it because there was too much of a possibility someone puts up hate speech or other causes other legal problems or something, I don't know, but the design change was done everywhere.

[2020-08-24 17:23] andychangwalker commented on #20258
Ah. I totally missed that link down there. I would suggest moving it as a button next to the other 2.

[2020-08-24 17:37] adegeo commented on #20258
@andychangwalker I would love for you to give that feedback via https://aka.ms/sitefeedback (there is a link in the footer of the site on each doc page "Site Feedback" which is the link I just gave you) The more people we get to give feedback on that, hopefully the quicker they will make the experience better 👍

[2020-08-24 17:39] orcmid commented on #18489
I was thinking of the inexplicable dependencies, especially for a rarefied purpose that is unlikely to be useful on the learning curve of an F# novice/learner.  If you say that is for a fluent C# user who understands those dependencies and usages, it would be valuable to say something about it.

[2020-08-24 18:39] luisquintanilla commented on #20234
Hi @asheesh1996

You can take a look at this sample which uses a YOLO ONNX model for object detection inside a UWP app to analyze live video. Note that this sample is in the process of being upgraded to the latest version of ML.NET, but the logic to process videos should not change.

https://github.com/dotnet/machinelearning-samples/blob/master/samples/csharp/end-to-end-apps/ObjectDetection-Onnx/O

[2020-08-24 18:55] luisquintanilla commented on #20215
Hi @krchome,

This is fantastic! Thanks for creating this video series. Since this is not a documentation issue, I am closing it for now. Thanks again for your contribution and we look forward to  seeing your future contributions 😊

[2020-08-24 18:55] #20215 closed

[2020-08-24 20:16] IEvangelist commented on #19302
I'm unable to reproduce this issue. When I follow the instructions, even without my PS instance running as Admin - it still works.

[2020-08-24 20:19] IEvangelist commented on #395
I believe that this was resolved with the addition of the EventCounter content which covers cross platform perf profiling.
See #19635

[2020-08-24 20:19] #395 closed

[2020-08-24 20:26] krchome commented on #20215
Thanks very much. Can you make the video resources available at a central URL so that they have a more global outreach?

[2020-08-24 21:54] tarekgh commented on #20246
This breaking change will be part of RC1 release.

[2020-08-24 22:59] luisquintanilla commented on #20215
We're happy to. While it won't be part of Docs, I've added it to the GitHub machinelearning-samples Repo.

https://github.com/dotnet/machinelearning-samples/blob/master/docs/COMMUNITY-SAMPLES.md

[2020-08-24 23:59] luisquintanilla commented on #19668
Hi @fengzmgit

Thanks for your question. That file is created when you build your application and is located in your build output directory (i.e. `bin/Debug/netcoreapp3.1`). I'm in the process of updating the tutorial to make this more clear.

[2020-08-25 00:49] luisquintanilla commented on #20200
Hi @sanketshah11

Thank you for your suggestion. Unfortunately, there are no plans to create .NET Framework samples at the moment. We would encourage you to use .NET Core instead. However, if that's not an option, the concepts are generally transferrable. For example, assuming you're using an ASP.NET MVC (.NET Framework) application and already have a model you want to deploy to it as demonstrated

[2020-08-25 00:49] #20200 closed

[2020-08-25 00:58] luisquintanilla commented on #19251
Hi @gopala000

Thank you for your question and feedback. Regarding the exception while deleting the Spark temp dir, this is a known Spark issue and nothing to worry about. Your application should run successfully. For more information, see this [thread](https://github.com/dotnet/spark/issues/49#issuecomment-486714091).

We're in the process of updating this tutorial in this PR #20264 . You should

[2020-08-25 01:00] luisquintanilla commented on #19250
Hi @gopala000,

Thank you for your feedback. We're in the process of updating this document as part of PR #20264 . We'll make sure to add this feedback as part of the updates.

[2020-08-25 01:03] luisquintanilla commented on #17496
Thank you @sanket-t-shah for your suggestion.

@aslotte another alternative on Windows would be to use [Windows Subsystem for Linux (WSL)](https://docs.microsoft.com/en-us/windows/wsl/install-win10) in which the instructions would be the same as those for Unix environments. We'll make sure to update the docs accordingly.

[2020-08-25 02:49] bricelam opened #20266 "Microsoft.Data.Sqlite: Document deferred transactions"
Deferred transactions were enabled in version 5.0. We should mention them here.

[code]

See https://github.com/dotnet/efcore/issues/20786#issuecomment-622529439

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd1d934-08b1-ce95-b0a0-5552518976ce
* Version Independent ID: 4666a3a5-28a5-cd53-3bed-53defce207e9
* Content:

[2020-08-25 02:49] bricelam commented on #20266
/cc @ajcvickers

[2020-08-25 05:53] ps2cheung commented on #19302
don't worry I swap to a new machine and don't have this issue anymore.

On Mon, Aug 24, 2020 at 1:16 PM David Pine <notifications@github.com> wrote:

[2020-08-25 06:49] sanketshah11 commented on #20200
If I could have used .NET Core, I would have not asked for a sample. I already went through all the links posted in the answer before posting this request, even the one written in Chinese and the samples on github. Why are all examples focused on .Net Core even though the website clearly suggests it works on .Net Framework. Will all the functionality work as expected for a commercial project ? Sam

[2020-08-25 07:01] Youssef1313 opened #20270 "Async tutorials"
Previously, the VB guide for async was nearly a mirror of the C# one.
Recently, @IEvangelist made great updates to the C# async guide, but the VB is still the same.

There are two options to fix that:

1. Just update the VB guide to match the C# one.
2. Move the guide from language-specific guide to *dotnet/standard/async*, so we have just one article that explains the concept in both languages. (

[2020-08-25 07:58] Youssef1313 commented on #20259
@haldiggs Can you please confirm if the missing SDK was your problem?

I opened #20271 to add the following:

[2020-08-25 09:15] sughosneo commented on #17465
Hi @bdnts, I am closing this issue as of now.
If you have further questions, please feel free to reopen it.

Thank you.

[2020-08-25 09:15] #17465 closed

[2020-08-25 09:53] sughosneo commented on #20010
Hi @magarbikram, thank you for pointing that out.

You may want to refer #7477 for the ongoing discussion on this topic.

[2020-08-25 10:35] sughosneo commented on #17552
Hi @napalm684 , did you get a chance to look into it ? Or we can close this as of now and revisit it later.
Please share your thoughts.

Thank you.

[2020-08-25 10:56] sughosneo commented on #20010
We have also updated our reference application [`eShopOnContainers`](https://github.com/dotnet-architecture/eShopOnContainers/commit/921de69418e3e980bea1bf69c2c72a2cf90b50e2). Please refer the `dev` branch to take the latest.

I am closing this issue as of now. If you have any further questions, please feel free to reopen it.

[2020-08-25 10:56] #20010 closed

[2020-08-25 11:06] KalleOlaviNiemitalo commented on #19905
@itthing, are you using [Text function in Power Apps](https://docs.microsoft.com/powerapps/maker/canvas-apps/functions/function-text#date-and-time-placeholders) to format the dates? That page mentions that `mm` means either the month or the minute, depending on nearby placeholders. In date and time format strings for .NET, [`mm`](https://docs.microsoft.com/dotnet/standard/base-types/custom-date-an

[2020-08-25 11:13] sughosneo commented on #5952
Hi @BjarkeMeier, The reference application `eShopOnContainers` has recently updated with
the [ValueObject](https://github.com/dotnet-architecture/eShopOnContainers/commit/921de69418e3e980bea1bf69c2c72a2cf90b50e2) related changes. Even the document is also updated through this PR#20235

I am closing this issue as the method `GetAtomicValues()` has been renamed. So the entire scope of this discussio

[2020-08-25 11:13] #5952 closed

[2020-08-25 11:24] sughosneo commented on #17655
Hi @sajanmittal , I am closing this issue as of now. If you have any further questions, please feel free to reopen it.

Thank you.

[2020-08-25 11:24] #17655 closed

[2020-08-25 12:09] objectx opened #20272 "URL for the Core.String module is wrong"
[Enter feedback here]

Cause 404.  Should be [string Type](https://fsharp.github.io/fsharp-core-docs/reference/fsharp-core-string.html)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 752405db-4da8-6c06-f58b-22dcc9caa7a7
* Version Independent ID: 78362807-847f-b947-2c75-5036f7765b32
* Content: [Strings - F#](https://docs

[2020-08-25 12:11] objectx commented on #20272
*OOPS* Already [corrected](https://github.com/dotnet/docs/blob/master/docs/fsharp/language-reference/strings.md) :bow:

[2020-08-25 12:11] #20272 closed

[2020-08-25 12:50] #19302 closed

[2020-08-25 13:28] BillWagner commented on #20199
I checked, and the site team thinks this is fixed in the new Docs F1 service. (Not yet released)

Adding @OsmondJiang for more details.

[2020-08-25 13:35] BillWagner commented on #20270
Thanks for writing this @Youssef1313

We identified this as part of our .NET 5 planning.  We agree that this content should move to the "fundamentals" section for .NET 5.

/cc @tdykstra

[2020-08-25 13:36] BillWagner commented on #20198
This is a cool idea @Youssef1313

[2020-08-25 13:36] BillWagner commented on #20195
adding @scottaddie

Where should this fix be made?

[2020-08-25 13:38] Youssef1313 commented on #20199
@BillWagner Please ping me with the new service URL when released. If the new URL doesn't have a hard-coded version, this might fix the error-messages F1 in Roslyn.

[2020-08-25 13:41] Youssef1313 commented on #20270
Pinging @mairaw.
I believe you have an in-progress work with a vendor to consolidate LINQ guide. You may consider having it in "fundamentals" section before merging to master.

[2020-08-25 13:55] BillWagner commented on #20162
@Youssef1313

You're right, but I'm going to advocate for a different change.

I think there is a case for creating one page that lists all the compiler options with a brief description. Each option would be an H2, so the right nav would be useful for finding each option. I think the page length would still be manageable. Finally, it would create one obvious location for explaining how to set comp

[2020-08-25 14:53] colbroth opened #20274 "Finally is executed in C# 8.0"
[The article gives an example of the finally block not getting executed when an exception is not handled. Is this still true for C# 8.0. I wrote an example to see and the finally block is getting hit. If so, could this page be updated to indicate this.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd59701-079e-fdda-

[2020-08-25 15:04] luisquintanilla commented on #20200
Hi @sanketshah11

ML.NET is built on .NET Standard which means it supports both .NET Core and .NET Framework. The choice to build samples for .NET Core comes from the overall .NET strategy.  You can read more about it in this [blog post](https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/). While future investments will be made on .NET Core, .NET Framework applications will contin

[2020-08-25 15:16] haldiggs commented on #20259
@Youssef1313 Youssef1313 I actually had to install the VS 2019 on my build server, probably overkill to get the job done. I am building a WCF .Net application, not Core .Net, Now my issue is that I can build it on a Team City server that uses an older msbuild project, but not on my TFS 2018 server where I was trying to transition my CI builds. That last part has noting to do with the help page obv

[2020-08-25 16:05] cartermp commented on #18810
In this case there is no ability to do that. Perhaps the `Optional; DefaultValue` attributes could help out here, but F# optional parameters do allocate today.

[2020-08-25 16:05] #18810 closed

[2020-08-26 01:44] buyaa-n opened #20283 "Breaking change: Roslyn analyzer CA1416 - Platform Compatibility Analyzer"
## Breaking change: Roslyn analyzer CA1416 - Platform Compatibility Analyzer

In .NET 5.0 we have added new attributes to annotate platform-specific APIs. This works as follows:

- An unmarked API is considered to work on all OS platforms.
- An API marked with `[SupportedOSPlatform("...")]` is considered only portable to the specified OS platforms (the attribute can be applied multiple times).
- A

[2020-08-26 01:45] napalm684 commented on #17552
@sughosneo sorry for the delay. I revisited the docs and for every Docker file example port 80 is exposed not 443. The Docker compose example has http URLs. Linux containers have different constraints around using the locally installed certs for development etc.

The bottom line is best practice wants us to work with SSL from the beginning but here the official docs only cover HTTP. I think we can

[2020-08-26 03:56] OsmondJiang commented on #20199
add @junshi356 who is working on the new Docs F1 service, he will give a update once we rolled the new F1 Service which should also support this f1 keywords

[2020-08-26 04:20] JasOcher opened #20284 "What if I need to stream non-paginated data, like streaming stock price data?"
How would this be used to stream and return never-ending data such as stock or other market price data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f03524-58d6-870c-e43f-e7f9565608e5
* Version Independent ID: da634f1c-bb77-efb5-0066-c3760b79fa4c
* Content: [Generate and consume async streams](https://docs.microsof

[2020-08-26 06:20] OsmondJiang commented on #20198
add @rloutlaw and @kexugit for known.

[2020-08-26 09:08] Danielovich opened #20286 "The code is blocking"
The example is not working, since the while loop is blocking execution of the webhost.

Am I missing anything ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a03c0-a844-26eb-48a5-33a612dd3ead
* Version Independent ID: 0707865f-9db7-0d71-42a5-bc1a1e89680a
* Content: [Implement background tasks in microservices with

[2020-08-26 09:58] Youssef1313 commented on #20198
@OsmondJiang I can't see any build warnings despite the existence of duplicate f1_keywords.

[2020-08-26 10:18] OsmondJiang commented on #20198
Yes, it's not enabled for f1_keywords, you need contact with PM @meganbradley if you want to enable this feature.

[2020-08-26 10:37] Youssef1313 commented on #20198
cc: @BillWagner

[2020-08-26 10:59] Youssef1313 commented on #20198
Here are some clashings in the C# area:

[code]

[2020-08-26 12:35] Youssef1313 opened #20290 "Use global redirection for desktop winforms when supported"
Currently, global redirection for a whole folder isn't supported. It can be used for the redirections added in https://github.com/dotnet/docs/pull/20279 when it's supported.

[2020-08-26 12:44] petkahl opened #20291 "Debian install - add "sudo" to "dpkg" when adding microsoft packages"
In most cases, "sudo" is included in the commands to run, at least in the Installing section of this page, but in the first code snip, it's missing on the "dpkg -i package-microsoft-prod.deb" line. Should be added for consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c3310a1-6a2e-ca98-9618-8f3d729eafdd
* Ver

[2020-08-26 14:01] konkalabhaskar opened #20292 "certificate, client key exchange is missing while creating the proxy with WCF channel Facot"
I'm trying to connect to a rest service using WCF client proxy with clientCredential as certificate, the first request works and the subsequent requests are failing due to client certificate missing. What could be the reason for missing the certificate?

![image](https://user-images.githubusercontent.com/530498/91312780-3ebddc80-e7d2-11ea-891d-8386b3fc05f7.png)

![image](https://user-images.github

[2020-08-26 14:03] sughosneo commented on #20286
Hello @Danielovich, thanks for reaching out.

`BackgroundService` base class contains abstract method `ExecuteAsync` which actually gets overridden by any concrete class. The method `ExecuteAsync` is called when the IHostedService actually starts.
The implementation represents the lifetime of the long-running operation(s) being performed. So in the concrete class should have the logic to run the t

[2020-08-26 14:14] BillWagner commented on #20274
Thanks for writing this @colbroth

This is an area that is complicated by what is guaranteed by the C# standard and the CLR spec, as opposed to what is almost certainly going to happen in "normal" programs.

In almost all circumstances, `finally` blocks will run. The standard doesn't guarantee it, because there are edge cases where a program is quickly terminated. (One known example is an `Invalid

[2020-08-26 14:17] BillWagner commented on #20284
Thanks for writing this @JasOcher I've added this our backlog to address when we update this article (or create a new tutorial for never-ending streams)

To answer your question: Your `await foreach` loop would be an infinite loop because the stream doesn't end. In that case, you'd need to use some cancellation mechanism to stop reading from the stream and let it close in its `DisposeAsync` method

[2020-08-26 14:54] JasOcher commented on #20284
Thanks Bill.  In regards to returning the data to a client UI or something, how would that be done when the stream isn't actually finished?

[2020-08-26 14:58] BillWagner commented on #20284
@JasOcher In an async stream, each element is available as its read. Once any work for `MoveNextAsync()` is completed, the `Current` property returns synchronously.

[2020-08-26 15:45] JasOcher commented on #20284
Great, thanks!

[2020-08-26 16:40] mikedamay opened #20293 "members of readonly struct are not implicitly readonly"
The docs say ` In a readonly struct, every instance member is implicitly readonly`.

Fields have to be made explicitly readonly or the following compiler error is generated: `error CS8340: Instance fields of readonly structs must be readonly`.

"implicitly" appears misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-26 17:40] Haukinger opened #20295 "Stupid example for using declarations"
The example says that

    using var x = new SomeDisposable();
    var y = 0;
    y += x.Stuff();
    return y;

is equivalent to

    var y = 0;
    using (var x = new SomeDisposable())
    {
         y += x.Stuff();
    }
    return y;

while in fact it's as equivalent to

    using (var x = new SomeDisposable())
    {
         var y = 0;
         y += x.Stuff();
         return y;
    }

I'd pr

[2020-08-26 18:11] adegeo commented on #19905
Thanks for the help @KalleOlaviNiemitalo !!

[2020-08-26 18:16] neonb opened #20296 ""in" parameter modifier: Contradiction in overload resolution"
The page says:

A few lines later, it says:

In my understanding these statements can't both be true. If the `in` keyword is not considered part of the signature, then overloads based on its presence shouldn't be allowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b1434b0-5459-7569-47f7-46bf33fc3953
* Version Inde

[2020-08-26 18:31] mairaw opened #20297 "Article needs to be updated for .NET 5"
Useful link: https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49205137-dcec-a120-e5e7-1b9c79cdafbb
* Version Independent ID: 4352856b-5ccf-8e62-48b4-3151340cac56
* Content: [Target frameworks in SDK-style projects - .NET](https://docs.microsoft.com/

[2020-08-26 18:34] adegeo commented on #20291
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2020-08-26 18:37] KalleOlaviNiemitalo commented on #19905
On the other hand, [How to customize/format Date and Time values in a flow](https://support.microsoft.com/en-us/help/4534778/how-to-customize-format-date-and-time-values-in-a-flow) describes the `formatDateTime()` function of Power Automate and directly references the .NET documentation on format strings.

[2020-08-26 18:43] itthing commented on #19905
Yes, I'm using this to format the dates in Power Automate (my string manipulation is being done as part of a flow attached to a PowerApp). In practice, I had to use "MM" for month because "mm" yielded minutes.

The documentation I was using linked to the .NET documentation itself, which is how I wound up here.

[2020-08-26 20:52] buyaa-n commented on #20283
CC @jmarolf @jeffhandley @terrajobst

[2020-08-26 20:59] PeterPann23 opened #20300 "Package Health: Compiler Flags: Missing !, what does it mean and how to fix it"
I have generated a package and there is a warning stating
Package Health: Compiler Flags: Missing with a yellow! mark in the NugerPackage explorer.
There is a message claiming that I'm compiling without enough information... what to add and where to add it is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-26 21:24] terrajobst commented on #20283
I've slightly edited the wording, but it looks great. Thanks!

[2020-08-26 21:25] tdykstra commented on #20300
@rrelyea @nkolev92 Can you help with this?

[2020-08-26 21:26] mnguyen36 opened #20301 "Service Fabric SDK and Tools for Visual Studio 2015 Does Not exist"
Service Fabric SDK and Tools for Visual Studio 2015 does not exist in the Web Platform Installer, so I can't get VS 2015 to recognize sfproj. Any reason I can't see this product?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eea9da8-546f-74ac-34f4-f7a39bea1a1c
* Version Independent ID: 4e064376-f7a9-0de3-9315-2873f9c

[2020-08-26 21:30] buyaa-n commented on #20283
Looks great, thanks!

[2020-08-26 21:46] nkolev92 commented on #20300
@tdykstra

The ask seems to refer to NuGetPackageExplorer which is a 3rd party tool.
Don't have expertise there, https://github.com/NuGetPackageExplorer/NuGetPackageExplorer.

[2020-08-26 21:58] tdykstra commented on #20300
@nkolev92 Thanks!

@PeterPann23 For help with NuGetPackageExplorer, you might try creating an issue in that repo https://github.com/NuGetPackageExplorer/NuGetPackageExplorer

[2020-08-26 22:00] jeffhandley commented on #20283
@buyaa-n I edited to:

- Mention OpenSsl being unsupported on Windows
- Change some quotes from back-tick quotes to single-quotes
- Fix a typo
- Add the approach for using `Debug.Assert`.  Can you specifically review that section please?

[2020-08-26 22:14] jeffhandley commented on #20283
@jmarolf One question for you... is it correct that the diagnostics could show up when targeting `netstandard`, or would targeting `netstandard` put you in Analysis Level 4 such that you wouldn't get diagnostics from this analyzer unless you opt in?

[2020-08-26 22:39] buyaa-n commented on #20283
Looks good, thanks!

[2020-08-26 22:44] Mgamerz opened #20302 "TrimMode is difficult to determine proper values and provide on the command line"
Looking over this documentation for the page, it states under `Trim your app - CLI`:

`The following example publishes an app in the aggressive trim mode where unused code within assemblies will be trimmed and trimmer warnings enabled.`

This 'aggressive' mode is not documented anywhere else on the page, or what this actually means in practice. I've looked around the internet and haven't seen any

[2020-08-26 22:47] Mgamerz commented on #20302
It's actually documented higher up the page in the wall of text, which makes it harder to figure out. I have a few other issues though, I will file issues on those if I determine it's a problem with .net core itself.

[2020-08-26 22:48] terrajobst commented on #20283
I believe you're correct, by default only `net5.0` and `net5.0-windows` are opted into the new analysis level.

[2020-08-26 23:51] michael-hawker opened #20303 "LDM acronym is used but not defined."
What is LDM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda9613d-f954-c8c1-ede0-e4dad3b7d399
* Version Independent ID: ebdd8e1f-85a0-af70-2493-d59edc2f816e
* Content: [Init only setters - C# 9.0 specification proposals](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/init)
* C

[2020-08-27 00:39] #20007 closed

[2020-08-27 00:59] jeffhandley commented on #20283
I just verified that switching from `net5.0` to `netstandard2.1` made the diagnostic go away.  I'll edit the description to fix that.

[2020-08-27 01:07] jeffhandley commented on #20283
I updated the target framework block to be:

@terrajobst / @jmarolf - Feel free to further wordsmith that if you'd like.

[2020-08-27 01:28] Tommigun1980 opened #20306 "Can't read this"
[Enter feedback here]

There's quite a lot here that's not real English.

"Just for the example sake, you can see one of the above policies in the next code:"

and then it's followed by something that's quite irrelevant to what's being discussed, with some mentions of Polly which is also irrelevant in the context.

This has to be the longest sentence ever written:
"Up to this point, the code shown

[2020-08-27 04:54] pkulikov commented on #20293
@mikedamay methods are implicitly readonly, one doesn't need the modifier in a method declaration, if the whole structure is readonly

[2020-08-27 04:58] pkulikov commented on #20293
However, I see it can mislead more than help.

[2020-08-27 05:01] mikedamay commented on #20293
Thanks for looking at this.

Maybe if `member` is changed to `method` in this context that would help.

[2020-08-27 05:04] pkulikov commented on #20303
@michael-hawker language design meeting

[2020-08-27 08:35] angularsen opened #20309 "Use recursive flag in example of adding all projects to solution"
Normally, project files are in subfolders so it makes sense to use the recursive flag `-r`.

Change the example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b0701a-2043-4ac8-567a-03c1e35161b2
* Version Independent ID: 60d50636-8086-8d92-9ccc-60b7cecd714a
* Content: [dotnet sln command - .NET Core CLI](https

[2020-08-27 09:53] OsmondJiang commented on #20198
@Youssef1313 I have talked your requirement with our PM, I believe she will contract with you soon, but don't hesitate to directly find her :)

[2020-08-27 12:08] sughosneo commented on #20306
Hi @Tommigun1980, thank you for your detailed feedback.

Once your typed client class is implemented and registered, it will be available to use in your application through DI.

For example : once [`CatalogService`](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#implement-your-typed-clie

[2020-08-27 13:14] BillWagner commented on #20295
Thanks for writing this @Haukinger

In the "what's new" section, we try to keep the examples small and focused. That keeps these articles to a reasonable length, while giving a brief explanation for each feature. The language reference and tutorial pages have more real-world examples.

That said, this could be better. I've added it to our backlog to address when we next update this article.

[2020-08-27 13:20] BillWagner commented on #20296
Thanks for pointing this out @neonb

We had the same discussion updating the C# standard (for C# 5.0).  We changed the pertinent text in the standard as follows:

For later versions, when `in` is allowed, we should add something like the following:

I've added this to our backlog to update when we next update this article. I've also added the `up-for-grabs` label in case any community members want

[2020-08-27 13:59] mihail-vladov opened #20311 "What is the vstest parameter /Framework value for .NET 5 unit tests?"
Hi,
I am trying to verify that our product is fully compatible with .NET 5 preview 8 as our clients are already asking if we are going to support .NET 5 when it is launched officially. To provide an accurate answer I would need to verify that all unit tests are executed against .NET 5. However, I can't find any information about the value of the /Framework value of vstest. Could you please share t

[2020-08-27 14:33] fengzmgit commented on #19668
Hi Lius,

Sorry for the late reply. Yes, I have found the file. Thank you very much
for following up.
Have a good day!

Regards,
Feng Zhemin

On Tue, Aug 25, 2020 at 7:59 AM Luis Quintanilla <notifications@github.com>
wrote:

[2020-08-27 14:35] rvincent7 opened #20313 ""Cancel a list of tasks (C#)" has code error"
The example at URL https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks contains an error in the following line:
byte[] content = await response.Content.ReadAsByteArrayAsync(token);
The Visual Studio IDE and compiler indicate that a ReadAsByteArrayAsync doesn't have any parameters.

---
#### Document Details

⚠ *Do not edit this se

[2020-08-27 14:38] luisquintanilla commented on #20234
Closing this issue for now since there are no docs related issues. @asheesh1996 I hope that the sample below was able to point you in the right direction. Please feel free to submit another issue if you find any docs related issues.

[2020-08-27 14:38] #20234 closed

[2020-08-27 15:02] bwatts opened #20314 "<include> example does not indicate every member must be decorated"
The example on this page only shows how to provide documentation at the class level. It does not attempt to show how to specify comments for members of the class, though there are methods in the example.

This led me to a bunch of trial and error before I found that all members, not just the class, must have the `<include>` tag.

This makes the feature far less attractive, and that caveat should b

[2020-08-27 15:02] #19304 closed

[2020-08-27 15:04] luisquintanilla commented on #19668
@fengzmgit Great! I'll keep this issue open until the updates to the tutorial are made. Feel free to raise another issue if you have any other doc related questions or issues.

[2020-08-27 15:05] asheesh1996 commented on #20234
Thanks, this was helpful, i have an idea how to proceed now :)

[2020-08-27 17:06] Youssef1313 commented on #20313
It has a CancellationToken parameter, but starting with .NET 5.0 and later.

@BillWagner @IEvangelist, What would be the correct way to do the same thing in previous versions?

[2020-08-27 17:29] rvincent7 commented on #20313
Thanks. Yeah, I missed the .NET 5.0 prereq mentioned on the page. I was was still building a .NET Core 3.1 Console App as I did in previous examples I was doing and so I missed that. I now see that if I go to the Microsoft docs and select the .NET 5.0 doc page I see the version with Cancellation token.

[2020-08-27 17:38] IEvangelist commented on #20313
Alternatively, you could omit the `token` from the `ReadAsByteArrayAsync`. It's not a huge deal, more like a nice to have - otherwise cancellation requests that occur during the reading as a `byte[]` wouldn't be possible, and slightly delay the request. Also, yeah - the prerequisites call it out. Nothing to change here, closing this. If you need anything else @rvincent7 let me know.

[2020-08-27 17:38] #20313 closed

[2020-08-27 18:08] scottaddie opened #20319 "Account for modified docs from root directory"
Support a flat file structure, such as that found in https://github.com/MicrosoftDocs/dataexplorer-docs-pr/ under the *data-explorer* folder.

[2020-08-27 18:18] tdykstra commented on #20311
Per the alert box at the top of this page,

cc @nohwnd

[2020-08-27 19:27] #20293 closed

[2020-08-27 19:28] tdykstra commented on #20309
Thanks for the suggestion -- we'll implement it the next time we update the article, or you're welcome to submit a PR if you'd like to make the change yourself.

[2020-08-27 19:34] renan-bg opened #20320 "A duplicated paragraph"
On the "Properties" topic, the following sentence appears twice: first as "When the property is the target of an assignment, or the operand of ++ or --, the set accessor is invoked.", then on the next paragraph as "When a property is referenced as the target of an assignment or as the operand of ++ or --, the set accessor is invoked with an argument that provides the new value.".

---
#### Documen

[2020-08-27 19:51] JoseMOrtizR commented on #6408
Make sure you have installed the extension .NET Extension Pack in Visual Studio Code before typing the command '.NET Generate Assets for Build and Debug'

[2020-08-27 21:54] angularsen commented on #20309
Created pull request #20321 .

[2020-08-27 22:35] #20309 closed

[2020-08-27 22:58] #20291 closed

[2020-08-28 01:20] leekr7070 opened #20323 "mistake on documentation? Implicit conversions involving type parameters"
Is that a mistake on C# 6.0 Draft Standard or am i missing some new feature of C# 6.0?

[C# 5.0 Standard](https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-334.pdf)

[C# 6.0 Draft Standard](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/conversions#implicit-conversions-involving-type-parameters)

If I is an interface type and I0 is varianc

[2020-08-28 02:32] Rick-Anderson opened #20326 "Update for .NET 5"
~@mkArtakMSFT~ @richlander how do you want to update this for .NET 5? Something like

[code]

Update, I don't think this repo supports monikers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .

[2020-08-28 04:05] adegeo commented on #19905
@itthing Hi! Can you please respond to my previous question? Thanks!

[2020-08-28 07:21] SpaceOgre opened #20329 "Stop is missing from the keywords list"
I get this warning:

But I can't find it on the list on this page, it should be updated (or the warning is wrong).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version Independent ID: 4b943400-309d-0437-5513-0533456297f0
* Content: [C# Keywords](https://docs.microsoft.com/en-us/

[2020-08-28 09:06] Youssef1313 opened #20330 "unmanaged article is confusing"
The first paragraph indicates that "Any pointer" is "unmanaged". However, the second paragraph indicates that `unmanaged` constraint is used to specify a type parameter that is non-pointer type.

It feels like a contradiction to me (or probably misunderstanding?).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93e5d75f-

[2020-08-28 09:23] user2150 opened #20331 "DWORD_PTR"
What managed type should we use for DWORD_PTR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678eaef3-eec4-dc52-1234-37e220f84682
* Version Independent ID: 38b09163-65d8-4d6c-1394-401e080ed6f0
* Content: [Marshaling Data with Platform Invoke](https://docs.microsoft.com/en-us/dotnet/framework/interop/marshaling-data-wi

[2020-08-28 09:28] Youssef1313 commented on #20329
I don't think C# have a keyword named "Stop". It's a VB keyword.

The analyzer does seem to always lookup for all keywords regardless of the language.

https://github.com/dotnet/roslyn-analyzers/blob/0cbdd68e14722e911d50eee64ee95823b3ffa09c/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/IdentifiersShouldNotMatchKeywords.cs#L239

@mavasani, Is this behavior intended?

[2020-08-28 10:55] svick commented on #20323
I believe it's like this because the C# 5.0 spec is newer than the C# 6.0 draft spec (yes, really) and so only the C# 5.0 spec has the fixed wording. Once proper C# 6.0 spec is released (I think https://github.com/dotnet-foundation/projects/issues/90 is the most recent activity on that front), it should have the correct wording.

In more detail: MS released [their version of the C# 5.0 spec](https

[2020-08-28 11:32] pkulikov commented on #20330
@Youssef1313 unmanaged constraint specifies only non-pointer unmanaged types (in general, pointer types don't play with c# type constraints), that is, a strict subset of all unmanaged types. There is no contradiction here, but not the best naming of the constraint and the type set. But this is what it is.

[2020-08-28 11:38] Youssef1313 commented on #20330
@pkulikov Thanks for clearing it.

Do you think it's worth to change the wording or just keep as is and close this issue? Perhaps the following is more clear?

[2020-08-28 11:45] pkulikov commented on #20330
To me, the current wording is clearer than the suggested one.

[2020-08-28 11:52] #20330 closed

[2020-08-28 12:58] renan-bg opened #20334 "A typo."
There's a typo on the topic "Virtual, override, and abstract methods": "<ins>Aa</ins> virtual method declaration introduces a new method."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3148b5e9-550e-67c9-eb13-907cb78f7fe7
* Version Independent ID: c723989f-2ff6-389d-dcb4-f55d97d14501
* Content: [The building blocks of

[2020-08-28 13:53] BillWagner commented on #20334
Thanks for creating this @renan-bg

I just opened a PR to fix this.  In the future, when you find these issues, you can click the "edit" button (it looks like a pencil), and submit a quick fix. That may save us both some time.

[2020-08-28 14:00] BillWagner commented on #20323
Thanks for writing this @leekr7070

@svick has provided all the background on the history.  The standards committee has been working to add the C# 6.0 features to the C# 5.0 standard, and we should have a public draft if and when we are approved by the .NET foundation.

I'll keep this open until we release that update, and assign it to me.

[2020-08-28 14:03] Youssef1313 commented on #20329
@svick Ahh, I didn't read the message till the end 😄

@SpaceOgre I think you can do one of the following:

- Rename the method as suggested. This option might not always be actionable.
- Suppress the rule.

[2020-08-28 14:03] BillWagner commented on #20320
Thanks again @renan-bg I've opened #20336 to address this.

[2020-08-28 14:04] BillWagner commented on #20314
adding @mikadumont to confirm the correct behavior.

[2020-08-28 14:09] mavasani commented on #20329
Yes, this is by design.

[2020-08-28 14:09] Youssef1313 commented on #20326
I think pivots is a similar thing:

https://github.com/dotnet/docs/blob/master/docs/zone-pivot-groups.yml

[2020-08-28 14:15] SpaceOgre commented on #20329
Thank you for the clarification. It would be nice if this was added to the documentation then for the analyzer error code. Will create an issue for that over there.

[2020-08-28 14:15] #20329 closed

[2020-08-28 15:02] Youssef1313 opened #20337 "Consider running an automated PR to compress all images"
Docs readers with slow internet connection may get better experience if images are compressed.

related to https://github.com/dotnet/docs/pull/19737#issuecomment-682643419

cc: @IEvangelist

[2020-08-28 15:08] itthing commented on #19905
Yes, I would like support for other ISO 8601 standard formats.

Are you saying I should go to https://github.com/dotnet/runtime/issues/9364?

I believe I understand how to use custom formats, but my point is that ISO 8601 is not just one format and that one option that implements one format of 8601 isn't enough, considering a date-only 8601 format could be argued to be just as useful. I want to ge

[2020-08-28 16:05] ardalis commented on #20337
I was going to suggest this. I use ImgBot on my own sites and it works great.

[2020-08-28 16:56] kexugit commented on #20198
@Youssef1313 Do those .md files have single or multiple F1 keywords?

[2020-08-28 17:18] Youssef1313 commented on #20198
@kexugit They can have one or more.
But the issue is the same F1 keyword existing in two files. For example `!_CSharpKeyword`, it appears in `boolean-logical-operators.md` and `null-forgiving.md`. This requires a Roslyn fix in addition to the docs fix.

On the other hand, the duplication of `+_CSharpKeyword` will probably **not** require Roslyn fix. Only docs fix to remove it from one of the artic

[2020-08-28 17:49] kexugit commented on #20198
@Youssef1313 I'm working with @meganbradley to see if we can add a Docs validation for duplicated f1 keywords.

[2020-08-28 19:20] adegeo commented on #20337
I don't know if it's really worth it. Doing some quick powershell calculations on png/jpg in the repo, I only see ~20 files bigger than 500k and only ~130 files over 200k and the average file size is ~58k

[2020-08-28 19:25] #18023 closed

[2020-08-28 19:33] Youssef1313 commented on #20337
@adegeo We may see a way to apply the automation only for files bigger than 200kb to reduce the number of files changed. Will that be better?

[2020-08-28 19:45] #19388 closed

[2020-08-28 20:45] leekr7070 commented on #20323
@svick @BillWagner
Ok! Thanks for your attention!
Now i understand it.

[2020-08-28 21:59] tarekgh commented on #17909
I don't think either of these statements is true. could you please clarify from where did you get this information?

[2020-08-28 22:04] tdykstra opened #20342 "Move Standard and Core docs to new Fundamentals TOC"
* Replace .NET guide TOC and .NET Core guide TOC with .NET fundamentals TOC.
* Replace TOC nodes .NET guide and .NET Core guide in the [top-level TOC](https://docs.microsoft.com/en-us/dotnet/welcome) with .NET Fundamentals.
* Replace .NET guide and .NET Core guide landing pages with a new .NET fundamentals landing page.

Exclude from this initial PR as impractical to do all at one blow, will be ad

[2020-08-28 22:07] meganbradley commented on #20198
Created feature: https://ceapex.visualstudio.com/Engineering/_workitems/edit/293211

[2020-08-28 23:56] vamuzumd opened #20344 "Unable to find documentation on some enum values like PointMemberAccessExpression"
Have been looking around the exact meaning/usage of the enum PointMemberAccessExpression, but could not find any in docs. Would be great to provide a doc pointer link to each of these enums.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae9f0fbc-3a19-ed1d-7c80-582113d4bb3e
* Version Independent ID: d5bba7fd-d91c-228e-

[2020-08-29 03:27] #17909 closed

[2020-08-29 08:14] BenjaminAbt commented on #17909
You quoted my paragraph that referred to the use of DateTime in databases.

- In the past `System.Datetime` used to use T-SQL `datetime`. Newer stuff (like EF Core Migrations) takes `datetime2`.
- `System.DateTimeOffset` equivalent is `datetimeoffset`
[Date and Time Data Types and Functions (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/functions/date-and-time-data-types-and-functions-

[2020-08-29 09:56] Youssef1313 commented on #20344
This needs to be moved to dotnet/roslyn repository. The [enum](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs) source code is currently lacking triple slash doc comments.

[2020-08-29 10:09] Youssef1313 opened #20346 "Bitwise operators are referred to as logical operators"
Operators on this page, such as `|`, `&`, and `^`, are referred to as logical OR, logical AND, logical XOR in the headings. In the text, it's said with the combination, e.g. "bitwise logical exclusive OR".

I haven't heard "bitwise logical" as a term together, and I think it should be just "bitwise", both in headings and text.

I opened as an issue instead of PR to discuss first, as I might be mis

[2020-08-29 17:32] pkulikov commented on #20346
@Youssef1313 The spec refers to those operators as "logical" (and uses "bitwise logical" wording):
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#logical-operators

[2020-08-29 17:55] Youssef1313 commented on #20346
@pkulikov So the spec was the source of this wording right?
Can the spec be inaccurate in this wording?

It's said everywhere as just bitwise operators.

[2020-08-29 18:07] tarekgh commented on #17909
@BenjaminAbt your comments may apply to databases but not applying to the runtime. Your original comment was not clear about that. Maybe modifying the database docs would be more reasonable here.

[2020-08-29 18:24] pkulikov commented on #20346
@Youssef1313 I don't think it's inaccurate wording. It's explicit wording: "logical AND", not any other "AND". Though I guess "logical AND" and "AND" are treated as synonymous by many. I think that explicit wording is fine here, especially if it's supported by spec.

"Bitwise" here means that operation is performed on a bit level. "Logical AND" states which operation is performed.

[2020-08-29 18:38] Youssef1313 commented on #20346
I see your point, and yes I think there is no problem with the combination of "bitwise logical OR" (although the wording isn't common), but it's explicit about that the operator applies logical OR on the bit level.

However, I still think the headings need an update. They just say "Logical OR operator" without any mention of "bitwise".
I believe anyone reads "Logical OR operator" will get it as `|

[2020-08-29 18:40] Youssef1313 commented on #20346
Also, it's very confusing if you opened both of these docs:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/bitwise-and-shift-operators#logical-or-operator-
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/boolean-logical-operators#logical-or-operator-

[2020-08-29 20:14] pkulikov commented on #20346
It may even be *incorrect* to call `|` as bitwise logical OR operator. Generally, `|` is called "logical OR operator" (at least, in the spec), It performs bitwise operation on integer operands. In C#, bitwise operators are the ones that perform bitwise operations on integer operands. Those are logical OR, logical AND, logical XOR, and logical NOT.

So, "bitwise" refers not to operator, but to the

[2020-08-29 20:24] pkulikov commented on #20346
@Youssef1313 yes, after some thought I think it would be incorrect to put "bitwise" into the section headings. An individual operator is called "logical" (logical OR, logical AND, logical XOR). On integral operands, it performs *bitwise logical operation*. The *set* of those operators, though, can be referred as *bitwise operators* in a sense of "operators that perform bitwise operations"

[2020-08-29 20:48] Youssef1313 commented on #20346
Hmm... Probably my confusion comes from what I was taught 😄

Strictly speaking, I learnt that:

- Logical operators apply to booleans only and results in a boolean value.
- Bitwise operators apply to integers or booleans (in that case they are treated as 0 or 1, as if they were integers). They do the logical operations on the bit level (bit by bit), and for sure they evaluate both sides to do that

[2020-08-29 21:10] Youssef1313 commented on #20346
I looked at the VB reference

https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/operators-and-expressions/logical-and-bitwise-operators#binary-logical-operators

and based on my previous background from college, matches the terminology I know and is clearer IMO. But I haven't yet checked the VB spec.

[2020-08-29 21:13] pkulikov commented on #20346
Maybe, that's the case in some (a lot even?) languages, but it looks like that not in C#. C# calls `|`, `&`, and `^` as logical operators, regardless of the operand type. Then, depending on the operand type, there are integer logical operators and Boolean logical operators. Integer logical operators perform logical operations bit-by-bit and are part of bitwise operators (that set also includes `~`

[2020-08-29 21:17] pkulikov commented on #20346
Also, the very first paragraph from VB reference:

Note, there are no bitwise operators. The first sentence mentions "logical operators". The last sentence refers to them ("these operators") and basically claims that logical operators can be applied to integral values.

[2020-08-30 01:42] patgoull opened #20350 "Redundant Directory.Exists check"
The following Directory.Exists check is redundant since Directory.CreateDirectory explicity states : Creates all directories and subdirectories in the specified path unless they already exist.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d050f686-38eb-bb76-5747-9e138f4da679
* Version Independent ID: 93b69d5a-5d

[2020-08-30 02:14] clairestreb opened #20351 "PCL is used three times before it is defined"
PCL is used three times before it is defined under the Comparison to Portable Class Libraries topic.  The definition should be moved from that topic to the first time it is used on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-

[2020-08-30 06:48] DickBaker opened #20352 "Outdated"
[Enter feedback here]
Era 2017 describing future specs. Now we ARE 2020 and C# 8 is concrete reality. Update links!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60b6e17-36cf-bd6c-1b76-d38f1760a816
* Version Independent ID: 0fdeaa81-c3c2-c290-224e-792fcee9b297
* Content: [C# reference](https://docs.microsoft.com/en-u

[2020-08-30 07:09] pajabyte opened #20353 "obsolete sql server image in docker-compose.yml"
The docker.compose.yml displayed in the docs is not working. MS SQL docker image has been moved to: mcr.microsoft.com/mssql/server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b69a4b5-2003-e7a5-97a3-59e3737ea1ef
* Version Independent ID: c8fefbe8-6f9b-209a-3563-2cb51384707c
* Content: [Development workflow for Docke

[2020-08-30 07:45] pajabyte commented on #20353
Hey there, this seems like a small enough issue and I'd like to fix that. Can I work on this? I'd just substitute `mssql-server-linux:latest` for `mcr.microsoft.com/mssql/server:latest`

[2020-08-30 07:47] netchkin commented on #20353
Hey, this seems like a small issue, can I fix this? I'd just substitute `mssql-server-linux:latest` in the docs for `mcr.microsoft.com/mssql/server:latest`, which is the current address for sql server linux image.

[2020-08-30 09:14] davisnw opened #20354 "IAsyncDispose not clear when using mixing with owned resources that implement IDisposable only"
The article / examples are not clear how to handle the case where you have multiple managed resources, but some implement both `IAsyncDisposable / IDisposable` and some only implement `IDisposable`.

For example suppose I'm implementing a custom `Stream`, that needs to wrap other diposable resources.  The base class is part of .net framework, so I don't have the option of simply omitting `IAsyncDi

[2020-08-30 09:43] svick commented on #20352
Unfortunately, the article is correct and there are no links to update, because there are no specs for more recent versions of C#. Though work is being done to update the spec, with most recent activity at https://github.com/dotnet-foundation/projects/issues/90.

[2020-08-30 11:56] Youssef1313 commented on #20346
The VB spec mentions "bitwise operators":

(I actually couldn't get what's meant by this statement in the spec, but just quoting it as it mentions "bitwise operators".

---

When I first read this, I thought "these" refers to "binary operators". Not sure what the original author intended to refer to.

---

I think the whole thing is just about "terminology", nothing more, and the problem seems to

[2020-08-30 12:51] Youssef1313 opened #20355 "Document the difference between WarningLevel and AnalysisLevel"
The documentation for -warn compiler option should mention notes about AnalysisLevel, is it the same as WarningLevel? is it just a new name for it?

https://devblogs.microsoft.com/dotnet/automatically-find-latent-bugs-in-your-code-with-net-5/

This blog mentions that the default value for AnalysisLevel is 5. However, the default value for WarningLevel is 4.

All these need to be clarified.

---
##

[2020-08-30 12:54] Youssef1313 commented on #20353
@netchkin Sure you can submit a PR to fix this. [Here is how](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents).

[2020-08-30 15:49] CoastalData opened #20358 "Horrible code example"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f9a6a9-2a5a-f348-7870-e533942b5291
* Version Independent ID: 4495d159-ef3f-1b8c-72f4-6933432fc628
* Content: [How to: Write Text to Files - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/programming/drives-directo

[2020-08-31 00:12] davidwengier commented on #20199
Looks like this is now working, but a different link is failing. I'm seeing the same results as per this comment:

https://github.com/dotnet/roslyn/issues/46988#issuecomment-683149510

Is there anything we can do to fix this, or do we just wait for the new service?

[2020-08-31 09:11] sizzler-5g opened #20362 "missing a note on get /set"
I think there should be a note explaining that public properties without {get;set;} accessors will be ignored. This seems a lot more important than [serializable] options.
I've spent quite some time realising this. especially when using Generics, it is not the first thing you would think of defining.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-08-31 11:41] CarnaViire opened #20363 "Document System.Net.Cookie path related breaking changes"
This issue is to document the changes introduced by PR dotnet/runtime#39250

[2020-08-31 11:54] FloP93 opened #20364 "Add used nuget version numbers"
I just followed this tutorial and after finishing it i get the error:
"System.DllNotFoundException: Die DLL "onnxruntime": Das angegebene Modul wurde nicht gefunden. (Ausnahme von HRESULT: 0x8007007E) kann nicht geladen werden."

I first tried it with all the newes versions:
Microsoft.ML v1.5.1
Microsoft.ML.ImageAnalytics v1.5.1
Microsoft.ML.OnnxRuntime v1.4.0
Microsoft.ML.OnnxTransformer v1.5.1

[2020-08-31 12:42] IEvangelist commented on #20337
We already have image compression capabilities built into our VS Code tooling, see [image compression](https://docs.microsoft.com/en-us/contribute/docs-authoring/image-compression). We have also explored ImgBot, in fact I was driving this effort months ago. Ideally, we'd compress images before they are committed to git - otherwise the change history continues to grow even if the images are compres

[2020-08-31 12:46] #15147 closed

[2020-08-31 12:49] ardalis commented on #20337
That's true but those are wholly different concerns. ImgBot saves bandwidth and improves the experience for many thousands (millions?) of visitors to the public site; keeping the git repo small only matters to the hundred(s) of developers working with the source. Both are good, and may be used together to provide "defense in depth" for when things slip through (for instance, when 3rd party open so

[2020-08-31 12:50] Youssef1313 commented on #20337
@IEvangelist The VS Code extension looks great!
Good point also about the change history size, I wasn't considering that. So yes I agree it's better if the image is compressed in #19737 before it's merged.

But what about the existing large images?

I wouldn't prefer an automated PR for all images, because as you said, it makes the git history grow. Hence, I'm closing my PR of ImgBot.

But I think

[2020-08-31 12:50] IEvangelist commented on #20354
Hi 👋 @davisnw
Thank you so much for posting this issue. We really appreciate it. I'll try to update the article to cover these details next month.

[2020-08-31 12:53] Youssef1313 commented on #20337
@ardalis I think we should balance between both.

I faced problems before cloning very large repos with a poor 5MB/sec internet connection :smile:

[2020-08-31 12:56] ardalis commented on #20337
We agree - let's do both. :)

[2020-08-31 13:10] IEvangelist commented on #20337
Another problem is that images that are compressed cause our localization teams to pick up those changes and manually go update/localize every single image that has text on it. Which I'm told is very time consuming, and costly. I know that the issue is being further investigated higher up by the platform team. So the post processing stuff is going to have to wait.

One idea that I floated to the t

[2020-08-31 13:35] Youssef1313 commented on #20337
In that case, will 130 images be large amount of work to the localization teams?

[2020-08-31 13:43] Youssef1313 commented on #20362
If you removed `{ get; set; }`, it will become a field not a property at all. The article states that fields are not supported.

[2020-08-31 14:15] IEvangelist commented on #20337
It would, that is why there is hesitation around mass updates. We're still looking into that. The main point is to try to keep images compressed before being merged.

[2020-08-31 14:33] BillWagner commented on #20355
This new article should cover all the information about warning waves.

[2020-08-31 14:36] BillWagner commented on #20352
@DickBaker It's correct that the standardization effort has fallen behind. The ECMA committee is actively working on updating those.

In the meantime, we have published the [design proposals](https://docs.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-7.0/pattern-matching) for all features up to and including C# 9.0. While not the standard, we hope that helps in the interim.

[2020-08-31 14:49] BillWagner commented on #20346
I think a bit of history will help us reach a resolution.  The C# standard uses the terms "logical operator" and "conditional operator" to distinguish `&` from `&&` (and `|` from `||` etc.) based on rules for overloading.  Any type may overload the *logical* operators. But, the conditional operators cannot be overloaded. Instead, the compiler-generate code for any conditional operator calls the as

[2020-08-31 14:50] BillWagner commented on #20344
ping @sharwell Should this move to the roslyn repo?

[2020-08-31 15:11] #20034 closed

[2020-08-31 15:15] Youssef1313 commented on #19873
I can't even find this error message in Roslyn's repo. Where does it come from?

[2020-08-31 15:30] sharwell commented on #20344
@BillWagner I'm not sure. It seems reasonable for it to live in either location.

[2020-08-31 16:17] #20306 closed

[2020-08-31 17:37] mikadumont commented on #20314
@sharwell to take a look

[2020-08-31 18:14] sharwell commented on #20314
The `<include>` element only refers to the documentation for a single code element. The best way to improve the example on this page would be to document `Test.Main()` and `Test2.Test()` in addition to the types that are already documented.

@bwatts I would not recommend using `<include>`. It is slower for some analyzers, and does not integrate cleanly with IDE analyzers, code fixes, and refactori

[2020-08-31 18:30] adegeo commented on #20337
Great point @IEvangelist I forgot about loc translation.

[2020-08-31 18:47] bwatts commented on #20314
@sharwell Thanks for your reply. I did realize that the `<include>` would need to be on the methods as well. My feedback was that if your example were explicitly outlined in the docs, I likely would have realized the feature did not meet my needs sooner.

My goal was to provide robust documentation for a library I'm writing, without reducing the amount of C# in each file to 10-20%. This seemed pro

[2020-08-31 18:47] #20314 closed

[2020-08-31 18:49] BillWagner commented on #20199
@davidwengier I'm looking for the contact to put you in touch with.

[2020-08-31 18:51] marcpopMSFT opened #20370 "Running XUnit tests requires a new version of XUnit"
## Running XUnit tests with dotnet test requires a new version of XUnit
A new version of XUnit is required for running tests using the .NET CLI when targeting .NET 5.0

### Version introduced
.NET 5 SDK preview 8

### New behavior
`No test is available in <assembly> Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate and try again.`

[2020-08-31 19:00] marcpopMSFT opened #20371 "WPF and Winforms applications will require a new sdk and TargetPlatform"
## WPF and Winforms applications should use the .NET sdk and Target net5.0-windows

There is a new TFM in .net 5.0 which replaces `netcoreapp` and `netstandard`.  You can find more details on this change here: https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md

Windows Forms and WPF projects which retarget to .NET 5.0 will need to change the `TargetFramework` to `net5.0-windo

[2020-08-31 19:05] marcpopMSFT opened #20372 "Design Time Builds will only return top-level packages references by default"
## Design Time Builds will only return top-level packages references by default

Historically, the `RunResolvePackageDependencies` target would create the following MSBuild items containing information from the NuGet assets file:

- PackageDefinitions
- PackageDependencies
- TargetDefinitions
- FileDefinitions
- FileDependencies

This data was used to populate the Dependencies node in Solution Exp

[2020-08-31 19:11] marcpopMSFT opened #20373 "Automatically infer WinExe output type for WPF and Winforms applications"
## Automatically infer WinExe output type for WPF and Winforms applications

We are now automatically setting the OutputType to WinExe if the application is WPF or WindowsForms.  This will suppress any console windows that would start up if the OutputType was set to exe. https://github.com/dotnet/sdk/pull/12448

### Version introduced

.NET 5 Preview 8

### Old behavior
We would use the value set

[2020-08-31 19:13] marcpopMSFT opened #20374 "[Placeholder] Directory.Packages.props is now imported by default"
## Directory.Packages.props is now imported by default

NuGet's MSBuild .props files now automatically import a file named Directory.Packages.props if one is found in the project folder or any of its ancestors.

If there was previously a file with this name, this automatic import could change behavior of the build (for example importing the file when it wasn't before, or changing the ordering of w

[2020-08-31 19:19] adegeo commented on #20350
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-08-31 19:21] marcpopMSFT opened #20376 "[Placeholder] Change in deps.json impacting single file applications"
## PublishDepsFilePath behavior changed due to single file application support

### Version introduced

.NET Core SDK 5.0.100

### Old behavior

The MSBuild `PublishDepsFilePath` property would be the path to the app's deps.json path in the output directory for non single-file applications, and it would be a path in the intermediate directory for single file apps.

### New behavior

The PublishDep

[2020-08-31 19:26] adegeo commented on #19905
Gotcha. Yeah, if it's a change within .NET itself, I think the runtime repository is the place to go. It does seem like there is that issue you linked to and another one referenced in that issue. We can't really do anything over here, since this is purely documentation. The best bet is to get more dialog and more users talking about your suggestion, probably on that other issue you linked to. Cons

[2020-08-31 19:26] #19905 closed

[2020-08-31 19:43] Vaccano opened #20380 "What is "Very Short""
This page says:

"wait times are expected to be very short"

"Very short" is relative.  Is that seconds?  Milliseconds? Nano Seconds?  Clock Tick? Some context is needed.  And a indication of issues that will occur when wait times are not very short would also be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2020-08-31 19:54] #19769 closed

[2020-08-31 19:58] #20350 closed

[2020-08-31 20:03] DickBaker commented on #20352
thanks BillW - I like the P1 tag anyway !
- seems the https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/ redirects to C# v8 but that's ok for me now after all your work with motorway toll app.

[2020-08-31 20:05] BillWagner commented on #20352
Thanks @DickBaker

I need to fix that redirect.  PR coming....

[2020-08-31 20:26] mairaw commented on #20270
I'm not up-to-date on plans for this repo. @BillWagner please advise

[2020-08-31 20:29] BillWagner commented on #20270
@Youssef1313 You'll start to see content moving and the TOC being updated shortly.  @tdykstra is starting that.

The async tutorials will be consolidated later. Let's leave this open without action until we finalize that plan.

[2020-08-31 20:42] hellerim opened #20382 "Better Wording for a Benefit of the Garbage Collector"
Instead of "Provides memory safety by making sure that an object cannot use the content of another object.", I would prefer to read "Provides memory safety by making sure that an object cannot use the memory allocated for another object for itself.".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8948cf5-0aec-308c-804

[2020-08-31 22:00] Gen-CA opened #20384 "Incorrect Regex anchor code used in example"
[Enter feedback here]

In the example immediately before the heading "Conditional matching with an expression" the last line ("End the match at a word boundary") uses "\d" as the anchor code. This is incorrect. It should be "\b".

This is on **line 57** of the file: alternation-constructs-in-regular-expressions.md:
|`\d`|End the match at a word boundary.|

---
#### Document Details

⚠ *Do not edit

[2020-08-31 23:05] gewarren opened #20386 "Monthly chores - September 2020"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2020-08-31 23:53] gewarren commented on #20331
Since it is an [unsigned long type](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/66d61dd8-2191-4a37-b963-e49bf0dc2579), use System.UInt32 (`uint` in C#).

[2020-08-31 23:53] #20331 closed

[2020-09-01 01:54] junshi356 commented on #20199
The behavior of https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(-_CSharpKeyword);k(DevLang-csharp)&rd=true is fine now. We believe that this issue is resolved.

[2020-09-01 02:21] Youssef1313 commented on #20199
Thanks @junshi356, but the following one is not working :cry:

 https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(+_CSharpKeyword);k(DevLang-csharp)&rd=true

[2020-09-01 02:26] junshi356 commented on #20199
Please encode the url before sending request. (The product like VisualStudio/SSMS will also encode the url)

https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(%2B_CSharpKeyword);k(DevLang-csharp)&rd=true
Just goes to the page you want, I guess.

[2020-09-01 02:34] Youssef1313 commented on #20199
Works with encoding!
Thanks.

[2020-09-01 02:34] #20199 closed

[2020-09-01 09:41] RussKie opened #20392 "[WinForms] DataGridView-related API validate state and throw IOE"
## Selected DataGridView-related API validate object state and throw `InvalidOperationException`.

Selected API now validate object state and throw `InvalidOperationException` where previously a `NullReferenceException` could be thrown, if APIs were invoked without being constructing with a valid `Owner`.
Throwing `InvalidOperationException` is inline with the behaviours in .NET Runtime, and provi

[2020-09-01 10:31] ip75 opened #20393 "code in article is obsolete. Current version of ocelot is 16"
configuration file format changed. Your article is not actual. I spent much time to fix my project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ce8eaa-b3ff-9b69-fea1-131eed36b9ec
* Version Independent ID: 771d9f72-b506-79ef-5398-030c1705ee9a
* Content: [Implementing API Gateways with Ocelot](https://docs.microsoft

[2020-09-01 11:08] #18761 closed

[2020-09-01 11:09] #20353 closed

[2020-09-01 14:31] Youssef1313 commented on #20386
I believe the F# links should have been fixed recently (there were multiple PRs to use https://fsharp.github.io/fsharp-core-docs/). Does the broken link report show any broken links in F#?

[2020-09-01 14:48] #14312 closed

[2020-09-01 15:02] #20334 closed

[2020-09-01 15:03] #20320 closed

[2020-09-01 15:54] #19770 closed

[2020-09-01 15:58] luisquintanilla commented on #19668
AB#1766482

[2020-09-01 16:02] #20008 closed

[2020-09-01 17:24] #20351 closed

[2020-09-01 18:36] vitek-karas opened #20399 "Where/How to document native APIs provided by .NET Core"
.NET Core runtime exposes a set of native APIs to allow non-.NET application to host the runtime and run managed code (for example). Where and how should these APIs be documented?
We have guides and samples (https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting) but no real API docs for these.

/cc @AaronRobinsonMSFT

[2020-09-01 18:37] mairaw commented on #20399
@BillWagner @gewarren is this something you can help with? It would probably have to be created in this repo.

[2020-09-01 19:02] scottaddie opened #20401 "Document the JSON config file options"
Add a new section to the README file that explains what the options are and when they're useful.

[2020-09-01 19:20] #19682 closed

[2020-09-01 19:25] IEvangelist commented on #20358
Hi 👋 @CoastalData
Thank you so much for posting this issue. We welcome community contributions. If you would like to help us improve these examples, we'd be happy to review them. What improvements would you suggest? I'm marking this as "up-for-grabs".

[2020-09-01 20:27] vamuzumd opened #20403 "'Build data driven tests' section does not mention the user-defined helper classes 'CodeFixVerifier' and 'DiagnosticVerifier'"
The section '[Build data driven tests](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix#build-data-driven-tests)' has code snippets for methods like 'VerifyCSharpDiagnostic(testCode)' and 'VerifyCSharpFix(test, fixTest);' belonging to user-defined class 'DiagnosticVerifier.cs' which are misconstrued to be built-in methods until I stumbled up

[2020-09-01 20:55] BillWagner commented on #20399
@vitek-karas I think [this doc](https://docs.microsoft.com/dotnet/core/tutorials/netcore-hosting) was a starting place for it. I would add a folder under `docs/core` for these articles, and add the existing one to that folder as appropriate. I think the new content should go near this article in the TOC. Ping me or @IEvangelist with any questions.

[2020-09-01 21:31] scottaddie commented on #20319
Fixed in https://dev.azure.com/mseng/TechnicalContent/_git/dotnet-docs-tools/pullrequest/572237

[2020-09-01 21:31] #20319 closed

[2020-09-01 23:13] gewarren commented on #20241
This issue was moved to dotnet/dotnet-api-docs#4770

[2020-09-01 23:13] #20241 closed

[2020-09-02 06:54] FloP93 commented on #20364
I don't know if this helps but:
Today I updated my Visual Studio and added workloads for c++ and python and now the same code runs without problems.
I did NOT however change any of the nuget packages or anything on the code itself.

[2020-09-02 07:07] swapniljha001 commented on #17163
Can you mention which file needs to be edited to resolve this issue?

[2020-09-02 08:58] krchome commented on #20215
Thanks a ton, @luisquintanilla.
Regards,
Kaushik

[2020-09-02 09:40] sughosneo commented on #20393
Hello @ip75, Thank you for your feedback.

Yes, in the reference application [`eShopOnContainers`](https://github.com/dotnet-architecture/eShopOnContainers)
we don't use the `Ocelot` API Gateway any more. Instead of that we use `Envoy`.
Based on the recent feedback, we have tried to include more details on `Ocelot` version 16 related changes in the documentation. You can refer the PR #19980 for mo

[2020-09-02 09:40] #20393 closed

[2020-09-02 09:57] sughosneo commented on #19943
Hi @micahswitzer, we are closing this issue as of now. If you have any further questions, please feel free to reopen it.
You may want to check out the PR #19980, where we have provided information information related to `Ocelot` version >= 16.

Thank you.

[2020-09-02 12:49] nishanil commented on #19943
Reopening this. The original issue related to red squiggles in the image. We can fix that!

[2020-09-02 14:00] #19943 closed

[2020-09-02 14:36] Youssef1313 commented on #20403
@adegeo This didn't get the correct label based on the bot config:

https://github.com/dotnet/docs/blob/b751bac821dbd7ad38fe625be2c7705a24363145/.ghal.rules.json#L343-L344

[2020-09-02 14:42] scottaddie commented on #20401
Fixed in https://dev.azure.com/mseng/TechnicalContent/_git/dotnet-docs-tools/pullrequest/572291

[2020-09-02 14:42] #20401 closed

[2020-09-02 16:04] Youssef1313 opened #20414 "#if directive page should mention csproj's <DefineConstants>"
The <DefineConstants> tag for csproj files isn't documented anywhere. It should be documented and linked in this page.

One of the most useful usages of <DefineConstants> along with #if directive is when a code file is referenced in multiple projects and a small part of the code needs to be different for each project (for example, due to one of these project not having access to a certain API).

[

[2020-09-02 17:54] scottaddie opened #20417 "Add support for a local JSON config file"
The VS docs team has expressed interest in having support for a local JSON config file to test changes before pushing. Consider adding a new option that allows you to provide a path to a local JSON config file. When that option is specified, the config file in the repo isn't used.

[2020-09-02 18:38] udlose opened #20420 "Add string.Create to documentation"
On the page for "Creating new strings", there is no reference to the recently added `string.Create()` method

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c76a8206-037e-7563-d856-cf13fdb81d6d
* Version Independent ID: ba06f202-b642-4ec0-0755-9777b80fda64
* Content: [Creating New Strings in .NET](https://docs.microsoft

[2020-09-02 19:01] mohsin-mehmood commented on #20295
@BillWagner this [pull](https://github.com/dotnet/docs/pull/20411) request is merged and should fix this issue

[2020-09-02 19:43] #19702 closed

[2020-09-02 19:44] #20363 closed

[2020-09-02 19:45] steveharter commented on #16922
Yes the published sample may not work in all AOT scenarios, but does support all Enum types globally.

The provided example above works only when closing the generic ahead of time with either applying the `[JsonConverter]` to each such property or adding all possibilities to the options instance:

[code]

Also note for 5.0, Enums and other number types can be used as keys for dictionaries, so no w

[2020-09-02 20:43] steveharter commented on #19944
Re-opened with the breaking change template; it's not really a breaking change because the semantics of .NET Core have not changed -- it's only a doc issue.

[2020-09-02 21:33] jeroen889 opened #20426 "!(EXCLAMATION)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d4a8c65-fe3a-8656-b7a1-641a2ae4cb30
* Version Independent ID: a171c012-8373-3d77-e4f2-7ea4f4662d7f
* Content: [Troubleshoot blocked .NET Framework installations and uninstallations](https://docs.microsoft.com/en-us/dotnet/framework/install/troublesho

[2020-09-02 21:46] #20342 closed

[2020-09-02 21:59] steveharter commented on #10149
Sorry missing notifications from this repro. It works better if an actual issue is created in https://github.com/dotnet/runtime/issues.

This issue is discussed in https://github.com/dotnet/runtime/issues/29842

For @Adriien-M's example, I verified it works if build in Release mode and a loop is added:
[code]

[2020-09-02 22:11] steveharter commented on #10149
@JiriCepelkaFirstLineSoftware I ran your example on .NET Framework 4.7.2 and it did not hit the `throw` line:
[code]

Closing this; please log an issue in https://github.com/dotnet/runtime/issues or add to dotnet/runtime#29842

[2020-09-02 22:11] #10149 closed

[2020-09-03 07:43] bnewcomb commented on #20358
Is he referring to the inconsistency between the code snippet and the explanation?

This example writes the line "This is new text."
to
This example writes the line "This is new text to be added."

[2020-09-03 08:25] jskeet opened #20432 ""Implicit static constructor" terminology is inaccurate and causes confusion"
From the page:

Assuming this actually means "for classes which don't have a static constructor, but you need to troubleshoot the type initializer". There's no such thing as an "implicit static constructor" in the same way that there can be an implicit *instance* constructor (which behaves *almost* identically to an explicitly-provided parameterless constructor). The presence of a static construct

[2020-09-03 08:52] Youssef1313 opened #20433 "Rule severities documentation isn't as clear as possible"
It lacks some information. They're documented in Visual Studio docs in a much more clearer way:

https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#severity-levels

Current dotnet docs:

| Severity | Build-time behavior |
|-|-|
| `error` | Violations appear as build *errors* and cause builds to fail.|
| `warning` | Violations appear as build *warnings*

[2020-09-03 09:58] bnewcomb commented on #20295
@Haukinger

The benefit of the **using declaration** is that you don't need to worry about nested scope and variable lifetime, but you still benefit from not needing to explicitly call Dispose() before you return from your method.

The examples are demonstrating how your choice between a **using statement** and a **using declaration** would depend on how soon you'd like to Dispose the object; befo

[2020-09-03 11:45] matkoch opened #20434 "Retries count in MSBuild Copy tasks"
https://docs.microsoft.com/en-us/visualstudio/msbuild/copy-task?view=vs-2019

<img width="590" alt="image" src="https://user-images.githubusercontent.com/5005566/92110761-7ee11880-edeb-11ea-92b3-2d24e788ae62.png">

[2020-09-03 11:52] Youssef1313 commented on #20434
@matkoch This article doesn't seem to belong to this repository. You can use [this link](https://github.com/MicrosoftDocs/visualstudio-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*%0A%0A*%20ID%

[2020-09-03 12:31] Youssef1313 commented on #20420
The heading "Creating Strings Using a Class Constructor" needs to be updated as well. It doesn't mention the constructor that takes a Span.

[2020-09-03 13:06] #14599 closed

[2020-09-03 13:46] automateyournetwork opened #20437 "Missing Libunwind"
**Issue description**

Trying to build TFS 2018 Agent on RHEL 8

Run ./config.sh
libunwind.so.8 => not found
libunwind-x86_64.so.8 => not found
Dependencies is missing for Dotnet Core 2.0
Execute ./bin/installdependencies.sh to install any missing Dotnet Core 2.0 dependencies.

Run installdependencies.sh

No match for argument: libunwind

Error: Unable to find a match: libunwind
'yum' failed with

[2020-09-03 13:54] bnewcomb commented on #20295
More like "I want this to be disposed once all the operations that follow the declaration have completed and it is no longer needed"

In the example, that is once this method finishes and control returns to the method that called it.

We need a good metaphor. The Super Bowl Party.

You can bring a plate and leave with whatever it can carry.

Using Declaration - You can have as much food as you wan

[2020-09-03 14:39] BillWagner commented on #20295
Thanks for all the discussion and the PR to fix the original issue.

I explain the difference between the **using declaration** and the **using statement** like this:

- In most cases, you'll close the `using` statement at the end of the enclosing block. In all those cases, the `using` declaration saves a couple brackets and parens. (It is that simple). It's most useful when a method reads from on

[2020-09-03 14:39] #20295 closed

[2020-09-03 16:01] #19807 closed

[2020-09-03 16:02] #19808 closed

[2020-09-03 16:02] #19809 closed

[2020-09-03 16:07] BillWagner commented on #20414
Thanks for writing this @Youssef1313

Are you saying this page should provide information about how to set variables in the csproj file? If so, I agree.

[2020-09-03 16:15] BillWagner commented on #20403
Thanks @vamuzumd  for pointing this out. I've added it to our backlog for when we next update this article.

[2020-09-03 16:16] adegeo commented on #20420
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-09-03 16:21] BillWagner commented on #20346
Question for @pkulikov

Do you think we need to make any changes, or should we close this?

[2020-09-03 16:21] #19533 closed

[2020-09-03 16:26] Youssef1313 commented on #20346
Given that the doc matches the spec, I think close. If this diverged from the spec, it will probably be more confusing.

I can't think of any improvement that won't diverge from the spec, but will wait if @pkulikov has ideas.

[2020-09-03 16:38] jskeet commented on #20432
My pleasure - you can rely on me for pedantry whenever I spot something ;)

[2020-09-03 18:10] jkoritzinsky opened #20439 "[Breaking change] Casting an RCW to an interface marked with `ComInterfaceType.InterfaceIsIInspectable` throws a PlatformNotSupportedException"
## Casting an RCW to an interface marked with `ComInterfaceType.InterfaceIsIInspectable` throws a PlatformNotSupportedException

As a follow up to the WinRT removal, casting an RCW to an interface marked as `ComInterfaceType.InterfaceIsIInspectable` now throws an exception at cast time instead of successfully casting and possibly causing access violations when executing methods on the interface.

[2020-09-03 19:26] gewarren commented on #20434
This issue was moved to MicrosoftDocs/visualstudio-docs#5815

[2020-09-03 19:26] #20434 closed

[2020-09-03 19:39] #19979 closed

[2020-09-03 20:02] shivanand870 opened #20443 "Issue Fit method when i am training the images datasets"
When i run project it stops on Fit method  i am attaching project file , Images which one i am using for testing and screenshot of  #execution

[TestMLNETImages.zip](https://github.com/dotnet/machinelearning/files/5158560/TestMLNETImages.zip)
![ImageIssue](https://user-images.githubusercontent.com/49320278/91901259-991cd880-ecbd-11ea-89f0-d13f94d6eb73.PNG)

i am not able attach packages folder
![p

[2020-09-03 20:24] gewarren opened #26510 "HttpClient - items to improve"
- [ ] Add cross-link to https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests
- [ ] Add examples of using Polly and [Polly.Extensions.Http](https://www.nuget.org/packages/Polly.Extensions.Http/) nuget PackageReference to a project. These are "opinionated" libraries to assist in transie

[2020-09-03 20:29] gewarren commented on #13253
Related to #11759.

[2020-09-03 20:30] gewarren commented on #13658
Related to #11759.

[2020-09-04 01:26] paul1956 opened #20450 "Needs updating and breaking changes for Core 5.0"
Name have changed for .Net 5.0 and information is not included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49205137-dcec-a120-e5e7-1b9c79cdafbb
* Version Independent ID: 4352856b-5ccf-8e62-48b4-3151340cac56
* Content: [Target frameworks in SDK-style projects - .NET](https://docs.microsoft.com/en-us/dotnet/standard/

[2020-09-04 02:15] gewarren commented on #20450
Dupe of #20297.

[2020-09-04 02:15] #20450 closed

[2020-09-04 06:37] Haukinger commented on #20295
@BillWagner double savings only, if the using statements cannot immediately follow each other, right?

    using( var readingStream = new ...)
    using( var writingStream = new ...)
    {
        // ...
    }

and

    using( var readingStream = new ...)
    {
        // ...read something...
        using( var writingStream = new ...)
        {
            // ...
        }
    }

[2020-09-04 06:51] kiranprabhu opened #20457 "incorrect link"
[Enter feedback here]

Following tags links to same page pointing to gcConcurrent page
  gcAllowVeryLargeObjects
  gcConcurrent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a8c232f-2a6f-afea-2a7e-c1518610ebdc
* Version Independent ID: 84e48963-a617-5503-f08a-01a5ad2c644c
* Content: [Runtime Settings Schema](https://

[2020-09-04 08:14] pkulikov commented on #20346
@BillWagner @Youssef1313 I see only the minor possible improvement. In the following sentence

explicitly mention argument type: "its integral operands". What do you think? If agree, I'll submit PR.

[2020-09-04 13:54] BillWagner commented on #20346
@pkulikov

I like it.

[2020-09-04 14:05] florenzen opened #20459 "Security update KB2533623 no longer available"
The security update KB2533623 is no longer available for download from Microsoft. Does that mean a .NET Core Installation on Windows 7 is not possible anymore?

I know, Windows 7 is out of support but there is also Windows Embedded Standard which is based in that version and which still has support in industrial applications.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-04 14:16] BillWagner commented on #20083
@vwheeler63 Thanks for writing all this up.

It might be best to post these questions on a Q & A forum site such as [stack overflow](https://stackoverflow.com).

We will add more advanced content as we update these areas, but the focus of docs is not answer questions.

[2020-09-04 14:19] #20457 closed

[2020-09-04 16:20] #13149 closed

[2020-09-04 17:48] hiMinju commented on #20384
I think so too.
I'll make a PR for this issue.

[2020-09-04 18:06] #20433 closed

[2020-09-04 21:14] #19969 closed

[2020-09-04 22:49] #20384 closed

[2020-09-04 22:58] adegeo commented on #20459
I'll ask around 😢

[2020-09-05 11:56] Youssef1313 commented on #20206
@BillWagner This was fixed in the PR that added "What's new in C# 9", but only small thing needs to be clarified.

For C# 8, it was clearly stated why it's only supported in .NET Core 3.x:

then it gives a list of the features that require new runtime capabilities.

Can you update the article the same way for C# 9?

It currently just says:

without clear explanation of "why", and what features req

[2020-09-05 12:09] techjaymindave opened #20472 "Error - Code doesn't work"
[Enter feedback here]

Hi,

I am watching video and following copy paste of this page, but due to some reason visual studio is just displaying Hello World, and not displaying that is expected as per Video.

Below error Appears on the Error list.

![image](https://user-images.githubusercontent.com/40140198/92304758-28a5de00-ef81-11ea-9c3f-4b58030035d7.png)

Below is for your reference : This is Ban

[2020-09-05 13:04] LiviuSosu opened #20473 "The statement "Fortunately, AspNetCore.Diagnostics.HealthChecks also provides AspNetCore.HealthChecks.UI" is flase, in my opinion"
Hi,

I will attach screenshots  so that you will see  that this package "AspNetCore.Diagnostics.HealthChecks" does not contain " AspNetCore.HealthChecks.UI".

![HealthChecks_missing_aspNetCote Health3](https://user-images.githubusercontent.com/11800340/92305376-6f023980-ef8f-11ea-8790-672ca07db3e9.PNG)
![HeathChecks_missing_AspNetCore HealthChecks UI](https://user-images.githubusercontent.com/1180

[2020-09-05 13:07] rskar-git opened #20474 "Misleading details about Structure and With statement"
[Enter feedback here]
Per article: "When using a structure, you can only read the values of members or invoke methods, and you get an error if you try to assign values to members of a structure used in a With...End With statement."

That is not entirely true. For example, members of a structure used in a With...End With statement most certainly can be assigned:

    Structure Xyz
        Dim x As

[2020-09-05 13:33] techjaymindave commented on #20472
Hi, I recreated this and it worked.

The name of the project was not as same as video.

I created Project name as "BankAccount" instead of "MySuperBank"

And this time it worked.

Closing this.

[2020-09-05 13:33] #20472 closed

[2020-09-05 13:56] RembrandtK opened #20475 "Dockerfile is incomplete."
The Dockerfile provided appears to be incomplete; it does not copy any files into the image to be run and therefore when the image is run it fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version Independent ID: 58d57b81-4ca6-6536-8788-f212402b41a7
* Content: [Containerize

[2020-09-05 14:21] RembrandtK commented on #20475
Re-reading it the copy command is there, my apologies, not sure how I missed it!

[2020-09-05 14:21] #20475 closed

[2020-09-07 01:01] adegeo commented on #20459
Download is gone again.. Or I was mistaken when I thought it was restored. Reopening.

[2020-09-07 06:45] sughosneo commented on #20473
Hello @LiviuSosu, Thank you for reaching out.

Yes, you will need to install `AspNetCore.HealthChecks.UI` nuget package separately to leverage the `HealthChecks UI` component in your application as it has been mentioned in the section [Use watchdogs](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/monitor-app-health#use-watchdogs)

Please note, a

[2020-09-07 07:52] sughosneo commented on #17552
Hello @napalm684, Yes that's clear now. Thank you for your feedback.

Most of the docker files in reference application `eShopOnContainers` only exposes port 80 than 443 because of the following reasons.

1) All of these are internal communication and will stay behind the API gateway within a secure network/subnet.
2) And also to avoid self-signed certificate complexity for the beginners.

Yes, fo

[2020-09-07 09:13] mpostol opened #20483 "Wrong clerification of the terms statement and expression"
`T result = await SomeTaskMethodAsync<T>();` looks like statement but not expression.
`await SomeTaskMethodAsync()`` is rather an expression.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d055727b-c97c-4d25-39b8-a4d3f21d0444
* Version Independent ID: c8a7c6f1-8ee1-5030-db12-3db65a968501
* Content: [Async return types

[2020-09-07 09:30] mpostol opened #20484 "Thread behawior for Result property"
`The Result property is a blocking property. If you try to access it before its task is finished, the thread that's currently active is blocked until the task completes and the value is available.`

 My concern is that `await` and `async` doesn't produce additional threads. So the Task producing Result may be executed on the same thread as the caller. Blocking the thread that calculates the result

[2020-09-07 13:40] svick commented on #20484
I think "may" is the important word here: under the default synchronization context, a `Task` can be executed on any `ThreadPool` thread.

Yes. If you can, you should use `await task`, not `task.Result`.

If you have a `Task` that needs to execute on a specific thread (usually because of a custom synchronization context, such as in a WinForms or WPF app), then this can lead to a [deadlock](https:/

[2020-09-07 15:25] harpalsingh1993 opened #20485 "The visual diagrams not relate to actual timeline"
I am not able to relate the 2nd visual diagram's timeline and its program. I am in confusion why the toast task has so much empty space in diagram(in program it has to complete 1/2 of time than egg or bacon).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e

[2020-09-07 17:47] AdmiralSnyder opened #20487 "WPF documentation is not available anymore (sub https://docs.microsoft.com/en-us/dotnet/framework/wpf )"
**Issue description**
When using bing to get to the documentation for wpf with `wpf docs microsoft` as keywords, a nice summary with a couple of links is provided.
all those lead to sub-pages of https://docs.microsoft.com/en-us/dotnet/framework/wpf
but that page isn't found anymore.

this leads to people thinking wpf being (less /un)supported, which is not great.

I wasn't sure whether to create t

[2020-09-07 20:07] umbarov opened #20488 "Typo on `new()`?"
Text from the page:

Another nice use for this feature is to combine it with init only properties to initialize a new object. The parentheses on new are optional:
[code]

If we remove parentheses from `new()`, it will be an anonymous type? Not object of `WeatherStation`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2020-09-07 20:43] mpostol commented on #20484
@svick thanks for the answer. Because I am working with students and my goal is to expand the [examples](https://github.com/mpostol/TP) I am using during my classes. Therefore,  let me continue this interesting discussion.

As I said `await and `async` doesn't produce additional threads. ` - is it true? It is for sure.

In this case, we must consider the scenario that everything happens on one sin

[2020-09-07 21:50] svick commented on #20484
I wouldn't phrase it that way. There are certain patterns where just using `async`-`await`, you cause new threads to be added to the thread pool. But it's true that in general, calling an `async` method does not start a new thread.

That's not how it works. A task that's not currently executing doesn't have a thread assigned. And with the default synchronization context, any task can execute on an

[2020-09-08 03:15] KhaledSamir opened #20492 "The range operator time complexity"
I want to ask you about the range operator ... It's not clear on the page either this runs as O(1) time complexity or O(N) or more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdddc9e-3060-4a72-95fa-93f8a4b6b741
* Version Independent ID: a70329e0-1d30-2e54-e8b8-22f9733bd09f
* Content: [Ranges and indices - C# 8.0 s

[2020-09-08 06:31] svick commented on #20492
The range operator itself is O(1), but I don't think that's what you're actually asking about.

When you index using it, it depends on the type you're indexing. For example, if it's a `string` or an array, then the result is a copy of the specified section of the input, so the time complexity is O(N) (where N is the length of the range). On the other hand, if it's a `Span<T>` or a `Memory<T>`, the

[2020-09-08 09:58] MornyDK opened #20493 "How to implement role-based security in a WPF application"
The start of [this](https://docs.microsoft.com/en-us/dotnet/standard/security/role-based-security) article states: "Roles are often used in financial or business applications to enforce policy".
I'm developing exactly this type of application, but are unable to find samlps that shows how to implement role or policy based security in a WPF application on .Net Core.
On .Net Framework CAS (Code Acces

[2020-09-08 13:39] TysonMN opened #20495 "Type abbreviations are not actually abbreviations"
I just learned that this feature is called "type abbreviation".  I always assumed it was called "type alias".  I am sure the ship on this name has sailed, but since I couldn't find discussion about naming choice, I decided to create this issue anyway.

All the [definitions given by Merriam-Webster for `abbreviation`](https://www.merriam-webster.com/dictionary/abbreviation) include the concept of b

[2020-09-08 13:40] IEvangelist commented on #20493
Hey @OliaG - do you know of any example WPF apps that we could incorporate into docs that include role-based security?

[2020-09-08 13:49] #20346 closed

[2020-09-08 14:02] IEvangelist opened #20496 "Link to C# 9 doc and add missing "core" naming details"
Add missing "Core" naming details, and link to C# 9 what's new doc.

[2020-09-08 14:12] BillWagner commented on #20492
Thanks for asking this @KhaledSamir

@svick 's comments above are correct. The time complexity depends on the underlying type.

I'll propose that we update not the spec, but the [language reference range page](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/operators/member-access-operators.md#range-operator-) with that information.

[2020-09-08 14:35] BillWagner commented on #20488
@umbarov

The article is correct. Because the variable is explicitly typed on the left side of the assignment, the variable *is* a type of `WeatherStation`. You can try it yourself by adding the following:

[code]

I'll close this as an answered question.

[2020-09-08 14:47] BillWagner commented on #20483
Thanks for writing this @mpostol This could be explained better.

The point is that `await` can be either an expression or a statement, depending on its operand. When the operand is a `Task`, `await` is parsed as a statement: there is no result.  When the operand is a `Task<T>`, `await` is parsed as an expression, and it's result is of type `T`.

I've added this to our backlog to update.

[2020-09-08 15:01] IEvangelist commented on #20485
Hi @harpalsingh1993 - that is a good observation. I can see how that is confusing, I will update this image. Thank you.

[2020-09-08 15:12] pkulikov commented on #20492
@BillWagner I'm not sure that information fits the reference. The reference itself links the following page for more information about indices and ranges:
https://github.com/dotnet/docs/blob/master/docs/csharp/tutorials/ranges-indexes.md

That linked page discusses type context with more details. I think the information about complexity might fit that page better. What do you think?

[2020-09-08 15:16] pkulikov commented on #20483
@BillWagner I think @mpostol refers to *declaration * statement `T result =...`. I think any expression may be at right

[2020-09-08 16:09] #20496 closed

[2020-09-08 17:55] svick commented on #20488
@BillWagner The code is correct, but the text isn't and should be changed. "The parentheses on `new` are optional" seems to imply that the following code would be also correct, but that's not true:

[code]

If that sentence is trying to say something else, then I have no idea what, and it should be rephrased.

[2020-09-08 17:59] BillWagner commented on #20488
Thanks for correcting me @svick

I had misread the issue. Reopening and self-assigning.

[2020-09-08 18:15] umbarov commented on #20488
The code will not compile if we remove the parentheses.
![image](https://user-images.githubusercontent.com/28846397/92512710-7c2d5b80-f20f-11ea-9a35-9725d0682c85.png)

[2020-09-08 18:25] jeffhandley opened #20501 "Breaking Change: Fix argument name in CompareInfo.IsPrefix (suffix -> prefix)"
## Fix argument name in CompareInfo.IsPrefix (suffix -> prefix)

This `CompareInfo.IsPrefix()` API was added in .NET 5.0 RC1, but there is a mistake in the argument name where `suffix` was used instead of `prefix`.  The implementation is correct, but the reference assembly was wrong. dotnet/runtime#41803 fixed the argument name. This fix will ship with .NET 5.0 RC2.

### Version introduced

.NET 5

[2020-09-08 18:31] dpaoliello opened #20563 "Please add documentation for thread-safety guarantees of JsonDocument (and related types)"
### Description

Looking at the [documentation for `JsonDocument`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument) it is not obvious if it can be safely used by multiple threads or not.

A cursory glance at the code suggests that the parsing is done up-front and, therefore, it is safe - however we tripped over the caching that is done via `_lastIndexAndString` (i.e., if

[2020-09-08 18:36] jeffhandley opened #20502 "Breaking Change: Fix param name in ActivityContext..ctor (traceOptions -> traceFlags)"
## Fix param name in ActivityContext..ctor (traceOptions -> traceFlags)

The `ActivityContext` API was added earlier in .NET 5.0 Preview 4, but there was a mistake in the constructor's argument name where `traceOptions` was used instead of `traceFlags`.  The implementation is correct but the reference assembly was wrong. dotnet/runtime#41843 fixed the argument name and this fix will ship with .NET

[2020-09-08 18:37] IEvangelist commented on #20487
Tagging @adegeo

[2020-09-08 19:53] adegeo commented on #20487
This was fixed yesterday. Sorry for the confusion.

[2020-09-08 19:54] #20487 closed

[2020-09-08 20:00] sharwell commented on #20344
This was accidentally closed. We documented a bunch of `SyntaxKinds` but haven't reached the particular member mentioned here.

[2020-09-08 20:01] adegeo commented on #20493
I don't know of any. There are some solutions suggested on stack overflow: https://stackoverflow.com/search?q=role-based+security+WPF

You can also browse the WPF samples repository: https://github.com/Microsoft/WPF-Samples but I checked here and didn't see anything.

I think you'll have to either come up with your own solution or find a tutorial such as https://social.technet.microsoft.com/wiki/c

[2020-09-08 20:10] IEvangelist commented on #20493
Hi @adegeo - I messaged her on Teams already. She too didn't know of any. I did find this https://docs.microsoft.com/en-us/dotnet/desktop/wpf/security-wpf?view=netframeworkdesktop-4.8. I also found a few things of SO too, might borrow some of the concepts there but it seems it is as straight forward as walking up to the `Thread.CurrentPrincipal` and asking it if the user is in a role (based on [th

[2020-09-08 20:36] #20488 closed

[2020-09-08 20:54] mpostol commented on #20483
To make sure the C# Language Specification must be revisited and referred to.  Sec. 1.4 and 1.5 provides a detailed description. Anyway if we have x=<something> we have an assignment statement.  The mentioned section numbers could change because I have noticed my specification is very old and cannot find a new one right now.

[2020-09-08 21:16] 71873241 opened #20505 "@71873241"

[2020-09-08 22:02] #20505 closed

[2020-09-08 22:18] #19625 closed

[2020-09-08 22:51] #19806 closed

[2020-09-08 23:48] #20297 closed

[2020-09-09 00:00] gewarren commented on #20502
I'm not sure we need to document breaking changes from earlier preview versions. @PriyaPurkayastha ?

[2020-09-09 00:03] jeffhandley commented on #20502
I thought we needed to document these since RC1 is Go-Live and these changes land in RC2.

[2020-09-09 00:09] jeffhandley commented on #20502
I updated the description to call out that the fix goes in with RC2.

[2020-09-09 00:09] PriyaPurkayastha commented on #20502
Yes, any change in behavior from Go-Live release should be documented. In this case, breaking change is being introduced in .NET 5 RC2. So Version introduced should mention .NET 5 RC2 (not the version in which the API was introduced).

[2020-09-09 00:14] jeffhandley commented on #20502
Thanks, @PriyaPurkayastha; I'll update that.

[2020-09-09 00:15] jeffhandley commented on #20501
Updated the description to reflect that the breaking change was introduced in 5.0 RC2.

[2020-09-09 00:16] gewarren opened #20508 "Update project SDKs for .NET 5"
For example, WPF projects now target:

[code]

...instead of Microsoft.NET.Sdk.WindowsDesktop.

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa484235-d872-f50e-96fc-aa5b4a2a42fa
* Version Independent ID: 871c22e0-65a2-f3a4-41b9-f050489dba7a
* Content: [.NET Core project SDK overview](https://docs.microsoft.com/en-us/

[2020-09-09 01:29] dsplaisted commented on #20370
I believe that the breaking change was reverted in NuGet, so as of RC1 (I think) the old package should still work.  So probably we don't need to doc this for RTM.

Is this correct @nkolev92 @nohwnd?

[2020-09-09 01:33] dsplaisted commented on #20371
@marcpopMSFT I've updated the issue description with my suggestions

[2020-09-09 01:54] dsplaisted commented on #20372
@marcpopMSFT I've updated the issue description with my suggestions

[2020-09-09 01:58] dsplaisted commented on #20373
@marcpopMSFT I've updated the description with my suggestions, most importantly by fixing a typo from `not` to `now`.

[2020-09-09 02:20] mairaw commented on #12237
What would be the appropriate terminology for that @richlander?

Should I point to https://github.com/dotnet/designs/blob/master/accepted/2019/runtime-binding.md from the support policy page while these changes are not done?

[2020-09-09 02:31] nkolev92 commented on #20370
@zivkan reverted it the change.

Did we ever figure out how the test runner got that short folder value?
How are the new NuGet bits ingested?

[2020-09-09 04:52] FeliciaXmL opened #20512 "Alpine Linux"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5e950a9-28c4-91f3-919b-d12f4e029fca
* Version Independent ID: f066a748-0a7d-7506-3b18-c422fef13293
* Content: [Install .NET Core on Alpine - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/install/linux-alpine#scripted-install)
* Content Sour

[2020-09-09 06:22] nohwnd commented on #20370
@nkolev92 it was via TestPlatform, I fixed test platform to be able to work with the short value, and it got passed along to the adapter.

I can confirm it works with the old adapter. Details of the affected builds are here in 1. and 2. https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-known-issues.md#preview-8-1

[2020-09-09 06:25] adegeo commented on #20459
Seems to be there again.... hrm

[2020-09-09 08:25] KhaledSamir commented on #20492
@svick I see, thanks for explaining this to me. I'm really happy that C# now has this feature cause it was one of the best things I see in Python.

@BillWagner Thanks, Bill!

[2020-09-09 10:32] elninoisback opened #20534 "Last code sample is incorrect"
Please check the last code sample given here. It should contain an explicitly declared variable. It seems like a classic copy-paste error.

string numberAsString = "1640";
// Missing the following line
// int number;
if (Int32.TryParse(numberAsString, out var number))
    Console.WriteLine($"Converted '{numberAsString}' to {number}");
else
    Console.WriteLine($"Unable to convert '{numberAsString

[2020-09-09 11:58] florenzen commented on #20459
I am not able to download the msu file. When I click on the link for the Windows6.1-KB2533623-x86.msu (pointing to http://www.microsoft.com/download/details.aspx?familyid=c79c41b0-fbfb-4d61-b5d8-cadbe184b9fc) file on https://support.microsoft.com/en-us/help/2533623/microsoft-security-advisory-insecure-library-loading-could-allow-remot I the page I get "We're sorry, this download is no longer avail

[2020-09-09 14:29] BillWagner commented on #20534
Thanks for asking the question @elninoisback

The comment by @JohyPark is correct. Starting with C# 7, the declaration can be inline where the variable is used.

I'll close this.

[2020-09-09 14:29] #20534 closed

[2020-09-09 15:29] adegeo commented on #20459
Ahhh the link inside of the link! Thank you for the clarification.

To note for .NET 5, I doubt it will be officially supported on Win 7, and wouldn't be documented as such here. Core 3.1 was released while Win 7 was in extended support, but that ended in January. Considering .NET 5 is yet to be released, I don't think they would guarantee that it works on Win 7.

https://github.com/dotnet/core/tr

[2020-09-09 15:44] gewarren commented on #20370
@marcpopMSFT Can we close this issue?

[2020-09-09 15:51] florenzen commented on #20459
Thanks for the clarification wrt. the Windows 7 support period. There are still Windows Embedded Standard 7 Systems running in e. g. industrial systems that still receive (paid) support, which is the kind of system we are working with. Is there any chance to get a statement from the .NET development wrt. to that kind of Installation? Anyone I could ask?

[2020-09-09 15:55] adegeo commented on #20512
@FeliciaXmL Hello. I'm not sure what issue you're reporting as you didn't add any details where it says `Enter feedback here`. Can you please elaborate?

[2020-09-09 16:00] #18237 closed

[2020-09-09 16:01] adegeo commented on #20459
You could try filing an issue at the source repo for .NET: https://github.com/dotnet/core/issues they would hopefully be able to get you some sort of information. If that doesn't work after some time, hit me up again and I'll see if I can find someone.

[2020-09-09 16:11] #20371 closed

[2020-09-09 17:28] waleedeissa opened #20541 "I noticed that HashSet and SortedSet are not mentioned on the page"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee0b88ff-d651-fd2f-a6e4-acfa1089b1f2
* Version Independent ID: bc5056d9-27ed-f1ce-bc7a-6e61121a578d
* Content: [Collections (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/collections)
* Content Source: [docs/csharp/programming-guide/concepts

[2020-09-09 18:01] gewarren opened #20543 "Replace ".NET Framework" with ".NET" in API summaries"
Applies to dotnet-api-docs repo, but want to track it here with my other work.

[2020-09-09 18:14] #20370 closed

[2020-09-09 19:16] LiviuSosu commented on #20473
Hi @sughosneo ,

Thanks for your answer. I Just gave some feedbac, that I do not find the documentation 100% correct. I thought You may want to correct it.

[2020-09-09 22:26] kouvel commented on #12214
I suspect that it's referring to what guarantees are made. There's some code that would do initialization and then a value produced would be published to be used by consumers thereafter. Sort of like:
- A safety mode of `None` does not guarantee anything (not to be used by multiple threads I figure, since otherwise multiple initializations may occur and multiple values may be published and used by

[2020-09-10 04:43] dsplaisted commented on #20374
@rconard @cristinamanum Can you review this breaking change description, confirm when the automatic import of Directory.Packages.props was introduced, and provide a link to the docs for central package version management?

[2020-09-10 06:56] dsplaisted commented on #20376
@marcpopMSFT I've filled out the issue description

@dougbu @swaroop-sridhar Could you review this?

[2020-09-10 11:39] nishanil commented on #20473
I see that this is already mentioned under the watchdog section: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/monitor-app-health#use-watchdogs. The sample code also shows the extension method to be part of the AspNetCore.HealthChecks.UI package. If you see any particular statement in that page that is misleading, please let us know.

[2020-09-10 12:02] sughosneo commented on #20194
Hello @altwohill , thank you for your feedback.

There is already an active PR #19936 on this topic.
This is the duplicate of https://github.com/dotnet/docs/issues/18738

So closing this issue as of now. If you have any further question, please feel free to reopen it.

[2020-09-10 12:02] #20194 closed

[2020-09-10 13:28] ShaunLoganOracle commented on #4675
Yet another question. With the set up mostly* as in this [post](https://github.com/dotnet/docs/issues/4675#issuecomment-678417220), I used Control Panel > Internet Options > Advanced, and then unchecked the "Use TLS 1.2" item in the Security category (leaving "Use TLS1.1" checked).  When I run my test case with verbose logging, I can see that .NET is offering 16 03 03 (**TLS 1.2**) in the handshak

[2020-09-10 14:22] sizzler-5g commented on #20362
Hi Victor,

Thanks for the feedback.
Indeed, I have missed the two mentions of fields not being supported for serialization and deserialization.
As I'm not a "native" C# speaker I don't yet make the distinction between fields and properties naturally. (this is definitely carved in now)
Maybe a link to https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/fields on th

[2020-09-10 14:36] karelz commented on #4675
@ShaunLoganOracle that setting seems to be just for the integrated internet browser (home page is a huge hint IMO), not for everything in the OS. AFAIK you have to set up registry for Schannel component to change TLS versions enabled/disabled defaults.

[2020-09-10 15:41] Youssef1313 commented on #20541
SortedDictionary and LinkedList are missing as well.

[2020-09-10 16:17] brobbins opened #20557 "Simple Analogy for understanding Docker"
Regarding the page for "What is Docker?", I had to read the analogy section a few times before it started to make some sense.  I think the author might have missed a couple of key ideas, so I wanted to share my take on how to word that section so that it could be more easily understand by others.

Here is my version:

<begin>

Perhaps a simple analogy can help you grasp of the concept of Docker.

[2020-09-10 16:24] Youssef1313 opened #20558 "Interesting case to explain for CS0119"
I believe the example stated in https://github.com/dotnet/roslyn/issues/47589 should be added to the doc page. The doc page will need to be updated again if https://github.com/dotnet/roslyn/issues/47589 is fixed to indicate which version has this fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eec72ac2-345b-8257-97

[2020-09-10 16:38] Youssef1313 opened #20560 "Consider documenting compiler warning waves as breaking change."
Currently, some CA analyzers are being documented as breaking changes.

You may consider documenting new warnings with level 5 as breaking change too for users who use `<WarningLevel>9999</WarningLevel>`

See https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Warnversion%20Warning%20Waves.md for a list of these warnings.

[2020-09-10 16:47] #6309 closed

[2020-09-10 17:05] #19674 closed

[2020-09-10 17:05] #20354 closed

[2020-09-10 17:18] dougbu commented on #20376
@dsplaisted this looks good to me. Nits only:
1.
[code]
2.
[code]
3. If the terms "output directory" and "intermediate directory" might be misinterpreted, could be worth mentioning `$(OutputPath)` and `$(IntermediateOutputPath)` where they're interoduced.

[2020-09-10 17:55] tdykstra opened #20562 "Explain "portable" in RID catalog doc"
See https://github.com/dotnet/core/issues/3554

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime Identifier (RID) catalog](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog)
* Content So

[2020-09-10 18:01] layomia commented on #20563
FYI @tdykstra - hope to address this in the .NET 5 doc wave for JSON.

[2020-09-10 18:40] gewarren commented on #20143
Related to #20283.

[2020-09-10 19:11] gewarren commented on #20143
I actually think this issue is a subset of https://github.com/dotnet/docs/issues/20283, the breaking change for the CA1416 (platform compatibility analyzer). Can I close it in favor of that?

[2020-09-10 19:40] #20473 closed

[2020-09-10 20:46] ShaunLoganOracle commented on #4675
Thanks @karelz !
For any others that encounter this thread, I disabled TLS 1.2 (for Client) using the registry setting from [this page](https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings#tls-12).  Ran my test and I can see that **TLS 1.1** is offered in the handshake: 16 03 02

[2020-09-10 21:07] BillWagner commented on #20484
I've caught up to the discussion. It seems that @svick has addressed all the question raised by @mpostol

I believe this can be closed without further action in docs.

Reopen with a comment why if you disagree.

[2020-09-10 21:07] #20484 closed

[2020-09-10 21:14] BillWagner commented on #20541
I'll keep this open. However, the fix is not for the C# guide to exhaustively list all the types in sections of the .NET libraries.

Rather, these pages should be updated to provide an overview, but send readers to the library documentation for more details.

[2020-09-10 21:16] BillWagner commented on #20558
@Youssef1313 The example in dotnet/roslyn#47589 is a better example for this error. We should update the page with that code.

Thanks for pointing it out.

[2020-09-10 21:41] #9547 closed

[2020-09-10 21:41] #14511 closed

[2020-09-10 21:41] #14867 closed

[2020-09-10 21:41] #16299 closed

[2020-09-11 03:18] Amy-Li03 opened #20569 "Please add documentation that all four of the Accessibility switches are required"
In documentation https://docs.microsoft.com/en-us/dotnet/framework/whats-new/whats-new-in-accessibility#accessibility-switches, please make sure the following 2 points was mentioned.
1. The description for Switch.UseLegacyAccessibilityFeatures.4.
2. All four of the following switches are required, the only way we could make the switches work is if we made them build upon each other, so setting lev

[2020-09-11 03:32] daveyostcom opened #20570 "Typo"
Property initializers provide make it clear which value is setting which property

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's new in C# 9.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp

[2020-09-11 07:33] pajama opened #20572 "Add instructions for installing to VS for Mac"
VS for Mac installer does not have a modify option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4bd716a-906d-983b-141c-4a4e2e2a79ec
* Version Independent ID: debed50c-98ce-ec0e-bcf6-0170a4e60fcc
* Content: [The .NET Compiler Platform SDK (Roslyn APIs)](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/)
* C

[2020-09-11 08:02] mpostol commented on #20484
Thanks, you can consider it as answered. I believe that further improvement of the description should be addressed by separate publications. My point is that simplicity was not born by simplification. I prefer abstraction to hide details but don't forgot about them at the same time. I still believe that the topic needs a systematic approach to describe all aspects of the asynchronous versus synchr

[2020-09-11 09:11] zhiweiv opened #20573 "Permission for dotnet-dump in Docker"
In kubernetes, I didn't add privileged permission to pod, I can still dump and analyze by dotnet-dump in linux pod, is this part outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a269a64-0a27-27d3-a509-47b9a0d114bf
* Version Independent ID: 49ff97ff-b39a-5ae8-e4b8-81a4f8eab50c
* Content: [dotnet-dump - .NET Cor

[2020-09-11 11:41] steveisok commented on #20143
@gewarren I do agree the issue is a subset and we can probably close this one.

[2020-09-11 12:57] #20485 closed

[2020-09-11 14:32] BillWagner commented on #20570
Thanks @daveyostcom I just opened #20575 to fix this.

When you find these, it might save both of us time to submit the PR yourself. You can click the edit button (it looks like a pencil) to edit the content in your browser.

[2020-09-11 14:38] BillWagner commented on #20570
Fixed in #20564

[2020-09-11 14:38] #20570 closed

[2020-09-11 15:27] gewarren commented on #20143
@steveisok Actually I just reread it and now I think it is a separate breaking change. I thought this was just about adding the `UnsupportedOSPlatformAttribute` to these APIs, but now I see that the PNSE exceptions are new too. So I think this is separate. Even if you have code analysis or the platform compatibility analyzer suppressed, there is still a breaking change in that now you get a PNSE.

[2020-09-11 15:33] steveisok commented on #20143
Correct.  I was assuming that would be spelled out in your issue, but I guess that doesn't make any sense.

[2020-09-11 15:50] BillWagner opened #20577 "Language reference: Miscellaneous"
There are other small changes needed for the language reference:

- `override` should include the new rules for covariant return types.
- `foreach` `in` should add that `GetEnumerator` could be an extension method.
- The article on discards should mention that lambda expressions can use discards as arguments.
- The article on local function definitions should add that attribute can be applied to l

[2020-09-11 15:50] BillWagner opened #20578 "Language reference: Partial methods"
The language reference for `partial` needs to describe the new rules, and describe how the compiler determine a "new" or "old" partial method type because the new style must have an implementation.

[2020-09-11 15:50] BillWagner opened #20579 "Language reference: attributes"
- The `ModuleInitializerAttribute` must be added to the section on attributes understood by the compiler.
- The `SkipLocalsInitAttribute` must be added to the section on the attributes understood by the compiler.  Note that this attribute is not being added to the standard.

[2020-09-11 15:50] BillWagner opened #20580 "Language reference: target typed new"
- Update `new` page for target typed new.
- Update `var` page to describe target type `new` as an alternative.

[2020-09-11 15:51] BillWagner opened #20581 "Language reference : function pointer"
- The `delegate` page should include `delegate*`.
- The Programming Guide section on unsafe code should add a discussion of  *function pointers* in the article on pointer types.
- If time, the unsafe code section should move from the programming guide to the language reference.

[2020-09-11 15:51] BillWagner opened #20582 "Language reference: nint, nuint"
The builtin types page should add `nint` and nuint`

[2020-09-11 15:51] BillWagner opened #20583 "Language reference: init only setters"
- the contextual keywords section needs a new page for `init` setters. The `get` and `set` pages should link to the new page.
- ~~The `struct` page should mention that `init` setters cannot be used in `readonly` structs.~~ This rule was changed after this issue was created; see https://github.com/dotnet/csharplang/issues/3884

[2020-09-11 15:51] BillWagner opened #20584 "Language reference: Patterns"
As of C# 9, the pattern expressions are robust enough to justify their own page in "expressions and operators". This should cover:

- type pattern
- constant pattern
- null pattern as a useful special case of the constant pattern
- range patterns (`<`, `>`, `<=`, `>=`)
- property pattern (`when` patterns)
- `and`, `or`, and `not` pattern

In addition, the `switch` and `is` pages should link to thi

[2020-09-11 15:51] BillWagner opened #20585 "Language Reference: Record types"
There are a few tasks here:

- [x] Update the "class & structs" article to include a short introductory section on `record` types.
- [x] Add `with` to keywords
- [x] Add an article that describes `with`-ers.
- [x] Add a new language reference article for `records`. This should include information on the compiler generated members, and how to override them. In addition, it should explain inheritanc

[2020-09-11 15:57] BillWagner opened #20586 "Language reference: Top level statements"
The page for `Main` should include the new valid entry points for a C# program. This should include the restrictions on top-level statements and multiple files. This should also include how the synthesized `Main` method responds to the presence of `await` expressions in top-level statements. It should also include how to access `args` and return an `int` value.

[2020-09-11 17:13] sdmaclea commented on #20573
/cc @dotnet/dotnet-diag

When we wrote this we weren't aware that this would work.  So yes it is outdated.

The `SYS_PTRACE` capability is only required to use `createdump` from a separate process.  dotnet-dump ask the process to dump itself so the capability is not needed.

[2020-09-11 17:34] BillWagner opened #20589 "Tutorials: performance"
In the tutorial on ref and other perf techniques, include a discussion of `nint` and `nuint` types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-ab2a-4e14-0b99265969a5
* Version Independent ID: 183efcbd-a781-d303-f9cd-1c22da1676de
* Content: [Write safe and efficient C# code](https://docs.microsoft.com/

[2020-09-11 17:34] BillWagner opened #20590 "Tutorial: immutable types"
- The additional of `init` only setters update guidance on building immutable types (both reference and value types). Update any tutorials and how tos to include `init` setters.
- Add an "exploration" into immutable types in C# 9.

[2020-09-11 17:35] BillWagner opened #20591 "Tutorial: Records"
- Add a tutorial for a records hierarchy to the "explore new features" section.
- Update tutorials on deciding between classes and structs to include when to consider.

[2020-09-11 17:35] BillWagner opened #20592 "How to: Patterns"
- Add "How to" article showing how to use pattern matching for alpha-numeric characters, numbers only, and other combinations of patterns.
- Update "how to" article on `null` checks to include `e is not null` pattern.

[2020-09-11 17:35] BillWagner opened #20593 "Tutorials: Top level statements"
- The Tour of C# "hello world" example should show both formats, starting with the top level statements version.
- Provide an "explore new features" tutorial showing how to use top level statements for Azure functions.

[2020-09-11 17:35] BillWagner opened #20594 "Tutorials: Pattern enhancements"
- Add a new "explore new features" tutorial on uses for patterns.
- Update main tutorial with range patterns and null tests

[2020-09-11 18:35] adegeo commented on #19786
If no output folder is specified it uses the current directory. There must have been other files in the current directory of the terminal you had open at the time. I'll close this issue. Cheers!

[2020-09-11 18:35] #19786 closed

[2020-09-11 18:53] adegeo commented on #19790
AFAIK it can't be without some fun trickery: https://www.meziantou.net/declaring-internalsvisibleto-in-the-csproj.htm

Are you saying it should be mentioned or noted? 😄

[2020-09-11 19:02] Youssef1313 commented on #19790
@adegeo I'm not sure what's the difference between it being mentioned or noted. But basically anything that at least shows its existence :smile:

A more neat example than unit testing would be:

Some company have "Team X" and "Team Y". "Team X" produces a library that's publicity available. But "Team Y" needs to make use of some specific internal APIs which shouldn't be public. This scenario is so

[2020-09-11 22:26] Youssef1313 opened #20601 "Records intro in what's new page can cause confusion/misunderstanding"
Records in general doesn't seem to ensure immutability in any way. This is very specific to positional records only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's new in C# 9.0 - C# Guide](https://doc

[2020-09-11 23:18] gewarren commented on #20283
The remaining work is to list the APIs individually.

[2020-09-11 23:52] adegeo commented on #19923
Duplicate of #19564

[2020-09-11 23:52] #19923 closed

[2020-09-12 00:53] #20246 closed

[2020-09-12 06:57] #18738 closed

[2020-09-12 10:54] mulawam opened #20612 "Cryptographic key import section could provide the details of how to read RSA PCKS1 key"
It would be good to just provide simple example how to transform PCKS1 certificate content to actually import it.

Generate key using openssl utility
`openssl genrsa -f4 -out private.txt 4096`

`var keyPath = ".\private.txt";
string keyBytesAsText = System.IO.File.ReadAllText(keyPath);
string keyBytesWithoutPEM = keyBytesAsText
                .Replace("-----BEGIN RSA PRIVATE KEY-----", "")

[2020-09-12 15:08] weltkante opened #20613 "Windows 7 support status unclear"
[This page](https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=netcore31#dependencies) says minimum client version for .NET Core 3 is Windows 8.1, yet the [page](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md) linked a few lines below says Windows 7 SP 1 is still supported.

This contradicts each other, please check and update the support status of

[2020-09-12 19:20] aszalacinski opened #20614 "Intro to F# on Binder link is bad"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ea0ea44-1b46-78cc-77b7-b5345a8b05ca
* Version Independent ID: ad1f303b-793c-6357-4ec0-1822468ca370
* Content: [Get started with F#](https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/)
* Content Source: [docs/fsharp/get-started/index.md](http

[2020-09-12 21:16] StingyJack commented on #6218
@Rick-Anderson  yeah but someone who is skilled with VS and familiar with unit testing cant actually follow these instructions and get a working result. at least not without monkeying and web searching a bit. For example I would never think to choose a console application as the project type, but Nunit seems to need that.  The doc page even says

Then again I wouldnt bother typing most of the stuf

[2020-09-12 22:30] cartermp commented on #20614
Thanks, will fix

[2020-09-13 18:17] pkulikov commented on #20580
@BillWagner I'd be glad to update both articles.

[2020-09-13 18:26] pkulikov commented on #20584
@BillWagner what about the `swtich` statement? Does it support all those patterns as well? If yes, the separate TOC node (just under the "Language reference" node) for "Pattern matching" is possible with individual articles per pattern. Any such article would present three examples of usage, then (with `switch` and `is` expressions and with `switch` statement). Placing patterns under "Expressions

[2020-09-13 19:57] drk-mtr opened #20619 "Are Ubuntu installation instructions broken, or am I doing something incorrectly?"
I suspect it's the latter!

On Ubuntu 20.04, I have the netcore5.0 preview installed successfully. I follow the instructions to install dotnet core 3.1 on this page: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#apt-troubleshooting but it doesn't appear to work.

These commands runs ok:

[code]

Then I run this:

[code]

In the output some mpv-tests and "does not have a Release

[2020-09-13 20:07] drk-mtr commented on #20619
I was indeed being an idiot, I didn't realise pasting this set of commands in was not successfully running all commands:

[code]

The fix was painfully obvious i.e. run `sudo apt-get install dotnet-sdk-3.1`. Sorry for false alarm, closing.

[2020-09-13 20:07] #20619 closed

[2020-09-14 03:34] adegeo commented on #20613
fyi @leecow

Hi @weltkante I do have another issue opened to fix these discrepancies. Sorry for the confusion.

[2020-09-14 03:35] adegeo commented on #20613
Duplicate of #19384

[2020-09-14 03:42] #20613 closed

[2020-09-14 07:01] jongalloway commented on #20572
@jmarolf Can you help on this?

[2020-09-14 07:50] a-ctor commented on #7471
I think this issue can be closed because the duplicate #18772 was fixed with PR #20047.

[2020-09-14 09:49] jmarolf commented on #20572
These tools are not available on VS for Mac as they have a different extensibility model.

[2020-09-14 09:49] #20572 closed

[2020-09-14 14:45] BillWagner commented on #20601
Good point @Youssef1313

I'd like to keep this article brief, so some nuances are not covered. But, it shouldn't be misleading The reality is even more subtle: a developer can add additional members, even when using primary constructors. Therefore, even positional records aren't guaranteed to be immutable.

How about this for alternative wording:

[2020-09-14 15:35] #19564 closed

[2020-09-14 15:50] Youssef1313 commented on #20601
@BillWagner This is more clear and less misleading, but I'm not sure whether immutability should be ever mentioned or not.

[2020-09-14 15:58] BillWagner commented on #20601
I think immutability should be mentioned. It's one of the reasons why a developer would choose a `record` instead of a `class`. (Value semantics being the other reason).

[2020-09-14 16:00] #20558 closed

[2020-09-14 16:09] Youssef1313 commented on #20601
The difference I can see between a class and a record is value equality being added by default, and other synthesized methods such as PrintMembers and Clone which are irrelevant to immutability.

Besides those, I see that a record is nearly identical than a class.

Not sure if I'm missing something. I haven't played enough with records.

[2020-09-14 16:50] #20374 closed

[2020-09-14 17:26] BillWagner commented on #20580
Thanks @pkulikov I'll assign this to you.

[2020-09-14 17:31] lukacs-andras opened #20629 "Calling Dispose(false) in DisposeAsync() seems pointless"
With the current sample implementation, it seems pointless to call Dispose(false) in DisposeAsync() because after DisposeAsyncCore() sets _disposed to true, Dispose(false) will return immediately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a961dc-3ebf-2a96-a6eb-2e0b62ab909f
* Version Independent ID: d72276e1-9059

[2020-09-14 17:36] Youssef1313 commented on #4728
@mairaw Is the work for this issue done with the merge of #16969?

[2020-09-14 17:52] pkulikov commented on #20601
@BillWagner what do you mean by "value semantics"? Whenever I see "value semantics", I think about distinction between variables and their copying of value types and reference types. From the [value types article](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/value-types):

As records are classes, I assume record variables still follow reference-type semantics. Is

[2020-09-14 17:54] BillWagner commented on #20601
Thanks @pkulikov Yes, "value equality" is the correct term.

[2020-09-14 17:56] mairaw commented on #4728
Yes, thanks for the reminder @Youssef1313.

[2020-09-14 17:56] #4728 closed

[2020-09-14 18:00] pkulikov commented on #20601
@BillWagner @Youssef1313 what about this take:

(Main motivation is to avoid "synthesized" and "hand written" terms; in the docs, "user-provided" or "user-defined" is usually used instead of "hand-written". Also, with source generators, those can be not hand-written, but still user-provided, I guess).

[2020-09-14 18:16] Youssef1313 opened #20632 "advanced-linq-to-xml-programming.md is missing a redirect or unintentionally deleted"
It was deleted in https://github.com/dotnet/docs/pull/16969/
I can't find a redirect for it. I can't also find it in the new *standard/linq* folder.

The file wasn't adding much value, just links to other articles. So I think it's just missing a proper redirection.

cc: @mairaw

[2020-09-14 18:17] HaloFour commented on #20601
Immutability would be a great trait to associate with records but I'm afraid that it can't really be mentioned more than in passing, and very specifically with positional records, without leaving a very misleading impression as to what the feature provides.  The difference between an otherwise identical `record` and `class` is little more than value equality.

[2020-09-14 18:25] Youssef1313 opened #20633 "Consolidate create-document-namespaces"
https://github.com/dotnet/docs/blob/master/docs/standard/linq/create-document-namespaces-csharp.md

https://github.com/dotnet/docs/blob/master/docs/standard/linq/create-document-namespaces-visual-basic.md

I think this should have been done in #17213. But was missed for some reason.

cc: @mairaw @jameshkramer

[2020-09-14 18:27] Youssef1313 commented on #20633
@mairaw, I just noticed there are still articles in the language-specific folders (e.g. https://github.com/dotnet/docs/tree/master/docs/visual-basic/programming-guide/concepts/linq)

Was these not moved to standard directory for some reason?

[2020-09-14 18:36] mairaw commented on #20633
So, two separate issues:

The first one is by design since the technique used in VB is different than C#.

The second one the @dotnet/docs team will need to decide whether they will continue the consolidation project. The LINQ to XAML one was the first section I started with and the idea was to continue.
Here's another related issue opened by @gewarren https://github.com/dotnet/docs/issues/16482

[2020-09-14 18:37] mairaw commented on #20508
Just FYI, given that .NET Core 3.1 is still the LTS version, we won't be updating tutorials on the dot.net site to .NET 5 for now.

[2020-09-14 18:44] Youssef1313 commented on #20633
Thanks @mairaw for clarifying.

I think this can be closed in favor of #16482

[2020-09-14 18:44] #20633 closed

[2020-09-14 18:44] mairaw commented on #20632
We were removing nodes that were just a list of links to sub-articles. Let me check!

[2020-09-14 18:46] jeffhandley opened #20635 "[Breaking Change] MinimumOSPlatformAttribute and RemovedInOSPlatformAttribute renamed, ObsoletedInOSPlatformAttribute removed"
## MinimumOSPlatformAttribute and RemovedInOSPlatformAttribute renamed, ObsoletedInOSPlatformAttribute removed

[`MinimumOSPlatformAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.versioning.minimumosplatformattribute) was renamed to `SupportedOSPlatformAttribute`; [`RemovedInOSPlatformAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.versioning.removedin

[2020-09-14 18:47] jeffhandley commented on #20635
FYI @jiangzeng01 @PriyaPurkayastha

@jiangzeng01 please let me know if you recommend any changes.

[2020-09-14 19:04] PriyaPurkayastha commented on #20635
cc @gewarren

[2020-09-14 19:13] #20362 closed

[2020-09-14 22:01] rummelsworth opened #20638 "Unclear how to use a type derived from JsonConverterFactory"
Suppose I've defined a `DictionaryTKeyEnumTValueConverter` just like the one in this doc page. How do I use it? Can I put its type object in a `JsonConverterAttribute` constructor? Or am I forced to always use the converters collection on the serializer objects I create? If the latter, and I'm supposed to call `CanConvert` and `CreateConverter` myself, what is an example of some code that does thi

[2020-09-15 02:58] Naine opened #20640 "Clarify semantics of rollForward:latestMajor"
The below is for SDK selection in `global.json`, but I believe this also applies to runtime selection in `.runtimeconfig.json`.

The description of `latestMajor` seems to imply something highly undesirable. Here is the current text, for convenience and posterity:

[code]

It is clear that "major" allows any version >= the specified version, with preference for the major/minor/feature closest to th

[2020-09-15 03:20] Naine commented on #20640
Just worth mentioning, the second example file shown on this page indicates that the above interpretation is incorrect, and that the minor/feature versions are not ignored and minor roll-back is indeed not allowed, but I do not think the presence of this example mitigates the need for clearer option descriptions.

[2020-09-15 03:37] davidwengier commented on #20601
I also think immutability should be mentioned. The primary constructor is a key difference between a record and a class, and when using only a primary constructor, records are immutable. Personally I find myself using records mainly for immutability features (init accessors and withers), and rarely for their value equality.

Yes I realize classes can use init accessors too, but given this is a wha

[2020-09-15 08:38] aersamkull opened #20643 "Document that two dots are not allowed in filename"
Document that two dots are not allowed in filename if LogicalName is absent: https://github.com/dotnet/sdk/issues/13547

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2e9d787-04f7-c6fe-23e0-46e7d6209f96
* Version Independent ID: 526e8e89-a7a6-6ced-e243-37636cab25e8
* Content: [How MSBuild generates manifest file names

[2020-09-15 11:30] nohwnd commented on #20311
For .NET Core 5.0 you can use net5.0.

[code]

[2020-09-15 11:48] HaloFour commented on #20601
I understand, and in the context of positional records then immutability makes sense.  But we're already seeing confusion on the C# repository, Gitter, Discord and Twitter regarding records and immutability.  With immutability being the headlining feature of records here and in the documentation and repeated across the infinite blogs that take those docs as gospel, having to respond that records a

[2020-09-15 12:02] IEvangelist commented on #20629
Hi @lukacs-andras - ah, yes... good catch. You're not wrong, I'll fix this. Thank you

[2020-09-15 14:25] jnm2 commented on #20601
It would be good to word it so that no one can come away thinking "if I see a record, I know it's immutable."

[2020-09-15 14:53] Daynvheur opened #20646 "Mutable value types don’t often introduce errors"
Hello,

This quoted sentence is unclear for me:

Does this say it will certainly introduce errors? Or will this be misused by developers? Or something else?
And when would those errors show up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e0

[2020-09-15 14:59] Youssef1313 commented on #20601
If immutability should be mentioned, the doc should be very clear that records doesn't mean or guarantee it, and only **simple** positional records (i.e. `record MyRec(whatever, ....);` and not `record MyRec(whatever, ...) { // extra fields/properties }`.

It should also mention that even simple positional records doesn't provide **deep** immutability. (which may come in future C# versions)

[2020-09-15 15:35] tdykstra commented on #20311
Thanks, @nohwnd !

[2020-09-15 15:52] BillWagner commented on #19715
Much of this is done. The remaining updates for the proposed TOC are:

- [ ] Update the overview, including links to the C# / .NET 101 Videos and any relevant MS Learn content.
- [ ] The index page for "Learn C#" tutorials should include a link to the introductory tutorial for each workload.

[2020-09-15 15:52] BillWagner commented on #18140
The tasks needed to finish this are as follows:

- #18237
- #18138
- #3276
- #19715 (see https://github.com/dotnet/docs/issues/19715#issuecomment-692807675)

Closing this as the plan is complete.

[2020-09-15 15:52] #18140 closed

[2020-09-15 16:16] airbreather opened #20648 "Performance Counters, "See Also" links to the current page."
https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/performance-counters

The first link under "See Also" points to the current page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e0cbb3-ff95-2ae1-43a2-f5614e1e32d4
* Version Independent ID: 2413a1cf-d074-d1d8-5206-277ba74d289f
* Content: [Performan

[2020-09-15 16:23] IEvangelist commented on #4567
Port over all .NET content from ASP.NET Core repo - .NET fundamentals / Microsoft Extensions:

- [ ] [Configuration](https://github.com/dotnet/docs/pull/20598)
- [ ] Dependency injection
- [ ] Generic Host
- [ ] Logging
- [ ] Options pattern

[2020-09-15 16:45] pkulikov commented on #20646
Looks like the sentence should be without "don't":

The next sentence after that explains why:

[2020-09-15 16:57] #20376 closed

[2020-09-15 17:02] #20373 closed

[2020-09-15 17:58] Rick-Anderson commented on #4567
That's not a good idea.

* It looks like 90%+ of the target audience is ASP.NET Core.
* The ASP.NET Core team maintains these, so it's best left in the ASP.NET Core repository.

[2020-09-15 18:27] #20266 closed

[2020-09-15 20:18] #20358 closed

[2020-09-15 20:59] BillWagner commented on #20646
related to #20601

Thanks for pointing this out @Daynvheur The comment by @pkulikov is correct, although taking this in context with the related issue, this section likely gets larger updates that change or remove that sentence.

[2020-09-15 22:19] tdykstra opened #20656 "Create pages documenting .NET SDK error messages"
An example of a .NET SDK error is [NETSDK1045](https://github.com/dotnet/sdk/blob/175d288a26019d74ea7f4524cb5195a28135b0ee/src/Tasks/Common/Resources/Strings.resx#L282-L285).

Follow pattern of [C# compiler error docs](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/)

High-traffic errors (# of F1 queries from VS)

- [x] NETSDK1045
- [x] NETSDK1004
- [x] NETSDK1

[2020-09-15 22:44] Daynvheur commented on #20646
Thanks @pkulikov & @BillWagner, everything makes better sense. :)
Seems the intro will have a hard time, I can't wait to read the new version.

[2020-09-15 22:45] tdykstra commented on #20638
There's an example of code that uses this converter [here](https://github.com/dotnet/docs/blob/master/docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripDictionaryTkeyEnumTValue.cs). The .csproj file for the project that runs it and the rest of the code examples for the System.Text.Json docs is [here](https://github.com/dotnet/docs/blob/master/docs/standard/serialization/

[2020-09-15 22:49] tdykstra commented on #20640
Thanks for the suggestion. We'll make the option descriptions clearer the next time we update the article, or you're welcome to submit a PR if you'd like to make the change yourself.

[2020-09-16 06:05] sughosneo commented on #20557
Hello @brobbins, Thank you for your suggestions and feedback.

Could you please submit a PR to [docs repo](https://github.com/dotnet/docs/pulls) with these changes ? We will do a final review there and merge it with the master branch.

[2020-09-16 06:08] sughosneo commented on #20286
Hi @Danielovich, I am closing this issue as of now. If you have any further questions, please feel free to reopen this issue.

Thank you.

[2020-09-16 06:08] #20286 closed

[2020-09-16 11:54] Naine commented on #20640
Happy to submit a PR, though I may not get to it for a few days.

[2020-09-16 14:29] #763 closed

[2020-09-16 14:51] IEvangelist commented on #4567
Per our call yesterday, and the discussion with Tom - we're moving forward with this for the following reasons:

- New .NET developers coming to our repo need to understand these fundamentals which _are not_ specific to ASP.NET Core
  - This is a gap in our .NET content, we cannot assume that all developers are building web apps
  - 90%+ is an estimate and there is no data to support that claim
-

[2020-09-16 15:55] ygoe commented on #9633
According to what I've found on the web today, ML.NET does not support anomaly detection over multiple values/dimensions. It can only handle single stupid numbers, nothing too realistic. I have 4096 float values in each set and need to determine whether a new set of 4096 values matches what's been there before (during the training period).

[2020-09-16 16:16] jskeet opened #20665 "Benefits of unsafe code are ambiguously stated"
As observed via https://stackoverflow.com/questions/63923968, the claim that:

... can me read as "it makes existing code go faster" rather than "it allows you to rewrite your code to avoid array bounds checks, therefore potentially making it faster".

As far as I'm aware, marking a block as `unsafe` has no performance impact *on its own*, and it would be good for the page to be clear about that.

[2020-09-16 16:48] adegeo commented on #19862
Moved to dotnet/docs-desktop#47

[2020-09-16 16:48] #19862 closed

[2020-09-16 17:14] meraydin commented on #9633
Thanks Yves - though I am not surprised to hear this :(

Time to look for something more mature...

Murat Eraydın
Genel Müdür

Sent via the Samsung Galaxy S20

-------- Orijinal mesaj --------
Kimden: Yves Goergen <notifications@github.com>
Tarih: 16.09.2020 18:55 (GMT+03:00)
Alıcı: dotnet/docs <docs@noreply.github.com>
Cc: Murat Eraydın <murat.eraydin@karmasis.com>, Author <author@noreply.github.

[2020-09-16 17:58] adegeo commented on #19865
Moved to dotnet/docs-desktop#47

[2020-09-16 17:58] #19865 closed

[2020-09-16 18:03] adegeo commented on #19902
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-09-16 18:09] adegeo commented on #20138
Thanks :D

[2020-09-16 18:11] adegeo commented on #19959
@steveharter Do you have an idea as to which doc needs enhancement? If it's an API doc the issue should be created in https://github.com/dotnet/dotnet-api-docs

[2020-09-16 18:56] #20629 closed

[2020-09-16 18:56] pchandoria opened #20669 "Performance of interpolated strings"
I started using interpolated string feature available in latest C# version. However I was curios what is performance improvement with new sugar coated format. In test it turns out it is 4 time slower then traditional method.

My Test:
[code]
![image](https://user-images.githubusercontent.com/39146718/93380043-89e86f80-f813-11ea-8447-2a061b9f3899.png)

---
#### Document Details

⚠ *Do not edit this

[2020-09-16 19:05] pchandoria commented on #20669
.Net Version Core 2.2
so I think C# should be C# 7.3

[2020-09-16 19:35] NickeManarin opened #20670 "Broken format in section"
In [this section](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/runtime/4.6.1-4.7#windows-communication-foundation-wcf), there are a few links in a list.

Two of those links are not being displayed correctly.

![image](https://user-images.githubusercontent.com/14798947/93383837-9633f300-f83a-11ea-919c-9d5c2367eddd.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-16 20:45] #20635 closed

[2020-09-17 00:31] jm000r opened #20674 "Lambda expression"
In the first example the lambds expression makes the code unreadable and requires many more keystrokes to write

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b8daf7-c244-5d1c-e43b-7fe654f378e1
* Version Independent ID: 5142bc3b-2d71-b98e-190a-aa51f28f46e4
* Content: [Lambda expressions - C# reference](https://docs.m

[2020-09-17 00:56] gewarren opened #20675 "October - monthly repo chores"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2020-09-17 00:56] #20386 closed

[2020-09-17 09:05] AxelDelsol opened #20680 "Clarity needed in Start tasks concurrently"
[Enter feedback here]

In the section "Start tasks concurrently", no speed up is observed compared to the Sync version.

I think it is because the Async static methods do not use await (there are actually 3 warnings telling us that is will run synchronously).

To have an actual speed up, one need to use await anytime there is a Task.Delay(xxx) but this part is not explained anywhere in the tutoria

[2020-09-17 12:47] iSazonov opened #20682 "No null-terminating character at the end of a C# string"
It confuses because null-terminating character is there. See https://github.com/dotnet/runtime/issues/42373

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7aa6134-64e2-28a7-f7d0-d0c1512f4520
* Version Independent ID: 3317fd4a-9cd3-57cd-66f7-abb271e302e8
* Content: [Strings - C# Programming Guide](https://docs.microsof

[2020-09-17 13:29] BillWagner commented on #20665
Thanks @jskeet I can see how this can be mis-interpreted. I'll add it to our backlog to update.

[2020-09-17 14:17] BillWagner commented on #20669
Thanks for writing this @pchandoria

In most cases, we don't write general performance guidance for language features.

First, your test shows an absolute difference of 13us for 100 iterations. That is negligible. It would only be significant in hot paths with a large number of iterations.

Next, the performance of code constructs like this are dependent on a large number of variables:
- Can the c

[2020-09-17 14:20] scottaddie commented on #20417
Fixed in https://dev.azure.com/mseng/TechnicalContent/_git/dotnet-docs-tools/pullrequest/574782

[2020-09-17 14:20] #20417 closed

[2020-09-17 14:25] BillWagner commented on #20674
@jm000r Which example do you mean? And, why do you think it's unreadable?

[2020-09-17 14:30] IEvangelist opened #20685 "Add languages and samples browser links to "What's new in .NET" landing page"
Add languages and samples browser links to "What's new in .NET" landing page

[2020-09-17 14:34] BillWagner commented on #20680
I agree with your point @AxelDelsol I was concerned about this section.

My primary goal was to make one change at a time, introducing one new concept. That does mean some of the interim steps aren't production quality. I did try to explain that in the accompanying text.

I'll add this to the backlog to update when I next update this.

[2020-09-17 14:38] BillWagner commented on #20682
I'll close this based on https://github.com/dotnet/runtime/issues/42373#issuecomment-694200101

[2020-09-17 14:38] #20682 closed

[2020-09-17 14:54] #17912 closed

[2020-09-17 15:10] IEvangelist commented on #20685
Closed by #20685

[2020-09-17 15:10] #20685 closed

[2020-09-17 15:26] #20614 closed

[2020-09-17 15:36] #20501 closed

[2020-09-17 15:36] #20502 closed

[2020-09-17 15:55] KhaledSamir commented on #20492
I'm closing this ticket as no further updates needed. Thanks!

[2020-09-17 15:55] #20492 closed

[2020-09-17 16:36] #19468 closed

[2020-09-17 21:11] terrajobst opened #20692 "Don't define NETCOREAPP3_1 when targeting .NET 5"
## Don't define NETCOREAPP3_1 when targeting .NET 5

.NET 5 will now have the same behavior for defining preprocessor symbols as previous releases of .NET Core, that is, we only define symbols for what the project is actually targeting and no longer include defines for earlier versions.

### Version introduced

.NET 5 RC2

### Old behavior

When targeting `net5.0` we defined both `NETCOREAPP3_1` a

[2020-09-17 21:22] marcpopMSFT commented on #20692
@terrajobst it may be worth mentioning which preview this was introduced in.  From code history, looks like we added this starting in preview 7.  Is it worth mentioning `NET` for 5.0 and higher?

[2020-09-17 21:31] terrajobst commented on #20692
Good call, I've added that

I'd rather not, because that behavior is unchanged and trying to describe seems to cause more confusion...

[2020-09-17 21:32] adegeo commented on #20656
Do we want to automate the creation of each file and basic structure?

[2020-09-17 21:34] tdykstra commented on #20656
I was thinking we would create a stub file and each time a page is created it would start by copying the stub Markdown.  Do you have a better idea?

[2020-09-17 21:41] adegeo commented on #20656
That sounds good. Can just use some powershell to load the xml file and for each data/value combo extract the error code and description and fill it in the copied file.

[2020-09-17 21:52] tdykstra commented on #20656
As long as it works selectively one by one, as we don't need to create pages for all of the errors, only those that require more explanation than the message itself conveys.

[2020-09-17 21:56] adegeo commented on #20656
We wouldn't want them all? If someone uses the error lookup in visual studio, where would it go for a missing error?

[2020-09-17 23:09] tdykstra commented on #20656
We could create one doc that lists all error numbers for which we decided additional information is not needed.

[2020-09-17 23:25] marcpopMSFT commented on #20656
I had originally assumed we'd have one doc with all the items in a table but I see that compiler errors and CA warnings are all separate documents so we'd be matching that existing experience.  Note that we may not have a lot of extra detail for many of them beyond what's in the message (as hopefully most of the messages are enough).

[2020-09-18 05:03] #20670 closed

[2020-09-18 07:31] SteveWelburn opened #20696 "Operator precedence description confusing"
The description is confusing as it mixes "evaluated in the following order" and "greater precedence" without any clarity about how the two are related. Additionally, the numeric example appears to disagree with the description as * & / are evaluated before + & -.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ed2fd25-

[2020-09-18 14:53] BillWagner commented on #20632
adding @gewarren who was working on some of this as well.

[2020-09-18 15:03] BillWagner commented on #20696
@SteveWelburn I went through the article, and it is correct as written.

For any expression containing multiple operators, the expression is evaluated from the highest precedence operator to the lowest precedence. When operators have the same precedence, they are evaluated from left to right.

The precedence rules go on to define groups (like the arithmetic operators) where some operators have hig

[2020-09-18 16:53] dcs3spp opened #20698 "Utf8JsonReader.TryGetDouble - Example data where it returns false"
Hi,

Trying to learn and understand System.Text.Json Utf8JsonReader [TryGetDouble](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader.trygetdouble?view=netcore-3.1) method. In particular how to get it to return false for unit testing.

Are there any example values where this method returns false?

If I use the json string value below containing a value above ```Double.MaxV

[2020-09-18 18:54] kvbutler commented on #14828
Just wanted to drop comment in here for others, as this was a little confusing for me.

The Microsoft.NET.Sdk.Web SDK has AspNetCore.Identity package included now, but Nuget only has the package up to version 2.2. Visual Studio tries to automatically install that version (2.2) from Nuget if your library project targets the regular SDK (Microsoft.NET.Sdk). This has incompatibilities if you are then

[2020-09-18 21:08] kartheekp-ms opened #20701 "add dotnet nuget verify command to dotnet docs"
We [`(NuGet.Client)`](https://github.com/NuGet/NuGet.Client) team completed development of NuGet side changes for `dotnet nuget verify` command. This issue is created to add docs to `dotnet` repo.

https://github.com/dotnet/sdk/issues/13702

[Edited by gewarren to add doc details for the general section of the docs where this should land.]

---
#### Document Details

⚠ *Do not edit this section. I

[2020-09-19 05:58] nagkumar opened #20706 "Database should be outside the docker container"
[Enter feedback here]

Would Database be inside of this? I suppose DB is outside of the docker container, if inside, multiple notes of this service can't update the same database, hence can lead to consistency issue as each instance of the same microservice has their own database copy and state updates.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-19 10:20] peterclifford opened #20710 "$var should be $books?"
I think there might be an error in the text? $var should be $books?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28eedd05-fdc3-533c-4fa1-b13c9fbbee75
* Version Independent ID: 13dd5ee8-ac3f-9b33-7e72-6f7f91a7a335
* Content: [Support for the msxsl:node-set() Function](https://docs.microsoft.com/en-us/dotnet/standard/d

[2020-09-19 16:11] chunky opened #20712 "Trying to find classifications in ML.NET tutorial and scores"
The document here explains how the scores are a vector of probability-like values:

"The scores of all classes. Higher value means higher probability to fall into the associated class. If the i-th element has the largest value, the predicted label index would be i. Note that i is zero-based index."

Two questions:

1) I can't actually figure out how to map what classification is in which column. I

[2020-09-19 19:02] #20640 closed

[2020-09-19 19:40] Eiygy1992 opened #20713 "Pautan"
[Masukkan maklum balas di sini]

---
#### Butiran Dokumen

⚠ *Jangan edit bahagian ini. Ia diperlukan untuk docs.microsoft.com ➟ Pemautan isu GitHub.*

* ID: b5e950a9-28c4-91f3-919b-d12f4e029fca
* Version Independent ID: f066a748-0a7d-7506-3b18-c422fef13293
* Content: [Install .NET Core on Alpine - .NET Core](https://docs.microsoft.com/ms-my/dotnet/core/install/linux-alpine#manual-install)
* Conte

[2020-09-21 14:29] AlanBarber opened #20719 "Tool suggest for working with Azure Blobs in F#"
There's a nice f# lib for helping to make the Azure Blob API more FSharp friendly at https://github.com/random82/FSharp.Azure.Blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043a5be5-cb8b-5dc2-864c-01da144ea3c3
* Version Independent ID: 2b8e917a-cbb1-1417-b051-37d45beec0f3
* Content: [Get started with Azure Blob st

[2020-09-21 15:32] tdykstra opened #20720 "Update Intro to .NET Core for .NET 5"
Update the .NET Core intro to be the main overview doc in the .NET Fundamentals Overview section. The doc's goal is to provide a high-level overview of key characteristics of .NET 5 as the main implementation of .NET going forward, with links to more information on each topic covered.  This will consolidate core/introduction.md and core/about.md into one and introduce additional relevant info from

[2020-09-21 15:38] Danielku15 opened #20721 "Article does not describe how you could migrate a duplex service with a request-response pattern"
This article only describes how you can migrate to a streaming service where service A would register on service B and start receiving a stream of messages. I would wish that this article also covers the aspects where you have a classical request/response pattern through a duplex channel.

In WCF duplex services were not equal to streaming services. You could use it in Service Oriented Architectur

[2020-09-21 15:44] tdykstra opened #20722 "Update Architectural components for .NET 5"
The Introduction to .NET in the Fundamentals TOC introduces .NET 5 as the main implementation of .NET going forward and will only briefly mention other implementations of .NET. This article will be the link target for "more information" about other implementations of .NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-09-21 15:57] tdykstra opened #20724 "Update core/install/ landing page for .NET 5"
Since the Install section is now in the .NET Fundamentals TOC, make clear that this pertains to Core and 5+ only.

[2020-09-21 16:09] tdykstra opened #20725 "Update Core get started for .NET 5"
core/get-started.md --> Hello World
standard/get-started --> Link to get started tutorials for each app type and get-started docs for each language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c922021-b12a-83e4-3ee6-eceecd6076d2
* Version Independent ID: fdb655a4-cff4-6c67-7244-673760379663
* Content: [Get started

[2020-09-21 16:17] tdykstra opened #20726 "Update standard/choosing-core-framework-server.md for .NET 5"
Update for .NET 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .NET Core and .NET Framework for server apps](https://docs.microsoft.com/en-us/dotnet/standard/choosing-core-framework-server)
*

[2020-09-21 20:12] adegeo commented on #20713
It doesn't look like you've included any information in your issue. Please feel free to follow up with what problem you're experiencing. Thanks!

[2020-09-21 20:28] steveharter commented on #16922
@tdykstra we could remove this sample, since it is no longer needed in the 5.0 timeframe [since we added support for any `TKey`](https://github.com/dotnet/runtime/issues/30524).

@softlion can you clarify whether Xamarin or other AOT platform actually breaks with that sample. I'm aware of a Xamarin issue in 3.0\3.01 where the serializer, due to usage of CreateGenericType, had issues but that usage

[2020-09-21 20:29] scottaddie opened #20727 "Add support for default branch detection"
If the `--branch` option isn't set, find and use the repo's default branch.

[2020-09-21 20:43] #19668 closed

[2020-09-21 21:06] luisquintanilla commented on #19251
Fixed in #20264

[2020-09-21 21:06] #19251 closed

[2020-09-21 21:15] luisquintanilla commented on #19250
Hi @gopala000 I was unable to replicate this while making updates as part of #20264. Closing this issue for now. Please feel free to open another issue if you run into any additional problems.

[2020-09-21 21:15] #19250 closed

[2020-09-21 22:46] adegeo commented on #20710
Good catch! I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-09-21 23:48] davidwrighton opened #20728 "Document the PublishReadyToRun switch"
ReadyToRun has a very short description in a what's new post about .NET Core 3.0. It should have a conceptual document that describes the feature in somewhat more detail, that can be linked to.

[2020-09-22 01:38] mgsassu opened #20730 "Additional Tutorials?"
This is a really great page, I've already learned a lot just by walking through the project. I am a bit confused with respect to training the model on new data. There is reference to being able to do this, but it's not clear to me how to set this up and my attempts to input new images into the pipeline have failed. Is there some documentation which walks through this portion in more detail? Thank

[2020-09-22 01:56] wadepickett opened #20731 "Add metadata for tracking F# + Azure topics"
F# topics that focus on Azure need a ms.custom: "devx-track-fsharp" metadata value in order to be included in .NET/Azure reporting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45bbacb9-52da-4b4e-1c68-2e582aab477d
* Version Independent ID: 9aa1c6f5-a9cc-3a51-7f02-36da483f0c4a
* Content: [Using F# on Azure](https://do

[2020-09-22 08:55] sughosneo commented on #20706
Hello @nagkumar, thank you for reaching out.

Yes, though the DB instance runs within the container but actual data gets saved outside the container and within the docker volume for multiple instances/replicas/containers of the same microservice to share data.
And in terms of consistency across multiple microservices - Yes, there is always a challenge to keep data consistent across multiple micros

[2020-09-22 09:05] nagkumar commented on #20706
Thank you.

[2020-09-22 15:18] #20710 closed

[2020-09-22 16:18] #20731 closed

[2020-09-22 16:37] #16536 closed

[2020-09-22 18:07] Youssef1313 commented on #16536
This part of the issue is still not addressed I think.

The sample isn't consumed in any articles. It'll need to be moved from dotnet/samples to this repo and added to one of the System.Text.Json articles.

[2020-09-22 18:28] Unknown6656 commented on #20373
Ahhh .... this explains the bug I am having.
(and which an other user has too: https://developercommunity.visualstudio.com/content/problem/1176945/console-app-broken-when-using-usewindowsforms-in-n.html)

[2020-09-22 20:28] #20493 closed

[2020-09-23 05:07] SVCLIII opened #20753 "Broken C#6 tutorial"
The Focus mode editor throws the following compiler errors from page one:

(1,1): error CS8652:t The feature 'using declarations' is currently in Preview and *unsupported*. To use Preview features, use the 'preview' language version.
(1,7): error CS0118: 'System' is a namespace but is used like a type
(1,13): error CS0210: You must provide an initializer in a fixed or using statement declaration
(

[2020-09-23 10:43] kirrz commented on #4675
Just wanted to understand whether there is any limitation of the CIPHER Suites in the TLS 1.2 that is supported by Azure Cloud Services ?  The article mentions that it doesn't support weak/older ciphers. Is there any list as such for the list of Ciphers that are supported by the azure services  ?

[2020-09-23 13:48] BillWagner commented on #20753
Thanks for writing this @SVCLIII We'll look into this.

Ping @mimisasouvanh @rloutlaw

[2020-09-23 15:49] arcadianmonkey opened #20757 "The image on this page is impossible for me to read"
The image is fixed. I can't copy it into another application to zoom-in. Zooming-in with the browser increases the font size of everything but the image. I used the Magnifier app on my machine for the very first time, and the resolution of the image made the majority of the words unreadable.

It looks like the creator of this image took a lot of care to be thorough. It's too bad I could only maybe

[2020-09-23 16:50] #20512 closed

[2020-09-23 20:39] Youssef1313 commented on #20757
If you open the image url directly from [here](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/media/index/windows-communication-foundation-configuration-schema.gif) does it look good?

[2020-09-23 20:40] arcadianmonkey commented on #20757
Much better. Much appreciation. Thanks!

Paul Harris
PerByte, Inc.

________________________________
From: Youssef Victor <notifications@github.com>
Sent: Wednesday, September 23, 2020 3:40 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Paul Harris <paul@perbyte.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/docs] The image on this page is impossible for me to read (#20757)

If yo

[2020-09-23 20:44] rloutlaw commented on #20753
@BillWagner The source for this tutorial appears to be using the legacy !code block consumption mechanism. Can you update it to use :::code with the correct scaffolding syntax?

CC: @mimisasouvanh

[2020-09-24 01:11] #16684 closed

[2020-09-24 06:33] sughosneo commented on #20706
Closing this issue as of now. Please feel free to reopen it if you have any question.

[2020-09-24 06:33] #20706 closed

[2020-09-24 06:36] sughosneo commented on #17552
Hi @napalm684 , I am closing this issue as of now. If you have any further questions, please feel free to reopen it.

Thank you

[2020-09-24 06:36] #17552 closed

[2020-09-24 09:32] Youssef1313 opened #20763 "https://aka.ms/dotnet-whats-new needs to be updated"
This is not really a doc issue, but I didn't know where to report this and thought you *may* have access to update this, or report it to the appropriate team.

Currently, the link <https://aka.ms/dotnet-whats-new> redirects to What's new in .NET Core 3.1 article. I think it should now redirect to "The evolution of .NET Core to .NET 5" article.

---
#### Document Details

⚠ *Do not edit this sectio