[2021-04-26 15:29] #23551 closed

[2021-04-26 15:56] tdykstra commented on #23925
We've been changing the docs to refer to .NET CLI, so changing the title on code boxes makes sense to me.

[2021-04-26 16:21] IEvangelist opened #23931 "Add file watcher details with Docker support"
Add details to existing .NET docker articles, and options pattern with .NET articles that describes watching the file system.

See https://github.com/dotnet/runtime/issues/51866#issuecomment-826936347, and [ASP.NET Core docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/file-providers?view=aspnetcore-5.0#watch-for-changes).

[2021-04-26 16:55] ClarkFrazier opened #23932 "Add a summary at the beginning enumerating possible string comparisons"
Add a summary at the beginning enumerating possible string comparisons.  Introducing additional comparison types in the middle or near the end results in a muddy and unclear document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11ecfc18-477b-f792-4136-2feb46bbc5d3
* Version Independent ID: 82f53ae8-a9d4-dea9-5acd-6d

[2021-04-26 17:13] BillWagner commented on #23921
Thanks for bringing this to our attention @sougata12

I've checked with Kathleen, and that sentence just seems wrong to both of us. I opened #23938 to address this issue.

[2021-04-26 17:18] KathleenDollard commented on #23921
I wanted to apologize for the confusion this caused. There are differences in structures and classes primarily in when the contents are copied or used in place. However, I think this sentence fails to explain any of that, and that the remainder of that page does.

Thank you again for bringing this to our attention. Docs have been updated to drop that sentence, and it will show up on the site as so

[2021-04-26 17:50] BethMassi commented on #23925
Correct. It's just ".NET CLI" starting with .NET 5.

[2021-04-26 17:55] #23921 closed

[2021-04-26 18:05] jairbubbles opened #23940 "Typo on ErrorLog example"
Looks like there is a typo in the example for `ErrorLog`:
[code]

I would expect something more like:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef35c2-6df4-26f8-32b2-9b50eb76c037
* Version Independent ID: e57ac82b-307e-163b-8172-52644b3a6baa
* Content: [C# Compiler Options - errors and warnings](https://do

[2021-04-26 18:11] JasonCard commented on #23912
@KevinZonda @adegeo Thank you for reporting this issue and bringing it to my attention. I'll look into this and escalate as needed.

[2021-04-26 20:01] rustamhajiyev opened #23944 "Not clear enough definitions make impression that LOH and 2nd Generation are the same things."
First of all, thank you for the article, it's quite informative.
Nevertheless, I find definitions like "Large objects are always allocated in generation 2." not clear enough. I think that the statements from the [Fundamentals of garbage collection | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/large-object-heap) article are more appropriate.

Could you please

[2021-04-26 20:11] gewarren commented on #23944
@rustamhajiyev Thank you for the feedback!

[2021-04-27 06:56] sougata12 commented on #23921
Thank you for updating the document @BillWagner and @KathleenDollard

[2021-04-27 09:56] Youssef1313 opened #23950 "Remarks section of enum members doc comment doesn't show in API reference"
This is not specific to LanguageVersion enum. Any enum with `<remarks>` on a member won't show in the API reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d51a386d-ffa5-43b0-d29b-d01df05a7349
* Version Independent ID: 07a917bf-4fab-f961-404c-5a9a7a4da63f
* Content: [LanguageVersion Enum (Microsoft.CodeAnalysis

[2021-04-27 12:03] goyzhang opened #23951 "The statement is wrong"
`Binary compatible changes are also source compatible changes.`

There is no superset between binary and source compatible change.

Example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7025d71b-df42-b8ad-3e31-20a480a5d652
* Version Independent ID: a05ae06d-91e1-d1f8-0194-e7830f5c880e
* Content: [Version and u

[2021-04-27 12:50] IEvangelist commented on #23925
The docs platform team has no concept of versioning individual code snippets. It's an all or nothing kind of change. In other words, we cannot dynamically change the code snippet slug to deterministically toggle the label based on .NET 5 or not - the docs platform simply does not have support for that.

So we're good with changing it to ".NET CLI" for all previous version docs too? I just want to

[2021-04-27 12:53] egvijayanand opened #23952 "Output is incorrectly shown in the Records value equality code sample"
In code sample 2:

Since records works on the concept of value equality, after assigning a new value at the 0th index of PhoneNumbers array in the instance of the person1 object, while testing the equality, the output will be False.

person1.PhoneNumbers[0] = "555-1234";
Console.WriteLine(person1 == person2); // output: True _(this will be False and not True as shown in this page)_

Kindly verify

[2021-04-27 13:07] egvijayanand commented on #23952
Closing this issue as it is incorrectly raised.

Since the 3rd positional parameter (PhoneNumbers string array) is instantiated separately and then assigned to both the Person objects.

As arrays works via reference, both person object will refer to the same instance and modifying it in either place will affect both, that way, the output while testing the value equality will be True as indicated i

[2021-04-27 13:07] #23952 closed

[2021-04-27 13:10] IEvangelist commented on #23925
Private pull request into the docs platform here:
https://ceapex.visualstudio.com/Engineering/_git/docs-ui/pullrequest/191625

[2021-04-27 13:14] IEvangelist commented on #23714
Hi 👋 @AFDevMike

I have not been able to reproduce this issue. Have you tried running through it again?

[2021-04-27 13:24] AFDevMike commented on #23714
Hi @IEvangelist ,

I am not in a position to duplicate this issue in a timely manner and so I would offer you can close this issue.

Personally, after using all available documentation and specifically the "Next steps" link [Learn how to containerize an ASP.NET Core application.](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/building-net-docker-images?view=aspnetcore-5.0), I

[2021-04-27 14:29] BillWagner commented on #23932
Thanks for noting this @ClarkFrazier I've added it to our backlog to address when we next update this article.

[2021-04-27 14:33] BillWagner commented on #23940
Good point @jairbubbles

I've opened #23953 to fix this issue.

[2021-04-27 14:34] BillWagner commented on #23950
Ping @joelmartinez

Where should we route this?

[2021-04-27 14:40] #23940 closed

[2021-04-27 14:42] #23714 closed

[2021-04-27 14:45] BillWagner commented on #23951
Good point @goyzhang

I've assigned this to me for next month.

[2021-04-27 15:08] joelmartinez commented on #23950
🤔 hmm ... this is because we currently treat enums differently than other types, where each member doesn't have an individual page in which we would show remarks; we just list all the enums and their summary on one page. Brainstorming a bit, we would probably either have to expand that out so that each member of the enum has its own page, or maybe do something where the remarks for each field are

[2021-04-27 15:39] #20592 closed

[2021-04-27 15:39] #21026 closed

[2021-04-27 15:39] #23722 closed

[2021-04-27 15:39] #23518 closed

[2021-04-27 15:43] tdykstra opened #23954 "Add REST client tutorial sample to samples browser"
https://github.com/dotnet/docs/pull/23942#pullrequestreview-645980055

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b-e60b-5433-7b4b-efc8259908f0
* Content: [Create a REST client using .NET Core](https://docs.microsoft.com/en-us/dotnet/csharp/tutori

[2021-04-27 15:55] IEvangelist opened #23955 "Add conceptual article on enhancements to strongly-typed `ILogger` messages"
Add conceptual article on enhancements to strongly-typed `ILogger` messages.

- Related to https://github.com/dotnet/runtime/issues/36022
- Conceptual [design-based draft here](https://github.com/dotnet/designs/blob/main/accepted/2021/logging-generator.md)

Collaborating with @maryamariyan on this new article.

[2021-04-27 17:16] Mahesh-MSFT opened #23957 "Updating local tool"
Hi,

I am having trouble in using the updated tool in local development.

I have following code structure.
.
├── .config
├── My-local-tool
├── My-sample-app-that-uses-tool
├── My-another-app

As part of tool development, I'll frequently change code and test it using `My-sample-app-that-uses-tool`. Note process will be iterative.

I am following process as below for every code change in the tool.

[2021-04-27 17:32] tdykstra opened #23958 "Fix table formatting error"
Fix the mistake in Markdown formatting that makes the table of differences display 3 columns instead of the intended 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Version Independent ID: 9c6a7135-eb75-21a9-1d27-0880459523ca
* Content: [Migrate from Newtonsoft.Json to System.Te

[2021-04-27 17:52] jhudsoncedaron opened #23960 "Deadlock on returning a non-async stream from SocketsHttpHandler.ConnectCallback"
Not sure if this is an issue in the code or the documentation.

**Issue description**

On returning a non-async-capable stream from SocketsHttpHandler.ConnectCallback, HttpClient deadlocked. I don't think a toy example will reproduce; it got through several requests before getting stuck. HttpClient assumes that whatever stream it gets is completely async-capable which is in fact true of NetworkStr

[2021-04-27 20:20] #23958 closed

[2021-04-27 21:23] #23954 closed

[2021-04-28 13:54] elafnit opened #23966 "Dependency diagram (fig 7.7) confusing"
Fig 7.7 would benefit from using some UML notation for how the dependencies are implemented. The current diagram, at first glace, seems to indicate that the Application layer would have a dependency on the Infrastructure layer. There is indeed a relationship between the 2 layer; however, this should be indicated as an inversion of control where the Infrastructure layer implements an interface and

[2021-04-28 15:10] adegeo commented on #23912
@JasonCard I'll close this issue since it's on your side now.

[2021-04-28 15:10] #23912 closed

[2021-04-28 16:00] #23922 closed

[2021-04-28 17:36] gewarren commented on #23950
This is a known issue and we've already met once on the proposed design - https://dev.azure.com/ceapex/Engineering/_workitems/edit/390259.

[2021-04-28 17:40] gewarren commented on #23950
We also currently have a build warning to let you know that the remarks will be ignored.

[2021-04-28 17:50] Youssef1313 commented on #23950
@gewarren Should I close if it's already tracked internally?

[2021-04-28 17:56] gewarren commented on #23950
Yes, I'll close this, but I've added a link to this issue in the internal tracking item. Thanks @Youssef1313 .

[2021-04-28 17:56] #23950 closed

[2021-04-28 18:42] BillWagner commented on #19942
These have all been finished now.

[2021-04-28 18:42] #19942 closed

[2021-04-28 18:43] BillWagner commented on #19716
These have all been completed.

[2021-04-28 18:43] #19716 closed

[2021-04-28 20:29] adegeo opened #23972 "Address feedback to porting article"
- Mention migration to/from framework monikers
- Update the wording in UA to be clearer about preview and that it uses try-convert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 577db847-e424-a9dc-ee2d-f2c6ddb54600
* Version Independent ID: 5fa219d8-0c9c-c758-c1ee-17cefd75ca24
* Content: [Port from .NET Framework to .N

[2021-04-29 05:21] 333fred opened #23977 "Mistype in the PublicSign docs"
The page says: "The PublicSign and PublicSign options are mutually exclusive." I believe it meant to say "The PublicSign and DelaySign options are mutually exclusive."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c990f37-3995-687b-b421-3346d2ff186f
* Version Independent ID: f3a67ca1-0a4a-cc52-3ffc-ff279fc4355d
* Con

[2021-04-29 06:48] nitrologic opened #23979 "Where is WSL installation instructions?"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e92ae0e3-2f90-5eeb-ed2c-bdfb85c5eaca
* Version Independent ID: 1850602d-6b92-1449-c8bd-116e36fc0f26
* Content: [Install .NET on Linux Distributions](https://docs.microsoft.com/en-nz/dotnet/core/install/linux)
* Content Source: [docs/core/install/linux

[2021-04-29 07:40] marco6 commented on #21609
I want to add that if I'm not wrong, any vector whose `length % Vector<double>.Count != 0` would result in an out-of-range exception.

I guess the correct code would be something like:

[code]

Notice the `left.Length - offset` in the loop.

[2021-04-29 08:12] DickBaker opened #23981 "improve nullability code sample"
the doc sample code is currently
public static bool IsValid(Person? person)
{
    return person != null && !string.IsNullOrEmpty(person.Name);
}
but should [simplify] be
public static bool IsValid(Person? person)
{
    return !string.IsNullOrEmpty(person?.Name);
}
or even [better]
public static bool IsValid(Person? person) => !string.IsNullOrEmpty(person?.Name);

---
#### Document Details

⚠ *Do n

[2021-04-29 08:28] Youssef1313 commented on #23981
Opened #23982 to simplify the example

[2021-04-29 09:32] Youssef1313 commented on #23925
Looks like the PR is merged:

![image](https://user-images.githubusercontent.com/31348972/116530687-98852200-a8de-11eb-8bdd-6256a8f1339d.png)

Thanks @IEvangelist for the very quick fix ❤️
Closing the issue.

[2021-04-29 09:32] #23925 closed

[2021-04-29 11:09] IanKemp opened #23983 "AssemblyBuilder examples don't compile on .NET 5.0 (and probably any version of Core)"
**Issue description**

https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilder?view=net-5.0#examples does not compile in .NET 5.0 as the APIs for emitting code to output files are not yet complete. The example should be removed for non-Framework versions of that page.

[2021-04-29 11:34] Eubank777 opened #23984 "Expression unit"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ffa86c-7505-ed3e-b8ec-a20a1ce9869f
* Version Independent ID: 0ffb7e92-4cce-736b-eefc-5086be635f9e
* Content: [Compiler Error CS1003](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1003?f1url=%3FappId%3Droslyn%26k%3Dk(CS1003))
* Content Source

[2021-04-29 14:00] BillWagner commented on #23977
Thanks @333fred

I see @Youssef1313 has already opened a PR to address this.

[2021-04-29 14:11] BillWagner commented on #23984
@Eubank777 I'm not sure what you meant with the title of this issue. Can you add more details?

[2021-04-29 14:19] #23977 closed

[2021-04-29 14:20] #23923 closed

[2021-04-29 15:16] TalMcMahon opened #23985 "Solution level Container support not supported"
[Enter feedback here]
This article says that there is container orchestration support at the solution level in vs2019:
"To add container orchestration support, right-click on the **solution** or project node in Solution Explorer, and choose Add > Container Orchestration Support. Then choose Kubernetes/Helm or Docker Compose to manage the containers.

There isn't a right-click for this if you do no

[2021-04-29 15:21] #23981 closed

[2021-04-29 16:16] jnm2 opened #23987 "Typo 'surpress' in sidebar menu and page title"
Couldn't find where to edit this.

![image](https://user-images.githubusercontent.com/8040367/116583819-bd7c9380-a8e4-11eb-834e-df6c1001b539.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5024fa30-1120-04be-76f7-3bf77a94cfa1
* Version Independent ID: 500270dc-2a10-f593-23da-a1baa6893c2a
* Content: [Surpress emitti

[2021-04-29 16:58] #23889 closed

[2021-04-29 17:33] #23729 closed

[2021-04-29 17:33] #23488 closed

[2021-04-29 17:33] #23749 closed

[2021-04-29 17:53] BillWagner commented on #23083
This was fixed in #23435

[2021-04-29 17:53] #23083 closed

[2021-04-29 20:38] BillWagner commented on #21726
This was fixed in a PR #23699

[2021-04-29 20:38] #21726 closed

[2021-04-29 20:43] #21760 closed

[2021-04-29 20:48] #23417 closed

[2021-04-30 13:21] Youssef1313 commented on #23987
Opened #23994 to fix this.

[2021-04-30 15:55] jongio opened #23995 "Support dark mode https://docs.microsoft.com/en-us/dotnet/azure/intro"
Text is black here - hard to read

![image](https://user-images.githubusercontent.com/2163001/116721053-bcee0680-a991-11eb-9676-0b1962eefa89.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ca6c79-fa2b-762d-a205-5a2255621836
* Version Independent ID: 6d1b3aaf-1ba7-d066-fb81-da5da3694e7f
* Content: [Get started wit

[2021-04-30 16:31] #23987 closed

[2021-04-30 17:51] jjgriff93 opened #23998 "No dev-certs reference"
Why is there no reference for the `dev-certs` command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet)
* Content Source: [d

[2021-04-30 23:08] BillWagner opened #24002 "Simplify compiler messages content"
There are several large issues in the content that covers [C# Compiler messages](https://docs.microsoft.com/dotnet/csharp/language-reference/compiler-messages/).

1. Many errors and warnings are not documented. (More than 700 have alraedy been identified [here](https://github.com/dotnet/docs/blame/main/docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md#L6-L736)).
1. There are 6

[2021-04-30 23:09] BillWagner commented on #23694
See #24002 for a proposed plan for the low PV articles in compiler messages.

[2021-05-01 00:02] github-actions[bot] opened #24003 "Upgrade from `net472` to LTS (or current) version"
The following project file(s) target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- |
| `net472` | N/A | [net472 release notes](https://devblogs.microsoft.com/dotnet/announcing-

[2021-05-01 07:25] Youssef1313 commented on #24002
I don't think this is correct. C# 9 error messages are all starting with 8, and C# 6 have errors starting with both 7 and 8.

[2021-05-01 07:34] Youssef1313 commented on #24002
Some concerns/questions:

- Should pre-Roslyn compiler messages be documented? (i.e, diagnostics from the native compiler that are no longer used in Roslyn) - There was a discussion about that in the past that they should be documented. Is that still true? The native compiler is before Visual Studio 2015.
- Are there any internal analysis for F1 service available for you? This may give some insigh

[2021-05-01 09:07] CyrusNajmabadi commented on #22997
Can you include me in this discussion if you are considering makign changes here.  I do not think we want to push `If you don't want your variable to be nullable`.  That would be an anti pattern.  The design and goal of the language here is to make it find to have *nullable types* as flow analysis ensures you don't have null-*values* used in a way that would cause a null-ref-exception.

[2021-05-01 09:09] MelbourneDeveloper commented on #22997
The warning should be in the strongest possible terms, like:

WARNING!!!! THIS WON'T DO WHAT YOU THINK. THE VARIABLE WILL BE NULLABLE. USE THE EXPLICIT TYPE INSTEAD

[2021-05-01 09:36] CyrusNajmabadi commented on #22997
@BillWagner @Dave-Lowndes , @MelbourneDeveloper is incorrect here, and this stems from a misunderstanding around how NRT works in practice.  it is vital that we explain this well, but in no way should we be warning people of this, nor should we be advising them to use the explicit type.

This was a conscience and intentional part of the design of NRT and is was driven by actual data that demonstra

[2021-05-01 09:40] MelbourneDeveloper commented on #22997
This was tongue in cheek and not meant to be taken literally.

The point is that the wording should be strong and clear to avoid confusion.

[2021-05-01 09:46] CyrusNajmabadi commented on #22997
I think we should be clear here as to what the language thinks and why that is a good thing.  In no way should we be pushing people to avoid ths, or even going into motivations like "If you don't want your variable to be nullable".  That's an anti-pattern.  NRT and the work around it, is not about preventing variables from being nullable.  It is about preventing null reference exceptions.  It's ex

[2021-05-01 09:49] CyrusNajmabadi commented on #22997
Sure.  I get it wasn't literal.  But we have to be careful about even the concept.  We can see how that can really mess with how people think about things.  It's similar to early docs on records which cast them in the light of being 'immutable'.  It might be ok to say that that might be an intuition you could have about it, but that it doesn't reflect reality.  It's the same thing here.  It can be

[2021-05-01 12:49] MaMo77570 opened #24006 "How to solve this problem? see"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c946d7-649b-44e4-49a9-543565904d18
* Version Independent ID: df4263c1-477a-3c32-9abe-3fcb850e6c1b
* Content: [Compiler Error CS1061](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1061?f1url=%3FappId%3Droslyn%2

[2021-05-01 15:19] viewizard opened #24007 "Wrong Syntax on ICorDebugThread4::HadUnhandledException page."
[Enter feedback here]

ICorDebugThread4::HadUnhandledException page but Syntax is:
[code]
Probably this is a mistake and `HadUnhandledException` should be in Syntax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451e5441-757c-aa13-db89-65848f71c853
* Version Independent ID: d745c839-42b0-cc07-81a3-9854a3272c1b
* Conte

[2021-05-01 16:01] Youssef1313 commented on #24006
Hi @MaMo77570
I've opened a PR to update the article. You can view the updated article [here](https://github.com/dotnet/docs/blob/55b000ea5082ce63998c65833524b72d3c285db3/docs/csharp/language-reference/compiler-messages/cs1061.md). It should be live in a few days after the PR gets merged.

Let me know if the updated article is still not clear.
Thanks.

[2021-05-01 16:25] Youssef1313 commented on #24007
Is there even a method named `HadUnhandledException`?

https://github.com/dotnet/runtime/blob/69e114c1abf91241a0eeecf1ecceab4711b8aa62/src/coreclr/inc/cordebug.idl#L4355-L4377

I can only find `HasUnhandledException` in dotnet/runtime repository.

[2021-05-01 16:32] viewizard commented on #24007
Hmm... I also don't see method this such name in CLR sources. Looks like more deep issue than I thought. :-)

[2021-05-01 18:39] MaMo77570 commented on #24006
Ok , and thank you for your email.

On Sat, May 1, 2021, 19:02 Youssef Victor ***@***.***> wrote:

[2021-05-01 19:13] StingyJack opened #24011 "What about `short`/`Int16`?"
So many other int types here but not an int16

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a41d02-3084-c31e-98ed-2bd786c7a301
* Version Independent ID: 31a20696-f326-63c3-77d1-f3cfc0aa589c
* Content: [Protobuf scalar data types - gRPC for WCF developers](https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for

[2021-05-01 21:19] pedrobarbs opened #24012 "Is "finalization queue" actually a queue?"
I'm studying some aspects of C# language, and I stumble across a issue with the name "Finalization queue" when speaking about finalizers. As a I've researched when a class implements a finalizer, it goes straight to the finalization queue as it is instanciated. When the GC finds a object with a single reference which is a finalization root reference, this object will be moved to the fReacheble que

[2021-05-02 19:51] Youssef1313 commented on #19932
Pinging @sughosneo in case you're interested to work on this. (Also #19933, #19934, and #19935). Each of these issues states an article that's duplicated in two places, and each article file was updated independently. The good news is that the articles haven't diverged that much. They're "mostly" the same.

[2021-05-02 20:19] Youssef1313 commented on #24002
Initial thoughts:

[code]

[2021-05-03 10:57] sughosneo commented on #24011
Hi @StingyJack, thank you for reaching out.

gRPC/Protobuf doesn't support 16-bits integer. For the list of supported scalar value types, please refer [Scalar Value Types - Protobuf Language Guide (proto3)](https://developers.google.com/protocol-buffers/docs/proto3#scalar) or  [Supported Scalar Value Types](https://docs.microsoft.com/en-us/aspnet/core/grpc/protobuf?view=aspnetcore-5.0#scalar-value

[2021-05-03 11:18] nishanil commented on #23785
@EdwinVW @amolenk Hey! Can you help update this please?

[2021-05-03 11:41] EdwinVW commented on #23785
@nishanil I'll create a fix a.s.a.p.

[2021-05-03 11:49] sughosneo commented on #23763
Hi @Gregory-Alvord , thank you for reaching out.
As proposed changes are already merged, I am closing this issue as of now. Please feel free to reopen it, if needed.

[2021-05-03 11:49] #23763 closed

[2021-05-03 12:32] IEvangelist opened #24015 "DevOps for ASP.NET Core Developers - Redirect old content to new"
Redirect all content here (old):

- https://docs.microsoft.com/aspnet/core/azure/devops

To here (updated / new):

- https://docs.microsoft.com/dotnet/architecture/devops-for-aspnet-developers

[2021-05-03 13:18] BillWagner commented on #24002
@Youssef1313

Thank you. Edited in the description above.

[2021-05-03 14:05] BillWagner commented on #24002
@Youssef1313

I'm investigating if we can archive these articles. I'll add a comment once I've done that.

I'm looking for this data now.

This would be a *huge* help. I'd like to get farther on a possible organization first.

This is the most important decision point. And, it may not be all one or the other. Maybe there are some natural groupings we discover, and some errors are on their own page

[2021-05-03 14:05] spring1975 opened #24016 "time zone offset, but not just time zone"
Please don't reference a time zone _offset_ as simply a time zone.
"the following converters serialize and deserialize JSON that uses Unix epoch format with or without time zone (values such as /Date(1590863400000-0700)/ or /Date(1590863400000)/)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-b

[2021-05-03 14:06] BillWagner commented on #24002
I like the direction. As we fill in errors, I think we'll have more context for refinement.

[2021-05-03 14:07] BillWagner commented on #24006
Thanks for noting this @MaMo77570 And thanks for the fix @Youssef1313

I'll review the changes and merge them shortly.

[2021-05-03 14:09] #24003 closed

[2021-05-03 14:17] #24006 closed

[2021-05-03 15:44] #19667 closed

[2021-05-03 15:56] Youssef1313 opened #24018 "Update values of `csharp_new_line_before_open_brace`"
When https://github.com/dotnet/roslyn/pull/53110 gets merged, we need to add `property_pattern_clauses` to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 729883e2-dbb0-4fd5-c122-42a337283b62
* Version Independent ID: ff0fdfd7-042b-4d76-5d52-7e5a1bc167b6
* Content: [Code style formatting rules - .NET](https://

[2021-05-03 15:59] tdykstra commented on #24016
@spring1975 Thanks for the suggestion, the update should be on the site tomorrow.

[2021-05-03 16:39] tdykstra commented on #23998
dev-certs is documented in the Additional tools section of the Table of Contents -- https://docs.microsoft.com/dotnet/core/additional-tools/self-signed-certificates-guide -- we can add reference documentation for the tool's options in that article.

[2021-05-03 16:48] madelson opened #24019 "Is adding a member to an interface allowed if it has a default implementation?"
The purpose of the "default implementations in interfaces" feature was to allow for adding new members to existing interfaces, right? If so, I'm curious whether this rule should be changed/restated to account for that feature.

Even if there is a reason why that can't work, given the feature's existence it seems worth having some commentary in this document explaining why this remains a breaking c

[2021-05-03 18:05] tdykstra commented on #23998
On further investigation, it looks to me like dev-certs should be documented in the ASP.NET Core doc set, as [this command is specific to ASP.NET Core](https://github.com/dotnet/sdk/blob/main/documentation/general/aspnetcore-tools.md). We should consider moving the [Self-signed-certificates guide](https://docs.microsoft.com/dotnet/core/additional-tools/self-signed-certificates-guide) to the ASP.NE

[2021-05-03 18:08] Rick-Anderson commented on #23998
I agree but we should check with @javiercn

[2021-05-03 18:15] shirhatti commented on #24011
To add to reply above, protobuf uses a variable length encoding for integers. Assuming your goal was to optimize the wire transmission, forcing a smaller width integer isn't needed.

[2021-05-03 18:19] javiercn commented on #23998
Sounds fine to me

[2021-05-03 18:23] StingyJack commented on #24011
This document describes the difference in type systems and offers suggestions for other primitive types but it does not cover short/int16.

Data lost from a narrowing conversion is the concern. I don't always have control over  the existing model types. Best I can come up with is when the model property is a short and the incoming value is > short.MaxValue to throw an exception. Curious to hear ab

[2021-05-03 18:30] shirhatti commented on #24011
I was about to suggest something along those lines. @JamesNK anything to add?

[2021-05-03 19:05] #24015 closed

[2021-05-03 20:30] #24016 closed

[2021-05-03 21:15] tdykstra commented on #20871
@davmason Can you help with this question?

[2021-05-03 21:27] tdykstra commented on #20872
Thanks for pointing that out. The comment in question is no longer in the article, so I'm closing this issue.

[2021-05-03 21:27] #20872 closed

[2021-05-03 21:40] tdykstra commented on #21139
@abethan Thanks for contacting us. We believe that your suggestion has has been addressed. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2021-05-03 21:40] #21139 closed

[2021-05-03 21:42] tdykstra commented on #21211
@csharpfritz Can you help with this question?

[2021-05-03 21:51] tdykstra commented on #21360
Thanks for the suggestion - we'll add an example the next time the article is updated.

[2021-05-03 21:55] tdykstra commented on #21411
@gewarren Should we transfer this issue to https://github.com/MicrosoftDocs/windows-uwp ?

[2021-05-03 22:29] tdykstra commented on #21601
@shirhatti As this is a feature request for gRPC, not a docs issue, which repo should this issue be transferred to?

[2021-05-03 22:42] tdykstra commented on #21765
@shirhatti Can you answer this question?

[2021-05-03 23:45] gewarren commented on #21411
This issue was moved to MicrosoftDocs/windows-uwp#3099

[2021-05-03 23:45] #21411 closed

[2021-05-04 01:33] IEvangelist commented on #22856
The plan, [delete this](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer) and redirect [to this](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/platform-compat-analyzer).

[2021-05-04 01:40] IEvangelist commented on #23527
Transferred to https://github.com/MicrosoftDocs/feedback/issues/3620

[2021-05-04 01:40] #23527 closed

[2021-05-04 02:02] IEvangelist commented on #23707
Hi 👋🏽 @jevdemon
Thank you so much for posting this issue. We really appreciate it.

I'll work on it this sprint and report back my proposal for the code fix in a pull requet.

[2021-05-04 05:11] palapiessa opened #24024 "Great and helful information, thanks."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c123f1f-8ae8-db21-2eac-4297bfc30b44
* Version Independent ID: 4675decb-333f-0508-5a3d-ce71dc85936d
* Content: [Unit testing C# with MSTest and .NET Core - .NET](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest)
* Content

[2021-05-04 05:11] #24024 closed

[2021-05-04 13:00] GHoltmann opened #24027 "Azure Training issue"
Hi Guys, good job, you made a very clear guideline about object detection and machine learning. I went thorugh the steps you described, but I am stuck at the model training with a resource issue in Azure.  I get a very general error 'Resource {dataName} is in conflicting state.' at the azure execution. To work around the issue, I´ve done some resources recreation and several different tests. still

[2021-05-04 13:36] lbosquett opened #24029 "Wrong type definition for IDataView"
Hi, I think that the type definition here is wrong because IDataView is a interface

either text files or in real time (for example, SQL database or log

Should be:

load either text files or in real time (for example, SQL database or log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02db

[2021-05-04 13:39] BenjaminMichaelis commented on #24002
More discussion at #23032

[2021-05-04 14:15] luisquintanilla commented on #24029
Thanks @lbosquett for raising this issue and @Youssef1313 for putting in the PR.

[2021-05-04 14:16] #24029 closed

[2021-05-04 14:23] IEvangelist opened #24032 "Update existing dotnet/repos that rely on the .NET version sweeper"
Update existing dotnet/repos that rely on the .NET version sweeper, targeting a specific version. Instead, have them target `@main` to benefit from implicit updates.

- [x] [Fix bug in sweeper](dotnet/versionsweeper#54)
- [x] [Fix dog-food.yml](dotnet/versionsweeper#55)
- [x] [dotnet/docs](#24033)
- [x] [dotnet/samples](dotnet/samples#4582)
- [x] [dotnet/dotnet-api-docs](dotnet/dotnet-api-docs#671

[2021-05-04 14:30] IEvangelist commented on #23804
Hi 👋 @TheBewilderedCoder
Thank you so much for posting this issue. We really appreciate it. I just tried re-creating this issue and I'm not able to.

Did you install the required Visual Studio extension?

https://marketplace.visualstudio.com/items?itemName=ConnieYau.NETPortabilityAnalyzer

Without this, there is no context menu. I just installed it, and I have it.

![image](https://user-images.git

[2021-05-04 15:09] BillWagner commented on #24012
ping @Maoni0

Can you answer the above question?

[2021-05-04 15:34] BenjaminMichaelis opened #24035 "Environment.NewLine Property example update"
In [Environment.NewLine Property](https://docs.microsoft.com/en-us/dotnet/api/system.environment.newline), the example itself doesn't use string interpolation and I think could be updated to use that and would make the example become more clear and then also align with tutorials such as the [visual studio c# tutorial](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio). Happ

[2021-05-04 15:46] #23707 closed

[2021-05-04 15:49] BillWagner opened #24037 "Record reference should include attribute target for positional records"
Positional records can include the `field:` or `property:` attribute target on the primary constructor in order to apply attributes to the field or property generated from those parameters. (You can also apply the `parameter:` but that is the default).

In addition, this content should be linked from the following locations:

- Attributes that affect compilation, in the section on AttributeUsage
-

[2021-05-04 15:49] BillWagner commented on #24037
/cc @tdykstra Which JSON sample makes the most sense for linking to the new content for this issue?

[2021-05-04 15:58] scottaddie commented on #24037
[Shayne's tweet](https://twitter.com/spboyer/status/1389585778733469701?s=20) provided an example of using this with MongoDB. The team should consider updating the 5.0+ versions of the [web API MongoDB tutorial](https://docs.microsoft.com/aspnet/core/tutorials/first-mongo-app?view=aspnetcore-5.0&tabs=visual-studio) to show this feature off.

[2021-05-04 17:05] Youssef1313 commented on #24037
@BillWagner I think the records reference should also include the ability of documenting the primary constructor through `/// <param name="ParamName"></param>`. Is it okay for this to be tracked in this issue or should I open a separate issue?

[2021-05-04 17:07] BillWagner commented on #24037
Thanks @Youssef1313

Let's address it as part of this issue.

[2021-05-04 17:46] mrahhal commented on #24018
This can be closed since we'll be reusing one of the values.

[2021-05-04 17:47] Youssef1313 commented on #24018
In that case I think it makes sense if the docs is updated to explain the option, since the option name is no longer fully descriptive.

[2021-05-04 17:56] IEvangelist opened #24039 "Create an article that details `DOTNET_` prefixed env variables"
Create an article detailing environment variables prefixed with `DOTNET_`, their possible values, and their meaning:

Non-test relates results based on this [grep.app search](https://grep.app/search?q=DOTNET_&case=true&filter[repo][0]=dotnet/runtime&filter[lang][0]=C%23).

- [PhysicalFileProvider](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.FileProviders.Physical

[2021-05-04 17:59] davmason commented on #20871
Hi @ivo-stoilov

We have some docs over in the runtime repository: https://github.com/dotnet/runtime/tree/main/docs/design/coreclr/profiling

This one might be particularly interesting on how to get a profiler attached to the runtime: https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/profiling/Profiler%20Loading.md

For getting started building a profiler, the easiest way would be to

[2021-05-04 18:38] #22856 closed

[2021-05-04 18:48] gewarren commented on #24039
For .NET 6 preview 4, all .NET environment variables are prefixed with DOTNET_ (see https://github.com/dotnet/runtime/pull/50507). Is this issue to create a single reference for all of them? Or is it for a specific area? We already have a bunch scattered throughout the docs, e.g. https://docs.microsoft.com/en-us/dotnet/core/run-time-config/#environment-variables. (https://github.com/dotnet/docs/pu

[2021-05-04 18:51] DickBaker opened #24041 "Pattern mat docs f/b"
1. I HATE those examples with gash trailing "," as it looks like you forgot something, especially bonkers after the final catchall "_"
2. the Type tests could simply be "(heldReference as IDisposable)?.Dispose();" without if{} and extra variable
3. relational patterns doesn't have explicit "_" catchall [needs more brain cycles to validate all cases). I suggest
string WaterState(int tempInFahrenhei

[2021-05-04 19:38] Maoni0 commented on #24012
the non-deterministic-ness of finalization comes from the fact that GC decides when to clean up your object after it's eligible to be reclaimed therefore you don't know when your finalizer will be called. it's not related to how the finalization data structure is implemented. I have a blog entry that writes about the [internals](https://devblogs.microsoft.com/dotnet/finalization-implementation-det

[2021-05-04 20:19] Youssef1313 commented on #22928
@gewarren You already fixed that in https://github.com/dotnet/docs/pull/23241. This can be closed now.

[2021-05-04 20:32] Youssef1313 opened #24044 "Roslyn API reference isn't showing any versions under versions selector"
The version selector is disabled:

![image](https://user-images.githubusercontent.com/31348972/117066070-8f55e400-ad28-11eb-9e80-0dc5f8917f38.png)

cc @BillWagner

[2021-05-04 20:35] AIZ-THerring opened #24045 "What to use instead?"
If we shouldn't use BinaryFormatter to serialize/deserialize object graphs that implement ISerializable, what *should* we use?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4a9e65f-dc69-2d49-763a-3ef41bd055ae
* Version Independent ID: 52919538-8a37-e4fa-2483-607c220e7ea2
* Content: [BinaryForma

[2021-05-04 20:36] tdykstra commented on #24035
The code is on GitHub (locations shown below) and you can submit a PR, but (a) the current code has the advantage of requiring Environment.Newline to be spelled out only once for 3 line breaks and (b) changing only C# would make that snippet out of sync with the C++ and VB ones.

https://github.com/dotnet/dotnet-api-docs/blob/main/samples/snippets/csharp/VS_Snippets_CLR/Environment.NewLine/CS/newl

[2021-05-04 20:40] tdykstra commented on #24037
https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-immutability?pivots=dotnet-5-0#immutable-types-and-records

[2021-05-04 21:03] tdykstra commented on #21982
@kevinchengcz Thanks for pointing that out, you are correct. We'll fix it the next time we're updating the article, or you're welcome to submit a PR if you'd like to.

[2021-05-04 21:08] tdykstra commented on #22042
Ping @mavasani

[2021-05-04 21:37] tdykstra commented on #22273
See the discussion here: https://stackoverflow.com/questions/32891627/should-webexception-response-getresponsestream-be-close-disposed

[2021-05-04 21:41] GrabYourPitchforks commented on #24045
There's a section in that document labeled _Preferred alternatives_ that lists alternative inbox serializers.

[2021-05-04 22:01] tdykstra commented on #22288
I don't see this exception in the documentation for [File.Replace](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.replace?view=net-5.0#System_IO_File_Replace_System_String_System_String_System_String_). Is this still an issue?

[2021-05-04 22:17] tdykstra commented on #22299
@daly-skander It isn't clear to me what the issue is about from the title. Can you please provide details explaining the scenario and what is missing or incorrect in the documentation?

[2021-05-04 22:37] tdykstra commented on #22364
@elinor-fung Can you help with this question?

[2021-05-04 22:40] tdykstra commented on #22403
@jkoritzinsky Can you help with this question?

[2021-05-04 22:42] #22454 closed

[2021-05-04 22:56] joshudson commented on #22288
@tdykstra Nope. Somebody fixed it between then and now.

[2021-05-04 22:56] #22288 closed

[2021-05-04 23:18] nemrism commented on #15006
Let's try with this 1st one.
Could you have a look @adegeo?

[2021-05-04 23:33] BenjaminMichaelis commented on #24035
With that, is this a worthwhile change then?

[2021-05-05 02:30] tdykstra commented on #24035
I think it could be worthwhile but I would change it to one instance of NewLine, something like "line 1{NewLine}line2". That would require updating the intro text for the example, which you can find here - https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System/Environment.xml#L1611

[2021-05-05 02:56] Reapism opened #24048 "[Question] How can we manipulate the default JsonSerializerOptions"
How can we manipulate the default `JsonSerializerOptions` thats provided under the hood in .NET 5.

I am specifically using `.NET 5` `Web API`.

In a web project using `MVC`, this would work. What's the equivalent in a Web API project that doesn't use the MVC middleware?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-05-05 02:59] Reapism commented on #24048
The solution is to add it via
`services.AddControllers().AddJsonOptions(c => c.JsonSerializerOptions = GetJsonSerializerOptions())`

[2021-05-05 02:59] #24048 closed

[2021-05-05 04:00] adegeo commented on #23979
Hello!

WSL runs a linux kernel (in a VM based on your version), just use the instructions for the kernel. For example the Ubuntu WSL, use the normal install instructions that adds the MS package feed and installs through APT.

Hope this answers your question. Let me know if there is anything else I can help you with.

[2021-05-05 04:00] #23979 closed

[2021-05-05 04:18] adegeo commented on #23914
I've finished the VSCode and Visual Studio versions. I need to get the MacOS screenshots though.

[2021-05-05 04:35] adegeo commented on #24045
It looks like this question is answered. I'll close the issue. Please reopen it if you need more information.

[2021-05-05 04:35] #24045 closed

[2021-05-05 06:59] jamsoft commented on #21503
I've just crashed hard into this too.

[2021-05-05 11:11] spazmodius commented on #22273
Unfortunately, that accepted answer (and comments) are unhelpful.  The [unaccepted answer ](https://stackoverflow.com/a/43131178)offers insight, though.

[2021-05-05 12:23] puchs opened #24052 "CA2248 message is misleading or wrong"
Visual Studio will flag the two calls of HasFlag in the following small test program with CA2248:
Message	CA2248	This call will always returns 'false' because the enum type 'NoFlags' is not marked with 'FlagsAttribute'

[code]

But the result will actually be "True True". This means that it always returns true for the "0" flag ("One" in this case.) and it will return true if one asks for the actua

[2021-05-05 12:50] IEvangelist commented on #24039
Yeah, I was thinking it would be nice to have a single article that brings them all into one place and details what they are and how they're used. I did not know that all of these are being transitioned over, I believe that strengthens the case for this article.

[2021-05-05 12:54] #17274 closed

[2021-05-05 13:30] BillWagner commented on #24044
What URL are you looking at @Youssef1313 ?  The version selector shows for me on [this pate](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.diagnosticdescriptor?view=roslyn-dotnet-3.9.0)

![image](https://user-images.githubusercontent.com/493969/117148741-8561ce80-ad84-11eb-9f19-a9cdcb0d146d.png)

[2021-05-05 13:35] BillWagner commented on #24012
Thanks @Maoni0

I'll close this as an answered question.

[2021-05-05 13:35] #24012 closed

[2021-05-05 13:43] adegeo commented on #23362
@rbhanda  pint

[2021-05-05 13:49] BillWagner commented on #24041
You make some valid points @DickBaker I'll address each of them below:

1. The trailing `,` is a mild recommendation for patterns. It makes rearranging switch arms easier (per your point 6). This should stay as is.
2. That's valid. Do you have a better canonical example that is easy to understand quickly? My other thought was using `IEnumerable<T>` and `Count()`, replacing with `IList<T>` and `Cou

[2021-05-05 14:00] #23931 closed

[2021-05-05 14:13] #23985 closed

[2021-05-05 14:29] adegeo commented on #24052
@puchs Hello! The documentation here seems correct, and the problem is Visual Studio is reporting the wrong suggestion/error, correct? If so, please close this issue and use the Feedback tool in Visual Studio to report this problem. Thanks!

[2021-05-05 14:38] adegeo commented on #23380
I believe this issue can be closed.

[2021-05-05 14:38] #23380 closed

[2021-05-05 14:46] adegeo commented on #23957
@Mahesh-MSFT Hi there. Can you investigate the `My-sample-app-that-uses-tool` and see if the tool is:

1. Cached there (is there a `.tool` folder or something?)
2. Is the app referencing some sort of hash of the tool that is regenerated?
3. What is in the `%userprofile%\.dotnet\tools` folder?

[2021-05-05 14:54] Mahesh-MSFT commented on #23957
thanks @adegeo . i managed to git rid of the problem by running `dotnet nuget locals all --clear`.

[2021-05-05 14:57] adegeo commented on #23873
Thank you for this feedback! I'll get it fixed.

[2021-05-05 15:49] tdykstra commented on #22688
@plooploops Can you help with this issue?

[2021-05-05 16:00] tdykstra commented on #22688
@chaseoc Thanks for this feedback.  Where do you see `:ro` in the article?

[2021-05-05 16:16] tdykstra commented on #22901
@Rick-Anderson Who could help with this / should we transfer it to the ASP.NET Core repo?

[2021-05-05 16:17] chaseoc commented on #22688
@tdykstra Don't see it anymore so maybe it was removed or I was mistaken. Either way this should be resolved now.

[2021-05-05 16:17] #22688 closed

[2021-05-05 16:18] tdykstra commented on #22902
Closing since it's a duplicate of https://github.com/dotnet/docs/issues/22613

[2021-05-05 16:18] #22902 closed

[2021-05-05 16:24] tdykstra commented on #22946
ping @shirhatti

[2021-05-05 16:40] tdykstra commented on #23081
cc @Rick-Anderson

[2021-05-05 17:16] tdykstra commented on #23398
@LakshanF Can you help with this question?

[2021-05-05 17:37] Rick-Anderson commented on #23081
@hjred I cannot reproduce the problem. It works fine.

[2021-05-05 18:00] Rick-Anderson commented on #22901
Create the simplest possible project on a public GitHub repository that reproduces the issue. After that we can transfer the issue to https://github.com/dotnet/aspnetcore/issues

[2021-05-05 18:08] tdykstra commented on #23788
@sywhang Can you help with this question?

[2021-05-05 18:10] hjred commented on #23081
Some additional info:

I am using a lorem-ipsum.txt with 1001 lines in it (the same text repeated over and over again until 1.001 lines are used.

When using the original code from the docs and running the executable via Visual Studio (with and without debugging) or cmd.exe the following happens:
1. The content of the file is printed over and over. When redirecting the output to a text file this f

[2021-05-05 18:13] tdykstra commented on #23876
Closing as duplicate of https://github.com/dotnet-architecture/eShopOnWeb/issues/524

[2021-05-05 18:13] #23876 closed

[2021-05-05 18:17] tdykstra commented on #23877
@mjrousos Can you help with this question?

[2021-05-05 18:32] hjred commented on #23081
I tested again using only a single repetition and the original code. The exception and the duplication of the output are still happening.

See attached output.txt
[output.txt](https://github.com/dotnet/docs/files/6429415/output.txt)

I am still wondering where the three question marks are coming from ...

[2021-05-05 18:41] #23835 closed

[2021-05-05 19:28] #23785 closed

[2021-05-05 19:38] adegeo commented on #23569
Hello! I don't believe there should be a problem. The `wc` variable holding the event goes out of scope when the method returns and will be collected by the garbage collector.

[2021-05-05 19:38] #23569 closed

[2021-05-05 19:51] Rick-Anderson commented on #23081
No repo with 5K lines.

[2021-05-05 20:04] adegeo commented on #23333
Thank you for opening this issue. I'll add it to the backlog. @IEvangelist I think it's confusing as to where that method should be put. Everything else features a class.

Thanks again!

[2021-05-05 20:07] shoter commented on #23877
It's not a question per se but rather a call to improve the documentation. Resolving question is not helpful compared to improving documentation on how to set authentication properly.

Thing that did not work for me with that example:
I need to change default challenge schema to:
[code]
It's a pity schemes differences were not addressed here especially when there is openId default auth schema.

It

[2021-05-05 20:17] #23995 closed

[2021-05-05 20:22] #24032 closed

[2021-05-05 20:29] adegeo commented on #23311
Closing this as it seems resolved

[2021-05-05 20:29] #23311 closed

[2021-05-05 21:03] Youssef1313 commented on #23380
@adegeo I think we need to add the new metadata for all samples.https://github.com/dotnet/samples/pull/4583 adds it only for 2 samples.

[2021-05-05 21:06] Youssef1313 commented on #24044
@BillWagner Looks like it's fixed now.

[2021-05-05 21:06] #24044 closed

[2021-05-05 21:14] adegeo commented on #22302
@KalleOlaviNiemitalo It doesn't seem that I can transfer this issue. Can you please recreate it at https://github.com/PowerShell/PowerShell/issues

Thanks!

[2021-05-05 21:14] #22302 closed

[2021-05-05 21:39] adegeo commented on #23603
Unfortunately we don't have a full sample available. Some of the code snippets were taken from https://github.com/dotnet/docs/blob/main/samples/snippets/csharp/VS_Snippets_VBCSharp/VbRadconService/CS/MyNewService.cs

That might help you but it's very very very old code and was originally written in a less user-friendly way. So it's not exactly a complete example.

To help you, it would be much eas

[2021-05-05 21:40] adegeo commented on #23380
That PR is just to test to make sure that it actually does indeed add the button 😄 Then we'll know and can go from there.

[2021-05-06 00:43] lovettchris opened #24062 "typo "or processes streaming data""
The phrase "or processes streaming data" doesn't work, it should be "or process streaming data"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b6a9320-b371-fb09-970b-d80c5575bbfc
* Version Independent ID: 91ab0a15-15c3-8c5a-90f1-82ddb347d463
* Content: [What is Apache Spark?](https://docs.microsoft.com/en-us/dotnet/sp

[2021-05-06 03:51] MelbourneDeveloper commented on #22997
Apologies if my words above were harsh. Again, this was my sense of humor and not supposed to be taken literally.

I think the original documentation is fair:

I think it's just worth noting that many people will end up reaching the documentation in the same way I did: by experimenting with code and then being directed to the docs when surprised.

I'm not sure of the best way to alleviate confusio

[2021-05-06 04:37] ChXIII opened #24063 "Syntax for properties can be improved in terms of attributes for get and set"
1. Main syntax (first one) lacks `[ attributes-for-get ]` and `[ attributes-for-set ]`, though it definitely [supports](https://sharplab.io/#v2:DYLgZgzgNALiCWwoBMQGoA+B7ADgUwDsACAZQE8IY8BbAWACgYz8iAxLLACgEoiBeIgyJFqNAEZ4ATkQD6AOgCCg+sNVEA7vBgALIgG0APAHkxELMDxUAfAF0iAc0s9+RAIzK1wgIYFkwwyZmFtZ2EJZEnABuIETwBDC8AjxAA==) them.
2. Alternative syntax (second one) mentions the same [ attributes-for-get ]

[2021-05-06 06:49] CyrusNajmabadi commented on #22997
Sure. That intuition is totally reasonable. And I do think we should have good docs explaining what's actually going on and why.

The crux of the matter is simply that such behavior doesn't help any code it out there. Indeed, it's worse as it means users will get nrt warnings and errors on *good* code using good coding techniques and patterns.

That goes very against the letter and spirit of nrt.

[2021-05-06 07:45] #24052 closed

[2021-05-06 09:05] Dave-Lowndes commented on #22997
Might some concise code examples help explain your perspective (possibly in a more in-depth article linked from the var document), because it's still not clear to me.
As has been mentioned, I also think most people are not going to expect var to be nullable in these circumstances - I was very surprised by it and assumed it was an error.

[2021-05-06 10:13] lukos opened #24065 "Should point out the obvious disadvantage with Windows Containers"
This article pretty much says, use .Net 5 if possible but in some scenarios, you need to use Windows Containers.

1. Dotnet core 2/3 might be a more sensible choice over .Net 5, there are many breaking changes so .Net 5 is not always an option
2. Windows server containers are MUCH larger than Linux running dotnet core and this should be stated since it is a significant factor in deciding when to m

[2021-05-06 12:45] DougAtClir opened #24067 "Documentation unclear"
The sentence "The binding redirects are added to the output configuration (app.config) file when the app is compiled and override the assembly unification that might otherwise take place" should be broken into two sentences for clarity.

 The "..and override the assembly unification that might otherwise take place" is confusing and awkward at best.

---
#### Document Details

⚠ *Do not edit this s

[2021-05-06 12:51] IEvangelist commented on #21006
Reviewed... all is good, numbers look good, clicks, etc. It was recently updated anyway.

[2021-05-06 12:51] #21006 closed

[2021-05-06 14:48] adegeo commented on #24067
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2021-05-06 14:50] #23333 closed

[2021-05-06 16:09] pedrobarbs commented on #24012
Thanks y'all! I apareciate those shared knowleges @Maoni0! Great article.

[2021-05-06 16:13] BillWagner opened #24068 "Method parameter names scoping change for `nameof`"
Proposal is here: [nameof(parameter)](https://github.com/dotnet/csharplang/issues/373)

A motivation for this is to enable nameof to name a parameter in an attribute constructor.

Effectively, the `nameof(p)` could find `p` as a parameter name to a function defined in the current scope.

Tasks:

- [ ] Update the nameof language reference page to show the new example.

[2021-05-06 16:20] zspitz opened #24070 ""Variable declaration can be inlined" even when used by multiple cases in a switch"
I have code like the following:
[code]
The analyzer recommends inlining the variable in the first case of the `switch`:
[code]
but if I do that, the variable isn't available to the other cases in the switch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fce4950-f4e0-2383-264a-166a6a35b38f
* Version Independent ID: 35

[2021-05-06 18:16] karenpayneoregon opened #24075 "UnixEpochDateTimeConverter issue"
Using Unix epoch date format UnixEpochDateTimeConverter method does not return a proper date time. See unit test method in the following GitHub repo

https://github.com/karenpayneoregon/power-shell-process-cs/tree/master/JsonUnitTestProject

[code]
Feeding json from PowerShell

[code]
Container

[code]
[code]
Results:

[code]

`OsLocalDateTime: 5/6/2021 6:13:12 PM --> 5/6/2021 11:13:16 AM`

Using

[2021-05-06 18:24] hjred commented on #23081
This is the full solution + project. Maybe you can try to repo with this
[PipelinesTest.zip](https://github.com/dotnet/docs/files/6436871/PipelinesTest.zip)

[2021-05-06 18:30] Rick-Anderson commented on #23081
@hjred  that runs with no errors

[2021-05-06 18:40] hjred commented on #23081
Hmm,  strange. So it then seems to only throw an exception that is not reported back to main ... For now I am out of ideas.

[2021-05-06 18:45] Rick-Anderson commented on #23081
Try it with .NET 6

[2021-05-06 18:45] #23081 closed

[2021-05-06 18:52] hjred commented on #23081
Maybe when it is released. Because of external tooling for a third-party project I am forced to non-preview versions only.

[2021-05-06 19:05] Rick-Anderson commented on #23081
Do you see that problem on more than one machine? Why don't you test on windows sandbox?

[2021-05-06 19:15] BillWagner opened #24076 "Allow Interpolated strings to be `const` declarations"
[Constant interpolated strings](https://github.com/dotnet/csharplang/issues/2951)

If all the placeholders are constants, an interpolated string can be a constant as well.

- Update interpolated strings tutorials for constant declarations
- Update `const` language reference
- update programming guide discussion of constants

[2021-05-06 19:19] hjred commented on #23081
So you mean repo on another machine or the tooling/third-party project on something like VirtualBox? I don't have access to another Windows machine, so could only test on this machine, apart from using a virtual machine

[2021-05-06 19:22] CyrusNajmabadi commented on #22997
Sure.  Though i'll turn it around on you.  Can you give an example why that's not desirable to do it this way.  Let's look at a very simple sort of coding pattern (note thsi is just one of many):

[code]

This is an example of perfectly readable, sensible, idiomatic C# code.  Both methods do not want null to flow into them, and so are marked as taking just a non-null `Node`.  in the body of the fi

[2021-05-06 19:22] Rick-Anderson commented on #23081
Just run it on windows sandbox on your machine, that's a new/clean machine

[2021-05-06 19:23] BillWagner opened #24077 "Record types can seal `ToString`"
[Sealed record ToString](https://github.com/dotnet/csharplang/issues/4174)

This would allow a base record to seal `ToString` and therefore provide a single implementation to be shared by all derived records.

The following articles will need updates:

- Language reference for records
- Records tutorial
- Fundamentals article on types and records (still in progress)

[2021-05-06 19:29] BillWagner opened #24078 "What's new article for C# 10"
Create the What's new article for C# 10. With each preview release, update its content based on what features are merged.

[2021-05-06 19:42] BillWagner opened #24080 "Move and retire "What's new in C# 7.x""
As the last task of this project, the current C# 7.x what's new content should move to the appropriate location in the C# guide. It's no longer ✨ New ✨

[2021-05-06 19:43] hjred commented on #23081
Ok, activated Windows Sandbox, installed the .NET Desktop Runtime 5.0.5 inside the sandbox, executed the pre-build app from the host and got the same exception including duplicated output again.
Build the executable inside the sandbox by installing NET 5.0 SDK and executed -> same error with duplication.
Removed NET 5.0 completely, installed NET 6.0 SDK, changed project to net6.0, build again, sti

[2021-05-06 19:45] #24035 closed

[2021-05-06 19:46] Rick-Anderson commented on #23081
What's that? Does the program you suppled work?

[2021-05-06 19:47] hjred commented on #23081
I tried the Pipeline Test code in the Sandbox

[2021-05-06 20:49] Dave-Lowndes commented on #22997
OK, thanks for that example, it does illustrate your point well.
Having said that, I think I'd have preferred to have it not compile without changing current to be nullable (because Parent must be nullable), but maybe that's just me (and others) preferring things to be explicit.
There's no pleasing some folk :)

[2021-05-06 21:58] BillWagner commented on #22997
Good points here.

Any change would be consistent with the way we've described NRT in the [conceptual article](https://docs.microsoft.com/dotnet/csharp/nullable-references).

Reading through these comments, I think adding these points after the quoted sentence would add the clarity needed:

1. Point out that static flow analysis protects against dereferencing a `null` value, even for variables tha

[2021-05-06 22:04] CyrusNajmabadi commented on #22997
Overall i agree with you @BillWagner .  I still land on this just not being something to talk about: You use the explicit type for a non-nullable reference type if you want to ensure that it's never assigned a value that might be null

because i think that then implies to users that that's a way they should be thinking about code.  A core point of NRT here is that you shouldn't necessarily think a

[2021-05-06 22:13] #24062 closed

[2021-05-07 01:08] TysonMN opened #24083 "Unify examples from Explicit Interface Implementation"
I think the example code in this document would be better of the first two blocks of statements were nearly the same.

The first block of statements is
[code]

That is excellent code.  It is very clear.

The second block of statements is
[code]

I think that code would be clearer if it retained the pattern set by the previous code.  Specifically, I think it would be better of that code looked like

[2021-05-07 02:30] nemrism commented on #15006
@adegeo my last one include CPP files, what kind of project file do you generate for these samples?

[2021-05-07 09:04] Youssef1313 opened #24089 "Enhance ReportAnalyzer docs"
I never got it to work without binarylog. Is there a way to get it to work without binarylog? If there isn't, the docs must mention that it should be used combined with bl flag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef35c2-6df4-26f8-32b2-9b50eb76c037
* Version Independent ID: e57ac82b-307e-163b-8172-52644b3a

[2021-05-07 14:09] #23400 closed

[2021-05-07 14:16] soren2013 opened #24091 "Unable to complete "Containerize an app with Docker" tutorial"
I was unable to build the docker image (docker build -t counter-image -f Dockerfile .) using the suggested Dockerfile content "FROM mcr.microsoft.com/dotnet/aspnet:5.0",

I received this error message: "failed to solve with frontend dockerfile.v0: failed to create LLB definition: pull access denied, repository does not exist or may require authorization: server message: insufficient_scope: authori

[2021-05-07 14:16] BillWagner commented on #24070
Thanks for writing this @zspitz

If you accept that recommendation, you'd need to add the `var` declaration in the other switch arms as well:

[code]

I'll close this as an answered question.

[2021-05-07 14:16] #24070 closed

[2021-05-07 14:25] BillWagner commented on #24083
That is a great suggestion @TysonMN

The source for the code is [here](https://github.com/dotnet/docs/blob/main/samples/snippets/csharp/interfaces/ExplicitImplementation.cs) in the same repo.

I'll assign this to you, assuming you still want to create the PR to address it.

[2021-05-07 14:26] BillWagner commented on #24089
Thanks for the suggestion @Youssef1313

Tagging @chsienki in case there's more we should consider here.

[2021-05-07 14:48] adegeo commented on #15006
We just added CPP processing yesterday 😄 I'll get it updated here. You need to have a vcxproj project though.

[2021-05-07 15:04] JasonLWalker opened #24092 "Misspelling on documentation page."
Under the heading "Pascal Case", the section that reads "When naming an inteface, use pascal casing in addition to prefixing the name with an I.", the word "interface" is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3c147e-2271-4d7c-712b-2f705b5ecbc5
* Version Independent ID: 2c1a7cfe-364e-408e-77c1-9fa

[2021-05-07 15:15] nemrism commented on #15006
Any particular constraints or specific syntax to generate the vcxproj project file?

[2021-05-07 15:15] IEvangelist commented on #24091
Hi 👋 @soren2013
Thank you so much for posting this issue. We really appreciate it.

I'll take a look at this right now and report back my findings.

[2021-05-07 15:41] pkulikov commented on #24068
@BillWagner when is a good time to start submitting PRs for C# 10 changes? (I would say: beginning of September?)

[2021-05-07 15:58] adegeo commented on #15006
@nemrism I'm not sure really. I've barely ever touched CPP 😄 I just updated the main branch with the updates to the snippets compile system, I believe you'll need to pull those changes into your working branch.

[2021-05-07 16:45] #23957 closed

[2021-05-07 17:33] #24091 closed

[2021-05-07 20:11] #21412 closed

[2021-05-07 20:15] adegeo commented on #24092
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2021-05-07 20:23] adegeo commented on #23960
If it's related to documentation, do you have the specific article that is misrepresenting how this should work? If it's a bug with .NET, this issue should probably be reported on https://github.com/dotnet/sdk/issues Would you like me to transfer the issue there?

[2021-05-07 20:34] adegeo commented on #23960
Ahh OK. I'll transfer this to the api docs repo.

[2021-05-07 20:45] adegeo commented on #23960
Well apparently I don't have rights to that repo 😢 @gewarren can you do it?

[2021-05-07 20:58] chull434 opened #24095 "Missing documentation for dotnet tool install --tool-manifest option and others"
Hi,

The dotnet tool install documentation is missing --tool-manifest <PATH> option and other options.

dotnet tool install --help shows the full list of options, documentation for this cli command is missing some of the options such as --tool-manifest and a few others, dotnet tool update seems to have the full list of options.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-05-07 21:05] gewarren commented on #23960
This issue was moved to dotnet/dotnet-api-docs#6740

[2021-05-07 21:05] #23960 closed

[2021-05-07 23:12] gewarren commented on #6068
This issue has been addressed.

[2021-05-07 23:12] #6068 closed

[2021-05-08 02:44] karenpayneoregon commented on #24075
I’m not reporting a bug in .NET, instead if the code sample on the page is not working properly so this is an issue with code in the documentation for the page.

The following code on the page does not work as explained in my feedback hence whomever wrote the code below needs to run my code to show the code does not work which means it’s not a .NET bug.

https://docs.microsoft.com/en-us/dotnet/sta

[2021-05-08 14:49] karenpayneoregon commented on #24075
As mentioned in an email (sent to me yesterday) if this was a .NET issue versus documentation, I see this was a incomplete code sample for the converter as stated in the issue. To see what needs to change in code or to keep code `as is` and document it see the [following page](https://github.com/karenpayneoregon/karenpayneoregon.github.io/blob/master/csharp/unixEpochDateFormat.md) and full [source

[2021-05-08 20:09] StingyJack opened #24103 "This page is supposed to be for application dependencies but it only discusses nuget packages"
Project references, assembly references, framework references, user explicit project dependencies (and project build order) all should be covered by this document. (Or this document should be moved into the nuget docs.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f76f1f9-ebac-1b77-f735-52cdf5b973ed
* Version Indepe

[2021-05-08 20:13] lamLeX opened #24104 "`GC.SuppressFinalize(this);` in `DisposeAsync` violates CA1816"
The `GC.SuppressFinalize(this);` in `DisposeAsync` violates https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1816.

Should the CA1816 be updated or we should not really call `GC.SuppressFinalize(this);` in `DisposeAsync`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a961dc-3ebf-2a96

[2021-05-08 20:24] StingyJack opened #24105 "This page should have a link to the GH repo where the CLI is at"
which is https://github.com/dotnet/sdk.

The product feedback link takes us to a dev comm space, which isnt at all useful for reporting defects, making PR's, etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b0701a-2043-4ac8-567a-03c1e35161b2
* Version Independent ID: 60d50636-8086-8d92-9ccc-60b7cecd714a
* Content:

[2021-05-08 23:47] disouzam opened #24107 "A tiny typo in example code - Celsius"
The variable tempInCelcius in the first code snippet should read tempInCelsius to comply with the name of temperature measurement unit.

`string GetWeatherDisplay(double tempInCelcius) => tempInCelcius < 20.0 ? "Cold." : "Perfect!";

Console.WriteLine(GetWeatherDisplay(15));  // output: Cold.
Console.WriteLine(GetWeatherDisplay(27));  // output: Perfect!`

---
#### Document Details

⚠ *Do not edit

[2021-05-09 16:14] RajabMohamedRajab opened #24109 "Ragab"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b8f7c2-379e-7876-0d36-25b06a294baa
* Version Independent ID: 2410c828-0c66-9efe-ae87-9b07708aa731
* Content: [Bitwise and shift operators - C# reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/bitwise-and-shift-o

[2021-05-09 16:15] RajabMohamedRajab commented on #24109
labels now

[2021-05-09 22:41] tdykstra commented on #24103
Thanks for the suggestion, the doc title does seem to imply a broader scope than the actual content. Another option would be to clarify in the title, TOC, and intro text that this article is about package dependencies.

[2021-05-09 23:23] tdykstra commented on #24105
Thanks for the suggestion - this is a good idea.  I agree with @Youssef1313 that it's relevant to all the CLI docs.  We could leave this issue and associated PR #24106 as-is and create a new issue for the others, or broaden the scope of this issue and change the PR accordingly.

[2021-05-10 06:09] russcam commented on #23788
thanks @sywhang!

[2021-05-10 14:18] BillWagner commented on #24068
@pkulikov

I think we can start once these features are available in a public preview.

I'm converting issues to notes when a feature is merged into the main branch in the roslyn repo. That should give us an idea how soon features will be available to use.

[2021-05-10 15:16] Youssef1313 commented on #24104
@lamLeX FYI - The rule was supposed to be fixed in https://github.com/dotnet/roslyn-analyzers/pull/3679.

[2021-05-10 16:06] BillWagner commented on #24107
Thanks for pointing this out @disouzam

I see @pkulikov has already submitted a PR with a proposed fix.

[2021-05-10 16:39] #24107 closed

[2021-05-10 18:07] Youssef1313 commented on #20632
@TheBlueSky Redirects are added in https://github.com/dotnet/docs/blob/main/.openpublishing.redirection.json. But I'm not sure if it's still necessary or if the issue can simply be closed. You could submit a PR for review.

[2021-05-10 20:18] BillWagner opened #24116 "Allow both assignment and new variable declarations in the same deconstruction"
[Mix declaration and assignment in deconstruction](https://github.com/dotnet/csharplang/issues/125)

Currently the left side of a deconstruction must be either all variable declarations, or assignments to existing variables (or a discard). This would allow a mix of declarations and variables on the left side.

- [x] Update deconstruction language reference article.
- [x] Check tuple article for po

[2021-05-10 21:02] tdykstra commented on #22686
This issue as revised was addressed in #23345

[2021-05-10 21:27] tdykstra commented on #24095
Thanks for reporting that, I'm fixing it.

[2021-05-10 22:57] #23868 closed

[2021-05-10 23:37] tdykstra commented on #23591
.NET Framework is a Windows component  -- you can run older 1.1, 2.0, and 3.0 applications when Control Panel says you have 3.5 because versions of .NET are backward compatible.

[2021-05-11 01:36] TheBlueSky commented on #20632
Thank you, @Youssef1313.
Looks like the file is already in the redirection document ([here](https://github.com/dotnet/docs/blob/main/.openpublishing.redirection.json#L12851)).
It is under Visual Basic, however. Not sure if there was a C# (or other) version, but cannot see a file called `advanced-linq-to-xml-programming.md` in the repo or in #16969.

[2021-05-11 01:42] Zaptrix opened #24120 "VB Example Messed up '"
The Example VB Code has messed up apostrophes that cause the code to read incorrectly, some of the comments are colored as code and some of the code is colored as a comment. This can be fixed by having someone change the apostrophes to line up with the actual comments and keep the code in a more readable color coded format.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-05-11 02:18] Youssef1313 commented on #20632
Thanks for looking @TheBlueSky. Indeed the file is already having a redirect, no idea when I didn't find it at the time of writing the issue 😄

I'm going to close the issue. Thanks again for looking.

[2021-05-11 02:18] #20632 closed

[2021-05-11 05:12] Youssef1313 commented on #24120
This is a known issue in the highlighting library used across the docs site.

cc @IEvangelist

[2021-05-11 12:20] explorest opened #24124 "How can "services" and "configurationRoot" be accessed in the same call ?"
The following code appears multiple times on the page,

`services.Configure<TransientFaultHandlingOptions>(
    configurationRoot.GetSection(
        key: nameof(TransientFaultHandlingOptions)));`

The problem is that we have access to the "**services**" collection only in the body of delegate passed to IHostBuilder.ConfigureServices() .... when we make the following call:

`IHostBuilder.Configure

[2021-05-11 12:47] #24092 closed

[2021-05-11 15:09] markachus opened #24125 "Typo"
"This makes it possible to define equality somewhat differently than for DateTimeOffset values" should read
"This makes it possible to define equality somewhat differently than for **DateTime** values"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42536391-9929-ac2b-eee1-b7f26f86ca4e
* Version Independent ID: 7077b965

[2021-05-11 15:28] fterrani opened #24126 "JSON deserialization behavior regarding private/protected/internal set properties"
The page mentions that

This is of course a very useful information but I think it could use more precision.

The deserialization works even if the class only has a `private` parameterless constructor, so I was expecting that maybe a property with a `private`/`protected`/`internal set` accessor would be populated.

It seems however that it is not the case according to my (basic) tests: the only `s

[2021-05-11 18:04] tdykstra commented on #22904
@LakshanF Is there anything more we should say about IIS support, or just add a note that single file deployments aren't supported?

[2021-05-11 22:26] tdykstra opened #24133 "Add IsPublishable documentation"
See https://github.com/MicrosoftDocs/visualstudio-docs/issues/6643 and https://github.com/dotnet/project-system/pull/7165

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independent ID: 64b80e80-1c15-c293-466a-918de98e96f6
* Content: [MSBuild properties for Microsoft.NET.Sd

[2021-05-11 23:39] #24019 closed

[2021-05-12 02:56] luisguerrerolab opened #24137 "Add extra context on integration events"
I believe there should be a direct way to connect the content about integration events with this line in the documentation for the [Event Sourcing pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/event-sourcing):

You have already added a lot of context all around this guide. It's just that I would _personally_ found this link useful, as I'm building my knowledge around Event

[2021-05-12 04:32] michaldobrodenka opened #24138 "Broken download links"

[2021-05-12 09:18] csaba-sagi-sonarsource opened #24193 "Structs and records as indexer parameter type"
**Help us make content visible**

I found the following guideline for [Indexed Property Design](https://github.com/dotnet/docs/blob/main/docs/standard/design-guidelines/property.md).

The guideline states the following: AVOID indexers with parameter types other than System.Int32, System.Int64, System.String, System.Object, or an enum.

So my question is what about structures and records? Should th

[2021-05-12 12:54] BillWagner commented on #24138
@richlander Do you know what the updated links should be?

[2021-05-12 12:55] BillWagner commented on #24193
ping @IEvangelist Do you know of any updates on this guidance?

[2021-05-12 13:01] #23003 closed

[2021-05-12 13:03] michaldobrodenka commented on #24138
Unfortunately no, I ended by compiling dotnet-stack from source

[2021-05-12 13:51] IEvangelist commented on #24193
Hi @BillWagner - no, I'm **_not_** familiar with any updates to that guidance, and it feels as though it wouldn't make sense to include a `struct` or a `record` as an indexer. If you take a step back and think about it, these have value comparison semantics - great, but using them as a key on an indexer does what exactly? The indexer property is intended to be used to access a value, whereas using

[2021-05-12 14:20] cranml opened #24195 "Migrate from Newtonsoft.Json to System.Text.Json Epoch DateTime/Offset example RegEx"
I'm probably missing something so forgive me if I am. I'm converting some legacy code and I have the following code sample for simplicity sake

[code]
I was wondering if my case is applicable to the example supplied or if I need to handle dates before 1970 (date of birth for example) a little differently (or if its a typo in the regex supplied on this page). The reason being the JsonException is a

[2021-05-12 14:31] SDmorgan opened #24196 "Please provide Lambda examples"
Please provide Lambda examples as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8fbdf8-317e-2c98-972e-180ff8b5a2b3
* Version Independent ID: 6389f1e8-d48b-3b16-bbc1-fe1711eb0177
* Content: [Perform inner joins (LINQ in C#)](https://docs.microsoft.com/en-us/dotnet/csharp/linq/perform-inner-joins)
* Content Sour

[2021-05-12 14:35] IEvangelist opened #24197 "Fix build error: `XmlTextReader` instance created with insecure default settings."
Address build errors discovered in https://github.com/dotnet/docs/pull/24186#issuecomment-839818905.

[2021-05-12 14:36] csaba-sagi-sonarsource commented on #24193
HI @IEvangelist, thank you fir the quick answer and the nice example.

I created a simplified example with structs. It is similar to a use case I saw at my previous company while working with industrial equipment and communication protocols. Please take a look at the example and feel free to give me a feedback why such an indexer should or should not be used.

[code]

[2021-05-12 14:50] IEvangelist commented on #24193
Hi again @csaba-sagi-sonarsource - that's an interesting use case and it does feel valid. I'd probably suggest that the `struct` should be made `readonly`, but other than that - I'm not too worried about that as that key to an indexer. I'd be curious if there should be any guidance as to the size of the struct or record, or if that should matter. Here is a [sharplab.io with your code](https://shar

[2021-05-12 15:09] MartinDavidWaller opened #24198 "TF_StringEncodedSize"
Hi,

I've worked through this example code and the code all compiles but I get the error:

System.EntryPointNotFoundException
  HResult=0x80131523
  Message=Unable to find an entry point named 'TF_StringEncodedSize' in DLL 'tensorflow'.
  Source=<Cannot evaluate the exception source>
  StackTrace:
<Cannot evaluate the exception stack trace>

On the line:

ITrasnformer trainedModel = trainingPipeli

[2021-05-12 15:18] toddalbers opened #24199 "Small Suggestion Regarding "Correction Comments" in Compiler Error Code Articles (Like this one for CS0230)"
I really that when Visual Studio gives an error code, it also provides that error code as a hyperlink to the official MS article about that specific error code.  And I like that these articles provide an example of C# code that generates the error and that the correction for the error is also provided in comments.

This is often exactly what a coder wants and all they need: A quick example of code

[2021-05-12 15:21] KSchlobohm opened #24200 "Recommend latest version of Microsoft.XmlSerializer.Generator"
Update samples to use latest NuGet package reference and to include a notation that the latest version is always recommended.

Would also be helpful to include a subsection that describes how to use Xml Serializer Generator in projects that are multi-targeting net48 and net5.0 on projects that are in a hybrid state while migrating.

I believe this can be accomplished using a csproj similar to:

[c

[2021-05-12 15:44] #19403 closed

[2021-05-12 15:45] #21982 closed

[2021-05-12 16:08] luisquintanilla commented on #24198
Hi @MartinDavidWaller

Sorry to hear you ran into issues. Can you try setting the `Microsoft.ML.Vision, SciSharp.TensorFlow.Redist` NuGet package version to 2.3.1.

[2021-05-12 16:24] MartinDavidWaller commented on #24198
Hi Luis,

Many thanks for the quick response to my problem.

Yes, that sorted it. I now have the code ‘being trained’!

I’ve been a developer all my working life but the Machine Learning is all new to me so I’m on a learning curve which is exciting!

Many thanks

Martin

From: Luis Quintanilla ***@***.***>
Sent: 12 May 2021 17:09
To: dotnet/docs ***@***.***>
Cc: Martin David Waller <Martin@The-Wal

[2021-05-12 17:37] tdykstra commented on #24195
Thanks for reporting that bug in the sample code.  Try  this regex -- "^/Date\\(([+-]*\\d+)\\)/$"

[2021-05-12 18:02] #24198 closed

[2021-05-12 18:41] #24133 closed

[2021-05-12 18:50] #24095 closed

[2021-05-12 18:51] #24195 closed

[2021-05-12 19:10] tdykstra commented on #24125
Thanks for reporting that @markachus !

[2021-05-12 19:45] #24125 closed

[2021-05-12 21:38] stewartadam opened #24211 "Document valid values for AnalysisMode"
See discussion here: https://github.com/dotnet/roslyn/issues/49250#issuecomment-760416810

From @mavasani:

[This docs](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/predefined-configurations) page references the presets bundled in `Microsoft.CodeAnalysis.NetAnalyzers`. If a user goes digging into that, they'll find editorconfig files with names like 'recommended', 'none', 'de

[2021-05-12 21:49] tdykstra opened #24212 "Update System.Text.Json documentation for .NET 6"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa0ecfe-59eb-506f-93c6-bd0883acdb84
* Version Independent ID: fd70dc81-79db-0183-af38-7b8059bbe050
* Content: [Serialize and deserialize JSON using C# - .NET](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-overview)
* Content Source: [docs/

[2021-05-12 22:10] gewarren opened #24213 "Redundant breaking changes page?"
This page seems redundant with https://docs.microsoft.com/en-us/dotnet/core/compatibility/. If nothing else, we should at least link between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ba86da6-e986-f552-62ce-d6d164230ef1
* Version Independent ID: 171fb71c-ceea-ed03-c047-cc35e571f055
* Content: [Breaking chang

[2021-05-12 22:31] JamesNK commented on #24213
The library guidance breaking changes page should link to https://docs.microsoft.com/en-us/dotnet/core/compatibility/

[2021-05-12 23:25] #24213 closed

[2021-05-13 03:13] mavasani commented on #24211
Thanks @stewartadam. This is a duplicate for https://github.com/dotnet/docs/issues/23904. I plan to add this documentation soon.

[2021-05-13 07:36] Youssef1313 commented on #24199
Thanks for opening this @toddalbers

I think it's better to not include the correction in the same snippet, but a new snippet under a new heading. Similar to [CS1721](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1721).

[2021-05-13 07:45] Youssef1313 commented on #24193
From language perspective, there is nothing wrong with using anything as indexer parameter. However, I tend to agree with the guidelines that using anything other than a numeric type is usually a bad idea.

For your case, I feel it's more natural to  an `IDictionary<

[2021-05-13 07:56] ivo-stoilov commented on #20871
Hello @davmason, many thanks for the useful articles. My question is more liely related to

[2021-05-13 07:59] Youssef1313 commented on #24138
@michaldobrodenka Until the aka.ms links are fixed, here are the download links from the [release notes](https://github.com/dotnet/diagnostics/releases/tag/v5.0.221401).

| OS | Platform
| -- | -- |
| Windows | [x86](https://download.visualstudio.microsoft.com/download/pr/86313-20210421-01/F6FF05A7AB29307D90BA0710349CBEA7DF907F6AF6FFDF3332FABEA4683A62E7/dotnet-stack.exe) \| [x64](https://download.

[2021-05-13 09:37] davmason commented on #20871
The coreclr headers are not shipped as part of the Windows SDK. You can find the latest profiler header at https://github.com/dotnet/runtime/blob/main/src/coreclr/pal/prebuilt/inc/corprof.h.

The headers besides corprof.h don't change much, so most people I talk to copy corprof.h in to their project and use the Windows SDK headers for the rest (e.g corhdr.h).

[2021-05-13 11:04] ivo-stoilov commented on #20871
Thanks @davmason, it is exactly what I did and now I have the confirmation that it is the right approach. The issue can be closed as resolved.

[2021-05-13 11:52] michaldobrodenka commented on #24138
Thank you @Youssef1313! In the end I compiled tools from source:) (at least I have now trimmed & self contained version of them)

[2021-05-13 13:32] BillWagner commented on #24199
Thanks @toddalbers

This is important information to take into account in any plans for #24002

[2021-05-13 13:34] BillWagner commented on #24196
Thanks for noting this @SDmorgan

Can you elaborate on what you mean by "lambda examples"? I'd like to understand more what you're looking for.

[2021-05-13 13:39] #24197 closed

[2021-05-13 13:42] IEvangelist commented on #24193
Hey @bartonjs - would you mind looking this issue over, as it is related to Design Guidelines? What should be the official suggestion for this sort of thing?

[2021-05-13 13:45] BillWagner commented on #17799
This sample was redone. Closing.

[2021-05-13 13:45] #17799 closed

[2021-05-13 14:02] BlaQQ opened #24222 "#region identifier string not required."
Hello,

#region doesn't require an identifier string, but the page says it is required. Just below it is an #endregion description which doesn't say it's required when it, in fact, is.
Not a big deal, but it's an inaccuracy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1da80bd5-efb6-339b-8480-2da0310e5672
* Version I

[2021-05-13 14:16] #23984 closed

[2021-05-13 15:32] #24211 closed

[2021-05-13 15:44] tdykstra opened #24223 "Archive recommendations: WCF Data Services"
Recommend we retire all docs in the [WCF Data Services TOC](https://docs.microsoft.com/en-us/dotnet/framework/data/wcf) since the product is deprecated.

Contributes to #23694

[2021-05-13 17:58] tdykstra commented on #23694
The low/no-PV report has 20 articles in the wcf folder aside from the wcf/diagnostics folder, which we're recommending for archival. Aside from diagnostics, I don't see any logical groupings that it makes sense to separate from the rest of the wcf documentation for archival. There are 11 in wcf/feature-details, but that's just a few out of a folder that has hundreds.  I'm thinking we should wait u

[2021-05-13 18:14] daveyostcom opened #24225 "should show an optional parameter = null"
It would be good to include an example where the parameter is a reference type with default value of `null`.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158425f1-86b1-101a-9172-14c944867784
* Version Independent ID: 6386f636-99b3-93c3-ca9e-0134f3e3be10
* Content: [Methods - C# Guide](https://do

[2021-05-13 18:25] davmason commented on #20871
Thanks, feel free to file another issue if you have any more questions.

[2021-05-13 18:25] #20871 closed

[2021-05-13 19:48] ata18 commented on #9517
I have the following in my.csproj file. When running in vscode on my local machine, it doesn't throw any warnings/errors. But when I build it in the Azure pipelines task, I get a bunch of these CS8632 warnings..  Any idea what might be happening?

[code]

[2021-05-13 20:54] marcpopMSFT opened #24228 "GetTargetFrameworkProperties and GetNearestTargetFramework have been removed"
## GetTargetFrameworkProperties and GetNearestTargetFramework have been removed

The GetTargetFrameworkProperties target and GetNearestTargetFramework task have been removed from the .NET SDK

https://github.com/dotnet/sdk/issues/13519
https://github.com/dotnet/sdk/pull/15027/files
https://github.com/dotnet/msbuild/blob/main/documentation/ProjectReference-Protocol.md#targets-required-to-be-referen

[2021-05-13 21:02] marcpopMSFT opened #24229 "Generating errors for duplicate files in publish output"
## Generating errors for duplicate files in publish output

We added a new error (NETSDK1148) in cases where files from different source paths would be copied to the same file path in the publish output.  This can happen when a project and its project references include a file with the same name that is included in the publish output.

https://github.com/dotnet/sdk/issues/10850
https://github.com/

[2021-05-13 21:11] marcpopMSFT opened #24231 "Generate errors when referencing an Executable project with different SelfContained value"
## Generate errors when referencing an Executable project with different SelfContained value

Generally, an executable project references library projects, not other executable projects.  When an executable project does reference another executable project, it may be in order to use APIs that are defined in the executable project.  However, some customers want to reference an executable project fr

[2021-05-13 22:59] bartonjs commented on #24193
This rule did get modified in FDGv3:

System.Int64, System.String, System.Range, System.Index, or an
enum, except on dictionary-like types.

(5.2.1, Indexed Property Design, p. 161)

We obviously need a plan for getting the updated guidance in the docs pages (or removing / redirecting the docs pages to another location) -- the current ones seem to be mostly FDGv1 rules with their FDGv2 updates app

[2021-05-14 04:52] elinor-fung commented on #22364
Hi @Molinarius - dotnet/runtime#47329 was definitely causing issues here. The fix for that should be in .NET 5.0.5 and newer.

Aside from that, there are few tweaks needed in the COM server to support `IDispatch` and specify a default COM interface in the implementations: https://github.com/dotnet/samples/pull/4589. With that change, the sample should be usable with the `dynamic` keyword from a cl

[2021-05-14 09:46] Youssef1313 commented on #24222
@BlaQQ It's required in the sense that the following is invalid:

[code]

But I see your point, the article already puts `""` in the syntax, and it defines the identifier string as whatever is between the quotes, which is indeed not required.

[2021-05-14 14:21] cactusoft opened #24238 "What about code files"
What about if I don't want to start calling appsettings in my razor file, I want to call them in a .cs class where I have some common application logic. Seems I cannot use "inject" there. I've googled, but seems I am supposed to write services and various other things that look rather complicated, I would have assumed that just accessing config settings is something I should be able to do from eve

[2021-05-14 14:26] BillWagner commented on #24222
Thanks for pointing this out @BlaQQ

I see that @Youssef1313 have already opened a PR to address it.

[2021-05-14 14:27] BillWagner commented on #24225
Thanks for pointing this out @daveyostcom

I see @Youssef1313 has already created a PR to address this.

[2021-05-14 14:33] #24225 closed

[2021-05-14 14:35] #24222 closed

[2021-05-14 17:44] BillWagner commented on #22209
This was fixed in a previous PR. Closing.

[2021-05-14 17:44] #22209 closed

[2021-05-14 18:22] IEvangelist opened #24241 "Create a ASP.NET Core App Insights quick start"
ASP.NET Core App Insights quick start. From template, to app reporting telemetry.

- Dev experience pivot: Visual Studio, Visual Studio Code, and .NET CLI

[2021-05-14 20:05] gewarren commented on #24231
@marcpopMSFT Is the version introduced correct on this one?

[2021-05-14 20:30] stewartadam opened #24243 "Edit link is broken"
The edit link opens https://github.com/dotnet/AspNetCore.Docs/edit/master/aspnetcore/fundamentals/http-requests.md?description=%0A%0A-------%0Acc%3A%20%40stevejgordon which is a 404 -- note it is using `master` as the branch, instead of `main` which is used upstream.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506

[2021-05-14 20:41] gewarren commented on #23584
@azias Sorry for the slow response. Thank for your the detailed information; your config file looks correct to me. Since we are not a support team, I would suggest asking your question at https://docs.microsoft.com/en-us/answers/topics/dotnet-runtime-framework.html.

[2021-05-14 20:41] #23584 closed

[2021-05-14 20:55] gewarren commented on #23294
I would guess that the managed resources in the IDisposable object would be GC'd like any other managed resources, but the unmanaged resources wouldn't be released until the process exited. Perhaps @IEvangelist or @Maoni0 can clarify further.

[2021-05-14 21:07] daveyostcom commented on #24225
I think there needs to be an example showing `void foo(string s = null) { .. }` or the like, and there should be a discussion of the interaction between an optional argument and the `nullable` feature.

[2021-05-14 21:13] marcpopMSFT commented on #24231
Correct, 5.0.300. Not sure if we care on specific previews for downlevel releases as if not, just list it as 5.0.300.  I'd like @dsplaisted to review the three breaking change issues I filed.

[2021-05-14 21:22] #21007 closed

[2021-05-14 22:51] adegeo commented on #24243
@stewartadam It's working fine for me. Can you link to the source file you're working with that is giving you an incorrect edit link? It seems you reported the problem for one page and said the edit link doesn't work for another.

[2021-05-14 22:52] adegeo opened #24244 "Test breaking change template"
Testing this

##

### Version introduced

### Old behavior

### New behavior

### Reason for change

### Recommended action

### Category

- [ ] ASP.NET Core
- [ ] C#
- [ ] Code analysis
- [ ] Core .NET libraries
- [ ] Cryptography
- [ ] Data
- [ ] Debugger
- [ ] Deployment
- [ ] Globalization
- [ ] Interop
- [ ] JIT
- [ ] LINQ
- [ ] Managed Extensibility Framework (MEF)
- [ ] MSBuild
- [ ] Networ

[2021-05-14 22:55] #24244 closed

[2021-05-15 01:41] Maoni0 commented on #23294
GC doesn't know anything about Dispose or IDisposable. GC only knows whether an object is finalizable and when that object is dead, whether the finalizer needs to be run. if so it will promote this object so its finalizer can run. otherwise the object is still considered dead and will be reclaimed. what Dispose usually does is to call SuppressFinalize which sets the bit that indicates the finalize

[2021-05-15 02:46] AntonLapounov opened #24246 "Environment.ProcessorCount may return a different value on Windows in .NET 6"
## Environment.ProcessorCount may return a different value on Windows in .NET 6

On Windows, the `Environment.ProcessorCount` property now respects process affinity and the job object's hard limit on CPU utilization.

### Version introduced

.NET 6.0

### Old behavior

Before .NET 6, the `Environment.ProcessorCount` property on Windows used to return the number of logical processors on the machine

[2021-05-15 02:49] AntonLapounov commented on #24246
Documentation for `Environment.ProcessorCount` is updated: https://github.com/dotnet/dotnet-api-docs/pull/6668.

[2021-05-15 03:00] davidfowl commented on #23294
It's amazing how many developers think the GC disposes objects. I would add an explicit note in the docs about this in bold.

[2021-05-15 05:12] glihm opened #24248 "Call javascript from dotnet : link is broken"
**Issue description**

The links to the documentation for blazor interop calls seems to be broken:

1. [JS -> .NET](https://docs.microsoft.com/en-us/aspnet/core/blazor/js-interop/call-javascript-from-dotnet?view=aspnetcore-5.0)
2. [.NET -> JS](https://docs.microsoft.com/en-us/aspnet/core/blazor/js-interop/call-javascript-from-dotnet?view=aspnetcore-5.0)

**Target framework**

aspnetcore-5.0 docume

[2021-05-15 05:14] glihm commented on #24248
I think I have found the new links to be redirected to:

https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-5.0
https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-dotnet-from-javascript?view=aspnetcore-5.0

[2021-05-15 06:01] Youssef1313 opened #24249 "Enhance optional parameters example"
I think there needs to be an example showing `void foo(string s = null) { .. }` or the like, and there should be a discussion of the interaction between an optional argument and the `nullable` feature.

_Originally posted by @daveyostcom in https://github.com/dotnet/docs/issues/24225#issuecomment-841503967_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-05-15 06:04] Youssef1313 commented on #24249
The following method:

[code]

Could be modified to:

[code]

[2021-05-15 23:35] konrad-jamrozik opened #24251 "Suggestion: document how to deserialize json or object into a a dynamic json object (JsonDocument)"
For example, given arbitrary object `obj`, I could deserialize into a "json-enabled" `JsonDocument` like this:

[code]

or

[code]

I suggest to document how to achieve this scenario (maybe there is a better way than my examples above), as well as how to obtain the `JsonDocument` from a `json` string.

In other words, currently the documentation explains only the following deserialization scenario

[2021-05-15 23:49] konrad-jamrozik opened #24252 "Suggestion: document how to work with non-read-only equivalent of JsonDocument"
From the article:

Suggestion: explain what I am supposed to do if I want to have a non-read-only DOM.

Example use case: as input I have multiple objects, and json strings. I want to represent all the strings and objects as structured jsons (like `JsonDocument`), to compose them into one bigger json, and convert it to json string.

For example, imagine I have multiple json configuration files whi

[2021-05-16 02:33] glopesdev commented on #12317
Also clarify the relationship with the basic reference assemblies project: https://github.com/jaredpar/basic-reference-assemblies/issues/12

[2021-05-16 07:51] #23917 closed

[2021-05-16 21:41] ldwedari opened #24257 "Fix documentation"
[Enter feedback here]

In my opinion, the documentation on this page is not clear. It is making hard for developers to understand how the nullable contexts works. It needs to be organized a bit more logically.

First the page have to specify what problem is with examples.
Then how it is fixed, why there are annotation and warning contexts, what are they and why developer need to care about them. A

[2021-05-16 23:34] miyazakizachary commented on #21582
Thanks for the answer. I didn't realize that I missed the equivalence:

`this(weeklySalary * numberOfWeeks) { }` is the same as `public Employee(int annualSalary) {...}`

[2021-05-17 01:45] TysonMN opened #24258 "nameof for field of record"
What about the field of a record?  Is it possible to use `nameof` with that construct?  Is so, could an example of this be added to this documentation?  (I can't figure out how to do this.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e313948-0ecb-7c3c-1e1f-3c56a3045a41
* Version Independent ID: 254fda6f-2502-c076-a

[2021-05-17 13:12] BillWagner commented on #24249
@Youssef1313 I like your idea here. I'd also add the `default` expression (updating the `default(int)` expression).

[2021-05-17 13:13] BillWagner commented on #24257
Thanks for taking all these notes @ldwedari They provide a great roadmap for updating this article.

I've added this to the next sprint to address.

[2021-05-17 16:13] tdykstra commented on #24252
The Migrate from Newtonsoft article has a section about workarounds for this:

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0#jsondocument-is-read-only

Support for writable DOM will be in .NET 6 and will be documented with the other .NET 6 new features.

[2021-05-17 16:38] divinebovine opened #24261 "IAsyncDisposable suggestion - code with multiple await keywords"
It _might_ be worthwhile to include an example of having multiple awaits in a single line of code, e.g.
`await using var transaction = await dbContext.Database.BeginTransactionAsync(token).ConfigureAwait(false);`

It wasn't immediately obvious that two awaits are necessary, but it does make sense. It might save people some time as they're getting used to `IAsyncDisposable`.

---
#### Document Deta

[2021-05-17 16:43] IEvangelist commented on #24261
Hi 👋 @divinebovine
Thank you so much for posting this issue. We really appreciate it, and I agree that this would be a great example use case to add. I'll work on getting that into the docs.

[2021-05-17 16:52] tdykstra commented on #24251
JsonDocument and JsonElement are also documented in the [Newtonsoft migration article](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0#jsondocument-and-jsonelement-compared-to-jtoken-like-jobject-jarray)

When the related .NET 6 features are documented, you can look for them in the same two places -- [How to write cus

[2021-05-17 18:26] konrad-jamrozik commented on #24251
@tdykstra thanks for the info! I would say "Newtonsoft migration guide" and "custom serializers and deserializers" are not unexpected, not discoverable locations for this piece of information. What I am looking for is not related to Newtonsoft (note I did not mention it in the description of the problem), and doesn't require customization of how the de/serialization is done; it is supposed to work

[2021-05-17 18:28] konrad-jamrozik commented on #24252
@tdykstra thx for the info! Once available, would be nice if this article links to it. Something like "If you want to have writable DOM, see <link to article>".

[2021-05-17 18:30] dwcullop opened #24262 "A Bit of Incorrect Information about Surrogate Pairs"
In [this paragraph](https://docs.microsoft.com/en-us/dotnet/standard/base-types/character-encoding-introduction#surrogate-pairs), it states:

However, there are only 20-bits because the surrogates can each only provide ten.  Of the 16 bits, the first 5 are always `11011` (which designate it as in the surrogate range), the next bit is 1 for the high surrogate code points and 0 for the low surrogate

[2021-05-17 18:38] tdykstra commented on #24251
Oh, I think I understand your point now -- the main how-to needs to link more prominently to the "custom serializers and deserializers" article, and probably the latter should have JsonDocument and JsonElement in the title.  And link more prominently to the Newtonsoft article from both of the other two.

[2021-05-17 19:54] stewartadam commented on #24243
@adegeo sorry for the mismatch. The Edit button on [Implement HTTP call retries with exponential backoff with IHttpClientFactory and Polly policies
](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly) isn't working for me, nor is the one for [https://docs.microsoft.com/en-us/aspnet/core/fundamen

[2021-05-17 20:22] adegeo commented on #24243
@stewartadam hmm. it's working for me ☹️

![edit-button](https://user-images.githubusercontent.com/67293991/118551764-e8ebe480-b712-11eb-9778-76345c9437cb.gif)

[2021-05-17 20:40] jcouv commented on #9517
@ata18 Just to confirm, when you're doing a local build (say from command-line, not VSCode), are you getting the expected nullability warnings?

There's also a small possibility that the specific compiler versions used in pipeline task and locally differ. The nullability feature has had revisions. You could troubleshoot this by confirming the compiler versions (add `#error version` to your source

[2021-05-17 21:46] stewartadam commented on #24243
Hm, you're right - it worked fine in Incognito, after a bit of investigation I found it appears to be caused by the [SpineEdit](https://github.com/craigshoemaker/spineedit) extension I had installed to make PR creation easier. So we can close this as PEBKAC :)

[2021-05-17 21:46] #24243 closed

[2021-05-17 21:49] tommcdon commented on #20825
Closing as #22617 covered the essential parts of the docs

[2021-05-17 21:49] #20825 closed

[2021-05-17 22:17] #18347 closed

[2021-05-18 01:19] #23955 closed

[2021-05-18 04:18] dsplaisted commented on #24231
I've updated the description.  Note that the change to make exe references work better was in 5.0.200, so that's part of this breaking change, except for as background for why we did it.

[2021-05-18 11:39] teraa opened #24268 "Empty line highlighted"
At the end of the "How algorithms are implemented in .NET" section:

the referenced code has highlighted empty line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc59c0ef-fc24-730b-086a-683bb85fca7a
* Version Independent ID: 93212589-e9f6-4bf8-d547-559743e3eb5e
* Content: [.NET cryptography model](https://docs.micros

[2021-05-18 11:58] IEvangelist commented on #24268
Hi 👋 @teraa
Thank you so much for posting this issue. We really appreciate it, I've put together a fix for this issue in #24269

[2021-05-18 14:16] #24268 closed

[2021-05-18 14:53] #23804 closed

[2021-05-18 16:23] mavasani commented on #23900
Thank you so much for creating this doc isssue @Youssef1313! You are always one step ahead of us :-)

[2021-05-18 16:26] mavasani commented on #23900
Also tagging @jeffhandley as an FYI

[2021-05-18 18:40] danmoseley opened #24276 "Add doc for installing Windows Service in .NET Core context"
Looking for "install Windows Service" I go to this topic

https://docs.microsoft.com/en-us/dotnet/framework/windows-services/how-to-install-and-uninstall-services

It should work for .NET Core services (at least `new-service` should definitely work, as it just pinvokes to CreateServiceW etc, not sure what InstallerUtil assumes) and since we know Windows Services are heavily used as a vehicle for .

[2021-05-18 18:42] bradygaster commented on #24276
I also think this doc could be updated to reflect how to do the Windows service _thing_ using .NET Core, too. https://docs.microsoft.com/en-us/dotnet/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer

[2021-05-18 18:43] bradygaster commented on #24276
And also, we should make this into a doc and not "just" a blog. https://devblogs.microsoft.com/aspnet/net-core-workers-as-windows-services/

[2021-05-18 19:35] #18803 closed

[2021-05-18 19:35] #19013 closed

[2021-05-18 19:35] #22422 closed

[2021-05-18 19:35] #24041 closed

[2021-05-18 21:20] #10308 closed

[2021-05-18 22:35] #23893 closed

[2021-05-18 22:36] gewarren opened #24281 "Repo chores - June 2021"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2021-05-18 22:55] #22204 closed

[2021-05-18 22:56] tdykstra commented on #22204
Closing due to no response.

[2021-05-18 23:08] #22299 closed

[2021-05-19 05:12] #24105 closed

[2021-05-19 07:00] priyatosh27 opened #24285 "error CS0200 while using this.Balance=intialBalance;"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a48ba32c-fe4e-343a-61c7-2bc83cc28bed
* Version Independent ID: 9fdc77d6-4be6-5255-c7df-f45aea0777ff
* Content: [Compiler Error CS0200](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0200?f1url=%3FappId%3Droslyn%26k%3Dk(CS0200))
* Content Source

[2021-05-19 08:44] cveld opened #24286 "Add documentation how to set up custom per request HttpMessageHandlers"
We have an endpoint that routes traffic to various endpoints that use different credentials and auth types (username/password combinations; basic and digest auth) based on the request parameters.

For now we have setup a factory class that instantiates a new HttpClient and HttpMessageHandler implementation for every request that is passing through. That does not seem right. We dispose the HttpClie

[2021-05-19 10:02] gfoidl opened #24287 "`nint` and `nuint` types Constants specifies range for 32-bit process"
Section [Constants](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nint-nuint#constants) says:

This is only correct for 32-bit processes.
As `nint` and `nuint` are native sized, so on 64-bit processes the range for `nint` is `Int64.MinValue` to `Int64.MaxValue`.
Or generalized: the range is the same as for `IntPtr`, so `[IntPtr.MinSize, IntPtr.MaxSize]`

---
####

[2021-05-19 11:50] Youssef1313 commented on #24287
I think the docs are correct. It talks specifically about "constants". In general, the range of `nint` and `nuint` will be dependent on whether you're on 32-bit or 64-bit, but a constant `nint` or a constant `nuint`, you're limited by the more restrictive range. That's a reason why there is no `nint.MaxValue`.

[2021-05-19 12:00] gfoidl commented on #24287
But there's `IntPtr.MaxValue` and `IntPtr.MinValue` -- as properties and not `const`, because of the "evaluation at runtime" as JIT constant.

The docs are incorrect, as they allude that only `[int.MinValue, int.MaxValue]` is allowed, which in turn defeat a motivation behind of `nint`.

[2021-05-19 13:01] BillWagner commented on #24287
Thanks for noting this @gfoidl

I also think the docs are correct. I'm hoping to point out the distinction between those values that can be compile-time constants, and those that are evaluated at runtime.

Adding @tannergooding for any suggestions to improve the clarity here.

[2021-05-19 13:02] #23294 closed

[2021-05-19 13:06] IEvangelist commented on #24193
Hi @bartonjs - I love the idea of putting together a plan for this. Do we have permission from Pearson Education to replicate this content, if not what does that look like and what is the timeline? Is the FDGv3 fully published and publicly available now? Happy to proceed as you deem necessary. Thank you

[2021-05-19 13:18] gfoidl commented on #24287
Yeah, the docs are correct. Sorry for the statement above that they're incorrect.
I got trapped here.

What about:

? (a bit better wording, then it should be clear).

[2021-05-19 13:54] IEvangelist opened #24288 "Add VS command-line args details to configuration docs"
See https://github.com/dotnet/AspNetCore.Docs/pull/22343

Applies to this section:
https://docs.microsoft.com/en-us/dotnet/core/extensions/configuration-providers#command-line-configuration-provider

[2021-05-19 15:24] adegeo commented on #24286
@Rick-Anderson do you have any docs that answer this question?

[2021-05-19 15:31] tannergooding commented on #24287
The docs are correct. We might be able to add a statement differentiating between compile time constant vs supported range.

Maybe something like:

or something like what @gfoidl suggested.

[2021-05-19 15:44] tdykstra opened #24289 "Link to sdk repo in CLI ref articles"
Add **see also** link to dotnet/sdk repo in .NET CLI reference docs, following example in dotnet sln, #24106.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET CLI](https://docs.microsoft.c

[2021-05-19 15:49] StingyJack commented on #22188
This advice has [quietly changed over the years](https://github.com/dotnet/docs/issues/23834).

[2021-05-19 16:16] bartonjs commented on #24193
Practically speaking? Yes (IANAL), but not in a manner that CELA likes, so no.

Don't really know, probably better dealt with over an internal channel.

Yep.  https://www.informit.com/store/framework-design-guidelines-conventions-idioms-and-9780135896327 "and quality bookstores everywhere".

[2021-05-19 17:11] #23128 closed

[2021-05-19 17:11] #22854 closed

[2021-05-19 18:44] baquick opened #24292 "useless"
Waste of Internet bandwidth.

Gives no useful direction on un-installing services.

Nothing works on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433b4c70-07c8-34c3-b567-22c80b71c5e2
* Version Independent ID: e3699917-899c-85fd-44f2-942b317cb8ff
* Content: [How to: Install and uninstall Windows services](h

[2021-05-19 19:57] tdykstra commented on #24126
thanks for pointing this out.  I'll change the wording to:

[2021-05-19 20:16] #23951 closed

[2021-05-19 20:33] tdykstra commented on #24248
Thanks for reporting this -- Which article has the broken links?

[2021-05-19 20:41] BillWagner commented on #23540
This area has a large number of issues that should be addressed as part of the edits to move the content:

- [Overview](https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/)
  - #18659
- [Recommended tags](https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/recommended-tags-for-documentation-comments)
  - #18730
- [`<example>`](https://docs.microsoft.com/dotnet/csharp/p

[2021-05-19 20:58] #24037 closed

[2021-05-19 21:35] BillWagner commented on #7622
reopening to address as part of updating the XML section.

[2021-05-19 21:39] BillWagner commented on #10306
reopening to fix as part of updating the XML section.

[2021-05-19 21:40] BillWagner commented on #17625
reopening to address as part of updating the XML section.

[2021-05-19 21:41] BillWagner commented on #17326
reopening to address as part of updating the XML section

[2021-05-19 21:42] BillWagner commented on #9355
reopening to address as part of the XML docs update.

[2021-05-19 21:43] BillWagner commented on #15906
reopening to address as part of updating the XML section.

[2021-05-19 21:45] BillWagner commented on #16204
reopening to address as part of the XML doc cleanup

[2021-05-19 21:46] BillWagner commented on #12122
reopening to address as part of the XML docs cleanup

[2021-05-19 21:46] BillWagner commented on #4176
reopening to address as part of the XML doc cleanup

[2021-05-20 00:36] dsplaisted commented on #24228
I've updated the description here.

[2021-05-20 02:27] jmty0083 opened #24299 "Incorrect translation in Chinese simplified page"
EN: The expression sequence[^0] does throw an exception, just as sequence[sequence.Length] does.
CN: 表达式 sequence[^0] 不会引发异常，就像 sequence[sequence.Length] 一样。

The Chinese version page (https://docs.microsoft.com/zh-cn/dotnet/csharp/whats-new/tutorials/ranges-indexes) has a totally opposite meaning, which is obviously incorrect.

Removing character "不" will help.

---
#### Document Details

⚠ *Do n

[2021-05-20 03:09] NMSAzulX commented on #12317
Thanks to this issue, I think I should give some feedback. I am using roslyn and string scripts to build dynamic assemblies. I have made an open source library that has been used by many people. So far, there is no problem except that asp.net can't unload the domain.
It automatically manages references. I divided the reference into two parts, [1. all assemblies from the DependencyContext

[2021-05-20 03:15] NMSAzulX commented on #12317
< PreserveCompilationContext > this gives me a headache, and I have to release a nuget package for this so that developers can ignore the < PreserveCompilationContext > tag.

https://github.com/dotnetcore/Compile.Environment/blob/master/DotNetCore.Compile.Environment/targets/DotNetCore.Compile.Environment.targets

https://github.com/dotnetcore/Compile.Environment/blob/master/DotNetCore.Compile.Env

[2021-05-20 03:21] MSDN-WhiteKnight commented on #12317
DependencyContext returns paths to reference assemblies. Reference assemblies by design does not contain private members, it is already documented here: https://docs.microsoft.com/en-us/dotnet/standard/assembly/reference-assemblies#reference-assemblies-structure It is not directly related to roslyn, because you can't reference private members in C#/VB anyway.

[2021-05-20 03:28] NMSAzulX commented on #12317
@MSDN-WhiteKnight  Thanks. I can only use private fields in this way ,
 ` domain.addreference(typeof(List<int>).Assembly.Location)`;

[2021-05-20 03:28] NMSAzulX commented on #12317
@MSDN-WhiteKnight  Thanks. I can only use private fields in this way ,
 ` domain.addreference(typeof(List<int>).Assembly.Location)`;

[2021-05-20 12:59] IEvangelist opened #24304 "New `BackgroundService` tutorial"
Make it clear that these are cross-plat, but provide linking and additional details to setting this up in a Windows environment as an official Windows Service. Consider at the very least linking to containerizing the service.

[2021-05-20 13:00] IEvangelist opened #24305 "New custom `IHostedService` impl tutorial"
Show how to go about implementing the `IHostedService` interface.

[2021-05-20 13:00] IEvangelist opened #24306 "Migration guide: Windows Service to `BackgroundService`"
Detail how to take an existing Windows Service, and migrate it to a cross-plat-ready `BackgroundService` that runs as a Windows Service.

**_Update_** instead of writing a migration guide, we've decided to add an alert to all existing material -- pointing to the new material. This is due to several limitations with the Upgrade Assistant and other tools, as well as the fact that it would be a re-wr

[2021-05-20 13:00] IEvangelist opened #24307 "Migration guide: Promote your on-premises worker service to the cloud"
Show how to migrate an on-premises worker, with configuration, and proper API access to the cloud.

[2021-05-20 13:00] IEvangelist opened #24308 "Create Worker services overview article"
The overview will explain conceptually some of the possible variants, and the overall concept of a worker service. It will quickly differentiate between `IHostedService` and the out-of-the-box `BackgroundService`. The overview will serve as an entry point into several tutorials:

- [x] https://github.com/dotnet/docs/issues/24304 - New `BackgroundService` tutorial
- [x] https://github.com/dotnet/do

[2021-05-20 13:59] qpham01 commented on #4675
Is there anyway in code or configuration to make WCF TCP transport security with Windows authentication use TLS 1.2 with .Net Framework 4.5?

There's no reference to this in the article .../dotnet/framework/network-programming/tls or any links in this thread.

Thank you.

[2021-05-20 15:14] teo-tsirpanis opened #24310 "It should be more prominently documented that AssemblyBuilder.Save is not supported on CoreCLR."
One of the .NET Framework features that are missing in .NET Core/.NET 5 is the ability to save assemblies generated by the `System.Reflection.Emit` APIs. However this omission is nowhere explicitly mentioned, leaving developers unaware until they try to call `AssemblyBuilder.Save` or specify one of the missing members of the `AssemblyBuilderAccess` enum.

This page should be updated to inform deve

[2021-05-20 15:21] #24246 closed

[2021-05-20 16:13] BillWagner commented on #23540
From reading all the issues referenced in the preceding comment, the following themes emerge:

- **Completing the reference tags**: Visual Studio intellisense has support for a number of XML / HTML tags in XML comments. The introduction to the reference should list those tags validated by the compiler, those supported by intellisense, and point out that other tags are ignored, but legal.
- **Gener

[2021-05-20 16:26] #22472 closed

[2021-05-20 16:32] tdykstra commented on #22472
Thanks for reporting this error in the tutorial, @tienle488 ! The fix should be live later today or tomorrow.

[2021-05-20 16:46] adegeo commented on #24075
@karenpayneoregon Thank you for the clarifications. I'll tag some people to see if they can help

@layomia can you respond to this and verify the code?

[2021-05-20 16:57] tarekgh commented on #24075
@layomia can know better here as it looks the call `JSonHelper.DeserializeObjectUnixEpochDateTime<DateContainer>(json);` is the place which doing the conversion/deserialization. but looking at the output, it looks to me the issue is the deserialized date/time is converted to local time. I guess @karenpayneoregon is located in a time zone -7:00 hours from Utc.

[2021-05-20 17:29] tdykstra opened #24311 "Provide more context in code examples"
Verbatims from the feedback control indicate the code examples don't provide enough context for many readers. For each example  provide enough context so the code can be copied, pasted, and run locally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2

[2021-05-20 18:25] gewarren opened #24312 "Add info about global_level property"
Explain how rules in a .globalconfig coming from a NuGet package can be overridden by a .globalconfig in the solution directory without reporting warnings about multiple configurations for the same key. The global_level rules allow for local overrides of NuGet-provided configs.

See https://github.com/dotnet/roslyn/issues/19028#issuecomment-845256095.

---
#### Document Details

⚠ *Do not edit thi

[2021-05-20 18:54] JasonCard commented on #24299
@jmty0083 Thank you for your feedback. I'm following up internally.

@Youssef1313 Thank you for checking. We no longer have loc repos, but I can follow up on localization issues internally, so please just @ mention me going forward.
As I'm following up on this localization issue internally, I'll close this ticket for English repo.

[2021-05-20 18:54] #24299 closed

[2021-05-20 18:57] kapsiR commented on #4675
@qpham01 https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-wcf-tcp-transport-using-transport-security-with-certificate-credentials

You will have to specify the value for TLS 1.2 on your own if you are on < .NET Framework 4.6.

 Btw. .NET Framework 4.5.x support will end in a year. (2022-04-26)

[2021-05-20 19:22] #24126 closed

[2021-05-20 19:22] #24251 closed

[2021-05-20 21:12] bradygaster commented on #24308
curious if @glennc has any thoughts, but I love the direction atm.

[2021-05-20 21:35] gewarren commented on #24292
@baquick Thank you for letting us know and sorry to hear this didn't work for you. Did you try both installutil.exe and the PowerShell Remove-Service option? I saw a comment in another issue that the PowerShell option requires PowerShell version 6. Could you check your version of PowerShell using `$PSversionTable`?

[2021-05-20 23:30] kouvel opened #24318 "Improve documentation of `volatile` keyword"
Improve documentation of `volatile` keyword in `docs/csharp/language-reference/keywords/volatile.md` to clarify what it does and fix some inaccurate info.

-edit by @billwagner to add document block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d226514d-c7cb-0d1b-b9dc-fb791399dc47
* Version Independent ID: aa5d1078-7

[2021-05-21 15:35] #24288 closed

[2021-05-21 16:18] #24292 closed

[2021-05-21 17:44] angelazhangmsft opened #24328 "Clarify windows version in sample code"
For the sample code on windows versions, I believe it should be [SupportedOSPlatform("windows10.0.18362.0")] and not [SupportedOSPlatform("windows10.0.1903")]. It would be good to clarify if we to use the actual Window build number and not the version number, as this API specifies using the build number: https://docs.microsoft.com/en-us/dotnet/api/system.operatingsystem.iswindowsversionatleast?vie

[2021-05-21 18:32] #24311 closed

[2021-05-21 21:06] #23905 closed

[2021-05-21 23:04] dsplaisted commented on #24229
@pranavkm @vijayrkn @javiercn @mkArtakMSFT Can you folks take a look at this write-up for the breaking change discussed here? https://github.com/dotnet/aspnetcore/issues/29524

Are folks still likely to run into this with libman.json files?  Should we exclude those from the globs, or include mention of that scenario in the write-up here?

[2021-05-22 09:38] kaylumah commented on #22161
hi guys, any update on this?

[2021-05-22 19:31] Rick-Anderson opened #24335 "Why? If the secrets and certificates are not in use, be sure to clean them up."
This has the best SEO when searching for `dotnet dev-certs --clean`

Why would you want to remove the cert? Typically, certs are cleaned when there is a problem. See [Troubleshoot certificate problems](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#troubleshoot-certificate-problems)

Add a link to this doc with `#tcp`  see https://github.

[2021-05-23 09:18] konrad-jamrozik opened #24336 "Bug: Fix broken link in JsonDocument API doc, to point to this new article."
@tdykstra  big thx for quick turnaround on https://github.com/dotnet/docs/pull/24291 !

I think you might want to link to this new article from:
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument?view=net-5.0#remarks

Note that the current link there gives 404: https://docs.microsoft.com/en-us/dotnet/standard/serialization/write-custom-serializer-deserializer

**Update**: I

[2021-05-23 18:05] Youssef1313 commented on #24336
@tdykstra A redirection could be needed for the current 404 link.

[2021-05-23 20:17] Youssef1313 opened #24338 "Clarify records (and record structs) support for naming rules"
It was asked in #Roslyn Discord channel whether records are supported in naming rules, and if so, does they use `applicable_kinds = record` or `applicable_kinds = class`.

The docs should clarify that `applicable_kinds = class` applies to records (and possibly record structs falls under "struct").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-05-23 20:58] TheBlueSky commented on #22697
I wanted to make this change but did not understand what part of the documentation should include what text.
Can someone give me the TL;DR? :)

[2021-05-23 21:25] zerospaceeee opened #24340 "about numeric checking function"
why there is no such library function like isNumeric() or such thing? why do programmers need to do it all over again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e52e106-b266-73b5-7fe5-247399beeb24
* Version Independent ID: eb68a5cf-0474-2d65-eae2-9b42f03c411a
* Content: [How to determine whether a string represen

[2021-05-23 23:14] apprentable opened #24341 "apprentable"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80f18fa-e6d2-50f6-dc08-a2ab5ba9f89a
* Version Independent ID: 5bebc66b-956a-47c7-7472-07967256be0c
* Content: [Create a .NET console application using Visual Studio - .NET](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio)
*

[2021-05-24 00:11] sandreenko opened #24342 "Add coercion for call arguments according to ECMA-335."
## Add coercion for call arguments according to ECMA-335.

ECMA-335 documents which implicit conversions are supports for call arguments, add checking for it (Table III.9: Signature Matching).

### Version introduced

.NET 6.0

### Old behavior

It was leading to undefined behavior on some platforms, for example, passing long as int register on x86 was leaving the register undefined. Some conversi

[2021-05-24 00:12] sandreenko commented on #24342
link https://github.com/dotnet/runtime/pull/43386

[2021-05-24 01:43] francisco-chavez commented on #22697
There's a table of  Operators and Overloadability. A reasonable person might see a list of every operator listed out in the Operator Overloading page, and see that each of those operators is a link, and think, "Cool! I go straight to an example of how to overload the selected operator."

I think the quick fix should be, un-link the operators in that table. Anyone that sees a link to the operator t

[2021-05-24 02:37] abdalla55555 opened #24343 "I have a problem with this message (this application could not be started !!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c89966aa-b155-c98a-2391-47e01d468236
* Version Independent ID: de902eee-6f6b-3ccd-4dbf-1cc174daa806
* Content: [Troubleshooting 'This application could not be started'](https://docs.microsoft.com/en-us/dotnet/framework/install/application-not-started?

[2021-05-24 05:16] tnlthanzeel opened #24344 "some thing doesn't make sense"
i was reading the document and came across https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/interface-properties#sample-output.

![image](https://user-images.githubusercontent.com/18216790/119299791-4638e600-bc7d-11eb-9144-52657a59e713.png)

i don't understand what it is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-05-24 05:19] momochrome-t opened #24345 "Literal suffix is described as if it were a kind of cast"
In this document, `25l` is treated as if it were a cast of `int` literal `25` to type `long` , but in fact it is a `long` literal, not a cast operation.

This is misleading and should be corrected so that it is clear that `25l` is a literal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c553bd2-148a-8715-99ee-ee6cb15

[2021-05-24 06:41] slcamosun opened #24347 "Accessing Namespace missing a code snippet"
The Accessing Namespace section is missing the

using System;

statement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0280f9-e122-a229-2caa-31038fa2420f
* Version Independent ID: 15793662-cb17-e8f9-23e8-373a593b7c87
* Content: [Using Namespaces - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/

[2021-05-24 10:34] svick commented on #24344
Looking at the sample output, I think it's supposed to be sample input to the application. But since that's not clear and since the sample output stands on its own, I have created a pull request to remove that line: https://github.com/dotnet/docs/pull/24348.

[2021-05-24 10:54] DaniilShmelev commented on #20437
Hi @automateyournetwork, @ItielBeeri! Could you please specify which versions of the agent caused issues for you? I've been able to use 2.166.1 and 2.186.1 without any issues.

[2021-05-24 11:43] Tiramonium commented on #9517
@ata18 first of all, if you noticed, this warning got introduced in C# 8.0 and I'm assuming it carried onto 9.0 as well, which is used by NET 5.0. If you had read this thread you would have noticed that `<Nullable>true</Nullable>` enables this check instead of disabling it.

Another thing I noticed in your settings that might be causing unexpected results is that you set it to treat warnings as er

[2021-05-24 12:19] pkulikov commented on #22697
@francisco-chavez there are alternative ways to read the text. One can read the whole table and assume that links provide the background/context information about each operator, not specifically related to how to overload that operator. I guess both of us don't know how readers distributed between different ways of reading. So, we cannot make any changes on those guesses.

@TheBlueSky I think the

[2021-05-24 12:57] MV10 opened #24350 "Is the SDK actually required to install tools?"
This page states:

Is this correct, or is that only true of the `dotnet tool` method of installation? I noticed the tools have stand-alone downloads available, for example:

https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump#install

Do those installers still require the SDK? I'm trying to put together some documentation for production server support, and corporate policy prohibi

[2021-05-24 13:09] Youssef1313 commented on #24345
Looking at the generated IL:

[code]

This creates an Int32, then converts to Int64. But I agree this is a bit distractive.

[2021-05-24 13:22] mikewjohnson opened #24353 "Incorrect Deconstruction Examples"
The first two examples in the `User-defined types` section are copy/pasted from earlier sections, but not updated to match the narrative of the new section. Examples should be updated with snippets from the "summary" example later in the section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fbaed1-06d8-16f0-70d1-97

[2021-05-24 13:30] TheBlueSky commented on #22697
I think @francisco-chavez has a point, but not sure the solution to remove the link.
On the other hand, adding a link after the table to the example might not make much difference if the assumption is correct that people might jump to the table assuming that it contains all the information they need.
What if we added "Overloadability" section to every operator page that contains the text in the ta

[2021-05-24 13:49] #24347 closed

[2021-05-24 15:05] Youssef1313 commented on #24340
`int.TryParse(s, _)` (or `double.TryParse`)) would do the thing you want. Are there any problems you're having with this approach?

[2021-05-24 15:20] pkulikov commented on #22697
@TheBlueSky

That's already the case. Every operator page contains the **Operator overloadability** section. Example:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/equality-operators#operator-overloadability

Each such section contains the link to the following page:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/operator-overloading

That

[2021-05-24 15:37] tdykstra commented on #24341
Please add a title and description to explain what this issue is about.

[2021-05-24 15:55] tdykstra commented on #24336
@Youssef1313 Thanks, you're right we need a redirection, except it's already there, it just needs the redirect target URL to be fixed. 😄

[2021-05-24 16:40] #24310 closed

[2021-05-24 17:16] #24336 closed

[2021-05-24 17:31] #24109 closed

[2021-05-24 19:11] adegeo commented on #24343
Hello @abdalla55555 I'm sorry that you're having problems. Can you share more information? Which steps did you follow in the article to fix this? You may want to ask on the https://answers.microsoft.com/en-us/windows/forum forum?

[2021-05-24 21:30] arkalyanms opened #24361 "We need a way to determine if a file is actually as assembly without hitting GetAssemblyName"
GetAssemblyName OOMs in some cases most likely for native dlls (This is microsoft internal. I also see the same callstack in some external forums).

We need a way to test whether a file is a .NET assembly before passing its path to GetAssemblyName or have GetAssemblyName handle this more gracefully (perhaps check the PE header).

Are there known bugs in this space, alternatives that the page can b

[2021-05-24 22:36] zerospaceeee commented on #24340
I know this approach, but this is a data converting function rather than a simple `is_a_number()` function. so I wonder why do we not have a built in function which directly checks if it is a number.
I think the approach that you mentioned is just a work around.

[2021-05-24 22:59] #23508 closed

[2021-05-24 23:05] ata18 commented on #9517
@jcouv Thanks for your response, I will check the compiler versions.

@Tiramonium You are correct. I know that <Nullable>true</Nullable> enables the check. And I have fixed all the errors related to `nullable references` and running it locally has no more warnings. However, I still get these CS8632 warnings in Azure pipelines.

[2021-05-24 23:56] #23591 closed

[2021-05-25 01:14] tdykstra commented on #23694
The low/no-PV report has 68 error reference articles in the framework/windows-workflow-foundation folder, and there would be many more if we raised the 5-PV limit for considering an article to be low-PV. But we decided against archiving error reference articles. We could archive with indexing enabled, but that would eliminate the main benefit of archiving that makes the effort involved in archivin

[2021-05-25 05:51] Yoon455 opened #24366 "Join together to help each other Love our world"
**Issue description**

**Target framework**

- [x] .NET Core
- [x] .NET Framework
- [x] .NET Standard

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]
</details>

[2021-05-25 06:26] CSG-richard opened #24368 "Is IIS required for .net core application, why not just use kestrel? Can someone state pros vs cons of both please?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888b22d0-7261-c6fd-e4b3-07a4c1f66d06
* Version Independent ID: ddfcec03-a396-8851-49cd-629b9c7edc8a
* Content: [What OS to target with .NET containers](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/net-core-net-framework-container

[2021-05-25 06:38] AmethS opened #24369 "Why CS0236"
[Enter feedback here]
I mean Why Compiler will report this error . What happened in Compiler when this error occurs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19167a3c-283f-e0c1-d1cb-3b773954779b
* Version Independent ID: 360140ec-e61d-3117-e7a7-92473887f7b6
* Content: [Compiler Error CS0236](https://docs.microsof

[2021-05-25 12:16] BillWagner commented on #24340
@zerospaceeee Thanks for the question. @Youssef1313 has provided the correct answer.

Closing as an answered question.

[2021-05-25 12:16] #24340 closed

[2021-05-25 12:16] BillWagner commented on #24344
Thanks for reporting this @tnlthanzeel I will review @svick 's PR shortly.

[2021-05-25 12:17] BillWagner commented on #24345
Thanks for reporting this @momochrome-t and for providing the fix @Youssef1313

I'll review the related PR shortly.

[2021-05-25 12:19] BillWagner commented on #24353
Thanks for reporting this @mikewjohnson and thanks for submitting the fix @Youssef1313

I apologize for introducing this error. I thought I had caught all those while migrating the content.

I'll review the PR shortly.

[2021-05-25 12:20] BillWagner commented on #24366
closing as off-topic.

[2021-05-25 12:20] #24366 closed

[2021-05-25 12:28] #24344 closed

[2021-05-25 12:29] #24345 closed

[2021-05-25 12:30] #24353 closed

[2021-05-25 12:46] Youssef1313 commented on #24369
The compiler follows the spec here:

https://github.com/dotnet/csharplang/blob/main/spec/classes.md#instance-field-initialization

[2021-05-25 15:31] WillAutioItrax opened #24370 "What does <DefineConstants>$(DefineConstants);</DefineConstants> do?"
I found this
<DefineConstants>$(DefineConstants);</DefineConstants>
in a .csproj in a nuget and would like to know what it does. I expected to find the answer on this page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548e000-8190-b1bb-51fd-7e7b2d5bcb45
* Version Independent ID: 19f59267-c4c1-e

[2021-05-25 15:32] WillAutioItrax commented on #24370
Try again:
`<DefineConstants>$(DefineConstants);</DefineConstants>`

[2021-05-25 16:00] Youssef1313 commented on #24370
I expect that `<DefineConstants>$(DefineConstants);</DefineConstants>` as-is should have no effect, it sets DefineConstants property to the value of `DefineConstants` followed by a semicolon. A trailing semicolon should probably have no effect, unless this workarounds some bug somewhere.

Did you find the snippet as-is? or you stripped something defined after the semi-colon?

[2021-05-25 16:44] yowl opened #24373 "These instructions fail if you have a later version of IISExpress installed."
If you also have VS2019 installed and hence a  later version of IISExpress , then these steps fail

![image](https://user-images.githubusercontent.com/2720041/119536361-9df35200-bd4e-11eb-96ed-fef75e474ca3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eea9da8-546f-74ac-34f4-f7a39bea1a1c
* Version Independent ID:

[2021-05-25 17:52] WillAutioItrax commented on #24370
@Youssef1313 That is exactly how I found it. Your description of what it does makes sense. I thought maybe it does some other magic as there is a preprocessor statement:
`#if MONOANDROID10_0`
and I cannot find a Define for MONOANDROID10_0. I thought maybe the DefineConstants line was the answer...
Thanks for your reply.

[2021-05-25 17:59] gewarren commented on #23540
Can you also update the link right under this heading? https://review.docs.microsoft.com/en-us/help/contribute-ref/contribute-ref-how-to-write-.net-docs?branch=master#xml-doc-tags

[2021-05-25 18:25] tdykstra opened #24376 "Promote h3 headings to h2"
As  it is the internal TOC only shows "Template options" - it will be more useful if each h3 is shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267c314a-e630-097f-edc6-d417be6db191
* Version Independent ID: af236ebe-5a79-fb2b-42a0-e5720ee732ae
* Content: [.NET default templates for dotnet new - .NET CLI](https://

[2021-05-25 18:45] adegeo commented on #23596
This is probably going to be a lot of work as

1. The whole document needs to be verified since the formatting is now IEEE 754-compliant and we're not guaranteed that what we have here is correct anymore
2. All code is in the old snippets system and needs to be ported
3. All code needs to be rerun and output captured to replace the output detailed in the doc

FYI @tannergooding

[2021-05-25 19:06] #24376 closed

[2021-05-25 20:09] #10748 closed

[2021-05-25 20:35] adegeo commented on #22623
Ping @Niharikadutta

[2021-05-25 20:58] adegeo commented on #22914
Hello!

Taking a stab at answering your qestion.

Self contained deployment is generally for production distribution where the SDK/Runtime isn't going to be available. The dev-certs are for testing and shouldn't be used for production. When you get your certificates created (either via dev-certs for testing or your real certs for production) I believe you would deploy them with the container.

You

[2021-05-25 21:55] Niharikadutta commented on #22623
@bexstx Apologies for the late response, I did not get notification for this. Were you able to resolve this? I see in your code:
[code]
 can you remove the ':' at the end of jdbc and make it:
[code]

[2021-05-25 22:06] #24338 closed

[2021-05-25 22:48] cloewen8 opened #24380 "Broken link"
The first link to Infrastructure as Code is broken (https://docs.microsoft.com/en-us/azure/devops/learn/what-is-infrastructure-as-code).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09be1939-e2a5-241e-4114-8747b35f3d21
* Version Independent ID: 7d77200d-9764-cabc-d5c1-c4d2ba3c2fd1
* Content: [Infrastructure as code](

[2021-05-26 05:26] maryob77062 opened #24407 "Trying to highlight code."
Trying to highlight code with my Super Simple Highlighter, an extension in my Chrome browser. Display really messesnter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's new in C# 9.0 - C#

[2021-05-26 06:55] Youssef1313 commented on #24407
@maryob77062 Can you please provide more details?

The docs site already highlights code (no need for extensions for that). See:

![image](https://user-images.githubusercontent.com/31348972/119615657-edde2180-bdff-11eb-80db-72d46a452602.png)

If there is a specific issue with an extension you're using, then I doubt there is a doc issue here.

[2021-05-26 07:03] Youssef1313 commented on #24380
➡️ https://github.com/MicrosoftDocs/devops-resource-center/issues/47

(I would suggest to keep this open to do something in case the above issue wasn't fixed or to update the link to avoid double redirection in case it's fixed)

[2021-05-26 15:04] BillWagner commented on #24370
Thanks for noting this @WillAutioItrax and for providing an answer @Youssef1313

I'll close this as an answered question.

[2021-05-26 15:04] #24370 closed

[2021-05-26 15:06] BillWagner commented on #24370
I should add for the future, the best place for general syntax on MSBuild properties is [here](https://docs.microsoft.com/visualstudio/msbuild/msbuild-properties?view=vs-2019) in the MSBuild docs.

[2021-05-26 16:34] #23807 closed

[2021-05-26 17:24] CamSoper opened #24411 "Quickstart/Tutorial request: How to call an Azure App Service-hosted web API from JS"
In response to frequent customer requests through various channels.

## Scenario

* ASP.NET Core Web API
* Hosted in App Service
* API request made from UI via Fetch
* CORS headers

[2021-05-26 20:01] #23914 closed

[2021-05-26 20:21] luisquintanilla commented on #23888
Hi @robin-karlsson

Sorry to hear you ran into issues. Would you be able to share the output / error you're getting.

Thanks

[2021-05-26 20:22] luisquintanilla commented on #23774
Adding @JakeRadMSFT @LittleLittleCloud.

[2021-05-26 20:30] luisquintanilla commented on #23888
Thanks for raising this issue @robin-karlsson. I was able to reproduce

## 1.5.2 Output

[code]

## 1.5.5 Output

[code]

[2021-05-26 20:34] luisquintanilla commented on #23888
@guinao @michaelgsharp thoughts?

[2021-05-26 21:43] Satellitel755 opened #24417 "Intro to C# Hello World!"
[The exercises were very good at helping to understand and apply the concepts and commands for Writing output, searching for output, changing the output, and boolean responses.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8053bb96-cc40-8369-c07f-f9fd14060c1e
* Version Independent ID: 293260e2-f444-537b-0ba7-14d1fb6e

[2021-05-27 00:44] #16655 closed

[2021-05-27 02:23] WillAutioItrax commented on #24370
@BillWagner This started out as a comment about documentation that imo was missing from the docs page that I was on. I was not aware that it was a MSBuild issue. Had I known, then, I may have posted it in both places :- )

[2021-05-27 03:11] #23916 closed

[2021-05-27 06:08] bewillcott opened #24420 "Table layout issue"
The "Serializable types" table layout along with the right-hand menu does not allow the viewing of more than the first column of the table.
Making the columns adjustable (width) would help.  But removing the right-hand menu would also help, to some extent.

Brad Willcott

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2021-05-27 06:09] robin-karlsson commented on #23888
I saw that you managed to reproduce now. Please give me a ping if you need me for something else. I can confirm that my output looked very similar to yours.

Thanks

[2021-05-27 07:02] ViktorHofer commented on #24420
What does Github Login mean in this context? 🤔

[2021-05-27 07:43] bewillcott commented on #24420
GitHub Login is not part of this issue.
GitHub is moving to two part authentication, though.

[2021-05-27 09:51] paulomorgado opened #24421 "Which file is the "machine configuration file"?"
The document mentions a _machine configuration file_ and its location but does not mention the file name.

Also, #17999 was closed by the automated backlog grooming process without a final answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5bf2185-770f-598c-157b-784bfca2d888
* Version Independent ID: 7568b276-9bdf

[2021-05-27 10:08] TXAE opened #24422 "c# example is missing string[] customers for example #2"
c# example is missing string[] customers for example #2
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/var#feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 651ba093-2cef-e0f6-be71-ffdf6551c2c4
* Version Independent ID: a4878d20-2a12-74ad-9fc0-9f589a44af35
* Content: [var - C# referenc

[2021-05-27 10:31] victor-yarema opened #24423 "Weird term "framework-dependent""
The page describes term "framework-dependent". But the definition says that in such case an app depends on "runtime". Why it is not called "runtime-dependent" then? Is there another term "runtime-dependent" which means something different than "framework-dependent"?
Personally I find the term "framework" pretty confusing nowadays. If I'm not mistaking it was used to describe something which is cal

[2021-05-27 11:28] ViktorHofer commented on #24420
But why is my Github handle there?

[2021-05-27 12:25] BillWagner commented on #24417
Thank you @Satellitel755

Closing as kudos.

[2021-05-27 12:25] #24417 closed

[2021-05-27 12:34] BillWagner commented on #24422
Thanks for noting this @TXAE

I don't know that an additional example using an array is needed for greater understanding of `var`.

I'll close, but if you feel strongly about adding an additional example, you can create a PR with that addition.

[2021-05-27 12:35] #24422 closed

[2021-05-27 12:59] DaniilShmelev commented on #20437
We've found that there are some issues when running 2.163.1 as a service, but it's not related to libunwind library missing. As a workaround you could use agent 2.163.1 in interactive mode or switch to a newer version of the agent (2.186.1 works fine both as a service and in the interactive mode).

[2021-05-27 13:02] DaniilShmelev commented on #20437
@automateyournetwork, @ItielBeeri have you tried running the newer versions of the agent?

[2021-05-27 13:12] Youssef1313 commented on #24420
@ViktorHofer You're the article author per the metadata. This comes to your PR (https://github.com/dotnet/docs/pull/2841) few years ago.

[2021-05-27 13:36] #24196 closed

[2021-05-27 13:38] Youssef1313 commented on #24420
@bewillcott Are you viewing from a phone or a potentially small screen? This is how it looks on my screen:

![image](https://user-images.githubusercontent.com/31348972/119835932-9627df00-bf01-11eb-90a1-fa97ff0c883f.png)

[2021-05-27 15:46] #24304 closed

[2021-05-27 15:46] #24305 closed

[2021-05-27 16:07] IEvangelist commented on #24423
Hi 👋 @victor-yarema
Thank you so much for posting this issue. We really appreciate it.

In all honesty, I agree with you. The term is confusing and runtime-dependent makes more sense. I can only assume it was originally derived from the notion of .NET Framework. I labeled this issue as both product feedback and question. I'll tag a few folks here who might have a bit more insight.

@bartonjs @terr

[2021-05-27 16:10] IEvangelist commented on #24318
Hi @BillWagner - should this have been closed from #24315?

[2021-05-27 17:13] IEvangelist opened #24429 "Fix all product /proper names for the Azure SDK for .NET"
Fix all product /proper names for the Azure SDK for .NET

[2021-05-27 18:47] #24421 closed

[2021-05-27 18:47] #24429 closed

[2021-05-27 19:03] IEvangelist commented on #22200
I'm curious @gewarren - are these APIs covered in any of your recent PNSE articles? If so, we should probably create an include file that can be added to all of the articles that refer to APIs that do throw PNSE.

[2021-05-27 19:32] IEvangelist commented on #17463
Hi friends, just circling around on this open issue - is this something that you'll be able to get to @MarkMichaelis? If not, and you have code with a general description - I'd be happy to make it happen, just let me know.

[2021-05-27 19:35] IEvangelist commented on #24361
Hi @arkalyanms
Thank you so much for posting this issue. We really appreciate it.

The [`GetAssemblyName` should work in most cases](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyname.getassemblyname?view=net-5.0#applies-to), what specific exception and stacktrace are you seeing - could you please share that?

[2021-05-27 21:45] GrabYourPitchforks commented on #24318
Thanks @kouvel for picking this up! I'm glad to see even more eyes on this. :)

[2021-05-27 23:23] #24231 closed

[2021-05-27 23:36] adegeo commented on #24423
I thought along the same lines about a year ago and actually edited this and maybe another doc to replace framework with runtime. However, this caused even more confusion because the term "framework-dependent" is used in other tools and programs such as Visual Studio. We had to revert those changes almost a year ago in #20165

From a product standpoint this is the name of the feature. It needs to

[2021-05-27 23:36] #24423 closed

[2021-05-28 00:37] Jehoel opened #24435 "CA1806 should recommend using C# discard operator instead of suppressing the rule"
https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1806

The article does not mention the C# discard operator at all, despite it being available since C# 7.0 and because the CA1806 rule _does_ recognize the operator.

Also, this statement is untrue and potentially harmful:

Linq methods _can_ and _do_ have side-effects depending on the background Linq provider, such

[2021-05-28 01:07] elraikhm opened #24436 "package index page is not showing up in the top search results"
[Enter feedback here]
I work with the Azure SDK team and we received the following customer feedback. When searching for the list of packages, they are not finding the package list and go to the GitHub documentation instead
"Thinking about it, I think I’d blame Bing for that. When I search for “Azure management SDK”, the Git repo is the thing that shows up which sort of makes sense since it’d gene

[2021-05-28 02:04] Jehoel opened #24437 "Code Analysis rule documentation should list all editorconfig names for a rule"
## <del>Old Issue description</del>

* <del>The documentation for CA1xxx rules do not state what their full `.editorconfig` rule names are.
  * <del>This makes it impossible to suppress or configure rules using `.editorconfig` [given that the Error List's Suppress and Configure menus are currently broken at-present](https://github.com/dotnet/roslyn/issues/45417) if you don't already know what the

[2021-05-28 04:31] explorest opened #24438 "Problem with the Debug provider section text."
Here is the problematic sentence:
"The Debug provider writes log output by using the System.Diagnostics.Debug class. Calls to System.Diagnostics.Debug.WriteLine write to the Debug provider."

It sounds circular.
The first sentence is telling us that the Debug provider uses the System.Diagnostics.Debug class.
The second sentence is telling us that calling a Debug class's method (WriteLine) writes t

[2021-05-28 06:40] chrisofthecoffee commented on #24231
Just pointing out a typo, in the 'Recommended action' section the property tag terminator is missing the /

<ValidateExecutableReferencesMatchSelfContained>false<ValidateExecutableReferencesMatchSelfContained>
->
<ValidateExecutableReferencesMatchSelfContained>false</ValidateExecutableReferencesMatchSelfContained>

[2021-05-28 06:48] Youssef1313 commented on #24435
I'd say that both should be consolidated into one, either as an IDExxxx or a CAxxxx

@mavasani What do you think?

[2021-05-28 06:56] Youssef1313 commented on #24437
@Jehoel I believe that setting severity is done using `dotnet_diagnostic.ID.severity` for everything.

Can you be more specific about some page as an example that you think gives a wrong example or is missing some information?

[2021-05-28 06:56] Vaskaran opened #24440 "Why do I see a different GC behavior in .NET5 and .NET Framework(4.7.2) on Windows 10?"
Hi,
Consider the following program:

class Program
{
class Sample
{
  ~Sample()
  {
   System.Diagnostics.Trace.WriteLine("Destructor is called..");
  }
}

static void Main(string[] args)
{

     System.Diagnostics.Trace.WriteLine("Experimenting destructors.");
     Sample sample = new Sample();
     sample = null;

     System.Diagnostics.Trace.WriteLine("GC is about to start.");
     GC.Collect(

[2021-05-28 07:07] chrisofthecoffee commented on #24231
A fix for anyone who has the same problem I did, this was a breaking change for me after installing Visual Studio 16.10.0.

On publishing, my three library projects all failed with "A self-contained executable cannot be referenced by a non self-contained executable".

The solution has one executable project, three library projects and a single unit test project. It's a normal setup, no requirement

[2021-05-28 07:11] Jehoel commented on #24437
@Youssef1313

**All** of the CAxxxx pages give an example using `dotnet_code_quality` when for many (if not all? or many?) should be under `dotnet_diagnostic` instead.

[2021-05-28 07:28] Youssef1313 commented on #24437
@Jehoel None of the pages suggests using `dotnet_code_quality.ID.severity`.

I see one disconnect here is that you think "severity" is applicable when a page says the word "option".

i.e, when the page says `dotnet_code_quality.OptionName = OptionValue`, it doesn't mean `dotnet_code_quality.severity`.

Regarding the code style names, for example the `csharp_prefer_simple_using_statement` you menti

[2021-05-28 07:30] Youssef1313 commented on #24437
Regarding the examples for `api_surface`, I believe the form mentioned in the docs is correct.

See for example this test:

https://github.com/dotnet/roslyn-analyzers/blob/0d8961a69316b92c263d2eb367f0d5fbdada5c69/src/NetAnalyzers/UnitTests/Microsoft.CodeQuality.Analyzers/Maintainability/ReviewUnusedParametersTests.cs#L833-L848

If it's not working with you, then it may be a product issue/feedback

[2021-05-28 07:47] Jehoel commented on #24437
Yes, I concede you're correct.

... but there's nothing to suggest that `severity` **isn't** an option - or that it requires a totally different `.editorconfig` entry name.

Because using two completely different names to configure a rule and then to set its severity is inconsistent and completely non-obvious.

Regarding IDE0063 and `api_surface`, the issue isn't that those specific rules (CA1000

[2021-05-28 08:05] Youssef1313 commented on #24437
There is, but probably should be made more obvious. The rest of the article lists what options can be used. But noting that above may reduce confusion here.

---

The main issue here is that the compiler doesn't know anything about the code_style option names. All what the compiler knows is the rule id. This is the reason you have to use the rule id to set the severity. (You can use `option_name =

[2021-05-28 08:08] Jehoel commented on #24437
BTW, @Youssef1313 Thank you for putting up with my opinionated documentation rants and stresses tonight (it's 1am now...) and working with me to to educate me on the right answer!

[2021-05-28 08:32] Youssef1313 commented on #24437
Welcome @Jehoel

So to summarize things that needs to be modified in docs:

- Update https://docs.microsoft.com/dotnet/fundamentals/code-analysis/code-quality-rule-options to early say that the option should be one of the listed below.
- Add a link to https://docs.microsoft.com/dotnet/fundamentals/code-analysis/suppress-warnings in every rule doc page
- Update https://docs.microsoft.com/dotnet/fun

[2021-05-28 09:28] Jehoel commented on #24437
@Youssef1313 I have rewritten my initial post so it now accurately describes the problems I experienced and how things could be made better for others in future.

-----------

Yes, I've written that up as the 4th item [in my edited post](https://github.com/dotnet/docs/issues/24437#issue-904538140).

-----------

That link already exists. What I'm asking for is for a copypastable snippet in every r

[2021-05-28 09:45] Youssef1313 commented on #24437
It doesn't exist in all pages, for example IDE0063. I expect this to be an issue for IDExxxx in general.

[2021-05-28 10:03] Youssef1313 commented on #24437
Note that the first paragraph of the page states this page isn't about setting severity, and links to another page.

[2021-05-28 11:47] rpacz opened #24441 "Async Programming tutorial refers to a function (File. File.ReadAllBytesAsync) which is not available in F# Interactive version 11.0.0.0 for F# 5.0"
When I try to run the very first example in this page in FSI, I get the following error: error FS0039: The type 'File' does not define the field, constructor or member 'ReadAllBytesAsync'. Maybe you want one of the following:
   ReadAllBytes
   ReadAllText
   ReadAllLines

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-28 12:13] #24441 closed

[2021-05-28 13:35] BillWagner commented on #17463
See dotnet/csharpstandard#309 for the updated text in the C# standard (draft for version 6)

[2021-05-28 13:39] BillWagner commented on #24440
Thanks for asking this question @Vaskaran

There is a lot of discussion on #17463 about this change. Quick summary: finalizers could produce a deadlock that prevented a program from exiting. Therefore, the code to run finalizers on exit was relaxed further.

You can also see dotnet/csharpstandard#309 for the updated text in the C# standard (draft for version 6).

I'll close this as a duplicate of

[2021-05-28 13:55] svick commented on #24440
@BillWagner I'm not sure that's the same issue. When I run the above code on .Net Framework, the output is:

[code]

On .Net 5, the output is:

[code]

I.e. on .Net Framework, the finalizer is called *while the application is still running*, so I think a change to executing finalizers on process shutdown alone doesn't explain this difference.

Though it's still possible this is an intentional chan

[2021-05-28 14:16] BillWagner commented on #24440
Thanks @svick
I did think it was related, but Maoni would know for sure.
Adding @Maoni0 in case this is something we need to address differently.

[2021-05-28 14:58] Vaskaran commented on #24440
@svick,
I am very much thankful to you that you hit the right point which I wanted to bring to everyone's notice. As an author, I like to give my readers a better explanation by not saying "something like it is by design.. etc." I have encountered questions like the following:
1.Is the backward compatibility broken now?
2. Is the GC in .NET 5 is MORE intelligent than in the .NET framework? etc.

[2021-05-28 15:24] Molinarius commented on #22364
Thanks.

I noticed that with clients using .NET Framework 4.x, `dynamic` still doesn’t work, but native clients and clients using .NET  5.0.6 work as expected.

[2021-05-28 20:48] amoerie opened #24446 ""Name" is no longer required for repeated elements in XML configuration"
**Issue description**

The docs here ( https://docs.microsoft.com/en-us/dotnet/core/extensions/configuration-providers#xml-configuration-provider ) mention that you need to use a Name attribute to have repeated elements in an appsettings.xml file. While the Name attribute will still work, the config will also work perfectly fine without it. (Since .NET 6 preview 4)
The only special case is when yo

[2021-05-28 21:18] alexdresko opened #24447 "Confusing install steps for linux"
We just had a _spirited_ conversation during our Friday afternoon beer meeting wherein two of us (myself included) didn't feel like it was our fault for clicking the wrong link to install .NET Core on linux  (specifically wsl2).

The problem is we're impatient. We're trying to figure out how to install linux in a hurry, and we invariably land on [this page](https://docs.microsoft.com/en-us/dotnet/

[2021-05-29 00:16] gewarren opened #24448 "Improve MidpointRounding docs"
The enum summary should also be fixed as it currently says:

_Originally posted by @mikernet in https://github.com/dotnet/docs/issues/19314#issuecomment-850415196_

In addition, there are many other improvements to make in this general area. Descriptions and examples for methods that accept a MidpointRounding parameter refer to "rounding to the nearest", but with the directed rounding modes that w

[2021-05-29 06:23] mikernet commented on #24448
I have adopted the following custom rounding enumeration in my library that I believe covers all the desired rounding modes in a clear and consice manner:

[code]
    Perhaps the BCL could do something similar.

[2021-05-29 07:48] MSDN-WhiteKnight commented on #24440
I think it's not only about finalizers, but about what is considered unreachable. If we have code like this that sets variable to null to make object unreachable:

    class MyClass
    {
        ~MyClass()
        {
            Trace.WriteLine("MyClass finalized");
        }
    }

    //....

        static void Main(string[] args)
        {
            MyClass x = new MyClass();
            Wea

[2021-05-29 08:21] Vaskaran commented on #24440
@MSDN-WhiteKnight,
Exactly. This is the way my ex-college Harilal (harilalpr@gmail.com) also analyzed the same.
I just want to add that even WeakReference is not needed. You can introduce another class and use something like:

class A : IDisposable
    {
        public A()
        {
            Console.WriteLine("Inside A's constructor.");
            using (Sample sample = new Sample())

[2021-05-29 20:28] Maoni0 commented on #24440
doesn't have anything to do with the GC. it's the lifetime tracking in JIT.

[2021-05-30 09:46] natejgardner commented on #5873
@mairaw @dotnet/docs, the current doc (both .net 4.x and 5 versions) still has this issue - I think it will help a lot for learning WPF to add some clarity here.

[2021-05-30 11:47] biryazilim opened #24454 "Microsoft Gift At Last"
[Thank you Very Much Microsoft, Enabling User With Native compiled Net 5 which CAN NOT BE DECOMPILED anyhow..]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1932751-7c2b-ce92-936e-e97f8581d5fa
* Version Independent ID: de677d1f-386a-e4c3-fdd0-6806b3ef2c0e
* Content: [Single file application - .NET](https://docs.micro

[2021-05-30 11:47] #24454 closed

[2021-05-30 12:24] svick commented on #24454
For the record, single-file executables don't prevent decompilation. You can use ILSpy (and possibly other tools) to decompile them.

[2021-05-30 14:13] paszesoft opened #24455 "This page needs to be updated for latest VS 2019 - only core apps offer "Publish to folder""
The page [Tutorial: Publish a .NET console application using Visual Studio for Mac](https://docs.microsoft.com/en-us/dotnet/core/tutorials/publishing-with-visual-studio-mac)
[Enter feedback here] is based on [Tutorial: Create a .NET console application using Visual Studio for Mac](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-mac)
Both pages currently talk about non-Cor

[2021-05-30 16:45] rafael-lua opened #24456 "The code examples in the namespace guide are all the same copied code"
All the code snippets as examples for the namespace guide are the same repeated code in the whole explanation in the fundamentals section. Would be very good to have it corrected as it is used by new people learning the language or referencing the core concepts.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17

[2021-05-31 07:07] surfmuggle opened #24457 "Token $ reserved for future use - code for a lower f# version"
This sample
[code]
throws this:` error FS1160: This token is reserved for future use [C:\...]`. Version:  `dotnet --version 3.1.113`

My attempt to avoid `$` and use
[code]
returns `error FS0001: The type 'string' does not match the type 'string -> unit` for ToString and Concat

For a f# beginner it is unclear if a f# tuple does support ToString or Concat or how to use them. I assume that swapElem

[2021-05-31 07:52] surfmuggle commented on #24457
Using

[code]

Does not help either: `error FS0001: The type 'int' does not match the type ''a -> unit'`

[2021-05-31 08:54] svick commented on #24457
F# does support string interpolation, but it requires .Net SDK 5.0. Maybe this page should mention that?

If you don't want to do that, some of the ways you could write this code are:

[code]

[2021-05-31 10:53] leeenglestone opened #24458 "The ModelOutput type is not recognised if you follow the steps in the tutorial"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8adaedc-37da-e381-a87e-6649bc6cb3c8
* Version Independent ID: 779340cf-274b-5af9-54f0-b9b90c54f143
* Content: [Tutorial: Automated visual inspection using transfer learning - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/

[2021-05-31 10:56] leeenglestone commented on #24458
Closing issue - there was an error in my code

[2021-05-31 10:56] #24458 closed

[2021-05-31 11:44] Emik03 opened #24459 ""Record" has wrong hyperlink"
In the first list of the article, the fourth and last bullet point `record`'s hyperlink links to [reference types](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/reference-types) instead of [records](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/record).

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-05-31 12:05] Benny1007 opened #24460 "Clarity in pass by reference for reference types."
[Enter feedback here]
This page should make it more clear that reference types are actually passed by reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8dd92fe-5053-1bc6-1c8f-cf9f88635cb5
* Version Independent ID: 7241f712-8d73-b5e0-37c0-5f05c92412c6
* Content: [Method Parameters - C# Reference](https://docs.m

[2021-05-31 12:22] Youssef1313 commented on #24460
References types, by default, are *not* passed by reference. They are passed by value, however, this value is a *pointer* to the actual object.

For example:

[code]

For more information, see [Passing Reference-Type Parameters (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/passing-reference-type-parameters).

[2021-05-31 12:30] surfmuggle commented on #24457
In some companies it is not easy to upgrade to the latest dotnet core version.
As you suggested it be good to

- either add a min requirements
- or provide code sample that run at least on [the current LTS version of dotnet](https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-and-net-core?ranMID=46131&ranEAID=a1LgFw09t88&ranSiteID=a1LgFw09t88-.uLyG_clk_3KaVl4offHmg&epi=a1LgFw09t88-.u

[2021-05-31 14:03] paszesoft opened #24462 "What is the point of the step 9?"
Not sure what is the purpose of the step 9:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e9a3cb6-677e-cf6f-9435-d4a5d772b28e
* Version Independent ID: 099ac29a-0b6e-a640-a32c-3714ee66b641
* Content: [Create a .NET class library using Visual Studio for Mac - .NET](https://docs.microsoft.com/en-us/dotnet/core/tutorial

[2021-05-31 21:41] Benny1007 commented on #24460
so is this incorrect?
https://stackoverflow.com/questions/23490802/does-c-sharp-pass-a-listt-to-a-method-by-reference-or-as-a-copy/23492193

[2021-06-01 03:59] Youssef1313 commented on #24460
@Benny1007 I believe the accepted answer is incorrect. However, the second answer is correct:

[2021-06-01 06:30] Vaskaran commented on #24440
@ Maoni:
"doesn't have anything to do with the GC. it's the lifetime tracking in JIT." -Does it mean that we should expect a fix in the tracking mechanism in JIT?

[2021-06-01 06:51] aman-singh-parihar opened #24466 "Case sensitivity in NetCore.Docker.dll"
I got issue while running the container and it was due to the case sensitivity of the dll.
When I have built the project, Netcore.Docker.dll created, not NetCore.Docker.dll.
So the letter "c" should be lowercase in this line of code in the docker file.

ENTRYPOINT ["dotnet", "NetCore.Docker.dll"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-06-01 07:57] Youssef1313 commented on #24466
When you created the app, are you sure you ran `dotnet new console -o App -n NetCore.Docker`, not `dotnet new console -o App -n Netcore.Docker`?

[2021-06-01 08:58] MSDN-WhiteKnight commented on #24440
Before we can expect the JIT fix, we must file an issue properly. Or, at first, figure out is it even a real bug. If i create many objects in a loop, they actually start to get collected at some point, even if inside the same scope. So maybe we are hitting an edge case that only matters in small test programs.

The interesting detail, however, that in .NET Core 2.1 the issue vanishes in release mo

[2021-06-01 09:10] aman-singh-parihar commented on #24466
Yes, you are right, I have checked my previous commands and its typo mistake.
Thanks.

[2021-06-01 09:10] #24466 closed

[2021-06-01 13:01] IEvangelist commented on #24438
Hi 👋 @explorest
Thank you so much for posting this issue. We really appreciate it. From the sounds of it, you're right. I'll investigate this a bit more, verify the source code and propose a fix to address this. Thanks again

[2021-06-01 13:43] LucaGabi opened #24470 "Bad installation instructions page"
[Enter feedback here]
How to actually install sdk 3.1 while navigating the links for ubuntu 18.04 ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80707602-f283-e796-d3b8-3287fbc011dc
* Version Independent ID: 1d732b15-9e64-633a-000c-ad96d9d3818a
* Content: [Install .NET on Ubuntu - .NET](https://docs.microsoft.com/en-

[2021-06-01 13:45] BillWagner commented on #24456
Thanks for noting this @rafael-lua

I plan on updating many of the articles in this section this month. I'll make sure to address this as part of those updates.

[2021-06-01 14:22] Cyrille-Precetti opened #24472 "Examples are all the same and not updated to the text"
The code examples are all the same and not updated to illustrate the modifications suggested in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 176f6e77-fdd7-5f97-feb3-5376c85baa5a
* Version Independent ID: fc865789-6896-4cf5-7cdf-2080047563e4
* Content: [Organizing types in namespaces](https://docs.microsoft.

[2021-06-01 14:42] BillWagner commented on #24459
Thanks for noting this @Emik03

I opened #24473 to fix this issue.

In the future, when you find issues that can be fixed by a small edit, you may find it quicker to submit a PR than an issue. Just click the "edit" button (it looks like a pencil), and you'll open the article on GitHub and you can make edits in the browser.

Thanks again for bringing this to our attention.

[2021-06-01 15:05] BillWagner commented on #24460
@Benny1007

I'm going to close this as the article is correct, and the suggested change is incorrect. As @Youssef1313 points out, the second answer to the stack overflow question is the correct answer.

If you have other potential issues, raise them. It does help us improve.

[2021-06-01 15:05] #24460 closed

[2021-06-01 15:08] BillWagner commented on #24440
Adding @JulieLeeMSFT

Should this be a doc change, or is it an issue for the JIT lifetime tracking?

[2021-06-01 15:13] VZhelev commented on #24262
The diagram in the paragraph shows the BMP range, but the end value (in the red rectangle in the picture) seems wrong.
Shouldn't it be U+FFFF?

![image](https://user-images.githubusercontent.com/30770182/120347070-9f9bb780-c304-11eb-89a5-c7afe8a76bdf.png)

[2021-06-01 15:27] Youssef1313 commented on #24472
Duplicate of https://github.com/dotnet/docs/issues/24456.

[2021-06-01 15:30] Emik03 commented on #24459
Ah, alright then. I'm surprised I didn't consider PRs an option, will do in the future!

[2021-06-01 15:37] adegeo commented on #24470
Hello! Does the [How to install other versions](https://docs.microsoft.com/en-gb/dotnet/core/install/linux-ubuntu#how-to-install-other-versions) section help? You would replace your package name in the commands listed for 18.04 with the appropriate package.

[code]
You would instead use (on that specific line)
[code]

[2021-06-01 18:11] gewarren commented on #21202
@buyaa-n @eiriktsarpalis Please don't check the boxes in the issue description when you edit it to add an API. That's how I mark whether I've documented them or not. Thanks!

[2021-06-01 19:31] gewarren commented on #22200
@IEvangelist In this case, the API was removed completely, so it's a bit different to the ones that throw PNSE.

[2021-06-01 21:26] Maoni0 commented on #24440
so far I haven't seen anything that says there is an issue. JIT is free to extend the lifetime of a local var till the end of the scope and it can change how it reports the lifetime from release to release.

Julie is OOF right now. please see discussion on this issue: https://github.com/dotnet/runtime/issues/36265

[2021-06-01 23:38] adegeo commented on #23612
@rhyek Hey there! Thank you for reporting this. I'll see what I can do in the article to help work around that potential problem.

[2021-06-02 00:08] tdykstra opened #24482 "Archive Code Access Security docs"
Contributes to #23694

Recommendation to archive Code Access Security (CAS) docs -- everything in /framework/misc. Only one of these is in thee low/no-PV report but CAS is deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b136e1b9-ac93-6fc4-616a-c24c6acf4945
* Version Independent ID: b8e47e7a-4e2e-fc0a-b0e3-20

[2021-06-02 03:27] gehongyan opened #24485 "An Incorrect Typo on the Simplified Chinese Translation"
**Issue description**

The Simplified Chinese translation contains an incorrect typo on this page

**Tuples** means **元组**, but not **元祖**. **元祖** may mean **ancestor**. **元组** could refer to the data structure.

The related English version

[2021-06-02 04:40] MSDN-WhiteKnight commented on #24440
There is issue in that C# spec contains example that sets variable to null to demonstrate how it becomes eligible for garbage collection: https://github.com/dotnet/csharpstandard/blob/draft-v6/standard/basic-concepts.md#89-automatic-memory-management

    static void Main() {
        B b = new B(new A());
        b = null;
        GC.Collect();
        GC.WaitForPendingFinalizers();
    }

On .NET

[2021-06-02 04:56] Vaskaran commented on #24440
@WhiteKnight,
Unfortunately, you and svick are bringing the right issue to everyone's notice, but in between the discussion it is being lost. If anyone sees the original program and svick's reply, the problem is crystal clear. Bill also asks the right question: Either we need to fix the issue or we need to update the spec. But unfortunately, the problem is trying to be attached with some old/exist

[2021-06-02 05:06] Maoni0 commented on #24440
@MSDN-WhiteKnight please work with jit folks to update the C# doc. looping in @AndyAyersMS.

[2021-06-02 06:19] daalcant opened #24487 "Missing "/" in Closing Tag for ValidateExecutableReferencesMatchSelfContained"
Missing "/" at the beginning of ValidateExecutableReferencesMatchSelfContained closing tag under Recommended Action section.

Currently shows
`<ValidateExecutableReferencesMatchSelfContained>false<ValidateExecutableReferencesMatchSelfContained>`

Should be
`<ValidateExecutableReferencesMatchSelfContained>false</ValidateExecutableReferencesMatchSelfContained>`

---
#### Document Details

⚠ *Do not

[2021-06-02 06:53] MSDN-WhiteKnight commented on #24440
Why is it up to me? It's the .NET team who can decide whether it's issue or not. I'm not even an active contributor neither for JIT nor for C# spec.

Note that you must build the release config, or in other way enable optimizations in JIT. And MSBuild property TieredCompilation seems to not work for some reason, but the env. variable works. I.e. you need to execute commands like this (on Windows)

[2021-06-02 08:08] kemaleq opened #24488 "Incorrect example for TreatWarningsAsErrors tag"
The example code for TreatWarningsAsErrors is:

`<TreatWarningsAsErrors></TreatWarningsAsErrors>`

This will not work since it turns out that the field is actually a boolean field, the check is done for the value inside not just the existence of the tag.

The example of a working code would be:

`<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`

---
#### Document Details

⚠ *Do not edit this s

[2021-06-02 09:35] Vaskaran commented on #24440
"Anyways, it is up to you -how to accept the fact or not.
Why is it up to me? It's the .NET team who can decide whether it's an issue or not. I'm not even an active contributor neither for JIT nor for C# spec."

[**Vaskaran**] I meant .NET teams. Probably I needed to make it clear. So, its my mistake. I acknowledge it.

"As suggested in 36265, I made TieredCompilation false, but the problem persis

[2021-06-02 12:01] Yoon455 opened #24490 "chanchaichoochuay9033@gmail.com"
**Issue description**

**Target framework**

- [ ] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]
</details>

[2021-06-02 12:33] AtmiyaVaghela opened #24491 "Issue with docker-compose.yml"
I have tried all steps provided but unfortunately, I am getting the error.

Dapr.Client.InvocationException: An exception occurred while invoking method: 'weatherforecast' on app-id: 'daprbackend'
 ---> System.Net.Http.HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Dapr.Cli

[2021-06-02 12:58] #24438 closed

[2021-06-02 13:01] amolenk commented on #24491
Hi @AtmiyaVaghela!

Did you by any chance miss the following step when adding the DaprBackEnd project?

If you left that checkbox checked, the generated ASP.NET Core API includes middleware for redirecting to HTTPS. By default, this will not work with Dapr. Unless, as you correctly write, you use the `-app-ssl` flag.

This is pretty easy to miss though, so I'll make it a bit clearer in the text.

[2021-06-02 13:07] amolenk commented on #24491
After re-reading your issue, I see that the problem is slightly different. The docker compose file should not use port 443. Let me check why that happens...

[2021-06-02 13:12] AtmiyaVaghela commented on #24491
Yes exactly, I have updated that to 80 and remove "-app-ssl", then it worked correctly.

[2021-06-02 13:18] #24285 closed

[2021-06-02 13:43] amolenk commented on #24491
Ok, figured it out.

The original walkthrough was based on HTTP and used ports 80 in the Docker Compose file. I don't think the `--app-ssl` flag was even available then.

A week ago, PR #24360 introduced a bug by changing the ports to 443. I believe the reason for this is that the reader probably missed the **clear the checkbox for Configure for HTTPS** comment in the instructions. That instructio

[2021-06-02 13:48] BillWagner commented on #24488
Thanks for noting this and creating the corresponding PR @kemaleq

I'll review the PR shortly.

[2021-06-02 13:48] BillWagner commented on #24472
closing as duplicate of #24456

[2021-06-02 13:48] #24472 closed

[2021-06-02 14:20] #24488 closed

[2021-06-02 14:56] cartermp commented on #24457
Thanks for filing the issue. The docs don't have a way to toggle between LTS and non-LTS right now. If that becomes a capability, we can consider changing what the F# docs display. However, even with that, I'm not really a fan. What will happen is a pretty big ramp-up in maintenance complexity that I'm just not interested in keeping up with.

String interpolation examples are spread everywhere in

[2021-06-02 14:56] #24457 closed

[2021-06-02 15:05] gewarren commented on #24487
Thank you! This has been fixed.

[2021-06-02 15:05] #24487 closed

[2021-06-02 15:08] #18987 closed

[2021-06-02 15:08] #20589 closed

[2021-06-02 15:08] #22426 closed

[2021-06-02 15:46] Youssef1313 commented on #24485
cc @JasonCard

[2021-06-02 16:46] dazinator opened #24496 "Says method must be static but instance method shown.."
It says as a constraint that:

But the same page shows that you can use instance level method not just static methods so I am confused.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc4ecf0-19e4-54d3-c34e-b6eadb80262b
* Version Independent ID: decc74aa-a2d5-8727-f22b-3862bacde737
* Content: [Compile-time logging sour

[2021-06-02 16:50] MSDN-WhiteKnight commented on #24440
It indeed feels somewhat wrong that release builds now get the same lifetime rules as debug by default. But the tiered JIT was introduced for a reason, it improves startup time, so it's a tradeoff. For small programs the improved startup time can be more useful then collecting some objects earlier.

That's a good point. At first when i discovered this issue i thought it would cause massive memory

[2021-06-02 17:26] JasonCard commented on #24485
Hello @gehongyan

Thank you for your contribution!  Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding Microsoft team and will close this one.

Kind regards,
Microsoft DOCS Global Experience Team

[2021-06-02 17:26] #24485 closed

[2021-06-02 17:49] #24456 closed

[2021-06-02 17:53] adegeo commented on #24447
Greetings! Thank you for opening this issue. I feel like I'm missing out, not being included in beer friday! 😁 🍺

If I understand what you're saying, it's that you're on WSL2, Ubuntu, and you open the article and that text of "Install the .NET SDK" pops out at you and you click it, not really seeing the paragraph above it.

Correct?

[2021-06-02 18:45] Vaskaran commented on #24440
Thanks for your thoughts.
"And after there were ~128K objects created, finalizers actually started executing, and memory consumption wasn't growing infinitely. So probably JIT has some magic that prevents accumulating a lot of uncollected objects with extended lifetime."
[**Vaskaran**]Let me present you with a true case study. I worked in an organization that has 20+ printer devices. The memory ca

[2021-06-02 19:01] AndyAyersMS commented on #24440
The behavior of the GC reporting in the JIT can be a bit confusing to understand. The only guarantee (and this is true going back to the very early days of .NET) is that there will not be any "hidden" references to objects allocated by a method once the method returns. With in a method, exactly which objects might end up with hidden references is undefined, and (as noted above) can and does change

[2021-06-02 19:34] AndyAyersMS commented on #24440
This behavior of the JIT almost never leads to problems in realistic applications. Typically methods return with enough frequency that the extra GC references the JIT creates have no real impact.

@vaskaran I assume your case study example above is hypothetical and you haven't actually observed this being a problem?

[2021-06-02 19:51] gewarren opened #24498 "Archive this 4.5 page"
The sample is no longer available, and this page gets 119 views/month.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca045b0d-7dca-0f46-b6e8-ca17b3a5e286
* Version Independent ID: 2193a329-140d-a146-3e5f-2fd523c456ae
* Content: [How to: Get Progress from the .NET Framework 4.5 Installer](https://docs.microsoft.com/en-

[2021-06-02 21:11] BillWagner opened #24500 "Delegate combination should mention variance conversion issues"
See https://github.com/dotnet/csharpstandard/pull/327#issuecomment-853384125

This page should mention an issue on delegate combination due to generic variance.  The note in the referenced PR shows the workaround.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1042fee1-fbe8-98a8-74d9-faaac839d32a
* Version Independent

[2021-06-02 21:21] ohadschn opened #24501 "Document the ability to deserialize into JsonElement properties"
Somewhat related to overflow deserialization, we can also do this (using a similar example as the [overflow page](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-handle-overflow)):

[code]

[code]

I couldn't find this capability documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-06-02 21:24] #24248 closed

[2021-06-02 22:55] erdembayar opened #24502 "Add documentation for dotnet nuget trust command to dotnet docs"
We [`(NuGet.Client)`](https://github.com/NuGet/NuGet.Client) team completed development of NuGet side changes for `dotnet nuget trust` command. This issue is created to add docs to `dotnet` repo.

https://github.com/dotnet/sdk/issues/17200

[2021-06-03 00:29] erdembayar commented on #24502
I created another https://github.com/NuGet/docs.microsoft.com-nuget/issues/2399 to correct and keep sync `nuget trusted-signers` vs `dotnet nuget trust` where `only 1 nupkg file acceptable on path`

[2021-06-03 04:33] tristanbarcelon opened #24504 "docker build using instructions provided returns error 127"
[Enter feedback here]

I created a Dockerfile intended as a .net core 3.1 runtime image with diagnostic tools so developers can use them. However, running docker build produces error 127.

[code]
This is the error I get.

C:\powershell>docker build --pull --tag dotnet/core/runtime:3.1-with-diagnostic-tools --file netcore3.1diagnostics.Dockerfile .
[+] Building 0.9s (8/16)
 => [internal] load build

[2021-06-03 04:44] tristanbarcelon commented on #24504
When running mcr.microsoft.com/dotnet/core/sdk:3.1-bionic interactively, the dotnet tool install command succeeds.

[code]

[2021-06-03 06:53] #24470 closed

[2021-06-03 07:10] Vaskaran commented on #24440
Hi All,
I showed you a .NET issue a few days back and I wanted to understand this behavior from the experts like you.
Then we have seen many valuable insights. I am thankful to all of you for all these valuable inputs.
In between, I discussed this with my ex-colleagues and gurus about the same and showed them this discussion.
Here is the summary:
1.Some of us believe that it is an issue, but we ca

[2021-06-03 07:10] sarul84 opened #24507 "Github Link is not working"
Github link given in the tutorial is not working, please update it with working link.

https://github.com/dotnet/docs/tree/main/docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbffd459-5fa3-35b6-eb99-c0bc3b19f479
* Version Independent ID: 15aa3a8

[2021-06-03 12:55] sughosneo commented on #24368
Hi @CSG-richard, thank you for reaching out.

No, you need to use the `kestrel` Web Server to host .NET Core/.NET 5 applications. To know more about the kestrel, you can refer [Web server implementations in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/?view=aspnetcore-5.0&tabs=windows#kestrel)

Hope this helps !

[2021-06-03 14:59] pressacco opened #24509 "Duplicate & inconsistent documentation: Thread Pool ETW Events"
Consider the following:

1. [Thread Pool ETW Events](https://docs.microsoft.com/en-us/dotnet/framework/performance/thread-pool-etw-events#worker-thread-pool-events)
2. [.NET runtime thread pool events](https://docs.microsoft.com/en-us/dotnet/fundamentals/diagnostics/runtime-thread-events#threadpoolworkerthreadwait-event)

Both documents are very similar, but there are inconsistences.  For example:

[2021-06-03 18:15] tdykstra commented on #24462
The purpose of step 9 is to make sure that you can see the build output in step 10.

[2021-06-03 19:30] tdykstra commented on #24262
Good points, @dwcullop and @VZhelev -- thanks for finding and reporting the errors.  I'll have them fixed shortly.

[2021-06-03 19:54] tdykstra commented on #24455
The "create" tutorial has you create a .NET 5.0 project. [.NET 5.0 is the same implementation of .NET as .NET Core](https://docs.microsoft.com/en-us/dotnet/standard/glossary#net-5-and-later-versions). Is your VS 2019 version 8.8 or later?

[2021-06-03 20:08] paszesoft commented on #24455
Latest stable, yes

On Thu, Jun 3, 2021 at 3:54 PM Tom Dykstra ***@***.***> wrote:

[2021-06-03 20:12] tdykstra commented on #24455
Then if you created a .NET 5 console app, you did create a .NET Core console app, it just doesn't have "Core" in the name starting with version 5.

[2021-06-03 21:04] paszesoft commented on #24455
that may be so, yet the debug behaviour for the 2 apps differ.

The explicit CORE app debugs fine, while the other shows some bugs - in the
debugger :) like conditional breakpoint not being hit when it should on:
String.IsNullOrEmty(name) where name was assigned "", would not break...

On Thursday, June 3, 2021, Tom Dykstra ***@***.***> wrote:

[2021-06-03 21:11] tdykstra commented on #24455
That would be an issue with Visual Studio for Mac -- see the top of the [Create tutorial](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-mac) for ways to report issues to the VS Mac development team.

[2021-06-03 23:07] Sanx78 opened #24515 "Fix the code example formatting"
The formatting of the examples - especially commented lines - makes the examples almost impossible to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a9a526-9135-db6b-f84b-ae52ab0876c4
* Version Independent ID: 550522d6-32ca-b8ba-7c37-5ad054102f0a
* Content: [Asynchronous Programming with Async and Await - Visua