[2018-09-24 13:06] tomap opened #7864 "From .Net Core 2.1 only"
I find this method only in .Net Core 2.1, not in .Net 2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9f79fd3-a3da-c4d7-dd6c-3ecc04311156
* Version Independent ID: e00ecbf9-cbe3-4290-1c8d-199746589493
* Content: [Convert.TryFromBase64String(String, Span&lt;Byte&gt;, Int32) Method (System)](https://docs.microsoft.co

[2018-09-24 13:24] kunom opened #7865 "Please use existing APIs."
`Nullable.GetUnderlyingType(type) != null` would exactly do the job with almost no additional code. Why isn't it mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f96935-2039-9c62-9a91-996bdf6e0ae5
* Version Independent ID: 567637a1-bc1b-9b07-762d-c14530d6ca38
* Content: [How to: Identify a nullable type (C#

[2018-09-24 13:49] pkulikov commented on #7865
@kunom thanks for the observation, the current doc code almost repeats the `GetUnderlyingType` implementation. I will update the code example.

[2018-09-24 14:06] TechnikEmpire commented on #5379
Good call. I did some work with Intel and their mkl-dnn project where we enabled openmp support for msvc and it improved performance considerably. I opened a ticket on ctnk to re-add the mkl-dnn backend to the CPU only version but who knows of they've done that yet.

That back end should make CPU only usage more feasible. I don't know about cntk having GPU acceleration other than Nshillia (also kn

[2018-09-24 14:51] cartermp commented on #7859
Looks like it's en-us only. I'll update this shortly.

[2018-09-24 15:52] daveabrock commented on #5976
I can help with this one!

[2018-09-24 16:17] #7859 closed

[2018-09-24 16:48] rpetrusha commented on #7858
Thanks for reporting the broken link, @SezMe. I've opened dotnet/docs#547 to fix it.

[2018-09-24 16:57] rpetrusha commented on #7857
In these cases, @imba-tjd, the xref links have to include the method parameters. So the first one should be \<xref:System.IO.FileInfo.CopyTo(System.String,System.Boolean)>. The second should be \<xref:System.IO.FileInfo.CopyTo(System.String)>. Would you like us to open a PR to make the change, or would you like to make it?

[2018-09-24 17:00] Crono1981 opened #7867 "Not supported on every platforms"
The documentation should state that this doesn't work for libraries that targets .NET Core / Standard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d865cd9f-35dc-d50b-391b-c216f21e8c3f
* Version Independent ID: ae717506-9483-cfae-32c4-9d81db174946
* Content: [ISafeSerializationData(Object) Interface (System.Runtime.S

[2018-09-24 17:00] rpetrusha commented on #7844
Thanks for pointing out that this example is in need of modernization, @svick. I've added it to our backlog, as well as to the community contributor's project.

[2018-09-24 17:02] rpetrusha commented on #7850
No actionable feedback. Closing.

[2018-09-24 17:02] #7850 closed

[2018-09-24 17:30] rpetrusha commented on #5976
Thanks, @daveabrock. We'll look forward to reviewing your PR.

[2018-09-24 17:37] JRAlexander commented on #7024
Thanks, @mangeshw. @GalOshri - should I update the tutorial accordingly?

[2018-09-24 18:11] rpetrusha commented on #7847
Thanks, @schulmaster, for reporting this issue. We've addressed it in dotnet/dotnet-api-docs#7847.

[2018-09-24 18:18] tomahawk1277 opened #7868 "Broken "LocBaml" link"
The introduction paragraph has a broken link to "LocBaml Tool Sample" that is trying to go to https://archive.msdn.microsoft.com/Project/Download/FileDownload.aspx?ProjectName=wpfsamples&DownloadId=9333

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4baeeb7d-bba4-c8c5-6f54-97dc68a59aef
* Version Independent ID: d248598

[2018-09-24 18:45] daveabrock commented on #5976
Why are the signatures for each method in C# instead of VB? Is this an oversight? If so, I can fix that, too.

[2018-09-24 18:55] #7253 closed

[2018-09-24 19:27] mairaw commented on #5210
We haven't addressed this on the target sprint. Moving to our backlog until we can start on this one.

[2018-09-24 19:29] mairaw commented on #5173
@zhenlan @glennc can you look at this feedback for a WCF topic?

[2018-09-24 19:39] #7865 closed

[2018-09-24 20:05] IAMtheIAM commented on #5278
Very helpful discussion, thank you.

[2018-09-24 20:08] mairaw commented on #7868
Thank you for your feedback @tomahawk1277. This is a duplicate of #3623. We're still trying to figure out where that link should go.

[2018-09-24 20:08] #7868 closed

[2018-09-24 20:11] mairaw commented on #7862
Thank you for your feedback @KamranBehzad. We've added this to our backlog.

[2018-09-24 20:11] mairaw commented on #7861
@JRAlexander can you please triage this one?

[2018-09-24 20:13] mairaw commented on #7851
@pkulikov Bill is at Ignite this week so it might take a while for him to see this. Tagging @Rick-Anderson as well since the original statement is about a topic on ASP.NET Core docs.

[2018-09-24 20:15] mairaw commented on #7848
Thanks for your feedback @bubba9999. @stephentoub could you help with this issue?

[2018-09-24 20:17] mairaw commented on #7843
@JasonCard can you please take a look at this feedback about the content localization? Thanks!

[2018-09-24 20:17] stephentoub commented on #7848
What's the question?

[2018-09-24 20:18] mairaw commented on #7842
@cartermp can you please take a look at this feedback?

[2018-09-24 20:28] mairaw commented on #7811
@tquerec, @josephisenhour, @bongiovimatthew-microsoft can you help with this feedback? Can you please let us know if there's something we should add to improve the docs for this API? Thanks.

[2018-09-24 20:31] mairaw commented on #7802
Thank you for your feedback @Zalant82. We'd have to test this to see what's wrong. We're moving this to our backlog for now.

[2018-09-24 20:34] mairaw commented on #7775
@sfilipi can you please take a look at this feedback?

[2018-09-24 20:37] mairaw commented on #7737
@davidsh can you please take a look at this feedback item? Do you have any suggestions?

[2018-09-24 20:41] mairaw commented on #7864
Thanks for your feedback @tomap. I'll have to investigate this and get back to you.

[2018-09-24 20:42] mairaw commented on #7613
@terrajobst is there any support or planned support for MEF on .NET Core?

[2018-09-24 20:44] davidsh commented on #7737
The `GetStreamAsync` API is just a convenience method.  If a developer needs to send an HTTP 'PUT, 'POST', etc. method to a server but not read the response body fully, then then should do something like this by using the HttpClient.SendAsync() method directly.

[code]

[2018-09-24 20:50] terrajobst commented on #7613
MEF v1 is available for .NET Core/Standard via the [System.ComponentModel.Composition](https://www.nuget.org/packages/System.ComponentModel.Composition) NuGet package, which is also part of the Windows Compat Pack. However, MEF v1 also works cross-platform.

MEF v2 has always been available for .NET Core/Standard via the [System.Composition](https://www.nuget.org/packages/System.Composition) NuGet

[2018-09-24 20:53] mairaw commented on #7648
Thanks for your feedback @gnilsson2. We're revisiting our set of content for .NET Core and we'll include this topic in the evaluation. We probably will deprecate this one in favor of a series of tutorials we have including https://docs.microsoft.com/en-us/dotnet/core/tutorials/testing-library-with-visual-studio.

[2018-09-24 20:57] mairaw commented on #7785
@Rick-Anderson any clue on who could help with this question? Thanks!

[2018-09-24 21:08] #6979 closed

[2018-09-24 21:16] mairaw commented on #7802
I just tested the sample and it seems to be working. You can find the whole sample here: https://github.com/dotnet/samples/tree/master/snippets/xaml/VS_Snippets_Wpf/transformanimations_snip/XAML

![image](https://user-images.githubusercontent.com/12971179/45979578-54359500-c004-11e8-8fd3-32f3a7a15137.png)

![image](https://user-images.githubusercontent.com/12971179/45979579-5861b280-c004-11e8-9b3f

[2018-09-24 21:16] #7802 closed

[2018-09-24 21:44] JasonCard commented on #7843
@mairaw I've opened [Loc Issue 41705](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/41705) ticket to escalate this issue and will update when resolved. cc @nokura

[2018-09-24 21:46] #7713 closed

[2018-09-24 21:50] #5165 closed

[2018-09-24 22:08] mairaw commented on #7341
@mvelosop please look at the set of changes that @gewarren is applying to the topics at PR #7214  and apply them to the e-book source.

[2018-09-24 22:09] irontoby opened #7874 "IStructuralComparable.CompareTo() documentation "Returns" is incorrect"
[Enter feedback here]
Documentation indicates that `IStructuralComparable.CompareTo(object other, System.Collections.IComparer comparer)` returns -1, 0, or 1. This is incorrect. It can return _any_ number less than zero if current instance precedes `other`, and _any_ number greater than zero if current instance follows `other`.

Compare to [correct documentation here](https://docs.microsoft.com/en

[2018-09-24 22:54] mairaw commented on #7543
@dend can you re-run CI for roslyn-api-docs without the extra C++ variations?

[2018-09-24 22:58] rpetrusha commented on #3931
3.5 now appears in the **Applies to** section. Closing.

[2018-09-24 22:58] #3931 closed

[2018-09-24 23:00] rpetrusha commented on #3059
The topic has been revised for 2.0 and 2.0 by #7468. Closing this issue.

[2018-09-24 23:00] #3059 closed

[2018-09-24 23:11] #7754 closed

[2018-09-24 23:12] mairaw commented on #5657
I was going to remove the call but decided to just move it above the Build call given this sample was also used by the X509RevocationMode API.
PR to change that is here: https://github.com/dotnet/samples/pull/323

[2018-09-24 23:19] mairaw commented on #4626
@seancpeters we've postponed this too many times. I'd love to get this done during this sprint but I need to understand this behavior better.

[2018-09-24 23:29] seancpeters commented on #4626
@mairaw - I'll post here with a more detailed explanation of how defaults work, hopefully either tonight or tomorrow. Then we can go through anything that's not clear, and you can re-work it (as necessary) for a user-facing doc.

Note that the original referenced post to https://github.com/MicrosoftDocs/Docs/issues/67 is no longer available, so we may have lost some context on the original discuss

[2018-09-24 23:35] mairaw commented on #4688
Moving this one to the backlog for now.

[2018-09-24 23:54] #7788 closed

[2018-09-24 23:56] #6476 closed

[2018-09-25 00:00] #7341 closed

[2018-09-25 00:00] #7638 closed

[2018-09-25 00:02] jwatkin opened #7876 "Typo: it should be "an exception" instead of "a exception""
I believe the words "You can also use a exception filter ..." should have been written as "You can also use an exception filter ...".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8cde2a6-1c92-8b1e-a795-4b1e04510575
* Version Independent ID: 3b8f6b0d-08a9-0730-3241-da241f8444b4
* Content: [try-catch (C# Reference)](h

[2018-09-25 00:05] mairaw commented on #7055
I'm going to close this one as a duplicate of #7255, which covers other issues with the same topic.

[2018-09-25 00:05] #7055 closed

[2018-09-25 00:07] mairaw commented on #7876
Thanks for the feedback @jwatkin. Yes, you're right! Would you like to submit a pull request to fix this? Our contributor guide has instructions on how to make quick fixes like that: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2018-09-25 00:09] rpetrusha commented on #7874
Thanks for pointing this out, @irontoby. We've opened dotnet/dotnet-api-docs#555 to correct the issue.

[2018-09-25 00:19] mairaw commented on #7857
We do talk about the xref site to search for overloads. Did you try that @imba-tjd? For example, https://xref.docs.microsoft.com/autocomplete?text=CopyTo

[2018-09-25 00:35] #7876 closed

[2018-09-25 01:06] mairaw commented on #7613
Ok, thanks for the info @terrajobst. Our content on MEF is not extensive but this probably should be moved under the .NET Guide then since it's not Framework specific.

[2018-09-25 01:07] mairaw commented on #7737
Thanks @davidsh. I'm closing this issue then @kiranpradeep.

[2018-09-25 01:07] #7737 closed

[2018-09-25 01:10] mairaw commented on #7848
@bubba9999 can you please provide more information about your issue so we can understand it better?

[2018-09-25 02:09] Rick-Anderson commented on #7785
@Kybs0 	 can you use Edge? cc @kirupa

[2018-09-25 02:14] Rick-Anderson commented on #7851
@lm28 	 writes:

I can tell you the code works and we have lots of reported customers telling us it works. It's an advanced tutorial.
Can you try https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/21StageSnapShots/Part-3-Sorting
It doesn't have many `#region` statements.

[2018-09-25 02:18] Rick-Anderson commented on #7851
@lm28 can you close this issues since it has nothing to do with the article you opened it against?

The `#if` blocks in the the download sample you looked at are used to have multiple stages of the tutorial. The link I sent should work better for you.

[2018-09-25 02:47] Kybs0 commented on #7785
@Rick-Anderson Nice soluction，later I will try to refactor by using this WebView Control。But now ,can you help me analysis this weird question?original bug?

[2018-09-25 02:52] Rick-Anderson commented on #7785
Can you create the simplest possible project that reproduces the problem and send me the GitHub link. I'll take a look.

[2018-09-25 03:29] fenxu commented on #7857
@mairaw As I mentioned in Teams Channel, the xref auto complete service hasn't running for a long time. So, I think recently new added methods won't be added into current API response. If you still want to enable auto complete service again, please contact with @meganbradley (PM of that feature)

cc @TianqiZhang

[2018-09-25 03:34] Thraka opened #7880 "[Project] .NET Core 3.0 release"
This is a meta-issue for the [.NET Core 3.0](https://github.com/dotnet/docs/projects/56) project.

Comment below to suggest new content, or updates to existing content.

Scenarios:
- [ ] Windows Desktop guide for WinForm/WPF projects
  - [ ] Build new TOC to cover the Windows Desktop guide
  - [ ] Create new WinForm/WPF projects (Windows only) built in .NET Core
  - [ ] Migrate existings WinForm/W

[2018-09-25 04:51] lm28 opened #7881 "Required field indicator"
Suppose that I have a required field in my database.
Could I use the DisplayFormatAttribute to highlight the DisplayName in say a different colour and or font, so that the user knows a field is required.
I appreciate that norm appears is simply put an asterisk (or other symbol) in the DisplayName.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-25 05:12] #4900 closed

[2018-09-25 06:58] txwizard opened #7882 "There are NO EXAMPLES for this over-engeineered class."
You know what to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e576df01-d2d3-133e-cbf9-71a91b707d6d
* Version Independent ID: 06be3a2d-7461-a9ef-72a7-bd7452c66d26
* Content: [ClientSettingsSection.Settings Property (System.Configuration)](https://docs.microsoft.com/en-us/dotnet/api/system.configuration.clientsetti

[2018-09-25 08:29] ChrisMaddock commented on #7763
Everything possible, would be my thoughts!

A big advantage for me would be the ability to slightly modify a sample, and then see what happens in that case. (E.g. what happens if I pass null into this method, instead of the fixed values the sample does.)

[2018-09-25 09:31] Kybs0 commented on #7785
Sorry，it has nothing to do with implementation,just cause it's rised by IE promotion 。
Below is Reproducible Steps ：
1. Prepare your computer with IE8.You can use [VMware WorkStation](https://my.vmware.com/en/web/vmware/info/slug/desktop_end_user_computing/vmware_workstation_pro/15_0?wd=&eqid=b6b532cd0000ba0a000000065ba9ff16) to Start a virtual enviroment with win7 & IE8.
2. Upgrade your IE from v

[2018-09-25 09:38] OnlyChildRecords commented on #7753
I found the issue.  I wasn't changing the month value in my Sales.cs class (which is based on the TaxiTrip.cs class in the example  -- internal static readonly TaxiTrip Trip1 = new TaxiTrip).

Working for me now.

[2018-09-25 11:07] gcordal opened #7883 "RegEx pattern produces ParserError"
I've tried this example and had the same parser error reported here:
https://forums.asp.net/t/2088064.aspx?Membership+Password+Strength+Regular+Expression+Property

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd696e21-30aa-99b8-a7db-f54a6a532f17
* Version Independent ID: 2e9db142-4fbb-4c09-a7a5-be5b068e2073
* Content

[2018-09-25 12:03] solaomosola opened #7884 "List<string> does not contain a definition for Changed"
List&lt;string&gt; names = new List&lt;string&gt;();
names.Changed += new EventHandler(ListChanged);
List&lt;T&gt; does not contain a definition for Changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8181f41d-b6ce-ad66-084e-8d2b514b87e2
* Version Independent ID: 494c4344-b752-4f86-5b66-1ef4b81c1e75
* Content: [Cla

[2018-09-25 12:23] TD5 opened #7885 "Typo in do! example snippet"
Typo in `do!` example:

[code]

"sumbitData" should be "submitData"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247c440d-b855-0df1-f2db-076cd3393a0b
* Version Independent ID: 1cbccd4d-1721-e14f-7546-8fa868c965b1
* Content: [Computation Expressions (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-referen

[2018-09-25 13:41] pkulikov commented on #7884
@solaomosola it's not the perfect naming. The `List` class used is not the standard .NET class, but the one defined earlier in the topic:
https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/classes-and-objects#other-function-members

[2018-09-25 13:45] choujiojio opened #7887 "filename"
// and writes the following text to **_ViewFileText.Err.txt_:**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d54a0d6b-5bf5-eab6-fea7-de03bf3609ca
* Version Independent ID: 0b6639ba-c6a6-6145-6091-999fb22ac377
* Content: [Console.OpenStandardError Method (System)](https://docs.microsoft.com/en-us/dotnet/api/system.con

[2018-09-25 13:53] solaomosola commented on #7884
Okay, I understand now. That should be changed or a little note added to explain that. Thank you.

[2018-09-25 14:46] josephisenhour commented on #7811
It should work if you try it this way. You should of course replace the ***** with your real values.

`            var de = new DirectoryEntry("LDAP://******.net/CN=******,CN=Users,DC=******,DC=net",
                "******", // Replace with username
                "******", // Replace with password
                AuthenticationTypes.Secure);

            de.Properties["Description"].Add("New De

[2018-09-25 14:54] mvelosop opened #7888 "Synchronize updates from PR #7214 into Microservices e-book chapter 5"
Remember to synchronize applicable updates from PR #7214 into Microservices e-book chapter 5

[2018-09-25 14:59] mvelosop commented on #7341
Thanks @mairaw, that should go into the next chapter, I created issue #7888 so It gets into my review process!

[2018-09-25 15:19] #7429 closed

[2018-09-25 15:21] #7639 closed

[2018-09-25 15:22] #7874 closed

[2018-09-25 15:29] #7885 closed

[2018-09-25 15:44] #7857 closed

[2018-09-25 16:13] daveabrock commented on #5172
I can do this one...

[2018-09-25 16:34] #7631 closed

[2018-09-25 17:08] Thraka commented on #7884
Agreed. I think we should actually change the name of the class to `MyList` or something else. We shouldn't use an extremely common class name like `List`.

[2018-09-25 17:10] Thraka commented on #7884
@BillWagner I know you're out this week but I'm assigning this to you. I "triaged" it the best I could so feel free to adjust anything and everything when you get back.

[2018-09-25 17:19] svick opened #7890 "C# spec links in C# reference should point to specific parts of the spec"
Many articles in the C# reference contain the following section:

While that link is useful, even more useful would be a link to the specific part of the specification that talks about the same topic as the article (e.g. [the sizeof article](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/sizeof) would link to [*Unsafe code*, section *The sizeof operator*](https://docs.m

[2018-09-25 17:50] daveabrock commented on #7763
I would say EVERYWHERE! But to start, it would be great to have it in APIs that are straight-forward but have a lot of little trial-and-error to get right: like parsing, formatting, and regular expressions. I think it would be really valuable to try things out in that way.

[2018-09-25 17:57] QuesoMan opened #7892 "This guide man"
Currently in an F# class, just discussed with all 25 people in here and we all agree that this help guide is absolutely useless. Its scope is extremely limited. All examples barely delve into the basics of any aspect of the language. Using this as a primary resource when coding with your language is not only inconvenient, it is impossible.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-09-25 18:32] Thraka commented on #7881
@lm28 Hi! The string format is just that, a string. It is up to the display system to determine how to render the string. For example, setting a "color" for a console app is different than setting "color" in a WPF app.

You would need to setup whatever is reading and displaying that string to respect some sort of color setting. You could also inherit from `DisplayFormatAttribute` to add other prop

[2018-09-25 19:33] Thraka commented on #7860
@Kallnischkies Hi! I believe this is just the normal behavior. The property is **Resolved**SourcePropertyName which would indicate that it's the final "found" value. If something is wrong up the chain (like as you pointed out with a null bind) then it can't resolve the path.

However, I think that this could be clearer.

[2018-09-25 20:29] cartermp commented on #7892
@QuesoMan can you clarify some of the issues you've come across?

The page entitled "F# Guide" is an index page that links into deeper content. We offer very deep documentation on the F# language in pieces of this guide. For example, [Functions](https://docs.microsoft.com/dotnet/fsharp/language-reference/functions/) gives a broad overview of the different ways you can use F# functions, with subseq

[2018-09-25 20:34] #5657 closed

[2018-09-25 21:04] JRAlexander commented on #7861
@Mackhdo, you need to check your data files. Most likely they are the html. You need to download the raw files and you should be good to go.

[2018-09-25 21:04] rpetrusha commented on #7852
Thanks for pointing out the need for a complete example, @msheliga1. We've added your issue to our backlog, as well as to the community contributor's project.

[2018-09-25 21:05] JRAlexander commented on #7861
Closing. Please reopen if you still have issues.

[2018-09-25 21:05] #7861 closed

[2018-09-25 21:10] JRAlexander commented on #7701
There are tutorials here: https://docs.microsoft.com/ru-ru/dotnet/machine-learning/tutorials/sentiment-analysis. Although they arent in Russian, you can also find more samples at https://github.com/dotnet/machinelearning-samples. Thanks!

[2018-09-25 21:10] #7701 closed

[2018-09-25 21:12] JRAlexander commented on #6794
@LarryLan, closing this as I'm assuming resolved. Please reopen if you are still having issues.

[2018-09-25 21:14] JRAlexander commented on #7774
@KevinGrealish - check out the docs at https://github.com/dotnet/machinelearning/tree/master/docs/code - they may answer your questions. Thanks!

[2018-09-25 21:15] JRAlexander commented on #7773
@KevinGrealish - check out the docs at https://github.com/dotnet/machinelearning/tree/master/docs/code - they may answer your questions. Thanks!

[2018-09-25 21:16] JRAlexander commented on #7775
@KevinGrealish - check out the docs at https://github.com/dotnet/machinelearning/tree/master/docs/code - they may answer your questions. Thanks!

[2018-09-25 21:19] JRAlexander commented on #7757
It should have been added to https://github.com/dotnet/machinelearning-samples per .NET Conf session. @GalOshri, do you know when the samples from .NET Conf will be added?

[2018-09-25 21:20] rpetrusha commented on #7890
I agree, @svick; the links should point to a specific part of the spec. I've added this issue to the backlog, as well as to the community contributor's project.

[2018-09-25 21:21] JRAlexander commented on #7753
@OnlyChildRecords - Great to hear! Thanks for letting us know it's been resolved!

[2018-09-25 21:21] #7753 closed

[2018-09-25 21:26] gitboy1 opened #7896 "Questions from a newbie"
"✓ DO make only the longest overload virtual (if extensibility is required). Shorter overloads should simply call through to a longer overload. " What determines the length of an overload? Is it the number of parameters? Also, what is a virtual overload?

"X DO NOT have overloads with parameters at the same position and similar types yet with different semantics." Can you provide and example of wh

[2018-09-25 21:28] #7502 closed

[2018-09-25 21:29] rpetrusha commented on #6305
Thanks for your feedback, @bobrundle. This content, though, is reprinted with the permission of its publisher, Pearson Education. We have no control over whether there will be a third edition. Given that, I'm going to close this issue, since it doesn't directly impact our documentation set.

[2018-09-25 21:29] #6305 closed

[2018-09-25 21:35] lm28 commented on #7881
Thanks Thraka.
While I am not quite sure how to implement this in a ASP.Net Core for Razor page, your reply makes sense.

[2018-09-25 21:35] #7881 closed

[2018-09-25 21:35] JRAlexander commented on #7150
@astmehalthakor, You can do recommendations using [FieldAwareFactorizationMachineBinaryClassifier](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.fieldawarefactorizationmachinebinaryclassifier?view=ml-dotnet). There should be a new movie recommendation sample using this at https://github.com/dotnet/machinelearning-samples soon. You can see it in action [here](https://channel9.ms

[2018-09-25 21:36] JRAlexander commented on #7035
I believe it has been decided to leave as is. Closing.

[2018-09-25 21:36] #7035 closed

[2018-09-25 21:39] JRAlexander commented on #7029
try updating the FastTreeBinaryClassifier() hyperparameters to:  NumLeaves = 50, NumTrees = 50, MinDocumentsInLeafs = 20. Closing as appears resolved.

[2018-09-25 21:39] #7029 closed

[2018-09-25 21:41] JRAlexander commented on #6503
try updating the FastTreeBinaryClassifier() hyperparameters to: NumLeaves = 50, NumTrees = 50, MinDocumentsInLeafs = 20.

[2018-09-25 21:42] JRAlexander commented on #7150
Closing this as I believe its resolved. Please reopen if that is not the case. Thanks!

[2018-09-25 21:42] #7150 closed

[2018-09-25 21:43] JRAlexander commented on #5463
Closing this as I believe its resolved. Please reopen if that is not the case. Thanks!

[2018-09-25 21:43] #5463 closed

[2018-09-25 21:44] JRAlexander commented on #6503
Closing this as I believe its resolved. Please reopen if that is not the case. Thanks!

[2018-09-25 21:44] #6503 closed

[2018-09-25 21:49] rpetrusha commented on #6374
Closing since there's been no response from @Melissa517.

[2018-09-25 21:49] #6374 closed

[2018-09-25 22:22] rqsanderson opened #7898 "Implementing a wait cursor for the duration of an event handler is extremely difficult"
This is an area that has been problematic for what seems like more than two decades now.  It has always been very hit or miss to successfully change the mouse pointer at runtime.  DoEvents is a workaround, but can introduce dangerous side effects.  Many sources suggest using a separate thread, or otherwise refactoring the long process into a separate event, but that requires a ridiculous amount of

[2018-09-25 23:00] #7842 closed

[2018-09-25 23:27] rpetrusha commented on #7896
Hi, @gitboy1.  By length of the overload, this article means the number of parameters that the individual overloaded method has. Optimally, each overload simply calls the overload that has the most parameters, so that only one overload provides the method implementation. Virtual means that method can be overridden by a derived class,

For the second point, a parameter of a particular type in a par

[2018-09-25 23:27] #7896 closed

[2018-09-25 23:28] rpetrusha commented on #7890
I agree, @svick. It also strikes me that this is a good community contributors' project. I'll add it to the backlog, as well as to the community contributors project.

[2018-09-25 23:36] sujon2100 opened #7899 "Excellent!"
Very nice explanation. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc2f58f-8fbc-9ff2-2312-8a5715536f1f
* Version Independent ID: 1dbd0d51-e1dc-8970-93f8-2a44fa71f7ba
* Content: [as (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/as)
* Content Source: [docs/csharp/l

[2018-09-25 23:45] sujon2100 opened #7900 "Nice."
new, virtual, base: all in one place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27ea7de0-7f9a-cbda-2e6f-69dbc9a9601b
* Version Independent ID: d213dce7-2e17-07c6-5f97-47b3e391976c
* Content: [base keyword (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/base)
* Content Sou

[2018-09-25 23:48] smeddows opened #7901 "Only a Default Constructor"
I'm getting a compiler error when I try to place named fields on applying the attribute to a class:
[TemplateVisualState(Name = "ConfirmedSelectedItemCleared", GroupName = "ConfirmedSelectedItemStates")]

This is what I'm getting - CS0246 - "Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	"The type or namespace name 'Name' could not be found (are you missing a using dire

[2018-09-25 23:53] smeddows commented on #7901
I've found another error buried that told me what the actual issue is.

[2018-09-25 23:53] #7901 closed

[2018-09-26 00:00] rpetrusha commented on #7899
Thanks, @sujon2100. We're pleased that you found the article useful.

[2018-09-26 00:00] #7899 closed

[2018-09-26 01:38] thx1200 commented on #7811
That code did the trick.  Thank you.

________________________________
From: Joe Isenhour <notifications@github.com>
Sent: Tuesday, September 25, 2018 10:49:36 AM
To: dotnet/docs
Cc: Timothy Carroll; Author
Subject: Re: [dotnet/docs] "InvokeSet should not be used" (#7811)

It should work if you try it this way. You should of course replace the ***** with your real values.

` var de = new Directory

[2018-09-26 01:47] GordonLam opened #7903 "Suggestion on the guideline"
In case my scenario is fully disable SSL 3.0 and TLS 1.0 and 1.1, I need to update registry key setting anyway.
The simple decision to read this guideline should be like:
1. For &gt;=.net 4.0 and &lt; .net 4.7, I should apply EXTRA registry setting
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#configuring-security-via-the-windows-registry
2. For &lt;= .net 3.5, I should

[2018-09-26 02:09] imba-tjd commented on #7857
Will you team still track this issue or perhaps reopen it?:joy:

[2018-09-26 03:36] mairaw commented on #7857
No need @imba-tjd. I’m following up offline with them.

[2018-09-26 03:43] mairaw commented on #7900
Thank you for your feedback @sujon2100! We appreciate it.

[2018-09-26 03:43] #7900 closed

[2018-09-26 09:22] edwinmuraya opened #7906 "Lambda expressions"
Nice docs..Great work. Thanks for the support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c8b202-5b65-9d30-d57e-dd060a507b9a
* Version Independent ID: 92cfc461-56ed-c046-bb03-cc5e46ebf5ba
* Content: [Lambda Expressions](https://docs.microsoft.com/en-us/dotnet/csharp/lambda-expressions)
* Content Source: [docs/csha

[2018-09-26 09:29] ericbl opened #7908 "Recommanded and supported alternative for Asp.net service on Azure?"
About the "Classes within the System.Drawing namespace are not supported for use within a Windows or ASP.NET service":
what does Microsoft recommend and support to draw images in a ASP.NET Web service on Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4a052f-ea8e-a8c4-770d-d90fca5cc543
* Version Independent ID:

[2018-09-26 09:57] ericbl commented on #7908
Maybe already a possible answer to the above question, with this blog entry from Scott Hanselman
https://www.hanselman.com/blog/HowDoYouUseSystemDrawingInNETCore.aspx
(meant for .NET Core, but comments and alternative packages are also available on .NET Framework)

[2018-09-26 10:07] trivalik opened #7909 "ToolStripMenuItem VisibleChanged is never called"
I tried to used this to update the text as late as possible, but it will be never called.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5d9a94a-00be-1c2c-432f-7d573adc2483
* Version Independent ID: 88908a61-85c5-8c5f-c470-3d9626b93c8e
* Content: [ToolStripItem.VisibleChanged Event (System.Windows.Forms)](https://docs

[2018-09-26 12:45] thomb1 opened #7910 "Sendkeys vs SendInput"
Does SendKeys eventually resolve down to a SendInput call with an array of KEYBDINPUT structures? The above hints that it does (SendWait discusses messages ...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2974536-2af9-ba39-a1ec-0901b9b24335
* Version Independent ID: edebaaa9-b33c-22ff-87be-518c0f274346
* Content: [

[2018-09-26 13:18] disklosr opened #7911 "SHA512Managed is not thread-safe."
Make sure you create a new instance each time you want to compute a hash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e3b5ac4-2db6-50e5-2f0e-0bef839584df
* Version Independent ID: 5b731fba-6a62-c453-3658-90e7fdf4bd67
* Content: [SHA512Managed Class (System.Security.Cryptography)](https://docs.microsoft.com/en-us/do

[2018-09-26 14:39] Thraka commented on #7911
@disklosr Thank you for the feedback.

@rpetrusha What do we do about this? A lot of types do not mention thread safety as a whole.

[2018-09-26 15:00] HugoRoss opened #7912 "Missing class attributes in non-C#-languages"
Hello Microsoft
There seams to  be an issue generating the class signature:

In C# there are all class attributes correctly shown

    [System.AttributeUsage(System.AttributeTargets.Assembly, Inherited=false)]
    [System.Runtime.InteropServices.ComVisible(true)]
    [System.AttributeUsage(System.AttributeTargets.Assembly, AllowMultiple=false)]
    public sealed class AssemblyConfigurationAttribut

[2018-09-26 15:16] gitboy1 commented on #7896
Mr. Petrusha,
Thank you for your explanation - it helped.
- Jonathan

[2018-09-26 15:37] abdo1819 opened #7913 "make final page more helpful"
it was a good quick start it would be good if you add links for good courses
or a book or even a deeper tutorial in c# and .net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9df3-d63f-f6a6-aa079eb5095f
* Version Independent ID: a057574c-020f-a9f0-9dfc-f8936a1132fe
* Content: [Collections interactive tutorial

[2018-09-26 17:15] #5172 closed

[2018-09-26 17:20] #6726 closed

[2018-09-26 19:11] boskjoett opened #7914 "Wrong URLs in examples"
The URL examples http://www.contoso.com:8080/customerData``/ and http://*:8080``/ should not contain ``.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94346f25-b954-863a-40dd-fa6e4400a85d
* Version Independent ID: 5caa149c-1b2e-1fe1-39c2-8953edce1912
* Content: [HttpListenerPrefixCollection.Add(String) Method (System.

[2018-09-26 19:30] Thraka commented on #7912
@HugoRoss thank you for bringing this to our attention!

@mairaw seems to be a problem with the doc generations. If you scroll to the top and change the language of the article to VB.NET (or anything besides C#) the attribute list is gone.

[2018-09-26 19:33] mconnew opened #7915 "IsSerializable only applies to BinaryFormatter and SoapFormatter"
As written, the documentation talks about serialization generically a lot. The DataContractSerializer, DataContractJsonSerializer and XmlSerializer do not require the SerializableAttribute to be present in order to be able to serialize an object. In the English language sense, a class can be serializable with one of those serializers but would return false to IsSerializable.

The documentation cou

[2018-09-26 19:36] HappyNomad commented on #7586
How is following these steps different than just running certlm.msc or certmgr.msc?

[2018-09-26 19:38] HappyNomad opened #7916 "Compare to certlm.msc and certmgr.msc"
How is following these steps different than just running certlm.msc or certmgr.msc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f950f479-532b-ab38-a676-653495777197
* Version Independent ID: 30fa2c1a-86bd-e683-3e6f-8a268f4dc4e5
* Content: [How to: View Certificates with the MMC Snap-in](https://docs.microsoft.com/en

[2018-09-26 21:11] mike-barnett commented on #6361
Yes, I agree with @kkm000: the project is unlikely to be revivied. There is no one left to work on it. It would take a tremendous effort to maintain the static checker. Even the runtime checking support would need to be totally re-written.

[2018-09-26 22:06] juliushardt opened #7919 "API docs for WindowsRuntimeBufferExtensions missing"
**Issue description**
The API docs for [`System.Runtime.InteropServices.WindowsRuntime.WindowsRuntimeBufferExtensions`](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.WindowsRuntime/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeBufferExtensions.cs) could previously be found on MSDN, but I'm unable to find them on docs.microsoft.com. The  [old link](https://msdn.m

[2018-09-26 23:25] merriemcgaw opened #7922 "Update DPI Awareness Gold bar topic to include enable/disable setting"
**Issue description**

https://docs.microsoft.com/en-us/dotnet/framework/winforms/disable-dpi-awareness-visual-studio should be updated to include the new tools->options property which allows the user to stop seeing the DPI gold bar message.  We also changed the strings in the gold bar text. @KlausLoeffelmann can provide images.

**Target framework**

Check the .NET target framework(s) being used,

[2018-09-26 23:47] TimJarvis opened #7923 "Feature request - add search / browse"
I have installed a couple of insanely useful tools - but can't help feeling that there are others out there that I don't know about, would love some kind of discovery mechanism.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c5b03c-2854-8462-57dc-b0239388096e
* Version Independent ID: 13b38200-ed54-7bfe-f7cf-099cf1b0

[2018-09-27 00:15] #7914 closed

[2018-09-27 05:26] n1v3k opened #7925 "Wrong Links when you download PDF"
Hello guys love the work on this documentation, I used to had a copy of this documentation, but lost that pdf, now that im trying to download again, the bookmark section all links takes you to the incorrect pages, anyway great material especially in pdf form where i can make annotations and whatnot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-09-27 08:55] StephaneDelcroix opened #7926 "missing 'throws' section"
throws AmbiguoudMatchException, and I guess NRE too if name is `null`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82f5859f-bf16-d3dd-5844-0ff0ac944ab2
* Version Independent ID: 8facbdf6-d0d2-b504-eb38-a0fb9d6a3c5a
* Content: [RuntimeReflectionExtensions.GetRuntimeProperty(Type, String) Method (System.Reflection)](ht

[2018-09-27 10:56] kustox opened #7927 "Confusing lock example"
Maybe my english isn't good enough, but I'm having difficulties in understanding this example:
"For example, if a container object is to be used by multiple threads, then the container can be passed to lock, and the synchronized code block following the lock would access the container. As long as other threads locks on the same contain before accessing it, then access to the object is safely synch

[2018-09-27 11:55] pkulikov commented on #7927
@kustox making it public may introduce problems as you don't know if the clients synchronize access. Keeping it private gives you the full control over how a resource is accessed. In particular, you can put every access behind a lock. And yes, if a container is a reference type, you can lock directly on a container instance.

You are right about the typo in the docs. However, I wouldn't bother fix

[2018-09-27 12:29] ChaseViking commented on #5949
Y'all crack me up.  Not everything needs to be serializable.  That comes down to YOUR specific requirements for YOUR specific project.  This article is meant to be a base, it's not meant to write your code for you or cover every possible requirement that might exist.

[2018-09-27 13:19] kustox commented on #7927
Thank you for the clarification.

[2018-09-27 13:19] #7927 closed

[2018-09-27 13:24] juniormayhe opened #7928 "@this vs this"
If you intend to use the keyword this as a variable you can use @this

Ref: https://stackoverflow.com/questions/5536540/what-does-t-this-mean-in-a-delegate-declaration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f18483e-0603-040b-e3e9-0566dd04cd74
* Version Independent ID: c7b196b6-20e4-7567-7fd8-8b7145907665
* Con

[2018-09-27 14:37] Danghor opened #7930 "Images for MessageBox icons"
I think it would be helpful to display sample images from the current operating system (i.e. Windows 10) to see what the icons will look like. This way, chosing the right icon will be faster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8900db20-f08a-6069-f39e-0ddc260420a3
* Version Independent ID: 59408b8d-e4f7-bf8c

[2018-09-27 14:52] binki opened #7931 "Multiple fields are marked “This is the default behavior”: Default, NotSet"
Both `Default` and `NotSet` are documented as:

&gt; This is the default behavior.

Please explain how and what circumstance each one is the default behavior.

I am going to guess that `Default` is the default value set by code somewhere. It would also seem that `NotSet` is documented as default because it’s what you get from this C# expression: `default(FcnMode)` or for any uninitialized field.

[2018-09-27 16:46] wmstantoniii opened #7932 "Immutability"
Please add a few words to clarify whether delegates are immutable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5dba5b-eabc-8202-2854-6b1f4a7f971a
* Version Independent ID: 8b2e46f0-6d12-6ce9-944d-b883dcbe0808
* Content: [Using Delegates (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/program

[2018-09-27 16:47] gewarren commented on #7172
All agreed upon work is now complete (update high page view topics; archive super low page view topics).

[2018-09-27 16:47] #7172 closed

[2018-09-27 17:14] rpetrusha commented on #7930
Thanks for the suggestion, @Danghor. I've added it to our backlog, as well as to the community contributor's project.

[2018-09-27 17:17] ianhays commented on #7039
@svick is correct.

There is also a distinction between zip64 and deflate64 and neither of them are exclusive with size limitations:

- Zip64 is a modification of a zip itself and is supported on netcore and netfx.
- Deflate64 is a separate compression algorithm used by some compressors to attempt to more efficiently encode zip entries that are greater than 4gb. Note that I said "entries", not zip

[2018-09-27 17:21] rpetrusha commented on #7925
@dend, can you help with this? The link downloads the .NET Guide, not the C# Guide.

[2018-09-27 17:33] rpetrusha commented on #7915
Thanks for pointing this out, @mconnew. We'll schedule some time to work on it in an upcoming sprint.

[2018-09-27 17:44] rpetrusha commented on #7926
Thanks for pointing out the missing exception information, @StephaneDelcroix. In looking at the source, it appears that the method throws:
- An ArgumentNullException if `t` is null.
- An ArgumentException if `t` is not a RuntimeType.
- An AmbiguousMatchException, if more than one property named `name` is found.
 We've added this issue to our backlog and will address it in an upcoming sprint. In th

[2018-09-27 17:49] rpetrusha commented on #7928
Thanks for your feedback, @juniormayhe. The use of the `@` prefix is documented in the [C# keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/) topic and is a general language feature; it is not unique to `this` and shouldn't be documented for `this` separately.
Since this issue doesn't impact the documentation, I'll close it. If you disagree, however, please let

[2018-09-27 17:49] #7928 closed

[2018-09-27 18:41] eddieysong commented on #7024
Running the sample code provided on GitHub on ML.net 0.5.0 causes predictions to be positive regardless of the sentiment text being provided. I've even used negative texts from the training set, still returns a positive prediction.

However, adding data from the training set to the testing set causes the accuracy to go up in the metrics output, so my theory is there's something wrong within the Pr

[2018-09-27 19:31] eddieysong commented on #7024
Looks like it's just the output displaying "Positive" for negative sentiments and vice versa..
https://github.com/dotnet/samples/pull/329

[2018-09-27 19:50] Thraka commented on #7553
Hi @kudlatiger

I did a quick search around and found https://docs.microsoft.com/en-us/dotnet/framework/tools/sos-dll-sos-debugging-extension and some other stuff that talk about SOS. It seems these are debugging helpers. I found another reference: https://bret.codes/net-core-and-windbg/

I'm guessing that it's named `sos_amd64_amd64_4.6.26628.05.dll`  because it's the sos.dll file but named to be

[2018-09-27 19:50] #7553 closed

[2018-09-27 20:35] Thraka commented on #7568
I agree that we should have some information and examples about msbuild, but we shouldn't go too deep. We should however link to more in depth articles about it.

[2018-09-27 20:43] CodyRaffy opened #7933 "Need to update documentation to reflect Azure Functions 2 in GA"
I am looking to see if Azure Functions support .NET Core 2.1 or only .NET Core 2.0 and I see this documentation has not been updated to reflect the recent release of Azure Functions 2 into GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d621091-b675-a6e5-cbe0-205731425bcf
* Version Independent ID: db89b82b-e721-054

[2018-09-27 21:09] Thraka commented on #7586
@HappyNomad I don't think it is any different. The way documented here is just a more specific way of doing it. It should list both of those **.msc** files though...

[2018-09-27 21:10] Thraka commented on #7586
@JoelMagee Thank you for bringing this up. I'm adding it to the backlog.

[2018-09-27 21:56] Thraka commented on #7898
@rqsanderson Hi. This seems more like product feedback and not really related to a problem with that documentation page. Please correct me if I'm wrong.

If I understand you correctly you seem to have problems changing the cursor to something else (like the wait cursor for example) and trying to get things done in the background, but something else comes through and changes your cursor on you. Thi

[2018-09-27 22:10] Thraka commented on #7908
@ericbl Hi! Yeah, pretty much what you found is a great source of information. For one reason or the other, ASP.NET can't use System.Drawing (probably related to the fact that there is no traditional Windows UI)

Personally I've used something like a Cloud Service on Azure, but it's a higher cost because you're running a full Windows VM. You would design that Cloud Service/VM to be triggered by yo

[2018-09-27 22:10] #7908 closed

[2018-09-27 22:14] rqsanderson commented on #7898
Thank you for reaching out, I appreciate it.

Actually, I am pleased to report we have been able to overcome the difficulties in our scenarios.  It turns there were dialog boxes shown during some of our events, which had the effect of canceling the wait cursor.  We found that setting the wait cursor again after the dialog fixed part of the problem.  Additionally, we found some existing stray calls

[2018-09-27 22:17] rpetrusha commented on #7379
This is really two issues in one:
- In the API reference: Document Path.Join and note more prominently that Path.Combine can behave unexpectedly.
- In the conceptual documentation, how to check file paths.

I'm going to open an issue to cover the article in dotnet/docs, so that this issue will serve only for the API reference.

[2018-09-27 22:21] rpetrusha opened #7934 "How to safely handle file paths and check for valid paths"
## How to safely handle file paths and check for valid paths

From #7379

We should extend this to document how to safely check for path containment (as we've done for the example for [ExtractToFile](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfileextensions.extracttofile?view=netcore-2.1#System_IO_Compression_ZipFileExtensions_ExtractToFile_System_IO_Compression_ZipArchiv

[2018-09-27 22:31] ChaseViking commented on #7327
There is absolutely no need for me to justify a thing.  Proper exception handling practice has been extremely well documented for decades.  I’ve been in the industry for 3 of those decades and have seen hundreds, if not more, developers thinking they know a better way.  And there was no personal attack.  Try not to be so sensitive.   Try/Catch your emotions.  Sorry, my attempt at levity.

[2018-09-27 22:34] CESARDELATORRE commented on #7933
//cc @JeremyLikness

[2018-09-27 23:08] JeremyLikness commented on #7933
Taking a look at this now.

[2018-09-28 00:48] dipidoo opened #7935 "Dead link in .NET Standard 2.0 documentation"
https://github.com/dotnet/standard/blob/master/docs/planning/netstandard-20/README.md#assembly-unification is a dead link
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de130a75-fed2-0567-6e3d-07a384900eec
* Version Independent ID: a2993c26-93f8-7281-d6ca-5fcc899e95f3
* Content: [What's new in the .NET Standard](https:/

[2018-09-28 01:01] Thraka commented on #7910
Seems like it: https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/SendKeys.cs,594

I'm going to close this question. If you have any other questions, please feel free to comment or reopen. 😄

[2018-09-28 01:01] #7910 closed

[2018-09-28 01:02] Thraka commented on #7906
Thank you!!

[2018-09-28 01:02] #7906 closed

[2018-09-28 02:04] n1v3k commented on #7925
Its actually the whole .net guide, 1 pdf file +2000 pages long, it used to have all links pointing to the right pages (my old copy months ago) but now the one I just downloaded, all links takes u to wrong pages, but if the guide is used in the browser (no pdf) then all links work fine, they take you to the proper pages.

[2018-09-28 02:21] macginitie opened #7936 "part of sentence missing?"
The 2nd sentence here: "You can also supply a cancellation token by calling the Wait(CancellationToken) and Wait(Int32, CancellationToken) methods. If the token's IsCancellationRequested property is true, the wait is cancelled; if it becomes true while the Wait method terminates." -- I can't parse it (make sense of it). If it becomes true while the Wait method [is executing?], the Wait method term

[2018-09-28 02:33] macginitie opened #7937 "typo/grammar"
"The size does not matter because the control is be dynamically resized at run time." [control is be]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8400406-e7fc-8407-2394-dabe839375b0
* Version Independent ID: 8f6ad0a9-2d8d-8e5c-7b80-a7c55c02aff9
* Content: [TaskScheduler Class (System.Threading.Tasks)](https://docs.

[2018-09-28 03:01] Thraka commented on #7898
Glad it's working better! I'm going to close this issue.

[2018-09-28 03:01] #7898 closed

[2018-09-28 03:11] macginitie opened #7938 "out of date?"
"Accept the default name, "image". [similarly for button]" -- does VS supply a default name any more?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8400406-e7fc-8407-2394-dabe839375b0
* Version Independent ID: 8f6ad0a9-2d8d-8e5c-7b80-a7c55c02aff9
* Content: [TaskScheduler Class (System.Threading.Tasks)](https://docs.

[2018-09-28 05:40] simon-stealthbits opened #7939 "bug/typo"
the code in the first example (line 18 I think) says [ThreadStaticAttribute] but should say just    [ThreadStatic]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c6b692-4e39-7e27-dca3-bdd8a4df46e0
* Version Independent ID: 9c8d22a1-0c8c-29ee-3624-21d40a10f852
* Content: [Thread.FreeNamedDataSlot(String) Method (Syste

[2018-09-28 08:27] StephaneDelcroix commented on #7926
@rpetrusha thanks. don't forget to review the other ones in `RuntimeReflectionExtensions` while you're at it.

[2018-09-28 08:38] realbart opened #7940 "Floating blocks"
This one gets messed up when renaming seattleCustomers or when using a proportional font:

var seattleCustomers = from cust in customers
                       where cust.City == "Seattle"
                       select cust.Name;

This one doesn't:

var localDistributors =
    from customer in customers
    join distributor in distributors on customer.City equals distributor.City
    select new {

[2018-09-28 08:39] realbart commented on #7940
This one gets messed up when renaming seattleCustomers or when using a proportional font:

var seattleCustomers = from cust in customers
            where cust.City == "Seattle"
            select cust.Name;

This one doesn't:

var localDistributors =
    from customer in customers
    join distributor in distributors on customer.City equals distributor.City
    select new { Customer = customer, D

[2018-09-28 10:14] mapfel opened #7941 "Misleading page title?"
As described in the first paragraph, the article describes the prerequisites for .NET Core development. So the title should be "Prerequisites for .NET Core development on Windows".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0

[2018-09-28 12:52] mvelosop commented on #6674
Hi @IsharaPannila,

You're right, we detected the issue too, although the problem then was about deserializing an integration event

We are working on it, it's issue dotnet-architecture/eShopOnContainers#667.

I'm closing the issue here because it's being addressed in the [eShopOnContainers repo](https://github.com/dotnet-architecture/eShopOnContainers)

[2018-09-28 12:52] #6674 closed

[2018-09-28 12:53] mvelosop commented on #6574
Included in the PR waiting for the merge.

[2018-09-28 13:17] mvelosop commented on #5661
Hi @karunasoft,

This particular chapter is about the development process, so it won't include but a mention to Kubernetes and Service Fabric.

However, chapter 4 of the [e-book](https://aka.ms/microservicesebook) already includes a nice section on Kubernetes and Service Fabric.

That chapter is just about to be merged into section [Architecting Container- and Microservice-Based Applications](http

[2018-09-28 13:17] #5661 closed

[2018-09-28 14:20] thomb1 commented on #7910
Hi Andy,
Thank you! I forgot that you can access the source code like that – very cool that you’all did that. I’m also very impressed with how quickly you’all have been responding to these sorts of questions/feedback.
Regards,
Thom

Thom C. Blackwell,  VP Technical Services
Boston Software Systems, Inc.
Phone: 866.653.5105 x807
Mobile: 508.423.8463
Fax: 508.319.3015
www.bostonsoftwaresystems.com<h

[2018-09-28 14:33] mvelosop commented on #6463
Hi @roussakov,

I might be getting you wrong but, the way I see it, that could actually hinder your team's work, because every time you execute `docker-compose up` it's a several minutes wait (>15 min on eShopOnContainers).

I'm a compulsory Ctrl-S maniac so it just would do for me.

Am I missing something here?

Would a CI/CD pipeline that triggers on push to dev branch make more sense?

Hope thi

[2018-09-28 14:35] mvelosop commented on #7888
Synchronized. included in the PR (process).

[2018-09-28 14:35] #7888 closed

[2018-09-28 14:38] fredericDelaporte opened #7942 "Erroneous remark for DistributedIdentifier"
The documentation for `TransactionInformation.DistributedIdentifier` property in `System.Transactions` states in its "Remarks" section:

This is impossible, as the property is not nullable. It is a `System.Guid`. Instead, the value is `Guid.Empty`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca8b80b-4b39-1649-f0eb-

[2018-09-28 15:43] #7887 closed

[2018-09-28 16:04] mayerhofer opened #7945 "Good article"
Please fix "this" keyword before String parameter. It might lead to wrong ideas.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826876cc-d286-3e10-515e-bba12d85f1f4
* Version Independent ID: 5dfbe5a8-f7be-617d-c9ff-db2fa2d6a396
* Content: [Building a .NET Standard class library with C# and .NET Core in Visual Studio 20

[2018-09-28 16:28] rpetrusha commented on #7945
We're please that you liked the article, @mayerhofer.

The `this` before the parameter of type `string`, however, is correct. It defines the parameter as an extension method; as a result, the method can be called as if it were a member of the String class. And that's how it's used in the unit tests and the consuming article,

[2018-09-28 16:28] #7945 closed

[2018-09-28 16:34] rpetrusha commented on #7937
Thanks for pointing this out, @macginitie. We've opened dotnet/dotnet-api-docs#564 to correct the typo.

[2018-09-28 17:00] CESARDELATORRE commented on #6463
Docker-compose up takes 15 min just the first time you need to compile everything and create all the Docker images. If you just update a single image Docker-compose up takes just 2 minutes or so.
Another approach if you already chose Kubernetes is to use Azure Dev Spaces and deploy a single service to a cluster that already has the rest of the services deployed.

[2018-09-28 20:29] rpetrusha commented on #7936
Thanks for pointing out the missing text, @macginitie. We've opened dotnet/dotnet-api-docs#565 to address this issue.

[2018-09-28 20:34] TechnikEmpire commented on #5379
Re CNTK accelerated CPU support: https://github.com/Microsoft/CNTK/issues/3266

[2018-09-28 23:43] rpetrusha commented on #7938
Thanks for letting us know that the example instructions are outdated, @macginitie. We've opened dotnet/dotnet-api-docs#566 to update them.

[2018-09-28 23:49] jeffschwMSFT opened #7946 "ProxyAttribute.CreateInstance(Type) Method does not call constructors on object creation"
I would recommend that we add the following:
Returns
MarshalByRefObject
An uninitialized MarshalByRefObject or a transparent proxy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 157eed91-dd98-f43c-a9a2-719e99446864
* Version Independent ID: 2963cff2-c3fe-defd-d588-2e5cf4c76a3f
* Content: [ProxyAttribute.CreateInstance

[2018-09-28 23:51] rpetrusha commented on #7935
Thanks for reporting the broken link, @dipidoo. We've fixed it in #7947.

[2018-09-28 23:56] rpetrusha commented on #7941
You're right, @mapfel; the title could be improved to indicate explicitly that it focuses on developers. Would you like to submit a pull request to make the change? For information about submitting a PR, see the [Contributor's Guide](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#process-for-contributing).

[2018-09-29 01:50] urmyfaith opened #7949 "Link is Broken： How to: Apply a Transform to a Drawing"
&gt; Transforms the DrawingGroup contents. For an example, see How to: Apply a Transform to a Drawing.

https://msdn.microsoft.com/library/0d525f2b-682d-4d67-9660-cf46929fbabd?f=255&MSPPError=-2147217396

this link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e79552-c0db-355c-9b16-e8a44b187f31
* Version

[2018-09-29 07:56] francisco-chavez opened #7951 "More Info Needed"
What is vector division? Saying "The Division method defines the division operation for Vector&lt;T&gt; objects." doesn't tell us anything. When you look up the word division in a dictionary, the last thing you expect to see is the word "division" as the definition.

Is this element wise division where "result[i] == (left[i] / right[i])"? Or, is it something else? I would hope that this is element

[2018-09-29 09:30] svick commented on #7949
Specifically, I think it's broken only in Chinese:

![](https://user-images.githubusercontent.com/287848/46244130-efe74c80-c3da-11e8-8c0e-59d243185aa8.png)

It works fine in English:

![](https://user-images.githubusercontent.com/287848/46244133-fbd30e80-c3da-11e8-97dd-d654eb3a320d.png)

[2018-09-29 16:02] Thraka commented on #7910
You're welcome :) We're trying to keep up with them, but there are a lot :D

[2018-09-29 17:19] netsrotr commented on #3540
@kingboyk  same to me :-1:

[2018-09-30 02:38] urmyfaith commented on #7949
seems works now.

[2018-09-30 02:38] #7949 closed

[2018-09-30 16:37] sam-wheat opened #7952 "This page is incorrect and is missing the essense of proper error handling."
&gt; Use try/catch/finally blocks around code that can potentially generate an exception.

Any line of code can of cause an error.  I don't think it is practical or desirable to wrap every line of code in a try block.  That is why there are global exception handlers.  There is much reasoning behind how and where try blocks are used than what is found here.    I wrote a [page on my blog](http://sam

[2018-09-30 16:56] svick commented on #7952
Isn't this pretty much a duplicate of https://github.com/dotnet/docs/issues/7327?

[2018-09-30 18:37] sam-wheat commented on #7952
@svick

There is overlap but I want to bring attention to the missing information.

[2018-10-01 00:30] jamesmh opened #7954 "Nuget Pack Doc Potentially Misleading / Wrong Terms"
The third paragraph states (emphasis mine):

I think this is misleading due to the term "project" - which really means "NuGet Package". Since you are able to create a project/library that also has a dependency on another "local project" (via `ProjectReference`), I think a better term to use would be `Package` or `Library`.

Right now, the ability to include a project via `ProjectReference` / DLL d

[2018-10-01 01:16] ericmutta opened #7955 "Grammar issue on "Covariance and Contravariance (Visual Basic)" page."
Towards the end of [Covariance and Contravariance (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/covariance-contravariance/) we have this sentence:

I believe the words in bold above, should appear in their plural form so the sentence reads as follows (corrected words in ALL CAPS):

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-01 01:42] ominousPotOfLeeks opened #7956 "Needs more"
Doesn't say how to change items in an array, or specify the length.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a02d7544-6f92-5582-9d28-7160a5bc916a
* Version Independent ID: 7e3f884a-94b6-ea27-70ea-060fe51f51c2
* Content: [Arrays (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-gui

[2018-10-01 04:02] bhadanimayank opened #7957 "Issue adding Service Reference"
When I am running GettingStartedHost Project. I am unable to add the Service Reference to GettingStartedClient Project because the option is disabled. I have all the three GettingStartedLib, GettingStartedHost, GettingStartedClient   projects is a single solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c27c6cc

[2018-10-01 05:18] michael-freidgeim-webjet opened #7958 "GZipStream or DeflateStream ?"
Please include clarification about differences between GZipStream or DeflateStream. May be just copy from  https://stackoverflow.com/questions/2599080/gzipstream-or-deflatestream-class

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d62df79-4da2-3581-83a3-962dc91b7a0b
* Version Independent ID: d9fae7fa-8a07-6738-435b-8

[2018-10-01 12:32] thriolsson opened #7961 "Does this make alwas make copy?"
This completely lacks any form of useful documentation of the "contract". Without knowing if this will always return a new copy or not, the effect is that I must always make a copy. Surely I can look at the source code for .NET Core for the current implementation, but without knowing what the contract is, I cannot really rely on this since it might change in the future.

---
#### Document Details

[2018-10-01 13:35] arshadkazmi42 commented on #7939
@simon-stealthbits I would like to take this up. Which file needs this type change.

[2018-10-01 14:27] yakuramori opened #7962 "Add link to xUnit documentation"
One can specify additional parameters for test execution in xunit.runner.json file in root directory.
More info about possible configuration here: https://xunit.github.io/docs/configuring-with-json.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e39c2f1b-f41a-bdf9-2646-09379941453d
* Version Independent ID: 422811c

[2018-10-01 14:28] pkulikov commented on #7939
@simon-stealthbits using `[ThreadStaticAttribute]` is not a bug; it's equivalent to using `[ThreadStatic]`. Given that, Visual Studio suggests to simplify `[ThreadStaticAttribute]` into `[ThreadStatic]`.

[2018-10-01 15:37] Powerhelmsman opened #7965 "Socket example does not use .Dispose(); method"
This issue was created by @rayanKhosravian from https://github.com/MicrosoftDocs/feedback/issues/694
Is your feature request related to a problem? Please describe.
The msdn docs are awsome actually, and this is my intent of posting this request.
The Socket example at msdn does not implement a error handling and disposing of the disposable type "Socket".
Describe the solution you'd like
Integrading

[2018-10-01 15:45] ericrrichards opened #7966 "No content"
So, where is the documentation?  I guess we're still at auto-generated stubs, without any of the old doc moved over.
This is the top Google search result, so at least the SEO is working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81498c77-e953-d79b-d758-09e63edc61fd
* Version Independent ID: 51907d96-b483-143d-0462

[2018-10-01 16:05] pkulikov commented on #7966
@ericrrichards

There are no old docs for this method, as this method is new and present only in .NET Core 2.0 and later.

Thank you for pointing out the missing content.

The `TryAdd` method behaves as the [`Add` method](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.dictionary-2.add?view=netcore-2.1) in case the element with the given key doesn't exist in the dictionary:

[2018-10-01 16:20] ericrrichards commented on #7966
Okay, lovely.  I was trying to figure out if this operated with the same
behavior as one has come to expect from .NET collection TryAdd methods

On Mon, Oct 1, 2018 at 12:05 PM, Petr Kulikov <notifications@github.com>
wrote:

[2018-10-01 16:29] JmlSaul opened #7967 "Description about SingleOrDefault is incorrect."
while the collection does not contain exactly one element will not return default value but throw exception, please kindly update the doc refers to 'More Information'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425902b5-2b2a-c899-91fb-44aa9ea3dc1b
* Version Independent ID: e2866096-c7fe-61cb-b53b-6fa0f78800f5
* Cont

[2018-10-01 16:38] #7935 closed

[2018-10-01 16:44] pkulikov commented on #7967
@JmlSaul thanks for pointing out the incorrect description.

[2018-10-01 17:52] #7926 closed

[2018-10-01 17:53] #7937 closed

[2018-10-01 18:31] cscuser3 opened #7971 "The example give syntax error when using in Word 2016"
I am working with Microsoft word 2016. Error 5991 is not being captured with On Error. So, I tried your example.
World complains err.clear() is not valid. But it accepts err.clear. When I run your example it does not capture divide by -0-.
The if statement isn't executed because the error number is 11 not 6. Other than that the code worked.
Thanks.
Steve

---
#### Document Details

⚠ *Do not edit

[2018-10-01 19:19] mikkelbu commented on #7571
I think that the reason for why `DispatcherTimer` is not mentioned is that the box only mentions "Be aware that .NET includes **four classes named `Timer`**, each of which offers different functionality:" (emphasis is mine). So if we decide to add `DispatcherTimer` we will need to change the initial sentence. We can probably be inspired by the text from https://docs.microsoft.com/en-us/dotnet/stan

[2018-10-01 19:29] mikkelbu commented on #7490
I think that @paul1956 is right about the wrong languages
![image](https://user-images.githubusercontent.com/1007631/46310789-96d90d80-c5c0-11e8-8bf6-07d6b7dbab72.png)
and
![image](https://user-images.githubusercontent.com/1007631/46310879-e3bce400-c5c0-11e8-9903-3113cc072721.png)
...
Looking at the code I can (mostly) find references to VB examples in this file.

[2018-10-01 19:58] rpetrusha commented on #7575
@krwq and @bartonjs, what is the status of this issue in view of dotnet/corefx#32226? In what version of .NET Core does the behavior of ComputeSignature change from throwing PlatformNotSupportedException to throwing InvalidOperationException if  CmsSigner.SignerIdentifierType does not equal SignerIdentifierType.NoSignature? Both behaviors should be documented.
-  The documentation should note that

[2018-10-01 20:09] rpetrusha commented on #7537
Thanks, @wschin. We've added this to our backlog.

//cc @mjrousos, can you comment?

[2018-10-01 20:12] rpetrusha commented on #7589
Thanks, @SimpleSamples, for your feedback; I apologize that it's taken us so long to respond to you. Yes, that is an appropriate sample for the documentation. If you'd like to open a PR, we'd be delighted to review it. The sample code goes in the dotnet/samples repo.

[2018-10-01 20:16] BillWagner commented on #7642
Thanks for asking the question @liammoat

As @svick said, the document is correct: The extensions should mean "ASP.NET Core", not "ASP.NET".

I'll close this issue.

[2018-10-01 20:16] #7642 closed

[2018-10-01 20:19] omerlh commented on #7941
I can take it. I think it's better to fix the headline - the page is for developers, the first 2 sections are just prerequisite. This page might be confusing for non-dev who will wonder if they need Visual Studio or Visual C++.

[2018-10-01 20:21] BillWagner commented on #7646
Thanks for pointing this out @ant-222

I see that you've created a PR to address #7628 and @douglaslMS is reviewing that now. Once you've agreed on that update, do you want to submit a PR for this issue as well?

[2018-10-01 20:27] rpetrusha commented on #7700
Thanks for your feedback, @PrestonII. The documentation certainly could use improvement. We've added it to our backlog, as well as to the community contributor's project.

[2018-10-01 20:30] rpetrusha commented on #7728
Thanks for submitting your feedback,, @ite-klass. We've added it to the backlog until we can gather more information.
//cc @davidsh, do you know who owns System.Web?

[2018-10-01 20:31] davidsh commented on #7728
@Tratcher Can you please help here?

[2018-10-01 20:32] BillWagner commented on #7736
I'll close this, as there's no doc action to address this concern.

[2018-10-01 20:32] rpetrusha commented on #7736
Closing.

[2018-10-01 20:32] #7736 closed

[2018-10-01 20:32] ant-222 commented on #7646
I am not certain what a good PR would be. I would simply remove the partially duplicated and incorrect description and replace it with a reference to the dedicated article on connection strings. If that is OK with you, I can do it.

[2018-10-01 20:34] rpetrusha commented on #7740
Thanks, @lextm, for your feedback. Would you like to submit a pull request that addresses the issue?

//cc @davidsh, another System.Web issue.

[2018-10-01 20:38] davidsh commented on #7740
@Tratcher for System.Web issues

[2018-10-01 20:45] rpetrusha commented on #7741
Thanks for pointing this out, @tymtam2. The example is definitely a poor one that assumes a single-threaded application. We've added it to our backlog. We'll also open an issue to evaluate the Collections.Concurrent classes, since many of the examples seem to assume a single-threaded execution environment.

[2018-10-01 20:49] rpetrusha commented on #7745
@maryob77062, do you want to provide more detailed feedback about the topic that might help us improve it?

[2018-10-01 20:51] rpetrusha commented on #7752
Thanks, @mc0re, for pointing out the inaccuracy in the illustration. We've added it to our backlog.

[2018-10-01 20:53] BillWagner commented on #7770
@douglaslMS Can you comment on this proposal to update this article?

[2018-10-01 20:54] BillWagner commented on #7770
Thanks for submitting this @ant-222

I'd like others to answer if this is the right direction for this article.

[2018-10-01 20:59] rpetrusha commented on #7830
Thanks, @cowlinator, for your feedback.  The topic certainly could benefit from an XAttribute usage example. We've added it to our backlog.

[2018-10-01 21:04] maryob77062 opened #7973 "Broken link"
WPF Controls Gallery Sample http://go.microsoft.com/fwlink/?LinkID=160053

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb616ad-a690-f807-1632-7e6e9dd74e8f
* Version Independent ID: 3f4ba5eb-613e-4e01-31f3-16c9f1d3b2cd
* Content: [ToolBar Class (System.Windows.Controls)](https://docs.microsoft.com/en-us/dotnet/api/sy

[2018-10-01 21:05] ant-222 commented on #7770
Let us hear others' opinions. For my part, the issue was prompted by a grave misunderstanding on the part of an employee of a large company that has its own RDBMS with an *ADO.NET* provider. He used this line:

as an argument for not complying with the general escaping requirements and forcing the user manually to escape schema names with a full stop in them, e.g.:

    Schema="My.Schema";

instea

[2018-10-01 21:07] maryob77062 opened #7974 "Broken Link"
Default WPF Themes.  http://go.microsoft.com/fwlink/?LinkID=158252

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb616ad-a690-f807-1632-7e6e9dd74e8f
* Version Independent ID: 3f4ba5eb-613e-4e01-31f3-16c9f1d3b2cd
* Content: [ToolBar Class (System.Windows.Controls)](https://docs.microsoft.com/en-us/dotnet/api/system.wi

[2018-10-01 21:13] mairaw commented on #7974
Thank you for your feedback @maryob77062. This is a duplicate of issue #6831.

[2018-10-01 21:14] mairaw commented on #7974
Duplicate of #6831

[2018-10-01 21:14] #7974 closed

[2018-10-01 21:37] deathbydogtreat opened #7976 "Thank you"
I'm sure it benefits the creator of the code to have more people using it, but thank you for taking the time to make something as helpful as this, and have it cost nothing to me, the person wanting to learn.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b514dfb-f00b-8ac3-4027-7a28770f959e
* Version Independent ID: 7d

[2018-10-01 21:39] mairaw commented on #7976
That's great to hear @deathbydogtreat! Thanks for taking the time to send us feedback.

[2018-10-01 21:39] #7976 closed

[2018-10-01 22:00] mairaw commented on #7973
Thank you for reporting this issue @maryob77062. It has been fixed.

[2018-10-01 22:00] #7973 closed

[2018-10-01 22:01] Tratcher commented on #7740
@shirhatti can you route?

[2018-10-01 22:03] Tratcher commented on #7728
@shirhatti

[2018-10-01 22:08] #7628 closed

[2018-10-01 22:09] rpetrusha commented on #5319
Thanks for your feedback, @JaredShaver. I apologize that it's taken so long to respond.

The System Requirements page is designed to provide information about .NET Framework 4.5 and later versions only. The [.NET Framework versions and dependencies](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies) article provides information about all previous .NET Fram

[2018-10-01 22:14] douglaslMS commented on #7770
@ant-222 cc @BillWagner I've verified your input about escaping with an ADO.NET subject matter expert. Can you do us the favor of preparing a pull request to capture your learnings? Thank you.

[2018-10-01 22:14] mairaw commented on #7939
@pkulikov is right. VS recommends that change but it's not required.
@arshadkazmi42 the files to change would be:
- https://github.com/dotnet/samples/blob/master/snippets/visualbasic/VS_Snippets_CLR_System/system.Threading.Thread.DoNotUseDataSlots/vb/source.vb
- https://github.com/dotnet/samples/blob/master/snippets/cpp/VS_Snippets_CLR_System/system.Threading.Thread.DoNotUseDataSlots/CPP/source.cp

[2018-10-01 22:17] rpetrusha commented on #7971
Thanks for your feedback, @cscuser3. Word 2016 supports Visual Basic for Applications. The articles in docs.microsoft.com/dotnet/visual-basic document Visual Basic .NET, which is a different programming language that supports .NET Framework. Although they are similar, there are numerous differences, some of which you've reported here.

Since this is Visual Basic .NET documentation, I'll close this

[2018-10-01 22:17] #7971 closed

[2018-10-01 22:57] shirhatti commented on #7740
@Jinhuafei

[2018-10-01 23:07] rpetrusha opened #7979 "Review and revise System.Collections.Concurrent examples"
## Review and revise System.Collections.Concurrent examples

A number of the examples that illustrate the types in System.Collections.Concurrent are unambiguously single-threaded and synchronous. This makes them rather pointless. They should be revised to be meaningful. The examples (at least for class topics) include:

- [ConcurrentBag\<T>](https://docs.microsoft.com/dotnet/api/system.collections

[2018-10-01 23:12] douglaslMS commented on #7770
@ant-222 Excuse me, I was confused while looking at the several related issues and PRs that you've created. Yes, please create a PR for the changes that you recommend in this issue.

cc @BillWagner

[2018-10-02 01:33] mairaw commented on #7966
It seems that this API has a high number of visits. So adding docs for it should be prioritized. I'll try to add some this week.

[2018-10-02 08:33] ant-222 commented on #7770
@douglaslMS OK, just give me some time, for I am very busy on workdays.

[2018-10-02 10:06] mkamoski opened #7993 "Please add a Print Page link to each page, so one can PDF the contents if needed, etc."
Please add a Print Page link to each page, so one can PDF the contents if needed, etc. Thanks. -- Mark Kamoski

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4240a425-1ea1-ee6c-3cba-e1c12bc0ad16
* Version Independent ID: 3fd5c415-5fc8-c4c7-a580-ac146b909837
* Content: [SqlConnectionStringBuilder.IntegratedSecurity Prop

[2018-10-02 10:14] andrekoehler opened #7994 "Rotation does not work"
Why does the following code not rotate the bitmap that is displayed?

            BitmapImage bmp = new BitmapImage(new Uri(@"C:\Users\Andre\Pictures\BaseUnit.jpg", UriKind.Absolute));
            bmp.Rotation = Rotation.Rotate90;
            img.Source = bmp;

bmp.Rotation instantly reverts to Rotate0 after setting it to Rotate90.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-10-02 10:18] andrekoehler commented on #7994
Oops, I forgot to put bmp.Rotation inside bmp.BeginInit(); bmp.EndInit(); calls.

[2018-10-02 10:18] #7994 closed

[2018-10-02 10:36] martingbrown opened #7995 "async methods sit in the middle of a chain and I feel it would be helpful to add more details about what happens at each end."
Async, methods sit in a call stack of method that all seem to have to be async. But how to you start that stack and how to you end it?

I regularly come across situations where I'm writing a method that isn't declared `async` but wants to call a method that is. A classic example of this is when creating a console application and you want to call an HTTP endpoint from `void Main()`. How would you d

[2018-10-02 10:59] Luperco opened #7996 "Wrong link"
The link "Popup Placement Sample" bring to a non existent domain archive.msdn.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c649c8-b40a-bb58-79ce-b204031f05e2
* Version Independent ID: ab7d588a-67c0-5fbc-5819-5dc36e8ce635
* Content: [Popup Placement Behavior](https://docs.microsoft.com/en-us/dotnet/fra

[2018-10-02 11:27] Korenvais commented on #6546
Hello,
I am currently working at Check Point and would like to know when the 'Anomaly detection' functionality will be available/release since It will be great for one the company's projects. Willing to do BETA test to get early release. Thanks & Regards

[2018-10-02 12:04] svick commented on #7993
I don't understand what would be the point of doing that. All browsers already have a Print button, so I don't see a reason to duplicate browser functionality here.

The result of printing API reference pages is not great (https://github.com/MicrosoftDocs/feedback/issues/722, https://github.com/MicrosoftDocs/feedback/issues/723), but I think that's a separate issue.

[2018-10-02 13:03] nhwilly opened #7997 "Values correspond to what?"
I'm sure everyone but me knows this somehow, but exactly what do the values correspond to?  I understand that the bigger the number, the more curved the corners are, but a little guidance on how the radius is related to the size of the object, say, to construct a circle, etc. would be really helpful.

Like, any value more than half the diameter will be ignored, etc.  I just want to have a guidelin

[2018-10-02 13:29] DarthDerrr opened #7998 "Not useful"
How is this supposed to be configured? Could a link to any documentation about the corresponding configuration be added. This by itself is pretty useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e563a255-5406-284a-965b-33596e660a3c
* Version Independent ID: 0ec2b3bb-8937-50be-d499-df3659fdd5ce
* Content: [System

[2018-10-02 13:34] DarthDerrr opened #7999 "Code example causes an error"
I'm using .net 4.0 in an asp.net application. I pasted the named caches configuration into my system.runtime.caching node of config verbatim and got an error:

Description: An error occurred during the processing of a configuration file required to service this request. Please review the specific error details below and modify your configuration file appropriately.

Parser Error Message: Unrecogni

[2018-10-02 13:53] #6586 closed

[2018-10-02 14:13] #7378 closed

[2018-10-02 14:17] #7965 closed

[2018-10-02 14:36] stephenstroud commented on #5385
@aditidugar Any update on Multi-label classification support please?

[2018-10-02 14:50] rpetrusha opened #8001 "Document RuntimeReflectionExtensions exceptions"
## Document RuntimeReflectionExtensions exceptions

See #7926

The exceptions thrown by the [RuntimeReflectionExtensions](https://docs.microsoft.com/dotnet/api/system.reflection.runtimereflectionextensions) methods are generally not documented. The exceptions are generally the same as those thrown by the corresponding [System.Type](https://docs.microsoft.com/dotnet/api/system.type) method. To docu

[2018-10-02 15:00] #7649 closed

[2018-10-02 15:13] vladomelchuk opened #8002 ".cctor"
I suppose that cctor also would be trigerred if we have and call custom method from struct. Something like

    class Program
    {
        static void Main(string[] args)
        {
           MyStruct str = new MyStruct();

           str.DoWork();
        }
    }

    struct MyStruct
    {
        public void DoWork()
        {
        }
    }

Not only if we reference static member or explicitl

[2018-10-02 15:21] #7704 closed

[2018-10-02 15:29] dseelinger opened #8003 "Typos?"
"that approach it is not very common" at the end of the article should probably read "that approach is not very common"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9643196-016b-a19b-d113-4fa134b592ab
* Version Independent ID: fd4df99d-ac1f-1f21-76b1-cda582d7d4ad
* Content: [Architecting Container and Microservice B

[2018-10-02 16:26] jkaisler opened #8005 "How to Remove Question at top of the screen."
I also had this problem.   Just received a Dell 7730 with 4K screen set to 226% / 216dpi.   Enabled the proper Key setting described in Layers.   Always get the question at the top of the screen saying Reset to DPI-Aware.   I have to click the X to make question go away.   If I have configured it to be DPI UNAWARE, why keep questioning me?  Visual Studio 2017 - 15.8.5

---
#### Document Details

⚠

[2018-10-02 16:27] mgroves commented on #7499
I just submitted a PR to add a quick sentence. The base class is able to throw exceptions, but that functionality is encapsulated away in this implementation, so Remove will not do anything if an object by the given key is not found.

[2018-10-02 16:31] SteveGoodman opened #8006 "Missing behaviorConfiguration attribute on the endpoint"
There should be a behaviorConfiguration attribute on the endpoint to connect the endpoint to the behavior configuration.

&lt;client&gt;
            &lt;endpoint address="http://localhost:8080/SimpleService/"
                      binding="wsHttpBinding"
                      behaviorConfiguration ="clientInspectorsAdded"
                      contract="ServiceReference1.IService1"

[2018-10-02 16:34] #7015 closed

[2018-10-02 17:05] helloguo opened #8008 "Background workstation garbage collection"
In the picture of 'Background workstation garbage collection', the activities of the separate dedicated 'GC THREAD' is shown as ALLOCATING-&gt;GC-&gt;ALLOCATING. Should it be WAITING-&gt;GC-&gt;WAITING?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8948cf5-0aec-308c-8046-965cc15763b2
* Version Independent ID: a30a0be

[2018-10-02 17:50] #6615 closed

[2018-10-02 17:52] Niladri24dutta commented on #7647
@BillWagner @rpetrusha Can I submit a PR for this? It seems this is not resolved yet.

[2018-10-02 17:54] BillWagner commented on #7647
@Niladri24dutta Yes, we'd appreciate a PR.

[2018-10-02 18:07] gewarren commented on #8005
I believe there'll be an option to dismiss the gold bar with the message in Visual Studio 2017 version 15.9.

[2018-10-02 18:19] Niladri24dutta commented on #7417
@rpetrusha I would like to work on this, but I have some doubt regarding the default transport mode,duplex mode for `WebHttpBinding`. Can you help me to find the correct reference for `WebHttpBinding` to look for these informations.

[2018-10-02 18:25] maximdx opened #8009 "Fire and forget"
But what if we want to call the async method in a fire-and-forget way? It is good to call async method without awaiting it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b7aabd-59fb-dcb9-dd1b-55bf64730aee
* Version Independent ID: b9add390-2fcf-5eb9-3079-0659e68ecdcf
* Content: [Because this call is not awaited, the

[2018-10-02 18:30] BillWagner commented on #7123
@Niladri24dutta That would be the best fix.  Thanks.  I'll watch for the PR.

[2018-10-02 19:13] stamminator opened #8011 "What will it take for Microsoft to open-source the WCF Test Client app?"
Is there any reason this shouldn't be open sourced? Simple, inanely basic features like alphabetic sorting and filtering of endpoint names are and have always been absent from this app. In keeping with your new company culture and mission, why not let the community spruce it up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-02 19:16] #8003 closed

[2018-10-02 19:38] merriemcgaw commented on #7677
It might be worth adding that as a note. I can see how it would be confusing.

[2018-10-02 20:00] Niladri24dutta commented on #7123
@BillWagner PR created #8014

[2018-10-02 20:14] alimsaeed10 opened #8015 "set best connect with microsoft and bings broser"
set best connect with microsoft and bings broser

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: c841818b-44d9-c799-a2bd-35c4a7bea7a0
* Version Independent ID: 69b03831-5208-83ff-88bf-ac4ef37bb805
* Content: [ClassInterfaceAttribute Class (System.Runtime.InteropServices)](https://docs.microsoft.com/ar-sa/dotnet/api/system.runtime.interopse

[2018-10-02 20:35] mvelosop commented on #6938
Fixed, will be included in the next PR (Chapter 6).

[2018-10-02 20:44] mvelosop commented on #6554
Hi @samboustani,

This section is not intended to be a documentation for the Catalog.Api microservice, but just a sample to showcase a simple CRUD pattern, so juts the details deemed important for that goal are documented.

Also, for that kind of detail (and for this simple case) there's probably no better documentation that source code 😉.

So I'm closing this issue, but feel free to comment. Will

[2018-10-02 20:44] #6554 closed

[2018-10-02 20:45] mvelosop commented on #6463
Closing this issue now, as there doesn't seem to be much to add, but feel free to comment.

Will reopen if needed.

[2018-10-02 20:45] #6463 closed

[2018-10-02 21:09] LisandroSu opened #8017 "{Binding Source={StaticResource MyPhotos}}"
@O4D commented on [Tue Oct 02 2018](https://github.com/dotnet/docs.fr-fr/issues/68)

Dear LisandroSu,

I used "Give a feedback on the product", again, to write this post.

So : this documentation doesn't show how to implement MyPhotos object.
If I use ItemsSource="{Binding Source={StaticResource MyPhotos}}" XAML seems to search into the &lt;resources&gt; something called MyPhotos.

And if I write

[2018-10-02 21:09] LisandroSu commented on #8017
Hi Team,

Please check this issue.

Thanks!

[2018-10-02 21:21] BillWagner commented on #4831
Fixed in #6824

[2018-10-02 21:21] #4831 closed

[2018-10-02 21:51] JeremyKuhne commented on #3644
@mairaw Can we up the priority on this? Apparently _all_ of the WindowsRuntimeStorageExtensions documentation is now missing with the switch to docs.

[2018-10-02 21:52] vinitra opened #8019 "ONNX Converter API Documentation formatting error?"
The API argument text (This API supports the following arguments: &lt;xref data-throw-if-not-resolved="true"...) runs to the end of the screen and is not easily readable in the documentation here!

https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.models.onnxconverter.convert?view=ml-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-10-02 22:00] vinitra commented on #8019
Might be a replicate of @wschin's https://github.com/dotnet/docs/issues/6755 :)

[2018-10-02 22:20] #7647 closed

[2018-10-02 22:40] pkulikov commented on #7787
@rpetrusha @mairaw this was fixed by #7823

[2018-10-02 22:41] #8015 closed

[2018-10-02 22:48] rpetrusha commented on #7999
Thanks for pointing this out, @DarthDerrr. The example fails because the correct name of the attribute is `physicalMemoryLimitPercentage`. I've opened #8021 to correct the documentation.

[2018-10-02 22:53] rpetrusha commented on #7787
Thanks for pointing that out, @pkulikov. I'll close this issue.

[2018-10-02 22:53] #7787 closed

[2018-10-02 23:04] #7677 closed

[2018-10-02 23:14] rpetrusha commented on #7499
@mgroves, you've opened a PR to merge to master of your own repository, not ours.

[2018-10-03 03:04] ThomasWeiss commented on #6027
Thanks @mvelosop for your reply.

Yes I guess you want to use the "Always On" option when running on Azure App Services (or any similar technique elsewhere) to make sure your host is always running.

So when you say that "StopAsync will be called when performing a graceful shutdown", does that also include app pool recycles?

[2018-10-03 03:05] CESARDELATORRE commented on #7757
The samples using the new API (Pigsty/Static/Typed) will be added in the upcoming days/weeks while this new API is stabilized. For early sneak-peak monitor additional branches other than "Master" at  https://github.com/dotnet/machinelearning-samples

[2018-10-03 03:15] OzBob opened #8026 "VS only able to sign when runing as administrator"
"To create and sign an assembly with a strong name by using Visual Studio"

Step 1 should be:
Open Visual Studio as Administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cadf5e8-f790-3892-d187-6fafd9a5647b
* Version Independent ID: 8993ead4-6e89-f6fe-9b39-730194d59f7f
* Content: [How to: Sign an Assembly with a

[2018-10-03 03:17] OzBob commented on #8026
SO https://stackoverflow.com/a/31542468/1586498

[2018-10-03 10:15] ransagy commented on #6284
Especially since the very large and problematic changes to System.* NuGet/Inboxed references and various targetting issues, One would expect this article will actually address the migration itself - Or any of it's referred links.

Is there no single official MS guide on how to PROPERLY migrate projects between major framework releases?

[2018-10-03 10:55] CalvinPangch opened #8032 "OperationContractAttribute not available in netcore2.1"
by refering the feeback from dotnet core in the links
https://github.com/dotnet/core/issues/1966

the OperationContractAttribute  is available in netcore2.1, please correct the doc. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74df8a99-6bfb-f551-92b5-394d7852b198
* Version Independent ID: 295c3462-ebbe-0d19-ff

[2018-10-03 12:18] FMNSSun opened #8034 "Some columns listing operators are displayed wrongly."
[code]

and

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362f3e73-a902-45e6-382d-328a4552a235
* Version Independent ID: d4253465-4bfc-e473-f745-0d5e1ff4e76c
* Content: [Introduction](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction)
* Content Source: [spec/

[2018-10-03 13:09] mgroves commented on #7499
@rpetrusha well that's embarrassing. Anyway, I think I did it correct this time :)

[2018-10-03 14:11] mvelosop commented on #6027
It should, but I'm not completely sure, will check though.

[2018-10-03 14:14] mvelosop commented on #5331
Closing this issue now, as duplicate of dotnet-architecture/eshoponcontainers#721 it's currently being addressed there.

[2018-10-03 14:14] #5331 closed

[2018-10-03 15:02] dwightde opened #8038 "Sample doesn't work for WCF certificate"
I spent a day trying to use the testcrt created by the sample code.  The private key is invalid as per  X509Certificate2.PrivateKey.ToXmlString.  Windows 10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 416d3d78-0e61-097b-0bbe-c6cd331aa986
* Version Independent ID: 87242506-6036-9469-0166-0ae8890a96f8
* Content: [How

[2018-10-03 15:33] pkulikov commented on #8034
This is related to #6335, which was fixed by dotnet/csharplang#1807.

However, now in GitHub interface, the [table](https://github.com/dotnet/csharplang/blob/master/spec/introduction.md#expressions) is not rendered correctly:
![image](https://user-images.githubusercontent.com/15279990/46421213-f30f6f00-c731-11e8-9724-edc186bc0c2b.png)

@BillWagner was the rendering logic updated such that the code

[2018-10-03 17:14] #7967 closed

[2018-10-03 18:14] SimpleSamples commented on #7589
Thank you. I have a working project that I can copy from for the samples. I am not sure how to proceed. I assume you want to add the sample code to this article instead of referring to it. I think that most or all of the changes involve updating the resources sample code and adding the NameConverter class. The following is what I have for the resources.
`    <Window.Resources>
        <c:NameList

[2018-10-03 19:21] #7123 closed

[2018-10-03 19:36] anphonic opened #8050 "TLS Encoding Support?"
Are there any plans to use TSL password encoding rather than just SSL or does the SSL encompass TSL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53cf6c2-aa4d-db96-0b4b-5bb07d28f208
* Version Independent ID: b500b6a2-fd05-40fa-ee41-516a24a6898d
* Content: [PasswordEncodingMethod Enum (System.DirectoryServices)](http

[2018-10-03 20:28] #7487 closed

[2018-10-03 20:47] ant-222 commented on #7770
Can you please tell me how to add proper references to:
a. [`DbConnection.ConnectionString`](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnection.connectionstring?view=netframework-4.7.2) and
b. [`DbConnection.Open()`](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnection.open?view=netframework-4.7.2) ?

I have tried to find their *Markdown* sources but

[2018-10-03 20:52] douglaslMS commented on #7770
You can use this syntax:

<xref:UID>
<xref:UID?displayProperty=nameWithType>

xamples:

<xref:System.String> displays as String

<xref:System.String?displayProperty=nameWithType> displays as System.String

[2018-10-03 21:17] #5319 closed

[2018-10-03 21:28] scottaddie opened #8052 "Improve instructions for using API Portability Analyzer"
The information provided in https://docs.microsoft.com/en-us/dotnet/core/porting/ is a bit light. Enhance the doc to explain how the tool is used on the various platforms. Talk about both the VS extension and the CLI experience.

[2018-10-03 21:43] ant-222 commented on #7770
@douglaslMS does't seem to work for me. Maybe a shall surround these `xref:` elements with some *Markdown* syntax?

[2018-10-03 21:51] RodgerLeblanc opened #8053 "Wrong default value for Binding.IsAsync in docs"
Documentation for Binding.IsAsync says that the default value is null but the type for IsAsync is bool, not Nullable<bool>. The default value for IsAsync at runtime is false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e19458fc-67c3-2c89-e666-210a5cbdc18f
* Version Independent ID: 0cd55a7b-3e66-1872-4c98-9e27031f146

[2018-10-03 22:03] #7954 closed

[2018-10-03 22:05] ant-222 commented on #7770
@douglaslMS I have made a [commit](https://github.com/dotnet/docs/compare/master...ant-222:patch-3) but I still need help in fixing `xref`s, whence no pull request yet.

[2018-10-03 22:20] ChipClark opened #8054 "Link to Download doesn't work"
error: This site can't be reached
archive.msdn.microsoft.com's server IP address could not be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21f6415b-0d57-6f5a-23a3-5822b3a615d3
* Version Independent ID: e5693de3-c42b-ac77-2c21-025f2f4c0abd
* Content: [SqlDataSource Class (System.Web.UI.WebControls)](https://doc

[2018-10-03 22:54] mairaw commented on #7770
@ant-222 the xref should look like this:
`<xref:System.Data.Common.DbConnection.ConnectionString?displayProperty=nameWithType>`

[2018-10-03 23:16] uglycoyote opened #8056 "Not clear whether stopping or starting the timer resets it to zero."
[Enter feedback here]

The documentation:

Is exceedingly useless. Furthermore, neither the words "reset" nor "zero" appear anywhere in the documentation.  One would assume that the timer has an internal memory of the elapsed time which can be reset back to zero, but it's not clear whether either the `Start()` or `Stop()` call resets it or some other method.

People on stack overflow say that doin

[2018-10-03 23:44] taikodragon commented on #7840
PixelFormats.BGRA32 is not supported for instance.

[2018-10-03 23:54] taikodragon commented on #7840
PixelFormatEnum.Pbgra32 is the only support type according to the reference source here: https://referencesource.microsoft.com/#PresentationCore/Core/CSharp/System/Windows/Media/Imaging/RenderTargetBitmap.cs line 64

[2018-10-04 01:24] alpaix opened #8057 "Broken Link"
Dialog Box Sample link appears to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc9312d-0333-286d-9d05-aaae6b98011d
* Version Independent ID: 5dd7b554-95f7-e86c-7338-2c8714a23df4
* Content: [Dialog Boxes Overview](https://docs.microsoft.com/en-us/dotnet/framework/wpf/app-development/dialog-boxes-overview)

[2018-10-04 02:04] MaximRouiller commented on #8052
Thanks for opening this up!

[2018-10-04 02:53] mairaw commented on #8057
Thank you for reporting this issue @alpaix. The link is now fixed.

[2018-10-04 02:53] #8057 closed

[2018-10-04 03:16] ericmutta opened #8060 "Incorrect statement about passing Nothing as the value of a ParamArray parameter."
In the section titled [Calling a ParamArray](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/procedures/parameter-arrays#calling-a-paramarray) we have this statement:

The part in bold is incorrect as the following code shows:

[code]

The quoted section correctly says that if you omit the `ParamArray` argument by writing `foo()`, an empty (i.e non-null) ar

[2018-10-04 04:45] kookyabird commented on #6484
This was extremely helpful for me and probably saved me a lot of time. I followed these examples to the letter and was very confused when my standalone "GettingStartedHost.exe" was not responding on the same URL as when I ran from VS. It's because VS was running the actual Lib service, and the Host app created the same service on another URI. This really needs to be changed.

[2018-10-04 06:34] mairaw commented on #7191
It is a duplicate of #2642.

[2018-10-04 06:34] #7191 closed

[2018-10-04 08:35] ant-222 commented on #7770
@mairaw I have copied your example into the Markdown source, but to no avail. See the last [commit](https://github.com/ant-222/docs/blob/patch-3/docs/framework/data/adonet/connection-strings.md). Sorry for misunderstanding something obvious.

[2018-10-04 10:55] agehrke opened #8062 "HashCode and equality"
I think this document is lacking info on HashCode and equality for ValueTuple.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 133c3b7b-833f-c2ce-aaa7-63f462f2e9ff
* Version Independent ID: f2aaa755-32cd-0d48-db81-5368ae6a152c
* Content: [ValueTuple Struct (System)](https://docs.microsoft.com/en-us/dotnet/api/system.val

[2018-10-04 12:38] daniel-zazula opened #8064 "The code is invalid"
There's no overload of Attribute.GetCustomAttributes that accepts a System.Type parameter:
https://docs.microsoft.com/en-us/dotnet/api/system.attribute.getcustomattributes?redirectedfrom=MSDN&view=netframework-4.7.2#overloads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3cbdd1-b9fe-6377-b9f1-e6d9fc1041cb
* Version

[2018-10-04 14:09] Shinsentoh opened #8066 "syntax error"
&lt;security mode="Message" /&gt;
...
&lt;/security&gt;

must be written as
&lt;security mode="Message"&gt;
...
&lt;/security&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cc06336-d0e1-c981-7ad4-c48efc715c17
* Version Independent ID: 5279893b-a235-a006-74c9-655aec9c4d9c
* Content: [How to: Set the Security Mode](

[2018-10-04 14:39] #4633 closed

[2018-10-04 15:18] taha3azab opened #8068 "Cannot convert int to short"
why the below line is not compiled
short x = condition ? 0 : 1;
and I have to cast it
short x = (short) (condition ? 0 : 1);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5379a49c-6a81-82a5-cca2-3ab71f432c5c
* Version Independent ID: 1a00e3ec-bec1-3030-9766-a788912bc3b9
* Content: [?: Operator (C# Reference)](https://

[2018-10-04 15:23] BillWagner commented on #8068
@taha3azab

That's because integral numeric literals are of type `int`. That's detailed in the C# spec on [integer literals](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/lexical-structure#integer-literals)

Closing this.

[2018-10-04 15:23] #8068 closed

[2018-10-04 15:32] mnswiftone opened #8070 "GridView supports Insert (on .NET 3.5)? It does not appear too contradicting documentation."
The following statement above seems incorrect: "When the ObjectDataSource object is associated with a data-bound control, such as the GridView control, it is not necessary to call the Insert method from page code. The Insert method is invoked directly by the data-bound control instead."

In C#.NET 3.5, Adding ShowInsertButton="true" to a GridView results in a "New" button - but it does nothing, an

[2018-10-04 16:20] rpetrusha opened #8072 "Add Private Protected to What's New"
## Add Private Protected to What's New

Although the [Private Protected](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/modifiers/private-protected) keyword combination for Visual Basic is documented, it is not mentioned in What's New. It should be.

[2018-10-04 16:44] rpetrusha opened #8073 "Document floating-point to Integer optimization"
## Document floating-point to Integer optimization

Visual Basic 15.8 includes an optimization that requires documentation. The performance of floating-point-to-Integer conversion in the CInt(Fix(*floating-point*)) method calls has been improved and needs to be emphasized.

[2018-10-04 17:15] rpetrusha opened #8074 "Document remaining Memory\<T>-related APIs"
## Document remaining Memory\<T>-related APIs

We've documented a portion of the Span\<T> and Memory\<T>-related APIs in the following PRs:
- dotnet/docs#2256
- dotnet/dotnet-api-docs#136
- dotnet/dotnet-api-docs#228
- dotnet/dotnet-api-docs#358
- dotnet/dotnet-api-docs#548

The remaining APIs (in the [System.Buffers](https://docs.microsoft.com/dotnet/api/system.buffers?view=netcore-2.1) namespace

[2018-10-04 17:32] jeffa00 opened #8075 "Recommended Practice"
In the Remarks section there is this sentence:
"...the recommended alternative is to use an opaque handle to credentials that are stored outside of the process."

This would be a great place to link to something that describes that approach in .Net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5045793-4162-9bde-d512

[2018-10-04 18:32] rpetrusha commented on #7939
This has been fixed in dotnet/samples#336. Closing.

[2018-10-04 18:32] #7939 closed

[2018-10-04 18:33] Mikejo5000 commented on #7732
Some are C++ compiler options. I presume the x-plat format works there as well...

[2018-10-04 19:05] LisandroSu opened #8077 "Ошибка на странице с описанием модификаторов доступа (private и private protected)"
@miksarus commented on [Tue Oct 02 2018](https://github.com/dotnet/docs.ru-ru/issues/135)

Не корректно указано описание модификаторов доступа на странице. Private - модификатор доступа относящийся только к членам и к типу применяться не может. То же самое касается и private protected.

---

@LisandroSu commented on [Tue Oct 02 2018](https://github.com/dotnet/docs.ru-ru/issues/135#issuecomment-426

[2018-10-04 19:09] LisandroSu commented on #8077
Hi team,
According to the bug reporter, "private" and "private protected" access modifiers can be applied to members only, not to types.  Can you please check on this?

Thanks!

[2018-10-04 19:10] rainersigwald commented on #7732
@Mikejo5000 I wouldn't touch anything on the tool pages--almost all of those are for tools that predate meaningful xplat efforts and may not support dashes instead of slashes.

[2018-10-04 19:37] mairaw commented on #4504
Adding here a spreadsheet with the http links identified by our internal report that should be https to help with this task for the dotnet/docs repo:
[https-links-results.xlsx](https://github.com/dotnet/docs/files/2447886/https-links-results.xlsx)

[2018-10-04 19:40] Mikejo5000 commented on #7732
@rainersigwald I won't be updating any of the non-MSBuild topics.
Is this update strictly limited to the documented switches in the MSBuild Command Line topic:
https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference?view=vs-2017

Or, is it also possible to use some of the compiler switches we talk about in other topics from the command line as well--or are the compiler

[2018-10-04 19:49] rainersigwald commented on #7732
I wouldn't touch anything that doesn't refer to an MSBuild command-line argument. It looks like the VC++ compiler `cl.exe` _does_ support dash arguments, but that won't be the case for all tools, and I don't think it's worth the time checking them individually.

[2018-10-04 19:51] mairaw commented on #8005
@OliaG @merriemcgaw can you confirm that?

[2018-10-04 20:40] ant-222 commented on #7770
My usage of `xref` is correct. It is only the preview here on *github* that does not handle them.

[2018-10-04 20:52] samirm opened #8081 "C# example throws an error"
replace "Key.Return" with "Windows.System.VirtualKey.Enter"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd32f6d-4a54-b4a9-643e-1bfa30f98d4d
* Version Independent ID: f42b5de3-7407-4d1c-8504-f07620f57c04
* Content: [How to: Detect When the Enter Key Pressed](https://docs.microsoft.com/en-us/dotnet/framework/wpf/adva

[2018-10-04 21:14] douglaslMS commented on #7770
@ant-222 That's probably right, GitHub doesn't know about some of the Markdown extensions that we use internally at Microsoft.

[2018-10-04 21:45] pkulikov commented on #8077
@LisandroSu @miksarus types can be nested, that is, declared inside another type. Nested types can be `private` or `private protected`.

The following example (note that classes `A` and `B` are declared inside the `Program` class):

[code]

compiles and produces the following output:

[code]

There might be a question to following wording:

What does "member" mean? In particular, does it include t

[2018-10-04 22:13] mairaw commented on #8066
You're right @Shinsentoh. Would you like to submit a pull request with a fix? You can see more information about this at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2018-10-04 22:19] mairaw commented on #8052
I just created a PR to point to our own topic about the analyzer instead of sending folks to the repo. Not sure if that helps a bit or not: https://github.com/dotnet/docs/pull/8087

[2018-10-04 22:31] Rick-Anderson commented on #5103
@tdykstra 	own's TOC. Tom?

[2018-10-04 22:46] tdykstra commented on #5103
Yes, this belongs in our repo for our ToC, I've created one there and you can close this one.  I haven't done contextual ToC links either, it's something I'll have to look into.

[2018-10-04 22:50] mairaw commented on #5103
Thanks @tdykstra! Closing the issue here then.

[2018-10-04 22:50] #5103 closed

[2018-10-04 22:51] #8066 closed

[2018-10-04 22:58] #7499 closed

[2018-10-05 00:40] merriemcgaw commented on #8005
@mairaw that is correct. We're getting it in Preview 4 I think. But it's going in.

[2018-10-05 00:53] kapiljaveri commented on #5307
Hello

Just submitted a PR for this.  Let me know if this looks good or if you'd like any changes.

Thanks!

[2018-10-05 02:46] pavelpetrovic opened #8094 "scope?"
How can you not mention so important issue as is the scope of the enum defined "type" (yes, the quotation marks are ironical). AND if each enum "type" is an instance, what is its lifetime? What a disturbing C++-ish dirty feature of the language!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e72804b0-7d65-1585-67ea-863

[2018-10-05 04:05] radu-v commented on #5307
Looks good to me

[2018-10-05 06:19] miksarus commented on #8077
@pkulikov in my opinion if type was implemented inside another class it is member. it can be called "type-member" (to be honest, i don't know how it can be translated from Russian). This class is nested, so it can be called "nested-type".
In the other hand, our student-junior, was confused after reading the documentation. And this spurred him to make some experimenting with the code to better unde

[2018-10-05 07:34] mairaw commented on #7941
Pasting the comment from the PR here: I still feel that changing the title is not the right thing for this page. The supported Windows versions and dependencies like C++ are not specific to development time. I think we can make changes to that page to make the distinction clearer but I don't think we should touch the title.

[2018-10-05 08:05] nic-hartley commented on #7930
Alright, I've got the images. Looking for the best way to put them in now, with the help of some Python magic. Wish me luck!

[2018-10-05 12:18] svick commented on #8077
Do I understand it correctly that this issue is about the following text (and similar texts for the other modifiers)?

I think this text is technically correct, but confusing, because the only case when a type can have the private modifier is when it's also a member.

At the same time, I think the following sections explain this well, and that the distinction about which modifiers can be used in w

[2018-10-05 12:56] pkulikov commented on #8077
@svick what about dropping "or" and saying

Or

[2018-10-05 12:59] kldevg opened #8105 "How to combine multiple left outer joins?"
It's unclear from the article how should this work for a combination of left outer joins.

I'm trying to do something like:
`var query = (from person in people
                     join pet in pets on person equals pet.Owner into gj
                     from subpet in gj.DefaultIfEmpty()
                     join toy in toys on subpet.person.Name equals toy.Owner into gj2
                     from

[2018-10-05 13:03] svick commented on #8077
@pkulikov That would not be correct for `public` and `internal`, which are also valid for types that are not type members (i.e. non-nested types). And I think it would be better if all modifiers used the same wording in this list.

[2018-10-05 13:35] pkulikov commented on #8077
By the way, wording in the reference section is shorter and avoids using confusing "type or member":
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/access-modifiers

I would remove the whole list and reference the article from the c# reference. Maybe, the whole article can be merged into the reference section, even.

[2018-10-05 14:34] colonelchlorine commented on #4154
@BillWagner Not sure if #6081 solved the problem of this ticket. Having trouble finding the mapping of .NET Core <-> language version (C# in particular). svick's post above is the only thing I can find. Might be missing something?

Checked [DotNet Core Versions](https://docs.microsoft.com/en-us/dotnet/core/versions/) and don't see the language versions that line up.

[2018-10-05 14:46] svick commented on #8105
@kldevg That exception looks like a bug in the LINQ provider you're using. Have you considered reporting it to the maintainer of that LINQ provider? Or have you tried it with a different LINQ provider?

[2018-10-05 14:57] gjkhw opened #8106 ".NET Standard 2.0 seems to be missing from "Applies to""
I can see that this API (WriteAsync) is visible from .NET Standard 2.0 classes, but it's not listed under "Applies to" in this documentation. Since 2.0 is a superset of 1.6, it should be in "Applies to". That would allow it to be browseable from the documentation browser with ".NET Standard 2.0" set as the filter.

It was confusing to me, because at first I thought that there was no Async Write ap

[2018-10-05 15:36] valerianpereira commented on #7955
@rpetrusha I believe the PR is merged and this issue is resolved? Close it?

[2018-10-05 16:36] Thraka commented on #8081
@samirm Hi!

The `Windows.System.VirtualKey.Enter` type is for the UWP area. While it is a XAML-based technology, it is different from WPF. The article you're looking at and copying the sample from is based on WPF.

[2018-10-05 16:36] #8081 closed

[2018-10-05 16:44] Thraka commented on #8075
@jeffa00 Thanks for this feedback.

[2018-10-05 17:06] NikoAri commented on #6296
Similarly, please clarify how should users shorthand Javascript? Is it:
JS or Js

[2018-10-05 17:06] Thraka commented on #8064
@daniel-zazula Hi!

The code will use the [GetCustomAttributes(MemberInfo)](https://docs.microsoft.com/en-us/dotnet/api/system.attribute.getcustomattributes?view=netframework-4.7.2#System_Attribute_GetCustomAttributes_System_Reflection_MemberInfo_) because `Type` inherits from `MemberInfo`.

[2018-10-05 17:06] #8064 closed

[2018-10-05 17:46] LengVang opened #8108 "Confusing iterator method naming in the example."
Either change GetSingleDigitNumbers() to GetEnumerator() or vice versa.  Also, the statement: var enumerator = collection.GetEnumerator();
The collection is confusing.  It should be clear that it can be any user object that provide a function to returns IEnumerable&lt;T&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-10-05 18:54] Chris-MD opened #8110 "Caveats"
I have come accross so many pages where this feature does not work, and only once have I seen a suggestion that it only work on a single web page, ie which doesn't involve a Master Page.

Can any one provide the caveats or explain why this feature doesn't seem to work?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-05 19:36] samirm commented on #8081
@Thraka oh my bad. I did not realize this article was WPF only since it doesn't mention it anywhere on that page. I came across it from a search engine.

[2018-10-05 20:33] IMarvinTPA opened #8112 "Offset clarification"
Please clarify if the offset parameter is from the beginning of the file or if it is from the current position.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3448af-b733-a7a8-8ef1-a3b5f88a791f
* Version Independent ID: 436e4fb5-5f78-ae3f-a99c-489c2ea9f703
* Content: [FileStream.Read(Byte\[\], Int32, Int32) Method (S

[2018-10-05 20:59] IMarvinTPA commented on #8112
Never mind.  ParameterName should be arrayOffset or offsetArray.  I need to read closer.  Still, the object being acted on is the File so a naked "offset" parameter could reasonably be expected to apply to the File and not the array.

[2018-10-05 21:18] colonelchlorine commented on #4154
Aha - bit tricky to find. Needed to go to the "Find more in .NET Core 2.1 downloads" or "download archives" from the Downloads page. The archive pages are full of useful info. Thanks @BillWagner

[2018-10-05 21:58] #4992 closed

[2018-10-05 23:18] mairaw opened #8117 "Explore combining the different language topics for .NET Core unit test"
We have one entry per language but this process is painful when we need to make updates. We should look into this and see if it makes sense to combine them into one per technology and have tabs for each language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a64f7e75-fbea-18ba-f290-3e5bb3ab0da7
* Version Independent I

[2018-10-05 23:47] #8053 closed

[2018-10-06 00:45] mairaw opened #8121 "Analyze this content and decided whether to keep it"
This section seems to go over some of the threading classes. Details about the classes should belong in the reference docs and we could perhaps eliminate some of these articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca22a9e5-5a43-df98-43b9-c484e30b7baf
* Version Independent ID: 23243e79-4cd8-ea3a-1cdb-97a0ede8

[2018-10-06 00:59] mairaw commented on #3644
@dend @sudeepku please take a look at this. Another set of APIs that were just redirected to their parent.

[2018-10-06 02:56] mairaw commented on #6817
@jcondex can you confirm?

[2018-10-06 02:56] mairaw commented on #5677
@jcondex can you please take a look?

[2018-10-06 02:58] mairaw commented on #5666
ping @jcondex

[2018-10-06 03:06] mairaw commented on #8032
I gave some details here: https://github.com/dotnet/core/issues/1966#issuecomment-427541048

[2018-10-06 03:10] mairaw opened #8125 "Broken syntax block"
A lot of articles in this section such as https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/tracking-of-wcf have broken syntax blocks.

Others also have typos like missing closing ">" such as https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/nettcpbinding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-10-06 07:34] #6204 closed

[2018-10-06 07:39] #7417 closed

[2018-10-06 09:02] fitdev opened #8130 "More information would be nice"
Is it possible to clarify what "without assuming architecture dependent alignment of the addresses" means with respect to endianness and common platforms where .net code runs. I.e. x86 is LittleEndian, so does it mean on x86, the routine will write using LE? So, clarification, along with concrete examples for common platforms would be nice.

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-06 10:17] pkulikov commented on #8121
@mairaw I had the same thoughts when worked on #7790

Some topics might be eliminated and redirected to their analogs in the API reference as is. Other topics can be eliminated after their API "twins" are updated. The following articles are the candidates:

- [ ] https://docs.microsoft.com/en-us/dotnet/standard/threading/mutexes
- [ ] https://docs.microsoft.com/en-us/dotnet/standard/threading/read

[2018-10-06 11:19] Rookian opened #8131 "Use TransactionScope instead of BeginTransaction"
How do I use EnableRetryOnFailure with multiple DbContexts and TransactionScope?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57452ceb-e885-d193-d813-d7baf7291cbc
* Version Independent ID: 3bd0845a-a3dc-b71d-d7eb-0fd581f11d4c
* Content: [Implement resilient Entity Framework Core SQL connections](https://docs.microsof

[2018-10-06 14:16] PeterSchwalm opened #8132 "Peter schwalm"
the example for asynchronous does not look like working. I need an example for displaying the output (stderror and stdout) of the spawned process, while the process is running.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3991f67b-8387-5ae5-2f0a-782466233ed6
* Version Independent ID: 843917c4-f01e-5baa-454c-52a8d011b

[2018-10-06 14:58] ericmutta commented on #7955
@valerianpereira the PR has been merged and the change is live (thanks @aramkoukia @rpetrusha @Thraka). I am closing the issue :+1:

[2018-10-06 14:58] #7955 closed

[2018-10-06 17:28] zhenlan commented on #5666
Add @Lxiamail

[2018-10-06 17:28] zhenlan commented on #5677
Add @Lxiamail

[2018-10-06 17:29] zhenlan commented on #6817
Add @Lxiamail

[2018-10-06 19:56] sstcvetkov commented on #7024
**Microsoft.ML 0.6.0**

PredictionModel quality metrics evaluation
------------------------------------------
Accuracy: 94.44%
Auc: 98.77%
F1Score: 94.74%

Sentiment Predictions
---------------------
Sentiment: Please refrain from adding nonsense to Wikipedia. | Prediction: Positive
Sentiment: He is the best, and the article should say that. | Prediction: Negative

[2018-10-06 20:13] mjkkirschner commented on #4675
Hi @davidsh - My group works on an assembly which might be used in various contexts (some we don't control). This assembly makes rest calls to a server we would like to limit to accepting tls1.2 > connections. When referenced by other applications we would like to avoid hard coding TLS 1.2 and effecting future protocols for the referencing application.

We are currently limited to targeting .net 4

[2018-10-07 01:03] mangeshw commented on #7263
Can you update the tutorial with TaxiTripFarePrediction.FareAmount as string? Currently it appears as float. Below is the link:
Link: https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/taxi-fare

Also can you explain why is FareAmount's data type is different in TaxiTrip and TaxiTripFarePrediction?

[2018-10-07 05:50] automation-dojo commented on #808
@mairaw should this be changed to `Dotnet test`?

[2018-10-07 10:31] tabareh opened #8143 "Looks like an update is needed?"
Hi,

When I'm looking into the Ignite 2018, I see a different approach in code for creating the env and context etc. Actually pipelines belong to Legacy part of the namespace now.
Could you please update these tutorials with the new releases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6

[2018-10-07 11:09] bolajiniy commented on #7024
The last code snippet has error:
foreach (var item in sentimentsAndPredictions)
{
    Console.WriteLine($"Sentiment: {item.sentiment.SentimentText} | Prediction: {(item.prediction.Sentiment ? "Negative" : "Positive")}");
}
Console.WriteLine();

Should be

foreach (var item in sentimentsAndPredictions)
{
    Console.WriteLine($"Sentiment: {item.sentiment.SentimentText} | Prediction: {(item.predicti

[2018-10-07 14:58] pkulikov commented on #8143
I'm willing to update the tutorials to use the new ML.NET API.

However, there are two points to consider:

- As far as I understand, the new API is still work in progress and might change in the following ML.NET versions. Thus, it might make sense to update tutorials later (with 0.7 or 0.8 version) when API is more stable. Or, tutorial-wise, API is already good enough?

- Should both approaches (

[2018-10-07 15:01] parthpandyappp commented on #7913
I would like to contribute to this...!

[2018-10-07 19:07] florinciubotariu commented on #3426
Hello. Any ideas about how to modify the FwLinks for this file?
https://docs.microsoft.com/en-us/dotnet/visual-basic/misc/bc2027

Thanks!

[2018-10-07 19:10] Mart-Bogdan commented on #5729
@AArnott  you have to install package `System.Memory` as I've found out just now.

[2018-10-07 21:56] AArnott commented on #5729
Yes, I've learned that recently as well. Can the docs mention this? The excellent apisof.net site mentions packages that must be installed like this.

[2018-10-07 22:02] KNBD opened #8150 "Out of date -"
This walk through does not show the correct entries or responses for Net Framework 4.7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0dc39f7-b153-a46c-3b88-07c8ed2c71bc
* Version Independent ID: 78a14535-9703-e2af-4451-783a7c4c10be
* Content: [Create a WPF application in Visual Studio](https://docs.microsoft.com/en-

[2018-10-08 00:17] eddieysong commented on #7024
@bolajiniy
Try taking a look at the training set, it should be pretty obvious that 0 = positive and 1 = negative.
Please reference https://github.com/dotnet/samples/pull/329
Let me know if you still believe it to be an error.

[2018-10-08 03:07] falconhour opened #8151 "MarkAsSafe Cheatsheet"
Hi, do you have like a cheatsheet on what are the enums that we should specify like if we want to support not just japanese but also chinese, korean, and some other non english languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6e0d173-f187-15b2-3b02-d6a023f46fb1
* Version Independent ID: 2a537204-6901-adaf-6a9

[2018-10-08 04:56] justinormont commented on #7024
Perhaps we should increase the size of the sample. The dataset is currently sized for a unit test; I don't think its small size is valuable for example code. Perhaps we should increase the size of the sample for use in the example. If the same dataset is used in unit tests, we should ensure the runtime of the unit tests are not adversely impacted. The only point of the unit tests are to see if _so

[2018-10-08 07:56] Luperco opened #8154 "Wrong link"
The page have a wrong link for " Styling with ControlTemplates Sample" page,

It bring to the site archive.msdn.,microsoft.com that the DNS cannot resolve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b301878b-a154-0186-f640-4f1bce1e3edb
* Version Independent ID: 16af8cc2-df5c-b9a6-d801-d7d0b25bb2a4
* Content: [Contr

[2018-10-08 09:40] KNBD commented on #8150
To be specific:  In create the Application, sub b) when the reader is at their most inexperienced and hence most sensitive to precisely what is being said - i.e. in the very first part of the tutorial, it mentions Windows Classic - no such Template shows up in a recently updated installation of 2017 with the latest updates to all items, and net 4.7.

[2018-10-08 09:53] ihateaccountslikethepest commented on #5173
This is actually a syntax problem of cmd vs Powershell. Changing the command to
`netsh http add sslcert ipport=0.0.0.0:8085 certhash=4da5af739d6745de4e38fea9574cdaa79032ea14 appid="{7BBE87B9-D98F-41D7-B726-FC5E1300ED28}"` will work in both terminals.

[2018-10-08 10:11] misterspeedy opened #8155 "Wrong example"
The final example given seems to be for an integer range rather than a DateTime range as stated. The Type parameter isn't used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7381fca5-c4b3-d912-e29e-5fcb6c135919
* Version Independent ID: c7df12cc-b527-7a3b-c17b-855f3fa2def4
* Content: [RangeAttribute Constructor (Syste

[2018-10-08 14:03] GKotfis commented on #8155
I'd like to take this one.
I did some research and first what I see is that [linked examples](https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_WebNet/System.ComponentModel.DataAnnotations.RangeAttribute/CS/Product.cs) looks good. But I have a feeling that the source is completely than [real docs](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotat

[2018-10-08 15:34] nfidelman opened #8159 "Boolean values are reversed"
Since this is a double-negative, "Password NOT required" value of "False" = User account DOES require a password.  Value of "True" means a password is not required.  Please update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23130c04-8599-47c1-1852-327543d2e74b
* Version Independent ID: 35800c13-9d04-5182-bcc5-cd14dd

[2018-10-08 16:08] nemrism commented on #6923
I may be wrong, but PR  #8145 doesn't "fixes" this issue but "contributes" to it.
This issue still need "a lot" of standardization in some sections of the docs.
cc @rpetrusha @amaldevv

[2018-10-08 16:09] nfidelman commented on #8159
Put in pull request - https://github.com/dotnet/dotnet-api-docs/pull/598 to fix the issue.

[2018-10-08 16:09] #8159 closed

[2018-10-08 16:17] mklement0 opened #8160 "Standard "F" and "N" numeric string-formatting specifiers should mention the rounding method used"
**Issue description**

Using string formatting, e.g. via `String.Format()`, with the `F` and `N` standard format specifiers applies _rounding_  to the numeric input as needed in order to limit the resulting "number string" to the requested or implied number of decimal places.

(Other formats may be affected as well - haven't looked at them systematically.)

The specific rounding _method_ - which a

[2018-10-08 16:27] JRAlexander commented on #8143
@pkulikov - Good question. @GalOshri - Thoughts here?

[2018-10-08 16:42] mklement0 commented on #8160
My bad: I should have read the entire page at https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings - the behavior is already documented - sorry for the noise.

[2018-10-08 16:42] #8160 closed

[2018-10-08 16:47] bartonjs commented on #7575
I believe (by code inspection) that the `silent` parameter has no effect on either .NET Core or .NET Framework.  Though .NET Framework certainly keeps it around a lot longer before ignoring it.

The zero-argument overload succeeds<sup>*</sup> if SubjectIdentifierType.NoSignature was specified via a constructor overload, and otherwise throws InvalidOperationException.

<sub>* Well, it succeeds on t

[2018-10-08 17:32] naristov commented on #6296
Also, what about Database?
Db or DB?

[2018-10-08 17:35] douglaslMS commented on #7645
@reavill-d Thanks for your question. As implied by the location and phrasing of the "no longer required" statement, it's the legacy Begin... methods that no longer require Asynchronous Processing=true in the connection string. The new async methods don't and have never needed it. I'll see whether we can make this clearer. The [Asynchronous Programming](https://docs.microsoft.com/en-us/dotnet/frame

[2018-10-08 17:38] douglaslMS commented on #7645
@reavill-d BTW sorry for the delay in responding! Your question came in while I was on vacation, and I overlooked it.

[2018-10-08 17:50] douglaslMS commented on #7646
This issue has been resolved by [PR 7628](https://github.com/dotnet/docs/issues/7628).

[2018-10-08 17:50] douglaslMS commented on #7646
Closing this issue as resolved.

[2018-10-08 18:26] rhyous commented on #8011
I couldn't agree more.

[2018-10-08 18:29] mairaw commented on #8011
@glennc @Lxiamail @zhenlan can one of you comment on this request?

[2018-10-08 18:33] #7999 closed

[2018-10-08 18:50] mairaw commented on #7646
@douglaslMS #7628 is an issue. Was this resolved by a different PR then?

[2018-10-08 18:54] mairaw commented on #7818
I think for this issue, we should create a feature request for the docs engineering team at https://github.com/microsoftdocs/feedback. I know they are thinking about linking to the source file in GitHub, so you could find the whole project, not just the little snippet.

[2018-10-08 19:18] douglaslMS commented on #7646
@mairaw Thanks, I was confused by the 2 similar issues for 2 different topics. I will port the changes made in PR #7972 to fix issue #7628 to this issue and article.

[2018-10-08 19:20] mattdreher commented on #6385
It also strips characters with diacritic markings.

[2018-10-08 19:36] douglaslMS commented on #7645
#please-close

[2018-10-08 19:47] douglaslMS commented on #7590
@manukautech Professor Calder, first of all, I apologize for the slow response. Your issue came in while I was on vacation, it does not automatically get assigned to me, and I confess that I overlooked it.

We don't really have a place to host a community contribution like you're proposing, although I recognize the potential value. We also would not want to assume the responsibility for maintenanc

[2018-10-08 19:51] wadebee opened #8166 "Incorrect description for ClaimTypes.X500DistinguishedName?"
Is the documentation for X500DistinguishedName incorrect? X500 relates to Directory Services yet the brief description above refers to X.509 Public Key Certificates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa803eba-477c-0952-b29f-c9218db2b260
* Version Independent ID: f65f3125-4b1b-f260-a021-d7249167f898
* Conten

[2018-10-08 20:02] #7645 closed

[2018-10-08 20:03] #7646 closed

[2018-10-08 20:14] InKahootz commented on #7818
I've requested the feature to the docs feedback.

[2018-10-08 20:26] #5743 closed

[2018-10-08 20:35] #8154 closed

[2018-10-08 20:36] mairaw opened #8168 "Children elements listed here seem incorrect"
\<participants> doesn't seem to exist and it's missing a \<profiles> entry that is a parent of \<trackingProfile>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014c25d8-5aed-a2e3-b27a-958cc5475e27
* Version Independent ID: cfe30baf-c0aa-ed70-d2a5-ef0ad547f547
* Content: [&lt;tracking&gt; of WCF](https://docs.microsoft

[2018-10-08 20:38] mairaw commented on #8168
@glennc @zhenlan did the participants element ever exist or is just plain wrong here?

This is what I get in my project:
![image](https://user-images.githubusercontent.com/12971179/46632415-6f71cb80-caff-11e8-9018-06dfd3f19d34.png)

[2018-10-08 21:05] mairaw commented on #8166
@bartonjs can you help with this feedback?

[2018-10-08 21:09] #7770 closed

[2018-10-08 21:11] mairaw commented on #8155
Thanks for letting us know @misterspeedy. @GKotfis since we just need to change the snippet tag number on these, we'll just go ahead and fix it.

[2018-10-08 21:11] CeciAc opened #8177 "System.Collections.Generic x System.Collections"
@maicomoreira commented on [Sat Oct 06 2018](https://github.com/dotnet/docs.pt-br/issues/80)

Resultado do post o cima não:
Generic Sort: System.Collections.Generic.List\`1[System.Int32] Time taken: 0.0789ms
Non-Generic Sort: System.Collections.ArrayList Time taken: 2.4324ms
--&gt; NÃO É VERDADE NO ASP NET CORE &lt;--
VEJAM:
Generic Sort: System.Collections.Generic.List`1[System.Int32]
 Time taken

[2018-10-08 21:14] CeciAc commented on #8177
Hi team,
I'm moving this here since the user reported an accuracy issue.
Rough translation:

[2018-10-08 21:17] mairaw commented on #8177
The time will never be the same for every machine. I'll make some changes to the topic to indicate that but this is what I got when I ran the code on a .NET Core 2.0 project:
![image](https://user-images.githubusercontent.com/12971179/46634163-e2ca0c00-cb04-11e8-93da-46fed6e38d7f.png)

[2018-10-08 21:20] mairaw commented on #8151
I don't believe we have. Adding @Rick-Anderson to help triage this one.

[2018-10-08 21:23] mairaw commented on #8151
/cc @tarekgh

[2018-10-08 21:27] blowdart commented on #8151
Unicode doesn't think in languages, it thinks in codepages. The codepages are in an enum, and also in the unicode standard. https://www.unicode.org/charts/

Chinese for example covers multiple code pages. You need to figure out which ones for you.

[2018-10-08 21:28] mairaw commented on #8150
@KNBD thanks for your feedback. You're right. This should be changed to work for VS 2017 given that the name of the groupings changed. So screenshots also need to be refreshed.

/cc @gewarren

[2018-10-08 21:30] CeciAc opened #8178 "Error al compilar"
@anarro commented on [Mon Oct 08 2018](https://github.com/dotnet/docs.es-es/issues/59)

Falta añadir el ensamblado el System.Drawing

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 937bc3bb-60f4-b9d3-ae82-eb1a6f84d6a0
* Version Independent ID: 0a4bb3ac-fa15-4153-0ed6-048eae0448ea
* Content: [Cómo: Implemen

[2018-10-08 21:30] mairaw commented on #8132
Thanks for your feedback. We'll have to investigate this. We've scheduled for a later sprint.

[2018-10-08 21:32] CeciAc commented on #8178
Hi team,
The user is reporting a compilation error
They say the "System.Drawing assemblies" is missing

Kind regards,
Microsoft DOCS International Team

[2018-10-08 21:32] mairaw commented on #8131
@mvelosop @CESARDELATORRE @divega can you look at this feedback for the microservices e-book related to EF Core?

[2018-10-08 21:34] mairaw commented on #8178
We'll have to investigate and see if we can repro this one.

[2018-10-08 21:37] mairaw commented on #8130
I'll have to see if the owner of this area can help. @Anipik can you comment on this issue?

[2018-10-08 21:39] rpetrusha commented on #8121
I agree, @pkulikov.  Most of this content, I think, can be moved to the API reference, where it's far more discoverable than here.

[2018-10-08 21:43] bartonjs commented on #8166
X.500 names are used in both X.509 certificates and generically in directory services.

So, I'd probably go with something like

`The URI for an X.500 Distinguished Name claim, such as the subject of an X.509 Public Key Certificate or an entry identifier in a directory services Directory Information Tree.`

I can't find origin information for that claim, though.  It's not in http://schemas.xmlsoap

[2018-10-08 21:44] Anipik commented on #8130
Tagging cc @danmosemsft @eerhardt @tannergooding as they will have more info than me

[2018-10-08 21:45] tarekgh opened #8179 "Collation behavior for C and Posix cultures is case sensitive in Net core running on Linux/MacOS"
**Collation behavior for C and Posix cultures is case sensitive in Net core running on Linux/MacOS**

&lt;
When comparing 2 strings using ignore casing flag and using C or Posix cultures, the result of the comparison would seams as the comparison performed as case sensitive. This happen on .Net Core running on non-Windows OS's.
The reason of this behavior is  when running on non Windows OS's we us

[2018-10-08 21:54] kkm000 commented on #6234
@mariaw, I still got not an answers on SO to this question, and, apparently, not much activity here is expected, given how old the issue has been open. Maybe you have any idea who at Microsoft could clarify it? I remember that you have always been very responsive in other issues I previously opened in this repo! I am coming back to think of it once in a while (today I'm reminded of it by a next up

[2018-10-08 21:54] mairaw commented on #8112
Thanks @IMarvinTPA. I think we can improve the wording a bit on the description to make it less confusing.

[2018-10-08 22:03] #5667 closed

[2018-10-08 22:12] mairaw commented on #8178
I'm going to close this one as not repro. When you create a new Windows Forms app, the System.Drawing assembly is automatically referenced by the project.

[2018-10-08 22:12] #8178 closed

[2018-10-08 22:30] arstorey opened #8182 "Does not "clone" Tag property."
The term "Clone" as it is used everywhere else in the .NET framework implies that at least a shallow copy of all data members is performed.   I therefore expected "CloneMenu()" to perform a shallow copy of all members plus whatever internal housekeeping needed to be done specific to a menu item.  However, the "Tag" member does NOT get copied and is null in the resulting MenuItem.  If a method with

[2018-10-08 22:35] Lxiamail commented on #8011
@stamminator  and @rhyous Thank you for your suggestion. WcfTestClient.exe currently is part of visual studio release. It has some dependencies on VS. We can't open source it without relatively involved refactoring work. There is no plan to open source it now. However, we like to continue collecting customer feedbacks.

[2018-10-08 22:39] xamarin-volkan opened #8183 "Struct constructors are invoked with the new operator, but that does not imply that memory is being allocated."
It is stated as title.
Is it right? Need some clarification or source for explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 071b082e-a4aa-00af-1f03-9f6f7205c0bc
* Version Independent ID: cbd67b7f-8aae-2d43-a1dc-26a8b870389e
* Content: [C# structs - A tour of the C# language](https://docs.microsoft.com/en-us/d

[2018-10-08 23:16] vcsjones opened #8184 "Document IV truncation for .NET Framework but not .NET Core for TripleDESCryptoServiceProvider"
**Issue description**

👋 Hi docs folks! On Corefx [an issue was filed][1] because of a compatibility difference between .NET Framework and .NET Core for the `TripleDESCryptoServiceProvider` class that isn't documented anywhere except in the comments of the .NET Framework reference source.

The gist is the initialization vector on `TripleDESCryptoServiceProvider` (either the `IV` property or the `r

[2018-10-09 00:02] zhenlan commented on #8168
@Lxiamail

[2018-10-09 00:33] SpontaneousDuck opened #8185 "Odd example code"
Example code has the last bracket split out in to a second code section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef481df4-ecb1-b588-5fde-b8d9aa4c6a42
* Version Independent ID: 1bdcc46d-b5a9-18ae-3317-69376389782b
* Content: [FrameworkElement.DefaultStyleKey Property (System.Windows)](https://docs.microsoft.com/en

[2018-10-09 02:11] falconhour commented on #8151
thank you all. Actually I was trying to use MarkAsSafe to support non english languages like Chinese, and Korean like the one specified for Japanese below. Because right now when using AntiXssEncoder.XmlEncode() method, it encodes the letters of these languages which I don't want to happen.

To add support for the Japanese language while continuing to allow English, use the following syntax:
MarkA

[2018-10-09 02:30] AceHack opened #8187 "Is start 0 or 1 based?"
so is start 1 equal to array[1] or array[0]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12542bab-90d5-ee4f-fe42-3ad37dd133a1
* Version Independent ID: 1265f19b-bf12-ea32-0b5a-1bfae94b1be4
* Content: [Span&lt;T&gt; Constructor (System)](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.-ctor?view=netcore-2.1

[2018-10-09 02:55] danmosemsft commented on #8130
@grabyourpitchforks is this yours?

[2018-10-09 03:00] ericmutta commented on #8060
@mairaw please take a look at this one when you get a chance!

[2018-10-09 05:35] guardrex commented on #763
@jwisener

That's not quite what we were going for ... *obviously*. Some of what you're raising will generate some issues to improve. Unfortunately, we don't know about many doc issues until someone pings us, but we're good about getting updates into the docs quickly. When you spot issues with any of the topics, there's a **Content feedback** button at the bottom of them. Send the feedback using t

[2018-10-09 05:55] pkulikov commented on #8121
Cool! @rpetrusha please assign this issue to me, then.

[2018-10-09 06:29] #8011 closed

[2018-10-09 06:29] mairaw commented on #8011
Thanks for your input @Lxiamail. Closing this issue then.

[2018-10-09 06:31] mairaw commented on #7366
/cc @glennc @Lxiamail

[2018-10-09 06:39] anarro commented on #8178
Hi Celia/Miriam,

I'm new in VB .Net, when I was young I used another platform (Delphi). Now I trying learning with VB .Net..., if I read in your documents:

..
To add a complete code example to a Visual Studio project
1. In the Help topic that contains the complete code listing, click Copy Code.
2. In Visual Studio, on the File menu, point to New, and then select Project.
The New Project dialog b

[2018-10-09 06:46] mairaw commented on #2149
I was trying to find this issue before filing #8125. So I changed this one a bit to focus on the schema hierarchy section while that one fixes the syntax block.

[2018-10-09 06:52] AakashAaku opened #8189 "Reader"
above program will not run , why you guys are giving wrong explanations , here , we have only getter for Name and we are setting (setter) to assign value. Am i right or wrong ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4343ac18-37c1-9a3e-0210-b69bf924db91
* Version Independent ID: 19d63151-4d8a-30c6-35de-0c8c277cd

[2018-10-09 06:56] mairaw commented on #8178
Hola @anarro!

That topic is part of the Windows Forms documentation.

Which version of Visual Studio are you using?
For Visual Studio 2017, the easiest way to get this working is to create a new  Windows Forms project called VirtualJustInTimeDemo.
So instead of choosing the **Empty Project** template, select **Windows Forms App** under **Windows Desktop**.

Names might be slightly different if yo

[2018-10-09 06:59] AakashAaku commented on #8189
Sorry I was on old version so its not working now its fine after updating framework version to 6+.

[2018-10-09 06:59] #8189 closed

[2018-10-09 07:15] mairaw commented on #8177
PR to improve this topic created: https://github.com/dotnet/docs/pull/8190

@maicomoreira se quiser me passar um projeto para poder reproduzir esse problema, ajudaria. Mas todos os testes que fiz, incluindo com .NET Core 2.0, a versão genérica era sempre mais rápida.

[2018-10-09 07:16] anarro commented on #8178
Hi, @mairaw.

I use the last version of Visual Studio 2017 (15.8.6)...

[2018-10-09 07:44] imba-tjd commented on #8185
This seems to be by design

[2018-10-09 07:48] mairaw commented on #8121
Done. Thanks @pkulikov!

[2018-10-09 07:50] mairaw commented on #8060
Adding @KathleenDollard to comment on this issue.

[2018-10-09 07:53] #8054 closed

[2018-10-09 08:23] markusschaber opened #8192 "List of language features and framework versions"
Hi,
Is there anywhere a list of language features, and the corresponding versions of .NET / .NET Core / Netstandard as target platform which are needed to use the feature?
Also, the required SDK versions would be useful.
This list could also include extension packages like the Async Targeting Pack, which allow to circumvent some of those restrictions.
I think a list of this kind (or a pointer to i

[2018-10-09 09:27] raghavendrabankapur opened #8193 "Not able to save the result file name with --logger option"
When I pass the command line argument as --logger:trx;logfilename=full path of the log filename.trx,
the file is not getting saved in the location specified.

[2018-10-09 11:04] mvelosop commented on #5959
Added link in additional resources.

[2018-10-09 11:05] svick commented on #8192
There are quite a lot of language features and their relationship to framework versions can be quite complicated (for example, [here is my Stack Overflow answer just about C# 7.0 features](https://stackoverflow.com/a/42488315/41071)).

So I'm wondering:

* What would be a good way to present this information?
* For which versions would this information be actually useful? For example, almost nobod

[2018-10-09 11:07] houseofcat opened #8194 "Specify default value like MaxMessagesPerTask"
The default is -1, which indicates an unlimited number of messages.

Please and thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4bc98e-e4a2-ff5f-d76b-05b919e993ed
* Version Independent ID: d940df1c-bcc8-661f-3438-9f5899c1c2cd
* Content: [DataflowBlockOptions.BoundedCapacity Property (System.Threading.Tasks.

[2018-10-09 12:30] mvelosop commented on #6749
Hi @gmatv,

That wouldn't qualify as "business logic", it's just a simple math.

However, I do agree simple math can be not so simple, when you have to consider issues such as different tax rates per item.

A complex discount system would qualify as business logic

But then again, if that were the case, you would have to handle the complex calculation inside the Order and have it persisted, so you

[2018-10-09 13:13] MariusMyburg opened #8195 "Nuget package?"
Hi. I have a .NET 4.5 project user System.IO.Ports.SerialPort, that I am converting to .NET Core.  However I do not see a Nuget package for System.IO.Ports that targets .NET Core 2.1 (or 2.0 for that matter). How do I add the proper references to my .NET Core 2.1 app to be able to use these calsses? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-10-09 13:19] fitdev opened #8196 "Clarification for bools"
For `bool`s is `x |= y` the same as `x = x | y` (as the article suggests) OR is it the same as `x = x || y` (the later being short cicuiting, with the possibility of `y` never being evaluated).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47cbbfe-718d-143b-d6b4-2b32a9b0d3a9
* Version Independent ID: 05a1b6cf-f195-89

[2018-10-09 13:50] markusschaber commented on #8192
For our current projects, we have to care about .NET 4.6 / .NET Core 2.0 and newer, but others might have different needs. :-(

[2018-10-09 14:00] BillWagner commented on #8192
This is a good conversation.

@markusschaber We've taken the plan to document the version needed and any optional NuGet packages needed when we introduce each new feature as part of "What's new" articles.

Am I right that what you want is to have a mapping that goes in the opposite direction: from a version to a language feature.

For .NET Core, that information is listed [here](https://www.micros

[2018-10-09 14:28] eerhardt opened #8197 "Need docs and samples for Path.GetFullPath (string path, string basePath)"
The current docs for `Path.GetFullPath (string path, string basePath)` are blank and only the signature appears. We need to fill out the docs with how to use the method, what each parameter is/does, and some samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6bcce3-8ba6-fed5-b1ad-da7442288f6d
* Version Independe

[2018-10-09 14:47] BillWagner opened #8199 "Provide guidance on packaging and deploying Analyzers made up from multiple assemblies"
Shipping analyzers that are made from multiple assemblies or rely on other NuGet packages present challenges not experienced for single-assembly analyzers.  These challenges are because Visual Studio loads all analyzers into a single AppDomain. Therefore when multiple analyzers share a common assembly (or package), it's possible that different analyzers rely on different versions of the same commo

[2018-10-09 15:01] markusschaber commented on #8192
Your links cover the SDK part (which compiler do I need), although in a unclear way, as one has to skim several pages instead of having just one breakdown table or list.
AFAICS, it does not cover the "target runtime" part (e. G. can I use C# 7.3 features when targeting a .NET 4.6 / Netstandard 1.3 platform?).

[2018-10-09 15:05] kburgoyne opened #8200 "WindowsRuntimeSystemExtensions"
A search on Docs for AsTask or WindowsRuntimeSystemExtensions (which contains AsTask) turns up nothing.  A search on MSDN turns up numerous results, but they all redirect to this page which contains no information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c3438c-e2d4-d1d7-88d8-70843d7be3e9
* Version Independent

[2018-10-09 15:12] mvelosop commented on #6812
Hi @stg609

The book has been updated to current codebase.

You will not see it published until the PR #8201 goes through, though.

We'll keep discussion on https://github.com/dotnet-architecture/eShopOnContainers/pull/704.

[2018-10-09 15:27] BillWagner commented on #8192
See related issue #5729

[2018-10-09 15:28] BillWagner commented on #5729
Issue #8192 has ongoing discussions on how to ensure this kind of information is readily available.

[2018-10-09 16:42] #7841 closed

[2018-10-09 17:09] bkstill commented on #7450
I agree the "SendTimeout, OpenTimeout, CloseTimeout are the same as on the client" statement is ambiguous. I have the same question.

[2018-10-09 17:16] KathleenDollard commented on #8060
@ericmutta Thank you for finding this.

@mairaw Eric is correct. Please make this change.

@ericmutta Have you seen this actually cause a bug in real code? I'm wondering if we need more here than the documentation fix - specifically do we need an analyzer to check for this? Feel free to follow up on this in vblang as it isn't a docs issue

[2018-10-09 17:40] BenLussier opened #8202 "Registry Key did not work"
Unfortunately, it doesn't appear I can attach a screenshot here. I followed the Add a Registry Key instructions but I am not sure if I did it correctly or it is not working properly. In RegEdit I had to right-click &gt; New &gt; Key and enter "Layers" because it did not exist under ..\AppCompatFlags\. I then right-clicked under the default &gt; New &gt; String Value and entered the %ProgramFiles(x

[2018-10-09 18:20] gewarren commented on #8150
@KNBD For VSTO docs feedback, you can use the "Content feedback" button on the online docs: https://docs.microsoft.com/en-us/visualstudio/vsto/create-vsto-add-ins-for-office-by-using-visual-studio?view=vs-2017#feedback

[2018-10-09 18:54] ericmutta commented on #8060
@KathleenDollard many thanks for following up. Regarding the analyzer check I filed an [issue on vblang](https://github.com/dotnet/vblang/issues/348) to continue the discussion there :+1:

[2018-10-09 18:55] rpetrusha commented on #8197
This issue is addressed by dotnet/dotnet-api-docs#563.

[2018-10-09 19:18] rpetrusha commented on #8194
Thanks for pointing this out, @houseofcat. Would you like to submit a PR to update the documentation? In the meantime, I'll add this issue to our backlog.

[2018-10-09 19:53] houseofcat commented on #8194
@rpetrusha Here you go Ron!
https://github.com/dotnet/dotnet-api-docs/pull/602

[2018-10-09 20:04] rpetrusha commented on #8185
It is by design, though it isn't a particularly useful way of presenting code. It's caused by a difference in the way snippets were handled in our old build system (they were merged) and our new one (they are treated as separate snippets). There are numerous instances of this, especially in the WPF docs. I thought that there was an open issue to address these and fix them over time, though I can't

[2018-10-09 20:28] BillWagner opened #8204 "Conceptual overview of nullable reference types design"
This article will explain the justifications for the design of the feature and help readers understand how to adopt the feature gradually in their code bases.

[2018-10-09 20:45] BillWagner opened #8205 "Improve pattern matching tutorial (C# 7 feature)"
The existing tutorials are correct, but don't provide a great motivator for the feature.

Instead, the tutorial should be one that helps readers understand the kinds of problems that are solved with Pattern Matching in C#.

[2018-10-09 20:45] BillWagner opened #8206 "Enable interactive C# on the What's new topics"
The topics under "What's new" should leverage the C# interactive window for (almost) all the samples. This issue should be split into a few PRs:

- [ ] What's new in C# 7.3
- [ ] What's new in C# 7.2
- [ ] What's new in C# 7.1
- [x] What's new in C# 7.0
- [x] What's new in C# 6

In addition, the What's new in C# 6 should link to the string interpolation interactive quick start.

[2018-10-09 21:04] Dc9894 opened #8207 "Possibly missing word"
Hi, english is not my first language, but it seems to me that a verb is missing in the sentence:

" … Adding and removing entities is directly _____ on the appropriate DbSet property ..."
 Should it be either "done" or "performed"?

Which is located in the third paragraph in the "Fetching and storing data" section. I know it's not a huge thing, just trying to improve readability for other readers

[2018-10-09 21:05] BillWagner opened #8208 "Create greenfield nullable references tutorial"
This tutorial will show a File / New Project experience in a post-nullable reference world.  The goals is to show readers the syntax, and motivate existing C# developers to see a better world without nulls.

[2018-10-09 21:06] BillWagner opened #8209 "Create migration nullable references tutorial"
This tutorial will walk through the steps to take a project created before nullable references (like all are today) and migrate it to the safety of nullable reference types.

Readers should learn from this tutorial the strategy and practices to migrate an existing code base to take advantage of the new feature with minimum pain and red squiggles.

[2018-10-09 21:20] karelz commented on #5889
I don't understand it either. No reply in ~3 months, closing.

[2018-10-09 21:20] #5889 closed

[2018-10-09 21:28] BillWagner opened #8210 "Raise visibility on motivations for .NET Core related to versioning strategies on Windows machines."
Feedback indicates that customers understand that .NET Core is cross platform and open source.  However, many existing .NET customers ask why they should migrate to .NET Core if they plan on staying on Windows.

While the decision will be different for each application, we need to explain how .NET Core makes it easier to update individual applications to new versions because the runtime is not tie

[2018-10-09 22:38] #7566 closed

[2018-10-09 22:58] #8194 closed

[2018-10-09 23:20] KNBD commented on #8150
Thanks.  I'll try this next time I get the urge to comment on the docs.  I have used the obvious route, viz: clicking on the Comment option at the bottom of the page and it consistently gave the results that you saw consistently.   I thought that using it might provide much more context to than sending an email without the page details are automatically added when you click that link.

Perhaps the

[2018-10-09 23:20] xamarin-volkan opened #8213 "The content of the image is not accurate even though this way it is more useful to undestand the result."
The one at the end of the section named as "Creating the Data Set" with an url of https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/media/working-with-"linq/console.png".
Correct includings may be
{ Suit = clubs, Rank = two }
{ Suit = clubs, Rank = three }
...

Sorry if it's my bad.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-09 23:23] xamarin-volkan opened #8214 "Missing using rows in "Creating the Data Set""
Hi, thanks for your efforts. Really helpful.
I wanted to inform you just because it is not followed as in previous tutorials.

using System.Collections.Generic;
using System.Linq;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2b7453-076c-a18e-f999-cbd57ab13e60
* Version Independent ID: b687ed5b-5013-cceb-01e5-77f9cc

[2018-10-09 23:27] xamarin-volkan commented on #8213
Or may be to change for block as "Console.WriteLine(c.Rank + " of "+ c.Suit);"

[2018-10-10 01:58] Mackiovello commented on #7890
I'd be happy to take this one

[2018-10-10 06:20] lyhistory opened #8216 "explaination is wrong regrading your statement about .*?(es)"
I tried out in regex101.com to check the debug steps, so .\*? is not greedy pattern, it's lazy pattern, it only takes characters left behind by (es) in each round, therefore it makes no differences between .\*?(es) and (es) to your input "Essential services are provided by regular expressions."
because in the 1st round it can find the match 'es' in 'services' already.

Your explanation is correct

[2018-10-10 06:31] markusschaber commented on #5729
@Mart-Bogdan Additionally, Assembly names and NuGet-Packages are not always matching 1:1.

[2018-10-10 06:40] #8207 closed

[2018-10-10 06:44] mairaw commented on #8207
Thanks for letting us know about this issue @Dc9894. A community member already jumped in to fix it.

Also, submitting quick edits to the documents should be super easy, in case you're interested:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2018-10-10 07:01] #8177 closed

[2018-10-10 12:22] Narenkp1975 opened #8222 "No usage of reader in this example"
AppSettingsReader reader = new AppSettingsReader();
reader is only declared, never used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b05e7d9-c2fa-785a-d4fc-c9bcc77f1e91
* Version Independent ID: c8205456-1a69-bc2c-e18c-2dcb248f785c
* Content: [AppSettingsReader.GetValue(String, Type) Method (System.Configuration)](

[2018-10-10 13:54] TylerBrinkley opened #8224 "Shared source package publishing locations?"
What are the recommended locations for publishing a shared source package if not to nuget.org? Only private repositories? Providing support for older frameworks has always been a pain for developers so I was thinking a shared source package for adding missing commonly used API's could be helpful for library authors. Eg. https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Uti

[2018-10-10 13:58] Dc9894 opened #8225 "Missing connector?"
Reading through the "Kinds of automated tests / Integration tests" the last section (last paragraph and the code) seem to have no connection with the previous text, a question arises when you read this: How is the code of the LocalFileImageService service relates to the integration tests subject? its like it appears out of nowhere and leads nowhere.

It's like there is a missing paragraph explaini

[2018-10-10 14:15] BillWagner opened #8227 "VB: Content for improved VB Support on .NET Core 3"
Pending discussion with product team

/cc @KathleenDollard

[2018-10-10 14:16] BillWagner opened #8228 "Create initial tutorial for using async streams"

[2018-10-10 14:18] AArnott commented on #5729
Knowing the minimum version that adds the type to the package for a given platform is also important.

[2018-10-10 15:30] Dc9894 opened #8232 "Typo?"
Hi, I think there is a typo at the beginning of the  "Development workflow for Azure... / Step 4" section. Should it say "Once a build has* succeeded"? By the way this is a great documentation / guide, thanks for the effort!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abfe995c-28a0-65e8-e1fc-dc796efbdec4
* Version I

[2018-10-10 15:41] #7799 closed

[2018-10-10 15:41] MichaelLHerman opened #8233 "Broken link"
"Default WPF Themes" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c77316ba-f765-fc01-8bef-2451b6b44ebf
* Version Independent ID: e3895129-2893-7d9a-5f99-fb03f1ce3e8f
* Content: [Button Class (System.Windows.Controls)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.button?view=netfr

[2018-10-10 15:45] #7490 closed

[2018-10-10 15:56] Thraka commented on #8213
Hi @xamarin-volkan thanks for bringing this to our attention.

I think the screenshot was taken from the end of the tutorial, specifically from the "Preparing for New Features" section where the `ToString()` method was overridden.

This should be easy to fix.

[2018-10-10 16:10] Thraka commented on #8183
@BillWagner I think I understand what @xamarin-volkan is talking about. It says "but that does not imply that memory is being allocated." when you use the new keyword with a struct. Isn't any/all memory allocated in some form? Perhaps it would be better to word that whole paragraph as:

**bold is my change to the paragraph**

[2018-10-10 16:15] #8185 closed

[2018-10-10 16:19] #8155 closed

[2018-10-10 16:20] tobia commented on #5832
According to the [tests committed along with the change](https://github.com/dotnet/corefx/pull/27191/files#diff-f70f12d034b1030726b9e9597dde4e64R23), it's supposed to be used like this:

    ProcessStartInfo psi = new ProcessStartInfo("filename");
    psi.ArgumentList.Add("arg1");
    psi.ArgumentList.Add("arg2");

This is quite a convoluted and hidden way to set the argument list for a process ex

[2018-10-10 16:40] #8213 closed

[2018-10-10 16:51] douglaslMS commented on #7590
@manukautech FYI I'm am investigating further whether we might have a place to host your new and improved PUBS database.

[2018-10-10 17:08] douglaslMS commented on #7590
@manukautech Professor Calder, it's possible that the owners of the [SQL Server Samples repo](https://github.com/Microsoft/sql-server-samples) would be willing to host your PUBS database there. Presumably this would require a README to accompany it. I'm not sure whether they would want an MDF, a BAK, or scripts. In any case, please contact the email address at the bottom of the repo home page. Tha

[2018-10-10 17:10] #8232 closed

[2018-10-10 17:30] mairaw commented on #6923
You're right @nemrism. Reopening.

[2018-10-10 17:38] #5307 closed

[2018-10-10 17:46] mairaw commented on #8233
Duplicate of #6831

[2018-10-10 17:46] mairaw commented on #8233
Thank you @MichaelLHerman for your feedback. I'm closing this one as duplicate since we already have an issue covering the same problem.

[2018-10-10 17:46] #8233 closed

[2018-10-10 17:48] mikkelbu commented on #8196
It is the same as `x = x | y`. We can replace `y` with something with a side-effect, so we can observe that it is being evaluated, e.g. writing to the console, incrementing a value, or throwing an exception. So the following
[code]
will write `true` and `1`.

[2018-10-10 17:56] MichaelLHerman opened #8237 "Broken Link"
See Also link "Create a Custom Content-Wrapping Panel Sample" is broken.   Should be https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/how-to-create-a-custom-panel-element ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d0d351-2a37-be1d-4c58-13ecf878f43e
* Version Independent ID: b4975b9f-5ed1-6e41-f6ee

[2018-10-10 18:18] Thraka commented on #8193
@raghavendrabankapur Is this related to .NET Core? If so, what version are you using? Can you give me a full example of what you used for a path and where it went?

[2018-10-10 18:19] tafs7 commented on #6311
As of *Oct 2018*, some of the content in this page is now out of date.

The Github repo linked at the beginning of the article is now deprecated, and the source has moved into the ASP.NET Diagnostics sub repo, and will be included in ASP.NET Core v2.2 when it releases by the end of 2018.

Please see this: https://github.com/aspnet/Diagnostics/tree/release/2.2/src

If you are insterested in Nuget p

[2018-10-10 18:28] Thraka commented on #8187
It would be `array[1]` because the value of start is described as the index of of the array, and all array's are indexed in 0-base.

[2018-10-10 18:29] Thraka commented on #8187
I'm going to close this for housekeeping purpose, if you have any other questions, feel free to respond or reopen 😄

[2018-10-10 19:00] drumsta commented on #5766
This topic definitely should be documented much better, or at least pointed out to another pages where the method would be explained more thoroughly.

[2018-10-10 19:27] LisandroSu opened #8239 "The first example doesn't work if you don't specify the startup method name in the App.xaml"
@FrancescoBonizzi commented on [Wed Oct 10 2018](https://github.com/dotnet/docs.it-it/issues/47)

This piece:

[code]

Only works if you specify `Startup="App_Startup"` in the Application tag of `App.xaml`

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 8be77feb-6bc1-1e7d-6903-3728efc0

[2018-10-10 19:28] LisandroSu commented on #8239
Hi team,

Please check this issue.

Thanks!

[2018-10-10 19:40] mairaw commented on #6311
@CESARDELATORRE @mvelosop can you please take a look at this issue for the microservices e-book?

[2018-10-10 19:42] mairaw commented on #8193
[dotnet-test](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21] has that parameter. Tagging @KathleenDollard and @livarcocc

[2018-10-10 19:45] #7858 closed

[2018-10-10 19:58] mairaw commented on #8237
@MichaelLHerman for these broken WPF samples link, I've been trying to find their replacement at https://github.com/Microsoft/WPF-Samples. But I couldn't find one for this one. Might need to point to our version in dotnet/samples used for the docs.

/cc @sambent

[2018-10-10 20:00] mairaw commented on #8150
@KNBD we can't see the attachment here. But that address is no longer valid. Where do you see that email address?

[2018-10-10 21:14] Mikejo5000 commented on #7732
Made these updates here:
https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/3040

[2018-10-10 22:00] #7830 closed

[2018-10-10 22:12] rpetrusha commented on #7930
Keep us posted, @nic-hartley. And let us know if you have any questions.

[2018-10-10 22:19] #7590 closed

[2018-10-10 22:40] #8222 closed

[2018-10-10 23:02] nic-hartley commented on #7930
@rpetrusha Still trying to figure out how to embed images in the Fields section; I can figure out how to do it in the main body, but I'm struggling to get it in there -- it doesn't seem possible, unless I'm missing something.

[2018-10-10 23:08] james-world opened #8251 "Formal C# Language Specification"
How does the development team keep track of language features? There doesn't seem to be a publicly available language specification since 6.0 - is there's a private one you aren't sharing? If there is, can you share it? If there isn't, can you write it and share it? I expect it's enormously challenging to do this as the language grows, but it does *seem* to be playing a bit fast and loose with the

[2018-10-10 23:15] rpetrusha commented on #7930
I suspect that it's not possible. The best alternative is to add to the enum description a sentence about the Remarks section containing images for each symbol, and add a table in the Remarks section.

[2018-10-10 23:19] BillWagner commented on #8251
/cc @MadsTorgersen @agocke

Thanks for providing your thoughts @james-world That's great information that helps us prioritize different efforts.

It's true that the formal process moves slower than we'd all like.  There are a lot of moving parts, and we're investing in them to provide a better long-term experiences.

1. We've updated the formal [ECMA C# Standard](https://www.ecma-international.org

[2018-10-11 00:39] nic-hartley commented on #7930
That's frustrating, but yeah, it looks like I'll have to do that. I got sucked into another project at work, so this is on the back burner -- I'll have it done by Sunday if no one else has.

[2018-10-11 00:42] wschin opened #8253 "Need examples"
It's unlikely users can implement things like https://stackoverflow.com/questions/52190423/c-sharp-access-unmanaged-array-using-memoryt-or-arraysegmentt with this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5bf7ff4-3fab-4cda-7943-5717376a595f
* Version Independent ID: 721ccd28-5c40-826f-5419-4afe560ebfc6
* Con

[2018-10-11 01:47] shampeter opened #8254 "Really need a little more words on this page"
I would appreciate if there is some description, explanation, purpose or use cases on this interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889d3faf-7d1e-0de1-33cc-c05691bf818d
* Version Independent ID: b20a61b0-5052-c098-a318-7c3b724b18f4
* Content: [IDbColumnSchemaGenerator Interface (System.Data.Common)](ht

[2018-10-11 04:09] divega commented on #8131
@mairaw I think we can close this as duplicate. @Rookian has already asked this question at https://github.com/aspnet/EntityFrameworkCore/issues/13530. Unfortunately we haven't got to it yet in triage, but we will.

[2018-10-11 05:21] wschin opened #8255 "More Information?"
I know exactly every word here, but sadly I still don't know what this structure is for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d83416c-37cc-9bf2-30c7-f88b9ce6b1f9
* Version Independent ID: 3dfec537-bdec-f88f-a682-73d01dd2154b
* Content: [MemoryHandle Struct (System.Buffers)](https://docs.microsoft.com/en-us/d

[2018-10-11 07:17] mairaw commented on #8131
Ok. Thanks @divega.

[2018-10-11 07:17] mairaw commented on #8131
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/13530

[2018-10-11 07:17] #8131 closed

[2018-10-11 09:16] lardman opened #8257 "Typo in remarks sections"
Is there a typo in this sentence?:
"For , LayoutKind.Sequential controls both the layout in managed memory and the layout in unmanaged memory"

I feel that 'blittable types' should follow 'for'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a787be3-458b-b2e6-f937-e7d2f6f629fc
* Version Independent ID: 4a246ad7-aba9-a4

[2018-10-11 09:36] pkanavos opened #8258 "Missing documentation for QueueUserWorkItem<TState>(Action<TState>, TState, Boolean) ."
There is no documentation for QueueUserWorkItem<TState>(Action<TState>, TState, Boolean) that explains what `bool preferLocal` does.

This was raised in an SO question [What is ThreadPool.QueueUserWorkItem preferLocal for?](https://stackoverflow.com/questions/52756327/what-is-threadpool-queueuserworkitem-preferlocal-for).

The [answer](https://stackoverflow.com/a/52756507/134204) shows that the me

[2018-10-11 09:41] AlirezaAlipour opened #8259 "Why 'webapp' template name has been used in the Doc while it is not available in "dotnet new -l" command output?"
**Issue description**

In Microsoft Doc for ASP.NET Core, to creating a web app,  'webapp' template name has been used as fallow :
[code]
But when I use following command for listing available template names, "webapp" is not available:
[code]
<details>
<summary><strong>command output</strong></summary>

[code]
</details>
<br/>

**.NET Core SDK Version**
2.1.403

My question is, why 'webapp' templa

[2018-10-11 10:09] gaazkam opened #8260 "Endianness"
Is the returned byte array big endian, little endian, network order, host order?

Yes I can experiment a little to find this out. Still, I think it'd be helpful if the docs mentioned this explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f6facf-650a-fa04-6bae-9cea2891ddd6
* Version Independent ID: 86fb8256-8

[2018-10-11 10:09] fitdev commented on #8196
@mikkelbu Thank you. Yes, I figured it myself after performing a similar test. It would be nice if it was explicitly mentioned though.

[2018-10-11 10:15] massoudmario opened #8261 "No Sample codes!"
Hi, There's no sample codes for MEF at all ! please provide great articles and samples for the great component. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd41d6de-45fe-6bef-7b1c-500967470cb8
* Version Independent ID: 3d922938-429f-2f9e-59cc-cf6bc0cdc076
* Content: [CompositionBatch Class (System.ComponentM

[2018-10-11 11:27] xied75 opened #8262 "[Uri.IsBaseOf(Uri) Method (System)] Remarks not clear"
Do you not also need to ignore everything from uri1 after the last slash as well?

Based on your example table, I think the pseudo code is like:

uri2.RemoveEverythingFromLastSlash().StartsWith(uri1.RemoveEverythingFromLastSlash())

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71a9e383-a525-2ab0-d275-94af99219dac
* Ve

[2018-10-11 11:35] xied75 commented on #8251
FYI:
https://github.com/antlr/grammars-v4/issues/819

[2018-10-11 12:28] james-world commented on #8251
Thanks for the quick response - great to read that maintaining the spec on the radar. Although the C# 6.0 is open for comments, it's not clearly not an obvious or appropriate place to comment about later versions. I wonder if the power of the web (as opposed to a word doc) enables us to have a *single* living spec that has markup supporting a view filter so that all versions can be viewed and main

[2018-10-11 12:37] habegage opened #8263 "Please add a remark to emphasise the potential weirdness with TKey being an enum and index 0"
Hi!
I just ran into a weird bug using a `KeyedCollection&lt;SomeEnum,SomeClass&gt;`.
Consider the following code
[code]
But because of Ecma-334 5th Edition / December 2017 point "11.2.4 Implicit enumeration conversions" (http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-334.pdf) `var a = collection[0]` in my setup implicitly converts to `TestKey.Entry1`, so for both `a` and `b` I g

[2018-10-11 12:43] Raghumu opened #8264 "TreeView and TreeNode for AspNet Core 2.1"
Are there any classes that replace TreeView and TreeNode in AspNet Core 2.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f79099-978d-9b1e-7b87-fff907dc1017
* Version Independent ID: aeb00ac5-4497-e455-3909-8d689994e982
* Content: [System.Web.UI.WebControls Namespace](https://docs.microsoft.com/en-us/dotnet/api/sys

[2018-10-11 13:11] arnonax opened #8266 "This is not TDD"
The article says: "To use test-driven development (TDD), you create a failing implementation of the PrimeService class:"
That's not TDD. In TDD you first write the unit test which doesn't compile, then the failing implementation of the PrimeService class, and then you implement the body of the PrimeService method(s).
I suggest that you simply remove that sentence, and keep the article as is except

[2018-10-11 13:16] BillWagner commented on #8206
This part of the task:

Has been done in #8238

[2018-10-11 13:37] BillWagner commented on #8183
@Thraka I like that. I'll suggest one more clarification:

**bold** is my addition

Adding the "up for grabs" label, and adding this to the community contribution project.

[2018-10-11 14:34] PatrickRyder opened #8267 "Surely this is not the latest syntax specification?"
What about being able to test for null and declare a strong type in the same statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc2f58f-8fbc-9ff2-2312-8a5715536f1f
* Version Independent ID: 1dbd0d51-e1dc-8970-93f8-2a44fa71f7ba
* Content: [as (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/languag

[2018-10-11 14:53] BillWagner commented on #8267
Thanks for pointing this out @PatrickRyder

I thought I had updated this page as part of the additions for pattern matching in C# 7.  I clearly missed it.

What needs to be added:

- [ ] Using `as` with a strongly typed variable initializer.
- [ ] Using `as` with value types
- [ ] using `as` to perform null checking.

[2018-10-11 15:29] A-Gaston opened #8268 "Hardly helpful"
I keep getting PlatformNotSupportedException on Windows Server 2016, with virtually no explanation as to what's causing the error.

There exists virtually no guide as to how to effectively use these methods, although they appear as though they should "just work".

I did some digging and ended up down a rabbit hole of setting up DRA certificates per this guide: https://blogs.technet.microsoft.com/a

[2018-10-11 15:41] pkulikov commented on #8267
@BillWagner I'm confused. The following still produces compile error:
[code]

@PatrickRyder did you mean the `is` expression, which is documented?
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/is#pattern-matching-with-is
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7#is-expression

[2018-10-11 15:42] ghost opened #8270 "Documentation explanation"
The documentation is useful but if you provide some small videos it will be more valuable beacuse some issues might not be obvious for us
Thanks,
Ahmed Hafez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da2b7d0-720c-31de-ab73-a088feebd9b4
* Version Independent ID: 7275f5b4-9def-16e5-a6c6-6d01230be338
* Content: [Ani

[2018-10-11 15:45] mickeyjf opened #8271 "CancelAsync Race condition"
It would be helpful to not just point out that this can occur, but to give example(s) of the best ways of handling it. The Managed Threading Best Practices article does not really do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 426f70a3-bedc-c1ff-06f2-13d81d269397
* Version Independent ID: 36a9a55e-d5ee-8180-2f

[2018-10-11 15:48] PatrickRyder commented on #8267
Hi, Petr,

I think I was getting confused with the is keyword.  I was trying to find the new syntax for declaring a variable at the same time as testing it, e.g.:

if( sender is ComboBox myComboBox )
{
var item = myComboBox.SelectedItem;
}

My apologies.

  *
Patrick

________________________________
From: Petr Kulikov <notifications@github.com>
Sent: 11 October 2018 16:42
To: dotnet/docs
Cc: Patr

[2018-10-11 15:54] BillWagner commented on #8267
@pkulikov *sigh* you're right.  That's what I get for looking at something when my brain was totally focused on a different problem.

I hid my previous comment as resolved. (That seemed the best strategy).

One change that would be useful on the page for `as`:  Add a new sentence at the beginning of the **Remarks** section something like:

The `is` above would be linked to the keyword for `is.

[2018-10-11 16:14] #7936 closed

[2018-10-11 16:36] rpetrusha commented on #8257
Thanks, @lardman, for pointing out that text is missing. And you're correct; the missing text is "blittable types". We've opened dotnet/dotnet-api-docs#609 to restore it.

[2018-10-11 17:31] #7407 closed

[2018-10-11 17:40] perennialmind opened #8273 "Leap second statement is confusing"
At the time of writing, the documentation reads

&gt; represents the number of seconds that have elapsed

and

&gt; does not take leap seconds into account

I found this wording confusing. At first reading, I questioned whether the calculation treated leap seconds differently from absolute monotonic seconds, as it should. Based on cursory tests, I can see that calculations are correctly performed

[2018-10-11 18:08] douglaslMS commented on #8254
@shampeter [This GitHub issue](https://github.com/dotnet/corefx/issues/5915) explains why Microsoft added this interface. It appears to me that it may be only for internal use by other System.Data objects. I'm trying to get an answer to that question.

[2018-10-11 18:36] Arash-Sabet opened #8274 "Need more info on the first C# code snippet"
Would you please specify clearly the type of ```addedCategories``` and show how it's populated? This document should be self-expressive enough to help doing away from guessing.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560c5e47-3225-2f5f-c0ae-befbb281d347
* Version Independent ID: 6d2efc68-1645-e15a-91f0-2

[2018-10-11 19:33] douglaslMS commented on #8274
@Arash-Sabet The content of the _addedCategories_ variable is explained by the examples in the following sections of the article:

For example, in [Passing a Table-Valued Parameter to a Stored Procedure](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/table-valued-parameters#passing-a-table-valued-parameter-to-a-stored-procedure):

`DataTable addedCategories = CategoriesDataTable

[2018-10-11 20:00] DavidRueter opened #8275 "Missing information pertaining to using ReadXml(XmlReader)"
This documentation is missing important information about using ReadXml(XmlReader):

1) XML data that does not have schema nodes can be loaded into a table, but you must first explicitly add columns to the DataTable before calling ReadXml()  See DataTable.Columns.Add()

2) The name of the table (DataTable.TableName) MUST match the XML element name of the nodes to be read in.  For example, if the X

[2018-10-11 20:18] PeterSmithRedmond opened #8276 "The link to the LocBAML source code is stale"
The link https://go.microsoft.com/fwlink/?LinkID=160016 is no longer valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72e544a8-3979-26ea-39fb-316eafa71cdb
* Version Independent ID: 5b84e3b3-e09f-be5d-8936-ed1ceb81203c
* Content: [How to: Localize an Application](https://docs.microsoft.com/en-us/dotnet/framework/wp

[2018-10-11 21:29] Rick-Anderson opened #8282 "Add VS Mac links"
FYI in VSMac we have a link, which goes to Welcome to .NET, and the first link on that page is to the .NET Core Guide page where there is no VSMac link in the sidebar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c922021-b12a-83e4-3ee6-eceecd6076d2
* Version Independent ID: fdb655a4-cff4-6c67-7244-673760379663
* Con

[2018-10-11 22:01] mairaw commented on #8282
We're going to be revisiting the TOC as part of the MVC process and can see if it makes sense to pull that topic up. But where are you seeing that link for Get up to speed? It's not from our https://docs.microsoft.com/en-us/dotnet/welcome page. Perhaps they should link to https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-mac-vs instead?

[2018-10-11 22:03] pkulikov commented on #8267
@PatrickRyder thanks for raising the issue. I don't think you are the only one who confuses `as` and `is`, especially given, how close those two in functionality and usage. As far as I remember, ReSharper suggests refactoring that converts `as` usage to the pattern matching with `is`. So, the addition suggested by @BillWagner is "in-field" and it's good it gets to the docs.

[2018-10-11 22:19] douglaslMS commented on #8274
@Arash-Sabet The [IDbColumnSchemaGenerator Interface](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.idbcolumnschemagenerator?view=netcore-2.1) is _not_ only for internal use. You can use it to provide a custom implementation to generate a column schema through your implementation of the [IDbColumnSchemaGenerator.GetColumnSchema Method](https://docs.microsoft.com/en-us/dotnet/api/s

[2018-10-11 22:55] Arash-Sabet commented on #8274
Thanks @douglaslMS for the clarification. back to your first comment in this thread,  I think it makes sense to move up the definition of ```addedCategories``` right before the 1st code snippet just to reduce back and forth.

[2018-10-11 23:00] KNBD commented on #8150
Maira,

I sent the full text of the bounce but I have attached the gist of what I wrote then below, once again.  I suspect that Microsoft's filters are at the root of this problem - they are too strict even for messages generated using your own automated response system to get through!

This is the back story. I was in VSTO and, on receipt of an error message, I clicked on the hyperlink to the err

[2018-10-11 23:09] mairaw commented on #8150
No, this is how GitHub works when you're replying via e-mail. They ignore attachments.

devdocs@microsoft.com used to be an email aliases used for feedback but the systems are now changing and that email adress no longer exists. But I'm curious to where you're finding pages that use that alias. Maybe it's an old offline book from VS?

[2018-10-11 23:15] #8267 closed

[2018-10-11 23:18] KNBD commented on #8150
Certainly, it likely to be offline because my connection speed is poor and I keep a lot offline.  However, I do let the VSTO manager keep it up to date, so I assume it is not particularly old.   I don't, however, recall VSTO's doc manager asking permission to update files recently, though I have added some recently.   There does not seem to be any mark against files to say whether they are current

[2018-10-12 01:18] PeterSmithRedmond opened #8286 "So..the C# conversion routines that says "FromFileTime" doesn't actually work with a FILETIME"
There's a C++ FILETIME construct in Windows. What I was actually looking for was a way to convert that sort of structure into a nice C# version. Instead I get something that would work, if only I could convert a FILETIME into a 64-bit long. Which I can't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2004c879-1453-ce0

[2018-10-12 03:12] cheong00 opened #8288 "Spelling mistake"
Please fix spelling "hte" to "the".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb81599-a548-5d41-4013-812d9148b09d
* Version Independent ID: de28387f-e401-9ecd-1fc0-a9e37d55d6ea
* Content: [String Class (System)](https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netframework-4.7.2)
* Content Source: [

[2018-10-12 03:16] laserbeak opened #8289 "MSDN Examples always feel like over-executed challenges."
Why can't you just start with a simple example and then move onto something more "cool and clever"?
MSDN documentation is the only documentation I use that feels like a challenge. I just want to know how something works, not decipher your over-complicated examples....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc60

[2018-10-12 04:05] mairaw commented on #8288
Thank you @cheong00! Would you like to contribute and make the change yourself? We explain the process here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

If not, just lest us know and we'll take care of it!

[2018-10-12 04:32] mairaw commented on #5765
FYI @sfilipi. I believe you're already working on adding code samples, correct?

[2018-10-12 04:33] mairaw commented on #4975
@karelz @richlander pinging again for help

[2018-10-12 05:12] yarivdo opened #8291 "There's a bug :)"

[2018-10-12 05:34] #8291 closed

[2018-10-12 06:15] mairaw commented on #6655
Done. @mlacouture let us know if you’d like to add any next steps. Otherwise, we should just remove that heading and move the Sub-sections one level up.

[2018-10-12 07:43] raghavendrabankapur commented on #8193
@Thraka version of dotnet is 2.1.202 . The cli parameters i am passing are
//Current working directory is the test project file path, then as below

dotnet test testproj.csproj --filter TestCategory=categoryname --logger "trx;logfilename=filepath for the result with extension .trx"

[2018-10-12 08:17] bernd-herzog opened #8292 "Windows 10 1809 not listed"
The newest release of Windows 10 (1809) is not listed on this site. Please list that with the correct .NET-version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fe5242-e3b2-6cfe-5308-63fc96272657
* Version Independent ID: 1abaaeb7-d7ed-5522-c16f-409f22a074cc
* Content: [.NET Framework Versions and Dependencies](htt

[2018-10-12 09:55] Hayko-1 commented on #7024
tried the full dataset on **v0.6.0**

Accuracy: 50.00 %
Auc: 50.00 %
F1Score: NaN

Sentiment Predictions
---------------------
Sentiment: Please refrain from adding nonsense to Wikipedia. | Prediction: Positive
Sentiment: He is the best, and the article should say that. | Prediction: Positive

[2018-10-12 10:17] Ziriax opened #8293 "Always call Unlock"
Please note that you always have to call Unlock, even when TryLock fails, as can be seen from the reference source implementation https://referencesource.microsoft.com/#PresentationCore/Core/CSharp/System/Windows/Interop/D3DImage.cs

The internal reference count is incremented, even when TryLock fails. This is rather counter-intuitive IMHO.

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-12 11:14] Beliaar opened #8294 "Missing words"
In https://docs.microsoft.com/en-us/dotnet/api/system.collections.objectmodel.observablecollection-1?view=netframework-4.7.2#notes-on-xaml-usage there seems to be words missing:

"must be the root element, because the that must"
Between "the" and "that" should probably be a "tag" or "attribute".

"You must declare an (which entails...)"
It never explains what one must declare.

---
#### Document D

[2018-10-12 11:54] maverickelementalch opened #8295 "DI should be defined as Dependency Injection, not Dependency Inversion"
The content defines DI as meaning Dependency Inversion but really uses it as meaning Dependency Injection, which leads to nonsensical statements like "DI is one way to implement the Dependency Inversion principle.".

The content should be rephrased as follows:

"The final principle, the Dependency Inversion principle, allows you to decouple the infrastructure layer from the rest of the layers, whi

[2018-10-12 11:55] ngzhiying commented on #4675
@Rick-Anderson @mairaw hello.

Would like to clarify the information present in the following section - https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-wcf-using-net-framework-35---452-using-tcp-transport-security-with-certificate-credentials.

These versions of the WCF framework are hardcoded to use values SSL 3.0 and TLS 1.0. These values cannot be changed. You must

[2018-10-12 13:08] abdo1819 commented on #7913
thanks bro books you mentioned seem to be really useful

[2018-10-12 13:08] #7913 closed

[2018-10-12 13:19] tbdowns opened #8296 "BlockingCollection Examples using Generic Host (HostBuilder) and Async Main"
Can we please have have Examples for .Net Core 2.1 using HostBuilder instead of spawning Threads manually. The current Examples are tidy enough but not leveraging the latest offerings of .Net Core 2.1 for thread management.

For context, the use case I have in mind is many micro services Adding to a common BlockingCollection. A single compute-heavy service reads one-at-a time from the BlockingColl