[2018-07-01 00:49] #6159 closed

[2018-07-01 03:47] mairaw commented on #6241
Closing this issue given that no feedback was given.

[2018-07-01 03:47] #6241 closed

[2018-07-01 04:30] mairaw commented on #6227
Closing given there’s no feedback here @DavidPrio.

[2018-07-01 04:30] #6227 closed

[2018-07-01 04:34] mairaw commented on #6235
Thanks for your feedback @wendyscarlet. That topic was refreshed earlier today.

[2018-07-01 04:34] #6235 closed

[2018-07-01 13:19] trosel opened #6248 "Searching the F# Language Reference pulls up results for C# and VB as well"
Can we please get a search bar that can separate out the different languages for better searching?

Or maybe get different web pages entirely for each language's reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34c541d-29fa-6497-c851-17a7d605edc1
* Version Independent ID: 90ab1d8a-0195-e8c2-0f8d-fea3c3539098

[2018-07-01 13:46] Rahul-Ec27 opened #6249 "What is meant by - "Other content in installer" ?"
In the table above for installer - I understand "what is installed" means but am confused with column "Other content in installer" what does that actually means ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4723eb4d-c4b9-f44c-7753-caa4a3c8cfdd
* Version Independent ID: 17270776-9bf5-fe60-f9a7-43311e5b4654
* Content:

[2018-07-01 15:39] WildYorkies commented on #6248
@cartermp Ah, I understand your point of view on this. For context, I had this thought when searching for negation in F#. I was trying to see if it's something like `!(myFunctionThatReturnsBool)` or `not myFunctionThatReturnsBool` etc.

When I searched, I only got VB results, even though you can see F# has a page on this.
![image](https://user-images.githubusercontent.com/1299322/42136073-fa2f9660

[2018-07-02 02:15] #6232 closed

[2018-07-02 02:17] #6242 closed

[2018-07-02 02:21] #5337 closed

[2018-07-02 04:16] CloudOS opened #6252 "It's... uh.. Simple"
and it worked lol

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3aa751-f468-0e8b-8d00-7b6f273c01dc
* Version Independent ID: 1dc42d66-6f89-b55b-ebd0-73232935194b
* Content: [How to: Group Windows Forms RadioButton Controls to Function as a Set](https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/how-

[2018-07-02 06:04] manoharreddyporeddy opened #6254 "Missing web link for "Object and collection initializers""
Under C# version 3.0
The "Object and collection initializers" does not have a link now.

Can we link it to below?
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/object-and-collection-initializers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
*

[2018-07-02 06:09] skst opened #6255 "Some examples would be nice"
How does one use this new attached property? How does one implement and use an inherited property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 594fdea9-01c4-2431-97ff-28ba94979196
* Version Independent ID: 6b5c374f-f6f8-23cf-a910-a7b0f83e57b3
* Content: [How to: Register an Attached Property](https://docs.microsoft.

[2018-07-02 08:20] kbridge opened #6256 "Sample Code in "LINQ to XML Overview" Should Contain Object Loading Step"
The sample code:

[code]

should contain "How can I get the *purchaseOrder* object?" (by loading a XML file or something). For example:

[code]

Otherwise I have to go through the documentation `Programming Guide (LINQ to XML) >> Creating XML Trees >> Parsing XML >> How to: Load XML from a File` (so deep) to find this. Not very friendly for lazy programmers like me.

---
#### Document Details

⚠ *

[2018-07-02 12:49] bjarte commented on #6226
"dotnet run command builds dotnet.dll"

I think this is incorrect. The "dotnet run" command creates a dll with the same name as the project you are building.

If you run "dotnet run" in a directory containing a project file **hello.csproj**, the result is **hello.dll**.

[2018-07-02 14:04] RealMutatedBread opened #6257 "Great little guide."
These small tasks really helped me learn some C#, they start really simple and slowly become a little more difficult.
Would recommend for anybody wanting to learn.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df2cc16c-fcf9-41e6-a1e5-92dfc2869495
* Version Independent ID: 4421a02c-f819-1483-12c6-7dab4f289a46
* Content

[2018-07-02 14:05] jinek opened #6258 "Unclear "catch (ApplicationException ex)""
Why was it put: "catch (ApplicationException ex)
    {
        writer.WriteLine("ApplicationException Message: {0}", ex.Message);
    }
" and in case there is a reason, why rest of the code was not put in to this try/catch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85197d9e-6a02-c46b-5f1a-a7970bea5e06
* Version Ind

[2018-07-02 14:14] d-dizhevsky opened #6259 "Contribution guide needs to be improved"
#### Contribution guide needs to be improved

It is currently hard for newcomers to quickly pick up an issue and contribute to docs if the issue is far more complex than typo/broken link/etc or due to any other possible reason why it can't be resolved via github web interface.
IMO [this section](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#building-the-docs) of the contributing guide

[2018-07-02 15:12] Rolschge opened #6262 "Combining diacritics"
"\u0061\u0308".StartsWith("\u0061", StringComparison.InvariantCulture)
-&gt; false
"\u0061\u0308".Substring(0,"\u0061".Length).StartsWith("\u0061", StringComparison.InvariantCulture)
-&gt; true
It seems to me, that a comparison with substring gives different results due to combining diacritics in unicode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-07-02 16:05] rpetrusha commented on #6180
One other thing that I neglected to mention, @pkulikov. Some of the content might best be moved to the API reference. For example, the [C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/threading/thread-timers) and [VB](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/concepts/threading/thread-timers) Thread Timers topic should probably be merged i

[2018-07-02 16:14] pkulikov commented on #6180
@rpetrusha I'm working right now on the timer topic :). Have had the same question: should all three existing topics be removed from the docs, as the API topic provides a good overview? The answer seems to be yes, as I reason from your message.

However, I'll make PR where it's still in the .NET Guide. Let's see how it would look like.

[2018-07-02 16:19] R2D221 opened #6263 "Update text to VS2017"
The section Remote Data talks about how "No provider models for extending existing LINQ technologies, such as LINQ to SQL, to other types of data source are available in Visual Studio 2008."

But... Visual Studio 2008 is no longer supported, is it? It would seem more relevant if the article talked about Visual Studio 2015 or 2017.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-07-02 16:49] ike86 opened #6264 "Sentence is hard to understand"
The following sentence is quite hard to understand. Not sure what it even means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9885f16-24fc-c4ab-458c-fd38279b9898
* Version Independent ID: dc4040cc-3cec-75cd-73a9-2cb7d890c672
* Content: [Using Type dynamic (C# Programming Guide)](https://docs.microsoft.com/en-us/dotn

[2018-07-02 16:50] jv42 opened #6265 "Applied to a type or field?"
The Remarks section states that this attribute can be "applied to types, properties, fields, methods, and method parameters", then explains some cases, but not the types nor the field ones.
It would be beneficial to explain both these cases too, as they are not obvious.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11

[2018-07-02 17:05] Rick-Anderson commented on #5009
@KathleenDollard @richlander  can we get this scheduled?

[2018-07-02 17:29] rpetrusha opened #6266 "Document new System.IO.Path members"
# Document new System.IO.Path members

The new topic on the format of Windows file paths cross-references new Path APIs in several places, but these remain undocumented.

[2018-07-02 17:54] gosali opened #6267 "In the variance section about output unsafe I think the last line needs to be corrected."
@footstep002 commented on [Sun Jul 01 2018](https://github.com/dotnet/docs.ko-kr/issues/56)

Maybe I'm wrong but this
Xi is contravariant or invariant and Ai is input-safe.
needs to be changed to 'Ai is input-unsafe'.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 2460f23d-9f92-866c-b814-920997233e6b
* Version Independent ID: 344fa873-bf0c-1c15-cac4-f262ad

[2018-07-02 18:25] rpetrusha commented on #6258
Thanks for pointing this out, @jinek. This is probably a legacy code example that was written before the guidance that ApplicationException not be caught was issued. I'm especially thankful for your opening this issue, since it led me back to #4870, where I wrote that I'd provide you with guidance for getting started. I failed to do that, and I apologize. I'll add some comments to the original iss

[2018-07-02 18:25] #6258 closed

[2018-07-02 18:31] rpetrusha commented on #4870
To address the issue of incorrect exception handling:
1. Work in the [dotnet/samples](http://github.com/dotnet/samples) repo.
2. Find the line of code that handles **Exception**, **ApplicationException**, or **SystemException**.
3. Identify the methods in the **try** block that are candidates for throwing an exception, and replace that particular **catch** statement with one or more **catch** stat

[2018-07-02 18:42] amp64 opened #6269 "Constructor?"
How do you create one of these? There appears to be no constructor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a37b1cdf-f950-ea67-7a0e-6862ed8f7583
* Version Independent ID: 8641e577-e65f-74e5-f20a-532141e80bec
* Content: [ExceptionRoutedEventArgs Class (System.Windows)](https://docs.microsoft.com/en-us/dotnet/api/

[2018-07-02 19:05] rpetrusha commented on #4870
The following are some of the samples that catch **Exception**. These are all C# examples. In most cases, there is a parallel Visual Basic example in the corresponding snippets\visualbasic directory, and there is sometimes an example in the corresponding snippets\cpp directory.

- [ ] snippets\csharp\VS_Snippets_CLR\AccessControl.FileSystemAuditRule\cs\sample.cs
- [ ] snippets\csharp\VS_Snippets_C

[2018-07-02 19:14] jinek commented on #6258
Thanks! I'm still in. Don't apologize, take your time.

[2018-07-02 19:30] #4854 closed

[2018-07-02 19:31] #5206 closed

[2018-07-02 19:35] rpetrusha opened #6270 "Remove or replace catch blocks that handle ApplicationException"
# Remove or replace catch blocks that handle ApplicationException

See #4870 on the use of **Exception** in **catch** blocks.

The handling of **ApplicationException** is particularly widespread in legacy code (that is, examples written for .NET Framework 1.0, 1.1, and 2.0 that have not been revised subsequently). The problems are:
- Exception handling with **ApplicationException** may be used whe

[2018-07-02 19:39] rpetrusha commented on #6270
The following are C# code examples that handle **ApplicationException**. In almost call cases, there is a parallel Visual Basic example in the corresponding *snippets/visualbasic* directory, and in some cases, there is a parallel C++ example in the corresponding *snippets/cpp* directory.

- [ ] snippets\csharp\VS_Snippets_CFX\CFX_CompensationExample\cs\Program.cs
- [ ] snippets\csharp\VS_Snippets_

[2018-07-02 19:52] rpetrusha opened #6271 "Remove or replace catch blocks that handle SystemException"
# Remove or replace catch blocks that handle SystemException

See #4870 on the use of **Exception** in **catch** blocks.
See #6270** on the use of **ApplicationException** in **catch** blocks.

The handling of **SystemException** is particularly widespread in legacy code (that is, examples written for .NET Framework 1.0, 1.1, and 2.0 that have not been revised subsequently). The problems are:
- Ex

[2018-07-02 19:54] rpetrusha commented on #6271
The following are C# code examples that handle **SystemException**. In almost all cases, there is a parallel Visual Basic example in the corresponding *snippets/visualbasic* directory, and in some cases, there is a parallel C++ example in the corresponding *snippets/cpp* directory.

- [ ] snippets\csharp\VS_Snippets_CLR\Process_GetProcessesByName2_2\CS\process_getprocessesbyname2_2.cs
- [ ] snippe

[2018-07-02 19:57] BillWagner commented on #4835
Fixed in #5837

[2018-07-02 19:57] #4835 closed

[2018-07-02 20:10] JuanMejiaVelez opened #6272 "Samples"
This documentation should deserve a sample or a link to a related article that contains it but on its own section of sample. documentation with no sample are really hard to adopt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3239bb41-1ef3-f64b-4a45-1ae747a96643
* Version Independent ID: 3b725311-f6b1-5321-be79-f46ff0

[2018-07-02 20:18] rpetrusha commented on #6272
Thanks for pointing out the absence of an example where one is needed, @JuanMejiaVelez. We've added it to our backlog.

[2018-07-02 20:32] BillWagner commented on #6267
@gosali @footstep002  The spec document is correct.

This is a complicated area. When you pass a delegate argument to a method, a delegate that produces a value will be used as an input. Whereas when a delegate argument takes an input value, that value is output by the method where the delegate is used.

[2018-07-02 20:32] #6267 closed

[2018-07-02 20:33] rpetrusha commented on #6264
@ike86, thanks for your feedback. The previous sentence indicates that if an argument to a method or constructor is dynamic, the result is dynamic. This sentence lists the two exceptions to that rule.  We will revise the topic to clarify this.

[2018-07-02 20:48] mfstanton opened #6275 "PDF File"
PDF File at bottom of index is empty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4a58f3-ed4f-7010-7270-a7dd22f5f644
* Version Independent ID: adecf697-56ae-f2d1-51a6-e00cc351aeff
* Content: [Getting Started with Graphics Programming](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/getting-start

[2018-07-02 20:51] rpetrusha commented on #6256
Thanks for pointing out the difficulty of using this example, @kbridge. We've added it to our backlog.

[2018-07-02 20:54] rpetrusha commented on #6255
Thanks for pointing out the need for a code example, @skst. We've placed this issue in our backlog.

[2018-07-02 20:54] mairaw commented on #6275
So you're saying that if you click on https://docs.microsoft.com/en-us/dotnet/opbuildpdf/framework/winforms/advanced/toc.pdf?branch=live, the PDF is empty for you?

[2018-07-02 20:57] pkulikov commented on #6254
@manoharreddyporeddy thanks for catching and reporting it.

[2018-07-02 21:06] mfstanton commented on #6275
Yes, it is zero length, PDF Squawks

From: Maira Wenzel [mailto:notifications@github.com]
Sent: Monday, July 02, 2018 3:55 PM
To: dotnet/docs
Cc: mfstanton; Author
Subject: Re: [dotnet/docs] PDF File (#6275)

So you're saying that if you click on https://docs.microsoft.com/en-us/dotnet/opbuildpdf/framework/winforms/advanced/toc.pdf?branch=live, the PDF is empty for you?
—
You are receiving this be

[2018-07-02 21:32] #6254 closed

[2018-07-02 21:33] #5682 closed

[2018-07-02 21:48] jkotas opened #6277 "Document `EnvironmentVariableTarget.User` and `EnvironmentVariableTarget.Process` on Unix"
`EnvironmentVariableTarget.User` and `EnvironmentVariableTarget.Process` options are no-op on Unix. We should add a note about this to the documentation. More details in https://github.com/dotnet/corefx/issues/20147#issuecomment-303482739

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e06179fc-764c-c3d4-d3f2-06c67dc5e3

[2018-07-02 21:48] mairaw commented on #6275
can you give more information about which browser you're using, etc.? I can't repro this issue:
![image](https://user-images.githubusercontent.com/12971179/42188000-00996d8e-7e07-11e8-908d-7b04c883b227.png)

[2018-07-02 21:50] #6264 closed

[2018-07-02 23:19] mfstanton commented on #6275
IE 11  is what I am using I have had this problem in the past with other pages that have a PDF. The way it was explained to me was that the PDF was zero length because of a bug in the utility that creates the file.  I just click on the link at the bottom of the page and get the error.

https://opdhsblobprod03.blob.core.windows.net/contents/9e91aaced6794685851e249147f1956e/575ef3b06ad248c487294f70c

[2018-07-02 23:52] JRAlexander commented on #6226
The ENTRYPOINT allows you to configure a container that will run as an executable. In this case, we want to run hello.dll in the container, so we specify that in the ENTRYPOINT. The current dockerfile is correct.

[2018-07-02 23:56] #6226 closed

[2018-07-03 00:12] rpetrusha commented on #6224
Thanks for submitting your feedback, @Guesswho3mar.  I'm not sure what you mean, however, by the local file of the example code, nor is it clear to me what has generated the output that you've included. VARIANT is a COM type, not a managed type,

The following example shows that the documentation is correct:
[code]
I'm going to close this issue. If you disagree or have additional information you'd

[2018-07-03 00:12] #6224 closed

[2018-07-03 00:31] DalSoft opened #6280 "My package makes calling a REST Service trivial."
DalSoft RestClient
https://github.com/DalSoft/DalSoft.RestClient
is battle tested lightweight wrapper around HttpClient that is purpose built to give you beautiful and testable code.

The above example using DalSoft RestClient:

dynamic restClient = new RestClient("https://api.github.com");

List&lt;Repository&gt; repos = await restClient.orgs.dotnet.repos
                .Headers(new { UserAgent

[2018-07-03 00:35] mairaw commented on #6275
I can't reproduce this issue either on IE or Chrome, on the .NET content where you posted this initially or any of the other links you posted.

If you're still having issues, I'll ask you to open a new issue at the https://github.com/microsoftdocs/feedback repo. There, someone from the engineering team will be able to follow up with you.

[2018-07-03 00:35] #6275 closed

[2018-07-03 00:44] smeddows opened #6281 "What to use instead of this?"
If this API is obsolete, what is the recommended API to use now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df6f7570-27ff-1c10-cb99-bcefd30091ba
* Version Independent ID: d7efb67f-ca78-e1a4-5eb2-64225eee2d92
* Content: [Path.InvalidPathChars Field (System.IO)](https://docs.microsoft.com/en-us/dotnet/api/system.io.p

[2018-07-03 00:50] mairaw commented on #6281
The obsolete attribute on the page and also the topic https://docs.microsoft.com/en-us/dotnet/framework/whats-new/obsolete-members indicate what should be used.
![image](https://user-images.githubusercontent.com/12971179/42192857-58fbb202-7e20-11e8-97a0-31ee5792d18f.png)

Please use Path.GetInvalidPathChars or Path.GetInvalidFileNameChars instead.

We can probably add that information to the remar

[2018-07-03 00:57] rpetrusha commented on #6269
There's no public constructor, @amp64; ILDasm shows that the constructor is internal. A ExceptionRoutedEventHandler instance is created by WPF and passed to an event, such as Image.ImageFailed.
I'm going to close this issue. If you disagree, please feel free to respond.

[2018-07-03 00:57] #6269 closed

[2018-07-03 01:01] rpetrusha commented on #6252
We're pleased that you found that the topic worked, @CloudOS.

[2018-07-03 01:01] #6252 closed

[2018-07-03 01:32] smeddows commented on #6281
I looked everywhere and didn't see it!  Thanks so much.

On Mon, Jul 2, 2018 at 5:50 PM Maira Wenzel <notifications@github.com>
wrote:

[2018-07-03 02:10] mairaw commented on #5514
Not sure if I follow your comment @rpetrusha. @Thraka would you like to work on this one?

[2018-07-03 02:32] mairaw commented on #6248
I think we should probably move this to https://github.com/MicrosoftDocs/feedback, no?

Unfortunately, if I wanna find content under a different section, I use Google, such as:
https://www.google.com/search?q=not+site%3Ahttps%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Ffsharp%2F

Now, separating the different Guides into completely different documentation sites would be a major task. We could in

[2018-07-03 03:21] rpetrusha commented on #6180
After looking at your PR, @pkulikov, I think that the conceptual topic in the threading section still has a place. At least we've eliminated the topic count from three to one.

[2018-07-03 03:37] gregveres opened #6284 "this page doesn't provide any useful information"
I came here looking to find out how to migrate a project from .Net 4.6 to .Net 4.7. The page starts off promising by saying that is what it is going to tell me. Then it takes a tangent, talking about migrating your project from an earlier version of Visual Studio but never seems to come back to get to the real point of how to migrate a project to a new version of .Net. If that information is in he

[2018-07-03 07:17] ike86 commented on #6264
Now I can understand it without explanation. Thanks!

[2018-07-03 07:21] mairaw commented on #6264
Great to hear!

[2018-07-03 08:08] ite-klass opened #6285 "Warns that this API is obsolete, but does not provide alternatives"
I guess when this API is obsolete that there are better alternatives.
The warning on being obsolete should point to these, or that/why there are none.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3331b9f-b4df-b76e-fffd-8ff9d327faa2
* Version Independent ID: 74837a55-0389-7547-ee9d-8bd2a28e531d
* Content: [SmtpClient

[2018-07-03 08:18] ite-klass opened #6286 "Example has invalid value warning"
In VS 15.7 the example code will lead to an invalid value warning/error for Enum constraint failure
for the `deliveryMethod` attribute, which has `network` as its value in the example, but should be `Network`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e8aae2-b92f-8913-8865-bc1abc549b90
* Version Independent ID:

[2018-07-03 08:50] psxvoid opened #6288 "It may be not obvious why you are using an expression tree here."
Does it make sense to add a brief explanation/example why you would use expression trees instead of the LINQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e7c92f-899d-506e-dced-ade9245fa231
* Version Independent ID: 0f232a4f-3c75-7736-7c70-c409d3cf5ab5
* Content: [How to: Use Expression Trees to Build Dynamic Queri

[2018-07-03 08:51] jsancho commented on #6284
just like @gregveres I came here to find the appropriate procedure to upgrade a project from 4.6.1 to 4.7.1, since I've had some issues when trying it directly.
Even if the introduction in this document seems to be describing the scenario that I'm looking for, it does not seem to actually provide much that I can use.

[2018-07-03 10:09] bilbothebaggins opened #6289 "Misleading example. Should likely read LoanLib.tlb, not LoanLib.dll"
I would expect the example here to read
""
The following command produces the Loanlib.dll assembly in the Loanlib namespace.
`tlbimp Loanlib.TLB`
""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7b5f24b-8103-6762-cd1d-0978479f3d09
* Version Independent ID: 6ace2c2d-a73b-fbfa-67a7-f35c323aae60
* Content: [How to: Gene

[2018-07-03 11:28] matthew1471 commented on #6234
Not 100% sure but I believe if multiple version of the .NET framework are installed or items which are not present in that version your program can crash at the point the new method/param is attempted to be called which makes for a poorer user experience or difficult to debug. It appears as the .NET releases have increased since 4.0 this is laying the groundwork to replace specifically targeting a

[2018-07-03 12:08] gregveres commented on #6284
I eventually found this page:
https://docs.microsoft.com/en-ca/visualstudio/ide/how-to-target-a-version-of-the-dotnet-framework

it describes what to do, but I was at it for 3 hours last night and I am still at it this morning. I had to restart the process a few times after visual studio did some weird things. Now I am fighting a problem where deploying to azure isn't finding system.net.http for s

[2018-07-03 12:21] AlessHo opened #6290 "How to enable message and trace logging together using circular tracing library?"
I am trying to use circular tracing for MessageLogging as well;
**But:**
If I create a messageLogging listener alone --> 2 files are generated with max size = 20 as it is mentioned in the web.config;
If I create a trace listener alone --> 2 files are generated with max size = 20 as it is mentioned in the web.config;
If I create them together -->  the library does not generate 2 web_Trace files log

[2018-07-03 12:38] jsancho commented on #6284
Thanks for the info, I had done those steps manually but I've been finding issues with binding redirects.
There is also this tool https://marketplace.visualstudio.com/items?itemName=PavelSamokha.TargetFrameworkMigrator#qna

Which with a little patching https://github.com/VHQLabs/TargetFrameworkMigrator/issues/49 should be able to do the job in theory.
It seems to work on the surface, but I am havi

[2018-07-03 13:03] jawn opened #6291 "PowerShell 4.0 support"
The PowerShell example uses Get-ItemPropertyValue which is not supported in all PowerShell versions (e.g. 4.0)

The following code is backwards compatible:

$(Get-ItemProperty -Path "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full") | Select-Object Release

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38

[2018-07-03 13:16] AnthonySee opened #6292 "Typos: Missing '{'"
Please can you fix the typos in the code:
UriTemplate weatherByCity  = new UriTemplate("weather/{state}/{city}");
UriTemplate weatherByCountry = new UriTemplate("weather/{country}/{village}");
UriTemplate weatherByState = new UriTemplate("weather/{state}");

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762199c

[2018-07-03 13:56] d-dizhevsky commented on #6214
@mariaw @BillWagner this can be closed, see ^^

[2018-07-03 14:38] #3404 closed

[2018-07-03 14:56] thitemple opened #6293 "Does adding projects using glob files really works?"
I'm trying to run `dotnet sln add src/**/*.fsproj` and I also tried `dotnet sln add src\**\*.fsproj` and `dotnet sln add **/*.fsproj` and none od those work. I always have an error such as `Could not find project or directory `**\*.fsproj``.
I'm on Win10 using the cli version .NET Command Line Tools (2.1.301)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-07-03 15:01] DavidPrio commented on #6226
Thanks @bjarte and @JRAlexander for your comments.

[2018-07-03 15:23] AndreiRinea opened #6295 "Difference from 'dotnet build'"
When should we use 'dotnet msbuild' as opposed to 'dotnet build'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9083568-6c58-1c1b-0062-10632e61a88d
* Version Independent ID: a1d47471-9482-9f69-f11e-3424e62383f6
* Content: [dotnet msbuild command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotn

[2018-07-03 16:26] brentschmaltz commented on #5321
@BoomerHudson @stamminator @infoberg noted, we haven't produced good docs.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki

This is a start.

Each time I am asked for sample code, I put it here:
https://github.com/brentschmaltz/IdentityModel

[2018-07-03 16:44] loosleef opened #6296 "Clarify 2-letter special guideline for "Id""
This is a very commonly asked question because perhaps legacy conventions recommended `ID` and would be helpful to clarify, even just adding an example in the Pascal/Camel/Not table.

From the current documentation, `id` & `Id` are recommended, but it is not clear when used as only part of an identifier, as was done with the `IOStream` example.

Please add a similar example how `Id` differs from `

[2018-07-03 17:19] stamminator commented on #5321
@brentschmaltz I appreciate the start, and the acknowledgement of the documentation issue. Is there a plan in place for getting proper documentation up to speed in general?

[2018-07-03 17:35] Thraka commented on #5514
I'll take it.

[2018-07-03 17:50] rpetrusha commented on #5986
Thanks for pointing this oiut, @Angr1st. We've addressed it in dotnet/samples#159 and dotnet/dotnet-api-docs#325.

[2018-07-03 18:01] brentschmaltz commented on #5321
@stamminator We are at the planing stage for the doc work.

What would be most helpful for you?

[2018-07-03 18:36] Angr1st commented on #5986
Great thank you for fixing it 👍

[2018-07-03 18:54] rpetrusha commented on #5514
From the comments in [dotnet/corefx](https://github.com/dotnet/corefx/blob/f0ccd9742065ee2aa296448fe3dd38ef6ff77af9/src/System.Private.Uri/src/System/GenericUriParser.cs):

[2018-07-03 19:18] rpetrusha commented on #6286
Thanks for bringing this to our attention, @ite-klass. @davidsh, can you confirm that the value of the `deliveryMethod` attribute should be `Network` rather than `network`?

[2018-07-03 19:28] #6040 closed

[2018-07-03 19:31] rpetrusha commented on #6214
Thanks for letting us know, @d-dizhevsky.

[2018-07-03 19:31] #6214 closed

[2018-07-03 20:09] BillWagner commented on #4836
[This sample](https://github.com/dotnet/roslyn/wiki/Getting-Started-Writing-a-Custom-Analyzer-&-Code-Fix) provides the best source material.

[2018-07-03 20:16] BillWagner opened #6298 "Migrate Code Aware Library Roslyn Analyzer tutorial from visualstudio-docs"
[this tutorial](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays.md) provides great guidance for building an analyzer and code fix for an associated library.

It should move under the Roslyn-sdk node in the C# guide.

After migrating it, we need to work with the vs docs team to configure redirects.

Migrat

[2018-07-03 20:48] jenstMS commented on #6121
After this exchange and reading the full documentation page a few more times, I can say that yes - the full description is there, but the layout of the topic makes it difficult to suss out all the information.

The topic is very long, and although there's quite a few examples, the difference between them is not obvious from a quick glance. There's a lot of mixing between the explanations and the e

[2018-07-03 21:07] gosali opened #6300 "array argument 변경"
@OldRabbit736 commented on [Tue Jul 03 2018](https://github.com/dotnet/docs.ko-kr/issues/57)

params parameter를 받는 함수로 전달된 array argument의 내용은,
함수 내에서 수정 가능하다는 점을 주의점으로 추가하면 좋을 것 같습니다.

위의 예에서,
UseParams 함수 내에 list[0] = 50; 등의 내용이 있을 경우,
myIntArray가 UseParams에 인수로 사용된 후
myIntArray[0] 의 값이 50으로 변경이 될 것입니다.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: dbdb

[2018-07-03 21:09] gosali commented on #6300
**Back Translation:** The contents of the array argument passed to the function that receives the params parameter,
It would be nice to add as a reminder that you can modify it in your function.

In the above example,
Within the UseParams function, list [0] = 50; If there is content such as,
After myIntArray is used as an argument to UseParams
The value of myIntArray [0] will change to 50.

[2018-07-03 21:29] rpetrusha commented on #6286
Thanks, @davidsh. I assume that the casing applies as well to SpecifiedPickupDirectory and PickupDirectoryFromIis, both of which are therefore also incorrect. I'll submit a PR to correct these shortly.

[2018-07-03 22:32] rpetrusha commented on #6262
Thanks for submitting this issue, @Rolschge. Unicode combining characters are considered in the comparison. If you call StartsWith to determine if "\u0061\u0308" starts with "\u00e4", the result is true for the invariant culture and for the current culture (at least when the current culture is en-US).  For culture-sensitive comparisons, the runtime does some string normalization before performing

[2018-07-03 23:07] tarekgh commented on #6262
The string "\u0061\u0308" string is the characters a and  ̈  which will be equivalent to the "ä"

"\u0061\u0308".StartsWith("\u0061", StringComparison.InvariantCulture) is false becaue the string "ä" doesn't start with "a" ligustically "ä" and "a" are different characters.

while

"\u0061\u0308".Substring(0,"\u0061".Length)

while return "\u0061" which is "a" and "a".StartsWith("a") is true.

This

[2018-07-03 23:16] burnchar opened #6302 "Missing from .NET Core 2.1 documentation"
System.IO.Ports should be in .NET Core 2.1 if it is in 2.0, but documentation is missing when one selects 2.1 as their version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa765d00-19f8-74e4-4be1-1d7f1e7dc6ce
* Version Independent ID: 260749e3-69c6-a370-89b0-4f90d944fac7
* Content: [SerialPort Class (System.IO.Ports

[2018-07-03 23:20] burnchar opened #6303 "System.IO.Ports.SerialPort defaults are undocumented"
The documentation might mention defaults for various serial port parameters. For example, if handshake is unspecified as is true in various constructors, what value does it assume?
I found defaults in the source code starting here:
https://github.com/Microsoft/referencesource/blob/master/System/sys/system/IO/ports/SerialPort.cs#L43

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-07-04 00:59] #2880 closed

[2018-07-04 02:55] bobrundle opened #6305 "Where is the 3rd edition?"
Yes, the guidelines are great, but they are nearly a decade old.  Has software plateaued?  Has nothing changed in 10 years such that a 3rd edition is unnecessary?  I have a tattered old copy of the 2nd edition and every time I picked it up it feels like I need to be wearing those gloves that people use in the antique book vault.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-07-04 03:00] markleebrian opened #6306 "error in samples/csharp/getting-started/console-webapiclient/Program.cs"
Tutorial says "Replace the call to GetStringAsync(String) in your ProcessRepositories method with the following two lines:" but it's still in the sample 'Program.cs' file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b-e60b-5433-7b4b-efc8259908f0
*

[2018-07-04 05:10] Mike-E-angelo opened #6307 "CardSpace"
To start, this is an amazing article that does quite a superb job to explain this very complex topic.  I wish I would have encountered this article sooner when confronted with federation back in the day.  Excellent use of diagrams as well.

However, it does appear a bit dated.  It makes use of CardSpace, which it would seem (according to Wikipedia) was effectively sunset when 2.0 was not shipped i

[2018-07-04 05:35] user135711 opened #6308 "Unnecessary control flow in sample"
These four lines should just be one:
                                                  if (lowest &lt; state.LowestBreakIteration)
                                                     lowest = state.LowestBreakIteration;
                                                  else
                                                     lowest = state.LowestBreakIteration;
It should just be "lowest=state.Lo

[2018-07-04 05:44] user135711 opened #6309 "Parallel.invoke was never called."
The document states:

The example then shows code which is run using Task.run(). Perhaps the wrong code sample may have been inserted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea40c21f-796f-6da7-31bd-7d02e2e2783a
* Version Independent ID: 60d524b9-87df-e6fc-9cf8-983528add287
* Content: [How to: Write Messages to

[2018-07-04 07:21] Rolschge commented on #6262
Thanks for the details on linguistic operations vs non-linguistic operations.
Maybe this could be emphasized in the docs.

A shorter example on this topic:
`> "\u0062\u0308".Contains("\u0062")`
`true`
`> "\u0062\u0308".IndexOf("\u0062")`
`-1`

[2018-07-04 07:31] OliverRC opened #6311 "Nuget Packages"
We have compiled the source and are using it but not having Nuget references is quite a pain because the new project nuget packaging relies on package references for dependencies and not external assemblies.

It seems pretty straightforward for you to ship Nuget packages so please can we get packages for HealthChecks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-07-04 09:25] ite-klass opened #6312 "Unclear differentiation between myApp.config copy property and auto-copy of App.config"
The two paragraphs do not make it clear what the intended workflow is.

If Visual Studio automatically copies a "source configuration file" to the output directory, then when should the config file property set to copy always or copy if newer? Is the "source configuration file" something different than the myApp.config file?

The paragraphs in question:

&gt;  When you develop in Visual Studio, pl

[2018-07-04 09:30] ite-klass opened #6313 "No mention of `App.config`, unclear intended workflow"
When creating a new C# project in Visual Studio, it will create an `App.config` file. Visual Studio automatically copies this to the output directory with adequate name `myApp.exe.config`.

This documentation does not mention the `App.config` file, not as a default, nor as a possible alternative.

Instead, it talks about `myApp.exe.config`, even explicitly saying that the file should be named `myA

[2018-07-04 10:07] KSS-thompsona2 opened #6314 "Clarification"
I would like to find a row in a DataView via a composite key where one of the values is null.  For instance:
dataView.Sort = "NullableColumn1, NullableColumn2";
var found = dataView.Find(new object[]{1, null})).

Would I be correct in thinking that this is not possible?

When I try this I an ArgumentException is thrown: "Expecting 2 value(s) for the key being indexed, but received 1 value(s)."

--

[2018-07-04 11:18] AlessHo commented on #6290
I discovered that for message log file: some messages length is bigger then 20 KB, that's why message logging file became bigger then 20, after that the other file logs the data as it is expected;
What about tracing log file? Why the library did not create another file after the max size was overpassed?

[2018-07-04 12:53] mjimji opened #6315 "Spelling error"
In the sentence under the heading 'Contains(PrincipalContext, IdentityType, String)' identity is spelt incorrectly. Twice. indentityType/idendityValue

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63fb21ce-d5de-4c8f-2acf-0fd28beebc0b
* Version Independent ID: 7f7c41f6-de72-1781-eb95-ec43ceb72939
* Content: [PrincipalC

[2018-07-04 14:10] CShepartd commented on #6305
Agree. We need 3rd edition, specially for .Net Core (and ASP.NET Core)

[2018-07-04 16:05] lisberPontes commented on #6311
Same opinion as OliverRC, why not shipping this lib as NuGet(s) package(s)?

Any roadmap/date planned for this library to be available as a NuGet ?

[2018-07-04 16:08] stamminator commented on #5321
@brentschmaltz Well I only have my anecdotal example — I don't know what's being asked for in general — but I would say anything related to working with JWTs in a future-proof way. My use case was trying to encrypt a JWT using `System.IdentityModel.Tokens.Jwt`. The only [solution ](https://stackoverflow.com/a/44195678/4028303) I could find is not workable (as far as I know) for .NET Core, so when

[2018-07-04 17:16] tarekgh commented on #6262
@Rolschge

We have the documentation of StringComparison which talk about the different options can be used when performing the operations on the string with some examples.

https://docs.microsoft.com/en-us/dotnet/api/system.stringcomparison?view=netframework-4.7.1

I don't mind adding more specific examples as you pointed out. I'll let @rpetrusha handle that.

[2018-07-04 18:57] JohnTortugo commented on #5064
ping

[2018-07-04 19:53] jpeg729 opened #6317 "type or namespace Xunit not found"
I'm running a fresh install of dotnet sdk 2.1.301 on ubuntu 18.04
I ran "dotnet new xunit" and got the test files described, however I am getting the error CS0246: The type or namespace name 'Xunit' could not be found (are you missing a using directive or an assembly reference?)

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-04 19:57] jpeg729 commented on #6317
If I run "dotnet add package xUnit" in the root folder of my project, then it works.

[2018-07-04 20:49] gosali opened #6319 "錨點$問題"
@yuyueh commented on [Wed Jul 04 2018](https://github.com/dotnet/docs.zh-tw/issues/179)

錨點"$"說明中， "-333-333-" 中的結果不應該為"-333"。

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 16d4698e-4220-c422-a554-8a481803d240
* Version Independent ID: f0e3b82a-8d81-ad9e-97fc-efb92f7d0d38
* Content: [規則運算式語言 - 快速參考](https://docs.microsoft.com/zh-tw/dotnet/standard/base-types/regula

[2018-07-04 20:49] gosali commented on #6319
Translation: In the anchor "$" description, the result in "-333-333-" should not be "-333".

[2018-07-04 20:56] gosali opened #6320 "逸出字元"\S"問題詢問"
@yuyueh commented on [Wed Jul 04 2018](https://github.com/dotnet/docs.zh-tw/issues/178)

您好。本頁介紹中提到的逸出字元"\S"，最後"int _ctr"符合的結果應為" _"而非" "。

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 16d4698e-4220-c422-a554-8a481803d240
* Version Independent ID: f0e3b82a-8d81-ad9e-97fc-efb92f7d0d38
* Content: [規則運算式語言 - 快速參考](https://docs.microsoft.com/zh-tw/dotnet/standard/base-

[2018-07-04 20:56] gosali commented on #6320
Translation: Hello. The escape character "\S" mentioned in the introduction to this page, and finally "int _ctr" should match the result "_" instead of " ".

[2018-07-04 21:31] davidsh commented on #4675
The difference between SchUseStrongCrypto and SystemDefaultTlsVersions is subtle.  Both of them will indeed add Tls1.1 and Tls1.2 to the set of possible protocols.  And doing so implies that the strongest protocol (in this case Tls1.2) would be offered first to a server.  Assuming the server supported Tls1.2, the end result would be Tls1.2.

The difference between those two registry entries is as

[2018-07-04 21:35] infoberg commented on #5321
@brentschmaltz I would love to see samples and in-depth documentation on JWE

[2018-07-04 21:37] davidsh commented on #6112
Yes.  Using `scriptLocation` implies that all logic for mapping a destination URI to a proxy server is handled by the JavaScript method in the PAC file pointed to by `scriptLocation`.  That includes whether or not a proxy might be bypassed if the destination URI is considered as 'local'.

[2018-07-04 23:30] kkm000 commented on #6234
@matthew1471, Thanks for sharing your thoughts. There are two interesting facts to keep in mind.

First, when you say “if multiple versions of the .NET framework are installed,” are you speaking of e. g. .NET v2.0 and 4.0, or e.g. v4.0, 4.5 and 4.7.1? The latter is not possible, as all 4.x upgrades are replacements of the previous framework files. There are two directories on the machine, one per

[2018-07-05 00:13] markleebrian opened #6321 "wrong variable used in sample code"
In section 'Inheritance and an "is a" relationship' the sample code repeats variable make from previous if statement, should be variable model in else if line:

        if (model == null)
           throw new ArgumentNullException("The model cannot be null.");
        else if (String.IsNullOrWhiteSpace(make))
           throw new ArgumentException("model cannot be an empty string or have space cha

[2018-07-05 04:40] brentschmaltz commented on #5321
@stamminator @infoberg I am heading out for a week on vacation. I looked at the SO above, we can do better than that.
If you open an issue asking for a samples for different flavors of JWE (dir, keywrap, ect) we will get it done for 5.2.5 currently slated for Aug 10th.

[2018-07-05 06:56] Rolschge commented on #6262
Thanks.

[2018-07-05 06:56] #6262 closed

[2018-07-05 09:41] J0rgeSerran0 commented on #6291
I think that you should to use a newer version.
I'm using the 5.1 version of PowerShell without troubles and it's working properly.
I will add a PowerShell script in my repo to get this information, and it's running ok.

[2018-07-05 10:06] jawn commented on #6291
Sure, I am using a newer version.

However, other people may want to follow the procedure and it's perfectly possible to have systems with .NET 4.5 or higher but without a PowerShell 5.0.

[2018-07-05 10:37] J0rgeSerran0 commented on #6291
Well, that is a possibility, however my personal recommendation is to install PowerShell 5.x.

[2018-07-05 12:20] svick commented on #6272
What exactly would you expect from that sample? The Remarks section already shows you how to use the method: `await Task.Yield();`. I'm not sure how a longer example would help here.

[2018-07-05 12:36] #6292 closed

[2018-07-05 13:00] imba-tjd commented on #6320
This is not a source. It has been fixed in zh-TW repository, but only not been released yet.

[2018-07-05 13:05] imba-tjd commented on #6319
This one is also not a source issue...

[2018-07-05 13:09] zoehart opened #6323 "Lacking information on SQL Server setup to support SqlChangeMonitor"
Use of SqlChangeMonitor requires specific set up in SQL Server, but this SqlChangeMonitor page makes no mention of that dependency and does not point to documentation explaining the necessary steps. I have so far been unable to find such documentation, relying instead on aggregating information from posts of other peoples attempts, successful and otherwise.

---
#### Document Details

⚠ *Do not ed

[2018-07-05 13:40] svick commented on #6188
This issue originally said:

And it was linking to [How to: Implement Custom Event Accessors (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/events/how-to-implement-custom-event-accessors).

@MorganKauppi I agree the example is bad. Not just because `PreDrawEvent` could be `null`, but also because locking like this can never work, because the `PreDrawEvent`

[2018-07-05 13:52] stamminator commented on #5321
@brentschmaltz Thanks for your hard work. Enjoy vacation!

[2018-07-05 14:34] JRAlexander commented on #6302
Thanks, @burnchar, for letting us know! We'll investigate and get it corrected.

[2018-07-05 14:34] JRAlexander commented on #6302
Didn't mean to close.

[2018-07-05 14:49] coolzsunil commented on #4675
@davidsh The move to use SystemDefaultTlsVersions is not comprehensive. An application has a single config file. And if we set the application config to use System default, it will fail on Windows 7 and Windows 2008R2, where TLS 1.0 is the default protocol.
This makes it difficult to support multiple operating system using a single config file.

Also, do you know whether the support for SystemDefa

[2018-07-05 15:09] johnnyagerard opened #6325 "First example (ArrayClass)"
This line does not compile:
arr = (arr.Reverse()).ToArray();
I could write "Array.Reverse(arr);" instead but then the array is modified even outside the method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a887e08e-64e4-9169-42b3-1cdbf829316f
* Version Independent ID: 0d58869d-c6a9-8a7b-d345-df56b0873ca6
* Content: [

[2018-07-05 15:34] #6289 closed

[2018-07-05 15:35] #6161 closed

[2018-07-05 15:37] #6286 closed

[2018-07-05 15:41] #5986 closed

[2018-07-05 15:41] DavidPrio commented on #6227
Hi @svick and @mairaw Thakns for closing this. It seems I created it by mistake. Sorry for the inconvenience this may have caused.

[2018-07-05 16:09] rpetrusha opened #6329 "Update return value sections that currently read, "Returns a \<type>.""
# Update return value sections that currently read, "Returns a \<type>."

The documentation build system automatically provides the return type of a method in the API reference; the **Returns** description is intended to provide information about the value returned. For example:

![image](https://user-images.githubusercontent.com/10886961/42334076-434a5608-8031-11e8-8c5c-d590ef1da929.png)

See dot

[2018-07-05 16:20] iant-travelopia opened #6331 "ISO Date format"
It would be nice to have the example use ISO date format, as that's the typical format used for machine-readable documents (which are where I'm most likely to want to use ParseExact over Parse).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d038b8f2-da8c-c2c0-0aa4-82e154bdc11c
* Version Independent ID: 0caa87d8-3a40-8

[2018-07-05 16:23] davidsh commented on #4675
SystemDefaultTlsVersions is only supported in .NET 4.7 and above.

[2018-07-05 17:04] johnnyagerard opened #6332 "wrong folder"
Here is the current path where VsDevCmd.bat is located.
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91bc630b-9e6d-3015-a110-f15311e6924f
* Version Independent ID: 658594e6-77cb-e41c-3307-bb0a4e6224e1
* Content: [How to: Set Environment Varia

[2018-07-05 17:21] douglaslMS commented on #6217
@peteratvektis Thank you for bringing this to our attention. To fix the inconsistency that you identified, we revised the erroneous Note. I am going to close this issue as resolved, but let us know if you have any comments.

[2018-07-05 17:21] #6217 closed

[2018-07-05 17:50] douglaslMS commented on #6217
@peteratvektis I realized that the updated page is not yet live at this moment (Thursday morning, 7/5/2018). It will be published later today.

[2018-07-05 18:43] #6188 closed

[2018-07-05 18:58] douglaslMS commented on #6314
@KSS-thompsona2 Please test with DbNull.Value in place of "null" in the Find method, and let me know whether that works for you.

[2018-07-05 21:19] #5523 closed

[2018-07-05 21:53] rpetrusha commented on #6332
Isn't that the path that the documentation lists, @johnnyagerard? It provides two possible paths:

-  \Program Files\Microsoft Visual Studio\Version\Offering\Common7\Tools
- \Program Files (x86)\Microsoft Visual Studio\Version\Offering\Common7\Tools

Version here is 2017, and offering in your case is Community. So \Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools.

I'll clo

[2018-07-05 21:53] #6332 closed

[2018-07-05 22:19] rpetrusha commented on #6325
Thanks for pointing this out, @johnnyagerard.

Aside from the fact that the code doesn't compile because Array.Reverse is a static method that takes an array as an argument, it also confuses the difference between passing reference types and value types by value. Array.Reverse does indeed reverse the elements of the array when the method returns because an array is a reference type.

We'll update

[2018-07-05 22:33] larochka opened #6334 "WordCount() or CountWords() - Noun vs Verb phrase in naming of methods"
Are there any special naming conventions for extension methods? I couldn't find anything.

Just wondering if the WordCount() should be renamed to CountWords() in this case?

WordCount() is a noun phrase
CountWords() is a verb phrase

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62fe7c8c-e072-dff8-1ee8-3aa13f75

[2018-07-05 22:33] HankiDesign opened #6335 "Incorrect rendering of an escaped pipe character inside a code block on a table"
In the [Expressions](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#expressions) section, there's a table of C# operators with a rendering issue related to escaping the pipe character with a backslash.

<img width="687" alt="Incorrect pipe character rendering inside a table on Docs" src="https://user-images.githubusercontent.com/1816448/423507

[2018-07-05 22:55] sfilipi opened #6337 "Question about the path property."
Is the path to the documentation relative to the source file? Can the path use csproj or solution variables, something like $(SolutionDir)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8d418e3-b648-587e-155d-843ffb48b025
* Version Independent ID: 606a07e0-da13-f58f-4e64-be634479a55d
* Content: [&lt;include&gt; (C# P

[2018-07-05 23:09] rpetrusha commented on #6319
@nokura, this issue was moved from dotnet/docs.zh-tw#179, but this is a localization issue.

Closing here as Not Repro.

[2018-07-05 23:09] #6319 closed

[2018-07-05 23:13] rpetrusha commented on #6320
This was a localization issue that's been fixed. Closing.

[2018-07-05 23:13] #6320 closed

[2018-07-05 23:20] Ttxman opened #6338 "some documentation would be nice"
what does length stands for in this case? (i'm going to read source code...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54fc2a5d-b460-3579-46f2-8ea7e964be79
* Version Independent ID: 1a7f2054-8134-3dd3-550b-50094bbef749
* Content: [MemoryMarshal.CreateSpan(T, Int32) Method (System.Runtime.InteropServices)](https://

[2018-07-06 00:16] johnmott59 opened #6341 "Chief Developer, meshola.com"
It would be helpful to have an enumeration or table that lists the values that the type can have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e68afc72-d149-adaa-5573-6f6989899f89
* Version Independent ID: 03fc3996-e05d-3fae-9471-9c8cd33641d0
* Content: [PathData.Types Property (System.Drawing.Drawing2D)](https://doc

[2018-07-06 00:54] BillWagner commented on #5786
Fixed in dotnet/dotnet-api-docs#329

[2018-07-06 00:54] #5786 closed

[2018-07-06 02:00] solidcloudio commented on #6295
I ran into an issue where a build dependency loaded a Custom Assembly with a Custom Build Task in a .dll  This .dll depended on .net 4.0.  Using "dotnet build"  the build would fail to load System 4.0.0.

Using msbuild works, so I'd assume dotnet msbuild would work the same as MsBuild.

https://github.com/dotnet/standard/issues/328
https://github.com/Azure/azure-functions-vs-build-sdk/issues/160

[2018-07-06 06:22] scsfdev commented on #5419
2 months later, still no update on this documentation.
I also wonder around to look for the table till I see TanielianVB comment and notice old page still have the table for the details explanation.

[2018-07-06 12:02] johnnyagerard opened #6343 "remarks"
The override method ToString() could just return 'Name' instead of 'Name.ToString' as the name property is a string.
Furthermore, this line:
Console.WriteLine(person2.ToString());
could be written as:
Console.WriteLine(person2);
because the ToString method is called by the WriteLine method if I'm correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-07-06 13:17] RobBittner opened #6345 "Root returns uppercase in Windows 10"
Not sure if it does everywhere, but in Windows 10, root returns C:\, etc... not c:\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17ddac9d-69ae-e5fa-285b-e4a14fd33cec
* Version Independent ID: e6073fc8-fd8c-9f7e-f9eb-defe3a7a8a4f
* Content: [DirectoryInfo.Root Property (System.IO)](https://docs.microsoft.com/en-us/dot

[2018-07-06 15:24] Narvey opened #6349 "Format string has to be 1 character"
It doesn't really call it out here very well, but the format string is not like String.Format() strings in that it can only be 1 character. I'd recommend changing "The format parameter can contain..." to "The format parameter must be one of the predefined options..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4383

[2018-07-06 16:05] MemoRodz opened #6350 "ES: Cómo se hace con código C#? EN: How is it done with C # code?"
ES: En Winform, se puede modificar un DataGridView desde código C# pero no he podido hacer lo mismo con un DataGrid en un proyecto WPF desde código C#. ¿Cómo poder hacerlo?

EN: In Winform, you can modify a DataGridView from C # code but I could not do the same with a DataGrid in a WPF project from C # code. How can I do it?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-07-06 17:23] zackasattackas opened #6351 "Hyperlink to article on boxing / unboxing"
Paragraph 4 of this article discusses how value types are boxed/unboxed when casting to a reference type. I thought it might be helpful to include a link to this article: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/boxing-and-unboxing. I had to reference it just to get a thorough explanation of what "boxing" meant, so I thought it might be helpful to other readers as wel

[2018-07-06 19:03] NiksNT commented on #6110
Hello i need help. I don't know if i got a virus but that pop up is annoying me. And it keeps on opening ads on my main browser. I would like to know how to fix this. thanks!

[2018-07-06 19:05] NiksNT commented on #6110
And when i download that thing my Laptop restarts and the sceen is black. But when i take out the battery and put it back in everything works fine but the thing keeps poping up again.

[2018-07-06 19:17] JRAlexander commented on #6349
Thanks, @Narvey. We've added this to the backlog.

[2018-07-06 20:39] joshfree commented on #4823
@mairaw they've already written the fairly thorough usage guidelines gist above.  What's the next step?

[2018-07-07 01:55] posfr opened #6356 "Typographical error in an instruction"
I think that you should change the console command "dotnet run Hello World" to "dotnet run App Hello World".

The token App is missing before Hello World.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836d726d-1f95-51e7-c5c3-a7200adc5772
* Version Independent ID: 3e9e6e89-7017-7a7c-faea-4c0e76cef442
* Content: [Get st

[2018-07-07 12:46] Igor-Pchelko opened #6358 "Open-Closed principle antipatern."
I really adore MSDN, the quality of articles are top notch. However,  following article full of violation of Open-Closed principle (SOLID).
I can understand that come up with some examples of switch-case violating Open-Close is not a piece of cake, but you can do better to avoid antipatterns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-07 16:12] huanlin opened #6359 "Sample code not very clear with Inferred tuple element names"
In the paragraph begin with this line:
"The names of tuple elements can be inferred from the variables used to initialize the tuple in C# 7.1:"

Followed by sample code:
[code]
The sample code is supposed for C# 7.1, but it can be compiled successfully with C# 7.0. Might be more clear if changed to something like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-07-07 17:07] huanlin commented on #6359
Think again, maybe it's good enough for others to understand the description and sample code.
So I'll close it now.

[2018-07-07 17:07] #6359 closed

[2018-07-07 18:18] johnnyagerard opened #6360 "Example naming rule violation."
jobLength and originalItemID properties should begin with a upper case letter right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81800f-976a-b7a9-e202-5e34fd2c9c67
* Version Independent ID: 801d99f4-b1f5-3e42-ae4e-ba18200577f0
* Content: [Inheritance (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/

[2018-07-07 21:27] JamesKibirige opened #6361 "Are Code Contracts going to be supported in .NET Core going forwards?"
There is inconsistent information out there in regards to what is happening to Code Contracts  in .NET Core going forwards. Currently, the functionality is not working out the box in .NET Core,  I would like to know if Microsoft will be continuing support for Code Contracts in .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-07-07 21:54] #5514 closed

[2018-07-08 12:15] svick commented on #6358
I believe the whole point of pattern matching is that it inverts what is open and what is closed, compared with `virtual` methods:

* With `virtual` methods, the set of types is open, but the set of operations performed on those types is closed.
* With pattern matching, the set of types is closed, but the set of operations performed on them is open.

Because of this, pattern matching will almost a

[2018-07-08 13:29] johnnyagerard opened #6362 "typo"
static``readonly

Is it a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df47593-8586-e54e-fb74-cf3a96262d40
* Version Independent ID: b464cd68-4713-c848-e9a7-30705d17e6f7
* Content: [Fields (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/fields)
* Con

[2018-07-08 18:24] johnnyagerard opened #6364 "first sample"
"The following is an example of an interface indexer accessor:"

It is a property not an indexer right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8e455c-1162-d046-ed70-22dfe96cbbad
* Version Independent ID: 9448a018-a06c-0ae5-049b-c4c424d1df9a
* Content: [Interface Properties (C# Programming Guide)](https://docs

[2018-07-09 01:28] Reza-Noei opened #6366 "Problem in testing the Article source codes"
i was trying to test source codes from this page. but i have got some errors :
"UpArrow", "DownArrow" and "MenuScrollButton" are missing from the source.
so i will face with a runtime error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c51dc5a-f211-6041-191b-e301d24f9b88
* Version Independent ID: 66edb7f3-bcd5-a631-

[2018-07-09 02:48] crtjr64 opened #6367 "Doesn't work on Views"
I have a view and followed the documentation to the letter so I could have a more user friendly name to the POCO for the view, but I kept getting the table not found error. EF Core 2 Table Attribute doesn't permit explicit use of name in the parameter so for me, for Core 2, this doesn't work. I had to rename the class and its associations in the context to the same long name that's in the database

[2018-07-09 03:07] cartermp commented on #6356
@posfr I'm not sure this should say `dotnet run App Hello World`. In the article, we prompt you to change directory into `/App`, then run from there. This is the directory where the console application lives. The output in the tutorial just lists `Hello` and `World` in it, not `App`. Does this make sense?

[2018-07-09 07:47] Wouterdek opened #6368 "NotifyCollectionChangedAction.Reset doc does not match source code?"
When looking at [the documentation](https://docs.microsoft.com/nl-nl/dotnet/api/system.collections.specialized.notifycollectionchangedaction?view=netframework-4.7.2) for `NotifyCollectionChangedAction.Reset`, I read this:

When looking at [the source code](https://referencesource.microsoft.com/#System/compmod/system/collections/specialized/notifycollectionchangedeventargs.cs) for `NotifyCollection

[2018-07-09 12:15] johnnyagerard opened #6369 "first sample code"
public ref Person GetContactInformation(string fname, string lname);

Where is the body of the property?
Does not look right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6968c8f-19ab-f79f-021a-265108870371
* Version Independent ID: 6b4f1fec-b9d1-f501-1fcf-2c6f15209a29
* Content: [Ref return values and ref locals (C

[2018-07-09 16:13] rishu007 opened #6371 "end point error"
I followed the step given I am not able to host the service reason because I am getting error "end point not specified"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c8cbb16-05b1-a5f2-9031-1d7beb52efea
* Version Independent ID: 98092a9f-c19a-cca9-75d6-75b9c3d4cc0b
* Content: [How to: Host and Run a Basic Windows Comm

[2018-07-09 16:36] lant3rn1969 opened #6373 "Why this guidance?"
Hi folks, up above in the Workloads section, you wrote "However, when TAP methods are exposed publicly from a library, they should be provided only for workloads that involve I/O-bound operations.... If a method is purely compute-bound, it should be exposed only as a synchronous implementation." Why this guidance? Typically, I just make everything async and don't trust the consumer of my APIs to k

[2018-07-09 16:41] Melissa517 opened #6374 "Frameworks"
I am really getting tired of booting up my PC and seeing this popup all the dang time!  I wish it would stop and just leave me alone!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-99c3-8870b895030c
* Version Independent ID: 9c054590-c5e3-199c-b852-e1a856b4aae7
* Content: [Install the .NET Framework

[2018-07-09 16:42] douglaslMS commented on #6314
@KSS-thompsona2 Have you had an opportunity to test the alternate argument we suggested?

[2018-07-09 16:53] rpetrusha commented on #6110
What are you trying to do, @NiksNT? And what is the popup?

[2018-07-09 16:55] #6349 closed

[2018-07-09 17:09] #2902 closed

[2018-07-09 17:09] #5250 closed

[2018-07-09 17:09] #5486 closed

[2018-07-09 17:31] jeffrey-yao opened #6375 "Cannot find example of "background worker thread""
In the doc, you say
"You might want to perform tasks by using background worker threads instead of running all your work on the main thread. For an example of this, see the System.ServiceProcess.ServiceBase reference page."

But I cannot find that example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3b

[2018-07-09 17:50] rpetrusha commented on #6360
Thanks for opening this issue, @johnnyagerard. The variable naming convention here is really a matter of choice. The members are protected, so from the viewpoint of consumers of the type rather than its inheritors, they're not a part of the type's public interface. They're only a part of the public interface for inheritors of the type. The Regex class, for instance, includes a number of [protected

[2018-07-09 17:50] #6360 closed

[2018-07-09 18:01] douglaslMS commented on #6367
@crtjr64 Are you saying that there's a section on this page that provides incorrect guidance? Which attribute did you use that did not have the results you intended?

[2018-07-09 18:06] teunvanhemert opened #6376 "Section: Style data with data templates - mistake?"
I wonder if there isn't a mistake in the final section 'Style data with data templates'
The data templates there seem unnecessary now, and are unused. I wonder if the example shouldn't be something like this:
[code]
Instead of using the DataGridTextColumns. Aside from that it is a very nice tutorial.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen

[2018-07-09 18:36] rpetrusha commented on #6362
Thanks for pointing this out, @johnnyagerard. It's a migration issue. I've corrected in in PR #6378.

Incidentally, you can open PRs to correct issues such as these yourself. Just click the Edit button at the top of the page immediately below the navigation bar on a docs.microsoft.com page. This will take you to the topic in GitHub. You can then edit the topic and open a pull request.

[2018-07-09 18:53] rpetrusha commented on #6374
What is the popup you're seeing, @Melissa517? You might want to take a look at [Troubleshooting blocked .NET Framework installations and uninstallations](https://docs.microsoft.com/en-us/dotnet/framework/install/troubleshoot-blocked-installations-and-uninstallations).

[2018-07-09 19:01] Keboo opened #6380 "Link points to old document"
In the opening paragraph there are two links, one for delegates (that is pointed at the new docs.microsoft.com) and one for expression tree (which is pointed at the old MSDN site). I believe the expression tree link should be pointed to the newer documentation here: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/expression-trees/

---
#### Document Details

⚠ *Do not edi

[2018-07-09 19:02] mairaw commented on #6335
Given this is a general Docs issue, I moved this to https://github.com/MicrosoftDocs/feedback/issues/497.

[2018-07-09 20:07] mairaw commented on #5737
Thank you for your feedback @mjdaly. This was added to our backlog.

[2018-07-09 20:10] mairaw commented on #5741
@lhuang since we didn't have any answers back from you, I'm closing this issue. If you still have questions, please file an issue at https://github.com/dotnet/wcf/issues/new.

[2018-07-09 20:10] #5741 closed

[2018-07-09 20:11] mairaw commented on #5744
@cartermp any updates to this one? Can you assign a milestone?

[2018-07-09 20:21] mairaw commented on #5746
Thank you for your feedback @jonyeh. I think there are improvements that could be made to this topic (such as variables not following naming conventions, etc.)/ The use of the `this` keyword will depend on where you're accessing the Form object from. So yes, it does work if you're accessing the property from inside the class.

[2018-07-09 20:21] #5746 closed

[2018-07-09 20:30] mairaw commented on #5751
Thanks @vpprof for your feedback. We'll take a look at this. Is this VB6 or Visual Basic .NET code?

[2018-07-09 20:32] mairaw commented on #5756
Thanks for your feedback @StevenBonePgh. @krwq, @tarekgh can you guys comment on this issue?

[2018-07-09 20:36] mairaw commented on #5763
Thanks for your feedback @DavidMeerkatRefaeli. @BillWagner can you take a look at this issue when you're back?

[2018-07-09 20:38] mairaw commented on #5765
Assigning this issue to myself to investigate next sprint.

[2018-07-09 20:43] Thraka commented on #5750
Hi @conyg

the `using static` directive only imports static members for local scope that are **not** extension methods. It will however import those extension methods for use on the instance type they are defined for.

I searched through the article for **extension** and found this:

[2018-07-09 20:43] #5750 closed

[2018-07-09 20:46] mairaw commented on #5766
@stephentoub can you help with this issue?

[2018-07-09 20:48] JRAlexander commented on #5416
From your SO Link above, it appears to be a known issue and appears to have been resolved there. Closing as a result.

[2018-07-09 20:48] #5416 closed

[2018-07-09 20:49] mairaw commented on #5768
@karelz @davidsh can you guys help with these questions? Can you help with the fixes needed here?

[2018-07-09 20:51] tarekgh commented on #5756
Looks this is a Windows Runtime issue. @axelandrejs can comment on that.

Just to mention, in UWP, the framework just calls Windows ResourceManager for retrieving the resources.

[2018-07-09 20:54] stephentoub commented on #5766
When `await`'ing a `Task`/`Task<T>`, the default behavior is the same as if `.ConfigureAwait(continueOnCapturedContext:true)` was used.  That means that the awaiter looks to see if there's a non-default SynchronizationContext (or if there isn't, a non-default TaskScheduler) present, and if there is, it stores it for the continuation to be handed off to when the awaiter completes.

That means there

[2018-07-09 20:55] rpetrusha commented on #5770
Thanks, @smmalis37, for your feedback. We'll address the issue of encoding support in our next sprint.

[2018-07-09 20:59] mairaw commented on #5780
@stephentoub can you help with these questions? We can make improvements to the docs if you think they are not clear.

[2018-07-09 21:01] mairaw commented on #6380
You're right. It should go to that page instead.

[2018-07-09 21:02] rpetrusha commented on #5771
Thanks, @riehlj2002, for your comment. With occasional exceptions (such as APIs that return sorted elements from a collection), the order of items returned from a collection is undefined; it's an implementation detail that is subject to change in the future. For that reason, we've generally left the discussion of the order of returned items undocumented throughout our documentation set.
I'm going

[2018-07-09 21:02] #5771 closed

[2018-07-09 21:49] axelandrejs commented on #5756
Thanks for reporting this. The resource manager uses / for all namespace separation, which includes the assembly namespace or the element. When the API was built, internal consistency was valued over consistency with other frameworks. I'll follow up to improve the documentation.

[2018-07-09 21:58] rpetrusha commented on #5751
In looking at your code, @vpprof, I suspect it's Visual Basic 6.0 code. At least, the `Set` statement, the use of `MyClass` (a Visual Basic keyword), and the absence of parentheses around `"Hello"` suggest that, since they all generate compiler errors. In addition, I can't reproduce the condition that you mention. Here is the Visual Basic .NET code, which compiles and runs successfully:

[code]

S

[2018-07-09 21:58] #5751 closed

[2018-07-09 23:07] JRAlexander commented on #5984
Closing this as it appears resolved.

[2018-07-09 23:07] #5984 closed

[2018-07-09 23:08] JRAlexander commented on #5893
@GalOshri - any insight? Thanks!

[2018-07-09 23:08] mattb5906 opened #6382 "Expenselt (lowercase L) or ExpenseIt (uppercase i)"
Please use a better name or font that shows the difference between lower case L (l) and uppercase i (I). Thought it was an odd name for a project, but continued only to realise later that it was Expenseit not ExspenseLt.

https://i.imgur.com/yjw16sX.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0dc39f7-b153-a46c-

[2018-07-09 23:22] JRAlexander commented on #6203
@bs6523 - This topic was updated last week for 0.3.0 and should give you more information.

[2018-07-09 23:35] mairaw commented on #5893
Seems like this would also be a question to @dend and @TianqiZhang given the ECMAXML has the right information.

[2018-07-09 23:58] #5272 closed

[2018-07-10 00:20] mairaw commented on #6382
Thanks @mattb5906 for your feedback. I can see how the name can be confusing to read. Given that this is an enhancement suggestion, I'm adding this to our backlog and to our community project list. PRs for this are welcome!

[2018-07-10 00:40] samboustani opened #6385 "This removes all spaces, so words get tied together"
Use @"[^\w\.,@-\\%\s]" to keep spaces (added \s)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 200f0dfc-55da-8707-83cf-5604001f6f0d
* Version Independent ID: 1b150e03-87bd-6878-c1da-72d59be2e7eb
* Content: [How to: Strip Invalid Characters from a String](https://docs.microsoft.com/en-us/dotnet/standard/base-types/how-

[2018-07-10 01:08] stephentoub commented on #5780
Right.  The great thing about open source is that's easily verified :)
https://github.com/dotnet/corefx/blob/e0ba7aa8026280ee3571179cc06431baf1dfaaac/src/System.Collections.Concurrent/src/System/Collections/Concurrent/BlockingCollection.cs#L1660-L1667

[2018-07-10 01:33] #6380 closed

[2018-07-10 05:51] lucasnobredev commented on #4439
Hello @rpetrusha @mairaw , I'm sorry for take so much longer to do this task.
After 3 months, I'll review each docs/ again to be sure everything is ok.
For now, I opened a PR about docs/framework.

[2018-07-10 06:08] upsilonth opened #6388 "The example does not call "Close" on HttpListener object"
As title, the mothod HttpListener.Close is not called in the example.

On the other hand, the example of [HttpListener.Stop](https://docs.microsoft.com/en-us/dotnet/api/system.net.httplistener.stop) does not call Stop method, maybe this issue could be solved by swapping these two examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-10 06:14] upsilonth commented on #6388
On the other hand, the exmple of HttpListener.Stop does not call Stop method, maybe swapping these two examples is enough.

[2018-07-10 07:32] bobsort opened #6389 "Exception handling?"
in Calculate method, randomly throw exception or a deadlock or sleep for next 10 years. what happens main thread reach WaitHandle.WaitAll(doneEvents)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a63b62-dd9b-aea0-87e8-2219dc37df69
* Version Independent ID: 364eb267-f008-89cf-4fb1-157fdf80fa15
* Content: [How to: Us

[2018-07-10 09:32] NAIVEddd opened #6390 "sugges"
#markup-extensions  This section's code should be in one block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76affea4-8d55-0f6d-0c39-ec25a8dcc0dc
* Version Independent ID: bebc890a-fdd2-525a-207c-cf23b56060ff
* Content: [XAML Overview (WPF)](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/xaml-overview

[2018-07-10 10:28] ThangHuuVu opened #6391 "Replacement for makecert.exe"
makecert.exe is now deprecated. Please take a look at all the pages where it is mentioned and remove it. I suggest you can use New-SelfSignedCertificateEx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e7ee35-26bf-fcd4-712e-06b27f3c154c
* Version Independent ID: f3d043e8-8dbc-edf1-ea49-177098ff4ad6
* Content: [Messag

[2018-07-10 11:36] KSS-thompsona2 commented on #6314
Hey Douglas,

Using dataView.Find(new object[] { 1, DBNull.Value }); does indeed work.

Thank you,
Tony ;-)

[2018-07-10 11:36] #6314 closed

[2018-07-10 16:32] #6112 closed

[2018-07-10 16:46] Banner-Keith commented on #5293
The purpose of the white line is not clear and looks pretty sloppy. I'm not sure how you should properly theme it, but this is not the answer.

[2018-07-10 16:56] nelsonmorais opened #6393 "dotnet cli command to search for nuget packages"
Is there a way to use the dotnet cli to search for nuget packages?
If not, what is the preferred way to use VSCode + Mac and search for nuget packages to be added to a project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-077c-3cad-b61d1314c303
* Version Independent ID: 784413e1-77f5-f2e6-a8f4-56a73fe2d

[2018-07-10 17:12] guardrex commented on #5293
We also use ellipsis quite a bit. It could have is a "... continued ..." super-imposed on the image without the line.

[2018-07-10 17:14] jpreese opened #6394 "System.IO.Directory.SetLastWriteTime() Throws Incorrect Exception in API Documentation"
The documentation for System.IO.Directory.SetLastWriteTime() and System.IO.Directory.SetLastWriteTimeUtc() state that a FileNotFoundException is thrown when the path cannot be found. I am getting a DirectoryNotFoundException.

However, a FileNotFoundException _is_ thrown when trying to call either of these methods with a file path as a parameter.

---
#### Document Details

⚠ *Do not edit this sec

[2018-07-10 17:35] jpreese commented on #6394
This also appears to be true for SetLastWriteTimeUtc()

[2018-07-10 18:23] mairaw commented on #6335
Reopening this so we can fix the spec article next sprint after we move our repo to Markdig.

[2018-07-10 18:31] mairaw commented on #6393
Currently, there is no CLI command to search for NuGet packages. Adding @KathleenDollard and @livarcocc to comment on future plans for CLI in regards to that.

There are a few extensions for VS Code that provide NuGet package manager capabilities. I haven't personally used any to recommend one.

[2018-07-10 18:35] mairaw commented on #6391
Thanks @ThangHuuVu for your feedback. We already have a backlog item tracking this work. So I'll be closing this as a duplicate.

[2018-07-10 18:35] mairaw commented on #6391
Duplicate of #5619

[2018-07-10 18:35] #6391 closed

[2018-07-10 18:39] mairaw commented on #5728
I'll be closing to have just one work item related to this.

[2018-07-10 18:39] mairaw commented on #5728
Duplicate of #5619

[2018-07-10 18:39] #5728 closed

[2018-07-10 18:42] mairaw commented on #5619
@Lxiamail this feedback keeps reoccurring. The two other duplicate requests are linked to this one.
On #6391, @ThangHuuVu suggested using New-SelfSignedCertificateEx.

[2018-07-10 19:16] #6362 closed

[2018-07-10 19:42] nelsonmorais commented on #6393
Thank you for the feedback. Looking forward for the feedback from @KathleenDollard or @livarcocc

[2018-07-10 20:02] ts2do opened #6397 "Pattern Matching - C# Guide: Misused null-conditional operator"
`case var o when (o?.Trim()?.Length ?? 0) == 0:` should not have a second null-conditional operator:
`case var o when (o?.Trim().Length ?? 0) == 0:`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1f2a2fe-8279-e6b3-93e8-33398167655f
* Version Independent ID: 35191215-988f-3700-1f85-4751711f692e
* Content: [Pattern Matc

[2018-07-10 20:31] d-dizhevsky commented on #6196
Started working on this issue and noticed that the tutorial already have an `!IMPORTANT` section which describes how to use .NET Core build tools and provides a [link for tutorial](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-with-xplat-cli).

====

The examples above use csc as the command line C# compiler. This compiler is a Windows executable. To use C# across other platforms, y

[2018-07-10 21:23] kehlankrumme opened #6399 "Incomplete"
There is no reference of the System.Web.Http.Filters namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8dd569-a7d7-2f13-61ce-18c95def3b9e
* Version Independent ID: fbbad1ea-e130-15fe-0636-d893a99e91f2
* Content: [System.Web Namespace](https://docs.microsoft.com/en-us/dotnet/api/system.web?view=netframework-4.

[2018-07-10 23:07] gewarren commented on #5447
Topics have been ported in this PR: https://github.com/MicrosoftDocs/visualstudio-docs-pr/pull/2459

[2018-07-10 23:09] slolife opened #6400 "Collections link is incorrect"
Collections link in page content is incorrect and points to CPP/MFC collection page (https://docs.microsoft.com/en-us/cpp/mfc/collections) but the Collections link in the sidebar points to the .NET guidelines (https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections) which is correct

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-07-10 23:17] Rick-Anderson commented on #6399
@mairaw currently we have no plans to migrate it to API browser.

[2018-07-10 23:23] mairaw commented on #6399
Sounds good. Thanks @Rick-Anderson!

[2018-07-10 23:23] #6399 closed

[2018-07-11 01:10] lucasnobredev commented on #4439
Well, I looked again on docs/core and there is nothing there.

[2018-07-11 03:50] cartermp commented on #5447
Thanks! I'll follow up with a PR to here that removes articles from this doc set and redirects to the VS docs.

[2018-07-11 04:40] gewarren commented on #5447
@cartermp Sounds good. You might also want to link to the VS F# docs from one or more of the dotnet F# docs.

[2018-07-11 06:46] TobiasSekan opened #6406 "Improve informations about possible usage of nameof operator"
I would be nice , when this article have a table or a text that contains information about usable elements for nameof operator.

e.g.
name of namespace = yes/no ?
name of class = yes
name of function = yes
value =  no
operator = no
.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d6e6220-cbdf-c81c-1f3f-eceaac577b3

[2018-07-11 08:40] Allon-Guralnek commented on #1876
Has the obsolete notice been removed from the docs? I can't find it on the linked page.

[2018-07-11 10:55] jinhale opened #6408 "Missing command to add the missing assets to build and debug your app"
There seems to be a missing command to add the missing assets to build and debug the app. Is VS Code limited in this way such that the only way to trigger it to create a default .vscode folder and associated files is to open the folder after creating the app in a terminal? It's just an annoyance to restart VS Code to get the prompt to show, and if an external terminal is required then that defeats

[2018-07-11 13:04] EddieLotter opened #6409 "Broken link"
The "NumericUpDown Custom Control with Theme and UI Automation Support Sample" link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd7d447-2d1a-9b5f-d124-bca7cd01f7ed
* Version Independent ID: 9e959d9e-0d99-61b0-db6b-3b84446834ab
* Content: [Control Authoring Overview](https://docs.microsoft.com/en-us/dotne

[2018-07-11 15:00] prkdak opened #6410 "Question on doc: Interface Properties (C# Programming Guide)"
In the example, why don't you have to instantiate Employee in line 2 of Main before you assign what was input from the console?
        Employee.numberOfEmployees = int.Parse(System.Console.ReadLine());

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e8e455c-1162-d046-ed70-22dfe96cbbad
* Version Independent ID: 9448a01

[2018-07-11 17:13] gewarren commented on #5447
The VS PR is merged to master. The topics will be live in about an hour.

[2018-07-11 17:46] cartermp commented on #5447
Thanks! I'll kick off the relevant PRs here.

[2018-07-11 17:46] #5447 closed

[2018-07-11 18:12] CharlieHoffmann opened #6412 "Jumps"
"The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog."
Jumps not jumped, but that's just my brain paying attention to that instead of actually learning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88a5e33e-938d-b72d-b211-ab5245413af5
* Version Independent ID: db96afbb-50af-5dee-b7b3-97600161e737
* Con

[2018-07-11 19:54] lucasnobredev commented on #4439
@rpetrusha @mairaw , there is another section to review or can we finish this job?

[2018-07-11 22:07] mairaw commented on #4439
We'll review and make sure that we check off that item if it's done now. Thanks @lucasnobredev!!

[2018-07-11 22:08] johnnyagerard opened #6417 "example"
When compiling the bus code sample, I have the following values:
-31.14 minutes
-65.53 minutes

Why do you get whole numbers values 6.00 and 31.00 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3ed1c5-1f79-9234-beec-b5771c3fb3c0
* Version Independent ID: ac4f6361-70a7-fb43-101e-c12044f60896
* Content: [Static Const

[2018-07-11 22:15] johnnyagerard commented on #6417
So I guess you used the Milliseconds method instead of TotalMilliseconds.

[2018-07-11 22:33] johnnyagerard commented on #6325
This code actually works.

I just needed to add the following line of code:
using System.Linq;

[2018-07-11 22:58] stanuku opened #6418 "Update the document to include "Microsoft.AspNetCore.App""
Please update the document to include "Microsoft.AspNetCore.App" under Metapackages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b8166ec-177f-67e5-7e98-2190ea82e0b0
* Version Independent ID: d6573a5f-4eb4-21c1-4d4f-50ef0f4723ae
* Content: [Packages, metapackages and frameworks](https://docs.microsoft.com/en-us/dotn

[2018-07-11 23:09] mairaw commented on #6412
@CharlieHoffmann thanks for your feedback. Any feedback is valid! I've created a PR to fix this for this content: https://github.com/dotnet/samples/pull/170

@BillWagner @rpetrusha this same sentence using past tense is used throughout our samples repo. Should we make this issue an up-for-grabs one?

[2018-07-12 00:48] rpetrusha commented on #4439
There are additional topics with "whitespace" instead of either "white space" or "white-space" in the dotnet/dotnet-api-docs and the dotnet/samples repos, @lucasnobredev. I've created a [gist](https://gist.github.com/rpetrusha/02afff2520aeeba03552f90a7152681b) that lists each occurrence.

[2018-07-12 00:49] srayan opened #6420 "New-AzureRmADApplication link broken"
The link to  New-AzureRmADApplication is broken (404's out). Please update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523be1c3-4079-4f28-13ab-353b7a116c98
* Version Independent ID: 78a37644-6ecc-3752-38ee-4eb18819bc9b
* Content: [Using Azure Key Vault to protect secrets at production time](https://docs.microsoft.co

[2018-07-12 01:28] JosefPihrt opened #6421 "[Question] How to generate fragment part of the url for an overloaded member"
Hi,

I'm working on a tool that includes generation of links to **docs.microsoft.com** for particular symbols. I'm especially interested in overloaded members that are distinguished by the fragment part of the url.

Problem is that I don't know how generate the fragment part of the url.

Example:

for method `List<T>.BinarySearch(Int32, Int32, T, IComparer<T>)`

the fragment part is:

**System_Col

[2018-07-12 06:13] pkulikov commented on #6325
@rpetrusha the PR that fixes this issue dramatically changes the example. Should we present both "reversing" methods and explain why only one of them "works"? (By the way, then the same example might be used to show how `ref` works.)

The code below shows both methods:
[code]

[2018-07-12 07:48] ite-klass opened #6422 "Example uses deprecated value `MessageBoxIcon.Question`"
The `MessageBoxIcon.Question` value is deprecated. The example should use a different icon, for example `MessageBoxIcon.Warning`.

See [`MessageBoxIcon.Question`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.messageboxicon?view=netframework-4.7.2#System_Windows_Forms_MessageBoxIcon_Question)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-07-12 08:51] MattBaker12 opened #6423 "This pair of example apps did't work for me."
I'm using studio 2017 professional.
The "Encoding.ASCII.GetBytes(args[0]);" failed as there were no args ? so I added a dummy argument to the command line input.
Then the listener just sits waiting for a message.
Now my network uses 192.168.50.x so I changed IP address in the sender app to suit.
Any ideas ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-12 10:53] TomaszSynak opened #6424 "Lack of support for *.sfproj type"
Can't add *.sfproj type to existing sln file. Getting:

Used command: _dotnet sln add Tmp.sfproj_
Ref: [dotnet sln](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-sln)

[2018-07-12 11:52] mrbentarikau commented on #5966
This 'equal to' "==" is never explained to QuickStarts users and might be a slight problem.

[2018-07-12 12:34] BillWagner opened #6425 "XML Docs for SyntaxKind members doesn't make any sense in VB"
Taken from internal issue [122483](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/122483)

[code]

[code]

I'm putting this issue in docs, not in roslyn, because the fix is not to update each XML comment in each summary. Instead, the conceptual docs should completely explain the overall object model including:

- Where base classes or interfaces are part of the collections.
- How to safely

[2018-07-12 13:06] BillWagner commented on #6317
I'm glad you found that answer @jpeg729

I've added this to our backlog and added the up-for-grabs label. If you want to submit a PR for this, let me know and I'll assign it to you.

[2018-07-12 13:32] BillWagner commented on #6412
Yes, and done.

[2018-07-12 14:41] lucasnobredev commented on #4513
@BillWagner , I want to do this task. I saw your recommendation on PR closed. I thought the job was just to change the sample, but it seems you want a new content about it.

Can you help me to understand?

[2018-07-12 14:51] BillWagner commented on #4513
@lucasnobredev The problem with #4877 was that it added new code, but that code was not included anywhere in any doc. So, no one would see it.  [This section](https://github.com/dotnet/docs/blob/master/styleguide/template.md#code) of the style template shows how to include code in a document.

To fix this issue, the variable names in the existing samples should be updated. Also, new C# features to

[2018-07-12 15:46] Toonshorty opened #6426 "List of permissible values missing"
The documentation for site designs (https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-json-schema#configure-regional-settings) links to this page for displaying a list of permissible values, but no values are shown in the documentation.

[2018-07-12 16:02] binki opened #6427 "Constructor example uses misleading language when describing assignment"
At https://docs.microsoft.com/en-us/dotnet/standard/attributes/writing-custom-attributes#declaring-constructors , I see:

&gt; This public constructor takes a parameter and sets its value equal to a member variable.

The phrase “sets its value equal to” means that the value of “it” becomes the latter value. In this case, that sentence states that the value of the parameter has the value of the mem

[2018-07-12 16:12] binki opened #6428 "Missing discussion of allowed expressions for attribute constructor arguments"
I’m not sure exactly where this belongs. Perhaps it belongs in the [Applying Attributes](https://docs.microsoft.com/en-us/dotnet/standard/attributes/applying-attributes) article instead. But it could also make sense here because the allowed constructor expressions limits the types of parameters one can meaningfully accept in an attribute’s constructor.

The expressions allowed as parameters to att

[2018-07-12 16:35] lucasnobredev commented on #4513
@BillWagner But do I have to create a new content or just update what exists?

[2018-07-12 16:45] BillWagner commented on #4513
@lucasnobredev Updating the content that exists would be great.

[2018-07-12 17:11] #6369 closed

[2018-07-12 17:18] douglaslMS commented on #6367
@crtjr64 Since we haven't heard from you to clarify your concern about this page of documentation, we're going to go ahead and close this issue.

[2018-07-12 17:18] #6367 closed

[2018-07-12 17:52] jaxidian opened #6429 "Provide programmatic examples"
For this, and *all* web.config examples, I would like for a programmatic example to either be included or linked to. This has been a common problem for many years for me and others. This should not be difficult to find.

The reason for doing this is for environment configuration purposes. Here's an exmaple:

Imagine an application using this being deployed to Azure App Services with Deployment slo

[2018-07-12 17:58] #6205 closed

[2018-07-12 18:46] Ciantic opened #6430 ">>> documentation is incorrect"
"For signed types, the most significant bits are padded with ones. " is incorrect.

It should say something like "For signed types with negative values, the most significant bits are padded with ones.".

E.g. 32 &gt;&gt;&gt; 1 is not padded with 1 on the left, only the negative values are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-07-12 19:02] #6277 closed

[2018-07-12 19:54] rpetrusha opened #6431 "Proposed topic: Catching IO errors in .NET"
# Proposed topic: Catching IO errors in .NET

## General
In general, .NET wraps the IO error returned by the operating system in an Exception object, which it then throws. The problem is that an identical exception condition (a directory not found, for example) can be wrapped in one of several exception types (DirectoryNotFoundException, FileNotFoundException, and possibly IOException). (I'm not s

[2018-07-12 19:57] rpetrusha commented on #6430
//cc @cartermp

[2018-07-12 20:06] sputier commented on #5424
I take a look at this issue !

[2018-07-12 20:38] rpetrusha commented on #6422
@ite-klass, thanks for pointing this out. The MessageBoxIcon.Question value isn't actually deprecated, though its use is not recommend. The example description also refers to the "question box" icon. And the code is very stale. You're certainly correct in pointing out that this topic could use updating. We've added it to our backlog.

[2018-07-12 20:54] JeremyKuhne commented on #6431
IO exceptions include:

- `System.IO.FileNotFoundException`
- `System.IO.DirectoryNotFoundException`
- `System.IO.PathTooLongException`
- `System.IO.DriveNotFoundException`
- `System.IO.IOException` (base of all other System.IO exceptions and thrown directly for errors that don't match the derived types)
- `System.OperationCancelledException`
- `System.UnauthorizedAccessException`
- `System.Argume

[2018-07-12 21:29] vpprof commented on #5751
Well, this is actually VBA code, running on Excel 2013. Where to seek help then?

[2018-07-12 21:32] mairaw commented on #5751
I believe this is the page for VBA https://msdn.microsoft.com/en-us/vba/language-reference-vba/articles/using-fornext-statements

[2018-07-12 21:33] mairaw commented on #5751
And here's the repository for their docs: https://github.com/OfficeDev/VBA-content

[2018-07-13 00:07] #5769 closed

[2018-07-13 00:09] mairaw commented on #6400
Thanks for your feedback @slolife! We'll get that fixed.

[2018-07-13 01:44] mairaw commented on #6424
@KathleenDollard @livarcocc @peterhuene does dotnet sln support adding service fabric projects?

Should I move this feedback to the CLI repo?

[2018-07-13 07:26] John0King opened #6437 "use `<RuntimeIdentifier />` or `<PlatformTarget />`"
Sinc new  Sdk Can directly publish Self-Contained app now, when specify x64 or x86 , what should we use ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://doc

[2018-07-13 07:46] rocifier commented on #6022
The table made no sense to me without the full explanation below. I think the confusing point is that the table is introduced as listing all supported platforms, which it doesn't do.

[2018-07-13 07:49] huuchungc2 opened #6438 "this is an issue"
this is an issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c7d191-7c09-0bd8-32b2-527748c41882
* Version Independent ID: fefbef5d-bc47-9458-1ba5-86388d2c251a
* Content: [Compiler Error CS0117](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0117)
* Content Source: [docs/csharp/misc/cs0117.md](https://github

[2018-07-13 07:51] mairaw commented on #6018
I have opened an internal bug because it seems we're not currently supporting appropriately some ASP.NET file extensions like asmx, ascx, asax. etc.

Internal bug [295680(https://ceapex.visualstudio.com/SRE/_workitems/edit/29568)

[2018-07-13 07:55] mairaw commented on #5419
@scsfdev I apologize this issue hasn't been fixed yet. We'll attempt to fix it this sprint. We're trying to evaluate whether there are other pages affected at the same time. It was an issue with the migration tool.

[2018-07-13 10:49] johnnyagerard opened #6442 "TestCatch2()"
When sw is null, this line (in the finally block) will produce an unhandled exception :
sw.Close();

It happens when there is no c:\test directory.

Furthermore, if c:\test does exist but there is no c:\test\test.txt file, this file will be created anyway.
So I don't see why we would want to catch a FileNotFoundException.
I would suggest:
1. to replace the FileNotFoundException with DirectoryNotFo

[2018-07-13 12:11] pkulikov commented on #6442
@johnnyagerard good catch. As for the second step suggested by you, it can be even shorter:

[code]

In general, [using statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement) should be considered for the example.

[2018-07-13 12:38] imkaka opened #6443 "Can we connect a Synchronous Socket Client to Asynchronous Socket Server?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c349f-3592-3f62-315d-e85db695041b
* Version Independent ID: efce9f39-4ba4-a61d-4330-e60dcfaf99ca
* Content: [Using an Asynchronous Client Socket](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/using-an-asynchronous-client-socket)
* Content Source:

[2018-07-13 12:47] nj1230 opened #6444 "Hi"
# Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent writing a new topic. Click on the Guidelines
for Contributing link above for detail

[2018-07-13 12:47] nj1230 commented on #6444
It should be more descriptive

[2018-07-13 13:38] johnnyagerard opened #6446 "syntax highlighting"
Would be nice to have it in this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2829be7-666e-55dd-42ce-15ea909295e5
* Version Independent ID: 583d0ccd-fddf-7109-3d73-70bf661d95ea
* Content: [How to: Catch a non-CLS Exception](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/how-to-c

[2018-07-13 14:00] mamukundan opened #6447 "Awesome Docs.."
The documentation is pretty good. Thanks for your efforts. I just thought it would help if we could have a Prev and Next button as that would ease the navigation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36515e3d-e8ab-5dfb-d5e9-332f767d9607
* Version Independent ID: adddc073-2413-197a-e74c-20a71d4abcd3
* Content:

[2018-07-13 14:20] jlavere4 opened #6448 "Someone's being very nosy"
Help me figure out how and who at what point keeps breaking into my phone accounts
 # Issue Title

Be as descriptive as you can with your title. If your issue requests
a new topic, preface the title with [NewTopic].

# General

We use issues to drive the discussion for changes to
existing topics and the creation of new topics.

This way, we have those discussions before significant
effort is spent

[2018-07-13 14:26] csharpfritz opened #6449 "What does "Seek a functional interface over a mutation-based implementation." mean?"
Can we add a link for this to show exactly what this concept means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63d2086-c15d-2434-8189-c2acaab237ca
* Version Independent ID: 08a7d210-bab0-fdd3-5629-34dcc79172e1
* Content: [F# style guide](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/)
* Content Source

[2018-07-13 15:01] mairaw commented on #6444
What should be more descriptive @nj1230?

[2018-07-13 15:02] #6438 closed

[2018-07-13 16:13] cartermp commented on #6449
There's no link that I have on hand (as this isn't some idiom or anything), but I think it is a bit ambiguous as-worded. I made a change in #6450 - does that help?

[2018-07-13 16:59] user135711 opened #6454 "Divide by zero bug in inner loop."
There is a subtle bug whenever the two largest images have one image with greatest length and the other with greatest height. The bottom right corner has no pixels. The line "if (bitmapData.Width &gt; i && bitmapData.Height &gt; j)" will be false for both images in the bottom right corner causing a divide by zero error on the line "a /= count;" where count is zero. A fix is to add just above it: "

[2018-07-13 17:22] csharpfritz commented on #6449
It helps...  for less savvy programmers, blocks of before and after code examples that demonstrate these guidelines would be very valuable

[2018-07-13 17:32] cartermp commented on #6449
Perhaps linking to the section in the conventions article that explains this in more detail would help?

https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/conventions#performance

[2018-07-13 17:36] mairaw commented on #6426
Thank you @Toonshorty for your feedback. I moved the issue to the appropriate repo (https://github.com/SharePoint/sp-dev-docs/issues/2227) and we also made some configuration changes for new SharePoint bugs to go to the correct place.

[2018-07-13 17:36] #6426 closed

[2018-07-13 17:41] csharpfritz commented on #6449
Yep... that does help

Jeff

On Fri, Jul 13, 2018 at 1:32 PM, Phillip Carter <notifications@github.com>
wrote:

[2018-07-13 17:48] #6400 closed

[2018-07-13 17:49] cartermp commented on #6449
Great, thanks. That second does contain an example of this phrase, in addition to other considerations (such as hiding some stuff behind a class).

[2018-07-13 17:51] cartermp commented on #6449
Link to section with code sample implemented here: #6450

Additionally, the ambiguity was cleared up in the text.

[2018-07-13 17:51] #6449 closed

[2018-07-13 17:57] #6394 closed

[2018-07-13 18:29] jaxidian opened #6455 "There is no example in the "Examples" section"
The Examples section has no example in it. It even refers to "The following code", but there is no code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a2bd274-33ce-0745-cd3c-5a0d5e00f7a2
* Version Independent ID: 3e480f15-e397-5de7-1fd8-6875fc7db0d4
* Content: [WSFederationAuthenticationModule.RedirectingToIdentityPr

[2018-07-13 18:35] mairaw commented on #6455
Thanks for your feedback @jaxidian. This is related to issue #6018 where some file extensions are not supported by our docs platform. I'm following up on that.

[2018-07-13 18:44] #6444 closed

[2018-07-13 18:45] mairaw commented on #6448
Sorry @jlavere4 but not sure what you're referring to. This is the place to report issues with the .NET documentation.

[2018-07-13 18:45] #6448 closed

[2018-07-13 18:50] mairaw commented on #6447
@mamukundan thanks for your kind words. We have another issue in our backlog tracking the same request: #817

Do you mind if I ask you in what kind of device are you reading the docs? Is it on mobile, desktop, etc?

[2018-07-13 18:50] mairaw commented on #6447
Duplicate of #817

[2018-07-13 18:50] #6447 closed

[2018-07-13 19:22] kendrahavens commented on #6408
Sure! There is a command you can use. We can update a doc to include these instructions:

1. Pressing "F1"
2. Typing ".NET Generate Assets for Build and Debug"
3. Selecting that option.
![image](https://user-images.githubusercontent.com/8293542/42709682-236649b2-8696-11e8-9f4a-d12ec835fa0b.png)

Alternatively, if F1 doesn't work on your keyboard:
1.  You can open the Command Palette. (Ctrl + Shift

[2018-07-13 19:45] avifarah opened #6457 "Providing a code snippet example would have been very helpful"
Providing a code snippet example would have been very helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a6e9771-1844-3a7b-290f-78253c16be64
* Version Independent ID: 42239060-dccf-75f5-f1e8-1f43aca9a584
* Content: [AppDomainSetup.PrivateBinPath Property (System)](https://docs.microsoft.com/en-us/dotnet/api/system

[2018-07-13 20:08] rpetrusha commented on #6437
@John0King, you create a separate deployment for each platform that you target. The target platforms are defined by a runtime identifier (RID) defined in the [.NET Core RID Catalog](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog). If you want to target both 32-bit and 64-bit Windows platforms, for example, you'd have to create separate 32-bit and 64-bit Windows deployments.

I don't thin

[2018-07-13 20:08] #6437 closed

[2018-07-13 20:11] rpetrusha commented on #6429
Thanks for your feedback, @jaxidian. We've added your issue to our backlog and to our community contributors' project.

[2018-07-13 20:46] #6446 closed

[2018-07-13 20:53] #5646 closed

[2018-07-13 21:14] mairaw commented on #6457
Thanks for your feedback, @avifarah. We've added your issue to our backlog and to our community contributors' project.

[2018-07-13 21:54] #6454 closed

[2018-07-13 22:49] mairaw commented on #6420
Thanks for your feedback @srayan. I've opened PR #6460 to fix this.

[2018-07-13 22:55] mairaw commented on #6390
Thank you for your feedback @NAIVEddd. This is a migration issue that we have in our backlog to fix it. A duplicate issue tracking the same work can be found at #2994.

[2018-07-13 22:55] mairaw commented on #6390
Duplicate of #2994

[2018-07-13 22:55] #6390 closed

[2018-07-14 02:44] John0King commented on #6437
@rpetrusha  I hope the doc can explain more about `<RuntimeIdentifier />` and `<PlatformTarget />`,
AFIK, when I set  `<RuntimeIdentifier >win-x64 </RuntimeIdentifier>`  the assembly is target `x64`,
But when I set   `<RuntimeIdentifiers >win-x64;win-86 </RuntimeIdentifiers>`  the assembly is target `AnyCPU`
and when I **not** use `.net core` but use `net461`  and OutPutType is exe, the  assembly

[2018-07-14 09:04] posfr commented on #6356
Hi Phillip,

Thank you for looking at this issue.

I’ve retested and you don’t need to change the documentation!

Interestingly, however, dotnet run App Hello World and dotnet run Hello World both actually work!!

The dotnet run part of both of these commands runs the project (App.fsproj) for the console application.  Everything after (dotnet run) is passed as an argument to the application – 3 ar

[2018-07-14 17:40] cartermp commented on #6356
No worries!

[2018-07-14 17:40] #6356 closed

[2018-07-15 04:31] roussakov opened #6463 "Development without restarting a docker container"
Hi guys! This is a great resource overall.
One thing is missing for me.
I want to provide a better development experience for my team using .net core and docker-compose.
Could you provide instructions for setup dotnet watch along with docker containers which won't require restart docker-compose stack each time the code has changed?

Thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2018-07-15 07:12] allanlykkechristensen opened #6464 "TDD misunderstood"
Hi there,

It seems that you've misunderstood TDD in terms of fail first.  Yes, a test must fail the first time, but it is not because it is written wrong, it's because the business logic should not yet have been implemented. Once the test fails you then fix your business logic or method and once you've done that properly your test will pass.

My recommendation:

- Start by implementing the stubs

[2018-07-15 08:34] allanlykkechristensen opened #6465 "Suggestion for improvement: TDD misunderstood"
You refer as TDD as writing a wrong test, running the test and then fixing the test. This is not TDD and it doesn't have any purpose.

As specified on https://en.wikipedia.org/wiki/Test-driven_development TDD show follow this pattern:

1. Add a test
2. Run all tests and see if the new test fails
3. Write the code
4. Run tests
5. Refactor code

---
#### Document Details

⚠ *Do not edit this section

[2018-07-15 11:48] guardrex commented on #6464
Thanks for pointing it out @allanlykkechristensen. I've patched that language out of the topic in favor of "unit testing concepts."

[2018-07-15 11:57] guardrex commented on #6465
Thanks for commenting @allanlykkechristensen ... TDD isn't referred to in this topic. I fixed #6464 on #6466.

There's nothing wrong with writing a regression test first. I've caught myself a few times in tricky situations writing a bad test using this technique.

[2018-07-15 16:10] DylanFPS opened #6469 "ALPN needs documenting"
Currently, there is no documentation on how one would go about implementing ALPN using SslStream. This should be fixed as ALPN is becoming more widely used.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f3f9002-51ab-801e-988e-0ca3008c69f8
* Version Independent ID: 1b3aab2f-4916-6756-74d3-3aa32a9704a5
* Content: [SslA

[2018-07-15 18:49] john02813 opened #6470 "Why does every one want to play a wav file?"
I have been searching for a way to modulate sounds in vb6 with winmm.dll.  I am using playsound but it sounds like popping noise.  I don't want to use a wav file.  I want to code it and be able to be independant of files altogether.  I have it where it plays Happy Birthday with     highint = (midiData2 * 256) * 256
MidiMessage = lowint + highint
 x = midiOutShortMsg(hMidiOut, MidiMessage)
 and it

[2018-07-15 20:58] mairaw commented on #6071
@douglaslMS can you take a look at this issue?

[2018-07-15 22:14] jbruns2015 opened #6471 "4.7.2, 4.7.3 and 4.8"
When will this document updated to reflect these new releases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fe5242-e3b2-6cfe-5308-63fc96272657
* Version Independent ID: 1abaaeb7-d7ed-5522-c16f-409f22a074cc
* Content: [.NET Framework Versions and Dependencies](https://docs.microsoft.com/en-us/dotnet/framework/migrat

[2018-07-15 22:29] mgravell opened #6472 "Terrible example; please revise"
This example has 2 fundamental flaws:

1. the `lock` is unnecessary; since `PreDrawEvent` is declared as a private `event` (which may or may not be wise, but that's another matter), it already has thread-safety implemented by the compiler via the "field-like events" specification
2. the `lock` is invalid - it locks on a changing value (bad) that might be `null` (very bad)

Very bad code. Please fi

[2018-07-15 23:14] mairaw commented on #6471
That topic already contains 4.7.2 and the other two (4.7.3 and 4.8) don’t exist, at least for now.

[2018-07-16 01:34] ghost opened #6473 "Example revison"
The first example contains the following...

string elapsedTime = String.Format("{0:00}:{1:00}:{2:00}.{3:00}",
            ts.Hours, ts.Minutes, ts.Seconds,
            ts.Milliseconds / 10);

The following change displays the full ms value.

string elapsedTime = String.Format("{0:00}:{1:00}:{2:00}:{3}",
                ts.Hours, ts.Minutes, ts.Seconds,
                ts.Milliseconds);

---
####

[2018-07-16 09:54] rs38 opened #6474 "non-parallel is faster in this example..."
omitting .asParallel() is always much faster in my tests…??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030c37a7-d371-aeae-bef7-1dd1f23f8cb0
* Version Independent ID: f966cb87-ae73-2f76-583a-f88583464752
* Content: [How to: Measure PLINQ Query Performance](https://docs.microsoft.com/en-us/dotnet/standard/parallel-pr

[2018-07-16 10:03] rs38 commented on #6474
due to the very tiny operation "load" and much task synchronization.
I found this example on stackoverflow much better suited:

[code]

[2018-07-16 11:08] jbruns2015 commented on #6471
If you actually read the paragraph titled "Targeting and Running .NET Framework apps for version 4.5 and later" you will note missing 4.7.2

[2018-07-16 11:32] Manoj-Prabhakaran opened #6475 "Folder Encrypting"
how to use for encrypting a whole folder???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a8e441d-cd59-de15-a814-0d86d4cda052
* Version Independent ID: c94ca6d4-7e93-8aac-93d1-7f249c77d243
* Content: [Walkthrough: Creating a Cryptographic Application](https://docs.microsoft.com/en-us/dotnet/standard/security/walkthro

[2018-07-16 13:33] svick commented on #6474
The code is also problematic, because it will include JIT time in the measurement and because it executes only once.

Would it make sense to use [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) instead? And maybe make it more useful by comparing serial and parallel versions?

[2018-07-16 14:09] BlythMeister commented on #6293
Globbing is only supported on linux/unix according to the page as of 2018-07-16

[2018-07-16 14:52] vbfox opened #6476 "Document AssemblyInfo properties"
Quite a few properties have been added to port AssemblyInfo values. They should be documented along with the special properties that disable the whole AssemblyInfo generation (`GenerateAssemblyInfo`) or part of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent

[2018-07-16 15:22] vbfox commented on #6476
For now the best documentation seem to be the code https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateAssemblyInfo.targets

[2018-07-16 15:25] Sleeplikelion opened #6478 "Admin"
Good

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df2cc16c-fcf9-41e6-a1e5-92dfc2869495
* Version Independent ID: 4421a02c-f819-1483-12c6-7dab4f289a46
* Content: [C# interactive tutorials - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/#string-interpolationinterpolated-stringsyml)
* Conte

[2018-07-16 15:27] vbfox opened #6479 "Version attributes like VersionPrefix aren't documented"
They are referenced in https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj#common-top-level-properties without details but not documented here in the csproj format.

How the attributes interact & what other properties they auto-fill (assembly version, informational version, package version) would be nice to have here too.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-07-16 16:39] natemcmaster opened #6482 "Document implicit package references"
The .NET Core SDK currently has a link in its warnings/errors which point to https://aka.ms/sdkimplicitrefs. This redirects to https://github.com/dotnet/core/blob/master/release-notes/1.0/sdk/1.0-rc3-implicit-package-refs.md. We should move this content into docs and polish it up.

Also, assuming we end up merging https://github.com/dotnet/sdk/pull/2394, we should also document `RuntimeFrameworkNa

[2018-07-16 16:46] avifarah opened #6483 "Operator precedence"
I was looking for operator precedence

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eeac581-6235-2192-d909-e7fe3d21197f
* Version Independent ID: 9d8e2a57-1c18-8cba-9bd4-eef546fe2dcb
* Content: [C# Operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/#see-also)
* Content Source: [doc

[2018-07-16 17:08] jepp commented on #6371
The tutorial left out the step to edit these lines in app.config from
[code]
to
[code]

And this step:
`2. Open Internet Explorer and browse to the service's debug page at http://localhost:8000/GettingStarted/CalculatorService.
`

should say
`2. Open Internet Explorer and browse to the service's debug page at http://localhost:8733/Design_Time_Addresses/GettingStartedLib/CalculatorService/
`

[2018-07-16 17:12] #6464 closed

[2018-07-16 17:15] #6022 closed

[2018-07-16 18:18] rpetrusha commented on #6483
Thanks for your feedback, @avifarah. Operator precedence is discussed in [Operators](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/operators#operators-evaluation-and-operator-precedence) topic in the C# programming guide.

Since operator precedence is documented, I'm going to close this issue. If you disagree, please feel free to respond.

[2018-07-16 18:18] #6483 closed

[2018-07-16 18:21] #6420 closed

[2018-07-16 18:21] rpetrusha commented on #6478
Thank you for the positive feedback, @Sleeplikelion. We're happy that you liked the interactive tutorial.

[2018-07-16 18:21] #6478 closed

[2018-07-16 18:27] rpetrusha commented on #6470
Thanks for your feedback, @john02813. This Visual Basic documentation, though, documents Visual Basic .NET, and not Visual Basic 6, which was the previous generation of the Visual Basic language.
Because of that, I'll close this issue. If you disagree, please feel free to reply.

[2018-07-16 18:27] #6470 closed

[2018-07-16 18:33] mairaw commented on #6293
I think that's still the case. @KathleenDollard @livarcocc @dsplaisted can one of you confirm? If so, are there any plans to support globbing pattern in the future?

[2018-07-16 18:47] BlythMeister commented on #6293
I tested on windows with 2.1 and confirm it doesn't work.
I've not tested on Linux/Unix to prove its not a bug

[2018-07-16 18:52] dsplaisted commented on #6293
If it works on Unix it's probably because the shell is expanding the glob before it gets to the CLI.

Supporting globs here would be a good idea.  I've filed https://github.com/dotnet/cli/issues/9670

[2018-07-16 19:01] jepp opened #6484 "host example needlessly/confusingly duplicates service"
Hopefully someone else will benefit from this note. In this example, the given Main() used for the console host app is pointless. All of this code could be deleted except for the Console.WriteLine/ReadLine lines. This code creates a **second** service in addition to the first one shown in the previous pages of the tutorial. And it creates it on a different port. The earlier app.config defined one

[2018-07-16 19:39] TIHan opened #6486 "F# 4.5 - Span and related work"
This is a tracking issue for a set of features that make up Span and byref work in F# 4.5.

RFC: https://github.com/fsharp/fslang-design/blob/master/FSharp-4.5/FS-1053-span.md

[2018-07-16 19:41] TIHan commented on #6486
@cartermp @BillWagner tagging

[2018-07-16 19:49] mairaw commented on #6293
Thanks @dsplaisted. Closing the doc issue then.

[2018-07-16 19:49] #6293 closed

[2018-07-16 20:05] TIHan commented on #6486
Here are the set of things I want to have documented for Span in F#:

- What is it and why? (goal: Devs understand what Span is and why it was created)
- Safety Rules (main bulk) (goal: When devs experience safety rule violations, they have a place to see documentation describing what they violated and understand why)
- Design (goal: Devs learn they can have a better design when using this feature

[2018-07-16 20:06] mairaw commented on #6471
Thanks @jbruns2015. We'll review this more carefully.

[2018-07-16 20:09] mairaw commented on #6421
@dend @TianqiZhang are those generated by [DocFX](https://dotnet.github.io/docfx/)?

[2018-07-16 20:11] mairaw commented on #6376
Thank you for your feedback @teunvanhemert. We're adding this to our backlog.

[2018-07-16 20:17] mairaw commented on #6463
@CESARDELATORRE @richlander can you comment on this request?

[2018-07-16 20:31] mairaw commented on #5847
Thank you for your feedback @taoyouh. We're adding to our backlog and adding it to the community project.

[2018-07-16 20:33] mairaw commented on #6204
That's a great suggestion @j4adev. We're adding this to our backlog and to our community project.

[2018-07-16 20:35] mairaw commented on #6155
The link doesn't 404 for me. Maybe was just a glitch @ite-klass?

[2018-07-16 20:35] #6155 closed

[2018-07-16 20:38] mairaw commented on #5864
@davidsh @karelz can you comment on this feedback?

[2018-07-16 20:41] mairaw commented on #6073
Thanks @hanswright. Would you like to create a PR to fix this? Otherwise, we'll handle it next sprint.

[2018-07-16 20:44] mairaw commented on #5812
That's a good suggestion @lukkhacoder. @gewarren @ghogen do you know where that content lives?

[2018-07-16 20:45] mairaw commented on #6345
Thanks for your feedback @RobBittner. We'll investigate.

[2018-07-16 20:48] mairaw commented on #5924
@AtsushiKan, @GrabYourPitchforks can you help with this question?

[2018-07-16 20:48] gewarren commented on #5812
Something like this page? https://docs.microsoft.com/en-us/visualstudio/test/using-microsoft-visualstudio-testtools-unittesting-members-in-unit-tests

Or the API ref docs? https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting?view=mstest-net-1.3.2

[2018-07-16 20:54] mairaw commented on #5889
@tinhpbk can you elaborate your question? We're not sure what the request is.

[2018-07-16 21:00] mairaw commented on #6070
Thank you for your feedback @PeterWone. We've added this issue to our backlog.

[2018-07-16 21:02] BillWagner commented on #5800
The order of files is not guaranteed when you use this method. You could use the results of this method in a LINQ query to sort by name.

Closing as the order is not specified by the API, and the doc reflects that.

[2018-07-16 21:02] #5800 closed

[2018-07-16 21:29] ite-klass commented on #6155
Verified it is working now 🤷‍♂️

[2018-07-16 21:34] mairaw commented on #6244
This part of the documentation shows examples of WinForms apps that can use System.Drawing APIs. The System.Drawing namespace already points to https://docs.microsoft.com/en-us/windows/desktop/wic/-wic-about-windows-imaging-codec as an alternative option for that scenario.

/cc @msatranjr @mcleblanc

[2018-07-16 21:34] #6244 closed

[2018-07-16 21:34] AtsushiKan commented on #5924
Looks to me like they tricked `Activator.CreateInstance` into thinking it was being called by `InvokeMember` by setting the `CreateInstance` bit on `BindingFlags.` `CreateInstance` is intended for use with `InvokeMember` according to MSDN so they got the forbidden fruit by passing bits to apis that weren't supposed to receive them (but don't filter them either.)

The way these apis were implemente

[2018-07-16 21:48] ghost opened #6487 "one use of value keyword missing"
The contextual keyword "value" can be used in the set accessor of indexers too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4e70b29-7da5-0604-0aa7-b13800a3cd9d
* Version Independent ID: 131d33af-fbc4-20e9-46bb-0a92e6254dbb
* Content: [value (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-ref

[2018-07-16 22:08] hanswright commented on #6073
You can handle next sprint :)
Glad it reached audience

Sent from my iPhone

[2018-07-16 23:05] BillWagner commented on #5763
@DavidMeerkatRefaeli What information are you looking for? Is it whether you *should* use the `volatile` keyword on a field? Is it how this affects access? Performance implications?

(It's difficult to make a good example for volatile that demonstrates different behavior consistently. The sample would need to have multiple threads, and create a thread switch at the right time to invoke a read in a

[2018-07-17 01:02] BillWagner commented on #6312
The "source configuration file" is the same as the "myApp.config" file.

You can generally pick either "copy if newer" or "copy always".  The difference would be observed if you edit the destination file manually.

[2018-07-17 01:15] BillWagner commented on #6475
@Manoj-Prabhakaran This may be best asked on a  Q & A forum like Stack Overflow. I have a number of clarifying questions about how you would extend this sample: Do you want to encrypt a folder as a single file? Do you want each file in a folder encrypted separately? Would they all use the same key?

Those questions make me think this is best answered on a Q & A forum rather than in docs.

[2018-07-17 01:17] BillWagner commented on #5783
That is a good suggestion @programify I've added this suggestion to our backlog.  Or, would you like to submit a PR for this change?

[2018-07-17 01:22] BillWagner commented on #6285
@ite-klass Thanks for pointing this out.

We'd found this in #1876  and it was fixed in dotnet/dotnet-api-docs/#323

This is no longer marked as obsolete.  Closing as fixed.

[2018-07-17 01:22] #6285 closed

[2018-07-17 01:37] rpetrusha commented on #6343
Thanks for noticing the unnecessary calls to ToString, @johnnyagerard. I've opened PR dotnet/samples#188 to remove them.

[2018-07-17 01:39] BillWagner commented on #5901
Thanks for pointing this out @charliegdev

I've added it to our next sprint. In the meantime, if you want to submit a PR for this, I'll review it and merge it.

[2018-07-17 01:49] Siri94 opened #6492 "Assume Tutorials"
It's a good explanation how to do with practicing code.
First, traditionally, start "Hello World!" (not surprising) and then typing immediately!
Second, Object-Oriented Programming(OOP) should be familiar with us.
The tutorial simply mentions this concept using "string" type.
Final, the assume is Microsoft skips trivial environment settings, installing a Visual Studio or Visual Compilers, thanks t

[2018-07-17 02:11] mairaw commented on #6285
Just to be thorough, the attribute removed was just a workaround fix until #1876 is completely fixed. The API is obsolete in Mono, I believe.

[2018-07-17 02:13] mairaw commented on #1876
Temporarily removed @Allon-Guralnek. Next time we run CI in our docs this will be added back.
We're still waiting for the fix that can distinguish attributes per .NET implementation.

[2018-07-17 08:42] nphmuller opened #6496 "Document which settings from NuGet.config affect dotnet restore"
In the docs it's mentioned that `The behavior of the dotnet restore command is affected by some of the settings in the Nuget.Config file`. Please consider documenting which settings exactly affect `dotnet restore`. Because currently I simply have to try what works and what doesn't, which isn't really productive.

For example: NuGet allows [using environment variables](https://docs.microsoft.com/en

[2018-07-17 11:56] sputier commented on #6412
I "jumped" on this issue this morning :-)

[2018-07-17 12:20] joelmartinez commented on #1876
Just FYI, the next time it's added back, it will have the appropriate attributes (`FrameworkAlternate`) to indicate that the attribute only exists in a subset of frameworks (the feature became available [two releases of mdoc ago](https://github.com/mono/api-doc-tools/releases/tag/mdoc-5.7.1)) ... however, not sure when the additional upstream work will be completed, so that the front-end properly

[2018-07-17 13:53] sputier commented on #5691
I just created a PR to fix this issue 😉

[2018-07-17 14:39] stormwild opened #6499 "Remove reference to non-existent projects"
Is there a way to remove reference to no longer existing projects?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b0701a-2043-4ac8-567a-03c1e35161b2
* Version Independent ID: 60d50636-8086-8d92-9ccc-60b7cecd714a
* Content: [dotnet sln command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-

[2018-07-17 14:58] #6364 closed

[2018-07-17 14:59] mattcowen opened #6500 ""Do not reference mscorlib.dll" as an option does not exist"
In VS2017, there is no option "do not reference mscorlib.dll" in the advanced dialog as described on this page - https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/nostdlib-compiler-option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bdeb7a8-8d77-961f-ce9f-e755fdcf8613
* Version Indep

[2018-07-17 15:13] wildbiotiger opened #6501 "Broken Link"
The "Thumb Drag Functionality Sample" link to http://go.microsoft.com/fwlink/?LinkID=160042 leads to a broken archive.msdn link. Is there a valid link to the sample somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb49bc6-864e-9627-5662-0780663218c0
* Version Independent ID: e0b37d1f-6c8e-7d68-6f30-952c33aa41

[2018-07-17 15:36] prkdak commented on #6410
Thank you. I thought that the class had to be static to not require instantiation.

[2018-07-17 15:40] #5691 closed

[2018-07-17 15:41] #5424 closed

[2018-07-17 15:55] V0d01ey opened #6502 "processing before call"
&gt;Because it operates on an individual match, it is also possible to perform processing on the matched string before you call the Result method.
What this sentence is about? How this can be used? Is the value returned by the method depends on something other than parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-17 16:01] douglaslMS commented on #6071
@FransBouma Thank you for bringing this to our attention, and for providing a detailed repro for verification. I have opened a PR to remove the erroneous sentence from the Remarks for the RecordsAffected property. The updated page will be published late today, or possibly tomorrow.

[2018-07-17 16:24] OnlyChildRecords opened #6503 "Changing comments"
I've added negative comments to the predict method but they are being evaluated as positive?  Am I doing something wrong?

      IEnumerable&lt;SentimentData&gt; sentiments = new[]
            {
                new SentimentData
                {
                    SentimentText = "I suggest you kill yourself."  // evaluated as positive
                },
                new SentimentData

[2018-07-17 16:30] #6343 closed

[2018-07-17 16:36] #5901 closed

[2018-07-17 16:59] mairaw commented on #5209
Interesting. That member is no longer showing the return value @svick. This seems like a bug. Do you want to submit a feedback issue via https://github.com/MicrosoftDocs/feedback?

I'd like to close this issue since the original bug has been fixed now. If you feel like the behavior should change, let's discuss it via a new issue on the feeedback repo.

[2018-07-17 16:59] #5209 closed

[2018-07-17 17:10] mairaw commented on #6110
Is this the pop-up you're referring to?
![image](https://user-images.githubusercontent.com/12971179/42833670-994ace8a-89a9-11e8-9d3c-5ea7129f5269.png)

That means that you're trying (or tried) to install a software that requires .NET Framework.

[2018-07-17 17:12] mairaw commented on #6374
Is this the pop-up you're referring to @Melissa517?
![image](https://user-images.githubusercontent.com/12971179/42833670-994ace8a-89a9-11e8-9d3c-5ea7129f5269.png)

That means that you're trying (or tried) to install a software that requires .NET Framework.

[2018-07-17 17:17] #6071 closed

[2018-07-17 17:23] DavidThi808 opened #6506 "What should we set it to?"
It would be helpful if you provided guidance as to when we should set this. What's optimum for different situations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a31b15e3-dc34-d066-7c35-728f0d9ebf95
* Version Independent ID: bb9285fc-c821-9c28-cbda-dfe53a429b3d
* Content: [&lt;gcServer&gt; Element](https://docs.micro

[2018-07-17 17:30] svick commented on #5209
@mairaw Done: https://github.com/MicrosoftDocs/feedback/issues/529.

[2018-07-17 17:59] #6382 closed

[2018-07-17 18:12] rpetrusha commented on #5827
Thanks for asking the question, @ptoye. The text means that, although a type or type member is publicly exposed, it is not intended for use other than by the .NET runtime or .NET class libraries; in other words, if you use it, you do so at your own risk. There are a number of reasons that types or their members are marked internal-only, including the need to access them from other assemblies and c

[2018-07-17 18:14] mairaw commented on #6501
Thanks for reporting this @wildbiotiger. I've fixed the target URL of that link to point to https://github.com/Microsoft/WPF-Samples/tree/master/Drag%20and%20Drop/DragDropThumbOps.

[2018-07-17 18:14] #6501 closed

[2018-07-17 18:23] johnnyagerard opened #6507 "Eliminate cast or use `var`"
Those lines contain a useless cast, we could replace them:
IEnglishDimensions eDimensions = (IEnglishDimensions)box1;
IMetricDimensions mDimensions = (IMetricDimensions)box1;

IEnglishDimensions eDimensions = box1;
IMetricDimensions mDimensions = box1;

However, if we would use the var keyword, the cast would be useful:
var eDimensions = (IEnglishDimensions)box1;
var mDimensions = (IMetricDimensio

[2018-07-17 18:30] davidsh commented on #5864
Any string is acceptable as long as it complies with the RFC for the Authentication related headers such as 'Authorization:' and 'Proxy-Authorization'.

See: https://tools.ietf.org/html/rfc7235

These request headers are not processed by the .NET HTTP client stack itself.  They are simpled sent with the request.

[2018-07-17 18:38] rpetrusha commented on #6427
Thanks for pointing out this error, @binki. We've opened PR #6508 to address it.

[2018-07-17 18:42] AmmarTheTrainer commented on #5781
yes its creating problem in reading the doc

[2018-07-17 18:44] mairaw commented on #6302
Thanks @burnchar. We're working on fixing this issue. The fix however will be to remove the .NET Core 2.0 from the list. When we got the reference assemblies for 2.0, it also included some of the extensions assemblies. We're also working on enabling docs for the extensions too but we still need more time to implement it correctly. In the meantime, we're discussing with the engineering team on poss

[2018-07-17 18:44] rpetrusha commented on #6492
Thanks for your feedback, @Siri94. We're pleased that you liked the interactive tutorial. As far as I now, it's JIT-compiled, although @LadyNaggaga may correct me.

[2018-07-17 18:44] #6492 closed

[2018-07-17 18:46] mairaw commented on #5781
@AmmarTheTrainer please share your feedback on the active issue at https://github.com/MicrosoftDocs/feedback/issues/167. Thanks!

[2018-07-17 18:50] SamBent commented on #5827
That’s a question for WinForms (not WPF).

From: Ron Petrusha <notifications@github.com>
Sent: Tuesday, July 17, 2018 11:13 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: Sam Bent <Sam.Bent@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Cannot understand sentence - and why is it here? (#5827)

Thanks for asking the question, @ptoye<https://na01.safelinks.protecti

[2018-07-17 19:10] #6465 closed

[2018-07-17 19:16] rpetrusha commented on #5797
Thanks for submitting your feedback, @seanxs. I can't reproduce your issue, though. I'm going to close this issue as not repo. If you're still having this issue, though, and can't diagnose its cause, it might be helpful to include a larger block of your code, including its exception handling.

[2018-07-17 19:16] #5797 closed

[2018-07-17 19:17] JRAlexander commented on #6499
Hi, @stormwild - In the examples section [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-sln#examples), check out the "**Remove a C# project from a solution**" example. That will remove a project from a solution.  Have a good day!

[2018-07-17 19:17] #6499 closed

[2018-07-17 19:54] ericbrunner opened #6509 "ASP.NET Core 2.1 Hosting samples"
Hi
The provided link leads to a 404 github page. Please fix that.
Best
Eric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49a03c0-a844-26eb-48a5-33a612dd3ead
* Version Independent ID: 45b409c8-f64d-da19-a2ec-b91f21696a5b
* Content: [Implement background tasks in microservices with IHostedService and the BackgroundSer

[2018-07-17 20:00] #6412 closed

[2018-07-17 20:18] chakrabar opened #6510 "Why do I need to select a runtime for Framework Dependent Deployment?"
The document says that, in [Why create a framework-dependent deployment?](https://docs.microsoft.com/en-us/dotnet/core/deploying/#why-create-a-framework-dependent-deployment) section

I'm building a simple `Console` application with `.NET Core 2.0`. I'm using `Visual Studio Community Edition 2017 v15.7.5`.

When I try to _**Publish**_ my app as a **_"Framework Dependent" deployment_**, the publish

[2018-07-17 20:25] aligneddev opened #6511 "MVC Testing video link"
https://www.youtube.com/watch?v=wtOE-xmFJkw&list=PL1rZQsJPBU2StolNg0aqvQswETPcYnNKL&index=5 is a good resource for Asp.Net Core 2.1.
Javier C. Nelson pointed to https://github.com/aspnet/Identity/tree/master/test/Identity.FunctionalTests near the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628ba44f-bfb6-e9bf-0b

[2018-07-17 20:37] #6427 closed

[2018-07-17 20:38] #6442 closed

[2018-07-17 20:56] rpetrusha commented on #5827
Sorry, @SamBent. @merriemcgaw, do you know whether [FolderNameEditor.FolderBrowserStyles](https://docs.microsoft.com/en-gb/dotnet/api/system.windows.forms.design.foldernameeditor.folderbrowserstyles) is actually for internal use only, or whether either the [FolderNameEditor.FolderBrowser](https://docs.microsoft.com/en-gb/dotnet/api/system.windows.forms.design.foldernameeditor.folderbrowser) class

[2018-07-17 21:05] Scottj1s opened #6512 "Value2 typo"
The COM Interop C# before example should assign Value, not Value2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9885f16-24fc-c4ab-458c-fd38279b9898
* Version Independent ID: dc4040cc-3cec-75cd-73a9-2cb7d890c672
* Content: [Using Type dynamic (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/progr

[2018-07-17 21:50] merriemcgaw commented on #5827
@Tanya-Solyanik do you know off the top of your head?

[2018-07-17 22:11] JRAlexander commented on #6500
Thanks, @mattcowen. I've added clarification language to the article, as you can only set this option in Visual Studio 2015 and earlier versions. You can see the change in the PR link above.

[2018-07-17 22:16] #6500 closed

[2018-07-17 22:37] mairaw commented on #6482
Thanks @natemcmaster. The Packages, metapackages and frameworks topic has been on the list to be updated for a while now. It needs to be revised since we haven't updated it for 2.0+. Once we're ready to start on this, our team will sync with you on the direction this should take.

[2018-07-17 22:46] mairaw commented on #6509
Thanks for your feedback @ericbrunner. I've opened PR #6516 to fix this.

[2018-07-17 23:40] manivannan89 opened #6518 "Person class constructor needs an update"
public Person(string lastName, string ssn)
        {
            if (Regex.IsMatch(ssn, @"\d{9}"))
                uniqueSsn = String.Format("{0}-{1}-{2}", ssn.Substring(0, 3),
                                                         ssn.Substring(3, 2),
                                                         ssn.Substring(5, 4));
            else if (Regex.IsMatch(ssn, @"\d{3}-\d{2}-\d{4}"))

[2018-07-17 23:44] BillWagner commented on #6496
Thanks for pointing this out @nphmuller

We'll work to get that updated.  /cc @KathleenDollard

[2018-07-18 01:01] GingerSnap-xx opened #6521 "When will configBuilders be added to the schema as a valid app settings attribute?"
I'm trying to precompile an application for use with WebDeploy and it's throwing errors due to it not being part of the schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea24ffb0-1e4a-4c73-c566-18b67e3bd69c
* Version Independent ID: 1d1c4a41-9dfd-82f9-ed0c-993c45b16b25
* Content: [&lt;appSettings&gt; element for &

[2018-07-18 01:09] BillWagner commented on #6216
Thanks for pointing this out. We'll figure out the correct updates.

[2018-07-18 01:35] BillWagner commented on #6385
Thanks for pointing this out @samboustani
I've added it to our backlog.  In the meantime, would you like to submit a PR to update the sample?

[2018-07-18 04:45] rbwhitaker opened #6522 "default spin count not specified for constructors that don't explicitly set it"
There are three constructors for ManualResetEventSlim. Two don't specify the spin count, while one does. The class is supposed to spin for some amount of time before falling back to a normal wait handle wait. The problem is, I have no clue what the default spin count is, if I don't specify it. By putting in a value, I don't know if I'm speeding it up or slowing it down. The documentation would be

[2018-07-18 05:13] mairaw commented on #6522
Specifying the default values is generally a good practice @rbwhitaker. We can add that info to the docs.

The default value will vary depending if the machine is single processor or multi processor:
https://referencesource.microsoft.com/#mscorlib/system/threading/ManualResetEventSlim.cs,56

It also seems that different .NET implementations have different defaults:
https://github.com/dotnet/corefx

[2018-07-18 06:20] rmunn opened #6523 "Update camelCase capitalization for username"
The guidelines for capitalizing compound words and common terms state, "For the purpose of casing guidelines, treat a closed-form compound word as a single word. Use a current dictionary to determine if a compound word is written in closed form." However, this is not followed in the examples in the case of the word "username". The examples show it camelCased as userName, as if it were a two-word c

[2018-07-18 07:36] altimmons opened #6524 "incomplete"
its like the person who wrote this doc page and its parent read the example but knew nothing else.  Clearly there exist more methods, the example itself uses a method not on the mouse page.  I know it gets swapped buttons and scroll wheel but what else?  Position? Speed? Acceleration.  Over? This could be so useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-07-18 08:09] ite-klass opened #6525 "Request for clarification on value taking from owner and ability to unset a local value"
When is the value retrieved from the parent? On construction? On property access?

Is it possible to "unset" the ambient property so that it will no longer use a (temporary) local value but the parents again? (e.g. for temporarily setting Form.Cursor to WaitCursor and then returning to using the parents)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-07-18 10:30] ptoye commented on #5827
Thanks all for the comments. As a mere .NET amateur I shall keep well away from this class!

[2018-07-18 11:18] peterzeller opened #6526 "The code in the table is not formatted correctly."
The code in the table is not formatted correctly: it shows the triple backtick as normal text. On Github the table is rendered almost correctly but not on docs.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc0f705-c74c-51ea-1ee7-ac62fc71392a
* Version Independent ID: ec09b74f-53a9-3d86-bf44-a7c0694cdaf

[2018-07-18 11:31] PaulCr125 opened #6527 "Error"
I'm getting a MemoryProtectionScope reference error. I'm referencing the namespaces listed and using .Net 4.6.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e223a92-49ef-5bf0-9dab-13b7300fabd4
* Version Independent ID: bbac5ee9-27f0-cf07-5891-32a3e9a0341b
* Content: [How to: Use Data Protection](https://docs.micros

[2018-07-18 11:38] IzaacJ opened #6528 "Windows couldn't complete the requested changes."
Whne trying to activate .NET Framework 3.5 through Programs and Features->Turn Windows features on or off I get the usual popup for installing it, but when downloading required files I get this:

Windows couldn't complete the requested changes.
The system cannot find the file specified.
Error code: 0x80070002

So how do I solve this? First time EVER I've ran into this.

Windows 10 Pro x64.

[2018-07-18 12:55] johnnygerard opened #6529 "Last example"
It is said that:
"global::System.Console must be used to reference the System.Console class"
but I can replace this line:
global::System.Console.WriteLine(name + " " + test[name]);
by this line:
Console.WriteLine(name + " " + test[name]);
and it works fine.

We have access to the Console class because we are in the System Namespace.

There's something wrong here.

---
#### Document Details

⚠ *Do

[2018-07-18 13:02] johnnyagerard commented on #6529
For this example to work, we could nest this System namespace in another namespace like this:
using colAlias = System.Collections;
namespace MyNamespace
{
    namespace System
    {
        class TestClass
        {
            static void Main()
            {
                // Searching the alias:
                colAlias::Hashtable test = new colAlias::Hashtable();

                // Add items

[2018-07-18 14:06] TheBeardedLlama opened #6531 "Should this page (et al) have an "available from vX" section?"
I think it would be nice to have a section in this doc saying "this feature was introduced in version X of the language". Could be extended for deprecated features, etc.
This is useful for those of us that are still on legacy systems and have to be careful about what we use and where.
Instead, now I have to look somewhere else for this information.
Thanks for reading folks :)

---
#### Document De

[2018-07-18 15:04] haakoo opened #6532 "Working example - with configuration from appsettings.json"
It would be nice if there was an working example of how to use WCF from .Net core _the right way_. By that I mean using the recommended architecture from MS, loading configuration from `appsettings.json`, and ideally have the service reference in it's own .Net Standard project to isolate it from the rest of the system.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-07-18 16:40] sayhurtz33 opened #6533 "file"
whats file is this for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48baa81e-33e9-2659-ad69-65a6071cad7f
* Version Independent ID: 63265d87-90a5-3e37-aae8-8b8ebbe68981
* Content: [ElementLocation.File Property (Microsoft.Build.Construction)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.construction.el

[2018-07-18 17:01] Tanya-Solyanik commented on #5827
@ptoye  - consider using System.Windows.Forms.FolderBrowserDialog in a stand alone app

[2018-07-18 17:02] JRAlexander commented on #6532
Thanks, @haakoo for the feedback. @mlacouture any thoughts on this?

[2018-07-18 17:05] JRAlexander commented on #6532
@mlacouture any thoughts on this?

[2018-07-18 17:09] paulomorgado opened #6534 "Conditional ref operator"
Conditional ref operator (mentiond here: https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md#c-72) is a C# 7.2 feature but it's not mentioned on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f86ebf5-b5c0-324a-43df-c17015729d01
* Version Independent ID: 8ce4ad4a-3dbd-42dc-bae3-2

[2018-07-18 17:10] keenam opened #6535 "DataRowVersion description is misleading for Default"
DataRowVersion description indicates the Default version would yield Original value for a delete row. (`The default row version for a Deleted row is Original. `)

That's not the case. There's another link for DataRowVersion that correctly indicates Default for Delete Row (`Current`)  https://docs.microsoft.com/en-us/dotnet/api/system.data.datarowversion?view=netframework-4.7.2

---
#### Document D

[2018-07-18 17:35] mairaw commented on #1827
Moved issue to https://github.com/MicrosoftDocs/feedback/issues/533

[2018-07-18 17:35] #1827 closed

[2018-07-18 17:40] #6509 closed

[2018-07-18 17:47] mlacouture commented on #6532
Hi @haakoo.
let me make sure I understand your request:
1. Can you be more specific about what you mean by 'recommended architecture from MS'? do you mean the recommended solution for the problem you are trying to resolve?
2. Loading configuration from appsettings.json is something specific to ASP.NET, the .NET Core platform doesn't have support for appSettings currently.  Are you looking for some

[2018-07-18 18:37] haakoo commented on #6532
To quickly explain where I'm at; I'm converting an old (.Net 4.0) application (consuming and serving WCF-services) to .Net Core. I can't change the WCF-service I'm consuming, but I'm converting from WCF to WebApi where I can.

1. Basically the [eShopOnWeb](https://github.com/dotnet-architecture/eShopOnWeb) example and _Architecting Modern Web Applications with ASP.NET Core and Azure_ e-book.

2. I

[2018-07-18 19:12] haakoo commented on #6532
I just tried a bit more, and by using the nuget-package [Microsoft.Extensions.Configuration.Json](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json/) I could use:

[code]

Now to figure out how to pass the loaded configuration to the generate WCF-client.

[2018-07-18 19:24] rpetrusha commented on #6527
@PaulCr125, is this happening when you're running the example code, or does it result from attempting to compile and execute your own code? Can you provide any additional information, such as the text of the error?

[2018-07-18 19:31] paulomorgado opened #6536 "Syntax error"
`public D(int i) : B(i, out var j)`should be `public D(int i) : base(i, out var j)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddcaa6a52
* Version Independent ID: 6ea1af7f-2251-f05f-4834-5a00e57fc5fb
* Content: [What's new in C# 7.3](https://docs.microsoft.com/en-us/dotnet/csharp/whats-ne

[2018-07-18 19:46] BillWagner commented on #6536
Thanks for pointing that out @paulomorgado I've submitted #6536 to fix this.

When you find issues like this that have an obvious fix, you can click the "edit" button and create the PR instead of writing the issue. In cases like this, it may save us both time. 🏎

[2018-07-18 19:47] mlacouture commented on #6532
Good progress 👍 - the generated client provides a partial method you can implement for configuring the service endpoint bindings, the method signature looks like the following:

`static partial void ConfigureEndpoint(System.ServiceModel.Description.ServiceEndpoint serviceEndpoint, System.ServiceModel.Description.ClientCredentials clientCredentials)`

[2018-07-18 20:11] rpetrusha commented on #6528
I'm sorry to hear that you're having difficulties, @IzaacJ. The following may help resolve your problem:
- [Install the .NET Framework 3.5 on Windows 10, Windows 8.1, and Windows 8](https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows-10)
-  [Error message when you try to update a Microsoft Windows-based computer: "0x80070002"](https://support.microsoft.com/en-us/help/922582

[2018-07-18 20:11] #6528 closed

[2018-07-18 20:36] #6518 closed

[2018-07-18 21:49] justinTM opened #6539 "Not allowed in Visual Basic for Applications 7.1"
Hey there!

I'm getting syntax compile-time errors when using this operator (and the "+=" operator) in Visual Basic for Applications 7.1 (2012). Just a heads up because you might want to warn people about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9428c377-2798-2955-b41b-353bcf64c150
* Version Independent ID:

[2018-07-18 22:19] #5827 closed

[2018-07-18 23:23] rpetrusha commented on #6539
Thanks for submitting your feedback, @justinTM. Unfortunately, https://docs.microsoft.com/dotnet/visual-basic documents Visual Basic .NET only, and not Visual Basic for Applications. Since differences between VBA and Visual Basic .NET are beyond the scope of the documentation, I'll close this issue.

[2018-07-18 23:23] #6539 closed

[2018-07-19 00:03] sfilipi opened #6542 "Not everything documented in the code appears in the docs website"
This namespace has a lot more other public classes and public methods inside them, that don't appear in the docs.microsoft.com website.

For example: AppendRowsDataView is public and does have proper XML style comments on it: https://github.com/dotnet/machinelearning/blob/a5faca6beac1b7b5a19e1211dfaa1e254ae1f370/src/Microsoft.ML.Data/DataView/AppendRowsDataView.cs

It also exists in the docs repo:

[2018-07-19 00:11] mairaw commented on #6542
Hi @sfilipi, this is because that API was the only one chosen to be exposed in the docs before.
You can see the logic of what's being filtered out at https://github.com/dotnet/ml-api-docs/blob/master/dotnet/xml/_filter.xml.

We can make adjustments if needed. I can remove the whole filter for that namespace if that's what you wanna do. Just let me know if that's what you wanna do.

We should revie

[2018-07-19 00:33] mairaw commented on #6539
You can find the list of VBA operators at https://msdn.microsoft.com/en-us/vba/language-reference-vba/articles/operators.

[2018-07-19 03:09] ericmutta opened #6544 "Small feedback box on bottom right corner vanishes before you finish typing."
When you open a documentation page, there's a small popup on the bottom right of the page which asks "Is this page helpful?". If you click YES, it says "thanks" then gives a link where you can give comments or suggestions. Pressing that link opens up a small comment box and if you start typing and keep going for a few seconds, it just vanishes (I think the timer that makes it vanish when you have

[2018-07-19 07:04] DavidMeerkatRefaeli commented on #5763
@BillWagner Maybe just add clarification that without the volatile, the worker thread will run a few more times the while-loop with the Console.WriteLine("Worker thread: working..."); because of stale data, before finally updating its cache (if I understand correctly how volatile works). Where as - with volatile it will exit the loop immediately as the field is changed.

[2018-07-19 07:20] cremor commented on #5763
@DavidMeerkatRefaeli I only have a very limited understanding of `volatile` but I don't think this would help that much. If you read through [this StackOverflow question](https://stackoverflow.com/questions/10631629/volatile-violates-its-main-job) and [the article from Eric Lippert](https://blogs.msdn.microsoft.com/ericlippert/2011/06/16/atomicity-volatility-and-immutability-are-different-part-thr

[2018-07-19 07:21] mairaw commented on #6544
Thanks for your feedback @ericmutta. I've moved your issue to https://github.com/MicrosoftDocs/feedback/issues/534, given this is a problem with the site functionality.

[2018-07-19 07:21] #6544 closed

[2018-07-19 11:44] astmehalthakor opened #6546 "Documentation for ML.Net 0.3"
There may be a need to update the Documentation (Features available) of ML.Net 0.3. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd15175c-5b7d-4310-ecf5-32ffc7bc588b
* Version Independent ID: 38adc676-934e-0ff9-c868-527f075c96df
* Content: [Machine learning tasks](https://docs.microsoft.com/en-us/dotnet/machi

[2018-07-19 12:23] StevenLiekens opened #6547 "Don't use transparent backgrounds in images"
The diagrams are impossible to read in Dark mode because they contain black text and shapes on a transparent background.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Version Independent ID: fa6385e8-91ad-7949-382f-ca8e03f8201c
* Content: [Domain events. design and implementation

[2018-07-19 14:06] #6536 closed

[2018-07-19 14:54] #5974 closed

[2018-07-19 15:18] mairaw commented on #6535
@BillWagner was this one closed by mistake?

[2018-07-19 16:47] rpetrusha opened #6553 "Document globalization invariant mode"
# Document globalization invariant mode

Invariant mode uses the invariant culture, rather than data for individual cultures, for all globalization behavior. It is useful particularly in scenarios where identical behavior across .NET Core platforms is desirable, and where there is a need to reduce the size of self-contained deployments. (The deployment for Linux systems does not include ICU librar

[2018-07-19 18:05] #4659 closed

[2018-07-19 18:07] davidljung commented on #2927
No mention of Windows 10?

[2018-07-19 18:15] mairaw commented on #2927
Not sure if I understand the question @davidljung. Why would we mention Windows 10 in this context?

[2018-07-19 18:26] samboustani opened #6554 "CatalogType is missing"
CatalogBrand also missing.  Incomplete documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376577d9-c559-9d5d-e263-ff9f0fb6ac27
* Version Independent ID: 29164c20-12a7-6bf2-a946-03ef2477d61b
* Content: [Creating a simple data-driven CRUD microservice](https://docs.microsoft.com/en-us/dotnet/standard/microservi

[2018-07-19 18:38] #6010 closed

[2018-07-19 19:13] BillWagner commented on #6523
re-opening because the fix was to modify content that is copyrighted by the original publisher and we don't have the rights to update it.

[2018-07-19 19:24] mairaw commented on #5915
I don't feel like we should add that information back. @terrajobst what do you think? I'm inclined to close this issue as by-design. We should encourage people to move to newer versions of the SDK.

[2018-07-19 20:04] 0x53A commented on #5915
I'd like to reword my ask:

Please provide two rows, one for natively supported, one for supported through shims.

Scenario: I have a .NET Standard 2.0 Lib and Exe. For which frameworks is my deployment 2 files, and for which frameworks is my deployment 100 files?

[2018-07-19 20:13] rbwhitaker opened #6559 ""Notes to Implementers" referenced, but only "Notes to Inheritors" exists"
In the Remarks section, it says, "See 'Notes to Implementers' section for more information..." but there is only a "Notes to Inheritors" section. I don't know which way is the right way, but it seems like there's a mismatch that should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce3ba39f-7771-e6ab-15bf-68b

[2018-07-19 20:16] JRAlexander commented on #6546
@astmehalthakor, thanks for your feedback!, This is planned for the next sprint.

[2018-07-19 21:09] StingyJack opened #6561 "This is a fantastically useful article"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 153e045b-c112-2680-df56-70270afbf1a9
* Version Independent ID: 4dc73bd5-260a-c40d-d972-b8ee23f6ec05
* Content: [Large Data and Streaming](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/large-data-and-streaming)
* Content Source: [docs/framework/wcf

[2018-07-19 21:31] JRAlexander commented on #6561
Thanks, @StingyJack, for the feedback! We've glad it helped you!

[2018-07-19 21:42] #6561 closed

[2018-07-19 21:44] mairaw commented on #6547
Thanks for your feedback @StevenLiekens.
@CESARDELATORRE can we generate non-transparent versions of the images for the e-books? It does look bad on Dark mode indeed:

![image](https://user-images.githubusercontent.com/12971179/42971748-4535b390-8b62-11e8-9ba4-4f9f42438743.png)

[2018-07-19 22:11] todduk commented on #5818
The article does not discuss registry changes.

[2018-07-19 22:43] mairaw commented on #5818
@todduk we have since removed the registry change. @OliaG can you comment on this issue? Should we close this or do we want to add some additional information to the topic?

[2018-07-19 22:54] terrajobst commented on #5915
What corner cases are you referring to? dotnet/sdk#1738 seems to only talk abou 4.7.1. AFAIK 4.7.2 has no issues with consuming .NET Standard 2.0 binaries.

That makes it more complicated that it needs to be. My opinion is that we should probably jut change the cell from 4.6.1 to 4.7.2 once 4.7.2 is (widely) available. We can then add an asterisk that points people so some guidance on how to use .

[2018-07-19 23:13] turing-complet opened #6562 "Optional types section missing part of example"
This section seems to end prematurely without providing example usage of option types. It ends with `let CustomerShippingZone (calculator: IShippingCalculator, customer: Customer) =`  which I assume would include the useful parts if it was continued.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bef555-3de1-5d81-c02

[2018-07-19 23:47] OliaG commented on #5818
Registry change is not a suggested way of fixing that problem since the feature is not officially published to external users and supported. In the next release 15.8 we will have a solution for that issue in Visual Studio. Meanwhile it's up to you if you prefer to update the registry key, but we are not going to promote this solution in the docs.

[2018-07-19 23:54] mairaw commented on #5818
Thanks @OliaG. I'll close this one as by-design then. We can document the new feature then once it's out.

[2018-07-19 23:54] #5818 closed

[2018-07-19 23:56] #6535 closed

[2018-07-20 00:01] mairaw commented on #5736
@johnbeisner I'm out next week but can we work on this issue on the week of Aug-30?

[2018-07-20 00:18] mairaw commented on #6409
Thanks for your feedback @EddieLotter. Most of the WPF samples were moved from the site that was shut down to https://github.com/Microsoft/WPF-Samples. However, I couldn't find this particular sample there. There's a version of the project at https://github.com/dotnet/samples/tree/master/snippets/csharp/VS_Snippets_Wpf/CustomControlNumericUpDownOneProject/CSharp, however we'd have to check if it m

[2018-07-20 00:22] mairaw commented on #6082
I couldn't find this particular sample at https://github.com/Microsoft/WPF-Samples. There's a version of the project at https://github.com/dotnet/samples/tree/master/snippets/csharp/VS_Snippets_Wpf/ControlTemplateExamples/CS/, however we'd have to check if it matches the text where this sample is referenced. So moving this to our backlog for now.

[2018-07-20 02:00] #2927 closed

[2018-07-20 03:38] EddieLotter commented on #6409
Thanks for looking into it @mairaw.

[2018-07-20 03:44] bdcoder2 opened #6564 "Exceptions?"
Question - I ASSUME if the documentation does not include an "Exceptions" section, then none can or will be thrown (in this case) by the Enqueue() method? - Yes / No?

Once upon a time, in documentation far, far away there used to be mention of error codes returned by functions.   It would be nice to know if methods do or do not throw exceptions.   As Yoda once said -- "Do or do not, there is no t

[2018-07-20 04:18] yanxiaodi opened #6566 "Button is a kind of Control"
"for example, the Button class is a kind of Control event". I think "event" should be deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b47b5f-7a8e-5f9b-10dd-ed409fa1b57a
* Version Independent ID: 60b5834c-41ba-37b8-5f35-74e890d7f92f
* Content: [Names of Classes, Structs, and Interfaces](https://docs.microsoft.

[2018-07-20 05:21] KentRollins opened #6567 "Terms are subjective"
This gives a good example of how to use SpinLock and some indication of why one might prefer it over Lock, but many of the terms used here are very subjective and therefore fuzzy with respect to when one should choose SpinLock.  Here are the subjective parts that make this difficult: "not going to be held *for very long*", "spin for a *few cycles*", "stop spinning *under certain conditions*".  I k

[2018-07-20 07:29] NickHumphries opened #6568 "Object initialisers, what's the benefit?"
It seems to me that object initialisers simply move code from one place to another. What is the actual advantage of using this style?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5121576-832f-dba0-f489-ba17c1891161
* Version Independent ID: 0ffb923c-a49c-ed59-abb6-9618aea5df61
* Content: [How to: Initialize Objects

[2018-07-20 11:04] hagatorn opened #6570 "Why are these repeated?"
&lt;requestCaching&gt; Element (Network Settings)	Specifies the modules used to request information from Internet hosts.
&lt;requestCaching&gt; Element (Network Settings)	Configures basic network options for the System.Net namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 489be477-8555-f4f3-06c2-c65419786c3a
*

[2018-07-20 11:28] grnde opened #6571 "Missing Diagram?"
In the section "Type Mapping Run-time Behavior Matrix" there is a diagram mentioned. A [Stack Overflow page](https://stackoverflow.com/questions/1440620/which-sql-server-data-type-best-represents-a-double-in-c/1440631#1440631) does it mention too. So I think it's maybe missing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-20 13:06] bartlannoeye opened #6574 "Arch. microservices figure 4-10: Inconsistent entity names"
Following entity names should be pluralized in the picture to be consistent with the rest of the entity names:

- Conferences Management > Country
- Orders and Registration > Reservation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29b58eb-8681-1a9b-93bb-431e3d7c68c8
* Version Independent ID: 3c121eca-c7e7-b0a6-3db0

[2018-07-20 14:55] ericmutta commented on #6544
@mairaw many thanks for following up!

[2018-07-20 15:03] paulomorgado opened #6575 "C# 1.2 is missing"
C# 1.2 is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d252158-0367-77c8-1816-dbc385c5c40b
* Version Independent ID: 575872e5-6273-f8f6-e3e2-2b911cd9d009
* Content: [The history of C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-version-history)
* Content Source: [docs/csharp/

[2018-07-20 15:19] Pxtl opened #6576 "Exception Descriptions vs Messages is ambiguous"
The guide describes the importance of good descriptions that will be used for internationalizing, but also describes grammatically correct messages.  The Exception class has only a *message*, and it is generally formatted to be a full error message.  Using the message also as a key for internationalizing seems like a bad idea - are they supposed to be two separate members, an internationalization

[2018-07-20 16:24] rpetrusha commented on #6564
Thanks for your feedback, @bdcoder2. In general, we attempt to document all exceptions that might be thrown by a method. In an ideal world, all exceptions are documented, and if there is no exceptions section, the method does not throw an exception. Unfortunately, though, we're not perfect, and we do miss exceptions that should be documented. Where this is the case, please let us know via a GitHub

[2018-07-20 16:24] #6564 closed

[2018-07-20 16:36] #5487 closed

[2018-07-20 16:38] Pxtl opened #6578 "Incomplete documentation"
It leaves out any discussion of serialization, and doesn't discuss how to add custom members.  Get it out of my search results or fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041f6b4c-2b7e-5332-f24e-12af7a5b07aa
* Version Independent ID: e9c2287f-1c4e-ee07-a1ff-77a3f07ce1a4
* Content: [How to: Create User-Def

[2018-07-20 17:34] scottaddie opened #6581 "Markdig migration preparation - master issue - round 1"
The docs below, in the *master* branch, were flagged during the test run of the Markdig migration. Refer to the spreadsheet's *DifferenceAfterMigration* tab for more details, and apply the following column filter:

- *Migrated* = True

The *SourceMarkdown* column contains the offending Markdown. Changes can be validated in the *markdig-migration* branch. Refer to [Markdig Migration Information](ht

[2018-07-20 18:39] shehackspurple opened #6582 "Feedback on String Interpolation"
I had a friend run through all of this last night.  He said steps 4-7 for the String Interpolation were explained in a way that confused him, he found it hard to understand.

He also mentioned when introducing the "Trim" method, that the example seemed over complicated, and that parentheses character was introduced, but then not explained.  So he was unsure what it does.

He suggested using a simp

[2018-07-20 19:21] rpetrusha commented on #6578
Thank you, @Pxtl, for your feedback. Unfortunately, your criticism of this topic is justified. It doesn't explicitly discuss inheriting from Exception, it doesn't discuss serialization, and it doesn't discuss adding additional members.
This issue is a duplicate of #5949, so I'm going to close this issue. However, we have scheduled time to improve this topic so that it will provide all of the infor

[2018-07-20 19:21] #6578 closed

[2018-07-20 19:30] rpetrusha commented on #5949
I apologize for the belated response, @nex-54. This article should discuss serialization of custom exceptions, but conspicuously fails to do so. We'll address that and other issues, which I'll list in my subsequent comment, in our next sprint, which begins on Monday, July 23.

[2018-07-20 19:36] rpetrusha commented on #5949
## Issues to address in revising the custom exceptions article
The article is intended to be a "how to" that shows how to create a custom exception. It fails conspicuously. It needs to be revised as follows:
1. It should implement some type of practical custom exception type.
1. It should explicitly mention that exceptions inherit from Exception.
1. It should implement at least one custom member o

[2018-07-20 19:41] rpetrusha commented on #5999
What is the app that crashes, @KetoDuo? Are you still having difficulty with it? Can you provide any additional information, such as an error message?

[2018-07-20 19:54] newton3 opened #6583 "dotnet build does not generate *.runtimeconfig.json"
dotnet build does not generate *.runtimeconfig.json with both 2.0 and 2.1, the document is not quite right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-00dc-417c-db017f83bf6f
* Version Independent ID: 5e495ddd-140e-de5c-a793-d4a9f88be51e
* Content: [dotnet build command - .NET Core CLI](https://docs.mi

[2018-07-20 20:00] sputier commented on #5732
I just submitted a proposal for this issue 😄

[2018-07-20 20:14] rpetrusha commented on #6570
Thanks for pointing this out, @hagatorn. The duplication is an unintentional one that has persisted for a long time in our documentation set. I've opened PR #6585 to eliminate the duplicate item and correct the description.

[2018-07-20 20:47] rpetrusha commented on #6568
Thanks for submitting your feedback, @NickHumphries. Using object initializers is really a matter of coding style and preference. That said, it offers two attractive features: making the intent of code clearer, and convenience (as well as cleaner, more concise code).
As far as making the intent of code clearer, in the example, the choice is to call the constructor, where it's not always clear what

[2018-07-20 20:47] #6568 closed

[2018-07-20 20:57] wrummler opened #6586 ""Member Names" chart is incorrect for attributes on fields"
The chart says (paraphrasing), "[if a] call occurs within [an] attribute constructor [then the] member name result [is] the name of the member to which the attribute is applied". Seems to imply that this might work for fields, but I've tested it, and it's true for attributes applied to properties, not for attributes applied to fields.

Relevant SO post: https://stackoverflow.com/q/35488646/402749

[2018-07-20 21:46] cartermp commented on #6562
Thanks @turing-complet, it seems that the line ranges for including chunks of the sample code for the F# tour were offset a bit. This is addressed in #6588

[2018-07-20 21:56] cartermp commented on #6526
@mairaw do you know if it is possible to do something like this in a table with docfx?

[code]

Where `fsharp` is used to apply syntax coloring. That's what appears to be happening here, and it's failing to render correctly. Perhaps inline HTML is needed?

[2018-07-20 22:02] cartermp commented on #6430
Link #6589 - Thanks @Ciantic

[2018-07-20 22:04] #6106 closed

[2018-07-20 22:04] JRAlexander commented on #6106
I've merged this and the changes should be live in the next few days.

[2018-07-20 22:05] #6570 closed

[2018-07-20 22:08] mairaw commented on #6526
I don't think so. You might have to use inline HTML.

See an example I was just working on right now:
https://github.com/dotnet/dotnet-api-docs/pull/370/commits/0a38d489df81732801763bf4314e8bea7b70cf31

It could be better to just use snippet references in cases like this as well.

[2018-07-20 22:20] #6430 closed

[2018-07-20 23:44] turing-complet commented on #6562
Sounds good, I will close this then.

[2018-07-20 23:44] #6562 closed

[2018-07-20 23:58] hadjipantelis opened #6590 "State default values for Trainers' Properties."
It would be very convenient if defaults values are clearly stated in the documentation (eg. `100` in the case of integer or `TRUE/FALSE` in the case of Boolean arguments).

Thank you for all your work on this, it is a very impressive project!

Pantelis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ede7f5-56c2-40ee-4

[2018-07-21 13:16] svick commented on #5949
@rpetrusha

Should that actually be the recommended practice in new code?  Considering that this is only necessary if you use technologies like `BinaryFormatter` or `AppDomain`, which are generally considered not recommended anymore, especially if you're targeting .Net Core.

[2018-07-21 14:34] ptoye commented on #5827
Tanya - I tried using System.Windows.Forms.FolderBrowserDialog but it has a major design fault which I have logged at https://developercommunity.visualstudio.com/content/problem/266552/folderbroswerdialog-does-not-allow-arbitrary-start.html

That's why I was poking around for a better solution. Do you know of one?

[2018-07-21 20:49] edfallin commented on #6111
I'm sorry to see this has been closed, but at any rate next time I'll know where to comment on overall topics.

[2018-07-21 21:47] rpetrusha commented on #6576
Thanks, @Pxtl, for submitting another feedback item.
The term "description" appears suddenly in this article with no explanation. It is in fact the Message property, which is intended to be a localized string. Typically, localized exception messages are stored as values corresponding to a named key in a resource file. For information on using resources in .NET applications, see  [Resources in Desk

[2018-07-21 21:53] rpetrusha opened #6598 "New Topic: Creating localized exception messages"
# New Topic: Creating localized exception messages

Our [Best practices for exceptions](https://docs.microsoft.com/en-us/dotnet/standard/exceptions/best-practices-for-exceptions#include-a-localized-description-string-in-every-exception) article mentions creating localized exception messages, but it provides no guidance on how to do this. What's needed is a simple walkthrough that creates a custom

[2018-07-21 21:57] sputier commented on #276
Since @jfversluis droped the ball, I'm going to take over from him to tackle this issue 😄

[2018-07-22 03:57] user135711 opened #6599 "Extensions don't match in examples"
I believe the line `dlg.DefaultExt = ".text"; // Default file extension` should be `dlg.DefaultExt = ".txt"; // Default file extension`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc9312d-0333-286d-9d05-aaae6b98011d
* Version Independent ID: 5dd7b554-95f7-e86c-7338-2c8714a23df4
* Content: [Dialog Boxes Overview](ht

[2018-07-22 11:31] brunomartinspro opened #6600 "EntitySetName with grammar errors"
In:
"[QueryInterceptor( EnitySetName )]
...
[ChangeInterceptor( EnitySetName )]
..."
EnitySetName should be EntitySetName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ff514a-172d-6cec-4c22-3350e6da3a7f
* Version Independent ID: 09383934-9cec-987a-8d8e-903a62882208
* Content: [Interceptors (WCF Data Services)](https

[2018-07-22 11:38] brunomartinspro commented on #6600
Opened a pull request to fix it, [https://github.com/dotnet/docs/pull/6601](https://github.com/dotnet/docs/pull/6601)

[2018-07-22 16:53] johnnyagerard opened #6604 "question"
I don't understand the following sentence:
"If one of the floating-point types is double, the expression evaluates to double, or bool in relational or Boolean expressions."

How would an expression evaluates to bool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e6f9e34-ee46-1de3-45ed-aa671aa7b098
* Version Independe

[2018-07-22 17:14] johnnyagerard commented on #6604
We're talking about comparison operators right ?
Like x < y  or x == y.
But not Boolean operators like x && y or x || y.

[2018-07-22 20:50] BillWagner commented on #5763
I'm leaning toward keeping a simple sample that explains the syntax, even though the behavior is not easy to show in a small sample.

[2018-07-22 20:53] johnnyagerard opened #6608 "example output"
Running the example code, I don't have the exact time of the day:
20
Example string.
7/22/2018 12:00:00 AM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f669fa6b-11b2-4b97-898d-025018e76cd5
* Version Independent ID: e1745bae-146e-ae73-2c17-a5e16eaa303f
* Content: [dynamic (C# Reference)](https://docs.microsoft.com/en-

[2018-07-22 20:53] johnnyagerard commented on #6608
It's in convertToDynamic() static method

[2018-07-23 00:44] #5732 closed

[2018-07-23 00:51] #5419 closed

[2018-07-23 00:54] #5950 closed

[2018-07-23 01:38] ryancrawcour opened #6610 "broken links"
the links at the end of the doc that talk about "Asynchronous microservice integration enforces microservice autonomy" and "Asynchronous message-based communication" don't go anywhere. they both link right back to this doc.

https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/architect-microservice-container-applications/distributed-data-management …. that's this doc! and t

[2018-07-23 07:15] user135711 opened #6612 "Addins and extensibility is halfway on msdn and halfway on ms docs."
The linked topics to msdn in the [add-ins](https://docs.microsoft.com/en-us/dotnet/framework/add-ins/index) topic should be moved to ms docs if they are still valid.

I count the following links from ms docs:
http://msdn.microsoft.com/library/5d268dde-11df-4c4d-a022-f58d88bbc421
http://msdn.microsoft.com/library/bedcbcdf-5964-4215-b5f3-3299798b2b3f
http://msdn.microsoft.com/library/7afe7ec8-5158-4

[2018-07-23 08:33] pkulikov commented on #6582
@shehackspurple are you talking about the [Hello C#](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-world) quickstart?
- The [string interpolation](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/interpolated-strings) quickstart has only five steps
- The `Trim` method is introduced at the [step 4](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-worl

[2018-07-23 08:58] rajkamal221283 opened #6613 "Cannot find name and timeout attributes under basichttpbinding"
I am using .Net 4.5.1 and cannot see such attributes on the basichttpbinding as shown here
under
&lt;basicHttpBinding
        name="shortTimeout"
        timeout="00:00:00:01"
     /&gt;

These attributes can be visible only under binding tag/field  of basichttpbinding.

&lt;basichttpbinding&gt;
&lt;binding name=??? /&gt;
&lt;/basichttpbinding&gt;

Can you please update the documentation. Thank yo

[2018-07-23 09:53] karyaevsm opened #6614 "dotnet test doesn't respect DOTNET_UI_LANGUAGE env variable"
See the subject.

```dotnet --info``` obeys the environment variable, but ```dotnet test``` doesn't.

**Steps to reproduce:**

$ export DOTNET_CLI_UI_LANGUAGE=en-US

$ echo $DOTNET_CLI_UI_LANGUAGE
en-US

$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID

[2018-07-23 10:07] jmlarch opened #6615 "Comment in example violates content neutrality"
The following comment can be interpreted as taking sides on a hot-button issue: Retrieve Darwin's "Origin of the Species" from Gutenberg.org.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcfe22a9-486f-f4d4-2611-94dc2b76e4d0
* Version Independent ID: 71ebda9d-6cb2-2927-d009-58d984bebce8
* Content: [How to: Use Paralle

[2018-07-23 10:12] raffaeler opened #6616 "Missing new ReadOnlySpan overloads"
The StringBuilder API has been recently (2.1) improved with many overloads taking ReadOnlySpan&lt;char&gt; but the documentation, althought referring to 2.1, does not report them.
Reference: https://github.com/dotnet/coreclr/pull/13163/commits/997f4e8e114f5d582b85a8fe29a880cdbcc0bca0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-07-23 13:20] SheepRock opened #6618 "Code split in multiple boxes"
Along all the article, code is splited in several boxes. For example, the image bellow shows one piece of code that is splited in 3 code boxes:

![image](https://user-images.githubusercontent.com/20205505/43078637-66e86d32-8e61-11e8-9bd6-c472bd922fcb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74f6fd8f-6037-a17

[2018-07-23 13:50] svick commented on #6614
This isn't an issue with documentation, so dotnet/docs this is not the right repo for it. I think a good repo for this issue is [dotnet/cli](https://github.com/dotnet/cli). Can you close the issue here and reopen it there?

And when you, can you clarify whether the environment variable you're talking about is `DOTNET_UI_LANGUAGE` or `DOTNET_CLI_UI_LANGUAGE`? You seem to be using both.

[2018-07-23 14:47] irigopou opened #6620 "Do not use MailAddress.MailAddress(String) class constructor to check email address validity!"
The MailAddress.MailAddress(String) class constructor throws no exception when the input string contains empty spaces!
This means that a string with empty spaces would be validated as a proper email address, if we were to use the technique suggested on the top of this article.
I have checked the above with .NET 4.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-07-23 15:38] karyaevsm commented on #6614
Uops, what a shame on me! (

Thank you for quick reply.

PS: Yes I've experimenting with setting both variables when the one from docs have not worked for me.

[2018-07-23 15:38] #6614 closed

[2018-07-23 16:19] rpetrusha commented on #6616
@raffaeler, which APis are missing? A comparison of source with the StringBuilder documentation shows the following are all present:
- [CopyTo(Int32, Span\<Char>, Int32)](https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder.copyto?view=netcore-2.1#System_Text_StringBuilder_CopyTo_System_Int32_System_Span_System_Char__System_Int32_)
- [Append(ReadOnlySpan\<Char>)](https://docs.micr

[2018-07-23 16:19] #6616 closed

[2018-07-23 16:22] rpetrusha commented on #6620
@davidsh, can you comment on the use of the Mail.MailAddress.#ctor(String) to validate an email address? Do we need to remove mention of it from this regex topic, where it's presented as the preferred alternative to a regex?

[2018-07-23 16:29] rpetrusha commented on #6618
Thanks for opening this issue, @SheepRock. This is a known issue that resulted from migration from our old authoring system to GitHub; see issue #2994. I've added the issue to our community contributors' project so that members of the community can address it.
I'm going to close this issue as a duplicate.

[2018-07-23 16:29] #6618 closed

[2018-07-23 16:46] #6576 closed

[2018-07-23 16:51] SheepRock commented on #6618
@rpetrusha Thanks! I tried to correct the issue, but I didn't understood the sintax. This is the code:

[code]

The link didn't open, but I found [the file](https://github.com/dotnet/samples/blob/master/snippets/xaml/VS_Snippets_Wpf/DataTemplatingIntro/xaml/window1.xaml) In the file, I didn't understand how it's referenced by "#UI2" etc, as I didn't see any thing that resembles this tag.

Also, Ho

[2018-07-23 17:10] rpetrusha commented on #6618
Thanks, @SheepRock, for responding. I'll respond to your questions somewhat later, in about five hours.

[2018-07-23 17:14] JRAlexander commented on #6523
Moved to 142 as author will not be available until then.

[2018-07-23 17:20] BillWagner commented on #4241
Related to #5304

[2018-07-23 17:21] JRAlexander commented on #5472
@KathleenDollard, This is really a product related topic now, correct? If so, I can close this and an issue can be created in the product repo

[2018-07-23 17:52] douglaslMS commented on #6571
@grnde I recognize the value of this diagram. I cannot discover from the history when it was removed from the page, or whether that happened intentionally. I am opening a separate PR to restore the missing diagram. Thanks for bringing this to our attention, and for providing the StackOverflow link.

[2018-07-23 18:17] Powerhelmsman opened #6624 "Inherited member should have a dedicated page or redirect to the parent automatically"
The issue was created by @Kimi-Arthur from https://github.com/MicrosoftDocs/feedback/issues/530
For example, in this page there are several inherited members (like Data), clicking the link will bring you to the parent class's doc page, which is fine.
But to make it perfect, it should also be available directly through visiting
https://docs.microsoft.com/en-us/dotnet/api/system.io.ioexception.data?

[2018-07-23 19:25] LisandroSu opened #6625 "[global-json] Please add possible locations of the **global.json**"
@TobiasSekan commented on [Mon Jul 23 2018](https://github.com/dotnet/docs.de-de/issues/92)

Hello,
Please add possible locations (paths) of the **global.json**

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35

[2018-07-23 19:42] LisandroSu opened #6626 "[operator overload] Please add a complete example and more informations"
@TobiasSekan commented on [Sat Jul 21 2018](https://github.com/dotnet/docs.de-de/issues/91)

Hello, please add
1. A complete example with all possible operators
2. Information about the opposite operators (e.g. `<<` need `>>` , `==` need `!=` )
3. `GetHashCode()` and `Equals(object a)` should be implement when compare operators are used
4. Links to important interfaces for operators `IComparable`,

[2018-07-23 19:43] LisandroSu commented on #6626
Hi team, the user is requesting more examples for the file.

Thanks!

[2018-07-23 19:59] shehackspurple commented on #6582
Yes, I am talking about that tutorial.

Was that helpful feedback?

[2018-07-23 20:30] JRAlexander commented on #5326
Closing as it appears resolved. If this isn't the case, please reopen. Thanks!

[2018-07-23 20:30] #5326 closed

[2018-07-23 20:32] JRAlexander commented on #5586
Closing as it appears resolved. If this is not the case, then please reopen. Thanks!

[2018-07-23 20:32] #5586 closed

[2018-07-23 20:35] JRAlexander commented on #5676
Closing as duplicate of #2934. If this is not the case, then please reopen. Thanks!

[2018-07-23 20:39] JRAlexander commented on #5676
@DnlHarvey and @jeffschwMSFT

[2018-07-23 20:39] #5676 closed

[2018-07-23 20:41] JRAlexander commented on #5744
@cartermp any updates to this one? Can you assign a milestone?

[2018-07-23 20:44] JRAlexander commented on #5768
Bumping this -
@karelz @davidsh can you guys help with these questions? Can you help with the fixes needed here? Thanks!

[2018-07-23 20:47] JRAlexander commented on #5780
Closing as it appears resolved. If this is not the case, then please reopen. Thanks!

[2018-07-23 20:49] JRAlexander commented on #5756
@axelandrejs, just checking in on this topic. Has there been any further action on follow up?

[2018-07-23 20:51] JRAlexander commented on #5791
@mairaw, any updates on this? Thanks!

[2018-07-23 20:51] pkulikov commented on #6620
To provide provide more context, I've tested the constructor under discussion with some inputs that contain white spaces and checked the resulting [MailAddress.Address property](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.mailaddress.address?view=netframework-4.7.2).

The following list presents the results:
- "" (empty string) results in `ArgumentException`
- " " (string that cont

[2018-07-23 21:02] JRAlexander commented on #5802
Closing as this does not appear reproducible. Our path is at "C:\Windows\Microsoft.NET\Framework\v4.0.30319\SQL\en\"  . If this is not the case, then please reopen. Thanks!

[2018-07-23 21:02] #5802 closed

[2018-07-23 21:03] JRAlexander commented on #5804
Bumping -
@cartermp can you take a look at this feedback? Thanks!

[2018-07-23 21:14] pkulikov commented on #6582
@shehackspurple thank you for the clarification.

As for the parentheses, I can imagine that the following code might be confusing:
[code]

While braces is the part of the C# syntax and mean string interpolation to a compiler, the square brackets are the part of the text to display; they are used to simplify display of leading and trailing white spaces. Or empty parentheses in the method call are

[2018-07-23 21:21] #6571 closed

[2018-07-23 21:23] eschneider999 opened #6627 "Benefits?"
I'm guessing there is some benefits to doing this? Performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26899b81-d6f9-534a-83ee-283dd8aae545
* Version Independent ID: 3061125d-7de4-97ef-ccb0-ee792d6f2ae1
* Content: [readonly keyword (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-referenc

[2018-07-23 21:30] cartermp commented on #5804
I think this is a poorly-described behavior in the document. I think what it's saying is by inlining something, you are perhaps indicating to the F# compiler that you are constraining other inputs to this function to conform to rules that are determined either by SRTP in the signature or the use of those inputs in the function body. For example:

[code]

This constrains `x` and `y` to only be type

[2018-07-23 21:31] cartermp commented on #6526
Gotcha. I'll try and take care of this this week.

[2018-07-23 21:31] cartermp commented on #5744
Hey there, sorry for the lack of response.

@giedriusbruzas please do submit a PR and we can review there.

[2018-07-23 21:33] breyed opened #6628 "Scope of disposal and cancelation"
Does disposing a `HttpClient` object dispose any `HttpResponseMessage` objects (and their `HttpContent` objects) that it has created? Does `HttpClient.CancelPendingRequests` cancel `HttpContent.ReadAsStringAsync` on objects it has created? Does a cancellation token passed to `HttpClient.SendAsync` apply to `HttpContent.ReadAsStringAsync`?

In general, the scoping rules regarding disposal and cance

[2018-07-23 21:46] breyed commented on #6628
A related question regards the scope of `HttpClient.Timeout`: When it says that "the same timeout will apply for all requests using this HttpClient instance," does that apply only to calls like `HttpClient.SendAsync`, or also follow-up calls like `HttpContent.ReadAsStringAsync`?

[2018-07-23 21:49] AaronRobinsonMSFT opened #6629 "Interop Marshalling moved"
The `Interop Marshalling` topic should be moved to the more general .NET Guide. See dotnet/coreclr#19090 and dotnet/coreclr#19082.

This topic is relevant to both .NET Framework _and_ .NET Core. There are some minor differences on .NET Core when on Non-Windows platforms, but largely the same when either runtime is on Windows.

cc @jkotas

[2018-07-23 22:01] pkulikov commented on #6180
@rpetrusha the .NET Guide [says the following](https://docs.microsoft.com/en-us/dotnet/standard/threading/the-managed-thread-pool#using-the-thread-pool):

Given that tasks are recommended way to perform calculations at the background, I think the detailed explanation of how to use `ThreadPool.QueueUserWorkItem` can be removed from the conceptual docs. API reference docs should be enough.

So, I su

[2018-07-23 22:03] jeffschwMSFT commented on #2934
Including @weshaggard as he may have more insight into api level differences across platform.

[2018-07-23 22:34] rigdern commented on #5780
@JRAlexander, @mairaw can you reopen the issue? It looks like I don't have this capability.

We've figured out the answer to my question but I believe we should enhance the docs to better convey this information.

Adam Comella
Microsoft Corp.

[2018-07-23 23:16] matthewkrieger opened #6630 "Problem with the statement 'The ?? operator defines a default value that is returned when a nullable type is assigned to a non-nullable type.'"
The statement 'The ?? operator defines a default value that is returned when a nullable type is assigned to a non-nullable type.' may be misleading or inaccurate.  The ?? operator doesn't care what type of assignment is being made.  I think a better description would be to indicate that ?? is the null coalescing operator which per https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/o