[2019-04-07 17:12] dsplaisted commented on #8691
@guardrex In the 2.2 SDKs the implicit versioning for the ASP.NET packages was moved down into the vanilla `Microsoft.NET.Sdk`, so you don't need to use the Web SDK.

In 3.0 it all changes again, instead of a `PackageReference`, there is now a `FrameworkReference` item.  However, if you are using the Web SDK then the `FrameworkReference` will be included implicitly and doesn't need to be in your p

[2019-04-07 18:05] Bartolomeus-649 commented on #8691
Is it a supported action to manually modify the config made by Visual Studio, it won't be overwritten or make the NuGet tool act up now or in the future?
What happens when there's an upgrade, an VS finds a reference with a "missing" verson, will that lead to problem for VS to convert/upgrade the config file to the next version?
Will it work with the cli tools and the package management console? Wh

[2019-04-07 18:24] Bartolomeus-649 commented on #8691
@dsplaisted Why not just include and reference "everything", and the just remove what's not used when building.
You guys know of all your namespaces and classes, right?  So just put that in a XML file somewhere, with info on where/how to get it, and point Roslyn to that file and lets stop worrying about references to anything from Microsoft.  The references are in the code, why specify them one mo

[2019-04-07 19:44] Bartolomeus-649 opened #11717 "URL for info on configuring firewall Exception is not working"
On configuring the firewall exception, the provided url is not working: https://go.microsoft.com/fwlink/?LinkId=239961

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9096dc31-bc97-a413-880f-962603bed316
* Version Independent ID: 68c92a65-812f-f665-7df2-24e1e1e65048
* Content: [Configuring HTTP and HTTPS](https://docs.m

[2019-04-07 23:08] robertmclaws commented on #8691
The length of the discussion in this thread and the extent of the confusion makes it pretty clear that the documentation needs to be updated to cover this scenario. Not everyone is going to be updating to VS2019 or .NET Core 3, and those that are need guidance on what to do. The original issue was that the documentation does not cover the *specific* metapackage in question, leaving users in a lurc

[2019-04-08 02:05] kkm000 commented on #6234
@JirkaHanika, thanks for the explanation. I think I understand now.

Yes, it's somewhat surprising that Microsoft's development documentation still documents how to develop an application for the Framework 1.1 or 2.0. These versions could be long-term-supported, but *develop a new application*? But I may not know everything. Maybe someone somewhere still has reasons to do just that...

[2019-04-08 04:35] mairaw commented on #11714
We’re updating the articles for 4.8 now.
According to https://github.com/dotnet/samples/pull/789/files, the value will be 528049.

[2019-04-08 10:44] svick opened #11720 ""C# for Java developers" and similar articles?"
I just read [this discussion on Reddit](https://www.reddit.com/r/csharp/comments/bamw6g/how_to_learn_c_syntax_and_features_fast_as_a/) about learning C# for a developer who already knows other programming languages and realized there doesn't seem to be anything like that in the official documentation.

Somebody in that discussion linked to [the cheat sheet "C# for Java Developers"](https://downloa

[2019-04-08 14:20] asloppyone commented on #9643
// From the .NET Core library

// Define the delegate type:
public delegate int Comparison<in T>(T left, T right);
The code is extracted from the library where sort() is implemented, so sort() must have been declared as a method taking a delegate as an argument.

[2019-04-08 14:22] asloppyone commented on #8813
Maybe the author wrote all these in some kind of sequence and assume that the reader has already read the "generics".

[2019-04-08 14:22] #11710 closed

[2019-04-08 14:53] #10740 closed

[2019-04-08 15:34] #11688 closed

[2019-04-08 16:55] rpetrusha commented on #11714
The lower boundary will be 528040.

[2019-04-08 18:29] CeciAc opened #11727 "404 Result for Algorithms` links"
@DmitriyBolgarov commented on [Sat Apr 06 2019](https://github.com/dotnet/docs.ru-ru/issues/190)

Good Day. Is it ok, that most of the links for Algorighms redirect me to 404 page? Could anybody please make them innactive if not exists yet.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* I

[2019-04-08 18:30] CeciAc commented on #11727
Hi team,
the user is reporting these links lead to 404 pages.
![imagen](https://user-images.githubusercontent.com/26746247/55747712-3ca78200-5a13-11e9-9922-38533e466447.png)

Since it also repros in the en-us page I'm moving it here

Kind regards

[2019-04-08 21:21] mairaw commented on #11619
@superyyrrzz can you help with this issue of building our docs with docfx locally?

[2019-04-08 21:21] mairaw commented on #11695
@Rick-Anderson would this belong in your repo?

[2019-04-08 21:23] BillWagner commented on #11581
Thanks for writing this @henke37 I agree that the primary use for this directive is working with code generators.

I've added it to our backlog, an we'll update this when we next update this content. In the meantime, if your interested in creating a PR for this change, see [our contributor guide](https://docs.microsoft.com/Contribute/dotnet-contribute) for instructions.

[2019-04-08 21:23] mairaw commented on #11720
@BillWagner I tagged this as a doc-idea for C#. Please take a look.

[2019-04-08 21:28] BillWagner commented on #11720
I'm tagging this for discussion as well.

We've generally avoided 1:1 comparisons with other languages in docs. We have made some very generic comparisons with "other object oriented languages" or "other C-based language syntax".

Is there value in direct comparisons? If so, vote 👍 on this comment. If not, vote 👎 on this comment. If there is value, we'll discuss which languages should be covered.

[2019-04-08 21:33] Thraka commented on #11712
Hi!

I don't think this article is the appropriate one to document this. However, I think the root Getting Started article would be better. Would you like me to move your issue to that article?

[2019-04-08 21:38] Thraka commented on #10447
@mairaw Who is in charge of the script?

[2019-04-08 21:41] mairaw commented on #11717
Thanks for letting us know @Bartolomeus-649. I've opened #11732 to fix this and also update the topic a bit. @Lxiamail please review that PR.

[2019-04-08 21:44] mairaw commented on #11715
Thanks for your feedback @suBOTai3. We've added this request to our backlog.

[2019-04-08 21:46] mairaw commented on #11705
Thanks for letting us know @stjepan.
@mvelosop @CESARDELATORRE We have three articles linking to that site. Ok to remove?

[2019-04-08 21:48] Thraka commented on #10447
@natenho Hi! The script is intended for non-admin installs and automation scenarios. It says this in the first paragraphs of the article that you should go to the main install site. We can't really do anything about the search engine problem as the page title is accurate.

We can contact the script author to update the script to 2.2 though 😄

[2019-04-08 21:49] mairaw commented on #11708
I don't think this is the focus of this article @Korporal but tagging a few folks that might be able to help answer your question about publishing NuGet packages from VS
@karann-msft @rrelyea

[2019-04-08 21:50] BillWagner commented on #11596
Thanks for reporting this @angelvet

I created PR #11733 to address this.

[2019-04-08 21:52] Thraka commented on #11662
Can you give me more information? Are you running as admin? What OS are you using?

[2019-04-08 21:54] BillWagner commented on #11618
You could test properties on a `Range` object. But, the test you want to make is to see if an `int` (or `Index`) is in a `Range`. I couldn't come up with a way to do that.

Maybe either @MadsTorgersen or @gafter have a suggestion.

[2019-04-08 21:55] BillWagner commented on #11621
Thanks for pointing this out @jc1001

I've added it to our backlog to fix when we next update this content.  If you'd like, you could submit a PR to make the change. I've added the "up for grabs" label on this issue.

[2019-04-08 21:59] BillWagner commented on #11629
Thanks for raising this concern @Ashish2019New

We're not going to provide a single page with all the compiler errors. The possible errors number in the thousands. Instead, we've optimized for search: if you search on any compiler error code, the appropriate docs page will be in the first page of results.

Closing as by-design.

[2019-04-08 21:59] #11629 closed

[2019-04-08 22:02] BillWagner commented on #11591
Thanks for writing this issue @xornand I've created PR #11734 to address it.

[2019-04-08 22:03] Thraka commented on #11563
@mjrousos can you comment on this?

[2019-04-08 22:19] karann-msft commented on #11708
@Korporal unfortunately, there isn't a UI way to publish a nuget packages from VS today. I saw that you created a similar [issue in nuget docs](https://github.com/NuGet/docs.microsoft.com-nuget/issues/1389) and since it is product feedback, I moved it to the product repo - [NuGet/Home/issues/7975](https://github.com/NuGet/Home/issues/7975).

[2019-04-08 22:44] gafter commented on #11618
This is something we are considering for the future.  See https://github.com/dotnet/csharplang/issues/2115

[2019-04-08 23:23] mairaw commented on #11710
Thanks for letting us know @SteveCarrollMSFT. @Potapy4 has fixed this issue with PR #11722.

[2019-04-08 23:23] Rick-Anderson commented on #11695
@RaminderRandhawa91  see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks
If that doesn't meet your needs, open an issue on that page.

[2019-04-08 23:23] #11695 closed

[2019-04-08 23:24] mairaw commented on #11623
Thanks for letting us know @salmodesign. @Potapy4 has fixed this issue with PR #11658.

[2019-04-09 00:00] mairaw opened #11737 "Some ML.NET URLs are no longer hackable"
These URLs no longer work because of a lack of an index.md file:
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/
https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/

One solution is to redirect to the first entry in the TOC.

The entries in the breadcrumb file should also be fixed:
https://github.com/dotnet/docs/blob/master/toc.yml#L626

---
#### Document De

[2019-04-09 00:08] mairaw commented on #11708
Thank you @karann-msft. Closing this one then.

[2019-04-09 00:08] #11708 closed

[2019-04-09 00:12] mairaw commented on #11621
This was fixed with PR https://github.com/dotnet/samples/pull/783.

[2019-04-09 00:12] #11621 closed

[2019-04-09 00:14] mairaw commented on #10447
@johnbeisner is the owner AFAIK

[2019-04-09 00:18] mairaw commented on #11712
If we document this, I'd suggest adding this to the main dotnet topic instead: https://docs.microsoft.com/en-gb/dotnet/core/tools/dotnet

This is not a Getting started info.

[2019-04-09 00:28] mjrousos commented on #11563
I'll take a look.

[2019-04-09 01:25] superyyrrzz commented on #11619
@xiaoyaocao83 It is not supported. Although you can see `docfx.json` in this repository, it need some private templates and plugins to support local build, which community users cannot access.

[2019-04-09 05:05] mairaw commented on #11701
Our engineering team has pushed a fix today. Thanks for reporting this!

[2019-04-09 05:05] #11701 closed

[2019-04-09 05:11] schulmaster commented on #11701
@mairaw No problem! the MSDN .NET docs are one of the best references since the manpages.

[2019-04-09 05:29] asloppyone opened #11740 "Could the author add more details about BeginInvoke() and Invoke() methods ."
I couldn't find anything about the methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dcd91a4-603a-feb9-cff2-94f1985417fc
* Version Independent ID: a86cde90-1eba-e1d5-2b42-2a3cd37f5499
* Content: [System.Delegate and the `delegate` keyword](https://docs.microsoft.com/en-us/dotnet/csharp/delegate-class)
* Content

[2019-04-09 05:29] mairaw commented on #11701
Thank you for the kind words @schulmaster!

[2019-04-09 05:59] asloppyone commented on #11740
Oh ,I just found them in"Calling Synchronous Methods Asynchronously".
No problems anymore.

[2019-04-09 06:08] mairaw commented on #11740
Thanks for letting us know @asloppyone. Closing the issue then.

[2019-04-09 06:08] #11740 closed

[2019-04-09 06:14] #8406 closed

[2019-04-09 06:14] #11717 closed

[2019-04-09 06:17] mairaw commented on #8406
Thank you for your feedback @hufftracey. I've updated the topic to remove some of the older operating systems instructions. The changes should go live within a day.

[2019-04-09 10:28] XamlBrewer commented on #11727
On that same page the link to the RandomTrainer in the Binary classification Learners section may be removed, since that class was removed with Pull Request #2849 (https://github.com/dotnet/machinelearning/pull/2849).

[2019-04-09 11:37] asloppyone opened #11744 "I guess there is something wrong in the following code snippet"
public void Search(string directory, string searchPattern, bool searchSubDirs = false)
{
    if (searchSubDirs)
    {
        var allDirectories = Directory.GetDirectories(directory, "*.*", SearchOption.AllDirectories);
        var completedDirs = 0;
        var totalDirs = allDirectories.Length + 1;
        foreach (var dir in allDirectories)
        {
            directoryChanged?.Invoke(this,

[2019-04-09 11:40] asloppyone commented on #11744
I guess the author was intended to write as this:
public void Search(string directory, string searchPattern, bool searchSubDirs = false)
{
    if (searchSubDirs)
    {
        var allDirectories = Directory.GetDirectories(directory, "*.*", SearchOption.AllDirectories);
        var completedDirs = 0;
        var totalDirs = allDirectories.Length + 1;
        foreach (var dir in allDirectories)

[2019-04-09 13:10] asloppyone opened #11745 "Is the Information outdated now?"
I tested on my pc and find out that I can use a virtual Event in my base class ,and make the derived class to
override it.Thus the correct result was yielded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48effe00-bf69-be72-bb9b-b343702de37b
* Version Independent ID: bd6b5366-556a-76e6-4ccd-e06ddaff1cd1
* Content: [Ho

[2019-04-09 15:11] BillWagner commented on #11684
Thanks for writing this @soonerjvm we should update this language.

Creating a finalizer (empty, or with code) has performance implications.

If you need a finalizer to correctly free unmanaged resources, you must accept the performance implications. Otherwise, the resource isn't released.

The note about empty finalizers is that adding an empty finalizer (which implies your class doesn't need one

[2019-04-09 15:42] amosonn opened #11746 "Wrong config file name"
The file should be called `Directory.Build.props`, not `Directory.build.props` (case).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* Content: [Select the C# language version - C# Guide](https://docs.microsoft.com/en-u

[2019-04-09 17:04] mjrousos commented on #11563
I tried this out and I'm able to debug hosted processes successfully. Some things to check are to make sure that the libsosplugin you're using matches libcoreclr.so and that libcoreclr.so is loaded before using SOS commands.

I tested using an Ubuntu 18.04.2 VM and version 2.2.202 of the dotnet SDK. The specific steps I took were:

[code]

Example output:

[code]

[2019-04-09 17:29] #10582 closed

[2019-04-09 17:32] bsoman3 commented on #11682
+1
.Load works instead of .Read.
Assuming R4->double, TX->String etc.

Msft alias: bhsoman

[2019-04-09 18:35] #11737 closed

[2019-04-09 18:53] KalleOlaviNiemitalo commented on #11745
The advice is not outdated. If a field-like event overrides a virtual event, then the derived class can raise the event, but the base class most likely cannot.

Consider the following sample:

[code]

The output is:

[code]

That is, the event handler in Main was not called when Base.Demo1 raised the event.

You can fix that by adding a method that raises the event, and using that instead of overr

[2019-04-09 19:01] laurentkempe commented on #11522
@BillWagner I would be interested to do it! Should you assign me to it?

[2019-04-09 19:02] BillWagner commented on #11522
Done. @laurentkempe Thank you.

[2019-04-09 19:04] laurentkempe commented on #11522
Thx! That was super fast!

[2019-04-09 19:38] yalaas commented on #11563
Thank you for the response Mike!  The steps above worked.

[2019-04-09 19:38] #11563 closed

[2019-04-09 20:36] mjrousos commented on #11563
@yalaas, no problem! If you're interested in debugging from VS Code (in addition to lldb), that should also work pretty easily. The key there will be to use the [C# extension](https://marketplace.visualstudio.com/itemdetails?itemName=ms-vscode.csharp) in VS Code and to create a debugging configuration that launches your host as the "program". Here's an example of the VS Code debug configurations I

[2019-04-09 20:42] #11677 closed

[2019-04-10 00:37] schuelter opened #11759 "Obsolete recommendation using WebRequest insted of HttpClient"
WebRequest does not seems to be the recommended way of making web requests as can be seen in the REMARKS section https://docs.microsoft.com/en-us/dotnet/api/system.net.webreques, and https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient should be used instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-10 01:26] soonerjvm commented on #11684
It doesn't sound like the performance cost is too great, because it sounds like it's still of linear complexity.  It sounds like an empty finalizer is really creating a "waste-of-space" when the garbage collector is iterating through, what I'll just assume, and only using as an example, is something similar to a linked list, looking for resources to return to the OS.  If something like this is the

[2019-04-10 01:26] #11684 closed

[2019-04-10 03:21] sjboege opened #11763 "References needed for code"
I added PresentationCore to references and was then able to add

using System.Windows.Media.Imaging;

But Visual Studio doesn't like the line

Image myImage = new Image();

The error message is CS0144	Cannot create an instance of the abstract class or interface 'Image'

How can I resolve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-04-10 07:00] jpierson opened #11764 "Missing documentation on F# Anonymous Records"
I realize F# 4.6 is quite new but it would be great to have the documentation for new F# features to stay updated along with the additions to the language such as Anonymous Records. Having this documentation up-to-date would serve as a better reference in places like Stack Overflow or other places where we to point somebody to official documentation for the new feature. Other than GitHub issues an

[2019-04-10 11:02] piccaso commented on #9889
I'm not sure if there ever was (official) android support for dotnet core, but the android RIDs have been removed from the docs in #8710.

[2019-04-10 11:16] Praveen-Rai commented on #7431
To add my vote to the request, i have a scenario where i am building an analyzer and using in-process build with the help of roslyn apis. For CS i have referenced https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/ to get the ids which i need. A similar doc for VB would be much appreciated.

[2019-04-10 14:09] #11746 closed

[2019-04-10 14:21] hinho opened #11767 "Instruction to change the line in App.config is not clear"
In the section "Edit App.config" there are line numbers that should be changed (Like Change line 14, Change line 17, etc.) . But when I created my wcf lib like described in this tutorial I have these parts of code on different lines.
I suggest to change instruction based on section names better than line numbers (for example something like: In section "system.serviceModel - services" change servic

[2019-04-10 14:40] p--b opened #11768 "Referenced page doesn't contain claimed content RE generic type member references"
This page states:
[code]

The linked page on `<see>` does not contain any information on how to create a cref reference to a generic type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6875be4b-b827-3d35-329a-be075fc98576
* Version Independent ID: ad0013b6-a77d-7072-10d2-dd505d154a2b
* Content: [&lt;exception&gt; - C#

[2019-04-10 16:11] #11634 closed

[2019-04-10 16:34] #10334 closed

[2019-04-10 16:35] KalleOlaviNiemitalo opened #11770 "Adding null delegates to dictionary costs more memory than field-like events would"
The sample initializes the dictionary with null delegates as values:

[code]

This means the dictionary will always have an entry for each event, even if no event handlers are ever added. These entries cost even more memory than field-like events would, because each entry also keeps track of the key, hash code, and next entry in the chain. It is not useful in the situation claimed here:

To be act

[2019-04-10 17:34] JeremyKuhne opened #11772 "Interop MessageBox example should be updated."
The initial example should  be updated to map the "fully" correct way. While the example partially works, it doesn't work well and could cause grief as developers try and build upon or explore the example.

As the example stands it will invoke the legacy ANSI version of `GetMessageBox`, or `GetMessageBoxA`. Not only is it slower, but characters that don't fit into the ANSI code page will be turned

[2019-04-10 17:50] JacquesBourgeois opened #11773 "'<constructor>' in designer-generated type '<type>' should call InitializeComponent method"
[Enter feedback here]
I get this error is some of my Windows Forms, even if InitializeComponent is the first line after the constructor declaration.

This happens almost every time that I edit the code in Edit and Continue. I have to stop the edit and restart the application in order for the false error to clear.

`	Friend Sub New()

		InitializeComponent()

		MinimumSize = Size

		cboBank.DataSou

[2019-04-10 17:56] JacquesBourgeois commented on #11773
Found a solution.

Deactivate the "Treat all warnings as error" CheckBox in the Compile tab of the project's properties. Set the individual notifications manually instead.

[2019-04-10 17:56] #11773 closed

[2019-04-10 18:27] BillWagner commented on #11711
This is fixed in #11754

[2019-04-10 18:27] #11711 closed

[2019-04-10 18:48] sfilipi opened #11777 "Add example about list type=table"
Is it possible to add an example about how to create a table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6-169a-0ffe-5f33-d5a359aeefc5
* Content: [Documenting your code with XML comments](https://docs.microsoft.com/en-us/dotnet/csharp/codedoc)
*

[2019-04-10 19:01] sthakuri opened #11779 "Tutorials document requires an update for ML version 1.0.0-preview"
The following three changes need to be required to work Price Prediction Tutorial work correctly,

#01. Install-Package Microsoft.ML.FastTree after creating the console application
On Create a console application, another ML package "Microsoft.ML.FastTree" need to be installed.

&gt;&gt; dotnet add package Microsoft.ML.FastTree

#02. Save() function in SaveModelAsFile method will have an extra arg

[2019-04-10 20:37] #6184 closed

[2019-04-11 04:27] troglobytor opened #11785 "Would an InvokeRequired check need to be done for reading a control value like text?"
Setting a value requires checking if InvokeRequired, what about reading?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7944fe-6db1-0fe4-7a89-29f5594b2674
* Version Independent ID: 152ac482-0811-0869-addd-258b689fbe3f
* Content: [How to: Make thread-safe calls to Windows Forms controls](https://docs.microsoft.com/en-

[2019-04-11 11:10] Henkolicious opened #11786 "WCF FaultException<T> - .NET Core 2.2"
Is faultcontracts with FaultException< T > not supported in .NET Core 2.2?

I have a WCF service reference like so - this exact code is not tested, but simular works well in .NET Standard 4.6.2.

Server side:
<pre>
[OperationContract]
[FaultContract(typeof(MyErrorType))]
[WebInvoke(
      Method = "GET",
      UriTemplate = "/GetData?foo={foo}",
      BodyStyle = WebMessageBodyStyle.Bare,
      Re

[2019-04-11 11:43] JJoe2 opened #11787 "Typo in timespan format"
The timespan format in the syntax description is invalid: "d.hh.mm.ss"
Should be "d.hh:mm:ss"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b367d01a-e6c9-9854-a2cb-5c22fe4d7198
* Version Independent ID: 4dd28bc7-d0a1-0396-f1a1-4aa335239efe
* Content: [&lt;requestCaching&gt; Element (Network Settings)](https://docs.mic

[2019-04-11 13:59] CeciAc opened #11789 "Provide example without using DataSet/DataRelation classes and utilizing an object graph instead"
@rschindhelm-haba commented on [Thu Apr 11 2019](https://github.com/dotnet/docs.de-de/issues/136)

It would be great to see an example without the help of the DataSet and DataRelation classes and directed more towards a graph of business objects and their relations.

Make it clear that binding is only possible for properties directly owned by the object-to-be-bound and not for any of its contained

[2019-04-11 14:02] CeciAc commented on #11789
Hi team,
I'm moving this here since the user is requesting for additional examples
best

[2019-04-11 14:16] rschindhelm-haba commented on #11789
Thanks @CeciAc. I always end up opening issues in the wrong place.

[2019-04-11 15:02] ScottHutchinson opened #11790 "Expression-bodied members section needs examples with parameters"
Even the page at https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members has only one example with parameters (the constructor).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a695fde2-da48-835f-423d-d34fb048d6ab
* Version Independent ID: e8eab8da-72ba

[2019-04-11 15:12] #11772 closed

[2019-04-11 15:16] #7293 closed

[2019-04-11 15:16] #8986 closed

[2019-04-11 15:16] #9034 closed

[2019-04-11 15:16] #11507 closed

[2019-04-11 15:49] Thraka commented on #11122
I just published an update to this article that completely rewrites it. I tried to make it generic enough for windows or linux. If you look at the article you may be redirected to the overview. That means the article hasn't been published yet, so try again later.

Let me know if this helps.

Cheers!

[2019-04-11 15:49] #11122 closed

[2019-04-11 15:51] Thraka commented on #9034
I updated this article and it should make sense now. This should be published today.

[2019-04-11 15:52] Thraka commented on #8986
I'm not sure what to do about this. I rewrote the article which should be published today. Please try the new version and let me know if that fixes your problem. Otherwise it sounds like an internet connection issue.

[2019-04-11 15:54] Thraka commented on #7293
I just published an update to this article which should show up sometime today. Please let me know if it helps. I rewrote everything with a less focus on the app and more focus on docker.

[2019-04-11 15:57] kristianjaeger commented on #9034
Thanks @Thraka !

[2019-04-11 16:14] cartermp commented on #11764
This is on my backlog - I normally do this sort of stuff when traveling, but due to injury I haven't traveled recently (and thus haven't gotten to it yet!)

[2019-04-11 16:39] mvelosop commented on #11705
Hi @stjepan, thanks for the heads up, just tried contacting the author, let's wait for a few days.

[2019-04-11 17:19] KalleOlaviNiemitalo commented on #10471
This is described in [Default Marshaling for Strings](https://docs.microsoft.com/en-us/dotnet/framework/interop/default-marshaling-for-strings?view=netframework-4.7.2). If the default is not correct for the API function you are calling, you have to add the correct [MarshalAsAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshalasattribute?view=netframework-4.

[2019-04-11 18:30] rpetrusha opened #11793 "Change link text, like destination for Go Global Developer Center"
## Change link text, like destination for Go Global Developer Center

In numerous places in the documentation (in fact, in almost every place that we mention a culture name as a parameter or the return value of a property), we link to a list of language/region names in the Go Global Developer Center. The Go Global Developer Center has been retired; the content has been moved to <docs.microsoft.com

[2019-04-11 18:36] mairaw commented on #8691
@natemcmaster created a PR to add that info to our docs: #11736
Please take a look!

With that, I'm considering this docs issue resolved. Once we get the experience and behavior fixed in the product, we can then make additional changes.

/cc @KathleenDollard

[2019-04-11 19:24] briangithex opened #11796 "Dead Link"
https://github.com/dotnet/docs/blob/master/docs/framework/data/adonet/asynchronous-programming.md links to:
https://blogs.msdn.microsoft.com/adonet/2012/04/20/using-sqldatareaders-new-async-methods-in-net-4-5/ and to
https://blogs.msdn.microsoft.com/adonet/2012/07/15/using-sqldatareaders-new-async-methods-in-net-4-5-part-2-examples/ .

However, the blog at https://blogs.msdn.microsoft.com/adonet/

[2019-04-11 22:56] rpetrusha opened #11798 "Better define the meaning of the culture name parameter"
## Better define the meaning of the culture name parameter

In numerous places in both the conceptual documentation, we note that a culture name parameter defines the culture that is used to instantiate a class instance, perform a formatting operation, perform a parsing operations, etc. In many cases, we don't adequately define what a culture name is -- is it a long name (like `English (United Sta

[2019-04-11 22:57] mairaw commented on #10120
Ah, thanks @mikkelbu! I've changed the link there and I'm closing this. Thanks @psphilli for catching that and fixing it.

[2019-04-11 22:57] #10120 closed

[2019-04-11 23:01] mairaw commented on #11796
Thanks @briangithex. I'm going to resolve this as a duplicate of #9807, where we're tracking the work for fixing these links after the migration/exclusion of some blogs.

[2019-04-11 23:01] #11796 closed

[2019-04-12 00:48] #8691 closed

[2019-04-12 00:49] chaim1221 commented on #11122
You know, it has just been so long since I looked at this that I can't even remember what was wrong in the first place. But the process you describe seems to fit with what we did:

https://github.com/chaim1221/Machete/blob/master/dockerize.sh
https://github.com/chaim1221/Machete/blob/master/Dockerfile

...so that's good!

[2019-04-12 01:20] jstillings1 opened #11799 "TrainTestData Method Does not exist"
I am recording my ML journey and I am on Linux Mint trying to follow along, I can not compile this.

 TrainTestData does not seem to be a method of TrainCatalogBase anymore.

Checking the resources it shows a 404 on this
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.traincatalogbase.traintestdata Does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-04-12 04:44] akmadian opened #11802 "C# Language Reference: Add mnemonic device to ?: operator to help retention of how evaluation works"
**Help us make content visible**
- Tell us what search terms you used and how you searched docs.
N/A

- Tell us what docs you found that didn't address your concern.
N/A

**Describe the new topic**
- Abstract:
I've always had trouble remembering how the ?: operator evaluates off the top of my head, and I've come up with a mnemonic device to help me remember this. I believe that this mnemonic devic

[2019-04-12 06:16] Thraka commented on #11122
I know.. sorry it takes time to get to these :) But your issues help us figure out ways to improve, so thanks :) :) :) :)

There was another issue with `dotnet publish` and I think that whole section of the original article was confusing. I simplified that part greatly.

[2019-04-12 07:14] Zenexer opened #11804 "Incorrect description of `is var` behavior"
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/is#-var-pattern- states the following:

It then provides an example, of which the key component is the following:

[code]

This very clearly and unambiguously indicates that `item is var obj` will return `false` if `item` is null.  This assertion is incorrect, and there are multiple references, including on https://github.c

[2019-04-12 12:18] asloppyone commented on #7294
不在page那个地方，在APP.xaml那里

[2019-04-12 12:21] asloppyone commented on #9628
well, You may have mistaken UWP as WPF ,thus making it impossible to draw any correspondence.

[2019-04-12 13:01] misterspeedy opened #11806 "(*) is no longer ambiguous"
&gt; For any custom operator that starts with *, you'll need to add a white space to the beginning of the definition to avoid a compiler ambiguity. Because of this, it's recommended that you simply surround the definitions of all operators with a single white-space character.

This is no longer true, for example ```let (*) x y = x + y``` compiles fine.

---
#### Document Details

⚠ *Do not edit th

[2019-04-12 13:05] misterspeedy opened #11807 "Indenting in DUs"
Document currently reads
&gt; Indent | in type definition by 4 spaces:

Should probably be rephrased slightly to reflect the fact that people may not be using exactly four spaces (though generally they should be!).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c09996f-24ac-cf39-ef43-d7909cbc2b89
* Version Independent

[2019-04-12 13:26] akhilpolineni commented on #6027
Hi,

We are working on a worker role app and HostBuilder pattern with back ground services seems to be good fit for our design but I have same concern i.e. will the StopAsyn() be triggered during cloud instance recycles. We are not using IIS integration as the application doesn't take any http requests.

Thanks.

[2019-04-12 14:04] sackbut commented on #9628
I have no idea what you are talking about. I'm a beginner, Am I supposed to know what UWP and WPF mean ? Too many TLAs !
KT

[2019-04-12 14:10] MarkFern opened #11810 "Caching DispIds at compile-time is potentially a problem (not at run-time)?"
Last sentence of [_"Restrict using the dual interface option for the class interface"_ section](https://docs.microsoft.com/en-us/dotnet/framework/interop/com-callable-wrapper#restrict-using-the-dual-interface-option-for-the-class-interface) should probably refer to compile-time caching (not run-time caching).

It should probably read:

 instead.

Pull request [#11809](https://github.com/dotnet/doc

[2019-04-12 14:25] jordanmills commented on #8393
Brent, https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration

[2019-04-12 14:41] reyou opened #11811 "SynchronizationAttribute doesn't exist in .NET Core 3.0"
[Here ](https://docs.microsoft.com/en-us/dotnet/standard/threading/synchronizing-data-for-multithreading) it says:

but it does not exist.

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.remoting.contexts.synchronizationattribute?view=netframework-4.7.2&viewFallbackFrom=netcore-3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-04-12 15:32] BillWagner commented on #11802
I like that idea @akmadian

I've assigned this issue to you. Just @ - mention me if you have any questions as you work on a PR.

[2019-04-12 17:04] natejgardner commented on #5873
@mairaw it'd be great to get this point documented in the example. It's still fairly confusing not having the Person class included in the example, especially since just creating the Person class then referencing it, which is the intuitive thing, doesn't work.

[2019-04-12 17:23] JRAlexander commented on #11799
Hi, @jstillings1! We are in the process of updating the tutorials for 1.0.0 preview. In the meantime, TrainTestData is now in DataOperationsCatalog: https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.dataoperationscatalog.traintestdata?view=ml-dotnet. We apologize for the delay! Please let me know if you have any other questions. Thanks!

[2019-04-12 17:32] JRAlexander commented on #11799
The code sample here may be helpful as well: https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.dataoperationscatalog.traintestsplit?view=ml-dotnet#Microsoft_ML_DataOperationsCatalog_TrainTestSplit_Microsoft_ML_IDataView_System_Double_System_String_System_Nullable_System_Int32__

[2019-04-12 17:41] davefxy opened #11812 "watermark.png : Norton indicates this has the Heur.AdvML.B virus"
**Before you open an issue**

docs/docs/framework/wpf/getting-started/media/watermark.png

Norton indicates this has the Heur.AdvML.B virus

&lt;include description here&gt;

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

- [ ] .NET Core
- [ ] .NET Framework 4.7.1
- [ ] .NET Standard

If using the .NET Core SDK, include `dotnet --info` outp

[2019-04-12 17:52] mairaw commented on #5873
I'll reopen this then @natejgardner and add this to our backlog.

[2019-04-12 19:22] akmadian commented on #11802
@BillWagner Is there a specific branch I should be committing/ merging to? I assume this would not go directly into master.

[2019-04-12 19:30] cartermp commented on #11807
We're going with 4 as the canonical spacing in the document. It's mentioned at the top and recommended in other areas as well.

[2019-04-12 19:30] #11807 closed

[2019-04-12 19:31] cartermp commented on #11806
I think this was just poorly-worded. Re-defining `*` is unambiguous, but using it in conjunction with other characters becomes a problem.

[2019-04-12 19:43] Thraka commented on #11812
Hi. This is probably a false positive. Please submit the file to https://submit.symantec.com/false_positive/

[2019-04-12 20:00] davefxy commented on #11812
Yes you are correct. The warning went away very shortly after the second download.

[2019-04-12 20:00] mairaw commented on #11812
I also think it's a false positive but I'm following up internally already to be safe.

[2019-04-12 20:04] #11812 closed

[2019-04-12 20:22] #11806 closed

[2019-04-12 21:04] zivkan opened #11817 "What happens in an async method"
This page used to have a section titled "[What happens in an async method](https://web.archive.org/web/20190224053915/https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/#BKMK_WhatHappensUnderstandinganAsyncMethod)".

I used to link to this when customers didn't appear to understand async very well, in particular when customers thought that calling an async method would

[2019-04-12 21:47] natke commented on #11219
Fixed by #11699

[2019-04-12 21:58] pkulikov commented on #11817
@zivkan it looks the whole page was moved to a new address:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/task-asynchronous-programming-model

In particular, the section you've mentioned:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/task-asynchronous-programming-model#BKMK_WhatHappensUnderstandinganAsyncMethod

[2019-04-12 21:59] nschonni commented on #11219
Thanks @natke it looks like that PR still has warnings one some
[code]

[2019-04-12 22:02] pkulikov commented on #11817
Yes, that's pity that the redirect cannot be setup to a new location (the index page was replaced with another page and it's not a good idea to redirect from the index page, I guess)

[2019-04-12 22:38] natke commented on #11219
Ah yes. Thank you. We will be updating that doc soon too

[2019-04-12 23:05] Thraka commented on #11786
I believe so. You have to use the https://www.nuget.org/packages/System.ServiceModel.Primitives/ NuGet package to enable it though. They don't ship as part of Core directly.

Let me know if that works for you.

[2019-04-12 23:05] #11786 closed

[2019-04-12 23:09] Thraka commented on #11768
Hi. Thank you for pointing that out. In that page I was let to https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/cref-attribute which led me to https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/processing-the-xml-file and that contains the answer. I'll update the page to point to that.

Search https://docs.microsoft.com/en-us/dotnet/csharp/programming-gu

[2019-04-12 23:19] mairaw commented on #11817
Given that the same content still exists on a new location (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/task-asynchronous-programming-model#BKMK_WhatHappensUnderstandinganAsyncMethod as @svick pointed out), I think we can close this, but I'll let @BillWagner to decide since he put a lot of thought into this reorganization.

[2019-04-12 23:53] zivkan commented on #11817
I'm fine with it being closed. I didn't look at the "Task Asynchronous Programming Model" page, so I didn't know the content I like was moved there, although in hindsight that page is the second most likely to have what I was looking for, so I should have found it myself. Now I know, so I'll start using that link. Thanks @pkulikov for pointing it out to me, and apologies to the docs team for not f

[2019-04-13 00:24] natke commented on #11219
Remainder of errors fixed by #11820

[2019-04-13 05:07] #11768 closed

[2019-04-13 07:16] jwwicks commented on #10849
@daveyostcom If no one else has picked this up I can link the major bullet points to the Types section document mentioned by @BillWagner.

[2019-04-13 08:24] jwwicks commented on #10849
@BillWagner @rpetrusha @daveyostcom

Upon looking into this it's odd that there isn't a reference-types-table page. Any reason this doesn't exist?

![image](https://user-images.githubusercontent.com/702596/56076886-cdbb8780-5d8a-11e9-893b-a2b82f735e20.png)

[2019-04-13 15:49] bugejakurt commented on #8641
Can this article be renamed to Health Checks? It is confusing and can sometimes be seen as a .NET Core alternative to Health Monitoring in Full Framework (https://docs.microsoft.com/en-us/previous-versions/bb398933(v=vs.140))

[2019-04-13 21:49] jwwicks opened #11825 "CONTRIBUTING.md Missing LocalHost Build/Test Instructions"
**Issue description**
As a new contributor I would like for the contributing guide to include DocFX build instructions so I can test my changes locally before submitting a PR. Currently there are no guidelines for setting up DocFX so you can test.

Installing via Chocolatey, building with supplied config and serving locally doesn't produce a site suitable for testing.

If the practice is being dis

[2019-04-13 21:55] codecadwallader opened #11826 "Really helpful tutorial! I noticed a minor copy/paste issue in unit test code I wanted to report."
I really appreciated this tutorial and it has helped me a lot in getting my feet with with Roslyn.  Thank you very much for putting it together!

I did notice one simple copy/paste issue within the "Add the final polish" section.  The code snippets for `StringDeclarationUsesVar` and `StringDeclarationUsesVarFixedHasType` have the same integer definitions from the section above instead of string de

[2019-04-13 22:06] codecadwallader commented on #11826
I made a little PR to fix the sample, hope it helps. :)  https://github.com/dotnet/samples/pull/815

[2019-04-13 22:19] codecadwallader opened #11827 "Navigation tree has an issue breaking multiple links"
The navigation tree in this area appears to have a broken link at:

Tutorials -&gt; Get started writing custom analyzers and code fixes

and everything after that part cannot be selected.  There are also two Tutorial sections immediately next to each other which may be part of the problem.  Thanks for any help/cleanup!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-04-13 22:22] codecadwallader commented on #11827
Here's a little animated image of trying to navigate in the tree.  This is using FireFox v66.0.3 and I was able to reproduce it in Google Chrome as well with the default theme / no user profile.

![image](https://user-images.githubusercontent.com/3823772/56085842-58a78b00-5e3a-11e9-8117-bee79339c5c6.png)

[2019-04-14 10:57] andybak commented on #11484
Thankfully it seems like it contradicts the official C# style guide: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions

[2019-04-14 14:23] VictorioBerra opened #11829 "404 not found for link to "record types" GitHub."
First paragraph, link on the text "record types" is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9a3af6a-59dd-775a-a008-1530bba493f5
* Version Independent ID: 95639e9c-9432-b07b-5fc2-f30d7bab0123
* Content: [Recursive Pattern Matching - C# 8.0 language proposals](https://docs.microsoft.com/en-us/dotnet/csharp/

[2019-04-14 16:48] tudort-iquest opened #11830 "Confusing phrase"
The following phrase: " Make the NewsStoryViewModel an immutable type where all the properties are set in the constructor. "
is a bit confusing, because the sample code does not show an .. immutable type (the properties have public setters).
It could be better rephrased at:
"make sure the properties are always initialised, by setting all of them in the constructor:..."

---
#### Document Details

[2019-04-14 20:47] TomBinford opened #11832 "Example code does not compile"
The bracket initialization of openFileDialog1 is invalid. The parentheses are not required and the property Filename does not exist (Probably meant FileName). It's unfortunate that these examples are created without even checking if they compile; I hope your practices improve in the future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-04-15 01:42] nguyenthanhliemfc commented on #6447
I like read docs on my PC, then I can try in Visual Studio at the same time!

[2019-04-15 04:40] DeveshSharma1992 opened #11833 "Dataset converting to XElement while consuming WCF in .Net Core"
I am consuming an existing WCF service in .net core application. Created proxy with WCF Reference provider. Everything seems to be working fine except i cannot see the data sent by the WCF in form of Dataset in the .net core application. The reference is converted to XElement type instead of Dataset.
Can you please help in how to fetch the Dataset result in .net core application.

[2019-04-15 06:30] gpetrou opened #11834 "What about Nullable struct?"
Should there be some information here on whether to use or not the in-modifier with Nullable struct?
For example should we have
public void Method(int? arg) {}
or
public void Method(in int? arg) {}
?
ErrorProne.NET for example flags this as a special case: https://github.com/SergeyTeplyakov/ErrorProne.NET/blob/5cc962abfaf0005890dd0a9fba46a9e304a8a450/src/ErrorProne.NET.StructAnalyzers/TypeExtensio

[2019-04-15 07:13] geoff-m opened #11835 "Multiple constraints example"
The example for multiple constraints looks like this, in which we are to understand that all comma-separated constraints must be satisfied simultaneously:
`class EmployeeList<T> where T : Employee, IEmployee, System.IComparable<T>, new()`

Wouldn't `Employee` implement `IEmployee`? If so, isn't the `IEmployee` constraint (and/or others) redundant?

---
#### Document Details

⚠ *Do not edit this se

[2019-04-15 09:13] DL444 opened #11836 "TcpListener constructor is deprecated"
This article is creating an instance of `TcpListener` with a deprecated constructor. It might be a good idea to update this article to use the current version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4eec82-3aed-b326-1927-9f3d606f9d6b
* Version Independent ID: 4cabdedf-e7e6-4964-2e7e-521d2ca63f48
* Content: [U

[2019-04-15 09:45] stakx commented on #5344
@mairaw: What is the status on importing missing reference docs? Is there anything that the community (e.g., me) can do to help? I'd like to see this one resolved.

[2019-04-15 10:28] zhiliangxu opened #11837 "The last code snippet is broken"
The last code snippet of this page is broken. Seems it was removed unintentionally: https://github.com/dotnet/samples/commit/f092292ef86b3fa36a836f57c7a5faf4c8cd973f#diff-b78c98cf195561deb7e95a9023b01fc9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92991e4f-6d00-9e10-9a0d-1058ba06457f
* Version Independent ID: e26cd6

[2019-04-15 12:23] mvelosop commented on #6027
Hi @akhilpolineni,

It should be notified of the shutdown, but I haven't really tested it just yet.

I have just created a simple app and deployed to a App Service to check what happens.

It generates a log like this at `D:\home\LogFiles\BackgroundWorker-YYYYMMDD.log`

[code]

You might want to try this in your actual setup.

Hope this helps.

[2019-04-15 12:24] mvelosop commented on #6027
You can get the app at https://github.com/mvelosop/ExploreBackgroundWorker

[2019-04-15 12:25] mvelosop commented on #6027
Please let us know what you find out, so we can include it in the docs! 😉

[2019-04-15 14:34] manchoz opened #11839 "References to old packages"
`open Microsoft.WindowsAzure.Storage` should be `open Microsoft.Azure.Storage` and so on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043a5be5-cb8b-5dc2-864c-01da144ea3c3
* Version Independent ID: 2b8e917a-cbb1-1417-b051-37d45beec0f3
* Content: [Get started with Azure Blob storage using F#](https://docs.microsoft.co

[2019-04-15 15:12] dgibbs-at-uwsp opened #11840 "clarification on virtual and abstract as applied to methods"
“The virtual keyword is used to modify a method, property, indexer, or event declaration and allow for it to be overridden in a derived class.”
Very top of the page: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/virtual

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/abstract
	“Members marked as abstract, or included in an abstract class, mu

[2019-04-15 15:17] #6234 closed

[2019-04-15 15:41] CeciAc opened #11841 "No C++ Doc"
@petacreepers23 commented on [Mon Apr 15 2019](https://github.com/dotnet/docs.es-es/issues/124)

Developing for UWP with C++, this kind of error occur, and there is no Documentation at all

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: be7944fe-6db1-0fe4-7a89-29f5594b2674
* Version Independent ID: 152ac48

[2019-04-15 15:41] CeciAc commented on #11841
Hi team,
I'm moving this here since the user is requesting aditional documentation
best regards

[2019-04-15 16:47] #11826 closed

[2019-04-15 16:56] tromero opened #11842 "Null deref in sample code"
columnBinding?.Path.Path
Should be
columnBinding?.Path?.Path
to prevent dereferencing null if columnBinding is null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e47e2cf-6ecf-32c8-ee13-81af9711260c
* Version Independent ID: 09e85a4a-d6a6-7f11-0cea-5ffd3e9cea1c
* Content: [How to: Sort a GridView Column When a Header

[2019-04-15 17:30] mvelosop commented on #11705
Hi @stjepan, @mairaw, I got to chat with Greg Young and he didn't supplied a replacement for those articles.

However, the one from https://cqrs.wordpress.com/ contains most of the material, so I'm updating this article now.

[2019-04-15 17:33] CeciAc opened #11845 "operator "like" is supported by VB"
@UlliBien commented on [Sun Apr 14 2019](https://github.com/dotnet/docs.de-de/issues/137)

documentation is wrong. operator "like" is supported by VB. you can overwrite it too.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: bec570c0-3c04-a8d1-9f13-1696f93080a3
* Version Independent ID:

[2019-04-15 17:34] CeciAc commented on #11845
Hi team,
moving this here since the user is making a suggestion on the original documentation
best

[2019-04-15 18:18] mairaw commented on #11845
@UlliBien can you clarify which part of the article is wrong? If this is regarding the support of the Like operator in .NET Core, AFAIK that's still true, I got compiler errors when trying to use this operator in .NET Core projects.

[2019-04-15 18:20] chrisfcarroll opened #11847 "You buried the "this won't work and won't emit an error message for this obscure reason" at the bottom of the page :-("
If you could see your way to moving the
"Web projects aren't packable by default. To override the default behavior, add the following property to your .csproj file:"
comment higher up the page, that might save a few of us a couple of hours of fruitless hunting.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2

[2019-04-15 18:53] #11727 closed

[2019-04-15 18:55] JRAlexander commented on #11799
Closing as I believe this is resolved. @jstillings1 please let us know if that is not the case. The tutorial should be updated in a few days.

[2019-04-15 18:55] #11799 closed

[2019-04-15 19:23] #11810 closed

[2019-04-15 19:28] mairaw commented on #11841
This doesn't really belong to .NET docs and it's not related to the WinForms topic in question.

@mijacobs can you help with this feedback? The customer is asking about UWP development with C++.

[2019-04-15 19:42] mairaw commented on #11837
Thank you for letting us know @zhiliangxu! I've opened a PR to fix this.

[2019-04-15 20:14] jstillings1 commented on #11799
Thanks John I got caught up with today's projects and left ya hanging. I am sure this fixes it.

Email me at jstillings2@outlook.com
Phone is still down...

________________________________
From: John Alexander <notifications@github.com>
Sent: Monday, April 15, 2019 1:55:27 PM
To: dotnet/docs
Cc: Jeremiah Stillings; Mention
Subject: Re: [dotnet/docs] TrainTestData Method Does not exist (#11799)

C

[2019-04-15 20:23] eerhardt opened #11849 "Why does this page use the term Iterator when that isn't a .NET term?"
In .NET the term iterator isn't used, but instead enumerator. Why is this page titled Iterators and use the word iterator everywhere? I found it confusing that the docs say "iterator" when the code says "enumerator".

For example, this line:

```The return type of an iterator method or get accessor can be IEnumerable, IEnumerable&lt;T&gt;, IEnumerator, or IEnumerator&lt;T&gt;.```

---
#### Documen

[2019-04-15 20:59] #11219 closed

[2019-04-15 21:00] Thraka commented on #11668
If you run `dotnet restore` does it fix your problem?

[2019-04-15 21:14] mairaw commented on #11847
That's a good suggestion @chrisfcarroll. I'll make this update as I make other changes to the CLI documentation this month.

[2019-04-15 21:18] #5483 closed

[2019-04-15 21:26] mairaw commented on #11836
That's a good suggestion @DL444. Adding this to our backlog.

[2019-04-15 21:27] mairaw commented on #11833
Thanks for your question @DeveshSharma1992. This type of product question would be more appropriate to a forum such as Stack Overflow.

[2019-04-15 21:27] #11833 closed

[2019-04-15 21:31] mairaw commented on #11827
Thank you for letting us know about this issue @codecadwallader. It seems to be caused by our migration from Markdown to YAML format for the Table of Contents. This used to be hidden from our TOC because we still don't have those topics:
https://raw.githubusercontent.com/dotnet/docs/33388f53749f9557de8736572ec0dbe0abf234ae/docs/csharp/roslyn-sdk/toc.md

I'll remove those entries for now.

[2019-04-15 21:32] mwpowellhtx commented on #11668
The problem is, ``dotnet restore`` runs for one, but tries and fails to run for the second. This is baked into the ``MSBuild`` targets, is it not?

[2019-04-15 21:37] #11837 closed

[2019-04-15 21:38] Thraka commented on #11840
I don't think you're missing anything. It seems like you understand 😄 I would think that the abstract article that lists the method as being implicitly virtual also then includes the further restrictions listed after that, which includes a statement that it must be overridden in a derived class.

[2019-04-15 21:41] mairaw commented on #11829
Thank you @VictorioBerra. I've opened a PR to fix this: https://github.com/dotnet/csharplang/pull/2439

[2019-04-15 21:42] mairaw commented on #11829
Ah, I just noticed that @Potapy4 had submitted a PR already.

[2019-04-15 21:43] #11817 closed

[2019-04-15 21:43] #11829 closed

[2019-04-15 21:46] mairaw commented on #11619
Thanks @superyyrrzz for your response. It's unfortunate that community members can't do local builds.

[2019-04-15 21:46] #11619 closed

[2019-04-15 21:52] mairaw commented on #11825
Yeah, the answer from the engineering team was given on issue #11619. The local build depends on a repo that the community doesn't have access. I'd suggest that you log an issue at https://github.com/microsoftdocs/feedback requesting this kind of functionality since this is beyond the scope of this repo. We've been requesting that sort of functionality, but it's good if they hear directly from use

[2019-04-15 21:52] #11825 closed

[2019-04-15 21:56] mairaw commented on #11763
You can see the entire sample at https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Wpf/WdpBitmapDecoderEncoder/CSharp/WDPEncoderDecoder.cs. See if that helps @sjboege!

[2019-04-15 21:59] mairaw commented on #11632
That's a good suggestion @mastjaso. I've added this to our backlog and our community contribution project.

[2019-04-15 22:24] jwwicks commented on #11825
Thanks @mairaw, just me not wanting to break the build :)

It's more about the links than anything else especially if adding a page. The preview doesn't work real well for relative files.

[ValueTypes]: (../language-reference/keywords/value-types-table.md)

[2019-04-15 23:47] kristianjaeger opened #11854 "mlContext.Clustering.Trainers.KMeans(featuresColumnName, numberOfClusters: 3) seems incorrect for"
This code snippet seems to be incorrect Microsoft.ML version 0.11.0.  It is mentioned in section - https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/iris-clustering#create-a-learning-pipeline .  Thanks.
string featuresColumnName = "Features";
var pipeline = mlContext.Transforms
    .Concatenate(featuresColumnName, "SepalLength", "SepalWidth", "PetalLength", "PetalWidth")
    .Appe

[2019-04-16 05:09] pkulikov commented on #11854
@kristianjaeger the tutorial uses the latest ML.NET version, which is 1.0 Preview. So, it's expected that it might not work with the 0.11.0 version.

You can find the full sample project in the samples repo:
https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/IrisFlowerClustering

[2019-04-16 05:25] tapika opened #11857 "What is application exit code if console Main function has return type of void ?"
What is application exit code if console Main function has return type of void ?

Is it random value or 0 ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4298ec0-e39e-ad3f-70a3-2e7531d146ad
* Version Independent ID: 31c0c047-4a29-cee2-e4b8-9a9f4470f9cd
* Content: [Main() Return Values - C# Prog

[2019-04-16 08:29] chrisfcarroll commented on #11847
Oooh thank you!

[2019-04-16 08:38] xp44mm opened #11858 "May i get the named blocks in details?"
how to use the named blocks, and what characters do the name represent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1958bf6-a17d-1256-d659-31066aa02604
* Version Independent ID: 95abea42-fa7f-3feb-ae38-049719ab938f
* Content: [Character Classes in .NET Regular Expressions](https://docs.microsoft.com/en-us/dotnet/st

[2019-04-16 08:59] UlliBien commented on #11845
This code gives a MessageBox with
            'abc' like 'a*'

[code]
I'm using:
Microsoft Visual Studio Community 2017
Version 15.9.11
VisualStudio.15.Release/15.9.11+28307.586
Microsoft .NET Framework
Version 4.7.03056

Application Type is "Windows Forms-App (.NET Framework)"

Selecting 'Like' in the code and pressing F1 leads to this page: [https://docs.microsoft.com/de-de/dotnet/visual-basic/l

[2019-04-16 11:13] svick commented on #11845
@UlliBien

That means it is not a .Net Core or .Net Standard project, so the warning is still correct.

[2019-04-16 12:36] mhectorgato opened #11859 "Tutorial doesn't work in 1.0RC"
The StochasticDualCoordinateAscent is not available in the RC. I was able to follow the tutorial, but going to version 0.10; and it works with 0.11.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02dbf6
* Version Independent ID: 8a16b9e9-b5cb-a55e-2135-191bc62c1656
* Content: [Use ML.NET i

[2019-04-16 13:33] Potapy4 commented on #11857
I think the default code for `void` is 0. But you can also specify your code using [Environment.Exit](https://docs.microsoft.com/en-us/dotnet/api/system.environment.exit?view=netframework-4.7.2)

[2019-04-16 13:45] tapika commented on #11857
I need to know it precisely - we have application exiting with non zero code, but I suspect crash on native c++ side.

[2019-04-16 14:00] #11714 closed

[2019-04-16 15:08] kristianjaeger commented on #11854
Thanks. My mistake. I'll try the preview when I have time. Cheers.

[2019-04-16 15:47] Thraka commented on #11804
@BillWagner I just verified that `is var` does indeed always return true. I tested both c# 7.3 and 8.0.

[2019-04-16 16:01] Thraka commented on #11785
Correct. As stated in the **Unsafe** section:

So it's still unsafe to do anything with the control from a different thread.

[2019-04-16 16:01] #11785 closed

[2019-04-16 16:05] djeec opened #11861 "Add links to each of the tags in "In this article""
It would be nice to have links added to each of the tags in the "In this article" navbar.

For example, if I want to find the &lt;list&gt; tag, I have to scroll searching for it manually, or use Ctrl+F

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6

[2019-04-16 16:24] #10849 closed

[2019-04-16 16:44] jwwicks commented on #9790
@BillWagner I'll take on this update

[2019-04-16 16:47] BillWagner commented on #9790
Thanks @jwwicks.

It's yours.

[2019-04-16 16:54] mijacobs commented on #11841
Adding @stevewhims , who owns our C++ UWP docs

[2019-04-16 16:56] JRAlexander commented on #11859
Hi, @mhectorgato! For the 1.0.0-preview update we are using [SDCALogisticRegressionBinaryTrainer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.sdcalogisticregressionbinarytrainer?view=ml-dotnet)
Here's the code line for that:
.Append(mlContext.BinaryClassification.Trainers.SdcaLogisticRegression(labelColumnName: "Label", featureColumnName: "Features"));

We are in process of u

[2019-04-16 17:11] Thraka commented on #11707
Yes.. the wording in there is a bit odd... but it's kind of necessary because depending on what tool you're using (visual studio 2017 vs 2019? visual studio code? dotnet cli?) you may get different project formats. It may be worth listing some minimum versions required to get SDK-style projects.

With Visual Studio 2019 I believe that SDK-style is the format that will be created for you.

[2019-04-16 17:16] kristianjaeger commented on #11854
Thanks! That worked.  Might be helpful to callout that folks can use the Package Manager Console directly `Install-Package Microsoft.ML -Version 1.0.0-preview` .  Cheers.

[2019-04-16 17:37] Thraka commented on #11668
Hrm, I see what you mean. I was thinking that you changed the target from 1.6 to 2.0, not targeting both.

Are you using the `TargetFrameworks` setting? or just the non-plural setting of `TargetFramework`?

[2019-04-16 17:51] kristianjaeger opened #11864 "Suggestion for new tutorial - Structural Time Series"
Please see https://medium.com/tensorflow/structural-time-series-modeling-in-tensorflow-probability-344edac24083 . Thank you!

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596631)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Versi

[2019-04-16 17:53] mwpowellhtx commented on #11668
@Thraka Yes, as I understand it, ``TargetFrameworks`` is how you multi-target, no? Unless there is some other protocol I am unaware of (which is possible). Thanks!

[2019-04-16 18:57] TonySullivan commented on #11381
Put $(ProjectDir) in the Inital Directory text box. Also click the triangle at the end of the text box for more options

[2019-04-16 18:57] toyidong opened #11866 "path typo in add reference command line and xml"
"dotnet add reference ../../NewTypes/NewTypes.csproj"

should be "dotnet add reference ../../src/NewTypes/NewTypes.csproj"

same issue in xml part, but it is correct in xml of NewTypesTests.csproj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b54562-9072-a864-be3d-44ed7965c798
* Version Independent ID: a69ec985-ed05

[2019-04-16 19:47] Thraka commented on #11668
You are right. I changed my last post because I tested with `TargetFrameworks` and it didn't work either. So i knew you were doing it correctly 😃

[2019-04-16 19:48] ardalis opened #11867 "Specify Nuget Server"
My default nuget server is a local URL; how can I run this command and specify I want to use nuget.org as my server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7df78c19-0c6f-fe28-213c-b51dd73398ef
* Version Independent ID: 80822879-4c2e-1c28-ae04-1adb5e7e8a99
* Content: [dotnet tool install command - .NET Core CLI]

[2019-04-16 20:27] #11802 closed

[2019-04-16 20:45] stevewhims commented on #11841
Hi, @petacreepers23, thanks for filing this issue. For Universal Windows Platform (UWP) development, there are several language projections to choose from, and the C++ language projection is [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/). C++/WinRT supersedes C++/CX. For info on making thread-safe calls in C++/WinRT, see [Programming with thread affinity in mind](https://d

[2019-04-16 20:46] ehosaini opened #11868 "Typo"
In the "Challenge - log all transactions" section, "Notes" should be replaced with "Note" in the following line of code.
report.AppendLine($"{item.Date.ToShortDateString()}\t{item.Amount}\t{item.Notes}");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 82303

[2019-04-16 20:48] Thraka commented on #11868
@ehosaini I think it is supposed to be `.Notes` as the type, `Transaction` has a `Notes` property. The parameter used to fill the `Notes` property is `note` (non plural) which may be why you're confused?

[2019-04-16 20:50] Thraka commented on #11868
I'm going to close this, but if you think I'm wrong, please let me know 😄

[2019-04-16 20:50] #11868 closed

[2019-04-16 20:56] Thraka commented on #11867
Did you try the `--add-source <SOURCE>` parameter? Let me know if that works.

[2019-04-16 20:59] Thraka commented on #11866
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-04-16 21:12] BillWagner commented on #10849
I think the concern is that there are so many reference types that ship with any .NET Standard implementation.

We should consider one where the types are limited to those referenced in the C# language specification as being required for the language. That's a smaller sets, and fits in with the content in the C# Guide.

[2019-04-16 21:18] BillWagner commented on #11849
Thanks for bringing this to our attention @eerhardt

The reason is historical: When C# was first released, the best way to explain this concept was to compare it to the C++ "itertor".

I've added this to our backlog to update when we next visit this topic.

[2019-04-16 22:16] jwwicks commented on #10849
@BillWagner I opted out of creating a page in this instance but I think if we follow your suggestion and limit it to the ones in the spec we'll be golden. Should I create a page similar to the [value types table page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/value-types-table) ? New ticket?

[2019-04-16 22:46] #11804 closed

[2019-04-16 22:48] #11827 closed

[2019-04-16 22:54] gperrego commented on #11381
Okay can we update the documentation to include that?

[2019-04-16 22:56] gperrego commented on #11381
maybe state that we can use different variables and a link to what the standard variables are?

[2019-04-17 02:07] PakAtom opened #11872 "errors"
got these errors
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'TransformsCatalog' does not contain a definition for 'ScoreTensorFlowModel' and no accessible extension method 'ScoreTensorFlowModel' accepting a first argument of type 'TransformsCatalog' could be found (are you missing a using directive or an assembly reference?)	TransferLearningTF	C:\Users\Satti\Desktop

[2019-04-17 03:16] fleed opened #11873 "Publish as self-contained app "side-by-side""
Is it possible to use the command `dotnet publish -r win10-x64` on the same *csproj* file used to generate a tool?
Use case: I would like to generate both an executable and the dotnet tool.
If I try, I get the following error: * error NETSDK1053: Pack as tool does not support self contained.*

I tried it with SDK versions `2.2.106` and `2.2.203`

---
#### Document Details

⚠ *Do not edit this sect

[2019-04-17 07:04] zahirtezcan-bugs opened #11874 "Tuples as out variables"
It can be a nice example to have tuples as out variables.
`

    Dictionary<int, (int min, int max)> ranges;

    ...

    if (ranges.TryGetValue(key, out (int min, int max)))
    // similar to dict.TryGetValue(key, out int value)
`
I could not make this work, and there are lots of classes applying this pattern. If it cannot work, it will be nice to indicate that it is not possible.

EDIT:
I found

[2019-04-17 07:33] nikoudel opened #11875 "How to add a permanent source?"
`--add-source` specifies the source per request. Is it possible to add a source (of a private repository) permanently so it will not be necessary to mention it each time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ffe064a-2c6e-284f-7706-528d1c861de3
* Version Independent ID: 7ff2fe61-8884-694d-db38-3e2cc292fe61
*

[2019-04-17 07:47] kierenj opened #11876 "Cross-platform option - clarification?"
I see the comment about NuGetiser 3000.  However, the link points to an initial spec wiki page, with no instructions on use or how to obtain it.  The releases page in that Wiki doesn't contain it.  With a search, I find https://github.com/NuGet/NuGet.Build.Packaging/releases - but nothing since August 2017, and it's a source code download.

Is there any more guidance you could share about how to a

[2019-04-17 08:04] kierenj commented on #11876
A note here: I've interpreted the comment in the docs as "Use nuget pack on Windows, use Nugetizer 3000 on other platforms".  I'm starting to think that I've misunderstood.  However, I can't see how a code template could/should be cross platform, which I would guess is the other interpretation?

How *can* I nuget pack on Linux?  Must I really use mono?

[2019-04-17 08:51] ite-klass opened #11877 "Document event implementation reasoning which covers race condition"
The Events section describes how to implement the event `ThresholdReached`.

The method `OnThresholdReached` creates a variable and assigns it the event value.

The code makes you think that you could simplify the call from

[code]

to

[code]

However, the docs page [How to: Raise Base Class Events in Derived Classes (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programmi

[2019-04-17 10:41] codecadwallader commented on #11827
Cool, thanks for the quick fix and I can confirm it looks better now. :)

[2019-04-17 11:04] tastyeggs opened #11879 "Document pattern: UnionCaseLabel(UnionCaseProperty=var)"
There's this pattern I discovered in one github issue, and almost feels like a hidden Easter Egg in the language.

Assuming I have this union type:

[code]

I will be able to pattern match a variable of this union type as follows:

[code]

I don't even know what this pattern is called. Please name it, and document it. :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-04-17 14:59] #10731 closed

[2019-04-17 15:03] thewilsonator opened #11881 "Doc typo for ICLRControl::GetCLRManager::GetCLRManager"
[Enter feedback here]
Typo in docs for ICLRControl::GetCLRManager Method GetCLRManager:

...
* IID_ICLRTaskManager: _speciries_ that ppObject will be of type ICLRTaskManager.
...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2a601fe-7b35-60af-c8f0-3c7bee01f74e
* Version Independent ID: 87c6e76a-5fb9-cea5-8522-5123d9a

[2019-04-17 16:51] Thraka commented on #11875
Hello! I believe you just need to create/edit a nuget config file: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

I'm going to close this issue. If your problem is not solved, feel free to reopen or comment. Thanks!

[2019-04-17 16:51] #11875 closed

[2019-04-17 16:51] rpetrusha commented on #11411
Thanks for your feedback, @bencyoung, and for the link to the discussion on Reddit, @kylejrp. I'll address these issues in our May sprint.

[2019-04-17 16:56] rpetrusha commented on #11881
Thanks for noticing the typo, @thewilsonator. We've corrected it in #11882.

[2019-04-17 17:06] ehosaini opened #11883 "Update Note"
With .NET Core 2.2 SDK, one only needs to run `dotnet run` after each code change. There is no need to run `dotnet build`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bfcc1a8-ddda-810c-17b0-56a506045d67
* Version Independent ID: 5415878b-e60b-5433-7b4b-efc8259908f0
* Content: [Create a REST client using .NET Core](

[2019-04-17 17:14] MaxxVelocity opened #11884 "What is "designer"?"
Several documents mention a "designer" that must be on the screen in order to add an installer, but only UI applications have a "designer" view. Please update this to explain the exact process and stop assuming that this "designer" concept is everyday knowledge. I have 20+ years industry experience and have never seen a "designer" on an API.

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-17 17:35] Thraka commented on #11873
Yes! Just turn off the `<PackAsTool>` property on the command line 😄

[code]

I'm going to close this issue. If your problem is not solved, feel free to reopen or comment. Thanks!

[2019-04-17 17:35] #11873 closed

[2019-04-17 18:03] kenlyon commented on #9238
Agreed! Some of them are easier to test than others. I think `bypassonlocal` is true by default.

Also, it's odd to see `unspecified` as one of the options in the syntax. Wouldn't you just omit the property if you do not want to specify a value?

[2019-04-17 18:05] Thraka commented on #11884
Hello!

The Visual Studio editor treats the Service template types as designers, which is what this is referring to. The class types also are built on the designer concept, much like Windows Forms are. This is why the article talks about them in this context. I think it's this way (especially for the installer) because the installer stuff hooks into the installer dialog prompt system. As soon as y

[2019-04-17 18:05] #11884 closed

[2019-04-17 18:09] Thraka commented on #11883
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-04-17 18:12] Thraka commented on #11877
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-04-17 18:20] thewilsonator commented on #11881
No problem!

[2019-04-17 18:54] mairaw commented on #11881
You can also submit the changes when you find something like this:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-04-17 18:54] #11881 closed

[2019-04-17 19:11] JRAlexander commented on #11864
Thanks, @kristianjaeger. We've added this to the backlog. You may want to check out this sample: https://medium.com/tensorflow/structural-time-series-modeling-in-tensorflow-probability-344edac24083

[2019-04-17 19:14] JRAlexander commented on #9634
Thank you for the feedback. I hope the added examples help! Closing as I believe this is now resolved.

[2019-04-17 19:14] #9634 closed

[2019-04-17 19:18] JRAlexander commented on #11872
Hi PakAtom.   This tutorial is currently on v 0.10.0. We should have it updated to v 1.0.0-preview in the next few days. In the  meantime, please check out https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_TensorFlowEstimator which has been updated to 1.0.0. Thanks!

[2019-04-17 19:24] JRAlexander commented on #11779
Thanks, @sthakuri! The tutorial is in process and will be updated soon.

[2019-04-17 19:24] JRAlexander commented on #11779
I'll add this to the PR when I submit it.

[2019-04-17 19:25] thewilsonator commented on #11881
Noted, although I'll probably have forgotten about it when I could next make use of it.

[2019-04-17 19:27] kristianjaeger commented on #11864
Thanks @JRAlexander . That's the link I put in the issue :)

[2019-04-17 19:33] CESARDELATORRE opened #11887 "Title 'Train model with real-time data' is misleading"
'real-time data' is usually related to events coming from devices or live info directly coming from user apps.
As soon as you have a database in between, that is usually not considered "real-time data".

Therefore, I think this page's title should be renamed to something like:
"Train model from other datasources such as databases"

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-04-17 19:35] CESARDELATORRE opened #11888 "Title 'Train model with real-time data' is misleading"
'real-time data' is usually related to events coming from devices or live info directly coming from user apps.
As soon as you have a database in between, that is usually not considered "real-time data".

Therefore, I think this page's title should be renamed to something like:
"Train model from other datasources such as databases" or simply "Train model from other datasources"

---
#### Document D

[2019-04-17 19:35] kenlyon commented on #9238
I was wrong. I found that if I omit `bypassonlocal`, the default behaviour is `false`.

[2019-04-17 19:41] Thraka commented on #11877
@BillWagner Something I've never really considered..

Should all event calls just be upgraded to a discard pattern to protect against this?

[code]

[2019-04-17 19:48] BillWagner commented on #11877
@Thraka You don't need the discard pattern, you can use `ThresholdReached`:

[code]

The reason for the temporary is to avoid a race condition.  Imagine a caller removes the only attached handler between testing for null, and dereferencing:

[code]

The `?.` guarantees that `ThresholdReached` is evaluated only once. In effect, it makes the temporary  for you.

Yes, we should update these samples,

[2019-04-17 19:49] pkulikov commented on #11877
@Thraka it looks that the compiler does all the magic:
https://sharplab.io/#v2:D4AQDABCCMDcCwAoEBmKAmCBhCBvJEhUaIALBALIAUAlHgUQL4OEvEaUCeWANgIYBnAW3yIi49gFMAbpIB2AFwgBRWYoASfOQBMekgE4QAygHsAtpIUALAJZyA5poAOT+ZO0IxE1l+9P9NtJ8CpJQ5M6ucrRs4qLe3qYW1naOfC5u2gD8AHQAknLSJgDWklTJAgA0KmoKAIL69gLZymZOCpw0nvEQzL49SIxAA==

In particular, the line
[code]

is compiled into:
[code]

[2019-04-17 20:01] paulomorgado opened #11889 "Inconsistent documentation on C# operators"
The [true](../keywords/true-false-operators.md) and [false](../keywords/true-false-operators.md)  operators were added to https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/index by #11860, but they are still missing on the left-side TOC of the page as well as several others.

That page is also missing the `stackalloc` and `nameof` operators.

On the other hand, https://do

[2019-04-17 20:25] Thraka commented on #11877
Awesome. Thanks for clarifying 😄

So in summary, the fix for this issue is to change the code to `ThresholdReached?.Invoke`

[2019-04-17 20:41] qwertie opened #11890 "What does it mean to run a DLL?"
The dotnet command page should explain what it means to run a DLL. Is it looking for a "public static void Main"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET Core CLI](https://docs.mi

[2019-04-17 20:45] JRAlexander commented on #11864
Yes, it is. My bad. Sorry, meant to add a different link. Edited above to the Machinelearning/samples like I intended to recommend. :)

[2019-04-17 22:22] txwizard opened #11892 "Stumbled Out of the Gate"
Right out of the gate, I stumbled with an exception: Message=Cannot locate resource 'expensithome'.

Only when I coped the included example into a text editor did I see that the reason is that the property name needed to include the .xaml file extension. Once I got past that stumbling block, I successfully finished the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-17 23:15] #9790 closed

[2019-04-18 01:44] nickbeagley2 opened #11893 "SQL Azure MFA Support example"
This page links to .NET Blog claiming it has an example of how to use the new connection libraries for MFA.

"For more information and an example, see "SQL -- Azure AD Universal and Multi-factor Authentication Support" in the .Net blog https://devblogs.microsoft.com/dotnet/net-framework-4-7-2-developer-pack-early-access-build-3056-is-available/"

While that blog does claim to have an example, it d

[2019-04-18 01:59] PakAtom opened #11894 "3 errors"
1. return File.ReadAllLines(file) =file does not exist in the current contrxt.
2. var predictions = loadedModel.Transform(imageDataView);= imageDataView unreachable code
3. PairAndDisplayResults(imageData, imagePredictionData);= imageData, unreachable code

All in public static void ClassifyImages(...) method.

any suggrstion will be appreciated.

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-18 02:04] PakAtom commented on #11872
Thanks for the update. Looking forward for version 1.
js

On Wed, Apr 17, 2019 at 3:18 PM John Alexander <notifications@github.com>
wrote:

[2019-04-18 03:19] thacamxuc opened #11895 "Bot Cảm Xúc"
https://thacamxuc.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 865bd72b-8d26-ec50-4fc0-e3754a00c00c
* Version Independent ID: 5607825a-87ff-1138-3743-0f1fd8408b16
* Content: [Restricting Accessor Accessibility - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-str

[2019-04-18 04:59] slado opened #11896 "Fix description about --configuration"
According to the documentation, the configuration supports only Debug and Release
-c|--configuration {Debug|Release}

But actually it supports any configuration, even user defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1c

[2019-04-18 07:44] fleed opened #11899 "Include referenced projects as assemblies"
Is it possible to include the referenced projects as assemblies embedded in the package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-d5c8-29f7a8c16a5f
* Version Independent ID: 4257ec12-df6f-ec52-aad3-012e5fce8133
* Content: [dotnet pack command - .NET Core CLI](https://docs.microsoft.com/en-us/do

[2019-04-18 08:22] fleed commented on #11899
Some more context: I have a solution with the dotnet tool project which is referencing some more projects within the solution.

At the moment, invoking `dotnet pack` is creating a package for the tool that it is expecting/referencing packages for the referenced projects, but at the moment I just would like to have a sort of "_self-contained_" package with the referenced assemblies and the required

[2019-04-18 08:56] dombat opened #11901 "What is global proxy selection?"
This page should link to another page that details the "global proxy selection" and how it works with .NET. e.g. if you set it once what is the scope (assembly, whole computer, etc) how does it revert to a non overrriden state, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bf40aa7-db58-02c0-e232-42d62c533ff6
* V

[2019-04-18 09:26] ite-klass commented on #11877
Alright, thanks for the information.

I guess I can make the adjustments and submit a PR.

[2019-04-18 09:26] RAJU2529 opened #11902 "please introduce logpath"
I need  a  the  verification of  log file , while  using  signtool.exe  .
for example  if  we  use
signtool.exe verify /pa /v C:\Windows\system32\drivers\*.*

Above  command  verifies  all the  in the driver's folder , it keep running
results  are  very fast  , I we could  not able  to see the results  .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-18 09:27] sharpninja opened #11903 "Page is woefully out of date"
Please update this page to include Dotnet Core 2.1, 2.2 and 3.0 as well as .Net Framework 4.7.x.  There are people making bad assumptions based on it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standa

[2019-04-18 09:41] ite-klass commented on #11877
Should the docs examples make use of the `?.` operator to train users to use it, or should the examples not use it to be compatible to older C# versions?

[2019-04-18 10:57] Arthonor opened #11905 "using and namespace"
Notice in Visual Studio, Using statements are placed outside of namespace as default.
Here it seems Using is required to be inside the namespace. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5e0b56-4d67-b219-46fa-d837045e6612
* Version Independent ID: 50c65125-3700-c713-ede0-2204e09eb307
* Content: [Extension Met

[2019-04-18 11:26] Arthonor opened #11906 "Short"
Extensions are a set of static methods, that attach to the classes of the namespace Using the Extensions.
Imitating beeing a method of a different class.
If class get a method with same name, it will take precedence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5e0b56-4d67-b219-46fa-d837045e6612
* Version Independe

[2019-04-18 11:45] Arthonor opened #11907 "Real usage"
Extensions is spoken about as an easy way to add general methods across types. but can not hold
But there is other uses instead of laziness.

If you use Extensions in the matter they discourage here, you can use them as a safety net.
(well you usually would use an interface)
If you have multiple List types (some made by others), and you do not know if they all have a Sort() method.
You can add a S

[2019-04-18 12:34] grecoe opened #11908 "Project Does Not Compile - Invalid Definition"
Repository: https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis

Does not compile:

In the section Create a console application the third step:

“In Solution Explorer, right-click on your project and select Manage NuGet Packages. Choose "nuget.org" as the Package source, select the Browse tab, search for Microsoft.ML,”

When I do that, I got v 1.0.0-preview

I got

[2019-04-18 12:40] grecoe commented on #11908
This might just be a doc issue, although it does not work with v1.0.0-preview. When telling the user to choose Microsoft.ML in NuGet, it doesn't clarify what version to get, it just says:

"In Solution Explorer, right-click on your project and select Manage NuGet Packages. Choose "nuget.org" as the Package source, select the Browse tab, search for Microsoft.ML, select that package in the list, and

[2019-04-18 14:35] CeciAc opened #11909 "Little confused about the parenthesis"
@ArisLittle commented on [Thu Apr 18 2019](https://github.com/dotnet/docs.zh-cn/issues/376)

Here is the open-parenthesis at "(Multicast“ and close-parenthesis at "algorithm)".
I guess that the close-parenthesis is placed at the wrong place. Is that so?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 134d3592-25e8-0650-b502-fa66ee0ed3c2
* Version Independent ID: b2b5

[2019-04-18 14:41] CeciAc commented on #11909
Hi team,
I'm moving this here since it looks like there's an error in the example
best

[2019-04-18 14:54] dgunderson opened #11910 "Incomplete"
Where does the "e" come from with the following code:

e.Graphics.DrawLine(pen, 0, 10, 200, 10);
e.Graphics.FillEllipse(linGrBrush, 0, 30, 200, 100);
e.Graphics.FillRectangle(linGrBrush, 0, 155, 500, 30);

The examples do not illustrate this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6ed473-9c2d-72c3-a08b-021bdd

[2019-04-18 14:59] serhioV opened #11912 "Where ??? !!!"
"Run the project in the current directory:"

where should we run that command from the command line? is not really clear, should it be run from the VS .NET Console or the simple command line, and what path should we consider? "current directory" what current directory, the project one? the solution one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-18 15:48] BeMor81 opened #11913 "Very minimal example"
Very minimal example I'm afraid. How do you then access the data held within the parsed XML? No links really guiding you to the next stage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ffa0043-9eab-b4cb-ff8f-d28403127422
* Version Independent ID: 357b7e7d-be95-39fc-902d-67258029294f
* Content: [How to: Parse a Strin

[2019-04-18 16:43] Thraka commented on #11877
It should be used. We're moving to the more modern C# practices.

[2019-04-18 16:59] rpetrusha commented on #11910
Thanks for pointing this out, @dgunderson. Certainly, the failure to provide any context for `e` is a major failure in these examples. As it happens, e is a PaintEventArgs instance, and this code either is in a Paint event handler or a method that is called by a Paint event handler.

We've opened dotnet/samples#827 to address this issue.

[2019-04-18 18:11] mark-monteiro opened #11917 "No Documentation on Settings Sections"
There is no documentation included on this page for how the name for the element `WindowsApplication1.Properties.Settings` is determined.

Based on my testing, it seems that the expected name for this tag is the namespace and class name in the file generated by settings designer.

However, it is not clear to me what name should be used for the tag in the case that I am creating new application set

[2019-04-18 18:38] dgibbs-at-uwsp opened #11918 "no boxing, no casting"
Isn't this comment a "lie"?  Or is it just pointing out that the programmer doesn't need to box or cast?  Because doesn't boxing/unboxing occur by the List?

// No boxing, no casting:
list1.Add(3);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1df209a-0be4-8d72-1535-d2fd90c3c61d
* Version Independent ID: 5b9991c8-962

[2019-04-18 18:58] mikkelbu commented on #11918
The comment is correct, since the list has type `List<int>`. One of the advantages of generics besides compile-time type checking, binary code reuse, and clarity of the code was the avoidance of casting and boxing/unboxing.

See e.g. https://blogs.msdn.microsoft.com/jmeier/2006/10/06/performance-guideline-use-generics-to-eliminate-the-cost-of-boxing-casting-and-virtual-calls/ for more information.

[2019-04-18 19:54] jenokizm opened #11923 "4.8 min mistake"
If compare the information from the page where the minimum numbers and on the page where all the numbers, it becomes clear that there is an mistake. There is more than the minimum number for 4.8, that is 528040 but not 528049

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ab3cb0-89c4-80f1-b6d0-b7039141d71e
* Version

[2019-04-18 20:46] #11859 closed

[2019-04-18 20:48] wadebee commented on #7489
For those of us behind corporate firewalls it would be helpful to include a discussion about proxy handling including examples of setting up the WebProxy and HttpClientHandler classes needed.

[2019-04-18 22:20] fleed opened #11928 "error NU3004"
I started getting the following error:

`error NU3004: Package 'MSTest.TestAdapter 1.1.18' from source 'https://api.nuget.org/v3/index.json': This repository indicated that all its packages are repository signed; however, this package is unsigned`

My guess is that it is related to this: [https://docs.microsoft.com/en-us/nuget/api/repository-signatures-resource](https://docs.microsoft.com/en-us/nu

[2019-04-18 22:36] Thraka commented on #10188
Duplicate of #10648
Duplicate of #10649

[2019-04-18 22:37] #10188 closed

[2019-04-18 22:38] Thraka opened #11929 "Document new JSON types for Core 3.0"
New JSON types have been added to .NET Core 3.0 and should be documented. Here is information taken from the release notes:

## Fast built-in JSON support

The .NET ecosystem has relied on [**Json.NET**](https://www.newtonsoft.com/json) and other popular JSON libraries, which continue to be good choices. **Json.NET** uses .NET strings as its base datatype, which is UTF-16 under the hood.

The new

[2019-04-18 23:37] mjsabby opened #11931 ".NET Core 3.0 Feature - Large Pages in .NET Core"
**Help us make content visible**

- large pages .net core
- large pages coreclr
- huge pages .net core
- huge pages coreclr
- super pages .net core
- super pages coreclr

**Describe the new topic**

Large Pages in .NET Core

- Talk about what large pages are and how they help improve performance
- How to enable large pages in .NET Core
- Windows specific - acquiring `SeLockMemoryPrivilege`
- Linux

[2019-04-18 23:39] mjsabby commented on #11931
The above is an outline that needs to be fleshed out. @Maoni0 @janvorli feel free to add to the outline.

[2019-04-19 04:14] Maoni0 commented on #11931
sounds good; could also talk about using HW counters to monitor the TLB misses during steady state.

[2019-04-19 07:38] hrnsky commented on #11912
Yes you are right, It's not clear, but as you see the code, dotnet run command requires the .csproj file, you can either pass the full path or run inside the folder where .csproj located.

[2019-04-19 09:47] pkulikov commented on #11889
@paulomorgado thanks for sharing your observations.

**On TOC**

The TOC is being shrunk with the individual operator entries made "hidden" behind the overview article entries. That is, one wouldn't see the "% operator" entry, but if one enters "%" in the textbox above the TOC, the "Arithmetic operators" entry is shown. That said, I think every operator should be "searchable" this way in the TOC.

[2019-04-19 15:01] BillWagner commented on #10741
Operators that were missing in the first review that should be added:

- `new` operator
- `stackalloc` operator

[2019-04-19 15:03] BillWagner commented on #11889
Thanks for writing this @paulomorgado I'm glad you're participating in the discussion.

There are several moving parts here. I'll notes those then address the questions.

We're looking to trip the **Language Reference** section of the C# Guide by relying on the **Language Specification** as the complete authoritative reference. See #2840 for the background discussion. we intend this to make the re

[2019-04-19 15:13] #11909 closed

[2019-04-19 15:24] #11910 closed

[2019-04-19 15:28] BillWagner commented on #11905
The using statement can be either inside or outside a namespace.

Closing this as a question that has been answered.

[2019-04-19 15:28] #11905 closed

[2019-04-19 15:30] BillWagner commented on #11906
Closing as an annotation

@Arthonor Your comments will still be visible at the bottom of this article. They'll be on the "closed" issues tab.

[2019-04-19 15:30] #11906 closed

[2019-04-19 15:33] BillWagner commented on #11907
These are great comments @Arthonor

Yes, you'll often create extension methods when you want to extend a type, but that type is from another assembly. You can build functionality from the existing public API to add new capabilities.

It's also correct that you'd likely extend the original class in cases where you have the source for that type.

Closing as an answered question.

[2019-04-19 15:33] #11907 closed

[2019-04-19 16:52] dtivel opened #11936 "`dotnet restore` documentation is out of date"
**Before you open an issue**

If the issue is:

- A simple typo or similar correction, you can submit a PR. See [the contributor guide](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) for instructions.
- A general support question, consider asking on a support forum site.
- A site design concern, create an issue at [MicrosoftDocs/feedback](https://github.com/MicrosoftDocs

[2019-04-19 17:38] JRAlexander commented on #11894
@PakAtom - This is in process of being updated. In the meantime, check out https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_TensorFlowEstimator. It's been updated to 1.0.0-preview.

[2019-04-19 17:42] #11779 closed

[2019-04-19 17:44] JRAlexander commented on #11472
Thanks, @Skybladev2, for the feedback! This has been fixed.

[2019-04-19 17:44] #11472 closed

[2019-04-19 17:46] JRAlexander commented on #11466
Hi, @kcrandall, we are in process of updating these to v 1.0.0-preview.

[2019-04-19 17:47] JRAlexander commented on #11221
Thanks, @msschl, This has been refactored in the sample and is moving to a how-to.

[2019-04-19 17:47] #11221 closed

[2019-04-19 17:49] JRAlexander commented on #11682
Hi, @alexsapple, this was just updated for v 1.0.0 here: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/load-data-ml-net

[2019-04-19 17:50] JRAlexander commented on #11682
Closing as it's now resolved.

[2019-04-19 17:50] #11682 closed

[2019-04-19 18:30] sfilipi commented on #9962
Hi @fedoranimus, thanks for the question. In a typical pipeline, where you have the data transformation anda trainer at the end of it,  If the data type is all the same, and especially if it is all floats(System.Single), and you want to use all of them as Features, you either should load them all together as a vector, or you'd have to concatenate them into one before supplying them to a trainer (a

[2019-04-19 19:12] #11523 closed

[2019-04-19 19:12] stevenbrix opened #11943 "can't install Microsoft.WindowsDesktop.App shared runtime"
this install script lets you install the `Microsoft.NETCore.App` and `Microsoft.AspNetCore.App` shared runtimes but not the `Microsoft.WindowsDesktop.App` shared runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* C

[2019-04-19 20:26] Bartolomeus-649 opened #11949 "Why accessing custom attribute from within the class where it is applied?"
Please elaborate on the use case when you create a custom attribute, apply it to a class, and then from within that class want to read the very same custom attribute. Wouldn't it be easier just define the attributes properties as constant private fields in the class?  Why Would you create an attribute for something like this?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-19 20:27] Bartolomeus-649 opened #11950 "When is the custom attributes constructor called, and by whom?"
Can't find any info on when a constructor of a custom attribute class is called, and by whom it's called.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a62174c-7cdd-54b7-6740-49caf6d5b043
* Version Independent ID: be1f8622-f6ea-5da9-d038-a4459b94c671
* Content: [Retrieving Information Stored in Attributes](https://do

[2019-04-19 20:28] Bartolomeus-649 opened #11951 "How access target type in custom attributes constructor?"
I can't find any information on how you know which type, property and so on the custom attribute is applied to from within the constructor of the custom attribute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a62174c-7cdd-54b7-6740-49caf6d5b043
* Version Independent ID: be1f8622-f6ea-5da9-d038-a4459b94c671
* Content

[2019-04-19 20:32] Bartolomeus-649 opened #11952 "Custom attributes: When, Why and how?"
Can't find any real good info or explanation on when a custom attribute should be used, and in what way it should be used.
Take your Developer attribute as an example, let's say you create this DeveloperAttribute, put it in its own assembly so you now can use it every where in all your other project.
So now you reference this DeveloperAttribute assembly in another project and and everyone start ad

[2019-04-19 21:04] Bartolomeus-649 commented on #8988
Please include what is used for, only for localization and resolving resources to the correct language, or does it affect other things as well? Like regional settings? Date and time format?

Also, how does it relate to other settings for language on OS level (system, user and so on).

Also, what if you set the language to, for example russian, how will you then display stuff when the default codep

[2019-04-19 21:06] DKlaudt opened #11953 "Reference Folder does not exist under GettingStartedHost"
There is no reference folder under the GettingStartedHost project and cannot add the reference below. In VS 2019
In the Add Reference window, under Assemblies on the left side of the window, select Framework.

Select System.ServiceModel, and then select OK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c8cbb16-05b1-a5

[2019-04-19 21:47] rpetrusha commented on #11923
Thanks you so much for pointing this out, @jenokizm. I've opened #11956 to address it.

[2019-04-19 21:58] rpetrusha opened #11957 "Replace "default constructor" with "parameterless constructor""
## Replace "default constructor" with "parameterless constructor"

For background, see #10517 and #11945

The term "default constructor" is confusing because:
- It is similar to "implicit default constructor".
- It can be confused with a constructor that has default arguments.

It should be replaced with "parameterless constructor". This change should be made in:

- [ ] The Visual Basic documentat

[2019-04-19 22:32] JRAlexander commented on #11894
@PakAtom I just pushed the updated code sample for the tutorial. Here is the PR: https://github.com/dotnet/samples/pull/833

[2019-04-19 22:46] JRAlexander commented on #9962
Thanks, @sfilipi!!  Closing, as I believe this is resolved.

[2019-04-19 22:46] #9962 closed

[2019-04-19 22:54] jjclayborn opened #11958 "Instructions not clear"
On the page "modify list contents" it says to "Add the following code below the code you've already written:" but it doesn't say where. If I take this instruction literally and add this code at the end of the stuff I wrote on the "create lists" page, then there are two different sets of outputs, and I'm pretty sure that's not what is intended.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-04-20 14:38] #10517 closed

[2019-04-20 15:52] markbjerke commented on #10085
The example doesn't run, I tired supplying the missing Point3D class but then the extension Add method complained.

[2019-04-20 16:01] #11923 closed

[2019-04-21 06:19] jwwicks commented on #11883
@Thraka According to the note on this [page](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore21) restore isn't even strictly required.

I'll pick this up but would it be best to just git rid of the extra steps and put in a note section that specifies prior to 2.1 you should run restore and build explicitly.

[2019-04-21 17:36] #10089 closed

[2019-04-22 07:28] ArchSerpo commented on #11779
One other thing I have noticed

`Console.WriteLine($"*       RMS loss:      {metrics.Rms:#.##}");`

Needs to be

`            Console.WriteLine($"*       RMS loss:      {metrics.RootMeanSquaredError:#.##}");`

[2019-04-22 14:48] BillWagner commented on #10726
There are new types that should be added to this task:

- `System.ValueTuple`
- `System.Index`
- `System.Range`

`ValueTuple` seems to fit nicely with the 'simple types', where "simple" means a value type that's not a single numeric value. `ValueTuple` is required by the 7.0 language and feels "simple".

Both `Index` and `Range` point to a possible new category: ValueTypes required by the language

[2019-04-22 14:57] BillWagner commented on #10849
@jwwicks Thank you, and I like this idea:

I think the right answer for this table is to limit it to the reference types which are synonyms for a C# keyword (for example, `string` is `System.String`,  `object` is `System.Object`, `delegate` is `System.Delegate` and so on, including `Array`.)  I'm debating if this section should call out all the types required by the language spec. That would inclu

[2019-04-22 16:02] tdykstra opened #11967 "Missing code snippet"
2nd code block under **Ref locals and returns** is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc229b53-a548-4ef8-86b9-58670a81344a
* Version Independent ID: aeb15230-e1cc-df50-7edb-fb50164e13be
* Content: [What's New in C# 7.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7)
* C

[2019-04-22 16:03] jwwicks commented on #10849
@BillWagner I think that makes the most sense.

My only concern would be items like System.ValueType or System.Enum etc... where we have classes for the value types. We'd just need to include the same kind of [notes](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/types#the-systemvaluetype-type) I think.

As for Attributes, Interfaces and Exceptions if you

[2019-04-22 17:55] binishvbabu opened #11970 "'DataOperationsCatalog' does not contain a definition for 'TrainTestSplit'"
[code]
I am trying to do a sentiment analysis and trying to get TrainTestSplitData. Here I am getting an error.

I am following this tutorial- https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis

[2019-04-22 17:56] mairaw commented on #11967
I'll file a bug for the eng team as well as @Thraka takes care of the root cause. OPS should flag bad snippet tags.

[2019-04-22 18:03] mairaw commented on #10589
Should you reopen this until #11960 is merged?

[2019-04-22 18:08] Thraka commented on #10589
Whoops. Didn't realize this was auto closed hehehe

[2019-04-22 18:11] #11967 closed

[2019-04-22 18:14] JRAlexander commented on #11970
What version of ML.NET are you using?

[2019-04-22 18:18] mairaw commented on #10589
You used the magic keyword to auto-close on the samples PR. 😄 we used something like Related to or Contributes to when something is part of a PR but shouldn't close it.

[2019-04-22 18:18] JRAlexander commented on #11908
HI @grecoe, thanks for your feedback. Adding the version to the NuGet instructions is a good idea, and I'll update that. We've now updated the tutorial to v 1.0.0-preview. Closing as I believe this is resolved.

[2019-04-22 18:18] #11908 closed

[2019-04-22 19:13] binishvbabu commented on #11970
@JRAlexander, I was using **0.11** version of ML.Net which I installed using Nuget package. Now I added **1.0.0-preview** using command prompt and solved the issue. Thanks for asking the right question.

the command I used-
`dotnet add package Microsoft.ML --version 1.0.0-preview`

[2019-04-22 20:22] JRAlexander commented on #11970
Glad it's resolved. Have a good day!

[2019-04-22 20:22] #11970 closed

[2019-04-22 21:05] BillWagner commented on #11618
Closing this. dotnet/csharplang#2115 is a better choice for this discussion.

[2019-04-22 21:05] #11618 closed

[2019-04-22 21:07] BillWagner commented on #11642
Thanks for writing this @jaymins93

That's a great idea, and something we should add.  I've tentatively scheduled it for this quarter.

[2019-04-22 21:10] BillWagner commented on #11647
Thanks for bringing this to our attention @skylerberg And for the helpful suggestion @svick

We should also include how to do this via the `dotnet build` command.

[2019-04-22 21:33] BillWagner commented on #11745
@KalleOlaviNiemitalo  Thanks for providing the answer to @asloppyone 's question.

I'll close this as an answered question.

[2019-04-22 21:33] #11745 closed

[2019-04-22 21:37] BillWagner commented on #11770
Thanks for pointing this out @KalleOlaviNiemitalo

I think the best solution is to remove this article, and redirect traffic to a similar how-to article on the [EventHandlerList](https://docs.microsoft.com/dotnet/standard/events/how-to-handle-multiple-events-using-event-properties).

Thoughts @rpetrusha @mairaw ?

[2019-04-22 21:41] mairaw commented on #11845
Closing this one by design given the note is still accurate. Please let us know if you have any other questions @UlliBien.

[2019-04-22 21:41] #11845 closed

[2019-04-22 21:41] BillWagner commented on #11777
Ping @sharwell if he has any insight on this.

I think this would depend on the engine that processed the XML output from the compiler. I can't find any tag that specifies table-like output.

[2019-04-22 21:44] BillWagner commented on #11790
Thanks for the suggestion @ScottHutchinson

I've added it to our backlog, We'll add more samples when we next update this article.

[2019-04-22 21:45] mairaw commented on #11662
Closing this one due to the lack of information. Please get back to us @lonevvolf if you have the information that @Thraka requested.

[2019-04-22 21:46] mairaw commented on #11580
Closing this due to the lack of information. Please let us know if that doesn't clarify or if we misunderstood your feedback @mzoz and we can reopen this.

[2019-04-22 21:46] #11580 closed

[2019-04-22 21:46] BillWagner commented on #11834
That's a great question @gpetrou

I'd have to benchmark that case.

Ping @jaredpar if the C# team has any general guidance on nullable structs as `in` parameters.

[2019-04-22 21:48] mairaw commented on #10540
Closing this due to the lack of information @kingshez021. Please get back to us with information about the article where you're seeing this so we can follow up.

[2019-04-22 21:48] #10540 closed

[2019-04-22 21:48] mairaw commented on #9208
@KathleenDollard can you comment on this?

[2019-04-22 21:49] BillWagner commented on #11835
Thanks for raising this issue @geoff-m

That's not the best example. We'll revise that when we next update this article.

[2019-04-22 21:54] mairaw commented on #5989
@cartermp do you want to add that sort of info to the docs? @jon49 have you managed to get an example up?

Thanks!

[2019-04-22 21:55] KathleenDollard commented on #9208
Yes. I am so sorry this dropped on my end.

Yes, I think this is a good change @ericmutta are you able to add the example you suggest to the docs?

[2019-04-22 21:55] BillWagner commented on #11857
@tapika If the return type of `Main` is `void`, the exit code will be `0`.  See the second paragraph of [this section](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/basic-concepts#application-termination)  in the C# Specification.

This article should be updated to reflect that. I've added it to our backlog, and added the 'up for grabs' label.

[2019-04-22 21:56] jaredpar commented on #11834
They should not be marked as `readonly` because a `Nullable<T>` is a `struct` which is non-readonly. There was an attempt to make `Nullable<T>` into a `readonly struct` but that was a breaking change. The reasoning is detailed here:

https://github.com/dotnet/corefx/pull/24997#issuecomment-346523578

In short though the problem is the backing `T` was never marked `readonly` and making it `readonly

[2019-04-22 21:57] mairaw commented on #11943
Thanks for your comment @stevenbrix. @KathleenDollard @johnbeisner can you comment on this feedback about using the dotnet-install scripts to install the Microsoft.WindowsDesktop.App shared runtime? Is that being worked on already?

[2019-04-22 21:58] BillWagner commented on #11861
That's a great suggestion @djeec

I think the best way to fix this is to update the headers for the different tags from `H3` to `H2`. Then, they would appear automatically.

I've added this to our backlog, and added the "up for grabs" label to this issue.

[2019-04-22 22:00] BillWagner commented on #11895
closing as spam.

[2019-04-22 22:00] #11895 closed

[2019-04-22 22:01] KathleenDollard commented on #11943
@dsplaisted

[2019-04-22 22:01] mairaw commented on #11936
Thanks for your feedback @dtivel. You're correct. We are in the process of updating the CLI docs for 2.2+ and this update is scheduled for our next sprint.

[2019-04-22 22:05] mairaw commented on #11931
Would this belong here: https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/memory-management-and-gc?

[2019-04-22 22:07] mairaw commented on #11528
@Thraka can you take a look at this feedback?

[2019-04-22 22:07] dsplaisted commented on #11943
We have the following work item which tracks adding this support: https://github.com/dotnet/cli/issues/11115

Thanks,
Daniel

[2019-04-22 22:09] mairaw commented on #11943
Thanks @dsplaisted. I'll leave this in our backlog to update the article once the scripts have added the support then.

[2019-04-22 22:13] mairaw commented on #11528
Also adding @mvelosop and @nishanil since the feedback seems to be related to the e-book article and not our own Docker content.

[2019-04-22 22:40] markwaterman opened #11976 "Startup event order is different in Tablet Mode"
Form.Activated fires *before* Form.Load when Windows 10 is in Tablet Mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d3a80d-9468-0283-435b-f45f4827b920
* Version Independent ID: c879f822-8677-5e20-bcc7-52e1595d8883
* Content: [Order of Events in Windows Forms](https://docs.microsoft.com/en-us/dotnet/framework/wi

[2019-04-22 22:41] BillWagner commented on #11918
@mikkelbu Thanks for providing the answer to @dgibbs-at-uwsp 's question.

I'll close this as an answered question.

[2019-04-22 22:41] #11918 closed

[2019-04-22 23:06] BillWagner commented on #11913
Thanks for writing this up @BeMor81 We'll address this when we next update this article.

[2019-04-22 23:10] BillWagner commented on #11958
Thanks for writing this up @jjclayborn

I've added to the next sprint to update this.

[2019-04-22 23:49] Thraka commented on #11917
Thank you for opening this issue. I'll add it to the backlog.

The values allowed under `<applicationSettings>` need to be defined by adding an entry to the [`<configSections>`](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/configsections-element-for-configuration) element.

So you need to provide that definition at the top of the config file. After recreating your e

[2019-04-22 23:54] Thraka commented on #11917
NOTE When fixing this issue

1. the article this issue is on should mention the link between defining a config section and then providing that section.
2. The [How to create new Application Settings programmatically](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-create-application-settings#to-create-new-application-settings-programmatically) article should show the con

[2019-04-23 00:13] Thraka commented on #11883
@jwwicks Do you mean prior to 2.0?

[2019-04-23 01:01] jwwicks commented on #11883
Yeah note says 2.0, typo :)

[2019-04-23 03:45] Maoni0 commented on #11931
I think this should belong here: https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals where it mentions VirtualAlloc in "the managed heap" section.

[2019-04-23 05:59] pkulikov commented on #10726
@BillWagner it looks that this issue *redefines* what "simple" means. The existing definition is according to the spec:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/value-types#simple-types

I think those two approaches are better. First, no need to redefine the current "simple types" notion. Second, would it be fine even not to label it as "other value types", but ha

[2019-04-23 06:33] PerJogback opened #11977 "Compiler warning in VS2017 for usesystemdefault and bypassonlocal"
The example gives the following warnings in VS2017:
The 'usesystemdefault' attribute is invalid - The value 'true' is invalid according to its datatype 'NmToken' - The Enumeration constraint failed.
The 'bypassonlocal' attribute is invalid - The value 'true' is invalid according to its datatype 'NmToken' - The Enumeration constraint failed.

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-23 07:18] gpetrou commented on #11834
Thanks for the explanation. I will open an issue in Error.Prone repository to fix this.

[2019-04-23 07:28] user2150 opened #11978 "MethodImplAttribute with MethodImplOptions.Synchronized"
1) "You can also decorate a method with a MethodImplAttribute and MethodImplOptions.Synchronized"

2) "Do not lock the type ... in order to protect static methods. Similarly, do not use this ... to lock instance methods"

Here's the description of the MethodImplOptions.Synchronized member:
Static methods lock on the type, whereas instance methods lock on the instance.
https://docs.microsoft.com/en

[2019-04-23 07:34] ashleyNoDeal opened #11979 "Try.NET link doesn't work"
the Try.NET link doesn't work . Just links to a empty white page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d710feeb-8f03-b211-a070-155938929d6b
* Version Independent ID: c980ea8e-ffb4-fbb1-1761-292858616cdd
* Content: [C# foreach statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords

[2019-04-23 08:46] paulomorgado commented on #11889
I think it's not obvious that the filter will find something that's "not there". I would expect the filter to, well, filter what's "there".

[2019-04-23 09:46] user2150 opened #11980 "Thread.Suspend is obsolete"
The Thread.Suspend method is marked obsolete in https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.suspend?view=netframework-4.8

May be it makes sense to mention this here too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb817bbc-df5f-6c70-322b-6e9ed10a7aba
* Version Independent ID: 9b1137da-f8a4-8

[2019-04-23 12:29] BillWagner commented on #11979
Ping @jonsequitur

The samples on this page that use `Span<T>` fail because `Span<T>` is not found.  Other samples work correctly.

Do you have insight on how we should fix this one?

[2019-04-23 12:39] BillWagner commented on #10726
Thanks for the thoughtful comments @pkulikov.  These discussions continue to be a key part of this project's success. Thank you. 🙇

I agree that we should not use "Simple Types" to mean anything other than the meaning in the language specification.  That's a great point.

And, one other type we missed in the lists earlier:  `System.Nullable<T>`. That should be in the list above between `enum` and

[2019-04-23 13:18] LiveToLearnRo opened #11981 "Testing code example found here causes StackOverflowException : https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#other-function-members"
Actually testing code example found here causes StackOverflowException : https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#other-function-members.

Details :

List<T> class in the example overrides operator ==
        public static bool operator ==(List<T> a, List<T> b)
        {
            return Equals(a, b);
        }

In Equals function ther

[2019-04-23 13:33] BillWagner commented on #11981
ping @MadsTorgersen @agocke

Should I fix this in the spec introduction? This section has been removed from the ECMA spec as of version 5.0.

[2019-04-23 13:35] smarcantonio opened #11982 "Bug in sample code for detecting .NET 4.8"
The "Release DWORD" table shows the following for the new .NET 4.8 release:
"On Windows 10 May 2019 Update: 528040
On all others Windows operating systems (including other Windows 10 operating systems): 528049"

The sample code for identifying .NET 4.8 uses the larger of these two numbers:
[code]

This will therefore fail on Windows 10 May 2019 Update.

It should be like this:
[code]

---
#### Doc

[2019-04-23 13:57] Thraka commented on #11883
I think you can just delete the note. 1.x is about to fall out of LTS and the prereqs on this page make you download 2.2.

[2019-04-23 14:21] #3966 closed

[2019-04-23 14:21] Thraka commented on #11903
Hello.

What assumptions are people making? The table is focused on the .net standard version and the intro to the table states that the versions listed are the **minimum** required.

[2019-04-23 14:28] #9834 closed

[2019-04-23 14:40] #11952 closed

[2019-04-23 15:17] Thraka commented on #11949
Hello!

That would not be the normal use-case of an attribute. The attribute is extra metadata describing what it's attached to.

I'm going to close this issue. I think the answer to your other question #11952 will help.

[2019-04-23 15:17] #11949 closed

[2019-04-23 15:19] Thraka commented on #11949
Duplicate of #11952

[2019-04-23 15:26] DanFTRX opened #11984 "What's New in C# 8.0 Docs page doesn't mention IAsyncDisposable at all"
The "What's New in C# 8.0" Docs page doesn't mention IAsyncDisposable at all.  You have to follow a link into the AsyncStreams tutorial to even see mention of it. This seems like an oversight to me as the IAsyncDisposable is a relatively noteworthy addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-

[2019-04-23 15:32] Thraka commented on #11950
Hello!

This is answered on stackoverflow: https://stackoverflow.com/questions/12196647/when-are-attribute-instances-created

I'm going to close this issue. Thanks.

[2019-04-23 15:32] #11950 closed

[2019-04-23 15:40] Thraka commented on #11980
Thank you for opening this issue. I'll add it to the backlog.

@rpetrusha Assigning you since this is this probably needs a rewrite to use the suggested replacements such as the Monitor class.

@user2150 Thanks again!

[2019-04-23 15:45] Thraka commented on #11899
Hello!

I believe the build system will only pack referenced assemblies if you are referencing them as a normal DLL library reference and not using a package reference.

That being said, you can edit the nuget package (with a tool such as NuGet Package Explorer) and add more files and reconfigure things **after** the package is created. I think you could also reference the DLL as an "included" fil

[2019-04-23 15:45] #11899 closed

[2019-04-23 15:49] Thraka commented on #11896
Hello! Thank you for filing this issue. We're in the middle of updating a lot of the CLI docs.

@mairaw I figured you could fix this during your other updates to the CLI docs. Assigning to you but leaving the project/milestone settings up to you.

[2019-04-23 15:58] pkulikov commented on #11980
@Thraka @rpetrusha what about merging (and possibly editing) the whole article into the API reference page for the `Thread.Suspend` method (because it's about the internals of this method)? After that the page can be removed from the docs with the redirect to the API page.

[2019-04-23 16:00] NextTurn opened #11986 "Marshalling vs Marshaling"
**Marshalling** is used for titles and headings in .NET Guide, while **Marshaling** is used in .NET Framework Guide.

/cc @rpetrusha @jkoritzinsky

[2019-04-23 16:21] sharpninja commented on #11903
How do I get to the table.  The source file for the page links to net-standard-table.md which is not located in the repository.

[2019-04-23 16:30] CeciAc opened #11987 "Suggestion about the use of TRIM"
@onieto07 commented on [Mon Apr 22 2019](https://github.com/dotnet/docs.es-es/issues/125)

En el ejemplo de uso de TRIM, se debería poner un punto al final de las oraciones para que se pueda visualizar bien el efecto de las diferentes sintaxis de TRIM, retomando el ejemplo mostrado podemos poner:

string greeting = "      Hello World!       ";
Console.WriteLine($"[{greeting}].");

string trimmedGr

[2019-04-23 16:35] CeciAc commented on #11987
Hi team,
I'm moving this here since the user is making a suggestion on the example code:

Rough translation:

In the example of using TRIM, a period should be placed at the end of the sentences so that the effect of the different TRIM syntaxes can be clearly visualized, returning the example shown we can put:

[code]

With this period we can see the effect of the different variants of trim on the

[2019-04-23 16:38] drakegens commented on #11861
Could I take a stab at this one?

[2019-04-23 16:44] BillWagner commented on #11861
Thank you @drakegens We'd appreciate that.  Just @ - mention me if you have any questions while you're working on a PR. You should find all the information you need in our [contributor guide](https://docs.microsoft.com/Contribute/dotnet-contribute)

[2019-04-23 17:54] CeciAc opened #11988 "Indexes and ranges"
@smaugcoath commented on [Tue Apr 23 2019](https://github.com/dotnet/docs.es-es/issues/126)

Creo que hay un error en la descripción del operador ^ de los índices.
Se dice expresamente que "Los valores predeterminados son 0 para el índice de inicio y ^0 para el índice de final." Es decir, entiendo que para acceder a la última posición de un array se podría hacer con "array[^0]", que sería igual qu

[2019-04-23 18:06] CeciAc commented on #11988
Hi team,
I'm moving this here since the user suggests changes in the original documentation

Rough translation:

[2019-04-23 18:12] svick commented on #11903
@sharpninja [The source for that page is in this repository.](https://github.com/dotnet/docs/blob/master/includes/net-standard-table.md) (GitHub version of the page does not understand the link, which is why the link is 404.)

[2019-04-23 18:17] svick commented on #11903
Since people still seem to be confused by the table, maybe it would make sense to add an explicit explanation before the table? Something along the lines of:

[2019-04-23 18:19] #9264 closed

[2019-04-23 20:58] mairaw commented on #11903
See if that helps: https://github.com/dotnet/docs/pull/11991

I'm also trying to think of a way where we could do the opposite of what this table does and would allow you to select what you wanna target and it would tell you what .NET Standard versions it supports. Not sure if I have many capabilities with the features we have on docs. Let me experiment.

[2019-04-23 21:48] kdawg14 opened #11994 "What does "throw from the implementation and offer capability APIs" mean?"
In the following section from https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting (with emphasis added on the part I'm not sure on):

I believe I understand the concept (define a common API, but potentially have different concrete implementations depending on the target), but I was wondering specifically about the wording in "throw from the implementation and

[2019-04-23 21:59] mairaw commented on #11256
Thanks @ghuntley. We added this update to our .NET Core 3.0 project.

[2019-04-23 22:00] mairaw commented on #11994
@JamesNK @terrajobst can one of you comment on this? Maybe we have an example we can share from our own code?

[2019-04-23 22:03] mairaw commented on #11986
Our old style guide says the following:

[2019-04-23 22:06] mairaw commented on #11982
We'll get that fixed. Thanks for letting us know @smarcantonio.

[2019-04-23 22:36] mairaw commented on #11903
I'm testing a few different options here:
https://github.com/dotnet/docs/blob/ns-experiment/docs/standard/net-standard.md

What do you think of adding a table like this to that article? (using range or listing versions individually is an option; just wanted to test some things out)

![image](https://user-images.githubusercontent.com/12971179/56620305-503f1500-65dd-11e9-9038-64188cafe283.png)

Tagg

[2019-04-23 23:44] terrajobst commented on #11903
I was working with @rowanmiller to a get an interactive table hosted on dot.net. There is a design proposal we'll be reviewing soon.

[2019-04-24 01:42] JamesNK commented on #11994
I think an example would be useful. I don't know one from corefx. Immo probably knows of a good example.

[2019-04-24 03:06] jack147527 opened #11997 "code formatting issue"
There is one formatting issue in docs [How to: Parse Strings Using String.Split](https://docs.microsoft.com/en-us/dotnet/csharp/how-to/parse-strings-using-split).
        string[] separatingChars = { "<<", "..." };

        string text = "one<<two......three<four";
        System.Console.WriteLine("Original text: '{0}'", text);

        string[] words = text.Split(separatingChars, System.StringSpl

[2019-04-24 06:03] RushikeshRPawar opened #11998 "multiple features having different data types - for binary classification"
In the given example only one feature (Sentiment Text - of string type) is considered for predicting whether sentiment Positive/Negative.
I am trying Binary classification for Multiple features , my question is how can i create Pipeline with multiple features having different data type?

public class ProposalData
    {
        [LoadColumn(0)]
        public string ProposalID { get; set; }

[2019-04-24 06:31] YonglianQian opened #12000 "Although I have granted the current user corresponding permiss, on my client side, it still prompts me that the process doesn't have the right access rights for the certificate private key."
Hi Product owner,
I ran into a problem when I use a certificate to authenticate the client.
On two virtual machines, I built a WCF application using certificates to authenticate each other based on message security. I created a WCF application on a vabqia593vm host, and hosted it on IIS, as shown in the above official example.
I consume this WCF application in the console program by adding a servi

[2019-04-24 06:51] pkulikov commented on #11903
@mairaw I think such an additional table would be of great help. Listing version is essential, I think. That makes it easier to understand.

One remark, though. Should .NET Core section contain two rows: .NET Core 1.0 and 1.1 don't support .NET Standard 2.0, but only .NET Standard 1.6

[2019-04-24 07:16] JBiesecker opened #12001 "Using local host for DNS example like Synchronous example is easier for new people."
This is the code from the sync. socket example:

            // Establish the remote endpoint for the socket.
            // This example uses port 11000 on the local computer.
            IPHostEntry ipHostInfo = Dns.GetHostEntry(Dns.GetHostName());
            IPAddress ipAddress = ipHostInfo.AddressList[0];
            IPEndPoint remoteEP = new IPEndPoint(ipAddress,11000);

And Async looks like

[2019-04-24 08:17] kierenj opened #12002 "dotnet new -i FILE_SYSTEM_PATH / dotnet new -u undocumented behaviour"
The page here says, "The FILE_SYSTEM_DIRECTORY is the project folder containing the project and the .template.config folder".

However, it looks like I can `dotnet new -i ANY_FOLDER_HERE`, and all subfolders will be searched, and any templates found will be installed?

Furthermore, I cannot `dotnet new -i X` and then `dotnet new -u X`.  For uninstallation, the path must be the full/absolute/canoni

[2019-04-24 08:44] Henkolicious commented on #11786
@Thraka Nope, the NuGet did not do the trick.

[2019-04-24 09:28] kyle0418 opened #12003 "Spelling error"
Please check if there is a spelling error of "boxe" in the following comment:

        // All-purpose method for displaying a line of text in the
        // text boxe.
        private void DisplayLine(string line)
        {
            TextBoxOutput.AppendText(line);
            TextBoxOutput.AppendText(Environment.NewLine);
        }

Related doc:
[How to: Handle User Input Events in Windows Form

[2019-04-24 12:04] ericmutta commented on #9208
Yes I can and will try sometime this week if not next week :+1:

[2019-04-24 12:44] #11648 closed

[2019-04-24 12:53] #11713 closed

[2019-04-24 16:47] mickeyjf opened #12007 ""You may need to supply run-time policy""
The minimum I would expect to find here would be at least a link to just how to "supply run-time policy" and exactly what that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7515755f-c802-9f13-e8e3-d848c336c062
* Version Independent ID: 2eda1842-4d62-fa5a-d36c-492be0852e81
* Content: [Compiler Warning (level 3)

[2019-04-24 17:13] dmschlab commented on #10719
I to would also like to comment on the lack of completeness. This is up there with not providing the list of using statements....particularly when A multiple references contain the same class names or B not providing the reference to link to so example code can work.

[2019-04-24 17:32] Thraka commented on #11903
@mairaw What about using this as a test for pivot zones?

[2019-04-24 17:40] Thraka commented on #11786
@Henkolicious Sorry that didn't work. I would edit the issue you opened and put all this detail into it. That will help them help you better.

[2019-04-24 18:29] #11988 closed

[2019-04-24 20:16] #10738 closed

[2019-04-24 20:26] #12003 closed

[2019-04-24 20:27] Thraka commented on #12003
Thank you for opening this issue. Looks like it just got fixed. Thanks again!

[2019-04-24 20:37] Rickasaurus opened #12011 "Should include examples of Result.map"
It's not a bad tutorial, but I was showing this to someone today and they could really have used some different examples that illustrate when you use bind vs map.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eede22c-dda8-85ec-d896-0a03b31a0116
* Version Independent ID: 5fa25041-c976-7751-07da-60aab9e97ae5
* Content:

[2019-04-24 23:48] #11982 closed

[2019-04-25 00:46] Thraka commented on #8647
@regal60740 This article moved over to the ASP.NET repo and was fixed up. I'm going to close this issue. If you click on the web link on your first comment, you will be moved to the other repo where you can verify the fix.

I'm going to close this issue, thanks!

[2019-04-25 00:46] #8647 closed

[2019-04-25 00:49] Thraka opened #12013 "Add links to Visual Studio article"
Regarding the docker .net core section, the overview and how to article should link to the Visual Studio Docker Tools article:

https://docs.microsoft.com/en-us/visualstudio/containers/overview?view=vs-2019

[2019-04-25 00:51] Thraka opened #12014 "Add new article to describe how to unit test or debug in a container"
Visual Studio Container Tools docs describes how to unit test in a container (I can't find it) and we should probably describe something along these lines from the command line.

[2019-04-25 00:58] Thraka opened #12015 "Fix TOC entry for visual studio tools docker"
Fix TOC entry for "Visual Studio Tools for Docker" which should be "Container Tools in Visual Studio" and point to the Visual Studio docs not the ASP.NET docs

https://docs.microsoft.com/en-us/visualstudio/containers/overview?view=vs-2019

[2019-04-25 02:39] mairaw commented on #11903
Yes, I know you are @terrajobst. But I thought it would be similar to the one you have in https://immo.landwerth.net/netstandard-versions/# which is different than I'm proposing here.
Or would you also allow to select a TFM and then tell me which .NET Standard versions are supported?

Good catch @pkulikov. I _think_ I fixed my table above.

@Thraka not in this case. You wanna see all versions and

[2019-04-25 05:08] TherealGenius commented on #8874
which is your manufacturer of laptop/desktop computer?
and model number

[2019-04-25 05:26] RAJU2529 commented on #8874
Asus vivobook 15 R542UQ-DM153 with bios X542UQ.305 Laptop .

Gpu is Nvidia GeForce  940MX GDDR5  2GB VRAM

On 24-4-2019, I installed nvidia GeForce DCH based driver 430.39

[2019-04-25 05:56] TherealGenius commented on #8874
@RAJU2529
Have you seen this problem only with this driver or with several others?

[2019-04-25 06:10] RAJU2529 commented on #8874
yes sir I checked all drivers.  problems persists.  This is laptop.

If you have  laptop, please Check the corresponding registry key, that I have mentioned previously.

Thanks sir for reply

[2019-04-25 07:54] EnricoMassoneDeltatre commented on #11877
@ite-klass please pay attention to one important point that you wrote at the bottom of your question.

You wrote:

Indeed the assignment operator (=) is **not** making any copy of the `ShapeChanged` object: **there is only one object in memory and both the event ShapeChanged and the local variable handler contains a reference to that object**. The reason behind this is that `EventHandler<ShapeEven

[2019-04-25 08:49] mvelosop commented on #11528
Hi @CyrexCore2k, thanks for the heads up!

@mairaw, I just have a basic knowledge of networks, so I can't go too deep in this issue (if at all), however this seem to be related to a recurring issue we've been having in [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers).

At some point @huangmaoyixxx [suggested a solution to issue #295](https://github.com/dotnet-architect

[2019-04-25 13:02] CyrexCore2k commented on #11528
Thanks @mairaw  and @mvelosop  for your responses.

The solution suggested by @huangmaoyixxx appears to for a different issue and in the context of a non-corporate machine. Here is the situation that I'm in:

1. Corporate Group Policy Firewall rules are set to deny all inbound access from networks designated as public. While I *can* override these settings I would probably be violating (a justifia

[2019-04-25 13:51] skwasiborski commented on #11662
Hi,

I am experiencing the same issue. The issue seems to be not related with OS version privileges etc. but with contents of the latest.version file. For dotnet runtime it contains two lines one with commit hash and one with version number, the one for aspnetcore runtime only contains one line with version number. The files can be found respectively in: [dotnet](https://dotnetcli.azureedge.net/do

[2019-04-25 15:48] NextTurn opened #12023 "Missed UnmanagedType.LPTStr"
https://github.com/dotnet/docs/blob/d9eb488422b4ce5772fa3c84737781e3b4534a8d/docs/standard/native-interop/customize-parameter-marshalling.md#L21-L25

@jkoritzinsky

[2019-04-25 16:11] #11997 closed

[2019-04-25 16:14] #9907 closed

[2019-04-25 16:34] felipepessoto opened #12025 "Missing Keywords"
There some missing keywords, like GCHandleKeyword (0x2) and FusionKeyword (0x4)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ad0e91-4be9-443a-9da8-752256073d50
* Version Independent ID: 944f24c3-194d-7869-f2bb-8db47b013a52
* Content: [CLR ETW Keywords and Levels](https://docs.microsoft.com/en-us/dotnet/framework/pe

[2019-04-25 17:01] #10589 closed

[2019-04-25 17:12] mairaw commented on #11997
Thanks for your feedback @jack147527. This was fixed in https://github.com/dotnet/samples/pull/847.

[2019-04-25 17:34] Thraka commented on #11528
This is definitely not the right place to surface this issue. However, let me send some emails internally to find someone who may be able to jump on the other thread you linked to and offers some support.

:)

[2019-04-25 17:46] #5911 closed

[2019-04-25 17:58] CeciAc opened #12029 "Add cultures that do not follow the xx-xx language/country/region convention"
@LokiMidgard commented on [Thu Apr 25 2019](https://github.com/dotnet/docs.de-de/issues/138)

Generating a Resource using Visual Studio (2019) and setting language to different simplified chinise versions result in following files
 - Form1.zh-Hans.resx
 - Form1.zh-Hans-HK.resx
 - Form1.zh-Hans-MO.resx

The subculture does not consists of a two-letter subculture code.

---
#### Dokumentdetails

⚠ *

[2019-04-25 18:01] CeciAc commented on #12029
Hi team,
I'm moving this here since the contributor is making a suggestion on the original documentation
best

[2019-04-25 18:23] #11834 closed

[2019-04-25 18:57] Thraka commented on #11528
This is outside our scope. After reading through the threads (and [others](https://github.com/docker/for-win/issues/594) on Dockers site) it sounds like the problem is with Docker and Windows not playing nicely together. This isn't related to .NET at all.

The main pain point sounds like you can't customize the network that docker installs because after reboot or upgrade docker reverts your change

[2019-04-25 18:57] #11528 closed

[2019-04-25 20:31] blacklion9279 commented on #4675
The doc is little confusing. Can you please clarify if .net app running on .net framework 4.6.2 and targeting 4.6.2, will it choose strongest available TLS version i.e. TLS 1.2 without
a) specifically configuring anything in web.config under <runtime> < AppContext> and
b) setting SchUseStrongCrypto or c changing any registry keys for Windows Server 2008 R2 or Windows Server 2012 R2 or Windows Serv

[2019-04-25 21:00] rpetrusha commented on #11770
I agree, @BillWagner. This is really a topic that's built around a dysfunctional example.

[2019-04-25 21:07] user2150 opened #12037 "Atomicity of WaitHandle.SignalAndWait"
The "Features Common to Automatic and Manual Events" section says: "A thread can signal an EventWaitHandle and then block on it, as an atomic operation, by calling the static WaitHandle.SignalAndWait method".

This means that
1) the WaitHandle.SignalAndWait method is atomic;
2) the handles to signal and to wait on are the same.

But in the article about WaitHandle.SignalAndWait
https://docs.micros

[2019-04-25 21:13] rpetrusha commented on #11982
Thanks for reporting this, @smarcantonio, and thanks for fixing it so promptly while I was on vacation, @mairaw!

[2019-04-25 21:21] rpetrusha commented on #11980
I agree, @pkulikov. This entire article is really about Thread.Suspend and the consequences of calling it, so it's best placed in the API reference. I'll keep this assigned to myself, but if you'd like to open the PRs to remove this article and move its content, please assign the issue to yourself.

[2019-04-25 22:13] #11894 closed

[2019-04-25 23:09] rpetrusha commented on #12029
The documentation indicates that this is *usually* a combination of a two-letter language code and a two-letter country/region code. I'm going to close this as By Design; the qualification is here is adequate, even if some culture/region names violate the rule.

[2019-04-26 01:20] #12013 closed

[2019-04-26 01:20] #12015 closed

[2019-04-26 04:07] davidsh commented on #4675
@blacklion9279

a) specifically configuring anything in web.config under < AppContext> and
b) setting SchUseStrongCrypto or c changing any registry keys for Windows Server 2008 R2 or Windows Server 2012 R2 or Windows Server 2016?

The short answer is no.  If you're targeting less than .NET Framework 4.7, you must follow the steps in the document to ensure you negotiate TLS 1.2 by default.

[code]

[2019-04-26 05:58] pkulikov commented on #11980
@rpetrusha first PR is submitted: dotnet/dotnet-api-docs#2368

[2019-04-26 07:23] LokiMidgard commented on #12029
Thanks for the fast response.

@rpetrusha The documentation also includes some samples.

Could it make sense to include a sample that violate this *usally*. This would emphasize that there are exceptions.

[2019-04-26 08:48] kyle0418 opened #12046 "Character issue"
Please check if there is extra character '_' in the following code.

    MessageBox.Show("Good morning " + User + ". You are connected to " _
    + Domain)

Here is the correspond document:
[System Information and Windows Forms](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/system-information-and-windows-forms).

**EDIT**: Added docs data

---
#### Document Details

⚠ *Do not

[2019-04-26 11:34] Amorpheuz opened #12048 "Missing Step to Save Model and modification to _modelPath"
The step for saving model seems to be missing from this tutorial. I found one in Iris Flowers one though and followed that, should add it here.

Also would modify _modelPath to be:
Path.Combine(Directory.GetParent(Environment.CurrentDirectory).Parent.Parent.ToString(), "Data", "Model.zip");

As "Environment.CurrentDirectory" points to Solution\bin\debug\netcoreapp2.2\(folder\file) rather than in t

[2019-04-26 13:05] BillWagner commented on #12046
Thanks for bringing this to our attention @kyle0418

You are correct the `_` should be removed in the C# sample.

Do you want to submit a PR for this fix?  (click the "edit" button on the document, and that takes you to the source on GitHub. You can edit in the browser, and save as a PR.)

If not, we'll address this.

Thanks again for bringing it to our attention.

[2019-04-26 14:20] lennartb- commented on #9958
@mairaw I'd like to do this, but have a question to your second point. Can you clarify what's the preferred MD formatting on parameters? Should these be backticked too?

So for example

`**-v** *assembly*`

or

    `-v` `assembly`

or something else entirely? *Most* pages under [.NET Framework Tools](https://docs.microsoft.com/en-us/dotnet/framework/tools/) seem to have the first option, but it's

[2019-04-26 15:09] #11857 closed

[2019-04-26 15:35] rjvdboon commented on #9639
Rather than removing the link it would be great if the site itself would be improved. But there is apparently nowhere to file an issue, as I can't find any owner or github repo for the site...

[2019-04-26 16:20] xiaokesong opened #12050 "Win10 1803 not support .net framework 4.6.2"
After reinstall System, I could not open my .net framework 4.6.2 project!

[2019-04-26 16:22] JRAlexander commented on #12048
Thanks for your feedback, @Amorpheuz!  We'll add a note about the bin directory.

[2019-04-26 17:31] blacklion9279 commented on #4675
Ok. Got it. Thanks for clarifying that. Follow up question - What's expected behavior on net framework 4.6.2 not WCF, when DontEnableSystemDefaultTlsVersions is NOT yet set to false?

In .net app, there is not specific protocol forced and let's say TLS 1.0, 1.1 and 1.2 protocols are available.

[2019-04-26 17:35] #8905 closed

[2019-04-26 17:36] davidsh commented on #4675
In .net app, there is not specific protocol forced and let's say TLS 1.0, 1.1 and 1.2 protocols are available.

If you don't set any of the registry keys or AppContext switches discussed in this document, then the default for applications targeting .NET Framework 4.6.2 will be the current default for [ServicePointManager.SecurityProtocol](https://docs.microsoft.com/en-us/dotnet/api/system.net.serv

[2019-04-26 18:20] Thraka commented on #11840
Let me know if this answers your question.

[2019-04-26 18:21] Thraka commented on #11662
I'll do some testing.

[2019-04-26 18:41] CyrexCore2k commented on #11528
This isn't a problem with Docker. This is a problem with the way Windows Networking identifies networks. I get that this isn't directly related to .Net development but it is a problem that your user base is deal with. Can you give some guidance as to how we can get this problem resolved?

[2019-04-26 19:52] Thraka opened #12053 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecf06c45-d775-5e56-7674-f85e81c5493a
* Version Independent ID: 6fde8a60-7ac8-c6fc-ad6b-0a5729f2448d
* Content: [System Information and Windows Forms](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/system-information-and-windows-forms)
* Content So

[2019-04-26 20:06] Thraka commented on #12025
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-04-26 20:11] Thraka commented on #11976
@OliaG Can you investigate this?

[2019-04-26 20:23] felipepessoto commented on #12025
Besides adding the keywords to the table, we need to create the page with the details, like we have for GCKeyword: https://docs.microsoft.com/en-us/dotnet/framework/performance/garbage-collection-etw-events

[2019-04-26 20:42] TheFreezingChicken opened #12057 "Wrong information about ListBoxItem implementing ICommandSource"
Quoting the first lines in the "Example" section: "WPF provides a number of classes which implement ICommandSource, such as Button, MenuItem, **and ListBoxItem**." and later "**A ListBoxItem invokes a command when it is double clicked**.".
These statements seem to be not true, as ListBoxItem does NOT implement ICommandSource.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-26 21:51] #11980 closed

[2019-04-26 21:55] #12023 closed

[2019-04-26 22:51] virtualgithub opened #12062 "Value doesn't exist"
"If you want to use implicit validation for a control, you must set that control's AutoValidate property to true." true is not a valid value for that property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a159347-c930-08cf-dfaf-aadb21db0a2b
* Version Independent ID: a3ae3e93-c90b-fbe3-961b-bfa0bbebdb3d
* Content: [U

[2019-04-27 12:24] timyhac opened #12069 "Private Constructor"
Would it make sense to make the constructor for CardType private?

That way the users of our enumeration class can't instantiate their own card types, and it becomes closer to an enum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d118f070-8743-e905-2d08-dc725a4e8b5f
* Version Independent ID: fae35cbd-75ae-4448-f066-7

[2019-04-27 16:33] foofoodog opened #12071 "// Await the completed task."
Why do the "int length = await firstFinishedTask; " instead of just using "int length = firstFinishedTask.Result;"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d15bb1b-5f7f-20f3-78c3-d2b5bce950ed
* Version Independent ID: 80bee493-257b-5c64-4f28-cfb4e9bae560
* Content: [Process asynchronous tasks as they complete](

[2019-04-27 21:51] CyrexCore2k commented on #11528
@Thr
Furthermore the issue you linked is unrelated to the issue I'm describing. The issue you pointed to is about allowing external machines to connect to containers through the docker host machine. That isn't the problem being described here. Honestly I'm a bit disappointed that I put so much work into describing what's going on but it doesn't seem like you took the time to read it before summari

[2019-04-28 00:25] jwwicks opened #12074 "Add reference type table page"
**Issue description**

As a user of the C# reference I would like for there to be a reference type table like the [value type table](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/value-types-table) so that I can find all the reference types in one place.

See: #10849 for discussion of this additional page

[2019-04-28 01:06] OliaG commented on #11976
@merriemcgaw is this expected? Should we update docs or create an issue in our repo?

[2019-04-28 01:14] jwwicks commented on #7095
@BillWagner I'll grab this. There's a sentence about this being used for ASP.NET projects and .aspx pages already, Do you want to include a specific example for an ASP.NET/XAML framework instead of the generic one provided? Have to admit I've never used this pragma in .Net myself. I've seen it in auto generated files but never had to explicitly use it myself.

[2019-04-28 02:43] jwwicks commented on #5926
@BillWagner / @Thraka I think instead of the FilesList example you'd be better served, given the past tense/present tense "typical" [language](https://docs.microsoft.com/en-us/dotnet/csharp/events-overview#language-support-for-events), using something like FileSaveArgs so we'd have FileSaving and FileSaved instead of Progress to work with. Then we could could give examples of both a cancellable ev

[2019-04-28 03:16] debpu06 opened #12075 "Question on Loading Data from Database"
**Issue description**

Question on implementation. Instead of loading the data from a file, I am loading from a DbContext. I am following the tutorial exactly, with the exception that once I load the data from the DbContext, I add it to the model using **LoadFromEnumerable**.

However, when doing this I continually get the following error:

"AUC is not definied when there is no positive class in t

[2019-04-28 07:21] debpu06 commented on #12075
Found out the issue was due to my data not having positive label values in my test/training data. Because of this it was not able to calculate the Auc value. Issue was mentioned [here](https://github.com/dotnet/machinelearning/issues/3175) in the dotnet/machinelearning repo.

Closing this issue.

[2019-04-28 07:21] #12075 closed

[2019-04-28 22:08] ericmutta commented on #9208
I have created a PR here: https://github.com/dotnet/docs/pull/12077

[2019-04-28 22:25] ericmutta commented on #8060
Hi @mairaw I think the `waiting-on-feedback` tag can be removed from this issue, right?

I am happy to create a PR for the change I suggested since @KathleenDollard is on board.

Let me know if I can proceed!

[2019-04-28 22:38] asthana86 opened #12078 "Consistency: Machine Learning vs. Data Science."
ML.NET is specifically targeted for Applied machine learning problem, can we update this page to remove mention of data science and replace it with short videos which intro machine learning, in the absence of such material please use this channel 9 video:
https://www.youtube.com/watch?v=cCsOvzB3rK8

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/15966

[2019-04-28 22:48] asthana86 opened #12079 "Code workflow image"
Can we make this picture a bit simpler. It's unclear in this description what are the various steps and which one comes first. Perhaps listing higher level steps
1. Prepare Data (1.1 Load Data 1.2 Extract Features)   will map to IDV
2. Build and Train (2.1 Train Model 2.2 Evaluate Model)  will map to IEstimator&lt;ITransformer&gt;
3. Run  (3.1 Model Consumption) will map to PredictionEngine

---
#

[2019-04-28 22:50] asthana86 opened #12080 "Architecture"
This might be a bit more verse for this page, but one piece of architecture perhaps might be worth a mention is that ML.NET as a framework is extensible and for DNN scenarios we have made TensorFlow ,ONNX operable within the same API set and concepts (e.g. estimators, transformers etc.)

[AB#1596631](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1596631)

---
###

[2019-04-28 22:58] asthana86 opened #12081 "What is Machine Learning?"
The applications of ML on this page in the first para make sense. What perhaps can be improved is why does a developer need ML, why can't they build logical (if/else) for performing predictions etc.
A couple of examples we have used are:
1. How do you write a function which predicts the price of a shirt based upon the description of the shirt?

2. How do you write a function which detects whether

[2019-04-28 23:03] asthana86 opened #12082 "Labels and Features"
Can we explain somewhere what Labels and Features are?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02dbf6
* Version Independent ID: 8a16b9e9-b5cb-a55e-2135-191bc62c1656
* Content: [Classify GitHub issues - multiclass classification - ML.NET](https://docs.microsoft.com/en-us/dotnet/machi

[2019-04-28 23:07] asthana86 opened #12083 "Improve readibility by replacing text with images"
Select the appropriate machine learning algorithm
Classification algorithm

These sections can be improved by using images versus text currently. My hypothesis would be it would help improve readibility. The other tutorials Sentiment Analysis and Recommendation are already using this technique.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-28 23:10] asthana86 opened #12084 "TransformerChain<TLastTransformer>"
Concepts introduced in this tutorial inconsistent with others. Concepts to introduce are IEstimator, ITransformer, IDV and PredictionEngine. Follow recommendation engine tutorial for reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fc5686-2288-d607-8136-3146ed02dbf6
* Version Independent ID: 8a16b9e9-b5cb-a5

[2019-04-28 23:15] asthana86 opened #12085 "MapValueToKey not explained"
MapValueToKey is not explained well. This section is a bit  complex to follow and understand:

"
As we want to predict the Area GitHub label for a GitHubIssue, copy the Area column into the Label column. To do that, use the MLContext.Transforms.Conversion.MapValueToKey, which is a wrapper for the MapValueToKey transformation class. The MapValueToKey returns an EstimatorChain&lt;TLastTransformer&gt

[2019-04-28 23:17] ericmutta commented on #5563
So I tried writing code to test my theory (i.e: that the run-time will ensure `Instance` is initialised exactly once) and it appears to be exactly what happens. Try this code in a console project:

[code]

The code creates 10 threads and tries to ensure that they concurrently call ` CSharedTest.Instance.SayHello()`. No matter how many times you do it, the `CSharedTest.Instance` property defined as

[2019-04-29 12:13] vitaly-zdanevich opened #12088 "Can we /reference COM objects?"
Because of cracks in the audio https://stackoverflow.com/questions/47951091 I need to use COM reference to `Microsoft Speech Object Library` - how can I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca28d0b-c090-90c3-5211-9f0c0642e441
* Version Independent ID: 1fa89150-3060-92aa-9418-9b67a6589b89
* Content:

[2019-04-29 12:37] user2150 opened #12089 "Thread.GetHashCode uniqueness"
"In managed threading, Thread.GetHashCode is the stable managed thread identification. For the lifetime of your thread, it will not collide with the value from any other thread, regardless of the application domain from which you obtain this value."

But from here (Thread.GetHashCode Method): https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.gethashcode?view=netframework-4.8

"Th

[2019-04-29 13:13] athakral opened #12090 "Error in Doc. Window 7 SP1 supports dotnet framework 4.7.2, but not windows 8?"
Hi,

Please double check the version and supported OS table. It seems there is an error. dotnet framework 4.7.2 is supported on Windows 7 SP1, but not supported on Windows 8. Can you please update it or explicitly call it out, that it is the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8afd1f96-b008-8b2e-bf3e-8

[2019-04-29 13:58] natke commented on #12080
Good idea @asthana86

[2019-04-29 13:59] natke commented on #12079
Can do @asthana86

[2019-04-29 14:26] jackalvrus opened #12091 "Bad example in GetHashCode"
Hash codes should not be aggregated using simple XOR combination.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b14bbb-dc66-f1a2-8b14-39ef3b4bde1d
* Version Independent ID: cf912666-9ad3-1673-8f69-6bf52c034ef9
* Content: [Implementing value objects](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/

[2019-04-29 14:58] BillWagner commented on #7095
@jwwicks Thanks for grabbing this.

I think the current explanation is fine. I think the key addition is that the ASP.NET or XAML frameworks make use of this pragma. Most developers won't need to declare it.

[2019-04-29 15:45] BillWagner commented on #11522
Adding myself as an additional assignee so this shows up in my filters.

[2019-04-29 15:53] GitLloyd commented on #7051
As I believe @ravidw did not stop reading right after that and had noticed the paragraph you mentioned, which does not specify what you wrote, your answer does not help. It's still not clear. Why does the program care about the object being declared as a DerivedClass for the "override" method and chooses that instead of the BaseClass method, despite the type being BaseClass, but doesn't care about

[2019-04-29 16:05] KathleenDollard commented on #5563
I'd like to see this up front in the first paragraph as it is core to the purpose of `Shared`.

That paragraph is currently

Which isn't even clear. Our docs are Open Source for a reason. This is low hanging fruit for someone that wants to contribute, they are really working to streamline the process and myself or @mairaw are happy to help. You can either propose something here for broad feedback

[2019-04-29 16:06] rpetrusha commented on #12029
It might be helpful to add some examples with code that are more than two letters in length, @LokiMidgard. I'll reopen this issue and add it to our backlog, as well as to the community contributor's project.

[2019-04-29 16:18] mvelosop commented on #11528
Thanks @CyrexCore2k,

This is certainly a pain point for eShopOnContainer users, so I'll add this to a new networking page in the wiki.

We are currently revamping the README and Wiki pages of eShop, and I'll let you know when it's public, so you can take a look and add content if you like, it'd be much appreciated.

In the meantime, I'll add the PR sumbitted by @gababu with your proposal.

Cheers

[2019-04-29 17:40] mairaw opened #12094 "[IMPORTANT] Temporary default branch"
:warning: We have a temporary default branch we're targeting this week called **staging**.

We'll go back to the master default branch in a week and existing/new PRs will be merged to the staging branch throughout this week.

Publishing is also on hold except for a few [signed-off PRs](https://github.com/dotnet/docs/pulls?q=is%3Aopen+is%3Apr+label%3Asigned-off) and we'll resume publishing next wee

[2019-04-29 17:51] bigdatamoore commented on #7933
This page is still out of date.  Needs to be updated.

[2019-04-29 19:02] JeremyLikness commented on #7933
The team will be meeting to review changes after //build. I'll post follow-up here.

[2019-04-29 19:22] mairaw commented on #9357
I believe this was already taken care of. So closing.

[2019-04-29 19:22] #9357 closed

[2019-04-29 19:22] #9258 closed

[2019-04-29 20:43] r-ramesh opened #12097 "Error in "cMax" argument documentation"
"cMax = [in] The maximum size of the rImpls array."
Should this instead be "The maximum length of the rImpls array"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f4fab7-7d32-45c9-d772-d6773b52fe3d
* Version Independent ID: f45ee05d-fd6e-a897-617f-07b83db47768
* Content: [IMetaDataImport::EnumInterfaceImpls Method](

[2019-04-29 20:55] markwaterman commented on #11976
Thanks for investigating. Somebody on CodeProject did a more thorough analysis [here](https://www.codeproject.com/Articles/1254193/Win10-TabletMode-WinForms-Net-Form-Event-Order), so it looks like I'm not the first to notice this.

[2019-04-29 21:10] mairaw commented on #10671
@KathleenDollard can you or your team help with this feedback?

[2019-04-29 21:12] mairaw commented on #10479
Closing this issue due to the lack of response. @LJ9999 please get back to us if you can answer @BillWagner's question.

[2019-04-29 21:12] #10479 closed

[2019-04-29 21:12] BillWagner commented on #11874
I'm glad you found the answer @zahirtezcan-bugs

I've added this to our backlog, and the community contributions project. I've also added the "up for grabs" label to this issue.

If you'd like to submit a PR including the answer, I'll watch for it. If not, we'll add this sample when we next update this article.

Thanks for bringing this to our attention.

[2019-04-29 21:13] mairaw commented on #10157
@KathleenDollard can you take a look at this one?

[2019-04-29 21:17] mairaw commented on #12050
This seems like a product issue you're trying to report @xiaokesong. Please log one at https://developercommunity.visualstudio.com/spaces/61/index.html, so a product team member can follow up with you.

/cc @vivmishra

[2019-04-29 21:17] #12050 closed

[2019-04-29 21:18] mairaw commented on #11994
Thanks @JamesNK. @terrajobst can you help?

[2019-04-29 21:23] #11986 closed

[2019-04-29 21:24] BillWagner commented on #11987
Thanks @CeciAc and @onieto07 for bringing this to our attention.

I've added it to our backlog, and we'll address this when we next update this article.

[2019-04-29 21:37] BillWagner commented on #12007
This should get updated. In the more recent versions of .NET, where most libraries are delivered via NuGet, this is best resolved by clearing the NuGet cache, or ensuring version numbers in the CSPROJ file for the same package match.

[2019-04-29 21:39] mairaw commented on #10469
Is this still an issue?

[2019-04-29 21:40] mairaw commented on #10365
Does that solve the issue @muratg?

[2019-04-29 21:45] BillWagner commented on #10469
Yes, most of the links 404 from the page referenced in the original issue. they should be updated to the correct downloads from [this ECMA hosted page](https://www.ecma-international.org/publications/standards/Stnindex.htm)

[2019-04-29 21:45] mairaw commented on #10332
They don't exist in CAPS either 😮 So the clean-up must have happened in DxStudio.

So, do we want to restore those sections? I can bring them from the archive.

[2019-04-29 21:46] mairaw commented on #10272
Thanks @rainersigwald. @Rick-Anderson @scottaddie can we coordinate these changes?

[2019-04-29 21:54] BillWagner commented on #12071
Thanks for raising this question @foofoodog

In most cases, both work. The difference is when the task is faulted. `await` will throw the first child exception stored in the `AggregateException`. The `Result` property will throw the `AggregateException`.

I've added this to our backlog, and added the "up for grabs" label if you want to submit a PR that adds the answer I wrote above. Otherwise, we'

[2019-04-29 22:01] BillWagner commented on #10327
That's a good suggestion @alaniane

There are two answers:
- If the source collection is `null`, a `NullReferenceException` is thrown.
- If the source collection is empty, the body of the `foreach` loop is skipped. In other words, all "none" of the elements are enumerated, and execution continues with the next statement.

I've added this to our backlog, and applied the "up for grabs" label. If you

[2019-04-29 22:10] vicushin commented on #10469
Hi all,

I (and the VSCOM team) are not on point for licensing pages. Please check with @Paul Chapman<mailto:Paul.Chapman@microsoft.com>.

Thanks,
Victoria
________________________________
From: Bill Wagner <notifications@github.com>
Sent: Monday, April 29, 2019 2:45 PM
To: dotnet/docs
Cc: Victoria Cushing; Mention
Subject: Re: [dotnet/docs] ECMA C# and CLI Standards page is out of date (#10469)

[2019-04-29 22:21] BillWagner commented on #12088
@vitaly-zdanevich Thanks for raising this question.  You should find samples and instructions in our section on [interop](https://docs.microsoft.com/dotnet/csharp/programming-guide/interop/).

I'll close this as an answered question.

[2019-04-29 22:21] #12088 closed

[2019-04-29 22:23] rpetrusha commented on #10332
The problem is that the archived content is excerpted from the first edition of the book, while the non-archived content is excerpted from the second edition. I doubt that we have the right to republish it.

[2019-04-29 23:04] mairaw commented on #10332
Ah, good point @rpetrusha! So probably we should close this one by design.

[2019-04-29 23:06] mairaw commented on #10469
I started an internal thread on this. Let's see if we can get this fixed!

[2019-04-29 23:26] rpetrusha commented on #10332
Yes. I'll close it as by design, @mairaw and @danmosemsft.

[2019-04-29 23:26] #10332 closed

[2019-04-29 23:39] foofoodog commented on #12071
@BillWagner That is a good distinction and I appreciate the clarification, thank you.
Looking back on it I think this is bad example code and should just be scrapped and re-written for a lot of reasons. I will see if I can either bing/google/stackoverflow/write a better example and gist one that can be pasted into linqpad, or a .cs and be csc compiled.

My problem with bad examples code is new fol

[2019-04-29 23:42] kaiza opened #12102 "Inverted Dependency Graph diagram"
In the 'Compile Time' diagram on the left, shouldn't Class B reference Interface C? Why would Interface B reference Interface C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 829862b0-b51d-d4dd-d770-f875a588384f
* Version Independent ID: 4ab12fcc-7cc1-d40b-b5c4-d145fe25e98e
* Content: [Architectural principles](https:

[2019-04-29 23:52] shadinamrouti opened #12103 "No need to check if a directory exists to create it"
In the first example, please remove the Exists() checking because CreateDirectory() is a safe method. It won't create a folder if it exists.

[code]

See: https://stackoverflow.com/questions/9065598/if-a-folder-does-not-exist-create-it/9065716#9065716

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9502aff8-6d10-a8c9-1d

[2019-04-29 23:54] rpetrusha commented on #12090
The information is correct, @athakral. NET Framework 4.7.2 is supported on Windows 8.1, but not on Windows 8.  Since I don't see a compelling reason to specifically call out this information, I'm going to close this issue as by design.

[2019-04-29 23:54] #12090 closed

[2019-04-30 00:59] ardalis commented on #12102
Yeah, I think you're right. I'll get an update to it.

[2019-04-30 01:01] breyed opened #12105 "Overloads that differ by in, out, or ref"
The page says, "You can't create overloads of a method that differ only in the presence of in, out, or ref." Yet it also talks about the case where "An overload exists that differs by the presence or absence of in." It's not clear which overloads are allowed and which are not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-30 04:28] Thraka opened #12108 "[update] .NET Core 3.0 Preview 4 Notes"
Update the what's new core 3.0 article to include preview 4 notes.

[2019-04-30 04:29] Thraka opened #12109 "[update] .NET Core 3.0 Preview 5 Notes"
Update the what's new core 3.0 article to include preview 5 notes.

[2019-04-30 04:34] jainmnsh opened #12110 "The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel"
Hello, I followed the document and it worked when a connection is made from the same server however if requests coming from a different machine in within same network then i get below error.

System.Net.WebException
  HResult=0x80131509
  Message=The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.
  Source=System.Web.Services
  StackTrace:

[2019-04-30 05:02] Delog-ru opened #12111 "var no more"
Please don't use "var" in tutorials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/#feedback)
*

[2019-04-30 05:46] muratg commented on #10365
@reed123?

[2019-04-30 06:32] #10465 closed

[2019-04-30 06:32] #10538 closed

[2019-04-30 06:58] bendras opened #12113 "Super helpfull!"
+    Thank you for this clear article describing how to enable autocomplete in PowerShell.
!    I'd like to see autocomplete enabled by default in future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 341f0255-aa31-8e76-9b17-1232b7a910a9
* Version Independent ID: f30f63dc-0d90-7dba-ef39-b0148c637c1a
* Content: [Enable

[2019-04-30 07:00] #12113 closed

[2019-04-30 11:25] pwallner opened #12116 "Small Issue in code"
Change "Path=(Validation.Errors)[0].ErrorContent" to "Path=(Validation.Errors)/ErrorContent" to avoid errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81627319-aa78-1714-3aff-6ca7056a85a5
* Version Independent ID: 767c0a65-8b6b-0863-0e43-40d475f33908
* Content: [How to: Implement Binding Validation](https://docs.m

[2019-04-30 11:31] PhilippeProost-personal commented on #10382
Or a simple use of findStr to find a specific assembly

[2019-04-30 13:07] branstoncrumble commented on #9628
I had the same problem until I started using VS2019 instead. I didn't know what UWP and WPF mean until I googled it. I have googled many terms whilst learning .NET. Google is your friend (sorry Microsoft)

[2019-04-30 13:09] zahirtezcan-bugs commented on #11874
I think it is better if you add the sample.

Also it seems like there is also an option to use `var` keyword:

`ranges.TryGetValue(key, out var minMax)`

[2019-04-30 13:11] #9102 closed

[2019-04-30 13:24] user2150 opened #12117 "Access to local variables and passing parameters to lambda expressions"
"When you use a lambda expression to create a delegate, you have ACCESS TO ALL THE VARIABLES THAT ARE VISIBLE AT THAT POINT IN YOUR SOURCE CODE. However, in some cases, most notably within loops, a lambda doesn't capture the variable as expected. It only captures the final value, not the value as it mutates after each iteration. The following example illustrates the problem. It PASSES A LOOP COUNT

[2019-04-30 13:25] Thraka commented on #12113
You're welcome! Thanks for commenting.

[2019-04-30 13:52] Thraka commented on #5926
@jwwicks Thank you for volunteering :) I'll assign this issue to you.

Regarding your suggestions. I believe this article was trying to use the file analogy to make more sense with the next article. But this article is the introduction and doesn't define what these events mean, so there is no context. We have more free reign here since the next article really introduces that file args/event concep

[2019-04-30 14:08] csrowell opened #12118 "Finding runtime changes for .NET 4.8"
I apologize as I am completely missing it, but I can't find a list of Runtime (vs Retargeting) changes for .NET 4.8. When I choose the drop downs on this page ("Select the .NET Framework you are currently targeting and then the .NET Framework you wish to migrate to") it redirects me to the Retargeting Changes page and for each item on that page the "Type" is listed as Retargeting. Even when choosi

[2019-04-30 14:13] minoseah629 opened #12119 "WCF custom errors question?"
In .net mvc, custom errors can be turned on in web config.

Does turning on custom errors have any effect to a WCF app?

I already implemented an IErrorHandler globally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2bd955f-6c8f-c1a2-b350-e887d592c61e
* Version Independent ID: 89b8d72d-5585-3141-0fb0-1c8b9483e301
* C

[2019-04-30 15:34] zspitz opened #12120 "Why does the compile-time type matter, when using `is` for typechecking?"
The description of the circumstances under which typechecking with `is` returns `true` should only relate to the runtime type, and not the compile-time type, e.g.:

&gt; The `is` statement is `true` if the runtime type of the instance at `expr` is:
&gt;
&gt; * the same as,
&gt; * inherits from, or
&gt; * implements
&gt;
&gt; the _type_ type.

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-30 15:43] #9208 closed

[2019-04-30 15:44] BillWagner commented on #12111
We use `var` in our samples when the context should make it clear the type of variables.

In this tutorial, we've met that standard. The use of `var` starts only later in the tutorial when the concepts have been discussed.

I'll close this.

[2019-04-30 15:44] #12111 closed

[2019-04-30 15:54] BillWagner commented on #12105
This is a difficult concept, and the spec is the best language for it. We use the following language in the [language reference](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/ref#passing-an-argument-by-reference):

Two members are distinct if one of them has *none* of those modifiers.

We should add that language here.

[2019-04-30 16:45] #11883 closed

[2019-04-30 16:47] CESARDELATORRE commented on #12079
Also remove HTML/XML "syntax" from the C# interface names, looks strange since it is C# not HTML/XML.
Just use CONSOLAS font. IT is clear that starting with 'I' is an interface. Then functions/methods like 'Fit()'

[2019-04-30 16:50] JRAlexander commented on #9081
This is resolved. I missed adding it to the PR.

[2019-04-30 16:50] #9081 closed

[2019-04-30 16:53] JRAlexander commented on #12085
I believe this is resolved with the above PR.

[2019-04-30 16:53] #12085 closed

[2019-04-30 16:56] #12084 closed

[2019-04-30 16:56] #12083 closed

[2019-04-30 16:56] JRAlexander commented on #12082
This should be resolved in the above PR.

[2019-04-30 16:56] #12082 closed

[2019-04-30 16:57] JRAlexander commented on #12083
This should be resolved in the above PR.

[2019-04-30 16:57] JRAlexander commented on #12084
This should be resolved in the above PR.

[2019-04-30 16:59] #11872 closed

[2019-04-30 17:08] dsorak opened #12122 ""cref" is not the only valid parameter - THIS DOCUMENTATION IS INCOMPLETE"
Do you have any idea how frustrating incomplete documentation is to developers? I recently discovered that "langword" is also a valid parameter, as in: &lt;see langword="false" /&gt;  What else is there? PLEASE IMPROVE THIS!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9f2f59-0dec-c531-b19a-a2109ea0f973
* Version I

[2019-04-30 18:19] CESARDELATORRE opened #12123 "We're missing metrics for other supported MLTasks in ML.NET in addition to Binary-Classification, Multi-Class classification and Regression"
I created this content for the CLI since it currently supports inary-Classification, Multi-Class classification and Regression. But if this page is targeting ML.NET as a whole, we need to add additional metrics here.

[AB#1588796](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1588796)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-04-30 19:29] dsorak commented on #12122
Here is the more complete documentation: http://ndoc.sourceforge.net/content/tag_see.htm

[2019-04-30 19:48] rpetrusha commented on #12118
Thanks for pointing this out, @csrowell. I apologize for the inconvenience. We've unfortunately supplied incorrect URLs for all runtime changes that include .NET Framework 4.8, which causes retargeting rather than runtime changes to be displayed. We'll fix this immediately, though changes won't be published to docs.microsoft.com until early next week.

In the meantime, you can manually modify the

[2019-04-30 19:54] KathleenDollard commented on #10157
I suggest we simply close this. This seems to be a response to a scenario the user can get into. We cannot reproduce it so we have no idea whether it is helping people and no way to make it better.

[2019-04-30 20:02] KathleenDollard commented on #10671
@maira These look like either an SDK bug and should move to the github/dotnet/cli repo.

@michaelveloz and @ygoe we need more information, including the RID you are targeting (your .csproj file with anything you are uncomfortable sharing changed) and the results of

[code]

at the command line

[2019-04-30 20:02] csrowell commented on #12118
Perfect, thanks for the workaround and letting me know I'm not crazy. 😊

[2019-04-30 20:21] ocdtrekkie commented on #10157
I mean, I know something extremely nonsensical was happening here. Something can't simultaneously have no effect and be required at the same time.

I can try to see if I can reproduce it again, but basically it was just that by the time someone responded here, I forgot where I left the issue.

Sent from my Windows 10 device

From: Kathleen Dollard
Sent: Tuesday, April 30, 2019 2:55 PM
To: dotnet/d

[2019-04-30 20:29] rpetrusha commented on #11411
This has been partially addressed in dotnet/samples#842.

[2019-04-30 21:13] mairaw commented on #10157
Apologies on that. If you run into that again, let us know!

[2019-04-30 21:21] mairaw commented on #12122
Thanks for your feedback @dsorak.
For the href attribute, we have a discussion about it (see #4176) since VS doesn't show that as an option. But yes, we should at least add langword to this page.

[2019-04-30 23:02] IanWitham opened #12128 "Wrong URL for "Port Windows Forms projects" link."
"Port Windows Forms projects" link incorrectly points to the WPF porting instructions, not the Windows Forms porting instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3-2def-13ce28c9b210
* Content: [What's new in .NET Core 3.0](h

[2019-04-30 23:04] Thraka commented on #12103
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

The sample is at https://github.com/do

[2019-04-30 23:08] #12118 closed

[2019-04-30 23:22] luisquintanilla commented on #11273
Fixed in #11613

[2019-04-30 23:22] #11273 closed

[2019-04-30 23:26] luisquintanilla commented on #11466
Addressed in #11613

[2019-04-30 23:26] #11466 closed

[2019-04-30 23:29] luisquintanilla commented on #10956
Being worked on as part of #11792

[2019-04-30 23:29] luisquintanilla commented on #11431
Addressed as part of #11613

[2019-04-30 23:29] #11431 closed

[2019-04-30 23:30] luisquintanilla commented on #10957
Being worked on as part of #11792

[2019-05-01 01:01] scottaddie opened #12129 "Document the --dry-run option"
By appending the `--dry-run` option, it's possible to see what would happen when running a `dotnet new` command. For example, `dotnet new webapp -o testapp --dry-run`. I need to confirm, but I believe this option was added in the 2.2 SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb30

[2019-05-01 01:04] scottaddie opened #12130 "Document the substring match feature"
Substring searching is supported by dotnet new. For example, run `dotnet new we` or `dotnet new ng`. Add a note about this to the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a960-abec-255dd907d04d
* Content: [dotnet new command - .NET

[2019-05-01 02:02] Thraka commented on #12116
@pwallner did you mean to put the `/` in? I've never seen that in the xaml binding syntax.

[2019-05-01 04:11] dtdono0 opened #12132 "Waiting for the task after it is finished?"
In the last breakfast example, when you do:
Task finished = await Task.WhenAny(allTasks);
Why do you need to then do:
var eggs = await eggsTask;
Isn't the result of the eggsTask already stored in finished?
Also why say 'eggs are ready' before the await eggsTask if you are still waiting on that task?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-01 05:57] KathleenDollard commented on #8060
@ericmutta Yes, please make the change

[2019-05-01 06:15] mairaw commented on #8060
Tag removed. Thanks for the ping.

[2019-05-01 07:31] daveyostcom opened #12134 "I don't see a config file like this in my project."
I'm new to this. Apparently I need a config file that contains `<configuration><runtime><gcServer ... `, so I can control GC. But where does this file go? What is it called? I don't see a file like this anywhere in my netcoreapp2.2 app.

EDIT: Fix < > formatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b39c5030-7

[2019-05-01 07:32] daviderb opened #12135 "Minor typo"
In “Creating the data set,” the line reading “you can create two sequences to represent suites and ranks” should read “suits” instead of “suites.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2b7453-076c-a18e-f999-cbd57ab13e60
* Version Independent ID: b687ed5b-5013-cceb-01e5-77f9cc7bb534
* Content: [Working with L

[2019-05-01 07:42] pwallner commented on #12116
@thraka you are welcome

[2019-05-01 08:27] joerneu commented on #8251
Looking at the C# specs I came across this issue.

I cannot find the C# 7 Tuple specifications anywhere.

I checked [csharplang/proposals/csharp-7.0](https://github.com/dotnet/csharplang/tree/master/proposals/csharp-7.0) and Tuples are only mentioned in the `pattern-matching.md` file but there is no specification.

Is there another place to look?

[2019-05-01 09:33] ygoe commented on #10671
See also https://stackoverflow.com/questions/55456375/net-core-publish-and-version-errors

This is trivial to reproduce:

1. Open VS 2017 latest stable
2. Create a new .NET Core Console Application
3. Rebuild the solution to resolve any errors displayed in the editor/solution explorer
4. Create the file `build.cmd` next to the .sln file with the content below (adjust the project name in the `cd` l

[2019-05-01 10:04] Johan1974 opened #12136 "App.Config??"
Hello,

I created the project following these instruction but i do not see a app.config file.  Am i missing a step ?

Johan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3469d675-7452-0f70-3ef1-eb4d353b7163
* Version Independent ID: 9e089f76-487e-1e22-c7f5-57db9944f279
* Content: [Tutorial: Define a Windows Communicat

[2019-05-01 13:58] KathleenDollard commented on #10671
@ygoe

Thank you for the repro.

This isn't a docs issue but either a Visual Studio or an SDK issue.

I'm happy to route this for you, but you will lose the ability to track it.

If you use the feedback item in the upper right of Visual Studio (an icon) and just paste this message in the will let you get feedback on the resolution and will allow them to contact you if they have a question. Please

[2019-05-01 14:34] BillWagner commented on #8251
@joerneu I'll have to track that down. Thanks for adding the comment.

[2019-05-01 14:37] BillWagner commented on #12135
Thanks for raising this concern @daviderb

If you'd like, when you find these types of errors, you can click the "edit" button to update the article and submit a PR. Otherwise, I've added this to our backlog to address when we next update this article.

[2019-05-01 14:49] #11861 closed

[2019-05-01 14:55] daviderb commented on #12135
PR submitted, pending review. Thanks, Bill!

On Wed, May 1, 2019 at 3:37 PM Bill Wagner <notifications@github.com> wrote:

[2019-05-01 15:04] #12135 closed

[2019-05-01 16:44] Thraka commented on #12136
Hello. We need more information about your environment and projects. I just used **Visual Studio 2019** and chose the **WCF Service Library template** and **.NET Framework 4.7.2** and I got the app.config file. What versions are you using?

![image](https://user-images.githubusercontent.com/2672110/57029053-87bd4b00-6bf5-11e9-844c-d8004f178009.png)

[2019-05-01 16:45] #12103 closed

[2019-05-01 16:59] Thraka commented on #12134
_I believe this will answer your question. I'll close this and please feel free to reopen it if you wish._

This article is for .NET Framework projects, not .NET Core projects. .NET Core does not use the `app.config` file (which is what you're looking at).

.NET Core provides two ways of setting the GC:

01. The `runtimeconfig.template.json` file at the same level as your project file

[code]

[2019-05-01 16:59] #12134 closed

[2019-05-01 17:18] user2150 opened #12144 "Exceptions when subscribing to focus changes"
Exceptions when subscribing to focus changes

I've tried the focus changes example in console and WPF applications (using a thread pool thread in WPF), and the following messages always appear in the output window during the Automation.AddAutomationFocusChangedEventHandler call:

Exception thrown: 'System.ArgumentException' in UIAutomationClientsideProviders.dll
Exception thrown: 'System.ArgumentE

[2019-05-01 19:30] #12116 closed

[2019-05-01 19:34] Thraka commented on #11057
This was fixed in april with the rewrite of the 3.0 notes.

[2019-05-01 19:34] #11057 closed

[2019-05-01 19:39] Thraka commented on #12128
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2019-05-01 20:34] BrettBr0wn opened #12149 "Access level in Visual Basic"
The Access levels in Visual Basic link does not work. "For a comparison of Friend and the other access modifiers, see Access levels in Visual Basic."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcf094bf-2661-77a2-cfc0-e7767a5e06f4
* Version Independent ID: 2369e9af-9d7a-4355-841a-860cf408e5ca
* Content: [Friend (Vis

[2019-05-01 22:36] mairaw commented on #12149
Thanks for your feedback @BrettBr0wn. If you access the URL without any extra //, the links work:
https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/modifiers/friend

Do you know how you ended up on this page? Because it has an extra / in the path, which breaks our relative links.

![image](https://user-images.githubusercontent.com/12971179/57047414-d33c1d00-6c26-11e9-9ae2-3cc

[2019-05-02 02:02] YonglianQian commented on #12000
I didn’t solve the problem, the problem still exists. I am the moderator of the WCF MSDN forum (Microsoft service vendor), I also answer some questions related WCF on StackOverflow, I got stuck on this question for a long time, please give me some advice on this.

[2019-05-02 05:45] junpark12 opened #12150 "Calling dynamic object's property from string."
Hi This is very useful features.
Can i call dynamic object's property using string?
So instead of this line  --&gt; string line in rFile.Customer
I want to access customer's property using string from user input or config file. Is this possible?
--&gt; string line in rFile."Customer"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-02 11:26] virtuosummer4 opened #12151 "Unclear what is the earliest .Net/C# version for the described feature"
I have been having trouble with other pages in the past as well: previously I remember seeing a note on the earliest C# version that supports the described feature in the documentation, but I cannot do that any more and every time I want to check if something works for the version I am dealing with, I have to spend 10-20 minutes searching online and in version notes to discover whether I should ex

[2019-05-02 13:08] mladedav opened #12152 "EnvironmentVariableTarget is not usable for non-Windows platforms"
**Issue description**

When the Environment.SetEnvironmentVariable(String, String, EnvironmentVariableTarget) function is called, if the last parameter is anything but EnvironmentVariableTarget.Process on non-Windows platform, it will not do anything, because there are no registers to use. GetEnvironmentVariable always returns null in the same scenario. I would suggest stating that in the appropri

[2019-05-02 14:43] jobmos opened #12154 "Typo in third paragraph"
"If you have experience cooking" should be "If you have experience with cooking"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/p

[2019-05-02 15:00] ericmutta commented on #5563
OK, I will do a PR when I get a chance :+1:

[2019-05-02 18:14] CeciAc opened #12157 "An impressive article"
@dimiste commented on [Wed May 01 2019](https://github.com/dotnet/docs.es-es/issues/128)

My question is: in the piece of code:

[code]

Is it not better to be as follows?:

[code]

Since you commented above: "The await keyword provides a non-blocking way to start a task, then continue execution when that task completes. "

---
#### Detalles del documento

? *No edite esta sección. Se requiere par

[2019-05-02 18:17] CeciAc commented on #12157
hi team,
I'm moving this here since the contributor is making a comment about the code and the original documentation
best

[2019-05-02 19:56] user2150 opened #12165 "Canceling a Continuation example: unexpected behavior"
Canceling a Continuation -&gt; the first example.

When the antecedent is canceled, the program produces the following output:

-- output --

Cancellation request issued...

TaskCanceledException: A task was canceled.

Antecedent Status: Running
Continuation Status: Canceled
Press any key to continue . . .

-- output end --

There are at least two issues:
1. No "Cancellation requested in anteceden

[2019-05-02 20:43] #12128 closed

[2019-05-02 21:20] svick commented on #12157
@dimiste Do I understand it correctly that the only thing you changed is to turn `var` into `Task<T>`? Why do you think it's better to specify the type explicitly? Isn't naming the variables `somethingTask` sufficient?

(Also, the third change is incorrect: the value assigned to the `plainToast` variable has already been `await`ed, so it's not a `Task<T>`.)

[2019-05-02 21:39] chucker commented on #7471
Of note, plans to (possibly) add a UI for this switch appear to be tracked in https://github.com/dotnet/project-system/issues/126.

Until then, the entire "To set this compiler option in the Visual Studio development environment" section should be removed, as there is clearly no UI for `/publicsign` at this point; you have to edit the file by hand (which as of VS 2019 can be done by double-clickin

[2019-05-02 22:05] #12108 closed

[2019-05-02 22:18] Thraka commented on #11867
Closing due to no response.

[2019-05-02 22:18] #11867 closed

[2019-05-02 22:19] Thraka commented on #11840
Closing due to lack of response.

[2019-05-02 22:19] #11840 closed

[2019-05-02 23:11] #11630 closed

[2019-05-03 03:11] xtianus79 opened #12171 "does this work for entity framework core?"
want to know

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99913132-5ffb-14ac-8f7e-d12d0ac2fca2
* Version Independent ID: 62937617-3e72-4563-c615-30a782a113c2
* Content: [SqlMetal.exe (Code Generation Tool)](https://docs.microsoft.com/en-us/dotnet/framework/tools/sqlmetal-exe-code-generation-tool)
* Content Source: [d

[2019-05-03 06:21] sujayvsarma commented on #9639
The owner is @glennc (CC: @MadsTorgersen for visibility)

[2019-05-03 09:51] TomasHubelbauer commented on #5944
This is really unfortunate. `dotnet new sln` in an already existing project created using `dotnet new console` seems backwards to me, `dotnet sln create` would make a lot of sense, or even better, if you have just `dotnet new console` and then run `dotnet sln add project.csproj` or even better just `dotnet sln add` or `dotnet sln` it should figure out (or ask) to create the solution file (name bas