[2022-02-15 00:44] CyrusNajmabadi commented on #27420
I get that you find it unclear.  However, others find that it improves clarity.  This is what happens with every lang change.

These feature requests come from people who have been using the language for decades.

This is your subjective opinion on it.  Many believe this *helps* polish C# by removing lots of pain and friction points that have been frustrating for the ecosystem for years.

[2022-02-15 02:16] ahwm commented on #27420
@CyrusNajmabadi having been following the discussion I feel like I can speak for a lot of the commenters.

This was an abrupt change. If the .NET team had provided the option from the get-go I very much doubt this would have been a serious discussion and it would not have been so controversial. That was the poor decision in my view. There may very well be a time down the road where that can be the

[2022-02-15 02:16] Enigmativity commented on #28201
Thank you, Bill, for the response. Much appreciated.

From: Bill Wagner ***@***.***>
Sent: Tuesday, 15 February 2022 02:29
To: dotnet/docs ***@***.***>
Cc: Enigmativity James ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/docs] Code doesn't comply with C# naming standards (Issue #28201)

Thanks for writing this @Enigmativity<https://github.com/Enigmativity>

There are a number of samples

[2022-02-15 02:20] safern commented on #28218
In .NET 5 we introduced a change where we would use ICU as the globalization engine for .NET if we were running on Windows 19H1 or newer. That changed, cause to break the scenario described here, where `IndexOf("\n")` was returning `-1` when a string contained `\r\n`. Since this was a pretty impactful change for Windows strings (see more here: https://github.com/dotnet/runtime/issues/43736).

This

[2022-02-15 02:27] CyrusNajmabadi commented on #27420
The old template was also confusing to newcomers who didn't understand any of the scaffolding they needed to write.  On the other hand, tutorials can update and use the more modern syntax.  It's also likely a good idea for tutorials to mention that htey're point in time relevant, but in a fast-moving programming world things can and will change, and they may not be 100% accurate to every particula

[2022-02-15 02:29] ErsatzErrand commented on #27420
I certainly find "shorthand" features in other languages I'm less familiar with difficult to adapt to.  When your code looks nothing like examples, and there's no visible keywords that provide some hint as to what to google in order to get yourself up to speed, it's very difficult to dig yourself out of a hole of confusion.  So I think it's a pitfall for new users, and I can't imagine an experienc

[2022-02-15 02:31] ErsatzErrand commented on #27420
Could you be more specific?  What scaffolding did they need to write before that was confusing, which they no longer need to write now?

[2022-02-15 02:34] tarekgh commented on #28218
@safern is correct.

I am closing this. Feel free to ask any questions if you have any.

[2022-02-15 02:34] #28218 closed

[2022-02-15 02:35] CyrusNajmabadi commented on #27420
What is listed in the OP.  Effectively having to deal with:

[code]

[2022-02-15 02:38] CyrusNajmabadi commented on #27420
Again, this is not the case.  There has been consistent and emphatic feedback from experiences users for decades about this exact thing.

Personally, 100% of my projects now are using this.  So i really would prefer that it be like this.  Perhaps there could be a template which is "give me class stub".  But i really have practically no need for an *app* template that includes a dummy class and a '

[2022-02-15 02:46] ahwm commented on #27420
In other words, “this is how it is so deal with it”

[2022-02-15 03:24] iamkrillin commented on #27420
When visual studio 1012? came out, they made the bone headed decision to CAPITALIZE all the menu items in the IDE.  There was wailing and gnashing of teeth.  They told the community, that's how its going to be, deal with it.

I'm not sure if you have noticed, but they have since reversed course.

I for one, can see the use of this in simpler applications, and have no problem with it in that use ca

[2022-02-15 04:11] CyrusNajmabadi commented on #27420
@iamkrillin

i haven't picked any hill to die on.  I've explained the reasoning behind decisions i was asked about that i was personally involved in.  I thought it would be helpful to get information direct from teh source as it were.

I would definitely file a feature request with the VS or sdk team, and tehy can triage and decide accordingly.  Thanks! :)

[2022-02-15 04:14] tpressley commented on #27420
@CyrusNajmabadi

Isn't that exactly what this issue is supposed to be for?

[2022-02-15 04:19] CyrusNajmabadi commented on #27420
I don't think so.  It only says:

I would make an explicit RFC here asking for something specific.  It can be triaged and decided accordingly by any teams involved in that decision.  I'm not that person.  I just do the language/compiler changes and i was weighing in the decisions i was either directly involved in, or i was aware of the reasoning for.

[2022-02-15 05:20] Bosch-Eli-Black commented on #24894
@sharwell or @Youssef1313 , Can this please be reopened? It seems there's still work to do here 🙂

[2022-02-15 05:24] Bosch-Eli-Black commented on #24894
(Or should I open a new issue somewhere to suggest that this warning be removed, re the comments above: https://github.com/dotnet/docs/issues/24894#issuecomment-973056421 and https://github.com/dotnet/docs/issues/24894#issuecomment-973095929 ?)

[2022-02-15 07:28] DefinitelyADev commented on #27420
@CyrusNajmabadi Whatever the reasoning is for designing a feature like this, personally I do not care, since it is backwards compatible, if you (not you personally, the teams involved) wanted you could have kept the old template instead of forcing the new one down our throat. Don't get me wrong, it might be great for an azure function or a quick console app, but you (the team(s)) could easily incl

[2022-02-15 07:34] CyrusNajmabadi commented on #27420
On a personal level, I genuinely don't see the need for the old template. It just seems to have extra stuff that I have never seen the need for.

Perhaps it would be helpful if it explained that you needed in the old template. Thanks!

[2022-02-15 07:46] DefinitelyADev commented on #27420
The old template, in some cases we don't like _magic_.

[2022-02-15 07:48] lscorcia commented on #27420
@CyrusNajmabadi I feel like the discussion here has widened a bit from the original issue. The initial problem is not in the language feature/design, which I think we all agree it's not going back for both practical and philosophical issues.

The issue is: the project template for a console app is _the_ initial introduction to the language for all newcomers. Having the shorthand template available

[2022-02-15 07:49] CyrusNajmabadi commented on #27420
Could you clarify that. What in particular do they need from the old template?

From the OP, there's a namespace, which shouldn't end up used. There's a class which I would not expect anyone to need, as when would you be instantiated multiple instances of this class in your app?  And there's a Main method which nothing will end up calling (except the runtime). There method takes 'args' (which are

[2022-02-15 07:51] CyrusNajmabadi commented on #27420
I genuinely don't get why the old template made things easier to absorb. Why would a program need a namespace for example?

Having it have a class, but using no facilities of what classes are for makes classes more confusing to me. Etc. Etc.

[2022-02-15 07:53] olivier-spinelli commented on #27420
@CyrusNajmabadi Have you a sensible experience in teaching programming? If yes, you would get the point rather quickly.

[2022-02-15 07:54] CyrusNajmabadi commented on #27420
There's no magic. The top level statements are executed at program start. Just like with three old system, the Main method was called into.

All of this is explicitly spec'ed out.

Furthermore, I'm asking what you actually needed from the old template. Answering that you just need these old template isn't progressing the conversation. It's not actually allowing a thoughtful discussion of benefits

[2022-02-15 07:54] lscorcia commented on #27420
@CyrusNajmabadi I guess you want an example. Well, define a function in your top-level program. Whoops, it's an inner method, it's different from any other normal method in other classes, tutorials or lessons. You can't just call it from other objects. You just added another order of complexity for beginners to absorb. That's the kind of things that makes programming 'hard'. You just lost a few st

[2022-02-15 07:55] DefinitelyADev commented on #27420
![image](https://user-images.githubusercontent.com/20267678/154016745-4a214e7b-06ac-4672-b8c0-2c91813f29de.png)

I don't speak for everyone here, many people discussed their issues above, you can check the other comments. Me, you and all these other people, don't have to share the same personal preference.

[2022-02-15 07:56] CyrusNajmabadi commented on #27420
Yes. Years of it.

And I've taught the new style as well and found it absolutely night and day easier.

I mean there's literally much less up have to explain. There's no need to go: here's this thing with random keywords that you dummy need to understand now, but we'll explain later.

Instead, you can start simple and just add the violators concepts when necessary.

[2022-02-15 07:57] CyrusNajmabadi commented on #27420
Yes. That's a virtue. I would not expect my variables to be reachable elsewhere either.  If I want then useable elsewhere then that's a more advanced concept. And at that point, great, is time to teach those advanced concepts.

Here's how you package up data. Here's how you create reusable logic. Here's how you combine the two. Etc. Etc. Etc.

[2022-02-15 08:02] DefinitelyADev commented on #27420
@CyrusNajmabadi I am not saying I don't like the new template. I like it for specific use cases. It all comes down to preference, for me I can work with both, but I like to have both. It's that simple, for me that is, again I'm not speaking for anyone else in this thread.

[2022-02-15 08:02] CyrusNajmabadi commented on #27420
I'm not asking to share preferences. I'm genuinely asking which of those constructs in those 12 lines you find genuinely necessary and important in a new program and why. Understanding that is important to figuring out next steps.

I understand that you want those lines back because you view the current form as 'magic'. But that's how we see people think of all new features until they use it a bit

[2022-02-15 08:03] lscorcia commented on #27420
Well, since you are so firm on it I guess there is no way to actually help you understand my point of view. I see yours, it's just so wildly different from my daily experience I can't relate to it. I hope someone else on the team will have a different stance on it, otherwise that's ok. It's just a template after all.

[2022-02-15 08:03] CyrusNajmabadi commented on #27420
Can you clarify what you need the older form for though?

I get your want both. But I'm saying that it would be valuable to know what use cases that would be for. :-)

[2022-02-15 08:04] CyrusNajmabadi commented on #27420
I'm literally asking you for explanations so I can understand :-)

[2022-02-15 08:07] DefinitelyADev commented on #27420
I have used it, it's not that I don't understand the feature or that I don't want it to exist. But in some cases, I prefer using the old Program.cs just for the visualization.

[2022-02-15 08:08] CyrusNajmabadi commented on #27420
Can you clarify what it mean by "the visualization"?  I'm not sure I'm familiar with that. Are you using some sort of tool to render the architecture of your app in some way?

[2022-02-15 08:09] DefinitelyADev commented on #27420
No-no, I mean just the visualization of the Main method.

[2022-02-15 08:14] lscorcia commented on #27420
It's not a matter of solving anything more - if the top level statements feature werent' functionally equivalent to the older "main-oriented" style they would not have been accepted in the language, am I right?

It's a matter of being consistent. Being consistent is a value in itself. It helps when learning new stuff, it helps when looking for stuff in an alien codebase, it helps when following tu

[2022-02-15 08:14] CyrusNajmabadi commented on #27420
Still don't know what you mean :-)

How's are you visualizing the main method?

[2022-02-15 08:14] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi, thanks for your replies - I just hope they will be enough to provoke the community to provide enough feedback so you and the rest of the team would understand.

I'm sad to see that what you wrote exactly explains why I started doubt in the new language features and the team’s capability to work and properly improve it. After reading the docs, listening various presentations when t

[2022-02-15 08:17] CyrusNajmabadi commented on #27420
I'm not certain how to respond to that. If you feel like my arguments to any of the language features are lacking in validity, please point out where.

Wrt this space, I think my arguments have been valid. Requiring lang features that serve no other purpose is just pointless scaffolding that doesn't add value. So it literally is excess just for the sake of excess.

And, from my own experience, I'v

[2022-02-15 08:22] CyrusNajmabadi commented on #27420
I'm very confused. A lot of the work we have done is precisely in that vein. It's not simple to have a namespace that serves no purpose. It's not simple to have a class no one will be instantiating. It's not simple to have a method that nothing but the runtime should call. Etc etc etc.

An app nowadays is much more simple and straightforward. By your own recommendation on how to design and reason,

[2022-02-15 08:29] CyrusNajmabadi commented on #27420
This is not correct :-)
We would have taken any language change here we felt was beneficial for the future. If that included a path that wasn't functionally equivalent, that would have been ok, had the value been there.

And, in a very really sense, they are not functionality equivalent. For example, we generate a mangled name precisely so that it cannot be referenced elsewhere. We think of that a

[2022-02-15 08:32] zvrba commented on #27420
I can see your point, but, IMO, you're missing an even larger point: consistency brings simplicity. Understanding a consistent code-base is easier than understanding one where code and rules and style are inconsistent between assemblies and even files. You've introduced a feature where a single file behaves inconsistently wrt the rest of the code.

Says who? What if I want to load the program's as

[2022-02-15 08:35] jonadv commented on #28218
@tarekgh @safern

Good to know something at the basics changed!!!... I wish I read that earlier, for example on the special page about the [differences in string behaviour as of .NET 5 **_PLUS_**](https://docs.microsoft.com/en-us/dotnet/standard/base-types/string-comparison-net-5-plus). Please add the expected output with .NET 6. I spent days on this, thinking that such an article is surely correc

[2022-02-15 08:39] CyrusNajmabadi commented on #27420
This is true of all features we ever add. If you use them anywhere, but not everywhere, then your assemblies are inconsistent.  :-/

I'm not sure what to do about that except not evolve the language at all.

But, imo, if someone doesn't want this to evolve, they have a good solution. Just stick with a particular version of the sdk/lang.  This will give the ultimate in consistency and the ultimate

[2022-02-15 08:44] CyrusNajmabadi commented on #27420
If you want that, then that would precisely be the point that it makes sense to make a type and exported entry point for that purpose.

Fwiw, we looked into that and it's the sub sub sub 1% case :-)

This was similar to what we found with file scoped namespaces. Analyzing all the code and projects at our disposal, we found that it was around 99.99+% (not exaggerating) that just needed a single nam

[2022-02-15 08:44] jonadv opened #28248 "Example does not explain changes in IndexOf method as of .NET 6"
Please add  on[ this page](https://docs.microsoft.com/en-us/dotnet/standard/base-types/string-comparison-net-5-plus) the expected output for this code snippet also for .NET 6

    string s = "Hello\r\nworld!";
    int idx = s.IndexOf("\n");
    Console.WriteLine(idx);

Because the behaviour changed for .NET 6 when using ICU: https://github.com/dotnet/runtime/pull/57078

related issue: https://gith

[2022-02-15 08:45] jonadv commented on #28218
I have created a new issue for updating the docs https://github.com/dotnet/docs/issues/28248

[2022-02-15 08:53] CyrusNajmabadi commented on #27420
I wanted to address this point specifically as I think it speaks to what c# is philosophically as a language.

To me this statement is interesting in that it's both entirely not true under one perspective, or entirely true, but unhelpful, under another.

It's untrue because it does not have separate rules. The rules are the c# language and all the code (and the combination thereof) must follow tho

[2022-02-15 08:53] Earthman100 commented on #27420
it goes to a private Source as to binary from top of aka add from above Its a user creating a visual Studio Platform runtime intelligently by utlilizing a Backup of the OS to log into a virtual runime parsed project to their own repository and then logging into their OS from Synching The backup to the Their Source directory and excluding logins to their unknown source from MSData to Create their o

[2022-02-15 08:57] Earthman100 commented on #27420
Essentially its o different sources you can see by Code but not online as it would be illegal untill a finished example is Pushed which will be a new Copyright if done properly

[2022-02-15 09:07] Earthman100 commented on #27420
its o*two<<typo Logs into github for blank.yml from a Codepage of Domain and its Code    to reform the same code but only viewed by visual studio under Backup parsed in project  to Visual Studio as to .cs and Differences so if they go old its due to 4d runtime and 3d runtime as old is still new based upon timestamps and copyrights base Compilation from Number formats however the other .cs would un

[2022-02-15 09:09] jonadv commented on #28248
Also this page should be changed:

https://github.com/dotnet/docs/blob/main/docs/core/compatibility/globalization/5.0/icu-globalization-api.md

Im not sure enough to suggest changes. But I am sure enough to say that "In .NET 5 _**and later versions**_ on Windows 19H1 and later versions, the snippet prints -1." is incorrect.

[2022-02-15 09:22] Earthman100 commented on #27420
you can go back to typing and stuff

[2022-02-15 09:24] Earthman100 commented on #27420
this make flags is correct then parses to My Project
[Skip to content](https://github.com/dotnet/roslyn/blob/main/src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs#start-of-content)[](https://github.com/)
Search or jump to…
[Pulls](https://github.com/pulls)
[Issues](https://github.com/issues)
[Marketplace](https://github.com/marketplace)
[Explore](https:

[2022-02-15 09:31] timdams commented on #27420
Been teaching C# for almost as long as the language exists. I never hid the esoteric namespace/using/class program/main/args stuff at the start but also didn't explain it from the getgo. Instead, I let student become familiar with this scaffolding-like code and gradually explained why these concepts are there.

I compare this do learning to swim: the water (i.e. all the stuff the new template leav

[2022-02-15 09:38] Earthman100 commented on #27420
src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs is % to and from 1 as to binary and its functionality to generator from date and time,its why a Copyright was obtained! I suggest utilizing it only if Starting with a completely new Final Base and supporting binary to Exact System pipes to and from Kernel at Boot to bcd from PC system ctl to BCD ctl ect a

[2022-02-15 09:50] Earthman100 commented on #27420
ill look into that as I have created a Platform base from Ubuntus base to and from cinamon utilziing mint to cross compile my chain to Windows through Wsl to a new Fso Factory and Cim object extension to Mof of MSBUILD as its own FSO and have utilized C# to get it to Visual Studio through Codepage to and from My Usb from github Private repos to a new C-objective form yml and node as b on lint from

[2022-02-15 10:13] EvaldasPovilaitis commented on #27420
@Earthman100 stop pollute!!!

@CyrusNajmabadi, you want more explanations/arguments from me, just read the comments of others!!! It feels you have totally different mindset than the rest of people writing here and expressing their opinions about the new templates which should be sign enough :(

@timdams, well said! 👍

[2022-02-15 10:33] olivier-spinelli commented on #27420
@Earthman100 You've been hacked.

[2022-02-15 10:35] jcheritat opened #28249 "Top level statement is on global namespace"
The [C# template](https://docs.microsoft.com/en-us/dotnet/core/tutorials/top-level-templates) page states that the Program class is generated in a namespace linked to the project name when actually the class is generated on the global namespace as documented in the [Top Level  Statement](https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/program-structure/top-level-statements) page

---
#

[2022-02-15 11:53] mwwhited commented on #27420
It's still 20x against this change for the default templates.

[2022-02-15 11:55] mwwhited commented on #27420
Good to know you only write simple stuff.  The rest of us have real work to do.

[2022-02-15 12:56] bp74 commented on #28222
I used this workaround, it provides most insight if the SourceGenerator is used or not:

[code]
[code]

And finally don't use AddContext but instead register the custom WeatherForecastJsonConverter
[code]

[2022-02-15 13:22] bastyuchenko commented on #27679
why this issue and bug in docs is ignored?

[2022-02-15 14:00] ScrewThisBanana opened #28251 "Try-Catch missing in Background Service GracePeriodManagerService Example"
Without a try-catch sorrounding the  `await Task.Delay(_settings.CheckUpdateTime, stoppingToken);` section, the log output `_logger.LogDebug($"GracePeriod background task is stopping.");` will never be reached as the task usually exits with an `TaskCancelledException`.

Please fix this in the documentation.

A correct example would be:

[code]

---
#### Document Details

⚠ *Do not edit this sectio

[2022-02-15 14:04] ScrewThisBanana commented on #28251
Duplicate of https://github.com/dotnet/docs/issues/19072

[2022-02-15 14:04] #28251 closed

[2022-02-15 14:17] ArthurHNL opened #28252 "Applicative Computation Expressions are not documented"
Since F# 5, [CEs support applicative computation expressions](https://devblogs.microsoft.com/dotnet/announcing-f-5/#applicative-computation-expressions). However, none of this is documented on this page. I would at least expect the `and!` to be mentioned in the table in [Creating a New Type of Computation Expression](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/computation-exp

[2022-02-15 14:19] ArthurHNL commented on #28252
My bad, I just saw multiple issues already exists so I'm closing this as a duplicate of #26017 and #28134.

[2022-02-15 14:19] #28252 closed

[2022-02-15 16:00] CyrusNajmabadi commented on #27420
Can you tell me which parts of the template that were removed are necessary for your "real work"? As I stated before, I'm genuinely requesting this information as it is not apparent to me.

One person brought up one case (the desire to call Program.Main programmatically). However, that was literally a 0.001% like case. So I'm looking for real other examples that demonstrate what you need in that t

[2022-02-15 16:07] CyrusNajmabadi commented on #27420
That's a perfectly fine way to teach (I mean, in the past it seems like the way you'd have to do it). But just because it was done that way doesn't mean it's good. To me, I far prefer not having to even start with stuff that immediately looks cryptic and has to be ignored.  I can just start with clear and direct information on how to use the language. And once that is understood, then the higher l

[2022-02-15 16:17] CyrusNajmabadi commented on #27420
Why would they not change now?  They've changed over the years already with all the other Language and platform changes we've done.

I remember the same complaints being made about using `dotnet` instead of calling out to `csc` directly. But in practice, things updated and the world kept on spinning fine.

[2022-02-15 16:20] CyrusNajmabadi commented on #27420
We do not silence voices in dotnet. Please abide by the .net code of conduct. Importantly:

My opinions are just as valid as anyone else's. And, particularly I was asked to participate here because I was directly involved in several things that people were complaining about (and often stating there was no good reason for).

[2022-02-15 16:21] mwwhited commented on #27420
It's kinda scary that guy works on the compiler team but at the same time really explains the issues that have been cropping up lately.

[2022-02-15 16:23] CyrusNajmabadi commented on #27420
I find it odd that asking for information to try to drill down to see if anything was missed is considered not useful to you. The purpose of my questions is to try to discover if there was something that was missed during the conversations and decisions that happened up to this point.

If there was, then that *helps* your case as it gives a greater weight to arguments about change. If you do not w

[2022-02-15 16:28] CyrusNajmabadi commented on #27420
@mwwhited again, please follow the dotnet code of conduct. Insults are not appropriate.

If you do not like what I'm saying, address my points. Don't churlishly attack me.

I have worked in this space for over 20 years and I've spent a lot of time in this thread explaining our thoughts on language evolution, something I've been deeply part of since c#2. I've also specifically sought information on

[2022-02-15 16:29] CyrusNajmabadi commented on #27420
Thanks. That's a great catch. I'll push on the team to get that updated ASAP!

[2022-02-15 16:45] zvrba commented on #27420
But you can't use fully it because "special rules apply". Can't declare a static variable. Can't declare a class. You cannot use the language "as you'd use it otherwise" because you're in a special context.

As for your comment on special-casing:

And there's the point: different parts of language spec apply. Context-dependent rules are complication, not simplification. (If you need more examples

[2022-02-15 16:48] CyrusNajmabadi commented on #27420
This is not a special rule. Methods and local functions have never supported this. There's a proposal to do so though. If that goes through, the top level statements would support this as well.

[2022-02-15 16:49] zvrba commented on #27420
Yes it's a special rule because there's no method or function visible in that file.

[2022-02-15 17:01] mwwhited commented on #27420
It's pretty obvious we found the guy that thought this was a great feature and added it to the language.  He's now offended we don't all like/want it by default.

Dude, chill out and make it a check box.  Not all of us want to program in scripting languages and actually need the ability to write complex code without having to go use a template from a deprecated version of the framework.

[2022-02-15 17:01] zvrba commented on #27420
You're not getting it. I don't mind restriction. But the situation is as follows: "Static variables can't be declared in methods." That's perfectly fine. But with top-level statements, where's THE METHOD you're talking about? What will you say when teaching? "Oh, it's invisible, the whole file is a method, it's a special exception."

And then next questions: can I have another file with top-level

[2022-02-15 17:15] IanKemp commented on #27420
So the C# team is now basing language design decisions on a sample size of one... who also happens to be the person who wants that particular language feature.

Except nobody had to _write_ this because... the template generates it for you out of the box! Hence this "argument"... isn't.

If this statement is accurate, one would expect that the number of users in this thread approving of this chang

[2022-02-15 17:20] CyrusNajmabadi commented on #27420
I need them all the time.  And i have them in my Program.cs's.  Nothing about top level statements prevents having extra structs/classes there.

[2022-02-15 17:22] CyrusNajmabadi commented on #27420
I don't own any of the decisions around the template space or "new project" dialog.  I would have no problem with the owners there taking any route here they feel is appropriate based on the feedback they're getting hre and any other investigations being done.

[2022-02-15 17:28] tarekgh commented on #28218
Sorry about that. What we did in .NET 6.0 was the community ask to go back to the old behavior. We didn't try to document that as .NET 5.0 is going to be out of support soon. But I can see the document you pointed at https://docs.microsoft.com/en-us/dotnet/standard/base-types/string-comparison-net-5-plus and understand how this can be confusing.

Please look at the solution in the comment https://

[2022-02-15 17:38] CyrusNajmabadi commented on #27420
FWIW, i am invested here.  WRT to the language space, i'm one of the primary owners.  So it's critical to me that i have as deep an understanding of these views as possible, and that involves lots of questions and drilling in precisely to what people are complaining about.  I'm keeping a long list here of the different sorts of issues raised so that we can use taht to feed into additional work in

[2022-02-15 17:41] CyrusNajmabadi commented on #27420
@mwwhited I definitely get what the ask is :)

What i'm saying is that: if we can get clarity on some of these questions and wahtnot, that helps the most wrt making that happen.

[2022-02-15 17:44] ahwm commented on #27420
From: https://docs.microsoft.com/en-us/dotnet/core/tutorials/top-level-templates

By way of example, though, I'm borrowing from a couple of other comments.

https://github.com/dotnet/docs/issues/26313#issuecomment-973971021

![image](https://user-images.githubusercontent.com/20478373/154117176-57c1ef3e-24d4-4e8e-b456-ba1951503515.png)

![image](https://user-images.githubusercontent.com/20478373/15

[2022-02-15 17:47] shelbyxu opened #28254 "Do we have to manually find transitive dependencies?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22484a57-f15f-8d0c-6f18-ccc96a5b7215
* Version Independent ID: 90ddffec-4bfd-d7ea-6923-567ea6683c47
* Content: [dotnet list reference command - .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-list-reference)
* Content Source: [docs

[2022-02-15 17:51] CyrusNajmabadi commented on #27420
Thanks!  I'll open a roslyn issue on this and fix this today :)

[2022-02-15 17:53] CyrusNajmabadi commented on #27420
Ah, looks like we fixed that in our latest builds.  The experience now gives you:

![image](https://user-images.githubusercontent.com/4564579/154120349-74207670-b2c1-4e14-8335-04f86c916506.png)

[2022-02-15 17:54] CyrusNajmabadi commented on #27420
Opening issue on this so this doesn't get lost.

[2022-02-15 18:01] CyrusNajmabadi commented on #27420
Note: taht prediction is provided by intellicode.  I'll forward your feedback to them about how this suggestion is not suitable (which i agree with you on).

[2022-02-15 18:09] pinnaclx opened #28255 "VS2022"
Great tutorial.  You mention that you have to use Azure for VS 2019 is this also true for VS2022

[2022-02-15 18:31] MHebes opened #28256 "Test link to joke API includes a period which breaks link"
This tip adds an extraneous period at the end of the URL, making the link return an empty array:

![image](https://user-images.githubusercontent.com/8306042/154126213-65d3e090-bf32-4354-9c80-06e7793b7576.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed148088-4550-2788-0756-390eab15e3f6
* Version Independent ID: 6

[2022-02-15 18:33] CyrusNajmabadi commented on #27420
Can you link to an example?  Taht would be very helpful in understanding.  Thanks!

[2022-02-15 18:34] CyrusNajmabadi commented on #27420
I don't believe anyone has acted that way or said that at all.

[2022-02-15 18:43] tpressley commented on #27420
Typically looks something like this, obviously with real world info redacted:

`
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;

using Corporate.Interfacing;

namespace Corporate.Process
{
    static class Program
    {
        internal class Options : Corporate.Interfacing.ArgumentHandler
        {
            [Corporate.Interfacing.CommandLineParameter(Descri

[2022-02-15 18:45] CyrusNajmabadi commented on #27420
@tpressley i modified your post slightly to make the markup work.  I hope you don't mind!

[2022-02-15 18:46] tpressley commented on #27420
@CyrusNajmabadi Thanks, that was annoying me.

[2022-02-15 18:51] CyrusNajmabadi commented on #27420
Thanks very much @tpressley !  The usage of an example here really helps solidify the sort of difference one might now have to deal with that they might like avoiding :)

[2022-02-15 19:02] timdams commented on #27420
@CyrusNajmabadi  I really like your passion for this topic and how you try to help us in seeing that we should embrace the change. I sincerely hope you have this for everything c# related, if that's the case, the language is in good hands.

However, I feel the discussion at hand is moving away from what it should be about.

I just wish you'd be able to see this change from 'the other side' : **VS

[2022-02-15 19:05] CyrusNajmabadi commented on #27420
I do see that other side.  I don't think i've ever said anything against that.  Though i did mention that generally i like the SxS style of compat versus the maintain-all-options-in-perpetuity style (but that's a personal preference).

[2022-02-15 19:11] adegeo commented on #28244
Hello. How was the error presented to you? I would think it shows in the errors list and you can select the item and use CTRL+C to copy the text and paste it into a search engine.

@gewarren do we have a list of compiler errors "to be" documented?

[2022-02-15 19:28] ahwm commented on #27420
But *our* personal preference isn't considered as justification to simply re-enable the previous template. This feels like a double standard.

[2022-02-15 19:30] CyrusNajmabadi commented on #27420
I don't know when this was ever stated.  I certainly never said that.  :-/

[2022-02-15 19:32] EvaldasPovilaitis commented on #27420
![image](https://user-images.githubusercontent.com/26977040/154133196-c53e2b04-4b3e-47c1-9b28-9865951e5332.png)

In new templates C# no longer looks like C#. The fundamental fact is that the main method lives in some class, has certain signature and the class is in some namespace. Why the hell hide this. It's important to me and anyone else trying to reason about the code and what's going on. It f

[2022-02-15 19:41] bravecobra commented on #27420
@CyrusNajmabadi Look, I understand that top-level statements is a language feature that you care deeply about. And I'm sure that most people here, are not against it being a part of the language.
However, what most people are arguing here, is the fact that the default templates are now almost forcing us to use that feature, even if we don't want to use this new feature. Taking away the old templat

[2022-02-15 19:48] CyrusNajmabadi commented on #27420
FWIW though, in this thread there are people who are emphatically against it (i just responded to one of them) :)

Sure, i've never been strongly opposed to that idea at all.  As i've said, my personal preference is to have compat through SxS (that way you really are insulated from tons of changes that may happen at every level of hte stack).  However, i understand the desire to want to upgrade to

[2022-02-15 19:50] CyrusNajmabadi commented on #27420
@tpressley I checked with a few colleagues to get a check on this.  Looks like something we def would be interested in.  I'll champion this lang feature and see if we can fit it into our near-term schedule to improve things in this area.  Thanks a ton for the feedback and useful examples!

[2022-02-15 20:04] BillWagner commented on #28242
Hi :wave: @Alan-Steadman

This article does need improvement. There are two common ways to address this error (all should be added to this article):

1. Change the type declaration so it's not abstract: Either remove the `abstract` keyword from the class declaration, or change the type from an `interface` to a `class`.
2. Create a type that's derived from the `abstract class` or that implements th

[2022-02-15 20:05] bravecobra commented on #27420
I do believe that most of those reactions are due to taking away the old templates and being forced to use the new feature without having to resort to extra effort to circumvent/remove it. Bringing back the old syntax templates would take a lot of heat out of this discussion and I don't see how that would be so much trouble as the old syntax is still perfectly valid.

What I would like to understa

[2022-02-15 20:08] EvaldasPovilaitis commented on #27420
[code]

- What is args? Is it a field? Is it a parameter?
- Where does args come from?
- what does "return 0" mean? What else can I return? What can't I return?
- In what scope is the Options class defined?
- Also the example doesn't include any type from implicit usings which would make it even worse :(

**I don't understand how to anyone this would seem simple or rational feature/improvement.**

[2022-02-15 20:13] BillWagner commented on #28244
@Alan-Steadman @adegeo

There are a number of issues where people have landed on [this page](https://github.com/dotnet/docs/issues?utf8=%E2%9C%93&q=%2258a19505-ac46-c5c8-12cc-fe87b6aa18a7%22&in=body). The source for the page has a list of errors and warnings that [haven't been added.](https://github.com/dotnet/docs/blob/main/docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md?pl

[2022-02-15 20:34] #28119 closed

[2022-02-15 21:14] CyrusNajmabadi commented on #27420
It's the arguments to the program.  It's built-in, similar to how things like `value` are built-in for a property without having a special declaration anywhere (or var/dynamic/unmanaged.)

The same place as it comes from when `dotnet` launches a program using the old syntax.  Generally this is an OS/runtime question, but nothing has changed in that regard that i'm aware of.

The same thing that `r

[2022-02-15 21:18] CyrusNajmabadi commented on #27420
FWIW, we get that feedback on all our language changes.  As i mentioned, even things we take for granted now (like `var` and `lambdas` and `extension methods`) got much more feedback that was much strong and included much more shock and outright detest.

For example, you could now write `x.SomeExtension()`!  The feedback from many that it was incomprehensible that that was a "simple or rational fe

[2022-02-15 21:23] CyrusNajmabadi commented on #27420
Sure, but that's an aspect of debugger tooling.  Lots of things in teh language do not appear in teh debugger as you wrote them yourself.  For example, async methods and the like are handled in very funky ways :)     Lots of things in the CLR or BCL do not appear in C# the same way.  For example, things like tuples are encoded in a very different way into metadata and for the CLR than how C# views

[2022-02-15 21:28] BillWagner commented on #28243
Discussed today:

- We'll add a new page in the "What's new" section that describes the current features that are enabled by `<LangVersion>preview</LangVersion>`. Where these features are sufficient in scope that separate tutorials are available, we'll link to those.
- During the preview period we won't update generally update the language reference or other areas. When the feature is "frozen" and

[2022-02-15 21:31] EvaldasPovilaitis commented on #27420
The questions were rethorical:

- What is args? Is it a field? Is it a parameter?
- Where does args come from?
- what does "return 0" mean? What else can I return? What can't I return?
- In what scope is the Options class defined?

They were to make a point that the code looks less clear and expressive than not using top level statements. The brought up the debugger to make another point this feat

[2022-02-15 21:31] #27659 closed

[2022-02-15 21:46] CyrusNajmabadi commented on #27420
I'm not sure i get the point of this rhetoric then.  The same concerns tehy seem to point to are things our language is full of.  What is `value`?  Where is it defined?  Where does it come from?  Similarly, what is a `lambda`?  How does it work?  What is going on at the end of the day?  What is `var`?  Where is it defined?  What is an anonymous type?  Or a tuple?  How does it work?  How do the nam

[2022-02-15 21:48] CyrusNajmabadi commented on #27420
The only things i don't find essential really are `dynamic` and `anonymous methods` (e.g. `delegate (int a) { }`).  I tend to not end up using either of those.

I use practically every other feature of the language rather heavily, and i consider all of them pretty essential to coding.

WRT to organizing, i'm not sure what you mean.  There are ample features available, all of which i think are reas

[2022-02-15 22:11] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi,

- Can something be declared not in the namespace? Nested types have namespace in which the parent has it place so still counts.
- Can a method be declared without a type to make it simple class?

[2022-02-15 22:24] bravecobra commented on #27420
Does that mean you're just waiting and not listen to our pleads because, if being ignored enough, it'll die out eventually? I seem to remember that being the strategy in the first part of those 20 years. That hasn't worked out too well, did it?

This "sort of view" isn't short lived anymore and I do feel stronger about this topic the longer it lingers.

The language examples you mention  @CyrusNaj

[2022-02-15 22:27] CyrusNajmabadi commented on #27420
I'm not certain i understand *exactly* what you mean here.  So if i answer something differently, please correct me!

WRT to things being declared in a namespace.  The language does not have any requirement that any symbol be contained within a namespace.  Heck, there are no requirements to use namespaces as all :)

Namespaces tend to be a great organizational tool for creating reusable components

[2022-02-15 22:28] CyrusNajmabadi commented on #27420
No.  I never once said that.  Indeed, i said hte opposite. I'm collecting as much information i can from all the different viewpoints (of which there have been several so far in this thread alone) to best pass along all of this valuable feedback to *all* the teams i think are relevant in reacting to this space.

[2022-02-15 22:29] EvaldasPovilaitis commented on #27420
Also,

![image](https://user-images.githubusercontent.com/26977040/154159737-63dabf3b-acf9-44ea-922f-4bcd566bf35f.png)

On the left hand side I see everything necessary to reason about this code even without IDE. I see namespace, class, entry point signature where everything is defined and implicit usings :) On the other on the right side the new template suggest to remove bunch of things I find e

[2022-02-15 22:31] CyrusNajmabadi commented on #27420
Could you clarify what it removed that you considered essential to reasoning about the code on the left?  That woudl be super helpful for driving changes here.  Thanks!

[2022-02-15 22:36] bravecobra commented on #27420
May I suggest keeping the discussion on the language feature itself separate from this issue here then? We run the risk of this issue being closed, because toplevel statements stay in the language as a feature. May I refer to the opening comment in this issue? We don't want to clutter the thread.

[2022-02-15 22:37] EvaldasPovilaitis commented on #27420
Missing:

- using System;
- using System.Linq;
- using System.Threading.Tasks;
-  internal static class Program
- private static async Task Main(string[] args)

[2022-02-15 22:42] CyrusNajmabadi commented on #27420
We could.  But i worry that just like i had questions around that taht impacted my understanding, the others receiving this feedback will be in the same boat.

There is no risk of this :)  I def want to see a positive resolution here and i"m glad this was brought to my attention.

Hrmm, i don't really see the connection.  We would certainly be very wary about entertaining an issue or suggestion th

[2022-02-15 22:45] CyrusNajmabadi commented on #27420
As you can see from teh 'docs', they are in the 'contextual keywords' section.  That is literally our name for 'identifier with compiler magic' :D

'args' isn't in that list, but we need to add it.  Thanks for making that apparent.  I'll get a 'doc' bug opened on this asap!

[2022-02-15 22:50] BillWagner opened #28260 "Add `args` as a contextual keyword"
The token `args` is a contextual keyword when used in top-level statements.

It should be added to the "Contextual Keywords" list and its description can point to the top-level statements content in the fundamentals section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version I

[2022-02-15 22:52] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi, will it also get a special color as other identifiers in Visual Studio and other IDEs?

[2022-02-15 22:54] CyrusNajmabadi commented on #27420
I'll open a tracking issue on it.  But it would seem to make sense.  In general we prefer that contextual keywords be clearly designated as such when used in their appropriate context.

[2022-02-15 22:56] JesperTreetop opened #28261 "Class links in "Orleans stream providers"#"Queue adapters" broken"
Within the section "Queue adapters", both source code links are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8473367-03f8-92ec-9e52-58853ff99cf9
* Version Independent ID: d8202876-68ea-e136-94e2-e1ad5f731fe4
* Content: [Orleans stream providers](https://docs.microsoft.com/en-us/dotnet/orleans/streaming/strea

[2022-02-15 22:56] EvaldasPovilaitis commented on #27420
You said args in this case become the same as value or var or now have other thoughts?

[2022-02-15 23:01] CyrusNajmabadi commented on #27420
Not sure i understand your question.  Can you clarify it?

`args` is the same as `value` and `var` in that all three are contextual keywords for the language.  And specifically in the set of semantic, as opposed to syntactic, contextual keywords.  This means they're just plain-old-identifiers everywhere.  That's how the grammar/parser sees them.  We just have a special semantic-rules/magic for giv

[2022-02-15 23:02] bravecobra commented on #27420
I think most people (including myself) are wary of the compiler generating/assuming that context. Internally the compiler regenerates those lines back on-the-fly because they are missing.
Thus, as it is missing, it requires knowledge of that context. That is why the argument that this is simpeler doesn't fly for me, because, without context, things get more complex. All assumed unmentioned things

[2022-02-15 23:07] CyrusNajmabadi commented on #27420
@bravecobra Yes.  This has been persistent feedback from people throughout the years.  We still have people that abhor things like `var` or that lambdas exist and allow you to not name the delegate name you're instantiating, or list the types of arguments.  Some languages really cater to the idea that doing things based on context is not a good thing and that everything must be intentionally expli

[2022-02-15 23:09] bravecobra commented on #27420
i don't think I agree there. Args is the name of a method variable, not a keyword. The declaration of that var is being generated by the compiler when reading the syntax tree, but it is still just a regular variable.

[2022-02-15 23:10] CyrusNajmabadi commented on #27420
That's teh same as `value`.  It's just the name of ther property setter method's parameter.

[2022-02-15 23:10] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi, what are then your general believes regarding C#?

[2022-02-15 23:16] CyrusNajmabadi commented on #27420
Really?  I'm curous about them.  What about my beliefs do you think have changed in recent years? :)

Primarily C# is a pragmatic language that combines aspects of many programming paradigms (OO, functiona, procedural, dynamic, etc.) in the goal of solving a broad swath of programming domain problems (systems, apps, LOB, games, etc.).

It seeks to find a reasonable balance of signal-to-noise with

[2022-02-15 23:17] bravecobra commented on #27420
Yeah, I always found that strange. Luckily I'm not paid per keystroke.

[2022-02-15 23:20] CyrusNajmabadi commented on #27420
I mean, we're literally talking about things that have been in the langauge since C# 1.0 (And as you can see, there are many other contextual keywords).  It's part and parcel of how the language works and is a core part of its DNA.  We do not want these to be keywords, but we do want the benefit of being able to have special names in some contexts.

I'd have to look through, but my guess is that *

[2022-02-15 23:20] bravecobra commented on #27420
Probably the reason why F# is completely unreadable to me.

[2022-02-15 23:25] bravecobra commented on #27420
We are indeed diverting from the topic at hand. focus! 😁

[2022-02-15 23:26] CyrusNajmabadi commented on #27420
It's more readable than [Brainf*ck](https://en.wikipedia.org/wiki/Brainfuck)! :)

[2022-02-16 03:55] Bosch-Eli-Black commented on #24894
@Youssef1313 Oh, cool! Thanks 🙂

[2022-02-16 07:20] timdams commented on #27420
Is there any reason why we cant have the old template back? VS is like Word: it's a multipurpose tool of which each user only uses a subset of its possibilities. I use only a handfull of the VS proejct templates and I dont expect anyone else to have that eact same subset, that's the power of VS. Killing of a widely used template feel like removing the Underline button in word, and than telling use

[2022-02-16 08:58] jonadv commented on #28218
Hi @tarekgh

Thank you for explaining. I have created these pull requests
- https://github.com/dotnet/docs/pull/28250
- https://github.com/dotnet/docs/pull/28269

But please have a look at them and suggest any further changes, as I dont think my suggested changes cover it fully.

[2022-02-16 11:12] sliderhouserules opened #28271 "Installing dotnet 6 on Linux/Ubuntu/WSL2"
I'm installing dotnet 6 SDK on Linux/Ubuntu/WSL2 and getting the error

This is the default install of Linux on Ubuntu. How could I possibly have the wrong setup to install this with apt automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80707602-f283-e796-d3b8-3287fbc011dc
* Version Independent ID: 1d732b15

[2022-02-16 14:20] #28082 closed

[2022-02-16 14:33] BillWagner opened #28273 "Add explanatory text from samples to associated article"
See https://github.com/dotnet/docs/pull/28227#discussion_r807202146

@zspitz did a lot of awesome work on our LINQ samples. That PR added useful explanatory comments to the samples. Those comments aren't in the associated article, so they won't be localized for different regions.

We should add that text to the article where appropriate.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-02-16 15:52] VaishaliRaval commented on #28235
Hey @mbendtsen , thank you for reaching out and reporting this.

As Ocelot is no longer maintained, we moved away from using it and we are currently using Envoy proxy for the redirections. Will be updating the content of docs for API Gateways accordingly.

I am closing this issue as of now, feel free to track the updation of docs in a similar issue [here](https://github.com/dotnet/docs/issues/2744

[2022-02-16 16:03] VaishaliRaval commented on #28082
Hey @tulleuchen, thank you for reaching out. I have fixed this issue in the attached PRs.

[2022-02-16 16:18] luoyunchong commented on #27983
in csproj File Add
[code]

[2022-02-16 16:58] IGx89 opened #28274 "dotnet-trace report command missing"
This page mentions a `dotnet-trace report` command, but it appears to be missing in .NET 6. I've tried on both Windows and Linux and dotnet-trace reports that the `report` command doesn't exist

[code]

Did it get removed in .NET 6? If so it would be helpful to note in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-02-16 17:56] srqdev commented on #27420
I agree with all the comments about bringing back the old templates. I've been a .NET beta of version 1. I'm used to how code should look to me, how I use my tolling around the code etc. Each iteration has brought changes to templates, some where fairly radical and took time to learn, which costs productivity. Language features are easier to deal with as they can be used or not used. Now the top l

[2022-02-16 19:07] baronfel opened #28276 "Document AssemblyLoadContext changes for C++/CLI"
https://github.com/dotnet/runtime/issues/56391 describes an issue that customers using C++/CLI may encounter when migrating from .NET Framework to .NET 5. This has come up in a few issues and would be good to have tracked in this document, since this is trying to be a one-stop shop for breaking changes.

The rationale for the change is captured in [this comment](https://github.com/dotnet/runtime/i

[2022-02-16 19:56] #25296 closed

[2022-02-16 19:56] #26280 closed

[2022-02-16 20:44] CyrusNajmabadi commented on #27420
They may not be valuable to you, but htey are to many others, including many in the ecosystem who have expressed their happiness over these features.  This feeling on boilerplate is not universal and there are many different types of users, some of whom are totally fine with it and some who highly dislike it and view it as cruft that continually acts as a tax with little value added from it.

Plea

[2022-02-16 20:48] CyrusNajmabadi commented on #27420
Please don't assign arguments to me i haven't made.  I have not advocated for that.  Indeed, i have said *numerous* times that i think teh arguments made here are comprehensible and sensible and that i have no issue with them.

[2022-02-16 21:39] #28233 closed

[2022-02-16 21:47] gewarren opened #28279 "Using .. in DOS device path works in cmd.exe even though shouldn't according to documentation"
---
**Issue moved from MicrosoftDocs/feedback#3752**
- Please respond to @Wallby.

---

_From @Wallby on Wednesday, February 16, 2022 6:18:15 PM_

**Describe the bug**
At https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats there is text.. "_DOS device paths are fully qualified by definition. Relative directory segments (. and ..) are not allowed._". However, in cmd.exe the follow

[2022-02-16 21:47] gewarren commented on #28279
---
**Issue moved from MicrosoftDocs/feedback#3752**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Wednesday, February 16, 2022 6:18:16 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micro

[2022-02-16 21:50] gewarren opened #28280 "Microsoft.Spark.JvmException: java.io.IOException: No FileSystem for scheme: abfss"
---
**Issue moved from MicrosoftDocs/feedback#3749**
- Please respond to @GilBorges.

---

_From @GilBorges on Thursday, February 3, 2022 9:06:57 AM_

**Describe the bug**
I´m trying to reach my storage account through C# program by using both procedures shared below but still facing an exception pointed out issue with storage driver, in this case abfss since I´m using ADLS gen2. I´m also tried ab

[2022-02-16 21:50] gewarren commented on #28280
---
**Issue moved from MicrosoftDocs/feedback#3749**
- Please respond to @GilBorges.

---

_From @GilBorges on Tuesday, February 15, 2022 4:08:36 PM_

Does anyone has an update on this issue ?

[2022-02-16 21:56] #27892 closed

[2022-02-16 21:57] gewarren opened #28282 "Repo chores - March 2022"
- [ ] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [ ] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [ ] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2022-02-17 01:07] hamarb123 opened #28284 "Modreq usage of `UnmanagedType` type should be documented"
**Issue description**

The code following C# code
[code]
generates the following IL code:
[code]
which expect any compilers wanting to use the method to know that the type parameter T has to meet certain requirements.

With the `System.Runtime.CompilerServices.IsVolatile` type it is documented how & what the modreq does, it should be the same here. It would also be good if `System.Runtime.Compiler

[2022-02-17 02:45] MisinformedDNA opened #28285 "pattern vs. prefer naming"
The documentation says the rule name is `csharp_style_pattern_local_over_anonymous_function` and that's what works for me in VS 2022 17.0.4, but the Roslyn code base [changed the name](https://github.com/dotnet/roslyn/commit/b0cbe8d4328cc40d981d7ed4977390aa15fe26fe#diff-89b1c588a873db59bf4b5f01f7f524aafe680e9d333467ecca7d545e2fed1eb3) to `csharp_style_prefer_local_over_anonymous_function`. When is

[2022-02-17 03:15] CyrusNajmabadi commented on #28285
that name was simply a mistake (due to a copy/paste error).  It was always supposed to be be 'prefer_X_over_Y' as that is what we use elsewhere.  The 'pattern' part was copied from another config key errantly.

[2022-02-17 03:25] abecasism commented on #27420
Well, I've been reading this thread and I still don't get how it went off topic like that.

So, @CyrusNajmabadi You've found a thread about something else that now is a thread of "Let's discuss until we find bugs in language concepts", eh?. Well, you will be disappointed because I'm going to ask you about the template and share some thoughts.

This is what I think. Adding features to a language, e

[2022-02-17 05:13] VaishaliRaval commented on #27866
Hey @sslazio1900 , thank you for reaching out and reporting this.

As Ocelot is no longer maintained, we moved away from using it and we are currently using Envoy proxy for the redirections. Will be updating the content of docs for API Gateways accordingly.

I am closing this issue as of now, feel free to track the updation of docs in a similar issue https://github.com/dotnet/docs/issues/27445

[2022-02-17 05:14] VaishaliRaval commented on #26544
Hey @bit7 , thank you for reaching out and reporting this.

As Ocelot is no longer maintained, we moved away from using it and we are currently using Envoy proxy for the redirections. Will be updating the content of docs for API Gateways accordingly.

I am closing this issue as of now, feel free to track the updation of docs in a similar issue https://github.com/dotnet/docs/issues/27445

[2022-02-17 05:18] VaishaliRaval commented on #18279
Hi @Mark-Phillipson, thank you for reaching out.
Though the datatypes of ProductionDate and IsValidatedDesign are not nullable, the Required attribute is used for validation purpose.
The [RequiredAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.requiredattribute?view=net-6.0) attribute specifies that when a field on a form is validated, the field must co

[2022-02-17 07:29] EvaldasPovilaitis commented on #27420
Good points, @abecasism.

To add a bit more to what you said and @CyrusNajmabadi

1. Most likely small small minority of the people using C# expressed desire to have top level statements. Maybe few other product teams seeing how something similar to script could work great for them. From upvotes in this thread @CyrusNajmabadi you can see people aren't suggesting to remove it even when it is still

[2022-02-17 07:57] CyrusNajmabadi commented on #27420
I thought I covered this before. However, to me, it improves things by removing unnecessary boilerplate.

In my own experiences with the feature I haven't found a case where I ended up needing anything that was removed. And even in the discussion here I sought out, but couldn't find examples from anyone on how they would use those things.  So it seems like the old template just spit out constructs

[2022-02-17 08:04] CyrusNajmabadi commented on #27420
That isn't true. Feedback on this has been persistent and high for decades.

I'm not sure what you mean by 'it' in this sentence.  We're definitely not removing any of the language features here. They're too popular already.

This doesn't seem to be the case.

There was no such thinking in any of the decisions here at all. Adoption of language features is never a problem. Even some lang features I

[2022-02-17 08:05] CyrusNajmabadi commented on #27420
Implicit usings can be disabled if you don't want them. Similarly, you can set your preference for all your projects on file scoped namespaces with a single editorconfig line.

[2022-02-17 08:06] ErsatzErrand commented on #27420
This is why I think top level statements are fine and useful in certain scenarios, but making it the default template is not a good idea.  Once people started adding some of the standard event handlers/functions you typically find in `class Program` and you start to evolve into a file with both top level statements and functions, it's kind of a mess.  At that point a dev _should_ just convert to a

[2022-02-17 08:10] CyrusNajmabadi commented on #27420
And many people feel there same who had to use the old template for years and just wanted a normal program without the need for unnecessary classes.

What seems insane to one person is utterly normal for another.

To me, coming from a PL background, the idea of tying program procedural logic to a do-nothing class is itself wonky. A bending over trying to squeeze one concept into another because of

[2022-02-17 08:10] timdams commented on #27420
@ErsatzErrand  That example is exactly the kind of code I see fresh student now typing since there's no need to structure/order their classes and methods. Basically their Program.cs becomes a giant dump of everything they need, whereas the original template almost forces one to adhere to certain rules of what I'd call clean programming.

[2022-02-17 08:13] CyrusNajmabadi commented on #27420
How so?  I've seen likely close to thousands of Programs.cs files. They're just as messy, with people scattering things into other methods and nested types.

Why is a method in Program.cs (that nothing else is ever going to call), better than a local function scoped only to the top level startup code in your app?

[2022-02-17 08:15] CyrusNajmabadi commented on #27420
How is the above any worse than the prior template equivalent which would have been:

[code]

[2022-02-17 08:15] Earthman100 commented on #27420
No it is the Top Level it uses to top level as State=Source based upon button and Href to Console and what source control is = to in baseUri in Users windows on Actions upon Open so app Edge lunches edge and goes to new tab or Users Preferences While app is compiled to Console as Standalone it Simply runs with App Runtime of Device in which the App is installed to or on as for App Stores Remotes i

[2022-02-17 08:18] ErsatzErrand commented on #27420
By that logic just make it disabled by default, and everytime people ask the default to be changed you can respond "If you want implicit usings, you can enabled them if you want."

[2022-02-17 08:19] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi, I have repeated multiple times that what you call boilerplate for me is essential:
- usings
- namespace
- class name
- method signature

I don't see why I should start reasoning about Program.cs differently than other files.

What if I decide I want to test some method in the Program class? Why do I have to reason now about the Program.cs file and constructs there differently than

[2022-02-17 08:20] EvaldasPovilaitis commented on #27420
Bloody hell where is the namespace? Do you also feel that defining things in global space is ok?

[2022-02-17 08:22] CyrusNajmabadi commented on #27420
We think that the experience with them is better than without them. And it position in defaults is to default to the better experience.  We don't think the majority should have to take extra steps to get the better experience.

This is the nature of defaults. If you're in the group that benefits, you like them. If you're not, you want it flipped to your preference. But this impacts everyone else.

[2022-02-17 08:23] CyrusNajmabadi commented on #27420
I said I didn't include it. I'm on a phone so editing is non trivial.

But as my post said, I don't see how adding those three things makes the choice suddenly good with the old template.

[2022-02-17 08:24] Earthman100 commented on #27420
JBOX is node() functions type and name to Jsx to Runtime of Http Request of DOM for Runtime to and from Destination in Project once compiled and set to public for extensions in program if using authentications or OneDrive ect to authenticate to. It was recently updated to Allow Windows to Allocate Its runtime Broker to Dom to Reparse all Metas to Retrace Indexed db asynch to asnchy as async for an

[2022-02-17 08:24] CyrusNajmabadi commented on #27420
Why is it essential?  There's a fundamental disconnect on that point that needs bridging if we're to make further understanding progress on this.

[2022-02-17 08:29] CyrusNajmabadi commented on #27420
Can you give an example?  It feels like if your have some component you want to test externally, you can do the normal thing and define an exported symbol for it that your test code can use. Your top level code can also trivially reference that symbol.

It's literally the exact same. How do you remember that there's a magic symbol called `value` in property?  You learn once and then use from that

[2022-02-17 08:37] EvaldasPovilaitis commented on #27420
Every code I write, everything is in some namespace, type. Namespaces, types are fundamental constructs to organize code. Missing them, skipping them in bad. I was repeating this over and over again and it feels you aren't listening. If I want to play with reflection now or attributes which infer the callers name in the top level statements scenario it will be a lot of surprises as a lot I don't s

[2022-02-17 08:40] ErsatzErrand commented on #27420
Here's the difference, and it's all about encouraging a pit of success.

The above doesn't happen because the program class is already declared, and so declaring the function at the appropriate class scope is convenient for the dev.  However, with the top level template, as I said before "At that point a dev should just convert to an explicitly declared class" but you've made it more convenient fo

[2022-02-17 08:41] timdams commented on #27420
In my opinion the old template simply helps student immediately write code more correctly (and indeed, the example you give is EXACTLY the only thing we somethings have to correct  in student solutions), it makes the transition to writing their own classes much simpler because they already have seen that ominous looking "class Program" thingy.

Again to use the MS documentation as an example. Imag

[2022-02-17 08:51] Earthman100 commented on #27420
Program runs app under UserData where each Program is an Application as App under C:\Programs x86\Windows Apps
as Appx's or Windows System as APPXS used for App:XS which is the runtime of the App from Program compiled from Source code of Microsoft where Y in node is essentially the .data from the App:XS in the Exes runtime at launch but managed by a 4d Service under Powershell ISE which is the App

[2022-02-17 08:59] Earthman100 commented on #27420
bytes distungush the Simple taks of a pc before grepping large tasks and building one letter at a time for ansi and 2 letters for a field to and identifier from scratch source of a 00000000 prog setup to a 0000000 CTF loader and a 0 as 0x0 for a .shell runner as where the runner would be the identifier on error or success 3 steps to how hello world works C is prog file is 0x0 or open where .shell

[2022-02-17 09:05] ErsatzErrand commented on #27420
I want to emphasize this, because they won't know where to begin converting their top-level-statement style Program.cs into the prerequisite structure in order to get it close to looking like the tutorial.

I certainly have had this kind of experience several times learning other languages where I can't even comprehend an article or tutorial because they're using some shorthand for which I don't k

[2022-02-17 11:33] #28235 closed

[2022-02-17 11:34] #27866 closed

[2022-02-17 11:34] #26544 closed

[2022-02-17 11:37] abecasism commented on #27420
@CyrusNajmabadi

You gave me the only anwser I told you it was no valid. This only means that the few lines generated by the template bothered you and you decided to remove them. No extra value. Whatsmore, without the need of an example, just analyzing the structure of the code, I can see the use case coverage of the template has been reduced. And I don't think it is boilerplate if it is auto-gene

[2022-02-17 11:42] mwwhited commented on #27420
It's over 20x against... I wouldn't call that "inconvenience to the smallest"

[2022-02-17 11:47] mwwhited commented on #27420
BTW, global using from the project have the same
Issue global variables always have.  They show up when you don't want them
And and cause conflicts you don't expect.  Look at the 'Timer' example above.

[2022-02-17 12:08] bravecobra commented on #27420
@CyrusNajmabadi  I'm still under the impression that you still don't understand the arguments being presented here why we want those templates back.

You approach this topic purely from a language perspective. Each argument we present, is being countered by a reasoning coming from that language perspective, not from a developer user experience. Sure, you can omit the lines now because for the comp

[2022-02-17 12:24] bravecobra commented on #27420
Btw, I just found that the toggle is already in the template repository: https://github.com/dotnet/templating/blob/6c2fc218ea96925d1363d5691ea3132db4d3d30f/template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/template.json#L99

But it is a computed value at the moment. All that needs to change is to make this into a parameter resulting in a

[2022-02-17 12:31] bravecobra commented on #27420
Something like this might do the trick (I haven't tested it)

[code]

I left the default value to `true` here to make everybody at least a bit happy, but at least we would have a checkbox to hit when creating a new project.
How is this for a compromise?

[2022-02-17 12:34] bravecobra commented on #27420
The above is only for the Console application. The other templates will require a similar change.

[2022-02-17 13:04] EvaldasPovilaitis commented on #27420
I would suggest false by default as with minimal apis.

[2022-02-17 14:06] Mark-Phillipson commented on #18279
✔️

[2022-02-17 14:06] #18279 closed

[2022-02-17 14:32] xenophilios opened #28292 "Differentiate between an index and a sequence element"
"For any number n, the index ^n is the same as sequence[sequence.Length - n]."
I would suggest amending the above statement, which is found just before the first code sample, to something like the following:
"For any number n, the index ^n is equivalent to (sequence.Length - n). In other words, sequence[^n] and sequence[sequence.Length - n] are the same element of the array."
[Enter feedback here]

[2022-02-17 14:40] dancoupar opened #28293 "Issue determining .NET version by reading registry"
[This article](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed) describes how to determine which versions of .NET are installed on a Windows machine.

We have a Windows Server 2019 machine which has .NET Framework 4.8 installed, having previously had 4.7.2 installed. The following keys exist:

`HKLM:\SOFTWARE\Microsoft\NET Framework S

[2022-02-17 15:32] CyrusNajmabadi commented on #28285
You'll need 17.1 to pick this up. Thanks!

[2022-02-17 15:47] CyrusNajmabadi commented on #27420
This feels circular to me. Effectively, I write code in this way only. So any way if writing code that doesn't follow this way is something unacceptable.

It still doesn't explain why this way is actually necessary or what you use it for.

Putting things in namespaces, for example, isn't something done just because it's the only way to do things. It's done to prevent collisions.  In c# namespaces

[2022-02-17 15:56] CyrusNajmabadi commented on #27420
The feedback was primarily from c# devs. However we also received lots of feedback from devs from *many* different language backgrounds.

Note: c# is not a strict OO language on the first place. And the default template is very non-oo. (I covered that much higher up in the conversation)

Wrt the feedback though, the point remains. It's been a majority of feedback from within the professional commu

[2022-02-17 16:08] #28135 closed

[2022-02-17 16:12] #28044 closed

[2022-02-17 16:19] CyrusNajmabadi commented on #27420
Note: wrt the bcl issue. Many others on the lang design team and bcl (who have been doing this for a couple of decades now) strongly lament the space we eventually found ourselves in. Specifically, many feel that the namespacing we effectively see is basically an archeologists view of the versions of c# we shipped. E.g. equiv to just `using csharp3;`.

That's what why there's be a tendency inlast

[2022-02-17 16:27] CyrusNajmabadi commented on #27420
I want to cover this concept directly, as viewed from teh lens of how we see people operate when we look into this stuff.  It turns out that the prior template doesn't help in this regard either.  Say i have 15 usings in a file (and yes, some templates were at that point), and you use 'Console'.   How does that structure tell you where 'Console' came from?  Users either know (because they've been

[2022-02-17 16:40] zvrba commented on #27420
@CyrusNajmabadi

Exactly *how many*? If you're not allowed to give an approximate number, just tell us whether it's greater or lesser than the number of downvotes here.

[2022-02-17 17:37] Earthman100 commented on #27420
Unix and GitHub Actions on Repos and sources to Samples of Github Desktop to and from Users Github Accounts as the Console on GitHub is simply a compiler to and from User repos where repos can be called to and from unix to Web Dom .Net utility functions of Web Objects under debugger for Proper functioning Codepage for yaml extension to and from Source Cards on GitHub or CodeProfiles of Registered

[2022-02-17 17:39] Earthman100 commented on #27420
thats Private but I do recieve public

[2022-02-17 17:41] #21319 closed

[2022-02-17 17:43] dgxhubbard commented on #27420
Can Visual Studio please restore the old console project template, give it some name. Keep the new one
also with a different name. This should not be that difficult. There are so many people responding to this..

[2022-02-17 17:48] Earthman100 commented on #27420
Plug fac into 28:0 < hope your binary is correct as is -2 as current shows and 1:-1 as 0 to X from Unix #1 Spot as to Http hypervisor responder'Response:Request_Dom Exception'                          "https://github.com/dotnet/csharplang/issues/2765"
0 is state on everything and ran by timeStandards Exact! to Open Unix hypervision to adi not only for 3d but 4d

[2022-02-17 17:56] hallambaker opened #28294 "This code is not working for me at all: CS8795"
I have tried to enter the examples numerous times, including in a completely new project using the following .csproject:
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.Extensions.Hosting" Version="

[2022-02-17 18:14] Earthman100 commented on #26313
Name that App**tdykstra**< Rest Api_curl -I https://api.github.com/users/octocat/orgs

[2022-02-17 18:29] CyrusNajmabadi commented on #27420
Over the years?  Many many thousands easily.  This includes channels with some of our most experienced and advanced devs and dev-shops as well.  It esp has skews with things like people using the language longer for example.  The more you have to use it, the more the paper cuts of non-stop boilerplate just keep adding up and up and up and up.

We tend to get the most feedback on streamlining from

[2022-02-17 18:41] Wallby commented on #28279
E.g. `\\.\C:\Windows\.\notepad.exe` works too so both . and .. work in a DOS device path.

[2022-02-17 18:59] Evangelink opened #28296 "Missing code quality rules documentation pages"
As part of #28295, I have noticed that we are missing documentation pages for the following rules:
- ca1001
- ca1062
- ca1068
- ca1303
- ca1304
- ca1508
- ca2000
- ca2100
- ca2301
- ca2302
- ca2311
- ca2312
- ca2321
- ca2322
- ca2327
- ca2328
- ca2329
- ca2330
- ca3001
- ca3002
- ca3003
- ca3004
- ca3005
- ca3006
- ca3007
- ca3008
- ca3009
- ca3010
- ca3011
- ca3012
- ca5361
- ca5376
- ca5377
- ca

[2022-02-17 19:02] Evangelink commented on #28296
@Youssef1313 Yes! I missed the `.md` suffix in the other change, I will update this list in a few minutes. Sorry about that.

[2022-02-17 19:07] srqdevg commented on #27420
Cyrus, Thanks for the comments. Now I still think the top level statements are a gimmick. but that is my opinion.  As for symbol collision. Well I"m working on a current project where there are many. You could rightly say it's indifferent design but that's the way it is. As for implicit usings, it could be argued that all namespaces on a machine should be automatically loaded to make it 'easier' f

[2022-02-17 19:25] GalaxyNetworks commented on #27420
What people do you see? They dont reflect anyone I know... And what languages are we talking about? What are you trying to convert .NET to?

It doesn't matter at all if there's anything binding a type to a specific using namespace. It's the clear definition of WHAT namespaces are implicitly in use by this code.

As you know, you're not even required to have any 'using namespace' statements in your

[2022-02-17 20:14] CyrusNajmabadi commented on #27420
We collect feedback from an enormous number of sources and we have connections and interactions with tons of people and teams worldwide.

Remember that c# is used by millions of devs and there are effectively trillions of lines of code at this point.

This has been going on for several decades now, and it's strongly due to the feedback and information we get from all those sources that has motivat

[2022-02-17 20:33] Evangelink commented on #28296
Looks like they are all good now! Sorry for the pointless ticket.

[2022-02-17 20:33] #28296 closed

[2022-02-17 20:40] markusschaber opened #28299 "Missing atomic delivery of current state with subscription"
There are some use cases where the observer needs to get the current state, as well as subscribe to changes.

As this are two independent calls to the provider, there's a race condition where, depending on the order of the calls, the observer may either miss notifications, or get notifications which are already outdated regarding the "current state" he fetched.

The observer pattern, as provided b

[2022-02-17 20:50] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi can we expect for the old template to comeback as @ahwm said or do we need to continue this back and forth to make sure C# console template and maybe even C# wouldn't become FUBAR?

[2022-02-17 21:13] CyrusNajmabadi commented on #27420
I'm uninvolved with taht decision.  But i would totally expect given teh amount of feedback here that attention will be given to this to decide what best to do.

You're welcome to give whatever feedback you want :)   If htere are particular issues, or just the general philosophy on the language.

[2022-02-17 21:48] GalaxyNetworks commented on #27420
I've just yet to see any "source" give a good reason for why this is change, as it is right now, is any good.
I've always seen magic as a code smell and implicit usings and globally defined usings are most definitely code smells!
I've always felt safest when everything, at least to some degree, was explicitly defined.

I've even seen developers include the entire namespace when initializing types

[2022-02-17 22:25] CyrusNajmabadi commented on #27420
It's defined the same way as the 'magic' (which i'm going to use as synonymous with "done-without-explicit-syntax") for properties with the `value` parameter.

They're really identical (and treated the same way in the language).  For properties we just synthesize up a special `parameter` that is available in a particular `scope` so that you have access to values at runtime.   For both, we just loo

[2022-02-17 22:28] CyrusNajmabadi commented on #27420
We considered this, but feedback from people was that that was too unpleasant and that it was such a common thing to do it should be simple.  It also made switching away from normal program structure more onerous.  Value of current approach is taht, as the vast majority of programs do use a parameter named `args` they naturally transition over without any concern of changed semantics.

[2022-02-17 22:29] CyrusNajmabadi commented on #27420
That's how I see the use case!

TBH, that is a primary use case for them (and it's what i use it for a ton).  Sometimes this is just single-file-apps, and sometimes it's a Program.cs front end to some piece of responsibility where i still use shared code/symbols across many programs.

[2022-02-17 22:32] CyrusNajmabadi commented on #27420
Here's the thing though, 'magic' is in the eye of the beholder.  To some, a standard `using` statement is magical.  To others a *class* is magical.  After all, think about everything that has to go into classes, with vtables, obj-headers, etc. etc.   To others properties are magical (what does it mean to read/write to a variable and have that execute code instead of just assign storage??).

Langua

[2022-02-18 00:11] abecasism commented on #27420
Not completely true. I can tell you how it works at microinstruction level if you want, or even transistor or semiconductor level, but thats no the point. How the compiler or linker sees it, is not the point here. The point is about mechanics and modeling of the language. Each of them have their own. If a language claims to be structured or object oriented you expect some entities to exist and som

[2022-02-18 00:14] abecasism commented on #27420
About the new template, @CyrusNajmabadi can you provide an example of how do you use this attribute with the new template? I had some OpenCV issues that required me to place it over Main method.

[https://docs.microsoft.com/en-us/dotnet/api/system.stathreadattribute?view=net-6.0](url)

[2022-02-18 01:15] CyrusNajmabadi commented on #27420
This seems to be defining 'magic' as 'things i find magical'.  C#, at it's core is a heavily imperative language.  Given that, the use of statements to represent the imperative nature of a program is not magical either.  It's just a bog standard statement (similar to many other languages in that regard).

If you choose to carve up C# such that it has things you like which you then call non-magical

[2022-02-18 01:18] CyrusNajmabadi commented on #27420
C# is full of many implicit things.  At the most fundamental level, user defined implicit operators can be invoked without the user having any clue about it frmo anything explicit in the source.

For example, if i have `X(y)` could you tell me from syntax what is happening to 'y' as it's being passed into X?

[2022-02-18 01:20] CyrusNajmabadi commented on #27420
Currently, if i have need for an attribute i use the old form.  However, we are currently adding support for `[main: WhateverYouWant]` as a supported top level attribute syntax (like we have for `[assembly: ...]`).  With that, you would continue to be able to use top-level statements while also having custom attributes like thsi.  That's happening here: https://github.com/dotnet/roslyn/pull/59471

[2022-02-18 03:34] abecasism commented on #27420
No, it's not. I used your own examples here to make a point.

I said I don't like global using and implicit using, but they are ok, because, as any language feature so far, there is a decision from the programmer or feedback of whats going on when used. It´s true I said that implicit usings have some magic, because when activated, you no longer can tell which usings are generated or if they are in

[2022-02-18 07:30] karlra opened #28303 "Bad description of breaking TLS changes"
This page doesn't mention that HttpClient and OUTBOUND connections are affected too - it gives the impression that it's just Kestrel when it talks about external ssl tools.

"either specify a CipherSuitePolicy value" -> There is no documentation ANYWHERE about how to do this and it does not seem possible to do it easily per HttpClient request/instance which is a huge mess in an API scenario where

[2022-02-18 07:47] EvaldasPovilaitis commented on #27420
Roslyn C# Program.cs, elegant, beautiful: expressive and clear code

[code]
Nothing is obfuscated and is clear to the vast vast majority of people using any .NET, C# version which makes it elegant and simple, smart! It uses a minimum set of language features, minimum set of abstractions. Isn't the smart thing when introducing new features (_top level statements, implicit usings_) which so controve

[2022-02-18 11:03] bravecobra commented on #27420
That is what I suggested above. The toggle is already there for the console template.

[2022-02-18 11:05] bravecobra commented on #27420
Have a look at the default Console application:
https://github.com/dotnet/templating/blob/main/template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ConsoleApplication-CSharp/.template.config/template.json

[2022-02-18 11:49] abecasism commented on #27420
But I think they are not language magic. They are within C# expected pattern and workflow. I tell my program to do them, I know what to expect from it, nothing I did't ask for is introduced to source code while compiling, and they correspond to a language element. I the case of, for example, the auto-generated half of MainWindow class in WPF is notified to me because I can see the "partial" keywor

[2022-02-18 12:59] LinnetAnn opened #28305 "Code not working"
[Enter feedback here]
The code for event handling is not working. The error is in the second line of method Usage().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3148b5e9-550e-67c9-eb13-907cb78f7fe7
* Version Independent ID: c723989f-2ff6-389d-dcb4-f55d97d14501
* Content: [The building blocks of C# programs](https://

[2022-02-18 13:33] daviddunson opened #28306 "Please provide an example for CA1848."
The links provided in the documentation are insufficient and for those who have not used LoggerMessage before this pattern is not obvious by looking at the documentation.

For example, create delegate like this:

[code]

and call the delegate like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963ffcee-06

[2022-02-18 14:24] Rast1234 opened #28307 "Reason for CA1727?"
Hello. I can't find any reason behind CA1727 rule. Can someone explain why the PascalCase is needed? In my scenario, structured logs go to JSON and it's fine to have keys named in camelCase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07c38d31-bb12-cbd0-6016-aaae358acc17
* Version Independent ID: 8394f838-b534-a562-

[2022-02-18 14:44] stonstad opened #28308 "Documentation for half data type is missing"
Documentation for half data type is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe245daf-f6b8-1100-3786-b15feefe137b
* Version Independent ID: c031bb57-cb5b-f953-4711-a0ed054dab3f
* Content: [Built-in types - C# reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/built-

[2022-02-18 16:39] tdykstra opened #28310 "Document JsonSerializerOptions.Default property"
System.Text.Json API added in .NET 7 Preview 1 - https://github.com/dotnet/runtime/issues/61093

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279af375-abfa-e10e-046a-625cc14826be
* Version Independent ID: 1df274ad-ecf0-49e7-90c6-e6f05dce0788
* Content: [How to instantiate JsonSerializerOptions with System.Text.Json](h

[2022-02-18 16:41] BillWagner commented on #28305
Hi @LinnetAnn

Can you add more details on your experience here? The code for this sample is [here](https://github.com/dotnet/docs/blob/main/docs/csharp/tour-of-csharp/snippets/shared/ClassesObjects.cs) and it does compile and run correctly. Can you help me understand what's missing?

[2022-02-18 16:47] BillWagner commented on #28308
ping @tannergooding

Are we planning to add a new keyword for the `System.Half` type?

[2022-02-18 16:56] stonstad commented on #28308
I didn’t realize half is not a new intrinsic type.   Never mind and thank you!

(https://devblogs.microsoft.com/dotnet/introducing-the-half-type/)

[2022-02-18 18:15] #28308 closed

[2022-02-18 21:12] LinnetAnn commented on #28305
Hi Bill,

When I tried this code, it worked. Thank you .

Regards,
Linnet

On Fri, Feb 18, 2022 at 11:41 AM Bill Wagner ***@***.***>
wrote:

[2022-02-18 22:26] #28068 closed

[2022-02-19 00:45] Alan-Steadman commented on #28242
Hi Bill,

Thanks for your swift reply, and it is fantastic and utterly astounding that Microsoft are actually paying attention to and even going so far as responding to feedback.  This hasn't happened in the last 25 years that I've been an MS developer (vb.net now learning c#).  I am truly grateful.

Alan

[2022-02-19 01:17] Alan-Steadman commented on #28244
Thanks both.

The errors being presented as squiggly underlines as I'm typing.  Hovering them gives the additional info (description and error number) and a link to the page with no info on it.  The text in the popup isn't copyable, so I was hovering it in the background while retyping it into notepad in the foreground in order to copy paste the text into google (not bing).  However, I guess it wo

[2022-02-19 13:21] RoboBurned commented on #15465
NET Framework 4.8 Projects of type Class Library (csproj) also have this issue. They are defaults to 7.0. (Visual Studio 2019 v16.11.9)

[2022-02-19 21:51] Symbai opened #28315 "Do not recommend using Stringbuilder"
I was browsing [this page](https://docs.microsoft.com/en-us/dotnet/standard/native-interop/best-practices#string-parameters) which strongly recommends to NOT use `StringBuilder`. Then few words later it says:

`For more information on string marshaling, see` [Default Marshaling for Strings](https://docs.microsoft.com/en-us/dotnet/framework/interop/default-marshaling-for-strings)

This is where I w

[2022-02-20 08:07] stanciuadrian opened #28316 "`in` overload rule"
The overload rules in the spec disallow `ref out` and `in out` combinations.
The given example is a pair of `in ref`.

The rule is correct but this page documents the `in` modifier.
I think the rules should be about `in ref` and `in out`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b1434b0-5459-7569-47f7-46bf33fc39

[2022-02-20 10:24] timdamsstudent commented on #27420
@SerratedSharp quiet spot on. I even unsubscribed from this thread and know again why I didn't bother before in engaging in this type of (albeit interesting) discussions...so with this, good luck y'all and I'm counting on the powers that be to take the most sensible action in this matter.

[2022-02-20 10:40] DL444 commented on #27420
For those of you who want an option now, there is one ready-made here courtesy of @dotMorten: https://github.com/dotnet/templating/issues/3985

Still wish we have an option directly from the default template though.

[2022-02-20 12:42] yilmazdurmaz opened #28317 "misplaced info in language specification for "try-catch""
the `exception_filter` have a `when` follow by an boolean expression such as "ex.Message.Contains("404")", so `'catch' exception_filter block` is logically incorrect and I believe it is just a misplaced info while documenting and should be `'catch' exception_specifier block` as it is `exception_specifier`'s job to identify the exception type.

[code]

---
#### Document Details

⚠ *Do not edit this

[2022-02-20 13:06] chanmmn opened #28318 "The “no curly braces ({ })” in the article is rather confusing"
[Enter feedback here]

The “no curly braces ({ })” is the article in rather confusing because the two statements below also have no curly braces ({ }) but they do have implementation.

public Square(int n) => _side = n;

and

public override int GetArea() => _side * _side;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-02-20 15:40] Vaskaran opened #28319 "Parameter type contravariance support"
"In C#, covariance and contravariance enable implicit reference conversion for array types, delegate types, and generic type arguments."-- It is clear and no issue. I am curious about some simple code/methods. For example, the following code compiles and works fine(it supports the covariant return type):
[code]
But the following one does not support in C# (contravariance-in method parameters):
[co

[2022-02-20 18:14] CraigAP opened #28320 "Hot Reload confusion"
It says "Using Hot Reload, a Blazor developer would typically need to restart ...".  I would think it should say "Without Hot Reload,...".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5831959-ac2f-ee91-f8c0-733901c76cf8
* Version Independent ID: 6248210d-e21c-2c4c-9972-8c981c1c521b
* Content: [Project structure for

[2022-02-20 21:43] svick commented on #28319
Yes. Here is a discussion about adding the feature to C#, including several points explaining why it's unlikely to happen anytime soon: https://github.com/dotnet/csharplang/discussions/3562.

[2022-02-21 10:27] jkone27 opened #28323 "Docker image shouldnt depend on SDK but on runtime"
i suppose in general in production environments, you wouldnt want to base all on SDK image, but on aspnetcore runtime image.

as the note already mentions, thought doesn't make "much" sense

[code]

ideally also the advantage of docker is behaving consistently with production, so that should just be the default image.

dotnet command shouldnt be given in example in the DOCKER container, but just b

[2022-02-21 17:14] iascience opened #28330 "Why are examples overly complicated?"
This is one of many instances where the principle being explained is lost in an unnecessarily complicated code example. In this case, we want to show "How to raise base class events in derived classes", as the title says. All you need for this is a base class with a function that invokes the event, and the derived class that calls that function. That's it, no need for custom EventArgs, multiple de

[2022-02-21 17:35] kao-hslu commented on #27420
I am lost for words about this nonsense. And the only way to get rid of this nonsense is switching framework versions back and forth? Are? You? Serious?

I'm teaching OOP using C#. In a lecture we create 3, 4, 5 small projects... no way!

Nonsense: saves 20 seconds in typing Main() and then costs everyone hours and days to catch up with what it's actually supposed to mean. Thing is: everyone will

[2022-02-21 17:59] lsomchai opened #28331 "Example code, the extension method is missing "this"."
The example codes at the extension methods are missing "this".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc4ecf0-19e4-54d3-c34e-b6eadb80262b
* Version Independent ID: decc74aa-a2d5-8727-f22b-3862bacde737
* Content: [Compile-time logging source generation](https://docs.microsoft.com/en-us/dotnet/core/extensions/lo

[2022-02-21 20:34] DefinitelyADev commented on #27420
Actually, one of the things I hate about python. Like sorry mr. python I would like to know what ends were and I like semicolons.

[2022-02-21 20:47] #28292 closed

[2022-02-22 07:40] Delaros47 commented on #27420
Please make it like before nowdays everyone is using core so I have to go to website and copy and paste

[2022-02-22 07:44] Delaros47 commented on #27420
Please change it before with new update make it optional from setting but for inititialize make it like before

[2022-02-22 08:38] erjain commented on #27667
Thanks for confirming the fix, I am closing this issue, however, feel free to reopen if you are looking for more help.

[2022-02-22 10:07] nishanil commented on #27170
@IEvangelist @jhulbertpmn Done! Vaishali has updated the content. Closing this now.

[2022-02-22 10:07] #27170 closed

[2022-02-22 10:08] nishanil commented on #28047
@mohamedsaif Thanks for pointing it out. We have modified the content. Closing the issue now.

[2022-02-22 10:08] #28047 closed

[2022-02-22 11:13] sotto opened #28334 "Basic128Sha256 | Use Aes256 for message encryption ?"
According to this page, Basic128Sha256 uses Aes256 for message encryption; I guess this is a bug in the documentation and should mention Aes128?

<html><body>
defaultAlgorithm Attribute

Basic128Sha256 | Use Aes256 for message encryption, Sha256 for message digest and Rsa-oaep-mgf1p for key wrap.
-- | --

</body>
</html>

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-02-22 12:53] aitc-h opened #28335 "Formatting - Indentation"
Minor formatting error in §7.3, in the note code.
Lines 7 and 8 should be indented one level further.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1000593-e418-a4db-4679-5c57422c776e
* Version Independent ID: 13832745-4304-3f38-2b2e-c5cad65c60ed
* Content: [Basic concepts - C# language specification](https://docs.mi

[2022-02-22 13:47] SamZhangQingChuan opened #28336 "Link seems broken in SOS page"
The link `https://go.microsoft.com/fwlink/?LinkID=67325` in the section `TraverseHeap [-xml] <filename>` redirects me to https://www.microsoft.com/en-us/download

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e01c075-7a07-5850-d462-706675b545f1
* Version Independent ID: 0dd6c661-01a1-592c-ea53-8427412ff8d0
* Content:

[2022-02-22 14:44] SuperJMN opened #28337 "Debugging on Raspberry OS ARM64?"
I'm trying to debug with the ARM64 version of Raspbian OS and all I get it is "unloaded symbols". Is ARM64 debugging supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e5dc95-a3a8-1cc6-049e-773e31449079
* Version Independent ID: 171f8840-fa9a-9174-2628-f3a9f6d0915e
* Content: [Debug .NET apps on Raspberry Pi](

[2022-02-22 15:51] #28229 closed

[2022-02-22 16:34] erjain commented on #27978
Hi @rahul-kumar2, you can refer to the learning module [Deploy a cloud-native ASP.NET Core microservice with GitHub Actions ](https://docs.microsoft.com/en-us/learn/modules/microservices-devops-aspnet-core/ ). I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-22 17:53] erjain commented on #28144
Hi @colindembovsky, can you suggest a resolution to this situation?

[2022-02-22 19:37] BillWagner commented on #28316
hi @stanciuadrian

I'm not sure I understand your issue correctly. If I do, this issue should be closed. The `in`, `out`, and `ref` modifiers are all mutually exclusive. All mean that the parameter is passed by reference. The distinction is in whether assignment is required or permitted:
- `in` means the argument must be definitely assigned before calling the method. The method may not reassign th

[2022-02-22 19:41] BillWagner commented on #28317
Hi @yilmazdurmaz

The grammar described is correct. The `'catch' exception_filter block` clause is required for the following construct:

[code]

The preceding catches any exception when the filter condition is true.

I'll close this.

[2022-02-22 19:41] #28317 closed

[2022-02-22 19:46] BillWagner commented on #28318
Thanks for reaching out @chanmmn

Those methods are examples of [expression bodied members](https://docs.microsoft.com/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members). They are a short-hand form of method definition for single statement or expression methods. We've been using them in docs to help familiarize developers with this syntax.

We'll keep watch

[2022-02-22 19:46] #28318 closed

[2022-02-22 19:50] BillWagner commented on #28330
Thanks for raising this issue @iascience

This is one area where we are continuing to improve. I've added this to our backlog to address.

[2022-02-22 19:50] yilmazdurmaz commented on #28317
@BillWagner
Honestly, I thought filters need an exception variable to handle it and I didn't aware of that use case.
Thanks for the example.

[2022-02-22 19:53] BillWagner commented on #28335
Hi @aitc-h

The current indent level matches other notes in lists. I agree it looks a bit different visually because that note fits on one line.

Because it is correct, I'm closing this.

[2022-02-22 19:53] #28335 closed

[2022-02-22 19:59] stanciuadrian commented on #28316
The text from the `ref` markdown forbids `ref-out` and `ref-in` combinations: A compiler error occurs if the only difference between two members of a type is that one of them has a `ref` parameter and the other has an `out`, or `in` parameter.

The text from the `out` markdown forbids the `out-ref` and `out-in` combinations: Therefore, methods cannot be overloaded if the only difference is that on

[2022-02-22 20:02] tdykstra commented on #28336
Sorry, but the CLR profiler download is no longer available. I'm removing the link from the article.

[2022-02-22 20:14] #28336 closed

[2022-02-22 23:21] adegeo commented on #28244
I guess I'll close this issue as there isn't anything we can do to address this specific instance. As noted, the undocumented issue codes are in progress, there are a lot of them, but they're getting documented as time goes on. If you see a reason for this issue to be reopened, please do so. Cheers!

[2022-02-22 23:21] #28244 closed

[2022-02-23 00:29] CamSoper commented on #28337
@joperezr @Ellerbach

[2022-02-23 00:42] adegeo commented on #28279
Hi @Wallby your paths are still fully qualified. A relative path segement (`.\` and `..\` based on the concept of a current directory. As soon as you start with `\\` the `.\` and `..\` are just being used to go up/down the fully qualified path.

I'll clarify that paragraph to indicate it means you cannot start with a relative path segement.

[2022-02-23 00:51] asWorks opened #28344 "Uno Project Templates create faulty project."
[I am trying to create a new Project from the Multi-Platform App(Uno Platform|Xamarin) template  and I also tried to create a project from Multi-Platform App(Uno Platform|net6) template. I get a lot of errors like this(See attached file). It seems that no Uno Project Template does work. Since I am a beginner in Uno and UWP I don´t know whatinformation I could aditionally add. Please let me know if

[2022-02-23 01:06] adegeo commented on #28223
@tdykstra this may be a missing scenario, approaching it from the point of view that @tonysneed is indicating. In general the requests have been from the context of "restore the old template" which the article covers. But the context here, I believe, is a missing scenario: "How do I specify an entry point for an app"

This would include:

- Remove the top-level statements from the code
- Create a

[2022-02-23 01:27] tdykstra commented on #28223
That doesn't seem to fit the context of an article that is specifically about project creation using the template.  Maybe it would fit in https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/program-structure/top-level-statements#implicit-entry-point-method -- we could add "if you need an explicit entry point" text.  @BillWagner what do you think?

[2022-02-23 08:33] Youssef1313 commented on #28344
This is not related to dotnet/docs. The Uno Platform team has already fixed this https://github.com/unoplatform/uno/issues/7913. Make sure you're using the latest `-dev` version. If the issue still persists, you can report it to unoplatform/uno repository.

[2022-02-23 10:32] #27978 closed

[2022-02-23 10:34] nishanil commented on #27667
@vslzl Glad to know that you were able to fix the issue. Thanks for updating the thread. I will go ahead and close this now.

[2022-02-23 10:34] #27667 closed

[2022-02-23 12:39] robyle opened #28366 "I Try to read Mongodb,It's geterror。"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b5a4ec-2c01-4d65-7e3c-0eef2965f013
* Version Independent ID: 850ab95d-3274-60ab-16f1-3c7150a639dc
* Content: [Connect .NET for Apache Spark to MongoDB](https://docs.microsoft.com/en-us/dotnet/spark/how-to-guides/connect-to-mongo-db)
* Content Source

[2022-02-23 12:45] robyle opened #28367 "I'm trying to read mongdb， there is error"
**Issue description**

**Target framework**

- [ x ] .NET Core 5.0

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]

</details>
<p>
<b>Here is my get errors:</b>

JvmException: java.lang.NoClassDefFoundError: org/bson/conversions/Bson
	at com.mongodb.spark.sql.DefaultSource.constructRelation(DefaultSource.scala:89)
	at com.mongodb.spark.

[2022-02-23 13:29] lukos opened #28369 "What about optional delegate parameters?"
This page shows a trivial example of passing a delegate parameter but what about trying to do this?

`Public Function DoSomething(Optional callback As MyDelegate = AddressOf DefaultHandler)`

This doesn't seem to work because "Constant expression is required"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0d89879-b458

[2022-02-23 15:00] BillWagner commented on #28316
Thanks for the clarification @stanciuadrian

I've opened a PR to address this.

[2022-02-23 15:00] #28319 closed

[2022-02-23 15:52] stanciuadrian commented on #28316
LGTM

You're welcome!

[2022-02-23 16:07] BillWagner commented on #28344
Hi @asWorks

I'm going to close this. As @Youssef1313 points out, this should be reported to the Uno platform team.

[2022-02-23 16:09] #28369 closed

[2022-02-23 16:11] lukos commented on #28369
@BillWagner I wasn't suggesting it wasn't working, it was an issue raised against the *page* where it doesn't discuss that when passing a delegate as a parameter, you cannot set a default value and could work around it by adding another overload of the method that calls the delegate method using AddressOf

[2022-02-23 17:52] rzikm opened #28372 "[Breaking change]: Change default of SslServerAuthenticationOptions.AllowRenegotiation to false"
### Description

PR https://github.com/dotnet/runtime/pull/65777 changed the default value of the `SslServerAuthenticationOptions.AllowRenegotiation` property to `false`.

Original issue: https://github.com/dotnet/runtime/issues/65547

### Version

.NET 7 Preview 3

### Previous behavior

Client-side renegotiation was allowed by the server by default.

### New behavior

Client-side renegotiation m

[2022-02-23 18:22] adegeo commented on #28271
@sliderhouserules Hi there, sorry for the delay in getting back to you. I'm unsure why it's not working for you. Can you share more information? Please provide all the command you ran to import the package repo and then to install the package.

[2022-02-23 20:54] croske opened #28377 "Typo in member access operators C# reference"
There is a typo of "member" in this document.  The link text says "Null-conditional memeber access".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a25abe4-2b4e-119e-85e9-af19ed06e8c0
* Version Independent ID: 682b8c86-e49a-1d6d-8562-c9f919082bdc
* Content: [Member access operators and expressions - C# reference](http

[2022-02-23 23:45] adegeo commented on #27983
@luoyunchong @gregoryagu does `OutOfProcess` fix the deployment problem?

[2022-02-24 00:00] adegeo commented on #28058
Hi @mdell-seradex I've opened another PR to add a statement about it.

[2022-02-24 00:40] joperezr commented on #28337
This is a good question, honestly I don't know what the answer is since this is mostly a question to either the VS team or the VS Code C# extension team which are the ones that own the debugger that gets installed into the target machine in order for a debugging channel to get established. If we don't have a linux arm64 debugger yet, then you wouldn't be able to setup ssh debugging.

[2022-02-24 00:41] joperezr commented on #28337
@SuperJMN did you try Visual Studio or VS Code for attaching?

[2022-02-24 05:53] mcleblanc opened #28383 "OKR: Discovery"
GOAL:
Drive discovery and awareness through SEO improvements.

OBJECTIVES:
Perform selective SEO audits on the following candidate topics:
|Article|PR|
|---|---|
|[.NET introduction and overview](https://docs.microsoft.com/en-us/dotnet/core/introduction)| #28395|
|[Architectural principles](https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/architectural-principles)|#28638|

[2022-02-24 07:06] sdg002 opened #28385 "The accompanying example for init property should be widened"
[Enter feedback here]

At first I did not comprehend the significance of the `init`  key word. I had to write the following example.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816634c5-6e7d-3845-f9a3-1ce305fea838
* Version Independent ID: fc780319-a7fd-d9d1-1877-638ac05eb5f4
* Content: [init keyword - C# Ref

[2022-02-24 07:53] SuperJMN commented on #28337
Hi @joperezr! I haven't because I'm not familiarized with it. I supposed that it uses the same remote debugger, so it should work the same way, shouldn't it?

As a side note, I wouldn't like to use VSCode to debug my applications. VS has always been my option.

[2022-02-24 08:00] MichaelBrooks-Version1 opened #28386 "Omitted assembly configuration files"
[Enter feedback here]
This page discusses application and machine configuration files but completely ignores the issue of assembly configuration files, which is very unfortunate as this is a topic that can easily trip up developers. We need to be told that these exist and how/if they interact with the configuration file of the application that is using the assembly.

---
#### Document Details

⚠ *

[2022-02-24 09:07] guislp opened #28387 "Enum Sample Code Issue"
There is an error in the sample code provided

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248858d2-39c9-ff54-a396-5e7b4d79b640
* Version Independent ID: 9d67fd2d-bfaa-7af4-a8d9-fd2a84aecd15
* Content: [Enumeration types - C# reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin

[2022-02-24 12:18] NachoLed opened #28388 "Not really an issue - Spanish Version"
Hi!
There is some type of collaboration to translate this pages?
Im Learning and i like to help to translate this pages.
Im from Argentina and one of the biggest problems of latam to acces this type of content is the lenguage

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para la vinculación de problemas de docs.microsoft.com ➟ GitHub.*

* ID: 24c8353f-69e7-9068-9b18-df019

[2022-02-24 14:54] BillWagner commented on #28377
Thanks for pointing this out @croske

I see there's a PR already submitted for the fix.

[2022-02-24 14:55] BillWagner commented on #28385
Thanks for pointing this out @sdg002

That is an excellent suggestion. I've added it to our backlog, and added the up for grabs label if anyone wants to submit a PR for this addition.

[2022-02-24 15:01] BillWagner commented on #28388
Hi @NachoLed

I'm adding @khoiph1 and @juricgit to this thread. They work on localization and community contributors, respectively. They can help point you to how to get involved.

[2022-02-24 15:11] #28316 closed

[2022-02-24 15:17] #28377 closed

[2022-02-24 15:45] #27789 closed

[2022-02-24 16:48] tdykstra commented on #27674
I'm not seeing this error. Did the previous tutorial in the series work correctly for you? What is in your .csproj file?

[2022-02-24 16:50] RexJaeschke opened #28389 "Adding a new reason for error CS1007"
V9 added `init` accessors, which can be used *instead* of `set` accessors.

So, a property cannot have both a set accessor method and an init accessor method.

Check that this is also the case with indexers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee97a08e-b85a-7c8b-7287-7fee8888ec3d
* Version Independent ID: 70

[2022-02-24 17:02] ahwm commented on #27420
There's also this: https://marketplace.visualstudio.com/items?itemName=Doomdied.ClassicConsole1

[2022-02-24 17:47] dotMorten commented on #27420
There are several workarounds sure, but the discussion here is whether the _default_ experience should give users an opt-out option of TLS without the need to install more stuff.

[2022-02-24 17:51] ahwm commented on #27420
I absolutely agree. But in the absence of Microsoft doing something _sensible_ I'll take the community-provided workaround for now. At least it saves me time without having to have a bunch of stuff installed.

[2022-02-24 17:56] KPMTGG opened #28391 "Shouldn't the anonymous record symbols, i.e. {| |}, be included on the F# Symbols page"
Shouldn't the anonymous record symbols, i.e. {| |}, be included on the [F# Symbols page](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjR1aKK9Jj2AhXwTN8KHZNHBjEQFnoECAcQAQ&url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Ffsharp%2Flanguage-reference%2Fsymbol-and-operator-reference%2F&usg=AOvVaw0YyT1VuaQTAHQ-8qj3fSCK)?

---
#### Document Details

⚠ *

[2022-02-24 20:24] tdykstra commented on #28071
Duplicate of #25030

[2022-02-24 20:24] #28071 closed

[2022-02-24 20:26] EvaldasPovilaitis commented on #27420
Has anyone else noticed that "`<ImplicitUsings>enable</ImplicitUsings>`" has been added to other project templates also?

- Library
- Windows Forms
- Blazor Webassembly App
- Blazor Server App
- ASP.NET Core Web App
- ASP.NET Core Empty
- guess others too

Why the hell some "using" statements are special (_implicit_) and others not. What are they? Do they differ per project type? These are rhetori

[2022-02-24 20:27] dotMorten commented on #27420
@EvaldasPovilaitis Implicit usings are different from top level statements that this issue is focused on.

[2022-02-24 20:38] EvaldasPovilaitis commented on #27420
If you read the comments people are asking to bring previous templates/experience which implies no implicit usings BS. Also, this is one of the things being asked to vote for.

![image](https://user-images.githubusercontent.com/26977040/155603557-aaa392f9-6fb1-424c-b923-fc201eb0441c.png)

[2022-02-24 22:18] smoothdeveloper commented on #28391
I am not clear, which section would be relevant, but maybe one section dedicated to records, should have `{}` and `{||}`, and maybe, there is a section for CE, which should also contain `{}`

[2022-02-24 23:07] KPMTGG commented on #28391
The page has [] for list and [||] for array.  Should it not also have the symbols for records and anonymous records?  I'm just learning F# and I refer to that page for any symbols.  So, when I could not find the anonymous records symbol it was confusing and I had to search google for it.  Shouldn't this page have ALL the symbols F# uses?

[2022-02-25 06:36] si618 opened #28396 "grammar fix: loose → lose"
`customer could loose the shopping basket`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be98c390-3a32-085b-1529-a74bffefc76e
* Version Independent ID: 1f92eb1d-21da-4d0b-ad70-a28d168636a9
* Content: [The Dapr state management building block](https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers

[2022-02-25 06:57] ShuiRuTian opened #28397 "Update finalizer section in c# spec"
[Enter feedback here]
The description has been out of time.
Considered that this is the specification of C#, the mismatch of example code and real implementation might be pretty confusing.
1. "C# requires that finalizers be run at some time between the time an object is eligible and ***the time that the application exits***, but specifies neither a time constraint within that span, nor an order in

[2022-02-25 07:51] khoiph1 commented on #28388
@NachoLed Thank you for your offer. We are looking into this missing translation.
[FEEDBACK 563566](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/563566)

[2022-02-25 10:27] mwwhited commented on #27420
Yes, this conversation is about bringing back the full/proper templates and was only focused on top level statements for a bit because a blue badge got his feeling hurt.

[2022-02-25 11:24] HermanEldering commented on #26115
I ran into this today. This issue doesn't seem to get much attention, so while this is on the backlog perhaps it is good to at least add a note to this section that the information there is incorrect?

[2022-02-25 12:34] mavasani opened #28400 "Improve documentation for CA2254"
The analyzer rule is useful IMO, but there should be a code fix and improved [documentation](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2254). This is way too little information:

![image](https://user-images.githubusercontent.com/1784452/155620672-d61c2ee5-22e6-4512-88bd-11f0849dc99c.png)

_Originally posted by @MisinformedDNA in https://github.com/dotnet/r

[2022-02-25 13:32] BillWagner commented on #28397
Hi :wave: @ShuiRuTian

The text I see in the English version follows. Are you quoting from a translation? I'm trying to understand how what you above (which was the previous text) is different than what I'm seeing live.

From [§7.2 Application Termination](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/basic-concepts#72-application-termination)

Whether or

[2022-02-25 13:44] BillWagner commented on #28389
Thanks for finding this @RexJaeschke

[2022-02-25 17:04] ShuiRuTian commented on #28397
Ooops, I have to say I missed [§7.2](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/basic-concepts#72-application-termination). This section makes things pretty clear.

As for the quotes,
`C# requires that finalizers be run at some time between the time an object is eligible and the time that the application exits, but specifies neither a time constraint w

[2022-02-25 17:51] esigs commented on #27420
I disagree with all of the abstraction being applied to these templates and using statements.

These ideas aren't cruft in an application.

This feels like someone is "managing to the objective" and focusing on _lines of code_ without considering what those lines mean. It's a terrible idea.

[2022-02-25 18:52] BillWagner commented on #28397
Thank you @ShuiRuTian That helps.

I've opened dotnet/csharpstandard#467 to address this.

[2022-02-25 18:57] #28397 closed

[2022-02-25 20:29] BillWagner commented on #27300
Closing as this was fixed in a prior edit cycle.

[2022-02-25 20:29] #27300 closed

[2022-02-25 20:50] BenjaminMichaelis opened #28409 "Visual studio has incorrect link"
Not sure if this is the right repo for this, if it is not, I can move it, but when I click on this code hyperlink, it attempts to send me to https://bingdev.cloudapp.net/BingUrl.svc/Get?selectedText=Program%20does%20not%20contain%20a%20static%20%27Main%27%20method%20suitable%20for%20an%20entry%20point&mainLanguage=C%23&requestId=9e3285af-3396-4b27-b51f-7e10932ce5a4&errorCode=CS5001 which doesn't s

[2022-02-26 15:58] bdcoder2 opened #28412 "Resource files in Visual Studio ..."
In the section entitled **Resource files in Visual Studio**, the text states the following:

However, when you right-click on a project name (using Visual Studio 2022), there is no "Application" option!  Instead the correct steps are:

1. Click on **PROJECT**
2. Click on **{project-name} Properties**
3. Click on **Package**
4. In the **General** section, scroll down and select the appropriate lang

[2022-02-26 18:06] IGkougkousis opened #28413 "Unknown syntax: 'default!'"
What does the syntax `default!` do? I've never seen it anywhere else and after a lot of googling, this document is the only place that has it! I would really appreciate an explanation. I tested it with some local dotnet projects, and I can confirm that it is at least valid C# syntax. But I really have no idea what it does.

**edit** Example from the document

[code]
---
#### Document Details

⚠ *D

[2022-02-26 21:34] dazinator opened #28414 "Show how to access args"
It would be very useful if on this page you showed how to access the command line arguments that are readily available in the old template but not so obviously available in the new template.

It seems I wasn't the only one to wonder how to do this:
https://stackoverflow.com/questions/70142512/net-6-0-c-sharp-new-console-template-how-to-read-cli-arguments

---
#### Document Details

⚠ *Do not edit

[2022-02-27 14:14] stap123 opened #28417 "Missing CS8862 Details"
The docs are missing details for the error `CS8862`

[2022-02-27 15:39] sksharonker opened #28419 "recursive definition/answer to error code"
[Enter feedback here]

the article would make a whole lot more sense if a quick example were given..
or if a quick... remember "this term means" of the pieces using DIFERENT keywords than the original.
right now, I feel like the answer says "turn rock over to see other side" and the reverse side says the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-02-27 15:46] svick commented on #28413
`default` is [the default literal](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/default?WT.mc_id=DOP-MVP-5002735#default-literal). In this case, it's short for `default(string)`, which is the same as `null`.

`!` is [the null-forgiving operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-forgiving?WT.mc_id=DOP-MVP-5002735), which

[2022-02-27 22:29] dceuinton opened #28424 "CA1819 no reason to use collection over array when you want to allow the property to be modified?"
**Issue description**

In the documentation for code analysis rule [CA1819: Properties should not return arrays](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1819), under the heading [Allow users to modify a property](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1819#allow-users-to-modify-a-property) the documentation show

[2022-02-28 02:29] gregoryagu commented on #27983
@adegeo I tested by updated the Project to use the Out Of Process hosting model and the Single File option.  It did indeed run successfully on IIS.  However, it is worth noting that In Process is the default and, from what I have read, the currently recommended process model due to speed enhancements.  In any case, I am ok with closing this issue at this time.

[2022-02-28 06:37] ebi-j commented on #10217
I don't think `ENV DOTNET_EnableDiagnostics=0` works in .Net 6.

[2022-02-28 07:43] nferobot opened #28425 "InvalidOperationException: The view 'Index' was not found"
**dotnet new mvc -au None -n MyProject -o MyProject**

get this error

_InvalidOperationException: The view 'Index' was not found. The following locations were searched: /Views/Home/Index.cshtml /Views/Shared/Index.cshtml
Microsoft.AspNetCore.Mvc.ViewEngines.ViewEngineResult.EnsureSuccessful(IEnumerable<string> originalLocations)
Microsoft.AspNetCore.Mvc.ViewFeatures.ViewResultExecutor.ExecuteAsyn

[2022-02-28 07:48] nferobot opened #28426 "InvalidOperationException: The view 'Index' was not found"
**dotnet new mvc -au None -n MyProject -o MyProject**

Visual Studio Community 2019 for Mac
Version 8.10.19 (build 2)

get this error

_InvalidOperationException: The view 'Index' was not found. The following locations were searched: /Views/Home/Index.cshtml /Views/Shared/Index.cshtml
Microsoft.AspNetCore.Mvc.ViewEngines.ViewEngineResult.EnsureSuccessful(IEnumerable<string> originalLocations)
Micr

[2022-02-28 07:55] Ellerbach commented on #28337
I think this should work:
* You can remote debug to a Pi with VS Code or Visual Studio, install debug tools:
  `curl -sSL https://aka.ms/getvsdbgsh | /bin/sh /dev/stdin -v latest -l ~/vsdbg`
* You have to do it as root because the debugger cannot sudo!
`sudo passwd root`
`sudo nano /etc/ssh/sshd_config`
* And add a line that reads:
`PermitRootLogin yes `
* Then reboot:
`sudo reboot`
* Connect with

[2022-02-28 08:07] jcamilli commented on #28144
I was able to resolve this issue on my team by splitting my deployment into 2 jobs:
1. Approval job where GH concurrency groups is not enabled. This job does nothing except for approve the subsequent job and allow it to proceed.
2. Subsequent job does the actual deployment. Concurrency groups is enabled on this job.

With the above mechanism, we work around the fact that GH considers a job that is

[2022-02-28 08:20] Delaros47 commented on #27420
I really got bugs cause of that extension first of all during creating new project taking longer time than others bugs with intellisence I uninstalled it
I dont understand why Visual Studio suddenly do that

[2022-02-28 09:24] IGkougkousis commented on #28413
Alright, makes sense. Thanks

[2022-02-28 09:24] #28413 closed

[2022-02-28 11:19] #28396 closed

[2022-02-28 14:59] BillWagner commented on #28391
ping @KathleenDollard @dsyme for a recommendation.

[2022-02-28 15:03] BillWagner commented on #28419
Thanks for bringing this to our attention. We should add an example that makes the explanation more clear.

I've added this to our list, and added the "up for grabs" label for anyone that would like to submit a PR before we make the fix.

[2022-02-28 15:33] Vaskaran opened #28427 "CS0524 is not raised."
Hi,
The following code does not raise CS 0524 in .NET 6/C# 10. Instead, it compiles and run and produces the following output:
 Testing the restrictions associated with an interface.
Is this an expected behavior in C# 10?

Here is the complete code:
[code]

Additional comment:
The interface naming convention is not followed in the document (https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs052

[2022-02-28 16:16] #28201 closed

[2022-02-28 16:31] #21287 closed

[2022-02-28 16:31] #25404 closed

[2022-02-28 16:33] #28260 closed

[2022-02-28 16:34] #27664 closed

[2022-02-28 17:06] dsyme commented on #28391
Yes they should, good suggestion.

[2022-02-28 17:35] gewarren commented on #28425
Duplicate of #28426.

[2022-02-28 17:35] #28425 closed

[2022-02-28 18:26] #27983 closed

[2022-02-28 18:50] #27896 closed

[2022-02-28 19:29] erjain commented on #28144
This is great @jcamilli, Thanks for sharing the solution, it will surely help the community.

[2022-02-28 20:23] WowItsDoge opened #28429 "Sqlite load extension documentation could be more detailed"
**Help us make content visible**

Loading of Sqlite extensions is documented on this site:
https://docs.microsoft.com/en-us/dotnet/standard/data/sqlite/extensions

An example of the extension loading process is described in this file:
https://github.com/dotnet/docs/blob/main/samples/snippets/standard/data/sqlite/ExtensionsSample/Program.cs

But what is unclear is, what Nuget Packages are needed, t

[2022-03-01 02:57] xboxeer opened #28432 "Missing Azure.Identity package in the install package section"
to run the sample, we need defaultcredentialclient and this class belongs to Azure.Identity package, however we don't have this package installed in pre-requirement, direct copy past sample code would failed if miss this package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29506de9-8ab4-0483-9a32-8af9a86a7b0a
* Vers

[2022-03-01 14:11] IEvangelist commented on #28004
Hi @sq4cvh - I just verified, this does in fact return an array with a single element:

[code]

However, I know that it's not really a practical example. I was intended to show how everything works, I'll update this. Thanks

[2022-03-01 15:13] BillWagner commented on #28427
Hi @Vaskaran

Yes, that's now the correct behavior. Nested types have been allowed in interfaces since default interface members were added in C# 8.

[2022-03-01 15:24] RexJaeschke opened #28435 "No explanation for CS8803"
The compiler message is "Top-level statements [[introduced in V9]] must precede namespace and type declarations." For example, the following is correctly diagnosed with this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbb051ee-f020-66ba-c601-4a08ad32ef61
* Version Independent ID: 58a19505-ac46-c5c8-12

[2022-03-01 16:15] #28414 closed

[2022-03-01 16:15] IEvangelist commented on #28323
Hi @jkone27 - thank you for posting this issue, it's much appreciated. With that said, this article is very intentional. The .NET team has instructed us on how to recommend containerization of .NET apps. With that said, this is not going to change.

[2022-03-01 16:15] #28323 closed

[2022-03-01 16:48] Mizux opened #28438 "Dotnet-SDK support for Centos Stream 8, 9 ?"
I would be happy if you provide information about dotnet-sdk support for distro `Centos Stream 8` and `Centos Stream 9` which is the new red hat distro model (note: rolling release).

annoucement: https://www.redhat.com/en/topics/linux/what-is-centos-stream
and docker images provided: https://quay.io/repository/centos/centos?tab=tags

Quick test as of March 1st 2022
[code]

and
[code]

note: we ne

[2022-03-01 18:12] BillWagner commented on #28243
Decisions:

- [X] The [Roslyn feature merge checklist](https://github.com/dotnet/roslyn/pull/59816) includes notifying the docs team to help us get features documented quicker.
- [ ] The [csharplang feature template](https://github.com/dotnet/csharplang/pull/5852) will include a task for documenting hte new feature.
- [ ] Create the C# 11 project, with the following tasks already defined:
  - New

[2022-03-01 18:41] fsimonazzi opened #28441 "Constraints not correct for instance-based logging"
Log method constraints indicate "Logging methods must be static, partial, and return void." but that's not the case for instance-based logging, documented in the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fc4ecf0-19e4-54d3-c34e-b6eadb80262b
* Version Independent ID: decc74aa-a2d5-8727-f22b-3862bacde737

[2022-03-01 21:09] #27069 closed

[2022-03-01 21:39] #27876 closed

[2022-03-01 21:44] adegeo commented on #28438
@omajid Can you comment? Should we create CentOS Stream install pages?

[2022-03-01 21:56] BillWagner opened #28442 "Better breaking changes"
The current page links to the various roslyn pages. That misses a lot of context. Starting this release:

- [x] Add the link to the [.NET 7 breaking changes doc](https://github.com/dotnet/roslyn/blob/main/docs/compilers/CSharp/Compiler%20Breaking%20Changes%20-%20DotNet%207.md)
- [x] Add a new page that explains why the change was made, and how to fix code affected.

[2022-03-01 22:01] BillWagner opened #28443 "[17.1] Parameter null checking"
This adds the `!!` syntax for the compiler to add a null check on that parameter. See dotnet/csharplang#2145 and the [feature spec](https://github.com/dotnet/csharplang/blob/main/proposals/param-nullchecking.md)

[2022-03-01 22:01] BillWagner opened #28444 "[17.1] List Patterns"
Pattern matching constructs now include list types. You can match on single elements, multiple elements, or ranges. See dotnet/csharplang#3435 and the [feature spec](https://github.com/dotnet/csharplang/blob/main/proposals/list-patterns.md)

[2022-03-01 22:01] BillWagner opened #28445 "[17.1] Newlines in interpolations"
Newlines are now allowed in the `{` `}` blocks in an interpolated string. See dotnet/csharplang#4935 and the [feature spec](https://github.com/dotnet/csharplang/blob/main/proposals/new-line-in-interpolation.md)

[2022-03-01 22:01] BillWagner opened #28446 "Move preview features from C# 10 to C# 11"
Generic attributes and static abstract interfaces are still in preview and should move to the C# 11 page.

[2022-03-01 22:26] omajid commented on #28438
My understanding of CentOS Stream is that it's literally a (rebuild of) the in-development versions of RHEL. CentOS Stream 9 is tracking changes going into the release of RHEL 9. CentOS Stream 8 is tracking changes that are going into the next minor version of RHEL 8, which is 8.6.

The .NET packages my team releases for RHEL 9 will be automatically built and included into CentOS Stream 9, as soon

[2022-03-01 22:51] omajid commented on #28438
As a side-note RHEL 9 and CentOS Stream 9 will only include .NET 6 on release. The 3.1 packages are about to be removed for a few reasons, including issues building/running against OpenSSL 3.0. See https://github.com/dotnet/corefx/pull/43078 for that.

[2022-03-01 23:41] gewarren commented on #28441
Related to #24495.

[2022-03-02 00:07] gewarren commented on #28409
@BillWagner Do you know what the correct format for the compiler error links is?

[2022-03-02 04:05] gewarren commented on #28307
@maryamariyan Can you help with this question about why PascalCase is required?

[2022-03-02 04:15] gewarren commented on #28261
Thanks @JesperTreetop. This has been fixed now.

[2022-03-02 04:19] gewarren commented on #28366
Closing in favor of #28367.

[2022-03-02 04:19] #28366 closed

[2022-03-02 04:38] gewarren commented on #27897
@suryapratap Those two methods are instance methods. In this context, the logging methods get the logger by accessing the ILogger field in the containing class.

[2022-03-02 04:38] #27897 closed

[2022-03-02 04:44] gewarren commented on #28217
@TheAxeManGa I've opened a pull request to remove the verbiage that the process is more streamlined in .NET Core.

There's currently no tool for exporting .NET Core/.NET 5+ assemblies to TLBs, however it is being considered for a future release.

[2022-03-02 04:44] #28217 closed

[2022-03-02 05:15] #28087 closed

[2022-03-02 07:19] tebeco opened #28451 "Change to title to `BackgroundService` instead of `Worker`"
We're having several question on the C# Community Discord about `Worker Service`.
As a reminder, there's no such thing as a `Worker Service` in .net
* interface is `IHostedService`
* provided implementation is `BackgroundService`
* extension method is `AddHostedService`
* `Worker` is
  * the name of one random class `public class Worker : BackgroundService {}`
  * if that class was named `public c

[2022-03-02 08:18] Evangelink commented on #20796
Happy to help with the doc change if we agree upon a format/way to state changes depending on version.

[2022-03-02 10:01] gfoidl commented on #28443
It is `!!`.

(Will hide this comment after your update).

[2022-03-02 12:07] wangw-git opened #28455 "Implement the commands with patterns"
[Enter feedback here]
In "What is new in C# -> Tutorials -> explore pattern in objects -> Implement the commands with patterns",
according to the table(row 4)
New setting = Closed
Gate state = Open
Water Level = High
Result = Open

well, Result should be Closed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afb14275-1

[2022-03-02 12:19] BillWagner commented on #26018
Thanks @erjain

I'll close this.

[2022-03-02 12:19] #26018 closed

[2022-03-02 12:20] BillWagner commented on #28443
Thanks @gfoidl I don't know what I was thinking.

[2022-03-02 12:25] maryamariyan commented on #28307
mainly as best practice (merely a recommendation) with structured logging we'd want to have arguments in the message template pascal case rather than camel case. seems like this is in accordance with serilog recommendations as well https://github.com/serilog/serilog/wiki/Writing-Log-Events

[2022-03-02 12:25] maryamariyan commented on #28307
closing as answered.

[2022-03-02 12:25] #28307 closed

[2022-03-02 12:35] gfoidl commented on #28443
Now it's `11` instead of `!!`, please look again 😉

[2022-03-02 12:49] Vaskaran commented on #28427
Thank you.In this case, it will be helpful to update this info and follow the naming convention @ https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0524.
Thanks again.

[2022-03-02 13:04] Matteo-T opened #28456 "If possible, link this page to a more general page around the deprecation of these APIs"
The link to the Github issue, aside from being a conversation among a bunch of people, does not give me an immediate answer to the "What do I do now? Why were all these things deprecated? What should I do next?" questions. It just tells me what I already knew: that these APIs have been obsoleted.

So, I think it would be nice to have a link to some .Net page (Team blog, official DOCS, etc...) that

[2022-03-02 14:09] wangw-git opened #28457 "A Result error of HighWaterGateOpen"
[Enter feedback here]

In "What is new in C# -> Tutorials -> explore pattern in objects -> Implement the commands with patterns",
according to the table(row 4)
New setting = Closed
Gate state = Open
Water Level = High
Result = Open

well, Result should be Closed.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afb14275-1

[2022-03-02 14:12] IEvangelist commented on #28451
Hi @tebeco,

Thank you so much for posting this issue. We really appreciate it. I saw the discussion on the C# discord. The .NET product team were the ones that provided me with the name to use.

The term Worker Service has been used for many years and is considered accurate. In fact, the project `Sdk` relies on the `Microsoft.NET.Sdk.Worker`. It is a "Worker" service. The class that is generated

[2022-03-02 14:19] tebeco commented on #28451
I'm fine if the docs continue to name that Worker as long as it stop mixing
* the BackgroundService which is a type
* the Worker which is
  * A random class name
  * A dotnet template

As you might have seen on discord my word were a bit strong there.
It's not the first time (or the last) that there's confusion between these 3 things and often get a link to that article

If we want the article to

[2022-03-02 14:47] Youssef1313 opened #28459 "`exclude_ordefault_methods` (for CA1826) is not documented"
https://github.com/dotnet/roslyn-analyzers/pull/5877#discussion_r805657034

It would be good to review all user options and make sure everything is documented.

[2022-03-02 15:31] BillWagner commented on #28443
one of those days.....

[2022-03-02 15:47] BillWagner commented on #28455
Thanks for pointing this out @wangw-git

I've opened a PR to fix this issue.

[2022-03-02 15:48] BillWagner commented on #28457
closing as a duplicate of #28455

[2022-03-02 15:48] #28457 closed

[2022-03-02 16:00] #28004 closed

[2022-03-02 17:46] bricelam commented on #28429
The best way to get SQLite extensions is to install them using the OS package manager. For example, APT on Debian-based Linux distros or Homebrew on macOS.

We decided to create a NuGet package to distribute SpatiaLite on Windows since things like Chocolatey, Scoop, and winget aren't widely used and AFAIK don't have any packages for SpatiaLite. As you can see by the sample, there are a lot of hoop

[2022-03-02 20:06] BenjaminMichaelis commented on #28409
By add in do you mean modifying the image? Because this is just what happens if you take out the main in a project. All the other error codes work fine.
![Animation333](https://user-images.githubusercontent.com/22186029/156440302-2aff5c3d-8306-402a-9619-2670a9454c49.gif)
Also the format looks like it should be [msdn.mircrosoft.com/query/roslyn.query?appID-roslyn&k=k(cs5001)](https://msdn.microsoft

[2022-03-02 21:00] BillWagner commented on #28409
Thansk @BenjaminMichaelis

The format you show is correct. I was wondering if you had a Visual Studio add in that's changing the destination for the service.

@CyrusNajmabadi knows more about that side of the F1 service.

[2022-03-02 21:15] WowItsDoge commented on #28429
Thank you for your answer!
My app targets only Windows, so I guess copying the DLL to the output directory is enough.

First I thought the MSDN documentation for Sqlite could be more detailed, but as you described, it is a more complex subject than previously assumed, especially for users which are targeting multiple OS.

[2022-03-02 21:51] samsp-msft opened #28462 "small correction"
I think that it should say reading thread in this part:

## [Backpressure and flow control](https://docs.microsoft.com/en-us/dotnet/standard/io/pipelines#backpressure-and-flow-control)
Ideally, reading and parsing work together:

The ~~writing~~ reading thread consumes data from the network and puts it in buffers.
The parsing thread is responsible for constructing the appropriate data structures.

[2022-03-02 21:51] BillWagner commented on #27042
I was going through the issues on this article. I'd like to address this by making a new tutorial with more of a real world scenario using attributes.

[2022-03-03 01:44] luisquintanilla opened #28466 "Document ways to infer IDataView schema when loading data"
Add documentation to the following doc: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/load-data-ml-net

Describe ways that you can load data into an IDataView without defining input and output schema classes. These include:

- `LoadFromTextFile` method
-  `LoadFromEnumerable` Anonymous types

## LoadFromTextFile method

Given a dataset similar to the following:

[code]

Yo

[2022-03-03 08:05] cloudhal commented on #27420
Considering that this page was supposed to get feedback on the new template, and the feedback has been overwhelming in favour of the previous template, I'm wondering why we are still having this conversation and why the idea wasn't binned as being a terrible one.
I'm learning and just wasted 30 minutes of coding time figuring out where the main method went, this definitely does not help!

[2022-03-03 11:01] #28144 closed

[2022-03-03 12:08] katdti opened #28471 "Meter name and instrument unit capitalization convention"
Hi

When looking at OpenTelemetry [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/metrics/semantic_conventions) - they use lower cases in all meter names and unit examples. The MS doc capitalize first letter.
The OpenTelemetry semantic conventions also states unit annotation should be in {} brackets (e.g. {Hats})
Is it also here up to th

[2022-03-03 13:07] DavidKroese opened #28472 "Circuitbreaker not working (reset per request)"
The implementation of the Circuitbreaker didn't work for me. When reading the Polly documentation I came across this

![image](https://user-images.githubusercontent.com/23308951/156570557-75b7e3bd-179b-46f2-b6f2-0af79955069d.png)

When I tried it the way Polly describes the Circuitbreaker was working for the httpclient

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-03-03 13:30] #26418 closed

[2022-03-03 14:03] BillWagner commented on #28417
Related to #28435

Thanks for bringing this to our attention @stap123 We're working on this area.

[2022-03-03 14:05] BillWagner commented on #28435
Thanks @RexJaeschke This is a known concern.

[2022-03-03 14:18] rzikm opened #28475 "[Breaking change]: Mark SslProtocols.Tls and SslProtocols.Tls11 as obsolete"
### Description

https://github.com/dotnet/runtime/pull/65773 marks `SslProtocols.Tls` and `SslProtocols.Tls11` as obsolete.

Original issue: https://github.com/dotnet/runtime/issues/65546

### Version

.NET 7 Preview 3

### Previous behavior

No warnings when `SslProtocols.Tls` and `SslProtocols.Tls11` were used in code.

### New behavior

Using `SslProtocols.Tls` or `SslProtocols.Tls11` produces

[2022-03-03 14:32] sisi2101 opened #28476 ".net"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b80f18fa-e6d2-50f6-dc08-a2ab5ba9f89a
* Version Independent ID: 5bebc66b-956a-47c7-7472-07967256be0c
* Content: [Create a .NET console application using Visual Studio - .NET](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio?piv

[2022-03-03 15:29] wangzhengguang opened #28477 "I am a novice. Should I see "The threshold was reached." on the screen when I run this application? I expect to see it, but I do not see it."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caf84f7a-743b-867a-2ac5-2ab815f10c45
* Version Independent ID: 9b1d1a8a-5151-8e4d-2365-7c859e1bacd8
* Content: [Handling and Raising Events](https://docs.microsoft.com/en-us/dotnet/standard/events/)
* Content Source: [docs/standard/events/index.md](ht

[2022-03-03 15:43] wangzhengguang commented on #28477
It is not an issue. I treated this a step by step instructions, and I missed one step in actually invoking the event. Please close.

[2022-03-03 15:43] #28477 closed

[2022-03-03 16:30] BillWagner commented on #28243
The planning work here is done. On to the docs changes.

[2022-03-03 17:03] #28476 closed

[2022-03-03 20:02] nguyenlamlll opened #28480 "In NET 6, Azure Function v4, foreach loop with Azure.AsyncPageable<TableEntity> seems to not work"
I am using NET 6 and developing an Azure Function v4. I am querying against an Azure Table storage.

I follow this sample's code block [here from line 48 to 57](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/tests/samples/Sample4_QueryEntitiesAsync.cs#L48-L57).
Also, in this section [Iterate over AsyncPageable with await foreach](https://docs.microsoft.com/en-us/

[2022-03-03 20:46] gendestus commented on #27420
I sat down to start a new project and now I'm contemplating just using Electron.....this needs to be reverted quickly

[2022-03-04 13:42] svandenhoven opened #28490 "Async explained with a breakfast"
Genuinely nice article and very beautifully written. Every understands the complexity of the domestic logistic of making breakfast. Nice to take this as metaphor and it made it so much easier to understand.

Sander
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent

[2022-03-04 13:48] BillWagner commented on #28490
Thank you for the kind words @svandenhoven I'm glad you liked this.

Closing the issue as kudos.

[2022-03-04 13:48] #28490 closed

[2022-03-04 14:57] TusharMalap commented on #5385
Hey is there way I can achieve hierarchical classification in ml.net?

[2022-03-04 15:40] iuioiuoiuuiouoi opened #28495 "2 public fields a and b C #"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df47593-8586-e54e-fb74-cf3a96262d40
* Version Independent ID: b464cd68-4713-c848-e9a7-30705d17e6f7
* Content: [Fields - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/fields)
* Content Sourc

[2022-03-04 18:49] adegeo commented on #28438
Thanks for the info @omajid I can update the articles, adding info about CentOS Stream to the RHEL article. I'll put a CentOS Stream specific entry in the TOC though, but it will still link to the RHEL+CentOS Stream article.

[2022-03-04 20:44] #28455 closed

[2022-03-04 20:46] #28127 closed

[2022-03-04 20:49] #24690 closed

[2022-03-04 20:49] #24752 closed

[2022-03-04 20:49] #25924 closed

[2022-03-04 20:49] #27407 closed

[2022-03-05 02:02] swedishkid opened #28502 "Fix client configuration code sample"
Code snippet is wrong:
[code]

Should be changed to

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2076bd-c825-ea94-df48-3d4ab4a5c328
* Version Independent ID: e49dfa62-c470-40b8-6b8d-1abb893364d3
* Content: [Local development configuration](https://docs.microsoft.com/en-us/dotnet/orleans/host/configuration-g

[2022-03-05 06:03] nbass-tech opened #28503 "Exception running example from "Create a Windows Service using BackgroundService""
Edit: My post did not seem to get linked with the document I was referring to, here it is for reference:
Content: [Create a Windows Service using BackgroundService](https://docs.microsoft.com/en-us/dotnet/core/extensions/windows-service)

I've tried to create and build this project to the letter in VS2022 and also JetBrains Rider and I get the same exception whenever I try to run the executable or

[2022-03-05 07:08] nbass-tech commented on #28503
After scouring the web I came across this blog post:  Content: [Creating a Windows Service with C#/.NET5 - #ifdef Windows](https://devblogs.microsoft.com/ifdef-windows/creating-a-windows-service-with-c-net5/).  From that I got the idea of calling `AddSingleton` in the service configuration portion of the Program class and that seems to have resolved the issue.  Is this an omission/error in the doc

[2022-03-05 21:02] softwareliberationarmy opened #28505 "Dependency Injection Issue"
1. Windows Service gave me an Access Denied exception which I traced down to Local Service not having permission to access the default publish output folder using Visual Studio (the bin\Release\net6.0\win-x64\publish\win-x64 folder), so rather than making it optional to move the output before creating the service, I'd recommend explicit instructions to move the publish output to a folder Local Ser

[2022-03-05 21:06] softwareliberationarmy commented on #28503
@nbass-tech  it is. I ran into the same issue. The sample code for Progam.cs had omitted any kind of registration of the JokeService class.

[2022-03-05 21:25] softwareliberationarmy commented on #28505
Scratch that first issue. I just remembered that was user error. I set the service to point to the folder, not the exe.

But that does raise another issue: when trying to debug, I ran into this issue with the "single file" attribute: https://developercommunity.visualstudio.com/t/unable-to-attach-to-coreclr-when-debugging-a-publi/1523427
You might update the docs to include the condition workaround

[2022-03-06 04:28] jfrico opened #28506 "Unable to resolve service for type 'WindowsServiceWorker.JokeService'"
[Enter feedback here]

Cannot get this sample running, it thrown "Unable to resolve service for type 'WindowsServiceWorker.JokeService' while attempting to activate 'WindowsServiceWorker.WindowsBackgroundService'." error until I implemented IHostedService for JokeService and add `services.AddTransient<JokeService>()` in main

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-06 07:21] pressure77 opened #28507 "Superfluous "the" in hyperlink text referencing "the .NET""
In the "See Also" section, the hyperlink to the [type conversion](https://docs.microsoft.com/en-us/dotnet/standard/base-types/type-conversion) documentation is titled "Type Conversion in **the** .NET", where the "the" is unneeded.
The linked page does not have this issue, only the hyperlink text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-03-06 07:29] jfrico commented on #28506
duplicated

[2022-03-06 07:29] #28506 closed

[2022-03-06 09:24] NaveenTharak opened #28508 "Casting Error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a86375-5077-1031-4262-65c9ff1db985
* Version Independent ID: 06488d45-19ec-f12c-0cbb-82c9bf133bb0
* Content Source: [docs/csharp/language-reference/compiler-messages/cs0029.md](https://github.com/dotnet/docs/blob/main/docs/csharp/language-reference/

[2022-03-06 20:09] blazejjanus commented on #27420
Great idea with taking away the ability to easy change things.
This global using statements can stay, but the idea of removing namespace and class is really bad.
I like to split huge classes between multiple files and now creating partial classes is not so intuitive.
This changes makes life harder.

[2022-03-06 21:32] WowItsDoge commented on #28429
First I downloaded the Sqlite Amalgamation from this url:
https://www.sqlite.org/2022/sqlite-amalgamation-3380000.zip
Then downloaded the source folder from this url:
https://www.sqlite.org/2022/sqlite-src-3380000.zip

After unziping both folders, I have copied the files `sqlite3.h`, `sqlite3.c` and `sqlite3ext.h` from the first folder to
`sqlite-src-3380000/ext/misc`
from the second folder. Then

[2022-03-07 03:49] GalaxyNetworks commented on #27420
FYI: It's not classes in general. Top-level statements only affects the so-called Program class, aka. the entry point of your application.

All other classes you create will still have the class definition, and you can just as easily make partial classes...
To be fair though, large classes and especially partial classes are just as bad as any of the changes Microsoft is making now.

Implied namesp

[2022-03-07 03:49] robyle commented on #28366
Why be closed ?!

[2022-03-07 03:50] robyle commented on #28366
any one can help me ? thinks~~..

[2022-03-07 05:38] miroslavp opened #28511 "Misspelled storage provider"
I believe the following statement is incorrect "A composite storage provider can be used with SharedStorageProvider.". I think that it should be ShardedStorageProvider instead. Although I've read somewhere that ShardedStorageProvider is no longer available which is sad because I badly needed a composite storage provider.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-03-07 06:31] markusschaber commented on #28299
Hmm. As the `IObserver<T>` actually stays the same, and the role of `IObservable<T>` is a minor one in the pattern, I'm not sure whether it really is an API change, or actually just about documenting an alternative way of offering the pattern. I'll ask in the https://gitter.im/dotnet/coreclr gitter channel whether this is worth a runtime issue.

[2022-03-07 12:17] pbachmann opened #28513 "Error example"
Following the instructions laid out in the Dugnad session on YouTube, here is my first attempt at highlighting an example of this error:

[code]

RegisterFunction1 works and RegisterFunction2 has a FS0001 error. As best as I can make it, RegisterFunction1 maps 'A to int and 'B to int->int which is why it compiles. RegisterFunction2 also maps 'A to int but then errors when it sees that what's left

[2022-03-07 14:04] IEvangelist commented on #28502
Hi @swedishkid - I'm on it. See: #28515

[2022-03-07 14:16] IEvangelist commented on #28480
Hi @nguyenlamlll,

Thank you for posting this issue, we really appreciate it.

Are you able to tell us what version of `Azure.Data.Tables` you're using? I'm going to add a few others to this issue that are probably a bit more knowledgeable in this specific area.

/cc @scottaddie @CamSoper @christothes

[2022-03-07 14:33] HaloFour commented on #28299
I'd expect any state to be broadcast to the `IObserver<T>`, not returned from the `IObservable<T>`.  Most publishers have no concept of "current state", they are "cold" and don't start emitting values until the subscriber connects.  In the case of a "hot" publisher, which it sounds like you are working with, I would expect the publisher to emit the last signal to the observer on subscription.  If

[2022-03-07 15:05] marhja commented on #22728
There is a [new option](https://github.com/dotnet/roslyn-analyzers/pull/4211) to turn off warnings for "OrDefault", but it would be nice if it were documented here.

[2022-03-07 17:08] luisquintanilla commented on #28094
Hi @PhasonMatrix thanks for raising this issue. Updates have been made in #28516 and the changes should be reflected shorty.

[2022-03-07 17:08] luisquintanilla commented on #28203
Hi @felipeschneider88  thanks for raising this issue. Updates have been made in #28516 and the changes should be reflected shorty.

[2022-03-07 17:11] gewarren commented on #28366
@robyle How is this issue different to #28367? It seems like a duplicate.

[2022-03-07 17:18] luisquintanilla commented on #27863
Hi @Jamminroot thanks for raising this issue. Updates have been made in #28516 and the changes should be reflected shortly.

[2022-03-07 17:20] luisquintanilla commented on #27508
Thanks for the response @chrisxanderson .

@cyberkoolman The ML.NET CLI was recently updated with support for .NET 6. For updated install instructions, see [How to install the ML.NET Command-Line Interface (CLI) tool](https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/install-ml-net-cli). Closing this issue for now. Please feel free to open another issue if you are still having troub

[2022-03-07 17:56] BillWagner commented on #28495
Hi :wave: @iuioiuoiuuiouoi

Can you add more details on what you're asking for here? It's unclear from the example.

[2022-03-07 17:57] BillWagner commented on #28508
Hi :wave: @NaveenTharak

Can you add more details on what your looking for here?

[2022-03-07 18:13] adegeo opened #28519 "test"
weeeeee!

[2022-03-07 18:24] #28519 closed

[2022-03-07 18:25] #28279 closed

[2022-03-07 18:26] #28391 closed

[2022-03-07 18:29] #28502 closed

[2022-03-07 19:02] tmarcis1 opened #28521 "Example does not work"
The .NET 6 Windows service does not work, at least when I built and deployed on my workstation.  (I also downloaded the .NET Samples version from https://github.com/dotnet/samples).  When (either is run), it produces an error like the following on service startup (which then abruptly stops):

System.InvalidOperationException: Unable to resolve service for type 'App.WindowsService.JokeService' whil

[2022-03-07 19:41] IEvangelist commented on #28521
Hi @tmarcis1
Thank you so much for posting this issue. We really appreciate it.

There was a recent change that obviously missed the runtime bug that was introduced, this is fixed in https://github.com/dotnet/docs/pull/28522. Thank you

[2022-03-07 21:08] #28505 closed

[2022-03-07 21:08] #28521 closed

[2022-03-07 21:27] adegeo commented on #28507
Thank you for opening this issue. I'll get this fixed up.

You can always add these fixes yourself by clicking the EDIT/PENCIL icon on the top-right of the article.

[2022-03-07 23:24] #28442 closed

[2022-03-07 23:24] #28446 closed

[2022-03-08 01:37] cdanek opened #28525 "Incorrect / out of date info on creating docker container"
1. "The . in the docker build command tells Docker to use the current folder to find a Dockerfile." is slightly incorrect - the "." in the command line sets the build context of the image (per https://docs.docker.com/engine/reference/commandline/build/). The "-f" parameter tells Docker where to find the Dockerfile.

2. When first creating an image, I don't see two images in my list of "docker imag

[2022-03-08 02:21] #28203 closed

[2022-03-08 02:27] luisquintanilla commented on #28094
Fixed by #28516

[2022-03-08 02:27] #28094 closed

[2022-03-08 02:28] luisquintanilla commented on #27863
Fixed by #28516

[2022-03-08 02:28] #27863 closed

[2022-03-08 08:09] Balkoth commented on #27420
There has been negative feedback to this stupid change since the relase candidates:
https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-2

@richlander dismissed all the feedback as not important, at one point he claimed: “We’ve made improvements to top-level statements in response and continued to use it for templates.”

This was an outright lie. Nothing was done, the template

[2022-03-08 08:28] Asger-P opened #28527 "Use of a non translatable word"
You use the word peer to explain ../ but not even google translate knows what peer means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b74b99ff-32f8-c2d1-0a62-5907985f591e
* Version Independent ID: 716a28dc-360e-2964-47f5-0ff18bb00b1c
* Content: [File path formats on Windows systems](https://docs.microsoft.com/en-us/

[2022-03-08 08:36] erjain commented on #28107
I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-03-08 10:01] EvaldasPovilaitis commented on #27420
**IMHO** changes to the templates have to be reverted for all the project types and people responsible for this made  accountable.

Jus look at this nonsense (_the same applies to Visual Studio Code also which implies messed up compiler_):
![image](https://user-images.githubusercontent.com/26977040/157210636-a65a071e-993b-4826-a866-890a70624e7b.png)
![image](https://user-images.githubusercontent.c

[2022-03-08 11:56] raj8806 opened #28528 "Typo in property name for "Class c""
[Enter feedback here]

Typo in property name for "Class c". It should be "this._value" not "this.value".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d4fcf9-42c1-e015-798c-0c1519d77f41
* Version Independent ID: 75aee013-1123-1403-b2bc-cc8b68b56de8
* Content: [Inheritance in C#](https://docs.microsoft.com/en-us/dotn

[2022-03-08 13:40] #28507 closed

[2022-03-08 14:55] markusschaber commented on #28299
Ok, I'm somehow convinced now that the current state should be returned via event to the `IObserver<T>`.

[2022-03-08 14:55] #28299 closed

[2022-03-08 14:59] BillWagner opened #28531 "Add discussion of private initialization methods to pitfalls"
See dotnet/core#7243

We can do a better job of ensuring that developers understand that nullable analysis doesn't do any cross-method analysis.

This should include the workaround to initialize fields directly in the constructor body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a690704d-da32-dca7-ea3e-66b84fb1d00d

[2022-03-08 16:01] tsemer commented on #27769
@MSDN-WhiteKnight it is a possibility, but the only upside I can think to support it is that this solution would not, strictly speaking, violate the guidelines. The downsides are that the resulting csproj will be more complex, and the consistency between the framework target outputs will reduce. Assuming that under "best practices" we want to suggest solutions that result in clean, concise code an

[2022-03-08 16:10] #28528 closed

[2022-03-08 17:49] rzikm opened #28534 "[Breaking change]: EncryptionPolicy.NoEncryption and EncryptionPolicy.AllowNoEncryption are obsolete"
### Description

https://github.com/dotnet/runtime/pull/66292 Marks `EncryptionPolicy.NoEncryption` and `EncryptionPolicy.AllowNoEncryption` as obsolete.

Original issue: https://github.com/dotnet/runtime/issues/65545

### Version

.NET 7 Preview 3

### Previous behavior

Using `EncryptionPolicy.NoEncryption` or `EncryptionPolicy.AllowNoEncryption` does not produce compiler warnings.

### New beha

[2022-03-08 18:31] benjaminpetit commented on #28511
I don't think I ever saw a sharded/shared implementation of the storage provider... I think we should remove this from the documentation.

@miroslavp I think a sharded storage implementation should not be too hard to write. I would be happy to review it if you have time to develop something.

[2022-03-08 18:35] miroslavp commented on #28511
@benjaminpetit I think it was referencing this [https://docs.microsoft.com/en-us/dotnet/api/orleans.storage.shardedstorageprovider?view=orleans-1.0](https://docs.microsoft.com/en-us/dotnet/api/orleans.storage.shardedstorageprovider?view=orleans-1.0) .
Is there anywhere I can see the source code of it?

[2022-03-08 18:40] IEvangelist commented on #28525
Hi 👋 @cdanek

Thank you so much for posting this issue. We really appreciate it. I'm working now on addressing the concerns and points that you raised here, thanks again.

[2022-03-08 18:42] #28462 closed

[2022-03-08 19:48] RexJaeschke opened #28539 "Suggestions to improve the native-sized integers proposal"
Using this proposal, I’ve been writing a formal spec for this feature to add to the C# standard, and have the following comments:

## Comment 1: “Miscellaneous”

The final sentence contradicts the first; I suggest you strike the enum phrase at the end of the final one.

## Comment 2: “Miscellaneous”

Presumably, the following is also true:

## Comment 3: “Miscellaneous”

Presumably, the following

[2022-03-08 20:17] benjaminpetit commented on #28511
Found it: https://github.com/dotnet/orleans/blob/v1.5.10/src/OrleansProviders/Storage/ShardedStorageProvider.cs

[2022-03-08 22:26] kahanu opened #28540 "dotnet new command not doing anything"
[https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-template-package](https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-template-package)

Just like the previous tutorial to create a project template, when I follow the instructions and try to install the new template, or in this case create a new console app with the name of "templatepack", no pro

[2022-03-09 01:40] jeffhandley opened #28542 "[Breaking change] .NET 7 with C++/CLI requires Visual Studio 2022 17.2 Preview 2"
### Description

**Starting in .NET 7 Preview 3, Visual Studio 2022 17.2 Preview 2+ must be used for C++/CLI projects.**

.NET 7 Preview 3 includes "Generic Math" APIs that use `static abstract` interface members on primitive types such as `System.Int32`; earlier versions of the C++/CLI compiler were incompatible with such members. Because those members are used on many primitive types, compilatio

[2022-03-09 05:47] NAWABDERA1 opened #28545 "Allah Nawaz Castle"
**Help us make content visible**

**Describe the new article**

[2022-03-09 05:48] NAWABDERA1 opened #28546 "Nawab Ikramullah Khan"
**Help us make content visible**

**Describe the new article**

[2022-03-09 09:54] #28107 closed

[2022-03-09 13:06] AMSoftwareNL opened #28578 "Default value for Nullable not as stated in the documentation"
The documentation status under for Nullable:
"The Nullable option lets you specify the nullable context. **The default value for this option is disable**."

This isn't true (anymore) with .NET6. By default this option is "enable".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e548e000-8190-b1bb-51fd-7e7b2d5bcb45
* Ver

[2022-03-09 13:40] #27934 closed

[2022-03-09 14:49] #18520 closed

[2022-03-09 14:49] BillWagner commented on #28546
closing as spam.

[2022-03-09 14:49] #28546 closed

[2022-03-09 14:49] BillWagner commented on #28545
closing as spam

[2022-03-09 14:49] #28545 closed

[2022-03-09 14:57] NAWABDERA1 commented on #28545
INSHA ALLAH I am pleased to invite your attention that Allah Nawaz Castle is my birthplace ![image](https://user-images.githubusercontent.com/9724587/157467200-64d3d91e-9a59-465c-99a8-3c3ea09c83a6.jpeg)

[2022-03-09 16:22] #28527 closed

[2022-03-09 16:22] #28472 closed

[2022-03-09 16:22] #28511 closed

[2022-03-09 16:25] IEvangelist opened #28584 "Orleans xref sweep"
Update all existing content that references files in the `dotnet/orleans` repository to instead use the xref syntax that will rely on the Orleans API reference docs. Sweep each of the following folders:

- [x] #28598 _deployment_ folder
- [x] #28700 _grains_ folder
- [x] #28703 _host_ folder
- [x] #28722 _implementation_ folder
- [x] #28749 _migration_ folder
- [x] #28752 _resources_ folder
- [ ]

[2022-03-09 16:27] IEvangelist opened #28585 "Orleans - address open PRs from `dotnet/orleans-docs`"
There are a number of open PRs in the soon-to-be-archived `dotnet/orleans-docs` repository. Let's ensure that all of those PRs are addressed.

[2022-03-09 17:42] #25030 closed

[2022-03-09 17:42] #27339 closed

[2022-03-09 17:55] tannergooding commented on #28539
This should be reviewed by someone from the language team, not me.

@cston is probably the correct person here.

[2022-03-09 18:19] LordDelacroix opened #28589 "Does NOT work"
Running the command:  **dotnet restore** on the project does not fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62af3ec3-7d59-7b4a-b9a1-413b8956bab7
* Version Independent ID: 31e0311a-8823-1d30-8f38-ac0c37ca07d9
* Content: [NETSDK1004: Assets file not found - .NET CLI](https://docs.microsoft.com/en-us/do

[2022-03-09 18:25] bottle2 opened #28590 "Contradictory information regarding MinValue and MaxValue of nint and nuint at article"Integral numeric types""
In this article "[Integral numeric types](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/integral-numeric-types)" of the C# Reference it is stated that "Each of the integral types except the native-sized types has MinValue and MaxValue constants [...]" whilst the next article ["nint and nuint types"](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference

[2022-03-09 18:52] Joseph-McFadden opened #28591 "msdn link causes exception"
The link provided "https://msdn.microsoft.com" results in exception "System.Net.Http.HttpRequestException".

No sure why this occurs, it just does.

Links to other https:// websites that do work are:
       "https://www.postman.com/"
        "https://www.microsoft.com/"
        "https://docs.microsoft.com/en-us/"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-03-09 18:55] #28271 closed

[2022-03-09 19:10] gewarren opened #28592 "Update for .NET 6 SDK"
This article should be updated for the .NET 6 SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee36626-0fc2-20d8-81c5-a3cd212244b2
* Version Independent ID: 044ba93c-9ad9-80c7-dc5c-27a80c9bd921
* Content: [Publish apps with the .NET CLI - .NET](https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli)

[2022-03-09 20:15] bottle2 opened #28594 "Weird identation at section Parameterless constructors and field initializers of article Structure types"
The second example of the section "Parameterless constructors and field initializers" in [this](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/struct) article "Structure types" of the Language reference has weird identation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9220116-e950-0

[2022-03-09 20:55] gewarren commented on #20796
@Evangelink Thanks for that offer! I've made a draft PR [here](https://github.com/dotnet/docs/pull/28595). What do you think of adding the default severity to the table at the top of each rule's page?

![image](https://user-images.githubusercontent.com/24882762/157534375-3727fa5e-b14b-4490-a51e-105b2aca1d9b.png)

[2022-03-09 21:05] bottle2 opened #28597 "Duplicate example at section "How to identify a nullable value type" of article "Nullable value types""
The first and last example of the section "How to identify a nullable value type" of [this](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-value-types#how-to-identify-a-nullable-value-type) article "Nullable value types" are too similar, consider removing the last example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-03-09 21:50] cston commented on #28539
The changes recommended in comments 1-3 look correct.

I'll investigate comments 4 and 5.

[2022-03-10 01:36] BartoszKlonowski commented on #28597
Indeed they both have the exact same workflow and present the same thing.
But in my opinion simply removing the last would cause some confusion as there is a reference to it above it. I believe the way to go would be to make a minor "refactor" of this section so it makes sense and reuse this example that is now duplicated.

@BillWagner Please assign me to this issue so I can handle it.

[2022-03-10 07:32] malevxx123 opened #28602 "GetElement(string fileName, string elemName)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f114ca64-2134-9aea-ad5f-db480ff4e521
* Version Independent ID: b3b390b3-fdcc-afef-2b17-550c59804854
* Content: [Compiler Error CS1002](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1002?f1url=%3FappId%3Droslyn%26k%3Dk(CS1002))
* Content Source

[2022-03-10 09:34] cremor commented on #28285
@MisinformedDNA Why did you close this issue? The documentation was not updated for the new rule name.

[2022-03-10 11:26] denizhansoydas opened #28604 "Download as pdf removes some properties"
[Enter feedback here]
Downloading as pdf removes the colors in the codes and some other properties as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b0e44dd-e0f2-9ace-006b-479a92fbf424
* Version Independent ID: 7811190e-6019-83d8-d504-c0b985368055
* Content: [Define types and their members - A tour of C#](https:

[2022-03-10 13:26] egkareem opened #28606 "Suggestion to make LINQ documentation better (in my opinion)"
This is a suggestion not a problem!
For subjects such as LINQ it would help to put together a simple model of 3 related classes with test data so that the learner could test the queries you put and better understand the subject.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888d4d4e-48ca-db9d-e36d-006f4aeeb83b

[2022-03-10 14:24] IEvangelist opened #28608 "Get Orleans samples into the sample browser experience"
Pull the updated .NET 6 samples from:
https://github.com/dotnet/orleans/tree/main/samples

- [x] https://github.com/dotnet/orleans/pull/7537
- [x] https://github.com/dotnet/orleans/pull/7543
- [x] https://github.com/dotnet/orleans/pull/7547
- [x] https://github.com/dotnet/orleans/pull/7546
- [x] https://github.com/dotnet/orleans/pull/7545
- [x] https://github.com/dotnet/orleans/pull/7544
- [x] htt

[2022-03-10 14:54] BillWagner commented on #28590
Thanks for raising this issue @bottle2

We should clarify that for the integral types except `nint` and `nuint`, the`MinValue` and `MaxValue` are *compile-time constants*. The `nint` and `nuint` types have *run time properties* that return the `MinValue` and `MaxValue` on that machine.

I've added this to our backlog and added the "up for grabs" label if anyone wants to address this before we get

[2022-03-10 15:01] BillWagner commented on #28591
Thanks for nothing this @Joseph-McFadden

The reason for the exception is that `msdn.microsoft.com` has been retired, in favor of `docs.microsoft.com`. Your browser will redirect, but this sample doesn't handle those.

I just submitted a PR to address this by changing the target URL.

[2022-03-10 15:05] BillWagner commented on #28594
Thanks for raising this @bottle2

I opened a PR to address this.

[2022-03-10 15:07] BillWagner commented on #28597
Thanks for raising this @bottle2

Thanks as well @BartoszKlonowski I've assigned this to you.

[2022-03-10 15:10] BillWagner commented on #28602
Hi :wave: @malevxx123

Can you add more details on what the issue is? I can't tell from the description.

[2022-03-10 15:15] #28387 closed

[2022-03-10 15:15] malevxx123 commented on #28602
I'm looking for an example program using that Element

On Thu, Mar 10, 2022, 11:10 PM Bill Wagner ***@***.***> wrote:

[2022-03-10 15:16] BillWagner commented on #28604
ping @jffriend to raise awareness.

Hi @denizhansoydas There's work on a new engine for this capability. I've made sure the team working on that sees this concern.

[2022-03-10 15:17] BillWagner commented on #28606
Thanks for adding this suggestion @egkareem

That is on our roadmap, but it will likely be a while.

[2022-03-10 15:44] vitek-karas opened #28611 "Assembly loading description should clearly state versioning rules"
In .NET 5+ (and .NET Core) each assembly load context allows only one version of any given assembly. When assembly reference is resolved against a given ALC which already has assembly of that name loaded, the requested version is compared to the loaded version. The resolution will succeed only if the loaded version is equal or higher to the requested version.

This doesn't seem to be described in

[2022-03-10 16:35] Evangelink commented on #20796
I think that's perfect for the severity. Maybe we could have a sub-section in case of a version change (fake example, let's say it's Warning in .NET 5 and Info in .NET 6), I'd be in favor of showing both not only latest.

In term of seeing differences by version, I guess that in a perfect world, I'd like to be able to see what/how things changed so that when I am visiting this page for an older ve

[2022-03-10 16:42] #28608 closed

[2022-03-10 16:54] gewarren commented on #20796
Yes if the severity is different in different versions, then we should probably have two rows in the table to differentiate it.

[2022-03-10 17:21] viniciusdesa opened #28616 "Incomplete example"
I'm trying to reproduce the options example but it isn't complete.
Specifically, we miss the entire Program.cs in order to learn how the console app is started.
There isn't code on github explaing the creation of options pattern. Is there some resource on Microsoft Learn or docs?
Regards,

Vinicius

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-03-10 17:54] mavasani commented on #20796
In an ideal world, we would be able to insert the [Analyzer releases file](https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/AnalyzerReleases.Shipped.md) into the docs repo and some tooling will extract and auto-populate the severity. This file should also contain the severity change history, rule removal history, etc. with different .NET releases, so has everything that @

[2022-03-10 19:35] gewarren opened #28620 "Video link isn't displaying properly"
![image](https://user-images.githubusercontent.com/24882762/157741053-f5f45c9b-d30b-4004-b0c9-ebc44de88d96.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20d899fc-9b92-ecb1-398b-6bbb23b1bd72
* Version Independent ID: a15c525d-26c1-54ed-7734-e857f8dde075
* Content: [Orleans overview](https://docs.microsoft.com/en-u

[2022-03-10 19:54] khoiph1 commented on #28388
The page is localized.

[2022-03-10 20:23] gewarren commented on #28293
@dancoupar I'm not sure what's going on on your Windows Server. The referenced article does _not_ suggest looking into the 1033 (or any other locale) subfolder. @TaraOverfield could you help here?

[2022-03-10 21:13] #28620 closed

[2022-03-10 22:09] gewarren commented on #28089
It seems that [error MSB3276](https://github.com/dotnet/msbuild/blob/9c173296404f9c365cc524569766f16d7cfcf308/src/Tasks/Resources/xlf/Strings.xlf#L1361) links to this article, which may not be appropriate in all cases.

I've made some small updates to the article in #28089, for example, to clarify that the option can be disabled in the project file if the checkbox isn't present.

Related to #7650.

[2022-03-10 22:09] #28089 closed

[2022-03-10 22:11] gewarren commented on #20770
Page views are low-ish. Lowering the priority on this.

[2022-03-11 11:01] bitbonk opened #28630 "Article isn't clear on how to handle IAsyncDisposable without IDisposable"
If I read the article right, it is OK to implement _only_ `IAsyncDisposable` without `IDisopsable` (also for non-sealed classes, the article could be clearer in that regard).

But the article does not show a _full_ example on how the async disposable pattern looks like when `IDisposable` is not implemented. The first full example shown (in [Implements the async dispose pattern](https://docs.micros

[2022-03-11 15:01] #28594 closed

[2022-03-11 15:08] #28597 closed

[2022-03-11 16:03] #27310 closed

[2022-03-11 16:05] poke opened #28632 "CA1052 suggests that the static keyword is meant to prevent inheritance"
The current document currently gives the following explanation (emphasis mine):

Is that really the correct reasoning here? A type that is not meant to be inherited should be marked as **sealed** to prevent it from being used as a base type. But static-ness usually refers to whether or not it is useful to instantiate the type.

Maybe something like this instead, which immediately makes more sense

[2022-03-11 17:04] luisquintanilla opened #28635 "Update Azure Resources"
Update Results section with latest model outputs and account for both image classification and object detection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3ea4120-abc4-10d8-826b-5d8e8acd8727
* Version Independent ID: d323c49a-77bd-46c1-4ab3-a95555dfe5a9
* Content: [Model Builder Azure Training Resources - ML.NET]

[2022-03-11 17:52] BartoszKlonowski commented on #28578
I would like to handle this @BillWagner.
Please assign this to me and I will deliver the PR within next week (14.03 - 20.03).

[2022-03-11 18:29] timskipper commented on #27420
At least have a flag that enables us to choose the old way. I liked having Startup. Now I have to fugger about to make it work that way, or use old templates. This isn't useful progress.

[2022-03-11 18:36] BillWagner commented on #28578
Thank you @BartoszKlonowski

I've just assigned this to you.

[2022-03-11 21:56] AnimateDreamer opened #28639 "Still having problem after downloading .NET Framework Repair Tool and .NET Framework 4.8 Runtime"
I still have problem with my Window 11 with is error pop-up. I tried to contact the Window IT team but I waited for a hour and they still haven't get back to me.
This is the log summary:

C:\Windows\windowsupdate.log

C:\Windows\logs\cbs\cbs.log

C:\Users\dream\AppData\Local\Temp\FixDotNet.log

C:\Users\dream\AppData\Local\Temp\NetFxSetupEvents.txt

C:\Users\dream\AppData\Local\Temp\dd_ndp48-web (

[2022-03-11 22:29] stormbreakermerika commented on #27420
I completely agree with everything you said here.

There's so many implications that could be drawn from these top level statements.
1) It's going to make new developers (especially C# developers) _real_ confused about what classes are and why they're so important to OOP when they could just learn them out the box.  None of this "Here it's so easy to write code, you just put in statements!" follow

[2022-03-11 23:14] gendestus commented on #27420
I'm really worried that this issue is still open because they're going to just keep the change and try to ignore the massive backlash. Top level statements and the magic under the hood is very antithetical to the great things C# has been doing. This feels too much like Javascript's hoisting or Python's duck typing...seemingly innocuous but way less control than we had before.

[2022-03-11 23:18] mwwhited commented on #27420
I miss Anders

[2022-03-12 01:22] marcpopMSFT opened #28641 "[Breaking change]: 7.0.100 SDK will require 17.0 and above"
### Description

The 7.0.100 SDK will no longer load in 16.11 or older VS/MSBuild versions. We are likely to increase this minimum version requirement beyond 17.0 later in the release.

### Version

.NET 7 Preview 3

### Previous behavior

7.0.100 would load in 16.10 and 16.11 versions of VS and MSBuild

### New behavior

7.0.100 SDK can only be used with 17.0 and newer VS and MSBuild versions. No

[2022-03-12 01:24] marcpopMSFT opened #28642 "[Breaking change]: 6.0.300 SDK will require 17.0 and above"
### Description

The 6.0.300 SDK will no longer load in 16.11 or older VS/MSBuild versions. This will be true starting with the 6.0.300 April preview which lines up with 17.2-preview3.

### Version

Other (please put exact version in description textbox)

### Previous behavior

6.0.300 would load in 16.10 and 16.11 versions of VS and MSBuild

### New behavior

6.0.3000 SDK can only be used with 17

[2022-03-12 02:05] seangwright commented on #27471
I experience this same issue. `#pragma` directives didn't solve it. However I was able to resolve the errors by authoring the code, then closing VS, and finally starting VS and opening the solution back up. No amount of rebuilding solutions/projects or closing/reopening files solved the issue. I had to restart VS.

I've noticed this same issue with other source generator related code/libraries and

[2022-03-12 03:16] CyrusNajmabadi commented on #27420
Thanks for the report @EvaldasPovilaitis .  The pics were very helpful.  I've opened PRs to address this issue over at roslyn.  Let me know if you run into anything else and i can take care of it asap! :)

Feel free to hold me accountable here.  I missed some of those cases.  But easy fixes on the way.  Thanks for the reports!

[2022-03-12 03:19] CyrusNajmabadi commented on #27420
I don't see how that's any different from pretty much every rule in the language.  Want methods in namespaces?  Surpirse you can't.  Want types inside methods?  Surprise, you can't.  Want to reference 'this' in a field, surprise, you can't.  Want to pass a prop by ref, surprise you can't.  Want to define a parameter list in your method, surprise you can't.  Want to make a generic local?  Want to h

[2022-03-12 03:27] CyrusNajmabadi commented on #27420
I strongly disagree.  Indeed, the original way this was done was much more in line with that sort of thinking.  Why *do* you need a class just for this purpose?  In 99.9% of cases it's not something instantiated.  In 99.9% of cases it does not involve inheritance.  in 99.9% of cases people don't use any members from object through it.  In 99.9% of cases there is no state shared elsewhere, etc. etc

[2022-03-12 03:42] CyrusNajmabadi commented on #27420
Hrmm... i'm not sure how to wrap my head around that.  Neither of these introduce implicit state.  Top-level statements certainly don't.  Indeed, they are not stateful, and you cannot define top level static variables.  Their values last as long as the values would in a normal main method.  If anything they are *less* stateful vs a `Program` class as you cannot store fields that might live longer

[2022-03-12 03:45] CyrusNajmabadi commented on #27420
I genuinely think it makes sense in almost all project contexts.  There are still a few project contexts where it is not sufficient (examples called out above), but i think we should have those hammered out soon and this can be used fundamentally for all app contexts.

I'm seriously considering all of it.  If you take issue with my arguments, then that's totally fine.  But i'm putting forth my hon

[2022-03-12 04:06] chenzhikang commented on #27420
Obviously, this is a redundant operation. This will undoubtedly make us more confused.

[2022-03-12 06:09] bravecobra commented on #27420
You do understand that most people strongly disagree with your opinion, right? Those 99.9 numbers are by no means based on facts, studies or analytics.

Lines of code is not a metric of readable code!  This is all about readability and understanding of the code by the programmer, not the compiler/linker. The problem here is that extra lines are now implied where we want to see them explicit. They

[2022-03-12 06:12] LifeRyuto opened #28643 "What do the public responsibilities and the private implementation mean?"
What does the below description mean? Appreciate any help. Thank you.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-c8a4-69cd-2b1a-9faacd282aab
* Content: [Classes and objects  - C# Fundamentals tutorial](https://docs.microsoft.com/en-us/d

[2022-03-12 06:22] Balkoth commented on #27420
His feelings are hurt by the loud callout here, thus the defense position and overall nothing saying lengthy posts.

Count me out of your 99.9 because i hate your change and i hate the way you try to push it onto me, by triying to make me think it is better for me. I try to avoid persons with this toxic attitude in real life.

[2022-03-12 07:23] CyrusNajmabadi commented on #27420
As per above, the vast majority of cases do not involve inheritance, they don't involve state sharing, etc. etc.

I didn't say it was.  :) Indeed, i was addressing the opposite that people are saying that we focused on lines of code when that wasn't the goal here.

It was just as 'black magic' as before.  How did a private method get called?  Why was 'Main' somehow special.  Why did this string ar

[2022-03-12 07:41] CyrusNajmabadi commented on #27420
@Balkoth I've hidden your post for violations of the [.Net Code of Conduct](https://dotnetfoundation.org/about/code-of-conduct).

Please remember the following:

- Demonstrating empathy and kindness toward other people
- Being respectful of differing opinions, viewpoints, and experiences

We welcome different opinions here, and attacking people instead of constructively engaging with ideas isn't o

[2022-03-12 08:04] bigbobobiz commented on #27420
I genuinely don't understand what problem is actually being solved with top-level statements. To me it only introduces more ambiguities for no benefit in my opinion. Some comments are suggesting that this may make things easier for newcomers, and I'm struggling to understand that. How would you actually answer the question if someone asked

I can't think of an answer that wouldn't just add to the

[2022-03-12 08:13] Balkoth commented on #27420
Please take the following from the same code of conduct into account:

- Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience
- Focusing on what is best not just for us as individuals, but for the overall community

[2022-03-12 10:44] EvaldasPovilaitis commented on #27420
@CyrusNajmabadi, could you please invite someone else from your team to help you as you're really struggling to understand why people are complaining. Also, involving your supervisor or people working on the language design so they be aware of this discussion and feedback being provided besides yourself, thanks.

We write code for humans to read. @CyrusNajmabadi what you perceive as irrelevant you

[2022-03-12 11:56] hubertekvall commented on #27420
I just wanna say that I think top-level statements are phenomenal and the new templates are great.

[2022-03-12 12:10] IanKemp commented on #27420
The irony here is massive considering @CyrusNajmabadi 's replies.

[2022-03-12 12:13] olivier-spinelli commented on #27420
@hubertekvall Trolling?

[2022-03-12 12:24] GalaxyNetworks commented on #27420
@CyrusNajmabadi The main issue is not top-level statements, it's the fact you changed the templates instead of adding new ones. For all I care you could even have named the old ones 'Classic'. The fact is, some companies and even hobbyists have existing solutions that they, for whatever reason, do not want to change. There has been no migration phase during this. We haven't been eased into these c

[2022-03-12 12:30] mwwhited commented on #27420
I love this thread and how one blue badge is fighting tooth and nail for a feature the majority of the community does not want

[2022-03-12 12:36] mwwhited commented on #27420
Your comments about 99.9% mean nothing.  And are made up.  They 100% mean something or even the compiler wouldn't need to generate the equivalent code.  We as the community at large do not want these templates.  Sorry it offends you so passionately but that's the simple truth.  We want to see the code and we want the ability to have the template include these lines without the PIA work around that

[2022-03-12 12:40] mwwhited commented on #27420
The irony is being a blue bande he has the ability to hide your comment and he is creating the toxic environment he claims to be protecting.

[2022-03-12 12:53] IanKemp commented on #27420
It's the literal definition of gatekeeping... I wonder what the Code of Conduct has to say about that?

[2022-03-12 13:12] CyrusNajmabadi commented on #27420
I did accept responsibility above for a mistake I made and I did apologize for it (and fix it). :-)

[2022-03-12 13:23] CyrusNajmabadi commented on #27420
That's true of any new feature.  Prior to introducing it, everyone knows how things worked prior, but then has to learn if there is something new.  We weight that against the value we think gained.  For example, prior to `var` everyone knew how a local variable declaration worked.  Prior to `=>` for properties, everyone knew how properties worked.  Before lambdas everyone knew how methods words. B

[2022-03-12 13:28] CyrusNajmabadi commented on #27420
I mean.. yes :)   That's part of lang design.  `=>` hides a `{ return ...` section.  `using` hides a `try/dispose`.  `foreach` hides a `try/dispose/MoveNext/Current loop`, `yield` and `await` hide massive state machines.  `lambdas` hide closure classes and method.  `C#` itself hides tons of low level IL.  I do agree on this point.  Indeed, i think that's a central part of the approach we take to l

[2022-03-12 13:31] Balkoth commented on #27420
I read through the complete thread and call this out as a lie!

[2022-03-12 13:31] CyrusNajmabadi commented on #27420
It's not though, and i gave examples of that.  How is it consistent that a private method can be called here?  Similarly, if it's async, how does that work?  If the runtime simply called the async method, they'd immediately just get a Task back and move on to executing the next thing (which would be nothing), and the program would exit.  It's literally defined to eb special, with extremely special

[2022-03-12 13:32] CyrusNajmabadi commented on #27420
@Balkoth i said you could hold me responsible for the mistakes i made here: https://github.com/dotnet/docs/issues/27420#issuecomment-1065800898

[2022-03-12 13:33] Balkoth commented on #27420
Do yo know what an apology is? Where did you fix your mistake?

[2022-03-12 13:34] olivier-spinelli commented on #27420
Come on! You are not talking to noob here (or may be you think we all are?).
How many of the community screamed against extension methods? 10% at most, may be.
Have you seen the figures here?
And extension methods, lambda methods, all of these were addition, here it's a deletion.

Keep the new template for "C# script project" if you want but come on, please show respect to both actual code and act

[2022-03-12 13:35] CyrusNajmabadi commented on #27420
Yes, saying that i made a mistake, and i am totally ok with people holding me accountable here is apologizing for that oversight, and doing what i can to rectify it.  If you want the words "i'm sorry", then i'm fine adding that here.  I am sorry for missing those cases, and i'm workign on PRs to address them.

[2022-03-12 13:35] CyrusNajmabadi commented on #27420
Absolutely massive numbers of people.  When introduced i had tons yelling straight at my face on this (same with 'var').  The backlash was enormous.

[2022-03-12 13:38] olivier-spinelli commented on #27420
And the PR wil add an astonishing `[ThisPieceOfCodeUsesSTAThreadContext]` at the top of the file?
What a progress!

[2022-03-12 13:44] CyrusNajmabadi commented on #27420
They're all language additions.  We almost never delete anything from the language.  And people back then didn't accept the "but i can just not use it if i don't want to" position either.  THeir position was that it was reprehensible that this was in the language at all, and that anyone using it was enacting violence on things like their sacred beliefs of what OO was.  :)   It was fun times.  I le

[2022-03-12 13:44] mwwhited commented on #27420
No one is forced into using async/await, anonymous delegates, query syntax, var, or lambda expressions... and many people don't.  At the same time those features did not have over 20 to 1 against requests to restore the base template.  The var and lambda syntax may have made as much noise about having the base console template actually include the words "Hello World"... which is to say not much.

[2022-03-12 13:45] CyrusNajmabadi commented on #27420
They definitely made more noise, as did extension methods :)

[2022-03-12 13:47] CyrusNajmabadi commented on #27420
I'm happy to put a bet on it.  I think it more likely than this will happen, to the majority of the ecosystem at least.  I agree that not 'all' will use this, but that's true of every language feature.  There's really only 1-2 lang features that really tanked (in the sense of no pickup), but this was generally due to a quick alternative that supplanted them with something much nicer.

[2022-03-12 13:49] CyrusNajmabadi commented on #27420
I would have loved it as powershell-like C# scripts where you can call and include other C# script files and interpret the script files instead of compiling them. Like 'dotnet run my-test.csscript'.

Note: this is an area of high interest for us.  We got a lot of experience here with the experimental .csx work.  And i think we're definitely going to continue down this path as well.  I think there'