[2020-04-20 14:52] luisquintanilla commented on #17546
Hi @hoksource

Thank you for your question. ML.NET currently does not support this scenario. What you can do is something like the following sample.

https://github.com/zeahmed/DeepLearningWithMLdotNet/tree/master/NYCTaxiMultiOutputRegression

If you have a TensorFlow / ONNX model that performs this task, you can use that model inside ML.NET. Keep in mind, this sample was created before version 1.

[2020-04-20 14:52] #17546 closed

[2020-04-20 14:55] luisquintanilla commented on #17637
Hi @mehtanilay10

Thank you for your feedback. At the moment, the Docs use the latest stable version of the API 1.4.0. When the next stable version is released, we'll update our docs to reflect these changes.

[2020-04-20 14:55] #17637 closed

[2020-04-20 14:59] tdykstra commented on #17956
try `-p:PublishReadyToRun=true` -- I'll update the documentation.

[2020-04-20 15:07] n-alex-white commented on #17956
Thanks, I tried that and it got past the command line validation but my command

`dotnet publish --runtime win-x86 /p:PublishReadyToRun=true `

Then failed with the following message:

`/usr/local/share/dotnet/sdk/3.1.201/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Publish.targets(272,5): error NETSDK1095: Optimizing assemblies for performance is not supported for the selected target platform or

[2020-04-20 15:09] BillWagner commented on #10726
Thanks for checking @pkulikov Yes, I typed the wrong word. I think deconstruction will become even more interesting when records are available, and a single article devoted to that topic makes even more sense.

[2020-04-20 15:14] tdykstra commented on #17955
Is there something in particular that is inaccurate in the documentation?

[2020-04-20 15:17] #17953 closed

[2020-04-20 15:21] tdykstra commented on #17953
@DrDelete Thanks for reporting that!

[2020-04-20 15:26] tdykstra commented on #17952
@wli3 who can help with this?

[2020-04-20 15:33] pkulikov commented on #17935
If I search the docs, the "you can also" version is more popular than the "you also can" version. Furthermore, about the half of all "you also can" have been introduced by me. Also, I remember that @mairaw once corrected my "you also can" into "you can also". After that, I think I've corrected my wording in the new articles, but not in the existing ones.

[2020-04-20 15:34] BillWagner commented on #17935
@pkulikov I'm almost certain you're correct. I just want to verify before merging.

[2020-04-20 17:14] mstefarov commented on #17946
Another doc page mentions that _standalone discard_ also observes/suppresses task exceptions, is that correct? https://github.com/dotnet/docs/blob/b5ad8e857b35819d5b6a071bed1e4cc4da56495e/docs/csharp/discards.md#a-standalone-discard

[2020-04-20 17:15] stephentoub commented on #17946
If it means:
[code]
then, no, the doc is wrong.  If it means:
[code]
then, yes, that's fine, but it has nothing to do with the discard, but rather the access to `Exception`.

[2020-04-20 17:34] coosmiin commented on #13821
@BillWagner, apparently the samples repository moved since the links provided here are broken. Can you provide the new location?

[2020-04-20 17:49] #17955 closed

[2020-04-20 18:05] justinormont commented on #17721
Generally if you're getting 100% accuracy, you're either leaking, have too small of dataset to usefully measure the metrics, or the task is trivial.

In this case the [dataset](https://github.com/luisquintanilla/machinelearning-samples/raw/AB1608219/samples/modelbuilder/MulticlassClassification_RestaurantViolations/RestaurantScores.zip) itself is leaking information or is trivial, depending on how

[2020-04-20 18:08] luisquintanilla commented on #17721
Thanks for that explanation @justinormont

@martin-plessy I hope this answers your question

[2020-04-20 18:08] #17721 closed

[2020-04-20 18:17] justinormont opened #17962 "Change restaurant dataset used in ML.NET/ModelBuilder tutorial"
**Issue description**

@luisquintanilla : We should replace the dataset used in [Tutorial: Classify the severity of restaurant health violations with Model Builder](https://github.com/dotnet/docs/blob/3803b263eae3f7575290a1da1142c34d1d4b5b7e/docs/machine-learning/tutorials/health-violation-classification-model-builder.md)

See discussion: https://github.com/dotnet/docs/issues/17721

[Edit by gewar

[2020-04-20 18:44] gewarren commented on #17934
@efesar Thanks for bringing this up. Unfortunately it looks like the old issues haven't been transferred to the runtime repo yet, so until they do, I think we need to keep this link as-is.

[2020-04-20 18:54] #17956 closed

[2020-04-20 19:00] logiclrd opened #17964 "Typo: extraneous close parenthesis"
After the "Analyze the core dump" header, the link to the `dotnet-dump` tool is followed by an extraneous close parenthesis:

&gt; Now that you have a core dump generated, use the dotnet-dump) tool to analyze the dump:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2913d994-4c72-cc6e-0bd4-ba122ae21753
* Version Indepen

[2020-04-20 19:14] gewarren commented on #17942
@OneBlueBird Thanks for logging an issue. Are you referring to this page? https://docs.microsoft.com/en-us/dotnet/architecture/microservices/docker-application-development-process/docker-app-development-workflow

[2020-04-20 20:04] BillWagner commented on #17935
@matthew45052 @pkulikov

Everyone agrees, and any reason for using "you also can" has been lost to history.

Let's make this change.  @pkulikov There's one merge conflict in your PR that I just resolved. I'll approve it and :shipit: now.

[2020-04-20 20:18] #17935 closed

[2020-04-20 20:24] nkolev92 opened #17967 "The template instructions can use a csproj"
Moving from https://github.com/NuGet/Home/issues/7389
by @PureKorne

Hi 👋

I'm trying to see if it's possible to package a nuget from a `.csproj` where the package type is a `Template`.

---

NuGet product used: `VS UI` | `dotnet.exe`
dotnet.exe --version: `2.1.403`
VS version: `15.8.7`
OS version (i.e. win10 v1803 (17134.345)):

So I'm trying to [create a new custom template using the `dotnet new

[2020-04-20 20:33] #13870 closed

[2020-04-20 20:49] gewarren commented on #17910
Sure, I can add that info to the glossary. I think that "x" is commonly used to shorten a word. For example, doctors write "Tx" as shorthand for treatment.

Here's another example of Fx being used to mean "framework": https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview

@mairaw Can you officially state if the "Fx" in CoreFx means "framework"?

[2020-04-20 20:55] mairaw commented on #17910
I think so. @karelz @danmosemsft can you confirm?

[2020-04-20 21:20] Thraka commented on #17909
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-04-20 21:24] gewarren commented on #17951
@gkeongit The wording is confusing, I agree. I think what it's trying to say is that by adding the `NetStandardImplicitPackageVersion` element, it allows you to specify different versions for the target framework and referenced metapackage. And the target framework can be lower than the metapackage version. Perhaps it should be reworded to:

`By adding the <NetStandardImplicitPackageVersion> eleme

[2020-04-20 21:42] tdykstra commented on #9490
@BillWagner Your PR #16349 has a `Fixes #9490` comment but this issue didn't get closed automatically.  Should it be closed?

[2020-04-20 21:47] BillWagner commented on #9490
@tdykstra Yes, this should be closed. I'll close now.

[2020-04-20 21:47] #9490 closed

[2020-04-20 21:51] karelz commented on #17910
Yes, FX stands for Framework.

[2020-04-20 21:59] danmosemsft commented on #17910
Yes, but we don't use the CoreFX term any more. We use "core .NET Libraries". It's OK to have it in a glossary as it comes up from time to time.

[2020-04-20 22:02] gewarren commented on #17910
@danmosemsft Should we update the title and TOC name for this page then?

https://docs.microsoft.com/en-us/dotnet/core/compatibility/corefx

[2020-04-20 22:27] Thraka commented on #17943
Doing some searching I found this issue which indicates this isn't a supported scenario: https://github.com/dotnet/sdk/issues/1408

However, it's noted in the issue that https://github.com/novotnyllc/MSBuildSdkExtras should get you over some hurdles.

I see you targeted .NET Standard 2.0 and some other frameworks, it was noted in the article that you shouldn't target standard along with the other

[2020-04-20 22:27] #17943 closed

[2020-04-20 22:41] gafter opened #17970 "using static is not a keyword. It is two keywords."
The list at https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/ is not correct because it lists `using static` as a keyword.

`using static` is not a keyword.  It is two keywords.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version Independent ID: 4b9434

[2020-04-20 23:02] danmosemsft commented on #17910
@gewarren good point, yes please (I hadn't seen this doc before). I suggest "Core .NET Libraries"

[2020-04-20 23:21] danieldiazastudillo commented on #15664
There are lots of gray areas as docs concerned. Build targets, variable-like XML properties, pre-post build and or publishing... I just need to run a simple webpack task before publishing but there are lots of approaches over the web. Maybe a _kitchensink_ csproj would be great.

[2020-04-21 00:29] #17952 closed

[2020-04-21 00:29] wli3 commented on #17952
Issue moved to [dotnet/sdk #11356](https://github.com/dotnet/sdk/issues/11356) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-21 04:04] hoksource commented on #17546
Thank you for the response. Looking forward for this feature within the year or 2.

[2020-04-21 07:24] crozone opened #17975 "Add example for 3.1 latestFeature, since this is very common for projects on 3.1 LTS"
For projects that wish to target the 3.1 LTS SDK, a common global.json configuration might be:

[code]

This is likely to be more common than the `latestPatch` scenario, and should perhaps replace that example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID:

[2020-04-21 09:53] gkeongit commented on #17951
Yes, that would be clear, I think.

[2020-04-21 11:52] OneBlueBird commented on #17942
Nope. I will share it..give me some time

On Tue, Apr 21, 2020 at 12:45 AM Genevieve Warren <notifications@github.com>
wrote:

[2020-04-21 13:34] #17964 closed

[2020-04-21 13:37] tomcurran commented on #13963
@mairaw Is there a workaround to use filter with parameterized test cases?

[2020-04-21 13:44] mrlife opened #17980 "List of value types"
Since `DateTime` is in `System`, I thought it would have been listed on this page in the Value Types listing: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/types#value-types. Would it make sense to include it on this page? If not, is there a list of all value types somewhere in the docs?

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-04-21 14:10] graphik55 commented on #9238
Maybe as a notice:

It looks like that "autoDetect" is "true" by default.
I think this should be changed to "false" to prevent WPAD attacks.

I had the situation that a program used my WPAD without any proxy settings.

[2020-04-21 14:22] IEvangelist commented on #17980
Hi @mrlife,
Thank you for sharing your thoughts on this document. In looking at the section in question, while I understand where you are coming from because `System.DateTime` is a `struct` - I do not believe it is appropriate to add to this doc. The value types in this doc are "simple types which are identified through reserved words". There is no reserved word for "datetime".

The same would be

[2020-04-21 14:22] #17980 closed

[2020-04-21 14:47] birbilis commented on #16847
is this the direct link?
https://raw.githubusercontent.com/dotnet-architecture/eShopOnWeb/master/docs/Architecting%20Modern%20Web%20Applications%20with%20ASP.NET%20Core%20and%20Azure.pdf

[2020-04-21 14:57] FrankHileman commented on #9111
I would like to see an example using a struct as well.

[2020-04-21 14:58] FrankHileman opened #17981 "Struct example"
I would like to see an example using a struct as well as a class. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d67349b-72bc-b7cf-f754-fa62d1fb592d
* Version Independent ID: 4f413bcc-90e7-d971-fe75-b4876124e75d
* Content: [ref keyword - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-ref

[2020-04-21 14:59] mrlife commented on #17980
Hi @IEvangelist, thank you for the thoughtful response. Is there a page that lists all value types (simple and other) or a way to see them all? For example, value types can be nullable, so it would be good to have a reference for that.

[2020-04-21 15:12] #17946 closed

[2020-04-21 15:14] #17922 closed

[2020-04-21 15:18] IEvangelist commented on #17980
Hi @mrlife,
Are you asking for a listing of all value types under the `System` namespace? I'm not aware of any complete listing, that would be a massive list and as packages add additional objects to the namespace - I'm not sure how that would be managed. The .NET API browser might be beneficial: https://docs.microsoft.com/en-us/dotnet/api/system?view=netframework-4.8

[2020-04-21 15:50] springy76 opened #17983 "null-forgiving operator *can have* effect at run time"
Quote from the current doc:

The document currently focuses primarily on the usage of suppressing warnings of code flow analysis.

But when combining the null-forgiving operator with a leading null-conditional member-access operator the compiler will indeed emit different code and this will have effect at run time -- which comes unexpected.

Example:
[code]

This happens because in `T2()` the code

[2020-04-21 15:57] mrlife commented on #17980
@IEvangelist In Entity Framework Core, value types are required by default, whereas other types are optional by default. Looking for a reference for that purpose is what led me to creating this issue. The best way to learn the value types may be to look up a given data type, as needed, to see if it's a value type. Thanks for your help!

[2020-04-21 17:04] springy76 opened #17988 "null-forgiving operator *can have* effect at run time"
Quote from the current doc:

The document currently focuses primarily on the usage of suppressing warnings of code flow analysis.

But when combining the null-forgiving operator with a leading null-conditional member-access operator the compiler will indeed emit different code and this will have effect at run time -- which comes unexpected.

Example:
[code]

This happens because in `T2()` the code

[2020-04-21 17:35] tiesmaster commented on #16847
@birbilis I'd rather link to the link I provided in the issue description: https://github.com/dotnet-architecture/eShopOnWeb/tree/master/docs. Since that contains also other format (like epub, and mobi), besides the PDF you've linked.

@mdonatas I known where to find the e-book, I eventually found it. The nature of my issue is the discoverability of it. @mairaw suggested to do the same as the othe

[2020-04-21 17:53] #17975 closed

[2020-04-21 18:00] IEvangelist commented on #17970
Hi @gafter,
Thanks for posting this issue, I've created a pull request to [update the docs accordingly](https://github.com/dotnet/docs/pull/17982) and will let you know once they're updated.

[2020-04-21 18:11] birbilis commented on #16847
actually I commented since I couldn't find any action links like in that other book either:
1) could find an MS employee as it says to make the aka.ms link for you (if action links can only contain such, do they require so?)
2) could try reverse searching somehow to see if somebody has already created an aka.ms link for that url. Wonder if such a service is available by MS (a reverse search, aka (

[2020-04-21 18:14] birbilis commented on #16847
...so I searched in Google for
"with ASP.NET Core and Azure" site:aka.ms
and found https://aka.ms/webappebook
will that do?

[2020-04-21 18:50] tiesmaster commented on #16847
Ah, nice 😂 Good thinking :)

I suppose so. Thinking about it, the other one also only links to the PDF, and then the other line links to the repo where you can find all the ebooks. The other one also links to a Channel9 video, by changing `ebook` on the link to `-video`, so I also tried that, but that one didn't work unfortunately 😅

Making a PR now ;)

[2020-04-21 18:50] pkulikov commented on #17988
@springy76 thanks!

I've simplified your example a bit:

[code]

The above program produces the following output:

[That program in sharplab](https://sharplab.io/#v2:D4AQTAjAsAUCAMACEEAsBuWDkQHQBkBLAOwEdMYBiYgVwBs6BDAIzoFNE3iX3YswcAdlgBvWIgmIADgCdCAN0YAXDigBsyVIgCyjEgAoAlOMliYki4iUyAnicuIzDhwBUI+2g0MVniAL72lgDGykEAFoj6AKIAHkFsUkqEAPbExubOTr6SKACc+gBEblZhMskA7gDOBd6BFgEZDtZ2jZZZ2YguYB70dLWt9XWSIUrh

[2020-04-21 18:57] IEvangelist commented on #17988
Let's ask @jcouv for some thoughts on this, thank you @pkulikov and @springy76.

[2020-04-21 19:06] pkulikov commented on #17988
@springy76 by the way, if `T2` is as follows:

[code]

it throws as well. As expected. Also, it's not equivalent to `T1`.

So, it looks that `numbers?.ToArraty()!.ToArray()` is interpreted as `(numbers?.ToArray()!).ToArray()`

[2020-04-21 19:10] IEvangelist commented on #17988
Yeah, I see it as:

[code]

It is a really odd use case, it's literally like expressing that something could be `null`, and then something else chained off of that could be `null` and then saying that the last thing is definitely not `null`.

[2020-04-21 19:27] BillWagner commented on #17988
I can't resist a good puzzle.  I *think* the behavior is correct, and is covered in [operator precedence](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#operator-precedence-and-associativity) and in the nullable reference type spec on the [null forgiving operator(https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp

[2020-04-21 19:29] tlynch001 commented on #13821
@BillWagner Link is broken...please provide new location for code

[2020-04-21 19:36] pkulikov commented on #17988
Precedence. Does that mean that `numbers?.ToArray()!.ToArray()` is interpreted as `(numbers?.ToArray()!).ToArray()` because of precedence?

[2020-04-21 19:44] BillWagner commented on #17988
Sort of. It's both precedence and associativity. The `!` operator is a post-fix unary operator. Its operand is whatever is left of it. Because `ToArray()` needs a receiver, its operand becomes `(numbers?.ToArray())`. Because `!` has higher precedence than `.` (primary vs. unary), the expression `numbers?.ToArray()!` is considered non-null and then becomes the receiver to the final `ToArray`.

It t

[2020-04-21 19:50] tmds commented on #17757
@KathleenDollard are there some plans to add an option to install a _global tool_ so it is usable for all users of a system? Is there an issue that tracks such a feature?

[2020-04-21 19:53] pkulikov commented on #17988
ok, then we need to write such code (it compiles!) :)

[code]

[2020-04-21 19:58] jcouv commented on #17988
Thanks @BillWagner for the analysis (which I think is correct).

@gafter, Would this warrant changing the precedence of post-fix `!` (suppression)?
The precedence of `!` causes `x?.ToArray()!.ToArray()` to parse with an implicit grouping `(x?.ToArray()!).ToArray()`, which affects semantics...

[2020-04-21 20:02] agocke commented on #17988
I don't see what other precedence it could be...

[2020-04-21 20:43] sywhang opened #17995 "Document GCHeapStats_V2 Runtime Event"
The GC now has a "Pinned Object Heap" which will be reported as part of the GCHeapStats_V2 event. The current section on https://docs.microsoft.com/en-us/dotnet/framework/performance/garbage-collection-etw-events#gcheapstats_v1-event only documents the V1 Event and doesn't include the V2 event payload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-21 22:02] v-kydela opened #17996 "Some read-only properties can be assigned to"
The wording here is confusing because it doesn't specify that the reason it can't be assigned to is that it's not an auto-property. If you're using a getter-only auto-property then you can assign to it in a constructor even though it's also "read only."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a48ba32c-fe4e-343a-

[2020-04-21 22:43] MadsTorgersen commented on #17948
@BillWagner correct. For a while during feature design we thought we were going to enable `object` as a constraint, but instead decided a new `notnull` constraint better described the intuition behind what was intended:

[code]

HTH,

Mads

[2020-04-22 02:56] MaddHatters opened #17999 "Comment"
In the Specifying assembly binding in configuration files section, the configuration for myThirdAssembly states that the Publisher policy can be set only in the app configuration file. Can it also be set in the machine configuration file?

See snippet below: [edited by gewarren to add code fencing for readability]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-22 03:28] CwjXFH commented on #9111
@FrankHileman

Maybe this example will help you, in the picture below, **refValue** passed by ref,  has the same address and value with **num**; argument **value** passed by value, it just has the same value with **num**, the address is different.

![](https://user-images.githubusercontent.com/11468733/79937005-618a5e00-848b-11ea-88bf-7550e744e467.png)

And recommended that you read the following

[2020-04-22 05:16] pkulikov commented on #17983
Duplicate of #17988

[2020-04-22 05:50] pkulikov commented on #17988
@BillWagner thank you for the analysis; it helped. However, it's hard to think in terms of precedence because the [spec on that](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#operator-precedence-and-associativity) _doesn't_ mention null-conditional operators. And it's possible to think that the precedence of `?.` is the same as precedence of `

[2020-04-22 06:10] dozer75 commented on #8407
@rpetrusha

What's the progress on this (or does any source for advice exist)? It's been over a year, but no information.

I am struggling seeing when (and why) to target .NET Core/.NET Standard other than the dependent packages does so it would be really nice if this information was added to the article.

Looking at Microsoft packages they're doing it different, so it's not clear by looking at th

[2020-04-22 06:48] OneBlueBird commented on #17942
Hi,

Good Day. I was referring page from below link:

https://docs.microsoft.com/en-us/dotnet/core/docker/build-container#feedback

Please try to improvise as it needs to help a developer like us to learn
and appreciate it.

Thank you
Saravanakumar

On Tue, Apr 21, 2020 at 12:45 AM Genevieve Warren <notifications@github.com>
wrote:

[2020-04-22 08:05] jeremy-waguet commented on #17621
And what about ClickOnce not available with .NET Core

[2020-04-22 08:44] springy76 commented on #17983
sorry, GitHub only showed unicorns and 500 yesterday when trying to post this

[2020-04-22 08:44] #17983 closed

[2020-04-22 09:25] springy76 commented on #17988
Let me go into detail how I (we) spotted this problem yesterday, because it's exactly the other way round than the example I gave in the original post:

It began with a collegue who I claimed that inserting a "!" somewhere fixed a NRE. I protested and bet a staple of crates of beer that the null-forgiving operator won't fix any code but only give the code analyzer a hint: "I know it better, just b

[2020-04-22 11:52] #13419 closed

[2020-04-22 12:50] jbnx42 opened #18005 "String concatenation tolerates null strings"
It might be worth a quick mention that the string concatenation operator will tolerate a null string for either operand and will treat it as an empty string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31f06e-936e-d0c7-9dc0-9d10fd8a0dd9
* Version Independent ID: 43899711-a922-8180-25e6-d52af245846d
* Content: [+ a

[2020-04-22 13:10] IEvangelist commented on #17996
Hi @v-kydela,
Thank you for raising this concern and posting an issue. I'll take a look at clarifying this a bit more.

[2020-04-22 13:15] pkulikov commented on #18005
@BillWagner could you please assign this to me

[2020-04-22 13:59] BillWagner commented on #17948
Thanks for clarifying that Mads.

We'll update the specification as part of the standards update process.  In the meantime, the language reference on [generic constraints](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/where-generic-type-constraint) does reflect the implemented behavior.

[2020-04-22 14:16] tkhalifeh opened #18008 ""Project file does not exist" when running "dotnet run""
"dotnet run --project sample1" should be "dotnet run --project sample1.csproj"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c922021-b12a-83e4-3ee6-eceecd6076d2
* Version Independent ID: fdb655a4-cff4-6c67-7244-673760379663
* Content: [Get started with .NET Core](https://docs.microsoft.com/en-us/dotnet/core/get-start

[2020-04-22 15:05] IEvangelist commented on #17981
Hi @FrankHileman,
Thank you for raising this concern and posting an issue. I do see that ref returns show the syntax for how to signify a return value is a ref - and it is showing a `Decimal` which is a `struct`. I assume

[2020-04-22 15:07] #17970 closed

[2020-04-22 15:16] #17996 closed

[2020-04-22 15:21] #17981 closed

[2020-04-22 15:25] adamstyl opened #18010 "Is it possible to disable default interface methods with a compiler flag?"
I have seen some awful (Java) code abusing default interface methods. It's sad to see this making it to C# 8 but now it's done. Is there any way to tell the compiler to not support default methods? Produce an error instead or anything similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3753657-9f0f-4e68-abde-5f461

[2020-04-22 16:09] #15591 closed

[2020-04-22 16:47] wadepickett opened #18011 "Remove 2nd Layer - L2 - Navigation"
With the addition of the new top navigation, the existing 2nd layer just below that needs to be removed since it duplicates and some cases provides different links for the same items.

While removing the L2, we want to also make sure Download .NET, Community and .NET Learn continue to be easily found.

- Add Download .NET highlight card to top left of .NET hub.
- Add a "Community" link to the open

[2020-04-22 17:04] wadepickett opened #18012 "Follow up - Remove 2nd Layer - L2 - Navigation part 2"
After the L2 navigation is removed, these are items to address that were not a blocker to removing the L2 but we should consider for follow up.

- Analyze  Get Started button click traffic to see if we can improve getting developers directly to where they really might want go. For example there are a lot of referrals to that link from the Framework install pages. Do they just want to start their d

[2020-04-22 17:06] #17910 closed

[2020-04-22 17:12] #14491 closed

[2020-04-22 17:49] IEvangelist commented on #15649
Hi @breyed,
Such a small world we live in, I see that you're a fellow Wisconsinite 🤘... I'm going to work on this issue by adding some clarifying statements about limitations, as you suggested. Thank you for your patience.

[2020-04-22 18:07] tdykstra commented on #15519
See #7568 issue raised on this doc, but applies to several CLI commands.  Need to add one or more examples illustrating setting MSBuild properties with -p:PropertyName=Value.

[2020-04-22 18:15] tdykstra commented on #15524
This article has several [outstanding issues](https://github.com/dotnet/docs/issues?utf8=%E2%9C%93&q=is:issue+is:open+61ca4064-7481-a263-60fc-c70127f2ad16+in:body). Some of them have enough information in the issue to update the doc -- the ones that need more info are:

* https://github.com/dotnet/docs/issues/13963 - filter not working with parameterized test cases
* https://github.com/dotnet/docs

[2020-04-22 18:18] tdykstra commented on #15520
This article has two outstanding issues that are awaiting answers to questions:

* https://github.com/dotnet/docs/issues/12713 - can you get which feed a package was restored from
* https://github.com/dotnet/docs/issues/15942 - did -r get changed from passing in RuntimeIdentifiers to RuntimeIdentifier?

[2020-04-22 18:21] mluna1001 commented on #16692
Hi bro! I had the same error. You need update the certificates in OpenSUSE to solve this. Please, run the next comand for update

`$ sudo update-ca-certificates`

Next, run the rpm --import and later you can install net core

[2020-04-22 18:26] tdykstra opened #18016 "Review `dotnet-install scripts` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2020-04-22 18:27] tdykstra commented on #18016
This article has several [outstanding issues](https://github.com/dotnet/docs/issues?utf8=%E2%9C%93&q=is:issue+is:open+a2e484a9-5e0c-eb3e-1413-7b507c4fa07d+in:body).

[2020-04-22 18:32] tdykstra commented on #15518
#13281 on this article is awaiting an answer.

[2020-04-22 18:58] v-kydela commented on #17996
I'm happy this was addressed so quickly but it looks like the error message itself wasn't changed at all

[2020-04-22 19:42] ericsampson commented on #6773
@IEvangelist this page is massively out of date and wrong.

[2020-04-22 19:48] pkulikov commented on #17996
Do you mean the very first sentence in the article? Then it's not the docs that can change that message. That message is the compiler error message. If you think that message should be changed, submit the issue in the Roslyn (C# compiler) repo: https://github.com/dotnet/roslyn

[2020-04-22 19:53] dagood opened #18019 "Add linux package manager install instructions for CentOS 8"
.NET Core [is available on CentOS 8 AppStream](https://pkgs.org/download/dotnet-sdk-3.1). It seems like we should have a page for that, like we do [for RHEL 8](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-rhel8).

@leecow @rbhanda @dleeapho

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b

[2020-04-22 20:53] #14302 closed

[2020-04-22 22:14] bitbonk commented on #14491
@IEvangelist  Can you clarify why this was closed? Where can I see the updated docs for this?

[2020-04-22 22:17] #17918 closed

[2020-04-22 22:22] #17649 closed

[2020-04-22 22:32] BillWagner commented on #14491
@bitbonk The PR was merged today. It will be published overnight, on our regular publishing cycle.

If you can't wait, the source is [here](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/nullable-reference-types.md#null-guard-guidance) on GitHub.

[2020-04-23 00:27] gewarren commented on #17775
Should the category actually be Cryptography?

[2020-04-23 00:37] sdanyliv opened #18023 "Bad practices in example"
The following function calls may enumerate sequence more than twice.
if (source.Count() == 0) ...
sortedList.Count()
sortedList.ElementAt(itemIndex) ...

I think it is not good to expose for beginners such ineffective realization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9dc3a1f-945b-18b4-d962-467f7ca49d95
* Ver

[2020-04-23 01:27] omariom commented on #11595
@tdykstra

This line:
[code]

[2020-04-23 06:38] RussKie opened #18029 "[WinForms] API validate input parameters and throw AOORE"
## Selected API validate input parameters and throw `ArgumentOutOfRangeException`.

Selected API now validate input parameters and throw `ArgumentOutOfRangeException` where previous behaviour could lead to faulty state.
Throwing `ArgumentOutOfRangeException` is inline with the behaviours in .NET Runtime, and provides developers with a better debug experience clearly communicating which argument ca

[2020-04-23 12:17] nishanil commented on #17529
Since the book focuses on `dotnet` specifically, I am asking @robvet to modify the text this way: https://gist.github.com/nishanil/27687b0a6255d46c87c66c528c0e0f23
The linked tutorial walks through other languages. Hope that helps.

[2020-04-23 12:18] AntonLapounov commented on #17988
It has no effect at run time; however, it may affect how the expression is parsed at compile time:
[code]

[2020-04-23 12:40] flacidsnake commented on #5216
Are all the binding possibilities available?
I'm getting System.PlatformNotSupportedException: 'TransportSecurityBindingElement.BuildChannelFactoryCore is not supported.' when trying to use SecurityBindingElement.CreateUserNameOverTransportBindingElement()
https://github.com/dotnet/wcf/issues/1257

[2020-04-23 12:44] springy76 commented on #17988
Yes, if you decompile it (using ILSpy for example) you'll see that the compiler emitted different code (by adding parenthesis or maybe an intermediary variable): `string s2 = ( a?.First() ).ToString();`

I just did not expect the compiler to behave different in any way because I only expected reducing of false-positive-warnings.

[2020-04-23 12:49] IEvangelist commented on #14491
Sorry, @bitbonk -- I should have commented with an explanation. I'll be sure to make that a part of my standard workflow from now on. Thanks for keeping me honest 👍

[2020-04-23 13:43] BillWagner commented on #18010
/cc @jcouv

Is there a feature flag for DIM?

[2020-04-23 13:46] #18005 closed

[2020-04-23 13:53] #17907 closed

[2020-04-23 13:56] #14701 closed

[2020-04-23 13:57] #15649 closed

[2020-04-23 14:07] IEvangelist commented on #14701
Hi @mrlife,
This should be published later today, thanks for bringing it to our attention. I tested this out on my MacBook Pro and verified the updates that I made. Also, I added a but if clarification to the text.

[2020-04-23 14:09] bartonjs commented on #17775
If that's a category now, sure.  It doesn't seem to be in the template.

[2020-04-23 14:25] kuskmen opened #18033 "Examples of record with members"
It would be nice if we see an example of record with members and not only labels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bc735-dea5-eaf1-8adf-6fa03a43a88e
* Version Independent ID: 76d64ebf-a460-3e86-898f-c31c6c70e354
* Content: [Records - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference

[2020-04-23 14:27] BillWagner commented on #18023
Thanks for pointing this out @sdanyliv

I'll add it to the next sprint. A similar sample is in the [VB guide](https://docs.microsoft.com/dotnet/visual-basic/programming-guide/concepts/linq/how-to-add-custom-methods-for-linq-queries) and should also be updated at the same time.

[2020-04-23 15:28] gewarren commented on #17775
Ah, thanks. I'll add it to the template.

https://github.com/dotnet/docs/pull/18034

[2020-04-23 15:46] tdykstra commented on #11595
cc @GrabYourPitchforks @adamsitnik @bartonjs

[2020-04-23 15:58] omajid commented on #18019
Just an FYI that "CentOS 8 Appstream" is normal CentOS 8. CentOS 8 (and RHEL 8) provide packages in a number of different repsitories (mostly because of RHEL 8's different support policies for different repositories). The to main repositories, "BaseOS" and "AppStream", are both enabled by default on RHEL 8 and CentOS 8 systems.

If there's any chance of user-confusion, we could just call it "CentO

[2020-04-23 16:06] #17893 closed

[2020-04-23 16:07] #17775 closed

[2020-04-23 16:22] tdykstra opened #18035 "Add initial example of WeatherForecast class"
The first snippets in the article refer to a WeatherForecast class without showing an example of it. Although examples of the class appear later, several comments have been received noting that code is shown using the class without showing the class itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-1

[2020-04-23 16:54] #16182 closed

[2020-04-23 16:56] pkulikov commented on #17988
@BillWagner @IEvangelist @springy76 what about adding the following note to the article about the null-forgiving operator:

[2020-04-23 17:31] omajid opened #18038 "A new page for installing .NET Core on Fedora 32"
There's an existing page for Fedora 31 here: https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-fedora31

That page, unfortunately, doesn't work well for Fedora 32, [because .NET Core 3.1 is in Fedora 32 repositories too](https://docs.fedoraproject.org/en-US/fedora/f32/release-notes/developers/Development_Dotnet/). Adding the Microsoft repository and then installing `dotnet

[2020-04-23 17:49] #18035 closed

[2020-04-23 17:59] Thraka commented on #17942
Hello. I think adding `WORKDIR` is good for the entry point but I don't think copying all of the app into  the container is good.

[2020-04-23 19:12] IEvangelist commented on #17988
I think that note would be appropriate, I'm curious what @BillWagner would think? I'd probably reword it a little (let me know what you think):

[2020-04-23 19:28] OneBlueBird commented on #17942
Hi,

The instructions were not at all clear for a nee developer to take it and
run AS-IS. I didn't find it useful to take the instructions given in the
page as its useless!

On Thu, Apr 23, 2020 at 11:29 PM Andy De George <notifications@github.com>
wrote:

[2020-04-23 19:29] pkulikov commented on #17988
@IEvangelist I would omit the words "the operator precedence": the parentheses in the first sentence are enough. Also to me, "operator precedence" here is more confusing than explaining (however, I don't know how it is to the remaining audience).

By the way, "runtime" is the noun that is in "Common Language Runtime", while "at run time/at compile time".

[2020-04-23 19:34] GrabYourPitchforks commented on #11595
I think that line is supposed to read:

[code]

[2020-04-23 19:47] Dutchglory commented on #16692
"libicu"  not available on  opensuse repositories and/or this one ...

[2020-04-23 19:50] dagood commented on #16692
@Dutchglory see https://github.com/dotnet/runtime/issues/33672 for the status on that. It's specifically an issue in openSUSE 15.2+. We're asking openSUSE to add `libicu` back to the repo, but we might end up needing to switch things up on our side. (Details in that issue.) Not related to this thread, though.

[2020-04-23 19:58] Thraka commented on #17942
I'm sorry this article isn't helping you. I took some time to look into the feedback posted through the website and I only came up with 5 from the last 90 days and they were all positive saying how this helped them as a new user.

With your suggestion, I'm not sure what it is adding except compiling within the container itself. I'm not sure what more that adds to the article except moving one step

[2020-04-23 20:16] matthew45052 opened #18042 "The use of data type "string?" in the examples seems very unnecessary"
Correct me if I'm wrong, but I thought an ordinary "string" was already a reference type, which means it can already be assigned a value of null.  Therefore, the idea of a nullable "string?" in the examples is redundant, unnecessary, and confusing.

It only makes sense for value types like "int" or "bool" to be nullable as "int?" or "bool?", since the ordinary versions of those data types cannot b

[2020-04-23 20:22] #11595 closed

[2020-04-23 20:42] #17208 closed

[2020-04-23 20:50] jvandertil commented on #18042
Looks like they are using C# 8 nullable reference types in the example documentation, for details you can check: https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/nullable-reference-types

[2020-04-23 21:43] #17335 closed

[2020-04-23 21:57] AntonLapounov commented on #17988
Have we clarified with the compiler team that it is indeed the intended behavior here? if not, I would create a Roslyn issue asking for clarification.

[2020-04-23 22:02] Thraka opened #18047 "[winforms-dotnet5] Move content - Getting started"
Related to #10648

- Windows Forms for .NET
  - Get started
    - [x] Overview
    - [x] Create an app
  - Migration
  - Forms
  - Controls
  - Custom controls
  - User input - Keyboard
  - User input - Mouse
  - Dialog boxes and popups
  - Accessibility
  - Data and data binding
  - Publishing
  - Advanced

[2020-04-23 22:05] Thraka opened #18048 "[winforms-dotnet5] Move content - Migration"
Related to #10648

- Windows Forms for .NET
  - Get started
  - Migration
    - [ ] Differences from .NET Framework
    - [ ] Migrate to .NET 5
  - Forms
  - Controls
  - Custom controls
  - User input - Keyboard
  - User input - Mouse
  - Dialog boxes and popups
  - Accessibility
  - Data and data binding
  - Publishing
  - Advanced

[2020-04-23 22:43] RussKie commented on #17085
Will I need new issues for the same thing going forward?

[2020-04-23 22:52] gewarren commented on #17085
No, I'll reopen this one.

[2020-04-23 23:17] gewarren commented on #17838
@tannergooding Which preview is this going out in?

[2020-04-23 23:45] jcouv commented on #18010
No, the only ways to prohibit DIM are to stay in C# 7, or to implement an syntax analyzer.

[2020-04-23 23:52] gewarren commented on #17999
@maryamariyan Can the [publisherPolicy element](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/publisherpolicy-element) be specified in a machine.config file or just an app.config file?

[2020-04-24 00:06] tannergooding commented on #17838
It is in for preview 4

[2020-04-24 04:01] thx1766 commented on #17638
https://github.com/dotnet/core/issues/4360

phillip-haydon commented 19 minutes ago
I used the 18.04 source on 20.04 with the help from this tweet:

https://twitter.com/sinclairinat0r/status/1237201767198273536

wget http://mirrors.edge.kernel.org/ubuntu/pool/main/i/icu/libicu63_63.2-2_amd64.deb
sudo dpkg -i libicu63_63.2-2_amd64.deb

Then installed .NET Core normally.

[2020-04-24 06:03] pkulikov commented on #17988
@BillWagner @IEvangelist I've thought more about it and can explain why mentioning precedence confuses me (and can confuse others).

We say that `a + b * c` is evaluated as `a + (b * c)` because `*` has a higher precedence. So, `a?.b!.c` is evaluated as `(a?.b)!.c`. That looks as if `?.` has a higher precedence because it's evaluated still first.

However, I don't think we need to mention preceden

[2020-04-24 07:27] AntonLapounov commented on #17988
@pkulikov I am not sure how you came to this conclusion. Expressions `a?.` and `a.` have no meaning by themselves, because those operators require both _left-_ and _right-_ hand sides. For instance, the [C++ reference](https://en.cppreference.com/w/cpp/language/operator_member_access#Built-in_member_access_operators) describes the _first_ and the _second_ operands of the `a.b` member access operat

[2020-04-24 08:37] OneBlueBird commented on #17942
Okay. As a new developer, if I were to try and understand how to write a Dockerfile for a given .NET core console apps from the link https://docs.microsoft.com/en-us/dotnet/core/docker/build-container,  hardly I can only see only below lines as given below:

FROM mcr.microsoft.com/dotnet/core/aspnet:3.1
COPY app/bin/Release/netcoreapp3.1/publish/ app/
ENTRYPOINT ["dotnet", "app/myapp.dll"]

Do you

[2020-04-24 08:53] pkulikov commented on #17988
@AntonLapounov this is how I understand the [language spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#unary-operators). According to it, a null-conditional expression and a member access expression (as it's a primary expression) are *unary* expressions. That means they have one operand. Indeed, they require right-hand part, but it's not op

[2020-04-24 09:02] pkulikov commented on #17988
@AntonLapounov thanks for that remark. I agree my suggestion can be improved like that:

@springy76 @IEvangelist @BillWagner what do you think?

[2020-04-24 09:11] OneBlueBird commented on #17942
After creating the docker image, I am not able to create a runable container. Let me show steps that are not convincing here to me:

1. I followed the instruction to create myimage:

Create a container
2. docker create myimage

Check the running container
3. docker ps -a
	--> Displays container in Exited state!

4. docker start vibrant_ganguly
	--> Displays vibrant_ganguly

5. docker ps -a
	--> Ex

[2020-04-24 10:02] solrevdev opened #18054 "Ubuntu 20.04 has been released"
How soon after ubuntu releases are the packages ready and how soon after will the "Ubuntu 19.10 Package Manager - Install .NET Core" page be ready?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cbe58d-ad05-60fd-47d7-0d9ccfeecde4
* Version Independent ID: c9773e9b-dbc1-cb7b-b303-287cf8bd354c
* Content: [Install .NET

[2020-04-24 10:23] heautio opened #18055 ".NET for imx28 env"
I'm facing segmentation fault when manually installing .Net Core 3.1.3 to openWrt linux running at imx28 env.

My development env is Ubuntu 18.04.3 LTS and I'm able to cross compile other applications to the same target without any issues but not the Hello Word example from .Net. So I think my dev env is ok.
I tried also the runtime binaries for linux-arm but the same issue is faced.

Here is the

[2020-04-24 12:10] IEvangelist commented on #17988
@pkulikov I agree with your analysis, and I like the updated text you're proposing. The last sentence was tripping me up a bit.

Does this read a bit better written this way?

I am thoroughly enjoying this thread, being new to this team - I'm learning a lot from it. Thank you

[2020-04-24 12:19] matthew45052 opened #18058 "Minor typo"
"... represents already completed operation ..."

was probably intended to be:

"... represents an already completed operation ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07164632-3cf8-864e-cd1e-485b73ed95a0
* Version Independent ID: 67bfb75a-8dd8-ecf3-ce15-2a531833e8b5
* Content: [await operator - C# reference

[2020-04-24 12:22] BillWagner commented on #18010
Thanks @jcouv

I'll close this as an answered question.

[2020-04-24 12:22] #18010 closed

[2020-04-24 12:23] adamstyl commented on #18010
@jcouv @BillWagner thanks for the input.

[2020-04-24 12:25] BillWagner commented on #18042
Thanks for asking this @matthew45052

We are using the new C# 8 nullable reference feature in that sample, as @jvandertil points out.

I'll close this as an answered question.

[2020-04-24 12:25] #18042 closed

[2020-04-24 12:42] jvandertil commented on #18054
Came here to check this yesterday, this is the PR that will add the docs: https://github.com/dotnet/docs/pull/17869

It looks like the packages are up on https://packages.microsoft.com/config/ubuntu/20.04/ so you could just replace 19.10 with 20.04 and I *think* it should work.

[2020-04-24 13:03] #17366 closed

[2020-04-24 13:13] pkulikov commented on #17988
@IEvangelist I would make the intro even shorter (is that grammatically correct?):

[2020-04-24 13:14] #10545 closed

[2020-04-24 13:19] #18058 closed

[2020-04-24 13:29] matthew45052 opened #18062 "Minor typo"
"... at unspecified time ..."

was probably meant to be:

"... at an unspecified time ..."

or:

"... at some unspecified time ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6bdb964-4c04-d174-e879-e3a2d176809b
* Version Independent ID: 96df2e76-70b0-4873-4acc-d6bae51986b4
* Content: [new operator - C# reference](

[2020-04-24 13:56] matthew45052 opened #18064 "Could you demonstrate the practical use of sizeof() in C#?"
It might be useful to see an example that actually uses the value of sizeof() in some way (instead of simply printing it to the console).

For instance, in plain C, sizeof() might be used to allocate a block of memory large enough to hold an array of a certain type of struct or later to write such an array to disk as a block of raw bytes.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-24 13:58] springy76 commented on #17988
BTW: Not to oversee what happens on nullable **structs** while talking about nullable reference types:

[code]

Without ! the member `GetValueOrDefault` would not be valid at this place at all since `TimeOfDay` itself is just a struct (`TimeSpan`).

[2020-04-24 13:59] IEvangelist commented on #17988
I'm good with that, I think the "That happens because" was throwing me off...

[2020-04-24 15:47] KeishaW opened #18065 "Issue binding appsettings when using windows service"
After following the instructions for 'Run your app as a Windows service' I get an error while calling the service.
See full stack trace below.

After some investigation, I realized the issue what due to some appsettings binding I did in the Startup.cs
[code]

The error happened when trying to actually use my AppSettings.

When I instead click the exe to run the grpc server it works fine and I am a

[2020-04-24 16:01] rich-newman opened #18066 "Ternary In Interpolated String Doesn't Work As Expected"
The code below is from this page (in several places):
[code]
It outputs 'The light is True' or 'The light is False', in .NET Core 3.1 (C# 8.0) and .NET Framework 4.8 (C# 7.3).

I don't think there is a way of fixing this using that syntax (?).  If we want it to say 'The light is on' or 'The light is off' we need:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-04-24 16:22] matthew45052 commented on #15758
This example above was confusing when I first saw it, because ?. is not a normal C/C++ operator, and it's not even an operator in older versions of C# either.

It wasn't until I got to the ?. operator documentation (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/member-access-operators) that it made sense.  If you're going to teach events, you should first teach the si

[2020-04-24 16:33] Thraka commented on #17942
@OneBlueBird Hello. Can you share the following information?

1. What OS are you using?
2. Can you provide the contents of *program.cs*?
3. Can you navigate to the *working directory* from the tutorial and run the command `tree` and paste the output?

Thanks!

[2020-04-24 16:46] Thraka commented on #17995
@sdmaclea This article is in the framework area, but is this work related to .net core/5 only?

[2020-04-24 16:48] sdmaclea commented on #17995
Yes.  It is probably part of our .NET Core documentation debt.

[2020-04-24 16:57] IEvangelist commented on #18008
Hi @tkhalifeh,

Thank you so much for posting this issue, in looking at the docs - they seem to be accurate. I was testing this out and found that the only way that the *.csproj* is required is when you're scoped to the subdirectory that the `dotnet run` command creates. For example, if you were to `cd` into the created directory -- you would then need to provide the `*.csproj*. Have a look here,

[2020-04-24 17:27] #17740 closed

[2020-04-24 17:35] Thraka commented on #18054
Pretty much :) it's just some minor URL changes. Oh and we found a minor bug in `wget` statement on the page, which that PR fixes.

[2020-04-24 17:36] Thraka commented on #18054
Duplicate of #17638

[2020-04-24 17:36] #18054 closed

[2020-04-24 18:30] OneBlueBird commented on #17942
1. Windows 10 Enterprise with Docker Hub Installed

2. Program.cs below:
using System;

namespace myapp
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
        }
    }
}

3. Tree view

Microsoft Windows [Version 10.0.18362.720]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Windows\system32>d:

D:\>cd D:\skdotnetc

[2020-04-24 20:20] Thraka commented on #17942
Ahh I think I found your problem :) The way docker works is that if the process container runs (the app)  ends, the container shuts down. This is why the sample app at the start of the article is a loop that prints.

[code]

Your code above will print "Hello World" and then quit. That stops the container and the container status is: `Exited (0) x seconds ago`

[2020-04-24 20:21] Thraka commented on #17942
Change your app to the following from the tutorial article:

[code]

[2020-04-24 20:36] #17008 closed

[2020-04-24 21:04] CeciAc opened #18072 "PublishSingleFile can't run as windows service"
@cnzhnet commented on [Fri Apr 24 2020](https://github.com/dotnet/docs.zh-cn/issues/569)

When I use PublishSingleFile mode to publish an application,  the application cann't run as Windows Service: method UseWindowsService() does not work

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: d458030b-3efb-197f-6ac7-9fd4e2296218
* Version Independent ID: 6d01409e-fca6-10a3

[2020-04-24 21:30] Thraka commented on #17967
This was already completed with the rewrite of the tutorials a while back. Cheers!

[2020-04-24 21:30] #17967 closed

[2020-04-24 21:51] sfoslund commented on #13281
@tdykstra it sounds like this issue should be transfered to msbuild-targets article, per [this comment](https://github.com/dotnet/docs/issues/13281#issuecomment-593656024).

As for [this question](https://github.com/dotnet/docs/issues/13281#issuecomment-593658335), I don't know. @nkolev92 do you?

[2020-04-24 22:05] nkolev92 commented on #13281
@brcaswell Yeah, that's an msbuild thing.
Things passed on the cmd when invoking msbuild are considered global properties and override the project values. https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-properties?view=vs-2019#global-properties

[2020-04-24 22:12] sfoslund commented on #15518
Reading through the article everything looks good to me. There are 2 open issues but #13281 belongs on another area path (see my comment on that PR) and #17704 looks taken care of.

[2020-04-24 22:12] #15518 closed

[2020-04-24 22:16] #15525 closed

[2020-04-24 22:17] #15527 closed

[2020-04-24 22:20] #15526 closed

[2020-04-24 22:21] wli3 commented on #15541
owned by nuget team

[2020-04-24 22:21] wli3 commented on #15542
owned by nuget team

[2020-04-24 22:21] wli3 commented on #15543
owned by nuget team

[2020-04-24 22:23] #15528 closed

[2020-04-24 22:23] wli3 commented on #15515
owned by nuget team

[2020-04-24 22:23] wli3 commented on #15516
owned by nuget team

[2020-04-24 22:23] wli3 commented on #15517
owned by nuget team

[2020-04-24 22:26] dsplaisted commented on #12713
This would be a feature request for NuGet.  @tdykstra I think we should move it to NuGet/home.

[2020-04-24 22:35] wli3 commented on #15506
I reviewed everything SDK owns. Runtime folks need to review runtime arguments and environment variables

[2020-04-24 22:35] sfoslund commented on #7568
@tdykstra is there anything left to do here? It looks like this is solved by #17671. The synopsis also contains some examples of msbuild property usage with specific properties that are relevant to publishing: (` [-p:PublishReadyToRun=true] [-p:PublishSingleFile=true] [-p:PublishTrimmed=true]`)

[2020-04-24 22:49] #15530 closed

[2020-04-24 22:57] AntonLapounov commented on #17988
That is not correct interpretation of the spec.  While every `primary_expression` matches the `unary_expression` production, that does not mean that every operator within a `primary_expression` has to be a unary operator. Consider, for example, this `unary_expression`: `a[1+2].b`.  It contains three operators:
* Binary arithmetic operator `+` taking arguments `1` and `2`.
* Binary indexing operato

[2020-04-24 22:58] #15532 closed

[2020-04-24 22:59] marcpopMSFT commented on #14227
@tdykstra is it worth just closing this one out as the original issue is resolved and 2642 is still active?

[2020-04-24 23:02] #15539 closed

[2020-04-24 23:02] wli3 commented on #15539
File a bug in project https://github.com/dotnet/sdk/issues/11427

[2020-04-24 23:02] sfoslund commented on #15519
Reading through the article, everything looks fine. #7568 is the only open issue but it looks like it's been solved.

[2020-04-24 23:02] #15519 closed

[2020-04-24 23:03] Forgind opened #18078 "Enhancements to the dotnet new command docs"
NUnit 3 Test Item, Razor Component, MVC ViewStart, dotnet gitignore file, NuGet Config file, dotnet local tool manifest file, Web Config, and Solution File are lacking links from the table to a more concrete description of how to use it. I think the reason is that they have no parameters the way others do, but it would be good to say that explicitly so people aren't confused.

ASP .NET Core in the

[2020-04-24 23:08] marcpopMSFT commented on #18016
@donJoseLuis I believe the install script documentation was reviewed relatively recently but I figured I'd ping you in case you wanted to take a look.  There are a couple of issues linked to these docs that we can help investigate or you can just close this issue out and rely on the previous review.

[2020-04-24 23:15] tdykstra commented on #14227
Agreed.

[2020-04-24 23:15] #14227 closed

[2020-04-25 00:30] gewarren commented on #2642
Add info about the degree to which the .NET Core SDK supports existing project files (not SDK style).

[2020-04-25 00:32] gewarren commented on #4168
New topic is at https://docs.microsoft.com/en-us/dotnet/core/project-sdk/overview.

[2020-04-25 00:43] m-sekhon commented on #17908
@BillWagner I've added the required sentence and submitted a PR. Please approve if it looks ok.

[2020-04-25 01:01] #15520 closed

[2020-04-25 01:04] tdykstra commented on #7568
Yes, I'll close this issue, as the examples added in #17671 show msbuild property usage.

[2020-04-25 01:04] #7568 closed

[2020-04-25 01:17] #15523 closed

[2020-04-25 01:24] tdykstra commented on #12713
Moved to https://github.com/NuGet/Home/issues/9479

[2020-04-25 01:24] #12713 closed

[2020-04-25 01:49] tkhalifeh commented on #18008
Hi,

Thanks for the detailed explanation, I totally agreed, will close the issue.

[2020-04-25 01:49] #18008 closed

[2020-04-25 13:44] wshaddix opened #18084 "Couldn't find any package by glob 'dotnet-sdk-3.1'"
After following the docs for ubuntu 20.02 I get the error
[code]

I then followed the docs for troubleshooting this issue, mainly running
[code]

and then tried to install dotnet-sdk-3.1 but I still get the exact same error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730afb93-8f52-44ea-a9df-ba30bdd1bfd4
* Version In

[2020-04-25 13:54] jk8260 commented on #18084
same

[2020-04-25 14:10] lzuhuo commented on #18084
Same too

[2020-04-25 14:22] XorZy commented on #18084
Same problem also

[2020-04-25 14:23] matthew45052 opened #18085 "How necessary is the Dispose() null check?"
This is another question about null values, something I've been curious about for a long time ago.  It's about the expansion of "using" into "try { } finally".  Why the null check before calling Dispose()?

Doesn't the "new" operator always return non-null?  If a class constructor fails or if there's not enough memory to allocate an object, won't an exception be thrown?  In the "finally" example a

[2020-04-25 14:35] CryptoRodeo commented on #18084
Same here

[2020-04-25 14:57] AllwinSamuelJeba commented on #18084
Same problem
E: Unable to locate package dotnet-sdk-3.1
E: Couldn't find any package by glob 'dotnet-sdk-3.1'
E: Couldn't find any package by regex 'dotnet-sdk-3.1'

[2020-04-25 15:08] xSke commented on #18084
The 20.04/focal repository doesn't contain the packages yet. Looks like it still only has placeholder packages: https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/

[2020-04-25 15:55] petrutaraul commented on #18084
Same. I was happy to see that SDK is available for 20.04. I deleted Windows and I installed Ubuntu right away. Now I need to go back on Windows, because I want to finish my project. Coming on Ubuntu when will be useful.

[2020-04-25 16:58] thebf commented on #18084
I have the same issue though i was able to use the package from the snap store.

[2020-04-25 17:01] CryptoRodeo commented on #18084
I was also able to get it from the snap store, thanks for the heads up @thebf !

[2020-04-25 17:08] thebf commented on #18084
Never mind, the dotnet cli tools are not quite available so certain aspects of working with aspnet core is not smooth with the snap store approach

[2020-04-25 17:17] OneBlueBird commented on #17942
I want to make it simple here. I just want to run a Hello World program. It seems, the code in the docs website uses brute force techniques to make Docker run(for the sake of making it run). Any Docker sample that we run today to run Hello World program need not have these unnecessary loops.

[2020-04-25 18:32] dagood commented on #18084
This is right--there are are some workarounds in the dotnet/core issue about this: https://github.com/dotnet/core/issues/4360. I've asked there if the 20.04 page should be taken down (since we don't have packages on the repo yet) or we could potentially publish workaround instructions.

@Thraka @leecow @rbhanda /cc @NikolaMilosavljevic

[2020-04-25 18:36] matthew45052 commented on #10546
Isn't Visual Studio just a front-end?  Doesn't it ultimately invoke the command-line compiler csc.exe?  The mention of the -define compiler option above seems useful for defining preprocessor symbols across multiple files no matter what build system you're using, even a Unix-style "Makefile".

[2020-04-25 21:55] chgray commented on #18084
same

[2020-04-26 00:49] CryptoRodeo commented on #18084
I was able to get dotnet working on Ubuntu using the .NET core script and then adding the path variables to both `~/.profile` and `~/.bash`
https://dotnet.microsoft.com/download/dotnet-core/scripts

[2020-04-26 00:58] Thraka commented on #18084
@dagood I thought it was released and ready? Was I wrong? I must have crossed some wires somewhere.

[2020-04-26 07:52] ritzau opened #18090 "Typo in nested stackalloc example"
Span<int> numbers = stackalloc[] { 1, 2, 3, 4, 5, 6 };
var ind = numbers.IndexOfAny(stackalloc[] { 2, 4, **6 ,8** });
Console.WriteLine(ind);  // output: 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What'

[2020-04-26 14:43] torsilver commented on #18084
真的能找到 非常感谢

[2020-04-26 18:52] billti opened #18094 "wget syntax is wrong"
The troubleshooting section shows the command `wget O- https://packages.microsoft.com/keys/microsoft.asc`. That syntax is incorrectly (specifically the `O-` switch), I believe it should be `wget -O - https://packages.microsoft.com/keys/microsoft.asc`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cbe58d-ad05-60fd-47

[2020-04-27 06:28] weitzhandler opened #18097 "Does UWP have a dedicated flag?"
[This](https://stackoverflow.com/a/47290509/75500) says `WINDOWS_UWP`, which does work, but can't seem to find it anywhere in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a331b150-4033-7629-75ad-9f9ea74f3ce5
* Version Independent ID: 8e0adfd9-c41b-d059-a418-155021a95d7b
* Content: [#if preprocessor directiv

[2020-04-27 07:15] Thraka commented on #18084
Removed the article for now. Once it's actually ready, I'll republish the article. Ack!

[2020-04-27 07:15] #18084 closed

[2020-04-27 09:29] atauenis opened #18098 "Missing RID for "Windows, Any CPU" configuration"
Visual Studio can build .NET Core apps for "Any CPU" platform (combo 32/64-bit). How to build/publish an app like Visual Studio does but using `dotnet publish -r` tool? Which RID I need to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-51

[2020-04-27 09:50] #17059 closed

[2020-04-27 09:50] #17526 closed

[2020-04-27 09:50] #17527 closed

[2020-04-27 09:50] #17528 closed

[2020-04-27 09:50] #17529 closed

[2020-04-27 09:50] #17530 closed

[2020-04-27 09:50] #17531 closed

[2020-04-27 09:57] alistairjevans opened #18099 "Clarity required over NRT approach for Data Transfer Objects."
As requested by @BillWagner on twitter, I'm raising an issue around Nullable Reference Types and how they apply to Data Transfer Objects (DTOs).

Up until the introduction of NRTs, Data Transfer Objects have often not had an explicit constructor:

[code]

Mandatory fields (that cannot be null) were marked with ``[Required]`` or a similar appropriate attribute.

When we introduce NRTs, things get a

[2020-04-27 10:53] Tweega opened #18100 "F# API reference"
In the new F# documentation, is there somewhere that I can find the equivalent of the API reference found at the link bellow?  I don't often need it, but when I do it can be a lifesaver.

https://github.com/MicrosoftDocs/visualfsharpdocs/tree/master/docs/conceptual

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34c541

[2020-04-27 11:22] dasMulli commented on #2642
I believe the communication from the SDK/CLI team over the years was along the lines of "not officially supported, it may work for you and only you".
Would be good to have that _somewhere_ as some GH issues have been raised in the past, especially during 1.0-2.0 time (not sure if there were many recently).

[2020-04-27 13:05] svick commented on #18085
If you were writing the `finally` version yourself, yes, you could omit the null check. But the compiler also has to handle situations where the `using` statement is used with something other than the `new` operator, and in those cases, the `null` check becomes useful.

The compiler could probably omit the null check in this specific case, but I'm not sure if that optimization would be worth imple

[2020-04-27 13:24] #18090 closed

[2020-04-27 13:31] #17798 closed

[2020-04-27 13:40] #17908 closed

[2020-04-27 13:47] BillWagner commented on #18099
Thanks for writing this @alistairjevans That's a great explanation

adding @cartermp, @ajcvickers and @JeremyLikness  (Phillip has been involved in the nullable attributes, and Arthur & Jeremy are involved with EF and may have already solved this.

I think we can annotate these properties to use the nullable attributes to convey the design you've made. I've added this issue to the current sprint t

[2020-04-27 13:48] dagood commented on #18084
Thanks! For anyone who hits this thread later--workarounds and the status of getting .NET Core packages released for 20.04 are at https://github.com/dotnet/core/issues/4360.

[2020-04-27 13:48] BillWagner commented on #18097
ping @jcouv for the answer.

[2020-04-27 13:50] BillWagner commented on #18085
Thanks for asking this question @matthew45052
As @svick says, this example shows the code as implemented by the compiler.

I'll close this as an answered question.

[2020-04-27 13:50] #18085 closed

[2020-04-27 13:52] BillWagner commented on #18066
Thanks for pointing this out @rich-newman You are correct.

I've added this to the current sprint to address.

[2020-04-27 13:54] BillWagner commented on #18064
Thanks for writing this @matthew45052

The `sizeof` operator in C# would be used for similar operations in C#: either to allocate a block of memory, or to increment pointers in unsafe code.

[2020-04-27 13:57] BillWagner commented on #18062
Thanks for writing this @matthew45052 I've submitted a PR to fix this.

As an aside, when you find these, you can click the "edit" icon on the page (it looks like a pencil) and submit the PR yourself. This is useful when the fix takes no more time than describing the issue.

[2020-04-27 14:12] ajcvickers commented on #18099
+ @Shay Rojansky<mailto:Shay.Rojansky@microsoft.com>

From: Bill Wagner <notifications@github.com>
Sent: Monday, April 27, 2020 6:48 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: Arthur Vickers <avickers@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Clarity required over NRT approach for Data Transfer Objects. (#18099)

Thanks for writing this @alistairjevans<h

[2020-04-27 15:04] #18062 closed

[2020-04-27 15:08] roji commented on #18099
FWIW this is a well-known problem that's been raised in various issues (e.g. https://github.com/dotnet/csharplang/issues/2452#issuecomment-486685742, https://github.com/dotnet/csharplang/issues/3033, and many others).

Some of the pain may be alleviated by [Init Only Members](https://github.com/dotnet/csharplang/pull/3367/files), which would hopefully allow you to initialize a read-only member via

[2020-04-27 15:13] IEvangelist commented on #10545
Hi @john-h-k,
This was a great observation and a good issue to post, I updated the docs accordingly in this pull: https://github.com/dotnet/docs/pull/18032 thank you!

[2020-04-27 15:13] pkulikov commented on #18064
@BillWagner

How one would do that? As far as I know, one doesn't need to use the `sizeof`  operator explicitly for pointer arithmetic. `sizeof` is used [implicitly in `p++`, `p+n`, where `p` - pointer, `n`- integer](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/pointer-related-operators#pointer-arithmetic-operators). So, that's not a practical use for a programmer, b

[2020-04-27 15:23] alistairjevans commented on #18099
Thanks @roji, the two options listed in your guidance make lots of sense.

I suppose it's up to the developer whether they want to use the more verbose form of manually throwing an exception, or the terser (but perhaps slightly stranger) form of setting ``null!``.

Might I propose that since the issue you've documented for EF Core applies to general DTO class patterns outside of EF Core, that eith

[2020-04-27 15:26] BillWagner commented on #14218
@Thraka Is this someone you should take on for the next sprint?

[2020-04-27 15:51] BillWagner commented on #18064
Thanks for correcting me here @pkulikov

Incrementing pointers would not be a good use case. And, I heartily agree that its use has diminished in recent versions.

What would you suggest for a good example?

[2020-04-27 16:34] pkulikov commented on #18064
@BillWagner I don't know, I don't have a good one. Maybe someone from the .NET or C# team can provide an example (which still would be for advanced scenarios, I guess, but fine)?

Worth to note [the Stack Overflow answer](https://stackoverflow.com/a/17111824) of @ericlippert from seven years ago:

So, it looks that the practical use of `sizeof` is an under-the-hood use for pointer arithmetic.

[2020-04-27 17:16] Thraka commented on #17537
@dagood does this only apply to SLES 15?

[2020-04-27 17:24] Thraka commented on #17942
@OneBlueBird Gotcha! Thank you for the feedback.

@IEvangelist has taken over the article. My initial thought is to close this feedback. The article is currently designed to show an app running inside of the container and then how to interact with the container through docker. If the app immediately stops, you can't do that.

[2020-04-27 17:29] #14572 closed

[2020-04-27 17:30] tdykstra commented on #18098
@sfoslund can you help with this question?

[2020-04-27 17:41] IEvangelist commented on #17942
Hi @OneBlueBird,
If you're *Program.cs* is a simple `Console.WriteLine` it exits immediately. If so, that is fine - however; this tutorial exemplifies a few more capabilities, that require the executable to remain running. With that said, if you want to see "Hello World" print from a container, run the following command with your app:

[code]

This will print "Hello World" to the console, and then

[2020-04-27 17:50] Thraka commented on #7515
I believe this issue is pretty much dead. A new issue can be opened if something happens again.

[2020-04-27 17:50] #7515 closed

[2020-04-27 17:58] dagood commented on #17537
Yep. SLES 12 and others don't have this bug.

[2020-04-27 18:00] holc-tkomp opened #18105 "Retrieving supported target framework versions programatically"
Is there a way to retrieve the #supported-target-framework-versions list programatically in .NET (C#)?
I'd prefer to avoid hard-coding this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49205137-dcec-a120-e5e7-1b9c79cdafbb
* Version Independent ID: 4352856b-5ccf-8e62-48b4-3151340cac56
* Content: [Target framewor

[2020-04-27 18:08] sfoslund commented on #18098
The `-r` flag is not required and by default `dotnet publish` produces a cross platform dll. See the [first example](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish#examples) in the publishing documentation.

[2020-04-27 18:09] Thraka commented on #14218
Sure

[2020-04-27 18:29] atauenis commented on #18098
No, I'm interested in a EXE file that launches the DLL. E.g. like from `dotnet publish -r win-x64`, but with "win-AnyCPU" platform (if it is available in Core 3.1 like was in Framework 4.x).

Or `win-x64` builds can be runned on 32-bit systems?

[2020-04-27 18:44] tdykstra commented on #15506
@vitek-karas  You reviewed a PR for the `dotnet` command CLI ref doc relatively recently (https://github.com/dotnet/docs/pull/17183) -- do you want to take a look at the current state of the doc for this issue?

[2020-04-27 18:53] #17036 closed

[2020-04-27 18:53] #17151 closed

[2020-04-27 19:16] BillWagner commented on #12483
Changing the label from "get started" to "fundamentals". The new article will go in that section, as we explore different workloads.

[2020-04-27 19:22] BillWagner commented on #17384
Fixed in #17395

[2020-04-27 19:22] #17384 closed

[2020-04-27 19:25] Thraka commented on #17601
This next sprint we'll focus on coming up with a PR CI system.

[2020-04-27 19:44] BillWagner opened #18108 "Improve Single dimension arrays based on internal feedback."
See [AB#1702035](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1702035)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f3885e9-4e4e-897c-0324-2e8f93d217b7
* Version Independent ID: f9014ce9-93c1-cda7-6286-c4226150fce4
* Content: [Single-Dimensional Arrays - C# Programming Guide](http

[2020-04-27 19:49] BillWagner commented on #4505
See also AB#1702034

Given the number of comments on this issue, I think fixing this issue will address the internal work item.

[2020-04-27 19:53] IEvangelist commented on #18078
Hi @Forgind,
Thank you for posting this issue. Could you please provide a bit more information?

I believe that you're referring to this document - is that correct?
https://docs.microsoft.com/dotnet/core/tools/dotnet-new

If so, you're asking specifically for examples of the items that do not currently have examples. Additionally, you're asking whether the commands should specify optional paramete

[2020-04-27 20:12] sfoslund commented on #18098
I see, since EXE files are [executables](https://docs.microsoft.com/en-us/dotnet/core/deploying/#produce-an-executable) and inherently not cross platform, I don't think there's a way to do this.

[2020-04-27 20:23] Forgind commented on #18078
Yes

Almost. I know the ones I listed shouldn't have optional parameters listed, which means they're easier to use, but if I want to know how `dotnet new wpf` works, for example, I click on `wpf`, and it tells me about the optional parameters. For those without optional parameters, a user might wonder if there are optional parameters that were missed or if there are no optional parameters, so my (

[2020-04-27 20:23] BillWagner opened #18109 "Finalize .NET 5.0 project planning"
We've had a number of internal discussions on plans to update the .NET docs space for .NET 5. We need to finalize that plan, and formalize the tasks into public issues for the .NET 5.0 release.

The main focus will be to update the docs to reflect the "One .NET" journey of .NET 5 and beyond.

[2020-04-27 20:28] BillWagner opened #18110 "C# Get Started using Jupyter notebooks (and more)"
The introductory tutorials for C# should be available in different forms so readers can pick the journey that works best for them.

There are a few sub-tasks here:

- [ ] The introductory Explore C# page should link to the introducing C# MS Learn learning path.
- [ ] The introductory Explore C# page should link to the [dotnet-try](https://github.com/dotnet/try-samples) samples pages.
- [ ] The int

[2020-04-27 20:30] BillWagner opened #18111 "The Explore C# 8 try-samples are missing later preview features"
The samples in [dotnet/try-samples](https://github.com/dotnet/try-samples) for C# 8 are missing some features. They should be added.

[2020-04-27 21:06] Thraka commented on #17925
After an email chain, we're deciding to do the following regarding the distros to preserve information for those who need it:

1. Add an overview article for all of the distros. This will be the landing page for linux package managers. This page only ever lists the current supported versions.
2. Add an "Archived" TOC level that groups all distros that are EOL.
3. The main TOC will only include act

[2020-04-27 21:08] Thraka commented on #17883
@dagood Just asking you about this as you seem well versed in Linux. Why does copy/pasting fail on these? Is there something with the `sudo apt-get install apt-transport-https` command that resets the terminal paste buffer or something?

[2020-04-27 21:15] dagood commented on #17925
It might be interesting to compare that vs. the Ubuntu EOL page: https://endoflife.software/operating-systems/linux/ubuntu

![image](https://user-images.githubusercontent.com/12819531/80421125-950d2400-88a1-11ea-98e7-9b165ecd1f7b.png)

A difference from the plan above is that they have "Current releases" and "_All_ releases", rather than "Current" and "_Archived_". Perhaps this is useful to figure

[2020-04-27 21:22] Thraka commented on #17921
I would venture to guess that it should say this:

[code]

[2020-04-27 21:32] dagood commented on #17883
When `apt-get install` actually has to do something (package not installed already, plus other subtleties), it prompts the user for <kbd>Y/n</kbd>. The prompt causes the rest of your current input to get dropped. (I'm not familiar with exactly how--if it's swallowing the rest of the command, or prompting clears it or something.) The `apt-get install` starts going as soon as the newline from the pa

[2020-04-27 21:35] Thraka commented on #17950
Hello @GabrielZalisz Can you clarify the request? Are you saying that you want a readline at the end so you can pause and analyze the output?

I believe this has been added in the latest versions of .NET, starting with .NET Core. I wouldn't want to put one in since this is the new standard and then would require two keypresses at the end.

[2020-04-27 21:41] dagood commented on #17883
Took a look at the video. It looks like in this case there isn't an actual prompt, but it does install the package and drop input. Haven't seen that before. 😄 Maybe the prompt "auto-accepts" internally but still drops input? At this point I question if I just have this all wrong at some basic level, though.

And... `-y` doesn't actually fix this. In an ubuntu:18.04 Docker container, pasting this i

[2020-04-27 21:44] dagood commented on #17883
Ok, so: how do we fix this. I recommend this:

[code]

[2020-04-27 21:50] dagood commented on #17883
Sorry, actually this, because the `update` will sometimes fail if `apt-transport-https` isn't installed yet so we *should* ignore that exit code:

[code]

(And might as well throw in `-y` to make it easier.)

[2020-04-27 21:54] dagood commented on #17883
I found the root cause from here: https://serverfault.com/a/634215, intentional behavior:

[2020-04-27 22:58] gewarren commented on #17921
From my understanding, 528209 is for the Vibranium release, so it's not for 1909.

[2020-04-28 00:14] StephenWeatherford commented on #17366
thx

[2020-04-28 00:44] BillWagner commented on #17988
Thanks for all the discussion. I'll make the following proposal:

In light of dotnet/csharplang#3393, dotnet/csharplang#3297 and dotnet/roslyn#43659 which open possible changes o the spec and implementation, I'd like to re-focus this on explaining the current behavior. (Thanks @AntonLapounov @agocke and @jcouv for driving those discussions).

In the short term, I think the best solution is Option

[2020-04-28 02:23] AntonLapounov commented on #17988
Nitpicking, it may throw, but not necessary if `z` is a method call:
[code]
What's about the following?

[2020-04-28 02:38] dhowes opened #18117 "var in foreach"
After you say "The following example uses explicit typing in a foreach statement" you then use var in the foreach statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3c147e-2271-4d7c-712b-2f705b5ecbc5
* Version Independent ID: 2c1a7cfe-364e-408e-77c1-9fae2b0da643
* Content: [C# Coding Conventions - C# Programmi

[2020-04-28 02:39] dhowes commented on #18117
Sorry. I just realized that someone already mentioned this.

[2020-04-28 03:20] ckapilla opened #18118 "No information provided on how to actually use the stored values"
It doesn't do much good to know how to store configuration values if there is no information provided on how to actually use the stored values at runtime!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aa7bda7-581d-9654-c7c5-5ff0292ddfb3
* Version Independent ID: 7f32162e-ec95-0a16-7618-14b7a7c80cff
* Content: [Run-ti

[2020-04-28 04:02] natiox opened #18119 "confusing navigation on mobile"
I read this page on mobile and it's not very intuitive to find the table of contents in the dropdown.  I read the page and thought, "Nice intro.  Where's the info?"  With some back-and-forth between the desktop and mobile version I was able to find the table of contents dropdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-28 08:35] atauenis commented on #18098
https://stackoverflow.com/questions/516730/what-does-the-visual-studio-any-cpu-target-mean

Visual C# 2005+ can make semi cross-platform binaries. Executables for "Any CPU" platform are running in 32-bit mode on 32-bit OS and in native 64-bit mode in 64-bit OS.

[2020-04-28 10:10] roji commented on #18099
Sounds great @alistairjevans. Ping me on the PR, I can also help out.

[2020-04-28 10:15] misterspeedy commented on #17883
Thanks @dagood and @Thraka for your diligence in looking into this thus far!

[2020-04-28 10:21] springy76 commented on #17988
BTW: What is inside LINQ expressions? `?.` isn't allowed there but `!` is allowed -- but seems to have no impact on the expression.

[2020-04-28 12:51] tmds commented on #17757
@KathleenDollard ping

[2020-04-28 13:04] pjainan opened #18122 "Image Transparency"
Please rectify the transparency for the image:
https://docs.microsoft.com/en-us/dotnet/azure/media/migration/choose/decision-tree.png
It is not visible or dark-theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7abff9f4-c349-5210-ba02-375d2151b1c0
* Version Independent ID: db8e33dc-3ed7-4409-23cd-657f9d5c0244
* Cont

[2020-04-28 13:46] BillWagner commented on #3276
I asked for some internal feedback from @IEvangelist on the tour.  Here's the response:

- The organization of the TOC might be an opportunity for improvement, when perusing the articles Program structure starts with a CLI tool the user is probably unfamiliar with – and then immediately starts with a block of code that introduces, namespace and class.
 - This feels a bit jolting as I see that ther

[2020-04-28 14:34] BillWagner commented on #18117
Closing as a duplicate of #17106

[2020-04-28 14:34] #18117 closed

[2020-04-28 14:43] sfoslund commented on #18098
In the stack overflow post you linked, this is the most liked answer:

I believe the AnyCPU assembly it's referring to are DLLs, which are taken and JIT (just in time) compiled to native code (64 bit on 64 bit OSs and 32 bit on 32).

[2020-04-28 14:52] BillWagner commented on #17988
I opened #18124 to address this. Thanks for all the discussion.

@springy76 Can you open a new issue for the question on LINQ expressions? I'm not sure what you mean, and I'd like to start a new discussion for that concern.

[2020-04-28 14:58] #17342 closed

[2020-04-28 15:21] gewarren commented on #18118
Thanks for the feedback. The articles below that page in the table of contents contain the information about the actual settings. Is that what you're looking for? For example, the compilation settings are here: https://docs.microsoft.com/en-us/dotnet/core/run-time-config/compilation. Perhaps we need to point them out in the page you were looking at.

[2020-04-28 15:35] BillWagner commented on #17479
This was fixed in #17483

[2020-04-28 15:35] #17479 closed

[2020-04-28 15:38] BillWagner commented on #15725
closing based on previous comment.

[2020-04-28 15:38] #15725 closed

[2020-04-28 15:40] BillWagner commented on #16152
@DavidACraig75 That's a nice suggestion.

The `StringBuilder` class won't fix it. However, you could add other code using the `Console.BackgroundColor` property you mention to set and reset the color before writing the message. Those properties aren't platform independent, so we don't cover them in these introductory tutorials.

[2020-04-28 15:41] BillWagner commented on #16152
Closing per earlier comment. This was fixed in dotnet/samples#1843

[2020-04-28 15:41] #16152 closed

[2020-04-28 16:25] Thraka commented on #10031
@tarekgh @nguerrera Greetings! Can you comment on the thoughts by @gewarren ?

[2020-04-28 16:26] Thraka commented on #13287
ping @leecow

[2020-04-28 16:42] Thraka commented on #17173
@Rick-Anderson @JasonCard

How did the test go?

[2020-04-28 16:48] nguerrera commented on #10031
Deferring to @BenVillalobos to take point here. I've moved to a different team.

(But Ben, if you need to discuss anything with me, feel free to grab some time on Teams.)

[2020-04-28 16:51] Rick-Anderson commented on #17173
We need more data. No one has complained about the include so I suggest we keep it for a year.

[2020-04-28 17:45] ckapilla commented on #18118
I misunderstood the purpose of this documentation. I am trying to find information on how to configure user settings in Core 3.1 and came to this page by mistake. I see now this page is about settings for the .net runtime itself and not for application settings at runtime.

[2020-04-28 17:45] #18118 closed

[2020-04-28 17:47] ckapilla commented on #18118
Hi Genevieve,

thanks for your speedy reply.

I see now that the page in question is about configuring the .net runtime itself, and thus the runtime itself is responsible for reading those values.

I got to this page in the process of porting a .net 2x windows app to .net core 3.1 and am trying to figure out how to implement app.config and/or user settings in the 3.1 environment.

I have closed my

[2020-04-28 17:49] springy76 commented on #17988
@BillWagner

I just wanted to note that

`Expression<Func<DirectoryInfo, string>> expr = di => di.Parent?.Name;`

does not compile at all (CS8072 An expression tree lambda may not contain a null propagating operator) but

`Expression<Func<DirectoryInfo, string>> expr = di => di.Parent!.Name;`

is no problem, seems to be ignored by (or transparent to) the expression code builder.

[2020-04-28 18:10] CeciAc opened #18130 "Pure Domain Layer"
@Andrusha26 commented on [Tue Apr 28 2020](https://github.com/dotnet/docs.ru-ru/issues/283)

Is it okay to inherit from INotification, which cause dependency on MediatR lib? How we can avoid it?

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Vers

[2020-04-28 18:27] IEvangelist commented on #18105
Hi @holc-tkomp,
Thank you for asking this question, and reaching out through an issue. This is a good question, and I agree - that I would rather not hard-code this lookup data either. Unfortunately, I do not believe that this is available programmatically. I'll ask around a bit, and report back - but could you please clarify how you might imagine this being available? Are you thinking exposed thr

[2020-04-28 18:31] IEvangelist commented on #2726
Capturing all the files this currently resided in:

- .\docs\core\packages.md
- .\docs\core\toc.yml
- .\docs\core\deploying\index.md
- .\docs\core\porting\libraries.md
- .\docs\core\project-sdk\msbuild-props.md
- .\docs\core\tools\csproj.md
- .\docs\standard\frameworks.md
- .\docs\standard\glossary.md
- \docs\standard\assembly\reference-assemblies.md

[2020-04-28 18:52] holc-tkomp commented on #18105
I would like to see some helper class, maybe within one of the `Microsoft.NETCore.*` namespaces, with static methods such as
[code]

Similar thing could be considered for the [Runtime identifiers](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog) ([runtime.json](https://github.com/dotnet/runtime/blob/master/src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json)).

[2020-04-28 18:59] IEvangelist commented on #18105
Adding @terrajobst - what do you think about the idea ☝️ ?

[2020-04-28 19:06] #17711 closed

[2020-04-28 19:12] #16847 closed

[2020-04-28 19:22] gewarren commented on #18118
Hi Chris, it sounds like the [ConfigurationManager](https://docs.microsoft.com/en-us/dotnet/api/system.configuration.configurationmanager?view=dotnet-plat-ext-3.1) class will do what you want.

[2020-04-28 19:39] ckapilla commented on #18118
yes perfect -- thank you!

From: Genevieve Warren <notifications@github.com>
Sent: Tuesday, April 28, 2020 2:23 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Chris Kapilla <chris@kapilla.net>; State change <state_change@noreply.github.com>
Subject: Re: [dotnet/docs] No information provided on how to actually use the stored values (#18118)

Hi Chris, it sounds like the ConfigurationManager <http

[2020-04-28 19:41] #12660 closed

[2020-04-28 19:49] IEvangelist commented on #18072
Hi @cnzhnet,
Thank you for posting this issue, I'll investigate this and get back to you soon.

[2020-04-28 19:54] svick commented on #17934
@gewarren First, all issues from dotnet/corefx have been transferred to dotnet/runtime, though it seems the port-to-core label wasn't. For example, based on [this archive.org page](https://web.archive.org/web/20190110014656/https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3Aport-to-core), the issue [dotnet/corefx#33897](https://github.com/dotnet/corefx/issues/33897) used to hav

[2020-04-28 20:19] Thraka commented on #17925
@dagood TOC wise, we can't really do that. What about "Unsupported EOL"? Or perhaps some variation on that?

[2020-04-28 20:31] #17716 closed

[2020-04-28 20:33] tdykstra commented on #17716
I wasn't able to repro launch.json not getting created. but I updated the tutorial.

[2020-04-28 20:37] tdykstra commented on #17173
If it takes a year to gather enough data I don't think it will ever be enough to counter all the negatives inherent in trying to translate code comments.  I think we should concede that it isn't going to fly.

[2020-04-28 20:40] BillWagner commented on #17988
Thanks @springy76 That's a different issue. (And we don't document it well.)

There are a number of new syntax elements that aren't representable in LINQ expression trees. I'll create an issue and we'll address that as well.

[2020-04-28 20:47] BillWagner opened #18134 "Expression trees can't represent some new C# syntax elements"
See https://github.com/dotnet/docs/issues/17988#issuecomment-620759030

Some of the new language elements aren't translated into expression trees. The null forgiving operator `!` is one. The null propagating operator `?.` is another. I think pattern matching switch expressions are also affected.

We should update this section to include unsupported language elements, and guidance on general use.

[2020-04-28 21:06] Thraka commented on #17921
HA whoops I was thinking Vibranium was 1909... doh!

[2020-04-28 21:07] dagood commented on #17925
I have no objection to "Archived" or "Unsupported EOL" (well, I guess the latter might be a little on the wordy side), not really concerned about the label clarity. I'm just wondering if it'd make sense to show supported versions inline with EOL versions to make migration easier--but if it's impossible, doesn't seem like the end of the world.

[2020-04-28 21:09] BillWagner commented on #17365
***Issues to improve existing content***
- [ ] #17788 - numbers tutorial
- [ ] #12185 Foreach loop in loops, or collections tutorial
- [ ] #1264 - structs in Tour of C#
- [ ] #3276 - Modernize the Tour of C#
- [ ] #9576 - example in tour of C#
- [ ] #13640 - Events description in Tour
- [ ] #17191 - numbers tutorial (again)
- [ ] #8804 local umbers in C#

[2020-04-28 21:09] Thraka commented on #17925
We can't do any coloring or anything like that. We COULD use ✔️ and ❌  though

[2020-04-28 21:17] BillWagner commented on #17365
***Issues to create new beginner content***
- [ ] #18110 Add Get Started to Jupyter
- [ ] Add LINQ to introduction to C#
- [ ] Incorporate existing Object Oriented content from programming guide. (https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/object-oriented-programming)
- [ ] intro to data and pattern matching
- [ ] Pick a workload: Link to existing starter content for major

[2020-04-28 21:19] BillWagner opened #18136 "Add LINQ tutorials to "Introduction to programming with C#""
We've made solid LINQ content in the [dotnet/try-samples](https://github.com/dotnet/try-samples) repository. We should link to that from docs, and provide a way to run it on your own machine, in your environment.

We should also link to the 101 LINQ samples in try-samples.

[2020-04-28 21:30] Rick-Anderson commented on #17173
That's my guess, but I'd still like to solicit comments for a year. @JasonCard  for his opinion.

I agree with @Thraka , when he stated "this is obviously something non-english speakers want". I'd like to understand why we're not getting more feedback.

[2020-04-28 21:30] BillWagner opened #18137 "OO tutorial should move to get started"
This content should be updated and serve as the final OO tutorial in the "introduction to programming with C#" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece1648c-e8a7-153d-a22b-350a619aa26d
* Version Independent ID: a0c9221a-cc55-4c31-4f54-0e5fbdcbce25
* Content: [Object-Oriented Programming (C#)](https:/

[2020-04-28 21:33] BillWagner commented on #17365
***Complete the Journey***
- [ ] Pick a workload: Link to existing starter content for major workload styles
- [ ] organize all get started content to drive toward downloading and using .NET Core as a development platform.

[2020-04-28 21:35] BillWagner opened #18138 "Create introductory pattern matching and data tutorial"
As C# grows beyond its OO roots, we need to add an introductory tutorial to show data programming using pattern matching and related techniques.

This will be added in the "introduction to programming with C#" section.

[2020-04-28 21:35] CeciAc commented on #17845
Hello, @zyd2001
Thank you for your feedback.

Our engineer team reviewed your suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/zh-cn/dotnet/csharp/language-reference/keywords/using-statement#feedback

We truly appreciate your contribution to our articles and we encourage you to conti

[2020-04-28 21:35] #17845 closed

[2020-04-28 21:43] BillWagner opened #18140 "Reorganize Get Started content"
We have lots of get started content. We need to organize the journey better. We should create a new landing page for the get started content, highlighting the journey from day 1 to building the app you want to build. That means any of the following:
- *watch* the C# 101 videos
- *explore in your browser*
- *explore in Jupyter notebooks*
- *read* an overview of the language
- *install and run dotne

[2020-04-28 21:47] BillWagner commented on #18140
This is the final task in the plan developed for #17365 (Comments there include notes and links to other issues.)

Question: Is there good C# intro content on MS Learn to add in this issue?

/cc @mairaw @BethMassi

[2020-04-28 21:48] BillWagner commented on #17365
Closing as the plan is complete.

[2020-04-28 21:48] #17365 closed

[2020-04-28 21:59] ShadowsInRain opened #18142 ""null as Foo" to initialize with null."
Just saying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11b0afbe-c9dc-b5c7-5d0b-f1bebbfc7b1a
* Version Independent ID: fd6f943b-5bc5-7bef-a0db-16242369598b
* Content: [Anonymous Types - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/anonymous-types#feedbac

[2020-04-28 22:16] gewarren commented on #17934
@svick Thanks for that, I should have looked into this more deeply. I have a PR to remove that section of the article.

[2020-04-28 22:40] JasonCard commented on #17173
I'm also wondering why we're not getting more feedback. I'd be curious to see how many requests there would be in a year. But maybe most people who look at code examples can generally understand the code comments. Honestly, I think localizing code comments is nice to have, but low priority request that's probably not worth the trouble.

[2020-04-28 23:54] gewarren opened #18145 "Document publish output settings"
Extracted from #2642:

* How do I include or exclude files in/from the publish output?
  * Show `<None Update="**/my_pattern/**" CopyToOutputDirectory="PreserveNewest" CopyToPublishDirectory="PreserveNewest" />` - https://stackoverflow.com/questions/44374074/copy-files-to-output-directory-using-csproj-dotnetcore/44378406#44378406
  * Note that `CopyToPublishDirectory` is an addition to the SDK-bas

[2020-04-29 01:53] jstafford5380 opened #18146 "None of these commands appear to exist"
None of these commands appear to exist:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b6dfb81-af2e-2f4f-2316-3323539b6d35
* Version Independent ID: 8b24f48d-1fe6-d930-5f08-c1da13322f7d
* Content: [dotnet nuget list source command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget

[2020-04-29 01:57] jstafford5380 commented on #18146
disregard. I thought I had the 3.1.2 SDK, but I had the 3.1.2 runtime and the 3.1.1 SDK. Updating the SDK solved it.

[2020-04-29 01:57] #18146 closed

[2020-04-29 03:10] naughtyGitCat opened #18147 "Methods not inherited by inherit the EmployeeListNotFoundException"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041f6b4c-2b7e-5332-f24e-12af7a5b07aa
* Version Independent ID: e9c2287f-1c4e-ee07-a1ff-77a3f07ce1a4
* Content: [How to: Create User-Defined Exceptions](https://docs.microsoft.com/en-us/dotnet/standard/exceptions/how-to-create-user-defined-exceptions)
* Content Sourc

[2020-04-29 05:10] #14237 closed

[2020-04-29 05:10] #16571 closed

[2020-04-29 05:10] #17934 closed

[2020-04-29 05:13] karelz commented on #17063
@MihaZupan can you please help document the breaking change -- fill this: https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md

[2020-04-29 05:14] karelz commented on #16990
@aik-jahoda can you please confirm and help to fill the breaking change template? https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md
Thanks!

[2020-04-29 09:35] moerwald opened #18149 "Encoding.GetChars is used instead of Encoding.GetString"
Docu states: "The following example illustrates the difference between using the Encoding.GetChars and Decoder.GetChars methods for decoding a Unicode byte array. The example encodes a string that contains some Unicode characters to a file, and then uses the two decoding methods to decode them ten bytes at a time. Because a surrogate pair occurs in the tenth and eleventh bytes, it is decoded in se

[2020-04-29 11:35] janvorli commented on #13287
Let me at least put the list of runtime dependencies here (I've verified them with a bare bones Alpine docker image):

For .NET Core 2.1 and 3.1
[code]

[2020-04-29 11:39] janvorli commented on #13287
There is a link to x64 Alpine installation page for 2.1 here: https://dotnet.microsoft.com/download/dotnet-core/2.1
Similar for 3.1 here:
https://dotnet.microsoft.com/download/dotnet-core/3.1

However it doesn't list the dependencies.

[2020-04-29 14:40] CeciAc opened #18153 "I have an Exception"
@Elede83 commented on [Tue Apr 28 2020](https://github.com/dotnet/docs.de-de/issues/194)

At:
Class: AsynchronousClient()
Method: StartClient()
Term: Send(client,"This is a test&lt;EOF&gt;");

MEssage: System.Net.Sockets.SocketException (0x80004005) A Requirement to send or receive of data was blocked, because the socket is not connected ... no adress ...

---
#### Dokumentdetails

⚠ *Bearbeiten S

[2020-04-29 15:22] #11987 closed

[2020-04-29 15:27] BillWagner commented on #18142
Thanks for writing this @ShadowsInRain That's one way to initialize a null value. We've generally recommended the `default` expression.

I'll close this.

[2020-04-29 15:27] #18142 closed

[2020-04-29 15:27] #17988 closed

[2020-04-29 15:44] #13281 closed

[2020-04-29 15:44] #17704 closed

[2020-04-29 15:54] tdykstra commented on #18147
Add constructor(s) to EmployeeListNotFoundException1 as shown in the example for EmployeeListNotFoundException.

[2020-04-29 15:57] #18147 closed

[2020-04-29 17:04] 2jacobtan opened #18157 "These are not equivalent (for value types): `E as T` `E is T ? (T)(E) : (T)null`"
The following do not seem equivalent (for value types?). Contrary to what is said in the article.

`E as T`
`E is T ? (T)(E) : (T)null`

![image](https://user-images.githubusercontent.com/12626411/80624063-ba568980-8a7d-11ea-9fe7-0ecb0a8168a6.png)

![image](https://user-images.githubusercontent.com/12626411/80624277-06093300-8a7e-11ea-998c-3ffe81dc716d.png)
https://repl.it/@JacobTan3/null-comparis

[2020-04-29 17:20] #17537 closed

[2020-04-29 17:33] IEvangelist commented on #762
Closing this issue as it is covered here:
https://docs.microsoft.com/en-us/dotnet/core/porting/net-framework-tech-unavailable
and here:
https://docs.microsoft.com/en-us/dotnet/core/compatibility/

[2020-04-29 17:33] #762 closed

[2020-04-29 17:34] #9884 closed

[2020-04-29 17:34] #17951 closed

[2020-04-29 17:34] #2726 closed

[2020-04-29 17:34] #17020 closed

[2020-04-29 17:40] #16062 closed

[2020-04-29 17:51] pkulikov commented on #18157
@2jacobtan why not? The following:
[code]

[outputs `True`](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQ7EAICyBDASygGEAbPAZwqwG90ss4BmRpANkYBZdCosAKOEgAMAbQC6WPGADmFAJRZ6tZQwZFgWAlgC8WJAG5VagG7SpurVOqkA9lBkB+I2jWnzAI0vaCN+06xHATsHR3ltEGD/MKgIUlIXNwYhAE5+PF09D3lErABfdDygA===) (in sharplab)

If you run the same code in [try.dot.net](https://try.dot.net/), it also produces `True`.

Those use Roslyn

[2020-04-29 17:51] IEvangelist commented on #18157
Hi @2jacobtan,

Thank you for posting this issue, in taking a quick look I am seeing different result than you. The [results that I am seeing](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQcDMACR2DC2A3utmbggsaebQJZTDZ3YC82SA3DbWXEgE4AFABIARCzoBnbABsA9lADmAfjbYAOmKKSZC5SoC+WsQEpuaXuX7DxLAIZ7Fq9Vp3ZHc50ZPmevG1EJZicDbDUhfVVTFhBsSO9TKAhZWVdtISFdLwNTcPiolRjsOITc5NTTYzEzC1pDdEMgA===) seem to indicate th

[2020-04-29 19:09] MihaZupan opened #18161 "UriBuilder.Query and UriBuilder.Fragment behavior changed in Core"
## UriBuilder.Query and UriBuilder.Fragment behavior changed in Core

Moving from Framework to Core, UriBuilder behavior for Query and Fragment properties was changed. It now no longer prepends a leading ? for query and # for fragment when one is already present.

This results in a difference in behavior
[code]

### Version introduced

.NET Core 1.0

### Old behavior

Always prepend a leading ? or

[2020-04-29 19:10] MihaZupan commented on #18161
cc: @karelz @gewarren

[2020-04-29 19:10] MihaZupan commented on #17063
Opened #18161

[2020-04-29 19:11] Thraka commented on #17959
I think this issue should really be on the dotnet/sdk repository. I'll clone the issue over there.

[2020-04-29 19:12] MSThug opened #18162 "Lack of context makes this hard to follow"
I get the jist of this page but the lack of context for how this code should be included in my interface or program makes it much harder to follow than it needs to be.  I shouldn't have to read it two or three times and experiment in a test project to understand how the feature works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-04-29 19:13] Thraka commented on #17959
This issue was moved to dotnet/sdk#11492

[2020-04-29 19:13] #17959 closed

[2020-04-29 19:40] svick commented on #17889
I get the output "1, 2" [on .Net Framework in 32-bit mode](https://sharplab.io/#v2:EYLgdgpgLgZgHgGiiATgVzAHwAICYCMAsAFAl4AEAwiQN4nkPnb4BsTALOQLICGAlmAAUASnqM6xRlPIwANgHseUcj3zkAvOQAMAOi24YAbjHSZCpStwbte3Fvv4jJ6QOX81mwa+GDV5AFTk+PbCxpKm5K4qfFae3r5WgcFaoc5SzACcvnz4qeGmmdm4eVIAviSlQA==), but "2, 2" [on .Net Framework 64-bit](https://sharplab.io/#v2:EYLgHgbALANALiATgVwHYB8ACAmAjAWACgicACAYSIG8jS7TNcIG

[2020-04-29 19:54] swythan commented on #762
@IEvangelist @gewarren
It's a shame that the breaking-change PR searches that are linked to from the docs added in #18155 don't actually return much useful info. For example, I don't think the floating point parsing/formatting changes change I mentioned above are in that list.

[2020-04-29 20:16] Thraka commented on #18055
Duplicate of #17959

[2020-04-29 20:16] #18055 closed

[2020-04-29 21:10] Thraka commented on #18149
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-04-29 21:17] #18094 closed

[2020-04-29 21:35] gewarren commented on #762
@swythan Are these the changes you are referring to?

https://docs.microsoft.com/en-us/dotnet/core/compatibility/corefx#floating-point-formatting-and-parsing-behavior-changed

[2020-04-29 22:50] Thraka opened #18170 "[discussion] Breaking up the docs repo"
## Problem statement

As we continue to onboard more technology and areas into our repo, the size and management of the repo continues to grow. By having a lot of technologies in the repo, we limit the features of the docs platform we can use, such as versioning. The amount of content, coupled with the requirement to engage and triage every issue, means there is a lot of noise generated in areas w

[2020-04-29 23:09] #18161 closed

[2020-04-29 23:16] swythan commented on #762
Yes! Those pages are exactly what I wanted! 🎉🤦🏻‍♂️

In my defence I'm on a phone, so when I followed the link in the comment from @IEvangelist I only saw the guidance page, not all the sub pages with the actual lists of breaking changes. Once I knew the page existed I spotted the Table of Contents button and I'm a happy camper now.

If I was being really picky I'd point out that the NetFX to NetCo

[2020-04-29 23:25] gewarren commented on #762
@swythan Oh good! Yes, the Framework -> Core page started its life as WinForms only, which is why it seems heavily focused on WinForms. It's only in the last few months we've expanded its scope, and it's a work in progress. We also have the APIs that always throw PNSE on .NET Core documented here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/unsupported-apis

[2020-04-30 00:57] iBolski commented on #17638
Well, it's 29th april and still not update. Is there that much of a difference between 19.04 and 20.04?

[2020-04-30 01:22] iBolski commented on #17638
Just as an FYI, if you download the tar ball yourself and follow the instructions on how to install it manually (which is really easy anyways and most Linux/UNIX geeks like me prefer it this way sometimes for more control), you don't have to worry about the mirrors, etc.

What I do is extract the tar ball into a folder in my home folder, naming it to the version of the SDK (in case I want to flip

[2020-04-30 01:46] AntonLapounov commented on #18134
Expression trees have many restrictions, see all those `Error()` calls in https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs.

[2020-04-30 02:49] #12247 closed

[2020-04-30 03:45] MSDN-WhiteKnight commented on #18064
Yeah, for example, BitConverter implementation in CoreCLR uses sizeof when converting primitive types to bytes: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/BitConverter.cs#L69

 Another case would be interop with unmanaged functions that take buffers of primitive values. For example, [NtQueryInformationProcess](https://docs.microsoft.com/en-us/wind

[2020-04-30 05:43] naughtyGitCat commented on #18147
I am new to c#, when I use the Python3, son class can just inherit the __init___ class from the parent class. Is there a simple way to bypass define all the constructors again and again

[2020-04-30 08:10] gabrieldevillers opened #18174 ".NET core hosting: how to instantiate objects, call members functions ?"
The [current](https://github.com/dotnet/docs/blob/08a439eeacd39afb057107afa9b38caf32aee441/docs/core/tutorials/netcore-hosting.md) documentation does not tell whether instantiating objects and calling member functions is impossible or just out of scope for this tutorial. I searched a lot online and found no more information on that.

This is something which is possible to do with Mono (using `mono

[2020-04-30 08:32] VikasAgarwal1984 opened #18175 "transitive dependencies order"
What will be the order of transitive dependencies displayed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8400fd6a-d987-1056-283f-9364fbce3c86
* Version Independent ID: 3d4b052c-33fa-cc83-4df6-4a3341f12763
* Content: [dotnet list package command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotn

[2020-04-30 09:57] citizenmatt opened #18176 "C# compiler language version missing "default" value"
The page describing language version chosen by the compiler includes `latest`, `latestMajor`, but does not describe `default`. AIUI, this is equivalent to `latestMajor`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4-197c-a862-ab4a924506c7
* C

[2020-04-30 10:20] theREALdebater opened #18177 "Good to see lots of examples"
After a bit of prompting from an issue, it is excellent that there are multiple examples here illustrating the typical usage of this construct, and pointing out the potential confusion it can cause (in nested situations).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b4ba4c-b602-9335-97d1-3b8ac23e6cb3
* Version Inde

[2020-04-30 10:41] bekakst opened #18178 "Authentication to wcf service using dotnet-svcutil tool"
Do you have and CLI command where it is possible to provide username and password credentials to connect and add service reference to project? Thanks

[Edited by gewarren to add document details]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0bd854-fec8-fc4a-760a-42dc22e07f99
* Version Independent ID: f04e9f8b-24d2-

[2020-04-30 13:39] BillWagner commented on #18176
See also https://developercommunity.visualstudio.com/content/problem/989490/langversion-default-for-framework-projects-might-u.html?childToView=1004377#comment-1004377

[2020-04-30 13:41] BillWagner commented on #18177
Thank for leaving this comment @theREALdebater We appreciate it.

Closing as kudos.

[2020-04-30 13:41] #18177 closed

[2020-04-30 16:19] #2382 closed

[2020-04-30 16:19] #12551 closed

[2020-04-30 16:19] #13749 closed

[2020-04-30 16:19] #14739 closed

[2020-04-30 16:31] tdykstra commented on #18175
@nkolev92 Do you know the answer to this question?

[2020-04-30 16:41] tdykstra commented on #18147
No, you have to define the constructors but you don't have to duplicate the code in them, as constructors in the derived class can call the base class constructor.  See the discussion in [this StackOverflow post](https://stackoverflow.com/questions/3873343/can-i-inherit-constructors).

[2020-04-30 16:48] #17754 closed

[2020-04-30 16:56] tdykstra commented on #17666
@layomia @Jozkee Would you recommend a custom converter to do what Newtonsoft [CheckAdditionalContent](https://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_JsonSerializer_CheckAdditionalContent.htm) does?

[2020-04-30 16:57] DavidCBerry13 commented on #12247
I've updated the code samples in the article and tested them so everything should work now.

[2020-04-30 17:01] tdykstra commented on #17576
Closing, as comments have been addressed. If you would like to continue the discussion, feel free to reopen.

[2020-04-30 17:01] #17576 closed

[2020-04-30 17:11] #18011 closed

[2020-04-30 17:25] VikasAgarwal1984 commented on #18175
What i found was that they are sorted alphabetically and currently did not get hierarchical view. I am not sure if there is some other tooling around to get hierarchical view.

[2020-04-30 18:14] chetan21k opened #18182 "Introduction"
Nice. Can be little bit pictorial if possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14618620-83fc-fd68-93a9-03626c76d680
* Version Independent ID: ea7fbbaf-fd41-75cb-28fb-a2f36c8d3967
* Content: [A Tour of C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/#feedback)
* Content Source

[2020-04-30 18:16] marcpopMSFT opened #18183 "Document CopyLocalLockFileAssemblies and how to control copying to output"
_From @KirillOsenkov on Tuesday, April 28, 2020 8:25:20 PM_

See the issue that prompted this:
https://github.com/microsoft/msbuild/issues/5312

We have this article but it's kind of dated:
https://github.com/microsoft/msbuild/blob/master/documentation/wiki/ResolveAssemblyReference.md

We have this:
https://stackoverflow.com/questions/43837638/how-do-i-get-net-core-projects-to-copy-nuget-reference

[2020-04-30 18:16] marcpopMSFT commented on #18183
_From @rainersigwald on Wednesday, April 29, 2020 3:58:14 PM_

This is a .NET Core SDK concept rather than core MSBuild (fuzzy line, of course). I see it mentioned only here: https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support#plugin-with-library-dependencies.

@marcpopMSFT can you help route to SDK docs team?

[2020-04-30 18:17] #18038 closed

[2020-04-30 18:18] marcpopMSFT commented on #18183
@tdykstra This was a doc request filed in the msbuild repo. I moved it over as it relates to the sdk documentation.  Let me know if you need more details on this property.

[2020-04-30 18:44] #17010 closed

[2020-04-30 18:52] IEvangelist commented on #18078
As for the doc suggestions, I would encourage you to create a pull request add a reference to this issue - as those changes are minor. As for the suggestion about changing how the `dotnet new --list` functionality might be improved, you'd have to open an issue in their repo: https://github.com/dotnet/sdk.

[2020-04-30 18:57] IEvangelist commented on #18105
This issue was moved to dotnet/runtime#35671

[2020-04-30 18:57] #18105 closed

[2020-04-30 19:22] nkolev92 commented on #18175
It's always alphabetical.

@VikasAgarwal1984 the tree creation would need to be it's own feature :)

You can file an issue at NuGet/Home for that.

[2020-04-30 19:30] 2jacobtan commented on #18157
I just tried on my computer (dotnet core) and it is fine.

Indeed, looks like this issue is specific to the Mono compiler.

(Thanks for the quick and informative response!!)

[2020-04-30 19:32] IEvangelist commented on #18157
Hi @2jacobtan,

No worries, thank you. I'm going to close this issue now. If you experience anything else that is puzzling or concerning, by all means - please post an issue.

[2020-04-30 19:32] #18157 closed

[2020-04-30 20:08] anirugu commented on #17638
@iBolski I can see that I have posted 20.04 link was initially 404. Now it's pointing to a file. I hope everything will work as expected.

[2020-04-30 20:34] #18175 closed

[2020-04-30 21:06] tdykstra commented on #16732
The Migrate doc is now the first hit for all of these, also for the other permutations mentioned, such as

[2020-04-30 21:06] #16732 closed

[2020-04-30 21:12] gewarren opened #18190 "AppendTargetFrameworkToOutputPath and AppendRuntimeIdentifierToOutputPath"
Extracted from #2642:

* How to specify the build target directory/directories
  * `AppendTargetFrameworkToOutputPath` is useful for single-TFM projects for ppl converting from netfx to netstandard but don't want additional subdirectories in `bin/[Configuration]` to not break existing tooling.
  * Redirect output via `OutputPath` - there have been discussions about `OutDir` vs `OutputPath`
    * `

[2020-04-30 21:15] gewarren opened #18191 "RunWorkingDirectory, RunArguments, and StartupArguments"
Extracted from #2642:

Set startup command line arguments for launching in VS or `dotnet run`:

`RunWorkingDirectory`
`RunArguments`
`StartupArguments`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independent ID: 64b80e80-1c15-c293-466a-918de98e96f6
* Content: [MSBuild p

[2020-04-30 21:18] gewarren opened #18192 "Document CopyLocalLockFileAssemblies"
Related to #2642.

[2020-04-30 21:20] gewarren opened #18193 "DefaultItemExcludes and DefaultItemExcludesInProjectFolder"
Extracted from #2642:

`DefaultItemExcludes `(and `DefaultItemExcludesInProjectFolder`) in addition to `EnableDefaultItems `and `EnableDefaultCompileItems`.

There are some more details on the various switches for default globs. There is also a VS issue for compile items once the glob is turned off: dotnet/sdk#1562 and dotnet/sdk#1157

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-30 21:22] gewarren opened #18194 "SourceLink and EmbeddedSource"
`$SourceLink` and `@EmbeddedSource` to control pdb contents.

Extracted from #2642.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independent ID: 64b80e80-1c15-c293-466a-918de98e96f6
* Content: [MSBuild properties for Microsoft.NET.Sdk - .NET Core](https://docs.microsoft.

[2020-04-30 21:31] gewarren opened #18195 "Document ProjectReference and referencing .dlls"
`ProjectReference` to reference a project.

To reference an assembly:

[code]

https://medium.com/@tonerdo/referencing-a-net-dll-directly-using-the-net-core-toolchain-16f0af46a4dc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independent ID: 64b80e80-1c15-c293-466a-918de9

[2020-04-30 21:43] gewarren opened #18196 "AppendTargetFrameworkToOutputPath and AppendRuntimeIdentifierToOutputPath"
See https://github.com/dotnet/standard/issues/512#issuecomment-332291043 for info.

Extracted from #2642.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independent ID: 64b80e80-1c15-c293-466a-918de98e96f6
* Content: [MSBuild properties for Microsoft.NET.Sdk - .NET Core](h

[2020-04-30 21:50] tdykstra commented on #18192
Duplicate of #18183 ?

[2020-04-30 21:55] gewarren commented on #15151
#2642 is too big, so I'm breaking it up into manageable chunks. Reopening this issue.

[2020-04-30 22:05] gewarren opened #18198 "Remove csproj.md file"
Extracted from #2642. Add a redirect to https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props. Also update any AKA links that might be linking there.

[2020-04-30 22:05] gewarren commented on #2642
I've created manageable chunk issues to track the remaining work on https://docs.microsoft.com/en-us/dotnet/core/project-sdk/msbuild-props. Closing this one out.

[2020-04-30 22:05] #2642 closed

[2020-04-30 22:06] Thraka commented on #13287
@rbhanda @leecow  Can you comment?

[2020-04-30 22:10] gewarren commented on #18192
Oh funny, why yes it is! Closing.

[2020-04-30 22:10] #18192 closed

[2020-04-30 22:16] tdykstra commented on #17681
@kendrahavens who can help with this question?

[2020-04-30 22:16] Thraka commented on #17925
@dagood @rbhanda @leecow Some further thoughts on this.

In addition to my suggestions above, what about combining individual articles into distro family articles? This way you just go to SLES or Ubuntu when you want instructions for that specific distro.

We might be able to do a nice switcher, tab, pane on the top to then break it down by specific version of the distro.

This is what it currentl

[2020-04-30 22:18] gewarren commented on #18196
Dupe of #18190.

[2020-04-30 22:18] #18196 closed

[2020-04-30 22:19] janvorli commented on #13287
I am going to update the https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore30#linux-distribution-dependencies. I am sorry, I've missed @mairaw pinging me  long time ago.

[2020-04-30 23:24] #18149 closed

[2020-05-01 01:43] tdykstra commented on #17857
@donJoseLuis can you help with this?

[2020-05-01 01:44] tdykstra commented on #17064
@Thraka do you know the default installation directory for Linux?

[2020-05-01 02:10] tdykstra commented on #5153
@donJoseLuis can you comment?

[2020-05-01 03:02] naughtyGitCat commented on #18147
Thank you very much , big help

[2020-05-01 04:14] dagood commented on #17925
That sounds good to me. The challenge there will be making sure people notice the version selector well enough--not sure if 1 click vs. 2 clicks will change this a _whole_ lot, but something to consider.

(Getting it wrong for RPMs is likely to block the install because we *usually* need to publish a unique one per distro-version to get the dependencies lined up. For Debian packages, it won't bloc

[2020-05-01 05:00] Ecroyd opened #18201 "Polymorphic deserialization example fails on valid JSON"
The Polymorphic deserialization example on the following url fails on valid JSON

In JSON, An object is an unordered set of name/value pairs (ref https://www.json.org/json-en.html). This means that the JSON from the example:
`[
  {
    "TypeDiscriminator": 1,
    "CreditLimit": 10000,
    "Name": "John"
  },
  {
    "TypeDiscriminator": 2,
    "OfficeNumber": "555-1234",
    "Name": "Nancy"
  }
]`

[2020-05-01 07:10] kuntalbose opened #18203 "Error while adding WSDL service Asp.net Core 3.1 web api"
I am trying to add a service in a .net core 3.1 application .I share my steps with screen shots.

The following is from **.csproj**

[code]

**Step 1**
![image](https://user-images.githubusercontent.com/7402233/80788699-75c70d00-8ba7-11ea-97cb-f10cad472d9a.png)

**Step 2**
![image](https://user-images.githubusercontent.com/7402233/80788812-cd657880-8ba7-11ea-8479-6f6b57557ec2.png)

**Step 3**

![i

[2020-05-01 12:52] #776 closed

[2020-05-01 13:04] gosiaborzecka opened #18204 "Nullable Boolean logical operators"
*  Operator '&' is ambiguous on operands of type '&lt;null&gt;' and '&lt;null&gt;'
*  Operator '|' is ambiguous on operands of type '&lt;null&gt;' and '&lt;null&gt;'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d2d3240-ed65-94f2-335b-3ea483c51a5d
* Version Independent ID: 91eaa72e-c2fc-e0d3-ca11-994aadf02271
* Conte

[2020-05-01 13:15] BillWagner commented on #18182
Thanks for writing this @chetan21k  I'm planning on updates to this content this month. I'll look into ways to enhance this.

[2020-05-01 13:31] BillWagner commented on #18204
Thanks for raising this @gosiaborzecka

I need more information about what you think should change here. I don't see the ambiguity.  This article includes the table from [Nullable boolean operators](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/expressions#nullable-boolean-logical-operators) clause in the standard. The result would be `null` when both operands

[2020-05-01 14:17] omajid commented on #17925
The current Fedora repo file for the Microsoft repo looks like this:

[code]

These repo files can use [some variables](https://unix.stackexchange.com/questions/19701/yum-how-can-i-view-variables-like-releasever-basearch-yum0), like  `$releasever` to make them more generic:

[code]

That might help fix this "I selected the wrong version of the Distro" for RPM-repositories.

[2020-05-01 15:22] #9880 closed

[2020-05-01 15:25] #17378 closed

[2020-05-01 15:25] #14999 closed

[2020-05-01 15:31] tdykstra commented on #18201
@Ecroyd Thanks for pointing this out, we'll add a note about this limitation of the code.

@steveharter FYI

[2020-05-01 15:42] gewarren commented on #18203
@kuntalbose Have you tried using the dotnet-svcutil command instead? Just a thought.

https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x

[2020-05-01 17:17] #18019 closed

[2020-05-01 17:35] Thraka commented on #18203
@gewarren Don't forget to remove the not triaged label when categorizing 😄

[2020-05-01 17:38] Thraka commented on #18174
@mjrousos Perhaps you can comment?

[2020-05-01 17:50] carsonRadtke opened #18207 ""x op= y" is not equivalent to "x = x op y""
Consider this example:

bool b = false;
String s = null;
b = b && s.Length &gt; 0; // no error because evaluation is lazy
b &= s.Length &gt; 0; // crashes (null reference exception) because evaluation is eager

Thus "x op= y" cannot always be replaced by "x = x op y"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d2d3

[2020-05-01 18:08] BillWagner commented on #18207
Thanks for writing this @carsonRadtke

The doc is correct, but misleading.

`&=` is the compound operator form of `&` not `&&`. The `&` operator does not short-circuit, so throwing an exception is correct, and equivalent:

[code]

[2020-05-01 18:17] carsonRadtke commented on #18207
@BillWagner thank you for your response, I missed the "The conditional logical operators && and || don't support compound assignment."

[2020-05-01 18:17] #18207 closed

[2020-05-01 18:59] layomia commented on #17666
Taking a look at the scenario now. @CreepyGnome, can you provide an example of when this is useful?

[2020-05-01 19:23] gewarren opened #18210 "顺序写反了 (The order is the opposite.)"
_From @SuperBeana on Tuesday, April 28, 2020 7:31:34 PM_

https://docs.microsoft.com/zh-cn/dotnet/csharp/tutorials/intro-to-csharp/branches-and-loops?tutorial-step=3
此示例新引入了另外一个运算符。 ++ 变量后面的 counter 是增量运算符。 它负责用计数器值加 1，并将计算后的值存储在计数器变量中。

_Copied from original issue: MicrosoftDocs/feedback#2708_

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 77dec100-463d-f684-03b6-2

[2020-05-01 19:23] gewarren commented on #18210
_From @gewarren on Friday, May 1, 2020 7:22:53 PM_

Translation:

This example introduces another operator. The counter after the variable is the delta operator. It is responsible for adding 1 with the counter value and storing the calculated value in the counter variable.

[2020-05-01 19:28] gewarren opened #18211 "顺序写反了"
_From @SuperBeana on Tuesday, April 28, 2020 7:16:13 PM_

https://docs.microsoft.com/zh-cn/dotnet/csharp/tutorials/intro-to-csharp/branches-and-loops?tutorial-step=2
只有当条件的测试结果为 else 时，才执行 false 关键字后面的语句。 将 if、else 与布尔条件相结合，可以实现所需的一切目标。

_Copied from original issue: MicrosoftDocs/feedback#

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 77dec100-463d-f684-03b6-25f511

[2020-05-01 19:28] gewarren commented on #18211
_From @welcome[bot] on Tuesday, April 28, 2020 7:16:15 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-05-01 19:33] dasetser commented on #18203
@kuntalbose This looks like a bug in the tool where it doesn't work if you only have the .NET Core 3.x SDK installed. We'll work on fixing it, but for now I would suggest installing the .NET Core 2.1 SDK on your machine, which should allow this to run.

[2020-05-01 19:36] gewarren opened #18212 "[C# Documentation, Broken] - Global Attributes doesn't exist"
_From @TCLNA on Friday, April 24, 2020 3:27:43 PM_

**Describe the bug**
Hello there,
In the documentation, the drop-down item **Global Attributes** from `Attributes read by the compiler` redirects to microsoft's main page.

I think it's just a relic since when i try to imitate the issue link (`https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/attributes/general/global-attributes`)

[2020-05-01 19:36] gewarren commented on #18212
_From @welcome[bot] on Friday, April 24, 2020 3:27:45 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-05-01 21:07] bricelam opened #18215 "Add example showing SQLitePCLRaw.provider.sqlite3"
Using the system version of SQLite just got easier in SQLitePCLRaw version 2.0.3. We should add an example showing how to use the SQLitePCLRaw.provider.sqlite3 NuGet package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b40bd2bd-59d9-15dc-244c-458f3de8aa37
* Version Independent ID: c9f7dd88-1824-3935-1063-95009a8a8db

[2020-05-01 22:25] varunmankal opened #18216 "dotnet add package returns local source not found"
I have added my private source to NuGet.config file. when I run `dotnet nuget list source` it displays the following sources:
* nuget.org
* myprivate

Now, If I want to install a package from myprivate source then I try to run the following command:
`dotnet add package <packageName> -s myprivate`
then it returns an error saying the source `myprivate` not found.
If I run the same command using the

[2020-05-01 22:36] mairaw commented on #18170
The only drawback I can think of is during consolidation efforts like the LINQ to XML project that we're doing right now. Instead of dealing with PRs in a single repo, now you'd have to coordinate massive content moves between different repos. And because the content is not on the same docset, the BI data cannot flow to the redirected articles.

But I see the appeal to have smaller repo sizes and

[2020-05-02 00:15] #17874 closed

[2020-05-02 00:43] wes-novack commented on #17857
Same issue on Fedora 32

[2020-05-02 01:00] davrob01 opened #18219 "InheritDoc - Can it be used when the interface is referenced from a nuget package?"
This is regarding the XML Documentation inheritance when implementing an interface.

I noticed that the intellisense for a class automatically contains the interface's XML documentation when the method has no XML documentation of its own.

However, this does not seem to work when the Interface is referenced from a nuget package. Is there an easy way to get this to work? I tried using `/// <inherit

[2020-05-02 01:39] davrob01 commented on #18219
This is resolved. I realized that I was not including XML documentation when generating my nuget package that contained the interface.

I had to do this to include it:
[code]
https://stackoverflow.com/a/58165750/1839956

[2020-05-02 01:39] #18219 closed

[2020-05-02 04:18] kuntalbose commented on #18203
@dasetser Thanks for your suggestion .I already report [here](https://developercommunity.visualstudio.com/content/problem/1015110/error-while-adding-wsdl-service-aspnet-core-31-web.html) .If I install 2.1 SDK on my local machine to do this ,is it need to install in server?If so then its not help full for me .Because application hosted in a shared hosting and I have no access.

[2020-05-02 05:18] darkoverlordofdata opened #18220 "this does not work"
The following packages have unmet dependencies:
 dotnet-sdk-3.1 : Depends: dotnet-runtime-3.1 (&gt;= 3.1.3) but it is not going to be installed
                  Depends: aspnetcore-runtime-3.1 (&gt;= 3.1.3) but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-02 07:10] Ma3yTa opened #18222 "What is channel for .net 5.0"
doesn't work
./dotnet-install.ps1" -Channel 5.0 -InstallDir C:\dotnet
./dotnet-install.ps1" -Channel preview/5.0 -InstallDir C:\dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts - .

[2020-05-02 07:57] #18222 closed

[2020-05-02 07:58] Ma3yTa commented on #18222
works with
[code]

[2020-05-02 08:13] preeder commented on #17017
If you need something right now, you could use my tool that supplies this snapshot functionality:

https://github.com/preeder/dotnet-counters-snapshot

[2020-05-02 11:42] djary opened #18223 "dotnetstandard 2.1 c# 8 and The event can only appear on the left hand side of += or -="
I'm using dot net standard 2.1 and c# 8, I want to create an event for my class (interface), I follow [this tutorial](https://docs.microsoft.com/en-us/dotnet/standard/events/#events) and I wrote an interface:

[code]
but take me an error:

I proceeded with this training, so where is the problem?
[stackoverflow link](https://stackoverflow.com/questions/61558648/the-event-can-only-appear-on-the-left

[2020-05-02 13:30] #8804 closed

[2020-05-02 13:30] #17103 closed

[2020-05-02 13:30] #17191 closed

[2020-05-02 13:30] #17788 closed

[2020-05-02 13:30] #17903 closed

[2020-05-02 14:31] daniel134256 opened #18225 "Additional Advice: ConfigureAwait and ValueTask"
Great article!

I found the last section (Important Info and Advice) particularly useful. I was wondering if there's a place for adding the case for ConfigureAwait and ValueTask (separately) as well.

From my experience, although async/await and tasks are powerful abstractions, and developers adopt them fast, some threat them as "magic" and sooner or later find themselves in a bind. I think your o

[2020-05-02 15:00] Biep commented on #18220
I have a comparable issue.
De volgende pakketten hebben niet-voldane vereisten:
 dotnet-sdk-3.1 : Vereisten: dotnet-runtime-3.1 (>= 3.1.3) maar het zal niet geïnstalleerd worden
                  Vereisten: aspnetcore-runtime-3.1 (>= 3.1.3) maar het zal niet geïnstalleerd worden
E: Kan problemen niet verhelpen, u houdt defecte pakketten vast.

[2020-05-02 15:23] Biep opened #18226 "Changing to 20.04 leads to "package not found""
Running this, with all the 19.10s changed to 20.04s, doesn't add any dotnet packages to apt.  When leaving the 19.10, it leads to the unmet dependency errors described in the feedback named "this does not work".  So no solution, it seems..

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: b5cbe58d-ad05-60f

[2020-05-02 15:51] moerwald opened #18227 "Typo in "Default interface methods""
"Default interface methods affects". I think it should be "affect" instead of "affects"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's new in C# 8.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/

[2020-05-02 16:54] svick commented on #18226
See https://github.com/dotnet/core/issues/4360. There are no official packages for 20.04 yet, though if you want, you can try the workarounds mentioned in that issue.

[2020-05-02 17:11] pkulikov commented on #18204
@BillWagner the following code produces the CS0034 error mentioned in the first message:

[code]

However, the following compiles:

[code]

And with another type as well:
[code]

So, I guess that in the first case (with two `null` literal values`), the compiler cannot infer the type of the operands. By the way, the compiler error message seems to be buggy.

@gosiaborzecka is this the way you've go

[2020-05-02 22:14] cartermp commented on #18225
@daniel134256 good feedback! Yes, some guidance on `ConfigureAwait` and `ValueTask` would be a good thing to add.

[2020-05-03 01:20] nvmkpk opened #18230 "Is this article update for .net core 3.1?"
AppContext.GetData("APP_PATHS") returns null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c73a9cdd-9378-bc27-fcda-8804ebb9c9ce
* Version Independent ID: bd57feac-b27d-e56c-aad4-a637505a9206
* Content: [Default probing - .NET Core](https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing?source

[2020-05-03 01:56] perrog opened #18231 "http://wpad/wpad.dat"
Step 4 could mention try visit http://wpad/wpad.dat to load the configuration file, so readers experience  Eureka how auto-proxys work. ”DNS is queried for a host with WPAD as its name or alias” is functionally correct but summary the full WDAP protocol in one single sentence,which makes it hard to understand.

This legacy MSDN article is very useful:
https://docs.microsoft.com/en-us/archive/msdn-

[2020-05-03 05:43] ericdransfeldt opened #18232 "Auto.ML.0.16.0 and System.Memory 4.0.1.0"
Hi,

I love the Microsoft.ML and AutoML platforms but am having an issue when I upgraded my AutoML version via NuGet. When I upgraded from Microsoft.ML.AutoML from version 0.15.0 to 0.16.0 I started getting an error when I ran my code. Nothing changed in my source code except to recompile. It seems like it can't find System.Memory 4.0.1.0.

Could not load file or assembly 'System.Memory, Version=4

[2020-05-03 09:21] kirkula opened #18233 "Step 4: Work with the double type."
Near the end, you write "You know that 0.3 repeating is not exactly the same as 1/3." This is not correct. 0.3 repeating IS exactly 1/3, just as 0.9 repeating equals 1. That being said, using the code to come up with 0.333333333333333 does show that it doesn't provide exact accuracy. I believe using 2/3 would be better suited though, as that answer would print out as 0.666666666666667, which is mo

[2020-05-03 09:22] Biep commented on #17638
I did this, but the dotnet packages still weren't there.

[2020-05-03 09:51] KalleOlaviNiemitalo opened #18234 "The file should be named App.config if added to a C# or VB project"
If you are adding an application configuration file to a C# or Visual Basic project, then you should name it App.config rather than *appName*.exe.config, and the item type should be None or Content. This is because the FindAppConfigFile task in MSBuild specifically checks for the App.config name (case insensitive) and those item types. If you use a different name, then the build system neither rec

[2020-05-03 10:43] pavangayakwad opened #18235 "Please publish Dotnet core install instructions for Ubuntu 20.04"
Please update document to help us install Dotnet core on Ubuntu 20.04. As of now 19.10 commands on Ubuntu 20.04 are failing.

![image](https://user-images.githubusercontent.com/1834890/80912189-e3ff0180-8d58-11ea-8a08-a01a95ba973e.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cbe58d-ad05-60fd-47d7-0d9ccfeecde4

[2020-05-03 10:45] pavangayakwad commented on #18235
duplicate issue. sorry, closing it.

[2020-05-03 10:45] #18235 closed

[2020-05-03 11:50] asm2025 opened #18236 "Using the <inheritdoc /> Tag"
Hello,

I want to thank you for the new updates of Visual Studio IDE and all the shiny .netCore. I think the documentation is not cathing up though and might need to be updated to reflect some basic use-case scenarios.

Comparing Microsoft's documentation link:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/inheritdoc
to something like:
https://tunnelvisionlabs.github.io/S

[2020-05-03 13:03] Dutchglory commented on #18220
The following packages have unmet requirements:
  dotnet-runtime-deps-3.1: Requirements: libicu but it is not installable or
                                       libicu63 but it is not installable or
                                       libicu60 but it is not installable or
                                       libicu57 but it is not installable or
                                       libic

[2020-05-03 13:05] Biep commented on #18220
The following solves it:
wget http://mirrors.edge.kernel.org/ubuntu/pool/main/i/icu/libicu63_63.2-2_amd64.deb
sudo dpkg -i packages-microsoft-prod.deb
sudo apt update

[2020-05-03 13:14] tzkhan opened #18237 "Mention target framework requirements for nullability attributes to work"
The documentation mentions the assumption for C# 8.0 and enabled nullable context in order to use the various nullability attributes (`AllowNull`, `DisallowNull`, etc).

It should also however, specify the target frameworks required to use them:
- NET 5 Preview 1
- .NET Core 3.1 3.0
- .NET Standard 2.1

Someone trying to use these attributes within a .NET Standard 2.0 class library for instance, w

[2020-05-03 15:45] NextTurn commented on #17795
At least it has been there since .NET Core 2.0 according to dotnet/sdk#9012.

[2020-05-03 17:09] darkoverlordofdata commented on #18220
Close, but that also get's an error:
sudo dpkg -i packages-microsoft-prod.deb
dpkg: error: cannot access archive 'packages-microsoft-prod.deb': No such file or directory
darko@barsoomian:~$

So I tried it this way and it works now:
sudo dpkg -i ./libicu63_63.2-2_amd64.deb

[2020-05-04 01:29] luisquintanilla commented on #18232
Hi @ericdransfeldt ,

Sorry to hear you're having trouble. Thanks for raising this issue. Since this is more of a product question, I've moved it to the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo. You can track the discussion at dotnet/machinelearning#5086

For future reference when raising issues:

- ML.NET/AutoML related issues & questions: https://github.com/dotnet

[2020-05-04 01:29] #18232 closed

[2020-05-04 02:19] ericdransfeldt commented on #18232
Thanks Luis!

I thought I was in the product area. Which area did I post to?

Thanks for your help!

Cheers,
Eric

[2020-05-04 02:30] luisquintanilla commented on #18232
You were in the right product but you raised the issue on Docs repo. Docs related issues are something like there's a typo in a tutorial or the code is wrong in a sample. This is more of a product related issue, so the dotnet/machinelearning repo is the best place for it. From Docs, if you click **This product** it should take you to the right place and if not, feel free to let us know 😃 .

![imag

[2020-05-04 02:56] ericdransfeldt commented on #18232
Great, thank you!

Cheers,
Eric

[2020-05-04 04:50] sdmaclea commented on #18230
I believe the default host fully populated `TRUSTED_PLATFORM_ASSEMBLIES`, but does not configure any default probing paths.  So `APP_PATHS` is likely `null`

/cc @vitek-karas @elinor-fung

[2020-05-04 05:24] kenwithee commented on #13821
Took a little while to track down but looks like they moved to docs repo here: https://github.com/dotnet/docs/tree/master/samples/snippets/csharp/tour-of-async/AsyncBreakfast-final with the implementations in the Program.cs file here: https://github.com/dotnet/docs/blob/master/samples/snippets/csharp/tour-of-async/AsyncBreakfast-final/Program.cs

[2020-05-04 06:23] inikulshin commented on #12110
Hi

I reproduced this one with
`ServicePointManager.CheckCertificateRevocationList = true;`
and **expired** CRL

InnerException was
HResult=0x80131501
Message=The remote certificate is invalid according to the validation procedure.

[2020-05-04 08:27] weitzhandler opened #21231 "Async service initialization"
Hi,

Please document what's the proper pattern to register a service that require asynchronous initialization, after it's resolved, but before it's actually provided.

---
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd55089-b683-2202-6641-c7b61a132f14
* Version Independent ID: cc5f00d0-fb50-1229-8fa2-e66b1f45b284
*

[2020-05-04 08:35] aik-jahoda commented on #16990
@karelz I will fill it

[2020-05-04 09:31] Mizux commented on #18019
FYI the page https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-centos8 is still not in the "toc tree" in the left and you can't select it from the drop down menu (currently I see `Ubuntu 19.10`) selected

[2020-05-04 09:55] Mizux commented on #18226
duplicate of #17638 -_-

[2020-05-04 10:05] Mizux commented on #17638
Seems the repo is here but not the package
[code]

[2020-05-04 13:01] omajid commented on #18019
Doh. Forgot to do those changes. Let me open a new PR

[2020-05-04 14:31] IEvangelist commented on #18227
Hi @moerwald,
Thanks for posting this issue. I added the `up-for-grabs` label on this issue, and hope that you'd be willing to send a pull request our way. Feel free to propose the change with the "Edit" button on the article - https://github.com/dotnet/docs/edit/master/docs/csharp/whats-new/csharp-8.md. Otherwise, we will try to get to this change sometime later.

[2020-05-04 14:41] IEvangelist commented on #18223
Hi @djary,

Thank you for posting this issue. You're actually deviating from the tutorial, in the tutorial it shows how to use events with a `class`. Instead, you're attempting to use an `interface` with a default method implementation. This happens when using a default method implementation with an `interface`. If you change from an `interface` to a `class`, like demonstrated in the tutorial this

[2020-05-04 14:46] #18223 closed

[2020-05-04 14:49] BillWagner commented on #18237
Thanks for writing this @tzkhan That's a good point.

I think the right plan is to expand the fix for this issue to add a note on all C# 8 related content that C# 8 is supported only on those TFMs.

Thoughts @cartermp @MadsTorgersen ?

[2020-05-04 14:52] BillWagner commented on #18236
Adding @mikadumont to discuss the correct fix for this.

[2020-05-04 14:55] BillWagner commented on #18225
Note on title update: I added the note on APIs so I can find this easier.

[2020-05-04 14:56] SangeetAgarwal commented on #17555
I'm developing a .net core 3.1 app but it has to consume a .nuget package that targets net45/net461/net451 framework.

If for the new .net core 3.1 app, I choose target framework as .netcoreapp3.1 then it wouldn't work.

Which framework should I then target, .net Standard 1.1?

Are there any trade-offs for using say .net standard 1.1 as the target framework instead of .netcoreapp3.1?

[2020-05-04 14:59] BillWagner commented on #18233
Good point @kirkula I updated that description in #18248 to fix this.

[2020-05-04 15:00] tdykstra opened #18249 "Link to Rune API ref from corresponding Char API ref"
Also link to this article from the class overview Remarks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6cf7421-fbd2-0ca0-7385-4df65531fd66
* Version Independent ID: d53a0764-9f27-16b3-c40a-9627dd1bcc0d
* Content: [Introduction to character encoding in .NET](https://docs.microsoft.com/en-us/dotnet/standard/base-type

[2020-05-04 15:09] aik-jahoda opened #18250 "Changed cancelation behavior of WebClient.CancelAsync()"
## Changed behavior of WebClient. CancelAsync()

Changed cancelation behavior of `WebClient.CancelAsync()`.

### Version introduced

2.0

### Old behavior

`WebClient.CancelAsync()` cancels the request immediately.

### New behavior

`WebClient.CancelAsync()` cancels the request immediately only when the response didn't start to fetch yet. When the response starts to fetch the cancellation happens

[2020-05-04 15:11] aik-jahoda commented on #16990
There is the breaking change issue: https://github.com/dotnet/docs/issues/18250

[2020-05-04 15:17] #8980 closed

[2020-05-04 15:17] #17457 closed

[2020-05-04 15:45] karelz commented on #18231
@perrog do you mean adding something like "(looking for file http://wpad/wpad.dat)" in step [3]? (not 4 as you mentioned)
I am not familiar with WDAP protocol, but if there is confirmation somewhere, this is the URL that is always searched for (and there are no alternatives/configurations), I wouldn't mind mentioning it here.
Going into depth of WDAP protocol is IMO beyond the scope of this articl

[2020-05-04 15:55] davidsh commented on #18231
This is the best documentation for WPAD protocol, PAC files, etc.
http://findproxyforurl.com/

[2020-05-04 15:57] #5296 closed

[2020-05-04 15:57] #14066 closed

[2020-05-04 15:57] karelz commented on #18231
Is it something you would recommend to link from the article? Or maybe apply some of the suggestions above @davidsh?

[2020-05-04 15:58] IEvangelist commented on #14066
Hi @phlegethon,
Added example usage of `TryRemove` and clean up doc. https://github.com/dotnet/docs/pull/18247

[2020-05-04 15:59] IEvangelist commented on #5296
Hi @javierdlg,
Added example usage of `TryRemove` and clean up doc. https://github.com/dotnet/docs/pull/18247

[2020-05-04 16:19] davidsh commented on #18231
Yes, probably a mixture of both ideas. Summarize some of the important points but add a link to this website since we don't want to replicate all of the information in our docs itself.

[2020-05-04 16:43] gewarren commented on #18250
Thank you Jan!

[2020-05-04 16:58] CeciAc opened #18251 "Error in UdpClient example"
@decvs commented on [Sat May 02 2020](https://github.com/dotnet/docs.de-de/issues/195)

The example leads to the error: You must call the Bind method before performing this operation.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 2f7ffdc6-548a-fd6e-c4ed-27c2c497abb0
* Version Independe

[2020-05-04 17:00] mcopeland-clgx commented on #10382
Many production servers do not have the developer command line installed. How are we to view the contents of the GAC in this situation?

[2020-05-04 17:09] Thraka commented on #18234
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2020-05-04 17:10] Thraka commented on #18226
Duplicate of #17638

[2020-05-04 17:10] #18226 closed

[2020-05-04 17:24] tdykstra commented on #17795
@sfoslund This issue wasn't attached to the `dotnet publish` article when you reviewed the doc for #15519.  Should we say anything about the `PublishDir` property in the `dotnet publish` article other than the note about differences between `--output` and `-p:PublishDir` in 3.x?

[2020-05-04 17:34] Thraka commented on #18220
@rbhanda @leecow can you help?

[2020-05-04 17:56] cartermp commented on #18237
I think that's reasonable, yes

[2020-05-04 17:59] #18195 closed

[2020-05-04 18:05] dasetser commented on #18203
@kuntalbose No, you don't need to install it on the server too. You can continue to use .NET Core 3.1 on your client app as well. The only reason to install the 2.1 SDK is because that's what the tool needs to run. It won't impact the proxy that the tool generates.

[2020-05-04 18:08] sfoslund commented on #17795
@tdykstra I think what's there already is sufficient. Not sure what else we would add unless we want to explicitly call `PublishDir` out as a relevant property (similar to what we do for `PublishReadyToRun` and `PublishSingleFile`, listing them as options). Again, not sure this will add any clarity so might not be necessary.

Also, so you're aware Livar (livarcocc) left the team several months ago

[2020-05-04 18:13] tdykstra commented on #17795
Thanks, @sfoslund !

[2020-05-04 18:13] #17795 closed

[2020-05-04 18:19] Thraka commented on #18216
I don't believe this is the way it operates. I'm moving your issue to the nuget repository.

[2020-05-04 18:20] Thraka commented on #18216
This issue was moved to NuGet/Home#9511

[2020-05-04 18:20] #18216 closed

[2020-05-04 19:15] BillWagner commented on #17297
Update from meeting with @Thraka on 5/4:

- Snippets that weren't referenced in docs or dotnet-api-docs weren't moved. So that task is done.
- We are rethinking the use of dependabot on the docs and dotnet-api-docs repos. Since we don't expect customers to download the snippet-based samples, we are less concerned that they use the latest versions.

Next steps:
- Remove /snippets from the samples r

[2020-05-04 19:20] BillWagner commented on #14822
Update from meeting with @thraka on 5/4:

- The full build should issue a warning on code that's been found in folders without a *.*proj file.
- PR builds should issue an error on code (in the PR) that is in a folder without a *.*proj file. That forces each PR to ensure that code is in a project that builds.

[2020-05-04 20:02] Angelo69767 opened #18254 "ServiceLayer.exe"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0ad4c6-13f4-9fb3-e4e9-5d70a6cde5fc
* Version Independent ID: 39ac04e7-703a-2e91-7272-4f3af2ba9a59
* Content: [ServiceLayer Class (Microsoft.CodeAnalysis.Host.Mef)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.host.mef.servicela

[2020-05-04 20:03] #18233 closed

[2020-05-04 20:07] Thraka commented on #18170
@mairaw Thank you for pointing that out. I've appended that information to the original comment.

[2020-05-04 20:08] Thraka commented on #18170
ping for thoughts @luisquintanilla @natke

[2020-05-04 21:25] v-radelg opened #18255 "Unable to install on Ubuntu20.04"
@F-Unction commented 2 days ago — with docs.microsoft.com

dotnet-sdk-3.1-&gt; dotnet-runtime-3.1-&gt; dotnet-runtime-deps-3.1-&gt; libicu63
But only libicu66 in the system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5cbe58d-ad05-60fd-47d7-0d9ccfeecde4
* Version Independent ID: c9773e9b-dbc1-cb7b-b303-287cf8bd354c

[2020-05-04 21:35] iBolski commented on #18255
Your best bet is to manually install the SDK. YOu can either download the tarball yourself and extract it to a folder in your home directory and update your $PATH variable to point to that folder, or you can use the automated install shell script to specify which version you want and where to install it.

dotnet-install.sh --channel 3.1 --install-dir ~/dotnet3.1

Will download, untar and install t

[2020-05-04 22:06] dgkoris opened #18256 "An example and a further explanation would be nice"
This help page doesn't say much about what the #pragma does and it would be nice to have at least an example. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b6c1f4-889c-fef4-f15d-b32e3a714c10
* Version Independent ID: 7ef6f711-b7bc-63d1-cab8-34242edd619f
* Content: [#pragma - C# Reference](https://docs.mic

[2020-05-04 23:08] tdykstra commented on #18016
@donJoseLuis ping

[2020-05-04 23:20] leecow commented on #18220
What version of Ubuntu are you trying to install to? If it's 20.04, those packages (and install instructions) will be available 5/12.

[2020-05-04 23:56] gewarren commented on #18251
It worked for me using .NET Framework too.

[2020-05-04 23:58] gewarren commented on #18251
I'm going to close this issue as not reproducible. @decvs If you still believe there's a problem in the documentation, please comment here.

[2020-05-04 23:58] #18251 closed

[2020-05-04 23:59] gewarren commented on #18254
@Angelo69767 Could you provide some more info on the issue at hand?

[2020-05-05 00:00] NJSFC opened #18257 "How to inpect fixed buffers in the debugger ?"
In your example
internal unsafe struct Buffer
{
    public fixed char fixedBuffer[128];
}

how can i watch  the fixedBuffer[128] contents  In the debugger ??
only shows the first value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5e17dd8-f60c-5a5d-517f-61bb95e94667
* Version Independent ID: c9d34513-107b-0b82-cf77-

[2020-05-05 07:02] impr0t commented on #7419
Came here specifically for this. Can we please get documentation on exit codes? @noahfalk @sergiy-k

[2020-05-05 07:13] noahfalk commented on #7419
Adding some folks on the .NET team who may know who is tending to ngen.exe these days?
@fadimounir @davidwrighton @nattress

(@sergiy-k has since left the team)

[2020-05-05 08:56] byroniac commented on #18255
The way I'm currently doing it on 20.04 is that I installed the snap "sudo snap install dotnet-sdk". Then I would ordinarily do a "sudo snap alias dotnet-sdk.dotnet dotnet" to create a "dotnet" alias for the operating system. However, in my case I am using the snap versions of Visual Studio Code and Insiders, and they do not see dotnet available for some reason. So I did a "sudo ln -sv /snap/dotne

[2020-05-05 10:02] svick commented on #18255
See https://github.com/dotnet/core/issues/4360. The official packages for Ubuntu 20.04 should be released on 12 May. In the meantime, you can try the workarounds mentioned in that issue, if you want.

[2020-05-05 12:19] crnegule opened #18262 "dotnet gitignore file"
Update documentation to include details about "dotnet gitignore file" command. It would be nice to have a short description and example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b952f8a-18e1-4843-0741-6ca877fb303a
* Version Independent ID: d80dfb96-bc86-a960-abec-255dd907d04d
* Content: [dotnet new command - .NE

[2020-05-05 12:25] Nirmal4G opened #18263 "Tab Completions for CMD?"
Is there any way to provide custom tab completions for `CMD` too? Is it even possible?

Can anyone from commandline team comment on this? /cc @zadjii-msft @cinnamon-msft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 341f0255-aa31-8e76-9b17-1232b7a910a9
* Version Independent ID: f30f63dc-0d90-7dba-ef39-b0148c637c1a
* C

[2020-05-05 12:33] zadjii-msft commented on #18263
Pretty much no, `cmd.exe` doesn't support anything like this. CMD is a pretty legacy piece of software, if you'd like a shell with modern CLI features on Windows, the guidance is largely just "use PowerShell or WSL"

[2020-05-05 14:36] hoksource commented on #9601
any updates on this? is there a way to link a 3rd party dll to a .net core or .net framework project?

[2020-05-05 14:52] BillWagner commented on #18257
Thanks for asking this @NJSFC

You can add an index operator to the expression and examine any single value:

`fixedBuffer[5]` will show the value at index 5.

I'll close this as an answered question. If you have more questions, add a comment and reopen the issue.

[2020-05-05 14:52] #18257 closed

[2020-05-05 14:57] BillWagner commented on #18256
Thanks for reaching out @dgkoris

This page is a landing page for the two `#pragma` directives supported by C#. Both links are on this page for more details.

I'll close this as an answered question.

[2020-05-05 14:57] #18256 closed

[2020-05-05 14:59] BillWagner commented on #18210
I'm making updates in this area now, so I'll add this to the current sprint.

[2020-05-05 15:02] BillWagner commented on #18211
The original text translate to this:

@JasonCard Could this be a translation issue?

[2020-05-05 15:05] tdykstra commented on #18262
Thanks for the suggestion. We'll add this the next time we update the doc.

[2020-05-05 15:15] runemoberg opened #18264 "Link to the 'other' page?"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests was more useful to me. Perhaps shorten this page and provide a link to the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 24434b0e-0b82-e477-9440-2cc8f135df75
* Content: [Use IHt

[2020-05-05 15:56] #5780 closed

[2020-05-05 16:09] jcouv commented on #18097
There is no reference to `WINDOWS_UWP` in the roslyn codebase.
Search for that exact string on stackoverflow yield [some results](https://stackoverflow.com/search?q=%22WINDOWS_UWP%22) that may help.

[2020-05-05 16:09] vitek-karas commented on #18230
@sdmaclea is correct. `APP_PATHS` and `APP_NI_PATHS` are not populated by default. They are present mostly for backward compatible reasons, any recent apps should not need the runtime to perform any probing (as in searching through folders to find assembly) and should solely rely on `TRUSTED_PLATFORM_ASSEMBLIES`.

I created https://github.com/dotnet/docs/pull/18265 to add a note that these two pro

[2020-05-05 17:27] IEvangelist commented on #18263
Hi @Nirmal4G,

Thank you for asking this question, and thank you @zadjii-msft for the quick reply. I'm going to close this now as it seems a though it has been resolved.

[2020-05-05 17:27] #18263 closed

[2020-05-05 17:28] gewarren commented on #16990
Closing this. Thanks for adding the BC!

[2020-05-05 17:28] #16990 closed

[2020-05-05 18:44] JasonCard commented on #18211
Yes, this appears to be translation issue. It looks like "else" and "false" should be reversed in the translation.
@DavidPrio could you please help to follow up on this issue?

[2020-05-05 18:47] srvbpigh commented on #18211
Hello, @gewarren

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-05 20:40] NJSFC commented on #18257
Thanks for your response
What i meant was to inspect the contents as array not a single value at time.
if i need to do that i spent more time debbuging than fixing the errors.
Its not viable to inspect  all the array elements one by one.

[2020-05-05 20:41] CeciAc commented on #18211
Issue moved to [dotnet/AspNetCore.Docs.zh-cn #263](https://github.com/dotnet/AspNetCore.Docs.zh-cn/issues/263) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-05 20:45] CeciAc commented on #18211
Issue moved to [dotnet/docs.zh-cn #580](https://github.com/dotnet/docs.zh-cn/issues/580) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-05 20:54] weitzhandler commented on #18097
It's [here](https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/building-cross-platform-applications/platform-divergence-abstraction-divergent-implementation#universal-windows-platform-uwp) and [here](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting#multi-targeting) ([credit](https://stackoverflow.com/a/47290509/75500)).

[2020-05-05 20:57] Angelo69767 commented on #18254
I was going to look for software for my Nokia 5800. That's it.

On Tue, 5 May 2020 at 01:00, Genevieve Warren <notifications@github.com>
wrote:

[2020-05-05 21:00] gosiaborzecka commented on #18204
I was looking only at the table and don't remember this text before:
[code]

The error is showing when you, for example, use simple
`Console.WriteLine(null | null);`

[2020-05-05 21:00] #18204 closed

[2020-05-05 21:25] tdykstra commented on #18170
There's a lot of overlap/interconnections between the .NET and Code Languages areas.  What would be the downside of keeping those together in one repo? If versioning is the main motivation for splitting them, I'm not sure that the benefits of splitting them outweigh the disadvantages.

[2020-05-05 21:28] #18250 closed

[2020-05-05 21:46] luisquintanilla commented on #18170
Thanks for the mention @Thraka . Removed Natalie, since she's no longer with us :(. I'll take a look and provide my thoughts.

[2020-05-05 21:59] Rick-Anderson commented on #18255
Dup of #18220
Recommend closing both. Perhaps updating doc with this information.
cc @Thraka

[2020-05-05 22:03] Rick-Anderson commented on #18220
Dup of #17638 and Dup of #18255

[2020-05-05 22:44] Rick-Anderson commented on #18255
@v-radelg  please review open and closed issues before opening a new issue.

[2020-05-05 23:20] ILMTitan opened #18271 "Inconsistent definition of constant_pattern"
The definition of `constant_pattern` is inconsistent.

In the main block it is defined as
[code]

but in its own section, it is defined as
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9a3af6a-59dd-775a-a008-1530bba493f5
* Version Independent ID: 95639e9c-9432-b07b-5fc2-f30d7bab0123
* Content: [Recursive patte

[2020-05-05 23:35] gewarren commented on #17838
@tannergooding Do the API docs for those methods need to add a note to say that the behavior has changed?

[2020-05-05 23:39] mconnew commented on #12110
@inikulshin, you need to look at the property ClientCredentials.ServiceCertificate.SslCertificateAuthentication. This will initially be null so you need to instantiate and set a new instance of [X509ServiceCertificateAuthentication](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.security.x509servicecertificateauthentication?view=netframework-4.8). There are multiple properties on

[2020-05-05 23:41] tannergooding commented on #17838
Yes, that would probably be worthwhile. I'll see about getting a PR up that adds one.

[2020-05-06 00:38] BenVillalobos commented on #10031
Thanks @nguerrera (and this is late but welcome back!).

@gewarren this is definitely a breaking change for anyone migrating from .NET Framework to .NET Core 3.0+. See https://github.com/dotnet/sdk/pull/3533/files#diff-a623537ebee239407a19ac49d9cdc9a3R100, we default to using dependentupon convention only in .NET Core 3.0+. So anyone expecting a 1:1 transition (at least in terms of resources) will

[2020-05-06 01:41] #17838 closed

[2020-05-06 01:43] gewarren commented on #17838
@tannergooding One more question, is it all the overloads of the Sse2 methods, or just the ones that accept `Vector128<Double>`?

[2020-05-06 01:44] tannergooding commented on #17838
Just the methods that take `float` (SSE) or `double` (SSE2)

[2020-05-06 03:16] DavidAnson opened #18275 "GitHub Action is opting this project into semver-breaking changes to markdownlint-cli"
Running a command like `npm i -g markdownlint-cli` always pulls the latest version of that package, _including_ when it has a semver-breaking change:
https://github.com/dotnet/docs/blob/5860bb8a257b581fe809710c51de8662598edd2d/.github/workflows/markdownlint.yml#L26

Doing that from a continuous integration script makes it likely that breaking changes will show up as part of a completely different

[2020-05-06 11:09] JulianLao opened #18277 "Confusing on statements"
On this page, it's told that “In C#, derived classes can contain methods with the same name as base class methods. The base class method must be defined virtual.” But on the page of [new modifier (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/new-modifier), it seems like this statement is wrong. None of bass classes in the examples has a virtual key word

[2020-05-06 13:27] Mark-Phillipson opened #18279 "Required Attribute"
The starship model has the Required attribute set for the ProductionDate and the IsValidatedDesign. Given that these data types are not nullable I presume the attributes have no actual effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b44a252f-fda0-acc2-e672-630386674d70
* Version Independent ID: 5d880efd-cdab-373

[2020-05-06 13:48] nishanil commented on #17535
Thanks, Jeremy. Summary added as part of https://github.com/dotnet/docs/pull/17971
Closing this.

[2020-05-06 13:48] #17535 closed

[2020-05-06 14:24] BillWagner commented on #18211
closing this as a translation issue.  Thanks all for following up.

[2020-05-06 14:24] #18211 closed

[2020-05-06 14:30] BillWagner commented on #18097
ping @davidbritch Do you know more about the UWP flag here?

[2020-05-06 14:31] BillWagner commented on #18271
ping @gafter

[2020-05-06 14:37] BillWagner commented on #18277
Thanks for writing this @JulianLao

That statement should be amended. `virtual` and `new` have different purposes and different behavior. The incorrect statement should be removed. Instead, we should describe how `virtual` and `override` work together, and refer to the page on the `new` operator for its use and behavior.

[2020-05-06 14:44] IEvangelist commented on #18275
Thank you @DavidAnson, this was very helpful. We've addressed this issue in #18280

[2020-05-06 14:47] #18275 closed

[2020-05-06 15:07] dazinator commented on #15881
I just made the same mistake :-(

[2020-05-06 15:59] #18249 closed

[2020-05-06 16:10] DavidAnson commented on #18275
Wonderful, thank you!

[2020-05-06 16:44] tmeschter commented on #10031
@BenVillalobos I'm not sure I can be much help here. The change I made in dotnet/templates was in response to `EnableDefaultEmbeddedResourceItems` being _disabled_. I don't really know how `EnableDefaultEmbeddedResourceItems` is implemented.

[2020-05-06 17:02] andreso-connecterra opened #18284 "Minor grammar mistake"
The phrase "the likelihood that at least one instance of the behavior will fail to be updated will result in inconsistent behavior of the system" is missing an "and" here:

"the likelihood that at least one instance of the behavior will fail to be updated [AND] will result in inconsistent behavior of the system"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-05-06 17:06] #18255 closed

[2020-05-06 17:06] Thraka commented on #18255
Duplicate of #17638

[2020-05-06 17:06] Thraka commented on #18220
Closing with the assumption the customer is trying to install on 20.04

[2020-05-06 17:07] Thraka commented on #18220
Duplicate of #17638

[2020-05-06 17:07] #18220 closed

[2020-05-06 17:10] Thraka commented on #18178
@bekakst The article indicates that you should leave feedback on https://github.com/dotnet/wcf/issues/new

[2020-05-06 17:10] #18178 closed

[2020-05-06 19:18] CeciAc opened #18287 "Error on variable"
The comments below were machine-translated

@jams6 commented on [Wed May 06 2020](https://github.com/dotnet/docs.es-es/issues/162)

Hello
I get an error on the following instruction:

 string? item;

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent I

[2020-05-06 19:18] CeciAc opened #18288 "Error en variable"
@jams6 commented on [Wed May 06 2020](https://github.com/dotnet/docs.es-es/issues/162)

[Que tal
tengo error en la siguiente instrucción
 string? item;]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent ID: e186d0c4-523e-38f7-2cde-d00109ea784b
* Cont

[2020-05-06 19:58] IEvangelist commented on #18287
Hi @jams6,
You have to turn the nullable option on.

[code]

Please let me know if this helps.

[2020-05-06 20:18] DougSteiert commented on #6070
This is still not fixed, despite being removed from Backlog.

[2020-05-06 20:23] kgopi1 opened #18289 "Ubuntu page is not available."
Hi, when we running ansible playbook for downloading the deb file, URL shows page not found.
It is due to ansible_distribution resolves to Ubuntu , but virtual directory shows as ubuntu   ( u in lowercase).
So can you update virtual directory name accordingly to the os name.

my ansible tasks is
    https://packages.microsoft.com/config/{{ ansible_distribution }}/{{ ansible_distribution_version }}

[2020-05-06 21:05] karelz commented on #6070
@DougSteiert I see it fixed above the 2nd sample: https://docs.microsoft.com/en-us/dotnet/framework/network-programming/using-udp-services
Here's the change from the PR: https://github.com/dotnet/docs/pull/8729/files#diff-2934d59f026fb408b6c3f7e13783b638R114

[2020-05-06 21:11] gafter commented on #18271
It turns out *constant_expression* and *expression* are the same (the former is defined as the latter).  I suggest using *constant_expression* for clarity.

[2020-05-06 21:13] BenVillalobos commented on #10031
@gewarren I found [where `EnableDefaultEmbeddedResourceItems` is implemented](https://github.com/dotnet/sdk/search?q=enabledefaultembeddedresourceitems&unscoped_q=enabledefaultembeddedresourceitems) (thanks @tmeschter), and I believe as long as someone follows the guidelines listed [in the docs](https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0#resource-manifest-file-names) or in

[2020-05-06 21:13] CeciAc opened #18291 "Location of code in [Class Summary]"
@Misaki0306 commented on [Wed May 06 2020](https://github.com/dotnet/docs.ja-jp/issues/1699)

I could not find where to write the code of [Class Summary].

It is not clear whether the code is written in Program.cs or Transaction.cs.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 24c8353f-69e7-9068-9b18-df0198a1b122
* Version Independent ID: 823031fe-

[2020-05-06 21:13] gafter commented on #18271
Fixed in the source.

[2020-05-06 22:01] PeterWone commented on #6070
Add a sentence that explains _why_ the sudden switch from `UdpClient` to `Socket`. Is it just to show that UdpClient is a convenience wrapper, or is it because UdpClient doesn't expose the necessary flags, or just to show you can do it directly.

A silly question: how would you react to unsolicited PRs?

[2020-05-06 22:11] mairaw commented on #6070
We do welcome unsolicited PRs. We just encourage folks to file issues first before spending time on a large change though.

[2020-05-06 22:21] PeterWone commented on #6070
I was thinking in terms of worked examples. The docs team has the advantage of being able to ask the dev team about intention, which is why I think you are the only ones in a position to provide the _why_ and the intended patterns of use. In contrast to this, a bunch of worked examples prefaced with text explaining what is demonstrated is something that could be open sourced. For example,

Directe

[2020-05-06 23:20] hlevene opened #18292 "Example has undocumented syntax."
The example has "Group By CountryName = cust.Country...", but the Syntax section would not indicate this is proper.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36fa0a41-8cbc-5f15-2b26-f04e5b31d965
* Version Independent ID: e5661f31-2af2-54af-8a62-c76cdc0a806e
* Content: [Group By Clause - Visual Basic](https://docs.

[2020-05-07 05:10] PeterConstable opened #18293 "Incorrect "struct" link?"
Under "Custom types", the "struct" link actually points to the Classes page. Should it point to this?

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/struct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1144c44-369d-fd62-fad9-3d07d229f04e
* Version Independent ID: c0189b06-4720-0a7e-b

[2020-05-07 07:00] MarkMichaelis commented on #17463
@BillWagner and @jkotas
Before I update the documentation, could you please review the sample `Program.cs` code below.  There are a couple of things to notice specifically:
- It is necessary to use a WeakReference when registering with ProcessExit or else the resource will always have a reference so never get GC'd until the process exits.
- Seemingly, invoking `GC.Collect(); GC.WaitForPendingFinal

[2020-05-07 09:58] #18284 closed

[2020-05-07 12:58] BillWagner commented on #18271
Fixed in https://github.com/dotnet/csharplang/commit/a17f4c8ba82ed19fdad8b9f86ac151a443c89b08

[2020-05-07 12:58] #18271 closed

[2020-05-07 13:04] BillWagner commented on #18291
thanks for bringing this to our attention.

I looked for which sample you were referring to, and I'm not sure which one you mean. That points to a fix: For each new code sample, we should add clear instructions for which class needs to be modified for the new code.

[2020-05-07 13:08] BillWagner commented on #18293
Thanks for bringing this to our attention @PeterConstable I've opened a PR to fix this.

In the future, if you spot these small issues, you can click the "edit" button (it looks like a pencil) to edit the source and submit a PR. For these issues, it can save us both time.

[2020-05-07 13:55] Triggs9 opened #18298 "How do you access static members in an AssemblyLoadContext"
Example:
public static class Paths
{
public static DirectoryInfo RootIO { get; private set; }
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c83628c-7002-9045-9c72-f8d97b784eb0
* Version Independent ID: a761a83d-5aa8-958a-d210-6eb8f7929ff2
* Content: [Understanding AssemblyLoadContext - .NET Core](https://docs.micro

[2020-05-07 15:01] jkotas commented on #17463
For performance reasons, libraries typically choose to subscribe to the ProcessExit just once and then manage list of what needs to be cleaned up. Here is an example from Microsoft.Data.SqlClient: https://github.com/dotnet/SqlClient/blob/7a2120d82919f5ed6173906110cca87103a23a20/src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/ProviderBase/DbConnectionPoolCounters.cs#L180

It won't accomplish

[2020-05-07 15:10] #18099 closed

[2020-05-07 16:06] sdmaclea commented on #18298
/cc @vitek-karas @elinor-fung

The static members should be accessible from within the class loaded into the AssemblyLoadContext.

To access from outside the `AssemblyLoadContext` would require a different approach.  The easiest would be to use the reflection APIs to access function which read/write the statics.  The property you have in your question, should be available through reflection.  At t

[2020-05-07 16:22] vitek-karas commented on #18298
It's actually `get_RootIO` and `set_RootIO`. So basically calling `Type.GetMethod("get_RootIO")` will get you the "getter" which you can invoke. Or use the `PropertyInfo` which has shortcuts for this as well.

[2020-05-07 16:49] #15529 closed

[2020-05-07 19:22] cwang25 commented on #4675
Hello,

First,  thank you very much for the useful documentation for the tls migration. Also, some of our dependencies have moved to tls12.
But I noticed there are some inconsistent behavior in Azure Cloud Service than the behavior described in document.

We moved our code base to target .net framekwork 4.7.2, which based on the document that it will default SecurityProtocol to SystemDefault and w

[2020-05-07 20:05] jozefizso commented on #4675
That would be the most sensible implementation - so we don't have to hard code security settings into code.

In reality this implementation is so broken, it cannot use the correct (the most secure) TLS from the OS.

[2020-05-07 20:19] gewarren commented on #10031
Closing as duplicate of #16964.

[2020-05-07 20:19] #10031 closed

[2020-05-07 20:33] gewarren opened #18304 "Add new article on how resource files are named in .NET Core"
Related to https://github.com/dotnet/docs/issues/16964.

Also, add UseDependentUponConvention property to msbuild-props.md.

[2020-05-07 20:58] #11707 closed

[2020-05-07 21:05] cwang25 commented on #4675
Hi @jozefizso
So do you mean that even though the document web page asks us to remove all codes specifying security protocol, we should still specify it in our code ?

Thanks

[2020-05-07 21:06] jhudsoncedaron commented on #4675
@cwang25 : Known issue. The document isn't wrong. The .NET Framework code is wrong.

[2020-05-07 21:07] tdykstra commented on #9996
Closing, as this tutorial no longer exists.

[2020-05-07 21:07] #9996 closed

[2020-05-07 21:31] BillWagner commented on #18210
I looked at the current english text, and the `++` operator is explained correctly. @JasonCard is this a translation issue?

[2020-05-07 21:41] cwang25 commented on #4675
Hi @jhudsoncedaron

so do you mean we still need to specify in code then ?
Is there a ETA for the fix ?

[2020-05-07 21:43] jhudsoncedaron commented on #4675
@cwang25 : MS is in internal debates on fixing it because the .NET team wants a higher minimum TLS version than the Windows team ships. But once touch that setting at all, eventually the setting is too low and has to be fixed in application code. :(

[2020-05-07 21:48] cwang25 commented on #4675
@jhudsoncedaron
I see.   Thank you so much for the information.
So is this issue occurs across all .net framework ?   or just specifically 4.7.2 ?
(or the hard coded tsl12 is needed across all .net framework versions now ?)

[2020-05-07 21:49] davidsh commented on #4675
Can you please clarify what "internal debates" you're talking about? I'm a member of the .NET team and am not aware of what you are talking about.

[2020-05-07 21:52] jhudsoncedaron commented on #4675
@davidsh: When I filed https://github.com/dotnet/aspnetcore/issues/14997 I learned of it.

[2020-05-07 22:16] cwang25 commented on #4675
Hi @jhudsoncedaron @davidsh ,

I ready through the threads from above, looks like the issues only occurs when OS is Windows 7 ?
For my case it's Windows 10,  so my case might be some different issue?

Thanks

[2020-05-07 22:19] pkpjpm opened #18308 "char type has been omitted"
The `char` type is an integral type according to the specification, but it's not included in this section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a22464d-b60c-36c0-e4e8-b209a33b0219
* Version Independent ID: cb500323-82a3-09ea-0468-dd16c9e13675
* Content: [Integral numeric types - C# reference](https://docs.mic

[2020-05-07 22:22] #18047 closed

[2020-05-07 23:11] glopesdev commented on #4675
@jhudsoncedaron The best comment from that thread! Thanks for sharing this issue.

@cwang25 As far as I understand, there should only be problems on Windows 7, which you can fix with an explicit app.config file deployed next to the executable on install. Have you experienced otherwise on your Azure deployments?

[2020-05-07 23:17] karelz commented on #4675
@cwang25 how do you debug the Azure Worker Role? VS has test runner which targets .NET 4.5.2 which flips defaults of your app under debugger.
The easiest way to try is to print `SecurityProtocol` to output/log in release without debugger attached and confirm.

[2020-05-07 23:55] JasonCard commented on #18210
Yes, it looks like suggestion for possible translation issue.
@DavidPrio please help to follow up on this.

Source file: [https://github.com/dotnet/docs/blob/live/docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml](https://github.com/dotnet/docs/blob/live/docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml)
Source string: The `++` after the `counter` variable is the **increment*

[2020-05-08 00:08] srvbpigh commented on #18210
Hello, @gewarren

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-08 00:21] danmosemsft opened #18310 "Process.StartInfo changes"
Reading the `StartInfo` property of a process that you did not start (within the current process, using `Process.Start`) will throw `InvalidOperationException`

### Version introduced

.NET Core v1.0

### Old behavior

In .NET Framework, it will return a dummy `ProcessStartInfo` object. This object will return default values from all its properties, except `EnvironmentVariables`, which will return

[2020-05-08 05:58] deepru2608 opened #18313 "{"The remote server returned an error: (530) Not logged in."}"
{"The remote server returned an error: (530) Not logged in."} please send me the resolution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421182a-dac9-c619-b501-240dd2aafd7b
* Version Independent ID: 30940ebd-4501-8580-2efc-c6abf522fe93
* Content: [How to: Upload files with FTP](https://docs.microsoft.com/en-us/dotne

[2020-05-08 06:41] kaanchan opened #18315 "Sample VBA code for optional parameters with default values does not seem to work on Word 2016"
The sample code for optional parameters with default value does not appear to work in Word 2016. The sub does not show in list of macros when the default value is given in the sub declaration. Removing the default value makes sub appear on macros list.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03d7e221-57b

[2020-05-08 09:09] pavelhorak commented on #13963
@yshpakov Can you try following?
`dotnet test --filter "FullyQualifiedName=MyNamespace.MyTestClass.LoginAsGuest\(5\)"`

[2020-05-08 10:05] sensslen opened #18316 "dotnet store - explain usage of --framework option"
According to this documentation there are three required parameters but not all of them are specified in the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc238c72-c1eb-a09f-5b7b-801722924d38
* Version Independent ID: dbfcef0a-1079-0a2c-6bda-d2b57445ec29
* Content: [dotnet store command - .NET Core CLI](http

[2020-05-08 10:07] sensslen opened #18317 "dotnet store - explain --skip-optimization option"
It is currently not clear what the "optimization phase" does so it is not clear what can be enabled/diabled by the --skip-optimization command line option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc238c72-c1eb-a09f-5b7b-801722924d38
* Version Independent ID: dbfcef0a-1079-0a2c-6bda-d2b57445ec29
* Content: [dotnet

[2020-05-08 13:35] ryan-morris commented on #17666
We use `CheckAdditionalContent` to help validate POST body content. If user sends up additional unknown attributes we want it to be clear that value has no meaning.

[2020-05-08 13:35] MarkMichaelis commented on #17463
Thasnk @jkotas!  I appreciate the feedback.

Below is an updated code listing.  Note the following:
- I have a single `AppDomain.ProcessExit` subscriber for all `IDisposable` objects (that register), not one per object type.
- I use the keys in the `ConcurrentDictionary` but ignore the values.  Is there another concurrent collection I should consider that will give me fast retrieval of the object

[2020-05-08 15:02] tdykstra commented on #18317
@rrelyea @nkolev92 can you explain what effects `--skip-optimization` has?

[2020-05-08 15:09] gewarren commented on #18310
@BillWagner @Thraka Any idea why this didn't automatically get a breaking-change label?

[2020-05-08 15:13] gewarren commented on #18298
Should we add this info to the article?

[2020-05-08 15:22] Triggs9 commented on #18298
I was struggling for a couple hours on wrapping my head around the idea of static’s existing in a closed loop thing like AssemblyLoadContexts and then how to extract them out. It hit me like a truck when I realized you really can just treat it as any other reflection assembly when you get a handle on the assembly object itself. I think it would be useful to mention it for people trying to understa

[2020-05-08 15:28] tdykstra commented on #18316
@rrelyea @nkolev92  `--framework` is listed as a required option but it doesn't actually seem to be required on the command line, and the text for it says "The target framework has to be specified in the project file." What is the use case  for specifying `--framework` on the command line?

[2020-05-08 17:00] CeciAc commented on #18210
Issue moved to [dotnet/docs.zh-cn #585](https://github.com/dotnet/docs.zh-cn/issues/585) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-08 17:20] rrelyea commented on #18316
`dotnet store` is not a nuget concept. Don't know if the sdk team or asp.net team own, but we have no idea about it.

[2020-05-08 17:22] MWToivonen opened #18322 "Potential issue with Quick Reference documentation"
I think there's a mistake in the "miscellaneous constructs" section of the regular expression quick reference.
https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference#miscellaneous-constructs

The "# [to end of line] style of comment shows a comment being added by appending "#Matches..." directly to the end of a regex, with no whitespace.

![image](h

[2020-05-08 17:26] tdykstra commented on #18316
@wli3 Who can help with `dotnet store`?

[2020-05-08 17:36] karelz commented on #18313
@deepru2608 it is not clear to me what is your report about -- did the sample fail for you?
Which version of .NET are you using? Did you check that the FTP server works correctly?

[2020-05-08 18:04] rrelyea commented on #18317
As we mentioned on a parallel thread... `dotnet store` is owned by the dotnet sdk team or asp.net team. NuGet team doesn't know what it is...other than it was built in .net core 2.x timeframe for reasons.

[2020-05-08 20:15] KeishaW commented on #18065
**Update:** The issue could lie with my use of Single File publish.
`dotnet publish -c Release -r win-x64 /p:PublishSingleFile=true`

As a reminder, clicking the exe from the single file publish works fine but not using it as a Windows Service.

**Workaround:**
I had to specify the full path for the appsettings.json in `CreateHostBuilder` in order for the binding to work.

[code]

[2020-05-08 20:27] deepru2608 commented on #18313
Hi,

I have check my FTP server and I am doing some thing with my FTP server but now it’s working fine and file is uploading on FTP.

Thanks
Deepanshu

Sent from my iPhone

[2020-05-08 20:36] IEvangelist commented on #18308
Hi @pkpjpm,

Thank you for posting this issue and raising this concern. The doc in question is for "integral numeric types", not just "integral types" - it is with that specificity that the doc intends to detail integral types that are intended for use with numeric intent. And while I agree that `char` is an integral type and even [implicitly convertible to most numeric integral types](https://doc

[2020-05-08 20:58] pkpjpm commented on #18308
That makes sense, but now that I understand the distinction, I see that the heading and reference links in [this section](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/arithmetic-operators#decrement-operator---) are wrong. Specifically, this:

Seems that "numeric" is wrong in this context, and the link should point to the spec you've quoted and not the page referenced

[2020-05-08 21:53] karelz commented on #18313
OK, looks like there is no problem to track here then.

[2020-05-08 21:53] #18313 closed

[2020-05-08 22:22] Thraka commented on #18289
This issue was moved to dotnet/sdk#11597

[2020-05-08 22:22] #18289 closed

[2020-05-08 23:09] Thraka commented on #18310
Unsure. Github has been a bit strange lately with the bot.

[2020-05-08 23:33] Thraka opened #18327 "test issue"
## [Change title]

[Brief description of the change]

### Version introduced

[Version in which the breaking change first occurred (for example, 3.0 for .NET Core 3.0)]

### Old behavior

### New behavior

### Reason for change

### Recommended action

[ Suggested steps if user is affected go here:
- Possible workarounds
- Example of code changes to handle change
]

### Category

[Choose a categor

[2020-05-08 23:34] #18327 closed

[2020-05-08 23:38] Thraka commented on #18310
@gewarren There is supposed to be a blank line at the end of the metadata, it must have been removed by accident. After restoring it, it was fixed.

[2020-05-08 23:51] gewarren commented on #18310
I see, thanks for looking into it!

[2020-05-09 06:03] ARambazamba opened #18331 "Update Sample for 3.1 to WebApp or WebApi"
It would be great if you could update the sample to something more practical like WebApp or WebApi ... Console Apps is not what most people do

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c7470d2-9a57-7654-e13a-4f912898f7aa
* Version Independent ID: 58d57b81-4ca6-6536-8788-f212402b41a7
* Content: [Containerize an ap

[2020-05-09 06:10] edwardhu commented on #17638
Still can not install on Ubuntu 20.04 😰

[2020-05-09 06:18] rbhanda commented on #17638
The Ubuntu update will be available on 5/12

[2020-05-09 06:20] nvmkpk commented on #18230
If I want to add additional folders to the probing path what is the recommended way to set it up?

[2020-05-09 08:30] Mizux commented on #17638
with a ref it's better: https://github.com/dotnet/core/issues/4360#issuecomment-623521485

[2020-05-09 10:58] SoyUnEmilio opened #18332 "State Changes section example"
[code]

Where does shortlist and itinerary comes from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c195c0-99f6-64f5-66a3-4e69109dc8ee
* Version Independent ID: 24368808-4b90-f75a-e887-eb72a1c85f5b
* Content: [Build reusable UI components with Blazor](https://docs.microsoft.com/en-us/dotnet/architecture/blazor-for-

[2020-05-09 11:37] pkulikov commented on #18308
I wouldn't call that sentence "wrong". It's technically incomplete and has omitted the `char` type intentionally as it seems to be not a typical/common use case. What is the product of two letters?

Operations with `char` don't look like operations with `char`. That is, because `char` is implicitly convertible to `int`, ANY operator that supports `int` operands also accepts `char` operands. (So, s

[2020-05-09 11:59] cwang25 commented on #4675
Hi @karelz
Thank you very much for the information.

I'm using Visual Studio 2019 and targeted framek work is .net 4.7.2

The way I debug Azure worker role, I simply right click on the worker role and click 'Debug' then let VS to trigger Azure Emulator to start up.

Runner  where I can check the runner ? (So far I only find the place to change the target framework and osFamily setting in .cscfg fi

[2020-05-09 12:33] 7778858 opened #18333 "1061"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c946d7-649b-44e4-49a9-543565904d18
* Version Independent ID: df4263c1-477a-3c32-9abe-3fcb850e6c1b
* Content: [Compiler Error CS1061](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1061)
* Content Source: [docs/

[2020-05-09 15:03] cisalhante opened #18334 "Thank you!"
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/#feedback)
* Content Source: [docs/csh

[2020-05-09 16:09] pkpjpm commented on #18308
Thanks for indulging this topic, I agree "wrong" is probably too strong an assessment. It may interest you to know that the expression `'c'--` evaluates to type `System.Char`, not `System.Int32`. I will confess that in 30 years of professional experience, I don't recall ever using character arithmetic in production code, however it's not uncommon to need this technique in answering coding intervie

[2020-05-09 16:09] #18308 closed

[2020-05-09 18:32] karelz commented on #4675
Inspect the processes debugging runs, check the config files. That is likely the safest way.
Also check that the problem is debug only and not in release/production.

[2020-05-09 19:06] pkulikov commented on #18308
@pkpjpm that's right, I'm working on the PR to update the docs accordingly.

[2020-05-09 20:04] vitek-karas commented on #18230
The recommended way is to not add additional probing paths but instead provide code which resolves assemblies. The easiest way is to register a handler to `AppDomain.Current.ResolveAssembly`. In the event handler you get the name of the assembly which is being resolved - you then perform whatever code to find the assembly file on disk and load it, ideally via `AssemblyLoadContext.Default.LoadFromA

[2020-05-09 23:07] har07 commented on #17638
@rbhanda any reference where this date came from?

[2020-05-10 04:27] wli3 commented on #18316
It should be on SDK team. However, no one is very familiar with _dotnet store_, since we inherited it. So there will be a long delay for answering the questions

[2020-05-10 05:00] kuntalbose commented on #18203
Hi @gewarren I tried with bellow code

svcutil.exe /t:code /d:C:\Users\XXXX\Desktop\SOAP\WebApplication1\WebApplication1  http://ws.jobdiva.com/axis2/services/BIData?wsdl

And its generate the code file ([BIData.zip](https://github.com/dotnet/docs/files/4605182/BIData.zip)) and required methods when when I call a method bellow error occurred

![image](https://user-images.githubusercontent.com/7402