[2018-05-20 14:38] ramchandran84 opened #5494 "Error in the displayed code for the Client Side"
Hi,

The said code shows WSHTTPBinding but the endpoint address is "net.tcp://...". See below
"
// Create the binding.
WSHttpBinding myBinding = new WSHttpBinding();
myBinding.Security.Mode = SecurityMode.Message;
myBinding.Security.Message.ClientCredentialType =
    MessageCredentialType.Windows;

// Create the endpoint address.
EndpointAddress ea = new
    EndpointAddress("net.tcp://machineName:

[2018-05-20 14:46] cmeeren opened #5495 "Incomplete sentence about open statements"
The following sentence is not complete and does not make sense:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 402e43bd-76b8-a1c8-2c62-e14017f5ed1e
* Version Independent ID: 990e56cd-648d-45c4-30e0-b221874ec329
* Content: [F# coding conventions](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/conventions#fee

[2018-05-20 15:12] pkulikov opened #5497 "Object initializers with nullable types: clarification necessary"
The [Object initializers with nullable types](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/object-and-collection-initializers#object-initializers-with-nullable-types) section is very short:

The reference to the compiler error message topic or the example in the section would be helpful.

Current wording has made me think that the following code doesn't comp

[2018-05-20 16:37] douglaslMS commented on #5488
@Bunny2000 Do you have code already in place where you can test this easily? Check the value of workRow[0] (assuming the primary key is the first column) or workRow[<identity_column_name>] after the Rows.Add call.

[2018-05-20 16:37] douglaslMS commented on #5488
#in-progress

[2018-05-20 19:04] Sumeetgaara opened #5502 "TextLoader code line giving me exception"
I followed this tutorial(Tutorial: Use ML.NET to Predict New York Taxi Fares (Regression)).I changed data from dataset,changed classes and their fields according to data and kept the same format(.csv).But when my code goes to Textloader code line from tutorial , it breaks with an exception.

Code line:
`pipeline.Add(new TextLoader<myclassname>(DataPath, useHeader: true, separator: ","));`
Exceptio

[2018-05-20 19:48] cmeeren commented on #5392
Sorry for off-topic:

@lambdakris If you have any ideas, I'll more then gladly take suggestions or discussions at [cmeeren/Cvdm.ErrorHandling/issues](https://github.com/cmeeren/Cvdm.ErrorHandling/issues) :)

</off-topic>

[2018-05-20 20:31] jvermot commented on #5120
There's a tool called asoft .NET version detector: http://asoft.be/prod_netver.html
I like this one because I don't need to do all the logic and keep it updated without having to touch code. They keep it updated with every new build/release.
It can export to xml/text and just show via the UI.

My 2cts

[2018-05-21 00:10] mwpowellhtx opened #5505 "It is not good to change the delimiter for PackageTags"
:-1: This was a bad idea. Why shift from *space delimited* to *semi-colon delimited*? Makes for more painful conversion from ``.nuspec`` to project driven packaging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Conte

[2018-05-21 02:40] jusso-dev commented on #5502
Share what 'myclassname' looks like?

[2018-05-21 09:49] jusso-dev commented on #5502
I don't think intergers are supported, change your class types to floats

[2018-05-21 10:00] MarcSigrist opened #5509 "Document is outdated"
If you create public documentation like this, plese make sure it is up-to-date at all times. Neither .NET Core 1.1, nor .NET Framework 4.7.x versions are mentioned in https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-82

[2018-05-21 10:23] ptoye opened #5511 "What is .NET Core??"
This first page goes straight into telling me to go to a page on .NET Core without anywhere saying what .NET Core (as opposed to .NET) actually is (or does). Ditto the .NET Guide https://docs.microsoft.com/en-us/dotnet/standard/ which again points me to pages telling me how to build .NET Core apps without saying what it is.

There's the same problem with .NET Framework. The .NET Documentation page

[2018-05-21 10:25] svick commented on #5509
That doesn't mean the table is not up to date. That's because .Net Core 1.1 doesn't add support for any .Net Standard compared with .Net Core 1.0. And .Net Framework 4.7.x doesn't add support for any .Net Standard compared with .Net Framework 4.6.1.

Put differently, there are no cells to put .Net Core 1.1 or .Net Framework 4.7.x in, since each cell lists the *lowest* version of the given framewor

[2018-05-21 11:37] daniel-zazula opened #5512 "FAQ link is broken"
The link to the FAQ at the end of the article is broken and just takes you back to the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06fd94b-aaba-d65f-1fc7-7131d6ff892f
* Version Independent ID: 3de244c3-d43b-be7a-bad3-b5e04a1c2fd8
* Content: [Compiling Apps with .NET Native](https://docs.microsoft.com/en-

[2018-05-21 12:36] pkulikov opened #5513 "Missing info: sentence is not finished"
In the [section on what's new in ASP.NET in .NET Framework 4.6.2](https://docs.microsoft.com/en-us/dotnet/framework/whats-new/#aspnet-3) the first topic shows an example that creates the resource file with error messages:

However, the paragraph after the table with the example content is definitely not complete:

[2018-05-21 13:39] ChrisMaddock opened #5514 "GenericUriParserOptions.Default has incorrect description"
The current description for this enum field is just "The parser:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3fa2aac-8a71-7d6e-b5a4-6b1fa559517a
* Version Independent ID: e704dd8f-fd25-c264-d015-de46a0f1ee95
* Content: [GenericUriParserOptions Enum (System)](https://docs.microsoft.com/en-us/dotnet/api/system.gener

[2018-05-21 14:12] MarcSigrist commented on #5509
Thanks, that makes sense. And indeed it's correctly described in the legend: "The version number in each cell indicates the minimum version of the implementation you'll need in order to target that .NET Standard version."

[2018-05-21 14:37] TRegan3 opened #5516 "An example would help"
Examples of how to configure ADFS to configure claims as roles would be incredibly helpful here.  It is not intuitive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1597a0b7-494d-0cca-bc54-e432719d2256
* Version Independent ID: 17d1429f-ff5d-8f13-bdbd-b8147808305b
* Content: [Claims Based Authorization Using WIF](http

[2018-05-21 15:16] PeteX commented on #5474
@svick Yes some of the methods do mention complexity, but as you say not all do, and that's my point really.

Rather than add the asymptotic complexity to all the method descriptions, perhaps a simpler approach would be a summary paragraph in the description of each of the container classes.  For example: 'SortedSet<T> is a balanced tree structure which is designed to support O(log n) insertion, r

[2018-05-21 16:14] Powerhelmsman opened #5518 "Stray space in section title leads to unexpected section links"
Describe the bug
On the API pages - the Enum fields section title has a stray space at the end. This was only noticed as it meant links to #fields do not work - the link must instead go to #fields-.
This is of course very minor - but hopefully a simple fix as well!
To Reproduce
Steps to reproduce the behavior:
Go to https://docs.microsoft.com/en-us/dotnet/api/system.genericuriparseroptions?view=ne

[2018-05-21 16:15] aditidugar commented on #5502
Hi @Sumeetgaara, @jusso-dev is correct. Integers are currently not supported, and so changing types to floats should solve your issue. Please let us know if you are still having trouble!

[2018-05-21 16:30] mairaw commented on #5518
The original place where the feedback was filed is the correct one. This is not a content issue,

[2018-05-21 16:31] #5518 closed

[2018-05-21 16:35] #5502 closed

[2018-05-21 16:42] svick commented on #4154
Putting together information from [*NuGet packages* on Roslyn wiki](https://github.com/dotnet/roslyn/wiki/NuGet-packages) (which maps Roslyn versions, C# versions and VS versions), [Releases on the cli repo](https://github.com/dotnet/cli/releases) (which maps .Net Core SDK versions and VS versions) and from my own attempts of running various versions of the .Net Core SDK, as far as I can tell, cor

[2018-05-21 16:45] douglaslMS commented on #5414
Discussing the updates needed with the ADO.Net product team. Waiting to verify some details.

[2018-05-21 16:55] mairaw commented on #5509
I'm going to close this since the information on that table is correct. If you have any suggestions on how to make that more discoverable, please let me know.

[2018-05-21 16:55] #5509 closed

[2018-05-21 16:58] mairaw commented on #5514
It seems that we lost part of the description with the multiple migrations we had @ChrisMaddock.
I could find more info under https://msdn.microsoft.com/en-us/library/system.genericuriparseroptions(v=vs.100).aspx.

[2018-05-21 17:00] #5401 closed

[2018-05-21 17:01] mairaw commented on #5513
@rpetrusha to take a look. Could be a migration issue as well.

[2018-05-21 17:02] #5413 closed

[2018-05-21 17:03] mairaw commented on #5512
Thanks @daniel-zazula. It doesn't seem we have that link anymore. So I'll just going to remove it from the docs. /cc @rpetrusha

[2018-05-21 17:40] #4789 closed

[2018-05-21 18:05] #5512 closed

[2018-05-21 18:07] dasMulli commented on #4154
In theory, it also bundles an F# compiler (and a version of NuGet but that's hardly relevant)

[2018-05-21 18:41] rpetrusha commented on #5513
Thanks for noticing the unfinished sentence, @pkulikov. Unfortunately, it's not a migration issue, @mairaw. I just never finished the sentence, and it doesn't really look to me like anything is clearly missing from the description. I'll open a PR to remove the sentence.

[2018-05-21 18:48] MrEkShun opened #5523 "Publication base class not Abstract?"
I think there is some ambiguity in your explanations of abstract base classes. You list two different types of these template base classes: the Publication base class and the Shape base class. The former provides implementations for members while the latter does not, but what distinguishes these two types of abstract base classes is unclear in your explanations.

Perhaps it should be clearly state

[2018-05-21 18:54] sharwell commented on #5485
I would be more in favor of the pattern update if the following was added with analyzer enforcement:

[2018-05-21 19:03] rpetrusha commented on #5492
Thanks for opening this issue, @jinek. The method throws two exceptions:
- An ArgumentNullException, if `reference` is `null`.
- InvalidOperationException, if `reference` is not a visual object.
We'll update the documentation to reflect this exception information.

[2018-05-21 19:28] rpetrusha commented on #5516
Thanks for requesting an example, @TRegan3. We've added it to our backlog, and we'll add an example as we update these docs. I've also added the up-for-grabs label, and added it to our [community project](https://github.com/dotnet/docs/projects/35).

[2018-05-21 19:33] Sumeetgaara commented on #5502
Issue is gone now.Thanks guys.

[2018-05-21 19:35] rpetrusha commented on #5514
In addition, it removes trailing dots, empty segments, and dots-only segments.

[2018-05-21 19:36] BillWagner commented on #4969
@mairaw Should we move this to the [MicrosoftDocs/Feedback](https://github.com/MicrosoftDocs/Feedback) repo?

[2018-05-21 19:43] svick commented on #5485
@sharwell Personally, I don't really care what will be the recommended pattern if you do want to use finalizers (if there even is one), as long as:

* The main article clearly says you shouldn't use finalizers. (Certainly more clearly than it does now.)
* The main article talks about finalizers as little as possible.

So, I would be fine with what you're suggesting.

[2018-05-21 19:44] #5495 closed

[2018-05-21 19:51] #5513 closed

[2018-05-21 19:58] #5274 closed

[2018-05-21 20:02] StingyJack opened #5527 "Would this be any different for a WPF usercontrol?"
Everything says "window"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 388cd25c-fa98-6cd6-7740-8bbc456b772f
* Version Independent ID: 194b7b3a-110d-93d7-4dad-419c7ad65f52
* Content: [Walkthrough: Hosting a Windows Forms Control in WPF](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/walkthrough-hosting-

[2018-05-21 20:07] BillWagner commented on #3717
I'm moving this back a sprint. I want to think through a thorough outline because of the nuances of the topic.

It's also mistitled: It's not about "breaking changes" in the compiler or language definition, but rather about how changing your code to use the new features would introduce either **binary** or **source** breaking changes in code that uses the code you write.

[2018-05-21 20:20] Keboo opened #5529 "Further Reading section is not clear."
The second bullet point in [Robust Programming](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/how-to-use-the-xml-documentation-features#robust-programming) contains "(see the Further Reading section)" section. However, where to find this section is not clear since this is the only place "Further Reading" occurs. I assume this should actually be pointed to the [Recommended

[2018-05-21 20:21] BillWagner commented on #4141
@terrajobst Any chance you can update the branch where you've started this or create the PR?

[2018-05-21 20:21] mairaw commented on #5527
Thanks for your feedback @StingyJack. We'll have to look into this. It's in our backlog for now.

[2018-05-21 20:30] BillWagner commented on #5523
Thanks for reaching out to us @MrEkShun

I went through your comments, and I think we need to update this topic and explain the distinction between an abstract class with abstract members (like `Shape`) and an abstract class that doesn't have abstract members (like `Publication`).

The former is when related classes have the same functionality that is implemented very differently. The latter is wh

[2018-05-21 20:31] mairaw commented on #5505
@rohit21agrawal can you comment on this?

[2018-05-21 20:32] BillWagner commented on #4637
Moving to the current sprint since it is a high priority issue.

[2018-05-21 20:33] mairaw commented on #5494
@zhenlan can you help with this question?

[2018-05-21 20:36] mairaw commented on #5489
@karelz @davidsh any suggestions here? @BiggerChina do you have perhaps a small sample we could try to repro the issue you're seeing?

[2018-05-21 20:41] mairaw commented on #5484
@zhenlan can you please comment on this request?

[2018-05-21 20:43] mairaw commented on #5483
@sambent can you please take a look at this request?

[2018-05-21 20:49] zhenlan commented on #5494
Looks like we should just use `NetTcpBinding`. Add @mconnew to confirm.

[2018-05-21 20:50] zhenlan commented on #5484
Add @Lxiamail to help.

[2018-05-21 20:55] mairaw commented on #5472
@livarcocc @KathleenDollard to comment on this. My understanding is that you could have any information on that file but CLI would only understand sdk/version.

[2018-05-21 20:57] mairaw commented on #5455
@livarcocc @KathleenDollard can you comment on this?

[2018-05-21 21:06] mairaw commented on #5342
@KathleenDollard @livarcocc should I move this to one of the product repos?

[2018-05-21 21:11] BillWagner commented on #2049
@cartermp I believe this was fixed in #5313. Closing.

If I'm incorrect, please reopen.

[2018-05-21 21:11] #2049 closed

[2018-05-21 21:27] WilMead opened #5532 "Consistency check"
The parameter description provides the definition:
The minimum number of non-alphanumeric characters (such as @, #, !, %, &, and so on) in the generated password.

The example obscures that definition with the comment:
// Generate a new 12-character password with 1 non-alphanumeric character.
  string password = Membership.GeneratePassword(12, 1);

Adding the two words, "at least", to the comment

[2018-05-21 21:30] mairaw commented on #4141
The PR is here: https://github.com/dotnet/docs/pull/4709

[2018-05-21 21:41] karelz commented on #5489
Repro would help. Also check that your client's close is delivered to the server (check Fiddler/Wireshark network traces).

[2018-05-21 21:54] livarcocc commented on #5472
You can use to specify NuGet SDK versions for the whole repo.

@jeffkl for more information on this.

Other than that, @mairaw is right, it is only used on the CLI for the sdk version.

[2018-05-21 21:55] BillMcNabb opened #5534 "I am pretty sure this is incorrect."
"When SQL Server logins are used, SQL Server login names and passwords are passed across the network, which makes them less secure."  You are not doing anyone any favors with comments like this.  Passwords are supposedly hashed and not sent in clear text.  If this is not true, please let me know.  If it is true, please be more specific.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-05-21 21:55] livarcocc commented on #5455
I think the parameter name is `--nuget-source`.

[2018-05-21 21:56] jeffkl commented on #5472
I've documented how to use `global.json` to control MSBuild project SDKs here: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-use-project-sdk#how-project-sdks-are-resolved

[2018-05-21 21:56] livarcocc commented on #5342
Is this about moving the global.json file? You can move it, but we have no plans to move this file around at the moment. It would be a breaking change.

[2018-05-21 22:07] mairaw commented on #5342
Too many moves in one sentence. 😄
I'm going to close this request then. @smoothdeveloper please open a request on dotnet/cli if there are other product requests you'd like to make.

[2018-05-21 22:07] #5342 closed

[2018-05-21 22:10] douglaslMS commented on #5534
#in-progress

[2018-05-21 22:13] mairaw commented on #5455
Ah, you're right @livarcocc. I haven't documented the 2.1.300 SDK options yet, so this is new in 2.1.

[2018-05-21 22:13] #5455 closed

[2018-05-21 22:47] douglaslMS commented on #5534
@BillMcNabb You're right that the quoted statement could leave a reader with questions. We will clarify to say that ENCRYPTED passwords are passed across the network." However, since encryption can be broken, I believe the statement that passing passwords (SQL auth) as opposed to NOT passing passwords (Windows auth) is less secure, is a valid cautionary statement. How else would you improve this l

[2018-05-21 22:48] pdeem7734 opened #5535 "Content doubled."
last section is doubled, after: 'bp kernel32!virtualalloc...'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 819bcbc3-b2f7-b1eb-2e45-0f19c8da797c
* Version Independent ID: ed840139-0331-77b1-5645-0cac6c16edcf
* Content: [The large object heap on Windows systems](https://docs.microsoft.com/en-us/dotnet/standard/garbage-

[2018-05-21 22:54] mairaw commented on #5535
Thanks for reporting this issue @pdeem7734. I've opened a PR to fix this.

[2018-05-21 23:00] BillMcNabb commented on #5534
Hello Douglas,

Yes that would be fine.  The problem I have is there is so much misinformation on the internet.  And, I am dealing with an auditor that is claiming SQL Server Auth passwords are sent in clear text.  This document was the newest I could find, but it did not make it clear that passwords are not sent in clear text.

Thank you,

Bill

From: Douglas Laudenschlager [mailto:notifications@

[2018-05-21 23:15] mconnew commented on #5494
That's correct, switch to NetTcpBinding

[2018-05-21 23:19] #5535 closed

[2018-05-22 06:10] pkulikov commented on #627
Are local builds still useful and being used? OpenPublishing.Build reports provide a good overview of any issues. Also, building only conceptual docs with PR in this repo seems to be faster than building all the docs locally.

I have a feeling that the [Building the docs](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#building-the-docs) section can be removed. If not, should it be upda

[2018-05-22 07:27] herbovitz opened #5538 "What is time unit for timeout?"
Is it seconds or milliseconds?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b9ab7d-aa53-004c-6e2b-8a1285cb44bc
* Version Independent ID: c24f546a-2960-846a-bfae-8b42293c3ec4
* Content: [DataContext.CommandTimeout Property (System.Data.Linq)](https://docs.microsoft.com/en-gb/dotnet/api/system.data.linq.datacontext.c

[2018-05-22 11:01] hrumhurum commented on #5472
Thank you for insightful hints. According to provided information, it looks like it can be safely assumed that `global.json` has a loose format definition (which is a good thing).

The only thing to be aware of is a possible clash between Microsoft and 3rd party tools' properties. We have namespaces in XML to sort that out but JSON lacks them.

So here comes the proposal: officially define and doc

[2018-05-22 12:21] Niladri24dutta commented on #5494
is there any PR required for this? I can submit a PR if required.

[2018-05-22 12:46] Niladri24dutta commented on #4940
it throws `NotSupportedException` when the input string is `null` or if there are any unsupported values in the string according to the line below https://referencesource.microsoft.com/#System/compmod/system/componentmodel/TypeConverter.cs,256 , the other overloads also seems to throw the same exception. But it isn't mentioned in the docs . Should I create a PR for this?

[2018-05-22 15:14] pkulikov commented on #5538
Based on this line:

and [CommandTimeout](https://docs.microsoft.com/en-gb/dotnet/api/system.data.idbcommand.commandtimeout?view=netframework-4.7.1) doc, my guess answer is **seconds**.

Meanwhile, I see one more issue in the topic under consideration. The property description says the following:

That sentence can be interpreted (because of the verb *increases*) that the actual timeout is the `<d

[2018-05-22 15:18] #5316 closed

[2018-05-22 15:37] pkulikov opened #5541 "Possible outdated content"
I think that [How to: Access a Collection Class with foreach](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/how-to-access-a-collection-class-with-foreach) is outdated and can be safely removed rather than fixed:
- The content doesn't match the title: most of all, it's an implementation example of the non-generic `IEnumerable` interface. The [IEnumerable page]

[2018-05-22 15:44] burstingninja commented on #5346
they forgot to mention in the instructions to create a "Models" folder for the app to work

[2018-05-22 16:32] rpetrusha commented on #5538
Thanks for opening this issue, @herbovitz. We should clarify the timeout interval. And the two descriptions should definitely be synced, @pkulikov. In looking at the source, it's clear that the remarks are incorrect, and assigning a value to the property sets, rather than increases, the timeout interval. @saurabh500, do you know whether the timeout interval is expressed in seconds or milliseconds?

[2018-05-22 16:44] rpetrusha commented on #5529
Thanks for pointing this out, @Keboo.  I suspect that at some point the **Further Reading** section was renamed to the **See also** section. But the **Recommended Tags** topic is a better choice. We'll open a PR to make that change.

[2018-05-22 16:53] KathleenDollard commented on #5472
@hrumhurum We're looking at global.json, so it is good to have this suggestion. But at the present there is a more serious problem. The SDK stops looking when it finds the first global.json. If different global.json's are inserted for different things, havoc could ensue if they are not all read.

[2018-05-22 17:05] BillWagner commented on #5447
We likely have similar concerns for VB.NET and C#.  We should be consistent in how we handle all three .NET managed languages.

[2018-05-22 17:19] KathleenDollard commented on #5342
Yes, if @smoothdeveloper thinks this important, it can be something we consider when we think about what a future global.json story should be

[2018-05-22 18:43] rpetrusha commented on #4637
I'll assign this to myself. I've been meaning to do it for a while.

[2018-05-22 18:59] rpetrusha commented on #5494
If you would like to submit a PR to address this issue, @ramchandran84, that would be great!

[2018-05-22 19:05] Niladri24dutta commented on #5494
@rpetrusha Can I submit a PR for this ?

[2018-05-22 19:06] rpetrusha commented on #5541
I think it sounds like a good plan, @pkulikov. An especially good plan, since it also consolidates our doc set somewhat. Do you agree, @BillWagner.

[2018-05-22 19:11] BillWagner commented on #5541
Yes, I also agree.

On your bullet item:

I think the `foreach` topic is a better destination choice.

[2018-05-22 19:14] rpetrusha commented on #4940
If you'd like to create the PR, @Niladri24dutta, we'll be delighted to review it.

[2018-05-22 19:15] svick commented on #5541
Note that this is inaccurate. What you need is for the collection type to have `GetEnumerator` and for the type returned from `GetEnumerator` to have `MoveNext` and `Current`. `Reset` doesn't have any relationship with `foreach`.

[See an example in SharpLab here.](https://sharplab.io/#v2:C4LgbgpgTglgZgTwD4AEBMACAwgWAFADe+GJGKALBgLIAUAohhAJTGlF6mcZwD2UEAQwDGACww0wAqBgAeGGADtGTDAQwBfViU14d+dBjr52nF

[2018-05-22 19:20] pkulikov commented on #5541
Cool! Then I'll aim to submit a PR this sprint.
@svick thank you for the note, that's correct. I've thought the same when copied the quote and wanted to check the specification before updating the `foreach` topic.
I'll also add more examples of `foreach` usage (with `List<T>`, with iterator methods, with `Span<T>`), as examples with only arrays look a little bit boring.

[2018-05-22 19:29] rpetrusha commented on #5494
Sorry, @Niladri24dutta, I'd meant to @-mention you, but didn't. Yes, we'd welcome a PR!

[2018-05-22 19:47] BillWagner commented on #3964
@IllidanS4 `where T : System.Enum` would allow `T` to be `System.Enum`, but [System.Enum](https://docs.microsoft.com/dotnet/api/system.enum) is an abstract class. So, at runtime, `T` would be an enum type, not `System.Enum`. You could specify `System.Enum` as the type parameter, but any instantiated object would be an enum. Do you see scenarios where that could make a difference?

[2018-05-22 19:53] ChrisMaddock commented on #4334
@mairaw Would you mind unassigning me from this issue and putting it up-for-grabs. Sorry - I'm not sure this is the right one for me!

[2018-05-22 19:56] mairaw commented on #4334
No worries @ChrisMaddock!

[2018-05-22 19:59] #5529 closed

[2018-05-22 20:06] IllidanS4 commented on #3964
@BillWagner I don't understand the argument; at runtime, `T` would be exactly `System.Enum` and objects of type `T` will be boxed enum values. The difference would be in potential null values, which programmers would need to check, causing more confusion. And what about this?
[code]
That cannot be expressed right now. If you wanted to pass null, you would have to make it `Enum arg` at the expense

[2018-05-22 20:08] Niladri24dutta commented on #5494
@rpetrusha ok working on it.

[2018-05-22 20:13] Niladri24dutta commented on #4940
@rpetrusha ok I will create a PR for this, is there any existing format to show the exception for any method in the docs ? Should I follow any reference?

[2018-05-22 20:13] #5488 closed

[2018-05-22 20:26] douglaslMS commented on #5414
@TNwestpointtg Thanks for bringing this issue to our attention. In fact, there was more than  one row in the table where the Result column needed to be fixed. I've just pushed those changes. You can compare the fixed version to the table here: [Using Encryption Without Validation](https://docs.microsoft.com/en-us/sql/relational-databases/native-client/features/using-encryption-without-validation?v

[2018-05-22 20:49] BillWagner commented on #3964
Thanks for adding more to your comment @IllidanS4 I think I understand your comments better.

First, if you want to propose new language features, I'd write those issues on the [dotnet/csharplang](https://github.com/dotnet/csharplang) repo. The language designers watch that much more closely.

Here, I'll address where I might need to add more clarification:

You said:

No, that's not correct. The

[2018-05-22 20:52] douglaslMS commented on #5534
@BillMcNabb First, I empathize with your situation. Second, I agree that the results of a web search are ... inconsistent. The confusion's made worse by the fact that two-thirds of the results are about saving an encrypted password locally or in app settings, rather than about sending an encryypted password. When you talk about sending SQL logins, is the sender SSMS, or a client app probably writt

[2018-05-22 21:17] IllidanS4 commented on #3964
@BillWagner I still might have not explained myself properly. `T` will of course be replaced with the actual type you supply and not the base type, but my point is that the user could supply actual `System.Enum` as `T`, which is, to my knowledge, possible.

However, seeing you use `where T : struct, Enum`, I see this is also possible now, so that's all what I wanted to know (`where T : struct, Typ

[2018-05-22 22:03] fotoguy42 opened #5551 "Dead Link"
the link to LocBaml Tool Sample, is dead. It goes to a url that times out. I had to go get it from here: https://github.com/JeremyDurnell/locbaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72e544a8-3979-26ea-39fb-316eafa71cdb
* Version Independent ID: 5b84e3b3-e09f-be5d-8936-ed1ceb81203c
* Content: [How to: Localiz

[2018-05-22 22:27] kspeakman opened #5552 "Record formatting feedback"
The 2 recommended multi-line record formattings can be problematic. And in fact trying to use the above recommendations as a beginner was a very frustrating experience. Here's why.

The first multi-line form has editor-based issues that may require manual, line-by-line correction on indent/outdent. I stopped using this form because of the tedious formatting corrections. For example, In VS 2017 out

[2018-05-22 22:56] agocke commented on #3964
I think both of what you said is correct, depending on the precise meaning of your terms. The simplest explanation is `T : System.Enum` means exactly what it says and no more -- the type substitution for `T` must inherit from `System.Enum` or itself be `System.Enum`. `System.Enum` cannot be created directly, but it could be a type argument and enums would be boxed during conversion.

[2018-05-22 22:57] rpetrusha commented on #4940
Yes, there is an existing format, @Niladri24dutta. It uses XML. The following is an example that illustrates the \<exception> element, as well as the two elements  (\<paramref /> and \<see langword />) most commonly embedded in text:
[code]

There is an \<exception> element for each exception, and the set of \<exception> elements follows the \<remarks> element.
The documentation is in the dotnet/d

[2018-05-22 23:28] #5534 closed

[2018-05-23 01:50] mairaw commented on #5532
Thanks for your feedback @WilMead. I've opened a PR to fix this.

[2018-05-23 07:17] Bunny2000 commented on #5488
Thanks works a treat

On 21 May 2018 2:07:10 am ACST, Douglas Laudenschlager <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-05-23 11:10] MarcelDevG opened #5554 "accepted version"
from the compiler:
/langversion:<number>             Specify language version:
                                  9|9.0|10|10.0|11|11.0|12|12.0|14|14.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98333251-2a19-793a-acd2-274181a7f1fd
* Version Independent ID: ff27427e-cbe2-3d89-b526-dfa7b3debabf
* Content: [-langversi

[2018-05-23 11:36] svick commented on #5554
I agree that the page should be updated, though it seems there are versions beyond 14. When I run `vbc /langversion:?` from Developer Command Prompt for VS 2017, the output I get is:

[code]

Do you want to create a Pull Request to update that information? If you do and don't know how to do that, you might want to read [this guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existi

[2018-05-23 12:15] MarcelDevG commented on #5554
Aha, there was an older version of vbc in my path. Your list is correct. I will dive into the guide.

[2018-05-23 12:52] yblender opened #5555 "Exception in the sentiment analysis tutorial"
I believe i have followed the tutorial correctly for sentiment analysis however,
When i run the following line
`var model = pipeline.Train<SentimentData, SentimentPrediction>();`

with the previous lines:
[code]

I receive this error:

-		InnerException	{System.InvalidOperationException: Expected arguments in curly braces for 'column'

The following is my sentiment data file:
[code]

I have attach

[2018-05-23 14:10] BillWagner commented on #5111
@BrianCook Are you still having this issue? Did you try the suggestions from @Tanya-Solyanik ? If the issue is fixed, we'll close this. If not, we'd like to get to the root cause.

[2018-05-23 14:13] BillWagner commented on #5126
There is a plan for adding repo-specific sections to the main contributor guide. Over the next several sprints, we'll get that information in place.

[2018-05-23 14:25] yblender commented on #5555
@BillWagner Apologies, this seems to be working now. I'm not sure what i did wrong but when i did a direct copy and paste it works. (i typed it out the first time)

[2018-05-23 14:26] BillWagner commented on #5555
I'm glad it's working.

Closing per above conversation.

[2018-05-23 14:26] #5555 closed

[2018-05-23 14:43] TRegan3 opened #5558 "How do you set up an sts issuer on local host?"
In your web.config screen shot you are pointing to a wsFederation sts that runs on the local host.  A walk-through on how to set that up would be extremely helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82badfb-faa2-0a0b-4a55-59a52ebe9806
* Version Independent ID: 6a0dbfb2-a12f-3541-bca1-bf4fd68c4304
* Conten

[2018-05-23 15:08] infoberg opened #5559 "Empty?"
Is this reference really missing since March 30, 2017???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e881c120-c87c-b6a3-7082-7a194d55bf5a
* Version Independent ID: e9ff4cfe-f79d-0b9f-6875-0f7eab7770c5
* Content: [JSON Web Token Handler API Reference](https://docs.microsoft.com/en-us/dotnet/framework/security/json-we

[2018-05-23 15:13] svick commented on #5559
This has already been reported at https://github.com/dotnet/docs/issues/5272, so this issue is a duplicate.

[2018-05-23 16:14] bobeva opened #5561 "Silvi"

[2018-05-23 16:37] mairaw commented on #5551
Thanks for your feedback @fotoguy42. This is a duplicate of another existing issue #3623 so I'm going to be closing this one. We're still trying to determine the right replacement link with the product team.

[2018-05-23 16:37] #5551 closed

[2018-05-23 16:39] MrEkShun commented on #5523
Thanks so much for replying to my comments! I really appreciate the simple
distinction you just gave. It makes more sense now. :)

On Mon, May 21, 2018 at 2:30 PM, Bill Wagner <notifications@github.com>
wrote:

[2018-05-23 16:53] #5330 closed

[2018-05-23 16:53] #5329 closed

[2018-05-23 16:53] #5343 closed

[2018-05-23 16:53] #5346 closed

[2018-05-23 16:53] #5366 closed

[2018-05-23 16:53] #5404 closed

[2018-05-23 16:54] #5492 closed

[2018-05-23 16:57] mairaw commented on #5346
I changed the tutorial/code to work with both VS and dotnet run now @BillWagner. And I changed the code as well to no longer need the Models folder @burstingninja.

[2018-05-23 16:58] ericmutta opened #5563 "Thread-safety and single-initialisation of shared members."
The documentation should clarify what happens if multiple threads reference a shared member defined like this:

[code]

As I understand it (and this is what I want to be sure about), the run-time will ensure that `Instance` is initialised exactly once and that if SomeClass has no mutable members, then all access to `Instance` is thread-safe. Ideally, an example will be given showing a (thread-safe

[2018-05-23 17:00] mairaw commented on #5330
I've actually added a link to the sample code we're using in the tutorial @aklcraigc:
https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/SentimentAnalysis

[2018-05-23 17:03] #5414 closed

[2018-05-23 17:07] #1800 closed

[2018-05-23 17:07] #3242 closed

[2018-05-23 17:07] #4625 closed

[2018-05-23 18:03] TRegan3 opened #5565 "What does this parameter do?"
What does the "context" parameter do or control?  An example or explanation would help immensely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f6e669-1350-4376-b3d1-0eda1ed7d4fc
* Version Independent ID: ab2c77cf-dd9d-aa50-5477-51c59406deef
* Content: [SessionSecurityToken.Context Property (System.IdentityModel.Tok

[2018-05-23 18:26] rpetrusha commented on #5561
This issue has no description. Closing.

[2018-05-23 18:26] #5561 closed

[2018-05-23 18:51] sispor opened #5567 "exception in Create the dictionary of input parameters"
class Program in Main is exception to object Dictionary<string, object> inputs= new Dictionary<string, object>(). You can declared: var inpust= new Dictionary<string, object>();
for example:
        static void Main(string[] args)
        {
           var parameters = new Dictionary<string, object>();
            CommonClass cc = new CommonClass();
            parameters.Add("iRedLightDelay", cc.R

[2018-05-23 18:58] Niladri24dutta commented on #5494
@rpetrusha as this requires a change in code snippet which is in another repository https://github.com/dotnet/samples/  , so should I fork and create the PR in that repository instead of here? I will mention the issue # in the PR as per the rule.

[2018-05-23 19:08] rpetrusha commented on #5494
Yes, @Niladri24dutta, fork the samples repository and open the PR there. We're used this repo as the centralized repository for issues for dotnet/docs, dotnet/dotnet-api-docs, and dotnet/samples.

[2018-05-23 19:34] BrianCook commented on #5111
Yes, I still have the issue (although it does not bother me except when I
add settings)

I can try to put together a specific re-creation and send you a project
that exhibits the behavior, along with screenshots of my local settings
folder.

If I do this, what is the best way to send it to you? Do I need to create a
github project and share it with you?

Thanks,

Brian

On Wed, May 23, 2018 at 9:1

[2018-05-23 19:48] BillWagner commented on #5111
Thanks @BrianCook

Either a GitHub gist, or a GitHub project would be perfect. Thank you

[2018-05-23 19:48] JRAlexander opened #5570 "Migrate new .NET Core Docker articles from dotnet-docker repo"
There are several new .NET Core Docker articles in the dotnet-docker repo. They need to be edited and migrated to docs.

Articles identified:

- [ ] [Develop .NET Core Applications in a Container](https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/dotnet-docker-dev-in-container.md)
- [ ] [Running .NET Core Unit Tests with Docker](https://github.com/dotnet/dotnet-docker/blob/mast

[2018-05-23 19:56] pkulikov commented on #4974
@mairaw the issue seems to be fixed: at least xref-links are rendered as expected at the linked page. If that's true, this issue might be closed then.

[2018-05-23 20:19] mairaw commented on #4974
Thanks @pkulikov. I know the UWP team was working on a fix. I believe we also have a similar issue filed on MicrosoftDocs/feedback.

[2018-05-23 20:19] #4974 closed

[2018-05-23 20:42] Niladri24dutta commented on #5494
@rpetrusha I have updated the csharp version of the code snippet but there are some ambiguity in the endpoint declaration for the visual basic version.

- The endpoint is declared like this in VB version
`Dim netTcpUri As New Uri("net.tcp://localhost:8006/Calculator")` for the service.But the endpoint has a different port in the web.config
`<endpoint address="net.tcp://localhost:8008/Calculator"

[2018-05-23 21:41] mairaw commented on #5505
@livarcocc @KathleenDollard any suggestions on who to ping on this feedback?

[2018-05-23 21:44] rohit21agrawal commented on #5505
when we moved certain properties to msbuild, we decided to use msbuild conventions as much as possible, without introducing our own. We realize it may confuse some people, but the existing delimiter for nuspec is still valid and the csproj based PackageTags will use the msbuild based delimiter - ```;```

[2018-05-23 21:45] livarcocc commented on #5505
I agree, the delimiter is expected and common place for folks using and used to msbuild. I believe this was the right call.

[2018-05-23 21:46] mairaw commented on #5505
Thanks @rohit21agrawal and @livarcocc. I'll close this issue then.

[2018-05-23 21:46] #5505 closed

[2018-05-23 22:17] mairaw commented on #2346
@guardrex I can't recall what this work was about.

[2018-05-23 22:22] guardrex commented on #2346
Me neither. :smile: ... other than what it says up there :point_up:, idk what this is about.

[2018-05-23 22:27] mairaw commented on #2346
Ok, now I think I managed to decode this message.
So this is about https://docs.microsoft.com/en-us/dotnet/api/system.identitymodel.tokens.saml2authenticationcontext.classreference?view=netframework-4.7#remarks, which points to the source code. Given that those values are from an internal class, they wouldn't show up in docs. So I'm just going to close this and leave as-is.

[2018-05-23 22:27] #2346 closed

[2018-05-23 22:30] rpetrusha commented on #5494
@Niladri24dutta, I suspect that `localhost:8006` is a typo; it should be localhost:8008` to be consistent both with the configuration file and the C# example.

Overall, the best approach when having multi-language example is to produce a working example in one language (here, C#) and then convert it to VB. So the examples should correspond unless there's a compelling reason for them not to -- whic

[2018-05-23 23:29] mwpowellhtx commented on #5350
@BillWagner Sorry for circling around a bit late.

At the moment, I am working on a VSIX and some bits that will analyze a class, a build time only decoration attribute, and spit out some boilerplate code.

Specifically, I want to generate:

1. A partial class mirroring the target decorated class.
1. Several static operator overloads, namely for bitwise operators, complement, and, or, and exclusiv

[2018-05-23 23:56] abidur opened #5574 "Need more details"
It would be nice to have more details on this beyond, "Number of weak hypotheses in the ensemble"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12f802b4-7e85-f280-316a-8c0f026f7276
* Version Independent ID: a6ae94b0-5d3e-0d89-1c2b-802b55f79a1b
* Content: [FastTreeBinaryClassifier.NumTrees Property (Microsoft.ML.Traine

[2018-05-24 00:16] #5532 closed

[2018-05-24 07:53] Niladri24dutta commented on #5494
@rpetrusha Ok , so I am making the changes in VB version too before making the PR.

[2018-05-24 09:00] fvanheeswijk opened #5579 "Manifest file additions"
It is written that you need to add the following:

<compatibility xmlns="urn:schemas-microsoft.comn:compatibility.v1">
  <application>

    <supportedOS Id="{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}" />
  </application>
</compatibility>

Should "urn:schemas-microsoft.comn:compatibility.v1" not be "urn:schemas-microsoft.com:compatibility.v1"? Notice comn -> com.

---
#### Document Details

⚠ *Do not e

[2018-05-24 09:36] cremor opened #5580 "Version selection for 4.7.1 to 4.7.2 broken"
If you select version 4.7.1 in "from" and 4.7.2 in "to", it loads the page that shows changes from 4.6.1 to 4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea2516e-2b0d-7759-1703-c3a146a5c343
* Version Independent ID: 0776830f-df42-931d-ec86-f57b17a6545e
* Content: [Runtime Changes in the .NET Framework](https://

[2018-05-24 09:38] cremor opened #5581 "Version selection for 4.7.1 to 4.7.2 broken"
If you select version 4.7.1 in "from" and 4.7.2 in "to", it loads the page that shows changes from 4.6.1 to 4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ec84884-b69a-f81e-b5b8-31e4c15478f8
* Version Independent ID: e6528b78-cf5f-4ecc-32d8-ec69860f766d
* Content: [Retargeting Changes in the .NET Framework](http

[2018-05-24 09:41] cremor opened #5582 "Layout errors"
The layout in the "Web Application" section is broken. Seems like special layout syntax is displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a0e7552-60ad-9488-87cb-0476def066f3
* Version Independent ID: 2453c298-590d-6c9a-1952-7b1359d19b00
* Content: [Runtime Changes for Migration from .NET Framework 4.7.1 to

[2018-05-24 12:06] svick opened #5583 "Document ProductInfoHeaderValue constructors"
I'm sometimes making HTTP requests to various APIs. Quite often, they require specifying [the User-Agent header](https://en.wikipedia.org/wiki/User_agent#Use_in_HTTP). To do that with `HttpClient`, I have to create `ProductInfoHeaderValue`, e.g.:

[code]

My problem is that creating valid `ProductInfoHeaderValue` is not obvious and [the documentation for its constructors](https://docs.microsoft.co

[2018-05-24 12:11] svick commented on #5579
For anyone reading this, note that the text of the above post contains XML that is hidden by GitHub formatting. It should read:

[2018-05-24 12:54] orobert91 opened #5584 "Documentation for System.Collections.Generic.CollectionExtensions"
Documentation for System.Collections.Generic.CollectionExtensions should be added:

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.collectionextensions.tryadd and other methods as well.

[2018-05-24 13:29] future81 opened #5586 "the background task degrade performance of file operations"
I'm trying to make performance critical Asp.net core 2.0 page - and I needed Background logic To prepare some files and memory before user requests - but actually when A user request is being processed and if the background task had been running simultaneously I find that file saving operations takes long time- I checked this by logging times of background and my MVC Action . I don't know why its

[2018-05-24 13:52] calrsom opened #5587 "Naming Convention"
Just wanted to mention that the class `myReverserClass` should be `MyReverserClass` according to Microsoft C# naming conventions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e525923-e35e-dfc9-9fe5-3714e2fca2ec
* Version Independent ID: 76e29298-dd8d-4662-2e23-f879b51a99e2
* Content: [IComparer(Object, Object) Inter

[2018-05-24 14:14] svick commented on #5582
It seems this issue is caused by space in the include path (`~/includes/migration-guide/runtime/web application/dataannotationsdatatypeattributedisableregex-app-setting-on-by-default-net.md`). Is there a reason why [web application](https://github.com/dotnet/docs/tree/master/includes/migration-guide/runtime/web%20application) and [web](https://github.com/dotnet/docs/tree/master/includes/migration-

[2018-05-24 14:50] BillWagner commented on #5350
thanks @mwpowellhtx That helps.

[2018-05-24 15:21] rpetrusha commented on #5580
Thanks for pointing this out, @cremor. @svick has opened a pull request (https://github.com/dotnet/docs/pull/5585) to fix this.

[2018-05-24 15:56] mwpowellhtx opened #5589 "Be more specific"
You defined the problem with its own verbiage. I still do not have any idea what *trivia* is, never mind what *leading or trailing trivia* are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a50684b-8bea-4814-a1bd-4ef4b51dc407
* Version Independent ID: 346caa88-9b6d-7700-f32d-5adf356857e8
* Content: [SyntaxNodeExtensi

[2018-05-24 16:00] #5581 closed

[2018-05-24 16:09] #5582 closed

[2018-05-24 16:13] BillWagner commented on #5208
In a related issue, it seems that types declared as `ref struct` (like `Span<T>` are shown as `struct`.  That's an important distinction.

[2018-05-24 16:15] BillWagner commented on #5210
Thanks for reporting this @samonzeweb I've added it to our backlog for the next sprint.

[2018-05-24 16:56] svick commented on #5589
This is explained in [the general Roslyn documentation](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/work-with-syntax#syntax-trivia). I'm not sure the API reference has to explain all the terms it uses, especially for terms that are used as often within the Roslyn API as "trivia".

[2018-05-24 16:58] BillWagner commented on #5216
@mrady9280 Does the above comment answer your question? (Can you upvote it if so).

[2018-05-24 17:00] mwpowellhtx commented on #5589
@svick Then say as much on the [WithoutTrivia](http://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.syntaxnodeextensions.withouttrivia) page. At the very least reference the link. I shouldn't have to go mining for reference material when the docs themselves are sparse.

[2018-05-24 17:02] douglaslMS commented on #5534
@BillMcNabb This issue has been closed because I resolve the ambiguity in the article that was the doc issue you raised. However if you want to answer any of my previous questions I can double-check a little further. The article mentioned in this issue describes ADO.NET and therefore the SqlClient provider sending logins. That might not be your scenario.

[2018-05-24 17:03] BillWagner commented on #5231
The verbose syntax is [on a different page](https://docs.microsoft.com/dotnet/fsharp/language-reference/verbose-syntax).

[2018-05-24 17:42] mwpowellhtx commented on #5350
@BillWagner No problem. Good luck!

[2018-05-24 17:44] BillWagner commented on #5197
Thanks for answering the question @svick.

I'm going to close this @he-dev as resolved. If you have other concerns, you can reopen this issues.

[2018-05-24 17:44] #5197 closed

[2018-05-24 18:49] rpetrusha commented on #5583
Thanks for opening this issue, @svick. At a minimum, making this documentation usable requires:
- Disambiguating the three constructor overloads (they all have identical descriptions!).
- Defining what a valid string value is.
We'll add this to be addressed in quarter 3, and also add it to the [project for community contributors](https://github.com/dotnet/docs/projects/35).

[2018-05-24 18:57] rpetrusha commented on #5587
Thanks for pointing this out, @calrsom! In addition to not using standard naming conventions, the example uses ArrayList to create a collection of String elements; the example should be modernized to use List<string>.
We'll revise the example in the course of the current sprint.

[2018-05-24 19:07] rpetrusha commented on #5579
Thanks for pointing this out, @fvanheeswijk, and for responding with the formatted XML, @svick. "comn" is indeed incorrect. It's also an easy fix, so I'll open a PR to address this issue momentarily.

[2018-05-24 20:17] JRAlexander commented on #5584
Thanks, @orobert91! Good catch. I've added this to our API reference project for tracking.

[2018-05-24 20:24] pkulikov opened #5596 "Not the best example for the compiler warning"
The sample code for the [compiler warning CS0278](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0278) generates the mentioned warning. However, that code also generates the [compiler error CS1640](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1640).

If there is a guideline that states that the sample code for warnings must compile, the sample code i

[2018-05-24 20:30] BillWagner commented on #2642
See PR #5571 for two new files where the `<LangVersion>` element is documented.

[2018-05-24 21:02] #5579 closed

[2018-05-24 21:05] pkulikov commented on #5169
@BillWagner if my understanding is correct, this issue was fixed by #5577

[2018-05-24 21:18] jefraire opened #5598 "Main method not recognized after async"
The guide asks us to convert the Main method to an async type that returns a Task. This causes an issue with the execution of the console application. I receive error CS5001 Program does not contain a static 'Main' method suitable for an entry point. Removing the async designation allows the program to run, but prevents the use of the ML package as indicated by the guide.

[2018-05-24 21:29] BillWagner commented on #5598
Thanks for reporting this.  It's fixed in PR #5333 which should go live in the next day or two.

In the meantime, the fix is to update the language version from 7.0 to 7.1 (or newer).

Closing as it is fixed in #5333.

[2018-05-24 21:29] #5598 closed

[2018-05-24 23:17] cartermp commented on #5231
Verbose Syntax isn't mentioned in this article. Given that we want to steer people away from the syntax (aside from OCAML interop), I don't think we should add a link.

[2018-05-24 23:17] #5231 closed

[2018-05-24 23:46] svick commented on #5596
Based on the description of the warning, I don't see how you could write code that produces the warning, but does not produce any errors.

[2018-05-25 02:45] DevonAleshire commented on #5169
Drew, you are awesome. Great explanation as well. Let me find some time to clarify it better since I started working down the issue. I will focus on making sure there is a distinction made between the fact that the previous method is a collection initializer using the IEnumerable implementation and the new index initializer utilizes the indexer support as an object initializer for index assignment

[2018-05-25 05:13] Finansnet commented on #5385
Hi

The sample with flowers looks and works awesome. I am impressed. Could you please avice me what kind of classifier should I use if one (or more) of my input features contains descreet values like color of the flower?

Thanks
Marek

[2018-05-25 05:46] cremor opened #5601 "Confusing/wrong remarks section of SslStream.SslProtocol property"
The remarks section of the property SslStream.SslProtocol is confusing or wrong.

1. It says that a security protocol can be passed to the constructor of the SslStream. But I see no constructor that takes such an argument.
2. It says that SslProtocols.Default is the default value. But the documentation of SslProtocols.Default explicitly states "Despite the name of this field, SslStream does not us

[2018-05-25 09:23] jsbwong opened #5602 "this is good example for data processing, thanks"
this is good example for data processing, thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f8edf9-aaf1-0ca9-ed64-93b69352cc2f
* Version Independent ID: c9597e50-2fce-d3a5-585d-045a9edf13ab
* Content: [How to: Read Characters from a String](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-read-character

[2018-05-25 09:41] BentTranberg opened #5603 ""this" is missing in examples"
In the examples at the top "this" is not defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78397d09-6174-74aa-6fe7-7aa7e87b44a6
* Version Independent ID: 3291294d-3965-0662-a2e0-410be6b69817
* Content: [Events (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/members/events)
* Content Source

[2018-05-25 09:55] bjorncoltof commented on #4675
Hi @Rick-Anderson, the article covers enabling TLS 1.2 quiet well, is it possible to extend it with information about how to enforce TLS 1.2?

[2018-05-25 10:09] fourst4r opened #5604 "No example output provided."
There is no output provided for the last code example in "Differences Between Records and Classes".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1bc735-dea5-eaf1-8adf-6fa03a43a88e
* Version Independent ID: 76d64ebf-a460-3e86-898f-c31c6c70e354
* Content: [Records (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/

[2018-05-25 10:20] brianlowe opened #5605 "ClassLibraryWhat?"
You start by telling us to create "ClassLibrarySample", then everything else refers to "ClassLibraryDemo". It's easy enough to make the adjustment and still follow the tutorial steps, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c543c271-0800-4ff9-4dfb-5154efb85732
* Version Independent ID: f1a4752f-a001-5e5e

[2018-05-25 11:07] dzmitry-lahoda opened #5606 "Probably wrong disposable"
[code]
Is equals to next, I think
[code]

What you want is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3c147e-2271-4d7c-712b-2f705b5ecbc5
* Version Independent ID: 2c1a7cfe-364e-408e-77c1-9fae2b0da643
* Content: [C# Coding Conventions (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/pr

[2018-05-25 11:11] #5606 closed

[2018-05-25 13:17] calrsom commented on #5587
Could maybe use a list initializer as well.

[2018-05-25 13:27] fanruinet opened #5607 "OverflowException from GetEncoderParameterList"
The line "EncoderParameters paramList = bitmap1.GetEncoderParameterList(jpgEncoder.Clsid);" always throws an OverflowException.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02699531-10c8-ab00-c0b1-8e135d1440d3
* Version Independent ID: 5d6da208-449a-e1b8-8da5-5ca8f832214f
* Content: [How to: Determine the Parameters

[2018-05-25 14:00] #5541 closed

[2018-05-25 14:35] alfredmyers opened #5608 "Fix type signature for MatchCollection"
The [type signature](https://github.com/dotnet/dotnet-api-docs/blob/bccdeb19b6e77427d5689159edb4f4b6bd673470/xml/System.Text.RegularExpressions/MatchCollection.xml#L2-L6) for MatchCollection corresponds to the .NET Framework's implementation

`public class MatchCollection : ICollection`

... not the .NET Core's implementation

`public class MatchCollection : IList<Match>, IReadOnlyList<Match>, ILi

[2018-05-25 15:17] JRAlexander commented on #5602
@jsbwong, Thank you for the feedback!

[2018-05-25 15:54] #5602 closed

[2018-05-25 15:56] cartermp commented on #5603
@BentTranberg Sorry, I'm not sure what you're referring to here. Is there a `this` in a code sample which will resulting in code that won't compile?

[2018-05-25 16:17] aditidugar commented on #5385
Hi @Finansnet! If I understand your question correctly, you're looking to handle input features for the color of flower such as "yellow", "pink", "blue", etc.

You can use the CategoricalOneHotVectorizer() function to transform these into numeric values so you can then process them in your learning algorithm. Please take a look at the [Taxi Fare example](https://docs.microsoft.com/en-gb/dotnet/mac

[2018-05-25 17:18] BentTranberg commented on #5603
Darn, my fault. Sorry for wasting your time. I am so indoctrinated with using "as this" for classes and "x." for members that I fooled myself into thinking that "as this" was missing from the class header when I saw "member this." in member definitions.

[2018-05-25 17:28] rpetrusha commented on #5608
Thanks for pointing this out, @alfredmyers. We don't support multiple type signatures for different versions/implementations, at least as far as I know.  @dend, is that accurate?

[2018-05-25 17:52] mwpowellhtx opened #5612 "Where are the ctors of the syntax itself documented?"
i.e. ``new ConstructorDeclarationSyntax((CSharpSyntaxNode) green, (SyntaxNode) parent, (int) position)``. What is a ``green``? ``parent`` I assume is the ``ClassDeclarationSyntax``? I am defining this in the list of ``MemberDeclarationSyntax`` nodes, correct? ``position`` I take to mean simply the order in that list?

Just ***say so***. Improve the documentation here, please. Thanks!

---
#### Doc

[2018-05-25 17:56] rpetrusha opened #5613 "Document use of <loadFromRemoteSources> in System.Reflection.Assembly methods"
# Document use of \<loadFromRemoteSources> in System.Reflection.Assembly methods

We've revised the documentation for the [\<loadFromRemoteSources> element](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/loadfromremotesources-element), but the API documentation needs to refer to the topic. Relevent APIs, such as [Assembly.LoadFrom](https://docs.microsoft.com/e

[2018-05-25 18:00] mwpowellhtx commented on #5612
I may be barking up the wrong tree with this particular area. Looking instead at the ``SyntaxFactory.ConstructorDeclaration(...)``.

[2018-05-25 18:01] mwpowellhtx opened #5614 "What do the parameters actually mean"
Please, elaborate. No excuses for the sparseness of the docs here. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 698bf224-384a-6c59-5c26-8b55b91fefed
* Version Independent ID: 90a8ef60-44d4-0281-9eb9-3f893751be5c
* Content: [SyntaxFactory.ConstructorDeclaration Method (Microsoft.CodeAnalysis.CSharp)](https://d

[2018-05-25 18:05] alfredmyers commented on #5608
Here's another instance: X509Certificate [added IDisposable in .NET Framework 4.6](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate?view=netframework-4.7.2#remarks)

[2018-05-25 18:14] #5604 closed

[2018-05-25 18:28] mwpowellhtx opened #5615 "Defined as ctor initialization syntax"
Meaning what exactly? Elaborate with some meaningful remarks, please. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c3554-5732-3836-9686-9d0cb0459c34
* Version Independent ID: 2aa84ac7-9ca2-2f1b-af4d-d60443751e89
* Content: [ConstructorInitializerSyntax Class (Microsoft.CodeAnalysis.CSharp.Syntax)](https://

[2018-05-25 18:50] svick commented on #5612
That constructor is internal and what `green` is is an implementation detail not exposed in the Roslyn API. (If you're curious, have a look at [this article from Eric Lippert](https://blogs.msdn.microsoft.com/ericlippert/2012/06/08/persistence-facades-and-roslyns-red-green-trees/).)

You already figured out that the way to create syntax node types is by using `SyntaxFactory`. This is certainly som

[2018-05-25 19:40] karelz commented on #4675
@bjorncoltof I don't believe we have mechanisms to forbid certain protocol versions via app-wide/machine-wide configuration (incl. registry). Maybe the OS has something like that?

[2018-05-25 19:44] davidsh commented on #4675
Yes, Windows OS has registry keys you can set to enable/disable various TLS protocol versions.

See: https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings

For example:

[code]

[2018-05-25 19:49] blowdart commented on #4675
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/manage-ssl-protocols-in-ad-fs also has some powershell should you want to avoid the regedit.

[2018-05-25 20:16] #5289 closed

[2018-05-25 20:30] mwpowellhtx commented on #5612
@svick Yep, :+1:'s up and down that list of areas to focus on.

[2018-05-25 20:31] #5612 closed

[2018-05-25 20:36] danjagnow opened #5619 "MakeCert.exe is deprecated"
The "Using Makecert.exe to Build a Certificate Chain" section refers to the MakeCert.exe tool.  According to https://msdn.microsoft.com/en-us/library/windows/desktop/aa386968(v=vs.85).aspx, MakeCert.exe is deprecated.  This document should probably be updated to reference the explanation of how to use the Powershell Cmdlet `New-SelfSignedCertificate`.

---
#### Document Details

⚠ *Do not edit thi

[2018-05-25 21:01] mairaw commented on #5603
So ok to close this issue @BentTranberg?

[2018-05-25 21:42] BillWagner commented on #5382
@mairaw If you can leave a quick comment about what the fix is, I'll implement it.

[2018-05-25 21:42] Acatecatl opened #5620 "_got-dir"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36032d47-681c-e39e-331a-14f178d7e583
* Version Independent ID: 46c574db-a657-f2a9-9d0f-dfb9a83a124f
* Content: [Creating and Throwing Exceptions (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creati

[2018-05-25 21:46] rpetrusha commented on #5620
No feedback. Closing.

[2018-05-25 21:46] #5620 closed

[2018-05-25 21:49] mairaw commented on #5382
@BillWagner I have a PR open already that I have to implement the latest feedback I got from the dev. But this was not a quick fix. 😄

[2018-05-25 22:42] Powerhelmsman opened #5622 "I have some suggestions on C# Documentation about Async Await"
This issue is from @HyVong007 https://github.com/MicrosoftDocs/feedback/issues/231
I am learning C# Asynchronous Programming with Unity3D. I have read many times on your Documentation Website. And I think it will be very very easy to understand if you draw more visual Picture aka Info Graphic to help people understand !
Thank you so much for your helpful documentation !
Here is My Picture : https:

[2018-05-26 01:10] DevonAleshire commented on #5169
@pkulikov and @BillWagner I will try to simplify the details a little for incorporation into the documentation as noted above by @drewjcooper . I think it is an important concept to hit the wave tops of without getting overly complex. Let me know if issue #5169 is something you want to keep open a little longer, otherwise I will hold off.

Also off topic, @BillWagner I did not even realize who you

[2018-05-26 03:44] #5603 closed

[2018-05-26 13:50] pkulikov commented on #5169
@DevonAleshire if you want to contribute further to fixing this issue, ask the maintainers to assign the issue to you. That way, other contributors know that somebody is working on the issue and don't grab it (this one has the *up-for-grabs* tag, which means it shouts to the community contributors for attention).

Furthermore, the issue doesn't seem to be urgent and is of the medium priority (noti

[2018-05-26 18:40] mnbuch opened #5628 "Source column "Label" not found"
I am getting this error. Following is the stack trace:

System.Reflection.TargetInvocationException
  HResult=0x80131604
  Message=Exception has been thrown by the target of an invocation.
  Source=System.Private.CoreLib
  StackTrace:
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeMethodInfo.Unsafe

[2018-05-26 19:00] mnbuch commented on #5628
Fixed it. My Bad.

For others here is what I did wrong: Make sure there are 2 brackets in the ColumnCopier Ctor

pipeline.Add(new ColumnCopier(("fare_amount", "Label")));

[2018-05-26 19:06] mnbuch opened #5629 "Reason to exclude "trip_time_in_secs" ?"
Following is given:
"trip_time_in_secs: The amount of time the trip took. You won't know how long the trip takes until after it is completed. You exclude this column from the model."

Why? Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent I

[2018-05-26 21:39] BenjaminCronin opened #5630 "Explicit and Implicit conversions on Derived and Base Classes"
Would not casting a derived class to a base class lose all data only present in the derived class? I would think that casting a base class to a derived class would lose no data.
For example:
<pre><code>
class A
{
    int a = 5;
}
class B : A
{
    int b = 4;
}
</code></pre>
Casting an instance of class B to A would lose the value of b, but the other way (A -> B) would lose no data.

---
#### Docum

[2018-05-26 22:01] pkulikov commented on #5629
@mnbuch imagine yourself aimlessly wandering around New York. Suddenly, an Englishman stops you to ask for a favor. He is new in the city, has no dollars, only British pounds, and is now late for a date. He desperately needs a taxi drive and asks you for some dollars to pay for it.

You want to help him. But how much money to give? Out of your pocket, you get the regression calculator and ask some

[2018-05-26 23:44] boba8710 opened #5631 "Typo"
Missing ( on line 32 of the symmetric encryption example

Correct line should probably be:
CryptoStreamMode.Write();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee15f916-5406-85fa-b7fb-a9e69fcd3efb
* Version Independent ID: b6aae569-8a56-0a44-7b8e-e54491418baf
* Content: [Encrypting Data](https://docs.microsoft.com/

[2018-05-27 00:30] ASC95 opened #5632 "arr.Reverse() method"

[2018-05-27 01:19] #5632 closed

[2018-05-27 03:06] akilram commented on #5631
This isn't right, because `CryptoStreamMode` is an enum!

The program works just fine, and the sample is correct:
![screenshot from 2018-05-26 22 04 09](https://user-images.githubusercontent.com/4010305/40582116-f2c4af5e-6130-11e8-9b62-dc16d0068697.png)

[2018-05-27 03:07] #5631 closed

[2018-05-27 07:57] Finansnet commented on #5385
Hi @aditidugar

That was exactly I was looking for. I have checked in on my training data and the results are very promising. Thank you.

Marek

[2018-05-27 20:29] StingyJack opened #5635 "There's a very specific case in here..."
... that an example would be beneficial. At least enough to contrast the difference between the MRE and MRES.

Also, "wait times are expected to be very short" is too subjective. Is this < 1ms or < 30 seconds or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe76905-60c0-9fce-5e51-fdc6c7239a9d
* Versio

[2018-05-27 22:08] AntonioCaroppos opened #5636 "VB.NET code missing"
As title says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4b0b11b-f27e-a4df-8804-e443ba1b91d7
* Version Independent ID: fdccc459-a827-154d-7a9b-4ad295e07ab2
* Content: [How to: Use a Color Matrix to Transform a Single Color](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-use-a-color-mat

[2018-05-27 22:09] AntonioCaroppos commented on #5636
Found it on the right side of the screen, not in the usual spot.

[2018-05-27 22:31] vanComma opened #5637 "Hey Ho ..."
All this Microshaft© crap just fucks up my computer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba0e958e-d263-e88b-0f71-995d73439572
* Version Independent ID: 27cce18b-6fd8-5efa-e978-ba9bd5728225
* Content: [Install the .NET Framework on Windows Vista](https://docs.microsoft.com/en-us/dotnet/framework/install/on-wi

[2018-05-27 22:36] drewjcooper commented on #5169
@pkulikov yes, I think the section should focus on object initializers, because that's where the indexer support is in the language.  It really has nothing to do with collection initializers, except that either can be used to initialize a dictionary, or other collection type with a sparse index.

[2018-05-28 03:34] Joe-K-Sewell opened #5638 "Ambiguous description of ambiguous syntax"
This page notes that because casting uses an identifier surrounded by parentheses, some expressions may be ambiguous. It's not clear, though, what implication ambiguous syntax has for a programmer. Is there a possibility of the compiler interpreting it one way, but later being updated to interpret it another way? Should the developer take care when using third-party compilers, such as that for Mon

[2018-05-28 06:04] BentTranberg opened #5639 "Example for lastOrDefault garbled"
The first example for lastOrDefault, near first occurrence of the word on the page, doesn't look right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3514796-1d23-6213-51c8-a90e399a5afd
* Version Independent ID: 518ea6eb-b99d-deac-eca3-4a2be6b4baa9
* Content: [Query Expressions (F#)](https://docs.microsoft.com/en-us/

[2018-05-28 06:53] eriawan commented on #5637
@mairaw

Could we just close this trolling/spamming issue?

[2018-05-28 06:58] korzh opened #5640 "Default column names"
From your IRIS classifier example, I guessed that the default column name for features is "Features" and for the label is "Label" and they can be changed using "LabelColumn" and "FeatureColumn" properties of the classifier class. Is it correct?
(it would be better to call the second one "FeaturesColumn" by the way)

Then I tried to change the column name for the output data structure. I used
[code

[2018-05-28 07:12] goyzhang opened #5641 "description issue"
TOuter
The type of the elements of the second sequence.
TInner
The type of the elements of the first sequence.

Their description are reversed.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 305bfe62-d945-9a8a-087e-b99b688ef79a
* Version Independent ID: a05d79ce-dda2-d0fb-6235-f0f07ccf82b3
* Content: [ParallelEnumerable.Join Method (System.Linq)](https://docs.micros

[2018-05-28 08:14] andreireiand commented on #5463
Would be great to see some recursive neural networks examples. I'd phrase it a bit different than Jahanaray - not disappointment but work in progress ... and indeed multiple things missing:
1) Clear usage guidelines not only for one class / use-case but many
2) Clear project examples with real world applications for say, time series analysis
3) Emphasis on advantages of keep using ML.NET library a

[2018-05-28 08:31] svick commented on #5639
It seems the `<` character within `<pre><code>` tags is causing the issue and that HTML encoding it fixes it. I have opened a Pull Request that makes that change: https://github.com/dotnet/docs/pull/5642

[2018-05-28 12:36] BentTranberg opened #5645 "Broken links to Custom RoutedCommand Sample"
The links to Custom RoutedCommand Sample are broken. (It's the same link, duplicated.) Last link in "Creating Custom Commands", and last link in "See Also".

And the second to last link in "See Also", titled "How to: Add a Command to a MenuItem", does not point to docs.microsoft.com. I don't know if this is something that should be changed.

---
#### Document Details

⚠ *Do not edit this section.

[2018-05-28 13:12] svick opened #5646 ".Net Framework versions table does not look good"
If I view the .Net Framework versions table in my not-fullscreen browser window, it doesn't look very good (shown horizontally scrolled for effect):

![](https://user-images.githubusercontent.com/287848/40615803-a0144cd4-6288-11e8-908e-4c200d8c3ada.png)

I think the biggest issue is trying to cram the Features column there. Assuming that information can't be significantly shortened, maybe it could

[2018-05-28 13:58] BillWagner commented on #5637
closing as spam.

[2018-05-28 13:58] #5637 closed

[2018-05-28 16:33] svick commented on #5587
Does it even make sense to have an example for the non-generic `IComparer`? Shouldn't people be directed to `IComparer<T>` instead?

[2018-05-28 18:19] AArnott opened #5647 "Reflection-only context *can* execute code"
This doc I believe incorrectly states that the reflection-only context cannot execute code. In fact, reflection itself can execute code, including when you query a member's custom attributes. Instances of attributes are returned. When those attributes are defined within that assembly, that requires that that attribute's constructor is executed, so in fact the reflection-only context is *not* a gua

[2018-05-28 19:04] #5639 closed

[2018-05-28 19:10] WallaceKelly opened #5648 "PascalCase or camelCase for public functions on modules"
Does this document answer the question about the naming convention for public functions on modules? Should those be PascalCase or camelCase?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c09996f-24ac-cf39-ef43-d7909cbc2b89
* Version Independent ID: 1efdd523-8552-6421-e149-74f76826ef8f
* Content: [F# code formatting g

[2018-05-28 20:07] cartermp commented on #5648
I don't think it answers it directly, no. Module-bound public functions should be camelCase. [This section](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#use-camelcase-for-class-bound-expression-bound-and-pattern-bound-values-and-functions) technically covers it, but I don't think the example makes it clear. I can make a change.

[2018-05-28 20:32] svick commented on #5648
Doesn't [the *F# component design guidelines* article](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/component-design-guidelines#guidelines-for-f-facing-libraries) cover that?

[2018-05-28 20:38] cartermp commented on #5648
@svick It does, but I don't think people would expect to go to that article to find this guidance. The first push for these sets of articles were to get the CDG and other writings synthesized and published. Various cleanup efforts need to happen now.

[2018-05-28 20:51] DoCode commented on #5153
Would it be possible to cache the download file, e.g., `https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-rc1-008673/dotnet-sdk-2.1.300-rc1-008673-win-x64.zip` at the local file system?
So following `dotnet-install.ps1` call could use the cached file when the version is the same.

[2018-05-28 21:26] svick commented on #5647
I can't reproduce what you're describing.

Given this code for a library:

[code]

And this code for an application:

[code]

I get:

[code]

[2018-05-29 01:14] AArnott commented on #5647
Hmmm... it's been a very long time since I actually interacted with this API. Maybe I remember wrong or maybe that was a behavior in .NET 2.0.

[2018-05-29 01:14] AArnott commented on #5647
Sorry for the trouble.

[2018-05-29 02:27] m1caell opened #5653 "Nice"
Very good article, rich in details and good examples. Congratulations!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c123f1f-8ae8-db21-2eac-4297bfc30b44
* Version Independent ID: 4675decb-333f-0508-5a3d-ce71dc85936d
* Content: [Unit testing C# with MSTest and .NET Core](https://docs.microsoft.com/en-us/dotnet/core/te

[2018-05-29 02:41] #5648 closed

[2018-05-29 04:45] kacho39 opened #5654 "Good tutorial"
It is a good tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b514dfb-f00b-8ac3-4027-7a28770f959e
* Version Independent ID: 7db3af08-9406-10da-76a1-1f8db30d1d2d
* Content: [Hello World interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/hello-world?tutorial-step=7)

[2018-05-29 05:15] Amit1150 opened #5655 "How did you select learner"
I've followed both tutorials, also https://www.microsoft.com/net/learn/apps/machine-learning-and-ai/ml-dotnet/get-started/windows. I just wanted to know, how did you select learner, as Both Iris and sentiment-analysis are types of binary  classifier, so if possible please explain why you have selected FastTreeBinaryClassifier for sentiment-analysis and StochasticDualCoordinateAscentClassifier for

[2018-05-29 06:47] mairaw commented on #5654
Thank you for your feedback @kacho39! We appreciate it.

[2018-05-29 06:47] #5654 closed

[2018-05-29 06:49] mairaw commented on #5653
Thank you so much for your feedback @m1caell! We’re happy that you liked it.

[2018-05-29 06:49] #5653 closed

[2018-05-29 12:15] FormadorLar commented on #5120
Hi! Any way to reinstall all .net framework packages in W2K8_R2 with registry values, etc, etc, etc?

I'm starting to lose hope.. It started when I tried to reinstall WSUS server.. it wouldn't install as .net framework was >3.5. So, read all about net framework and tried to use a tool (https://blogs.msdn.microsoft.com/astebner/2012/08/04/net-framework-cleanup-tool-now-supports-net-framework-4-5-an

[2018-05-29 12:23] wegiangb opened #5656 "F2"
Useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a1428fb-1282-c537-8714-29cf2ccb0446
* Version Independent ID: d329fbf9-0b17-e4e4-733f-9b9c96eb46bd
* Content: [Developer Command Prompt for Visual Studio](https://docs.microsoft.com/en-us/dotnet/framework/tools/developer-command-prompt-for-vs#visualstudio)
* Conten

[2018-05-29 12:51] MaxTranced opened #5657 "Unclear example code: Changing ChainPolicy after calling Build()"
In the current example code
`ch.ChainPolicy.RevocationMode = X509RevocationMode.Online;`
is called after
`ch.Build (certificate);`
is called.

It is not clear if the change in `ChainPolicy` will have an effect on the validation or not. I assume that validation is done during the call to `Build()`, so I assume that any subsequent changes to `ChainPolicy` have no effect.

---
#### Document Details

[2018-05-29 13:58] Cobhman opened #5659 "great resource"
I do think more comments to show what each line does would be helpful as well.
I am currently studying this and comments would help in realising what does what. Apart from that it is a great resource for copy and paste

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1138d70-1d83-a7e5-8549-72bf80dc5834
* Version Indepen

[2018-05-29 15:47] BillWagner commented on #5249
@biltongza That source becomes [this document](https://docs.microsoft.com/en-us/dotnet/framework/wcf/extending/how-to-create-a-custom-authorization-manager-for-a-service) through the docs build system.

I'm going to close this, but if you have readability concerns on the published document, re-open and let us know what you're seeing.

[2018-05-29 15:47] #5249 closed

[2018-05-29 15:54] BillWagner commented on #5266
@TheAndy500 It's hard to answer without seeing the code. That said, a forum site, or Stack Overflow may be a better place to find an answer to this specific question.

[2018-05-29 15:57] BillWagner commented on #5267
Thanks for pointing this out. The short answer is that relying on .NET Standard means the library can be used in more contexts: .NET Core, .NET Framework applications, Xamarin applications and so on.

[2018-05-29 16:14] BillWagner commented on #5306
@HasanAliKaraca Thanks for pointing this out.

The WCF Test client is installed with Visual Studio. I don't know if there is a separate download.

[2018-05-29 16:18] rpetrusha commented on #5656
Thanks for your feedback, @wegiangb.

[2018-05-29 16:18] #5656 closed

[2018-05-29 16:39] martingbrown opened #5660 "What do the "projects", "sdk/runtime" and "sdk/architecture" keys mean?"
I've seen a few global.json files that look like this:

{
  "projects": [ "src", "test" ],
  "sdk": {
        "version": "1.0.0-beta5",
        "runtime": "clr",
        "architecture": "x86"
  }
}

What do the "projects", "sdk/runtime" and "sdk/architecture" keys mean? If they are obsolete it would be handy if this page said so.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2018-05-29 16:47] dasMulli commented on #5660
They no longer carry any meaning. They were used during preview tooling (and before that: DNX tooling).

What's also in global.json but not in this doc is msbuild SDKs - https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/msbuild/how-to-use-project-sdk.md

[2018-05-29 17:00] rpetrusha commented on #5636
@AntonioCaroppos, do you mean that you found the version selector on the right side of the screen, and that when you changed it to VB, the VB code was present? If so, that's by design.
I'm going to close this issue, since that's my interpretation of what you mean, and the VB code is present. If I'm mistaken, feel free to respond.

[2018-05-29 17:00] #5636 closed

[2018-05-29 17:23] TheAndy500 commented on #5266
I did ask on SO, and ended up answering it myself.  I've also reported it as a bug in C#, still waiting to hear if they agree... https://stackoverflow.com/questions/50256810/verifying-signed-xml-in-c-sharp-with-multiple-signatures

[2018-05-29 17:55] karunasoft opened #5661 "Where's the kubernetes/service fabric bit?"
Missing from figure 5-15 is the operationalising part of the story (e.g. kubernetes/service fabric)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b69a4b5-2003-e7a5-97a3-59e3737ea1ef
* Version Independent ID: 0df5f0d7-a2b4-e9b3-9f34-d66cedf418a3
* Content: [Development workflow for Docker apps](https://docs.microsoft.

[2018-05-29 19:03] mairaw commented on #5336
But are you comparing that to the one available at https://www.microsoft.com/net/learn/architecture? Or are you comparing the content published on Docs vs. what's on the PDF? That Download PDF button is not aware of the new editions of the book at https://www.microsoft.com/net/learn/architecture. It's just the PDF representation of what's currently published on docs.microsoft.com.

[2018-05-29 19:46] #2821 closed

[2018-05-29 20:05] mairaw commented on #5655
Adding @aditidugar and @asthana86 to help with this question.

[2018-05-29 20:06] mairaw commented on #5647
Should we close this then @AArnott?

[2018-05-29 20:07] mairaw commented on #5646
Maybe we need to use a layout different than a table for that information @rpetrusha.

[2018-05-29 20:11] gosali opened #5663 "Test"
test

[2018-05-29 20:12] mairaw commented on #5645
Thanks @BentTranberg. I'll take a look at this topic and see if I can find where the sample was moved to. That link is probably fine going to MSDN. That topic got removed at some point from our docset.

[2018-05-29 20:12] #5663 closed

[2018-05-29 20:13] mairaw commented on #5640
@aditidugar can you take a look at this question? It's about the Iris tutorial.

[2018-05-29 20:57] kendrahavens commented on #5288
Yes, you can definitely run tests before publishing while you are still in your development cycle by using the ['dotnet test' command](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore2x). This is just an additional option.

[2018-05-29 21:13] AArnott commented on #5647
Yes.

[2018-05-29 21:13] #5647 closed

[2018-05-29 21:40] rpetrusha commented on #5646
We need to change something, @mairaw, although a table seems best for this information. The problem here, as you point out, @svick, is the Features column. We could move it out of the table into a separate section. But that doesn't seem to me like a very attractive alternative; I think that it ends up making this a scaled-down version of the what's new topic along with some version information. I

[2018-05-29 22:16] #5288 closed

[2018-05-29 22:45] bradygmsft opened #5665 "Doc bug? Table seems cut off"
The first table seems to be cut off, as it just says "A secure and..." and then nothing, in the description. Also noticed that the first table lacks the UdpBinding, so it looks like it may have been cut off in a previous update. Thanks for being awesome, docs.ms!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2387192f-

[2018-05-29 22:50] mairaw commented on #5665
Thank you @bradygaster. I've checked on our previous CMS system and it seems to be a migration issue. The last two lines look like the following in our old system:
![image](https://user-images.githubusercontent.com/12971179/40689625-dcc5cb74-6357-11e8-96e6-84262cc7e2c7.png)

I'll add this back later this week.

[2018-05-29 23:16] MaxWilson opened #5666 "ServiceAuthorization config example correction"
The config example currently has serviceAuthorization config element directly under system.serviceModel/behaviors. This is incorrect according to the documentation here (https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/serviceauthorization-element) and also generates design-time errors. It should be at system.serviceModel/behaviors/serviceBehaviors/behavior/serviceA

[2018-05-29 23:36] mwpowellhtx commented on #5353
The whole point of the docs is to make is clear, or at least clearer, as to what's what. I'm providing this feedback, not looking for direct feedback here, per se, but rather to flesh out the docs themselves.

[2018-05-30 00:16] mairaw commented on #5608
Duplicate of https://github.com/MicrosoftDocs/feedback/issues/222

[2018-05-30 00:16] #5608 closed

[2018-05-30 02:15] KentRollins opened #5667 "Enum field descriptions are not explanatory"
Some of these enumeration values are not so obvious from the name.  FastPoint and FastLine could use some explanation.  Or a link to a page that does explain them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a22dae5-fb28-2090-b6a7-48750605f2ca
* Version Independent ID: 9301e06a-aa6c-20d7-914f-8e1aef1c5b08
* Content

[2018-05-30 02:29] #4933 closed

[2018-05-30 03:21] gbsheble opened #5669 "setup is incomplete for F#"
This document does not execute as stated when loaded into Visual Studio Community Version 15.7.2, seems that the setup is incomplete for F#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4051ae2-8154-5007-b633-dcd0d71f84fc
* Version Independent ID: fed62955-cf8b-55e7-b4d4-851cd85dc6d2
* Content: [Get started with F# i

[2018-05-30 04:28] BenjaminCronin commented on #5630
Sorry, got this cleared up. I didn't know fields weren't inherited.

[2018-05-30 04:28] #5630 closed

[2018-05-30 05:56] Amit1150 opened #5671 "Column copier is not working"
I followed the tutorial, and it's working. But while playing around I made changes in code e.g: changed `[Column(ordinal: "1", name: "Label")]` to `[Column(ordinal: "1")]` and then used `ColumnCopier` to copy that column to Label. like this `pipeline.Add(new ColumnCopier("Sentiment","Label"));`. But it's not working. It throws exception `Source column 'Label' not found`

---
#### Document Details

[2018-05-30 05:59] mairaw commented on #4509
Thanks for the offer @dasMulli. I'll take a look once I'm ready to move to part II which will cover the creation of global tools in a few days.

[2018-05-30 07:22] Necriis opened #5672 "Pay attention to RabbitMQ and AMQP 1.0"
If you plan to use RabbitMQ rather than Service Bus in development, by interfacing with AMQP 1.0, pay attention to this :
The equivalent of Service Bus topics in RabbitMQ are Header Exchanges. But those are not compatible with the AMQP 1.0 plugin provided by RabbitMQ.
see https://github.com/rabbitmq/rabbitmq-amqp1.0#message-properties-annotations-headers-etc

---
#### Document Details

⚠ *Do not e

[2018-05-30 07:33] JarkoDubbeldam opened #5673 "Typo"
There are two typos in the third codeblock. It should be `Northwind` instead of `Northwnd`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2448ac4-a6d0-e376-36fe-c6279fd606c8
* Version Independent ID: 50f1aa4e-8e0e-2bee-db10-9c65c11b4028
* Content: [How to: Connect to a Database](https://docs.microsoft.com/en-us/dotnet

[2018-05-30 07:37] cmeeren commented on #5336
I'm talking about these two links. The lower-left link points to the old eBook, whereas the in-text link points to the updated eBook.

![image](https://user-images.githubusercontent.com/7766733/40706063-ec73fef2-63ec-11e8-8e4e-77931d1bf529.png)

[2018-05-30 08:13] mairaw commented on #5336
Ok that confirms the information I was looking for @cmeeren. The Download PDF button is a functionality of the docs.microsoft.com and is not aware of different editions of the book available at http://aka.ms/microservicesebook. The articles on docs.microsoft.com haven't been updated with the contents from the 2nd edition of the book. Ideally, we'll move to a process where we have a single source f

[2018-05-30 08:54] mairaw commented on #5672
Thanks for your feedback @Necriis. @CESARDELATORRE please take a look.

[2018-05-30 11:10] ptoye opened #5674 "Odd sentence"
The "Security considerations" section starts: "The types and members in the System.Xml namespace rely on the ." - this isn't a sentence. Something missing?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97cddc6b-80bd-a114-0e2f-1ff9f1635e8d
* Version Independent ID: 9d91a158-8b73-163e-728b-7d60c6ad17fe
* Content: [Syste

[2018-05-30 11:42] svver opened #5676 "Not supported on .net core platform"
Though the method is available in .net core 2.x projects the System.PlatformNotSupportedException is thrown when you try to use it. I think that this info should be in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8ddcfc-735a-b44c-ad27-7b84f2e21e76
* Version Independent ID: 56f5b699-5568-9d50-e720-b02d8015

[2018-05-30 12:09] BiggerChina commented on #5489
my client app is an console app , i connected to server,then send a message, and paused on console.readline();   then  i close it manually.

so it did not notice the server about its close.

[2018-05-30 12:10] svick commented on #5671
As far as I can tell, if you want to copy from `Sentiment` to `Label`, you need `new ColumnCopier(("Sentiment","Label"))`. Notice the double parentheses, which causes the creation of a tuple.

Does that work for you?

[2018-05-30 12:15] BiggerChina commented on #5489
I just started learning socket  programming , may be i misunderstand the procedure of communication .

is there any method to find the closed socket in this close mode?

many thanks!

[2018-05-30 12:28] ewest305 opened #5677 "Example does not match documentation"
In the following example, the reference to 'AuditedBankingTransaction' is not defined in the documentation. I would expect 'AuditedBankingTransaction' to appear as part of a class which it is not.

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
  <s:Header>
    <h:IsAudited xmlns:h="http://schemas.contoso.com/auditing/2005" xmlns="http://schemas.contoso.com/auditing/2005">false</

[2018-05-30 12:52] #5489 closed

[2018-05-30 13:16] #4627 closed

[2018-05-30 13:54] #5168 closed

[2018-05-30 14:32] hansenfreddy opened #5680 "dotnet pack does not create project.assets.json when no referenced nuget packages"
# Problem

Running dotnet pack will give these error messages if no referenced nuget packages:

`C:\Program Files\dotnet\sdk\2.1.201\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(284,5): error MSB4018: The "GetProjectReferencesFromAssetsFileTask" task failed unexpectedly.
C:\Program Files\dotnet\sdk\2.1.201\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(284,5):

[2018-05-30 14:43] ChrisMaddock opened #5681 "Typo in code samples"
"represengting" appears on this page, and in other samples. Sorry - not set up to fix this myself right now!

https://github.com/dotnet/samples/search?utf8=%E2%9C%93&q=represengting+&type=

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71953a61-1074-48ff-7afd-9135975b28f2
* Version Independent ID: 2ba91f2f-bf41-7f7b-b0

[2018-05-30 15:27] fitdev opened #5682 "Please update with C# 7.2 usage"
Please update with C# 7.2 ref readonly returns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26899b81-d6f9-534a-83ee-283dd8aae545
* Version Independent ID: 3061125d-7de4-97ef-ccb0-ee792d6f2ae1
* Content: [readonly (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/readonly?f1ur

[2018-05-30 15:44] TharosTheDragon opened #5683 "Typo"
Last sentence in introduction of Remarks section: "Then you can add child elements that define the resources, each with an value."

You may think to fix this by changing "an" to "a," but I suspect there's a missing word and I don't know what it's supposed to be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199e0c6e-1

[2018-05-30 16:13] twsouthwick commented on #5075
If the entry assembly is compiled against .NET Framework 4.0,  compatibility mode is set to .NET Framework 4.0 and is applied to all assemblies. Thus, if it loads an assembly compiled against 4.5, then it will also get the 4.0 compatibility mode.

[2018-05-30 16:27] kygagner opened #5685 "Need runtime assembly loading docs"
Documentation for runtime assembly loading is entirely missing for .NET Core. Equivalent docs for .NET Framework exist and have been an indispensable resource for my team and I in understanding the Fusion loader. We need good docs on how this works and information on debugging issues with assembly loading. See docs such as:
https://docs.microsoft.com/en-us/dotnet/framework/deployment/how-the-runti

[2018-05-30 16:28] pkulikov commented on #5682
Two more not mentioned use cases of the `readonly` keyword:
- `readonly struct`
- `readonly ref struct`

[2018-05-30 16:30] pkulikov opened #5686 "The ref keyword topic is not complete"
Related to #5682, [ref keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/ref) topic doesn't mention [`ref struct`](https://docs.microsoft.com/en-us/dotnet/csharp/reference-semantics-with-value-types#ref-struct-type) and related `ref readonly struct` usage of the `ref` keyword.

[2018-05-30 16:41] bradygmsft commented on #5665
sounds good! thanks @mairaw !

[2018-05-30 17:48] devcanute opened #5691 "main compiler option"
/main:class should instead be /main:namespace.class

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5453dbc-08db-b9b2-5198-50bff608b5c8
* Version Independent ID: f182cda3-c40b-4216-6614-49da5eb0e3c8
* Content: [-main (C# Compiler Options)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-optio

[2018-05-30 17:58] douglaslMS commented on #5673
#in-progress

[2018-05-30 19:09] JRAlexander commented on #5628
Nicely done, @mnbuch!

[2018-05-30 19:09] #5628 closed

[2018-05-30 20:54] adibradfield opened #5695 "Broken Link"
The link for the CodeDOM Quick Reference is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ceb2afd-2c2e-1c86-9839-54a3c8b0bd7e
* Version Independent ID: 01453121-3a20-8e81-5906-895bfec826f7
* Content: [Dynamic Source Code Generation and Compilation](https://docs.microsoft.com/en-us/dotnet/framework/reflection-a

[2018-05-30 21:32] aditidugar commented on #5655
Hey @Amit1150, thanks for your question! Actually, the Iris tutorial is a multi-class classification task, not a binary classification task since there are 3 different types of flowers that can be predicted. Hence, you must use a different learner.

Hope this helps!

[2018-05-30 22:14] dferretti-fig opened #5696 "Docker support for Node projects"
I have VS2017 15.7.2 installed with Node.js Development workload included. Is there a way to add docker support to those projects? There is no Add Docker Support option as far as I can see.
I did poke around the old issues at https://github.com/Microsoft/nodejstools and it looks like Docker support was added at some point, but was it removed?

---
#### Document Details

⚠ *Do not edit this section

[2018-05-30 22:46] aditidugar commented on #5640
@codemzs will be able to help you here!

[2018-05-30 23:23] svick opened #5697 "Telemetry PR link out of date"
This article links to https://github.com/dotnet/cli/pull/2145, which seems to be the initial PR that added telemetry to .Net Core 1.0. Since then, how telemetry is collected was changed, which means that the link provides inaccurate image of how exactly is telemetry collected by .Net Core SDK.

Is there a better link that could be included in the article? If not, maybe the link should be removed?

[2018-05-30 23:44] DanRigby commented on #5013
Not sure if this needs it's own issue logged, but of the individual operator pages listed above, the following are completely devoid any human generated content and only contain the bare API definition:
* [Append](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.append?view=netcore-2.0)
* [Prepend](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.prepend?view=netc

[2018-05-31 03:02] ahsonkhan commented on #4400
Should we re-open this issue given we still have APIs to document? For example [ReadOnlySpan](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1?view=netcore-2.0)?

This PR covered a subset of the APIs: https://github.com/dotnet/dotnet-api-docs/pull/194

[2018-05-31 06:06] kexxxfeng opened #5699 "Does dotnet restore not support authenticated (private) feeds at all"
For more detail: https://inedo.com/support/questions/7319

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b256dc4-c4ad-c115-f4e2-40310bc3505a
* Version Independent ID: 0b993779-65a2-6092-4047-2fc2ec16170b
* Content: [dotnet restore command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-resto

[2018-05-31 06:42] korzh commented on #5640
@codemzs Thank you for so detailed explanation. Of course, I can totally work with the default names.
I just thought that `PredictedLabelColumn` property actually makes the necessary configuring.
Will look forward to the next updates which allow to configure the scorer as well.

[2018-05-31 07:27] paolofulgoni commented on #5075
Thanks for the clarification!
Maybe the _"Runtime changes"_ section could be updated too. Something like _"The compatibility mode applies to all loaded assemblies, even those compiled against a different .NET Framework version"_ a the end of the chapter?

[2018-05-31 08:08] terraslate opened #5700 "Docker setup and file"
Thought it would run me through the entire process with docker commands. Where is the dockerfile you speak of?  Surely a few extra steps for pulling the docker image and finding this dockerfile would be helpful.  Code wise all worked, i'm currently wondering "The Dockerfile created by the ASP.NET template will serve for our purposes. Let's go over its contents" where this file you speak of is loca

[2018-05-31 08:32] rangercej opened #5701 "MSDN formatting: missing horizontal scroll"
Some of the lines in this page are really rather long, and when the right-hand side-bar (Feedback, Edit, Share, change theme, etc) are displayed, it's not possible to see entire code snippets nor all descriptions in the attributes table as they scroll underneath the right-hand side-bar. There appears no way to hide the side-bar. Browser: Vivaldi, with vertical tab-bar.

---
#### Document Details

[2018-05-31 10:42] dmitry-pavlov opened #5703 "Failed adding Microsoft WCF Web Service Reference Provider to the project (.NET Core 2.1.300, VS2017 v15.8.0 Preview 1.1)"
I am still getting the error "**Failed adding Microsoft WCF Web Service Reference Provider to the project**" while trying to add WCF reference to https://webservice.nada.com/vehicles/secure/securelogin.asmx?WSDL

Visual Studio Community 2017 - version 15.8.0 Preview 1.1

[code]

Any thoughts how to fix / workaround this?

Related to #[2214](https://github.com/dotnet/wcf/issues/2214#issuecomment-39

[2018-05-31 11:59] yhnbgfd commented on #5345
@mairaw hi,  download link is wrong again, it has become download NDP472-DevPack-CHS.exe  and NDP472-KB4054530-x86-x64-AllOS-CHS.exe.
 .NET Framework 4.7.2  Offline Installer  :  Developer Pack &  Runtime

[2018-05-31 12:34] dmitry-pavlov commented on #5703
**Workaround**

As adding Microsoft WCF Web Service Reference using WSDL does not work for ASP.NET Core project you can add new .NET Standard class library project targeted to Standard 2.0 and add service reference to it:

- Right click on project
- Select `Add` -> `Connected Service`
- In `Connected Services` window select `Microsoft WCF Web Service Reference Provider`
- Specify WSDL details as d

[2018-05-31 12:48] andersonnsantos opened #5705 "Duvida sobre a classe installer"
Esse classe foi descontinuada ? Qual é a classe que substitui ela ?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 6dc0286c-bb24-2828-6994-578077516149
* Version Independent ID: 43d0195e-c17e-55ea-fd1e-bd3a9f973b07
* Content: [Installer Class (System.Configuration.Install)](https://docs.microsoft.com/pt-b

[2018-05-31 12:51] svick commented on #5695
Are you talking about the last link in the article, in the Related Sections section? That link links to http://msdn.microsoft.com/library/c77b8bfd-0a32-4e36-b59a-4f687f32c524, which works for me.

[2018-05-31 12:55] TomProcureur opened #5706 "Nullable types"
This does not work with nullable types unless you change the code:

                DataColumn dc = table.Columns.Contains(p.Name) ? table.Columns[p.Name] : table.Columns.Add(p.Name, p.PropertyType);

with:

 DataColumn dc = table.Columns.Contains(p.Name) ? table.Columns[p.Name] : table.Columns.Add(p.Name, Nullable.GetUnderlyingType(p.PropertyType) ?? p.PropertyType);

---
#### Document Details

⚠

[2018-05-31 14:09] BillWagner opened #5707 "C# 7.3: Include foreach loop variables in ref reassignment"
Details are in [this comment](https://github.com/dotnet/docs/pull/5448#discussion_r191642471)

[2018-05-31 15:27] BillWagner commented on #5410
I've assigned this to the current milestone, with the goal of having the following actions completed during this sprint:

- [ ] Create a project to track tasks
- [ ] Create issues to find messages in ranges and create docs
- [ ] Add notes about where to find the source in both the VB and C# compilers for tests that help explain each issue.
- [ ] Add this work to the community project.

@rpetrusha

[2018-05-31 15:30] BillWagner commented on #5451
This won't get fixed in the manner described above. However, it may be that we add a section on how practices have changed with different versions. This would serve a couple purposes:

1. It would help highlight where new language features  can be used to simplify existing (common) practices.
1. It would catalog older practices for customers on older version, or looking at legacy codebases to upgr

[2018-05-31 15:38] BillWagner commented on #5622
Thanks for pointing this out @HyVong007

We're collecting features and thoughts on our async / await docs. We do need to explain that story better.

[2018-05-31 15:55] breyed opened #5708 "Latest stable .NET Core Application framework version inconsistent with .NET Blog"
This page lists the latest stable version of .NET Core Application as 2.0. However, the .NET Blog [lists it as 2.1](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/).

This page does list `netcoreapp2.1` as a supported target framework version, just not a stable one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-05-31 16:09] dmitryTsarevich opened #5710 "Mention 32 bit registry redirection on 64 bit WIndows"
To mention 32 bit applications on Windows 64 bit, .NET Framework version keys for 32 bit applications are located at HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\... subkey. May be helpful to add a note, since it looks crazy when you debug unit test for 32 bit installer on 64 bit WIndows, change .NET version in registry under Windows 64 and still get old value in unit test (because under the hood Windo

[2018-05-31 16:16] rpetrusha commented on #5695
The link works for me also, @adibradfield. I'm going to close this issue, since we can't reproduce the broken link. If it continues to be a problem, please respond to this issue to let us know.

[2018-05-31 16:16] #5695 closed

[2018-05-31 16:20] FrankHileman opened #5711 "Please help to eliminate confusion caused by "abstract" keyword"
Recently I have noticed younger developers who have taken the "abstract" keyword to mean the same thing as "abstract" in computer science. The keyword, in retrospect, may have been a mistake, since it means unimplemented or incomplete, and has no correlation with the meaning of the word "abstract" in English. The real confusion comes when discussing abstraction levels. A data type is "more abstrac

[2018-05-31 16:31] rpetrusha commented on #5683
Thanks for your feedback, @TharosTheDragon. Your surmise that the "an" was correct because text had dropped out of the documentation turns out to be correct. The original text was "an \[x:key](https://docs.microsoft.com/en-us/dotnet/framework/xaml-services/x-key-directive)". We've opened a PR to address this issue.

[2018-05-31 17:07] rpetrusha commented on #5674
Thanks for pointing this out, @ptoye. At some point, the link dropped out. The link text was supposed to read ".NET Framework security system", which was intended to link to https://docs.microsoft.com/en-us/dotnet/standard/security/. I've opened a PR to restore the lost  text.

[2018-05-31 17:15] BillWagner commented on #5638
Thanks for pointing this out. I'm doing some research to determine exactly what the fix should be.

In the meantime, the lesson is to pick different names for variables and types. 🤷‍♂️

[2018-05-31 17:31] mairaw commented on #5705
Oi @andersonnsantos. Essa classe não foi descontinuada. Você está com algum problema tentando usar essa classe?

[2018-05-31 17:37] BillWagner commented on #5700
Thanks for raising this issue @terraslate

We need to update that article. It was written using an earlier version of the tooling when the templates generated a dockerfile.

@JRAlexander and I will update this.  In the meantime, [this section](https://docs.microsoft.com/dotnet/core/docker/) has more up-to-date material.

[2018-05-31 17:40] BillWagner commented on #5216
@mrady9280 I'm going to close this as answered and resolved. If you're still having this problem, re-open the issue and let us know the latest details.

[2018-05-31 17:40] #5216 closed

[2018-05-31 17:41] #5266 closed

[2018-05-31 17:47] mltf opened #5713 "This document needs to be updated for .NET Core SDK 2.1"
I think this document needs to be updated for .NET Core SDK 2.1 which was released yesterday (2018.05.30)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.microsoft.com/en-us/dotnet/

[2018-05-31 17:51] mairaw commented on #5713
Hi @mltf, I think this document is still accurate even with the release of .NET Core 2.1 yesterday. There is no new version of .NET Standard. So I'll be closing this issue, but please let me know if I missed anything or if you have other questions.

[2018-05-31 17:51] #5713 closed

[2018-05-31 17:51] twsouthwick commented on #5075
Can you take a look at the PR I submitted and let me know if that clarifies it? If you still think your sentence would be helpful, can you point to where it would be best?

[2018-05-31 17:58] mlacouture commented on #5703
Hi @dmitry-pavlov!
Thank you for reporting this issue.  However, this site is for documentation issues.  The feedback section of the product documentation tells where to report [product issues](https://github.com/dotnet/wcf/issues/new).  Do you mind reporting this issue in the dotnet/wcf site and add details like the steps you followed for creating the ASP.NET project, the project's target framewo

[2018-05-31 18:01] mairaw commented on #5703
I can move this issue to that repo @mlacouture. Is that ok?

[2018-05-31 18:13] mairaw commented on #5710
We'll need to investigate this @dmitryTsarevich. We're adding to our backlog.

[2018-05-31 18:15] mlacouture commented on #5703
Yes @mairaw , thank you!

[2018-05-31 18:20] mairaw commented on #5699
@dsplaisted @KathleenDollard @livarcocc I believe you can specify private feeds via source no? But how does it work with authenticated private feeds?

[2018-05-31 18:22] livarcocc commented on #5699
@rohit21agrawal @rrelyea

[2018-05-31 18:23] mairaw commented on #5697
I think we could remove this link although the desire could be that customers would see the code. Maybe there's a better place to link to now like the folder where the code lives. @richlander any thoughts?

[2018-05-31 18:26] mairaw commented on #5696
Hi @dferretti-fig. This repo is for content issues for .NET content which is what this topic is about. I'd suggest you ask that question on forums like StackOverflow or on the Visual Studio Developer Community site (https://developercommunity.visualstudio.com/spaces/8/index.html).

[2018-05-31 18:26] #5696 closed

[2018-05-31 18:28] mairaw commented on #5685
@richlander can you comment on this request?

[2018-05-31 18:34] mairaw commented on #5677
@zhenlan can someone on your team look at this issue?

[2018-05-31 18:45] mairaw commented on #5671
Thanks @svick for jumping in and helping. I'll close this issue then.

[2018-05-31 18:45] #5671 closed

[2018-05-31 18:46] mairaw commented on #5669
@cartermp can you take a look at this issue?

[2018-05-31 18:49] mairaw commented on #5676
Thanks @svver for the feedback. We could probably link to the chart types articles under https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2012/dd489233(v%3dvs.110) for more info for each chart type.

[2018-05-31 18:50] mairaw commented on #5667
Thanks @KentRollins for the feedback. We could probably link to the chart types articles under https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2012/dd489233(v%3dvs.110) for more info for each chart type.

[2018-05-31 18:52] mairaw commented on #5666
@zhenlan can you or your team look at this issue?

[2018-05-31 18:54] mairaw commented on #5655
With that, I think we can close this issue. Thanks @aditidugar!

[2018-05-31 18:54] #5655 closed

[2018-05-31 18:58] mqtwinter opened #5714 "Broken Link"
In the 2nd paragraph, the link to "language version selection" does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d38d8df-4919-e8c7-8126-e8c5c7300523
* Version Independent ID: b2284f21-547d-01f5-76a3-b531aab1a909
* Content: [What's new in C# 7.1](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csha

[2018-05-31 18:58] mairaw commented on #5646
@rpetrusha I agree that linking to What's new might be best here since the topic is not about the new features.

[2018-05-31 19:00] JRAlexander commented on #5640
Thanks, @aditidugar, and @codemzs for the answers. I think we can close this.

[2018-05-31 19:01] #5640 closed

[2018-05-31 19:04] mairaw commented on #5680
@hansenfreddy given that this is a product question, I've moved your feedback to https://github.com/dotnet/cli/issues/9385.

[2018-05-31 19:04] #5680 closed

[2018-05-31 19:07] mairaw commented on #5657
@bartonjs can you help with this question?

[2018-05-31 19:08] #5703 closed

[2018-05-31 19:08] mairaw commented on #5703
Issue moved to [dotnet/wcf #2914](https://github.com/dotnet/wcf/issues/2914) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-31 19:13] mairaw commented on #5701
Moved the issue to https://github.com/MicrosoftDocs/feedback/issues/406.

[2018-05-31 19:13] #5701 closed

[2018-05-31 19:20] douglaslMS commented on #5673
@mairaw Can you help me to locate the separate code snippet files in which these typos are found? I can't find them in the "docs" folder structure.

[2018-05-31 19:26] mairaw commented on #5676
Thanks @svver for your feedback (and apologies for the wrong comment before).

Yes, we have an issue created where we'd like to add this info to our API docs: #2934. The information would be based on the following page: https://github.com/dotnet/corefx/wiki/ApiCompat

However, I'm not seeing this particular API on that list. @pjanotti can you help?

[2018-05-31 19:41] mairaw commented on #5708
Thanks @breyed for the feedback. We still have a few changes we have to make throughout the docs for the 2.1 release (https://github.com/dotnet/docs/projects/34).

I've opened a PR to fix this: #5716

[2018-05-31 19:42] BillWagner commented on #5673
@douglaslMS Every code snippet whose path starts with "/samples" is in the [dotnet/samples](https://github.com/dotnet/samples) repo.

[2018-05-31 20:01] mairaw commented on #5714
Thanks for your feedback @mqtwinter. I've opened a PR to fix this: #5717

[2018-05-31 20:36] DanieleScipioni opened #5719 "Summary is missing"
I do not see any property to specify the summary of a NuGet package. Am I missing something?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj format for .NET Core](https://docs.

[2018-05-31 20:59] raghumuttana opened #5722 "Samples with Source Code"
The examples given are very very basic and they hardly help for those want to leverage the power of ML.NET in real world. A minimum of one example for each is appreciated. Two-Class Classification sample (Flight Delay Predictor) demonstrated at
https://www.youtube.com/watch?v=OhCysVU5RDA doesn't mention any github url. We reached out to speakers in the video but no response yet.

---
#### Document

[2018-05-31 21:12] #5683 closed

[2018-05-31 21:14] mltf commented on #5713
The versioning is a bit confusing.

Are you saying there is no .NET Standard 2.1?

I was also reading up on it on https://github.com/dotnet/standard/issues/682 please let me know.

Thanks for the quick response.

[2018-05-31 21:32] mairaw commented on #5713
Yep, no new version of .NET Standard was released yet. The latest is still .NET Standard 2.0. I think that issue you linked to is a great place to ask questions regarding this since the devs and PMs working on the product monitor that repo.

[2018-05-31 21:35] nkolev92 commented on #5699
@kexxxfeng
This is something we're actively working on.
Please follow https://github.com/NuGet/Home/issues/6486 for updates.

[2018-05-31 21:44] mairaw commented on #5722
As we're building the product, we'll be adding more content and samples to the site.

@asthana86 @GalOshri to respond to the samples URL that folks are requesting on the YouTube video.

/cc @aditidugar

[2018-05-31 22:28] rpetrusha commented on #4400
No, we don't need to reopen the issue, @ahsonkhan. ReadOnlySpan will be documented shortly, after I finish a second round of updates to Span<T>.

[2018-05-31 22:54] mairaw commented on #4400
I was discussing about this item with @JRAlexander the other day and I think this item was to cover conceptual docs for Span<T> and friends. So we might need to reopen this.

[2018-05-31 22:57] rpetrusha commented on #1491
When we move the files out of the misc directories, we can do a global redirect of all docs/<language>/misc URLs rather than add them one-by-one into the redirects file.

[2018-05-31 22:58] rpetrusha commented on #5410
This looks good, @BillWagner. I think that we can link to the project to track tasks from the community contributor's project. In the project to track tasks, we should also include #1491 on it. I think that that should be the first item of work.

[2018-06-01 00:16] rowanmiller commented on #5345
@yhnbgfd I just pushed a change to https://www.microsoft.com/net/download/windows that should fix the issue for you. Can you confirm.

[2018-06-01 00:48] david-haemmerle opened #5728 "MakeCert examples"
MakeCert is deprecated. Please update this documentation and its examples to reflect that! Many thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 416d3d78-0e61-097b-0bbe-c6cd331aa986
* Version Independent ID: 87242506-6036-9469-0166-0ae8890a96f8
* Content: [How to: Create Temporary Certificates for Use

[2018-06-01 01:48] yhnbgfd commented on #5345
@rowanmiller All download links are now correct

[2018-06-01 02:36] AArnott opened #5729 "Span<T> isn't available on .NET Core 2.0"
Span<T> is new to .NET Core 2.1. This topic incorrectly claims it is available in .NET Core 2.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ef14f5-5cfc-5d83-971f-18789cf45237
* Version Independent ID: 9aa52936-b378-8715-4b31-46a1c0974c43
* Content: [Span<T> Struct (System)](https://docs.microsoft.com/en-us/dotnet

[2018-06-01 03:40] zhenlan commented on #5666
@jcondex can you please confirm?

[2018-06-01 03:41] zhenlan commented on #5677
@jcondex any suggestion?

[2018-06-01 04:34] giggio opened #5731 "Missing linux-musl-x64 RID"
As explained on the [.NET Alpine Sample](https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/Dockerfile.alpine-x64-selfcontained, you can also use `linux-musl-x64` for Alpine as a runtime identifier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independ

[2018-06-01 05:48] thearunster opened #5732 "Rephrase"
The following sentence under LINQ and lambdas section can be rephrased for better clarity:

"Using Language-Integrated Query (LINQ) and lambda expressions is a great example of using productive features that you might later find you need to rewrite if the code becomes a significant impact on performance."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-01 06:05] mairaw commented on #5731
Obrigada @giggio pelo feedback! I'm adding this update to the list of things we still need to do related to the 2.1 release: https://github.com/dotnet/docs/projects/34.

[2018-06-01 06:59] mairaw commented on #5729
@weshaggard was Span part of extensions found in the master branch when we grabbed the assemblies for 2.0? I remember having discussed this issue before, I just don't remember if we found a way to solve this.

[2018-06-01 07:02] mairaw commented on #5728
This is related to #5619.

[2018-06-01 07:28] rigdern opened #5734 "Clarify purpose of `BlockingCollection<T>.GetConsumingEnumerable` and relationship to `Take`"
I have two suggestions:
  1. Add a "Remarks" section to `GetConsumingEnumerable()` that is identical to the remarks section for `GetConsumingEnumerable(CancellationToken)`. It contains several useful facts about how `GetConsumingEnumerable()` works. Putting it in the "Remarks" section for `GetConsumingEnumerable(CancellationToken)` isn't sufficient because people like me that don't care about canc

[2018-06-01 08:07] adibradfield commented on #5695
I can confirm that I am no longer getting the issue

[2018-06-01 08:22] AreYouQQ opened #13287 "Can't run a simple Hello Word in Alpine Linux (netcoreapp2.1)"
![virtualbox_2018-06-01_16-07-56](https://user-images.githubusercontent.com/37007704/40829754-038364d6-65b7-11e8-9841-b5b3ac262525.jpg)

SDK Version: 2.1.300
In Windows OS,I build it and It run OK, ( Tested it In Centos 7.0 it run OK )
But,
First, Alpine Linux use the newest Alpine version .net core runtime
But I put all files in Release Directory to Alpine Linux,When I run it, I get a error (Top

[2018-06-01 08:43] mairaw commented on #5681
Thanks for the feedback @ChrisMaddock. I've opened a PR to fix this: https://github.com/dotnet/samples/pull/94

[2018-06-01 09:01] mmisztal1980 opened #5736 "Provide dotnet-install for .net core 2.1"
# Issue Title

The existing dotnet-install.* scripts appear to be out of date.
Can you:
- update them for the latest release?
- provide documentation how to use the updated scripts?

Best regards

[2018-06-01 09:39] mjdaly opened #5737 "https://gist.github.com/sheastrickland/49392be4bb7b2f6b2143"
The examples do not document one of the most useful combinations, BlockingCollection and Parallel.ForEach.

There is one undocumented requirement for these two constructs to function well together. Both GetConsumingEnumerable and Parallel.ForEach contain chunking logic, which can prevent items from being processed until CompleteAdding is called.

A Partitioner need to be used with NoBuffering.

[c

[2018-06-01 12:08] #5681 closed

[2018-06-01 14:16] lhuang opened #5741 "Microsoft WCF Web Service Reference Provider Tool"
not on the list of services in vs 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3ebb
* Content: [Microsoft WCF Web Service Reference Provider Tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-s

[2018-06-01 14:46] BillWagner commented on #5711
That's an interesting point @FrankHileman. The best guidance I can take from this as I update our documentation is to be very clear about the meaning of the word abstract: To clearly differentiate the keyword `abstract` from the English word "abstract".

The keyword has exactly two meanings: An `abstract` type cannot be directly instantiated. An `abstract` method does not provide an implementation

[2018-06-01 14:46] #5711 closed

[2018-06-01 14:48] #5714 closed

[2018-06-01 15:00] TharosTheDragon opened #5742 "Missing example?"
First sentence in Data Conversion section: In the previous example, the button is red because its Background property is bound to a string property with the value "Red".

It's not at all clear what it means by the previous example and I don't see anything that contains the string "Red". I suspect the example it's referring to was modified or removed.

---
#### Document Details

⚠ *Do not edit this

[2018-06-01 15:08] bawkee opened #5743 "Property KeyData "gets the key data"?"
Thanks to this documentation now I know that KeyData property provides me with data, something that I was unable to deduce based solely on the property name itself. Luckily someone from StackOverflow was kind enough to elaborate this beyond the plainly obvious fact that it is data: https://stackoverflow.com/a/318177/346577

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-06-01 15:11] #5669 closed

[2018-06-01 15:32] giedriusbruzas opened #5744 "ifs, lambdas, type declarations, etc."
A few notes that I have regarding this great piece of work. Hopefully not too late and not too pretentious.

### `if`
- I think there's more to expressions than just small expressions and large expressions. Could this be clarified a bit? How about differentiating between multi-line, single-line short (simple values) and single-line long (function evaluations) expressions?
- When `e1` and `e2` are

[2018-06-01 15:38] #5075 closed

[2018-06-01 15:41] #5674 closed

[2018-06-01 17:08] mairaw commented on #5743
Thanks for your feedback @bawkee. We've added this item to our backlog.

[2018-06-01 17:09] JRAlexander commented on #5736
@richlander, @leecow, can you answer this? Thanks!

[2018-06-01 17:10] JRAlexander commented on #5736
Hit close instead of comment.

[2018-06-01 17:12] JRAlexander commented on #5741
@mlacouture, can you answer this?

[2018-06-01 17:13] mairaw commented on #5736
Actually, I need to work with @johnbeisner to update [that topic](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script). When I was updating the SDK, I wasn't sure if there were changes for 2.1.

/cc @KathleenDollard

[2018-06-01 17:13] JRAlexander commented on #5742
Thanks, @TharosTheDragon, we've added this to the backlog.

[2018-06-01 17:31] #5708 closed

[2018-06-01 17:42] jonyeh opened #5746 "Alternative way of resizing the Height of the form"
Using the "this" Keyword  worked for me without having to create a new form:
this.Height = 760;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7034cc03-e233-714b-5fc6-9562ced11d98
* Version Independent ID: c44e3792-805e-d883-7d31-fe5e54110255
* Content: [How to: Resize Windows Forms](https://docs.microsoft.com/en-us/do

[2018-06-01 17:47] mlacouture commented on #5741
@lhuang, can you provide more details about what you are trying to do? what version of Visual Studio are you using? this connected service tool is available in VS 2017 v15.5 and later.  What project type are you working on? this is only available on .NET Core/Standard and ASP.NET Core projects.

[2018-06-01 18:25] AceHack opened #5748 "Please Expland Linux part of Documentation"
You say

"On Linux, you need to edit the shell environment file to configure the PATH."

Please expand on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c5b03c-2854-8462-57dc-b0239388096e
* Version Independent ID: 13b38200-ed54-7bfe-f7cf-099cf1b010f4
* Content: [.NET Core Global Tools](https://docs.microsoft.co

[2018-06-01 18:27] CoolDadTx opened #5749 "Unclear where to report issues related to the product"
It is unclear who/where feedback for the package generation functionality in the new project system goes. Who owns this feature such that I can report issues/feedback? The feedback I have right now related to not only "missing" properties to control generation but also how the package gets generated itself. It is unclear whether this is a NuGet, MSBuild or Project System area.

The feedback link i

[2018-06-01 18:41] AArnott commented on #5729
A related problem exists for [ReadOnlySpan<T>.DangerousGetPinnableReference()](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1.dangerousgetpinnablereference?view=netcore-2.0&viewFallbackFrom=netcore-2.1) which interestingly enough is documented as *only* being available on .NET Core 2.0 (which it is not available on), and that it is not available on .NET Core 2.1 (which is where

[2018-06-01 18:48] conyg opened #5750 "remark"
this will not work on this example:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef3971f-1004-6aa5-9554-d8e2fcd6ac68
* Version Independent ID: e73efd1b-c26c-c1f0-6018-02f11261bb64
* Content: [using static Directive (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/usin

[2018-06-01 18:48] vpprof opened #5751 "Variable inside a class used as a counter"
It is worth mentioning that it is impossible to declare your counter inside a class like so:

==MyClass module
Public i as Integer

==Main module
Dim MyInstance as MyClass: Set MyInstance = New MyClass
For MyInstance.i = 1 To 10
    Debug.Print "Hello"
Next

The above code generates a compile-time error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-01 19:19] KathleenDollard commented on #5748
@wli3 Can you fix this/help me fix this

Do we have enough environment variables that we should just have an entry on how to do it in different shells?

[2018-06-01 20:16] wli3 commented on #5748
before giving detail instruction.

@AceHack

1. expand PATH is such a common practice in unix. Do we have existing document that we can reference? Is there any other Microsoft product has done that before?

2. since this is a such a fundamental usage of unix shell. Should we link to official document of respective shell like bash, zsh, csh?

3. as I mentioned in 2. There are a lot of shell availab

[2018-06-01 20:29] cartermp commented on #5744
Let's brainstorm a bit on the `if` section. It's currently short (and hopefully sweet) to cover what I believe to be a common question beginners have w.r.t how to format the expressions. But you're right that there is more to it than just how long the expressions will be.

I think the following are considered by people:

* Size of each expression
* Aligning stylistically with other code in their c

[2018-06-01 21:40] #5605 closed

[2018-06-01 22:33] StevenBonePgh opened #5756 "UWP name parameter with period"
Getting a string resource from a resx file (satellite assembly) under UWP with this API (Xamarin.Forms called in a .NET Standard 2.0 assembly), if the name has a period in it this will return null (must have at least two satellite assemblies to see it).  It can be retrieved using forward slash.  If resource is "foo.bar". this works as the name parameter on .NET Framework 4.5.2, under UWP [Microsof

[2018-06-01 23:05] #5673 closed

[2018-06-01 23:57] mairaw commented on #3640
This should be kept open @kouvel. We need to add that information to our APIs.

[2018-06-02 00:23] parsiya opened #5762 "NTLM Forwarding Attack link in "Best Practices for Security in WCF" is Dead"
Under the section "Use X509 Certificates Instead of NTLM" there's a link

This link is dead.

It seems to be pointing to MSDN magazine 2006, September issue. An article named "Secure by Design: Your Field Guide To Designing Security Into Networking Protocols."

Seems like issues before 2012 are only available in CHM format. This issue is at:

* http://download.microsoft.com/download/3/a/7/3a7fa450

[2018-06-02 08:06] DavidMeerkatRefaeli opened #5763 "Example is irrelevent"
I don't understand how the example shows the use or meaning of volatile. If I run it with or without volatile I'm getting the exact same results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d226514d-c7cb-0d1b-b9dc-fb791399dc47
* Version Independent ID: aa5d1078-7f89-98ce-7fdc-107c9ed3eebc
* Content: [volatile (C# Re

[2018-06-02 16:19] AceHack commented on #5748
@wli3 So what I was mostly talking about was WHAT to add to the path.  This says you need to configure the path but not what to add to the path.  The message you get when actually installing a global tool is much more informative as it mentions the actual location that needs to be added to path.

[2018-06-02 18:08] mitevpi opened #5765 "Code Snippets to Accompany Class Member Documentation"
Would it be possible to add brief code snippets underneath key methods/properties in order to quickly communicate usage/use cases?

I'd love to contribute if that's something that would be useful to others as well.

ex: In the case of the [ColumnAttribute.Ordinal Property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.runtime.api.columnattribute.ordinal?view=ml-dotnet), if there was a "

[2018-06-02 18:22] DanieleScipioni commented on #5719
I see that the same problem is reported [here at developercommunity.visualstudio.com](https://developercommunity.visualstudio.com/content/problem/175015/nuget-package-summary-not-supported-in-vs-ui.html).
Just remember to update docs.

[2018-06-02 18:22] #5719 closed

[2018-06-02 22:49] bergmeister commented on #4241
If I have a .Net Core 2.0 app, is there any benefit (not just features but also fixes, especially if there will be future security fixes as there were already in the past) to use the newer .Net Core 2.1 SDKs like e.g. 2.1.300 SDK or should I stick to the old 2.1.200 SDK for .Net Core 2.0?

[2018-06-03 03:35] galich opened #5766 "explain default behavior of ConfigureAwait()"
what is the default behavior? will code continue to run on captured context by default or not?
&gt;  ...attempt to marshal...

Does that mean attempt may fail? Under what conditions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e069a261-9adf-92e6-9b16-8a701968a36d
* Version Independent ID: a12bf93b-1690-1604-20b0-2bf

[2018-06-03 07:46] jskeet opened #5767 "DangerousGetPinnableReference => GetPinnableReference"
It looks like there was a late change to the method name used for the pattern - it's just `GetPinnableReference`, not `DangerousGetPinnableReference`. At least, that's what works for me, and it's the name in `Span&lt;T&gt;` in .NET Core 2.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0320fd-c7ac-200e-7e50-6b3ddca

[2018-06-03 11:36] cissemy commented on #5463
Hi,
Can you add image and text recognition, barcode scanning just like firebase ML kit ?

[2018-06-03 12:53] BillWagner commented on #5767
@jcouv I'm seeing the same change as of .NET 2.1 release. Can you confirm?

[2018-06-03 13:30] cremor opened #5768 "Update documentation about used HttpHandler in .NET Core"
Although there is the section "HttpClient and .NET Core" that mentions the `SocketsHttpHandler` that's used by default in .NET Core 2.1, the table just above which shows the HttpHandler for each platform wasn't updated. It still shows the platform specific HttpHandlers (`WinHttpHandler` on Windows and libcurl-based HTTP transport on Mac and Linux). The table should be updated to include the new 2.

[2018-06-03 14:41] ChrSteinert opened #5769 "Extending existing Computation Expression Builders"
The page about F#'s [Computation Expressions](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/computation-expressions) does currently not mention the possibilities of extending existing builders - a feature I was made aware of from [this issue](https://github.com/SaturnFramework/Saturn/issues/62) in Saturn talking about introducing new features to Saturn's `application` builder.

[2018-06-03 15:15] dasMulli commented on #4241
@bergmeister There is a difference between "upgrading your application from 2.0 to 2.1" and "using newer tooling to build a 2.0 application".

Both are possible, you can use the `2.1.300` SDK to build applications for 1.0, 1.1, 2.0 and 2.1.
Using the new SDK will likely give you incremental performance boosts when used locally for development purposes.

If you only install the `2.1.300` SDK on a m

[2018-06-03 15:17] cartermp commented on #5769
@ChrSteinert A new section in that article that does the equivalent of that slide should be sufficient, I'd think.

[2018-06-03 15:34] ChrSteinert commented on #5769
Thanks! I’ll prepare something.

________________________________
From: Phillip Carter <notifications@github.com>
Sent: Sunday, June 3, 2018 5:18:04 PM
To: dotnet/docs
Cc: Christian Steinert; Mention
Subject: Re: [dotnet/docs] Extending existing Computation Expression Builders (#5769)

@ChrSteinert<https://github.com/ChrSteinert> A new section in that article that does the equivalent of that slide

[2018-06-03 21:11] smmalis37 opened #5770 ".NET Core support column"
It would would be nice to have another column listing which encodings are supported by .NET Core in addition to .NET Framework.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e108a631-9747-7d6e-dc36-280b0591cd68
* Version Independent ID: f630aa07-55fd-5352-f0c3-bd2e263cd70b
* Content: [Encoding Class (System.Text)](htt

[2018-06-03 21:17] riehlj2002 opened #5771 "Order of selected indices"
It would be helpful if the documentation included whether the selected indices are guaranteed to be in order. Looking at the reference source it appears that they will be (https://referencesource.microsoft.com/#System.Web/UI/WebControls/ListControl.cs,d5438019c2f3dec6), but if that's not guaranteed in future framework revisions it would be helpful to know that too.

---
#### Document Details

⚠ *D

[2018-06-03 21:33] ahmad2smile opened #5772 "Navigation in Docs problem"
I selected C# guides and then searched for 'protected' keyword and I get navigated to visual basic guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b0a262-7753-7570-0bd0-78bdc6dca56a
* Version Independent ID: 68a121a7-69d3-25d1-50c0-26f40948eaf0
* Content: [Protected (Visual Basic)](https://docs.microsoft.com/en

[2018-06-04 03:40] mairaw commented on #5772
That's by design @ahmad2smile.  The filter by title search only shows what's on the first level TOC, which is different for C# and Vb content.

![image](https://user-images.githubusercontent.com/12971179/40897142-11bb37c8-676e-11e8-8f43-200dbb13e37a.png)

If you use the site search, you should be able to find the C# protected topic:
![image](https://user-images.githubusercontent.com/12971179/40897

[2018-06-04 03:40] #5772 closed

[2018-06-04 03:43] mairaw commented on #5765
@asthana86 @aditidugar @JRAlexander FYI on samples request for ML.NET API docs

@dend for content that is auto-generated from /// comments, is it possible to add remarks and examples without losing them when docs get regenerated?

[2018-06-04 03:51] mairaw commented on #5749
If you see in the bottom of each topic, there are two buttons: one for content, one for product.

![image](https://user-images.githubusercontent.com/12971179/40897280-12eff614-676f-11e8-8901-df963c80d9c5.png)

Because of the reasons you mentioned (too many repos, unclear where to file the bug), we settled on https://developercommunity.visualstudio.com/spaces/61/index.html for product feedback. The

[2018-06-04 03:55] mairaw commented on #5749
Also, if you have a guess of what repo should be, you can try to filing on that repo and the team will move if it's the wrong one.

[2018-06-04 03:55] #5749 closed

[2018-06-04 04:06] megaskills opened #5774 "The "," Custom Specifier and a trailing static constant"
It should be noted somewhere (as it's not obvious in the current markup) that you can append a static constant to the end of the "," Custom Specifier to further clarify the values expression after division. For example "#,##0,K" for thousands,  "#,##0,,M" for millions and "#,##0,,,B" for billions. Using an inline letter key for the scale can be handy data is displayed in columns and the header cel

[2018-06-04 06:33] giedriusbruzas commented on #5744
@cartermp

First off, after reading your comments, I realized that I might have looked at the guide a bit differently to begin with. To me, it is about two things. As a starting point for beginners, but also as a guidance to get everyone aligned on the same style. This was my primary motivation, FYI. I do hope to be challenged before we actually do any changes.

I can prepare something, but it wil

[2018-06-04 07:21] florinciubotariu opened #5779 "DocFX styling hides content"
The website that DocFX is serving is not showing the content correctly.

For example, if I navigate to:

`http://localhost:8080/standard/choosing-core-framework-server.html`

the [following](https://imgur.com/a/zzIzbuJ) page is displayed.

If I delete the `<div>` that is having the `container` class, then the content is displayed correctly, as you can see [here](https://imgur.com/a/ytr2DbW).

[2018-06-04 07:34] rigdern opened #5780 "Clarify the ordering of items returned by `BlockingCollection<T>.GetConsumingEnumerable`"
This doc and the API reference doc for `GetConsumingEnumerable` should clearly state how the order of the items returned by `GetConsumingEnumerable` is determined.

Currently, the API reference doc for `GetConsumingEnumerable` doesn't make any mention of this and this doc makes an ambiguous reference to this. This doc says: "There is no guarantee that the items are enumerated in the same order in

[2018-06-04 07:35] rosdi opened #5781 "Left menu and right menu taking too much space"
Please allow us to toggle these left and right side bars... especially the right now... it is taking too much space...

Love the dark theme btw.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b9c332-da26-ff62-8669-5697d5b9aa56
* Version Independent ID: 0049d705-a8ca-a4b5-c51d-b4f88bdf27e3
* Content: [Enumeration Form

[2018-06-04 07:35] Tony00700 opened #5782 "This is a issue"
There are 2 PropertyDescriptors in PropertyDescriptorCollection, if PropertyDescriptor.Name is same, the IndexOf() always return the first one. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09d672e1-f1b4-a6ba-be3d-939077d8a822
* Version Independent ID: 6791dce7-e018-4ae9-1181-1ed94c0c16d1
* Content: [PropertyDesc

[2018-06-04 07:48] ahmad2smile commented on #5772
I get here by selecting C# Guides.

`https://docs.microsoft.com/en-us/dotnet/csharp/`

Then search and click and It takes me here.

![screenshot 2](https://user-images.githubusercontent.com/6108922/40904842-815cf300-67f5-11e8-854f-e7b5b30c8bb3.png)

Redirected URL:

`https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/modifiers/protected`

[2018-06-04 08:28] pkulikov commented on #5772
That is because C# language reference topics are not in the main TOC, while Visual Basic and F# ones are. However, the C# language reference TOC looks too big to be included in the main TOC. To be consistent, should other two language references be removed from the main TOC, @mairaw?

[2018-06-04 09:09] programify opened #5783 "How to remove focus rectangle"
If you simply want to remove the dotted focus rectangle, add Focusable="False" to &lt;Button&gt; or &lt;ContentControl&gt; elements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e09d199-1d35-3c7a-1678-e6015c95b9ab
* Version Independent ID: 023c27dd-fd1c-f735-cc44-11e54a5106e6
* Content: [How to: Apply a FocusVisualS

[2018-06-04 10:43] BeJoNe opened #5784 "IF condition"
If index &gt;= 5 And index &lt;= 8 Then....
please replace with "AndAlso" to bypass evaluating both expressions (binary AND-mode)
see https://stackoverflow.com/a/302067

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 513d5fec-4fa8-511f-4472-0ef6f9582332
* Version Independent ID: 68efde66-3840-baf6-c25c-eaf18be9b11d
* Co

[2018-06-04 12:04] bhasin123 opened #5785 "Example for Arraylist Add method and Arraylist AddRange method is same"
Example for Arraylist Add method and Arraylist AddRange method  is same

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c4617fa-8d54-5bac-cdc7-c35ee8c2ec56
* Version Independent ID: b6ce2cf7-fecd-09a2-2f1c-38598f49c98e
* Content: [ArrayList.Add(Object) Method (System.Collections)](https://docs.microsoft.com/en-us/dotne

[2018-06-04 12:49] ithenash opened #5786 "An entry point cannot be marked with 'async' modifier"
Main function in this example is incorrectly marked with 'async' modifier. Please make the corrections. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd5007c-82e5-a0c1-2156-7df4bbbcc2da
* Version Independent ID: eba98e03-3cc2-bebe-3dcd-45eda9c9c378
* Content: [HttpClient Class (System.Net.Http)](https://docs.

[2018-06-04 12:54] BillWagner commented on #5786
@ithenash Starting with C# 7.1, [async Main](https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-7-1#async-main) is supported.

Closing this.

[2018-06-04 13:17] svick commented on #5782
It seems that [two `PropertyDescriptor`s with the same `Name` and `PropertyType` are considered equal](https://referencesource.microsoft.com/#System/compmod/system/componentmodel/PropertyDescriptor.cs,197).* And since `IndexOf` works based on equality, if you have a collection with two equal `PropertyDescriptor`s, `IndexOf` will return the first one for either of them.

This could probably be docu

[2018-06-04 15:48] #5706 closed

[2018-06-04 16:12] rpetrusha commented on #5785
Thanks for your comment, @bhasin123. Although the same example is used for both methods, it does illustrate calls to both the ArrayList.Add and ArrayList.AddRange methods. In addition, List<T> is the recommended alternative to the ArrayList class. In view of this, I'm going to close this issue; if you disagree, please feel free to respond. If you'd like to provide separate examples for the Add and

[2018-06-04 16:12] #5785 closed

[2018-06-04 16:18] bartonjs commented on #5657
I agree with the reporter.  Changing ChainPolicy after calling Build has no practical effect (other than it can change what the next call to Build does).

`X509RevocationMode.Online` is the default, so the easiest fix is probably just to remove that line.

[2018-06-04 16:21] #5762 closed

[2018-06-04 16:28] rpetrusha commented on #5784
Thanks for the suggested code optimization, @BeJoNe. I've opened PR #5787 to replace 'And' with "AndAlso'.

[2018-06-04 16:41] MaxTranced commented on #5657
Or moving the line to before the call to Build() 🙂. Most examples for the members of this class need improving.

[2018-06-04 16:55] jcouv commented on #5767
That's correct. The name was simplified to `GetPinnableReference`.
I opened a [PR](https://github.com/dotnet/csharplang/pull/1605) to fix the speclet.

[2018-06-04 18:12] acsteitz opened #5790 "Can't consume existing .Net Framework WCF because it returns SOAP (MTOM)"
Used the tool to generate code.  Calling existing .Net Framework WCF endpoint and the call works but when trying to get the result I get an exception because the response is wrapped in a SOAP envelope.  I don't have control of the WCF endpoint so I cannot make changes there.  Any suggestions without using some of the hacks I have found online?  BTW, my main program is .Net Core 2.1 but the library

[2018-06-04 18:14] rpetrusha commented on #5774
Thank you so much for your feedback, @megaskills. You've identified a major shortcoming of the topic -- it doesn't discuss string literals (non-format characters) in the composite format string. We've scheduled work on this topic in the next sprint, which begins next week.

[2018-06-04 18:21] mlacouture commented on #5790
@acsteitz, can you open an issue at https://github.com/dotnet/wcf/issues/new as explained in the Feedback section of the doc?

[2018-06-04 18:22] mlacouture commented on #5741
BTW: for technical questions about the tool please open issues at https://github.com/dotnet/wcf/issues/new as explained in the Feedback section of the doc. thanks,

[2018-06-04 18:36] acsteitz commented on #5790
Done

[2018-06-04 18:36] #5790 closed

[2018-06-04 18:36] #5784 closed

[2018-06-04 18:42] mitevpi commented on #5765
Would something like the [<example> tag](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/example) work?

[2018-06-04 18:55] mairaw commented on #5765
Yes, this works @mitevpi but I'm wondering if we really wanna embed examples to APIs like that.

[2018-06-04 19:00] pkulikov commented on #5765
@mairaw can it be done the similar way as it's done now for .NET API?

[2018-06-04 19:20] mairaw commented on #5765
@pkulikov .NET is kind of a special case because we can't auto-generate docs from source as other products can for a variety of reasons. So, for ML.NET we'd be following the same pattern that all others teams are using for reference docs including ASP.NET Core. I just need to learn now how to handle those (I think other teams are not really adding samples at the moment to the reference docs) consi

[2018-06-04 19:27] #4936 closed

[2018-06-04 19:35] ChrisMaddock commented on #4936
@jcdickinson - Thank you!! 🎉

[2018-06-04 19:38] pkulikov commented on #5765
@mairaw thank you very much for the reply as that makes things clearer to me. Then I have two follow-up questions:
- As the docs are auto-generated, there is no reason (for contributors not from the docs and engineering teams) to make PRs to the [dotnet/ml-api-docs repository](https://github.com/dotnet/ml-api-docs)?
- If I want to fix a typo (dotnet/ml-api-docs#21), then I should fix it by PR in t

[2018-06-04 19:41] jcdickinson commented on #4936
Pleasure :)

[2018-06-04 19:44] mairaw commented on #5765
@pkulikov

Correct! @dend are we working on enabling folks to go directly to source when API docs are auto-generated?

Correct. (Sorry I missed that PR)

Let me learn how this works and I'll remove the Edit button from those docs if they're not useful.

[2018-06-04 19:56] BillWagner commented on #5078
Removing the external label: This content should link to the `System.Windows.DependencyPropertyChangedEventHandler` type, which has all the information needed.

[2018-06-04 19:57] BillWagner commented on #5111
@BrianCook Any updates?

[2018-06-04 20:07] mairaw commented on #5314
I'm sorry we missed this feedback earlier @aydeisen. @dend who owns Powershell docs?

And why the Edit button goes to a private repo?

[2018-06-04 20:10] mairaw commented on #5315
@rrelyea can you please help?

[2018-06-04 20:11] mairaw commented on #5331
@CESARDELATORRE can you please comment on this and address it if needed? Thanks!

[2018-06-04 20:11] mairaw commented on #5340
@rohit21agrawal can you help here?

[2018-06-04 20:14] dend commented on #5314
This would be for @joeyaiello and team.

[2018-06-04 20:16] pjanotti opened #5791 "Link http://go.microsoft.com/fwlink/?LinkID=71255 is broken"
Not sure what is the correct location, same link is used in various others locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bcb7cc8-20a5-5816-dfdf-e9c7c69fe30c
* Version Independent ID: 28ef839c-641c-a6bf-b3e1-bcb650141763
* Content: [PackageRelationship Class (System.IO.Packaging)](https://docs.microsoft.com

[2018-06-04 20:17] ddobric opened #5792 "Banchmark of "Passing arguments by readonly reference""
I have tested performance of passing by reference when using [in] keyword. For tests I used BenchmarkDotNet. I used two methods AddByType and AddByRefType.
Expectation is that AddByRefType is faster, because structure value is passed by reference and no copy of bytes is performed.
I ran test on x64 machine. It means AddByType has to copy 24 bytes (3*double) and AddByRefType has to copy reference o

[2018-06-04 20:17] mairaw commented on #5389
Thanks @swageblock for your feedback. I think it makes sense. I'm adding this item as a community project.

[2018-06-04 20:19] mairaw commented on #5392
@cartermp can you define a milestone here (even if it's backlog) for this item if there's any action item for you?

[2018-06-04 20:24] mairaw commented on #5412
Thanks for your feedback @thucnguyen77, We're scheduling this for the next sprint.

[2018-06-04 20:28] mairaw commented on #5443
@zhenlan can you or your team help with this question?

[2018-06-04 20:36] pkulikov commented on #5792
@ddobric what is the definition of `MyStruct`? Is it `readonly struct`?

[The ‘in’-modifier and the readonly structs in C#](https://blogs.msdn.microsoft.com/seteplia/2018/03/07/the-in-modifier-and-the-readonly-structs-in-c/) blogpost might be interesting to you. One of its conclusions is

[2018-06-04 20:37] cartermp commented on #5450
Yep, good to close.

[2018-06-04 20:37] #5450 closed

[2018-06-04 20:37] ddobric opened #5793 "Better desription required"
Following could be better described:

"There is an implicit conversion but not an identity conversion from the argument type to the parameter type.
The argument is an expression but does not have a known storage variable.
An overload exists that differs by the presence or absence of in. In that case, the by value overload is a better match."

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-04 20:39] mairaw commented on #5475
It seems you managed to get an example working, correct @IKoshelev?

[2018-06-04 20:42] mairaw commented on #5485
@davkean any thoughts on this proposal? can you help updating this topic perhaps? 😉

[2018-06-04 20:43] BillWagner commented on #5485
@svick I added a link to the content article above in the description. Can you verify that the link is correct?

[2018-06-04 20:47] mairaw commented on #5554
Resolved with PR #5571

[2018-06-04 20:47] #5554 closed

[2018-06-04 20:49] mairaw commented on #5558
@brentschmaltz can you please take a look at this request?

[2018-06-04 20:53] svick commented on #5078
@BillWagner Shouldn't all pages for events link to their event handler type? I think that would be an "external" issue.

[2018-06-04 20:54] mairaw commented on #5563
@KathleenDollard can you comment on this issue and confirm the behavior? Thanks!

[2018-06-04 20:56] BillWagner commented on #5078
@svick Yes, in general. Some use a type of `EventHandler` which has no arguments, so that's not super useful.

@dend What are your thoughts?

[2018-06-04 20:56] mairaw commented on #5565
is this related to your area @brentschmaltz (System.IdentityModel.Tokens.SessionSecurityToken)? Can you comment on here if so? If not, please let me know as well, so I can try to find the owner.

?cc @karelz

[2018-06-04 20:59] mairaw commented on #5567
Hi @sispor, is this comment related to the examples we show on that topic?

[2018-06-04 21:01] svick commented on #5791
As far as I can tell, the Open Packaging Conventions specification is part of [ECMA-376](https://www.ecma-international.org/publications/standards/Ecma-376.htm) and its latest version can be downloaded from https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-376,%20Fourth%20Edition,%20Part%202%20-%20Open%20Packaging%20Conventions.zip.

Unless there is a better link (ideally directly

[2018-06-04 21:19] wli3 commented on #5748
I see:

Append $HOME/.dotnet/tools to PATH.

However, I went back to the doc. I think what to expand is “in which case SDK will not automatically add PATH and make the command available by just type the command”, if so. It should be (the sentence may need some proofing)

If the user installs dotnet SDK via tar.gz in Linux, or the user’s shell is not bash. The user need to append _$HOME/.dotnet/too

[2018-06-04 21:35] nkolev92 commented on #5340
dotnet.exe currently does not authentication support for NuGet feeds.

We're working on adding that in this [issue](https://github.com/NuGet/Home/issues/6486).

It's currently scheduled to ship with Visual Studio 15.8.

[2018-06-04 21:35] mairaw commented on #5791
I just updated the link to point to https://www.ecma-international.org/publications/standards/Ecma-376.htm while we decided what needs to happen here.

[2018-06-04 21:57] mairaw commented on #5314
Thanks @dend. Can you help with the breadcrumb?

@joeyaiello where can I move this issue to since this is not about .NET documentation?

[2018-06-04 22:19] joeyaiello commented on #5314
@mairaw please move it over to https://github.com/PowerShell/PowerShell-Docs

/cc @sdwheeler you want these issues in PowerShell-Docs as opposed to pscore-docs-dotnet, right?

[2018-06-04 22:36] mairaw commented on #5314
Thanks @joeyaiello. Moved issue to https://github.com/PowerShell/PowerShell-Docs/issues/2499.

@dend there's also the issue with the garbled examples on that page. Not sure if this is a bug for your team to look at as well.

![image](https://user-images.githubusercontent.com/12971179/40945271-ef772f2e-680c-11e8-9a0b-c513faa5e152.png)

[2018-06-04 22:36] #5314 closed

[2018-06-04 22:39] sdwheeler commented on #5314
@joeyaiello @mairaw @dend  I don't own this content, though we should have a discussion to figure out if I should. But there are three problems being discussed in this issue.

1. The content question about the SDK and how to use the ShouldProcess() method. This is not a PowerShell-Docs issue.
2.  The breadcrumb and edit link problem.
3. Formatting problem

Someone from the product team needs to an

[2018-06-04 22:45] mairaw commented on #5781
Thanks for your feedback @rosdi. Since this is about the docs site experience, I've moved this issue to https://github.com/MicrosoftDocs/feedback/issues/414.

[2018-06-04 22:45] #5781 closed

[2018-06-04 22:48] aydeisen commented on #5314
@sdwheeler: I had the same question as #1.  The document I'm citing is in the root URL https://docs.microsoft.com/en-us/dotnet, which is why I filed the issue here.  It is not in the reciprocal powershell-docs (about_functions_advanced_methods, I believe), so I wasn't clear why this issue needed to be recategorized

[2018-06-04 22:48] mairaw commented on #5779
Thanks @florinciubotariu for your feedback. Given that this is not about the content, I've moved this issue to https://github.com/MicrosoftDocs/feedback/issues/415.

[2018-06-04 22:48] #5779 closed

[2018-06-04 23:06] mairaw commented on #5314
The root URL https://docs.microsoft.com/en-us/dotnet/api/ encompasses too many products. This repo is only about .NET itself (.NET Core, .NET Framework, etc.)

The content for the PowerShell ref docs is coming from https://github.com/MicrosoftDocs/powershell-docs-sdk-dotnet. That repo is private and I don't know who owns.

[2018-06-04 23:12] wahboh commented on #5078
Dear All,
Please do not underestimate the power of examples. Many doc pages are just the spec, but I can vouch  from loong experience that what most pro programmers really need, are small examples on howto use. Can oneliners, or very brief, but it says much more than just the spec.

[2018-06-05 00:09] zhenlan commented on #5443
@mconnew can you help to clarify?

cc: @Lxiamail

[2018-06-05 00:41] BillWagner commented on #5078
@wahboh I agree. Samples are great. What we need to do is make the samples easy to find, which means getting them on the right pages, and then linking to them from other relevant pages. Which do you  think would be easier to find: the event, or the event handler type?

[2018-06-05 02:32] seanxs opened #5797 "DirectoryInfo.EnumerateFiles Method"
[Enter feedback here]
Hi All,
  I use the following code, the first one is working fine, but the second one will throw exception.
  It make me confused, please help.
  DirectoryInfo tempdir = new DirectoryInfo(@"d:\WorkFloder\ABCD\Windows\Microsoft.NET\assembly\GAC_MSIL\Microsoft.Security.ApplicationId.Wizards.AutomaticRuleGenerationWizard.resources\v4.0_10.0.0.0_zh-HANS_31bf3856ad364e35");
// wor

[2018-06-05 05:28] Tony00700 commented on #5782
@svick Thanks for replay. But I think PropertyDescriptor with the same name that are considered equal is not right, because PropertyDescriptor has member categroy or other members, if two PropertyDescriptor s has the same name, but the categroy is different, we use IndexOf return first one that I think it is wrong.

[2018-06-05 09:54] yp0227 commented on #5412
Console.WriteLine(j + ":" + subtotal);

By adding this log I can see subtotal seems cross the threads, why it's marked as "thread-local"?

[2018-06-05 10:15] okarpov opened #5800 "Order"
What order for the enumerated files? Are they ordered by Datetime or by Name or?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb986edc-b982-72fc-a747-f632e1753b37
* Version Independent ID: 61afaa43-8302-83d3-7cc4-da956574bceb
* Content: [Directory.EnumerateFiles Method (System.IO)](https://docs.microsoft.com/en-gb/do

[2018-06-05 12:42] IKoshelev commented on #5475
Yes, i've managed to get sample project working (link above) and later used the same way in my job project.

[2018-06-05 12:57] megaskills commented on #5774
Thanks Ron for the ultra prompt response, honestly I was not thinking I would hear from anybody, so thankyou.

By the way in most financial forms and reports I would use
“#,0,,,.000 B” or “#,0,,,.### B”

The 3 digit decimal places in accounting emphasizes the use of a scale. The scale could be K, M or B and the 3 decimal places simply calls out that the value has be scaled to the reader. (Also not

[2018-06-05 13:17] Niladri24dutta commented on #5494
@rpetrusha I have created PR https://github.com/dotnet/samples/pull/95  for this. Can you please review it?

[2018-06-05 14:23] paolofulgoni opened #5801 "Should `VersionAdded` be used?"
This page says _"Always set the VersionAdded property"_.
But the doc of [VersionAdded](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.optionalfieldattribute.versionadded) says _"This property is unused and is reserved"_.
Please update the wrong one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-06-05 14:54] bp-brainiak opened #5802 "errata"
there must add the C:\Windows\Microsoft.NET\Framework\v4.0.30319\SQL\en\SQL to the path

cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2df8da82-d4dc-9d98-dad2-aa44be3ca125
* Version Independent ID: 4e42da0c-d227-3e41-ad5e-e771c744e2c5
* Content: [How to: Create and Run a Long Running Workflow](https://docs.mic

[2018-06-05 14:59] sebhofer opened #5804 "Inline functions and generic types"
Is the last line in the feature table correct? It says: "An inline function cannot be parameterized with a standard generic type parameter." However, `let inline g a b = a, b` will give me `g : a:'a -> b:'b -> 'a * 'b`. For me this contradicts the statement.  Or do I interpret this statement incorrectly?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-05 16:17] JRAlexander commented on #5793
Thanks, @ddobric! We've added it to the backlog.

[2018-06-05 16:27] dend commented on #5078
So to distill the problem, I think there are two asks:

1. Linking to the base event handler (in the case above, `System.Windows.DependencyPropertyChangedEventHandler`) from the event page.
2. Adding more examples for events.

For (1), am I interpreting the request correctly?

@BillWagner @wahboh

[2018-06-05 16:49] rpetrusha commented on #5774
Thanks, @megaskills. The financial examples are helpful. I'll try to use them as an example. I'll include you when the revision is ready for review so that you can take a look at it.

[2018-06-05 17:07] #5665 closed

[2018-06-05 17:43] danmosemsft opened #5806 "Regex CompileToAssembly methods are not available on .NET Core"
These all throw PNSE on Core currently because writing out an assembly is not currently supported
[code]
We should note that in our docs, which note they are present.

https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.compiletoassembly?view=netcore-2.1

@ViktorHofer

[2018-06-05 18:57] GlauberCoder opened #5810 "new TextLoader<TaxiTrip>(_datapath, useHeader: true, separator: ",") don't compile"
I believe that he should be replaced by:
new TextLoader(_datapath).CreateFrom&lt;TaxiTrip&gt;(useHeader: true, separator: ',')

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962e2-620e-d9ad-5057-5f96f52dc60f
* Content: [Use ML.NET to predic

[2018-06-05 18:59] GlauberCoder opened #5811 "System.InvalidOperationException: vendor_id is not alphanumeric."
Getting this exceptions, Am I missing something?
Unhandled Exception: System.InvalidOperationException: vendor_id is not alphanumeric.
   at Microsoft.ML.Data.TextLoader.CreateFrom[TInput](Boolean useHeader, Char separator, Boolean allowQuotedStrings, Boolean supportSparse, Boolean trimWhitespace)
   at FinanceRegressionPredictor.Program.Train() in c:\users\glauber\source\repos\FinanceRegressionPr

[2018-06-05 19:09] lukkhacoder opened #5812 "Provide link to MS Test documentation on the Unit testing C# with MSTest and .NET Core page."
Add a link to MS Test documentation after or in the `Adding more features` section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c123f1f-8ae8-db21-2eac-4297bfc30b44
* Version Independent ID: 4675decb-333f-0508-5a3d-ce71dc85936d
* Content: [Unit testing C# with MSTest and .NET Core](https://docs.microsoft.com/en-us/d

[2018-06-05 20:19] OliaG commented on #5722
We just added a new repository for samples: https://github.com/dotnet/machinelearning-samples with getting started examples and end-to-end app using ML.NET. We will keep adding more advanced samples that demonstrate the use of all transforms and learners.

For binary classification you can check out: https://github.com/dotnet/machinelearning-samples/tree/master/samples/getting-started/BinaryClassi

[2018-06-05 20:27] #5645 closed

[2018-06-05 20:30] rajanikanthr opened #5815 "add logging to the sample TestMethod"
adding logging would help as Console.WriteLine , Debug.WriteLine doesn't work
update: working fine in VS 2017 test output but not vs code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c123f1f-8ae8-db21-2eac-4297bfc30b44
* Version Independent ID: 4675decb-333f-0508-5a3d-ce71dc85936d
* Content: [Unit testing C# with M

[2018-06-05 20:33] mairaw commented on #5811
Oi @GlauberCoder! Is this your own code or did you find it somewhere else? It doesn't seem like the code from the tutorial.

[2018-06-05 20:44] CESARDELATORRE commented on #5278
@brandonwittwer - This is, indeed, a great question. However, in this case you are over-applying some principles over others.
A "Business microservice" is almost the same concept than the BOUNDED-CONTEXT in Domain-Driven Design. It is s boundary around a single Domain Model with all the artifacts that you need around that Domain Model.
Usually, for most of the microservices you might have just a D

[2018-06-05 20:56] GlauberCoder commented on #5811
Hello, the error came from my own code, but I'm just copying exactly the tutorial, it seem to be all the same to the given example except for a line in the data load that I had to change, because the given example does not compile anymore.

[2018-06-05 20:59] mairaw commented on #5811
Did you use our code from here?
https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/TaxiFarePrediction

For product questions about ML.NET, you can also use the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo.

[2018-06-05 21:04] aditidugar commented on #5811
hey @GlauberCoder and @mairaw thanks for your comments! We've just released v0.2 of the Microsoft.ML package a few hours ago and there are a couple of updates we will have to make to the tutorials here.

For now, check out [this samples repo](https://github.com/dotnet/machinelearning-samples) for the most up to date samples.

[2018-06-05 21:05] athanasiosem opened #5816 "Catch exception thrown inside a child Task from parent"
Please provide an example on how to catch an exception thrown by an async task.

e.g.

        public static Task Task1()
        {
            throw new OperationCanceledException();
        }

        private async void Main()
        {
            try
            {
                // Await the task.
                await Task1();
            }
            catch (Exception exc)
            {

[2018-06-05 21:19] GlauberCoder commented on #5811
Thank you, I will try it.

[2018-06-05 21:33] JRAlexander commented on #5810
Thanks,@GlauberCoder! We need to update this tutorial for version .2 which was just released.

[2018-06-05 23:06] BrianCook commented on #5111
I have attached a Word doc showing the problem in detail. Please let me
know if you need any other information.

Thanks,

Brian

On Mon, Jun 4, 2018 at 2:57 PM, Bill Wagner <notifications@github.com>
wrote:

[2018-06-05 23:14] NeilMJohnson opened #5818 "This still works"
I just upgraded to a new development system, still using VS 2010 with very wide screens and all of my forms were screwing up and throwing split container errors.  Applying the above registry fix cleaned up the problem, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9b977f-c58f-1cd4-a146-5246723932ef
* Version

[2018-06-06 00:15] BillWagner commented on #5111
@BrianCook Attachments  sent via mail aren't attached on the GitHub website. Can you visit this page and upload the doc?

Thanks.

[2018-06-06 01:03] antonburger-advanced opened #5819 "Example 4 misleading"
The description, Console.WriteLine statements and code comments for example 4 are misleading. The description says, "Note that the properties in the anonymous type become properties on the Key member and can be accessed by name when the query is executed," but the example doesn't demonstrate this, as it uses an anonymous type for the projection, not for the group key. This would be more relevant i

[2018-06-06 02:53] #5810 closed

[2018-06-06 02:53] #5811 closed

[2018-06-06 02:57] infinitylight opened #5822 "The suggest for C# return"
Er,I think “The return statement terminates execution of the method in which it appears and returns control to the calling method.”change to"The return statement terminates execution of the method in which it appears and returns control to the statement that  calling method."will be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-06 03:05] brandonwittwer commented on #5278
Thank you for such a well thought out answer.  I understand the perspective, though I still question the term.  Is the intent to suggest that "Business Microservice" is the only type of "Microservice" and is simply synonymous with: "a well constrained Bounded Context".  If so: why introduce the word "Business" to the term and instead just focus on the idea that a Microservice doesn't necessarily m

[2018-06-06 09:59] ptoye opened #5827 "Cannot understand sentence - and why is it here?"
The remark "This API supports the product infrastructure and is not intended to be used directly from your code."  is hard to understand. What is "the product infrastructure"? If uses shouldn't use the class, why is it even available?

And why is the sentence in this page? I would assume it refers to the entire class FolderNameEditor.FolderBrowser rather then just this enum.

---
#### Document det

[2018-06-06 10:30] Lechus opened #5828 "Missing Single(x=>x.Prop == 123)"
With Select.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4a44517-d9a2-454d-90f3-90d9553ff4be
* Version Independent ID: f31a6959-8212-a49f-eeb4-43936dbfbadb
* Content: [Data Transformations with LINQ (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/data-transformations-with-linq)

[2018-06-06 11:09] stevenevans-j2 opened #5829 "It this list correct?"
I am using the package Microsoft.Build.Utilities.Core (the latest version 15.7.179) it has version past 4.5., But not 4.7.2 which i was looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681c3fa1-04b3-5c99-6122-ac94607cacc4
* Version Independent ID: 32af7ce5-ab2f-10bf-b7cf-87a2344c4d77
* Content: [TargetDotNet

[2018-06-06 11:15] benzhi2011 commented on #5416
I have posted one issue [here](https://stackoverflow.com/questions/50490550/cannot-run-dotnet-core-2-1-project-on-docker/50634071#50634071).
Someone said might be problem with the docker version, so I remove the latest version and installed Version 18.03.1-ce-win65 (17513), docker-compose 1.21.1.
If I run docker build -t aspnetapp . from Powershell(as ADMIN) , I got up to step 7/18
Removing interm

[2018-06-06 11:48] shibox opened #5830 "NonPortableCast<TFrom,TTo>(Span<TFrom>) api is not in net core 2.1"
NonPortableCast&lt;TFrom,TTo&gt;(Span&lt;TFrom&gt;) api is not in net core 2.1,how i can use this api

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5b7f8dd9-1836-ff1b-b046-69229c97bfa1
* Version Independent ID: 713cdeb9-64b5-da1a-fc8a-ef7bc6dc2819
* Content: [SpanExtensions Class (System)](https://docs.microsoft.com/zh-cn/dotnet/api/system.spanextensions?view=netco

[2018-06-06 13:32] boyarincev opened #5831 "Need add remark for Except method with IEquailityComparer"
First Except method (without IEqualityComparer) have important remark about that "The set difference of two sets is defined as the members of the first set that do not appear in the second set".

But second Except method (with IEqualityComparer) doesn't have such a remark. Due to you might think that this method return difference of two sets is defined as the members of the first set that do not a

[2018-06-06 13:46] PerMildner opened #5832 "ProcessStartInfo.ArgumentList needs documentation"
There is no documentation for ProcessStartInfo.ArgumentList

Presumably it's a replacement for the error-prone ProcessStartInfo.Arguments, but it how should ArgumentList be used?

I found https://github.com/dotnet/corefx/issues/23592 but that too does not say what the final design for ArgumentList is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-06-06 14:02] DJN1 opened #5833 "Static Classes in C#"
When I use a static class, how does it get loaded into memory. Because if it is not in memory it cannot be called. So basically my question is when does a static class get loaded into memory and when is it released from memory, in other words, what is the full life-cycle of a static class in C#?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-06 15:39] PinkoAgrawal opened #5834 "poor"
Why I always think that Microsoft's documents useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ac4b6bb-c5d4-8ef9-7785-82d6f399e8c6
* Version Independent ID: 8848fa84-4853-175d-5408-9e2e3af33d0b
* Content: [How to: Create and Bind to an ObservableCollection](https://docs.microsoft.com/en-us/dotnet/framework/wpf/d

[2018-06-06 15:56] CESARDELATORRE commented on #5278
I wouldn't necessarily agree on that. A Bounded-Context has, by definition, a single Domain Model (usually backed by a database) shared by any artifacts you might need. That's what I mean.
In the moment you have a different domain model / database for another microservice, that means it is completely autonomous in regards development and deployment so it would be a different BOUNDED-CONTEXT or "bu

[2018-06-06 16:04] svick commented on #5834
Why exactly do you find that article "poor" or "useless"?

[2018-06-06 16:10] mairaw commented on #5829
Yes, the list on the docs is correct @stevenevans-j2.

![image](https://user-images.githubusercontent.com/12971179/41050771-358c2f98-6969-11e8-9ec5-2544d3f20ebb.png)

@karelz can you help route this question (Microsoft.Build.Utilities namespace)? Thx!

[2018-06-06 16:12] mairaw commented on #5834
Hi @PinkoAgrawal! As @svick pointed out, please let us know what you didn't like about the article or what you were expecting to find.

[2018-06-06 16:30] karelz commented on #5829
Looks like part of msbuild: https://github.com/Microsoft/msbuild
@nguerrera @dsplaisted can you please help route it?

[2018-06-06 16:59] rpetrusha opened #5836 "IntelliSense: Remove tables from return value section"
# IntelliSense: Remove tables from return value section

The Return Value section of a number of methods (particularly the Compare method) includes a table that lists possible return value ranges. The table creates a broken experience for IntelliSense. The tables need to be removed and replaced with text.

//cc @mairaw @weshaggard

[2018-06-06 20:14] OliaG commented on #5811
Fixed in the latest version

[2018-06-06 20:16] mairaw commented on #5811
I was also telling @aditidugar that we should improve that error message 😊

[2018-06-06 20:21] #887 closed

[2018-06-06 20:49] #4139 closed

[2018-06-06 20:49] gewarren commented on #5447
@BillWagner Do you mean similar concerns about .NET Framework 3.5 support, or about topics on VS tooling for the language living in the dotnet repo?

@terryglee also suggested that because F# is open source, the docs need to be on an open source repo. Thoughts?

[2018-06-06 21:01] cartermp commented on #5447
All three languages are OSS, so all documentation for them should be OSS as well. I thought the VS docs were OSS?

[2018-06-06 21:16] mairaw commented on #5786
@BillWagner the example in that page has no introduction, which is unusual. Maybe we should indicate you need C# 7.1 or higher for that code to compile?

[2018-06-06 21:21] BillWagner commented on #5786
That sounds like a good idea @mairaw

I'd suggest linking to the anchor I referenced above.  I'll reopen and assign to me.

[2018-06-06 21:36] gewarren commented on #5447
The VS docs use the public-private repo system. The actual published content comes from the private repo. But it's all mirrored to the public repo. So I'm not sure if you consider that OSS.

[2018-06-06 21:39] mairaw commented on #5447
But that would mean you could not have any content covering OSS technologies in the VS docs, which seems wrong. C#, VB, .NET Core. and Roslyn, for example, are all open-source technologies covered in the VS docs too, no?

[2018-06-06 22:03] gewarren commented on #5447
Yes that is true Maira. So I think we are good here.

I'll look at moving these topics in the next sprint (138).

[2018-06-06 22:04] mairaw commented on #5447
We're currently in 136, so next one would be 137. So should I set this to 137 or 138?

[2018-06-06 22:06] gewarren commented on #5447
Sorry, that was confusing. It's for 138.

[2018-06-06 22:24] danvanderboom opened #5841 "_testdatapath field never used, should be used in Evaluate method"
The field _testdatapath is never used. Guessing you intended to use it instead of _datapath in this line of Evaluate, so that you're testing with a different dataset from what you trained with:
var testData = new TextLoader(_datapath).CreateFrom&lt;TaxiTrip&gt;(useHeader: true, separator: ',');

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-06 22:44] #5299 closed

[2018-06-06 22:52] #5587 closed

[2018-06-07 01:28] Phrohdoh opened #5846 "Unit Testing With NUnit incorrectly states that `dotnet new nunit` will generate a project"
The article about [unit testing with nunit](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-nunit) states that "[you can] create a new project using `dotnet new nunit`."

This [is not the case](https://github.com/nunit/dotnet-new-nunit/issues/11) though I suspect this is a bug in `dotnet-new-nunit`.

This is frustrating as a consumer following official documentation.

[2018-06-07 01:31] #5767 closed

[2018-06-07 03:06] brandonwittwer commented on #5278
My perception (and I assume the perception of others that read these documents) is that the addition of the word "Business" adds a new meaning to Microservice.  If I understand you correctly however you're using it only because the bounded context encompasses a business concept.  So "orders" is a business Microservice but "notifications" or "user authentication" would just be a "Microservice".  If

[2018-06-07 03:08] brandonwittwer commented on #5278
Also, I apologize if this is not the type of conversation you would like to be having in this venue and would be glad to reach out via a hangout if that would be more approproate.

[2018-06-07 05:30] taoyouh opened #5847 "Error handling information needed"
The "ReceiveAsync" method does throw exceptions like WebSocketException but it is not mentioned in the document.
Also, after ReceiveAsync throws an exception saying that the remote party closed the connection without closing handshake, the State property of the WebSocket is still Open. Examples on error and closing handling are needed.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接

[2018-06-07 05:59] halex2005 commented on #5846
It turns out, that it's a temporary regression, introduced in NUnit3.DotNetNew.Template v1.5.0 (item templates has been added).
I'll investigate the issue and hopefully fix this soon.

[2018-06-07 06:32] mairaw opened #5848 "Fix broken links in dotnet-api-docs repo"
Build report improvements surfaced a bunch of new broken cref links in the https://github.com/dotnet/dotnet-api-docs repo.

[Last report](https://opbuildstorageprod.blob.core.windows.net/report/2018%5C6%5C7%5C500c749d-de78-3d4a-00e4-269d599bf9ec%5CCommit%5C201806070031351738-master%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=2lcgjjuaIUaYGYOV3Z2%2BiBvLEFWpKerfRFe6DStECeA%3D&st=2018-06-07T06%3A22%

[2018-06-07 07:30] halex2005 commented on #5846
Do not need to change the docs.
https://github.com/nunit/dotnet-new-nunit/issues/11

Issue fixed in `NUnit3.DotNetNew.Template v1.5.1`. This issue can be closed.

[2018-06-07 08:00] mozts2005 opened #5850 "Dependence out of date jquery 2.2.4 [CVE-2015-9251]"
the docs website looks to be using an older version of Jquery 2.2.4  which has known security issues
See https://www.cvedetails.com/cve/CVE-2015-9251/

I think an update to a version of 3.0.0 or higher will fix the issue.  I would submit a pull request with this issue but I have been unable to find the template.

edit:
 I now think the template is part of the https://github.com/Microsoft/templates

[2018-06-07 08:20] masums opened #5851 "Class AppDomainSetup not found."
What is the namespace or assembly name for class AppDomainSetup? At your given example  AppDomainSetup not found. Project created using Visual Studio 15.7.3 and Asp.Net Core 2.1 MVC web project. Also tested at Core Console application. Do not find the class at .Net core project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-07 11:42] svick commented on #5851
.Net Core does not support most AppDomain functionality and that includes [the `AppDomainSetup` class](https://docs.microsoft.com/en-us/dotnet/api/system.appdomainsetup?view=netframework-4.7.2&viewFallbackFrom=netcore-2.1).

Unfortunately, examples are currently the same for all frameworks, which means that even though you selected the .Net Core version of the AppDomain documentation, the Example

[2018-06-07 11:56] Phrohdoh commented on #5846
Awesome! Thanks for the quick response and fix @halex2005!

[2018-06-07 11:56] #5846 closed

[2018-06-07 12:04] svick commented on #5782
@Tony00700 If you think it's a bug, then I think your best option is to create an issue about that in [the corefx repo](https://github.com/dotnet/corefx).

[2018-06-07 13:30] wengera opened #5852 ""dotnet publish" is uninstalling package from application and then exiting saying it can't find the package it removed...."
So I am using asp.net core with Angular 4.2.5 and I run the following commands before publishing:
- dotnet restore
- dotnet build
- dotnet publish

When I run "dotnet publish" it runs for about a minute and then it removes "ngx-bootstrap" from my project and then it exits telling me it was "unable to find "ngx-bootstrap". I have no clue what to do as I have to reinstall ngx-bootstrap every single

[2018-06-07 15:51] atykhyy opened #5855 "Memory allocated by this method"
To go by the reference source, ordinal string comparers (`StringComparer.Ordinal` and `StringComparer.OrdinalIgnoreCase`) use an external function to compute the hash code which probably doesn't allocate any memory. If that is true, please reflect this in the docs so that people won't go off rolling their own ordinal case-insensitive hash functions to avoid memory allocation.

---
#### Document De

[2018-06-07 16:19] kunkliricsi opened #5856 "Typo?"
Shouldn't the commented Z's F function write out "Z.F" and not "C.F" in the first example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab10c9fd-cbf8-6889-eadc-34ce1999a592
* Version Independent ID: 2cc0bd61-62b3-f41f-d6a8-16ffdc049238
* Content: [sealed (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/

[2018-06-07 18:10] SidShetye opened #5860 "SqlFunctionAttribute.FillRowMethodName documentation is useless"
docs needs more substance and example is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6cceb80-b770-1e77-e343-a3dde207f4a4
* Version Independent ID: 9ddafb2e-865c-af9d-fa8e-5e0ab6e18731
* Content: [SqlFunctionAttribute.FillRowMethodName Property (Microsoft.SqlServer.Server)](https://docs.microsoft.com/en-us/dot

[2018-06-07 18:21] svick commented on #5855
The first paragraph is also inaccurate: converting from `object` to `string` does have some performance cost, but it does not involve unboxing.

[2018-06-07 18:33] stevejgordon commented on #5768
I'd like to add to this and suggest that some formal documentation about SocketsHttpHandler would be great! For example, I understand that PooledConnectionLifetime might implement manage connections so that issues currently present around DNS TTL not having any effect, Does this cover the gap left by a missing ServicePointManager in .NET core?

I'm using IHttpClientFactory within ASP.NET Core whic

[2018-06-07 18:38] mairaw commented on #5860
@douglaslMS can you take a look at this feedback?

[2018-06-07 19:00] xmedeko opened #5861 "Naming conventions for UI - user interface"
Should we use `Ui` or `UI` as the abbreviation of the user interface? E.g. `ExecuteOnUiThread` or ExecuteOnUIThread` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eba6b11-5703-355f-0e85-08ee7451120d
* Version Independent ID: 4691fbb3-7b6d-8c02-e372-315ca302e48e
* Content: [Capitalization Conventions](https://docs.m

[2018-06-07 19:03] mairaw commented on #5852
Hi @wengera, since this is a product question, I suggest you file a new issue at https://github.com/dotnet/cli/issues. If you find out after talking to the product team that our content needs improvement based on this particular scenario, please let us know and feel free to reopen this issue.

[2018-06-07 19:03] #5852 closed

[2018-06-07 19:09] mairaw commented on #5861
This is covered by the following section of the docs:

Such as this namespace we have in .NET: [System.Web.UI](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui?view=netframework-4.7.2)

[2018-06-07 19:10] #5861 closed

[2018-06-07 21:04] jmlane opened #5862 "Enumeration classes (type-safe) pattern gender example"
Hello,

Please consider removing reference to gender as a "closed set of values" for your Enum use case examples. It does not seem necessary given there is already another example (size), and it reinforces binary concepts of gender that are harmful to non-binary and genderqueer people.

Thank you for the content!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-07 23:36] mairaw commented on #5862
Thank you for your candid feedback @jmlane! I agree with you.

Would you like to contribute with a PR for that content? Otherwise, we'll take care of that for you.

[2018-06-08 00:17] richardrob24 opened #5863 "The example could be clearer"
The myText object is never declared so I don't really know what it is and therefore what kind of objects I could expect to find a SetBinding method on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12773004-4c9d-28a5-0967-6affc5738f05
* Version Independent ID: efa91ca6-243f-157b-cb41-bd93cb4b1679
* Content: [BindingEx

[2018-06-08 00:18] richardrob24 commented on #5863
I just read the preceding paragraph and now I'm slightly embarrassed.

[2018-06-08 02:40] amp64 opened #5864 "Simple examples would really help"
A real-world example would be
new  AuthenticationHeaderValue("Bearer", "a34552bd34")
(the made up 2nd argument is a token in this case).
A list of what kinds of schemes are acceptable would be handy, especially the 1-argument constructor which remains a mystery to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a1d

[2018-06-08 05:04] sateeshmachineni commented on #5252
Guys ,any update on where i can see old documentation

[2018-06-08 05:50] xmedeko commented on #5861
Thanks for the explanation.

Just note: examples from the .NET are not valid always. The .NET naming has changed over the years. E.g. **Id** vs **ID**:
`System.Threading.Thread.GetDomainID`
vs.
`System.Threading.Thread.CurrentThread.ManagedThreadId`
etc.

[2018-06-08 06:34] mairaw commented on #5832
Thanks for your feedback @PerMildner. We have lots of gaps in the .NET Core API reference that we need to cover.

In the meantime, does the source code help with the final design for this?
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs#L66

@joperezr, can you help with the question about the API usage?

[2018-06-08 06:47] mairaw commented on #5861
@terrajobst and @KrzysztofCwalina to confirm the right convention. I know that we haven't always been consistent.

[2018-06-08 07:23] IanKemp opened #5866 ""How to: Safely Cast by Using as and is Operators" should be updated to include pattern matching"
The content does not cover this new feature in C# 7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e13c060-11a8-f33b-6618-51c62b201681
* Version Independent ID: 7356b044-df1d-ddc1-38ad-676fcbfde698
* Content: [How to: Safely Cast by Using as and is Operators (C# Programming Guide)](https://docs.microsoft.com/en-us/do

[2018-06-08 13:23] MarcioAB opened #5871 "Broken link: Key Spline Animation Sample"
The "Key Spline Animation Sample" link in this page is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53404393-0b6a-ce81-88fb-eea3d9eb3761
* Version Independent ID: a4a7fa11-829a-0544-24da-4f3a576b619f
* Content: [Timeline Class (System.Windows.Media.Animation)](https://docs.microsoft.com/en-us/dotnet/api/syste

[2018-06-08 13:41] Katie-Van opened #5872 "ValueChanged should be onValueChanged in this documentation example"
In the example at [](https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/defining-an-event-in-windows-forms-controls#feedback)

`protected virtual void OnValueChanged(EventArgs e) {
      if (ValueChanged != null) {
         ValueChanged(this, e);
      }
   } `

Should be

`   protected virtual void OnValueChanged(EventArgs e) {
      if (onValueChanged != null) {
         onValue

[2018-06-08 15:40] markdcarringer opened #5873 "Unable to Reference Person Class"
My instinct was to create the Person class, then make a reference to it in the XAML. This approach does not work. Visual Studio tells you, incorrectly, that "the name Person does not exist in the namespace clr-namespace:One_SimpleBinding". (I named my project One_SimpleBinding instead of SDKSample, which makes no difference here.) And Visual Studio will not build the project. I am running VS2017 E

[2018-06-08 15:41] KrzysztofCwalina commented on #5861
"UI" just like "IO", i.e. the guideline is: two letter initialisms have both letters upper cased.

[2018-06-08 16:43] rpetrusha commented on #5851
Thanks for pointing out this issue, @masums. As @svick points out, the `AppDomainSetup` class is not supported by .NET Core. The issue you raise, though, is a significant one: AppDomain examples should either be revised to run on both .NET Framework and .NET Core, or their descriptions should make it clear which .NET implementation is supported. I'm going to change your issue description, @masums,

[2018-06-08 17:18] HarshaLaxman opened #5875 "Windows Service template has to be searched for"
https://stackoverflow.com/a/30689355/6483906

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75152e30-b486-3ba0-c606-25ada7347b22
* Version Independent ID: e797ddfe-a9d3-93a4-61bd-fd6dc9b8d6b4
* Content: [Walkthrough: Creating a Windows Service Application in the Component Designer](https://docs.microsoft.com/en-us/dotn

[2018-06-08 17:51] amjrsl-zz opened #5877 "Asynchronous Batch Generation"
Batches also appear to be generated asynchronously in greedy mode when a Bounded Capacity is specified:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3a39dd-227f-8c04-ed1a-fa2e42bfbf31
* Version Independent ID: 999abbd2-8172-3a36-63c7-9ea054f683ce
* Content: [BatchBlock&lt;T&gt;.TriggerBatch Method (System.T

[2018-06-08 18:31] douglaslMS commented on #5860
@SidShetye Thanks for bringing this to our attention. I've opened a PR to remove the code snippet which is for a different property, and to improve the description of the method itself. As you may have learned elsewhere, FillRowMethodName is "the name of the method in the same class which will be used to fill a row of data in the table returned by the TVF."

[2018-06-08 18:45] mairaw commented on #5871
Obrigada @MarcioAB. I've fixed the target URL for http://go.microsoft.com/fwlink/?LinkID=160011.

[2018-06-08 18:45] #5871 closed

[2018-06-08 20:11] rpetrusha commented on #5856
Yes, the output should be "Z.F" instead of "C.F", @kunkliricsi. Thanks for pointing this out. We'll open a PR to correct this error shortly.

[2018-06-08 20:36] rpetrusha commented on #5863
There's nothing to be embarrassed about, @richardrob24. Many of us look at the code without reading the surrounding text. The code should have made it clear what the type of myText is. It's part of a larger (actually, a much larger) example, so only a small code fragment was shown.  I've opened a PR to add a comment to the code that indicates myText is a TextBlock control.

[2018-06-08 20:40] #5856 closed

[2018-06-08 21:50] rpetrusha commented on #5306
@HasanAliKaraca, the source code for WCFTestClient.exe is not publicly available. I'll close this issue.

[2018-06-08 21:50] #5306 closed

[2018-06-08 22:16] rpetrusha opened #5882 "Consolidate Windows Forms controls documentation"
#  Consolidate Windows Forms controls documentation

All Windows Forms control classes are documented in the [System.Windows.Forms namespace](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms?view=netframework-4.7.2) .NET API documentation. Controls are also documented in the [Windows Forms Controls](https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/index) section