[2018-04-22 06:13] davidfowl commented on #4973
@svick

Naw, we support custom awaitable actually. We wrote this logic (https://github.com/aspnet/Common/blob/b31e410695210ea4144129f3243f2b114b144c13/shared/Microsoft.Extensions.ObjectMethodExecutor.Sources/ObjectMethodExecutor.cs) that basically mimics the C# compiler semantics WRT figuring out if something is awaitable (although extension methods don't wait, that's a bit too difficult to do at

[2018-04-22 07:53] Mike-EEE commented on #4973
Wow, did the venerable @davidfowl just ghost this thread?  I thought what he provided was valuable.  FWIW, I am also interested in running ASP.NET Core performance metrics in regards to eliding at scale.  I would greatly appreciate any pointers in the right direction to start hunting this down.

[2018-04-22 08:28] mikedn commented on #4975
The runtime libraries (VM, GC, JIT) are written in C/C++ (it's not unusual for people to say C/C++ even if there's little to no actual C code in there) and as such they're obviously platform specific.

The "corelib" assembly is written in C#. And despite being written in C#, it too is platform specific, like System.IO and System.Security.Cryptography.Algorithms mentioned below.

IMO both that piec

[2018-04-22 08:37] Mike-EEE commented on #4973
Oh.  Then I meant _formerly_ venerable @davidfowl. 🤣

[2018-04-22 08:50] ShalokShalom commented on #4975
Ah I see. The distinction between C and C# is for the most developers probably more as splitting hairs. Platform specific is clearly correct.

[2018-04-22 09:18] mikedn opened #4992 "Improve Thread Synchronization page in the C# guide"
[Thread Synchronization](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/threading/thread-synchronization) is IMO poorly written, so poorly that I'm not even sure I can pin point everything that's wrong with it. I'll give it a try though. I'd re-write it myself but English is not my first language and I'm not confident enough that I can get it right. Not to mention that I

[2018-04-22 14:41] pkulikov commented on #4975
What adds to confusion, I think, is the discussion of platform-neutral/platform-specific **code** in the same topic with the figure that shows what part of the CoreFX C# code is platform-specific. So, there are platform-specific **code** and platform-specific **library**. While some of GC code might be platform-neutral - I assume, the GC library itself is platform-specific.

[2018-04-22 14:49] ShalokShalom commented on #4975
A detailed description is probably suitable?

[2018-04-22 16:36] davidfowl commented on #4973
You're kinda screwed there. There is no right way then, there are just trade offs of which is the *least* bad way.

[2018-04-22 16:46] gortok commented on #4973
@davidfowl I think a talk of the approaches and trade offs would be helpful; we have taken a variety of approaches over the life of our codebase. Uncontrolled parallelization+database client side connection pooling with long writes (Think data warehousing) has turned into a situation where our async message bus code causes database issues like connection pool exhaustion to the point that a tempora

[2018-04-22 18:25] mikedn commented on #4975
Yes, libraries like System.IO are platform specific because they contain platform specific code. I don't see what's confusing about that.

Most of the code is platform neutral. But since it's written in C/C++ the resulting libraries are platform specific - coreclr.dll and clrjit.dll on Windows and libcoreclr.so and libclrjit.so on Linux. The entire C/C++ source code could be platform neutral and t

[2018-04-22 18:30] mikedn commented on #4975
Or drop the whole CoreCLR/C/C++ thing and instead talk about System.Private.CoreLib since most section seems to refer only to .NET assemblies. And it's exactly what's useful to point out in the documentation - that some assemblies are platform specific thus you can't just copy them from Windows to Linux.

[2018-04-22 18:50] ShalokShalom commented on #4975
I think the core issue here is that you refer to the runtime and the repo with the same name.

[2018-04-23 10:08] isaac2004 commented on #4931
@rpetrusha @mairaw is there a thought of adding these samples (if found) into the samples repo?

[2018-04-23 15:11] BillWagner commented on #2821
One issue is to point out that you should select "all configurations", not just "debug" (which is the default).
This is a common pitfall, from the feedback so far.
So it would be great if we could include that in future instructions.

[2018-04-23 16:55] pkulikov commented on #4975
I think that is a good update of the current text.

[2018-04-23 17:50] #4754 closed

[2018-04-23 19:01] #3425 closed

[2018-04-23 19:57] pkulikov commented on #3391
@mairaw it's time to check one more point in the issue message ✔️ - standard.

Let me take all the thanks you've given me for the work on this issue, square them up, and give them to you. That turned out to be a very good issue to work on: I've learnt the structure of the docs, which is definitely useful for improving them further (and navigating the website itself  😄 ), learnt the C# use-cases th

[2018-04-23 20:03] mairaw commented on #3391
Woot woot! Done @pkulikov. Your help has been tremendous and I'm glad you're also having fun and learning in the process.

[2018-04-23 20:14] mairaw commented on #4976
@richlander @mhutch can you two take a look at this section (https://docs.microsoft.com/en-us/dotnet/core/#comparison-with-mono)? I agree that similarities like the fact that both are open source shouldn't be listed as a difference.

[2018-04-23 20:41] mairaw commented on #3930
DateTime reference already has a boilerplate with the explanation of the Run button.

[2018-04-23 20:41] #3930 closed

[2018-04-24 03:16] Rick-Anderson opened #5009 "Document shared framework"
Update 9-18-19:

* Find the right place in this repo for the shared framework doc.
* Ask `@natemcmaster` to copy paste his blog here. I'll do the conversion.

Update - [Deep-dive into .NET Core primitives, part 2: the shared framework](https://natemcmaster.com/blog/2018/08/29/netcore-primitives-2/) looks like it has all the info we need.

The following reference the `Microsoft.NETCore.App` "shared

[2018-04-24 15:14] tuespetre opened #5013 "The section on Standard Query Operators should be updated to reflect new operators"
The section (including its subsections) to which I am referring:

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/standard-query-operators-overview

The operators to which I am referring:

- [Append](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.append?view=netcore-2.0)
- [Prepend](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.

[2018-04-24 16:52] #4931 closed

[2018-04-24 19:52] BillWagner opened #5018 "Our coverage of generics does not mention generic local functions"
See [this comment](https://github.com/dotnet/docs/pull/4960#issuecomment-382852726)

We should cover:
- [ ] generic local functions
- [ ] local functions that inherit (is that the right word?) type parameters from the enclosing method
- [ ] constraints on generic local functions

/cc @OmarTawfik @MadsTorgersen

[2018-04-25 16:38] Mackiovello commented on #4801
I don't find this one in the dotnet/docs repo

[2018-04-25 18:33] #4773 closed

[2018-04-26 06:53] qacollective commented on #3708
Action on this problem would appear justified given the amount of angst it seems to be causing:

https://stackoverflow.com/questions/4030891/how-to-prevent-inheritance-for-web-config-file-for-configsections
https://stackoverflow.com/questions/1572326/how-to-stop-inheritance-of-configsectionsin-web-config
https://stackoverflow.com/questions/367282/disable-web-config-inheritance
https://stackoverflo

[2018-04-26 16:15] StephenMolloy commented on #3708
As the original issue report points out, remove and clear were never implemented. They haven't existed since before 2.0, and I doubt they existed before that. The documentation should be fixed, but I don't see these features being implemented at this point.

[2018-04-26 16:26] bcumberledge commented on #3708
There should be a simple solution then to stop inheriting.   Nothing works
right now to cover the entire config, not even altering the definition of
the app pool to not allow it.

On Thu, Apr 26, 2018 at 11:15 AM, StephenMolloy <notifications@github.com>
wrote:

[2018-04-26 16:51] svick opened #5044 "Update Reflection.Emit samples to .Net Core"
Example code for System.Reflection.Emit typically creates the required `AssemblyBuilder` using [`AppDomain.CurrentDomain.DefineDynamicAssembly(assemblyName, assemblyBuilderAccess)`](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.definedynamicassembly?view=netframework-4.7.1#System_AppDomain_DefineDynamicAssembly_System_Reflection_AssemblyName_System_Reflection_Emit_AssemblyBuilderAcc

[2018-04-26 20:54] mairaw commented on #4564
We might just wanna link to some existing content from VSTS instead?
https://docs.microsoft.com/en-us/vsts/build-release/apps/aspnet/build-aspnet-core
https://docs.microsoft.com/en-us/vsts/build-release/tasks/build/dotnet-core
https://www.visualstudio.com/team-services/support/build-deploy-asp-net-core-app-azure/

[2018-04-26 20:55] mairaw commented on #4564
Also, if we wanted to make the docs topics to show up in our own TOC and not just link to the content, I know there are options, I just never tried.

[2018-04-26 21:53] #3828 closed

[2018-04-27 19:52] #4884 closed

[2018-04-27 20:06] OnurGumus commented on #4400
@mairaw Obsolete attribute blocks the F# compiler for span.

[2018-04-27 20:08] mairaw commented on #4400
@cartermp can you look at this previous comment?

[2018-04-27 20:17] cartermp commented on #4400
It doesn't affect these docs. When we take a look at proper span support in the F# compiler that particular issue will be addressed.

[2018-04-27 20:19] OnurGumus commented on #4400
Perhaps this is not correct place to rant but there is a tendency to treat C#== .NET. It seems for BCL and runtime changes languages like F# is completely ignored or afterthought. Same things happened with .NET Native, ValueTuple, default interface implementations etc. I just wish things were more lang agnostic.

[2018-04-27 22:16] mairaw opened #5062 "Review topic metadata"
This is a tracking issue for org-wide changes related to metadata and BI reporting:

- [x] C# folder
- [x] F# folder
- [x] VB folder
- [x] standard folder
- [x] core folder
- [x] framework folder
- [x] dotnet-api-docs repo
- [x] roslyn-api-docs repo
- [x] EF docs repo
- [x] EF API docs repo
  - [x] need to define metadata values first
- [x] global changes
- [ ] topic types for MVC topics
- [x] qui

[2018-04-28 05:30] otac0n opened #5064 "DevelopmentDependency is supported but undocumented."
For example, <DevelopmentDependency>true</DevelopmentDependency> as implemented here: https://github.com/NuGet/NuGet.Client/pull/1266

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj for

[2018-04-28 12:55] monty241 opened #5067 "Missing space?"
In the section on OleDb it reads 'Note that the UserID and Password keywords are optional if the database is unsecured (the default).'

Shouldn't there be a space between 'User' and 'ID' given that the example uses 'User ID'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b43aee8-d88f-ea0d-5f19-e8ea155d1b7a
* Version

[2018-04-28 18:28] MarcioAB opened #5068 "Example needs continuity <local:ThresholdEffect>"
This example uses some code-behind ( <local:ThresholdEffect> ).
It could be of help to provide such code-behind because it may be part of the understanding of the "bitmap effect" to be applied to an element.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00410dd9-1175-5149-0860-b687f06434a4
* Version Independent ID: ff

[2018-04-29 00:00] penguino opened #5070 ""Integrated Terminal" reference not found in VSCommunity 2017"
Under: 2. "Initialize a C# project:" the reference: "View > Integrated Terminal from the main menu." does not exist in this version of Visual Studio Community (2017, version 15.6.4).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc2e9c2-f333-f6a1-064e-790d950b684c
* Version Independent ID: 25a4c9b9-2808-e296-df03-583

[2018-04-29 02:48] mairaw commented on #5070
Hi @penguino. That topic is about getting started with C# with Visual Studio Code, which is a different tool than Visual Studio. The following topic should work with your version:
https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio

[2018-04-29 08:41] HeinzKessler opened #5072 "Documentation Incorrect"
The statement under "Remarks" is not correct: If the values for Top, Bottom, Left, or Rights were set separately, then All returns -1, even if all 4 properties have the same value:
var p = new Padding( 5 );
// Here, All returns 5
p.Left = 5;
// Now, All returns -1, although all 4 properties still have a value of 5
p.All = 5;
// Now, All returns 5 again

see also: https://referencesource.microsoft.

[2018-04-29 09:27] pkulikov commented on #5072
I wonder if it's a bug in documentation or implementation?
Setter of the `Left` property:
[code]
can be improved like this, for example:
[code]
Though, it doesn't fix situation when from (1,0,1,1) padding we go to (1,1,1,1).

[2018-04-29 09:49] HeinzKessler commented on #5072
That's right: The implementation is wrong, but I don't think that they will change it, because thats would break people's existing code.

[2018-04-29 15:29] loicmorvan opened #5073 "How to create an analyzer"
Can you add a link to a document that explains how to create an analyzer from scratch? Would be nice :) Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee024463-2572-2106-a85d-7c53f8d9dc0c
* Version Independent ID: 1cd4a2f3-3055-1faa-0fa9-46bbfb6dcef1
* Content: [The Roslyn based Analyzers - .NET](https://docs.m

[2018-04-29 15:42] svick commented on #5073
I think such document doesn't exist in the docs yet. Here is an issue about creating one: https://github.com/dotnet/docs/issues/4831.

[2018-04-29 20:42] LarGriff opened #5074 "..."

[2018-04-29 21:59] svick commented on #4906
Few more notes:

* It might make sense to use exception filters instead of rethrowing the exception.
* In .Net Core 2.0, you can write just `ExceptionDispatchInfo.Throw(ex)`.

[2018-04-30 07:54] paolofulgoni opened #5075 "Runtime changes with assemblies compiled against mixed Framework versions"
In the *Runtime changes* section, I read that if:
* the entry assembly is compiled for .NET Framework 4.0
* the installed runtime is .NET Framework 4.5

then the code will run in .NET Framework 4.0 *compatibility mode*.

Please clarify what would happen if the entry assembly loads an assembly compiled for .NET Framework 4.5.
Would it run in compatibility mode too?

---
#### Document Details

⚠ *Do

[2018-04-30 09:01] wahboh opened #5078 "Useless information"
Assume that I want to write a handler for this event. Where do I find the interface description?
The new documnetation is all to often totally useless lacking substantial information and examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c2a4b4-423c-e2b5-8dec-bd8c0f046b7c
* Version Independent ID: 30a347cb-8b49

[2018-04-30 12:38] DamienKusters opened #5083 "Great explanation"
This is a realy good document.
It seems the link "Styling with ControlTemplates Sample" doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dfc55ee-0061-cd98-fd01-ad6156f8d155
* Version Independent ID: 594e424a-30ed-9f1e-dac7-e56acdd022e0
* Content: [Styling and Templating](https://docs.microsoft.com/en-us/dot

[2018-04-30 14:41] BillWagner commented on #3962
This will get completed in Sprint 135.

Current status: All the files listed in the comment above have been reviewed, and updated. All the samples have been migrated to the Samples repo.

[2018-04-30 15:14] TPucke opened #5085 "Access to token when the Task action is defined in another scope"
I'm using the overload Run(Action, CancellationToken).  The example code shows how to handle the cancellation, but the `token` variable appears to be in scope because the action is defined inline and `token` is declared in the outer scope.  How is the token accessed within the action body when the action is defined in another scope, such as in another class.

---
#### Document Details

⚠ *Do not e

[2018-04-30 16:54] #4793 closed

[2018-04-30 16:54] #4818 closed

[2018-04-30 16:55] #4796 closed

[2018-04-30 16:59] #4795 closed

[2018-04-30 17:04] douglaslMS commented on #5067
@monty241 Thank you for catching this inconsistency. I've made the change and will let you know when the correction is published.

[2018-04-30 17:07] JRAlexander commented on #2049
@cartermp - Does this need to move to Sprint 135? Thanks!

[2018-04-30 17:29] monty241 commented on #5067
Hi Douglas, thanks, u r welcome. Rgds Guido

[2018-04-30 17:30] cartermp commented on #2049
@JRAlexander Yep!

[2018-04-30 17:36] JRAlexander commented on #2049
Done!

[2018-04-30 19:52] #4792 closed

[2018-04-30 20:12] mairaw commented on #5074
Thanks @LarGriff. I think you had a good point in your original message here. We'll try to make the audience for the tutorial (https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/console-teleprompter) more clear. /cc @BillWagner

[2018-04-30 20:33] mairaw commented on #5075
@twsouthwick can you help address this question?

[2018-04-30 20:36] mairaw commented on #5072
@Tanya-Solyanik can you comment on this one? There's an indication that this is a product bug, but let me know if you'd like to just document the behavior as-is.

[2018-04-30 20:37] BillWagner commented on #5073
I'll close this as a duplicate of #4831

In the meantime, [this tutorial](https://docs.microsoft.com/visualstudio/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays) has a lot of the information necessary. It's just not in a location that's easy to find if you're looking for roslyn analyzers.

[2018-04-30 20:37] #5073 closed

[2018-04-30 20:37] BillWagner commented on #4831
Adding [this](https://docs.microsoft.com/visualstudio/extensibility/roslyn-analyzers-and-code-aware-library-for-immutablearrays) as another good set of source material.

[2018-04-30 20:43] #5070 closed

[2018-04-30 21:00] mairaw commented on #5009
Thanks @Rick-Anderson. @KathleenDollard can you help with this one? Do you see a good place to put such information?

[2018-04-30 21:01] BillWagner commented on #5013
Thanks for pointing this out @tuespetre Yes, that's out of date.

What we should do is update these sections to move to the .NET Standard section. This content (or something very similar) is replicated in numerous places.
Then, we need to update that one (merged) document to refer to the ``System.Linq.Enumerable` API reference for the release-specific set of methods available in LINQ expressions.

[2018-04-30 21:16] mairaw commented on #5064
Thanks @otac0n. @rohit21agrawal @emgarten was this property added with .NET Core SDK 1.0 RTM along with the rest of the other [additions](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#additions)?

/CC @KathleenDollard

[2018-04-30 22:01] KathleenDollard commented on #5064
@livarcocc

[2018-04-30 22:06] KathleenDollard commented on #5009
@terrajobst

[2018-04-30 22:25] mairaw commented on #5073
Duplicate of #4831

[2018-05-01 00:18] terrajobst commented on #5009
@richlander would know the details better

[2018-05-01 00:49] MarcioAB opened #5093 "Example link is broken"
The link to "Changing a Collection by Using IEditableCollectionView Sample" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24cbd591-5893-7bad-6e4f-a80eff1ee82d
* Version Independent ID: fed2d8a9-e251-e765-221c-234c89ba619d
* Content: [IEditableCollectionView.CancelNew Method (System.ComponentModel)](https://

[2018-05-01 02:05] Tanya-Solyanik commented on #5072
This might be a product bug, but, like HeinzKessler said, it would be  a breaking change to fix this and the workaround is simple. As is 'Padding.All` getter indicates that padding values were set using the `Padding.All` setting. this information might be useful.

[2018-05-01 05:13] mairaw opened #5094 "Document .NET CLI Tab Completion"
.NET CLI tab completion supported has been added to .NET Core 2.0 SDK, but we haven't documented it yet on docs.

Helpful link: https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md

Could be added to https://docs.microsoft.com/en-us/dotnet/core/tools/ or should this be a completely new topic?

/cc @KathleenDollard

[2018-05-01 05:16] mairaw commented on #4510
@BillWagner should we close this issue? Since then, we've updated the PR template to be much shorter, which I like it a lot. And we've been maintaining the code owners file as needed.

[2018-05-01 05:53] pkulikov commented on #5072
Or during construction. Both by the one-parameter constructor and by the four-parameter constructor if it gets all four the same values: `Padding.All` property is also defined (as I read it from the code).

[2018-05-01 08:01] loicmorvan commented on #5073
@BillWagner This is exactly what I was looking for, thanks!

[2018-05-01 11:09] BillWagner commented on #4510
@mairaw The only other recommendation is to publish the list of owners, if we wanted. Using the code owners feature, I don't think it's necessary.

Upvote to close. Downvote to add the "who owns what" file.
/cc @rpetrusha @JRAlexander

[2018-05-01 15:46] martinadhie opened #5103 "Navigation problem .NET core document jump to .NET standard document"
Hi,

I'm browsing tru left (tree) navigation of .NET core document and suddenly jump to .NET standard document.
Referrer : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-2.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID

[2018-05-01 17:15] KathleenDollard commented on #5094
This should be separate because it applies primarily to CLI verb/context that are not CLI tools.

[2018-05-01 17:41] ygoe opened #5107 "Wrong words"
"The WebSocket received a close message was received from the remote endpoint."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a84491-6459-8b0d-82d3-dfe0a8ba9912
* Version Independent ID: 03d478f1-0065-5db0-510e-1a3702011de1
* Content: [WebSocketReceiveResult.Count Property (System.Net.WebSockets)](https://docs.micro

[2018-05-01 17:43] ygoe opened #5108 "Buffer size"
How large must the buffer array be? What happens if it was too small, so the received message was longer than the array? Can I just come back with more space to receive the rest? I guess the result.EndOfMessage property should be checked to determine that, but that's just a guess.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-05-01 17:51] markbearden opened #5109 "Confusing/insufficient documentation around 'await' of an 'async void' function"
Isn't it confusing that this document says (quote, as of May 1 2018): "an async method that returns void can't be awaited."     That sounds like you can't compile "await foo();" for "async void foo() {}".  But not only CAN You do that, but the current Visual Studio casts a warning at you if you don't: "Because this call is not awaited, execution....Consider applying the 'await' operator to the res

[2018-05-01 18:09] markbearden commented on #5109
This suggestion is based on a complete misunderstanding, so the issue should be closed.

[2018-05-01 18:09] #5109 closed

[2018-05-01 18:38] mairaw commented on #5103
Thanks @martinadhie. @scottaddie @Rick-Anderson should you guys use the contextual TOC so customers don't jump out of your docset for that TOC entry?

![image](https://user-images.githubusercontent.com/12971179/39487397-f033bea8-4d33-11e8-99f5-ba640bb4a58b.png)

Should we move this issue to the aspnet/docs repo?

[2018-05-01 18:41] mairaw commented on #5109
No worries @markbearden. Thanks for letting us know.

[2018-05-01 20:22] BrianCook opened #5111 "Developer"
This says nothing about the very inconvenient behavior which is that if you add a new setting, any saved values of your previous settings are all lost! You have to re-enter ALL the settings anytime you add a new one. Not friendly behavior, and not documented, nor documented what the workaround is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-05-01 20:56] karelz commented on #5108
@caesar1995 can you please help answer the question? I wonder if the behavior is the same on all platforms we support.

[2018-05-01 20:59] #5107 closed

[2018-05-01 21:25] caesar1995 commented on #5108
Correct. We used to have issue with `result.EndOfMessage` on .NET Core, and we have fixed it: https://github.com/dotnet/corefx/pull/28325

As for the sample code of a receive loop, please refer to the test case here:
https://github.com/dotnet/corefx/pull/28325/files#diff-0dc72bcdecaf43bf2632f602e91b6866R135

Yes. We use managed websocket on Core. And this is the same behavior on Framework.

[2018-05-01 21:39] ygoe commented on #5108
@caesar1995 Oh there's a bug in .NET Core < 2.1? I don't understand what it's about. At least I'm not having any trouble yet (with .NET Core 2.0).

And the memory management of the test case doesn't look too ideal. Every chunk of bytes is copied twice. I was hoping to reduce that. I'm using a single byte array to write to and resize that when it's too small (similar to what `List<T>` does internal

[2018-05-02 01:14] mairaw commented on #5111
@Tanya-Solyanik are you aware of any issues with that?

@BrianCook can you provide more info on which version of VS you're using, language, etc.? I can't reproduce this with VS 2017. I can add new values without losing the old values.

[2018-05-02 02:30] pcalin opened #5119 "link to using DebuggerDisplayAttribute class is wrong"
Link at end of document to  DebuggerDisplayAttribute sends us to old documentation outside the new docs.

Link should be changed to point to https://docs.microsoft.com/en-au/visualstudio/debugger/using-the-debuggerdisplay-attribute for better user experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 578c4de4-e598

[2018-05-02 05:46] pkulikov commented on #5119
@pcalin thank you for spotting the issue and providing the correct link.

[2018-05-02 06:10] jcurl opened #5120 "Missing versions of .NET"
Determining .NET 1.0 framework via the registry doesn't work with these instructions. You have to iterate through the key "SOFTWARE\Microsoft\NET Framework Setup\Full\" looking for entries starting with "v". Then you find the language code and a product key. Once you've got the product key, you can then look in "SOFTWARE\Microsoft\NET Framework Setup\Product\{0}" and then get details if it's insta

[2018-05-02 09:05] SuperCool83 opened #5121 "The output at the bottom of the page in incorrect,"
in the example provided in the MyAssembly.fs and file1.fsx
x = 10
y = 40
so 10 + 2 x 40 = 90.
not 60.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ea5b069-0d43-f577-3f95-fde5aaf919d5
* Version Independent ID: 0ea5685e-45cc-06d2-3985-cffb530f9e67
* Content: [F# Interactive (fsi.exe) Reference](https://docs.microsoft.

[2018-05-02 09:29] sheridanworkshare opened #5122 "Your code example could be more helpful."
If `finalSize` is infinity, then passing it as the return value from the `ArrangeOverride` method will cause an `Exception`. You should return `base.ArrangeOverride(finalSize)` instead, and let that coerce any invalid values for you. (Clearly, that won't occur in this example, because you are returning the size of a single element from the `MeasureOverride` method, but it would be more helpful to

[2018-05-02 10:36] svick commented on #5121
You're right, the page should say that the output is `90`. Do you want to create a Pull Request that fixes it? (If you do, but want some help with that, feel free to ask.)

[2018-05-02 10:40] SuperCool83 commented on #5121
I would love to create a pull request to fix it and do need help with that.

What steps do I take?

Yoni Higgsmith

+44 (0) 7916 124855 <%2B44%280%297916%20124855>
 elphilosopher
Twitter: @16x16table

On Wed, May 2, 2018 at 11:36 AM, Petr Onderka <notifications@github.com>
wrote:

[2018-05-02 10:57] svick commented on #5121
The easiest approach is:

* Go to [the page you want to edit](https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/fsharp-interactive/).
* Click the Edit button to the upper right corner. This will take you to the source for the page on GitHub.
* Click on the pencil icon in the upper right corner of the document. This will actually take you to a page where you will be able to edit the page.
*

[2018-05-02 10:59] SuperCool83 commented on #5121
I worked it out but didn't know about linking back to this issue.
Thank you for your help

[2018-05-02 11:25] pkulikov commented on #5121
@svick what you've just done is super cool.

[2018-05-02 16:49] #5119 closed

[2018-05-02 17:49] Tanya-Solyanik commented on #5111
No, I'm not aware of this issue. I had experimented like this:
1 Added 2 settings to a settings file, saved the settings, restarted the application
2. read back the saved value
3. added a new setting value to the same setting file, rebuilt, restarted the app, the previously saved values are read back, and the new value is initialized to the value defined in the designer, as expected.
4. Added a ne

[2018-05-02 18:33] mairaw commented on #5121
You all rock! @BillWagner have you published that one pager with the quick instructions for contributing to docs?

[2018-05-02 19:52] BrianCook commented on #5111
It is easy to duplicate in VS 2017, happens every time for me.

1. Add a string setting named "Setting1" to the Windows Forms program using
the settings designer. Leave default value as blank.
2. Run your program, save a new string value to Setting1.
3. Restart program, can read Setting1 with the new value.
4. Now add another string Setting2 to the settings, also with default value
blank.
5. Run y

[2018-05-02 20:27] svick opened #5126 "Consolidate contribution guides"
In https://github.com/dotnet/docs/issues/5121#issuecomment-386079321, [the *Microsoft Docs contributor guide overview*](https://docs.microsoft.com/en-us/contribute/) was mentioned. As far as I can tell, that document can be very useful, especially to newcomers, but it's not linked from this repo at all.

The README of this repo links to [a separate .Net docs-specific *Contributing* document](https

[2018-05-02 20:44] pkulikov commented on #5126
Related issue: #4358
As contributor guide contains a quick-start on the style, the one in this repo might be removed?

[2018-05-02 20:45] Tanya-Solyanik commented on #5111
I re-run your scenario and settings under user profile were not erased on steps 4-5. Are you incrementing assembly version of every re-build? How does the path to the stored settings look like? What version of the framework are you targeting?

[2018-05-02 21:08] ygoe opened #5127 "Typo "and""
"true if **and** object was returned successfully; otherwise, false."

"and" should be "an", see also the TryTake method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 101178da-22b2-6550-0c1a-b4bf7001b427
* Version Independent ID: a6eb49f0-51cb-e31b-ba10-dbaa1942f6e4
* Content: [ConcurrentBag<T>.TryPeek(T) Method (Sys

[2018-05-02 22:12] mairaw commented on #5127
Thank you @ygoe. I've created a PR to fix this: https://github.com/dotnet/dotnet-api-docs/pull/126

Also, for small edits like this, you can make the fix directly if you'd like. Each page has an Edit button that takes you right to the content source file. That process is explained here: https://docs.microsoft.com/en-us/contribute/

[2018-05-02 23:51] Davilink opened #5129 "What is the benifit using the default keyword ?"
I tried to use this statement :
private Dictionary<Guid, MessageData> socketDatas = default;

I was expecting that "socketDatas" will contains an empty Dictionary, but instead i was null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08344c62-6194-1057-e409-35d65fcab2cd
* Version Independent ID: 53f08a66-f8b6-7953-d26

[2018-05-03 03:49] Gavin-Williams opened #5130 "When is the file reading performed?"
There is no mention here of whether this actually reads anything from disk, or if it's just a transform that is applied later on. I'm ultimately trying to construct a Texture2d, but I need to know when the waiting occurs, so that I can keep it off my engine thread. It's all a bit too convoluted and without any explanation of costs at various times.  So the pipeline to construct textures as I have

[2018-05-03 04:43] jsturtevant commented on #4954
Thanks for the clarification.

Is it fair to say that, if I have an `EventSource` and add an `EventListener` this listener only works in-process, but if I use `ETW` to listen to the `EventSource` then I can listen to those events out-of-process?

[2018-05-03 09:06] GeorgeKouk opened #5146 "Spelling mistake"
Please correct "disuccess " to "discusses", minor observation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05c2edb7-168e-ea7c-3f5a-3fdc226c68a3
* Version Independent ID: b8b5bd7f-14cd-ecd5-ecc3-a73bfcc28a99
* Content: [How to: Configure a Basic Windows Communication Foundation Client](https://docs.microsoft.com/en-u

[2018-05-03 10:51] jfranki opened #5148 "Missing data"
Definitions both for the method and its parameters are missing. Also for the return value and there are no exceptions. Would be great an example using a cancellation token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fffb1e-8373-4aca-dc0d-89b4d8507124
* Version Independent ID: 7311cb48-8da9-b0d0-9da2-0292f8ce1b58

[2018-05-03 13:14] svick commented on #5146
Do you want to make the change yourself by creating a Pull Request? (If you do and don't know how, you can follow [this guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents). If you have any questions, feel free to ask.)

[2018-05-03 13:59] GeorgeKouk commented on #5146
Oops sorry did't know I could do that. Created a pull request, thanks for letting me know.

[2018-05-03 13:59] #5146 closed

[2018-05-03 14:17] nycdotnet opened #5150 "Yes, but what does reusable mean?"
The main thing this document lacks is some examples of circumstances in which a handler could be reusable or not.  Like, for example, does having member variables prevent re-usability?  Unmanaged references?  Why would I want to make something reusable?  Assuming performance?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-05-03 15:01] BillWagner commented on #4510
Closing based on above votes and @mairaw 's comments.

[2018-05-03 15:01] #4510 closed

[2018-05-03 15:09] #5127 closed

[2018-05-03 15:14] #5093 closed

[2018-05-03 16:08] pkulikov opened #5151 "string.Format API: not accurate description of formatting sequence"
The [How arguments are formatted](https://docs.microsoft.com/en-us/dotnet/api/system.string.format?view=netcore-2.0#how-arguments-are-formatted) section of the `string.Format` API topic is not accurate in the second step:

`provider` doesn't have to implement mentioned interface (though, it's common practice that it does) and `provider.GetFormat` custom formatter is used if it's not `null`

I want

[2018-05-03 17:14] vancem commented on #4954
In a word, yes.

ETW is a machine wide logging system, and EventSource has a built-in listener that feeds EventSource events into this machine wide logging.   Typically people collect both the EventSource events and Kernel events (CPU, context switches, paging ...) to make a very detailed picture of what is going on.

Note that nothing prevents other EventListener bridges to other logging systems.

[2018-05-03 17:32] Mackiovello commented on #4801
I don't find these in this repo:
* tlasharptla-vba-md
* tlasharptla-titlewinfx-md
* tlasharptla-wpf-md

When we merge https://github.com/dotnet/docs/pull/5152, I think this repo is done.

[2018-05-03 17:46] BillWagner commented on #5129
I understand.  The advantage of `default` is that it works well with generics:

`public class MyClass<T>
{
    private T thing = default; // works when T is a struct, interface, or class
}
[code]

[2018-05-03 17:51] johnburns320 opened #5153 "TLS errors on download"
The PowerShell script is failing on machines with TLS 1.0 disabled.  I've tested adding [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12 to the GetHTTPResponse function and that seems to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa

[2018-05-03 18:27] AaronRobinsonMSFT opened #31768 "Official PE specification should also be updated"
Since the .NET compiler is adding new PE Debug Directories definitions _and_ since they are directly/indirectly tied to Microsoft, it makes sense that the official PE specification found [here](https://msdn.microsoft.com/library/windows/desktop/ms680547(v=vs.85).aspx) should be updated to include the new Debug Directories defined at https://github.com/dotnet/corefx/blob/master/src/System.Reflectio

[2018-05-03 18:59] rpetrusha commented on #5151
Thanks, @pkulikov, both for opening this issue and for your careful review of the formatting docs. I really appreciate it.
The duplication isn't by design so much as it's the result of two different doc writing threads. Composite formatting was revised much earlier (most of the revision occurred more than a decade ago), and String.Format was revised with the goal of creating an encyclopedic refere

[2018-05-03 19:08] ygoe opened #5154 "Aborted for future use"
That future has now occured on my computer. Guess it's no longer the future but the present, and this value needs documentation.

.NET Core 2.0 on Windows 10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fda05ba1-9141-932f-b98a-e5181a7f3675
* Version Independent ID: 09b7d800-8ea4-bd10-29d2-80888aac8d81
* Content: [We

[2018-05-03 19:33] ygoe commented on #5154
This seems to happen after an ongoing call to `ClientWebSocket.ReceiveAsync` was cancelled by cancelling the `CancellationToken` that was passed to it. Actually I'd just like to unblock that call but that seems to destroy the entire `WebSocket`. I can't even close it normally when it's in the `Aborted` state. Is that an implementation bug in the `ClientWebSocket` class rather than a documentation

[2018-05-03 20:41] mairaw commented on #5154
@karelz @davidsh can you guys help with this question? Is that just a typo in our docs? Thanks!

[2018-05-03 20:43] davidsh commented on #5154
If you cancel a websocket I/O (i.e. via the CancellationToken on the ReceiveAsync call), the websocket is "closed" but in an Aborted state (i.e. not close frame handshake).  It is thus in a terminal state and can no longer be used.

[2018-05-03 20:44] mairaw commented on #5153
@johnbeisner @KathleenDollard can you take a look at this feedback? Are the dotnet-install script links still the same or do we need to update them?

[2018-05-03 20:48] mairaw commented on #5150
@Rick-Anderson @scottaddie this is feedback for an ASP.NET API. Do you know someone who can help with these questions?

[2018-05-03 20:56] mairaw commented on #5148
Thanks @jfranki for your feedback. You're right. We do have a lot of APIs for .NET Core that are missing docs and we have a goal of adding the documentation for those over time. Here's the issue where we tracking this as a project: #2855.

For now, the best workaround until we get those documented is to see the source file at https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/

[2018-05-03 21:07] MohamedElsayedNassar opened #5155 "Eng"
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9df3-d63f-f6a6-aa079eb5095f
* Version Independent ID: a057574c-020f-a9f0-9dfc-f8936a1132fe
* Content: [Collections interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/list-collection#step-7)
* Content Source

[2018-05-03 21:08] mairaw commented on #5155
Thank you @MohamedElsayedNassar for your feedback!

[2018-05-03 21:08] #5155 closed

[2018-05-03 21:17] mairaw commented on #1175
I'm reopening this issue. I think there's no way for the platform to handle such a wide content. So it might be better to rewrite on a different way @cartermp to address the issue.

[2018-05-03 21:18] mairaw commented on #5120
Thanks @jcurl. @rpetrusha can you take a look at this feedback?

[2018-05-03 21:18] HamsterExAstris opened #5156 "Preference for TAP wrappers if both APM and EAP are available"
In some cases - for example, proxy classes generated by wsdl.exe - a class may have both APM-based and EAP-based methods available. If I want to consume them in a project using Tasks, I can pick either one to wrap.

Obviously, it's easier to wrap the APM-based pattern. Is there any reason to prefer one over the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-05-03 21:30] Rick-Anderson commented on #5150
@danroth27  what  makes a handler reusable?

[2018-05-03 21:46] pkulikov commented on #5151
@rpetrusha that's clear. Then I'll fix the issue in place with minor clean-ups whenever possible.

[2018-05-03 21:53] danroth27 commented on #5150
@Eilon @DamianEdwards Can you guys answer this one?

[2018-05-03 22:13] johnbeisner commented on #5153
@mairaw
the dotnet-install script links are still the same:
https://dot.net/v1/dotnet-install.sh
https://dot.net/v1/dotnet-install.ps1

[2018-05-03 22:27] mairaw commented on #5153
Thanks @johnbeisner. So does the script need to be changed to handle the TLS 1.0 disabled case as @johnburns320 suggests? Should we move this issue to the CLI repo?

[2018-05-03 22:31] johnburns320 commented on #5153
I’ve pushed the UseStrongCrypto registry keys to the machines using the
script. That seems to make the Tls12 statement unnecessary.

On Thu, May 3, 2018 at 17:27 Maira Wenzel <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-05-03 22:34] mairaw commented on #5153
Good to know @johnburns320. @johnbeisner @KathleenDollard should we add a note about this in the docs?

[2018-05-03 22:37] mairaw opened #5158 "clumsy coding in MS docs for EqualityComparer<T> Class"
Original GH issue: https://github.com/MicrosoftDocs/feedback/issues/256

From @DickBaker

# Idea Title
The coding example is unwieldy and can be improved and simplified

## Issue Details
on page
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.equalitycomparer-1?view=netframework-4.7.1
there is this ugly code
if (b1.Height == b2.Height && b1.Length == b2.Length
&& b1.Width ==

[2018-05-04 00:28] svick commented on #5129
If you want to propose modifications of the C# language, the right place is [the csharplang repo](https://github.com/dotnet/csharplang).

That being said, I think your suggestion has no chance of being accepted as is, since `public static MyClassWithAVeryVeryLongName current = default;` is already valid code, which would make your proposal a significant breaking change.

[2018-05-04 00:54] Rick-Anderson commented on #5150
@nycdotnet  [Stack Overflow](https://www.google.com/search?ei=u67rWqLwDs62jwO84KKgAQ&q=IHttpHandler.IsReusable+stackoverflow&oq=IHttpHandler.IsReusable+stackoverflow&gs_l=psy-ab.3...57606.63851.0.64146.20.20.0.0.0.0.219.2239.0j16j1.17.0....0...1c.1.64.psy-ab..3.12.1545...0i30k1j0i5i30k1j33i22i29i30k1j33i160k1j33i13i21k1.0.96Y6sTQ7x4k) seems to have good answers.

[2018-05-04 01:16] user135711 opened #5165 "Source code link dead"
The accompanying project link is dead: "A Visual Studio Web site project with source code is available to accompany this topic: Download." http://go.microsoft.com/fwlink/?LinkId=192422

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc99d598-5dee-6dba-7a00-da695fc11673
* Version Independent ID: 8d6d02fe-5f27-ac16-50b8-0

[2018-05-04 02:05] drewjcooper opened #5168 "Link to Dictionary Initializers is wrong"
Under the C# 6.0 section the link to Dictionary Initializers takes the reader to a document showing initialization of a dictionary using the old-style collection initializer syntax, rather than the new C# 6.0 index-based syntax.

It should probably point to https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-6#index-initializers

---
#### Document Details

⚠ *Do not edit this section.

[2018-05-04 02:15] drewjcooper opened #5169 "Index Initializers section is inaccurate"
In the Index initializers section, the initial text about collection initializers seems to imply that there was no way to initialize a Dictionary<,> prior to the new C# 6.0 syntax.  This is incorrect.  The following code is semantically equivalent to the index initializer example in the document.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-05-04 02:53] elialgranti opened #5171 "Typo in first code block"
There is no explanation why in the first code block Square and Circle are classes and not structs. I though this was a typo until later, when I realized this was to make the C#<7 example work. A bit confusing given the text before the example that states we'll use structs not classes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-05-04 03:26] mj1856 opened #5172 "Note about DateTime.ToUniversalTime is incorrect"
The note box on this page states that `TimeZone.ToUniversalTime` and `DateTime.ToUniversalTime` only use the current adjustment rule.  This is correct for `TimeZone`, but not for `DateTime`.

For `DateTime`, that *used* to be the case, but only on Windows XP systems.  Windows Vista and newer, as well as all .NET Core implementations, behave correctly.   The note should be updated to correct.

---

[2018-05-04 03:52] mairaw commented on #5172
Thanks for your feedback @mj1856! Would you like to provide the suggested revision? If so, you can find more information at the [docs contributor guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents).

[2018-05-04 04:30] l3a0 opened #5173 "The netsh http add sslcert seems to be wrong?"
A lot of folks seem to have problems w/ this command. See: https://stackoverflow.com/questions/779228/the-parameter-is-incorrect-error-using-netsh-http-add-sslcert

This worked for me:

netsh http add sslcert ipport=0.0.0.0:8085 appid="{7BBE87B9-D98F-41D7-B726-FC5E1300ED28}" certhash=4da5af739d6745de4e38fea9574cdaa79032ea14

This failed with message "The parameter is incorrect.":

netsh http add s

[2018-05-04 05:12] fredyadriano90 opened #5174 "Get exceptions"
I  had that put an extra if to check for AggregateException  type and later another if to check for ArgumentException type
public static void HandleExceptions()
		{
			byte[] bytes = new byte[5000];
			Random random = new Random();
			random.NextBytes(bytes);
			try
			{
				ProcessBytesInParallel(bytes);
			}
			catch (AggregateException ae)
			{
				// This is where you can choose which exceptio

[2018-05-04 06:19] pkulikov commented on #5174
@fredyadriano90 thank you for spotting the issue.

A better fix might be to use the [Flatten() method](https://docs.microsoft.com/en-us/dotnet/api/system.aggregateexception.flatten?view=netframework-4.7.1#System_AggregateException_Flatten) to bring all inner exceptions at the same level.

In general, the example still should be improved more. Consider this snippet from the code:
[code]

What if th

[2018-05-04 09:05] ishepherd opened #5177 "Propagate completion?"
[code]

Shouldn't we prefer to do:
[code]
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e2c4aa6-899b-7cf1-c2c1-cb362ee1243a
* Version Independent ID: d6a8cfcf-ccaa-320c-d039-e514e42c2a07
* Content: [How to: Cancel a Dataflow Block](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/how-to-cancel-

[2018-05-04 12:48] fredyadriano90 commented on #5174
[pkulikov  ](https://github.com/pkulikov) thank you for the answer, the [Flatten() method](https://docs.microsoft.com/en-us/dotnet/api/system.aggregateexception.flatten?view=netframework-4.7.1#System_AggregateException_Flatten) work perfect to detect all the ArgumentException. I get the main idea.

[2018-05-04 12:48] #5174 closed

[2018-05-04 13:05] szalapski opened #5178 "Broken link: "INFO: Frequently Asked Questions About ODBC Connection Pooling. ""
Can you fix the URL for "INFO: Frequently Asked Questions About ODBC Connection Pooling."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4636a7-c97a-23fc-bb00-84e4969b1c3d
* Version Independent ID: e31b67c2-7d30-9c35-d82a-0eaaba6c3b28
* Content: [OLE DB, ODBC, and Oracle Connection Pooling](https://docs.microsoft.co

[2018-05-04 14:10] yclkvnc opened #5179 "Outdated note?"
Isn't this note outdated?
"You must close the NetworkStream when you are through sending and receiving data. Closing TcpClient does not release the NetworkStream."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe7d0846-14ff-cce4-2ce5-4df4ba9b5ee5
* Version Independent ID: c1cc7165-fee6-6af3-087b-36a337774399
* Content

[2018-05-04 14:38] Davilink commented on #5129
I will not use the same keyword ;),
but maybe more something like :

MyClassWithAVeryVeryLongName current = new;
or
MyClassWithAVeryVeryLongName current = new();

[2018-05-04 14:39] svick commented on #5179
Could you clarify? What makes you think the note is outdated?

[2018-05-04 14:41] svick commented on #5129
This has already been proposed at https://github.com/dotnet/csharplang/issues/100.

[2018-05-04 14:45] yclkvnc commented on #5179
It looks like TCPClient.Close method disposes the NetworkStream :
https://referencesource.microsoft.com/#System/net/System/Net/Sockets/TCPClient.cs,d7b14dbe8a2a1aca

Also TcpClient.Close document states that "Calling this method will eventually result in the close of the associated Socket and will also close the associated NetworkStream that is used to send and receive data if one was created."

[2018-05-04 14:56] DickBaker commented on #5158
@mairaw please apply similar polish to BoxSameVolume.Equals !

[2018-05-04 15:28] zubetto opened #5181 "Is Delegate.EndInvoke really necessary?"
In the chapter "_Handling a Blocking Operation with a Background Thread_" the method `FetchWeatherFromServer` is invoked in separate thread by means of `Delegate.BeginInvoke` method, but there is no `Delegate.EndInvoke` method in the presented code example. Is `Delegate.EndInvoke` really necessary (as stated in "_Calling Synchronous Methods Asynchronously_" https://docs.microsoft.com/en-us/dotnet/

[2018-05-04 16:47] douglaslMS commented on #5178
@szalapski Unfortunately it seems that the target Knowledge Base article is no longer available. I have removed the sentence that contains the broken link. (The updated page will not be published immediately.) Thank you for bringing this to our attention.

[2018-05-04 17:30] jeubank12 opened #5184 "add reference to quick reference chart"
You need a link to this: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/classification-of-standard-query-operators-by-manner-of-execution
This page is nigh unreadable if you are just trying to find out if your linq method of choice is deferred

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-04 17:30] jeubank12 opened #5185 "Not very find-able"
I would hope this would show up in searches like 'linq deferred execution' or 'EF deferred execution' but it took a horrible sentence search instead of a keyword search to get this to show up in my results: 'list of linq methods and if they are deferred'  This is a great reference and should be linked to from https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/language-reference/query

[2018-05-04 17:44] douglaslMS commented on #5184
@jeubank12 Thank you for the suggestion. I am adding the suggested link to the page.

[2018-05-04 18:35] nycdotnet commented on #5150
Agreed - the answer from Branislav sounds pretty good.  If it's right, would be wonderful to get the constraints in the docs.  Thank you!

[2018-05-04 19:25] #5178 closed

[2018-05-04 19:27] #5184 closed

[2018-05-04 19:42] RoswellMiller opened #5187 "Engineer"
fixed appears as a keyword and a reserved word

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a3c6e0-5476-3c90-813c-7be486208772
* Version Independent ID: 6876ff7c-da41-c25a-a70e-59b1dfde4730
* Content: [Keyword Reference (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/keyword-reference)
* Con

[2018-05-04 20:19] danmosemsft opened #5189 "DriveInfo constructor accepts full path not just drive letter"
This does not need to be a drive letter. It also accepts a path to a file/folder. Verified on .NET Core 2.1 and .NET Framework 4.7.x.

Note that on Linux the file/folder must exist: https://github.com/dotnet/corefx/issues/29524

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda8d6b1-bcf1-0421-d4ee-67c5ddfe4610
* Versio

[2018-05-05 01:20] rpetrusha opened #5192 "IEqualityComparer<T>.Default example needs improvement"
The IEqualityComparer<T>.Equals implementation needs to handle nulls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5c9615-f57c-9382-3a98-034e1d60b6f3
* Version Independent ID: 8dc49322-4333-5f78-2843-f8a9df52ad5f
* Content: [EqualityComparer<T>.Default Property (System.Collections.Generic)](https://docs.microsoft.c

[2018-05-05 04:41] rinsojer opened #5195 "Combobox ResetText Method"
The information is concise.  Perhaps provide more detail on (default value) case where control is Bound and Unbound

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a3d0582-1632-75ab-f32a-728c15430fa7
* Version Independent ID: 9ed780d3-9f6e-4bd3-32ab-c67323af7a29
* Content: [ComboBox.ResetText Method (System.Windows.For

[2018-05-05 07:33] saineshwar opened #5196 "documentation is really good"
documentation is really good

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4343ac18-37c1-9a3e-0210-b69bf924db91
* Version Independent ID: 19d63151-4d8a-30c6-35de-0c8c277cde25
* Content: [Classes (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/classes)
* Cont

[2018-05-05 09:04] he-dev opened #5197 "Why */& 255/256?"
Could you explain what these calculations are for?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b86675e7-4bfb-707d-fe36-c02da2023342
* Version Independent ID: ee821843-1cad-0455-f278-1194b88dd0b0
* Content: [How to: Use Named Pipes for Network Interprocess Communication](https://docs.microsoft.com/en-us/dotne

[2018-05-05 09:05] pkulikov commented on #5185
Related: #5184 was fixed by #5186

[2018-05-05 10:25] svick commented on #5197
They are used to decode and encode a 16-bit integer into two bytes.

[2018-05-05 10:49] svick opened #5198 "Plans for CI for samples?"
I think that one of the significant advantages of having samples as proper .Net Core SDK projects is that CI can ensure that a PR doesn't break them. But, as far as I can tell, there is currently no CI set up for [the dotnet/samples repo](https://github.com/dotnet/samples).

Do you have plans to improve that?

(If this issue is better suited MicrosoftDocs/feedback, I can move it there.)

[2018-05-05 11:03] svick commented on #5198
The samples README has some mentions of the CI system:

Though I believe that "shortly" has been there for a long time (since before the dotnet/samples migration).

[2018-05-05 11:41] pkulikov commented on #5198
@svick that looks that it's WIP: dotnet/samples#36

[2018-05-05 11:46] Mackiovello opened #5199 "Remove mentions of old Windows versions (XP, 95, 98, 2000, NT, Millenium, etc.)"
In https://github.com/dotnet/docs/issues/4801, @rpetrusha requested a review of if mentions of Windows XP are still applicable. I don't think that's within the scope of that issue, so I'm opening this instead.

If the mentions of Windows XP are applicable, they should stay, otherwise the text should be revised to use a more modern example.

[2018-05-05 12:00] svick commented on #5198
@pkulikov Nice!

[2018-05-05 12:15] svick commented on #5177
@ishepherd I agree, so I have created a Pull Request that makes this change: https://github.com/dotnet/samples/pull/48.

[2018-05-05 12:40] Mackiovello commented on #4801
I can't find these:
* atlaslib-currrent-ext-md.md (token text: Microsoft Ajax Library)
* tla2sharptla-ms-md.md (token text: Microsoft)
* tlasharptla-ado-md.md (token text: Microsoft ActiveX Data Objects (ADO))
* tlasharptla-vstecmsbuild-md.md (token text: MSBuild)
* tlasharptla-vwprvw-md.md (token text: Visual Web Developer)
* tlasharptla-winxppro-md.md (token text: Windows XP Professional)

I've

[2018-05-05 12:43] ChrisMaddock commented on #5198
I've thought before that using the dotnet CLI it would be pretty easy to add csproj's to everywhere they would work straight off. That would then help tracking down broken/'against-convention' samples.

Would be a fun little script. 😄

[2018-05-05 12:44] ChrisMaddock commented on #5198
Aand, further down the line, it could help with automatically turning on runnable samples!

[2018-05-05 12:49] MuhammadJameelNazir opened #5201 "testing"
Testing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bb20bc6-ec90-c5d1-8f40-5725f214122c
* Version Independent ID: 1160cca8-659f-c6d8-fb60-f65187a5a472
* Content: [Detecting Changes with SqlDependency](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/detecting-changes-with-sqldependency)
* Content S

[2018-05-05 13:49] narekb opened #5202 "Another instance of the specialized Stack<T> class is created?"
In the second to last paragraph: "As with the previous use of the Stack<T> class created by using the Order type, another instance of the specialized Stack<T> class is created". Because Customer is a reference-type, another specialized instance should *not* be created, and the previous one should be reused.

Perhaps the word "not" was skipped within the phrase "another instance of the specialized

[2018-05-05 14:00] svick commented on #5202
The explanation is confusing, but I think it's correct. The instance it's talking about is the object returned by `new Stack<Customer>()`, not another specialized version of `Stack<T>`.

Though I question whether the whole article is necessary. Sharing "specialized versions" of a type for reference types is an important optimization, but it's still an implementation detail. I think it might deserv

[2018-05-05 14:36] #5201 closed

[2018-05-05 18:25] #5158 closed

[2018-05-05 19:06] kiapanahi opened #5203 "Legacy code while .NET Core 2.0 is selected as the target framework"
The code representing the class implemented interfaces still includes `IDisposable`; although according to `system.servicemodel.primitives 4.4.2` package this class only implements `ICommunicationObject`.
Is this a problem with the documentation or the implementation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a38

[2018-05-06 02:50] Xenoprimate opened #5206 "Clarification?"
The following line has been in this documentation for a long time:

"This ensures that the most up-to-date value is present in the field at all times. "

But I believe this is misleading at best, and possibly just wrong; depending on exactly what `volatile` actually does:

* If all `volatile` does is annotate reads/writes with lfences and sfences, then there is no technical guarantee on 'freshness

[2018-05-06 04:01] InteXX opened #5207 "Sample is incomplete"
Include a VB.NET sample, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c745e854-3edd-3ae2-148c-2b93d287853d
* Version Independent ID: f5f63468-abd5-f8ad-8a06-07c0c6d986bc
* Content: [Duplex Services](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/duplex-services)
* Content Source: [docs/

[2018-05-06 14:25] svick opened #5208 "Incorrect signatures for span indexers"
The signatures for indexers of `Span<T>` and `ReadOnlySpan<T>` don't show correctly in API reference.

[For `Span<T>`, it shows as:](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.item?view=netcore-2.0)

[code]

When it should be:

[code]

[For `ReadOnlySpan<T>`, it shows as:](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1.item?view=netcore-2.0)

[code]

When it shoul

[2018-05-06 14:49] pkulikov commented on #5208
The same remark is valid for the [`Span<T>.Enumerator.Current`](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.enumerator.current?view=netcore-2.1) property that [should be](https://github.com/dotnet/coreclr/blob/a8c1c328068518444775e7bb9211f07523c2f21b/src/mscorlib/shared/System/Span.cs#L135):
[code]

[2018-05-06 14:55] pkulikov opened #5209 "Span<T>.GetEnumerator: not correct display of the return value"
The ['Span<T>.GetEnumerator'](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.getenumerator?view=netcore-2.1) page has not correct **Returns** section:
![image](https://user-images.githubusercontent.com/15279990/39674542-c98a6676-514d-11e8-8220-6ee2bf5a9f88.png)

The corresponding xml block:
[code]
Should it be dot instead of a plus?

[2018-05-06 15:07] svick commented on #5209
[Reflection](https://sharplab.io/#v2:C4LgTgrgdgPgAgBgARwIwG4CwAoOAmFVAdhwG8clLCA2FAFkIA4AKASiQF4A+QgTmeABPAA4BTAPYAzZgGVhAQygAeLgDoAolAgBbUWHnBxYVqyzYAvkA===) and IL use `+` for nested classes. Though I have no idea what rules should `<ReturnValue>` follow (it already doesn't follow IL by not using ``Span`1``).

[2018-05-06 15:13] samonzeweb opened #5210 "Ping behaviour on linux not documented (raw socket vs command)"
# Ping behaviour on linux not documented (raw socket vs command)

Using `System.Net.NetworkInformation.Ping` class on linux can either use raw sockets, or `ping` command line utility as fallback when the current user does not have enough privileges.

The code is here : https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L154

The document

[2018-05-06 18:42] mairaw commented on #5209
@TianqiZhang @joelmartinez @dend @adkinn can you look at this issue? Not sure in which part of the process we're losing the nested class.

[2018-05-06 18:46] mairaw commented on #5209
Filed internal bug to track this work: #1253978

[2018-05-06 18:54] mairaw commented on #5208
Thanks for filing this tracking issue @svick and the corresponding issue for mdoc. The other interesting thing is that Property value is empty, when it usually shows the property type. @TianqiZhang can you take a look?

[2018-05-06 18:57] mairaw commented on #5198
Yes, @dend is looking into enabling the samples CI again. But we're all a bit overwhelmed with //Build starting this week. So, I'll restart the conversation again with him after the conference. The CI was only testing the samples folder before. We need to make sure we can test all projects as well.

[2018-05-06 19:13] mairaw commented on #5199
I agree that replacing the tokens and reviewing the text are two separate tasks. Thanks for filing this issue for us to track. There are probably other old versions mentioned in there like Windows NT or 2000 even.

[2018-05-06 19:15] mairaw commented on #5196
Thank you @saineshwar. We appreciate your comments!

[2018-05-06 19:15] #5196 closed

[2018-05-07 06:53] mrady9280 opened #5216 "Binding Section"
How can I configure the binding ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3ebb
* Content: [Microsoft WCF Web Service Reference Provider Tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-servic

[2018-05-07 07:03] OzBob opened #5217 "Does DotNetStandard 2.0 support 4.6.1 or something later?"
DotNetStandard doco in March 2017 ~~CROSSEDOUT~~ .NET Standard table from 1.5 supporting 4.6.2 to 4.6.1
https://github.com/dotnet/standard/commit/4788c7d4d348d96a942ddd3a50b7aeef33136e2e#diff-a0efca2faa45606b03f5b824d6213122

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version I

[2018-05-07 07:14] mairaw commented on #5217
Yes @OzBob, that's what the 1.x vs 2.0 SDK tries to show. But it has been in my to-do list to remove the 1.x line and just leave the latest information there, so I'll update this doc.

[2018-05-07 09:37] mefasoft opened #5218 "field sorting"
It will be better if field section can be sorted by enum value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6a722a9-489f-5cbb-03b6-b8586553d161
* Version Independent ID: 30787ec3-1200-4b25-eb84-398eb01edd9b
* Content: [TypeCode Enum (System)](https://docs.microsoft.com/en-us/dotnet/api/system.typecode?view=netframe

[2018-05-07 16:36] mredmond64 opened #5221 "New Samples?"
Most of these samples (e.g. Strings, Buffers) point to pages that are no longer being maintained, and I assume they do not apply to .NET Core. Can we get some update samples that work across platforms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de86b6e-fcc7-3d20-4a71-6df93c261769
* Version Independent ID: 9855800a

[2018-05-07 21:00] #5171 closed

[2018-05-07 21:09] #5177 closed

[2018-05-08 02:14] glenn-slayden opened #5224 "Using [SuppressUnmanagedCodeSecurity] on a class doesn't apply to the delegates it declares"
Applying this attribute to a class is effective for all of the P/Invoke ***methods*** it declares, but apparently does not apply to any of its ***delegate*** definitions. For each delegate that is used access native/unmanaged code, it appears that you have to explicitly apply this attribute directly, even if defined in a class marked with [SuppressUnmanagedCodeSecurity].

---
#### Document Details

[2018-05-08 06:09] mairaw commented on #5221
Thanks @mredmond64 for your feedback. I think this issue is related to two issues we have already opened in our repo:
- #4649
- #2028

I'll be closing this one but feel free to comment on the other issues above. Given the amount of content we have, we do prioritize this sort of revision based on a number of things such as page views, customer requests, etc.

[2018-05-08 06:09] #5221 closed

[2018-05-08 07:54] mairaw commented on #5203
Thanks for reporting this issue @kiapanahi.

It seems to be the same issue as the one we're tracking at https://github.com/MicrosoftDocs/feedback/issues/222 where the wrong interfaces are being displayed.

So I'm closing this one.

[2018-05-08 07:54] #5203 closed

[2018-05-08 10:10] zerkms opened #5227 "Non-threadsafe code in the example"
https://msdn.microsoft.com/en-us/library/bb337971%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396

In the `Interlocked.Exchange<T> Method (T, T)` article, which is intended to be a tool for lock-free programming the sample is non-threadsafe.

Access to `firstWidget` is not synchronised, so the application is not guaranteed to work the way it need to be.

I think a non-thread safe program is not the

[2018-05-08 12:16] anil411 opened #5229 "please make the documentation consistent"
" If you set the enabled attribute of the <gcConcurrent> element to false, the runtime uses non-concurrent garbage collection, which is optimized for throughput. The following configuration file disables background garbage collection."
Both the lines are contradictory. please fix it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-05-08 12:33] saulwiggin opened #5230 "your work is done here"
brilliant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36032d47-681c-e39e-331a-14f178d7e583
* Version Independent ID: 46c574db-a657-f2a9-9d0f-dfb9a83a124f
* Content: [Creating and Throwing Exceptions (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creating-and-throw

[2018-05-08 12:42] RoswellMiller opened #5231 "Verbosity"
what's the verbose syntax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 379f00ab-ebc1-50eb-6779-3a22ec41a80d
* Version Independent ID: 6f88dfb3-c9f9-3715-5121-83a1f22223b8
* Content: [Modules (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/modules)
* Content Source: [docs/fsharp/language-refer

[2018-05-08 12:43] RoswellMiller opened #5232 "Verbosity"
What's the verbose syntax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121d0d1b-bb16-7b85-2529-297856a6e8ca
* Version Independent ID: 1795dd9d-a94b-3f47-a6d6-686fa9234a8c
* Content: [Namespaces (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/namespaces)
* Content Source: [docs/fsharp/language

[2018-05-08 13:07] nhlatour opened #5233 "Bug in the exemple"
In the class UrlsSection, the setter of the property Urls doesn't do anything. It just sets a local variable that isn't used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af769c6-58cd-8880-be15-953af4a2bd6a
* Version Independent ID: 28af6706-0b4b-acba-329f-d2cc8d4676f6
* Content: [ConfigurationElementCollection Clas

[2018-05-08 13:52] bakhtiar1 opened #5234 "this is an issue"
here is a problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea654e23-2ec5-637e-99c3-8870b895030c
* Version Independent ID: 9c054590-c5e3-199c-b852-e1a856b4aae7
* Content: [Install the .NET Framework 3.5 on Windows 10, Windows 8.1, and Windows 8](https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-w

[2018-05-08 13:54] ChrisMaddock opened #5236 "Broken links on PropertyInfo.GetValue Method"
Some links on this page are in markdown - which is not rendering correctly. I assume they should be `<see>` links instead.

Reporting this instead of fixing as I'm not set up to do that right now - sorry!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd911afa-c74f-48a8-2b02-365ffe4c8fc7
* Version Independent ID: e67c9

[2018-05-08 13:56] #3962 closed

[2018-05-08 13:59] BillWagner commented on #3966
Changing the title, as this did not make the 7.3 release.

[2018-05-08 14:00] BillWagner commented on #3967
Changed the title as this did not make the 7.3 release

[2018-05-08 14:01] BillWagner commented on #3958
Changing the title as this did not make the 7.3 release

[2018-05-08 14:12] #5151 closed

[2018-05-08 14:18] TheBeachMaster opened #5237 "Next steps button"
At the end of this doc: there is (was) a button (aptly?) labelled *Next steps button*. Kindly rectify this.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Use ML.NET in a sentiment analysis classification sce

[2018-05-08 15:45] BillWagner commented on #5234
also looks like an experiment. closing

[2018-05-08 15:46] #5234 closed

[2018-05-08 15:50] BillWagner commented on #5230
Thanks for the feedback @saulwiggin We appreciate it.

Closing this issue.

[2018-05-08 15:50] #5230 closed

[2018-05-08 16:04] pkulikov commented on #5237
@TheBeachMaster thank you for reporting the issue!

[2018-05-08 16:07] TheBeachMaster commented on #5237
@pkulikov  Awesome, close on merge #5238

[2018-05-08 16:17] rpetrusha commented on #5229
I'm afraid that I don't see what is contradictory here, @anil411; can you elaborate? @Maoni0, do you see what I'm missing? The topic is found on docs at [\<gcConcurrent> Element](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcconcurrent-element).

[2018-05-08 16:30] cartermp commented on #5232
@RoswellMiller verbose syntax isn't mentioned in this article. [Verbose syntax](https://docs.microsoft.com/dotnet/fsharp/language-reference/verbose-syntax) is documented today. I'll close this out unless there is a specific issue in this article.

[2018-05-08 16:30] #5232 closed

[2018-05-08 16:43] rpetrusha commented on #5236
Thanks, @ChrisMaddock, for pointing out the broken links. There's no need to apologize for not fixing them yourself. I'll open a PR to do it shortly.

[2018-05-08 17:06] #5237 closed

[2018-05-08 17:32] Maoni0 commented on #5229
@rpetrusha I don't see anything contradictory at all.

[2018-05-08 18:18] rpetrusha commented on #5207
@InteXX, VB code is present for all but a 3-line code block in the document. Did you notice the language selector on the right side of the page:
![image](https://user-images.githubusercontent.com/10886961/39772914-52f9ca7e-52ab-11e8-92c7-a274e35669aa.png).

That said, we'll add the missing VB code that corresponds to the three-line C# code block.

[2018-05-08 19:39] InteXX commented on #5207
@rpetrusha

Pardon me, you're correct.

I missed the new dropdown; I was looking for the old tabbed interface.

[2018-05-08 19:39] #5207 closed

[2018-05-08 21:27] rpetrusha commented on #5229
I'm going to close this issue, @anil411. However, feel free to respond if you disagree.

[2018-05-09 06:18] mikebelluk opened #5248 "Two Mistakes in the Documentation"
Hi,

I spotted a couple of issues with the documentation..

1. You need to return the model in the Train method, e.g.

PredictionModel<TaxiTrip, TaxiTripFarePrediction> model = pipeline.Train<TaxiTrip, TaxiTripFarePrediction>();
await model.WriteAsync(ModelPath);

return model;

2. When running the example, I get the error "Source column 'fare_amount' not found". This can be fixed by changing Taxi

[2018-05-09 10:33] zerkms commented on #5227
I think it would be better to make up a complete new example.

[2018-05-09 11:28] mikedn commented on #5227
One example would be a single object pool
[code]
or any variation around the idea of acquiring a unique resource. Examples that attempt to swap 2 resources are probably harder to come by and more likely to be erroneous like the MSDN example shows.

[2018-05-09 11:28] BillWagner commented on #5248
Thanks for spotting this @mikebelluk

This is fixed in #5245  You can see the code changes in dotnet/samples#57 Those changes should be published today or tomorrow.

I'm going to close this. But, if you don't think that fixes the problem, reopen this.

[2018-05-09 11:28] #5248 closed

[2018-05-09 11:37] biltongza opened #5249 "ServiceAuthorizationManager docs didn't get pulled through cleanly"
https://github.com/dotnet/docs/blob/master/docs/framework/wcf/extending/how-to-create-a-custom-authorization-manager-for-a-service.md

Looks like there's a bunch of human-unfriendly stuff that I assume is parsed by something to make other pretty docs. Would be appreciated if this became more human readable :)

[2018-05-09 12:49] laultman opened #5250 "Need a list of Available SDK Versions"
While the content is correct it is pretty much useless since it is so old. What is needed is a maintained list of SDK versions so that we can select the correct one. If it is not found on our machine it is ignored without any notice to the developer. If we get it wrong by even one character it is ignored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-05-09 13:45] sateeshmachineni opened #5252 "How to know static members of the class"
Earlier documentation used to say  whether a method is static or not,but these seems to be no longer the case.Any idea why ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b18f2264-6230-68d2-98d2-4c3c7210c4a7
* Version Independent ID: 94faff8f-a332-cbfd-ddc4-7d2214ef7f01
* Content: [DriveInfo Class (System.IO)](https:/

[2018-05-09 14:01] BillWagner opened #5253 ":construction: Move inline F# samples to buildable projects"
Noticed while reviewing #5239 and #5240

The F# samples are often inline code rather than includes from buildable samples.

Where possible, we should move them to the [dotnet/samples](https://github.com/dotnet/samples) repository and use the include extension for the code.

The benefits would be that the samples would be built by our (still being deployed) CI system on each new PR.

I'll suggest m

[2018-05-09 17:04] svick opened #5255 "Document Roslyn Scripting"
I think that Roslyn Scripting can be a very useful feature, but AFAICT it currently doesn't have any documentation on docs.MS.

What I think is needed:

* conceptual document(s) describing what Scripting is
* API reference for `Microsoft.CodeAnalysis.CSharp.Scripting`
* tutorial(s)

Currently, the best documentation I could find is [on the Roslyn wiki](https://github.com/dotnet/roslyn/wiki/Scripti

[2018-05-09 17:39] helloguo opened #5256 "Are the Warnings expected?"
Thanks for putting this great tutorial. I get some warnings when the pipeline processes. As mentioned in this tutorial "As the pipeline processes, it displays messages. You may see warnings, or processing messages". So are these Warnings expected?

The Warnings on my machine look like this:
Warning: Format error at (20,1)-(20,98): Illegal quoting
Warning: Format error at (197,1)-(197,21): Illegal

[2018-05-09 17:48] spprtmechanic opened #5257 "Problem with Tags"
In the Syntax section, the first service tag is missing the closing >

In the Syntax section it should be:

<service behaviorConfiguration=String"
        name="String" >
</service>

Or

<service behaviorConfiguration=String"
        name="String"  />

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e1f8fc4-0967-3707-75

[2018-05-09 17:49] NetMage opened #5258 "How to set IsByRef"
It would be nice if how to set this is provided as the factory method doesn't seem to have an option to set this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3385de03-ce5c-e0dc-d414-5531fd11d48d
* Version Independent ID: 9b321768-471c-c0be-2b5d-ef9d882d0901
* Content: [ParameterExpression.IsByRef Property (System.Li

[2018-05-09 17:55] spprtmechanic opened #5259 "Incorrect Syntax Xml"
The syntax for using Host xml is incorrect. The baseAddresses tag does not match what is used when you click on the baseAddress section.

Current on this page:
[code]

As shown on the baseAddress tag syntax:

[code]

@billwagner edit code format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589d3cd9-109a-71e3-48a2-445

[2018-05-09 18:16] svick opened #5260 "IDataView missing from ML.NET API reference"
I learned about the existence of the `Microsoft.ML.Runtime.Data.IDataView` interface (from the Microsoft.ML.Core assembly) and so I wanted to look at it in API reference, but [I didn't find it](https://docs.microsoft.com/en-us/dotnet/api/?term=%20IDataView).

I did find [the `IDataViewArrayConverter` type](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.data.idataviewarrayconverter?view=m

[2018-05-09 18:19] RoswellMiller opened #5261 "accessibillity-modifiers"
interface-declaration has no accessibility-modifiers and remarks do not indicate a default

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b72f12d-fd7a-b7cd-b08c-5ece2ff7c131
* Version Independent ID: e5c4e836-1765-9bdd-656c-c0aa019ab604
* Content: [Interfaces (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/langua

[2018-05-09 18:21] RoswellMiller opened #5262 "accessibility-modifiers"
Declaration syntax has no accessibility-modifiers and I don't see a default in the remarks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6020749e-d91e-8a1b-5366-25b212baa31d
* Version Independent ID: 0f28f508-dc0f-c272-383e-ec768759fe16
* Content: [Discriminated Unions (F#)](https://docs.microsoft.com/en-us/dotnet/fsh

[2018-05-09 18:23] RoswellMiller opened #5263 "accessibility-modifiers"
Do not see syntax for accessibility-modifiers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105f9300-8b09-128a-12dd-ef80add1ef27
* Version Independent ID: ba56baa3-7913-42ed-a88f-f278e89acb4d
* Content: [Type Abbreviations (F#)](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/type-abbreviations)
* Co

[2018-05-09 19:43] zeahmed opened #5265 "New York taxi fare prediction demo has wrong title for the link on the left panel."
The link title appears as "Taxi Time Predictor". It should be "Taxi Fare Prediction"

![image](https://user-images.githubusercontent.com/38438266/39835912-91d2fb9a-5386-11e8-9e85-04d56fd73b52.png)

[2018-05-09 19:57] svick commented on #5258
You're right that it's not clear how that works.

I think that adding an example like the following with a short explanation might be sufficient:

[code]

[2018-05-09 20:11] TheAndy500 opened #5266 "Trying to modify this code for multiple signatures"
I've borrowed/modified this code to work with my use case and I find it works as long as I don't change nodeList[0] to nodeList[1] in an XML document that contains multiple signatures.  Now one signature is a child of the root node while the other is a child of a child.  However, even if I swap that entire child-of-child's parent node to the beginning of the XML, it *still* verifies the first sign

[2018-05-09 20:16] pkulikov commented on #5265
@zeahmed that's fixed by PR #5238
Expected to go live today or tomorrow

[2018-05-09 21:18] chivandikwa opened #5267 ".net standard and .net core"
It would be great in this article to point out to readers here why the choice of a .net standard class library and not a .net core class library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 852fcf8d-7873-c8cf-fd18-2b4b188003ef
* Version Independent ID: e3cec24b-80bf-fdfa-6f36-cf65d939f89d
* Content: [Building a comp

[2018-05-09 21:30] leecow opened #5268 "Some -f | --framework examples are invalid"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore2x

For example, `dotnet new mvc -au None -f netcoreapp2.0` and `dotnet new xunit --framework netcoreapp2.0` both error with

[code]

[2018-05-09 21:51] MightyPen opened #5269 "System.IO.Directory.GetFiles method, path Relative or Absolute when-which returned?"
The article for 'System.IO.Directory.GetFiles' method says the returned filenames might or might not includes the full Absolute path, or just the Relative path: But the article neglects to explain when the returned path portion will be Absolute vs Relative.
The article should explain when-which path type is returned.

Thank you.
(GitHub MightyPen = GeneMi at Msft)

---
#### Document Details

⚠ *Do

[2018-05-10 01:16] AntRemo opened #5272 "Missing Documentation"
Hi

I was wondering if this page is missing the API Reference documentation.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e881c120-c87c-b6a3-7082-7a194d55bf5a
* Version Independent ID: e9ff4cfe-f79d-0b9f-6875-0f7eab7770c5
* Content: [JSON Web Token Handler API Reference](https://docs.microsoft.com/en-us/dotne

[2018-05-10 02:06] mairaw commented on #5272
Thanks for reporting this issue @AntRemo. I’ve been trying to get an answer from the product team on what we need to regarding this page.

[2018-05-10 03:06] #5257 closed

[2018-05-10 08:45] hrumhurum opened #5274 "Only supported by recent C# language versions"
It is worth noting what specific C# versions 'private protected' is supported by.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee5e6972-0f7a-8bb7-9f5a-0ba75909f9d8
* Version Independent ID: 618c0361-38a0-4d6f-f46a-881db2e4b399
* Content: [private protected (C# Reference)](https://docs.microsoft.com/en-us/dotnet/cshar

[2018-05-10 10:37] progalgo opened #5275 "Using HTML list tags"
The algorithm in "Remarks" section should probably be ordered list instead of unordered list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5527c307-6079-70ab-211e-fa3360edf0b5
* Version Independent ID: cee9ff7e-3532-5aee-537f-fe4b85a6b529
* Content: [DataContext.CreateDatabase Method (System.Data.Linq)](https://docs.m

[2018-05-10 11:06] pkulikov commented on #3285
@mairaw @BillWagner do you think this issue can be closed as an [updated tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/string-interpolation) answers common *How to...* questions?

[2018-05-10 13:58] ygoe commented on #5108
I haven't set up any load testing yet. Still in the process of getting the basics complete. I just tried not to waste too many resources from the start. Some may see this as premature optimisation. It depends.

[2018-05-10 14:17] BillWagner commented on #5181
We should probably add a doc that compares the different asynchronous programming models that .NET has adopted over the years.

[2018-05-10 14:26] BillWagner commented on #5252
ping @dend It looks like we regressed here. Should I move this to the MicrosoftDocs/Feedback repo.

[2018-05-10 14:29] BillWagner commented on #5256
@helloguo Yes, those warnings and errors are expected. They show how the input classes process input that might be invalid. The docs mention that.

/cc @JRAlexander

I'm going to close this because it is working correctly.

[2018-05-10 14:29] #5256 closed

[2018-05-10 14:32] BillWagner commented on #5260
cc /@aditidugar @OliaG

Any idea why the `IDataView` XML info is not part of the current NuGet package?

[2018-05-10 14:39] sblom opened #5276 "In-/out-faro reversed"
Your descriptions of in- and out-faros are reversed. https://en.wikipedia.org/wiki/Faro_shuffle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2b7453-076c-a18e-f999-cbd57ab13e60
* Version Independent ID: b687ed5b-5013-cceb-01e5-77f9cc7bb534
* Content: [Working with LINQ](https://docs.microsoft.com/en-us/dotnet/csharp

[2018-05-10 14:45] mairaw commented on #5260
@codemzs @danmosemsft can you comment on this one? Should we review the list of types?

Just a few types under Microsoft.ML.Runtime.* were chosen to be shown on the API reference docs. The others are being filtered out at https://github.com/dotnet/ml-api-docs/blob/live/dotnet/xml/_filter.xml

[2018-05-10 15:04] brandonwittwer opened #5278 "Terminology clarity - "Business microservice""
The term "Business microservice" opens a door for the creation of mini-monoliths.  The multiple services and databases that could then live in this appropriately-cohesive set of services are no longer eligible to be independently deployed nor scaled.  Therefore it is no longer possible to achieve the important part: "The important point is that a business microservice or Bounded Context must be au

[2018-05-10 15:45] BillWagner commented on #3963
I reviewed all the existing docs, and we don't say that the new locations are disallowed for declaring `out` variables where they are used.  The only updates will be in the "What's new" topic.

[2018-05-10 15:45] #3963 closed

[2018-05-10 16:04] Tarig0 commented on #5216
Do you mean the url or like the http, tcp, https binding types

[2018-05-10 16:11] #5236 closed

[2018-05-10 17:43] svick commented on #5192
I started fixing and modernizing this example, but then I realized the example is pointless: instead of `BoxEqDimensions`, the example could directly use `EqualityComparer<Box>.Default` or even omit the `Dictionary` constructor parameter altogether and the result would be the same.

Do you see a simple way to fix that issue? If not, what would be a good example to use for `EqualityComparer<T>.Defa

[2018-05-10 17:50] BillWagner commented on #5192
@svick The scenarios I've seen are to provide an simple overload for `Find` methods in collections.  Something like:

[code]

[2018-05-10 19:41] blakecodes opened #5285 "Copy method not built into File Stream"
Good solution, but why would a copy method not be built into the File Stream library?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d050f686-38eb-bb76-5747-9e138f4da679
* Version Independent ID: 93b69d5a-5df1-c0e1-930d-2f5ee1c1fe6e
* Content: [How to: Copy Directories](https://docs.microsoft.com/en-us/dotnet/standard/

[2018-05-10 19:44] TheBrooks opened #5286 "new operator in paragraph as code. Structs"
Should the `new` operator in the text 'Struct constructors are invoked with the new operator' be marked up as code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 071b082e-a4aa-00af-1f03-9f6f7205c0bc
* Version Independent ID: cbd67b7f-8aae-2d43-a1dc-26a8b870389e
* Content: [C# structs - A tour of the C# language](https

[2018-05-10 19:50] mairaw commented on #5286
Yes, it should @TheBrooks. I'll fix that.

[2018-05-10 19:54] BillWagner commented on #4775
I reviewed our docs on overload resolution, and we don't state anything that violates the new rules.

Closing this, as the only location where it will be covered is in the "what's new" topic.

[2018-05-10 19:54] #4775 closed

[2018-05-10 19:55] chivandikwa opened #5288 "Advantages?"
Interesting, I am however wondering why one would want  to do this as opposed to running the unit tests before publishing, then publishing if all is well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 269a1ac1-62e0-bd9e-bdd8-f1762e6e62c6
* Version Independent ID: a820e026-7b54-9516-d4c8-0c07e078b6e0
* Content: [Test p

[2018-05-10 20:02] #5286 closed

[2018-05-10 20:03] BillWagner opened #5289 "Write the "What's new in C# 7.3" topic"
Each individual language feature is part of the [C# 7.3 / VB15.7] project. That project also contains a couple catch-up items.

All these new features need to be put together in one topic for readers to see all the new features.

[2018-05-10 20:07] Ryzhehvost opened #5290 "Add a note about kb2533623 for windows 7 users."
.NET Core need update https://support.microsoft.com/en-us/kb/2533623 to be installed on Windows 7, Vista and Server 2008. It was suggested here: https://github.com/dotnet/cli/issues/3907 and really help to resolve startup issues. I believe it is worth to be mentioned as a note on prerequisites page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-05-10 20:28] mairaw commented on #5290
Thanks for your feedback @Ryzhehvost! @Petermarcu @leecow we do mention KB 2999226 as a requirement for older versions but not KB 2533623? Can I go ahead and add this?

@Ryzhehvost do you remember if there were any error messages displayed if you didn't have that KB installed?

[2018-05-10 20:35] Ryzhehvost commented on #5290
I don't met this issue myself, and the guy who had it told me he got
`Failed to load the dll from [?Z], HRESULT: 0x80070057
The library hostfxr.dll was found, but loading it from C:\<path_to_app>\hostfxr.dll failed
- Installing .NET Core prerequisites might help resolve this problem:
http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409`

[2018-05-10 20:35] misha-fm opened #5292 "No return value mentioned"
The article says that ?. operator is "used to test for null before performing a member access (?.) or index (?[]) operation". But nowhere in the article it's explicitely said that it returns null value if the check isn't passed. Though on 'contents' page for operators it's stated explicitely: "null conditional member access. Returns null if the left-hand operand evaluates to null" (https://docs.mi

[2018-05-10 20:39] manish opened #5293 ""dotnet new nunit" screenshot has a giant white line in the middle of screenshot"
On the page **Create a custom template for dotnet new**

under [Create a project from the template](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template#create-a-project-from-the-template)

the output of command

`dotnet new nunit`

![](https://docs.microsoft.com/en-us/dotnet/core/tutorials/media/create-custom-template/nunit2.png)

has a huge white line running through it

[2018-05-10 20:39] leecow commented on #5290
That's an update we would prefer everyone have installed anyway so, I don't have any objections to adding it.

[2018-05-10 20:40] mairaw commented on #5290
Cool. Thanks for confirming @leecow!

[2018-05-10 20:43] mairaw commented on #5293
Thanks for your feedback @manish. I think that was done on purpose to shorten the screenshot. I'll need to double check to make sure.

[2018-05-10 20:44] manish commented on #5293
If it was supposed to ellipse-ize the screenshot, can we add some kind of jagged line in the middle to signify that? Just proposing ideas.

[2018-05-10 20:55] mairaw commented on #5293
Sure, we could also note that in the introductory sentence. I'll get back to you once I've verified.

[2018-05-10 20:58] guardrex commented on #5293
Yes, correct. It was done to shorten the height of the image. I may have used a straight line and not jagged because jagged doesn't match the style of the site. We have a few topics where images have that torn-paper edge look, and it seems very at-odds with the docs theme.

[2018-05-10 21:01] pkulikov commented on #5292
@misha-fm that's a good remark. PR #5294 updates the topic based on your feedback. Thanks!

[2018-05-10 21:37] Bonelol opened #5295 "TaxiTrip.cs content is wrong"
In order to run without error, the TaxiTrip.cs should be like

class TaxiTrip
    {
        const string DataPath = @"..\..\..\Data\taxi-fare-train.csv";
        const string TestDataPath = @"..\..\..\Data\taxi-fare-test.csv";
        const string ModelPath = @"..\..\..\Models\Model.zip";

        [Column(ordinal: "0")]
        public string vendor_id;
        [Column(ordinal: "1")]
        public

[2018-05-10 21:54] javierdlg opened #5296 "No content on removing items"
Seems like all the remarks are about adding or modifying data. What about when you remove content? Does it follow the same rules as adding? What happens when you remove and another tries to access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d05753-640a-9bb9-d548-77bc9e82616d
* Version Independent ID: 72d44346-2d6

[2018-05-10 22:12] rpetrusha commented on #5285
A copy method is built into Stream and FileStream, @blakecodes. There are two overloads of the [Stream.CopyTo](https://docs.microsoft.com/dotnet/api/system.io.stream.copyto) method and two overloads of the [Stream.CopyToAsync](https://docs.microsoft.com/dotnet/api/system.io.stream.copytoasync) method.
However, if you're interested in file copy operations like the one illustrated in the example, us

[2018-05-10 22:12] #5285 closed

[2018-05-10 22:17] #4914 closed

[2018-05-10 22:51] #5195 closed

[2018-05-11 00:11] #5261 closed

[2018-05-11 00:14] #5263 closed

[2018-05-11 00:26] danmosemsft commented on #5260
@codemzs @glebuk is this a type we are ready to expose publicly?

@svick, (nearly) all of the types in Microsoft.ML.Runtime.* are not yet "cleaned up" via API review, so we've chosen to not document them - yet! The documentation is currently verbatim from XML comments though, so you have the content in the code.

[2018-05-11 00:28] danmosemsft commented on #5295
@codemzs can you confirm

[2018-05-11 00:41] jotway opened #5299 "I have not been able to find a definition of "CLR property" on the WWW."
"Windows Presentation Foundation (WPF) provides a set of services that can be used to extend the functionality of a common language runtime (CLR) property."  I have not been able to find a definition of "CLR property" on the WWW.  Are they the same as C# Properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059d0e

[2018-05-11 00:42] BillWagner commented on #5295
This is fixed in dotnet/samples#57   [Deep link to line referenced above](https://github.com/dotnet/samples/pull/57/files#diff-df3062d9187eedba11ef9a4b54489390R22)

PR dotnet/docs#5298 puts the right links in the tutorial.  It's building now.

[2018-05-11 02:32] glebuk commented on #5260
I think we should expose IDV.  It is critical to use for those who want a flexible, high perf access to TLC.
We do have some deep technical documentation about IDV and IDV type system that we can release.

[2018-05-11 05:10] mairaw commented on #5260
Thanks @glebuk. I’ll add that to the API docs. In regards to the deep technical docs, let’s discuss this with @JRAlexander upon his return.

[2018-05-11 06:07] #5262 closed

[2018-05-11 06:13] BentTranberg opened #5301 "Wrong syntax for default member"
I believe the syntax given for default member is wrong. It should not be "default member", but simply "default". At least the example says so, and the example turned out to be the way to do it for the case I'm dealing with right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 680c7c1b-10c0-0537-a52e-48214b55ca4c
*

[2018-05-11 06:19] mairaw commented on #5290
@leecow one more question. Should we change the code [here](https://github.com/dotnet/core-setup/blob/9a776be820ff4ae83476c7e9e97514ecd8f3ae1d/src/corehost/corehost.cpp#L267) to link to the [prerequisites page](https://docs.microsoft.com/dotnet/core/windows-prerequisites) instead of the Get started one? http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409 seems the wrong one to be pointing to

[2018-05-11 06:39] snehalsilicus opened #5304 "Uninstallation process"
Please provide information about how to uninstall particular SDK on Particular OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47d5789d-4edb-3d22-9a8a-fdad704b8384
* Version Independent ID: c92f0188-38cb-c658-5f1b-e2a3ce2d34e9
* Content: [.NET Core SDK Overview](https://docs.microsoft.com/en-us/dotnet/core/sdk)
* Co

[2018-05-11 07:04] mairaw commented on #5250
Thanks @laultman for your feedback. I'm currently working on an updated version of that topic that I'm hoping to finish this week and you can provide feedback on that on PR #4704, if you'd like.

However, having a list of SDK versions doesn't seem like it's feasible. There can be so many. I think a better addition would be mentioning the new option for the dotnet command `--list-sdks` to help you

[2018-05-11 07:11] mairaw commented on #5304
I thought we already had an issue for tracking this work, but I couldn't find it. #4241 is related to this.

You're right @snehalsilicus, we should cover this in our docs.

/cc @KathleenDollard

[2018-05-11 07:16] mairaw commented on #5268
Thanks @leecow. This is due to changes in .NET Core 2.1.300 SDK that no longer accepts -f. We're just starting to cover the 2.1 changes now.

[2018-05-11 07:27] mairaw commented on #5209
This has been fixed but I have further questions for our engineering team on whether we can have the system interpret that API as a single link like the one displayed on the row after the return type:
![image](https://user-images.githubusercontent.com/12971179/39911956-f481018e-54b1-11e8-83ae-db4582ffe329.png)

[2018-05-11 08:10] Mehmet-Erkan opened #5305 "Email begins with # does not match"
#myName@email.com will not match from the regex above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202e3f9f-a12a-53de-9069-fd469e3dbebc
* Version Independent ID: fd3699bb-4881-b6b4-1275-43eed3d5f626
* Content: [How to: Verify that Strings Are in Valid Email Format](https://docs.microsoft.com/en-us/dotnet/standard/ba

[2018-05-11 08:35] HasanAliKaraca opened #5306 "source code link missing"
How can i access the source code of this tool(WcfTestClient.exe)? Can someone update the doc with  source code link of the tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 599983a3-8520-1f76-61c6-4b77ef804492
* Version Independent ID: 37629297-b13c-bd53-aeac-5646c6bdc06f
* Content: [WCF Test Client (WcfTestClient.e

[2018-05-11 09:37] radu-v opened #5307 "KeySize and Key"
It should be noted, that changing the KeySize value will generate a new, random Key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ce74cb2-9214-8ec0-d97d-badb6e8191b6
* Version Independent ID: a972c626-eb98-4f93-cd25-6b583e2a6f10
* Content: [AesCryptoServiceProvider.KeySize Property (System.Security.Cryptography)](ht

[2018-05-11 10:00] b3bb opened #5308 "Enum Class: Example Code for iteration should be changed"
see: [Iterating enumeration members ](https://docs.microsoft.com/en-us/dotnet/api/system.enum?view=netframework-4.7.2#iterating) at docs.microsoft.com

In Example Code for .Net Framework Enum Class: Section "Remarks", "Iterating enumeration members", second way to enumerate, the statement:
`ArrivalStatus status = (ArrivalStatus) Enum.ToObject(typeof(ArrivalStatus), value);`
is useless. The resulti

[2018-05-11 10:01] svick commented on #5209
@mairaw

Is that actually desirable? Consider the case where have a type like `Foo<Bar>.Baz`. Wouldn't you want to have `Bar` as a separate link there?

The only such member I could find in dotnet-api-docs is [`RouteValueDictionary.GetEnumerator`](https://docs.microsoft.com/en-us/dotnet/api/system.web.routing.routevaluedictionary.getenumerator?view=netframework-4.7.2):

![](https://user-images.git

[2018-05-11 11:15] Mike-EEE opened #5309 "Possible Incorrect Default Path"
Checking out this command here.  the `-o` states that `./bin/[configuration]/[framework]/` is the default output.  While this is created, I am also seeing a `./bin/[configuration]/[framework]/publish` that has all of the deployed (published) artifacts.  I am also using 2.1 RC1 with Visual Studio 2017 15.7.  Not sure if it's because of this, but thought I would mention it.

---
#### Document Detail

[2018-05-11 11:35] dasMulli commented on #5250
I like to use https://github.com/dotnet/core/blob/master/release-notes/releases.json as my "source of trouth" esp. for download center links to the SDKs and checksums to update the [homebew cask](https://github.com/caskroom/homebrew-cask/blob/master/Casks/dotnet-sdk.rb).

@laultman does that help you? e.g. you could power a dropdown or a "get-latest" script from that file.

[2018-05-11 13:25] #5292 closed

[2018-05-11 13:47] BillWagner commented on #5276
Thanks for pointing out that mistake @sblom

[2018-05-11 13:53] liubomirwm opened #5312 "Change doc to say that in .NET Core 3 there will be WPF support."
When to choose .NET Framework says no plans to bring WPF to .NET Core, but .NET Core 3 will have it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .NET Core and .NET Framework for server apps]

[2018-05-11 14:10] #5301 closed

[2018-05-11 15:52] dasMulli commented on #5305
apart from that, is email really a good example for RegEx usage?

IMHO, docs could (should?) point to `System.Net.Mail.MailAddress` for email addresses, even though there is no `TryParse` method (https://github.com/dotnet/corefx/issues/25295).

[2018-05-11 16:13] aydeisen opened #5314 "[NewTopic] Provide better usage descriptions in Cmdlet.ShouldProcess"
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.cmdlet.shouldprocess?view=powershellsdk-1.1.0

Normally, the API documentation is straightforward about the different overloads in a method, and whether they augment more minimalist overloads, or are used to cover different purposes

For the life of me, I can't figure out when I would use [ShouldProcess(String, String, String

[2018-05-11 16:16] Aethon opened #5315 "DotNetCliToolReference restore does not seem to be implicit"
At 2.0.4 and 2.0.7, DotNetCliToolReferences do not restore automatically. I have to run `dotnet restore` to get those to resolve. I cannot find documentation supporting this and have not found any issues raised. Is this expected behavior or should I file a bug? And which repo should the issue be reported in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-05-11 16:59] BentTranberg opened #5316 "Abstract member do not have self-identifier"
I believe the box defining syntaxes has errors in "abstract member" syntaxes. "abstract member" is without self-identifier. It doesn't compile with.

Please verify that you are on the correct page, because following my first error report you corrected an error I reported, but on a different page - which happens to be this page, where I just happened to notice this error. We are now on page https:/

[2018-05-11 17:01] BentTranberg commented on #5301
This is not the page I was on when I reported this error. I was on the Properties page.
https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/members/properties

[2018-05-11 17:05] mairaw commented on #5301
@BentTranberg the system logged the issue on the methods page and that's where @cartermp fixed the issue. I don't see a syntax for default members in the Properties page though.

[2018-05-11 17:07] mairaw commented on #5315
Hi @Aethon. Let's first confirm the right behavior and see if this is a doc issue or a product issue.

@KathleenDollard @livarcocc can you guys help with this question?

[2018-05-11 17:11] livarcocc commented on #5315
@rrelyea to comment.

[2018-05-11 17:11] BentTranberg commented on #5301
Sorry, I was wrong, you're right. I found out why I thought what I thought. At least this lead me to a second error that I reported. Never so bad it isn't good for nothing ...

[2018-05-11 17:14] mairaw commented on #5301
No worries. Thanks for reporting these issues. I'm glad it's not an issue with our new feedback system.

Also, for simple fixes, you can also just hit the Edit button on the page and submit the fix suggestion if you know what needs to be changed.

[2018-05-11 17:31] mairaw commented on #5250
@leecow would [releases.json](https://github.com/dotnet/core/blob/master/release-notes/releases.json) give me the main supported sdk version numbers? Or what does it mean for a version to be listed in that file?

The reason why I'm hesitant about this change @laultman is that not all versions are listed there and people can still install nightly builds, etc. and use this technique to pin down the

[2018-05-11 17:57] mairaw commented on #5305
@terrajobst @weshaggard should we update that topic to use the API instead of regexes? That topic has a lot of page views but low CSAT, so it would be good to address this.

[2018-05-11 18:08] laultman commented on #5250
@mairaw @leecow I'll throw in my two cents.  I could easily see what was installed. Only one version. I'd spun up an new Azure VM and installed VS 2017. I did not have any global.json file at all in my projects.  VS was throwing a warning, offering that I should have a global.json with a hot link to the page you are responsible for.  I had no idea what the SDK's exact version should be nor did I k

[2018-05-11 18:14] BentTranberg commented on #5301
I did hit the Edit button earlier, but wasn't sure how to proceed from there, or whether I had access. I see now that there is a link titled "How to contribute", which I believe explains it, so I'll probably try out that next time. Thanks for the suggestion.

[2018-05-11 18:23] siva1254 opened #5317 "Private constructor inherit"
Can we inherit  private constructor class?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aed1d9c-756b-5edc-5c2e-4c25af577ffd
* Version Independent ID: d6b5ce45-a2d6-279e-68fe-280c0774dbcb
* Content: [Private Constructors (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-

[2018-05-11 18:28] weshaggard commented on #5305
I agree that for email addresses MailAddress is likely better although currently it throws on invalid email addresses. However this doc was intended as a RegEx example not a email parsing example. So if we would need to come up with another example if we were to switch. For better or worse parsing email addresses is a common RegEx example so I think we should just fix the current article. It might

[2018-05-11 19:43] CeciAc opened #5318 "maybe a syntax error"
@CFhM commented on [Sun May 06 2018](https://github.com/dotnet/docs.zh-cn/issues/129)

`where` as a member func  of IEnumrable<T>，as para might be `this IEnumrable<T> source` ?

---

@imba-tjd commented on [Sun May 06 2018](https://github.com/dotnet/docs.zh-cn/issues/129#issuecomment-386870571)

给个链接啊……你这让别人怎么找

---

@CeciAc commented on [Thu May 10 2018](https://github.com/dotnet/docs.zh-cn/issue

[2018-05-11 20:06] JaredShaver opened #5319 ".NET 3.5 SP1 Missing"
Information on the System Requirements/supported platforms for .NET 3.5 SP1 is missing.  The Lifecycle FAQ—.NET Framework https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework says "For a list of supported operating systems for .NET Framework 3.5 SP1 refer to the .NET Framework system requirements." and links to https://docs.microsoft.com/en-us/dotnet/framework/get-started/sys

[2018-05-11 20:16] pkulikov commented on #5305
By the way, the article already contains the note about `System.Net.Mail.MailAddress` and `MailAddress` constructor as an alternative to regex (see the note just above the [Compiling the code](https://docs.microsoft.com/en-us/dotnet/standard/base-types/how-to-verify-that-strings-are-in-valid-email-format#compiling-the-code) section). Maybe it should be rephrased in such a way that makes the `MailA

[2018-05-11 20:54] mairaw commented on #5318
@CeciAc can you describe their request in English?

/cc @Sara-Nicolini

[2018-05-11 20:56] pkulikov commented on #5305
And a thought on high traffic, low satisfaction: most probably that comes from those folks who type in Google something like *.NET validate email address* and land in on this page, see that long-long regex, fight through the table to understand it, and then—at the end of the day—they see the note that kind of might make them angry of all the wasted time. Of course they would say that that page was

[2018-05-11 20:56] stamminator opened #5321 "Where is the documentation for System.IdentityModel.Tokens.Jwt?"
With Windows Identity Foundation (WIF) now integrated into .NET and the `System.IdentityModel.Tokens.Jwt` getting 8,000+ downloads every day, I don't understand why there isn't any official documentation. The [MSDN documentation is disgraceful](https://msdn.microsoft.com/en-us/library/system.identitymodel.tokens.jwtsecuritytoken(v=vs.114).aspx), offering nothing that IntelliSense doesn't already c

[2018-05-11 21:15] perdigao1 opened #5322 "Sometimes fails to get image"
Depending on how the image was copied to clipboard, the result of this method can result in a blank (but with a finite width and height) image. This is obvious when in WPF and Image control is set image.Source = Clipboard.GetImage()
A solution for this problem exists, but code needs to use Windows.Forms API and the gdi32.dll. Applications such as Free Clipboard Viewer 3.0 display the bitmap correc

[2018-05-11 21:16] mairaw commented on #5250
@laultman what kind of project it was? EF project? I'm just trying to understand the scenario where this is showing up and linking to our topic, in order to call out things explicitly.

@divega I see that you have a FWLink for that page. Can you explain the scenario where that link shows up? I'll follow up with an offline email too on some changes we need to make to that link.

[2018-05-11 21:18] perdigao1 commented on #5322
Example of clipboard image that makes the GetImage combined with control image.source fail.
[PTCDI-melamine Clipboard.zip](https://github.com/dotnet/docs/files/1996895/PTCDI-melamine.Clipboard.zip)

[2018-05-11 21:19] jeffschwMSFT opened #5323 "Broken link on AssemblyBuilderAccess Enumeration"
https://msdn.microsoft.com/en-us/library/system.reflection.emit.assemblybuilderaccess(v=vs.110).aspx

The following link is broken:

The dynamic assembly can be unloaded and its memory reclaimed, subject to the restrictions described in Collectible Assemblies for Dynamic Type Generation.
--

(does not exist) https://msdn.microsoft.com/en-us/library/dd554932(v=vs.110).aspx

[2018-05-11 21:32] mairaw commented on #5323
Hi @jeffschwMSFT, given that we're moving all the API reference documentation to docs.microsoft.com and this link no longer exists in the current version at https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilderaccess?view=netframework-4.7.2, I'll be closing this issue as resolved. Final redirection should happen in the next couple of months.

On MSDN, you need to selec

[2018-05-11 21:32] #5323 closed

[2018-05-11 21:58] markdcarringer opened #5324 "Broken Link"
The link to the source code, where it says:

"This concludes our discussion of this example. For the complete sample, see Introduction to Data Templating Sample."

does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74f6fd8f-6037-a178-b1eb-792dedabbbf7
* Version Independent ID: 01553bdb-d7e3-f134-3208-595e630

[2018-05-11 22:01] mairaw commented on #5321
Thanks for your feedback @stamminator. @brentschmaltz can you please comment on this issue? MSDN will no longer exist in a couple of months as well.

[2018-05-11 22:32] JeremyMorton opened #5326 "How do I find Release Notes for Microsoft's NuGet packages, such as this one?"
The NuGet package has a completely useless "Project URL" of https://dot.net which doesn't have any direct information on System.Threading.Tasks.Dataflow, nor what changed between 4.8.0 and 4.9.0-rc1. This is a problem with all of Microsoft's NuGet packages; they all point to the same super-general URL, that then has no clear way to find out anything about the package of interest.

---
#### Documen

[2018-05-11 22:40] mairaw commented on #5326
Thanks for your feedback @JeremyMorton. We have plans to start adding some docs for selected NuGet packages in the future, but right now our docs are only focused on what ships on the platform (.NET Core, .NET Framework, etc.) and not on the NuGet packages.

@terrajobst @stephentoub do you know who owns that NuGet package? Are there any release notes for those? The release notes link on that packa

[2018-05-11 22:42] JeremyMorton commented on #5326
Is there an easy way to find the source for this package in GitHub? (Assuming that it is in GitHub.)

[2018-05-11 22:55] mairaw commented on #5250
@divega has created an issue for the EF docs with some background info: https://github.com/aspnet/EntityFramework.Docs/issues/697

Can you confirm that the error message you were seeing is something like the following, @laultman?
`Startup project '{startupProject}' targets framework '.NETCoreApp' version '{targetFrameworkVersion}'. This version of the Entity Framework Core .NET Command-line Tools

[2018-05-12 00:58] GeXiaoguo opened #5329 ""Microsoft ML.NET" nuget package can not be found"
# "Microsoft ML.NET" nuget package can not be found
The [tutorial example](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis) Mentioned installing "Microsoft ML.Net" nuget package. It can not be found on nuget.org. The correct package name is "Microsoft.ML" as mentioned [here](https://github.com/dotnet/machinelearning)

[2018-05-12 01:33] imba-tjd commented on #5318
In https://docs.microsoft.com/en-us/dotnet/csharp/delegates-patterns. He supposed the prototype for the Where method should be
[code]
rather than
[code]
But both of them are not totally equal to what the method looks like in `.NET API Browser`.

[2018-05-12 01:34] mairaw commented on #5329
Thanks for reporting this issue. We’ll get it fixed soon.

[2018-05-12 01:50] svick commented on #5326
@JeremyMorton The source code for that package is at https://github.com/dotnet/corefx/tree/master/src/System.Threading.Tasks.Dataflow.

[2018-05-12 01:52] GeXiaoguo opened #5330 "Complete pasteable code"
If someone is looking for the complete code that can be pasted to your Program.cs file. Here it is.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Use ML.NET in a sentiment analysis classification scen

[2018-05-12 01:53] svick commented on #5326
Also see https://github.com/dotnet/corefx/issues/23570 for another issue about adding Release Notes to .Net NuGet packages.

[2018-05-12 02:02] yang-zhang-syd opened #5331 "If domain events are sent out and handled by handlers, does that mean the savechanges operation will be blocked until all handler finish execution?"
If domain events are sent out and handled by handlers, does that mean the savechanges operation will be blocked until all handler finish execution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d432d5bb-24a7-3bec-1e17-910c8129226e
* Version Independent ID: fa6385e8-91ad-7949-382f-ca8e03f8201c
* Content: [Domain events

[2018-05-12 04:30] CFhM commented on #5318
I'm quite sure the syntax of extension methods should involve 'this' keyword for the first parameter.

发自我的小米手机
在 谭九鼎 <notifications@github.com>，2018年5月12日 09:34写道：

In https://docs.microsoft.com/en-us/dotnet/csharp/delegates-patterns. He supposed the prototype for the Where method should be

public static IEnumerable<TSource> Where<in TSource> (this IEnumerable<TSource> source, Func<TSource, bool

[2018-05-12 04:45] mairaw commented on #5330
Thanks @GeXiaoguo. I thought we were linking to the GitHub repo with the sample but we were missing that. Fixed that in the PR I just created.

[2018-05-12 08:30] cmeeren opened #5336 ""Download PDF" link is outdated"
The "Download PDF" link that's fixed in the lower left corner points to an old version of the ebook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 031b20ec-7583-8277-f7a6-69ff3beffeac
* Version Independent ID: 9cc14513-c458-d615-9615-7003c614b7cd
* Content: [.NET Microservices. Architecture for Containerized .NET Appl

[2018-05-12 08:49] ptoye opened #5337 "More text needed on specification of URL parameter"
The syntax of the URL parameter needs a bit of filling out: you give an remark: "The url parameter can be of the form C:\path\sample.chm or /folder/file.htm." The last example does not have a full folder path, but there is no explanation of where this file is to be found. Is the "folder" relative to the folder holding the program executable, or the root of the current (whatever that is) drive? And

[2018-05-12 16:08] leecow commented on #5250
@mairaw - the releases.json catalogs the latest official releases. Daily builds are not tracked.

[2018-05-12 16:27] RoswellMiller opened #5339 "Programmer"
The syntax given above refers to "type-definition-elements" and gives a good description of what is allowed in the list.  Is this not essentially the same as the "member-list" referred to in records and classes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a067d5a-bb13-9991-c808-c7c49a00ca47
* Version Independent ID

[2018-05-12 16:32] fizxmike opened #5340 "Private NuGet Feeds"
I get authorization error if I try add package from a private feed:
[code]

I would expect the VisualStudio.com login window to pop up (like it does when I "git clone" from the command line for the same project) and prompt me for credentials...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-077c-3cad-b61d

[2018-05-12 16:50] fizxmike commented on #5340
This seems to help:
https://docs.microsoft.com/en-us/vsts/package/nuget/dotnet-exe?view=vsts

... but PAC in a file that is routinely checked in to version control is a bad pattern and begs for disaster... how does git interface with VSTS so seamlessly, but dotnet CLI does not?

... any suggestions?

[2018-05-12 20:32] cartermp commented on #5339
Addressed in both the doc and the snippet.

https://github.com/dotnet/docs/pull/5341
https://github.com/dotnet/samples/pull/66

[2018-05-12 20:44] laultman commented on #5250
@mairaw I am running VS ver. 15.8.0 Preview 1.1 on a VM (fresh install) I have a solution with 38 projects all in .NET Core 2.0. Some are .NETCoreStandard and some are .NETCoreApp. I am beginning the readiness upgrade to .NET Core 2.1 with the most current tooling. There is no EF in the solution. I upgraded all the projects in this branch to 2.1 where applicable. When the build runs in VS the Outp

[2018-05-12 21:02] smoothdeveloper opened #5342 "root folder pollution"
the root folder of a repository is a very important place to keep tidy, consider moving this to a .dotnet folder instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35d7-aeff-3187a36dbbca
* Content: [global.json reference](https://docs.mic

[2018-05-12 23:31] mairaw commented on #5250
Thank you for the extra information @laultman. It helps to track down the scenarios people are getting to this page. Since @leecow confirmed that the json file contains the latest official releases, I think we can add those.

[2018-05-13 08:03] RobDaPraia opened #5343 "Incorrect name of NuGet package to seach for in package manager"
NuGet package, in package explorer, search for "Microsoft.ML" instead of "Microsoft ML.NET"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Use ML.NET in a sentiment analysis classification scenario](https://d

[2018-05-13 10:26] stakx opened #5344 "Documentation for System.Reflection.Metadata (package version 1.5.0) has gone missing"
There appears to be a XML doc problem with System.Reflection.Metadata, version 1.5.0. Despite being quite thoroughly documented [in the original source code](https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Metadata/src/System/Reflection), most or all of that documentation appears to get lost on its way to VS IntelliSense and the online [.NET API Browser](https://docs.microsoft.c

[2018-05-13 10:31] xLabel opened #5345 ".NET Framework 4.7.2 sdk download page issues"
I am a  .net Chinese developer . When I downloaded the SDK(4.7.2 dev pack) package on the official website with  Chrome explorer, the page was redirected(http302) to download the language pack only, not the "really" dev pack.

download pages :
https://github.com/dotnet/docs/blob/master/docs/framework/install/guide-for-developers.md
https://www.microsoft.com/net/download/thank-you/net472-developer-

[2018-05-13 11:06] DaisyDave opened #5346 "Paths for data and model are incorrect"
The paths for the data and model folders contain one too many '..\\'.

The documentation says create the data folder in the bin directory but the paths step out of the bin folder into the project folder.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30b3ff5-b5e6-ff02-6f60-b5cef6f34666
* Version Independent ID: fdf962

[2018-05-13 15:02] johntempest opened #5347 "MaxNumber?"
When I run this workflow, the app asks me to "guess a number between 1 and 0". MaxNumber appears to be set as = 100 and entered into the dictionary entry inputs, but how does wfApp then retrieve the value of MaxNumber using inputs? I can't see anything in the first two parts of the tutorial where inputs is declared or any mechanism to set the value of MaxNumber.

---
#### Document Details

⚠ *Do n

[2018-05-13 15:05] Quorafind opened #5348 "I translated the ML.NET tutorials' docs into Chinese version"
After the Microsoft build 2018, I was excited to read the ML.NET tutorials. And then I found that there has no Chinese version of it. So I did it. Here is the link of my translation. https://github.com/Quorafind/MLNET-CN. All in markdown. Hope it will help you. ML.NET is great ,and I want more normal Chinese developers can use it. LOL

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必

[2018-05-13 15:25] billcharlton0028 opened #5349 "systems engineer"
Please provide links to current Microsoft blogs and/or coding samples for this product

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35303049-7e28-1b24-8ad9-f1492c42ae53
* Version Independent ID: 446f9d86-db2d-6de8-6951-c34c8c153134
* Content: [System.Net.PeerToPeer.Collaboration Namespace](https://docs.microsoft.com/

[2018-05-13 16:12] mwpowellhtx opened #5350 "Elaborate"
More elaboration please. Modifiers such as what? internal? public? protected? abstract? partial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00849c36-156c-6fcd-80f9-dfa038c80964
* Version Independent ID: b144221e-7f82-482a-7a3c-056c5557b673
* Content: [ClassDeclarationSyntax.Modifiers Property (Microsoft.CodeAnalysi

[2018-05-13 16:13] mwpowellhtx opened #5351 "Add Xml comments to the NuGet packages"
Please, "IntelliSense is your friend". Not when the underlying published package is undocumented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00849c36-156c-6fcd-80f9-dfa038c80964
* Version Independent ID: b144221e-7f82-482a-7a3c-056c5557b673
* Content: [ClassDeclarationSyntax.Modifiers Property (Microsoft.CodeAnalys

[2018-05-13 16:16] mwpowellhtx opened #5352 "Elaborate please"
As in the Generic Type list? And then, in what level of depth? i.e. What happens for nested types, types within types?

i.e. class A<T, R> : B, IC<A<T>> {}

Along these lines. It can get pretty nested, at any rate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcff29a-4e06-9352-846e-4e037abb8188
* Version Independent

[2018-05-13 16:33] mwpowellhtx opened #5353 "Elaborate please"
How is it useful? How do I go from ClassDeclarationSyntax, for instance, and identify its Namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63110b74-3e57-a4c7-9ded-7f94c724cd75
* Version Independent ID: 5a2800f4-4790-5fb5-8034-06749ee171d3
* Content: [NamespaceDeclarationSyntax Class (Microsoft.CodeAnalysis.CSh

[2018-05-13 18:33] mairaw commented on #5348
I’ll follow up with the localization team on the plans for translating that content. We worked on the English content until the very last minute and we’re still making some adjustments. Thanks for translating it to other developers.

/cc @nokura

[2018-05-13 18:33] svick commented on #5353
The `Microsoft.CodeAnalysis.CSharp.Syntax` types form a *syntax tree*. If you have `ClassDeclarationSyntax` for a class that's in a namespace, its `Parent` will be a `NamespaceDeclarationSyntax`.

For example:

[code]

Though these types will only give you syntactic information. If you don't control the code you're processing, you're probably better off using `SemanticModel` to find the namespace

[2018-05-13 22:57] pablop45 opened #5355 "very useful"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9df3-d63f-f6a6-aa079eb5095f
* Version Independent ID: a057574c-020f-a9f0-9dfc-f8936a1132fe
* Content: [Collections interactive tutorial - C# quickstarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/list-collection?tutorial-step=7)
* Content

[2018-05-14 05:15] aklcraigc commented on #5330
I tried to run @GeXiaoguo's code and it failed on the train call saying that it could not find the 'CpuMathNative' dll, which exists under the "win-64/native" folder.  The project was complied to x64.

[2018-05-14 06:08] LambertWM opened #5356 "Example code for C# checked/unchecked article"
As usual the example code is a bit too bloated and complex for my taste.
to make it shorter and clearer: why not have one "add" method and then call it twice, once from a "checked" block and once from an "unchecked" block?
Btw, why not use int.MaxValue (just to illustrate that this exists)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-14 10:20] RoswellMiller opened #5357 "Programmer"
How is this (from above):
// Indexed property that has get only.
member self-identifier.PropertyName(index-variable) =
    get-function-body

different from this (from "Methods"):
// Instance method definition.
[ attributes ]
member [inline] self-identifier.method-nameparameter-list [ : return-type ]=
    method-body

Since a parameter-list can look like a index-variable enclosed in parentheses.

[2018-05-14 13:45] yeah-boi opened #5358 "Floating point types and Equals."
The following is stated in the documetnation:

"x.Equals(x) returns true, except in cases that involve floating-point types."

This is not true, the exception for floating-point types is for the == operator and not the Equals method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ccb268f-7e61-578a-9cd5-eff767facdd4
*

[2018-05-14 14:11] alphaleonis opened #5359 "The three options all appear the same."
Under the text that reads "There are three options for loading domain-neutral assemblies:", each paragraph begins with a link to and the word "LoaderOptimiziation". The actual name of the flag of this enum is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee8b9a-5eef-5fd4-0a0a-6aa581a63b2b
* Version Independ

[2018-05-14 14:30] jyjohnson opened #5360 "ports?"
When using address="*" , does that include all ports or just 80?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 874465ad-c7ea-f09b-4c2f-79d6f150a79b
* Version Independent ID: 108a137f-31d3-c3c2-2ff9-3cf128c3b8d9
* Content: [<add> Element for connectionManagement (Network Settings)](https://docs.microsoft.com/en-us/dotn

[2018-05-14 15:09] BillWagner commented on #5274
`private protected` was added in C# 7.2

[2018-05-14 15:09] Henk7 opened #5361 "Endianness"
Hi please add the information about the byte-order of the properties. In the document https://msdn.microsoft.com/en-us/library/ms867080.aspx it is mentioned, that it is big-endian, but this is not easy to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec592a3-82b8-f4d5-ddfa-9e113209f113
* Version Independent ID:

[2018-05-14 15:11] BillWagner commented on #3285
Fixed in #5200

[2018-05-14 15:11] #3285 closed

[2018-05-14 15:14] mitgiraffe opened #5362 "Example of SharedConfig.xml"
While a reference to sharedConfig.xml is provided, there is nothing that indicates the required schema for that document.
A small example of what I have found to work is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bff372b-d797-731c-a2fa-5d4b072264f0
* Version Independent ID: 72507aa8-582a-c77d-fb63-f7ea75fa

[2018-05-14 16:41] mairaw commented on #5355
We're glad you liked it! Thanks!

[2018-05-14 16:41] #5355 closed

[2018-05-14 16:46] #5260 closed

[2018-05-14 17:08] #5324 closed

[2018-05-14 17:13] #5339 closed

[2018-05-14 17:35] #5276 closed

[2018-05-14 17:43] SheepRock opened #5364 "Specify the modes for "^" and "$""
In the section Anchors, the description of "^" assertion should specify that it matches the begining of the string by default or the begining of the line if the multiline mode is used.

In the same way, for the "$" assertion it should specify that by default, the match must occur at the end of the string or if the multiline mode is used the end of the line.

The way they're written is confusing, a

[2018-05-14 17:50] #5290 closed

[2018-05-14 18:27] mairaw commented on #5359
Thank you for reporting this issue @alphaleonis. We had some issues with enumeration fields while migrating the content from MSDN to Docs. Even though we made several attempts to fix that throughout the docset, it seems that we still have some broken. I'll get this fixed.

/cc @wh-alice

[2018-05-14 18:42] JD-Sp opened #5366 "C# 7.0 vs 7.1"
Maybe I'm just inexperienced, but it should probably be noted that you have to be running C# 7.1 for this in the pre-requisites.

I'm running 7, on VS for Mac 7.5, and it gave me a compiler warning about having an asynchronous Main method. Makes sense, but was surprised when I saw the compiler error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-05-14 18:44] bartonjs commented on #5361
It seems pretty reasonable to add.  The full rules of the arrays for RSAParameters values are as follows:

* **Modulus**: The unsigned big-endian representation of the RSA modulus value.  Modulus[0] must not have the value 0x00.
* **Exponent**: The unsigned big-endian representation of the RSA public exponent value.  Exponent[0] must not have the value 0x00.

The other fields must either all be nu

[2018-05-14 18:58] rpetrusha opened #5367 "Replace broken links in Exceptions section"
# Replace broken links in Exceptions section

In numerous cases, .NET for Windows Store apps and Portable Class Libraries throw a different exception than apps and libraries that target the .NET Framework.  In most of those cases, the exception information appears in Markdown format. However, since the \<exception> section is included in IntelliSense, it must be in XML format and should be enclose

[2018-05-14 19:33] pkulikov commented on #5275
@progalgo thanks for spotting and reporting the issue; the PR with the fix is about to be merged.

[2018-05-14 20:12] mairaw commented on #5366
Hi @JD-Sp, right now the tutorial is only focused on Visual Studio. So if we make the tutorial cross-plat, we should call out the right prerequisites. I assigned this issue to the author.

[2018-05-14 20:13] BillWagner commented on #5366
@JD-Sp Thanks for pointing this out. It will run on .NET Core 2 from the command line (that has C# 7.1 installed.)

[2018-05-14 20:17] mairaw commented on #5362
Thanks for the feedback @mitgiraffe. We're adding to our backlog.

[2018-05-14 20:20] mairaw commented on #5360
@davidsh @karelz would you know this?

[2018-05-14 20:28] krwq opened #5369 "XmlElement.InnerText should describe that it removes child nodes"
https://msdn.microsoft.com/en-us/library/system.xml.xmlelement.innertext(v=vs.110).aspx should include information that XmlElement.InnerText does remove children nodes when setting the property. Current behavior is slightly confusing as it diverges from msxml which does not remove nodes but .NET does that from at least 2.0 (not tested before)

Description should say something along the lines of “S

[2018-05-14 20:30] pkulikov commented on #5366
@mairaw if I create .NET Core console app in Visual Studio (15.7) on Windows, the default C# version is 7.0 (I also have .NET Core 2 installed)
@BillWagner when I create the .NET Core 2 console app from the command line, that also defaults to C# 7.0.

[Samples code](https://github.com/dotnet/samples/blob/master/machine-learning/tutorials/SentimentAnalysis/SentimentAnalysis.csproj) has the language

[2018-05-14 20:30] mairaw commented on #5356
Thanks for your feedback @LambertWM. We're adding this to our backlog since this is not wrong but a suggestion to improve it.

[2018-05-14 20:36] BillWagner commented on #5350
@mwpowellhtx I'd like to get some more information about what you're trying to build.

Right now, the Roslyn API docs don't have the coverage I'd like for samples, examples, tutorials and conceptual content. That's an area I'll be working on in the next several months. I'm in the process of creating outlines and ideas for scenarios and concepts to cover. Any information you can add here, or on the

[2018-05-14 20:36] mairaw commented on #5369
Thanks @krwq. We're moving all the MSDN content to docs: https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlelement.innertext. Whenever you see something wrong, feel free to click the Edit button and create a PR for it. I'm adding this work item to the next sprint.

[2018-05-14 20:41] mairaw commented on #5349
@karelz @davidsh is there anything happening in this namespace? We typically don't add much information on the namespace page. The only thing we could perhaps update is the OS support, which now mentions Vista and Server 2008.

[2018-05-14 20:45] mairaw commented on #5347
Thanks for your feedback @johntempest. We'd need to investigate this issue. So we're adding this to our backlog right now.

[2018-05-14 20:47] michaelwatkins opened #5370 "Explanation"
Thank you for the article.  A brief explanation of each point would be nice!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d1da0e3-49e0-8437-5542-7a42682ed8ec
* Version Independent ID: 5e8ba39f-757e-d4cd-7b51-c140303b7283
* Content: [Static Class Design](https://docs.microsoft.com/en-us/dotnet/standard/design-guideli

[2018-05-14 20:54] JD-Sp commented on #5366
@pkulikov Same. I created a version using the CLI tools, and it defaulted to 7.

I did just go into and manually target 7.1 in the .csproj file, and it works running from the command line. There were a few tweaks to the code to make it cross platform, but all in all i got a good result.

[2018-05-14 20:54] mairaw commented on #5345
@preetikr @vivmishra can you check the links for the dev pack? Thanks!

[2018-05-14 20:58] mairaw commented on #5345
@xLabel can you confirm which of the links are you clicking on? The one for the 4.7.2 dev pack on the topic (http://go.microsoft.com/fwlink/?LinkId=863261) seems to be working fine.

[2018-05-14 21:08] mairaw commented on #5370
Thanks for your feedback @michaelwatkins. Given that the content under [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/) is copyrighted, we can't really make edits to it, so I'm closing this issue. The content here is a subset of what's in the actual book, but the book also doesn't go into details of each point. Each point is very straightforward, b

[2018-05-14 21:08] #5370 closed

[2018-05-14 21:12] mairaw commented on #5344
Thanks @stakx! What happens is that the IntelliSense is generated from what is in the https://github.com/dotnet/dotnet-api-docs repo, not the source code. In the future, we'll be able to do a one-time import for new classes of the /// comments. So, right now, we'll have to manually import the content from the source into our docs.

[2018-05-14 21:49] #4774 closed

[2018-05-14 22:11] mairaw commented on #5366
I also noticed that our sample is set to netcoreapp2.1 which won't work with VS 15.6 AFAIK, which is the prereq version that we define on the topics. Should we bump up the VS version prereq or change TargetFramework of our sample in dotnet/samples to 2.0?

[2018-05-14 22:14] BillWagner commented on #5366
The target framework should change to 2.0. (I built it on my machine where I was doing some preview work at the same time.)

[2018-05-14 22:25] karelz commented on #5349
@billcharlton0028 is there any specific existing documentation you would like to see linked?

The namespace is not even present in .NET Core - it was not popular enough. In .NET Core 2.0 we brought over only Permissions for compatibility:
https://github.com/dotnet/corefx/blob/e3036d2a0622857e04de7640117950a0e37ee732/src/System.Security.Permissions/ref/System.Security.Permissions.cs#L456-L504

[2018-05-14 22:26] mairaw commented on #5366
Thanks @BillWagner. I'll make the change then.

[2018-05-14 22:32] #5275 closed

[2018-05-14 22:34] AndyWDev opened #5373 "No OS version specified"
Does not say what OS versions these instructions apply to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de87ae1b-a8bc-8a30-17f5-411ef9a710e8
* Version Independent ID: af87a5b0-57b8-f3dc-6667-b3f201c0f0b8
* Content: [How to: Enable the Net.TCP Port Sharing Service](https://docs.microsoft.com/en-us/dotnet/framework/wcf

[2018-05-14 22:58] rpetrusha commented on #5299
Thanks for asking this question and raising the issue of what a CLR property is, @jotway. "CLR properties" is actually a misnomer. Properties are members of a .NET type, as defined by the Common Language Specification. Individual languages, such as C#, then provide a language-specific syntax for defining properties.
We'll modify the topic to note that dependent properties extend .NET properties.

[2018-05-14 23:29] mairaw commented on #5340
@KathleenDollard @livarcocc who can help with this question about using private feeds with the dotnet add package command?

[2018-05-14 23:34] mairaw commented on #5309
I'll double check @Mike-EEE but CLI and Visual Studio might have different behaviors.

[2018-05-15 00:05] rpetrusha commented on #5317
Thanks for asking the question, @siva1254. Constructors are not inherited by derived classes. For more information, see [Inheritance in C# and .NET](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/inheritance#background-what-is-inheritance).

[2018-05-15 00:05] #5317 closed

[2018-05-15 00:36] davidsh commented on #5360
In this context, the "*" means ANY port that is used to make an HTTP/HTTPS connection.  Usually it is port 80 or 443.  But it could be anything that a dev passes into the HTTP APIs for doing a request.  I.e., non-default port values would be passed in like this: "http://www.contoso.com:81/path".

[2018-05-15 01:28] sebagomez opened #5377 "This is a readonly property"
"Gets or sets a value that specifies whether to use a simple dictionary format." is not right, because you cannot set the property directly, I came along looking for exactly the way to set the property :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 542f5356-becf-3699-5d69-37e5002f772f
* Version Independent ID: 9a28b

[2018-05-15 01:48] siennaA opened #5378 "Entity SQL rewrite... is it correct?"
If I understood correctly,
T-SQL expression  " sal > all (select salary from employees)" be same as
Entity SQL expression "not exists(select 0 from employees as e where sal > e.salary)"

Shouldn't it be
"not exists(select 0 from employees as e where sal <= e.salary)" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5

[2018-05-15 03:29] dotMorten opened #5379 "Image recognition sample for ML.NET"
I'd love to see a sample that trains and recognizes images (ie object detection)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d2565e22b237
* Content: [ML.NET tutorials](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutor

[2018-05-15 04:15] vivainio opened #5380 "PascalCase"
This only lists scenarios where camelCase should be used. It should also list use cases for PascalCase (e.g. public class properties)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c09996f-24ac-cf39-ef43-d7909cbc2b89
* Version Independent ID: 1efdd523-8552-6421-e149-74f76826ef8f
* Content: [F# code formattin guideline

[2018-05-15 04:18] vivainio commented on #5380
I do realize that these are described in Component Design Guidelines, but since casing is addressed here, for completeness they should also be briefly addressed on this page

[2018-05-15 04:35] livarcocc commented on #5340
@rohit21agrawal

[2018-05-15 05:31] Mike-EEE commented on #5309
Yeah I am still piecing all the pieces together myself, @mairaw.  To clarify on my side, what I meant was that I have Visual Studio installed and did not know if that was impacting anything.  I am using the `dotnet publish` command outside of Visual Studio in a solution directory that was created by Visual Studio and it is producing this `publish` folder.

Additionally, at one point I was using th

[2018-05-15 05:49] nschonni opened #5382 "OpenBuild flagging missing xref for System.ServiceModel.Dispatcher.IShareableInstanceContextLifetime"
When the OpenBuild is run, it flags a warning because docs/framework/wcf/samples/custom-lifetime.md has an xref it can't resolve. Not sure what the fix is for this, but it was discussed in https://github.com/dotnet/docs/pull/1967

[2018-05-15 07:33] mairaw commented on #5379
Thanks for your suggestion @dotMorten. @aditidugar @asthana86 @JRAlexander this is a request for a new tutorial for ML.NET. Please take a look.

[2018-05-15 07:40] mairaw commented on #5382
Thanks @nschonni. That has been there for a while because we weren't sure what the change should be either, but I think I managed to figure it out tonight.

[2018-05-15 07:47] mairaw commented on #5377
Thanks for your feedback @sebagomez. I've opened a PR to fix this.

Also, if you find other issues in the docs, you can still provide the feedback as you did. Or if you'd like, just click the Edit button on the topic and suggest the fix. For more information, see https://docs.microsoft.com/contribute.

[2018-05-15 07:58] #5357 closed

[2018-05-15 08:42] ronbutan opened #5385 "Multi Label Classifier sample"
I look forward to a sample illustrating Multiclass Classification model. Common example will be News categorization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d2565e22b237
* Content: [ML.NET tutorials](https://docs.microsoft.com

[2018-05-15 12:40] atotalnoob opened #5388 "Using ML.net for NLP/NLU"
Hey all,

What would need to be done to make ML.net do NLP/NLU? We use a python back-end for our current chatbot platform, looking to explore ML.net, because we use .net front-end.

My understanding of what needs to be done is:

Load in a dataset with 2 columns using TextLoader.

SentenceToBeScored | Intent

Then use a TextFeaturizer to change intents into numeric vectors

Then train and predict.

[2018-05-15 13:47] xLabel commented on #5345
@mairaw

i click this link address (http://go.microsoft.com/fwlink/?LinkId=863261) will be redirect to this
download address(https://download.microsoft.com/download/5/7/7/57703C9C-1027-4533-A69D-2393314A32D1/NDP472-DevPack-CHS.exe), this dev pack is about 13.45MB, only the lanageuage pack ? not the "really" dev pack

when i use fiddler simulation web browser to httpget the link address (http://go.

[2018-05-15 13:59] xLabel commented on #5345
@mairaw
here is the http request header, "Accept-Language" is a key point.

User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.108 Safari/537.36
Upgrade-Insecure-Requests: 1
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
Accept-Encoding: gzip, deflate, br
Accept-Language: zh-CN,zh;q=0.9

[2018-05-15 14:39] swageblock opened #5389 "Move the remarks for asp.net"
It is sort of silly to seperate the ASP.NET limit and the normal limit.  I recommend placing them together.
"The default value is 2." could read "The default connection limit is 10 for ASP.NET hosted applications and 2 for all others."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d78d86da-2cce-f02b-3fd8-2a9af20e1830

[2018-05-15 16:07] lambdakris opened #5391 "Dealing with errors in stages"
The guidance around error management and usage of exceptions, result types, option types, and domain types is a good attempt, however, I think it glosses over a key issue, which is how does one form elegant code when errors could happen in stages of computation?

This is particularly prevalent now-a-days when programs often have to call out to other programs (apis, etc), such that each call out of

[2018-05-15 16:10] #5391 closed

[2018-05-15 16:10] lambdakris opened #5392 "Dealing with errors or failures in stages"
The guidance around error management and usage of exceptions, result types, option types, and domain types is a good attempt, however, I think it glosses over a key issue, which is how does one form elegant code when errors could happen in stages of computation?

This is particularly prevalent now-a-days when programs often have to call out to other programs (apis, etc), such that each call out of

[2018-05-15 16:48] cartermp commented on #5392
@lambdakris Thanks for the feedback. I agree that there could be more work here in the realm of "how to beautify your error-tolerant code". For example, we suggest using active patterns to pull out useful information from exceptions, but there is no code sample. That could help. Regarding this:

Could you provide some concrete examples? I believe that this article is quite in line with other ideas

[2018-05-15 17:08] #5318 closed

[2018-05-15 17:09] #5192 closed

[2018-05-15 17:16] aditidugar commented on #5379
Hey @dotMorten! We currently don’t support image recognition in ML.NET, but it is on our [roadmap](https://github.com/dotnet/machinelearning/blob/master/ROADMAP.md) for future improvements. Once this is supported, we will revisit publishing a sample on this topic.

[2018-05-15 17:43] rpetrusha commented on #5337
Thanks for pointing out the lack of clarity in the documentation, @ptoye. /folder/file.htm is a path from the root of the current drive, and the documentation needs to make that clear. We'll address this issue once we finish work on the related issue #4280.
.

[2018-05-15 18:03] Welchen opened #5394 "7.3?"
Is there going to be an update to these docs for 7.3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's New in C# - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/)
* Content Source: [

[2018-05-15 18:07] BillWagner commented on #5394
@Welchen That work is in progress. You can see all the work so far in [this project](https://github.com/dotnet/docs/projects/32)

This particular issue is a duplicate of #5289  To answer your question, I expect to finish that early next week.

Thanks for participating in docs.

Closing as a duplicate of #5289

[2018-05-15 18:07] #5394 closed

[2018-05-15 18:08] BillWagner commented on #5289
tagging @Welchen for notifications (author of #5394

[2018-05-15 18:46] gregnightingale opened #5395 "Sample Needs updating!"
Polly has updated to 6.0.1, now the sample is not working.  ExecutionKey is now OperationKey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef44bb71-2ee5-bf25-bcd2-1f1eee8b2806
* Version Independent ID: e606a7f8-8097-3b01-b6e8-f6f7f2687ce0
* Content: [Implementing the Circuit Breaker pattern](https://docs.microsoft.co

[2018-05-15 19:07] ChrisMaddock commented on #5367
@rpetrusha - out of interest, is this the same issue in the namespace summary's - like seen on pages like this one?

https://docs.microsoft.com/en-us/dotnet/api/?view=netframework-4.7.2

I'd assumed it was just a bug on docs.microsoft.com - didn't realise they needed to be that way for Intellisense. 🙂

[2018-05-15 19:09] mairaw commented on #5388
Thanks @atotalnoob. Since this is a product question, I've moved it to https://github.com/dotnet/machinelearning/issues/161.

[2018-05-15 19:09] #5388 closed

[2018-05-15 19:13] mairaw commented on #5367
Yes @ChrisMaddock. But I'll close this as a dupe of #1931. I'm not sure if the href works with the .md links though. I usually transform them into absolute paths. I'll need to test this.

[2018-05-15 19:13] mairaw commented on #5367
Duplicate of #1931

[2018-05-15 19:13] #5367 closed

[2018-05-15 19:16] mairaw commented on #5385
@asthana86 @aditidugar please take a look at this request for a new tutorial for ML.NET.

[2018-05-15 19:25] #5377 closed

[2018-05-15 19:30] Zorka44 commented on #5120
May i suggest this for powershell?

(Get-ChildItem "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\" -Recurse | ? {$_.Property -eq 'Version'}) | Get-ItemPropertyValue -Name Version | Group | % {$_.Name}

[2018-05-15 19:31] mairaw commented on #5367
You can see an example of where I did this fix here for one summary: https://github.com/dotnet/dotnet-api-docs/pull/14/files

[2018-05-15 19:32] mairaw commented on #5378
@douglaslMS can you look at this question?

[2018-05-15 19:34] douglaslMS commented on #5378
I’ve already forwarded the question to some of my contacts, and I’m hoping to get a response soon.

From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, May 15, 2018 12:33 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Douglas Laudenschlager <douglasl@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/docs] Entity SQL rewrite... is it correct? (#5378)

@douglaslMS<

[2018-05-15 19:37] mairaw commented on #5373
@zhenlan can you help with this question? Are there any OS requirements for this service?

[2018-05-15 19:42] mairaw commented on #5343
Thanks for your feedback @RobDaPraia. I have a PR open already to fix this issue.

[2018-05-15 19:51] mairaw commented on #5345
Thanks @xLabel. Our engineering team investigated the issue and managed to repro the problem. They're currently working on a fix. We'll let you know once the fix is in place. We appreciate for letting us know about this.

[2018-05-15 19:53] divega commented on #5378
@siennaA very good catch! Yes, the condition needs to be inverted for the equivalent of ALL to be correct.

[2018-05-15 19:54] #3943 closed

[2018-05-15 19:59] wade56 opened #5397 "This did not work for me. No MaskedTextBox showed up on the window when I ran it. The code link didn't work either ("Hosting a Windows Forms Control in WPF Sample")."
This did not work for me.  No MaskedTextBox showed up on the window when I ran it. The code link didn't work either ("Hosting a Windows Forms Control in WPF Sample").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 388cd25c-fa98-6cd6-7740-8bbc456b772f
* Version Independent ID: 194b7b3a-110d-93d7-4dad-419c7ad65f52
* Cont

[2018-05-15 20:05] #5378 closed

[2018-05-15 20:13] rpetrusha opened #5398 "Update .NET Core deployment topic"
# Update .NET Core deployment topic

Update to [.NET Core application deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/)

The topic requires some revision for both .NET Core 2.0 and .NET Core 2.1 changes. At a minimum, these include:

- For .NET Core 2.0: Starting with Visual Studio 15.7, RIDs for self-contained deployments do not have to be set in the project file; they can be s

[2018-05-15 20:13] wade56 commented on #5397
I got it to work by using the native Window_Loaded routine rather than the one listed in the example:

Private Sub Window_Loaded(ByVal sender As System.Object, ByVal e As System.Windows.RoutedEventArgs) Handles MyBase.Loaded

instead of:

Private Sub Window_Loaded(ByVal sender As Object, ByVal e As RoutedEventArgs)

[2018-05-15 20:37] davidmatson opened #5401 "Copy/paste errors in Single docs"
I think there are a couple of minor typos in the documentation for Single:
https://docs.microsoft.com/en-us/dotnet/api/system.single?view=netframework-4.7

The documentation for Double:
https://docs.microsoft.com/en-us/dotnet/api/system.double?view=netframework-4.7
Contains paragraph very similar to one on the Single side; I think the documentation for Single should be slightly different:

For exa

[2018-05-15 20:37] davidmatson commented on #5401
@rpetrusha (per our offline conversation)

[2018-05-15 20:38] agocke commented on #3242
Unfortunately there was no speclet since this was just a compiler feature. The feature is that /keyfile should now work when building on CoreCLR. There's a bug on Mono that's being fixed right now, but it should work there too. /keycontainer is and always will be unsupported on CoreCLR.

[2018-05-15 20:42] davidmatson opened #5402 "Incorrect statement about round-tripping Single in Numeric Format Strings docs"
I believe there’s a bug in the documentation for [Standard Numeric Format Strings](
https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings)

Under “General Format Specifier,” it says:

I believe the **bolded** statement above is incorrect. I tested on x64 and x32 targeting both .NET 4.5 and .NET 4.7, I think using the code below (takes around an hour to check a

[2018-05-15 20:42] davidmatson commented on #5402
@rpetrusha (per offline conversation)

[2018-05-15 20:48] aditidugar commented on #5385
Thanks for the feedback, @ronbutan! We're still working on building out all of our tutorials and samples, but a multi-classification sample will be added soon.

[2018-05-15 21:03] rpetrusha commented on #5401
Thanks for opening this issue, @davidmatson. We'll address it during this sprint.

[2018-05-15 21:07] rpetrusha commented on #5402
Thanks, @davidmatson. We'll address this issue in the next sprint, which starts next week.

[2018-05-15 21:30] AndyWDev commented on #5373
I just thought I would add some more to this.   It appears to me the method of enabling TCP Port Sharing is different on server operating systems than it is desktop clients.   In the server OS, I think the feature has to be installed.  On Windows 10, I believe it is enabled by default, not sure what is required to enable it on Windows 7.

[2018-05-15 21:56] poizan42 opened #5404 "mapName is actually allowed to be null in MemoryMappedFile.CreateNew"
The documentation claims that ArgumentNullException is thrown if mapName is null. This is not true, indeed an anonymous file mapping is successfully created if it is null.

The documentation should preferably actually urge people to use null for mapName if they don't need the name, because they can avoid issues with naming conflicts and potentiel security issues with other processes being able to

[2018-05-15 22:03] ChrisMaddock commented on #3391
I've been having a bit of fun scripting a solution to this. I'm working on the API repo - and initially targeting low-hanging fruit of fwlinks that forward directly to docs.microsoft.com anyway.

I'm doing one PR per-link for every link with 10 or more references - after which, I'll start submitting PRs of the rest all mixed together.

Hope that's helpful - I thought once the easy ones are out the

[2018-05-15 22:56] BillWagner commented on #3242
Thanks @agocke

I'll make sure to add it to the list of "What's new in C# 7.3".  Our docs never mentioned that it *didn't* work before on CoreCLR, so there's nothing that needs to get fixed. I will update the /keycontainer switch to point out that CoreCLR is not supported. (It's not mentioned there either.

[2018-05-15 23:01] rpetrusha commented on #5404
Thanks for opening this issue, @poizan42. The documentation is in fact incorrect, and calls to the CreateNew method do not throw an ArgumentNullException if mapName is null. We'll correct this documentation error during this sprint.

[2018-05-15 23:47] BillWagner opened #5410 "Check that we have documented recent compiler messages"
I'm almost certain we haven't added new warnings and error messages since C# 6.0 (and maybe earlier).

@jcouv is there a good list in the roslyn repo to track down what should be covered?

See [#5390-comment](https://github.com/dotnet/docs/pull/5390#discussion_r188394982) for details.

[2018-05-16 01:37] zhenlan commented on #5373
@AndyWDev might be right, but I don't remember exactly off the top of my head. So basically we need to get answers to the two questions below for the [supported Windows (both client and server) SKUs](https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet)

- Is TCP Port Sharing feature installed by default?
- Is TCP Port Sharing feature enabled by default?

Add @Lxiamail to he

[2018-05-16 01:45] #5380 closed

[2018-05-16 02:05] spottedmahn commented on #4490
Hi @rpetrusha - any updates?  Thanks 🙏

[2018-05-16 03:40] thucnguyen77 opened #5412 "(The term "thread-local" is slightly inaccurate here, because in some cases two partitions may run on the same thread.)"
Can we change it to "partition-local"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f692f5c-4c13-8ba5-d7d8-30102655ade8
* Version Independent ID: 3c4b673c-7056-1a8a-56e9-035307c3b07c
* Content: [How to: Write a Parallel.ForEach Loop with Thread-Local Variables](https://docs.microsoft.com/en-us/dotnet/standard/parall

[2018-05-16 03:45] lambdakris commented on #5392
I'll work on coming up with more concrete examples of what I mean, but I should probably be sure that I am clear on a couple of things first though.

To help distinguish between kinds of errors, I would like to borrow some of the terminology from [Domain Modeling Made Functional](https://pragprog.com/book/swdddf/domain-modeling-made-functional) by Scott Wlaschin:

- _Domain Errors_ - Errors to be

[2018-05-16 04:46] sudheervm commented on #5343
PM> Install-Package Microsoft.ML

[2018-05-16 06:34] mairaw commented on #5385
Maybe we should add that link to this page then: https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/?

[2018-05-16 06:36] mairaw commented on #5336
Hi @cmeeren, you mean compared to the one offered at https://www.microsoft.com/net/learn/architecture? If so, this is by design since the Download PDF button is a generic functionality of Docs and generated the content based on what's here on repo. So I can see that it contains the latest changes present here.

But I know that @CESARDELATORRE is planning to bring the changes in, so he can speak mo

[2018-05-16 06:41] cmeeren commented on #5336
Hi! I'm talking about the "Download PDF" at the lower left corner of [this page](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/#feedback). A colleague of mine ended up starting reading the previous version of the book because he that link, instead of the link just below the cover image at the top (which points to the new version of the ebook).

[2018-05-16 07:37] mairaw commented on #5312
Thanks @liubomirwm. That's a great suggestion given the announcements we made at BUILD.

[2018-05-16 07:53] lostllama opened #5413 "Remarks section: GetEmptyWebProxy"
Following the link for this method to the class it belongs to, shows that the class is now obsolete. It seems this documentation is out of date.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcec156a-14b3-a8e6-9c3e-bc87fa39da4c
* Version Independent ID: d6bc60c4-6da0-e151-2b46-b6a14a118a50
* Content: [WebClient.Proxy

[2018-05-16 10:02] TNwestpointtg opened #5414 "Misleading information"
The section highlighted in the attached should say in the left most column that the connection will occur regardless of if there is a valid security server present?

![microsoft info wrong](https://user-images.githubusercontent.com/38466058/40110632-65e124d6-58f8-11e8-8747-571ce0328c6a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-05-16 11:00] evilprince2009 opened #5415 "throw new System.ArgumentOutOfRangeException("index parameter is out of range.", e);"
Whats the purpose of throw keyword here inside the catch block ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9740955a-7141-c540-ecd8-1d3762957797
* Version Independent ID: 2f0d458c-6545-125b-0308-4ffb1cdd0a46
* Content: [How to: Handle an Exception Using try-catch (C# Programming Guide)](https://docs.microsoft.com/e

[2018-05-16 13:05] benzhi2011 opened #5416 "Problem with docker build"
Step 7/17 : COPY TestDocker/TestDocker.csproj TestDocker/
docker : COPY failed: CreateFile \\?\C:\ProgramData\Docker\tmp\docker-builder208312035\TestDocker\TestDocker.csproj: The system cannot find the path specified.
I got about error when trying to run docker build -t aspnetapp .
C:\ProgramData\Docker\tmp exists, but docker-builder208312035 is not created.
Copy-Item "C:\tfs\TestDocker\TestDocker

[2018-05-16 14:32] BillWagner commented on #5206
This line is not in the C# specification, and should be removed:

It would be better to use this text from the [spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/classes#volatile-fields)

[2018-05-16 15:06] redcurry opened #5417 "Copyright character"
It's also possible to use "&#x24b8;" for the copyright symbol, but it's a bit bigger than using "©" directly. Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19c7a458-13d5-2dcd-191f-d3ddf4e81d98
* Version Independent ID: 6209ba03-0cd9-35f7-341d-397c1cbbea82
* Content: [How to: Use Special Characters in XAML

[2018-05-16 15:44] TanielianVB opened #5419 "Table missing"
After this text there's no table: "The following table lists the valid names for keyword values within the ConnectionString."
The table exists in the old article: https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring(v=vs.110).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2018-05-16 16:41] douglaslMS commented on #5414
@TNwestpointtg Can I just clarify that you mean the rightmost column, and not the leftmost? And you believe it should say "server present" and not "certificate present?" I'll have to double-check on this.

[2018-05-16 16:41] douglaslMS commented on #5414
#in-progress

[2018-05-16 16:44] aditidugar commented on #5385
Yes, @brendankowitz is right, that's a multi-classification sample. @mairaw, we can certainly link from there temporarily, but it's not really a step-by-step tutorial like our other walkthroughs. We're working on creating a more end-to-end multi classification sample based on some of the demos we showed, and will have that ready soon.

[2018-05-16 16:52] CESARDELATORRE commented on #5395
Thanks for the heads-up with Polly. We're already updating the reference application in what's related to Retries with exponential backoff and circuit-breakers ultimately based on Polly.
We're not only updating Polly's version but moving to the new HttpClientFactory available in .NET Core 2.1 RC. This update will be available in the DEV branch next week, probably.
Thanks for the heads-up! 👍

[2018-05-16 16:53] JRAlexander commented on #5379
Thanks, @aditidugar, for the quick follow up!

[2018-05-16 16:56] TNwestpointtg commented on #5414
Yes the right column. My understanding is everything even is the certificate is installed but invalid (wrong hostname) the trust server certificate option should mean the connection works. It might just need clearing up as the same statement for all examples is confusing

[2018-05-16 18:27] thetylerb opened #5424 "Recommendation"
Overall great stuff. I'd like to see an example for accessing attribute metadata via reflection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adab8285-18b5-04e4-1070-6edf45b5b5db
* Version Independent ID: 395b4146-4601-558d-c94d-4997879f74d5
* Content: [C# Attributes - A tour of the C# language](https://docs.microsof

[2018-05-16 18:39] #5259 closed

[2018-05-16 20:21] bciesielski opened #5430 "docs/docs/framework/tools/index.md VSDownloads link is dead"
docs/docs/framework/tools/index.md

Visual Studio Downloads link is dead

[2018-05-16 21:11] rpetrusha commented on #4490
Unfortunately, @spottedmahn, there is no update. Thanks, though, for pinging me. I'll schedule some time during our next sprint to work on a plan for the revision.

[2018-05-16 21:26] BillWagner opened #5432 "New content: tutorial on using C# Tuples"
There are a lot of good uses for tuples and deconstruction that create more readable and concise code.  Consider:

1. constructors that assign multiple fields.
1. Assignment operators
1. Equality tests
1. GetHashCode implementations

There are likely others. This would show a few samples of the different techniques, and explain the pros and cons of each choice.

See [#5390 - comment](https://githu

[2018-05-16 21:26] #3965 closed

[2018-05-16 21:27] rpetrusha commented on #5413
Thanks, @lostllama, for pointing out that the documentation is in need of revision.  The warning message generated by the compiler for calls to the GlobalProxySelection.GetEmptyWebProxy method indicates that `null` should be assigned to the Proxy property. We'll update the documentation to reflect that.

[2018-05-16 21:42] mairaw commented on #5419
Thanks for bringing this to our attention @TanielianVB! I'll check with our engineering team on what might have happened during the content migration.

FYI @wh-alice @yishengjin1413

[2018-05-16 21:48] mairaw commented on #5419
Opened internal bug to track this: #1263173

[2018-05-16 21:51] TRegan3 opened #5433 "Why do I need to run the Windows Identity Federation Utility to get this to work?"
I have a functioning AD FS running.  When I point to it and run this code I get an error message telling me I am not authenticated and lack permission to view the page.  However, if I run the Windows Identity Federation Utility against the web site (it inserts a lot of Microsoft.Identity tags into the web.config and creates a FederationMetadata.xml file) the site works.  Should I need to run the I

[2018-05-16 21:58] mairaw commented on #5430
Hi @bciesielski, can you tell me where do you see that link?

[2018-05-16 21:58] rpetrusha commented on #4727
I think that this work has been done except for example code, which is covered by a separate PR. There are probably a few oversights, but not a sufficient number to leave this PR open. At least, that's my sense. Is that yours as well, @BIllWagner?

[2018-05-16 22:04] #5345 closed

[2018-05-16 22:43] rpetrusha commented on #5424
Thanks for the compliment as well as the suggestion, @thetylerb. The topic could definitely use an example that shows how to access attributes using reflection. In the meantime, you can see examples that access custom attributes in the [MemberInfo.GetCustomAttributes method](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.getcustomattributes?view=netframework-4.7.2) docume

[2018-05-16 23:16] mairaw commented on #5430
Never mind. @rpetrusha helped me find the broken link. I've opened a PR to fix this. Thanks for reporting!

[2018-05-17 02:34] mairaw commented on #5346
Thank you for your feedback @DaisyDave. I'll get this addressed as part of other changes I'm making to the tutorials.

[2018-05-17 06:10] xLabel commented on #5345
@mairaw : )

[2018-05-17 06:30] hemantsathe opened #5437 "Updating the book content for .net core 2.1"
Please update the contents of the book for .net core 2.1 as there are many new additions on technology stack.

Regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 031b20ec-7583-8277-f7a6-69ff3beffeac
* Version Independent ID: 9cc14513-c458-d615-9615-7003c614b7cd
* Content: [.NET Microservices. Architecture for Contai

[2018-05-17 07:57] ronbutan commented on #5385
Appreciate the speedy response.  I was wondering how to construct the class (i.e. IrisData) with multi labels (e.g. public string Label vs public string[] Labels). A simple code sample will definitely help.

[2018-05-17 11:08] BillWagner commented on #5346
@mairaw When I was running these, I noticed that the number of ".." needed changed if you F5 from Visual Studio, or ran from the CLI using "dotnet run". We should make a note of that, even if the tutorial assumes Visual Studio.

[2018-05-17 11:10] BillWagner commented on #5437
Thanks for pointing this out.  PR #5411 has the changes you want. We're reviewing it now.

[2018-05-17 11:55] Mackiovello commented on #4801
@rpetrusha is there anything left for this issue?

[2018-05-17 11:58] Mackiovello commented on #5415
It's explained right below in the explanation:

[2018-05-17 13:38] bciesielski commented on #5430
Ok, no problem ! 👍

[2018-05-17 14:09] dmackersie opened #5440 ""Run" feature displays erroneous results!"
The "Run" feature is cool, but some of the results appear different than the expected results shown in the comments!
1. Leading spaces in the first line of output appear to be stripped, resulting in alignment issues.
2. Currency symbol isn't displayed correctly.
3. DateTime "d" format gets displayed as "MM/d/yyyy" instead of "M/d/yyyy" as I would expect for en-US.

Also, DateTime.Now doesn't retri

[2018-05-17 15:06] dmackersie commented on #5440
Confirmed that the Run feature seems to be running in invariant culture. Adding the following lines of code to the start of the DateTime and Currency examples fixes those formatting issues:

[code]

[2018-05-17 15:22] MSABHelsing opened #5443 "Object by reference"
I am completely new to WCF and are looking into migrating some DCOM code. I am trying to understand the "The service returns an object by reference" example.

The intention in the example seems to be to create an instance of SessionBoundObject in the GetInstanceAddress method on the server side and send the address of that object back to the client. But it doesn't seem to do that. When sessionBoun

[2018-05-17 17:33] LionOfJewdah opened #5446 "Typo in first example"
First instance of "_httpClient.DownloadStringAsync" should be "GetStringAsync".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed82a3-99c1-0893-4e81-d095b4757ecc
* Version Independent ID: 3765200b-43e5-441c-b290-709c34dd2f6d
* Content: [Asynchronous programming](https://docs.microsoft.com/en-us/dotnet/csharp/async#fe

[2018-05-17 17:37] #5430 closed

[2018-05-17 18:33] mairaw commented on #5417
Thank you @svick for jumping in and helping with this question. I'll close this issue then.

[2018-05-17 18:33] #5417 closed

[2018-05-17 18:41] rpetrusha commented on #5415
Closing, since the explanation given in the documentation is adequate. If you disagree, @evilprince2009. please respond in this issue.

[2018-05-17 18:41] #5415 closed

[2018-05-17 18:42] cartermp opened #5447 "Move F# VS docs over to the Visual Studio documentation repo"
The following articles:

* https://docs.microsoft.com/dotnet/fsharp/using-fsharp-in-visual-studio/visual-fsharp-development-environment-features
* https://docs.microsoft.com/dotnet/fsharp/using-fsharp-in-visual-studio/configuring-projects
* https://docs.microsoft.com/en-us/dotnet/fsharp/using-fsharp-in-visual-studio/targeting-older-versions-of-net

Are not really about F#, they are about F# suppor

[2018-05-17 18:48] rpetrusha commented on #5440
Your're correct, @dmackersie, that the current culture for the sample environment is the invariant culture. Eventually, the current culture will be the defined by the culture reported by the user's browser, but the work to do that hasn't been completed.

//cc @LadyNaggaga

[2018-05-17 19:41] Powerhelmsman opened #5450 "Integrate notebook for F#"
It's awesome that F# is supported on Jupyter notebooks. It could be really beneficial to integrate that into the F# guide (maybe even create the whole guide as a notebook) in order to enable people to run the examples in the browser.
This issue is transferred from https://github.com/MicrosoftDocs/feedback/issues/71

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-05-17 19:44] mairaw commented on #5450
Tagging @cartermp to take a look.

[2018-05-17 20:11] gewarren commented on #5447
@mairaw @cartermp yes I think those 2 (or 3) should be moved to the VS docs. Do you agree Maira? I will create a task for myself if so.

[2018-05-17 20:25] Powerhelmsman opened #5451 "Add versioning to Programming Guides"
I programming guides, if best practices or recommended guidance changes between library versions, provide a way to select the version of .NET (or Core, etc) that you're using. This would be better than always providing docs on the latest versions.
For example, in the C# Programming Guide, Pattern Matching may be the best way of achieving something in the latest code, but it would not be possible w

[2018-05-17 20:34] mairaw commented on #5447
I'm fine with that. I think the last especially needs some work. So you might have to work with @cartermp to update that one.

[2018-05-17 21:34] mikkelbu commented on #5410
@BillWagner I just tried to compare the pages under `dotnet/docs/tree/master/docs/csharp/language-reference/compiler-messages` with [list for C#] (https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Errors/ErrorCode.cs#L1544) and it seems as though are missing most of the compiler messages (we have 136 entries in docs vs. approx. 1500 values in the `ErrorCode`. So I think it

[2018-05-17 21:39] BillWagner commented on #5410
@mikkelbu That's the plan @rpetrusha are working on putting together.  We'll also have a similar project for VB.  Stay tuned. We'd love your help.

[2018-05-17 22:35] svick commented on #5450
Wouldn't it make more sense to add support for F# to Try.NET?

[2018-05-17 22:46] mairaw commented on #5450
Oh yes! Tagging @LadyNaggaga since she's driving that the Try.NET experience.

[2018-05-17 22:59] cartermp commented on #5450
Not sure if this repo is the appropriate place for the feature request, since there isn't anything we can do from a content perspective aside from mention F# on Azure Notebooks as another option to try F#. I can add that link here: https://docs.microsoft.com/en-us/dotnet/fsharp/#learning-f

[2018-05-18 04:07] dahlsailrunner opened #5455 "Install a template from a MyGet feed?"
I was wondering if it's possible to install a new template from a MyGet feed directly with something like "dotnet new -i MyTemplatePack -Source https://mygetfeed/index.json" or something like that.

I can manually download the template and then install it from the file system, but was hoping to avoid the step.

Thanks.  :)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-18 05:40] pkulikov commented on #5410
@mikkelbu have you considered pages under `dotnet/docs/tree/master/docs/csharp/misc`?
(There is the issue to combine those two locations: #1491)

[2018-05-18 06:48] Juraj2 opened #5457 "A typo?"
In Supported .NET implementations sections I see .NET Standard 2.0 is supported by .NET Framework 4.6.1 or later. However on https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies the .NET 4.7.1 has comment that Support for .NET Standard 2.0 was added. Is there a typo in the document? Or do you mean a general support so that it is possible to run .NET Standard

[2018-05-18 06:54] mikkelbu commented on #5410
@pkulikov No I forgot about that issue (eventhough I looked at it this week). Then it seems that this it is a smaller task, but still a large task IMHO.

[2018-05-18 07:50] pkulikov commented on #5410
As I understand, the first priority is to document error messages. That can be a smaller task, while documenting all the compiler warnings might be an epic :)

[2018-05-18 08:41] jonathanlisoan opened #5458 "String Default value"
Hi everyone, I want to know if the VB6 String is nullable?. Please consider this
Dim TestStr As String
without assigning a value, what is the value of TestStr it is 'null' or empty ""?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b539a9b-fd9c-f976-39eb-f9ec93af4577
* Version Independent ID: e31c7343-4126-81b8-b976-5

[2018-05-18 09:14] jcurl commented on #5120
Would it help if I put my repository on GitHub which I try to implement the rules?

[2018-05-18 09:50] ArntWork opened #5459 "specifying multiple files is documented wrong?"
Looking at this https://social.msdn.microsoft.com/Forums/vstudio/en-US/552e54a5-72f8-477a-85ca-98877b3e9144/sign-multiple-files?forum=vsx I can see where the confusion in that thread started:
"signtool [command] [options] [file_name | ...] "
Looking at the last bit, why is there a | after filename? It doesn't seem to make sense no matter what style of showing options you follow. [] means optional,

[2018-05-18 10:30] svick commented on #5457
No, that's not a typo. .Net Framework 4.6.1 does support .Net Standard 2.0, but .Net Framework 4.7.1 improved that support. For more information, see https://github.com/dotnet/standard/issues/514.

[2018-05-18 10:53] cvollmann opened #5460 "Missing PowerShell example"
Please add a PowerShell example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433b4c70-07c8-34c3-b567-22c80b71c5e2
* Version Independent ID: e3699917-899c-85fd-44f2-942b317cb8ff
* Content: [How to: Install and Uninstall Services](https://docs.microsoft.com/en-us/dotnet/framework/windows-services/how-to-install-and-un

[2018-05-18 11:20] jho1965us opened #5461 "ArgumentException adding existing ServiceMetadataBehavior"
if the Find<ServiceMetadataBehavior>() call return a non-null value I get an ArgumentException in the line:
svcHost.Description.Behaviors.Add(smb);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf2e7c5-e1ff-bff3-1ab9-18b968b5860d
* Version Independent ID: 889e0c49-7c7a-e6f8-562a-4cc0be353bb7
* Content: [How to: Publi

[2018-05-18 14:01] sheilabates157 opened #5462 "Interpolation quickstart"
There's a pretty big jump between the previous quickstart and this quickstart. You've introduced concepts without explaining them - like "public". I honestly thought that I had missed some sections between the previous qs and this qs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6c237cc-f595-dc78-f09a-fd1c688fe3e2
*

[2018-05-18 14:37] Jahanaray opened #5463 "ML.NET"
thanks for ML.NET,
but this tutorial and documentation is really disappointing!!! We need better documentation ASAP!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e855e630-1a30-d138-4ac6-bfeefebf9aae
* Version Independent ID: afc0a7d1-d3c2-acf2-d4ea-d2565e22b237
* Content: [ML.NET tutorials](https://docs.microsoft.com

[2018-05-18 15:39] BillWagner commented on #5462
Thanks for the feedback @sheilabates157

I'll look at adding a new quickstart to fill those gaps, or rearranging them in a different order.

[2018-05-18 15:45] BillWagner commented on #5461
Thanks for reporting this @jho1965us

I think everything through step 7 should be in the `if` class on the test of `if (smb == null)`, but I haven't verified that yet.

[2018-05-18 15:47] BillWagner commented on #5460
Thanks for reporting this @cvollmann

We've added it to our backlog, and we'll add a Powershell sample as we update these docs.

I've also added the **up-for-grabs** label, and added it to our community project. We've had some community members with an interest in powershell add examples in this area.

[2018-05-18 15:50] BillWagner commented on #5459
Thanks for reporting this @ArntWork

We've added this to our backlog, and we'll schedule it in one of our upcoming sprints.

[2018-05-18 15:52] BillWagner commented on #5457
As @svick has commented, this isn't a typo, and the docs are correct.  Closing this.

[2018-05-18 16:04] pkulikov commented on #5462
@sheilabates157 are there any other terms or concepts in the quickstart that are confusing? Are they blocking to go through the quickstart? Would a mere link to the language reference (for example, to [public keyword](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/public)) be already helpful? Any answers can help to improve the topic and are much appreciated.

@BillWagn

[2018-05-18 16:07] mhallmark opened #5464 "Last Example"
On the last example on testing your person class, wouldn't you get compilation errors when trying to access the name field? Also, if the name field was publicly exposed, shouldn't it be pascal case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4343ac18-37c1-9a3e-0210-b69bf924db91
* Version Independent ID: 19d63151-4d

[2018-05-18 16:08] pkulikov commented on #5463
@Jahanaray what disappoints you the most in the current documentation on ML.NET? Level of tutorials, its number and variety?

[2018-05-18 16:13] pkulikov commented on #5464
@mhallmark you're right, the field is private, thanks!

@BillWagner which solution is to implement: (1) make the field public, or (2) introduce the `Name` property and remove the `SetName` method?

[2018-05-18 16:48] aditidugar commented on #5385
Hey @ronbutan! Thanks for the clarification here, I think we may have misunderstood your earlier question. Here is some guidance that may help:

1. Multi-label classification: If you're looking to classify more than one label (predicting iris type in addition to petal size for example), then we unfortunately do not support this at the moment. The guidance here would be to train individual models f

[2018-05-18 17:46] rpetrusha commented on #5410
There's also #2363, which treats storing C# and VB error messages/warnings in a unified directory per language. Moving files from a `misc` directory to the directory in language-reference is fairly trivial. Since we'd be moving everything, we can just do a global redirect of all requests for docs.microsoft.com/dotnet/csharp/misc to docs.microsoft.com/dotnet/csharp/language-reference/compiler-messa

[2018-05-18 17:54] mairaw commented on #4504
Thanks @ChrisMaddock. I just noticed your question, I'm sorry. The way you've been doing the recent PRs is perfect.

[2018-05-18 18:01] ChrisMaddock commented on #4504
Thanks @mairaw! 🙂

On the above, I realised that roughly 1400/1611 links were all msdn. I may do one PR for all of those at some point given it's a single domain - but msdn redirects to https anyway, so I didn't think it particularly worth the effort at the time. 😄

[2018-05-18 18:09] sheilabates157 commented on #5462
Petr,
              A link would helpful.  Maybe the concept of custom data types and the properties is a little complex for me.  I will do some further research on my own.

Thanks,
Sheila

From: Petr Kulikov [mailto:notifications@github.com]
Sent: Friday, May 18, 2018 12:05 PM
To: dotnet/docs <docs@noreply.github.com>
Cc: Sheila Bates <Sheila.Bates@nutramfg.com>; Mention <mention@noreply.github.c

[2018-05-18 18:09] ChrisMaddock commented on #1931
@mairaw - I see this issue's currently assigned to you, is it open to community contributions, or are you working on something to cover it all? 😄

Just seems like another fun little script challenge. 🙂

[2018-05-18 19:51] mairaw commented on #5463
Also, this product is on a very early preview state, so we're still building out the documentation for it. Let us know what you'd like to see more.

/cc @aditidugar

[2018-05-18 19:54] mairaw commented on #5437
And I believe there are more content updates coming. @CESARDELATORRE please take a look.

[2018-05-18 20:41] hrumhurum opened #5472 "Can global.json be used for something else?"
For example, can a product license key be stored in global.json for a commercial product distributed via NuGet?

Like so:

{
  "ContosoCRM": {
    "LicenseKey": "AAAAA-BBBBB-CCCCC-DDDDD-EEEEE"
  }
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42

[2018-05-18 21:03] #5446 closed

[2018-05-18 22:03] PeteX opened #5474 "Asymptotic complexity of actions on .NET collections"
Hello,

I was wondering if it would be possible to expand the System.Collections documentation so it spells out the big-O cost of the different operations.  (Alternatively, it would be enough to state the underlying algorithm, because then the complexity is easy to determine.)

For example, I've just had a need for a sorted list of objects, which must support efficient insertion and deletion.  I a

[2018-05-18 22:23] IKoshelev opened #5475 "Example of hosting imperative code (code-only) via IIS (all configuration in Web.config only) needed."
I can't seem to find anywhere an example of hosting imperative code workflow as a WCF service in IIS (when service is configured and started via Web.config only). This is a major functionality, needed by my current team, that seems to be there, but we just can't launch our code. Can someone please provide a tutorial on it, or at least point me to a working example?

---
#### Document Details

⚠ *D

[2018-05-18 23:39] #5217 closed

[2018-05-18 23:59] mairaw commented on #1931
@ChrisMaddock I barely got started on that and with .NET Core 2.1 RTM approaching, I don't think I'll be able to focus on this one for the next couple of weeks. I'll put it back to the backlog.

[2018-05-19 00:44] mairaw commented on #4504
Yeah that sounds appropriate @ChrisMaddock. And we'll be redirecting the msdn content over to Docs, so we'll have to revisit all the msdn links anyway.

[2018-05-19 00:55] mairaw commented on #5457
I'm reopening this. I think we should add the work built-in to that topic as @terrajobst points out in the issue.

[2018-05-19 01:20] terrajobst commented on #5457
Agreed. The key is that with .NET Framework 4.7.1, the .NET Standard 2.0 support is built-into the framework.

[2018-05-19 04:10] #5457 closed

[2018-05-19 09:32] GRXoft opened #5483 "Erroneous accessor descriptions"
In the [Defining Your Own Attached Events as Routed Events](https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/attached-events-overview#defining-your-own-attached-events-as-routed-events) section descriptions of both *Add\*Handler* and *Remove\*Handler* accessors are wrong. Namely, they state that the first parameter should identify the event, when really the first parameter should ide

[2018-05-19 10:26] svick commented on #5474
Some methods and types have their asymptotic complexity documented, so I think it would help if you listed where exactly do you think complexity is missing.

For example, [the documentation for `SortedSet<T>.Remove`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.sortedset-1.remove?view=netframework-4.7.2) says that it's an O(log n) operation. Though [the documentation for

[2018-05-19 13:59] Dijenek91 opened #5484 "MyEndpointBehavior()"
Please explain and add additional information how to create our own EndpointBehavior.

Best regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6133901-f087-25a1-77e6-ab37e2d1bcf6
* Version Independent ID: dcf239d3-4a85-00ed-b8ad-8f9a8e8ac983
* Content: [Configuring WCF Services in Code](https://docs.microsoft.com

[2018-05-19 15:38] svick opened #5485 "Consider simplifying the Dispose pattern"
The article [*Implementing a Dispose method*](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose) says that types that implement the `IDisposable` interface should implement the dispose pattern:

[code]

A lot of this code is only there to make it easier to have a derived class that has a finalizer:

[code]

 But since finalizers should almost never be used, I

[2018-05-19 17:29] IKoshelev commented on #5475
I've gathered information from different tutorials and made a minimalistic project demonstrating how to create a code-only windows workflow and host it as WCF service https://github.com/IKoshelev/worfkflow-codeonly-hosted-sample

[2018-05-19 18:12] danroth27 opened #5486 "Document behavior when specified SDK version in global.json is not available"
What happens if the specified SDK version in global.json is not found? Will it use a newer version if available? Is it an error if the specified version is not found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94c335b-0b65-96cc-1c25-65777fbe4bb5
* Version Independent ID: 6d80613f-42dc-35d7-aeff-3187a36dbbca
* Cont

[2018-05-19 19:46] AdamUCF opened #5487 "Insecure samples"
The web.config samples in step 2 specify things that should almost never be done outside of a test app. requireSsl="false" and requireHttps="false" should both be true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8056ac34-1796-8082-572a-bb75f2af6395
* Version Independent ID: f382bce9-6e5b-cb9f-7e01-e2f55786b042
* Co

[2018-05-19 20:18] douglaslMS commented on #5414
@TNwestpointtg I'm talking to my ADO.NET product team contacts to confirm the precise language to use for this case, to make sure we get it right on the first try.

[2018-05-20 00:51] mairaw commented on #5486
Thanks @danroth27. This is being addressed by PR #4704 that I hope to merge this week. Let me know if that doesn’t answer the question.

[2018-05-20 07:35] Bunny2000 opened #5488 "This example is incomplete"
The final step of how to add records to the orders table related to each customer record is missing. Obviously in this example we know the customer id and can simply call the add method on the orders table and add a row. But if the primary key was an int32 with auto increment set true how can i find the value of this key so i can add records to the child table?

---
#### Document Details

⚠ *Do no

[2018-05-20 07:37] BiggerChina opened #5489 "I use the method mentioned in the example of this page to check the connection status of a socket, but i does not behavior well."
I use the method mentioned in the example of this page  to check the connection status of a socket on server side, but i does not behavior well.

my test client was closed , but the server cannot found it.

use the

remoteSocket.Send(new byte[0],0,0) ;
always return 0, and no throw exception
and then I check the Connected Property , it is true.

but ,my client  app was closed!

---
#### Document D

[2018-05-20 13:16] jinek opened #5492 "No exception information"
At least ArgumentNullException will be thrown if null is passed as reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf82ac6-ac7b-8e3c-ff1f-d3c561df0296
* Version Independent ID: 948a5d42-3692-1fec-ef18-07e8d2f4ebb5
* Content: [VisualTreeHelper.GetParent(DependencyObject) Method (System.Windows.Media)](https://