[2018-10-12 14:27] parthpandyappp commented on #7913
Why tjis PR didn't merged...?

[2018-10-12 14:29] parthpandyappp commented on #7913
Why this PR didn't got merged...?

[2018-10-12 14:31] svick commented on #7913
@parthpandyappp

@rpetrusha gave you an explanation when he closed your PR in https://github.com/dotnet/docs/pull/8157#issuecomment-427948943. Is that not sufficient for you?

[2018-10-12 14:35] parthpandyappp commented on #7913
@svick Yes.!
He said that these books were very useful to him the also that PR didn't got merged...?

[2018-10-12 14:57] #8183 closed

[2018-10-12 15:15] #8257 closed

[2018-10-12 15:17] #7890 closed

[2018-10-12 16:20] #7210 closed

[2018-10-12 16:33] karelz commented on #4975
@richlander already simplified the page in PR #6769 in August. C++ is not mentioned anymore, closing.
(Let me know if I missed anything, we can reopen in such case)

[2018-10-12 16:33] #4975 closed

[2018-10-12 16:44] Thraka commented on #8273
@perennialmind Hi!

Are you saying that the "**does not take leap seconds into account**" should be a bit more clear about where those seconds come from, as the `ToUnixTimeSeconds` method explains it?

[2018-10-12 16:47] Thraka commented on #8295
I agree. The DI acronym doesn't even need to really be used here. It could just be spelled out.

[2018-10-12 16:51] Thraka commented on #8295
@maverickelementalch I marked this as **up-for-grabs** as a good fix that can be done by the community. If you would like to make this change, please follow the simple instructions at the [contributor guide](https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-edit-article?branch=master#update-an-existing-article).

Thanks!

[2018-10-12 17:04] wmstantoniii opened #8300 "thanks for the clear and simple explanation!"
"A lambda expression does not have a compile time type, but is convertible to any matching delegate or expression type."

This small note clarifies everything i've been struggling with in Jon Skeet's book, "C# in Depth", Chapter 9, Expression Trees.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ac9aa16-d188-80cc-fc30

[2018-10-12 17:05] rpetrusha commented on #8292
Thanks, @bernd-herzog, for pointing this out. We'll update the documentation shortly.

[2018-10-12 17:07] mairaw commented on #7584
@shortpatti did you find anything?

[2018-10-12 17:09] mairaw commented on #7100
Ok, thanks for the confirmation. I'll address it shortly.

[2018-10-12 17:15] shortpatti commented on #7584
@mairaw, I apologize for the delay in responding.  I'll do some investigating this afternoon and I'll let you know my suggestions  :)

[2018-10-12 17:27] shortpatti commented on #7584
@mairaw, I think a good location would be in the NPS section of the server content, either in the [Plan Network Policy Server](https://docs.microsoft.com/en-us/windows-server/networking/technologies/nps/nps-plan-server) or on the [Deploy Network Policy Server](https://docs.microsoft.com/en-us/windows-server/networking/technologies/nps/nps-deploy).

[2018-10-12 17:45] gronk555 opened #8302 "bad example"
string value = ""; //may give impression that it will stay "" if "tif" key is not found
if (openWith.TryGetValue("tif", out value)) // but value will become null

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41dfd07d-9111-765b-0900-a76b768e176a
* Version Independent ID: 9302710e-bb44-7a89-4ba5-217a1f987115
* Content:

[2018-10-12 18:20] tmat opened #8304 "It'd be useful to document how to distinguish directory entry from file entry."
https://stackoverflow.com/questions/40223451/how-to-tell-if-a-ziparchiveentry-is-directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d8a364-ffe9-8ab4-2a66-f4603464b708
* Version Independent ID: 09ac7527-ba53-7e12-f09b-16a6a919e829
* Content: [ZipArchiveEntry Class (System.IO.Compression)](https://docs.microsoft.

[2018-10-12 18:34] mairaw commented on #8295
@mvelosop FYI on an e-book issue and PR

[2018-10-12 19:31] #7556 closed

[2018-10-12 19:59] DavidRueter opened #8308 "Load(XmlReader) when XmlReader was newly created with .ReadSubtree()"
Documentation should note that when calling XElement.Load(subReader) where subReader was previously created with subReader= myReader.ReadSubtree() you may receive an error "The XmlReader state should be EndOfFile after this operation.".

To work around this problem, you can call XElement.Load(subReader.ReadSubtree())

See:  https://stackoverflow.com/a/5510781

---
#### Document Details

⚠ *Do not

[2018-10-12 20:16] A-Gaston commented on #8268
I ended up foregoing using File.Encrypt for another solution. However, I still maintain that the resources provide for this method are incredibly vague. Vague enough for me to seek out other solutions before evening trying to fool with it.

[2018-10-12 20:54] #7741 closed

[2018-10-12 21:17] gaazkam opened #8312 "What is "the sort order"?"
&gt; indicates whether the current object is before, after, or in the same position as the specified object in the sort order.

What is "the sort order"?

I SUPPOSE (from the example) that the tuples are compared lexicographically?

If yes, might I suggest mentioning this explicitely in the docs?

IMHO it'd be better if the reader wouldn't have to infer such info from the examples or own testing b

[2018-10-12 21:46] mairaw commented on #7543
This work is done now. Thanks for your help @dend! Closing.

[2018-10-12 21:46] #7543 closed

[2018-10-13 00:01] #7594 closed

[2018-10-13 00:29] #8292 closed

[2018-10-13 00:34] CESARDELATORRE commented on #8295
DI means means "Dependency Injection".
The paragraph "_The final principle, the Dependency Inversion (DI) principle, allows you to decouple the infrastructure layer from the rest of the layers, which allows a better decoupled implementation of the DDD layers_." just needs to have deleted the "(DI)" acronym, that's a typo.
Also, instead of just "_DI is one way to implement the Dependency Inversion

[2018-10-13 01:50] #8295 closed

[2018-10-13 01:51] Mackiovello commented on #6270
I'll take care of this once I've gotten feedback from https://github.com/dotnet/samples/pull/377 to make sure I'm doing it right.

[2018-10-13 04:09] RussKie opened #8316 "Poor example"
What's the go with this example? The example must be about the `Control.HandleCreated` event and not about how one does show a message box in an event handler.
There has to be a better explanation about the actual event, how often and under what circumstances it occurs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b

[2018-10-13 09:01] daxia888 opened #8319 "ChromiumWebBrowser.AutoScrollOffset=new Point(100,100);"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9662c2a0-38f5-3ae6-203b-f8218ec5303e
* Version Independent ID: b022e879-9531-f798-453a-6cd66ab23080
* Content: [Control.AutoScrollOffset Property (System.Windows.Forms)](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.autoscro

[2018-10-13 20:38] gojanpaolo opened #8325 "Any samples on how to use GetPreviousVersion?"
The docs says
&gt; You can use the `GetPreviousVersion` method in conjunction with the `Upgrade` method...

But I'm left clueless on where to start. Can we include a code sample here?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6640792-2ea3-8839-93b8-ea03e86d9ef2
* Version Independent ID: 64a8c71d-9513-767

[2018-10-13 22:46] Arush-Agarampur opened #8326 "The Win32 Clock interoperation sample link is broken"
That link at the very bottom of the page under the last picture is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36a9db1-2776-6334-0438-f174d9c249db
* Version Independent ID: b62b7131-3e43-8e3a-251a-19f348006c70
* Content: [Walkthrough: Hosting a WPF Clock in Win32](https://docs.microsoft.com/en-us/dotnet/fra

[2018-10-14 06:40] drieseng opened #8327 "Remove(TKey, TValue) overload does not apply to any (released) .NET Standard version"
The Remove(TKey, TValue) overload does not apply to any (released) .NET Standard version.
I will only be available in .NET Standard 2.1 (which is not yet released).
Is the "Applies to" section generated automatically? If yes, from what source?

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: f7421c53-c788

[2018-10-14 06:45] drieseng commented on #8327
@terrajobst, it appears the doc page does not make a distinction between overloads of a given method. In case of the `Dictionary<TKey,TValue>.Remove()` overloads, this makes one believe that `Dictionary<TKey,TValue>.Remove(TKey, out TValue)` is available in all versions of .NET Standard while it applies to none of the released versions.

[2018-10-14 10:47] svick commented on #8327
I believe the general request about Applies To is already tracked at https://github.com/MicrosoftDocs/feedback/issues/314.

[2018-10-14 11:34] mrmsbarnes commented on #7694
There _are_ still beginners.  We come here for the needed details.
I agree with SimpleSamples' posts, especially this one.

[2018-10-14 15:17] xamarin-volkan opened #8329 "Need some clarification or an example"
"Attempting to unbox null causes a NullReferenceException."

How can I code a sample for unboxing a null value?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a88bb6-664f-99b3-07be-22a666888d11
* Version Independent ID: bea53588-8e8d-5f80-d572-178cd8ba48cb
* Content: [Boxing and Unboxing (C# Programming Guide

[2018-10-14 15:21] volkan-yazilim opened #8330 "Need some clarification or an example of unboxing"
"Attempting to unbox a reference to an incompatible value type causes an InvalidCastException. "

I have coded and tried to any other value type than the original one. See below.
Should this sentence be changed to "Attempting to unbox a reference to the original value type causes an InvalidCastException." or what?

Thanks

int i = 1;
object o = i;
int a = (int)o; // OK
bool a = (bool)o; // NOT OK.

[2018-10-14 20:32] svick opened #8352 "Small error in an image in Library guidance"
The multi-targeting image is incorrect: .Net Framework 4.6 wouldn't be able to use the .Net Standard 2.0 version of the assembly, since .Net Standard 2.0 is only supported on .Net Framework 4.6.1 and newer.

![](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/media/cross-platform-targeting/nuget-package-multiple-assemblies.png)

---
#### Document Details

⚠ *Do not edit this sect

[2018-10-15 00:55] tymtam2 commented on #7741
Re:Closed
If I look at https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.concurrentstack-1?view=netframework-4.7.2
it still have the problem. :/

[2018-10-15 05:51] mredulorfiaz opened #8355 "Very good"
It was very helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a60f9-0bd8-b432-653a-069c477a93fe
* Version Independent ID: dbc29edd-b142-f2d7-4824-dec9951f32c7
* Content: [Using Properties (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/using-propertie

[2018-10-15 05:52] #8355 closed

[2018-10-15 06:29] IrvinDominin opened #8356 "Example"
The example is break in two code blocks, but it can be in a simpler one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c7a842-1fdc-744f-ff56-c7f4c20b5045
* Version Independent ID: c40a8f7b-0957-2cde-5aae-b86076870ab5
* Content: [WsdlContractConversionContext Class (System.ServiceModel.Description)](https://docs.micro

[2018-10-15 11:01] 0ndrej opened #8357 "Examples are in wrong language"
I have language set to VB, but example is only in C++.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08785977-8dc8-33ef-116b-f9c854cb4428
* Version Independent ID: 36904a92-162e-ef68-b214-f09840b37f09
* Content: [MailMessage Class (System.Net.Mail)](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.mailmessa

[2018-10-15 13:57] BillWagner opened #8358 "Provide navigation to work locally at the end of all online tutorials"
At the end of each online tutorial, we need to provide navigation links to suggest:

1. Download the .NET Core SDK.
1. Download Visual Studio, Visual Studio for Mac, or VS Code.
1. Continue learning using the local environment tutorials.

This gives all readers the chance to make their own decisions about when to move from working online, in the browser based sandbox, and installing tools and work

[2018-10-15 14:05] BillWagner opened #8359 "Rename C# Quickstarts as C# Tutorials"
Search data indicates that the term "QuickStart" is not a common search term, when associated with a programming language.

The quickstarts will be rebranded as tutorials, with updated redirection and terminology throughout those articles.

In addition, the String Interpolation quickstart will move to the section with the other tutorials as it assumes more existing knowledge of C# and .NET.

Track

[2018-10-15 15:41] pkulikov commented on #8359
@BillWagner I'd be happy to contribute to the string interpolation part of this issue.

Does that mean that during the move, the quickstart can be simplified by removing the bits that explain what class is, what property is? In that case the quickstart becomes the subset of the current tutorial:
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/string-interpolation

Do you think those two s

[2018-10-15 15:49] alexanderkozlenko opened #8361 "A fixed URL to the project license"
A URL to the project license may be specified as a permanent link to the corresponding file based on a commit ID If a version control service supports such approach) to guarantee that each version of the NuGet package is linked to the proper version of the license. For example, for GitHub, you can change the branch name to the latest commit ID at the moment of packaging (https://github.com/JamesNK

[2018-10-15 16:31] #8274 closed

[2018-10-15 16:39] v0l opened #8362 "Calling thread blocking operations in tasks"
Hi,

Can we please not show examples of code that blocks threads in the ThreadPool, this is a bad practice, its very easy for people to lock their code if they have long running tasks and the thread pool becomes starved. Please replace this code with threads instead.

Thanks,
Kieran

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-10-15 16:52] HCStymie opened #8363 "Clarification of exception thrown in transaction scope."
"If no exception occurs within the transaction scope (that is, between the initialization of the TransactionScope object and the calling of its Dispose method), then the transaction in which the scope participates is allowed to proceed. If an exception does occur within the transaction scope, the transaction in which it participates will be rolled back."

Is this intended to mean to rollback you n

[2018-10-15 17:22] rpetrusha opened #8364 "Change absolute https://docs.microsoft.com/dotnet links to relative links"
## Change absolute https://docs.microsoft.com/dotnet links to relative links

There are a number of fully qualified URLs in the dotnet/docs repo that point to files in the dotnet/docs repo itself. These can be changed to relative links. For example, `https://docs.microsoft.com/dotnet/csharp/somearticle.md` can be changed a relative link.

There may also be some links in the dotnet/dotnet-api-docs

[2018-10-15 17:37] BloodBaz opened #8365 "Example Code missing from Examples section"
The Examples section states "In the example below, MessageName is used to disambiguate the two Add methods." but there is no example provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63da28b0-d113-c176-a2f3-73aa2f10492a
* Version Independent ID: d71899ef-2b88-f330-b1c8-862cf5bed335
* Content: [WebMethodAttribute

[2018-10-15 17:39] BloodBaz opened #8366 "Code examples missing"
Code examples are missing from (what appears to be) all Example sections in the system.web.services documentation.  Presumably there has been a migration problem with this?  Example section content makes reference to these codes samples but they don't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aab6d02-aba4-

[2018-10-15 17:44] davidsh commented on #4675
Not really.  Support for the various TLS protocols depends on a number of factors including .NET version and Windows OS version.  And "support" could mean different things, i.e. "Is TLS 1.2 the default protocol" or "Can TLS 1.2 be used if explicitly specified etc.".

cc: @karelz

[2018-10-15 18:10] CoolDadTx opened #8368 "SDK Project Packaging Shouldn't be Recommended Yet"
There are too many gaps between the SDK project packaging and a standard nuspec file. The guidelines should only recommend this approach for the most basic of packages.  Known list of issues that I'm aware of:

1) Doesn't support all the standard NuGet specifiers that nuspec does.
2) Cannot have more than 1 DLL per package.
3) Cannot use project references at all unless you are OK with always rele

[2018-10-15 18:13] LisandroSu opened #8369 "ListVIew closing tag in separated XAML block"
@Prodigio commented on [Mon Oct 15 2018](https://github.com/dotnet/docs.de-de/issues/105)

The closing tag of `ListView` is separated from the XAML block. Should be together.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 3afc3f4f-bb7e-97fa-8ae2-31b5a550978b
* Version Independent ID: 27

[2018-10-15 18:13] LisandroSu commented on #8369
Hi Team,

Please check the issue.

Thanks!

[2018-10-15 18:19] terrajobst commented on #8327
@dend this seems to be a conceptual bug in the way we render that information. Platform availability applies to each overload INDIVIDUALLY. We shouldn't merge this.

[2018-10-15 18:30] SamuelEnglard opened #8370 "Authenticode and .NET/MSBuild"
The link for using Authenticode is for signing Windows drivers/C++ code. Would be nice to have documentation for signing .NET code using and/or using MSBuild to do so. Maybe not in this section but in general.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b392eb-c8a1-147f-e3fb-35b8ec702d53
* Version Independent ID:

[2018-10-15 19:09] simshaun opened #8371 "Add reference to "subscribing to an event" in regards to += operator"
Hi,

C# newbie here...

Coming from other languages I've always been used to `+=` meaning "add to" and did a double-take when seeing the `+=` operator used with a lambda on the right-hand side in the following example found at the bottom of the page:

[code]

I had to go searching to find out how that works. It's explained in the C# reference on the += operator of course, but it would be helpful (

[2018-10-15 19:28] #8288 closed

[2018-10-15 19:31] #6999 closed

[2018-10-15 20:44] Tornhoof opened #8378 "Add RepositoryUrl"
As this is specifically for open-source libraries, maybe add a Consider adding RepositoryUrl/RepositoryType to the metadata list or other guidance on how to populate the repository element.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: fc2b4abb-c382-17ef-f1f3-1413ee27aaa0
* Version Ind

[2018-10-15 20:44] JamesNK commented on #8368
It is a recommendation to consider, not something we recommend everyone doing.

Would some additional detail about the limitations of SDK project packaging help?

[2018-10-15 21:04] CoolDadTx commented on #8368
Yes I think it is very important to identify the current limitations because switching to SDK packaging from nuspec is a big deal just to find out it won't work for your case.

[2018-10-15 21:53] csrowell commented on #5949
Some of this information can be found at the following link; possibly they should be consolidated into a single page or section of a page: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creating-and-throwing-exceptions#defining-exception-classes

I also agree with @svick - should either of these guides be blindly recommending the [Serializable] attribute? Or should the

[2018-10-15 22:17] michael-wolfenden opened #8382 "Contradictory advice"
If I have a netstandard 2.0 library that can also target net461 without any code changes, should I ?

"CONSIDER adding a target for net461 when you're offering a netstandard2.0 target" indicates that I should to improve the experience for developers that are still on .NET Framework 4.6.1.

"AVOID using multi-targeting with .NET Standard if your source code is the same for all targets." seems to in

[2018-10-15 22:34] FabrizioCicala opened #8383 "Information about"
Hello,
I'm a Computer Science student and I'm developing a thesis about ransomware. Through my research I found out that some ransomware are implemented in C# and they use the System.Security.Cryptography classes to achieve encryption. In the documentation it is claimed that when a new instance of one of the encryption algorithm classes is created, keys are autogenerated for ease of use, and defau

[2018-10-15 23:29] ranterle opened #8384 "dotnet restore docs don't include information about --interactive switch"
**Issue description**

dotnet restore documentation does not include information about `--interactive` switch.
Somebody told me to use `dotnet restore --interactive` and it didn't work on .NET Core 2.1.3xx because the switch was not known back then, when I installed 2.1.403, it worked, but I don't see this flag mentioned in the documentation.

According to the command line help this switch does:

[2018-10-15 23:42] rvhuang opened #8385 "Breaking Change Should Be Avoided Too"
The breaking changes between versions should be avoided as much as possible. In some situations, if breaking changes are inevitable, a comprehensible migration guide should be presented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310bd372c
* Version Independent ID: 266d08ae-344a-683b-11e2

[2018-10-15 23:43] ChrisMaddock opened #8386 "Dead link"
https://www.myget.org/opensource no longer exists.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e51d820-1f85-192c-9169-cd965581b4f1
* Version Independent ID: 9e7ea8c7-ae47-eda8-4ba0-d5f59a3ade3c
* Content: [Publishing a NuGet package](https://docs.microsoft.com/en-gb/dotnet/standard/library-guidance/publish-nuget-pa

[2018-10-16 00:10] rpetrusha commented on #6796
@pavel-agarkov, I've opened dotnet/dotnet-api-docs#622 to add the exception information. However, I can't reproduce your statement that

Do you have any code that illustrates this?

[2018-10-16 00:18] JamesNK commented on #8386
Hmmm, MyGet may no longer offer a plan for open source projects.

[2018-10-16 00:28] JasonCard commented on #7843
@imba-tjd @mairaw Thank you for reporting this issue. It is now completely fixed in all locales.

[2018-10-16 00:31] JasonCard commented on #7843
@mairaw could you please help to resolve the status of this GitHub issue? I don't have access to change assignee or labels.

[2018-10-16 00:32] lrs5 opened #8388 "Bad link in https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/how-to-animate-an-object-along-a-path-double-animation"
Near the bottom of the page, there's "For the complete sample, see Path Animation Sample.", where the latter phrase points to https://go.microsoft.com/fwlink/?LinkID=160028. Which doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 366ea945-1488-f6e6-5f85-ecb56003847a
* Version Independent ID: 396691c3-39c4-3

[2018-10-16 01:53] WeihanLi opened #8389 "Why AVOID NuGet package references that demand an exact version?"
Why AVOID NuGet package references that demand an exact version? What package version should be used when reference a package?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310bd372c
* Version Independent ID: 266d08ae-344a-683b-11e2-143b704e21a8
* Content: [Open-source library guidance](https://docs.microsoft.com/zh-cn/dotnet/standard/lib

[2018-10-16 04:55] maxwellb commented on #8389
If your new FooLibrary in depends on BarPackage version 1.1 _exactly_, then a person installing your FooLibrary from NuGet will not be able to use updates to BarPackage such as 1.2.

See [Version ranges and wildcards
](https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards) and the [.nuspec <dependencies> element](https://docs.microsoft.com/en-us/nuget/ref

[2018-10-16 05:38] SychevIgor opened #8393 ""Windows Azure Access Control Service" almost retired"
"for example, the Windows Azure Access Control Service (ACS)."
ACS will be retired during next 3 weeks. It will be right to cleanup this document from this retired feature during next couple of weeks
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-10-16 07:41] Peter-Optiway opened #8394 "How come the .net core repo uses _ prefix on field names?"
If you look at the source code for [.net core][3] all field variables are prefixed with _?

When you scaffold a Controller in Visual Studio 2017 it also generates fields with the _ prefix?

So something must be wrong here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd21cac-a7e8-13ca-d940-3447312871ca
* Version Ind

[2018-10-16 09:11] AndyCJ commented on #8385
This page just describes the type of recommendations. It's not the list of actual recommendations. If you click "Getting Started" you'll be taken to the list of contents, and one of the listed pages is: https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/breaking-changes

[2018-10-16 09:20] pavel-agarkov commented on #6796
@rpetrusha Exactly! This statement is from the docs - not mine. And it is incorrect.
1) The following code will throw an error: `System.ArgumentException: 'Interface not found.'`
[code]
2) The following code will print ```Program+IHandler`1[System.Exception]```
instead of ```Program+IHandler`1[System.ArgumentException]```
[code]
So type parameters are replaced by whatever were specified in the `in

[2018-10-16 09:40] JamesNK commented on #8389
This page just describes the type of recommendations. It's not the list of actual recommendations. If you click "Getting Started" you'll be taken to the list of contents.

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/dependencies#nuget-dependency-version-ranges

[2018-10-16 09:53] ranjan-ranjan commented on #5949
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/exceptions/creating-and-throwing-exceptions#defining-exception-classes

[2018-10-16 10:17] stuartm9999 opened #8397 "Using statement missing"
The SqlDataReader implements IDisoposable.

As good practice I would include a using statement - so it always gets closed.
In this samepl it looks OK as the connection is not being re-used for anything else but I would always recomend putting using around anything IDisposable.

I know this is only a "sample" but many copy and paste these as boilerplate code.

using( SqlDataReader reader = command.

[2018-10-16 11:18] Techupdate11 commented on #7757
@CESARDELATORRE Thanks for the update. Could you please let us know a tentative date, when you will share the movie recommendation example source code?

[2018-10-16 11:21] Peregrine66 commented on #7547
ColorConverter.ConvertFromString supports named colors, #RGB & #ARGB formats.

So
    ColorConverter.ConvertFromString("Red")
    ColorConverter.ConvertFromString("#FF0000")
    ColorConverter.ConvertFromString("#FFFF0000")
all return the same color value.

[2018-10-16 12:45] tbolon commented on #8386
It does, but it is not displayed anymore on their website, see comments on the [acquisition announcement](https://blog.myget.org/post/2018/08/31/assembla-acquisition.html).

[2018-10-16 12:57] ChrisMaddock commented on #8386
Good find @tbolon. It would be great if there was a more authoritative source though.

I wonder if @maartenba or @xavierdecoster could advise?

[2018-10-16 14:09] YvonneArnoldus opened #8399 "Which XML Schema version is used in the validation?"
Hi,

Which XML Schema version (1.0 & 1.1) is used in the validation? We do a &lt;xs:redefine&gt; in our schema with
&lt;xs:choice&gt;
          &lt;xs:element ref="no-topic-nesting" maxOccurs="0" minOccurs="0"/&gt;
 &lt;/xs:choice&gt;

Which gives the error "Invalid particle derivation by restriction" in XmlSchemaSet.Compile(). We did a schema validation in Oxygen and which we do not get the error

[2018-10-16 14:39] CShepartd commented on #8385
Semver describe that. There is no reason to be avoided as much as possible a breaking changes, until it following semver and changelog

[2018-10-16 14:49] perennialmind commented on #8273
The wording of the documentation for `DateTimeOffset.Ticks` is short, clear, and precise. `Ticks` and `UnixTime` are aligned conceptually and by implementation, so using the same wording makes sense to me. The other wording I quoted is also clear and precise, with additional information for context. Either would be an improvement.

Knowing that leap seconds are a potential source of inaccuracy is

[2018-10-16 15:33] Thraka commented on #7941
I don't feel like the VS content belongs here. Developer or not, Visual Studio isn't a prerequisite for .NET Core. It's an IDE to develop .NET Core apps.

[2018-10-16 15:54] laithassembla commented on #8386
Hi everyone, we certainly do still support the open source community (we just removed the page from the site). Our free plan includes the same features as the old open source plan. You can create and share public feeds. You can simply sign up for a free trial here. The trial includes all paid features for 14 days then automatically reverts to a free (open source) plan after 14 days. No credit card

[2018-10-16 16:06] pkulikov commented on #8389
@JamesNK

To make that statement explicit and make the page less confusing, should the **Recommendations** section be renamed to **Types of recommendations**. Then, its first paragraph can be clarified in the following way:

[2018-10-16 16:11] #6329 closed

[2018-10-16 16:14] #8352 closed

[2018-10-16 16:14] #8361 closed

[2018-10-16 16:16] #8385 closed

[2018-10-16 16:16] #8389 closed

[2018-10-16 16:18] supergibbs commented on #8382
I read that as: Don't add a bunch of `.NET Standard` targets if the code is the same, just use the lowest one. Additionally, due to a few issues in the .NET framework that weren't resolved until `v4.7.2`, including a `v4.6.1` target is nice for those using `v4.6.1 - v4.7.1` even though it's technically `.NET Standard 2.0`

[2018-10-16 17:12] breyed opened #8402 "Will an unreferenced Delay task get canceled during garbage collection?"
I just posted this [same question](https://stackoverflow.com/q/52840506/145173) to StackOverFlow. These `Delay` docs don't seem to cover the topic, but I figured some TPL overview doc page might answer the question as part of a broader task lifetime discussion. Then I realized that even if that's the case, these docs should link to such a discussion. One way or another, the lifetime rules for the

[2018-10-16 17:18] Thraka commented on #8394
@Peter-Optiway The _ character is used on public fields?

[2018-10-16 17:37] Thraka commented on #8384
@ranterle I think this sounds like a good one to do. @mairaw Any reason why @ranterle shouldn't handle this one?

[2018-10-16 17:42] mairaw commented on #8393
@SychevIgor thanks for your input. I believe we're trying to retire the entire section for WIF: https://docs.microsoft.com/en-us/dotnet/framework/security/.

/cc @brentschmaltz

[2018-10-16 17:52] douglaslMS commented on #8254
@shampeter FYI I have added text to this class and its method to explain their usage briefly. I am waiting for my pull request to be reviewed before the updates can be merged and published.

[2018-10-16 17:52] CeciAc opened #8404 "translation"
@autumn009 commented on [Fri Oct 12 2018](https://github.com/dotnet/docs.ja-jp/issues/161)

原文が少々曖昧さを含んでいるので、少し語句を補った方が良いと思います。

戻されるタスクが完了する前にチェックされるキャンセル トークン。
The cancellation token that will be checked prior to completing the returned task.
　↓
戻されるタスクが完了するタイミング以前にタスクをキャンセルするか否かをチェックされるキャンセル トークン。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6ec

[2018-10-16 17:53] CeciAc commented on #8404
Hi team,
This came as a linguistic issue, but after reviewing it, our linguist suggested a modification in the source content.
_This feedback requests an addition to the target side. It has to be declined to keep the source-target alignment, but could you please escalate it to an appropriate party that is in charge of the source text so that the feedback helps improve the source side?

Source: The

[2018-10-16 18:08] wekempf commented on #7940
My preferred format for this very reason (it complies with both guidelines):

[code]

[2018-10-16 18:21] pkulikov opened #8405 "Interlocked: confusing paragraph about 64-bit overloads"
The paragraph in question:

The sentence that puzzles me is that one:

Does it say that mentioned `Interlocked` methods do not perform atomic operations on 32 bit systems?

And then it confuses even more:

The paragraph has just stated that those `Interlocked` methods are not atomic and recommends using them.

What message is this paragraph trying to deliver? Should it be removed at all from the d

[2018-10-16 19:09] rpetrusha commented on #8405
I agree that it's confusing (or perhaps mystifying), @pkulikov. And it clearly implies that Interlocked is not thread-safe on 32-bit systems unless other Interlocked methods are used. I'd interpret that to mean that, during a call to an Interlocked method, some call to a non-interlocked method can cause the interlocked method to be non-atomic and so corrupt the data. @stephentoub, do you know whet

[2018-10-16 19:12] mikedn commented on #8405
They are atomic. But only if all accesses are done using them. If in one place you have `Interlocked.Read(ref longVar)` and in another place you have `longVar = 42;` then the result of the read might not be 42.

[2018-10-16 19:14] hufftracey opened #8406 "Update the Running Windows Vista, Windows Server 2008 R2 or Windows 7 section"
Update the "Running Windows Vista, Windows Server 2008 R2 or Windows 7" section to include Server 2012 R2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9096dc31-bc97-a413-880f-962603bed316
* Version Independent ID: 68c92a65-812f-f665-7df2-24e1e1e65048
* Content: [Configuring HTTP and HTTPS](https://docs.microsoft.com

[2018-10-16 19:24] mvelosop commented on #6311
Hi @mairaw, this page has been updated in the upcoming PR.

Also added the comment on the 2.2 release, but don't suggest trying the NuGet package because it depends on 2.2 and eShopOnContainers hasn't been tested on 2.2.

[2018-10-16 19:41] mvelosop commented on #5395
The update had already been done, but this issue was pending, closing it with upcoming PR.

[2018-10-16 19:42] stephentoub commented on #8405
What @mikedn said.

You can see this pretty easily with a little experiment.  Compile/run the following as 32-bit:
[code]
You shouldn't see any output.  Then comment out the Interlocked.Exchange and uncomment the line above it, and you'll see a whole bunch of failures along the lines of:
[code]
due to the torn read/writes.

[2018-10-16 19:44] rpetrusha commented on #8404
Thanks, @CeciAc. We've opened dotnet/dotnet-api-docs#627, which replaces the text with the standard text ("A cancellation token to observe while waiting for the task to complete.") that we've used elsewhere to describe the CancellationToken parameter.

[2018-10-16 19:45] brandonh-msft opened #8407 "Cross-platform targeting: Add advice on targeting .Net Core"
Would love to see this included. It seems to be a constant point of confusion when/if one should target/reference .Net Core vs .Net Standard and what considerations should be made if/when you do so

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b3638c9-ea3c-1c9e-2763-5c3e8e965663
* Version Independent ID: aff99d6b-947

[2018-10-16 19:47] pkulikov commented on #8405
@rpetrusha @mikedn thanks for quick replies; they explain a lot

@rpetrusha could you please clarify what "atomic" means and how "call to a non-interlocked method can cause the interlocked method to be non-atomic"? I interpret it as the instructions of the non-interlocked call are inserted in the middle of the interlocked call. I think my interpretation is wrong here.

I understand that the interl

[2018-10-16 19:49] pkulikov commented on #8405
@stephentoub thanks a lot for the example!

To clarify: in all the cases the write is torn by the read, and not vice versa?

[2018-10-16 19:51] hansmichielscom opened #8408 "Useful example but with some rework"
Besides the fact that the example is useful and working I personally think it is a pity that GUI (WinForm) and business logic (Encryption/Decryption) is not separated for easier reuse. If this would be the case, the form would only handle the code needed to interact with the user and would delegate the business logic to a separate class. Now there are a lot of hidden dependencies (which private fi

[2018-10-16 20:08] rpetrusha commented on #6388
Thanks for pointing this out, @upsilonth. This issue is a duplicate of #5572, so we'll close this issue.

[2018-10-16 20:08] #6388 closed

[2018-10-16 20:10] mikedn commented on #8405
Yep. On 32 bit `longVar = 42` becomes 2 instructions in assembly code - one stores the lower 32 bits and the other stores the upper 32 bits, in no particular order. It's like a struct containing 2 `int` fields. Even if the read is atomic, the write `longVar = 42` is not so the read may produce something other than 42. It will always produce 42 in the lower 32 bits, the question is what you get in

[2018-10-16 20:14] rpetrusha commented on #7626
//cc @OliaG @SamBent a new topic request.

Thanks for the suggestion, @ite-klass. We've added it to our backlog.

[2018-10-16 20:16] rpetrusha commented on #7779
Thanks for submitting your feedback, @JustCurious200. This is a good question for Stack Overflow. I'll close this issue.

[2018-10-16 20:16] #7779 closed

[2018-10-16 20:21] pkulikov commented on #8405
@mikedn thanks! You caught the essence:

@rpetrusha should this paragraph be rephrased in the following way:

And, as this is the general statement, this paragraph should be placed in the class overview.
What do you think?

[2018-10-16 20:28] rpetrusha commented on #7867
Thanks, @Crono1981, for your feedback. We'll investigate. In the meantime, I'll assign your issue to the backlog. @ViktorHofer, can you help?

[2018-10-16 20:34] rpetrusha commented on #7883
Thanks for your feedback, @gcordal. We'll investigate, and in the meantime, we'll add this issue to our backlog.

//cc @Rick-Anderson  @scottaddie can you help investigate?

[2018-10-16 20:38] perennialmind commented on #8273
@Thraka, I think I may have missed your point. I would not expect the documentation to define leap seconds, just how they are handled. I had to review the code to find out. (The specs **take leap seconds into account** insofar as they are **explicitly excluded** from the count). The implementation is free to ignore them because Windows date/time functions have historically ignored them; that's cha

[2018-10-16 20:40] rpetrusha commented on #7882
Thanks for your feedback., @txwizard. We prioritize examples based on page views, and this one tends to be low. We do have some examples in the documentation that read settings from an app.config file; the code is almost identical, except for a change of type names, if that helps. In the meantime, we'll add this issue to our backlog and to the community contributor's project.

[2018-10-16 20:43] rpetrusha commented on #7903
@Blowdart, can you comment?

Thanks for submitting your feedback, @GordonLam. We'll investigate.

[2018-10-16 20:45] blowdart commented on #7903
Disabling SSL is not part of this document, so IMO it'd muddy the waters.

[2018-10-16 20:48] rpetrusha commented on #7909
Thanks, @trivalik. Have you defined the method as an event handler? That's likely the source of the problem. It's also true that this example is not helpful. We'll work on improving it. In the meantime, we've added it to our backlog and to the community contributor's project.

[2018-10-16 20:49] ViktorHofer commented on #7867
Code Access Security (CAS) and all of its members aren't supported on .NET Core: `SecurityCriticalAttribute`. Therefore the code samples already strongly indicate that this won't work. That said, a hint that this only works on frameworks that support CAS probably doesn't hurt.

[2018-10-16 20:54] rwhoech opened #8409 "Re: how-to-retrieve-data-from-the-clipboard"
I am trying to retrieve text from clipboard for a c++ app.   Your examples are for C#, which has left me feeling deflated (D-flatted?).  Where can I find sample code that MS VS 2015 C++ DS will compile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28fa8e4a-d21b-c83a-c786-9cc2a40368e1
* Version Independent ID: 056c932

[2018-10-16 20:54] rpetrusha commented on #7919
Thanks, @juliushardt, for your feedback. We'll investigate.

[2018-10-16 20:57] rpetrusha commented on #7923
Thanks, @TimJarvis, for your feedback. A list of available global tools would indeed be useful. There may be something in the works.
@livarcocc  @KathleenDollard should we move this issue to another repo?

[2018-10-16 20:59] rpetrusha commented on #7931
Thanks for the feedback, @binki. We'll investigate and update the documentation accordingly.

[2018-10-16 21:18] JamesNK commented on #8370
Docs team: do you know of an article that discusses Authenticode in the context of .NET? It would be nice to link to something more pertinent.

// @onovotny

[2018-10-16 21:18] trevwilson16 opened #8411 "Behavior of '?' Wildcard in Directory.GetFiles"
For .NET Core 2.1, the '?' wildcard is documented as matching "Zero or one character in that position", but it seems to actually be matching "Exactly one character in that position". Given the typical behavior of '?' in regex and wildcard searches, this feels like it could be an issue with the implementation rather than the documentation, so I wanted to check before requesting a docs change.

Outp

[2018-10-16 21:20] JamesNK commented on #8386
Good news! We'll need to remove the dead link and reword the article in our docs.

[2018-10-16 21:42] KathleenDollard commented on #7923
@TimJarvis

I'm a PM on the .NET Team.

We agree!! We hope to do this and are frustrated that it isn't done yet. Sadly it will be a while longer before we can align the work to complete this.

In the meantime, people can self-register tools [here:](https://github.com/natemcmaster/dotnet-tools)

Feel free to create issues on [dotnet-cli](https://github.com/natemcmaster/dotnet-tools) when you encoun

[2018-10-16 21:52] TimJarvis commented on #7923
Hi Kathleen,

Great to know that it's planned.

Cheers Tim Jarvis.

On Wed, Oct 17, 2018 at 8:42 AM Kathleen Dollard <notifications@github.com>
wrote:

[2018-10-16 22:03] mairaw commented on #7923
Thanks @KathleenDollard. We'll close this doc issue then.

[2018-10-16 22:03] #7923 closed

[2018-10-16 22:17] laishiekai commented on #5766
And please provide good example codes.

[2018-10-16 22:42] mairaw commented on #8106
That information is based in the reference assemblies that we use but I can also see that apisof.net also shows the same version information for this API:
https://apisof.net/catalog/System.Net.Sockets.NetworkStream.WriteAsync(Byte(),Int32,Int32,CancellationToken)

@terrajobst @weshaggard do you have more context on this specific API and why it shows as dropped from .NET Standard 2.0?

[2018-10-16 22:43] michael-wolfenden commented on #8382
Right, so I should always multi target `netstandard2.0` and `net461`?

[2018-10-16 23:01] JamesNK commented on #8378
Ideally you should be using SourceLink and SourceLink will populate that information for you.

Calling that out on this page would be useful.

[2018-10-16 23:01] #8397 closed

[2018-10-16 23:16] Rick-Anderson commented on #7883
RegEx can be difficult to get correct. The asp.net forum lists a working RegEx. Are you have problems with the following?

[code]

[2018-10-16 23:17] brentschmaltz commented on #8393
@mairaw the WIF code is still part of .Net Framework and will be supported for some time. What do you mean by 'retire'?

[2018-10-16 23:50] mairaw opened #8413 "Missing VB sample"
As reported at https://developercommunity.visualstudio.com/content/problem/346414/why-are-so-many-documentation-pages-for-vs-2017-mi.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e7b2f7-a1df-0a9a-c272-a3f523cb2156
* Version Independent ID: 56d5dada-e059-8aee-eca7-fcd5471f730a
* Content: [SslStream.Read(Byte\[\]

[2018-10-17 00:03] mairaw commented on #8106
The [diff file between 1.6 and 2.0](https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_diff.md) also seems to show that information being correct:
![image](https://user-images.githubusercontent.com/12971179/47054132-0de7d780-d165-11e8-8505-97feb611c31e.png)

So I'm closing this doc issue. @davidsh or @karelz might also know the reason.

For questions on why the c

[2018-10-17 00:03] #8106 closed

[2018-10-17 00:16] mairaw commented on #8370
@JamesNK these are some that I found:
- https://docs.microsoft.com/visualstudio/deployment/clickonce-and-authenticode
- https://docs.microsoft.com/dotnet/framework/unmanaged-api/authenticode/

Not sure if any of these is what you're looking for?

[2018-10-17 00:19] mairaw commented on #8282
@sayedihashimi please comment on my proposed solution

[2018-10-17 00:29] terrajobst commented on #8106
The API in question is an override. It looks like we no longer override the method in .NET Standard 2.0, hence it shows up a as missing.

For overrides, you need to consider the original definition, which in this case is `Stream.WriteAsync`. And that one shows up as present:

* https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.writeasync?view=netframework-4.7.2#System_IO_Stream_WriteAsy

[2018-10-17 00:38] JamesNK commented on #8370
Not really. There is a blog post that talk about Authenticode signing and .NET but it is completely out of date:

https://blogs.msdn.microsoft.com/shawnfa/2005/12/13/authenticode-and-assemblies/

I think it is a gap in the docs.

[2018-10-17 00:44] glenn-slayden commented on #7664
To be clear, the docs for the new capability added for nested tuples in **C# 7.3** might wish to mention that it is the language _*syntax*_ requires that the left/right tuple arguments of the `==` and `!=` operators be isomorphic (i.e. same-shaped, having identical nesting structure).

The distinction being that, the operation is only _defined_ between type-compatible tuples _**which must also be

[2018-10-17 01:20] paulbatum opened #8416 "Why is this guidance limited to open source?"
Much of this guidance is applicable to library authors regardless of whether the library is open source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310bd372c
* Version Independent ID: 266d08ae-344a-683b-11e2-143b704e21a8
* Content: [Open-source library guidance](https://docs.microsoft.com

[2018-10-17 01:28] GeekAndProud opened #8417 "Out of date"
This documentation refers to features that were removed from Visual Studio years ago...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02bb2607-4589-179e-55c1-0749dd134ed5
* Version Independent ID: a8dc7f55-6bff-cf9e-9fa5-8c74df09f3b6
* Content: [Walkthrough: Using Client Application Services](https://docs.microsoft.co

[2018-10-17 01:33] WeihanLi commented on #8389
Thanks

[2018-10-17 01:59] samrueby opened #8418 "hosts file?"
Does this method bypass the hosts file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3de4e8-2530-2565-2873-053d4b0d9d38
* Version Independent ID: 058be335-0104-8c08-5adb-a9b5aea2a077
* Content: [Dns.GetHostAddresses(String) Method (System.Net)](https://docs.microsoft.com/en-us/dotnet/api/system.net.dns.gethostaddre

[2018-10-17 02:33] estherpt opened #8419 "Error in this doc: `GetDescription` text and link should be `GetGroupName`"
The sentence "Use the GetDescription method instead"
should be: "Use the GetGroupName method instead"
and the link it points to should be getgroupname:
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.displayattribute.getgroupname?view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-17 04:46] pdylanross commented on #5968
Seconding this, as this would be super handy to add code analysis into my workplace's nuget package project generator would save our devs a ton of time.

[2018-10-17 05:48] mairaw commented on #8419
Thank you for your feedback @estherpt! I've opened a PR to fix this issue:
https://github.com/dotnet/dotnet-api-docs/pull/633

[2018-10-17 06:46] KavenWork opened #8422 "<enforceFIPSPolicy enabled="true"/> not working if system FIPS is disabled."
&lt;enforceFIPSPolicy enabled="true"/&gt; not working if system FIPS is disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451aa716-335a-920b-d7b4-075916edcca4
* Version Independent ID: 794a9fbb-47af-f71c-54ff-b35a26868398
* Content: [&lt;enforceFIPSPolicy&gt; Element](https://docs.microsoft.com/en-us/dotnet/fram

[2018-10-17 07:02] #8422 closed

[2018-10-17 07:42] raghavendrabankapur commented on #8193
@Thraka  do we have any update for the same?

[2018-10-17 08:26] Jonas-Marty opened #8423 "Dead link"
http://www.microsoft.com/typography/otspec/otff.htm is a dead link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521252b3-7520-e140-0bd7-a525a4d60301
* Version Independent ID: 9a14188c-0945-38d2-bf67-83f54e5717d7
* Content: [FontWeights Class (System.Windows)](https://docs.microsoft.com/en-us/dotnet/api/system.window

[2018-10-17 08:44] HeroMaxPower commented on #6120
Hi TPucke try giving
dotnet test --logger "console;verbosity=detailed"
a go, i was able to get my messages from the following asserts Assert.Inconclusive("Inc Message"), Assert.Fail("Fail Message") from the console output, which im guessing what you need. Microsoft needs to put an example of console verbosity to return messages that's specified in our code.

[2018-10-17 09:19] thamathar opened #8424 "A little more info would be nice"
Would be nice to have some more info on the Int32 arguments that the ShutDown receives

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ff36e3-8874-34cf-63c6-4bcc85aaeaba
* Version Independent ID: 9a53bf8d-593e-dc64-243f-66220f6a0d35
* Content: [Application.Shutdown Method (System.Windows)](https://docs.microsoft.com/e

[2018-10-17 09:29] dasMulli commented on #5968
fyi: Another way to make changes to all projects at once is to use a `Directory.Build.props` / `.targets` file (see [Customize your build - Directory.Build.props and Directory.Build.targets](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2017#directorybuildprops-and-directorybuildtargets))

e.g. when you place a `Directory.Build.targets` file next to your .sln (

[2018-10-17 09:42] sundhaug92 opened #8425 "Double commas in docs for system.web.httprequest.useragent 4.7.2"
Section: Applies to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb9422e7-a2ad-ed4f-ae49-f833f262c036
* Version Independent ID: 20c8ebd4-92df-bc3e-8f49-073dedfe0dc5
* Content: [HttpRequest.UserAgent Property (System.Web)](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest.useragent?view=netframework-4

[2018-10-17 09:45] LaboMax opened #8426 "Great Example"
It was very useful for me.
Thank you.
Massimo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c50ad3-42e0-aa9e-be7c-d16afa3369a6
* Version Independent ID: a8999211-e04e-9b68-6f4e-2a9845dc62aa
* Content: [DataGridViewComboBoxColumn Class (System.Windows.Forms)](https://docs.microsoft.com/en-us/dotnet/api/system.windows

[2018-10-17 10:04] pkulikov commented on #8425
Duplicate of MicrosoftDocs/feedback#773

[2018-10-17 10:05] sundhaug92 commented on #8425
Good spot @pkulikov. Guessing I should close this and follow the other one

[2018-10-17 10:50] dominicbeesley opened #8427 "Misleading?"
The remarks section describes url encoding whereas this is javascript encoding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb01b83-4bd4-f1e9-1646-92f536af97b0
* Version Independent ID: f7685bcf-8ebe-00f5-4531-426b8567f56d
* Content: [HttpUtility.JavaScriptStringEncode Method (System.Web)](https://docs.microsoft.com

[2018-10-17 11:34] svick commented on #5851
@RaulRG

I don't think that's realistic. `AppDomain` is not something that you can add as a standalone library. It's an integral feature of .Net Framework that has been consciously removed from .Net Core. Adding it back would require significant changes to CoreCLR and I don't think that's going to happen.

[2018-10-17 11:44] RaulRG commented on #5851
Ok, good to know. This means we will need to analyze the uses and look for alternatives. Thank you for the information.

[2018-10-17 11:49] fleed opened #8428 "Missing guidelines for mono development"
Which runtime identifier should be selected to build applications that should run under `mono`?
Is only the platform important?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID

[2018-10-17 12:04] svick commented on #8370
Does anyone actually use Authenticode for .Net assemblies? Is it usable cross-platform?

If not, maybe it shouldn't be recommended here?

[2018-10-17 12:36] svick commented on #8106
I understand that the documentation is technically accurate, but I also think that it's confusing, because it does look like the method was removed from .Net Standard 2.0.

Maybe there could be a rule that if a method is overridden in at least one framework, its Applies To section will contain all frameworks that have both the base method and the derived type?

[2018-10-17 13:05] onovotny commented on #8370
Lots of people Authenticode .NET assemblies. It's the only way to guarantee provenance and ensure it wasn't tampered with.

[2018-10-17 13:14] onovotny commented on #8370
Next step is to get those Authenticode tools ported to .NET Core. Which will happen.

[2018-10-17 13:33] trivalik commented on #7909
I am not sure if I used the short:
[code]
or longer
[code]
version.
"ToolStripItem1_VisibleChanged" is a method. So I didn't explicit assign "ToolStripItem1_VisibleChanged" to an EventHandler too. Do you think this would make a difference to keep reference to the method? This would be the first scenario what would need need this illogical.

[2018-10-17 13:35] breyed opened #8430 "Exception timing"
It's not clear which exceptions are thrown during the synchronous portion of the call vs. which are applied to the returned task.

For example, ArgumentNullException can be checked for synchronously, so I'd guess that's when it would be thrown; then again, there's nothing stopping the methods from deferring it.

Regarding HttpRequestException, most such exceptions have to be async, but some, such

[2018-10-17 13:41] Meberem commented on #5968
I did end up using `Directory.Build.targets` in a similar manner to how you have suggested. My brain was stuck in using the cli to sort out all my issues. I still think it would be a nice optional flag/argument to include/use. Thanks for your suggestion 👍

[2018-10-17 13:54] sayedihashimi commented on #8282
Hi @mairaw I think linking to https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-mac-vs would be better. Let me figure out who owns the FWLink in VSMac and see if I can get it updated.

[2018-10-17 15:24] Blackbaud-LoriWeiss opened #8432 "Feedback for Example: Return the Set Union of Two Sequences"
You only show an example of the code, and do not show any examples of the data being used in the code and what it actually results to. This literally only shows syntax and no functionality. This is *useless*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3807d861-6ece-e4a1-15dd-051563fe5d06
* Version Independent ID: 8

[2018-10-17 15:28] makuki opened #8433 "How disable botton close, upper in form"
Protected Overrides ReadOnly Property CreateParams() As CreateParams
    Get
        Dim param As CreateParams = MyBase.CreateParams
        param.ClassStyle = param.ClassStyle Or &H200
        Return param
    End Get
End Property

https://www.codeproject.com/Questions/354393/Disable-Close-Button-X-in-the-Vb-Net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-10-17 15:30] ChrisMaddock opened #8434 "Broken formatting in System.Type.GetType API page"
The table headed: "The following table shows the syntax you use with GetType for various types." contains broken backticked code blocks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f9d661-af1e-596f-8402-323649908ccd
* Version Independent ID: ea2b3fc7-f10b-b50f-52ef-4eb5f92c0c19
* Content: [Type.GetType Method (Sys

[2018-10-17 16:19] landis22b commented on #6794
I get the same issue.

[2018-10-17 16:21] JRAlexander commented on #6794
@landis22b - Did you type it or download the sample? Thanks!

[2018-10-17 16:28] Newrad0603 opened #8437 "Missing remark about only works with public classes"
ComVisible is ignored if the class it's on is not public which seems like something the docs should call out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb7b7d06-51ce-e55a-7ec9-bc146f746793
* Version Independent ID: fa60b098-75bc-f5d1-fe82-3565497d249c
* Content: [ComVisibleAttribute(Boolean) Constructor (System.Ru

[2018-10-17 16:40] landis22b commented on #6794
In case it helps

Stacktrace:
[code]

sdk and runtime information:
[code]

[2018-10-17 16:46] landis22b commented on #6794
I've additionally updated my .csproj to be an exact copy of https://raw.githubusercontent.com/dotnet/samples/master/machine-learning/tutorials/SentimentAnalysis/SentimentAnalysis.csproj
Previously I was using a slightly different language version.
This also has had no effect.

[2018-10-17 16:53] pkulikov commented on #6794
@landis22b you use the `float` type, not `double`, as well?

[2018-10-17 16:54] MuziburRahman opened #8439 "fsi.exe isn't there"
"c:\Program Files (x86)\Microsoft SDKs\F#&lt;version&gt;\Framework&lt;version&gt;" this path is not available in my pc. I*n the Microsoft SDKs folder, there's no folder named F#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ea5b069-0d43-f577-3f95-fde5aaf919d5
* Version Independent ID: 0ea5685e-45cc-06d2-3985-cffb530

[2018-10-17 17:00] landis22b commented on #6794
SentimentData.Sentiment is a float.

[2018-10-17 17:07] DeveloperLookBook opened #8440 "Please, add some examples."
Article doesn't contain any examples. Please, add some example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc40587-8898-d74d-29d8-8e61764e3540
* Version Independent ID: c21e0575-168f-e815-5dc2-cd3d45b47f98
* Content: [DynamicExpression Class (System.Linq.Expressions)](https://docs.microsoft.com/en-us/dotnet/api/sy

[2018-10-17 17:27] kbattocchi opened #8442 "Indexed property documentation issues"
1.  I don't think it's correct that `Ordinal` and `Cardinal` are special names in any way; as far as I can tell they are treated the same as any other name (except for `Item`, which is truly special)
2.  Furthermore, even when the name is `Item`, the declaration form described as "Indexed property that has get only." seems to result in the declaration of a method, not an indexed property.

---
###

[2018-10-17 17:36] cartermp commented on #8439
Thanks @MuziburRahman, this will need to get updated.

[2018-10-17 17:44] mrange commented on #5766
This is also a method that is hard for the community to help document because TBH the details of how async really works is poorly understood and when it comes to concurrency the details matters.

[2018-10-17 17:47] LisandroSu opened #8444 "Logical Error?"
@yiwangwenrou commented on [Wed Oct 17 2018](https://github.com/dotnet/docs.zh-cn/issues/219)

DBBool TRUE = DBBool.True,NULL = DBBool.Null;    if(NULL && TRUE)  与 if(!(NULL && TRUE)   都为逻辑true

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: f818b111-bdeb-96a1-721a-1be183519f6d
* Version Independent ID: e98c5f3f-24d8-ae0e-d4b8-5607ce40f6b9
* Content: [false 运算符（C# 参考

[2018-10-17 17:48] LisandroSu commented on #8444
Hi team,

Please check this issue. Rough translation: _DBBool TRUE = DBBool.True, NULL = DBBool.Null; if(NULL && TRUE) and if(!(NULL && TRUE) are both logically true_

Thanks!

[2018-10-17 18:48] afreeland commented on #5901
I noticed this as well and your change is exactly the same change needed on macOS, nice work!

[2018-10-17 18:49] landis22b commented on #6794
Turns out, there is an unclose quoted field in the sample data on line 83.
After fixing that there still appear to be some issues. Doing some research on those now.

[2018-10-17 18:55] JamesNK commented on #8370
And it is never talked about to .NET devs, or well documented.

[2018-10-17 19:11] jmarkman commented on #7331
Hi, I'd like to take a look at working on this issue.

[2018-10-17 19:15] jherby2k opened #8448 "SourceLink needs work"
I've added SourceLink to my project and now it throws exceptions during build on Ubuntu 1804, OSX and a bunch of other OSes.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5db5ae44-5ee9-ed62-7355-7c0cbc1bfc07
* Version Independent ID: f54c98e2-bbae-42c6-2103-e94d6ec0e931
* Content: [SourceLink and .NET libraries](https

[2018-10-17 19:16] landis22b commented on #6794
Related issue https://github.com/dotnet/machinelearning/issues/245
As it turns out, I've resolved the underlying cause.
It works fine with or without the closing quote on line 83 and simply rejects that row.
The cause of the issue is Visual Studio for Mac replaces tabs with spaces on non code files.  :|

[2018-10-17 19:29] garfbradaz commented on #7489
Any news on this Bill?

[2018-10-17 20:07] #8439 closed

[2018-10-17 20:35] cartermp commented on #8442
Yeah, this page was just off entirely.

[2018-10-17 20:42] RoggeHeflin opened #8451 "returning cluster name as well as cluster number"
I have followed this tutorial and tried to incorporate https://www.microsoft.com/net/learn/machinelearning-ai/ml-dotnet-get-started-tutorial (older version)

How does one include both the Cluster ID and the Cluster Name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 925c8fe9-ba0b-bd2c-cea0-9d851ece8825
* Version Indep

[2018-10-17 20:54] douglaslMS commented on #8432
@Blackbaud-LoriWeiss I agree that the example should at least show the type of the return value, instead of using "var." Presumably the coder has a use case in mind, and knows how to move forward once he/she knows what's in the variable. There's such a variety of use cases for a UNION ALL, however, that a specific example would probably be useful only to a small percentage of readers.

[2018-10-17 20:57] jerickmsft opened #8452 "KB, not bytes"
Based on this, it looks like this value is is kn KB, not bytes:

https://referencesource.microsoft.com/#System.Web/Configuration/HttpRuntimeSection.cs,8f1d17aef83ea852,references

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13cf8a58-9e1d-0517-39f0-002c1a5616ac
* Version Independent ID: 38bf872c-6ab5-5b65-a038-d3c90f3

[2018-10-17 20:59] flagrange opened #8453 "To short. Doesn't explain."
Nothing here, or even elsewhere, explains what an HWnd exactly is, how it's behaves, what changes it or not and so on.  The only thing I know here is that it's a pointer, but a pointer to what, then? Somewhere this should be explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2a8da82-ee25-0692-0974-eb0fd406dcfd

[2018-10-17 21:09] pkulikov commented on #8451
@RoggeHeflin the tutorial you've referenced is about [multiclass classification](https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/tasks#multiclass-classification). This type of ML deals with labeled datasets. That is, for each data item you know its class, or "cluster name". [Clustering](https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/tasks#clustering) is unsup

[2018-10-17 21:18] #8442 closed

[2018-10-17 21:56] jricha34 opened #8454 "TLS 1.3 is now latest standard"
Should correct that TLS 1.3 is now the newest released standard.

https://datatracker.ietf.org/doc/rfc8446/

Any idea when MSFT products will start supporting it in their products including AD/ADLDS, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7341fa0a-f474-6c2d-d3c0-7e2df12fbb65
* Version Independent ID: e99c4

[2018-10-17 22:02] blowdart commented on #8454
True, @mairaw can we change initial paragraph to something like.

_The Transport Layer Security (TLS) protocol is an industry standard designed to help protect the privacy of information communicated over the Internet. TLS 1.2 is the now the widely accepted security standard, with TLS 1.3 being ratified in Octore 2018. This article presents recommendations to secure .NET Framework applications tha

[2018-10-17 22:03] karelz commented on #1876
BTW: SmtpClient is obsolete API: https://github.com/dotnet/platform-compat/blob/master/docs/DE0005.md (that is what causes the warning DE0005.
We do not plan to add the Obsolete attribute on it to avoid breaking everyone's compilation (with warnings treated as errors).

[2018-10-17 22:38] Eilon opened #8455 "Guidance on whether to indicate CLS compliance"
Can/should we have guidance on whether to indicate CLS compliance? It comes up from customers/community every so often, but in my view the cases for it tend to be weak because they are based on hypothetical cases, or circular logic.

For example:
1. What if some obscure language is used?
  * I think it'll probably work just fine anyway, as long as you're not actually doing anything that isn't CLS

[2018-10-17 22:40] Thraka commented on #8193
Not yet, I'll ping the members referenced above on email.

[2018-10-17 23:14] livarcocc commented on #8193
Please, update to a newer version of the SDK, like 2.1.403. There is a good chance this issue has been addressed there. 2.1.202 is not longer supported.

Also, are you quoting your parameters? It seems like your path may contain white spaces in it.

[2018-10-17 23:32] #8404 closed

[2018-10-18 00:09] rpetrusha commented on #7331
That would be great, @jmarkman. We'll look forward to reviewing your PR. And in the meantime, if you have any questions, please do not hesitate to ask.

[2018-10-18 01:13] KathleenDollard commented on #7835
I'm a bit confused about the -h comment as that appears to be there.

@livarcocc and @mairaw is there a way for us to include the solution in the syntax. We could include it in the text quite easily

[2018-10-18 07:15] shamimevatix commented on #7957
I am facing the exact same issue like @bhadanimayank. I can't solve this puzzle

**First, start up the GettingStartedHost console application.**

Do we need to create a separate solution to run this?. When i run the GettingStartedHost.exe from cli, the url http://localhost:8000/GettingStarted/CalculatorService returns 400 http code.

Please help.

[2018-10-18 07:28] #8419 closed

[2018-10-18 07:46] realbart commented on #5606
or

Font font1 = null;
or

    var font1 = new Font("Arial", 10.0f);
    try
    {
        byte charset = font1.GdiCharSet;
    }
    finally
    {
        (font1 as IDisposable)?.Dispose();
    }

[2018-10-18 07:47] rvberloo opened #8460 "Add a tutorial/example using the MNIST dataset"
I think the MNIST dataset would be a nice candidate for a new Tutorial for ML.NET
I would mainly be interested to see how a dateset with hundreds of columns gets modeled, do we need to make a hardcoded class property for each column?

[2018-10-18 07:59] realbart commented on #5606
(ignore this. comment. Cannot delete comment.)

[2018-10-18 08:03] ocpi4 opened #8461 "Confusing (possibly erroneous?) code examples"
I am confused by the examples given in this article.
As far as I can tell the calling mechanism for both "Increase" and "Replace" subs in the examples on this page is the same (ByVal). And yet the example results show that you have different behaviour, with the "Increase" sub resulting in a change to array n (because, to quote "Because the array n is a reference type, replace (this should be incre

[2018-10-18 09:18] raghavendrabankapur commented on #8193
@livarcocc I updated the version but still facing the same issue. Also there is no space in the request.

[2018-10-18 09:38] christophedemey opened #8462 "Debugging stackoverflow exceptions"
Hi

So i had one of these in .NET core and spent some time figuring out what the hell was going on.
The application just closes and I get this in the Output console :
The program '[16684] dotnet.exe' has exited with code -1073741819 (0xc0000005) 'Access violation'.
Not informative at all, especially not if you google it.

I then continue to run dotnet x.dll from a command promp and see the real er

[2018-10-18 10:47] BrunoJuchli opened #8463 "The Dispose guidelines really should be updated to point developers in the right direction"
The guidelines should read:

When working with unmanaged resources:

1. use an existing SafeHandle if possible

2. If not possible: subclass SafeHandle to create one that meets your needs. This class should not do anything more than managing unmanaged resources. It should be sealed.

3. If that's not possible: create your own class which implements IDisposable + Finalizer

3.1 The class should be

[2018-10-18 10:54] BrunoJuchli opened #8464 "Unsuitable examples chosen"
In [Handle common conditions without throwing exceptions](https://docs.microsoft.com/en-us/dotnet/standard/exceptions/best-practices-for-exceptions#handle-common-conditions-without-throwing-exceptions) an unfitting example was chosen:

Connections usually involve a local and a remote endpoint, Often either can close it - concurrently. If that is the case, checking state before performing the opera

[2018-10-18 11:50] snowpardx opened #8465 "Double comma in lists"
Hi, seems there is something with page creation in lists (like supported .net core version, .netframework and so on) we have two commas instead of one. Please consider to have a look into.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c28aef58-53cb-67ba-b806-04ec0c513d55
* Version Independent ID: 125bdaad-99da-b8d9-31

[2018-10-18 12:13] pkulikov commented on #8465
@snowpardx thanks for the note!
However it's duplicate of MicrosoftDocs/feedback#773

[2018-10-18 12:18] snowpardx commented on #8465
@pkulikov got it, thanks. Let me close the one in that case.

[2018-10-18 12:18] #8465 closed

[2018-10-18 12:32] itgoran opened #8467 "This method throws exception, instead to return true/false"
When this method has been called, it throws ComException with the message "The server is not operational." instead to return true/false.
Example:
 bool activeServerExists = DirectoryEntry.Exists($"LDAP://{fullDomainName})");

Is this behavior changed after this document has been published?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-18 13:07] kapsiR commented on #8329
@xamarin-volkan Based on the example already provided:
[code]

Should I submit a PR to have this example in the docs?

[2018-10-18 13:51] Blackbaud-LoriWeiss commented on #8432
This [page](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable.union?view=netframework-4.7.2) was very helpful. Perhaps this example page is not needed at all, since examples exist on the Union doc page itself.

[2018-10-18 14:00] HAllenMoody opened #8469 "Concerning the code at How to: Print a Multi-Page Text File in Windows Forms"
The page at <https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-print-a-multi-page-text-file-in-windows-forms?view=netframework-4.7.2> contains an event handler for PrintDocument.PrintPage . While it works as written for printer use, it does not work correctly for print preview. There is a "hard" limit of 32490 string characters where below that it works but above that it p

[2018-10-18 14:31] EddyHaigh opened #8471 "Attribute on same line as Public"
The flags attribute is on same line as Public access modifier in the PhoneService enum example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be667fa2-73aa-cd75-a515-86aa5783ddf4
* Version Independent ID: fc2b63a0-ed07-00b7-1a3d-e7e17f80f0a3
* Content: [FlagsAttribute Class (System)](https://docs.microsoft.com/en-us/do

[2018-10-18 15:04] jherby2k opened #8472 "Authenticode signing"
Should we authenticode sign open source assemblies? Many enterprises want all their code signed if they are doing application whitelisting. There are several challenges for open source projects. Particularly, what to do with the private key.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310b

[2018-10-18 15:04] ocdtrekkie commented on #1876
@karelz I am very sad if that's the official position of Microsoft, to dump basic Internet functionality off to random third parties. Given examples from other platforms like left-pad, I am extremely hesitant to add random dependencies to software I develop because I have no reason to trust the developer.

I do see in the case of MailKit that it appears to be being maintained by a Microsoft employ

[2018-10-18 15:06] jherby2k opened #8473 "Multiple OS targeting"
My project has different compilation paths for Linux, Windows and OSX. What’s the best way to package these together in a single nuget, avoiding custom build scripts and nuspec files if possible?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e80fe2fd-cbdb-699e-0dbb-a0a310bd372c
* Version Independent ID: 266d08ae-344a-

[2018-10-18 15:17] samrueby commented on #8418
I learned that it does NOT bypass the hosts file.

This is confusing because the name of the class is "DNS". I would assume this would return results strictly from DNS, like how the nslookup utility functions.

[2018-10-18 15:36] BillWagner commented on #8359
@pkulikov That's a second step.  I'll get the first part done (just moving).

Then, I'll open a new issue for those items. It would be great to have you help on that.

[2018-10-18 16:05] jmarkman commented on #7331
Would it be going overboard/against style to add a method syntax version of a query? It might be out of scope since it would be the only section with a method syntax version of the query, but I think having both is important for novice dev readers and those unfamiliar with LINQ.

[2018-10-18 16:10] BillWagner commented on #7331
It's not going overboard.  That is useful information.

[This article](https://docs.microsoft.com/dotnet/csharp/programming-guide/concepts/linq/query-expression-syntax-for-standard-query-operators) covers the mapping now. But, it's not obvious that it's about the mapping from query syntax to method calls.

I'd propose making that more clear rather than duplicating the information. (And, that might

[2018-10-18 16:31] jmarkman commented on #7331
@BillWagner

This is in regards to the article you linked? Just want to make sure. If not, one thought I have is that I'd include a link to that page, but I'm not sure where it would go. Would it be best to modify the "For more information, see" area at the end of the section and add a link to that page like the following?

[2018-10-18 16:36] BillWagner commented on #7331
@jmarkman Yes, I should have been more clear.

The "features that support LINQ" article should link to the "query expression syntax for standard query operators" article. Your suggestion to add it to "For more information see..." is correct.

The "query expression syntax for standard query operators" does explain the mapping. It could be improved, and that may be best handled in another PR.

[2018-10-18 16:41] livarcocc commented on #8193
could you paste exactly the command you are using? Also, the output of `dotnet --info`.

And if possible, the contents of a csproj where this repros?

[2018-10-18 17:12] jstedfast commented on #1876
Hi @ocdtrekkie,

I'm the [MimeKit](https://github.com/jstedfast/MimeKit) and [MailKit](https://github.com/jstedfast/MailKit) maintainer.

FWIW, I think you'll find that both projects are very high quality codebases and I am very active with maintenance of both projects. This includes fixing bugs, answering questions, adding new features, etc.

Hope that helps assuage your fears... at least somewha

[2018-10-18 17:17] svick commented on #1876
@ocdtrekkie MailKit is also part of the .Net Foundation, in case that makes a difference for you.

[2018-10-18 17:49] PashaPash commented on #1876
@karelz @jstedfast "doesn't scale to modern requirements of the protocol" is too generic.

Is there any specific reason to use MailKit instead of SmtpClient to send mail over SMTP? Will it be faster or more reliable?
It seems that SmtpClient does not support pipelining and rfc2231 for filenames, but I'm not sure about other protocol features.

[2018-10-18 18:01] karelz commented on #1876
@PashaPash we do not have list of all missing RFCs and features in SmtpClient. The fact is that SmtpClient hasn't been innovated in a long time, while MailKit was.
We've also heard that the performance of SmtpClient is not as good as MailKit.

If you are sending just occasional emails (e.g. alerts, or tooling), then SmtpClient is likely good enough for you. If you need modern, high-perf, latest te

[2018-10-18 18:14] douglaslMS commented on #8432
@Blackbaud-LoriWeiss Thanks for the info. Although this page already references the other page, I'm adding a sentence to call out explicitly that the other page provides more info and examples.

[2018-10-18 18:32] ocdtrekkie commented on #1876
@jstedfast My comment wasn't intended to be a slight at your projects, I do hope you didn't take it as one.

But I think there's definitely a strong value to features in .NET Framework code being officially managed and distributed by Microsoft, and of course, that projects (and other dependencies) declaring compatibility with a .NET Framework version are stating compatibility with all of the featu

[2018-10-18 18:38] jstedfast commented on #1876
@ocdtrekkie Don't worry, I did not take any offense at your comment :-)

FWIW, I also like to use as few nugets as possible in my projects as well, so I can understand your position on that.

[2018-10-18 19:04] #7559 closed

[2018-10-18 19:07] #8432 closed

[2018-10-18 19:16] jmiller-bayshore commented on #6532
@mlacouture, i just added a connected service reference to a .net core 2.0 library project and it didn't generate a ConfigureEndpoint method.  and the client class it did generate the constructor requires Binding and EndpointAddress parameters.  I cant seem to find these anywhere.  do you have any suggestions on where i should look to find information on this?

[2018-10-18 19:17] rpetrusha commented on #8426
Thank you, @LaboMax. We're happy that you found it useful.

[2018-10-18 19:17] #8426 closed

[2018-10-18 19:55] JamesNK commented on #8455
Agreed. Right now the guidance focuses on higher level topics like cross-platform and packaging. There is an opportunity to have one or more articles on the API design. For example:
* Discussing CLS
* Recommending [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/)
* Highlight recommended extension points for logging, configuration, ASP.NET, Azure, et

[2018-10-18 19:58] JamesNK commented on #8448
Leave SourceLink feedback on https://github.com/dotnet/sourcelink with detail about the error and its devs will look into it.

[2018-10-18 20:06] scottaddie opened #8480 "Markdig migration preparation - master issue - final round"
The docs below, in the *master* branch, were flagged during the test run of the Markdig migration. Refer to the spreadsheet's *DifferenceAfterMigration* tab for more details. The *SourceMarkdown* column contains the offending Markdown.

If changes are necessary, they can be validated in the *markdig-migration* branch. Refer to [Markdig Migration Information](https://review.docs.microsoft.com/en-us

[2018-10-18 20:14] rpetrusha commented on #8461
Thanks for your comment, @ocpi4. Passing an array by value to a procedure allows the value of its individual elements to be changed (as the Increase method does), but does not allow an entirely different array to be substituted for the array passed as an argument (as the Replace method attempts to do). The same applies to passing an object, such as a Person object, by value -- you can change indiv

[2018-10-18 20:18] BillWagner commented on #8480
I'll handle the **_csharplang** changes.  (then more)

[2018-10-18 20:28] mlacouture commented on #6532
Hi @jmiller-bayshore, did you get any warnings when adding the web service reference? this may happen when the service metadata doesn't define a specific endpoint.  If you didn't get any errors, can you [open an issue in GitHub](https://github.com/dotnet/wcf/issues/new), and if possible can you also provide the service URL or wsdl file?

[2018-10-18 20:41] mairaw commented on #8480
I'll start checking the visual-basic ones.

[2018-10-18 20:46] BillWagner commented on #8480
Verified that no changes are needed in **_csharplang/expressions.md**

[2018-10-18 20:49] mairaw commented on #8480
Fixed one problematic issue in the **visual-basic** folder. The others are "by design" since the content is missing so the numbered list has no content. I'll check standard next.

[2018-10-18 20:59] jmiller-bayshore commented on #6532
@mlacouture,
Initially i was getting the "System.ServiceMode.ServiceContactAttribute could not be found" which i found was a problem with my nuget settings not able to get to one of the packages.  After that i was able to get everything added and compiling, just not finding good references on using the code and it seems quite a bit different from how it used to work in previous .NET frameworks.  T

[2018-10-18 22:58] rpetrusha commented on #8480
I'm doing the additional .NET Framework issues as well.

[2018-10-18 23:13] BillWagner commented on #8480
I'll work on standard and F# tonight.

[2018-10-18 23:18] mairaw commented on #8480
I'm back from my appointment. I can finish those @BillWagner.

[2018-10-18 23:32] owlstead commented on #7238
Thanks! You probably saw "some" frustration leaking through while filing the issue. Before nothing was done with the reports. I still think it is important to indicate that private keys, where available, are also exported when exporting to PFX/PKCS#12. That's not in the documentation - but at least it is here in the issue description by BartonJS :)

[2018-10-18 23:53] mairaw commented on #8480
I also sent an email to the eng team about the warnings showing up on the build report. They're really strange.

[2018-10-19 01:36] BillWagner commented on #8359
The task list for this issue is:

- [ ] rename "quick-start" directory to "intro-to-csharp" under "tutorials"
- [ ] configure all redirects
- [ ] find and update all links
- [ ] update TOCs
- [ ] Update the .NET Landing page
- [ ] update any internal text for "quick start" to "Introduction to C# tutorial"

[2018-10-19 07:07] ocpi4 commented on #8461
Hi Ron,

Thanks for the answer – I now understand better what’s going on.

Interestingly, in Excel VBA it seems you can’t use the “ByVal” keyword when passing an array (which seems to make sense given it has no effect!)…

Thanks,
Oliver.

From: Ron Petrusha [mailto:notifications@github.com]
Sent: 18 October 2018 21:20
To: dotnet/docs <docs@noreply.github.com>
Cc: Oliver Peppe <opeppe@i4pd.co.uk>;

[2018-10-19 07:22] amaldevv opened #8490 "Broken Link in See Also Section"
In the See Also section, there is some formatting issue which is causing the hyperlink  to show as plain text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028dd37e-f540-1b9f-a74c-0e0cb94102b3
* Version Independent ID: 96998139-7136-8b7c-41ea-621bdd1b6ec5
* Content: [&lt;compiler&gt; Element](https://docs.microsoft.co

[2018-10-19 07:28] koviroli commented on #7957
I have the same problem, but remember about 2-3 months ago I could do this tutorial with no problem.

[2018-10-19 07:31] mairaw commented on #7957
@Lxiamail @zhenlan can you help? Thanks!

[2018-10-19 07:37] mairaw commented on #8480
starting on framework from bottom up. For wpf/data/how-to-sort-data-in-a-view.md, I've noticed that part of the XAML code disappears on the markdig version.

[2018-10-19 07:38] jairbubbles commented on #8224
Do you have any plans to provide tooling to help creating shared source packages? I do agree that it can help a lot managing dependencies but they're currently not much used at all. `nuget.exe` or `dotnet.exe` should allow to create such packages automatically: generate .nuspec, check that everything is internal, maybe set a specific flag in the metadata to indicate it is a source package and MsBu

[2018-10-19 07:39] jairbubbles opened #8491 "Tools needed"
Do you have any plans to provide tooling to help creating shared source packages? I do agree that it can help a lot managing dependencies but they're currently not much used at all. nuget.exe or dotnet.exe should allow to create such packages automatically: generate .nuspec, check that everything is internal, maybe set a specific flag in the metadata to indicate it is a source package and MsBuild

[2018-10-19 07:42] Niladri24dutta commented on #8490
@amaldevv fixed with PR #8492

[2018-10-19 07:44] jairbubbles commented on #8224
Why can't we have language specific packages on nuget.org? I mean if the package is properly flagged as a C# package, toolings from other languages could easily report an error when referenced and NuGet gallery can display them in a special category with proper dicsclaimers displayed.

[2018-10-19 07:50] koviroli commented on #7957
There is also an incorrent base address where creating client code in C# section. I think the VB script also incorrect?

`svcutil.exe /language:cs /out:generatedProxy.cs /config:app.config http://localhost:8000/GettingStartedClient/service`

should be

`svcutil.exe /language:cs /out:generatedProxy.cs /config:app.config http://localhost:8000/GettingStarted/CalculatorService`

[2018-10-19 07:52] V0d01ey opened #8494 "ResourceType"
What should the value of this property look like?
What does it mean "type of the resource"?
Can a link with the answers be provided in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47dc4104-6f95-afed-d159-8ac998b8df7c
* Version Independent ID: af6412b6-07ff-e2a9-e593-dfa607b018ce
* Content: [DisplayAttri

[2018-10-19 07:54] lacikocsis opened #8495 "minor indentation inconsistency"
The first two line of the sample code with the line c = 4; are indented. Might be confusing for beginners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1138d70-1d83-a7e5-8549-72bf80dc5834
* Version Independent ID: 0811beda-ff7e-353a-aeb2-6bebe8947bcf
* Content: [Branches and loops tutorial - C# local quickstarts](ht

[2018-10-19 08:37] copa017 opened #8496 "bad description"
Why there is no hint on that page that WriteTimeout is raising an Exception (and why it is doing so) when used on CryptoStream???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 119ab31e-6300-7b73-546a-69252f76dcf6
* Version Independent ID: b05b5f4e-5d19-c8fb-be6e-f65af7fcc958
* Content: [CryptoStream Class (System.Secu

[2018-10-19 08:55] elizad opened #8497 "static async Task Main(string[] args) return error cs5001"
Error	CS5001	Program does not contain a static 'Main' method suitable for an entry point

[code]

[2018-10-19 09:46] pkulikov commented on #8497
@elizad this page might be helpful:
https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs5001

[2018-10-19 10:11] JamesNK commented on #8224
MyGet, or Azure DevOps's package feature.

You can if you want to, it just isn't recommended. A shared source library excludes everyone that doesn't use the same language as you.

[2018-10-19 11:34] henkmeulekamp commented on #4675
In the section [If your app targets .NET Framework 4.7 or later versions
](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#if-your-app-targets-net-framework-47-or-later-versions)

.NET Framework 4.7 and later versions by default uses the protocol specified in the SecurityProtocol property. When the AppContextSwitch Switch.System.ServiceModel.DisableUsingServicePointManage

[2018-10-19 11:37] henkmeulekamp commented on #4675
Next question, from unittesting 4.7.0 code on a client machine (win10) it looks like WCF client code targeting 4.7.0  still uses ssl3, tls as default. You need to target 4.7.1 to be able to be able to use tls 1.2 when using the wcf generated client stub to access a TLS 1.2 only service.?

Is this assumption correct or do we need to have a better look at our code why it keeps defaulting `System.Net

[2018-10-19 12:05] diraven commented on #7071
What I discovered is the order of bits is actually the opposite for Format32bppArgb - BGRA. So I suspect the same goes for 32bpp, it will be BGR, not RGB.

[2018-10-19 12:14] diraven commented on #7071
Related discussion: https://stackoverflow.com/questions/8104461/pixelformat-format32bppargb-seems-to-have-wrong-byte-order

[2018-10-19 12:40] #6526 closed

[2018-10-19 12:46] trivalik opened #8498 "What cause the assignement of parent"
I juggle with ToolstripItem between different ContextMenuStrip. I found when I add the first item (which come from another ContextMenuStrip) the GetGurrentParent() return null. When I add the second item, then the first item got a parent assigned but second not. Same now for second item, when a third item is added, the parent for second is assign.
So I add a fake item and removed it, but is there

[2018-10-19 13:02] venividi2 opened #8499 "Installing .NET Framework"
All very nice but how do I find "Windows features" on a computer that speaks Italian? What is the translation?
Besides this, the I overlooked filling the window above about and it took me some time to understand that it was "Title" as it was hidden by a dark red colour thatg manuy people do not perceive

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-19 13:16] jairbubbles commented on #8224
By reading the doc I feel like we're encouraged to make shared source packages but asking not to publish on nuget.org is like the opposite, like "do that but keep them hidden to the rest of the community".

[2018-10-19 13:37] TobiasKnauss opened #8500 "Rotation first, then flipping?"
Please clarify in which order the operations are performed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea7ad4c-d259-fd70-d9b9-63b2b96ca426
* Version Independent ID: 20e09c2d-09fc-491e-7b89-c509db81d10a
* Content: [Image.RotateFlip(RotateFlipType) Method (System.Drawing)](https://docs.microsoft.com/en-us/dotnet/api

[2018-10-19 13:52] paolofulgoni opened #8501 "Clarify that this is not cross-platform on .Net Core"
This method throws `PlatformNotSupportedException` on Linux.
Please clarify in the documentation that this method is not cross-platform and works only on Windows.

See also https://github.com/dotnet/corefx/issues/20091

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40dc2818-066b-da81-2069-813f28560068
* Version Indepen

[2018-10-19 14:34] paolofulgoni opened #8502 "Move the example"
The example under `CreateFromFile(String)` should be moved to `CreateFromFile(String, FileMode, String)`, because it actually uses that overload of the method

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25bccff2-0202-40c0-278d-9f791e353b93
* Version Independent ID: a4d0765b-0488-c971-977c-cf4960b58b88
* Content: [Me

[2018-10-19 15:38] KathleenDollard commented on #4884
Rem is a Visual Basic keyword for a comment. It is rarely used as the apostrophe is much more common. Rem follows the script/DOS meaning of the word.

If there is a place that the functionality and docs still don't match on this, please let us know.

[2018-10-19 16:29] #8434 closed

[2018-10-19 16:33] chrisfcarroll opened #8505 "No description of how to write a <see> with generics, but <seealso> linked here promising one :-("
No description of how to write a &lt;see&gt; with generics, but &lt;seealso&gt; linked here promising one :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337464b6-c9f4-87ee-f774-5f4509c3830e
* Version Independent ID: 9626e965-109d-5e3c-eb42-ef8fbccf2fb4
* Content: [&lt;seealso&gt; (C# Programming Guide)](https://doc

[2018-10-19 17:07] #8490 closed

[2018-10-19 17:30] Thraka commented on #8382
If possible and you want to, that is the advice. You don't have to obviously.

[2018-10-19 17:30] Thraka commented on #8382
I'm going to close this unless you have any other questions. Thanks!!

[2018-10-19 17:30] #8382 closed

[2018-10-19 18:02] BillWagner commented on #8480
starting on WinForms now...

[2018-10-19 18:32] BillWagner commented on #8480
starting on workflow...

[2018-10-19 18:41] nbahmanyar opened #8509 "Error in Code Example"
In the Callback Example on this page, there is a missing quotation mark in this line:
        wait...");

It should be "wait

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 802d87ab-5dfc-5a15-b2e7-8192fb4e82b5
* Version Independent ID: c0f9046a-9e10-b564-c81d-99b3fed7bcae
* Content: [Windows Applications Using Callbacks

[2018-10-19 18:46] karelz commented on #4675
@henkmeulekamp

It means TLS 1.0 and lower. In other words, do not set the AppContext switch to `true` unless you have really good reasons and you know what you're doing - see its [description](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#switchsystemservicemodeldisableusingservicepointmanagersecurityprotocols).

@mconnew can you look at the second question? The doc is

[2018-10-19 18:57] BillWagner commented on #8480
Starting WCF now.

[2018-10-19 20:18] #7331 closed

[2018-10-19 20:48] Korporal opened #8514 "Why is the list of derived classes incomplete?"
I'm looking at a text file here and .Net tells me the Encoding class is SBCSCodePageEncoding, yet this does not appear in the above documentation as one of the derived encoding classes, why is this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e108a631-9747-7d6e-dc36-280b0591cd68
* Version Independent ID: f630aa07-55

[2018-10-19 23:04] #8461 closed

[2018-10-20 04:26] HeraldOfOmega opened #8519 "VB.net"
Can you do this in VB.net?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45eceaa-9d7f-67b5-1d92-58776c2e137d
* Version Independent ID: ff90e4c3-d9ad-5f91-c3b8-851b6b577649
* Content: [File.Exists(String) Method (System.IO)](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.exists?view=netframework-4.7.2#rema

[2018-10-20 07:59] anvish opened #8520 "Encoding issue"
Text "(?(1)&#124;\s?\p{Sc})?" contains encoded character instead of character itself

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab2ffb4-6f22-c12c-6e3f-969b515fcf61
* Version Independent ID: 16e735bf-9c96-3a28-ab98-b0cf74c38a97
* Content: [Regex.Replace Method (System.Text.RegularExpressions)](https://docs.microsof

[2018-10-20 08:05] tabareh opened #8521 "reader view unavailable"
How come the reader view is not available for this page on surface 2012 but its available on apple devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e1a443c-c3dd-b865-58b2-0ff0902308ce
* Version Independent ID: d974261f-2544-dee9-f401-e02d715012cb
* Content: [Work with data in ASP.NET Core Apps](https://docs.mic

[2018-10-20 11:11] jbstcyr opened #8524 "No VB.net or C# Examples"
There are no examples for using with VB.net and C#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710b9d8c-a79e-685c-6d1c-e5c75b660138
* Version Independent ID: c3c22e6d-735c-aa8f-6cc2-31bfc1d0225d
* Content: [ContentDisposition Class (System.Net.Mime)](https://docs.microsoft.com/en-us/dotnet/api/system.net.mime.conte

[2018-10-20 11:27] dustinmoris opened #8525 "Please don't let users hanging with advice which doesn't explain how"
&gt; CONSIDER embedding PDBs in the main NuGet package.

This is useless advice if you don't say how. How can I currently embed a PDB in the main NuGet package? Is there a project property which can be switched on so the `dotnet pack` command will do this? Do I have to write my custom script with a `.nuspec` file to do this? If the latter, then the primary recommended way should also be `.nuspec`

[2018-10-20 13:04] DickBaker opened #8526 "is null-coalescing operator an atomic operation ?"
The docs makes no statement about concurrency and atomic operation. For example the statement
myObj = myObj ?? new MyObject();   // can another thread intervene between test and assignment ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038ae35e-c5e9-e1a4-a6dd-afe379201245
* Version Independent ID: d73f3d5a-00d4-2e22-

[2018-10-20 14:03] svick commented on #8526
I don't see why it should. If you have e.g. `i += 1;`, then it *looks* like a single operation, so I would understand why someone would think it might be atomic, but it's not.

But with `i = i + 1;` or `myObj = myObj ?? new MyObject();`, it seems clear to me that you have two distinct operations: one that reads the variable and another one that writes to it. So I think there is no reason to expect

[2018-10-20 14:46] hannni opened #8527 "What is Windows in the .NET implementation support matrix"
Is that about WinRT (Windows Runtime) support in Windows 8(.1)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)
* Content Source: [

[2018-10-20 14:58] WayneMRoseberry opened #8528 "Transform documentation needs examples"
For each of the transforms, the documentation text should have an input and output example which demonstrates what the transform does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff8da4c6-5299-84bd-8794-c0b059d67d07
* Version Independent ID: dfe3f76f-a8d8-c996-54e5-629fa48266f4
* Content: [TermTransformColumn Class

[2018-10-20 15:09] pkulikov commented on #8526
@DickBaker

The right expression (the one after `??`) is evaluated only if the left expression evaluates to `null`. The current docs don't state it, but maybe they should. Designers of the language didn't know what would the right expression do. It can go such crazy that making it "atomic" might result in a deadlock. So, no, the `??` operator is not atomic.

If you want to make atomic test/assignm

[2018-10-20 16:39] ChrisMaddock commented on #1931
Ah - I see the above is https://github.com/MicrosoftDocs/feedback/issues/637.

I presume we're hoping for a change on the platform, rather than changing all the content?

[2018-10-20 16:45] DickBaker commented on #8526
Petr, thanks for posting.
Actually I thought ?? wasn't atomic, but the behaviour of the .? null-conditional-operator
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-6#null-conditional-operators
is atomic (and very handy to simplify event handlers).
This opposing behaviour may confuse devs, hence my suggestion to explicitly state that ?? operator is not atomic.
[thanks also for your

[2018-10-20 16:55] mikkelbu commented on #8520
Note that `&#124;` appears twice in the source and both places the result is wrong. I wonder whether this is related to #8034?

[2018-10-20 17:00] begay opened #8529 "wÜv"
You're welcome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5add3d1d-d7bc-4682-fcd7-d28ea7ad7d35
* Version Independent ID: df0a4d2d-0955-4888-5c7a-38a51beb7be8
* Content: [Type.GetTypeCode(Type) Method (System)](https://docs.microsoft.com/en-us/dotnet/api/system.type.gettypecode?view=netframework-4.7.2)
* Content Sou

[2018-10-20 17:03] begay commented on #8529
I knew this before but it's what I love

[2018-10-20 17:05] begay commented on #8529
Need someone who will love me tonight to beewalk ABIGAIL Nicole DAWN and forevermore

[2018-10-20 17:32] pkulikov commented on #8526
@DickBaker

https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-6#null-conditional-operators
is atomic (and very handy to simplify event handlers).

The null-conditional `?.` operator is also not atomic. [This snippet](https://sharplab.io/#v2:D4AQDABCCMDcCwAoEBmKAmCBhCBvJEhEBRqEApgG7kB2ALhAKLX0ASAhjQCYA25AThA4AHYbXJcEiIsWmk0IACwQAsgAoAlHhIzCIsTQkB+AHQBJGpQD2Aa3Jq6ACwCWAZwA0TFnQCC/AOauJ

[2018-10-20 17:42] smaillet opened #8530 "There's really no docs here at all"
There's noting here that wasn't generated by a machine parse of the metadata. There needs to be some explanation for why this type exists, distinct from ReadOnlySpan&lt;T&gt; etc... I have no ide why/where this type is supposed to be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b51d35-6e92-a208-fd90-f60401f3c

[2018-10-20 18:41] DickBaker commented on #8526
Amazing how quickly everyone [well me anyway!] takes the magic (magician popping the rabbit out of the hat) for granted and forgets the hard-work (or sleight-of-hand) for granted. You are of course correct about the code generation and the fact that the Happened?.Invoke is actually not atomic (e.g. another thread could have intervened with += or -= to Happened e.h. before our thread makes use of t

[2018-10-21 02:18] jmarkman commented on #6256
Hi all, I'm looking through this issue and I think I'd like to work on it. I'm currently gathering some questions together in regards to this issue, however.

[2018-10-21 10:48] Issafalcon opened #8535 "Parenthesised query not in parentheses"
Firstly, nice introductory walkthrough! However, in the 'Modify the Query' section when calculating the Average(), the statement above says "Note the placement of parentheses around the query expression." There aren't any parentheses around the query expression. I assume it was meant to refer to .Average() being chained to the parenthesised query?

---
#### Document Details

⚠ *Do not edit this se

[2018-10-21 11:56] dagolinuxoid commented on #8509
@initram I'm wondering why did you make your own commit on the issue even though mikkelbu made it already (so it's just waiting to be reviewed)?

[2018-10-21 12:16] dagolinuxoid commented on #8535
@Issafalcon I think so.

[2018-10-21 13:13] initram commented on #8509
@dagolinuxoid that was a mistake. I did not see that there was already a pull request open for this issue. I will close my pull request. Sorry for wasting your time.

[2018-10-21 14:50] imba-tjd commented on #8520
I fixed them once. This is because \| is superior to \` in markdown tables. You can use \<code> instead.

[2018-10-21 15:21] AderitoSilva opened #8537 "Outdated Remarks text"
Its nothing really important, its just to let you know about it... On the **Remarks** section there is the text "as shown in the example **later in this topic**". The text mentions an example that is now shown before the **Remarks** section, so the expression that says "**later** in this topic" could be changed to be more accurate with the new Docs platform.

Thank you very much and keep up the go

[2018-10-21 15:54] dagolinuxoid commented on #8509
I got it. No worries :)

[2018-10-22 01:51] pengowray opened #8540 "This is a lot of boilerplate code to do something very basic"
I'm incredibly excited that Microsoft has embraced Docker + Linux and the whole open source ethos with .NET Core, but the amount of boilerplate code to copy, modify and maintain just run a basic command line app in Docker with an argument (as shown here and in the sample application) is enough to make even Java look positively laconic by comparison. I beg you to please look at finding ways to simp

[2018-10-22 03:12] maheralkhatib10 opened #8541 "Bing messenjer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0e1571-67d4-268c-995d-36290c3954a2
* Version Independent ID: 92fefeb1-ea0d-258c-e78f-57ae6ef51ee5
* Content: [Accessing Application Web Services (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/programming/accessi

[2018-10-22 03:12] maheralkhatib10 opened #8542 "Bing messenjer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0e1571-67d4-268c-995d-36290c3954a2
* Version Independent ID: 92fefeb1-ea0d-258c-e78f-57ae6ef51ee5
* Content: [Accessing Application Web Services (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/programming/accessi

[2018-10-22 03:17] maheralkhatib10 opened #8543 "Bing messenjer"
[I have to admit,Bing simplified the process for me as a begginer to crude thru Microsoft docs.i always loved bing.specially Bing for business.and this new one on face book.i will always depend on it.good job and thank you all.]

He
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0e1571-67d4-268c-995d-36290c3954a2
* Ve

[2018-10-22 03:20] maheralkhatib10 commented on #8543
I just want to recommend this Bing not. My new helper.buddy

[2018-10-22 03:20] maheralkhatib10 commented on #8543
I just want to recommend this Bing not. My new helper.buddy

[2018-10-22 03:20] #8543 closed

[2018-10-22 09:25] kwlin opened #8544 "Which element should be used in config file according the Example?"
In the example it use the start element system.identityModel but the closing tag is microsoft.identityModel. Which one should be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0889facb-5306-2161-9186-9d138512ce48
* Version Independent ID: 2315afd9-eb82-5974-8654-37b9914cb394
* Content: [&lt;claimsAuthenticationMa

[2018-10-22 09:26] kwlin opened #8545 "Which element should be used in config file according the Example?"
In the example it use the start element system.identityModel but the closing tag is microsoft.identityModel. Which one should be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0889facb-5306-2161-9186-9d138512ce48
* Version Independent ID: 2315afd9-eb82-5974-8654-37b9914cb394
* Content: [&lt;claimsAuthenticationMa

[2018-10-22 15:54] 1Manzaidm opened #8546 "System.setting"
Sopport gagalxyj600gh data setting versi:9.0.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed8df2ab-b8b5-c743-76d3-3ecf9ed501fa
* Version Independent ID: 66515ce3-9a6a-0032-ab95-9b4a351a4fb1
* Content: [Configuration Class (System.Configuration)](https://docs.microsoft.com/en-us/dotnet/api/system.configuration.confi

[2018-10-22 15:56] #8509 closed

[2018-10-22 17:03] tdworshak opened #8547 "Method doesn't exist"
The Clear() method does not actually exist on the ConcurrentBag class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5be83e8-3895-6556-9cc9-d894db33aba9
* Version Independent ID: 4f506e89-d1ce-2b1a-697e-123fc044e70f
* Content: [ConcurrentBag&lt;T&gt;.Clear Method (System.Collections.Concurrent)](https://docs.microsof

[2018-10-22 17:12] #8495 closed

[2018-10-22 17:17] mikkelbu commented on #8545
Looks like a duplicate of #8544

[2018-10-22 17:30] mairaw commented on #7390
We're adding the clarification that is the Family 5 image that has the value already set.

[2018-10-22 17:43] mikkelbu commented on #8547
@tdworshak Note that this is documentation is for .NET Core 2.1. It is correct that the method does not exists in .NET Framework, but it does for .NET Core 2.0 and forward. The method was added here https://github.com/dotnet/corefx/issues/2338

[2018-10-22 18:05] blakecreasey opened #8551 "infoTask instead of integerTask"
In the "Task&lt;TResult&gt; Return Type" section, the second code block example has $"{await integerTask}", but the explanation refers to an "infoTask" variable: "The task is assigned to the infoTask variable . . . Because infoTask is a . . . When await is applied to infoTask . . . Result property of infoTask". If I have read it correctly, the explanation should refer to the integerTask variable,

[2018-10-22 18:36] AFallad opened #8552 "docker-compose.ci.build.yml is no longer in the repo"
docker-compose.ci.build.yml was deleted on with commit c38d576e86598e5bbb17c3e39137848919f4f866, however this chapter still has examples that require it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965c8ae7-7e10-fa78-8797-6df625d020d8
* Version Independent ID: d4570cd2-f4f9-4d5e-8361-774a6d4027e9
* Content: [Definin

[2018-10-22 18:44] rpetrusha commented on #8541
No feedback provided; closing.

[2018-10-22 18:44] #8541 closed

[2018-10-22 18:45] rpetrusha commented on #8542
No feedback provided; closing.

[2018-10-22 18:45] #8542 closed

[2018-10-22 18:46] mairaw commented on #8546
It's not clear what you meant by this feedback @1Manzaidm so I'm closing it. Let us know if you have additional information you can provide to us.

[2018-10-22 18:46] #8546 closed

[2018-10-22 18:47] mairaw commented on #8547
I hope @mikkelbu's answer helps you clarify what's going on so I'm closing this.

[2018-10-22 18:47] #8547 closed

[2018-10-22 18:50] Thraka commented on #8545
Closing as duplicate.

[2018-10-22 18:50] #8545 closed

[2018-10-22 19:02] mairaw commented on #8545
Added the duplicate label.

[2018-10-22 19:46] #8520 closed

[2018-10-22 19:48] JRAlexander commented on #8528
Thanks, @WayneMRoseberry. This has been added to the backlog.
cc: @sfilipi

[2018-10-22 19:50] #6418 closed

[2018-10-22 19:56] JRAlexander commented on #8460
cc: @GalOshri, @asthana86

[2018-10-22 20:02] sfilipi commented on #8528
Yep, the new API examples do this for the transforms, you should see some of this with the 0.0.7 release.

https://github.com/dotnet/machinelearning/pull/1321

[2018-10-22 20:08] blackboxlogic opened #8553 "Return Value When Key Doesn't Exist"
The documentation asserts: "returns the existing value if the key exists" but doesn't specify the return value if the key does not exist. Experimentation shows that the newly added value is returned when the key is not in the dictionary yet. This should be added to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-22 20:12] mairaw commented on #8355
Thank you for your feedback @mredulorfiaz!

[2018-10-22 20:17] #8544 closed

[2018-10-22 20:18] kostyamy opened #8554 "Improvements to supplied example"
Looks like the example above had a bit of an issue.
It seems to me instead of:
   if(0 == Interlocked.Exchange(ref usingResource, 1))
the line should say the following:
  if(0 == Interlocked.CompareExchange(ref usingResource, 1, 0))

otherwise what's the point of such "resource sharing" locking?
Also i would place resource unlocking code as part of "finally" block something like that:
   ...
   }

[2018-10-22 21:10] jbstcyr opened #8555 "Prototypes are in C++. There are no VB versions."
Prototypes in C++ only.  No VB versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6298b73a-8016-f280-a68a-ecafefa3bbc6
* Version Independent ID: 4e0a4520-b5f2-17c3-8785-c42c1313b6f7
* Content: [FileStream Constructor (System.IO)](https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream.-ctor?view=netframe

[2018-10-22 21:11] mairaw commented on #7961
This should be fixed when we merge the following PR: https://github.com/dotnet/dotnet-api-docs/pull/548. Take a look and see if that answers your question @thriolsson! Thanks.

[2018-10-22 21:16] mairaw commented on #8200
Thank you for letting us know @kburgoyne. @sudeepku another set of API redirections that need to be reverted.

[2018-10-22 21:18] mairaw commented on #8527
@terrajobst @weshaggard can you help clarify this?

[2018-10-22 21:28] mairaw commented on #7327
Thanks everyone for your comments. We've added this issue to a future sprint.

[2018-10-22 21:29] Thraka opened #8556 "Validate and update the WCF getting started series"
**Issue description**

I noticed that some of the artices in the getting started series related to WCF have some errors in the code. For example, the URL used in the C# code references a service named "GettingStarted" but VB uses "ServiceModelSamples" and then in another article the C# code references "GettingStartedService."

Because of these basic errors that may trip up anyone trying to complet

[2018-10-22 21:35] mairaw commented on #8444
@imba-tjd can you help us understand what @yiwangwenrou is asking here?

[2018-10-22 21:36] mairaw commented on #7653
Closing this due to the lack of activity. If we get more information, we can reopen this.

[2018-10-22 21:37] #7653 closed

[2018-10-22 21:39] mairaw commented on #7851
Closing this issue then. If you're still having problems @lm28, please let us know.

[2018-10-22 21:39] #7851 closed

[2018-10-22 21:40] mairaw commented on #8368
I'm moving this to our backlog @JamesNK. But let us know once you intend to work on this and I can assign this to a given sprint.

[2018-10-22 21:43] mairaw commented on #8519
Yes @HeraldOfOmega. You can switch the language on top to VB.NET:
![image](https://user-images.githubusercontent.com/12971179/47321188-c8b22280-d608-11e8-9248-1567cc1f4685.png)

[2018-10-22 21:43] #8519 closed

[2018-10-22 21:44] mairaw commented on #8202
@merriemcgaw @OliaG can you help here?

[2018-10-22 21:45] mairaw commented on #8463
@Maoni0 can you help with this feedback about GC?

[2018-10-22 21:50] mairaw commented on #8417
Thank you for bringing this to our attention @GeekAndProud. I think we should remove this topic from the current documentation set.

[2018-10-22 21:55] mairaw commented on #8253
You're right @wschin. We haven't documented all the .NET Core APIs yet. We'll take care of this on a future sprint.

[2018-10-22 21:58] mairaw commented on #8264
@scottaddie @Rick-Anderson can you help with this question?

[2018-10-22 22:00] karelz commented on #8454
@dagolinuxoid put up PR #8538, thanks!

[2018-10-22 22:04] karelz commented on #8418
Aren't host files kind of explicit DNS configuration?
AFAIK we do not parse the files ourselves, we ask DNS APIs which return us values based on their configuration.

cc @wfurt @davidsh

[2018-10-22 22:07] merriemcgaw commented on #8202
@KlausLoeffelmann , can you help troubleshoot Ben's issue? I don't know if this is an OS specific key.  @BenLussier can you give us your system information? Is there a reason why you can't/won't be using the gold bar and it's link to launch VS in DPI Unaware mode?

[2018-10-22 22:08] Thraka commented on #7390
@KjetilEVRY I can't seem to find where the documentation is wrong. Can you clarify?

[2018-10-22 22:09] wfurt commented on #8418
DNS is network protocol. However it is often used as broader "name resolution" service.
host file processing is not part of RFC1035 but is used on all supported platforms as part of the name services including  Dns.GetHostAddresses()
On Unix for example that function will also use other providers (like NIS)

[2018-10-22 22:11] rpetrusha commented on #8062
Thanks for submitting your question, @agehrke. ValueTuple is a tuple type that has no members and is intended to be used primarily in calling static ValueTuple creation methods. Because of this, its Equals(ValueTuple) method always returns true, since two empty value tuples are necessarily equal. This is documented in the [ValueTuple.Equals(ValueTuple)](https://docs.microsoft.com/en-us/dotnet/api/

[2018-10-22 22:16] davidsh commented on #8418
Correct.  Our System.Net networking layer does not parse any 'hosts' file directly.  The DNS subsystem in the operating system uses the 'hosts' file.

Unfortunately, you are correct about what the System.Net.Dns class actually does.  It does NOT strictly use DNS protocol.  It uses higher-layer "name resolver" functions in the OS.  This means it will use non-DSN protocol mechanisms to resolves name

[2018-10-22 22:21] karelz commented on #7393
Good catch @mahspiir. I put up a PR to fix it: https://github.com/dotnet/dotnet-api-docs/pull/650

[2018-10-22 22:29] karelz commented on #6842
@rpetrusha were you able to move it to the Windows docs owners?

[2018-10-22 22:45] #8427 closed

[2018-10-22 22:46] karelz commented on #8418
DNS apparently can refer to both - the protocol or subsystem. We use it in the sense of subsystem.
Unless it confuses more developers, I suggest to close the issue as answered. @samrueby are you ok with that?

[2018-10-22 22:51] Maoni0 commented on #8463
sounds reasonable to me. but this is more a BCL issue. @stephentoub do we already have some sort of guidelines wrt using SafeHandle somewhere?

[2018-10-22 22:52] mairaw commented on #8555
Thanks @jbstcyr. @Joelmartinez it looks like mdoc is not generating the VB signature for this API:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IO/FileStream.xml#L1417

[2018-10-22 23:04] mairaw commented on #8555
Duplicate of https://github.com/mono/api-doc-tools/issues/356

For that reason, I'm closing this issue.

[2018-10-22 23:04] #8555 closed

[2018-10-22 23:07] miss-programgamer opened #8558 "Example is not useful, other issues"
The provided example does not show how to use the event. It doesn't even have code in it besides the signature for the method. I'd go as far as saying it taunts anyone reading the article with the (very useless) comment that reads "Omitted Code: Insert code that does something whenever the text changes..."

A more useful example would be one that shows how to filter a character that gets added and

[2018-10-22 23:10] MiguelArseneault opened #8559 "No example provided"
No example is provided that shows how to use the contents of this class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49d3a8e-8d53-654a-9671-d46393de0806
* Version Independent ID: 35c0bf28-615a-9ff4-fa86-894fe7d62154
* Content: [TextChange Class (System.Windows.Controls)](https://docs.microsoft.com/en-us/dotnet/api/

[2018-10-22 23:10] MiguelArseneault opened #8560 "Doesn't link back to article on how to use it"
This page doesn't link to the article that explains how to use the event:
https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/how-to-detect-when-text-in-a-textbox-has-changed?view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6093e0f4-1b1d-f54d-9cbe-b88e9af53d4d
* Version Independent ID:

[2018-10-22 23:13] MiguelArseneault opened #8561 "Example is not for a useful use case"
Counting the number of TextChanged events is not a useful use case example. A more useful one would be to show how to filter out invalid characters or prevent the user from removing necessary text for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5200decc-0848-25a2-1308-d5e988354c58
* Version Independent ID:

[2018-10-22 23:16] terrajobst commented on #8527
@hannni, could you quote the particular section that you’re referring to?

[2018-10-22 23:31] mairaw commented on #8444
Ah no worries. I assumed you understood because you answered his comment on the original repo 😄

[2018-10-22 23:34] #7390 closed

[2018-10-22 23:35] #8525 closed

[2018-10-22 23:38] stephentoub commented on #8463
I don't believe the Framework Design Guidelines that @KrzysztofCwalina previously published covered SafeHandle, other than in comments included in the annotated version.  Guidance like the above is reasonable.  In particular, I view the discussion related specifically to finalizers: you should really think hard before adding a finalizer to manage unmanaged resources... if you find yourself thinkin

[2018-10-23 00:32] MiguelArseneault opened #8563 "The Custom Dialog Boxes Section is Broken"
Literally. Almost all example code boxes are separated at weird places, and they seem to be missing code as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc9312d-0333-286d-9d05-aaae6b98011d
* Version Independent ID: 5dd7b554-95f7-e86c-7338-2c8714a23df4
* Content: [Dialog Boxes Overview](https://docs.microsoft.c

[2018-10-23 01:00] KrzysztofCwalina commented on #8463
@bartonjs and I talked about starting an effort that would serve as an "errata"/update to the FDGs. @bartonjs, maybe this is a good candidate for the first update topic?

[2018-10-23 01:07] HirotoHirata opened #8564 "Image was broken on System.Windows.Media.Visual."
msdn documents is no problem, but this image's texts deleted when migration to docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08cf280-bb74-6eab-3475-b42508967afc
* Version Independent ID: 2dfcc4dd-6241-84d6-994a-413a54a259ff
* Content: [WPF Architecture](https://docs.microsoft.com/en-us/dotnet/framework/wpf/adva

[2018-10-23 01:29] samrueby commented on #8418
The documentation explicitly wrote "The GetHostAddresses method queries a DNS server...". "DNS Server" is the reason this is confusing and seemed to make it clear it meant the protocol.

I am okay with closing this because I created a documentation pull request: https://github.com/dotnet/dotnet-api-docs/pull/653

[2018-10-23 02:30] BenLussier commented on #8202
It really is just that it gets to be a pain to have to click that everytime I open VS. I am on a HDPI monitor so I will always be using DPI Unaware mode. Its really just an annoyance more than anything.
Specs: Win 10 Home, version 10.0.17134 build 17134, lenovo thinkcentre m900, intell i5-6600T, x64, 16GB ram

[2018-10-23 03:03] scottaddie commented on #8264
@Raghumu Microsoft doesn't ship any controls like this in ASP.NET Core. There are, however, 3rd party controls available from Microsoft partners (e.g. Telerik's [TreeView](https://www.telerik.com/aspnet-core-ui/treeview)).

[2018-10-23 03:40] #8264 closed

[2018-10-23 04:03] Babster opened #8565 "finally"
I can't understand what is the difference in the program behavior between finally block and just code without it. Isn't the code below the same as written with the finally block?
        try
        {
            // Invalid conversion; obj contains a string, not a numeric type.
            i = (int)obj;

            // The following statement is not run.
            Console.WriteLine("WriteLine at

[2018-10-23 04:57] mfkl opened #8566 "dead link in datetime docs page"
Hello,

I think I found a dead link: `Format a date time using the ISO 8601 standard for web services` on page https://docs.microsoft.com/en-us/dotnet/api/system.datetime?view=netframework-4.7.2 which is not in this repo as far as I can tell.

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3977fb-3fcf-8fcf-53f

[2018-10-23 05:37] lacikocsis opened #8567 "explanation not updated to reflect changes"
It seems to me that the example code for the Book class was changed, but the explanation following it was not updated fully. There are two mentions of a private authorName field and one mention of a private bookPrice and a private  ISOcurrencySymbol field. The example code for the Book class does not declare/use these fields now.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-23 05:49] mairaw commented on #8444
@yiwangwenrou can you please give us more information about what you were doing and expected results? Is there something wrong on the page?

#please-translation

/cc @JasonCard

[2018-10-23 06:17] sftblw opened #8568 ""throws" omitted"
Remarks section makes notice of validation of value but I can't find information of what happens when validation fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acef50e2-0c59-cfb6-0d3c-99c135ca76cb
* Version Independent ID: 11531e0e-dca1-e0c0-3b47-f8b04a70eaad
* Content: [HttpHeaders.Add Method (System.Net.Http.H

[2018-10-23 07:35] davidfowl commented on #8368
Which ones?

Do you mean in a first class way? cc @natemcmaster Isn't there a way to add more dlls to the package?

Can you elaborate here?

[2018-10-23 07:39] agehrke commented on #8062
Ah, yes, this page is for `ValueTuple` with no members, but the remarks section contains general information about tuples. I think it would make sense to also explain about equality in this section and maybe a few words on hash code. The Equals documentation for `ValueTuple<T1,...>` does explain how equality is considered:

[2018-10-23 11:43] kaimikael opened #8574 "Inconsistency in behaviour"
I am using Visual Studio for Mac Community 7.6.9, which behaves somewhat differently.  Right-clicking on a project name brings up a menu which contains an ”Options” option.  Alternatively one may select from the Project menu ”&lt;project name&gt; Options”.  In the popup window that opens, one can navigate to Build/Compiler which has a checkbox for “Generate xml documentation”.  This does not howev

[2018-10-23 11:53] kaimikael opened #8575 "Unclear exposition"
The explanation for how to use &lt;include&gt; in the comments says:
“Now you're going to move all your XML tags into a separate XML file named docs.xml.”  How exactly should I go about this move?  If I have created the docs.xml with the -doc option there will be an XML file containing the documentation for the file, I shouldn’t need to do anything additional for that.  However, changing all the l

[2018-10-23 13:15] svick commented on #8527
@terrajobst I think it refers to the "Windows" row in the table:

![](https://user-images.githubusercontent.com/287848/47363145-590a6900-d6d6-11e8-960a-4118963eb92c.png)

[2018-10-23 13:50] CoolDadTx commented on #8368
@davidfowl ,
Which ones? https://developercommunity.visualstudio.com/content/problem/266675/package-metadata-properties-are-missing-from-sdk-p.html

Do you mean in a first class way? Project references are converted to package references in the nuspec file irrelevant of whether the project actually generates a package or not. Example: You have a solution called MyLib. It contains MyLib.Core and My

[2018-10-23 14:51] BillWagner commented on #8359
Extra list of tasks discovered while updating internal text:

- [ ] Create issue to update Roslyn SDK quickstarts to tutorials (make that a separate PR)
- [ ] Update directories and namespaces in related local tutorials.

[2018-10-23 15:44] natemcmaster commented on #8368
Yeah, you write a .nuspec. I agree with @CoolDadTx's point about it being painful to customize some aspects of nuspec generation. Example: https://github.com/NuGet/Home/issues/5063. Sometimes, it's just not possible to get the .csproj to layout the package the way you want. In these cases, I recommend writing a nuspec file manually. This can still be used with a .csproj like this:

[code]

Example

[2018-10-23 16:03] #6271 closed

[2018-10-23 16:38] Thraka commented on #7957
@bhadanimayank @shamimevatix Hi! @koviroli just submitted a pull request that may have fixed your issue. It will take less than a day to appear online, but you can review the change here: #8493

**Please let me know if this fixes your issue.**

----

I also filed issue #8556 to hopefully get some work done on that entire series to make sure it's all still working.

[2018-10-23 16:47] JasonCard commented on #8444
@yiwangwenrou can you please give us more information about what you were doing and expected results? Is there something wrong on the page?

#please-translate

cc @DavidPrio

[2018-10-23 17:26] CoolDadTx opened #8578 "Package metadata properties does not document correct package description attributes"
The documentation for the properties used to generate the NuGet metadata is out of date in regards to the package description. The [link](https://developercommunity.visualstudio.com/content/problem/266675/package-metadata-properties-are-missing-from-sdk-p.html?childToView=364299#comment-364299) discusses the specific issue I'm mentioning here.

The section on NuGet properties says to use the `Desc

[2018-10-23 17:53] #8454 closed

[2018-10-23 18:04] hannni commented on #8527
@terrajobst exactly the line that @svick referenced

[2018-10-23 18:43] atmmodrdocs opened #8581 "Question about limit of threads"
Hi. Suppose the tree has 3000 nodes. Won't the DoTree function keep thousands of threads waiting at  Task.WaitAll(left, right) , causing some kind of overflow or deadlock? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2631568f-661c-18e9-99c9-ee31fe6072e6
* Version Independent ID: d575b99d-00d1-52fa-2e39-7c4af33

[2018-10-23 20:42] MarcioAB opened #8584 "HorizontalScrollBarVisibility default is AUTO and not Hidden"
The Property Value explanation says the default is Hidden, but the default is Auto.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7707e9b8-2a87-cb51-7c81-e0e6a7a0af60
* Version Independent ID: 0c85b512-3af9-a095-e4aa-1fef96a2ea17
* Content: [ScrollViewer.HorizontalScrollBarVisibility Property (System.Windows.Controls)

[2018-10-23 22:07] DavidPrio commented on #8444
@yiwangwenrou 您能否告诉我们您当时在进行什么操作以及当初预期的结果是什么？页面上出现了什么问题吗？

#请翻译

cc @JasonCard @mairaw

[2018-10-23 22:31] #8566 closed

[2018-10-23 23:01] GalOshri commented on #8460
Agreed that's a good tutorial to have.

Regarding reading many columns, an example with the new APIs can be found [here](https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce918048434/docs/code/MlNetCookBook.md#how-do-i-load-data-with-many-columns-from-a-csv). An example with the older APIs can be found [here](https://github.com/dotnet/machinelearning/issues/420).

[2018-10-24 00:05] Shadowfita commented on #8202
Same issue here. 4k display 300% scaling. Registry key made no difference. Windows 10 Pro.

[2018-10-24 01:16] imba-tjd commented on #8034
@mairaw This issue has been resolved

[2018-10-24 01:36] #2891 closed

[2018-10-24 01:36] #3786 closed

[2018-10-24 01:36] #4441 closed

[2018-10-24 01:36] #4927 closed

[2018-10-24 01:36] #5686 closed

[2018-10-24 01:36] #5792 closed

[2018-10-24 03:33] imba-tjd commented on #8444
它们的运算结果是DBBool而不是bool，那些运算符都重载过了。你给的例子的结果是DBBool.Null，对它取反还是DBBool.Null应该没什么问题吧

[2018-10-24 04:52] ghkamfung opened #8592 ""Cancel" flag"
Opposite to the document, my console application terminate only if e.Cancel is set to true.

Public Sub ConsoleCancelEventHandler(sender As Object, e As ConsoleCancelEventArgs)
        e.Cancel = True
End Sub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ab5d38-0ca0-f2c5-767a-532392b1d352
* Version Independent ID: 9

[2018-10-24 05:50] pkulikov commented on #8143
@GalOshri

Current docs make a note of the new API and provide the links to the intro topics in dotnet/machinelearning repo:
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/

[2018-10-24 06:56] Pgierlach commented on #6747
The ISO we have received from IT doesn't have x:\sources\sxs directory. When we try to install .Net 3.5 from Win10 iso from microsoft website it says that there is a version mismatch.

[2018-10-24 07:28] andriysavin commented on #3907
I still have my question unanswered:

Please, can somebody comment on this?

[2018-10-24 08:06] thiagoloureiro opened #8593 "Typo in First Image comparing patterns"
It's written AMPQ, it shouldn't be AMQP (Advanced Message Queuing Protocol) ?

this image:
https://github.com/dotnet/docs/blob/master/docs/standard/microservices-architecture/architect-microservice-container-applications/media/image15.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89fd8427-589c-9158-f9e9-6b59d34ac4

[2018-10-24 09:03] amis92 commented on #7292
Is this going anywhere?

[2018-10-24 09:05] hackerzhuli opened #8594 "Error in euqlity short-circuit documentation"
"These comparisons short-circuit. The == operator stops evaluating members as soon as one pair is not equal. The != operator stops evaluating members as soon as one pair is equal."
I believe the != operator also stops evaluating members as soon as one pair is not equal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b

[2018-10-24 11:14] kunggom opened #8595 "Please add a way to stop the infinite loop."
I ran the code to solve the challenge and fall into an infinite loop, and I was embarrassed to find no way to stop it. I think we should add a button to stop the infinite loop manually, or add a feature to automatically stop code that takes too long to execute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9e98de-9d

[2018-10-24 11:46] austvik opened #8596 "Attaching debugger"
How do you attach a debugger and pause before execution until the debugger is attached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd3f4227-cd9b-7b1c-7e1b-ffb3d42ae496
* Version Independent ID: 7e78f9f5-f77c-828d-ef76-8ef8593d5803
* Content: [dotnet run command - .NET Core CLI](https://docs.microsoft.com/en-us/dotn

[2018-10-24 13:11] FrqSalah opened #8597 "Dead link"
[ListView with Multiple Views Sample](https://archive.msdn.microsoft.com/Project/Download/FileDownload.aspx?ProjectName=wpfsamples&DownloadId=7766) is a dead link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277d063e-777f-c1ec-7e86-479f636f1788
* Version Independent ID: d84b065e-5b13-cc11-cfb1-df02969e3d3a
* Content:

[2018-10-24 13:21] BillWagner commented on #3907
@andriysavin Thanks for pointing this out.

I'll make another PR to address that.  In the meantime, here's the text I need to add:

[2018-10-24 13:32] andriysavin commented on #3907
@BillWagner I'm not sure we're talking about the same thing. I mean primitive types like Int32.

[2018-10-24 13:36] BillWagner commented on #3907
We are talking about the same concept. (I need to make an issue to clearly surface the term "unmanaged type" better).  The term is defined in the [Pointer types](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/unsafe-code#pointer-types) section of the C# language spec.  The pertinent paragraph is this:

[2018-10-24 13:36] mikedn commented on #3907
They are in current .NET Core builds: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Int32.cs

[2018-10-24 13:38] BillWagner commented on #3907
Ping @jaredpar @agocke

See the above two comments. How do we want to resolve this for the docs and the spec?

[2018-10-24 13:42] andriysavin commented on #3907
@mikedn Yes, saw that too, and that's strange this wasn't done at the same time as readonly feature was introduced.
@BillWagner thanks for explaining. Why I was concerned with this in the first place is because I was observing defensive copies with primitive types at IL level when calling something like `Int32.ToString()`. Maybe compiler (JIT Compiler?) removes those defensive copies because, as y

[2018-10-24 13:46] BillWagner commented on #8594
@hackerzhuli Thanks for spotting this and pointing it out for us.

You are correct, the explanation for short-circuiting on `!=` should be reversed.

Do you want to issue a PR for this? I've added it to the next milestone, and added the "up-for-grabs" label. If so, I'll assign it to you, and watch for a PR.  If not, I'll make the change in the next few weeks.

[2018-10-24 13:53] mikedn commented on #3907
AFAIK that's the reason why there made readonly in the end. Though the C# compiler should now that they are readonly, it seems that it didn't always take advantage of that and it probably made more sense to make these types readonly than to add more special casing to the compiler.

The JIT can't do much about this. It does not know about readonly and it doesn't know that ToString does not modify t

[2018-10-24 13:54] MarcioAB opened #8599 "Justify does not work"
To reproduce the issue, just use the example above and change TextAlignment="Left" to "Justify".
 Maybe a small comment to explain why should be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 731375fb-7d0b-691c-9c13-87ba84a117fa
* Version Independent ID: 6a9fc1f9-c3f8-57c2-d4e8-85221e54add9
* Content: [TextAl

[2018-10-24 14:07] equin0x80 opened #8600 "Compiler Error CS0724 has a wrong, irrelevant code sample"
Compiler Error CS0724 is an error about the CLSCompliant attribute. However, the code sample that is supposed to produce this error is completely irrelevant and relates to try-catch.  In fact this code sample looks like it should be at CS1626 instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db150051-3261-09c1-ec

[2018-10-24 14:10] equin0x80 opened #8601 "Compiler Error CS1626: mistake in the docs?"
Compiler Error CS1626 states: "A yield statement is not allowed in a try block if there is a catch clause associated with the try block. To avoid this error, move the yield statement out of the catch clause."
This does not make sense: if the problematic yield statement is in a TRY block, then how can it be moved out of a CATCH?  I think the writer confused the words TRY and CATCH.  (The code sampl

[2018-10-24 14:22] mikkelbu commented on #8600
Isn't it the text that is wrong and not the code? https://github.com/thomaslevesque/GenerateCSharpErrors/blob/master/CSharpErrorsAndWarnings.md states that CS0724 is an Error with the following text "A throw statement with no arguments is not allowed in a finally clause that is nested inside the nearest enclosing catch clause". According to the page it is extracted from the roslyn source code, see

[2018-10-24 14:43] KristianJakubik opened #8602 "The 'Async' suffix is missing"
Hi,
I found out, that in the last **Example** section is missing suffix `Async` for method `ProcessURL`.

Can I create PR for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702427b0-0bcc-1152-75a5-c909717723c0
* Version Independent ID: 0dbb92ca-4166-ceaf-1083-1280703a9c15
* Content: [How to: Extend the async Walk

[2018-10-24 14:46] #7393 closed

[2018-10-24 14:48] #7012 closed

[2018-10-24 14:53] jonsequitur commented on #8595
This looks like a bug on the Try .NET end where our usual timeout protection fails under certain circumstances but the server still returns 200. I'm looking into a fix.

[2018-10-24 14:58] 1RedOne opened #8603 "Sample does not build"
This sample has a number of issues.  In the XAML, the StackPanels must be nested within the Grid in order to not throw errors.  Furthermore, the UI will have many non-accessible buttons due to the stack panels missing their Grid.Column and Grid.Row properties.  On top of this, the code behind has numerous unassigned variable errors.

I'm not sure how this was ever meant to work, so fixing it raise

[2018-10-24 15:04] #6881 closed

[2018-10-24 15:46] mmuratay opened #8605 "Thank you."
Thank you so much. As a new developer, this is what i need.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dff5a94-d9cd-e31b-4056-362abbe8d782
* Version Independent ID: cfb1ad21-e822-4075-2726-bd130ec2358d
* Content: [C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/)
* Content Source: [docs/csharp/index.md](h

[2018-10-24 15:48] Blackbaud-LoriWeiss opened #8606 "duplicate content"
This page seems to have its content duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0433e26-ec42-bff0-a21a-0dab9dc0d924
* Version Independent ID: b508295b-5c77-4194-3a98-b724f9fb8e2e
* Content: [FileSystem.OpenTextFileWriter Method (Microsoft.VisualBasic.FileIO)](https://docs.microsoft.com/en-us/dotnet/api/

[2018-10-24 16:23] frankbjr opened #8607 "Small Typo in page text."
if they traverse from a target up the tree to the root, and are said to "tunnel" if ***THAT*** start at the root and traverse down to a target.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08cf280-bb74-6eab-3475-b42508967afc
* Version Independent ID: 2dfcc4dd-6241-84d6-994a-413a54a259ff
* Content: [WPF Architecture]

[2018-10-24 16:30] #8537 closed

[2018-10-24 16:31] mairaw commented on #8537
Every detail matters @AderitoSilva! Obrigada! And thanks @Chris-Johnston for jumping on the issue.

[2018-10-24 17:16] davidvmckay opened #8609 "What does IMemoryOwner<T> do?"
At the very least, please link to the overview or blog post or whatever discusses this.

This is the top page in search engines for the query `IMemoryOwner`, but it is also the most ***useless***.

I will return to Google and keep digging now....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f0350b2-5159-dcde-bf30-04

[2018-10-24 17:18] davidvmckay commented on #8609
See https://gist.github.com/GrabYourPitchforks/8efb15abbd90bc5b128f64981766e834 for at least one un-official explanation.

[2018-10-24 17:33] VSadov commented on #3907
In theory C# compiler is even further than JIT from seeing the actual implementation of `int.ToString()` or `double.GetHashCode()`, so it cannot assume the methods are not mutating.

Even if mutations would not make sense, there are no specs either C# or CLR that demand or promise that.

We actually went on the route of treating `Nulable<T>` as readonly. `Nullable<T>` instances can be pretty large

[2018-10-24 17:39] tylerl0706 opened #8612 "This doc should call out how StringReader.ReadLine handles new lines at the end of file"
if you have a blank line at the end of the string, StringReader.ReadLine() will give you `null` for that.

If you have 2 blank lines at the end of the string, the two calls to ReadLine will give you first an empty string and then `null`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5543d837-5155-8683-6223-09a9f0a0d74

[2018-10-24 17:39] #8607 closed

[2018-10-24 17:52] mikkelbu commented on #8606
@Blackbaud-LoriWeiss There is a

[2018-10-24 17:58] karelz commented on #8612
@tylerl0706 can you submit PR with the changed wording?

[2018-10-24 18:10] mikedn commented on #8612
There may be some sort of confusion here about that blank line at the end is supposed to be. As far as I can tell `ReadLine()` works as expected and the documentation is correct.

[2018-10-24 18:35] rpetrusha commented on #8062
Thanks for clarifying your request, @agehrke. The first two paragraphs of the topic have some general information on tuples and their usage. The remainder of the Remarks section focuses on the ValueTuple type specifically. Our intent here was to create a very general introduction to tuples (which is common to ValueTuple and each of the generic ValueTuple types) without going into very much detail.

[2018-10-24 18:47] rpetrusha commented on #8606
I agree as well, @Blackbaud-LoriWeiss and @mikkelbu. It's not only that we've presented the same example for both overloads, but that we've failed to differentiate the overloads. (For example, the overload definition is OK, the definition for the first overload could either by identical or mention the append/overwrite option, and the second overload definition should definitely mention the encodin

[2018-10-24 18:58] rpetrusha commented on #7909
@Tanya-Solyanik, do you know of any issues with the VisibleChanged event?

[2018-10-24 19:02] mairaw commented on #8423
Thank you for your feedback @Jonas-Marty. A member of the community has already created a PR to address this.

[2018-10-24 19:03] Thraka commented on #8386
@laithassembla @JamesNK @giotavekiari

I think the myget website should make this clear, not our docs here. This will just cause confusion because we'll be saying there is something free behind a subscription model that really could change at any moment (as it did in this case of removing the page from the myget site)

We should just simply state that "MyGet is available for public and private fee

[2018-10-24 19:39] BillWagner commented on #8605
Thanks for the compliments. I'm glad it is what you needed.

[2018-10-24 19:39] #8605 closed

[2018-10-24 20:45] rjmholt commented on #8612
Well the relevant remark in the documentation is:

It's uncontroversial then that `"a\nb\nc\n"` returns the three lines `"a"`, `"b"` and `"c"` given this definition.

But I could perhaps read this as also meaning that `"a\nb\nc"` should only return two lines, `"a"` and `"b"`, since they are only two "sequences of characters followed by a linefeed, carriage return or both", followed by `null`.

Giv

[2018-10-24 21:14] mikedn commented on #8612
That would be highly controversial 😁

Yep, that should work. Interestingly, the base class already says something like that:

[code]

[2018-10-24 21:35] LisandroSu opened #8616 "string (C# Reference)"
@ArtemIsaev13 commented on [Wed Oct 24 2018](https://github.com/dotnet/docs.ru-ru/issues/141)

On the page
https://docs.microsoft.com/ru-ru/dotnet/csharp/language-reference/keywords/string
you can see the text:

**_The advantage of verbatim strings is that escape sequences are not processed, which makes it easy to write, for example, a fully qualified file name:
@"c:\Docs\Source\a.txt"  // rather

[2018-10-24 21:35] LisandroSu commented on #8616
Hi Team, please check on this issue reported by the user.

Thanks!

[2018-10-24 22:20] rjmholt commented on #8612
The relevant line in question:
https://github.com/dotnet/dotnet-api-docs/blob/d42d6e7178e293d24939d4a3bd5b2f43973c82ba/xml/System.IO/StringReader.xml#L832

Hopefully I can submit a PR this week.

[2018-10-24 23:31] Thraka opened #8619 "[project] Improve Docker story .NET Core/ASP.NET Core"
This is an issue for discussion related to the .NET Core Docker story.

---

The goal of this project is to identify and target key articles that can be improved or written to increase our coverage of using Docker with ASP.NET Core/.NET Core.

- Host your application in a Docker container.
- Use containers to install and run .NET Core without affecting your system.
- Building your own custom .NET

[2018-10-24 23:39] mairaw commented on #8616
Nope @ArtemIsaev13. The document is correct.

See another example with and without the verbatim at this topic:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/verbatim

[code]

Let us know if you still have questions. Thanks!

[2018-10-24 23:39] #8616 closed

[2018-10-25 00:02] ygoe opened #8621 "Only returns a single out of multiple exceptions"
&gt; If any of the supplied tasks completes in a faulted state, the returned task will also complete in a Faulted state, where its exceptions will contain the aggregation of the set of unwrapped exceptions from each of the supplied tasks.

That doesn't match my observation. Here's the test code:

	private Task Test1()
	{
		throw new Exception("Test1");
	}

	private Task Test2()
	{
		throw new Exce

[2018-10-25 00:12] peterremote1980 opened #8622 "hang in ReadInt activity"
I have finished "How to : Run a Workflow" example, but the program hang in ReadInt activity, why?
thanks
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8a93236-b0ab-b367-b086-deadf52a7c82
* Version Independent ID: 2e8a64e6-e2ce-cacd-bc6f-645bc95eaf49
* Content: [How to: Create an Activity](https://docs.microsoft

[2018-10-25 00:16] peterremote1980 opened #8623 "hang in ReadInt activity"
hang in ReadInt activity, why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 677e14d7-3d84-0007-3d62-4302b46a8781
* Version Independent ID: d4a2f845-5bcd-48d4-eae6-72854e2f6598
* Content: [How to: Create a Sequential Workflow](https://docs.microsoft.com/en-us/dotnet/framework/windows-workflow-foundation/how-to-create-

[2018-10-25 02:51] BenK10 opened #8627 "Function does not handle paths with whitespace"
This function cannot handle paths with whitespace. It will truncate at the first location with whitespace. The doc says nothing about this.

Attempting to quote such a path throws an ArgumentException because the quotes are illegal characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f481a9-6cdc-49c0-098b-08e63

[2018-10-25 04:09] aliaga-d opened #8630 "Problems with WriteObject"
Regarding [https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/how-to-serialize-and-deserialize-json-data](url)  in step 3, which says

When said object p ' string member (say name) contains a '/' , WriteObject writes it as '\/'. Is there any way to avoid this?

[2018-10-25 07:58] jbstcyr opened #8636 "No VB.net example provided."
No example of any kind provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a585a7-1ba1-9d21-507f-74d152131348
* Version Independent ID: a2f1c5ce-82f8-d70b-9e90-50b9ee0d0221
* Content: [ComponentDesigner.ShadowProperties Property (System.ComponentModel.Design)](https://docs.microsoft.com/en-us/dotnet/api/system.c

[2018-10-25 09:33] andersemil opened #8638 "Document is missing FormatException"
This method also throws a FormatException if the string is not a valid URL string token

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23742fc7-9bdf-fd8e-6499-9e14575c41ad
* Version Independent ID: 15c1d9c9-d4b3-9bbf-f21b-d40fd814c7c7
* Content: [HttpServerUtility.UrlTokenDecode(String) Method (System.Web)](https://doc

[2018-10-25 10:43] arslanahmad656 opened #8639 "d"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73602bd8-0e79-1348-c146-a146fd0265e0
* Version Independent ID: a2ac65c3-5ef9-9e06-232a-5e6cd1c60bc9
* Content: [AttributeUsageAttribute Class (System)](https://docs.microsoft.com/en-us/dotnet/api/system.attributeusageattribute?view=netframework-4.7.2)
* Content Source: [xml

[2018-10-25 10:43] #8639 closed

[2018-10-25 11:46] NN--- opened #8640 "Method returns null for zero value ptr"
When ptr == IntPtr.Zero, the method returns null, however it is not documented.
https://referencesource.microsoft.com/mscorlib/R/48a38ffe8a227f92.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fefda702-61b2-2765-5629-74777733d8be
* Version Independent ID: 8149739c-0187-da29-a07e-3d53221447fa
* Content: [Marshal.Pt

[2018-10-25 12:28] rfcdejong opened #8641 "Deprecated?"
Looking at the repository readme https://github.com/aspnet/HealthChecks/, is this way of health checking deprecated and replaced in 2.2 Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e98bdd99-d89d-8720-9018-25f73dcfdbd8
* Version Independent ID: c02edf4f-eb03-f02a-c72d-510cc17c8c9e
* Content: [Health monitoring](

[2018-10-25 12:43] obayit opened #8642 "How to remove http headers"
There is a service that I am supposed to consume, but the generated client sends an http header "Expect" with the value "100-continue" with "every" request. And for some reason the server returns 500 Internal Server Error.
To make sure this is the culprit header I used Fiddler to remove it just before sending the request and it worked!
I am sure this is because of the poorly configured server. But

[2018-10-25 13:00] obayit commented on #8642
Just found a solution on this [stackoverflow answer](https://stackoverflow.com/a/4328508/3557761).

[2018-10-25 13:00] #8642 closed

[2018-10-25 16:08] KnorxThieus opened #8644 "InvalidOperationException"
It looks like GetProcessId() does not throw InvalidOperationException. For more information, see here: https://stackoverflow.com/questions/52519030/net-getprocessbyid-when-is-invalidoperationexception-thrown?noredirect=1#comment92828459_52519030

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb8defcd-3164-7ab1-ab54-94f

[2018-10-25 16:49] BrendanGrant opened #8645 "Applies to & new values"
By default when visiting this page a user is shown the version that relates to the latest version of the .net framework (4.7.2), which is the first version to include EphemeralKeySet. This is a bit confusing as the "Applies to" section calls out frameworks going back quite some time.

Given the newness of this enum value, it might be helpful to call out the new/exception case, as anyone not develo

[2018-10-25 17:04] dgriffen opened #8646 "ReadBlockAsync docs unclear on difference to ReadAsync"
The docs for ReadBlockAsync are almost identical to the docs for ReadAsync but their behavior is quite different. ReadBlockAsync appears to try and fill the buffer with `count` characters before returning, only returning early if the stream ended. ReadAsync on the other hand appears to fill a maximum of `count` characters, but will return early if there is no more data ready for reading.

---
####

[2018-10-25 17:58] Techupdate11 commented on #7757
@CESARDELATORRE Any updates on this please?

[2018-10-25 18:05] #8359 closed

[2018-10-25 19:32] regal60740 opened #8647 "Command Not Working"
I could not get "dotnet published\aspnetapp.dll" from above to work in console. I had to change to the "C:\Windows\System32\dotnet-docker\samples\aspnetapp\aspnetapp\published" directory to get it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9731aae1-505b-abb1-0d4b-d6a83ec735e1
* Version Independent ID: 7607

[2018-10-25 20:18] GreatisNate opened #8648 "Example is wrong"
Example for the subtraction is incorrect, the second set console output accidentally repeats the first date minus second date, when it should be third date, the output comments for the differences are correct, but not the range,

Console.WriteLine("({0}) - ({1}): {2} days, {3}:{4:d2}",
                  firstDate.ToString(),
                  thirdDate.ToString(),
                  difference.Days

[2018-10-25 20:20] edcastanohunter opened #8649 "Error when mesage exchage over https, cert is not being sended."
I am following the sample here, I amusing a custom binding that does not use the compositeDuplexElement and the OneWayBindingElement. I have tried this throught http and it signs the message well, but when I want to go over https it doesn't work. I made a review with wireshark and it evidence that there is not certificate being sent after the Server Hello Done Certificate, Client Key Exchange, Cha

[2018-10-25 20:37] M-Zuber commented on #8594
I'd be happy to make the PR if @hackerzhuli is not going to

[2018-10-25 21:13] mairaw commented on #8648
Good catch @GreatisNate! We'll take care of that.

[2018-10-25 21:14] #5763 closed

[2018-10-25 22:09] Thraka commented on #7835
@mairaw I'll nab this P1

@KathleenDollard if you run the `-h` help in dotnet core doesn't specify that it also works on solution files, though it does. The documentation also omits this.

I'm going to fix this in the documentation, but what should we do to get this fixed in the dotnet core cli help?

Also, does the 1.x cli support solution files?

[2018-10-25 22:17] mairaw commented on #7835
Sounds good @Thraka! Thank you!

[2018-10-25 23:33] Camios opened #8652 "Fix the example!"
This is a poor example due to a race condition: the main thread won't wait for the ReadLineAsync to complete because the signature of ReadCharacters is async void. It is probable that someone running this won't see "First line contains: &lt;result&gt;" printed on the console because the main thread will finish before ReadCharacters completes. I ran this example and all I see is "Opened the file.".

[2018-10-25 23:48] Kexerval commented on #6929
Asking to close issue as the issue is now resolved in current MS documentation. @mlacouture

[2018-10-25 23:58] nabokov-ef opened #8653 "Rijndael.Create in Main"
Why do you create Rijndael in Main? I think we do not need an instance of Rijndael to pass a key and a IV to the EncryptStringToBytes and DecryptStringFromBytes because these methods create own Rijndael's instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75dbabb-9969-e85c-1195-153fb2b6fe92
* Version Independen

[2018-10-26 08:03] dracc opened #8656 "XMLSerializer: See also: points to itself?"
The section "See also:" provides a link to the same exact page. Doesn't feel helpful at all, does it?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab45c0e-385e-13cc-8cda-3b144ac40bbb
* Version Independent ID: b07001e7-2007-8fe0-e42e-c41afc237724
* Content: [XmlSerializer Class (System.Xml.Serialization)](https://docs

[2018-10-26 09:41] imanushin opened #8657 "Thread Safety"
Is this class Thread Safe?

According to this question - it is not - https://stackoverflow.com/questions/5697154/is-system-servicemodel-channels-buffermanager-thread-safe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fa3494a-947c-2cbd-6ccd-d0c1a0cc51b8
* Version Independent ID: 590aef90-3bc6-411c-fa40-797bdeac1e0c
*

[2018-10-26 09:43] FloteFuertes commented on #5889
Hi just new to network programming how can I include authentication using this sample?
I am having hard time figuring it out. I am using X509Certificate to Authenticate with AuthenticateAsServer.

 Thank you

[2018-10-26 09:56] FloteFuertes opened #8658 "Authentication with X509Certificate and Symmetric Examples"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
I am using Authentication to search
- Tell us what docs you found that didn't address your concern.

**Describe the new topic**

- Explain why this topic is needed.
For Beginners who wants to learn client-server authentication.
- Suggest a location in the Table of Contents.
-client-server authenticati

[2018-10-26 10:32] andrekoehler opened #8659 "Byte layout"
So if I have a PixelFormats.Bgr24 image in memory, does byteArray[0] contain red or blue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d29397a-4f05-b17b-7611-98f6d879f14b
* Version Independent ID: e18fcb57-e336-7f6c-b9a7-5abcb2bce7c9
* Content: [PixelFormats.Bgr24 Property (System.Windows.Media)](https://docs.micros

[2018-10-26 13:50] Mortens4444 opened #8662 "InvalidOperationException"
I have the following stack trace:

System.InvalidOperationException: This access control list is not in canonical form and therefore cannot be modified.
   at System.Security.AccessControl.CommonAcl.ThrowIfNotCanonical()
   at System.Security.AccessControl.CommonAcl.AddQualifiedAce(SecurityIdentifier sid, AceQualifier qualifier, Int32 accessMask, AceFlags flags, ObjectAceFlags objectFlags, Guid ob

[2018-10-26 15:13] regal60740 opened #8663 "Wrong Directory"
Where it says: Execute the following command in the unit-testing-using-dotnet-test directory:

console

Copy
dotnet sln add .\PrimeService.Tests\PrimeService.Tests.csproj

It should say "unit-testing-using-nunit" directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0063ceb-57ea-f30c-efed-b2a36314ccaa
* Version In

[2018-10-26 15:29] livarcocc commented on #7835
It always has worked on solution files. Thought dotnet test on solution files is being worked on and dotnet publish does work well either.

[2018-10-26 15:35] pkulikov commented on #7890
Agree with @svick. These are almost all keyword and operator articles. While I'm going through the operator articles to move snippets to the samples repo, I'll update links to the C# spec as well. So, an update of the keyword articles is up-for-grabs.

[2018-10-26 15:38] Thraka commented on #7835
Ok, good to know. I just got done doing a simple test with 1.1 in a container to verify :)

[2018-10-26 15:51] regal60740 opened #8665 "Wrong Directory Name"
"Execute dotnet sln add .\PrimeService.Tests\PrimeService.Tests.csproj in the unit-testing-using-dotnet-test directory." should be the "unit-testing-using-mstest" directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c123f1f-8ae8-db21-2eac-4297bfc30b44
* Version Independent ID: 4675decb-333f-0508-5a3d-ce71dc85936d

[2018-10-26 16:22] regal60740 commented on #8665
Also, when get to "Run dotnet test, and two of these tests fail." I get a total of 4 tests, and three fail. after changing the if statement to "if (candidate < 2)", I still get 4 tests but they all pass.

[2018-10-26 16:36] mairaw commented on #6234
Sorry for the delay @kkm000. As you can see, our backlog has been growing and we're a small team.

@csharpfritz any idea who could help with this question? Is there something we could add to the topic to explain why is needed?

[2018-10-26 17:30] BillWagner commented on #7890
I also think this is a good idea.

Rather than re-open this issue, I'd like to do the following:

1. Do a quick file search to find all locations with the generic include.
1. Create an issue that requests the following for each file or folder:
  - Add proper deep links into the spec if they are not already present.
  - Remove the general link, if that's appropriate.
  - Check off that file in the

[2018-10-26 17:30] #8648 closed

[2018-10-26 17:32] pkulikov commented on #7890
@BillWagner that sounds like a good plan

[2018-10-26 17:38] svick commented on #7890
@BillWagner Sounds good to me.

[2018-10-26 17:49] mairaw commented on #1931
Unfortunately, I think that was a migration issue. Because that content should have been moved with see tags instead of MarkDown links. Yes, I'm hoping they can fix that but certainly changing the links fixes the problem we're seeing now.

I've asked them to reindex the content again after your changes and now the link text appears as expected. e.g. https://docs.microsoft.com/en-us/dotnet/api/?ter

[2018-10-26 18:39] mikkelbu commented on #8665
@regal60740 I get 5 tests (the original + one for `ReturnFalseGivenValuesLessThan2`, and one for each of the values -1, 0, and 1). And the tests for `ReturnFalseGivenValuesLessThan2`, -1, and 0 fail. I guess that the overall test `ReturnFalseGivenValuesLessThan2`  is failing as one or more of the child tests are failing. Whether this is something new for MSTest I don't know as I have never used MS

[2018-10-26 19:05] #8665 closed

[2018-10-26 19:08] BillWagner opened #8668 "create deep links for the C# specification."
There are 78 files that have links to the official C# spec. All of the listed files link to the introduction of the spec. Linking to the relevant of the spec would be a much better experience.

The destination links should be in the form:

[code]

The source for the C# 6.0 spec is in the [dotnet/csharplang](https://github.com/csharplang) repo under the "spec" directory. Every heading should have a

[2018-10-26 19:12] tylerl0706 commented on #8612
PR opened:
https://github.com/dotnet/dotnet-api-docs/pull/671

[2018-10-26 19:42] #7835 closed

[2018-10-26 19:55] qbit86 opened #8670 "Recommended host for symbol packages"
&gt; Until there is a recommended host for symbol packages...

Isn't it https://nuget.smbsrc.net (instead of http://www.symbolsource.org ) such recommended host?
Mentioned here: https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages

&gt; ...you can embed symbol files by setting the AllowedOutputExtensionsInPackageBuildOutputFolder property

How can I embed C# source files in the m

[2018-10-26 20:36] rpetrusha opened #8672 "Make System.String interactive"
## Make System.String interactive

[System.String](https://docs.microsoft.com/dotnet/api/system.string) is a high page-view reference topic in reference hub format; that is, it contains encyclopedic documentation for the String class, along with numerous examples.

[2018-10-26 20:41] 0xaryan opened #8673 "Add contextual 'unmanaged' keyword"
The `unmanaged` keyword (constraint) is not on the keywords list.

Example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version Independent ID: 4b943400-309d-0437-5513-0533456297f0
* Content: [C# Keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference

[2018-10-26 20:44] harisriaz17 commented on #8673
Hey, I'd like to fix this issue in the docs.

[2018-10-26 20:46] harisriaz17 commented on #8673
Can you tell me where exactly is this class present in the docs? Under which section?

[2018-10-26 20:47] rpetrusha opened #8674 "Make System.String.Split interactive"
## Make System.String.Split interactive

[System.String.Split](https://docs.microsoft.com/dotnet/api/system.string.split) is a high page-view reference topic in reference hub format; that is, it contains encyclopedic documentation for the String.Split method, along with 20 examples. It also is an API that many developers find confusing.

[2018-10-26 20:48] jmarkman commented on #7829
Hi, although I've got another issue cooking, I'd like to work on this ticket as well; I actually have ground work on it already.

[2018-10-26 20:57] harisriaz17 commented on #8673
Ok, I think I got it. I'm beginning work on the PR.

[2018-10-26 21:08] Structed opened #8675 "Cut off words"
Some instances of the word "Attribute" are cut off, where the first character ("a") is missing. Sometimes, appearing as either

  - doubled, e.g. `ttribute attribute`
or
  - alone, e.g. `ttribute`

Examples with context:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71654f5f-8c0e-87c9-8b8c-ad17f578d427
* Version Indep

[2018-10-26 21:12] Structed opened #8676 "Direct link to GitHub for Content feedback is broken"
On [this documentation page](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.datatype?view=netframework-4.7.2), the direct link to leave feedback on GitHub is broken.

![image](https://user-images.githubusercontent.com/29922/47593493-d56fa700-d977-11e8-82e6-aeb7d8964a97.png)

Instead, it points to `https://docs.microsoft.com/en-us/dotnet/api/%7B0%7D`

---
#### Doc

[2018-10-26 21:16] rpetrusha opened #8677 "Make System.Math.Round interactive"
## Make System.Math.Round interactive

[System.Math.Round](https://docs.microsoft.com/dotnet/api/system.math.round) is a high page-view reference topic in reference hub format; that is, it contains encyclopedic documentation for the Math.Round method, along with a number of examples.

The documentation was customized for the previous API reference format, which included separate overload list and

[2018-10-26 21:58] mairaw commented on #8676
Thanks @Structed for letting us know. I've moved this feedback to https://github.com/MicrosoftDocs/feedback/issues/807 for our engineering team to take a look.

[2018-10-26 21:58] #8676 closed

[2018-10-26 22:09] mairaw commented on #8675
Thanks @Structed. I've opened https://github.com/dotnet/dotnet-api-docs/pull/673 to fix this.

[2018-10-26 22:19] #8602 closed

[2018-10-26 22:30] EIS2 opened #8680 "Set Focus to Login UserID box and Set the Login Text"
How do I set focus to the Login UserID edit control and then set the text property to the UserID?  I assume that a similar procedure will apply to setting the password.  I am using a TWebBrowser with C++.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58b8300e-94df-c682-dec3-018b4405d832
* Version Independent ID: b6856

[2018-10-26 22:39] mairaw commented on #8675
Actually, I changed my PR to fix a similar issue on different classes and @mikkelbu created https://github.com/dotnet/dotnet-api-docs/pull/674 to fix this one.

[2018-10-26 22:44] #8062 closed

[2018-10-26 22:48] #8423 closed

[2018-10-26 22:54] mairaw commented on #7100
I've created the PR to fix this (https://github.com/dotnet/dotnet-api-docs/pull/675) but while addressing this, I found out an issue with our site.

[2018-10-26 22:55] mairaw commented on #7966
I've started working on this but haven't finished. I'll have to address this when I get back.

[2018-10-27 01:34] nic-hartley commented on #7930
...Or I'll entirely forget about this until just now. I'll have the images in within... probably three or four hours, at most.

[2018-10-27 01:40] CwjXFH opened #8682 "This is why?"
Do not throw System.Exception, System.SystemException, System.NullReferenceException, or System.IndexOutOfRangeException intentionally from your own source code.

If throw these exception in my own source code,will there be any negative effects?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36032d47-681c-e39e

[2018-10-27 02:34] yiwangwenrou commented on #8444
感谢您们的回答，抱歉此时才回复您：
       具体代码如下：
            DBBool NULL = DBBool.Null;
            DBBool TRUE = DBBool.True;

            if ((NULL && TRUE))
                Debug.WriteLine("Is True");
            else
                Debug.WriteLine("Is False");

            if (!(NULL && TRUE))
                Debug.WriteLine("Is True");
            else
                Debug.WriteLine("Is False");
        }

[2018-10-27 02:55] imba-tjd commented on #8444
@mairaw  It seems that overloading `true` and `false` operators makes `DBBool` be able to implicit convert to `bool`. This behavior is inconsistent with `bool?`.
Shall we remove them?

[2018-10-27 03:11] nic-hartley commented on #7930
@rpetrusha Apologies again for taking so long to get to this, I got distracted by work. (I know, I know, who needs a life when you have open-source...)

How do I build the documentation? I'm pretty sure I've got this done on [my fork](https://github.com/nic-hartley/dotnet-api-docs), but I can't figure out how to build it so I can make sure I actually did it right.

[2018-10-27 04:09] #8675 closed

[2018-10-27 04:35] rrkreitler opened #8684 "Where is the Example in the Sample?"
This page is about MouseHoverTime yet this does not appear any where in the code sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2c5ee05-2967-fa2c-6df7-37632e889426
* Version Independent ID: 45dcab9b-2d01-1dd9-28e9-002ca82135d4
* Content: [SystemInformation.MouseHoverTime Property (System.Windows.Forms)](https:

[2018-10-27 08:54] ankasani commented on #7024
Hi Team, I am use the sample dataset with 0.6.0 version

Output:
Warning: Format error at (83,3)-(83,4011): Illegal quoting
Processed 251 rows with 0 bad values and 1 format errors
Warning: Format error at (83,3)-(83,4011): Illegal quoting
Processed 251 rows with 0 bad values and 1 format errors
Warning: Format error at (83,3)-(83,4011): Illegal quoting
Processed 251 rows with 0 bad values and 1 f

[2018-10-27 08:57] ankasani commented on #7024
Let me know if i am doing any thing wrong?

[2018-10-27 12:46] dragmz opened #8685 "Incorrect description"
The document says "The following example uses the add element, as well as the name attribute to add a binding extension to the bindingElementExtensions section of the configuration file." while the example adds a binding extension to the bindingExtensions section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5441a6d

[2018-10-27 13:06] shiningstarr opened #8686 "configuration"

[2018-10-27 14:02] 23Alex24 opened #8688 "No inheritance from EventWaitHandle on documentation for AutoResetEvent"
Inheritance Object =&gt; MarshalByRefObject =&gt; WaitHandle =&gt; AutoResetEvent
But must be
Inheritance Object =&gt; MarshalByRefObject =&gt; WaitHandle =&gt; EventWaitHandle =&gt; AutoResetEvent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f5d171-3991-9728-7044-a65e84b95f25
* Version Independent ID: 2365e1e5-f64

[2018-10-27 14:06] 23Alex24 opened #8689 "No documentation for methods inherited from EventWaitHandle"
No documentation for methods inherited from EventWaitHandle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f5d171-3991-9728-7044-a65e84b95f25
* Version Independent ID: 2365e1e5-f64e-00ac-e825-bf727f73fa45
* Content: [AutoResetEvent Class (System.Threading)](https://docs.microsoft.com/en-us/dotnet/api/system.threading

[2018-10-27 14:33] pkulikov commented on #8688
@23Alex24 this is the duplicate (or related) of the MicrosoftDocs/feedback#616

[2018-10-27 15:35] 23Alex24 commented on #8688
Yes, I think the essence of the problem is the same, but this ticket belongs to AutoResetEvent

[2018-10-27 16:14] robertmclaws opened #8691 "Does not cover Microsoft.AspNet.Core.All"
I'm getting the following error in my VS2017 projects: NETSDK1071: A PackageReference to 'Microsoft.AspNetCore.All' specified a Version of `2.2.0-preview3-35497`. Specifying the version of this package is not recommended. For more information, see https://aka.ms/sdkimplicitrefs. However, this document does not cover how Microsoft.AspNetCore.All should actually be referenced in this situation.

Als

[2018-10-27 16:45] elgonzo opened #8692 "StreamReader constructor argument bufferSize: wrong explanation in Remarks section"
It seems that this _Remarks_ section explaining the _bufferSize_ argument is incorrect:

When looking at the referenc source code (here: https://referencesource.microsoft.com/mscorlib/R/c97df3321103c3ac.html), it looks to me that _bufferSize_ defines the buffer size not in number of 16-bit characters, but rather **in bytes**. The buffer size in number of 16-bit characters would then be _bufferSize

[2018-10-27 20:08] TheSench commented on #8668
In adding links for `internal`, I also added `public`, `private`, and `protected`; as I noticed they were missing deep-links.

[2018-10-28 07:32] Ngugisenior opened #8700 "string not String"
The word string in the code "Overloading the ToString method" starts with an uppercase S instead of  lowercase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc8b28bc-911e-6627-c195-b79cc12edab5
* Version Independent ID: 71ea1586-351a-c311-a3d6-1db196ac60ee
* Content: [Object.ToString Method (System)](https://docs.mic

[2018-10-28 07:58] VProfirov opened #8701 "When will you start creating content that is useful?"
You explain in the typeof documentation about GetType, but you say almost nothing about the subject at hand, why is that?

Here is a peace of useful info from you know where(just a taste):
"All are different.
typeof takes a type name (which you specify at compile time).
GetType gets the runtime type of an instance.
is returns true if an instance is in the inheritance tree.
...etc."
And this is acr

[2018-10-28 09:45] Grolimo opened #8702 "Note's are giving not the exact information"
The notes in this article say that the unit of measurement on the parse method is Pixel.

This is not entirely correct. The unit of measurement is the unit of measurement given.
For example:

Unit.Parse("50%") will result in a percentage unit of measurement, not Pixel.
Unit.Parse("50") will however indeed result in a unit measurement of Pixel.

So only in the event that no unit of measurement is p

[2018-10-28 10:59] jinhale opened #8703 "Remove redundant links."
[C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/index) is listed twice. Please remove one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67b95029-3bf2-c56d-48ab-be7ad1f43762
* Version Independent ID: a5f74e00-3f77-804d-f47d-26caa05bfc40
* Content: [string (C# Reference)](https:/

[2018-10-28 14:38] prjm opened #8704 "Missing compiler option: -features"
See also: https://stackoverflow.com/questions/37299549/how-to-specify-the-equivalent-of-featuresstrict-of-csc-exe-to-msbuild-exe-or

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b29fc27-0985-b3ea-e1d4-338c1dc126ed
* Version Independent ID: cc362e14-4bcb-0b38-36ce-9b8502e5e4e2
* Content: [C# Compiler Options Listed Al

[2018-10-28 17:29] tdnelson2 opened #8705 "Console Teleprompter sample: Missing 'x' and 'X' when `GetInput` is refactored to use the config object"
Also, It would probably be helpful to also listen for '.' and ',' because the average user probably won't think to hold down the shift key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4a28322-944d-73c3-177c-d9bec577c08b
* Version Independent ID: 15ce52df-1eb1-7743-8440-dbef3169487c
* Content: [Console Application](

[2018-10-28 19:39] svick commented on #8704
I believe the `-features` switch is generally used for experimental features, so it's probably intentional that it's not documented.

[2018-10-28 20:28] falahati opened #8706 "Invalid and misleading typo"
"For example, it replaces \a with \x07." Should be the other way around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 605c2300-6061-886c-b953-6b6d0901c032
* Version Independent ID: a484ed71-a293-f766-3d5f-a8766f95473c
* Content: [Regex.Unescape(String) Method (System.Text.RegularExpressions)](https://docs.microsoft.c

[2018-10-28 20:46] guneyozsan opened #8708 "Lacks documentation"
Zero documentation. Also "Content Feeback/directly on Github" link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431f29bd-5bf8-7ea4-99ba-d3c90352bc7e
* Version Independent ID: 315280c6-97f6-4dda-114c-68b8e2e33171
* Content: [Type.Name Property (System)](https://docs.microsoft.com/en-us/dotnet/api/system.typ

[2018-10-28 21:31] milbrandt opened #8709 "Link to 2-D Transforms Sample not working"
Tries to Access https://archive.msdn.microsoft.com/Project/Download/FileDownload.aspx?ProjectName=wpfsamples&DownloadId=7812 and gets "The DNS name does not exist."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 925e5755-a2ab-e85f-e14d-174a8f521451
* Version Independent ID: 6e56d499-295e-bf95-a4a2-d416da2c5912
* Conten

[2018-10-28 21:59] xamarin-volkan opened #8711 "Thanks for your time and effort for this good piece of documentation."
I would not write this on a normal day but after reading other unnecessary comments I did want to add one, too.
At the last line of the output, it is written as "Press any key to exit." because of the code;  Console.WriteLine("Press any key to exit.");.
Thanks again. You made a very well job with this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-10-28 22:43] adam-kral opened #8712 "Multiline strings"
I searched "line feed", "multi", "line" and found nothing. Also in verbatim string ("@") documentation page I didn't find anything about line feeds in strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb81599-a548-5d41-4013-812d9148b09d
* Version Independent ID: de28387f-e401-9ecd-1fc0-a9e37d55d6ea
* Content: [S

[2018-10-29 01:08] #8609 closed

[2018-10-29 05:59] RicardoCasquete opened #8719 "a Joke!!!!"
It is a joke... this documentation is terrible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-d5c8-29f7a8c16a5f
* Version Independent ID: 4257ec12-df6f-ec52-aad3-012e5fce8133
* Content: [dotnet pack command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack?tabs=netcore2

[2018-10-29 09:00] yhvicey opened #8720 "No error or warning if specified SDK doesn't exist"
I have below 2.1.4yz sdks installed on my machine:
[code]
And I specified sdk version to `2.1.403` in global.json, however there's no error or warning when I build these projects. Is it by design? In [Matching rules](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#matching-rules) section it says that in this situation there should be an error.

---
#### Document Details

⚠ *Do not e

[2018-10-29 10:17] dragmz opened #8721 "Incorrect keyword "Else""
The sample code is not a valid C# code because there's no "Else" keyword in C# (should be "else")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba151f84-cd86-d038-7ca8-e790a14bf648
* Version Independent ID: 9ad976be-38ab-1772-0c9b-06b13b6684b7
* Content: [Best Practices: Intermediaries](https://docs.microsoft.com/en-u

[2018-10-29 12:35] BillWagner commented on #8719
@RicardoCasquete I'm sorry your having issues, and we want to improve. Can you give us detail about what information you need that you're not finding?

[2018-10-29 12:45] RicardoCasquete commented on #8719
I feel the documentation lacks proper examples and basic troubleshooting...

Following the documentation; it does not explain why the referenced dlls are not included... in some posts it mentions that you have to put them in separate nuget packages... (doesn't say anything here..)

In another posts; shows how you can add a custom ItemGroup to the csproj; so you can have your custom dotnet pack act

[2018-10-29 13:04] fgenolini opened #8722 "typo: correct text to make clear that guidance is to use attributes from System.Runtime.Serialization and not System.Xml.Serialization"
In the section

make sure that the namespace is **System.Xml.Serialization**, not System.Runtime.Serialization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 690b0523-b74b-ec96-6c50-0586cbb4c297
* Version Independent ID: e6d9ec13-2d5d-227b-1a12-5f322a31d0a9
* Content: [Serialization guidelines](https://docs.microsoft.c

[2018-10-29 13:34] aolszowka opened #8724 "Does NOT Work With Assembly.LoadWithPartialName"
While Assembly.LoadWithPartialName is deprecated it should be noted that DEVPATH does NOT work with loads that are invoked via that method. Save yourself and developers time with this knowledge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56730418-2f6a-8324-6b40-36440e24b46b
* Version Independent ID: 220239f5-3c84-8

[2018-10-29 15:24] rbeinder opened #8725 "Minor edit required"
The comments for quotes and angle brackets are inverted with respect to their respective examples in the mail address supported formats section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88628490-1029-8b7f-d9b6-842f43214c79
* Version Independent ID: 10d98f16-dd3c-32f2-de28-f43f72bfc75f
* Content: [MailAddress Clas

[2018-10-29 15:41] venividi2 commented on #8499
Thank you very very much
Regards

Valeria Vernon a.k.a. venividi

----- Messaggio originale -----
Da: Peter Toonen <notifications@github.com>
Rispondi a: dotnet/docs
<reply@reply.github.com>
A: dotnet/docs <docs@noreply.github.com>
Cc: venividi2 <info@vernondata.it>, Mention <mention@noreply.github.com>
Inviato: 29/10/2018 14:26:32
Oggetto: Re: [dotnet/docs] Installing .NET Framework (#8499)

@ven

[2018-10-29 15:42] #8721 closed

[2018-10-29 16:07] #8418 closed

[2018-10-29 16:22] danmosemsft opened #8726 "Reword .NET Standard targeting guidance?"
I found this confusing:
&gt; ❌ AVOID using multi-targeting with .NET Standard if your source code is the same for all targets.

I believe it means, don't target specific platforms in addition to targeting .NET Standard if they will be built from the same source code. However "multi-targeting with .NET Standard" sounds like a concept, so it sounds like it's advising against targeting .NET Standard

[2018-10-29 16:35] karelz commented on #8725
@rbeinder can you please submit PR? It will clarify better what exactly you mean ... Thanks!

[2018-10-29 16:45] OJacot-Descombes opened #8727 "Confusing example `if (obj is var _)`"
In chapter [Pattern matching with switch and is](https://docs.microsoft.com/en-us/dotnet/csharp/discards#pattern-matching-with-switch-and-is) in the code snippet ...
[code]

... the last `else if (obj is var _)` is confusing. It seems to me that a simple `else` would have the same effect. What does it mean exactly? Does it always return`true` or is it equivalent to `obj != null`?

An explanation f

[2018-10-29 17:01] bchavez opened #8728 "Types in XML docs not working, also 404s"
https://docs.microsoft.com/en-us/dotnet/api/?term=System.IO.Pipelines

![chrome_2311](https://user-images.githubusercontent.com/478118/47666779-a87ee800-db61-11e8-96ab-552d2b69bc88.png)

### Also,
At this page: https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipe.-ctor?view=dotnet-plat-ext-2.1#System_IO_Pipelines_Pipe__ctor_System_IO_Pipelines_PipeOptions_

Clicking on "You may als

[2018-10-29 17:49] prjm commented on #8704
I did not know that this switch is only for experimental features. Still, I'd propose to include this switch in documentation: not its possible values but only the fact that this switch is only used for experimental features. So that uninformed people which stumble over it on StackOverflow can understand the purpose of the switch.

[2018-10-29 18:18] terrajobst commented on #8106
Let's walk the list of options.

**Fixing at the catalog level**. We could try to address the mismatches in overrides by either (1) removing all overrides from reference assemblies or (2) mark all methods as overriden all the time. The latter is probably worse in terms of noise and bloat, so I believe only the former is viable. However, there are many cases where one wants to put documentation on

[2018-10-29 19:06] BentTranberg opened #8730 "Adding and removing methods to invocation list is not explained"
Adding and removing methods to invocation list is not explained, and I spent quite some time googling this, not finding the answer. Asking on Slack F# finally seems to have solved the issue for me - or perhaps not.

There are methods on the Delegate class. However, using this seems slightly awkward in F#. Anyway, I think it would be nice to have something written about what to do, for example expl

[2018-10-29 19:10] #8703 closed

[2018-10-29 19:11] #8668 closed

[2018-10-29 19:23] AaronV-NorthStar opened #8731 "No details"
This document should at least have the same level of documentation as found in the older documentation:

https://msdn.microsoft.com/en-us/library/aa328800(v=vs.71).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf7251d-c8f5-3fc0-b780-13bd5a648c14
* Version Independent ID: e4adce23-33c6-d31d-7e41-2afb46e941e8
* Co

[2018-10-29 20:58] LisandroSu opened #8733 "shili"
@Houheshuai commented on [Mon Oct 29 2018](https://github.com/dotnet/docs.zh-cn/issues/226)

实例不多啊

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 874ea00d-6ec4-55f4-f0e3-e818d21454c7
* Version Independent ID: 98072328-af31-5bc6-9ba4-1353328d5f10
* Content: [Expression-bodied 成员（C# 编程指南）](https://docs.microsoft.com/zh-cn/dotnet/csharp/programming-guide/statements-exp

[2018-10-29 20:59] LisandroSu commented on #8733
Hi team,
The user says that there aren't many examples in the document.

Thanks

[2018-10-29 21:06] BillWagner commented on #6351
@zackasattackas We added the "up-for-grabs" label.  We'll fix this, unless you want to submit a PR yourself.

[2018-10-29 21:08] BillWagner commented on #7293
ping @Thraka

[2018-10-29 21:10] BillWagner commented on #7932
@wmstantoniii I'm not sure how best to answer your question in the docs. What would the immutability (or mutability) of delegates mean for you?

[2018-10-29 21:12] BillWagner commented on #7942
You are correct @fredericDelaporte We've added this to our backlog and our community project.  Do you want to submit a PR for the fix?

[2018-10-29 21:15] BillWagner commented on #7946
This appears to have been fixed in the last CI update.  Closing.

If you meant something different @jeffschwMSFT re-open and clarify for us.

[2018-10-29 21:15] #7946 closed

[2018-10-29 21:17] BillWagner commented on #7951
Thanks for pointing this out @francisco-chavez We've added it to our backlog.

[2018-10-29 21:21] BillWagner commented on #7956
Thanks for bringing this to our attention @ominousPotOfLeeks We should add more information on this page. We've added it to our backlog to address.

[2018-10-29 21:29] BillWagner commented on #7997
This looks like it will be fixed in #8025

[2018-10-29 21:34] #7997 closed

[2018-10-29 21:39] rpetrusha commented on #7998
Thanks for your feedback, @DarthDerrr. This page describes the general functionality that the types in the namespace make available. It is intended primarily to list the types in the namespace and not to provide detailed configuration documentation.

[2018-10-29 21:39] #7998 closed

[2018-10-29 21:39] BillWagner commented on #8002
Thanks @vladomelchuk

I think @gafter is looking at this same issue.  Should I move it to the dotnet/csharplang repo?

[2018-10-29 21:40] BillWagner commented on #8006
Thanks for pointing this out @SteveGoodman

We've added it to our backlog, and added the up-for grabs label, if you'd like to submit a PR.

[2018-10-29 21:43] BillWagner commented on #8008
@Maoni0 Can you look at this issue, and let us know if the figure should be changed.

[2018-10-29 21:45] nhwilly commented on #7997
Ok, this was me probably being lazy.  I was thinking `radius` in terms of distance from the center of the control and not in terms of a line segment.  Couldn't get my head around it, got stuck and confused myself.  Thanks for even looking at it.

[2018-10-29 21:51] BillWagner commented on #8009
Thanks for writing this @maximdx We do think the current doc addresses this: If you don't await, you run risks related to exceptions and errors in the code that' not awaited.

I'm closing this as answered in the doc.

[2018-10-29 21:51] #8009 closed

[2018-10-29 21:53] BillWagner commented on #8038
This may be a product issue. @glennc Can you comment?

[2018-10-29 21:57] Maoni0 commented on #8008
yes! that should be changed. that looks like a typo from whoever made that picture.

[2018-10-29 22:00] BillWagner commented on #7951
Thanks @tannergooding

Adding the up-for-grabs label, and adding this to our community projecvt.

[2018-10-29 22:02] svick commented on #8002
@BillWagner There's already an issue about this on csharplang: https://github.com/dotnet/csharplang/issues/1948.

[2018-10-29 23:19] BillWagner commented on #8002
Closing as a duplicate of dotnet/csharplang#1948

[2018-10-29 23:19] #8002 closed

[2018-10-30 00:32] #6351 closed

[2018-10-30 02:39] rpetrusha commented on #7996
Thanks, @Luperco, for reporting the broken link. The sample is no longer available from the Microsoft Download Center, and it also does not seem to be available at <https://github.com/Microsoft/WPF-samples/>. I'll add this to our backlog while we investigate whether the sample is available.

[2018-10-30 02:42] rpetrusha commented on #8733
In both the zh-cn and en-us versions, there is an example for each type of expression-bodied member. Closing as not repo.

[2018-10-30 02:42] #8733 closed

[2018-10-30 03:00] fredericDelaporte commented on #7942
I am not sure I will take the time to look into doing a PR any time soon.

[2018-10-30 05:04] lucasnobredev commented on #8727
Hello @OJacot-Descombes .
I made some tests and all types got inside in last "else if". I agree with a simple else { } too.
About the explanation for what *var _* means, in second paragraph the article is pretty clear, in my opinion.

[2018-10-30 06:36] lucasnobredev commented on #4439
Guys, I saw errors again in dotnet/docs. I'll looking for in dotnet-api-docs and samples.

[2018-10-30 08:59] arvindrajachourasiya opened #8743 "Not able to find default access specifiers for classes variables"
I was looking for default access specifiers for classes variables, I searched & ended up here without conclusion. I might be wrong here.  docs may have that information somewhere but could I access that.  So please make it search friendly.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8121f526-cfe4-091d-d03