[2018-11-19 17:07] #9101 closed

[2018-11-19 17:12] regal60740 commented on #7829
Another problem I ran into is where does "select new PlayingCard(s, r))" come from. I guess I have to continue to refer to GitHub code to see what is going on.

[2018-11-19 17:14] #9054 closed

[2018-11-19 17:20] #6700 closed

[2018-11-19 17:43] KathleenDollard commented on #6873
@johnbeisner Will this continue to be a problem going forward?

[2018-11-19 17:51] JRAlexander opened #9126 "[Project] ML.NET 1.0 release"
This is a meta-issue for the ML.NET 1.0 project.
Comment below to suggest new content, or updates to existing content.

Scenarios:
- [x] Binary classification
   - [x] [Sentiment Analysis](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis)
- [x] Multi-class classification
   - [x] [GitHub Issue Classification](https://docs.microsoft.com/en-us/dotnet/machine-lear

[2018-11-19 18:02] JRAlexander commented on #8816
Thanks, @jdorseywx! We've added this to the backlog.

[2018-11-19 18:11] JRAlexander commented on #5385
@stephenstroud - on the way soon! In the meantime, check out the sample here: https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/MulticlassClassification-GitHubLabeler

[2018-11-19 18:36] mairaw commented on #8289
Hi @tannergooding and @jmarkman, you make a good point. The comments are generic enough that could apply to any API work that we do and we should always keep in mind that when writing API reference. But this issue in particular I'd say is for the TrimStart method and we usually try to do at least C# and VB. But if you're not comfortable if one of the languages, just note that and we can add the ot

[2018-11-19 18:38] BillWagner opened #9128 "Improve issue management by creating issues on dotnet-api-docs"
We're finding that our earlier decision to centralize all issues relate to .NET documentation in dotnet/docs is proving hard to manage. It's harder to manage the different areas we need to focus on correctly. To improve the experience, we're opening issues on [dotnet/dotnet-api-docs](https://github.com/dotnet/dotnet-api-docs). That's where all issues related to API reference will be created.

On T

[2018-11-19 18:54] regal60740 opened #9129 "Confusing Tutorial"
The tutorial is very confusing. There are lines of code but not clear instructions on what to do with the code. Do we always have to refer to GitHub code to figure out what the author is talking about?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948bdbcf-e49f-bd3a-89c4-d83f86cfddc5
* Version Independent ID: 5c6e688e

[2018-11-19 19:18] mk-pmb opened #9130 "Explain key subset for System.Windows.Forms.Control.KeyPress"
**Issue description**

Docs for `System.Windows.Forms.Control.KeyPress` should explain the intent/criteria for the key subset selection. My first guess was it's about text editing, but that wouldn't explain why Backspace is in and the Delete key isn't.

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

- [ ] .NET Core
- [ ] .NET Framework
- [

[2018-11-19 20:09] Styxxy opened #9132 "URI to ECMA-334 document doesn't work"
The URI to Standard ECMA-334 5th Edition document (https://www.ecma-international.org/publications/files/ECMA-ST/Ecma-334.pdf) doesn't work. It gives a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c72c5185-07d6-017f-5dde-3580a3a33609
* Version Independent ID: 26905192-8e31-d5e4-fdea-915754e225bf
* Content: [C# 6

[2018-11-19 20:35] cbrit commented on #8371
+1
The doc is pretty clear until the last example.

[2018-11-19 20:52] mairaw commented on #9132
Thanks for your feedback @Styxxy. This is fixed by the PR #9100 which is going live in a few hours.

[2018-11-19 20:52] #9132 closed

[2018-11-19 21:50] fabfella opened #9136 "The title does not align with what the article is describing"
The title says "...Make an Object follow the Mouse Pointer" yet the sentence underneath says "This example shows how to change the dimensions of an object"

So basically this article does not show how the object follows the mouse it shows how the object's dimension is changed using the MouseMoveHandler.

I clicked on this article because I wanted to see how to make an object move with the mouse, n

[2018-11-19 22:04] mairaw commented on #8193
@raghavendrabankapur since we haven't heard back from you, we're closing the issue. If you're still experiencing this problem, please open a new issue at https://github.com/dotnet/cli since this is a product issue, not a documentation issue, it seems.

[2018-11-19 22:04] #8193 closed

[2018-11-19 22:14] mairaw commented on #8924
I'll try to check if there's any place in our repo that has double //. Otherwise, I'll have to close this.

[2018-11-19 22:15] mairaw commented on #7933
@JeremyLikness any updates here?

[2018-11-19 22:15] BillWagner commented on #8894
@YairHalberstadt These operators are specified by the language, not the `int` type. The information you want is in the C# Language spec:

- [Implicit numeric conversions](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/conversions#implicit-numeric-conversions)
- [Explicit numeric conversions](https://docs.microsoft.com/dotnet/csharp/language-reference/language-sp

[2018-11-19 22:15] #8894 closed

[2018-11-19 22:22] mairaw commented on #8052
@scottaddie @MaximRouiller what else would you like to see being done here?

[2018-11-19 22:30] #7607 closed

[2018-11-19 22:30] #6291 closed

[2018-11-19 22:32] mairaw commented on #9071
@JRAlexander can you triage this issue?

[2018-11-19 22:33] mairaw commented on #6210
@Lxiamail can you look at this feedbacK for a WCF article? Thanks!

[2018-11-19 22:35] BillWagner commented on #8818
As others have said, there are two important concepts that both use the terms 'reference' and 'value':
- whether a type is a **reference type** or a **value type**. Structs are values types, classes are reference types.
- whether a variable is **passed by value** or **passed by reference**. In C#, by default, all arguments and return values are passed by value. The `ref`, `in` or `out` modifiers m

[2018-11-19 22:35] #8818 closed

[2018-11-19 22:37] mairaw commented on #7840
@OliaG @SamBent can you comment on this? It also seems we're missing docs for a couple of exceptions being thrown by this constructor.
It seems that the onhly valid values would be Default or Pbgra32. And Default gets changed to Pbgra32.

[2018-11-19 22:42] mairaw commented on #7940
Thanks for your feedback @realbart. Our team discussed and we don't see any issues with the current formatting for the LINQ queries. But we welcome your contribution if you feel strongly about this. Something like what @wekempf suggested would be fine.

[2018-11-19 22:42] #7940 closed

[2018-11-19 22:44] mairaw commented on #8034
This is fixed now. Thanks for letting us know @FMNSSun.

[2018-11-19 22:44] #8034 closed

[2018-11-19 22:46] mairaw commented on #8897
Given that this is a restriction of dotnetfiddle, I'll just close this issue.

[2018-11-19 22:46] #8897 closed

[2018-11-19 22:51] mairaw commented on #8268
Can you help with this API feedback @JeremyKuhne? Is there something we should add here for .NET Core behavior?

[2018-11-19 22:54] mairaw commented on #8499
It seems your issue was resolved. There's also the Italian version of the topic that might help you:
https://docs.microsoft.com/it-it/dotnet/framework/install/dotnet-35-windows-10

[2018-11-19 22:54] #8499 closed

[2018-11-19 22:54] BillWagner commented on #8196
That behavior is documented in the section on [compound assignment operators](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#compound-assignment) in the C# spec.

The language reference is less complete but gives the basics for each feature.

I'm closing this, as the answer is in the spec.

[2018-11-19 22:54] #8196 closed

[2018-11-19 22:56] Thraka commented on #9120
This could be improved. I'll add it to the backlog and see if the community would like to take this on. Thanks!

[2018-11-19 22:56] #8529 closed

[2018-11-19 22:57] BillWagner commented on #9129
That tutorial is outdated.  I'm going to remove it and re-direct the link to our Docker section under the .NET Core guide. That content is more up to date.

[2018-11-19 22:59] mairaw commented on #8595
@jonsequitur is this still an issue or has it been fixed? If it hasn't been fixed, maybe we should port it to the try.net repo?

[2018-11-19 23:03] mairaw commented on #8688
Given the root cause is the same, I'm closing this issue. All APIs that have a different hierarchy between the two platforms will have the same issue. Once MicrosoftDocs/feedback#616 is fixed, this should be fixed too.

[2018-11-19 23:03] #8688 closed

[2018-11-19 23:03] Thraka commented on #9118
@mairaw this is one of those API migration articles that had the fancy syntax for highlighting different parts of a xaml object (italics for type, bold for name, etc)

There are a lot of articles that have these types of weird patterns in them. Is this going to be resolved with the migration to markdown?

[2018-11-19 23:03] Thraka commented on #9118
@Prodigio Thanks for bringing this to our attention! 👍

[2018-11-19 23:11] rpetrusha commented on #8837
Could you take a look at my comments in #8888, @KathleenDollard? Once you address them, it will be ready to merge.

[2018-11-19 23:13] mairaw commented on #8369
The customer is right. We have already an issue tracking the same problem: #2994

[2018-11-19 23:13] #8369 closed

[2018-11-19 23:34] JeremyKuhne commented on #8268
This API is only supported on Windows (not Unix/Mac) as it is using the NTFS file encryption (EFS) [EncryptFile](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-encryptfilew). It isn't supported on ReFS, FAT32, etc. (as per the link given here). It also only works for full desktop apps (not UWP).

Generally speaking this API isn't recommended, it is there in Core to ease po

[2018-11-19 23:48] mairaw commented on #8268
Thanks @JeremyKuhne. I'm tagregting this for next sprint.

[2018-11-19 23:53] SamBent commented on #7840
@mairaw I agree with your remarks.
A fine point that may affect how the doc gets worded:  The caller of RenderTargetBitmap ctor is not obliged to use the PixelFomats enum directly;  for example, you can get the format from another BitmapSource:   `new RenderTargetBitmap(..., myBitmapSource.Format)`.   But ultimately the format has to agree with PixelFormats.Default or PixelFormats.Pgbra32.

[2018-11-19 23:55] mairaw commented on #7840
Ok, thanks @SamBent!

[2018-11-20 00:00] #9113 closed

[2018-11-20 00:04] #7575 closed

[2018-11-20 00:05] mairaw commented on #9118
Not really @Thraka since the remarks are already in Markdown. I've opened https://github.com/dotnet/dotnet-api-docs/pull/753 to try to fix this.

[2018-11-20 00:54] JRAlexander commented on #9071
Hi @maristhek, It looks like you only have main in your code above. Unless that is an excerpt, You may be missing the rest of the code.  Please try downloading the complete sample from here and see if that fixes it. Thanks!

[2018-11-20 01:15] maristhek commented on #9071
Sorry, just jumped the gun on a bad assumption.  Was not a good day.

... and tried to post the need to include the following tags in csproj and the feedback comment area HTML formatter mangled it badly
<RuntimeIdentifiers>win10-x64</RuntimeIdentifiers>
<LangVersion>7.1</LangVersion>

I suggest putting a note in the docs to do so.  BTW i'm runing on Win Srv 2012 R2

From: John Alexander <notificat

[2018-11-20 01:16] #9129 closed

[2018-11-20 01:33] chwarr commented on #5830
I believe the API you are looking for in .NET Core 2.1 is [`MemoryMarshal.Cast<TFrom, TTo>`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.memorymarshal.cast?view=netcore-2.1).

[2018-11-20 01:38] jonsequitur commented on #8595
The run button no longer gets stuck, so I think this can be closed.

There's another related change in Try .NET that will deploy next week that will make the proactive timeout a bit faster.

[2018-11-20 02:54] #8224 closed

[2018-11-20 03:13] 5U8cVs opened #9141 "Fields documents nonexistent values. So what else is new? Microsoft does not do documentation. Nor operating instructions."
#region Assembly System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
// C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0\Profile\Client\System.DirectoryServices.dll
#endregion

namespace System.DirectoryServices.ActiveDirectory
{
    //
    // Summary:
    //     Indicates the mode that a domain is operating in.
    public e

[2018-11-20 03:33] skst opened #9142 "Show how to configure client and server on different machines"
This sample is extremely limited. Very few WCF apps will run on the same computer. Please show how to configure the client and server to run on different machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81879896-7161-3352-eecb-87a2158dc003
* Version Independent ID: 286eb468-4007-fc0d-1d33-76139225d565
* Content

[2018-11-20 03:58] trogan42 opened #9143 "Not enough documentation"
"' Insert code here that implements this method.". Please do so. And also insert code that calls an implemented method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 452fa284-1197-faa8-c9e4-377a98c05ede
* Version Independent ID: bc9e24e7-1ffe-bab3-f99b-c4244d01195c
* Content: [Interfaces (Visual Basic)](https://docs.m

[2018-11-20 04:08] skst opened #9144 "How to configure a server running on another machine (LAN or WAN)"
This is very basic material and not useful for most scenarios. How do you configure a server to run on another machine on the same LAN or on the Internet (without IIS)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99304ac7-6dcc-0184-2d8f-c19cddb26d01
* Version Independent ID: cb9d492e-85be-721f-0f15-aa908cbdcb10
* Co

[2018-11-20 05:36] Ashera138 commented on #8823
Thanks. :)

[2018-11-20 07:33] Gachl commented on #8202
I have this issue too, created the registry key but am still prompted to restart VS2017 in DPI unaware mode. I have checked the path and it's correctly pointing to my VS2017 installation.

Screenshot: https://i.imgur.com/gVhbYDy.png

[2018-11-20 08:36] venividi2 commented on #8499
Thank you Mairaw, Yes I solved giving up installing the application I wanted to instal. Very simple solution that can be summed up with "cutting off the bull's head". However I wonder if there is a Microsoft site adressing these translation options for anyone around the world. II don't think it is difficult to organize

[2018-11-20 09:38] martinsuchan opened #9148 "Breaking changes in .NET Core 2.1 structs"
There are breaking changes in some .NET Core 2.1 structs - these structs now have private fields and cannot be instantiated without `new`. There should be probabaly some official "breaking changes" section in this document.
https://github.com/dotnet/corefx/issues/6185

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bc7

[2018-11-20 09:56] LeonidVasilyev commented on #6996
Relevant excerpt from [Extensible Markup Language (XML) 1.0 (Fifth Edition)](https://www.w3.org/TR/xml/#dt-attr):

[2018-11-20 10:53] 23Alex24 opened #9149 "EventWaitHandle.OpenExisting method for .net core"
On documentation for EventWaitHandle.OpenExisting method example is shown with EventWaitHandleRights. But on .net standard and .net core no overloads for constructor EventWaitHandle with EventWaitHandleRights and no methods GetAccessControl / SetAccessControl.
Thus the example is not correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-11-20 11:00] elgonzo commented on #9141
The code you are showing here is from .NET framework 4.0 (Version=4.0.0.0). Why do you compare it with the documentation for .NET framework 4.7.2? I suggest you lookup and compare with the documentation for .NET framework 4.0: https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.activedirectory.domainmode?view=netframework-4.0

[2018-11-20 11:03] elgonzo commented on #9141
Since there is not really a documentation problem with regard to your issue, please close this issue here (as the opener of the issue you have the ability to close it).

[2018-11-20 11:15] elgonzo commented on #9136
The verb "follow" has several meanings. One of it is like "to watch", "to keep mind on" (see Merriam-Webster dictionary, point 8a,b,c: https://www.merriam-webster.com/dictionary/follow). In this sense, the title does align with the article.

But i agree, the title should be rephrased to avoid this kind of misunderstanding.

[2018-11-20 11:30] elgonzo commented on #9115
Of course the page is showing a sample using .xsd and .xml files.

[2018-11-20 11:49] PatrickRyder opened #9150 "More Information Would be Useful"
"...consider using a class type constraint or interface constraint."

A link to an example of how to do this would be extremely useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f834b78-2763-76ec-68ef-9403dc419bc4
* Version Independent ID: 305a297d-c23c-713e-91aa-1e28743213d2
* Content: [Compiler Error CS0417](ht

[2018-11-20 14:17] hansott opened #9151 ""Choosing a collection" is incorrectly formatted"
"Choosing a collection" is incorrectly formatted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576a6c40-a4ad-5922-a7d7-51e0f13baf61
* Version Independent ID: f2f1676b-0ba1-9601-37f5-2fd6aa63f682
* Content: [Collections and Data Structures](https://docs.microsoft.com/en-us/dotnet/standard/collections/)
* Content Source

[2018-11-20 14:56] MaximRouiller commented on #8052
So here's what I think...

We have this list of items that we want the user to do. Let's go through each of them and explain my thought process as a user wanting to follow them to the letter.

Are those in the correct order?

And those steps... the first question the user is going to ask is... how do I do that? Do we have an article or a tool to help us do that? If yes, we should link it at that s

[2018-11-20 15:00] 23Alex24 commented on #9149
The TryOpenExisting method also has a mention about EventWaitHandleRights

[2018-11-20 15:44] CeciAc commented on #8444
Hi team,
If this was solved can you #pleaseClose this ticket?
@BillWagner

[2018-11-20 16:02] sayedihashimi commented on #8282
@mairaw sorry I forgot to report back here. I was able to get the FWLink in VSMac updated to point to https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-mac-vs. If you want to "see" the link, it's on the start page in VSMac. Rick has a screenshot in the issue text.

[2018-11-20 16:21] BillWagner commented on #8621
Your example does match the documented behavior for the `await` expression. The `await` unwraps the `AggregateException` and throws the first exception in the collection. Instead, try this:

[code]

[2018-11-20 16:21] #8621 closed

[2018-11-20 16:32] XavierAGarciaR commented on #8705
Yes! We are left with the doubt of seeing it in action the 'X' and the 'x', but I think that it can be added to the GetInput and rehearse.

[2018-11-20 16:53] BillWagner commented on #4121
I'm closing this based on dotnet/dotnet-api-docs#672

[2018-11-20 16:53] #4121 closed

[2018-11-20 16:57] BillWagner commented on #6069
@mairaw Is this fixed now?

[2018-11-20 17:16] BillWagner commented on #9128
One additional task:

- [ ] Migrate labels to the new API docs repository.

[2018-11-20 17:17] adam-c-anderson opened #9154 "--no-build does not implicitly set --no-restore"
The docs state that it does, but when running `dotnet test` with only `--no-build`, the output clearly shows attempts to restore packages. Adding the `--no-restore` flag stops this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61ca4064-7481-a263-60fc-c70127f2ad16
* Version Independent ID: 2878af44-8208-7bd8-46d4-3acd

[2018-11-20 17:17] pkulikov commented on #8444
@BillWagner I'm planning to submit a PR discussed above in coming two weeks.

[2018-11-20 17:31] KathleenDollard commented on #9143
I'm a bit confused about what you are looking for here. The code of the method is not relevant to how the point of an article - how an interface works.

If you have a specific suggestion, there is an Edit button on each docs page. That leads you through about four steps to submitting a PR to docs.

[2018-11-20 17:37] #9151 closed

[2018-11-20 19:23] rpetrusha commented on #7763
Issue moved to [dotnet/dotnet-api-docs #1133](https://github.com/dotnet/dotnet-api-docs/issues/1133) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-20 19:23] #7763 closed

[2018-11-20 19:34] #8677 closed

[2018-11-20 19:34] rpetrusha commented on #8677
Issue moved to [dotnet/dotnet-api-docs #1136](https://github.com/dotnet/dotnet-api-docs/issues/1136) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-20 21:20] wm2015email opened #9155 "missing documentation on how to add "cs files" to a dotnet core project from visual studio code"
I wanted to use visual studio code and dotnet core to write a console application, however, the tutorial section for using visual studio code with dotnet core doesn't have any explaination on how to have a project with more than one cs file.  so I gave up on on using .netcore and switched to python instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-11-20 21:59] scottaddie commented on #8052
Here are some of my thoughts:

1. I'd expect to find the **Porting from .NET Framework** ToC content under the **Migration** ToC node.
1. [I Can Has .NET Core](https://icanhasdot.net/) is a useful tool to list in https://docs.microsoft.com/en-us/dotnet/core/porting/third-party-deps. It's not a Microsoft-authored tool, but it requires less work than the 2 options we currently list (NuGet Package Ex

[2018-11-20 22:04] BillWagner commented on #9128
All the labels have been updated.

Closing.

[2018-11-20 22:04] #9128 closed

[2018-11-20 23:07] condiosluzverde opened #9157 "Possibly Misleading Remarks - Omits Scenarios After Windows 2003"
In the Remarks section, within the blue highlight area marked "Important" - this text appears:

"You *can only* create applications using this namespace under the *Windows 2000, Windows XP and Windows 2003 platforms*. Creating a transaction under the Windows 98 and Windows ME platforms throws a PlatformNotSupportedException ."

If this is the latest documentation, and I have selected the .NET Fram

[2018-11-20 23:57] trogan42 commented on #9143
Thx Kathleen. Like most developers I would think, I go straight to the code, when trying to develop an understanding of what a new concept does. A good example of this is found at https://www.dotnetperls.com/interface-vbnet. … Tony

From: Kathleen Dollard <notifications@github.com>
Sent: Wednesday, 21 November 2018 4:32 AM
To: dotnet/docs <docs@noreply.github.com>
Cc: trogan42 <trogan@bigpond.net.

[2018-11-21 06:35] v-atian commented on #6110
Any ideas about the dialog? I use the method to install .net freamwork 3.5 on Windows 10 RS5 Release.
![net35](https://user-images.githubusercontent.com/12235523/48823141-99302c00-ed14-11e8-9bf3-4b4ad5452922.png)

[2018-11-21 06:47] mairaw commented on #6110
@v-atian a couple of posts online suggest that you might need to use the DISM method when you get that error code. Have you tried that?

For more informaiton, see https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/deploy-net-framework-35-by-using-deployment-image-servicing-and-management--dism.

[2018-11-21 07:32] Tanya-Solyanik commented on #8202
Hi @Gachl Thank you for pointing out this problem! Could you please specify literal value of the path to the process instead of using %ProgramFiles(x86)%. This macro is not processed for this key.
For example this is a `.reg` script that works for my installation path:

[2018-11-21 07:36] Tanya-Solyanik commented on #8202
Hi @BenLussier, could you please verify if you used a % macro in the path to devenv, or if you substituted it with a literal path? Could you please try the literal path as a registry value name?

[2018-11-21 12:57] qbit86 opened #9162 "Reference type return values"
&gt; Storage for value type return values is heap allocated.

Looks like copy'n'paste artifact — should be “Storage for *reference* type return values is heap allocated.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8804c7-6acd-ab2a-4e14-0b99265969a5
* Version Independent ID: 183efcbd-a781-d303-f9cd-1c22da1676de
*

[2018-11-21 16:16] gojanpaolo opened #9163 "Can we include C# data type conventions?"
Hello,

Is it possible to include C# data type conventions on the table?
For example, bigint -&gt; Int64 -&gt; long
where `long`  is the C# data type.

---

Additional references

[Built-in types table (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/built-in-types-table)

Thanks,
Jan

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-11-21 16:32] Ponchothewise opened #9164 "Scope"
The comment about how the isolation level has connection-wide scope doesn't appear to be correct. If set within a called procedure, the isolation level is not set at the new level when returning to the calling procedure. This contradicts 'once set for a connection with the SET TRANSACTION ISOLATION LEVEL statement, it remains in effect until the connection is closed or another isolation level is s

[2018-11-21 16:48] saboco opened #9165 "Possibly wrong bind definition"
It seems to me that delaying Done is not necessary and add extra steps when we want to run the computation.

Defining bind like this:
[code]

We can run the computation in 4 steps:

[code]

Before we needed 8 steps that didn't make sens to me when trying the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247c4

[2018-11-21 16:49] Thraka commented on #8596
You either have to run the project in a program that supplies the debugger (VSCode, Visual Studio, etc) or add the `System.Diagnostics.Debugger.Launch();` line to your code which will prompt you to attach a debugger and pause the code at that point. I was able to call `Launch` and then open VSCode and tell it to attach to a process and start debugging at that point.

As this question is not relate

[2018-11-21 16:49] #8596 closed

[2018-11-21 16:58] Thraka commented on #8428
Correct, you should still target the OS/Architecture identified from the runtime identifier. Mono is an open source implementation of .NET Framework. So while you can install and run .NET Core on linux/mac/windows, you can also do that with Mono, but they are different.

You can find more information about this scenario if you do a search on the internet about running .NET Core projects in Mono.

[2018-11-21 16:58] #8428 closed

[2018-11-21 17:00] Thraka commented on #8691
@Rick-Anderson Is this something you know about?

[2018-11-21 17:04] Gachl commented on #8202
I can confirm that using the literal path did solve the issue and I am no longer prompted to switch to the DPI unaware mode. Thanks!

[2018-11-21 17:29] Thraka commented on #6688
It would be nice to at least mention in this article how to set the store. We don't need to mention **aspnet_regiis**.

[2018-11-21 17:35] euclideansphere opened #9167 "KB link wrong"
"see Knowledge Base article Q248802." this does not link to anything relevant. What does this script actually do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91bc630b-9e6d-3015-a110-f15311e6924f
* Version Independent ID: 658594e6-77cb-e41c-3307-bb0a4e6224e1
* Content: [How to: Set Environment Variables for the Visua

[2018-11-21 17:36] #9114 closed

[2018-11-21 17:37] jimweiler opened #9169 "Explain that thumbprint is not part of x 509 spec"
It would be useful to mention that the thunbprint is calculated by the Windows tools and is not part of the certificate specification and you will not see a thumbprint  field in a cert when you view it with other tools like OpenSSL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba798f60-80a8-5d2c-555c-dd62917111ec
* V

[2018-11-21 19:23] Rick-Anderson commented on #8691
Use the versionless `Microsoft.AspNetCore.App`  AKA `M.A.App`

This document doesn't mention  `Microsoft.AspNetCore.All` or `Microsoft.AspNetCore.App`

Correct, you should be using `Microsoft.AspNetCore.App` ( App, not All). I suspect the fwlink  aka.ms/sdkimplicitrefs should be [this link](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage?view=aspnetcore-2.1#migrate)

`M.A.App

[2018-11-21 20:21] #8202 closed

[2018-11-21 20:40] MarcinSommer opened #9173 "Downloaded PDF bookmarks links are wrong"
When I click Download PDF, the generated file has a list of bookmarks, which point to inadequate places in document.
Contents table has no links at all.
Problem exists in .NET guides and ASP.NET Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49bc05d-7c8e-5f89-aac5-d133225da4d5
* Version Independent ID: 2f831fc9-d

[2018-11-21 20:51] #9107 closed

[2018-11-21 21:05] Thraka commented on #8846
Yeah, I'm not sure. It doesn't seem to make sense to me. If you want brackets in the documentation, you use the HTML encoding such as `&gt;`

@BillWagner I can fix this up. I just want to make sure that changing the example is correct. I think it is. Putting < or > inside of the cref seems odd, since the syntax is { } for the overload and the cref attribute needs to resolve to something. I see thi

[2018-11-21 21:15] Thraka commented on #8857
I'm going to close this as the current documentation is correct. Thank you for the feedback!

[2018-11-21 21:15] #8857 closed

[2018-11-21 21:44] Thraka commented on #8848
Actually, this is the second bug opened related to that name. I think it's confusing and should be changed. Further, I think that the code should not define a lambda to assign the event handler to. This is the "introduction to events" and it should really display creating a method to assign to the event.

@BillWagner Do you agree? I can change this

[2018-11-21 21:45] Thraka commented on #8848
Related to #5926

[2018-11-21 23:18] sime3000 commented on #6291
Hello Microsoft.  I don't suspect that you know or care how much time people waste collectively following these instructions just to get a simple answer about a commonly installed component do you? (rhetorical question). Does the .NET team really hate users that much that they cant be bothered to provide a simple command line utility, or a single PowerShell command, or some reference in Programs a

[2018-11-21 23:30] sime3000 opened #9174 "Why make getting basic information so convoluted?"
Hello Microsoft.  I don't suspect that you know or care how much time people waste collectively following these instructions just to get a simple answer about a commonly installed component do you? (rhetorical question). Does the .NET team really hate users that much that they cant be bothered to provide a simple command line utility, or a single PowerShell command, or some reference in Programs a

[2018-11-21 23:49] #9162 closed

[2018-11-22 09:45] qbit86 opened #9180 "Never use mutable structs as in in argument"
Could you please clarify: is passing mutable struct with `in` is less performant than passing the same mutable struct by value with no modifiers at all? As far as I understand if `in` is specified then there is only one defensive copy before actual call, and reference to this copy is passed to function. Why should other copies (six ones in example) be created inside called function on access to (p

[2018-11-22 10:08] HenrikRClausen opened #9181 "Exception, not a -1 return"
This comment seems to be in error:
// This method finds the day or returns -1

The code reads differently: If no day is found, an Exception is thrown. This should be noted in the comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5323b38b-8dc5-8f50-f5e7-b58ca0e88ad7
* Version Independent ID: 3d9a83cd-98e3-fc6e-727

[2018-11-22 10:29] HenrikRClausen opened #9183 "One more reason for indexers"
I believe that it also deserves mention that indexers hide the implementation details of the objects in question. That contributes to robustness, not least if the implementation was to change one day.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5323b38b-8dc5-8f50-f5e7-b58ca0e88ad7
* Version Independent ID: 3d9a83cd-

[2018-11-22 10:43] kthy commented on #8846
I agree that this is simply a case of `ampersand g t semicolon` being passed and interpreted as a literal angle bracket in the documentation source.

[2018-11-22 11:21] Nepomuceno opened #9184 "No documentation about what the data types represent"
How can I choose the data type with no information about what each one of those represent? What is UG what is R4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbe7af6f-d0db-6da8-5e2c-301750a3695d
* Version Independent ID: b67dfcf5-5d21-d81f-37d1-76d8d7111111
* Content: [DataKind Enum (Microsoft.ML.Runtime.Data)](http

[2018-11-22 11:48] kennethjohnsen opened #9185 "Comparison with .NET Framework"
"App-models ..... it doesn't support ASP.NET Web Forms and MVC ....."
Is this correct? MVC is supported by ASP.NET Core, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581f6cbb-c666-87ee-ab0c-f131baca403c
* Version Independent ID: 9205f603-e1d4-e0eb-1273-f176fcbf520f
* Content: [About .NET Core](https://docs.mic

[2018-11-22 14:31] softlion opened #9187 "Task sample won't work correctly"
The sample won't work correctly.

A task is not a thread. Instead, a task is scheduled on a thread by a taskscheduler.

In this sample, 100 tasks are created and run. The default taskscheduler creates 1 thread per CPU, no more. It then schedule each task on a free thread until there is no more task to run.

A task can be broken into 2 "runs" by the "await" keyword. I mean, when the await keyword i

[2018-11-22 16:44] pkulikov commented on #9187
@softlion

Could you please elaborate on that?

Also, what makes the sample in the article not work? Your reasoning in the second half of the post is based on `await` breaking the task in two parts. However, the article example doesn't use `await` at all.

Note that the docs say that:

[2018-11-22 17:33] softlion commented on #9187
Yes, the problem arises when the method RandomlyUpdate is async, and you await inside it (try await Task.Delay(100) for example.

Of course as the method in the example is not async, it works. But it is VERY comfusing as all developers will try to use lock like in the credit/debit method, but may call them from an async method which has switch its context.
This means the lock won't work in all cas

[2018-11-22 17:57] KeyvanKashani opened #9188 "Compile error in "Creating the data set (Method syntax )""
Hello ,
Thanks for this helpful documentation .
I think the following code has an error .
Suits().SelectMany(suit =&gt; Ranks(rank =&gt; new { Suit = suit, Rank = rank }));
"No overload for method 'Ranks' takes 1 arguments [linq]"
To produce the same result as query syntax, suggested code would be
Suits().SelectMany(suit =&gt; Ranks().Select(rank =&gt; new {Suits=suit ,Rank=rank }));

---
#### Doc

[2018-11-22 18:20] mikkelbu commented on #9188
Hi @KeyvanKashani
You are right. I've prepared a PR with your suggestion.

[2018-11-23 00:14] gallivantor commented on #8997
I thought .NET 4.7.1 fully implemented .NET Standard 2.0... if this is not the case then more detail should definitely be provided about what the problem is

[2018-11-23 01:30] KeyvanKashani commented on #9188
Thank you @mikkelbu .

[2018-11-23 04:48] MichaelLHerman opened #9192 "Note is no longer correct"
"Note If your attribute class contains a property, that property must be read-write" is not true.  An attribute can contain a get-only attribute as demonstrated in https://docs.microsoft.com/en-us/dotnet/standard/attributes/writing-custom-attributes#custom-attribute-example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-11-23 05:41] maryob77062 opened #9193 "Can't get sample code to work"
In the section under Making Thread-Safe Calls to Windows Forms Controls there are 3 sections of VB code. First demoThread is not declared. I hate it when I get red squiggles in sample code. I am trying to step through the code and I can't get .InvokeRequired to return True.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-11-23 08:49] Conghung43 opened #9195 "CheckBox size not Square (Box width * height = 14*13)"
-Status : When I create a CheckBox in windows 7, VS2013, .NET 4.5, the size of Box is 13x13 pixel
-Problem: Using the same code and run it in windows 10, VS2015, Every version .NET 4.0 =&gt; .NET 4.7.2 , the size of Box is 14x13 pixel. Even though Bring Release project in Windows 7 then run the file in Windows 10, result is the same (size of Box is 14x13 pixel).
I already checked in many computers

[2018-11-23 09:17] TobiasKnauss opened #9196 "Update Visual Studio versions in the table."
Please add Visual Studio 2017 and the latest update version of Visual Studio 2015 (has Update 3, which seems to include .net 4.6.1) and older in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81fe5242-e3b2-6cfe-5308-63fc96272657
* Version Independent ID: 1abaaeb7-d7ed-5522-c16f-409f22a074cc
* Content: [.NET

[2018-11-23 16:18] Mizux opened #9198 "Use of `dotnet run` instead of `dotnet path/file.dll`"
In https://docs.microsoft.com/en-us/dotnet/core/tools/index?tabs=netcore2x#command-structure
Why don't using (and advertise) `dotnet run` instead of calling the dll directly ?
i.e. I would rework the example like this
[code]
Also depending on platform (OS), rid, Target Framework Moniker, build Type (Debug default) the .dll can be anywhere and you don't explain where to find it ;)
e.g. on my debian

[2018-11-23 20:55] mikernet opened #9201 "Ordinal String Operations vs Current Culture"
The section titled "Default ordinal comparisons" makes no sense - it states:

If it is using an ordinal comparison then by definition it can't be using the current culture. Ordinal comparisons are binary sort order comparisons that do not factor in culture, so which is it? The section continues on to state:

...which would need to be fixed as well.

---
#### Document Details

<span class="emoji-ou

[2018-11-23 21:10] MarketKernel opened #9202 "Versioning recommendation for AssemblyVersion is not compatible with Windows Installer (MSI)"
This recommendation:

✔️ CONSIDER only including a major version in the AssemblyVersion.

Is not compatible with Windows Installer (MSI). When reinstalling the program, MSI leaves the old libraries if AssemblyVersion has not been changed (AssemblyFileVersion is ignored by MSI).

Is there any solution of this problem?
https://guides.github.com/features/mastering-markdown/

---
#### Document Details

[2018-11-23 21:50] potatoqualitee opened #9204 "Needs more info"
Can this please have the equivalent's solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98513c27-0ac2-43f9-00ac-72a2989876e7
* Version Independent ID: 50dd4d83-9de1-2901-4704-a45836309010
* Content: [Compiler Error CS0116](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0116

[2018-11-23 23:52] sergiogomes commented on #8521
Hi there!
In this last Cache example, "public class CachedCatalogService : ICatalogService", I didn't understand how to connect it to a SQL query. Is there an example where we use the set method with absoluteExpirationRelativeToNow?
Thanks

[2018-11-24 03:44] nissimlevy opened #9207 "Microsoft WCF Web Service Reference Provider Tool"
So what are the next steps? Don't just leave me hanging like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e89651a-5ad9-c3f9-146f-8d87b87d9e11
* Version Independent ID: 85c0e55f-abc0-3b2d-409a-06042b1f3ebb
* Content: [Microsoft WCF Web Service Reference Provider Tool](https://docs.microsoft.com/en-us/dotnet/cor

[2018-11-24 05:13] ericmutta opened #9208 "Clarify semantics of null-conditional operator in contexts expecting a boolean value."
For example, suppose you have an object `foo` with a boolean field called `IsBlah`. The following code in VB compiles...

[code]

...but what exactly does it mean? I guess it is equivalent to this:

[code]

...however none of this is spelled out in the documentation so it's not clear how this works. Is it like the code above or is the null-conditional operator returning a `Nullable(Of Boolean)` wh

[2018-11-24 09:29] dipakvaghela99 opened #9209 "Thank you very much from bottom of heart thank you very much"
I have tried so many times and you give a very easy and convenient way for successful installation of Microsoft Indic tool for local Indian languages. (which are not supported after updating of windows 7 or 8 to Windows 10)

I think you understand the problem properly and give the best resolution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-11-24 10:20] danielwertheim opened #9210 "Property "Targetframwork" not defined"
Following the recommendation above using `<TargetFrameworks>` to target multiple frameworks and then defining specific references for different frameworks, e.g.

[code]
gives an warning that "Property "Targetframwork" not defined". At least in VS2017 15.9.2

It works but gives warning which is annoying. So either document a solution that doesn't provide warnings or fix tooling so that it doesn't p

[2018-11-24 12:27] jaymin93 opened #9211 "can not download entire pdf of particualr document"
for eg I  om on this link https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct expecting download pdf to generate pdf for Deconstructing tuples and other types this topic , or with all higher level hierarchy c# concept's pdf but it gives me pdf of 2048 page  here is link by clicking on download pdf for this page https://opdhsblobprod02.blob.core.windows.net/contents/c6aea4f5457448ee818b7292b

[2018-11-24 13:08] RaulBastian opened #9212 "Does this paragraph need reviewing?"
Does this paragraph need reviewing?

An encoding defines a set of rules about how to present messages on the wire. An encoder implements such an encoding and is responsible, on the sender side, for turning **a Message in-memory message** into a byte stream or byte buffer that can be sent across the network. On the receiver side, the encoder turns a sequence of bytes into an in-memory message.

May

[2018-11-24 17:25] SezMe opened #9213 "Missing Information"
The documentation fails to mention that if the gridsplitter occupies a (column|row) the Drag events do not occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9049b28-485e-16ce-bd32-039617acddc3
* Version Independent ID: f98e5faf-0643-0027-ab05-f860c4c6735a
* Content: [How to: Resize Columns with a GridSplitter](htt

[2018-11-24 20:08] sadedil opened #9218 "What is the package manager for macOS"
Hi,

The document says

I'm not sure what the package manager is for macOS. I've downloaded .NET Core Sdk from https://www.microsoft.com/net/download and installed via double click the pkg file (for example `dotnet-sdk-{x}.{x}.{xxxx}-osx-gs-x64.pkg`). Should i install with Homebrew or something like this instead of downloading pkg?

**My question is:**
I only want to keep one for each major versio

[2018-11-24 21:17] martingbrown opened #9219 "Sample split between several boxes"
When I view this page in Edge the two samples are presented in multiple boxes. Where as I think there should only be two boxes one for the XAML code and one for the C# code.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44be0b84-a485-c39c-dfe2-5b5ed901709f
* Version Independent ID: 8ff09ce0-5749-972b-9ef1-b4a85d64890a

[2018-11-24 21:19] KexyBiscuit opened #9220 ".NET Tutorial on https://dot.net/ has unnecessary threshold"
`Keep learning` section in [.NET Tutorial](https://www.microsoft.com/net/learn/dotnet/hello-world-tutorial) leads the user to [List collections](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/arrays-and-collections), which [requires the user to finish the previous lessons](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/#list-collection).

[2018-11-24 22:42] richlander opened #9221 "Add content for .NET Standard 2.1"
We should have the first batch of content in place by the time .NET Core 3.0 Preview 1 is released. Right?

/cc @terrajobst

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de130a75-fed2-0567-6e3d-07a384900eec
* Version Independent ID: a2993c26-93f8-7281-d6ca-5fcc899e95f3
* Content:

[2018-11-25 04:09] terrajobst commented on #9221
There isn’t going to be a release of .NET Standard 2.1 in preview 1 — all bits are going out first time in Preview 2.

[2018-11-25 05:47] samir105 opened #9225 "Ref returns for container types"
Is it possible to make index operator of generic container types like list to return ref (So we could write listOfStruct[i].field=value)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6968c8f-19ab-f79f-021a-265108870371
* Version Independent ID: 6b4f1fec-b9d1-f501-1fcf-2c6f15209a29
* Content: [Ref return values and re

[2018-11-25 11:42] yotwerde opened #9227 "2 Typos?"
Under &lt;b&gt;The range variable&lt;/b&gt;:
1) 2nd paragraph: It writes 'Or you could write select n + 10...' but the variables name is 'num'. Shouldn't it write 'select num + 10'?
2) 3rd paragraph: It writes 'It just a syntactic convenience', shouldn't it write 'It's just...'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-25 15:00] BillWagner commented on #9225
@samir105 Thanks for taking the time to suggest this. If it's added, we'll update the documentation.

As a product suggestion, it would belong in the [dotnet/corefx](https://github.com/dotnet/corefx) repository.

I'll close this, but consider opening an issue in the product repository.

[2018-11-25 15:00] #9225 closed

[2018-11-25 15:38] qbit86 commented on #9180
This particular thing is not about all those new `ref`s. For example take a look at old post by @jskeet [The surprising inefficiency of readonly fields](https://codeblog.jonskeet.uk/2014/07/16/micro-optimization-the-surprising-inefficiency-of-readonly-fields/).

[2018-11-25 15:54] Uzivatel919 commented on #9180
Part “It can't directly assign to any field of an in parameter when that value is a struct type. In addition, you can't pass an in parameter to any method using the ref or out modifier. These rules apply to any field of an in parameter, provided the field is a struct type and the parameter is also a struct type. In fact, these rules apply for multiple layers of member access provided the types at

[2018-11-25 16:09] qbit86 commented on #9180
If struct is `readonly` then its immutability (by own members) is already checked at the time of compilation of this struct and no defensive copies needed when passed by reference via `in`.

If struct isn't `readonly` then it is potentially mutable even via property getters. Compiler cannot check that getters do not modify struct. At least because at the time of call compilation there can be no so

[2018-11-25 20:59] qbit86 commented on #9180
@Uzivatel919

In the following example compiler emits a defensive copy of mutable struct to prevent `TestIn()` method to modify passed struct with mutating getter:

[code]

[2018-11-25 21:15] Uzivatel919 opened #9229 "pply the in modifier to readonly struct parameters larger than System.IntPtr.Size"
Part “First of all, the called method can't directly assign to an in parameter. It can't directly assign to any field of an in parameter when that value is a struct type. In addition, you can't pass an in parameter to any method using the ref or out modifier. These rules apply to any field of an in parameter, provided the field is a struct type and the parameter is also a struct type. In fact, the

[2018-11-25 21:20] Uzivatel919 commented on #9180
I am sorry for spamming you thread. I did not reliaze I am commenting instead of creating but thanks for link to article with info about ensuring readonlyness of readonly struct field. That article is not longer true nevertheless the copy of field is still present as you noted.

I gonna deleted all off-topic comments. You can follow with your answers to keep readness.

[2018-11-25 22:50] BillWagner commented on #9180
@qbit86

The only way to be sure is to measure performance both ways. There are other conditions that affect performance in this scenario: The size of the struct, how many times the method accesses members of the struct. In the general case, it's likely to be slower to pass by readonly ref.

That could be where the confusion arises: declaring the parameter as `in` means it is passed by reference.

[2018-11-25 22:50] #9180 closed

[2018-11-25 22:50] BillWagner commented on #9180
Parts of the conversation have been moved to #9229

[2018-11-25 23:02] richlander opened #9233 "Defining "Standard" content"
I was looking at some of the content that is now in the "standard" directory. The original intent of that directory was to define the most basic and timeless aspects of .NET that are meaningful for any .NET implementation. Implementation-specific content would go into the "core" and "framework" directories, for example. Or scenario specific content would go in the "machinelearning" directory, for

[2018-11-25 23:05] BillWagner commented on #9229
This is a good catch @Uzivatel919

The paragraph in question (first paragraph under the header used as a title) should clarify that the readonly-ness of an `in` argument applies to any field that stored inline in the struct. In other words, it is a struct at all levels of nesting.  The readonly-ness would apply to any reference that is stored inline, but not to the referred-to object of that refer

[2018-11-25 23:19] mairaw commented on #7864
You're right @tomap. I could double check this at https://apisof.net/catalog/System.Convert.TryFromBase64String(String,Span%3CByte%3E,Int32)

@terrajobst can I get the version of the 2.0 ref assemblies that are being used for the API Catalog? It seems my version is not correct.

[2018-11-25 23:37] mairaw commented on #9233
@wadepickett @BillWagner I think there are ongoing discussions about the placement for the .NET Architecture books, no?

[2018-11-26 02:02] LJ9999 opened #9234 "This example blows."
This example blows for the simply reason that it ONLY demonstrates method usage.

You need to illustrate how to blast a List&lt;&gt; to a table. That's the real-world use people are looking for in the context of C#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b985ea82-b1e2-84cb-c9a3-4b92c41dce05
* Version Independent

[2018-11-26 02:55] BillWagner commented on #9233
A top-level architecture node would make sense, but if we do that we'd need to update the .NET Hub page, and handle a large number of redirections.

[2018-11-26 04:33] richlander commented on #9233
I'd rather us make the write fix. We have three choices:

- Give up on the initial plan for "standard" and allow more content like this in it.
- Go back to the initial plan for "standard" and move the non-standard content out.
- Keep existing content in but do not add any more such content.

The last idea is clearly incoherent, so let's drop that. I'm a fan of the second option. Also, if the archi

[2018-11-26 07:07] CESARDELATORRE commented on #9233
It always felt pretty strange to have .NER Application Architecture content within the .NET Standard section. I think it should move out, as well.

[2018-11-26 08:21] mehmetilker opened #9236 "Reading ETW events"
I cannot find any information about TraceEventSession and ETWTraceEventSource classes on docs.microsoft.com.
Does it mean there is no official MS support to read ETW events?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f631676-9b12-c857-6f83-105cf07d5de8
* Version Independent ID: a1a4d50f-cc93-804f-561d-36af60d1cfe7

[2018-11-26 09:05] MagicAndre1981 commented on #9236
The documentation can be found here:

https://github.com/Microsoft/perfview/blob/master/documentation/TraceEvent/TraceEventProgrammersGuide.md

[2018-11-26 09:55] abuassar opened #9237 "non consistent case"
in this line:
`Logical AND 	x & y 	Integer bitwise AND, Boolean logical AND`
"Boolean" has a capital B, but in the following two lines it is written with small b.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead39ab6-fdf2-0435-5b6d-ece58071ae72
* Version Independent ID: 8a1b5aeb-c5e7-80c7-0909-618fc437b2e6
* Content:

[2018-11-26 10:24] mehmetilker commented on #9236
@MagicAndre1981 Thanks for the link.
I am aware of perfview but same problem there. It is not officially supported.
logman and ETWTraceEventSource do not produce same result and I am looking for more detail info about them. And report the problem if it is related to https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.TraceEvent/
issue: https://github.com/Microsoft/perfview/issues/782

[2018-11-26 12:05] ChrisMaddock opened #9238 "Document behaviour of 'unspecified' options in <proxy> Element"
Most values here are stated as defaulting to 'unspecified' - however there is no information on the behaviour when using the default. (When the defaults are either true or false, it's easier to guess!)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09aeb831-81e3-0216-4ef7-b4cb40105290
* Version Independent ID: 32c08202

[2018-11-26 13:26] dasMulli opened #9239 "Remove RuntimeIdentifiers guidance"
`<RuntimeIdentifiers>` no longer has the desired effect of pre-fetching runtime-specific packages for self-contained deployments.

Since the automatic patch version roll-forward, `<RuntimeIdentifiers>` would for example only fetch the 2.1.0 package, but when you do `dotnet publish -r RID`, then the roll-forward kick in and a newer patch version will be fetched.

The `<RuntimeIdentifiers>` property

[2018-11-26 14:48] gjkhw commented on #8106
Does it make sense to reopen this issue? If there are no cycles to work on it now (while it's closed) I am afraid it will be ignored. I get the feeling that there are a lot of APIs that people are going to miss when programming against .NET Standard that they needn't.

[2018-11-26 15:34] #9188 closed

[2018-11-26 15:35] #9094 closed

[2018-11-26 15:40] HamidMolareza commented on #9121
I hope this is useful:
[Rewritten according to the **Task-based Asynchronous Pattern**](https://github.com/HamidMolareza/AsynchronousClient)

[2018-11-26 16:02] vanillajonathan commented on #9121
@HamidMolareza,
The code still have references to Begin* and End*.
https://github.com/HamidMolareza/AsynchronousClient/blob/master/AsynchronousClient/Program.cs#L114
https://github.com/HamidMolareza/AsynchronousClient/blob/master/AsynchronousClient/Program.cs#L60

Which is part of the old `IAsyncResult` API.

[2018-11-26 16:49] Lxiamail commented on #9212
@RaulBastian Your correction looks right, please submit an PR if you like to contribute.

[2018-11-26 17:48] mairaw commented on #7925
Given this is a site feature and not a content issue, I've moved this feedback to https://github.com/MicrosoftDocs/feedback/issues/895.

[2018-11-26 17:48] #7925 closed

[2018-11-26 19:01] CeciAc opened #9243 "E una cosa pericolosa che si avvi e a che cosa serve?"
@MarcoTeck commented on [Sat Nov 24 2018](https://github.com/dotnet/docs.it-it/issues/54)

Io non ho capito se è pericoloso il fatto che si avvi e a che cosa serve?

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 64b60fe3-9661-0a43-d4bd-eedd9d4b82d1
* Version Independent ID: 35804ba6-f

[2018-11-26 19:03] CeciAc commented on #9243
Hi team,
I'm moving this here since the article may need some clarification:
Rough translation:

[2018-11-26 19:27] CeciAc opened #9244 "This articles does not follow the guide line described in Unit Test Best practices"
@joonhwan commented on [Sun Nov 25 2018](https://github.com/dotnet/docs.ko-kr/issues/84)

Prefer helper methods to setup and teardown : see (https://docs.microsoft.com/ko-kr/dotnet/core/testing/unit-testing-best-practices#prefer-helper-methods-to-setup-and-teardown)

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: e39c2f1b-f41a-bdf9-2646-09379941453d
* Versi

[2018-11-26 20:06] KathleenDollard commented on #9208
I want to be careful that with how much information we put in topics other than the core where they primarily appear.

This topic clarifies that `?.` returns a nullable (in your case a nullable of boolean). The If topic is clear on what happens when a nullable boolean is encountered (it is treated as False).

The result you describe occurs, it is not in exactly that manner (particularly in IL).

I

[2018-11-26 20:13] #8877 closed

[2018-11-26 20:19] HamidMolareza commented on #9121
@vanillajonathan
If i use base methods like Socket.Send(), Receive() and so on, is it useful to you?

[2018-11-26 22:35] Tanya-Solyanik opened #9248 "Add description of new(4.7) parameters for mage.exe (CryptoProvider and KeyContainer)"
&lt;Starting with .NET Framework 4.7, mage.exe tool supports additional command and parameters.
 -Verify <manifest_file_name>       -ver
      Verify if the manifest is signed correctly. Cannot be combined with other commands.
      Example:
        -Verify MyApp.manifest

---
 -CryptoProvider <name>  -csp
      Specifies the name of cryptographic service provider (CSP) that contains
      the pri

[2018-11-26 22:49] BillWagner commented on #3277
This was addressed in the update from "quickstarts" to "interactive tutorials"

[2018-11-26 22:49] #3277 closed

[2018-11-26 22:54] HamidMolareza commented on #9121
@vanillajonathan
Please see this updated source.
IAsyncResult methods (like Begin* and End*) have been removed:
[Template2 - AsynchronousClient](https://github.com/HamidMolareza/AsynchronousClient/blob/master/AsynchronousClient/Template2.cs)

[2018-11-26 23:53] #9096 closed

[2018-11-27 00:04] #9106 closed

[2018-11-27 00:45] rpetrusha commented on #9243
Rough translation: "I did not understand if it's dangerous that it starts and what's the use?"

The Security section of the article discusses security considerations. Use cases are discussed in the parent article, [Administration and Diagnostics](https://docs.microsoft.com/dotnet/framework/wcf/diagnostics/index). I'll close this issue as Not Repro.

[2018-11-27 00:45] #9243 closed

[2018-11-27 00:56] cartermp commented on #9091
@abelbraaksma I'll close this since #9233 addresses everything aside from guidance on passing `unit` as a parameter to a function or method. But if you have a great motivating example of this, I'll gladly add it and think of what the guidance should be.

[2018-11-27 00:56] #9091 closed

[2018-11-27 00:56] #9070 closed

[2018-11-27 01:43] BillWagner commented on #3685
We have this documented [in the compiler options](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/langversion-compiler-option) section.

This can be closed.

[2018-11-27 01:43] #3685 closed

[2018-11-27 01:49] BillWagner commented on #5074
All the data for this issue has been lost. Closing.

[2018-11-27 01:49] #5074 closed

[2018-11-27 01:55] BillWagner commented on #5169
Updating this sprint because I'm updating the same article for P1 work.

[2018-11-27 01:58] BillWagner commented on #5462
Closing this.

When I updated the Quickstarts and interactive tutorials, this moved into a different section.

[2018-11-27 01:58] #5462 closed

[2018-11-27 01:59] BillWagner commented on #5793
This was addressed in the last update of this topic.

[2018-11-27 01:59] #5793 closed

[2018-11-27 02:11] elendil326 opened #9253 "Previous and Next links do not work"
The `Previous` and `Next` links at the end do not work because there is a blank space between the closing square bracket and the open parenthesis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b506236-b211-eb9d-b571-5efecdde76c8
* Version Independent ID: 1bb011dd-a559-c0d7-b0cf-984fbb2d4bd3
* Content: [Use HttpClient

[2018-11-27 02:17] mairaw commented on #9253
Thanks for your feedback. My PR addresses this issue: https://github.com/dotnet/docs/pull/9232.

[2018-11-27 02:35] mairaw commented on #9221
Moving this to the backlog since we don't have what to document at this moment.

[2018-11-27 02:37] mairaw commented on #8527
I missed your question earlier @terrajobst. Only if we used HTML instead of Markdown, which is not recommended but doable if really necessary. What do you prefer? Gray out or remove?

[2018-11-27 02:37] mairaw commented on #8455
@JamesNK should this be moved to our backlog?

[2018-11-27 02:38] drzamzow opened #9254 "not working"
Error code 0x8024401c

[2018-11-27 02:44] BillWagner commented on #8330
Your analysis is correct @volkan-yazilim The unboxing conversion must have an identity conversion to the type of object that has been boxed.

[2018-11-27 02:44] sime3000 commented on #9174
@Thraka A single command that a normal administrator can run to clearly list all of the decimal versions of .NET that are installed on the system without the convoluted approach of searching for a registry entry then matching it to a table to get a human-readable version number.  Perhaps something like the Windows ver and winver commands to get either a command line or GUI output.  Or a simple get

[2018-11-27 02:49] mairaw commented on #7864
I double checked with the path you sent today re. 2.2 @terrajobst and my assemblies match. Looking at the 2.0 assembly with ildasm I don't see that API in there.

Tagging @dend and @joelmartinez since mdoc automatically adds this API and others in the 2.0 index:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/FrameworksIndex/netcore-2.0.xml

[2018-11-27 02:50] BillWagner commented on #8565
The code in the finally block is executed even when an exception is thrown in the `try` block associated with the `finally` block.

Any code in the `try` block that follows the statement that throws the exception is not executed.

[2018-11-27 02:50] #8565 closed

[2018-11-27 02:54] mairaw commented on #7784
Ping @terrajobst

[2018-11-27 02:58] BillWagner commented on #8595
Closing as this has been fixed in the try.net experience.

[2018-11-27 02:58] #8595 closed

[2018-11-27 03:35] mairaw opened #9255 "Create What's new in .NET Core 2.2"
We need a topic that addresses "What's new in .NET Core 2.2"

[2018-11-27 03:37] mairaw opened #9256 "Update/review CLI reference for .NET Core 2.2"
Content under this node needs to be reviewed/update for 2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e47565-cc59-b1a6-24be-0143c550c0b2
* Version Independent ID: c6859ca6-e2b1-3645-872c-60390ffd429a
* Content: [.NET Core Command-Line Interface (CLI) Tools](https://docs.microsoft.com/en-us/dotnet/core/tools/?tab

[2018-11-27 03:40] mairaw opened #9257 "Update Prerequisites topics for .NET Core 2.2"
- [ ] Windows: https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites
- [x] macOS: https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites
- [x] Linux: https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites

[2018-11-27 03:42] mairaw opened #9258 "Review updateeachrelease topics for .NET Core 2.2 release"
Check topics that have ms.custom updateeachrelease to see which ones need updates.

[2018-11-27 03:44] mairaw opened #9259 "Add migration doc from .NET Core 2.1 to 2.2"
Need to define whether this is needed.

This is what we had for 2.1: https://docs.microsoft.com/en-us/dotnet/core/migration/20-21

@KathleenDollard @Andrew-MSFT @richlander can you comment on this one?

[2018-11-27 03:45] mairaw opened #9260 "Onboard APIs for .NET Core 2.2 into API browser"
- [x] .NET Core 2.2
- [x] .NET Platform extensions 2.2

[2018-11-27 04:32] JRAlexander commented on #6546
@mairaw - Yes, this will be taken care of with https://github.com/dotnet/docs/pull/9156. Thanks for checking!

[2018-11-27 05:20] baruchiro opened #9261 "Is this tool available in 'dotnet install'?"
This article does not talk about this case, just the nuget and local tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ffe064a-2c6e-284f-7706-528d1c861de3
* Version Independent ID: 7ff2fe61-8884-694d-db38-3e2cc292fe61
* Content: [How to create a .NET Core Global Tool](https://docs.microsoft.com/en-us/dotnet/core/to

[2018-11-27 09:58] vanillajonathan commented on #9121
@HamidMolareza This is better.
Maybe it should use `Encoding.UTF8` instead of `Encoding.ASCII` though.

Line 112 looks suspicious.
But [line 112](https://github.com/HamidMolareza/AsynchronousClient/blob/master/AsynchronousClient/Template2.cs#L112) and [line 132](https://github.com/HamidMolareza/AsynchronousClient/blob/master/AsynchronousClient/Template2.cs#L132) looks suspicious. Is that wrapping

[2018-11-27 12:23] oddbear opened #9263 "Alternative security measures?"
Is it possible to elaborate more on what 'without putting alternative security measures in place' means, or link to some other documentation for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505d926-b70e-94df-d4ef-1d70737d0353
* Version Independent ID: 1bf0791b-8627-9113-a0b3-e52987bd4d59
* Content: [How to: Ru

[2018-11-27 12:58] tauheedul opened #9264 "An ASP.NET Web API service tutorial with ML.NET"
Please add an ML.NET Tutorial where the ML.NET logic is behind an ASP.NET Web API service so it can be utilised by any Web-enabled application over http.

The example can include a client application (desktop or web) triggering a web api service and returning a result to the client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-11-27 16:38] JRAlexander commented on #9264
Thanks, @tauheedul! This has been added to the backlog.

[2018-11-27 16:51] tauheedul commented on #9264
Thank you @JRAlexander

[2018-11-27 16:56] JRAlexander commented on #9071
Thanks, @maristhek, for following up. I'm glad you got this resolved! We'll look at adding the tags in the sample.

[2018-11-27 16:56] #9071 closed

[2018-11-27 17:39] HamidMolareza commented on #9121
I checked, you're right. Those lines are not really asynchronous. (Also line 68)  :(

So after looking at the [.NET Framework source](https://referencesource.microsoft.com), I saw the two methods used here:
1- [TaskFactory.FromAsync](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskfactory.fromasync?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15I

[2018-11-27 17:39] HamidMolareza commented on #9121
@vanillajonathan
I checked, you're right. Those lines are not really asynchronous. (Also line 68)  :(

So after looking at the [.NET Framework source](https://referencesource.microsoft.com), I saw the two methods used here:
1- [TaskFactory.FromAsync](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskfactory.fromasync?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query

[2018-11-27 18:01] Andrew-MSFT commented on #9259
@glennc @danroth27 what do you guys thing?  Are there enough changes between 2.1/2.2 we should have a doc?

[2018-11-27 19:02] danroth27 commented on #9259
I think we should always have a doc for how to move from one version to the next. Even if the migration is simple, that just means the doc should be easy to write 😃 .

[2018-11-27 19:21] mikkelbu commented on #9003
@SathishRanjan The documentation stats about the return value (emphasis mine)
"A sequence that contains the **set difference** of the elements of two sequences.". So only unique elements will be return from the first list as we are working with sets.

[2018-11-27 19:22] mairaw commented on #9259
Fair enough. 😄

Other than the obvious TargetFramework(s) change, what else do we need to account for with this release?

[2018-11-27 19:22] TroyTurley opened #9267 "Complexity and Confusion"
I agree with those who complain about the unnecessary complexity. The Help-&gt;About in Visual Studio 2017 tells me I have version 4.7.02556 but the Powershell method tells me 4.7.1 and clrver tells me 4.0.30319, but I think there's a difference between the framework and the runtime... correct? Is there an article that describes this?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-11-27 19:59] bychkov opened #9268 "Link to "Roadmap for the .NET Framework" doesn't work"
Link to "Roadmap for the .NET Framework" doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6372c771-955d-d043-7774-fcd7ff20b05c
* Version Independent ID: 15347b19-b2bf-640b-9d3f-982b970f9936
* Content: [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/)
* Content

[2018-11-27 21:09] Thraka commented on #9261
I'm not sure I understand the question. Are you saying that you can't figure out if a tool can be installed or not? Or are you trying to determine what tools are installed?

[2018-11-27 21:48] #9253 closed

[2018-11-27 22:00] joelmartinez commented on #7864
@mairaw just wanted to chime in that this is under investigation … have confirmed that the binaries being used for 2.0 are in fact reporting that this method is not there. So there's some other reason that it's being included in this list. Will let you know when I find/fix the reason

[2018-11-27 22:06] mairaw commented on #7864
Thanks for the update @joelmartinez!

[2018-11-27 22:10] gewarren opened #9272 "Need to add Portability Analyzer to last section"
The "More information on specific analyzers" section says "the following analyzers are covered in this section" but Portability Analyzer is not listed there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee024463-2572-2106-a85d-7c53f8d9dc0c
* Version Independent ID: 1cd4a2f3-3055-1faa-0fa9-46bbfb6dcef1
* Content: [The

[2018-11-27 22:33] mairaw commented on #7515
Thanks @dsplaisted for your input. Gotcha.

So the aka.ms link for that error message points out to https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-patch-selection.

Perhaps it's worth adding to that topic instead the recommendation of reinstalling the SDK or upgrading to 2.2 or later if you have that error message?

[2018-11-27 22:37] nguerrera commented on #7515
The reinstalling of the SDK is for the specific issue of a bad build of exactly 2.1.401 (https://github.com/dotnet/cli/issues/9897), not the general issue of runtime patch selection. It so happens that the bad build trips the same warning.

[2018-11-27 22:47] mairaw commented on #7515
Ok @nguerrera. So just close this as product bug then?

[2018-11-27 22:58] douglaslMS commented on #8968
@BadgerB1 I had to stare at this one for a minute! The first and third example for GroupJoin were identical. I removed the duplicate in the linked PR. Thanks for bringing this to our attention.

[2018-11-27 23:20] LJ9999 opened #9274 "Way to short"
What I need to know is how to read rocket science like this: Where&lt;TSource&gt;(IEnumerable&lt;TSource&gt;, Func&lt;TSource, Int32, Boolean&gt;)

There is nowhere on the web that explains these fundamentals and yet most of C# is defined this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de0ee481-866a-602c-a6af-

[2018-11-28 02:55] noahfalk opened #9276 "Add a overview page for .Net Core diagnostics"
I'm not actually the customer asking for this, but I'll attempt to paraphrase what I have heard as best I can

**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
Customer searches on bing/google for terms such as:
One of: ".Net Core", "C#", "asp.net core" +
One of: "diagnostics", "debugging", "logging", "profiling", "tracing", "crash", "dump", "monito

[2018-11-28 02:55] noahfalk commented on #9276
cc @vancem @dotnet/dotnet-diag

[2018-11-28 03:31] niteshkumarshaw opened #9278 "DataKind Enum is not well documented"
DataKind Enum is not well documented, this is an very important think to be documented with a priority bases. Earlier i use python for ML part now i wish to use this library further but i can't find any documentation on so many parts this is one of them and a very impotent one. please give some documentation so that anyone can understand situation/purpose to use these enum.

---
#### Document Deta

[2018-11-28 05:17] baruchiro commented on #9261
I mean if I don't know the way `dotnet tool install` works, I don't find a way to use it, because I do not know that uploading it to nuget.com means that it will be available through `dotnet tool install`.

[2018-11-28 09:52] mairaw commented on #1255
That's great @pkulikov! Thanks.

[2018-11-28 10:06] mikkelbu commented on #9274
Hi @LJ9999 You will need to read the sections below "Generics", https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/. I don't think that there is anything about this under "classes-and-structs"

The way to read `Where<TSource>(IEnumerable<TSource>, Func<TSource, Int32, Boolean>)` is that the method called `Where` is generalised to an arbitrary type, called `TSource`. The meth

[2018-11-28 11:09] kmteam opened #9285 "How I should catch the exceptions in the async code?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17acbfb3-4b90-a358-0417-2975f2475db4
* Version Independent ID: a6a6845f-e7cf-8c6f-65a8-04ed09f64a1e
* Content: [Calling Synchronous Methods Asynchronously](https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/calling-sync

[2018-11-28 11:18] Sim0o0na opened #9286 "Add string literals indexation information to string docs"
Describe indexation in string type: accessing each character via [] and starting from 0 to Length - 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67b95029-3bf2-c56d-48ab-be7ad1f43762
* Version Independent ID: a5f74e00-3f77-804d-f47d-26caa05bfc40
* Content: [string (C# Reference)](https://docs.microsoft.com/en-us/dot

[2018-11-28 13:06] neil-rubens opened #9287 "What are advantages of this approach over ‎Azure Logic App?"
What are advantages of this approach over ‎Azure Logic App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96ac9a09-0689-b95c-66d8-4b709cd3feaa
* Version Independent ID: 68a934b9-2ffd-c78d-eeb1-a1c11f8d71f6
* Content: [Orchestration patterns - Serverless apps](https://docs.microsoft.com/en-us/dotnet/standard/serverless

[2018-11-28 16:02] #9272 closed

[2018-11-28 17:40] jmarkman commented on #9286
Hi @Sim0o0na, I believe that using indexing to access characters is describe in the document already, unless you had something else in mind?
![chrome_2018-11-28_12-36-37](https://user-images.githubusercontent.com/8032019/49170527-579e1300-f30a-11e8-86c3-b5ba3ca204aa.png)

As you mentioned `and starting from 0 to Length - 1`, are you suggesting to add an example that uses indexing in a loop? i.e.
`

[2018-11-28 18:12] #8968 closed

[2018-11-28 18:54] jkaisler commented on #8005
Hi,
    Just wanted to revisit this again.   I am now at VS 2017 15.9.2 and still have the issue. with the question at the top when viewing projects.

[2018-11-28 18:54] #8005 closed

[2018-11-28 19:27] johnechiappetta opened #9288 "Grammar Issue"
The text advises, "Use past tense (as in this example) when the event reports something that has happened."  However, the example referred to, "Progress," is not a past tense form of "to progress." (It is present indefinite, IIRC.)  This could be improved by changing the name to a past tense verb, such as "MadeProgress" or "Progressed", or by removing the parenthetical reference to the example.  (

[2018-11-28 20:10] rpetrusha opened #9289 "Consolidate WCF binding topic"
## Consolidate WCF binding topics

The [\<binding> article](https://docs.microsoft.com/en-us/dotnet/framework/misc/binding) does not sync with the TOC and contains information more appropriate to the configuration file reference. It should be merged into the [\<bindings> article in the Configuration File Schema reference](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema

[2018-11-28 20:21] BillWagner commented on #8208
**Proposed sample: Survey results**

- The root object is a collection of people who were asked to respond to the survey. Some did, some chose not to respond. (The associated survey results object may be null).
- The survey object has a list of questions. These are non-nullable.
- The response objects have a collection of answers mapped to questions. Each question has an answer. Some are required

[2018-11-28 21:14] johnechiappetta opened #9290 "Missing hyperlink"
In the last sentence of the second-to-last paragraph in the section titled, "Recognize CPU-Bound and I/O-Bound Work," the reference to the Task Parallel Library should probably be hyperlinked to the TPL documentation (https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/task-parallel-library-tpl).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-11-28 21:29] johnechiappetta opened #9291 "Missing class definition"
The sample code under "Auto-property initializers" seems to be missing the declaration of class Student.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36fef60d-04e9-dc86-2e3f-134c10ea37bb
* Version Independent ID: 09b5aa7a-1b43-8bf9-9786-f10f457488dd
* Content: [What's New in C# 6 - C# Guide](https://docs.microsoft.co

[2018-11-28 22:12] chandanadesilva commented on #8663
Ideally change the back slashes to forward slashes to keep in line with the rest of document
dotnet sln add  PrimeService.Tests/PrimeService.Tests.csproj

[2018-11-28 22:13] cartermp commented on #9290
@BillWagner I think we may want to associate this article with you now - currently we're both "owning" it  😄

[2018-11-28 22:46] BillWagner commented on #1028
ping @DuncanmaMSFT as this old thread has some interesting thoughts related to GitHub issues on docs.

Removing various docs labels & adding the external label.

[2018-11-28 23:48] ChrisMaddock commented on #8386
Foxed in https://github.com/dotnet/docs/pull/8615 - thanks!

[2018-11-28 23:48] #8386 closed

[2018-11-28 23:50] blowdart commented on #1397
I'm staying out of this, mainly because it's very runtime version specific and an utter mess. But yea, right now it's check the advisorys in the .net and asp.net repos and figure it out. In 3.0 it'll be different again, that'll be "just install the new runtime"

[2018-11-29 00:03] BillWagner commented on #4219
Does this issue description need revisiting as the C# REPL has matured and changed capabilities?
/cc @jonsequitur

[2018-11-29 00:07] BillWagner commented on #4358
Closing after moving to MicrosoftDocs/contribute#156

[2018-11-29 00:07] #4358 closed

[2018-11-29 00:11] mairaw commented on #808
No @automation-dojo since this is the name of the command.

[2018-11-29 00:17] wschin opened #9292 "Field-aware factorization machine is an online learner too"
As title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eec8573-caed-8210-d3e4-81c8f5dcaeb5
* Version Independent ID: 2966070a-b7e9-1d2f-4a68-aec99b5db499
* Content: [Microsoft.ML.Trainers.Online Namespace](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.online?view=ml-dotnet)
* Content Source: [dot

[2018-11-29 00:25] wschin opened #9293 "Field description is not clear"
I don't think after reading through this page, user will be able to adjust those parameters for their application. To actually playing with those parameters, users need to first find a suitable data set and figure out how to create a pipeline with the correct trainer. Maybe add some examples like scikit-learn (they basically have at least one runnable example for each component exposed to users) c

[2018-11-29 00:29] #9292 closed

[2018-11-29 00:31] wschin opened #9294 "AveragedLinear v.s. AveragedPerceptronTrainer"
I assume that each class under Microsoft.ML.Trainers.Online stands for a distinct learner. However, because AveragedPerceptronTrainer is a linear model, it's a sort of confusing to have another AveragedLinear here. It'd be better to have more details in AveragedLinear's doc page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-29 00:37] JRAlexander commented on #9293
Hi @wschin, great feedback! I will pass to the product team, as these pages are generated from the code comments. Have you seen the [tutorials](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/) in the ML.NET Guide?

[2018-11-29 00:45] JRAlexander commented on #9294
Hi @wschin, great feedback! I will pass to the product team, as these pages are generated from the code comments.  @sfilipi - Any thoughts?

[2018-11-29 00:47] #6546 closed

[2018-11-29 01:25] erikness opened #9295 ""Managing Connections" mistakenly suggests that ServicePointManager is used globally"
**Issue description**

The "Managing Connections" doc describes how to use ServicePoint and ServicePointManager objects to manage TCP connections. These objects don't do anything themselves; they mostly hold configuration. The issue is that these are not used everywhere in .NET: some ways of sending network requests obey the restrictions you set in ServicePoint/ServicePointManager, but some other

[2018-11-29 02:14] BillWagner commented on #8701
What is missing in this document that you need @VProfirov ?

[2018-11-29 02:15] BillWagner commented on #8704
ping @jcouv  for comments. I'm inclined to agree with @svick but I'd like confirmation.

[2018-11-29 02:18] BillWagner commented on #8705
These are good suggestions. Would you like to submit a PR @XavierAGarciaR or @tdnelson2

I've added this issue to the community contributions project, and added the up-for-grabs label.

[2018-11-29 02:34] johnechiappetta commented on #9290
Sure, I'll give it a try.  Thanks!

[2018-11-29 02:34] BillWagner commented on #8846
@Thraka Your analysis is correct. Go ahead and make the fix.

[2018-11-29 02:55] BillWagner commented on #8978
@dend Can you look at this feedback for the experience for interactive tutorials?

[2018-11-29 03:30] mairaw commented on #8978
Given this is about the site experience and not the content, I've moved this to https://github.com/MicrosoftDocs/feedback/issues/905.

[2018-11-29 03:30] #8978 closed

[2018-11-29 03:53] jcouv commented on #8704
Yes, `-features` is mostly used for experimental features.
My initial inclination was that we should document the option minimally (just to acknowledge its existence). But then I noticed we don't even list it in `csc.exe -help`. That indicates it was intentionally left undocumented.
So I recognize the issue @prjm points out (potential confusion), but I think we still shouldn't document it.

Some b

[2018-11-29 03:54] LJ9999 opened #9299 "Worthless"
This example needs to be more complete. I'm still taking guesses as to how to implement it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d8018ea-b03f-3f8e-d6ea-0da5386b1338
* Version Independent ID: 82c8479e-c3a1-1340-2fa1-3cb07025a629
* Content: [How to: Change the Color of an Element Using Focus Events](https://do

[2018-11-29 09:59] martingbrown commented on #7995
https://stackoverflow.com/questions/53536061/how-do-i-start-in-c-sharp-a-function-thats-async-from-a-function-that-isnt

[2018-11-29 13:30] kjartanm opened #9302 ".NET microservices - Architecture e-book, MOBI-version"
Font color is set to dark gray (or transparency?), probably to soften the black-on-white impression. But unfortunately that means it can't be read with dark mode setting on Kindle, since the font setting is not overridden and you get dark gray on black -- which is unreadable, of course.

Best Regards
Kjartan Rekdal Müller

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-29 14:54] BillWagner commented on #8704
Thanks for the additional notes @jcouv

I'm closing this as by-design

[2018-11-29 14:54] #8704 closed

[2018-11-29 15:18] andrekoehler opened #9303 "There is no Certmgr.exe file, only Certmgr.msc"
I searched a Windows 7 SP1 and a Windows 10 1803 machine for file "Certmgr.exe". It does not exist. There is only "Certmgr.msc" which can be executed by just typing "certmgr" into the command prompt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523af9f6-2f00-c0d3-d8d8-b84407d7f00e
* Version Independent ID: 759aa8d8-1

[2018-11-29 15:23] andrekoehler commented on #9303
OK, I can run certmgr.exe from the Visual Studio 2017 Command Prompt but when I use file search in Windows Explorer then it won't find anything even though it's part of the Windows SDK: C:\Program Files (x86)\Windows Kits\10\bin\10.0.16299.0\x86

[2018-11-29 15:23] #9303 closed

[2018-11-29 15:25] samdevx1029 opened #9304 "add "dotnet project" command"
Similar to "dotnet sln" where projects can be added or removed, how about being able to add/remove files (especially the class files) to a specific project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910cd365-d63a-00dc-417c-db017f83bf6f
* Version Independent ID: 5e495ddd-140e-de5c-a793-d4a9f88be51e
* Content: [dotn

[2018-11-29 17:18] TheHans255 opened #9307 "16 byte limitation still up to date?"
Since several improvements to the .NET runtime have been made since this document was written, including readonly structs and ref structs, is the guidance that any datatype greater than 16 bytes should be a class still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e73f528-b4e2-cc81-3f49-faa9fbd9b153
* Version

[2018-11-29 17:23] wschin opened #9308 "Examples per task"
After reading this page, a user probably feels very exciting about what ML.NET can do. Can we have some links to some examples to help the user starting immediately? The current organization is good as a top-down doc but I'd like to have more connections between "down" sides to reduce to gap of using ML.NET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-11-29 17:39] JRAlexander commented on #9308
Great idea! I've added it to the backlog and the  [tracking project](https://github.com/dotnet/docs/projects/64). Thanks!

[2018-11-29 17:42] JRAlexander opened #9309 "Update How-to topics for ML.NET .9"
Update How-to topics for ML.NET .9

[2018-11-29 17:44] JRAlexander opened #9310 "Update Transforms topic for ML.NET .8"
Update Transforms topic for ML.NET .8

[2018-11-29 18:12] mairaw commented on #9302
Thanks for your feedback @kjartanm. Since this comment is regarding the site experience and not the content itself, I've moved it to https://github.com/MicrosoftDocs/feedback/issues/911.

[2018-11-29 18:15] mairaw commented on #9304
Thanks for your feedback @samdevx1029. @KathleenDollard @livarcocc can you comment on this product request? Should this be moved to dotnet/cli repo?

[2018-11-29 18:16] livarcocc commented on #9304
With SDK style projects, you don't need to specify the files explicitly on your project. We have globing enabled for that. So, I don't see this being something we will focus on.

[2018-11-29 18:16] mairaw commented on #9294
@JRAlexander @sfilipi should we move this feedback for the ML.NET API docs to go directly to the https://github.com/dotnet/machinelearning/ repo?

[2018-11-29 18:18] CESARDELATORRE commented on #9302
Since it is related to the .MOBI version of the ebook for Kindle, I'm tracking that down. We'll review the images with a dark theme and fix that for the next release of the .MOBI file.
Thanks! 👍

[2018-11-29 18:45] mairaw commented on #9302
Gotcha @CESARDELATORRE!

[2018-11-29 20:10] mairaw commented on #9210
Are you using SDK-style projects @danielwertheim or traditional .NET Framework projects?

[2018-11-29 20:30] mairaw commented on #9304
That's what I thought. So I'll close this. Thanks @livarcocc for your input.

[2018-11-29 20:30] #9304 closed

[2018-11-29 20:55] #9290 closed

[2018-11-29 22:03] PingPongSet opened #9312 "Can win-x64 be used for 64 bit Windows?"
Why is win-x64 introduced? Can win-x64 be used for 64 bit Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://docs.microsoft.com/en-us/dotnet/core/rid-c

[2018-11-29 23:48] ericjlynch opened #9314 "Folder creation: not clear"
"In the terminal, create a golden folder and open the folder." Not helpful. Remember who your audience is: developers who are familiar with .Net on Windows but just getting started on Mac. How do you create a folder from terminal on a Mac? Is it the same as on a Windows box? Mac terminal certainly doesn't look like a Windows command prompt. Please be more detailed than this for those of us who are

[2018-11-30 00:42] karenpayneoregon opened #9316 "Suggestion on live code examples"
This is a suggestion, not an issue.

I frequent the MSDN forums everyday assisting those looking for assistance and noticed that all code examples which permit someone to execute the code from the page are only in C#, none that I saw (and I only hit a handful of pages) for VB.NET. Now a smart VB.NET developer would try an example, figure out if that is what they need and then either convert by sig

[2018-11-30 00:44] mairaw commented on #9316
Thank you @karenpayneoregon for your feedback. Adding @LadyNaggaga to comment on this request for try.net for VB developers.

[2018-11-30 01:30] richlander opened #9317 "Document how to install and use private .NET Core installs"
This is the idea you install the product as a zip and then use it. It's "private" in the sense that it is not globally installed.

[2018-11-30 02:10] BillWagner commented on #9095
Thanks for the compliments.  Closing as kudos.

[2018-11-30 02:10] #9095 closed

[2018-11-30 02:12] BillWagner commented on #9111
Your understanding is correct @CwjXFH

Closing as the doc is correct.

[2018-11-30 02:12] #9111 closed

[2018-11-30 06:46] Kryptos-FR commented on #7305
Any update? It's been 3 months.

[2018-11-30 07:04] volkan-yazilim commented on #8330
https://github.com/dotnet/docs/pull/9319

[2018-11-30 08:13] ericmutta commented on #9208
Hi @KathleenDollard  thanks for following up!

I believe this is what I was getting at...because most people are highly unlikely to look up the documentation of the `if` statement (being such a basic construct) it is very easy to miss that "nullable boolean = false when Nothing" behaviour. For example I only discovered this behaviour when you mentioned it here!

Since the second paragraph in those

[2018-11-30 08:18] quocdai92 opened #9320 "Example Creating a Custom dynamic Object Can't Working correctly"
If we override TryInvokeMember(InvokeMemberBinder binder, object[] args, out object result); we should call rFile.Customer likes a method, not a Property.
otherwise if we want to call rFile.Customer, we should override method TryGetMember(GetMemberBinder binder, out object result)
Hope this helpful. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-11-30 08:31] eluchsinger opened #9321 "Add general binding information"
Could you please add general binding informations? What binding is and maybe a small summary to Basic-, Custom-, Net- and WS-Binding so that users can find out, in what direction they have to read on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b49547-0f79-8899-087f-e8a1d39a6ced
* Version Independent ID: 7df0357a-

[2018-11-30 08:38] MathiasRonnblom opened #9322 "One more advantage of FDD"
I would think that it would be a major advantage of FDD to be able to use "in-place upgrades" on the machine. For example if I target netcoreapp2.1 with FDD, I would get the benefit of bug fixes when future .Net Core Runtimes 2.1.x are installed on the machine.
https://docs.microsoft.com/en-us/dotnet/core/versions/selection#framework-dependent-apps-roll-forward

---
#### Document Details

⚠ *Do no

[2018-11-30 08:45] elgonzo commented on #9115
Just an FYI: The documentation page in question here not only contains an example using inline strings, it also contains an example that loads XML schema and document files.

[2018-11-30 09:33] Cobi911 opened #9323 "Format Errors in Documentation"
Somethings wrong in the "Specifying Parameter Data Types" section. Please review and update documentation. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aa86042-a6a5-cf97-5abf-5f4e9375a240
* Version Independent ID: e7ca3196-3c42-7d72-bc37-9c05e97c9bfa
* Content: [Configuring Parameters and Parameter Data T

[2018-11-30 11:10] Ponant opened #9324 "Misleading intro"
The sentence "Microservices architecture often starts with the server-side handling data and logic. " is misleading and not necessarily true. A microservice architecture often has a a front end ui served by a server, e.g. .ASP.NET and sent to the client. I think the  first paragraph in this page implicitly hints that you are using a client-side framework such as Angular. This is why this paragraph

[2018-11-30 11:31] berkarslan-cs opened #9325 "Mutable readonly fields"
I see very useful cases of using mutable readonly types and I don't see why I shouldn't use it. For example, I wouldn't want my "private readonly List&lt;string&gt;" field to be assigned a new value by mistake. What's wrong with that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34bf1136-6fbf-dd12-71ec-bd4e7a75013a
*

[2018-11-30 13:13] volkan-yazilim opened #9326 "Typo"
"// Outputs: "I can use an underscore as a digit separator: "  needs to be
"// Outputs: "I can use an underscore as a digit separator: 123456 "
thanks for all well docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c8f6e59-8e0b-1c35-36d1-8e40e531899b
* Version Independent ID: 1c299112-87a1-c82f-a10d-f586e6d3f512
* C

[2018-11-30 17:42] AaronRobinsonMSFT commented on #5895
@ztl8702 This is something we are currently working on - however support will be limited to .NET Core 3.0 on Windows only. Feel free to follow dotnet/coreclr#18640.

[2018-11-30 17:42] AaronRobinsonMSFT commented on #5895
cc @jkoritzinsky @jeffschwMSFT - looks like some documentation is needed 😄

[2018-11-30 18:46] akeeton opened #9327 "The "Try pattern" link is broken"
The "Try pattern" link is https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1021-avoid-out-parameters?view=vs-2017#try-pattern-methods.md when it should be https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1021-avoid-out-parameters?view=vs-2017#try-pattern-methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-11-30 18:51] mairaw commented on #9327
Thanks @akeeton. Would you like to submit a pull request to fix this?

We explain the process here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2018-11-30 19:14] Thraka commented on #9257
Following up with author of https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md to confirm there are no changes to prereqs for 2.2

[2018-11-30 19:37] #9327 closed

[2018-11-30 19:51] CalvinAllen commented on #9291
@BillWagner I would like to resolve this issue, but what should these examples look like?

I.e., should the very first code example be a complete class file with all properties defined and set via constructor parameters?  The other two examples, Grades and YearInSchool, making modifications to the original class, and then having the fully modified class available at the end as the "new way"?

[2018-11-30 22:18] Thraka commented on #6510
I wanted to follow up on this since I'm here editing this article for the 2.2 release.

I can't seem to replicate this behavior. For 2.1 (2.0 also I believe)

When you specify the runtime, you're actually creating the SCD.

[2018-12-01 00:40] #9326 closed

[2018-12-01 10:57] ptoye opened #9335 "Difference between SortList and SortedDictionary is not explained"
In this document, there is no difference between SortedList and SortedDictionary. I can only assume that there is some sort of a difference, and would love to know what it is (as question for StackOverflow). As this document is meant to help the user decide what form of list is needed, some guidance would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-12-01 16:04] mikewiegand opened #9336 "SqlData"
I get System.PlatformNotSupportedException: System.Data.SqlClient is not supported on this platform.\r\n   at System.Data.SqlClient.SqlConnection..ctor(String connectionString)

C# .Net Core Library called by a C# Function. How does one get data out of SQL without EF? What version of SqlClient do I need?????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-12-01 18:57] prjm commented on #8704
Thank you for the information - while I understand the reasoning not to document experimental flags, I think the switch name `feature` is misleading in this case - it suggests that there are optional (and stable) features which can be enabled.

[2018-12-01 19:31] corytrese opened #9337 "Great Code Sample!"
Thank you for posting this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b12f70-b947-271e-8c48-75477eef1fe2
* Version Independent ID: 363346f8-e203-1f21-a5fd-f4c40b818561
* Content: [How to: Compare the Contents of Two Folders (LINQ) (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/li

[2018-12-01 19:31] #9337 closed

[2018-12-01 23:30] svick commented on #9254
What exactly is not working?

[2018-12-02 07:58] mairaw commented on #9336
Hi @mikewiegand! Can you give us more information about the project? Which version of .NET Core are you targeting? Are you referencing the System.Data.SqlClient package in your project? Which OS are you targeting?

[2018-12-02 08:00] mairaw commented on #9317
Who has that information @richlander? For which versions would this apply?

[2018-12-02 10:08] berkarslan-cs opened #9339 "System.Environment.FailFast should be the last resort"
"CONSIDER terminating the process by calling System.Environment.FailFast (.NET Framework 2.0 feature) instead of throwing an exception if your code encounters a situation where it is unsafe for further execution.". This is too risky because other threads might be in a point that they might not execute their "finally" clauses in try..catch blocks which might cause some inconsistencies when the appl

[2018-12-02 15:15] mikewiegand commented on #9336
Hi
Pls close I was using the wrong version. A preview version. I reverted to a stable version and all is well. Thank u

Sent from my iPad

[2018-12-02 19:56] mairaw commented on #9336
Great to hear!

[2018-12-02 19:56] #9336 closed

[2018-12-02 20:36] victor-david opened #9343 "Build system not aware of preprocessor symbols representing the target frameworks"
"The build system is aware of preprocessor symbols representing the target frameworks..."

This doesn't seem to be the case. I created the following  sample console app in Visual Studio 2017 15.9.2 and switched the framework version to everything from 3.5 to 4.61. None of them activated their corresponding conditional block.

    class Program
    {
        static void Main(string[] args)

[2018-12-03 05:11] mairaw commented on #9343
Thanks @victor-david for your feedback. I need to add some information to that topic and #if preprocessor directive topics that this behavior only applies to SDK-style projects (.NET Core projects).

[2018-12-03 05:18] mairaw commented on #7096
That is only true for SDK-style projects @johnnyagerard. I need to fix that. Thanks for the feedback!

[2018-12-03 06:47] #9320 closed

[2018-12-03 06:54] umitunal1 opened #9346 "-"
awesome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4998424a-4a94-d5bf-8653-b06cb396ce43
* Version Independent ID: 8625a728-a3f3-4742-01c6-f75ea73ad454
* Content: [Getting started with ASP.NET Core](https://docs.microsoft.com/en-us/dotnet/core/tutorials/aspnet-core)
* Content Source: [docs/core/tutorials/aspnet-core

[2018-12-03 06:56] #9346 closed

[2018-12-03 06:57] #9237 closed

[2018-12-03 10:44] lojk200775 opened #9349 ""updated example but incorrect description""
it is stated in the example section "Because the use of async and await in an application entry point is not supported, we cannot apply the async attribute to the Main method" but the example clearly shows an async task main.

The use of async/await is now supported (in DotNetCore at least) and the example shows a correct usage so this statement should be revised.

---
#### Document Details

⚠ *Do

[2018-12-03 13:32] 5U8cVs opened #9350 "Operating Instructions Incorrect"
I have Visual Studio installed from MSDN (formerly My Visual Studio).  Instructions on the various (10000s) web pages tell me to type developer command line or dev to find my way to the latest InstallUtil for the utility that installs daemons (formerly Windows NT Services).  I am supposed to type dev in the text box on the Start menu.  But that does not work.  And I still did not find my way to In

[2018-12-03 13:43] DAud-IcI opened #9351 "Clarification"
The note says "readonly field can be initialized EITHER at the declaration OR in a constructor" (my emphasis). Until now I thought this means you can't do both, but Roslyn keeps insisting that I should make my variables readonly which are only set in the constructor even if they are already initialized in the declaration. The code compiles and I see no issues so technically this is ok, but I wonde

[2018-12-03 15:05] victor-david commented on #9343
I thought that might be the case, but wasn't sure. Thanks for the clarification. @mairaw

[2018-12-03 15:05] #9343 closed

[2018-12-03 16:05] zyx-zyx-zyx commented on #6707
1. It saves time.
2. It is less error-prone.

They are functionally equivalent, except the compiler will create and manage the backing field for you, saving the developer from having to declare a private backing field.

If you are going to have any functionality to your getter/setter, you must implement this yourself.

For quick properties with no special functionality, this is the way to go.

[2018-12-03 16:33] JacobHelton57 opened #9352 "Downloads blocked within installer"
When I attempt to install this framework, I am receiving an error message that files can't be found. I believe this is due to our web filter blocking the installer's attempts to grab files from the web. Is there anything in specific we should be whitelisting to allow these installations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-12-03 18:02] BillWagner commented on #9291
Thanks for asking @CalvinAllen

Fixing this will take 2 PRs: Our samples are in the [dotnet/samples](https://github.com/dotnet/samples) repository.

There is working sample code for the "What's new in C# 6" article in this folder: https://github.com/dotnet/samples/tree/master/snippets/csharp/new-in-6  The new or updated samples should be part of that project.

Instructions on including samples are

[2018-12-03 18:13] pkulikov commented on #9349
@lojk200775 it's a good catch! Thanks for reporting it.

[2018-12-03 18:41] CalvinAllen commented on #9291
Thanks, Bill, Ill take a look and get started on shortly.

[2018-12-03 18:55] MarcelMichau opened #9354 "Add Note for when GeneratePackageOnBuild Is True"
Hello!

I ran into the issue where dotnet pack does not build the project when GeneratePackageOnBuild is set to true as per this issue: https://github.com/NuGet/Home/issues/5045#issuecomment-299967452.

Might be a worthwhile note to include in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e805a3-f2ec-b05a-

[2018-12-03 19:09] #9260 closed

[2018-12-03 19:18] CeciAc opened #9355 "Table examples"
@LMFSoft commented on [Sat Dec 01 2018](https://github.com/dotnet/docs.it-it/issues/55)

Please add more examples for &lt;list type="table"&gt;.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 40ad53e4-4786-d1a1-5f8a-2a8b914ebb37
* Version Independent ID: df94f227-fd86-0fad-e5fe-d0053d

[2018-12-03 19:57] #9349 closed

[2018-12-03 21:03] mairaw opened #9357 "Revisit version numbers and code snippets showing TFMs for 2.2"
Many of our samples and code snippets show Target Framework Monikers (TFMs). These need to be updated to netcoreapp2.2 templates.

[2018-12-03 21:52] wildj79 commented on #8756
@mlacouture #654 doesn't seem to have anything to do with the posted question. Did you link to the wrong issue?

[2018-12-03 21:52] BillWagner opened #9358 "The .NET Compiler SDK analyzer and code fix projects should target newer versions"
See dotnet/roslyn#29601 for context.

The .NET Compiler SDK now supports targeting .NET Standard 2.0 and .NET Framework 4.7.2.

The samples for the tutorials and quickstarts should be updated to reflect that. The articles for those tutorials should be update to reflect the updated teamplate generated code.

[2018-12-03 23:00] luo4neck opened #9361 ":? not working as explained"
Returns true if the value matches the specified type; otherwise, returns false (type test operator).

This is not true, because
[code]

[2018-12-03 23:50] cartermp commented on #9361
@luo4neck What is `matchT`?

[2018-12-04 01:15] mairaw commented on #5968
@KathleenDollard @livarcocc can you take a look at this feedback for the .NET Core CLI? Should it be filed under dotnet/cli or has anything changed to this command since then?

[2018-12-04 01:31] mairaw commented on #6393
@KathleenDollard @livarcocc can you please comment on this product request? If there are no plans to support this, I'd just close this doc feedback.

[2018-12-04 01:31] livarcocc commented on #5968
I don't think we have a way to do that really. But maybe move the issue to NuGet. Since this would apply during restore, I guess.

[2018-12-04 01:38] #7569 closed

[2018-12-04 02:00] mairaw commented on #6583
Given we haven't heard back from you @newton3 and we can't repro this, I'm closing this issue.

[2018-12-04 02:00] #6583 closed

[2018-12-04 02:10] BillWagner commented on #9119
@jcouv are you familiar with the "shared" option?

[2018-12-04 02:13] BillWagner commented on #9167
ping @mairaw

The KB link in the first paragraph of this article goes to an unrelated article. Any idea where to look for the correct article?

[2018-12-04 02:18] BillWagner commented on #9181
Thanks for pointing this out @HenrikRClausen

I've added this to our backlog, and added the up-for-grabs label for community contribution.

[2018-12-04 02:20] BillWagner commented on #9183
That's a good point @HenrikRClausen It should be added.

Do you want to submit a PR with a suggested fix. Otherwise, we'll address this when we next update this article.

[2018-12-04 02:20] mairaw commented on #9167
Nope @BillWagner. Might be better to just remove that sentence? And perhaps add later on the topic about running it with -help to see the options?

[2018-12-04 02:20] jcouv commented on #9119
Not really, but we do have some compiler doc on the topic:
https://github.com/dotnet/roslyn/blob/master/docs/compilers/Compiler%20Server.md

[2018-12-04 02:30] BillWagner commented on #9204
Thanks for pointing this out @potatoqualitee

This is not written as well as it should be. The fix is that any methods must be contained in a struct or class. Those types can be contained in a namespace.

I've added this to our backlog, and added the up-for-grabs label to encourage community contributions.

[2018-12-04 02:46] BillWagner commented on #9218
I think the best answer for now is to use the `sudo rm -rf` command listed in the next table.

@leecow would have more details on this.

[2018-12-04 02:47] kendrahavens commented on #9155
We should definitely add a section on how to add a .cs file to a dotnet project. Thank you for providing feedback! @KathleenDollard @livarcocc

In case others are running into this same issue:

To add a .cs file right click in the File Explorer in VSCode and select "New File." Name the new file and add the .cs extension at the end. .NET Core projects are folder based so any .cs file in the same fo

[2018-12-04 02:49] BillWagner commented on #9274
Thanks for bringing this to our attention @LJ9999. I see that @mikkelbu has provided some good information about this topic. Does that help with your question? What else are you looking for?

[2018-12-04 02:50] linklight2 opened #9366 "= operators in c++ can be overloaded"
In order to assign an object of a user-defined class type something other than its implicit type (which is automatically overloaded), c++ supports assignment operator overloading. For instance, I could create a class to store big numbers and have it accept a string as the right-hand argument. Ex:

class bigNum
{
    public:

        bigNum();
        bigNum(string const& str);

        void operat

[2018-12-04 02:55] BillWagner commented on #9286
Thanks for bringing this to our attention @Sim0o0na

Did the information added by @jmarkman answer your question? If not, can you give us more detail on what you need?

[2018-12-04 02:56] BillWagner commented on #9288
I'd like @rpetrusha 's opinion on this one.

[2018-12-04 02:58] gopipofficial opened #9367 "neat explanation"
thanks, the team for the neat explanation. It's more useful, if you can add an example source code for demonstrating extern alias

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42871bc9-b130-8acf-11e1-bca2ac6c33f8
* Version Independent ID: fc5187e6-8cad-b6b9-d5b4-fa5d847bcda9
* Content: [extern alias (C# Reference)](ht

[2018-12-04 02:59] BillWagner commented on #9351
Thanks for writing this up @DAud-IcI

Can you provide a code sample of for this? I'd like to make sure I fully understand your question.

[2018-12-04 03:06] BillWagner commented on #9366
Thanks for writing the question @linklight2

In C#, you achieve that result by creating implicit conversion operators.  For your example above, you'd create an `implicit operator bigNum (string s)`.  That provides the conversion from `string` to `bigNum`. Once converted, the resultant `bigNum` can be assigned to another `bigNum`.

This is covered in the page on [implicit conversion operators](http

[2018-12-04 03:06] #9366 closed

[2018-12-04 03:21] jimcullenaus opened #9369 "Await keyword C# reference confusingly states that use in Main is disallowed immediately after an example of async Main"
**Issue description**

[The "await" keyword C# reference page](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/await) states:

This paragraph is placed immediately after an example in which the `Main` method has the `async` attribute, and inside that method there is an `await GetPageLengthsAsync()` call.

One of these, either the example or the paragraph, are necessarily

[2018-12-04 03:58] cartermp commented on #9361
Hmmm. I'm not sure why this is expected to be `false`. The code is effectively testing if an `exn` is an `exn`. The `'T` is "viewed" as an `exn` as per the type constraint, and `ex` is an `exn`, hence the type test gives `true`. Since `ArgumentNullException` derives from `Exception`, it can parameterize `matchT` and an instance of an `ArgumentNullException` can be passed as input.

[2018-12-04 04:38] tanveerbadar commented on #7450
That can easily be tested by setting different values on client and server side. All it comes down to is whether a wording change is needed or not.

[2018-12-04 05:32] alexv-r2r opened #9372 "Name simplification"
In VisualStudio, typing the line from the second code snippet:
Console.WriteLine(header.Trim( new Char[] { ' ', '*', '.' } ));
will lead to a lightbulb warning "Name can be simplified" to "new char[]" instead, without capitalization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd91d4c1-d713-b8f1-958f-3547a5150428
*

[2018-12-04 05:41] michael-freidgeim-webjet opened #9373 "what is default --verbosity <LEVEL>?"
It is not clear, what is default --verbosity &lt;LEVEL&gt;. Please specify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/

[2018-12-04 06:14] mairaw commented on #9373
Thanks for your feedback @michael-freidgeim-webjet. @KathleenDollard @livarcocc @dsplaisted can you confirm the default verbosity level for dotnet publish and the other commands?

[2018-12-04 07:07] pkulikov commented on #9369
@jimcullenaus thanks of reporting it. This was fixed yesterday by #9353 and expected to be live in next day or two.

[2018-12-04 08:10] dsplaisted commented on #6295
`dotnet build` will always run the `Build` target.

So if you want to only run the `MyTarget` target, you should do `dotnet msbuild -target:MyTarget`.  You could also do `dotnet build -target:MyTarget`, but that would then run both `MyTarget` and the `Build` target.

[2018-12-04 08:42] Mizux commented on #6393
Same issue as in https://github.com/dotnet/cli/issues/9859 which has been moved to https://github.com/NuGet/Home/issues/7217

[2018-12-04 10:03] DAud-IcI commented on #9351
Hi Bill,

In the below example we have the `_fileName` field which I made readonly because I got "IDE0044 Make field readonly" message from Visual Studio. Both my default assumptions and the note I've mentioned from the Docs page suggests that this should not be valid. (the either-or wording I've quoted above) `_fileName` has already been assigned to during declaration, but I can overwrite it in t

[2018-12-04 10:17] KutanaDev commented on #7555
I should qualify this by saying that PrintTickets will be obeyed on Windows 8 and later but _not Windows 7_

[2018-12-04 11:11] imba-tjd opened #9376 "the button style is broken"
I noticed all of the `> [!div class="button"]` is broken.
For example: https://docs.microsoft.com/en-us/contribute/dotnet-style-guide#buttons

[2018-12-04 13:12] AlexKeySmith opened #9377 "InstallDir incorrect default"
The default is documented as %LocalAppData%.dotnet. but it instead appears to be %LocalAppData%/Microsoft/dotnet/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts](https://docs.microsoft.

[2018-12-04 15:10] BillWagner commented on #9369
As noted by @pkulikov this is fixed and will go live soon.

Closing as fixed.

[2018-12-04 15:10] #9369 closed

[2018-12-04 15:16] BillWagner commented on #9167
I like your idea @mairaw

Adding this to the backlog, and adding the up-for-grabs label

[2018-12-04 17:04] leecow commented on #9218
Bill's suggestion is correct, the unwanted SDK directories need to be manually removed.

[2018-12-04 17:32] eliasx opened #9383 "Expression-bodied method sometimes evaluates "the last expression" which is only part of a full expression"
It looks like the expression-bodied methods sometimes evaluates part of a full expression

The question is how is "the last expression" determined by the compiler, if "the last expression" is part of "unfinished expression"?

Here is an example to demonstrate different behavior for a similar expression which is a string concatenation expression that has two operands

[code]

The above code prints

[2018-12-04 17:38] mairaw commented on #6295
Gotcha! Thanks @dsplaisted.

[2018-12-04 17:38] #6666 closed

[2018-12-04 17:38] #8902 closed

[2018-12-04 17:57] pkulikov commented on #9383
@eliasx it looks you're puzzled by this method:
[code]

It works as expected. Let's check. The method expression uses three operators:
- addition `+`
- equality comparison `==`
- conditional operator `?:`

According to the [operator overview](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/), out of those three, the addition operator has the highest precedence, followed

[2018-12-04 18:17] eliasx commented on #9383
Thank you Petr, I was puzzled for sure :)  my expectation was the conditional operation will get evaluated before the addition, at least in my actual code as below

This was the actual code that I was working, and I tried to avoid my context but this looks a good puzzle
though

[code]
Thank you again

[2018-12-04 19:40] glippert opened #9385 ""Unit testing F# libraries in .NET Core using dotnet test and xUnit" doesn't work"
I can't get these step-by-step instructions to work. (error FS0039: The value, namespace, type or module 'MyMath' is not defined.) It would be *really* helpful for the code example blocks to show the *name of the file*, not just the language (e.g. "F#"). So this is an F# guide but it instructs one to edit "in the MathService class"? Um, "class"? And what file would that be?

---
#### Document Deta

[2018-12-04 19:43] CarlBrindle87 opened #9386 "Asp.Net Core tutorials link not working"
The link gives a 404

https://docs.microsoft.com/en-us/aspnet/core/tutorials/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3caf351-18c6-5211-f2a2-bbdef5918629
* Version Independent ID: f13ef5fe-c17a-ecd1-2a2b-55b3b101da07
* Content: [Samples and tutorials](https://docs.microsoft.com/en-us/dotnet/samples-and-tutorial

[2018-12-04 19:49] mairaw commented on #9386
@scottaddie @Rick-Anderson can you look at this? It seems this path should work given you also have links such as https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api.

If you used to have an index.md file and you removed, you should have added a redirection file.
You can take a look at PR #9360 for an example of how we're thinking of handling such cases.

[2018-12-04 20:10] scottaddie commented on #9386
The index file was indeed removed, but a redirect wasn't added. I'll fix it.

[2018-12-04 20:20] #9386 closed

[2018-12-04 20:24] mairaw commented on #9386
Thank you @scottaddie!

[2018-12-04 20:36] Kberg81 opened #9387 "Not much help for complex objects"
If you are working lists composed of custom classes, this code doesn't help much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7550db03-fb38-f27b-59a3-ef202349e2f1
* Version Independent ID: 088ccbb9-47bf-da50-c637-07d142e9834f
* Content: [How to: Find the Set Difference Between Two Lists (LINQ) (C#)](https://docs.mic

[2018-12-04 21:53] jmarkman commented on #9204
I think I'll take a stab at this.

[2018-12-04 21:59] BillWagner commented on #9204
Thanks @jmarkman

Tag me if you have any questions.

[2018-12-04 22:00] #8208 closed

[2018-12-04 22:00] #8204 closed

[2018-12-04 22:05] rpetrusha commented on #9201
Sorry, Bill. I just got to this after being out yesterday.

I think that what the article is trying to say is that there’s inconsistency between the methods; CompareTo performs a culture-sensitive, case-sensitive comparison, while the equality methods are ordinal.

I’ll assign the issue to myself and address it this sprint (hopefully), since this is confusing and seems like an important issue to a

[2018-12-04 22:08] rpetrusha commented on #9201
Thanks for noticing this inconsistency, @mikernet. I think that what the text intended to say was that the default behaviors are inconsistent: CompareTo is case- and culture-sensitive; Equals and the Equality operator are ordinal. We'll modify the topic during this sprint to address this confusion.

[2018-12-04 22:22] #8854 closed

[2018-12-04 23:04] rpetrusha commented on #9288
Thanks for your feedback, @johnechiappetta. Since this is just a signature with no implementation, it's difficult to determine the intent of the event. But progress events are typically status events and therefore present tense events -- that is, they're intended to indicate what proportion of an operation has currently been completed. Given that, the use of Progress seems correct (though I have t

[2018-12-04 23:18] Thraka opened #9391 "Update prereqs for Core 3.0 Preview 1"
MacOS, Linux, and Windows prereqs topics need to be updated for 3.0

- [x] Windows: https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites
- [x] macOS: https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites
- [x] Linux: https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites

[2018-12-04 23:19] Thraka opened #9392 "Whats new article for Core 3.0 Preview 1"
Write the What's New Core 3.0 Preview 1 article

[2018-12-04 23:38] mairaw commented on #9257
I just checked the Windows version and is not fully up-to-date. I'll create a PR shortly with some more changes to address this. I'll check the others later.

[2018-12-04 23:49] LJ9999 opened #9396 "AsyncDelegate is not a member of AsyncResult"
You need to indicate the versions of .NET this rocket science works in. I'm using 4.7.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17acbfb3-4b90-a358-0417-2975f2475db4
* Version Independent ID: a6a6845f-e7cf-8c6f-65a8-04ed09f64a1e
* Content: [Calling Synchronous Methods Asynchronously](https://docs.microsoft.com/e

[2018-12-04 23:56] #9396 closed

[2018-12-04 23:58] LJ9999 commented on #9396
I was using System.IdentityModel instead of System.Runtime.Remoting.Messaging.

[2018-12-05 00:52] mairaw commented on #9257
@Andrew-MSFT @KathleenDollard @richlander I don't seem to be able to select the Target Framework version from the Build menu on VS 15.9.3 anymore. By design?

![image](https://user-images.githubusercontent.com/12971179/49482645-db616f00-f7e4-11e8-80c1-ddfadc749858.png)

I'm updating the screenshots we have at https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites#prerequisites-with-vis

[2018-12-05 00:59] mairaw commented on #9376
Thanks @imba-tjd. I've fixed that in our repo the other day: https://github.com/dotnet/docs/pull/9365

I'll open a PR to fix that for the contributor guide as well.

[2018-12-05 01:29] mairaw commented on #1174
@svick can this be closed? The behavior seems better now.

[2018-12-05 01:43] mairaw commented on #3620
@doctordns I've moved this issue to the engineering team repo:
https://github.com/MicrosoftDocs/feedback/issues/927

So closing this one.

[2018-12-05 01:43] #3620 closed

[2018-12-05 02:02] mairaw commented on #8726
@JamesNK can you comment on this feedback from @danmosemsft?

[2018-12-05 02:04] mairaw commented on #1906
I'll close this since we've added the syntax for the other languages since then. I also just opened a related feedback re. the version selector on microsoftdocs/feedback:
https://github.com/MicrosoftDocs/feedback/issues/927

[2018-12-05 02:04] #1906 closed

[2018-12-05 02:06] Andrew-MSFT commented on #9257
@davkean and @cartermp.  Not by design, mine looks like that but if I click the dropdown I can see the frameworks.  Is yours clickable?

[2018-12-05 02:09] JamesNK commented on #8726
Looks good to me :shipit:

[2018-12-05 02:09] cartermp commented on #9257
Mine doesn't look like that with File | New Project. Is this for an existing project?

[2018-12-05 02:10] Andrew-MSFT commented on #9257
In my case, yes it was an existing project

[2018-12-05 02:20] mairaw commented on #5893
I found a similar page to that one above and I think this doesn't repro anymore? Although that class is no longer nested so not sure if this is the best repro.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.legacy.transforms.nooperation?view=ml-dotnet

![image](https://user-images.githubusercontent.com/12971179/49485789-02be3900-f7f1-11e8-84bd-9e52a6c4e382.png)

[2018-12-05 02:41] mairaw commented on #9257
Yes, existing project for me as well, but not clickable in my case.

[2018-12-05 02:46] mairaw commented on #9257
A new project works fine 😕
![image](https://user-images.githubusercontent.com/12971179/49486826-cee51280-f7f4-11e8-865b-0f8c0887bb68.png)

And 15.9 comes with 2.1 SDK by defaut, correct?

[2018-12-05 02:47] mairaw commented on #8726
Ok, I'll create the PR then.

[2018-12-05 03:31] #8726 closed

[2018-12-05 03:35] mairaw commented on #9257
Never mind. It seems there was something funky going on with my machine and that particular project. The drop-down now shows fine for that one as well.

So if I can just get confirmation that 2.1 SDK comes with the 15.9, I'll finish the updates I'm working on.

Thanks!

[2018-12-05 03:37] cartermp commented on #9257
The 2.1 SDK does come with 15.9, yes.

[2018-12-05 03:56] jamshedd commented on #9352
Adding @rakeshsinghranchi for setup

[2018-12-05 04:00] mairaw commented on #9257
Thanks @cartermp.

[2018-12-05 04:13] olivercoad opened #9400 "Operator precedence not formatted as table"
The operator precedence table is formatted correctly as a table in GitHub but on docs.microsoft.com the markdown table is not rendered in a table, but instead like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda0064b-feb6-ccf5-b77c-92e59be17b0c
* Version Independent ID: 7f789b6e-4f55-5740-2c2f-2dec4e2129fc
*

[2018-12-05 05:52] MxMaster opened #9402 "Unclear Statement(s) in Concurrent collections"
At the beginning of this article, this statement appears: "use the concurrent collection classes whenever the collection will be writing to multiple threads concurrently". What do you exactly mean by "the collection will be writing to multiple threads"?
Multiple Threads can read and/or write from/to a Collection. The collection never does any reading or writing on its own. The correct statement co

[2018-12-05 05:53] MxMaster commented on #9402
BTW, I AM fun at parties... Don't you dare think otherwise!

[2018-12-05 08:43] volkan-yazilim opened #9405 ""Type matching" instead of "pattern matching""
IMHO, the term "type matching" is more illustrative instead of "pattern matching". Of course, after learned the subject -thanks to your docs and efforts- it suits to the content, but before it does not ring a bell.
I just wanted you to know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1766cac-6e34-c70b-0933-9d9def2

[2018-12-05 08:48] zuckerthoben commented on #9119
I advise to add a small summary to the doc mentioned in OP and to add the extended documentation as a link.

[2018-12-05 08:58] volkan-yazilim opened #9406 "typo"
TThe -> The
in the sentence
"TThe assignment occurs only when the test succeeds."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1766cac-6e34-c70b-0933-9d9def2344c4
* Version Independent ID: 38869398-bce4-0321-112d-4b44d558d7b1
* Content: [How to: safely cast by using pattern matching and the is and as operators](http

[2018-12-05 08:59] volkan-yazilim commented on #9406
TThe -> The
in the sentence
"TThe assignment occurs only when the test succeeds."

[2018-12-05 09:58] doctordns commented on #3620
Thanks for the update.
I'd sure love to see this issue become resolved...

[2018-12-05 11:14] chm-tm opened #9408 "Timer use case"
Sometimes it's not a button but a recurring timer causing reentrancy. If the operation takes longer than the timer interval, one would handle this differently compared to the button scenario.
For example, detect whether the operation is ongoing and don't start a new one in that case. Or use a one-shot timer which is reactivated after the operation completes.
Consider elaborating on this use case.

[2018-12-05 11:53] volkan-yazilim opened #9409 "This page needs to be shown previously to ease understand the concepts, IMHO"
this page has explained every question in my mind emerging while reading previous pages and trying to understand new concepts. Because I connect theoretical concepts with physical image or tools to realize in my mind.
I would like you to know that. Thanks for your effort.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-12-05 14:00] mrward commented on #9218
There is also this uninstall script which can be used to remove the .NET Core SDK on the Mac - https://github.com/dotnet/cli/blob/master/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh - which also removes the packages registered, among other things.

[2018-12-05 14:16] rolfik opened #9410 "UWP Support"
Is this valid also for Universal Windows Applications (UWP) on Windows 10?
How to call web REST services using WebBinding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073c9840-8baf-f74b-2424-7d5a31195402
* Version Independent ID: 6eacf32e-efa3-0894-916f-549898f61375
* Content: [Accessing WCF Services with a Windows

[2018-12-05 14:56] StingyJack opened #9411 "Why do these specify an empty string instead of null?"
Just curious

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6762d9-17f9-b4f2-e0ff-a919a0d861c0
* Version Independent ID: bc653d72-afa1-aa4c-e130-74bd181b53bd
* Content: [Caller Information (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information)
* Content Source: [docs/cshar

[2018-12-05 15:07] perezdev commented on #8691
@Rick-Anderson Is there a way to not specify a version when using nuget? Nuget forces a version, right? I just upgraded to 2.2 and replace `Microsoft.AspNetCore.All` with `Microsoft.AspNetCore.App` and am receiving this warning:

[2018-12-05 15:25] zawor opened #9412 "Uninstalling may be not enough"
Had a lot of runtimes and sdks accumulated over time on my dev machine. At some point i decided to do the cleanup and uninstalled quite a few from under appwiz.cpl (or add/remove programs). Unfortunately after running `dotnet --list-sdks` or `dotnet --list-runtimes` i still saw those which were uninstalled... Interestingly enough i discovered that installers have left a lot of empty dirs under `C:

[2018-12-05 15:39] CalvinAllen commented on #9291
@BillWagner Is it possible to have nested tags?  In the old code, I want to flag the entire class for inclusion, but there are already tags defined within it for the properties and constructor - or, should I create a new class (in the same file, same properties/etc) but without the extra tags?

[2018-12-05 15:40] BillWagner commented on #9291
@CalvinAllen Yes, nested tags are supported.  That is the preferred way to accomplish what you want.

[2018-12-05 15:40] CalvinAllen commented on #9291
@BillWagner Great, thanks!

[2018-12-05 15:45] JosephRufft opened #9415 ".Net Core 3.0 Needs ASP.Net Web Forms"
Windows forms have been added to .Net Core, but we require Web Forms to use it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* Content: [Choose between .NET Core and .NET Framework for server apps](https://docs.microso

[2018-12-05 15:51] #9406 closed

[2018-12-05 15:53] #9181 closed

[2018-12-05 15:54] #9291 closed

[2018-12-05 16:09] #9155 closed

[2018-12-05 17:18] #9400 closed

[2018-12-05 18:16] sadedil commented on #9218
Thanks for the comments. As my understanding i need to remove manually or with shell script (semi-manual).

What about the this part:

Isn't this statement valid for Mac? Why i still have the old sdk versions?

[2018-12-05 18:30] volkan-yazilim opened #9420 "typo"
"your can use" -> "you can use"
in sentence "By adding what is called a binding redirect your can use the new library version without having to recompile your app. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e468f2-2cc4-a461-4e67-47e7aeff555d
* Version Independent ID: 5e2ade07-13fa-ddfc-377a-f6aa52738b4e
* Conte

[2018-12-05 18:31] sadedil commented on #9218
@BillWagner, thanks for the explanation.

[2018-12-05 18:34] mairaw commented on #9420
Thank you @volkan-yazilim. Would you like to submit a PR to fix this?
You can find instructions here at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2018-12-05 18:36] BillWagner commented on #9218
re-opening so the message stays visible until PR #9418 is merged.

[2018-12-05 18:38] #8444 closed

[2018-12-05 18:39] mairaw commented on #9415
I'm not sure we understand your request. .NET Core 3 is adding WinForms and WPF support. We're not adding Web Forms to .NET Core 3.

So for that reason, I'm closing this. But if you have more details about what you're trying to do, please let us know.

[2018-12-05 18:39] #9415 closed

[2018-12-05 18:42] mairaw commented on #9412
Thanks for your feedback @zawor. @danroth @KathleenDollard can you take a look at this since it's a product behavior and not a content issue?

[2018-12-05 18:44] mairaw commented on #9411
Thanks @StingyJack. The example is just setting an initial value, that in this case is an empty string.

For that reason, I'm closing the issue.

[2018-12-05 18:44] #9411 closed

[2018-12-05 18:45] mairaw commented on #9409
Thanks for letting us know @volkan-yazilim! We appreciate the feedback.

[2018-12-05 18:45] #9409 closed

[2018-12-05 18:48] mairaw commented on #9405
Thanks for your feedback @volkan-yazilim. Since this is also part of the spec and the spec won't be changed, I'm closing this issue.

[2018-12-05 18:48] #9405 closed

[2018-12-05 18:50] BillWagner commented on #9405
To elaborate, the "type pattern" is one pattern of many that will be supported. Others are in the early proposal stages. Others are noted in the [pattern matching spec](https://github.com/dotnet/csharplang/blob/master/proposals/patterns.md) on the dotnet/csharplang repo.

[2018-12-05 18:51] mairaw commented on #9402
Thanks for your feedback @MxMaster. We don't judge here 😉

Would you like to submit a PR? Here are the instructions:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

Our only suggestion would be to say "whenever multiple threads will write to the collection concurrently".

[2018-12-05 18:53] mairaw commented on #9385
Thanks for your feedback @glippert. We'll try to improve the instructions on a future sprint.

[2018-12-05 18:56] mairaw commented on #9383
Thank you @eliasx for your comment. It seems you're less puzzled now with the help from @pkulikov. But if not, please let us know.

[2018-12-05 18:56] #9383 closed

[2018-12-05 18:57] mairaw commented on #9377
Thanks for your feedback @AlexKeySmith. @johnbeisner can you confirm?

[2018-12-05 18:57] cartermp commented on #9361
Not quite. As per your type constraint, `'T` is any type that is also `exn`. Since an instance of `exn` is of type `exn`, the cast works.

[2018-12-05 19:02] mairaw commented on #9372
Thanks for your feedback @alexv-r2r. This is more of a coding style preference than an actual issue. Given that we also have code for VB and C++ using the Framework types instead of the C# type, we feel like we can keep this example as-is. Both Char[] and char[] are correct.

[2018-12-05 19:02] #9372 closed

[2018-12-05 19:03] mairaw commented on #9354
Thanks for your feedback @MarcelMichau. @KathleenDollard @livarcocc can you comment on this request?

[2018-12-05 19:10] mairaw commented on #9350
Hi @5U8cVs! We'll need more information from you to try to help you.

That topic covers the instructions for the latest versions of Visual Studio.

Can you let us know which version of Visual Studio you have installed and which version of Windows you're running on?

[2018-12-05 19:10] BillWagner commented on #9351
Thanks for the clarification. That makes sense. I just opened PR #9422 to address this issue.

[2018-12-05 19:13] mairaw commented on #9339
We can't modify that content since it's copyrighted. But adding @KrzysztofCwalina and @terrajobst to comment on the current guidance being used for the .NET team.

[2018-12-05 19:49] #7441 closed

[2018-12-05 20:00] mairaw commented on #7941
I've created PR #9419 to try to make this page less misleading. See what you think.

We are also discussing whether it's worth to separate the VS piece from the topic, but this would be later. Feedback from customers seem to indicate they like having that info there.

[2018-12-05 20:00] #9351 closed

[2018-12-05 20:12] mlacouture commented on #8756
@wildj79, thanks for pointing out the link error, I updated the link.

[2018-12-05 20:13] KrzysztofCwalina commented on #9339
Adding @bartonjs

@berkarslan-cs, do you believe continuing when it's "unsafe" is better than not running finalizers? If yes, why? To me "unsafe" (in this context) means that if the program continues it will corrupt state (at best) or even result in a security issue.

[2018-12-05 20:14] rpetrusha commented on #8601
Thanks for your feedback, @equin0x80; we appreciate it. @brian-fors  has addressed this issue in #9417.

[2018-12-05 20:19] mlacouture commented on #5741
@dlussier, this tool is part of Visual Studio and shows up for .NET Core projects only as explained in the [docs](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide).

[2018-12-05 20:31] berkarslan-cs commented on #9339
@KrzysztofCwalina  That sentence (actually the word "unsafe") can be interpreted differently than you just stated (like I did). Maybe the documentation can be edited in a way that the reader gets the idea of your last sentence? I interpreted it like "the application should not continue to run maybe because of a missing configuration or lacking authorization and that's fine but why would I kill it?

[2018-12-05 20:44] johnbeisner commented on #9377
@mairaw
"LocalAppData\Microsoft\dotnet" is correct.

https://github.com/dotnet/cli/blob/c1b484ad4c4d245914ea16c0b7f952c405536aa3/scripts/obtain/dotnet-install.ps1#L29-L31

[2018-12-05 20:48] mairaw commented on #9377
Thank you @johnbeisner. I've opened PR #9425 to fix this.

[2018-12-05 20:53] RanchMobile opened #9426 "Template not working"
I'm getting the following error:
System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.FrameworkElement', AncestorLevel='1''. BindingExpression:Path=Parent; DataItem=null; target element is 'TextBlock' (Name=''); target property is 'Parent' (type 'DependencyObject')

---
#### Document Details

⚠ *Do not edit this sec

[2018-12-05 20:56] vancem commented on #9276
Adding some specific sub items if you do these items check the box but also put in the URL to the
Adding some specific items that we come across so we can check them off.  When they are checked off we should edit this items to put the URL of the new docs here.

 - [ ] ACTION (Steve): "How to debug async" guidance.  We need official documentation about how to go about diagnosing various issues toda

[2018-12-05 20:59] #9377 closed

[2018-12-05 21:00] KrzysztofCwalina commented on #9339
Ah, I see how it could be interpreted as such. We will try to clarify it when we update the guidelines/book.
Thanks for the feedback.

[2018-12-05 21:04] CeciAc opened #9427 "Compiler Error"
@Ediceu commented on [Wed Dec 05 2018](https://github.com/dotnet/docs.pt-br/issues/99)

Olá, teria como tropicalizar os códigos podendo ser mostrados em idiomas especificos ex:
retorno em Português(PT-BR),

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 8b2cb61f-1605-70ba-c5fb-cc4a9d9f2c8d
* Version Indepe

[2018-12-05 21:06] CeciAc commented on #9427
Hi team,
the user is requesting to have the comments inside the codes translated to the specific locale but is outside of our scope.
best

[2018-12-05 21:18] #8601 closed

[2018-12-05 21:32] mairaw commented on #9427
That is not a source issue but a localization issue. I'll answer in the original issue.

[2018-12-05 21:32] #9427 closed

[2018-12-05 22:15] AlexKeySmith commented on #9377
Thanks for the speedy resolution guys. 👍

[2018-12-05 23:04] #7327 closed

[2018-12-05 23:30] #9392 closed

[2018-12-06 01:48] sam-wheat opened #9432 "Still lacks the fundamental and essential building blocks of using exceptions correctly"
I am sorry to be critical but I don't think this document offers the kind of specific advice a new developer might be looking for when embarking on a new project or trying to diagnose issues in an existing one.

I will start with line one and say that an objective of exception handling is not to prevent app crashes (although it is a welcome side effect).  To the contrary, a much more worthy object

[2018-12-06 02:12] #7941 closed

[2018-12-06 02:12] #9257 closed

[2018-12-06 04:08] Arithmomaniac opened #9434 "Remove duplication of f/F format specifiers"
The examples for each "f" and "F" format specifier are duplicates. They should each be trimmed, or the example should appear just once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59db63c5-ec55-ad7d-9a4c-b08a1e2510eb
* Version Independent ID: 1f663894-736b-ae1c-92c8-3eff42e68150
* Content: [Custom TimeSpan Format St

[2018-12-06 09:48] volkan-yazilim opened #9435 "What is about 42 and "The meaning of life"?"
Captain was here.
?v=aboZctrHfK8

Thank you for comprehensive document about tuples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf15268-9d34-cf10-97b9-0b94022c3305
* Version Independent ID: 17728168-48fa-0f5f-0c19-31ae4ce6fdb9
* Content: [Tuple types - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/tuple

[2018-12-06 15:01] #9218 closed

[2018-12-06 15:05] BillWagner commented on #9432
@sam-wheat Thanks for expressing your concerns. You've put a lot of thought into this issue, and many of the ideas have merit.

#9430 was merged last night, which made some improvements but did not address many of these concerns.

Do you want to submit a PR based on your analysis above?

[2018-12-06 15:59] #9204 closed

[2018-12-06 16:12] jessebarocio opened #9437 "Graphics with transparent backgrounds are difficult to read when viewing in Dark theme"
Many of the diagrams on this page (and others in the microservices-architecture guide) have transparent backgrounds which makes them difficult to read when the Dark theme is enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5a3c5f2-59c1-d0f1-15f5-446f81d36d2b
* Version Independent ID: f1beb409-3b01-3cf0-f81e-8d4

[2018-12-06 16:14] JosephRufft commented on #9185
.Net Core needs Web Forms!

[2018-12-06 16:20] KathleenDollard commented on #9412
@livarcocc @johnbeisner

Are we aware of cases where Add/Remove programs is not completing successfully, or are we otherwise aware of this problem?

@zawor We'd like to track this with you. Could you post this as an issue at GitHub.com/dotnet/sdk

[2018-12-06 16:34] ezin82 opened #9438 "underscore before @"
Validation fails when addresses have underscore before @
For example:

pippo_@libero.it

ezin82_@libero.it

But these are valid e-mail addresses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202e3f9f-a12a-53de-9069-fd469e3dbebc
* Version Independent ID: fd3699bb-4881-b6b4-1275-43eed3d5f626
* Content: [How to: Verify t

[2018-12-06 17:08] KathleenDollard commented on #6393
Since this is already reported as a product request, can we close the issue here?

The CLI team is sad we can't offer this without NuGet, and they are busy with many things.

[2018-12-06 17:20] Mizux commented on #6393
Not sure I follow you, `dotnet/cli` is already embedding a subset of nuget commands...
[code]
src: https://docs.microsoft.com/en-us/dotnet/core/tools/?tabs=netcore2x#cli-commands
or `dotnet nuget --help`

 I (we?) only ask for extending the support to add the missing ones.

[2018-12-06 17:46] wmeints commented on #5672
I see you are not reusing connections when publishing events. The RabbitMQ documentation states that connections should be long-lived objects. Creating a connection has a lot of overhead attached to it. See also https://www.rabbitmq.com/dotnet-api-guide.html#connection-and-channel-lifspan

Also, make sure you enable automatic connection failure recovery. It will save you some major headaches. Deta

[2018-12-06 17:47] wmeints opened #9439 "Connections should be reused between different publish calls."
I see you are not reusing connections when publishing events. The RabbitMQ documentation states that connections should be long-lived objects. Creating a connection has a lot of overhead attached to it. See also https://www.rabbitmq.com/dotnet-api-guide.html#connection-and-channel-lifspan

Also, make sure you enable automatic connection failure recovery. It will save you some major headaches. Deta

[2018-12-06 18:03] sam-wheat commented on #9432
@BillWagner Thank you Bill.  What is required for submitting a PR?

[2018-12-06 18:18] wadepickett opened #9440 "SEO updates - .NET Core folder"
Assign yourself to a folder by putting your github id next to it for the 12-6-2018 SEO effort.  One person per folder.

Folders:

--additional tools: adegeo

--build: adegeo

--deploying: rpetrusha

--docker: adegeo

--migration: mairaw

--porting: corob-msft

--testing: adegeo

-- tools: mairaw

--tutorials: @BillWagner

--versions: adegeo

--whats-new: rpetrusha

[2018-12-06 18:30] rpetrusha commented on #9440
media can be removed -- it's an images folder.

[2018-12-06 18:32] mairaw commented on #9440
Removed @rpetrusha

[2018-12-06 18:38] zawor commented on #9412
sure thing!

[2018-12-06 18:52] wadepickett commented on #9440
removed mikeblome from --additional and --build per his request.

[2018-12-06 18:54] wadepickett commented on #9440
@mairaw, "--tools" was ommited by mistake.  Thanks for adding it back in.

[2018-12-06 19:12] mairaw commented on #6393
Yes, I think we should close this doc feedback. If this ever gets implemented by the CLI, we'll document it on docs. The tracking bug that seems to be open at the moment is https://github.com/NuGet/Home/issues/6060.

[2018-12-06 19:12] #6393 closed

[2018-12-06 20:04] BillWagner commented on #9432
@sam-wheat That's fantastic.

Most of the information you need is in the .NET Section of the [Contributor guide](https://docs.microsoft.com/Contribute/dotnet-contribute).

I'll recommend starting with an outline, open a PR using the text '[WIP]' (for "work in progress") at the beginning of the title. I'll watch for it.  Then, just @- mention me when you have questions, or are ready for a review.

[2018-12-06 20:15] mairaw commented on #8709
Thanks @milbrandt. I've fixed the link target to go to new sample location.

[2018-12-06 20:15] #8709 closed

[2018-12-06 20:20] corob-msft commented on #9440
Do I need to join a group or request some permissions in order to edit my name into the items at the top?

[2018-12-06 20:21] mairaw commented on #9440
Yes, let me add you.

[2018-12-06 23:14] nickntg commented on #7024
I'd much prefer it if the sample was updated so that it would work as described. As it is, it gives the impression that something's wrong with ML or the user didn't follow the example through correctly.

Anyway, I wrote a [quick gist](https://gist.github.com/nickntg/1ce67727d3047146ffe0f8192aba6177) that transforms the full Wikipedia toxicity dataset (see https://meta.wikimedia.org/wiki/Research:D

[2018-12-07 01:37] mairaw commented on #2468
I've checked all entries for the C# folder and we're good there.

[2018-12-07 02:35] mairaw opened #9468 "Missing from the TOC"
By design @BillWagner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92991e4f-6d00-9e10-9a0d-1058ba06457f
* Version Independent ID: e26cd6f8-ba2c-b8df-919f-4f1ecfd80864
* Content: [Local functions vs. lambda expressions](https://docs.microsoft.com/en-us/dotnet/csharp/local-functions-vs-lambdas)
* Content Source: [docs

[2018-12-07 02:45] mairaw commented on #9468
Another one: https://docs.microsoft.com/en-us/dotnet/csharp/implicitly-typed-lambda-expressions

[2018-12-07 10:35] PeterPann23 opened #9470 "ColumnAttribute and TextLoader.Column and TextLoader.Arguments has header property"
To me, this seems to all address the same problem on several different steps of designing the data, perhaps make ordinal an integer and not a string and define the data kind all on-top of the class and have the text loader override it when needed if needed. Most likely one would create a model class as in MVC that consumes a given "view" on the world.  Perhaps my MVC experience has made me bias bu

[2018-12-07 12:49] Wetwer opened #9472 "Example Issue"
In this article
Example
Example
Example
Example
Example
Example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 870ea49c-ad84-f940-8d27-17c8b25beb97
* Version Independent ID: 285ef531-525a-8703-0f16-73a3c9e497b0
* Content: [Try...Catch...Finally Statement (Visual Basic)](https://docs.microsoft.com/en-us/dotnet/visual-ba

[2018-12-07 13:12] jonstodle opened #9473 ""What's new in .NET Core 2.2" doesn't show up in table of contents sidebar"
The table of contents sidebar does not contain "What's new in .NET Core 2.2" in the "What's new in .NET Core" section of ".NET Core Guide". At the moment, only the articles for 2.0, 2.1 and 3.0 are visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5dcb324-3ec5-e6a0-3a3c-76e139ae00e0
* Version Independent ID: a00

[2018-12-07 15:30] BillWagner commented on #9468
In both cases, yes, this is by design.

They are both "sidebars" to an existing article. If I find the right home for them, I'll make them move visible.

[2018-12-07 15:30] #9468 closed

[2018-12-07 16:08] #9212 closed

[2018-12-07 16:14] thegongben opened #9474 "Great Info"
This is great information. It's just that for a beginner there is too much information! I am very glad the dot Net has gone open source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92857acd-4048-85cd-39e8-765664c19133
* Version Independent ID: 7965ba49-47d6-53e5-184e-96ef903b1c9b
* Content: [Interoperability with PO

[2018-12-07 17:09] jasonxz opened #9476 "Obsolete"
Is there an up-to-date version of this since literally everything on this page is marked "Obsolete"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4185570-21cc-dcdb-62fd-d05bceb62f81
* Version Independent ID: 4f0fe52a-a771-d044-593d-2bb65df15e0d
* Content: [Data transforms in ML.NET](https://docs.microsoft.com/en-us/

[2018-12-07 17:24] jwbats opened #9477 "Code Quality Sub Par"
The email validation code quality is sub par. There are return statements strewn all throughout the code. The methods IsValidEmail() and DomainMapper() are both modifying a single private variable. They kind of have to, because DomainMapper() is passed as a function to Regex.Replace().

I was looking for some ready-made email validation, but I'm not about to copypaste this into my project. If I do

[2018-12-07 18:30] #1174 closed

[2018-12-07 18:38] Thraka commented on #9477
Hi! Thanks for the feedback. I agree with you. This could should be tightened up and redesigned perhaps using more modern C# approaches that eliminate the need for that extra variable and make it more portable.

As you can see from the other comments, this article has been talked about a lot. The point of the article is to teach about RegEx and not necessarily about parsing email addresses. Althou

[2018-12-07 20:11] JRAlexander commented on #9476
@jasonxz - working on this update right now (PR https://github.com/dotnet/docs/pull/9371) - should be live in the few days updated for 0.8.

[2018-12-07 20:36] rpetrusha commented on #9473
Thanks for pointing this out, @jonstodle. This issue is addressed in #9431, which we've just merged. The change should be reflected on docs.microsoft.com in the next day or two. Since the PR has merged, I'll close this issue.

[2018-12-07 20:36] #9473 closed

[2018-12-07 21:23] Thraka commented on #9468
SO WEIRD! I just came across this and there you go, you both found this.

Here is an idea. What if we put this in its own folder with its own TOC that pointed BACK to the parent article? It's a different design but at least gives the users a sense of direction versus having a blank TOC and thinking something is wrong? I donno.... 😄

[2018-12-07 21:41] Thraka commented on #9440
No one has taken `testing` want me to grab that? @wadepickett I saw you did one item from there, did you do any others or can I take it over?

[2018-12-07 21:42] mairaw commented on #9440
Just see if changes wouldn't conflict with the global changes I'm making with #9464 since that involves all folders. If all you'd do was add the .NET Core brand and ms.custom, my PR already covers that.

[2018-12-07 22:49] rpetrusha commented on #9474
Thank you for the positive feedback, @thegongben!

[2018-12-07 22:49] #9474 closed

[2018-12-07 23:05] rpetrusha commented on #9472
Thanks for pointing out the abundance of Example headings. We've opened #9485 to address the issue by creating a single Examples section.

[2018-12-07 23:06] rpetrusha commented on #9435
Thank you for the positive feedback, @volkan-yazilim. We're please that you found the article useful and comprehensive.

[2018-12-07 23:06] #9435 closed

[2018-12-07 23:09] rpetrusha commented on #9434
Thanks for pointing out the repetitive examples, @Arithmomaniac. We've added this issue to our backlog, as well as to our community contributor's project.

[2018-12-08 00:46] Thraka commented on #9477
@jwbats Hi! Would you like to review the code change? https://github.com/dotnet/samples/pull/504

[2018-12-08 06:05] wugeorgeq opened #9490 "Unclear that I had to generate a tasks.json and fill in launch.json"
I ran into errors debugging because I needed to generate a tasks.json file, also i needed to fill out launch.json with the path to app.dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3343b35c-90c1-2e11-498d-ee1d4eb409f6
* Version Independent ID: f2eda261-d4c3-c90a-1294-dfe11e55c341
* Content: [Getting started with .

[2018-12-08 17:38] cartermp commented on #3108
As per the usage `--target:library file1.fs`, usage should be `-a file1.fs`. I renamed "output-file" to "file" in the docs to clarify this.

[2018-12-08 17:46] cartermp commented on #5552
Unfortunately, I'm not sure if we'll change this one. Changing bracket-related formatting like that is pretty universally against core F# formatting in the F# codebase and the bulk of code that you'll find online. Bucking that trend is something I see as more negative, unfortunately.

[2018-12-08 17:46] #5552 closed

[2018-12-08 18:01] haydenhancock opened #9496 "Clarifying using await in Main"
"Normally, you would prefer to await the completion of the task, as in the ProcessRepositories method, but that isn't allowed in the Main method." This isn't accurate if you are using C# 7, right? I was able to change my LangVersion property to 7.1 and the signature of the Main method to return a Task to get this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-12-08 18:22] nightroman commented on #3108
@cartermp Could you please give the final text?. In `-a file1.fs`, `file1.fs` has nothing to do with `-a` because `-a` is a switch, complete thing on its own. Or am I missing something?

[2018-12-08 18:42] cartermp commented on #3108
As per the [source code](https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/CompileOptions.fs#L1020) the `-a` switch is a shorthand form of `--target:library`, as per what the documentation currently says.

[2018-12-08 18:55] nightroman commented on #3108
The why my example in the very first post does not work per documentation and source code?

[2018-12-08 18:59] cartermp commented on #3108
Have you tried `-a file1.fs`?

[2018-12-08 19:03] nightroman commented on #3108
Why? This command means:
- `-a` build class library
- from `file1.fs`

Are you saying it is the same as `--target file1.fs`?

The link to the source code shows that it is not the same as parameter `--target`, IMHO.

[2018-12-08 19:05] nightroman commented on #3108
Like I said the documentation should be

Tells to generate a class library.

This is how the compiler works in reality.

[2018-12-08 19:14] nightroman commented on #3108
I am probably wrong. The documentation about `--target` is updated and looks correct now (not `file`).
So yes `-a` is a shortcut of `--target:library`. But the `file` part should be removed from the help completely. `-a` is a switch, there is no `file` after it.

[2018-12-08 19:17] nightroman commented on #3108
This

    -a**<filename>** | Generates a library and specifies its filename. This option is a short form of --target:library**<filename>**.

should be

    -a | Generates a library. This option is a short form of --target:library.

[2018-12-08 19:30] nightroman commented on #3108
And help about `--target` is not correct, too

    --target:[exe \| winexe \| library \| module ] <output-filename> | Specifies the type and file name of the generated compiled code. ...

It does specify *the type* but not *the type and file name*.

[2018-12-08 23:37] jnsn commented on #9050
The **See Also** section contains a link to the [Constraints on type parameters](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/constraints-on-type-parameters) article which clarifies the different possibilities of constraints.

In this case, changing
[code]
to
[code]
should suffice for the `new T(1)` call to succeed.

[2018-12-08 23:37] jnsn commented on #9150
The **See Also** section contains a link to the [Constraints on type parameters](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/constraints-on-type-parameters) article which clarifies the different possibilities of constraints.

In this case, changing
[code]
to
[code]
should suffice for the `new T(1)` call to succeed.

[2018-12-09 01:02] cartermp commented on #683
We now have content for VS for Mac and VSCode, which is sufficient for getting started in a supported environment with non-Windows OSes.

[2018-12-09 01:02] #683 closed

[2018-12-09 06:52] fredyadriano90 opened #9500 "Static property"
public struct Point3D
{
    private static Point3D origin = new Point3D(0,0,0);

    public ref readonly Point3D Origin =&gt; ref origin;

    // other members removed for space
}

To execute this code the property Origin in Point#D should be static.

var originValue = Point3D.Origin;
ref readonly var originReference = ref Point3D.Origin;

---
#### Document Details

⚠ *Do not edit this section. It

[2018-12-09 15:59] cartermp commented on #9361
@luo4neck I've updated the text to clarify that this also holds true for subtyping. The algebra of subtyping can be a bit confusing, but the behavior you've noted is indeed by design.

[2018-12-09 16:10] cartermp commented on #9165
Thanks @saboco, your suggestion totally makes sense.

[2018-12-09 22:05] JamesThompson1985 opened #9504 "Very nice!"

[2018-12-09 22:06] JamesThompson1985 opened #9505 "Good job helped me alot."

[2018-12-09 22:11] JamesThompson1985 opened #9506 "Loving the info guys!"

[2018-12-09 22:19] JamesThompson1985 opened #9507 "Thats advanced!"

[2018-12-09 22:54] Golash opened #9508 "Failed to run the container - The specified framework 'Microsoft.NETCore.App', version '1.1.2' was not found."
After running the docker run command I'm getting the following error:

C:\code\Containers\Hello&gt;docker run --rm dotnetapp-dev Hello from Docker
It was not possible to find any compatible framework version
The specified framework 'Microsoft.NETCore.App', version '1.1.2' was not found.
  - Check application dependencies and target a framework version installed at:
      /usr/share/dotnet/
  - Ins

[2018-12-09 23:03] Golash commented on #9508
It seems like the "dotnet new console" command generated an Hello.csproj file with <TargetFramework>netcoreapp1.1</TargetFramework> but the based image is microsoft/dotnet:2.1-sdk - once changing the  TargetFramework to netcoreapp2.1 the container running successfully.

[2018-12-09 23:53] mairaw commented on #3108
Reopening so PR #9495 can close this.

[2018-12-10 00:30] #9165 closed

[2018-12-10 00:51] #2554 closed

[2018-12-10 00:52] #6032 closed

[2018-12-10 00:55] #3108 closed

[2018-12-10 01:30] KirillOsenkov opened #9509 "What Happens when Continue is called on a running process?"
Need to document what happens when Continue is called on a running process or when Stop is called on a stopped process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed9102dc-0f07-2f54-cb4b-6a2434c11651
* Version Independent ID: df7c65ed-deb5-a4fd-194b-91eebe114342
* Content: [ICorDebugController::Continue Method](htt

[2018-12-10 01:31] KirillOsenkov commented on #9509
@noahfalk may be able to help with this.

[2018-12-10 01:33] #2973 closed

[2018-12-10 02:41] aeslinger0 commented on #8691
It wasn't immediately obvious to me what needed to happen after reading that article, so for the next person coming here with this warning... what I did was:

1. unload the project
2. edit the project file
3. find the reference element
4. remove the version attribute
5. save and reload the project.

 Then the warning went away. Not sure if there's an easier way.

[2018-12-10 02:56] Manoj-Prabhakaran commented on #6475
@BillWagner  Thank you very much for your Answer

[2018-12-10 04:35] KirillOsenkov opened #9512 "Insufficient explanation on ICorDebugController.IsRunning"
It is not clear what this means. Can IsRunning be relied upon to determine the state of the debuggee process, i.e. whether it's in the Stopped or Running state? Or it can be false when the debuggee is in the Running state but no threads are "running"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c79327d6-7935-386a-3d

[2018-12-10 07:17] danielgestwa opened #9513 ""See also" change"
Add link to lambda expressions in "See also" part.
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/lambda-expressions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9eba9bb-8296-b41c-f8f3-4cebe488722e
* Version Independent ID: 95b1655b-a782-02b1-ca0c-14f1b95bf5a5
* Con

[2018-12-10 08:15] iwangoll opened #9514 "461814 is double in the list above"
461814 .NET Framework 4.7.2 installed on Windows 10 Fall Creators Update and earlier OS versions
461814 .NET Framework 4.7.2 installed on Windows 10 October 2018 Update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92c6cf
* Version Independent ID: a3790e8a-0654-851b-c991-ab7382025406
* Co

[2018-12-10 10:21] gaborlaczo commented on #4675
I'm missing information about "If your app targets a .NET Framework version earlier than 4.7" and using WCF without certificate credentials.

I wrote a very simple test application  targeting .net framework 4.0, which just simple writes the default value of "ServicePointManager.SecurityProtocol".
In case of a computer runs .net framework 4.7 and the registry also set for enabling all TLS versions

[2018-12-10 12:04] Sim0o0na commented on #9286
Yes, this is exactly what i meant.

ofcourse, this should be considered according to the example you choose. An example with a loop would do the work perfectly, since i'm often quoting the official documentation in educational resources.

[2018-12-10 13:16] koav commented on #9278
Hello, maybe this will be useful for you. Inside the library I found the following type match:

            I1= sbyte
            U1= byte
            I2= short
            U2= ushort
            I4= int
            U4= uint
            I8= long
            U8= ulong
            R4= Single
            R8= Double
            TX= ReadOnlyMemory<char>
            BL= bool
            TS= TimeSpan

[2018-12-10 15:05] #9420 closed

[2018-12-10 16:00] arivoir opened #9517 "The annotation for nullable reference types should only be used in code within a '#nullable' context."
After converting my project to c#8 and fixing all the problems. Every warning was removed, and suddently I got 97 Warnings of these
Warning	CS8632	The annotation for nullable reference types should only be used in code within a '#nullable' context.

Do I need to add the #nullabel context if I used &lt;NullableReferenceTypes&gt;true&lt;/NullableReferenceTypes&gt; in the proj file?

---
#### Documen

[2018-12-10 16:30] LuigiBruno opened #9519 "Link to page not found"
The link to the list of the supported operating systems for .NET Core 1.1 in the ".NET Core supported operating systems" section results in a page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5c1c2a-7d86-703c-038e-062f5dcfc5b0
* Version Independent ID: cab4f67f-f338-8990-6454-853a0f01627e
* Content: [Pre

[2018-12-10 16:42] #9472 closed

[2018-12-10 17:32] #6317 closed

[2018-12-10 19:12] mairaw commented on #9505
Good to know. Thanks for your feedback @JamesThompson1985!

[2018-12-10 19:12] #9505 closed

[2018-12-10 19:13] mairaw commented on #9506
Thank you again @JamesThompson1985!

[2018-12-10 19:13] #9506 closed

[2018-12-10 19:14] mairaw commented on #9507
Is there anything we can help you with here @JamesThompson1985 or can we just close it?

[2018-12-10 19:37] jmarkman commented on #9286
This is a quick enough change, I can make it and submit a PR unless anyone else is interested

[2018-12-10 19:37] BillWagner commented on #9286
Thanks @jmarkman

[2018-12-10 20:38] davidg-skyward commented on #8958
Another problem with this page is the fallacy of this statement:
"A constructor that takes no parameters is called a default constructor."

A constructor that takes no parameters is a "no arg constructor", or a constructor with no parameters.

The constructor provided by the compiler in the event the programmer fails to define ANY constructor is the "default" constructor.

[2018-12-10 21:46] #9519 closed

[2018-12-10 21:58] mairaw commented on #762
@sdmaclea it's assigned to you. For milestones, we use specific sprints. I'll add you to the docs-write team, so you can make changes to label/issues as needed.

[2018-12-10 22:01] mairaw commented on #9504
Thank you @JamesThompson1985!

[2018-12-10 22:01] #9504 closed

[2018-12-10 22:05] mairaw commented on #9514
Thank you for letting us know. We'll take care of this shortly.

[2018-12-10 22:07] mairaw commented on #9513
That's a good idea @danielgestwa. Would you like to contribute with a pull request?

You can find the instructions on how to do that at https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2018-12-10 22:07] mairaw commented on #9512
@noahfalk can you help with this feedback?

[2018-12-10 22:09] BillWagner commented on #9517
@arivoir Adding the `<NullableReferenceTypes>true</NullableReferenceTypes>` in your csproj, in a `PropertyGroup` should work fine.  A couple things to check:

- Do you also have the C# 8 compiler turned on? Check the `LangVersion` element to make sure its set to `8.0`
- Did those warnings go away as the IDE re-ran the analysis on the code? I've found initial  incorrect warning indicators go away a

[2018-12-10 22:11] mairaw commented on #9508
Thanks for your feedback @Golash. We'll have to investigate this issue and report back.

[2018-12-10 22:17] mairaw commented on #9496
Thanks @haydenhancock. We need to update some topics in regards to this new C# feature,

[2018-12-10 22:19] Thraka commented on #9440
Confirming all of my assigned folders have been completed. If everyone wants to confirm, we can probably close this.

[2018-12-10 22:19] mairaw commented on #9490
Thanks for your feedback @wugeorgeq. Which version of .NET Core you're using?
VS Code should create those for you when running the commands and launching the debugger.

[2018-12-10 22:21] mairaw commented on #9490
Also, can you run this one successfully?
https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code

[2018-12-10 22:23] mairaw commented on #9470
@JRAlexander can you please triage this? Also, can we move the ML.NET API feedback to the machinelearning repo instead? We've moved the .NET API reference out of dotnet/docs as well.

[2018-12-10 22:31] JRAlexander commented on #9470
@mairaw, This appears to be a product question as opposed to a content one. I'll create an issue in the product repo and reference this. Let's take your moving request offline as I don't understand. Thanks!

[2018-12-10 22:32] mairaw commented on #9426
Thanks for your feedback @RanchMobile. Is this error from the code from the article?

[2018-12-10 22:36] mairaw commented on #9387
Thanks for your feedback @Kberg81. We do cover that scenario in the API reference:
https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.except

But it's a good suggestion to enhance this topic to show custom classes too.

[2018-12-10 22:36] JRAlexander commented on #9470
@PeterPann23 Thank you for the feedback. I've opened an issue in the dotnet/machinelearning repo as this is product feedback.

[2018-12-10 22:36] #9470 closed

[2018-12-10 22:39] mairaw commented on #9335
Thank you for your feedback @ptoye. We're targeting an update of this topic for a future sprint.

[2018-12-10 22:42] mairaw commented on #9324
Thanks for your feedback @Ponant. @CESARDELATORRE @mvelosop please take a look.

[2018-12-10 22:43] mairaw commented on #9323
Thanks for letting us know of this issue. We'll try to address it shortly!

[2018-12-10 22:45] mairaw commented on #9322
Hi @MathiasRonnblom,

We do state the following as an advantage:
Unless overridden, FDDs will use the latest serviced runtime installed on the target system. This allows your application to use the latest patched version of the .NET Core runtime.

So with that, I'll be closing this issue, but please let us know if we missed anything.

[2018-12-10 22:45] #9322 closed

[2018-12-10 22:56] mikeblome commented on #9440
@Thraka my tasks are complete

[2018-12-10 22:59] mairaw commented on #9314
Thanks for your feedback @ericjlynch. I think the title is a bit misleading in the sense that this is more of a tutorial rather than a Get started topic.
This feedback led to some interesting discussions with my team since we don't typically cover how to create a folder on a specific OS.

We'll see if we can make some quick updates to make those steps easier for someone trying to learn the technol

[2018-12-10 23:09] corob-msft commented on #9440
@Thraka I have nothing to add.

[2018-12-10 23:17] rpetrusha commented on #9335
To respond to your question, @ptoye, we don't recommend the use of the non-generic [SortedList](https://docs.microsoft.com/dotnet/api/system.collections.sortedlist) class. The difference between the generic SortedList and SortedDictionary classes is discussed in the [SortedList\<TKey,TValue>](https://docs.microsoft.com/dotnet/api/system.collections.generic.sortedlist-2#remarks) documentation.

[2018-12-10 23:33] KirillOsenkov commented on #9512
Also when a managed callback is processing, what is the state?
How do I determine if the debuggee will resume after the current managed callback is done?

[2018-12-10 23:48] #9477 closed

[2018-12-11 00:01] KathleenDollard commented on #9412
yes

[2018-12-11 00:09] BillWagner commented on #9412
closing per @KathleenDollard

[2018-12-11 00:09] #9412 closed

[2018-12-11 00:36] arivoir commented on #9517
@BillWagner Yes, I have the LangVersion tag correctly. Actually I could migrate the project correctly and fix all the bugs that appeared because of the change to c#8. Now I'm seeing the warnings are comming from the Intellisense, because when I change the "Build+IntelliSense" combo box of the "Error List" to just "Build" they go away. Neither Analyze nor Clean nor Rebuild nor deleting bin and obj

[2018-12-11 00:57] #9432 closed

[2018-12-11 01:11] sam-wheat commented on #9432
@BillWagner
I think I botched the process but here is a [PR](https://github.com/dotnet/docs/pull/9531)

[2018-12-11 01:19] BillWagner opened #9532 "Performance recommendations for .NET Core applications"
Increased performance is a major part of the .NET Core story for developers.

We need to expand on that story in the .NET Core section of our docs. This should answer the following questions:

- What performance benefits are gained simply by migrating from .NET Framework to .NET Core?
- What techniques could produce further benefits?
- Of those, which (likely) have the best payback for common scen

[2018-12-11 03:09] #7640 closed

[2018-12-11 03:16] RanchMobile commented on #9426
This occurs when I right click and create a copy template with a generic control without any modification using Blend 2017.

[2018-12-11 04:12] #9323 closed

[2018-12-11 05:18] fredyadriano90 opened #9535 "Missing assignment"
I think that you forgot to add
     classConstraint = iConstraint;
into the method: DisplayGenericParameter(Type tp)

after or before
     if (iConstraint.IsInterface)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2faee-ed39-b589-4d6e-09fa6fb8e5b1
* Version Independent ID: 38e9f433-d8f5-2db2-6581-830121bbf216
* Con

[2018-12-11 08:36] ni11c opened #9538 "That is a lot of plumbing code for what looks like a glorified strategy pattern"
Anybody could explain the advantages of this AddIn architecture over existing patterns ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18b88ea-f715-00e6-e0df-15462c5e38ea
* Version Independent ID: 3959a550-c5bb-b86f-b377-a8fd0fcfde31
* Content: [Walkthrough: Creating an Extensible Application](https://docs.microsoft.

[2018-12-11 09:12] ptoye commented on #9335
Thanks @rpetrusha. I assumed that the page in question covered both the generic and the non-generic list types so didn't look further. I use generic classes in my project.

Also thanks @mairaw - maybe a pointer to the document referenced by @rpetrusha would be enough.

[2018-12-11 09:23] FerdaTanyeri opened #9539 "Main Procedure arguments"
With your example the arguments passed to the program can be trapped, but the program name itself cannot be determined. Example:

myProgram 1111 2222

The arguments "1111" and "2222" can be determined but not the program name "myProgram".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed7d2c1-d322-86a6-d9be-1a5fce08e8

[2018-12-11 10:46] wassimans opened #9540 "Duplication in the "See Also" section"
The "C# Programming Guide" is listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ebd197-8f01-b8d7-45d6-1a7afba572b4
* Version Independent ID: 0790b314-a794-6ce3-15f0-37281faa00a6
* Content: [Polymorphism - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-str

[2018-12-11 13:21] abelbraaksma commented on #5552
@cartermp, could you elaborate how it (the guideline) is used currently? Because as the examples show above, it cannot even be compiled. meaning that we have a guideline that, if followed, leads to non-compilable code.

Are you sure the guideline is like what is used in F#'s own codebase, if so, why doesn't it lead to compile errors there?

[2018-12-11 14:52] joelmartinez commented on #7864
Just to close the loop here, this issue was resolved here: https://github.com/mono/api-doc-tools/issues/357

Pending deployment/CI implementation :)

[2018-12-11 15:08] Jenscaasen commented on #7024
Just for the record, the output with 0.8.0:

=============== Prediction Test of loaded model with a multiple samples ===============
Sentiment: This is a very rude movie | Prediction: Toxic | Probability: 0,5297049
Sentiment: Please refrain from adding nonsense to Wikipedia. | Prediction: Not Toxic | Probability: 0,1813062
Sentiment: He is the best, and the article should say that. | Prediction: T

[2018-12-11 15:33] #9540 closed

[2018-12-11 15:34] #9513 closed

[2018-12-11 16:34] #9167 closed

[2018-12-11 17:08] #9440 closed

[2018-12-11 17:32] Thraka commented on #8958
Doing some quick searching I found that C# uses the wording "parameterless constructor" over "no argument constructor"

[2018-12-11 17:44] decafbad opened #9546 "convertToStructTuple"
I think "convert to and from struct tuple" examples should be other way around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89bef555-3de1-5d81-c02b-2ac8c049423b
* Version Independent ID: eb13ad9e-2c95-979b-6d6e-13d29653c6ba
* Content: [Tour of F#](https://docs.microsoft.com/en-us/dotnet/fsharp/tour)
* Content Source

[2018-12-11 18:05] cartermp commented on #9546
@decafbad Can you clarify what you mean by "other way around"? Are the functions declared incorrectly, or do you feel their order could be improved?

[2018-12-11 18:20] Thraka commented on #9438
@ezin82 Hi! After pondering this and #5303 and #7184 for a while, I've decided not to fix this. There are many discussions on the internet about using regex for email validation and how it seems almost impossible to get the "perfect" regex.

There are many other valid things you can put in that email validation test that actually fail. This sample isn't meant to be the best email validation test,

[2018-12-11 18:20] #9438 closed

[2018-12-11 18:42] Thraka opened #9547 "[discussion] Simplify article: How to validate email with regex"
To do:

1. Simplify the regex, so that it's easier to read and parse.
2. Indicate that a regex for email is highly complicated and may never cover every possibility.
3. For security purposes and further validation, send a test email to the email address.

### Original issue content

Hello! I wanted to just run the idea of deleting this article by you all. As we can see from the many issues opened

[2018-12-11 18:43] Thraka commented on #7184
I don't know that this conforms to any specific RFC. I feel like the original author would have put that in a comment somewhere.

There is an open discussion on what to do with this article over at #9547

[2018-12-11 18:43] #7184 closed

[2018-12-11 19:18] cartermp commented on #5552
@abelbraaksma We do not write code as you have written; however, based on this and some more thought I decided it's worth bucking the trend and going with brackets on their own lines when piping or adding members.

[2018-12-11 20:05] arivoir commented on #9517
@jcouv I tried restarting Visual Studio and even the PC, but the problem is still there. Once you open the project it takes some seconds, apparently running the Intelli-sense, and the "Error List" is re-populated with these warnings.

[2018-12-11 21:18] nschonni opened #9552 "Microsoft.ML.Legacy.Transforms.ColumnDropper xref not working"
Noticed this on a [build as well](https://opbuildstorageprod.blob.core.windows.net/report/2018%5C12%5C11%5Ca3bda507-3390-de91-8f7f-26f90f4e5fc8%5CPullRequest%5C201812112041471469-9550%5Cworkflow_report.html?sv=2015-02-21&sr=b&sig=gKLRgObJpwTf%2BsouB2cThO5SesZU%2Bd%2FGS%2B%2BVglmy37E%3D&st=2018-12-11T20%3A41%3A37Z&se=2019-01-11T20%3A46%3A37Z&sp=r) but the page is also rendering it as a raw `&lt;xre

[2018-12-11 21:19] Thraka commented on #9508
@Golash It seems you have solved the problem. I was going to say it seemed like you had a container version-local version mismatch.

I'm curious why you generated a 1.1 app with just the basic command? Perhaps you have a global json config somewhere pointing to a different runtime.

Anyway, glad you're working now.

Bye!

[2018-12-11 21:19] #9508 closed

[2018-12-11 21:37] jcouv commented on #9517
@arivoir One more question: if you build the project (`F6`) and look at the Output pane, do these warnings also appear there?

[2018-12-11 21:45] arivoir commented on #9517
@jcouv No, they do not appear in the "Output" pane. Only in "Error List"

[2018-12-11 21:47] rpetrusha opened #9554 "Restore configuration elements lost in migration"
## Restore configuration elements lost in migration

In an old migration from DxStudio to CAPS, our previous authoring system, a number of configuration elements were dropped from the documentation.

The following is the list of 82 instances of "the  configuration element", which, since two spaces separate "the" and "configuration", implies that the intervening text has been dropped:

[config-elem

[2018-12-11 21:55] Powerhelmsman opened #9555 "XML documentation generated from docs should not contain docs-relative URLs"
This issue was created by @svick from https://github.com/MicrosoftDocs/feedback/issues/659

Describe the bug
When looking at the XML documentation for an API that seems to have been generated from .Net API reference, such as netstandard.xml, I can see docs-relative URLs such as `~/docs/standard/base-types/regular-expression-options.md`, while I think it should point to the live URL for the article

[2018-12-11 22:16] #9376 closed

[2018-12-11 22:33] rpetrusha commented on #9514
Thanks for pointing this out, @iwangoll. The information is actually correct. It made a great deal of sense when we first published it, but now, with the passage of a few months, I was no less convinced than you that it is erroneous. I'll open a pull request shortly that tries to make the release key values for .NET Framework 4.7.2 clearer.

[2018-12-11 22:37] kspeakman commented on #5552
I like these changes. Prior to this discussion I had not even realized that the `with` keyword would allow the expanded syntax below to work.

[code]

In general I think (probably like most of you) it is not great practice to use interfaces or class properties with F# record and union types. However, it can be helpful sometimes for interop reasons. I had previously used marker interfaces for more

[2018-12-11 22:37] jcouv commented on #9517
@arivoir I talked to a coworker and I think we've figured this out.
There are two types of project files: legacy-style (big and gnarly) and new-style (short and sweet). The `NullableRerenceTypes` property is only fully understood in the new-style project files in dev16.0 preview1.

I suspect you have a legacy-style project file. So what happens is that Build does the right thing, but when the IDE

[2018-12-11 22:52] Thraka commented on #9539
@FerdaTanyeri Hi!

You can use `System.Diagnostics.Process.GetCurrentProcess().ProcessName` to get the name of the program.

I'm closing this issue as it doesn't seem to be related to a problem with the article.

Thanks!

[2018-12-11 22:52] #9539 closed

[2018-12-11 22:55] Thraka commented on #9254
@drzamzow Closing this. Please reopen if you have more information.

[2018-12-11 22:55] #9254 closed

[2018-12-11 22:58] arivoir commented on #9517
@jcouv I'm afraid it is not the case. It's actually using the new style [Open.Flickr.csproj](https://github.com/arivoir/Open.Flickr/blob/master/Open.Flickr/Open.Flickr.csproj) You can get the project and try in your environment. Please let me know whether you're having the same issue as me.

[2018-12-11 23:00] Thraka commented on #9312
@PingPongSet Hi!

Yes. The article explains it this way:

So `win-x64` would target any of the supported Windows 64-bit OS. Prior to this being introduced, you had to specify if you were targeting windows 7, 8, or 10.

I'm going to close this, thanks!

[2018-12-11 23:00] #9312 closed

[2018-12-11 23:19] Thraka commented on #9195
@Conghung43 Hi, thank you for the question. I think this question is better suited for a community like StackOverflow. I'm going to close this because the issue is not related to a problem with the article.

My personal guess is that their is something from the operating system that defines how the control should look and therefore is rendered.

[2018-12-11 23:19] #9195 closed

[2018-12-11 23:34] arivoir commented on #9517
I originally found this problem in preview1, and then upgraded to preview1.1 where the problem continued.

Please let me know if there is any log or something I can make to help.

[2018-12-11 23:40] Thraka opened #9558 "Code here uses oddly named CoOrds class"
This type is not named correctly and should change in the source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbf6206-5332-f844-ba6a-66b58090f686
* Version Independent ID: 93775018-00ba-2c71-e9e8-da1792f35f9b
* Content: [Instance Constructors - C# Programming Guide](https://docs.microsoft.com/en-us/dotnet/csharp/pr

[2018-12-12 02:40] johnmelodyme opened #9559 "Error"
In my case, I tried deploying (build)my Api to localhost and suceeded.
but when comes to  building it in server, after dotnet publish....
then i got this....
--------------------------------------------------------------------------------------------
Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed i

[2018-12-12 03:38] jcouv commented on #9517
I tried this on a preview 1 (`VisualStudio.16.Preview/16.0.0-pre.1.0+28329.73`), but still couldn't repro.

I would be tempted trying to "repair" your preview 1 (or 1.1) installation.

Tagging @heejaechang in case he has some ideas. To summarize, the issue is that the "Error List" with  "Build+IntelliSense" filter shows some nullable warnings that appear nowhere else (neither in "Output" pane, nor

[2018-12-12 07:25] najeeb-np opened #9561 "Code example"
Where can I get this 'DKSample' used in the example to work out with a real example?
( xmlns:c="clr-namespace:SDKSample")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87567591-0d1a-a791-a609-fa7a3986d43c
* Version Independent ID: 29542eb2-683e-0217-71aa-14671a6f193a
* Content: [Data Binding Overview](https://docs.mic

[2018-12-12 09:02] nojaf opened #9562 "Formatting lists and arrays"
I still miss some clarity regarding the formatting of lists.

[code]
has a space after `[` and `[|`.
However
[code]
each row in the pyramide does not have a space after `[|`.

It also mentions that `[ {` should contain a space but what about tuples, strings and function calls. Should there also be a space or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-12-12 11:47] sitefinitySDK commented on #9196
Same feedback as what TobiasKnauss said. The table does not list VS versions after 2015 in the Included in Visual Studio version column.

[2018-12-12 12:36] Szer opened #9563 "mutable fields in Structs are not described"
Documentation lacks examples of
`val mutable` fields and way of their mutation without implicit copying of structure.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a067d5a-bb13-9991-c808-c7c49a00ca47
* Version Independent ID: 201272a0-3350-93f3-8965-4a745671c7e7
* Content: [Structures (F#)](https://docs.micro

[2018-12-12 14:36] BillWagner commented on #9547
I'd agree with deleting it. The question is where to redirect traffic.

@scottaddie Is there an article that already exists on the ASP.NET site that talks about creating accounts and validating the destination email addresses?

[2018-12-12 15:06] decafbad commented on #9546
My bad. I saw them as values, not functions.  Still feels ambiguous.

[2018-12-12 16:03] scottaddie commented on #9547
@BillWagner The closest thing we have to that is https://docs.microsoft.com/aspnet/core/security/authentication/accconfirm.

[2018-12-12 16:12] JosephRufft opened #9565 "Turn off Fusion Logging"
I have looked at this and I still have no idea how to turn of fusion logging.  Can you help me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e11373-7bdd-6c40-519b-0e2e28739acb
* Version Independent ID: 418d1a82-2131-88d4-f087-8cf57ca69434
* Content: [Fuslogvw.exe (Assembly Binding Log Viewer)](https://docs.microsof

[2018-12-12 16:57] ryanwebjackson opened #9566 "Possibly ambiguous usage of `break` in C# `switch` statement"
I know this might be a "gotcha", but within the context of a switch statement inside of a loop, to a human, it can be confusing what "break" is referring to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b4ba4c-b602-9335-97d1-3b8ac23e6cb3
* Version Independent ID: c53ac7c0-56f8-06cb-0f06-fdfc389358bd
* Content: [bre

[2018-12-12 17:13] Mandated opened #9567 "Paveover"
What is the meaning of &lt;paveover&gt;?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5910cd5b-4251-9302-7ff9-65d2de94886d
* Version Independent ID: 130e32f0-e5d7-df10-1df9-596416f1e16e
* Content: [Inside a C# Program](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/index)
* Content

[2018-12-12 17:35] mairaw commented on #9567
That's an error in our documentation @Mandated. We should probably just change that link to go to https://docs.microsoft.com/en-us/dotnet/samples-and-tutorials/ now.

[2018-12-12 17:51] rpetrusha commented on #9547
The basic regex actually does conform to an RFC. It's unfortunately the case, though, that when I wrote it, I neglected to document which RFC, and I've long ago forgotten.

My feeling is that we should keep the regex, but note its limitations -- that it doesn't validate every email address (and that a regex to validate all possible email addresses doesn't exist), and provide a few examples from cu

[2018-12-12 18:01] ShadowmourneE opened #9568 "CheckSignature returns false"
Hi all,
Please tell me why CheckSignature always returns false while verifing XML(after signing this XML) when I have this in my node ? -&gt;
xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
without it everything is OK.
As Example XML:
&lt;?xml version="1.0"?&gt;
&lt;md:EntityDescriptor xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"  entityID="somethingHereWritten"&gt;
&lt;/md:EntityDescriptor&gt;
I

[2018-12-12 19:57] dasMulli commented on #9547
I believe the previous discussion was more leaning towards finding a better example / use case for regex based validation. But so far, I don't think anyone has found a good one so far 😅.

[2018-12-12 21:13] cartermp commented on #9563
Mutable fields in structs are described here: https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/members/explicit-fields-the-val-keyword

However, gotchas around implicit copies (such as your example) are not documented. Would you be willing to submit a PR to the structures file that explains this? I can put it on my backlog but there's no guarantee it'll be done soon.

[2018-12-12 21:45] #9201 closed

[2018-12-13 01:35] Mandated opened #9576 "Push/Pop Example"
It's been about a year since I went through the C# docs, so I'm probably missing something mentioned somewhere.  Even after loading the example into VS, I am unsure of the functional nature of the class type objects.  It is hard for me to explain concisely, so I will walk through my understanding (combined example with the data supplied): Begin in main & create Stack obj 's' which has the field 't

[2018-12-13 05:52] StingyJack opened #9577 "It should be a rather large note that the overall suggestion in this article breaks SQL OLEDB provider..."
...which I bet is still seeing a fair amount of use.  I read that it would break ODBC as well, but I dont use that and didnt try it.

To get around this if it happens to you, I have had success with installing the Sql Native Client for the correct OS version, and then changing the provider in the connection string from SQLOLEDB to SQLNACLI`XX`.

---
#### Document Details

⚠ *Do not edit this secti

[2018-12-13 06:38] volkan-yazilim opened #9578 "Confused"
Even though I know how to use indexers, I got confused with the usage ot terms.
Indexer, index value, index type, indexed value, parameter,...
I believe those should be defined at the beginning. IMHO.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5323b38b-8dc5-8f50-f5e7-b58ca0e88ad7
* Version Independent ID: 3

[2018-12-13 06:58] volkan-yazilim opened #9581 "Is this correct?"
"all the rules that are defined for property accessors apply to indexer accessors also."

"A get accessor of a property has no parameters." cannot be applied to indexer's get accessor, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6c836c9-e05a-3fd3-b86d-32718679bcd3
* Version Independent ID: b7b2bba2-bd69-2c14

[2018-12-13 07:03] EsaHeikkiPoutanen commented on #6773
Azure function c# Visual studio 2017, debugging locally, fine, remote debugging: 'no symbols have been loaded...' crap when I try to set up break, point ! Have tried various debug options with no results..
enfuriating !!!

[2018-12-13 07:04] EsaHeikkiPoutanen commented on #6773
Oh, and this only happens when using V2 fuctions and .net code, V1 functions, remote debugging works fine

[2018-12-13 11:39] grahamehorner opened #9585 "This API is now obsolete."
IMHO when the API is marked as obsolete, it would be good to reference what replaces this feature; or an example of how to achieve some this similar; allowing existing developers that improve code base and new developers that have examples/reading materials that reference older APIs to update code and learn at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-12-13 18:57] evermeire opened #9587 ".NET Core 2.2 on Ubuntu 18.04"
$ sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2
E: Couldn't find any package by glob 'dotnet-sdk-2.2'
E: Couldn't find any package by regex 'dotnet-sdk-2.2'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*