[2021-03-22 09:38] canine-afficionado opened #23415 "Typo in Code"
Based on the previous paragraph, I believe the first code snippet should be:
`public class MyGenericClass<T> where T : IComparable<T> { }`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74dfcde5-aa2b-1128-fa29-f198a6e437b7
* Version Independent ID: 59aeccf5-364c-77a8-88dc-cb529b76aebc
* Content: [where (generic type co

[2021-03-22 09:39] nojaf opened #23416 "Proposal: Add explicit guidance regarding multiline expression of let bindings"
I'd like to add a small section about what to do with multiline body expressions in let and member bindings.
Example:

[code]

if `a` is long or multiline it should be placed on the next line with an indent.

[code]
regardless of what [SynExpr](http://fsharp.github.io/FSharp.Compiler.Service/reference/fsharp-compiler-syntaxtree-synexpr.html) `a` ends up being.

Some examples I consider bad:
[code]

[2021-03-22 09:42] wh-alice commented on #23380
@daxianji007 is helping to verify whether we can point this extendedzipcontent to the same directory. @rloutlaw , would you help to suggest @Youssef1313's question as well?

[2021-03-22 10:01] wldevries opened #23417 "Records can have methods too"
or in records

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158425f1-86b1-101a-9172-14c944867784
* Version Independent ID: 6386f636-99b3-93c3-ca9e-0134f3e3be10
* Content: [Methods - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/methods)
* Content Source: [docs/csharp/methods.md](https://github.com/dotnet/do

[2021-03-22 12:12] IEvangelist commented on #23408
Hi @maxkoshevoi &and @Youssef1313)

Yes, this needs to be updated to correctly reflect the changes you called attention to. We would be thrilled to review a PR, and we appreciate it. Please reference this issue number in the PR, and note that I've updated this issue with the up-for-grabs label. Thank you.

[2021-03-22 12:31] BillWagner commented on #23408
See also #23083 and #23084 for more instances that need to be updated.

[2021-03-22 13:33] IEvangelist commented on #23380
Hi @wh-alice and @rloutlaw,

According to the [latest internal documentation for onboarding samples](https://review.docs.microsoft.com/en-us/help/contribute/samples/process/onboarding?branch=master#supported-metadata-fields-for-readmemd), the `extendedZipContent` metadata is `Deprecated`. I do not believe that we should be suggesting something that is deprecated.

[2021-03-22 13:34] BillWagner commented on #23417
Thanks for adding this @wldevries

We should update that for .NET 5.  I've added the "up for grabs" label and added it to our C# 9 project.

[2021-03-22 13:37] BillWagner commented on #23415
Thanks for noting this @canine-afficionado
I've opened #23418 to address this issue.

[2021-03-22 13:42] BillWagner commented on #23411
Thanks for pointing this out @axcap

I agree with @Youssef1313 's analysis here. There's nothing "magic" about the input. It's one possible input test case.

I'll close this, but if you feel strongly that this should change, you can add more details here.

[2021-03-22 13:42] #23411 closed

[2021-03-22 13:44] BillWagner commented on #23410
Thanks for pointing this out @theodorzoulias

I had missed this in planning my updates for `IAsyncEnumerables`. I've added it to the .NET 5 project, and our next sprint.

[2021-03-22 13:45] BillWagner commented on #23409
Thanks again @theodorzoulias This was also an oversight, and I've added it to the next sprint.

[2021-03-22 13:45] BillWagner commented on #23406
Ping @luisquintanilla @briacht

[2021-03-22 13:46] BillWagner commented on #23404
Thanks @Youssef1313 I'll watch for the PR.

[2021-03-22 13:49] BillWagner commented on #23399
Thanks for noting this @OJacot-Descombes and @canton7

I've added this to our backlog to update. I've also added the "up for grabs" label if anyone wants to submit a PR.

[2021-03-22 14:19] IEvangelist commented on #23400
Hi 👋 @fantaclaus
Thank you so much for posting this issue. We really appreciate it.

There is a larger discussion right now with the broader that overlaps on this article a bit, I'll be sure to address this then.

[2021-03-22 14:58] SaSha-K1 opened #23420 "Some code snippets are empty"
Some code snippets are empty in the [Add the final polish paragraph](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix#add-the-final-polish)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3fc905-7aa1-7f5e-9bfe-fbcef461ad5e
* Version Independent ID: a286e20b-1e43

[2021-03-22 15:06] eiriktsarpalis opened #23421 "New method overloads added to System.Linq.Queryable"
## New method overloads added to System.Linq.Queryable

We have added new public method overloads to System.Linq.Queryable as part of the new features implemented in https://github.com/dotnet/runtime/issues/47231. This is known to break query provider implementations whose reflection code isn't sufficiently robust when looking up methods (cf. https://github.com/dotnet/efcore/issues/24002, https://

[2021-03-22 15:30] luisquintanilla commented on #23406
Looking into it. Thanks @BillWagner

[2021-03-22 15:40] luisquintanilla commented on #23312
Hi @zsleepy

Thanks for your question. I've posted an issue in the ML.NET repo since this is not a documentation issue dotnet/machinelearning#5726

Closing this issue for now. Please follow the discussion on there.

[2021-03-22 15:40] #23312 closed

[2021-03-22 16:39] adegeo commented on #10217
@IEvangelist This one has slipped under the radar when I created the docker container information that you took over. Do you want to add info about this scenario?

[2021-03-22 16:49] #23117 closed

[2021-03-22 16:58] tdykstra commented on #23381
@WindowStations We've addressed the lack of clarity in these docs in  PR #23391 and [6497](https://github.com/MicrosoftDocs/visualstudio-docs/commit/89929acf718a856c997254f74f6942daa6464919#diff-503d5e950dc7e5e9b9eeacfdd49947d480413ffc60a153cb5bb462dffd48d916). Please let us know if additional changes would be helpful.

[2021-03-22 17:13] adegeo opened #23425 "Conflicting docfx products"
https://github.com/dotnet/docs/blob/52b930b31e45e1ad015e0ccc673af51e1cb96ab6/docfx.json#L173-L174

It looks like docfx is picking up both products for files in the _core/install_ folder. We need to break this up into individual folders.

[2021-03-22 17:32] IEvangelist commented on #10217
Thank you @adegeo -- I'll take a look at this!

[2021-03-22 17:56] tdykstra commented on #22959
ping @nkolev92

[2021-03-22 18:09] nkolev92 commented on #22959
Cross platform package signature verification support was added in the .NET 5.0.100 SDK.

Unfortunately the docs don't make that super clear.
https://devblogs.microsoft.com/nuget/getting-started-with-nuget-5-8/
https://docs.microsoft.com/en-us/nuget/release-notes/nuget-5.8

[2021-03-22 18:15] tdykstra commented on #22959
Thanks!

[2021-03-22 18:30] #23415 closed

[2021-03-22 18:41] akoeplinger commented on #6773
#22797 didn't fully fix the original issue since https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/code-generation#debugtype still only mentions `pdbonly`/`full` and misses the `portable` and `embedded` options, even though `portable` is the default and recommended option for new .NET projects now.

Reopening, @BillWagner not sure if this will put it in the correct

[2021-03-22 19:08] #22959 closed

[2021-03-22 19:12] KevinSWork opened #23433 "How to write C# analyzer code fix is inconsistent in its message in documentation and the example code"
The documentation is out-of-sync with the example code.  The documentation states to make the AnalyzerMessageFormat:

Variable '{0}' can be made constant

When later issuing the diagnostic, the code is:

context.ReportDiagnostic(Diagnostic.Create(Rule, context.Node.GetLocation()));

Note that no argument is passed to Diagnostic.Create to substitute for the {0} in the format string.

If I look at t

[2021-03-22 19:26] Youssef1313 commented on #23433
Thanks @KevinSWork. I'll get that fixed.

[2021-03-22 19:45] #22583 closed

[2021-03-22 19:55] deanveggy opened #23436 "why is it that the Microsoft team always give the most compex scenarios to explain stuff in the most complicated/bloated way. Why not choose the simple examples first!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b95913-4dea-8160-0184-9aaf6c2c363e
* Version Independent ID: b779abdd-e97e-2fa5-87a9-76b859c38c7c
* Content: [How to: Return a Value from a Task](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/how-to-return-a-value-from-a-task

[2021-03-22 20:06] gewarren opened #23439 "Table doesn't render correctly on GitHub"
This table doesn't render correctly on GitHub, but it does on live. Perhaps we need to escape the vertical bar with a backslash.

[2021-03-22 20:10] IEvangelist commented on #23436
Hi 👋 @deanveggy

Thank you so much for posting this issue. We really appreciate it. I see what you're saying here, it does seem a bit complex and could be simplified.

I typically suggest never using the `.Result` property, instead you should be using the `await` keyword to get the result instead. I'll take a look at addressing this.

[2021-03-22 20:15] wizofaus opened #23440 "No mention of support for distributed/load-balanced systems?"
The only reason I've never seriously looked into using IHostedService for background tasks is because it's never been clear how it might work in load-balanced web-servers where you might have 4 or 5 machines all running the same service behind a load-balancer.  Could this be explained here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-03-22 20:38] Youssef1313 commented on #23420
Thanks @SaSha-K1. I'll fix that.

@gewarren Do you know why there were no build warnings?

[2021-03-22 21:29] #23420 closed

[2021-03-22 21:30] gewarren commented on #23420
No, that is strange. I'll investigate and open a bug if necessary.

[2021-03-22 22:10] gewarren commented on #23420
I logged internal bug https://dev.azure.com/ceapex/Engineering/_workitems/edit/397329.

[2021-03-23 03:32] wh-alice commented on #23380
@IEvangelist , thanks for pointing out this and sorry for misleading the information. . I discussed this with @rloutlaw offline and currently we do not suggest to use this metadata for samples repositories, which is the reason for the deprecated information you found in your documentation. Only windows based samples will keep using it caused by their complexity folder. If your team do need this li

[2021-03-23 08:22] foreverstupid opened #23448 "Wrong description of inequalities with NaN results"
[Enter feedback here]
Any comparision with `double.NaN` returns `false`. But this page says that inequalities between values and `double.NaN` returns `true`. That is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6bf1c84-36bb-3d48-d632-5473070c5701
* Version Independent ID: dff2500c-c6d4-2cfd-5409-663feb6805e4

[2021-03-23 09:10] Youssef1313 opened #23449 "An extension method for AsClauseSyntax API isn't documented"
https://github.com/dotnet/roslyn/blob/91571a3bb038e05e7bf2ab87510273a1017faed0/src/Compilers/VisualBasic/Portable/Syntax/SyntaxExtensions.vb#L48-L63

It's already a public API in roslyn. But the extension methods section doesn't show it.

cc: @gewarren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca494096-7838-4485-5

[2021-03-23 09:11] Youssef1313 commented on #23449
Note that the API is 7-years old :smile:

https://github.com/dotnet/roslyn/blame/91571a3bb038e05e7bf2ab87510273a1017faed0/src/Compilers/VisualBasic/Portable/Syntax/SyntaxExtensions.vb#L48-L63

[2021-03-23 10:04] pkulikov commented on #23448
Inequality with NaN returns true:
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4AEBMADALABQBAjGWbhQJwAUFAdIQAQCEAvGwCYD26YABs4zAHIRxASgDcQA==

[2021-03-23 10:20] foreverstupid commented on #23448
Well, I guess that was ambigous usage of `inequality` term. I thought that here `inequality` means something like the following:
[code]
Ok, then, I've misunderstood the point

[2021-03-23 10:20] #23448 closed

[2021-03-23 12:22] lukos opened #23450 "Ignoring nulls doesn't seem to work during deserialization"
On this page, it only talks about ignoring null values when serializing. However, the property IgnoreNullValues clearing says: "Gets or sets a value that determines whether null values are ignored during serialization and **deserialization**."

The page should make it clear whether it is supposed to apply to deserialization and if not, the code comment should be updated.

This is on dotnet core 3.

[2021-03-23 12:46] #23404 closed

[2021-03-23 14:13] luisquintanilla commented on #23406
Thanks @TThaan for confirming it works. Closing this issue for now

[2021-03-23 14:13] #23406 closed

[2021-03-23 14:20] BillWagner commented on #23449
cc @jmarolf

I would have thought this would be onboarded with the roslyn-api-docs repo. Any ideas why it's missing?

[2021-03-23 14:24] #23433 closed

[2021-03-23 15:29] JVD66 opened #23453 "The examples on this page do not document the 'using' statement at all!"
The examples on the page:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement

do not document the 'using' statement, but rather multi-line string usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042902cc-1598-5df1-34cc-caa0fad63e02
* Version Independent ID: e186d0c4-523e-38

[2021-03-23 15:37] jnm2 opened #23454 "Please document assembly info properties"
These SDK properties are not documented on this page, but they are documented at https://docs.microsoft.com/en-us/dotnet/core/migration/assembly-info:

- GenerateAssemblyInfo (must be turned off to use manual attributes)
- Product (replacement for manual System.Reflection.AssemblyCopyrightAttribute)
- Copyright (replacement for manual System.Reflection.AssemblyCopyrightAttribute)
- AssemblyTitle (

[2021-03-23 15:45] jnm2 opened #23455 "Please document GenerateDocumentationFile property"
`<GenerateDocumentationFile>true</GenerateDocumentationFile>` replaces the need to put `<DocumentationFile>something</DocumentationFile>` in your project.

(See https://docs.microsoft.com/en-us/dotnet/csharp/codedoc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d4dafc-2217-9a7b-4590-27faa85164cd
* Version Independe

[2021-03-23 15:48] jnm2 opened #23456 "Please document more C# compiler properties"
These are documented at https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/language#allowunsafeblocks but not included in the "Compilation-related properties" section:

- AllowUnsafeBlocks
- CheckForOverflowUnderflow
- DefineConstants
- Nullable

Not seeing this documented anywhere yet:

- EmbedAllSources
- EmbedUntrackedSources
- RootNamespace
- AssemblyName

---
#

[2021-03-23 15:54] BillWagner commented on #23456
Those options are all covered in the [CSC task reference for MS Build](https://docs.microsoft.com/en-us/visualstudio/msbuild/csc-task?view=vs-2019) Maybe a link to that is sufficient here?

[2021-03-23 15:55] jnm2 commented on #23456
@BillWagner Sure, but the section already notes one common property and one obscure property. Shouldn't more common properties be noted, or the whole section be replaced with a link?

[2021-03-23 18:14] tdykstra commented on #23408
This will also address #20578

[2021-03-23 18:51] Youssef1313 commented on #23455
Also whatever property for writing source generated files on disk. (can't recall the exact name now :smile:)

[2021-03-23 19:56] jnm2 commented on #23455
GeneratedFilesOutputPath, apparently: https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/MSBuildTask/Csc.cs#L212

Missing from https://docs.microsoft.com/en-us/visualstudio/msbuild/csc-task.

[2021-03-23 20:11] tdykstra commented on #23453
Thank you for your feedback. Both of the examples do have the using statement in them, so how do they fail to illustrate the using statement?

[2021-03-23 20:13] deanveggy commented on #23436
hi @IEvangelist thank's for that. sorry i was a bit over the top with the 'always' ..not quite true.  i have a c# Blazor project full of Async methods but a little frustrated debugging due to my lack of understanding of Tasks & Async etc    :-)

[2021-03-23 20:13] #23436 closed

[2021-03-23 20:19] IEvangelist commented on #23436
No worries, trust me when I say that I understand - we've all been there. Happy to help, let me know if you need more assistance. Thank you

[2021-03-23 20:23] #23224 closed

[2021-03-23 20:23] #10217 closed

[2021-03-23 20:29] tdykstra commented on #23125
Yes

[2021-03-23 20:47] tdykstra commented on #22810
Fixed by #22870

[2021-03-23 20:47] #22810 closed

[2021-03-23 22:25] kgouraw opened #23465 "It's not clear difference between protected, private protected, and protected internal from given example."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee5e6972-0f7a-8bb7-9f5a-0ba75909f9d8
* Version Independent ID: 618c0361-38a0-4d6f-f46a-881db2e4b399
* Content: [private protected - C# Reference](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/private-protected)
* Content S

[2021-03-24 04:50] Scatterblak opened #23467 "Crap information."
Top of the page:

===========================

.NET formatting rules: Rules that apply to both C# and Visual Basic. The EditorConfig option names for these rules start with dotnet_ prefix.
C# formatting rules: Rules that are specific to C# language only. The EditorConfig option names for these rules start with csharp_ prefix.
===========================

...and then the entire page is nothing to c

[2021-03-24 07:48] daxianji007 commented on #23380
@IEvangelist @Youssef1313
Currently the function **Release Generating** is turned off by default (and might be stopped in the future). So, the `extendedZipContent` metadata is `Deprecated`. We just keep this entry for forward compatibility incase some existing samples still need it.

You are able to enable the function **Release Generating** without including extra files. Just write `extendedZipCo

[2021-03-24 11:36] Youssef1313 opened #23472 "IDE0130 is not documented"
Roslyn PR: https://github.com/dotnet/roslyn/pull/49990
cc @ryzngard in case you want to take this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0a396c1-9c21-75a9-70b5-799cafc941b5
* Version Independent ID: 6d91b560-c12f-6e6d-e92b-1babb27edb67
* Content: [Code style rules overview - .NET](https://docs.microsoft.com/e

[2021-03-24 12:29] BillWagner commented on #23467
@Scatterblak

I can sense your frustration. We know there are locations where we need to improve the VB examples and descriptions. Thank you for bringing it to our attention.

In the meantime, you should read the .NET Foundation [code of conduct](https://dotnetfoundation.org/about/code-of-conduct) and consider editing your description above.

[2021-03-24 12:37] Youssef1313 opened #23473 "Should experimental IDExxxx be doc'ed?"
https://github.com/dotnet/roslyn/blob/6da1274c9d24c2f90a48290394a951b23617f2a3/src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs#L175-L180

[2021-03-24 13:17] #20578 closed

[2021-03-24 13:21] kelvix opened #23474 "Potentially missing StreamWriter in new(..."
On https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/file-system/how-to-write-to-a-text-file#append-text-to-an-existing-file

[code]

May be missing a `StreamWriter`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fbd113-dbad-8aef-4e74-151b0b7189ff
* Version Independent ID: 1e02473f-562b-aa40-756e-1c147

[2021-03-24 13:22] kelvix commented on #23474
It's a C# 9.0 feature. Too early..

[2021-03-24 13:22] #23474 closed

[2021-03-24 13:26] BillWagner commented on #23465
Thanks for noting this @kgouraw

It is always a challenge to keep samples brief, and display them online, while explaining how classes in different assemblies have different rules.

We've added this to our backlog to update when we next update these articles.

[2021-03-24 13:29] BillWagner commented on #23456
@jnm2 A few of us need to work together to get all the information in the best place, without duplication.

I'd like to learn how you landed on this page vs. C# the compiler options page or the MS Build section in the Visual Studio docs. That can help us find where to put the information and where to link to that one source.

[2021-03-24 13:42] jnm2 commented on #23456
@BillWagner I searched for something similar to https://www.google.com/search?q=.net+core+new+msbuild+properties and this was the first result. I had a memory of a page that used to exist that explained all the csproj SDK properties that got added for .NET Core which was my previous go-to for this.

[2021-03-24 14:26] Dmitry-Me opened #23475 "Misleading wording on how to specify class id when exposing class to COM"
It point 8 it says

First, it says "interface" near the end of the sentence. It should be "class" here. "interface" was clearly copied from point 5 and here it's misleading.

Second, this step-by-step explanation is so detailed that it's clearly for noobies. Noobies may not know that class id and interface id should better not be the same. It'd be better to add that it "must be unique, because []

[2021-03-24 14:29] Dmitry-Me opened #23476 "Unclear wording about a breaking change in exposing classes to COM"
At the end of "Create the library" section there's this paragraph marked as an important note:

Unlike in .NET Framework, .NET Core requires you to specify the CLSID of any class you want to be activatable via COM.

What is it trying to say? I have some experience exposing classes to COM in .NET Framework and only classes marked `ComVisible` are exposed. This paragraph says something very similar.

[2021-03-24 15:47] #20579 closed

[2021-03-24 18:44] #23408 closed

[2021-03-24 18:48] gewarren commented on #23449
Those extension methods do appear in the API docs here: https://review.docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.visualbasic.syntaxextensions?view=roslyn-dotnet&branch=master#methods. They are just not appearing under the Extensions Methods section of the types they extend. I logged an [internal bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/398915) to look into tha

[2021-03-24 19:05] Youssef1313 commented on #23449
There is a `Kind` extension method.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.visualbasic.visualbasicextensions.kind?view=roslyn-dotnet#Microsoft_CodeAnalysis_VisualBasic_VisualBasicExtensions_Kind_Microsoft_CodeAnalysis_SyntaxNode_

https://github.com/dotnet/roslyn/blob/91c8cbafb0500d45c36d4586917ca11f0f021285/src/Compilers/VisualBasic/Portable/VisualBasicExtensions.vb#L

[2021-03-24 19:47] xt0rted opened #23479 "Mention that docker based actions only run on Ubuntu vms"
Docker based actions only work when your workflow runs on a Ubuntu/Linux vm, since Windows is heavily used for .net it'd be helpful to mention this caveat. I build, test, and package dozens of full framework applications using actions but they have to run on Windows while supporting things like linting and automation can run on Ubuntu or macOS.

[Actions documentation showing Docker support](https

[2021-03-24 19:55] tdykstra commented on #23237
@wli3 please confirm if these answers are correct:

The environment variable can be set at any time after SDK installation to stop telemetry from that point forward.

Apps built with the SDK don't send telemetry data. The only way running an app results in telemetry data being sent is when the command `dotnet run` is used.

[2021-03-24 20:03] IEvangelist commented on #23479
Hi 👋 @xt0rted
Thank you so much for posting this issue. We really appreciate it. That is a great callout, I will add that soon.

[2021-03-24 20:15] tdykstra commented on #23450
Thanks for reporting that - I'm updating the API ref article.

[2021-03-24 21:12] #23450 closed

[2021-03-24 22:01] #23124 closed

[2021-03-24 23:04] #22846 closed

[2021-03-25 01:29] DuddyRosenberg opened #23484 "Error following tutorial"
I’m  trying to do this  [tutorial](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/time-series-demand-forecasting) on forcasting with MLnet and it just blows up on Line 47 `SsaForecastingTransformer forecaster = forecastingPipeline.Fit(firstYearData);` in program.cs, error message just saying `Exception has been thrown by the target of an invocation.`. Am i the only one?
---
###

[2021-03-25 02:12] StingyJack opened #23485 "When I use a template created after following this tutorial, the projects are always created in a /template subfolder and not where I ran the `dotnet new` command"
the template package csproj file says that the projects go into the /working/templates folder as subfolders, so when I run dotnet new to use the template a /templates subfolder is created in the folder where I ran the command, and the project folders in that as subfolders.

I looked at a few of the examples in the https://github.com/dotnet/dotnet-template-samples/ repo but those dont look like thi

[2021-03-25 05:21] StingyJack commented on #23310
That sounds like its some kind of floating version, which I do not want to have.

[2021-03-25 12:53] SunnieShine opened #23488 "Docs may mention about the feature 'unconstrainted type parameter' in C# 9"
C# 9 creates a new feature that allows us use nullable annotation `?` onto an unconstrainted type parameter. However, at present only those proposals in the repo 'csharplang' mention about it. I personally think that this feature is important to help us use them correctly, so it can be extracted to a new page to display the feature.

I think that the following features are important that should be

[2021-03-25 13:08] luisquintanilla commented on #23484
Hi @DuddyRosenberg

Thanks for raising this issue. Looking into it.

[2021-03-25 13:48] BillWagner commented on #23488
Thanks @SunnieShine

We haven't a task identified for this feature. I've added it to the C# 9 project, and to our backlog.

[2021-03-25 15:53] #17906 closed

[2021-03-25 17:00] adegeo commented on #23485
Hi @StingyJack I'll run through the docs and see what happens. Which SDK are you using?

[2021-03-25 17:21] wli3 commented on #23237
There is telemetry sending during the installation. You need to set it before the installation to stop all telemetry.

[2021-03-25 17:28] tdykstra commented on #23450
My mistake, this option does work during deserialization. See https://github.com/dotnet/dotnet-api-docs/pull/5470#issuecomment-806306430

[2021-03-25 17:39] lukos commented on #23450
I think the confusion that I had was that I was deserializing a set of key/value pairs to a dictionary and it included the null values, which I didn't want.

I don't really understand what ignoring null means during deserialization anyway unless your properties have default values, otherwise they will be null by default so there would be no difference between deserializing null onto null or just i

[2021-03-25 17:41] tdykstra commented on #23450
That's what it's used for

[2021-03-25 17:45] StingyJack commented on #23485
The projects all target 3.1. This is the template packaging project's csproj and template json

[code]

[code]

[2021-03-25 17:46] adegeo commented on #23485
Hi! Sorry I was in the middle of appending my comment with more information after running through the template article. I was going to ask for the info you just provided. I'll check it out.

[2021-03-25 17:53] adegeo commented on #23485
How many `./template.config/template.json` items do you have? I see that you have loose .sln and .md files in the template folder. Are you trying to do one giant single template that outputs all the individual folders+projects?

[2021-03-25 19:57] noahfalk commented on #23140
@michaeljunkin thanks for the feedback! I recently checked in substantial changes to this page and overhauled the samples. When you get a chance could you let us know if the [new content](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/distributed-tracing) is more helpful or if you are still running into trouble?

[2021-03-25 20:11] noahfalk commented on #22854
Does [this issue](https://github.com/dotnet/runtime/issues/43853) capture what you were looking for? The short answer is this was a missing capability for the StartActivity() API that we added in .NET 5 and we hope it has been fixed as part of our .NET 6 work.

[2021-03-25 20:14] nms-snagle commented on #20485
The code calls a method `ApplyButter(toast);` but the diagram does not show it. The diagram only shows a call to `ApplyJam(toast);`

[2021-03-25 20:58] StingyJack commented on #23485
Just the one `templateconfig/template.json` referenced in the package csproj.

This first template is a "half stack" with DAL, WebApi, and a few other projects. When we onboard a new customer project this would be the starting point that takes care of most of the boilerplate and making sure that some the usual controls are in place. We have a few other variations with different project types, but

[2021-03-25 21:51] adegeo commented on #23485
Ahhhhh OK that is your problem. You need to move that `\.template.config\` folder into the `templates` directory. That folder should be at the level of your template content itself.

[2021-03-25 22:05] tdykstra opened #23494 "Show how to call built-in converters from a custom converter"
https://github.com/dotnet/runtime/issues/50205#issuecomment-807137317

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de37d79-751f-e372-e866-efde28f4908c
* Version Independent ID: 678c4f23-764a-7ccd-0d6d-159a30957477
* Content: [How to write custom converters for JSON serialization - .NET](https://docs.microsoft.com/en

[2021-03-26 03:02] scegg opened #23497 "Typo as PreferStreamAsyncMemoryOverlodas"
At the top of this page:

Type name | PreferStreamAsyncMemoryOverlodas

contains a typo Overloda.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa190dde-c027-f326-252b-39df26dc94d4
* Version Independent ID: 2553bedd-3996-700c-7595-3321b830b5ea
* Content: [CA1835: Prefer the memory-based overloads of ReadAsync/WriteAsy

[2021-03-26 04:51] cartermp commented on #23416
Seems like a reasonable thing to clarify in the guide.

[2021-03-26 04:53] cartermp commented on #23278
Yeah, ugh. This whole document likely needs a rewrite here. I don't think the examples are very good to show now. It won't be terribly easy though, since it would require contriving up some new samples. Maybe something with `#r "nuget:..."` on SqlProvider?

[2021-03-26 07:21] Hussein-Mohammed opened #23499 "missing line of code in the tutorial.."
When you define the "classifierOptions ", I think that you forgot to add the last line "WorkspacePath = workspaceRelativePath". Therefore, the model can not be saved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8adaedc-37da-e381-a87e-6649bc6cb3c8
* Version Independent ID: 779340cf-274b-5af9-54f0-b9b90c54f143
* Cont

[2021-03-26 12:52] KevinSWork opened #23501 "Create tests for valid declarations: Some tests the writeup says should fail do not fail"
The section 'Create tests for valid declarations' gives an example of one test that should pass and then four tests "you haven't handled yet".  The text after those four tests says: "Run your tests again, and you'll see these new test cases fail."

Two of the four tests that should fail will pass.  VariableIsAlreadyConst_NoDiagnostic, which has a variable that is already declared as const, is hand

[2021-03-26 13:55] StingyJack commented on #23485
@adegeo - that was it.  Since the tutorials didnt actually cover the multiple project packing, I had been basing the folder structure off of the [multi project sample ](https://github.com/dotnet/dotnet-template-samples/tree/master/05-multi-project)  which has...
[code]
... like I had been trying to do.

Thanks for the assistance and the extra set of eyes.

[2021-03-26 13:55] #23485 closed

[2021-03-26 14:10] Slugsie opened #23503 "*Minor - Discrepancy between code and comment"
The example code for 'Continue For' says 'between 5 and 7' in the comments, but the code checks for >= 5 and <= 8, so the comment should be 'between 5 and 8'
`

    ' If number is between 5 and 7, continue
    ' with the next iteration.
    If number >= 5 And number <= 8 Then
        Continue For
    End If
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-03-26 14:26] BillWagner commented on #23501
Thanks for noting this @KevinSWork

I think that the article updates missed this change when the code was updated in the last cycle.  We'll get this fixed.

[2021-03-26 14:42] #16763 closed

[2021-03-26 14:42] #20414 closed

[2021-03-26 14:42] #23320 closed

[2021-03-26 15:23] adegeo commented on #23485
Sure thing! It might be good in this article to showcase the folder structure with the two templates created in the previous tutorial steps.

[2021-03-26 15:25] StingyJack commented on #23485
... or get those samples fixed. =D

[2021-03-26 15:29] adegeo commented on #23503
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2021-03-26 15:37] adegeo commented on #23497
Thank you for opening this issue. I'll get this fixed up.

Thanks again!

[2021-03-26 15:39] adegeo commented on #23475
Thank you for opening this issue. I'll add it to the backlog. If you would like to contribute, you can submit a fix by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2021-03-26 15:48] adegeo commented on #23485
I believe the template should be OK. If you take that `05-multi-project` folder and put it in the `templates` folder for the tutorial project, everything works fine.

[2021-03-26 16:59] gewarren commented on #23467
@Scatterblak This seems like a feature request where you are requesting more formatting options that apply to Visual Basic. Is that correct?

[2021-03-26 17:03] gewarren opened #23508 "Change COMPlus_ to DOTNET_"
This issue tracks the documentation changes required for dotnet/runtime#47283.

[2021-03-26 17:17] #17205 closed

[2021-03-26 17:22] #23497 closed

[2021-03-26 18:28] adegeo commented on #23508
@gewarren we should have a categorization label (like `doc-enhancement`) or use the `information architecture` label for generic issues we wan't excluded from reporting.

[2021-03-26 18:45] gewarren commented on #23456
It probably makes sense not to have any C# option properties on this page, but to include a section header and a link to the C# compiler options page.

[2021-03-26 19:22] luisquintanilla commented on #23484
@DuddyRosenberg

I was not able to reproduce. I created the app from scratch and got the expected output without errors. Can you try starting again and taking a look at what I've pasted below to see if there's differences between your code and mine.

[code]

This is the code in my `Program.cs`.

[code]

Here is the project structure and package versions I'm using:

![image](https://user-images.git

[2021-03-26 20:14] UpperAvenue opened #23513 "ZipFile.ExtractToDirectory(string, string, bool) incorrectly states destination directory cannot exists"
**Issue description**

[ZipFile.ExtractToDirectory(string, string, bool) documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfile.extracttodirectory?view=net-5.0#System_IO_Compression_ZipFile_ExtractToDirectory_System_String_System_String_System_Boolean_)

Documentation states the destination directory specified must not exist, but that is not true if the *overwrite

[2021-03-26 20:36] laurentkempe opened #23514 "Figure 6-1. How Dapr service invocation works."
On figure 6-1 the two call 1 and 3 cannot both call on localhost:3500, if Service A sidecar runs on port 3500 then Service B cannot run on port 3500.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d522d53-8c5f-abad-579e-57bee47a7ed5
* Version Independent ID: 4e31baee-3178-0ab4-980c-c7c24813531d
* Content: [The Dapr se

[2021-03-27 01:18] MelbourneDeveloper commented on #21366
@layomia is there no option to simply ignore unsafe types? If not, isn't that a bug?

[2021-03-27 01:19] MelbourneDeveloper commented on #21366
How do we hook in to the processor so that we can just ignore these types?

[2021-03-27 02:25] Rick-Anderson opened #23518 "REST client improvements"
* REST client provides poor SEO. Something like, Call a HTTP endpoint or Web API from a console app - or something like that.
* You'll learn: - list is way too long. Most folks doing this will know about CLI, C#,etc. I wouldn't mention NuGet. Doesn't even mention the main point, calling an endpoint
* Prerequisites: Far too verbose. Loose all the pronouns, it's much shorter that way. Just a nice bu

[2021-03-28 03:09] #23381 closed

[2021-03-28 21:42] PingPongSet opened #23524 "Availablility of the source code for the article"
The source code where `WebApp` connects to `WebApi` is missing. Is it possible to provide this?

Another question is that how to reference `WebApiBaseAddress` in code defined `docker-compose.override.yml` file?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa8619-2154-00fb-5994-09b7a9673e03
* Version Indepen

[2021-03-28 21:46] PingPongSet opened #23525 "Request for resources to understand deploy-webapi.yml and deploy-webapp.yml"
Is it possible to provide references to understand the meaning of all the fields in the two files below referenced by the article?

**deploy-webapi.yml**
[code]
**deploy-webapp.yml**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa8619-2154-00fb-5994-09b7a9673e03
* Version Independent ID: 182cacc8-12d1-70ac-6

[2021-03-28 21:57] PingPongSet opened #23526 "Docker compose and Kubernetes"
Based on the comment below, Is it correct that the orchestration is done locally via Docker Compose (docker-compose.yml file), and via Kuberneates (deploy-webapp.yml files) on Azure?

docker-compose.yml
[code]
**deploy-webapi.yml**
[code]

**deploy-webapp.yml**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95a

[2021-03-28 23:47] IG020 opened #23527 "Couldn't print the article on both sides of paper."
In printer options I selected "print on both sides of paper", but the article was still printed only on one side producing 7 pages instead of 4 pages.

Igor Gelin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576a6c40-a4ad-5922-a7d7-51e0f13baf61
* Version Independent ID: f2f1676b-0ba1-9601-37f5-2fd6aa63f682
* Content:

[2021-03-29 00:48] StingyJack opened #23528 "Is there any package upgrade command or notification for templates?"
Templates can be updated regularly, without blindly uninstalling and installing (would that even install the latest or would it re-use cached), is there another way to determine if there is a need to upgrade a template package and then run the upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd27054-288a-cd42-1

[2021-03-29 03:03] RussKie opened #23529 "[WinForms] DataGridView-related API validate state and throw IOE"
## Selected DataGridView-related API validate object state and throw `InvalidOperationException`.

Selected API now validate object state and throw `InvalidOperationException` where previously a `NullReferenceException` could be thrown, if APIs were invoked without being constructing with a valid `Owner`.
Throwing `InvalidOperationException` is inline with the behaviours in .NET Runtime, and provi

[2021-03-29 04:42] pevans360 opened #23530 "Brilliant Piece of Work"
Nice analogy - makes for a clear, concise and memorable explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Independent ID: e0c09794-e712-19ff-cb9f-12648d60d4f6
* Content: [Asynchronous programming in C#](https://docs.microsoft.com/en-us/dotnet/csharp/programming-g

[2021-03-29 06:11] PabloJomer opened #23531 "Can't set reliableMessagingVersion in vs 2019 community edition."
reliableMessagingVersion can't be set in the 2019 version of visualstudio. When was it removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12300eca-40bd-35ad-8ba6-582084c62f22
* Version Independent ID: 4a4f2890-be60-8780-1fb9-8b28907925a2
* Content: [&lt;reliableSession&gt;](https://docs.microsoft.com/en-us/dotnet/

[2021-03-29 07:17] Symbai opened #23532 "Suggestions: Show simplify usage of Tuple results in if clauses"
Something I didn't know is that if a function returns a Tuple you don't need to store the result in an extra line/variable, if you want to check the result in an if-clause AND want to use a variable of the Tuple in BOTH if-cases. I believe for beginners it will be very useful to show this in the documentation.

Example of **non** tuple function and use case:

[code]
Now this function has changed i

[2021-03-29 08:00] sughosneo commented on #23526
Hi @PingPongSet , thank you for reaching out.

Yes, your understanding is correct both the `docker compose` and `Kubernetes` are the container orchestration tool.
Whereas `docker compose` is popular to orchestrate the containers in local on the other hand the `Kubernetes` has become the most popular choice of orchestrating the containers in production scenarios.

In the reference sample [eShopOnCo

[2021-03-29 08:47] pkulikov commented on #23532
@Symbai is this divrem update in .NET 6? The current API docs don't have such a method.

[2021-03-29 08:58] sughosneo commented on #23525
Hi @PingPongSet, thank you for reaching out.

You can refer [Deployments](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) section in [kubernetes.io](https://kubernetes.io/) to learn more about each field of that provided `yaml` file.

[2021-03-29 10:31] KrakenZ opened #23533 "Path attribute on <inheritdoc/>"
The ```path``` attribute is missing.

I only wanted to include the "returns" part of a inherited documentation.
Had to waste time looking up that ```path``` attribute exists, XPath expression is a thing, and had to learn how to actually do it.

Noting that ```path``` attribute is a XPath expression, with references/examples to what can be done in it would be great.

Here's the paths I use; could b

[2021-03-29 10:40] Symbai commented on #23532
I believe it is, here is the corresponding issue: https://github.com/dotnet/runtime/issues/42156

[2021-03-29 11:15] pkulikov commented on #23532
@Symbai Yes, I see, the article can be updated with the section about tuples and pattern matching.
@BillWagner is this reference article a proper place for such a section?

[2021-03-29 11:22] PingPongSet commented on #23526
@sughosneo
Thank you for your all links and info, which is helpful.

On using Kubernetes locally, I wonder if there is an easier example and info on this for an ASP.NET Core example (including two projects). The eShopOnContainers are way too big to learn and run.

[2021-03-29 11:31] sughosneo commented on #22962
I am closing this issue as it has already been addressed. Please feel free to reopen it, if you have any further questions.

Thank you.

[2021-03-29 11:31] #22962 closed

[2021-03-29 13:48] BillWagner commented on #23530
thank you for the kind words @pevans360 We appreciate it.

Closing as kudos.

[2021-03-29 13:48] #23530 closed

[2021-03-29 13:49] BillWagner commented on #23533
Thanks for noting this @KrakenZ

I'll be updating this section shortly. I'll address this at that time.

[2021-03-29 13:58] BillWagner commented on #23532
@Symbai @pkulikov

This is an idiom we should document.  I can see other uses over time as more APIs return tuples, either in the .NET libraries, Nuget packages, or internal customer libraries.

It feels like this is more of a tutorial than a reference example though. That's my first thought, so I'm open to other views. What do both of you think?

[2021-03-29 14:06] pkulikov commented on #23532
@BillWagner I also think that it fits a tutorial more than a reference article.

[2021-03-29 14:10] Symbai commented on #23532
You may be right with your last paragraph @BillWagner but if you highlight an API and press F1 in VS this is what it opens in VS and I'm using this a lot when I have to look up how something is used. And because the topic contains "Use cases of Tuple" section it won't be too wrong to add a use case of a function returning a Tuple and how it can be used when calling this function. I mean it will be

[2021-03-29 15:46] tdykstra commented on #23237
@MikeCJohnsonUk does that answer your question?

[2021-03-29 16:32] adegeo commented on #23531
@mconnew can you comment?

[2021-03-29 16:34] adegeo commented on #23526
It seems this issue is resolved. I'll close it.

[2021-03-29 16:35] #6773 closed

[2021-03-29 16:43] adegeo commented on #23528
When you use the template, there is a notification that there is an upgrade available along with the command to do the upgrade.

I believe this answers your question, I'll close this issue.

[2021-03-29 16:43] #23528 closed

[2021-03-29 17:13] #23416 closed

[2021-03-29 18:42] gewarren commented on #23513
This issue was moved to dotnet/dotnet-api-docs#5483

[2021-03-29 18:42] #23513 closed

[2021-03-29 18:52] IEvangelist commented on #23356
Closed by #23414

[2021-03-29 18:52] #23356 closed

[2021-03-29 19:33] mconnew commented on #23531
@PabloJomer, I have installed the latest 2019 Community Edition and can't see a problem. What do you mean by can't be set?
Are you trying to use the WCF Configuration Editor? The WCF Workload isn't installed by default which means you would be missing the config file right click menu option "Edit WCF Configuration".
Or is the issue with the config XML schema not showing you options in intellisense

[2021-03-29 19:44] vmussa opened #23539 "Jupyter/Binder URL is broken in "Introduction to C#" tutorials page"
Hello, everyone.

Jupyter/Bind tutorial's URL is broken due to GitHub's change in branch naming convention, from "master" to "main".

**Description**
Current broken URL: https://mybinder.org/v2/gh/dotnet/try-samples/master?filepath=hello-csharp%2Fhello-world.ipynb

**Solution**
Actual functioning URL: https://mybinder.org/v2/gh/dotnet/try-samples/main?filepath=hello-csharp%2Fhello-world.ipynb

---

[2021-03-29 20:42] BillWagner opened #23540 "The XML doc section should move to language reference"
This section is more of a reference section than a programming guide section.  So, it should move to the correct location.

As part of the move:

- [x] The overview section should be updated to include a typical workflow. It should also be more opinionated about its use.
- [x] The overview section may be one or two articles (Note that some articles are just link pointers, and the "recommended list

[2021-03-29 21:07] PingPongSet commented on #23526
@adegeo I asked @sughosneo a question, awaiting for his reply.

[2021-03-30 00:19] MikeCJohnsonUk commented on #23237
Thank you, yes that does answer my questions as to whether the telemetry was active
a) for SDK installation
b) for build time use of the SDK
c) for applications built using of the SDK at application run-time

[2021-03-30 01:09] adegeo commented on #23526
@PingPongSet Sure, I'll reopen it.

[2021-03-30 02:21] tdykstra commented on #23104
@macha-firstis Thank you for reporting this issue about consistent use of terminology. In this instance, however, I believe the language used in the docs is mostly consistent and accurate. I went through this article and those it links to, looking at the use of "value," and I found few places where it seemed like "value" was used inconsistently and a different word such as "variable" was a better

[2021-03-30 03:23] pnagori02 opened #23558 "Mismatch in HeapHardLimitPercent documentation"
Heap limit percent - https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector#heap-limit-percent
This link says - "**The default value, which only applies in certain cases, is the lesser of 20 MB or 75% of the memory limit on the container. The default value applies if:**
Specifies the allowable GC heap usage as a percentage of the total physical memory.

If System.GC.HeapHar

[2021-03-30 04:39] voxvanhieu opened #23543 "Definition of Abstraction and Encapsulation are incorrect."
I'm sure that "Encapsulation means that a group of related properties, methods, and other members are treated as a single unit or object." But It's confusing to define that "Encapsulation means hiding the unnecessary details from type consumers." Because "hiding the unnecessary details from type consumers" is right for abstraction also. The difference is Encapsulation hides details from accessing,

[2021-03-30 07:21] PabloJomer commented on #23531
The studio complains that the attribute does not exist. Also when building the application crashes on the same error.

`<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

[2021-03-30 08:42] Scooletz commented on #23421
It's really nice to see an issue being raised for it and calling out other providers to share their opinion about it. Really well done 👏

[2021-03-30 10:30] pb-qs opened #23547 "Can C# 9.0 be used with .NET Core 3.1 ?"
[Enter feedback here]

Can C# 9.0 be used with .NET Core 3.1 ?  And is it supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-9b0d-6ee76afd20e4
* Content: [What's new in C# 9.0 - C# Guide](https://docs.microsoft.com/en-us/dotnet/cs

[2021-03-30 10:44] Youssef1313 commented on #23547
You can use it, but it's not officially supported, and some features that depend on runtime support might not work.

[2021-03-30 10:48] Youssef1313 commented on #23543
Related to https://github.com/dotnet/docs/pull/22888 and https://github.com/dotnet/docs/pull/23315.

[2021-03-30 11:27] NeilMacMullen opened #23549 "Net 5 documentation appears to be missing a compatibility roadmap"
The .Net 5 documentation has a useful section for "breaking changes" at the local level but I have been completely unable to find a document that describes the how different components in the .Net ecosystem support or plan to support .Net5.  This is important because it's easy to think that you can just upgrade a library or component to .Net5 only to discover that component is required by somethin

[2021-03-30 11:47] bjthomson opened #23550 "USB-I2C bridge"
I'm fairly sure this page used to say the code would work on a PC (Win 10 Pro) using a USB-I2C bridge, that would be my use case.
I have a FTDI module - UMFT201 - but it only supports a virtual COM port interface, could someone please clarify what bridge module you tested this code with?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-03-30 13:58] #23186 closed

[2021-03-30 14:04] BartoszKlonowski opened #23551 "IdentityServer is not an open-source anymore"
The creator of IdentityServer mentioned in his [blog](https://leastprivilege.com/2020/10/01/the-future-of-identityserver/):

Also the license update mention in project [description](https://github.com/IdentityServer/IdentityServer4):

_Originally posted by @yaroslavvasko in https://github.com/dotnet/docs.pl-pl/issues/208#issuecomment-808428306_

Edit by @BillWagner to include document details bloc

[2021-03-30 14:19] BillWagner commented on #23532
Thanks for the discussion. I'm open to either or both options as a fix.

I've added it to our list of issues to address.

[2021-03-30 14:20] BillWagner commented on #23539
Thanks for pointing this out @vmussa

I see that @Youssef1313 has already submitted a fix. I'll review that and merge it today.

[2021-03-30 14:24] BillWagner commented on #23543
I'll add this to our backlog.

We've had several issues written for these definitions. It's clear they can be expressed better.

[2021-03-30 14:30] BillWagner commented on #23547
@pb-qs Good question. As pointed out, that's not supported.

It is possible to edit your project file to use C# 9 with a project that targets .NET Core 3.1, but any number of features may not work as expected.

I'm more curious as to what the blockers are moving from .NET Core 3.1 to .NET 5. That upgrade should be just a matter of changing the TFM. Can you explain why that's a concern?

[2021-03-30 14:33] sughosneo commented on #23186
Hi @sathiathirumal , thank you for your feedback.

We had an internal discussion on this topic and could find that the content mention in the table seems to be right.
But yes, it will be useful if there is more information in terms of choosing different services. And for that reason, we have included the link of [Choose an Azure compute service for your application](https://docs.microsoft.com/en-u

[2021-03-30 14:35] #23539 closed

[2021-03-30 14:40] pb-qs commented on #23547
Hi Bill, yes I was quite encouraged to see that I *could* get a lot of the C#9 to work targetting netcore 3.1, so my main question is it supported to do so?

As to why I can't just go to net 5.0, well the component I am writing is an Azure Function making use of Durable Functions.  Sadly not available until net 6.0 (c. Nov '21) according to the docs.

[2021-03-30 14:41] BillWagner commented on #23547
Ping @CamSoper for any assistance on .NET 5 in Azure Functions.

[2021-03-30 15:24] #20020 closed

[2021-03-30 15:24] #23104 closed

[2021-03-30 15:47] #20015 closed

[2021-03-30 16:09] tdykstra commented on #23237
Questions answered, so I'm closing this issue.  Feel free to reopen if needed.

[2021-03-30 16:09] #23237 closed

[2021-03-30 16:10] CamSoper commented on #23547
@pb-qs It's not super obvious, but .NET 5.0 can be used in Functions, either [by itself](https://docs.microsoft.com/azure/azure-functions/dotnet-isolated-process-guide) or in a [Docker container](https://docs.microsoft.com/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp).

[2021-03-30 16:11] BillWagner commented on #23547
I'll close this as answered.

[2021-03-30 16:11] #23547 closed

[2021-03-30 16:12] tdykstra commented on #22402
There's a request for more info in the runtime repo issue: https://github.com/dotnet/runtime/issues/46920#issuecomment-805099891

[2021-03-30 16:41] pb-qs commented on #23547
Hi  @CamSoper thanks for your reply.

Are you sure Durable Functions is supported on Azure Functions on .NET 5 ?

I read the following article:
https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

If you search for the heading text: "Future of .NET on Azure Functions" you will see a diagram suggesting otherwise ?

thanks
Peter

[2021-03-30 17:30] michielvoo opened #23553 "Clarify how project-to-project references are handled"
The documentation states:

I think (but I am not sure) this phrase is not correct: "aren't packaged inside the project", because things cannot be packaged inside a project. Perhaps what is meant is "References from a project to another project aren't packaged inside the project's package"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-30 17:38] CamSoper commented on #23547
@pb-qs I may stand corrected. I wasn't aware the Durable Functions extensions had such a limitation. Hey @anthonychu, can you please expand on this?

Thanks!

[2021-03-30 17:40] tdykstra opened #23554 "Use a nullable-enabled context for System.Text.Json sample code"
See #23290

This issue applies to all System.Text.Json articles, not just this how-to article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588ae32f-3429-143f-824c-5ab2d046d24a
* Version Independent ID: 002f9f2a-48d1-0671-a079-b99b9f6bab58
* Content: [How to serialize and deserialize JSON using C# - .NET](https://doc

[2021-03-30 17:48] anthonychu commented on #23547
That's correct. If you want to use C# 9 or higher, you'll need to wait for Functions to support .NET 6. We should have a preview out in the summer.

[2021-03-30 18:18] #23503 closed

[2021-03-30 19:38] pb-qs commented on #23547
Thanks for confirming Anthony!Qualitas Software | enquiries@QualitasSoftware.comFrom: Anthony Chu ***@***.***>Sent: Tuesday, 30 March 2021, 18:48To: dotnet/docsCc: Peter; MentionSubject: Re: [dotnet/docs] Can C# 9.0 be used with .NET Core 3.1 ? (#23547)
That's correct. If you want to use C# 9 or higher, you'll need to wait for Functions to support .NET 6. We should have a preview out in the summer

[2021-03-30 20:12] mconnew commented on #23531
The documentation you opened this issue against is for when creating a custom binding. The documentation you need is [here](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/wshttpbinding#syntax) and you can see that there is no reliableMessagingVersion attribute on the reliableSession element for WSHttpBinding. WSHttpBinding is like a recipe, it's a predefined set o

[2021-03-30 20:24] tdykstra commented on #23553
Thanks for the question, would this revised wording be clearer:

[2021-03-30 20:25] BillWagner commented on #20581
After looking at the existing content, changing the plan on this somewhat.  The reason is that the current language reference section doesn't have any content on pointer types. The function pointer (`delegate*`) is subject to many of the same restrictions as other pointer types. The first task is to move the existing "unsafe code and pointers" content from the programming guide to the reference. F

[2021-03-30 21:08] michielvoo commented on #23553
Yes, that removes the ambiguity imho.

[2021-03-30 21:55] StephenBonikowsky opened #23561 "[planning] Migration Guide Documentation Revamp"
- [ ] TOC
   - [x] Draft ready for review & feedback
- [ ] Phase 1 - minimal changes needed to map existing content to the new TOC structure and enable the next phase. [existing migration guide](https://docs.microsoft.com/en-us/dotnet/core/porting/)
   - [x] Identify Phase 1 content (priority 1)
   - [x] Present Phase 1
   - [x] Get approval for Phase 1 (and future phases in principle)
   - [x] Cr

[2021-03-30 21:56] #23290 closed

[2021-03-31 00:55] Sn333 opened #23563 "How can be remove"
**Issue description**

**Target framework**

- [ ] .NET Core
- [ ] .NET Framework
- [ ] .NET Standard

<details>
<summary><strong>dotnet --info output</strong> or <strong>About VS info</strong></summary>

[code]
</details>

[2021-03-31 06:08] PabloJomer commented on #23531
I see I did not realize that it could be different attributes on the same element for different parent elements. Thank you for directing me in the right direction. Where can I read more about default values for WS2007HttpBinding and WSHttpBinding?

Kind regards,
Pablo

[2021-03-31 06:26] MattLavalleeMA opened #23565 "EnforceCodeStyleInBuild has no effect in our netcoreapp3.1 projects"
We recently enabled the "Enable CodeStyle on build" and are not seeing the expected behavior:  For us, the analyzers only run in our netcoreapp3.1 projects when code is edited (triggering IntelliSense) and **do not** (ever) run during build.  Build output (seems to) only show the results of Microsoft.CodeQuality.Analyzers, but none of the other ~20.

Judging by the documentation, this is expected

[2021-03-31 07:13] Youssef1313 commented on #23565
@MattLavalleeMA What version of the SDK are you using? Can you run `dotnet --info` at the directory of your project and paste the output here? Can you also write `#error version` at the top of any code file and paste the error message you get when you build?

[2021-03-31 08:09] domagojmedo opened #23566 "Information about Microsoft Date format in System.Text.Json"
Should migration guide contain information about https://github.com/dotnet/runtime/issues/30776 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Version Independent ID: 9c6a7135-eb75-21a9-1d27-0880459523ca
* Content: [Migrate from Newtonsoft.Json to System.Text.Json - .NET](https:

[2021-03-31 10:27] abdekker opened #23567 "Missing note on VB.NET "AndAlso""
[Enter feedback here]
The documentation on "And" (https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/operators/and-operator) includes an important note about short-circuiting. The note helpfully points out that "And" does NOT short-circuit (though why it doesn't do this automatically is a puzzle), but "AndAlso" DOES short-circuit if the result can be determined from the first

[2021-03-31 11:49] SuperJMN opened #23569 "Event unsubscription"
Regarding this sample:

[code]

I'm concerned about the fact that the event handler is never unsubscribed from the event. I've seen this can cause problems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3690f5e-7d05-118a-3f52-4f5ad92bf94d
* Version Independent ID: 25ae1988-eefb-c34a-cd6a-c134abba46e8
* Content: [Inte

[2021-03-31 13:31] BillWagner commented on #23551
closing and reopening to apply labels.

[2021-03-31 13:39] BillWagner commented on #23567
Thanks for pointing this out @abdekker

I agree with your proposal. I've added this to our backlog, and added the "up-for-grabs" label for any community contributor that would like to submit a PR for it.

[2021-03-31 13:41] BillWagner commented on #23343
closing and reopening to apply new labels.

[2021-03-31 13:41] BillWagner commented on #23343
I've added this to our backlog.

[2021-03-31 14:01] BillWagner commented on #21652
This should be redirected to the [Visual Basic forum](https://docs.microsoft.com/answers/questions/208771/visual-basic-1.html) on Visual Basic.

Closing.

[2021-03-31 14:01] #21652 closed

[2021-03-31 14:01] #23225 closed

[2021-03-31 14:21] #23563 closed

[2021-03-31 15:06] #20432 closed

[2021-03-31 15:06] #10243 closed

[2021-03-31 15:09] #23553 closed

[2021-03-31 15:35] sughosneo commented on #23225
Hi @sander1095 , thank you for your valuable feedback 👍

We have updated the doc with recommended Jitter Strategy as mentioned in [here](https://github.com/App-vNext/Polly/wiki/Retry-with-jitter#more-complex-jitter)

[2021-03-31 16:04] tdykstra commented on #23566
@domagojmedo Thanks for the suggestion.  Yes it should, and there's also issue #19760 associated with the article about [DateTime handling in System.Text.Json](https://docs.microsoft.com/dotnet/standard/datetime/system-text-json-support).

[2021-03-31 16:05] #23421 closed

[2021-03-31 19:30] esb7cp opened #23574 "Inconsistant brackets"
The brackets in the code snippets on this page are inconsistently on the same line as the statement when they should be on the new line.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d79f0472-2434-9724-979f-2d5eb281dd67
* Version Independent ID: 6c665c3e-93ac-cc9e-4d68-91e8cf285ed5
* Content: [th

[2021-03-31 21:38] jmvcollaborator opened #23575 "Evaluate method exception. System.ArgumentOutOfRangeException: 'Score column 'Score' not found (Parameter 'schema')'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e22825-c4ee-5a36-f911-8ad456970ecc
* Version Independent ID: ad0bf640-7dfc-1184-077c-358bb14277a7
* Content: [Tutorial: Analyze website comments - binary classification - ML.NET](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sen

[2021-04-01 00:49] RussKie commented on #21239
I think this is done, and can be closed.

[2021-04-01 00:51] #21239 closed

[2021-04-01 00:55] X3n0n3x opened #23577 "Difficulty Setting up Visual Studio with tutorial"
I'm using Visual Studio 2019, and trying to follow the instruction on this page, but keep getting errors that prevent me from building.  I know from this page:
https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/tutorials/local-environment
that I should use "File > New > Project" instead of "dotnet new console" and I should use "Debug > Start Without Debugging" instead of "dotnet run", b

[2021-04-01 02:36] github-actions[bot] opened #23578 "Update MakeConst.Vsix.csproj from .NET Framework net461 to LTS (or current) version"
The *MakeConst.Vsix.csproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 39 in [docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/MakeConst.Vsix.csproj](../blob/main/docs/csharp/roslyn-sdk/

[2021-04-01 02:41] shao130 opened #23579 "IEqualityComparer<Person>"
Comparing Generic Collections
The following example illustrates the benefits of contravariance support in the IComparer<T> interface. The PersonComparer class implements the IComparer<Person> interface. However, you can reuse this class to compare a sequence of objects of the Employee type because Employee inherits Person.

**It implements IEqualityComparer<Person>, not IComparer<Person>.**

---
#

[2021-04-01 07:35] Youssef1313 commented on #23578
@sharwell Would you be able to confirm if Vsix can target net48?

[2021-04-01 12:00] nojaf opened #23581 "Clarify discriminated union with a single declaration"
Hello,

All the examples in the section ["Formatting discriminated union declarations"](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#formatting-discriminated-union-declarations) have multiple declarations.
I'd like to know if anything changes when the DU only has one declaration.
In some scenarios, you could omit the bar character.

[code]

Removing `| ` produces the same

[2021-04-01 14:15] BillWagner commented on #23579
Thanks for pointing this out. The sample code is correct, and the article should change to refer to the `IEqualityComparer<T>` interface.

[2021-04-01 14:16] BillWagner commented on #23577
@X3n0n3x Can you provide more details about what errors you're getting trying to build? That will help us improve this article.

[2021-04-01 14:17] BillWagner commented on #23574
Thanks for noting this @esb7cp

I've added this to our backlog, and I've added the "up for grabs" and "good first issue" labels.

[2021-04-01 14:55] sughosneo commented on #23526
Hi @PingPongSet , Take a look at the free course [Create and deploy a cloud-native ASP.NET Core microservice](https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/) on MS Learn. In this learning module, you would create one `Coupon.API` and deploy it to the AKS with `helm`. This module explains microservices concepts, cloud-native technologies, and reduce the friction in gettin

[2021-04-01 16:02] sarvasana opened #23582 "Provide tooling and guidance for generating and installing dev certificates on Linux"
Provide tooling and guidance for generating and installing dev certificates on Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 129ac9c9-bab2-7ae0-75f8-cf3b7ad16a56
* Version Independent ID: 19debb34-1672-c5bc-395b-2ec523c25b8f
* Content: [Generate Self-Signed Certificates Overview - .NET](https://docs.microsoft.c

[2021-04-01 16:11] sharwell commented on #23578
These days the VSIX projects target net472.

[2021-04-01 16:27] adegeo commented on #23531
@PabloJomer I found https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/ws2007httpbinding and https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.ws2007httpbinding?view=netframework-4.8 via a web search. Hope that helps.

[2021-04-01 16:27] #23531 closed

[2021-04-01 18:04] #21572 closed

[2021-04-01 18:30] X3n0n3x commented on #23577
Yes of course.  Apologies, as I am very much completely new to coding / programming and thus may be lacking some of the basic context.

When attempting to follow the instructions in the "A basic list example" section from [this page](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/tutorials/arrays-and-collections), I substitute the various "dotnet" commands with what I understand to

[2021-04-01 18:34] azias opened #23584 "Probing config element seems not working"
I am trying to deal with Windows [Side-by-side Assemblies][1] system using manifest files in order to be able to place dlls in a subfolder while continuing to link to them (without using "runtime" loading of dependencies)

I have understood that I have to must use the [probing element][2] in the config file of the application. But is seems to be ignored, or I am doing wrong somewhere.

I describe

[2021-04-01 20:58] #23479 closed

[2021-04-01 22:59] #12430 closed

[2021-04-01 22:59] #12442 closed

[2021-04-01 22:59] #23282 closed

[2021-04-02 01:04] BandaruNithin opened #23591 "Side by side .NET versions per application level(This Sound Wrong)"
Multiple .NET frameworks versions can be installed in the same system like Version 3, 2.5, 4, 4.8 in windows right.
So, why will there be any issues?
If that is the case a lot of software in windows should have been breaking as many are build a lot of years back.

Can you clarify what do you meant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-04-02 01:54] Rick-Anderson opened #23592 "Add includes in WCF to send folks to gRPC"
Tell them new dev should use gRPC and provide link.

See [internal tracking user story 1831948](https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1831948/?triage=true)

* [What Is Windows Communication Foundation](https://docs.microsoft.com/en-us/dotnet/framework/wcf/whats-wcf)
* [Tutorial: Get started with Windows Communication Foundation applications](https://docs.microsoft.com/en-us/do

[2021-04-02 07:35] Pun-Mengly opened #23595 "Error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba03ad71-413b-a1bf-c759-29a575887e72
* Version Independent ID: 6c2dac12-ba9a-4044-a93e-7cf759735f22
* Content: [Compiler Error CS1502](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1502)
* Content Source: [docs/

[2021-04-02 10:02] MattLavalleeMA commented on #23565
dotnet info:

[code]

Build output:
[code]

[2021-04-02 10:18] Youssef1313 commented on #23565
@MattLavalleeMA I can't reproduce the issue you're facing:

---

*Project.csproj*:

[code]

---

*Program.cs*:

[code]

---

*.editorconfig*:

[code]

---

Build output from command line:

[code]

- Have you configured the IDE rules that you want to enforce from an editorconfig or a globalconfig?
- Have you added the section header in editorconfig (e.g: `[*.cs]`) before the lines where you set the

[2021-04-02 10:21] MattLavalleeMA commented on #23565
We have no editorconfig in this particularly project... Do we have to manually assign every severity to see them on build?

[2021-04-02 10:27] MattLavalleeMA commented on #23565
Here is a very simple repro:
ClassLibrary1.csproj
[code]
Class1.cs:
[code]

With the Class1.cs file open, I have 1 warning:

If I close the file, then close the solution, then reopen the solution and rebuild all, I have no warnings either in the Error List or in Build Output.

[2021-04-02 10:35] Youssef1313 commented on #23565
@MattLavalleeMA IDE Style rules (by default) have severity of suggestion, so they don't appear in command line builds, and even in IDE, they will show as suggestions, not as warnings/errors. So you need to manually configure the rules you're interested in to be warnings, or you can enable all style rules at once with `dotnet_analyzer_diagnostic.category-Style.severity = warning`, then exclude any

[2021-04-02 10:44] nick-beer opened #23596 "Issue with General format specifier defaults"
The table that lists the default precision for the "G" specifier is no longer correct (at least for double) for .NET Core 3 and beyond.  For instance, for double, it specifies the default precision is 15, but that's no longer the case in .NET Core 3:

[code]
[This blog post](https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/) describes the bre

[2021-04-02 10:46] MattLavalleeMA commented on #23565
Okay, I disabled SonarLint (the third-party analyzer) and tried this again.

Here's the updated class file:
[code]

With IntelliSense (the file open & active), I receive these:
[code]
... and my Build Output shows nothing.

The UI also shows IDE0005 "Using directive is unnecessary" on line 1, but there is no informational in the Error List unless I manually set the dotnet_diagnostic.IDE0005.severi

[2021-04-02 10:56] Youssef1313 commented on #23565
Regarding `CA1822`, its severity is not a warning, so for it to show in command line builds you need to set its severity via editorconfig (this will work regardless EnforceCodeStyleInBuild).

Regarding IDE0005, I believe it always had been a hidden ("silent") diagnostic, which doesn't show in error list.
If you changed it to suggestion, it will show in error list, but not in command line builds.
F

[2021-04-02 11:11] MattLavalleeMA commented on #23565
If I reinstall Microsoft.CodeAnalysis.FxCopAnalyzers, CA1822 and CA1051 appear right away as warnings and as part of build logs.

On the others, it looks like we did/do have StyleCop.Analyzers with preferences, so we can ignore those for the sake of this discussion.

However, at the very least, there is a distinct behavior change (and apparently some classification nuances) between the old analyze

[2021-04-02 11:29] Youssef1313 commented on #23565
@MattLavalleeMA You're correct that CA1822 used to be a warning. This behavior was changed in https://github.com/dotnet/roslyn-analyzers/pull/3190.

[2021-04-02 11:31] sughosneo commented on #23524
Hi @PingPongSet , thank you for reaching out.

You can follow any of the approaches mentioned in [Make HTTP requests using IHttpClientFactory in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-5.0) to call a backend API from the Web App.  And you need to make sure that you use the `WebApiBaseAddress` environment variable as URI instead of any h

[2021-04-02 11:42] DickBaker opened #23597 "Scalar must read single field"
in the Deferred transactions at https://docs.microsoft.com/en-us/dotnet/standard/data/sqlite/transactions#deferred-transactions the statement reads
readCommand.CommandText =
    @"
        SELECT *
        FROM data
    ";
whereas [because intended to fetch exactly one field] it should read
readCommand.CommandText =
    @"
        SELECT value
        FROM data
    ";

---
#### Document Details

⚠

[2021-04-02 12:08] PingPongSet commented on #23524
@sughosneo
Thanks for your comment and taking the time to provide the info, which is very helpful.

Closing it for now.

[2021-04-02 12:08] #23524 closed

[2021-04-02 12:23] MattLavalleeMA commented on #23565
Okay, and it looks like CA1051 has also been disabled by default now.  Is there some obvious way that we can export the old rules/classifications and compare or (better still) apply them?

[2021-04-02 12:30] Youssef1313 commented on #23565
You can enable **all** rules using `<AnalysisMode>AllEnabledByDefault</AnalysisMode>` in your csproj. It's certainly too aggressive than what FxCopAnalyzers had, but from here you can disable rules that you don't want.

[2021-04-02 12:34] MattLavalleeMA commented on #23565
Ultimately, we also got on a tangent about the particulars of these warnings, but we still have a discrepancy in our real project between the number of warnings appearing in the Error List (only **after** opening individual code files) and that only 2 out of 146 appear in the Build Output.  For example, I have a CS0108 that appears when I open that file, but does not appear in Build.

[2021-04-02 12:39] Youssef1313 commented on #23565
Building from command-line should show all warnings. (If it doesn't, try `dotnet build --no-incremental`). However, from IDE, there are some that don't appear in live analysis.

[2021-04-02 12:41] Youssef1313 commented on #23596
@gewarren Was this breaking change documented?

[2021-04-02 12:48] MattLavalleeMA commented on #23565
Aha -- now we are getting much closer to the deprecated analyzers.

So here's the outstanding behavior issue -- previously, Informationals would still _generate_ on build, even though they did not appear in the Build Output, but now they _only_ appear when browsing each individual file.

[2021-04-02 12:53] Youssef1313 commented on #23565
@MattLavalleeMA This *could* be related to the following option from **Tools** > **Options** > **Editor** > **C#** > **Advanced**:

![image](https://user-images.githubusercontent.com/31348972/113417119-0e22ce80-93c3-11eb-8876-837f01aad777.png)

[2021-04-02 12:56] mavasani commented on #23565
that is an intentional design change in the compiler. Anything you want on the command line output needs to be at least a warning level. Informational or suggestion diagnostics are more suitable for IDE experience. Note that you don’t need to open each file in IDE to get all informational diagnostics. You can execute “Analyze -> Run Code Analysis” on a project or solution node in Solution explorer

[2021-04-02 13:39] MattLavalleeMA commented on #23565
Bingo.  It's not "on build", but I'd rather have the Analysis be "always on" than "sometimes on".

Okay, just for argument's sake, to replicate the old behavior, is there a way to Run Code Analysis automatically on build?

[2021-04-02 13:50] BillWagner commented on #23577
Thanks for adding those details @X3n0n3x

On the first try, you would need to change the target version from .NET 3.1 to .NET 5. (Newer updates to Visual Studio let you select .NET 5 when you create the project). Once you've created a project, you can change to .NET 5 using the "Project" -> "Properties" menu.

On the second issue, you are right that `list-tutorial` isn't a valid identifier. C# par

[2021-04-02 13:57] BillWagner commented on #23595
@Pun-Mengly Can you add any details to this issue? It's not clear what you're describing.

[2021-04-02 15:22] X3n0n3x commented on #23577
Thanks for the info, redoing it with .NET 5 seems to work with [the example code in the original tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/tutorials/arrays-and-collections)!

When you mention using .NET 5 instead of .NET 3.1, would that apply to some of the other tutorial pages I'd been using recently, such as [this page](https://docs.microsoft.com/en-us/visualstudio/

[2021-04-02 15:51] #23558 closed

[2021-04-02 17:02] bricelam commented on #23597
`ExecuteScalar` is really just used to keep the sample code terse. A more real-world example would call `ExecuteReader` and get more rows and field values, but that would detract from the key points of the sample.

The semantics of `ExecuteScalar` are well-defined: It gets the value of the first column in the first row returned.

[2021-04-02 17:08] bricelam commented on #23597
In other words: `SELECT *` is used to illustrate executing a broad query against the database before executing CUD operations, and `ExecuteScalar` is used to keep the code concise.

[2021-04-02 17:16] bricelam commented on #23597
But, feel free to submit a PR. I'd be fine with merging it.

[2021-04-02 19:38] ReticentRobot opened #23603 "Error 1053"
I've gone through the documentation on this page, and built the solution.  The service installs fine (once I figured out that I needed to start Developer Command Prompt in admin mode from the start menu instead of trying to start it within VS2019) - but then when I try to start the service it instantly brings up an error dialog:  Windows could not start the MyService service on Local Computer.  Er

[2021-04-02 19:40] PingPongSet opened #23604 "Local Kubernetes Web UI is not accessible and return REST API result"
I followed the example from the link below:

https://docs.microsoft.com/en-us/dotnet/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes

When I entered the line below, which is from the doc above,

It opens Azure AKS portal, instead of local UI.

When I open http://127.0.0.1:8001/ on the browser, it is like below, i

[2021-04-02 20:15] #23574 closed

[2021-04-02 20:58] Pilchie commented on #23215
Note - Winforms shouldn't have significant challenges in migration that require re-writing.

[2021-04-02 21:17] jmarolf commented on #22669
Thanks @BillWagner I've assigned this to myself to have a look.

[2021-04-02 21:31] gewarren commented on #23596
@Youssef1313 Yes, it's documented: https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.0#floating-point-formatting-and-parsing-behavior-changed

[2021-04-04 00:28] Marvinrr155q opened #23611 "OKR: address x, y, and z"
<--

GOAL:
Each team has a commitment around content performance

OBJECTIVES:

- Content developers continue to get familiar with the Content Perf report by identifying and updating articles
- Create a sustainable and repeatable process. Each M1 has a project for content performance and tracks
- Continue to use data and feedback from past quarters to influence updates to formulas and ranking

RESU

[2021-04-04 06:43] rhyek opened #23612 "Install instructions for the dotnet-sdk on linux using snap lead to a non-working setup when using vscode"
Install instructions for the dotnet-sdk on linux using snap need to take into consideration:

- https://github.com/OmniSharp/omnisharp-vscode/issues/4409
- https://github.com/dotnet/sdk/issues/10403
- https://github.com/OmniSharp/omnisharp-vscode/wiki/Configuring-Snap-installs-of-dotnet-sdk

I am on Ubuntu 20.10 and using the Omnisharp extension for vscode.

I had to uninstall the recommended snap

[2021-04-04 17:42] jcasale opened #23613 "Typo in introduction."
The introduction contains the following sentence:

I believe the correct term is descendant:

1. [Definition of decedent](https://www.merriam-webster.com/dictionary/decedent)
2. [Definition of descendant](https://www.merriam-webster.com/dictionary/descendant)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be073b14-6d0b

[2021-04-04 18:35] nekutuzov opened #23614 "This is a great analogy!"
Reading this article is sufficient to understand the pattern, especially for experienced developers who wrote asynchronous code in other languages. Thank you so much!

I have one proposal for improving the algorithm. Preparing the coffee and OJ can be taken care of while all three async tasks are awaiting. It may save some extra time on execution. In addition, wrapping coffee and OJ preparation in

[2021-04-04 19:15] sander1095 opened #23615 "I am missing an example library"
**Issue description**

The documentation on creating an OSS library is absolutely amazing and inspiring! However, 1 thing that would make this even better would be an example library/libraries using all these features!

My suggestions:

- a library that uses the strategy described by the articles.
- A great readme that can be used as a template by others. Include some badges, etc.
- github templat

[2021-04-04 19:23] sander1095 opened #23616 "Suggest publishing xml comments"
Suggest using <GenerateDocumentationFile> to publish xml commentd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b466e1d8-f9fc-6a4b-50a3-a101e5ea9907
* Version Independent ID: ccf98d0b-d65c-522a-a944-e58d60adbee8
* Content: [Get started creating high-quality .NET libraries](https://docs.microsoft.com/en-us/dotnet/stand

[2021-04-04 20:30] MarkMichaelis commented on #17463
@BillWagner - I am actively working on this but I need to check with you on how you want it addressed.

Update text below to indicate that is it not reliably called (since it is true both with .NET Framework and .NET Core there is no point in mentioning either).
Original Text:

Becomes:

Given the complete finalization example I mentioned earlier in the thread, should I include the example on this

[2021-04-05 04:36] MSDN-WhiteKnight commented on #17463
I think there's a point, per above:

People would need to know why these deadlocks are happening. Docs should tell that .NET Framework attempts to call finalizers on shutdown, but timeouts if they take too long (except for CriticalFinalizerObject's which don't timeout); and on .NET Core / .NET 5 it does not attempt it. But the exact details should probably be checked with CLR devs. Bad thing that

[2021-04-05 05:13] MSDN-WhiteKnight commented on #22513
The example prints output as mentioned when run on .NET Framework. Note that it should be run with debugger attached and the text is printed to debugger output window, **not** to the console. On .NET Core, finalizers are not called automatically on shutdown, so indeed that example won't work.

There's also another issue that discusses updates to this article: https://github.com/dotnet/docs/issues/

[2021-04-05 06:05] PLAAHemantha opened #23620 "Mod operator (Visual Basic)"
Dear All,
a - (b * Fix(a / b)) does not work correctly. Eg: a=58333.31, b=8333.33 result should be 0. But it is not. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e0d8d3-ed1e-7e9d-d0dc-3d577c286f60
* Version Independent ID: 6961eaa7-db11-5794-746e-42fb6e4a964b
* Content: [Mod Operator - Visual Basic](ht

[2021-04-05 08:33] yhjhoo opened #23621 "Code omitted impact me to understand the practise"
Code omitted impact me to understand the practise, pls add a full example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed82a3-99c1-0893-4e81-d095b4757ecc
* Version Independent ID: 3765200b-43e5-441c-b290-709c34dd2f6d
* Content: [Asynchronous programming - C#](https://docs.microsoft.com/en-us/dotnet/csharp/async)
*

[2021-04-05 13:08] IEvangelist opened #23624 "Update DI articles to include IServiceScopeFactory details"
See https://github.com/dotnet/aspnetcore/issues/31478#issuecomment-812517292

[2021-04-05 13:11] #23613 closed

[2021-04-05 13:43] BillWagner commented on #23621
Thanks for raising this @yhjhoo

Did you try the download link at the end of the article? Which code is missing?

[2021-04-05 13:48] BillWagner commented on #23620
Thanks for noting this @PLAAHemantha

Can you provide a more complete example?  I tried the following code, and the result is 0 for me:

[code]

[2021-04-05 13:50] BillWagner commented on #23615
This is a good idea @sander1095

Tagging @tdykstra @IEvangelist

Let's discuss this for .NET 6. and guidance for open source developers. We could probably use one of the .NET Foundation projects as a example case study.

[2021-04-05 13:53] BillWagner commented on #23611
@Marvinrr155q

It looks like this was opened in error. I'm going to close it. If there is a real issue, you can reopen it.

[2021-04-05 13:53] #23611 closed

[2021-04-05 14:10] BillWagner commented on #23614
Thanks for this note @nekutuzov I'm glad you enjoyed this article.

I agree that there are further enhancements that could be made to this article. We've avoided taking this analogy too far, preferring to address those further optimizations in later examples.

Closing as kudos.

[2021-04-05 14:10] #23614 closed

[2021-04-05 14:19] sughosneo commented on #23604
Hi @PingPongSet , thank you for reaching out.

If you are using the kubernetes version 1.19+, then AKS no longer supports the installation of the managed kube-dashboard addon. You can follow the instruction in [Kubernetes Web UI Dashboard](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/) to install the dashboard. And after successful installation, the dashboard should

[2021-04-05 15:08] #20584 closed

[2021-04-05 15:24] mweeden2 opened #23626 "Typo in "Assignment operators (C# reference)" Article"
"In the case of the ref assignment operator, the both of its operands must be of the same type."
should be
"In the case of the ref assignment operator, both of its operands must be of the same type."
in this article: [Assignment operators (C# reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/assignment-operator)

---
#### Document Details

⚠ *Do not edit this

[2021-04-05 15:29] mweeden2 commented on #23626
Sry, I found the "small change" instructions; this is now unnecessary.
Here is the PR for that: [fix typo #23627](https://github.com/dotnet/docs/pull/23627)

[2021-04-05 15:29] #23626 closed

[2021-04-05 16:14] reecebradley opened #23628 "Providing configuration settings for configuration provider/source"
If you want to load a connection string to a real database, the comment in the article says:

"a secondary `ConfigurationBuilder` to supply the connection string from another configuration provider."

It would be nice to finish this out - so I would need to create a `ConfigurationBuilder` - ideally, pulling configuration values from the same sources like the default, e.g. command line, appsettings

[2021-04-05 16:48] #20581 closed

[2021-04-05 18:24] IEvangelist commented on #23628
Hi 👋 @reecebradley
Thank you so much for posting this issue. We really appreciate it. I'll try to address it soon.

[2021-04-06 00:45] Rick-Anderson opened #23635 "eBook clean up recommendations"
If this document is preview and the book is finished, I recommend pointing that out up front and maybe deleting most of the content. If they're the same, this should be cleaned up. How do they differ, that should be stated.

PDF link at the top.
`>` Non-standard authors - wastes too much space, too wordy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-06 01:02] larrywa opened #23636 "Ports are not available: listen tcp 0.0.0.0:52000: bind"
Following step-by-step through getting started, when I try to run with F5 (Docker Compose) I get:

Error	DT1001	ERROR: for daprbackend  Cannot start service daprbackend: Ports are not available: listen tcp 0.0.0.0:52000: bind: An attempt was made to access a socket in a way forbidden by its access permissions.
If the error persists, try restarting Docker Desktop.	docker-compose	C:\Program Files (x

[2021-04-06 07:13] sughosneo commented on #23440
Hi @wizofaus, thank you for your feedback.

With the microservices architecture in place, you can implement the background task in a separate process/container to scale it up/down based on your need.  You don't need to have a load-balancer for the background services as it's not going to process any incoming request.  You can rely on pub/sub mechanism to coordinate among different service instance

[2021-04-06 07:36] M01ls opened #23638 "Figure 1-2. SOA architecture. Incorrect diagram."
Figure 1-2. SOA architecture. Diagram is incorrect, service providers do not share persistent storage/relational database in the ESB pattern

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 769db633-2483-c4f5-61f7-c56ca63cee05
* Version Independent ID: 315f36c3-3294-be2d-cc04-19e4d446c9c2
* Content: [The world is distrib

[2021-04-06 08:26] Pentadome opened #23639 "Unclear implementation example. Custom logger."
`Checks logLevel == _config.LogLevel in IsEnabled, so each logLevel has a unique logger. Loggers should also be enabled for all higher log levels:`

and

`In the preceding code, CreateLogger creates a single instance of the ColorConsoleLogger per category name and stores it in the ConcurrentDictionary<TKey,TValue>.`

Does this example create a logger per loglevel or not?

---
#### Document Details

[2021-04-06 08:27] #23639 closed

[2021-04-06 10:57] Youssef1313 opened #23640 "Enhance snippets5000 to allow unit testing"
Currently the build only verifies that the code "compiles", it would be a good addition to *optionally* allow running a unit test project.

This could be done by having an optional *\*.sh* or *\*.cmd* file with a specific name, which contains `dotnet test` for example. This can be helpful in some samples to verify they doesn't break. For example, roslyn-sdk tutorial already has a unit test, but it

[2021-04-06 12:05] IEvangelist commented on #23640
Hi 👋 @Youssef1313
Thank you so much for posting this issue. We really appreciate it.

I'd argue that this is not needed, the work involved and added risk of potentially negatively impacting something else far outweighs the potential benefit. As you mentioned, most of the sample snippets do not have unit tests - in fact, I'm only aware of unit tests for the articles related to unit testing, other t

[2021-04-06 12:52] ardalis commented on #23635
I think @nishanil is planning on removing the Preview notice and ensuring the PDF is updated soon. I'm not sure what content you're suggesting should be cleaned up or deleted. Although eBooks are decomposed into and built from individual markdown files that doesn't mean each individual markdown file is meant to act as a documentation article. It's part of a book and should be considered in that co

[2021-04-06 13:41] andrija2304 opened #23642 "Problem with code CS0144"
[I think you need to create a constructor. Try using lists and don't forget to type "using System.Collections.Generic;" at the beginning of your code. If you are using an array you need to declare the size of it in a constructor. For example:
class MyClass
    {
        AObject[] objects;
        int objectsNum;
        public Object(int projectsNum)
        {
            this.objectsNum = objects

[2021-04-06 13:47] pb-qs commented on #23547
Hi - this issue was closed, without being resolved.   Can someone reopen please?

[2021-04-06 13:51] pb-qs opened #23643 "Can C# 9.0 be used with .NET Core 3.1 ? And is it supported ?"
[Enter feedback here]

Can C# 9.0 be used with .NET Core 3.1 ? And is it supported ?

I cant use .NET 5 as I rely on Azure Functions and Durable Functions, which are not supported in .NET 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36588d0-6bdf-1740-220c-10b20bb88730
* Version Independent ID: 587ed47f-f532-e018-

[2021-04-06 13:54] Youssef1313 commented on #23547
You can do that, but as I mentioned earlier, it's not officially supported. Some features will work correctly, some other features won't work but can have some workarounds, and other features might not work completely. See https://github.com/dotnet/roslyn/discussions/47701 for some more information.

[2021-04-06 14:21] PLAAHemantha commented on #23620
Thanks for your reply,
Please use this code in VB6,

Dim a As Double, b As Double, result As Double
b = 8333.33
a = 58333.31

result = a - (b * Fix(a / b))

result is 8333.33; Why?

On Mon, Apr 5, 2021 at 7:18 PM Bill Wagner ***@***.***> wrote:

[2021-04-06 14:38] BillWagner commented on #23620
@PLAAHemantha These articles are for VB.NET.  See [here](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-basic-6/visual-basic-6.0-documentation) for VB 6 documentation. The [Mod operator](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-basic-6/aa242823(v=vs.60)) for that version explains this behavior.

I'll close this as answered.

[2021-04-06 14:38] #23620 closed

[2021-04-06 14:40] robvet commented on #23638
Thanks for suggestion. Will recommend removing database from diagram in upcoming v 1.1.

[2021-04-06 14:47] BillWagner commented on #23640
Great discussion. My view is more "not now" and "not for all snippets" than "no".

First, as mentioned, I'd like to get to a point where we are building all the samples before we drive toward unit testing.

Second, most of the sample code is optimized for explaining a concept. In many cases that means the code is organized around small examples, where the output is printed to the console. Restruct

[2021-04-06 14:48] BillWagner commented on #23642
@andrija2304 It looks like you opened this issue with notes for your own learning.

Is there an issue for us to address here?

[2021-04-06 14:51] BillWagner commented on #23643
:wave: Hi @pb-qs

C# 9 is not supported on .NET 3.1. You can configure it using the LangVersion element in your project file, but it is not supported.

Closing as an answered question.

[2021-04-06 14:51] #23643 closed

[2021-04-06 14:55] BillWagner commented on #23547
@pb-qs

We closed it because the article is correct: C# 9 isn't supported on .NET 3.1. I'd raise this suggestion for the Azure Functions team, where hopefully enough customers ask for it to get that updated.

[2021-04-06 14:56] pb-qs commented on #23643
Thanks!From: Bill Wagner ***@***.***>Sent: Tuesday, 6 April 2021, 15:52To: dotnet/docsCc: Peter; MentionSubject: Re: [dotnet/docs] Can C# 9.0 be used with .NET Core 3.1 ? And is it supported ? (#23643)

👋 Hi @pb-qs

C# 9 is not supported on .NET 3.1. You can configure it using the LangVersion element in your project file, but it is not supported.

Closing as an answered question.

—You are receivi

[2021-04-06 14:58] #21603 closed

[2021-04-06 15:50] BillWagner commented on #21026
@pkulikov Are there tasks remaining for this issue? Or did the recent PRs address everything?

[2021-04-06 16:57] pkulikov commented on #21026
@BillWagner the tasks I'm going to work further are about updating the reference pages (of `switch` and `is`).

However, it's not related to this issue. This issue is about the concept article:

https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching

Looks like that article was written in the C# 7.0 time and has not been updated since then. Nowadays, it's out-of-date. Also, it has big ove

[2021-04-06 17:12] #23267 closed

[2021-04-06 17:14] ericmutta opened #23644 "Question: is it safe to reuse JsonSerializerOptions across threads?"
The article recommends reusing instances of JsonSerializerOptions to improve performance, but it doesn't say whether it's safe to do so across multiple threads (e.g. can I pass the same instance to multiple calls to [ReadFromJsonAsync()](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.json.httpcontentjsonextensions.readfromjsonasync?view=net-5.0) when making concurrent HTTP requests an

[2021-04-06 17:53] luisquintanilla commented on #23484
@DuddyRosenberg were you able to get your application running?

[2021-04-06 21:06] #23453 closed

[2021-04-07 00:00] wizofaus commented on #23440
Thanks for that, so I've looked at the eShopOnContainers<https://github.com/dotnet-architecture/eShopOnContainers> sample, and frankly it's not clear to me how there's any load-balancing for GracePeriodManagerService, given it's basically just a polling loop that keeps checking the DB, and in fact the way it's written it's not load-balancer safe at all - assuming Azure had fired up multiple instan

[2021-04-07 01:46] tdykstra commented on #23644
cc @layomia

[2021-04-07 02:03] layomia commented on #23644
Yes it is safe to use the same instance across multiple threads. The metadata caches on the options instance a thread-safe, and the fact that the instance is immutable after the first (de)serialization helps us further.

[2021-04-07 02:12] #19760 closed

[2021-04-07 02:12] #23566 closed

[2021-04-07 03:23] DMiradakis commented on #23304
@IEvangelist Thanks for your response! I've been looking forward to getting some feedback from you and your friends when you have time.

[2021-04-07 08:10] PLAAHemantha commented on #23620
Thanks

On Tue, Apr 6, 2021 at 8:09 PM Bill Wagner ***@***.***> wrote:

[2021-04-07 09:28] ericmutta commented on #23644
Many thanks @layomia for the prompt clarification and @tdykstra for promptly updating the docs! :+1:

[2021-04-07 12:51] IEvangelist commented on #23304
I'll tag a few more friends who might have a suggestion - otherwise, I'm simply not sure.

/cc @bradygaster @timheuer @spboyer and @davidfowl

Do any of you have a suggestion for this customer?

[2021-04-07 13:28] spboyer commented on #23304
I would move to the dotnet repo @IEvangelist for more engagement

[2021-04-07 13:39] IEvangelist commented on #23304
@spboyer Do you mean the `dotnet/runtime` repo?

[2021-04-07 13:57] spboyer commented on #23304
yes

[2021-04-07 14:45] sunilvijendra commented on #23125
This PR - https://github.com/dotnet/docs/pull/23241 has fixed the URL issue. This can be closed!

[2021-04-07 15:11] #23125 closed

[2021-04-07 17:33] harishukla93 opened #23693 "UDF failed to run"
I have followed the same syntax for UDF creation, but its failed on spark-submit. Throws bunch of stacktrace with error:

Caused by: org.apache.spark.api.python.PythonException: System.NullReferenceException: Object reference not set to an instance of an object.

Here is my spark-submit command:

spark-submit --class org.apache.spark.deploy.dotnet.DotnetRunner --master local bin/Debug/net5.0/micro

[2021-04-07 17:39] KevinZonda opened #23912 "The block of code shows an error 代码块显示错误"
代码块显示错误
应当显示为代码，但是显示为字符串

[code]
![image](https://user-images.githubusercontent.com/33132228/113910196-752ff100-97d0-11eb-9fe9-b6548ee9e341.png)

其在英文文档工作正常

![image](https://user-images.githubusercontent.com/33132228/113910251-87aa2a80-97d0-11eb-9fb3-20ebd11344b9.png)

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a6cf7421-fbd2-0ca0-7385-4df65531fd66
* Version Inde

[2021-04-07 18:25] BillWagner opened #23694 "Examine reports to determine course of action"
There are two reports we'll use to determine actions for different areas of our content:

- [Content performance](https://aka.ms/contentperformancedashboard)
- [Low / No page views](https://aka.ms/docs-low-no-pv)

Possible actions to recommend may be:

- **Correcting metadata**: The default article type when content was migrated was "article" or "conceptual". That may not be accurate in all cases

[2021-04-07 19:26] IEvangelist commented on #22663
Relies on https://github.com/DuncanmaMSFT/highlight.js/pull/34

[2021-04-07 19:27] scottaddie commented on #21005
@IEvangelist Heads up that I'm unassigning myself. Who should this be assigned to?

[2021-04-07 19:29] scottaddie commented on #21004
@IEvangelist Here's another issue that will need a new owner.

[2021-04-07 19:32] IEvangelist commented on #23303
Hi @Vinigas - I have a PR that will close this issue, see #23695.

[2021-04-07 19:53] IEvangelist commented on #21005
I believe @Rick-Anderson should be, if not you.

[2021-04-07 19:54] IEvangelist commented on #21004
I believe @Rick-Anderson should be, if not you.

[2021-04-07 20:43] Rick-Anderson commented on #21005
@wadepickett  is the hub expert, assigning him.

[2021-04-07 21:14] cartermp commented on #23581
I think this would be a reasonable addition. A caveat would be tiny, single-line ones like:

[code]

No `|` should be required there.

[2021-04-07 22:31] adegeo commented on #21412
I must have been looking at something else.. I'll fix this.

[2021-04-08 02:52] captainjono commented on #12551
@Greg-Smulko

dotnet test "some.fullframework.dll"

"no tests found"

vstest.console.exe "some.fullframework.dll"

"5 test pass"

Im building a tool that executes tests automatically against either of these frameworks. The doco is not clear here attempting to detect which framework i need to run a .dll against is not pretty.

[2021-04-08 03:28] AR0106 opened #23701 "Missing Code"
The final code block at the bottom of this page is unnecessary or missing the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aed1d9c-756b-5edc-5c2e-4c25af577ffd
* Version Independent ID: d6b5ce45-a2d6-279e-68fe-280c0774dbcb
* Content: [Private Constructors - C# Programming Guide](https://docs.microsoft.com/en-us

[2021-04-08 06:34] PrinceCharles23 opened #23703 ".NET Standard 2.1 for UWP and Unity"
Those two are still TBD. Please update since there are many libraries targeting .NET 2.1 and are therefore unavailable for UWP and Unity. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb8b774-c6f0-8235-6964-15219baf2ea7
* Version Independent ID: 6819a4a7-7527-d8c7-e132-767f7344e00e
* Content: [.NET Standard](

[2021-04-08 09:19] sughosneo commented on #21607
Hi @Bruellhusten, We have closed this PR https://github.com/dotnet-architecture/eShopOnContainers/pull/1523 as it was stale for sometime now. Please note, the `dev` branch of [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers) is now updated to `.NET 5`. So if you could take the latest from the `dev` branch and submit a new PR with suggested changes. We will be happy to r

[2021-04-08 09:25] sughosneo commented on #23525
Hi @PingPongSet , considering the original question has been answered. So I am closing this issue as of now.
Please feel free to reopen if you have any further questions. Thank you.

[2021-04-08 09:25] #23525 closed

[2021-04-08 10:41] Youssef1313 commented on #23701
@AR0106 I opened #23706 to fix this.

@gewarren Can you submit an internal bug? The build should have produced a warning for this. This *may* be different than the previous bug in that the file itself exists, but the snippet id is wrong.

[2021-04-08 10:54] jevdemon opened #23707 "Sample code missing user agent string, resulting in 403 forbidden"
Code sample doesn't inc;lude a user agent string when instantiating the WebClient, resulting in 403 forbidden exception.
Change sample code to include a user agent such as:
`                content = await new WebClient {
                    Headers = new WebHeaderCollection {
                        "user-agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39

[2021-04-08 11:21] dastbayoo opened #23708 "Details missing for defaults of build configurations other than Debug/Release"
The default values for "DebugType" and "Optimize" are documented for the *Release* and *Debug* configurations. It's not documented what the default is for custom configurations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35131307-8d1c-2800-e84a-6179d740982f
* Version Independent ID: 7599b464-9928-88bc-fec1-704ce691

[2021-04-08 12:36] Youssef1313 opened #23709 "Strict mode is not documented"
See [this tweet](https://twitter.com/jlaban/status/1380130130169843712). `<Features>strict</Features>` isn't documented anywhere.

[2021-04-08 12:50] #23303 closed

[2021-04-08 14:08] BillWagner commented on #23701
Thanks for pointing this out @AR0106

I'll look at the PR to fix this later this morning.

[2021-04-08 14:09] BillWagner commented on #23708
Thanks for pointing this out @dastbayoo

I'll get that addressed soon.

[2021-04-08 14:11] BillWagner commented on #23709
Thanks @Youssef1313

Adding @davkean @jaredpar

Should we document this, or is it meant as a work around while warning waves are in progress?

[2021-04-08 14:14] #23701 closed

[2021-04-08 14:19] #23581 closed

[2021-04-08 14:30] Dzoge opened #23711 "Example for nullable decimal type"
It would be very useful if there was an example of nullable decimal type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a41d02-3084-c31e-98ed-2bd786c7a301
* Version Independent ID: 31a20696-f326-63c3-77d1-f3cfc0aa589c
* Content: [Protobuf scalar data types - gRPC for WCF developers](https://docs.microsoft.com/en-us/

[2021-04-08 15:06] #20601 closed

[2021-04-08 15:06] #20646 closed

[2021-04-08 15:10] tdykstra opened #23712 "Link to new threat model doc"
https://github.com/dotnet/runtime/pull/50541

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa0ecfe-59eb-506f-93c6-bd0883acdb84
* Version Independent ID: fd70dc81-79db-0183-af38-7b8059bbe050
* Content: [Serialize and deserialize JSON using C# - .NET](https://docs.microsoft.com/en-us/dotnet/standard/serialization/syste

[2021-04-08 16:18] X3n0n3x opened #23713 "Getting error attempting to follow tutorial with VS 2019"
I'm attempting to follow [this tutorial](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/introduction-to-classes) using Visual Studio 2019. From past tutorials, I'm inferring that the VS 2019 equivalent of the initial instruction in "[Create your application](https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/intro-to-csharp/introduction-to-classes#create-your-applic

[2021-04-08 17:34] AFDevMike opened #23714 "docker images does not show mcr.microsoft.com/dotnet/aspnet when following steps"
[Enter feedback here]
I am learning Docker containerization and at the step:
[code]

I see

but do not see:

as expected from the list of images in the doc.

I believe I followed all the steps accurately up to this point.

The following statement higher up

 leads me to question if `FROM mcr.microsoft.com/dotnet/aspnet:5.0` is accurate.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-08 17:35] AFDevMike opened #23715 "docker images does not show mcr.microsoft.com/dotnet/aspnet"
[Enter feedback here]
I am learning Docker containerization and at the step:
[code]

I see

but do not see:

as expected from the list of images in the doc.

I believe I followed all the steps accurately up to this point.

The following statement higher up

 leads me to question if `FROM mcr.microsoft.com/dotnet/aspnet:5.0` is accurate.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-08 17:43] #23307 closed

[2021-04-08 18:23] gewarren commented on #23701
This is the same bug. Valid file, invalid snippet tag.

[2021-04-08 18:41] amolenk commented on #23636
If the port is not available, there should be another process that already uses the port. Did you try netstat with the `-q` flag? That will show you all the bound ports in addition to the connections and listening ports.

Also make sure there are no firewalls or other proxies blocking port access.

For this specific sample, you can try specifying a different port number in the Docker Compose file.

[2021-04-08 18:59] jkoritzinsky commented on #23476
In .NET Framework, you can have a type marked `[ComVisible]` without a `[Guid]` attribute and it will be activatable. In .NET Core and .NET 5+, both the `[ComVisible(true)]` and `[Guid]` attributes are required for a type to be activatable.

[2021-04-08 19:55] gewarren commented on #23703
![image](https://user-images.githubusercontent.com/24882762/114088251-ae686f80-9869-11eb-97f4-0e2982f43811.png)

[2021-04-08 19:58] fantaclaus opened #23717 "section IConfiguration parameter: useless call to Bind"
There is a code sample in the section "IConfiguration parameter":

[code]

The method Bind assigns values from `namedConfigurationSection` to the instance of newly created object of type LibraryOptions.

But the object is not used anywhere. So the call to Bind is useless.

What is the purpose of this code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-04-08 20:47] JakeRadMSFT opened #23718 "Outdated ML.NET/Model Builder GPU Setup Instructions"
Cuda 10.0 doesn't work anymore we need 10.1.

These instructions work:

https://github.com/dotnet/machinelearning/blob/main/docs/api-reference/tensorflow-usage.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0495cff9-97a6-68ba-504c-ec7fcbc69a9c
* Version Independent ID: 0c7c0298-37e3-f945-fee5-fc6ccd7a362d
* Content:

[2021-04-08 22:48] #23718 closed

[2021-04-09 00:54] #21884 closed

[2021-04-09 04:58] amolenk commented on #23636
Glad it worked out!

@nishanil Please close this issue.

[2021-04-09 04:59] #23636 closed

[2021-04-09 07:05] tonank opened #23722 ""shape is not recognized shape" does not contain parameters"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1f2a2fe-8279-e6b3-93e8-33398167655f
* Version Independent ID: 35191215-988f-3700-1f85-4751711f692e
* Content: [Pattern Matching - C# Guide](https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching)
* Content Source: [docs/csharp/pattern-matchi

[2021-04-09 07:21] TriHyde opened #23723 "Question: Is it possible to extend the list of runtime identifiers?"
Our company is working on a proprietary linux distribution based on a well-known distro. The company distribution is not on the standard dotnet runtime.json but the base distribution is already there.

Is it possible to get the `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.GetRuntimeIdentifier()` to return our proprietary identifier instead of the base runtime identifier? If yes, how?

[2021-04-09 09:36] SunnieShine commented on #21603
@BillWagner Excuse me.

Should docs be added keyword 'managed' and 'unmanaged' keyword into the keyword list page?

[2021-04-09 10:31] Dmitry-Me commented on #23476
Okay, then the wording should be made more explicit. Something like:

Unlike in .NET Framework, .NET Core does not auto-generate the CLSID when no `[Guid]` attribute is applied to a class. .NET Core requires you to explicitly specify the CLSID by applying a `[Guid]` attribute to any class you want to be activatable via COM.

[2021-04-09 11:20] evaapavel opened #23724 "Source code, logical steps and images relate too loosely to one another"
The article about asynchronous tasks is brilliant.

I'm still relating to https://github.com/dotnet/docs/issues/20485

I guess the text describes roughly 6 steps:
1. Synchronous version
2. Asynchronous version with "inline awaits" such as `Egg eggs = await FryEggsAsync(2);`
3. Asynchronous version with "sequential awaits" such as `Task<Egg> eggsTask = FryEggsAsync(2);  Egg eggs = await eggsTask;`

[2021-04-09 12:44] IEvangelist commented on #23715
Closing as this is a dup of #23714

[2021-04-09 12:44] #23715 closed

[2021-04-09 12:51] StingyJack opened #23725 "But where are the templates actually stored?"
So they can be forcefully removed if necessary, or otherwise "managed".

Specifically custom templates not the default ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd27054-288a-cd42-1f1d-9a58ef2b3a40
* Version Independent ID: 85ef1737-d703-ea92-7adb-71dc8c78a854
* Content: [Install and manage SDK templates - .

[2021-04-09 12:55] luisquintanilla commented on #23484
Closing this issue due to no response and being unable to reproduce the error. @DuddyRosenberg please feel free to open an issue if you run into other errors.

[2021-04-09 12:55] #23484 closed

[2021-04-09 13:51] BillWagner commented on #23723
Tagging @richlander

[2021-04-09 13:52] BillWagner commented on #23722
Thanks for pointing this out @tonank

I'm updating this article next week, and I'll address this as well.

[2021-04-09 14:02] cjblomqvist opened #23727 "Wrong difference to EF6"
In this section: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects#main-differences-with-ef6s-complex-types

It says:

Which is not correct, see https://github.com/dotnet/efcore/issues/24535

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b14bbb-d

[2021-04-09 14:22] StingyJack opened #23728 "This guide says that the `Portfolio` class be defined in both a proto file and in a c# assembly."
Did I read that correctly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325dd28c-3bed-f7ff-4f13-7c7c951250fd
* Version Independent ID: f9bef770-f952-169a-0dec-a25606d4207d
* Content: [Migrate a WCF request-reply service to gRPC - gRPC for WCF developers](https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-w

[2021-04-09 14:24] BillWagner commented on #23713
Thanks for noting these @X3n0n3x

Either of the methods you describe above will work to create a class. We wrote this so that readers who were using VSCode could also follow this.

When you find these instructions, use whichever method is most natural for you. I'm glad you're progressing!

I'll close this as an answered question.

[2021-04-09 14:24] #23713 closed

[2021-04-09 14:43] BillWagner commented on #23724
Thanks for noting this @evaapavel I'm glad you liked the overall article.

You're correct that the drawings don't exactly match the time for the code. Some of that is to keep the code easier to comprehend in this sample. Some is to avoid a sample that ran for 30 minutes doing very little useful work.

We could invest the time to make these exactly match, or scale as you point out. I'd rather inves

[2021-04-09 14:57] BillWagner opened #23729 "Add `managed` and `unmanaged` contextual keywords for function pointers"
See https://github.com/dotnet/docs/issues/21603#issuecomment-816557798

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5712fd-a965-e2a9-5b1c-0b295d5e8ccd
* Version Independent ID: 4b943400-309d-0437-5513-0533456297f0
* Content: [C# Keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/)

[2021-04-09 14:57] BillWagner commented on #21603
Thanks @SunnieShine

I created #23729 to address this.

[2021-04-09 15:03] jkoritzinsky commented on #23476
The problem is, .NET Core will still auto generate a CLSID for a type that doesn’t have one for types you pass through the marshalling layer as COM objects. It just won’t do that for exposing via the com host.

[2021-04-09 15:27] adegeo commented on #23725
Hey there. Is there a specific question or clarification needed? I'm unsure what to do with this issue 😄

[2021-04-09 15:48] X3n0n3x commented on #23713
Ok, thanks for the clarification

[2021-04-09 15:52] keithnicholson opened #23730 "UWP and CS 8.0"
Is there a way to clarify whether CS 8.0 can work with UWP projects?  I have tested it using the "Configure multiple projects" settings of this document.  Seems to work well.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5694e62b-c756-1f62-4014-2ceafa54c011
* Version Independent ID: 3f01c378-22e4

[2021-04-09 16:18] sssvt-foltyn commented on #23724
OK, please, do close this.

I was just unhappy because I could not find a version of the source code (the "right" step in the article thoughts' workflow) that would get a result better than the synchronous version, but worse than the final asynchronous one. That's all.

Thank you for your response.

[2021-04-09 16:20] evaapavel commented on #23724
OK, please, do close this.

I was just unhappy because I could not find a version of the source code (the "right" step in the article thoughts' workflow) that would get a result better than the synchronous version, but worse than the final asynchronous one. That's all.

Thank you for your response.

[2021-04-09 16:27] FrankPlawetzki opened #23731 "using root user or remote debugging via SSH does not work"
The steps in this article did not work for me.
Instead, it worked for me using the steps from this article: https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm
The steps mentioned also have the advantage of

- no  changes to SSH demon necessary
- no remote debugging using the root user necessary

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-04-09 16:33] StingyJack commented on #23725
This page talks about managing templates but does so from the context of the provided tools, I was trying to find where the templates were actually installed to when installing a custom template so I could deal with scenarios where there was an installation problem. I found them a few minutes ago at

%USERPROFILE%\.templateengine\dotnetcli\v5.0.201\packages

There are also templates in the %PROGRA

[2021-04-09 16:33] #23725 closed

[2021-04-09 17:03] #23724 closed

[2021-04-09 17:18] madelson opened #23732 "Commentary mismatched with rule"
Current:

Suggested:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b482b0-6dd1-42de-5389-5b0b47823402
* Version Independent ID: 79a4adc9-b2c9-68b7-669e-2bd8d2d44faf
* Content: [Types of breaking changes - .NET](https://docs.microsoft.com/en-us/dotnet/core/compatibility/)
* Content Source: [docs/core/compatibility/in

[2021-04-09 17:22] #23467 closed

[2021-04-09 17:28] Youssef1313 opened #23733 "Add instructions on how to reset the registry hive of the experimental VS instance"
Under the existing TIP:

[code]

There should be instructions on resetting the experimental VS instance.

From #Roslyn channel in Discord:

![image](https://user-images.githubusercontent.com/31348972/114218450-b4de1080-9969-11eb-91e5-7f34632389ee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3fc905-7aa1-7f5e-9b

[2021-04-09 17:29] BillWagner commented on #23732
@gewarren @madelson I agree, this should change as recommended above.

[2021-04-09 21:21] adegeo commented on #15006
@nemrism Sorry for the long delay.... We did end up redesigning the samples/snippets repos. We moved them into this repo directly and in the newer https://github.com/dotnet/docs-desktop repo. If you're interested in the future at cleaning up and moving snippets around (they're still located in the root folder `samples`) you can follow the guidance in the contributor guide that details where they w

[2021-04-09 22:50] Treit opened #23736 "Clarify that hexadecimal literals are assumed to be positive values."
The documentation on numeric literals states the following:

  If the literal has no suffix, its type is the first of the following types in which its value can be represented: int, uint, long, ulong.

Now consider the literal `0x80000000`. This literal does not have a suffix and the bit pattern fits into a 32-bit integer so this documentation may imply to some readers that this will be treated as

[2021-04-10 00:22] #23712 closed

[2021-04-10 02:56] JorySmith opened #23738 "Instructions that include "Run menu" are outdated"
I was not able to follow this instruction:

 'Start without debugging from the Run menu. If you're using a command line, type dotnet run in the directory where you've created your project.'

The Run menu doesn't exist in Visual Studio now so I don't know what to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c835

[2021-04-10 06:43] tapika opened #23740 "TrimmerRootDescriptor is .net 5 specific option"
`TrimmerRootDescriptor` does not work on .net core 3.1, that option is completely ignored.

It should be mentioned in documentation, otherwise developer is wondering why it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811fc2ce-1f05-5be2-d033-7fce35e49525
* Version Independent ID: fca1c728-4716-8c28-89e

[2021-04-10 07:17] nemrism commented on #15006
Thanks @adegeo
I'll have a look to this and will try to participate to the migration effort.
Have a great weekend

[2021-04-10 09:32] pkulikov commented on #23736
A note: *any* (decimal, hexadecimal, and binary) literal is assumed to be a positive value.

[2021-04-10 17:18] dionito opened #23748 "Rule feedback"
[Enter feedback here]
When setting the rule
csharp_style_var_when_type_is_apparent = true

it considers apparent something like:
var x = Foo-bar().ToList();

In my opinion this is not apparent at all since it can be a List of anything.

However, it does not consider apparent something like:
Document doc = CreateDocument<Document>(foo-bar);

where the return type and the generic are the same. IMO t

[2021-04-10 18:35] Youssef1313 commented on #23748
Duplicate of https://github.com/dotnet/roslyn/issues/29657.

[2021-04-10 22:40] ashmind opened #23749 "Add `default` constraint to the full list of generic constraints"
The list of constraints does not document `where T: default`, which is a valid constraint for overrides and explicit member implementations: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/unconstrained-type-parameter-annotations#default-constraint.

While constraint _is_ documented at C# 9.0 location above, it is hard to find -- most searches for "generic co

[2021-04-11 11:55] bartosz-jarmuz commented on #15834
Hello @Thraka
Your first reply was great and I thought 'wow, this is different than I thought, now I finally get it'.
But then your following example left me confused.

Could you please clarify if what you wrote is *just a hypthetical* implementation that would not add any actual benefit in real life, but rather additional complexity?

After all, the only thing GraphicsCardTexture is using is the

[2021-04-12 03:26] b-cpu opened #23753 "Apostrophes in VB example comments affecting syntax highlighting"
The apostrophes in the VB example code comments on this page appear to be throwing off the syntax highlighting colors (since VB uses apostrophe for comment)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e33df7ee-9a59-acb5-e036-fa634d98d261
* Version Independent ID: b70e8969-67b3-76bf-225c-4a2435a988bf
* Content: [Stru

[2021-04-12 06:06] sughosneo commented on #23604
Hi @PingPongSet , just checking if you had a chance to look into this further. Thank you.

[2021-04-12 06:07] sughosneo commented on #23526
Hi @PingPongSet , just checking if you had a chance to look into this further. Thank you.

[2021-04-12 06:31] SpiritBob opened #23754 "Wrong example given for warning CA1034 - Warning is never generated."
The example given never produces a CA1034 warning. A possible reason behind this is explained in [this Stackoverflow post.](https://stackoverflow.com/a/67027164/11272124)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa30d86d-b581-af19-8c6a-86c41b2a074e
* Version Independent ID: 0eac42c2-e4a7-33b4-d0d1-888d8f72c770
*

[2021-04-12 06:32] SpiritBob commented on #23754
Fixed by https://github.com/dotnet/docs/pull/23752

[2021-04-12 06:32] #23754 closed

[2021-04-12 08:52] PingPongSet commented on #23526
Hi @sughosneo

Thanks. I have done the link below.
https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/

But it is not a two project application, like what I mentioned below:

But I can close it for the moment.

[2021-04-12 08:52] #23526 closed

[2021-04-12 08:59] #23604 closed

[2021-04-12 11:25] fuomag9 opened #23756 "Missing code samples and variable declarations"
Yhe page is missing code samples and variable declarations, for example the variable `progressHandler` in the [Run the experiment](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/how-to-use-the-automl-api#run-the-experiment) snippet is never declared and I don't know how and where I should declare it (I'm still new to the ML.NET framework but I believe that how-to guides sho

[2021-04-12 11:53] IEvangelist commented on #23717
Hi 👋 @fantaclaus
Thank you so much for posting this issue. We really appreciate it.

The new of the `LibraryOptions` instance is used to bind to the named section of the `IConfiguration` section. When instantiated it may contain default values, the section from the config overwrites anything that was configured. When consumers ask for an `IOptions<LibraryOptions>` they'll get the instance that was

[2021-04-12 11:57] IEvangelist commented on #23714
Hi 👋 @AFDevMike
Thank you so much for posting this issue. We really appreciate it.

The last time I did this (when I updated the article to .NET 5) I ran through everything again to verify it was still correct/accurate, and it seemed good then. I'll try to recreate this and report back to you my findings.

[2021-04-12 13:10] fantaclaus commented on #23717
It doesn't work this way. I've checked it out.

`Bind` just copies data from `namedConfigurationSection` to the object instance. It doesn't really *bind* anything (I have no clue why it is named so). You can see it in the [source code](https://source.dot.net/Microsoft.Extensions.Configuration.Binder/R/a9de1082cf7e70ca.html).

If you want to achieve the described behavior you need this code:

[code

[2021-04-12 13:32] davidbcoulson commented on #23543
OK, we need to put this to rest quickly because anyone who is looking to learn C# for a job is going to fail their first interview question and then hate the language and then it will die and we will all be left with PHP or Ruby.   The actual literal definition of the word Encapsulation is 'the action of enclosing something in or as if in a capsule'.   That is about the same as making a single uni

[2021-04-12 14:20] BillWagner commented on #23543
@davidbcoulson I agree that we need to address this quickly. (It was on my list for this week).

My concern with simply switching the definitions back again is that the verb "hide" applies to both encapsulation and abstraction. In your example above, you can think of an automatic transmission as encapsulating the gears and the mechanisms needed to change gear ratios. I like your statement here (gr

[2021-04-12 14:39] BillWagner commented on #23749
Thanks for noting this @ashmind

I'll take care of it this month.

[2021-04-12 14:42] BillWagner commented on #23738
Thanks for noting this @JorySmith I just created PR #23757 to fix this. The "Start without Debugging" items is now on the "Debug" menu.

[2021-04-12 14:43] BillWagner commented on #23736
Thanks for noting this @Treit and thanks for the fix @pkulikov

[2021-04-12 14:45] BillWagner commented on #23733
Thanks for noting this @Youssef1313

Do you want to create the fix?

Also, you've been participating here so consistently, I can add you to a team with read permissions, which will allow us to assign issues to you that you've said you're taking on.

[2021-04-12 14:47] BillWagner commented on #23730
Thanks for noting this @keithnicholson We'll look into it.

@adegeo Do you know what TFMs are allowed in UWP apps?

[2021-04-12 14:53] Youssef1313 commented on #23753
I think this was fixed in highlight.js (which docs site depends on): https://github.com/highlightjs/highlight.js/issues/2875. The fork used in the site (which I believe is developed in https://github.com/DuncanmaMSFT/highlight.js) doesn't include the fix.

[2021-04-12 14:55] BillWagner commented on #23753
Tagging @DuncanmaMSFT per previous comment.

[2021-04-12 14:57] #16122 closed

[2021-04-12 14:57] IEvangelist commented on #23717
Ah, after looking into this in more detail - and testing out your claims, I stand corrected. You're right, I'm updating this. Thank you

[2021-04-12 14:58] Youssef1313 commented on #23733
Sure. Will open a PR shortly.

I'm okay with that too. Thanks.

[2021-04-12 15:01] #23736 closed

[2021-04-12 15:02] BillWagner commented on #23733
Thanks @Youssef1313

I've added you to the team, and assigned this to you.

[2021-04-12 15:41] gewarren commented on #23748
Closing this as a duplicate.

[2021-04-12 15:41] #23748 closed

[2021-04-12 16:38] #18234 closed

[2021-04-12 17:10] #22519 closed

[2021-04-12 17:13] davidbcoulson commented on #23543
I would like to address the first sentence and the list. These were always referred to as "pillars" not "techniques" for me and that seems to be the theme else were. The happy medium, I would suggest calling them "principles".  Please let me know your thoughts.

C# is an object-oriented programming language. The four basic principles of object-oriented programming are:

- Encapsulation - Ability t

[2021-04-12 17:22] #23717 closed

[2021-04-12 17:33] BillWagner commented on #23543
@davidbcoulson I like it.  I'll make one edit:

My reason for replacing "encapsulation" with "abstraction" in the last two is this: A sub-class refines the abstraction of a base class. (A `car` is a more specific type of `vehicle`).

If you make those updates to your PR, I'd appreciate it. It will be a major improvement. Thanks for the thoughtful discussion.

[2021-04-12 17:44] adegeo commented on #23730
According to the [TFM doc](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#supported-target-frameworks), uap10.0 is the UWP TFM that targets .NET 5 and I would assume uses the same version of C# that .NET 5 does. But really we would need someone from the UWP doc team to answer that.

[2021-04-12 17:50] voxvanhieu commented on #23543
@BillWagner Thanks for the discussion. I like this definition.

Please note that people are confusing about does OOP has abstraction.
Abstraction a.k.a Data abstraction is a step in system design. And Encapsulation, Inheritance, Polymorphism are three key techniques that OOP proposes to achieve Data abstraction. So, Abstraction is the bridge linking the business logic with software architectures.

[2021-04-12 17:59] davidbcoulson commented on #23543
@BillWagner I have updated the PR. Thanks for working with me on this.

[2021-04-12 18:04] #23543 closed

[2021-04-12 18:15] adegeo commented on #23730
@mcleanbyron Perhaps you can answer this question.

[2021-04-12 18:29] adegeo commented on #23725
ahhhhhh so `.templateengine` is probably the SDK templates. I've always wondered where that was. Thanks for finding it! I'll add this information.

[2021-04-12 18:43] mcleanbyron commented on #23730
I'm following up with some engineers on the Windows developer platform team, and will reply back as soon as I can with some details.

[2021-04-12 19:23] Gregory-Alvord opened #23762 "Missing Images on page 7"
On page 7 there are to image references that probably should be the images themselves. There reference a D: drive.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a0a6b42-ef3e-ae99-aede-0d42b4219c36
* Version Independent ID: 20184cae-5444-6d9d-a1d4-5b150f8865a0
* Content: [Why modern desktop applications](https

[2021-04-12 21:33] Gregory-Alvord opened #23763 "Plurality error on page 21"
On page 21 in the xx section the sentence fragment "...implementing contracts and types objects as a way to implement data transfer" should be "...implementing contracts and typed objects to implement data transfer."  Changed "as a way to" to "to" as the MS grammar checker told me to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-04-12 23:42] gewarren commented on #23762
I see two images on page 7 of the PDF. Are these the images you're not seeing? Could you try to download the PDF again?

![image](https://user-images.githubusercontent.com/24882762/114475908-18f11680-9bae-11eb-8e31-df706aa1e966.png)

[2021-04-13 08:15] cjblomqvist opened #23770 "A doesn't implement IA that has property of type IB, despite implementing B which implements IB"
See code below which doesn't compile. From the docs I can't understand why, since B "is a" (implements) IB, which should satisfy IA? Or am I doing something completely wrong?

(I want to keep A/B as specific as possible, while still implementing IA/IB in order to pass it to a method that takes in IA)

See https://stackoverflow.com/q/67071040/856559 for cross-post.

[code]

---
#### Document Detail

[2021-04-13 09:56] sughosneo commented on #23526
Please feel free to reopen this issue if you need any further information. Thank you.

[2021-04-13 11:31] yeremee opened #23772 "`langword` attribute"
Why is the `langword` attribute not described for the `see` element?

![2021-04-13_14-17-38](https://user-images.githubusercontent.com/25692333/114544721-ae9aad80-9c63-11eb-9319-0c5c03a27a72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9f2f59-0dec-c531-b19a-a2109ea0f973
* Version Independent ID: 74c6022c-8661-

[2021-04-13 13:01] Youssef1313 commented on #23772
href should also be included.

[2021-04-13 13:24] MaxFranz opened #23774 "i can't find any correlation between the coordinates obtained from the model and the actual stop sign of the example"
hi,
I am trying to learn Objcet detection with ML.net
Unfortunately, but maybe it is my problem, I can't find any correlation between the coordinates obtained from the model...
"**Predicted Boxes:
Top: 89.453415, Left: 481.95343, Right: 724.8073, Bottom: 388.32385, Label: Stop-Sign, Score: 0.99539465**"
and the actual Stop signal in the example image.
Where do the axes start from? do the top, left

[2021-04-13 15:01] BillWagner commented on #23770
Thanks for noting this @cjblomqvist

The replies on StackOverflow answer the question well: The method that implements a member of an interface must exactly match that member definition. Your example code doesn't. There is a conversion from `B` to `IB`, but it's not an identity conversion.

I'll close this as an answered question.

[2021-04-13 15:01] #23770 closed

[2021-04-13 15:02] BillWagner commented on #23772
Thanks for noting this @yeremee

I see that @Youssef1313 has already created a PR to address it. Thanks there as well.

[2021-04-13 15:09] #23772 closed

[2021-04-13 15:16] Gregory-Alvord commented on #23762
Yes there are two images. There is also a reference to a D: Drive image.

From: Genevieve Warren ***@***.***>
Sent: Monday, April 12, 2021 6:43 PM
To: dotnet/docs ***@***.***>
Cc: Alvord, Gregory ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/docs] Missing Images on page 7 (#23762)

IMPORTANT!! - External Content - Please use caution.

I see two images on page 7 of the PDF. Are these the i

[2021-04-13 15:19] luisquintanilla opened #23776 "Add reference to neural networks"
- Explain how object detection leverages deep learning and neural network algorithms to achieve its task.
- Link to DL vs ML article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63a4f3b7-a2a6-760a-534b-22788ba77b5c
* Version Independent ID: 1bee7901-164f-d9a7-9e7b-fd0ba55ad42e
* Content: [Tutorial: Detect objects in

[2021-04-13 15:26] #23738 closed

[2021-04-13 15:46] cjblomqvist commented on #23770
Cool! Thanks for taking the time to look at it!

[2021-04-13 16:34] #22402 closed

[2021-04-13 17:14] mcleanbyron commented on #23730
Here's the info I received from some engineers in the Windows developer experience team:

* UWP supports .NET Standard 2 and C# 7.3 by default. You can use the <LangVersion> element in your project file to change to a later version of C# (as demonstrated in [Sergio's blog](https://sergiopedri.medium.com/enabling-and-using-c-9-features-on-older-and-unsupported-runtimes-ce384d8debb)), but there is n

[2021-04-13 17:25] #23644 closed

[2021-04-13 18:15] #23238 closed

[2021-04-13 18:26] #23624 closed

[2021-04-13 21:16] #5199 closed

[2021-04-13 23:02] #20004 closed

[2021-04-13 23:05] CamSoper commented on #23731
@FrankPlawetzki Thanks for the heads-up! It worked at the time that I wrote it, but it's possible something changed. I'll give it a once-over, especially given that the doc you link does remove a couple steps.

[2021-04-14 02:46] seblaf1 opened #23780 "Generic type constraint new() should offer customization"
I think it would make lots of sense if C# would allow new() type constraints customization. It would not only allow developers to create instances of a class without specifying a provider function, it would also allow them to ensure a generic type is non-abstract, without having to provide default constructor.

By customization, I mean something such as new(int, int), new(CustomType, bool), ect.

[2021-04-14 02:52] seblaf1 opened #23781 "Allow inferred type constraints in where clause"
I think it would be great if the language would allow types definitions with multiple generics to support inferring just like methods do (_for example_: `DoSomething<T>(T instance)` can be called like so `DoSomething(myInstance);`, we don't have to be verbose and type `DoSomething<MyType>(myInstance)`).

Well, similarly, I would like inferring in the where clause for this particular case as well:

[2021-04-14 06:08] albertly opened #23783 "Using HttpClient"
https://docs.microsoft.com/en-us/dotnet/standard/async-in-depth
https://docs.microsoft.com/en-us/dotnet/standard/async-in-depth#deeper-dive-into-tasks-for-an-io-bound-operation
Deeper Dive into Tasks for an I/O-Bound Operation
In Code Snippet

 var client = new HttpClient();

However, according to the documentation about HttpClient **it is not correct usag**e:
https://docs.microsoft.com/en-us/dotn

[2021-04-14 06:55] Youssef1313 commented on #23781
This is better suited as a discussion in dotnet/csharplang repository. @BillWagner Can you move there?

[2021-04-14 06:58] Youssef1313 commented on #23781
What if there is two definitions for `StateHandler`? `StateHandler<TState, TResult>` and `StateHandler<TState>`.

[2021-04-14 08:07] amanjeetsingh opened #23785 "Typographical error - "subscribe" misspelt as "subcribe" in a diagram"
Change "subcribe" to "subscribe"

![image](https://user-images.githubusercontent.com/7122931/114676084-45db3000-9d4c-11eb-83ac-2470b160a993.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f400f15-ef79-b691-09b8-1b1e46a474d6
* Version Independent ID: 59361774-0b1c-83f9-70cd-03af85ab7ad8
* Content: [Dapr at 20,000 f

[2021-04-14 09:35] lanwin opened #23786 "Support polymorphic deserialization without hand made deserialization"
I guess what most people (like me) looking for when they loop up this doc part, is not how to "Support polymorphic deserialization" with hand made deserialization code, instead they assume to use the serializer. As I read the page I was pretty disappointed that this could only be done with custom deserialization code until I found this issue https://github.com/dotnet/runtime/issues/31051#issuecomm

[2021-04-14 12:01] russcam opened #23788 "How is E_OUTOFMEMORY communicated?"
The remarks state

Given the return type of the method is `PVOID`, how is the E_OUTOFMEMORY error communicated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eefecbed-4dca-ec13-816a-fcdec80d5ca1
* Version Independent ID: 95aade15-429b-6e94-ffab-c9c71dd42d8d
* Content: [IMethodMalloc::Alloc Method](https://docs.microso

[2021-04-14 12:36] erichiller commented on #4176
I too would very much like to see this incorporated. For reference for anyone else coming across this issue, here's the related issues https://github.com/dotnet/csharplang/issues/1764 and https://github.com/dotnet/roslyn/issues/25671

[2021-04-14 13:18] Youssef1313 opened #23789 "IL3002 is not documented"
The rules IL3000 and IL3001 are documented, but IL3002 is not.

The rule was added in https://github.com/mono/linker/pull/1722.

Once it's documented, the issue will need to move to mono/linker to add the help link.

@mateoatr Would you be able to add the doc? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a12a

[2021-04-14 13:29] Youssef1313 opened #23790 "Incorrect category for ILxxxx"
The docs state the category for these rules as "Publish" while it's actually "SingleFile". This is significant to users since the category can be used to configure rules, e.g: `dotnet_analyzer_diagnostic.category-Publish.severity = error` vs `dotnet_analyzer_diagnostic.category-SingleFile.severity = error`.

Note: We should confirm whether it had the category "Publish" in the past and indicate whi

[2021-04-14 13:33] Youssef1313 commented on #23790
It used to have "Publish" category before it was moved from dotnet/roslyn-analyzers to mono/linker.
[Example](https://github.com/DaveSkender/Stock.Indicators/blob/f46f619132050896959c0ac426158b360c99e9a3/.editorconfig#L279) of a broken editorconfig as a result of this change.

[2021-04-14 14:55] #23733 closed

[2021-04-14 15:00] BillWagner commented on #23730
@keithnicholson This has been a great discussion. Thanks for sparking it.

I like how Sergio points to both the potential benefits, and where the pitfalls are in this unsupported scenario.

I'll close this as an answered question.

[2021-04-14 15:00] #23730 closed

[2021-04-14 15:04] BillWagner commented on #23780
@seblaf1 This is a request for a new feature in the language. It should be added in [dotnet/csharplang](https://github.com/dotnet/csharplang)

I'll close this, because the docs accurately reflect the current product.

[2021-04-14 15:04] #23780 closed

[2021-04-14 15:06] BillWagner commented on #23781
Thanks @seblaf1

As @Youssef1313 points out, this should be routed to [dotnet/csharplang](https://github.com/dotnet/csharplang).

I'll let you write the proposal, as it looks like this is related to #23780. I think you can capture the scenario you want to address more accurately than I can.

[2021-04-14 15:06] #23781 closed

[2021-04-14 16:34] tdykstra commented on #23786
@steveharter Should we change the sample converter code or offer this as an alternative?

[2021-04-14 17:37] johnradke opened #23792 "Typo in Top Level Statements tutorial"
Under the "Respond with a random answer" section, it says "This array has 12 answers that are affirmative, six that are non-committal, and six that are negative" but the counts are actually 11, 5, and 5, respectively.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af2939b6-ad9e-4116-c805-8f19ed994c31
* Version Independ

[2021-04-14 18:33] mklement0 opened #23794 "Information about how to refer to *constructed* generic types is missing"
In section "Specifying generic types", the article mentions how to specify generic type _definitions_, such as `` System.Collections.Generic.Dictionary`2 ``, but not also how to refer to _constructed_ generic types.

That is, the notation you can use with `Type.GetType()`, for instance, to refer to the closed constructed generic type you could in C# refer to as `Dictionary<string, int>` is:

* Eit

[2021-04-14 18:44] Jayman54P opened #23795 "This code does not work in VBS (Wscript/cscript)"
This code does not work

Expected ')' line 43

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad875a5-d416-a5e1-ceda-8f4df941c4b5
* Version Independent ID: 8f6cf8db-224b-18c9-ed16-9ab4568aef69
* Content: [How to: Validate File Names and Paths - Visual Basic](https://docs.microsoft.com/en-us/dotnet/visual-basic/programm

[2021-04-14 20:04] lanwin commented on #23786
From my point of view the rest of the document explains very well how to write converters with custom serialization code, so this example should be explain the best match for this scenario. -> change

[2021-04-14 20:43] #23776 closed

[2021-04-14 22:13] DeborahK opened #23799 "Are the first two bullet points interchanged?"
The documentation says:
[code]
Aren't these backwards? Seems that it should be:

`Abstraction` Ability to organize internal complexities of a system into single objects
`Encapsulation` Ability to access or restrict access to properties, methods, or members of something encapsulated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-15 01:51] tdykstra commented on #23694
* docs/core folder: no articles in low/no PV report
  Updated ms.topic to reference for reference articles.

* docs/fundamentals folder: no articles in low/no PV report
  Updated ms.topic to reference for reference articles.

* docs/standard folder:  1 article in low/no PV report: https://docs.microsoft.com/en-us/dotnet/standard/data/xml/xslt-transformations-over-different-stores

  Recommend we a

[2021-04-15 10:52] ol65 commented on #21940
if (logEntry.Exception is null)
            {
                //return;                                   // commented out, because I also want to log messages without extensions
            }
I have to comment out the return in the override write method.

[2021-04-15 10:53] ol65 commented on #21940
public override void Write<TState>(
            in LogEntry<TState> logEntry,
            IExternalScopeProvider scopeProvider,
            TextWriter textWriter)
        {
            if (logEntry.Exception is null)
            {
                //return;                                   // commented out, because I also want to log messages without extensions
            }

            string me

[2021-04-15 13:01] PrinceCharles23 commented on #23703
i am not exactly sure what this reply is supposed to answer...?

[2021-04-15 13:38] TheBewilderedCoder opened #23804 "Analyze Project Portability menu option does not exist"
The analyze project portability context menu and the Analyze Assembly Portability under Analyze menu do not exist as stated in the document.

[Edited to add doc details]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdd8086b-9a95-38d5-160f-c12c653f954e
* Version Independent ID: 0f47d826-e3ef-8549-9d37-2e8afae29f46
* C

[2021-04-15 13:38] BillWagner commented on #23792
Thanks for noting this @johnradke

I see @pkulikov has already submitted a fix.  I'll review that and merge it shortly.

In the future, if you find these quick fixes, you can click the "edit" button (it looks like a pencil), and submit a PR with the fix. That may be quicker than describing where the typo is.

Thanks again.

[2021-04-15 13:42] BillWagner commented on #23799
@DeborahK This has come up several times, with valid arguments on both sides:

See #23543, #23308, and #22690.

What I've learned is that these terms a re related, and many developers (probably including me) have a fuzzy definition of the terms.

If you can suggest better wording that would put this to rest, I'd be very grateful.

[2021-04-15 13:43] #23792 closed

[2021-04-15 13:54] #23579 closed

[2021-04-15 14:04] Youssef1313 commented on #6896
Related to: #6891

@BillWagner @IEvangelist The two issues suggests to different new tutorials on code refactorings. Consider reopening only one of them if one is sufficient. Or both if you think it's going to be valuable.

[2021-04-15 14:05] Youssef1313 commented on #6896
There is also: https://github.com/dotnet/docs/issues/6893 https://github.com/dotnet/docs/issues/6894 https://github.com/dotnet/docs/issues/6895

[2021-04-15 15:45] codi0987 opened #23805 "OKR: address x, y, and z"
<--

GOAL:
Each team has a commitment around content performance

OBJECTIVES:

- Content developers continue to get familiar with the Content Perf report by identifying and updating articles
- Create a sustainable and repeatable process. Each M1 has a project for content performance and tracks
- Continue to use data and feedback from past quarters to influence updates to formulas and ranking

RESU

[2021-04-15 15:46] Youssef1313 commented on #23805
@codi0987 It looks like you opened this issue by mistake?

[2021-04-15 16:16] nojaf opened #23806 "Can I combine leading @ with interpolated strings"
Hello,

Is the following possible in F#?
[code]

The combination of `$` and `@`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 178dbf92-8d00-887f-f55c-44ae4ce0fc26
* Version Independent ID: fa136057-4782-c009-437b-f08bdd267f6a
* Content: [Interpolated strings - F#](https://docs.microsoft.com/en-us/dotnet/fsharp/langua

[2021-04-15 16:37] DeborahK commented on #23799
@BillWagner

I liked your prior suggestion:
"For our purposes here, I would focus on the following key points for this terms:

Abstraction focuses on identifying the important components of a system. You'll use abstractions when you create classes to implement important behavior for your program.
Encapsulation focuses on hiding the internal complexities of a system. You'll use encapsulation when y

[2021-04-15 16:53] LakshanF opened #23807 "Trimming is not supported on WinForms and Wpf Apps"
**Issue description**

Trimming is not supported on Windows Forms and Wpf applications. It is good to add a section detailing some of the reasons on our current [Trim self-contained deployments and executables](https://docs.microsoft.com/en-us/dotnet/core/deploying/trim-self-contained) doc so that developers understand the challenges and risks should they go ahead with trimming. Trimming Winforms

[2021-04-15 17:44] mateoatr commented on #23789
Thanks. Adding it.

[2021-04-16 06:34] nojaf opened #23813 "Bar in Formatting try/with expressions"
Hello,

In [Formatting try/with expressions](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#formatting-trywith-expressions), nothing is really mentioned about the bar in the with clauses.
Should it always be there?

You could omit it in some scenarios like:
[code]

The current sample in the guide also has the clause under the with keyword, should that always be the case?

--

[2021-04-16 06:52] aynur-safin opened #23814 "Encryption example does not work"
https://docs.microsoft.com/en-us/dotnet/standard/security/encrypting-data
This encryption example does not work when decrypted with the same key on the page
https://docs.microsoft.com/en-us/dotnet/standard/security/decrypting-data
When decrypting, an empty string is obtained.

[code]

instead
[code]
I used
[code]
then the decrypted data is identical.

This may be wrong, but in any case, please che

[2021-04-16 09:22] Youssef1313 commented on #23789
Opened https://github.com/mono/linker/pull/1970 for that.

[2021-04-16 09:40] Youssef1313 opened #23815 "Roslyn API docs aren't up-to-date"
It doesn't have version 3.8 and 3.9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70df7db1-1817-8296-deab-28f9fd2221bb
* Version Independent ID: 588093eb-1ed5-da2e-0664-29b822b3de77
* Content: [SyntaxToken.RawKind Property (Microsoft.CodeAnalysis)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.sy

[2021-04-16 10:55] Youssef1313 commented on #23815
Strangely, these version exists in FrameworksIndex folder:

https://github.com/dotnet/roslyn-api-docs/tree/main/dotnet/xml/FrameworksIndex

[2021-04-16 13:24] BillWagner commented on #23709
Per internal conversation with @davkean Strict mode has been replaced by [`AnalysisLevel`](https://docs.microsoft.com/dotnet/core/project-sdk/msbuild-props#analysislevel), which is documented.

Closing as no action needed.

[2021-04-16 13:24] #23709 closed

[2021-04-16 13:35] BillWagner commented on #6891
I'll reopen it. I think it's a good sample.

Adding @jmarolf and @mikadumont. What's your opinion on this as a sample refactoring?

[2021-04-16 13:36] BillWagner commented on #6896
Adding @jmarolf @mikadumont

All the issues referenced in this thread are potential ideas. As you develop your plans, consider which might be useful.

[2021-04-16 14:15] #23595 closed

[2021-04-16 14:29] BillWagner commented on #23815
Ping @jmarolf

Versions 3.7.0, 3.8.0, and 3.9.0 are all built, but aren't live in the OPS system. Which should I make live?

[2021-04-16 14:32] BillWagner commented on #23805
closing as likely mistaken issue.

[2021-04-16 14:32] #23805 closed

[2021-04-16 14:33] BillWagner commented on #23804
@TheBewilderedCoder Thanks for raising this.

Can you add a link to the article this refers to? It looks like that block wasn't included in the issue. We're not sure which article should be updated.

[2021-04-16 14:40] BillWagner commented on #23799
Thanks for the comments and thoughts @DeborahK

I've opened #23817 to update these definitions.

[2021-04-16 14:42] IEvangelist commented on #23814
Hi 👋 @aynur-safin
Thank you so much for posting this issue. We really appreciate it. I'm addressing issue here #23816

[2021-04-16 14:44] BillWagner commented on #23795
@Jayman54P

Can you post a sample to help us determine the cause? The VB sample runs in VB.NET. without more details, it's hard to know what should change.

[2021-04-16 14:44] #23799 closed

[2021-04-16 15:41] Jayman54P commented on #23795
I am trying to run this on vbs not vb.net
Open Notepad and copy and paste from the website using IE to notepad, save as function.vbs or any file name.vbs
Try to run the vbs as is pasted from the website, don't even have to actually call the function.

***@***.***D732B5.6851A710]

From: Bill Wagner ***@***.***>
Sent: Friday, April 16, 2021 10:45 AM
To: dotnet/docs ***@***.***>
Cc: Palazzo, Jason **

[2021-04-16 16:27] eerhardt opened #23819 "Exception Handling in Microsoft.Extensions.Hosting"
## Exception Handling in Microsoft.Extensions.Hosting

In previous versions, when a BackgroundService threw an exception, the exception was lost and the service appeared to hang. .NET 6 has fixed this by logging the exception and stopping the Host when an unhandled exception is thrown.

### Version introduced

.NET 6

### Old behavior

Throwing an exception from a [BackgroundService.ExecuteAsync](

[2021-04-16 17:44] jmarolf commented on #6891
I like it! I'm assigning it to myself so I don't forget about this.

[2021-04-16 17:44] agocke commented on #23790
Looks like this may have been changed accidentally. We should preserve the Publish category to prevent a breaking change here.

[2021-04-16 17:45] jmarolf commented on #23815
3.9 at least should be made live. I would need to do a diff across the API versions but I see no reason that they all shouldn't be up

[2021-04-16 19:13] BillWagner commented on #23815
I updated the configuration in OPS. These versions are live now.

[2021-04-16 19:13] #23815 closed

[2021-04-16 19:28] IEvangelist commented on #20142
Calling @adegeo - do you have any thoughts on this? This was tagged as .NET Desktop, @BillWagner and I just closed all the .NET 5 Wave projects and this was one of the remaining items.

[2021-04-17 02:06] Wefersi opened #23822 "The authors of this documentary confused “preorder” with “postorder”."
[It appears that in the fifth paragraph of this article (How to iterate through a directory tree), that beginning with “When you manually walk a directory tree”, the authors of this documentary confused “preorder” with “postorder”. Clearly, in a directory tree, files correspond to information in it, while the organization by subfolders allows the information as a whole to be structured. At the dir

[2021-04-17 06:26] Youssef1313 commented on #23815
Thanks @BillWagner. There is still one issue here, Version 3.7.0 is duplicated, and one of them seems to refer to 3.9.0:

![gif](https://user-images.githubusercontent.com/31348972/115104094-91612a00-9f56-11eb-91bb-5e134502f41a.gif)

[2021-04-17 08:47] Youssef1313 commented on #6891
@jmarolf I think you forgot to assign it to yourself?

[2021-04-17 09:28] Youssef1313 commented on #19476
@BillWagner @gewarren This needs to be addressed. Can you re open?

[2021-04-17 09:29] Youssef1313 commented on #18977
@BillWagner This sounds like a good suggestion to me. Can you re-open?

[2021-04-17 09:33] Youssef1313 commented on #16655
@adegeo @gewarren Not sure if this should be reopened?

[2021-04-17 09:34] Youssef1313 commented on #13940
@gewarren Should this be reopened?

[2021-04-17 10:08] nojaf opened #23825 "Guidance for long if condition"
Hello,

Are there any guidelines on what to do with long, multiline conditions in [Formatting if expressions](https://docs.microsoft.com/en-us/dotnet/fsharp/style-guide/formatting#formatting-if-expressions)?

Something like:
[code]

If nothing comes to mind I would propose something like:
[code]

Where `if` and `then` align and the expression has one indent.
This is the safest option you have in c

[2021-04-17 10:20] nojaf commented on #23825
Some other nice examples from the wild:
[code]

[code]

[code]

[code]

[2021-04-18 13:07] Meligy commented on #23417
Is this issue just about correcting this very sentence or what else is required to investigate / correct?

[2021-04-18 14:33] Youssef1313 commented on #22039
@gewarren This was fixed in #23196. Can you close?

[2021-04-18 15:37] The-Futurist opened #23832 "Include warnings against using volatile"
There seems to be a strong feeling within the C# language community (e.g. gitter discussions) that `volatile `should no be used, there are other ways of dealing with the problems it was intended to help solve.

The existing documentation does nothing to discourage use of `volatile `yet it seems most experts think it should be discouraged.

Please add information or guidance or at least some clarif

[2021-04-18 16:51] YeskaNova commented on #21777
@Jozkee , I have the same problem but now with IgnoreCycles: I need to add $type property for an array that will contain objects of different types ex : ( [A,B,C] of IEnumerable< A> => [A,{$type:"B",$value:B},{$type:"C",$value:C}] )
My custom JsonConverter will have a JsonSerializer.Serialize in the Write method in case when the type of the object == T in IEnumerable< T> so when there is no need t

[2021-04-18 18:33] Youssef1313 commented on #23790
@agocke This was changed per https://github.com/mono/linker/pull/1974#issuecomment-821560045 right?
Starting with which version will the new category take place?
I'm also curious why it was decided not to preserve the Publish category?

[2021-04-18 19:49] tlakollo commented on #23790
The PR is https://github.com/mono/linker/pull/1665 which is included from installer v6.0.100-preview.3.21202.5 and forward
On the first analyzer, there was only one category for both trimming and single file. So one of the reasons was to have one category for each to differentiate the warnings. But I think the main reason for the change was that although Publish worked very well for .NET console a

[2021-04-18 21:19] nemrism commented on #15006
@adegeo could you help me understand how you refer to the new repo samples in the files of this one?

[2021-04-19 01:40] StingyJack opened #23834 "There should be a note in the Naming Convention section explaining how this advice has changed from before"
The original advice (and what many remember) is only available via the wayback machine.
https://web.archive.org/web/20120819123954/http://msdn.microsoft.com/en-us/library/hh191443.aspx

A note indicating the official guidance has changed would remove some of the additional confusion regarding this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-19 06:05] surfmuggle opened #23835 "Add recommendation about capitalization"
As far as i know in C#

1. classes should use an uppercase as the first letter (convention / expected: `MyAwesomeClass` and not expected `myAwesomeClass`)
2. private fields should be lowercase (convention / expected: `private myField  `and not expected `private MyField`).
3. Regarding private fields the [C# Coding Style](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/coding-sty

[2021-04-19 13:31] Youssef1313 opened #23837 "Add new roslyn analyzer tutorial"
Currently, there is a single analyzer tutorial, that's based on syntax. There should be one tutorial based on syntax, and other one based on semantics (IOperation APIs).

- First, evaluate if the current analyzer in tutorial can be rewritten as IOperation (which is always preferred if possible)

    - If it can be rewritten as IOperation, then the new tutorial would be based on syntax.
    - If it

[2021-04-19 14:01] #23621 closed

[2021-04-19 14:07] BillWagner commented on #18977
reopening per feedback.

[2021-04-19 14:30] BillWagner commented on #23822
Thanks for noting this @Wefersi

I've added this to our backlog to address. I've also added the "up for grabs" label, if any contributors want to make an update in the interim.

[2021-04-19 14:31] BillWagner commented on #23832
That's a great suggestion @Korporal

Can you add a permalink to the recent gitter discussions?

I've added this to our backlog to address as we update the language referenced.

[2021-04-19 14:36] BillWagner commented on #23834
Hello again @StingyJack

Can you explain where you think the guidance changed? The referenced article has the same information under "Naming Conventions".

[2021-04-19 14:42] BillWagner commented on #23835
Thanks for pointing this out @surfmuggle

I think the right location for this kind of information is to extend the [coding conventions](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions) article.

The casing rules are in the runtime's style guide (referenced above). They use the terms "camelCase" and "PascalCase" to describe the capitalization rul

[2021-04-19 14:43] BillWagner commented on #23837
Ping @jmarolf @mikadumont

I think this is a good idea, I'll defer to Jonathan and Mika for their plans.

[2021-04-19 15:10] sdudnic opened #23838 "Autoreplaced ".NET Core" with ".NET 5" misunderstandings"
Replacing automatically ".NET Core" with ".NET 5" in the article gave some misunderstandings:

Consider renaming in different versions of ".NET Core" instead of ".NET 5"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b76cb0d-df6d-88c4-557d-ad327a566eef
* Version Independent ID: 95083e1c-ef53-e813-08e2-1aa31b431f00
* C

[2021-04-19 15:35] jonny-xhl opened #23868 "About sample code variable style problem"
Is the style of the variable in the following code block in the documentation OK?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c487065-f3f0-eb57-d456-a1f9a383c080
* Version Independent ID: 6c15d7e5-f53e-489d-3a88-06451d0dc692
* Content: [Viewing Type Information](https://docs.microsoft.com/en-us/dotnet/framew

[2021-04-19 15:38] Korporal commented on #23832
@BillWagner - Is this helpful?

https://gitter.im/dotnet/csharplang?at=607b146006e2e024e85cad8c

[2021-04-19 15:56] #21787 closed

[2021-04-19 19:09] #22039 closed

[2021-04-19 19:30] gewarren commented on #23703
I was just pointing out which part you were referring to in the article. Sorry for the confusion!

[2021-04-19 19:30] #23628 closed

[2021-04-19 21:11] #23740 closed

[2021-04-19 22:22] gewarren commented on #23838
@tdykstra Do you want to take this one?

[2021-04-19 22:36] tdykstra commented on #23838
Will do.

[2021-04-20 02:22] #23814 closed

[2021-04-20 08:30] Finemechanic opened #23848 "Syntax highlighting for VB.Net"
Could anyone fix syntax highlighting for VB.Net? It apparently handles comments (with ' symbol) incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2beec841-2fc0-e46f-b3da-9c921b22d427
* Version Independent ID: 988848ea-f798-3bec-aba0-a33e656ace82
* Content: [Collections - Visual Basic](https://docs.microsoft.c

[2021-04-20 08:46] Youssef1313 commented on #23848
Pinging @DuncanmaMSFT

[2021-04-20 13:55] IEvangelist commented on #23848
Hi 👋 @Finemechanic
Thank you so much for posting this issue. We really appreciate it. I'll work on getting this addressed.

[2021-04-20 13:59] Youssef1313 commented on #23848
@IEvangelist fwiw, I believe this is fixed in the upstream highlightjs library.

[2021-04-20 14:01] IEvangelist commented on #23848
I'm well aware, thank you @Youssef1313.

[2021-04-20 14:33] IEvangelist commented on #23783
Hi 👋 @albertly
Thank you so much for posting this issue. We really appreciate it.

No, you did not miss something. You are correct, this article does go against the guidance for `HttpClient`, but this article is a bit dated and the sample source code could use a bit of clean up in that regard. If you're interested in updating this article and sample source code, I'd be happy to review it. I'm mark

[2021-04-20 14:56] #23642 closed

[2021-04-20 17:15] StingyJack commented on #23834
No it doesnt.

The original guidance (that I linked from the wayback - and have screenshotted in case someone tries to delete or alter it) says

The current article says

Somewhere along the way that naming convention changed, I dont know when but it did so subtly enough that many missed it, including popular code analysis providers.  What I'm asking for just a note that states "the guidance was X

[2021-04-20 18:19] #23838 closed

[2021-04-20 18:25] tdykstra commented on #23838
Good point, and thanks for the suggestion, @sdudnic!

[2021-04-20 18:51] #23789 closed

[2021-04-20 19:23] reecebradley commented on #23628
Good work @IEvangelist 👍🏻

[2021-04-20 19:33] IEvangelist commented on #23628
Thanks, the article is live now with the updates - enjoy:
https://docs.microsoft.com/dotnet/core/extensions/custom-configuration-provider

[2021-04-20 23:32] gewarren opened #23856 "Add new SYSLIB warnings"
Update this page based on https://github.com/dotnet/runtime/blob/main/docs/project/list-of-diagnostics.md.

- [x] SYSLIB0003 - see https://github.com/dotnet/runtime/pull/57035/files
- [x] SYSLIB0013
- [x] SYSLIB0014
- [x] SYSLIB0015
- [x] SYSLIB0016
- [x] SYSLIB0017 - see https://github.com/dotnet/runtime/pull/50941/files
- [x] SYSLIB0018 - see https://github.com/dotnet/runtime/pull/50941/files
-

[2021-04-20 23:33] carlossanlop opened #23857 "Breaking change: FileStream does not synchronize file offset with OS anymore"
##  FileStream does not synchronize file offset with OS anymore

@adamsitnik described it in detail here: https://github.com/dotnet/runtime/issues/50860

cc @jozkee

### Version introduced

.NET 6.0 Preview 4

### Old behavior

### New behavior

### Reason for change

### Recommended action

We will write a blog post with recommended practices.

### Category

- [X] Core .NET libraries

### Affecte

[2021-04-20 23:36] carlossanlop opened #23858 "Breaking change: FileStream.Position is updated AFTER ReadAsync|WriteAsync completes"
## FileStream.Position is updated AFTER ReadAsync|WriteAsync completes

@adamsitnik described it in detail here: https://github.com/dotnet/runtime/issues/50858

cc @jozkee

### Version introduced

.NET 6.0 Preview 4

### Old behavior

### New behavior

### Reason for change

### Recommended action

We will write a blog post and will share good practices.

### Category

- [C] Core .NET libraries

#

[2021-04-21 04:12] konrad-jamrozik opened #23859 "Suggestion to hyperlink "App secrets" to relevant article"
The same way it is done here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-5.0

```1. [App secrets](xref:security/app-secrets) when the app runs in the `Development` environment.```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b458a209-339d-e896-4e85-6d1c6a7aa1f9
* Version

[2021-04-21 06:30] sdudnic commented on #23838
don't see any changes in the document page online...

[2021-04-21 13:45] tlordello opened #23863 "Formatting colour is incorrect"
The code example in this page has incorrect colour formatting. After the commented line "' The following is the only Case clause that evaluates to True.", the rest of the code is shown in red, as though it was a comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca8b932e-d836-483e-d0bf-3e7e74161a52
* Version Indep

[2021-04-21 14:09] BillWagner commented on #23863
Ping @mimisasouvanh

Where should we move this for the site team to address?

[2021-04-21 14:47] BillWagner commented on #23834
Thanks for clarifying @StingyJack

I'm closing this as by-design.

The changed text was deliberate and clarified earlier language.  See #11379 for details.  The new language differs from the old in two observable scenarios:

1. `async void` methods. Async void methods are discouraged except when necessary to conform to event handlers or other APIs. In those cases, you probably can't add the `Async

[2021-04-21 14:47] #23834 closed

[2021-04-21 15:14] #23732 closed

[2021-04-21 15:24] Youssef1313 commented on #23863
Duplicate of https://github.com/dotnet/docs/issues/23848.

[2021-04-21 15:29] #23399 closed

[2021-04-21 15:48] #23105 closed

[2021-04-21 15:50] tdykstra commented on #23838
Publication of PR changes to the live site isn't immediate, but it's there now.

[2021-04-21 15:58] BillWagner commented on #19065
I'm going to close this.  PR dotnet/csharpstandard#104 will address it.

Moving this issue to csharpstandard won't provide value. This change is already on the list.

[2021-04-21 15:58] #19065 closed

[2021-04-21 15:59] BillWagner commented on #20181
Closing as this is fixed in the C# 6 version in dotnet/csharpstandard.

[2021-04-21 15:59] #20181 closed

[2021-04-21 16:00] BillWagner commented on #20303
I'll close this as an answered question.

Not moving to csharpstandard, as the term "LDM" will be removed as part of standardizing any of the feature specs.

[2021-04-21 16:00] #20303 closed

[2021-04-21 16:02] #23859 closed

[2021-04-21 16:03] BillWagner commented on #20323
Closing.  This is correct in the draft standard in [csharpstandard](https://github.com/dotnet/csharpstandard/blob/draft-v6/standard/conversions.md#11211-implicit-conversions-involving-type-parameters)

[2021-04-21 16:03] #20323 closed

[2021-04-21 16:37] OJacot-Descombes commented on #23399
Thanks for fixing this @BillWagner and @KellenCarl.

[2021-04-21 16:50] BillWagner commented on #21140
I'm going to close this.

A great enum example was added in #23623

This shouldn't be added in the language spec. Instead, the language reference is preferred as the text is more informative and less normative.

[2021-04-21 16:50] #21140 closed

[2021-04-21 20:01] Wefersi commented on #23822
Hi Wagner

After forwarding this material, I noticed that its title had the first word
without the initial letter “T”, omitted during the copy-paste process. So
you can correct that omission by replacing “he authors of this documentary
...” with “The authors of this documentary ... “.

Best Regards
Wellington F. Silva

Em seg., 19 de abr. de 2021 às 11:31, Bill Wagner ***@***.***>
escreveu:

[2021-04-21 20:05] #23783 closed

[2021-04-21 20:34] StingyJack commented on #23834
Before it said "suffix Async when the `async` keyword was used", now it's "suffix Async when `Task` (etc) return types are used.

Changing the condition with which to apply the convention  isn't a clarification of the original text. I get that the new text is intended and by design. I'm not asking that be changed, just an addendum that acknowledges this guidance has been updated and how. Historica

[2021-04-21 20:51] cartermp commented on #23825
I think what you propose is reasonable, although I would say that it should come with guidance that says something to the effect of:

"If you have a condition that is this long, first consider refactoring it into a separate function and calling that function instead"

[2021-04-21 21:02] cartermp commented on #23813
Yeah, it's not necessary in the single case, which offhandedly I'd say is the most common case.

I guess since it's a pattern match and we do have the `|` in each case, we should be consistent here.

[2021-04-21 21:06] cartermp commented on #23806
Yep, this should be added. It's got the same rules as `@`-encoded strings that aren't interpolated, where the `\` character is ignored.

[2021-04-21 21:09] adegeo commented on #23868
No they should be named better. The code for that whole article would need to be migrated and updated.

[2021-04-22 08:20] #23319 closed

[2021-04-22 08:56] sdudnic commented on #23838
sometimes is seem to be a complete mess for a novice starting leardning Core:
**.NET Core** is also **.NET 5+** but also now just **.NET**,
but **.NET _Framework_** does not mean the _Framework_ of _.NET_(that is .NET _Core_, and also _.NET 5_ or +)

Also we would say, **.NET Standard** would be the _.NET classical Framework_, but in fact is the API between all .NET frameworks.... uff...

[2021-04-22 09:20] #21607 closed

[2021-04-22 09:28] vijaya-lakshmi-venkatraman opened #23873 "try-convert installation before upgrade-assistant"
Hi,
I think upgrade-assistant tool can now automatically install try-convert and is no longer a pre-requisite. However the page mentions that try-convert be installed by running the required commands.

_This tool depends on try-convert. In order for the tool to run correctly, you must install the try-convert tool for converting project files to the new SDK style. If you already have try-convert in

[2021-04-22 10:20] #21244 closed

[2021-04-22 12:38] Tickles opened #23876 "Webshop referal"
The webshop which is refered to on github in the "https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/common-web-application-architectures#clean-architecture"
is adviced to not use or create your SOLID application from. It suffers from reference issues, its not loose coupled as Jason Taylors version etc. Can you pls correct the solution and update it in github.
Example, Depe

[2021-04-22 13:01] BillWagner commented on #23863
closing as duplicate.

[2021-04-22 13:01] #23863 closed

[2021-04-22 13:30] shoter opened #23877 "Creating openid connect authentication/authorization is just a struggle with your docs"
This sentence

It's hard to make out what you really mean for someone configuring everything for the first time. Do I need to remove some code connected with Identity? First thing that comes into mind is to remove:
[code]
But it is not middleware. As a reader I am just confused what you want to tell me. Example project with some setup would be greatly appreciated.

Even example code to see what I

[2021-04-22 13:40] infinitylight opened #23878 "Maybe the "value" means something else"
[Enter feedback here]
There is "but it always holds some value.", and you known local variable dose not have a default value.
Maybe the "value" means something else, would you like to show some details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b78914c-5b34-4fbb-0041-67374cf6c9cc
* Version Independent ID: 0e83f18

[2021-04-22 15:02] BillWagner opened #23879 "Archive recommendations: XSLT Transformer"
Recommend we retire all docs about the obsolete-since-Fx-2.0 XslTransform class: everything in TOC section headed by https://docs.microsoft.com/dotnet/standard/data/xml/xslt-transformations-with-the-xsltransform-class

See https://github.com/dotnet/docs/issues/23694#issuecomment-819960640

[2021-04-22 15:42] adegeo commented on #20142
AFAIK this stuff still applies to .NET Core and isn't Desktop specific. It looks like there are 6 articles in this section. https://docs.microsoft.com/en-us/dotnet/framework/resources/ It also looks like they've been most scrubbed on Framework from the titles at some point too. The content however hasn't. Some of it still applies to .NET Framework (references to the GAC) and there seem to be a ton

[2021-04-22 15:42] Youssef1313 opened #23880 "Document ProvidePublicParameterlessSafeHandleConstructorAnalyzer after it's merged"
Product PR: https://github.com/dotnet/roslyn-analyzers/pull/5043

[2021-04-22 15:49] Youssef1313 commented on #20142
@adegeo Feel free to edit the issue as appropriate

[2021-04-22 15:49] ardalis commented on #23876
The only "webshop" referenced in that section would be the one the book is associated with, which is
https://github.com/dotnet-architecture/eShopOnWeb

[2021-04-22 15:54] ardalis commented on #23876
Never mind, I see that is the one you were referring to. I think any issues with that sample can be addressed with issues there, with your issue https://github.com/dotnet-architecture/eShopOnWeb/issues/524 as a good starting point and for tracking.

[2021-04-22 17:14] #18872 closed

[2021-04-22 17:44] PostalMike opened #23883 "Group clause section of this page"
[Enter feedback here]
Use the group clause to produce a sequence of groups organized by a key that you specify. The key can be any data type. For example, the following query creates a sequence of groups that contains one or more Country objects and whose key is a char value.

C#

Copy
var queryCountryGroups =
    from country in countries
    group country by country.Name[0];
For more information

[2021-04-22 17:59] PostalMike opened #23885 "Group clause section of the page"
[Enter feedback here]

Use the group clause to produce a sequence of groups organized by a key that you specify. The key can be any data type. For example, the following query creates a sequence of groups that contains one or more Country objects and whose key is a char value.

I get it -- you're taking the first letter of the name and grouping this way.  I have no idea of the context, why this wo

[2021-04-22 18:02] Vinigas opened #23886 "`curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin` doesn't install dotnet5, but dotnet3.1 instead."
`curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin` doesn't install dotnet5, but dotnet3.1 instead.

Meaning this tutorial is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 853c5e7f-a0b8-c6ba-8744-293407a12e86
* Version Independent ID: 3f79892b-de26-fb7a-77b1-ec02b8a7e566
* Content: [Deploy .NE

[2021-04-22 18:31] pkulikov commented on #10748
@BillWagner now, as the operators and expressions are consolidated under https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/, I would like to consolidate the C# statements under the *language-reference/statements* folder. Is that something you would welcome?

[2021-04-22 18:36] BillWagner commented on #10748
@pkulikov

Yes! That would be fantastic. Thank you.

[2021-04-22 18:44] pkulikov commented on #10748
@BillWagner

Yes, please. And the other two I've found as well: #10746 and #10749

So, the idea is like with the operators: consolidate similar statements into one article.

[2021-04-22 18:45] BillWagner commented on #10746
reopening and assigning to @pkulikov

[2021-04-22 18:46] BillWagner commented on #10749
reopening and assigning to @pkulikov

[2021-04-22 19:58] robin-karlsson opened #23888 "No anomalies detected"
In the sample for phone calls anomaly detection we noticed that you won’t get any anomalies detected with version 5.5. Running the sample with version 5.3 works.

Not sure if this is an intended change in the library requiring an update of sample data or if this is due to a problem in the TimeSeries part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-04-22 21:44] sfoslund opened #23889 "Run does not respect properties"
`dotnet run` does not respect MSBuild properties. This has been the behavior for all past releases and should be documented, see https://github.com/dotnet/sdk/issues/17016 and https://github.com/dotnet/sdk/issues/8520

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd3f4227-cd9b-7b1c-7e1b-ffb3d42ae496
* Version Independ

[2021-04-22 22:03] adegeo commented on #23362
@rbhanda Can you comment on this?

[2021-04-23 01:35] jeffhandley commented on #23856
@gewarren I want to confirm that you plan to review the `list-of-diagnostics.md` file and gather all of the new diagnostics from there to produce the breaking change document, and that (so long as we accumulate the diagnostics there) we do not need to submit separate issues for each new obsoletion. Is that correct?

If that's the case, would it still be helpful for us to link to this issue from ea

[2021-04-23 01:52] jeffhandley opened #23891 "Obsoleted APIs using new diagnostic ID (.NET 6.0 preview-to-preview breaking change)"
## Obsoleted APIs using new diagnostic ID (.NET 6.0 preview-to-preview breaking change)

During early .NET 6.0 previews, a few APIs were obsoleted without using custom diagnostic ids. In .NET 6.0 Preview 5, those APIs will now report as obsolete using new, custom diagnostic ids. If usage of those APIs had the diagnostics suppressed through `CS0618`, the suppressions will need to be modified to use

[2021-04-23 02:12] gewarren commented on #23856
@jeffhandley Yes, that's correct, and you don't need to submit separate issues. But I think it would be helpful to link to this issue from the PRs, as a sign that there's a new one to add to the breaking changes doc. Thanks!

[2021-04-23 03:47] gewarren opened #23893 "Repo chores - May 2021"
- [x] Check broken links report for [dotnet/docs](https://ops.microsoft.com/#/repos/a3bda507-3390-de91-8f7f-26f90f4e5fc8?tabName=brokenlinks)
- [x] Check broken links report for [dotnet/dotnet-api-docs](https://ops.microsoft.com/#/repos/500c749d-de78-3d4a-00e4-269d599bf9ec?tabName=brokenlinks)
- [x] Check [microsoftdocs/feedback](https://github.com/microsoftdocs/feedback/issues) for .NET issues
-

[2021-04-23 03:47] #23341 closed

[2021-04-23 03:50] #23030 closed

[2021-04-23 09:12] PaulUpson opened #23896 "--prerelease option only available from .NET 5 or later"
Following the inclusion of the `--prerelease` option (#21495) the statement that the docs still apply to .NET Core 2.x SDK and later versions is false.

Took me a while understand why I couldn't find it on .NET Core 3.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff30b638-44e3-077c-3cad-b61d1314c303
* Version Indep

[2021-04-23 12:48] Youssef1313 opened #23900 "Tracking issue for missing documentation of .NET6 CAxxxx rules"
## TODO

- [ ] CA1419 added in https://github.com/dotnet/roslyn-analyzers/pull/5043.
- [ ] CA1727
- [ ] CA1842 and CA1843 added in https://github.com/dotnet/roslyn-analyzers/pull/4841
- [ ] CA1848
- [ ] CA2017
- [ ] CA2253
- [ ] CA2254 added in https://github.com/dotnet/roslyn-analyzers/pull/5244.
- [ ] CA2256
- [ ] CA2257
- [ ] CA2258

## Done

- [x] CA1418 added in https://github.com/dotnet/rosl

[2021-04-23 13:00] Youssef1313 commented on #23880
Tracked in https://github.com/dotnet/docs/issues/23900.

[2021-04-23 13:00] #23880 closed

[2021-04-23 14:56] ksaur commented on #21225
@frostythecodeman , as a work-around, you can do:
[code]

See https://github.com/microsoft/hummingbird/pull/500

[2021-04-23 15:03] Youssef1313 opened #23902 "Roslyn API docs contains a duplicate version"
Thanks @BillWagner. There is still one issue here, Version 3.7.0 is duplicated, and one of them seems to refer to 3.9.0:

![gif](https://user-images.githubusercontent.com/31348972/115104094-91612a00-9f56-11eb-91bb-5e134502f41a.gif)

_Originally posted by @Youssef1313 in https://github.com/dotnet/docs/issues/23815#issuecomment-821775752_

[2021-04-23 15:08] BillWagner commented on #23878
Hello 👋  @infinitylight

This article is correct. The variable may hold `null`, or the default value, but it always has some value.

I'll close this as an answered question.

[2021-04-23 15:08] #23878 closed

[2021-04-23 15:10] BillWagner commented on #23883
Thanks for reaching out @PostalMike

I'll close this as a duplicate of #23885 which has similar information, but more details.

[2021-04-23 15:10] #23883 closed

[2021-04-23 15:11] BillWagner commented on #23885
Thanks for noting this @PostalMike

I'll add this to our backlog to clarify these statements.

I've also added the "up for grabs" label, in case a community member wants to issue a PR in the interim.

[2021-04-23 15:16] BillWagner commented on #23902
Thanks @Youssef1313

I just made the update. I'll close this once I've verified that it's live.

[2021-04-23 15:28] #23813 closed

[2021-04-23 15:48] adegeo commented on #15006
We don't use the samples repo anymore. All snippets being hosted in that repo were migrated into this repo under the [samples/snippets](https://github.com/dotnet/docs/tree/main/samples/snippets) folder. I just noticed the original post to the this thread listed the snippets file from the samples repo, I just edited it and pointed to where that file is located in this repo.

When updating them, you

[2021-04-23 15:53] gewarren opened #23904 "Update for .NET 6 config changes"
Related to https://github.com/dotnet/roslyn/issues/49250.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8906b2c-b984-0427-d064-829e7ea2fc55
* Version Independent ID: 128f9903-971d-6a66-a2cb-9b12acbc55e7
* Content: [Code analysis in .NET](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/overview)
* C

[2021-04-23 15:58] #23578 closed

[2021-04-23 16:00] gewarren opened #23905 "Consolidate with duplicate article"
This article should be consolidated with https://docs.microsoft.com/en-us/dotnet/standard/language-independence-and-language-independent-components. They are almost identical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb9b4b39-813f-ed23-3cb7-682766b3cfaa
* Version Independent ID: c3216a96-76a2-21aa-2072-0328725cd3

[2021-04-23 16:06] gewarren commented on #23905
From Tom: Looks like the short-named one was created from an earlier version in #659, then a year later the long-named one was included in a mass migration from CAPS. Since then they’ve been updated independently: we should probably keep the short-name one but do a diff to make sure we pick up essential changes that were made only to the long-named one.

[2021-04-23 16:15] BillWagner commented on #23902
Monikers are updated. This is now fixed.

[2021-04-23 16:15] #23902 closed

[2021-04-23 16:28] tdykstra commented on #23896
Thanks for reporting that -- I'll add a note that this option is available starting with .NET 5 SDK.

[2021-04-23 16:45] tdykstra opened #23908 "Add an example Unix epoch DateTime converter."
See post-merge comments on PR https://github.com/dotnet/docs/pull/23589

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74d77c-33e1-d44c-18c6-bd0b612f74de
* Version Independent ID: 9c6a7135-eb75-21a9-1d27-0880459523ca
* Content: [Migrate from Newtonsoft.Json to System.Text.Json - .NET](https://docs.microsoft.com/en-us

[2021-04-23 17:18] #21225 closed

[2021-04-23 18:48] Youssef1313 opened #23910 "Add table to SingleFile rules"
As a follow up, we should add a similar table to all 3 singlefile rules:

![image](https://user-images.githubusercontent.com/24882762/115916330-87916800-a429-11eb-8aff-316c526049c6.png)

_Originally posted by @gewarren in https://github.com/dotnet/docs/pull/23853#discussion_r619429791_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-23 19:00] #23790 closed

[2021-04-23 20:06] #23819 closed

[2021-04-23 20:18] tdykstra commented on #23838
Yes, it can be confusing. The rationale behind the naming is explained in the [.NET 5 what's new article](https://docs.microsoft.com/dotnet/core/dotnet-five):

In most of the current documentation we use the new naming, but in this one we're trying ".NET Core/5+" to see if it helps avoid the possibly more confusing comparison between ".NET vs. .NET Framework".  This article presents extra challeng

[2021-04-23 20:58] adegeo commented on #23912
@KevinZonda thank you for reporting this.

@JasonCard It looks like the :::code moniker isn't rendering on translated pages. I checked chinese, german, and french. English is rendering correctly.

[2021-04-23 21:55] JonRobertson opened #23914 "date in provided code should be currentDate"
The project at [https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio](url) declares the date variable as "currentDate", not "date". The code on this page should be corrected to use the same variable name (currentDate).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc3290a-6511-5ef4-68bc-c2a8424dd

[2021-04-23 22:34] #23908 closed

[2021-04-23 22:58] tdykstra commented on #23914
@JonRobertson Thanks for reporting that.

@adegeo Do you want to take this as a follow-up to your OKR PR? It might be better to just change back from currentDate to date in the C# code; otherwise there are several screenshots that have to be redone also.

[2021-04-23 23:37] gewarren opened #23916 "PNSE - Update for .NET 6"
Update the list for .NET 6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6487cae-3320-584d-6c27-fc712ec03e72
* Version Independent ID: 846981e7-bc47-0df8-8621-22282de18ef3
* Content: [Unsupported APIs on .NET Core and .NET 5+](https://docs.microsoft.com/en-us/dotnet/core/compatibility/unsupported-apis)
* Content Sour

[2021-04-23 23:41] goflemin opened #23917 "Shouldn't the next steps in this document link to "Instrumentation" and not back to the overview?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f172877e-feb4-cd62-3179-9335db8d70bd
* Version Independent ID: f3c7815e-7bd4-19ef-72c8-0a12dd2622c6
* Content: [Distributed tracing concepts - .NET](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/distributed-tracing-concepts)
* Content Sourc

[2021-04-24 15:59] plemon opened #23919 "Pr"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c2-d7d5-fe02-80c65cca9672
* Content: [dotnet-install scripts - .NET CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script)
* Content Source: [docs/core/t

[2021-04-24 16:00] #23919 closed

[2021-04-25 08:32] sougata12 opened #23921 "Difference between Structure elements and Structure Members"
[Enter feedback here]

In the MSDN documentation [((https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/data-types/structures-and-classes)](url) where they discuss similarities of classes and structures, the following is stated:

Can someone please explain that for a structure in VB, what is the difference between an element of a structure and a member of a str

[2021-04-25 09:04] StevenTCramer opened #23922 "Documentation doesn't mention deleting the Program.cs"
`dotnet new console -n templatepack -o .`

The above will also create a `Program.cs` file that you don't mention deleting nor is it listed further down when you show contents of the working folder.

![image](https://user-images.githubusercontent.com/357219/115987488-7db16580-a5df-11eb-8893-238141efb07b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-25 09:28] ruhelaanurag opened #23923 "A minor typing error in the text."
It looks like a typo to me in the line below, "will it" is to be replaced with "it will".

```Only if the C# compiler cannot match the method call to an original method on Derived ***will it*** try to match the call to an overridden method with the same name and compatible parameters```

new line should be:
```Only if the C# compiler cannot match the method call to an original method on Derived **

[2021-04-25 13:27] Youssef1313 opened #23925 "Change ".NET Core CLI" to ".NET CLI" for dotnetcli identifier"
This is not specific to dotnet/docs. But opening here since issues in MicrosoftDocs/feedback usually get stale and also that @IEvangelist is looking currently into similar issues.

It looks like ".NET CLI" is now more natural than ".NET Core CLI" since the introduction of .NET 5.0:

![image](https://user-images.githubusercontent.com/31348972/115995219-b00c9400-a5da-11eb-97a5-ec58a9c2119d.png)

I h

[2021-04-25 23:33] #23825 closed

[2021-04-26 13:57] IEvangelist commented on #23925
I'm curious what @BillWagner @gewarren @tdykstra and @CamSoper think about labelling this as `.NET CLI` instead of `.NET Core CLI`. In fact, that is probably a product team question - @BethMassi what do you think?

[2021-04-26 14:10] #23885 closed

[2021-04-26 14:14] #23896 closed

[2021-04-26 14:20] BillWagner commented on #23923
Thanks for writing this @ruhelaanurag

That sentence is grammatically correct, but is not the best wording.

I've put this in our backlog to update when we update that topic. I've also added the "up for grabs" label if anyone wants to submit a fix in the interim.

[2021-04-26 14:40] IEvangelist commented on #23922
Hi 👋 @StevenTCramer
Thank you so much for posting this issue. We really appreciate it. I've labeled this issue as up-for-grabs, and I'd be happy to review a pull request add the details about remove the _Program.cs_.