[2019-10-01 13:27] joelmartinez commented on #14688
@BillWagner indeed ... there is an existing issue to track this here:
https://github.com/mono/api-doc-tools/issues/260

/cc @mimisasouvanh

[2019-10-01 13:36] FrojdJocke opened #14867 "Small issue with the IsValidEmail method"
[Enter feedback here]
Thanks for the IsValidEmail method. Helped me a lot!
There is a small issue though in the regex query, it allows the domain name to end with a hyphen (-). I modified that part of the regex as follows:

([0-9a-z][-0-9a-z]*[0-9a-z]+|[0-9a-z]+\.)+

Thought you would appreciate the feedback.
Once again, thanks a million for the method!
---
#### Document Details

⚠ *Do not edit th

[2019-10-01 13:59] BillWagner commented on #14082
@MaxTranced Thanks for doing the work for the fix.

From [this page](https://github.com/MaxTranced/dotnet-docs/tree/patch-1) You should see a button that says "new pull request". From there, you can edit the pull request title and description, then click "Submit".

Thanks for working to help us improve our docs!

[2019-10-01 14:12] BillWagner commented on #14701
Adding @leecow

When I did the following, all the preview 8 SDK and runtime elements (for example) were removed. I'm not sure what could be the issue here.

[code]

You're right that for versions prior to 3.0, you also need to remove the asp.net core runtime from ***/usr/local/share/dotnet/shared/Microsoft.AspNetCore.All***. We've removed that extra directory in the 3.0 wave instructions.

[2019-10-01 14:23] thomasfn opened #14869 "Declaring the variable inside the using is not needed"
For example, the following is valid:

[code]

In this case, the font is still disposed at the end of the scope as per the example, but the instance can't be accessed in code. This is not so useful for a font instance, but it's useful for objects whose functionality is entirely encapsulated in their lifecycle - for example, a lock on a mutex.

[code]

---
#### Document Details

⚠ *Do not edit this

[2019-10-01 14:46] BillWagner commented on #14852
Thanks for creating this @twocs

I submitted #14870 to address this issue.

[2019-10-01 14:48] BillWagner commented on #14869
Thanks for noting this @thomasfn

It is a good enhancement to this description.

I've added it to our backlog and we'll address this when we next update this article.

I've also added the "up for grabs" label for any community contributions.

[2019-10-01 14:50] BillWagner commented on #12372
Closing.

[2019-10-01 14:50] #12372 closed

[2019-10-01 14:51] BillWagner commented on #14048
closing due to lack of response.

[2019-10-01 14:51] #14048 closed

[2019-10-01 14:52] BillWagner commented on #807
closed as a stale issue.

[2019-10-01 14:52] #807 closed

[2019-10-01 14:54] BillWagner commented on #5926
@Thraka

I like your suggestions. I'm removing the "waiting on feedback" label.

[2019-10-01 14:57] BillWagner commented on #12689
Those superscripts should be removed. I think this was migrated strangely from MSDN.

I've added the "up for grabs" label and added this to our backlog.

[2019-10-01 14:57] remids commented on #14048
I apologize; I don't monitor Github issues, and seem to have missed the original email notification for your comment @BillWagner .  Although the issue is closed, which is fine, I got there from a Google search for "Deconstructing Tuples".  FYI.

[2019-10-01 15:18] grubioe commented on #13884
@Thraka - do you have an ETA on when [this document](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#default-compilation-includes-in-net-core-projects) will be updated to reflect WPF default items?  Thanks

[2019-10-01 15:18] #12071 closed

[2019-10-01 15:20] #7272 closed

[2019-10-01 16:13] cheenamalhotra opened #14871 "Broken Samples in Documentations"
Documentation broken here as Samples are not loaded:

https://github.com/dotnet/docs/blob/master/docs/framework/data/adonet/obtaining-a-dbproviderfactory.md

[2019-10-01 17:10] #14745 closed

[2019-10-01 17:31] #12029 closed

[2019-10-01 17:57] mairaw commented on #14871
@stevestein This is an incoming feedback for one of the ADO.NET topics. Please take a look!

https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/obtaining-a-dbproviderfactory

[2019-10-01 17:59] mairaw commented on #14871
Oh now I'm wondering, @cheenamalhotra the source will look different than the rendered content. Are you saying that the published content has issues?

[2019-10-01 18:46] Youssef1313 commented on #14871
@cheenamalhotra, Do you mean that you don't see the code in the markdown files in GitHub while it's seen in live docs ?
If so, it's not an issue at all. The code is referenced from another repository, the [Samples Repository](https://github.com/dotnet/samples). You can see the path clearly in the markdown, then go to the corresponding file in the samples repo.

[2019-10-01 19:10] winaterion commented on #14681
@janvorli I tried a different dependency, and it worked, **But**, I had to tweak the example in the documentation (at https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability) in order for it to work, Seems like when I publish my library which has dependencies (like SharpCompress for example), the example in documentation still locks the file, so instead of getting the assembly as s

[2019-10-01 19:47] janvorli commented on #14681
@winaterion you should not need to use the file stream trick, it should still work as is. I think the file lock is probably just a temporary thing. What you can try (just to verify that) is to keep a list of weak reference to all the assemblies loaded by the AssemblyLoadContext.Load method and modify the loop with GC.Collect / GC.WaitForPendingFinalizers so that it checks not only the weak referen

[2019-10-01 19:58] luisquintanilla commented on #14854
Hi @hattabatatta,

Sorry to hear you're having trouble building your application. After running the sample and re-creating the application using the tutorial I was not able to reproduce.

A few things I would suggest:

1. Take a look at the source code used in this tutorial
    https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/TaxiFarePrediction
1. Make sure that `TaxiFarePr

[2019-10-01 19:58] #14854 closed

[2019-10-01 20:00] leecow commented on #14701
To be **_really_** clear, we're not talking about uninstalling, properly understood, in this thread; we're talking about manually deleting stuff from disk so understanding what's in the dotnet/ directory is rather important. Looks like the [Unistalling .NET Core](https://docs.microsoft.com/en-us/dotnet/core/versions/remove-runtime-sdk-versions?tabs=macos#uninstalling-net-core) only talks about 1.0

[2019-10-01 20:20] winaterion commented on #14681
@janvorli you are right, it seems to be working. I probably didn't clean some old DLLs because earlier when I run GC code, it went to infinite loop. All is perfect now, thanks for the support!  =)

[2019-10-01 20:37] cheenamalhotra commented on #14871
Yes rendering was my concern. I would imagine Sample content to be pulled in the markdown from dotnet/samples source, just like it happens on Microsoft Docs by setting root directory, wondering if there is a solution to do that here too?

It may need updating doc references to display content from GitHub repository dotnet/samples.

[2019-10-01 20:37] #14681 closed

[2019-10-01 21:17] cheenamalhotra commented on #14871
Nvm, I was referring to rendering samples in github markdown view, but I just realized this is just dotnet/docs home. So its intended for https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/obtaining-a-dbproviderfactory only (which is fine).

Is there a way to link to docs.microsoft.com hosted URL from these github files, so one can render the view mode and see the samples loaded? It kin

[2019-10-01 21:17] mkArtakMSFT opened #14881 "Kestrel's transport abstractions have been removed and made public"
## Kestrel's transport abstractions have been removed and made public

As part of moving away from pubternal APIs the Kestrel transport layer APIs are now exposed as a public interface(s) in the Microsoft.AspNetCore.Connections.Abstractions library

### Version introduced

3.0

### Old behavior

- Transport related abstractions were available in the `Microsoft.AspNetCore.Server.Kestrel.Transport.A

[2019-10-01 21:38] mkArtakMSFT opened #14882 "Default Bootstrap version of IdentityUI changed to 4"
## Default Bootstrap version of IdentityUI changed to 4

Currently the default version of Bootstrap for IdentityUI is `UIFramework.Bootstrap3`, but starting in 3.0 the default will be `UIFramework.Bootstrap4`.

### Version introduced

3.0

### Old behavior

The `services.AddDefaultIdentity<IdentityUser>().AddDefaultUI();` would be the same as `services.AddDefaultIdentity<IdentityUser>().AddDefault

[2019-10-01 22:40] Pilchie opened #14884 "Removal of Obsolete APIs in ASP.NET Core: Antiforgery, Cors, Diagnostics, Mvc, and Routing"
## Removal of Obsolete APIs in ASP.NET Core: Antiforgery, Cors, Diagnostics, Mvc, and Routing

Items that were `Obsolete` or compatibility switches in ASP.NET Core 2.2 were removed.

### Version introduced

3.0

### Old behavior

APIs existed, but warned because they were obsolete.

### New behavior

APIs no longer exist.

### Reason for change

Improvement of API surface over time.

### Recommend

[2019-10-01 22:45] Pilchie commented on #14525
Re-opening based on current plan to add these to dotnet/docs.

[2019-10-01 23:28] mairaw commented on #11215
Closing in favor of issue #14801. We have a pull request open already to archive this content.

[2019-10-01 23:28] #11215 closed

[2019-10-01 23:30] mairaw commented on #4390
We no longer track projects with issues. Closing.

[2019-10-01 23:30] #4390 closed

[2019-10-01 23:52] mairaw commented on #9678
This was fixed by PR #10683, which added a link to the C# guide and one to the VB guide. Once we finish the work for #4728, we'll get the links updated to go to the new single target.

[2019-10-01 23:52] #9678 closed

[2019-10-02 00:58] mairaw commented on #14863
Thanks @PeterPann23. Can you take a look at this feedback @ahsonkhan? Should this be moved to the corefx repo?

[2019-10-02 01:17] #5062 closed

[2019-10-02 01:34] GrabYourPitchforks commented on #14863
Hi @PeterPann23. JSON object signing is out of scope for the _System.Text.Json_ library. There are other libraries - such as JWT libraries - that have support for tamper-proofing JSON payloads. There are also existing and proposed standards for performing such signing. These standards often make the JSON text no longer readable by humans, as they generally prefer to avoid implementing complex text

[2019-10-02 01:36] mairaw commented on #14630
Thanks for your feedback @Vaccano. @mconnew is this something you can help with?

[2019-10-02 01:37] mairaw commented on #14862
Thanks for your feedback. @mlacouture is this something you can take a look?

[2019-10-02 01:40] #14863 closed

[2019-10-02 03:31] stoksc commented on #13951
Thanks for the response. I understand the reason you'd usually need to change it, I was wasn't sure if it was changed for any reason _in this example_. It seemed superfluous to the purpose of the docs so (even though I was pretty sure I already understood lifetime) I just wanted to make sure it wasn't some weird work around to do with using Polly.

Answer helps me understand it better though so th

[2019-10-02 04:27] #13161 closed

[2019-10-02 06:12] Youssef1313 commented on #14871
Just replace `https://github.com/dotnet/docs/blob/master/docs/` with `https://docs.microsoft.com/dotnet/`.

[2019-10-02 07:14] kinglionsz commented on #14455
Thank you very much! @BillWagner

[2019-10-02 07:17] kinglionsz commented on #14787
Thank you very much! Thank you for your time.@BillWagner

[2019-10-02 08:01] #10678 closed

[2019-10-02 08:01] mairaw commented on #10678
Last PR was merged today: https://github.com/dotnet/dotnet-api-docs/pull/3263

[2019-10-02 08:17] vmilev opened #14889 "Documentation on the switch expression is missing"
This page is about the switch statement. Is it going to be expanded to include documentation about switch expression (https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#more-patterns-in-more-places) or is it going to be a separate page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77d9cc47-5caf-184a-0a

[2019-10-02 08:21] kinglionsz commented on #14442
Thank you for your time. @ BillWagner☕

[2019-10-02 09:48] mvelosop commented on #14408
Fair enough @drdamour,

I'll add the clarification that can be any type of API such as...)

Thanks!

[2019-10-02 09:50] jawn opened #14891 "Update for .NET Core 3.0"
This and other pages in the dotnet core site should be updated to indicate .NET Core 3.0 support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba6c9b5-64cb-1dc6-21d0-ad8f0a1185fe
* Version Independent ID: 0f6c658c-b477-2d2c-2a9a-d74f6ae38d3f
* Content: [dotnet command - .NET Core CLI](https://docs.microsoft.com/en-us

[2019-10-02 09:53] mvelosop commented on #13951
Great @stoksc, glad this could help you somehow!

So I'm closing this issue now but feel free to comment, will reopen if needed.

[2019-10-02 09:53] #13951 closed

[2019-10-02 11:00] mvelosop commented on #12534
Hi @lonix1, thanks for the feedback!

I think this leans more towards an edge case, because it'd happen if the same message was delivered twice in quick succession by RabbitMQ, but I agree that it can happen and when it does, it's the kind of bug that's extremely hard to reproduce and fix.

Would you like to submit a PR to the [eShopOnContainers repo](https://github.com/dotnet-architecture/eShopOn

[2019-10-02 11:06] irsdl commented on #12853
I think deserializing untrusted data in general is problematic as we have seen several examples in ysoserial.net project and its linked references: https://github.com/pwntester/ysoserial.net/

It is possible to use special settings to make a safe deserialization process completely unsafe (e.g. when user can control the type in DataContract).

This article also lack basic information about other as

[2019-10-02 11:09] mvelosop commented on #12272
Hi @dnutiu, thanks for your feedback.

You're right.

Will drop the package and check everything keeps working and the update the image.

[2019-10-02 12:23] mvelosop commented on #12069
Hi @timyhac, thanks for your feedback.

I agree with you in the general case, when you use an enumeration class to replace an enum, that is something that has a finite set of values.

I just think there are better examples for an enumeration class, say the OrderStatus.

In this specific case, the static values are just a way to have an initial default set of values to seed a database.

So, in this

[2019-10-02 12:23] mvelosop commented on #12069
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-02 12:23] #12069 closed

[2019-10-02 12:34] mvelosop commented on #5952
Hi @BjarkeMeier, thanks for your feedback!

I think it'd be a nice addition, would you like to contribute a PR in the [eShopOnContainers repo](https://github.com/dotnet-architecture/eShopOnContainers/pulls/)?

[2019-10-02 12:39] mvelosop commented on #7477
Hi @ZUNNm1Xlwk, @hackked, thanks for the feedback?

Well... no doubt you're both right!

Would some of you like to contribute a PR to [eShopOnContainers repo](https://github.com/dotnet-architecture/eShopOnContainers/pulls/) to fix this?

Thanks,

[2019-10-02 12:45] mvelosop commented on #12091
Hi @jackalvrus, @douglasg14b, thanks for your feedback,

Would some of you like to contribute a PR to the [eShopOnContainers repo](https://github.com/dotnet-architecture/eShopOnContainers/pulls/) to fix this?

Thanks.

[2019-10-02 13:12] ite-klass opened #14893 "C# version configuration intro implies it is discouraged and should be avoided"
The wording here with *must* implies that it should be avoided if possible.

I am currently looking at the using declarations introduced in C# 8.0 in .NET framework projects. We have been using `latest` in the past, and it automatically worked even for projects targeting .NET Framework 4.0. This tells me no additional requirements are necessary to use this even when the default for .NET Framework

[2019-10-02 13:20] MichaelHarmsen opened #14894 "Administrative rights are not required to run regedit"
The line "You must have administrative credentials to run regedit" is not correct. Large parts of the registry can be viewed by non-administrative accounts. On my work laptop I do not have administrative rights and I can read the "...NET Framework Setup\NDP\v4\Full" subkey as described on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-10-02 13:45] #14852 closed

[2019-10-02 13:46] cheenamalhotra commented on #14871
I'm fine with it since we work on publishing MS docs too, it just seems little off when redirected here from google search results instead of the official documentation :)

[2019-10-02 13:46] #14871 closed

[2019-10-02 13:50] #10469 closed

[2019-10-02 13:50] #14077 closed

[2019-10-02 14:06] mvelosop commented on #12514
Hi, @metalhead44, thanks for your feedback.

You're right when it comes to this specific microservice in eShopOnContainers.

However in a more general case, CQRS allows you to split the load in different microservices, between query microservices and update microservices when it makes sense for the business.

A good example of this could be a real-life catalog microservice, where you'd probably ha

[2019-10-02 14:18] AzmL opened #14895 "Possible typo with inheritance flow"
The page says: "you can assign an object of the IComparer(Of Person) type to an object of the IComparer(Of Employee) type without using any special conversion methods if Person inherits Employee."

I believe it should be "if Employee inherits Person". If not correct, then the example for covariant generic interfaces is confusing because String inherits Object, not the other way around.

---
#### D

[2019-10-02 15:12] mvelosop commented on #14134
Hi @mikhail-putilov, thanks for your feedback, that's a really nice question.

I'm not familiar with the gaming infrastructure, so I'll use an example related to something more like eShopOnContainers.

This is mostly an issue of scale, if you have a 2X problem, that is, one or two machines, then you'll have the situation you mentioned.

Now things are different if you have an e-commerce applicatio

[2019-10-02 15:43] Pyrobolser commented on #14841
Maybe I am not understanding this properly, but I feel like the compiler is not doing what this sentence is saying:

If you follow the example from the documentation and add **readonly** to `ToString()` and `Distance` you do not have an extra level of warning that asks you to specify that the `get` accessor is also **readonly**.
You are however getting this warning if you implement the `get` acces

[2019-10-02 16:17] Thraka commented on #14544
@BrianMinister Hello. Can you share your package references in your project file with me?

[2019-10-02 16:24] BillWagner commented on #14893
@ite-klass

The language is correct here. Updating the language version for a different framework has many implications. Therefore, it's not officially supported. For example:

. The libraries for framework have not been annotated with nullable reference types. That means the nullable warnings are much less useful when targeting that framework.
. Some packages for necessary types are provided by 3

[2019-10-02 16:24] #14893 closed

[2019-10-02 16:27] Thraka commented on #14889
I would gather it would be a different page under that same parent. Considering they are different selection mechanisms and it discusses **Switch Expression** vs **Switch Statement**.

@BillWagner has a project tracking C# 8.0 updates. I'll add this issue to that project and let @BillWagner  take it on from here.

Thanks!

[2019-10-02 16:33] Thraka commented on #14889
GitHub is acting weird. I can't set backlog as the milestone..

[2019-10-02 16:35] #14082 closed

[2019-10-02 16:37] #13441 closed

[2019-10-02 16:40] Thraka commented on #14894
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-10-02 16:43] mconnew commented on #14630
@StephenMolloy is the correct person for MemoryCache.

[2019-10-02 16:56] Thraka commented on #14891
Hello. Thank you for letting us know, we already have an issue tracking this work. Sorry for the delay.

Duplicate of #9893

[2019-10-02 16:56] #14891 closed

[2019-10-02 16:57] mairaw commented on #14891
Thanks for your feedback @jawn. We're tracking that work with issue #9893. About ref of the reference was updated already. Half still needs to be done.

[2019-10-02 16:57] Thraka commented on #14891
Duplicate of #9893

[2019-10-02 17:01] mairaw commented on #14859
Thanks for your feedback @NextTurn. @dsplaisted @livarcocc who would be a good person to talk to about the default behaviors for dotnet build? I wanna make sure the article is completely accurate, especially with the new changes introduced by 3.0.

[2019-10-02 17:11] pranavkm opened #14897 "DataProtection.AzureStorage 3.0 will be updated to use new Microsoft.Azure.Storage APIs"
## DataProtection.AzureStorage 3.0 will be updated to use new Microsoft.Azure.Storage APIs

Microsoft.AspNetCore.DataProtection.AzureStorage depends on the [Azure Storage libraries](https://github.com/Azure/azure-storage-net). Recently, these libraries have renamed their assemblies, packages, and namespaces. Starting in ASP.NET Core 3.0, we have moved our dependency to use the new Microsoft.Azure.

[2019-10-02 17:12] mairaw commented on #14820
Thanks for your comment @AndrasHorinka. Can you let us know where you're seeing this sample?

[2019-10-02 17:13] Thraka commented on #14867
@FrojdJocke Thanks for the kudos and the suggestion.

@rpetrusha Assigning to you since you love regex so much 😄

[2019-10-02 17:16] pranavkm opened #14898 "Making "pubinternal" types in ResponseCaching internal"
## Making "pubinternal" types in ResponseCaching internal

In ASP.NET Core, pubinternal types are types that are declared as public but put in an .Internal namespace. While these types are public they have no support policy and are subject to breaking changes. Unfortunately accidental use of these types has been common, resulting in breaking changes to these projects and limiting our ability to ma

[2019-10-02 17:18] mairaw commented on #14895
Thank you for your feedback @AzmL. I've opened PR #14899 to fix this.

[2019-10-02 17:21] pranavkm opened #14900 "Generic Host restricts Startup constructor injection"
## Generic Host restricts Startup constructor injection

The only types the generic Host supports for Startup constructor injection are `IHostEnvironment`, `IWebHostEnvironment`, and `IConfiguration`. Applications using `WebHost` are unaffected.

In 3.0 we've re-platformed the web stack onto the generic host library. You can see the change in Program.cs in the templates:

2.x:
https://github.com/a

[2019-10-02 17:26] Thraka commented on #14867
Actually, @Youssef1313 are you interested in this one since you're working on another regex issue?

[2019-10-02 17:35] #14359 closed

[2019-10-02 17:35] #10033 closed

[2019-10-02 17:35] #10123 closed

[2019-10-02 17:35] #14166 closed

[2019-10-02 17:35] #11557 closed

[2019-10-02 17:35] #5989 closed

[2019-10-02 17:35] #674 closed

[2019-10-02 17:45] mairaw commented on #13340
We just installed this new bot to test auto closing issues so apologies for that since you did reply back @kburgoyne.  But since this is a product naming convention that we can't change, I feel like there's nothing we can do here. Perhaps NuGet could help customers understand what the TFMs mean on their UI. So I'm closing this doc issue.

[2019-10-02 17:45] #13340 closed

[2019-10-02 17:54] mairaw commented on #14856
Thanks for your feedback @Youssef1313. I'm adding this one to our backlog and our community contributor project. We'd love community contributions on this one!

[2019-10-02 17:57] mairaw commented on #14687
Adding @nguerrera to see if he can help with this question

[2019-10-02 18:01] Tratcher opened #14901 "HeaderNames now contains static readonly fields instead of const fields"
## HeaderNames now contains static readonly fields instead of const fields

The static [Microsoft.Net.Http.Headers.HeaderNames](https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.headernames?view=aspnetcore-2.2) class contains string fields representing various common header names (e.g. [HeaderNames.Origin](https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.

[2019-10-02 18:12] sebastienros opened #14902 "Microsoft.AspNetCore.SpaServices and NodeServices no longer fallback to console logger by default"
## Microsoft.AspNetCore.SpaServices and NodeServices no longer fallback to console logger by default

From now on `Microsoft.AspNetCore.SpaServices` and `Microsoft.AspNetCore.NodeServices` would not display any console log when logging is not configured.

### Version introduced

3.0

### Old behavior

`Microsoft.AspNetCore.SpaServices` and `Microsoft.AspNetCore.NodeServices` used to automatically

[2019-10-02 18:17] sebastienros opened #14903 "Empty Microsoft.AspNetCore.Server.Kestrel.Https assembly being removed"
## Empty Microsoft.AspNetCore.Server.Kestrel.Https assembly being removed

The assembly Microsoft.AspNetCore.Server.Kestrel.Https.dll has been removed.

### Version introduced

3.0

### Old behavior

Previously the assembly Microsoft.AspNetCore.Server.Kestrel.Https.dll was available.

### New behavior

The assembly Microsoft.AspNetCore.Server.Kestrel.Https.dll doesn't exist anymore.

### Reason fo

[2019-10-02 18:34] Tratcher opened #14905 "ConnectionAdapters have been removed from Kestrel"
## ConnectionAdapters have been removed from Kestrel

As part of the move to move pubternal APIs to public, we've removed the concept of an IConnectionAdapter from Kestrel. Connection adapters are being replaced with connection middleware (very similar to http middleware in the ASP.NET Core pipeline but for lower level connections). HTTPS and Connection logging have been moved from connection adap

[2019-10-02 18:39] Tratcher opened #14906 "SignalR JavaScript client changing package name to @microsoft/signalr"
## SignalR JavaScript client changing package name to `@microsoft/signalr`

In 3.0.0-preview7, the SignalR JavaScript client will change from being `@aspnet/signalr` to `@microsoft/signalr`. We are doing this to reflect the fact that SignalR is useful in more than just ASP.NET Core applications, thanks to the Azure SignalR Service.

To react to this change, you will need to change your references

[2019-10-02 18:42] nguerrera commented on #14687
I would generally recommend storing separate custom data in other files., but nothing will remove any custom data, and it will be skipped by the code that reads it in the .NET Core SDK. NuGet msbuild sdks and https://github.com/dotnet/arcade (infrastructure for building .NET repositories) already do this, in fact.

That said, there is no guarantee that future versions won't come along and use the

[2019-10-02 18:50] nguerrera commented on #14687
I would not document this as an officially supported scenario.

[2019-10-02 19:40] mairaw commented on #14687
Appreciate your comments @nguerrera. Closing the issue then.

[2019-10-02 19:40] #14687 closed

[2019-10-02 19:57] #14639 closed

[2019-10-02 20:16] #14355 closed

[2019-10-02 20:19] ygoe opened #14909 "What is a using statement?"
I had this code:

			using (var controller = new GpioController())
			{
				controller.OpenPin(pin, PinMode.Output);
			}

And VS 16.3 suggested this instead:

			using var controller = new GpioController();
			controller.OpenPin(pin, PinMode.Output);

What does that mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-02 20:32] Thraka commented on #7880
Retired in favor of the actual github project.

[2019-10-02 20:32] #7880 closed

[2019-10-02 20:45] Thraka commented on #14833
Is this a misunderstanding about what R2R is? It's not a single exe. The `/p:PublishSingleFile` switch is what generates a single exe, not --self-contained.

https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables

[2019-10-02 20:48] ErikApption commented on #14833
Closed - got confused between the two features which we are using at the same time.

[2019-10-02 20:48] #14833 closed

[2019-10-02 20:51] Thraka commented on #13884
@grubioe

We're not adding any information to this article specifically. We're redesigning this article from the ground up. #2642 is tracking that work, when that happens, this would issue would be addressed as part of that work.

[2019-10-02 20:54] grubioe commented on #13884
Got it, thanks.  Based on the projects, assuming 2642 will be done in November?

[2019-10-02 20:55] Thraka commented on #13884
I just modified that as an optimistic choice. We do have another writer working on this stuff now so I'm hoping it will be done then 😄

[2019-10-02 20:57] Thraka commented on #14611
Awesome, thank you for linking to where you found that information. I'll look into it.

[2019-10-02 21:01] #14640 closed

[2019-10-02 21:19] scottkuhl opened #14910 "Scalability is challenging for apps with many users."
Many users is very vague.  Is it implying hundreds, thousands, millions ...  I know every app is different, but some idea of scale here is implied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b45d194-8874-5bd1-31eb-767145461904
* Version Independent ID: 9817ff2d-afe1-8a5f-1e1a-7c7eadba5cf0
* Content: [Blazor app ho

[2019-10-02 21:51] spprtmechanic opened #14911 "URL has changed"
the URL for the text download is now http://www.gutenberg.org/cache/epub/16452/pg16452.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aeee012-d49e-e096-229c-44d38063b34f
* Version Independent ID: 86f4283b-fd68-22b5-c546-afe3c554d434
* Content: [Walkthrough: Creating a Dataflow Pipeline](https://docs.microsoft.com/

[2019-10-02 22:21] BillWagner commented on #14909
Thanks for pointing this out @ygoe

We do need to update this reference page for new syntax added in C# 8.  We do discuss this in the [what's new](https://docs.microsoft.com/dotnet/csharp/whats-new/csharp-8#using-declarations) article on C# 8. Until we get this article updated, you can learn more in that article.

I've added this to our backlog, and added the "up for grabs" label for any community

[2019-10-02 22:24] BillWagner commented on #14911
Thanks for writing this up @spprtmechanic and pointing to the updated location.

I've added this to our backlog, and added the "up for grabs" label is you or another community member wants to issue a PR to address this issue.

[2019-10-02 22:47] mairaw commented on #14911
For folks wanting to contribute, this is the location of the sample to edit the URL:
C# - https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Misc/tpldataflow_palindromes/cs/dataflowpalindromes.cs
VB - https://github.com/dotnet/samples/blob/master/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_palindromes/vb/dataflowpalindromes.vb

[2019-10-02 23:47] BillWagner commented on #966
closing as stale.  While this will be covered, it doesn't match the new TOC structure.

[2019-10-02 23:47] #966 closed

[2019-10-02 23:47] BillWagner commented on #972
closing because this way of tracking epics has not proven useful.

[2019-10-02 23:47] #972 closed

[2019-10-03 00:02] BillWagner commented on #1491
@Youssef1313 A quick search says there aren't a lot of relative links among these files.

The volume of files to move means the redirection fie will get a bit out of control, but by being careful we can manage it moving files in blocks of 10 - 20.

[2019-10-03 00:37] BillWagner commented on #3273
This is going to be an ongoing set of work, as issues in the project are managed.

This issue isn't a good way to manage this task. Closing.

[2019-10-03 00:37] #3273 closed

[2019-10-03 00:39] BillWagner commented on #3274
Closing. This page doesn't fit the new TOC.

[2019-10-03 00:39] #3274 closed

[2019-10-03 00:43] BillWagner commented on #3967
Closing pending acceptance of the feature.

[2019-10-03 00:43] #3967 closed

[2019-10-03 00:44] BillWagner commented on #3958
Closing pending acceptance of the feature.

[2019-10-03 00:44] #3958 closed

[2019-10-03 05:51] NextTurn commented on #14859
From MSBuild targets

`<_IsExecutable Condition="'$(OutputType)' == 'Exe' or '$(OutputType)'=='WinExe'">true</_IsExecutable>`

`<HasRuntimeOutput>$(_IsExecutable)</HasRuntimeOutput>`

`<GenerateRuntimeConfigurationFiles Condition=" '$(GenerateRuntimeConfigurationFiles)' == '' and '$(TargetFrameworkIdentifier)' == '.NETCoreApp' and ('$(HasRuntimeOutput)' == 'true' or '$(EnableComHosting)' == 'true'

[2019-10-03 07:59] AndrasHorinka commented on #14820
@mairaw
started: [here](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-use-named-pipes-for-network-interprocess-communication?view=netframework-4.8)

Referred to
[here - and changed from framework to core2.2](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.namedpipeclientstream?view=netcore-2.2)

Running it on .NET Framework 4.7 results in an System.OverflowException - beca

[2019-10-03 09:50] baruchiro opened #14916 "Missing runtime ID for ARM 64 bit"
I can install dotnet runtime 2.1 on Fedora ARM 64bit. What is the RID of that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 009616d0-6c93-a2de-82fe-4f7168817f18
* Version Independent ID: 4c2c5549-0151-516d-91d0-9b017c74e787
* Content: [.NET Core Runtime IDentifier (RID) catalog](https://docs.microsoft.com/en-us/dotne

[2019-10-03 10:05] mvelosop commented on #12544
Hi @igor-moskvitin, @xygon, Thanks for your feedback.

It's just a little bit more involved.

To properly handle graceful cancellation you have to implement your services using the pattern shown in the [BackgroundService class in the article](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice#impleme

[2019-10-03 10:08] perl80903 opened #14917 "Is there a rationale for porting existing WPF or Forms apps to .Net Core 3?"
Since both of these UI technologies are only supported on Windows, where the traditional .Net framework is also supported, what's the rationale for porting such apps to .Net Core today?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9a211f-0161-1e0c-a1e3-d4460fc4ec2b
* Version Independent ID: ef286ce7-d314-1aa1-7184-

[2019-10-03 10:20] Youssef1313 commented on #14867
@Thraka, I've tested the solution by @FrojdJocke and seems to be working. But not sure if there is a better way to do that. I also suspect that this part of regex is somehow not valid `?("")`. so I think @rpetrusha  is better to review this issue and the `?` that I'm suspecting it being invalid in this context.

regexr.com seems to agree too:

![image](https://user-images.githubusercontent.com/313

[2019-10-03 10:36] mvelosop commented on #12469
Hi @Dismissile, @jwisener, @gladium-software, thanks for your feedback.

This is always an interesting, and recurring, discussion.

I used to have the same opinion as @Dismissile and @jwisener, but then, just recently, I started working in a large microservices app with about 12 development teams and close to 70 developers and my point of view has changed completely.

In that context, things are j

[2019-10-03 10:36] #12469 closed

[2019-10-03 13:43] BillWagner commented on #14889
I set the milestone to November. I want to update all the reference pages between now and .NET Core 3.1.

[2019-10-03 13:48] BillWagner commented on #14701
Thanks for the details @leecow

I've added this to our November sprint to make sure we update it before .NET Core 3.1 is released.

[2019-10-03 13:53] EugeneKramer commented on #12853
@GrabYourPitchforks I agree with your outline for this issue. Just looking to make devs more security conscious of common attack vectors when perusing the docs.

A definitive, in-depth guide would be a separate project.

[2019-10-03 13:54] waltdestler opened #14919 "Build configuration for referenced projects?"
When I specify a build configuration using `-c|--configuration {Debug|Release}`, does it apply that same configuration to any referenced projects as well? (I assume yes, but the docs don't explicitly say so.) What happens if a referenced project doesn't have a build configuration by that name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-10-03 15:14] igor-moskvitin commented on #12544
@mvelosop , thanks a lot!

[2019-10-03 15:14] #12544 closed

[2019-10-03 15:41] #14911 closed

[2019-10-03 15:51] #11913 closed

[2019-10-03 17:23] Thraka commented on #14867
I think .NET's regex allows for some stuff that the online testers don't.

[2019-10-03 17:25] Bediruna opened #14921 "Incorrect method name"
Under the Evaluate Model section there is a line that says:
"Next, transform the Test data by adding the following code to EvaluateModel():"
When it should say:
"Next, transform the Test data by adding the following code to in the Evaluate method:"
I was a bit confused because that was the only mention of an EvaluateModel() method

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-03 17:29] natke commented on #14921
Thank you @Bediruna. I've fixed the typo in #14922

[2019-10-03 17:37] #14921 closed

[2019-10-03 18:14] Thraka opened #14923 "HttpRequestMessage.Version default changed from Core 2.2 to Core 3.0"
## HttpRequestMessage.Version default changed between Core 2.2 and 3.0

HttpRequestMessage.Version was changed in Core 2.1 to be `2.0`. Core 3.0 then reverted this back to the value of `1.1`.

API docs are being updated: dotnet/dotnet-api-docs#3285

### Version introduced

.NET Core 3.0

### Old behavior

Value of this property was `2.0`

### New behavior

Value of this property is now `1.1`

###

[2019-10-03 18:34] Caleb-D opened #14924 "Is there some way to replace and use the capitalization of the input match"
for example, one regex that matches and replaces all of these:
Pulse-&gt;Jump
pulse-&gt;jump
PULSE-&gt;JUMP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66e4ab41-3d66-76f0-1ae8-a9818a199583
* Version Independent ID: b35b11b7-5c7f-0985-dd62-aecfd48d1490
* Content: [Substitutions in Regular Expressions](https://docs.mi

[2019-10-03 19:13] ajaybhargavb opened #14925 "Breaking changes to runtime compilation for Razor views and Razor Pages"
## Breaking changes to runtime compilation for Razor views and Razor Pages

Support for runtime compilation of Razor views and Razor Pages is being moved to a separate package.

### Version introduced

3.0

### Old behavior

Runtime compilation was available without needing any additional packages.

### New behavior

The functionality has been moved to `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompil

[2019-10-03 19:27] mafshin commented on #12486
Due to this change, I'm unable to build my docker image:
**Dockerfile**:

[code]

**Error**:
[code]

This was working in 2.2 but in 3.0 it fails.

Is there any workaround?

[2019-10-03 19:28] ajaybhargavb opened #14926 "IHostingEnvironment's and IApplicationLifetime's marked obsolete and replaced"
## IHostingEnvironment's and IApplicationLifetime's marked obsolete and replaced

New types have been introduced to replace exisiting `IHostingEnvironment` and `IApplicationLifetime` types.

### Version introduced

3.0

### Old behavior

There were two different `IHostingEnvironment` and `IApplicationLifetime` types from `Microsoft.Extensions.Hosting` and `Microsoft.AspNetCore.Hosting`.

### New b

[2019-10-03 19:40] v3rt1go opened #14927 "Running FastTree on this data set results in awful metrics"
I've followed the tutorial line by line using the sample data provided above.
The resulted metrics look like this:

*************************************************
*       Model quality metrics evaluation
*------------------------------------------------
*       RSquared Score:      -1.48
*       Root Mean Squared Error:      15.1
*****************************************************************

[2019-10-03 19:44] ajaybhargavb opened #14928 "UseSignalR and UseConnections are marked obsolete"
## UseSignalR and UseConnections are marked obsolete

The methods `UseConnections` and `UseSignalR`, and the classes `ConnectionsRouteBuilder` and `HubRouteBuilder` are being marked obsolete in 3.0.

### Version introduced

3.0

### Old behavior

SignalR hub routing was configured using `UseSignalR`, `UseConnections`.

### New behavior

The old way of configuring routing has been obsoleted and rep

[2019-10-03 19:54] v3rt1go commented on #14927
Please disregard.
I've found the issue - I was missing the separatorChar from the:
`_mlContext.Data.LoadFromTextFile<TaxiTrip>(_trainDataPath, hasHeader: true,  separatorChar: ',');`

It was defaulting to \t and messed up model.
I suppose it would be useful to have the LoadFromTextFile method throw an exception if the column count doesn't match the schema.

[2019-10-03 19:54] #14927 closed

[2019-10-03 19:55] ajaybhargavb opened #14929 "SignInAsync will throw by default when given an unauthenticated identity"
## SignInAsync will throw by default when given an unauthenticated identity

SignInAsync will now throw by default for principals/identities where `IsAuthenticated = false`.

### Version introduced

3.0

### Old behavior

`SignInAsync` would accept any principals/identities, this included identities where `IsAuthenticated = false`.

### New behavior

SignInAsync will now throw by default for princ

[2019-10-03 19:57] zhenyar opened #14930 "Do you add xml comments to interfaces and classes?"
Do you suggest adding xml comments to both interfaces and classes or just one of them to avoid duplication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39152ded-70ce-012d-ffc3-a8b1a78f3308
* Version Independent ID: 809078f6-169a-0ffe-5f33-d5a359aeefc5
* Content: [Documenting your code with XML comments](https://docs

[2019-10-03 20:18] verdy-p opened #14931 "Missing .Net Framework version 4.8.03921 = release 0x00080f51 (528209)"
I see:
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full]
"Version" =(REG_SZ) "4.8.03921"
"Release" =(DWORD) 0x00080f51 (528209)

Same values in:
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Client]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2115da38-e95e-46fc-1e2d-da88ef92

[2019-10-03 20:44] dasMulli commented on #12486
Looks like you are copying the csproj file from the subdirectory to the parent directory. the project file then includes the rest of the helloworldapi folder during build which collides with the name of the executable being generated. The error will also occur without any `-o` parameter added. See https://github.com/dotnet/cli/issues/7782 for example.

I's suggest not modifying the folder hierarch

[2019-10-03 20:48] verdy-p opened #14932 "simpler way in Powershell (Windows 10)"
Just type this in Powershell, to get all details:

Get-ItemProperty "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"

Example of output:

CBS           : 1
Install       : 1
InstallPath   : C:\Windows\Microsoft.NET\Framework64\v4.0.30319\
Release       : 528209
Servicing     : 0
TargetVersion : 4.0.0
Version       : 4.8.03921
PSPath        : Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_

[2019-10-03 20:51] Thraka commented on #14916
Hello. The value you want is `fedora-arm64` and you can see a full list of RIDs in the source repo for Core 3.0: https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json#L309

However, it's not listed in the 2.1 branch: https://github.com/dotnet/corefx/blob/release/2.1/pkg/Microsoft.NETCore.Platforms/runtime.json#L642

So it may or may not work. You should upgrade

[2019-10-03 20:51] #14916 closed

[2019-10-03 20:53] natke commented on #14927
Thank you for the suggestion @v3rt1go. I will pass it on to the dev team, or you are very welcome to raise the issue yourself at https://github.com/dotnet/machinelearning/issues

[2019-10-03 21:04] Thraka commented on #14917
Greetings!

That is a valid question. I think one that was in the old porting article and it should be addressed in this one too. I'm going to leave this issue open to track updating the article.

The reason is that new features and innovations for .NET are in the .NET Core stack (well [.NET 5 as of next year](https://devblogs.microsoft.com/dotnet/introducing-net-5/)). .NET Core has a lot of advan

[2019-10-03 21:15] rpetrusha commented on #14705
For the purpose of the breaking change, I don't think we need to be more precise about when parsing returns a value other than Infinity, @tannergooding. I will revise the PR that modifies the API documentation to note it, however.

[2019-10-03 21:18] #14705 closed

[2019-10-03 21:18] Thraka commented on #14932
Hello.

The article specifically talks about testing the version, so the PowerShell provided in the article does that. However, you happen to point out that the PowerShell code could be simplified for PS5.0. I'll file a fix for this.

[2019-10-03 21:53] mairaw commented on #14931
Thank you for your feedback @verdy-p. Let me check that with the release team.

My machine is still on version 4.8.03752.

@NKarnam15 can you confirm this and what conditions trigger this specific value?

Here's what we have right now:
![image](https://user-images.githubusercontent.com/12971179/66166936-89989980-e5ed-11e9-88a8-5a909e9255ef.png)

[2019-10-03 22:00] mairaw commented on #14930
I'd suggest adding to both, especially if you're generating documentation based on that.

The .NET team doesn't historically adds /// comments everywhere, but you can see an example here:
https://source.dot.net/#System.Runtime/System/Collections/Generic/ISet.cs,24ab7bbfbae81f24

[2019-10-03 22:00] #14930 closed

[2019-10-03 22:44] JamesNK opened #14936 "Code highlighting doesn't line up"
I don't know if this is the correct repo, but throughout docs.microsoft.com all code samples with a highlighted line(s) will be displayed incorrectly:

![image](https://user-images.githubusercontent.com/303201/66169184-05511f80-e69c-11e9-9c31-fcd79a9c804b.png)

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#keep-alive-timeout

Chrone. Windows 10. 125%

[2019-10-03 22:45] osudude commented on #4675
Are there any potential TLS 1.2 issues with ws2007HttpBinding (.NET 4.5, .NET 4.7.2)?

[2019-10-03 23:19] #14932 closed

[2019-10-03 23:28] verdy-p commented on #14931
Note that I see these .Net versions/release numbers in Windows 10 Build 18990.vb_release (the candidate "Vibranium" prerelease for Insiders in the "Olympia" branch, i.e. users connected to the Azure-based "professional" account on Windows.com, which enforces stronger security parameters).
I can't affirm this is the value used in all installations of Windows 10, or just Windows 10 Pro, or just Insi

[2019-10-03 23:42] Thraka commented on #14923
@rpetrusha Does this mean you put it in the migration guide for 2.1/2.2 -> 3.0?

[2019-10-03 23:56] davidsh commented on #4675
@mconnew Can you help answer this question?

[2019-10-04 00:49] halter73 opened #14941 "DebugLogger class made internal in ASP.NET Core 3.0"
## DebugLogger class made internal in ASP.NET Core 3.0

DebugLogger has effectively been removed. Previously it was public, but now it is internal to match other logger implementations such as ConsoleLogger.

### Version introduced

3.0

### Old behavior

DebugLogger was public.

### New behavior

DebugLogger is now internal.

### Reason for change

Consistency and reduction of API surface.

### R

[2019-10-04 00:55] BillWagner commented on #953
The local referenced above will likely change per the approved updated TOC.

[2019-10-04 01:11] halter73 opened #14942 "OAuthHandler ExchangeCodeAsync signature change"
## OAuthHandler ExchangeCodeAsync signature change

The signature of OAuthHandler.ExchangeCodeAsync was changed from:
[code]

To:

[code]

### Version introduced

3.0

### Old behavior

The code and redirectUri strings were passed as separate arguments.

### New behavior

Code and RedirectUri are now properties on OAuthCodeExchangeContext that can be set via the OAuthCodeExchangeContext constructo

[2019-10-04 01:19] halter73 opened #14943 "SignalR HandshakeProtocol.SuccessHandshakeData removed and replaced with helper method"
## SignalR HandshakeProtocol.SuccessHandshakeData removed and replaced with helper method

The [`HandshakeProtocol.SuccessHandshakeData`](https://github.com/aspnet/AspNetCore/blob/c5b2bc0df2a0027832bf7d01dfb19ca39cd08ae6/src/SignalR/common/SignalR.Common/src/Protocol/HandshakeProtocol.cs#L27) field was removed and replaced with a helper method that generates a successful handshake response given a

[2019-10-04 01:36] mairaw commented on #14931
That’s helpful to know @verdy-p!

[2019-10-04 02:01] mairaw commented on #14923
I'm reopening this one

[2019-10-04 02:01] #14923 closed

[2019-10-04 02:02] mairaw commented on #14923
Now I see that there's a PR open that will solve this one: #14935

We probably should tie breaking changes PRs to each issue in the future with the Closes keyword, for example.

[2019-10-04 03:29] alx168 commented on #12689
I'll do it.

[2019-10-04 03:38] alx168 commented on #11957
I'll do it.

[2019-10-04 06:19] sharwell commented on #11777
@BillWagner yep I can get an example.

[2019-10-04 06:22] sharwell commented on #11777
https://ewsoftware.github.io/XMLCommentsGuide/html/e433d846-db15-4ac8-a5f5-f3428609ae6c.htm

[2019-10-04 07:27] gshields opened #14946 "no need for class name on linux example"
on https://docs.microsoft.com/en-us/dotnet/fsharp/get-started/get-started-vscode for sharp
The 2nd example has PigLatin.toPigLatin "banana";; and it should be
toPigLatin "banana";;
using Ubuntu 19 and core 2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b07eeb2-d274-35da-78d4-b7d78c255590
* Version Independent ID:

[2019-10-04 09:08] williamgh2019 commented on #6959
Python is good hierarchy you should take some good point from.
Now I am looking for learning C# and look at the left hand side it too confuse and hard for beginner. You should prepare well docs for C# from zero to pro if posible

[2019-10-04 10:59] SteveSandersonMS opened #14948 "Breaking changes to Microsoft.AspNetCore.App in 3.0"
## Breaking changes to Microsoft.AspNetCore.App in 3.0

Starting in 3.0, the ASP.NET Core shared framework (`Microsoft.AspNetCore.App`) will only contain first-party assemblies that are fully developed, supported, and serviceable by Microsoft. You can think of this as constituting the ASP.NET Core “platform.” It will be fully [source buildable by anybody via GitHub](https://github.com/dotnet/sourc

[2019-10-04 11:56] SteveSandersonMS opened #14950 "Making "pubinternal" types in MVC internal"
## Making "pubinternal" types in MVC internal

In ASP.NET Core, pubinternal types are types that are declared as public but put in an .Internal namespace. While these types are public they have no support policy and are subject to breaking changes. Unfortunately accidental use of these types has been common, resulting in breaking changes to these projects and limiting our ability to maintain the f

[2019-10-04 12:47] DonaldRich opened #14951 "ComputeSalesTax could be DRYer"
The switch expression in the Property Patterns sample allows for less repetition by moving the multiplication of the tax by salePrice to before or after the switch expression:

public static decimal ComputeSalesTax(Address location, decimal salePrice) =&gt;
    salePrice * location switch
    {
        { State: "WA" } =&gt; 0.06M,
        { State: "MN" } =&gt; 0.75M,
        { State: "MI" } =&gt;

[2019-10-04 13:43] benmccallum opened #14952 "What is the default verbosity?"
It'd be good if you need to add the verbosity switch to know what the default level is so you can bump it up explicitly as needed. Happy to PR if someone tells me what it is. Will go digging if I have time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b256dc4-c4ad-c115-f4e2-40310bc3505a
* Version Independent ID: 0b9

[2019-10-04 16:41] tdykstra commented on #14936
@JamesNK Thanks for reporting this.  It's a known problem but has not been prioritized high enough to fix yet.

The correct repo to create an issue in is https://aka.ms/sitefeedback

@Rick-Anderson FYI

[2019-10-04 16:41] #14936 closed

[2019-10-04 16:47] dougbu opened #14958 "Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.NodeServices now obsolete"
## Microsoft.AspNetCore.SpaServices and Microsoft.AspNetCore.NodeServices now obsolete
The contents of the following NuGet packages have all been unnecessary since ASP.NET Core 2.1, and so are now being marked as obsolete:
- Microsoft.AspNetCore.SpaServices
- Microsoft.AspNetCore.NodeServices

For the same reason, the following NPM modules are being marked as deprecated:
- aspnet-angular
- aspnet-

[2019-10-04 17:14] mairaw commented on #14526
Reopened as requested by Artak Mkrtchyan.

[2019-10-04 17:21] tdykstra commented on #14936
I added a link to this issue in our internal bug tracking work item at https://icm.ad.msft.net/imp/v3/incidents/details/136852259/home

[2019-10-04 17:35] anurse opened #14959 "ASP.NET Core Identity UI now uses "static web assets" feature"
## ASP.NET Core Identity UI now uses "static web assets" feature

In ASP.NET Core 3.0 we've moved Identity UI to use the new static web assets feature introduced in 3.0. As part of this move there are a few API breaking changes to note.

Bootstrap4 is the default UI framework for Identity UI. (Bootstrap 3 has reached end of life and you should consider migrating to a supported version).

Selecting

[2019-10-04 17:43] anurse opened #14960 "ASP.NET Core Kestrel Request trailer headers moved to new collection"
## ASP.NET Core Kestrel Request trailer headers moved to new collection

In prior versions Kestrel would add HTTP/1.1 chunked trailer headers into the request headers collection when the request body was read to the end. This caused some concerns about ambiguity between headers and trailers so we decided to separate the trailers out to a new collection.

HTTP/2 request trailers were unavailable in

[2019-10-04 17:46] anurse opened #14961 "Deprecating ASP.NET Core MvcPrecompilation tool"
## Deprecating ASP.NET Core MvcPrecompilation tool

In ASP.NET Core 1.1, we introduced the `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` (MVC precompilation tool) package that added support for publish time compilation of Razor files (.cshtml files). Starting in ASP.NET Core 2.1, we introduced the [Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1) that

[2019-10-04 17:52] anurse opened #14962 "Removed Microsoft.AspNetCore.All shared framework"
## Removed Microsoft.AspNetCore.All shared framework

Earlier this year, we announced the Microsoft.AspNetCore.App metapackage (see https://github.com/aspnet/Announcements/issues/287). That announcement said:

See [our documentation for details](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage?view=aspnetcore-2.1#migrating-from-microsoftaspnetcoreall-to-microsoftaspnetcoreapp)

[2019-10-04 17:55] anurse opened #14963 "Removed Microsoft.AspNetCore.Mvc.WebApiCompatShim"
## Removed Microsoft.AspNetCore.Mvc.WebApiCompatShim

The Microsoft.AspNetCore.Mvc.WebApiCompatShim (WebApiCompatShim) package provides partial compatibility in ASP.NET Core with ASP.NET Web API 2 to simplify migrating existing Web API implementations to ASP.NET Core. However, apps using the WebApiCompatShim do not benefit from the API related features shipping in recent ASP.NET Core releases, suc

[2019-10-04 18:31] mairaw commented on #14867
@FrojdJocke can you give an example of an e-mail that you used that was considered valid?I just ran this code and tried a couple of e-mail addresses ending with a hyphen, and they were all considered invalid.

[2019-10-04 18:44] tdykstra commented on #14952
Default verbosity is minimal.  A PR to add that would be welcome!

[2019-10-04 18:53] Youssef1313 commented on #14867
@mairaw, Try `something@gmail-.com`

[2019-10-04 19:17] RaminderRandhawa91 opened #14964 "How to create JsonObject from Utf8JsonReader in .netCORE 3. Newtonsoft Json had Jobject class to load reader ?"
## How to create JsonObject  from Utf8JsonReader in .netCORE 3. Newtonsoft Json had Jobject class to load reader ?

[Brief description of the change]

### .NetCore3

3.0

.NET Core 3

---
#### Issue metadata

* Issue type: breaking-change

[2019-10-04 19:29] donhuvy opened #14965 "Need a tab for .NET Core 3.0.100"
Need a tab for .NET Core 3.0.100 . We just have guide for .NET Core 2.x and below.

![abcd](https://user-images.githubusercontent.com/1328316/66234519-1a6b9400-e718-11e9-91e3-2b5f3062169f.png)

Additional: I think tab **[.NET Core 2.1]** and **[.NET Core 2.0]** should be remove. Tab **[.NET Core 2.2]** is good enough.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-04 19:49] rpetrusha commented on #14923
Yes, @Thraka. <https://review.docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0?branch=pr-en-us-14935#networking>

[2019-10-04 20:38] #12689 closed

[2019-10-04 23:42] #14895 closed

[2019-10-04 23:56] #14560 closed

[2019-10-05 00:07] #5460 closed

[2019-10-05 07:22] ivysrono opened #15487 "Update .net Core 2.2 to 3.0"
- simple edit TFM
For example:
https://github.com/dotnet/samples/blob/master/csharp/classes-quickstart/classes.csproj#L5

`<TargetFramework>netcoreapp2.2</TargetFramework>`

- Incompatible
For example:
https://github.com/dotnet/samples/tree/master/csharp/getting-started/console-teleprompter

[2019-10-05 08:11] Youssef1313 commented on #14924
I don't think this can be achieved with regex **only**.

[2019-10-05 15:41] TomGroszko opened #14975 "When does this installation take place?"
After I follow the steps in this document when does the installation take place? How do I start the installation process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdb6f36-c952-4317-669d-b4618505b688
* Version Independent ID: 69caa919-1a67-806e-172b-f20653ca32b3
* Content: [How to: Add Installers to Your Service

[2019-10-05 17:41] joostas opened #14978 "Contradiction in Package version resolution"
Under [Version section](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#version) mentioned:

But referred [ NuGet versioning document](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges-and-wildcards) states that  if specified only number it applies rule `Minimum version, inclusive`, but not `Exact version match`.
[code]
Seems like contradiction. Either att

[2019-10-06 03:25] manu-p-1 opened #14979 "C# statements - yield example"
Regarding the yield statement example, the parameter name, **from** is highlighted in a blue color. This color indicates that the name is reserved (in this case **from** is a clause keyword). Although, this is not a compile time error, the syntax highlight can make the example slightly confusing at first glance. I would recommend changing the names, **from** and **to** into something else (such as

[2019-10-06 06:46] Youssef1313 commented on #14979
I think an internal bug could be filed for that.
/cc @mairaw

[2019-10-06 10:15] matkoch commented on #14687
@nguerrera thanks, that clarifies enough.

[2019-10-06 11:23] vtoderica opened #14983 "Question"
...
 EventTypeFilter configFilter = (EventTypeFilter)mySource.Listeners["console"].Filter;
...

Shouldn't "console" be replaced to "Default"?
(I run on .net framework 4.6.1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b06dc20-83e4-08e0-814d-15cd7dbcb96d
* Version Independent ID: 94734b9b-4f89-1fa3-9248-dfe2bfc61cc5

[2019-10-06 11:31] vtoderica commented on #14983
Please ignore my previous remark.

[2019-10-06 14:01] jacentino opened #14985 "Using statement"
Hi guys,
There is a mistake in  the signature of the Using method. It should be:
'T * ('T -&gt; M&lt;'U&gt;) -&gt; M&lt;'U&gt; when 'T :&gt; IDisposable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 247c440d-b855-0df1-f2db-076cd3393a0b
* Version Independent ID: 1cbccd4d-1721-e14f-7546-8fa868c965b1
* Content: [Computat

[2019-10-06 15:01] selalerer opened #14986 "dotnet sln add with configuration mapping"
How can I add a project to the solution and change the mapping of its configuration?

E.g., I want when the solution is build with Release configuration:
`dotnet buid MySln.sln -c Release`

That the project will be built with configuration MyRelease. In my csproj:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-06 16:44] #14850 closed

[2019-10-06 16:51] NKarnam15 commented on #14931
@verdy-p you are correct, 4.8.03921 is tied to the Vibranium build.

[2019-10-06 16:54] Youssef1313 opened #14987 "Use kbd tag when possible and general markdown improvements"
The usage of they `<kbd>` tag would be better than bold or just normal text. Currently, `<kbd>` is used in a really few articles. Example where it's used is [Tutorial: Create a .NET Core solution in macOS using Visual Studio Code](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-macos).

-----

**General markdown improvements:**

Make sure that the following points from the current

[2019-10-06 18:48] tonkusmustafa opened #14993 "in sample code, the method needs "static" keyword."
An object reference is required for the non-static field, method, or property 'Program.MethodWithCallback(int, int, Del)'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5dba5b-eabc-8202-2854-6b1f4a7f971a
* Version Independent ID: 8b2e46f0-6d12-6ce9-944d-b883dcbe0808
* Content: [Using Delegates - C# Programming Guide]

[2019-10-06 20:41] verdy-p commented on #14931
Also applies to further Vibranium builds (now build 18995)

[2019-10-07 06:31] FrojdJocke commented on #14867
@mairaw I ran a test with the address ```test@mycompany-.com``` and that was considered to be valid.

[2019-10-07 11:10] guardrex opened #14999 ""Publish" is overloaded"
Due to the use of "publish" in the context of creating assets to deploy (building/pack), "publish" is overloaded because it's a NuGet concept, too.

I can't tell from the description if the project is built and the package is created (packed) or merely deployed (i.e., does one still perform a `dotnet pack` prior to using this command?).

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-10-07 12:21] bit7 commented on #12184
Why does loading dlls dynamically at runtime need to be this complicated.  This should be configurable in a json config file.  So now I have to wait till my company adopts dotnet core 3.0 to implement plugins?  This should be easily configurable.

[2019-10-07 12:23] Youssef1313 opened #15000 "Missing error message id"
### Type of issue

Other (describe below)

### Description

This page doesn't have an error message id, neither in the page content nor in the metadata

### Page URL

https://learn.microsoft.com/en-us/dotnet/visual-basic/language-reference/error-messages/a-double-quote-is-not-a-valid-comment-token-for-delimited-fields

### Content source URL

https://github.com/dotnet/docs/blob/live/docs/visual-ba

[2019-10-07 14:11] BillWagner commented on #13221
@BloodyMettle I didn't state that well.  You can define separate expression bodied members for the `get` and `set` accessors, or you can define a single expression bodied member for a readonly indexer:

[code]

[2019-10-07 14:39] BillWagner commented on #14979
I logged MicrosoftDocs/feedback#2008 to get the syntax highlighting updated.

That said, I'll leave this open. In an introductory text such as this, the variables should not be contextual keywords. That can lead to confusion for beginners.

[2019-10-07 14:48] BillWagner commented on #14993
From the context, it's not obvious if this is in the context of an object instance.

I like your suggestion @tonkusmustafa

I've added this to our backlog for when we next update this article. I've also added the "up for grabs" label for community members to submit a PR.

[2019-10-07 16:32] Thraka commented on #12184
.NET Core 3.0 updated some of the assembly system to be more streamlined and work better with low memory systems. Additionally, enhancements were added to handle loading unmanaged dependencies of plugins.

This scenario is still mostly covered by .NET Core 2.0. Personally I've used Scrutor ([Nuget](https://www.nuget.org/packages/Scrutor/)/[Github](https://github.com/khellang/Scrutor)) as a really

[2019-10-07 16:42] RoyiAvital commented on #9167
The page doesn't specify how to initialize `x64` environment from `VsDevCmd.BAT`.

How could one do that?

[2019-10-07 17:40] rpetrusha opened #15006 "[Samples:] C# source code contains multiple entry points"
## [Samples:] C# source code contains multiple entry points

In an (unspecified) number of case, legacy C# source code files contain multiple entry points. As a result, the source fails to compile. In each case, files are unnecessarily large and contain a large number of smaller examples.

One such example is <https://github.com/dotnet/docs/blob/main/samples/snippets/csharp/VS_Snippets_VBCSharp/cs

[2019-10-07 17:52] Thraka commented on #14983
@vtoderica Not sure if you mean that we should ignore the title you changed or ignore this issue completely? If the latter, you can close the issue.

To answer your question though, no it shouldn't be named that. Steps 1-3 are supposed to be completed before you run the program. Step 3 creates the listener named **console** that Step 1 references.

I'll close this issue as I think your problem is

[2019-10-07 17:52] #14983 closed

[2019-10-07 17:53] #14279 closed

[2019-10-07 17:58] #9994 closed

[2019-10-07 18:07] Thraka commented on #14919
This value is passed into MSBuild which is then using that value to compile your project and also to compile any project references. If you're referencing the project directly, it would be carried over. If the referenced project **doesn't explicitly define** the build configuration supplied, it would use the fallback, which is `debug`.

If you're referencing a compiled dll, this wouldn't carry ove

[2019-10-07 18:13] Thraka commented on #14978
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-10-07 18:29] waltdestler commented on #14919
Thanks for the response! Is there any way to override this behavior and tell it to use a different build configuration for the referenced projects? (I asked [this question](https://stackoverflow.com/questions/58258842/how-to-specify-build-configuration-for-referenced-projects-when-using-dotnet-bu) on StackOverflow but haven't received a response.)

My current workaround is to build the whole solut

[2019-10-07 18:55] vtoderica commented on #14983
Thank you for your answer. I was wrong, but I realized that after I posted
the remark. Thank you !

lun., 7 oct. 2019, 20:53 Andy De George <notifications@github.com> a scris:

[2019-10-07 18:56] BillWagner opened #15008 "The C# tutorials page should link to the new C# 101 videos"
@shanselman and @kendrahavens created a series of [great C# 101 videos](https://www.youtube.com/playlist?list=PLdo4fOcmZ0oVxKLQCHpiUWun7vlJJvUiN)

They should be linked from the following pages:

- [x] C# Guide landing page
- [x] C# Guide tutorials page
- [x] C# Guide Beginner tutorials home page.

/cc @JaySing

[2019-10-07 20:22] Thraka commented on #14919
You would have to share more of your config to fully understand what you're experiencing.

@dsplaisted do you have any insights into using project references and msbuild configs?

[2019-10-07 20:30] boebing opened #15010 "aborted at 12"
I'd love to give valuable feedback but, I just
couldn't proceed beyond
12. In Solution Explorer, expand the Properties folder and select the AssemblyInfo.cs or AssemblyInfo.vb file. In the code editor, add the following attribute to the file:
because none of this is in my Solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-10-07 20:55] Thraka commented on #14965
Duplicate of #9893

[2019-10-07 20:55] Thraka commented on #14965
Thank you for letting us know. We have an issue (linked above) tracking this. I'm going to close. Thanks again!

[2019-10-07 20:55] #14965 closed

[2019-10-07 21:03] dsplaisted commented on #14919
cc @rainersigwald and @nguerrera who are more familiar with this than I am

[2019-10-07 21:16] Thraka commented on #14987
I like it, I always have. `KBD` is in the whitelist on the contributors guide. So we just need an agreement on using it.

[2019-10-07 21:25] mconnew commented on #4675
@osudude, the only issue with TLS1.2 which is not unique to WCF is if either the client or server certificate (in your case, no client cert but I'm providing the general answer) is using the certificate hash algorithm md5, the certificate can't be used with TLS1.2. So if you have an existing service with a certificate using the md5 hash algorithm and you configure both ends to support TLS1.2, they

[2019-10-07 21:32] mairaw commented on #14987
Thanks @Youssef1313 for opening this issue. We really appreciate your passion and contributions so far to the .NET documentation. I discussed this issue with my team.

Given the amount of legacy content we have, we could spend considerable amount of time trying to make all of our content follow the style guide rules, which takes time away for our team to work on new and updated content without muc

[2019-10-07 21:32] #14987 closed

[2019-10-07 21:35] mairaw commented on #14975
This article goes about the process of installing the service: https://docs.microsoft.com/en-us/dotnet/framework/windows-services/how-to-install-and-uninstall-services

[2019-10-07 21:35] #14975 closed

[2019-10-07 21:50] rpetrusha commented on #14964
Thanks, @RaminderRandhawa91. Is this a breaking change between preview versions of .NET Core 3.0, @RaminderRandhawa91, or are you looking for information on handling differences between Newtonsoft Json and the JSon types in .NET Core 3.0?

[2019-10-07 22:02] Thraka commented on #14999
This pushes a "NuGet package" to the server, effectively publishing it. I think the descriptions could be updated to indicate that it's a NuGet package.

[2019-10-07 22:48] guardrex commented on #14999
Sure, but I'm specifically asking about distinguishing it from packing (building; i.e., `dotnet pack`). A quick one-liner or even just a cross-link to `dotnet pack` might do the trick to make it clear that this is a deployment command, not a building/packing command and that building/packing must be performed separately (if that's the case).

[2019-10-07 22:51] tdykstra commented on #14987
Follow-up on the `<kbd>` tag

This is because guidance in our internal Contributor Guide for docs.ms.com currently advises against using any style at all. For example:  Ctrl+Shift+Enter. Unless we change that guidance, it would be better not to add `<kbd>` to articles as they will be out of sync with the rest of the docs across the docs.ms.com site.

[2019-10-07 23:02] mairaw opened #15011 "Prepend regex patterns in C# with @"
A couple of articles show the regex example without using the string literal special character (\@).

I find this harder to validate the pattern. So the article linked here as an example, you could change the line from

[code]

to

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 516dbaa4-c048-ec08-1c3a-3ae241c07d

[2019-10-07 23:43] mairaw commented on #15010
Thanks for your feedback @boebing. We'll have to investigate what's wrong with this article. Adding to our backlog for now.

[2019-10-07 23:53] mairaw commented on #14986
Hi @selalerer, thanks for your feedback. We still have in our backlog an issue to describe targets and props that hopefully will go over some of these scenarios (#2642).

Adding @dsplaisted to help with these questions as well and confirm that my suggestions are correct.

I think there are a few possibilities here:
- Pass MyRelease as the value for -c in dotnet build
- Change your project config a

[2019-10-08 00:06] selalerer commented on #14986
Hi mairaw,

Thank you for these suggestions but I don't think they can help me achieve my goal.

I would like to run dotnet build for my sln file with Release configuration and have most csproj that are specified in this sln file run with the Release configuration. I would however want that a few csproj that are specified in the sln file run with a different configuration (e.g. MyRelease).

Thank

[2019-10-08 00:07] cesee opened #15013 "The way ranges work is very unnatural"
I would expect a 1..4 range to be 1 2 3 4. It shouldn't match a for loop structure.
Had it been 1.&lt;4 it would make more sense to not include the 4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba09118-22c5-2c6a-954a-b9659a9644ae
* Content: [What's new

[2019-10-08 00:17] cesee opened #15014 "Default interface members finally allow some multiple inheritance?"
1. This could be quite useful.

2. Regarding the switch statement,
Is there any plan to ever implement a default automatic throw in the default case instead of throwing manually almost each and every time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID: aba0

[2019-10-08 00:21] mairaw commented on #15013
Thanks for your feedback @cesee. I'll refer to [this comment](https://github.com/dotnet/docs/issues/11324#issuecomment-474112483) from @BillWagner when we've got a similar feedback:

The documentation does accurately reflect those design choices.

I am going to close this.  However, if you want to continue to advocate for a different design, consider commenting on the referenced design notes, or o

[2019-10-08 00:21] #15013 closed

[2019-10-08 01:09] BillWagner commented on #5622
Closing this based on the new index page for async / await.

[2019-10-08 01:09] #5622 closed

[2019-10-08 01:39] BillWagner commented on #6753
I'm closing this based on [this gist](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd) proposing a new TOC. We're working toward that organization.

[2019-10-08 01:39] #6753 closed

[2019-10-08 01:41] BillWagner commented on #6891
/cc @IEvangelist

This might still be useful to write as a tutorial.

[2019-10-08 01:44] davidlfox commented on #14951
@BillWagner up for grabs? feels like a layup

[2019-10-08 01:54] BillWagner commented on #6959
We've proposed a new [table of contents](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd) that addresses this concern. We're working on updating the content to match the proposal.  This issues is handled under [this project](https://github.com/dotnet/docs/projects/93)

[2019-10-08 01:54] #6959 closed

[2019-10-08 01:59] BillWagner commented on #7048
Transferred to MicrosoftDocs/Feedback#2010.

Closing this as docs-experience.

[2019-10-08 01:59] #7048 closed

[2019-10-08 02:32] davidlfox commented on #9566
@BillWagner When adding a new snippet to the dotnet/samples repository, should this issue be referenced in commit message, then a PR submitted to samples, _then_ a PR submitted to dotnet/docs repository for this issue?

[2019-10-08 02:42] mairaw commented on #9566
Either in the commit message or in the PR description is enough. You can then create the docs PR right after, just call out that is dependent on the samples PR you created and we'll make sure to review after the samples PR is merged.

[2019-10-08 03:47] JiChao99 opened #15018 "About tmpfs mounts"
on the page top，tmpfs mounts is one solution  for manage persistent data
&gt; The following solutions are used to manage persistent data in Docker applications:

but on the detail  description
&gt; tmpfs mounts ... are only meant for non-persistent data.

So, tmpfs mounts is not the manage persistent data solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-10-08 08:33] greyseal96 opened #15020 "Documentation about App Config files confusingly spread across multiple application sections"
To find information about app config files, I have had to read through at least three different application sections on docs.microsoft.com (and there may be more that I haven't found; I don't know...):
--Visual Studio: https://docs.microsoft.com/en-us/visualstudio/ide/managing-application-settings-dotnet?view=vs-2019
--Windows Forms: https://docs.microsoft.com/en-us/dotnet/framework/winforms/advan

[2019-10-08 08:33] greyseal96 opened #21638 "Documentation about App Config files confusingly spread across multiple application sections"
To find information about app config files, I have had to read through at least four different application sections on docs.microsoft.com (and there may be more that I haven't found; I don't know...):
--Visual Studio: https://docs.microsoft.com/en-us/visualstudio/ide/managing-application-settings-dotnet?view=vs-2019
--Windows Forms: https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanc

[2019-10-08 11:14] Thomas-Fleming opened #15021 "Errata"
The text reads " Open the csproj file and add a Nullable element to the PropertyGroup element. Set its value to enabled". However the example code shows the property set to "enable" i.e. no "d" on the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b991cba9-efd4-68ae-283a-b575054b4907
* Version Independent ID: 793f

[2019-10-08 11:42] MetalDent commented on #15011
Hi, anyone is working on this issue?

[2019-10-08 11:45] MetalDent commented on #14869
Hi, is anyone working on this issue?

[2019-10-08 12:22] BillWagner commented on #14869
@MetalDent I don't think anyone is working on it. Would you like to submit a PR?

[2019-10-08 12:23] BillWagner commented on #15011
@MetalDent No one is working on this yet. Do you want to submit a PR?  Either @mairaw or I can help with any questions.

[2019-10-08 12:35] RaminderRandhawa91 commented on #14964
Looking for information on handling differences between Newtonsoft Json and the JSon types in .NET Core 3.0

[2019-10-08 14:12] #9566 closed

[2019-10-08 14:57] Tbhesswebber opened #15023 "Unclear precedence statement for operators"
`Except for the assignment operators, all binary operators are left-associative, meaning that operations are performed from left to right.` seems to contradict the following example of `For example, x + y * z first multiplies y by z and then adds the result to x`.

I feel like it should read: `Except for the assignment operators, all binary operators are left-associative, meaning that operations o

[2019-10-08 15:03] MetalDent commented on #15011
@BillWagner you want to change the expressions in the specified article or others also (if present)?

[2019-10-08 15:10] tdykstra opened #15024 "Improve SEO for the new System.Text.Json documentation"
The new conceptual docs for System.Text.Json don't appear in page 1 search results for some keywords such as C# json serialization.  Some changes that may help SEO:

* Vary wording between H1 and metadata title of overview and how-to docs
* A top result is a [how-to for DataContractSerializer](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/how-to-serialize-and-deserialize-js

[2019-10-08 15:10] BillWagner commented on #14869
@MetalDent  I would add an example like the one in this issue description. That helps explain why this is a useful feature.

[2019-10-08 15:11] BillWagner commented on #15011
@MetalDent I recommend starting with this article. @mairaw can point to others that should be updated as well.

[2019-10-08 15:35] #14993 closed

[2019-10-08 15:38] #13680 closed

[2019-10-08 15:42] dsplaisted commented on #14986
I think you have to use the Visual Studio Configuration Manager UI if you want to change the mapping of solution configuration to project configuration.  @rainersigwald @nguerrera

I'm not sure about the details of your scenario, but it might be a lot simpler to just use multitargeting and always build for both target frameworks, ie `<TargetFrameworks>net471;netcoreapp2.1</TargetFrameworks>`

[2019-10-08 16:22] rpetrusha commented on #12680
This work was completed by #13825 and #13851. Closing.

[2019-10-08 16:22] #12680 closed

[2019-10-08 16:31] #1116 closed

[2019-10-08 16:41] MetalDent commented on #15011
@BillWagner the example links in the [Content-Source](https://github.com/dotnet/docs/blob/master/docs/standard/base-types/regular-expression-example-changing-date-formats.md) link are not found. Should I update them?

[2019-10-08 16:48] BillWagner commented on #15011
@MetalDent Most of the sample code is in our [dotnet/samples](https://github.com/dotnet/samples) repository.  The docs build clones both repositories and combines them.  For example, the first sample in the content source is [here](https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_CLR/RegularExpressions.Examples.ChangeDateFormats/cs/Example_ChangeDateFormats1.cs#L16-L29)

[2019-10-08 17:49] IEvangelist commented on #6891
Even though the proposal for this refactoring has been closed, https://github.com/dotnet/roslyn/issues/38523 - the concept lives on.

[2019-10-08 19:59] #14611 closed

[2019-10-08 20:11] Thraka commented on #15020
@greyseal96 Thank you for pointing this out. That is highly annoying and is really just an artifact of different products writing documentation covering the same scenario.

I'm going to add this to our backlog of work. We're coming back through and updating the windows forms articles so when that happens it will be a good opportunity to reduce the content covering this scenario.

[2019-10-08 20:13] Thraka commented on #15023
@BillWagner Thoughts?

[2019-10-08 21:44] JranZu commented on #13880
What about reinforced learning?  Does ML.Net support that?

[2019-10-08 21:48] ancich opened #15041 "How would you add a task as the program is running in the while loop"
To put in it the breakfast analogy terms:  As is, the program is running the tasks eggsTask, baconTask, toastTask.  But what if there is a new task that needs to be added like "hashbrown task"?  Is there a way to add this new task to the list "var allTasks = new List&lt;Task&gt;"?  Would something like allTasks.Add be legal?    What I am ultimately looking for is to somehow setup a queue of tasks,

[2019-10-09 00:32] BillWagner commented on #7675
closing this.

It ill be handled as part of the [updated C# reorganization](https://gist.github.com/BillWagner/047cb97f6c0fe542d3a1299e994b2acd)

[2019-10-09 00:32] #7675 closed

[2019-10-09 00:38] gewarren opened #15045 "Consider renaming "build an app" topics"
Consider renaming "Build an app" topics to "Create an app" to clarify that they are not about building/compiling. This might also improve localizability.

If you type “build” in the TOC filter, the visible list of results is this, where “build” is actually used to mean “create”. I thought the first topic was about compiling console apps, but it's not at all.

![image](https://user-images.githubuse

[2019-10-09 00:53] BillWagner opened #15046 "C# 7.0 proposal for Tuples"
The proposals for C# 7.0 do not include the tuples proposal.

See https://github.com/dotnet/docs/issues/8251#issuecomment-488234521

[2019-10-09 00:54] BillWagner commented on #8251
closing after creating #15046 which is the only remaining issue.

[2019-10-09 00:54] #8251 closed

[2019-10-09 01:06] nemrism commented on #10653
hi guys
still got PR #14064 open and no answer on what we do with the remaining work... are you still interested with this cleanup?

[2019-10-09 01:08] NextTurn commented on #10653
Take it easy. These changes take time to review.

[2019-10-09 01:13] nemrism commented on #10653
Yeah I totally understand, however the 15 other PRs were already merged
And it also takes time to resolve conflicts if the branch remains like this for months ;)

[2019-10-09 01:14] nemrism commented on #10653
And I just want to know if I continue working on this or take something else

[2019-10-09 01:15] mairaw commented on #10653
I started reviewing that one but got busy with other deliverables. Will try to finish the review soon. Apologies for the delay.

[2019-10-09 01:17] mairaw commented on #10653
You can choose whether you want to continue this one or work on something different.

[2019-10-09 01:25] nemrism commented on #10653
I can totally understand with the core 3.0 launch ;)

[2019-10-09 01:27] nemrism commented on #10653
I'll do what you prefer... I'm open to suggestions, but as you can see (https://github.com/dotnet/docs/issues/10653#issuecomment-525652922), there is kind of a hurricane coming if I batch work on this

[2019-10-09 01:30] NextTurn commented on #11067
Pinging everyone here @mairaw @Thraka @BillWagner

[2019-10-09 01:45] mairaw commented on #11067
I pinged some folks on the PR

[2019-10-09 01:58] mairaw commented on #10653
My suggestion since our team is still overwhelmed with PRs and behind on 3.0 work.
Let’s table this one for now and avoid tsunamis. 😊
Maybe do one of these per month to continue to make progress but not make them all at once.

[2019-10-09 02:06] nemrism commented on #10653
I've seen that others are also doing a great job on this, @NextTurn & @Youssef1313 for example.
I'll do as suggested and will do that as a background task.

Great to read you again @mairaw, have a great day all

[2019-10-09 02:17] transdigiware opened #15048 "SignTool"
**Help us make content visible**

- Tell us what search terms you used and how you searched docs.
- Tell us what docs you found that didn't address your concern.

**Describe the new article**

- Explain why this article is needed.
- Suggest a location in the Table of Contents.
- Write an abstract. In one **short** paragraph, describe what this article will cover.
- Create an outline for the new ar

[2019-10-09 07:35] ConnerOrth opened #15051 "Metric explanation discrepancy"
The metric explanation on [ML.NET metrics - ML.NET | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/machine-learning/resources/metrics#metrics-for-multi-class-classification) states that for log-loss reduction we should look for:

However this page tells us:

A difference in range from -inf to 1 or -inf to 100 is a huge difference, perhaps this page was using 100 as in 100% but I feel thi

[2019-10-09 11:13] jmalarcon opened #15053 "For your confort: A simple command line tool to get the current installed versions"
I've just developed a simple command line tool to get all the installed versions in your system, based on the code on this page with a few small tweaks. In this way, you can simply double-click it and get detailed information.

You can see the Source Code and download the .exe tool from "Releases" in GitHub: https://github.com/jmalarcon/DotNetVersions

HTH

---
#### Document Details

⚠ *Do not edi

[2019-10-09 12:04] mvelosop commented on #15018
Hi @JiChao99, thanks for your feedback!

That's right **tmpfs mounts** are not suitable to persist data, because the live in memory and are never written to disk, so there's really not much "persistance" there!

Of course there are situations where that could make sense, but the article has to be rephrased, because it's a bit confusing.

Thanks for the heads up!

[2019-10-09 12:35] mvelosop commented on #14248
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 12:35] #14248 closed

[2019-10-09 12:58] alindgren opened #15055 "What about Service Fabric?"
I came to this page from https://dotnet.microsoft.com/apps/aspnet/microservices which has a link "Explore options for hosting your microservices on Azure". I've been trying out Service Fabric but I am concerned whether or not it has a promising future if it is not being shown as an option for developing microservices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-10-09 13:00] MetalDent commented on #14869
@BillWagner in this also the links in [this](https://github.com/dotnet/docs/blob/master/docs/csharp/language-reference/keywords/using-statement.md) are not found.

[2019-10-09 13:23] BillWagner commented on #14869
@MetalDent  Yes, these samples have the same dependencies as the other samples. The samples in this article are [here](https://github.com/dotnet/samples/tree/master/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsNamespace/CS/) in the dotnet/samples repository.

[2019-10-09 13:37] #13939 closed

[2019-10-09 14:54] pavelsem opened #15057 "Unrecognized element 'claimTypeRequired'"
Today I got the same error which got reported in past on this page - https://social.msdn.microsoft.com/Forums/vstudio/en-US/e466c55d-333e-4fb5-98d2-ee70cf3e56e2/claimtyperequired-in-a-wif-45-app. It seems this element is no longer available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b7bfc3-b2ca-3538-a215-2f0f06c

[2019-10-09 15:15] mvelosop commented on #13203
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 15:15] #13203 closed

[2019-10-09 15:29] MetalDent commented on #14869
@BillWagner according to the issue, don't you think we should change all the examples as they all are related to font?

[2019-10-09 15:35] BillWagner commented on #14869
@MetalDent I recommend keeping the current examples. I'd add a new example using the Mutex example from the issue description.

Most uses of a `using` declaration will assign the result to a variable.  Some cases (like the Mutex read) won't need the variable

[2019-10-09 15:48] mvelosop commented on #13186
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 15:48] #13186 closed

[2019-10-09 15:55] mvelosop commented on #13181
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 15:55] #13181 closed

[2019-10-09 15:57] mvelosop commented on #12793
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 15:57] #12793 closed

[2019-10-09 15:58] #15024 closed

[2019-10-09 15:59] mvelosop commented on #12514
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 15:59] #12514 closed

[2019-10-09 16:32] mvelosop commented on #5672
Hi @Necriis, thanks for the heads up!

There are no plans to change messaging to AMQP 1.0 en eShop, but toke note of this in the [backlog](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Backlog#other)

Thanks!

Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-09 16:32] #5672 closed

[2019-10-09 16:36] mtttcgcg commented on #10092
I had to open the Developer command prompt with Admin rights to avoid this error.

[2019-10-09 17:50] jkindwall opened #15067 "What type is returned by a sequence indexed by a range?"
What type is returned by a sequence indexed by a range?  Is it the same type as the source sequence?  Or is it some other standard type or interface?  This is not addressed anywhere in the article, and the repeated use of "var" in the examples makes it impossible to infer from reading the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-09 18:16] pkulikov commented on #15067
@jkindwall typically it's the same type: `string` for `string`, an array for an array, etc. You might see the following code with `Span`:

[code]

However, first, `nums[0..2]` produces an array, which is then implicitly converted to `Span<int>`. So, that `Span` instance is not the window to the original array. That is, changing that instance doesn't affect the array.

For more details about ranges

[2019-10-09 19:18] mairaw commented on #15048
Not sure what you meant with this issue @transdigiware. We have an article about signtool here: https://docs.microsoft.com/en-us/dotnet/framework/tools/signtool-exe

If you have specific comments about that article, let us know.

[2019-10-09 19:18] #15048 closed

[2019-10-09 19:29] Jeej opened #15070 "Why has the Dockerfile a copy sln and a copy all command?"
Hi,

In the example dockerfile two copy commands are used. The first is to copy the solution files (COPY *.sln .), the second copy is to copy all the files (COPY . .).

Why are there two copy commands? The solution files will also be copied with the second copy dot command I guess?

Thank you for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-10-09 20:57] BillWagner opened #15072 "Default interface methods, not default interface members"
Some of our documents use "default interface members" instead of "default interface methods".

All occurrences of "members" in that phrase should be "methods".

[2019-10-09 21:17] richlander opened #15074 ".NET Framework 3.5 missing from system requirements"
See this page: https://docs.microsoft.com/en-us/dotnet/framework/get-started/system-requirements#supported-server-operating-systems

I would expect 3.5 to be listed. It reads like it isn't supported.

edit by @mairaw: added topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8afd1f96-b008-8b2e-bf3e-89d91f8cca5

[2019-10-09 21:39] Konard opened #15075 "Mistake in the example of negative lookahead assertion"
In the table there is example of look-ahead:
`Zero-width negative lookahead assertion.`
`\b(?!un)\w+\b`

But this is not used as look-ahead, this is used as look-behind, the look-ahead usage will be like this: `\b\w+(?!un)\b`.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4698e-4220-c422-a554

[2019-10-09 21:43] Vaccano opened #15076 "Source declaration conflicts with itself"
This page states

&gt; You specify additional feeds by creating your own nuget.config file in the project directory.  You also specify additional feeds per invocation at a command prompt.

But in the `-s` documentation it states:

&gt; This setting overrides all of the sources specified in the nuget.config files

The first makes it sound like it will add another feed when supplied at the command l

[2019-10-10 01:14] mairaw commented on #15074
This is just a side effect of having different versions of the same topic on MSDN @richlander.

But the article starts with
![image](https://user-images.githubusercontent.com/12971179/66531406-88b9a900-eac0-11e9-9138-280ac9c9eb48.png)

Not enough?

[2019-10-10 01:21] mairaw commented on #13474
@Thraka I'm starting to break down tasks from PR #14425 as discussed offline.

I believe this task would be the one for https://review.docs.microsoft.com/en-us/dotnet/core/deploying/desktop-packaging?branch=pr-en-us-14425

However, this article would be applicable to both WPF and WinForms.

So instead of jumping directly to Desktop Guide - WPF, you could have:
- Desktop Guide
  - WPF
  - Package

[2019-10-10 01:35] mairaw opened #15081 "Update deployment overview article for .NET Core"
@richlander proposed that we update the main entry point that explain the different deployment options by breaking up into two options: framework-dependent apps and self-contained apps.
Inside those two options, we’d break down the two different options for single-file vs. multiple files instead of calling executable vs. deployments.

We also need to make sure the content is updated for .NET Core

[2019-10-10 03:16] #12604 closed

[2019-10-10 04:27] richlander commented on #15074
Someone in Windows reached out to me asking with 3.5 wasn't on that page, and then I looked and could not figure it out either. So, I guess that was the usability test. I'm not defining any priority here, but is unfortunate that there are two overlapping pages.

[2019-10-10 04:50] Thraka commented on #13474
This is the same packaging technology for sure. I wouldn't have the master desktop guide though, as it's just adding a root level (which takes up precious TOC space) without adding much value. I would just share docs across sets.

[2019-10-10 09:16] javiercn opened #21235 "[Dependency injection] Include a topic about how the service collection works"
* We get many issues related to how to override different things for integration tests.
* All of these questions are never related to our integration testing support but about how DI works and how to effectively replace services for testing.
* This requires a proper understanding of the semantics of the service collection and how the service provider is built.
* There are no docs for it on the off

[2019-10-10 11:01] Legends opened #15085 "Delete file async"
Can this be done with .net core 3.0?
`await File.DeleteAsync(path)`
If not, why not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90c1b292-9f8a-d512-e780-24cb865a2da2
* Version Independent ID: 731858ee-ae76-9477-2ddf-40277bf1bd71
* Content: [Asynchronous File I/O](https://docs.microsoft.com/en-us/dotnet/standard/io/a

[2019-10-10 12:18] mvelosop commented on #14134
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-10 13:09] RaminMT opened #15087 "Setting environment using dotnet publish commane"
Hi
I have a couple of questions:
1. Is it possible to set environment when publishing with `dotnet publish` like `dotnet publish --environment "Development"` or no? if yes how?
2. Is it possible to ignore project warnings when publishing with `dotnet publish`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c79

[2019-10-10 14:59] Thraka commented on #15085
Hello,

There is no `*Async` overload for `File.Delete` in any framework. As to why this decision was made, I cannot say. Doing some quick searching through I found some alternatives, such as an extension method: https://stackoverflow.com/questions/10606328/why-isnt-there-an-asynchronous-file-delete-in-net

[2019-10-10 14:59] #15085 closed

[2019-10-10 15:27] Thraka commented on #15076
Hello!

I see where the confusion is. It's with this statement specifically:

Really this should state that you can **override** the feeds in a _nuget.config_ file with the `-s` command prompt parameter.

I'm going to close this issue. If your problem is not solved, feel free to reopen or comment. Thanks!

[2019-10-10 16:01] Thraka commented on #15075
Hello,

I think this is correct. It is a lookahead because the word boundary is the starting expression followed by the negative lookahead. So it starts from the beginning of the word and looks ahead for the match of `un` keeping the engine at the position of the word boundary start. If you modify it to check for `s` after the word boundary start, you'll see it works as expected matching the only

[2019-10-10 16:01] #15075 closed

[2019-10-10 16:04] Thraka commented on #15053
Another tool was posted in an issue also: https://github.com/EliteLoser/DotNetVersionLister

I'll see if we can update this page and link to these github repos.

[2019-10-10 16:16] RaminMT commented on #15087
Hi again
Excuse me for not being enough clear.
By the term **environment** I mean `ASPNETCORE_ENVIRONMENT` environment variable or generally any environment variable.
And I know that warnings are not prevent the build or publish process but I want them to be hide so I can get more concentrated info

[2019-10-10 16:47] Thraka commented on #15087
No worries!

To hide the warnings, try passing this switch to MSBuild (which is what the `dotnet publish` command uses)

[code]

Environment variable, no. Since environment variables are consumed by your app but set by the host, you need to configure the host some how. For example, if you're going to deploy to the cloud, the cloud provider usually has an option to set the environment variables for

[2019-10-10 16:47] #15087 closed

[2019-10-10 16:50] #14979 closed

[2019-10-10 18:11] mvelosop commented on #6027
Hi @ThomasWeiss, @akhilpolineni, I finally created a WebApp and deployed it to an App Service and could confirm that the `IHostedService` classes are notified upon AppPool recycling, in ordet to do a clean shutdown.

The WebApp is included in the above mentioned repo.

[2019-10-10 18:14] mvelosop commented on #6027
So `IHostedServices` included in WebApps will be notified when the AppPool reclycles, no doubt about that

The "Impact" comes from the fact that once stopped, they won't start again until a request is received in the web app and it's AppPool is restarted.

Hope this helps.

[2019-10-10 18:14] mvelosop commented on #6027
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-10 18:14] #6027 closed

[2019-10-10 18:19] mvelosop commented on #12422
Closing this issue now but feel free to comment, will reopen if needed.

[2019-10-10 18:19] #12422 closed

[2019-10-10 19:13] wli3 commented on #10245
Here is the "raw" document https://github.com/dotnet/cli/issues/10288

[2019-10-10 20:25] BillWagner commented on #8673
I'm going to close this as its covered in the page on [generic constraints](https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/where-generic-type-constraint).

[2019-10-10 20:28] BillWagner commented on #8775
Transferred to MicrosoftDocs/feedback#2023

Closing here.

[2019-10-10 20:28] #8775 closed

[2019-10-10 20:32] #9150 closed

[2019-10-10 20:41] BillWagner commented on #9187
I'm going to close this due to lack of response.

[2019-10-10 20:41] #9187 closed

[2019-10-10 20:41] BillWagner commented on #9274
closing due to lack of response.

[2019-10-10 20:41] #9274 closed

[2019-10-10 20:48] rpetrusha opened #15097 "[Breaking changes] Handling breaking changes in .NET Core, ASP.NET Core, and EF Core"
## Handling breaking changes in .NET Core, ASP.NET Core, and EF Core

Individual breaking changes are initially documented as follows:

- For .NET Core, as [issues](https://github.com/dotnet/docs/issues?q=is%3Aopen+is%3Aissue+label%3Abreaking-change) in the **dotnet/docs** repository on GitHub.

- For ASP.NET Core, as [issues](https://github.com/aspnet/Announcements/issues?q=is%3Aissue+is%3Aopen+l

[2019-10-10 20:49] #15097 closed

[2019-10-10 20:52] BillWagner commented on #9288
Adding the "up for grabs" label.  I think the correct fix is in the previous comment:

[2019-10-10 20:59] BillWagner commented on #9496
Adding the "up for grabs" label for community members to consider this.

[2019-10-10 21:00] rpetrusha commented on #14825
There is a utility that detects directories in the **dotnet/samples** repo whose files are not used in either the **dotnet/docs** or **dotnet/dotnet-api-docs** repos. It includes:
- The [C# source code](https://gist.github.com/rpetrusha/6a4479f4e02e72726357140b63fb1105).
- Information on the [configuration file](https://gist.github.com/rpetrusha/263039abeb5eedd148ba75576b00a1f4) used to customize

[2019-10-10 21:20] amirxnz commented on #6131
I am getting this issue as well.
I have a hosted service that is reading messages from azure event hub, I run it in docker, however when i issue a docker stop, the stopasync does not get called and the cancellation token does not change to true.

@johnabbott72  have you found a fix for your issue?
@eiximenis Can you share your example? The only one i found is a web host but that is not my scenraio

[2019-10-10 23:01] softlion commented on #9187
Sorry for the delay.
It won't work because tasks are NOT threads.

Tasks are queued and dispatched on max X threads where X is the number of processor minus one.

The lock keyword prevents only a code to run on different threads. Not on the same one.

You forgot to use ConfigureAwait(false) in your await. This is required to simulate a task which returns to the queue while waiting on a resource.

[2019-10-10 23:32] #14952 closed

[2019-10-10 23:53] #9324 closed

[2019-10-10 23:54] #13189 closed

[2019-10-11 00:15] mairaw commented on #15055
@nishanil who can help with this question?

[2019-10-11 00:17] mairaw commented on #14964
@ahsonkhan @JamesNK can you help with this question?

/cc @tdykstra - not sure if there's any doc impact from this

[2019-10-11 00:21] mairaw commented on #14871
Interesting. I asked Nat Friedman the other day about this as well because it causes SEO issues. I was going to start a thread with him and I'll include you and this issue as an example. My understanding is that master is indexed by default and I couldn't find a way to turn that off.

[2019-10-11 00:38] ahsonkhan commented on #14964
JObject in Newtonsoft.Json represents a "DOM" structure for a JSON object which gives you random access to its properties.

The type you are looking for, that's built-in to .NET Core 3.0, is `JsonDocument` (note: it is readonly).
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument?view=netcore-3.0
You can create a `JsonDocument` from a `Utf8JsonReader` by calling the `ParseVa

[2019-10-11 00:42] Miggleness opened #15100 "GC balancing act"
My understanding of the statement quoted below is that the two are directly proportional to each other.  Wouldn't "giving the application sufficient working set and not letting the garbage collection take too much time" be a more accurate statement?

 "The CLR continually balances two priorities: not letting an application's working set get too big and not letting the garbage collection take too m

[2019-10-11 00:53] cheenamalhotra commented on #14871
One solution is to include examples inside docs with code blocks... without cs file reference, but I bet it will be huge work :)

[2019-10-11 00:58] mairaw commented on #14871
We definitely don't want to do that. We can't test code with a CI job like this, we can't reuse, etc.

[2019-10-11 01:07] mairaw commented on #15100
Thanks for your feedback @Miggleness. @Maoni0 how do you feel about such proposed change?

[2019-10-11 04:22] 0xaryan commented on #8673
@BillWagner WAIT WHAT! The problem is not that there is no content for it somewhere in the docs. The problem is that "unmanaged" IS a contexual keyword and it IS NOT in the contextual keywords list (read issue title).
Actually you could simply add the keyword in the list in some couple of days, but you decided to close it with a totally irrelevant message after one year...

[2019-10-11 06:10] tulikavijay commented on #14946
Hi, i would like to work on this.

[2019-10-11 07:54] pawel-zolty opened #15104 "IAsyncRequestHandler should be replaced by IRequestHandler"
In 4th section under "Register the types used by MediatR" header, there is registered IAsyncRequestHandler interface in MediatR module. Since 4.0.1 MediatR have allowed to use only IRequestHandler.
https://github.com/jbogard/MediatR/releases
https://github.com/jbogard/MediatR/issues/224

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-10-11 09:29] qbit86 opened #15105 "Missing JsonSerializerOptions"
In section [Allow comments and trailing commas](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to#allow-comments-and-trailing-commas) there is an example of using `JsonSerializerOptions`. But `options` actually is not passed to `Deserialize()` method:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-11 11:44] #15072 closed

[2019-10-11 12:40] #13420 closed

[2019-10-11 14:17] tdykstra commented on #15105
@qbit86 Thanks for reporting that! It is fixed in #15106

[2019-10-11 18:02] Thraka commented on #15057
That content is being archived with issue #14801. It's not maintained any longer. So I'm closing this issue.

My guess is that it was in some older version of WIF and then removed.

[2019-10-11 18:20] mairaw commented on #15057
Not this set. We need to decide whether we want to retire the file schema config along with that. But that issue is just about the security folder under framework.

[2019-10-11 18:25] KevinCathcart commented on #8463
The issues I see with these guidelines is that:
1. The full version of this pattern is optimized for a class that directly owns both managed and unmanaged resources. This should be extremely uncommon. Ideally all unmanaged resources should be owned by a SafeHandle, or at the very least a dedicated sealed class, that does not also own managed resources too.
2. Even the "basic" version of this dispo

[2019-10-11 18:52] amirxnz commented on #6131
@eiximenis Any chance for some direction?

Many thanks!

[2019-10-11 19:01] #15105 closed

[2019-10-11 20:20] #8673 closed

[2019-10-12 00:05] #7516 closed

[2019-10-12 00:07] BruceForstall opened #15117 "Missing output"
The output for Array.tryFind shows:
[code]
but should show:
[code]

Similarly, the output for Array.tryPick is missing the last line:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cda87e0-998a-086f-f5ed-2290d7a97966
* Version Independent ID: 45152c64-0643-3c5a-93cb-a2f689170887
* Content: [Arrays - F#](https:/

[2019-10-12 00:11] Rick-Anderson opened #15126 "Format pipeline code"
Format https://github.com/dotnet/samples/tree/master/snippets/csharp/pipelines per https://github.com/dotnet/docs/pull/14414#issuecomment-540887633

edit by @mairaw: add topic details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5384a7-5e96-d977-7748-317a2c758f63
* Version Independent ID: 06e72212-a052-a351-0e0b-1b

[2019-10-12 03:01] mairaw commented on #15117
Thanks @BruceForstall for your comment, Would you like to submit a PR to fix this?

Here's more info on how to do this:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-10-12 08:04] mairaw commented on #10653
Yes @nemrism, you're all doing great contributions to our docs and we really appreciate it!
Smaller PRs are much easier for our team to review as well. So if you'd like to continue to make progress towards this one, file a couple of PRs that are smaller in size and they will probably get reviewed and merged much faster.

[2019-10-12 08:31] semuserable opened #15130 "Possible typo in 'Test the project template' section"
First paragraph.
Navigate to the test folder and create a new console application with `dotnet new console` - original

You probably meant `dotnet new consoleasync`, not `dotnet new console`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 097102bb-f6d9-c469-5556-ae1f16fdc4fe
* Version Independent ID: 77b25381-6e0f-949f

[2019-10-12 10:46] BjarkeMeier commented on #5952
Hi @mvelosop , sure but it will probably be next month.

[2019-10-12 11:02] wrkettlitz opened #15133 "How do you know if you have successfully opted-out?"
See title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c136055b-bb04-17b6-19b2-42d4610c1a70
* Version Independent ID: 50433ae5-4687-fe5f-75ab-a47e1a706777
* Content: [.NET Core SDK telemetry - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/telemetry#feedback)
* Content Source: [docs/core/tools/tele

[2019-10-12 13:41] MarcioAB opened #15136 "Any chance to include .NET Core in this subject ?"
I understand this is for .NET Framework only, but, is it possible to (somehow) address this subject ( Load Assemblies into the Reflection-Only Context ) for .NET Core ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5801d799-a851-bfee-e3ab-2ea0dd1524de
* Version Independent ID: c47b567c-5b31-fb04-29c0-c1cddd956bef
* Co

[2019-10-12 14:24] Countryen commented on #12736
Hey there, have the same question/concern about this:
Is there any reason to write:

[code]

instead of:

[code]

Also, is this the same, too?

`var obj = item;`
`item is var obj;`

If this is true:

Why should I ever consider using it?
Is this just an error in the docs?

[2019-10-12 14:40] Countryen commented on #14951
Can the same be done for the "positional pattern" example with the tuples? Or do you have to repeat the destruction for every case?

[2019-10-12 14:50] Countryen opened #15137 "Indice/Range for yielded/async sequences"
Hey there, quick question: Is it possible to use the new indices/ranges with async or yielded sequences?
Is there a way to do that? Since both features are new here, would be nice if it was mentioned here, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
* Version Independent ID:

[2019-10-12 15:29] vintzl commented on #14445
@tdykstra

Related to this:
 - https://github.com/aspnet/AspNetCore/issues/14254

Could you please provide us a general guidance, even as simple as [this doc](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers?view=aspnetcore-3.0), on how to write Custom JsonConverters **with inheritance**.

[2019-10-12 15:54] svick commented on #9187
@softlion That would only happen if you could `await` *inside* a `lock`, but [doing that is not allowed](https://sharplab.io/#v2:C4LgbgpgTglgZgTwD4AEAMACFBGArAbgFgAoElAJgwGESBvEjRjAewCMArCAY2AwBsMAXgwA7CAHcWHbsAAUASiLEmGBkxQAOLADYMAWQVrG9ZSqZ9mXANYZZfeUbMmzLrAE4dAOgAiEPgEMEWWxFRxUAX0dI4nCgA==) exactly for this reason.

If you use a `lock` before or after an `await`, then [there is no problem](http

[2019-10-12 16:09] #15117 closed

[2019-10-12 19:23] vintzl opened #15141 "ASP.NET Core du routage éblouissant"
French documentation says "éblouissant" instead of Blazor. It sucks…

- https://docs.microsoft.com/it-it/aspnet/core/blazor/routing?view=aspnetcore-3.0

For example, the Italian documentation do not have this problem…

- https://docs.microsoft.com/fr-fr/aspnet/core/blazor/routing?view=aspnetcore-3.0

[2019-10-12 19:26] the-Arioch commented on #13949
yes, i think there should be an authoritative reference containing up to dat list of all possible NNNNN values/tokens/identifiers

[2019-10-12 21:31] mungojam opened #15143 "Link between 'Quick JIT (tier 0 jitted code)' and Tiered Compilation unclear"
It says that in dot net core 3.0 tiered compilation is enabled by default and then explains the benefits of it. Then, out of the blue, it says how to enable 'Quick JIT (tier 0 jitted code)' without explaining if that is the same thing as tiered compilation or some extra improvement, nor any guidance on when we would want to enable it

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-10-13 05:05] pkulikov opened #15146 "The Word file in the repository root"
There is the following *.docx* file in the repository root folder:
https://github.com/dotnet/docs/blob/master/CloudNative-e-book-final-0.5.docx

That doesn't look typical. Is it by design or by accident?
The file was added in this PR: #13048

/cc @ardalis @nishanil @mairaw

[2019-10-13 05:50] davidfowl opened #15147 "Add docs for PipeReader/PipeWriter.Create(stream)"
In the stream section we currently show `AsStream()` for going from PipeReader and PipeWriter to a `Stream` but we don't show the other way using PipeReader/PipeWriter.Create(stream).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5384a7-5e96-d977-7748-317a2c758f63
* Version Independent ID: 06e72212-a052-a351-0e0b-1b

[2019-10-13 10:57] robinwilson16 commented on #14526
Thanks, just came across this issue.
Have updated the instructions I put together here so adding link as a reference:
aspnet/AspNetCore.Docs#14817

[2019-10-13 12:59] ardalis commented on #15146
It should go, thanks!

[2019-10-13 14:57] NextTurn opened #15151 "Docs about <EnableDynamicLoading>"
dotnet/samples#1064

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb4428fc-215c-78e1-5ff0-fe73f7a08260
* Version Independent ID: 6741b1de-38a4-fbb1-d79d-acc47d549a2d
* Content: [Additions to the csproj format for .NET Core - .NET Core CLI](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#feedback)
* Content S

[2019-10-13 15:07] NextTurn opened #15152 "Library publish behaviors"
Similar to #14859

`--self-contained` is default to `false` for library projects even if a runtime identifier is specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211afdc7-c796-202d-239d-823f2a499dff
* Version Independent ID: 9439897e-dcb3-bc2e-5cae-35c1ca2e0681
* Content: [dotnet publish command - .NET Core CL

[2019-10-13 15:51] svick commented on #15137
Not really, since an index or a range can be from the end and those can't be efficiently supported for a general `IEnumerable<T>` or `IAsyncEnumerable<T>`.

Though if you want, you can write something like that yourself, e.g.:

[code]

And then use it like this:

[code]

You could also write a similar extension method for `IAsyncEnumerable<T>`, to make that easier, you could use [System.Linq.Async

[2019-10-13 16:17] Gnbrkm41 opened #15153 "Allow the built documents from CI to be accessible in some way"
It seems that I cannot build the docs/dotnet-api-docs repo locally because of internal repos that the build process depend on. This is annoying because I cannot verify the changes I've made before the PR is merged; it would be great if the document pages built from the CI can be made visible to us, so that we can make additional change for completeness before the PR is merged.

From what I can see

[2019-10-13 17:04] svick commented on #15153
This is a duplicate of https://github.com/MicrosoftDocs/feedback/issues/533, where the resolution was:

Though it's not clear to me when can we expect anything to happen in this area.

[2019-10-13 18:33] Countryen commented on #15137
Thanks @svick, I didn't register that yet the indices/ranges not work on IEnumerable<T>.
Thanks also for the suggested Extension.

[2019-10-13 18:33] #15137 closed

[2019-10-13 19:43] Herohtar commented on #13200
@BillWagner .NET Core 3.0 has shipped...

[2019-10-13 21:18] cezarypiatek opened #15156 "Cannot load plugins with external dependencies in plugin interface"
I'm having trouble with loading plugin that contains an external dependency in the plugin interface. Let's say that PluginBase project depends on System.Collections.Immutable package and my plugin interface looks as follows:

[code]
When I try to load my plugin type I'm getting the following exeception:

[code]

Here is a repository with a solution that reproduces that problem https://github.com/c

[2019-10-13 23:26] Revisory opened #15157 "Lists of other types clarification issue"
The information about "fibonacciNumbers.Count - 1" and the following line "fibonacciNumbers.Count - 2" is very unclear and has left me very confused.  It isn't made clear exactly what the - 1 / - 2 is meant to do.  If you were to add a 3rd number to the array it runs the 3rd number as 1 and the 2nd number as 2.

For example:
var fibonacciNumbers = new List<int> {1, 4, 5};
var previous = fibonacciN

[2019-10-13 23:33] Revisory opened #15158 "Lists of other types clarification issue"
The information about "fibonacciNumbers.Count - 1" and the following line "fibonacciNumbers.Count - 2" is very unclear and has left me very confused. It isn't made clear exactly what the - 1 / - 2 is meant to do. If you were to add a 3rd number to the array it runs the 3rd number as 1 and the 2nd number as 2.

For example:
var fibonacciNumbers = new List {1, 4, 5};
var previous = fibonacciNumbers[

[2019-10-13 23:34] #15157 closed

[2019-10-14 00:47] Daniel15 opened #15159 "Duplicate content"
The content of this page seems to overlap with the contents of https://docs.microsoft.com/en-us/dotnet/csharp/event-pattern. Seems like these should be unified into a single page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e8321f-5516-e451-5429-750d49f0ebed
* Version Independent ID: 1fd093e9-f47c-ffdd-91e9-5039c3

[2019-10-14 01:16] BillWagner commented on #10296
closing in deference of dotnet/try#167

[2019-10-14 01:16] #10296 closed

[2019-10-14 01:20] BillWagner commented on #10437
`private protected` has been added some time ago.

closing this.

[2019-10-14 01:20] #10437 closed

[2019-10-14 01:20] BillWagner commented on #10477
closing as this syntax is now legal.

[2019-10-14 01:20] #10477 closed

[2019-10-14 03:54] #15146 closed

[2019-10-14 04:35] mairaw opened #15160 "Figure 4-11 and 4-12 are small compared to others"
Can they be made the same size as others? For example, Figure 4-13.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1af44678-d848-00e7-6aed-ff3319f60395
* Version Independent ID: 1a4f5af6-0ce0-7946-6482-a3d15927a8b2
* Content: [Orchestrating microservices and multi-container applications for high scalability and availab

[2019-10-14 04:47] mairaw opened #15161 "Last image contains text that would be better outside an image"
Given the last image is a table with a lot of text, it would be better if it was not in an image for two reasons:
- localization
- accessibility

It would probably render better on docs if it was a three column table where AKS and Service Fabric are the table header.

Also, the acronym OSS is not defined in the text and OSS shouldn't be used as an abbreviation for open-source software according to

[2019-10-14 11:58] tulikavijay commented on #15159
Hi, i would like to work on this. Can you guide me with the task?

[2019-10-14 12:23] tulikavijay commented on #15130
I would like to fix this.

[2019-10-14 12:24] nishanil commented on #15055
Kubernetes has become the de-facto orchestrator for building microservices in a cloud-agnostic way. Hence our guidances are focussed on Azure Kubernetes Service (AKS). However, Service Fabric is a proven platform and has been used internally by some of the largest services on Azure. You may choose Service Fabric over Kubernetes if your scenario fits their offering(for e.g. stateful services). I fo

[2019-10-14 12:35] embok345 opened #15166 "Implicitly-typed Arrays in Object Initializers"
The section Implicitly-typed Arrays in Object Initializers states (emphasis mine)

But is this correct? Indeed, in the given example, we can explicitly type the inner array as
[code]
On the other hand, the (admittedly rather contrived) example below gives a CS0826 compiler error, No best type found for implicitly typed array, so that the inner array must be explicitly typed, as double[] say (or ca

[2019-10-14 12:43] tombogle commented on #14282
I believe you meant: "By having a deconstruction..."

[2019-10-14 14:46] cartermp commented on #14946
@gshields Which example are you referring to? `PigLatin.toPigLatin` is required when the function is in a class library.

[2019-10-14 15:50] tdykstra commented on #14445
@vintzl The linked ASP.NET Core issue mentions this [custom converter example](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/tests/Serialization/CustomConverterTests.Polymorphic.cs) and suggests it does what you want.  Is it helpful?

[2019-10-14 18:40] CeciAc opened #15168 "Broken URL (404) for "Tiny YOLOv2 pre-trained model""
@Countryen commented on [Fri Oct 11 2019](https://github.com/dotnet/docs.de-de/issues/154)

Link to Pre-requisite "Tiny YOLOv2 pre-trained model" is not valid (404).
https://github.com/onnx/models/tree/master/tiny_yolov2

[AB#1608693](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1608693)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist

[2019-10-14 18:42] CeciAc commented on #15168
Hi team,
the user reports this link leads to a 404 page, which is also repros in the en-us page
![imagen](https://user-images.githubusercontent.com/26746247/66774909-29311400-ee99-11e9-96bd-7e94385d11a3.png)

[2019-10-14 18:49] mairaw commented on #15141
@JasonCard can you please take a look at this feedback for the ASP.NET Core localized docs? Is there a way to ensure that Blazor never gets translated in those docs since it's the product name?

/cc @guardrex @Rick-Anderson @scottaddie

[2019-10-14 18:52] Rick-Anderson commented on #15141
There must be a list of words not to translate, for the repo, org wide ?

[2019-10-14 18:53] Rick-Anderson commented on #15141
@vintzl  Ce sont des commentaires très précieux. Merci d'avoir pris le temps de créer un problème.

[2019-10-14 18:56] #15168 closed

[2019-10-14 18:58] luisquintanilla commented on #15168
Hi @Countryen and @CeciAc ,

Thank you for reporting this. The links have been updated and changes should be reflected sometime later today or tomorrow.

[2019-10-14 19:05] JasonCard commented on #15141
@mairaw Yes, we can follow up on this issue, so the product name "Blazor" won't get translated.
@DavidPrio could you please help to follow up on this loc issue reported in en-us repo?
cc @Rick-Anderson

[2019-10-14 19:11] pkulikov commented on #15023
@Tbhesswebber the first sentence you've quoted is the item of the list, which is preceded with the following sentence:

So, the same precedence is from the context of the list.

[2019-10-14 20:22] jhudsoncedaron commented on #4675
@mconnew : Don't use MD5 certs. They've been broken. By this point, those must be self-signed certs. Upgrade your certs.

[2019-10-14 20:24] mairaw opened #15173 "Broken link"
The link to Outbox pattern is broken. @mvelosop can you help figure out where it should go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ab515b-a39a-983d-2a09-13ca5ccf5125
* Version Independent ID: 82f66a0e-6ad3-c419-36cb-ecc985b9b192
* Content: [Asynchronous message-based communication](https://docs.microsoft.com/

[2019-10-14 20:26] #12418 closed

[2019-10-14 20:26] #12488 closed

[2019-10-14 20:32] #11874 closed

[2019-10-14 20:38] mairaw commented on #14946
Added the needs-more-info label. The label gets automatically removed when the issue opener responds or closes the issue in two weeks if we don't get an answer.

[2019-10-14 21:05] shirhatti opened #15175 "gRPC book review"
I'm filing this issue to make an list of changes to the gRPC book, I'd like to see before we can remove the preview moniker:

I expect this list wouldn't be exhaustive and we may publish revisions/errata in the future.

I'm incorporating feedback from https://github.com/dotnet-architecture/eBooks/issues/4 in my issue as issues I'd like to see addressed before we publish

- [x] gRPC is based on Stu

[2019-10-14 21:07] #15130 closed

[2019-10-14 21:25] Thraka commented on #15153
Closing as duplicate.

[2019-10-14 21:25] Thraka commented on #15153
Duplicate of MicrosoftDocs/feedback#533

[2019-10-14 21:25] #15153 closed

[2019-10-14 21:26] BillWagner commented on #15166
Great comment @embok345

This article doesn't define (or link to) implicitly typed variables. The point in this paragraph is that the following would be invalid:

[code]

As you pointed out, the array initializer (on the right-hand-side of the assignment) can specify the type of the array.

[2019-10-14 21:27] Thraka commented on #15153
@Gnbrkm41 The docs authoring pack doesn't really do anything for the API docs 😦 We really appreciate any help you do in the API space. Thank you for your help.

[2019-10-14 21:32] BillWagner commented on #15158
Thanks for raising this issue @Revisory

Yes, we need to update this with a better explanation of the bounds for an array or a list. We didn't review this with the beginner audience in mind well enough.

[2019-10-14 21:36] BillWagner commented on #15159
Thanks for writing this @Daniel15 Yes, there is too much duplication here.

Based on the potential organization for this, the correct target would be https://docs.microsoft.com/en-us/dotnet/csharp/event-pattern

@tulikavijay You can submit a PR for this, if you'd like.

There are two additional tasks to make sure we do while merging this.

The first is to redirect the article being removed. That's

[2019-10-14 21:36] tdykstra commented on #8399
@YvonneArnoldus Apologies for late response to this -- do you still need this information or has it already found the answer somewhere else?

[2019-10-14 21:39] tdykstra commented on #8383
@FabrizioCicala Apologies for late response to this -- do you still need this information or have you already found the answer somewhere else?

[2019-10-14 21:45] Revisory commented on #15158
My pleasure @BillWagner.

I apologize if this isn't the place, but is there anyway you could point me to a resource or give me a small explanation as to what's happening there?  If not I understand.  I just wanted to understand that before I gave the challenge a real try.

If not, thank you again and I'll be sure to keep an eye for when it's updated

[2019-10-14 21:47] mairaw commented on #15156
Thanks for your feedback @cezarypiatek. @jkoritzinsky is this something you can help with?

[2019-10-14 21:47] daveyostcom opened #15176 "examples"
the bullet points after "Nullable reference types cannot occur in the following positions:" should each have a very brief example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b5a98c-2cef-304c-1bbe-0ec466e21e0c
* Version Independent ID: bf6a616b-aa55-1679-67c2-e0a36d470dbc
* Content: [Nullable reference types - spe

[2019-10-14 21:48] mairaw commented on #15152
Thanks @NextTurn. I'll look into this as I'm making the updates needed for 3.0 on this page. Adding to the backlog for now.

[2019-10-14 21:50] mairaw commented on #15151
Thanks @NextTurn. We have a plan to document the entire set of properties for .NET Core, so I'm closing this as duplicate of #2642.

[2019-10-14 21:50] Thraka commented on #15136
We haven't written a tutorial on it yet, but .NET Core can use the NuGet package [System.Reflection.MetadataLoadContext](https://www.nuget.org/packages/System.Reflection.MetadataLoadContext/) for this kind of work.

[2019-10-14 21:51] mairaw commented on #15143
Thanks for your feedback @mungojam. @richlander is this something you can help with?

[2019-10-14 21:52] Thraka commented on #15136
I'm going to closet his as a duplicate. I'm adding information about how MetadataLoadContext needs to be covered for the reflection-only type of loading in .NET Core. Thanks!

[2019-10-14 21:52] Thraka commented on #15136
Duplicate of #2729

[2019-10-14 21:52] #15136 closed

[2019-10-14 21:53] jkotalik commented on #15147
Assign @davidfowl as well.

[2019-10-14 21:54] tdykstra commented on #8408
@hansmichielscom Thanks for the suggestion, but we don’t have the resources to implement it, so we are closing the issue. If we get more 👍 responses to the issue, we’ll reconsider.

[2019-10-14 21:54] #8408 closed

[2019-10-14 21:56] Thraka commented on #15133
Pinging @KathleenDollard in email too.

[2019-10-14 21:59] mairaw commented on #15147
Done.

[2019-10-14 22:07] gafter commented on #11067
That PR is merged now.

[2019-10-14 22:08] mairaw commented on #11067
I'll close this one and rebuild our content to pull in the latest.

[2019-10-14 22:08] #11067 closed

[2019-10-14 22:13] tdykstra commented on #8464
@BrunoJuchli Thanks for the suggestions. The article's intention is to illustrate some general principles and it doesn't go into the level of detail you're proposing. We're closing the issue for now, but if you'd like to submit a pull request that addresses these issues while still clearly presenting the same general guidelines, you're welcome to reopen the issue.

[2019-10-14 22:13] #8464 closed

[2019-10-14 22:18] tdykstra commented on #8472
@Jamesnk Is this a topic we should cover in the OS library guidance doc?

[2019-10-14 22:22] JamesNK commented on #8472
Sure. It and NuGet package signing

[2019-10-14 22:33] tdykstra commented on #11978
@Anipik Can you answer this question?

[2019-10-14 23:40] NextTurn commented on #15151
A P0 issue with two years of history :smile: Any ETA?

[2019-10-14 23:47] mairaw commented on #15151
I know 😢 It's the highest priority backlog item that we have but we're also behind our 3.0 deliverables. Still no ETA.

[2019-10-14 23:54] Philbo01 opened #15178 ""Banker's Rounding" is not a thing and introduces errors."
"Fractional Parts. When you convert a nonintegral value to an integral type, the integer conversion functions (CByte, CInt, CLng, CSByte, CShort, CUInt, CULng, and CUShort) remove the fractional part and round the value to the closest integer.

If the fractional part is exactly 0.5, the integer conversion functions round it to the nearest even integer. For example, 0.5 rounds to 0, and 1.5 and 2.5

[2019-10-15 00:15] ajaypathak opened #15179 "AddHttpClient Example, Semi Colon is missing"
For following code
services.AddHttpClient<ICatalogService, CatalogService>(client =>
{
    client.BaseAddress = new Uri(Configuration["BaseUrl"])
})
    .AddPolicyHandler(GetRetryPolicy())
    .AddPolicyHandler(GetCircuitBreakerPolicy());

the semicolon is missing, I think the code should be

services.AddHttpClient<ICatalogService, CatalogService>(client =>
            {
                client.Bas

[2019-10-15 00:31] mairaw commented on #15178
Have you looked into the different options you have with Math.Round?
https://docs.microsoft.com/en-us/dotnet/api/system.math.round#remarks

But I'll close this issue since the content is correct. You can also find the explanation on why .NET uses this convention at https://stackoverflow.com/questions/311696/why-does-net-use-bankers-rounding-as-default/6562018#6562018.

[2019-10-15 00:31] #15178 closed

[2019-10-15 00:39] BillWagner commented on #15023
Thanks for bringing this to our attention @Tbhesswebber

As @pkulikov comments, the doc is correct as written. The sentence you quote is in a list specifying equal precedence.

That said, if you want to create a PR with wording you think makes it more clear, I'll watch for it.

[2019-10-15 00:39] #15023 closed

[2019-10-15 00:45] alindgren commented on #15055
@nishanil - Thanks for the response. The post you linked to is very informative. I've been working with Service Fabric for about a month and really like it. To me (a .NET developer) it seems easy to use and very powerful. For this reason, I think it should be presented as an option for building microservices on Azure.

[2019-10-15 00:58] mairaw opened #15181 "Accessibility problems with the last image"
I see two accessibility issues with the last image:

- The image contains useful information that screen readers won't be able to read. Wouldn't be possible to convey the same information with a table instead?
- The image conveys information with color alone (https://docs.microsoft.com/en-us/style-guide/accessibility/colors-patterns-text-graphics-design). Usually you need to use a different patter

[2019-10-15 00:59] mairaw commented on #15055
I was going to follow up with a question on whether this should be added to the docs or not, but it seems someone already suggested that on issue #11362.

[2019-10-15 01:06] mairaw commented on #15179
Thanks for your feedback @ajaypathak! Can you let us know where did you see this problem?

[2019-10-15 01:17] mairaw commented on #15179
I think I found it: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#how-to-use-typed-clients-with-httpclientfactory

Please confirm.

[2019-10-15 01:23] BillWagner commented on #11285
To answer the question posed,
`d.a()` returns `2`; it calls the `C.a()` method.

[2019-10-15 02:06] BillWagner commented on #12205
closing after transferring to MicrosoftDocs/feedback#2033

[2019-10-15 02:06] #12205 closed

[2019-10-15 02:11] BillWagner commented on #12224
@nemrism I apologize for the late response. I missed this comment.

The main sample should be updated to recommend a version newer than framework 4.6. The 4.6 instructions should be included.

And yes, I'll watch for a PR if you want to submit one.

[2019-10-15 02:22] nemrism commented on #12224
Your lucky I still got somewhere in my phone a set of open webpages to handle this.
I'll try to work on this in the coming days and let you know.

[2019-10-15 02:24] BillWagner commented on #12224
We're lucky to have great community contributors. Thank you.

[2019-10-15 02:28] nemrism commented on #12224
Would you believe me if I told you that participating to msdocs on Github made me reconsider this part of my day-to-day job?

[2019-10-15 02:39] BillWagner commented on #12487
Closing as this is not a primary scenario.

we may revisit in the future.

[2019-10-15 02:39] #12487 closed

[2019-10-15 02:51] BillWagner commented on #12574
The only generic term I've heard is "parameter array". The term "params" has been used in most C based languages for this type of parameter.

I'd suggest that the fix is to add "parameter array" to the title or H1 on this article.

Adding the "up for grabs" label.

[2019-10-15 05:29] yvonne-arnoldus commented on #8399
@tdykstra,

I have not found the answer and would like to know.

[2019-10-15 05:59] mairaw commented on #8399
@buyaa-n, @krwq can you help with this question about which XML schema version is used by .NET? I believe it's 1.0 but not sure.

[2019-10-15 06:00] mairaw commented on #15074
Ok. Adding as P2 to our backlog.

[2019-10-15 12:18] vborovikov opened #15189 "No info about args"
The article doesn't contain information about args argument. What is its contents, what is the first item in the array?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6280abc4-899a-187d-1de4-1ea629ac5419
* Version Independent ID: 24dbcd84-98c0-421e-d586-5d081ce2ec34
* Content: [Main() and command-line arguments - C# Pr

[2019-10-15 12:28] #9619 closed

[2019-10-15 12:48] MatthewT123 opened #15190 "Update for => operator"
I suggest this page could be improved by updating the syntax to use the new =&gt; option for property method bodies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a60f9-0bd8-b432-653a-069c477a93fe
* Version Independent ID: dbc29edd-b142-f2d7-4824-dec9951f32c7
* Content: [Using Properties - C# Programming Guide](htt

[2019-10-15 14:46] germrfy commented on #12486
I see the motivation for doing this, although I wouldn't have described the previous behavior as confusing.

I do not agree with how this has been implemented, especially if the publish has been run on a solution file rather than a csproj.

Currently if we run this on a solution file everything gets dumped into a single output directory, which to me is not desired behavior.

Are there any plans to

[2019-10-15 14:56] BillWagner commented on #15190
Thanks for creating this @MatthewT123 We agree that using the modern syntax wherever possible is preferred.

I've added this to our C# update project, and added the "up for grabs" label if others are interested.

[2019-10-15 15:17] dasMulli commented on #12486
My wish is that running publish on a solution should return an error. there are multiple issues that make it hard to get a consistently working output for publish in a solution, especially if there are library projects in there as well. I recommend only calling publish on specific projects you actually want to publish to avoid issues.

[2019-10-15 15:44] CeciAc commented on #15141
Hello, @vintzl

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-10-15 17:08] buyaa-n commented on #8399
Yes we support 1.0 https://www.w3.org/TR/xmlschema-1/

[2019-10-15 17:11] #8399 closed

[2019-10-15 17:11] mairaw commented on #8399
Thanks for confirming @buyaa-n.

[2019-10-15 21:01] Thraka commented on #15057
Ahh ok.

[2019-10-15 21:05] tdykstra commented on #12037
@kouvel can you answer these questions?

[2019-10-15 21:19] tdykstra commented on #12117
@BillWagner Can you determine what needs to be changed in the doc?

[2019-10-15 21:33] kouvel commented on #12037
No, I think the former doc means to say "as a combined operation" rather than "as an atomic operation".

No, if there are threads already waiting on the wait handle then the signal would typically release one or more different threads, then the wait would wait or accept the signal depending on the type of wait handle.

Maybe, depends on the implementation, but not guaranteed. You can see roughly w

[2019-10-15 21:54] mconnew commented on #4675
@jhudsoncedaron, at no point did I suggest or advocate using MD5 certs. I answered the question accurately.

[2019-10-15 22:28] #666 closed

[2019-10-16 02:11] Xirui opened #15209 "Support for .Net Core 3.0?"
When are we expected to see the cli tool supporting .Net Core 3.0? Thanks.

[AB#1608693](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1608693)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4200d7af-ea16-7b93-5263-6a1ce41ecb3b
* Version Independent ID: e1697ee4-9d3a-e1cc-b678-cab88f1

[2019-10-16 02:40] #14525 closed

[2019-10-16 02:40] #14708 closed

[2019-10-16 02:40] #14884 closed

[2019-10-16 02:40] #14958 closed

[2019-10-16 02:40] #14828 closed

[2019-10-16 02:40] #14832 closed

[2019-10-16 02:40] #14834 closed

[2019-10-16 02:40] #14845 closed

[2019-10-16 02:40] #14847 closed

[2019-10-16 02:40] #14905 closed

[2019-10-16 02:40] #14906 closed

[2019-10-16 02:40] #14881 closed

[2019-10-16 02:40] #14882 closed

[2019-10-16 02:40] #14928 closed

[2019-10-16 02:40] #14929 closed

[2019-10-16 02:40] #14941 closed

[2019-10-16 02:40] #14942 closed

[2019-10-16 02:40] #14943 closed

[2019-10-16 02:40] #14960 closed

[2019-10-16 02:40] #14716 closed

[2019-10-16 02:40] #14753 closed

[2019-10-16 02:40] #14762 closed

[2019-10-16 02:40] #14897 closed

[2019-10-16 02:40] #14898 closed

[2019-10-16 02:40] #14900 closed

[2019-10-16 02:40] #14901 closed

[2019-10-16 02:40] #14835 closed

[2019-10-16 02:40] #14925 closed

[2019-10-16 02:40] #14926 closed

[2019-10-16 09:40] mvelosop commented on #15173
Hi @mairaw, updated, used an equivalent link to a recent blog post.

[2019-10-16 10:40] mungojam opened #15214 "Clarify if Microsoft Fakes package is still supported in .net core"
Previously Microsoft Fakes was introduced with things like `ShimContext` that could be used to override `DateTime.Now`. I can't find any reference to how to use this with .net core or if it is still possible but web searches bring back lots of old pages:

https://docs.microsoft.com/en-us/visualstudio/test/isolating-code-under-test-with-microsoft-fakes?view=vs-2019

---
#### Document Details

⚠ *Do

[2019-10-16 13:00] Thraka commented on #15214
Hello. I'm going to close this issue as I found this logged in the Visual Studio feedback area. https://developercommunity.visualstudio.com/idea/351467/support-microsoft-fakes-on-net-core.html

Please log your vote there and let them know how the lack of this feature impacts you. 👍

[2019-10-16 13:00] #15214 closed

[2019-10-16 13:01] revolz opened #15215 "Dataset Download"
Please provide download link for cars.csv and other datasets to make it easy for developer to follow through the sample code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d546f09c-1e0f-b036-5c93-b0640934bcdd
* Version Independent ID: dcce0234-fb4b-9622-a930-80518e6f50a3
* Content: [The auto-train command in the ML.NET

[2019-10-16 13:09] Thraka opened #15216 "Updates to github label automation tool"
The labeler automation tool needs to be updated to support more features for our workflow.

- Work with PRs
- Automatically set the milestone for a PR to the current month
- Avoid labeling PRs that don't point to the master branch
- Allow PR authors to flag the PR with a comment that adds the **changes-addressed** label
- More robust decision making system

[2019-10-16 13:11] Thraka commented on #15216
This work was completed in about 1.5 weeks. V3 of the tool removed all V1 and V2 code.

- I upgraded each config file on repositories using the tool to the new schema.
- Added a condition system that allows us to easily configure a JMES query to run across the github payload data to decide if we want to continue processing the issue/PR
- Now works with PRs and Comment payloads. (must be enabled in

[2019-10-16 13:12] #15216 closed

[2019-10-16 13:33] Thraka commented on #12184
@bit7 This info was recently published and may have something useful for you: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/understanding-assemblyloadcontext

[2019-10-16 15:06] KristofferBerge opened #15218 "Exclude multiple namespaces"
I'm having trouble excluding more than one namespace.
`--filter "FullyQualifiedName!~IntegrationTests"` successfully excludes all tests in the namespace IntegrationTests.
`--filter "FullyQualifiedName!~UITests|IntegrationTests"` successfully excludes all tests in the namespace UITests, but now the IntegrationTests are run.
`--filter "FullyQualifiedName!~UITests|FullyQualifiedName!~IntegrationTests

[2019-10-16 15:13] gceaser opened #15219 "Rewrite example using Task-based Asynchronous Pattern"
Can this be re-written the same way the Client code we re-written to use the Task based Asynchronous Pattern?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ecd86-1347-1820-06ed-01f3f6ae1f9f
* Version Independent ID: d60a9356-c3c6-e886-0aa8-96cc8878ccbb
* Content: [Asynchronous Server Socket Example](https://docs.mi

[2019-10-16 17:37] mairaw commented on #2687
Closing project issues.

[2019-10-16 17:37] #2687 closed

[2019-10-16 17:46] #14894 closed

[2019-10-16 18:09] Thraka commented on #14249
This content is (with permission) from that book.

[2019-10-16 18:09] #14249 closed

[2019-10-16 18:10] Thraka commented on #14223
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-10-16 18:20] Thraka commented on #14172
Thank you for opening this issue. It does seem odd...

I'll add it to the backlog.

Thanks again!

[2019-10-16 18:23] Thraka commented on #14165
Hello!

I found this reported at https://github.com/NuGet/Home/issues/8589

I'm going to close this issue here. Thanks!

[2019-10-16 18:23] #14165 closed

[2019-10-16 18:23] Thraka commented on #14165
Duplicate of NuGet/Home#8589

[2019-10-16 18:26] Thraka commented on #14152
Thank you for opening this issue. I'll add it to the backlog. You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

Thanks again!

[2019-10-16 18:31] mairaw commented on #7668
I can repro this. @KathleenDollard who could we follow up on this?

[2019-10-16 18:35] mairaw commented on #9690
@KathleenDollard should we add docs for this?

[2019-10-16 18:38] Thraka commented on #14142
@jpreese I'm going to classify this as a doc-enhancement issue. Can you assign it a priority and add the milestone (backlog doesn't work, use the `backlog` label instead)?

[2019-10-16 19:00] Thraka commented on #15219
Thank you for opening this issue. I'll add it to the backlog. Thanks again!

@BillWagner Would this be a good candidate for the async github project?

[2019-10-16 19:01] BillWagner commented on #15219
Good idea @Thraka  Added to the project.

[2019-10-16 19:09] mairaw commented on #15218
@dsplaisted @KathleenDollard who could help with a question about dotnet test? We can enhance the docs with the requested example.

[2019-10-16 19:10] Thraka commented on #15218
@KristofferBerge Have you tried

`--filter "(FullyQualifiedName!~UITests)|(FullyQualifiedName!~IntegrationTests)"`

[2019-10-16 19:18] lucasnobredev opened #15222 "Inconsistent switch usage for compiler options on links to those articles"
In "See also" section, there are two links with / in the name. I believe this is not correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16419eb7-66b4-751f-192a-a1f399942579
* Version Independent ID: 1364a74b-43ac-c3a7-4021-80e70cdd43db
* Content: [Walkthrough: Embed types from managed assemblies in Visual Studio](

[2019-10-16 19:22] mairaw commented on #15222
Hi @lucasnobredev! Yeah, it seems we renamed the title to use - but not the incoming links. Do you want to submit a PR to fix that?

It's not incorrect, but we settled on using - throughout our docs.

[2019-10-16 19:24] mairaw commented on #15222
This is the original PR for this work: https://github.com/dotnet/docs/pull/4138

[2019-10-16 19:29] lucasnobredev commented on #15222
Ok, @mairaw ! I found another one in [How to: Create signed friend assemblies
](https://docs.microsoft.com/en-us/dotnet/standard/assembly/create-signed-friend). I'll try to find others to open a complete PR.

Do you prefer to continue this subject in this issue or re-open #4072?

[2019-10-16 19:34] mairaw commented on #2684
@terrajobst what do you think? Should we remove the PCL compatibility from that topic now?

[2019-10-16 19:35] mairaw commented on #2684
@tdykstra do you remember what you meant by Apply current guidance for terminology use? I think this is no longer needed.

[2019-10-16 19:42] mairaw commented on #15222
You'll probably find more by doing a search and replace on VS Code (or some other tool). Let's keep this work on this PR. I'll rename it.

[2019-10-16 19:53] #15173 closed

[2019-10-16 20:08] #14526 closed

[2019-10-16 20:14] KristofferBerge commented on #15218
@thraka Yes, this did not work either. It only checks the first of the two. I can only find examples where the "and" and "or" separator is used between two different properties like `FullyQualifiedName` and `TestCategory`, but no examples where it is used between the same property on each side. Is this a limitation?

[2019-10-16 20:26] tdykstra commented on #12221
@daveyostcom The best way to understand .NET Standard may be to follow a tutorial about how to create and use a .NET Standard class library -- I've added a link in the doc to https://docs.microsoft.com/en-us/dotnet/core/tutorials/library-with-visual-studio

[2019-10-16 20:41] mairaw commented on #1809
We're trimming the backlog and I'll be closing this issue since it's not a content issue. There are no plans to move the loc repos out of the dotnet org for now. But happy to bring this up with the loc and engineering team again if we have enough votes/feedback to consider this.

/cc @JasonCard

[2019-10-16 20:41] #1809 closed

[2019-10-16 20:41] #12318 closed

[2019-10-16 20:50] tdykstra commented on #12319
@DSivtsov Thanks for reporting this error.  We'll put it on our backlog and get it fixed when it fits into our schedule.

[2019-10-16 21:00] tdykstra commented on #12481
@masterofimages Thanks for reporting this. We'll fix it the next time we update this article. If you'd like, you're welcome to submit a pull request to fix it as well.

[2019-10-16 21:04] JasonCard commented on #1809
@mairaw Thank you for cc'ing me on this. I had not heard there was this request, but I see it was opened over 2.5 years ago, so hopefully this is no longer a concern. We would like to avoid having to move all the loc repos to different org if not necessary.

[2019-10-16 21:05] tdykstra commented on #12501
@AaronRobinsonMSFT, @jkoritzinsky Can you answer this question about System.Runtime.InteropServices.SafeHandle support on Linux?

[2019-10-16 21:09] tdykstra commented on #12519
@BillWagner Are you the right person to ask about this?

[2019-10-16 21:15] tdykstra commented on #12560
@aaronhudon-ts Thanks for the question. The reason it's more appropriate is explained in text that appears after the sample code:

[2019-10-16 21:15] #12560 closed

[2019-10-16 21:22] tdykstra commented on #13256
@sometowngeek Thanks for the suggestion.  We'll look into adding examples the next time we're updating this article.

[2019-10-16 21:29] mvelosop commented on #6131
Hi @johnabbott72, @amirxnz,

I created a very simple console app running the generic host with logging to trace the shutdown process in this repo: https://github.com/mvelosop/explore-hosted-services

The README in the repo should get you going.

You can explore shutting down the app from Windows and Docker.

In the sample I'm registering the services with:

[code]

But `services.AddHostedService<W

[2019-10-16 21:37] tdykstra commented on #12815
@Mike-EEE Apologies for late response to this.  Do you still need the successive tasks example or did you find it somewhere else?

[2019-10-16 21:37] BillWagner commented on #12519
Thanks for the ping @tdykstra I can help.

The bug description isn't quite correct. It's true that `WebClient.CancelAsync()` cancels the download. It also invokes the `DownloadStringCompleted` handler, so that will mean that the `tcs.Task` does finish.

What's missing is that the handler doesn't check its event arguments to see if it was cancelled or completed. (There's a comment to that effect, b

[2019-10-16 22:18] Speedplay opened #15226 "Unit Of Work & Repository Pattern"
How come the those pattern are so differently used in this example?
In my understanding, the Unit Of Work should contains the repositories.
In this example the Repository is using the Unit Of Work.
I'm a bit confused.

https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-ef-5-using-mvc-4/implementing-the-repository-and-unit-of-work-patterns-in-an-asp-net-mvc-app

[2019-10-16 22:20] AaronRobinsonMSFT commented on #12501
@garfbradaz I can't think of any reason that the abstract `SafeHandle` class can't be used in a cross platform manner. There could be issues with some of the existing sub-classes, but those wouldn't even exist on linux if there were issues.

[2019-10-16 22:34] #6131 closed

[2019-10-16 22:35] marchy commented on #5385
@JRAlexander what's the update on multi-label classification?

It's been over a year now since the 'on the way soon' comment. Only examples are multi-class algorithms which produce only a single label.

We much need a solution for this – including scoring that accounts for the multi-label aspect of things (ie: whether the algorithm correctly labelled with the right number of tags)

[2019-10-16 22:36] mairaw commented on #1809
Yes, this discussion happened before you joined the team @JasonCard.

[2019-10-16 22:54] tdykstra commented on #12501
@garfbradaz  We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-16 22:54] #12501 closed

[2019-10-16 22:55] #12221 closed

[2019-10-16 23:00] natke commented on #5385
Hi @marchy, ML.NET currently does not have native support for multi-label classification. You could raise an issue over on the product GitHub repo if you like - it's also open source: https://github.com/dotnet/machinelearning.

Your other option would be to use a pre-trained TensorFlow or ONNX model that already provided this functionality. You can see an example of how to load a pre-trained model

[2019-10-16 23:09] amirxnz commented on #6131
@mvelosop thank you for your help,
So i have been working on this for the last couple of days, and now I'm actually thinking the problem may be caused by the visual studio docker run command?

Did you do anything to adjust how that command is run?

Thanks!

[2019-10-17 00:42] daveyostcom commented on #12221
A tutorial is a great thing to have, but it doesn't clearly explain why to use standard as opposed to core.

[2019-10-17 01:09] mairaw commented on #12221
I think the answer to this is in the beginning of the article:
![image](https://user-images.githubusercontent.com/12971179/66969758-c0d06700-f03f-11e9-9073-038e32fdb793.png)

If you don't care about portability or cross-targeting, you should fine targeting .NET Core.

I'll add a second link to that topic that should help as well:
https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cr

[2019-10-17 07:20] Maoni0 commented on #15100
"not letting an application's working set get too big" means not delaying GC by too much, so don't do too few GCs.
"not letting the garbage collection take too much time" means not doing GCs too often, so don't do too many GCs.
if you could explain what the confusion is it would help me understand why you wanted to change it.

[2019-10-17 07:47] mairaw opened #15237 "Acquisition experiences for .NET Core"
Created based on PR #14425 from @jamshedd

https://review.docs.microsoft.com/en-us/dotnet/core/deploying/acquisition-experiences?branch=pr-en-us-14425

@Thraka please check if this would fit the narrative you discussed with @richlander and @rowanmiller

As-is, I don't think it fits into what we were planning.

[2019-10-17 07:58] mairaw opened #15238 "Side by Side installs versus in-place updates for .NET Core"
From PR #14425 from @jamshedd

https://review.docs.microsoft.com/en-us/dotnet/core/deploying/deployment-experiences?branch=pr-en-us-14425#side-by-side-installs-versus-in-place-updates

Not sure where to put that info now. It seems it should go somewhere under https://docs.microsoft.com/en-us/dotnet/core/versions/.

/cc @KathleenDollard

[2019-10-17 08:14] mairaw commented on #13474
OK. The other option would be to have this under a new node in .NET Core as well about packaging your app and you can then share in other places.

[2019-10-17 08:15] mairaw opened #15239 "Package your .NET Core app"
Related to https://github.com/dotnet/docs/issues/13474

From PR #14425 from @jamshedd

We need a new section in the .NET Core guide that talks about Packaging your app for deployment

[2019-10-17 08:26] mairaw commented on #12237
This also impacts this article https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-patch-selection, no? /cc @nguerrera

Might need to file a separate issue to break down the work if so.

[2019-10-17 08:27] mairaw opened #15240 "Trimming your .NET Core app"
From PR #14425 from @jamshedd

https://review.docs.microsoft.com/en-us/dotnet/core/deploying/trimming?branch=pr-en-us-14425

[2019-10-17 08:29] mvelosop commented on #6131
Hi @amirxnz,

Nope, well, actually I did it all from the command line, there's too much "magic" for me when running from VS.

There's one important detail to keep in mind if you're looking at logs. You have to make sure that logs are flushed on app shutdown, otherwise you might be loosing some events.

That's what the `finally` here is for:

[code]

Hope this helps.

[2019-10-17 08:42] Mike-EEE commented on #12815
Hi @tdykstra it's not me specifically who needs it but anyone wanting to do it via utilizing your documentation, correct? :)

[2019-10-17 08:53] donatasj87 opened #15241 "Multiple switch cases?"
Is there any way to implement multiple switch statements?
Could not find any effective way to do it and the naturally looking code below does not seem to work:
[code]
But in the classic switch we could have done it like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94537c5-754e-9dea-94a8-7573011f588c
*

[2019-10-17 11:49] CeciAc commented on #15141
@mairaw @JasonCard @Rick-Anderson
We are working in this issue.
For a long term solution we suggest the term to be blocked in the source page to avoid its translation in the future.

@DavidPrio @Gonzalo-Salines

[2019-10-17 12:26] #15218 closed

[2019-10-17 13:28] #11522 closed

[2019-10-17 13:46] svick commented on #15241
There currently isn't a way to do this, though one is planned for C# 9.0 (https://github.com/dotnet/csharplang/issues/2850):

[code]

[2019-10-17 14:46] #7782 closed

[2019-10-17 15:08] #15241 closed

[2019-10-17 15:36] DeltonLee opened #15247 "Storing custom.config in %appdata%"
If I want to store my custom.config file in the %appdata% folder how do I reference it within an app.config file?  Using %appdata% or ${AppData} does not seem to work.  This is a widely used environmental variable, so there really should be a way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea24ffb0-1e4a-4c73-c566-1

[2019-10-17 15:40] mjrousos opened #15248 "Mention that PreBuiltEvent and PostBuildEvent shouldn't be used (since common macro properties don't work there)"
Docs about the new project file format should mention that macro properties like $(ProjectDir) [don't work](https://github.com/dotnet/sdk/issues/677#issuecomment-280164111) in PreBuildEvent and PostBuildEvent properties when using SDK-style projects. Instead, users should create new targets (using the 'exec' command) that run before or after the PreBuildEvent and PostBuildEvent targets.

Visual St

[2019-10-17 15:58] tdykstra commented on #12815
@Mike-EEE We have limited resources and we have to prioritize our efforts in part on the basis of how common a given scenario is. Yours is the only question like this we've seen on this article, so if you have found your answer we're less likely to prioritize adding an additional scenario to the doc unless others ask the same question. That said, if you have your answer and would like to submit a

[2019-10-17 16:04] #15179 closed

[2019-10-17 16:32] Mike-EEE commented on #12815
No one is using it because it's not known and documented?  Sounds like the crux of documentation to me, @tdykstra. 😆

[2019-10-17 17:53] Thraka commented on #15239
Wouldn't this just go under the Application Deployment section of the Core guide?

[2019-10-17 17:56] mairaw commented on #15239
I’m not firm on the TOC location yet. The next step would be for us to rethink the .NET Core TOC.

[2019-10-17 17:58] Thraka commented on #15239
Gotcha, and I agree.

I would assume though that this would stay with the other articles in that current section, yes?

[2019-10-17 18:11] Thraka commented on #15237
Not really. What we discussed was a rewrite of the prereqs articles to

1. Consolidate information
2. Have the latest information
3. Point to how SDK and Runtime are different
4. Link out to the relative download/install docs.

[2019-10-17 18:25] Rick-Anderson commented on #15141
@CeciAc  by blocked to you mean \`code fenced\`?

[2019-10-17 19:45] Thraka commented on #15214
@mungojam Gotcha!

You can always submit the fix yourself by editing the original article. Click on the **Content Source** link at the bottom of your original comment. To learn how to edit, see the [Editing files in a repository](https://help.github.com/articles/editing-files-in-your-repository) article from GitHub.

I'm unsure if it fits though. Suggesting that "X is not supported" when X isn't e

[2019-10-17 20:29] markrendle commented on #15175
I'll get all these fixed tomorrow.

[2019-10-17 20:50] mairaw commented on #15141
Either that or the new no-loc feature.

[2019-10-17 20:51] Thraka commented on #15247
@DeltonLee

Hello! The app.config file doesn't expand environment variables. The docs for `file` attribute point out the following:

So this value has to be a relative path and an explicit value (not expanded via environment variables).

I'm going to close this question. Thanks!

[2019-10-17 20:51] #15247 closed

[2019-10-17 20:52] CeciAc commented on #15141
@mairaw that's correct
https://review.docs.microsoft.com/en-us/help/contribute/markdown-reference?branch=master#non-localized-strings

[2019-10-17 20:58] Rick-Anderson commented on #15141
We should create a feature request to support a *.no-loc* file, like *.gitignore* that doesn't loc any of the words in the file.  `Blazor` is used thousands of times. We can't expect customers to know about this. Adding `Blazor` once to a *.no-loc* file file is an more elegant solution.

Alternative, add meta-data

[code]

The ignore file approach seems best.

[2019-10-17 21:00] Rick-Anderson commented on #15141
Looks like that's supported

[code]

[2019-10-17 21:07] Rick-Anderson commented on #15141
@CeciAc  once you approve https://github.com/aspnet/AspNetCore.Docs/pull/15171 we'll add that to all the Blazor docs via https://github.com/aspnet/AspNetCore.Docs/issues/15172

[2019-10-17 21:21] DavidPrio commented on #15141
Hi @Rick-Anderson @mairaw As long as all instances refer to "Product" named Blazor, this is not localizable. Linguistically speaking, there is no need to include the term in the localization HOs. If no technical issues, I believe you can go ahead with the change. However, I would like MS Loc PM @JasonCard to approve this. Thanks!
@SunnyDeng cc

[2019-10-17 21:32] mairaw commented on #15141
Not sure if I follow @DavidPrio. If it's not localizable, why is getting localized then?

[2019-10-17 21:33] #15126 closed

[2019-10-17 21:38] eddynaka commented on #15011
Hi @BillWagner , i was looking for the link that you sent before. I couldn't find anything else to change. Am I missing something? Thanks

[2019-10-17 21:45] eddynaka commented on #14103
@BillWagner , based on the sample, it looks alright. Is this a bug or not?

[2019-10-17 22:10] JasonCard commented on #15141
I think @DavidPrio meant to say that product name should not be localizable, and recommends the use of no-loc metadata as long as long as all instances of "Blazor" is product name.
@CeciAc The no-loc metadata syntax in [aspnet/AspNetCore.Docs#15171](https://github.com/aspnet/AspNetCore.Docs/pull/15171) looks correct, so please go ahead to approve. If it does not work for some reason, then we shoul

[2019-10-17 22:38] Thraka commented on #15237
However, I was going to put those basic small sections of vs, vscode, vsmac that show the option dialogs.

[2019-10-17 22:40] MaximillianC opened #15259 "Instructions for tracemode are incorrect, and do not match the example."
The documentation for Tracemode below the example is incorrect/contradictory.  First, the casing is wrong, as it's all lowercase.  Second, per the example (and my testing before I noticed the example contradicted the instructions, and tried that), tracemode is an attribute for &lt;source&gt;, not &lt;switches&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-17 22:57] Miggleness commented on #15100
@Maoni0 Your explanation makes it clear now.  My understanding were as follows.

"not letting an application's working set get too big" - I have the same understanding which is not to delay GC by too much

"not letting the garbage collection take too much time" - I took this as not letting a **single GC** run for too long, which would mean the same as above and not delay GC by too much.

[2019-10-17 23:35] #15141 closed

[2019-10-18 00:05] mairaw commented on #15237
@richlander also mentioned articles like setting up different environments like set up your dev machine, and so forth. I think some of these would fit into that.

[2019-10-18 00:49] BillWagner commented on #12809
This was fixed in #15188

[2019-10-18 00:49] #12809 closed

[2019-10-18 01:08] BillWagner commented on #13410
this was fixed in #14019.
Closing

[2019-10-18 01:08] #13410 closed

[2019-10-18 01:10] terrajobst commented on #2638
👍

[2019-10-18 01:12] BillWagner commented on #13610
Closing as a product suggestion.

[2019-10-18 01:12] #13610 closed

[2019-10-18 01:29] BillWagner commented on #13949
The latest updates to the #nullable pragma have updated this so the `#pragma warning` only accepts `disable` and `restore`.

Closing as the product and the docs now match.

[2019-10-18 01:29] #13949 closed

[2019-10-18 01:39] BillWagner commented on #14103
@eddynaka

The previous comment is correct. The code is correct, but the explanation does not help readers find that information.

[2019-10-18 01:56] BillWagner commented on #14909
Fixed in #15201

[2019-10-18 01:56] #14909 closed

[2019-10-18 03:12] HammondWen opened #15261 "How to compile multiple .txt or .resx files into a single binary .resources file?"
Hi,
I am wondering how to compile multiple .txt or .resx files into a single binary .resources file. Is there any Al.exe option to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d3ff457-56ee-b368-af21-d37bdea825b2
* Version Independent ID: 96d617db-6ad2-594e-643a-4006188de390
* Content: [Creating Satellite As

[2019-10-18 08:06] danielloczi commented on #12486
I have the same problem and it causes issues to me when building my solution with Azure DevOps.
I have a solution with  a lot of projects. Each project is a dedicated app for a docker container. Previously (2.2.105), when executed the command:
`dotnet publish project.sln -c Release -o out `

The output was related to the project, so in the per project Dockerfile it was easy to reference to the out

[2019-10-18 11:21] hochl opened #15279 "Off-by-One Code (c) Microsoft."
"The method definition below produces the exact same sequence of numbers:
C#

public IEnumerable&lt;int&gt; GetSingleDigitNumbers()
{
    int index = 0;
    while (index++ &lt; 10)
        yield return index;
}"

No it does not!!! It produces the numbers from 1 to 10 and not from 0 to 9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-10-18 12:40] #15189 closed

[2019-10-18 13:46] vorphol commented on #15190
I would like to pick this and submit a PR? Can I proceed?

[2019-10-18 13:49] Miggleness commented on #15100
I should've added a suggestion in my last message but had to run. Would the phrase below be clearer?

[2019-10-18 14:20] luisquintanilla commented on #15209
Hi @Xirui,

Thank you for your question. Since this is more of a product question, I would suggest asking it in the [dotnet/machinelearning](https://github.com/dotnet/machinelearning) repo

[2019-10-18 14:20] #15209 closed

[2019-10-18 14:23] #12272 closed

[2019-10-18 15:03] hochl opened #15281 "Where is the Juice."
Later parts of this article, after "Await tasks efficiently", are missing pouring the juice:

    Juice oj = PourOJ();
    Console.WriteLine("oj is ready");

Does this mean a good asynchronous breakfast is missing juice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d27a0d-c072-8c9f-7e31-3de60bee9ae8
* Version Indep

[2019-10-18 15:22] tdykstra commented on #13367
@blowdart

[2019-10-18 15:23] blowdart commented on #13367
I'm not sure I'd be comfortable with that assertion. It would depend on the actual input, so no.

[2019-10-18 15:26] tdykstra commented on #13567
@drdamour It's not clear to me what you're asking -- could you please elaborate?

[2019-10-18 15:42] tdykstra commented on #13991
@CoolBots Thanks for the suggestion, but we don’t have the resources to implement it, so we are closing the issue. If we get more 👍 responses to the issue, we’ll reconsider.

[2019-10-18 15:42] #13991 closed

[2019-10-18 15:44] tdykstra commented on #14034
@blowdart please review.

[2019-10-18 15:51] tdykstra commented on #14135
@dinobu Thanks for the comment -- in general I agree with you that examples should be as simple as possible. However, I don't know which examples in this doc you're referring to or what parts of them you see as irrelevant details. I'm closing this issue now but you're welcome to reopen and provide more details to let us know which parts of the example code in this doc need work.

[2019-10-18 15:51] #14135 closed

[2019-10-18 15:56] tdykstra commented on #14293
@BillWagner thoughts?

[2019-10-18 15:58] tdykstra commented on #14493
@AaronRobinsonMSFT, @jkoritzinsky please comment

[2019-10-18 16:00] tdykstra commented on #14511
@ViktorHofer, @maryamariyan please comment

[2019-10-18 16:01] mvelosop commented on #15226
Hi @Speedplay, thanks for your feedback!

Actually, _UnitOfWork_ and _Repository_ have different, although related, responsibilities and any of them can exist without the other. However, usually, a _Repository_ **uses** an _UnitOfWork_.

You can think of _UnitOfWork_ as the equivalent of a transaction in the sense that it buffers updates to the the database, to send them in a single batch when sav

[2019-10-18 16:02] tdykstra commented on #14589
@kouvel please comment

[2019-10-18 16:14] tdykstra commented on #13367
@EamonNerbonne  Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-18 16:14] #13367 closed

[2019-10-18 16:14] markbell2410 commented on #8804
I'd have to agree. It tends to leave you with more questions than answers. But then again, I must be a little thick as I did spend far too long looking for interactive mode! Maybe I just need to 'Focus'!

[2019-10-18 16:39] BillWagner commented on #14293
@tdykstra The current code is correct, but as @rablewis points out, it could mislead customers to believe that `subTotal` is treated like a reference variable. That change is good. Or, it could be changed to be even more concise:

[code]

Would you agree?

[2019-10-18 16:39] AaronRobinsonMSFT commented on #14493
@tdykstra Sounds reasonable. PR created and referenced here.

[2019-10-18 16:43] #14493 closed

[2019-10-18 16:45] tdykstra commented on #14493
Thanks @DaveInCaz  and @AaronRobinsonMSFT !

[2019-10-18 17:17] tdykstra commented on #14293
LGTM except `nums[i]` should be `nums[j]`.

[2019-10-18 17:20] tdykstra commented on #14293
The text doesn't seem to explain how this actually divides up the work among different threads -- how many threads get created?

[2019-10-18 17:27] BillWagner commented on #14293
@tdykstra We cover that in the introduction to PLINQ, starting with [this section](https://docs.microsoft.com/dotnet/standard/parallel-programming/introduction-to-plinq?view=netframework-4.8#execution-modes)

[2019-10-18 17:40] tdykstra commented on #14293
That explains it, thanks. Shall I PR this with your code or put it up-for-grabs?

[2019-10-18 17:42] BillWagner commented on #14293
I'd add up-for-grabs.  The fix is well defined:

- [ ] update the code per https://github.com/dotnet/docs/issues/14293#issuecomment-543828001, with your fix.
- [ ] Add a link to the [execution mode section](https://docs.microsoft.com/dotnet/standard/parallel-programming/introduction-to-plinq#execution-modes) of the introduction to PLINQ article.

[2019-10-18 18:15] blowdart commented on #14034
@bartonjs

[2019-10-18 18:58] #15279 closed

[2019-10-18 19:03] Thraka commented on #14142
@jpreese Ha! I thought you had repo perms to do issue management stuff, I'll do it 😅

[2019-10-18 19:22] Maoni0 commented on #15100
I'm fine with that.

[2019-10-18 19:43] BillWagner opened #15284 "Remove outdated and unused issue labels"
There are a number of labels that we've added to our repository that are no longer used, duplicates of other labels, or redundant.

while creating #15283 I created this list.

- ~~[C# / VB Diagnostics](https://github.com/dotnet/docs/labels/%3Acard_file_box%3A%20Technology%20-%20C%23%20%2F%20VB%20Specification): This has no issues, and likely won't.~~ Update: This is used for all compiler warnings

[2019-10-18 19:52] BillWagner commented on #15284
Note for all those on the Assigned list:

- If you use any of the labels in the list, add a comment with labels you want to keep.
- If you have no concerns with this list, up vote it using the reactions.
- After you've reviewed the list, un-assign youself so I know you've reviewed the list.

I plan on removing unused labels toward the end of next week.

[2019-10-18 20:10] code-alt opened #15286 "Greatt!"
great

real name: Mark Robinson; Where I live: NYC; SSN: 989 865 7382

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91388e65-01f7-d27c-38d0-4e2113cef43a
* Version Independent ID: ad74fdd5-880a-df4c-731c-235c8d42d7db
* Content: [Introduction to the C# Language and the .NET Framework](https://docs.microsoft.com/en-us/do

[2019-10-18 20:18] wadepickett commented on #15284
Looks good to me, thanks Bill.  In the future for identifying issues related to major sub-areas of the repo we could look at automating that on issue creation, or just rely on back end reporting if it is only useful internally.

[2019-10-18 22:22] Thraka commented on #15284
- >**new-content**: This has been replaced by **doc-idea**. One of them should be removed.

  I think (@wadepickett correct me) that the general guidance is to NEVER use **doc-idea** ever again. So we should keep **new-content**

- All the "repo" labels.

  Just FYI, the ML and ROSLYN labels are in the automation tool based on content path, the others are not but I remember them being there in the

[2019-10-18 22:48] intelisofts commented on #14148
Any lunch

[2019-10-18 23:54] wadepickett commented on #15284
@Thraka,  doc-idea.  Yes that is correct.  I took that offline with Bill before removing myself from the issue since it seemed like an internal item to iron out.

For the sub-areas, thanks for the info.  I mistakenly thought the sub-area labels being removed were part of the automation set, but were not working for some reason, so we  still needed a solution.  Sorry I jumped to that conclusion.  I

[2019-10-19 00:24] BillWagner commented on #15284
@Thraka On the automation: Before removing the labels, the rules for the labeler need to be examined to make sure none are automatically added abck.

[2019-10-19 00:53] jnm2 commented on #14480
@mairaw It confused me at first, but `global.json`'s rollforward feature is about SDK selection at the time that you build the csproj and the runtime rollforward feature detailed at https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#major-version-roll-forward is about runtime selection at app startup time.

[2019-10-19 17:21] pnotequalnp opened #15303 "See Also is Recursive"
The only link in the See Also section is a link to this same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1113cc60-88ac-ece0-d67b-6411001e285c
* Version Independent ID: 5dfb251f-fbf4-19dd-7ef1-e7681201de0c
* Content: [Language-Integrated Query (LINQ) (C#)](https://docs.microsoft.com/en-us/dotnet/csharp/programm

[2019-10-19 19:55] mberneti opened #15307 "VS2019 Bug"
Syntax Graphs is not working on vs2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afc9e424-8275-99f9-842f-93346eb9c986
* Version Independent ID: 12060f59-583e-e920-0564-2b16fe45c3e5
* Content: [Explore code with the Roslyn syntax visualizer in Visual Studio](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sd

[2019-10-19 21:13] rskar-git commented on #13733
Hi @rpetrusha,

I have a working migration of this in VB and would be happy to contribute it. Before attempting to get this on git-hub, I need some clarifications.

(1) Is this directory hierarchy (with files as shown) OK?:

    samples/mef/simple-calculator/vb/
        readme.md
        SimpleCalculator2.sln

        ExtendedOperations/
            ExtendedOperations.vbproj
            Modulo.vb

[2019-10-19 21:15] KathleenDollard commented on #15238
I like the content!!!

Under versions seems fine.

[2019-10-19 21:45] KathleenDollard commented on #7668
Weird. I also see the PID redirected.

I have a guess that Calculator is unique and part of updating the calculator app. As such, I think we should change the sample to send "Hello" to Notepad and see if anyone encounters this problem with an app with a last storied history.

[2019-10-19 21:46] KathleenDollard commented on #9690
yes, it should be a keyword.

[2019-10-20 00:45] santhoshrajr commented on #15281
Can i take this issue?

[2019-10-20 01:06] KathleenDollard commented on #15133
If the environmental variable is set, you are opted out (or we have what we would consider a very, very bad bug). I don't know how we could confirm this as we'd just check the environment variable that the user could check and probably be more confident in.

If there is a suggestion for a feature, please make it at github.com/dotnet/cli

[2019-10-20 07:25] roarglobalca commented on #14854
.Append(mlContext.Regression.Trainers.FastTree());
FastTree not available in 1.3.1 please advise what I should use.  Thank you

[2019-10-20 11:55] Youssef1313 commented on #14825
@mairaw, Is there currently any on-going work on this ?

[2019-10-20 13:53] BillWagner commented on #15281
@santhoshrajr Yes, you can take it. Thank you.  I'll watch for a pull request.

[2019-10-20 14:37] mgoldshteyn opened #15319 "Some grammatical corrections"
It may terminate the thread, it may terminate the program, or it may leave the program in an undetermined state. None of those are good outcomes.

Should read:

It may terminate the thread, the process that owns the thread, or leave the process in an indeterminate state. All of these potential outcomes are highly undesirable.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-20 15:50] santhoshrajr commented on #15281
@BillWagner I was unable to find the path of code sample to update it. Can you help me on it. I was trying to navigate to the path in mark down but it throws a 404.
![image](https://user-images.githubusercontent.com/14833988/67162190-c1af1480-f32f-11e9-97c9-6a8c4aef9666.png)
![image](https://user-images.githubusercontent.com/14833988/67162197-d7243e80-f32f-11e9-83c4-dde30da7e561.png)

[2019-10-20 17:03] BillWagner commented on #15281
@santhoshrajr All the sample code is in our samples repository. The versions of this sample are all [in this folder](https://github.com/dotnet/samples/tree/master/snippets/csharp/tour-of-async)

[2019-10-20 17:34] santhoshrajr commented on #15281
@BillWagner Thanks. Sent out a PR for the fix

[2019-10-21 00:40] spassarop opened #15325 "Attribute "TripTime" on taxi fare tutorial is supposed to be excluded but it isn't"
The attribute description of the taxi fare tutorial doc says:

**trip_time_in_secs:** (...) At that moment you don't know how long the trip would take. Thus, the trip time is not a feature and you'll exclude this column from the model.

However, when concatenating the columns into the new "Features" column, the example code includes "TripTime":
`.Append(mlContext.Transforms.Concatenate("Features",

[2019-10-21 02:10] ajaypathak commented on #15179
yes that is correct. thanks for fixing the doc bug.

[2019-10-21 04:39] arfen commented on #7668
I have this problem, too. What's wrong with the PID of Calculator.EXE?

[2019-10-21 05:15] BrianMinister commented on #14544
You can close this. The project got defunded, since it was a roadblock to another project. We have resumed manual releases until we are past the go live date.

[2019-10-21 05:55] vorphol commented on #15190
@BillWagner, can I submit PR? I am done with code snippet changes?

[2019-10-21 07:57] diryboy commented on #13914
From https://stackoverflow.com/a/57343485/71312

`public DbSet<Probe> Probes { get; set; } = null!;`

[2019-10-21 11:22] BillWagner commented on #14544
Thanks @BrianMinister I'll close it.

[2019-10-21 11:22] #14544 closed

[2019-10-21 11:24] BillWagner commented on #15190
@vorphol Yes, submit the PR. I'll watch for it and merge it. I watch the dotnet/samples repo as well, for any code snippet changes.

[2019-10-21 11:42] Virtruvian1 opened #15327 "Well put together walkthrough of C#"
It walks you into the basics of C# that will later be used as the fundamentals for developing code. Compared to most coding tutorials this is one of the best ones that I have come across. If there is questions on the topics covered there are links leading the viewer to more information about it and they may go as deep as they want.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-10-21 12:09] Virtruvian1 opened #15328 "Awesome Tutorial!"
This is a good explanation of working with numbers in coding. Most documentation of coding leaves it with no explanation. This tutorial isn't meant to go more in depth as it's written for 'beginners.'  I believe there are a number of books listed on Amazon if you wish for much deeper explanations of how the coding work.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-21 14:18] eddynaka commented on #1787
@BillWagner is this still an issue? looking at the old links, its all done.

[2019-10-21 14:20] BillWagner commented on #1787
@eddynaka  It looks like there are still three instances to address:  https://github.com/dotnet/dotnet-api-docs/search?utf8=%E2%9C%93&q=nib&type=

Do you want to submit a PR for this?

[2019-10-21 14:20] pkulikov commented on #1787
There are three left:
https://github.com/dotnet/dotnet-api-docs/search?utf8=%E2%9C%93&q=nib&type=

[2019-10-21 14:35] eddynaka commented on #1787
@BillWagner just created! Thanks

[2019-10-21 14:40] vorphol commented on #15190
@BillWagner  submitted [PR](github.com/dotnet/samples/pull/1660)

[2019-10-21 14:43] BillWagner commented on #1787
Thanks @eddynaka

I just reviewed the changes, and made one repeated suggestion to remove the locale `en-us` from the links. That way, readers will be directed to the correct language and culture based on their machine's settings.  Once you accept those suggestions, I'll merge the PR.

Thanks for helping us improve the docs!

[2019-10-21 14:51] #15190 closed

[2019-10-21 15:12] luisquintanilla commented on #14854
Hi @roarglobalca,

`FastTree` is a separate NuGet package. Please see the instructions in the tutorial under the *Create a console application* section.

[2019-10-21 15:19] bender2k14 opened #15329 "Increased variety of type test pattern examples"
I was confused about the pattern matching case called type test pattern.  I mistakenly thought that `as identifier` was required because all the examples included that optional syntax.  Several people quickly responded [a related GitHub issue I created](https://github.com/dotnet/fsharp/issues/7740) to kindly point out my error.

Can the examples for type test pattern be expanded to include an exam

[2019-10-21 15:33] #6487 closed

[2019-10-21 15:38] mcfowler opened #15330 "Examples please"
Need an example of how using the Nullable element in the csproj file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a690704d-da32-dca7-ea3e-66b84fb1d00d
* Version Independent ID: 11f314de-dd3a-362e-b2bb-d0a2133cfc7b
* Content: [Nullable reference types](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-reference

[2019-10-21 15:57] #15303 closed

[2019-10-21 16:07] eddynaka commented on #3391
@mairaw i have one question: should we move all urls? or just Microsoft domain? For example:
https://github.com/dotnet/docs/blob/017fcebf974cb369ba8532f920dc3fc4ed0deed6/docs/framework/wcf/feature-details/web-services-protocols-interoperability-guide.md

We have the link: https://go.microsoft.com/fwlink/?LinkId=90372
Which redirects to this: http://www.rfc-editor.org/rfc/rfc2616.txt

Should we upd

[2019-10-21 17:04] dsplaisted opened #15331 "Review `dotnet build` documentation"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build

[2019-10-21 17:08] abelbraaksma commented on #14629
I seem to remember that these level 5 warnings are still in development. If so, the documentation is premature and should probably say so.

[2019-10-21 17:26] #15281 closed

[2019-10-21 17:30] Thraka commented on #15328
Thanks!

[2019-10-21 17:30] #15328 closed

[2019-10-21 17:37] Thraka commented on #15327
Thanks again for the nice comments 😄 Glad these helped you!

[2019-10-21 17:37] #15327 closed

[2019-10-21 17:42] #15307 closed

[2019-10-21 17:45] #12224 closed

[2019-10-21 17:50] #14598 closed

[2019-10-21 17:51] #9288 closed

[2019-10-21 17:56] #1787 closed

[2019-10-21 18:18] ChrisMaddock commented on #15284
I personally like `multiple-topics` as I use it to find issues that can be scripted. 🙂 It's another one that could be applied more consistently though...maybe it should be replaced with something better identifying 'bulk change' issues?

[2019-10-21 18:29] eddynaka commented on #13169
@mairaw @BillWagner i think we can close this.

[2019-10-21 18:31] BillWagner commented on #13169
Thanks @eddynaka Yes, we can close this.

[2019-10-21 18:31] #13169 closed

[2019-10-21 18:54] #15018 closed

[2019-10-21 19:33] Youssef1313 commented on #14857
@mairaw, You may close this one.

[2019-10-21 19:38] BillWagner commented on #15319
Thanks for pointing this out @mgoldshteyn
I've added this to our backlog for when we next update this article, and I've added the "up for grabs" label, if you'd like to submit a PR with those changes.

[2019-10-21 19:40] BillWagner commented on #15330
Thanks for pointing this out @mcfowler

That is covered in other article, but it should be here as well.  The element to add is:

[code]

I've added the "up for grabs" if you want to submit a PR for this fix.

[2019-10-21 19:55] serpent5 commented on #14959
FYI, the explanation for this announcement discusses `AddIdentityUI`, but the affected API is `AddDefaultUI`.

[2019-10-21 21:16] kouvel commented on #14589
Seems like it should be disposed, CC @tarekgh

[2019-10-21 21:17] reisenberger opened #15333 "Same description for two nullable contexts"
Two modes in https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references#nullable-contexts have the same functional description in the sub-bullets:

+ annotations: The nullable annotation context is **enabled**. The nullable warning context is **disabled**.
  - Variables of a reference type are oblivious. All nullability warnings are disabled.
+ disable: The nullable annotation context is *

[2019-10-21 21:17] BillWagner commented on #6707
Usually the data is private, for better protection.

[2019-10-21 21:17] BillWagner commented on #6707
These questions have been answered. Closing this.

[2019-10-21 21:17] #6707 closed

[2019-10-21 21:20] BillWagner commented on #8060
I added the "up for grabs" label.

The suggested fix in the issue description is the correct fix.

[2019-10-21 21:26] BillWagner commented on #8227
closing until we have product clarity

[2019-10-21 21:26] #8227 closed

[2019-10-21 21:27] BillWagner commented on #8811
closing after lack of response.

[2019-10-21 21:27] #8811 closed

[2019-10-21 21:31] tdykstra commented on #14964
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-21 21:31] #14964 closed

[2019-10-21 21:34] tdykstra commented on #14924
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-21 21:34] #14924 closed

[2019-10-21 21:39] tdykstra commented on #6475
Thanks for contacting us. We believe that the question you've raised has been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-21 21:39] #6475 closed

[2019-10-21 21:45] BillWagner commented on #13202
@SMesser When you tried the code above in VB.NET, you should have gotten an error message that "Wend is no longer supported. Use End While instead".

The docs are correct. Closing this.

[2019-10-21 21:45] #13202 closed

[2019-10-21 22:01] BillWagner commented on #15284
I like the "bulk-changes" label.
Good suggestion @ChrisMaddock

[2019-10-21 22:14] mssteele commented on #14841
Hi, I've just submitted a PR for this. @Pyrobolser was correct, `X` and `Y` are auto-implemented properties and the readonly modifier is not required for these. See:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/readonly-instance-members

[2019-10-21 22:15] mairaw opened #15336 "Broken link to Apache Maven 3.6.0"
It seems that other versions are available though:
http://mirror.metrocast.net/apache/maven/maven-3/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1dc518-dfe4-b71a-ee04-e8520bbd2f67
* Version Independent ID: e04b082c-e52b-3ffb-c69d-10da5dc54528
* Content: [Get started with .NET for Apache Spark](https://docs.microso

[2019-10-21 23:01] msauper commented on #14841
The problem is that both X and Y have public setters which would imply that they are not read only.

[2019-10-21 23:09] #13409 closed

[2019-10-21 23:14] #15336 closed

[2019-10-21 23:28] mssteele commented on #14841
Ah yes but readonly only applies to the getter part. Because it is an auto-property the compiler can be sure the getter isn't mutating anything.

From the same link as above:

[2019-10-22 00:16] tarekgh commented on #14589
yes internalTokenSource should get disposed. Even I don't think the initialization of it is needed as we initialize it anyway in the constructor.

[code]

CC @stephentoub

[2019-10-22 07:29] ahmediddma commented on #14034
??

[2019-10-22 07:31] #15100 closed

[2019-10-22 07:44] mairaw commented on #14631
@shirhatti how is the process for getting these updates done? @markrendle can you take care of that?

[2019-10-22 07:44] aruntyagiTutu opened #15344 "unable to read file from Azure storage when running in local"
exception
java.io.IOException: No FileSystem for scheme: wasbs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed1a382-383b-fef6-18d0-80e3e5961224
* Version Independent ID: cd88f771-4c2b-6c9f-7b54-14c7f51f187a
* Content: [What is .NET for Apache Spark?](https://docs.microsoft.com/en-us/dotnet/spark/what-is-apache-spark

[2019-10-22 07:46] mairaw commented on #14631
It seems #15271 is taking care of this issue already.

[2019-10-22 07:47] #15175 closed

[2019-10-22 07:54] #14631 closed

[2019-10-22 07:55] MatthewT123 commented on #15190
Thanks for doing this so quickly.  Oddly when I look at the original page (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/using-properties) it still shows the original content.  Is there a lag in updating the public site from changes made here?

[2019-10-22 08:34] dieselbanger opened #15348 "DirectoryNotFoundException"
I tried to follow this tutorial line by line, but I get the following exception when running the application:

DirectoryNotFoundException: Could not find a part of the path '...\bin\Debug\netcoreapp2.1\assets\images\tags.tsv'.
-&gt; on line: var model = pipeline.Fit(trainingData);

Correctly enough, there is no 'images' folder in the assets downloaded from the link in the beginning of the tutorial

[2019-10-22 13:27] stephentoub commented on #14589
Technically, yes.  In practice, it won't currently matter as the Dispose in this case will end up being a nop.  Even so, it's good to do so.

Yes, the `internalTokenSource = new CancellationTokenSource();` line should be deleted; as the sample currently stands, the constructor will end up allocating this twice and just immediately overwriting one instance with the other.

[2019-10-22 13:32] user2150 commented on #12037
No, I'm not using this API, I just wanted to understand what are threads and how they work. Now I'm working with the nice Task API and async/await.

Thank you for the clarification.

[2019-10-22 13:39] Pyrobolser commented on #14841
@mssteele thank you for the documentation link and the confirmation 👍

[2019-10-22 14:23] #15319 closed

[2019-10-22 14:25] #14841 closed

[2019-10-22 14:31] BillWagner commented on #15333
@reisenberger Thanks for spotting this.  Your analysis is correct; the fix is the updated text in the description of this issue.

I've added the "up for grabs" label, if you want to submit a PR for this issue.

[2019-10-22 14:33] bartonjs commented on #14034
@ahmediddma I copied and pasted the code from above exactly, and ran it with this driver:

[code]

and it worked fine. (Built against .NET Framework 4.7.2, executed on .NET Framework 4.7.2 on Windows Server 2012 R2).

If your application (whichever assembly has the `Main` method) is built against .NET Framework 4.7.1 or later the default digest algorithm for references in SignedXml is SHA256, and